[2019-12-01 06:52] #6967 closed, assigned to vkaegis

[2019-12-01 06:54] a85 commented on #3186
Closing as duplicate of #4009 as that has more upvotes.

[2019-12-01 06:54] #3186 closed, assigned to a85, vkaegis

[2019-12-01 06:55] #6633 closed, assigned to nobody

[2019-12-01 06:56] #6665 closed, assigned to nobody

[2019-12-01 06:56] #6547 closed, assigned to nobody

[2019-12-01 06:57] #7624 closed, assigned to nobody

[2019-12-01 06:57] #7249 closed, assigned to nobody

[2019-12-01 07:01] a85 commented on #4797
We recommend using the 2-pane layout for now. A longer term solution for this issue is going to be the ability to reorder the tab configuration in the request. @vkaegis

[2019-12-01 07:01] #4797 closed, assigned to vkaegis

[2019-12-01 07:02] a85 commented on #5102
Postman supports file uploads so not sure why this is not possible.

[2019-12-01 07:02] #5102 closed, assigned to numaanashraf

[2019-12-01 07:03] a85 commented on #4980
This is available in the latest versions of Postman.

[2019-12-01 07:03] #4980 closed, assigned to vkaegis

[2019-12-01 07:05] a85 commented on #4376
These are available through request level settings now.

[2019-12-01 07:05] #4376 closed, assigned to vkaegis

[2019-12-01 07:07] a85 commented on #4006
We are continuously exploring multiple ways to package and make it easier to install Postman. We will have more updates on our blog.

[2019-12-01 07:07] #4006 closed, assigned to a85, vkaegis

[2019-12-01 07:08] a85 commented on #3467
This is available in the latest versions of Postman.

[2019-12-01 07:09] #3467 closed, assigned to vkaegis, sankalp0o

[2019-12-01 07:10] a85 commented on #5534
Closing as there hasn't been any demand for this feature.

[2019-12-01 07:10] #5534 closed, assigned to nobody

[2019-12-01 07:10] a85 commented on #2647
This is available now.

[2019-12-01 07:10] #2647 closed, assigned to vkaegis

[2019-12-01 07:11] a85 commented on #2470
Collections now support variables which you can use to embed data into Collections.

[2019-12-01 07:11] #2470 closed, assigned to a85, vkaegis

[2019-12-01 07:12] #5542 closed, assigned to nobody

[2019-12-01 07:13] a85 commented on #5582
There are no plans to maintain links to imported collections. The Run in Postman button or other ways in which people collaborate and share on public collections will be part of improvements to Public Workspaces in coming months.

[2019-12-01 07:13] #5582 closed, assigned to nobody

[2019-12-01 07:15] a85 commented on #7174
We don't have any plans for providing local support for running mocks. They will continue to be a hosted cloud service. There are multiple solutions out there for running local mocks and I'd recommend using those.

[2019-12-01 07:15] #7174 closed, assigned to vvs11

[2019-12-01 07:17] a85 commented on #3819
We don't see a technically feasible way in our current architecture of handling this as of now. Postman does work as much as it can in an offline mode and when the internet connection is back - it reconnects. We already have a ton of complexity in dealing with this synchronization that checking for additional states is not possible. If Postman is going to be used definitely in a non-publicly acces

[2019-12-01 07:17] #3819 closed, assigned to preethammavin

[2019-12-01 07:18] a85 commented on #5975
This does not seem to be officially supported and we don't have any more plans around it.

[2019-12-01 07:18] #5975 closed, assigned to nobody

[2019-12-01 07:26] a85 commented on #6200
We recommend logging things to the console or using a shared workspace for sharing these values.

[2019-12-01 07:26] #6200 closed, assigned to nobody

[2019-12-01 07:29] a85 commented on #6315
Closing as duplicate of #6303

[2019-12-01 07:29] #6315 closed, assigned to nobody

[2019-12-01 07:31] #6466 closed, assigned to nobody

[2019-12-01 07:35] a85 commented on #7678
There are no immediate plans to embed Postman docs as they might create security issues down the road. Docs will continue to be a hosted cloud service. Users can host them on their custom domains for now.

[2019-12-01 07:35] #7678 closed, assigned to vkaegis, Raja-Simha

[2019-12-01 07:38] a85 commented on #7426
There are no plans to change this as the behavior of panes within an application is up to the app. Browsers and code editors on the Mac platform largely stick to close button on the right.

[2019-12-01 07:38] #7426 closed, assigned to nobody

[2019-12-01 07:40] a85 commented on #7247
This is not going to be a first-class Postman feature but it is achievable through the Postman API and the Postman Collection SDK. One of our Solution Engineers demonstrated this internally and we'll post a how-to on our blog soon.

[2019-12-01 07:40] a85 commented on #7247
@preethammavin Can you please tag Matt here?

[2019-12-01 07:41] #7205 closed, assigned to vkaegis

[2019-12-01 07:42] #7131 closed, assigned to vikiCoder

[2019-12-01 07:43] a85 commented on #7031
You can use the Interceptor extension now to transfer requests.

[2019-12-01 07:44] a85 commented on #7031
https://learning.getpostman.com/docs/postman/sending-api-requests/interceptor-extension/

[2019-12-01 07:44] #7031 closed, assigned to nobody

[2019-12-01 07:44] #6953 closed, assigned to vkaegis

[2019-12-01 07:46] a85 commented on #6792
As there is limited space in the app header, we don't have immediate plans to change this but we will consider improvements on making things more legible periodically.

[2019-12-01 07:46] #6792 closed, assigned to vkaegis

[2019-12-01 07:58] a85 commented on #2489
Closing this issue as we haven't seen widespread reports around it. Specific installation issues might be due to the environment or permissions. Please open a new issue with replication steps if you see a problem.

[2019-12-01 07:58] #2489 closed, assigned to nobody

[2019-12-01 08:00] a85 commented on #2985
Closing this issue as we haven't been able to replicate this. Please open a new issue with replication steps if needed.

[2019-12-01 08:06] a85 commented on #5459
Wondering if this can be solved by using Collection variables. Has anybody tried this?

[2019-12-01 08:06] a85 commented on #5441
You can use custom Javascript in the test script section. We don't have first class support for SOAP.

[2019-12-01 08:18] a85 commented on #7011
We have multiple ways in environment values can be changed. Scripts and the Postman API already allow you to do this. For specific use cases like Auth, we have separate efforts that are going on to solve.

[2019-12-01 08:19] a85 commented on #6772
Closing as duplicate of #4375

[2019-12-01 08:19] #6772 closed, assigned to saswatds

[2019-12-01 08:21] a85 commented on #6502
The Interceptor is available on the native apps now. Closing this issue now as the Chrome apps are deprecated.

[2019-12-01 08:21] #6502 closed, assigned to nobody

[2019-12-01 09:04] matchilling commented on #974
👍

[2019-12-01 09:46] Kwadz commented on #7426
@a85, I think it's a mistake to close this issue. That should at least be kept in low priority like Sublime does.

Anyway, how come for you it's acceptable to do things the wrong way and break UX consistency?
Do you have a valid reason for that (sorry but what you mentioned is not valid, please read again my previous message)?
Don't you want to help making the world better instead of following one

[2019-12-01 10:55] pythoneer commented on #2985
I investigated this problem a little bit deeper and it looks like that in my case the problem stems from a bug in the noto font i have installed on my system https://github.com/googlefonts/noto-fonts/issues/1128

[2019-12-01 15:33] dinbtechit commented on #6682
**For example** here is how you test ServerSent events using curl.

**Sender :** (In most cases this would be a server)
[code]

**Receiver** (In most cases this would be a client)
[code]

[2019-12-01 17:34] a85 commented on #1678
Update: We have introduced the ability to visualize API responses in Postman. Documentation here: https://learning.getpostman.com/docs/postman/sending-api-requests/visualizer/. Using this, you can add a "template" for your response and render anything as HTML/CSS/JS. This could include listing quantities, indexing the response in any way, or any other representation of the response. Some examples

[2019-12-01 17:34] #1678 closed, assigned to a85, vkaegis

[2019-12-01 17:42] #6349 closed, assigned to codenirvana

[2019-12-01 17:45] a85 commented on #6349
Closing this as this is not going to be mostly impossible to map. To generate code, you will need to use the UI and bake in all request elements in the UI.

[2019-12-01 18:49] yaimag commented on #7700
Same thing is happening to me.....

[2019-12-01 18:50] yaimag commented on #7569
I am experiencing the same problem ....

[2019-12-01 19:27] dlandis commented on #4009
https://postwoman.io/realtime

[2019-12-01 20:11] bo44arov commented on #7492
Figured out the issue - Postman sends Connection: Keep-alive by default.
By manually setting header Connection: Close solved the initial issue

[2019-12-01 20:11] #7492 closed, assigned to codenirvana

[2019-12-02 02:40] maidi-yang commented on #7017
![image](https://user-images.githubusercontent.com/22462895/69926592-ffd35280-14ef-11ea-830a-fa4e0b18aedc.png)
How can I solve this problem?

[2019-12-02 03:09] marcelopm commented on #7011
Can you please point out any examples of those scripts?

[2019-12-02 04:11] yrong commented on #2985
@a85  have you ever read previous discussion? how dare you say unable to replicate?  The root cause is that default font configuration is not proper in most linux releases.
[code]

[2019-12-02 04:29] vikiCoder commented on #6377
I was able to reproduce this issue in both, macOS and Windows. But it doesn't seem to be a problem specific to Postman App. I see the same behaviour (randomly failing request when sent multiple times) while sending the request using cURL, but Wireshark shows the response. See the below GIF in which I am sending the request 3 times using cURL, of which the first request fails. But the Wireshark sho

[2019-12-02 04:29] #6377 closed, assigned to codenirvana

[2019-12-02 04:40] thesaxonedone commented on #6377
@vikiCoder    My comments indicate seeing the failure in both cases (running locally, and running app on a VM on LAN).   However, I would assert that the race condition is MORE likely when running locally because there is less time for the OS to clear the receive buffer before seeing the TCP RST.   I dont know if this changes anything with respect to your troubleshooting, but thought I would point

[2019-12-02 04:50] numaanashraf commented on #7720
Thanks @bleadm. We are tracking this at #7700.

[2019-12-02 04:50] numaanashraf commented on #7720
Duplicate of #7700

[2019-12-02 04:50] #7720 closed, assigned to nobody

[2019-12-02 05:20] venkatcc commented on #2985
I can reproduce this every time. I'm on Windows 10, and earlier suggestions to mess around with default font configuration on Linux to get this working right are not applicable on Windows (since I couldn't find the equivalent configuration files or the equivalent configuration settings).

Today, I removed my 7.10.0 installation and installed 7.12.0 and I still see the issue. I've attached a video

[2019-12-02 05:41] kamalaknn commented on #7017
@maidi-yang Could you let us know the version of Postman you are using? Could you also attach a screenshot of the raw response you see under the `raw` tab?

[2019-12-02 06:27] kamalaknn commented on #7709
@Yuri-Harel Thanks for reporting the issue. If I understand this correctly your response for the endpoint is `json{"a":{"b":[]}}` and that is not formatted correctly in the response pretty view.

Could you let us know the version of Postman you are using?

This is a screenshot from the latest version of Postman with the same response from your original description.

![Screenshot 2019-12-02 at 11 5

[2019-12-02 07:20] kamalaknn commented on #7699
@santosh-hegde  This looks like a duplicate of #4687 or #7294.

I'm closing this as a duplicate. Could you update the relevant thread with your inputs?

[2019-12-02 07:20] #7699 closed, assigned to nobody

[2019-12-02 08:21] soubhir-uxd commented on #7681
Hi @cyrielle-hada !
We have improved the messaging and the experience around this section. Please have a look and share your valuable feedback.

[2019-12-02 09:00] #7681 closed, assigned to nobody

[2019-12-02 09:54] knottronix opened #7722 "console.log not working, slow UI and high CPU use"
The bug is that using console.log in my test scripts or pre requests scripts no longer work. Also postman seems to take quite high CPU, and is very slow - takes 2 or 3 seconds to switch between / open requests

(I've tried restarting, reinstalling and done a lot of googling to no avail)

**To Reproduce**
Steps to reproduce the behavior:
1. Start postman and Create new request.
2. Add js code conso

[2019-12-02 09:55] RobinTTY opened #7723 "Dim app on HDR display"
**Describe the bug**
The Postman app is very dim on an HDR enabled display.

**To Reproduce**
Steps to reproduce the behavior (only applies to HDR displays):
1. Press Windows button
2. Search for HDR
3. Open windows HD color settings
4. Set slider "Play HDR games and apps" to enabled
5. Start postman app

**Expected behavior**
App starts with correct color profile.

**Workaround**
If the parameter

[2019-12-02 10:23] ritwijsinha commented on #7722
Hello @knottronix,

`console.log()` inside your Pre-request / Test scripts can be seen in Postman Console.

To open Postman Console, either click on the Console icon in the Footer:

![image](https://user-images.githubusercontent.com/19693841/69951578-818ca580-151b-11ea-8293-fd3f27d62f07.png)

or open it from the Menu:

![image](https://user-images.githubusercontent.com/19693841/69951613-923d1b80-1

[2019-12-02 10:25] Sofianio commented on #1678
If someone made a "visualization" of the requested feature please share it here.
Thanks

[2019-12-02 10:48] kdfemi opened #7724 "Indicator to highlight tested request"
**Is your feature request related to a problem? Please describe.**
As frontend developer i want to be able to mark API Endpoint i have implemented on my App, this will easy my workflow in situation where API are not properly arranged or categorized

**Describe the solution you'd like**
A check box to mark API Endpoint as implemented

[2019-12-02 10:53] squidp opened #7725 "Support Visualize as a default response view"
Choosing Visualize as a view format for a response does not stay when closing and opening Postman.

Would be nice to have an option to save view preference per request. Else need to choose Visualize again and again after Send.

[2019-12-02 10:57] Cazaimi commented on #6170
Solved.

@Raja-Simha  can be marked as closed.

[2019-12-02 11:03] NastassiaZ commented on #3358
actually it would be great feature which will make our work more productive. +1 to it

[2019-12-02 11:31] Yuri-Harel commented on #7709
I'm using version 6.5.3 .

I apologize, It seems I was unclear. When creating a request with a JSON body that looks like this :
{"a":{"b":[]}}

And exactly like this, without formatting, the pretty print of the body shows }} in color, probably because it incorrectly assumes there is a variable somewhere. It of course would have been much clearer with a screenshot, but I can't upload these either.

[2019-12-02 11:39] kamalaknn commented on #7709
Thanks for clarifying that @Yuri-Harel

We will look into this. In the meantime, you can beautify the JSON by clicking the `beautify` button on the latest version, which will format the JSON body and you will not see the red highlighting.

[2019-12-02 11:59] goluzdravi-penzioner commented on #1066
+1

[2019-12-02 12:40] knottronix commented on #7722
thanks @ritwijsinha  - but the console.log is not working. I know where it is, as I use it all the time, until it stopped working

[2019-12-02 12:54] ritwijsinha commented on #7722
@knottronix

Is it possible that you have the 'Log' filtered out? It seems to be working for me on Postman v7.12.0

Here is how you can check the filters:

![image](https://user-images.githubusercontent.com/19693841/69961065-fd451d00-1530-11ea-81da-6eac4b736dbd.png)

[2019-12-02 14:13] WellspringCS commented on #3825
[Authorization Code flow is now the recommended flow for SPAs.](https://tools.ietf.org/html/draft-ietf-oauth-security-topics-11)

Note this quote from that link: "Clients utilizing the authorization grant type MUST use PKCE..."

Having switched to this recommended flow from Implicit, I now find that Postman cannot acquire a token anymore. :-(

Put my name in the hat of those waiting for this featu

[2019-12-02 14:17] JosueNicholson commented on #7569
nice! it works in my case (ubuntu 18.04)

[2019-12-02 14:39] a-harvie opened #7726 "Escape char is appended to parameter when clicking on a URL to open in new tab"
**Describe the bug**
When a clickable URL is returned in a request, surrounded by escaped quotes, clicking on the URL carries the escape character in the final parameter of the new request.

The behaviour is seen whether the original response is viewed in "pretty" or "raw".

**To Reproduce**
Steps to reproduce the behavior:
1. Send a GET request in the desktop UI that returns a URL in escaped quot

[2019-12-02 14:41] LGRS commented on #2761
+1

[2019-12-02 15:25] leobrines commented on #3418
This is my solution:

1. Set environment variable "url"
2. Go to Collection -> Edit -> Pre-request Scripts
3. Add this
`pm.request.url = pm.environment.get('url') + pm.request.url`
4. And start using /users in postman request instead of {{url}}/users

<img width="888" alt="Postman-base-url" src="https://user-images.githubusercontent.com/13511768/69971471-b807f780-14fe-11ea-8c11-c4e60cf42af8.png">

[2019-12-02 15:34] hmoule commented on #6712
Autocompletion seems to work for me after updating to the latest version of postman (7.12.0).

[2019-12-02 15:37] marchy commented on #1678
@a85 Thank you for both the update and the direction forward Abhinav.

One thing though, if that is a separate activity - why is this feature request marked as closed (as is with https://github.com/postmanlabs/postman-app-support/issues/2115)?

These are both critical features and have been missing + demanded for years (much less effort than what you guys have put into the vizualizer API.

Please

[2019-12-02 16:04] cmagadieu commented on #1070
This glitch makes Postman unusable for us. The glitch identified 140 places where it thought I had changed our collection, when I had changed only one section in the most recent version. As a result, our Test Automation engineers, release engineers, developers, and tech writers, can't accurately do an accurate diff to see what the person before them modified in the file.

[2019-12-02 16:24] midrissi opened #7727 "Current workspace in test scripts"
**Is your feature request related to a problem? Please describe.**
I have developed a [framework](https://github.com/izmjs/izmjs) that auto-generate the postman documentation from the source code. The developer can also synchronize the generated documentation with an existing postman collection.

If the developer has a large number of collections in different workspaces, it will be difficult for h

[2019-12-02 18:13] VictorSega opened #7728 "Include a way to change the name "Introduction" at the top of navbar."
I'm Brazilian, and i needed change the name "Introduction" to "Introdução", because is more easy to the brazilians undestand; after much search i don't found a way to change this.
If the Postman can add one feature for this, will help a lot.

A pic of my problem:
![alt text](https://i.stack.imgur.com/wtfk7.jpg)

[2019-12-02 19:56] benwillkommen commented on #350
"Copy as curl" workaround worked for me! Thanks @ttodua!

[2019-12-02 20:19] kotsh commented on #350
Is there a reason for this not being implemented while being heavily requested for several years?

[2019-12-02 21:08] asi-postman commented on #7078
We have a customer that is still experiencing this issue. They have tried doing clean reinstalls with multiple versions, as well as the GPU solution. Attached are the logs from the most recent black screen event.
[logs 1.zip](https://github.com/postmanlabs/postman-app-support/files/3913295/logs.1.zip)

[2019-12-03 05:42] pz2147 commented on #6969
Postman Version : 7.12.0
OS: macOS Catalina
Version 10.15.1

I'm having this issue as well.

[2019-12-03 05:45] pz2147 opened #7729 "Postman 7.12.0 black screen on MacOS 10.15.1"
Describe the bug
After updating to 7.2.2 version, Post man screen turns black in few minutes once the app is started

To Reproduce
Steps to reproduce the behavior:

Open the post man app
Keep for a minute
Full screen of the app turns black and nothing can be done
Expected behavior
Post man screen should show the menu items and work as normal

App information (please complete the following informat

[2019-12-03 05:54] sunfeng90 commented on #495
I lost my data today!

[2019-12-03 06:15] ankit-m commented on #7702
@marijnhurkens can you verify that the new user has edit access on the collection? Workspace admins don't necessarily have edit permissions on all collections inside it.

Do you see a padlock icon next to the collection name in the sidebar? If yes, then the new user does not have access to the collection. Click on the `ᐧᐧᐧ` icon to show the collection menu and click on `Manage Roles`. Here you can

[2019-12-03 06:17] ankit-m commented on #7702
As for the request method issue, can you please provide a little more information? Is it happening for all requests or just this one? Can you also provide a screen recording with the `Console` open to see the details of the actual request sent.

[2019-12-03 07:12] billhung commented on #5803
I have this problem too, looking for a solution. This issue should be re-opened.

[2019-12-03 07:25] Bhudeb commented on #4341
Any update on this feature...

[2019-12-03 08:24] chen-yi-tester commented on #4094
My test scripts have " pm.globals.set("newuser_id", data.data.id)" ,when the response code is 500, it wont run the rest of requests and show TypeError: Cannot read property 'id' of null. How can i solve it,thank you

[2019-12-03 08:32] kamalaknn commented on #7729
Hey @pz2147

This looks like a duplicate of #7078

Could you update the original thread with information like, number of requests, size of your requests and responses etc?

[2019-12-03 08:32] #7729 closed, assigned to nobody

[2019-12-03 08:45] chen-yi-tester commented on #3845
Well done! I got my proplem solved using your advise.Why the other guys didnot follow you

[2019-12-03 09:05] syco26 commented on #4576
Hi all
a better windows installer was requested with #3019 in May 2017, I know it's not a fancy feature but it will be useful to many.
BR, Syco

[2019-12-03 09:06] syco26 commented on #3019
Imhu, this perfectly reasonable request should not have been closed.

[2019-12-03 09:30] kienerj opened #7730 "Change Response Content-Type for Preview"
**The Issue**
I'm currently testing a 3rd party API and it that API isn't exactly standards compliant. It returns for example "png" as Content-Type instead of "image/png" and I assume that is why in postman I can't see the image under preview but just the raw contents (saving it as png file works and I get an image).

**Possible Solution**
What I would like to be possible is either to manually be

[2019-12-03 10:22] lansalot opened #7731 "Installation trying to write uninstall icon to non-existent path"
Noted this non-critical error in the installation log:

2019-12-03 10:15:29> InstallHelperImpl: Couldn't write uninstall icon, don't care: System.Net.WebException: Could not find a part of the path 'C:\Users\Administrator\buildkite-agent\builds\pm-build\postman\app-package-and-deploy\resources\postman-prod.ico'. ---> System.Net.WebException: Could not find a part of the path 'C:\Users\Administrato

[2019-12-03 11:07] KamilPacanek commented on #6723
Unfortunately still not fixed - could not found v6 version easily as the links for older versions have been removed.
I'm gonna watch this issue for the updates, but right now I'm gonna switch to alternative tools.

[2019-12-03 11:22] knottronix commented on #7722
Many thanks ritwijsinha - it was not that the log was not selected, but that the console.log was now appearing in postman console, whereas in previous version of postman the logs would come under View >> Developer >> Show Dev Tools >> select console tab. So unless I am going crazy (which is possible!) they moved.

Many thanks again for taking the time to read all this and help me - much appreciate

[2019-12-03 11:23] #7722 closed, assigned to nobody

[2019-12-03 12:20] andreaperezisla opened #7732 "Code Snippet in python Request not working"
Good morning,
I'm trying to make a POST request from Python to upload a pdf file to an API. When I do it in Postman, it works fine, returning some info that I need for following steps. However, when i generate code snippet to use it in python, it doesnt work, showing a 500 error message from the API. If u could help me could be great :D

I'm using Python 3.7.0 in Windows 10 and Postman 7.12.0

Att

[2019-12-03 12:36] ritwijsinha commented on #7722
@knottronix

Glad to help 😄

Cheers! 🎉

[2019-12-03 13:46] amorek commented on #4463
This still happens in v7.12.0 and is extremely aggravating. Worst UX ever!

[2019-12-03 14:37] mohamed-foly commented on #7286
+1

[2019-12-03 14:46] ahmedggalal commented on #7286
+1

[2019-12-03 15:23] nik-lampe commented on #6712
@hmoule
How did you set it up? I just tried it and can't get it to work.

[2019-12-03 15:33] hmoule commented on #6712
@nik-lampe first I went to the APIs tab and added my graphql schema (making sure to select graphql in the dropdown) then I went back to my graphql query selected where it says "No schema" next to the graphql radio button and selected the api draft I just created and then it seemed to work however after further testing it seems a bit broken.

[2019-12-03 15:48] arlemi commented on #7732
@andreaperezisla Avoid sharing any file containing private keys (such as API Keys, Postman Tokens etc.), please remove your shared file. :)

Regarding your issue, the 500 error implies a server error, are you able to get any logs from the server-side? That'd help.

[2019-12-03 16:12] rudrajitdas commented on #5681
This one and giving access to %LocalAppData% worked for me. Thanks

[2019-12-03 16:19] thomasazdon commented on #5263
I would also love to have a single column default.  Our reason is we have created visualizations for our training postman examples.  On each visualization we provide a link to the documentation (direct to the section in the training example.  When you view documentation in the postman response window in visualizer - there is very little space and we really only want the documentation associated wi

[2019-12-03 16:23] saswatds commented on #7721
Closing this as a duplicate of https://github.com/postmanlabs/postman-app-support/issues/1180

[2019-12-03 16:23] #7721 closed, assigned to nobody

[2019-12-03 17:04] saswatds commented on #7717
Hi @aakhan1 I have been able to reproduce this issue.

[2019-12-03 17:06] mmindenhall commented on #2934
In case it matters, I can tell you not fixing this bug is costing you money.  My company is currently paying for Insomnia (~40 users), but we want to switch to Postman Pro.  During a recent hackathon, two team members ported all of our collections from Insomnia to Postman, and we're ready to pull the trigger on the switch.  However, this bug is a blocker for us.  Client Credentials grants work fla

[2019-12-03 18:52] Raj-postman opened #7733 "Undo-shortcut doesn't work while naming collection/request"
**Describe the bug**
Unable to undo ( Cmd + Z) an action while adding a name to the collection, folder or request

**To Reproduce**
Steps to reproduce the behavior:
1. Create a collection
2. Edit the collection
3. Change the name of Collection/Folder/Request
4. Undo (Cmd + Z) doesn't work

**Expected behavior**
Be able to perform the action for easier progress

**Screenshots**

![UndoAction](https

[2019-12-03 19:03] batjko commented on #6712
So the schema still has to be added manually, if I understand correctly? I was under the impression that the introspection schema gets automatically retrieved (like Insomnia does it, which is pretty seamless).

[2019-12-03 20:40] joshua-bn opened #7734 "Filter Variables"
**Is your feature request related to a problem? Please describe.**
I need to search for a variable in the environment/global/collection variables. I have a lot of variables.

**Describe the solution you'd like**
Input box above variables (collection, env, and globals) that will filter based on the variable and maybe value. The variable is much more important but I can imagine people wanting to fil

[2019-12-03 20:43] joshua-bn commented on #5977
+1 for the variable description. I'd was about to create this feature request. I think you should split this up into separate requests so people can find them and the devs/project manager can reply to them specifically.

[2019-12-03 22:29] boubech opened #7735 "Error Importing swagger 2.0 spec with absolute path reference"
**Describe the bug**
Unable to import OpenFile 2.0 with absolute path reference.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Import'
2. Go to 'Import From Link'
3. Scroll down to 'https://gitlab.com/kathra/kathra/kathra-services/kathra-catalogmanager/kathra-catalogmanager-api/raw/1.1.x/swagger.yml'
4. Click to 'Generation collection'

**Expected behavior**
An collection should be

[2019-12-03 23:15] propagating commented on #4687
I just ran into this issue. There were multiple postman processes, 1 was using 24Gigs, and the second was using 9Gigs. A dozen other postman processes were started, each using from 800mb to 1gb as well.

[2019-12-04 00:14] RobinTTY commented on #7723
Not an actual bug, brightness can be adjusted trough the "SDR content appearance" slider in the "windows hd color settings". My fault.

[2019-12-04 00:41] exadeci commented on #6079
Any update on this?

[2019-12-04 03:12] xk0der opened #7736 "Leaving a team as the last member and joining a new team orphans collections in the old team."
_This is a bug discovered internally and is being logged by Postman for tracking it publicly as well._

**Describe the bug**
Currently when you are the last member in a team and just leaving a team and **not** joining a new team option to move data to a personal workspace is provided.

But when you are the last member in a team and join a new team the collections within the old team are orphaned.

[2019-12-04 06:00] knoxxs commented on #6445
Also, its really tough to copy response headers.

[2019-12-04 07:43] ankit-m commented on #5760
The UI has been updated to show collection fork name while saving a request.

[2019-12-04 07:43] #5760 closed, assigned to vkaegis, Ghusar

[2019-12-04 07:45] ankit-m commented on #6086
Issue fixed.

[2019-12-04 07:45] #6086 closed, assigned to ankitjaggi, ankit-m

[2019-12-04 07:56] ankit-m commented on #6251
Issue fixed.

[2019-12-04 07:56] #6251 closed, assigned to ankit-m

[2019-12-04 08:26] JanDoggen commented on #4636
I have also made Token Name an env var, that makes it easy to select the correct one.

[2019-12-04 09:33] xaviergm commented on #4690
Indeed... however, when starting a test script that includes multiple requests, it would be nice to have the possibility to call console.clear() on the pre-request script of the first request so that the console is clean for that test run and one does not have to manually clear the console every time...

[2019-12-04 10:08] MeurHammot commented on #7286
+1

[2019-12-04 10:19] ash007-postman opened #7737 "Black screen appearing while trying to open Canary version"
**Describe the bug**
Getting black screen while trying to open Postman Canary

**To Reproduce**
After clicking on the Postman Canary app, the app is showing a black screen

**Expected behavior**
Postman Canary should open

**Screenshots**
<img width="924" alt="Screenshot 2019-12-04 at 3 43 24 PM" src="https://user-images.githubusercontent.com/41741228/70133805-d875b480-16ac-11ea-8ae2-1829d43535d2.

[2019-12-04 11:19] kamalaknn commented on #7737
Duplicate of #7078

[2019-12-04 11:19] #7737 closed, assigned to nobody

[2019-12-04 11:50] tswysy opened #7738 "Cookie `Max-Age` is not accounted for while representing the expiry of newly added cookies"
**Describe the bug**
I set a cookie with an expiration date. But after the cookie is saved, it shows "Never expires". Usually, this bug is always with the last cookie.

**To Reproduce**
Steps to reproduce the behavior:
1. Send a request to a service that sets a valid cookie. For example,  the cookie is set to be invalid after 24 hours.
2. Confirm that the cookie is saved, and then check the Expire

[2019-12-04 12:10] nebloc commented on #4172
+1

[2019-12-04 12:10] debugger22 opened #7739 "Feature to change the prefix in case of bearer authorization"
Today when we select Bearer authorization, Postman adds a header with key `Authorization` and value `Bearer {token}`.

I'd like to change that `Bearer` to `Token` which is not possible as of now. This feature is available in Insomnia REST client.

[2019-12-04 12:15] codenirvana commented on #7738
@tswysy I am not able to reproduce this issue locally, can you share a scaled-down collection which we can use to reproduce this issue?

Or, can you share a Node.js server like this https://github.com/postmanlabs/postman-app-support/issues/6807#issuecomment-507507349 which can help?

[2019-12-04 12:24] sroettering opened #7740 "Circular references can't be resolved"
**Describe the bug**
When importing an OpenAPI 3 YAML file with circular references the import fails.
It is arguable that having circular references is a bad design, but I can't change it easily.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a yaml file with a circular reference (author <-> post example should work)
2. Import the file into postman
3. The import fails and the console

[2019-12-04 12:34] kashmadze commented on #5901
Must-have feature in Mocking, Please add it
Currently we have to remove some dynamic parameters from our Rest Requests in case of Mocking, and add them again in case of Live Services.

For that reason developers are complaining because CodeBase gets dirtier .....

[2019-12-04 13:25] alejandrofcarrera commented on #1070
+1 to support this issue. Each time you open Postman, you don't know if all the samples will be randomized. At least, alphabetical order so if you start with HTTP code the good requests are the first by default.

[2019-12-04 13:52] debugger22 commented on #7739
Duplicate

[2019-12-04 13:52] #7739 closed, assigned to nobody

[2019-12-04 14:38] ghost opened #7741 "Curl Command cannot be imported"
**Describe the bug**
I'm unable to import a curl command using Postman in the latest version of Postman (7.13.0)
**To Reproduce**
Curl : curl -i -k -H"Authorization: Bearer key" https://google.com
1. Go into Postman and click 'Import'
2. Click 'Paste Raw Text' and paste the curl command inside
3. Click 'Import'

**Expected behavior**
Postman will shown a notification saying "Error while importing

[2019-12-04 15:01] mennodehaas commented on #6614
For me, the OAS import functionality misses a lot of functionality.

1. The application assumes that the spec is finished on day 1. Whenever changes are performed, new collections have to be generated.
2. For testing purposes, it is not possible to validate agains an OAS spec (only json models).
3. It is not possible to see test coverage (which paths/response codes have been tested)

[2019-12-04 16:47] david-genger commented on #7462
Me too

[2019-12-04 16:52] #7539 closed, assigned to nobody

[2019-12-04 16:53] Nmirontsev commented on #7539
@saswatds , issue is fixed with 7.13 version. It looks great. Thank you!

[2019-12-04 20:39] Ricardonacif commented on #4912
I mean, this is a pretty basic functionality for teams...

[2019-12-04 21:02] Ricardonacif commented on #4631
But that doesn't solve the need for documenting the API with a default header for all requests :(

[2019-12-04 21:49] dereksdev commented on #4075
Is there a way to do this yet?

[2019-12-04 22:47] JP-from-Postman opened #7742 "Request looped many times lags, hangs, crashes app"
**Describe the bug**
When using `postman.setNextRequest()` to loop a request many times (i.e. 300+), the app slows down, hangs, and ultimately crashes when trying to close the Collection Runner window.

**To Reproduce**
Steps to reproduce the behavior:
(note: see attached Collection below, which just needs to be run to reproduce issue)
1. Create a Collection containing a single request, that uses

[2019-12-04 23:37] AndrewRayCode opened #7743 "Latest update blocks responses from showing"
**Describe the bug**
Request bodies no longer show up.

**To Reproduce**
Steps to reproduce the behavior:
1. Send a request
2. Click any tab like "preview" / "raw"

**Expected behavior**
Able to view responses

**Screenshots**
[code]

![Screen Shot 2019-12-04 at 3 35 59 PM](https://user-images.githubusercontent.com/79215/70190859-f55db800-16ab-11ea-80de-9e07584e33e3.png)

**App information (please

[2019-12-05 00:43] JP-from-Postman opened #7744 "Visualizer: support for rendering different file types"
**Is your feature request related to a problem? Please describe.**
If an endpoint returns (for example) a PDF file as binary, there isn't a way to render it in Visualizer. This is due to the content-security-policy, which disallows rendering in frames.

**Describe the solution you'd like**
Some means to render different file types (such as .PDF) in Visualizer.

**Describe alternatives you've consi

[2019-12-05 01:28] tatemz commented on #4845
This feature request and others like it have been requested since 2015. I think it's time to move it out of the `Later` column 😉

[2019-12-05 01:36] tswysy commented on #7738
**First you can see my simple example which is written with Golang**
[code]
**Then Reproduce The Bug**
1. Send a request to {{ip}}/cookie1, and you can get a cookie saved within postman, but it shows Never Expires.
![111](https://user-images.githubusercontent.com/36076474/70195995-40c2a580-1742-11ea-816b-f7f37afb047f.jpg)
2. Repeat the first step to request {{ip}}/cookie2, you can find that there

[2019-12-05 04:15] JBongars commented on #3707
This worked for me but is a little annoying. Is this an issue with Postman or MacOS?

[2019-12-05 04:20] hillsydev commented on #6292
Hey @saswatds, this problem still exists in 7.13.0.  I can issue a GET to an API, result appears in the 'Pretty' and 'Raw' tab, but clicking in the 'Preview' tab shows nothing.  Loaded the same URL in Chrome and FF, and content displays as expected.  Content is a swagger/index.html response from a .net core 2.2 app.

However, if i try issuing a GET to an endpoint which produces a plain JSON result

[2019-12-05 04:38] b-hayes commented on #3707
I think its an issue with postman as I haven't seen it happen to any other
application so far. And postman has done this to me on windows as well.

On Thu, Dec 5, 2019 at 3:15 PM Julien Bongars <notifications@github.com>
wrote:

--

Bradley Hayes / PHP Engineer / TITHE.LY <http://tithe.ly/>

<http://tithe.ly>

[2019-12-05 05:30] codenirvana commented on #7738
@tswysy Thanks for the sample server. I can confirm the reported issue i.e, `Max-Age` is not accounted for while representing (view only) the expiry of newly added cookies.
However, the cookies are stored correctly into the store (that's why previously added cookies have the correct expiry set).

Thanks for reporting this issue, will update once this issue is fixed in our production or canary chan

[2019-12-05 05:41] ankit-m opened #7745 "Undo (Cmd + Z) does not work while renaming request name in a tab"
**Describe the bug**
Undo shortcut does not work while editing request name in a tab.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a reqest
2. Open it in a tab
3. Click on the pen icon to edit request name
4. Type something
5. Try Cmd + Z.

Observe no undo.

**Expected behavior**
Undo.

**App information (please complete the following information):**
 - App Type: Native
 - Postman

[2019-12-05 07:14] ritwijsinha commented on #3461
@susumuf

We broke the 1 MB barrier in Postman Console! 🎉

Update to Postman v7.13 to use this.

Cheers!

[2019-12-05 07:14] #3461 closed, assigned to ritwijsinha

[2019-12-05 07:17] KevUKHD opened #7746 "Could open Postman, please contact help@getpostman.com"
OS: Windows 10
State: Fresh install of Postman
Error Message: "Could not open Postman, please contact help@getpostman.com"
After that the Postman Process does not stop running and needs to be terminated with Task Manager

**To Reproduce**
1. Launch Postman
2. See Error Message

**Expected behavior**
Launching Postman Application.

**Screenshots**
If applicable, add screenshots to help explain your

[2019-12-05 07:20] harryi3t commented on #7731
Seems related to https://github.com/postmanlabs/postman-app-support/issues/4310

[2019-12-05 07:23] harryi3t commented on #7731
@lansalot could you fill the issue template (OS details, Postman version, etc)? That would help us figure out the issue faster.

[2019-12-05 09:37] s-haralampiev commented on #1014
We need this functionality. 👍

[2019-12-05 09:55] stevenvdbosch commented on #1678
tbh i would also want the requested feature not only in the response but also in the request.

I've made a small mock up which would be cool:
@Sofianio @a85
![mockup](https://user-images.githubusercontent.com/32450231/70224430-8fc20800-174d-11ea-89ae-30b27eee220c.png)

[2019-12-05 10:03] krzysztof-kalinowski commented on #7569
Same problem with google credentials

[2019-12-05 11:26] cyrielle-hada commented on #7746
@KevUKHD Removing your local data _should_ fix the issue. You can find the full instructions in this article - https://support.getpostman.com/hc/en-us/articles/360025359014-How-to-resolve-the-Could-not-open-Postman-error-

[2019-12-05 11:27] snkkid99 opened #7747 "Bad request (400) for NTLM auth inherited by parent while running collection"
Same problem that was in the Issue #4092 except that I have a "Bad request (400)"
Tested with Postman v7.13.0
* With NTLM Authentication inherited by parent the 3rd query fail
![RunnerProbelm](https://user-images.githubusercontent.com/11087423/70230038-c1d86780-1757-11ea-94a9-091c549736ef.png)
* The problem is solved when I set the authentication as NTLM directly in the query
![RunnerProbelm](http

[2019-12-05 11:35] cyrielle-hada opened #7748 "Documentation - delay between scrolling and syntax highlighting"
**Is your feature request related to a problem? Please describe.**
There is some latency between when scrolling happens and the text is highlighted correctly.
https://www.loom.com/share/cf0ab3511f464ceab78e1a0b0480adf2

**To Reproduce**
1. Open any documentation - https://docs.postman-echo.com/?version=latest
2. Notice the latency rendering the syntax highlighting when scrolling.

**Describe the s

[2019-12-05 12:45] vikiCoder commented on #3609
I tried to reproduce the issue locally but it worked fine for me.

What I did:

1. Generate a CA cert and key
2. Generate server cert and key. Server cert contained localhost and foo.com as Subject Alt Names
3. Create a local https server using server cert and key.
4. Add two entries foo.com and bar.com pointing to 127.0.0.1 in /etc/hosts.
5. Send a request to foo.com using Postman. This request f

[2019-12-05 12:45] #3609 closed, assigned to vikiCoder

[2019-12-05 13:03] godfrzero commented on #7748
There is an intentional delay after a scroll, this is not a bug. @Raja-Simha As long as we're rendering the entire doc in one shot, we can't syntax highlight the entire document.

[2019-12-05 13:51] SumithraSomu commented on #1966
Hello all,

@abhijitkane is there any progress on this request man? I know there is an option of running multiple folders via Newman but while building the test suite, we would like to run multiple folders at Collection runner itself.
**for eg, I have multiple folders from which the first one generates all the needed keys and tokens for the next folders to run. So, I must run the first folder alon

[2019-12-05 13:53] lansalot commented on #7731
Sure @harryi3t  - sorry, I should know better than to leave such info out... updated the original post with the info.

[2019-12-05 13:58] Quozzo commented on #7713
Isn't the array being forced to a string because that's the only thing that postman can store? You would need to stringify it when saving.

[2019-12-05 14:12] SumithraSomu commented on #2583
@a85
Hey Abhinav,

Seems like this request was made  in 2016 and now in 2019 December I am using **Current Version: v7.12.0.** But I am not able to select multiple requests to duplicate them.  Is there any possibility for us to get such a feature.

Thank you in advance.
Sumithra Somu.

[2019-12-05 14:41] Quozzo opened #7749 "Object spread operator triggers incorrect warning in script editors"
**Describe the bug**
The object spread operator is being displayed as a syntax error by the linting tool with a yellow exclamation mark on the line numbers. The JavaScript run as expected.

**To Reproduce**
Type the object spread operator, something like:
[code]

**Expected behavior**
The linting tool not to complain that this is expecting the closing bracket instead of the spread operator (...) w

[2019-12-05 14:42] radurusu commented on #1552
+1

[2019-12-05 14:58] KevUKHD commented on #7746
Solved the Issue but only temporary.
Got the same Problem only a few hours later.
Are there any insights on why this occurs?

[2019-12-05 15:12] gabornovak commented on #2801
+1

[2019-12-05 15:42] TheBox193 commented on #4091
+1

[2019-12-05 15:43] kframnes commented on #4091
Version 7.12.0 ... same issue.

[2019-12-05 16:33] sinistersparrow opened #7750 "Google Says Postman is unsecure and there for will not allow API connections"
**Describe the bug**
When attempting Oauth2 connections to google-based api's, Google states that the Postman embedded browser function is not secure and will not allow logging in to receive API Token.

**To Reproduce**
Steps to reproduce the behavior:
1.  Create an OAuth 2.0 client ID
    Go to Google Console -> API -> OAuth consent screen
        Add getpostman.com to the Authorized domains. Cli

[2019-12-05 17:10] JoelAzevedo opened #7751 "Blank page appears when creating new mock server"
**Describe the bug**
When I create a mock service, it doesn't show nothing on step "1. Select a collection to mock"

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '+ New' orange button and click on it
2. On Create New, click 'Mock Server'
3. On step '1. Select a collection to mock' it appears a blank page.

**Expected behavior**
It was expected to see the corresponding options.

**Scr

[2019-12-05 18:26] stcalica opened #7752 "Run In Postman Button is not Importing Collection"
filing on behalf of the user.

**Describe the bug**
Run In Postman button is not importing collection into Postman App.
When clicking on the button nothing happens.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to published documentation and click the Run In Postman button in the top right corner.
2. Check Postman app for collection, the collection is not there.

**Expected behavior**
E

[2019-12-05 20:16] stevelobach commented on #7569
I had the same problem, clicked on the login with google, and it would sit an spin for a very long time. Then I got the idea to open the app without logging in, then after I was in, I logged in to my google account with no issue..  It was a bit frustrating until I finally got in correctly..

[2019-12-05 21:33] a85 commented on #7750
This is apparently a change in behavior by Google against all embedded browsers. We are tracking this issue closely.

[2019-12-05 21:51] JP-from-Postman opened #7753 "Run in Postman on Explore pages doesn't import environment"
**Describe the bug**
On explore.getpostman.com, clicking Run in Postman, does not import the environment published with the Collection.

Clicking Run in Postman on the documentation page _does_ import the published environment.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to: https://explore.postman.com/team/3spqmTWCHCEzYt
2. Click Run in Postman
3. See no environment is imported
4. Go

[2019-12-06 00:42] grantm009 commented on #3438
I paid for the subscriptions to Postman thinking that the custom domain feature was for documentation - only to discover today that it is not and it looks like it is not possible.
Very disappointing and would not have subscribed if I had realised.

[2019-12-06 05:21] kamalaknn commented on #7750
Hey @sinistersparrow

Thanks for reporting this issue. We are tracking issues related to unsupported or embedded browser errors in OAuth 2.0 and login flows in #7700

I'm closing this as a duplicate. Please follow the original issue for updates.

[2019-12-06 05:21] #7750 closed, assigned to nobody

[2019-12-06 05:29] kamalaknn commented on #7746
Hey @KevUKHD

There could be a few reasons why this happens. most likely errors coming from storage engine. Could you send us the logs from `View -> Developer -> Show logs in Explorer`?

If you are not able to access the menu bar when this error happens you can find the logs in one of these directories

C:\Users\<user>\AppData\Local\Postman and
C:\Users\<user>\AppData\Roaming\Postman

[2019-12-06 06:11] tamilselvanps commented on #1966
@SumithraSomu why you cannot try the below method for your requirement.

You need to call the first request of second folder from last request of first folder using below test script. So you can mentioned the order of sequence using this script, so you can run n number of sub folders(event multi level - i have worked with 3 level) with in a parent folder.

Ex: postman.setNextRequest("yourSecondFol

[2019-12-06 07:38] fazilbashasn opened #7754 "Getting Blank Black screen frequently tried reinstalling multiple times"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem. Please make sure the screenshot does no

[2019-12-06 07:39] fazilbashasn commented on #7754
![image](https://user-images.githubusercontent.com/15376090/70305111-8e660d80-1829-11ea-9b45-d0bc4df0d928.png)

[2019-12-06 07:40] fazilbashasn commented on #7754
Above is the attached screenshot.
It is the Intermittent issue....Not sure about the steps to replicate it but it happens once its open and and switch to the app to test something.

Thanks,
Fazil

[2019-12-06 08:04] Raj-postman commented on #7754
Hi @fazilbashasn

Could you send us the logs from `View -> Developer -> Show logs` in Explorer to help@getpostman.com? If you are unable to access the menu bar when this error occurs you can find the logs in one of these directories:

`C:\Users\<user>\AppData\Local\Postman` and
`C:\Users\<user>\AppData\Roaming\Postman`

[2019-12-06 08:41] #7732 closed, assigned to nobody

[2019-12-06 09:27] vkaegis commented on #6740
@shamasis For starters, all editors used for description fields should support markdown. Definitely a good feature to add, but I'm not sure if the data editor is the right place? I would ideally like to have the same editing experience for markdown irrespective of where it is.

[2019-12-06 09:39] thomasazdon commented on #1848
Adding to this - even though closed. With Visualizer - a full screen is almost a mandatory requirement.

[2019-12-06 09:43] fazilbashasn commented on #7754
I have mailed the logs to the above email.
This is happening to Latest Postman as well not only Canary.

Thanks,
Fazil

[2019-12-06 10:06] windymindy commented on #7174
Would it require having a separate API description for a mocking tool?
Is there a way to develop a pluging for postman to hadle this specific need?

[2019-12-06 10:17] aaronn opened #7755 "I'm on Postman Pro but my teammate says he has hit maximum requests on my team."
**Describe the bug**
I just invited a second member to my team. I'm on Postman Pro and they should be able to create new requests, but he says it says I have hit the maximum number of requests. I have like 50 or so API requests documented only.

**To Reproduce**
Steps to reproduce the behavior:
1. Buy Postman Pro
2. Invite Teammate
3. They can't make new requests, says limit reached
4. Try adding

[2019-12-06 10:22] #7755 closed, assigned to nobody

[2019-12-06 12:42] Ghusar commented on #7589
@mssio Closing this issue for now. Feel free to reopen it again

[2019-12-06 12:42] #7589 closed, assigned to nobody

[2019-12-06 13:09] vikiCoder commented on #4186
Hi everyone 👋,

I tried to reproduce the issues regarding the signature mismatch mentioned in this thread but had no success 😞. I tried the Postman's AWS auth helper in S3 and Elastic Search services of AWS with different combinations of request body, path and query parameters. And all the requests worked just fine for me (in Postman App version v7.13.0).

We are closing this issue because there a

[2019-12-06 13:09] #4186 closed, assigned to codenirvana

[2019-12-06 15:22] Gander7 commented on #2819
+1, This is very hindering in our SDLC. Definitely our biggest pain with postman.

[2019-12-06 15:49] quantumrag opened #7756 "Support SOCKS proxy on Postman.app for Mac"
**Is your feature request related to a problem? Please describe.**
Postman Chrome app is able to support through browser SOCKS proxy (tunnelling). However, the desktop app only supports HTTP/HTTPS proxy. I am currently using SOCKS5 proxy addon on browser to access services on my remote server.

**Describe the solution you'd like**
I want the Postman chrome app to support SOCKS proxy

**Describe al

[2019-12-06 18:36] bhuga123 commented on #2701
which tool did you change to?

[2019-12-06 19:12] rgarrett1127 commented on #6292
I am also seeing this issue in v7.13 when trying to authenticate with OpenId connect and Azure using POST. The HTML response from Azure is visible in the 'Pretty' and 'Raw' tabs but not the 'Preview' tab.   Standard JSON results from GET requests seem to work as expected.

[2019-12-06 21:02] joepaquette opened #7757 "Error "Could not get any response" when status = 201"
**App information:**
 - App Type: Postman for Windows
 - Postman Version: Version 7.13.0
 - OS: win32 10.0.18362 / x64

**Bug reproducible every time**
**Recent Encounter** - First time trying this task

**Describe the bug**
I have a REST API that performs a POST to add data to a database. It was recently developed returning an HTTP status code of 200 for a successful POST. The POST works consiste

[2019-12-07 09:55] vkaegis commented on #6004
@jooleeanh This should be fixed in Version 7.13.0. Closing this issue for now, feel free to open another if you have any feedback on this.

[2019-12-07 09:55] #6004 closed, assigned to nobody

[2019-12-07 09:56] vkaegis commented on #810
This should be fixed in Version 7.13.0. Closing this issue for now, feel free to open another if you have any feedback on this

[2019-12-07 09:59] vkaegis commented on #810
@davepile Looks like there's a bit of confusion regarding this issue. The OPs original issue was around dismissing inline editing of request name/description within the tab itself. A fix for this is in the works, but not ETA just yet.

Your issue should be with dismissing the Edit Collection / Folder modal. This should be fixed in Version 7.13.0.

[2019-12-07 10:19] vkaegis commented on #5897
@ddunlop @Wotuu We've recently added the ability to view redirects in the console. This will give you better visibility into which requests are being redirected. We have a few more improvements planned to surface this in the Builder itself, but no ETA on that just yet.

Closing this issue for now, let me know if there are any other issues around this.

[2019-12-07 10:19] #5897 closed, assigned to vkaegis

[2019-12-07 14:45] dushyantchillale commented on #7751
@JoelAzevedo Thanks for raising the issue!
Could you please let me know if this was an issue you saw once or if you're still able to reproduce the issue.

[2019-12-07 19:16] Gaucho-Bit commented on #7569
Same problem

[2019-12-08 04:26] mmxcrono commented on #7383
Yes, please give me this option instead of forcing me to have it auto-hide.

[2019-12-08 05:50] vkaegis commented on #5686
@numaanashraf This issue is fixed, yes? Can we close this ticket?

[2019-12-08 06:50] imranbangladeshi commented on #5686
ok, I will check & If fixed then will close this issue.

On Sun, Dec 8, 2019 at 11:50 AM Vineet Kumar <notifications@github.com>
wrote:

[2019-12-08 13:29] masouddarvishi commented on #6239
hello i have postman v7.13.0 still syncing is problem.

[2019-12-08 20:35] pedronveloso commented on #7010
I'm seeing this issue as well. Using latest MacOS (Catalina)

[2019-12-08 22:08] supunt opened #7758 "Query Param Encoding Issue"
**Query Params does not encode properly**
Consider the endpoint example below

`http://localhost:20047/v3.0/foo-summaries?bor=OBR&valnDate=2019-11-08`

If we are to pass Certain special characters to the string query param **bor** listed below it does not do the encoding properly

- &
- '#'
- '+'

**To Reproduce**
Example 1 - **bor = OBR&**

![image](https://user-images.githubusercontent.com/12725

[2019-12-08 22:37] minotaurrr commented on #7010
Same issue here macOS Catalina

[2019-12-09 02:16] ioneyed commented on #7705
This is primarily around the fact that the current "settings > proxy" are not taken into account for the "Sign-in" or "Sync" modules within the application. Unfortunately I am behind an authenticated proxy for all traffic which limits that interactions. I have tried to leverage windows proxy, mac proxy, linux proxy settings and without having full root access (corporate environment) and setting up

[2019-12-09 02:43] xuyenauto commented on #1535
+1 and waiting some good news for that function.

[2019-12-09 02:49] Nidhisachan commented on #6498
Any update on this request, please write if we can run a collection in different - different env by excluding some request or test.

[2019-12-09 03:22] camclark commented on #7619
Also would be happy to see this feature implemented!

[2019-12-09 04:00] xk0der opened #7759 "Script pane crashes when referencing pm.collectionVariables methods if any collection variable has a JS object as value"
**Describe the bug**
If you store a JavasScript object within Collection Variables, and later try to reference the collection variables using pm.collectionVariables methods the script / Pre-request script pane crashes and the following screen is shown.
<img width="506" alt="Screen Shot 2019-12-09 at 4 31 54 PM" src="https://user-images.githubusercontent.com/21366/70405260-6bde2980-1aa1-11ea-84ba-e

[2019-12-09 04:16] arzakmiftakhul commented on #7569
Same issue, I got that response when I try to get new access token (Google oAuth)

[2019-12-09 04:36] kamalaknn commented on #7754
@fazilbashasn Thanks for reporting the issue. I'm closing this as a duplicate of #4764. Please follow up with the original issue for updates.

[2019-12-09 04:36] #7754 closed, assigned to nobody

[2019-12-09 05:36] andrewluetgers opened #7760 "Log and analyze API traffic in dev env to aid development in many ways."
**Is your feature request related to a problem? Please describe.**
Postman collections can get stale or never written in the first place. APIs have multiple users and they may be using the app in a way that is not documented in postman. I use postman to debug all the time, but I have to go to the logs to get the data to plug into postman to reproduce the error. I use postman all the time to aid de

[2019-12-09 05:42] ArjunSingh-PM commented on #7569
Thank you everyone for reporting this issue. We are working on a solution to bypass the same.

Meanwhile, try to use "Trouble signing in?" option to reset your password. Then login using email/newPassword instead of Google SignIn.

[2019-12-09 05:50] prashantagarwal commented on #7760
@andrewluetgers That's an interesting use case. I believe you are on the right track in terms of a viable solution as well.
Most of the things that you can do with the Postman app can also be done using [Postman APIs](https://docs.api.getpostman.com) & you can use this build a quick solution. I'll try to summarize my brainwave below:

- Identify the requests that you are interested in. Maybe you a

[2019-12-09 06:05] Cazaimi commented on #5919
@Raja-Simha , this is solved and can be marked as closed.

[2019-12-09 06:05] Cazaimi commented on #6152
@stcalica , the fix is out on the public documentation. Please check it out and let us know. :)

[2019-12-09 06:20] yjjnls commented on #7672
same problem on chrome78, is it solved?

[2019-12-09 06:23] ejazazim commented on #7010
Same issue here. After installing recent update to postman, I can no longer sign in through app. getpostman.com sign in is working though.
![image](https://user-images.githubusercontent.com/6695631/70412259-695dde80-1a65-11ea-84b9-882ec5d0687c.png)

[2019-12-09 06:25] numaanashraf commented on #7756
Thanks for writing in @raghavendrabond. We are tracking this feature request at #1321. Do follow that thread for discussions and updates.

[2019-12-09 06:25] numaanashraf commented on #7756
Duplicate of #1321

[2019-12-09 06:25] #7756 closed, assigned to nobody

[2019-12-09 06:29] numaanashraf commented on #7705
@asi-postman @ioneyed We are tracking this at #3450. Please follow the other thread for discussions and updates on this.

Duplicate of #3450

[2019-12-09 06:29] #7705 closed, assigned to numaanashraf

[2019-12-09 06:56] ongageqa-dev opened #7761 "Multiple monitors result in a single screen"
I have set up multiple monitors in Postman workspace for different cases. Here I want to observe all the results separately as of now Postman provides a single monitor result at a time in a screen.

Instead of this, I would like to request Postman to provide multiple monitors result in a single screen. It will be easier to monitor the result and compare them in between for monitor's stability of t

[2019-12-09 08:08] adotg opened #7762 "Can't login to postman mac client because google auth page says app not secured"
**Describe the bug**
Can't log in to postman mac client using google auth service. After putting user name and password google redirects to a page which says the page from which the auth is performed might not be secured.

**To Reproduce**
This happened while I was using postman and then the system shut down because of low battery and when I turned it on the app logs me out and asked me to login.

[2019-12-09 08:20] jesseemus commented on #7010
I have the same problem

[2019-12-09 08:32] fchoquet commented on #7762
Same problem for me

[2019-12-09 08:34] peterbb148 commented on #7010
Same for me - latest Catalina on MBP16. Brand new install of Postman.

[2019-12-09 08:53] sankalp0o commented on #7476
Closing this as duplicate of #6027

[2019-12-09 08:53] #7476 closed, assigned to sankalp0o

[2019-12-09 08:54] sankalp0o commented on #6777
This issue is actually the same as/caused by #6027, therefore closing this one.

[2019-12-09 08:54] #6777 closed, assigned to sankalp0o, preethammavin

[2019-12-09 09:03] Sunils86 commented on #7010
Same here on Windows

[2019-12-09 09:19] MABottiglieri commented on #7010
same here on windows
![image](https://user-images.githubusercontent.com/10948030/70423183-4d5e3b00-1a6d-11ea-8c01-5c5e8247871b.png)

[2019-12-09 09:25] godfrzero commented on #7010
Everyone, we’re looking into this. We’ll post here once we have updates.

[2019-12-09 09:31] harryi3t commented on #7731
@lansalot Is this log from `C:\Users\<username>\AppData\Local\Postman\SquirrelSetup.log`?
I wasn't able to reproduce this (even I don't have `C:\Users\Administrator`).

[2019-12-09 09:40] SoaScape commented on #7010
Same issue for me just now, first time i've seen it. Tried multiple times, couldn't login due to unrecognized browser. However there is a workaround. After clicking sign in, click the Can't Sign In? option at the bottom, which allows you to sign in from an external browser, in my case Chrome. That worked fine.

[2019-12-09 09:46] godfrzero commented on #7010
We’ve enabled a new auth option which will allow you to sign in via your browser. Could you try this out and let us know if it works for you?

![C970D8EB-82CD-46F2-A85B-A9BEAD7AE1C0](https://user-images.githubusercontent.com/2700229/70425240-e5244f00-1a96-11ea-84d5-e7fc166caeed.jpeg)

[2019-12-09 09:48] elssar commented on #7569
We’ve enabled a new auth option which will allow you to sign in via your browser. Could you try this out and let us know if it works for you?

![browser-based-login-link](https://user-images.githubusercontent.com/1042301/70425365-1c92fb80-1a97-11ea-9bb4-92d356635c23.png)

[2019-12-09 09:50] elssar commented on #7762
Hey @adotg  and @fchoquet , we've just released a feature that lets you login to the Postman app via your browser. Can you try that out, you need to click on the link to "Try on a web browser." below the login form.

![browser-based-login-link](https://user-images.githubusercontent.com/1042301/70425519-60860080-1a97-11ea-8b42-75da953f22a3.png)

[2019-12-09 09:51] Sunils86 commented on #7010
Works for me now.
Will there be a new release with a fix?

[2019-12-09 09:52] elssar commented on #7672
We’ve enabled a new auth option which will allow you to sign in via your browser. Could you try this out and let us know if it works for you?
![browser-based-login-link](https://user-images.githubusercontent.com/1042301/70425730-b78bd580-1a97-11ea-993b-6064b65933c2.png)

[2019-12-09 09:52] adotg commented on #7762
Done, it's working. Thanks.
@elssar up to you if you wanna close the issue.

[2019-12-09 09:54] fchoquet commented on #7762
Works for me too.
Thanks! 👍

[2019-12-09 09:59] SoaScape commented on #7010
Yep as mentioned, working for me with 'Try on a web broswer'

[2019-12-09 10:37] guanyingjie commented on #4193
Do we solve this problem now?
I meet the same question

[2019-12-09 10:53] aswanthpp commented on #7762
I am facing the same issue, Also I tried website login, but its not working

[2019-12-09 11:40] gdbhowmick commented on #7762
@aswanthpp What are you getting incase of website login? Could you please provide a screenshot or maybe the error message you are seeing?

[2019-12-09 11:42] dreampowder commented on #7762
I've logged in from website, and it automatically opened the postman app after the login. But it kept saying the same thing until i received the new postman update.
After updating the app, i was able to login to the app

[2019-12-09 12:04] SebastianJust opened #7763 "OAuth 2.0 - Exception: Correlation failed."
Hi,
I've done this for the last half a year, but suddenly, i get following error message while trying to authenticate against our identity provider.

![image](https://user-images.githubusercontent.com/24389114/70433854-0d09b780-1a83-11ea-9251-eb9b736b4170.png)

If i'm doing the same in a browser it works fine. I've tried to google the last 2 days, but i cannot find anything about this. It also wor

[2019-12-09 12:28] ArjunSingh-PM commented on #7761
@ongageqa-dev Thank you for your request. Could you please elaborate on the kind of comparisons you would like to make between different monitors.

[2019-12-09 12:35] JamesMessinger commented on #7619
I've discovered a workaround in the meantime that may be helpful to folks.  When you publish collection documentation using Postman, the docs page has a Run In Postman button at the top, and it **always runs the latest version** of the collection.  In your web browser's dev tools, you can inspect that button and you'll see that they're using a slightly different version of the Run In Postman embed

[2019-12-09 12:42] ongageqa-dev commented on #7761
Hi @ArjunSingh-PM
Thanks for the prompt reply. I understand and used monitors' page. However, I would like to have monitors page which shows the graph and details as here: https://learning.getpostman.com/docs/postman/monitors/viewing-monitor-results/#monitor-details-page
So that we can see all monitors the same time on a single screen.

[2019-12-09 12:45] arzakmiftakhul commented on #7569
Yes, I can sign in using my browser to postman. But my case is little different,
I need access token to authorize my request to [Google Play Developer API](https://developers.google.com/android-publisher/api-ref/purchases/products/get). I configured by following  [authorization instructions.](https://developers.google.com/android-publisher/authorization). Then I tried it using postman by following

[2019-12-09 13:13] BriceJamin commented on #2086
+1

[2019-12-09 13:18] BriceJamin commented on #2086
I want to look at a X POST request. I click on it. I'm in Params UI so I click on Body.
I want to compare with another Y POST request. I click on it. I'm in Params UI so I Click on Body. Ok i get it.
I want to come back to X. I click on it. I'm in Params UI...

RHAAAAAAAAAAA.

[2019-12-09 13:37] ArjunSingh-PM commented on #7611
This issue is resolved.

[2019-12-09 13:37] #7611 closed, assigned to godfrzero, charlie-postman

[2019-12-09 13:46] ArjunSingh-PM commented on #7354
This issue is resolved. Closing the same.

[2019-12-09 13:46] #7354 closed, assigned to godfrzero, charlie-postman

[2019-12-09 13:58] ArjunSingh-PM commented on #6847
@VicKetchup Could you please confirm that you are being able to set the UK timezone from the app now. Thanks!

[2019-12-09 14:05] ArjunSingh-PM commented on #5854
This issue is resolved. Closing the same.

[2019-12-09 14:05] #5854 closed, assigned to ankit-m, ArjunSingh-PM

[2019-12-09 14:24] VicKetchup commented on #6847
@ArjunSingh-PM Can confirm, all good :)
![image](https://user-images.githubusercontent.com/43671684/70443179-5fa59c80-1aa0-11ea-887e-85ae00be5229.png)

[2019-12-09 14:24] #6847 closed, assigned to godfrzero, preethammavin, charlie-postman

[2019-12-09 14:41] yanglei99 commented on #1744
+1 for being able to use postman to export open API specs

[2019-12-09 15:08] raph commented on #5194
+1

[2019-12-09 15:12] yjjnls commented on #7672
@elssar It works, thank you.

[2019-12-09 16:05] ArjunSingh-PM commented on #6847
Thanks a lot @VicKetchup!

[2019-12-09 16:56] andrewluetgers commented on #7760
Thanks, did not know about the Postman APIs. Honestly I am unlikely to have time to implement this. Just surfacing the request because I think it would be a good way to automate a lot of things that are currently manual in my dev/debug workflow.

[2019-12-09 17:34] arpst0rm commented on #4751
im on the mac running 7.13.0.

I am getting the same problem with a response file that is ~45M.  API returns, I see some data int eh response window but when I try to interact with the response the UI hangs.  If I try to have the response dump to a file that seems to hang in the background, but the file is never saved.

[2019-12-09 18:40] seandcoleman opened #7764 "GET works fine but POSTs return 403 Forbidden Invalid Origin"
**I can GET an object but the POST fails with a 403 forbidden**
Using the Mac App, version 4.3.2 I am able to GET with my API credentials but I am no longer able to POST.  Using cURL I can POST the exact same message and it works fine.  What am I missing?  My Creds are good, there is no ip checking, it is a live API on a server (not local).  I can successfully POST this change with JavaScript, cUR

[2019-12-09 19:50] aimsecond commented on #3707
Same issue for me. MacOS 10.14.6 , Postman v7.13.0

[2019-12-09 20:19] Matt-VL commented on #7666
@ankit-m any update?

[2019-12-09 20:58] pookdeveloper commented on #971
In the body dosen't autocompleted

Thanks

[2019-12-09 23:44] robert-ancell opened #7765 "Add Featured Banner for Snap"
The postman snap is currently the featured snap in the (Snap Store](https://snapcraft.io/store). This is shown on the website and in GNOME Software using a generated banner made from the icon and description. Please consider uploading a featured banner, as this looks much nicer!

Snap Store:
![Screenshot from 2019-12-10 12-44-14](https://user-images.githubusercontent.com/126560/70482625-d8f9c980-1

[2019-12-10 02:10] lee2026 opened #7766 "Ability to export or print/save Visualizations"
I'm working on a project where I am pulling a json file from an API server and displaying the data in a table form with your visualize tool. It would be nice to be able to save/print or export this display.

I found that the visualization actually creates an html file in the user's temp folder. So I am able to retrieve the visualization there and convert to PDF for my needs. However this is a bit

[2019-12-10 03:21] l3ender commented on #4795
This would be great. For the longest time I didn't know there were shortcuts for switching between tabs, because I figured that if ctrl+tab wasn't supported, nothing else would be either.

Ctrl+tab / ctrl+shift+tab is standard and it would be great for Postman to add support.

[2019-12-10 05:18] codenirvana commented on #971
@pookdeveloper We are tracking the "autocomplete in the request body" feature request here: #5290

[2019-12-10 05:21] pookdeveloper commented on #971
Thanksss

[2019-12-10 06:00] godfrzero commented on #7010
@ArjunSingh-PM I'm thinking we can use https://github.com/postmanlabs/postman-app-support/issues/7762 as the main issue since that's more specific to the problem we're experiencing. The original issue on this ticket had similar symptoms but was unrelated.

[2019-12-10 06:32] #7493 closed, assigned to elssar, ArjunSingh-PM

[2019-12-10 07:50] eminks opened #7767 "Black screen issue with latest version of postman"
**Describe the bug**
With the latest update when I open the app get a black screen

**To Reproduce**
Steps to reproduce the behavior:
Open application

**Expected behavior**
Any ui element

**Screenshots**
![Screenshot_1](https://user-images.githubusercontent.com/1908412/70505732-c5923280-1b39-11ea-98c7-7364b9050a17.png)

![Screenshot_2](https://user-images.githubusercontent.com/1908412/70505975-5

[2019-12-10 08:18] kamalaknn commented on #7767
Hey @eminks

Thanks for reporting the issue. This looks like a duplicate of #4764. I'm closing this as a duplicate. Could you share some more information *on the original thread* about

1. When do you see this issue? Does it happen always?
2. The size of data you are working with, the number of history or requests, the size of the response you are working with?

[2019-12-10 08:18] #7767 closed, assigned to nobody

[2019-12-10 08:44] HenkPoley opened #7768 "When you click the Send button again 'too fast' the 'Time:' value can be reported too low"
**Describe the bug**
Click Send twice quickly. First click it says (for this Vagrant-PHP7-MariaDB backend) normal values of 150ms. Second click load time may be < 12ms.

There is probably some odd juggling with timestamps or querying of the system-time going on.

**Expected behavior**
Our backend does the same work. Time shouldn't change (very much). It won't improve > x10.

**App information (ple

[2019-12-10 08:54] eminks commented on #4764
#7767 @kamalaknn
-When do you see this issue? Does it happen always?
When i start application getting black screen

The size of data you are working with: I think 20 or 25 kb
the number of history or requests: I think 10-15
the size of the response you are working with: I don't exactly size but i think maximum 20 kb

[2019-12-10 10:11] Pijuli commented on #7383
Same here. Why is it hidden on launch on FHD screen? :/

[2019-12-10 10:22] codenirvana commented on #7768
Duplicate of #6073

@HenkPoley This is because of the persisted connection as mentioned in https://github.com/postmanlabs/postman-app-support/issues/6073#issuecomment-473038673

Try sending the request using `Connection: close` header and you will see similar response time for every request.

[2019-12-10 10:22] #7768 closed, assigned to codenirvana

[2019-12-10 10:40] HenkPoley commented on #7768
That would be a nice theory. So I added under the 'Headers' tab, a Key 'Connection', with Value 'close'. But the randomly fast behaviour is still there.

Maybe the header needs to be set up elsewhere in Postman?

[2019-12-10 11:02] cfritschi opened #7769 "Importer: parameters/schema/reference "not found in the api spec""
**Describe the bug**
Importing the following yaml example ends in corrupted get/parameters.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Postman base app
2. Click on 'Import'
3. Choose file -> petstore.yaml
4. Open the imported collection
5. Open the Request "pets Get By Source"
6. See parameter section

**Expected behavior**
The parameters should be created as in the yaml defined (

[2019-12-10 11:03] cfritschi commented on #7769
![image](https://user-images.githubusercontent.com/15942557/70524275-1b200c80-1b45-11ea-98c8-dcaf8acc751b.png)

[2019-12-10 11:05] danni-popova commented on #3825
+1

[2019-12-10 12:10] cyrielle-hada opened #7770 "Documentation Syntax highlighting for snippets written in markdown"
_Filed by Product Support_

**Is your feature request related to a problem? Please describe.**

For now, the code snippets written in markdown on the **left-hand side** of the documentation don’t have syntax highlighting. Documents have highlighted syntax on the right-hand column only - where code generation happens.

<img width="1680" alt="Screen Shot 2019-12-12 at 10 59 17" src="https://user-ima

[2019-12-10 12:24] MozartHetfield opened #7771 "Importing raw data via an API request"
**Is your feature request related to a problem? Please describe.**
I generated a new JSON based on a Swagger documentation. The new JSON fits perfectly when I import it in Postman the following way: Import -> Paste Raw Data. I searched through the Postman APIs, but I couldn't find a way to automatically import the raw text via an API.

**Describe the solution you'd like**
I would like an API that

[2019-12-10 12:35] fjblau commented on #7551
Same on my mac... looking for a fix

[2019-12-10 12:49] kfly212 commented on #1060
Thanks!!!!

[2019-12-10 12:57] CundyTech commented on #7569
This works perfectly for me, I'm back in.

[2019-12-10 13:01] eugenehoza commented on #493
pleeeease, do this!

[2019-12-10 13:36] sankalp0o commented on #4832
The workspace switcher now allows filtering of workspaces very similar to what you suggested. Let us know if this does not satisfy your use cases @Cazaimi!

[2019-12-10 13:36] #4832 closed, assigned to vkaegis

[2019-12-10 14:20] canssens commented on #4079
+1

[2019-12-10 15:03] Raj-postman opened #7772 "Beautify the exported results from Collection Runner"
**Is your feature request related to a problem? Please describe.**
Allow user to customize the exported results from the Collection Runner into an easy-to-read format

**Describe the solution you'd like**
Be able to view results similar to Pretty option in Postman application

**Describe alternatives you've considered**
Open the exported results via Firefox or other application

[2019-12-10 15:22] oswaldB commented on #3822
+1

[2019-12-10 16:12] Quietbeat commented on #5200
I believe this request is similar to my own. As I know what the response should be, I'd like to have it validated against what the actual response status is. In addition, I include the name of the test in Excel and would like to see that add to the Runner results.

[2019-12-10 18:30] stcalica opened #7773 "Uncleaned changelog in newly forked collection"
Filed on behalf of user

**Describe the bug**
The forked collection has items in the changelog (possibly carried over from the original collection).

**To Reproduce**
Steps to reproduce the behavior:
1. Using the latest version (non-Canary) of Postman native app, click the 3 dots to bring up context menu
2. Then click “Create a fork” leaving the workspace the same as the original collection
3.  Im

[2019-12-10 18:34] itanex commented on #7010
Confirmed Workaround from @SoaScape. I could not log into Postman yesterday and today. I attempted to login through the web and it worked. While not a solution it does unblock me.

OS: Windows 10
Location: Seattle
VPN: No
Office Network: Yes

[2019-12-10 18:43] eduardoturconi commented on #350
There must be a reason...

+1

[2019-12-10 18:50] a85 commented on #350
We'd love to hear about specific workflows that people are doing with HAR. We support several formats and most tools export as curl or in some other way. What tools are you using and what is the workflow like?

[2019-12-10 22:20] geoteo opened #7774 "Generate Code Snippit Authorization Incorrect"
When generating code snippits an additional comma gets entered in the Authorization header.

I noticed this when generating code snippits for Python using Python Requests an additional comma gets entered in the Authorization header. The comma before Api-Token should not be there. Example:

`
headers = {
    'Authorization': ",Api-Token XXXXXXXXXXXXX",
`

I am using Postman v7.13.0 on Windows 10.

[2019-12-11 01:03] testerncoder opened #7775 "Collection Runner does not run all the API requests within collection even though selected all option is checked while running. Postman native app- v7.13.0 is the latest version."
Collection Runner does not run all the API requests within collection even though selected all option is checked while running. Postman native app- v7.13.0 is the latest version.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Postman' native app
2. Created a Collection with multiple request inside some folders
3. Write some Test  for all the APIs, saved.
4. Click on "Runner", Go to C

[2019-12-11 01:12] xk0der commented on #7775
@Nidhisachan are any of the requests using the [pm.setNextRequest()](https://learning.getpostman.com/docs/postman/scripts/branching-and-looping/) constructs to branch/loop? That may explain certain requests being skipped.

And when you say some of the requests do not run at all, I assume these requests aren't showing up with the runner either? A screenshot to show requests within the Collection an

[2019-12-11 02:23] Nidhisachan commented on #7775
![image](https://user-images.githubusercontent.com/30372207/70585689-175dba00-1c19-11ea-9ce4-c0e24002d23d.png)

@xk0der I have not used pm.setNextRequest() anywhere, and all the collection request are showing in the runner window. I have attached screenshot of runner window if that might help.

[2019-12-11 04:13] xk0der commented on #7775
@testerncoder What do you see in the "Run Result" window and [Postman Console](https://learning.getpostman.com/docs/postman/sending-api-requests/debugging-and-logs/) when you start the run? Does it show all the requests or some of these requests do not even show up in the  "Run Result" window or in the Postman Console?

I understand sharing the collection at this public tracker may not be possible

[2019-12-11 06:05] sankalp0o commented on #6027
We've identified the root cause and are working on a solution so that this doesn't occur. It's technically complex so taking some time. In the meanwhile, if you don't see archived collections on upgrading, please unblock yourselves by logging out and logging back in.

[2019-12-11 06:53] Tabassum09 opened #7776 "In postmann -> code -> generate code -> php code generator is not show any options."
**Describe the bug**
In postmann -> code -> generate code -> php code generator is not show any options .

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'postmann'
2. Click on 'code'
3. drop-down select  ''PHP"
4. No option is visible for me. (error)

**Expected behavior**
should show multiple options as curl and others.
![Screenshot from 2019-12-11 12-07-41](https://user-images.githu

[2019-12-11 07:07] abhijitkane commented on #7776
@Tabassum09 Can you enable the 'New Code Generation Mode' setting in the global options (wrench icon in the top-right)? The older code generation mode doesn't support options for any language.

[2019-12-11 07:19] sankalp0o commented on #7497
This issue has been fixed in the latest Postman app.

[2019-12-11 09:38] joepaquette commented on #7757
Additional note: Our team tried to reproduce the issue with a simple express app but was not able to create a reproducible example.

[2019-12-11 10:09] kamalaknn commented on #7497
This is fixed in this one particular case. There are two other modals that are still affected by issue and are being fixed. We can close this once they are fixed.

cc @insomniac12 @sujayvenaik

[2019-12-11 10:32] Boomit2016 commented on #7763
I'm having the same issue. Authorization still works but not in Postman.

[code]

[2019-12-11 10:32] DmitriyKashin commented on #2847
Hi Postman! It's really bad that you don't have this feature. (And  examples reordering, people asking for that from 2015).

The new API module is a good idea, but I can't use it, I don't know why should I use it.

Params Examples, required / optional params,  response format, enum, custom schemas, and other Openapi specs are just ignored by the postman, and not showing in documentation or request

[2019-12-11 10:34] SebastianJust commented on #7763
Yes exactly the same for me.

[2019-12-11 11:44] GroomedGorilla commented on #7495
@sorakiu 's fix worked for me on Mac OS Catalina.  To summarise:

1. I added `chmod +x nativeserver-MacOS` to the `install_hosts` file (I put it right above the final `echo` line)
2. Run the script again (`bash install_hosts`)
3. You will likely get security warnings from the OS saying the script if from an untrusted developer. Open System Preferences > Security & Privacy. In the General tab you s

[2019-12-11 12:16] coditva commented on #7747
@snkkid99 Thanks for reporting!
This seems to be a problem in `postman-runtime`'s state management for NTLM auth. We'll let you know when we have a fix. Stay tuned!

[2019-12-11 12:19] JoeScho commented on #7075
Thirded! This would be super useful. I work with multiple APIs which are deployed in different regions and environments. So I end up with various env files such as dev_eu, dev_us, etc.

It would be great to have a couple of selectors so I could select one for the environment, and the other for the region.

[2019-12-11 14:29] cowlinb6 opened #7777 "Using Postman to test IdentityServer4 OAuth 2.0 Authorization Code Flow Fails"
**Description**
Attempting to use Postman with OAuth 2.0 Authorization Code does not work. When I'm prompted to login and enter correct credentials when I click the Login button it just redirects back to the login screen.

I was expecting the token to be retrieved.

**To Reproduce**
Steps to reproduce the behavior:
1. Create new request within Postman
2. Set the Auth type to be OAuth 2.0
3. Set th

[2019-12-11 14:37] lostdev commented on #2833
It happened to me today as well. I had to use the workarounds proposed above, but this happens all the time when I remote into my computer, which converts my 3 screens into one.

[2019-12-11 15:05] chrisyorkston commented on #4785
Would love to have this feature.

[2019-12-11 15:21] vandenbergjp commented on #7777
I'm also experiencing the same issue.

[2019-12-11 15:56] JoelAzevedo commented on #7751
Hi @dushyantchillale, you're welcome. I can still reproduce the issue. In fact, I just tested it now, same Postman version and same OS.

[2019-12-11 16:46] aswanthpp commented on #7762
@gdbhowmick
<img width="1680" alt="Screenshot 2019-12-11 at 10 13 59 PM" src="https://user-images.githubusercontent.com/20645925/70641529-caeb9c00-1c63-11ea-9cb0-7e5f1a9d571c.png">

I am getting this error

[2019-12-11 17:33] jjware commented on #7668
I have confirmed that this does not happen on Windows and appears to be specific to *nix distributions.

[2019-12-11 17:34] jjware commented on #7668
This issue can be resolved by adding the SSO provider URL to my hosts file, indicating a relation to DNS.

[2019-12-11 17:40] jjware commented on #7668
When on an internet connection, I have no problem signing-in to the Postman native app through our SSO provider... However, as soon as I get on our organization's internal network, I am no longer able to get passed the loading screen pictured in the original issue statement.

I believe this is related to DNS. I have two DNS servers listed by systemd-resolve, and am able to ping both of those serve

[2019-12-11 18:21] mariotee opened #7778 "Postman Collection Runner Stops Test Run If Any Request Has Empty Url"
**Describe the bug**
When a request in a collection has an empty URL, then not all tests run in Collection runner

**To Reproduce**
Steps to reproduce the behavior:
1. Create New Collection
2. Create a Request in Collection with Tests
3. Create a Request with empty URL
4. Create another Request in Collection with Tests
5. Run Collection Runner
6. See Collection Runner output only shows tests for r

[2019-12-11 18:22] JP-from-Postman opened #7779 "Misleading error message when trying to join a team that is full"
**Is your feature request related to a problem? Please describe.**
When attempting to accept an invite to a team that has no open slots, the error message that is shown is misleading (Invalid invite code). In the screenshot below, the invite _is_ valid, it just can't be used because the team is full.

<img width="606" alt="Screen Shot 2019-12-11 at 9 50 25 AM" src="https://user-images.githubuserco

[2019-12-11 19:49] SebastianJust commented on #7763
After restore back up of my PC It worked.

But I think we still need an answer why that happened?

[2019-12-11 20:00] benlind commented on #1231
If you are on a Mac you can manually override the Postman next/previous keyboard shortcuts via System Preferences:

1. Go to System Preferences > Keyboard, select App Shortcuts in the sidebar, and click the plus icon.
2. Select Postman from the App dropdown and enter "Next Tab" or "Previous Tab" as the Menu Title. Select the Keyboard Shortcut input and press the key combination you want to use (in

[2019-12-11 20:01] Quietbeat opened #7780 "Clicking Retry after modifying a Test doesn't run the scripts with the modifications"
**Describe the bug**
My Collection has 4 Collection variables and numerous API requests. Each Request has a parameterized URL along with 7 Tests and a test data file. If I start the Collection runner, modify a Test then click Retry in the Collection Runner, it will use the Collection Variable default values instead of the data from the test data file. I start the Collection runner, modify a Test t

[2019-12-11 20:18] Quietbeat opened #7781 "Auto detect if a Data file is out of date in the Collection Runner"
**Is your feature request related to a problem? Please describe.**
No

**Describe the solution you'd like**
When I'm in the Collection Runner (CR) and a run has completed, I'll update the Data file then run the collection again but sometimes I forget to remove the current Data file and re-select the updated file. I'd be super handy if you could auto-detect a date/time change to the associated Data

[2019-12-11 21:22] Quietbeat opened #7782 "Add ability to only show Passe or Failed runs in the Collection Runner"
**Is your feature request related to a problem? Please describe.**
No

**Describe the solution you'd like**
When the Collection Runner (CR) has completed a run, I want the option to see just the Passed or Failed iterations. You could turn the # of Passed and Failed circles (under the Collection Runner tab) into actual buttons.

In most of my tests, I have Scripts that run once the test is complete

[2019-12-11 22:04] tomprogers commented on #4296
It's really hard to take Postman seriously as a testing tool when the debugging experience is so crummy.

1. It is unacceptable for the test runner to discard any information from the test run. All of it might  be needed to diagnose failures. It should not matter which UI button the dev uses to trigger the run. All this nonsense about "are you retrying vs running from scratch" is beside the point.

[2019-12-11 22:48] skyvondave commented on #2489
63 comments isn't widespread? We've had problems with it off and on, and some of our clients use it. If it's a problem, leave it open until it's fixed; don't close it because it's not bothersome enough.

[2019-12-11 23:14] fernandomediavalet commented on #7763
This issue is definitely happening to me as well since yesterday. I spent the entire day trying to tweak cookie settings on my identity services API, until I realized it wasn't working only when using Postman (native app). It _does_ work on the deprecated Chrome extension, though.

@SebastianJust's details seem to be good enough, but I will happily provide you with more logs if needed. Let me know

[2019-12-11 23:20] fernandomediavalet commented on #7777
Probably caused by the same problem described by #7763

[2019-12-12 00:31] CookieMonitor opened #7783 "Unable to delete API version"
**Describe the bug**
When testing the ability to create API versioning, I created a 'test_version' as per screenshot 1.
Made a few changes, pressed the sync button in Postman. (Unsure whether this actually made the changes or not..)

When attempting to delete the API version branch, it keep returning an Error. Almost as if the request is invalid or something.

**To Reproduce**
Steps to reproduce t

[2019-12-12 00:47] ddunlop commented on #5897
Thanks! I appreciate it!

[2019-12-12 01:40] dseligson commented on #7325
Yes--This would be very helpful!
We have a scenario where some Consumers are not allowed access to all APIs.
Given one of these test runs, an error message (API_NOT_ALLOWED) would be Successful.
But then I would want to skip the rest of the API calls thereafter such that:
if (API_NOT_ALLOWED) { pm.skipCurrentRequest(); }

[2019-12-12 02:49] Axzc opened #7784 "Postman black in full screen"
**Describe the bug**
Ijust opened postman,did nothing,I encountered this problem in V7.9.0.but I still have the problem when upgrading to 7.13.0

**To Reproduce**
Steps to reproduce the behavior:
1. Open the Postman application.
2. Wait a few seconds

**Screenshots**
![screenshots](https://user-images.githubusercontent.com/25051943/70678718-d673ad00-1ccd-11ea-9bc1-701ce1e72f99.png)

**App informat

[2019-12-12 03:01] chen-yi-tester opened #7785 "Need an overflow bar in Collection Runner‘s Run Summary"
**Is your feature request related to a problem? Please describe.**
When i run the collections for 100 times, i can only see 50 or less result
**Describe the solution you'd like**
An overflow bar in Collection Runner‘s Run Summary so I can drag and see more
**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Addi

[2019-12-12 03:44] codenirvana commented on #7575
Closing this issue as we are not able to reproduce this internally and we haven't seen other users facing the same.

Please feel free to reopen if the issue persists or you can help us with the steps to reproduce this issue.

[2019-12-12 03:44] #7575 closed, assigned to codenirvana

[2019-12-12 04:19] ab-cc commented on #208
This looks like a good approach, please add support for WSDL based collection generation...

[2019-12-12 05:37] kartikjain26 commented on #7682
@eoneal89  We are working on this fix currently. I'll let you know as soon as it is out there in production.

[2019-12-12 06:34] tithisharma98 commented on #3793
Hi @mliq @Pictor13 @geoffrothman ,

We are doing some interventions around how can we make the interceptor more accessible and understandable in our native application. Would you be interested to get on a quick 35 mins call to help us understand the uses cases better? :)

Do let us know!

[2019-12-12 06:45] kamalaknn commented on #7784
@Axzc

Thanks for reporting the issue. Could you send the logs from `View -> Developer -> Show logs in Explorer` to `help@getpostman.com` so we can take a deeper look at this issue.

I'm closing this issue as a duplicate of #4764. Please subscribe to the linked issue for updates.

[2019-12-12 06:45] #7784 closed, assigned to nobody

[2019-12-12 07:28] harshachelle commented on #6102
@sankalp0o - Currently, admins do not have access to control naming of workspaces. In large teams, such an access to admins or super-admin is crucial to manage and govern the workspaces.
Something to keep in mind as we work towards building such a feature!

[2019-12-12 08:18] vvs11 commented on #7484
Hi @johanlunds, Thanks for reaching out!
Could you tell us more about how you created the mock server and elaborate a little more on the two requests that you have along with the responses in the schema?
If you have generated collection from the schema, could you check the examples that are created fro the request you're sending?

[2019-12-12 08:35] vvs11 commented on #5839
@TomasAndersen Thanks for writing in
Could you go through this thread and see if it solves your problem?
https://community.getpostman.com/t/mocked-responses-where-the-url-is-identical/7953
Let us know if you need any more info

[2019-12-12 08:37] vvs11 commented on #4700
You can do header matching in mock servers. It should solve your issue.
Could you go through this thread and see if it solves your problem?
https://community.getpostman.com/t/mocked-responses-where-the-url-is-identical/7953
Let us know if you need any more info

[2019-12-12 08:41] vvs11 commented on #6329
Could you go through this link and see if it solves your problem?

https://learning.getpostman.com/docs/postman/mock-servers/mocking-with-examples/

I am not sure how do you want to use wildcard matching. Could you elaborate on this further?

[2019-12-12 08:42] vvs11 commented on #7491
We have changed the content for now to reflect the correct state but will add more options to add headers in the future. Marking it as feature request .

[2019-12-12 08:47] vvs11 commented on #5901
Could you check the documentation for wildcard matching in mocks and see if it solves your problem?
https://learning.getpostman.com/docs/postman/mock-servers/matching-algorithm/

Please let us know if you have more queries

[2019-12-12 08:59] dushyantchillale commented on #7751
@JoelAzevedo Thanks for your response. Could you please write into Postman Support via email : help@getpostman.com from the email used to login to Postman? We'll take a look into it!

[2019-12-12 09:14] mahmoudIsProgramer commented on #6967
+1

[2019-12-12 09:28] SebastianJust commented on #7777
After i've installed my back up it works. I truly don't get it, why it doesn't work.
If i use: SOAP UI it's the same issue.

[2019-12-12 09:28] SebastianJust commented on #7763
FYI if i use SoapUi i have the same problem.

[2019-12-12 09:29] labifrancis commented on #5273
Our Engineering team was able to find a workaround for using the _Run In Postman_ on Ubuntu. For _Run In Postman_ to work, the `.desktop` file must be present. This file is not automatically created when you do a fresh install of the app. You'll need to follow the instructions in the guide below to create the file:

https://learning.getpostman.com/docs/postman/launching-postman/installation-and-up

[2019-12-12 09:41] Anwartest opened #7786 "Postman console - copy-paste bug"
Hello!
I am sorry - my so-so english. (i am free write - russian language)
I am find new bug in the Postman Console window.

when postman have more 30 rows string text (very many, no a little) - i do Select All (Ctrl+A) and Copy (Ctrl+C). Then i paste text in notepade - and i see not all copy and pasted. On postman console - if i go page down on last row - and Select All and Copy - only then - it

[2019-12-12 10:36] ritwijsinha commented on #7786
Duplicate of #7685

[2019-12-12 10:36] #7786 closed, assigned to ritwijsinha

[2019-12-12 11:33] marco-brandizi commented on #2489
@wouter-veeken, as I've already wrote long ago, @JRPeq's solution isn't acceptable for a serious user: I don't want to lower my system's security by changing an app's permissions or ownership just because its upgrader doesn't work properly. The proper way to upgrade in macOS is asking the non-admin user to type the credentials of another user which has admin rights, then running the installation p

[2019-12-12 11:37] piyush62 commented on #6045
Tried using the above-given commands. But it is not working. Still on 6.74v.
Kindly help with valid commands.

[2019-12-12 11:41] rlundy commented on #3466
All this sounds lovely, but it brings to mind that saying about letting the Perfect be the enemy of the Good.  Autosave might not be perfect, but it's a lot better than what we have now: Either losing work, or UI annoyance by being asked for every tab if we want to save it.  (Also, that update was from a _year_ ago.)

How about a quick autosave option that we can use _now_ instead of some kind of

[2019-12-12 11:58] rustichowie commented on #7592
Any updates on this bug? We are experiencing the same thing, and it looks like the problem also happens in other REST debugging tools based on Electron (Insomnia).

[2019-12-12 12:28] kkadir commented on #7777
Having the same issue on v7.13.0, but it used to work as expected before. I am not sure if this broke after a Postman update or IdentityServer4 update or ASP.NET Core 3.1 update.

[2019-12-12 12:35] MarekKrolczyk opened #7787 "Offline message all the time - user cant join team or sync collections"
**Describe the bug**
I'm not able to join team and sync collections. Offline error is displayed all the time. It worked before, problem exists few days already.

**To Reproduce**
Steps to reproduce the behavior:
1. Log in to postman native app
2. Click on 'Join' button
3. See error:
vendor-shared.js:197411 Could not find on CollectionStore. Missing or invalid parameter.
(anonymous) @ vendor-shared

[2019-12-12 14:05] lansalot commented on #7731
Yes - see line 191 here:
https://gist.github.com/lansalot/dda138dd1fb4d175e556450bcbd0145a

[2019-12-12 16:01] ghost opened #7788 "Duplicating cookies - different path"
**Describe the bug**
Postman App / Canary App - both Windows applications produces the same results, in that a manually set cookie by another Appliance is duplicated and the path takes on the url of the request sent, not what was set.
The Appliance setting the cookie is IBM DataPower, it creates a "sticky" cookie to backend servers with a path of '/'. When the response is returned (first time = OK

[2019-12-12 16:06] fernandomediavalet commented on #7777
The issue happens on v7.13.0 as it's not keeping/storing the authentication http-only cookies dropped by IdentityServer (even though when using Fiddler you can clearly see that the cookies are sent as response to previous methods in the authentication dance), and when therefore the not-stored-cookies are not sent along with the request that requires them (by default, "/signin-oidc")

[2019-12-12 16:42] jerwaynejones commented on #3298
Any progress on this?

[2019-12-12 17:53] keyuls commented on #4854
Please provide the functionality to access the request data sent to the mock server. so it is possible to implement scenario like this :

https://community.getpostman.com/t/saving-request-data-sent-to-mock-server/9577

[2019-12-12 17:54] yurriiy commented on #5194
+1

[2019-12-12 18:10] joepaquette commented on #7757
We've identified the cause of this issue. Postman automatically includes a set of request headers that includes `Accept-Encoding` set to gzip and deflate. There appears to be a problem with our underlying Apache server not correctly handling this. If we manually set `Accept-Encoding` to any of the following (*, identity, deflate), Postman completes successfully. If we manually set `Accept-Encoding

[2019-12-12 18:10] #7757 closed, assigned to nobody

[2019-12-12 19:05] Quietbeat opened #7789 "Feedback on documenting a collection"
**Is your feature request related to a problem? Please describe.**
No

**Describe the solution you'd like**
I just started using the Documentation feature and I've got some feedback; as it's a bit, so I've attached a document and screenshots to describe everything.

**Describe alternatives you've considered**
None

**Additional context**
[Postman Feedback.txt](https://github.com/postmanlabs/postma

[2019-12-12 20:11] rwilliams3 opened #7790 "Hardcoded Collection Variables Disappear"
**Hardcoded Collection Variables Disappear**
Once a collection is either updated via fork merge or exported/imported to/from json, hardcoded collection level variables disappear entirely. My team and I used the collection variables to store long queries and large json objects. Its a bit of a pain to keep replacing them or to set them via pre-request scripts.

**To Reproduce**
1. Set a hardcoded co

[2019-12-12 20:45] fernandomediavalet commented on #7777
Here are some logs to show that the cookies are sent as a response, but Postman isn't storing them:

![image](https://user-images.githubusercontent.com/37375046/70747033-f5793b80-1cdb-11ea-86b2-9a23ba26a2f9.png)

This then causes the subsequent calls to /signin-oidc to fail since the http-only cookies are missing in the request.

![image](https://user-images.githubusercontent.com/37375046/70747615

[2019-12-12 21:06] samuelaguiar commented on #5302
+1

[2019-12-12 21:18] bsnahrwold79 opened #7791 "{{$guid}} system variable is executed each time the variable is accessed"
**Describe the bug**
A REST API call with {{$guid}} in the payload modifies the guid not only when the call is executed but every time it is accesses when you click Code to see the request. The static request generated should not change.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a rest POST call with a payload containing {{$guid}}
2. Click on Code  (Below Send / Save buttons) to

[2019-12-12 21:19] jbgrunewald commented on #2833
I just experienced this today. Mac OS Catalina 10.15.1, Postman Version 7.13.0

[2019-12-12 23:14] sixcorners opened #7792 "Stop deleting my collections"
**Describe the bug**
Postman keeps deleting everything when I can't sign in and not reloading things when I sign in again.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a bunch of stuff in postman
2. Wait for months until you aren't signed into postman.
3. Click that you can't sign in right now and you just want to use postman.
4. Observe that all of your stuff is gone.
5. Sign in a

[2019-12-12 23:50] xk0der commented on #7792
@sixcorners do check at Postman's online dashboard here: https://app.postman.co/me/collections  to see if all your data shows up online

If you use the same account details to sign back into Postman app the data should sync back. Since that's not working for you do log a support ticket with us here https://www.getpostman.com/support providing your email ID used for your Postman account so that we

[2019-12-13 00:08] xk0der commented on #7791
@bsnahrwold79
Code generation is like sending a new request, and the reason why the variable is resolved every time a new code snippet is generated so that it can be copied and pasted wherever the request needs to be executed.

I believe you are already doing this unless you meant something else by system logs:
[Postman Console](https://learning.getpostman.com/docs/postman/collection-runs/debuggin

[2019-12-13 00:23] xk0der commented on #7790
@rwilliams3 I tried the steps you mentioned and was unable to reproduce the issue. The variables persisted in both the scenarios (merge and import). That causes me to think that possibly the issue might be related to the values being stored in the variables?

I used simple values only, looks like JSON objects might be the cause of the issue.

Would you try the steps with some simple variable names

[2019-12-13 00:29] xk0der commented on #7787
Hey @Jaszczomp997, I see you already tried turning off firewalls - but I assume that was the firewall on your machine? If you are trying this within your company/organization maybe they are blocking HTTP sockets.

Postman uses HTTP sockets to perform sync and other network operations. From the screenshot, it looks like HTTP sockets are being blocked.

The easiest way to test this would be to try c

[2019-12-13 01:27] techinpark commented on #675
not yet?

[2019-12-13 02:06] ASStroh commented on #7780
1. You need to back out (click Collection Runner tab - top-left) between runs if you are using a data file (the iteration does not reset unless you reset the runner.

2. Ensure you've saved your changes between collection runs. If you don't save your changes, they will not be included in a subsequent collection run.

[2019-12-13 02:18] ASStroh commented on #7781
You need to manage this yourself. It's a security issue to allow this web-based application to listen to all of your system's directories. Also, not really a big deal to have to tell Postman you've updated a data file.

I recommend newman/CLI. Used cleverly, it can solve your problem, and more.

[2019-12-13 02:45] chrisdreams13 commented on #4391
+1 Any chance to get it for x-mas???

[2019-12-13 02:47] ASStroh opened #7793 "Add Pako (gzip Decompression Library) to Postman Sandbox"
**Is your feature request related to a problem? Please describe.**
Yes. I've scoured the web seeking a solution to my gzip response decompression issue, using vanilla JavaScript. One does not readily exist, but I stumbled upon a library that may provide this nuance feature. The _[Pako](https://github.com/nodeca/pako)_ library.

**Describe the solution you'd like**
It would be highly beneficial to

[2019-12-13 03:54] renato-milan-latam-com commented on #6669
Hi, there!

Could you please help me having back my collection _iPOS_ from _Cappta_ team workspace?

Regards,

Renato

[2019-12-13 05:02] harryi3t commented on #7792
@sixcorners Was the data deleted before or after you signed in? If it was deleted before even signing in, do you remember what action led to the data deletion?

[2019-12-13 06:25] Jaszczomp997 commented on #7787
Fixed with cleaning local storage : https://support.getpostman.com/hc/en-us/articles/360025359014

[2019-12-13 06:25] #7787 closed, assigned to nobody

[2019-12-13 08:21] coditva commented on #7450
Hey @ronenneumark, thanks for writing in!

This is the expected behaviour. Runner expects every element in the data array to have the same keys. The first element is used to set the expectations. **If there is any key that is not present in the first element, it is not imported.**

To do this, you must edit your data file and add the missing keys in the first element:
[code]

Hope that helps! Clos

[2019-12-13 08:21] #7450 closed, assigned to coditva

[2019-12-13 09:28] ankurdengla1996 commented on #7481
@jonsworkalias You can disable autocomplete in the `Settings -> Variable Autocomplete`

![image](https://user-images.githubusercontent.com/26045713/70787524-db5f5c00-1db4-11ea-846a-986bb9bb0316.png)

The reason for these suggestions appearing in your case are that `le` in the first case matches the substring `le` for the variable `cycle_awsinstanceTy` and similarly `let` matches substring in `hide

[2019-12-13 10:06] scodeman commented on #4009
+1

[2019-12-13 10:44] torkelrogstad commented on #7770
Thanks for filing this issue! We (Arcane Crypto) use Postman for our API documentation, and would really love this feature.

[2019-12-13 10:46] melaniemarc opened #7794 "OpenApi 3.0.0 import file with remote reference fails"
When I import a specification file (OpenApi 3.0.0) containing remote references to schemas and requestBodies description, Postman is not able to find schema for response from my spec file.
The ./components/schemas and ./components/requestBodies content are not parsed.

Is Postman able to read remote references ?

[code]

Steps to reproduce the behavior:
1. Import file
2. Generate Collection from O

[2019-12-13 11:32] akj009 opened #7795 "Beautify doesn't work if environment variable notation is used within request body."
**Describe the bug**
In POST request with raw JSON body, if I use environment variable and then try to beautify the body (just for inspecting other parameters), it doesn't work. To get it to work, I have to remove the environment variables, then click on beautify and then add them back.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a POST request.
2. Go to 'Body' tab.
3. Select body

[2019-12-13 12:04] bayanistka opened #7796 "broken link in the documentation"
I found the broken link https://learning.getpostman.com/docs/postman/environments_and_globals/variables

![image](https://user-images.githubusercontent.com/32704753/70799170-f5e80400-1db9-11ea-8756-238b5835717b.png)

[2019-12-13 12:10] mig-1 commented on #4287
Same for me but I'm using CSV file.
If click "retry" button, data get from Enviripment variables - not from a file, like it was at first try.

[2019-12-13 14:06] sternam commented on #7010
This workaround helped me get going and finally sign on using Ubuntu 18.04 native Postman app. Thanks!

[2019-12-13 14:24] SezarRasoul commented on #971
randomEmail is using existing email adresses. This is not ok.

[2019-12-13 14:27] JoelAzevedo commented on #7751
Sure. Already sent.

[2019-12-13 15:17] teckler opened #7797 "{{$randomStateAbbr}} not returning any result"
**Describe the bug**
When using the dynamic variable {{$randomStateAbbr}}, no results are returned. Other dynamic variables are working as intended.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a pre-request script with the following code in any dummy call:
pm.variables.set("tst_regionCode", pm.variables.replaceIn('{{$randomStateAbbr}}'));
pm.variables.set("tst_fullName", pm.variab

[2019-12-13 15:43] akadatsky opened #7798 "Could not login via Google"
Could not login by using Google with reason "This browser or app may not be secure".
I have the latest Postman v7.13.0  installed on Linux.
And actually I can't use the app because I don't have other login option and can't skip it.

![Screenshot from 2019-12-13 17-39-55](https://user-images.githubusercontent.com/2796990/70812126-af050900-1dcf-11ea-904b-8a511ed015c8.png)

[2019-12-13 15:59] Quietbeat opened #7799 "Clicking Retry after modifying a Test doesn't run the scripts with the modifications"
**Is your feature request related to a problem? Please describe.**
Ye, related to a Bug I created: #7780

My Collection has 4 Collection variables and numerous API requests. Each Request has a parameterized URL along with 7 Tests and a test data file. If I start the Collection runner, modify a Test then click Retry in the Collection Runner, it will use the Collection Variable default values instea

[2019-12-13 16:04] Quietbeat commented on #7781
I'm using the Postman app in Windows 10 so you can implement a feature/task to auto-check if a file has changed. I'm not going to use Newman.

[2019-12-13 16:56] praveendvd opened #7800 "IterationData is not getting reflected in local variable value"
**Describe the bug**

IterationData is not getting reflected in the below approach

**To Reproduce**

**Steps to reproduce the behavior:**

- There is a environmental variable '**space**' with value 'initial'

- I have data file "data-copy" that have different values for space (have attached in zip)

- If modify local variable in pre request script then the local variable is not getting replaced a

[2019-12-13 18:43] stcalica opened #7801 "Customize Postman Monitor test results to Slack"
** Filing on behalf of user**

**Could you add an option to condense the output or remove the "Failed Tests" section?**

**Describe alternatives you've considered**
The user was given a collection by support to take output and pipe into Slack using Newman.

[2019-12-13 18:55] JP-from-Postman opened #7802 "Cannot skip login when connection to Postman's servers is blocked"
**Describe the bug**
From a fresh installed state, the app shows "Something went wrong" error when connection cannot be established to our service. This may be because the client is disconnected from the internet, or because an organization has blocked access to our servers.

This is problematic for users who are part of an organization that blocks access to Postman's servers. Due to the error, us

[2019-12-13 19:49] jkjgabrielsen commented on #7802
To clarify, I had postman installed @7.13.0 then:
* moved Postman.app to trash
* `rm -rf ~/Postman`
* `rm -rf ~/Library/Application\ Support/Postman`
* re-downloaded postman-osx-7.13.0.zip
* extracted to `~/Downloads`
* double-click to run

and error is displayed in main:
![image](https://user-images.githubusercontent.com/15989039/70827461-e7481f80-1dae-11ea-951f-447b594ba8cb.png)
Attempting to e.

[2019-12-13 19:49] rbudnar commented on #7798
I've got the same issue as well using the app on Windows 10.

[2019-12-13 23:26] gerardo-cauich commented on #6682
+1

[2019-12-14 10:35] vdespa commented on #971
@SezarRasoul I agree with you that this is not optimal. You need to understand that this implementation is relying on the Faker library.

I think you need to accept that the data-set presented does have limitations and I can assure you that email addresses are not the only ones.

You can relatively easy use other strings and append them to @examle.com so that they match your current needs.

[2019-12-14 12:59] sharebright commented on #3977
Hi,
I am using version 7.13.0 of postman and using IdentityServer4 and having the same issue with 0Auth2 flow as reported here - https://community.getpostman.com/t/using-postman-to-test-identityserver4-oauth-authentication-code-flow/9524

[2019-12-14 17:40] yurriiy commented on #2701
+1

[2019-12-14 19:56] dvershinin commented on #1321
Awesome tip by @tangyl about using Privoxy.
Basically it can "add" SOCKS5 support to any app which doesn't natively support SOCKS5.
Documented my experience with Postman + Privoxy [here](https://www.getpagespeed.com/server-setup/beyond-privoxy).

[2019-12-14 20:56] Cereal916 opened #7803 "bitbucket support"
**Is your feature request related to a problem? Please describe.**
Bitbucket is the only thing we are allowed to use at work. Without proper version control developers at my work tend not to put much effort into maintaining a single collection.

**Describe the solution you'd like**
Integration with Bitbucket would help me make the argument to move to postman pro.

**Describe alternatives you've co

[2019-12-14 21:02] Cereal916 opened #7804 "Postman on-prem"
**Is your feature request related to a problem? Please describe.**
I work for a company that deals with a lot of PII/PHI. So when evaluating software we use internally there is lots of scrutiny about any information that is stored outside the company, even if it is just test data.

**Describe the solution you'd like**
If there was an on-prem option for enterprise it could completely revolutionize

[2019-12-15 04:25] xscheck commented on #7798
Another data point if it matters: I am getting same error on Mac OS X (Catalina 10.15.1). Postman v7.13.0.

[2019-12-15 17:48] yugn commented on #7286
+1

[2019-12-16 00:23] svict4 commented on #7763
Thanks for the workaround in the meantime.

[2019-12-16 02:56] wuyazibest commented on #5803
我遇到了该问题，最后我发现是我的请求格式问题，发送的请求应该是json，但是我在最后面多了以个"  ,  "  ，导致json格式错误

[2019-12-16 04:36] ankit-m commented on #7803
Duplicate of #4780

[2019-12-16 04:36] #7803 closed, assigned to nobody

[2019-12-16 04:40] harryi3t commented on #7798
Duplicate of https://github.com/postmanlabs/postman-app-support/issues/7700

[2019-12-16 04:40] #7798 closed, assigned to nobody

[2019-12-16 05:14] ankit-m commented on #7073
We are working on this. It will be released soon.

[2019-12-16 05:19] harryi3t commented on #7796
@bayanistka For me, it's redirecting to https://learning.getpostman.com/docs/postman/variables-and-environments/variables/ which opens fine. Can you check again?

[2019-12-16 05:22] ankit-m commented on #4161
Closing this in favour of #3261

[2019-12-16 05:22] #4161 closed, assigned to anudeepmedicharla, preethammavin

[2019-12-16 06:31] rohit-smpx commented on #3563
This would really improve Postman as an API testing tool. The current workflow of exporting collections before committing and deleting & importing collections after changing branches is very cumbersome. Anyone have any better workflow suggestions?

Related old issues (linking for others who might stumble from Google):
- https://github.com/postmanlabs/postman-app-support/issues/3475
- https://githu

[2019-12-16 06:33] darkcorn1997 commented on #2992
i deleted ‘window’ on my macos instead of ‘requester.json’， it have solved

[2019-12-16 09:01] ash007-postman opened #7805 "Environment not syncing when updating via Postman API"
**Describe the bug**
 We are using Postman in our organization to run integration tests against our API.
Now, we seem to have an issue with this. In order for this to work, an API key must be generated.
This can be done, by a user A logging into the portal and create a new API key. However, when another person B is updating environment variables, they don't seem to be picked up until user A syncs

[2019-12-16 09:29] freerider7777 commented on #4687
Same thing, too much memory for small requests...

[2019-12-16 09:36] preethammavin commented on #7591
Closing the issue for now, do reopen the ticket with the above mentioned information for us get to the bottom of it.

[2019-12-16 09:36] #7591 closed, assigned to nobody

[2019-12-16 09:39] shamasis commented on #7727
I see your use-case, but if I may, I would rather suggest a different approach than the scripts knowing workspace related info. The scripts knowing workspace will cause unexpected coupling while executing collections out of context of workspace - say as a monitor or say in CI.

I'm afraid that this may not be possible at the moment. Closing this.

Meanwhile, I am looping in @vkaegis to assimilate

[2019-12-16 09:39] #7727 closed, assigned to vkaegis

[2019-12-16 09:43] preethammavin commented on #7724
@kdfemi I dont think this is something we would pick up in the short or mid-term as a feature request, but you could unblock yourself in multiple ways either naming the request to implemented or now, or would keep two folders in the collection one which has designed ones and another implemented ones.

I personally use forks to track what needs to be implemented to what is implemented.

[2019-12-16 09:43] #7724 closed, assigned to nobody

[2019-12-16 09:49] preethammavin commented on #7734
@joshua-bn can you explain the workflow a bit more so that I can recommend any solutions or device one in the product.

If you do have many variables that you would want to find, I would recommend using our find and replace which basically searches everything in your workspace (variables,globals,collections). Let me know if this works.

Else feel free to reopen the issue.

[2019-12-16 09:49] #7734 closed, assigned to nobody

[2019-12-16 09:51] vanthuanqs opened #7806 "Could not properly import curl with "X-XSRF-TOKEN""
**Describe the bug**
I am facing with error _Could not get any response_ after import curl

**To Reproduce**
Steps to reproduce the behavior:

1. Click on button **Import**, choose **Paste Raw Text** and submit
![image](https://user-images.githubusercontent.com/4916817/70896162-ca1b8700-2022-11ea-9d79-407b902e9b73.png)

2. Click on **Send** button to send the request
4. See error (of couse I turne

[2019-12-16 10:14] cyrielle-hada commented on #7804
@Cereal916 Unfortunately, we don't currently have any plans for an on-prem version of Postman.

In the event that our cloud-based product doesn't meet your organization requirements - you may want to explore  [Newman](https://learning.getpostman.com/docs/postman/collection-runs/command-line-integration-with-newman/) - our open-source command-line runtime tool for Postman collections.

- https://gi

[2019-12-16 10:35] aamir-ahmed opened #7807 ""400 SAML assertion not yet valid" error after submitting ADFS credentials for SSO Login"
**Describe the bug**
Unable to login to Postman application or Dashboard via SSO Login after entering ADFS credentials

**To Reproduce**
Steps to reproduce the behavior:
1. Click on Enterprise Sign-in
2. Select ADFS as iDP
3. Enter ADFS credentials and submit
4. 400 SAML assertion not yet valid error message on the screen

**Expected behavior**
Being logged into the Postman application or Web Appl

[2019-12-16 10:42] preethammavin commented on #7764
@seandcoleman do you have any check on the origin of the request on the server-side for the POST request?

[2019-12-16 10:45] preethammavin commented on #7771
@MozartHetfield can you try the Postman API for importing as specified in the doc and let me know if it works
https://docs.api.getpostman.com/?version=latest#09886971-e1e2-4a62-8f59-f7abfd79ff5e

[2019-12-16 10:46] preethammavin commented on #7776
@Tabassum09 closing the issue for now, do let us know if the issue still persists and reopen the issue.

[2019-12-16 10:46] #7776 closed, assigned to nobody

[2019-12-16 10:52] preethammavin commented on #7805
@ash007-postman are both the users online when this happens
Also trying to reclarify the issue
1) User A generates the API Key and pastes in an environment variable
2) User B Tries to run the collection/ send a request with the same environment
3) No changes on the environment are reflected till the user makes changes to the collection

This should not happen, can you check if the user had pasted

[2019-12-16 10:53] #7804 closed, assigned to nobody

[2019-12-16 10:58] preethammavin commented on #7796
@bayanistka it's redirecting me to the page mentioned above, feel free to reopen the issue if it is not solved

[2019-12-16 10:58] #7796 closed, assigned to nobody

[2019-12-16 10:59] #7791 closed, assigned to nobody

[2019-12-16 11:17] abhijitkane commented on #7806
Able to reproduce with `curl -H 'X-XSRF-Token: Hello' http://domain.com`

[2019-12-16 11:17] abhijitkane commented on #7806
Thanks for reporting this @vanthuanqs. We'll take this up soon.

[2019-12-16 11:24] SezarRasoul commented on #971
@vdespa  Thank you for your attention to this matter.
I found that you can use {{$randomFirstName}}@example.com instead :-)

[2019-12-16 11:40] vvs11 commented on #7785
Hi, @chen-yi-tester.  Thanks for writing in!
We will look into this and will update you with a timeline soon.
Could you let us know more about the use-case you're trying to solve with collection runs? It'd help us design a better UX

[2019-12-16 13:25] sadina-jarga-magar commented on #6780
how to solve this error?

[2019-12-16 13:32] vanthuanqs commented on #7806
@abhijitkane Thank you!

[2019-12-16 13:33] vanthuanqs commented on #7806
@abhijitkane This problem is also happened on Mac OS
Postman for Mac
Version 7.13.0
OS X 19.2.0 / x64

[2019-12-16 14:16] chen-yi-tester commented on #7785
![无标题](https://user-images.githubusercontent.com/57658722/70913750-9146d680-2051-11ea-907a-1e16fe3a8b33.png)
I just wanna this (as you can see in the pic i uploaded)

[2019-12-16 15:21] shleym opened #7808 "Postman adds extra line in the header, when use a global variable"
**Describe the bug**
I try to run several request that uses AUTHORIZATION header.
When I defined AUTHORIZATION with some-authorization-key, everything is working fine.
When I defined global variable MY_AUTHORIZATION_KEY with value some-authorization-key and use this global variable for header definition, like {{MY_AUTHORIZATION_KEY}}, the post man put an extra empty line in the request header, whi

[2019-12-16 15:50] andresgardiol commented on #5846
It would be nice

[2019-12-16 16:24] joshua-bn commented on #7734
I don't want to just find the variable, I want to edit the value. Say I have "contact_1" and "contact_2" and up to 10 or so like that. I want to find those by filtering down by "contact" and then I can see them all as a list. This would help me see the variables and values so I can make changes without the distractions of the other variables.

[2019-12-16 17:16] sixcorners commented on #7792
@xk0der I see two "Writing test scripts" which don't have my stuff.
@harryi3t When it asked if I wanted to sign in again there were several options. One of them was to skip log in. I needed to do a request so I chose that option even though it said it would delete stuff. When I signed in again later everything was gone.

[2019-12-16 17:22] enrikas commented on #2302
+1

[2019-12-16 17:40] preethammavin commented on #4687
@freerider7777 @propagating , we are trying to get few of the performances fixes in. Can you give us an idea of your current state of the app when you observed this like the number of tabs open, collections, requests, variables? Also config of your device, this would help us narrow down the issue

[2019-12-16 18:39] vasiliyb commented on #7569
I've been able to get around this bug.  Click Enterprise login, then Try on a web browser.  Logging in via your regular browser works just fine.  Nuisance, but worked

[2019-12-16 20:10] propagating commented on #4687
@preethammavin I've got about 60 requests across 7 collections. I have no variables or collections, no scheduled jobs or batches.

I was playing a game and things got extremely sluggish out of nowhere and wouldn't clear up. The first step was to look at the resource usage. Postman.exe was using up 40% of available RAM, and 23% CPU, If I remember correctly, it was about 23,796,000 K

[Propagating D

[2019-12-16 21:32] seandcoleman commented on #7764
@preethammavin No, the api doesn't have any origin checking.  So long as you have valid API keys it should work.

Note: the API uses Basic Auth and there is no user-level permissions issues as the api only has no permission granularity.

[2019-12-16 22:01] SomeoneElseOSM commented on #6761
I'm seeing much the same effect as above (no response displayed for POST requests) with both Postman-win64-7.13.0-Setup.exe and PostmanCanary-win64-7.14.0-canary01-Setup.exe .

Responses for GET and DELETE come back OK.  Last console log message was "Could not find on CollectionStore. Missing or invalid parameter."  For more detail see:

[postman_example_console.log](https://github.com/postmanlabs

[2019-12-16 22:02] nikprix commented on #4001
I have just bumped into this with Postman Version 7.13.0 on Windows.
Enabling 'Follow original HTTP Method' fixed it for me :)

[2019-12-17 01:14] ShahramHaftlang commented on #327
I have the same problem and had to use raw format to POST body

[2019-12-17 03:47] sankalp0o commented on #7783
Thanks for informing us @CookieMonitor. This shouldn't be happening and we'll look into this.

[2019-12-17 03:50] sankalp0o commented on #5711
Looks like this has been fixed for a while, hence closing this. Please let us know if this issue comes up again.

[2019-12-17 03:50] #5711 closed, assigned to nobody

[2019-12-17 04:04] sankalp0o commented on #7760
@andrewluetgers I agree this can be very useful! We don't have any plans to tackle this right away but we definitely are thinking in the same direction. Will let you know when we are planning for something like this. In the meantime, maybe reach out to the https://community.getpostman.com/ and see what people are doing.
I'd also love to get more inputs from others if they're looking for a similar

[2019-12-17 05:03] vipwwjie opened #7809 "【Help】The request methods what I send by PostMan all become Get"
Just Like This.
In a specified url link, when I send a request other than the Get request，they all become Get Request,Include Post,Delete,Put,and so on.
But if i change a url link,it becomes normal.
My PostMan Version Is 7.13.0
![image](https://user-images.githubusercontent.com/34475480/70966228-7f0a7e00-20cd-11ea-91b0-649a8494c564.png)

[2019-12-17 05:04] vipwwjie commented on #7809
![image](https://user-images.githubusercontent.com/34475480/70966290-b711c100-20cd-11ea-9e8c-02a5d28d4e84.png)

[2019-12-17 05:06] preethammavin commented on #7808
@shleym can you update to the latest version and check if the issue persists. We had pushed a few bug fixes around this and it looks like you are on very old version of the app

[2019-12-17 05:09] preethammavin commented on #7797
@teckler thanks for reporting this, we will let you know when the bug is fixed.

[2019-12-17 05:09] kamalaknn commented on #6133
@sujitblues Thanks for the update.

From your example, it looks like the part of your JSON `"group_id": {{groupid}},` which uses a variable for the value part of your JSON now violates the JSON syntax and prevents the body from formatted.

I'm marking this as a bug so we can take a deeper look at this.

[2019-12-17 05:11] kamalaknn commented on #7795
@akj009 Thanks for reporting this issue.

This looks like a duplicate of #6133. I'm closing this issue. Please follow the original issue for updates.

[2019-12-17 05:11] #7795 closed, assigned to nobody

[2019-12-17 05:22] preethammavin commented on #7781
@Quietbeat I do understand the ease that it would add, but auto-detection in the file change is not something Postman would be doing as it has few concerns around it (one of them being a security concern our users would have).

We do pick the latest version of the data file which is attached for a collection run, if you were to update the existing file we do pick that one. If you were to edit and

[2019-12-17 05:22] #7781 closed, assigned to nobody

[2019-12-17 05:28] preethammavin commented on #7809
@vipwwjie can you verify if the requests go through with curl and let us know? you can generate the request from Postman Code generator which is right below the save button.

[2019-12-17 05:54] tjharrop commented on #5459
Just tried this and it does work. One thing to note - if you switch between the "Get new access token" screen from the "Authorization" tab and the "Variables" tab, it will appear to recognise the variables but it won't work - you need to click update to commit the variables before reopening the edit screen and trying again.

[2019-12-17 05:55] m3dbedb opened #7810 "something went wront message when typing text in tests tab"
**To Reproduce**
Steps to reproduce the behavior:
1. open a collection
2. click on a request
3. open a tests tab with some code
4. See error

**Expected behavior**
It is supposed to work, but the text bacame unawailable untill you open new instance on postman

**App information (please complete the following information):**
 - App Type Native
 - Postman Version 7.13.0 win32
 - OS: windows 7 pro

*

[2019-12-17 05:56] vipwwjie commented on #7809
@preethammavin DELETE /teaching/redis/cache/broadcast HTTP/1.1
Host: dev-api-teaching-codemaster.codemao.cn:80
authorization: Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VyX2lkIjo4NjcsInVzZXJfdHlwZSI6ImFkbWluIiwianRpIjoiMGRkMzFlOTctZWZhZi00ZjczLTg5YzQtZTM4M2Y4ZGM4NjU4IiwiaWF0IjoxNTc1MDI3MTA2fQ.TRqDUyon7m_lHqR-8rTnR6_oxMCSi5Lt0x-df2rEUik
User-Agent: PostmanRuntime/7.20.1
Accept: */*
Cache-Con

[2019-12-17 05:57] vipwwjie commented on #7809
@preethammavin

[2019-12-17 06:08] saswatds commented on #7809
@vipwwjie I have deleted the comment because it contained sensitive information.

[2019-12-17 06:10] vipwwjie commented on #7809
@saswatds ok.I get it

[2019-12-17 06:11] vipwwjie commented on #7809
@preethammavin thanks for your answer.
Postman code as follows:

[2019-12-17 06:20] m3dbedb opened #7811 "edit mode closes unexpectedly"
**To Reproduce**
Steps to reproduce the behavior:
1. Open any collection
2. Right сlick on any folder or request and select "rename"
3. Selected item name became editable
3. Move mouse cursor a bit
4. request or folder name became fixed

**Expected behavior**
It is expected to hold edit mode untill i press return or click anywhere on the screen

**App information (please complete the following inf

[2019-12-17 06:25] harryi3t commented on #7792
@sixcorners Is this the screen you are referring to?
![image](https://user-images.githubusercontent.com/5207331/70969937-21713400-20c3-11ea-9990-4dbf0960faa7.png)

Normally this is only shown the first time you open Postman.
In your case did this screen show up after using the app for some time (days/months)?

One thing that is still not clear to me is that whether you were already signed-in in Po

[2019-12-17 06:48] jazzyarchitects commented on #7783
@CookieMonitor We have drilled down to an issue on our end and are working on a fix. In the meanwhile can do try the following to delete the apiversion:
1. Remove all the mock and monitor relations from the apiversion you are trying to delete
2. Delete the apiversion

Let us know if this works for you.

[2019-12-17 07:25] coditva commented on #7797
@teckler So turns out the documentation is a little bit outdated. To be clear, **Postman does not support `randomStateAbbr` dynamic variable**. We will update the documentation. Sorry for the confusion!

[2019-12-17 07:25] #7797 closed, assigned to nobody

[2019-12-17 07:49] bananaspliff commented on #5459
yes but you can't export...

[2019-12-17 08:18] Gunjan4542 commented on #7762
@aswanthpp  It looks like you have an internet connection issue. Is there any proxy on your network that might be causing the problem?

[2019-12-17 09:22] labifrancis opened #7812 "Define and describe schemas for responses in a generated API doc"
Users want to be able to describe the schema for a response using a built-in feature and publish it in a documentation. Currently, Postman only has the option for using [Examples](https://learning.getpostman.com/docs/postman/collections/examples/#how-your-examples-appear-in-postman-documentation) and [Descriptions](https://learning.getpostman.com/docs/postman/collections/using-markdown-for-descrip

[2019-12-17 10:23] rkhomytskyi-lohika-tix commented on #4079
+1

[2019-12-17 10:48] freerider7777 commented on #4687
I've restarted Posman recently, now it uses not as much as before restart, but also rather much (I was using collection runner, had open tabs). I have ~200 requests (I think).
I made screenshots of task manager and Postman:
https://drive.google.com/open?id=1HJE1uTNMfUBVWzisISAnOrxfg-_0xpi4

[2019-12-17 10:55] nouknouk commented on #4131
Hi,

We cannot directly use `await` keyword in pre-request & test scripts.

Ssomething like `let myResult = await myAsyncFn();` fails ; it should be
- enclosed in an async function definition, immediatly called:
[code]
- it must also include `setTimeout` crappy hacks to force the pre-request script to wait until our promise effectively finishes.

(I suppose this has already been considered, but) w

[2019-12-17 11:19] cyrielle-hada commented on #7468
@lordrhodos @kneufeld-pbp while we're investigating the underlying issue. You might want to try this workaround.

1 - Create a new API
<img width="286" alt="Screen Shot 2019-12-17 at 11 15 33" src="https://user-images.githubusercontent.com/47351631/70991001-955d0d80-20be-11ea-90ba-624750c14ac6.png">
2 - Import your file
<img width="259" alt="Screen Shot 2019-12-17 at 11 16 00" src="https://user-im

[2019-12-17 12:40] lemvigh opened #7813 "UI Inconsistent when using '&' in query parameters"
I have a simple get request for a search API. In the Query Params section I have:
key="q" and value="&"
In the URL part of the UI it renders the resulting URL as:
[BaseURL]/search?q=%26
![image](https://user-images.githubusercontent.com/4123075/70996134-736d8600-20d2-11ea-94de-8d1b476f93c4.png)

From this it looks like it has encoded the "&". When I press Send it seems like it is sending the "&" n

[2019-12-17 12:57] anmoreno commented on #7555
@sankalp0o @Raja-Simha
We are facing a similar issue. And we are forced to have manual steps to get the documentation updated.
We don't expect to update the documentation after it is generated since we really want this to be automated and that will get overriden. To avoid this issue we plan to make use of the 'description' attributes in OpenAPI that can contain Markdown so this way most of our doc

[2019-12-17 13:20] SueSmith commented on #7616
I believe this will be fixed by billing doc updates by @claireriley about to be pushed to prod https://github.com/postmanlabs/postman-docs/pull/2056

[2019-12-17 13:33] codenirvana commented on #7813
@lemvigh You are right, the encoded value should be sent.
We are working on this right now and will let you know when the fix is available in our canary or production channel.

Closing as duplicate of #7758, please subscribe to the original issue thread.

[2019-12-17 13:33] #7813 closed, assigned to nobody

[2019-12-17 13:59] codenirvana commented on #6120
Duplicate of #4171

[2019-12-17 13:59] #6120 closed, assigned to codenirvana

[2019-12-17 14:56] Moshikol commented on #4845
+1

[2019-12-17 15:20] cWillow commented on #6294
Any news on this? It is still documented as a keyboard shortcut

[2019-12-17 17:20] sixcorners commented on #7792
If not that then something like that. I kind of thought one of the options was to skip signing in.
Either way, it does make it clear that it will delete local stuff but I figure it does that because it is synced to the server. Twice now I've signed in and not gotten my stuff back. I don't even think the stuff I have locally is synced to the server.
The main change that I want is that the software

[2019-12-17 17:27] cowlinb6 commented on #7777
This looks to be caused by by setting the SameSite attribute on the authorisation cookie to None. As Postman is using Chrome 66 this will reject any cookies that have this set to None.

If you don't set the SameSite attribute for Postman requests (i.e. via User Agent detection) then it should work.

This link gives more details on incompatible clients:
https://www.chromium.org/updates/same-site/in

[2019-12-17 17:29] achavate commented on #3466
this is very painful. Please provide save all options. Autosave would be wonderful

[2019-12-17 18:03] stcalica opened #7814 "Save local data from an anonymous state to sign-in or account creation. Prompt to sync, merge or delete local data after sign in."
_Filing on behalf user_

**Issue:**

How Issue happens:
1. User does not sign in due to session expires or user never has an account
2. User is prompted to sign in or creates an account
3. Local collections created prior to sign-in are gone and never synced to the newly created or new session account.

**Possible Solution:**
Renaming the local cache (localDB) when a user signs in when they were no

[2019-12-17 19:10] sixcorners commented on #7792
Support made #7814
I don't know.. @xk0der what help should I have asked for?

[2019-12-17 19:13] S1AnGeR opened #7815 "Any way to see raw/pretty view with unescaped XML?"
**Describe the bug**
Pretty/Raw view show escaped characters from XML

**To Reproduce**
Steps to reproduce the behavior:
1. Any request with responce text on russian/ukrainian language
2. for example , responce:
`<TEXT>&#1061;&#1074;&#1080;&#1083;&#1080;&#1085;&#1080;</TEXT>`

**Expected behavior**
Maybe its possible add to settings parameters like :  "format pretty/RAW view unescaped"
Expected re

[2019-12-17 19:17] JP-from-Postman opened #7816 "Mock Servers: Support wildcard matching in request body"
**Is your feature request related to a problem? Please describe.**
Currently, wildcard matching does not work for request bodies in examples, only URLs.

**Describe the solution you'd like**
Add support for using wildcards to determine matches, when used in the body of example requests.

**Describe alternatives you've considered**
Nona

**Additional context**
Add any other context or screenshots a

[2019-12-17 19:19] llamasoft commented on #492
Just a heads up, this issue prevents us from accessing _any_ services running behind a [Google Identity Aware Proxy](https://cloud.google.com/iap/).  We can manually copy the `id_token` field, but the expiration is only one hour, so this results in a lot of frustrating downtime.

As for "how could this be added", I think adding a textbox or dropdown to the "Get New Access Token" window would be su

[2019-12-17 19:19] devployment commented on #7592
According to `navigator.appVersion.match(/.*Chrome\/([0-9\.]+)/)[1]` Postman is using embedded Chrome version `66.0.3359.181`. That's fairly old.

According to `process.versions.electron`, the Electron version `3.1.8-postman.5`  seems to be kind of outdated as well, given `3.1.8` is the Electron version.

According to [this document](https://www.chromium.org/updates/same-site/incompatible-clients)

[2019-12-17 20:01] EmirhanAksoy commented on #4555
still same

"+" character came as string empty in query string to the server

[2019-12-17 20:46] paulocoutinhox opened #7817 "Body string don't have bars on line endings"
**Describe the bug**
Body string don't have bars on line endings

**To Reproduce**
1. Generate any request with json body (raw data and type json)
2. Click on code

**Expected behavior**
Each line need have their bar on right (line endings)

**Screenshots**
<img width="1552" alt="Screenshot 2019-12-17 17 43 28" src="https://user-images.githubusercontent.com/395096/71032923-1c2cdd00-20f5-11ea-97d3-

[2019-12-17 21:46] chrisdeso commented on #7817
@prsolucoes I wasn't able to reproduce this but I'm not super knowledgeable with cURL – would you try the new (open source) code generation feature to see if it yields the same results?
![image](https://user-images.githubusercontent.com/4734306/71036667-bd129c80-20e3-11ea-9d33-c9a93caeb819.png)

You'll need to navigate to `Settings` and select `New Code Generation Mode` from the settings menu.

![

[2019-12-17 22:27] tjharrop commented on #5459
@bananaspliff Mine exported OK. I exported, changed the name after export to avoid any fortunate conflicts, imported and the variables came with it.

[2019-12-17 22:55] prsolucoes commented on #7817
Hi,

Is because the current solution works on terminal and shell script. But if you paste on Makefile it doesn't work with this pattern. Postman is putting new-command line on all line endings, but not on latest lines (body data).

To reproduce better, create a file called Makefile and copy-paste curl command, like this:

**Makefile**
[code]

And after create file execute on terminal **make**.

Yo

[2019-12-17 23:13] zsong commented on #3864
Same error today. Pure garbage

[2019-12-17 23:29] sebastienbarre commented on #6712
Me too. The Reload button next to "No Schema" spins and results in a "Schema refresh" toast, but the menu is still "No Schema", and no auto-completion occurs (7.13.0).

[2019-12-18 03:44] ash007-postman commented on #7078
@kamalaknn  Customer still experiencing the issue in Canary as well as in the Stabled version. Logs can be found at ticket- 41571.

[2019-12-18 04:36] chrisdeso commented on #5273
Thanks for updating this @labifrancis – closing this out.

[2019-12-18 04:36] #5273 closed, assigned to nobody

[2019-12-18 08:52] abhivaikar commented on #5194
+1
There is so little tooling around testing gRPC APIs as well as automating their tests.
Postman would be a perfect choice to support both manual and automated testing of gRPC endpoints.

The way I look at Postman doing this is:
1. Ability to write tests that hit a gRPC endpoint and verify the response as a gRPC client
2. Run these tests as a collection using Newman

[2019-12-18 09:15] atulTrip opened #7818 "SQL Code"
**Is your feature request related to a problem? Please describe.**
Can the "Code" be available in SQL programming/stored procedure call

**Describe the solution you'd like**
Can the "Code" be available in SQL programming/stored procedure call

**Describe alternatives you've considered**
NA

**Additional context**
NA

[2019-12-18 10:48] arnaudjolly commented on #971
Hi there!
Is it possible to make this random generator (faker) accessible from the Pre-request Script ?
Sometimes you just want to put cohesion between different fields in body (like a userName and an email).
Actually it is not possible to do this by using separate `{{$randomXXX}}` from the Body itself.
Allowing us to use the faker module from the PreRequest Script makes it possible.

[2019-12-18 12:00] victor-v opened #7819 "Problem with sections order in documentation"
**Describe the bug**
Sections structure order in app (https://c2n.me/45a93fz) is different to documentation https://c2n.me/45a97od

**To Reproduce**
Steps to reproduce the behavior:
1. create sections in app
2. publish docs
3. see difference

**Expected behavior**
Expected that order structure in docs will be same as in app.

**Screenshots**
https://c2n.me/45a93fz
https://c2n.me/45a97od

**App inf

[2019-12-18 12:49] neo355 opened #7820 "Helper"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem. Please make sure the screenshot does no

[2019-12-18 12:49] #7820 closed

[2019-12-18 13:23] pjohnson31 commented on #4888
"If You Can't Measure It, You Can't Improve It."
Reporting and analytics are table stakes for any organization looking to iterate and improve their products. How many people are coming to our API docs site? what pages are they looking at? what pages take a long time to read? which pages aren't getting many views? How are they finding our site?

Without data/analytics - we cannot answer any of thos

[2019-12-18 14:09] SegarJJ commented on #2452
I run the same pattern as others in this thread.  When a colleague opens any of our numerous shared workspaces and environments, and then runs a request they will use the previously set refreshtoken from most likely another user.  This goes sideways.

The lesson is that every developer must first 'get new access token' as a requirement.... then they can start using requests in that workspace/colle

[2019-12-18 15:34] ismayc commented on #3893
Just pinging here again as there are other R users that would like this to be integrated. Thanks in advance!

[2019-12-18 17:30] AlthalusDGr8 opened #7821 "Better resizing options for envirment settings managemnt"
**Is your feature request related to a problem? Please describe.**
We currently have collections with different APIS to mock requests against and so we store differnt URLS for a multitude of services in differnt enviroments (such as prod, staging and local).  The dialog window is small that adjusting a full dns name can be problematic

**Describe the solution you'd like**
A resizable window

**Des

[2019-12-18 19:17] pcarrollsbr opened #7822 "Large Integer Rounding Creates Differences in Raw versus Pretty"
This is an appeal to reconsider a previous concern and possibly act on it differently than was done in 2017-2018: https://github.com/postmanlabs/postman-app-support/issues/2736.
Let's support large numbers as first class citizens in Postman. Without such support, undetected differences between 'Pretty' and 'Raw' will occur causing unnecessary diagnosis, triage, and workarounds.

I encountered larg

[2019-12-18 20:48] mrz1836 commented on #7819
Having same issue. Most current version of Postman, every collection is in sync. Cleared cache, cannot get it to list my requests right.

<img width="433" alt="Screen Shot 2019-12-18 at 3 47 31 PM" src="https://user-images.githubusercontent.com/3743002/71122109-d253fd80-21ad-11ea-9d57-9ecbb302e2d7.png">

[2019-12-18 21:49] rudisills commented on #2086
+1

[2019-12-18 21:50] rudisills commented on #4057
+1

[2019-12-18 23:54] yshahin commented on #3777
This has been open since 2017, will we ever see this feature?

[2019-12-19 02:48] huangjingcai opened #7823 "Double clicking the title bar of postman app makes window invisible"
My OS:
macOS Catalina 10.15.2

Postman Version:
7.14.0

II have encountered it a few times and reinstalled each time。
<img width="1365" alt="WX20191219-104523@2x" src="https://user-images.githubusercontent.com/3855873/71140678-e7cc3480-224c-11ea-8286-8b26a094e358.png">

[2019-12-19 04:52] preethammavin commented on #6659
@yossarian123 we are working on implementing the merge request flow, there are certain things which we will release in stages.

Taking your feedback, wanted to validate a few things
Would the ability to request review from another team member solve the issue around ensuring for the merge request.  We would also be introducing the approve stage for request which could help you govern, no merge requ

[2019-12-19 07:40] vikiCoder commented on #7809
@vipwwjie Can you please check whether there are any redirects happening in your request? You can check that in Postman console by looking for a redirect sign if there is any (like shown in the screenshot below). If there is a redirect with redirect code other than 307 and 308, Postman changes any request method (DELETE in your case) to GET method while following redirects. You can change this beh

[2019-12-19 09:19] vkondratiuk commented on #6239
v7.14.0 the same problem.
`[5140][1576746974904][shared][warn]["TimelineHelpers~syncAndSubscribeTimeline: Could not subscribe to timeline",{"name":"Error","message":"BaseSyncTimeline~getPendingServerChanges: Could not make /sync call. Exceeded maximum retry count for environment:160900-39a3c513-87c2-4b39-b90a-a67dcbdcf2da","stack":"Error: BaseSyncTimeline~getPendingServerChanges: Could not make /s

[2019-12-19 09:24] vvs11 commented on #7810
Hi @m3dbedb, Thanks for writing in
Could you give us more info about the issue you're facing? e.g. what were you doing when you hit this state?
Also, are you still seeing it?

[2019-12-19 10:08] vdespa commented on #971
Hi @arnaudjolly

Actually it is now possible to do this in the pre-request script using the relatively new pm.variables.replaceIn.

Here is a simple example to get you started:

`console.log(pm.variables.replaceIn('{{$randomFirstName}}'));`

[2019-12-19 10:45] arnaudjolly commented on #971
Hi @vdespa

Thanks for the tip, as I can see, this triggers a value generation for the variable. I can use it like that.
[code]
to then reference it in a body with `{{name}}` and `{{data}}`.
:+1:

[2019-12-19 11:17] harryi3t commented on #7823
@huangjingcai Thanks for reporting the issue 👍
We were able to reproduce it and are working on a fix. We will update this thread once the fix is available.

[2019-12-19 11:18] harryi3t commented on #7810
@m3dbedb Can you share a screen recording showing the issue? That would help us identify and fix the issue faster.

[2019-12-19 11:21] harryi3t commented on #7811
@m3dbedb Thanks for raising the issue. We were not able to reproduce the issue on our end.
Can you share a screen recording showing the issue? It would help us identify and fix the issue faster.

[2019-12-19 11:42] Raja-Simha commented on #7819
@victor-v and @mrz1836 thanks for reporting this issue. I can reproduce this and we will look into it.

[2019-12-19 12:33] Alveona commented on #675
Almost 2020 out here :/

[2019-12-19 12:34] codenirvana commented on #7810
Duplicate of #7759

[2019-12-19 12:34] #7810 closed, assigned to vvs11, codenirvana, saswatds

[2019-12-19 12:58] sankalp0o commented on #7312
This issue has been solved! Closing this for now but please let us know if you encounter this again.

[2019-12-19 12:58] #7312 closed, assigned to nobody

[2019-12-19 13:24] emimarz commented on #2638
I am experimenting this issue right now, Error: getaddrinfo ENOTFOUND
if I get the curl  code by the application it works but inside the app all request give me that error

[2019-12-19 13:36] emimarz opened #7824 "after update, it no work anymore"
after update to the Version 7.13.0
all my collections stop working
even if I create a new request using an url accessible because I enter via browser not work
it's odd because if I copy the code from the app it work with curl

**Screenshots**
![Captura de pantalla de 2019-12-19 10-33-57](https://user-images.githubusercontent.com/10280713/71177710-56a88e00-224b-11ea-8b61-3c8ae61190b9.png)

**App in

[2019-12-19 13:49] codenirvana commented on #7824
@emimarz That's odd 😕, Can you check if this is because of proxy configuration (global or system) or something set in `/etc/hosts`?

[2019-12-19 14:14] billwurles commented on #4091
It's been nearly two years since this issue was opened, and it still hasn't been fixed?

[2019-12-19 16:02] bananaspliff commented on #5459
it's not a variable problem, it's a template issue.

[2019-12-19 16:09] yaron-lavi-deel opened #7825 "Team sync fails to sync all APIs."
**Describe the bug**
I'm using v7.14. We have a single collection, with folders, consisting of 199 requests.
I'm the sole editor, everyone else in the team is a viewer.
However, when the team sync, they are not getting all the APIs in the collection. Some get 193 requests out of 199, some only 191 and so on. There's no clear indication as to why this is happening, nor do the team members get an er

[2019-12-19 16:19] yearswriter commented on #1906
+1 to RAML support, would be neat

[2019-12-19 16:38] dluciano commented on #3174
+1

[2019-12-19 17:14] Zavierazo commented on #2847
+1

[2019-12-19 19:11] aznnomness commented on #3472
I'm experiencing this issue attempting to hit a server IP and specific port (https://xxx.xxx.xxx.xxx:44101) that should be an IIS site. I get proper results in the browser but PostMan fails. I'm not sure how to gather any more information from the application to help further on this. But this seems like a huge issue and needs re-opened.

[2019-12-19 20:26] domsom opened #7826 "Add raw logs to Postman Monitor"
**Is your feature request related to a problem? Please describe.**
We had a failed monitor which turned out to be caused by an application issue. It would have been helpful in debugging the application issue if the monitor logs would have been accessible in Postman, showing the details of the communication.

**Describe the solution you'd like**
Adding the output of the "Show raw logs" feature of t

[2019-12-19 21:05] ariaamz commented on #7826
so, correct me if I'm wrong, you want the same exact feature from client to be brought over to the console component?

[2019-12-19 21:37] domsom commented on #7826
Not sure what you mean with the "console component", but yes: The exact
same feature as in the client to be made available in the Monitor web UI,
when examining individual monitor runs. This would require storing the raw
logs for each monitor run, obviously. To my knowledge, this is not the case
currently.

Aria Moradpour <notifications@github.com> schrieb am Do., 19. Dez. 2019,
22:05:

[2019-12-19 21:42] firewuff opened #7827 "Enabling "Include Temporary headders" Does not include inherited Auth bearer tokens"
Since the upgrade to v7.14.0 generating code from a Postman request is not including the temporary headders generated by postman, specifically those generated from inherited Auth settings.

This is related to the "New Code Generation Mode".

**To Reproduce**
1. Create a collection and set the AuthZ to "Bearer Token" and provide a value
2. Create a call in that selection and set the AuthZ to "inher

[2019-12-19 21:45] jkjgabrielsen commented on #7802
?? any help with this issue?

[2019-12-19 22:05] bondezbond commented on #7827
Could this also be causing the issue with copy the headers to another request. For instance if I have a call with Auth Basic Auth when I click on a link to a new tab it won't auth since its not picking the temporary headers. If I do no auth and set the Authorization header manually in the first request. the subsequent clicks copy it successfully

[2019-12-19 22:18] JP-from-Postman opened #7828 "Requesting token OAuth 2 token, "Something went wrong""
**Describe the bug**
When attempting to generate an OAuth2 token using the authorization helper, the user's app shows the error "Something went wrong".

Logs display the following error:

User's OAuth2 configuration is using Client Credentials. All fields are filled out, and CLIENT AUTHORIZATION is set to: `Send client credentials in body`

**To Reproduce**
Support unable to reproduce

**Expected

[2019-12-20 06:33] harryi3t commented on #7608
@HKFiliatix Closing this due to inactivity. If you are still facing the issue, let us know.

[2019-12-20 06:33] #7608 closed, assigned to nobody

[2019-12-20 07:33] gulvklud opened #7829 "Postman goes blank (javascript exception)"
**Describe the bug**
If i don't hurry and open the developer console during startup, the app will crash and go blank.

**To Reproduce**
Unfortunately, haven't been able to reproduce on any of my coworkers computers.

I think it might have something to do with me having some pretty huge (5mb+) json payloads stored in my collections.

**Expected behavior**
To not go blank on startup.

**Screenshots*

[2019-12-20 07:55] elssar commented on #7668
@jjware is there a firewall or proxy that could be blocking requests from the Postman app to your Identity Provider? We usually see this behavior when the app is unable to connect to the Identity Provider.
It would help if you could send the [app logs](https://learning.getpostman.com/docs/postman/launching-postman/troubleshooting-inapp/) to us via help@gepostman.com.

In the mean time you can try

[2019-12-20 08:13] elssar commented on #7807
This means that the Identity Provider sent a `notBefore` timestamp with the SAML assertion, and that timestamp is in the future. Likely because of clock drift on the Identity Provider.

[2019-12-20 08:13] #7807 closed, assigned to elssar, ArjunSingh-PM

[2019-12-20 08:43] skchao commented on #3175
Hi, I'm see the similar error in my test, and at the same time the server end shows these error log at terminal:

2019-12-20 13:58:50,413.413 1662 ERROR flask.app [-] Exception on /v1/peer/192.168.14.1/send/update [POST]
Traceback (most recent call last):
  File "/usr/local/lib/python2.7/dist-packages/flask/app.py", line 2284, in wsgi_app
    response = self.full_dispatch_request()
  File "/usr/lo

[2019-12-20 09:42] parsh7 opened #7830 "Facing slowness while using collections"
Hi Team,

There is huge slowness i'm facing in postman while using collections. There is not more than 20 api's in my collection still getting slowness.

Regards,
Prashant Patil

[2019-12-20 11:34] m3dbedb commented on #7811
I will try to share it later. It happened when I worked in windows 10 connected via rdp to windows 7 with postman. Maybe deal in rdp.

[2019-12-20 11:38] vikiCoder commented on #4355
Hi everyone,

This issue is fixed in the latest release of Postman App (v7.14.0). Please update your Postman app to the latest version and let us know if you are still facing any issues regarding this.

[2019-12-20 11:38] #4355 closed, assigned to coditva

[2019-12-20 11:39] vikiCoder commented on #6227
Hi @perfectacle,

This issue is fixed in the latest release of Postman App (v7.14.0). Please update your Postman app to the latest version and let us know if you are still facing any issues regarding this.

[2019-12-20 11:39] #6227 closed, assigned to vikiCoder

[2019-12-20 11:41] vikiCoder commented on #4070
Hi everyone,

This issue is fixed in the latest release of Postman App (v7.14.0). We now use UTF-8 encoding while calculating `Authorization` header for basic auth as suggested in the [Basic auth RFC](https://tools.ietf.org/html/rfc7617#section-2.1). Please update your Postman app to the latest version and let us know if you are still facing any issues regarding this.

[2019-12-20 11:41] #4070 closed, assigned to vikiCoder

[2019-12-20 11:44] vikiCoder commented on #5768
Hi everyone,

This issue is fixed in the latest release of Postman App (v7.14.0). Please update your Postman app to the latest version and let us know if you are still facing any issues regarding this.

[2019-12-20 11:44] #5768 closed, assigned to coditva

[2019-12-20 11:44] vikiCoder commented on #5626
Hi everyone,

This issue is fixed in the latest release of Postman App (v7.14.0). Please update your Postman app to the latest version and let us know if you are still facing any issues regarding this.

[2019-12-20 11:44] #5626 closed, assigned to codenirvana

[2019-12-20 11:47] mensoh commented on #2030
Seems broken in 7.13 on OS X..

[2019-12-20 11:50] vikiCoder commented on #5434
Hi @mcready85,

This issue is fixed in the latest release of Postman App (v7.14.0). You can now use token returned by eBay API from the token manager window.

[2019-12-20 11:50] #5434 closed, assigned to saswatds

[2019-12-20 11:53] vikiCoder commented on #5217
Hi @jhorbulyk,

We have added the functionality to infer domain from username (if provided) in NTLM auth helper in the latest version of the Postman app (v7.14.0).

[2019-12-20 11:53] #5217 closed, assigned to codenirvana

[2019-12-20 12:18] Glideh commented on #2427
Same issue in 7.13.0 (linux 4.15.0-72-generic / x64)

[2019-12-20 12:37] sidharthjs commented on #4908
This issue is seen again in the postman version `7.14.0`. OS: `Mac OS - High Sierra 10.13.1`

<img width="364" alt="Screen Shot 2019-12-20 at 6 02 32 PM" src="https://user-images.githubusercontent.com/17313998/71255086-fac92c80-2352-11ea-8dff-c65a1a8775e3.png">

@yoimnik @kamalaknn

[2019-12-20 13:40] sjoller opened #7831 "Show folder name in collection runner"
I have all my tests nested in folders, but when I go to the collection runner, the "RUN ORDER" list only shows icons for the folders, and when mousing over, it just says "Folder".
It would be a lot more useful if the folder name was shown in the list or, at the very least, in the mouseover text.

![image](https://user-images.githubusercontent.com/628256/71258342-36a1c900-2336-11ea-8a08-46fa9abc323

[2019-12-20 15:33] tparikka commented on #3493
I also need this feature; almost all of my variable names don't fit in the columns at default size. The window should be resizeable and the column widths also resizeable.

[2019-12-20 16:19] hslavkov opened #7832 "Image file in response body for Mock Server examples"
Hi,

Currently unsupported by Postman as the option to save such response is greyed out.

Make the client able to hold an image in its response body.

![Capture](https://user-images.githubusercontent.com/53438795/71268304-8dae9a80-2344-11ea-9e48-0ea4e3d2a836.PNG)

[2019-12-20 16:27] arlemi commented on #4687
Some more reports of high resources consumption on Discourse: https://community.getpostman.com/t/high-cpu-usage-even-when-it-is-not-open/9723

[2019-12-20 17:35] numaanashraf commented on #7743
@AndrewRayCode Thanks for reporting this. We are having trouble replicating this issue at our end. Could you try installing the latest version of the app (v7.14.0 as of today) and let us know if you are still facing this issue?

[2019-12-20 17:44] AndrewRayCode commented on #7743
it was no longer reproducible after the next upgrade

[2019-12-20 17:44] #7743 closed, assigned to nobody

[2019-12-20 17:49] numaanashraf commented on #7743
Glad to hear that @AndrewRayCode. Thank you!

[2019-12-20 18:32] WhiteAutumn commented on #3897
It's really sad to see this basic feature still being missing after 2 whole years since this issue was opened.

Fine if you don't want to change the installer, at the very least add a command line argument to the installer which specifies installation directory

[2019-12-20 18:53] zman81988 opened #7833 "Extend API support fo Postman Documentor"
**Is your feature request related to a problem? Please describe.**
Currently, [Postman APIs](https://learning.getpostman.com/docs/postman/postman-api/intro-api/) do not provide a way to manage public documentation. Publishing and unpublishing documentation is a manual step.

**Describe the solution you'd like**
Implement Postman APIs to manage documenter as well, with API endpoints to publish and

[2019-12-20 19:13] bauzer714 commented on #7830
Seeing the same issue. Modifying even a single form data parameter will put postman into a tailspin and peg the CPU at 100% for several minutes.

[2019-12-20 19:53] ghost opened #7834 "Date display in header results"
I can't find a way to have the dates on an API display in the TimeZone of my choice.
Is there a way to control date displays?  I work in PST but run code in CST and EST for the US.

It's a pain to convert the GMT to EST every time.

It makes it hard to coordinate log dates.

Thanks

Jim Adamski

[2019-12-20 21:35] or-hasson opened #7835 "Postman: Sign Up with Google Button doesn't response (Screen record attached) WIN10 x64 Desktop App"
**Describe the bug**
Postman: Sign Up with Google Button doesn't response (Screen record attached) WIN10 x64 Desktop App

**To Reproduce**
Steps to reproduce the behavior:
1. Download Postman x64 on Win10.
2. Install Postman.
3. After open Postman Desktop App the Sign with Google button doesn't Response.

**Expected behavior**
The OAuth with Google button should work.

See the attached video:
http

[2019-12-20 21:51] or-hasson opened #7836 "Add delete History Button Component to History Tab for delete all history in the Tab. - Postman Desktop App"
**Is your feature request related to a problem? Please describe.**
It will be nice to:  Add delete History Button Component to History Tab for delete all history in the Tab.

**Describe the solution you'd like**
 Add delete History Button Component to History Tab for delete all history in the Tab.

**Describe alternatives you've considered**
I don't sure there is a way to delete the history, but m

[2019-12-20 21:52] Hasson777 commented on #7835
It seems not to response in the first time after the installation.

[2019-12-20 21:55] Hasson777 commented on #7836
Note It is "Browser" mode.

[2019-12-20 22:29] kwoyna commented on #4375
I am having the same exact problem for Mac Version 10.14.6 Postman Version 7.14.0

Trying to post 147.7 MB xml file

This issue was reported March 2018.  Is there an ETA for a fix?

[2019-12-20 23:32] Burnett01 commented on #4775
Can confirm. OpenID Connect defines an id_token as a response type for implicit flows. I can't use Postmans Access-Token feature because it uses a hardcoded response_type. Having an option to override this would be good.

[2019-12-21 02:33] emimarz commented on #2638
I download the next version and it works but I don't know why happen that

[2019-12-21 02:36] emimarz commented on #7824
nop, nothing in /etc/hosts and I don't have proxy configured
I solve this downloading version 7.14, using the same configuration works
but this problem still happen on 7.13 v0v

[2019-12-21 03:46] Hell4Ge commented on #6242
Anything?

[2019-12-21 03:47] Hell4Ge commented on #2701
+1

[2019-12-21 10:27] vvs11 commented on #7834
Hi @adamskijl Thanks for writing in
Could you provide little more detail about the use-case you're trying to achieve here?
It'll help us understand your requirement better

[2019-12-21 10:37] intenser commented on #7426
Not always. The popular Visual Studio Code has a configurable option.

I agree to Kwadz that **the issue has to be re-opened**

[2019-12-21 23:52] artchen opened #7837 "Invisible archived collection"
**Describe the bug**
In "My Workspace" there is always a warning of "_Some collections in this workspace are archived because free plan only supports 25 shared requests. Don't worry, you can still access them but won't be able to work on them. Postman paid teams get unlimited shared requests._". But when I click into the archived collections web page it says Your archive is empty.

**To Reproduce*

[2019-12-22 04:21] tmdoit commented on #6715
I see that behaviour changed, now generated collection from API spec use {{baseUrl}} variable, process of creating new mock server doesn't create new env, so there is no {{url}} variable set to mock server endpoint.

[2019-12-22 06:41] gdbhowmick commented on #7835
@Hasson777 You need to accept the terms of service. You need to check the first checkbox.

[2019-12-22 07:18] Hasson777 commented on #7835
Thanks It seems to solve it.
But I think it should notify the user to do that first or at least when click the button.

Thanks,
Or Hasson

[2019-12-22 07:18] #7835 closed, assigned to ArjunSingh-PM

[2019-12-22 13:28] AkashM398 opened #7838 "Google Login Fails - Insecure Browser | Add Open with Other Browser support"
**Describe the bug**
Google Login doesn't work and says the postman browser is insecure to login.

**To Reproduce**
Steps to reproduce the behavior:
1. Open Pinterest Login
2. Login with Google Account
4. See error

**Expected behavior**
It should have logged in to the Pinterest page, but didn't happen instead it showed the error and couldn't able to move to the next step.

**Screenshots**

![GA](

[2019-12-23 03:20] czd890 opened #7839 "Sign in with Google faild, 500 errors."
Version: You are up to date! Postman v7.14.0 is the latest version.

![image](https://user-images.githubusercontent.com/4011549/71333695-f2047080-2575-11ea-8b5f-6f6379edb621.png)
![image](https://user-images.githubusercontent.com/4011549/71333712-0a748b00-2576-11ea-9800-f04fe60c054b.png)
![image](https://user-images.githubusercontent.com/4011549/71333760-3e4fb080-2576-11ea-90d1-51176af4c9a6.png)

[2019-12-23 03:56] preethammavin commented on #7839
@czd890 are you experiencing this still, I see that our services are functional and running.

[2019-12-23 04:23] kamalaknn commented on #7838
Duplicate of #7700

I'm closing this issue. Please subscribe to the original thread for updates.

[2019-12-23 04:23] #7838 closed, assigned to nobody

[2019-12-23 09:31] NisugaJ opened #7840 "Add a feature to rename a request after doublclicking on the name itself ( Without clicking on the edit icon or right-click options.) (specially in a collection menu bar )"
**Is your feature request related to a problem? Please describe.**
 I'm always frustrated when renaming requests in the left side collection menu-bar.

**Describe the solution you'd like**
I want it like in Windows File Explorer.  just like renaming each folder\file by double-clicking on the name.

[2019-12-23 11:57] patlola commented on #7839
@preethammavin just downloaded a new mac build version -> 7.14.0 (7.14.0), getting 5xx while doing `sign in with google` even try on web browser is getting the same error because it's taking me to the same link.

[2019-12-23 12:49] akvadrako commented on #7534
This isn't a duplicate of #6252. Even without native wayland support, other Electron apps work under wayland using XWayland. Why doesn't Postman?

[2019-12-23 13:39] NaveenBellary commented on #1499
I ended up creating a new workspace altogether and that addressed my requirement.
However, allowing top level folders to be treated the same way as any other sub folder would help a lot!

[2019-12-23 13:52] labifrancis commented on #6521
Another user fixed this issue by opening the app with a different compatibility.
![image](https://user-images.githubusercontent.com/10200603/71361621-d4460400-2593-11ea-8759-cbaac45c2b36.png)

[2019-12-23 16:22] wmyoung commented on #1906
Please support RAML 1.0 !

[2019-12-23 16:43] kartios commented on #7839
@preethammavin I am getting the exact issue as OP. I have the latest version of Postman as well.

[2019-12-23 17:33] sankalp0o commented on #7266
We pushed out a fix to better communicate this state. Closing the ticket but feel free to reopen if this does not work!

[2019-12-23 17:33] #7266 closed, assigned to sankalp0o

[2019-12-23 17:56] stcalica commented on #7711
We have a user reporting this issue.

It happens for a single section in their collection and not at every request.
confirmed on desktop.

[2019-12-23 18:03] staticdev commented on #2701
+1

[2019-12-23 18:14] bartengine27 commented on #5456
to export an environment:

- click on the "eye" icon on the right of your environment drop down

- click on "edit" (top right)

- click on "Cancel"

- at the right of each environment in the "manage environments" pop-up, you will find a button on the right which allows to save your environment

[2019-12-23 18:27] maknahar commented on #7306
Old issue but for anybody else facing this issue, Delete the local postman data. It should be available at `~/Library/ApplicationSupport/Postman/`. However, this will remove all your local postman data and you will need to sign in again to sync the data back. Do not use this option if you don't have your local data synced.

[2019-12-23 19:13] qubiack commented on #6669
The same for me. Collections are visible on Linux and online, but not on MacOS ;/

[2019-12-23 19:41] AlenaRogacheva commented on #3661
Hi anywhere! I have this problem too with POST request to camunda.

(Camunda doc)[https://docs.camunda.org/get-started/quick-start/deploy/#use-the-camunda-modeler-to-deploy-the-process]

[2019-12-24 02:41] tsasioglu commented on #7125
I was able to solve this by going File -> Settings -> SSL certificate verification -> OFF

[2019-12-24 03:07] vipwwjie commented on #7809
@vikiCoder Sorry to reply so late. thank you so much, according to your help, it worked.

[2019-12-24 03:12] #7809 closed, assigned to nobody

[2019-12-24 03:16] godfrzero commented on #7839
@kartios Could you let us know if this happening consistently, or if it's intermittent? In addition, if you try to sign in directly from the browser (without having the app involved) via https://identity.getpostman.com/login?addAccount=1 does it still throw the same error?

[2019-12-24 06:29] sankalp0o commented on #7837
Hey @artchen , thanks for bringing this to our attention. This is not the expected behaviour and we'll look into this. Will keep you updated.

[2019-12-24 06:45] sankalp0o commented on #6875
Thanks for reporting this JP. We ere unable to reproduce this and we think this was a one-off case of the server timing out and unlikely to recur. I'm closing this but feel free to reopen if you see more cases like this coming up.

[2019-12-24 06:45] #6875 closed, assigned to nobody

[2019-12-24 06:46] Ramya-From-Postman commented on #6669
@renato-milan-latam-com and @qubiack Could you raise a ticket at help@getpostman.com for this issue?

[2019-12-24 07:00] sankalp0o commented on #7469
Closing this ticket as we didn't notice more incidents of the same. We're also working on making sure users who land up in browse view (accidentally or not) know how to switch back.

[2019-12-24 07:00] #7469 closed, assigned to sankalp0o

[2019-12-24 09:35] arlemi opened #7841 "Make it possible to merge changes within a file"
Posting on behalf of a user: https://community.getpostman.com/t/merging-after-a-change-has-already-been-made/9773/3

**Is your feature request related to a problem? Please describe.**
When two forks of a collection are making changes to the same file (ie. Tests scripts or Pre-request scripts), when the second one will try to merge they will only be given the choice of either overwriting the destin

[2019-12-24 10:01] alaneo opened #7842 "Failed to grab lockfile while installing Postman x64 or x32"
Hi. After running a setup for Postman x64 or x32 on Windows Server 2012 R2 Standard edition I'm getting the error "Failed to grab lockfile .squirrel-lock."

Postman version 7.14.0
Installation is running as Administrator and still failing.

The workaround is to create manually an empty folder called '3' in C:\Users\MyAccount\AppData\Local\Temp\

If this folder path not exists 'C:\Users\MyAccount\A

[2019-12-24 13:23] dkim5150 opened #7843 "GET Request Disabled Query Params of Repeated Keys Removed On Save"
**Describe the bug**
I have a GET request saved with the same `id` param entered multiple times with different values for each key iteration so I can easily toggle between them later. If I save the request and the **first** entry for the `id` param isn't the one enabled the Postman app will delete the first entry then sort whichever `id` param **is** enabled to the top.

**To Reproduce**
1. Create

[2019-12-24 13:52] dkim5150 commented on #7843
Did another little test where I disabled all of the query params and saved the request. During this scenario it saved correctly without deleting any of the params.

[2019-12-24 14:16] kartios commented on #7839
Signing in through the browser works, I've never had a problem with that. For the app, this problem has been happening consistently. I have not been able to log into it for about 5 days now, with the same exact 500 error OP showed.

[2019-12-24 15:52] Redsandro commented on #7393
Just checked Postman 7.14. It is still using the old unsupported Electron.

[2019-12-25 03:16] Cazaimi commented on #7711
@xk0der, @stcalica, this will be taken up in an iteration in the near future.

[2019-12-25 09:39] kamalaknn commented on #7497
Most of the flows have been fixed now. Closing this issue.

[2019-12-25 09:39] #7497 closed, assigned to nobody

[2019-12-25 10:54] talr1 commented on #2992
happened to me on windows 10 v7.14.0
deleting the file 'window' in C:\Users\[user]\AppData\Roaming\Postman  solved the issue.

[2019-12-25 17:54] #7777 closed, assigned to nobody

[2019-12-25 18:32] meetSuraj commented on #7839
@kartios That error which you got, was it on app, or on web?

[2019-12-25 18:38] darnley opened #7844 "Program freezing when importing OpenAPI JSON file"
**Describe the bug**
The application freezes when I try to import a OpenAPI JSON file generated by Swagger. When I try to load a `swagger.json` ([download here](https://github.com/postmanlabs/postman-app-support/files/4000739/swagger.zip)) file which is a OpenAPI 3.0.1 specification, the program starts to use a lot of CPU and RAM memory, then it displays a black screen and nothing occurs.

**To Re

[2019-12-26 02:04] MeisterGuildSmc commented on #4375
Same problem on windows 10 with postman win64-7.14.0
Saving a 34.42 MB JSON response locks the app with a black screen, relaunching the app only is necessaryin my case, reinstalling does not solve the problem.
My config :
![setup](https://user-images.githubusercontent.com/50437233/71453347-2c684a80-27ce-11ea-87cf-91340a1f1fa6.png)
No output in the dev tools javascript console after pressing the sa

[2019-12-26 03:58] artchen commented on #7837
Thanks for taking a look. Looking forward to the fix.

[2019-12-26 07:16] godfrzero commented on #7005
@stcalica Would it be possible for the user to share this part of the collection with us? If it's not possible to share the entire request, just the test script should be enough (I'm assuming that the test script in the ticket is not the complete script).

[2019-12-26 08:13] sankalp0o commented on #6954
@JP-from-Postman we've recently release Request for Access for Collections. Users can go to the "Manage Roles" dialogue and can request permissions from team-members who can grant them.

We'll slowly roll this for workspaces (probably teams as well, though that is a separate discussion). I'm keeping the ticket open to track updates and also listen to any feedback anyone might have with regards to

[2019-12-26 09:52] abdullah-alimam commented on #1552
+100

[2019-12-26 11:29] mohanadElmaghrby1 commented on #4690
I think this would be a great feature.

[2019-12-26 12:53] vikiCoder commented on #4852
Hi everyone,

We are unable to reproduce this issue in the latest version of the Postman app (v7.14.0). Here are the steps I tried:

1. Open a new tab in the requester window
2. Select OAuth 1.0 as the Authorization type.
3. Put in any values in the Consumer Key, Consumer Secret, Access Token, Token Secret.
4. Put in any dummy URL in the url-bar
5. Select Add authorization data to Request Headers

[2019-12-26 13:12] kanmaytacker commented on #7685
Any updates on this?

[2019-12-26 13:54] omarw commented on #4355
Latest update still doesn't work for me. I get 401 Unauthorized

[2019-12-26 14:21] kartios commented on #7839
It happens in the browser after I click "Sign in with Google". Originally I saw the email masked as you show it, but now I don't even see that because I signed out hoping that would work. If I actually log into the browser it works but then I don't get any of the postman features, I can just see some of our endpoints and get some cURL commands.

This error is still happening by the way, and it has

[2019-12-26 14:25] ghost opened #7845 "Bug on Tests"
I set up a wrong script in "Tests" and Postman returned a OK result but it should show a message about the problem.

My case:
I was expecting a body response like this

{
    "error": "WRONG"
}

But the body response was

{
    "error": "invalid_client"
}

And Postman returned PASS in Test Results.

![image](https://user-images.githubusercontent.com/30181711/71479261-54f24380-27d2-11ea-86c4-617a84

[2019-12-26 15:24] sankalp0o commented on #6504
@sivcan this was fixed some time back! I'm closing this issue but please let us know if the icons still look off.

[2019-12-26 15:24] #6504 closed, assigned to nobody

[2019-12-26 15:47] pimajor opened #7846 "Debugs from templates used by visualiser are not logged in the console"
On Windows 10, Postman App v7.14.0.
Debugs such as "console.log("test")" in the template of the visualiser are not logged in the console's log.
The test script performs what it should do, so it is not a script error.

This is the simple code to test the console log:
![image](https://user-images.githubusercontent.com/1444438/71481645-04450f80-27ff-11ea-9295-22d13214fa23.png)

This is the output:

!

[2019-12-26 18:29] vizion316 commented on #7615
I created a batch script and ran through SCCM. One line:

"Postman-win64-7.14.0-Setup.exe" --silent

[2019-12-26 19:05] qubiack commented on #6669
To be honest I lose my trust for your software and I never again confined to it. One collection is disappeared. Four other collection doesn't have any items so I don't need to use this software anymore. I remove it.

[2019-12-27 00:46] DoveAz commented on #3117
+10086

[2019-12-27 00:53] metal-gabe commented on #6995
@mccannt any update on this? I'm running into the same issue.

Postman v7.12.0
Mac OS Mojave v10.14.6

[2019-12-27 04:30] yxshyw opened #7847 "The parameter after '#' is repeated in the URL"
**Describe the bug**
- Send a GET request, '#' in one of the parameters, the parameter after '#' is repeated in the URL.

**To Reproduce**
- 1.url: http://127.0.0.1:8080/vehicle-customer/internal/vehicle/getVehicleAllInfoByVin?vin=LS7FMGVJ2H#B000031&sign={{sign}}&appkey={{appkey}}&signt={{signt}}
- 2.postman console url: http://127.0.0.1:8080/vehicle-customer/internal/vehicle/getVehicleAllInfoByVi

[2019-12-27 05:46] meetSuraj commented on #7839
@kartios Do you happen to use VPN in browser, or are you behind some proxy, can you once verify that IP address in your browser and in app is same? You can check the IP address used in app by sending GET request to `https://postman-echo.com/ip` using postman and on browser you can search for `What is my IP`

[2019-12-27 06:06] czd890 commented on #7839
@kartios @meetSuraj
I found a possible cause.
500 error if I use SS proxy( proxy *.google.com) in Chrome browser

[2019-12-27 07:44] coditva commented on #4355
@omarw can you send us the logs you see in Postman Console? It would help us understand your case better.

[2019-12-27 08:16] vdespa opened #7848 "Error in "Tests": Something Went Wrong - stops the user from doing anything due to code error"
**Describe the bug**
While using the editor, it seems that the error Something Went Wrong prevents the user from doing anything.

**To Reproduce**
Steps to reproduce the behavior:
1. Open a request, go to Tests
2. Paste the following code:

`pm.response.to.have.jsonSchema(schema:Objec);`

3. Try deleting the letter "c" from schema:Objec
4. See error

**Expected behavior**
No error

**Screenshots**

[2019-12-27 08:18] sankalp0o commented on #6669
Hey @qubiack we're very sorry you lost your work! Can you raise a ticket at help@getpostman.com and we will try to recover them if possible.

We're working hard in making sure no one runs into this problem and as you probably noticed on this thread, we've patched bugs which can cause this. I understand this has been a frustrating experience for you and therefore I request you to help us diagnose a

[2019-12-27 08:25] vdespa commented on #7845
You did not specify the second parameter for the pm.test() function.

So the syntax is not correct in this case but not a Postman bug. Use the proper syntax and it will work.

[2019-12-27 08:41] vikiCoder commented on #7846
Hi @pimajor,

This is the intended behavior for console.log() inside visualizer templates. Logs from visualizer are not shown in Postman console. If you want to see those logs, you can open developer window for the visualizer template by right-clicking on the visualizer area and selecting `inspect visualization` as shown in below GIF. Please refer to [this link](https://learning.getpostman.com/doc

[2019-12-27 08:41] #7846 closed, assigned to nobody

[2019-12-27 08:55] dada051 commented on #350
Because HAR is a file format, so it makes it easier to share. IE only allows exporting as HAR. Firefox allows to copy AND EXPORT as HAR, but only to copy as cURL.

[2019-12-27 11:45] kamalaknn commented on #6133
Hey @sujitblues

This looks like a duplicate of #6581. I'm closing this is a duplicate. Please subscribe to the original one for updates.

[2019-12-27 11:45] #6133 closed, assigned to nobody

[2019-12-27 11:49] kamalaknn commented on #7746
Hey @KevUKHD

Could you let us know if you're still seeing this issue?

[2019-12-27 11:53] kamalaknn commented on #7698
Hey @krpraveen01

This looks like a duplicate of #7700. I'm closing this as a duplicate. Please subscribe to the original issue for updates.

[2019-12-27 11:53] #7698 closed, assigned to nobody

[2019-12-27 14:09] omarw commented on #4355
GET /DeploymentConfigurationApi/api/customer/customersview HTTP/1.1
Content-Type: application/json
User-Agent: PostmanRuntime/7.21.0
Accept: */*
Cache-Control: no-cache
Postman-Token: 86284af5-09af-4d93-9870-0370d2f38aec
Host: hfdtdevsvc01-1
Accept-Encoding: gzip, deflate
Connection: keep-alive
Authorization: NTLM TlRMTVNTUAADAAAAGAAYAHgAAAAYABgAkAAAACAAIABIAAAAEAAQAGgAAAAAAAAAeAAAAAAAAACoAAAABYKI

[2019-12-27 14:17] somyata commented on #5335
Hi Friends- I am still not able to integrate Postman with Gitlab..Did anyone had a good luck with this?

[2019-12-27 17:16] levyblue commented on #7700
Same thing hanppening to me

[2019-12-27 18:53] lanegoolsby commented on #5611
For the other googlers, I had this problem today. What happened was all of my variables somehow were lost/reset/disappeared into the aether. I figured this out by looking at a Fiddler session and saw all my variables were 'undefined'. I blew away the collection and re-imported it, that fixed it.

I'm not sure what caused the vars to get wiped. Things worked fine the day before then were borked in

[2019-12-27 20:08] openhouseMarcela commented on #5014
I had the same issue. What you need to do is "Empty Cache and Hard Reload" your browser. Go to"inspect" and then right click on the refresh button on the browser. Then click on "Empty Cache and Hard Reload"

[2019-12-27 20:17] kds-snyder commented on #4751
Having the same problems as @arpst0rm on Windows 10, with Postman V7.14.0, with a response body ~35M.

[2019-12-27 20:39] hiren929 opened #7849 "Exporting environment doen't include correct current values"
**Describe the bug**
Postman for PC version v7.14.0. Exported environment file has correct initial value but wrong current value. Current value for all variables is same a initial value, which is wrong.

**To Reproduce**
Steps to reproduce the behavior:
1. Add new environment
2. Add a variable with different current and initial values
3. Export to a file
4. Look into the file

**Expected behavior*

[2019-12-27 21:21] Paulo-Sensedia commented on #7845
hello :)

my point is:

the sintax is wrong but postman doesn't alert about it. besides, it returns that the test PASS.

[2019-12-28 09:25] Austine105 commented on #3466
Any progress/feedback with the auto save feature, I might consider checking out other tools.

[2019-12-28 13:15] vdespa commented on #7849
Hi @hiren929

This is expected.

The current value is something that is private to your account / local installation and does not get shared.

If you don't want this, you can change the following setting:

![image](https://user-images.githubusercontent.com/1197635/71544213-e30e2b80-2984-11ea-9433-c635cf6a541b.png)

[2019-12-28 13:18] proflinksgh commented on #858
I'm wondering how I can encrypt and decrypt request in Postman

[2019-12-28 14:10] vdespa opened #7850 "Include plugin Chai Sorted: Chai JS Plugin for testing if an array has sorted values"
**Is your feature request related to a problem? Please describe.**
It would be nice to have the possibility of testing if an array is sorted.

**Describe the solution you'd like**
Chai JS Plugin for testing if an array has sorted values. https://www.chaijs.com/plugins/chai-sorted/

**Describe alternatives you've considered**
n/a

[2019-12-28 16:17] hiren929 commented on #7849
Got it. Thx.

[2019-12-28 16:17] #7849 closed, assigned to nobody

[2019-12-28 17:42] Julian1Le9Cuero commented on #6521
Trying a different compatibility worked for me, thank you @labifrancis!

[2019-12-28 23:33] amir1376irani commented on #6242
If you check postman roadmap board, you'll see this issue is in later cards!
Are you guys serious about it? @postmanlabs
it's a basic thing that many devs need this

[2019-12-29 04:25] pazfelipe opened #7851 "You did not fetched handover early enough."
I cannot sign in with google account. Everytime I tried to sign in this message appeared:

now, this one appears:

[2019-12-29 08:11] mukulsharma9118 commented on #7110
Facing the same issue with stable version in ubuntu 19.10

[2019-12-29 08:32] mukulsharma9118 opened #7852 "Unable to start postman stable installed via snap on ubuntu 19.10"
**Describe the bug**
Unable to start postman stable installed via snap on ubuntu 19.10
Installed it using **sudo snap install postman**

**To Reproduce**
Go to gnome menu and click on postman
type postman on terminal

[2019-12-29 08:41] akelesis opened #7853 "Does Postman send OPTIONS requests before GET or POST requests?"
Hello guys!

I'm not having exactly a bug or anything like that, but I want to understand a little bit more about how postman works with get and post requests.
I'm developing a system which needs to get info from a third-party API, I have no trouble when I access the URLs with postman, but when I try to access it through my application it blocks my options request and interrupts the process.
The t

[2019-12-29 12:56] majidmvulle commented on #7851
Same issue.

![Screen Shot 2019-12-29 at 16 56 23](https://user-images.githubusercontent.com/1475098/71557195-2a1b2000-2a5c-11ea-92b8-69707f346c1c.png)

[2019-12-29 12:58] majidmvulle commented on #7851
@pazfelipe Clear cache or use a different browser/incognito. Works for me now.

[2019-12-29 15:57] godfrzero commented on #7839
This error seems to be due to an IP check we do on the backend. @kartios Can you see if disabling the proxy temporarily fixes the problem for you?

[2019-12-29 23:37] elyobo commented on #7110
Just dropping a note here to say that the `7.13.0` seems to have resolved this issue (may have also been resolved beforehand).

[2019-12-30 06:50] coditva commented on #4355
@omarw This does not seem to be an issue with Postman itself. Can you try this request with `curl` to see if the credentials are indeed correct?

[code]

[2019-12-30 07:28] sajalshres commented on #5805
Any update on this request?

[2019-12-30 11:07] ankurdengla1996 commented on #7852
Hey @mukulsharma9118 , we were not able to reproduce the issue at our end (on ubuntu 19.10). Here are the steps we followed -
- Installed postman using **sudo snap install postman** on terminal
- Executed app using menu
- Executed using **postman** command in terminal
In both the cases, the app opened normally.

Could you help us by letting us know the error message that you are seeing when trying

[2019-12-30 13:53] shivam-postman opened #7854 "Monitor page shows "Something went wrong. We were unable to retrieve monitor details. Please try again.""
When selecting a monitor to view the details, the page shows "Something went wrong. We were unable to retrieve monitor details. Please try again."
This is happening only for older versions of postman app (before v7.0).

<img width="896" alt="Screenshot 2019-12-30 at 19 26 27" src="https://user-images.githubusercontent.com/53427068/71584789-4db49800-2b3a-11ea-97f2-d4353d168544.png">

[2019-12-30 13:59] shivam-postman commented on #7854
The monitors can be made accessible by updating the app and allowing the sync to complete. We're working on adding the support for older versions as well.

[2019-12-30 14:32] thealiraza opened #7855 "failed to extract installer postman app on Windows 10. Need solution"
I am installing Postman on windows 10. In earlier windows, which I reinstalled, it was working fine. But, now it is giving error :
**failed to extract installer**
version: Postman-win64-7.14.0
I need urgent help and am unable to solve the issue. I can't find any solution on this repository or google.

![Capture](https://user-images.githubusercontent.com/37246697/71586122-dd5a4680-2b3a-11ea-8637-03

[2019-12-30 17:17] simonhamp opened #7856 "Add pre-request scripts to access token generator"
**Is your feature request related to a problem? Please describe.**
I am trying to use a variable in the name of an Access Token when generating OAuth2 tokens via the 'Generate New Access Token' UI. The variable I want to use doesn't exist (`$now`) at that point in time, but I was hoping that the pre-request scripts would also apply to token requests. Sadly, they appear not to.

**Describe the solu

[2019-12-30 17:57] omarw commented on #4355
It worked with curl
![image](https://user-images.githubusercontent.com/6384312/71593889-b7657f80-2b03-11ea-9fe6-3e12bb268ad8.png)

With curl it automatically sent the request twice.

[2019-12-30 22:55] clairestreb opened #7857 "Show the collection name in the request tab"
If all collections are collapsed, I do not know which collection my request belongs to.

It should be simple to show the collection name in the request's tab

[2019-12-31 02:41] Jigsawk commented on #3331
this way can solve my problem

[2019-12-31 03:08] softboy99 commented on #2801
+1

[2019-12-31 04:35] numaanashraf commented on #7855
Seems to be a duplicate of #6707

[2019-12-31 05:25] abhijitkane commented on #7741
@distologyProgrammer Can you add a space after `-H`? That should unblock you for now.  This seems to be an issue with commander (the bash input parsing lib we're using). Will require deeper investigation.

[2019-12-31 05:29] abhijitkane commented on #7769
@cfritschi I'm unable to reproduce this with version 7.14 of the app. Can you confirm?

[2019-12-31 05:38] ankurdengla1996 commented on #7855
Hey @thealiraza !

Closing this since this is a duplicate of #6707 . Please follow the original thread for updates.
Also, could you share the `SquirrelSetup.Log` file which is present at `%LOCALAPPDATA%\Postman`.

[2019-12-31 05:38] #7855 closed, assigned to ankurdengla

[2019-12-31 05:40] abhijitkane commented on #7740
@sroettering Can you check with v7.14? I'm seeing upto 4 levels of circular references faked for a schema (eg. https://gist.github.com/abhijitkane/bd57dba53921d5470aa5971cf3189a58)

[2019-12-31 06:00] abhijitkane commented on #7309
@ddjurgensen I'm able to import this collection in v7.14 of Postman. Can you confirm?

@anilloutombam I'm afraid we'll be unable to investigate further without a sample input file you can provide. You can redact company-specific data in your file before sharing.

[2019-12-31 06:47] ankit-m opened #7858 "Workspace member names do not show up while editing on dashboard"
**Describe the bug**
Editing a workspace `/workspaces/:id/edit` does not show team member names.

**To Reproduce**
Steps to reproduce the behavior:
1. Open dashboard (go.postman.co/workspaces?type=team)
2. Click on the `···` button
3. Click on `Manage members`
4. Observe no team member names

**Expected behavior**
Show names