[2019-03-25 11:48] ratpik commented on #4603
To enable CORS for all users of Postman Mocks, we detect if the incoming request is a preflight request by relying on the request method and the `Access-Control-Request-Method` header and reply with a response that has `Access-Control-Allow-Origin: *` header without looking at the saved examples. Most users of Postman Mock's do not explicitly save an example with the `OPTIONS` method and expect th

[2019-03-25 12:47] thomasazdon opened #6147 "Call Json file with web url in collection"
Feature request is related to commercial and enterprise usage as well as client support.

We distribute a set of demonstration data to our api based application so clients can understand the end to end load to request process.  We currently encourage all of our clients to use Postman for testing - which allows us to also share a collection of sample calls - we use postman documenter to provide thi

[2019-03-25 13:13] LalithVigneshS opened #6148 "Suggest a way to add external javascript libraries which is not supported by Postman"
1.For example i am trying to use the "Twilio" library in my code. But i dont know how to proceed further.

2.Suggest me a workaround to solve this.

[2019-03-25 13:34] kamalaknn commented on #6144
Thanks @egodsk for the clarification. It helped us validate our fix.

Let me clarify why the console log of the original request showed the correct environment value.

1. When a request is executed Postman app creates a copy of the request and current environment and sends it to the execution engine - [postman-runtime](https://github.com/postmanlabs/postman-runtime)
2. Postman runtime executes the

[2019-03-25 13:38] Sophos06 commented on #3943
Really looking forward to - **pm.test.result()** or any **boolean returned by pm.test()**...
Until then, I did not even believed it was not possible.
Painful.

[2019-03-25 13:41] sujayvenaik opened #6149 "Allow a request name to have maximum of 256 characters as only 256 characters are synced and rest are dropped"
**Describe the bug**
The app allows a request name to be on any length, but only the first 256 characters are synced.

**To Reproduce**
Steps to reproduce the behavior:
Create a request
Set a name greater than 256 characters
Logout and then login
When the request syncs back you will have the first 256 characters of the name only

**Expected behaviour**
Allow a user to only enter 256 characters, no

[2019-03-25 14:03] godfrzero commented on #6017
Just FYI, the fixes are being reviewed and we're working on pushing them out.

[2019-03-25 14:14] smshuja commented on #3892
ReDoc is using vendor extensions
https://github.com/Rebilly/ReDoc/blob/master/docs/redoc-vendor-extensions.md#x-tagGroups

This seems like a good option.

[2019-03-25 14:25] codenirvana commented on #6148
Closing as duplicate of #1180

[2019-03-25 14:25] #6148 closed, assigned to nobody

[2019-03-25 15:32] AxonDivisionDev commented on #3117
Working with JSON:API and a dev team where we really need this feature. Our workaround is to leave raw attributes empty if nullable types, obviously not ideal nor is it explicit 👎

[2019-03-25 16:02] tradeli commented on #6080
It is variable, but around 15MB.

[2019-03-25 16:52] sunew commented on #3661
Nothing in the chrome console, but the host is being set to false in the postman history, see screenshot.

Using https - so that explains it I guess. A better error message would be good - also to actually inform that the message is from postman.

<img width="850" alt="Screenshot 2019-03-25 at 17 52 05" src="https://user-images.githubusercontent.com/893142/54938533-c5f48a00-4f26-11e9-9625-508fa25d

[2019-03-25 17:10] ratpik commented on #5631
The variable `{{$timestamp}}` is a dynamic variable that is part of the Postman Sandbox which is a module used by the Postman Runtime which is responsible for resolving such special values during script execution (pre-request/test, request sending, etc). Mocks in Postman do not execute javascript. To resolve environment variables in Mock, you need to specify the environment that has the correspond

[2019-03-25 17:10] #5631 closed, assigned to nobody

[2019-03-25 17:22] JP-from-Postman commented on #6137
@a85 There's a prompt shown to migrate teams to RBAC, along with the upgrade to v7, no?

[2019-03-25 17:24] a85 commented on #6137
If there are not signed in, they should not be getting a migration prompt as they don't have a team - nor an account.

[2019-03-25 17:25] a85 commented on #3892
We'll be moving all these issues to importer specific projects. These are open-source plug-ins that Postman maintains so feel free to submit a pull-request and we can look at the behavior. We will be migrating these issues to that tracker soon.

[2019-03-25 17:30] JP-from-Postman commented on #6137
Understood, I could have clarified that better in my initial comment. It's a mix of both scenarios. Some affected users are on teams or signed in, some are not. In that sense, I guess the upgrade process is the commonality, not necessarily the migration.

[2019-03-25 19:33] luanlmd commented on #3822
+1

[2019-03-25 19:33] JP-from-Postman commented on #5322
@godfrzero Just linked a user report. Not sure if it's the same one you mentioned.

[2019-03-25 20:01] a-gonzalez commented on #4262
Been having this issue for months. Any updates / fixes? We should just write our own open-source API tester.

Version 7.6

[2019-03-25 20:03] aedelbro opened #6150 "Rendered emoji in JSON body response shifts line"
**Describe the bug**
When an emoji is included in the response body, the line containing that emoji is shifted down by a few pixels.

**To Reproduce**
Hit an endpoint that responds with an emoji on a line. Use the pretty formatter for JSON
ie.
[code]

**Expected behavior**
The line that contains the emoji should be equidistant from lines on either side of it, and the indent indicators shouldn't ha

[2019-03-25 21:12] danabeled commented on #3137
This is my first comment on github ever, this feature is a no-brainer add in my opinion. It's the single thing making my team doubt if it's viable for our CI test process.

[2019-03-25 22:25] sql4bucks commented on #4079
+1

[2019-03-25 23:10] chrisdeso opened #6151 "Web Dashboard – Error when accessing collection"
**Describe the bug**
When attempting to access a collection via the web dashboard, an error stating `You don't have access` is thrown.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to [https://go.postman.co/me/collections](https://go.postman.co/me/collections)
2. Attempt to access collection(s) listed
3. See Error

**Expected behavior**
The collection documentation is expected to popula

[2019-03-25 23:19] JP-from-Postman commented on #6127
@ratpik @preethammavin Do we have a current status / timeline for this issue?

[2019-03-26 00:16] JP-from-Postman commented on #6137
Looking at this again, most (possibly all) reports involve one of two scenarios:

a) User logs out at migration prompt (users who are not admins cannot migrate a team, so sign-out is the only other option presented), and then logs back in. Existing content is then missing from the Postman app.

b) User logs in for the first time after upgrading to v7. In some instances, content _is_ successfully s

[2019-03-26 00:25] phlrdomanski commented on #4320
any chance that this gets solved any time soon?
I've seen people being unassigned from this issue which is always a bad omen : (

[2019-03-26 00:30] aksbenz commented on #4320
Honestly, I don't think postman people care any more, we are plebs.... They have gone too big ...

[2019-03-26 03:27] godfrzero commented on #5529
I'm fairly certain it's not a load issue for two reasons:

1. The monitoring platform handles 10k - 20k+ concurrent runs at times. 5 concurrent runs would not be a problem. Individual runs take place on isolated VMs within separate processes, so runs don't affect each other.
2. Every similar reported case of timeouts in the past have been traced back to an API that's misbehaving or a legitimate ru

[2019-03-26 03:27] #5529 closed, assigned to godfrzero

[2019-03-26 03:44] preethammavin commented on #4316
The issue has been fixed, do feel free to reopen the issue if it still persists.

[2019-03-26 03:47] #4988 closed, assigned to ankitjaggi

[2019-03-26 03:48] preethammavin commented on #4988
Closing due to inactivity

[2019-03-26 04:18] preethammavin commented on #6101
This issue has been fixed.

[2019-03-26 04:18] #6101 closed, assigned to ankitjaggi, preethammavin

[2019-03-26 06:13] Raj-postman commented on #6117
@numaanashraf There are no errors seen in the  `renderer-requester.log`

[2019-03-26 06:27] ash007-postman opened #6152 "Python requests contains syntax errors in Postman API documentation"
**Describe the bug**
 Python requests contains syntax errors in Postman documentation (https://docs.api.getpostman.com)

**To Reproduce**
1. Go to https://docs.api.getpostman.com
2. Click on Collections- Get request
3. Select language as "Python Requests
4. Example Request has wrong syntax as below:
    a. allow_redirects is declared twice
    b. The second declaration has incorrect syntax 'false'

[2019-03-26 06:38] numaanashraf commented on #6117
@Kurmavathar would it be possible to send us a screenshot of Console in (View > Developer > Current View) after you try duplicating a collection?

[2019-03-26 06:47] numaanashraf commented on #5611
We've made some improvements to our syncing system that should address this. Let us know if you are still facing this issue. Closing this issue for now.

[2019-03-26 06:47] #5611 closed, assigned to nobody

[2019-03-26 07:06] vinitshahdeo opened #6153 "Adding 100+ cookies makes app slower"
**The app can't handle 100+ cookies smoothly for a domain.**

I'm trying to add 100+ cookies for a domain and it's crashing.

- The UI options stop working and becomes unresponsive.
- The `click` and `scroll` doesn't work
- The app gets slow and starts lagging

Check these screenshots!

<img width="722" alt="Screenshot 2019-03-26 at 11 18 39 AM" src="https://user-images.githubusercontent.com/20594

[2019-03-26 08:04] imtrobin opened #6154 "Custom color for status"
Hi, I like to request for different color setting in Status when it is not 200, maybe we can change to red for error.

[2019-03-26 08:28] treolandix commented on #6151
When I try it through above link [](https://go.postman.co/me/collections) it says no collections at all:

![tempsnip](https://user-images.githubusercontent.com/12352470/54981712-4a87ec80-4fa9-11e9-8642-a416e36aee8f.png)

When I press _Back to workspace_ at the top left my collection show's up properly. But I got still no access.

[2019-03-26 09:03] numaanashraf commented on #3480
With only the information that is currently in the issue, we don't have enough information to take action. I'm going to close this but don't hesitate to reach out if you are still facing this issue and have more information to help us debug this - we'll be happy to reopen the issue.

[2019-03-26 09:03] #3480 closed, assigned to nobody

[2019-03-26 09:22] harryi3t commented on #5759
@Katobring Can you share a sample collection where this is reproducible?

[2019-03-26 09:24] dmenne commented on #5695
The example below should fail, but it always passes.

[code]

[2019-03-26 09:25] kamalaknn commented on #5402
@harryi3t Duplicate of #5255

[2019-03-26 09:25] #5402 closed, assigned to nobody

[2019-03-26 09:35] VicKetchup commented on #5529
@godfrzero The exact issue hasn't occurred for a very long time, I went though all available data on the monitors we have and couldn't find any of the runs that have it, so hopefully it's all good 👍 If the issue comes back, I'll ensure to have all info regarding response times ready.
Update:
Managed to find a run, had a look where the times have went up in logs and I think I found the exact reason

[2019-03-26 09:50] harryi3t commented on #5063
@bmdako The fix is available in the latest version of Postman

[2019-03-26 09:50] #5063 closed, assigned to nobody

[2019-03-26 10:32] kid1412621 commented on #2834
not responding in linux latest version

[2019-03-26 10:40] JacobPoldenValtech commented on #3825
What's going on with this. This is part of the RFC spec. Issues getting fixed include things like fonts and colours when this kind of missing feature is still outstanding? The prioritisation seems off.

[2019-03-26 11:02] ghost opened #6155 "New Test Issue from postman app"
New Test Issue from postman app

[2019-03-26 11:04] #6155 closed, assigned to nobody

[2019-03-26 11:11] numaanashraf commented on #4637
This issue has been addressed in Postman 6.7+.

[2019-03-26 11:11] #4637 closed, assigned to nobody

[2019-03-26 11:23] LalithVigneshS opened #6156 "I need to clear only"initial value" & "current value" of the environment variables after each data iteration."
1.Could see blogs for unset/clear the environment variables completely.
2.Myself required with clearing the values only.
3.My project requires same variables with different values for each iterations.
Kindly provide me with a workaround.

[2019-03-26 13:00] parthiban-arthanari opened #6157 "wsHttpbinding is not working"
## App Details:

[code]

## Issue Report:
I want to know how to connect wsHttpBinding WCF endpoint. Below is my generated xml from wcf client. i waned to know to configure headers and security authorization in post man app.

<s:Envelope xmlns:a="http://www.w3.org/2005/08/addressing" xmlns:s="http://www.w3.org/2003/05/soap-envelope">
<s:Header>
<a:Action s:mustUnderstand="1">http://aditi.com/hrs/au

[2019-03-26 13:32] balane commented on #6115
I wish there was a way to upvote this. Token management is a real pain currently.

[2019-03-26 13:35] rotorboy commented on #6115
I’m not the first to have an issue here. Postman has been promising better token management for over a year now and so far nothing has changed so I’m not sanguine that it is prioritized on dev feature list.

-Avi

[2019-03-26 14:08] kksanil123 opened #6158 "API requests showing under a collection are showing incorrect after editing and saving."
Please read through the [guidelines](https://github.com/postmanlabs/postman-app-support#guidelines-for-reporting-issues) before creating a new issue.

**Describe the bug**
API requests showing under a collection are showing incorrect after editing and saving.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a new collection and lets name it A for further reference.
2. Create a new requ

[2019-03-26 14:41] arunvinoth commented on #6136
Anyone? Is this something to do with some O365 or AAD or ADFS configuration?

[2019-03-26 16:50] godfrzero commented on #5529
Cool, thanks for letting us know. 👍

[2019-03-26 16:59] BrambleRamble commented on #4320
@aksbenz  In the nicest possible way, I really hope you're proved wrong.

[2019-03-26 17:07] Krasiph opened #6159 "Erroneous "?" Appended to GET Parameter"
**Describe the bug**
When issuing a GET request with a single parameter, an extra "?" character is appended and parsed by the receiving app (Django 1.11 using Rest Framework, endpoint is using @api_view(['GET']) ).

**To Reproduce**
Steps to reproduce the behavior:
1. Send a GET request to a Django 1.11 rest API with a single parameter: http://myexample.com/test?value=test_value
2. Print or return

[2019-03-26 19:43] arunvinoth commented on #6136
Never mind. Some AD group I was not part of drives the O365 to AAD OAuth flow, adding to that AD group solved the issue.

Anyone facing this issue can try with fiddler & see the 401 unauthorized in HTTP request/response.

[2019-03-26 19:43] #6136 closed, assigned to nobody

[2019-03-26 22:45] AlissonRS opened #6160 "Can't delete a workspace - Website"
Please read through the [guidelines](https://github.com/postmanlabs/postman-app-support#guidelines-for-reporting-issues) before creating a new issue.

**Describe the bug**
I created a team workspace and now I can't delete it. I searched other issues here and none of them seemed to be my case. When I try to delete it, it says:

However I'm already in another workspace (a personal one), so I don't u

[2019-03-26 23:21] Thor07 commented on #6146
Thanks guys! Works fine now,if recurs,shall reopen.

Cheers!

[2019-03-26 23:41] ghost opened #6161 "Postman has no icon in start menu after typing in the name."
Please read through the [guidelines](https://github.com/postmanlabs/postman-app-support#guidelines-for-reporting-issues) before creating a new issue.

**Describe the bug**
Postman has no icon in the Windows start menu when you search for it (not in recently added apps, you have to actually try to search for it.)

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Windows start menu by pres

[2019-03-27 03:29] preethammavin commented on #6149
Closing this as a duplicate issue
#5073

[2019-03-27 03:29] #6149 closed, assigned to nobody

[2019-03-27 03:56] preethammavin commented on #6158
@kksanil143 When you hover we display the request name, which does not dynamically change based on the request itself.

If the behaviour that you expect is that the request name changes based on the request, then that would not be the right assumption. Request name has to be changed by the user in the tab, and this is done to ensure we give the user the freedom to name the request in a human-reada

[2019-03-27 03:56] #6158 closed, assigned to nobody

[2019-03-27 04:10] preethammavin commented on #6160
Hi @AlissonRS
Can you please write to us at help@getpostman.com, so that we have more information to solve this issue.

[2019-03-27 04:17] preethammavin commented on #6151
@treolandix Thanks for the information, will get back with a resolution for this soon.

[2019-03-27 04:35] ilaxopavan opened #6162 "Native app is not open ,it takes too much time"
native is is too much slow,really get irritated, it takes too much time in opening

try latest version and downgraded version in windows 10 64 bit, nothing works

[2019-03-27 04:58] AlissonRS commented on #6160
Hey @preethammavin thanks for your time. I sent an email, feel free to ask any further details that I missed which could help.

[2019-03-27 05:26] numaanashraf commented on #6157
We recommend reaching out to the wider Postman Community (https://community.getpostman.com/) for help with this issue.

Issue Guidelines: https://github.com/postmanlabs/postman-app-support#guidelines-for-reporting-issues

[2019-03-27 05:26] #6157 closed, assigned to nobody

[2019-03-27 05:44] numaanashraf commented on #5997
We are closing this due to inactivity. Please let us know if you are still facing this issue with the workaround mentioned above.

[2019-03-27 05:44] #5997 closed, assigned to nobody

[2019-03-27 05:45] numaanashraf commented on #6162
@ilaxopavan Could you try disabling GPU support within Postman via the steps detailed at https://github.com/postmanlabs/postman-app-support/issues/4594#issuecomment-391601621? We've had reports of degraded performance on Windows with certain GPUs/Drivers.

[2019-03-27 05:47] numaanashraf commented on #6159
@Krasiph We are unable to replicate this issue with the steps provided. Could you try resending the same request via cURL to rule out a server-side issue?

[2019-03-27 05:47] numaanashraf commented on #6156
We recommend reaching out to the wider Postman Community (https://community.getpostman.com/) for help with this issue.

Issue Guidelines: https://github.com/postmanlabs/postman-app-support#guidelines-for-reporting-issues

[2019-03-27 05:47] #6156 closed, assigned to nobody

[2019-03-27 05:56] numaanashraf commented on #5007
We are closing this due to inactivity and insufficient information. Feel free to reopen with the details mentioned in https://github.com/postmanlabs/postman-app-support/issues/5007#issuecomment-412577457.

[2019-03-27 05:56] #5007 closed, assigned to numaanashraf

[2019-03-27 06:00] numaanashraf commented on #4925
This doesn't seem to be an issue with Postman. Postman sends the raw request as is (formatted or unformatted). Please verify whether this is a server-side issue. Closing this issue for now.

[2019-03-27 06:00] #4925 closed, assigned to nobody

[2019-03-27 06:01] ilaxopavan commented on #6162
thanks it works

[2019-03-27 06:19] SamvelRaja commented on #6118
@labifrancis  Could you provide us from which app this data has been backedup?
Native or chrome app?

[2019-03-27 07:43] anudeepmedicharla commented on #4304
Hi @andreypolyak, thank you for your suggestions. Our new update solves your issue by listing the workspaces that a collection is shared in. You can view this by going to "Manage Permissions" under any shared collection.

Closing this issue.

[2019-03-27 07:43] #4304 closed, assigned to vkaegis, sankalp0o, preethammavin

[2019-03-27 07:44] hari411 commented on #3033
Hi All,
I am running the collection in postman by passing multiple inputs from .csv file, after completion of test i want to write the results in the same .csv file, How to handle this can any one let me know.
Thanks in advance

[2019-03-27 07:50] alanwei43 commented on #3736
I can get response data in the test script, like `pm.response.json()`, but how to modify the response data?

[2019-03-27 07:51] GautierT commented on #3174
Any update on this feature ?

[2019-03-27 07:59] sirvio commented on #4594
black screen quite immediately after start of the program, "stack trace" attached when started the canary version from shell. Gpu parameters does not solve the problem.
"<--- Last few GCs --->

[6951:0x7f7ffb817e00]    22630 ms: Mark-sweep 2040.3 (2086.3) -> 2039.7 (2086.3) MB, 55.8 / 0.0 ms  allocation failure GC in old space requested
[6951:0x7f7ffb817e00]    22733 ms: Mark-sweep 2039.7 (2086.3)

[2019-03-27 09:43] numaanashraf commented on #6162
Thanks for letting us know @ilaxopavan.

Duplicate of #4262

[2019-03-27 09:43] #6162 closed, assigned to nobody

[2019-03-27 10:12] daozhihun commented on #4687
I'm on Mac OS and the postman (and its helper processes) eats up about 500MB. I've no history at all and I don't think it's normal for an app like Postman.
Please improve.

[2019-03-27 10:14] h1lleh commented on #3956
Still a bug within Postman  over a year after first reported.

I'm using the latest version of Postman (7.0.6); and had to blow away my postman file and recreate collections - by following the details here I was able to export ahead of time, but still - it's a pain to do. A colleague also has the exact same issue.

[2019-03-27 10:23] preethammavin commented on #5000
The issue has been fixed, feel free to reopen if it is not.

[2019-03-27 10:23] #5000 closed, assigned to dhineshwiz, Raja-Simha

[2019-03-27 10:24] godfrzero commented on #6132
We've tracked this down to a bug which was up in production between March 12th 2019 - March 23rd 2019. Teams who had their monitoring billing cycles reset during this period would've seen incorrect usage on the overview page. We've updated the usage for these teams, and the usage displayed on the overview and details page should be closer to each other now. The values may not be *exactly* the same

[2019-03-27 10:56] cyrielle-hada opened #6163 "Error ‘something went wrong’ upon Sign in (native app)"
**Describe the bug**
It is not possible to sign into the native app, an error message says: `‘Something went wrong, please try again later’`.

**To Reproduce**
Steps to reproduce the behavior:
1. Open Postman native app (version 5.5.4)
2. Enter credentials and hit Sign in
3. See error below

![55070870-141ca100-507f-11e9-8038-fb9594da4580](https://user-images.githubusercontent.com/47351631/5507102

[2019-03-27 11:06] treolandix commented on #6151
@preethammavin No problem! It is not urgent, as @chrisdeso described everything works fine in the app.

[2019-03-27 11:26] jankuzniak commented on #3929
I stumbled on this issue when trying to understand what I did wrong; as a new user I agree wholeheartedly - not resolving variables for pre-request script is confusing. In my case, I'm using a variable in the URL and trying to access the URL in the pre-request script using pm.request.url.toString(); An API to resolve variables in the scripts would indeed solve my case - is there a ticket for this?

[2019-03-27 11:34] labifrancis commented on #6118
Chrome app.

[2019-03-27 11:38] codenirvana commented on #3929
@jankuzniak Refer https://github.com/postmanlabs/postman-app-support/issues/6078#issuecomment-473022186

[2019-03-27 12:39] saswatds opened #6164 "System Headers are not showing up in headers tab"
**Describe the bug**
System Headers are not showing up in headers tab when `Inherit from parent` is selected in authentication selection dropdown

**To Reproduce**
0. Open Echo colllection -> Request Methods -> Get Request
1. Make a call to postman-echo.com/get
2. Observe the request headers tab to not have been populated with system headers
3. Go to auth tab and set "no auth" or any other auth
4.

[2019-03-27 12:39] Krasiph commented on #6159
@numaanashraf I have made a simpler Django app and deployed it locally to confirm your results. The erroneous "?" must be coming from somewhere else in our app's deployment stack.

Thank you for your time!

[2019-03-27 14:05] jankuzniak commented on #6078
@codenirvana thanks for the walkaround! Still voting for the official support for this one 👍

[2019-03-27 14:07] jankuzniak commented on #3929
@codenirvana thanks for the walkaround! Still voting for the official support 👍

[2019-03-27 14:11] sujayvenaik commented on #5657
Hey, @aowie1  Can you update to the latest version and try this on the latest version (v7.x)?

[2019-03-27 14:13] sujayvenaik commented on #4800
Hey @dennisslavid @cedx
Can you update to the latest app (v7.x) and try if this is still happening?

[2019-03-27 14:19] kdehairy commented on #3956
I also still face this bug. Linux, postman v7.0.6.

I tried the workaround (rm -rf ~/.config/Postman). Still loops back to the login screen.

The only different case I can think of is that after providing my company's google email, I'm redirected (rightfully) to my company's SSO login page.

[2019-03-27 14:38] #6159 closed, assigned to nobody

[2019-03-27 15:03] cs94njw commented on #3859
Just had this same issue.  I appreciate and understand the response from @kamalaknn , but it's weird - you're not sure whether to trust the time or not.
With the subtlety of "localhost/127.0.0.1" still not working in an obvious way, I find myself questioning whether it's a bug or a true representation.

[2019-03-27 15:55] amaschas commented on #3956
What if, and I'm just spitballing here, you didn't force users to log into an app that doesn't require login to function?

[2019-03-27 15:57] upendrarangudu commented on #2045
I still face the same issue with Postman V7.0.6

SCENARIO:
Send a request using Basic Auth
Change Authorization type --> No auth
Send a request

EXPECTED:
No 'Authorization' header is sent when 'No auth' is selected

ACTUALLY:
Old 'Authorization' header is sent

How can I make sure that new auth values are reflected as part of the request?.

[2019-03-27 15:58] a85 commented on #3956
Postman doesn’t require a login to function.

[2019-03-27 16:02] sujayvenaik commented on #2045
Hey @upendrarangudu
I tried replicating this using our echo endpoint i.e. `http://postman-echo.com/get` which is a ping pong endpoint returns whatever it is sent with.

I had basic auth with some credentials sent the request, checked that the auth header was sent. Changed request to no auth then the auth header was not sent.

Can you test it once again? Or help us with a screen recording so we cou

[2019-03-27 16:02] h1lleh commented on #3956
Correct: We're not forcing anyone to log in; Part of my login flow has a PCV which uses basic auth to get an access token. It's the PCV which loops (with any user, new or old that I create). So I can never get an access token through Postman when this bug arises.

Deleting the Postman directory worked for me, and I can now get an access token, but surely this bug should be fixed over a year later.

[2019-03-27 16:16] upendrarangudu commented on #2045
Yep..my bad..works fine.

[2019-03-27 16:57] joseSantacruz commented on #4186
Version 7.0.6 same issue

[2019-03-27 16:59] preethammavin commented on #6160
@AlissonRS thanks for the information, will give you an update when we have a resolution.

[2019-03-27 18:11] cyrielle-hada opened #6165 "Error ‘something went wrong’ when updating user role"
**Describe the bug**
When trying to update user role in https://app.postman.co/team, an error message says `an error occurred while updating roles.`

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://app.postman.co/team
2. Click on Manage Roles and update the role
3. Click Done
4. See error

![Update User role error ](https://user-images.githubusercontent.com/47351631/55101348-d25

[2019-03-27 19:18] kksanil123 commented on #6158
Hi @preethammavin
Thanks for the response. Yes, i can see original request + copy when i duplicate a request in a collection. But lets say, i have a request R1 and i duplicated it 10 times. **i have modified all the requests (duplicated) by editing and saved them.**
Now i want to run a particular request out of 10 duplicated requests. **For this i need to open each and every request, look for the

[2019-03-27 19:19] numaanashraf commented on #3124
Postman Chrome Apps are deprecated. Please use Postman for Linux (www.getpostman.com/downloads) and let us know if you are still facing this issue.

[2019-03-27 19:19] #3124 closed, assigned to numaanashraf

[2019-03-27 19:21] numaanashraf commented on #5535
@zanisis Would it be possible to share the collection link with us?

[2019-03-27 19:29] numaanashraf commented on #2972
Duplicate of #4751

[2019-03-27 19:29] #2972 closed, assigned to numaanashraf

[2019-03-27 19:30] numaanashraf commented on #5643
We are closing this due to inactivity. Do let us know if you are still facing this issue.

[2019-03-27 19:30] #5643 closed, assigned to nobody

[2019-03-27 19:31] numaanashraf commented on #3492
We are closing this due to inactivity. Do let us know if you are still facing this issue.

[2019-03-27 19:31] #3492 closed, assigned to nobody

[2019-03-27 19:53] valentim-guilherme commented on #3117
+1 waiting for this feature for years!

[2019-03-27 21:08] JP-from-Postman opened #6166 "Timeout - content not syncing to Postman app"
[From Postman Support, on behalf of user]

**Describe the bug**
Synced user content doesn't immediately appear in the Postman app despite being logged in, though after some time (up to 30 minutes) it does sync successfully. Logs supplied by user show a repeat of the following error:

[code]

**To Reproduce**
Unknown

**App information (please complete the following information):**
App Type: Native

[2019-03-27 21:40] sujayvenaik commented on #4978
Hey, @caseydoran  Can you update to the latest app version (v7.x) and still replicate this?

[2019-03-27 22:20] Nabellaleen commented on #1669
Hey guys, any updates about this feature request ?

This is the second more requested feature : https://github.com/postmanlabs/postman-app-support/issues?q=is%3Aissue+is%3Aopen+sort%3Areactions-%2B1-desc

Maybe you should give a little more attention to it and, at least, answered something ? Anything ? :) Just to help people, teams, to take decisions about their tools, about their plans around the

[2019-03-27 22:55] loopDelicious commented on #1669
Sorry about the delay folks. Inbuilt support is currently slated for release in Q2. And should have something in our Canary build soon.

As some other people have already mentioned, the latest timing can be referenced on our roadmap: https://trello.com/c/u4DE4WU8, but of course we'll keep everyone here updated as well when it comes out in Canary and then Production.

[2019-03-27 23:23] nerdile commented on #4677
So could someone sum up, for users who want to force a specific TLS version to be used in Postman, what the steps are they would need to take?

[2019-03-28 01:07] briangarofalo commented on #6132
Thanks for the update. Our current usage period is March 1 2019 - April 1 2019, so I believe that means it was not reset between March 12th 2019 - March 23rd 2019. As of right now (9:00 PM Eastern time on March 27), our overview page is still significantly different than the details page (952 on overview vs. 673 on details).
We have two monitors, one that runs daily and one that runs hourly.

[2019-03-28 02:48] preethammavin commented on #6160
@AlissonRS I was able to check that you have 1 team workspace, and 2 personal ones.

The one that you were trying to delete was the team default one, which postman creates for you which cant be deleted. This is in reference to the workspace id you provided which could not be deleted.

The default workspace is created to help the user onboard, we don't let them delete it purely to ensure they are a

[2019-03-28 02:51] numaanashraf commented on #4041
We are closing this due to inactivity. Do let us know if you are still facing this issue.

[2019-03-28 02:51] #4041 closed, assigned to numaanashraf

[2019-03-28 03:01] vdespa opened #6167 "Postman Updater not finding version 7"
**Describe the bug**
It seems that Postman v6.7.4 cannot detect the next major version, even if major version detection is enabled.

**To Reproduce**
Steps to reproduce the behavior:
1. Enable "Automatically download major updates" in Settings
2. Click Check for updates
3. No updates available

**Expected behavior**
An update to version 7 should be available.

**App information (please complete th

[2019-03-28 03:05] numaanashraf commented on #2725
Not able to replicate this issue. Seems to be worked as expected. Do let us know if you are still facing this issue with the latest version of Postman.

<img width="977" alt="Screenshot 2019-03-28 at 8 32 53 AM" src="https://user-images.githubusercontent.com/3295568/55126881-5c49cb00-5134-11e9-818a-34cb42effb67.png">

[2019-03-28 03:05] #2725 closed, assigned to shamasis

[2019-03-28 03:08] vdespa commented on #6167
An update is available after updating the team workspaces to Postman 7.

[2019-03-28 03:08] chrisdeso opened #6168 "Feature Request: Multiple Recipients for Monitor Summary Emails"
**Is your feature request related to a problem? Please describe.**
Currently, monitor summary emails are only sent to the monitor owner/creator. In-app notifications for collections (and monitors) that team members are subscribed to are great but the ability to designate multiple recipients for the summary emails would be great.

**Describe the solution you'd like**
An implementation that's simila

[2019-03-28 03:09] #6167 closed, assigned to nobody

[2019-03-28 03:12] numaanashraf commented on #5485
We recommend reaching out to the wider Postman Community (https://community.getpostman.com/) for help with this issue.

Issue Guidelines: https://github.com/postmanlabs/postman-app-support#guidelines-for-reporting-issues

[2019-03-28 03:12] #5485 closed, assigned to nobody

[2019-03-28 03:14] numaanashraf commented on #5320
Thank you for your issue! With only the details that is currently in the issue, we don't have enough information to take action. I'm going to close this but don't hesitate to reach out if you have more information that'll help us reproduce this.

[2019-03-28 03:14] #5320 closed, assigned to nobody

[2019-03-28 03:27] numaanashraf commented on #2786
Duplicate of #4751

[2019-03-28 03:27] #2786 closed, assigned to numaanashraf, preethammavin

[2019-03-28 03:43] numaanashraf commented on #4416
Thank you for your issue! With only the details that is currently in the issue, we don't have enough information to take action. I'm going to close this but don't hesitate to reach out if you are still facing this issue.

[2019-03-28 03:43] #4416 closed, assigned to nobody

[2019-03-28 03:44] preethammavin commented on #6158
@kksanil143 when you are editing the request, you can edit the request name for making it recognisable. For example, I have named my request as a test, whereas the URL is a variable URL. So when you have 10 different requests which are duplicated, then when you are editing the request then rename the request based on your need.

I would rename the request when I am editing to organise it better. A

[2019-03-28 04:14] godfrzero commented on #5322
We've isolated the root cause for the reported duplicate runs and a fix is already up on beta. It's much more difficult to trigger duplicate runs via this RC so it has a much lower impact than before. I'll post again once the fix is up in production.

[2019-03-28 04:38] AlissonRS commented on #6160
@preethammavin thanks for your reply, it was sooner than I expected.

It's weird as the 1 team workspace I had (whose name was **Meds** as displayed in my screenshots) I created myself from the Postman desktop client, it was not a workspace that existed since my account was created and I just renamed it to Meds.

Another odd thing is that I wasn't being able to leave the team from the screen I pri

[2019-03-28 04:40] #6160 closed, assigned to ankit-m, preethammavin

[2019-03-28 04:59] numaanashraf commented on #6163
@cyrielle-hada This seems to be a really old version of Postman and we would need more information to reproduce this issue.

[2019-03-28 05:07] SamvelRaja commented on #5723
@pg07codes  Could you follow the steps here and also verify whether you have configured the .desktop file correctly as mentioned in https://github.com/postmanlabs/postman-app-support/issues/5665#issuecomment-448871412

[2019-03-28 05:26] yeaserkhan opened #6169 "New Request Tab is not working on Windows after updating to v7.0.6"
Please read through the [guidelines](https://github.com/postmanlabs/postman-app-support#guidelines-for-reporting-issues) before creating a new issue.

**Description of the bug**
New Request Tab is not working on Windows after updating to v7.0.6

**To Reproduce**
Steps to reproduce the behavior:
1. Open Postman Native App v7.0.6 in Windows 10
2. Click on '+ button'

**Current Observation**
New tab

[2019-03-28 05:44] sujayvenaik commented on #6169
Hey @yeaserkhan
Can you send us the logs? You can find the logs from View->Developer->View logs option.

Also to recover from this state you can `Open in new tab` option from the request menu.

[2019-03-28 06:06] taozhi8833998 commented on #1669
Keep wating for this feature. Thanks for working on it!!!

[2019-03-28 06:17] will-beta commented on #4391
+1
Also wondering why the Microsoft use the `resource` instead of the standard field `scope` in OAuth2.

[2019-03-28 06:25] codenirvana commented on #2282
We've added this on our Canary (`version: 7.1.0-canary01`) channel https://www.getpostman.com/canary

![Screenshot 2019-03-28 at 11 35 02 AM](https://user-images.githubusercontent.com/4865836/55134779-ca4fbb80-514f-11e9-9404-6a8ef67f6f41.png)

Will update the thread once we release this on our stable channel.

[2019-03-28 06:29] codenirvana commented on #4707
We've released a fix for this on our Canary (`version: 7.1.0-canary01`) channel https://www.getpostman.com/canary

@abatishchev @qcastel @benjefferies Please try it out in the Canary version and let us know if you continue to face the issue.
Will update the thread once we release the fix on our stable channel.

[2019-03-28 06:33] codenirvana commented on #5799
@ddeshpande We've released a fix for this on our Canary (`version: 7.1.0-canary01`) channel https://www.getpostman.com/canary

Will update the thread once we release the fix on our stable channel.

[2019-03-28 06:34] ash007-postman opened #6170 "Alignment issues in the Documentation page"
**Describe the bug**
In the documentation page, the => symbols and locations of each field do not line up vertically down the page and instead bounce back and forth. Additionally, the smaller image how it wraps the words in the payload section incorrectly and literally takes the last letter of a word and moves it to the next line by itself. This is literally the ONLY part of Postman that I absolut

[2019-03-28 06:35] numaanashraf commented on #5388
We are closing this due to inactivity and inability to reproduce. Do let us know if you are still facing this issue.

[2019-03-28 06:35] #5388 closed, assigned to nobody

[2019-03-28 06:38] codenirvana commented on #3290
We've added this on our Canary (`version: 7.1.0-canary01`) channel https://www.getpostman.com/canary

![Screenshot 2019-03-28 at 12 04 57 PM](https://user-images.githubusercontent.com/4865836/55135458-bd33cc00-5151-11e9-9088-39d8545fd5e7.png)

When set, the well known "root" CAs will be extended with the extra certificates in the file. The files should consist of one or more trusted certificates i

[2019-03-28 06:42] daveherrington commented on #3832
Yes, this workaround (saving CSV format using Excel on Windows) works.

Even better, Excel for Mac 2011 offers the Save As format "Windows Comma Separated (.csv)".

Saving the file using this Windows Comma Separated (.csv) format did also work with Postman, which is a lot easier than borrowing a Windows computer from the accounting department.

-Dave

[2019-03-28 06:44] ash007-postman opened #6171 "Request to remove right hand code snippet inside documentation page"
**Is your feature request related to a problem? Please describe.**

I need to better understand the right-hand code snippet and to find out if there is a way to remove it.  It literally is taking up 1/2 of the viewable area and is 100% useless.  No programmer that I've ever worked with has ever used those code samples and it totally jacks up the documentation by scrunching everything down into a n

[2019-03-28 06:44] codenirvana commented on #2494
We've added this on our Canary (`version: 7.1.0-canary01`) channel https://www.getpostman.com/canary

![Screenshot 2019-03-28 at 12 10 55 PM](https://user-images.githubusercontent.com/4865836/55135780-a772d680-5152-11e9-8e6d-4c4ec52ee15c.png)

Will update the thread once we release this on our stable channel.

[2019-03-28 07:27] xalimar commented on #3290
Fantastic! I can work with this, although consider supporting PEM file or directory (and reading all CA PEM certs in a directory).  Supporting a directory means I can specify /etc/ssl/certs which has all of the trusted CA certs (stock + custom).

[2019-03-28 07:44] vishnusaikia opened #6172 "Upload file from public URL"
I am new to Postman. while testing an API, I can able to select a file from local system, but not able to select a file URL from my server. How can I upload a file from a link or URL in key field to get it done?

Please suggest.

[2019-03-28 07:47] numaanashraf commented on #6172
We recommend reaching out to the wider Postman Community (https://community.getpostman.com/) for help with this issue.

Issue Guidelines: https://github.com/postmanlabs/postman-app-support#guidelines-for-reporting-issues

[2019-03-28 07:47] #6172 closed, assigned to nobody

[2019-03-28 07:54] sankalp0o commented on #6168
@chrisdeso
AFAIK, monitor summary mailers are sent to all members of the workspace the monitor is in. So if you would like a team member to get daily/weekly summary of a particular monitor, you can add him to that workspace.
Does this solve the use case you're talking about?

[2019-03-28 08:23] harryi3t commented on #5888
This looks like a duplicate of #4246

@skeletozaure I think this might be happening because the page requires a basic/NTLM authentication which normally shows a prompt in a web browser to allow the user to enter the username and password.
Since Postman is built on top of Electron and Electron does not support these prompts you see a blank page.
You can confirm this by trying to open the same URL i

[2019-03-28 09:09] Raja-Simha commented on #6171
@ash007-postman can you please add the images sent by the user. Thanks,

[2019-03-28 09:17] siddharthpharate opened #6173 "Git integration"
Hello,

We would like to have git integration in postman.
Where in all our test collections will be saved in a json in our test repository.

Using this we can pull the latest json files(Collections), add or edit the collections and again push to the repository.

With this the test collections will become more maintainable.

Thanks,
Siddharth

[2019-03-28 10:01] #5108 closed, assigned to godfrzero, kartikjain26

[2019-03-28 10:03] volkanogretmen commented on #1678
I tried the workaround @sobtiankit suggested, couldn't get it to work (length was undefined).

This worked for me:
[code]
Example output:
![Screenshot 2019-03-28 at 11 02 32](https://user-images.githubusercontent.com/25029377/55148708-07647f80-5149-11e9-9e72-90053982f9dd.png)

However, this should just be a default feature!

[2019-03-28 10:25] cyrielle-hada opened #6174 "Unable to invite user from native app - ‘something went wrong’ doesn't convey the root cause of the problem"
**Describe the bug**
Unable to invite a user to join a personal workspace from the native app. Upon clicking send invitations, an error message says `“something went wrong while inviting.”`

**To Reproduce**
Steps to reproduce the behavior:
1. Open the app
2. Select Personal Workspace
3. Click on `Invite`
4. Enter user email and click Add
5. Click `Invite to team`

6. See error

<img width="968" a

[2019-03-28 10:55] adrianrudnik commented on #2931
Today was the day where this all breaks down to the best worst case. Just tried to open up a project and there is no "normal" way around it. Either log out and loose my stuff until "someone" updates something or invest another 30 minutes on this damn topic.

- PPA is not up-to-date (no worries, its awesome someone even made one and its not to critize its out-of-date)
- Postman itself has not done

[2019-03-28 11:25] m3dbedb commented on #5679
Postman 7.0.6 for windows 7 32 have the same issue. I close runner and it closes both postman and console.

[2019-03-28 11:35] SlMarti commented on #4079
+1

[2019-03-28 13:05] MeanderingCode commented on #6030
Any update on this? It doesn't appear to be fixed for me.

[2019-03-28 13:45] preethammavin commented on #6030
@MeanderingCode we have pushed a fix on the API and pushed an update on the UI to load monitors before we let the user add them to the said integration. This issue should not be occurring, can you write to us at help@getpostman.com so that we can gather more details regarding this?

[2019-03-28 14:01] preethammavin commented on #6174
Hi,
As I checked the reason why the user is not able to add a member to the workspace is that the team does not have any user slots left to add a member to the workspace.

If the user wants to add the billing user we would suggest going to the Manage Team Page in the web dashboard and invite the Billing user from there.

For reference: go.postman.co/team/invite?type=support

[2019-03-28 14:02] Spenders commented on #3822
-------------------------
57

isn't it enough ?!

[2019-03-28 14:06] preethammavin commented on #6173
@siddharthpharate We do have an integration already, for reference https://learning.getpostman.com/docs/postman_pro/integrations/github/

[2019-03-28 14:06] #6173 closed, assigned to nobody

[2019-03-28 14:36] VicKetchup commented on #5958
Sorry for late reply, please see attached Zip with a collection to test this issue with, as well as environment and globals files.
[Unset and Clear test.zip](https://github.com/postmanlabs/postman-app-support/files/3018452/Unset.and.Clear.test.zip)

[2019-03-28 15:09] shamasis commented on #4842
@rocifier - yep, you are right. we misinterpreted the issue because there is another actual issue with similar intent. I've changed the issue title for better tracking. Let me know if this sounds accurate.

[2019-03-28 15:18] ryanshores commented on #6168
@sankalp0o I do not believe that is true. Our monitors were set up through my account in our team, and currently only my account gets the summary emails. The other accounts in our team only get the errors.

[2019-03-28 15:22] mi-akram opened #6175 "Generate Code Snippets Not Functioning with Parametrised Values in URI Address Bar"
Please read through the [guidelines](https://github.com/postmanlabs/postman-app-support#guidelines-for-reporting-issues) before creating a new issue.

**Describe the bug**
Generate Code snippets only seems to be working for requests that have hard coded locations in the address bar and not when using environment variables. I believe this could be due to the parameterised variables being used in th

[2019-03-28 15:23] mi-akram commented on #6175
<img width="1680" alt="Postman Bug" src="https://user-images.githubusercontent.com/20515286/55169852-663bf000-516d-11e9-84a7-aeca8270855b.png">

[2019-03-28 15:37] shamasis commented on #1228
We were thinking of ways to address all use cases in this and take this up ASAP. So, here are the thoughts:

We solve it in two parts: (1) Add session control on runner start and stop (2) Add cookie control API within scripts

1. By session control, I mean you get to choose what you want to carry over from the main window when run starts and for every subsequent run.
-- For a run, you can choose t

[2019-03-28 15:37] BrambleRamble commented on #2392
@p00j4 makes a good point about being able to flag tests to be skipped/disabled when running a collection in Newman too. I'd like to be able to enable/disable individual requests directly in Postman, then when running the exported collection in Newman, I'd like the disabled requests to be skipped automatically.

[2019-03-28 15:38] shamasis commented on #6142
Tracking at: https://github.com/postmanlabs/postman-app-support/issues/1228

[2019-03-28 15:38] #6142 closed, assigned to nobody

[2019-03-28 16:06] shamasis commented on #5250
@kkapell - indeed it would be useful. Your particular request is being tracked at https://github.com/postmanlabs/postman-app-support/issues/1228#issuecomment-477649059

[2019-03-28 16:14] mi-akram commented on #6175
Below screen shot shows generate code snippet window with not code snippet details when an parameterised environment variable is used.
<img width="1489" alt="Postman Bug 2" src="https://user-images.githubusercontent.com/20515286/55174125-c71af680-5174-11e9-8db4-463cf6509bae.png">

[2019-03-28 16:22] caseydoran commented on #4978
@sujayvenaik - I do still see the issue. I exported json from the 2nd collection in my list. The info section at the top of the json describes the first collection (name), but the calls are from the first collection.

[2019-03-28 16:22] caseydoran commented on #4978
Version 7.0.6 (7.0.6)

[2019-03-28 16:41] sujayvenaik commented on #4978
@caseydoran can you help us with the collections with which we can replicate this? Or any way we can reproduce?

[2019-03-28 17:07] jongio commented on #2523
@numaanashraf - Do you know if this is on a backlog or have an ETA?

[2019-03-28 17:09] caseydoran commented on #4978
- both collections are nearly identical, but have a different URL (one is production, one is staging).
- Each collection has a post and a get.
- The post has 4 parameters, and the get has 2

Example post for collection 1:
https://produrl.fakeurl/v1/provisioning?clusterName=fakename&kubernetesVersion=1.9&rbacEnabled=true&orgId=11111

Example Get for collection 1:
https://produrl.fakeurl/v1/provisio

[2019-03-28 17:34] #5739 closed, assigned to nobody

[2019-03-28 18:55] sujayvenaik commented on #4978
Hey @caseydoran
I created the same setup and tried exporting still got the expected exported json.
Here is a screen recording of what I did exactly.

![Kapture 2019-03-29 at 0 18 56](https://user-images.githubusercontent.com/11532114/55184790-0ec37180-51b9-11e9-8786-0e31395545f5.gif)

Can you tell me where am i going wrong in reproducing this?

[2019-03-28 19:13] sujayvenaik commented on #4978
Hey @caseydoran
I created the same setup and tried exporting still got the expected exported JSON.
Here is a screen recording of what I did exactly.
![clientApp-export-bug](https://user-images.githubusercontent.com/11532114/55185842-34ea1100-51bb-11e9-929e-cd667e7ab730.gif)

Can you tell me exactly where am I going wrong in reproducing this?

[2019-03-28 20:18] sankalp0o commented on #6168
Let me check this behaviour. @godfrzero @ankitjaggi could you also confirm this?

[2019-03-28 20:32] sahanakrishnaiyer commented on #3137
+1 to have this feature implemented

[2019-03-28 20:33] psharma-intacct commented on #2970
I am still running into this issue! when can we expect a solution to this?

[2019-03-28 20:51] codenirvana commented on #4631
We've added support for this on our Canary (`version: 7.1.0-canary01`) channel https://www.getpostman.com/canary

Following will work in `pre-request` scripts:
[code]

Will update the thread once we release this on our stable channel.

[2019-03-28 21:19] codenirvana commented on #1947
As mentioned by @shamasis https://github.com/postmanlabs/postman-app-support/issues/1947#issuecomment-457740023

We've added support for modify the request from pre-request script on our Canary (`version: 7.1.0-canary01`) channel https://www.getpostman.com/canary

Using `pm.request.headers.*` API in Collection's (or Folder) Pre-Request script you can add, remove or update headers for every request

[2019-03-28 21:26] JP-from-Postman commented on #6165
It looks like the team management page is allowing duplicate invites for the same account, and also maybe not checking developer invites against the number of open slots currently on the team. Each pending invite reserves space on the team (either a paid slot or support-only), so I'm guessing the error has to do with the team being actually _over_ the total capacity for paid slots.

[2019-03-28 21:37] codenirvana commented on #3566
We've added this on our Canary (`version: 7.1.0-canary01`) channel https://www.getpostman.com/canary

<img width="727" alt="Screenshot 2019-03-29 at 2 52 37 AM" src="https://user-images.githubusercontent.com/4865836/55193698-bcd91680-51cd-11e9-8e37-4f51e1d5a1c7.png">

**Note:**
Currently, only Basic Auth is supported.
For NTLM we are tracking it here:  #3692 (Please leave 👍 there).

As far as I kn

[2019-03-28 21:43] codenirvana commented on #4092
We've released a fix for this on our Canary (`version: 7.1.0-canary01`) channel https://www.getpostman.com/canary

Please try it out in the Canary version and let us know if you continue to face the issue.
Will update the thread once we release the fix on our stable channel.

[2019-03-28 21:44] codenirvana commented on #3232
We've released a fix for this on our Canary (`version: 7.1.0-canary01`) channel https://www.getpostman.com/canary

Please try it out in the Canary version and let us know if you continue to face the issue.
Will update the thread once we release the fix on our stable channel.

[2019-03-28 21:45] codenirvana commented on #4127
We've released a fix for this on our Canary (`version: 7.1.0-canary01`) channel https://www.getpostman.com/canary

Please try it out in the Canary version and let us know if you continue to face the issue.
Will update the thread once we release the fix on our stable channel.

[2019-03-28 21:45] codenirvana commented on #5996
We've released a fix for this on our Canary (`version: 7.1.0-canary01`) channel https://www.getpostman.com/canary

Please try it out in the Canary version and let us know if you continue to face the issue.
Will update the thread once we release the fix on our stable channel.

[2019-03-28 21:46] codenirvana commented on #4151
We've released a fix for this on our Canary (`version: 7.1.0-canary01`) channel https://www.getpostman.com/canary

@garnold @FabioGentile Please try it out in the Canary version and let us know if you continue to face the issue.
Will update the thread once we release the fix on our stable channel.

[2019-03-28 21:46] codenirvana commented on #5873
We've released a fix for this on our Canary (`version: 7.1.0-canary01`) channel https://www.getpostman.com/canary

@vghetau Please try it out in the Canary version and let us know if you continue to face the issue.
Will update the thread once we release the fix on our stable channel.

[2019-03-28 21:48] mungojam commented on #3566
Kerberos support please, or is that covered by digest?

[2019-03-28 22:23] RobertTBoyerPhD commented on #4602
I am running into the same hang on start issue.
Running by hand I found a EPERM failure, which I tracked down to a read-only setting on both of the directories C:\Users\Owner\AppData\Roaming (and I changed ...\Local for good measure).
Although it fixed the permission failure, it still hangs on start-up.  I can only see the window with icon, but no menu.  The output from by-hand-execution is:

C:\U

[2019-03-28 23:03] JP-from-Postman opened #6176 "Team blocked from adding slots: needed billing user can't join, account still associated w/ disabled team"
Please read through the [guidelines](https://github.com/postmanlabs/postman-app-support#guidelines-for-reporting-issues) before creating a new issue.

**Describe the bug**
Postman Pro team has no billing user and needs to change subscription, but intended billing user can’t be added due to unknown bug.

Sequence of events:

1. **Billing User** leaves _Team A_
2. _Team A_ is disabled
3. Support del

[2019-03-28 23:33] RobertTBoyerPhD commented on #4594
I am on a Lenovo laptop, 64-bit, running Windows 8.1 and the solution above from "harryi3t commented on May 24, 2018" solved my problem.  Thank you.

[2019-03-29 01:36] chrisdeso opened #6177 "Unable to Backup Postman data to Gitlab Instance w/ Custom Domain"
**Describe the bug**
When attempting to leverage the GItlab Integration for an instance with a Custom Domain, the following error is thrown:

`An error occurred while verifying GitLab user. Try again after some time`

**To Reproduce**
Steps to reproduce the behavior:
1. Add Gitlab Integration to a workspace
2. See error during addition flow

**Expected behavior**
Successful addition / implementati

[2019-03-29 02:25] dumbdonkey commented on #4555
this is a problem hard to found, I've debugged my server then found postman didn't encode '+' and my server treats it as space then everything became unclearly. Hope your fixing

[2019-03-29 03:28] dchurchland commented on #3117
+1 Documenting JSON body is the difference between my team using or not using Postman.  Here am I hoping we get to use it...

[2019-03-29 03:36] ankit-m commented on #6165
A fix for this has been deployed.

[2019-03-29 03:36] #6165 closed, assigned to ankit-m

[2019-03-29 03:44] Jpsy commented on #3692
#metoo

[2019-03-29 04:15] sujayvenaik commented on #5636
Hey @clemz25 @DaniVSainz @ezenwankwogabriel @MuntzMathias
Can you update to the latest v7.x version of the desktop app and check whether this is still reproducible?

[2019-03-29 04:51] godfrzero commented on #6132
@briangarofalo The update happens in batches, can you check if you're still seeing the discrepancy?

[2019-03-29 05:11] sujayvenaik commented on #6175
Hey @mi-akram
I tried reproducing this issue but could not. Attached a screen recording what I did.
Can you tell us where we went wrong and how can we replicate this behaviour?

![clientApp-codeGen-bug](https://user-images.githubusercontent.com/11532114/55210794-275e7680-520f-11e9-869f-9ce1a22d3a5d.gif)

[2019-03-29 05:41] sujayvenaik opened #6178 "Can't select open tabs in the find and replace section"
Please read through the [guidelines](https://github.com/postmanlabs/postman-app-support#guidelines-for-reporting-issues) before creating a new issue.

**Describe the bug**
Can't select the open tabs in the find to replace a section

**To Reproduce**
Steps to reproduce the behaviour:
Open a new tab
enter a URL
Use the find and replace section to search for the tab
The tab appears in open tabs secti

[2019-03-29 06:06] kamalaknn commented on #5636
Also can you attach screenshots of any errors you see in devtools - `View -> Developer -> Show DevTools(Current view)`?

[2019-03-29 06:11] kamalaknn commented on #6166
@JP-from-Postman Can you get complete logs from `View -> Developer -> View logs in Finder`?

[2019-03-29 06:23] kamalaknn commented on #6070
Hey @Kspen

Are you still seeing issues related to syncing? If yes, can you send your logs from `View -> Developer -> View logs in Finder` to help@getpostman.com

We will take a closer look at it.

[2019-03-29 06:24] ghost opened #6179 "Postman Runner doesn't show Pre-request script assertion results"
**Describe the bug**
Pre-request script assertion results are not showing in Postman Runner.
If there are only pre-request tests, when running request in Postman Runner it shows 0 (zero) assertions in the request.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a new request
2. Add any number of pre-request script tests and save
3. Run collection in Postman Runner
4. You will see **Th

[2019-03-29 06:40] harryi3t commented on #3955
@jooleeanh Thank you for bringing this in our notice. We have identified the issue and are working on to make the experience the same across our products.

[2019-03-29 07:11] harryi3t opened #6180 "Postman crashing when using invalid script"
**Describe the bug**
Postman crashes when I use an invalid script (See below for the exact script)

**To Reproduce**
Steps to reproduce the behavior:
1. Send a request with following pre-script
[code]

**Expected behavior**
Postman should warn me about the error instead of crashing. This is what usually happens when a script is invalid but not in this particular case.

Sample error message and toa

[2019-03-29 08:04] udginvr opened #6181 "Moving a request to another collection doesn't preserve request comments"
When I move a saved request from one collection to another, all comments written for that request are gone for good.

Steps to reproduce the behavior:
1. Create two collections.
2. Create a request in one of them.
3. Write and save a comment to the request.
4. Move the request in question to another collection.
5. Comment is lost.

Expected behavior: comments are preserved.

 - App Type: Native Ap

[2019-03-29 09:03] godfrzero commented on #3741
If a monitor runs successfully for a while and then it fails, the monitoring platform will automatically rerun the monitor to avoid false alarms due to transient network conditions. The error message "Anomalous test failure" is logged when this happens. We've pushed out a fix which updates the error message here to be more clear.

The error message update should remove any confusion. Some users ha

[2019-03-29 09:03] #3741 closed, assigned to godfrzero, ankit-m, preethammavin

[2019-03-29 09:04] godfrzero commented on #5941
This should be fixed now.

[2019-03-29 09:04] #5941 closed, assigned to godfrzero

[2019-03-29 10:05] svkaizoku commented on #6117
The same error occurred to me also . i have attached a zip with the log files
[logs (1).zip](https://github.com/postmanlabs/postman-app-support/files/3022068/logs.1.zip)

[2019-03-29 10:13] markusrt commented on #4631
@codenirvana Thanks a lot. This was just in time for me as I needed this feature right now.

I used it for the "Host" header in order to test our deployment before switching the DNS.
Adding this as a pre-request script to the collection worked as expected!

[2019-03-29 10:27] pawanbana opened #6182 "auto-set of headers can be switch on/off while changing the body type."
first select the x-www-urlencoded.
after  changing the body type from x-www-urlencoded to raw, none, form-data, binary. the header still remains. there should be a option so auto-set header can be switch on/off.

![Screenshot from 2019-03-29 15-49-06](https://user-images.githubusercontent.com/31897605/55226255-8d142800-523a-11e9-9e90-8627f7088c75.png)
![Screenshot from 2019-03-29 15-48-53](https:/

[2019-03-29 10:28] Thor07 opened #6183 "Collection runner not showing correct test results"
Please read through the [guidelines](https://github.com/postmanlabs/postman-app-support#guidelines-for-reporting-issues) before creating a new issue.

**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise descriptio

[2019-03-29 10:28] Thor07 opened #6184 "Collection runner not showing correct test results"
The console shows response 200 yet collection runner didn't capture the assertion(fail if not 500) on running the iteration however same can be verified on the console when response is 200.

To reproduce ,please email/reach me for a call as I can demonstrate exactly how it can be replicated over screen share.

**Expected behavior**

The 1st test iteration should have failed as response code was 20

[2019-03-29 10:36] preethammavin commented on #6084
The fix for this issue has been deployed.

[2019-03-29 10:36] #6084 closed, assigned to ankit-m

[2019-03-29 10:42] cyrielle-hada commented on #6165
@ankit-m I have tested it, it works. Thank you!

[2019-03-29 12:08] shamasis commented on #3290
@xalimar -That's a very good suggestion! It would have real bad performance hit if we support this. Imagine reading all certs on every request + verify if they are valid + concat them (yeah, NodeJS doesn't support any other way), etc etc. Reading once and not re-reading isn't good either.

[2019-03-29 12:31] andmill commented on #4092
Hey @codenirvana, what about newman for automated runs?

[2019-03-29 13:23] LalithVigneshS commented on #3174
+1

[2019-03-29 13:50] clemz25 commented on #5636
This is still reproducible.

On Fri, Mar 29, 2019 at 12:15 AM Sujay Venaik <notifications@github.com>
wrote:

[2019-03-29 13:52] clemz25 commented on #5636
Attached is the log

On Fri, Mar 29, 2019 at 2:07 AM Kamalakannan <notifications@github.com>
wrote:

[2019-03-29 14:33] Lolek1978 opened #6185 "Import multiple curls"
Hi, I have a little problem :(.
As a user I want to import multiple curls to postman.
For example i have a list
curl -X GET https://hostname:20001/ping1 -H 'cache-control: no-cache'
curl -X GET https://hostname:20001/ping2 -H 'cache-control: no-cache'
curl -X GET https://hostname:20001/pings1 -H 'cache-control: no-cache'
curl -X GET https://hostname:20001/pings12 -H 'cache-control: no-cache'
etc.

[2019-03-29 14:36] codenirvana commented on #4092
@andmill Its fixed in the latest version of Newman as well!

[2019-03-29 15:24] mrmarcgoldstein commented on #1104
Sadly this enhancement did not work for me. Although I could add the Content Type fields, they were not reflected in the outgoing HTTP request:

Entered Values:
![image](https://user-images.githubusercontent.com/49071291/55243174-97342780-5236-11e9-8fe1-58824090014b.png)

Resulting HTTP (from Postman Console):
![image](https://user-images.githubusercontent.com/49071291/55243290-ccd91080-5236-11e9-

[2019-03-29 15:45] digital-q commented on #2970
@psharma-intacct If you follow the steps at https://github.com/postmanlabs/postman-app-support/issues/2861#issuecomment-443241417 you'll have a complete workaround to this issue.

[2019-03-29 16:35] JP-from-Postman commented on #6165
Thanks @ankit-m !

[2019-03-29 16:40] alanamircruz commented on #4105
In my case I just forgot to select my defined Environment (Development) on the Collection Runner, now I can see the variables working ok inside the tests. If it is useful for someone out there. Anyway, regards.

![image](https://user-images.githubusercontent.com/14240398/55248200-90fb7680-5249-11e9-9f2e-d251673b3334.png)

[2019-03-29 16:58] JP-from-Postman commented on #6166
@kamalaknn Added to internal tracking

[2019-03-29 17:12] emeryowa commented on #6105
I have a similar problem. When I fork a collection, apply changes and then merge the changes to the original collection the changes do not get synced with the Github repository. I have to make an additional change in the collection itself, save and then all changes will get synced.

The syncing works fine when applying changes in the collection itself but not when merged.

[2019-03-29 17:43] hammbino commented on #6105
I am also experiencing this bug. I am syncing to a custom GitHub repo.

[2019-03-29 18:36] PhilModJunk opened #6186 "Postman v6.7.3 is causing blue screen crashes"
Please read through the [guidelines](https://github.com/postmanlabs/postman-app-support#guidelines-for-reporting-issues) before creating a new issue.

**Describe the bug**
With only the Postman App and Chrome apps running on Windows 7 platform, I'm getting constant video driver crashes and after a few minutes, I get a blue screen crash.

**To Reproduce**
Steps to reproduce the behavior:
Almost any

[2019-03-29 18:42] aasimsyed commented on #1906
+1

[2019-03-29 19:20] fabOnReact commented on #1228
where to find the cookies management in the native app

![postman cookies](https://user-images.githubusercontent.com/24992535/55257384-02deba80-5260-11e9-899f-d5a03232c666.png)

[2019-03-29 19:24] bluet commented on #4576
@grzegorzjudas as said I install postman via snap, which has it's own system folder.

[2019-03-29 20:41] caseydoran commented on #4978
@sujayvenaik - after I updated and saved the calls in my collection to use those fake URLs so I could send you a video, it seems to be working as expected. Not sure if old collections could still be impacted, as I was still seeing the issue (going through your exact steps) until I updated and saved.

Cheers

[2019-03-29 20:42] #4978 closed, assigned to numaanashraf

[2019-03-29 21:17] PhilModJunk commented on #6186
I did read through the guidelines before creating a new issue.

Care to elaborate on why I am being asked to read them again?

[2019-03-29 22:44] jongio commented on #4898
Just discovered that this feature was removed.  Please add it back.  It makes our lives easier when we want to ask someone to enter in a ton of variables.

[2019-03-29 23:15] jongio opened #6187 "Collections are created as read only if user profile is not email verified"
Please read through the [guidelines](https://github.com/postmanlabs/postman-app-support#guidelines-for-reporting-issues) before creating a new issue.

**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
Create collection with non-email verified user account.

Collection is created as read only and doesn't tell user why.

**Exp

[2019-03-29 23:30] AlanSealtiel commented on #1060
Thanks :100:  :1st_place_medal:

[2019-03-30 09:13] dperetin opened #6188 "Sigv4 signature is not updating when generating code"
**Describe the bug**
When making requests directly from Postman with AWS Signature Authorization type, request is correctly signed and everything works fine.

When generating code for the same request (tested with `curl`) signature is not valid and the response from AWS (tested with CloudWatch) is `{"__type":"com.amazon.coral.service#InvalidSignatureException","message":"The request signature we c

[2019-03-30 10:00] codenirvana commented on #6188
@dperetin Thanks for reporting this.

A workaround for this is to disable the `Postman Token` option in the settings. Try it out and let me know if you continue to face the issue.

<img width="729" alt="Screenshot 2019-03-30 at 3 17 19 PM" src="https://user-images.githubusercontent.com/4865836/55274626-ec883b80-52ff-11e9-9165-9f5be8b832cb.png">

Will update the thread once we fix the root cause of

[2019-03-30 10:12] dperetin commented on #6188
Workaround works. Thanks for the quick response!

[2019-03-30 13:57] shamasis commented on #6183
Looks like a technical issue while reporting this issue. Actual issue is at https://github.com/postmanlabs/postman-app-support/issues/6184

[2019-03-30 13:57] #6183 closed, assigned to nobody

[2019-03-30 17:35] czim commented on #4816
I had this, but only when I tried to export *everything* at once. Exporting individual projects separately works -- the separate exports import successfully. So if anyone runs into this one, this may help as a work-around until it is fixed.

Edit: there are some Projects for which it still fails in this way though, I just noticed. No idea what sets them apart...

[2019-03-30 20:28] Kanmuri commented on #2427
As a follow-up to my previous comment, I have an additional example scenario.
I have a path that includes "/:clientName/:clientName.cfc".
Before this regression, I could use just one variable "clientName", now I have to use two variables, "clientName" and "clientNameCfc", because the second instance now has to have the ".cf" in it.

And to echo somewhat what @timdmackey said, this is an instance w

[2019-03-31 12:03] shahaf940 opened #6189 "Window disappears on macbook"
Please read through the [guidelines](https://github.com/postmanlabs/postman-app-support#guidelines-for-reporting-issues) before creating a new issue.

**Describe the bug**
I have postman on my macbook. I open a new postman window and start working on it. The moment I minimise it, I lose the window forever and can't reach it. I tried everything believe me. I have to open a new window just to work o

[2019-03-31 12:20] LannyYao opened #6190 "Script reusing"
Just a suggestion from my side.

If I write a pre script or test script,  I want to save it as a special item and I can import it  in the other tabs instead of duplicating the whole request tab.
And also I want t o save such script under my account by itself for reusing.

So why not add a script collections feature and under each request tab can the user import the script he wants or make it defau

[2019-03-31 14:16] yonatron commented on #4253
Come ON you guys!! WE NEED SORTING!!
Please add this feature back in - ASAP...
Thank you...

[2019-03-31 15:39] Kspen commented on #6070
Thanks for the reply.  I haven't encountered it since applying the
workaround I mentioned previously.  I will keep you posted, if I am able to
recreate the issue on the newer version of the app.

On Fri, Mar 29, 2019, 1:24 AM Kamalakannan <notifications@github.com> wrote:

[2019-03-31 16:26] developher-net commented on #285
It would be fantastic if variables could be populated from an easy table just like the Params screen. It is so tedious to edit scripts continuously for variables that change frequently, but it is also tedious to get prompted every single time when you know it will only change every 3-4 requests.

[2019-03-31 18:28] CeUrquhart commented on #2352
I had recently enabled  VT-X/AMD-v on my device and was getting this error I went into the bios and disabled it and tried to run the install again and it worked.

[2019-03-31 20:23] dennisslavid commented on #4800
Hey @sujayvenaik
I have updated on my primary device already, which is still running windows 10. My secondary device has recently changed OS and is now running Ubuntu 18.04. Unfortunately it seems the update isn't available through snap yet though and I do prefer to wait for the update there over using a tarball to install the latest.

Meanwhile, with the Linux machine on 6.x and Windows machine o

[2019-04-01 03:50] harryi3t commented on #5759
We were not able to reproduce the issue. Closing this issue due to inactivity. If you are still facing the issue, please provide us the steps to reproduce it, preferably with a sample collection.

[2019-04-01 03:50] #5759 closed, assigned to nobody

[2019-04-01 04:47] preethammavin commented on #3335
The issues around this have been fixed, closing the issue for now. Do feel free to reopen the thread if the issue persists.

[2019-04-01 04:47] #3335 closed, assigned to ankit-m

[2019-04-01 05:15] numaanashraf commented on #6186
@PhilModJunk Could you try disabling GPU support within Postman via the steps detailed at https://github.com/postmanlabs/postman-app-support/issues/4594#issuecomment-391601621? We've had reports of crashes and performance issues on Windows with certain GPUs/Drivers.

[2019-04-01 05:22] numaanashraf commented on #6187
@jongio Could you help us understand what you mean by non-activated user?

[2019-04-01 05:31] SamvelRaja commented on #5375
@JP-from-Postman  Were you able to reproduce this issue in 7.x version of the app.
It is working fine as expected from my end.

[2019-04-01 05:45] numaanashraf commented on #4800
@dennisslavid Please follow the instructions at https://learning.getpostman.com/docs/postman_pro/managing_postman_pro/migrating_to_v7/#updating-app-to-postman-v7-after-migration to update your snap to Postman v7.0.

[2019-04-01 06:01] numaanashraf commented on #6189
@shahaf940 Could you help us understand your desktop setup? Are you using multiple displays?

[2019-04-01 06:06] preethammavin commented on #6072
A fix for the same has been pushed.

[2019-04-01 06:06] #6072 closed, assigned to ankitjaggi, ankit-m

[2019-04-01 06:13] prashikbansod commented on #3754
I tried to use notepad++ to replace all the URL's in the collection, but its replacing all at desired location but not working.

[2019-04-01 06:13] abhijitkane commented on #6174
@preethammavin The non-informative error message is still a bug. @sivcan Can you investigate?

[2019-04-01 06:16] sankalp0o commented on #4879
@abhijitkane Are you talking about a back link or are you talking about the "Cancel and take me to signed in account"?

[2019-04-01 06:32] sivcan commented on #6174
@abhijitkane Yes, this is still a bug. We're making the change to make sure all the errors are properly conveyed now.

[2019-04-01 06:59] numaanashraf commented on #3574
We've rolled out a fix for this issue in Postman v7.0. Please update and let us know if you are still facing this issue.

[2019-04-01 06:59] #3574 closed, assigned to nobody

[2019-04-01 07:03] abhijitkane opened #6193 "Teams are unable to add custom domains for documentation even after upgrading to Pro"
This is caused by the custom domain limit not being reset on upgrading to Pro/Enterprise. Doesn't happen in all cases, but we see a few occurrences a week.

[2019-04-01 07:13] abhijitkane commented on #4879
@sankalp0o The former. If I know my password but accidentally clicked on the forgot pwd link.

[2019-04-01 07:32] numaanashraf commented on #4353
Duplicate of #4591

[2019-04-01 07:32] #4353 closed, assigned to numaanashraf

[2019-04-01 07:47] shahaf940 commented on #6189
Hello
I am using one extra screen, but this also happens when I'm working with
only my macbook.

‫בתאריך יום ב׳, 1 באפר׳ 2019 ב-9:01 מאת ‪Numaan Ashraf‬‏ <‪
notifications@github.com‬‏>:‬

--
        *שחף שביט*

[2019-04-01 08:01] LazukinPavel opened #6194 "No response from localhost"
I've got some trouble with getting response from localhost.

When I try to send get-request to localhost I've got a "Could not get any response" from postman. My server send 301 response code. Postman console send me - Error: socket hang up. Tried to change ports, it didn't help. Also tried to turn off SSL certificate verification, same result.
Example of request:
http://localhost:8001/api/leads?i

[2019-04-01 08:07] numaanashraf commented on #6189
Thanks @shahaf940. We are unable to replicate the issue with the steps provided. Could you provide us the logs at following locations?
[code]

[2019-04-01 08:19] shahaf940 commented on #6189
‫בתאריך יום ב׳, 1 באפר׳ 2019 ב-11:07 מאת ‪Numaan Ashraf‬‏ <‪
notifications@github.com‬‏>:‬

--
        *שחף שביט*

[2019-04-01 09:40] cyrielle-hada opened #6195 "Billing user unable to access Billing overview"
**Describe the bug**
Unable to access anything under the billing overview http://app.postman.co/team/overview while being granted with the Billing role.

**To Reproduce**
1 - Go to http://app.postman.co/team/overview
2 - See message saying `You don't have access`

**Screenshot**

<img width="814" alt="Screen Shot 2019-03-29 at 11 08 55 AM" src="https://user-images.githubusercontent.com/47351631/55

[2019-04-01 10:04] mira-thakkar commented on #4401
I'm having the same issue on:

Postman for Mac
Version 7.0.7

[2019-04-01 10:07] mi-akram commented on #6175
Can you try pushing your environment variables into environments as illustrated in this screen sht:
<img width="1680" alt="Screenshot 2019-04-01 at 11 06 27" src="https://user-images.githubusercontent.com/20515286/55320116-51fa3a80-546e-11e9-8bfa-343164812627.png">

[2019-04-01 10:32] mi-akram commented on #6175
Hi sujayvenaik, I think I may have some information for you on this. If I create a global environment and use this in my request it works. However my env variables are set within environments as shown in the above screen shot. Can you also ensure that the specific environment is selected on the main window when to check if the code snippets work.

[2019-04-01 10:43] sujayvenaik commented on #6175
Hey @mi-akram
The above screenshot that I had posted, I have an environment there E1 which is the one I have selected. Also, using the quick look I show that the variables are there.

Can you provide us with a screen recording with the exact steps on how to reproduce it?
Also after selecting your environment and before pressing Code can you once click on the quick look (eye icon) to check that you

[2019-04-01 11:07] yasser-mas opened #6196 "Postman replicating source folder under name Postman-{timestamp}"
postman replicating source folder under name Postman-{timestamp}

OS info :

NAME="Debian GNU/Linux"
VERSION_ID="9"
VERSION="9 (stretch)"

currently postman folder size is 33 GB !

Can I remove it manually ? and how to prevent this issue happening again ?

![image](https://user-images.githubusercontent.com/18216451/55323228-ca68f780-547e-11e9-997b-f3dde7d8df32.png)

[2019-04-01 11:21] mi-akram commented on #6175
Hi sujayvenaik see attached video screen recording:
[ScreenRec1.mov.zip](https://github.com/postmanlabs/postman-app-support/files/3029077/ScreenRec1.mov.zip)

[2019-04-01 11:38] numaanashraf commented on #6196
@yasser-mas Could you verify you are on the latest version of Postman (v7.0.7 as of today)?. We've included the fix for this issue on v7.0.7 and the app should auto-cleanup the previous update downloads automatically.

[2019-04-01 12:07] yasser-mas commented on #6196
Thanks,

the folders deleted automatically after updating app

[2019-04-01 12:07] #6196 closed, assigned to nobody

[2019-04-01 13:23] jongio commented on #6187
@numaanashraf  - I updated to say "non email verified" instead of non-activated.  State=account created, but email is not verified.

[2019-04-01 13:25] JesseVeenstra commented on #3822
+1

[2019-04-01 13:41] hari2anand opened #6197 "Postman Test Breaks for mutliple async pm.SendRequest call"
I tried to write a loop for testing all the hal links that were got in the response, but could see the Postman is not able to process or keep the test alive for all loop iterations, not sure is either because of any existing timeouts for each run, but I could clearly see the test in request is not completed as couldn't get the next steps done after awaiting the response

**To Reproduce**
(have att

[2019-04-01 13:43] canabina opened #6198 "After update, lost the syntax highlighting 6.7.4"
**Describe the bug**
After the updated app, lost the syntax highlighting 6.7.4

**To Reproduce**
Steps to reproduce the behavior:
1. Go to app
2. Click on response or request panel

**Expected behavior**
Should be syntax highlighting

**Screenshots**
<img width="1085" alt="Снимок экрана 2019-04-01 в 16 40 18" src="https://user-images.githubusercontent.com/12137279/55332025-2cd0f080-549d-11e9-8c6d-

[2019-04-01 14:07] ash007-postman opened #6199 "Enterprise users need more than 5 Custom Domains"
**Is your feature request related to a problem? Please describe.**
Enterprise users need more than 5 Custom Domains for different projects

**Describe the solution you'd like**
Add more than 5 domains

[2019-04-01 14:17] mi-akram commented on #6175
Hi sujayvenaik,
I have been doing some further testing around this can can confirm that the `Generate code snippet` for other requests in other collections seem to work as expected. However,  I am unable to determine what is different and why it not functioning as expected with my Hello World collection. This has always worked and I believe I may have lost this functionality with one of the recent

[2019-04-01 15:16] tsantor commented on #4401
Same issue.  I just worked at home this weekend and added new requests and collections and nothing is syncing to my work computer...still looking at what it was before the weekend.

Postman for Mac
Version 7.0.7

**Update:** I just updated to 7.0.7 on both computers and it synced.

[2019-04-01 15:25] JackAllread commented on #4262
I used the POSTMAN_DISABLE_GPU=ture to handle the slow start up on server 2012 I remote into with Postman version v7.0.7. It started right up after setting the environ variable.

[2019-04-01 17:23] codenirvana commented on #6197
Duplicate of #4131

@hari2anand async await isn't supported yet. Follow the mentioned thread for updates.

[2019-04-01 17:23] #6197 closed, assigned to nobody

[2019-04-01 17:30] KristofVanKriekingen1337 commented on #4172
+1

[2019-04-01 18:16] javagrnd commented on #2282
Awesome.  Thank you so much.

James Cookson

Sr QA Engineer, SDET

https://www.linkedin.com/in/jamescookson/

________________________________
From: Udit Vasu <notifications@github.com>
Sent: Wednesday, March 27, 2019 23:25
To: postmanlabs/postman-app-support
Cc: javagrnd; Author
Subject: Re: [postmanlabs/postman-app-support] Request Size Displayed (#2282)

We've added this on our Canary channel h

[2019-04-01 18:43] f-ewald opened #6200 "Allow copying of URL with resolved variables"
**Is your feature request related to a problem? Please describe.**

I use variables in my request, for example `https://{{host}}/x/y/z`. I would like to share those resolved variables with other members of my team . Currently I have to click on "Code" and then select for example curl to get an URL which takes some time.

**Describe the solution you'd like**
I would like to have a button under "Sen

[2019-04-01 18:57] mihaj commented on #4594
For the same reason (black screen after 1 min) I use canary version for more than 6 months now :). I think I tried GPU setting and it does not work. Still 7.0.7 version is not working, so I am always on the edge with Canaray :)

[2019-04-01 20:38] chrisdeso opened #6201 "Inadvertently opened :("
:(

[2019-04-01 20:39] #6201 closed, assigned to nobody

[2019-04-01 22:24] ghost opened #6202 "Search arrows for next and previous are backwards"
**Describe the bug**
Clicking on the `<` (left arrow) takes you to the next search result, and clicking on the `>` (right arrow) takes you to the previous search result.

**To Reproduce**
Steps to reproduce the behavior:
1. Get a JSON response from an API in the Body section
2. Search for something that appears more than once
3. Click left arrow and you'll "go to next" in the list
4. Click right a

[2019-04-01 23:29] sirwolfgang commented on #3418
@a85 To clarify, what do you mean by "more tightly"?

[2019-04-01 23:44] sujayvenaik commented on #6175
Hey @mi-akram
Can you send us the logs from View -> Developer -> View logs in finder? Need to check if any errors are logged.

Also is it only that variable that is buggy or other variables are also not getting resolved?

[2019-04-02 00:15] lorna-bevingtongrant commented on #6105
Also having this same issue. Does not sync when we merge any changes form our team workspace in to Github repository.
Very frustrating and something that I thought would be easy thing!

[2019-04-02 01:52] craneyuan commented on #4898
Please bring Bulk Edit back🙋‍♀️

[2019-04-02 02:59] tester1234562020 opened #6203 "when i use csv file, the last data is changed"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**App information (please complete the

[2019-04-02 04:32] kamalaknn commented on #3216
Closing this issue due to lack of inactivity related to the original issue reported.

We have pushed many improvements to variable updates flows since Postman v6. Please update to the latest version and let us know if you are still facing this issues on the latest version.

[2019-04-02 04:32] #3216 closed, assigned to numaanashraf

[2019-04-02 04:37] kamalaknn commented on #6070
@Kspen Thanks for the update.

I'm closing this issue now. Feel free to write back to us if you are seeing this issue again.

[2019-04-02 04:37] #6070 closed, assigned to nobody

[2019-04-02 04:57] kamalaknn commented on #5636
@clemz25 I'm not able to see the logs. Was there something wrong with the attachment?

[2019-04-02 05:07] shamasis commented on #6194
Hmm. That’s odd. Can you access localhost using curl or wget?

[2019-04-02 05:10] shamasis commented on #6203
Open the CSV file in a text editor and check if it has a new line at the end of it. In fact, can you post the CSV file here?

[2019-04-02 05:26] kamalaknn commented on #5201
@Postman-Gabriel @digitalmedia34 Can you get the logs from `View -> Developer -> View logs in Finder` and send it to `help@getpostman.com` so we can take a closer look at the issue?

[2019-04-02 05:31] kamalaknn commented on #5001
@TheDavidJohnson This looks like a duplicate of #4476

Closing this. Please follow the linked thread for updates.

[2019-04-02 05:31] #5001 closed, assigned to nobody

[2019-04-02 05:46] kamalaknn commented on #4723
Hey @dennisslavid @gabokr

Can you update to the latest version and verify if you are still seeing these issues?

If yes, can you extract the logs from `View -> Developer -> View logs in Finder` and forward them to `help@getpostman.com`. Please add `GitHub: 4723` as the subject.

Thanks

[2019-04-02 05:51] SamvelRaja commented on #5375
Closing this as it is not reproducible in 7.x version.

[2019-04-02 05:51] #5375 closed, assigned to nobody

[2019-04-02 05:58] SamvelRaja commented on #5723
@pg07codes  Did you get the chance to look into it?
Closing this for now.
Feel free to re-open this in-case you face the issue still.

[2019-04-02 05:59] #5723 closed, assigned to nobody

[2019-04-02 06:19] gabokr commented on #4723
Hi guys,

I just tried to rename one collection with Postman v6.7.4, worked as
expected.

Best,
Gabriel

On Tue, 2 Apr 2019 at 07:46, Kamalakannan <notifications@github.com> wrote:

[2019-04-02 06:36] LazukinPavel commented on #6194
Curl works fine.

[2019-04-02 06:41] tester1234562020 opened #6204 "i need help!? Can i use {{xxx}} in Tests?"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2019-04-02 06:54] tester20183450 commented on #6203
Now,it is ok. I dont konw why..

[2019-04-02 07:12] numaanashraf commented on #6204
We recommend reaching out to the wider Postman Community (https://community.getpostman.com/) for help with this issue.

Issue Guidelines: https://github.com/postmanlabs/postman-app-support#guidelines-for-reporting-issues

[2019-04-02 07:12] #6204 closed, assigned to nobody

[2019-04-02 07:15] numaanashraf commented on #6202
Duplicate of #5226

[2019-04-02 07:15] #6202 closed, assigned to nobody

[2019-04-02 07:20] tester20183450 commented on #6203
hello,i dont know how to post here

[2019-04-02 07:22] tester1234562020 commented on #6203
[1.txt](https://github.com/postmanlabs/postman-app-support/files/3032741/1.txt)
i have post it , you need to change to csv

[2019-04-02 07:32] abhijitkane commented on #3496
@harryi3t Can we get more clarity on where exactly the bug is? Is there a difference in the request object when the collection is exported+imported? Or is the curl codegen giving a different result for the same request object in two different apps?

[2019-04-02 07:34] tester1234562020 commented on #6204
hello,i dont know how to search?

[2019-04-02 07:36] abhijitkane commented on #3496
@Dil-nlaycock I'm not able to reproduce this on the latest version of the app. Apologies for the inordinate delay here, but could you check if you're still seeing this?

[2019-04-02 07:39] camohub opened #6205 "Could not get any response - Error: connect ECONNREFUSED"
Hi, 3 days ago everything worked fine. Now I am getting an error Could not get any response like the screenshots show. Here are the error and settings screenshots.
![Screenshot (143)](https://user-images.githubusercontent.com/8393426/55384384-e4601400-552a-11e9-8037-e8d6eb99e22e.png)
![Screenshot (145)](https://user-images.githubusercontent.com/8393426/55384392-e924c800-552a-11e9-9966-e8358d09ea18

[2019-04-02 07:42] numaanashraf commented on #6031
This issue has been addressed in Postman v7.0.7

[2019-04-02 07:42] #6031 closed, assigned to nobody

[2019-04-02 07:55] harryi3t opened #6206 "[Postman Console]: Some headers are not shown if the request is cancelled"
Originally reported here https://github.com/postmanlabs/postman-app-support/issues/4867

Few headers are not shown if the request failed

![pasted_image_23_07_18__6_04_pm](https://user-images.githubusercontent.com/5207331/43076769-e84a7dd4-8ea2-11e8-897a-e203ea307ad6.png)

**App information (please complete the following information):**
 - App Type: native
 - Postman Version: 7.0.6
 - OS: All

[2019-04-02 08:00] harryi3t commented on #4867
The fisrt issue where headers were converted into lowercase is fixed.
The second one is being tracked here now https://github.com/postmanlabs/postman-app-support/issues/6206

[2019-04-02 08:00] #4867 closed, assigned to numaanashraf

[2019-04-02 08:00] JensGr-1985 opened #6207 "update time when working on the same collection"
**Describe the bug**
Currently when working with someone on the same collection getting the changes with a shared collection takes about 10 minutes even when refreshing by hand.

**To Reproduce**
Steps to reproduce the behavior:
1. User 1 Change a Test in a request
2. Save Request
3. User 2 Refresh by hand nothing has changed
4. Wait ~10 min
5. Refresh again hope it has changed

**Expected behavio

[2019-04-02 08:10] fangludi commented on #4576
any progress or plan for MSI installer?

[2019-04-02 08:37] preethammavin commented on #6195
Hi,
The issue has been fixed. Closing the issue for now, do feel free to reopen it if it is not resolved.

[2019-04-02 08:37] #6195 closed, assigned to ankit-m, preethammavin

[2019-04-02 08:51] fm555 opened #6208 "Postman: 407 proxy authentication required"
I have issues when using Postman at my office with proxy.
I am trying to send a GET request to the following link:

http://postman-echo.com/get

But I am getting "407 Proxy Authentication Required".

I have followed the following instructions to configure Postman to work through a proxy in:

https://support.getpostman.com/hc/en-us/articles/360008893713-How-do-I-configure-Postman-to-work-through-a-

[2019-04-02 08:51] FreddieK commented on #1906
+1

[2019-04-02 09:28] kamalaknn commented on #6207
Hi @JensGr-1985

Could you send extract logs from `View -> Developer -> View logs in Finder` and send them to `help@getpostman.com`. Please include the link to the github issue with it.

[2019-04-02 10:09] vfedorin commented on #1818
Hi. I'm using Postman Desktop for MacOS.
Runner became slower because I guess I have a lot of completed runs. How do I can remove ALL runs completely in bulk since I have several hundred runs? Thanks

[2019-04-02 10:45] labifrancis opened #6209 "Pages related to custom domain not opening"
**Describe the bug**
When a user with an admin role tries to open the custom domain page for a team, the page doesn't open and keeps loading forever.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the web dashboard
2. Click on  Team settings
3. Click on Custom domains

**Expected behavior**
This page should load with an option to add a custom domain

**App information (please complete

[2019-04-02 10:57] vfedorin opened #6210 "Cannot clean Recent Runs history on Postman Collection Runner"
**Precondition:**
Several hundred completed runs in Postman Collection.

**My problem is:**
When I open Collection Runner I have to wait several seconds while the Recent Runs list is being loaded.
Once finished I starting to create new run but the app works slowly. That does not reproduces on other workspaces where the Recent Runs list is not so huge.

**Question/Proposal:**
How can I clean Recent

[2019-04-02 11:01] shreys7 commented on #6000
Hey @hugochibougamau , according to the Curl command they provided, it seems that the data should be added in body->raw->application/json, not in the parameters as you did. After entering the data in body->raw->application/json , the code generated by Curl in postman matches with the command they provided.
<img width="963" alt="Screenshot 2019-04-02 at 4 26 06 PM" src="https://user-images.githubus

[2019-04-02 11:19] justindonnaruma commented on #4785
You can also use the "Fork" option:
* Create a fork in the workspace you want
* Delete the original

[2019-04-02 11:21] im4eversmrt commented on #4009
+1

[2019-04-02 11:27] jzabroski commented on #4751
@a85 I just won't use your product on the next project I work on.

However, might I suggest:

1. Not trying to track all issues in one issue.  Track focused issues and hold your developers accountable to fixing specific problems that add incremental minimum viable products.
2. Responding to customers when they explicitly ask for an update on a BLOCKER.  It can be as simple as, "I have reproduced y

[2019-04-02 11:39] codenirvana commented on #6208
Duplicate of #3566

@fm555 We recently added support for Proxy Authentication (Basic Auth) in our Canary channel https://www.getpostman.com/canary

You can try it out and follow the mentioned thread for updates. Refer: https://github.com/postmanlabs/postman-app-support/issues/3566#issuecomment-477780835

[2019-04-02 11:39] #6208 closed, assigned to codenirvana

[2019-04-02 11:44] ghost commented on #1070
+1, please!

[2019-04-02 13:01] fm555 commented on #6208
@codenirvana

Proxy issue solved using Postman Canary.
Thank you so much @codenirvana !

[2019-04-02 13:08] practition commented on #2050
Some posters here are defecting to other tools like Paw and Restbird because they can't pre-request OAuth2 tokens in Postman. Hey Postman team, are you listening to your customers? OAuth2 is too popular to ignore.
+1 to add this feature

[2019-04-02 13:09] mi-akram commented on #6175
It just seems to be the {{hello-world-url}} variable. The others seems to be working fine. Please see a copy of the logs attached. The logs were initially cleared, and then the issue was reproduced.  I have had a look and van not seen anything obvious. I have also try to reset, delete and also create the variable again which has not had any effect.
[Logs.zip](https://github.com/postmanlabs/postman

[2019-04-02 13:32] mi-akram commented on #6175
Hi sujayvenaik,
I think I have fixed the problem. I resolved this. Deleting the variable and then creating a new one with the same name, typing out the current value for the variable and then tabbing across to the initial value. When tabbing across the field was automatically populated. I went back to check and now the code snippets were working. Awkwared but all is working now. Appreciate all you

[2019-04-02 13:35] drexpp opened #6211 "Email Unsubscribe not protected"
**Describe the bug**
You can unsubscribe people who did not want to be unsubscribed.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://pages.getpostman.com/UnsubscribePage.html'
2. Write down some email or just make a bot who requests.

**Expected behavior**
A message indicating that you cannot unsubscribe other people but yourself.

Block that undesired people unsubscribe you t

[2019-04-02 13:41] harryi3t commented on #3496
@Dil-nlaycock If you are still seeing this on the latest version of Postman (7.0.6), could you share a sample exported collection where this issue is reproducible?

[2019-04-02 13:42] clemz25 commented on #5636
I am resending the log file as an attachment. I have also copied the log to
the body of the email.

vendor-shared.js:124060 Initializing the global config
requester.js:2464 App updater event Object
requester.js:2464 App updater event Object
vendor-shared.js:48662 Could not find on EditorStore. Missing or invalid
parameter.
find @ vendor-shared.js:48662
vendor-shared.js:428301 entityId is undefined

[2019-04-02 15:55] n370 commented on #3480
I'm seeing this issue when wrapping pm.sendRequest in a promise.

[code]

[2019-04-02 17:14] cyrielle-hada opened #6212 "Syncing issues - content not sycing to the app"
**Describe the bug**
Team members making new collections or changes to collections that don't appear unless you log out and in again in the Postman app.

**Additional context**

- All team members have migrated to version 7
- Removing the collection from the shared workspace and re-shared it worked but then the issue reoccurs.

Note for engineering: logs have been shared.

[2019-04-02 17:30] cyrielle-hada opened #6213 "Notification as to why the default team workspace cannot be deleted"
**Is your feature request related to a problem? Please describe.**
When deleting a workspace, nothing tells if it's the `Default team workspace`. Plus, an error message says "Something went wrong".

<img width="272" alt="Screen Shot 2019-04-02 at 18 31 52" src="https://user-images.githubusercontent.com/47351631/55423355-a2a88b00-5575-11e9-920b-05152de5285a.png">

You can only tell it's the default

[2019-04-02 19:29] MichaelMFeldman commented on #6212
I don't know if this is the same issue or not, because logging in/out has no effect, but after migrating I can't sync anymore. I can't access my team's workspace or anything... eek.

The email on my account is <redacted>
When I try to press an "Enable sync" button inside postman with the console open, I see a network request to `POST https://app.getpostman.com/api/sync-eula-accept?<redacted>` with

[2019-04-02 19:59] jonathanlarsen commented on #5459
This would be a great feature to have!

[2019-04-02 21:08] JP-from-Postman opened #6214 "Dashboard: "Or create a collection in the Postman app" doesn't do anything if Postman isn't already installed"
**Is your feature request related to a problem? Please describe.**
When looking at an empty Workspace in the web dashboard, the link: **Or create a collection in the Postman app** (postman://) appears at the bottom of the page. Clicking this link with the Postman app already installed will launch open the app.

However, if the Postman app _isn't_ already installed, clicking the link doesn't do any

[2019-04-02 22:18] Anakin-Hao opened #6215 "Batch extract requests into desired language (python)"
**Is your feature request related to a problem? Please describe.**
I have many collections of requests written in postman. We want to extract them as python requests so that we can hook into other tools like locust.io.

**Describe the solution you'd like**
An export / extract UI similar to how collection of postman requests are exported.
Can start by extracting each request into its own function w

[2019-04-02 23:46] JP-from-Postman commented on #5182
Same issue for following Curl:

curl -X POST \
https://this-is-an-api/api/v4/conversation/ \
-H 'Authorization: Bearer MYTOKEN' \
-H 'Content-Type: application/json' \
-H 'Postman-Token: abc-123-abc-123' \
-H 'cache-control: no-cache' \
-d '{
"from": "+12345678901",
"metadata": {
"repliedToMessageTime": "abc-123",
"contactId": "abc-123"
},
"source": {
"sourceId": "api-name"
},
"text": "Hello World

[2019-04-03 00:38] jzabroski commented on #4751
@a85
I don't know why after you insulted me I am being so nice and giving you further clarity into your product, but here I am:

I took my "elementary level ASP code" and the fact your application is an Electron app with access to Chrome Developer Tools and did the following:

a) I reduced my months of minutely data sample data from 12 months to 1.  No crash.
b) I then fired up the Performance log

[2019-04-03 02:19] chrisdeso opened #6216 "Documentation Publishing Flow: Required field not throwing error when empty"
**Describe the bug**
The **API Description** field that's surfaced in the API Network publishing flow is required for publishing but doesn't throw an error when empty.

**To Reproduce**
Steps to reproduce the behavior:
1. Select a collection to publish
2. Check the **Collection discovery** option
3. Fill out the API Name and API Summary
4. Note that the **Publish** action is disabled
5. Fill out t

[2019-04-03 03:07] thechile commented on #3845
:( part of the runner is cleanup calls at the end... if it bails early then cleanup is skipped.

[2019-04-03 04:43] numaanashraf commented on #5657
With only the details that is currently in the issue, we don't have enough information to reproduce this issue and take action. We're going to close this but don't hesitate to reach out if you are still facing this issue.

[2019-04-03 04:43] #5657 closed, assigned to nobody

[2019-04-03 05:12] Raja-Simha commented on #6216
@chrisdeso thanks for reporting this. I want to understand you better.

From what I understand, users cannot publish without an API Name, API summary, and API description as the 'publish' option is disabled when at least one of these is empty.

When exactly do you want the error to be thrown? Do you mean to say API description widget should have a message - 'API description cannot be empty' when t

[2019-04-03 05:15] chrisdeso commented on #6216
@Raja-Simha Yes – I guess the screenshot didn't highlight the missing error message that should populate to indicate that the **API Description** field is required for submitting collections/documentation to the API Network. Here's a better one :).

![image](https://user-images.githubusercontent.com/4734306/55454424-89b7ce00-55a5-11e9-981e-14f88cd0155b.png)

[2019-04-03 05:24] isurunix opened #6217 "Postman 7.0.7 not working in Ubuntu 16.04"
**Describe the bug**
Postman v7.0.7 fails to start in Ubuntu 16.04

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://www.getpostman.com/downloads/'
2. Download Postman 64bit for Linux
3. Extract the downloaded Postman-linux-x64-7.0.7.tar.gz
4. Run Postman from the terminal.

**Expected behavior**
Postman should start.

**Screenshots**
None

**App information (please complete the

[2019-04-03 05:26] numaanashraf commented on #6212
@MichaelMFeldman Could you write to us at help@getpostman.com? It'll help us verify the status of your account and your team and understand why sync has been disabled for you.

[2019-04-03 05:30] numaanashraf commented on #6217
@isurunix Do you see any windows or screens open up?

[2019-04-03 05:32] Raja-Simha commented on #6216
Got it. Thanks,

[2019-04-03 05:51] sudhirkhanger commented on #4108
This is not fixed. Right click copy-paste options, Unix's selection to copy, etc. don't work. Could someone please open this issue?

[2019-04-03 05:57] abhijitkane commented on #4108
@sudhirkhanger Can you add a comment on https://github.com/postmanlabs/postman-app-support/issues/3691 and mention your app version?

[2019-04-03 06:08] isurunix commented on #6217
@numaanashraf No. No windows or any screens. It just gives that error on the terminal. Having the same issue with 7.0.6 too.

[2019-04-03 06:16] isurunix commented on #6217
@numaanashraf Upon inspection, I noticed that the Update process has failed to stop the previous Postman process. Once I stopped it Postman started as usual.

[2019-04-03 06:18] numaanashraf commented on #6198
@canabina Could you check whether there are any errors in (View > Developer > Show DevTools (Current View) > Console)?

[2019-04-03 06:18] #6217 closed, assigned to nobody

[2019-04-03 06:19] numaanashraf commented on #6217
@isurunix Thanks for letting us know.

[2019-04-03 06:20] lalit-lintel commented on #3358
+1

[2019-04-03 06:48] sujayvenaik commented on #6175
Hey @mi-akram
Thanks for cooperating. Closing this issue for now, feel free to reopen if you face any other issues with this. Will be glad to help.

[2019-04-03 06:48] #6175 closed, assigned to nobody

[2019-04-03 06:49] numaanashraf commented on #4723
Thanks @gabokr. Do let us know if you face this issue again. Closing this ticket for now.

[2019-04-03 06:49] #4723 closed, assigned to numaanashraf

[2019-04-03 06:50] ejerskov commented on #3312
+1

[2019-04-03 07:02] seelikes opened #6218 "ubuntu still be 6.7.1 and windows is 7.0 for a long time"
i have upgrade my workspace to 7.0.
but ubuntu with snap is still 6.7.1, which caused my ubuntu computer can not load team collections. everyday is a long day waiting for snap to upgrade.
the app on ubuntu says you can configure the upgrade in Settings > Update, but the truth is there is no Update tag bellow Settings or anywhere else.

[2019-04-03 07:09] henhal opened #6219 "Use global variable inside environment variable"
**Is your feature request related to a problem? Please describe.**

I have several environments, each containing several service hosts. When developing, I usually run a local setup, but the host used in this local setup may vary from e.g. localhost or another server in my local network. Currently I need to duplicate the entire environment per host, since it's not possible to define environment var

[2019-04-03 07:18] MichaelMFeldman commented on #6212
Hi @numaanashraf I did earlier today, subject "Syncing issue logs - github issue 6212". Apologies for including sensitive info in my previous comment and potentially clogging up this github issue.

[2019-04-03 07:24] numaanashraf commented on #6212
Thanks @MichaelMFeldman. We are looking into this issue at our end and we'll get back to you via email.

[2019-04-03 07:46] SamvelRaja commented on #6217
@isurunix  Could you share us the logs from `log.txt` file available in `[PATH_TO_POSTMAN]/Postman/` folder where the app is extracted to verify the issue.

[2019-04-03 07:49] AbrahamLopez10 commented on #4751
@a85

I'm not sure if you can get any more opinionated than this.

So users are "crapping" when filing bug reports and making genuine suggestions on how to improve your own product?

Sorry, but your self-righteous attitude isn't helping either, and frankly is quite childish and unprofessional coming from a CEO. Next time I'd recommend letting your emotions settle down for a bit before typing away

[2019-04-03 08:17] tester1234562020 opened #6220 "why just the last blank can be null?"
![image](https://user-images.githubusercontent.com/44419851/55463534-dcd46400-562b-11e9-801c-e8433511ea6f.png)
[data-.txt](https://github.com/postmanlabs/postman-app-support/files/3037551/data-.txt)

[2019-04-03 08:32] feathergrass opened #6221 "Can't update Windows app from v7.0.4 to v7.0.7"
**Describe the bug**
Can't update Windows app from v7.0.4 to v7.0.7.

**To Reproduce**
Steps to reproduce the behavior:
1. Open the app v7.0.4.
2. Go to 'Help' → 'Check for Updates'
3. There are 7.0.6 and 7.0.7 (Latest) versions available.
4. Click on 'Update' button.

**Actual behavior:**
There is "UP TO DATE" pop up: "You are up to date! Postman v7.0.4 is the latest version."

**Expected behavio

[2019-04-03 08:38] mp222 opened #6222 "Postman how to get request body with already substituted variables"
Hi,

could you help me with one thing

I need to save request body (json with variables) to use it later in my prerequest script. Unfortunately when I display request data

console.log(request.data);

It looks for example like this:

{

"session": "{{session}}",

"playerid": "{{playerid}}",

"currency": "{{currencyCode}}",

"action":

{ "command": "com",

"parameters": {

"country": "{{countryCode

[2019-04-03 08:47] shamasis commented on #4751
Hello all. Like you've identified and discussed, there are a number of contributing factors to the large response loading slow or crashing. But none of the vectors would solve it to a point where it will not grow back again... any fix on what is happening now in the app, by virtue of its synchronous nature, will crash the app.

There is no end to localised performance optimisation that can be done

[2019-04-03 08:48] HoLengZai commented on #5039
I got the same issue.. I'm using the version 7.0.7
I have reinstalled the app completely and i got the same issue.
My workaround is to copy the Initial value column value to the Current Value column value in the Environment variable and then it works.

So it seems that when i create a new environment variable and you set value in the initial value column only (current value is empty since you have

[2019-04-03 08:51] ratpik commented on #6127
@JP-from-Postman - We have pushed out a fix which should reduce the frequency of this issue. We are working on a fix that will resolve this issue. We plan to resolve this before the end of this week.

[2019-04-03 09:04] shamasis commented on #4751
Large request related issue is being tracked at: https://github.com/postmanlabs/postman-app-support/issues/4230

[2019-04-03 09:08] codenirvana commented on #6222
Duplicate of #5043

Refer: https://github.com/postmanlabs/postman-app-support/issues/5043#issuecomment-414301254

[2019-04-03 09:08] #6222 closed, assigned to codenirvana

[2019-04-03 09:15] codenirvana commented on #6078
@ihipop There's another workaround for this:
[code]

[2019-04-03 09:28] lazb commented on #5853
I have the same issue.

Using Chrome to copy the curl and using postman version 7.0.7.

Quickest workaround is to copy the curl to notepad++ and replace "" with ", but I would be happy to skip that step :)

[2019-04-03 09:30] harryi3t commented on #6219
@henhal This is supported, I just tried it out on my end. Seems to be working fine.

<img width="535" alt="Postman" src="https://user-images.githubusercontent.com/5207331/55468448-00de7800-5621-11e9-8015-e5ef1b05525e.png">

[2019-04-03 09:30] harryi3t commented on #6221
@feathergrass Could you send us the logs? You can find them by clicking `View -> Developer -> View logs in Explorer`. You can share them at help@getpostman.com. Please mention the issue ID in the mail.

Also, can you try restarting the App and try this again.

[2019-04-03 09:58] harryi3t commented on #4951
@ash007-postman @ambroselittle
This seems to be working in the latest version of Postman (7.0.7)
Can you try it again?

![cookies-expiry-low-res](https://user-images.githubusercontent.com/5207331/55470168-bced7200-5624-11e9-8620-1177bdb001bc.gif)

[2019-04-03 09:58] henhal commented on #6219
@harryi3t That's interesting. I tried it several times, but now when I tried again, I realized I had probably erased the "current value" for the SERVICE_HOST_FOO variable (which, unrelated as it is to this issue, is also somewhat confusing - IMO clearing the current value should mean that the initial value is used, but that's only the case if you press _Reset_, which actually _copies_ the value to

[2019-04-03 09:58] #6219 closed, assigned to nobody

[2019-04-03 10:02] sudhirkhanger commented on #3691
Right-click copy/paste and unix's selection to copy and three-click paste doesn't work on Postman Version 6.7.1

[2019-04-03 10:03] amitdotagarwal opened #6223 "Unable to submit collection through API"
Hi Team,

We need your help, we are trying post collection through API, and facing some strange issues. For your reference please find below code error and API key.

below is the code error
[code]

This is API request, I have API key

[code]

[2019-04-03 10:12] kasim commented on #6194
I have the same issue in MacOS with Postman v7.0.7 but in a different way.

I could do GET request with my local server but I can't do POST to http://localhost

I have already turned off SSL, Proxy and the timeout set to 0.

And yes, Curl is working fine.

[2019-04-03 10:18] sujayvenaik commented on #6218
@seelikes Please follow the instructions at https://learning.getpostman.com/docs/postman_pro/managing_postman_pro/migrating_to_v7/#updating-app-to-postman-v7-after-migration to update your snap to Postman v7.0.

[2019-04-03 10:44] ratpik commented on #5835
@tvvbbb - We have identified the bug and will push out a fix out in a couple of days.

[2019-04-03 10:47] tvvbbb commented on #5835
Thank you. But I hope mock server develope to more powerful. Now just a beta version.

[2019-04-03 11:12] amitdotagarwal commented on #6223
@Raja-Simha could you please help me troubleshoot this issue?

[2019-04-03 11:18] kthulsidoss commented on #3312
+1

[2019-04-03 12:21] Raj-postman opened #6224 "Deleted collections doesn't appear in Trash"
**Description**
1) After deleting a collection, Trash is empty.
2) Sharing the collection from [https://go.postman.co/team/elements?type=collection](https://go.postman.co/team/elements?type=collection) receives an authorization error.

**Steps to reproduce the behavior:**
1. Create a workspace
2. Create a collection in the workspace
3. Delete the workspace
4. Check the trash for deleted collection

[2019-04-03 12:40] WendallHersh commented on #6220
https://community.getpostman.com/t/hello-how-to-write-null-in-csv-for-used-in-postmans-tests/4805

There are a few workaround posted in the above linked community post.

[2019-04-03 13:01] ihipop commented on #6078
Any doc about `Substitutor.box`?

[2019-04-03 13:27] vinitshahdeo commented on #3095
@StoicNZ Could you please check it now?

 I tried to reproduce this bug, the **raw body** is correctly capturing the **environment variables**.

<img width="1110" alt="Screenshot 2019-04-03 at 4 15 10 PM" src="https://user-images.githubusercontent.com/20594326/55473204-b44c6a00-562b-11e9-9949-cedfdbabb8d5.png">

<img width="723" alt="Screenshot 2019-04-03 at 4 16 12 PM" src="https://user-images.gi

[2019-04-03 13:30] numaanashraf commented on #3095
Closing as this issue seems to be resolved

[2019-04-03 13:30] #3095 closed, assigned to numaanashraf

[2019-04-03 13:32] jzabroski commented on #4751
Hi @shamasis

First, let me reiterate - I am not trying to make you look bad or give you grief.  I've been in situations as an engineer where people think because I've solved hundreds of performance problems in my career, that the next one is just as easy as the last ten. - In fact, just November through March I dealt with such an issue dealing with billions of rows of temporal data (and I was ult

[2019-04-03 13:42] feathergrass commented on #6221
@harryi3t After restarting I got the message that the version is v7.0.7.
So it seems like the version was updated but maybe app had not re-initialized with it or just old value was shown.
The logs have been sent.

[2019-04-03 15:40] mjang commented on #6096
I have the same issue in Linux, Ubuntu 18.04. (I also confirm this issue in Windows 10)

[2019-04-03 15:48] ambroselittle commented on #4951
Still there in 7.0.7. It may be related to subdomains. Not sure. Try yours using domainCookieTest.example.test.

![postman-domain-cookie-bug](https://user-images.githubusercontent.com/2660021/55492975-25792680-5606-11e9-83bd-21cabd67aef2.gif)

[2019-04-03 16:08] thbaid commented on #4092
Hi, Please clarify the version of Postman that was fixed to successfully run a collection having multiple API tests without generating 401 token issue error ?  I have latest pm version and still get 401 errors .

You are up to date! Postman v7.0.7 is the latest version.

[2019-04-03 16:18] krisavi opened #6225 "pm.cookie.has tests success when cookie does not exist"
**Describe the bug**
Making a test with `pm.cookie.has` will result always successful test. It might not fail tests due to #4340.

[API Reference](https://learning.getpostman.com/docs/postman/scripts/postman_sandbox_api_reference/#pmcookies)
`pm.cookies.has(cookieName:String):Function → Boolean`

In v6.5.2 it resulted in either true or blank.

**To Reproduce**
Create a test using `pm.cookies.has`

[2019-04-03 18:00] codenirvana commented on #4092
@thbaid As mentioned https://github.com/postmanlabs/postman-app-support/issues/4092#issuecomment-477782259 its fixed in Postman Canary https://www.getpostman.com/canary

This will be fixed in the next release of the Postman App.

[2019-04-03 18:10] TonyTrupp commented on #6108
I was looking for this feature today too

[2019-04-03 18:13] codenirvana commented on #6225
@krisavi There are no assertions in this test. Try this out:

[code]

[2019-04-03 18:13] #6225 closed, assigned to codenirvana

[2019-04-03 18:13] TonyTrupp commented on #5578
sounds like a similar request to this one:
https://github.com/postmanlabs/postman-app-support/issues/5578

[2019-04-03 18:16] TonyTrupp commented on #1966
Similar to the original suggestion, to run multiple collections, please also allow the running of multiple folders.  Seems like a UI change could accommodate both at the same time.

[2019-04-03 18:19] TonyTrupp commented on #929
My QA team was hoping for this feature too, with a setup folder or setup collection, which would run before other individual folders or collections. Currently the run UI only allows selection of a single collection or folder. Sharing individual requests between multiple collections would be one way of handling this problem, or allowing multiple collections or folders to be run at the same time wou

[2019-04-03 18:39] ZenergyJenkins opened #6226 "Parameterizing request methods"
**Is your feature request related to a problem? Please describe.**
I have a lot of duplicated code for a very dynamic implementation of postman that changes runs based on csv. the only reason its duplicated is because I have to create a separate request for each PUT,DELETE,POST request.

**Describe the solution you'd like**
I would like to be able to parameterize the request method.

**Describe al

[2019-04-03 19:06] shamasis commented on #6190
For now, can you hit edit of collection and / or folder and add common script that you want to run across all items using collection / folder level scripts?

[2019-04-03 19:08] shamasis commented on #6205
Can you check your OS proxy settings or proxy settings in Postman?

[2019-04-03 19:10] shamasis commented on #6226
We’ve added feature that is scheduled for next release that allows you to programmatically control `pm.request` from pre request script.

It’s presently out in Postman Canary. Can you try it out and let us know if that works?

[2019-04-03 19:16] shamasis commented on #6203
Close duplicate of two issues. Keeping reference and tracking in original issue:
https://github.com/postmanlabs/postman-app-support/issues/3427

[2019-04-03 19:16] #6203 closed, assigned to vikiCoder

[2019-04-03 19:17] shamasis commented on #6220
Close duplicate of two issues. Keeping reference and tracking in original issue:
https://github.com/postmanlabs/postman-app-support/issues/3427
https://github.com/postmanlabs/postman-app-support/issues/6203

[2019-04-03 19:17] #6220 closed, assigned to nobody

[2019-04-04 02:46] briangarofalo commented on #6132
Sorry for my delayed response. Our monitoring usage was reset, but so far for the current usage period the value appears to be accurate and is exactly the same between the overview and detail pages. Thank you.

[2019-04-04 03:14] amitdotagarwal commented on #6223
Additionally, I am able to import same collection, JSON file through Postman application, but not through API.

[2019-04-04 03:27] #6132 closed, assigned to nobody

[2019-04-04 03:54] seelikes commented on #6218
@sujayvenaik thanks very much
for me, snap switch is very aggressive and making me concerned. so i did a little research and found an optional command: **sudo snap refresh postman --candidate**, this changes nothing about snap, very clear.

[2019-04-04 03:54] #6218 closed, assigned to nobody

[2019-04-04 04:31] preethammavin commented on #6127
@JP-from-Postman the issue has been resolved, closing the thread for now. Feel free to reopen it if it occurs again.

[2019-04-04 04:31] #6127 closed, assigned to ratpik

[2019-04-04 05:29] preethammavin commented on #6223
@amitdotagarwal can you share the collection json file you are trying to import? or a sample one if it doesnt have any sensitive information?

[2019-04-04 05:29] #6221 closed, assigned to nobody

[2019-04-04 05:33] numaanashraf commented on #6187
Thanks @jongio. Accounts with unverified email shouldn't lead to creating read-only collections. If this is still happening for you, it might be a bug. Could you share the logs from (View > Developer > Show Logs) to help@getpostman.com with the email title as "Logs for GH#6187"? It'll help us understand what's happening at your end.

[2019-04-04 05:41] amitdotagarwal commented on #6223
really thanks for your response, please find attached, requested JSON file.
[ros-api.json.zip](https://github.com/postmanlabs/postman-app-support/files/3041915/ros-api.json.zip)

[2019-04-04 06:14] baibhavtripathi commented on #2214
I was having this same issue on Mac postman, Version 7.0.7 (7.0.7).

'/'  at the end in requests, did the job for me.

[2019-04-04 06:22] harryi3t commented on #6117
@Kurmavathar @svkaizoku
Could you share us the screenshot showing any error from the DevTools Console using (View > Developer > Current View) after you try duplicating a collection?

![image](https://user-images.githubusercontent.com/5207331/55533772-021aae00-56d0-11e9-84a6-dfdb8b344c40.png)

[2019-04-04 06:24] lubao commented on #3232
It works on Canary release. Thanks for fix the issue. :)

[2019-04-04 06:25] baibhavtripathi commented on #6205
I was having the same issue on Mac Postman, Version 7.0.7 (7.0.7)

Just add a extra slash, that trailing slash is important.

i.e try         "node4:9200/search/_search/ "

Happy coding :)

[2019-04-04 06:42] harryi3t commented on #6187
@jongio Could you update the `App information` section in the issue description? The App type, the version, and the OS. That will help us narrow down the issue.
Also, try restarting the App and try again.

[2019-04-04 06:55] perfectacle opened #6227 "proxy authentication not works with some characters"
**App information (please complete the following information):**
 - Native App
 - 7.1.0-canary01
 - macOS Mojave 10.14.4

**Describe the bug**
It can find proxy server with plain password authentication
<img width="702" alt="Screen Shot 2019-04-04 at 3 49 01 PM" src="https://user-images.githubusercontent.com/15857795/55535294-bb3db000-56f1-11e9-80cd-0dac6c6b1b51.png">
![Screen Shot 2019-04-04 at 3

[2019-04-04 07:35] JensGr-1985 commented on #6207
After Testing it a couple of times the last days - it can not be reproduced consitently -> Close

[2019-04-04 07:42] BIGMONK opened #6228 "Could not get any response"
**Describe the bug**
Windows 10 with APP Postman v7.0.7 .

I could do GET request  but I can't do POST,which  could not get any response.

It's all right when I do that in google extension postman.

[2019-04-04 08:10] codenirvana commented on #6227
@perfectacle I am able to reproduce the issue.

For now, a workaround for this is to use the encoded variant of these characters.
Example: `%23` for `#`

[2019-04-04 08:16] dietbos commented on #5103
Same here, getting a 403 message in the "new" app > while the old one using chrome works fine.

Will this be solved?

[2019-04-04 08:25] ankurdengla commented on #2606
@wla2000 We went through your comment and it seems you entered full screen mode on Postman app. The behaviour you reported is as expected on the Windows platform. The full-screen mode on Windows by default hides the task bar and the title bar on all apps. They can be recovered by pressing F11 to exit full-screen mode. Also, resizing the window or moving it is disabled in full-screen mode

[2019-04-04 08:27] ankurdengla commented on #2606
@zach-is-my-name The exact issue you are facing is unclear to us from your comment. Are you still facing this issue? Can you share the steps for reproducing this issue?

[2019-04-04 08:35] sankalp0o commented on #6168
Sorry for the delay, I haven't been able to exactly reproduce this, but the behaviour seems inconsistent with what we expect. @preethammavin @godfrzero let's look into this.

[2019-04-04 08:41] camohub commented on #6205
@shamasis Postman proxy settings are off
![Screenshot (148)](https://user-images.githubusercontent.com/8393426/55541852-1a85cb00-56c6-11e9-8af5-73d166f23ddf.png)

@baibhavtripathi Trailing slash does not work.

[2019-04-04 09:03] Lysander commented on #5161
This bug is a duplicate of #4070 - although this is more generic.

Overall it's not about *unicode* but about the **encoding** that is used for generating the basic auth credentials.

Currently postman uses ISO-8859-1 as encoding; in #4070 there is the suggestion to change it to UTF-8. Imho that would not be a good solution!

I would apreciate it, if one could **choose** the encoding. This would b

[2019-04-04 09:06] #6207 closed, assigned to nobody

[2019-04-04 09:45] Raj-postman opened #6229 "Unauthorized to share collection"
**Description:**
Unable to share the collections to my personal workspace.

**To Reproduce**
Steps to reproduce the behavior:
1. Navigate to [https://go.postman.co/team/elements?type=collection](https://go.postman.co/team/elements?type=collection)
2. Click on **Share** on one of the collection
3. Select Personal workspace to add them to
4. Error seen - "You are not permitted to perform this action

[2019-04-04 09:52] preethammavin commented on #6229
We are tracking the issue for the same #6224
We will update it there once we have pushed a fix

[2019-04-04 09:52] #6229 closed, assigned to nobody

[2019-04-04 10:39] ash007-postman opened #6230 "Prevent or warn collection import if they would be archived after importing"
**Describe the bug**
Import option doesn't let you import a larger number of requests than subscription supports into a shared workspace.

**To Reproduce**
Steps to reproduce the behavior:
1. Click on Import button
2. Select a file you would want to Import
3. Import succeeds and everything appears in the app.
4.  Sometime later, they all disappear into the archive.

**Expected behavior**
The appli

[2019-04-04 11:03] shamasis commented on #4070
Comments from @null9beta and @Lysander at https://github.com/postmanlabs/postman-app-support/issues/5161#issuecomment-479814001 seems to be the most optimum route at this moment. Quoting it here:

[2019-04-04 11:04] shamasis commented on #5161
Curated the issue #4070 to include these details and closing this as duplicate.

[2019-04-04 11:04] #5161 closed, assigned to nobody

[2019-04-04 12:33] davidteofilovic commented on #3171
+1

[2019-04-04 13:20] ZenergyJenkins commented on #6226
Worked fantastically in both Postman Canary and Newman CLI. Thanks! How soon should I expect this to release in Postman Stable?

[2019-04-04 13:51] benfletcher commented on #6230
Alternatively, I would suggest that *all* imports default to a local non-shared workspace and then allow the user to manually add to a shared workspace. I think this would make the workflow more intuitive and prevent user foot-gunning.

This is especially important when dealing with imports from the [Postman API Network](https://www.getpostman.com/api-network/).

The other point with the auto-arch

[2019-04-04 13:56] steigerm opened #6231 "Postman crashes with NTLM auth"
**Describe the bug**
Postman crashes when sending a http PUT using JSON body and **NTLM Auth**
After clicking on Send the console displays two entries.
I can not read them because Postman vanishes shortly after click

main.log shows
[6220][1554385531808][main][error]["Main~handleUncaughtError - Uncaught errors",{"name":"TypeError","message":"First argument must be a string, Buffer, ArrayBuffer, Ar

[2019-04-04 14:09] numaanashraf commented on #5181
Duplicate of #2940

[2019-04-04 14:09] #5181 closed, assigned to nobody

[2019-04-04 14:09] numaanashraf commented on #5218
Duplicate of #2940

[2019-04-04 14:09] #5218 closed, assigned to nobody

[2019-04-04 14:16] timatiotas commented on #6151
I am having this issue, but i'm also missing some of my collections in the desktop app that I can see on the web.  so this is a larger issue for me since my main and most used collection is gone and I cannot get access to it.

when i try to access the ones I don't see in the desktop app, I get the permission denied error on web.

EDIT: clarification

I can see the missing collections on my profile

[2019-04-04 14:21] steigerm commented on #6231
Duplicate of #5768

[2019-04-04 14:21] #6231 closed, assigned to nobody

[2019-04-04 14:22] steigerm commented on #5768
Seems that I have a similar situation (#6231).
Difference is: NO SSL just http://localhost

[2019-04-04 14:46] cyrielle-hada opened #6232 "Guest accounts"
**Is your feature request related to a problem? Please describe.**
Collaboration only works with members on the same team at the moment, there is no user role with a "view only" permission.

**Describe the solution you'd like**
Invite users with restricted access to your Pro or Enterprise account to **view only** a workspace.

The workspace would be client-facing workspace and controlled/presented

[2019-04-04 15:51] douglas444 commented on #4009
+1

[2019-04-04 17:18] DM-MorganKohler commented on #4463
Hi I just came to this thread and it seems as if there is no good way to duplicate a request currently. I tried duplicating a tab and that pointed to the same tab. I tried duplicating a collection and this pointed to the same collection. And I also tried duplicating a request as suggested here. The request was completely blank, basically, like I was starting over from scratch. Is this really the d

[2019-04-04 17:27] sujayvenaik commented on #4463
@DM-MorganKohler
Hey, if you duplicate a request/collection from the sidebar it is a new instance of a request/collection that is created, so if you open the request from the duplicated collection that should not point to the original request.

This is not the intended behaviour that when you duplicate a request from sidebar it is completely blank. Can you confirm that you duplicated the request f

[2019-04-04 18:08] lvnar commented on #4401
Same issue here. I haven't sync in two days and didn't figure out till now.I changed between sessions and now I can't see  any collection.

@tsantor  solved with the update. I have the notification to update, but there no Settings > Update tab. Re-sync button inactive too. :confused:

![Captura de pantalla de 2019-04-04 12-00-33](https://user-images.githubusercontent.com/7190801/55577979-0c3dac00-

[2019-04-04 18:12] sujayvenaik commented on #4401
Hey @Ivnar
Hi! Seems like you are using Postman for Linux installed via Snap or Ubuntu Software Center. Please switch your release channel via the following commands to get access to Postman 7.0

sudo snap switch --channel=candidate postman
sudo snap refresh postman

[2019-04-04 18:47] qmcree commented on #5611
@numaanashraf I am still experiencing this issue. Running Postman for Mac v6.7.4.

[2019-04-04 18:48] sujayvenaik commented on #5611
Hey, @qmcree Can you update to the latest version v7.0.7 and check?

[2019-04-04 19:58] jimm-porch opened #6233 "Collection runner slows down dramatically when user not interacting with window"
I love Postman and occasionally use the Collection Runner to reprocess large batches of API calls.

It seems like the runner will slow down when mouse click/scroll events are not happening in the runner window.  I'm using the native Mac client 7.0.7.

For example I'm processing a file of 20,000 records and noticed in downstream services that the throughput to the API drops when I'm not mousing aro

[2019-04-04 20:19] jimm-porch commented on #6233
Further, if the screen saver comes on, the runner seems to completely halt.

![image](https://user-images.githubusercontent.com/8631234/55585675-0ea50380-56dc-11e9-84c3-3e6ea013b3f2.png)

The huge drop at 1:05 in the chart is when I walked away and the screensaver came on.  My computer is powered on, the screen saver was running, so it's not like the machine went to sleep.

The traffic goes back u

[2019-04-04 20:44] jimm-porch commented on #6233
Just to pile on - I observed the same kind of near-total drop in activity while I was using the machine for other apps.  I had simply not come back to Postman in a few minutes to touch it.  It definitely seems to require constant love and attention or it gets depressed.

[2019-04-04 21:02] jimm-porch commented on #6233
Final observation - the actual API endpoint calls had stopped but the progress circle would still increment gradually as long as I interacted with the runner UI.

![image](https://user-images.githubusercontent.com/8631234/55588292-3f883700-56e2-11e9-88aa-aba1c0610018.png)

It had stopped making API calls at 1:35pm but the progress meter kept functioning (when I touched the UI).

[2019-04-04 21:13] cardonator opened #6234 "Can't Login Through Okta"
**Describe the bug**
I am unable to log in to the Postman app or Chrome extension through Okta. The Okta sign in works (badly) in Chrome but it doesn't sign the extension in. Since the extension is deprecated, I also tried in the native app 6.7.1 and 7.0.7 and both have the same behavior.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Sign In' in the top right
2. Click on 'Enterprise

[2019-04-04 22:08] sisodiyas opened #6235 "Add SCIM support to provision and manage user accounts in Postman."
**Is your feature request related to a problem? Please describe.**
Provisioning and de-provisioning users in Postman is a manual process.

**Describe the solution you'd like**
SCIM is a popular REST-API based standard for implementing user provisioning/de-provisioning.

A few relevant links:
- http://www.simplecloud.info/

**Describe alternatives you've considered**
The current alternative is to m

[2019-04-04 22:24] chrisdeso opened #6236 "Allow default Workspaces to be deleted or reassigned"
**Is your feature request related to a problem? Please describe.**
It would be great to be able to delete default workspaces (personal/team) or to designate a different workspace as default

**Describe the solution you'd like**
A flow similar to the workspace deletion flow – an option in the UI that would allow the change/update.

**Additional context**
[Filed by Postman]

[2019-04-05 00:12] nagelm commented on #3566
Working well for me on the Canary build. Only suggestion is to mask the password field like elsewhere in the app.

[2019-04-05 02:47] preethammavin commented on #6234
Hi @cardonator
Can you write to us at help@getpostman.com, lets sort this out.

[2019-04-05 03:52] sinand99 commented on #1667
Please implement this asap

[2019-04-05 05:45] codenirvana commented on #3566
@nagelm Thanks for the feedback. We already made this change for our stable release.

<img width="698" alt="Screenshot 2019-04-04 at 6 52 41 PM" src="https://user-images.githubusercontent.com/4865836/55605788-b92c2d80-5793-11e9-927d-152a695fc60d.png">

[2019-04-05 05:55] codenirvana commented on #5825
@zzxcqa Are you facing this issue while using NTLM auth?
The logs look similar to the one reported in #5768 & #6231

[2019-04-05 06:15] kamalaknn commented on #5636
@clemz25 Thanks for the logs

This seems to be a duplicate of #5524

[2019-04-05 06:40] shamasis commented on #6228
@BIGMONK - I don't think we have enough information from what you've posted to conclude what could be causing this.

- what error are you seeing in Postman Native app?
- Can you open Postman Console and check if any error is logged there?
- Can you try calling a generic URL such as https://postman-echo.com/get and https://postman-echo.com/post to see if that works?

[2019-04-05 06:48] kmuret-scr opened #6237 "App launch blocked after Ubuntu update"
After updating Ubuntu 18

I can't launch the application here the terminal output when tying to start from command line :+1:

`Gtk-Message: 08:41:28.119: Failed to load module "canberra-gtk-module"`
`1554446489888 main info ["Booting Postman 6.6.1, linux-4.15.0-47-generic on x64"]`
`1554446489890 main info ["EventBus\\x7einitialize - Success"]`
`1554446489893 main info ["UpdateHandler\\x7einit - S

[2019-04-05 06:54] shamasis commented on #6205
@camohub can you try making the same call using `curl` and check? (Use `--verbose` mode in curl so that we get more details.)

[2019-04-05 07:56] Jakems777 commented on #3358
+1

[2019-04-05 08:12] SamvelRaja commented on #6237
@kmuret-scr  Could you verify it is regarding https://github.com/postmanlabs/postman-app-support/issues/6217#issuecomment-479354791.

If so, can you share logs from `PATH_TO_POSTMAN/Postman/log.txt` ?

[2019-04-05 08:22] IanKemp commented on #2128
Now at https://www.getpostman.com/downloads/release-notes

[2019-04-05 08:24] quappinger commented on #5905
Postman crashes when trying capture requests.

MacOS 10.14.3

[2019-04-05 08:34] harryi3t opened #6238 "Can't update global variables in "My Workspace" from quick-look & context-menu"
**Describe the bug**
After a user signs in the App (7.x), they are not able to update the global variables in the default
 "My Workspace" from the quick-look panel or from the context menu.

PS: This bug does not affect environment variables or global variables in other workspaces. Also, updating the global variables from the "Manage Environment" model works.

### Quick look panel
![image](https:/

[2019-04-05 08:51] abhijitkane commented on #6223
@preethammavin The OpenAPI converter is converting the OAS spec to a valid collection. The Postman Collection file is importing correctly in the app, but not in the API (even using the POST /collection endpoint, which has nothing to do with openAPI).

Probably linked to a transformer version mismatch across app/api/sync

[2019-04-05 08:52] abhijitkane commented on #6223
Attaching the Postman Collection V2 file that imports in the app but not in the API.

[collection-import-error.txt](https://github.com/postmanlabs/postman-app-support/files/3047109/collection-import-error.txt)

[2019-04-05 09:11] numaanashraf commented on #5636
Duplicate of #5524

[2019-04-05 09:11] #5636 closed, assigned to nobody

[2019-04-05 09:15] numaanashraf commented on #5774
Thank you for your issue! With only the details that is currently in the issue, we don't have enough information to take action. I'm going to close this but don't hesitate to reach out if you are still facing this issue.

[2019-04-05 09:15] #5774 closed, assigned to nobody

[2019-04-05 09:21] numaanashraf commented on #5598
Duplicate of #4642

[2019-04-05 09:22] #5598 closed, assigned to nobody

[2019-04-05 09:24] numaanashraf commented on #5772
Duplicate of #5591

[2019-04-05 09:24] #5772 closed, assigned to nobody

[2019-04-05 09:28] numaanashraf commented on #5517
Duplicate of #5591

[2019-04-05 09:28] #5517 closed, assigned to nobody

[2019-04-05 09:32] numaanashraf commented on #5623
Thank you for your issue! With only the details that is currently in the issue, we don't have enough information to take action. I'm going to close this but don't hesitate to reach out if you have more information for us that'll help us debug/triage this issue.

[2019-04-05 09:32] #5623 closed, assigned to nobody

[2019-04-05 09:34] numaanashraf commented on #5561
Thank you for your issue! With only the details that is currently in the issue, we don't have enough information to take action. I'm going to close this but don't hesitate to reach out if you have more information for us that'll help us debug or triage this issue.

[2019-04-05 09:34] #5561 closed, assigned to nobody

[2019-04-05 09:36] numaanashraf commented on #6029
Thank you for your issue! With only the details that is currently in the issue, we don't have enough information to take action. I'm going to close this but don't hesitate to reach out if you have more information for us that'll help us debug/triage this issue.

[2019-04-05 10:13] VicKetchup commented on #6017
Issue seems to be resolved on our side, been working fine for couple of days now.

[2019-04-05 10:14] VicKetchup commented on #5958
Any update on this?

[2019-04-05 10:56] kamalaknn opened #6239 "App doesn't receive sync changes after clicking the sync icon"
**Describe the bug**
If the Sync indicator icon is clicked when it is in the connected state, the app stops listening to changes coming from Sync.

So any further changes made from the app are synced, but any changes made outside the app don't come to this app.

**To Reproduce**
Steps to reproduce the behavior:
1. Wait for sync to finish. Sync indicator will turn to orange
2. Click the Sync icon
3

[2019-04-05 11:49] maxcoffer commented on #1607
+1

[2019-04-05 12:05] abhijitkane commented on #6224
@Kurmavathar Two parts here:
1. Deleting the workspace is not the same as deleting the collection. Collections that can't be found in any workspace can be found in https://go.postman.co/me/collections (personal) or https://go.postman.co/team/elements?type=collection (shared). This part works as intended.

2. The comments don't load. This is a bug.

[2019-04-05 12:47] JokerTheFourth commented on #4891
+1

[2019-04-05 13:42] powelli commented on #5464
Native App
App version: 6.7.4
OS: macOS High Sierra 10.13.6

+1 This is quite frustrating as it's really common for some of our users to accidentally hit Save when modifying requests for a transient test

[2019-04-05 13:56] dhineshwiz commented on #5674
@abhijitkane This issue is fixed, and categories are made optional for both API network and templates, please free to re-open, if u find any other issue in this

[2019-04-05 13:56] #5674 closed, assigned to ankit-m, dhineshwiz

[2019-04-05 15:57] benfletcher opened #6240 "Javascript language version support"
**Describe the bug**
No reference to which Javascript language features are supported. Trial and error required to determine JS spec feature support.

**To Reproduce**
Steps to reproduce the behavior:
1. Put `console.log("Hello world!".padStart(25, ' ');` in any script block.
1. Send request.
1. See error

**Expected behavior**
A reference to which javascript engine / version is used so that users

[2019-04-05 16:57] ckanibal commented on #6144
I am experiencing the same problem, when I try to fetch and set a CSRF-token asynchronically in a pre-request script like this:
[code]
It works, however, when I set the token directly in the response-callback. So, as a workaround:
[code]
Any fix is highly appreciated!

[2019-04-05 17:21] DM-MorganKohler commented on #4463
@sujayvenaik
Thank you for the quick response, the issue was with me not saving the request before attempting to duplicate it. I appreciate your help in resolving this.

[2019-04-05 18:35] meantux commented on #1470
Multiple API Keys' not really supported
In my example below you'll find a security defined as Swagger documented. Please note the second item does not have a dash, this is to indicate that they are both needed for the query. When I import it into Postman only the first security key is visible.

[code]

[2019-04-05 19:10] chrisdeso opened #6241 "Documenter – cURL / Go / jQuery Example requests not populating"
**Describe the bug**
For newly-published documentation – example requests in cURL, Go and jQuery aren't populating.

**To Reproduce**
Steps to reproduce the behavior:
1. Publish a collection
2. Toggle the `Language` on the published documentation between cURL, Go and jQuery
3. See that no example requests populate

Alternatively:
1. Navigate to my recently-published copy of Postman Echo – [https:/

[2019-04-05 20:32] ghost commented on #5558
@numaanashraf: is there any progress here? This is extremely annoying bug...

[2019-04-05 20:43] Episodio1 commented on #5558
Same issue here with Ubuntu 18.

[2019-04-05 21:11] unexpand commented on #6169
Tab won't open on OSX as well, upgraded to 7 and now 7.0.7. Doesn't help.
[main.log](https://github.com/postmanlabs/postman-app-support/files/3049664/main.log)

[2019-04-05 21:44] asarkar opened #6242 "Provide an option to specify HTTP Protocol version"
https://github.com/postmanlabs/postman-app-support/issues/876 was closed with a passing comment. Postman now has a desktop version, so what the browser does is irrelevant.

[2019-04-05 21:44] asarkar commented on #876
Opened https://github.com/postmanlabs/postman-app-support/issues/6242. Postman now has a desktop version, so what the browser does is irrelevant.

[2019-04-05 22:44] sujayvenaik commented on #6169
Hey @unexpand
Can you share the complete logs folder? And also View->Developer->ShowDevTools(Current View)?

[2019-04-06 04:47] wherevn commented on #4142
Hi all. Any news on this one?

[2019-04-06 05:19] pmontu commented on #5905
Me too

Ubuntu 18.04

[2019-04-06 09:32] colorpump commented on #5255
I have the same issue with locked collections now.

I signed up with my Google Account. Created collection, then a request. Could not save it in this Collection (didn't show up) - and I see the locked icon next to the collection. Then I created a collection from the Save-Request-As Pop Up ... same thing. Now I have four locked collection which I can not unlock or edit but at least delete.

Any sol

[2019-04-06 19:45] jongio commented on #6187
I could not repro with a new account. Closing and will re-open if I see it again.

[2019-04-06 19:45] #6187 closed, assigned to nobody

[2019-04-06 19:50] kevinbosman commented on #4594
Same issue with Postman 7.0.7:
Win8.1 Pro x64 (laptop)
NVIDIA GeForce GTX 860M + Intel HD 4600
Got it to work by setting Update.exe to Win 8 Compatibility mode

[2019-04-07 03:46] SattaiLanfear commented on #2521
It seems strange to close the issue before the issue is actually resolved, and likely to make the problem go forgotten indefinitely.

I ran into problems with this myself.

[2019-04-07 05:18] Andrewsuares commented on #6015
![capture_001_07042019_104518](https://user-images.githubusercontent.com/35380745/55679080-84021580-5922-11e9-8a9c-9607d1d779d5.jpg)

Windows 8.1
Intel i3 6th generation CPU
1TB HDD
4GB RAM
Postman consumes too much memory

[2019-04-07 05:20] Andrewsuares commented on #5997
The workaround has slightly improved the UI responsiveness. The problem of Postman consuming high amounts of RAM still persists.

![capture_001_07042019_104518](https://user-images.githubusercontent.com/35380745/55679097-fd016d00-5922-11e9-8878-8566fb4ab3bb.jpg)

[2019-04-07 08:44] ReactorboY commented on #5514
Yes, I am still facing the issue icon show in taskbar, mouse cursor flickering while postman window is focused and nothing is showing on postman

[2019-04-07 12:20] Fluorz commented on #2724
+1

[2019-04-07 13:46] ghost opened #6243 "set collection default host"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
my host will change, I don't want to reset all URL
**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternat

[2019-04-07 16:55] shamasis commented on #6211
@drexpp - security issues are best emailed to security@getpostman.com. Assuming that you will get this notification in your email and deleting the same.

[2019-04-07 16:55] #6211 closed

[2019-04-07 16:59] shamasis commented on #6240
Agreed. We will document this in upcoming iterations.

cc @ArifPMan

[2019-04-07 17:00] shamasis commented on #6242
@asarkar - indeed! that was quite some time back. You'll be pleased to know that work is in progress for more low-level control over the request. Stay tuned.

[2019-04-07 17:02] shamasis commented on #6243
@cn-js-git - have you tried using `{{variable}}` for the host part of your URLs? I define my requests in a form of `{{base_url}}/my/endpoint`. Then keep the `https://mydomain.com` as an environment variable.

[2019-04-07 21:19] swiftpint commented on #3822
+1

[2019-04-07 21:49] assislucas commented on #4854
Hi Postman team, did this feature request ever get picked up?

[2019-04-07 21:51] MMRandy commented on #1667
Thanks for above answer @a85.  2 quick questions...1) when this lands, will this work a bit like Charles regarding SSL certs in that the Postman proxy will intercept requests and then sign the outgoing request with a custom cert?  2) I know you hate this question, but can you give any hint as to when this may land...a month, end of year?  Thanks.

[2019-04-08 02:05] VaporFan commented on #6239
Same. My changes from app (mac osx) are not syncing to published collections.

[2019-04-08 05:12] sujayvenaik commented on #4800
Hey @dennisslavid
Closing this issue for now. Let us know if you face this issue again and feel free to reopen this thread. We will take a look.

[2019-04-08 05:12] #4800 closed, assigned to numaanashraf

[2019-04-08 05:26] codenirvana commented on #4942
@thyn This is fixed in the latest version of the Postman App.

[2019-04-08 05:26] #4942 closed, assigned to numaanashraf

[2019-04-08 05:29] kamalaknn commented on #3504
Hey @erkib

Are you still seeing this on the latest version of Postman?

[2019-04-08 05:39] crummy opened #6244 "Collections disappear when trying to save"
When I try to save a request, none of my collections appear. When I create a collection from this screen, it disappears quickly from the list and I cannot save to it.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a collection
2. Click Save on a request
3. Observe no collections have appeared in the "Select a collection..." list
4. Click Create Collection, and press enter
5. The coll

[2019-04-08 05:41] sujayvenaik commented on #5959
Closing this issue due to inactivity. Please feel free to ping here and reopen the thread if anyone finds this on the latest version of the app. Will be glad to help.

[2019-04-08 05:41] #5959 closed, assigned to nobody

[2019-04-08 06:38] ankurdengla commented on #4412
@MBach @kalashnikof We looked at this issue and this is happening because while the center option in electron works well for Windows and macOS, it uses the aggregate center of both displays on Linux. This is why the loader window is positioned at the center of both monitors.

This is a known issue on electron - https://github.com/electron/electron/issues/3490

[2019-04-08 06:40] harryi3t commented on #6244
@crummy Could you send us the logs at help@getpostman.com with the subject line "Logs for GitHub #6244"?
Open the logs directory from "View -> Developer -> View logs in Finder"

[2019-04-08 06:41] erkib commented on #3504
No, everything is OK with this feature now

[2019-04-08 06:50] imadarif commented on #4090
post take time to sync..

[2019-04-08 07:00] harryi3t commented on #5965
@lohfu Is there a way we can try out this authentication with this App? If yes, could you provide us the link to the documentation? Also, we would appriciate any other information which would help us to reproduce this.

[2019-04-08 07:01] localbubble commented on #285
Great idea, can't wait for it to be implemented :)

[2019-04-08 07:08] preethammavin commented on #6234
Hey @cardonator were you able to get this sorted, I am unable to reproduce it

[2019-04-08 07:12] preethammavin commented on #6177
Closing this as we are unable to reproduce this, feel free to reopen if it occurs again.

[2019-04-08 07:12] #6177 closed, assigned to ankitjaggi, kartikjain26

[2019-04-08 07:14] preethammavin commented on #6176
The issue has been marked as resolved, closing the thread for now.
We'll be happy to provide you with more assistance if you wish to re-open it in future.

[2019-04-08 07:14] #6176 closed, assigned to ankit-m, preethammavin

[2019-04-08 07:15] cdraeger commented on #285
It's never going to happen (just look at the creation date of this issue)

[2019-04-08 07:15] #6146 closed, assigned to ankitjaggi, ankit-m

[2019-04-08 07:17] preethammavin commented on #6125
Closing due to inactivity, feel free to reopen if it is still recurring

[2019-04-08 07:17] #6125 closed, assigned to abhijitkane

[2019-04-08 07:20] preethammavin commented on #6075
This issue has been fixed, do feel free to reopen if it occurs again.

[2019-04-08 07:20] #6075 closed, assigned to debjeetsarkar, ankit-m

[2019-04-08 07:37] hrobertson commented on #285
I've switched to using https://insomnia.rest which has this capability

[2019-04-08 08:16] kamalaknn commented on #3504
@erkib

Thanks for your confirmation.

[2019-04-08 08:28] Ian1971 commented on #285
Thanks. I will check it out.

[2019-04-08 08:36] preethammavin commented on #6027
This issue is resolved, do feel free to reopen it if it reoccurs again.

[2019-04-08 08:36] preethammavin commented on #5892
This issue is fixed from our end, @godfrzero feel free to reopen it if it reoccurs again

[2019-04-08 08:36] #5892 closed, assigned to ankit-m

[2019-04-08 08:41] preethammavin commented on #5797
@abhijitkane is this issue fixed?

[2019-04-08 08:43] preethammavin commented on #5751
@debjeetsarkar not able to replicate it, also no information on the issue linked. Do provide the information required to triage this

[2019-04-08 09:00] Michal-Kolomanski opened #6245 "How to transmit global variables from pre-request script to a raw body in Postman?"
Hello,
I am generating a random login and a password in pre-request script in postman like this:

![pre-req](https://user-images.githubusercontent.com/47147210/55711279-ac564680-59ec-11e9-9d99-731c4a632ac3.png)

and I want to transmit this random login and password to a raw body (json):

![body](https://user-images.githubusercontent.com/47147210/55711588-41593f80-59ed-11e9-8b50-010be8351217.png)

[2019-04-08 09:06] preethammavin commented on #5849
@abhijitpostman @chrisdeso closing the issue , as we were unable to reproduce and the issues linked with the github issue do not have information to triage it.

[2019-04-08 09:06] #5849 closed, assigned to nobody

[2019-04-08 09:37] DaHoert-sO opened #6246 "Digital Signature of Postman win64-setup.exe is not valid"
**Describe the bug**
The digital signature which the windows install binaries are signed with ran out on 28.03.2019 and our company doesn't allow installations of applications without valid signature.

**Screenshots**
![2019-04-08 11_36_25-Downloads](https://user-images.githubusercontent.com/46928502/55714243-99467500-59f2-11e9-8c1e-fe88674034ab.png)

[2019-04-08 09:42] SamvelRaja commented on #6246
@DaHoert-sO  The timestamp you are seeing is the date on which the app is code-signed.
Our certificate has validity more than that 👍

[2019-04-08 09:42] #6246 closed, assigned to nobody

[2019-04-08 09:48] codenirvana commented on #6245
@michal19256 You can use `{{variableName}}` which will be replaced with its current value when Postman resolves the variable. In your case:
[code]

Refer: https://learning.getpostman.com/docs/postman/environments_and_globals/variables/#accessing-variables-in-the-request-builder

[2019-04-08 09:48] #6245 closed, assigned to nobody

[2019-04-08 10:01] Michal-Kolomanski commented on #6245
This solution doesn't work. The "login" and  the "password" are recognizing as a string {{login}}, {{password}} (not my global random variables) :(

[2019-04-08 10:08] #6243 closed, assigned to nobody

[2019-04-08 10:14] codenirvana commented on #6245
@michal19256 Make sure your global variables are set correctly.
The issue is, you are assigning the return value from `console.log` to the global variable.

It should be: `pm.globals.set('login', getRandomWord(6));`

<img width="1017" alt="Screenshot 2019-04-08 at 3 37 21 PM" src="https://user-images.githubusercontent.com/4865836/55716353-6319ed00-5a14-11e9-8ba1-305bee5a13be.png">

[2019-04-08 10:25] cyrielle-hada opened #6247 "Unable to create monitor - Something went wrong while creating this monitor"
**Describe the bug**
After deleting a collection from my workspace and re-added it, I am unable to create a monitor for it.
An error message says `Something went wrong while creating this monitor`

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the native app
2. Add a monitor to a collection - click on **Create a monitor**
3. Set up the configuration
4. Under 3.Next steps see error bel

[2019-04-08 10:47] RomanKoziolek commented on #6247
Dear Postman Team,
in addition to this problem, when I finally managed to re-add the updated collection to be monitored, the collection that was added was the original, not the updated one.

[2019-04-08 11:03] appurva21 commented on #3995
@mohammad6006 We are not able to reproduce this issue in v7.0.7 If you are still facing this issue in the latest version, please leave a comment here with exact steps to reproduce the issue.

[2019-04-08 11:04] maxbet111 commented on #1038
I solve this problem to add this string in prerequest requst tab in postman -  var time = setTimeout(function(){}, [90000]);

[2019-04-08 11:19] qa-amitsahu commented on #5194
+1

[2019-04-08 11:24] mohammad6006 commented on #3995
@appurva21

my code in Laravel Controller:

![image](https://user-images.githubusercontent.com/553379/55720547-5d250b80-5a16-11e9-9483-51e3a37ad88e.png)

`
return (new Response)->setStatusCode(465, 'English Türkçe العربية فارسی');
`

and response in v7.0.7

![image](https://user-images.githubusercontent.com/553379/55720631-88a7f600-5a16-11e9-8c25-97ff5d90c64c.png)

I can copy the message text now

[2019-04-08 11:56] DaHoert-sO commented on #6246
@SamvelRaja I'm sorry, ofcourse you're right and my install issue lies somewhere else and I have to investigate further

[2019-04-08 12:54] Raj-postman opened #6248 "No Example requests in documentation"
**Describe the bug:**
In Documentation, the "Example requests" are missing.

**To Reproduce**
Steps to reproduce the behavior:
1. Expand your collection
2. Click on 'View in web'
3. "Example requests" are missing

**Expected behavior**
Example requests should be visible in Documentation

**Screenshots**
![No Example request](https://user-images.githubusercontent.com/47771757/55725216-d890b800-5a2a

[2019-04-08 13:20] j0r0 opened #6249 "Segfault on ubuntu 19.04"
Hello,
Just upgraded to Ubuntu 19.04 x.
Downloaded the latest Postman 7.0.7

Getting a segfault when starting postman

08.04.19 15:18	kernel	Postman[19419]: segfault at fffffffffffff777 ip 000000000111e1fb sp 00007ffc92e06e10 error 5 in Postman[400000+466e000]

`uname -a`

`Linux georgi-M92p 5.0.0-8-generic #9-Ubuntu SMP Tue Mar 12 21:58:11 UTC 2019 x86_64 x86_64 x86_64 GNU/Linux`

[2019-04-08 19:21] shuyih commented on #5514
googled how to
https://www.technipages.com/bring-off-screen-window-back-onto-screen

Regards,
Shuyi

On Sun, Apr 7, 2019 at 1:44 AM Muhammad Hussain <notifications@github.com>
wrote:

[2019-04-08 20:10] shamasis commented on #6205
@camohub did you manage to recheck using curl? Another thing that interests me is that can you try enabling “use system proxy”? If your network has a proxy and is defined in OS, then this setting will enable postman to use the same. I’m stressing on proxy because the symptoms you mentioned gives me the feeling that localhost is excluded from proxy and hence is the only endpoint that’s working.

[2019-04-08 20:22] camohub commented on #6205
I made a request in PHP. It works. It is curl request. Postman still does not work. Any suggestions? I am not familiar with proxy. Why I need it?

PS: URL of the request looks like node4:9200/search/_search Is it correct?  Its the same url as before when it worked.

[2019-04-08 20:58] naveed1234567 commented on #2352
hi i am getting this error failed to extract installed on postman

[2019-04-08 21:00] naveed1234567 commented on #2352
![Screenshot_2](https://user-images.githubusercontent.com/49415120/55756493-2200f780-5a6b-11e9-8c49-aece09d782cd.png)
I am getting this error after downloading postman plz some one help me out to get rid of this error

[2019-04-08 21:01] naveed1234567 commented on #4106
![Screenshot_2](https://user-images.githubusercontent.com/49415120/55756592-5bd1fe00-5a6b-11e9-96da-6b099df2b598.png)
Plz help me out for this

[2019-04-08 21:34] chrisdeso opened #6250 "Feature Request: Make it easier to search for monitors"
**Is your feature request related to a problem? Please describe.**
With the addition of workspaces, not having one place to see all monitors that are running for a team makes it difficult to manage usage.

**Describe the solution you'd like**
An endpoint on the web dashboard that'll populate any/all monitors that are running.

**Describe alternatives you've considered**
Something similar to the ab

[2019-04-08 22:19] abhijitkane commented on #4851
@danielvaughan Sorry for the delay here, but that might be it. We've confirmed neither curl nor Postman change the headers' case while making HTTP1.1 requests. Can you try adding a `--http1.1` option to your curl command and check if that works?

[2019-04-08 23:24] JP-from-Postman opened #6251 "Dashboard: error when merging"
[Reported on behalf of user -- see internal notes]
**Describe the bug**
After resolving all conflicts, clicking **Merge all changes,** then selecting Merge, the following error is shown:
[code]
The **Merge all changes** button is greyed out until all conflicts have been resolved, so this error seems erroneous.

**To Reproduce**
Steps to reproduce the behavior:
Unknown (see internal notes)

**Expec

[2019-04-09 00:32] caionaweb commented on #4186
7.0.7 same...
I tried post into elasticsearch endpoint and received same quote.

[2019-04-09 01:21] godfrzero commented on #6002
We've pushed out a fix for this and monitor deletes should now be functioning as expected for everyone.

[2019-04-09 01:21] #6002 closed, assigned to godfrzero

[2019-04-09 01:53] bheddens commented on #3117
Would love to see the ability to document JSON body raw, otherwise, documentation looks clunky in the description.

[2019-04-09 02:05] preethammavin commented on #6247
@RomanKoziolek are you still facing the error on your side for the monitor? can you signout & sign in and try again for the same collection and let me know if the error persists.

[2019-04-09 02:09] godfrzero commented on #5322
An update has been pushed to address this RC, and I'm keeping an eye on affected monitors.

[2019-04-09 02:09] #5322 closed, assigned to godfrzero

[2019-04-09 02:12] godfrzero commented on #6085
We've pushed out a fix for this issue. Team members will now receive summary mailers once they've opted in, even if they themselves haven't run any monitors during the relevant (daily, weekly) period.

[2019-04-09 02:23] dzakibuchori commented on #5301
![image](https://user-images.githubusercontent.com/11521553/55768912-eb49d200-5aa8-11e9-84b2-a425c7a22f65.png)
got error like this, is it the same issue? are there some update of this issue, trying to install insomnia now

[2019-04-09 04:44] Raja-Simha commented on #5589
Hi @jifka , could you please check if this issue is still persistent. Thanks,

[2019-04-09 05:19] godfrzero commented on #5662
I noticed that in the collection you've posted, the markdown is embedded within an HTML table (not a markdown table). In general, markdown does not support parsing of markdown content within an HTML block in a markdown document context. Refer https://spec.commonmark.org/0.29/#html-blocks for details. #5346 was actually caused by double-parsing of the markdown in certain cases, which is what led to

[2019-04-09 05:52] ash007-postman commented on #5032
Unable to replicate the issue hence closing.

[2019-04-09 05:52] #5032 closed, assigned to numaanashraf

[2019-04-09 05:54] shreys7 commented on #4851
@danielvaughan
curl documentation states that
-v, --verbose
              Makes  curl  verbose  during the operation. Useful for debugging and seeing what's going on "under the hood". A line starting with '>' means "header data" sent by curl, '<' means "header data" received by curl that is hidden in normal cases, and a line starting with '*' means additional info provided by curl.

I used this fl

[2019-04-09 06:15] godfrzero commented on #6247
@RomanKoziolek A couple of questions:

1. Which workspace is this collection in?
2. Is this happening for other collections as well, or only for this one?
3. Are you configuring this monitor to use an environment as well?

[2019-04-09 06:19] ratpik commented on #5835
@tvvbbb - This has been fixed now. Do let us know if you have any suggestions for us.

[2019-04-09 06:19] #5835 closed, assigned to nobody

[2019-04-09 06:59] tvvbbb commented on #5835
No more suggestions. Thank you.

[2019-04-09 07:12] pareshsji commented on #723
Try checking this:

pm.test("Check JSON  Response body is empty", function() {
    var jsonData = JSON.parse(responseBody)
    pm.expect(jsonData.lenght).to.eql(undefined)
})

[2019-04-09 07:19] sujayvenaik commented on #5775
@meetDeveloper Can you still reproduce this on the latest version? As far as I remember this was the case where the change handler from the underlying AceEditor was not getting called but closing and opening it again seemed to have fixed it for you.

[2019-04-09 07:24] sankalp0o commented on #6168
@ryanshores We recently pushed out a release which should correct this behaviour. All members of a workspace in which the monitor exists should receive summary mailers for that monitor. If someone isn't receiving, I'd check if they
1. Are part of the specific workspace
2. Have set their notification preferences to get daily and/or weekly summary mailers.

Could you confirm that this works and solv

[2019-04-09 07:36] kszafran commented on #5662
That's because I construct nested tables. I don't think it's possible with markdown itself.

[2019-04-09 08:07] cenxun commented on #1180
Maybe we can temporarily introduce external js functions, or customize global functions.

[2019-04-09 08:23] ambasta opened #6252 "Native Wayland Support"
**Is your feature request related to a problem? Please describe.**
Postman fails to launch in pure wayland environment. Currently postman can be launched via X running on wayland via Xwayland, but native support is missing.  Launching postman in a wayland native environment complains of missing libgtk-x11-2.0.so.0

**Describe the solution you'd like**
Implement native wayland support for postman

[2019-04-09 08:31] VicKetchup commented on #5529
@godfrzero we have recently added a lot more monitors and now the collections are timing out again. Looking at the logs it's not the response times, so I'd like to take you up on that call offer to try to get to the bottom of it.

[2019-04-09 09:04] litvancom commented on #3822
+1

[2019-04-09 09:05] sujayvenaik commented on #4550
Hey @darkladder @realjay007 @VDI-Tech-Guy @mrsamirmh
Can you update to the latest app v7 and check if this issue still persists?
If yes, could you share a screen recording with us so we could debug it better at our end?

This is my original req
![image](https://user-images.githubusercontent.com/11532114/55787571-31685b00-5ad4-11e9-97cd-0d55425f7e25.png)

Example:
![image](https://user-images.githu

[2019-04-09 09:19] harryi3t commented on #6163
@cyrielle-hada Are you still facing the issue on the latest version of Postman?

[2019-04-09 09:32] ritwijsinha commented on #6039
@hjornevik

I am unable to reproduce this bug. Can you share the collection where you're able to reproduce it? Kindly mask sensitive information, if any.

[2019-04-09 09:42] justjess678 opened #6253 "DELETE requests behaving like GET requests"
## App Details:
[code]

## Issue Report:
 1. Did you encounter this recently, or has this bug always been there:
I believe this bug has always been there, certainly on my current version

 2. Expected behaviour:
When sending a `DELETE` request to my site, Postman behaves as if it was a `GET` request, and does not delete the item

 3. Console logs:
[code]
Also note my test failure:
`Status code is

[2019-04-09 10:05] godfrzero commented on #5529
Alright, could you let me know what your availability is via email at help@getpostman.com? Please mention the GH ticket number.

[2019-04-09 10:06] codenirvana commented on #5250
Duplicate of #5215

[2019-04-09 10:06] #5250 closed, assigned to nobody

[2019-04-09 10:21] godfrzero commented on #5662
Yeah, nested tables aren't possible in markdown AFAIK either. With the markdown standard though, the only way that I can see to achieve what you're trying to achieve is to use HTML only within the table context.

[2019-04-09 11:18] m3dbedb opened #6254 "Postman does not catch empty array error"
**Bug description**
I need to find data from array, if there is something in file, **catch** works. If there are no data, catch does not work

**To Reproduce**
Steps to reproduce the behavior:

[code]

`See error` if response is empty:

[code]

**Expected behavior**
I expect **catch** to catch empty array either

**App information (please complete the following information):**
 - App Type: Native

[2019-04-09 11:26] m3dbedb commented on #6254
I need a time-out to check the issue again

[2019-04-09 11:26] #6254 closed, assigned to nobody

[2019-04-09 11:37] JochemKlingeler commented on #5853
I also experience this problem, but instead of manually replacing the quotes you can also simply copy the POST body using the context menu in the developer tools.

I would also like to see a fix.

[2019-04-09 11:43] NarmadhaKumar commented on #2490
how to send a array of multipart file to json, My api uploads a folder and the service has "Multipart[] files" as parameter in my rest api. Please help me with this

[2019-04-09 12:54] sujayvenaik commented on #6239
Hey @VaporFan
We have fixed this in the latest canary version 7.1.0-canary02 and would be pushing out to the stable release later this week.

[2019-04-09 12:56] nochecksum commented on #5704
I had misconfigured strict transport HTTP headers in my response which caused the "Error: Parse Error" in Postman. I had to use third party tools to debug this though, I sure would love plaintext request/response output with this error in the console to help me.

Additionally the user friendly message says "There was an error connecting to..." which suggested to me a network or DNS problem at firs

[2019-04-09 13:37] grg-akshay commented on #4375
@vladah We tried reproducing the issue and we were not able to reproduce the issue.
Can you please update to latest version of postman app v7.
After updating if the issue still exists, can you please provide screenshot of devtools (View -> Developer -> Show Devtools(current view))
Can you please provide logs (View -> Developer -> View logs in Explorer)

[2019-04-09 13:40] ozahorulia opened #6255 "Disable alt+shift shortcut"
I'm using Linux Mint 19.1 and Postman 7.0.7.
I have a system-wide shortcut for changing keyboard layot (alt+shift). All other software works fine wwith that. But when I'm trying to change layout while in postman, it selects "file" from the top bar menu. Is it possible to disable this shortcut? I don't find it tn the settings -> shortcuts menu.

[2019-04-09 14:13] WendallHersh commented on #3312
following

[2019-04-09 14:23] m3dbedb opened #6257 "Postman shows wrong request details"
**bug description**
I have a collection with several requests. I execute a collection step by step using keyboard keys "down" and "ctrl+enter". Since version 7.0.6 I have notised when I select 11-th request of collection Postman shows request body from previous request, and the issue have stable reproductivity

**To Reproduce**
Steps to reproduce the behavior:
1. Open collection with more than 10

[2019-04-09 14:59] WolfspiritM commented on #3825
We need this aswell...any news?

[2019-04-09 15:04] DarrylGwinnett opened #6258 "Feature Request: Export results in Junit format"
I'm aware that Newman can do this, but having to export our tests and run them in Newman really doesn't fit our workflow.

When A collection is run and we can export results,provide the user with the choice of either exporting it in JSON, or in Junit XML, this will allow us to import our results to update tests in Jira.

[2019-04-09 15:09] zinov commented on #5819
I just updated to the version 7.0.7 and still having this issue

[2019-04-09 15:26] balaramdev opened #6259 "Postman bootcamp issue with "Import""
## App Details:

Postman for Windows
Version 7.0.7
win32 10.0.16299 / x64

## Issue Report:
 1. Did you encounter this recently, or has this bug always been there: Yes
 2. Expected behaviour: Issue is in the Bootcamp section of Postman.  Started the first lesson on "Design an API" which instructs you to "Import" a collection.  Upon clicking the "Import" button, the pop-up window vanishes and there

[2019-04-09 16:57] dbasargin commented on #4092
I tested this in the latest Canary Version. This is working nicely for me. Thank you for update. Does 7.1 have a target release date?

[2019-04-09 17:46] chuckwade commented on #4239
I had a similar issue with Windows 10 and Postman 7.0.7.  The app would never open.  I deleted everything from C:\Users{user name}\AppData\Roaming\Postman and C:\Users{user name}\AppData\Local\Postman

Then I ran the 64-bit installer again (run as administrator) and it is now working.

[2019-04-09 19:25] DustinHendrickson commented on #3641
Would love to see this feature, would save me like an hour of manually dredging through tons of file setting options.

[2019-04-09 22:17] sujayvenaik commented on #6257
Hey @m3dbedb
Wanted to confirm one thing, when you select one request and press send, then the next request should open in a new tab. Is it happening so?

Also, are you doing rapidly, as in press down send and then again?

[2019-04-09 23:19] shamasis commented on #6253
Just sent a request from my app to https://postman-echo.com/delete (https://docs.postman-echo.com/#1f0fad16-6bff-5130-2056-7f4af6b18912) and it works fine.

I can think of only one scenario where a request method can change and that’s when server issues a 3XX redirection. Maybe you could go to settings, turn off the feature to follow redirects, and see if that’s the case? If that’s not the case th

[2019-04-10 00:21] abhijitkane opened #6260 "Team members without the billing role on the team can't do anything on the web dashboard"
There's a User U1 (part of team T1) who only has the billing role on the team. When U1 tries to    open the web dashboard, every page (workspaces, billing overview) show a 'Something went wrong' message.

On closer inspection of the websocket communication, it appears that there's a WS call to `/api/workspace/bootstrap` that's being made on every page, and that returns a 403 (since U1 doesn't have

[2019-04-10 00:22] abhijitkane commented on #6260
WS console screenshot:

<img width="923" alt="Screen Shot 2019-04-09 at 17 13 20" src="https://user-images.githubusercontent.com/681190/55843242-17d30d80-5aec-11e9-9318-d3909fd4b0bd.png">

[2019-04-10 00:55] ziabytes commented on #1475
Oh man cant wait

[2019-04-10 02:29] shamasis commented on #3367
I was going through older issues and noticed this. The discussion on the issue was around MFA on API calls. I see that we are disambiguating the original submission. The question was, are we discussing MFA on a website or on an API.

MFA on a website is an end-to-end feature and as such is not something that can be built as a feature within Postman. MFA on APIs is something that we are seeing gett

[2019-04-10 02:29] #3367 closed, assigned to shamasis

[2019-04-10 02:43] codenirvana commented on #2187
~Duplicate of #3312~

Originally posted at https://github.com/koajs/koa/issues/777

[2019-04-10 02:43] #2187 closed, assigned to abhijitkane, numaanashraf

[2019-04-10 06:17] meetDeveloper commented on #5775
@sujayvenaik I was not able to reproduce it in that version also, don't know how it happened at that time.

[2019-04-10 07:41] justjess678 commented on #6253
@shamasis I tried turning off the redirect, the only difference was that the device was not listed on the `DELETE` request, but was still not actually deleted. I will ask my colleagues if they can provide a public endpoint for you to try

[2019-04-10 07:52] taqvi commented on #2559
I solved this by just **Deleting all Cookies**. Same happens whether it is Postman or Insomnia. In Postman cookies are at top right corner below Send button and in Insomnia Cookies are in top left tab after Environment drop down. With this solution I'm up and running.

[2019-04-10 08:02] lineshr opened #6261 "Not able to run publish url from newman"
/mnt/c/postman-newman$ newman run https://***************** -r html
**error: Unexpected token '<' at 1:1
<!DOCTYPE html>
^**

not able to get any further errors or logs.
I have tried the same URL and open it in postman. I can execute via postman app but it's not working with Newman.

[2019-04-10 08:21] taqvi commented on #4374
Hi, I solved this by just Deleting all Cookies. Same happens whether it is Postman or Insomnia. In Postman cookies are at top right corner below Send button and in Insomnia Cookies are in top left tab after Environment drop down. With this solution I'm up and running.

[2019-04-10 09:34] Tvde1 commented on #6255
I am using v7.0.7 and alt + shift does not do anything.

[2019-04-10 09:57] justjess678 commented on #6253
@shamasis ok so if you want to test it on our case:
create a workspace here: http://dev.iot-rocket.space and create a workspace and account.
Once you're in your workspace, click the "populate" button (bottom left) then go to the alerts section (left sidebar, bell icon). From here you can experiment with creating and deleting alerts: use the access token from here to run the tests in Postman

[2019-04-10 10:06] only-gale commented on #1104
What about `Content-ID` for each part?

[2019-04-10 10:08] ritwijsinha opened #6262 "Active theme indicator does not change for other Postman windows"
**Describe the bug**
Active theme indicator does not change for other Postman windows upon changing the theme.

**To Reproduce**
Steps to reproduce the behavior:
1. Open multiple Postman windows.
2. Change the theme in one of them.

**Expected behavior**
All the windows should indicate the correct active theme.

**Screenshots**

![image](https://user-images.githubusercontent.com/19693841/55870542-

[2019-04-10 10:40] cyrielle-hada commented on #6247
@godfrzero @preethammavin Roman's issue seems to be fixed after recreating the collection that has been initially removed.

[2019-04-10 10:52] prashantagarwal commented on #6259
@balaramdev Are you facing this issue with other lessons as well?

[2019-04-10 11:06] prashantagarwal commented on #6259
@balaramdev Also if possible can you send a screen recording of this. It will help us in debugging the bug faster.

[2019-04-10 11:29] Ramya-From-Postman opened #6263 "Cannot share collections"
**Describe the bug**
When trying to "Share a collection" it is throwing an error "**You do not have permission to share this collection**" This happens with existing collections and with newly created ones. I can neither do this with my own personal workspace nor in the team workspace.

**Steps to reproduce the behavior:**
1. Go to any workspace (personal or team)
2. Click on 3dots (...) next to a

[2019-04-10 11:42] codenirvana commented on #6021
@masterchop You don't have to manually set the cookie.
If `Set-Cookie` response header is set correctly, the cookie will be added automatically.

[2019-04-10 11:46] balaramdev commented on #6259
@prashantagarwal  - thanks for the response.

Didn't test other lessons but will do that and let you know.  I will also try sending a screen recording shortly.

[2019-04-10 12:30] Diaidis commented on #5814
We are experiencing exactly this issue with Postman v7.0.7 when working with different workspaces.

Order changes when merging fork back to master. Newly added tests don't keep their order but end up at the end of the folder.

[2019-04-10 13:55] Jeromearsene commented on #1066
+1

[2019-04-10 14:12] preethammavin commented on #5814
Hi @Diaidis ,
Can you write to us help@getpostman.com and mention the github issue in the same, lets get this sorted out
Reopeing the thread till we can confirm the issue.

[2019-04-10 14:38] neoscrib commented on #1104
Well you didn't specify a use case, but Content-Id is really only useful for email (see https://tools.ietf.org/html/rfc2392). Otherwise you're doing something largely non-standard. Either way, good luck getting Content-Id... It took four years just for Content-Type.

[2019-04-10 14:39] u-rang commented on #1667
Please implement this asap +1

[2019-04-10 14:40] u-rang commented on #1667
+1

[2019-04-10 15:57] labifrancis opened #6264 "Show the number/names of collections that have not been synced to users before the sign out."
**Describe the bug**
A user who has collections saved locally loses the collections when the create an account and sign in and out for the first time.

When such users try to sign out, they get a notification that they have unsaved changes (collections saved locally when they didn't have an account) and it will be lost if they do not create a backup but most users do not know the message is making

[2019-04-10 15:59] godfrzero opened #6265 "Enable a severity-based filter on monitor run console logs"
**Is your feature request related to a problem? Please describe.**
When an error is logged during a monitor run and the underlying collection is large or complex, it becomes difficult to track down the error message due to the sheer number of lines logged.

**Describe the solution you'd like**
Add a filter which would allow me to view only logs of a certain severity. By default, all levels can be

[2019-04-10 16:15] godfrzero opened #6266 "Allocate monitor runs based on performance characteristics"
**Is your feature request related to a problem? Please describe.**
A collection executing during a monitor run can exhibit various performance characteristics:

* High Memory / Low CPU
* High CPU / Low Memory
* High Network / Low Memory
* And so on...

This can lead to problems where a CPU intensive run executing on a host with limited CPU performs poorly. In other cases, the run will be allocated

[2019-04-10 16:52] BrandonGordon126 opened #6267 "Update microcopy (and possibly the icon) on top menu bar"
**Describe the bug**

The tooltip for the "heart" icon on the top menu bar says "Tweet about us," though when you click the icon it takes you to the Medium Engineering blog

**To Reproduce**
Open the app,
Hover over the heart icon on the top menu bar
Click the heart icon

**Expected behavior**
I would expect this to take me to twitter or allow me to post over social media

**Screenshots**
If appli

[2019-04-10 17:11] jshanman commented on #3312
following.

Need to be able to
1. override sent cookies in pre-request after all hard coded headers are set, variables replaced, and cookie manager cookies added.
2. set or clear all cookie values (including ones just added via Set-Cookie response from the server) in post-request test that affects the cookie manager cookies for subsequent requests/tests in different requests to the same domain.

[2019-04-10 18:54] JustinLavertu-iQ opened #6268 "Sidebar does not allow mouse wheel scrolling while holding a sidebar object"
When dragging/holding a request in the mouse cursor in the Sidebar, you are unable to use the mouse wheel to scroll. The only way to scroll the frame while holding an object is to hold the object percisly between the top or bottom 2 items within the visible frame.

**Solution**
Allow the mouse-wheel to scroll the sidebar while an item is being held. The mouse wheel should have the same functionali

[2019-04-10 19:01] JustinLavertu-iQ commented on #6040
Multi select would also solve this. Allow us to select multiple requests from the Sidebar and drag and drop them.

[2019-04-10 19:07] JP-from-Postman opened #6269 "Allow deleted environments, globals, to be restored"
**Is your feature request related to a problem? Please describe.**
While Collections can be restored from trash and activity feed, environments and globals are not recoverable once deleted. This is especially problematic for shared environments that may be used in multiple workspace by different team members. Environments also do not have their own permissions (as Collections do), which may increa

[2019-04-10 19:25] JustinLavertu-iQ commented on #4253
Sorting would be great but the first thing that needs to happen is being able to reorder collections. There is no way to reorder collections in the Sidebar at all.

[2019-04-10 20:13] JPhillipBrooks commented on #5611
For my co-worker and I, it used to happen every few minutes. We've upgraded to v7.0.7 an so far I've only seen it happen a couple times over the course of several days. Windows 10 x64.

[2019-04-10 20:27] supereman16 opened #6270 "Import and Conversion Results in Folders with no name"
**Describe the bug**
When I import my openapi spec sheet, I end up with some folders in my collection with no name. For instance, inside the `user` folder, I will have a few folders that should be there, and then a blank folder with a couple of the operations that should be just under the `user` folder. Here is a picture for reference.

![no name directory](https://user-images.githubusercontent.co

[2019-04-10 20:54] qmcree commented on #5611
@sujayvenaik We haven’t had any issues since upgrading to Postman v7. Thanks!

[2019-04-10 22:38] zany2dmax opened #6271 "My collections have all disappeared!"
## App Details:

6.7.4 for Mac

## Issue Report:
 1. Did you encounter this recently, or has this bug always been there: All my collections have disappeared!  They used to be on the left of my screen and now they are gone and I can't see how to get that back.  I can go over to my Collecitons witht he Build/Browse and it will open a web page on them but not let me pick anf choose the APIs i need

W

[2019-04-10 22:49] Vivalldi opened #6272 "Echo "Learn More" link echos a blank file for download"
**Describe the bug**
When on https://www.getpostman.com/integrations/ clicking the `Learn More` button in the Echo section (under integrations) the browser downloads a file with the following content -
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://www.getpostman.com/integrations/'
2. Scroll down to 'Postman Tools'
3. Click on `Learn More` under 'Postman Tools - Echo'

[2019-04-11 00:12] matt-gribben commented on #2369
This is still an issue for me on Windows 10 & v7.0.7

[2019-04-11 02:06] developher-net opened #6273 "Accidentally copy/pasting a large payload into URL field causes app to hang"
**Describe the bug**
Postman on OSX maxes out the CPU and hangs if you inadvertently copy/paste a large string into the URL field.

**To Reproduce**
Steps to reproduce the behavior:
1. Copy a large JSON object from a text file (thousands of lines)
2. Paste into the URL field
3. App hangs and processor ramps up to 100%

**Expected behavior**
Postman displays an error or warning

**Screenshots**
If

[2019-04-11 03:45] preethammavin commented on #6271
@zany2dmax do you see all your collections in the Web Dashboard Workspaces (go.postman.co/workspaces)?

Also the image shared by you was a personal image, I have gone ahead and removed it for security purposes.

[2019-04-11 03:57] shamasis commented on #6253
@justjess678 ok. Before I do that, I need more information from your end to validate a few stuff. Can you make a DELETE call from your postman app to https://postman-echo.com/delete and tell me what’s the response you’re getting?

[2019-04-11 04:06] shamasis commented on #6261
Very likely the url you are providing is returning an HTML and not a collection JSON. The error indicates the same. Can you call the url from Postman itself and check if you’re getting a collection JSON response?

[2019-04-11 04:11] shamasis commented on #6252
Our views on this is reflected at: https://github.com/electron/electron/issues/9056

We will update to latest Electron soon and hopefully this would get addressed.

[2019-04-11 04:28] crummy commented on #6244
Logs have been submitted, but in the mean time, the issue seems to have disappeared. Simultaneously, a few collections from years ago when I last used Postman appeared, as if my account just synced after a long delay.

[2019-04-11 04:44] numaanashraf commented on #5463
Duplicate of #5074

[2019-04-11 04:44] #5463 closed, assigned to nobody

[2019-04-11 04:45] numaanashraf commented on #6212
Issue seems to be caused due to sync being disabled due to payment issues.

[2019-04-11 04:45] #6212 closed, assigned to nobody

[2019-04-11 04:53] numaanashraf commented on #5025
Duplicate of #2096

[2019-04-11 04:53] #5025 closed, assigned to vkaegis

[2019-04-11 04:53] numaanashraf commented on #6255
Duplicate of #2096

[2019-04-11 04:53] #6255 closed, assigned to nobody

[2019-04-11 04:53] Andrewsuares commented on #5997
You need to keep this issue open. The problem persists. Postman does consume tonnes of memory regardless of the setting listed above.

[2019-04-11 04:56] numaanashraf commented on #5997
@Andrewsuares Is Postman still taking over 10 mins to launch when this workaround is applied?

[2019-04-11 04:57] numaanashraf commented on #5997
I see that we are already tracking the memory consumption issue at #6015

[2019-04-11 04:59] Andrewsuares commented on #5997
No. That is not a problem anymore. The memory consumption is.

Thanks!

On Thu, Apr 11, 2019 at 10:26 AM Numaan Ashraf <notifications@github.com>
wrote:

--

Best Regards,
Andrew Suares

[2019-04-11 05:41] shreys7 commented on #2675
Hey @bripkens This seems to be a problem with the underlying library which we used to generate code snippets.This bug has been fixed in the documenter view of collection. If you are signed in to postman, can you open the documenter view of your collection to verify if this is solved ?
Steps:
1. Save your above request in a collection
2. Open the arrow button menu that appears besides the collectio

[2019-04-11 05:44] Vladinho10 opened #6274 "there is no change feature for shortcuts"
I use Postman 7.0.7
Please add feature ! It's too necessary shortcut edit-ability .
![postman](https://user-images.githubusercontent.com/33626746/55933527-a8216780-5c3e-11e9-8d29-7a95e7d3b173.png)

[2019-04-11 06:13] bripkens commented on #2675
Yes, seems to work fine now. Thank you!

[2019-04-11 06:13] #2675 closed, assigned to dhineshwiz, Raja-Simha

[2019-04-11 06:17] kamalaknn commented on #6271
hey @zany2dmax

Can you share your current app version you are on, you can find it on `Settings -> About`?

Can you send any screenshots from `View -> Developer -> Show DevTools(Shared)` and `View -> Developer -> Show DevTools (Current View)`?

Also to unblock yourself, you can try signing out and and signing in again. Please export/backup any unsycned changes before you signout.

[2019-04-11 07:37] camohub commented on #6205
Still no solution. Any suggestions?

[2019-04-11 07:47] raghav19 opened #6275 "Run tests in newman and runner using same data file"
**Is your feature request related to a problem? Please describe.**
I have written test scripts in postman for automation which i want to use it with multiple data sets for which runner gives me the capability to use the data file like a json or csv.
However now that i use the data from the json file, i have many cases where  i need to run only certain requests in my worflow manually through the co

[2019-04-11 07:57] m3dbedb commented on #6257
The error happens on a new tab (when I jump between tabs, postman duplicates previous tab and replace it contents, sometimes some data remain same as on parent tab). I execute one step with ctrl+enter, wait for reply (not less than a second), hit down, and wait postman to render new tab (again i takes of about 1-2 seconds). To run 10 steps it takes of about 30 seconds. Usually the bug happens afte

[2019-04-11 08:17] VicKetchup commented on #6266
@godfrzero I'd like to confirm that all the monitors have completed their runs today with the temporary fix in place :)

[2019-04-11 08:35] Ponant commented on #3688
http://faß.de will lead postman to `Critical error: no domain selected! ` The Unicode right click feature does as bad job because it should punycode instead.

[2019-04-11 08:42] godfrzero commented on #6266
Awesome. I'm leaving things they way they are now and I'll think about getting this out as a mainstream behavior. If you notice any deterioration in performance down the line, please let me know.

[2019-04-11 09:36] Mouradif commented on #285
Thanks !
It would be great if Postman adds this feature though. I'll be using Insomnia in the meantime

[2019-04-11 09:52] iaubain commented on #1499
I am on PostMan 7.0.7, but this feature of moving top level collection into another top level collection(folder) is still missing and personally I have a lot of collections that I would want to group into one.
Kindly add this feature

[2019-04-11 10:55] harryi3t commented on #6244
@crummy Sorry, I had forgotten to update the thread.
We had found an internal glitch with your account (Your workspace wasn't synced properly) due to which this was happening and had fixed it on Tuesday. As you have mentioned this is fixed for you, I will be closing this ticket.

[2019-04-11 10:55] #6244 closed, assigned to nobody

[2019-04-11 11:19] Raja-Simha commented on #5662
@kszafran We are closing this issue as the reported behavior is not a bug as explained by @godfrzero .

[2019-04-11 11:19] #5662 closed, assigned to dhineshwiz, Raja-Simha

[2019-04-11 11:22] yeaserkhan commented on #6169
Hi @sujayvenaik - I am so so sorry for the delayed response. I have been super duper busy with some prod issues. Anyways, this issue seems to have resolved after following these steps:

1) Sign out from the native app
2) Then click add tab button (tab opens after signing out)
3) Then re-sign in

I don't know the root cause but this worked out for me. Thank you for your response @sujayvenaik.

Sinc

[2019-04-11 11:22] #6169 closed, assigned to nobody

[2019-04-11 11:31] vcraescu commented on #1744
+1

[2019-04-11 11:33] stephclleung opened #6276 "Incorrect syntax with pm.environment.set() causes bug in environment variable list"
**Describe the bug**
A clear and concise description of what the bug is.
`pm.environment.set("envVarName", "newvalue")` sets a new value to the corresponding envVarName. During one of my requests, I was writing a test where I made the mistake of `pm.environment.set("envVarName" === "newvalue") `instead of the comma. The compiler does not pick up the syntax error, and instead inserts a new variable

[2019-04-11 11:41] ghost commented on #2799
The obvious solution is to create nag issues in this repo until the issue is resolved.

[2019-04-11 11:45] justjess678 commented on #6253
Sure thing, I get this output:
[code]
and in the console I have:
[code]
Does this help?

[2019-04-11 11:56] jakobe commented on #6035
Same here with Postman 7.0.7

[2019-04-11 12:37] sujitblues commented on #6133
Hello @sujayvenaik
Please see below json example where we can't able to beautify .

-----------------
Example 1
-----------
{
"token": "{{token}}",
  "username":{{groupid}},
"menu_timestamp": "{{menu_timestamp}}",
            "profile_timestamp": "{{profile_timestamp}}",
            "device_type":"{{device_type}}"
}
---------------------------------------------------------------------------
Exampl

[2019-04-11 12:41] loris commented on #5914
This is something really missing in Postman to properly document an API.
APIs accepting JSON body are very common and there are currently no way to document them right now (at least a `description` field, but being able to set a default value, and a required boolean would be even better).
What's weird is that the feature is already available if sending `x-www-form-urlencoded` or `form-data` bodies

[2019-04-11 12:47] loris commented on #3117
+1 this is currently blocking our enterprise from moving their api documentations to Postman

[2019-04-11 13:18] wspencer commented on #5611
I'm still experiencing this problem. Windows 10.  Postman 6.7.4, and it tells me this is the latest version.  What gives?  How do I get v7?