[2021-03-01 01:37] rubydr commented on #9670
Yes, we do have corporate device management software installed. Let me contact our IT/Security depart, and see whether the issue can be solved.

[2021-03-01 02:39] postman-support commented on #9670
Hi @rubydr,

Thanks for getting back and confirming that you have a device management software installed.

Please let us know if the issue is persisting even after checking with your IT department.
We will then consult with our internal team to investigate further.

via @taehoshino | Postman Support

[2021-03-01 04:34] cateyes99 commented on #9608
It takes me hours and still failed to figure out how to export environments, until i saw this ticket and read the words `there is an export option within the environment tab (almost hidden)` here, then found where the export option is. Especially [the document](https://learning.postman.com/docs/getting-started/importing-and-exporting-data/#exporting-environments) is still out of date & hasn't been

[2021-03-01 04:48] cateyes99 commented on #982
Keen to see this to be implemented.

[2021-03-01 04:52] Marchccc opened #9673 "support Chinese langeuge"
If the workload is heavy, it is suggested to set up a language warehouse to let all people participate in the translation

[2021-03-01 06:21] dz902 commented on #1066
+1 definitely needed

[2021-03-01 08:40] hiradhu commented on #8911
Hi @DannyDainton ,
Certainly I can explain.    I have a req in the application type - x-www-urlencoded. In Postman without setting any specific header, the Hidden Header has the correct Content-Type set. But when the collection is exported, the default content-type is not exported. Its how it is in collection version 2.0 and 2.1 too. Even though the content-type is set by default headers, I need t

[2021-03-01 08:54] m3dbedb commented on #9492
Also I have noticed weird behaviour of tabs. Yesterday I closed Postman. Today I Have opened it and became closing tabs. After selecting some tab it opened empty and blinking.
![blinking_tab](https://user-images.githubusercontent.com/25632818/109473766-cdaef880-7a84-11eb-9260-7dd11eef0a3d.JPG)

[2021-03-01 09:57] ZekLouis commented on #9628
Hey @DannyDainton,

Any news on this ?

[2021-03-01 10:36] DannyDainton commented on #9673
Hey @Marchccc

This request is currently being tracked here https://github.com/postmanlabs/postman-app-support/issues/3126

Closing this one to keep the information centralised. Please do leave a comment against that thread. 🏆

[2021-03-01 10:36] #9673 closed, assigned to nobody

[2021-03-01 11:48] kasumiru commented on #7895
the bug is stiil here in chrome Version 88.0.4324.190 (Official Build) (64-bit)

[2021-03-01 11:48] kasumiru commented on #7983
the bug is stiil here in chrome Version 88.0.4324.190 (Official Build) (64-bit)

[2021-03-01 12:23] umeshp7 commented on #7983
Hey @kasumiru!
Are you using the Chrome App? We have actually deprecated the Chrome app version of Postman.
Although we have recently launched Postman on the Web - Here you can experience the latest Postman app with all the recent featurers directly on any web browser.

You can download the latest version of the native Postman apps or try out the Web version here: https://www.postman.com/downloads

[2021-03-01 12:26] umeshp7 commented on #7983
Hey @JaswantBB, I tried this on the latest version and I couldn't reproduce this. Could you share your Postman App version?

[2021-03-01 12:34] iekadou commented on #2701
@shamasis Any news on this?

[2021-03-01 13:17] vivekpatel111 commented on #6750
There is a mention of this issue in recent [video](https://youtu.be/_w_idf928WY?t=1071) of [Google Cloud Tech](https://www.youtube.com/channel/UCJS9pqu9BzkAMNTmzNMNhvg) official Youtube channel.

Now you should definitely considering solving this issue ASAP because as the views will increase more people will know about this issue #peace ✌🏼 🕊️ .

[2021-03-01 14:20] marcelonp commented on #6712
Hey, I'm still having problems with auto-completion:
![image](https://user-images.githubusercontent.com/28743936/109509037-3eebad00-7a7f-11eb-9e28-368fd7d48644.png)
If I mouse over the alert it says: "Incorrect Schema, Autocomplete options to related schema will not work".

I imported a JSON schema for this on v8.0.6.
How can I make the schema valid? Is there an specification for the accepted JSON

[2021-03-01 17:19] CTACyok opened #9674 "Problem with "Alt+Shift" key combination in electron apps"
On many Linux platforms "Alt+Shift" key combination is used to switch between multiple input languages, but in electron "Alt" key always forces focus from input field to app menu strip, stopping text input until focus is shifted back manually.
It does not break any functionality, but it's really annoying

It's a known electron issue, it has been already discussed here https://github.com/electron/e

[2021-03-01 18:23] stcalica commented on #3117
Another user is requesting this feature

[2021-03-01 20:20] rufreakde opened #9675 "Postman Collection Runner - not clearing cookies during run"
**Describe the Issue**
using `jar.clear()` during a postman runner run will not clear the cookies.

So I have two folders and each of the folders has a request with a test section to delete all the cookies I use and check if they are really deleted in the test. (This code is tested and seems to work when run in postman but fails in a postman collection runner)

So when I run folder 1 in the runner

[2021-03-01 21:26] DannyDainton commented on #9675
Hey @rufreakde

As I wasn't able to see this in the information you shared, can you confirm that the domains have been whitelisted?

Could you share an image from the `Whitelist Domains` section?

Just want to rule that out before we investigate this from our side.

[2021-03-01 21:34] ps2goat commented on #9659
Issue #6: I can't see the full name of my collection because the sidebar has a limit to how wide it can be. I thought it was due to the scaling on my UI, but `CTRL + -` has no effect on how much I can see in the sidebar. The matter only gets worse when working with forks, as the branch name takes up a sizable chunk of screen space. I liked the old view better where the branch name was under the co

[2021-03-01 22:08] rufreakde commented on #9675
@DannyDainton Hi Danny yes, otherwise I would not be able to delete the cookies when the request is executed manually.

I also added * in the whitelist wich also seems to work now for all pages. Is this not intended behavior? If so will add all routes specifically in addition tomorrow just in case.

[2021-03-01 22:17] DannyDainton commented on #9675
Thanks for the response 🏆

I did remember an issue a while back where it didn't appear to work as this particular user didn't also add the protocol to the whitelisted domain value:

https://github.com/postmanlabs/postman-app-support/issues/7977#issuecomment-600052882

Not saying that's what's happening here but worth just confirming.

[2021-03-01 23:21] jolsen71 commented on #6291
I came here for this exact same request. It is also an issue when trying to find the right Postman window to share in meetings, since I have 3 different windows open at once in different workspaces because that is generally (with the exception of this specific issue) much easier than attempting to flip back and forth between workspaces, even when they're favorited. I'm disappointed that this task

[2021-03-01 23:47] postman-support commented on #9670
Hi @rubydr,

Thanks for getting back!

To troubleshoot further, can you log out from the Postman app and then log back in?

Also, can you tell me if you can access the Postman web (go.postman.co) without any issue?

via @taehoshino | Postman Support

[2021-03-02 00:20] rubydr commented on #9670
I have no problem to access go.postman.co, and login.
I am not even able to signout without saving my changes. It is just hanging there.
![image](https://user-images.githubusercontent.com/79767843/109577005-d9b9ab00-7ac2-11eb-81c7-06c340223ae0.png)

I backup my data from setting, and will try to uninstall the postman, then directly install the latest version.

[2021-03-02 00:47] postman-support commented on #9670
Hi @rubydr,

That's awesome! I am so glad to hear that the issue is now resolved 🎉​

Thanks so much for sharing those steps to troubleshoot this issue - this information will be very helpful to other users who experience the same issue too!

Thanks again for reaching out. Please feel free to reach out to us if you have any other questions 🚀​

via @taehoshino | Postman Support

[2021-03-02 04:00] umeshp7 commented on #7895
Hey @kasumiru!
Are you using the Chrome App? We have actually deprecated the Chrome app version of Postman.
Although we have recently launched Postman on the Web - Here you can experience the latest Postman app with all the recent features directly on any web browser.

You can download the latest version of the native Postman apps or try out the Web version here: https://www.postman.com/downloads

[2021-03-02 06:24] giridharvc7 commented on #6067
Does this fix your problem?
![image](https://user-images.githubusercontent.com/1040583/109607324-15e61d80-7b4e-11eb-89ae-dca2c2134e76.png)

[2021-03-02 07:45] singhravi1 commented on #6067
Yup, checked on the latest postman version and intended feature is there.
Thanks a lot EVERYONE!

[2021-03-02 07:45] #6067 closed, assigned to shamasis, vkaegis

[2021-03-02 07:49] rufreakde commented on #9675
@DannyDainton I removed my wildcard * and added all domains specifically.
I rechecked manually if the cookies are deleted with the requests and it still works.

Again running in Collection Runner results in the same issue. Not clearing the Cookies correctly.

The strange thing is that the actual Clear Request Test for succeeds.
<img width="1022" alt="Screenshot 2021-03-02 at 08 16 32" src="https:/

[2021-03-02 08:06] giridharvc7 commented on #6696
Environments can now be opened in a fullscreen view. Please let us know if this solves your issue.

[2021-03-02 08:32] m3dbedb commented on #4218
It would be great to be able to proceed to next request if no reply on previous.

[2021-03-02 08:52] m3dbedb commented on #4341
Also wanted runner mode "halt on errors".

[2021-03-02 08:56] rufreakde commented on #9675
For anyone else also encountering this issue I found a workaround:
Instead of clearing all the jars in one request I just created a request for each jar (it is tiresome to execute but well I use a runner for it)
<img width="287" alt="Screenshot 2021-03-02 at 09 53 34" src="https://user-images.githubusercontent.com/28104368/109623409-699c3b00-7b3d-11eb-858d-164b30283596.png">
So now I have a folder

[2021-03-02 08:59] m3dbedb commented on #3360
I would add my 5 cents for option "halt on errors".

[2021-03-02 09:58] appurva21 commented on #9628
Hey @ZekLouis !

This is what I tried and it worked fine for me:
- Sent a Request to `domain.com`, which responds with `Set-Cookie: foo=bar; Path=/; Domain=domain`
- Logged the cookie in Tests script of the request using `postman.getResponseCookie('foo')`

Could you please share some more details about the Request that you are making or the `Set-Cookie` header's value, which might help us in repro

[2021-03-02 10:05] tester-xm commented on #6926
I need it so very much!

[2021-03-02 10:07] appurva21 commented on #9629
Hey @SebastianJust!

For us to scope down this issue could please share some more details about the exact workflow that is not working for you?

[2021-03-02 11:33] VShingala commented on #6538
@ambition-consulting Issue is fixed but not working for example that you gave due to a different issue, I have created issue that is happening [here](https://github.com/postmanlabs/openapi-to-postman/issues/338). We will add any progress on the same over that thread.

[2021-03-02 11:59] VShingala commented on #1470
@j-bjorne I am not sure what are you asking, so what you have defined is the Auth part of collection and what issue mention is generated collection from OAS specification.

Still, considering what you mentioned is the authorization object of collection, I was able to import it correctly. [Here](https://github.com/VShingala/api-schema/blob/master/apikey_auth_pm_collection.json#L370) is sample colle

[2021-03-02 11:59] #1470 closed, assigned to a85

[2021-03-02 13:13] ZekLouis commented on #9628
Hey !

Sure will try to explain what we are trying to achieve.

So we have an API on the sub domain "api.ourproject.com"
And we will have our frontend React app on "ourproject.com".

Our api is configured to have the session domain on ourproject.com
To log in, we call the xsrf-cookie endpoint to get the CSRF Token and pass it in the headers to log in.
We are not able to read the cookie returned by

[2021-03-02 15:29] postman-support commented on #9667
Hi @ccvermeulen,

Just following up here. Let me know if you have any follow up questions or concerns as we haven't heard back.

via @SabriH10 | Postman Support

[2021-03-02 17:01] abhinaba-ghosh commented on #9046
This is fixed in the latest version of Postman.

[2021-03-02 17:01] #9046 closed, assigned to nobody

[2021-03-02 17:09] ejoo commented on #4009
Let's make a team and start an open-source project

[2021-03-02 17:15] itsknk commented on #4009
Hey, you can use this [tool](https://altair.sirmuel.design/) for working with graphql subscriptions.

[2021-03-02 17:18] ntrp commented on #4968
Is this so complicated to implement? There are plenty of use cases..

[2021-03-02 18:06] SebastianJust commented on #9629
Hi @appurva21,
Yes. Thank you :)
I'm trying to get an access token from our identity provider. We're using oAuth 2.0 with cookies authentication. For example:
services.AddAuthentication("MyCookie")
    .AddCookie("MyCookie", options =>
    {
        options.ExpireTimeSpan = ...;
    });

These cookies are normally stored in your application, but not after updating to version 8.0.6. The cookies are

[2021-03-02 19:02] afefer commented on #4009
@shamasis @a85 @vkaegis @SamvelRaja any chance this can be revisited as part of Postman feature planning? It's been more than 3 years since this feature request was submitted - want to bring this back to your radar as there are ton of scenarios where this would be useful.

[2021-03-02 21:46] rtudtu commented on #9614
Agreed as well! Please have the option to hide it 😃

[2021-03-02 22:19] applebya-wgu commented on #1070
+1

[2021-03-02 22:19] wgu-jesse-stewart commented on #1070
+1

[2021-03-03 03:14] cybercrypt13 opened #9677 "Missing Arrow Beside Title"
**Describe the Issue**

**Steps to Reproduce**

**Screenshots or Videos**

**Environment Information**
All versions of OS and latest versions of the client software modules.  The website seems to have also lost access to this description field but I never used to have to use the website for anything so not sure if it was there before or not.

[2021-03-03 03:25] cybercrypt13 opened #9678 "Missing the Publish menu when right clicking a Collection event or clicking 3 dots"
**Describe the Issue**

**Steps to Reproduce**

**Screenshots or Videos**

**Environment Information**
All OS's and applications

**Additional Context**

[2021-03-03 03:31] vincentFzzf opened #9679 "Cannot select files at form-data dashborad"
I want to mock a api sending with a file, but I can't click the select-files button. And i try to navigate to Settings and Toggle on the option “Allow reading files outside working directory” , but it doesn't work. What should I do for this issue?

![image](https://user-images.githubusercontent.com/45304003/109748311-a0448500-7c13-11eb-9bb9-01c0ec15b697.png)

![image](https://user-images.githubuse

[2021-03-03 05:42] Zinnurka opened #9680 "Add an "Export" button for the environment"
Please add an "Export" button for the environment  (Postman Windows v8.0.6)

![image](https://user-images.githubusercontent.com/32505382/109758014-c4509800-7c0c-11eb-9f86-234c21790d15.png)

[2021-03-03 05:48] chetankhargone opened #9681 "Configure a data store on my owned server for Postman collection"
**Problem Statement**

With the **_Postman Free version_**, all the postman collections are stored on the Postman server. In the case of highly confidential (ex Banking domain in my case), this seems to be a security leak. Yes I know the Postman has encryption (In transit  + Rest)

Still being encrypted, I don't want to share/store collection to the Postman server in anyway.

**Current Solution**

[2021-03-03 06:04] prashantagarwal commented on #8291
We now have a workspace overview page for all your workspaces.

[2021-03-03 06:04] #8291 closed, assigned to prashantagarwal

[2021-03-03 06:05] arpitbatra123 commented on #9550
Hey @micka190 , We've pushed out a fix for this issue. Can you please try going through the lesson again and verify if it works for you?

[2021-03-03 06:33] DannyDainton commented on #9677
Hey @cybercrypt13

Without more information and an image of the app UI, it's going to be difficult to help here.

Could you update the details, please?

[2021-03-03 06:34] DannyDainton commented on #9678
Hey @cybercrypt13

Without more information and an image of the app UI, it's going to be difficult to help here.

Could you update the details, please?

[2021-03-03 06:36] DannyDainton commented on #9680
Closing as this is a duplicate of https://github.com/postmanlabs/postman-app-support/issues/9608

[2021-03-03 06:36] #9680 closed, assigned to nobody

[2021-03-03 07:05] shatk commented on #2761
we are using postman v8.0.6. is this feature in place ? If not strongly recommend this feature to be part of the product where we don't need to export the whole project api's to share few api's.

[2021-03-03 07:21] thomsch-vwif commented on #2801
+1
If the Postman fairy would offer me to satisfy a single wish, than this would be it :-)

[2021-03-03 07:37] Raja-Simha commented on #9678
@cybercrypt13 publish option is not available in the collection menu anymore (App version > 8.0 and the web)
- You could share your collection in a public workspace OR
- Create a public doc ( collection menu -> view documentation -> publish)

[2021-03-03 07:37] #9678 closed, assigned to nobody

[2021-03-03 07:54] Raja-Simha commented on #9677
@cybercrypt13 The collection browser is not available in the new UI ( App version >8.0 and web)
You can now edit descriptions for collections, folders, and requests from their respective tabs.

![image](https://user-images.githubusercontent.com/45988836/109772108-9f1b5400-7c23-11eb-916c-03b6f2c79f6a.png)

Please reopen if this does not answer your question.

[2021-03-03 07:54] #9677 closed, assigned to nobody

[2021-03-03 08:21] iSenninha commented on #4079
+1

[2021-03-03 09:57] m00ncr4wler commented on #2701
+1 any news?

[2021-03-03 10:04] douchen commented on #7350
still on `v8.0.6`

[2021-03-03 11:49] #9679 closed, assigned to nobody

[2021-03-03 12:24] Raja-Simha commented on #9552
@taehoshino and @Ephesoft-Stitus we are looking into this issue. I will get back to you with more updates.

[2021-03-03 12:25] Raja-Simha commented on #9524
@taehoshino we are working on a fix for this issue

[2021-03-03 12:46] 5i2 commented on #2701
+1

[2021-03-03 12:46] 5i2 commented on #3452
+1

[2021-03-03 12:57] dmitryrn commented on #8195
Same, I want the auto save behavior by default

[2021-03-03 13:31] GabrielBarberini commented on #4193
![5079gv](https://user-images.githubusercontent.com/27734997/109813014-8a32c680-7c0b-11eb-9ae0-4e598ac130f2.jpg)

[2021-03-03 14:59] jeselle commented on #9481
I fit this issue for myself, but I have absolutely no idea if my solution is reproducible. I think I tricked the desktop app around this error. My steps:
1. Quit and restart Postman app.
2. Observe the "Unable to load data as you're offline" page.
3. Use the settings/gear menu to switch over to the scratchpad.
4. Observe a warning blurb at the top of the scratchpad that you are offline, with a lin

[2021-03-03 18:16] micka190 commented on #9550
@arpitbatra123 I can confirm that this is working on the 8.0.6 version. Thanks!

[2021-03-03 18:16] #9550 closed, assigned to nobody

[2021-03-03 21:45] jolsen71 commented on #9641
Having the exact same issue hopping around endpoints trying to create/edit documentation. Being able to pin a specific sidebar tab open (be it documentation or comments) would be nice, but documentation is definitely a must-have.

Currently working around the lack of ability to have the right pane stay open until explicitly closed (or pinned) by editing documentation in the "view all documentation

[2021-03-03 21:50] toddalex opened #9682 "Sharing Certificates Across Workspaces"
**Is your feature request related to a problem? Please describe.**
My team is using mTLS certificates with our API and we would like to share the same certificates across a workspace instead of generating a new cert for each dev.  This would save us complicated configuration of certificates in each devs individual postman application as well as money, since each cert we generate costs us money.

*

[2021-03-03 23:08] postman-support commented on #9634
### Hi @RichFlickstein,

Our team is in the process of rolling out a fix to the native app v8.0.7.

In the meantime, can you try managing the roles from the web dashboard?

go.postman.co/me/environments

With Kind Regards,

Anthony S.

Status Page | Learning Center | Bugs + Feature Requests | Community

* * *

Product Support Business Hours: `Monday, 3:30 AM UTC - Friday, 11:30 PM UTC`

[2021-03-04 03:48] taehoshino opened #9683 "Example body of request becomes empty upon importing"
**Is your feature request related to a problem? Please describe.**
Importing a GraphQL request, Examples’s request body is stripped out for request methods 'GET', 'COPY', 'HEAD', 'PURGE', 'UNLOCK'.

**Describe the solution you'd like**
Allow body for these methods as well.

**Additional context**
This is already tracked internally and filed by Product Support for public tracking purpose.

[2021-03-04 03:49] taehoshino commented on #9683
@mohitranka

[2021-03-04 06:46] ambition-consulting commented on #6538
Okay, thank you. I'm looking forward to using the same data for testing and
Swagger execution. :-)

Vishal Shingala <notifications@github.com> schrieb am Di., 2. März 2021,
12:33:

[2021-03-04 06:58] jayudhandha commented on #2082
We are using latest version of postman v8.0.6 and we are getting file name as '0' as filename while saving it.

Thanks!

[2021-03-04 08:08] KarFan-FS commented on #4193
I would also like some good news on this! :)

[2021-03-04 08:55] kupridtz opened #9684 "New Integration Request - <product name>"
**Describe your current workflow**
How do you use Postman with the rest of the tools in your stack to achieve your use-case?

**Describe your ideal workflow**
How would you want Postman to integrate with specific products/tools to simplify or enhance your experience?

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've conside

[2021-03-04 08:56] kupridtz commented on #9684
https://schema.getpostman.com/json/collection/v2.1.0/collection.json

[2021-03-04 09:30] senthilvadivu123 opened #9686 "Back ground has dots"

[2021-03-04 09:39] codenirvana commented on #9628
@ZekLouis Thanks for the detailed explanation, I understood your use cases.

But I am still not able to reproduce this issue locally, can you please clarify the following doubts:
1. What's Referer here?
2. Can you share the complete `Set-Cookie` string e.g, `XSRF-TOKEN=<token>; Domain=...`?
3. Is this issue only with `postman.getResponseCookie` or, cookies are missing from the Cookie modal as well

[2021-03-04 10:12] borislt commented on #9481
Writing to help@postman.com doesn't help. No answer whatsoever.
Are there any plans to fix this version it all?

P.S. We use Postman team account in our business workflow. Being unable to receive support when the app doesn't connect to your servers and sync is not working - is a sign to think about turning away from Postman.

[2021-03-04 10:23] ZekLouis commented on #9628
Hey, thanks for you reply !

1. The referer is the header value we are passing as "Referer" for our framework.
So the request goes with the header `Referer: ourproject.com` our Authentication system need it

2. Yup sure, there you go `XSRF-TOKEN=eyJpdiI6Inl3czlwNjJpaDZFWXlvUk12bEFwb1E9PSIsInZhbHVlIjoiQTEzTWJIS1doMkZ5cEtZdzZmYUdYcW9lODRxekdMdEUyZVRERFVSeVBOL0YvWk53WGlML1lFeEtncFNNdEVUS25lZXNaZWZMZ3

[2021-03-04 10:45] jota0222 commented on #8195
I need this! (or at least a "save all" feature)

[2021-03-04 10:48] DannyDainton commented on #9481
Hey @borislt,

We're still investigating this issue and taking a look at all the logs that have been submitted to us.

Are you able to connect using [Postman for Web](http://go.postman.co/)? - This is by no means a solution and more of a temp measure until we can fix the issues in the native app.

We will add more information to this thread when we have more to share 🙏

[2021-03-04 10:54] codenirvana commented on #9628
It's possible that those are previously-stored cookies, you can verify this by clearing all the cookies for `ourproject.com` and sending the CSRF request again. Because, in the second screenshot you shared, I see no cookies in the `Cookies` tab.

Based on the cookie string you provided, I tried reproducing the issue locally but, no luck.
Once you verify that cookies for `http://api.ourproject.com/

[2021-03-04 11:12] fess932 commented on #8195
I switched to Insomnia because of this defect

[2021-03-04 11:35] borislt commented on #9481
Hey @DannyDainton,
Thanks for your reply.
Yes I currently use browser version with an agent as a workaround (not fun, but at least I can proceed with my work).
Hope the issue will be resolved soon.
Cheers.

[2021-03-04 12:22] Samreay commented on #7596
@shamasis - any movement on this?

[2021-03-04 13:31] devaldana commented on #6719
I had to switch to [Insomnia](https://insomnia.rest/) as it has incredible GraphQL schema introspection at the same time that offer documentation for the introspected schema. Probably you want to give it a try.

[2021-03-04 13:38] jeromemeichelbeck commented on #6719
That's actually what I did. Won't go back :)

[2021-03-04 14:06] johnny-longo-cko commented on #5713
What's the expected ETA on this please @a85 ? Looks like it's been in development for almost a year 😉

[2021-03-04 14:14] ankit-m commented on #9645
@DivyaMoryani apologies for the late response here. Would like to get some more information which will help use resolve this issue

1. ID of the source collection
2. ID of the forked collection
3. Video recording of the error

If you cannot upload these here, feel free to email it to us at help@postman.com

[2021-03-04 14:55] mohitranka commented on #9675
Hi @rufreakde ! This issue has been fixed in the latest [web version](web.postman.co). It will be available in the next major app version ( 8.0.7 ) when released, as well.

[2021-03-04 15:22] tamirs9876 commented on #7596
+1

[2021-03-04 15:32] postman-support commented on #9667
Hi @ccvermeulen,
I'll be closing this on our end as we haven't heard back. Hopefully, the information shared was helpful. If you still require assistance, please reach out to us by submitting a ticket here: https://www.postman.com/support/ ​so we can investigate further.
Have a great day!
via @SabriH10 | Postman Support

[2021-03-04 16:00] AwaitAsync commented on #9614
Agreed. This is super frustrating... I don't want to go DELETE 500 example responses...I just want the ability in my preferences or view options to turn this off.

[2021-03-04 16:11] natebranchapp commented on #903
+1

A visual indicator that you're in a sensitive environment vs. a sandbox/test environment would be very useful in preventing simple mistakes.

[2021-03-04 16:15] garry-marsland-cko commented on #5713
+1 from someone who has had to just move 20+ members over from Postman Pro to Postman Business with ~100 collections to 6 different workspaces. I can personally vouch for the pain (and RSI) here.

Even after all of that I had to go back and do the same for ~20 environment variables too. :(

[2021-03-04 16:51] kinguru commented on #4079
+2

[2021-03-04 16:54] amrit-hop commented on #2646
We have a SAML use-case that we'd like to put forward as a good reason to at least give the user the option to enable Javascript in the Preview window.

Basically, we are using an IdP-initiated flow which means, we GET a SAMLResponse token and submit it to an ACS URI through an auto-executing SAML-standard form, that looks like this:

[code]

This form won't work in the Preview window because Java

[2021-03-04 18:18] ankit-m commented on #8303
This is released in Postman v8.

[2021-03-04 18:18] #8303 closed, assigned to preethammavin

[2021-03-04 19:31] asherber opened #9685 "'Render non-printable characters' defaults to true"
**Describe the Issue**

In Postman v7, there was an editor setting 'Render non-printable characters' which defaulted to false. In v8, this setting defaults to true, but there is no longer a toggle to turn it off.

**Steps to Reproduce**

Type a raw body into a request, or perform any request that returns text/XML/HTML. Glyphs for spaces and tabs are visible in the editor.

**Environment Informatio

[2021-03-04 23:06] PhilippeBettler commented on #9531
I agree, this adds a lot of noise, thanks.

[2021-03-04 23:12] tplunket commented on #8747
I'm also running into this, in my case the response header is indeed invalid:
[code]
I understand that the server code is in violation of the standard for a couple of reasons and I can't fix that right now but the "parse error" messaging is useless without a "show raw response" option. It'd be super extra awesome if it could indicate where the parse error is specifically but maybe the library does

[2021-03-05 01:19] airoasis commented on #8697
Is this endpoint updating the collection from schema immediately? Or is it the same as hitting the validation button?

[2021-03-05 03:22] seanquijote commented on #6682
Any update?

[2021-03-05 08:41] Utkarsh20th opened #9687 "New Integration Request - EclipseIDE for Java Developers 2020-12 on WINDOWS OS"
I am automating E-2-E REST API execution using POSTMAN. In the middle of API execution, an email OTP is sent. That email OTP value is needed to be captured and used in making further API calls.

I am using a free online junk email web application to receive such OTP emails. I have created a Selenium-JAVA script using Eclipse to connect to that online email domain through (java.net.HttpURLConnectio

[2021-03-05 08:55] Thommynator commented on #2906
I'm wondering if I'm doing something wrong.
My Postman version is **v8.0.6** and I'm exporting to a **v2.1** Collection.
I still have the same issue that all the script id's are different after the export.

Do I need to change a setting or something?

[2021-03-05 09:01] ankit-m commented on #9586
@mgrofsky thank you for filing a ticket and explaining your use case. We are working towards improving our changelog offerings especially now that we have public workspaces. We're looking to introduce the ability to cleanup changelog so that you do not expose any mistakes.

I will update this thread once the feature is released.

[2021-03-05 09:26] #9687 closed, assigned to abhijitkane

[2021-03-05 09:32] skaria-cloud commented on #9481
Hi good Morning,

Back

Im also facing latest version on 8 and alsoUNABLE AND NOT ABLE TO USE e the web version as a short term. I have also mailed the support box with all the items above.

Is there any other ETA around this or any other workaround we can try or do we just need to go use a lesser version number?

Thanks for your help.

cheers

[2021-03-05 09:48] maxsommer commented on #3976
I would really appreciate this kind of functionality, especially if it gave us the option to actually prompt for a value, since this would make building Postman API collections really interactive.

Throwing errors is just an ugly work-around to the user experience this could enable.

[2021-03-05 11:25] vinitshahdeo commented on #9541
Hello @hereiznoy, @Rydgel & @kotot,

The latest [Postman Interceptor](https://chrome.google.com/webstore/detail/postman-interceptor/aicmkgpgakddgnaphhhpliifpcfhicfo?hl=en) `v1.1.2` contains fix for this issue.  Can you please update your extension and confirm?

[2021-03-05 11:43] Marclev78 commented on #8195
+1 to wanting this. I edit multiple tabs and end up having no idea what needs and doesn't need saving because I always forget to do it. This is the most annoying thing in Postman for me.

[2021-03-05 11:54] DannyDainton commented on #9686
Hey @senthilvadivu123

Could you provide more context and detail about the issue, please?

The following sections on the template are the details that will be required in order to investigate what is happening here.

---

[code]

[2021-03-05 12:03] DannyDainton commented on #9632
Closing as this is a duplicate of https://github.com/postmanlabs/postman-app-support/issues/9531

[2021-03-05 12:03] #9632 closed, assigned to nobody

[2021-03-05 12:06] DannyDainton commented on #9685
Closing this as it's a duplicate of https://github.com/postmanlabs/postman-app-support/issues/9531

[2021-03-05 12:06] #9685 closed, assigned to nobody

[2021-03-05 12:17] DannyDainton commented on #9670
Closing this as it seems like the issue is now resolved. 🎉

[2021-03-05 12:17] #9670 closed, assigned to nobody

[2021-03-05 12:20] DannyDainton commented on #9607
Closing this as there has been no response regarding the issue.

[2021-03-05 12:20] #9607 closed, assigned to nobody

[2021-03-05 12:21] DannyDainton commented on #9667
Close this as there has been no response about the initial issue.

[2021-03-05 12:21] #9667 closed, assigned to nobody

[2021-03-05 12:24] DannyDainton commented on #9610
Close this as there has been no response about the initial issue.

[2021-03-05 12:24] #9610 closed, assigned to nobody

[2021-03-05 12:37] praveendvd opened #9688 "Authorization is not editable in pre-request"
**Describe the Issue**

**Issue 1:**
    pm.request.auth  was previously mutable in the pre-request script section. Now its immutable , modifications done on it like pm.request.auth-undefined doesn't alter the authorization scheme used.

**Steps to Reproduce**

1. set authorization as api key
2. in pre-request , set pm.request.auth = undefined
3. The request is still send with authorization API ke

[2021-03-05 13:43] camplejo commented on #8195
+1 Need this.  Lost all my API calls during an "upgrade" of Postman because of no auto-save.

[2021-03-05 14:09] jbalius commented on #8040
Any updates?

[2021-03-05 14:54] hereiznoy commented on #9541
@vinitshahdeo I can confirm that updating to `v1.1.2` of Interceptor resolves the issue for me. Thanks!

[2021-03-05 15:25] mathnogueira commented on #7596
+1

[2021-03-05 16:52] spencerrichardhenry commented on #8052
hey sankal, this is great to hear! Sadly I'm not using Postman actively anymore as I switched jobs so I can't give further comment on the issue.

[2021-03-05 16:52] #8052 closed, assigned to nobody

[2021-03-05 16:56] DannyDainton commented on #9688
Hey @praveendvd,

Could you separate this issue into 2, please?

[2021-03-05 17:10] DannyDainton commented on #9684
Hey @kupridtz - Can you fill in the heading and template with the full details of the request, please?

[2021-03-05 18:00] BentCoder commented on #3016
Could someone please add some kind of comment or label saying that **this feature won't be implemented** to prevent people wondering (_like myself_) what the state of this request or plans etc?

[2021-03-05 19:57] jolsen71 commented on #6269
I got caught by this today, too. I thought I was removing a shared environment from a workspace, when in reality it removed it from existing everywhere.

Please add support for un-deleting environments.

I'd also suggest renaming "Delete" to "Delete from everywhere" to prevent anyone who overlooks the white "Remove from workspace" because their eye is drawn to the red "Delete" at the bottom of the

[2021-03-05 20:27] senthilvadivu123 commented on #9686
**Describe the Issue**

I am seeing a lot of intended dots in the window

**Steps to Reproduce**

Please refer to the attached gif file.

**Environment Information**

 - Postman Version:Version 8.0.6 (win32 6.2.9200 / ia32)  -

 - Operating System:Windows

—
You are receiving this because you were mentioned.

On Fri, Mar 5, 2021 at 3:55 AM Danny Dainton <notifications@github.com>
wrote:

--
Vadivu

[2021-03-05 20:39] ravikumarrao commented on #1066
+1

[2021-03-05 22:09] praveendvd opened #9689 "[Feature Request] Allow accessing network information from script section section"
**Feature Request**

   make console network information available in script sections also, currently there is no way to retrieve network information in scripts other than response time.

**Steps to Reproduce**

1. Send a request and try to access information like certificate expiry date etc.

**Environment Information**

 - Platform Type:  web,desktop
 - Postman Version: v8.0.6
 - Operating Syste

[2021-03-05 22:10] praveendvd commented on #9688
Raised a separate one thank you Danny

[2021-03-05 23:13] yogithesymbian commented on #9481
1 week ago, still need connection to work with workspace offline

[2021-03-05 23:15] yogithesymbian commented on #9481
ah work with setting -> scratch pad .

[2021-03-05 23:48] ardhikarn commented on #2126
with adonis, change csrf to false in config/shield.js

[2021-03-06 00:15] PureKrome commented on #6733
@chrisdeso any chance we could please have an update here?

This feels/looks to be a blatant abuse of upselling the product. Please give us (the consumer) the benefit of the doubt that we actually do want to drop back to the 'free' tier. As I was experimenting with POSTMAN (this morning) to see how I can start a team and bring some team members into a team, how many I can have, costs, etc .. i not

[2021-03-06 00:40] levinsamuel commented on #9541
@vinitshahdeo It does not seem to be working for me. My interceptor version is `1.1.2`, updated March 1. Postman `v8.0.6`.

The way it works at my company is we get a session cookie for `env.domain.com`. And I'm sending a request to `myapp.env.company.com`. I can see the `env.domain.com` cookie in my cookie list in Postman. However, I still am unauthorized when I send the request to myapp. I can t

[2021-03-06 08:36] polydectes opened #9690 "Upgrade fails with error "Error Migration: indexedDB schema migration failed. IndexedDb was not upgraded successfully after 'dexie.open'"
During an upgrade from 5.3.2 R02, Postman goes through 2 update cycles.

The first updates the application to version 6 successfully.  The second updates to version 7.  After the second update Postman is failing to open on my Windows 10 machine.  It displays the following error:

"Error Migration: indexedDB schema migration failed.  IndexedDb was not upgraded successfully after 'dexie.open'

And r

[2021-03-06 08:59] vinitshahdeo commented on #9541
@levinsamuel  Assuming that the expected session cookie isn't hostOnly cookie, can you please share the exact cookie string(after removing sensitive info) of `env.company.com` which was supposed to be sent with `myapp.env.company.com` request?

e.g, `foo=bar; Path=/; Domain=env.company.com; Secure; Expires=Sat, 27 Mar 2021 15:55:41 GMT;`

You may try out the following troubleshooting steps:

1. Tu

[2021-03-06 16:09] levinsamuel commented on #9541
So, the first thing is I know this worked for me before Postman 8.

This is what shows up in Postman when I open that cookie:
[code]
This is what I see in the response headers when I get that cookie back from the browser, when I log in:
[code]
Meaning the cookie is not host-only https://stackoverflow.com/questions/18492576/share-cookie-between-subdomain-and-domain. This works as expected in the br

[2021-03-06 21:58] vsosnin opened #9691 "Cookies captured by interceptor are not added to request headers"
**Describe the Issue**
After upgrading to Postman version 8.0.6 I noticed that cookies captured by interceptor were not being added to request headers (Disable cookie jar was OFF under request Settings)

**Steps to Reproduce**
1. Set Capture Cookies to ON in Postman Interceptor
2. Capture cookies and verify they appear under right domain in MANAGE COOKIES modal
3. Navigate to request's Headers tab

[2021-03-07 13:11] bernardoflynn commented on #6719
A suggestion for anyone reading this far to find out what's happening with this request - just switch to Insomnia. It took all of 2 mins to export all my collections from Postman and import into Insomnia and then Insomnia gets the schema very easily.

[2021-03-07 13:53] askherconsulting opened #9692 "Cannot edit Request URL after generating a comment"
**Describe the Issue**

**Steps to Reproduce**

**Screenshots or Videos**

**Environment Information**

 - Platform Type: Desktop app
 - Postman Version: 8.0.6
 - Operating System: Windows 64

[2021-03-07 14:09] vinitshahdeo commented on #9691
@vsosnin This issue seems similar to #9541. The latest [Postman Interceptor](https://chrome.google.com/webstore/detail/postman-interceptor/aicmkgpgakddgnaphhhpliifpcfhicfo?hl=en) `v1.1.2` contains fix for #9541.  Can you please update your extension and confirm?

If above doesn't help, can you please share the exact cookie string(after removing sensitive info) to help us investigate further?

e.g.

[2021-03-07 14:43] askherconsulting commented on #9692
User error - I had not toggled the build mode back on.

[2021-03-07 14:43] #9692 closed, assigned to nobody

[2021-03-07 14:51] askherconsulting opened #9693 "Improve UX of comment/build mode"
**Is your feature request related to a problem? Please describe.**
I raised what I thought was a bug because I couldn't edit a request after adding and closing the comments panel. (see attached video)

**Describe the solution you'd like**
I think at the least closing the comments panel should revert the user into build mode, so they can continue to edit their request. At the most, getting rid of b

[2021-03-07 23:28] postman-support commented on #9686
Hey @senthilvadivu123,

Thanks for reaching out!

As I understand it, you are seeing a number of dots on the window of the Postman desktop app on Windows device, is that correct?
Sorry for the hassle, but happy to help!

To troubleshoot further, could you please try the following steps and see if any of these steps help?

**1. Restart the desktop app**

    1. Quit the app.
    2. Cleanup **all pr

[2021-03-08 00:17] xk0der opened #9694 "Request for Ability to own or control forks of a collection"
## **Is your feature request related to a problem? Please describe.**

- Currently when a Collection is forked in a workspace, the user who forks it gets the "`Editor`" role, while others get the "`Viewer`" role.
- This hinders the workflow where the original Collection owner wants to merge and delete the "`source`".
- The main collection owner has to explicitly reach out to the users owning the f

[2021-03-08 02:55] taehoshino commented on #9690
Hey @polydectes,

Thanks for reaching out! I am more than happy to assist you with the issue!

I understand you are unable to upgrade your app to the latest version due to an error.
Sorry for the hassle, but happy to help!

Can you try renaming the “Postman” folder from below two locations to “Postman.old” and then reinstall the latest version 7 from here to see if that helps?
C:\Users\<user>\AppD

[2021-03-08 03:00] vsosnin commented on #9691
@vinitshahdeo the upgrade to v.1.1.2 resolved the issue. Thank you!

[2021-03-08 03:00] #9691 closed, assigned to nobody

[2021-03-08 04:10] wawasm commented on #5093
npm i flatted - it works for me

[2021-03-08 06:10] shibasisp opened #9695 "Postman is changing the request method under the hood"
**Describe the Issue**
Postman is changing the request method from PUT to GET under the hood for http request.

**Steps to Reproduce**

- I sent a request from postman as a PUT method. But it reached the server as a GET method.
- I replaced the http with https in the above case and it worked fine in postman.
- I extracted the curl from postman and hit it from terminal and worked fine in both the c

[2021-03-08 06:30] codenirvana commented on #9695
@shibasisp You can turn the `Follow original HTTP Method` request setting ON to redirect with the original HTTP method.

![Screenshot 2021-03-08 at 11 55 05 AM](https://user-images.githubusercontent.com/4865836/110283115-90f37c00-8005-11eb-8c5d-e8ea779a19e3.png)

Duplicate of #4001

[2021-03-08 06:30] #9695 closed, assigned to nobody

[2021-03-08 07:23] Pricilla09 opened #9696 "Even without the version upgrade, system shows message that the "Update failed, view details""
**Describe the Issue**

Suddenly it shows error during upgrade and when we try to fix it manually it says the version is up-to date.

I am already using the latest version - Version 8.0.6, also my auto update is disabled. But sometimes I am seeing the error that the upgrade is failed.

**Steps to Reproduce**

**Screenshots or Videos**

![image](https://user-images.githubusercontent.com/71498483/11

[2021-03-08 07:40] DannyDainton commented on #9696
Is fully quiting the app and restarting it again still showing the same?

[2021-03-08 07:47] twitharshil commented on #9696
Hey @Pricilla09

Could you send over the logs to help@postman.com so we can take a look at what's going on, please?
You can find the logs at View -> Developer -> View logs in Finder/Explorer.

Feel free to reference the GH Issue number in the subject line of the email.

[2021-03-08 07:49] Pricilla09 commented on #9696
This issue is sporadic Danny :-( I might not see if I am restating the app now, but may be again in few days this comes back!!

[2021-03-08 08:55] ZekLouis commented on #9628
I always tried to clear my cookies before calling my endpoint.
Here is a video to explain what I'm doing :

https://user-images.githubusercontent.com/18212301/110297772-1ff79880-7ff4-11eb-8a67-26f05a2754b8.mp4

I'm sorry but we don't have anything public yet :( For information, we are using Laravel 8.29.0 (with Sanctum) for our API.

[2021-03-08 10:35] fmvilas commented on #4009
Hey @afefer! Support for WebSockets is currently in development. Can't say more but this is going to be awesome 🙊

[2021-03-08 10:36] chibuzorobilom commented on #1066
+1

[2021-03-08 11:09] tithisharma98 commented on #8009
@tsheaff Request you to email at help@getpostman.com if you still need help with this issue. Thanks!

[2021-03-08 11:24] nasco-a commented on #9696
Hi @Pricilla09
Thank you for sending the logs - we will keep you posted once we have an update.

[2021-03-08 11:32] torarnek commented on #8195
Forgot to manually save the tabs, and lost hours of work...  I would love to have auto-save! 👍

[2021-03-08 12:10] LukeV111 commented on #8612
This issue can happen if you're using https on a localhost endpoint.

[2021-03-08 12:56] Jsoneft commented on #5194
+1

[2021-03-08 14:10] bkonetzny commented on #9626
Just wanted to give an update: This issue still exists in the just released v8.0.7

[2021-03-08 14:17] DannyDainton commented on #9481
Hey @skaria-cloud 👋 ,

Unfortunately, there isn't an update on this just yet. As you're unable to use the web version at this time - The only other option would be to downgrade your app version to the latest V7 build.

The links to the different platforms can be found here:

- macOS: https://go.pstmn.io/dl-macos64-v7-latest
- Windows 64-bit: https://go.pstmn.io/dl-win64-v7-latest
- Linux 64-bit: h

[2021-03-08 14:22] tim-hanssen commented on #9566
The most annoying thing while developing!

[2021-03-08 14:29] DannyDainton commented on #9626
Hey @bkonetzny / @Pricilla09

Are you seeing any Dev console errors happening when hitting the button?

You can open up the console going to `View > Developer > Show Dev Tools (Current View)`

Are there any more contextual details that you can share, as this is not happening to all users, narrowing down the issue will require more granular details.

Is this only happening in specific Workspaces? P

[2021-03-08 14:48] gerhardvr-finclude commented on #1070
The ordering of examples is crucial and basic. We typically save examples of valid responses and also invalid responses. Not being able to order them means that more often than not, invalid responses are showed first in the documentation which is VERY confusing.

[2021-03-08 14:50] bkonetzny commented on #9626
Hi @DannyDainton

The following message is showing up in the Dev Tools when clicking the Icon:
[code]

I was able to narrow down the problem. I'm working in a shared Workspace with 8 environments. None of these works in Quick Look, but all of them show up in the sidebar and are editable there.
However, when I switch to a different shared Workspace, the Quick Look there works for the enviroments in

[2021-03-08 14:51] cdolan92 commented on #1070
@gerhardvr-finclude and your only option to fix this is to go and manually delete/recreate the responses in the order you want *for every endpoint*!

[2021-03-08 14:59] ErnestStaug commented on #4009
need this badly...

[2021-03-08 15:42] mwyld commented on #3274
+1

[2021-03-08 17:36] ThatTallProgrammer commented on #3789
Can confirm. My team and I are unable to find a way to use smartcards with this system. Is there any update to this issue?

[2021-03-08 19:11] companje commented on #9669
I get the same error with the following WADL file: https://transkribus.eu/TrpServer/rest/application.wadl

[2021-03-08 19:31] RichFlickstein commented on #9634
I updated to Postman v8.0.7 and confirm that the issue has indeed been fixed

[2021-03-08 20:08] skfahad opened #9697 "Form fields with validation description"
I use post for API testing and it's cool. Recently I started using API documentation feature of postman.

While adding description for each parameter, request and collection I feel that it would have been better if we have a good user interface for adding validation for each form fields. Though there is a provision for adding  description for request parameters but it would be nice to encourage us

[2021-03-08 20:58] gerhardvr-finclude commented on #1070
Unfortunately it is not even that "simple". I did this to test the viability of the approach. A bit later I updated the name of my collection just to have the examples be randomised one again. Back to square one!

[2021-03-08 22:04] mthuc opened #9698 "Adding a cookie to a domain does not append the domain into the cookie"
**Describe the Issue**

When creating a cookie via the `Add Cookie` button, it does not add or append `Domain=<domain>` into the cookie.

Result:
![image](https://user-images.githubusercontent.com/11280586/110387728-e97f4500-8016-11eb-93a5-4e8df71096d4.png)

Expected:
![image](https://user-images.githubusercontent.com/11280586/110387780-fa2fbb00-8016-11eb-8942-6517e142b35c.png)

**Steps to Reprodu

[2021-03-08 23:44] jolsen71 opened #9699 "Add Markdown strikethrough support"
Postman supports a pretty good chunk of the common Markdown markup, but it seems that it lacks strikethrough support.

According to GitHub Markdown specifications, text that is intended to be struckthrough should be wrapped in two tildes.

For example, documentation that is entered in markdown that looks like this:
&nbsp;&nbsp;&nbsp;&nbsp;Hello, \~\~Bob\~\~James
When rendered with a system that su

[2021-03-09 05:25] Swapnil-getpostman opened #9700 "JSON syntax needs a highlighter"
**Is your feature request related to a problem? Please describe.**
Need a highlighter for JSON format while editing it in the value section under __ body ->  form-data ->  value. Please refer to the below screenshot for the same.
<img width="567" alt="Postman - Agent 2021-03-09 10-42-42 png 2021-03-09 12-59-11" src="https://user-images.githubusercontent.com/52168965/110434076-5ce88b80-80d7-11eb-92

[2021-03-09 06:13] mohitranka commented on #9626
Hey @bkonetzny @Pricilla09 ,

I am the Engineering Manager in the team, that works on this feature. Can you please open a support ticket with postman.com/support . If it works with you, I'd like to get on a video call to debug the issue.

[2021-03-09 06:24] AndrewTseZhou opened #9701 "I don't want to use cloud space"
I don't want to use cloud space. Start up very slowly.

[2021-03-09 06:25] shashankawasthi88 commented on #3013
Hi, @1trackprojects1 @maudrid @sumeetsarkar and others. We have started to explore enabling HTTPS request capturing. We would love to get onto a call to explore your exact use cases and any other issue around the proxy feature in general. If possible, can we hop onto a quick call to discuss the same. You can schedule a 1:1 one us through this link - https://calendly.com/shashank-awasthi/postman-pr

[2021-03-09 06:29] shashankawasthi88 commented on #5164
@mfulton26 hopefully you have been able to achieve this workflow using the method suggested by @vvs11 . In meanwhile we are also planning a way to achieve this via Postman Proxy route. It would be great if we could get onto a short call to discuss your exact use case. It would help us tailor the experience better. Could you please schedule a call with us regarding the same according to your conven

[2021-03-09 06:32] shashankawasthi88 commented on #8856
@tiago-oliveira-trustly @jzyrobert @RogerMichel - we have started exploring flows around response capturing via interceptors/ proxy. Would love to get onto a call to understand your exact use case so that we could tailor the experience accordingly. If you could schedule a call using this link - https://calendly.com/shashank-awasthi/postman-proxy according to your convenience, it would be great.

[2021-03-09 07:24] DannyDainton commented on #9701
Hey @AndrewTseZhou

Could you fill the full details of the issue template form and explain what's happening for you, please?

Any usage information, details about the version you're using, videos showing the performance, screenshots of activity logs would also help here.

Without any information and context, it's going to be very difficult to do anything about this.

[2021-03-09 07:25] mcprhce commented on #5681
Try to run the setup.exe file from PowerShell as administrator. It will resolve.

[2021-03-09 08:20] DannyDainton commented on #9700
Hey @Swapnil-getpostman

This feels like it would need to be more that just a change for JSON highlighting as that form field is a text field, it could be a number of different formats.

It just so happens for your current use case, its for JSON 😁.

[2021-03-09 08:48] postman-support commented on #9444
Typo on the error message "occured" instead of "occurred has been fixed

via @labifrancis | Postman Support

[2021-03-09 09:11] SebastianJust commented on #9629
Hi,
Any updates on this issue? :)

[2021-03-09 09:44] HenrikHolmIT opened #9702 "Need an easy way to get the resolved URL of a request with environment variables in it"
We have a setup using environment variables in the URL for each request. These URLs are often sent to QA and Data management personel when tests fail to fix data related problems.

I need a way to easily get the resolved URL of a request that has environment variables in it.

I propose that at the end of the textbox that contains the URL there could be a little button that when clicked would copy

[2021-03-09 09:55] HenrikHolmIT opened #9703 "Do not expand requests when clicking on their names"
Please do not expand requests when clicking on their names. Only when clicking the > icon should you expand them.

Im on the latest version and I find it really annoying that requests expand when clicking on them and without being able to collapse them again by clicking name. It fills up my explorer view pretty quick and ruins my overview. I rarely need to view what is under a request.

**Describe

[2021-03-09 11:11] zhengycsh commented on #9605
me too

[2021-03-09 11:13] vvs11 commented on #5459
Closing this as this is released in App 7.36

[2021-03-09 11:13] #5459 closed, assigned to nobody

[2021-03-09 11:34] Reijnn commented on #3706
+1

[2021-03-09 14:48] daniel-shuy commented on #5194
☝️☝️☝️

[2021-03-09 15:57] Mackzwellz commented on #3438
+1.
Our use case for collections is not to document the API itself (there are solutions for that already, e.g. SwaggerUI / ReDoc), but user experience flows (effectively, request chains).
We would like be able to have static html files generated along with static resources, so we could host them on our company's internal Github Enterprise's Git Pages.
This could be an option next to collection exp

[2021-03-09 16:48] JuniorMonzani opened #9704 "Include the 'Edit' option in the 'View more actions' of the request."
**Description:**
Improvement in the process of adding or changing the description of the request.

**Steps:**
1 - In the request, click on 'View more actions' and select 'View documentation'.
2 - Search for the request you want to include or change a description.

**Result obtained:**
The process of adding or changing a description to the request has become more time-consuming and laborious.
First

[2021-03-09 17:01] DannyDainton commented on #9704
Hey @JuniorMonzani

It looks like you're using an old version of the app as we have recently moved to V8, which comes with more changes to the UI.

If you didn't want to upgrade straight away, you could check out the new changes using the Canary build.

https://www.postman.com/downloads/canary/

[2021-03-09 17:07] DannyDainton commented on #9703
Hey @HenrikHolmIT

This feels similar to this open issue:

https://github.com/postmanlabs/postman-app-support/issues/9614

If so, I would like to close this and direct all feedback over to that one, to keep all the information together.

Also, you should be able to use the _left arrow_ key to collapse any open Collections, Folders or Requests in the sidebar.

[2021-03-09 17:22] DannyDainton commented on #9703
We're still taking feedback on all the new changes made for V8, from a number of different places - No final decisions have been made about the potential improvements just yet.

I'm going to close this issue - could you add any new comments to the #9614 thread, please.

[2021-03-09 17:22] #9703 closed, assigned to nobody

[2021-03-09 17:24] HenrikHolmIT commented on #9614
I dont like this either. I just updated to 8.0.7 and it has this feature.

But I do propose an easy fix so the whole feature does not need to be rewritten. I believe Postman team had a reason to move these items some place else.

I think this could easily be managed/changed by not expanding the request node when clicking the name of the request. Just select it and show its properties on the righth

[2021-03-09 18:36] ajilk opened #9705 "Collapse / Expand folders by clicking on it"
Clicking on the folder within a collection expands the folder but doesn't collapse/close it.

[2021-03-09 18:57] feelipegr opened #9706 "Can't remove the collection from team workspace (unshare the collection)"
**Describe the Issue**
I created a collection at my personal "My Workspace" and shared it with the team, but now i want to unshare it. So, i try to remove the collection from "Team Workspace", but i receive this message: "This collection is only present in this workspace and can't be removed.". I created another collection to do a test and if i use "delete" option the collection is removed from ev

[2021-03-09 19:08] DannyDainton commented on #9704
When you have a saved request open in the main window, the context bar on the right side of the app, always has the documentation icon (just below the eye icon) available.

Hitting a single icon button that's in view, would open it for you to edit, rather than hitting the ellipsis and then an edit button.

[2021-03-09 19:25] JuniorMonzani commented on #9704
Perfect Danny!

Indeed, this functionality remains simple to access.

I did not pay attention to the sidebar with the information from the open request.

And it actually got a lot more interesting.

Thanks!

[2021-03-09 19:25] #9704 closed, assigned to nobody

[2021-03-09 20:22] timbochamp commented on #9705
Hi @ajilk , thanks for bringing this up! This behaviour used to exist in older versions of the app. I'll raise it as a bug to be addressed.

[2021-03-09 20:31] zmharker opened #9707 "Trim trailing whitespace"
Postman macOS client, version 8.0.6

Basic test case:
1. Using the Postman client, make a GET request to `https://api.getpostman.com/collections` without providing any authorization. Response is 401 Unauthorized as expected.
2. Add a single space to the same request: GET `https://api.getpostman.com/collections `. Response is 404 Not Found.

It's hard to imagine a use case where it's important to p

[2021-03-09 23:50] davidc555 commented on #5302
So it looks like some time last year this was fixed, but the menu/title bar is now back to showing white in Windows 10 while using the dark theme.  Can you please fix this?  It makes Postman look a bit bright and ugly.  Thanks

[2021-03-10 01:54] ttan70 commented on #2734
any update on this, I can't find a solution to fix this, all links take me back to this issue link

[2021-03-10 06:38] makkaba commented on #3773
same demand here.

[2021-03-10 09:24] pikausp commented on #9700
Perhaps this could be implemented as a selector within the Value field, similar to the Text/File selector within the Key field? The dropdown would let you choose from the standard formats supported elsewhere (Text, Javascript, JSON,..).

[2021-03-10 09:30] appurva21 commented on #9629
Hey @SebastianJust!
Just to confirm the use-case here,  your workflow expects the cookies that were added while fetching the OAuth2.0 access token, to be available while sending a separate Postman request? Or else, could you please share the exact steps to reproduce this issue at our end ?

[2021-03-10 09:42] godspeed20 commented on #9176
i have the same error, but in my case it's because the server is configured as http/2, and i think (?) postman doesn't support that? at least from searching around it looks like that might be the case. Anyway might not help but thought i'd add here as it's the exact same response that I see when trying to query a get on http/2 service

[2021-03-10 10:24] qaoru opened #9708 "Error connect EACCES on latest version with a VPN"
**Describe the Issue**

I'm using a VPN (Pulse) to remotely access some services and I'm getting an `Error: connect EACCES <server_ip>:443` when sending requests to remote servers (using private IP adressing).

**Steps to Reproduce**

Might be an isolated case, but trying to reach servers through VPN produces this error.
It is not a server issue as they are reachable with other tools (i.e. browser

[2021-03-10 12:09] codenirvana commented on #9628
@ZekLouis That's for sharing the screen-recording but I am still not able to reproduce this issue with my local setup. 🤦

Is it possible to share a testing endpoint or a [Postman Mock](https://www.postman.com/features/mock-api/) with a similar behavior?

[2021-03-10 12:44] kbping opened #9709 "Postman v8.0.7 freezes completely when I select View Documentation for a collection"
**Describe the Issue**

Postman auto-updated to v8.0.7. It now freezes completely when I select View Documentation for a collection. This wasn't true before the update was pushed.

**Steps to Reproduce**

Bring up Postman v8.0.7. Wait until all collections are properly displayed. Select a collection, and select View Documentation. The Documentation view is displayed, but Postman is then frozen.

*

[2021-03-10 13:13] RuhulxD commented on #6682
Anyone responsible for open issues?

[2021-03-10 13:45] cyberhck commented on #6719
yep, just switched to insomnia today at our company as well :slightly_smiling_face:

[2021-03-10 14:15] RaptorCZ opened #9710 "[Feature request] Let me auto select "Body" section on new tab"
When a new tab is opened, it always starts in "Params" section. I would like to be able set in configuration default section.

In 99% of actions I need to open saved request, change data and Send. I understand that it is primary for POST and not for GET verbs, but if can user set this behavior in configurations, it will be win-win.

[2021-03-10 14:33] arlemi commented on #9710
Thanks for the feature request @RaptorCZ , we're already tracking this in #2086 and are hoping to push something out over the coming weeks. 🙂 Keep an eye on the other issue if you want to stay updated.

[2021-03-10 14:33] #9710 closed, assigned to nobody

[2021-03-10 14:46] arlemi commented on #2906
@Thommynator I've tried on the latest v8, and Postman Web, but I'm not seeing the IDs being exported... Is that an old collection that you're trying to export? And do you have this issue with any collection or just this one?

[2021-03-10 15:07] Thommynator commented on #2906
What I did:
- Create a new collection
- Export collection
- Import collection (replacing the existing one)
- Export collection to a different file
- Compare the two exported files

For me the `_postman_id` changes after every export.
[code]

Additionally, all the requests which are using a "Pre-request Script" and/or a "Test Script" had changing ids, too.
[code]

But now I found out that this only

[2021-03-10 15:51] i5o commented on #9573
Also looking forward to this one.
Just came accross this issue by googling about postman latest release.

I personally have problems with current 7.36.5 - it freezes sometimes, and the icon won't even show in the launcher until I close another window in Ubuntu 20.10.

So I just wanted to update but no snap release yet.

[2021-03-10 16:41] pozil opened #9711 "Missing PR notification when no reviewer is set"
## Describe the Issue
When working with Public Workspaces, no notification is sent when a PR is submitted with no approver.

## Steps to Reproduce
In a public workspace, submit a PR without filling the approver.

**Actual behavior**
No notification is sent.
PR notifications are only sent to approvers.

**Expected behavior**
The collection admin should be notified as a fallback. If not, the PR migh

[2021-03-10 17:45] erikaruser opened #9712 "environment hierarchy and inheritance"
I have several postman environments that are very similar to one another, where they share the same set of variables with most having the same value but a few are different. But since environments are independent of one another, there is severe duplication and the environments rapidly get out of sync with one another.

It would be nice, therefore, to be able to specify that one environment inherit

[2021-03-10 18:26] neomedeiros commented on #285
+1

I want to use that for input security-sensitive data on tests - it's not a good idea to store it on .env

[2021-03-10 18:50] SMUsamaShah opened #9713 "Save OAuth tokens to environment variable or access with JavaScript API"
We can get OAuth token with Authorization helper for OAuth showing a login screen and getting access token. However this token cannot be access with `pm` API.

Current ways to access token as variable are:
 - Manually copy paste the token in Environment variables collection.
 - Select token and use "Set as variable" context popup action
   - However this only works for `access_token`, not `refresh

[2021-03-10 19:06] kibiz0r commented on #3103
@a85: Does the plug-in system solve this now?

[2021-03-10 19:52] mccannt commented on #4446
No updates at this time. We are still looking at the best approach to resolve this.
We will update you when we have some news to share on this.

[2021-03-10 20:52] timbochamp commented on #8981
From my testing on macOS and Windows (as well as Ubuntu), this should now be resolved in the recent [builds](https://www.postman.com/downloads/)! Please feel free to reopen if the issue is persisting.

[2021-03-10 20:52] #8981 closed, assigned to coditva

[2021-03-10 21:00] yagmur92 commented on #8139
I encountered the similar issue. I tried to upload multipart data using form data with selecting 300MB video file, then error occurs in the console after approximately 3-4 minutes. You can see the console error message in below.
![PostmanEconnreset1](https://user-images.githubusercontent.com/4432568/110696681-6a4b6600-81fc-11eb-8045-c985fd27389a.png)

In backend side, video processing continues, a

[2021-03-10 21:02] xk0der commented on #9634
Closing as the issue is resolved in 8.0.7

[2021-03-10 21:02] #9634 closed, assigned to nobody

[2021-03-10 21:03] xk0der commented on #9623
Closing as original issue reported is no longer reproducible.

[2021-03-10 21:03] #9623 closed, assigned to nobody

[2021-03-10 21:15] timbochamp commented on #9030
Hi @nils-work , this should be resolved on the latest build with grey visuals for skipped tests as seen in the screenshot below:
![Screen Shot 2021-03-10 at 5 02 53 PM](https://user-images.githubusercontent.com/4521134/110698328-e37a9700-81c3-11eb-97d1-a7b7f11fb7fe.png)

Please feel free to reopen this issue if you're still seeing issues!

[2021-03-10 21:35] AlexeyPlodenko commented on #6455
The bug is still there.
I have replaced the hostname in the URL with an SSLed one and after the restart both tabs were "lost".

![image](https://user-images.githubusercontent.com/32414715/110700994-e50e8400-81f0-11eb-950b-b53fef9dba5d.png)

[2021-03-10 22:01] #9259 closed, assigned to nobody

[2021-03-10 23:37] taehoshino commented on #9524
@Raja-Simha Great! Thanks for the update!

[2021-03-11 00:54] airoasis commented on #8697
Awesome!

[2021-03-11 02:16] ode2code95 opened #9714 "Uncaught exceptions within Promises are not reported."
I have uncovered a long-standing bug in Postman which is still present as of v8.0.7.
Given these test components:
[code]

These are the results for several usage variants:
[code]
![image](https://user-images.githubusercontent.com/23080282/110725477-aa531e80-81e5-11eb-8eb2-92112ca0b840.png)

[code]
![image](https://user-images.githubusercontent.com/23080282/110725333-6cee9100-81e5-11eb-8faa-46eed0a

[2021-03-11 02:39] ode2code95 opened #9715 "Additional `await` invocations fail to execute after first `await` completes."
The JS test script runner is unable to process multiple `await` calls within a single `async` function.
Given these functions:
[code]

These snippets produce the following results:
[code]
![image](https://user-images.githubusercontent.com/23080282/110726475-70831780-81e7-11eb-9485-69429a8a9c57.png)

[code]
![image](https://user-images.githubusercontent.com/23080282/110726810-1171d280-81e8-11eb-9c5

[2021-03-11 03:03] xk0der commented on #9715
Hey @Stanley-G 👋
Have a look at [this thread](https://community.postman.com/t/executing-sync-requests-programmatically-from-a-pre-request-or-test-scripts/14678/2?u=amit) at Postman's community forum

**Quoting the relevant sections:**

See if declaring a dummy Interval object at the start fixes the issue for you.

[2021-03-11 07:44] rufreakde commented on #9675
@mohitranka I updated now to version 8
<img width="272" alt="Screenshot 2021-03-11 at 08 42 25" src="https://user-images.githubusercontent.com/28104368/110752644-d605f100-8245-11eb-8c5d-79833a80f370.png">

And it seems this "fix" made it worse. Now not even my workaround works anymore... same tests run and on clear cookies they are just still there. Executing the clear manually clears them....

[2021-03-11 08:50] LNTS2021 commented on #9542
Same here, but:
1. A colleague has the same version of postman (8.0.7), like me, without the issue. We checked all our postman settings, browser settings, all the same. I imported his collection. Issue is still there.
2. The workaround doesn't work for me because, the web service I call, allows only the Edge browser for the authentication.

[2021-03-11 09:01] aprisniak commented on #6712
Same issue.

[2021-03-11 09:35] vvs11 commented on #9707
@zmharker We have made the trailing whitespaces visible in the URL bar. We don't want to restrict any use case that users might have since Postman is a debugging client. Users in some cases would want to test how the servers would respond to some scenarios. If you think the whitespace is not very visible, we can take that as a feature and plan it in our roadmap.
However, we are still debating abou

[2021-03-11 09:35] #9707 closed, assigned to nobody

[2021-03-11 09:37] vvs11 commented on #9712
@erikruser That's an interesting feature request. Could you help us understand your use-case for environments a bit more and how do you end up with so much duplication.
Also, consider trying out collection variables if that could help you reduce the duplication of environments

[2021-03-11 10:55] arlemi commented on #2906
So the `_postman_id` will keep being updated whenever you **import** a collection, Postman considers that this is a new collection and therefore assigns a new id to it. If you keep on exporting the same collection, that id shouldn't change.

Have you tried if duplicating the requests was getting rid of the script ids? Otherwise recreating them, or removing the ids manually are the only things I ca

[2021-03-11 13:36] kbping commented on #9709
I've tried twice to send a recording, Danny. The last one was about 13.5Mb,
the first about 15.5Mb. Both emails have bounced back. I don't know what
the limit is on your side (it's 25Mb on mine), but I'm not going to be able
to send a recording apparently.

Current status is the same: Postman opens properly for a collection, with
the documentation panel displaying correctly.  When I select View
Do

[2021-03-11 14:20] SabriH10 opened #9716 "Clicking “Use Token” in the Authorization flow should also save the changes"
**Is your feature request related to a problem? Please describe.**

When going through the Authorization flow, users need to click “Use Token” but still require to save the changes to then apply this new token across the collection. This isn’t very intuitive and adds an extra step that can easily be missed.

**Describe the solution you'd like**

Clicking on “use token” also saves the changes witho

[2021-03-11 14:46] ravisaluru opened #9717 "Ability to update the Collection"
**Is your feature request related to a problem? Please describe.**
I'm always frustrated when there is a new endpoint released from our code and I have to delete the postman collection and re-import the collection every single time. When we import the collection, we can use various methods, one such option is to upload via URL, and then it creates the collection based on the swagger.json. This is

[2021-03-11 15:30] bean5 commented on #8459
Both version 7 and 8 have a default that is used until the user's settings are loaded. Version 7 was far less harsh on the eyes. I think it used a tan/beige. Neither seem to have the ability to default to dark theme until loading is complete nor defaulting to last used theme until finished starting. That would be nice to have.

[2021-03-11 16:35] tparikka commented on #2086
Also hoping for this feature.

[2021-03-11 16:52] mb-ing opened #9718 "Bug: Connection fails for wildcard TLS certificate if custom host header is set"
**Describe the Issue**
When the server provides a wildcard TLS certificate and the host header contains anything else than the exact hostname as in the URL, the connection fails with the following error in the console:

`Error: Client network socket disconnected before secure TLS connection was established`

(Note that I also used a client key and certificate in my requests.)

When copying the `cu

[2021-03-11 17:00] timbochamp commented on #9030
@nils-work I think I spoke a bit too soon in my initial comment where I am seeing the same behaviour as before when I import the collection run in terms of skipped tests being shown as failed:
![imported collection wrong colour for skip](https://user-images.githubusercontent.com/4521134/110823939-f1cebe80-8268-11eb-886e-8a4b99aa35ec.png)
I reopened this issue and we're chatting internally to have

[2021-03-11 17:01] DannyDainton commented on #9626
Opening this again after seeing another user raise the same question on our community site.

https://community.postman.com/t/clicking-on-postman-environment-quick-look-does-nothing/21278

[2021-03-11 18:44] amandabot opened #9719 "Find and Replace text boxes reverse text direction after selecting text with the cursor"
**Describe the Issue**
In the find and replace section, when text is highlighted with a mouse, any further text comes out in the reverse direction. This happens in both the Find and the Replace text boxes.

It seems to specifically happen if the cursor goes outside the boundary of the Postman window; if I use CTRL+A or select the text without the cursor leaving the window, the text goes in the cor

[2021-03-11 18:45] Stanley-G commented on #9715
That absolutely did the trick! Thanks a lot, @XkOder!

[2021-03-11 18:55] timbochamp commented on #9719
Hi @amandabot , thanks for bringing this to our attention! I'm able to reproduce this and will log a bug for us to address

[2021-03-11 23:01] jiteshk11 commented on #7210
Waiting for this feature for long time now!!!!

[2021-03-11 23:51] erikruser commented on #9712
I have a service that I maintain. It has several other services that it depends on. My service lives in several different environments, e.g. Dev, Test, Staging, Prod. Dev is my personal environment. Test is a shared environments for my team, and Staging is shared by all teams. The owner of the downstream service has no interest in spinning up and maintaining an instance for every one of my environ

[2021-03-12 00:20] thilllon commented on #2086
+1

[2021-03-12 00:31] nrmartell opened #9720 "Adding links to Pull Requests in Desktop Application"
**Is your feature request related to a problem? Please describe.**
User pointed out the frustration of not being able to grab a link for a PR in the native application, this is possible in the Web app, but is still not super intuitive

**Describe the solution you'd like**
Add a button to grab the link of a PR to share with teammates/collaborators

[2021-03-12 03:03] johnwyles opened #9721 "[FEATURE REQUEST] Workflow Control Logic Should be Represented in the GUI"
**Is your feature request related to a problem? Please describe.**
I think adding the ability to do Workflow Control in Postman is one of the biggest things not yet in the tool that, if done correctly, could really take it to the _next level_. As it stands Workflows for a Collection are defined in code and hidden away in either the Pre-request Test or Test tabs. Therefore deriving, changing, or ad

[2021-03-12 04:50] TylerSustare commented on #4009
I think this might make me go back to Postman instead of using Insomnia

[2021-03-12 06:08] bbm-on-github commented on #9716
in postman 7 a  "save token" button appeared
at least this would be useful

[2021-03-12 06:23] Pricilla09 commented on #9626
@mohitranka Thanks a lot for your reply. I have logged #70137 ticket. Please let me know if I need to provide any other details :-)

[2021-03-12 08:48] esbenbach commented on #2934
And still there is nothing :(
Postman is focused on fancy stuff, supporting "enterprise" use cases is not "fancy", so we are left hanging.

Time to consider a switch to something else.

[2021-03-12 09:51] lordldx commented on #8837
@bodograumann I have to disagree.
OAuth2 states that a scope is optional, which means it's ok to not specify any scope. It is not ok to specify an empty scope.

So if you don't define a scope in the authorization tab, then the authorization request being sent should completely omit the scope field, instead including it with an empty value.

[2021-03-12 10:26] kilimandzsaro opened #9722 "Using global variables URI in run"
Hi,

**Problem**

My team is using postman collections in CI with environments. We are using the url of the environment to run our collection (with newman) (`-e https://api.getpostman.com/environments/<UUID>`)

Also we have some global variables which works as quazy constants.

Recently I tried to use newman's "-g" switch to setup the tests with not only the environment variables, but with global

[2021-03-12 11:08] teohm commented on #2934
Anyone has a better alternative than Postman? :)

On Fri, 12 Mar 2021, 16:49 Esben Bach, ***@***.***> wrote:

[2021-03-12 11:14] Chaakar commented on #9701
Same issue. After this major update with the very inconvenient redesign, in case if you work with the local collection, start up very slowly, history is cleared, so the tabs which are using requests from history fails with errors. Navigation between requests in history is also very slow. Before the update, it was almost instant, now it can load the whole minute
Postman version: 8.0.6

[2021-03-12 11:29] kkalavantavanich commented on #2700
Any progress on this? It's been 3 years already...

[2021-03-12 11:29] kkalavantavanich commented on #2700
Any progress on this? It's been 4 years already...

[2021-03-12 11:54] DannyDainton commented on #9701
Hey @Chaakar,

As you are describing certain UI areas and perceived performance, can you expand on the details and provide images or a screen recording so that it's clear what is currently happening for you.

[2021-03-12 12:12] hejplis12 opened #9723 "Permanently Moved response (301) is redirected via GET method"
If POST request with POST params was executed and server returns 301, POSTMAN executed second request (with redirect URL) with GET method.

The second request needs the same method as first one.

[2021-03-12 12:19] DannyDainton commented on #9723
Hey @hejplis12

Is the same thing happening with the `Automatically follow redirects` disabled?

![image](https://user-images.githubusercontent.com/17089546/110939035-aed61f00-832c-11eb-9b12-c9538d325e04.png)

Would you be able to expand on the issue you're describing, please? Attaching recording and screenshots will help too.

Also, you haven't mentioned any environmental details about the platfo

[2021-03-12 12:40] hejplis12 commented on #9723
Ah, sorry for that.
I'm working on Windows with Postman v8.0.7

 When the `Automatically follow redirects` is disabled it will return 301 correctly.

I call request via POST with xml post body. Server response with 301 and new URL and when Postman try to execute the new URL it will fall with 405 error because new URL needs POST request (same as first one) but Postman send GET.

![2021-03-12_13h34_

[2021-03-12 12:42] DannyDainton commented on #9723
There is also another setting below the one you have on the second image:

![image](https://user-images.githubusercontent.com/17089546/110941419-42f5b580-8330-11eb-924d-6063fae1b32c.png)

[2021-03-12 12:45] hejplis12 commented on #9723
Ok, thats it. Thanks for help and your time. You can Close this issue.

[2021-03-12 12:46] #9723 closed, assigned to nobody

[2021-03-12 13:33] dpoetzsch commented on #8837
I can confirm what @lordldx said, it is still the same problem in version 8.0.7.

[2021-03-12 13:52] mhowes82 commented on #8844
Hi @jotsarup , is there an update on when the GitLab integration might be updated with this feature? We're planning to move our APIs to Postman using a GitLab repo and would love to be able to sync collections. Thanks!

[2021-03-12 17:56] uuf6429 commented on #9049
I have the same problem... and frankly, the "restart a few times" approach reminds me of the reliability of Windows 98...
Just saying, if it's a bug it's a bug.

[2021-03-12 18:18] jackvaughanjr commented on #8690
I'm experiencing the same issue today with 8.0.7. After installing Postman on a fresh build on Server 2019, it does something to ntdll.dll that then causes the server to hang on reboots and also stops GitHub Desktop from opening.

[2021-03-12 19:29] christophla commented on #2934
Based on their 3 year lack of response? Pretty much anything is better than
Postman. We bailed ages ago.

On Fri, Mar 12, 2021 at 5:08 AM Huiming Teo ***@***.***>
wrote:

--
Christopher

[2021-03-13 00:02] M4THYOU commented on #4009
@fmvilas Thanks for letting us know!

[2021-03-13 00:48] kool79 opened #9724 "Cannot use 2 different accounts in different postman windows"
I have more than 2 accounts in postman. One private and several paid accounts which I use at work (they are offered by companies for which I do my work)
  Sometimes I need to work in 2 accounts at the same time. But when I open new postman window and try to switch account then in 1st window account also switched.

[2021-03-13 00:52] kool79 commented on #9278
I dont see this ussue with new postman v8 version. Co can be closed.

[2021-03-13 00:52] #9278 closed, assigned to nobody

[2021-03-13 01:05] kool79 commented on #9724
Also when I select another account I lost all my changes in 1st window without any warning

[2021-03-13 06:20] maqsimum commented on #4823
An API could have multiple requests with different methods. An API in Postman world gets converted to collection and multiple requests. A collection upon publishing becomes a unique URL.

One product could have multiple APIs i.e. login, profile, products, transactions etc. Any product which is meant for the developers would always be intending to publish its APIs to its consumers and thats where t

[2021-03-13 07:32] arpitbatra123 commented on #9186
Hey, @roseechoii @cikent We've fixed the issues happening in the Bootcamp lessons. Please try out the lessons and let us know if you're still facing these issues.

[2021-03-13 07:33] arpitbatra123 commented on #9118
Hey @k-byun, We've fixed the issues happening in the Bootcamp lessons. Please try out the lessons and let us know if you're still facing these issues.

[2021-03-13 20:17] gebbber commented on #9097
The problem is that the website tells you to download it, and implies that it's a standalone local app, but doesn't explain that the intent is still to work in the web app.

[2021-03-14 06:35] salarzaidi commented on #9481
same issue

[2021-03-14 08:49] sanghvian opened #9725 "Link to read documentation after completing a tutorial is messed up"
**Describe the Issue**

Every time a tutorial finishes, link to additional documentation shows up. However, it appears in **pure URL form alongside non-converted markdown** instead of a clickable link

**Steps to Reproduce**
Change code in files handing the bootcamp

**Screenshots or Videos**
![Screenshot from 2021-03-14 10-47-37](https://user-images.githubusercontent.com/69717009/111062585-c994c9

[2021-03-14 08:54] DannyDainton commented on #9725
Hey @crew-guy

Thanks for reporting this issue with the markdown parser on that notification, can you confirm the version please as that looks like the  v7 app but you have V8 listed.

This part of the product isn't open source so it will be handled by the team.

We appreciate the offer though ❤️

[2021-03-14 09:04] crew-guy commented on #9725
Hey @DannyDainton

I just checked the version. You were right ! It is **version 7.36.5** 😅
Thanks a lot for addressing this issue !!

[2021-03-14 11:05] sanghvian opened #9726 "Visualize not working well in dark mode"
**Describe the Issue**
Visualization of response not working in dark mode

**Steps to Reproduce**
Enable dark mode and try to visualize response hit at this example endpoint - postman-student-expert.glitch.me

**Screenshots or Videos**
![Screenshot from 2021-03-14 15-24-45](https://user-images.githubusercontent.com/69717009/111066020-e8508b00-84e2-11eb-945c-6b4924962dc5.png)

**Environment Informa

[2021-03-14 11:09] DannyDainton commented on #9726
Closing as this is a duplicate of https://github.com/postmanlabs/postman-app-support/issues/9505

[2021-03-14 11:10] #9726 closed, assigned to nobody

[2021-03-14 11:22] DannyDainton commented on #9724
Hey @kool79

It seems like you have missed out a lot of the necessary information from the issue template including the environment details (native app / postman on the web) and versions.

Screenshots and/recordings would be helpful to help us to know what's going on.

If you're using the Web app, I would recommend opening a private/incognito window when using multiple accounts to prevent issues w

[2021-03-14 16:15] mfulton26 commented on #5164
I ended up using [mountebank - over the wire test doubles](https://www.mbtest.org/) for my solution at that time but I haven't used Postman, WireMock, or Mountebank for over a year now. I would be open to a call but it has been so long and I am not currently an active user of Postman so I don't think I could provide more insights then what I can via plain text at the moment.

My best wishes.

[2021-03-14 23:24] cessenagano commented on #9346
Hi, is your client certificate working on mac m1 while you are connected to vpn?

[2021-03-15 01:07] postman-support commented on #9715
Hey @Stanley-G

Glad that helped!

And that's an excellent question! Postman's community forum would be a great place to ask that: https://community.postman.com/
Our engineers frequent the community forum regularly and I'm sure they would love to provide more insight into the inner workings.

As for this GitHub issue, given we have a solution, I will close this out next.

via @xk0der | Postman Sup

[2021-03-15 01:07] #9715 closed, assigned to nobody

[2021-03-15 01:08] postman-support commented on #9715
Hey @Stanley-G

Glad that helped!

And that's an excellent question! Postman's community forum would be a great place to ask that: https://community.postman.com/
Our engineers frequent the community forum regularly and I'm sure they would love to provide more insight into the inner workings.

As for this GitHub issue, given we have a solution, I will close this out next.

via @xk0der | Postman Sup

[2021-03-15 01:47] Kaid00 commented on #8267
@marcelom56 Once you've extracted the zip Postman from the downloaded zip file, drag and drop the application into your application folder, once in there double click and select `Show package content`, then navigate through the following folders `content`->` MacOS`. In the MacOs folder, open the Postman exec with the terminal

[2021-03-15 03:21] bavulapati commented on #9708
@rahveiz Please help us investigate the root cause of the problem with the logs. We request you to share the additional network log information for understanding the issue better. We suggest you to use canary application for generating these logs, so that your existing application and data is not impacted.

Please find the following instructions for generating the logs.

1. Download and install th

[2021-03-15 06:01] shamasis commented on #2700
@kkalavantavanich you mean the wildcard support or reading from keychain? Wildcard support is already present.

The reading from keychain is not going as reliable and easy as we had originally thought. Tonnes of on-install compilation binaries from the open source projects such as keytar that we explored.

We may not eventually support this.

[2021-03-15 10:25] rahveiz commented on #9708
@bavulapati Hi, is there any other kind of logs that I can include as well ?
I don't think the error will be logged on the network log as nothing is sent (based on what I've seen on the DevTools).

[2021-03-15 11:34] acence commented on #7414
Copy the value from initial, and paste it in current value column, it will start working. If you just put it in initial, it auto-populates it, but it doesn't work.

[2021-03-15 13:25] #6535 closed, assigned to godfrzero, anudeepmedicharla, charlie-postman

[2021-03-15 13:26] Hayk-S commented on #6535
Closing as with the new UI changes this issue no more exists.

[2021-03-15 17:48] lex57ukr opened #9727 "Allow editing request documentation in a separate tab"
**Is your feature request related to a problem? Please describe.**
It's inconvenient to edit or create new documentation in the far right panel (especially on wide monitors). The far right panel is ideal for viewing but is inadequate for writing comprehensive documentation.

**Describe the solution you'd like**
Support transitioning the Documentation editing pane to its own tab.

**Describe altern

[2021-03-15 18:18] timberzen opened #9728 "Copy and Paste"
**Is your feature request related to a problem? Please describe.**
I'm always frustrated when I try to copy from one large collection to another, eg from my DEV collection to my UAT collection, and unlike Windows File Explorer I cannot Drag and Drop a file to the destination because its not in view.
When I am on a 4K screen with the font small when everything is to view its possible.

**Describe t

[2021-03-15 18:35] maccer83 opened #9729 "Mac 8.0.7 client: environment variable exists, but is not replaced by its value when making call"
**Describe the Issue**
Some environment variables suddenly stop being used when making calls.
The variables exist when looking at the variables list for the environment or when hovering over the variable name in the URL field.

**Steps to Reproduce**
1. Insert a variable to the url.
2. Hover with the mouse over it, and see that it does exist in the chosen enviroment
3. Make a call.
The variable is

[2021-03-15 18:43] danjob opened #9730 "auto dark mode depending on system preference"
**Is your feature request related to a problem? Please describe.**
I'm always frustrated when I need to go to the config to set dark mode manually.

**Describe the solution you'd like**
An option to activate dark mode automatically depending on the system preference.

**Describe alternatives you've considered**
Maybe add this option under the menu that exists already.

<br>

<img width="708" alt="

[2021-03-15 19:22] #9325 closed, assigned to nobody

[2021-03-15 21:31] DannyDainton commented on #9730
Closing this one out as it's a duplicate of https://github.com/postmanlabs/postman-app-support/issues/8075

[2021-03-15 21:31] #9730 closed, assigned to nobody

[2021-03-16 00:53] fhirfly commented on #2934
+1 on a fix.  this is a standard for oauth

[2021-03-16 01:10] LeviHarrison opened #9731 "Add YAML Support to Raw Body"
**Is your feature request related to a problem? Please describe.**
Sometimes, I have to make requests with a body formatted in YAML. Especially because of how important spacing is, it's annoying not to have a format option for it.

**Describe the solution you'd like**
A would like a YAML option added to the raw text body, which both handles spacing and adds syntax highlighting.

**Describe alterna

[2021-03-16 07:11] Holinc19 opened #9732 "Create a request through code snippet"
I can copy code snippet if I have created the request, but it is unable to create a request with code snippet.

[2021-03-16 07:34] DannyDainton commented on #9732
Hey @Holinc19

Can you expand on the usecase here please, not really sure I understand what you're trying to do.

The curl snippet created is probably the only one that could be turned into a request in the app, via the import feature.

[2021-03-16 08:34] Holinc19 commented on #9732
nice, that's what I need.

[2021-03-16 08:34] #9732 closed, assigned to nobody

[2021-03-16 09:22] LukeXF commented on #8040
Is there any official response on this?

[2021-03-16 09:27] rishipurwar1 commented on #9699
@DannyDainton Can I work on this issue?

[2021-03-16 09:42] xcc2 opened #9733 "Stupid software！After landing, all the collections are emptied! You have to be responsible for that！"

[2021-03-16 09:45] ankit-m commented on #9711
@pozil Thank you for filing this issue. As of now, we only send notifications to PR reviewers. However, we are working on better notifications at a collection and workspace level so that people can stay up to date. I will update this thread once it is released.

[2021-03-16 09:47] ankit-m commented on #9720
@nrmartell Thank you for filing this issue on user's behalf. I understand the concern and we are looking to introduce better ways to share PR links from the native app. I will keep this thread updated.

[2021-03-16 09:49] DannyDainton commented on #9733
As there is nothing constructive here - I'm going to close this issue.

If there are more details about your situation that you would like to share and allow us to look closer at the problem, please use the template provided.

[code]

[2021-03-16 09:49] #9733 closed, assigned to nobody

[2021-03-16 09:56] DannyDainton commented on #9727
Hey @lex57ukr

In the request context menu, at the bottom of the Documentation section, you will see this option:

![image](https://user-images.githubusercontent.com/17089546/111290013-9ff9b000-863d-11eb-8b39-ea5ba0e16c81.png)

This would open the full documentation in a new tab where you would be able to edit each part of it:

![Screenshot 2021-03-16 at 09 55 30](https://user-images.githubusercon

[2021-03-16 10:51] bavulapati commented on #9708
@rahveiz The logs you will be providing include network logs as well as postman logs. We will try to analyze the logs and come back to you if we need additional information for understanding the issue better.

[2021-03-16 11:49] dineshvarmabudagam opened #9734 "Disable the "Run in Postman" button on published document"
we want to publish the api documents and we want to share this documents with clients so it’s unprofessional and bad if my company’s official API documentation shows another company’s logo/information(Run in Postman) at the top of it.
I can understand this sort of thing for the Free service, but not the paid Postman Pro service. we dont want this Run in Postman Butoon on my published document. Ple

[2021-03-16 12:11] DannyDainton commented on #9734
This request has previously been raised closed.

https://github.com/postmanlabs/postman-app-support/issues/5465

The text of your request also looks like it's been taken from this comment - https://github.com/postmanlabs/postman-app-support/issues/5465#issuecomment-538803080

[2021-03-16 12:56] dineshvarmabudagam commented on #9734
May I know the resolution for above query???

[2021-03-16 13:34] shamasis commented on #7210
Newman and Postman App shares the same core code. As such these become exponentially difficult to build.

- direct access to OS environment variables seems something that will not fit the abstractions

- reading files from a repository / specified folder is something we need to align on. This is already available in Postman app (not exactly the feature discussed in this thread, but the ability sto

[2021-03-16 13:37] DannyDainton commented on #9734
The originally posted issue (linked in my comment) from which your comment was taken, was closed.

I don't believe there is going to be an option to disable the `Run in Postman` from the Postman created documentation.

[2021-03-16 15:20] rishipurwar1 commented on #9728
Can I work on this issue?

[2021-03-16 15:21] rishipurwar1 commented on #9728
@DannyDainton Can I work on this issue?

[2021-03-16 15:31] lex57ukr commented on #9727
@DannyDainton -- this is close enough. It's not obvious though. It doesn't imply the editing capability and one should navigate to the appropriate section to edit.

It would have been better if there was a second link, e.g. "View this documentation", which would either navigate to the current request's docs OR load up only that particular request's docs in a tab. I guess this is relevant for rich

[2021-03-16 15:31] #9727 closed, assigned to nobody

[2021-03-16 15:44] juvarebkaplan opened #9735 "Postman Runner - Re-Execute Tests on Failed Runs"
I have an API which I hit which contains one variable (OrderID), ex:

https://xyz.abc.com/api/v1/{{OrderID}}/update

I run multiple tests against different order types using a CSV file that has approximately 1,000 OrderIDs. When I run the tests via Postman Runner, sometimes a few tests fail. I would like the ability to re-run the failed tests only as opposed to having to re-run the entire CSV file

[2021-03-16 15:47] DannyDainton commented on #9727
Each Collection also has this option to view the documentation without the need to go to the context menu option:
![image](https://user-images.githubusercontent.com/17089546/111338386-cf74e080-866e-11eb-99aa-5dbf4175d0f4.png)

[2021-03-16 15:52] jweller24 commented on #9626
I am experiencing this issue as well in Postman Version 8.0.7. I only have 1 environment with ~50 variables. I noticed that if I switch the environment next to the Quick Look button to "No Environment", I can click the eye and view the Global Variables.

Let me know if there is anything I can provide for further troubleshooting.

[2021-03-16 15:52] lex57ukr commented on #9727
That "View documentation" option opens the same view for me without navigating to the actual section of the doc, i.e. it is equivalent to the "View complete collection documentation" in its function.

[2021-03-16 16:02] BerlijnGiscdic commented on #4253
+1 we've been waiting for too long now

[2021-03-16 16:20] DannyDainton commented on #9728
@rishipurwar1 That part of the platform is not open source and any work on this area would be handled by the internal Postman team.

[2021-03-16 16:23] rishipurwar1 commented on #9728
No Problem 🙂

[2021-03-16 16:37] VShingala commented on #8956
@DannyEnsink As mentioned in OpenAPI specification ([source](https://github.com/OAI/OpenAPI-Specification/blob/master/versions/3.0.3.md#fixed-fields-10)), `Content-Type` header definition is ignored. You can mention the exact media type (with parameters) as part of content object. In your case you should mention exact content type under content object instead header as below.

[code]

As mentioned

[2021-03-16 16:37] #8956 closed, assigned to nobody

[2021-03-16 18:00] jez9999 opened #9736 "Endpoint should be 'no auth' when empty JSON object specified for security"
I've been [talking to](https://github.com/microsoft/OpenAPI.NET/issues/521#issuecomment-753003830) the maintainer of OpenAPI.NET on Github, and he says that the way I should override an operation to indicate "anonymous" is to get OpenAPI.NET to render a new security section with an empty JSON object in; for example:

[code]

In addition, this has been brought to the attention of the `swagger-ui` p

[2021-03-16 18:08] jez9999 opened #9737 "Add an option to avoid generating 'response' leaf nodes for API collections"
When I use the APIs "Define | Generate Collection" button to generate a collection for my API definition, the collection generated has an "e.g. Success" leaf node for every single endpoint in the collection, which I guess corresponds to the JSON's `"responses"` section.  I don't remember these leaf nodes being there before so I think they've been added recently.

These leaf nodes are just noise fo

[2021-03-16 18:53] lflucasferreira commented on #9573
I just gave up.

I installed it manually, follow this instruction if you are anxious like me:
[https://gist.github.com/lflucasferreira/62f54cd41aa5608431c704e1ff7e4b81](https://gist.github.com/lflucasferreira/62f54cd41aa5608431c704e1ff7e4b81)

[2021-03-16 19:24] rajat12a opened #9738 "Overview Tab count mismatch"
**Describe the Issue**
Seeing the count mismatch in overview tab for mock server for a certain workspace
It shows 1 mock server but under mock server tab it says no mock server present

**Screenshots or Videos**
<img width="1680" alt="image" src="https://user-images.githubusercontent.com/17059581/111367615-eb05d880-86ba-11eb-8c9b-f617cc8bd53f.png">

**Environment Information**
 - Platform Type: Po

[2021-03-16 19:28] Yuvashkenazi opened #9739 "Postman crashes on large response size (>50MB)"
**Describe the Issue**
I changed the Max response size from the default 50MB to 0 because I was expecting a large response (stress testing my DB). When I send the POST request to my DB the app shows 200ok in the first ~5 seconds, but then Postman crashes.

**Steps to Reproduce**
1. Settings>General>Max response size in MB set to 0.
2. Make a request with a large response size.
3. App crashes.

**E

[2021-03-16 19:46] MEdmisonWork commented on #9481
I'm on version 8.0.7 and I can't connect to wrokspace in this version, and I also can't connect to web version.

This is when I'm behind our VPN that uses a Web Gateway, and if I disconnect from firewall it would work.
We have a exception for PostMan to pass with our network team as it worked before this update.

Not sure if you want my logs or not, let me know.

[2021-03-16 20:16] yobyot commented on #6236
I would find the ability to control _all_ workspaces to be useful as well. I've sometimes renamed the default workpaces, used them, forgotten they are not deleteable and wasted time relearning that fact.

[2021-03-17 07:18] volkoff-git commented on #285
+1
guys.. come on )
if promt not allowed just create come custom popup in interface.

[2021-03-17 07:33] GAnatoliy opened #9740 "Initial value column takes values from current value"
Hello,

There is incorrect behaviour with initial values (environments) after update to  v8.0.7
I write PASSWORD_STUB text to the initial value and actual password to the current value.
But after some time if I open environments tab (after some request, etc) I see that current value copied to the initial value,
so I assume that my password will be shared with team, that isn't desirable behaviour.

[2021-03-17 07:47] GAnatoliy commented on #9740
I have noticed information that it is new feature and it is behaviour by default for old users.
I assume that bug can be closed.
I just don't think that it is good idea to make this behaviour by default, as far as I undestand by passwords were shared with team.

[2021-03-17 07:52] DannyDainton commented on #9740
Hey @GAnatoliy

Are able to provide some reliable step to reproduce this issue?

If you need to use an endpoint to recreate the scenario, you can use https://postman-echo.com/get

Without those reproducible steps, it's difficult to tell what is happening as you mentioned things like 'after some time', 'after some requests' as those are quite vague and alot of things could have happen to your whole

[2021-03-17 08:20] HenrikHolmIT commented on #9705
Please add an option to not have it expanded when clicking the name. That is a really annoying behavior and will clutter the Requests list pretty quick. If this option exists and is checked then clicking the > icon should still expand. Only when clicking the name to bring up the properties of the request should it not expand.

[2021-03-17 08:33] postman-support commented on #9740
Hi @GAnatoliy,
Thanks for reaching out.

If I understand correctly the initial value of the variable gets overwritten by the current value of the variable right?
Can you please check if you have the option **Automatically persist variable values** turned on - if yes, can you make sure to disable it.

If the option '**Automatically persist variable values' **is enabled then the initial value of you

[2021-03-17 08:37] DannyDainton commented on #8006
Hey @HenrikHolmIT

This is now a feature within the V8 app, I'm going to close this issue out.

[2021-03-17 08:37] #8006 closed, assigned to vkaegis

[2021-03-17 09:24] devintaietta commented on #9481
Same here, disabling SSL certificate validation and using trusted cert authority not resolve the issue, anyway in logs I see
{"code":"SELF_SIGNED_CERT_IN_CHAIN","name":"Error","message":"self signed certificate in certificate chain"

[2021-03-17 11:05] AndreyBespamyatnov commented on #2701
Crazy, from 2017 they can not do that, it is a time to evaluate alternatives.

[2021-03-17 13:24] QualityRobD commented on #8038
Postman has literally become unusable, would love this to be implemented and fixed.

[2021-03-17 14:05] Ian1971 commented on #3694
I don't get why this is still missing. Seems obvious. A weird work around is that I can get the code snippet and run it via something else, but not in postman.

[2021-03-17 14:08] pward123 opened #9741 "macos postman.app Collection Variable page changes do not take effect"
**Describe the Issue**
Collection Variable page seems completely disconnected from rest of system.

**Steps to Reproduce**

1. Create new workspace
2. Create new collection
3. Select Variables tab under new collection's editor
4. Create a `url` variable
5. Change `Current Value` for `url` to **http://localhost:9999**
6. Press the `Persist All` button
7. Expand the collection and click `Add a reque

[2021-03-17 14:13] pward123 commented on #9741
User error. Please disregard

[2021-03-17 14:13] #9741 closed, assigned to nobody

[2021-03-17 14:17] DannyDainton commented on #9734
Closing this issue for now.

[2021-03-17 14:17] #9734 closed, assigned to nobody

[2021-03-17 14:20] ziegenberg commented on #6452
It was suggested by the postman support to use 2FA with a Google account to log in, but that's not really an option if you don't want to or cannot use Google accounts.
Implementing 2FA/MFA would be really nice. Simple software tokens (like TOTP) for starters and maybe hardware token (U2F) in a later iteration.

[2021-03-17 14:24] numaanashraf commented on #5601
We've been unable to replicate this issue and we have also put in place automatic backups to disk during updates to help recover data in case isolated events like this happen again. Closing this issue.

[2021-03-17 14:25] #5601 closed, assigned to nobody

[2021-03-17 14:31] Pricilla09 commented on #9626
@bkonetzny @jweller24 I had a call with @mohitranka. He is now looking into the issues. Watch this space he will keep us updated on the fix :-) Until then please use the workaround by navigating to the "Environments" tab to see the variables.

[2021-03-17 14:45] DannyDainton commented on #9626
@Pricilla09 Were there any specific details about your set up which helped to recreate the issue?

[2021-03-17 15:00] schadsey opened #9742 "Unable to open request in a new tab"
Postman v8.0.7 on Linux

When a request is open in a tab, I can no longer open another copy of that request in a new tab. This was possible in previous versions (whatever the version was before the recent UI update). What I've observed:
* Clicking the request in the collection will always go to the tab for that request (expected)
* Right-click the request > Open in tab: new tab not opened. Tab con

[2021-03-17 15:15] joshuabryson opened #9743 "Setting Environment Variable (via right click) fails for large variable values."
**Describe the Issue**
A user is able to set environment variables by right clicking a item in the return from a network request. However (it seems) that if too much text is selected (in my case when trying to set the JWT environment variable) the right click stops working. You can still command-c the text, but the right click menu doesn't show up. It doesn't appear to be an OS issue, as the same

[2021-03-17 15:21] mtaylorfsmb opened #9744 "Authorization inheritance seems broken in newest version for OAuth"
We have a collection that uses OAuth2 bearer tokens. In the collection root we have configured OAuth to authenticate against our endpoint. Requests inherit the authorization from the collection.

In previous versions to send a request we would go to the collection's authorization UI and request a new token and use it. Then switch to the request tab and send a request and it worked. With the curren

[2021-03-17 15:44] DannyDainton commented on #9742
Hey @schadsey

Does right-clicking on the request tab in view, not give you the option to `Duplicate Tab`?

[2021-03-17 16:13] Quaternions commented on #9659
Issue#3 was the reason I came here.  I was going to suggest we have a setting option that allow us to turn off or on examples in the collection tree.  I'm working a major project with 3 backend teams.  Our API currently has over 200 endpoints currently.  These examples make browsing the collections very frustrating.  Especially when the examples auto-expand every time you double click on an endpoi

[2021-03-17 17:39] dlukowski-smarsh commented on #2701
After so much invested in Postman, I'm now going to have to shift to insomnia because of lack of http2 support.

[2021-03-17 17:56] mtaylorfsmb opened #9745 "Bad test causes UI to freeze"
**Describe the Issue**
I have a working request that I'm adding a test to for checking the results. The test script, when run, causes the UI to stop responding indefinitely. The only workaround is to terminate it in Task Manager. Removing the test script allows the request to work correctly. Trying to cancel causes the UI to be unresponsive as well.

**Steps to Reproduce**
1. Create a simple reque

[2021-03-17 18:16] schadsey commented on #9742
@DannyDainton : yes, `Duplicate Tab` is available and provides the functionality that I'm looking for, thanks. Previously I was using a right-click option on the request in the collection (my report didn't mention that), but I can start using this method.

[2021-03-17 18:18] DannyDainton commented on #9742
That's great. Some items have moved around/changed in the new V8 UI update.

Going to close this issue out as you have found the solution.

[2021-03-17 18:18] #9742 closed, assigned to nobody

[2021-03-17 19:37] DrCarleeknikov commented on #9743
Hmm.. On further investigation, it seems that this is only an issue on my second monitor (an old Apple Thunderbolt Display). When right clicking on the main MBP display, their is no issue. Given that I've experienced similar issues on other applications and have noticed that those issues only happen when the event is triggered on the Thunderbolt Display (and not even when its on a different second

[2021-03-17 19:37] #9743 closed, assigned to nobody

[2021-03-17 20:44] klmttolax commented on #6643
I am now seeing this issue on version  8.0.6 (8.0.6)

[2021-03-17 22:40] postman-support commented on #9686
Hey @senthilvadivu123,

I hope all is well! I just wanted to follow up on my previous message - are you still experiencing the issue here?

If there's anything I may help you with, please do let us know.

via @taehoshino | Postman Support

[2021-03-17 22:41] postman-support commented on #9690
Hey @polydectes,

I hope all is well! I just wanted to follow up on my previous message - are you still experiencing the issue here?

If there's anything I may help you with, please do let us know.

via @taehoshino | Postman Support

[2021-03-17 23:23] matthew-jones-uk opened #9746 "Native Wayland Support"
**Is your feature request related to a problem? Please describe.**
There's no native Wayland support with Postman, XWayland has to be used.

**Describe the solution you'd like**
Support for Wayland as XWayland isn't great, especially with mixed DPI environments.

**Describe alternatives you've considered**
N/A.

**Additional context**
Electron 12 introduced (nearly) full Wayland support, would it

[2021-03-18 00:14] F-shaikh commented on #9626
The edit button in the quick look also does nothing and simply closes the modal..

[2021-03-18 01:12] E-Thang opened #9747 "Postman generated documentation uses initial value of environment variables instead of current value"
**Describe the Issue**
Postman generated documentation seems to use the initial value of environment variables instead of current value. Collections/runners use the current value. This difference is confusing. I don't see this behavior documented anywhere, so I'm assuming it's a bug. A second part of this is that the documentation feature seems fine with a variable that resolves to an empty string

[2021-03-18 02:36] senthilvadivu123 commented on #9686
Hi,

      Thank you for reaching out. I am using canary version as suggested.

Thank you,
Senthilvadivu

On Wed, Mar 17, 2021 at 3:40 PM Postman Support ***@***.***>
wrote:

--
Vadivu

[2021-03-18 03:53] postman-support commented on #9686
Thank you for getting back!

I am glad to hear that Canary version is working for you.

Please let us know if there is anything else we may help you with. We'd be more than happy to help!

via @taehoshino | Postman Support

[2021-03-18 06:51] DannyDainton commented on #9626
Hey @F-shaikh

Can you provide a short recording of that behaviour please?

Are you sure that the environment is not already open in a tab, so it just appears that it does nothing.

[2021-03-18 07:32] F-shaikh commented on #9626
@DannyDainton Yes i'll have that recording for you tomorrow.

Im positive its not already open in a new tab.

Additionally, I cannot even open requests without forcefully clicking "open in new tab"..

[2021-03-18 07:43] DannyDainton commented on #9626
It seems like you have a few different things happening here for you, I don't want to try and squeeze it all into this issue.

Can you open up a new issue with all the details so we can take a look at what's going on.

The best thing to do, if it's a UI based problem, is to visually show that happening with a screenshot or a video.

[2021-03-18 07:45] gabel commented on #8245
@jotsarup Any news on the sync that @pawel-tomkiel mentioned?

Openapi Spec in Github Enterprise -> sync changes to -> Postman API/Collection

[2021-03-18 09:38] rohithpr commented on #4222
I ran into this issue, and it was caused by not clicking on "Save" after creating the variable.

Notice that the "Save" button is enabled indicating that there are some unsaved changes. This causes the "Unresolved variable" error:

[![enter image description here][1]][1]
[![enter image description here][2]][2]

After saving:
[![enter image description here][3]][3]
[![enter image description here][

[2021-03-18 10:41] giridharvc7 commented on #5520
Can you please check and let us know if this problem still persists for you?

[2021-03-18 11:10] giridharvc7 commented on #6548
You can now duplicate examples, both on the browser and the app. Can you please check and let us know if you face any problems?

[2021-03-18 11:39] vvs11 commented on #5164
Let's set up a call. That would help us understand your use case and build better solutions in the future.
Let us know how you'd like to do that?
cc @shashankawasthi88

[2021-03-18 12:41] DannyDainton commented on #9745
Hey @mtaylorfsmb

I've been trying to recreate this issue and I'm not able to get the same behaviour.

I mocked out the sample you provided:

![image](https://user-images.githubusercontent.com/17089546/111627580-1b4a9580-87e7-11eb-92a8-f30d741d3405.png)

What's the size of the page that's being returned?

[2021-03-18 12:46] umnex commented on #6548
Thanks. Yes it is working now.

Umer Nawab
Chief Technology Officer
Intelligenes
***@***.***D71C1E.99862160]
+1 647 846 3006<tel:+1%20647%20846%203006>
***@***.***D71C1E.99862160]
***@***.******@***.***>
***@***.***D71C1E.99862160]
www.intelligenes.com<https://www.intelligenes.com/>
***@***.***D71C1E.99862160]
120 Adelaide Street West, Suite 2500, Toronto, Ontario
***@***.***D71C1E.99862160]
[face

[2021-03-18 13:36] amaillo-mc commented on #4253
+1 for me too

[2021-03-18 13:49] mtaylorfsmb commented on #9745
@DannyDainton I'm attaching the file.

[response.zip](https://github.com/postmanlabs/postman-app-support/files/6164600/response.zip)

[2021-03-18 14:12] vvs11 commented on #9728
@rishipurwar1 We have this planned on our roadmap. We'll post an update soon

[2021-03-18 14:15] vvs11 commented on #9721
@johnwyles Thanks for writing to us. We have something similar in the roadmap. Will keep you posted

[2021-03-18 14:26] Pricilla09 opened #9748 "Switching workspaces displays unwanted error message in the UI."
**Describe the Issue**
When we are trying to switch workspaces, the error "Could not find the request you are looking for" is displayed for few seconds and auto closed. But actually nothing is changed to the requests. Also the issue is sporadic.

**Steps to Reproduce**
When you have number of workspaces try to change from one workspace to another randomly.

**Screenshots or Videos**
![image](https

[2021-03-18 14:32] johnwyles commented on #9721
I also think another good link might be https://wrapapi.com/ as an example

[2021-03-18 14:33] johnwyles commented on #9721
@vvs11 are you able to link to the task/bug?

[2021-03-18 14:34] Pricilla09 commented on #9626
@DannyDainton No Danny, no specific detail he mentioned over the call. May be @mohitranka can provide more details :-)

[2021-03-18 18:33] triplec316 commented on #1066
+1 I need this feature

[2021-03-18 19:41] nrmartell opened #9749 "Ability to Set Permissions for Private Workspaces at the Workspace Level"
**Is your feature request related to a problem? Please describe.**
Right now you have to manage permissions for a Private Workspace at a user level since private workplaces default to viewer level access.
![Screen Shot 2021-03-18 at 1 36 40 PM](https://user-images.githubusercontent.com/13713173/111686856-315c5400-87ef-11eb-969b-04fda78aae4f.png)

It would be great to have the ability to set permis

[2021-03-18 19:48] byrdman commented on #8966
This would be great, likewise, we keep every thing in a non-github repo, being able to keep our collections in there w/out having to export/import.

[2021-03-18 21:04] timbochamp commented on #9744
Hi @mtaylorfsmb , thanks for reaching out. Just to be sure, are you saving the collection-level authorization settings?
![Screen Shot 2021-03-18 at 6 04 12 PM](https://user-images.githubusercontent.com/4521134/111697467-5e6f2d80-8814-11eb-9eac-5e1e11915cd3.png)

[2021-03-18 21:29] F-shaikh opened #9750 "Cannot Edit Envrionment (Tab will not open)"
**Describe the Issue**
When clicking "Quick Look" for a given environment, then clicking the "edit" button, nothing opens up in a tab for me to edit the given environment. This happens regardless of me using the environments tab, or the quick look "edit" button.

**Steps to Reproduce**
1. Go to Postman and open any environment.
2. Click on the quick look button
3. Click on "Edit".

**Screenshots o

[2021-03-18 21:31] F-shaikh commented on #9750
@DannyDainton , as requested here is a new bug opened showcasing all of my issues with the latest version of postman. Please let me know next steps, or if there is anything that is not clear.

[2021-03-18 21:46] RejiMat opened #9751 "Postman not picking up certificate"
**Describe the Issue**
I am a window10 user.  I have postman version 8.0.7.
When i add certificate to postmand. I use the file selector in postman window.

After select a certificate and provide passphrase.
In next certificates screen i see PFX file path starting with /
eg /C:/Gen1/Postman/rrqa/rrqa.pfx

And when invoking api i get below error,
"Error: write EPROTO 1276089048:error:10000412:SSL ro

[2021-03-18 23:37] AlexisNarvaez97 commented on #1854
Follow up?

[2021-03-19 00:30] donreinardgomez commented on #5222
+1

[2021-03-19 00:52] mattneub opened #9752 "Postman Interceptor fails to capture request body for PATCH requests"
**Describe the Issue**

Postman Interceptor captures JSON request body for some types of request, but not for all. In particular it does not capture the JSON request body for a PATCH request. This makes Postman Interceptor essentially useless for me (I am currently working around the problem by using Proxyman instead).

**Steps to Reproduce**

Configure a web page that makes a PATCH request with a

[2021-03-19 09:21] nk-gears commented on #9397
Please let us know how to get the past history. I have been using more than 2 years, looks like i lost all the history now and its not syncing..

[2021-03-19 09:53] ash007-postman opened #9753 "YAML file (CTRL+SPACE) not working as expected"
On behalf of the user:

**Describe the Issue**
Syntax auto-complete functionality while defining a YAML file (CTRL+SPACE) is not working correctly.Instead of returning only the list of properties that apply under the current node, it returns a list of all strings included in the document which is unnecessary.

**Steps to Reproduce**
 (CTRL+SPACE)  should list only the properties within that schema

[2021-03-19 12:55] giridharvc7 commented on #6351
Could you help us understand why you'd need this functionality?

[2021-03-19 12:57] #6548 closed, assigned to vkaegis

[2021-03-19 13:10] giridharvc7 commented on #6794
We've fixed this in the v8 of the app and web. Please let us know
![Screenshot 2021-03-19 at 6 37 53 PM](https://user-images.githubusercontent.com/1040583/111785187-49f96680-88e2-11eb-8616-950692dbd6d2.png)

[2021-03-19 13:10] #6794 closed, assigned to vkaegis

[2021-03-19 13:14] giridharvc7 commented on #6870
Are you still facing this problem? As @vikiCoder mentioned, having `access_token` as a custom parameter in a request that used OAuth, which already has a header parameter of `access_token` will only cause ambiguity. I'm closing this issue as this is not something we'll be picking up for now.

[2021-03-19 13:14] #6870 closed, assigned to vikiCoder

[2021-03-19 13:16] giridharvc7 commented on #6928
Hey @AstroARTY , just trying to understand your use case better here, can you share some scenarios you face where you have the need to deselect all parameters?

[2021-03-19 13:42] freerider7777 commented on #6351
@giridharvc7 Hi! Parameters in requests change and after some time (several days/months maybe) it is some times useful to check how it had been working before.

[2021-03-19 13:50] gellerth-mms commented on #4079
+1

[2021-03-19 14:17] paulsmith-717 commented on #6351
as above, and evidence gathering when trying to inform a third party of instabilities in their services.

[2021-03-19 15:14] nobi1007 commented on #3036
@a85 still, when we upload a file via binary it works fine, but in the generated code it just says `payload = 'file contents here'`. Can, you please elaborate or at least provide some sample of the required contents would be appreciable.

Also, I went through the `code_gen` library but in the code too I couldn't find any description about it. Everywhere it is just written that if a type is file th

[2021-03-19 18:27] abhinaba-ghosh commented on #9396
Hi @darrencapner, this is fixed in current postman version. Feel free to re-open the ticket if you face any diffuculties.

[2021-03-19 18:27] #9396 closed, assigned to abhinaba-ghosh

[2021-03-19 19:02] facunsuarez commented on #4671
Please! We need this!

[2021-03-19 19:07] darrencapner commented on #9396
I still see the error. I have created an API Spec to verify this scenario using the pre-generated one in the API Designer.

I am using the Web Version of Postman.

`openapi: 3.0.0
info:
  version: 0.0.1
  title: test
servers:
  - url: 'http://localhost:3000'
paths:
  /{userid}:
    get:
      summary: 'Sample endpoint: Returns details about a particular user'
      operationId: getUserid
      par

[2021-03-19 19:46] iepoch commented on #8420
@preethammavin

I am sorry I never responded back to this. It's been crazy. But I wanted to let you know you are right and you got what I was talking about. And yes I did change to creating a whole new mock on the forked collection. But just be aware that there is a issue here where if it gets forked with that collection then it should work with that collection, it should create a copy just like c

[2021-03-19 19:57] swiknaba commented on #8656
Error is also present in version 8.0.7 on macOS.

[2021-03-19 19:57] carlospauluk commented on #8366
Confirm what @garywade said about closing all tabs, but I think that Postman should duplicate even if that tab was not saved yet.
Thanks!

[2021-03-19 22:01] timbochamp commented on #9750
Hi @F-shaikh , this sounds somewhat similar to #9599 , though they were on Windows in that case. Are you able to see any errors in the console (View > Developer > Show DevTools (Shared)) when this happens to paste here?

[2021-03-19 22:50] bhagatparwinder commented on #9021
I support this mission 🚀

[2021-03-19 23:18] F-shaikh commented on #9750
@timbochamp nothing useful in console unfortunately:
![image](https://user-images.githubusercontent.com/38937921/111850875-b23e4d00-88ce-11eb-8dca-c00b90fffcbf.png)

[2021-03-20 09:07] Borduhh commented on #3117
Let me preface my answer with if this isn't allowed than please delete my comment.

Like many others on this thread I LOVE Postman and have been using it for a while for documenting APIs. So naturally when we started building a new JSON REST API, I recommended we use Postman to keep our API well documented. After building/documents for about 50 routes while growing a team, we've noticed some probl

[2021-03-20 13:10] akinsgre commented on #6134
Please!

[2021-03-20 14:38] mtudor commented on #9742
Hi guys, apologies for posting on a closed issue but I'm not sure this is actually fixed (at least for my use case).

I see the same behaviour as @DannyDainton - i.e. right-clicking the request and choosing "Open In Tab" will open the request if it is not already open, otherwise it just focuses the existing tab.

Right-clicking the request tab header and choosing "Duplicate" does create a new inst

[2021-03-20 19:09] malpower commented on #4198
i've got some work to help my self to run the collections simultaneously. see if it can help any one seeing this page
https://github.com/malpower/newnewman

and u are welcome to clone and modify.

[2021-03-20 21:21] Shisuki commented on #6723
Works on v8.0.7 thanks!

[2021-03-21 19:02] jmammri commented on #9072
@DannyDainton v8.0.7 for me. (I'm facing the same problem)

I updated a few weeks ago, but got this issue only today.

[2021-03-22 04:45] postman-support commented on #9751
Hi,

Thanks for reaching out to us! Sorry to hear you're having issues with the client certificate. Would you turn off SSL certificate verification and let us know how that goes?

- Settings > General > SSL certicate verification > Off

Also, could you please provide us the logs for the endpoint while sending the request with client certificates? Here's a full OpenSSL s_client command that'll help

[2021-03-22 05:55] shashankawasthi88 commented on #9752
Hi, @mattneub thanks for pointing this out. We are able to reproduce the issue at our end. We will investigate this further and keep you in the loop of any updates.

[2021-03-22 07:42] giridharvc7 commented on #6351
@freerider7777, @klemens-u  , The history tab allows you to save responses. Have you tried that out? Would that solve the problem?

[2021-03-22 08:51] sajid-1114 opened #9754 "Can't see the count of all requests's in a collection in version 8"
**Describe the Issue**
In older versions, the total count for each collection was displayed under its name, but can't see it anywhere after updated to version 8.

**Steps to Reproduce**
Open the older version and newer version and see the difference.

**Screenshots or Videos**

**Environment Information**

 - Platform Type: All
 - Postman Version: 8
 - Operating System: Windows/Linux

[2021-03-22 09:55] kasharaylo commented on #9346
Can't wait for native m1 support for Postman.

[2021-03-22 10:45] SherloxTV commented on #3117
It really saddens me to see that such a mandatory feature requested by so many developers in the Postman community gets so little priority.
It will soon be 4 years since it has been requested, the solution seems pretty straightforward to implement now that every detail has been discussed here by motivated community members.
This leaves me with a bitter impression of little interest for what the co

[2021-03-22 10:46] freerider7777 commented on #6351
@giridharvc7 I don't see the option to save to file there (which is the subject of this issue).

[2021-03-22 12:40] parergon commented on #285
+1
That would be useful for me too.

[2021-03-22 12:42] CieNTi commented on #285
After 4 years of receiving updates on this topic, I just desist.

All hope is lost now

[2021-03-22 13:01] davidMavs opened #9755 "Text Data File Values Corrupted if Numeric longer than 16"
When using a text/csv data file for Runner.  If the field is numeric and the field is longer than 16 characters the field gets corrupted.  This can be seen in the Preview window for the data file, or when the test is run.

Sample file:
lengthsPast_16_valuesModified
12345678901
123456789012
1234567890123
12345678901234
123456789012345
1234567890123456
12345678901234567
123456789012345678
1234567890

[2021-03-22 14:24] timbochamp commented on #9705
@HenrikHolmIT , that's a fair suggestion! I've relayed that along to our user experience team as a feature request.

[2021-03-22 15:44] timbochamp commented on #9750
@F-shaikh thanks for the screenshot. I'm having a hard time trying to reproduce this 😞  . Is there any other contextual information you could give here like an upgrade path of what version you were on before upgrading to v8.0.7 (or if this was a fresh install)?

[2021-03-22 15:55] dotcom9 commented on #5819
Still getting this issue with Bearer token, self-signed certificate (for IIS Express) in v8.0.7

[2021-03-22 17:53] tarockx commented on #7399
Having the same problem in latest Postman for Windows, any clues how to fix it?
Started happening randomly, it was working perfectly a few minutes ago...

[2021-03-22 18:00] tyrelcraig commented on #7399
@tarockx Based on a quick search.

The similar path to my fix for Windows is:

Open File Explorer and paste in the Path field

C:\Users\<user>\AppData\Local\Postman and
C:\Users\<user>\AppData\Roaming\Postman

and delete the files in both locations.

Hope that helps!

[2021-03-22 18:34] tarockx commented on #7399
@tyrelcraig Thank you, it worked.
For anyone reading this in the future: be aware that this action will reset all postman data and settings, it's like doing a fresh installation basically. So make sure you have a backup of your collections and requests (or have an online workspace), otherwise you will lose them all.

[2021-03-22 19:39] tyrelcraig commented on #7399
@tarockx Glad to hear it. Also good to know, I have mine all stored remotely.

[2021-03-22 19:57] postman-support commented on #9755
Hi @davidMars,

Thanks for reaching out.

We've had a similar issue reported here ->https://github.com/postmanlabs/postman-app-support/issues/6798#issuecomment-506642247
This behavior can usually be overcome this by wrapping the number in quotes to be parsed as a String.

Please let us know if you have any other questions.

All the best,

Natalie
Technical Support Engineer, Postman

Status Page |

[2021-03-22 20:39] SebastianJust commented on #9629
Hi @appurva21,
Sorry for late answer.
Yes exactly. I'm using the authorization:  OAuth 2.0, to get the access token. It excepts cookies, but no cookies are stored in Postman.
It has worked before the upgrade.

[2021-03-22 21:29] Raja-Simha commented on #9635
Issue fixed in 8.0.7

[2021-03-22 21:29] #9635 closed, assigned to Raja-Simha

[2021-03-23 07:41] giridharvc7 commented on #6987
We've fixed this, can you check and let us know if this solution works for you?
![Screenshot 2021-03-23 at 1 08 06 PM](https://user-images.githubusercontent.com/1040583/112110580-1e73c600-8bd9-11eb-8a96-745f805585e1.png)

[2021-03-23 07:41] #6987 closed, assigned to codenirvana, vikiCoder

[2021-03-23 07:44] giridharvc7 commented on #6938
![Screenshot 2021-03-23 at 1 13 54 PM](https://user-images.githubusercontent.com/1040583/112111005-a22db280-8bd9-11eb-9136-19a6913496ec.png)
Does this solve your problem?

[2021-03-23 07:48] giridharvc7 commented on #6981
Postman has a global search bar now, let me know if this solves your problem.
![Screenshot 2021-03-23 at 1 17 54 PM](https://user-images.githubusercontent.com/1040583/112111439-33048e00-8bda-11eb-8e51-2154e6310026.png)

[2021-03-23 08:46] micaelmbagira opened #9756 "Import history in workspace"
**Is your feature request related to a problem? Please describe.**
When migrating to Postman 8, one has the possibility to create a workspace. However, it's not easily possible to import past history. The only option is a bulk selection which is not scalable with a few years long history.

**Describe the solution you'd like**
A way to easily export and import my history into my workspace

Relates

[2021-03-23 10:57] numaanashraf commented on #9573
Postman v8.0 is on a dedicated release channel on snap now.

Existing users on stable track can switch to this channel using
`snap refresh postman --channel=v8`

New users can install this channel using:
`snap install postman --channel=v8`

[2021-03-23 11:30] hitchan commented on #2934
I need this too! Shocked to see it's a blocker for me now as well. Give the people what they want!

[2021-03-23 12:13] mikemissakian commented on #8038
My company just turned off **NTLMv1** enterprise wide and Postman no longer functions for us when connecting to our APIs hosted on IIS with Windows Auth enabled. For us to continue using Postman it will have to be updated to handle **NTLMv2**.

[2021-03-23 12:58] HenrikHolmIT opened #9757 "Where did request count go?"
In previous version there was a count of underlying requests on the Collections. This is now gone with version 8.0.7

I'd need those counts back.

There are no alternatives. I need just them back.

No need for screenshot. They are gone. I need them back.

[2021-03-23 13:00] DannyDainton commented on #9757
Duplicate of https://github.com/postmanlabs/postman-app-support/issues/9754

[2021-03-23 13:00] #9757 closed, assigned to nobody

[2021-03-23 13:02] DannyDainton commented on #9701
Closing this issue for now - Can be opened once more information is provided.

[2021-03-23 13:02] #9701 closed, assigned to nobody

[2021-03-23 13:02] Maheshoptiva commented on #5658
@arlemi still I am facing same issue about "because javascript numbers are 64 bit, with 53 bits reserved for the integer part."
it is round off the id.

[2021-03-23 13:03] HenrikHolmIT commented on #9754
I would like to extend this even down to folder level. Each folder (recursively) should report the number of requests it holds.

[2021-03-23 13:05] ravikantdos commented on #7634
For me, this issue is still there.
As a workaround, I gave my repository name starting with 'A'.
Because hardly it was listing the first 30 repositories.

[2021-03-23 13:13] HenrikHolmIT opened #9758 "Follow updates when running tests"
When running a test it would be awesome if the view would either pop the latest request that has run at the top of the list or have the scroll follow when the next request is run.

Right now it just shows a static list and I have to scroll down to follow the requests as they run. There are over 100 requests in our collections.

[2021-03-23 13:39] mtaylorfsmb commented on #9744
No I didn't even see that collections had a save button.

Why do I need to save the collection when getting a new access token is a temporary thing? Every time you load the collection you would get a new access token as the old token has likely expired. Furthermore you would never actually store the token as it is a transient value. So why does this require that I save the collection? It would be

[2021-03-23 14:10] #9016 closed, assigned to vvs11, coditva

[2021-03-23 14:52] dliwustl commented on #9659
Yes, could we **please** disable the auto-expanding behavior in Issue #3? There are already carets there, so let those be used to expand the collection tree.

[2021-03-23 14:54] dliwustl commented on #9614
+1 to changing this behavior. Just make the caret expand the tree. While we're at it, let's also stop copying over the examples when we duplicate a request in a collection. The request is almost certainly going to be different, so why would we expect the old example to be relevant?

[2021-03-23 15:13] dliwustl opened #9759 "Don't copy examples when duplicating collection requests"
**Is your feature request related to a problem? Please describe.**
When duplicating a request in a collection, it also replicates all the examples attached to the original request. This just creates the additional work of having to delete the replicate example, because the user is almost certainly going to change the request, making the old example irrelevant.

**Describe the solution you'd like**

[2021-03-23 15:51] iMro0t commented on #9701
@Chaakar exactly. This version broke so many things in my current setup and most important history is cleared. I was having so many useful links before but now all are gone without any warning or notice. I couldn't find any alternative and this electron-based thing will never gonna beat the performance of the native app.

[2021-03-23 16:10] jgarciasm commented on #3117
We need that functionality in our company too. Please, don´t make us to migrate to another tool. We love Postman, but this is a crucial requirement for us.

[2021-03-23 16:21] ryanskandal opened #9760 "auth2 Authorization flow using 2 sets of cookies"
Hi,
I am using postman (8.0.7) OAuth2 flow to obtain a jwt token.  The backend server uses a cookie for sticky sessions.  We are noticing that the cookie is not passed for all oauth2 flow calls, specifically the last `POST [Access Token URL]` doesn't have any cookies.  It seems that postman using two separate cookie repositories which are not synched.  Not having the last cookie is breaking our fl

[2021-03-23 17:21] ggfuzzy commented on #9072
Experiencing this on Fedora 33. Comes and goes, but currently happening every time I start it up and try to make a change in the body of my request.

[2021-03-23 18:05] praveendvd commented on #9606
Also if i set pm.variables.set("var",undefined)  , and pass  url as `something?query={{var}}`

var will be passed as empty  equalent url will be `something?query=` (Expected)

but if i use set pm.environment.set("var",undefined)  , and pass  url as `something?query=null`

[2021-03-23 18:40] timbochamp commented on #9744
It's definitely a pain point that we're looking into addressing in the future with a solution to prevent having to save after each token generation. There's no timelines around this yet, but I'll tag this accordingly.

[2021-03-23 19:49] 180Dev commented on #5789
Hi, I have the same problem

![postman](https://user-images.githubusercontent.com/76972654/112208859-35251780-8bef-11eb-8247-11e02ad8109b.png)

[2021-03-23 21:36] bwu-chwy commented on #6712
I am observing that GraphQL SDL works while the JSON format does not.

Both are generated from `apollo client:download-schema`

[code]

Postman: Version 8.0.7 (8.0.7)

Unfortunately I cannot share the schema I use, but here's one based on an example api I found from https://github.com/APIs-guru/graphql-apis#demonstration-only-apis (The Planets one)

----
# Reproduction
Download the schemas
[code]

[2021-03-24 03:54] VShingala commented on #9396
@darrencapner Given specification doesn't adhere to OpenAPI specification as it's required to define al path parameters defined in path under `parameters` of that operation. Here for operation `GET /{userid}`, no definition of `userid` is present under parameters so the validator is suggesting mismatch for it.

[2021-03-24 03:55] postman-support commented on #9751
Hi @RejiMat

Just following up here. Let me know if you have any follow-up questions or concerns as we haven't heard back.

via @Raj-postman | Postman Support

[2021-03-24 07:29] prabhat-awasthi-3697 commented on #9645
Hey @DivyaMoryani

Can you confirm if the issue is resolved for you now ?

[2021-03-24 09:15] bogdan-kosarevskyi-ukad commented on #7842
Repeated on Windows server 2019 Datacenter x64 installed on t2.medium.

[2021-03-24 10:44] simonvane commented on #6811
FWIW, I got caught out by the full screen/F11 issue in v8.0.7. I would not expect the app to restart in full-screen mode after closing it.

[2021-03-24 10:58] arlemi commented on #5658
@Maheshoptiva Which version of Postman are you using? Can you share an example of id that gets rounded out?

[2021-03-24 11:41] jaylinski commented on #5550
@mfaux @jazzyarchitects Was this feature removed in Postman 8?

We have a lot of collections, so it would be nice to have an overview of published collections. The data-export sadly doesn't contain info about published collections.

[2021-03-24 12:05] Maheshoptiva commented on #5658
Hi @arlemi , I am using win64-8.0.7,
**Response**:
{
    "networkQuery": {
        "oTid": 2021112411030200034,
        "channel": "ABC",

**Script**:
bodyData = JSON.parse(responseBody);
value = bodyData.networkQuery.oTid;
console.log("Value of oTid: ", value);
pm.environment.set("oTid", value);

Thanks,
MB.

[2021-03-24 12:11] randy commented on #9498
I'm going to chime in on this, too... I just did two updates back-to-back. Not sure which v7 I had, but v8.0.7 is annoying. I _hate_ the buttons on the left and I can't resize the collections tree/pane small enough. Whoever thought, "oh, 290px is small enough," should be fired. On top of wasting 80px for those buttons... It's really annoying when some designer decides to rearrange the whole app to

[2021-03-24 14:32] darrencapner commented on #9396
Yes sorry, my mistake

[2021-03-24 14:56] ScottCarr73 commented on #6001
This issue is getting annoying.  When I start Postman, I basically have to delete and readd each of the variables my requests are using, before the request will work.  Today, the QA person on the team, had to delete and readd the same variables, so he could get the test to work for the QA process.

This should be reopened, as the "Fix" is to delete and readd the variable.  Why are the variables no

[2021-03-24 15:22] mm-gmbd commented on #285
@a85, you stated:

Can you:

1. State explicitly the intertwined concerns/requests in this thread
2. State explicitly which one of them you are addressing in this issue
3. Create (or let other users create) issues for the other issues
4. Provide updates on any/all that are actually being worked on

I'm just one of several folks asking for updates on a tool that is awesome and available for free (I

[2021-03-24 15:33] DannyDainton commented on #9026
The PR workflows have now been brought into the app in V8.

Closing this issue.

[2021-03-24 15:33] #9026 closed, assigned to ankit-m

[2021-03-24 15:46] alamin-chayan commented on #9176
I've spend a hole day to figure out the issue but failed to resolved. It's not working for localhost, but for remote endpoint it works.
![Screenshot from 2021-03-24 21-42-50](https://user-images.githubusercontent.com/6504305/112339592-ff188e00-8ce9-11eb-8218-f7a74df569a3.png)

below is the console output:
![Screenshot from 2021-03-24 21-43-05](https://user-images.githubusercontent.com/6504305/1123

[2021-03-24 17:38] SergioMoralesWGU opened #9761 "New Integration Request - ServiceNow"
**Describe your current workflow**
How do you use Postman with the rest of the tools in your stack to achieve your use-case?
When API testing is executed, the results are manually recorded in ServiceNow

**Describe your ideal workflow**
How would you want Postman to integrate with specific products/tools to simplify or enhance your experience?
Ideally, when the runner is executed, the test Ids are

[2021-03-24 17:41] shashankawasthi88 commented on #7634
@ravikantdos can you post a screen recording for the same?  I am not able to reproduce the same at my end.

[2021-03-24 17:57] jotsarup commented on #9761
@SergioMoralesWGU I work with the Integrations team and would love to know your use case in detail.
I have a clarifying questions.

1. You want to push out your collection run results to ServiceNow?
2. Do you also use Postman Monitor to run collections or just collection runner?
3. Can you clarify on the testIds that you attach to each endpoint as a comment? No able to understand this use case.
4.

[2021-03-24 17:59] ravikantdos commented on #7634
Not sure about recording or screen shot... Because that for my live project... What I can do I will get the console log and share with you. Additionally if will try to create more repository for my personal one and try if it's the same issue  then I can share with you.

[2021-03-24 18:07] ravikantdos commented on #7634
@shashankawasthi88 From console log I could find - "7index.js:3757 Could not find on l. Missing or invalid parameter."
I am working with 300+ Repos.

[2021-03-24 18:32] RejiMat commented on #9751
Sorry couldn't respond earlier.
Please see inline comments

From: Postman Support ***@***.***>
Sent: Sunday, March 21, 2021 9:46 PM
To: postmanlabs/postman-app-support ***@***.***>
Cc: Beeta Mathew, Reji ***@***.***>; Author ***@***.***>
Subject: Re: [postmanlabs/postman-app-support] Postman not picking up certificate (#9751)

Hi,

Thanks for reaching out to us! Sorry to hear you're having issues

[2021-03-24 18:53] laureanray commented on #4009
This would be a really neat feature if implemented!

[2021-03-24 19:45] ethangrinnell78 commented on #9759
It makes sense to have the ability to delete the examples from the new copy as the copy is made, but make it optional. Alternatively, there could be a "delete all examples" button in the collection that deletes all examples from the requests inside that collection. That way deleting examples is separate from copying the collection and it adds a handy new feature to the UI. The folders could also h

[2021-03-24 20:40] dliwustl commented on #9759
Thanks for chiming in! IMHO, it'd be fine to create an option to control this, but I still think the default behavior should be to avoid creating replicate examples. I can't think of a best-practice use case that benefits from them, but if you have one, I'm curious to hear it. And to make sure we're on the same page, I'm only talking about duplicating individual requests in a collection, not the w

[2021-03-25 05:32] postman-support commented on #9751
@RejiMat Looks like the screenshot did not get through. You can also share these details by submitting a ticket via link https://www.postman.com/support and we will check this further.

With regards to "/" at the beginning of the file path - this is Postman normalized file path that we store in order to maintain compatibility between different operating systems for collaboration. More details in t

[2021-03-25 08:03] winston9527 commented on #8195
It is better to let the user choose whether to auto save or not.

[2021-03-25 09:12] ahyldig commented on #6001
Can confirm, I too am struggling with this issue EVERY DAY. Quite mind-boggling that this has not been fixed as of yet.

To elaborate a bit further, this happens when I open Postman (after a complete computer shutdown). I then have to manually change the value in an existing environment variable for it to work again (use the actual value). This seems like some sort of caching/memory issue where th

[2021-03-25 10:22] SwapnilSoni1999 commented on #4009
Will they select students from gsoc to implement this feature?

[2021-03-25 11:27] zeeshanhaidergilani commented on #4594
Same here. Did not work for me either

[2021-03-25 14:22] bkonetzny commented on #9626
To give an update to this: The v8.0.9 fixed the issue for me.

[2021-03-25 14:25] bgrabar commented on #9498
Thanks @randy for the v7 link.

[2021-03-25 14:43] bgrabar commented on #4318
The light theme also provides too little contrast. The beige-ish background in the Collections pane makes it difficult for me to read my list of requests. Increasing the font size doesn't help, because the font gets too grainy. I would prefer the option to have a white background, as v.7 had. I'm over 40, and my eyes aren't what they use to be. This is an accessibility issue for me.

[2021-03-25 15:30] DanDepot commented on #8334
I am also in need of a the mock log showing the request body as raw text in the same way you can see the request body on a normal postman request as raw text.

Is there any status on this change?

[2021-03-25 16:22] Adecy commented on #4919
I had a similar issue with a not so big postman file (1 collection with 30 requests) on Windows 10, the IDE was irregularly laggy when travelling through the app.

Changing the "Performance options" settings to "best performances" solved the problems for me. I did not spend time to identify which option caused the lags (maybe text smoothing, idk).

![image](https://user-images.githubusercontent.co

[2021-03-25 16:25] DannyDainton commented on #9706
Hey @feelipegr - I've created a bug from this issue. The behaviour and workflow are known but it's something that we might need to take another look to see if some improvements can be made here.

I will update this thread once we have more information.

[2021-03-25 16:26] MEdmisonWork commented on #9481
I just got our Proxy team to correct our issue around the ability to download Postman, and to use the cloud Workspace and thought I would ask these two questions:

**Q1. Others users experiencing this issue**: Have you contacted your Proxy team to and check if they could update the Proxy settings around your proxy trying to ssl scan the postman sites?

**Q2. Postman Developers**: Did you change a

[2021-03-25 16:45] RejiMat commented on #9751
Hi,

Yesterday my postman was updated to v8.0.8 and after that i dont see this certificate issue any more.

Thankyou for your prompt response and support.

[2021-03-25 16:52] DanDepot opened #9762 "Mock Server Call Log Request Body Problem with Twilio Webhook"
**Describe the Issue**

The mock server log request body does not show data when the request content-type header is application/x-www-form-urlencoded; charset=utf-8. The problem appears to be charset=utf-8 being included in the content-type. When removed the request body appears.  This presents a problem seeing postman mock server log request body data for incoming Twilio Webhook requests.

**Step

[2021-03-25 16:52] timbochamp commented on #9748
Hi @Pricilla09 , I noticed three of your tabs are blank, which could be that they were deleted requests. I think this might coincide with the three error messages you saw.

We made a change to close the tab of a deleted request to prevent this behaviour on a workspace switch, or closing and reopening the app. That said, I'm having trouble reproducing this on Windows 10 in the latest version (8.0.9

[2021-03-25 16:52] #9751 closed, assigned to nobody

[2021-03-25 17:21] xavier-medioni commented on #9242
Hi everybody,

I agree with Eric,
I wanted to perform performance unit tests on a collection (SSL handshake, connect, processing time, ...), and being able to run them in a pure Postman/Newman way would be great ! => accessing the har set of informations in the test context

As an alternative, but not very convincing, I use a headless Chrome based solution, with puppeteer-har and handmade tests (n

[2021-03-25 18:24] YanivHaramati commented on #3780
Still an issue with postman 8.0.7 as of 2021.03.25

[2021-03-25 19:20] feelipegr commented on #9706
Ok, thanks, i'll follow this

[2021-03-25 21:49] Sadagopan88 commented on #9716
This looks like a bug. having this issue in the 8.0.9 MAC version I'm downgrading to 7

[2021-03-25 21:57] Sadagopan88 opened #9763 "Inherit from parent auth not working after 8.x upgrade."
**Describe the Issue**
After upgrading to Postman 8.x when using inherit from a parent is not getting the latest token from the parent. there is a sync issue

**Steps to Reproduce**
Create a collection with OAuth 2.0 authorization. Get the new token by passing the client id /secret at the parent level. Check the collection header the new oauth 2.0 token is not synced

**Screenshots or Videos**

Go

[2021-03-25 22:33] E-Thang opened #9764 "Publish collection from Windows app with environment gives error"
**Describe the Issue**
Publishing a collection from the native Windows application and including an environment throws an error when the "Publish Collection" button is clicked in the web application. If I don't include an environment it works without issue.

**Steps to Reproduce**
1. In Windows application, create a collection with a request
2. Create an environment
3. Publish collection
4. When w

[2021-03-26 01:23] SadCreeper commented on #8195
(+1) Need this!!

[2021-03-26 02:25] luyijingxiu commented on #675
+1 really want this feature

[2021-03-26 06:01] chungnd95 commented on #8656
I'm also getting this error using Postman v8.0.9 on Window 10 and the workaround works for me

[2021-03-26 07:04] alikrc commented on #2833
same here, why this bug closed?

[2021-03-26 09:25] cmep opened #9765 "Configure an external environment in the collection configuration"
**Describe the solution you'd like**

Derived from a question I asked on postman support:
https://support.postman.com/hc/en-us/requests/71179

I would like a solution to the following scenario to be implemented:

If you select a collection then you have to select an environment and if you forget to select it the request fails.
Should an associated environment be configured in the collection? In th

[2021-03-26 10:33] brgrz opened #9766 "Allow API refresh when created/imported from an OpenAPI endpoint"
**Is your feature request related to a problem? Please describe.**

When I'm designing a new API and iterating on it numerous times, I now have to delete and recreate (import again) from my OpenAPI URL to refresh changes. This quickly becomes cumbersome and impractical.

**Describe the solution you'd like**

If I create an API from an OpenAPI endpoint through the Import URL feature I'd be nice if

[2021-03-26 12:48] Raj-postman commented on #9752
@mattneub Looks like we do not have this supported as of now. Our team is actively working on getting this feature onto Interceptor - would request you to _Subscribe_ to this thread in order to receive notification once it's released.

[2021-03-26 13:11] Wotuu commented on #9750
I'm having the exact same issue in one of my workspaces. It's unusable - I can click requests/collections on the left, but nothing ever opens in a new tab. Other workspaces are unaffected. It started after ran a Collection that generated over 5k tests, while having the response body saved. Postman memory usage was high and it was consuming a bunch of memory. I restarted Postman to get rid of the g

[2021-03-26 13:45] elvenprogrammer commented on #2934
+1 needed for Auth0 test runs

[2021-03-26 17:22] Tezirg commented on #8040
Hello everyone, I have a solution, ugly, but it works for me !

I'm using the Postman visualizer to display the PDF:
 - First,  I inject the response body into a hidden div after encoding to b64
 - Then,  I load PDJ.js using <script> tags in the template
 - Finally, I convert the innerHtml of the hidden div back to binary to display it using PDF.js

[code]

[2021-03-26 18:45] giridharvc7 opened #9768 "Pasting a cURL command in URL bar should create an appropriate request"
**Problem and possible solution**
I often have to deal with cURL commands, it'll be great if i can paste the cURL commands on the URL tab and postman would automatically parse it to create an appropriate postman request. It'd save me so much time.

**Describe alternatives you've considered**
Right now, i'm doing this using the import flow in postman. This adds 3 clicks to my flow, would be great i

[2021-03-26 19:27] timbochamp commented on #9750
Thanks for reporting, @Wotuu . I tried running a 5k request collection with save responses selected on the app v8.0.9, but I'm still able to open an environment through the quick look eye icon then clicking edit from the modal. What was your memory usage hovering around if you remember? Mine was only at 900mb or so, so the requests I'm using might have been too bare-boned with simple GET requests.

[2021-03-26 22:14] MuffinSpawn opened #9769 "Export on Mac does not work"
The copy of Postman I have on my MacBook does not work. The export button on EXPORT COLLECTION pop-up used to do absolutely nothing. Now, after the latest update, it at least closes the pop-up window; but it still does not generate an export file. No file selection dialog appears. The copy on my Windows machine works fine.

[2021-03-26 23:43] seelaman opened #9770 "expanding subfolders in sidebar of documenter documentation"
**Is your feature request related to a problem? Please describe.**
Expanding folders in sidebar of documenter documentation currently not possible.

**Describe the solution you'd like**
We are publishing our documentation through a collection which generates documenter pages.

We have a number of subfolders on the right and we'd like to auto-expand some of these folders (actually not all) in the v

[2021-03-27 01:21] johnwyles commented on #7982
Please add this feature or document it's API in the API documentation. If the Global has a UUID, you can get Environments, and you can get Collections it is only natural you should be able to get the Globals. This is incomplete both with how this would seem to naturally work and incomplete with regards to Newman.

[2021-03-27 01:40] chetannn commented on #9346
Just got a MacBook Air m1 and waiting for Postman native support

[2021-03-27 08:22] 4thousand commented on #9346
can run on intel but not native

[2021-03-27 08:49] SwiftyWang commented on #9481
Same issue.

[2021-03-27 08:55] ervanrahadian commented on #9481
Yup help me.

[2021-03-27 08:55] aboutZZ commented on #9481
Go to hell Postman 8.0!! loding page got error 502 Bad gateway😓
Switch to **hoppscotch**, goodbye.

[2021-03-27 08:56] mahakomar11 commented on #9481
Same issue. Without vpn or anything

[2021-03-27 11:38] peterwalkley commented on #3897
Echoing the above comments. For the love of god let us choose an installation location on Windows.

[2021-03-27 12:07] rufreakde commented on #9675
Workaround:
In the end I split the collection in two and now it works somehow. (no runner code or other changes just moved in seperate collections)

[2021-03-27 15:55] hpinsley commented on #9763
I just upgraded to v8.0.9 and am having the exact same problem.  At first I thought maybe I was missing some nuance of the changed interface.  I'm glad someone reported this.

[2021-03-27 16:36] martinskalicky opened #9771 "OAuth 2.0 - Client credentials"
**Error:** Client credentials should only be provided once. Remove them from either the 'Authorization' header or the body.

**Steps to Reproduce**
1) Create new request
2) Go to Authorization
3) Set OAuth 2.0
4) Fill all fields u need
5) Hit "Get new Access Token"
6) Go on webpage, authorize, wait for callback back to Postman
7) **Error:** Client credentials should only be provided once. Remove t

[2021-03-27 22:54] teohm commented on #2934
Let's push them a bit in the public? 

RT https://twitter.com/teohm/status/1375943246669443072

On March 27, 2021, GitHub ***@***.***> wrote:

—
You are receiving this because you are subscribed to this thread.
Reply to this email directly, view it on GitHub
<https://github.com/postmanlabs/postman-app-
support/issues/2934#issuecomment-808232118>, or unsubscribe
<https://github.com/notifications/un

[2021-03-28 09:18] vvs11 commented on #9763
@hpinsley @Sadagopan88 Could you please share the video of this not working?
I am assuming you are defining collection level auth and using it in the requests. Could you check if the Save button is active in the collection tab? If it is, could you try saving and then checking if it works?

[2021-03-28 09:21] vvs11 commented on #9765
@x361545 Could you elaborate more on the problem you're trying to solve here? Also, you can try collection variables if you want an association between variables and collections. Would love to hear your use-case though

[2021-03-28 09:34] vvs11 commented on #8334
@DanDepot @mustela Could you elaborate on your use-case here? Also, would it be possible to get on a call and understand more about how you use postman mocks. This would help us build better features in future.

[2021-03-28 10:35] itinance commented on #8366
Faced the same issue. One has to save the current Request in open Tab with Cmd-S (at least on Apple) and then everything will copied over even headers

[2021-03-29 02:46] Joseph7695 commented on #285
+1 to the void

[2021-03-29 04:47] Shadowfita commented on #675
+1 Would be fantastic.

[2021-03-29 05:19] numaanashraf commented on #9769
@MuffinSpawn Could you verify whether the file selection dialog is opening in the background? This issue sounds similar to https://github.com/postmanlabs/postman-app-support/issues/8726#issuecomment-651872174

[2021-03-29 06:20] Ghenty opened #9772 "Remove leading and trailing spaces in URLs"
Hi support,

I just had a very long support session with a customer of us regarding the authorization problem.
Root cause was a trailing space in the “OAuth2.0 Authorization Code” Auth Url.

I think it would be extremely helpful feature to remove automatically all leading and trailing spaces (“ “) in all URLs or at least in the Autorization Urls.

Best regards,
Ghenty

[2021-03-29 07:37] luwol03 opened #9773 "could not login"
**Describe the Issue**

Today I created an account on the postman website. Then I tried to login to the postman cannary app.  First it worked pretty well. Then I decided to relogin for a quick test. But now the window is loading but if the first screen is loaded, it get white and reloaded in a loop. Then I opend the development tools for the main process and see some issues with sentry.
![image](h

[2021-03-29 07:53] postman-support commented on #9773
Hello @luwol03,
Thank you for all the provided details.

We have received similar reports from other users as well, and our engineers are actively looking into the the issue.

Meanwhile as a workaround could you please try using Postman's v8.07 ( https://www.postman.com/downloads/ )
Alternatively you can also try using our Web Application - http://go.postman.co/

If the issue persists even using P

[2021-03-29 08:25] luwol03 commented on #9773
Thanks for the great qick support. With the normal postman version all works fine except the 429 sentry error in the console. But postman is working fine.
![image](https://user-images.githubusercontent.com/60048565/112808282-1d2f1700-9079-11eb-8ebc-1a3078fd0ecd.png)

[2021-03-29 08:49] postman-support commented on #9773
Hello @luwol03
Many thanks for letting me know that you were able to resume your work in Postman.

On a side note - our engineers were able to identify the issue and have released a fix for it in the latest version of Postman Canary(**v8.0.10**)

It is already available for download on our website https://www.postman.com/downloads/canary/

Thanks!
via @nasco-a | Postman Support

[2021-03-29 08:56] amorek commented on #9759
Up. The default behavior should be to duplicate without examples.
Consider the following example (which is what I have on my current project): I have multiple requests in API and I want to have those requests in postman collection.
I create the first request manually, setting up all headers, auth, etc. then duplicate the request and adjust (ex. change GET to POST).
The examples will be duplicated,

[2021-03-29 09:07] luwol03 commented on #9773
Now I can log in without errors. But the could not load error is still there. And also the sentry errors.
![image](https://user-images.githubusercontent.com/60048565/112813722-d3492f80-907e-11eb-9ac4-026dbc205b9e.png)

[2021-03-29 09:10] #9773 closed, assigned to nobody

[2021-03-29 09:12] DannyDainton commented on #9772
This is a similar request to one that was recently answered by @vvs11

https://github.com/postmanlabs/postman-app-support/issues/9707

[2021-03-29 09:58] rxluz commented on #7895
Hey folks, I updated my Postman to the last version and it seems that this problem remains, I tried to change the params like suggested in the post but also didn't work

I'm using Version 8.0.7 (8.0.7) (Mac)

[2021-03-29 10:35] lorenzoserranti commented on #6682
+1

[2021-03-29 11:44] x361545 commented on #9765
This is not a bug it is an improvement:

You create a collection:

https://ibb.co/jbMNyjH (image)

and you create an environment

https://ibb.co/zGQtyCN (image)

You cannot associate collection and environment so that when you select the collection the environment is applied automatically

[2021-03-29 15:17] DanDepot commented on #9762
To test this simply send a POST to your mock server with a content-type header value = application/x-www-form-urlencoded; charset=utf-8.  Include a request body with form delimited data(value1=123&value2=abc) and send it.  The mock server log will not show the request body, it shows instead "This request does not have a body.".

[2021-03-29 15:45] numaanashraf commented on #6267
Closing this as the icon has been removed.

[2021-03-29 15:45] #6267 closed, assigned to preethammavin

[2021-03-29 15:47] numaanashraf commented on #6198
We are closing this as this issue is no longer reproducible on the latest versions of Postman (v8.0.10 as of this post). Please update to the latest version of the app and let us know if you are still facing this issue.

[2021-03-29 15:47] #6198 closed, assigned to nobody

[2021-03-29 15:56] hpinsley commented on #9763
@vvs11 I think that was the issue.  If you change the token for the collection -- either by choosing an existing token and clicking "Use Token" or by getting a new one, I think you have to click the Save button before it will be used.  I wasn't doing that (and don't recall having to do so in previous versions)?

[2021-03-29 15:59] Anonyma commented on #803
+1...

[2021-03-29 16:12] chernyy-svyat opened #9774 "Send button is out of the edge of the screen"
Hello!
I'm facing a bug when the **Send** button moves out of the edge of the screen if I use long length parameter value in query string in GET request

<img width="1156" alt="Снимок экрана 2021-03-29 в 18 46 51" src="https://user-images.githubusercontent.com/46106197/112865255-44113b80-90c1-11eb-8f61-8920f3a45e18.png">

<img width="1157" alt="Снимок экрана 2021-03-29 в 18 47 14" src="https://use

[2021-03-29 16:53] giridharvc7 commented on #2934
We are working on this, and this will be available soon!

[2021-03-29 17:42] gharpureamit commented on #9481
I've same issue with the latest 8.0 version. I downgraded back to 7.36.1 version and everything works again.

[2021-03-29 19:13] F-shaikh opened #9776 "Collections will not load"
**Describe the Issue**
"Couldn’t load collections
Try refreshing this page or check back in some time."

Collections will not load on desktop client, or browser client. 110 collections total.

**Steps to Reproduce**
Open postman (desktop or web browser) and your collections will fail to load. I have 110 total collections.

**Screenshots or Videos**
WEB:
![image](https://user-images.githubuserconte

[2021-03-29 19:26] shoglu opened #9777 "a blank page when open a new request or collection"
**Describe the Issue**

blank page appears when trying  to open any request or collection on desktop app.

**Steps to Reproduce**

on dashboard, navigate to any collection click on any request to be opened a new tab.

Expected: a tab opened
Actual: nothing appears.

**Screenshots or Videos**

**Environment Information**

 - Platform Type:  Desktop
 - Postman Version: 8.0.10 (8.0.10)
 - Operating S

[2021-03-29 19:45] F-shaikh commented on #9750
I resolved this by completely uninstalling postman and removing all local files. Then re-downloaded the application.

[2021-03-29 19:51] #9777 closed, assigned to nobody

[2021-03-29 19:51] shoglu commented on #9777
directory confusion

[2021-03-29 20:39] bean5 opened #9778 "Mark URLs in emails as intentionally obstrucated and link to a "why" page"
When I first noticed that URLs were obstrucated, I copy + pasted it into my omnibar. But then it did a google search. Google turns it back into a URL which I then click.

To users who do not understand that you are protecting them, you are just confusing them and making them expose a portion of their URI to google search.

To users who would understand but think their email app failed to convert t

[2021-03-29 20:49] rdazvd commented on #4603
Excuse me if I'm wrong, but from my understanding it seems like this issue hasn't been fixed. Inside the Postman app, I can successfully override the value of `Access-Control-Allow-Origin` in the response header when mocking a PUT request. But when issuing the same request to the same mocked end-point from the browser, just like @gaurav5430, I get `*` as the value for this header in the dynamicall

[2021-03-29 23:00] dmrickey commented on #982
Has soon happened yet?

[2021-03-29 23:38] mchandschuh commented on #6682
Hmmm... seems like the community overwhelmingly wants this. What's the cause for not providing this feature? Is there a technical limitation? I think if the core contributors lay out their concerns the hive mind would be able to come up with a solution.

Go go gadget hive mind!

[2021-03-30 01:19] postman-support commented on #9776
Hey @F-shaikh,

Thank you for reaching out, and apologies for the hassle.
We have received similar reports, and our engineering team is currently looking into it.

So that we can locate your account information, would you please submit a support request from the following link?
https://support.postman.com/hc/en-us/requests/new

In the support request, please tell us about the following so that we

[2021-03-30 01:24] F-shaikh commented on #9776
@postman-support i've done this already, please see all info in Ticket ID: #71491.

To summarize here:
1. Can navigate only to "My Workspace" which contains 2 collections. The other 2 workspaces (76) and (110) collections wont load.

2. I've sent the HAR via Google Drive Link on the ticket ID: #71491

3. Canary version does not work, web client does not work, regular desktop app does not work.

[2021-03-30 03:34] postman-support commented on #9776
Hey @F-shaikh,

Thanks for getting back to me!

I can see one of our team members is handling your support request and your case is already escalated to our engineering team.

Monitoring the backend log, it appears that the issue might be mitigating. Could you please check now if the issue is still persisting?

Thanks for your cooperation on this.
I am looking forward to hearing back from you!

vi

[2021-03-30 04:01] Pricilla09 commented on #9748
@timbochamp Thanks for explanation, you are right. I got the root cause, since you guys have fixed the error messages, I am not facing this issue anymore in the recent version (Version 8.0.9). This can be closed :-)

[2021-03-30 04:12] Pricilla09 opened #9779 "User Interface issue: Collection level options (three dots) is overlapping with the Documentation tab on the right."
**Describe the Issue**
When a Collection level view is selected, the option button (three dots) is visible clearly, but when the Documentation is expanded, the options are now overlapped.

**Steps to Reproduce**
1. Select any collection inside the workspace.
2. Select and expand the documentation on the right side panel.

**Screenshots or Videos**

https://user-images.githubusercontent.com/7149848

[2021-03-30 05:08] KaushikJain commented on #9566
I downgraded to 7.x version as directed by support and now my local history is deleted as well. Web portal shows the history but there is no direct way to export the same or get it in my local app.

[2021-03-30 05:51] vvs11 commented on #9765
It's not a bug. What I want to understand is that whether your use-case can be achieved by using collection variables or not? Collection variables will give you an association between collections and variables

[2021-03-30 06:41] ankit-m opened #9780 "PR merge shows resolve conflicts before but none are shown in the UI"
Filed on behalf of user.

We have a PR and the Postman tool is saying we have a conflict that must be solved before merging. However, we can't see any conflicts (check screenshot attached) and the merge button is blocked. if we try to pull changes we get "Resolve the active conflicts in the diff"

[2021-03-30 07:38] leiha commented on #9470
in version 8.0.10 working properly again :) ty support

[2021-03-30 07:57] Palpie commented on #7083
I use collection variables for my fragments:

![image](https://user-images.githubusercontent.com/6249536/112953821-15857600-913e-11eb-989c-9044f0f671a8.png)

![image](https://user-images.githubusercontent.com/6249536/112953938-364dcb80-913e-11eb-9a25-fdb69fc3c107.png)

There is just this small syntax error warning, but it works anyway:

![image](https://user-images.githubusercontent.com/6249536/11

[2021-03-30 08:10] aielloaldo commented on #9636
I've also this problem with the new version of Postman (8.x). Instead with the older version (7.x) the same collection works.
The message is "This file isn't in your working directory. Teammates you share this request with won't be able to use this file. To make collaboration easier you can setup your working directory in Settings" and in the request data the file is undefined.

I tried on Windows

[2021-03-30 08:17] shamasis commented on #9636
You may have checked this already, but have you checked the status of the working directory settings in your 8.x installation. https://support.postman.com/hc/en-us/articles/360023574653-Storage-of-file-Working-Directory-in-reference-for-collections

[2021-03-30 08:22] aielloaldo commented on #9636
@shamasis
Yes, the collection and the settings are the same and the working directory is fine. In Postman 7 it works, in Postman 8 don't.

[2021-03-30 08:32] jspark-gigworks opened #9781 "I would like to disable automatic unfolding menu item(each request) in collection tab."
**Is your feature request related to a problem? Please describe.**
I often click each request to test my APIs. Whenever I click a request in `Collections` tab, its histories are unfolded automatically. It bothers me to click the next request.

**Describe the solution you'd like**
If possible, I hope that `automatic unfolding` could be disable in the preference.

**Describe alternatives you've cons

[2021-03-30 08:46] Wotuu commented on #9750
@timbochamp
1. I recall it being around 3-4GB memory used. It _may_ have also happened because a script I created was spamming some console.logs() which made the console unusable, it put the CPU usage to 50% for a few hours (I left it running in the hope it'd clear itself).
2. I was running Postman 8.0.6. I upgraded this morning to v8.0.10 and still have the issue.

I will reinstall Postman as sug

[2021-03-30 09:37] aleksandrs-ledovskis commented on #9470
I cannot confirm it working in v8.0.10 - the "Inherit auth from parent" still misbehaves.

[Release notes](https://www.postman.com/downloads/release-notes/) also don't speak of any relevant change in v8.0.10.

[2021-03-30 10:21] SynapseScribe opened #9782 "Allow permanently hiding yellow banner (local work)"
When not connected to a workspace / internet connection cut, a yellow banner is displayed: "Working locally in Scratch Pad. Switch to a Sorkspace". Every time I open the app, I have to close it and it keeps reappearing which is quite a nudge..

[2021-03-30 10:28] SynapseScribe opened #9783 "Disable unnecessary connections"
When "Send anonymous usage data to Postman" and "Automatically download major updates" settings are off, the app should be clear of connections. Instead I got a bunch of connections retries in my firewall:

DNS queries
dl.pstmn.io
dl.postman.io
api.github.com
redirector.gvt1.com
sentry-app.postmanlabs.com
bifrost-public-v4.gw.postman.com
identity.postman.com
go.pstmn.io

Also give us the possibili

[2021-03-30 11:01] mehanizm commented on #8455
same problem, win10, v8.0.10

response from postman-echo.com/post tells me that the body was empty, but if I copy cURL snippet and use it everything is OK

guys, I've spent several hours finding out what is the problem. but it is actually the postman bug, very bad bug that makes users suffer.

please, do smth with it

[2021-03-30 15:18] ahmadi-akbar commented on #3822
+1
same here

[2021-03-30 15:55] DannyDainton commented on #9779
Hey @Pricilla09

Thanks for reporting - We are tracking this issue internally but it's always good to have something public to reference.

Appreciate you reporting this 🏆

[2021-03-30 16:08] vbond007 commented on #7294
Hi all,
I confirm that the workaround suggested by Ragnoroct worked : Deleting my C:\Users\<username>\AppData\Roaming\Postman\storage folder !

[2021-03-30 18:43] MikeCheel commented on #4193
Hard to believe something this asked for is being ignored.

[2021-03-30 19:22] #9748 closed, assigned to nobody

[2021-03-30 19:34] Duduxs commented on #8040
How can i do that ??

[2021-03-30 21:32] jthake-msft commented on #9763
Here is what I discovered same as @hpinsley . You have to click *Save* after click *Get New Token* and *Use Token*. You did not need to do this before the latest update.

Can we please revert back. Our user based of our collection is flooding my inbox with this frustration. We tried to simplify our auth process by using inheritance and this UX is still very clunky.

I would love to see prompts tha

[2021-03-30 22:44] Njogaikar commented on #4968
Any update on this request?

[2021-03-31 02:49] LeonWenbu opened #9784 "New Integration Request - Postman integration with Bitbucket private server"
**Describe your current workflow**
I'm a FTE of SS&C Advent. Looking for a method to integrate postman with bitbucket private server.

**Describe your ideal workflow**
Should be same as the integration with bitbucket public server.

[2021-03-31 03:55] Eucalyptus-Veary opened #9785 "Cann't upload file(working directory)"
My system is windows 10 ver 1903. My PostMan version is : Postman v8.0.10,
Today, I created a request for upload attachment, then it show me the tooltip:
"This file isn't in your working directory. Teammates you share this request with won't be able to use this file. To make collaboration easier you can setup your working directory in Settings."
Now I Set the work directory to "C:\Users\Veary\Post

[2021-03-31 04:43] sonphung90 commented on #8195
+1

[2021-03-31 04:44] F-shaikh commented on #9776
yup its fixed! thanks!

[2021-03-31 04:44] #9776 closed, assigned to nobody

[2021-03-31 04:54] shashankawasthi88 commented on #9784
Duplicate of https://github.com/postmanlabs/postman-app-support/issues/8769

[2021-03-31 04:55] #9784 closed, assigned to abhijitkane

[2021-03-31 05:21] postman-support commented on #9776
Hey @F-shaikh,

Excellent! Thanks so much for confirming the fix!

Please do let us know if you have any other questions. We'd be happy to help!

Thanks for using Postman 🚀​

via @taehoshino | Postman Support

[2021-03-31 05:34] Pricilla09 commented on #9626
Hi @mccannt, yes we can close this.. It's working now.. I didn't face this issue for few days :-) Hope I am lucky too. You can close it. Thank you.

[2021-03-31 05:36] Pricilla09 commented on #9779
@DannyDainton Great then, Thanks a lot Danny!!

[2021-03-31 06:19] leiha commented on #9470
After update of 8.0.10
for me the bearer auth works properly again
i don't try other thing

[2021-03-31 06:31] k4yaman commented on #8195
Sure this will influence the server when saving is all the time activated but as people said we moving back to the 90's where responsive behavior is a norm. Please make at least an option in the settings so one can activate it if you don't want this to be default behavior.

[2021-03-31 06:57] matonb commented on #285
Thanks @scottmmmm , I'm off to try insomnia

[2021-03-31 07:25] ImLuze commented on #6719
This issue is on "pending triage" on the [API Specifications and Code Generation](https://github.com/postmanlabs/postman-app-support/projects/44#card-54641364) project, but on "Done" on the [API Platform triage](https://github.com/postmanlabs/postman-app-support/projects/37#card-34873648) project. Is there anywhere else where we can track the progress/roadmap for this issue?

[2021-03-31 07:49] mhmacleod opened #9786 "Pull Changes - conflict resolution shows nothing in the comparison screens"
The sections that are supposed to show the conflicting code to resolve are all blank. selecting either does not show a different result on the final code
![image](https://user-images.githubusercontent.com/16532819/113109604-b6f0f280-9238-11eb-87ac-4bab85c67381.png)

[2021-03-31 07:53] CriggerMarg commented on #4193
I think we should consider to implement this feature by ourselves. But I can't find repository for desktop app. Who can help me with that?

[2021-03-31 08:07] dan-lind commented on #9470
Agree, "Inherit auth from parent" still doesn't work

[2021-03-31 08:28] bneumann commented on #2523
For what it's worth I stumbled across this issue (with azure pauth, which wants the resource key) and couldn't use the build in functionality. I made a script that runs before each query that sets a variable which then again can be consumed by the query:

[code]
I use the token in the same folder then:

![image](https://user-images.githubusercontent.com/2605131/113114327-82b30d00-920b-11eb-8f48-d2

[2021-03-31 10:15] xk0der commented on #9696
Hey @Pricilla09 just a quick note about the label changes you may see here 👋
This GitHub issues stays open, just closing the support-automation here, we have your ticket logged internally and will continue to follow-up there too.

[2021-03-31 11:05] DannyDainton commented on #9786
Hey @mhmacleod

Could you provide some more context and some steps to reproduce the problem, please?

The Postman version will also help here too. 🏆

[2021-03-31 11:43] mccannt commented on #9626
@Pricilla09 This is great news! Thanks for letting us know.

I will close this issue out for now but if you do experience it again, please reopen it.

[2021-03-31 11:43] #9626 closed, assigned to nobody

[2021-03-31 14:14] jmereaux commented on #9409
Same issue here. Any news on the subject please ? Is this bug going to be fixed soon ?
Thanks.

[2021-03-31 14:31] drulia opened #9787 "Postman uses ~20% cpu if update is pending"
**Describe the Issue**

When update is pending, Postman starts to use high amount of cpu while doing absolutelly nothing, just sitting in the background. It's close to 20% on i7 cpu/

**Steps to Reproduce**

Just let the update come up and look at the cpu usage.

**Screenshots or Videos**

**Environment Information**

 - Platform Type:
 - Postman Version: v8.0.10
 - Operating System: Windows 10

[2021-03-31 14:34] BrambleRamble commented on #6981
The global search bar at the top of v8.0.10 doesn't appear to search my imported collections. Perhaps we have misunderstood each other somewhere along the way?

For context, I'm not signed in, and have imported a few collections from JSON files.

As an example, these collections include the line `pm.test("Returns 2 changes", function() {` in a few different tests, and I'd like to find all of these

[2021-03-31 15:32] arlemi commented on #6719
@ImLuze That's my bad, I closed this issue by mistake a year ago and the automation moved it to Done, I've reverted it. This issue is the best place to get updates when we release it. 🙂

[2021-03-31 15:35] arlemi commented on #4009
@SwapnilSoni1999 The feature is already in development, so probably not! If you're interested about the different ideas we've put out for GSoC, please check our community forum: https://community.postman.com/c/open-technology/gsoc/42

[2021-03-31 15:45] MikeCheel commented on #4193
That sounds exciting. It would be nice if you could save collection runs
and do more with them as well

On Wed, Mar 31, 2021, 11:30 AM Arlemi ***@***.***> wrote:

[2021-03-31 16:07] newhouse commented on #6719
@arlemi you guys are not open source, are you? I'd submit a PR to add this if you were...

[2021-03-31 17:18] AlexLombry commented on #4193
Very nice the flow runner but I think the lack of response from Postman is the real problem here.

You're the first **Collaborator** tagged person that respond to this thread since **15 Feb 2018**

Three years to have a single comment on whether or not it's possible for this feature to happen, or taking into account is freaking long.

Honestly it's the first time I saw in a project like this to ha

[2021-03-31 17:33] SwapnilSoni1999 commented on #4009
Thats great <3 I'm planning for gsoc this year lets see how can I be helpful for this community. Thanks alot

[2021-03-31 17:42] nikki30 opened #9788 ""Whitespace present at end of query" - add as exception reason"
I saw an issue posted about trimming whitespace at the end of the query. I understand how that is not feasible. However, if it would be possible to add some sort of warning or exception reason  saying "Your query has a whitespace at the end. Is that expected?" would help save a lot of time in debugging.

[2021-03-31 17:42] Synchro commented on #9716
I'm getting this problem in Mac Postman 8.0.10, and it just cost me an entire day to track down. Why wouldn't I expect "use token" to use the token?

FWIW, the token management could really use an overhaul. It's the bit of the app I have to use the most (because new clients are generated every time I run my test suite), and it's really quite painful to use, hidden away behind those three little do

[2021-03-31 17:44] jongio commented on #2523
Azure REST APIs with Postman using Pre-request Script that handles token expiration
- Blog: https://aka.ms/azurerestblog
- Video: https://aka.ms/azurerestvideo

Azure REST APIs with Postman's OAuth 2.0 Provider:
- Blog: https://blog.jongallant.com/2021/03/azure-rest-apis-postman-oauth2/

[2021-03-31 18:18] 5thdimensional commented on #9766
Thank you for your feature request. I'm Steven, a product manager here at Postman, and I'd like to make sure I understand your workflow as well as ask a few questions...

**Summarizing My Understanding**
You have an OpenAPI definition file that you are importing into Postman via the Import > Link feature, and as you are iterating on API designs this flow requires deleting the previously imported A

[2021-03-31 18:20] giridharvc7 commented on #9763
Thanks for reporting this. We are taking this up and we'll be fixing it soon.
Till then, please save the collection after generating a new token.

[2021-03-31 18:46] jotsarup commented on #4935
@jrsiegs @andmill I am a PM at Postman. I know you requested the feature long back but we are planning to add such capability in newman and various CI tools. Would love to understand your use case in detail. Let us know here or if you prefer I can setup a quick 30 min call as well. thanks

[2021-03-31 18:47] 5thdimensional commented on #9737
Are you able to share a screenshot of what you are experiencing? The `responses` in the OpenAPI definition should map to `examples` under the corresponding API operation rather than to the operation itself.

[2021-03-31 19:46] jez9999 commented on #9737
![image](https://user-images.githubusercontent.com/793830/113201935-0bf52e80-9262-11eb-94c4-ca790fa448eb.png)

Yes, they map to "example" nodes in the tree, as the above screenshot shows with the "e.g. Success" nodes.  I'm asking for an option not to generate these nodes even if the JSON contains a "responses" entry, as I find them to be useless noise.

[2021-03-31 21:41] Mohammad-islam opened #9789 "New Integration Request - <Postman API>"
**Describe your current workflow**
How do you use Postman with the rest of the tools in your stack to achieve your use-case?

**Describe your ideal workflow**
How would you want Postman to integrate with specific products/tools to simplify or enhance your experience?

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've conside

[2021-04-01 01:15] edumueller commented on #2361
I understand where you come from, but that's basically to make sure you are getting the "configs" for that specific client (thus the id)

[2021-04-01 04:51] jordanengstrom commented on #8701
Same for me on Postman Desktop v8.0.10, Windows 10

[2021-04-01 05:22] shashankawasthi88 commented on #9789
@Mohammad-islam can you please elaborate on the different sections of the Integration request template. This would help us plan the Integration better.

[2021-04-01 08:10] greghesp opened #9790 "[Feature] Body Variation Selection"
**Describe the solution you'd like**
At the moment, Postman supports the ability to create a request with a "fixed" body, and then allows you to create examples for documentation that show the request and response.

If you have an endpoint that can handle several different body configurations that all do different things, the only way to manage these is to create a new request for each body config

[2021-04-01 09:14] arlemi commented on #6719
@newhouse The Postman Runtime and some other parts of the app (code generators, collection format, collection SDK...) are open source, but the source code of the app isn't. You can learn more about it on our Open Philosophy page: https://www.postman.com/company/open-philosophy/

[2021-04-01 09:45] arlemi commented on #4193
@AlexLombry We did reply in 2020 to start organising the feedback [in this comment](https://github.com/postmanlabs/postman-app-support/issues/4193#issuecomment-626699439) and make sure that what we're planning to do solves most of the issues users are facing. Admittedly I could have posted the video from the keynote earlier. 😅

[2021-04-01 12:17] daniele-orlando commented on #5222
### PLEASE, STOP POSTING

If you want to express your agreement, use the thumb 👍 on the **initial post**.

![Schermata 2021-04-01 alle 12 40 32](https://user-images.githubusercontent.com/504386/113292462-d6e5ec00-92f4-11eb-9b81-ec0d8ba8fca6.png)

[2021-04-01 13:00] Sushi21 commented on #6681
Same here we are investing a lot in Postman but we need that feature on our private APIs

[2021-04-01 16:13] jviotti commented on #7556
Hi @stcalica, sorry for the late reply! I encountered this issue myself today and I have a PR that should fix it. In case it helps in the mean-time, it seems that the Postman API will reject any collection payload that exceeds 1 MB. It should work fine if its less than that. Hopefully this change lands in production soon.

[2021-04-01 16:34] ronssij commented on #6643
same on Version 8.0.7 (8.0.7)

[2021-04-01 16:59] HenningLanghorst commented on #9488
I use Postman at work and do want to put potentially sensitive data into the cloud. Hence, I would appreciate if the warning could be disabled permanently.

[2021-04-01 17:22] Fyb3roptik commented on #9623
I am having this issue! Using 8.0.8 Postman on a Mac

[2021-04-01 18:13] Davi-DeGanne commented on #9780
This has been pretty disastrous for our team, we have 5+ "feature branch" forks that we can't merge into the main test collection at all, for no apparent reason; the entire "pull request" feature has been rendered non-functional.

![postman merge failure](https://user-images.githubusercontent.com/10736422/113336272-62ef1800-92e3-11eb-8d19-9eaf853218d4.png)

[2021-04-01 19:29] dsotrean commented on #4391
Had the same issue recently. The token have to be generated with the parameters: grant_type, client_id, client_secret, scope, resource.
When I excluded <resource>, it generated a default value: 00000002-0000-0000-c000-000000000000
Setting the <resource> to "https://management.azure.com/", the generated token was valid to be used in other API calls.
![2021_04_01_21_24_49_Postman](https://user-image

[2021-04-01 21:14] StrohmyerTR commented on #3803
It should be fairly simply to implement this feature.

Given this class, for example:

`1: class Warning extends Error
2: {
3:     constructor(message)
4:     {
5:         super(message);
6:         this.name = "Warning - line " + this.lineNumber;
7:     }
8: }`

Why should I not be able to execute:

`9: if (!foo && !bar)
10:     throw new Warning("Unexpected criteria");`

**Expected output**:

//

[2021-04-01 21:44] ethangrinnell78 commented on #1070
How about a cheap hack to bypass the underlying infrastructure issue. The UI and documentation would sort the examples in order according to the response header's "date" attribute, regardless of the order in the internal data files. This gives us an attribute that we can edit in the JSON export to force the examples into a certain order, and it is also an attribute that is probably already in the

[2021-04-01 21:54] ethangrinnell78 commented on #3913
I've just been messing with this, It doesn't seem like it's working even as @namgivu suggested. I can import from JSON in the order I want, and it looks good in the Windows application. However, when I publish the document some of the examples are in random order. I even tried incrementally importing examples, first I imported with only a single expected response, then imported with the same expec

[2021-04-01 22:08] juhasev commented on #1070
@ethangrinnell78 How about postman finally just fix this issue by enabled reordering of responses or at least show the 200 responses automatically as first.

[2021-04-01 22:10] ethangrinnell78 commented on #1070
There are probably a bunch of ways that seem relatively straight forward. It doesn't need to be a perfect solution for now. But the current solution seems pretty broken at random times.

[2021-04-02 03:27] StrohmyerTR commented on #3803
My workaround, for anyone interested in printing line numbers to console...

`class Warning extends Error
{
    constructor(message)
    {
        super(message);
        this.name = "Warning @ " + getLineNumber(this.stack);
    }
}`

`if (!foo && !bar) throw new Warning("Unexpected criteria");`

Output:
// Warning @ 229:23: Unexpected criteria

`function getLineNumber(stack)
{
    var regEx = /\.

[2021-04-02 10:48] kuzmaka commented on #723
For response without body better use
[code]

[2021-04-02 13:34] jonforcade opened #9791 "Autogenerated CURL doesn't work"
Folks,

I wanted to bring your attention to something that I noticed. I'm not a super expert - so please bear with me if I'm off base.

I created a working json request to a server of mine.

From within Postman, I asked to see the curl that matches what I have working and it shared this:

[code]
However, that doesn't work on my systems.

The following does:

[code]
[code]
Also, when you select Dis

[2021-04-02 13:48] DannyDainton commented on #9791
Hey @FortiJon

Which version of Postman are you using to generate that command?

When you say _it doesn't work_, what does that mean?

Are you shown an error response, no response, something else?

[2021-04-02 14:05] andreaneri commented on #9628
@codenirvana since i updated to release 8, my issue it is similar,
i'm calling an endpoint who return a cookie response-header like:
IDM=ABCD1234; Path=/; Domain=app.mydomain.local; Expires=Fri, 02 Apr 2021 21:50:41 GMT; Max-Age=28800; HttpOnly; SameSite=None

the cookie is not added to tab cookies,
so it doesnt sent in the next requests...

[2021-04-02 14:14] FortiJon commented on #9791
Postman: 8.1.0

Error messages:
  curl: option --data-raw: is unknown
  curl: try 'curl --help' or 'curl --manual' for more information
The platform is CentOS 7

On my Mac, the code works after I add a -k to the original Postman script.
Adding the -k on the CentOS 7, generates the same data-raw error.

[2021-04-02 14:19] DannyDainton commented on #9791
As a workaround you could remove the `-raw` part and use `data`.

That should work the same as your request.

[2021-04-02 16:11] FortiJon commented on #9791
Will do - remove raw!

Yes, I believe so - just CentOS 7.

Thank you Danny for the fast response, much appreciated!

[2021-04-02 17:15] tiffanypatek commented on #9709
This is also happening to me. It's impacting my ability to work.

kbping and I are working in a team workspace. The other members of our team are not experiencing this, so it seems to be a sporadic issue.

[2021-04-02 17:25] ab-tools commented on #8495
Just hit the same issue once more and therefore checked this old ticket again:
Although the work-around kindly provided by Kevin above still works it would really be great if this could be fixed to cleanup my pre-request scripts. ;-)

It looks like that the GraphQL request body mode was simply forgotten to be handled in the `body.toString` method here:
http://www.postmanlabs.com/postman-collection

[2021-04-02 17:32] SeanLively commented on #4898
Very poor user experience trying to add multiple variables across multiple environments in Windows. I was unable to find any kind of magic key combinations to select multiple rows. (shift-arrow works for 1 row, but not multiple)

[2021-04-02 18:38] tiffanypatek commented on #9709
Here's a [recording](https://tiffanypatek.github.io/postman_bug/).