[2019-04-11 13:29] JPhillipBrooks commented on #5611
Go out to the website and manually download it: https://www.getpostman.com/downloads/

Edit: Looks like you can also go into Settings/Update and enable "Automatically download major updates" but I don't recall if that setting existed prior to v7.

[2019-04-11 13:51] #5750 closed, assigned to nobody

[2019-04-11 13:59] me2resh commented on #2801
+1 this is needed.

[2019-04-11 14:05] numaanashraf commented on #2606
With only the information that is currently in the issue, we don't have enough information to take action or verify whether this is a valid issue. I'm going to close this but don't hesitate to reach out if you are still facing this issue.

[2019-04-11 14:05] #2606 closed, assigned to nobody

[2019-04-11 14:07] minoseah629 commented on #3602
I was directed to this issue from Postman Support.  My Mock Services are not returning json, but soap responses.

My Soap Requests have SoapAction header that are specifically to target a request
`http://xxx.person/retrieveDependent.`
![image](https://user-images.githubusercontent.com/1980068/55963502-f59ed400-5c40-11e9-8acf-9d98c6f06adc.png)

Additionally, the body looks like this:
[code]
example

[2019-04-11 14:41] daveshute commented on #1535
Yes. This. In many cases I've got a lot of setup and reusing calls. A way to insert a request into a stream rather than reset position would be wildly helpful.

[2019-04-11 15:01] numaanashraf commented on #6274
Duplicate of #2096

[2019-04-11 15:01] #6274 closed, assigned to nobody

[2019-04-11 15:23] topus commented on #5873
I had a comparable issue with postman when sending a POST request for the ‘Action’ with value ‘SendMessage’.
See also https://docs.aws.amazon.com/AWSSimpleQueueService/latest/SQSDeveloperGuide/sqs-making-api-requests.html#structure-post-request

With the canary release ‘PostmanCanary-win64-7.1.0-canary02-Setup.exe’, I now can successful POST a send message on SQS queue. I’m not bother anymore with

[2019-04-11 15:27] dineshviswanath commented on #3466
I am not sure what is going wrong in postman team. I see request for "Autosave" from 2015 in other place. Yet, postman is not fixing it. Could someone from postman team possibly answer this question "Why we dont have autoSave of request after being persistently requested from community?" 🙏

[2019-04-11 16:37] tristandenyer commented on #6272
@Vivalldi Thank you for taking the time to send this our way! I really appreciate it.

Internal ticket created and prioritized. Will update this ticket when fixed.

[2019-04-11 17:42] Westernwells commented on #6205
am also having this same issue

[2019-04-11 17:48] zany2dmax commented on #6271
I deleted and reinstalled and got my collections to show back up onthe left side.  That was weird though.

[2019-04-11 18:42] neawasthi commented on #4751
Postman desktop app  v7.0.7 is crashing for some mediocre  response (<20mb) and is pretty unusable at this moment.
I  happen to have the postman extension in chrome (v5.5.4) installed and it seems to work ok at least for the case mentioned above.

So, As a workaround see if downgrading to an old version help to get around the issue. Though I have not compared any features i may be missing by downg

[2019-04-11 18:45] jzabroski commented on #4751
@shamasis Not sure if helpful, but I've been going through PowerPoint slides and blog posts of a CarGurus.com ReactJS developer named Tommy Parnell.  He seems to really know what he is talking about when it comes to web browser performance.

[2019-04-11 20:26] mcandre opened #6277 ""Pretty" tab fails to indent div content properly after emoji content"
When I use an emoji literal in my HTML response, then Postman's prettifier no longer indents the surrounding HTML tags properly.

[2019-04-11 20:35] loopDelicious opened #6278 "Templates with no config options displays Configuration Options page"
New+ button > Templates tab > Select a template > Use the Template button

When I click Use the Template, there's a page that displays Configuration options (blank when there are no config options). I assume it's just loading, but it's just blank, then I click Next.

<img width="1273" alt="Screen Shot 2019-04-10 at 2 09 56 PM" src="https://user-images.githubusercontent.com/17693714/55991196-87690a

[2019-04-11 20:44] loopDelicious opened #6279 "API Network descriptions are not displaying in the app"
New+ button > API Network tab

Descriptions are no longer displaying in the API Network modal in the Postman app.

<img width="1392" alt="Screen Shot 2019-04-11 at 1 32 10 PM" src="https://user-images.githubusercontent.com/17693714/55991643-97cdb480-5c5f-11e9-8527-cf42de947f21.png">

<img width="1532" alt="Screen Shot 2019-04-11 at 1 31 24 PM" src="https://user-images.githubusercontent.com/1769371

[2019-04-12 01:54] gmiahiang commented on #3358
+1

[2019-04-12 02:12] Jiasm commented on #2833
In fact, you also need to delete the `window` file in the same directory.

[2019-04-12 03:16] PeterMen commented on #2845
Any solution yet?

[2019-04-12 03:17] PeterMen commented on #2845
![image](https://user-images.githubusercontent.com/18695024/56010045-9a3e1600-5d14-11e9-888b-5ce199504fc4.png)

[2019-04-12 03:48] preethammavin commented on #6224
The issue which led to user not being able to share from me/collections has been fixed.
Will be tracking comments dont load on restore separately

[2019-04-12 03:48] #6224 closed, assigned to ankit-m

[2019-04-12 03:52] preethammavin commented on #4912
Hi,
We have pushed a fix to support this, can you verify and let us know if it is resolved. Will keep the thread open for a while to see for the incoming feedback.

[2019-04-12 03:54] preethammavin commented on #5814
@Diaidis we have zeroed in on a possible cause for the issue, will update the thread once the fix has been deployed.

[2019-04-12 05:25] amodmahajan2016 commented on #4082
@sivcan I think we can set body attributes directly from pre request script.
pm.request.body["Data"] = countArr; // Adding the property to body.
Only read access we have in pre request script.

[2019-04-12 05:42] abhisekp commented on #6248
Looks like this has been fixed :+1: :smile:

[2019-04-12 06:14] preethammavin commented on #5797
The issue has been fixed and pushed, do feel free to reopen the ticket if reoccurs again.

[2019-04-12 06:14] #5797 closed, assigned to ankit-m

[2019-04-12 06:24] Raj-postman opened #6280 "Workspace deleted when user role is deleted and re-added"
**Describe the bug**
While testing the permissions and roles with a co-worker, I removed my "user" role. Postman app was open, then I re-added the user role and all of a sudden the TEAM workspace is completely gone including the activity.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to collections in the Team workspace
2. Click on Manage role
3. Remove yourself from the collection and

[2019-04-12 06:35] sivcan commented on #6280
Hi @Kurmavathar,
We were unable to reproduce this issue.

Couple of questions:
1. Are you able to reproduce this reliably with other team workspaces too?

2. Which team workspace got deleted? (Did it have the name as _Team Workspace_ or some other team workspace that you had created got deleted?)

3. Also, the app version that you've shared is wrong, can you please verify and update it?
It must be

[2019-04-12 06:51] Diaidis commented on #5814
Hi!
Thank you, guys! Appreciate a lot!

[2019-04-12 07:28] rick-hayek commented on #3216
It still happens on v7.0.7.
I'm requesting a very simple web api which returns very light json data. In chrome, it finishes around 300ms, but in Postman, it takes 1.5s to complete the request. kinda insane.

![image](https://user-images.githubusercontent.com/17425089/56019554-8c4dbc80-5d37-11e9-9590-c03ff6daf1d0.png)

[2019-04-12 07:52] shamasis commented on #6276
Aah. Seems like something that must have been pretty tricky to debug. However, this is how JavaScript works.

The only way to fix this would be having a section that shows where the variable “false” came from. That’s being tracked in some other issue IMHO. Will hunt down that issue soon and refer this issue in that one. Closing this for now.

[2019-04-12 07:52] #6276 closed, assigned to nobody

[2019-04-12 07:52] mattroberts297 commented on #5184
On v7.0.7 I see both the initial and current value being set when `pm.environment.set` is used. I think either introducing `pm.session.set` per @chrisdeso's comment or changing the behaviour of `pm.environment.set` to match @numaanashraf's expectation would work.

[2019-04-12 07:54] shamasis commented on #6261
@lineshr - perchance did you get time to check out the response of the url?

[2019-04-12 08:02] shamasis commented on #6253
Yes. This means that postman is sending out DELETE request just fine. We need to now specifically see if there’s something in your application code that’s causing this. I’m afraid, that’s something only you can do best since you have the maximum context.

Having said that - you should post this thread in our community and you may encounter someone who has worked on a situation similar to yours. co

[2019-04-12 08:02] #6253 closed, assigned to nobody

[2019-04-12 08:17] godfrzero commented on #4846
Invoking `console.error` no longer incorrectly marks the run as a failure.

[2019-04-12 08:17] #4846 closed, assigned to godfrzero, ankit-m

[2019-04-12 09:01] Raja-Simha commented on #6248
Yes!! Closing this issue.

[2019-04-12 09:01] #6248 closed, assigned to dhineshwiz, Raja-Simha

[2019-04-12 09:07] 14552516 opened #6281 "Lost Collections"
Describe the bug
When I sign in to my account, my previously saved collection disappears, how can I get it back?
These collections are saved locally when I am not logged in.

App information (please complete the following information):
 - App Type  Native App
 - Postman Version  7.0.7

[2019-04-12 12:30] rosponda57 commented on #6013
I hope it will be fixed soon...

[2019-04-12 12:37] YDundie opened #6282 "Add HTTP method to filter"
Hello,

Could you possible add a feature to the filter(search history) where you can filter by HTTP method.

For example:
     **I have multiple endpoints that have the same URL /customer/{id},
     but I would like to only get PUT /customer/{id}.**

It would help a lot when searching through thousands of POST and GET requests.

[2019-04-12 13:40] dhineshwiz commented on #6241
@chrisdeso This issue is fixed from our end

[2019-04-12 13:40] #6241 closed, assigned to dhineshwiz, Raja-Simha

[2019-04-12 13:42] ghost commented on #1906
+1

[2019-04-12 14:20] #5748 closed, assigned to ankit-m

[2019-04-12 14:45] dhineshwiz commented on #5858
@JP-from-Postman This issue is fixed from our end

[2019-04-12 14:45] #5858 closed, assigned to godfrzero, Raja-Simha

[2019-04-12 15:10] Joshuamay79 opened #6283 "Request adding cache and token headers when set to off in settings"
**Describe the bug**
Temporary headers are being added to the request when settings are set to off.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to settings
2. Toggle Send no-cache header to off
3. Toggle Send Postman Token header to false
4. Create request
5. Notice the automatic headers added to the request.

**Expected behavior**
Not adding these temporary headers when toggled to of

[2019-04-12 15:27] camohub commented on #6205
As I found out I am behind the proxy server. Is it related to this problem?

[2019-04-12 15:56] masterchop commented on #6021
i think you dont understand what i am doing, the cookie is generated but after the reqeust is been done, and it has to be generated before as this a script that runs before the request. This is a bug as i am not able to create the cookie at run time to be use on the request.

[2019-04-12 16:48] abhijitkane commented on #6281
@14552516 Is this happening each time you sign in -
1. Sign out
2. Create a collection
3. Sign in
4. Collection disappears?

If so, can you check View->Developer->View logs in Finder/Explorer, and attach the logs here, or email them to help@getpostman.com?

[2019-04-12 17:24] emiliovmq commented on #3365
Any news on this??? We really need this feature implemented...right now we have several environments we would like to import without duplication and without the tedious workaround of previously deleting them...

[2019-04-12 17:28] enviapaqueteria commented on #1070
It is a very important feature to order the examples.

[2019-04-12 17:34] cyrielle-hada opened #6284 "Collection without any editor role"
**Describe the bug**

With RBAC in v7 some collections appear to have no editor assigned.
The collection owner (creator) sees a padlock which doesn’t give him the permissions to edit the collection or to manage the roles.

![CollectionPermission (1)](https://user-images.githubusercontent.com/47351631/56055579-b01dfc00-5d51-11e9-9cf1-9299af945a19.jpg)

As nobody else in the team has the permission

[2019-04-12 18:31] codenirvana commented on #6021
@masterchop If I understood you correctly, you are either trying to create a new cookie programmatically via script OR cookie is not set (in the cookie manger) even if `set-cookie` header is sent correctly (*Is this a normal request or `pm.sendRequest`?*).

[2019-04-12 18:39] codenirvana commented on #6013
@DavideCarvalho @rosponda57 We do retain request headers on redirects. The only exception is:
`Authorization` header will be dropped if the request redirects to a different host (e.g, abc.com -> xyz.com).

Is that the case? Can you provide more details about the redirect?

[2019-04-12 18:54] ghost opened #6285 "H7lost"

[2019-04-12 18:58] abhijitkane commented on #6223
@amitdotagarwal While we fix this in our converter, changing `application/vnd.api+json` to `application/json` in your OpenAPI file should work.

[2019-04-12 19:25] codenirvana commented on #6253
@justjess678 From console logs I see `referer` header was sent while making the request, which means the request does go through a redirect. Now, as you mentioned the request is behaving like `GET` which means that redirect happened with either 301 or 302 status code.

This is happening because as per RFC: https://tools.ietf.org/html/rfc7231#section-6.4.2
[code]

So, to preserve the HTTP method on

[2019-04-12 19:34] codenirvana commented on #6285
@h7lost I think this issue is created by mistake because I don't see any description of what the bug is.

Closing this issue, feel free to reopen if you update the issue description.

[2019-04-12 19:34] #6285 closed, assigned to nobody

[2019-04-12 20:18] cia1 opened #6287 "Import from openapi v3 with "~1" in parameter $ref"
**Describe the bug**
When I import openapi v3 file I got error: "OpenAPI 3.0 Could not import"

**To Reproduce**
1. Menu "Import" -> Import File...
2. Got error: "Error while importing Open API 3.0: Could not import"

**Screenshots**
If applicable, add screenshots to help explain your problem.

**App information (please complete the following information):**
- Windows 7
- Postman v7.0.8

**Additio

[2019-04-12 20:53] abhijitkane commented on #6199
@preethammavin Why is this a feature / assigned to ops?

[2019-04-12 23:00] JP-from-Postman opened #6288 "Error Logging In: "...difficulties connecting to our authentication service""
**Describe the bug**
When signing in to the Postman app, user reports sporadic reoccurrences of the following error:

<img width="310" alt="Screen Shot 2019-04-12 at 3 31 42 PM" src="https://user-images.githubusercontent.com/43283131/56069575-873d3d00-5d38-11e9-89db-192c3840c5e8.png">

**To Reproduce**
Steps to reproduce the behavior:
1. Login to the Postman app
2. See error noted above
3. After a

[2019-04-12 23:21] oprogramador opened #6289 "empty request body after importing raw text in cURL format when there's backslash, apostroph and bracket opening"
**To Reproduce**
Steps to reproduce the behavior:
1) Click `Import` (top left corner)
2) Select `Paste Raw Text` tab
3) Paste this text:
[code]
4) In the `Body` tab there's an empty body though a body was provided in the imported request
5) In fact, no request body is sent

**Expected behavior**
4) `Body` tab should show this request body:
[code]
5) The request body from the previous point should

[2019-04-13 00:57] knifesk commented on #6280
I was the original user that had the issue. I'll elaborate a bit better to see if you can reproduce the error.. Although I'm not sure if it's an error, it scared the crap out of me haha

The real description of the issue was:
Collections disappeared from the TEAM workspace after removing and adding back the "user" role to myself. I AM the owner of the Collection

- Open webpage (team.postman.co)
-

[2019-04-13 05:30] masterchop commented on #6021
I am collecting the cookie from the pm.request and try to place it on the cookie manager so the main request can use it but it get created after executing the main request. which fails due to missing cookie.

[2019-04-13 06:45] redplane commented on #2209
Any updates ?

[2019-04-13 08:37] preethammavin commented on #6280
@knifesk I understand the issue

When developer role is removed for the user we unassign the roles for the specific workspace
When the role is reassigned again we do not restore all the roles he already had

But the said user should still have access to all team workspaces, it would take about a minute to restore permissions which might lead you to believe the Team Workspace was deleted.

We do no

[2019-04-13 08:41] knifesk commented on #6280
I had access to the team workspace, but the collection seems to be unlinked
from the workspace. Workspace was fine, collection was fine... but when you
tried to access the collection you got an error saying that collection
wasn't assigned to any workspace

I actually took me a minute to fix it, but in the meantime had to ask for
help as I assumed that everything was gone and if I kept messing arou

[2019-04-13 09:44] preethammavin commented on #6280
@knifesk I understand the concern, one question did you have to join the team workspace again?

[2019-04-13 11:16] iensu opened #6290 "Cannot reset my password due to recaptcha"
**Describe the bug**
A clear and concise description of what the bug is.

I am trying to reset my password but I can't get past the recaptcha step. I was clicking around on cars, bicycles, crossings... for about 2 minutes each time to no avail. Could you please remove recaptcha and use something else for verification? This is extremely frustrating. In the end I had to create a new account just to

[2019-04-13 15:27] knifesk commented on #6280
I have team 3 workspaces, when I regained the "user" role I had to click
"join" on the 3 of them... When I did that I hoped to see the collections
again and right after that I realized that something went terribly wrong

On Sat, Apr 13, 2019 at 6:44 AM Preetham <notifications@github.com> wrote:

[2019-04-13 15:32] lauxjpn commented on #5920
Duplicate did not work for me as described.
After explicitly saving the request I wanted to duplicated, it worked as expected.

[2019-04-13 15:57] natenho opened #6291 "Add workspace name to the window title"
When opening two or more Postman windows to work on different workspaces, the taskbar shows only "Postman" in the window caption, so it's confusing to switch to the right window.

**Describe the solution you'd like**
Add the workspace name in the postman window caption or something to differentiate between windows when switching between them in the task bar.

[2019-04-13 17:05] matheusmota commented on #4667
Any update on this? It would be great to have it all in multiple tabs.
It is really frustrating to have to keep switching windows while debugging.

Thanks

[2019-04-13 19:08] diegogsann commented on #5294
have any prevision to implemented this feature?

[2019-04-13 19:10] diegogsann commented on #5302
#5294

[2019-04-13 20:09] jvermach commented on #1654
And can you please as well show, how the data source file should look like please (how shall appointment_list be definied?

[2019-04-13 21:38] lauxjpn opened #6292 "Example's response preview not working"
**Describe the bug**
After saving an example of a request/response, the example's response preview does not show anything, despite the fact, that the response preview did work before saving it as an example and despite the "Pretty" and "Raw" tabs containing valid HTML code.

**To Reproduce**
Steps to reproduce the behavior:
1. Retrieve an HTML page as a response of a request.
2. Save that request/

[2019-04-14 04:29] larse514 commented on #4320
Would love to see a solution here.  Based on other comments I will be looking into https://insomnia.rest/ for my next project

[2019-04-14 10:06] needModify commented on #1667
I need a desktop interceptor, otherwise this new postman won't work for me.

[2019-04-14 13:38] Neurrone commented on #3121
Wondering if there's been any progress on this? Almost 3 years since it was first reported.

[2019-04-14 14:06] MoonBall opened #6293 "Preserve HOST header on redirect"
**Describe the bug**
Like https://github.com/postmanlabs/postman-app-support/issues/2182

**To Reproduce**
![image](https://user-images.githubusercontent.com/13298548/56094024-e5694c00-5f01-11e9-9596-9629ca276581.png)

**Expected behavior**
Host Header is 'hr.bytedance.net'

**Screenshots**
![image](https://user-images.githubusercontent.com/13298548/56094032-092c9200-5f02-11e9-8fd3-e0af68cbaa07.pn

[2019-04-14 17:27] naveed1234567 commented on #4657
![Screenshot_2](https://user-images.githubusercontent.com/49415120/56096646-6aedfb80-5f04-11e9-8373-75c978cb2bc1.png)
After downloading Postman I am getting this error plz help me out

[2019-04-14 17:30] naveed1234567 commented on #4239
![Screenshot_2](https://user-images.githubusercontent.com/49415120/56096687-e94a9d80-5f04-11e9-9c84-c058a52ed8c4.png)
After downloading Postman i'm getting this error plz help me out to solve this error

[2019-04-14 19:20] NDemydenko commented on #971
would be nice
+1

[2019-04-14 19:30] prumand commented on #1667
A possible solution could be allowing (minimal) browsing via postman. You can login and get the session info as needed. Maybe since it's an electron app, that would be easy to implement.
At least it would suit my workflow.

[2019-04-15 02:20] Vijaynrt851 opened #6294 "Add keyboard shortcut to focus sidebar"
I'm using Windows machine for postman tool

I'm trying to focus on sidebar using keyboard shortcut Ctrl+Alt+1 which is mentioned in postman release notes I have tried with the different combinations of keyboard shortcut But I could not focus on the sidebar every time after I hit the request I need to navigate the request in the collection so I thought of using focus on sidebar shortcut but I am fa

[2019-04-15 04:29] preethammavin commented on #6280
@knifesk Got it, I understand the issue better now. But this was one of the expected behaviour of the older version of the app. When you removed the user role, we remove the collection from the team context for the collection shared from that user. So when you added the user back, the collection could be shared again in the team context.

This behaviour has been changed in the latest version of Po

[2019-04-15 04:29] #6280 closed, assigned to nobody

[2019-04-15 06:48] jvermach commented on #1654
and especially if I need to send list of objects...

[2019-04-15 06:51] SamvelRaja commented on #4239
@naveed1234567 could you follow the step specified here?  https://github.com/postmanlabs/postman-app-support/issues/5681#issuecomment-449251511

[2019-04-15 06:52] MelleKoning commented on #2260
After downloaded recent version 7 the app shows a popup to upgrade team, and that popup does not go away.
The sign-out button gives a scary warning that all collections are going to be deleted??

Searching a previous download (v6.7) as recommended in the popup, leads to a page where v7 can be downloaded.
What gives?

[2019-04-15 08:21] neilveil opened #6295 "Postman update on Linux"
With every new update it never asks to update the software instead it downloads it without permission and the worst part is, it never uses the new downloaded version but downloads it again. This also results in the delayed start of the application as it starts only after downloading the latest update.

[2019-04-15 08:39] VicKetchup commented on #6266
@godfrzero Had few monitors time out again, checked the responses on those and one request took longer than usual (46 seconds vs usual ~30 seconds), however from the times on local machine (~3m 30s), that still shouldn't have resulted in a timeout. Could you allocate possibly a little more resources to ensure this doesn't happen?

[2019-04-15 09:11] rosponda57 commented on #6013
He,
Thanks for interest,

Im positive that its the same problem,
We are using a site with redirect,  the version 7.0.7 works good, the 7.0.8
seems not to send headers to the redirect link in Header:

[image: image.png]

In the 7.0.7 version , the redirect is followed (when "Automatically
follow  redirects  " option is on ) with no problem
On version 7.0.8 we get :
[image: image.png]

When on v. 7.

[2019-04-15 10:34] rosponda57 commented on #6013
OK, i'll check what kind of redirect (subdomain, entire domain) is it.

[2019-04-15 10:54] godfrzero commented on #6266
Did the runs in question time out and get automatically re-attempted by the platform?

[2019-04-15 11:13] ghost commented on #5383
@darkworks As per the information you have provided, it looks like you have added space in bulk-edit mode to the values and that's why values in the key-value form have space too.

Remove the leading space from values in bulk-edit mode and it will be removed from values in the key-value form.

[2019-04-15 11:34] RaynisDev commented on #4238
Same Issue here..

[2019-04-15 12:19] vrolijken commented on #3582
Is there any documentation on this?

Why use another schema validator than the documented tv4? Can I use tv4.getSchema('somejsonpointer') as param?

[2019-04-15 12:38] shamasis commented on #6293
I was unable to reproduce this. Though I was checking with remote API (https://postman-echo.com/get) ... setting the Host header to anything else but postman-echo.com is causing the server to not respond ... hinting that host is getting replaced. Doing the same on non https - http://httpbin.org/headers shows that overridden host header is sent.

One case is that the host header does not get replac

[2019-04-15 12:50] shamasis commented on #6261
Closing due to inactivity.

[2019-04-15 12:50] #6261 closed, assigned to nobody

[2019-04-15 13:25] VicKetchup commented on #6266
@godfrzero Not sure how I would check that, however there were 2 timeout errors at the end, assuming that means that 2 runs have tried and failed.

[2019-04-15 13:36] rosponda57 commented on #6013
The problem is when we change subdomain  , when redirect from aaa.mydomail.com to bbb.mydomail.com the authorization header is cleaned, (even if the "Retain headers when clicking on links" is on, but i'm not sure if it's proper in this case) .

[2019-04-15 14:15] groggi opened #6296 "Postman fails to start on Windows 10.0.17763.437"
**Describe the bug**

Postman 7.0.7 fails to run on Windows 10.0.17763.437

**To Reproduce**
1. Install Postman 7.0.7 (`C:\Users\{username}\AppData\Local\Postman\app-7.0.7` exists with application files) on Windows 10.0.17763.437 plus some setting and/or software causing the issue
2. Start `C:\Users\{username}\AppData\Local\Postman\app-7.0.7\Postman.exe`
3. See the splash screen with the planets(?

[2019-04-15 14:19] godfrzero commented on #6266
The first log would be an error which caused the first attempt to fail, followed by the complete run log.

Also, is it necessary that all of these monitors run at the same time? If they can be split into batches (let's say 3 of them), and each batch run 5 minutes after the previous one, that would also avoid this bottleneck. If you edit the monitor via the API, you can actually set a monitor to ru

[2019-04-15 14:44] a85 commented on #6295
Please file a bug report using the issue guidelines outlined while filing an issue.

[2019-04-15 14:44] #6295 closed, assigned to nobody

[2019-04-15 15:02] Alexand3r opened #6297 "[Native app] Crashing/Freezing on Kubuntu Linux 18.04"
**Describe the bug**
Postman app crashes completely or goes black screen/unresponsive UI on opening/editing/saving requests. There is not a "sure" path to hit this bug, it happens like it is randomly, the most ways I got it to crash is by creating new unsaved requests (around 5-7).

**App information (please complete the following information):**
 - App Type: Native Type
 - Postman Version: 7.0.7(

[2019-04-15 15:11] zihotki commented on #6296
Can confirm that it doesn't run. I also don't see any splash screens and nothing is present in the logs.

[2019-04-15 15:20] tbolon commented on #5809
Please also note that if you submit multiple parameters, the "&" separator is not included between name-value pairs in the "HTTP" format.

[2019-04-15 17:42] richatyagi8 opened #6298 "Sharing an environment within Work spaces"
I have my work spaces which I have shared with one of my team member. I have also shared the environment which has the base URL. Now the base URL IP address he is seeing is my Ip address where as the environment i created us different ip
**Expected behavior**
I was expecting to see My team mate the same base URI as I am seeing

**Screenshots**
If applicable, add screenshots to help explain your pr

[2019-04-15 17:46] enginaar commented on #4770
`curl -I https://www.google.com/`

also fails with the same error.

Edit: Turns out -I is not a supported option, here is all supported options in case someone else needs it. https://learning.getpostman.com/docs/postman/collections/data_formats/#importing-curl

[2019-04-15 18:18] loopDelicious opened #6299 "Know who to contact to request permissions"
I'm on Postman for Mac Version 7.0.7

When I try to share or edit a collection for which I do not have edit access, I see this message letting me know I don't have permission to do this.

<img width="1392" alt="Screen Shot 2019-04-15 at 11 02 13 AM" src="https://user-images.githubusercontent.com/17693714/56155463-cd301600-5f6f-11e9-897e-56344b6d6732.png">

It would be nice to see an option here th

[2019-04-15 20:46] numaanashraf commented on #6298
@richatyagi8 This is intended. Current values are local and never automatically synced or shared with other teammates. Only initial values of the variables are synchronised with other members of the workspaces. You can find more details at https://learning.getpostman.com/docs/postman/environments_and_globals/sessions

[2019-04-15 20:46] #6298 closed, assigned to nobody

[2019-04-15 20:54] numaanashraf commented on #6292
@lauxjpn Is there a publicly accessible endpoint we can try to replicate this?

[2019-04-15 20:58] numaanashraf commented on #6294
@Vijaynrt851 This shortcut is not implemented in the latest version of Postman. We'll consider this as a feature request to add this shortcut back and share any updates here.

[2019-04-15 21:01] numaanashraf commented on #6277
@mcandre Could you share a publicly assessable endpoint that'll help us understand this issue better? Screenshots will help too.

[2019-04-15 22:14] chrisdeso opened #6300 "Feature Request: Support for multiple CA certificates"
**Is your feature request related to a problem? Please describe.**
With the addition of support for CA certificates, it would be great to add support for multiple CA certificates.

**Describe the solution you'd like**
The ability to add multiple CA certificates via the app's UI.

**Describe alternatives you've considered**
A programmatic way to access certificates stored locally.

**Additional con

[2019-04-16 00:20] chrisdeso opened #6301 "Collection Merge Throws 404"
**Describe the bug**
Merging a forked collection into a master collection that's been deleted (and restored) throws a `404`. If it isn't possible to merge a fork with a master collection that's been deleted (and/or restored) there should be an indication in the UI.

**To Reproduce**
Steps to reproduce the behavior:
1. Fork a collection
2. Make changes
3. Delete master collection (optional restore

[2019-04-16 01:19] JessePerry commented on #4631
Why can't this be used to update the Authorization header if using the special Authorization helper tab?
We have a good use case for this, there is some special logic to be done with our tokens, after a user has finished interactive login with OAuth2. Essentially we re-sign the token, and this is working with a pre-request script to make a new token, but I can't replace the existing Authorization

[2019-04-16 02:46] preethammavin commented on #5406
Deleting a workspace now deletes the monitors associated with it now.

[2019-04-16 02:46] #5406 closed, assigned to sankalp0o, ankit-m

[2019-04-16 03:49] codenirvana commented on #6300
The single CA file should consist of one or more trusted certificates.

[2019-04-16 04:02] ghost opened #6302 "H7"

[2019-04-16 04:21] shamasis commented on #6300
You can append as many trusted certificates as you want to the single file.

[2019-04-16 04:24] shamasis commented on #6302
Looks like an issue in filing the issue!!! Closing.

[2019-04-16 04:24] #6302 closed, assigned to nobody

[2019-04-16 04:53] Raja-Simha commented on #5589
Hi @jifka, we are closing this issue as we are unable to proceed further without additional information on reproducing the issue. Please do reopen if you find that the issue is still persistent. Thanks,

[2019-04-16 04:53] #5589 closed, assigned to dhineshwiz, Raja-Simha

[2019-04-16 05:26] ankit-m opened #6303 "Reveal in sidebar support for requests"
**Is your feature request related to a problem? Please describe.**
If a workspace has a lot of collections and multiple requests are open, it becomes difficult to find the request in the sidebar

**Describe the solution you'd like**
The context menu of the tab can have an option saying `Reveal in sidebar`. On clicking, it will highlight open the request in the sidebar and highlight it.

**Describe

[2019-04-16 06:10] numaanashraf commented on #6117
Thank you for your issue! @Kurmavathar @svkaizoku With only the details that is currently in the issue, we don't have enough information to reproduce, debug and fix this issue. We are going to close this
now but don't hesitate to reach out if you have more information for us, we'll be happy to reopen the issue.

[2019-04-16 06:10] #6117 closed, assigned to nobody

[2019-04-16 06:17] lucas937 commented on #2734
Is this issue still open? Very strange, this should be fixed ASAP. Im trying to work around this but its not working. what do i do?

[2019-04-16 06:55] abdilahrf commented on #1066
:(

[2019-04-16 07:00] detectiveHLH opened #6304 "Postman didn't show the default window in Mac OS"
**Describe the bug**
Postman didn't show the default window in Mac OS. I can see the UI window only if I add a new postman window.

**To Reproduce**
Steps to reproduce the behavior:
1. Open your postman.
2. Close this window.
3. Quit postman in Dock.
4. Open postman again.

**Expected behavior**
There is no window in sight

**Screenshots**
If applicable, add screenshots to help explain your proble

[2019-04-16 08:03] liwei78 commented on #1983
hi, I found this issue when I copy a folder, rename and drag it into another folder, IT HAPPENS.

Now I delete and recreated the folder, it fixed.

[2019-04-16 08:49] labifrancis commented on #6239
A user reports that this issue sometimes happens with Postman Canary but more reliable than the main app.

[2019-04-16 09:06] cyrielle-hada opened #6305 "'We can't seem to find the workspace' message upon launching the app"
**Describe the bug**

After updating Postman, the below message appears upon launching the app.

![Postman](https://user-images.githubusercontent.com/47351631/56196935-70a72680-6055-11e9-84b8-5e9517f2dc85.png)

**To Reproduce**

Steps to reproduce the behavior:
1. Update the latest version of the app (7.0.7)
2. Open the app
3. See error

**Expected behavior**
The app renders correctly and shows al

[2019-04-16 09:18] buehler commented on #3919
Since I'm missing this feature as well, I've got an idea:
When working on another project, I needed an "online" editor as well. Since postman is an electron app, it could be an option to customize and include the monaco editor which powers vscode right now.

It's easy customizable and has features as intellisense and other elements out of the box.

https://microsoft.github.io/monaco-editor/

[2019-04-16 09:20] jperucello commented on #6239
I did some tests on Postman Canary with my team and the sync pressing the button is still not working.
But, if I don't press the button and I just save the tab, then it seems to be working very well.

[2019-04-16 09:24] sujayvenaik commented on #6239
Hey, @jperucello On which canary version are you on?
Can you tell whether your changes are not going out or you are not receiving any changes from your team?

[2019-04-16 09:30] jperucello commented on #6239
@sujayvenaik version: v7.1.0-canary02
After we click on sync, the button keeps with loading animation and the sync is stuck for both scenarios: send new updates and receive updates.
It goes back to sync when I close the files and open again and not click on sync anymore.

[2019-04-16 09:31] sujayvenaik commented on #6239
@jperucello Can you help us with the logs?
View -> Developer -> View Logs in Finder. You will find all the log files here.

[2019-04-16 09:33] hari2anand opened #6306 "Postman Console Crashes on expanding a log to show global variable value"
Tried to print a couple of the global variables using console log, which gets printed as below screenshot but expanding the same crashes the Postman console

Code snippet used for logging,
console.log("Validation for Items: ",pm.globals.get("item1")," ; ", pm.globals.get("item2"));

![image](https://user-images.githubusercontent.com/45207514/56198635-8dcefb80-603b-11e9-8970-1ea3bcd5b5fe.png)
![ima

[2019-04-16 09:39] VicKetchup commented on #6266
@godfrzero Looking at the logs, there is only two errors at the very end:
[code]
And I tried to change the schedule, however I am getting this error:
[code]
If I was able to set the runs with 5 minute intervals (8:20 - 9:00) Mon-Fri, I can separate all the calls into 5 monitor batches, which would actually be nicer for us as well, as then we can see in Slack each environment being completed one by

[2019-04-16 09:50] raghav19 opened #6307 "Run requests in Postman Desktop app and Postman runner using same data file"
**Describe the bug**
I have written test scripts in postman for automation which i want to use it with multiple data sets for which runner gives me the capability to use the data file like a json or csv.
However now that i use the data from the json file, i have many cases where i need to run only certain requests in my worflow manually through the console. By console , i mean the desktop app of P

[2019-04-16 10:13] preethammavin commented on #6030
Hi,
We have pushed a fix for the same and the UI will load the monitors so that there is no confusion created on the user end

[2019-04-16 10:14] preethammavin commented on #5212
The issue has been fixed and pushed to prod.

[2019-04-16 10:14] #5212 closed, assigned to ankit-m

[2019-04-16 11:17] webcoder-eu opened #6308 "Unable to amend roles for pending invites"
**Describe the bug**
Pending invites have Admin and Billing roles that are greyed out and cannot be removed.

**To Reproduce**
Steps to reproduce the behavior:
1. Invite a user to workspace / collection
2. Go to https://dark-flare-3306.postman.co/team
3. Click Edit
4. You'll see in pending invitations greyed out roles that cannot be amended.

**Expected behavior**
One would expect to be able to ma

[2019-04-16 11:22] webcoder-eu opened #6309 "Shared collections don't update on other devices / user accounts"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to create new request in a shared collection
2. Clcik Sync (orange button in dark theme on Mac)
3. Check on another device / user account the same shared collection
4. The collection doesn't update until the native app is completely closed and reopened on both Mac and W

[2019-04-16 11:30] sujayvenaik commented on #6309
Duplicate of #6239

[2019-04-16 11:30] #6309 closed, assigned to nobody

[2019-04-16 11:37] sanderhouttekier commented on #6056
I understand the problem is partly because they want more premium accounts but can we maybe get a warning when importing a collection or something?
as I had a workspace active which I share with friends, and by accidentally leaving it active while i imported something i wanted in my personal space, now just blocked the entire team as it archives everything.

I get that you want people to upgrade,

[2019-04-16 11:47] venkatcc commented on #2985
The problem exists in Postman v7.0.7 (on Windows 10) as well.

[2019-04-16 12:02] jperucello commented on #6239
[canary-logs.zip](https://github.com/postmanlabs/postman-app-support/files/3084809/canary-logs.zip)

[2019-04-16 12:23] Moegamad opened #6310 "Envronment Variable Values removed after exporting"
I am having a strange issue when exporting my environment to json file. All the environment variable values are empty.

		{
			"key": "userName",
			"value": "",
			"description": "",
			"enabled": true
		},
		{
			"key": "passWord",
			"value": "",
			"description": "",
			"enabled": true
		},

[2019-04-16 12:36] preethammavin commented on #6056
@saelfaer We provide a buffer time before we archive and also inform the user of the said warnings in the app, also we are looking the time that user accidentally imports experience. We definitely dont want the user to accidentally to archive the collection.

[2019-04-16 12:51] sanderhouttekier commented on #6056
@preethammavin  i'm sorry but that is not really what I experienced just now
I opened the app, clicked import and choose a collection
next thing I saw was "Some collections were archived because you’ve reached the shared requests limits. Learn more" and the popup showing I reached the monthly sharing limit.

no warning, no way to return, I just had the wrong workspace selected and therefor it arch

[2019-04-16 13:13] tibij commented on #2978
I have a similar issue and I was wondering if anyone managed to see the files posted. I've successfully added the integration entry but there is nothing posted to the private Gitlab (the API scope was checked when the token was generated).

[2019-04-16 13:29] jakobe commented on #5575
@numaanashraf This is not related to postman-portable, I'm getting the exact same error when installing from official Postman download

[2019-04-16 14:36] magsymcgee commented on #1014
It's such a shame this hasn't been implemented, I absolutely love postman but it's a massive pain to remove these especially if I don't want to switch workspaces to start again from scratch. Multi Select and delete would be a huge improvement.

[2019-04-16 15:05] lloydmoran commented on #2734
A workaround is to put the value in the .CSV in quotes e.g. "0000123". Not ideal for a few reasons but it worked for me.

[2019-04-16 16:23] chrisdeso commented on #6300
Thanks for clarifying @codenirvana && @shamasis!

FR Closed 😄.

[2019-04-16 16:23] #6300 closed, assigned to Raja-Simha

[2019-04-16 16:35] numaanashraf commented on #5575
@jakobe Please create another issue.

[2019-04-16 16:38] numaanashraf commented on #6306
@hari2anand Please follow the issue template and guidelines.

**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help

[2019-04-16 19:22] j2rojasr commented on #4679
If for some reason you do not have permission to add variables to the system, try using Git Bash in the terminal:

`setx POSTMAN_DISABLE_GPU "true"`

![image](https://user-images.githubusercontent.com/6734861/56237957-e958b380-6052-11e9-8a77-8697a832f3f9.png)

[2019-04-16 19:34] richatyagi8 opened #6311 "Is it possible to"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**App information (please complete the

[2019-04-16 19:34] #6311 closed, assigned to nobody

[2019-04-16 19:36] numaanashraf commented on #6310
@Moegamad Could you verify that you have initial values in the environment? Only initial values are exported.

[2019-04-16 19:37] richatyagi8 opened #6312 "Performance testing"
Is it possible to do performance testing using postman . In the past I have used postman for functional testing of rest API but have to use Jmeter for performance testing

[2019-04-16 20:06] ahsankarimbhai commented on #5170
@numaanashraf I am seeing the exact same issue with latest Postman 7.0.7 on my MacOS 10.13.2. I tried workaround as mentioned here https://github.com/postmanlabs/postman-app-support/issues/5039#issuecomment-420258338

I did a fresh install and it still doesn't work. Can you suggest some other workaround?

[2019-04-16 20:06] ahsankarimbhai commented on #5759
@harryi3t  I am seeing the exact same issue with latest Postman 7.0.7 on my MacOS 10.13.2. I tried workaround as mentioned here https://github.com/postmanlabs/postman-app-support/issues/5039#issuecomment-420258338

I did a fresh install and it still doesn't work. Can you suggest some other workaround?

[2019-04-16 20:10] andreacab commented on #3137
+1 here too, we would like to use postman as our api testing tool, but this is currently stopping us.

[2019-04-16 21:34] ionapjolive commented on #2627
This is a blocker for my use case. Have to be able to iterate over data variables nested in JSON body.

[2019-04-16 22:48] andersonllda commented on #6056
Well man, same here...
I just give up about PostMan, they just don't listen the comunity.... there are others options, its sad because PostMan is a nice tool i almost buy a premium but i'm afraid about this suport, just take a look in other threads.

[2019-04-17 04:20] preethammavin commented on #6234
Closing the issue due to inactivity.

[2019-04-17 04:20] #6234 closed, assigned to elssar, ankit-m

[2019-04-17 06:29] ronakodhaviya commented on #6306
Describe the bug
When you print an environment variable appending a string in front of it, console breaks.

To Reproduce
Steps to reproduce the behavior:
1. In any request's test script add following line,
`console.log('foo', pm.environment.get("foo"));`
2. run the request and check the console for value of environment variable "foo"
3. Console breaks

Expected behavior
Console should not break.

[2019-04-17 08:22] labifrancis opened #6313 "Some users get logged out due to multiple active sessions even though they don't have any active session"
**Describe the bug**

Some users get logged out from their account because according to the error message they get, they have multiple active sessions even though they do not have an active session.

**Error**

One of more of your active Postman Application sessions have been logged out because you signed in. You are allowed to have no more than 3 simultaneously active Postman Application sessions

[2019-04-17 09:02] jonasbeck commented on #3174
+1

[2019-04-17 10:00] gventuri commented on #2724
+1

[2019-04-17 11:14] hari2anand commented on #6306
@misteronak 👍
Thanks for the help, as was away from the system for a while. Thanks for your time in updating the above. :-)

[2019-04-17 11:21] harryi3t commented on #5759
@ahsankarimbhai That workaround is only for Linux users since it was related to overwriting files during unpackaging.
Can you share a video/gif describing the issue? Also, please share your logs from `View -> Developer -> View logs in Finder`. You can upload them here or mail them at help@getpostman.com with subject line `Logs for GitHub #5759`

[2019-04-17 11:25] lpantea commented on #5335
I have a similar issue and I was wondering if anyone managed to see the files posted. I've successfully added the integration entry but there is nothing posted to the private Gitlab.

[2019-04-17 12:54] kartikjain26 commented on #5335
Hey, can you follow these steps while creating integrations- https://learning.getpostman.com/docs/postman_pro/integrations/gitlab/
Also make sure you initialise your gitlab repo with an initial commit (opt for Initialise repo with readme file), and you give access-token permissions for reading/writing to that repo.

[2019-04-17 13:01] munkiepus commented on #2762
ive also created a wsse-header generating pre-request script which user sha512 with multiple iterations for postman
https://github.com/munkiepus/wsse-sha512-js/blob/master/wsse-sha512.js

[2019-04-17 13:05] Gordiievskyi commented on #4474
Hi Siddhant,

I didn't get your comment. Question originally is about option to see the whole chain of redirects that happens.
Automatically follow redirects: Prevent requests that return a 300-series response from being automatically redirected.
If I am not mistaken,Automatically follow redirect setting is about stop of redirect chain  and not about display them or not.

[2019-04-17 13:23] girtsn commented on #6053
Hello, any updates on this issue? It is preventing anyone in a corporate environment where proxy is needed to get to internet to use Postman native application...

[2019-04-17 13:58] ShohruxYusupov commented on #4321
@a85 the issue is still actual. I've two PCs. MacOS(work) and Windows(home). Every time when i open postman on homePC after workPC(or on workPC after homePC), order is messed up.

[2019-04-17 13:59] Cloudbala opened #6314 "Template Tab and API Network Tab not loading data"
**Describe the bug**
The Template Tab and Api Network Tab are empty , it shows it is continously loading but never displays the data

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'top left corner of postman canary app '
2. Click on 'Red colour New Button ', A popup screen is opened .
3. Click on 'Templates Tab or API Network Tab '
4. See it shows nothing

**Expected behavior**
Templa

[2019-04-17 14:06] Cloudbala commented on #6314
The same is tested in Postman app- latest release 7.x, even then  still the same issue prevails , please share a solution to get  data in Templates Tab and API Network Tab
![templates](https://user-images.githubusercontent.com/25430223/56294125-ff529b00-615c-11e9-916e-8200e7357c0d.gif)

[2019-04-17 14:15] bhargavkaranam commented on #6314
Hi @Cloudbala,
We're unable to reproduce this. Could you open DevTools from View > Developer > Show DevTools (Current View) and let us know if you see any errors in the console?

[2019-04-17 14:17] mccannt commented on #5585
Just investigated this issue as well with some of my team. Looks like its impacting some code snippets but not all.

Looks to be a visual issue but can propagate if someone is to share the Code Snippet with others and they import/run the calls with this undefined parameter.

[2019-04-17 14:25] sivcan commented on #6314
@Cloudbala as I can see from the gif, you're signed out.
We'll look into the app getting stuck in this loading state and not showing up the error, but any way to use API Network / Templates you need to be logged in to an account, so you'll have to basically sign up / login to access templates or API network in the app.

[2019-04-17 14:54] yeikel commented on #6312
Not really. Maybe using newman

[2019-04-17 15:03] yeikel opened #6315 "[Feature Request] Link with editor"
**Is your feature request related to a problem? Please describe.**
In Eclipse and similar IDEs , we have a feature called "link with editor"[1] that navigates to the current source file selected. I would like to have this feature in Postman.

[1] https://help.eclipse.org/oxygen/index.jsp?topic=%2Forg.eclipse.platform.doc.user%2Ftasks%2Ftasks-18.htm

**Describe the solution you'd like**
We should h

[2019-04-17 15:43] adammarr commented on #6187
Had the same issue. Switched to the desktop version finally, logged in with Google, and I can only create read-only Collections. There doesn't seem to be a way around or out of it. Windows 7, 64bit, Postman v7.0.7. Tried restarting the app. Finally waited a bit, and restarted again, and it worked, and loaded the data from my chrome app. But there was no indication of any error in the UI the first

[2019-04-17 16:03] emereyd opened #6316 "Compare/Diff + Merge different collections"
**PROBLEM**
We have multiple related collections for different purposes e.g. a collection that will be our Public API docs, another collection that is for our detailed tests, other collections that contain exploratory work.
There is no way inside postman to diff/compare 2 or more collections and then merge desirable and useful bits and pieces like code snippets, tests, request params.,

**It would

[2019-04-17 16:40] Leoooob commented on #2724
+1 seems like it's been on the wait list for a long while

[2019-04-17 19:14] miguejarias commented on #4912
Still dealing with the same problem so it doesn't seem resolved unless i'm missing something.

[2019-04-17 19:31] numaanashraf commented on #6315
Related to #6303

[2019-04-17 19:31] numaanashraf commented on #6312
We recommend reaching out to the wider Postman Community (https://community.getpostman.com/) for help with this issue.

Issue Guidelines: https://github.com/postmanlabs/postman-app-support#guidelines-for-reporting-issues

[2019-04-17 19:31] #6312 closed, assigned to nobody

[2019-04-17 19:43] miguejarias commented on #3588
Has this been done... Because the button still appears as orange...

[2019-04-17 19:44] kenlyon commented on #4739
Yes, this would be handy. I'm working on writing a proxy, and only the requests related to that project would need my proxy settings. Switching the Global Proxy Configuration or off while switching between projects is a bit of a nuisance, and is easy to forget when the pressure is on!

[2019-04-17 19:45] txrackack commented on #675
@a85 this has been requested for 5 years now?  You have two contributions in the last year but you are a founder of postman?  Please take a moment to consider this reasonable request.  Get that 3rd contribution!  You can do it!

[2019-04-17 20:03] shamasis commented on #6293
Is this issue still happening?

[2019-04-17 20:07] shamasis opened #6317 "SAML provisioning support (SAML 2.0/WS-Fed) for SSO"
This would help teams auto provision users using their existing identity / directory systems.

[2019-04-17 20:51] numaanashraf commented on #6304
@detectiveHLH Thanks for reporting this. We're having trouble reproducing this issue at our end. Would it be possible to send us the logs from View > Developer > View Logs in Finder to help@getpostman.com? Please mention this issue number in the email subject, eg., "Logs for GH#6304".

[2019-04-17 21:20] caseyprovost commented on #3827
I am seeing that Postman appears to now override this value. I have `User-Agent` set, but all my requests are coming through as:

[code]

[2019-04-17 21:42] numaanashraf commented on #3827
@caseyprovost Looks like you might be using Postman for Chrome. User-Agent overrides are supported in Postman's Desktop apps (https://www.getpostman.com/downloads/)

Screenshot taken from Postman for Mac v7.0.7
<img width="965" alt="Screenshot 2019-04-17 at 2 38 14 PM" src="https://user-images.githubusercontent.com/3295568/56322819-e3300900-611e-11e9-8af2-9d0d8cc6d1f1.png">

[2019-04-17 22:47] cardonator commented on #6234
Hi all, sorry for not responding on this earlier. I actually figured out what the issue was but I couldn't ever get the DevTools inside PostMan to tell me what the specific code error the app was getting was.

The issue ended up being that on my corporate internal network they try to use Windows Authentication to automatically log people into our SAML provider. On Linux, this basically pops up a B

[2019-04-17 22:54] dresean commented on #3331
So I've just found out that this is actually impossible for now at least. [look at the documentation here](https://learning.getpostman.com/docs/postman/sending_api_requests/requests/)
![Screen Shot 2019-04-17 at 6 52 30 PM](https://user-images.githubusercontent.com/20849315/56325946-349dbf80-6142-11e9-8a46-3e59613c3b1b.png)
Read the last line above.

[2019-04-17 22:57] dresean commented on #2490
Been wrecking my brain on this one as I wan't to upload media with content entered by the user from the client in the request body in JSON form. It's currently not possible to test this with Postman [according to their documentation](https://learning.getpostman.com/docs/postman/sending_api_requests/requests/)
![Screen Shot 2019-04-17 at 6 52 30 PM](https://user-images.githubusercontent.com/2084931

[2019-04-17 23:10] numaanashraf commented on #6296
@groggi Thanks for reporting this. Seems like there is a corruption of locally stored data. If you do not have any local data in the app yet, can we try wiping the local data completely and retry the installation?

**Important**: The instructions below will wipe all locally stored data in Postman. If you have used Postman earlier without an account or had sync disabled, it is not recommended that

[2019-04-18 01:09] yeikel commented on #6315
Unless I am missing something it seems to be the same suggestion. Feel free to close it

[2019-04-18 01:31] detectiveHLH commented on #6304
@numaanashraf Of course. I have already sent an email to help@getpostman.com
Thanks a lot.

[2019-04-18 03:07] ghost opened #6318 "file类型每次都要重新上传"
**Describe the bug**
request中body数据类型为file时，每次重新打开postman都需要重新选择文件，在Runner中使用时，flie类型的参数没有被选择

**To Reproduce**
Steps to reproduce the behavior:
1、新建一个requset请求
2、在body中设置一个file类型的数据
3、本地选择一个图片文件
4、请求成功后关闭request
5、重新打开后查看body参数是否需要重新选择

**Expected behavior**
5、希望file类型的数据能保存，不用每次调试时需要选择。

**Screenshots**
![image](https://user-images.githubusercontent.com/32347059/56334121-a66d1c00-61c9-11e9-91e5-

[2019-04-18 03:12] Ramya-From-Postman opened #6319 "Feature request for controlling URL encoding"
**Describe the bug**
While making an API request if the query parameter contains a **plus (+)** symbol, it's being replaced with a **space** in the query string. This results in API failure when you pass an authentication token in the query parameter.

**To Reproduce**
1. Make an API call to the postman-echo endpoint
2. Pass any query parameter that contains the plus (+) symbol
3. You will see it

[2019-04-18 03:14] ghost opened #6320 "直接从chrome中复制的body到postman中希望能自动识别去除空格"
**Describe the bug**
直接从chrome开发者工具中request的body复制到postman中时会带有空格，需要手动删除空格。

**To Reproduce**
1、使用chrome开发者工具抓取一个post请求
2、复制请求中参数
3、粘贴到postman的body中

**Expected behavior**
3、把带的空格删除掉

**Screenshots**
![image](https://user-images.githubusercontent.com/32347059/56334477-03b59d00-61cb-11e9-97cc-f8678e151630.png)

**App information (please complete the following information):**
 - App Type [e.g. web]

[2019-04-18 05:07] cyrielle-hada opened #6321 "Web dashboard - Unable to access Workspace 'Something went wrong'"
**Describe the bug**

Unable to access the workspace section in the dashboard. The following error is thrown

![1112223333](https://user-images.githubusercontent.com/47351631/56338177-a3bcf780-61c6-11e9-99c3-11523a558eaa.JPG)

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://app.postman.co/workspaces
2. See error

**Expected behavior**
Be able to view personal workspaces.

**App

[2019-04-18 05:21] thetreythomas opened #6322 "Temporary headers being erratically visible in UI"
**Describe the bug**
There are now a multitude of extra items that show up on the **Header** tab.

**To Reproduce**
Not sure what started it.

If I make a change on the **Authorization** tab, it will reset the number back to what I expect. When I send the API request, it then adds those extra headers.

**Expected behavior**
To not see all this extra header information. Previous versions did not sh

[2019-04-18 05:34] thetreythomas commented on #6322
So I tried this on my Mac, it was one of the last version of 6.x you had before 7.x came out. I ran a call on that, no issues. I then updated it to 7.0.7, which was the latest available to update through the app. Ran a call, no issues.

I don't remember seeing an update show up on this machine.

I closed Postman and re-opened it, and I am no longer seeing those extra headers.
![it_crowd](https://u

[2019-04-18 05:49] zaro opened #6323 "Local collections disappeared after sign-in with team account"
**Describe the bug**
Had postman installation w/o begin signed in. Joined a team , and my workspace is empty now , Signed out, still empty. Old collections are completely gone.

**To Reproduce**
1. Start Postman w/o sign in
2. Create some collections
3. Sign-in with team account
4. Signed in or out, the collections before the team signin are nowhere to be found.

**Expected behavior**
I expect, th

[2019-04-18 06:53] preethammavin commented on #6313
@labifrancis we pushed a fix for the same, we are keeping an eye out for such behaviours. Do let us know if the issue persists.

[2019-04-18 07:08] shamasis commented on #6322
These are the actual set of headers that are sent out. Next release we are making it look better in UI by grouping it in a collapsible section. There, however, is a bug around this list not showing up based on certain selection of the authorisation list and that will be addressed in the process.

[2019-04-18 09:05] labifrancis commented on #6313
Thanks @preethammavin
I'll let you know if the issue persists.

[2019-04-18 10:55] groggi commented on #6296
I've already tried this, but repeated it again. Performed steps:

1. Deleted `C:\Users\{username}\AppData\Roaming\Postman`
2. Deleted `C:\Users\{username}\AppData\Local\Postman`
3. Tried to start Postman from Windows Start Menu, which failed as expected (due to the first step)
4. Downloaded Postman 7.0.7 64bit from https://www.getpostman.com/downloads/
5. Started downloaded `.exe` with my own user

[2019-04-18 11:04] groggi commented on #6296
I hashed all files in `C:\Users\{username}\AppData\Local\Postman` on two machines. On one Postman 7.0.7 works fine, on the other (the one I reported this bug for) it does not: https://gist.github.com/groggi/0f6fdadd2d58efbc78e31ee7280ee002

The only files with different hashes are:
- `\AppData\Local\Postman\app-7.0.7\SquirrelSetup.log` (to be expected)
- `\AppData\Local\Postman\SquirrelSetup.log`

[2019-04-18 13:16] andrewrproper commented on #2751
👍  I agree, this would help a lot with reading long and nested JSON output from REST APIs.

[2019-04-18 14:43] shamasis commented on #6205
@camohub Like I was guessing, proxy seems to be the likely culprit. But you never know! :-p In your proxy setting in Postman App, can you enable using system proxy and then in your system proxy, exclude the domain `node` (I'm guessing that you will see that `localhost` is already marked as excluded there and that's why that is working.)

[2019-04-18 14:44] anrito commented on #3358
+1

[2019-04-18 14:45] shamasis commented on #6205
@Westernwells - is it "same" issue... by that I mean, "http://localhost/" works but nothing else on local works? If there is a major variation from that then please file a separate issue.

[2019-04-18 14:52] shamasis commented on #6320
I took the liberty to translate this using Google Translator:

[code]

[2019-04-18 14:54] shamasis commented on #6318
Translating using Google Translator:

[code]

[2019-04-18 14:56] shamasis commented on #6318
@liuneng613 This is not yet supported in Postman. We are working on this and will update in PostmanCanary release very soon.

[2019-04-18 14:58] rtlayzell commented on #882
Could you close the similar issues and create an all-encompassing one? It's getting annoying chasing these links round in circles... heh

[2019-04-18 15:06] dgmyers commented on #4276
Has there been any update on this, either as a bug or feature request?

The Documentation page [command_line_integration_with_newman](https://learning.getpostman.com/docs/postman/collection_runs/command_line_integration_with_newman/) states that "The results of all tests and requests can be exported into a file and later imported into Postman for further analysis. Use the JSON reporter and a file

[2019-04-18 15:32] ashleymiller-kcom commented on #6322
These headers are a a result of installing v7.0.8.
I'm not exactly sure about the status of v7.0.8, but when it is apparently installed, there are no Release Notes available, only for v7.0.7.
I have now rolled back to v7.0.7 and when I check for updates in the UI, it says:
**You are up to date! Postman v7.0.7 is the latest version.**
So, I'm not sure whether v7.0.8 was released too early and has n

[2019-04-18 17:10] lauxjpn commented on #6292
@numaanashraf This issue can be replicated with *any* endpoint that responds with valid HTML.
I just tried it again against multiple sites including https://google.com

[2019-04-18 18:13] FBalazsBme commented on #5194
+1

[2019-04-18 19:45] numaanashraf commented on #6292
@lauxjpn Thanks. I was able to replicate this.

[2019-04-18 20:13] thetreythomas commented on #6322
Looking at the date in Programs and Features, 7.0.8 was installed on 4/12/2019.

This was the 64-bit of Postman for Windows.

I removed 7.0.8 and reinstalled 7.07, and not seeing the extra headers.

[2019-04-18 22:11] alibux commented on #5301
Thanks very much! Having the Insomnia splash screen open worked for me. Was stuck on Postman v5.5.4 and just managed to install  v7.0.7.

[2019-04-19 00:08] sandeep609 commented on #1535
+1...

The way collection runner is organized, users have the capability to run only
1. A collection. (ex - myTeamCollection)
2. A folder within a collection. (ex - useCaseA)

For example useCaseA has around 8 individual requests and there is a login and a logout request which could be re-used across other folders within the collection, currently there is no way to re-use requests

Work-arounds we

[2019-04-19 03:20] abhijitkane commented on #2469
There seem to be two distinct issues here:

1. Files being uploaded through the form-data or binary mode don't show up in the generated snippet. This is a known issue - we're working on a better way to handle files in Postman, and we'll be able to support this in the code snippets once the file path is available.

2. JSON in the body doesn't show up in some of the snippets. I'm not able to reprodu

[2019-04-19 03:28] abhijitkane commented on #2875
Closing as a duplicate of https://github.com/postmanlabs/postman-app-support/issues/2469

[2019-04-19 03:28] #2875 closed, assigned to numaanashraf

[2019-04-19 03:30] abhijitkane commented on #2933
<img width="502" alt="Screen Shot 2019-04-19 at 09 00 33" src="https://user-images.githubusercontent.com/681190/56403966-9e70b300-6281-11e9-897c-efb43242026f.png">

@moored Unable to reproduce this any more. Closing.

[2019-04-19 03:30] #2933 closed, assigned to numaanashraf

[2019-04-19 03:37] abhijitkane commented on #2947
<img width="514" alt="Screen Shot 2019-04-19 at 09 06 32" src="https://user-images.githubusercontent.com/681190/56404106-72a1fd00-6282-11e9-9bae-6f2b99f7c68c.png">

@marr @q42jaap Not able to reproduce this anymore. Feel free to add a comment if you're still seeing this on Postman 7.x.

[2019-04-19 03:37] #2947 closed, assigned to numaanashraf

[2019-04-19 09:20] sanusi87 commented on #5274
in my case, Postman v6.7.4, the query string was ignored. For example if I have this url:

[code]

Then when i generate the code for **Node.js Native**, this is what i got.

[code]

**Request** and **Unirest** do keep the query string.

[2019-04-19 11:26] mibeon commented on #4142
Hey guys, it's about more than a year over.
Postman is electron based. Adding another font family should be not a big thing...

What is actually your problem?

[2019-04-19 12:12] zihotki commented on #6296
Also, if that helps, I've tried to completely uninstall the postman 7.0.7 x64, deleted all associated files in C:\Users\{username}\AppData\Local\Postman. After I installed it anew, the problem still persisted. So it may be something related to the windows Registry.

[2019-04-19 12:55] sneela787 opened #6324 "Collection Runner Opens with Blank screen"
**Describe the bug**
A clear and concise description of what the bug is.
Currently I am using v7.0.8.

**To Reproduce**
Steps to reproduce the behavior:
1. Click on "Runner"
2. Select the collection
3. Select the datafile
4. Changes to black screen

Sometimes it is happening without selecting any files. As soon as I open runner its immediately changing to Black screen. I restarted the application

[2019-04-19 12:59] sneela787 opened #6325 "Estimated time of completion when running tests through Newman"
**Is your feature request related to a problem? Please describe.**
We run lot of postman collections in the company and sometimes it takes lot of time when a data file is big. We are using newman through library and I hate to keep the user waiting for all that time. Sometimes the test takes 40minutes to complete.

**Describe the solution you'd like**
It would be really great if there is a way of g

[2019-04-19 15:27] akac opened #6326 "Oath2 client_credentials in Query Param"
**Is your feature request related to a problem? Please describe.**
We are using Apigee as our API proxy platform and it requires OAuth2 grant types to be a query parameter, not a post param

**Describe the solution you'd like**
Allow an option to have the grant type in the query param

**Describe alternatives you've considered**
Currently we are using a separate request that puts the data into a t

[2019-04-19 15:30] shamasis commented on #6324
What OS are you running it on? Linux/Windows? I am not sure where to start debugging this without being able to reproduce locally. I have a hunch though. If you are on Windows, can you try setting an environment variable as described in https://github.com/postmanlabs/postman-app-support/issues/4594#issuecomment-391601621 and let me know?

If that does not work, can you check if you have errors in

[2019-04-19 15:38] sneela787 commented on #6324
@shamasis I am currently using Windows 10. I tried setting the environment and it ran successfully, but it did show me black screen even if I select the environment for the second time. I don't see any logs in DevTools Console.

[2019-04-19 15:51] CarstenOtte commented on #6319
Thanks a lot for considering this request.

This issue is urgent as it prevents REST API access on several of my environments, and also impacts some of my colleagues (all on the latest version of Postman). This issue seems not to impact earlier versions of Postman (6.7.3 and earlier). Unfortunately I was not able to install and leverage an earlier version in my environment.

A workaround proposed

[2019-04-19 16:47] APIwithjepp commented on #4498
Still experiencing this
Postman for Windows
Version 7.0.7
win32 10.0.17763 / x64
Same as asmond3us, higher level spec non-importable, individual folders successful with Swagger 1.2

[2019-04-19 17:14] mjgabriel commented on #5586
+1. This happens to me as well. Running current release 6.7.4

[2019-04-19 17:19] vikaspro90 commented on #2369
@codenirvana Thanks for the steps. The issue is still present. I am using Version 7.0.7 on Mac.
To be specific,
  - It respects any entries that point to 127.0.0.1 (does not matter whether a new line is added in the file or an already existing line is used eg. 127.0.0.1 localhost custom.host.com)
  - It does not respect pointing to other IP addresses.

[2019-04-19 17:25] JP-from-Postman opened #6327 "Enable/disable content in docs page"
**Is your feature request related to a problem? Please describe.**
Allow specific requests, folders, and other entities to be enabled or disabled from appearing in a docs page. This way a single comprehensive Collection can be maintained with only needed/finished requests being published.

**Describe the solution you'd like**
- Allow folders to be enabled / disabled from appearing on docs page

**

[2019-04-19 18:29] sneela787 commented on #6324
@shamasis I don't know if the below error is related.. But this is what I see
![image](https://user-images.githubusercontent.com/48291331/56438019-84e66000-62af-11e9-81a2-4d62797e070a.png)

[2019-04-19 18:34] camohub commented on #6205
What means exclude domain node? Proxy settings looks like:
![Screenshot (158)](https://user-images.githubusercontent.com/8393426/56438157-3e5e2900-62e2-11e9-834e-80f2f8638bcd.png)

[2019-04-19 18:41] IGx89 commented on #283
Was very excited to use Postman to ease testing of OAuth 1.0a APIs and just ran into this myself. Since it's a tiny change but has been open for 6 years I can only assume Postman has no plans to do this. Guess I'll have to find a different testing client!

[2019-04-19 18:46] duboff commented on #4316
Markdown still not being rendered on public API pages for Path Variables

[2019-04-19 20:14] Saif03 commented on #5301
@alibux I don't know why, but its kind of great to hear that I am not the only one facing this issue, :)

@SamvelRaja @numaanashraf since squirrel.windows [repository](https://github.com/Squirrel/Squirrel.Windows) is deprecated now, and according to their readme,

"This project is no longer maintained, pull requests are no longer being reviewed or merged and issues are no longer being responded to

[2019-04-19 20:19] webcoder-eu commented on #6239
I've come across the same sync'in problem. We share a collection and changes made by one of my develoipers come throgh late or usually don't come through at all. A temp workaround was to completely close the app and reopen then we see changes straight away. This isn't a proper solution though. We're worried that our changes will go missing if more than one person is editing collections hence only

[2019-04-19 20:26] numaanashraf commented on #5301
@Saif03 We are working with the wider Electron community and exploring our options on how we'ld like to move forward.

[2019-04-19 21:24] shamasis commented on #6325
It’s a nice idea. But there’s no way to estimate the time without actually running a few requests. Even then that will not be accurate. Trying to put that in the main CLI reporter will simply cause misinformation for small and medium collection runs.

Try using `--reporters=progress` and it will turn off the CLI reporter and show a progress bar instead. This is not a documented feature. This repor

[2019-04-19 21:35] shamasis commented on #6324
You’re right. The errors in dev tools aren’t related. This leads me to further believe that the issue is around GPU acceleration. While I talk to the rest of the team to see if there’s any more info I can ask to better understand the cause, can you double check that the environment variable is set and retry by restarting the app? I’m hoping that the GPU environment variable would be the right fix

[2019-04-19 21:44] shamasis commented on #6322
7.0.9 is coming out in days and that will neatly show the headers and also resolve the issue around cache control and postman-token header related issue: https://github.com/postmanlabs/postman-app-support/issues/6283

I will ping here when that’s out. We can then check if everything works the way it did. 😊

[2019-04-19 23:17] Redhunt2013 opened #6328 "Bootcamp Walkthrough Not Proceeding Further"
**Describe the bug**
Imported Bootcamp collection in Postman.  Click on one of the 2 courses. A pop-up walks me through where to click next.  After a certain point, pop-up is just frozen even though I've done what it describes.

For example, I designed a Status Checker API using the course.  In the list of requests under the collection, pop-up is asking to open a request in a tab.  Pop up is stuck

[2019-04-20 00:34] aaronn commented on #2847
+1

[2019-04-20 02:29] sivcan commented on #6328
@Redhunt2013 Thanks for reporting this. We're unable to reproduce this issue at our end. Would it be possible to send us the logs from View > Developer > View Logs in Finder to help@getpostman.com? Please mention this issue number in the email subject, eg., "Logs for GH#6328".

Also, can you try out the canary build - https://www.getpostman.com/downloads/canary and check if it's still happening fo

[2019-04-20 03:08] godfrzero commented on #4316
Verified that path variable descriptions are not interpreted as markdown, but other descriptions are: body, query params, headers. Reopening.

[2019-04-20 06:33] abhijitkane commented on #3333
@shamasis Some sort of preview from the runtime could help with cases like this.

[2019-04-20 06:52] abhijitkane commented on #3294
@mugrufis Unable to reproduce this on Postman 7.x. If you're still seeing this, feel free to add a comment detailing exact steps to reproduce the issue (with screenshots, preferably).

[2019-04-20 06:52] #3294 closed, assigned to numaanashraf

[2019-04-20 07:09] abhijitkane commented on #2988
The screenshot shows a 302 from one of the endpoints. The Python library might not be automatically following redirects.  @Rahul-Lends - can you try updating the URL of the request in Postman to the correct URL (probably the one mentioned in the third screenshot)?

The code generated mentions delete, which is obviously correct. We're looking at ways to preserve the 'redirect' setting from Postman

[2019-04-20 07:09] #2988 closed, assigned to numaanashraf

[2019-04-20 08:36] matejdro commented on #2750
Same issue here with same symptoms than @VictorBadea . Request works without token (returns 401), but does not work when adding token.

* Windows Postman does NOT work
* Chrome postman works (but it is deprecated)
* Fiddler works
* curl works

[2019-04-20 08:37] matejdro commented on #3511
It appears that this is generic error whenever server sends invalid HTTP headers to the Postman. It would be helpful if postman would display more helpful error message and provide with raw received headers.

[2019-04-20 12:21] groggi commented on #6296
Ok, so, I tried to do further investigations. First off, as mentioned in my last comment, I didn't hash the files under `\AppData\Local\Postman`. So, I repeated everything on two hosts (on one Postman doesn't work, on the other it does):

1. Uninstall Postman
2. Delete `C:\Users\[username]\AppData\Roaming\Postman`
3. Delete `C:\Users\[username]\AppData\Local\Postman`
4. Download Postman from offic

[2019-04-20 13:08] jpschutte opened #6329 "How to use a wild card variable in example request?"
I have an endpoint that I'm trying to create and example request for. I don't have control over the endpoints myself on the actual development server but I want to create mock requests.

Example: {{url}}/user/{{userId}}/posts

This call doesn't work and returns We were unable to find any matching requests for this method type and the mock path. I'm new to Postman so maybe I'm doing something wrong

[2019-04-20 13:54] Pr1Smiley commented on #2750
This issue has been going on for the past 3years and still no resolution? Postman team should look into fixing this bug in your software instead of just closing the complaints hoping no one will reopen again. Smh

[2019-04-20 16:19] chrisdeso opened #6330 "Workspace data disappears after toggling default workspace permissions to Admin"
**Describe the bug**
After changing the default workspace permissions to `Admin` from `Collaborator`, collections vanish from a workspace.

**To Reproduce**
Steps to reproduce the behavior:
1. Open a workspace in-app
2. Toggle the default permissions to `Admin` from `Collaborator`
3. Se collections disappear

**Expected behavior**
Collections should remain associated with the workspace but with up

[2019-04-20 16:47] donhathuy commented on #4082
@sivcan I don't think this solution works for me.
It looks like pm.request.body can't set body data in Pre-Request script.

[2019-04-21 00:20] oprogramador opened #6331 "exporting to code - add JavaScript/superagent"
**Is your feature request related to a problem? Please describe.**
IMO it's a problem. Often I need a code working in Node.js from a cURL request. For JavaScript there are only `JQuery AJAX` and `XHR`. AFAIK `XHR` is impossible to use in Node.js and JQuery is possible but in practice practically nobody uses it because it's not the simplest way to send a request in Node.js. I prefer using [superage

[2019-04-21 00:41] oprogramador commented on #5548
I hope there will be both encoding and decoding.
In the same way, I can edit the request body as JSON, I would like to edit the JWT payload as JSON.

[2019-04-21 02:31] rossknudsen opened #6332 "Large integer ID value in JSON object corrupted when beautified"
**Describe the bug**
When using the beautification feature for the body of a request, I discovered that the values of my JSON object were being altered.

**To Reproduce**
Steps to reproduce the behavior:
1. Create new Request
2. Go to Body tab
3. Select 'Raw' and 'JSON' for the types
4. Enter the following JSON value in the body content area: `{"id": 70023615234971703,"otherId": 70023615234971704}

[2019-04-21 03:08] oprogramador commented on #6331
I see beside `JavaScript`, there's also `NodeJS` option but still it would be good to support `superagent`.

[2019-04-21 07:19] matejdro commented on #2750
I think it was closed because it was duplicate. #3511 is the main issue now.

[2019-04-21 07:50] ghost commented on #6320
Hello, I know that there is this batch-value editing mode, but I still have to delete the spaces one by one, can I automatically remove the spaces?
<img width="1583" alt="WX20190421-154952@2x" src="https://user-images.githubusercontent.com/32347059/56467116-20f99e00-644d-11e9-8c3c-4a5c4dda515a.png">

[2019-04-21 13:38] shreys7 commented on #4465
Hey @narehart I was not able to reproduce your issue on Postman 7.x .Only the header multipart/form-data is being added. Can you update the app and verify whether you still face the problem ? If yes,  feel free to add a comment detailing exact steps to reproduce the issue (with screenshots, preferably).
<img width="661" alt="Screenshot 2019-04-21 at 7 04 10 PM" src="https://user-images.githubuserc

[2019-04-21 21:23] FelipeCortez commented on #4142
If you really want to change the font family for the editors you can do so by changing line 1139 in `Postman/app/resources/app/js/(runner|requester|console).css`.

[2019-04-21 22:27] Infinitay commented on #1667
Any update from the dev team on supporting https with the native app's interceptor?

[2019-04-22 02:29] #6017 closed, assigned to godfrzero

[2019-04-22 02:38] hupo376787 opened #6333 "Response area full screen toggle"
Hi, how to toggle the response data area to full screen? I can't find a shortcut key.
I mean the red area in the below image.
Thx.

![image](https://user-images.githubusercontent.com/14960168/56479928-75069000-64ea-11e9-9326-e8967a78b89f.png)

[2019-04-22 03:12] preethammavin commented on #6323
@zaro can you check the https://go.postman.co/me/collections. It takes few seconds to sync the collections which were created before signing in to sync the collections in. We are creating an experience where we warn the users if they try to sign-out before the collections are synced.

I would suggest that if you do not find any collections after you signin in, please DO NOT signout as that would e

[2019-04-22 03:13] abhijitkane commented on #5426
@gintautassulskus We'll expose this as an option in the UI (during the import). I wouldn't want to change the default to http.

There's no ETA on the update, though.

[2019-04-22 03:16] preethammavin commented on #6327
@JP-from-Postman Can you add more context

If there are sections of your documentation which are yet to be finalised, we suggest you fork the collection then merge it when you are ready.
We are working on giving more control to the user for specifying the collection version which has to be published , but hiding something for specific folder or request is not something we would want to build towar

[2019-04-22 03:16] #6327 closed, assigned to nobody

[2019-04-22 03:17] preethammavin commented on #6328
@Redhunt2013 any information to triage this issue would be appreciated, we are unable to reproduce it.

[2019-04-22 03:20] #4479 closed, assigned to numaanashraf

[2019-04-22 03:21] preethammavin commented on #6259
@balaramdev any chance you had a look at the information to triage the issue

[2019-04-22 03:26] preethammavin commented on #6168
Closing due to inactivity.

[2019-04-22 03:26] #6168 closed, assigned to sankalp0o, anudeepmedicharla

[2019-04-22 03:29] preethammavin commented on #5464
@powelli we are unable to reproduce this, can you try updating to the latest version of the app and trying it?

[2019-04-22 03:36] #6247 closed, assigned to godfrzero, ankit-m

[2019-04-22 03:48] #5087 closed, assigned to nobody

[2019-04-22 04:02] preethammavin commented on #6284
@cyrielle-hada  we have pushed a fix out to production for the same, this should not occur again. Closing the issue for now, do let us know if it is not solved.

[2019-04-22 04:02] #6284 closed, assigned to ankitjaggi

[2019-04-22 04:05] hieupm37 commented on #2801
+1 looking forward this feature.

[2019-04-22 04:40] centur commented on #5087
Hi, @preethammavin , was this issue fixed ?

[2019-04-22 04:44] preethammavin commented on #5087
@centur we throttle the calculation for about 3-5 seconds for refresh. The overall issue has been fixed, once the request/collection has been deleted and synced we recalculate immediately on our backend, the UI refreshes every 5 seconds for rate limiting purposes.

[2019-04-22 05:07] jonathannah commented on #5414
I have version 7.0.7 and this is still a problem.  I spent hours building my postman collection, and export only to get an empty body.  To make matters worse, Postman also reset in memory so all of my work is lost.  I have tried multiple times to define and save, and always get empty code like below.

	"item": [
		{
			"name": "ping",
			"request": {
				"method": "GET",
				"header": [],
				"bod

[2019-04-22 05:12] #6000 closed, assigned to nobody

[2019-04-22 05:13] sujayvenaik commented on #6333
Hey @hupo376787
You can make use of the two-pane view.
![image](https://user-images.githubusercontent.com/11532114/56484067-5228ab80-64eb-11e9-851b-2503441d3115.png)

[2019-04-22 05:25] cyrielle-hada opened #6334 "Request get removed when collection is forked"
**Describe the bug**
Every time a collection is forked, one of the GET requests disappears from the forked collection.

**App information (please complete the following information):**
 - Running Postman v7.0.7

**Additional context**

- The logs can be found in the associated ticket but they don’t seem to contain any errors
- I have 28 requests in the collection

[2019-04-22 05:32] hupo376787 commented on #6333
But this action still can't maximize the response area. I want the red area full screen view. So it seems this feature may not exist in current version.

[2019-04-22 05:57] jonathannah commented on #5414
The problem is that edits made to a collection are not saved.  If you start with a clean collection and insert a request, it has a empty body.  If you edit, and then save, it still has an empty body.  If you hand-edit one request, and then open in Postman and make a copy, then edit, then save, the copy does not reflect the edits.  So it seems that request edits made in Postman can not be saved.

[2019-04-22 06:25] sujayvenaik commented on #5414
Hey @jonathannah
Request edits are allowed and if you are changing the body and saving data should be persisted.
I tried creating a collection, saving a request and then make some changes and saved again. My request got successfully saved.

Also, by hand edit do you mean that you export a collection, make changes to the collection JSON and then re-import?. I tried this as well and was successfully

[2019-04-22 06:28] abhijitkane commented on #5737
The arg parsing library automatically resolves `$id` as an environment variable. We'll need to figure out how to block this.

[2019-04-22 06:39] p00j4 opened #6335 "Can't create new team, sync never finishes [version compatibilty]"
With the push to "move to version 7" noticed several problems:

1. For one of my team member (version 6), no collections were showing up within the app, the sync loader is never finishing and no re-opening etc. things helped until installed latest version
2. I'm on Canary and I face the issue of loader never finishing too with side effects like, **can't see my newly created team**. Retried several

[2019-04-22 07:15] veeranagouda87 opened #6336 "postman: failed to extract installer"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**App information (please complete the

[2019-04-22 07:18] sujayvenaik commented on #6335
Hey @p00j4
Which version of canary are you currently on? And when you are facing this issue what is the postman icon color?
Also, can you send the logs from View -> Developer -> View Logs in Finder?

[2019-04-22 07:21] shuiwuxing commented on #4295
解决吗

[2019-04-22 07:38] abhijitkane commented on #5182
@JP-from-Postman The curl command in your 2nd message isn't complete.

@vdespa @Cakarena The issue seems to be that `^` is used as the escape character, which we don't support yet. We're working on a way to expose an option that'll let users select their desired escape character, but for now, manually removing the carets is the only workaround I can think of.

[2019-04-22 08:00] zaro commented on #6323
This is good suggestion but a bit too late.  Of course I did signup out after clicking around and not finding them, to see if I will get my local collections back. What would you expect ?

Also I don't understand also, why would they disappear while being synced, and then magically re-appear when sync is complete.

[2019-04-22 08:05] darukavishnikov commented on #3312
+1 to this problem.
Thanks in advance

[2019-04-22 08:31] jonnyijapan commented on #4327
Please fix this

[2019-04-22 08:45] Raja-Simha commented on #6278
Not a bug but should be rectified in the next release with inputs from design.

[2019-04-22 08:50] Raja-Simha commented on #6279
Those empty states are supposed to be team descriptions which are populated from dashboard/team settings. Not a bug but we need better design the flow so that team descriptions are populated.

[2019-04-22 09:38] p00j4 commented on #6335
**Update:** It started working after updating Canary to 7.1

**The bug found on:** Version: 6.6.0-canary03 (6.6.0-canary03)
Logs for
[main.log](https://github.com/postmanlabs/postman-app-support/files/3102896/main.log)
[pluginHost.log](https://github.com/postmanlabs/postman-app-support/files/3102897/pluginHost.log)
[renderer-requester.log](https://github.com/postmanlabs/postman-app-support/files/3

[2019-04-22 09:52] numaanashraf commented on #6163
@cyrielle-hada We are unable to reproduce this issue. Closing for now. Feel free to re-open if the issue still persists.

[2019-04-22 09:52] #6163 closed, assigned to nobody

[2019-04-22 09:56] sujayvenaik commented on #6335
Hey, once your team migrated it is intended for you to move to v7 version.
Also, we are constantly trying to improve the experience for the users hence really don't want users to downgrade to a lower version.

[2019-04-22 10:09] p00j4 commented on #6335
I understand it @sujayvenaik however please have a look at the number of steps involved as mentioned above. It's tedious. Really needs User Experience improvement else most time goes in finding work around to get the App working.

Closing this issue, but can raise separately about the pain points of upgrading app if it's not yet on priority.

[2019-04-22 10:17] numaanashraf commented on #6336
Please fill the details in the issue template.

[2019-04-22 11:20] numaanashraf commented on #6296
@groggi Thanks for the detailed analysis. We are taking a look at this.

[2019-04-22 12:58] iriseufall opened #6337 "Collection Delete - Confirm name of collection on delete."
Accidently deleted wrong collection.

Suggestion: Confirm the "NAME" of the collection in the confirmation dialog.

[2019-04-22 13:25] sujayvenaik commented on #6337
Hey @iriseufall
Collection in which delete was performed from the submenu is only getting deleted. Can you confirm which app version you are on? Also which OS?

Can you share a screen recording as well, if possible?

Showing the name in the delete confirmation modal can be added as a feature request which we can pick up.

[2019-04-22 14:14] iriseufall commented on #6337
You are right. Collection is getting deleted where delete is performed.
But adding Name in delete confirm dialog would reduce unexpected result.

[2019-04-22 14:39] jonathannah commented on #5414
I walked through the same steps as last night, and I can not reproduce,
which is more frustrating that losing my evening's work.

David

On Sun, Apr 21, 2019 at 11:25 PM Sujay Venaik <notifications@github.com>
wrote:

[2019-04-22 14:59] shamasis commented on #6283
The fix for this is in v7.0.9 for app... let us know if this works now.

[2019-04-22 14:59] #6283 closed, assigned to saswatds

[2019-04-22 14:59] shamasis commented on #6322
The fix for this is in v7.0.9 for app... let us know if this works now.

[2019-04-22 14:59] #6322 closed, assigned to saswatds

[2019-04-22 15:07] shamasis commented on #6194
@LazukinPavel - if curl works, it implies Postman needs to have "System Proxy" setting turned on and Global Proxy turned off. This is assuming that your system has a Proxy configured.

If there is no proxy configured in OS, can you check if Postman works fine when you make normal calls such as `https://httpbin.org/anything`, if that works fine, then the last debugging step is to export this call a

[2019-04-22 15:23] Petercopter commented on #4272
This feature is still missing, even though it appears to be in the documentation?
https://learning.getpostman.com/docs/postman/collections/managing_collections/#reorder-collections

![](https://s3.amazonaws.com/postman-static-getpostman-com/postman-docs/WS-reorder-collections-sidebar.png)

[2019-04-22 15:48] ghost commented on #4272
Sad that this has been open since March 3, 2018 and no one has added the icon back in.

[2019-04-22 17:15] thetreythomas commented on #6322
@shamasis

Updated to 7.0.9 today. So far so good.

When I make calls, it shows the Temporary Headers at the bottom of the Headers window.

I like how you all decided to put it at the bottom, and display the collapsible list closed by default. If you're not looking for this, you might not see it.

[2019-04-22 18:12] Redhunt2013 commented on #6328
Folks, I cannot reproduce the same issue as of today.  I've emailed the logs from the day it happened first. This ticket shall be closed if not relevant anymore.

[2019-04-22 18:17] navidmatin commented on #6324
I'm having the same issue, Windows 10 (dual boot on MacBook hardware), Postman `v7.0.9`.
I noticed that this issue happens if I click on anything or not, the app loads and after 10-20 seconds goes to a black screen.
![2019-04-22_14-02-26](https://user-images.githubusercontent.com/4390676/56516767-5d8acf80-6509-11e9-88d2-459ad42582c9.gif)

[2019-04-22 18:38] navidmatin commented on #6324
**Update**
Deleting the Postman related `AppData` folders fixed the issue (It appears that they do not get deleted by a simple uninstall). So I assume it was some type of cache corruption.

[2019-04-22 19:18] JP-from-Postman opened #6338 "Docs: include headers from folders in left nav bar"
**Is your feature request related to a problem? Please describe.**
When markdown headings are included in the description for a Collection, they appear on the left nav bar. However, if they are included in the description of a Folder they don't:

https://documenter.getpostman.com/view/5293839/Rztms92o#c892f021-30c4-4595-9e9d-c877b4423352

<img width="1088" alt="Screen Shot 2019-04-22 at 12 17 33 P

[2019-04-22 20:56] JP-from-Postman commented on #4912
@preethammavin Appears to still be unresolved

[2019-04-22 21:34] benfletcher commented on #4912
Just ran into this. A clunky workaround is to manually add an `Authorization` header with `Bearer {{token}}`  as the content. But that doesn't allow any inheritance and changes require a ton of manual work.

I tested and you can leave the duplicate Authorization info without a conflict, so that when Postman fixes the issue we can hopefully just delete the manual header. (I've only tested Bearer au

[2019-04-22 23:29] JP-from-Postman commented on #5180
Comments on desired behavior from user (via Support):
- If the user clicks the hyperlink then open the link
- If the user clicks elsewhere in the table, expand table

It looks like linking to anchor tags in the doc does actually work, but when the table is expanded you can't tell until minimizing the view again:

https://documenter.getpostman.com/view/5293839/S1LvV8KL
1) At page above, expand tabl

[2019-04-23 00:44] aaronn commented on #3117
+1– was choosing between Postman and Swagger and was kind of shocked this wasn't supported. We need the ability to document what kinds of fields are going to be required or optional, and stuffing them into `form-data` doesn't feel like a good way to do this.

[2019-04-23 01:37] JP-from-Postman opened #6339 "Long delay loading docs page"
Please read through the [guidelines](https://github.com/postmanlabs/postman-app-support#guidelines-for-reporting-issues
**Describe the bug**
The following docs page (lots of content) takes up to 20 seconds:
https://eshop.envia.com/

**To Reproduce**
1. Open: https://eshop.envia.com/
2. Observe delay

**Screenshots**

**Additional context**) before creating a new issue.
-

[2019-04-23 03:21] preethammavin commented on #6328
@Redhunt2013 thanks, will close the thread for now, do let us know if you face similar issue again,

[2019-04-23 03:21] #6328 closed, assigned to preethammavin

[2019-04-23 03:24] preethammavin commented on #6259
@balaramdev closing the issue for now, do let us know if you had a chance at looking at it.

[2019-04-23 03:24] #6259 closed, assigned to prashantagarwal

[2019-04-23 03:30] preethammavin commented on #6334
@cyrielle-hada is there a particular request which is not being forked every time? if yes would be great if the id of the said request be shared with us for us to triage the bug.

[2019-04-23 03:50] preethammavin commented on #6313
@labifrancis closing the issue for now, do let us know if it occurs again

[2019-04-23 03:50] #6313 closed, assigned to elssar

[2019-04-23 05:11] shirshak55 commented on #1667
3 years passed :) By the way do proxy work for https i find it hard may be due to certificate issue?

[2019-04-23 05:29] sujayvenaik commented on #4550
Closing this issue due to inactivity. Please feel free to ping here and reopen the thread if anyone finds this on the latest version of the app. Will be glad to help.

[2019-04-23 05:29] #4550 closed, assigned to nobody

[2019-04-23 05:31] sujayvenaik commented on #6337
@iriseufall Sure, marking this as a feature request. 👍

[2019-04-23 05:33] sujayvenaik commented on #6335
Closing this issue, can you create a separate issue for the issues that you face while updating the app?
We will pick it up from there.

[2019-04-23 05:33] #6335 closed, assigned to nobody

[2019-04-23 05:37] sujayvenaik commented on #6239
Hey, we have pushed out a fix for this in the latest v7.0.9. Update to the latest app and notify if you find any other issues.

[2019-04-23 05:41] sujayvenaik commented on #6292
Hey @lauxjpn  We pushed out a fix for this in the latest v7.0.9.

[2019-04-23 05:46] Navstati commented on #6322
I'm using 7.0.9 and I'm getting 500 error when I post the cURL with these temp headers in terminal where as able to post successfully with eliminating these temp headers..

Is there a way to select / de-select these temp headers from the request?

[2019-04-23 05:49] bhargavkaranam commented on #6174
This should be fixed in the latest version of the app (v7.0.9).

[2019-04-23 05:49] #6174 closed, assigned to bhargavkaranam

[2019-04-23 06:02] sujayvenaik opened #6340 "Could not open Postman after update"
**Describe the bug**
Could not update the app using the auto-update flow

**To Reproduce**
Steps to reproduce the behavior:
1. Update the app using the auto-update flow

**Expected behavior**
App boots up normally on the new version

**Screenshots**
![image](https://user-images.githubusercontent.com/11532114/56557942-9df65600-65ba-11e9-8561-37c9ab523189.png)
[main.log](https://github.com/postmanla

[2019-04-23 06:09] godfrzero commented on #6266
Ah, we've got some strict checks on the public API. I'll push an update the production Postman API in a couple of days which will relax this and allow this pattern to be used when creating/updating a monitor.

[2019-04-23 06:22] shamasis commented on #6322
@Navstati these headers were always sent - it’s not new. Your issue might be unrelated. Could you file a separate issue with a sample collection having the request and it’s associated code generated?

[2019-04-23 06:46] veeranagouda87 commented on #6336
[postman screenshot.pdf](https://github.com/postmanlabs/postman-app-support/files/3106161/postman.screenshot.pdf)

[2019-04-23 07:03] makhaer opened #6341 "Cannot get response for POST request in 7.0.9 version"
**Describe the bug**
I am using windows 10 64 bit. Just upgraded from version 7.0.7 to 7.0.9. After that my request is not getting response which was totally OK in version 7.0.7.

Requested server is totally fine and works in 7.0.7 still.

request detail :
method : POST
param : wsdl
header : Content-type : text/xml
Body : raw with xml content

**To Reproduce**
Steps to reproduce the behavior:
1. C

[2019-04-23 07:05] komape commented on #5781
A dirty flag if the request differs from the last saved request could be a solution. Maybe it would be possible to give an option if it should be autosaved or not.

Why do you closed it instead of putting it on hold?

[2019-04-23 07:18] numaanashraf commented on #6297
@Alexand3r Thanks for reporting this. Looks like Postman ran out of memory. Could you share your system specs including memory and CPU?

[2019-04-23 07:21] numaanashraf commented on #6323
@zaro Could you write to us at help@getpostman.com? We'll do our best to recover any data from your device.

We have identified a performance issue in Postman whether the UI doesn't show all your data immediately after account creation/sign-in. This has been resolved in Postman v7.0.9.

[2019-04-23 07:34] fireantology commented on #1906
+1

[2019-04-23 07:35] numaanashraf commented on #4613
This issue has been fixed in Postman v7.0.9

[2019-04-23 07:35] #4613 closed, assigned to nobody

[2019-04-23 07:38] codenirvana commented on #6341
@makhaer Since you closed the issue, I assume its fixed.
What caused this issue? Because of the v7.0.9 upgrade?

[2019-04-23 07:38] numaanashraf commented on #5758
This issue has been fixed in Postman v7.0.9

[2019-04-23 07:38] #5758 closed, assigned to nobody

[2019-04-23 07:43] numaanashraf commented on #5653
Thank you for your issue! With only the information that is currently in the issue, we don't have enough details to take action. I'm going to close this but don't hesitate to reach out if you have more information for us that'll help us debug and triage this issue.

[2019-04-23 07:43] #5653 closed, assigned to nobody

[2019-04-23 07:49] makhaer commented on #6341
@codenirvana  > Sorry I did not want to close it. May be closed accidentally. Issue is still here. I want to reopen. Now I have installed older version 7.0.7.

Upgrading from 7.0.7 to 7.0.9 caused. I think in new version problem exists still.

[2019-04-23 08:03] codenirvana commented on #6341
@makhaer To debug the issue with 7.0.9, can you try:
1. For sanity, is `POST` request at `https://postman-echo.com/post` working fine?
2. What's the error message in `Postman Console` for the errored request?
3. What are the Response Headers received in 7.0.7?
4. Check SSL and Proxy settings in App (both the versions)

[2019-04-23 08:10] hannesgeodan opened #6342 "Exporting collections with multi-part file"
**Describe the bug**
Exporting collections with file-uploads produces empty values for the given file-location.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a POST request with Body 'form-data' and key 'fileX', type 'file' and set value to a file on your disk
2. Click on 'save' to save the request in a collection (create a new collection for clarity)
3. Right-click on the new colle

[2019-04-23 08:23] saswatds commented on #6342
@hannesgeodan the issue is that we have not been storing file path's in the app due to security and interoperability reasons.
We are almost there at providing a better way to solve this problem.

You can follow this master thread #4320 , which aims to solve the problems of file path storage in the app completely.

We regret the inconvenience caused.
Kindly follow the above-mentioned thread for upd

[2019-04-23 08:27] cyrielle-hada commented on #6334
@preethammavin yes it's just a particular GET request that gets removed every time the collection is forked.

[2019-04-23 08:45] hannesgeodan commented on #6342
Thankyou @saswatds,
After reading (parts of) #4320 I'm not convinced this will work soon.
Do we have other options as a paying customer?
Kind regards,
Hannes

[2019-04-23 08:45] Sofianio commented on #2086
Now the default is "params" ...
When I see the dates on some issues I feel like they don't even listen to our feedbacks :/

[2019-04-23 08:48] ehausen commented on #1667
I moved to using Insomnia and copying the request as curl in chrome desktop tab. Insomnia then supports copy pasting the curl command and everything pops in place automatically. Works quite well.

Maybe postman could support import options from different browsers fluently..

[2019-04-23 08:58] curiouscod3 commented on #5819
still having this issue in 7.0.9

[2019-04-23 09:03] numaanashraf commented on #5819
@curiouscod3 @zinov Could you elaborate more on the issue you are facing? Self-signed certificates need to be added explicitly under `Settings > Certificates > CA Certificates`. Or alternatively you can disable SSL verification under `Settings > General` if you are working with self-signed certificates.

[2019-04-23 10:28] dcorking commented on #2541
an explanation of the meaning of _postman_id would help users choose an appropriate workaround

[2019-04-23 10:39] kamalaknn commented on #5728
@matheusfalcao20 I'm having trouble reproducing this issue. Can you share the link that you are trying to import?

[2019-04-23 10:44] shamasis commented on #6342
Look out for the canary releases within next month and a half. Closing issue as duplicate.

[2019-04-23 10:44] #6342 closed, assigned to nobody

[2019-04-23 12:54] MMRandy commented on #1667
@shirshak55 Charles and others handle this issue very well.

[2019-04-23 13:27] cyrielle-hada commented on #6334
@preethammavin the request in question that was removed every time the collection was forked was not to be synced. Duplicating the collection did the trick as it sent the collection payload with all the requests.

[2019-04-23 13:31] sujayvenaik commented on #6334
@preethammavin I triaged this issue, and there was a request which did not get synced mostly.
So duplicating the collection created a collection with all the requests similar to its local state and then fork could be done which would result in the correct state.

[2019-04-23 13:41] JdKock commented on #6341
I normally download the file and extract if over the old version, like now over 7.0.7
I solved this issue by delete the Postman directory of version 7.0.7 and do a clean install of Postman version 7.0.9

[2019-04-23 14:12] preethammavin commented on #6334
@sujayvenaik do we know why the request was not be synced ?

[2019-04-23 14:46] numaanashraf commented on #2940
This issue is fixed in Postman v7.0.9

[2019-04-23 14:46] #2940 closed, assigned to numaanashraf

[2019-04-23 14:48] numaanashraf commented on #5518
This issue is fixed in Postman v7.0.9

[2019-04-23 14:48] #5518 closed, assigned to vkaegis

[2019-04-23 14:51] numaanashraf commented on #3565
This issue is fixed in Postman v7.0.8

[2019-04-23 14:51] #3565 closed, assigned to preethammavin

[2019-04-23 14:51] CaiJingLong commented on #4631
It's finally come true. Thanks for job.

[2019-04-23 14:52] numaanashraf commented on #4951
This issue is fixed in Postman v7.0.8

[2019-04-23 14:52] #4951 closed, assigned to nobody

[2019-04-23 14:54] numaanashraf commented on #5690
This is fixed in Postman v7.0.8

[2019-04-23 14:54] #5690 closed, assigned to nobody

[2019-04-23 14:54] numaanashraf commented on #5654
Fixed in Postman v7.0.8

[2019-04-23 14:54] #5654 closed, assigned to nobody

[2019-04-23 14:57] numaanashraf commented on #3955
@jooleeanh We've pushed a fix to unify the markdown rendering within Postman app and our generated documentation in Postman v7.0.8. Do let us know if you are still facing any inconsistency. Closing this issue for now.

[2019-04-23 14:57] #3955 closed, assigned to numaanashraf

[2019-04-23 14:58] numaanashraf commented on #5965
Fixed in Postman v7.0.8

[2019-04-23 14:58] #5965 closed, assigned to nobody

[2019-04-23 14:58] numaanashraf commented on #5932
Fixed in Postman v7.0.8

[2019-04-23 14:58] #5932 closed, assigned to nobody

[2019-04-23 14:59] numaanashraf commented on #2893
Fixed in Postman v7.0.8

[2019-04-23 14:59] #2893 closed, assigned to nobody

[2019-04-23 15:00] numaanashraf commented on #4833
Fixed in Postman v7.0.8

[2019-04-23 15:00] #4833 closed, assigned to numaanashraf

[2019-04-23 15:01] numaanashraf commented on #6144
Fixed in Postman v7.0.8

[2019-04-23 15:01] #6144 closed, assigned to numaanashraf

[2019-04-23 15:03] numaanashraf commented on #5639
Fixed in Postman v7.0.8

[2019-04-23 15:03] #5639 closed, assigned to nobody

[2019-04-23 15:03] numaanashraf commented on #4828
Fixed in Postman v7.0.8

[2019-04-23 15:03] #4828 closed, assigned to numaanashraf

[2019-04-23 15:04] numaanashraf commented on #6178
Fixed in Postman v7.0.8

[2019-04-23 15:04] #6178 closed, assigned to nobody

[2019-04-23 15:05] numaanashraf commented on #5594
Fixed in Postman v7.0.8

[2019-04-23 15:05] #5594 closed, assigned to nobody

[2019-04-23 16:34] richarddevers commented on #4631
Macos here, it works like a charm, thanks a lot guys. Awesome works

[2019-04-23 16:40] sankalp0o commented on #6338
Hey @JP-from-Postman, I was wondering what kind of use case does this unblock.

[2019-04-23 17:06] codenirvana commented on #3566
Added support for proxy authentication in Postman v7.0.9 🚀

As mentioned in https://github.com/postmanlabs/postman-app-support/issues/3566#issuecomment-477780835 currently only Basic Auth is supported and support for NTLM is tracked here: #3692.

[2019-04-23 17:06] #3566 closed, assigned to codenirvana, vkaegis, preethammavin

[2019-04-23 17:09] codenirvana commented on #1947
This has been added in the latest Postman App (v7.0.9). 🎉
Refer above comment for the detailed usage.

[2019-04-23 17:09] #1947 closed, assigned to a85, codenirvana

[2019-04-23 17:13] codenirvana commented on #4631
This has been added in the latest Postman App (v7.0.9). 🎉
Refer https://github.com/postmanlabs/postman-app-support/issues/4631#issuecomment-477766260 for more detail.

[2019-04-23 17:13] #4631 closed, assigned to shamasis, a85, codenirvana

[2019-04-23 17:15] codenirvana commented on #2494
We've added support for this in the latest Postman App (v7.0.9).

[2019-04-23 17:15] #2494 closed, assigned to shamasis, codenirvana

[2019-04-23 17:21] codenirvana commented on #3290
We've added support for this in the latest Postman App (v7.0.9) 🎉

**Note:** The single CA file should consist of one or more trusted certificates in PEM format, this means you can append as many CA certificates as you want to the single file.

[2019-04-23 17:21] #3290 closed, assigned to numaanashraf, codenirvana

[2019-04-23 17:23] codenirvana commented on #5799
This has been fixed in the latest Postman app.

[2019-04-23 17:23] #5799 closed, assigned to codenirvana

[2019-04-23 17:24] codenirvana commented on #4707
This has been fixed in the latest Postman app.

[2019-04-23 17:24] #4707 closed, assigned to codenirvana

[2019-04-23 17:25] codenirvana commented on #2282
This has been added in the latest Postman App (v7.0.9). 🎉

[2019-04-23 17:25] #2282 closed, assigned to a85, numaanashraf, vkaegis, anudeepmedicharla

[2019-04-23 17:26] codenirvana commented on #4092
This has been fixed in the latest Postman app.

[2019-04-23 17:26] #4092 closed, assigned to codenirvana

[2019-04-23 17:28] JP-from-Postman commented on #2434
Would be great to add this for the current pm.____.get methods:

pm.variables.get()
pm.environment.get()
pm.globals.get()

[2019-04-23 17:29] codenirvana commented on #3232
This has been fixed in the latest Postman app.

[2019-04-23 17:29] #3232 closed, assigned to codenirvana

[2019-04-23 17:52] codenirvana commented on #2434
Duplicate of #5767

A workaround for this:
[code]

[2019-04-23 17:52] #2434 closed, assigned to a85, codenirvana

[2019-04-23 17:56] cbeckermedrio commented on #4898
Bulk Edit was better than what we have now.  I'd be fine with editing raw JSON too, it doesn't have to be Key-Value pairs.

[2019-04-23 17:58] loopDelicious opened #6343 "Template download error"
New+ button > Templates tab > Typeform > Use this template

Postman for Mac
Version 7.0.9

Trying to import the Typeform template results in this error:

<img width="1392" alt="Screen Shot 2019-04-17 at 11 28 49 AM" src="https://user-images.githubusercontent.com/17693714/56604048-f37c3400-65b5-11e9-8bb2-8c40b7be2359.png">

[2019-04-23 18:06] cpend opened #6344 "Mask client certificates passphrase by default"
**Is your feature request related to a problem? Please describe.**
Currently when I view the Settings -> Certificates page the "Passphrase" of the Client Certificates that I have setup are visible.

**Describe the solution you'd like**
 I would like to request that these are Masked permanently or have an icon next to masked passphrase that will allow to to view the unmasked passphrase.

**Addition

[2019-04-23 18:09] cpend commented on #6344
Currently when I view the Settings -> Certificates page the "Passphrase" of the Client Certificates that I have setup are visible.  I would like to request that these are Masked permanently or have an icon next to masked passphrase that will allow to to view the unmasked passphrase.  If I am showing another developer how I have setup my client certificates by screen shot or by viewing over my shou

[2019-04-23 20:11] luisfrlb opened #6345 "request.size is not a function when sending any request"
**Describe the bug**
When a request is made, regardless the method, the app crashes and the error "request.size is not a function" is thrown

**To Reproduce**
Steps to reproduce the behavior:
1. Update postman to version 7.0.9
2. Use or create a new request, any type of request, and press send the request
3. See error thrown

**Expected behavior**
The app should complete the request without error

[2019-04-23 20:11] shimiz commented on #6338
It would allow API Docs to have a folder called "FAQ" or "Guides" with a list of topics. Today the markdown in folder description allows the creation of these topics as sections but they are not discoverable in the TOC on the left. See support request #31450 with link to real docs example.

[2019-04-23 21:03] jzabroski commented on #4751
@a85 Here is another example where your company closed issues despite not really validating a solution has been reached: https://github.com/postmanlabs/postman-app-support/issues/3216#issuecomment-482469151

The reason given was lack of inactivity, which is unfair considering we're the ones waiting on updates from your team.

[2019-04-23 23:16] adrianmhe opened #6346 "Cannot sync or publish documentation"
**Describe the bug**
The sync button is solid red and does not sync changes to the server.  This has been going on for the past 6 hours.  Clicking the publish documentation button brings me to an error page that says:

"401
The request has expried. Please try again"
"Request Trace: v=1;t=6bf4a5ce275ec1f8"
With the picture of a dog.

**To Reproduce**
Steps to reproduce the behavior:
1. Login to the

[2019-04-24 00:10] johnpedersen-freightways opened #6347 "Postman does not remember the non-maximized window size if closed while maximized"
When Postman is launched maximized it does not remember the window size when switching to non-maximized.

**To Reproduce**
1. Launch Postman
2. Ensure the Postman window is not maximized
3. Resize the window
4. Maximize Postman
5. Close Postman
6. Launch Postman again (Postman should start with a maximized window)
7. Un-maximize the window
8. The window doesn't have the same dimensions as when it

[2019-04-24 00:52] adrianmhe commented on #6346
reinstalling the application and restarting the operating system seems to have fixed this

[2019-04-24 00:52] #6346 closed, assigned to nobody

[2019-04-24 01:32] matheusfalcao20 commented on #5728
In version 7.0.7 (7.0.7) I could not reproduce the bug again

[2019-04-24 03:04] adrianmhe commented on #6340
I had a simliar issue, but manually installed the latest version of postman without deleting the original, then I had to go to the dashboard and update my team to a 7.0 specification before this worked.

[2019-04-24 03:31] makhaer commented on #6341
Sorry I closed again accidentally.
1. For sanity, is POST request at https://postman-echo.com/post working fine?
It works fine.
2. What's the error message in Postman Console for the errored request?
Error: connect ETIMEDOUT
3. What are the Response Headers received in 7.0.7?
I don't have the header.
4. Check SSL and Proxy settings in App (both the versions)
Same in both.

[2019-04-24 04:02] makhaer commented on #6341
I reinstalled 7.0.7 . This version is working.

[2019-04-24 04:54] ommyjay commented on #1667
+1

[2019-04-24 05:06] kamalaknn commented on #5728
@matheusfalcao20 I noticed that this error is not common to all collections but only for specific collections. Can you confirm that the same link you used earlier which was throwing an error earlier now works, just so that we don't miss out any particular case?

[2019-04-24 05:24] sivcan commented on #4082
@amodmahajan2016 @donhathuy Yeah, my bad. You guys are right, there's only read-access.
The way to send the array in the body would be this:

We'll have to make use of variables, I am using local variables but you can use any variable type.

1. Your script should build the array and then stringify it and set it in a variable
[code]

2. Your request body should have the `{{countArr}}` without any q

[2019-04-24 05:53] PinSianLi commented on #3822
+1

[2019-04-24 06:07] numaanashraf commented on #6179
This is fixed in Postman v7.0.9

[2019-04-24 06:07] #6179 closed, assigned to nobody

[2019-04-24 06:10] vikiCoder commented on #3216
We've added a tooltip in response time showing detailed timing information after the request is sent. Please update to the latest version(v7.0.9) and you will be able to see what is taking more time in request sending. Below is a screenshot just as an example of this feature.

![image](https://user-images.githubusercontent.com/16588032/56636209-af586480-6685-11e9-85cb-aae07f9fa2ec.png)

[2019-04-24 06:11] sujayvenaik commented on #6334
@preethammavin The logs that were attached did not have any info in the ticket. This could happen in two cases. And one of them was this. I'll still look into if we find anything else.

[2019-04-24 06:15] #6239 closed, assigned to nobody

[2019-04-24 06:37] harryi3t commented on #3977
@jouzeroff You mentioned that when you try it in the browser it works, also it should a prompt for username/password. Could you share a screen recording of that (please use incognito mode)?
I just wanted to confirm whether the prompt is a native browser prompt or actually a UI for login flow.

We are tracking an issue where if the prompt is a native browser prompt, then it is skipped in Postman du

[2019-04-24 06:45] codenirvana commented on #4127
This has been fixed in the latest Postman app.

[2019-04-24 06:45] #4127 closed, assigned to codenirvana

[2019-04-24 06:46] codenirvana commented on #5996
This has been fixed in the latest Postman app.

[2019-04-24 06:46] #5996 closed, assigned to codenirvana

[2019-04-24 06:47] codenirvana commented on #4151
This has been fixed in the latest Postman app.

[2019-04-24 06:47] #4151 closed, assigned to codenirvana

[2019-04-24 06:48] codenirvana commented on #5873
This has been fixed in the latest Postman app.

[2019-04-24 06:48] #5873 closed, assigned to codenirvana

[2019-04-24 07:00] harryi3t commented on #3977
@jouzeroff @M3yo @thomaslazar
As mentioned in my previous comment, we have added a workaround so that now disabling the `SSL certificate validation` from the settings modal will turn it off for the Oauth2 window as well. This was released with version 6.7.4. Could you verify this and let us know.

Note: The self-signed certificates do not work since the platform on which Postman is built (Electron

[2019-04-24 07:06] vikiCoder commented on #2476
We've added a tooltip in response time showing detailed timing information after the request is sent. Please update to the latest version(v7.0.9) and you will be able to see what is taking more time in request sending. Below is a screenshot just as an example of this feature.

![image](https://user-images.githubusercontent.com/16588032/56639099-7cb26a00-668d-11e9-956b-da417d65e7da.png)

[2019-04-24 07:43] godfrzero commented on #6085
We've received a report of a case where the email delivery is not behaving as expected and a teammate is not receiving a summary mailer. We're investigating and we'll post an update here when it's available.

[2019-04-24 07:55] koying opened #6348 "Import OpenApi: issue with multiple "_" in host variable"
**Describe the bug**
When importing a json openapi spec with multiple "_" in a variable name as "host", the generated urls are wrong.

**To Reproduce**
Steps to reproduce the behavior:
1. Use PetStore openapi spec
2. Change `"host": "petstore.swagger.io",` to  `"host":"{{petstore_url_port}}",`
3. Import spec in postman
4. See that generated url are `https://{{petstore_url_portpostman_variable_clos

[2019-04-24 08:27] shamasis commented on #6345
How did you upgrade? Try doing a clean re-install.

[2019-04-24 08:56] Kapcash commented on #6341
I have the same issue with v7.0.9 using a proxy. In 7.0.7 everything works fine.
Since the new "Authentication Proxy" feature, none of my requests reach the urls. Even if I add the configurations for authentication or not.

[2019-04-24 09:09] makhaer commented on #6341
Thanks for sharing. I forgot to share I am also using proxy. Same request using proxy works in 7.0.7 but not in 7.0.9.

[2019-04-24 09:52] ankurdengla commented on #2833
@schellem @hnoe-c7ks7s @mvaneijk @PaulRobson85 @slowwit @gabrielamboss @dsimoes @pmmcmullen94 @andyjjones1

We were able to reproduce the issue in the following case (on Windows only) -
- Open Postman on external monitor (unmaximized).
- Minimize the app.
- Unplug the external monitor.
- Restore the app from the taskbar. It opened off-screen.

This case has been fixed in the latest version (Postma

[2019-04-24 09:55] codenirvana commented on #6341
@Kapcash @makhaer Isn't same Proxy Configuration (with auth OFF) working fine?

[2019-04-24 09:58] Kapcash commented on #6341
No, even with auth off it doesn't work. I've tried a bunch of proxy settings combinations but none of them are working (system proxy on/off, empty auth on/off, filled auth on/off). Seems like the entire proxy system is broken.

[2019-04-24 09:59] siddisking commented on #6187
I had a similar issue but my email ID was verified.

Downgrading to 7.0.7 solved my issue.

OS ubuntu 18.04

[2019-04-24 10:09] codenirvana commented on #6341
@Kapcash Not able to reproduce this, working fine for me (Proxy with and without auth).

Is it happening for every request sent or any particular endpoint?
Are you also facing this issue on Windows or on a different OS?

@makhaer @Kapcash Can you check if clean installing v7.0.9 fixes this issue as suggested by @JdKock https://github.com/postmanlabs/postman-app-support/issues/6341#issuecomment-485

[2019-04-24 10:14] xavier-b opened #6349 "Pre-request Script ignored in code feature"
Pre-request Script ignored in code feature

When I modify request with `Pre-request Script` tab (in collection or in request), my script is ignored when I use `code` feature.

For exemple in `Pre-request Script` tab I add :

[code]

But when I use `code` feature (cUrl version), I can't see x-ibm-client-id header :
[code]
 Postman v7.0.9

[2019-04-24 10:18] rosponda57 commented on #6013
Version 7.0.9 has the same problem.
The Authorization header  is cleaned when redirect is made between subdomains

Edit:
I've downgreaded to 7.0.7 and redirect between subdomains works well

[2019-04-24 10:27] dsimoes commented on #2833
@ankurdengla1996

Reproduction confirmed.
Upgraded to 7.0.9. Fix confirmed.

Thanks!

[2019-04-24 10:36] AnkitMasand commented on #6085
We have identified the root cause of the issue. The fix will be rolled out as soon as the development and testing are done. Will update the status here once we are ready with the fix.

[2019-04-24 10:42] ratpik commented on #3602
We have just shipped an update that supports request body matching for different types of request bodies.

To use this feature set the header key `x-mock-match-request-body` and specify the value to be `true` when you are calling the mock server.

Do let us know if you face any issues using this feature for your use-case.

[2019-04-24 10:42] #3602 closed, assigned to ratpik

[2019-04-24 10:44] ratpik commented on #3602
@anchnk - Matching using query parameters is already supported. Here is the documentation for it - https://learning.getpostman.com/docs/postman/mock_servers/mocking_with_examples/#using-query-params

[2019-04-24 10:50] klemens-u opened #6350 "Postman Console: implement search"
Currently there is a "Filter Messages" field. The filter is not helpful in cases where you need context. Example: console.log() output

Additionally it would be nice to have a fulltext search. This would allow to search for example in console.log() output.

[2019-04-24 10:53] klemens-u opened #6351 "Postman Console: log into logfile"
It would be helpful if the console content would also continuously be written into to a textfile.
This could be a configuration option (console logfile path)

Additionally there could be an "Export" button which saves the current content of the console into a text file.

[2019-04-24 11:03] klemens-u opened #6352 "Variable handling is not the same in request builder and runner"
Situation:

Environment variable: `"status_code_default" = 200`

Collection Test (Collection -> Edit -> Tests):
[code]

So this adds a default test to every request checking if the status code = 200.

Now for a specific request we want to override the default value:
Request -> Pre-request Script: `pm.variables.set("status_code_default", 400);`

This way we can assert that the request expects code

[2019-04-24 11:07] klemens-u opened #6353 "eql / deep.equal returns unhelpful output when comparing json objects"
I posted this @chai and they told me its a postman issue:
https://github.com/chaijs/chai/issues/1247

I compare two objects with the eql / deep.equal assertion, and they are not equal.
At the momen the return is something like:
`AssertionError: expected { Object (...) } to deeply equal { Object (...) }`

This return is not helpful at all, as there is no reporting on the differences.
I would expect

[2019-04-24 12:06] Kapcash commented on #6341
It happens for all requests involved with the proxy.
Requests that don't require the proxy are good.

I've tried a clean install of v7.0.9 on Windows, still facing the issue.

[2019-04-24 12:54] soysandeep commented on #2812
@udev Thanks for reporting this issue. This is not a bug in Postman app, its an issue in our underlying library and we have raised this issue to them. And we are expecting a fix. We'll keep you posted!

[2019-04-24 13:12] gduh opened #6354 "Unable to verify the first certificate"
**Describe the bug**

When I try to send a HTTPS POST request from a desktop (Servers are in production environment) the following message is displayed inside the console :

`Error: unable to verify the first certificate`

**To Reproduce**

Steps to reproduce the behavior:
1. POST request using HTTPS
2. Authorization Type : Basic Auth (including Username and Password)
3. Headers :
     - Content-T

[2019-04-24 13:19] klemens-u opened #6355 "Postman Requests Sidebar: expand/collapse all option"
It would be helpful to have an option to collapse or expand all folders and subfolders in the sidebar (the list of request).

How it could work:
* right click on a collection or folder, or click the menu icon (3 dots)
* select option "collapse all" -> all subfolders get collapsed, all memory of expanded folders gets deleted
* select option "expand all" -> alls subfolders get expanded

[2019-04-24 13:31] bmdako commented on #5063
I have tested and the issue is resolved! Thank you very much.

[2019-04-24 13:33] codenirvana commented on #6341
@Kapcash What's the error message in `Postman Console` for the failed requests?

Is there any way I can reproduce this? I tried using `mitmproxy` and its working fine with that.
Can you debug the request on the proxy server or test with `mitmproxy` to test if that fails too?

[2019-04-24 14:01] klemens-u commented on #4296
I have the same problem with Postman v7.0.9.

I just run a collection and wanted to debug a failed request.

![image](https://user-images.githubusercontent.com/1863743/56665277-05d79a00-66aa-11e9-9271-10267917abc0.png)

What does "top 10" mean? I understand it can be a resource problem when so much debug information is stored. But to store data for the latest run is absolutely essential!

[2019-04-24 14:31] a85 commented on #6349
We don't support code generation for dynamically created or modified requests right now.

[2019-04-24 14:39] timmeade commented on #5611
I just updated to 7.0.9 and i'm still getting the error.  Not as frequently . but it is still there.

[2019-04-24 14:41] jzabroski commented on #4751
@a85 Just saw @vikiCoder  update on #3216 - thank you VERY much.

[2019-04-24 14:41] matheusfalcao20 commented on #5728
The link that was giving error, is now working.

[2019-04-24 15:02] ParrisSikorski commented on #5240
I've literally looked at 12-15 articles trying to figure out why this wasn't working. Thank you so much for posting the solution!

[2019-04-24 15:20] shamasis commented on #5860
Hey... wanted to update here that the issue has been fixed and will be bundled along with upcoming release (and possibly earlier in Canary.)

[2019-04-24 15:23] minoseah629 opened #6356 "how to use x-mock-match-request-body header"
@ratpik

**Describe the bug**
After updating to 7.0.9, I am trying to use x-mock-match-request-body header. But I am not sure if I am using it properly.

**To Reproduce**
Steps to reproduce the behavior:
* Created a Request for SOAP
* Created example for said request with a null SOAP response
* Created a second example for said request with a valid SOAP response
1. Added x-mock-match-request-body

[2019-04-24 15:29] shamasis commented on #6044
We did try to replicate this issue at our end. We tried all innovative methods to do so, but couldn't come up with anything generic that can cause this. Closing this issue and waiting till we get to a scaled down collection that we can run at our end and reproduce it.

[2019-04-24 15:29] #6044 closed, assigned to codenirvana

[2019-04-24 15:38] shamasis commented on #6184
@Thor07 - I think we need more information. From the issue description it isn't clear to me what is happening. Can you elaborate what you were trying to achieve and what happened instead?

[2019-04-24 15:41] shamasis commented on #6206
Looks like the system/temporary headers were not added. But from the error, I can see that this request did not go through at all and as such no error header would be generated anyway @harryi3t.

This failed at request parsing. Should this be closed instead?

[2019-04-24 15:53] minoseah629 commented on #6356
For some reason, this seems to be working properly on a different soap project.

https://www.getpostman.com/collections/2203ad46c26ad9452361

Not sure why I cannot reproduce same result on my actual project

[2019-04-24 16:40] luisfrlb commented on #6345
A clear re-install fix the issue, Thanks.

*Luis Fernando López Barrera*

El mié., 24 abr. 2019 a las 2:27, Shamasis Bhattacharya (<
notifications@github.com>) escribió:

[2019-04-24 16:40] kamalaknn commented on #5728
Thanks for confirming @matheusfalcao20

Closing this issue now.

[2019-04-24 16:40] #5728 closed, assigned to nobody

[2019-04-24 17:07] rgasioro commented on #1264
Would be nice to see a final screen. For example, my last call produces html, I would like to see a Preview result screen after all is done.

[2019-04-24 17:30] romanmar commented on #6324
Switched back to version 6.7.4.  Version 7 has been a complete disappointment, constant crashes, crazy slowness, and now this issue appeared.

[2019-04-24 17:45] codenirvana commented on #6345
@luisfrlb Thanks for the update.

We have seen similar issues on Linux after the upgrade.
Here's the post-mortem from previous issue thread: https://github.com/postmanlabs/postman-app-support/issues/5039#issuecomment-420258338

[2019-04-24 17:45] #6345 closed, assigned to codenirvana

[2019-04-24 17:56] ratpik commented on #6356
@minoseah629 - If you have two saved examples with the exact same path and request body, both the saved examples are possible responses to your input and we end up returning the first one.

I have slightly modified the request part of your saved examples from the collection link that you have provided. Here is the updated collection -> https://www.getpostman.com/collections/2c99d545d59280736f2f

N

[2019-04-24 17:57] judomu commented on #3602
Great news. Imho it would be good if the header would not be needed or can be configured globally somehow.

[2019-04-24 17:58] alexgman commented on #3602
Julian, we just can't make you happy.

On Wed, Apr 24, 2019 at 12:58 PM Julian <notifications@github.com> wrote:

[2019-04-24 18:02] qmcree commented on #5611
Ditto to @TimMeade. It's not near as frequent, but it still happens sometimes.

[2019-04-24 18:08] jmajr opened #6357 "Not open on Mac 10.13.6"
The app don't open

Process:               Postman [674]
Path:                  /Applications/Postman.app/Contents/MacOS/Postman
Identifier:            com.postmanlabs.mac
Version:               7.0.9 (7.0.9)
Code Type:             X86-64 (Native)
Parent Process:        ??? [1]
Responsible:           Postman [674]
User ID:               503

Date/Time:             2019-04-24 14:57:22.430 -0300
OS

[2019-04-24 18:29] codenirvana commented on #6013
@rosponda57 This is expected behavior, `Authorization` header is not supposed to be retained when redirecting to a different host (yes, sub-domain as well i.e, abc.com -> xyz.abc.com).

In v7.0.8 we fixed this bug for 307 and 308 status codes.
Related curl vulnerability: https://curl.haxx.se/docs/CVE-2018-1000007.html

To fix this issue we will add a request configuration (similar to curl's UNREST

[2019-04-24 18:29] #6013 closed, assigned to numaanashraf, codenirvana

[2019-04-24 21:08] minoseah629 commented on #6356
Thank you @ratpik.

But I am confused by your response.

In my collection, there is a request called Mock Service.

When I use UnitedStates as the country code in the body request, I get Matching Response example from working soap request Copy GetHolidays as expected.

When I use Scotland as the country code, I get a No Holidays example as expected.

I am going to submit a request via Postman cent

[2019-04-24 23:14] JP-from-Postman opened #6358 "Dashboard: Invite people to your workspace by sharing a link with them."
**Describe the bug**
When creating a multi-use invite link, the text describing it mentions:

"Invite people to your **workspace** by sharing a link with them."

Since this link is for joining a team, not a specific workspace, this is a little confusing.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://go.postman.co/team/invite
2. See: the text under **Via link**

**Expected beh

[2019-04-25 00:29] makhaer commented on #6341
My server endpoint needs to use proxy to reach. So, I cannot test without proxy. But post-man echo request worked for me. Even I installed 7.0.9 fresh. It did not work.
I am not sure if @JdKock is using proxy.

[2019-04-25 05:51] nowoadisuryo commented on #1066
+1

[2019-04-25 05:55] svcat commented on #3919
Yep, as a qa starting to do automation, I see this feature very useful.

[2019-04-25 06:09] shamasis commented on #6353
Agree. Keeping this as feature request.

[2019-04-25 08:05] dannyhajj opened #6359 "Typo in the "Update Required" email"
When upgrading Postman to v7, the email sent to the team members contains a typo: `&nbsp` instead of `&nbsp;` (or maybe nothing altogether).
You can see in the following screenshot directly before the "wrench" (![image](https://user-images.githubusercontent.com/530409/56719646-7978b600-6741-11e9-89dd-1b3c97f9a9fa.png)) icon.

![image](https://user-images.githubusercontent.com/530409/56719459-0a9b5

[2019-04-25 08:31] Anjana-Entropik commented on #1066
We needed badly too

[2019-04-25 08:36] Anjana-Entropik opened #6360 "Selecting multiple subfolders of Collection for run from Collection Runner"
We have several different Collections and each one of it as sub-folders for categorization. Currently through Postman Collection Runner, we setup entire Collection with sub-folders to run it only runs the very first folder and leaves the rest.
Having a mechanism for selecting multiple folders within the Collection or picking up all sub-folders of collection when collection is run will resolve the

[2019-04-25 08:41] debjeetsarkar commented on #5751
This issue was intermittent and has been fixed via an infrastructure upgrade. Closing this.

[2019-04-25 08:41] #5751 closed, assigned to nobody

[2019-04-25 08:46] iz-ben commented on #4029
I have the same problem. The PATCH/PUT option doesn't work in combination with the 'form-data' option, therefore I am unable to send files to the server

[2019-04-25 09:39] anchnk commented on #3602
That's good to know however that was not supported when I posted my comment one year ago ;)

[2019-04-25 09:56] e8-ChenKaipeng opened #6361 "I lost my folder while sharing"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
Account chen950103@qq.com

Have a folder NewEChat

When I manipulated sharing to others, it disappeared.

I can't see this folder anymore. There are many APIs in it.

When I looked at my historical operation, I found it and clicked on it. It reminds me that I have no authorit

[2019-04-25 10:19] sujayvenaik commented on #6361
Hey @chen950103
Can you whether you can still see that entity (collection) in the dashboard?
You can access the dashboard by pressing the user icon -> profile.

Also, if I understand it correctly you can no longer access your collection after you shared?

[2019-04-25 10:55] ankurdengla commented on #6357
@jmajr Did you get Postman 7.0.9 by updating an older version of the app or did you download the archive from the website?
Also, if you downloaded the archive, this problem could have been caused because of using a third party app to unzip the file.
I suggest using the default mac Archive Utility to unzip the archive and reinstall the app. Do let us know if the problem still persists.

[2019-04-25 11:45] eloyucu opened #6362 "Environment fields are moved in the quick edit if one is deactivated"
I deactivated one of the env vars (the one in the third place), and then when I edit one of the variables under this deactivated one, the new value doesn´t go to the correct one, instead of that it goes to the bellow var: if I edit the 4th, the value goes to the 5th (and so on...).

How to reproduce:
==

1) Deactivate one of the vars:
![image](https://user-images.githubusercontent.com/2331045/5673

[2019-04-25 11:56] aurelo opened #6363 "Error importing open api yaml specification"
**Describe the bug**
Error during import of PSD2 yaml api specification:
"Error while importing Open API 3.0: Could not import"

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://berlingroup.stackstorage.com/s/iVgP0TIgErYRpCi
2. Click on 'Downloaden' to download current psd2-api.yaml
3. Open postman and import downloaded file
4. Postman gives Error - "Error while importing Open AP

[2019-04-25 12:42] jmajr commented on #6357
Hi @ankurdengla1996

It worked. It really was what it said, I used the Archive Utility and it worked normally.

Thank you.

[2019-04-25 13:22] YounixM commented on #6362
@eloyucu Thanks for bringing this to our notice. We were able to reproduce it. We are working on the fix and will update the thread when the fix released.

[2019-04-25 15:08] brianfreytag commented on #4546
100% in support of this. This would be amazing.

[2019-04-25 16:17] lookingcloudy commented on #5611
I just upgraded to Version 7.0.9 (OSX version) and I'm getting this every time I start Postman.

[2019-04-25 16:30] vasavijambula commented on #1137
I am having issues with NTLM authentication using postman version 5.3.2?.

Can someone confirm the version of postman where  NTLM is working?

[2019-04-25 16:36] darrelldraney opened #6364 "Global Proxy Configuration not working when request url has port"
When I upgraded postman to Version 7.0.9 on Mac OS (10.14.2 (18C54)) my global proxy configuration in postman is no longer used when a request url contains a port

Proxy configs in postman
[code]

Example requests expressed as curl statements

Ignores proxy configs:
[code]

Uses proxy configs:
[code]

Prior to upgrading both of these types of requests would use the proxy config

[2019-04-25 17:47] JP-from-Postman opened #6365 "Collection published to custom domain has "been moved or deleted""
**Describe the bug**
User reported that they unpublished a Collection from a custom domain, and are now unable to publish to the same custom domain again. The domain appears to be linked to a Collection, but accessing either the custom domain or direct docs link results in a 404, with the message:

"We couldn't locate the collection you're looking for. It may have been moved or deleted."

See inte

[2019-04-25 17:53] ryparker commented on #5832
This is affecting our documentation through postman as well.

[2019-04-25 18:17] JP-from-Postman commented on #6327
@preethammavin Sorry for the delay: please see linked ticket where FR originates from

[2019-04-25 18:30] willpoorman commented on #4052
That actually did help clear up a decent amount of my confusion @vdespa. Though it looks like you can actually override Collection variables in scripts, at least in the pre-request script.

Today I set the variable {{port}} in my collection  to a default value and in a pre-request script i used `pm.variables.set('port', 'ANOTHER')` then ran the request. I checked the request it generated and it sh

[2019-04-25 18:33] willpoorman commented on #4052
I have a gripe about the fact that local variables don't have a way to set them via in UI element like the Global, Collection, and Environment variables do. If there was a tab in the request for setting a variable specific for that request rather than our only option being to set it in the pre-request script, that would be nice. Especially since setting them in the pre-request script doesn't allow

[2019-04-25 18:38] JP-from-Postman commented on #6251
Issue is still ongoing. User was able to find a workaround for now:

`I've worked around this (duplicating the forked branch creates a copy that's no longer considered a fork, allowing me to clean up the old collections)`

[2019-04-25 18:53] coto opened #6367 "Improve UX with small change"
Align to left Request Method in Collections (right now they are centered in theirs space). Keep respecting the Tab space for previous and next levels.

![56760578-7db8c980-6769-11e9-9835-242f5bee86a8](https://user-images.githubusercontent.com/25914/56761144-a7bebb80-676a-11e9-9017-52660350baea.png)

**Is your feature request related to a problem? Please describe.**
A clear and concise description

[2019-04-25 19:25] dgriswo commented on #6364
I am experiencing the same behavior using v7.0.9 on Windows 7.

If a request specifies a port other than :80 or :443, the global proxy setting is ignored.

[2019-04-25 19:33] codenirvana commented on #6364
@darrelldraney @dgriswo Thanks for reporting this.

Is this happening after the upgrade (v7.0.9)? I see similar behavior with older versions as well 😕

[2019-04-25 21:04] RomuloVHSYS commented on #2847
+1

[2019-04-25 21:06] RomuloVHSYS commented on #2847
@a85 @vkaegis do you guys have any news?

[2019-04-25 23:08] wilkerlucio commented on #5905
Just tried to use the feature, crashes every time, tried default port `5555`, `8080` and a few others, crashes with all of then.

[2019-04-25 23:30] rhartness commented on #2724
Also going to suggest this.  Is it even in the works?

[2019-04-25 23:48] rodrigotolledo commented on #4849
I'm also facing scrolling issues when using Postman in an external monitor.

Tried on two different external monitors with different resolutions (and scrolling doesn't work on both):
- BENQ Monitor - Resolution: 2560 x 1440
- BENQ Monitor - Resolution: 1920 x 1080

Scrolling works fine on my DELL Laptop (15"):
- Resolution: 3840 x 2160

Postman Version 7.0.9
win32 10.0.17763 / x64

[2019-04-26 00:06] JP-from-Postman commented on #4342
These intermittent sync disconnects appear to still be occurring. I've seen them on my own app, as well as in reports from some users. Adding examples where they appear.

[2019-04-26 00:11] JP-from-Postman opened #6368 "Delays with sync for large Collections + requests"
[Filed by Postman Support, on behalf of user]

**Describe the bug**
Team has many, very large Collections (some with 600+ requests). Many of these requests contain very large request bodies (10,000+ lines of JSON).

When logging in for the first time in a given instance of the app, content fails to load and Dev Tools logs contains numerous socket disconnection errors. Quitting the app and restarti

[2019-04-26 02:31] preethammavin commented on #6290
@iensu captcha is not something we control, it would be dependent on the client for verification.

[2019-04-26 02:31] #6290 closed, assigned to elssar, ankit-m

[2019-04-26 02:38] preethammavin commented on #6316
@emereyd this is not something we are working on immediately, but I am filing this as a feature request, would like to see how we can solve your use case better.

[2019-04-26 03:36] srajkavithaa opened #6369 "Is it possible to export the postman collection as csv."
Any idea about exporting the collections/requests with all sub folder details as a csv file.
Thanks

[2019-04-26 05:04] shashi0802 commented on #6045
![Screenshot from 2019-04-26 10-32-26](https://user-images.githubusercontent.com/38715772/56784560-b1016400-680e-11e9-9c4c-a280b149f411.png)
I also get same update banner but didn't get update option.

[2019-04-26 05:26] shamasis commented on #6369
No. But you can export a run using https://www.npmjs.com/package/newman-reporter-csv

You can try exporting to JSON and then try using documentation from schema.getpostman.com to convert to a CSV. You can use https://schema.getpostman.com to write your converter. You can also try posting this request on community.getpostman.com and see if anyone from the community has anything already built along

[2019-04-26 05:26] #6369 closed, assigned to nobody

[2019-04-26 05:42] godfrzero commented on #6266
@VicKetchup Can you try now? The pattern should now accept a specific minute.

[2019-04-26 05:48] kamalaknn commented on #6368
Hi @JP-from-Postman

Can we get the logs from `View -> Developer -> View logs in Finder` when this happens? That will help us identify the root cause of the issue here.

[2019-04-26 08:29] vikiCoder commented on #4186
We have fixed some issues related to AWS authentication in version 7.0.9. You can test it. And please inform in this thread whether your issue related to AWS authentication is solved or not.

[2019-04-26 08:42] sharq88 commented on #6322
Can you please also give an option to disable temporary headers in code generation? This is very annoying that it produces this now: :(

curl -X GET \
  'http://myaddress.com/api/v1.0/test' \
  -H 'Accept: */*' \
  -H 'Authorization: Bearer xyz' \
  -H 'Cache-Control: no-cache' \
  -H 'Connection: keep-alive' \
  -H 'Content-Type: application/x-www-form-urlencoded' \
  -H 'Host: myaddress.com' \

[2019-04-26 09:40] altingfest commented on #1070
+1

[2019-04-26 09:56] Sjain01 opened #6370 "Is there a way to convert an image to base64 first as part of pre-request script?"
Hi Reader,

I want to test batch of images via the rest calls. The only condition is those images have to be base64 encoded. So I am wondering if it is possible to first convert an image to base64 as part of pre-request script and then send the encoded string in request body.

I searched about it a lot and found CryptoJS function but using that I couldn't encode an image.
I placed the paths of all

[2019-04-26 10:20] labifrancis opened #6371 "User unable to access a workspace"
**Describe the bug**
 A user is unable to access a workspace and gets this error:

_Something went wrong
Don't worry, we'll look into it straight away. Click the button below to return to your workspaces._

Steps to reproduce:
1. The user is part of a team and is trying to access the team's workspace: teamname.postman.co/workspace

The error comes ups when the user tries to access the above link.

[2019-04-26 10:30] grinderX19 opened #6372 "Always write to console, even if it's closed"
I often send requests forgetting to open the console. It would be great if it was active all the time, even if closed, so I could always review the logs after request run.

[2019-04-26 12:25] Michal-Kolomanski opened #6373 "Extracting data from responses in postman"
Hello,
I have a problem with extracting data from response in Postman.
My response from the server:
![image](https://user-images.githubusercontent.com/47147210/56807113-29c3e880-682e-11e9-85a9-8606badb74fa.png)

I want to extract a variable called "row_order".

I wrote some code, but this doesnt work.

![image](https://user-images.githubusercontent.com/47147210/56807221-7c9da000-682e-11e9-9f08-345

[2019-04-26 12:30] willdean commented on #5920
Until I read this issue, I have never known the duplicate function to work - it has always duplicated an empty query for me.  But as per @lauxjpn I have now realised that doing an explicit save first is what's needed.

I think this is a bit of an oddity - if duplicate doesn't work on an unsaved/modified request, then could it refuse to do the duplication, rather than just duplicating something une

[2019-04-26 13:05] RomuloVHSYS commented on #2847
Version 7.0.7
April 26, 2019

More than **TWO YEARS**, we still have the same issue.

[2019-04-26 13:42] martyscholes commented on #5920
Will,

At the risk of sounding stupid, how did you save a request? I chose the
Save option from the menu, but sometimes that did not seem to work. Did you
click on something before saving it?

On Fri, Apr 26, 2019 at 6:30 AM Will Dean <notifications@github.com> wrote:

[2019-04-26 13:55] willdean commented on #5920
@martyscholes I'm glad it's not just me who feels a bit dim here!  I clicked the "save" button over next to the "Send" button - I looked in all the various menus for a 'save' option first and didn't find it.   I can't say if 'sometimes' it doesn't work, because all I know is that I've never seen 'duplicate' work before ever (I guess I've always been duplicating requests which I've only just create

[2019-04-26 15:08] Trojaner commented on #4075
All of my APIs were prefixed with /v1 and hence Postman grouped all of them in the "v1" folder.
The solution for me was to properly set baseUrl in the swagger.json.

[2019-04-26 15:34] carlmwright commented on #1946
![postman](https://user-images.githubusercontent.com/26304283/56819001-c8594500-6840-11e9-849a-6fc81884affb.png)

This is about where my Postman 7.0.9 x64 decides to call it a day when downloading an ~80Mb application/xml gzipped to ~5Mb.

Running fiddler over it shows that it all comes back to the client in about 27 seconds, so maybe it's some sort of pretty printing that it's doing?

[2019-04-26 16:35] jean-husa commented on #6045
shashi0802 - I suggest you report this yourself. If you follow the thread, you'll see that I did nothing to fix this. I just opened postman the next day and the update was there.

[2019-04-26 16:57] JP-from-Postman commented on #6368
@kamalaknn sorry about that, logs attached:
[-1556225409370.log](https://github.com/postmanlabs/postman-app-support/files/3122270/-1556225409370.log)

[2019-04-26 17:28] martyscholes commented on #5920
Will, thanks for getting back to me. For clarity, I have attached some
images. The first image shows what my screen looks like right now.

[image: Screen Shot 2019-04-26 at 11.23.19 AM.png]

If I want to save, I can click on the orange yin/yang button.

[image: Screen Shot 2019-04-26 at 11.24.55 AM.png]

But I don't know what that saves. Does it save the item in the collection
to the left?

[image

[2019-04-26 18:28] dpease123 commented on #5939
This is not a great feature. Some people work in corporate environments where they have software to monitor .exe files for familiarity to prevent malicious software from installing.. If the .exe bytes have changed the program is prevented from running b/c it's not recognized or approved  then can't install update. Postman won't launch and your dead in the water until IT approves the file.

[2019-04-26 19:21] darrelldraney commented on #6364
@codenirvana, I downloaded  v7.0.7 and requests with ports are going to the proxy (as long as I include the protocol in the url). That being said, I do recall at some point in the past I had to start remembering to always add the protocol to the request url to get it to go to the proxy, so I just did a test in 7.0.7 where I left off the protocol so just
[code]
and
[code]

 and the one with out a p

[2019-04-26 19:45] JovanovicJovan commented on #350
+100

[2019-04-26 20:33] JP-from-Postman opened #6374 "Team unable to edit Collection, or manage permissions"
[Submitted by Postman Support, on behalf of user]

**Describe the bug**
Two Collections that were transferred to a new owner can't be edited. The new owner also can't see the Modify Permissions option in ellipsis menu for the Collection, or change its permissions otherwise.

**To Reproduce**
Steps to reproduce the behavior:
1. Team member who owned Collections removed from team
2. Collections tran

[2019-04-26 20:40] sdickson-macmillan commented on #783
+1

[2019-04-26 21:54] Raghav-Kathuria commented on #283
Postman listens to only SSL requests, not user's requests.

[2019-04-27 05:23] ankit-m opened #6375 "No way to go back to workspace view from documentation"
**Describe the bug**
On dashboard, if a user wants to go back to the workspace view `/workspaces/:id` from collection documentation (/collections/:id), they have to open the workspace switcher and find the active workspace. There is no back to workspace button.

**Expected behavior**
Have some way to go back to workspace view.

[2019-04-27 07:29] shamasis commented on #6370
I’m afraid that this is not possible using scripts in Postman. Postman scripts can not access files from inside sandbox. Maybe you could ask this question at https://community.getpostman.com where someone might have found alternative ways to achieve this.

[2019-04-27 07:33] shamasis commented on #6370
As a note for future reference of this feature request, we could open up now a shim of fs using working directory restricted variant from inside sandbox.

[2019-04-27 07:41] shamasis commented on #6373
Hi. This is an issue with incorrect usage of Javascript. An array in response has to always be used using its index [] sign. Maybe you could post this question in https://community.getpostman.com/ to get help around how to write this code.

From the looks of it, it seems that you’ll need to iterate on the rows using a loop and then set variables.

[2019-04-27 12:56] abhijitkane commented on #5533
Hm..this also depends on the server configuration. Additionally, withCredentials=true is a requirement for same-site requests if cookies need to be included.

This will eventually be added as a UI option, but for now, we can add a comment to the generated code explaining this.

[2019-04-27 14:08] DannyDainton commented on #6373
I've written this post on our community site that might help with this question.

https://community.getpostman.com/t/sharing-tips-and-tricks-with-others-in-the-postman-community/5123/5

This issue can be closed now.

[2019-04-27 16:27] datazen opened #6376 "Published copy missing first letter of URL when using variable"
Using latest version 7.0.9

Set a custom variable for API URL and when publish the docs, the first letter of the URL is missing.

![grabilla 000032](https://user-images.githubusercontent.com/3129247/56852312-c39b9c00-68e7-11e9-96f9-56a669152bed.png)

![grabilla 996288](https://user-images.githubusercontent.com/3129247/56852313-c72f2300-68e7-11e9-91c8-2a2384873d21.png)

[2019-04-27 20:21] Bluscream commented on #1228
HOW TO DO THIS?

[2019-04-27 20:23] Bluscream commented on #4327
YES PLEASE!

[2019-04-27 20:27] fabOnReact commented on #1228
@Bluscream  better not using all caps, please edit your message
the screen is from the postman ubuntu desktop app. The rest is self-explanatory

[2019-04-27 22:17] thesaxonedone opened #6377 "Postman indicates "could not get response", but wireshark captures show otherwise"
**Describe the bug**
Postman indicates "could not get response" when POSTing a multipart form, but wireshark captures show the server responding with a properly formed HTTP 400.

**To Reproduce**
Steps to reproduce the behavior:
I don't really have a way to reproduce it as it appears to be sporadic.

**Expected behavior**
If a properly formed HTTP response is received on the wire, Postman should i

[2019-04-28 03:16] kingfer30 opened #6378 "Deleting history group crashes the app"
**Describe the bug**
When I delete some group of history record , reported somethings went wrong. I can't continue to operate only when restart, but when it restart , that group I delete was went away

**To Reproduce**
Steps to reproduce the behavior:
1. Click on delete history(group)

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applica

[2019-04-28 06:24] #6373 closed, assigned to nobody

[2019-04-28 12:09] Benibur commented on #1667
There is **an easy way for Postman's team to implement this feature** : instead of capturing the requests of an external browser, Postman could have an **"internal browser"** (thank you Electron :-) )

It would then be easy for the user to navigate in his website and for Postman to catch all the requests in the History of current workspace...

For me it would be the perfect solution.
And yes, this

[2019-04-28 12:55] abrhambas01 commented on #4142
@FelipeCortez , where can you find it< I didn't see anything

[2019-04-28 13:07] abrhambas01 opened #6379 "Make font in windows machines more monospaced or readable"
The fonts in my windows 10 computer is really ugly, how can I change it to like Consolas or Hack or anything

I want to change it to like a more monospaced look to make it like a dev friendly ux..

Look at this
![image](https://user-images.githubusercontent.com/12043306/56864815-8e7f6e80-69f9-11e9-9286-1e97ccf1bde2.png)

it's not like in the mac version

[2019-04-28 13:49] abrhambas01 commented on #4142
@FelipeCortez
![image](https://user-images.githubusercontent.com/12043306/56865339-86c2c880-69ff-11e9-9768-2e29ba371653.png)

Hello mate, which should I choose between the two app - ???

[2019-04-28 15:05] kenvifire commented on #3565
@numaanashraf Thanks for fixing this! Great job!

[2019-04-29 05:03] numaanashraf commented on #6378
@kingfer30 Thanks for reporting this. We are able to replicate this and will include the fix in the upcoming release.

[2019-04-29 05:15] DaviesX commented on #5194
+1

[2019-04-29 05:21] shamasis commented on #6377
This will be tricky to debug. If you’re seeing “could not get a response” - indicates that the flow completed internally. I can think of two things that could be the cause. Code error in parsing request or response and secondly SSL certificate issues. Could you open Postman Console and see if there are any error logged?

[2019-04-29 05:23] thesaxonedone commented on #6377
I can confirm that SSL/TLS is not the problem as the traffic is unencrypted.   I will get back to you on the console output

[2019-04-29 05:45] thesaxonedone commented on #6377
The failing requests alternate between the following errors in console(I have also included a screenshot of the failing request).
Error: write ECONNABORTED or Error: read ECONNRESET

![image](https://user-images.githubusercontent.com/31674706/56878087-161faa00-6a07-11e9-8560-a5a6b3e0746a.png)

What's odd though is that the wireshark capture clearly shows the HTTP request being issued by postman, c

[2019-04-29 06:39] nixoncode commented on #1669
It's 2019 already, Any progress on this?

[2019-04-29 06:44] VShingala commented on #5312
@science695
This issue is solved in latest update. Can you check it once again and confirm?

I have followed same procedure mentioned in your issue and this is code generated in JQuery.

[code]
Confirmed on Native App:
7.0.9 on win32 10.0.17763 / x64

[2019-04-29 06:55] dashmug commented on #1669
They said it is slated for release in Q2. Unfortunately, they didn't tell us what year.

[2019-04-29 07:34] vkaegis commented on #6275
@raghav19 Thanks for writing in! I can see how this use case is valuable. Marking this as a feature request for now, no ETA on it just yet though. Will keep you updated.

[2019-04-29 08:03] VShingala commented on #5809
Hey @kerednai @chucklu @nonyy @tbolon

I followed same steps to reproduce issue. And here's what I got on HTTP and cURL. Can you confirm if problem still exists or not?

In HTTP:
[code]

In cURL
[code]

Tested On Version 7.0.9
win32 10.0.17763 / x64

[2019-04-29 08:26] akhilnambiar29 opened #6380 "Exclude domains for proxy"
**Is your feature request related to a problem? Please describe.**
The proxy setting on the postman app doesn't have an option to exclude domains . For eg . I need a proxy for connecting to APIs to outside my office network but for APIs hosted in the internal network , I don't need a proxy .

**Describe the solution you'd like**
Add an option to exclude domains for proxy .

**Describe alternatives

[2019-04-29 08:32] chucklu opened #6381 "Where can I check the update log?"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Help'
2. Click on 'Check for updates'
![image](https://user-images.githubusercontent.com/3004057/56884582-d3a8ac80-6a9c-11e9-91b4-f90604c11c24.png)

3. Update
4. See error
![image](https://user-images.githubusercontent.com/3004057/56884575-cf7c8f00-6a9c-11e9-87f0-98

[2019-04-29 08:33] chucklu commented on #6381
sorry, I just wrong touch enter keyword, and the issue was created without confirm.
I will re-write the description soon

[2019-04-29 08:37] chucklu commented on #6381
I  have update the description

[2019-04-29 08:38] chucklu commented on #5809
@VShingala  I  am trying to upgrade the software, but failed. Could you help me with https://github.com/postmanlabs/postman-app-support/issues/6381

[2019-04-29 08:52] chucklu commented on #6381
I find I need exit the software first and open it again, then I am using the latest version.
![image](https://user-images.githubusercontent.com/3004057/56885494-1ff4ec00-6a9f-11e9-9db0-12666e428344.png)

[2019-04-29 08:52] #6381 closed, assigned to nobody

[2019-04-29 08:53] codenirvana commented on #6380
@aqeelsmith Thanks for the feature request.
As a workaround, you can set `NO_PROXY` environment variable to unblock your workflow.
Refer: https://github.com/postmanlabs/postman-app-support/issues/3942#issuecomment-355333474

[2019-04-29 08:56] chucklu commented on #5809
@VShingala  With version 7.0.9, I find the parameter was lost.
The get request url is https://hdgateway.zto.com/WayBill_GetDetail?billCode=75132077503374
![image](https://user-images.githubusercontent.com/3004057/56885566-5599d500-6a9f-11e9-84f0-1baf41a19589.png)

Previously I got
[code]
Currently I got
[code]

[2019-04-29 09:22] VShingala commented on #5809
@chucklu You haven't included `urlencoded` body in you request. And Previously you were using POST with `urlencoded` body. While in "Currently I got", you are using GET.

Using POST request with `urlencoded` body you should be able to get below code snippet.

[code]

[2019-04-29 09:52] numaanashraf commented on #6357
@jmajr Glad to hear the issue is resolved. Closing this.

[2019-04-29 09:52] #6357 closed, assigned to nobody

[2019-04-29 10:08] VShingala commented on #2631
@AykutCevik  It seems that php cURL has fixed `curl_setopts_array()`. I tried to reproduce your issue but seems to be working fine for me. And Postman generated `php-cURL` code snippet is working correctly too.

Can you confirm this?

[2019-04-29 10:23] abhijitkane commented on #5999
@mearns I'm unable to reproduce this with version 7.0.9 (screenshot attached). Can you confirm?

<img width="757" alt="Screen Shot 2019-04-29 at 15 53 11" src="https://user-images.githubusercontent.com/681190/56890401-f637c700-6a96-11e9-9a4b-40c604251a75.png">

[2019-04-29 10:32] chucklu commented on #5809
@VShingala  I find the new generated with duplicate section Host and cache-control
And the postman-token looks weird, you provide two token id?
[code]
![image](https://user-images.githubusercontent.com/3004057/56890752-ef1bb380-6aac-11e9-9ef3-48ee1d680342.png)

[2019-04-29 10:48] harsh-reality opened #6382 "Wrong Monitoring Alert Emails sent to Enterprise team users"
**Describe the bug**
The monitoring alert email sent to a Postman Enterprise user has the content and messaging that of a Postman Pro team.

Even the numbers like # of requests are related to the Pro team and not the Enterprise team.

PFA the screenshot
![Screenshot 2019-04-29 at 3 44 07 PM](https://user-images.githubusercontent.com/12132423/56891484-3c425a00-6a9a-11e9-90bf-a180bb9751ca.png)

**Ex

[2019-04-29 10:54] Goltergaul commented on #5034
This issue is indeed a bit annoying...  Has this been fixed in v7.0.6?

[2019-04-29 11:21] lozog95 commented on #2302
+1

[2019-04-29 11:40] mpatton7 commented on #4320
I am facing this issue and would like to try and implement this workaround from @jonlay but I don't quite understand how to run the function and provide the "input"? Should I be adding and executing the function as part of the collection itself or should I be processing the collection file from Javascript externally and if so how do I get the input and write it back to the same collection file?

[2019-04-29 11:52] hanno-jonlay commented on #4320
@mpatton7

This.

I have a little Express server configured, which I  run newman on, and have some configuration set up to parse the Postman file.

Something like...

[code]

Won't run out of the box, but you should be able to get the gist! It's quite a custom approach to an annoying problem, but works for me in this situation because I already have to do a lot of parsing of fixtures and other dat

[2019-04-29 11:58] prakhar-pal commented on #6297
Same issue is happening with me. Only 39% of memory is used at 6.9 GB of 18GB

Specs are
OS: elementary OS(based on Ubuntu 18.04)
RAM: 18 GB
CPU: Quad-Core Intel® Core™ i7-4770 CPU @ 3.40GHz

[2019-04-29 12:24] ankit-m opened #6383 "Request goes in conflicted state when editing request name/description"
**Describe the bug**
Request goes in conflicted state when editing the name, even when no one else is working on it.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a new request
2. Send a request to getpostman.com
3. Add tests
4. Save request
5. Send request
6. Edit request name
7. Save
8. Observe conflicted state 👀

**Expected behavior**
To not be conflicted

**App information (plea

[2019-04-29 12:49] groggi commented on #6296
Ok, so I am back at work and have used Microsoft's Policy Analyzer (to download here https://www.microsoft.com/en-us/download/details.aspx?id=55319) to extract the local policy on both devices, the one Postman still works on and the one it doesn't work. Note: I enabled "Compare local registry"

**Difference between both devices:**

- Audit Policy\Option - FullPrivilegeAuditing (more information: h

[2019-04-29 12:52] LiamDobbelaere commented on #4295
I'm sorry I never got back to you. Unfortunately it's been a long time and I haven't worked on this particular part anymore, so you can leave the issue closed.

[2019-04-29 12:55] codenirvana commented on #6354
@gduh Looks like the server certificate is somehow invalid and it's not possible to debug the root cause from the details you provided.

So, quick sanity to make sure this issue is related to SSL/TLS, try sending the request with the "SSL certificate verification" option disabled. (Settings -> General -> Request)

If the server requires client certificates to be sent with the request, configure ap

[2019-04-29 12:59] numaanashraf commented on #1669
Thanks for the patience everyone. We are putting the finishing touches on this and making sure that GraphQL requests work consistently in the various individual and team workflows supported by Postman's products, including the Postman App, Newman and Postman Monitors.

Here's a sneak peek of the latest internal build and you can expect the feature to land in Canary in few weeks.

<img width="1428"

[2019-04-29 13:03] nixoncode commented on #1669
This is actually Pretty Neat, Am excited to see it hit the stable release, Good work so far.

[2019-04-29 13:49] minoseah629 commented on #6356
Here is my last Postman Support response.
I think I figured out my issue.

As one of my headers of my Example and my actual request is the Content-Type, but I need to make it application/soap+xml.

But when I go over to my Body for either example or request, the body format was selected as text but is actual xml. I specifically need my body to be application/soap+xml for my mock service to communi

[2019-04-29 13:59] jvermach commented on #1654
Solution found in: https://community.getpostman.com/t/collection-runner-sending-requests-with-array-of-objects-read-from-data-source-file/4994/4

[2019-04-29 14:17] fanreson commented on #1667
Interceptor feature is great, just make it available in  Postman Desktop Apps. You know that is the right thing!!!

[2019-04-29 14:19] gduh commented on #6354
@codenirvana With the option "SSL certificate verification" disabled the request is ok and the answer corresponds to the expected result.

As mentioned in my first message, if I make the request using curl (with -v flag) not only the answer is OK, but also, curl says that `SSL certificat verify ok` and domain name matches certificate without any warning or issue !

In the same way, If I send the s

[2019-04-29 14:35] thertzelle commented on #5586
Please fix this UI and potentially bug. All day long the window bounces up and down as the internet apparently cuts out...Even though my network isn't losing connection.

[2019-04-29 14:37] mearns commented on #5999
Confirmed @abhijitkane, I cannot reproduce in 7.0.9 either.

[2019-04-29 14:39] Raj-postman opened #6384 "Missing data when accepting a new team's invite"
**Is your feature request related to a problem? Please describe.**
Removed from my team when joining a new team. It would be great to be able to join more than one team at a time, to collaborate with multiple teams

**Describe the solution you'd like**
Something similar to joining multiple workspaces

**Additional context**
Until then : It would be better to have a pop-up message, "Joining the tea

[2019-04-29 14:42] bhargavkaranam commented on #6384
@Kurmavathar If you're already part of a team, there's a warning shown when you accept the invite to join a new team. Could you tell us the flow where the warning was not shown?

[2019-04-29 14:51] gduh commented on #6354
I update my Postman to latest, but it's the same.
If it can help you to investigate further, I can send you more information about the request but only in private, for that I need to create you an account in our server. Just tell me.

[2019-04-29 15:05] ngfk commented on #6384
@bhargavkaranam Hi this issue was raised on my behalf. I did not receive a warning telling me that I would be kicked out of my previous team. I simply clicked the "Accept Invite" button from my mail (see below) which openend the installed postman client. The only message I got was the notification telling me that I was removed from my previous team.

In my case this is a real shame because I was t

[2019-04-29 15:17] jrupp commented on #2751
This would vastly improve my efficiency when using this with large amount of return data.  Also, there is a bug report (#5659) that says some amount of sorting is happening automatically, just mentioning that here in case whatever bug is happening can actually help along this feature.

[2019-04-29 16:58] dhineshwiz commented on #6376
Hey @datazen I couldn't reproduce this issue, Can you recheck with variable values, and if it still persists, please do send us the published url, it will help us in debugging

[2019-04-29 16:59] loopDelicious opened #6385 "Add instructions or call to action to contribute to templates"
**Is your feature request related to a problem? Please describe.**
Currently, when I navigate to the Templates tab of the New+ modal, I am not aware what these "Templates" are, how it's different from the other "API Network" tab, and that I can also contribute a template of my own.

**Describe the solution you'd like**
Include copy that explains that these are community contributions, and hyperlin

[2019-04-29 19:04] loopDelicious commented on #6343
Same error occurs when trying to import template "Slack Weather Bot" or "Trending News".

[2019-04-29 20:31] shamasis commented on #2366
Hey, we are planning to take this up in near term. The way we are thinking of doing this is stop auto adding the header in UI and instead if no specific content-type header is added in UI then and only then automatically add this as temporary in-flight headers.

[2019-04-30 00:11] JP-from-Postman opened #6386 "Windows: app shortcut refers to AppData for different Windows user."
[Submitted by Postman Support, on behalf of user]

**Describe the bug**

_(Note: Postman native app is installed on a terminal server / RDS Host, running Windows Server 2012, in this example)_

When Postman app is installed, it writes into AppData for the active Windows user:
`C:\Users\<user1>\AppData\Local\Postman\app-7.0.7 `
When logging in as a different Windows user, the app shortcut refers to

[2019-04-30 01:18] ash007-postman opened #6387 "Getting error after clicking on teams (view team settings) from dashboard"
**Describe the bug**
Getting error after clicking on "your team/team settings " from the dashboard.
**To Reproduce**
Steps to reproduce the behavior:
1. Login to web dashboard
2. Click on "your team"->"team settings"
3. See error as attached below

**Expected behavior**
Clicking on "team settings" should show the team info.

**App information (please complete the following information):**
 - App T

[2019-04-30 02:31] codenirvana commented on #5847
Closing this issue as we can’t replicate this and we haven’t seen other users facing similar issues.

[2019-04-30 02:31] #5847 closed, assigned to codenirvana

[2019-04-30 03:47] Chris533 commented on #1669
Nice!

[2019-04-30 04:17] john-osullivan commented on #1669
Huge!! Very excited to help get my team onboarded once this is live 👍

On Mon, Apr 29, 2019, 23:47 Chris533 <notifications@github.com> wrote:

[2019-04-30 04:22] dashmug commented on #1669
It's Q2 2019! Yehey!

[2019-04-30 04:50] joelgetaction commented on #1669
@numaanashraf thanks for this!  I was delaying buying a team license for Postman because of its lack of GraphQL support but as soon as this is GA I will go ahead and buy!  :-)

[2019-04-30 05:23] wessenstam commented on #1667
Couldn't agree more with @fanreson. Reason I use it is simple due to an app that throws a lot off API calls and the 10 in the buffer is jjst to low. Having it "forwarded" to postman for deeper analyses makes life easier. Using the proxy is not working for now as the app uses certificates that are not easy to export/import...

[2019-04-30 05:31] ghost commented on #4824
@sivcan The issue was reported last year in July. The latest version 7.0.9 still has the issue.
Can we know expected resolution date?

[2019-04-30 06:18] dwiyatci commented on #1669
I better start learning GraphQL now 😂

[2019-04-30 07:17] ankurkumarnodejs opened #6388 "i am not geeting update option"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**App information (please complete the

[2019-04-30 07:53] mrdulin commented on #4117
+1

[2019-04-30 08:14] Ajay-Girolkar commented on #3547
Thanks. Solve my issue

[2019-04-30 08:45] mrdulin commented on #3480
same issue.

[2019-04-30 09:00] vinitshahdeo commented on #5585
I tried to reproduce **_(App version 7.0.9)_** this but I'm getting the correct code snippet.

<img width="1172" alt="Screenshot 2019-04-30 at 2 22 33 PM" src="https://user-images.githubusercontent.com/20594326/56950715-bf73b680-6b53-11e9-9961-2628bb5155c3.png">

<img width="721" alt="Screenshot 2019-04-30 at 2 25 50 PM" src="https://user-images.githubusercontent.com/20594326/56950870-19747c00-6b5

[2019-04-30 09:41] cyrielle-hada opened #6390 "Unable to access billing section in the dashboard - 'Something went wrong' error"
**Describe the bug**
Unable to access https://app.postman.co/billing. The page is loading forever and then throws the below error.
<img width="782" alt="Screen Shot 2019-04-30 at 3 00 21 PM" src="https://user-images.githubusercontent.com/47351631/56953637-eb337400-6b34-11e9-9f37-ef9829d63eb3.png">

**To Reproduce**
1. Go to https://app.postman.co/billing
2. See page loading
3. See error

**Expecte

[2019-04-30 10:18] Raj-postman opened #6391 "Chrome app displays "update to v7.0" for a non team user"
**Describe the bug**
When using the Chrome app, non-team user receives message "Your team updated to Postman v7.0. To access your team workspaces and collections, you must also update to v7.0".

**To Reproduce**
Steps to reproduce the behavior:
Open the Chrome App and you see the message

**Expected behavior**
The message shouldn't be displayed in the Chrome App, or for users who are not part of t

[2019-04-30 10:31] farzanmasood123 opened #6392 "No Sandbox to run live request within document generated by postman"
**Is your feature request related to a problem? Please describe.**
Its been a while now I am using Postman to generate beautiful API documentations. I faced a really bad problem when my team lead asked for a document that can get param values from the reader and they can execute it, just like try it out option in swagger or fields provided in APIDocs. For me Postman is the best tool as I have a go

[2019-04-30 10:41] kamalaknn commented on #6304
Hey @detectiveHLH

It looks like you have a window that is unreachable or too small. When you restart the app this default window is getting restored.

To unblock yourself immediately you can forcefully remove all windows by doing
1. Quit the app
2. Run `rm ~/Library/Application\ Support/Postman/window`
3. Restart the app.

We will also look into how we can improve the experience when restoring th

[2019-04-30 11:23] abhisekp commented on #3117
The editor may use [JSON5](https://json5.org/) to support comments in the json. :rocket:

**EDIT**: I tried to use code markdown in request description.

### In Postman (while editing)
**Code Highlighting**
![Code Highlighting](http://pix.toile-libre.org/upload/original/1556628926.png)

### In Postman (in view mode)
**No Code Highlight**
![No Code Highlight](http://pix.toile-libre.org/upload/origi

[2019-04-30 11:50] askaaqib commented on #5803
@lubainaz did u managed to solve the issue?

[2019-04-30 11:50] arunkal1 commented on #5803
No, unfortunately not

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Aqib Akhtar <notifications@github.com>
Sent: Tuesday, April 30, 2019 12:50:21 PM
To: postmanlabs/postman-app-support
Cc: Arun Kalwan; Mention
Subject: Re: [postmanlabs/postman-app-support] Enable Javascript in Response Preview (#5803)

@lubainaz<https://github.com/lubainaz> did u managed to sol

[2019-04-30 12:04] m1m6 commented on #2559
solved by re-enable the interceptor extension on chrome

[2019-04-30 12:34] sgoendoer opened #6394 "Header names are converted to lower case"
**Describe the bug**
When sending requests with (custom) HTTP headers, all (custom and non-custom) header names are converted to lower case!!! Applications that rely on case-sensitive values (and/or header names) hence cannot work with this.

**To Reproduce**
Steps to reproduce the behavior:
1. Start Postman app, create any request, add any case-sensitive header.
2. Send to server
3. Headers are r

[2019-04-30 13:11] tiaraju opened #6395 "Error when updating Environment variables through quick look"
**Describe the bug**
Whenever I'm trying to update an environment variable through the quick look option, the variable below the one I'm trying to update is actually updated.

**To Reproduce**
1. Create two variables in your environment (var1, var2)
2. Try to update var1 using the quick look edit option
3. Check that the value you wanted to update is now in var2, not in var1 as you tried to update

[2019-04-30 13:19] harryi3t commented on #6395
@tiaraju Thank you for raising this issue.
Do you have any variables that are disabled? We are already tracking [an issue](https://github.com/postmanlabs/postman-app-support/issues/6362) where this happens.

[2019-04-30 13:21] mccannt commented on #5585
@vinitshahdeo I am not able to replicate this now using 7.0.9.
However I have a team member using 7.0.7 and he was able to re-produce it using that a couple of weeks back.

I am not convinced that its resolved, there is a just a specific scenario that needs to happen I believe. These things never fix themselves and if they do .... RUN! :P

[2019-04-30 13:53] barcooverture commented on #3641
We would love that too !

Also when importing a collection (because we use newman), the path we could set manually in json is removed...

[2019-04-30 14:22] E1337Kat opened #6396 "Feature Request: List Headers added in pre-request scripts in UI as Temporary headers"
**Is your feature request related to a problem? Please describe.**
Thanks to the wonderful and amazing new feature to add and update headers at a collection level, I have started moving towards using that. I noticed however, that now I don't know what all my request headers are.

**Describe the solution you'd like**
I believe the best route to solve this would be to include the generated request h

[2019-04-30 14:37] cyrielle-hada opened #6397 "Cannot merge forked collection to original collection"
**Describe the bug**
When trying to merge forked collection to the original collection, it throws the error `Cannot merge changes`.

![スクリーンショット 2019-04-25 16 03 06](https://user-images.githubusercontent.com/47351631/56969935-09fa3080-6b5e-11e9-8161-3f78d9211b0b.png)

**To Reproduce**
Steps to reproduce the behavior:
1. Create a fork on an original collection A containing ~300 requests.
2. Apply c

[2019-04-30 14:44] hubeflo commented on #6377
@thesaxonedone
Did you check the value for "Request timeout in ms" in Postman under Settings->General?

Error "Could not get response" is what Postman will display in case the request timeout occurs.

[2019-04-30 15:13] lukaswelte commented on #3117
That is nice :)
But sadly not comparable to schema which contains information like type and if optional or not (and can be read by a machine instead of a human reading the comments)

[2019-04-30 15:28] Raj-postman commented on #5905
Application crashes when connecting to Proxy with Port:44395 with v7.09

[2019-04-30 15:41] loris commented on #3117
I also think that JSON comments is not the best solution.
Would be better to have a real JSON editor like Postman have for simple key/value dictionnary (headers, parameters, etc) but with added support for nesting and complex values.
Have a look at the plist editor from XCode :

![Screenshot 2019-04-30 at 17 39 14](https://user-images.githubusercontent.com/8362/56974436-22bf1200-6b6f-11e9-86c8-a9c

[2019-04-30 15:42] loopDelicious opened #6398 "Don't list deleted collections in Postman templates"
Currently if I try to import a template (that has been deleted) from the New+ button, I receive this error.

<img width="1482" alt="Screen Shot 2019-04-29 at 12 03 16 PM" src="https://user-images.githubusercontent.com/17693714/56974475-ca165780-6b23-11e9-9c31-7dd3391681e6.png">

Suggestion: don't list deleted collections in Postman templates

[2019-04-30 15:45] mikecousins commented on #3117
Is that for the request or the response or both? Also, I'm going to have to agree with the others that having a couple actual columns (type, optional, comment, etc) would be great.

[2019-04-30 15:56] loris commented on #3117
@mikecousins for the request, to be able to describe the JSON payload: description, default value, required or not etc
And have these information displayed in the API documentation of course

[2019-04-30 15:57] mikecousins commented on #3117
We need the response documented similarly as well or this is still useless.

[2019-04-30 16:05] bj97301 commented on #3117
@vkaegis Any update on this?  The without this the docs are near useless.  With this, the docs will be very useful.

[2019-04-30 16:15] a85 commented on #3117
Thank you for your feedback everyone. I’d love to hear some ideas on how to solve for response bodies of all kinds and not just JSON. We see APIs that return XML/plaintext/JSON along with different data models being used to build those data models. If everybody just used JSON then the world would be a simpler place and we could launch this feature asap.

[2019-04-30 16:19] mikecousins commented on #3117
JSON seems like what 95% of APIs use these days isn't it?

[2019-04-30 16:21] a85 commented on #3117
Our most popular blog post is for SOAP APIs. And well GraphQL APIs are different still.

[2019-04-30 16:22] mikecousins commented on #3117
SOAP makes me sad.

[2019-04-30 16:34] ymeunier opened #6399 "FEATURE REQUEST : Basic Authentication with variables"
Hi DevTeam
I wish I could perform an authentication from my variables (environment / global / collection).
do you think that is possible?

Best regards,
Yann

[2019-04-30 16:43] bj97301 commented on #3117
@a85 Start with the most popular one(json) and try not get overwhelmed by shittiness of soap and xml.  Not sure what the best solution is but a quick one would be to right click the field and be able to add a comment/description.  Or maybe support json5 with comments.  🤷🏿‍♂️

[2019-04-30 17:05] tiaraju commented on #6395
Hey @harryi3t

Sorry I didn't check it before. I don't actually have a disabled variable, but I do have an empty slot. So yeah, it's related to the issue you linked.
Sorry for the duplicate.

regards.

[2019-04-30 17:05] #6395 closed, assigned to nobody

[2019-04-30 17:57] RomuloVHSYS commented on #3117
@lukaswelte I agree with that, so i'm watching this issue #2847 too, both looks like different issues that can be solved with the same feature.

[2019-04-30 18:13] RomuloVHSYS commented on #3117
Recently i'm seeing how are the struct of the collections(the .json files), and i found the property `"disabled": true`, my first try to use optional parameters was disabling the parameters, so they don't get appended on the URL, but appear on private doc, but when published they don't appear anymore, so why not use the same `disable` property to show 'not required' parameters on the doc?

That wa

[2019-04-30 19:14] Geoff-Janrain commented on #5403
This is still happening in version 7.0.9

[2019-04-30 19:24] DrYSG commented on #4862
I am having the same issue with win10. When I try to save a request to a collection:

[code]

[2019-04-30 19:25] DrYSG commented on #4862
I tried running Postman as admin and it has the same error.

[2019-04-30 21:39] a85 commented on #3117
Everyone, this is part of a much larger initiative but we are introducing the ability to define APIs in Postman using schemas. You will be able to document schemas for both requests and responses using whatever format you typically use. Postman will then take this as another input in generating docs, building mocks, or adding tests. It looks like this:

<img width="1552" alt="Screenshot 2019-04-30

[2019-04-30 21:40] a85 commented on #843
Everyone, this is part of a much larger initiative but we are introducing the ability to define APIs in Postman using schemas. You will be able to document schemas for both requests and responses using whatever format you typically use. Postman will then take this as another input in generating docs, building mocks, or adding tests. It looks like this:

<img width="1552" alt="Screenshot 2019-04-30

[2019-04-30 21:41] a85 commented on #2617
Everyone, this is part of a much larger initiative but we are introducing the ability to define APIs in Postman using schemas. You will be able to document schemas for both requests and responses using whatever format you typically use. Postman will then take this as another input in generating docs, building mocks, or adding tests. It looks like this:

<img width="1552" alt="Screenshot 2019-04-30

[2019-04-30 22:51] robert-swail commented on #4401
Thank you @sujayvenaik that got the sync working for me.

I had also installed postman via snap

Cheers!
Bob

[2019-05-01 00:09] ggetv commented on #2701
+1

[2019-05-01 01:03] VinceBarresi opened #6400 "ReferenceError | console is not defined when using console.log"
**Describe the bug**
I'm trying to write a schema validation test using `ajv` and then doing a simple `console.log` and keep seeing `ReferenceError | console is not defined`.

**To Reproduce**
Steps to reproduce the behavior:
1. create a new collection
2. add a schema object as a prescript step `schema = { ${schema} }`
3. add the following code to the test

[code]
4. Add the url `https://www.msg.c

[2019-05-01 02:50] chrisdeso opened #6401 "Authentication - Enable a default authentication method when all others are turned off"
**Is your feature request related to a problem? Please describe.**
In the event that all authentication methods are turned off (SSO, Email/Password, Google Sign-in), teams are unable to sign in.

**Describe the solution you'd like**
Require that one authentication method be enabled (and working if SSO) by default.

Other ideas – Magic Link login!

**Additional context**
![image](https://user-image

[2019-05-01 03:25] thesaxonedone commented on #6377
Timeout is set sufficiently high.

[2019-05-01 04:24] Zjmainstay opened #6402 "The request response without IP is inconvenient"
**Is your feature request related to a problem? Please describe.**
When I change my host for a new IP , I can't sure whether postman changed or not.

**Describe the solution you'd like**
I hope the header for response can tell me which IP response my request now, just like the `Remote Address: xxx.xxx.xxx.xxx:80` in Chrome network headers show me.

**Additional context**
Just like this
[code]

[2019-05-01 04:57] edshadi commented on #1906
+1

[2019-05-01 06:47] abhisekp opened #6403 "Unable to join multiple teams"
**Describe the bug**
One of my team member is currently in another team and they're unable to join my team.  Please look into it. Also the other team's name has changed but in the error it is showing the old team name.

*Error:*
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Join team A
2. Invitation from team B
3. Error is shown

**Expected behavior**
A clear and concise description

[2019-05-01 07:04] abhijitkane commented on #6403
@abhisekp Joining multiple teams is currently not supported in Postman.

The user involved will need to leave the old team (https://go.postman.co/team) as indicated in the error message, or create a new user account to join your team.

We'll look into the old name being shown in the error message.

[2019-05-01 07:04] #6403 closed, assigned to nobody

[2019-05-01 14:18] qijia00 commented on #4551
@numaanashraf, performance issues are tracked in #1946, but I don't see any actions are taken...

[2019-05-01 14:27] fedcho commented on #2934
Same problem here 🙋‍♂️

[2019-05-01 14:54] mostwired opened #6404 "Responses with "image/jpeg" render image extremely slow (but download fast)"
I have an API that returns an image. It renders fast (< 2 sec), if I test URL in-browser. Postman shows the same Time taken for the request (e.g. Time: 1600ms) - however, it takes a while before it renders the response image (I'm talking 14-16 second delay). I'd expect Postman to render the image close to browser speed. See the images below (GIF animations are on replay). Note that the browser cac

[2019-05-01 15:27] shamasis commented on #6394
Tracking this already at https://github.com/postmanlabs/postman-app-support/issues/5372. This is something we are ourselves blocked on at a much lower level of our tech stack with an issue being discussed here (https://github.com/nodejs/node/issues/3591#issuecomment-256784252) 😞

[2019-05-01 15:27] #6394 closed, assigned to nobody

[2019-05-01 15:33] shamasis commented on #6396
Agreed. @postmanlabs/runtime we might need to start doing mutation tracking on HeaderList

[2019-05-01 15:36] shamasis commented on #6404
Yes, it is a limitation as of now. We do a lot of processing to move data around through various parts of Postman App to enable a number of scripting and debugging that a browser is not designed to do. Also, we do not render until full response is received (that is we do not stream response to the UI as it arrives and instead get it as a whole and then render.)

This is something we are aware and

[2019-05-01 15:39] #6404 closed, assigned to nobody

[2019-05-01 15:47] shamasis commented on #6402
Agree. We are working on this... not that far away. :-)

[2019-05-01 15:47] shamasis commented on #6401
That may be a security risk. We could look into login using email address -> "magic link" login.

[2019-05-01 15:50] shamasis commented on #6400
@VinceBarresi - there is a small quirk while using AJV. Can you try initialising AJV like the following?

[code]

[2019-05-01 15:52] shamasis commented on #6400
@postmanlabs/runtime - Let's create a small wrapper on AJV, which does this implicitly?

[2019-05-01 16:00] VinceBarresi commented on #6400
@shamasis Ok I added new initializing code```var Ajv = require('ajv'),
    ajv = new Ajv({logger: console}); // note how you're sending logger forcefully.``` to my test and am able to see logs without reference errors being thrown. Curious to know what the quirk is you're referencing and why this ajv needs to be initialized this way. Thanks for the help by the way. I was stuck on this for a while

[2019-05-01 16:07] AnkitMasand commented on #6085
We have verified and released our fix for this issue.
Team members will now receive summary mailers once they've opted in, even if they themselves haven't run any monitors during the relevant (daily, weekly) period.

[2019-05-01 16:07] #6085 closed, assigned to godfrzero

[2019-05-01 16:14] steveland83 commented on #3499
This would be great - but if its decided that automatically removing users is too extreme then just showing a "last active" date would give team admins at least some ability to find inactive users themselves and remove them.

[2019-05-01 16:22] chrisdeso commented on #6399
Hey @ymeunier, it's definitely possible. You can leverage the double curly brace notation i.e. `{{authToken}}` within the request builder's Headers/Parameters section to pass in any authentication information that's stored as a variable.

Here's an example:
![image](https://user-images.githubusercontent.com/4734306/57027752-de7d5180-6c02-11e9-96cf-5798c57509ba.png)

Here's some relevant documentat

[2019-05-01 16:22] mpatton7 commented on #4320
@jonlay thanks so much for getting back to me. Being somewhat a novice, I didn't realize it was as easy as using require! Thanks and lets hope we get a proper fix soon!

[2019-05-01 18:19] ChenLi0830 commented on #1070
Can't believe it's still not fixed yet after 3 years with so many requests for it... I mean, is it such a hard problem to solve? 🤕

[2019-05-01 18:40] Gambler13 commented on #2617
@a85
Sounds very interesting. Is this feature already published? I can't see it in v7.0.9

[2019-05-01 20:18] DodecaDev-LLC commented on #4171
This is the biggest thing holding me back on the desktop client. Up until recently I have gotten around it using the chrome plugin but that now won't sync with my desktop environment. It's a hassle. This absolutely needs to be fixed soon.

[2019-05-01 21:34] badikumar commented on #4823
This feature would be very useful at least to specify a specify path to a documentation. In our case:

docs.company.com/api/v1
docs.company.com/api/v2

etc...

[2019-05-01 21:56] brianstrauch commented on #5558
Same on Ubuntu 19

[2019-05-01 22:51] carolin-postman opened #6405 "[Feature Request] Ability to merge teams easily"
**Is your feature request related to a problem? Please describe.**
Looking for an easier way to merge 2 large teams (>50 each). Collaboration has been quite tricky when 2 teams are merging from different companies.

**Describe the solution you'd like**
Would like to see a seamless/automated way of doing so.

**Describe alternatives you've considered**
The existing workaround to this is to export d

[2019-05-02 03:28] shamasis commented on #6400
@VinceBarresi - The issue is outlined here https://github.com/epoberezkin/ajv/issues/950

But I am glad your issue was finally resolved. We will work on something that ensures this is better handled.