[2018-06-17 04:57] chiragpurohit71085 commented on #4713
I am able to login now. Thanks.

[2018-06-17 04:59] adan92 commented on #4713
Yes I am able to login now. :D Thanks.

[2018-06-17 10:20] ghost commented on #4660
@a85 the list of collections and environments can grow over time making it difficult to navigate among them. Having a project with dozens of different collections (over 1500 test cases at the moment) it may sometimes be useful to import them all for debugging and maintenance or import one-by-one or only a couple of them. So, cleaning postman fast is a great speed-up for work activities rather than

[2018-06-17 18:05] bogadopedro commented on #4636
I have the same situation. I have to rewrite the configuration every time

[2018-06-17 18:11] aking1012 opened #4714 "I may be the only one that needs this, but copy working from the response pane would be nice."
Consider the use case where you have an authenticator, and you're testing something for which you need an auth token.  Copy from the response pane being broken means you have to type everything and are subject to typos to paste it in to a curl whatever url or post body.

I frequently open a mousepad window to type the auth token, because copy from the response pane doesn't work and hand type a man

[2018-06-17 19:58] a85 commented on #4660
@zhak Have you tried using Workspaces? You can segment your collections or just create a new workspace when you want to create new collections.

[2018-06-18 02:47] #4713 closed, assigned to nobody

[2018-06-18 03:03] preethammavin commented on #4714
Hey @aking1012 , can you let me know which version of the App you are on. This seems to be working fine on our 6.1.3 version of the App, do update to the latest version and check if that fixes your issue.

[2018-06-18 04:22] aking1012 commented on #4714
I'm one patch behind, but on the linux side.  I'll update and see if it fixes.

[2018-06-18 04:56] palakpatel07 commented on #4637
@Ludim Thanks for reply.
It's works for me. Great :)

[2018-06-18 06:05] #4683 closed, assigned to harryi3t

[2018-06-18 06:08] harryi3t commented on #4708
@sebastian-hans-swm yes this is duplicate of https://github.com/postmanlabs/postman-app-support/issues/4581
The fix is available in our [canary build](https://www.getpostman.com/canary).
In production, it will be available as part of 6.2.0 release.

[2018-06-18 06:08] #4708 closed, assigned to nobody

[2018-06-18 06:25] harryi3t commented on #4581
@donnfelker I have reproduced this bug. Once the fix is available, will update the same thread.

[2018-06-18 07:10] harryi3t commented on #4684
@bhanupinninti It's not supported as of now. You can subscribe to the original issue for updates.

[2018-06-18 07:10] #4684 closed, assigned to harryi3t

[2018-06-18 08:05] asalhani commented on #4382
@SamvelRaja
I have the same version after I upgraded Postman to version 6.1.3.
When I open Postman app, the app window keeps flashing and nothing appears.
I tried to run it through cmd (with and without admin. priviliage) but same thing.
As per @SamvelRaja  suggestion, I switched to a single monitor mode, but it didn't work either.
Find log below:

![postman issue](https://user-images.githubuserco

[2018-06-18 08:26] sivcan commented on #4382
@asalhani @RickHough  Your issue seems to be similar to the one mentioned in https://github.com/postmanlabs/postman-app-support/issues/4594 . Can you try this as mentioned in the comment https://github.com/postmanlabs/postman-app-support/issues/4594#issuecomment-391601621

[2018-06-18 08:38] nguyenthinam commented on #1607
+1

[2018-06-18 08:49] sivcan commented on #4703
@szahn Postman native app is built on top of electron and that is based on chromium.
The issue lies with chromium and the support for your GPU.

The issue is not with the Postman app itself hence I'll be closing this ticket.

[2018-06-18 08:49] #4703 closed, assigned to nobody

[2018-06-18 09:51] pritesh-patil commented on #4631
+1

[2018-06-18 10:18] MadGhigno commented on #4079
+1

[2018-06-18 10:26] kunagpal commented on #4631
@pritesh-patil Please leave a 👍 on my first comment instead of posting +1 comments, keeps the thread clean 😄

[2018-06-18 10:34] sheerlox commented on #285
Yeah they are "working on something similar" since January 2017, they didn't provided any detail and I don't think we can expect this feature coming out soon.
Must admit I am disappointed by the response from Postman to the community engagement / requests.
I will mute this thread as it seems to be useless, please feel free to identify me if you need to.

[2018-06-18 12:01] velykov commented on #4221
WFT, in windows I got black screen after one minute of starting app

[2018-06-18 12:05] sivcan commented on #4221
@velykov Try this: https://github.com/postmanlabs/postman-app-support/issues/4703#issuecomment-397517447

[2018-06-18 13:06] harryi3t commented on #4710
Duplicate of https://github.com/postmanlabs/postman-app-support/issues/3592

[2018-06-18 13:06] #4710 closed, assigned to nobody

[2018-06-18 14:44] daviddelannoy commented on #2978
+1 waiting for this PR to get a Postman Pro licence, not really usable  for us without this feature

[2018-06-18 15:41] macalinao commented on #1669
plus one. Insomnia also doesn't support the header preset stuff which is useful for auth tokens in headers.

[2018-06-18 15:44] chrisron95 opened #4715 "Sync icon no longer shows anything other than color"
Please read through the [guidelines](https://github.com/postmanlabs/postman-app-support#guidelines-for-reporting-issues) before creating a new issue.

**Describe the bug**
Not a major issue by any means, but the sync icon no longer shows what's going on. It simply changes between orange and blue. It used to show "Syncing" either next to it or when it was highlighted (can't remember the exact place

[2018-06-18 17:17] grzegorzjudas commented on #4576
@SamvelRaja So you basically just ignored what everyone here wanted to have (and this issue is the essence of) and improved your "auto-update" solution that noone wants?

Great way to loose support, I guess.

By the way, `We still want to have Snap/Debian/Flatpack` option. I couldn't care less about better autoupdate.

[2018-06-18 17:24] a85 commented on #4576
@grzegorzjudas Unfortunately, I don't think we can support everything that everyone asks for. If you don't care about it, that's fine. I care more about our users rather than somebody who yells the loudest. If we were working only on whatever people would ask us to do, we wouldn't probably be building Postman.

[2018-06-18 17:25] a85 commented on #4576
And seriously, Linux needs to sort out it's shit around distributing apps. Until a while back, it was impossible to develop apps for Linux until Electron came around. Because there were a zillion ways to develop apps on it - which is why nobody bothered creating UI based apps for Linux. Now that you CAN actually develop on it, there are a zillion ways to distribute it.

[2018-06-18 17:27] a85 commented on #4576
@grzegorzjudas And yes, people do want an auto-update but they are separate from people who want Snap/Debian/Flatpack apps just because they happen to use Snap/Debian/Flatpack. Why not ask Snap/Debian/Flatpack to go and build those apps instead?

[2018-06-18 17:31] smeijer commented on #1669
@macalinao, I'm using auth tokens in headers just fine with Insomnia

[2018-06-18 18:39] FixMaestro commented on #4262
Having issues also. Using Process Explorer, while installing Postman, it churns up 7-8 threads, then after a bit, settles down to 4 running threads with a new thread being started and killed off about every second. I've been waiting over 5 mins and it's still starting/killing a 5th thread over and over. I'm using Win Svr 2012 R2 box inside VMWare Workstation to run this on

[2018-06-18 19:15] x80486 commented on #4576
I think you didn't get the point of having, for instance, a Flatpak or a Snap...like, at all. The auto-update capability is just the tip of the iceberg — at least for those two. Moreover, you went ahead and implemented your own (and custom) auto-update feature!

On the other hand, Linux is the precursor of many features and functionalities you see in other operating systems, so distributing apps i

[2018-06-18 20:09] mohitkanwar commented on #3255
Hi,
I am facing the same issue in 5.5.2 (latese version as of 19 Jun 2018)

[2018-06-18 20:40] publicvirtualvoid commented on #2931
Yes please! Why is this issue closed?

[2018-06-18 21:06] v-mwalk commented on #285
Guess after 5 years this (OP request) wont be done?

[2018-06-18 21:09] ilya40umov commented on #4576
@a85
`Until a while back, it was impossible to develop apps for Linux until Electron came around. Because there were a zillion ways to develop apps on it - which is why nobody bothered creating UI based apps for Linux.`

I don't see how having a zillion ways to develop apps can possible lead to people not bothering to develop them (e.g. you just choose the one you like and use it, like the guys wh

[2018-06-18 21:44] JohnTJohnston commented on #4374
Just tried reinstall again.  Worked this time.  No idea why.

[2018-06-18 22:05] preethammavin commented on #4576
With the auto update feature in the app we aim to solve aim to solve the issue where our users have to manually download our app from the website and update it. This was the problem which we wanted to solve the linux users community, as this affected all our linux users.

We understand that there are a lot of other solutions out there with other features, but it did not make sense for us right now

[2018-06-18 22:17] preethammavin commented on #3255
@mohitkanwar try using the native apps(6.1) as we have deprecated chrome apps, and let us know if the issue persists.

[2018-06-18 22:37] a85 commented on #4576
@ilya40umov I am not sure you completely understand the context of the original comment. On your suggestion for the Debian package as @preethammavin said, there are lots of solutions. This thread was created by @prashantagarwal who is an engineer at Postman to consolidate those issues and look at them holistically rather than take a call that ends up creating overhead and maintenance costs for the

[2018-06-19 05:00] velykov commented on #4221
I add system env variable for disable gpu and remove directories Postman in AppData (Local + Roaming) after this install, but my collections is empty now, i will try login again later

[2018-06-19 05:14] harryi3t commented on #4704
@JacobAMason Would it be possible to share a collection with us that can reproduce the issue?
Also, if you would like to mail us instead of posting publicly, you can send it to help@getpostman.com.
Please add github issue number in the subject.

[2018-06-19 05:16] asalhani commented on #4382
@sivcan @RickHough
I can confirm that [the environmental variable](https://github.com/postmanlabs/postman-app-support/issues/4594#issuecomment-391601621) is working in 6.1.3.
Thanks for the support :+1:

[2018-06-19 05:21] JacobAMason commented on #4704
https://raw.githubusercontent.com/vmware/vsphere-automation-sdk-rest/master/samples/postman/vSphere-Automation-Rest-API-Resources.postman.json

from

https://code.vmware.com/samples/2562/vsphere-automation-rest-api-postman-resources-and-samples

[2018-06-19 05:34] santhoshTpixler commented on #2331
I have tried[ Insomnia REST Client](https://github.com/getinsomnia/insomnia) which is capable of storing the file path in the form data. I assume both postman and insomnia are built with web technology and shipped as native applications. Why is it not possible in such a good app like the postman? It's been a long time since this feature was requested.

[2018-06-19 07:24] Eli-Goldberg commented on #4701
Same here.. Can't use the new postman version at all

[2018-06-19 07:25] SamvelRaja commented on #4701
@SparK-Cruz  @Eli-Goldberg  Can you try checking for any postman process running? If so, kill them all and restart the app.

[2018-06-19 07:42] ratpik commented on #4517
@ricardorlg - It is possible to satisfy your use case. Regex handling for certain use-cases is implicitly built into the request matching algorithm. So if you have a saved example with a path like `/api/user/1` and your request url at the time of testing happens to be `/api/user/345`, then that will match with `/api/user/1`. This behavior also extends to scenarios where the ids are detected to be

[2018-06-19 08:42] yeomann commented on #2366
+1 same problem in Mac version see the screenshot pls. I selected the content type from body tab.
<img width="842" alt="screen shot 2018-06-19 at 11 41 28" src="https://user-images.githubusercontent.com/5970751/41586553-bc244bf2-73b5-11e8-9252-6f714e52f13b.png">

[2018-06-19 09:12] p00j4 commented on #3592
Is there any actionable in progress on this? I also ran into the same https://github.com/postmanlabs/postman-app-support/issues/4710

[2018-06-19 09:17] sebcaps commented on #3137
In addition this workaround can hardly be set up in a continuous integration environment...
It would be a great thing to handle this.
My 2 cent's :
- add an option to newman (postman ?) to configure a folder path where ressource are stored
- in  test script just use filename
- during execution add path variable to filename.

[2018-06-19 10:04] Misiu commented on #1050
@bdawada Yes I got response (https://community.getpostman.com/t/calculate-hash-from-full-raw-request-body/1320/4)
This might get added but not as an official option.

[2018-06-19 10:12] Misiu commented on #1050
@kamalaknn thank You for update.
Currently I'm using my own C# app to test my API, but I'd like to create PostMan collection and share it with other developers (not everyone is using C#).

Custom authentication methods sounds interesting, but please remember that some of them require access to full request body (in my case I need to calculate hash from whole raw body)

[2018-06-19 10:50] sriram474 commented on #2627
I am also facing the same issue with the postman version 5.5.2 chrome plugin

[2018-06-19 10:57] dzottola commented on #3845
+1

[2018-06-19 11:17] dinamic commented on #3390
Guys, it's been almost a year since this issue was posted. Should this have been properly handled, you could have had an implementation half a year ago.

Please, raise the priority of this feature request!

[2018-06-19 11:18] vdcardenas commented on #4687
Me too when i try import a heavy colecction (more of 1000 request).

**Screenshots**
![captura](https://user-images.githubusercontent.com/18684822/41594014-3ff4856c-73c2-11e8-8aed-c1095a699190.PNG)

**App information (please complete the following information):**

- App Type : Windows Native App

- Postman Version: v6.1.3

- OS: Windows 10

**Additional context**

Inter Core i7-7600 CPU 2.80 Ghz
R

[2018-06-19 12:07] sivcan commented on #4702
@Scheevel

Can you tell us the following?
1. Are you using the native app/chrome app? What's the version?
2. The latest version of the native app as of now is v6.1.3, if you're not on the latest version then can you update to the same?

Also,
I tried to reproduce this but couldn't.
Here's what I see:
![image](https://user-images.githubusercontent.com/12631777/41596188-22f143fe-73e7-11e8-8329-a4269

[2018-06-19 12:24] sivcan commented on #4706
@dbkaynor
1. What is the app version that you're using? Can you make sure you're on the latest version (v6.1.3 as of now)
2. Can you provide the steps to reproduce this issue?

[2018-06-19 12:30] laixun commented on #4387
This happened to me after upgrade postman native app from 5.5.0 to 6.1.3, all my collections and environment configs are gone!

Windows
native app 5.5.0 to 6.1.3

[2018-06-19 12:47] sivcan commented on #4715
@chrisron95 Surely, we'll add some other indication.

Just to help you out for now:
Orange Icon - The app is in sync with the server
Blue Icon - The app is syncing the data currently

[2018-06-19 12:51] bobatron commented on #2851
+1

[2018-06-19 12:51] bobatron commented on #2819
+1

[2018-06-19 13:05] sivcan commented on #4688
@lunicorn-x64
I understand that there should've been a visible error and there's no indication of that in the app/postman console and I'll mark that as an issue.

However, for now, you can open the DevTools (View > Developer > Show DevTools (Current View))

And you'll see the following error that your script has timed out:
![image](https://user-images.githubusercontent.com/12631777/41598977-670c96

[2018-06-19 13:23] SamvelRaja commented on #4387
@laixun  I would recommend you to follow the instruction from [here](https://community.getpostman.com/t/upgraded-to-6-0-7/1097
).

[2018-06-19 14:07] jdavey1996 opened #4716 "Postman documentation examples don't show response headers"
Postman documentation examples show only the response body. Not any response headers. This is useless for requests which return header data and status codes, but no response body.

[2018-06-19 14:14] Qualaelay opened #4717 "lock requests"
**Is your feature request related to a problem? Please describe.**
It's frustrating when by mistake you change a request that was working fine, which might happen a lot in investigation phases. As you may share collections (never did), a colleague might also do this.

**Describe the solution you'd like**
A locking mechanism for requests, you lock them and they would be read only

[2018-06-19 14:30] ursandy72 commented on #3574
I am also facing same issue. This issue is still there on postman v6.1.3

[2018-06-19 15:31] dbkaynor commented on #4706
Postman for Windows
Version 6.1.3
win32 10.0.16299 / x64

[2018-06-19 15:45] techpeace opened #4718 "Variables used in POST requests not properly being substituted in request body"
**Describe the bug**
I am opening an issue that is the same as that described in #2627, as that bug has still been present for over a year but was closed.

When variables are included in JSON request bodies, they aren't being properly transformed into the correct data type: for example, strings aren't quoted. If I have a variable that is meant to be a string, then it needs to be enclosed in quotat

[2018-06-19 15:52] Qualaelay commented on #4717
Just noticed that there is a tab notification for changed items, so you can revert back to the previous state by closing the request and not saving...

[2018-06-19 15:52] #4717 closed, assigned to nobody

[2018-06-19 16:18] SiriusED commented on #3312
+1

[2018-06-19 16:47] tiloc commented on #2523
+1 On my deployment of Azure I need to add the "Ocp-Apim-Subscription-Key" to the transmitted headers when requesting an OAuth2.0 token. Need the possibility to add this to the token request.

[2018-06-19 17:31] kxm187 commented on #3631
I think my issue is also related, and I think this is related to the enforcement of the Subject Alternative Name.  Details for further investigation:

When I attempt to use the Postman Windows application to make an HTTP-GET (or POST) to certain sites, I get the "Could not get any response" message, and Postman Console shows "Error: tunneling socket could not be established, statuscode=302".   How

[2018-06-19 19:12] chrisron95 opened #4719 "Postman back to freezing while duplicating large collections"
Please read through the [guidelines](https://github.com/postmanlabs/postman-app-support#guidelines-for-reporting-issues) before creating a new issue.

**Describe the bug**
A clear and concise description of what the bug is.
When duplicating large collections (say, 125 requests-ish), postman completely halts for a significant amount of time while it syncs. This was an issue a while ago but was fixe

[2018-06-19 19:31] chrisron95 commented on #4719
#3987 is the original issue

[2018-06-19 19:52] lukasz-gosiewski commented on #4642
Same on ArchLinux. Even after deleting config, reinstalling the app. Sudo also not working.

[2018-06-20 03:50] lovek323 opened #4720 "Sync reconnecting frequently"
Please read through the [guidelines](https://github.com/postmanlabs/postman-app-support#guidelines-for-reporting-issues) before creating a new issue.

**Describe the bug**
I'm getting the "You seem to be offline" and then the "Trying to reconnect" messages frequently, then I'm given the "Resolve Sync Conflicts" window, which I resolve and then click "Resync" but the changes are not appearing on th

[2018-06-20 04:01] lovek323 commented on #4720
Update: I managed to get sync working again by signing out (and losing my local changes) and signing back in.

[2018-06-20 04:16] AustinAmoruso commented on #2724
Yes please

[2018-06-20 06:24] JorisInsign commented on #2790
Hi,

I'm interested with this feature too, but in postman gui too.
For example, I have an API that return part of the response "stringified".
Example of response :
[code]
To preview my API, I wanted to be able to see (in the gui ;) beautified !) this response with body entry "parsed".

Thansk for your help,

[2018-06-20 07:18] bryannliu commented on #3999
I have the same issue Version 6.1.3 (6.1.3)  MacOS Sierra 10.12.6 (16G1408).

[2018-06-20 07:29] ma-schmidt-de commented on #4581
@harryi3t
Can you give a hint when release 6.2.0 will be available?

[2018-06-20 07:41] rvdgeest commented on #4699
I have the same issue.
App type: Native App
Postman Version 6.1.3
OS: Windows7

![image](https://user-images.githubusercontent.com/40421783/41644370-20f8bd02-746e-11e8-8b8c-afafdc5ee889.png)

[2018-06-20 07:49] gagangupt16 commented on #4103
Hi @madebysid,
Not sure if environment variables are a good idea.
As the name suggests, it is a variable for the environment, not a request.

Also,
Assuming that I have 10 different API.
In an API, there are 5 entities which can be manipulated.

There would be 50 environment variables all at the same place, which would create confusion instead of clarifying it.

We should have request specific var

[2018-06-20 08:50] ghost commented on #2392
+1

[2018-06-20 09:04] harryi3t commented on #4718
Put the variable in quotes.
[code]

[2018-06-20 09:20] harryi3t commented on #4704
@JacobAMason
After taking a look at the collection I found that the basic auth is present only in one request.
Other requests do not have this auth. You need to add the same auth to whichever request you want to use. Alternatively, you can change the collection level auth to use the basic auth. All request can just inherit the auth definition from the parent collection

![postman](https://user-ima

[2018-06-20 09:20] #4704 closed, assigned to harryi3t

[2018-06-20 11:27] wyudong commented on #2476
My `etc/hosts` is like the following. Requesting `.dev` will get response much faster than `.local`. That only happen on postman native app not chrome extension. I can now switch to the native app.

[code]

[2018-06-20 11:33] thecodemill commented on #2476
It's a bit of a pain to maintain, but I've started doing this in `/etc/hosts` to allow `.local` sites to load without the 5000ms Bonjour lookup:

[code]

[2018-06-20 13:27] philsturgeon commented on #3390
Seeing as this process is import only (that's not ideal but lets save that for another place) the import process could very easily be based around [swagger2openapi](https://github.com/Mermade/swagger2openapi), which will convert OpenAPI v2 to v3.

If you build your code to support v3 only and convert up from v2, you'll have everything covered. Honestly Swagger 1.x is so out of date there's not muc

[2018-06-20 14:18] vfedorin opened #4721 "Postman app crashes when using ES6"
OS: MacOS High Sierra 10.13.5
Native App version: 6.1.3

**Describe the bug**
App closes unexpectedly when using ES6 code in Test script.

Instead of using the following Test script:
[code]

I want to use the following ES6

[code]

**Actual behavior**
When I send the request App closes unexpectedly.

[2018-06-20 14:43] venriq commented on #4715
I'm using Postman `v6.1.3`, and the syncing process hasn't been working for a few days. I tried everything:

- clicking on the sync button (it's always blue)
- logout and login again
- restarting the app
- reinstalling the app

But the sync never happens. Am I missing something?

[2018-06-20 14:51] numaanashraf commented on #4721
Thanks for reporting this @vfedorin. Postman Native apps support ES6 (we currently use Node v8.2.1 within the app to run your test and pre-request scripts). It seems `pm.response.to.have.*` assertions API don't support destructured usage at the moment and is causing a crash in your script which is in-turn crashing the app. This is a bug and we are working on fixing this.

[2018-06-20 14:55] JacobAMason commented on #4704
Is there a reason this collection worked in 6.0.10?

[2018-06-20 15:21] sivcan commented on #4715
@venriq Can you mail us the logs to help@getpostman.com ?

Both of the following:
1. View > Developer > Show DevTools (Current View)
2. View > Developer > Show DevTools (Shared View)

[2018-06-20 15:26] techpeace commented on #4718
Oh, nice! Yes indeed, that works. It didn't when I originally encountered the issue, and I failed to try that again before I reported.

Thanks!

[2018-06-20 15:26] #4718 closed, assigned to harryi3t

[2018-06-20 15:27] techpeace commented on #2627
As mentioned in #4718, you can now enclose the variables in quotes:

[code]

[2018-06-20 16:18] venriq commented on #4715
Hi @sivcan
After re-login one more time, the syncing feature worked again for a few minutes (the sync icon was orange), then it went blue and I had to restart the app to be able to sync back.
I sent the email with the Current and Shared View logs.

[2018-06-20 16:50] jkon commented on #3006
I am currently testing an expensive api that I need to use for an app I am working on. During the free trial of the api, I have been trying to collect as much sample data as possible so I can build my solution before I start paying a ton of money for the api. I used a runner to run through the same call with 15 different inputs for a single parameter. I didn't realize before running it that I woul

[2018-06-20 18:39] adityavikasd commented on #2729
+1

[2018-06-20 18:47] joelfogue commented on #2392
+1

Here's a temp workaround while we wait for this feature to get implemented:

Assuming the collection runs alphabetically, here's how I solved this:
Let's say you have a collection "_**collection_x**_" with 4 api calls _**A, B, C and D**_
Since the collection will get executed alphabetically, in that order: _**a,b,c,d**_ then we can do the following:

**_From B, add a setNextRequest("D") to SKI

[2018-06-20 18:50] vreelb commented on #3874
Is there any update on this? The proxy workaround given above isn't an acceptable solution for what I need to do.

[2018-06-20 19:04] jsclark commented on #4352
I would request that this be reopened.

This bug occurs when the last row in the CSV ends with a windows line-break (CR-LF).  If I change it to a unix line-break (LF), it's fine, or if there's no line-break for the last row it's fine.

I would argue that a csv that ends with a line-break is perfectly valid, and should be supported.
e.g.
[code]

Furthermore, this is the default format that Excel 20

[2018-06-20 19:05] sonichanxiao commented on #1137
I tried in v6.1.3, doesn't work with SharePoint 2010 hosted Web API services for a GET action, always return 401, have provided domain\username and password

[2018-06-20 19:20] evil-c commented on #2801
+1

[2018-06-20 19:20] Wenzhi commented on #2801
+1

[2018-06-20 19:38] dexterlohnes commented on #6682
+1

Any news on this?

[2018-06-20 23:30] gabeluci commented on #3816
So is this going to be looked at? I just ran into this today.

But I agree with oliverjank: let's ignore the '=' sign "issue" (whether it is an issue or not) since that's not in the scope of the original purpose of this issue.

[2018-06-21 06:12] sivcan commented on #4715
Hey @venriq, we released a canary build which aims to fix this issue.
Can you try it out and let us know whether it fixes the issue for you?

Download it here: https://www.getpostman.com/canary

[2018-06-21 06:19] Eli-Goldberg commented on #4701
@SamvelRaja
rm -rf ~/.config/Postman and killing all open Postman processes did the trick.
Thanks guys

[2018-06-21 06:21] SamvelRaja commented on #4701
⚠️ @Eli-Goldberg  I would suggest not to do the `rm -rf ~/.config/Postman`  this will delete all your existing data.
Kindly try only killing postman process alone if it happens again.

[2018-06-21 06:52] jonaswagner commented on #6682
+1

[2018-06-21 07:32] sunjayaali commented on #4712
temporary workround, just hit f11 for full screen,

[2018-06-21 08:54] prashantagarwal commented on #4712
Hey guys we have released the fix on our canary apps. You can download it from https://www.getpostman.com/canary

[2018-06-21 09:28] sgornostal commented on #1104
+1

[2018-06-21 09:32] Sofianio commented on #1678
2 years & still nothing, I'm a bit disapointed :/

[2018-06-21 09:35] theholiday commented on #1678
Meanwhile I use the following code to count the number of objects in the array that's the response:
[code]

[2018-06-21 09:38] Sofianio commented on #1678
Using tests requires adding the script and customizing it to every Request then checking the count in a different tab ... which isn't fun :/

[2018-06-21 09:40] theholiday commented on #1678
Sure, but a workaround still.

[2018-06-21 10:54] ltnilaysahu opened #4722 "APIs not getting saved in history."
Cant find the apis in the history before a certain time.

[2018-06-21 11:59] aldegoeij commented on #2934
+1
auth0 API debugging is impossible without audience field, adding it to the URL does not work sadly

[2018-06-21 12:35] ghost commented on #4364
Is there already a new status for this problem?

[2018-06-21 12:40] Kesmekes commented on #3706
+1

[2018-06-21 12:50] ShaneCal commented on #1475
+1

[2018-06-21 12:55] Fixbruenix commented on #3104
Same problem occurs on Windows with version 6.1.3.

[2018-06-21 13:56] sivcan commented on #4722
@ltnilaysahu Yes, there's a limit after which the history is removed.
This is an intended behavior.

[2018-06-21 13:56] #4722 closed, assigned to nobody

[2018-06-21 14:51] a85 commented on #4570
Folks. Check out the RFC on sessions here: https://community.getpostman.com/t/sessions-in-postman/1925

[2018-06-21 15:17] gabokr opened #4723 "Collection name renaming is not synchronised with web"
Please read through the [guidelines](https://github.com/postmanlabs/postman-app-support#guidelines-for-reporting-issues) before creating a new issue.

**Describe the bug**
I created a collection in postman for Mac. I changed the name later, but the old name is shown in the web view. The collection however gets synchronised. I can see new requests, even the description that I changed was reflected

[2018-06-21 15:20] ltnilaysahu commented on #4722
what is the limit?? And is there any reason behind this intended behavior?

[2018-06-21 15:26] k-dahl commented on #4463
This bug is making it hard to keep things organized, any update on fixing it?

[2018-06-21 17:00] suihanki commented on #4449
~~@sankalp0o is there anything currently on the roadmap related to this? or still in early/design phases?~~

nm I see the [RFC](https://community.getpostman.com/t/sessions-in-postman/1925) around sessions!

[2018-06-21 17:34] mmoreira2000 commented on #711
Nope.

[2018-06-21 18:17] tmdude9586 commented on #4157
I would also really like something like this. It would be great to be able to either attach custom functions to the 'pm' instance, or just declare javascript funcs/variables in the "test" script section for a collection, and still have reference to them in the request's "test" script section, so that there can be reuse of common testing code.

For the time being I use global variables, and put a s

[2018-06-21 19:30] Madsim commented on #4502
I just encountered this myself. Because my POST request contains files as part of a form-data body and I duplicated it for my other requests, all my tests were failing in newman.

[2018-06-21 19:55] jaguevara1978 opened #4724 "Suggestion"
Hello, congratulations!...POSTMAN is great!!!

We just realized that it would be nice to have COMMENTS for each environmental variable. We use a lot of variables and it would be nice to have that feature. Just adding a field with a "Description/Comment" about the variable would do the job.

Regards

[2018-06-21 22:20] querylife commented on #2296
I'm using Postman for Chrome version 5.5.2, OAuth2 Authorization, I do not see the "Client Authentication" drop-down in the "Get New Access Token" dialog box. Instead, I see the following fields in the dialog box: Callback URL, Token Name, Auth URL, Access Token URL, Client ID, Client Secret, Scope, Grant Type and a checkbox for "Request access token locally". Is there another way of specifying to

[2018-06-21 22:28] pcockwell commented on #2691
Currently trying to version control Postman collections in git while also differentiating environment strictly by branch in git. Current Postman Github integration only does backup to github, rather than allowing full versioning by branch/env/etc. Really need some for of CLI based exporting and importing so that we can complete the following workflow:
- Pull git repo
- Change to relevant environme

[2018-06-21 22:55] tinghf commented on #798
just wonder is there any update on this? like timeline?

[2018-06-22 03:02] cosmini commented on #2847
I'm surprised that this doesn't exists.
How can I document optional variables or params other than creating an example endpoint for each one of them and overloading my documentation.

[2018-06-22 03:30] a85 commented on #2847
You can use parameter level descriptions to indicate whether they are required or optional in the docs. You can also use request level descriptions to document other metadata.

[2018-06-22 03:42] sameerrajimwale commented on #3127
@zabbarob Thanks!  I had the same issue!

[2018-06-22 04:01] cosmini commented on #2847
@a85 This what I do at the moment and if I feel like something is too confusing I'm saving another example request with appropriate description.

  I would be nice if they can provide an article or document to guide us on how to better use their app in such cases.

[2018-06-22 05:07] neerajdwiv opened #4725 "UI Issue : 1. Not able to see all the options provided to choose request type. 2. Not able to see save button to save request."
## App Details:
Postman for Windows
Version 6.1.3
win32 10.0.14393 / x64

## Issue Report:
 1. These issues are always been there.
A). Not able to choose different request options provided with drop down list. They are not visible to me and there is no scrollbar provided to scroll up/down to see all options as well no way provided to choose these options using up/down arrow keys.
B). Can not able

[2018-06-22 05:18] a85 commented on #2847
Agreed. Working on making this better along with documentation and best practices. Will update the thread when we have something new. :)

[2018-06-22 06:42] shivamconan commented on #3171
+1

[2018-06-22 06:51] sivcan commented on #4724
@jaguevara1978 Hi, this is a duplicate of https://github.com/postmanlabs/postman-app-support/issues/4030
Kindly follow that thread for any updates regarding the requested feature.

[2018-06-22 06:51] #4724 closed, assigned to nobody

[2018-06-22 06:58] sivcan commented on #4725
@neerajdwiv Thanks for reporting this.

For issue:
A). We've released a canary build with the fix. You can take a look at this thread https://github.com/postmanlabs/postman-app-support/issues/4712

B). We've fixed this internally and will update this thread when the fix is out.

[2018-06-22 07:10] sivcan commented on #4696
@ivok Thanks for reporting this issue.
I was able to reproduce this.
We'll look into this issue and update the thread once the fix is out.

[2018-06-22 07:17] tpopov94 commented on #4262
I have the same issue with latest version of Postman on Mac OS X 10.13.3. It took around ~5 minutes to start which is unbearable.

[2018-06-22 07:34] mparaz commented on #2678
Is it possible to support the `window.crypto` available in Chrome? https://developer.mozilla.org/en-US/docs/Web/API/SubtleCrypto

I need to make HMAC-SHA-512 signatures that are compatible with Python, similar to: https://stackoverflow.com/questions/48430211/python-hmac-to-cryptojs

I see that CryptoJS does not make compatible signatures, but SubtleCrypto does.

[2018-06-22 08:38] WurstCommander commented on #4562
Any news on this? can't use Postman anymore.

[2018-06-22 08:41] WurstCommander commented on #4642
Same under Windows as well, I'm stuck on the splash screen.

[2018-06-22 09:51] yavgel commented on #4588
The issue still exists!!!!
Version 6.1.3 (6.1.3) - the latest one on for Mac OS
@harryi3t - Why did you close it?
at least update you `docs`.

[2018-06-22 10:03] TehWardy opened #4726 "Improve SSL verification experience for localhost and self-signed certificates"
I recently had to do a clean install of my OS (new machine build).
I have reported this bug in the past and it still hasn't been resolved but for some reason you guys keep closing the ticket as resolved.

So here we go again ...

**My environment setup**
1.  Clean install of windows 10.
2. Apply all updates to the OS.
3. Clean install of VS 2017 (download ISO as part of this from visualstudio.com)

[2018-06-22 10:39] oauger commented on #3942
Thanks @nrobert 💌 You saved my day.

[2018-06-22 12:17] washeck opened #4727 "Allow customization of bearer token"
I need to work with application which uses authorization with a bearer token but the value of Authorization header is not "Bearer ..." but "Token ...".

Postman "Bearer Token" would be perfect for my needs but it has hardcoded the string "Bearer " added before the token value. I think it should be possible to customize the whole header as not all APIs respect the bearer convention. Or it would mak

[2018-06-22 12:38] harryi3t commented on #2296
@querylife This is available only on our native apps. You can download them from https://www.getpostman.com/apps

[2018-06-22 12:41] Kriz1881 opened #4728 "AssertionError - Displaying the response body after using .response.text()).to.include cause issues"
## App Details:
Postman for Windows
Version 6.1.3
win32 6.1.7601 / x64

## Issue Report:
 1. Did you encounter this recently, or has this bug always been there: Recently
 2. Expected behavior: Postman is not printing all of the response when using pm.expect(pm.response.text()).to.include assertions. In the native app one failure can take all the available space in the response test results. Also w

[2018-06-22 12:41] harryi3t commented on #1137
@sonichanxiao This might be related to the issue https://github.com/postmanlabs/postman-app-support/issues/4711

[2018-06-22 12:45] harryi3t commented on #4704
No, it should not work in 6.0.10 too.
If you can share a minimal collection with 1 request that works with 6.0.10 and not with the latest version, it will help us to validate and fix the issue.

[2018-06-22 16:29] ltnilaysahu commented on #4722
????

[2018-06-22 16:40] dasre21 commented on #4382
[-1529685306363.log](https://github.com/postmanlabs/postman-app-support/files/2128451/-1529685306363.log)
[-1529685332068.log](https://github.com/postmanlabs/postman-app-support/files/2128452/-1529685332068.log)
Postman is not launching in my laptop. Any solution?

[2018-06-22 20:11] gmarti28 opened #4729 "Please support redis client inside sandbox, or any plain tcp library"
## App Details:

[code]

## Issue Report:
 1. Did you encounter this recently, or has this bug always been there:
n/a
 2. Expected behaviour:
I'd like to be able to query or set redis keys from within my pre-request or test script. It would be nice if some redis-cli js library would be added to postman sandbox, or, some other library allowing to establish a plain TCP connection to send plain redis

[2018-06-22 21:17] leblancexplores commented on #2489
Postman is the new Firefox :(

[2018-06-22 21:57] ju40268 commented on #1130
I ran into this problems as well! I know the test results could be exported manually by clicking the button on the GUI, but I would like run the integration tests at some specific frequency and get the raw test result stored somewhere. Is it now implemented to exported the test result somewhere automatically? Thanks!

[2018-06-23 07:28] darron1217 commented on #4727
It seems duplicate of #4044

[2018-06-23 11:05] JonathanCrossland opened #4730 "Slack integration on a per collection and per workspace"
When you add an integration to a workspace it appears only in that workspace. Ie. If you go to another workspace it does not appear. However the integration is pushing from all workspaces.
This is a bug. Either it should appear across all workspaces and push all activity from all workspaces or it should push on a per workspace basis.

However I think it should be on a per collection basis as its l

[2018-06-23 13:00] pvdev commented on #3789
Hi,
Just wondering if there has been any progress here. I'd be interested in this solution also.  There does seem to have been strides with node.js and pkcs11. My hope would be an interface similar to FireFox where you can attach to a PKCS11 interface and thus pick up any hardware crypto.  HSPD-12 and CAC included.

Thanks!

[2018-06-23 13:55] dheerajopensource commented on #2833
its a real nightmare...switching to advance rest...bye bye Postman

[2018-06-23 13:56] MaxRev-Dev commented on #2689
![image](https://user-images.githubusercontent.com/24393967/41810398-4213e0ee-7706-11e8-86ed-cb3de9170aab.png)
+1 Same issue. Postman handles decoding only in chrome app

[2018-06-24 00:33] a85 commented on #285
Everyone,

Thank you for your patience with the issue. Your feedback (especially use cases) helps a lot. We build almost our entire roadmap based on user feedback so please keep the feedback coming. I know sometimes it might look like that an issue is not being worked upon but at one time we are working across hundreds of feature requests + improvements with a relatively small team of engineers (C

[2018-06-24 05:08] preethammavin commented on #4559
@uvarajkrishna  is the issue still persistent on the latest version of the app?

[2018-06-24 06:34] udidol commented on #2517
I second this, we also have problems with it

[2018-06-24 09:13] ntrpnr commented on #4646
I had a similar issue. Unable to create or modify anything in Postman on Windows after signing in to my account. Canary version solved the issue.

[2018-06-24 15:03] Anupam2303 commented on #4588
Yes Issue still exist on mc os

[2018-06-24 15:31] larryfinkelstein commented on #3555
This is one of the constraints preventing us from fully adopting postman.

[2018-06-24 18:09] vanbukin commented on #4444
+1

[2018-06-25 05:10] uvarajkrishna commented on #4559
@preethammavin The issue still persists. I checked with version 6.1.3

[2018-06-25 07:04] jacquesvoogt commented on #4128
I closed POSTMAN and reopened it again a couple of times to no avail.
Made a copy of the postman folders under local and roaming.
Tried deleting the cache to no avail
Deleted the Postman directory under Local and Roaming. Postman created a new one under Roaming still not working.
I then restored the postman folder under roaming from my backup. Still not working.

Then closed a few other apps to fr

[2018-06-25 10:16] harleydk commented on #4262
Same issue here on Windows 8.1. Blinking, threading, menu working though no functionality available. Version 6.1.3, win 64.

Have no GPU, running HP probook with integrated graphics (if any).
Added the environment-variable described in #4594.
Then went to C:\Users\<myuser>\AppData\Local\Postman\app-6.1.3, right-clicked Postman.exe and set to Windows Vista compatibility. Now it starts up OK. Not su

[2018-06-25 10:28] p00j4 commented on #2836
https://www.getpostman.com/docs/v6/postman/scripts/postman_sandbox

**Request/response related properties**

Trying to access a GET parameter but it returns `undefined`

[code]
Any clues?

[2018-06-25 11:27] ghost commented on #4660
@a85 several people are working on Postman automation scripts and all collections and environments are stored in a bitbucket repository, so need to re-import collections from time to time. Workspaces don't seem to be helpful with this

[2018-06-25 11:32] Gnatarajamani opened #4731 "Post method got struck in status 403 forbidden"
Please read through the [guidelines](https://github.com/postmanlabs/postman-app-support#guidelines-for-reporting-issues) before creating a new issue.

**Describe the bug**

Post method got struck in status 403 forbidden
![image](https://user-images.githubusercontent.com/40566715/41847956-80e9585a-7899-11e8-9aa2-6421b9a33501.png)

[2018-06-25 13:18] schellem opened #4732 "Environment Variable Quick look does not show the current variable"
I have a a 'local' environment variable defined but when I click the eye, 'Environment quick look', button it does not show the variable defined, see attachment. I can click edit and it opens the current environment variable in the list for editing and after this the 'eye' lists variables as expected.

Closing Postman and reopening does not reproduce but I have seen this multiple times now and am

[2018-06-25 13:23] f95johansson commented on #6682
+1

[2018-06-25 14:09] visweshwar commented on #4581
@donnfelker  is right, the expiry date is still an issue which is preventing the cookie from being chained into the next request.

@harryi3t  is there a way we can get our hands on a previous stable build?

[2018-06-25 14:28] matthiasbe commented on #3331
Hi,
It appears to work fine for me on Windows 10, using @sify21 method.
I added two files : one containing my image, the other is a JSON file containing the json data I want to send along.

![image](https://user-images.githubusercontent.com/9254232/41856079-79f56b06-7894-11e8-87ce-c67b49f6158d.png)

The corresponding Spring endpoint looks like this :
[code]

[2018-06-25 15:23] ivanyukio commented on #1228
+1

[2018-06-25 17:12] molpe opened #4733 "Add Java and C# to supported languages in documentation feature"
Having some extra languages in documentation feature would make our APIs easier to use and integrate. So enabling extra-languages would be great, specially since some of them are already present for generating code snippets in desktop app, like Java or C#.

Thanks and keep the good work.

[2018-06-25 17:45] amberream commented on #3331
I am using the (new?) ARC chrome app instead of PostMan to get around this issue.  It works fine on Windows with ARC!

[2018-06-25 18:08] ntopulos commented on #2490
For those who like me stumble upon this thread searching how to upload files alongside complex json data, there is actually a solution.

1. Use the `form-data` tab.
2. For the file choose the `file` format.
2. For your JSON arrays choose the `text` format and use the following structure for your keys `arrayname[keyname]`.

![](https://user-images.githubusercontent.com/11980109/34472248-60814848-ef

[2018-06-25 18:15] edwinboy0312 commented on #3171
+1 . is there any update on this ?

[2018-06-25 20:58] DiegoRBaquero commented on #3934
Any update on this? Is super annoying.

[2018-06-25 21:07] rulatir commented on #4701
But rm -rf ~/.config/Postman will also delete my entire collection of painstakingly crafted requests, right? Is there a way to salvage those?

[2018-06-25 21:45] SparK-Cruz commented on #4701
I did kill -9 it, as it's the only way to try again.
Deleting the configuration folder didn't change a thing.
I'll wait for the next release, using firefox restclient extension for now (which sucks by the way).

[2018-06-25 22:22] trogdor259 commented on #4701
Just use [PostmanCanary](https://www.getpostman.com/canary), I've been using it since the issue started with no problems at all. No need to delete any settings or anything.

[2018-06-26 00:17] radauto commented on #3173
@mverma-va - could you please help , i get  below error while running my scripts after last changes you have mentioned.
schema | JSONError: Unexpected token u in JSON at position 0

pm.test("schema", function()
{
    pm.expect(tv4.validate(pm.response.json(), JSON.parse(pm.environment.get('schema')), false, true),tv4.error).to.be.true;
  })

[2018-06-26 00:24] moroine commented on #4359
On my side I did

[code]

[2018-06-26 04:02] JacobAMason commented on #4704
That'll be a bit difficult without having something backing the API. I don't suppose you happen to have a spare vSphere cluster sitting around?

[2018-06-26 07:03] guel135 opened #4734 "Use european servers for european user. Allow to choose region."
Many of our clients request that all their information is hosted on European servers. Will be possible to add a feature in order to choose you datacenter or allow European users to be hosted in Ireland, Frankfurt or Paris datacenters?

I would like to have an option to select our datacenter zone.

[2018-06-26 07:11] ChristianRich commented on #350
+1

[2018-06-26 07:56] baszczewski commented on #3749
For all interested people, Flatpak package is ready:
https://flathub.org/apps/details/com.getpostman.Postman
https://github.com/flathub/com.getpostman.Postman

[2018-06-26 08:03] ghisvail commented on #3749
A word of caution: this `flatpak` is not officially endorsed by upstream Postman, and will be purely community maintained (same as Slack or Skype is currently). I have already put that disclaimer explicitly in the app's description but I'd rather repeat it here.

Testing, feedback and PR's for the `flatpak` packaging are warmly welcome.

[2018-06-26 09:29] #4580 closed, assigned to dhineshwiz

[2018-06-26 09:32] #4582 closed, assigned to harryi3t

[2018-06-26 12:24] radauto commented on #3173
@rmlira - could you please help , i get below error while running my scripts after last changes you have mentioned.
schema | JSONError: Unexpected token u in JSON at position 0

pm.test("schema", function()
{
pm.expect(tv4.validate(pm.response.json(), JSON.parse(pm.environment.get('schema')), false, true),tv4.error).to.be.true;
})

[2018-06-26 13:20] egpotter commented on #4644
So, to anyone seeing this afterward, the sny started working again. I actually did nothing and keeps using the same app, and 22 days later it worked. I really have no idea why. I tried login of/logging in again multiple times, reinstalling the app. The only real solution was to wait 22 days.

[2018-06-26 13:50] smokedlinq commented on #3816
This also affects queries where we are trying to pass in the query "fields=values(Status)" and it's encoding the parens and it should not be.

[2018-06-26 14:35] Scheevel commented on #4702
Thanks for your response.  I am using the following version.  I will update this week and see if the issue is resolved with the most recent version.
Postman for Chrome
Version 5.5.3
win / x86-64
Chrome 67.0.3396.87

[2018-06-26 14:43] mverma-va commented on #3173
@radauto not really sure, maybe you are missing some quotes or braces like "{" in your schema json object

[2018-06-26 14:45] ValiDraganescu commented on #1235
+1

[2018-06-26 14:47] Jastrzebowski opened #4735 "Failed to import from link because of self signed cert"
**Describe the bug**
I'm trying to import a Swagger JSON from link, the file is served using self-signed cert.

**To Reproduce**
Steps to reproduce the behavior:
1. Click on Import button
2. Click on Import from Link tab in the dialog
3. Pass url in the input
4. Click import button in the dialog
5. Nothing happens

**Expected behavior**
Allow importing if user disabled `SSL certificate verificatio

[2018-06-26 14:51] radauto commented on #3173
@mverma-va  Thanks for your immediate response , i did some changes and now i get
schema | AssertionError: ValidationError: Invalid type: array (expected object): expected false to be true

1. Defined schema in pre request script
2.my test has
pm.test("schema", function() {
    pm.expect(tv4.validate(pm.response.json(), pm.environment.get("SCHEMA"), false, true), tv4.error).to.be.true;
})

if i se

[2018-06-26 15:17] mverma-va commented on #3173
@radauto you can use these two tools to 1.create and 2.validate your schema.
1. https://jsonschema.net/#/editor
2. https://www.jsonschemavalidator.net/

[2018-06-26 16:00] elgplayer commented on #3874
Ping. I also want an update if this will actually be happening or not. Chrome interceptor is so much better than the proxy.

[2018-06-26 16:45] tudorgeorgescu commented on #4603
well, the wildcard (*) is not allowed by Chrome... so the pre-flight check
fails

On Wed, Jun 13, 2018 at 4:48 PM Pratik <notifications@github.com> wrote:

[2018-06-26 16:57] tudorgeorgescu commented on #4603
@atpik that's the problem it "should" set the domain to the one you write in the
example (like yourdomain.com), but it actually always sends (*), so the browser will reject it

On Wed, Jun 13, 2018 at 4:48 PM Pratik <notifications@github.com> wrote:

[2018-06-26 19:04] dbkaynor commented on #4176
I am using version 6.1.3 When is the fix for this problem going to be released? I makes my development difficult and a fix would be appreciated.

[2018-06-26 19:41] bencami22 commented on #697
+1

[2018-06-26 20:10] science695 commented on #4525
I would also be very interested in a feature like this. I use global variables and environment variables, but often routes have parameters that have a set of valid responses and it would be nice to share a route to my team with param=[hardtospelloption1,hardtospelloption12,hardtospelloption123,hardtospelloption1234,...] and be able to select from the list which parameter to send in the request.

I

[2018-06-26 20:18] stramel commented on #697
@joaovpmamede @sh3raawii and anyone else like myself who wanted this issue to allow sending of collection requests, please go over to this issue and give it a 👍

**GO HERE:** https://github.com/postmanlabs/postman-app-support/issues/4193

[2018-06-26 20:23] sivcan commented on #4702
@Scheevel The Postman Chrome app has been deprecated.

I highly recommend using the [Native App](https://www.getpostman.com/apps)
Kindly download the same and update this issue ticket if you're facing it in the native app or not.
Thanks.

[2018-06-26 20:26] lrtanner commented on #4485
👍  on this. This is a serious issue

[2018-06-26 20:26] sivcan commented on #4731
@Gnatarajamani
We need the following information from you:
Provide us with the info regarding what postman app you're using?
Also, the steps to reproduce this issue on our end.

[2018-06-26 20:28] sivcan commented on #4734
@guel135 We'll look into it and get back to you with some information.

[2018-06-26 20:33] sivcan commented on #4733
@molpe Thanks for the suggestion.
I'll mark this as a feature request.

[2018-06-26 20:36] sivcan commented on #4732
@schellem Thanks for reporting this.
We apologize for the inconvenience caused.
We're aware of this issue and have fixed this internally.

It happens once you restart the app, you've to manually select the environment again from the dropdown and then it'll work as expected.

I'll update this thread once the fix is released.

[2018-06-26 20:39] sivcan commented on #4728
@Kriz1881 We'll look into this and get back to you.

[2018-06-26 20:43] science695 commented on #2865
This exists now.

You can make a url:

And "mode" appears in the params editor for you to fill in nice and easy.

[2018-06-26 20:47] radauto commented on #3173
@mverma-va  Thank you. i have corrected and its working fine.
but ,  my console shows as
Schema Validation | AssertionError: expected false to be true , when my schema is not matching response which is correct.

But is there a way , we can get actual Variable which is wrong as per schema ?

[2018-06-26 20:51] science695 commented on #4726
Could there at least be a page like chrome with the option to override security warning and let this request go through?

[2018-06-26 22:06] mmothers commented on #4360
This issue occurred for the first time on my PC
- Postman: v6.1.3
- MS Win 10 enterprise / x64
- I updated to 6.1.3 last week.  Nothing changed today other than this error.

I'm getting similar to history but for environment instead.   Whenever I open postman app, I get the sync error.  Clicking sync button does nothing.  Tried syncing w local or server selected. same thing.  I ran a collection te

[2018-06-27 01:11] dbodow opened #4736 "Mac desktop app does not associate me with a team even though web UI does"
**Describe the bug**
In the Mac desktop app, I get a "You don't have a team!" alert when trying to inspect my team / look at a team workspace. However, I clearly am associated with a team when using the web UI.

My colleague also reproduced this bug by restarting Postman on his machine and we're both locked out of team workspaces on our desktop apps.

**To Reproduce**
Steps to reproduce the behavi

[2018-06-27 01:30] ykhodos commented on #4193
+1 Need ability to call a Postman request from a Pre-request Script, for example to initialize variables or set up the system before the test  execution.

[2018-06-27 04:48] sumadhuram456 commented on #4654
Hi, I have updated to latest version 6.1.4. Still this issue exist.

[2018-06-27 07:28] harryi3t commented on #4581
Postman 6.1.4 is out with the fix for this bug 🎉

[2018-06-27 07:28] #4581 closed, assigned to harryi3t

[2018-06-27 09:31] connorsadlervelo opened #4737 "Import a collection with a tab open - tab doesn't refresh"
**Describe the bug**
When you import a collection and have a tab open with a request from that collection, the contents of the tab are not updated to show the request you just imported

**To Reproduce**
Steps to reproduce the behavior:
1. Create a collection with a request and a test script saying "// hello world"
2. Export the collection to a .json file
3. Open the request in postman so you now h

[2018-06-27 09:40] jarad-yadallee commented on #2801
+1

[2018-06-27 10:06] preethammavin commented on #4593
@Zephyr1990 Can you check if you are in Sync and you are on the latest version of the App.
I am not able to reproduce it. If it still exists do let us know.

[2018-06-27 10:09] preethammavin commented on #4596
@PierreProdel can you update to the latest version of the App and check if the issue still persists?

[2018-06-27 10:18] sivcan commented on #4599
@rvs1974 Hey, apologies for the delayed response.
As of now, you cannot point to a data file while running a collection.
However, the only way out is to use the collection runner along with the use of a data file and set the data for iterations accordingly.
In the iterations data, you can specify the variables as you've specified in your issue report.

Is there anything else I can assist you with?

[2018-06-27 10:23] sivcan commented on #4599
@rvs1974 I'll mark this as a feature request and we'll take a look into it.

[2018-06-27 10:25] preethammavin commented on #4603
@tudorgeorgescu Thats odd, can you give us a screenshot of the error so that we can look into it?

[2018-06-27 12:02] bluppfisk commented on #3382
Issue still present in Postman 6.1.4 today ):

[2018-06-27 14:46] radauto opened #4738 "tv4.validate still returns null (=success)."
Please read through the [guidelines](https://github.com/postmanlabs/postman-app-support#guidelines-for-reporting-issues) before creating a new issue.

Iam trying to Validate my complete Schema in postman using tv4 , tv4 does not work for checking NULL Value .
But my TV4 for datatype validation works fine

**To Reproduce**
Steps to reproduce the behavior:
1. Created pre-request
Below is tests
try
{

[2018-06-27 15:03] SamvelRaja commented on #4735
Thanks for raising your concern,

I am not sure that we should link the `SSL Certificate verification` settings should affect this behavior, but we will update the thread on our decisions regarding this feature.

[2018-06-27 15:13] aronnebrivio commented on #4179
I think I'm having the same problem. Calling the endpoint via Paw works fine, but not with Postman.
@Geolim4 did you solved this?

[2018-06-27 15:14] djdmbrwsk commented on #4680
@harryi3t note you don't have to save for this bug to occur

[2018-06-27 15:26] Jastrzebowski commented on #4735
As the `SSL Certificate verification` setting is part of the general tab I would expect it to affect any connection 😎

[2018-06-27 15:30] SamvelRaja commented on #4736
@dbodow Could you send few details from your app to help[at]getpostman[dot]com from your registered email address.
Run the following script in View -> Developer -> Show DevTools(Current View)

[code]

[2018-06-27 15:37] SamvelRaja commented on #4737
@connorsadlervelo  We hope that this is the intended behavior we expect.
When you mentioned the word import, this means the whole collection and request are been replaced with the new set of requests. But the request which was opened in the tab was the snapshot of the older request you opened.

Kindly let me know if am missing any edge case you have in your mind.

I am closing this now. Feel free

[2018-06-27 15:37] #4737 closed, assigned to nobody

[2018-06-27 15:45] connorsadlervelo commented on #4737
I understand what import means and what it does.
That is odd behaviour IMHO, but if you're happy with it then I'll leave it with you.

[2018-06-27 15:52] SamvelRaja commented on #4738
@radauto  We use tv4 [1.3.0](https://github.com/postmanlabs/postman-sandbox/blob/develop/package.json#L78).  that is the latest version.  Can you provide me more details on the version you are using?

[2018-06-27 15:56] basovnik opened #4739 "Add support for proxy settings per collection"
It would be nice to support proxy settings per collection. We might have only some collections which need proxy.

[2018-06-27 16:32] radauto commented on #4738
@harryi3t @SamvelRaja ---- Thank you very much for immediate reponse.   Attached the screen shot on my tv4 versions.  and i dont see where can  i find my versions. Please help.

And can i also get *.min file for tv4 ?

![tv4](https://user-images.githubusercontent.com/40583649/41992742-e9e4b900-7a0e-11e8-9153-11c3f99a679c.gif)

[2018-06-27 16:46] radauto opened #4740 "Azure database to Postman connection"
Hello Team , Is there a way we can connect to Azure cosmos DB from postman and get data ?
Any documentation / links will be helpful.

[2018-06-27 17:30] dbodow commented on #4736
Looks like the issue was that our subscription just ended; my colleague renewed and the issue seems to be resolved.

I'm not quite sure what the UI looks like from an account admin perspective, but you really should consider making the issue clearer to users with delinquent accounts. In the screenshot above, the 'You do not have a team!' message is really inaccurate. I would expect to see a messag

[2018-06-27 18:37] dhanotra opened #4741 "Failed to import a collection in postman"
Getting an error on importing a collection "Failed to import collection <***>"
Even though that collection is not exist in my postman workspace, I still get the below message
then I click either Replace/ Import as Copy and then error shows on top.
A collection <***> already exists.
What would you like to do?

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Import'
2. provide a link
3.

[2018-06-27 18:55] alaeddineG commented on #2392
+1

[2018-06-27 19:46] TehWardy commented on #4726
actually i would just rather that a self signed localhost cert be allowed ... this is after all a testing tool so you'd expect developers to use it on their localhost instances.

Instead this basicall says that by default every dev on their local machine has installed and uses (when hitting F5 from VS) a fully properly issued SSL cert ... which is madness.

[2018-06-27 20:54] furick1 commented on #3566
+1

[2018-06-27 21:28] snowe2010 commented on #4290
I don't understand why you would be solving this with RBAC. this solution really just needs a third way to set variables. `postman.setPersonalVariable()`. You can get to the rest of the issues later. This will solve the majority of peoples' issues immediately. Yes pretty much everyone wants immutable Environments, because that makes sense, but this is a simpler solution that can be implemented imm

[2018-06-27 21:44] bmesin commented on #4290
@harryi3t RBAC is wrong way of handling this. It will add extra complexity where it is not needed and prolong fixing this with no real benefit. You guys will have to write new tutorials, solve a bunch of new issues on roles management and permissions ... not worth it in my opinion.
This should be a clean fix. KISS.

[2018-06-27 22:18] nagarajatantry commented on #3103
@harryi3t I am in similar situation.  Temporary tokens are generated  automatically and my .aws/credentials file get updated.  If postman can read the values from this file location by default based on profile. it would save a bunch of time.

[2018-06-27 22:22] a85 commented on #4290
There are two separate issues discussed here: one is about working concurrently on personal values  separately in a team context and then the ability is to edit the environment itself. We are introducing the notion of sessions to help with the former. More details here: https://community.getpostman.com/t/sessions-in-postman/1925

[2018-06-27 22:23] a85 commented on #4290
RBAC Is going to be a more generic system applicable to not just environments but other resources like collections, workspaces etc.

[2018-06-27 23:02] furick1 commented on #3566
Using latest native postman on windows (v6.1.4) and mac, pass proxy basic auth by doing the following.

1) Enter your proxy auth uname/pwd in the authorization section and click preview request which should copy the base64 version of the login to a header var.
2) Copy that base64 value into a new header key called "Proxy-Authorization"
3) Go back into authorization and either clear the values or c

[2018-06-28 02:31] RobynLiu commented on #1180
+1

[2018-06-28 04:11] steven-yates commented on #3684
I would really appreciate this feature as well :)

[2018-06-28 04:49] mlambley opened #4742 "Client Secret is not part of oAuth2 Implicit Grant Type"
**Describe the bug**
When entering details for an implicit grant type in OAuth 2.0, the system asks for client secret. However, client secret is not part of the implicit grant type.

**To Reproduce**
1. With a request selected, click on Authorization
2. Select Type: OAuth 2.0
3. Click Get New Access Token
4. Select Grant Type: Implicit
5. See that the system asks for Client Secret

**Expected beha

[2018-06-28 05:51] frainmeng commented on #2729
+1

[2018-06-28 06:56] prashantagarwal commented on #2545
@rogercodes1  Can you update to the latest Postman app and check if the issue still persists.

[2018-06-28 07:01] #3813 closed, assigned to prashantagarwal

[2018-06-28 07:13] gauravgenius commented on #4167
@thecuriousdev Facing same issue,
I've installed "Postman-win64-6.1.4-Setup", experiencing exactly same behavior, which @ajalgaonkar mentioned earlier, quoting

[2018-06-28 07:14] sivcan commented on #4742
@mlambley Thanks for reporting this. We'll update this thread once a fix is out.

[2018-06-28 07:16] #4106 closed, assigned to SamvelRaja

[2018-06-28 07:28] preethammavin commented on #4174
Hey thanks for reporting the issue, we will be fixing it in our future releases.

[2018-06-28 07:43] akun2014 commented on #3874
Chrome interceptor is so useful. we need it!

[2018-06-28 07:46] numaanashraf commented on #4739
Thanks for the suggestion @basovnik. We'll take this into consideration while we improve our support for proxies.

[2018-06-28 08:00] #4712 closed, assigned to prashantagarwal

[2018-06-28 08:02] pkgajulapalli opened #4743 "Prettify JSON in request body"
It would be good if prettifying JSON (or xml, html) data in request body.

[2018-06-28 08:04] Montago opened #4744 "UI: Only one scrollbar"
When the response from an API is very long, it's very annoying to have 2 scrollbars.

please just let the response window expand the whole UI in such a way that the main scrollbar also works for the response window !

Scroll-windows inside scroll-windows is a UI no-go !

[2018-06-28 08:04] numaanashraf commented on #4731
@Gnatarajamani This seems to be related to your specific API and server implementation. Postman seems to have received a 403 response from the server. You can access the raw request and response for this call via the Postman Console (Menu > View > Show Postman Console).

[2018-06-28 08:07] numaanashraf commented on #4723
@gabokr thanks for reporting. We are looking into this. In the meantime, could you verify whether you are repeatedly seeing this issue by renaming the collection once more?

[2018-06-28 08:08] numaanashraf commented on #4744
Thanks for the suggestion @Montago. I've forwarded the feedback to the right folks.

[2018-06-28 08:11] numaanashraf commented on #4743
@pkgajulapalli Thanks for reaching out. There is an undocumented keyboard shortcut (Cmd+B for Mac or Ctrl+B for Windows/Linux) to do this while you are focused on the Request Body Editor. We are working on adding a prominent UI option to do this.

[2018-06-28 08:12] numaanashraf commented on #4741
Thanks for reporting this @dhanotra. We are looking into this.

[2018-06-28 08:14] numaanashraf commented on #4700
Thanks for the suggestion @jameshd. I've passed along the feedback to the right folks.

[2018-06-28 08:15] pkgajulapalli commented on #4743
@numaanashraf Thanks for the quick reply.

[2018-06-28 08:19] thecuriousdev commented on #4741
@dhanotra we fixed this issue. And its available in our latest version of canary.

[2018-06-28 08:30] bah-sa opened #4745 "Memory Leak"
Postman v.6.1.3, 6.1.4

After a long manual test run, memory usage is significantly increased and the response time of the user interface is noticeably increased.

[2018-06-28 08:34] preethammavin commented on #4217
@PVGrad The issue is fixed on our latest build on the native apps, can you update and verify if the issue persists.

[2018-06-28 08:56] #4385 closed, assigned to harryi3t

[2018-06-28 08:59] RickHough commented on #798
One solution might be to have your developers load the data to the application under test from csv, then expose that data via an end point. You can then load that as Global Variables using an initialisation script. Not pretty of course but it works.

[2018-06-28 09:09] SamvelRaja commented on #4745
@bah-sa could you help us by providing more information?
_Long manual test,_
   Do you have more tabs opened during the process?

_memory usage is significantly increased and the response time of the user interface is noticeably increased._
   Could you provide us the information on the memory usage it holds when you feel the lag in response time? A screenshot of memory usage monitor would be usef

[2018-06-28 09:15] harryi3t commented on #4738
@radauto Can you share a mock endpoint with some response and a sample schema to reproduce the issue? You can remove any sensitive information.

[2018-06-28 09:15] preethammavin commented on #4337
Hey @cawoodm thanks for the feedback, we will look into how to make this experience better

In the meantime you can use Find in the App (CMD + Shift + F) which lets you search and filter for specific entity

[2018-06-28 09:16] vremennyi commented on #2790
+1 for this feature
Insomnia has JSONPath response filtering... but they have no header presets)

[2018-06-28 09:17] #4337 closed, assigned to vkaegis

[2018-06-28 09:17] vkaegis commented on #4736
@dbodow Thanks for catching this! Looks like we missed adding a few states for delinquent teams. We'll be rolling out a fix for this in the coming versions. Stay tuned!

[2018-06-28 09:20] preethammavin commented on #4326
We have pushed out Sync improvements both on the App and our services. Do update to the latest version and let us know if the issue still persists.

[2018-06-28 09:31] allientneko opened #4746 "Extracting binary data from response and chaining requests"
**Is your feature request related to a problem? Please describe.**
I am writing a test script using postman right now.
Workflow:
1. Get a dynamic generated binary data file from a API
2. Send the file back to the API using form-data. The binary data is attached as a file type.

I want to write an automatic e2e test for this case.
I tried to chain these two requests together.
I am struggling on how

[2018-06-28 09:32] preethammavin commented on #4313
Hi,
This issue should be fixed in the latest version of the app, can you update and verify if its fixed?

[2018-06-28 09:41] thecuriousdev commented on #4694
@samvirkar144 we made a fix for this, and its available in the latest version of Postman (6.1.4+). Please verify it once from your end.

Closing this ticket for now but feel free to reopen this if you find any further issues.

[2018-06-28 09:41] #4694 closed, assigned to thecuriousdev

[2018-06-28 09:44] thecuriousdev commented on #4678
@DylanC this issue if fixed in Postman 6.1.4, please update to the latest version.

Closing this issue for now, but feel free to reopen this if you are facing any further issues.

[2018-06-28 09:44] #4678 closed, assigned to thecuriousdev

[2018-06-28 09:47] DylanC commented on #4678
@thecuriousdev - Seems to be working in 6.1.4 but I will let you know if this issue happens again.

[2018-06-28 09:49] thecuriousdev commented on #4678
@DylanC happy to hear that :) thanks!

[2018-06-28 09:51] thecuriousdev commented on #4662
@robertkuhar I am assuming your problem is fixed. Closing this for now, feel free to reopen this if you are facing any trouble.

[2018-06-28 09:51] #4662 closed, assigned to thecuriousdev

[2018-06-28 09:54] thecuriousdev commented on #4545
@jgroom33 we fixed this issue in the latest version of Postman Canary. Please verify it once from your end.

Closing this issue for now, feel free to reopen this if you are facing the same issue.

[2018-06-28 09:54] #4545 closed, assigned to thecuriousdev

[2018-06-28 10:02] vkaegis commented on #4744
@Montago Thanks for the feedback! We're working on some improvements to the tab structure which will allow users to treat contents in the tab as panes. So your request area and response area will then become it's own individual panes with it's own scroll bar.

While I realize that this is quite the opposite of what you're suggesting, we're hoping that this along with the ability to collapse indivi

[2018-06-28 10:06] numaanashraf commented on #4746
Thanks for the suggestion @allientneko.

[2018-06-28 10:23] numaanashraf commented on #4740
Thanks for writing in. There seems to be resources available where folks have tried this out. I'ld recommend this specific one - https://azure.microsoft.com/en-in/resources/videos/using-rest-with-documentdb/. However, the best place for help on specific APIs are on the API providers forums or on the Postman Community - https://community.getpostman.com/

Related links:
https://stackoverflow.com/que

[2018-06-28 10:23] #4740 closed, assigned to numaanashraf

[2018-06-28 10:30] sankalp0o commented on #4324
Thanks for the suggestion @dbkaynor. We'll consider adding some indication as to which request is running.

[2018-06-28 10:42] bah-sa commented on #4745
Hello!Yes, about a hundred requests sent and as many tabs was opened when UI starts to lag. Closing all tabs decrease memory usage but not completely, and after a short number of requests UI starts to lag again.Screenshots in attachment. Sincerely,S.A.Bakhmutov  28.06.2018, 12:10, "SamvelRaja" <notifications@github.com>:@bah-sa could you help us by providing more information?Long manual test,Do yo

[2018-06-28 11:17] thecuriousdev commented on #4061
Closing this issue for now, Feel free to reopen this issue if you are facing this issue in our latest version.

[2018-06-28 11:17] #4061 closed, assigned to nobody

[2018-06-28 11:20] thecuriousdev commented on #3962
Closing this issue for now, feel free to reopen if are facing any issues.

[2018-06-28 11:20] #3962 closed, assigned to thecuriousdev

[2018-06-28 11:33] preethammavin commented on #4306
Hi,
Thanks for the feedback, we will look at how to make the experience better.

[2018-06-28 11:36] preethammavin commented on #4304
Hi @andreypolyak , thanks for the feedback. We are looking into how we can improve the discoverability of the collections, adding this as a feature request.

[2018-06-28 11:41] preethammavin commented on #4270
Hey @ThiagoDaher , thanks for the feedback. Will add this as a feature request for us track.

[2018-06-28 11:48] SamvelRaja commented on #4745
@bah-sa  Thanks for your feedback, we understand your concern, we shall look at this issue and will keep posted in this thread on the progress.

[2018-06-28 12:11] preethammavin commented on #4269
Hey, can you give us an idea about the request you are trying to send. If it contains sensitive information please do mask it.

[2018-06-28 12:12] preethammavin commented on #4268
Hi @mtatrung , thanks for the feedback we will look at how to solve this problem. Will add it as a feature request for now.

[2018-06-28 12:15] DaDude commented on #2256
My guess is it's related to old graphics drivers or hardware.
My console on an old i5-3330 with intel hd graphics 2500 (which doesn't get driver updates anymore afaik) get's flooded with gles-Errors like this:
`[14360:0628/140113.099:ERROR:gles2_cmd_decoder.cc(9709)] [.DisplayCompositor-000
00045D444E370]RENDER WARNING: texture bound to texture unit 0 is not renderable.
 It maybe non-power-of-2 an

[2018-06-28 12:22] preethammavin commented on #4387
Hi,
If you still have the issue please follow the link pointed to by @SamvelRaja and write to us at help@getpostman.com.

I am closing this issue for now, but do feel free to open it if the issue still persists.

[2018-06-28 12:22] #4387 closed, assigned to SamvelRaja

[2018-06-28 12:28] preethammavin commented on #4388
@mr-newell agree that this is tedious, the reason why we do this is ensure if there any changes on the requests tabs we do not close the tabs and loose users data.

But you do have a valuable feedback, we will look at how we can address this in a better way.

[2018-06-28 12:52] radauto commented on #4738
@harryi3t  Thanks for your reply.

This is my tests
try
{
pm.test('Schema Validation', function()
{
    var result1 =tv4.validateResult(JSON.parse(responseBody), schema);
    var result=tv4.validate(JSON.parse(responseBody), schema);
    if(!result1.valid)
    {
       // tests["Value is wrong " + JSON.stringify(result)]=false;
       tests["Value is wrong " + tv4.error.schemaPath + " " +result1]=

[2018-06-28 12:56] tlair123 opened #4747 "Collection runner goes blank on 6.1.4"
When I open collection runner, the screen shows about 10 seconds and then go blank.
when I close and reopen it, it starts blank.

My software just upgraded itself to 6.1.4.
On 6.1.3 it would take a minute to load, but then be stable.  I preferred slow and stable to fast and unstable.

I had this on postman itself, but I found 4595 and followed the instructions to add a variable.

[2018-06-28 12:58] prashanth-nani commented on #724
+1, Agreed! It is very common to have resource ids in the URI.

[2018-06-28 13:33] preethammavin commented on #4389
@Mihai1706 that is weird, this should not happen. Do update to the latest version of the app, we work on continuously improving our product.

If the issue occurs again, do send any error logs as that would help us to identify the core of the issue.

[2018-06-28 13:36] preethammavin commented on #4418
@thetreythomas I can see how it can become unmanageable , thank you for the feedback. We will look into how we can look at making this experience better.

[2018-06-28 14:11] amitbpal commented on #4296
@sivcan I am facing the same problem.

My postman version is -6.1.4 (6.1.4)
Please help me out.

[2018-06-28 14:29] kamalaknn commented on #3895
@trev This should be fixed in the latest release. Could you update your app and check if it works?

[2018-06-28 14:29] #3895 closed, assigned to kamalaknn

[2018-06-28 14:36] SamvelRaja commented on #4382
@dasre21  From the logs, we suspect that the initial load of data from the DB was corrupted.
If you are already logged in user, I request you to delete the  PostmanData.
Linux: ~/.config/Postman
OSX - ~/Library/Application \Support/Postman
Windows: c:\users\[USER]\AppData\Roaming\Postman

⚠️  This will delete your existing local postman data from your machine.

[2018-06-28 14:37] SamvelRaja commented on #4382
@OsamaNabih  This issue still persists in our 6.1.4 app? Kindly confirm it.

[2018-06-28 14:41] SkyGanfor commented on #4296
@amitbpal I was just having the same issue. I updated postman, did a postman reboot, and that solved it for me.

EDIT: The issue happened to me again. A reboot of postman seems to have solved it temporarily.

[2018-06-28 14:45] stianlagstad commented on #3390
@philsturgeon My problem (and many others here) is that I have an openapi v3 specification file that I want to import to Postman. I have not found any good tools to convert from openapi v3 -> openapi v2 / swagger.

[APImatic Transformer](https://apimatic.io/transformer) did not work the last time I tried it, but I do see that it is able to convert from openapi v3 -> swagger v2 now. Importing the r

[2018-06-28 14:52] SamvelRaja commented on #2256
All, I would recommend you guys to try the solution provided [here ](https://github.com/postmanlabs/postman-app-support/issues/4594#issuecomment-391601621)to resolve this. We figured out that on certain GPU's the app is not rendering.

[2018-06-28 14:58] dinamic commented on #3390
Thanks for the workaround, @philsturgeon! I had no clue a tool like APImatic Transformer existed.

It is a workaround, thou.

I would love it if Postman, as a modern tool for testing APIs, embrace a modern standard for documenting APIs. Feels like the right thing do expect, right?

[2018-06-28 15:02] SamvelRaja commented on #3195
According to this [RFC](https://tools.ietf.org/html/rfc822#section-3.1) HTTP Headers should not have CRLF
Hence closing the issue.

[2018-06-28 15:02] #3195 closed, assigned to SamvelRaja

[2018-06-28 15:06] harryi3t commented on #4139
Duplicate of https://github.com/postmanlabs/postman-app-support/issues/3942

[2018-06-28 15:06] #4139 closed, assigned to harryi3t

[2018-06-28 15:15] science695 commented on #4747
On linux (ubuntu 18.04) Postman just updated to 6.1.4 and now will not sync.

I looked at the dev console, and saw "Migration bailed out due to: EXCEEDED_ATTEMPT"

<details>
<summary>
Click to expand Full log.
</summary>
vendor-shared.js:79265 Initializing the global config
vendor-shared.js:84988 Initializing settings
vendor-shared.js:79324 Booting waterline models
vendor-shared.js:137754 Object "

[2018-06-28 15:19] shamasis commented on #3648
The [docs](https://www.getpostman.com/docs/v6/postman/scripts/postman_sandbox) would remove `postman.*` right after postman-runtime 8.0 release which implements a variant of `postman.setNextRequest`.

cc @loopDelicious

[2018-06-28 15:42] harryi3t commented on #3977
@jmatelet Are you still facing this issue with the latest version of Postman (6.1.4)?
Since the original issue was about seeing a blank screen, if that is not happening now we can close out this issue.
@bobvanderlinden and others, if your issue is different than the original issue please open a separate issue.

[2018-06-28 15:58] sbanatech commented on #2082
6.1.4 I still the issue, not saving the file in the exact output format, eg My response is a abc.lfg but saves as response.zip

[2018-06-28 15:59] alexishdezlmL commented on #1849
krogan, it worked perfectly, thanks

[2018-06-28 16:00] shamasis commented on #2418
Hey... I took a dig at locally reproducing this. Phew! Getting a server to misbehave is really tricky. I am very comfortable with NodeJS and sadly I could not create a server that would send 204 and body.

I am sure of one thing though - can confirm that 204 without body works fine on Postman, irrespective of request method / header / whatever.

I will switch to some low-level language to make a m

[2018-06-28 16:01] ramya-nadupalli commented on #2082
6.1.4 I still see the issue, not saving the file in the exact output format, eg My response is abc.lfg but saves as response.zip

[2018-06-28 16:07] shamasis commented on #2418
@numaanashraf has pointed me out to dump HTTP raw data on TCP. Let me get back

[2018-06-28 16:16] SamvelRaja commented on #4681
@markwest1 Could you try opening the app manually through `cmd` from `c:\users\[USER]\AppData\Local\app-6.1.3\Postman.exe`

[2018-06-28 16:36] SamvelRaja commented on #4562
@shufflebump  could you try installing the latest version 6.14 and verify that the issue still persists.

[2018-06-28 17:09] gauravshetti commented on #2392
+1

[2018-06-28 17:28] gpattersonm commented on #4511
Hello,

I was able to reproduce this just now. It seems that this is only an issue when in Two Pane view. As soon as I toggle to Single Pane View (Ctrl+Alt+V) I am able to see the scrollbar. I hope this helps.

[2018-06-28 18:21] shufflebump commented on #4562
No. I took my laptop in to the IT desk and they had to reset my profile on
the laptop to fix it. I don't need to use that data set again any time
soon, so I won't be messing with it.

On Thu, Jun 28, 2018 at 12:36 PM SamvelRaja <notifications@github.com>
wrote:

[2018-06-28 18:37] a85 commented on #4511
@gpattersonm Could replicate it:

<img width="1792" alt="screenshot 2018-06-28 11 36 42" src="https://user-images.githubusercontent.com/653409/42053868-99a90950-7ac7-11e8-98be-925a03643ce4.png">

[2018-06-28 19:59] igorsantos07 commented on #2418
@shamasis glad to know at least somewhere it's hard to not follow the standards! Lol

That said, a lot of servers out there do not respect this.
I think Postman could very well interpret it better (if it's feasible) and, maybe even, show a warning like "this request shouldn't have a body, but here it goes".

It's bad because it's something, as we can see, a LOT of people stumble upon. Postman shou

[2018-06-28 20:22] bruniasty commented on #4382
6.1.4 now working (Win 8.1).  The main window keeps flashing and nothing works.

![image](https://user-images.githubusercontent.com/1955268/42058757-aa1b1cc4-7b21-11e8-9841-6625e63f0941.png)

[2018-06-28 20:26] kunagpal commented on #4315
@glenpike I wasn't able to reproduce this with Newman v3.9.4 and v6.1.4 of the Postman app. Could you share the environment here? Feel free to replace the variable values with dummy equivalents 😄

[2018-06-28 20:52] JordanAlimi opened #4748 "Dropdown for request type breaks at lower application heights."
When postman has a height that is too small, the drop down for the request type will open upwards instead of downwards. This blocks a user from selecting their desired request type on smaller resolution screens.

**To Reproduce**
Steps to reproduce the behavior:
1. Open native app.
2. Reduce app's height.
3. Click on drop down for request type.
4. See that the drop down goes upwards and doesn't sh

[2018-06-28 21:04] awestley commented on #4644
I "fixed" this by **entirely** uninstalling and reinstalling Postman.

[2018-06-28 21:11] aviray48 commented on #4576
@a85, @prashantagarwal: I appreciate all the good work you are doing with Postman. While it would be nice to have Windows MSI installer, I understand that overall, there are other things that are a higher priority. Hopefully you can eventually get an installer going.

[2018-06-28 21:15] aviray48 commented on #3897
@reetpandher, can you explain how you created a standalone package for Postman. I think it would be nice to keep Postman out of the Users directory if possible.

[2018-06-28 22:17] stewartadam opened #4749 "Add support for undo while deleted rows"
**Describe the bug**
When editing parameters in a GET request, or body values of a POST request, undo fails to restore deleted items when dragging over multiple rows and pressing `Backspace` or `Delete`.

When quickly copy/pasting values from web resources, I find it's easy to misclick and accidentally make a small selection box instead of clicking into the Key or Value field, which ends up select

[2018-06-28 22:48] gauravshetti commented on #1535
+1

[2018-06-28 23:01] DraakUSA commented on #3103
We have an inhouse script that keeps a user's .aws/credentials file up to date with new tokens before they expire.  These tokens expire for business security, and are retrieved via SAML tokens.  The reason is that the aws client uses the AWS_PROFILE environment variable or the specified --profile on the command line to get the correct tokens from the .aws/config and/or .aws/credentials file to get

[2018-06-29 04:21] loveiset commented on #1607
I figure out a  temporary solution, may this be helpful for you.
[project RSAForPostman](https://github.com/loveiset/RSAForPostman)

[2018-06-29 05:26] amitbpal commented on #4296
@SkyGanfor  thanks for your feedback . Can you please let me know how I can reboot my postman application ??

[2018-06-29 06:04] SamvelRaja commented on #4382
@bruniasty  This seems to the GPU issue mentioned by @sivcan  Kindly try the solution mentioned in https://github.com/postmanlabs/postman-app-support/issues/4594#issuecomment-391601621 and let us know.

[2018-06-29 06:07] kamalaknn commented on #4360
Hi,

This issue seems to be diverging a bit now. The original issue where conflict modals showed up for history requests has been fixed and released to the production channel.

I'm closing this issue now for this reason.

We have made a couple of fixes as well to connectivity related parts in both the client and the servers. I would encourage everyone to upgrade your apps to the latest version and

[2018-06-29 06:07] #4360 closed, assigned to kamalaknn

[2018-06-29 06:15] prashantagarwal commented on #4748
@JordanAlimi We have fixed this and released it on our canary apps for now. It will soon be available for the Postman app itself in next release. You can download canary apps from https://www.getpostman.com/canary

[2018-06-29 06:21] prashantagarwal commented on #4696
@ivok We have fixed this internally. We will make this fix available in next release.

[2018-06-29 06:25] SamvelRaja commented on #4699
Duplicate #4701  @mkarajohn  Requesting you to subscribe to the issue.

[2018-06-29 06:25] #4699 closed, assigned to a85, SamvelRaja, preethammavin

[2018-06-29 06:26] #4569 closed, assigned to prashantagarwal

[2018-06-29 06:31] SamvelRaja commented on #4562
@shufflebump  Thanks for getting back and confirming. Closing this issue for now.
@WurstCommander  Your issue seems to deviate from this, I request you to follow https://github.com/postmanlabs/postman-app-support/issues/4594#issuecomment-391601621

[2018-06-29 06:31] #4562 closed, assigned to SamvelRaja

[2018-06-29 06:48] #2256 closed, assigned to nobody

[2018-06-29 06:51] sivcan commented on #4648
Closing this issue due to inactivity and it seems like the issue is not present with the app / newman.

If you're still facing this issue then feel free to reopen it along with the required details.
Thanks!

[2018-06-29 06:51] #4648 closed, assigned to kunagpal, sivcan

[2018-06-29 06:59] SamvelRaja commented on #2508
@smmathews-ch  According to [RFC 1738](https://tools.ietf.org/html/rfc1738), '#' is represented as unsafe in query params as this is been widely used for fragments.

But if you need to use it in your request, you can very well select the params -> Right click -> encode URI component.

![ecoding](https://user-images.githubusercontent.com/5114052/42077879-037a2744-7b98-11e8-8059-e2995fac37e5.gif)

C

[2018-06-29 06:59] #2508 closed, assigned to SamvelRaja

[2018-06-29 07:00] vkaegis commented on #4418
@thetreythomas Thanks for the feedback! Have you tried out organizing environments in workspaces yet? Workspaces can help you declutter your working environments. If you have and weren't convinced that it could help you solve this problem, I'd love to hear in detail about how exactly you use your environments.

[2018-06-29 07:07] SamvelRaja commented on #3550
@javiergarval  This issue is not available in the latest version of Postman app. I recommend you to update to our latest 6.1.4 version.
![screenshot 4](https://user-images.githubusercontent.com/5114052/42078163-1721f8ca-7b99-11e8-89a9-19ceab57c923.png)

[2018-06-29 07:07] #3550 closed, assigned to SamvelRaja

[2018-06-29 07:14] sankalp0o commented on #4115
@CallumWatkins We're working on adding an "Add request" option to the context menu for collections as well as folders. This would be out soon in the next release of the Postman App.

[2018-06-29 07:19] sujayvenaik commented on #4513
Hey @Celadora
We have fixed this internally, and will be updated in canary and production app soon.

I'll keep this thread updated as soon as we release.

[2018-06-29 07:22] vkaegis commented on #4268
Thanks for getting in touch with us, @mtatrung! This makes a lot of sense, and we already have some improvements planned around this. Keep a lookout in the upcoming versions for this feature.

[2018-06-29 07:25] SamvelRaja commented on #4509
@simasch Thanks for raising your concern 😄  @vkaegis  @sankalp0o  any inputs?

[2018-06-29 07:29] sivcan commented on #3916
This has been fixed in v6.1.4
I advise all to update to the same.

[2018-06-29 07:29] #3916 closed, assigned to sivcan

[2018-06-29 07:34] Geolim4 commented on #4179
@aroblu94 Yes by forcing line-ending on the server side :)
This is ugly but it allows me to develop quietly.

[2018-06-29 07:40] SamvelRaja commented on #4644
@egpotter  @awestley We pushed a fixed for improving the stability of networking in our 6.1.4. Closing this for now.

[2018-06-29 07:40] #4644 closed, assigned to a85, SamvelRaja, preethammavin

[2018-06-29 07:46] sujayvenaik commented on #4204
https://github.com/postmanlabs/postman-app-support/issues/4513

Hey, this is a duplicate issue already present.
Can you follow the thread above mentioned for follow ups.

[2018-06-29 07:46] #4204 closed, assigned to sujayvenaik

[2018-06-29 07:49] prashantagarwal commented on #4258
Hi @patrickgardella . This seems to be fixed in our latest Postman app. Can you please update your app. Thanks

[2018-06-29 07:49] #4258 closed, assigned to prashantagarwal

[2018-06-29 07:51] sujayvenaik commented on #4463
Hey, @blitzd

We have started working on refactoring the whole experience around tabs.
I'll keep this thread updated as soon as we make a release.

[2018-06-29 07:56] kamalaknn commented on #4726
Hi,

Postman has always been honoring the SSL certificate validity. However, we've been showing ways to help debug this cases through instructions on the error page.

<img width="1114" alt="screen shot 2018-06-29 at 1 14 17 pm" src="https://user-images.githubusercontent.com/8401064/42080063-0a1d3dbe-7b9f-11e8-803d-5ffb15af86f1.png">

I do understand that for most of the cases where development hap

[2018-06-29 07:57] harryi3t commented on #4246
Relevant issue on electron https://github.com/electron/electron/issues/1362
They added support for only basic auth, digest & NTLM (your case) is still not supported :(

I have added a comment on that issue, once they add support for it or if they post a workaround we will look into this issue.

[2018-06-29 07:58] #4246 closed, assigned to nobody

[2018-06-29 08:01] sujayvenaik commented on #4481
Hey @VinayJeurkar

We are able to reproduce this at our end.
We are doing a complete refactoring around the tabs and its behavior that includes the request editing section as well.

Ill keep this thread updated as soon as we make a release.

[2018-06-29 08:04] SamvelRaja commented on #4535
@romaromaniv  any memory usage spike before the crash?
I would recommend you to open the app through `cmd` from 'c:\users\[USER]\AppData\Local\Postman\app-6.1.4\Postman.exe' this will show the internal logs from it.

[2018-06-29 08:07] sivcan commented on #4650
@rakeshk1987 The new format for writing tests is the one that you're using in the 2nd Test and 3rd Test and it's **recommended** that you use this format.

The old test format was writing it like so: `test['test name'] = boolean`
Which is still supported only to help people who're coming from the old versions of the postman app to migrate to the new versions.

The tests are always executed in the

[2018-06-29 08:15] kamalaknn commented on #4646
Hi @Gordon-Fredericks @ntrpnr

Could you provide the error logs that you see when the error happened? That will help us triage this.

[2018-06-29 08:16] prashantagarwal commented on #3334
@thePurpleMonkey There can only be one request body associated with a request. We just keep track of all the changes that you make in memory. Once you quit the app we don't save all of that.

[2018-06-29 08:16] #3334 closed, assigned to prashantagarwal, preethammavin

[2018-06-29 08:16] numaanashraf commented on #2869
@payneBrandon Hey, we have made various improvements to request sending in our native apps. Are you facing the same issue with our native apps? https://www.getpostman.com/apps.

[2018-06-29 08:25] JonathanCrossland commented on #4730
bump :)

[2018-06-29 08:36] sankalp0o commented on #4509
@simasch A collection can still exist without being in a workspace. This collection would still be retrievable from the API and can be viewed on the dashboard.
This state is present because multiple people might accidentally remove the collection from all workspace without realising this. However, I see what you mean and we are working on indicating the workspaces a collection is present in so tha

[2018-06-29 08:46] SamvelRaja commented on #4440
@roukmoute  We try not changing any data provided by the user,
As the expected behavior from you will be a conflicting behavior for other users. Postman tries to be neutral and spec-compliant as much as possible about these.
To solve your problem, you can select the text to decode -> Right Click -> EncodeURIComponent

[2018-06-29 08:46] #4440 closed, assigned to a85, SamvelRaja

[2018-06-29 08:47] sujayvenaik commented on #4481
https://github.com/postmanlabs/postman-app-support/issues/3208

Hey, @VinayJeurkar
We have another thread which contains this same issue.
We will update that thread on the progress. Kindly refer to that.

Closing this for now.

[2018-06-29 08:47] #4481 closed, assigned to sujayvenaik

[2018-06-29 08:49] prashantagarwal commented on #3314
I am closing this as Postman native app is behaving correctly. Also as we are deprecating chrome apps, we recommend everyone to move to our native apps.

[2018-06-29 08:49] #3314 closed, assigned to prashantagarwal, preethammavin

[2018-06-29 08:55] SamvelRaja commented on #4702
We are not fixing this in our deprecated chrome app due to constraints over the request sending. We any how handled this in our native app. Kindly switch to it 😄

[2018-06-29 08:55] #4702 closed, assigned to a85, SamvelRaja, preethammavin

[2018-06-29 08:55] prashantagarwal commented on #3331
Hey, guys we are tracking this feature here #1104

[2018-06-29 08:55] #3331 closed, assigned to prashantagarwal

[2018-06-29 08:57] sujayvenaik commented on #3263
Hey @mardann

I checked this on my end and this seems to work fine.

Please try it once with the latest app and also make sure that you are not changing the variables again in the pre-request or test scripts.

[2018-06-29 08:57] #3263 closed, assigned to kamalaknn, preethammavin

[2018-06-29 08:58] numaanashraf commented on #2861
@bhingston-va @kwilmot @rastephens86 @grzegorzjudas @mjkraner @Forebinder2010 Could you gimme a screenshot to help us replicate this issue at our end? I tried assigning null to an environment value through the environment editor and pre-request script and the variable is resolving correctly.

<img width="909" alt="screen shot 2018-06-29 at 2 25 05 pm" src="https://user-images.githubusercontent.com

[2018-06-29 09:01] ikushnir commented on #4009
Looking forward to have this feature !

[2018-06-29 09:02] sankalp0o commented on #4318
Hi @Noor0, we recently refactored the colors in both the themes which hopefully made the dark theme a little better. This also unblocked us from being able to manipulate the theme by adjusting colors in a single place and we'll soon be able to expose this which will allow users to create their own themes.

[2018-06-29 09:04] prashantagarwal commented on #3934
@DiegoRBaquero What is your app version ?

[2018-06-29 09:10] anudeepmedicharla commented on #4142
Hey @Mibeon, thank you for the suggestion! We are indeed looking at offering a few UI customizations inside the app. While I cannot give an ETA, customization is definitely on our roadmap.

Please stay tuned for updates regarding this in future. Thank you. :)

[2018-06-29 09:10] vkaegis commented on #4185
Thanks for reporting this @govindrai! We now have a universal search for Postman, which can be invoked by the Cmd + Shift + F shortcut. The Cmd + F shortcut sometimes clashes with the native search functionality of the code editor (for example, in the response).

That said, I don't think this completely solves your problem since your main intention of using this feature is for navigation. We're al

[2018-06-29 09:16] harryi3t commented on #3518
As per the RFC http://tools.ietf.org/html/rfc6265, the port number is not considered while persisting/using a cookie
Also, I checked the behaviour with browsers. When I set up a server running on `localhost:3333` and set a cookie, the browser saves it with domain `localhost`. Postman also does the same thing.

Also, from the UI if you just type the `domain` instead of `domain://post` it works and

[2018-06-29 09:19] sujayvenaik commented on #3841
https://github.com/postmanlabs/postman-app-support/issues/4513

Hey @alexandruirimiea @JayShallcrass

We have fixed this internally and will be out soon.
Please refer to the thread mentioned above for further updates.

[2018-06-29 09:19] #3841 closed, assigned to prashantagarwal

[2018-06-29 09:20] SamvelRaja commented on #4310
@dangerusslee  @antr we fixed this in our latest app (6.1.4) kindly update it. Also, follow https://github.com/postmanlabs/postman-app-support/issues/3107%23issuecomment-307015494 if you still faces it.

[2018-06-29 09:21] SamvelRaja commented on #4303
Closing this issue in-favor of Linux auto updater which does the replacing files properly.

[2018-06-29 09:21] #4303 closed, assigned to SamvelRaja

[2018-06-29 09:24] numaanashraf commented on #2648
@Edunga1 Hi, could you verify if this is happening with our latest version? Postman v6.1.4.

[2018-06-29 09:25] anudeepmedicharla commented on #4030
@sbarberuk Thank you for the suggestion! We are working on a few improvements around variables and support for descriptions is on the way.
Keep an eye out for cool new features around variables in the upcoming releases of the app. :)

[2018-06-29 09:27] kamalaknn commented on #4616
@ankitjaggi We should update our cloud services to the latest version of [postman-collection-transformer](https://github.com/postmanlabs/postman-collection-transformer/pull/102) which has the fix.

@nithyamuth That would fix your issue here. @ankitjaggi can you update the thread once it is done?

[2018-06-29 09:29] prashantagarwal commented on #3720
@jkleckner Can you try this on our latest version of App

[2018-06-29 09:29] vkaegis commented on #4058
@jmfayard @mccannt  Thanks for reporting this! Reusability of scripts is on our mid term roadmap. No ETA on this just yet, but we'll keep you updated. We'd also love to hear more about how you use scripts in your work, this would be of immense help in crafting a flexible solution. You can either write to us, or schedule a call at https://calendly.com/vineetk/userconvo.

[2018-06-29 09:33] sujayvenaik commented on #4463
Hey @blitzd
This is the desired behavior how it should go about.

In the next release, we will include inline messaging in order to communicate this better to the users.

[2018-06-29 09:33] #4463 closed, assigned to kamalaknn

[2018-06-29 09:33] harryi3t commented on #3252
@unchaoss Can you try this with the latest version of Postman 6.1.4? If the issue still persists can you also point me to the link where I can check the sigratures being generated.

[2018-06-29 09:33] numaanashraf commented on #2644
Not reproducible in Postman v6.1.4. Closing.

[2018-06-29 09:33] #2644 closed, assigned to a85, thecuriousdev, preethammavin

[2018-06-29 09:35] SamvelRaja commented on #4015
@aksbenz The issue of losing the tabs had been fixed in our 6.1 version of the app.

We will keep you posted on closing the console when all postman windows closes issue.

[2018-06-29 09:39] numaanashraf commented on #2585
This is a verified bug and we are tracking this at #2418. Closing this as duplicate.

[2018-06-29 09:39] #2585 closed, assigned to a85, kamalaknn, preethammavin

[2018-06-29 09:51] prashantagarwal commented on #4335
Duplicate of #2366

[2018-06-29 09:51] #4335 closed, assigned to prashantagarwal

[2018-06-29 09:52] prashantagarwal commented on #3501
Duplicate of #2366

[2018-06-29 09:52] #3501 closed, assigned to prashantagarwal

[2018-06-29 09:54] numaanashraf commented on #3317
@ellavas This was an issue in an earlier version and we had fixed it in a later version. I had verified that the variable data is exported correctly in the latest version Postman v6.1.4.

[2018-06-29 09:54] #3317 closed, assigned to thecuriousdev, preethammavin

[2018-06-29 09:56] kamalaknn commented on #4452
@Tenkasi-Subramanian By looking at the information given, I am guessing the server is returning the response in `xml` format.

To confirm this you can open the `Postman Console` (View -> Show Postman Console) and select `raw` view in response to see the raw response from the server.

If the server does return in `xml` format Postman as a client cannot and should not convert the response body.

I'm

[2018-06-29 09:56] #4452 closed, assigned to a85, harryi3t, kamalaknn, preethammavin

[2018-06-29 09:59] harryi3t commented on #4738
@radauto From what I could find after searching about this, `nullable` is not a valid keyword in JSON schema (draft v4)
<img width="962" alt="image" src="https://user-images.githubusercontent.com/5207331/42086523-f5f164d4-7bb0-11e8-90b6-ddee9ec32b5f.png">

[2018-06-29 10:02] SamvelRaja commented on #3900
As Postman is a very generic tool and for URL encoding we are following the [RFC 3986
](https://www.ietf.org/rfc/rfc3986.txt) and encoding algorithm specified in [what-wg format](https://url.spec.whatwg.org/#parsers) based on that we created a library [postman-url-encoder](https://github.com/postmanlabs/postman-url-encoder), which is been used in our request sending engine - [Postman-runtime](http

[2018-06-29 10:02] #3900 closed, assigned to SamvelRaja

[2018-06-29 10:06] harryi3t commented on #4738
@radauto Also, please share a __minimal__ example response object and it schema which works in your testing environment but not in postman

Please keep it short and concise (preferably use only one key)
e.g.
[code]

[2018-06-29 10:06] SamvelRaja commented on #3752
@a-marinin  this issue had been fixed in our 6.1.4 version of our app, kindly update it. If you still faces the issue kindly follow the steps from this comment https://github.com/postmanlabs/postman-app-support/issues/3107#issuecomment-307015494

[2018-06-29 10:07] #3752 closed, assigned to SamvelRaja, harryi3t

[2018-06-29 10:09] numaanashraf commented on #3263
@ryancap-ual @mardann @tobeliketree We had made various core changes to the internals of the app to prevent these issues. I was not able to replicate this on the latest version of Postman (v6.1.4). Please verify and reopen if this is still happening at your end with the latest version.

[2018-06-29 10:09] sivcan commented on #3288
@Heydiddly I tried to reproduce this issue on the latest version of the app (v6.1.4) but the runner didn't get stuck for me.

Here's what I tried:
1. Ran an empty request
2. Put an empty request between the multiple requests and that still stops the runner at empty request (intended behaviour to stop the run) but the runner didn't get stuck.
3. Put an empty request between a lot of requests and st

[2018-06-29 10:09] #3288 closed, assigned to sivcan

[2018-06-29 10:10] SamvelRaja commented on #3834
We had upgraded the electron version to include the fix. Kindly update to 6.1.4 version of the app.

[2018-06-29 10:10] #3834 closed, assigned to SamvelRaja

[2018-06-29 10:10] cimere commented on #4079
+1

[2018-06-29 10:11] SamvelRaja commented on #3762
@ChrisAllisonMalta This had been fixed in our recent 6.1.4 version of the app. Kindly update the app 😄

[2018-06-29 10:11] #3762 closed, assigned to SamvelRaja

[2018-06-29 10:12] sivcan commented on #3912
@poniat I can confirm that CSV along with running subfolders are working perfectly fine on the latest version of the postman app. (i.e. v6.1.4 as of now)

If the issue still persists for you, let us know.

[2018-06-29 10:12] #3912 closed, assigned to sivcan

[2018-06-29 10:13] #4223 closed, assigned to SamvelRaja

[2018-06-29 10:15] harryi3t commented on #4685
Closing due to inactivity.

[2018-06-29 10:15] #4685 closed, assigned to harryi3t

[2018-06-29 10:18] prashantagarwal commented on #2807
Related to #2366

[2018-06-29 10:18] #2807 closed, assigned to prashantagarwal, preethammavin

[2018-06-29 10:19] sujayvenaik commented on #3490
Hey @gregarrayent
We had an internal discussion on this issue and have thought of adding the TabTitle on the Modal to give more context.

This will be available in our next release.
Will update this thread once this goes out to canary and production app.

[2018-06-29 10:19] #3490 closed, assigned to sankalp0o, sujayvenaik

[2018-06-29 10:24] #3974 closed, assigned to prashantagarwal, preethammavin

[2018-06-29 10:24] harryi3t commented on #4643
@markbeij This is duplicate of https://github.com/postmanlabs/postman-app-support/issues/4246 (closed)

Normally for OAuth-2 we open a browser window with the `auth url`, then there are series of redirection after which the page is redirected to the `callback url` that was registered along with a ` `code` that is used to exchange `access token`.

The problem with Azure AD is that one of redirected

[2018-06-29 10:25] sivcan commented on #3459
@sumf The latest version of the [Postman Native App (v.6.1.4)](getpostman.com/apps) doesn't have this issue.
Just make sure that your requests are saved before running them in the runner.

The keys that were marked as disabled (unchecked) are the one's that won't appear as params in the request when running the request.

[2018-06-29 10:25] #3459 closed, assigned to sivcan

[2018-06-29 10:27] SamvelRaja commented on #3804
@zac11 Can you check the request headers you are receiving from postman vs the chrome browser.
And regarding the display of response, as I mentioned above the response format is based on the response header we receive.

Closing this, as this is not seems to issue from Postman.

[2018-06-29 10:27] #3804 closed, assigned to nobody

[2018-06-29 10:32] SamvelRaja commented on #3799
@suvaraj  Could you check the permission on `C:\Users\[USER]\AppData\Local` and `C:\Users\[USER]\AppData\Roaming` folder?

[2018-06-29 10:33] SamvelRaja commented on #3786
Closing in-favor of https://github.com/postmanlabs/postman-app-support/issues/4594

[2018-06-29 10:33] #3786 closed, assigned to SamvelRaja

[2018-06-29 10:33] harryi3t commented on #4636
This is expected behaviour. The Oauth2 configuration is global to the app.
I am marking this as a feature request.

[2018-06-29 10:37] prashantagarwal commented on #3424
@scottmmmm Can you try this on our native Postman app

[2018-06-29 10:38] SamvelRaja commented on #3763
@correajd  Post 6.x version of the app we had fixed a lot data inconsistency issue.
Kindly try generating the collection link from it 😄

[2018-06-29 10:38] #3763 closed, assigned to SamvelRaja

[2018-06-29 10:38] bbrosius commented on #4310
@SamvelRaja Mine actually broke after updating to 6.1.4 and I don't have a GitHub Inc. folder just a Postman folder.

[2018-06-29 10:39] prashantagarwal commented on #4032
@snaits This is fixed in our latest version of Postman apps.

[2018-06-29 10:39] #4032 closed, assigned to prashantagarwal, preethammavin

[2018-06-29 10:41] anudeepmedicharla commented on #3235
Tracking this issue here: https://github.com/postmanlabs/postman-app-support/issues/3561

[2018-06-29 10:41] tnjohansson commented on #4591
Hi, is there a workaround for this issue? I'm on Windows and I'm having the same issue.

[2018-06-29 10:41] #3235 closed, assigned to anudeepmedicharla

[2018-06-29 10:43] SamvelRaja commented on #3697
We are tracking the electron issue https://github.com/electron/electron/issues/3226 which will solve this once fixed. We will keep the thread updated on this.

[2018-06-29 10:47] prashantagarwal commented on #3934
@DiegoRBaquero This fixed in latest version of Postman native app.

[2018-06-29 10:47] #3934 closed, assigned to prashantagarwal, preethammavin

[2018-06-29 10:48] vkaegis commented on #4015
@aksbenz Regarding your first issue around closing the console on closing the main window, these actions are usually handled by the OS and we wouldn't want to interfere with this. For example, in Windows, you can right click on the Postman application icon in the taskbar and select Close All to close all Postman windows.

We are also looking into improving window management within Postman and allo

[2018-06-29 10:48] #4015 closed, assigned to SamvelRaja

[2018-06-29 10:49] harryi3t commented on #4627
Duplicate of https://github.com/postmanlabs/postman-app-support/issues/3290

[2018-06-29 10:49] #4627 closed, assigned to a85, harryi3t, kamalaknn, preethammavin

[2018-06-29 10:49] vkaegis commented on #3932
@surajds Thanks for suggesting this! No ETA on this just yet, but we'll keep you updated.

[2018-06-29 10:53] SamvelRaja commented on #3676
@louisnguyen1012  I can see the latest 6.1.4 native app sent the request as expected like chrome.

![screenshot 5](https://user-images.githubusercontent.com/5114052/42088864-b1103a7c-7bb8-11e8-965e-76656a8fee10.png)

[2018-06-29 10:53] #3676 closed

[2018-06-29 10:55] harryi3t commented on #4609
@xiaweixing File path is not stored within the request for security reasons

[2018-06-29 10:55] #4609 closed, assigned to harryi3t

[2018-06-29 10:56] sivcan commented on #3435
@mtoothman The latest version of the [Postman App v6.1.4](https://www.getpostman.com/apps) fixes the issues regarding the selection.

Kindly update to the same.
Thanks.

[2018-06-29 10:56] #3435 closed, assigned to sivcan

[2018-06-29 10:57] prashantagarwal commented on #3783
Related to #2985

[2018-06-29 10:57] #3783 closed, assigned to prashantagarwal, preethammavin

[2018-06-29 10:59] SamvelRaja commented on #3642
@wangzhi0417
your
Version A is Chrome app [Deprecated],
Version B is our Native app.

Kindly, open the postman console, View -> Show Postman Console and then try sending the request, the exact error will be shown in Postman Console.

[2018-06-29 11:00] LennyLip commented on #4239
postman 6.1.4. win 8, + blinked cursor
![postman](https://user-images.githubusercontent.com/955994/42089160-c5bb4ca0-7ba4-11e8-9270-0542b45acedd.png)

[2018-06-29 11:02] prashantagarwal commented on #3442
@Trestal This is fixed in latest Postman apps

[2018-06-29 11:02] #3442 closed, assigned to prashantagarwal, preethammavin

[2018-06-29 11:09] markbeij commented on #4643
@harryi3t
Although similar I don't think this is a duplicate of #4246. I don't have this popup which might be a problem for Postman. Nor are we using NTLM I believe.
When I configure my app to accept callback url 'https://getpostman.com/oauth2/callback' and use that in Postman, I can get this to work. If I use my preferred callback url, I end up with this blank screen.

[2018-06-29 11:13] #3739 closed, assigned to prashantagarwal, preethammavin

[2018-06-29 11:14] numaanashraf commented on #4721
@vfedorin We took a deeper look and it seems like the crash is due to an underlying issue in the platform we use (Electron). We are working on upgrading the Electron version to prevent such crashes. Please bear in mind that `pm.response.to.have.*` assertions are not compatible with the destructure syntax, since the assertions rely on the object context to work.

[2018-06-29 11:21] prashantagarwal commented on #4477
Duplicate of #2985

[2018-06-29 11:21] #4477 closed, assigned to prashantagarwal

[2018-06-29 11:22] sujayvenaik commented on #3836
Hey @chrisron95
This is fixed in the latest version.

Get the latest release from https://www.getpostman.com/apps

[2018-06-29 11:22] #3836 closed, assigned to sujayvenaik

[2018-06-29 11:29] ArnauNaval commented on #675
+1

[2018-06-29 11:31] puffluna opened #4750 "Collections are lost after upgrade to 6.1.4"
I installed the new version Native App Version (6.1.4) of Postman and all of my collections were there and running.  Then I rebooted my machine and all of my collections are gone.

I'd like some help finding them.

Thank you.

[2018-06-29 11:35] numaanashraf opened #4751 "Postman crashes or hangs while handling large responses."
This is a master issue to collate and track multiple issues with handling large responses in Postman. Known symptoms are from sluggish performance, app windows turning white/black/blank, or the app quitting or crashing.

This is a known issue and we are looking into making core changes in the app to support large responses.

[2018-06-29 11:36] science695 commented on #4726
If someone is working on Postman's SSL verification section, it would also be useful to look at this feature request about custom root CAs: #3290

[2018-06-29 11:39] sujayvenaik commented on #4750
Hey @puffluna,
Did you migrate from a chrome version of the app to the native app.

Also, was your data synced ?
Can you help us with more details so we can look into it further.

[2018-06-29 11:39] numaanashraf commented on #4585
@GeoKnR @Beera819 We have created a master thread #4751 to track all issues related to large responses. Please follow that issue for updates.

[2018-06-29 11:39] #4585 closed, assigned to numaanashraf

[2018-06-29 11:40] kamalaknn commented on #3379
Hi,

Can you update your app to the latest version of Postman and check if this issue still exists?

[2018-06-29 11:43] numaanashraf commented on #4308
@BenCao2018 We have created a master thread #4751 to track all issues related to large responses. Please follow that issue for updates.

[2018-06-29 11:43] #4308 closed, assigned to numaanashraf

[2018-06-29 11:48] numaanashraf commented on #793
@xchopin @AxelAndersen @OneCrazyRussian @puviyarasan @ilanbiala @dandv @james-m-henderson We have created a master thread #4751 to track all issues related to large responses. We would be updating that thread on possible workarounds, planned improvements and releases related to large response performance.

[2018-06-29 11:48] #793 closed

[2018-06-29 11:52] numaanashraf commented on #3009
@syxxpk @Startouf @chalalo1533 @darylpeeters @JoshKeegan @OneCrazyRussian We have created a master thread #4751 to track all issues related to large responses. We would be updating that thread on possible workarounds, planned improvements and releases related to large response performance.

[2018-06-29 11:52] #3009 closed, assigned to numaanashraf

[2018-06-29 11:53] numaanashraf commented on #3342
@bunyaminsg We have created a master thread #4751 to track all issues related to large responses. We would be updating that thread on possible workarounds, planned improvements and releases related to large response performance.

[2018-06-29 11:53] #3342 closed, assigned to numaanashraf

[2018-06-29 11:53] patrickgardella commented on #4258
Correct. It does. Thank you, @prashantagarwal

[2018-06-29 11:54] numaanashraf commented on #3769
@gm90043 We have created a master thread #4751 to track all issues related to large responses. We would be updating that thread on possible workarounds, planned improvements and releases related to large response performance.

[2018-06-29 11:54] #3769 closed, assigned to numaanashraf

[2018-06-29 11:57] kamalaknn commented on #3172
The original issue posted here where headers with multiple keys were not listed in the response sections is fixed. Please update to the latest version.

@jerrfi For your case, you can use the `pm.response.has('Key', 'Value')` if you have control over the exact value you are trying to match. Otherwise, use `pm.response.toJSON()` to get a complete list of all headers and you can test for the key you

[2018-06-29 11:57] #3172 closed, assigned to kamalaknn, preethammavin

[2018-06-29 11:58] numaanashraf commented on #3216
@gregeisips @zeleznickm Hi, we had made some core changes to the internals of the app in Postman 6. Could you verify whether you are still facing sluggish performance in Postman v6.1.4?

[2018-06-29 12:00] kamalaknn commented on #4429
Duplicate of #3868

[2018-06-29 12:00] #4429 closed, assigned to a85, harryi3t, preethammavin

[2018-06-29 12:01] prashantagarwal commented on #2831
@tagyoureit Can you try one thing. Just copy all the request Headers from chrome request and paste it in native app. See if it works then.

[2018-06-29 12:06] SamvelRaja commented on #3562
This has been fixed in our latest 6.1.4 app.
And yes we will add this to our shortcut menu 👍

[2018-06-29 12:07] prashantagarwal commented on #3814
@magdazacharska Are you still facing the issue can you debug if your issue is related to #3858

[2018-06-29 12:07] numaanashraf commented on #3824
This is a verified bug and we are looking into tweaking the `Manage Cookie` section to support this.

[2018-06-29 12:09] Peteraaron commented on #4604
https://jsonlint.com/

[2018-06-29 12:10] prashantagarwal commented on #3817
@drahnieR We will prevent adding new lines to headers.

[2018-06-29 12:11] k-dahl commented on #4463
@sujayvenaik sorry, but can you confirm that what you said equates to this bug being fixed in the next release? Because it sort of sounds like you're saying the tabs share the names and that you're going to instead update inline messaging to indicate this, and that really doesn't make any sense to me or my team.

[2018-06-29 12:13] numaanashraf commented on #4029
@neilghosh We are unable to replicate the binary file issue. Seems to be working as expected in Postman 6.1.4.

<img width="867" alt="screen shot 2018-06-29 at 5 41 41 pm" src="https://user-images.githubusercontent.com/3295568/42091637-bfc33a46-7bc3-11e8-90b5-0cb3a38584bc.png">

[2018-06-29 12:14] SamvelRaja commented on #3549
Closing due to inactivity.

[2018-06-29 12:14] #3549 closed, assigned to SamvelRaja

[2018-06-29 12:17] #4020 closed, assigned to prashantagarwal

[2018-06-29 12:17] puffluna commented on #4750
Hi.  I had the chrome app and version 4.10.3 of native app installed.   My company asked me to upgrade to 6.4.1.  I did that and lost my collections.

I don't think my data was synced since I'm not familiar with that.  I did sign in prior to losing the collections.

Thanks for any help!!

Sent from my Verizon, Samsung Galaxy smartphone

-------- Original message --------
From: Sujay Venaik <notifi

[2018-06-29 12:18] numaanashraf commented on #4029
We were able to replicate the code generation issue with binary files and form data files. We are tracking the issue at #2875.

[2018-06-29 12:18] #4029 closed, assigned to numaanashraf

[2018-06-29 12:22] SamvelRaja commented on #4321
@fschai89  @glenpike @syntegritysolutions @brianbellon  Requesting you guys to send a mail to help[at]getpostman[dot]com with the screenshot of the re-ordered collection from your registered email id.

This will help us is getting closer look at the issue.

Also, we recommend people facing this issue to contact us directly through help[at]getpostman[dot]com to help faster.

[2018-06-29 12:23] vkaegis commented on #4463
Hey @blitzd! Thanks for pointing this out. The behavior is as intended. Duplicating a tab doesn't duplicate the request, but creates another instance which points to the same request. The request name and description are shared between the two tabs since they both point to the same request. What we will be doing in the next version is making this behavior more apparent.

That said, it seems like y

[2018-06-29 12:26] harryi3t commented on #4431
@desdoades I tested with a proxy in between and it showed only 1 request.
<img width="596" alt="image" src="https://user-images.githubusercontent.com/5207331/42092192-9cf32cfe-7bc5-11e8-9ca3-afc3721efb76.png">

I think there might be a redirection on the `OPTION` endpoint. Can you verify this by __turning off__ the
`automatically follow redirects` setting
<img width="359" alt="postman" src="https:

[2018-06-29 12:26] SamvelRaja commented on #3462
Closing this due to inactivity.

[2018-06-29 12:26] #3462 closed, assigned to SamvelRaja

[2018-06-29 12:27] harryi3t commented on #4045
Duplicate of https://github.com/postmanlabs/postman-app-support/issues/3942

[2018-06-29 12:27] #4045 closed, assigned to harryi3t

[2018-06-29 12:28] harryi3t commented on #4430
Duplicate of https://github.com/postmanlabs/postman-app-support/issues/3942

[2018-06-29 12:28] #4430 closed, assigned to harryi3t

[2018-06-29 12:28] SamvelRaja commented on #3449
@antonioatt  could you help us by providing the screenshot of the Postman console.
Open postman console using View -> Show postman console

[2018-06-29 12:30] SamvelRaja commented on #3401
This issue should have been solved by our 6.x update. Kindly update to our latest 6.1.4 app.

[2018-06-29 12:30] #3401 closed, assigned to SamvelRaja

[2018-06-29 12:31] vkaegis commented on #4169
@ben-eichler-abcs Thanks for pointing this out! The behavior is as intended. As of now, Postman considers the request name and description as part of the meta of the request, and we treat the use case of editing name/descriptions to be different to that of actually working with the request (editing headers etc). We will be working on some improvements to make this more apparent.

The issue of the

[2018-06-29 12:31] sujayvenaik commented on #4750
Hey @puffluna

What best you can do is, do a bulk export of data from the chrome app.
And you can re-import in the postman native app.
This will help you get the data and the collections back.

Step 1: Launch your chrome app
Step 2: Go to Settings
Step 3: Data Tab
Step 4: Export Data -> Download

Step 5: Launch the Postman Native App
Step 6: Press on Import on top Left
Step 7: Choose file and impo

[2018-06-29 12:34] sivcan commented on #3698
@agaitaud Hey, I tried reproducing this issue on the latest version of the [Postman App v6.1.4](https://getpostman.com/apps) but I can confirm that it's not dropping the equal symbol anymore.

![image](https://user-images.githubusercontent.com/12631777/42092442-946a2cb2-7bc6-11e8-87f6-4d2eed0eb5f1.png)
Ignore the `postman-echo` url.

Could you try upgrading to the latest app and check if it's stil

[2018-06-29 12:36] harryi3t commented on #4427
@AbdelrahmanHafez  I tried with a sample server that sends Arabic text. Postman was able to render it correctly
<img width="622" alt="image" src="https://user-images.githubusercontent.com/5207331/42092471-b6cf3022-7bc6-11e8-9b16-c23e6bd870d9.png">

Also, when you say

I find this very unlikely to be a bug on Postman. Whatever the server sends we show that. If it works for days/weeks and then does

[2018-06-29 12:36] sivcan commented on #4591
@tnjohansson We're looking into this issue.
For now, you can simply select 'application/JSON' type from the dropdown and it should work as expected.
Apologies for the inconvenience caused.

[2018-06-29 12:37] numaanashraf commented on #3963
@pdougla002 @isurugiu @EricPSU @genachka @Indystef @laclance @freedomfee @gmlion Could you verify where you are facing the same issue in the latest version of Postman (v6.1.4)?

[2018-06-29 12:37] puffluna commented on #4750
I'm sorry.  I forgot to mention that I deleted the chrome app.  It also had old versions of the collections anyway.   Is there anything else I can try?

Sent from my Verizon, Samsung Galaxy smartphone

-------- Original message --------
From: Sujay Venaik <notifications@github.com>
Date: 6/29/18 8:31 AM (GMT-05:00)
To: postmanlabs/postman-app-support <postman-app-support@noreply.github.com>
Cc: pu

[2018-06-29 12:37] SamvelRaja commented on #3311
Duplicate of #4513

[2018-06-29 12:37] #3311 closed, assigned to SamvelRaja

[2018-06-29 12:40] AbdelrahmanHafez commented on #4427
I think there's a misunderstanding.

This is not a rendering issue, when a server sends a response to postman, the response is rendered correctly.

The issue is that the HTTP request's JSON body, when I save it on the postman's collection, the body (which is saved on the postman's servers, I suppose) changes Arabic to these random strings.

[2018-06-29 12:41] harryi3t commented on #4423
@errorx666 Will it be possible for you to use environment, global or collection variables instead of path variables? That is the more recommended way of using variables.

[2018-06-29 12:43] harryi3t commented on #4415
Closing due to inactivity. If you still facing the issue, feel free to reopen with the data as requested in the above comment

[2018-06-29 12:43] #4415 closed, assigned to harryi3t

[2018-06-29 12:47] harryi3t commented on #4409
Closing due to inactivity. If you still facing the issue, feel free to reopen with the data as requested in the above comment

[2018-06-29 12:47] #4409 closed, assigned to harryi3t

[2018-06-29 12:48] SamvelRaja commented on #2800
This issue has been fixed in our latest 6.1.4.

[2018-06-29 12:48] #2800 closed, assigned to SamvelRaja

[2018-06-29 12:53] numaanashraf commented on #3524
@walterpinson Are you still facing this issue with our latest version v6.1.4?

[2018-06-29 12:53] sujayvenaik commented on #4750
@puffluna

Try installing the chrome app again if you can get the data.

If not, and you use the Chrome app, head to `chrome://indexeddb-internals/` and search for `fhbjgbiflinjbdggehcddcbncdddomop`. You should see two folders listed - you can create a zip file with the contents of those folders, and email them to help@getpostman.com. We should be able to recover your data.

Do let me know if you

[2018-06-29 12:54] #4217 closed, assigned to numaanashraf, thecuriousdev, preethammavin

[2018-06-29 12:54] SamvelRaja commented on #2730
@stephan-nordnes-eriksen I tried checking in 6.1.4, It does sending the Content-Length header.

[2018-06-29 12:54] #2730 closed, assigned to SamvelRaja

[2018-06-29 12:56] sujayvenaik commented on #4680
Duplicate issue for
https://github.com/postmanlabs/postman-app-support/issues/3920

[2018-06-29 12:56] #4680 closed, assigned to sujayvenaik

[2018-06-29 12:56] numaanashraf commented on #3392
@RDeluxe @voycey Are you still facing this issue?

[2018-06-29 13:00] sivcan commented on #2815
@pierre0505 The latest version of the postman i.e. v6.1.4 does not have this issue anymore.

I tried the following:
![image](https://user-images.githubusercontent.com/12631777/42093550-6127a15a-7bca-11e8-92d5-891456d502ee.png)

Kindly upgrade to the latest version and let us know if the issue still persists for you.

[2018-06-29 13:00] #2815 closed, assigned to sivcan

[2018-06-29 13:00] harryi3t commented on #4325
This does not seem to be a bug on Postman side. Postman is correcting sending the data and has no control over how the server is parsing it.

[2018-06-29 13:05] prashantagarwal commented on #4333
Related to #3463

[2018-06-29 13:05] #4333 closed, assigned to prashantagarwal

[2018-06-29 13:05] harryi3t commented on #4320
It an expected behaviour. We don't save the file path for security reasons.

[2018-06-29 13:08] SamvelRaja commented on #4637
In order to support Linux auto update, we changed our directory structure which cascaded this effect.
I would recommend to replace `Icon=/PATH_TO_POSTMAN/Postman/app/resources/app/assets/icon.png` with `Icon=/PATH_TO_POSTMAN/Postman/resources/app/assets/icon.png` in the desktop file as @Ludim  suggested.

[2018-06-29 13:11] kamalaknn commented on #3861
Hi,

I would suggest using the new `{{variable}}` syntax in these cases. The newer syntax has better support for these cases and has better features.

All you would have to do is convert `http://:host/` to `http://{{host}}/`.

[2018-06-29 13:11] #3861 closed, assigned to harryi3t, kamalaknn, preethammavin

[2018-06-29 13:11] numaanashraf commented on #3973
This issue is fixed and verified in Postman v6.1.4.

[2018-06-29 13:11] #3973 closed, assigned to harryi3t

[2018-06-29 13:11] sivcan commented on #3025
@jayanthktn @clarkeb Are you guys still facing this issue on the latest version of the postman app viz v6.1.4?

Note: If you toggle SSL in the settings then you need to close the runner window and relaunch it for the SSL settings to be applied.

Let us know if you're still facing this.

[2018-06-29 13:13] kamalaknn commented on #4461
Hi @tlycken

I'm closing this due to inactivity. Please provide some resources to reproduce this if this still exists.

[2018-06-29 13:15] numaanashraf commented on #3991
This issue is fixed and verified in Postman v.6.1.4

[2018-06-29 13:15] #3991 closed, assigned to harryi3t

[2018-06-29 13:18] SamvelRaja commented on #4555
Since this issue has the most bundled context of the encoding issues people facing, I am referencing this and closing all the other ones and will take a deep look and will come up with the more generic solution sooner.

[2018-06-29 13:18] brianbellon commented on #4321
I'll have to apologize for not getting screen shots when I saw the issue before.  If it ever happens again, I'll be sure to do so.  Thanks for looking into this.

[2018-06-29 13:19] SamvelRaja commented on #4507
We are following a master thread #4555 to track all issues related to Url encoding. Please follow that issue for updates.

[2018-06-29 13:19] #4507 closed, assigned to SamvelRaja

[2018-06-29 13:19] SamvelRaja commented on #4444
We are following a master thread #4555 to track all issues related to Url encoding. Please follow that issue for updates.

[2018-06-29 13:19] #4444 closed, assigned to SamvelRaja

[2018-06-29 13:19] SamvelRaja commented on #3816
We are following a master thread #4555 to track all issues related to Url encoding. Please follow that issue for updates.

[2018-06-29 13:19] #3816 closed, assigned to SamvelRaja

[2018-06-29 13:20] SamvelRaja commented on #3329
We are following a master thread #4555 to track all issues related to Url encoding. Please follow that issue for updates.

[2018-06-29 13:20] #3329 closed, assigned to SamvelRaja

[2018-06-29 13:20] SamvelRaja commented on #3382
We are following a master thread #4555 to track all issues related to Url encoding. Please follow that issue for updates.

[2018-06-29 13:20] #3382 closed, assigned to SamvelRaja

[2018-06-29 13:20] SamvelRaja commented on #3039
We are following a master thread #4555 to track all issues related to Url encoding. Please follow that issue for updates.

[2018-06-29 13:20] #3039 closed, assigned to SamvelRaja

[2018-06-29 13:21] kamalaknn commented on #4386
@bsmurrell

Can you open Postman Console `View -> Show Postman Console` and check if there are any errors?

[2018-06-29 13:22] magdazacharska commented on #3814
No, I don't experience this problem anymore.  I upgraded Postman multiple time since I reported the issue.  I'm currently on Version 6.1.4 .

[2018-06-29 13:22] SamvelRaja commented on #2517
We are following a master thread #4555 to track all issues related to Url encoding. Please follow that issue for updates.

[2018-06-29 13:22] #2517 closed, assigned to SamvelRaja

[2018-06-29 13:26] kheengz commented on #3117
Wish this Feature Request: **Add ability to define required/optional fields/headers and field types** will be added soon

[2018-06-29 13:26] SamvelRaja commented on #4382
Closing this on inactivity on the original problem faced by the creator.

[2018-06-29 13:26] #4382 closed, assigned to SamvelRaja

[2018-06-29 13:29] EasyMilos commented on #4627
Not sure if this is relevant to this particular issue or not, but it is found that CRL was not configured properly for the "Intermediate Root CA", and Powershell's Test-Certificate cmdlet was giving warning CERT_TRUST_REVOCATION_UNKNOWN for it, even though all other applications accepted it as valid. Given this new finding, it might not be "duplicate" of the the "UNABLE_TO_GET_ISSUER_CERT_LOCALLY"

[2018-06-29 13:31] SkyGanfor commented on #4296
@amitbpal Just close the postman program and open it again. Probably should have used better wording than reboot :)

[2018-06-29 13:31] SamvelRaja commented on #3279
Duplicate of #3135

[2018-06-29 13:31] #3279 closed, assigned to thecuriousdev

[2018-06-29 13:34] harryi3t commented on #2767
@dvishniakov Chrome app is deprecated. Can you test this in the native apps?
You can download it from https://www.getpostman.com/apps

[2018-06-29 13:34] harryi3t commented on #2855
@takemori-san Can you try this with the latest version of Postman 6.1.4?

[2018-06-29 13:35] numaanashraf commented on #3865
@KwangzSan Thanks a lot for the sample endpoint. We were able to replicate this and it seems to be a bug. We are looking into the root cause and working on a possible fix.

[2018-06-29 13:36] aksbenz commented on #4320
I Never mentioned the file path.....
Your own docs say that it is supposed to have the filename in src and the file with that name should be present at the location where newman is executed from.

That is what I am talking about. Even that is not happening currently. On exporting the collection evem the file namr is gone, and the whole api tests for file upload become useless.

Do you have any way

[2018-06-29 13:37] SamvelRaja commented on #3098
Duplicate of #3697

[2018-06-29 13:37] #3098 closed, assigned to SamvelRaja, thecuriousdev

[2018-06-29 13:38] a85 commented on #4320
@aksbenz I hear you.

@harryi3t @shamasis We can look into keeping the filename there and probably use a configuration in Postman/newman for the base path. What do you think?

[2018-06-29 13:38] a85 commented on #4320
@harryi3t Please link other issues to this thread.

[2018-06-29 13:40] amitbpal commented on #4296
@SkyGanfor I did this many times but no luck :(

[2018-06-29 13:46] harryi3t commented on #4609
This is being tracked here now https://github.com/postmanlabs/postman-app-support/issues/4320

[2018-06-29 13:48] SamvelRaja commented on #2979
Closing this in-favor of https://github.com/postmanlabs/postman-app-support/issues/4594#issuecomment-391601621 workaround.

[2018-06-29 13:48] #2979 closed, assigned to SamvelRaja

[2018-06-29 13:49] harryi3t commented on #3740
This is being tracked here https://github.com/postmanlabs/postman-app-support/issues/4320

[2018-06-29 13:49] #3740 closed, assigned to SamvelRaja, thecuriousdev

[2018-06-29 13:53] amitbpal commented on #4296
@SkyGanfor  is there any other way that I can run my collection again . :(

It's very urgent. please help me.

[2018-06-29 13:53] beranradek commented on #1744
+1

[2018-06-29 13:55] harryi3t commented on #3621
This is being tracked here https://github.com/postmanlabs/postman-app-support/issues/4320

[2018-06-29 13:55] #3621 closed, assigned to a85

[2018-06-29 13:56] harryi3t commented on #2331
This is being tracked here https://github.com/postmanlabs/postman-app-support/issues/4320

[2018-06-29 13:56] #2331 closed, assigned to a85

[2018-06-29 13:58] SamvelRaja commented on #2673
Tracking in #4320

[2018-06-29 13:58] #2673 closed, assigned to SamvelRaja

[2018-06-29 14:01] SamvelRaja commented on #2497
We are following a master thread #4555 to track all issues related to Url encoding. Please follow that issue for updates.

[2018-06-29 14:01] #2497 closed, assigned to SamvelRaja, preethammavin

[2018-06-29 14:08] harryi3t commented on #3492
@kdcarlisle42 Is there any proxy enabled on your system? Also, proxy related environment variables are already picked up by Postman. You can check this in your terminal
[code]

[2018-06-29 14:11] jedrennen commented on #4262
This should be reopened...I am having the issue as well on Windows 8.1, Postman v6.1.4.  The chrome of the application shows up, but all black otherwise. CPU usage spikes (so CPU fan on my X1 carbon ramps up), mouse cursor blinking and choppy.  If I am very patient (waiting 5 or more minutes) it seems to open up.  I tried removing Postman everywhere and doing as clean of an install as possible and

[2018-06-29 14:17] guilhermepaula opened #4752 "Can't manage more than 8 presets headers"
I have some headers presets configured and since some versions ago I can't manage them. The menu opens behind the window if has more than 8 presets.

I'm using the lastest version (6.1.4) and it occurs in macOS and Ubuntu.

![screen shot 2018-06-29 at 11 04 11](https://user-images.githubusercontent.com/5208238/42097202-e652651e-7b8d-11e8-8836-d31742d86fa2.png)

[2018-06-29 14:22] puffluna commented on #4750
The chrome app is no longer available.  I don't want the collections that were saved in that app.  Is there a way to recover what I had saved in the native app?

Sent from my Verizon, Samsung Galaxy smartphone

-------- Original message --------
From: Sujay Venaik <notifications@github.com>
Date: 6/29/18 8:53 AM (GMT-05:00)
To: postmanlabs/postman-app-support <postman-app-support@noreply.github.co

[2018-06-29 14:47] science695 commented on #4747
It will now sync, looks like you fixed something serverside. Thanks!

@tlair123, is your issue still happening?

[2018-06-29 14:47] puffluna commented on #4750
I installed the chrome app and no collections

Sent from my Verizon, Samsung Galaxy smartphone

-------- Original message --------
From: Sujay Venaik <notifications@github.com>
Date: 6/29/18 8:53 AM (GMT-05:00)
To: postmanlabs/postman-app-support <postman-app-support@noreply.github.com>
Cc: puffluna <jjoliat@hotmail.com>, Mention <mention@noreply.github.com>
Subject: Re: [postmanlabs/postman-app-s

[2018-06-29 15:07] oliverjanik commented on #4555
Wow, what a mess. Why is it hard to follow the spec?

[2018-06-29 15:29] mpawlow commented on #4360
Thanks @kamalaknn

Are the aforementioned fixes / optimizations in **v6.1.4** or another release not yet in the update stream?

Unfortunately, I am still experiencing the divergent **RESOLVE SYNC CONFLICTS** issues with **request** and **environment** _Item Types_ mentioned in https://github.com/postmanlabs/postman-app-support/issues/4360#issuecomment-397837186

[2018-06-29 15:56] smacktoid commented on #3424
I can't see the issue when navigating through my API using the native client. Good job!

[2018-06-29 16:14] skaboy71 commented on #1429
Just used this.... LOVE !!   ^v^  (ړײ)

[2018-06-29 16:31] aaroncarsonart commented on #2905
+1

[2018-06-29 16:32] tlair123 commented on #4747
It is working now.  I uninstalled the software and reinstalled from 2 versions ago.  I lost everything because the sync wouldn’t work.  And it still went blank.
And then an hour later everything showed up, and the screen doesn’t go blank anymore.  I wish I could take credit.

Thanks

Tom Lair
Senior Business Systems Analyst, Buyer Management
708-492-7918

Insurance Auto Auctions  IAAI.COM
Two West

[2018-06-29 16:35] k-dahl commented on #4463
@vkaegis my scenario was more duplicating the tab as a starting point for a variation on the request, like say a POST with valid data vs invalid... but we'd need to differentiate these variations by name. Maybe there's a better way to do this with Postman that I'm just unaware of right now. I don't know of any scenario where we'd want to duplicate a tab/request and not be able to identify it by wh

[2018-06-29 16:59] dvishniakov commented on #2767
@harryi3t if the Chrome app is deprecated, let's just close this bug then.

[2018-06-29 17:01] ryanharmaning opened #4753 "Ability to use Client Certs Programmatically"
Currently, use of Client Certs in Postman requires manually saving and pointing to a physical file accessible to the local system.

For apis that use Cert-based auth (where certs are generated repeatedly) and in which subsequent api calls are dependent, this is a slow, manual process that also prevents any sort of automation for test suites that require these constantly changing certs.

Propose a

[2018-06-29 17:05] prashantagarwal commented on #4747
@science695 @tlair123 I am closing this issue. Let me know if you encounter this again.

[2018-06-29 17:05] #4747 closed, assigned to prashantagarwal, sivcan

[2018-06-29 17:06] CapitalDecay commented on #1104
+1

[2018-06-29 17:07] prashantagarwal commented on #3814
Cool, closing this issue then. Let me know if you face this again in future.

[2018-06-29 17:07] #3814 closed, assigned to prashantagarwal

[2018-06-29 17:10] #2767 closed, assigned to a85, harryi3t, preethammavin

[2018-06-29 17:11] prashantagarwal commented on #3424
Awesome. I am closing this issue for now but please let us know if you face this issue again

[2018-06-29 17:11] #3424 closed, assigned to nobody

[2018-06-29 17:14] prashantagarwal commented on #4752
Duplicate of #4748

[2018-06-29 17:14] #4752 closed, assigned to nobody

[2018-06-29 17:17] prashantagarwal commented on #4752
@guilhermepaula We have fixed this and released it on our canary apps for now. It will soon be available for the Postman app itself in next release. You can download canary apps from https://www.getpostman.com/canary

[2018-06-29 17:29] suvaraj commented on #3799
permissions are in those folder's I am able to create the files without any issue.

[2018-06-29 17:59] ghost commented on #4423
It would be very inconvenient to do so, as `threadId` would need to change frequently (each request).

I'm working with a platform (Telligent Community Server) that uses this URL format for all of its APIs: `.json` suffix for a JSON response, `.xml` suffix for an XML response.

[2018-06-29 18:29] TomONeill commented on #4320
@harryi3t
I agree that it is a possible security concern, but looking at the usage of the feature, it's very, very minor to me. You could task yourselves with some extra work by adding a checkbox to the user interface that's labeled to something like "keep the (relative) path of this file in exports", to make the src property value exportable which is defaulted to off, if that helps with the secur

[2018-06-29 18:44] shamasis commented on #229
Latest app seems to be parsing jsonp while showing preview just fine. I have added a tiny utility function `response.jsonp()` inside sandbox to extend this. That should complete everything around JSONP.

PS: We obviously (at least to me) cannot do anything about executing the callback JS function of jsonp since this is an API response and not running in a browser. It is not meant to be executed in

[2018-06-29 18:45] shamasis commented on #229
This issue can be closed since PR https://github.com/postmanlabs/postman-collection/pull/674 will go into app in upcoming versions.

[2018-06-29 18:50] mvelebit commented on #1638
For all still seeking help, this is not related to Postman, Laravel has this weird behaviour which **still** hasn't been fixed, send a request with an HTTP POST method, but set a _method PUT flag in order to access your FormData.

[2018-06-29 18:56] harryi3t commented on #4704
@JacobAMason I have a hunch that this could be coz of cookies. In Postman 6.1.3 there was an issue with saving secure cookies. I am guessing that making the login request was also persisting a secure cookie and using this cookie other end-points were working.
This has been fixed in 6.1.4. Can you kindly try this out in 6.1.4 and let me know if this has been fixed?

[2018-06-29 19:00] harryi3t commented on #4384
Duplicate of https://github.com/postmanlabs/postman-app-support/issues/4070

[2018-06-29 19:00] #4384 closed, assigned to harryi3t

[2018-06-29 19:07] JacobAMason commented on #4704
That appears to have been the issue. Everything seems to be working fine in 6.1.4. Thanks!!

[2018-06-29 19:22] gabokr commented on #4723
yes, I tried to rename several times but it stayed the same.
What happened just like 2 days ago was, that when my colleague renamed the
same collection, then the change got visible in the web and also in my
local Postman on Mac.

On Thu, 28 Jun 2018 at 10:07, Numaan Ashraf <notifications@github.com>
wrote:

[2018-06-29 19:26] harryi3t commented on #3733
@protegesolutions Can you help us by providing the details about the auth provider? Is it publicly available?

[2018-06-29 19:34] harryi3t commented on #4643
@markbeij When you change the callback URL to your `preferred callback url` do you also change the same in the settings where your application is registered? (Setting page on the auth provider)

Can you give me more information about your auth provider? Is it publicly available for testing?

[2018-06-29 19:44] harryi3t commented on #4427
@AbdelrahmanHafez I am sorry for misunderstanding the issue.
Here's what I tried to reproduce the issue.
1. Save a request with arabic contents in the body and let it sync with Postman server
2. Sign-out. This will delete all data from the local system
3. Sign-in back. This will pull the data from Postman servers.

After these steps, I am still able to see the characters properly. Let me know if I

[2018-06-29 20:12] Madhini-QA-compeat opened #4754 "Ability to save form-data when i want to attach file fails"
**Describe the bug**
Ability to save form-data when i want to attach file fails Post attaching file to form-data the saved file is not visible

**To Reproduce**
Steps to reproduce the behavior:
1. I created a POST
2. in Body i choose form-data
3. Attached a file
4. Saved the POST
5. When i reopened the file was missing

**Expected behavior**
the saved file should be there in form-data

**App infor

[2018-06-29 20:19] sujayvenaik commented on #4750
@puffluna
If you would have enabled syncing you would surely get your collections back once you login back with the same account you used earlier.

Can you login back with the same account (logout and login again if already login), and check in the native app.
Also please let us know the color of the syncing icon present on the top bar. (Image attached)
<img width="79" alt="screen shot 2018-06-30

[2018-06-29 20:28] Aporrasniche opened #4755 "Folder level code is hidden until text box is clicked"
**Describe the bug**
Folder level code is not displayed until the text box is clicked

**To Reproduce**
Steps to reproduce the behavior:
1. Inside a `Test Collection` create a folder to contain any tests within the collection
2. Edit the new (or already existing) folder and add any code to run at the folder level such as:
[code]
3. Click `Update`
4. Select the above folder and edit again
5. Select

[2018-06-29 23:13] a85 commented on #3264
Chrome apps are deprecated. Please move to the native app for bug fixes and better support.

[2018-06-29 23:13] #3264 closed, assigned to thecuriousdev, preethammavin

[2018-06-30 01:08] thetreythomas commented on #4418
@vkaegis - Yes, I have. Workspaces has for sure helped de-clutter things. I got my team using Workspaces now as well to help organize testing with specific releases/platforms.

It has cut down on the possible length of the environments, but I can still see a need to be able to organize the environments in some way besides A-Z and Z-A.

Maybe be able to mark it as a favorite, or have them display l

[2018-06-30 10:33] sonaskyla12 opened #4756 "unauthorized user after sending request to postman identity of user is not displayed on console"
===>my code under passport.js
const JwtStrategy = require('passport-jwt').Strategy;
const ExtractJwt = require('passport-jwt').ExtractJwt;
const mongoose = require('mongoose');
const User = mongoose.model('users');
const keys = require('../config/keys');

const opts = {};
opts.jwtFromRequest = ExtractJwt.fromAuthHeaderAsBearerToken();
opts.secretOrKey = keys.secretOrKey;
module.exports = passport

[2018-06-30 13:12] vkaegis commented on #4418
@thetreythomas Got it. I'm gonna keep this as a feature request for the mid-term roadmap. No ETA just yet, but we're working on a whole bunch of improvements around working with variables, so we'll be revisiting this problem soon. Thanks again for taking the time to reply!

[2018-06-30 13:16] AbdelrahmanHafez commented on #4427
You did not.

This alone doesn't reproduce the issue, it usually happened a couple of weeks after saving, I just checked the collection and I found things that I saved months ago haven't changed, so I guess it's fixed. Will comment here if it reoccurs.

[2018-06-30 13:16] #4427 closed, assigned to harryi3t

[2018-06-30 13:21] vkaegis commented on #4463
@blitzd Understood. Duplicating a tab actually works differently from duplicating a request. Where duplicating a tab just creates another instance pointing to the same request, duplicating a request actually creates a new request with the same contents as the previous request. So in your use case, you might be better served by duplicating the request in the sidebar than by duplicating the tab.

An

[2018-06-30 13:25] vkaegis commented on #1429
@skaboy71 Awesome. We'll be working on iterating and improving on this feature in the coming versions. Let us know if you have any feedback.

[2018-06-30 13:57] vkaegis commented on #4588
@yavgel @Anupam2303 Apologies for the confusion here. As @harryi3t mentioned, the CSV file was meant to be selected in the Runner, and not imported in Postman using the Import button. This seems to be a misdirection in our documentation, so reopening this until that is fixed.

[2018-06-30 14:13] vkaegis commented on #3089
Hey guys! Been a while since this issue has been updated. As you all probably know, you can now order requests in folders whichever way you like.

@chiragpurohit71085 There isn't a way to select multiple requests in the Collections tab of the sidebar just yet. Bunch of technical limitations blocking us from releasing that as of now. But rest assured this is in our plans for the immediate future.

[2018-06-30 14:13] #3089 closed, assigned to vkaegis

[2018-06-30 14:17] vkaegis commented on #3502
Thanks for all the feedback around this guys!

@rchupick @poisa Yes, the diffs are available in the Postman app. That said only changes to the request definition (headers, url etc) are tracked right now. We're working on expanding this, and improving the idea and representation of revisions / changelogs, so stay tuned for more updates around this.

[2018-06-30 14:23] vkaegis commented on #2838
@mtoothman @rajki Just adding to the clarification by @madebysid. Duplicating a tab actually works differently from duplicating a request. Where duplicating a tab just creates another instance pointing to the same request, duplicating a request actually creates a new request with the same contents as the previous request. So in some use cases, you might be better served by duplicating the request

[2018-06-30 14:26] vkaegis commented on #4589
@gfigueroa Thanks for the screenshots, and apologies for the delay on this. @prashantagarwal could you take a look at this?

[2018-06-30 22:28] glenpike commented on #4320
Ditto for @TomONeill's comment, but to add to the use-case we don't wish to use the src path in Postman, we just don't want it deleted when exporting a collection from Postman.  We only use relative paths in src, but we don't use the files when we are actually using Postman - we've moved beyond these entries and are adding new tests, but every time we export, we have to then go through the diff, f

[2018-06-30 22:31] a85 commented on #4320
@TomONeill @glenpike I mean the relative path only. I have been thinking about the base path as a configuration option in Postman/newman so that the software knows where to determine what the path stored in the file is relative to. This will not be part of exported files and hence should not be a security issue.

@shamasis @harryi3t Am I correct in my understanding here and if yes, can we make thi

[2018-06-30 22:32] a85 commented on #4756
Please use the issue tracker guidelines and clarify what exactly are you trying to achieve here.

[2018-06-30 22:33] glenpike commented on #4320
I'd suggest the base path can be worked around by using a Postman variable if necessary, so is not something that is needed?

`src: '{{base-path}}relative-path/to/my/file.txt'`

[2018-06-30 22:35] a85 commented on #4320
That's a good idea. But, it will then need to be added and might just fit better if we keep the behavior as configuration for the runtime itself. Will consider this while implementing this.

[2018-06-30 22:50] a85 commented on #2707
@preethammavin @vkaegis A quick fix here would be to let people define mappings from their keyboard to what Postman sees as Ctrl/Alt/Option keys. We can do configurable shortcuts later.

[2018-06-30 22:55] TomONeill commented on #4320
@glenpike
Whoops. That was totally what I meant too and probably what @harryi3t meant by security risk... I wasn't thinking clear.
Yeah, I don't need it in Postman either, just the export with a relative path. We use a PS script that looks roughly for `src: ""` strings and puts in the same file location string over an over again, but it's not ideal and it's harder for when we want to use different

[2018-06-30 23:02] a85 commented on #619
Closing this as we haven't seen traction on this request. We are working on modularizing Postman to support plug-ins using which custom renderers could be built supporting this feature and others. :)

[2018-06-30 23:02] #619 closed

[2018-06-30 23:03] a85 commented on #1974
Closing this as we haven't seen traction on this feature request. We are working on modularizing Postman to support plug-ins using which this feature can be built.

[2018-06-30 23:03] #1974 closed, assigned to a85

[2018-06-30 23:04] a85 commented on #2419
Closing this as we haven't seen traction on this feature request. We are working on modularizing Postman to support plug-ins using which this feature can be built in the future.

[2018-06-30 23:04] #2419 closed, assigned to a85

[2018-06-30 23:04] a85 commented on #2046
This is coming soon through role based control.

[2018-07-01 02:56] chiragpurohit71085 commented on #3089
Hi

In which version this feature has been introduced. I am having postmam
6.1.3 and not able to find any feature of sorting. I checked setttings for
collection i.e 3 dots on right side of collection...

On Sat 30 Jun, 2018, 7:43 PM Vineet Kumar, <notifications@github.com> wrote:

[2018-07-01 04:22] vkaegis commented on #3089
@chiragpurohit71085 I meant that you can manually drag requests and sort them in any order you prefer.

[2018-07-01 04:30] chiragpurohit71085 commented on #3089
Oh , okay.

On Sun 1 Jul, 2018, 9:52 AM Vineet Kumar, <notifications@github.com> wrote:

[2018-07-01 08:27] greghesp commented on #3822
+1

[2018-07-01 11:09] pavankumar-dv commented on #1535
+1 conceptually an ability to symlink folders/requests even collections to avoid duplication.
i believe this is the major disadvantage for postman.

[2018-07-01 14:41] nguyenthinam commented on #1607
I found another solution here while waiting postman support.

1. [Load Crypto Library for RS256](https://github.com/kjur/jsrsasign/issues/199)
- Create a GET request with URL: http://kjur.github.io/jsrsasign/jsrsasign-latest-all-min.js
- In the `Tests` tab, paste this one:
[code]
2. Use SHA256withRSA to sign JWT in your Authentication request. Paste the following script in `Pre-request Script` (**

[2018-07-01 15:56] jkleckner commented on #3720
This seems to work in version 6.1.4.

[2018-07-01 16:01] prashantagarwal commented on #3720
Cool, Thanks for confirming this.

[2018-07-01 16:01] #3720 closed, assigned to prashantagarwal, preethammavin

[2018-07-01 16:05] prashantagarwal commented on #4589
@gfigueroa We have released a fix for this on our canary apps. Can you please verify it. You can download canary app from https://www.getpostman.com/canary

[2018-07-01 16:34] a85 commented on #2935
Thanks for the feature request. This is coming through sessions. RFC here: https://community.getpostman.com/t/sessions-in-postman/1925

Tracking the request elsewhere.

[2018-07-01 16:34] #2935 closed, assigned to a85

[2018-07-01 16:38] #1461 closed, assigned to a85

[2018-07-01 16:53] a85 commented on #1144
Pre request scripts should help here. We are working on a plugin framework to make developing features like this even easier. Closing this for now.

[2018-07-01 16:53] #1144 closed, assigned to a85

[2018-07-01 17:01] a85 commented on #3968
These should be fixed in our latest versions. The Chrome app is deprecated and bug fixes are in the native app.

[2018-07-01 17:01] #3968 closed, assigned to prashantagarwal

[2018-07-01 17:01] #4456 closed, assigned to thecuriousdev

[2018-07-01 17:04] a85 commented on #1025
Closing this as we plan to enable this using plugins.

[2018-07-01 17:04] #1025 closed, assigned to nobody

[2018-07-01 17:05] a85 commented on #777
This is very specific to the API call and unfortunately we don't have plans to support this.

[2018-07-01 17:05] #777 closed

[2018-07-01 17:05] #1864 closed, assigned to nobody

[2018-07-01 17:16] SleeplessByte commented on #3335
Having the same issue as @seabamirum . Some of the responses simply don't show at all; some of them show correctly.

[2018-07-01 17:22] #3984 closed, assigned to sdnts

[2018-07-01 17:23] #3648 closed, assigned to shamasis, loopDelicious

[2018-07-01 17:27] a85 commented on #4566
Please email help@getpostman.com with your account details for connectivity issues.

[2018-07-01 17:27] #4566 closed, assigned to elssar

[2018-07-01 21:51] ben-eichler-abcs commented on #4169
@vkaegis Thanks for the post. I'll keep an eye out for this update ;)

[2018-07-01 21:52] jlurena commented on #2729
+1

[2018-07-02 01:15] godfrzero commented on #3335
@seabamirum @SleeplessByte Does this issue persist? Usually, examples not showing up at all means that the collection hasn't finished syncing completely.

@rylancates The order of the examples rendering the documentation match the order in the app (or, they do now). Whether or not the example is expandable/scrollable depends on the length of the content.

[2018-07-02 03:11] chuck-wood commented on #1535
+1

While `setNextRequest` is a viable workaround, it really defeats the strength of Postman, which is its GUI.

[2018-07-02 04:13] i906 opened #4757 "OAuth 2.0 access token dropdown cut off"
**Describe the bug**
Unable to scroll the available token list when there are a lot of saved tokens.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Auth Tab and select OAuth 2.0
2. Create a lot of OAuth 2.0 access tokens
3. Click on available tokens dropdown
4. Attempt to scroll to select other access tokens
5. Notice scroll not responding

**Expected behavior**
I should be able to sc

[2018-07-02 05:31] prashantagarwal commented on #4757
Related to #4748
We have fixed this and released it on our canary apps for now. It will soon be available for the Postman app itself in next release. You can download canary apps from https://www.getpostman.com/canary

[2018-07-02 05:31] #4757 closed, assigned to nobody

[2018-07-02 05:48] harryi3t commented on #4427
For any user landing on this page in future, around 6 months back we migrated our database to use Unicode characters.
For any new collection/request, this should not happen anymore.

[2018-07-02 05:59] prashantagarwal commented on #4403
Duplicate of #2940

[2018-07-02 05:59] #4403 closed, assigned to prashantagarwal

[2018-07-02 06:00] prashantagarwal commented on #3575
Related to #3463

[2018-07-02 06:00] #3575 closed, assigned to prashantagarwal, preethammavin

[2018-07-02 06:16] kamalaknn commented on #4423
Hi @errorx666

We could see two parts to this issue.

1. The variable in URL `https://example.com/api.ashx/v2/threaddata/:threadId.json` is not replaced. We will look into this. But since there is no proper specification on this format of templating there could be more of these scenarios that aren't defined how it should behave.
2. The alternative is to use the `{{variable}}` syntax. To use them y

[2018-07-02 06:25] SamvelRaja commented on #4272
@serg1409 Thanks for raising your concern to us. We will update this thread once it is done from our end.

[2018-07-02 06:28] SamvelRaja commented on #4514
@brunodles @barotashish  Recommending you guys to install `libgconf-2-4` as @seantcanavan  suggested.

[2018-07-02 06:53] SamvelRaja commented on #4422
@blueelvis  I could see that you have invalid characters in headers. Additionally,
 I would recommend you to open Postman console (View -> Show Postman Console ) before sending the request.
![capture](https://user-images.githubusercontent.com/5114052/42149149-aa185e70-7df2-11e8-8ff7-399b5f65293a.PNG)

[2018-07-02 07:05] SamvelRaja commented on #3799
@suvaraj  By any chance, you have the `APPDATA` environment variable in your system?
The installer tries to install the app in `%APPDATA%../local/Postman` folder.

[2018-07-02 07:05] adarsh3092 commented on #2801
+1

[2018-07-02 07:29] SamvelRaja commented on #4269
@zhanpengli  I would recommend you to open Postman Console(View -> Postman Console) which gives you more insight into the request sent from Postman.

[2018-07-02 07:37] SamvelRaja commented on #3642
Closing this due to inactivity.

[2018-07-02 07:37] #3642 closed, assigned to SamvelRaja

[2018-07-02 07:39] sujayvenaik commented on #3454
Hey,
@florinciubotariu

Can you update the app to the latest version and try this ?
I tried but could not re produce on the latest version of the app.

You can download the app from https://www.getpostman.com/apps

[2018-07-02 07:41] harryi3t commented on #4711
@johnradke Yes, this is actually a duplicate of https://github.com/postmanlabs/postman-app-support/issues/4355
Please subscribe to the original issue for any updates.

[2018-07-02 07:41] sivcan commented on #4650
Closing this issue since it's an intended behavior.
Kindly use the `pm.test` format to write your tests if display order is necessary for you.

Thanks!

[2018-07-02 07:41] #4650 closed, assigned to sivcan

[2018-07-02 07:44] SamvelRaja commented on #4235
@grexe  I can see that the request is sent only once in Postman Console.
![capture](https://user-images.githubusercontent.com/5114052/42151198-cf78c27a-7df9-11e8-8d3f-b0f77efdd8de.PNG)
For encoding issue, requesting you to subscribe to #4555

[2018-07-02 07:44] #4235 closed, assigned to SamvelRaja

[2018-07-02 07:46] prashantagarwal commented on #4696
Related to #4618

[2018-07-02 07:46] prashantagarwal commented on #4649
Related to #4748

[2018-07-02 07:46] #4649 closed, assigned to prashantagarwal

[2018-07-02 07:46] harryi3t commented on #3661
Closing due to inactivity. Feel free to re-open the issue with the data requested in the above comment.

[2018-07-02 07:46] #4741 closed, assigned to thecuriousdev

[2018-07-02 07:47] SamvelRaja commented on #4272
Tracking it in https://github.com/postmanlabs/postman-app-support/issues/4253

[2018-07-02 07:47] #4272 closed, assigned to vkaegis

[2018-07-02 07:48] prashantagarwal commented on #4618
Related to #4748

[2018-07-02 07:48] #4618 closed, assigned to prashantagarwal

[2018-07-02 07:55] SamvelRaja commented on #3918
@stevoisiak  We had updated our updater to provide proper bubbling up of errors from the background. You can update the app to our latest 6.1.4 to avail it.
https://www.getpostman.com/docs/v6/postman/launching_postman/installation_and_updates#updating-postman

[2018-07-02 07:55] #3918 closed, assigned to SamvelRaja

[2018-07-02 08:01] Edunga1 commented on #2648
@numaanashraf Sorry, I'm too late. it has been resolved on v6.1.4! thank you.

[2018-07-02 08:01] #2648 closed, assigned to prashantagarwal

[2018-07-02 08:03] florinciubotariu commented on #3454
Hello @sujayvenaik
I can confirm this does not reproduce anymore.

[2018-07-02 08:08] prashantagarwal commented on #4549
@jesperhoy We are tracking all these encoding decoding issues in #4555 . I will keep you updated about this anyways.

[2018-07-02 08:08] #4549 closed, assigned to vikiCoder

[2018-07-02 08:15] #3454 closed, assigned to sujayvenaik

[2018-07-02 08:19] harryi3t commented on #4364
@lunicorn-x64 I tried reproducing the issue. It's true that for 2nd iteration (and more) only one request is sent. But, that is because the client is already authenticated with the server.
Postman will only send a 2nd request when the server returns with a status code of 401 and with header `www-authenticate:"Digest ..."`

If this is not the case, meaning Postman is not sending the 2nd request irr

[2018-07-02 08:25] SamvelRaja commented on #4514
Related to https://github.com/electron/electron/issues/1518

[2018-07-02 08:32] sivcan commented on #4732
@schellem Follow this thread for updates regarding this issue https://github.com/postmanlabs/postman-app-support/issues/4696

Closing this.

[2018-07-02 08:32] #4732 closed, assigned to sivcan

[2018-07-02 08:32] prashantagarwal opened #4758 "Issues related to script/code editing and syntax highlighting."
**Describe the bug**
All issues related to code editing, syntax highlighting etc will be tracked in this issue. We want to get a holistic view about all these kind of similar issue and fix them.

[2018-07-02 08:32] prashantagarwal commented on #4118
Tracking in #4758

[2018-07-02 08:33] prashantagarwal commented on #3635
Tracking in #4758

[2018-07-02 08:33] #3635 closed, assigned to prashantagarwal, preethammavin

[2018-07-02 08:37] EasyMilos commented on #4726
Strange, I am not experiencing the same issue when I am testing locally from postman and https://localhost:SOMEPORT from visual studio. Are you sure that you have everything configured properly? Maybe the difference is that I run Visual Studio as administrator and have "localhost" cert in "Trusted Root Certification Authorities" user store and "Personal" machine store (where I believe VS added it)

[2018-07-02 08:39] prashantagarwal opened #4759 "Issues related to Cut / Copy / Paste inside Postman app"

[2018-07-02 08:40] prashantagarwal commented on #3904
Tracking in #4759

[2018-07-02 08:40] #3904 closed, assigned to prashantagarwal

[2018-07-02 08:40] prashantagarwal commented on #3849
Tracking in #4759

[2018-07-02 08:40] #3849 closed, assigned to prashantagarwal

[2018-07-02 08:41] jmatelet commented on #3977
Hi @harryi3t
As I said in my previous comment, I am still facing the issue.
I am still unable to request an Authorization Code  (display a blank screen as described) with postman app 6.1.4

The postman app needs a "request locally" checkbox that was removed since postman chrome extension... it is working very good with postman chrome extension but not with the postman app.

[2018-07-02 08:41] prashantagarwal commented on #2545
Tracking in #4759

[2018-07-02 08:41] #2545 closed, assigned to prashantagarwal

[2018-07-02 08:44] harryi3t commented on #3977
@jmatelet Thanks for the response. Is the auth provider public or is there any way I can test on this auth provider.

The checkbox was removed because now it's the default behavior.

Update:
Earlier when you tried opening the auth URL in a browser and when you successfully got the code, did the browser at any point showed a prompt for login asking for username/password?

[2018-07-02 08:50] EasyMilos commented on #4627
Strangely, this does not happen for anything, but "localhost" (similar to #4726), but this happens only with client certificate. Tested with the same kind of CA certificates that were not hitting "localhost" website was properly working from postman with "SSL certificate verification" turned on.

[2018-07-02 08:52] vkaegis commented on #3663
@mattcanty Thanks for writing in! Private documentation within the team is available through the "View in Web" button in the desktop app, and by clicking on a collection name in the web app. If a collection has been shared in a team workspace, everyone in the team can automatically access it's documentation this way. Does this solve your use case?

Public documentation is meant specifically for pu

[2018-07-02 09:21] agoerler commented on #166
+1 for MERGE

[2018-07-02 09:28] gorobets-da commented on #1228
+1

[2018-07-02 09:38] harryi3t commented on #4298
This is fixed

[2018-07-02 09:38] #4298 closed, assigned to harryi3t

[2018-07-02 09:52] SamvelRaja commented on #4642
@suur @lukasz-gosiewski  The link you provided is not officially supported by Postman. We support the platforms listed [here](https://github.com/electron/electron/blob/master/docs/tutorial/support.md#supported-platforms)

And  @WurstCommander  Kindly provide me more information on this.
Open the app via cmd, `C:\users\[USER]\AppData\Postman\app-6.1.4\Postman.exe` and show the logs you have. Additi

[2018-07-02 09:54] harryi3t commented on #2677
Please try out the latest version of Postman. It has the state parameter.
Please do me us know if you face any issue regarding this.

<img width="615" alt="postman" src="https://user-images.githubusercontent.com/5207331/42157641-df99dbaa-7e0b-11e8-8a6c-c64cd4c56537.png">

[2018-07-02 09:54] #2677 closed, assigned to SamvelRaja

[2018-07-02 09:54] SamvelRaja commented on #4701
@SparK-Cruz  is it possible to provide your system details. Also, I recommend you to follow the thread [here](https://github.com/postmanlabs/postman-app-support/issues/4359)

[2018-07-02 09:54] #4701 closed, assigned to a85, SamvelRaja, preethammavin

[2018-07-02 09:57] SamvelRaja commented on #4642
@alanatkinson can you confirm that this issue still persists in the latest version 6.1.4 version of the app.

[2018-07-02 09:58] kamalaknn commented on #4360
@mpawlow

The fixes are pushed in `6.1.4` release of the Postman. If you're still facing issues with syncing could you send an email to `help@getpostman.com` with your user details and steps to reproduce? Would be helpful to look at this with more context from user account information.

[2018-07-02 09:58] IlyaDhtvzGhbltn opened #4760 "Change Proxy settings while testing."
Not possible to reset proxy settings while testing. Example I need to change or clear proxy host/port without stopping the test - for now this is impossible. This feature would be very useful.

[2018-07-02 10:02] harryi3t commented on #3384
@markkimsal When the server responds with 401, which auth is it protected by (basic/digest/NTLM)?

[2018-07-02 10:03] harryi3t commented on #4627
@EasyMilos Can you try with 127.0.0.1 instead of localhost?

[2018-07-02 10:12] harryi3t commented on #4293
Related to https://github.com/postmanlabs/postman-app-support/issues/4320

[2018-07-02 10:12] #4293 closed, assigned to harryi3t

[2018-07-02 10:43] numaanashraf commented on #3134
@dimmg Are you still facing this issue in the latest version of Postman (v6.1.4)?

[2018-07-02 10:44] EasyMilos commented on #4627
Not really, because SSL certificate is tied to name, not IP.

[2018-07-02 10:47] numaanashraf commented on #4723
@gabokr Could you check if your Postman app has trouble connecting to our services? The Sync indicator on top-right should be orange.

<img width="62" alt="screen shot 2018-07-02 at 4 16 32 pm" src="https://user-images.githubusercontent.com/3295568/42160013-5e5cbec4-7e13-11e8-8dc3-e0270e47dd5a.png">

[2018-07-02 10:48] numaanashraf commented on #4760
Thanks for the feedback and feature request @IlyaDhtvzGhbltn.

[2018-07-02 10:53] dimmg commented on #3134
Seems like this got fixed, as lately everything has been running smoothly.
I think the ticket can be closed now.

Thanks!

[2018-07-02 10:56] numaanashraf commented on #3134
@dimmg Glad to know that. Closing this issue.

[2018-07-02 10:56] #3134 closed, assigned to numaanashraf

[2018-07-02 10:58] IlyaDhtvzGhbltn commented on #4760
@numaanashraf also, will be more useful change `pm.sendRequest` method and add `Proxy` as one of parameter.

[2018-07-02 10:59] #4731 closed, assigned to numaanashraf

[2018-07-02 11:16] babacode opened #4761 "Lack of "permission denied" warning when uploading a file for binary request"
**Describe the bug**
The Postman does not warn user when the binary file selected by a user cannot be accessed by Postman.

**To Reproduce**
Steps to reproduce the behavior:
1. Create POST request
2. Go to 'Body' and select 'Binary' option
2. Click on 'Choose Files' and select file from location not accessible to Postman (in my case OneDrive folder)
3. Click on 'Send'
4. See response from the endp

[2018-07-02 11:46] jmatelet commented on #3977
@harryi3t
yes, from the browser it showed a prompt for login username/password.

I am trying to debug and it seems I am getting blocked by the HTTPS handshake using postman app... the app seems to shut down the connection. maybe a cipher issue on postman side...

[2018-07-02 12:03] gabokr commented on #4723
sure, that is OK and some other elements, like individual request were
synchronised correctly. Only the collection name wasn't.

On Mon, 2 Jul 2018 at 12:47, Numaan Ashraf <notifications@github.com> wrote:

[2018-07-02 12:23] harryi3t commented on #3977
@jmatelet I think I might know the issue here. Postman uses an electron window to open the auth URL. The opened window is similar to a browser window but cancels all authentications prompt.

Can you tell me which auth is the endpoint protected by? (Usually, when there is a prompt in the browser, it's one of basic, digest or NTLM auth)
Electron has added support for only basic auth https://github.c

[2018-07-02 12:23] vkaegis commented on #4604
Thanks for the feedback @mark-orion! We'll be adding a configuration in Settings to show invisible characters in the coming versions. Stay tuned!

[2018-07-02 12:55] SkyGanfor commented on #4296
@amitbpal Maybe a reinstall would work? That's all I can think of :(

[2018-07-02 12:59] jmatelet commented on #3977
It is not the same issue as the login page is not even displayed. This login page is not using any particular http auth... it is a simple form.

It is probably an HTTPS handshake issue. The authorization server is not even processing the HTTPS request as the HTTPS handshake is closed before anything is processed on server side.
(negotiated SSL cipher "ECDHE-RSA-AES128-GCM-SHA256")

[2018-07-02 13:03] Strato commented on #3274
Plus 1 vote

[2018-07-02 13:33] markkimsal commented on #3384
@harryi3t It doesn't seem like there's a chrome plugin anymore.  The desktop app doesn't open browser windows at all, so this issue doesn't apply.  It was irrespective of the presence or value of any WWW-Authenticate header.

[2018-07-02 13:38] markkimsal commented on #3384
@harryi3t I just tested the desktop app and it works fine.  If there is no more chrome plugin then this issue no longer applies.

[2018-07-02 13:39] alanatkinson commented on #4642
No I can't.
I had to throw the whole thing away and start over with a new set of requests that I created in Canary to do what I actually wanted to do.
Four hours of my life I won't get back. If I'd known it was a breaking change I would never have taken it.
I already posted the relevant part of the log.

[2018-07-02 13:53] suur commented on #4642
@SamvelRaja The link I provided is a basically a repackaging script for the official binaries. I can confirm 6.1.4 works again on Arch Linux, although I have deleted my config. 6.1.3 did not work even with a fresh config.

[2018-07-02 14:43] mark-jacobs opened #4762 "Freeze on large value for x-www-form-urlencoded."
Similar to #2869, pasting a large file into an x-www-form-urlencoded value causes the application to freeze.

**To Reproduce**
1. Create a POST action
2. Set Body to x-www-form-urlencoded
3. Paste a large text file into the value (I used a 1.25MB json file)

**Expected behavior**
The application main window will freeze. Menu bar still responds.

**App information (please complete the following inf

[2018-07-02 14:59] #3384 closed, assigned to harryi3t

[2018-07-02 15:13] sandipfadadu commented on #3344
Same problem i`m facing.
"This site requires Javascript to work, please enable Javascript in your browser or use a browser with Javascript support"

[2018-07-02 15:19] SleeplessByte commented on #3335
@godfrzero It seems like a syncing issue. Another example that I've deleted is stil showing up. I restarted the windows app, I pressed the "force sync" in case of sync issues button. None of those things five you feedback. I think it would be helpful to see if it synced or not, or what the last sync was, so I could at least check that timestamp.

[2018-07-02 15:25] ghost commented on #4423
These are possible workarounds.  It feels less "correct" to me to change globals or the environment in order to pass a parameter to a single query.
Further, this scales extremely poorly.  I'm going to end up with a global variable for each possible query parameter across all queries, and each variable will only be applicable to a few queries.

[2018-07-02 15:25] zdrouse commented on #2253
I'm experiencing this issue on Postman Native still, when I open Postman the "Use System Proxy" setting is turned off yet the calls are still using the system proxy settings.

[2018-07-02 15:25] godfrzero commented on #3335
We're tracking a few sync-related fixes internally which will be coming out in the next release. In the meantime, could you let me know if you're using the latest version of the app? (6.1.4)

I'll also make a note to focus on communicating sync errors with more clarity.

[2018-07-02 15:48] dejunqi2008 commented on #4331
Also, could not use  Postman interceptor in the new version, and it could not work without it.

[2018-07-02 15:53] numaanashraf commented on #4331
@dejunqi2008 Postman Interceptor works only with our deprecated Chrome apps at the moment. Could you elaborate on the issue you are facing?

[2018-07-02 15:55] numaanashraf commented on #4761
@babacode Thanks for reporting this.

[2018-07-02 16:01] harryi3t commented on #4355
@MADiep You are right, in the response to the TYPE-1 message where the client (Postman) has already picked an authenticate scheme (from NTLM & Kerberos) we were assuming that the server will only send one header now.
We checked an IIS server's implementation for reference.

Since I could not find any reference which restricts this behavior, I have marked this as a bug and will update the thread on

[2018-07-02 16:14] kdcarlisle42 commented on #3492
@harryi3t , I checked and none of those proxy variables are defined on my system.  I have the following proxy tools on my system.
MITH Proxy - https://mitmproxy.org/
Insomnia - https://insomnia.rest/
Postman - https://www.getpostman.com/
Rarely do I run any of these tools at the same time.  When I have been trying the above scenario, only Postman has been running.

[2018-07-02 18:38] dbaluguri-exp commented on #1475
+1

[2018-07-02 19:32] ig0rsky commented on #4498
any news on this bug?

[2018-07-02 19:36] suvaraj commented on #3799
When I typed %APPDATA% from RUN command it took me to C:\Users\XXX\AppData\Roaming folder and not the C:\Users\Admin\AppData\ folder. I assume installation will look for local/Postman inside roaming folder.

[2018-07-02 19:50] SparK-Cruz commented on #4701
@SamvelRaja Last version fixed it. Thanks.

[2018-07-02 21:07] pavankumar-dv commented on #3845
+1

[2018-07-02 21:22] SeniorSE commented on #4401
I just got an update to Postman, and it still doesn't work.

I just tried starting up Postman and got the Resolve Sync Conflicts window again.

[2018-07-02 23:17] govindrai opened #4763 "Feature Request: CMD+Shift+T to reopen last closed tab"
I always end up wanting to get back to a tab I just closed. Just like in the Chrome browser where CMD+Shift+T reopens the last closed tab, it would be really helpful if Postman App behaved similarly.

Obviously, this doesn't make or break anything, but it would be super useful for your users, imo.

[2018-07-02 23:38] naiger commented on #3822
+1

[2018-07-02 23:47] sweepy84 commented on #4239
Getting the same issue with version 6.1.4 on Windows 10. Getting the below errors about an access token.

If i'm not logged in why wouldnt it ask me to? I just get the never ending loading animation. Tried re-installing no dice.

Looks like a clear bug

vendor-shared.js:84989 Initializing settings
vendor-shared.js:79325 Booting waterline models
vendor-shared.js:137973 Object "Successful ORM initia

[2018-07-03 04:04] anserzhang commented on #3566
407 code still.
+1, Please support it.

[2018-07-03 05:42] preethammavin commented on #2890
With the current implementation, we do not show the update modal on every app launch but actually ask for restarting the app only when we have an update ready.  With respect to linux, we support auto update as compared to the previous implementation. This should have a better experience for our users.

[2018-07-03 05:42] #2890 closed, assigned to preethammavin

[2018-07-03 05:52] prashantagarwal commented on #4762
@mark-jacobs when you say pasting a large file, do you mean the contents of the file or did you uploaded the file. Thanks

[2018-07-03 05:56] sivcan commented on #4296
@amitbpal @SkyGanfor What exactly is the message showing?
Does the message state 'Data unavailable' / 'Response body is too large'?
Also, are you retrying the run? If yes, then we're aware of this issue and I'll update the thread once a fix is out.

Can you guys tell us the steps to reproduce this issue on our end (except retrying the run)?

[2018-07-03 06:25] gitterrost4 opened #4764 "Postman shows black window when defocused while a edit field is active"
**Describe the bug**
Since the last update postman's window will go black whenever the window is defocused while an input field is active. The environment variable POSTMAN_DISABLE_GPU does not influence this behavior.

**To Reproduce**
Steps to reproduce the behavior:
1. Open any postman request
2. Click inside the URL input box (or any other text input box)
3. Defocus the window by opening anothe

[2018-07-03 06:28] K232 commented on #4450
Hi @dhineshwiz , any news regarding this topic?
Many thanks!

[2018-07-03 06:30] prashantagarwal commented on #2985
Can you guys update to the latest Postman app (6.1.4) and see if it is happening. Thanks

[2018-07-03 07:06] vkaegis commented on #4763
@govindrai This makes a lot of sense. Adding it as a feature request to the short term roadmap. Thanks for the feedback!

[2018-07-03 07:21] grzegorzjudas commented on #4576
Don't get me wrong - I love Postman, and I really want to use it, privately and in work/enterprise environment, but it's right now not possible because of your custom approach to updates.

Like @x80486 mentioned, it's not just about updates. It's about how easy you can manage, maintain, support and release new versions, as well as rollback it in case there's a security issue with some of the newer

[2018-07-03 07:22] vkaegis commented on #4568
#4705

[2018-07-03 07:24] numaanashraf commented on #4764
@gitterrost4 Thanks for reporting this. Could you open the Postman app from the shell/terminal and reproduce this case and let us know if you see any terminal errors when the screen goes blank?

[2018-07-03 07:24] vkaegis commented on #4705
@djbreen7 Thanks for the feedback! We'll be tracking this feature request in a similar issue #4568. Closing this for now. Stay tuned for updates!

[2018-07-03 07:24] #4705 closed, assigned to a85

[2018-07-03 07:29] grzegorzjudas commented on #2861
@numaanashraf It's not a string with value "null" that I (we) want to pass, but *null* itself.
![zrzut ekranu 2018-07-03 o 09 28 02](https://user-images.githubusercontent.com/3832059/42204975-762525d8-7ea3-11e8-9a93-cb68069c19b9.png)
![zrzut ekranu 2018-07-03 o 09 28 21](https://user-images.githubusercontent.com/3832059/42204976-76448874-7ea3-11e8-893d-6155ee343279.png)
![zrzut ekranu 2018-07-03 o

[2018-07-03 07:31] gitterrost4 commented on #4764
As I stated:

[2018-07-03 07:34] venkatcc commented on #2985
I see this happening in v6.1.4 as well.

[2018-07-03 07:46] MSkalt commented on #2392
this is basic functionality

[2018-07-03 08:16] numaanashraf commented on #4764
@gitterrost4 My bad. We are trying to replicate this issue in a similar environment. We've seen similar issues due to `i3wm` window manager.

[2018-07-03 08:27] gitterrost4 commented on #4764
@numaanashraf If I can provide anything else to help replicating it, I'm glad to do so.

[2018-07-03 08:32] sankalp0o commented on #3363
Hi @LouVaiano,
Just wanted to check in if you are able to use workspaces to solve your particular use case. Globals now belong to a workspace and are shareable with the team (along with the workspace). There are also variables at a collection level. This should allow you to define a precedence level.

In addition to this, we're also working on a concept called sessions which allow you to define lo

[2018-07-03 08:44] anserzhang commented on #3566
Just found a workaround for Mac, using CNTLM, then set proxy server in Postman to 127.0.0.1:3128 (CNTML default listen port)

[2018-07-03 08:51] sankalp0o commented on #4345
Hi @norcino ,
I wanted to get more context on your use case of this feature. Why would you want to compare two environments? How often do you perform this action and what is your current workflow to achieve this?

[2018-07-03 08:53] vkaegis commented on #1837
@roeschjohannes @jimonthebarn @mjhaller @morrisnc  It's been a while but we have some concrete work on this idea coming up in the next version. In the meantime, check out the Sessions RFC (https://community.getpostman.com/t/sessions-in-postman/1925). Would love your feedback on this!

[2018-07-03 09:08] emanuelthedude opened #4765 "Broken Json will be shown as valid in "pretty" view mode"
There is an endpoint that returns invalid Json like this
[code]
But in the "pretty" view it looks like the Json is valid like below. The invalid "error"-part is cuttet out
[code]

**To Reproduce**
Steps to reproduce the behaviour:
1. Do a GET on https://www.general-anzeiger-bonn.de/newsapp/getpartner?type=section&section=sport
The endpoint is secured by a basic auth. Please contact me for the pass

[2018-07-03 09:11] godfrzero commented on #4639
@massenz In the meantime, you can get the table rendering correctly by making sure that any block elements (like tables) are surrounded by an empty line. So instead of:

[code]

You could try:
[code]

[2018-07-03 09:31] RicardoGarciaM commented on #4360
Still happening for me v6.1.4 (free), the Sync icon is active (blue) even I am in the free version. When go to Settings -> Sync -> Re-sync is greyed out. Maybe is because moved to a new computer?

[2018-07-03 09:34] prashantagarwal commented on #4765
Related to #3635

[2018-07-03 09:34] #4765 closed, assigned to nobody

[2018-07-03 09:34] prashantagarwal commented on #4765
Tracking in #4758

[2018-07-03 09:41] prashantagarwal commented on #4375
@vladah Can your try this on latest Postman app (6.1.4)

[2018-07-03 09:48] prashantagarwal commented on #3238
Related to #4485

[2018-07-03 09:48] #3238 closed, assigned to prashantagarwal

[2018-07-03 09:50] prashantagarwal commented on #2985
@venkatcc are you on Windows ?

[2018-07-03 10:09] venkatcc commented on #2985
@prashantagarwal Yes, I'm.

[2018-07-03 11:15] norcino commented on #4345
I interact with multiple environments and while the API I use keeps growing, I need to add variables for existing data to have example of requests. When I do it, often I don't go in each environment and add the variable and the appropriate value.
So every once in a while I do try to fill the gaps in the other environments, let's say I have a variable UserID set for one environment but not others,

[2018-07-03 11:18] carlosabrantessumup commented on #350
+1

[2018-07-03 12:45] daksh9711 opened #4766 "Issue with Postman chrome extension"
I am running the postman in chrome app. When I was using it  was showing the same error but as i have read that pm will not work for postman chrome extension but here i am using postman then still it is not working.

[2018-07-03 13:00] Hibbem commented on #3900
Ok, thanks for the quick reply.

[2018-07-03 13:09] sivcan commented on #4766
@daksh9711
The chrome app doesn't support `pm.test` / `postman.test`

What you can use is this **_tests_** format which iss supported in the chrome app:
`tests["Response time is less than 200ms"] = responseTime < 200;`

However, the support for Chrome app has been deprecated and it's recommended that you switch to the native app - [Download Postman - Native](https://www.getpostman.com/apps)
If the

[2018-07-03 13:09] #4766 closed, assigned to sivcan

[2018-07-03 13:48] SleeplessByte commented on #3335
@godfrzero updated yesterday to whatever the latest was yesterday 👍

[2018-07-03 13:53] desdoades commented on #4431
Currently I use:
Postman for Windows
Version 6.1.4
win32 10.0.17134 / x64

To set the context: I have a server which runs on ASP.Net Core 2.1 Kestrel with CORS enabled and a sample controller method which has both attributes, [HttpGet] and [HttpOptions]. The contoller method is supposed to return a sample pdf.

I query this server in two ways:

1. via a website which runs on another domain, theref

[2018-07-03 13:54] aaiezza commented on #4306
@josesa Yes! Exactly my sentiments. It would be a phenomenal feature.

[2018-07-03 14:16] rodmaz commented on #2729
+1

[2018-07-03 14:38] eugenevital commented on #4360
I have been having this issue as well. Even when I close the app and open it back up I get this message.
![image](https://user-images.githubusercontent.com/9011160/42226566-416841b8-7ead-11e8-9761-a49cf7554c66.png)

[2018-07-03 14:49] JordanAlimi commented on #4748
Thanks for the quick response and sorry for the duplicate. Ill close the issue.

[2018-07-03 14:49] #4748 closed, assigned to a85, prashantagarwal

[2018-07-03 16:03] vladah commented on #4375
@prashantagarwal

Hi Prashant,

I've repeated the test with Postman app 6.1.4 and again got the black sreen.
![capture-postman-version](https://user-images.githubusercontent.com/14980954/42231254-0c5c578c-7eb9-11e8-93dd-198dc86c2e88.PNG)

![capture-postman-selecting-file-for-upload](https://user-images.githubusercontent.com/14980954/42231255-0fffba46-7eb9-11e8-8395-e3d585da8340.PNG)

![capture-pos

[2018-07-03 16:27] FreeWillaert commented on #2013
any update on this?
this is also blocking us from using Postman in many scenarios

[2018-07-03 17:07] amandadale commented on #1931
I second this request! if we could have paths on a mock server that would just hang in order to test that our apps handle connect/read timeouts on http requests correctly

[2018-07-03 17:17] zacacollier commented on #4374
for other Arch users that find their way to this issue - the solution @trev-dev describes worked for me as well

remove the original Postman package
[code]

then install [postman-bin](https://aur.archlinux.org/packages/postman-bin/) from the AUR

you might also have to kill any lingering Postman processes before it'll work - `ps -ax | grep postman` should point you in the right direction

[2018-07-03 17:47] hmachefe commented on #3405
Oh yes it does. Ubuntu needs to be rebooted, and Postman to be restarted again (from scratch)

[2018-07-03 18:01] ashishpatel1992 commented on #1228
+1

[2018-07-03 18:31] dapperdandev commented on #4705
👍  @vkaegis

[2018-07-03 19:13] massenz commented on #4639
I don't see how that would fix the issue.
This is the original markdown:
[code]
as you can see there are empty lines around the table markdown: as mentioned, this renders fine in Postman itself, but incorrectly in the web presentation.

[2018-07-04 00:04] markdrury opened #4767 "Requests hit 403 Forbidden error for a collection which uses x-signature header and request body variables"
I have a straightforward collection with one request which hits a reverse geocode endpoint and uses the following Postman features:

- A CSV data input file with five fields
- A pre-request script which uses SST1-HMAC-SHA256 to create an x-signature header
- A number of trivial tests which check status code, POST success, etc.
- A request header which includes the generated x-signature plus Conten

[2018-07-04 01:02] markdrury commented on #4767
I suppose the salient question here is whether the pre-release script creates the x-signature before variable interpolation happens via data in the data file?  That may explain why the request is rejected, of course.

[2018-07-04 02:55] potsed commented on #1947
So I would love this too.

## User Story
As a DEVELOPER, I want to SET A CUSTOM HEADER in Postman for all requests AT A COLLECTION AND FOLDER LEVEL, so that I can test the api in different ways.

## Scenarios
Scenario: Add header to all requests
Given the collection has > 1 request
When a Postman Collection has Default Collection Headers
Then the Default Collection Headers should be sent with ever

[2018-07-04 03:17] robertoibarra opened #4768 "Mock Server not returning image file correctly"
## App Details:
[code]

## Issue Report:
I execute my API endpoint from Postman directly that results in an image file being downloaded, this works OK, as expected. Then I create an "example" in Postman with this image file response and it seems to be created and synced ok.

However, when I see the example again in Postman or using my API through the Mock Server, it downloads the file with like a

[2018-07-04 03:34] sankalp0o commented on #3729
@CoolDadTx We're working on features related to tagging and merging collections as a first step towards better collaboration on collection. While this is not exactly what you're asking for, I do believe that this will help with the approach @deepakpathania suggested. You would not have to keep different copies indefinitely, you'd be able to merge them when you think you're ready with changes. This

[2018-07-04 05:24] thecuriousdev commented on #4239
Hey @sweepy84 thanks for reporting this issue, I'll look into this, Please help me with these questions,
1. Is it a fresh install or you updated the app from an older version (if so which version of the app)?
2. How you encountered this bug? (When tried to signin, add a new account, etc)
3. Did the issue got resolved in anyway (if so how?), or you are still facing the issue?

[2018-07-04 05:31] vahids commented on #4759
Seems like It's fixed on Version 6.1.4 (6.1.4)
macOS 10.12.6 (16G1212)

[2018-07-04 05:42] sujayvenaik commented on #4750
Hey @puffluna
Closing this for now, if you have any other issue you can get back again.

[2018-07-04 05:42] #4750 closed, assigned to sujayvenaik

[2018-07-04 06:00] thecuriousdev commented on #4540
@Akumzy thanks for reporting this issue, This issue is no longer there in our latest version (6.1+) of Postman app.

[2018-07-04 06:00] #4540 closed, assigned to thecuriousdev

[2018-07-04 06:20] kamalaknn commented on #4179
@Geolim4 We're glad that you could make it work.

Howerver, Postman as a client should be handling this type of requests. I'm reopening this to track a fix for this in Postman.

[2018-07-04 07:20] amitbpal commented on #4296
@sivcan I was trying to run my collection with the multiple API calls before it was working for me but from last 3-4 days I am not able to run my test from the runner.

I am getting "Data unavailable(only data about the top 10 historical runs is stored)" error message in the response body.

[2018-07-04 07:29] Simiil opened #4769 "Postman crashes with a black screen"
**Bug Behavior**
After a short time of using postman (less than a minute), the screen blanks to black with only the menu bar visible. There seem to be a few ways to reproduce this, but a way that i found that always triggers this is:

1. start Postman
2. double click on a word in the request-url field to select it
3. see the Error

Postman does not recover and has to be restarted.

**Screenshot**

[2018-07-04 07:34] Simiil commented on #4769
After further consideration, this seems to be a duplicate of #4764. I am using the `i3` window manager.

[2018-07-04 07:34] #4769 closed, assigned to nobody

[2018-07-04 07:43] vkaegis commented on #2366
Hey guys, thanks for all the feedback. We've noticed some discrepancies around the header being added automatically, will be rolling out fixes in the coming versions. That said, we'll also be exploring ways in which you can control this behavior so that you can decide when and where you'd want the header to be added. Stay tuned for updates!