[2018-09-07 11:11] numaanashraf commented on #5151
@arnabitsme We recommend reaching out to the wider Postman Community (https://community.getpostman.com/) for help with this issue.

Issue Guidelines: https://github.com/postmanlabs/postman-app-support#guidelines-for-reporting-issues

[2018-09-07 11:11] #5151 closed, assigned to nobody

[2018-09-07 12:49] AlexCatch commented on #3232
This is still an issue over a year since the first report.

[2018-09-07 13:33] Ramya-From-Postman opened #5152 "Edit/delete icon on team logo should be removed for a non admin user"
**Describe the bug**
A user who does not have the admin role is able to see the edit & delete button on the team logo under the Manage Team page. However, When tried to update or delete the log it is throwing "Something went wrong" error.

**To Reproduce**
1. Go to https://web.postman.co/team & login as a user
2. click on edit or delete button on the logo

**Expected behavior**
 As the member of a

[2018-09-07 14:32] abhole commented on #5141
when we tried removing him from our team space the interface to transfer
ownership appeared in a pop-up.
don't want to risk trying to remove another person right now if I know its
not safe anymore!

--
Akshay

On Thu, Sep 6, 2018 at 6:08 PM Steven Anderson <notifications@github.com>
wrote:

[2018-09-07 15:43] ekhaydarov opened #5153 "GET instead of POST"
Please read through the [guidelines](https://github.com/postmanlabs/postman-app-support#guidelines-for-reporting-issues) before creating a new issue.

**Describe the bug**
if you dont have `https://` in front of the url the request is always a `GET`, even if you select `POST` etc

**App information (please complete the following information):**
 - App Type: Native
 - Postman Version: 6.3.0
 - OS:

[2018-09-07 17:43] numaanashraf commented on #5153
@ekhaydarov Could you make sure there aren't any redirects involved? Postman tried to stay consistent with browsers and changes method to `GET` while following redirects. You can check this by turning off Settings > General > Automatically follow redirects.

[2018-09-07 18:04] #5153 closed, assigned to nobody

[2018-09-07 18:51] campbellwmorgan commented on #6682
+1

[2018-09-07 19:14] skehlet commented on #166
For any using [Vault](https://www.vaultproject.io/), you can do a `LIST` in Postman by doing a `GET` and including `list=true` as a query string param.

[2018-09-07 19:16] schellem opened #5154 "Changes made to a duplicated tab are reflected in the source tab"
**Describe the bug**
Right click a Tab and select Duplicate, edit the duplicated request and changes are also applied to the original request.

**To Reproduce**
See above

**Expected behavior**
Changes made to the duplicated request do not affect the copied request

**App information (please complete the following information):**
Native app V 6.2.5 Windows 10

[2018-09-07 22:53] svitch commented on #4331
@SamvelRaja 5.5.3 just works!
After I installed latest 6.3 - app screen is white on launch (win8.1, Corei7 with Intel® HD Graphics)

[2018-09-07 23:53] claviering commented on #1849
krogan, it worked perfectly, thanks

[2018-09-08 00:30] nimeso commented on #2340
I'm still having issues with this. if I use https://postman-echo.com/post it returns correctly but if I have a simple php file with print_r($_FILES); I get an empty array back. I'm kinda new to PHP so maybe I'm missing something simple.

[2018-09-08 08:29] siiberad commented on #2082
Same here

[2018-09-08 18:31] webcomsystemspty commented on #4009
We need this feature

[2018-09-09 02:47] mautematico commented on #3798
I'm facing this same issue.

Can't postman collections be downloaded and then imported, or something?

[2018-09-09 08:57] radityaarya commented on #2861
Facing the same issue even when running from newman (data in json format). But if i run newman with csv data, its working. Dunno why.

edit: I'm using Postman 6.3.0 & Newman 4.1.0, Ubuntu 16.04

[2018-09-09 10:18] sujayvenaik commented on #5154
Hey @schellem

Duplicating a tab actually works differently from duplicating a request. Where duplicating a tab just creates another instance pointing to the same request, duplicating a request actually creates a new request with the same contents as the previous request. So in some use cases, you might be better served by duplicating the request in the sidebar than by duplicating the tab.
We'll b

[2018-09-09 18:59] IevgenSobko commented on #5039
+1 having the same issue on Linux for a few weeks.
Have updated application for a few times with no result.
Also changed permissions which had no effect.
![2018-09-09__21-57-23](https://user-images.githubusercontent.com/14232100/45267750-65ff3000-b47b-11e8-9b55-fbac3847e467.png)

[2018-09-09 22:39] Craig-IntegraPay opened #5155 "CURLOPT_FAILONERROR"
When the postman creates PHP examples, it is not creating "CURLOPT_FAILONERROR=>true"
without this I have found the
if ($err) {
echo "cURL Error #:" . $err;
} else {
echo $response;
clause will not work, because the variable $err is not populated.

[2018-09-09 23:10] xingped opened #5156 "Response Cookies not showing "Expires" property properly"
## App Details:
[code]

## Issue Report:
 1. Did you encounter this recently, or has this bug always been there: Just noticed it.
 2. Expected behaviour: When a cookie has an "Expires" date, it should show in the Cookies tab of the Response window.
 3. Console logs:
[postman.log](https://github.com/postmanlabs/postman-app-support/files/2364745/postman.log)

 4. Screenshots (if applicable):
![scree

[2018-09-10 00:54] okonomiyaki3000 commented on #2369
Great news! Postman 6.3 is out. It does nothing at all resolve this 2-year old issue but, if you still believe that it will someday be fixed, every release gets us a little closer to that future, right?

@rgasioro  yes, I can ping my hosts. No the proxy settings in the app do not have any effect on it (at least not on Windows). Nor should they. Host file settings and proxy config have nothing to d

[2018-09-10 00:55] moschel26 opened #5157 "Why POST Request from POSTMAN returns empty?"
My header in the postman like this :

[![enter image description here][1]][1]

My body like this :

[![enter image description here][2]][2]

In the routes laravel lumen, I check like this :

    $router->group(['middleware' => 'auth'], function ($router) {
        ...
        $router->post('/sales-order', function (\Illuminate\Http\Request $request)
        {
            echo '<pre>';print_r($requ

[2018-09-10 01:02] okonomiyaki3000 commented on #2369
Lol, this thread has the 'feature' label but not the 'bug' or 'useability' label? So now it's considered a feature when your app behaves in a way that's common to all other apps? Check out the other features of the postman app:

- Double clicking the icon starts the app!
- Consumes some amount of space on your hard drive!
- Supports color monitors!
- Responds to input from mouse or keyboard!
- Can

[2018-09-10 04:29] mehalick commented on #1535
+1

[2018-09-10 05:48] aarystan opened #5158 "Make a link to request"
Some methods  can be used in several collections, will be fine if we had possibility make soft link to request.
Change in one place make changes in all links

[2018-09-10 05:50] harryi3t commented on #5039
@IevgenSobko
 1. Could you share the output after following the steps mentioned in my [earlier comment](https://github.com/postmanlabs/postman-app-support/issues/5039#issuecomment-415727976)?
2. Please share the output of `ls -lha /opt/Postman`
3. If possible can we schedule a remote debugging session with you? Our team can sit with you on a video call to debug this issue.
4. Also, could you try u

[2018-09-10 06:18] m3dbedb opened #5159 "postman 6.2.5 and 6.3.0 for windows hangs on launch"
**Bug description**
Postman hangs on screen with rotating travellers.

**To Reproduce**
1. Launch app

**Expected behavior**
App launches correctly and open my workspace

**Screenshot**
Applied

**App information (please complete the following information):**
 - App Type: Native App for windows 32
 - Postman Version 6.2.5 and 6.3.0 (Previous version launches successfully)
 - OS: Windows 7 32 bit

[2018-09-10 07:27] m3dbedb commented on #5142
With windows 7 32 bit and intel HD Graphics 2000 with latest driver (26.05.2015) postman native apps 6.0.9, 6.1.3, 6.2.5 suddenly became black and setting POSTMAN_DISABLE_GPU environment variable doesn't help.

[2018-09-10 07:28] sujayvenaik commented on #5154
Duplicate issue : #2838

[2018-09-10 07:28] #5154 closed, assigned to sujayvenaik

[2018-09-10 07:31] aiLvXuan commented on #5142
@m3dbedb @SamvelRaja
I have updated the latest version now, is ok.

[2018-09-10 09:12] raypanjaitan commented on #5157
Don't you think that your request shows that you have an error on the line 4,? The double quotes.
Or is that intented?

[2018-09-10 10:07] shide1989 opened #5160 "Postman should automaticaly send an archive backup"
Hi
i'm working on many projects, and decided to switch to the team collaboration,
so i shared my collections/envs with my team and created an organisation.

But since Postman teams free plan is limited to 25 requests (which is a joke btw),
after a while our collections got archived.

So one day i go to work and discover that 150+ requests and some collections had disappeared from my account and wh

[2018-09-10 10:13] IevgenSobko commented on #5039
@harryi3t thx for tips.
1. Tried yesterday and ULR variables were present.
2.
![2018-09-10__13-10-25](https://user-images.githubusercontent.com/14232100/45291496-08aac380-b4fb-11e8-9372-001b44cfbea5.png)
3. If you need that there is no problem from my side to have a sharing session to help you.
4. and this option finally resolved the issue.

[2018-09-10 10:31] numaanashraf commented on #5157
@moschel26 Please open the Postman Console (View > Show Postman Console) to check the request sent by Postman. Since your screenshot looks like an invalid JSON, it might affect how your server parses it and makes it available via the $request methods. Please feel free to reach out to the wider Postman community for further help with this issue - https://community.getpostman.com/

[2018-09-10 10:31] #5157 closed, assigned to nobody

[2018-09-10 10:40] grational opened #5161 "Basic Auth bug with unicode characters"
**Bug description**
I have noticed the postman app (my version is `6.3.0`) generates an incorrect basic authentication header when non ASCII characters are used.

**To reproduce**
1. Go to any request
2. Click on `Authorization tab`
3. Select TYPE `Basic Auth` in the left section
4. Fill the username with: `username`
5. Fill the password with: `ɐsʇɹouɓdɐssʍoɹp`
6. Click on the button `Preview Requ

[2018-09-10 10:47] Discipe commented on #5039
Postman reinstall helped me to fix the issue on Windows (I've also installed old Canary build I already had downloaded and used it for couple days before reinstalling). So I couldn't reproduce the issue.
It's very disturbing that you only have couple of previous versions (and all of them are minor versions, no major ones) available to download on official site.

[2018-09-10 10:48] harryi3t commented on #5039
@IevgenSobko
I am hoping that you haven't deleted the original installation of Postman in the `/opt/Postman` directory. If that is the case and the bug is still present in that, could you share your email and time slots when you will be available for this? You can drop a mail at help@getpostman.com. Please mention the Github issue number in the mail.
Thanks

[2018-09-10 10:58] IevgenSobko commented on #5039
@harryi3t old installation is also present and still showing the same issue persists for it, so we will be able to debug it.

[2018-09-10 11:09] gysi commented on #2378
The hidden ctrl+B Feature stopped working for me.

[2018-09-10 11:11] ash007-postman opened #5162 "Variables not resolved in example response"
Creating our docs with postman we discovered that variables in the online view of a response are not resolves to their actual values. In the published documentation all seems OK.

![schermafbeelding 2018-09-10 om 12 16 01 1](https://user-images.githubusercontent.com/41741228/45295202-7ebf2280-b51b-11e8-8538-09860f16c972.png)

[2018-09-10 11:21] Jai-Gogineni commented on #1467
Any progress on this please ?

Thanks !

[2018-09-10 11:23] iguana007 commented on #3566
+1

[2018-09-10 11:48] Animosa04 commented on #2819
+1

[2018-09-10 11:56] godfrzero commented on #5162
Has an environment been selected from the dropdown at the top of the middle column?

[2018-09-10 12:42] DeonNel1 commented on #3121
Any update on this issue?

[2018-09-10 12:46] bneut commented on #5162
Yes; after selecting the environment the {{url}} variable is replaced with the url in the example request. But not in the response.

[2018-09-10 14:32] AugustoNeves commented on #4679
Awesome!!

[2018-09-10 15:23] jfavaron commented on #3022
@cassioconti thanks for the tip, good call

[2018-09-10 15:34] Alex99y commented on #2082
Same!

[2018-09-10 16:11] mountainhound commented on #3142
We also need this feature. We heavily use Postman and having it for docs would be amazing because it would save us a lot of time. But without some sort of security on the documentation only we cannot use the feature.  A public link is not suitable to my company needs, if we could have a password or just allow certain users to view documentation only that would suffice.

[2018-09-10 16:16] stevetursi commented on #4254
+1
I sat down today to write retry logic in my collection to catch "socket hang up" and other network issues (such as "could not get any response") and found that the test scripts don't run when these issues occur. There appears to be no workaround.

[2018-09-10 17:31] nikolaip commented on #2847
+1

[2018-09-10 18:20] rmaschre commented on #3845
+1

[2018-09-10 18:38] chrisdeso opened #5163 "Monthly Usage Limits: Surface the reset date in the online dashboard"
**Is your feature request related to a problem? Please describe.**
Currently, there isn't a way to know when my team's monthly usage counters will reset.

**Describe the solution you'd like**
Something like the terrible mock below :)
![image](https://user-images.githubusercontent.com/4734306/45317145-ec545a00-b4ed-11e8-9444-f951e3251914.png)

**Describe alternatives you've considered**
Notificatio

[2018-09-10 20:24] mfulton26 opened #5164 "Record requests and use them as mocks"
Please read through the [guidelines](https://github.com/postmanlabs/postman-app-support#guidelines-for-reporting-issues) before creating a new issue.

**Is your feature request related to a problem? Please describe.**
Setting up mocks can be cumbersome.

**Describe the solution you'd like**
The ability to record some proxied requests and then use them as mocks.

**Describe alternatives you've cons

[2018-09-10 20:42] plaishwarya opened #5165 "Save the Authorization data as part of saving the request"
Please read through the [guidelines](https://github.com/postmanlabs/postman-app-support#guidelines-for-reporting-issues) before creating a new issue.

**Is your feature request related to a problem? Please describe.**
I usually work in different environments which require different token generation mechanisms.
For Example:
My First Request:
1. Http POST request
2. Go to Authorization --> Select an

[2018-09-10 21:20] supermacro commented on #4009
joining the notification train

[2018-09-10 22:51] cidmin commented on #2819
+1

[2018-09-10 23:05] salimusta commented on #5159
I get the same thing, I was 6.0.3, the update was failing,

Deleted and downloaded the new 6.3.0. Now hanging ..... HELP !!!

Im on MacOS

[2018-09-10 23:50] chrisdeso opened #5166 "Feature Request: Format Conversion Endpoint"
**Describe the solution you'd like**
Expose an endpoint ([Postman API](https://docs.api.getpostman.com/)) that handles  data conversion (Swagger/YAML/WSDL to Postman schema).

[2018-09-11 00:09] zqkou commented on #6682
+1

[2018-09-11 02:25] henderbj commented on #4375
Hi,
I got same problem with Postman on Ubuntu 16 x86_64.
The black screen is after selecting a big file (2.6GB on my case) for upload. After the black screen, the Postman menu works, and some menu commands works, like "New Postman Window", but some others don't work, like "New Tab".

[2018-09-11 03:16] hiimdoublej commented on #2378
@gysi Me too

[2018-09-11 03:18] sudoliyang commented on #2378
@gysi, I have the same issue.
My environment is Postman Version 6.3.0 (6.3.0)

[2018-09-11 05:33] ratelgogo commented on #3312
+1

[2018-09-11 06:47] ghost commented on #5131
I See, all the ace  shortcuts still works in Postman Pretty

[https://github.com/ajaxorg/ace/wiki/Default-Keyboard-Shortcuts](https://github.com/ajaxorg/ace/wiki/Default-Keyboard-Shortcuts)

[2018-09-11 07:14] arnabitsme commented on #3312
a

On Tue, Sep 11, 2018, 11:03 张若凡 <notifications@github.com> wrote:

[2018-09-11 08:38] SamvelRaja commented on #5159
Related to https://github.com/postmanlabs/postman-app-support/issues/4897

[2018-09-11 08:40] SamvelRaja commented on #5001
Related to https://github.com/postmanlabs/postman-app-support/issues/4897

[2018-09-11 08:45] kamalaknn commented on #5159
@m3dbedb The original issue posted here is a duplicate of #4897 Can you try the workaround suggested in the parent thread?

[2018-09-11 08:45] #5159 closed, assigned to kamalaknn

[2018-09-11 08:54] kamalaknn commented on #5095
Hi @runner95

Do you see any errors in DevTools when you save? Please check the `View -> Developer -> Show DevTools(Current View)` and share any error logs you.

[2018-09-11 08:56] harryi3t commented on #5114
do you have environment variables for proxy setup in your system?
To check this just echo them in your shell
[code]

[2018-09-11 09:02] SamvelRaja commented on #5098
Related to https://github.com/postmanlabs/postman-app-support/issues/4849

[2018-09-11 09:02] #5098 closed, assigned to nobody

[2018-09-11 09:03] harryi3t commented on #5111
The issue is not with variables but around how NTLM works.  Once NTLM auth is used, it establishes a TCP session which is re-used. What this means is that once you pass correct credentials for NTLM and send a request, after that even if you remove the auth or use wrong credentials, it will still work.
The current workaround is to close the connection by sending a request with header `connection: c

[2018-09-11 09:10] SamvelRaja commented on #5093
@echo66  @pcsontos
Request you guys to completely remove the postman and download freshly from https://www.getpostman.com/apps
The issue is, some of the old files are not replaced properly.

Closing this for now, feel free to re-open if you still face the issues.

[2018-09-11 09:10] #5093 closed, assigned to nobody

[2018-09-11 09:21] ankit-m commented on #4861
@abhijitkane Can we close this issue?

[2018-09-11 09:42] numaanashraf commented on #2378
@gysi @hiimdoublej @sudoliyang This is a confirmed regression in `v6.3.0`. We are working on rolling out a fix for this in the next release.

[2018-09-11 09:49] sudoliyang commented on #2378
@numaanashraf
sounds great 👍, thank you.

[2018-09-11 09:56] Tzaphkiel commented on #3566
+1
I also have the issue.
env vars do not solve it.
It was working with the chrome app...

[2018-09-11 10:09] ankitjaggi commented on #4988
@godfrzero This has been fixed now, right?

[2018-09-11 12:11] danikane commented on #4382
Postman will not start if NODE_OPTIONS environment variable is present in Windows. Took me a while to realize that. 😄

https://github.com/electron/electron/issues/12695

[2018-09-11 12:35] harryi3t commented on #5039
@IevgenSobko Thanks for giving us your time to help us debug this issue.

@sourcesmith @gitterrost4 @senj-gold @Vodek2 We have found the root cause for this. Here's a short post-mortem.

#### What is the bug?
Some Postman users on Linux are not able to send saved requests which have environment variables. Sending other requests works fine.

#### Who all are affected?
The users who have installed t

[2018-09-11 12:47] GingerMoon commented on #5114
yes。。。thank you very much！ After delete them, it works!

[2018-09-11 12:48] gitterrost4 commented on #5039
All people installing postman through their package manager will have this problem. Auto-Update is also not a very good solution for this, because in these cases, the package manager should handle the versioning.

However, I am on Arch and installed postman through AUR. The PKGBUILD could probably be modified to first clear the installation directory. That would move this issue to the AUR.

[2018-09-11 13:11] harryi3t commented on #5039
@gitterrost4 We don't have an official package manager as of now. We stronly recommend downloading all the apps from our official website http://getpostman.com/apps
We can't support applications downloaded from unofficial package managers. If there is any issue with the auto-update, please do report it here as a seprate ticket.

[2018-09-11 13:13] harryi3t commented on #5114
@GingerMoon Glad that it worked. There is no problem with keeping them, they just need to be complete with the protocol. For e.g. instead of `http_proxy=localhost:8080` you should have `http_proxy=http://localhost:8080`

[2018-09-11 13:13] #5114 closed, assigned to harryi3t

[2018-09-11 13:15] harryi3t commented on #1854
Duplicate of https://github.com/postmanlabs/postman-app-support/issues/492

[2018-09-11 13:15] #1854 closed, assigned to harryi3t

[2018-09-11 13:31] clancye commented on #4671
Any updates on this? I ran a collection assuming it would save all the current request changes and spent a little while debugging a 404 response only to discover I hadn't hit "save" on one of the requests.

[2018-09-11 13:49] vkaegis commented on #4848
@mtpultz This is a confirmed regression in v6.3.0. We are working on rolling out a fix for this in the next release.

[2018-09-11 14:12] altaraven commented on #4671
@vkaegis You can add a checkbox in app settings "Save requests automatically" which will be off by default. So, existing users will not be touched and **"collaborative workflows of a lot of our users"** will not be broken. Those who need this will just turn it on if they want.

[2018-09-11 14:44] benhamill commented on #5166
More specifically, I'd love to be able to upload a .tar of YAML files or something and have the endpoint go ahead and create a collection from it directly. Ideally supporting OpenAPI Spec 3.0, but OAS/Swagger 2.0 would be good for now, too.

[2018-09-11 14:44] benhamill commented on #5166
More specifically, I'd love to be able to upload a .tar of YAML files or something and have the endpoint go ahead and create a collection from it directly. Ideally supporting OpenAPI Spec 3.0, but OAS/Swagger 2.0 would be good for now, too.

[2018-09-11 15:18] Guacam-Ole commented on #3874
We use SharePoint Authentication (OnPrem & O365). Sadly this does not work with standalone Postman. (at least not without time-consuming workarounds)
We had to switch to ARC with its Cookie-Extension, We really would prefer using Postman again as it has some features we miss in ARC.

[2018-09-11 17:57] numaanashraf commented on #4673
Closing this issue as this doesn't seem to be related to a defect or a feature request in Postman. We recommend reaching out to the wider Postman community (http://community.getpostman.com/) for further help with using Postman to fulfill your specific use case.

[2018-09-11 17:57] #4673 closed, assigned to sivcan

[2018-09-11 18:14] #3025 closed, assigned to sivcan

[2018-09-11 18:16] numaanashraf commented on #2630
Closing this issue as Chrome apps are deprecated and is in maintenance mode. Please move to Postman's Desktop Apps to get the latest features and bug fixes (https://www.getpostman.com/apps)

[2018-09-11 18:16] #2630 closed, assigned to sivcan, preethammavin

[2018-09-11 18:31] numaanashraf commented on #5165
Duplicate of #3903

[2018-09-11 18:31] #5165 closed, assigned to nobody

[2018-09-11 18:54] Prinsn commented on #2082
another 2 hours clocked by me.

[2018-09-11 20:23] tempvs983 commented on #675
+1

[2018-09-12 04:08] GingerMoon commented on #5114
Thank you very much @harryi3t , it works. Really appreciated!

[2018-09-12 04:38] Lorenz-N commented on #6682
+1

[2018-09-12 07:42] abhishek-ram opened #5167 "DELETE requests take more than a minute to complete on postman"
Please read through the [guidelines](https://github.com/postmanlabs/postman-app-support#guidelines-for-reporting-issues) before creating a new issue.

**Describe the bug**
We are facing a strange issue, when we send a DELETE request from postman to our server it takes more than a minute to complete on postman. The logs show that the request was responded to quickly and to prove this we ran it on c

[2018-09-12 07:59] numaanashraf commented on #5167
@abhishek-ram Is this happening always or intermittently? Also, could you use code generation to generate a cURL snippet and try the same via cURL?

[2018-09-12 08:01] cosad3s commented on #4009
Same.

[2018-09-12 08:34] abhishek-ram commented on #5167
This is happening always and I tried with cURL and it returned quickly

[2018-09-12 08:35] abhishek-ram commented on #5167
This is also happening on the monitor which causes it to breach the 5 minute window...

[2018-09-12 09:22] abhishek-ram commented on #5167
@numaanashraf Another strange thing is that if i run postman against the local server its not causing this issues, this only happens when I run this against the server(Docker on Azure Cloud).

[2018-09-12 09:30] numaanashraf commented on #5167
@abhishek-ram That's really odd. Is this endpoint publicly accessible and would it be possible if we use this endpoint to triage this issue? You could send us the URL to `help@getpostman.com` if it is private or sensitive.

[2018-09-12 09:31] anudeepmedicharla opened #5168 "Have a different empty state while searching on the sidebar"
When some text is entered in the sidebar search field, and there are no results, we display the same empty state message. We need to change the message to inform that the user is viewing a filtered list so that he/she doesn't think there are no collections.

![screen shot 2018-09-12 at 15 01 20 pm](https://user-images.githubusercontent.com/16399370/45416073-bacdc100-b69c-11e8-886d-e2e7199b8803.png

[2018-09-12 09:41] larsvinder commented on #1535
+1

[2018-09-12 09:48] numaanashraf commented on #5168
Duplicate of #5041

[2018-09-12 09:48] #5168 closed, assigned to vkaegis

[2018-09-12 10:00] abhishek-ram commented on #5167
@numaanashraf I was able to dig some more on this issue, it looks like the issue is with the HTTP 204 returned by the delete API. Now the local server is a flask development server and this is not causing any issues; however our prod server is on nginx and I am thinking this is causing something that postman is finding difficult to digest. I am sure you will be able to replicate this by simply run

[2018-09-12 10:33] abhishek-ram commented on #5167
@numaanashraf I think you can close this issue, it was our mistake we were sending  data in the response even though we were sending a 204 which is wrong. We fixed this and now postman is behaving as expected.

[2018-09-12 10:44] numaanashraf commented on #5167
@abhishek-ram Thanks for letting us know. We are working on making these issues easier and faster to debug within Postman. I'm keeping this issue open till we fix the root issue.

[2018-09-12 12:34] vkaegis commented on #4671
@altaraven Thanks for the input! This is a bit trickier in collaborative environments where some users might want this feature turned on, while others in the team are okay specifying when to save. Could lead to a lot of conflicts. It's something that needs a bit more thought before we're ready with a solution. We have a whole bunch of features in the works which will simplify versioning and confli

[2018-09-12 12:38] vkaegis commented on #5046
@chrisdeso What would "Load Test" do? Would this bring up the builder with the test in focus?

[2018-09-12 13:29] cabrinoob commented on #2689
Have the same pb here with postman native app 6.3.0.
Postman seems to send `Accept-Encoding: application/gzinp, deflate` and I have an error message "Could not get any response".

The same request works fine with fiddler because fiddler does not add any accept-encoding header silently.

[2018-09-12 15:05] litzk commented on #1429
I can't seem to find the way to replace with regex syntax (groups, white-space manipulation).

Is that feature implemented yet?

[2018-09-12 15:54] altaraven commented on #4671
@vkaegis thanks for explanations!

[2018-09-12 16:17] josiahpeters commented on #4598
Any further progress on this? I recently tried to import our company's Swagger 2.0 spec into postman and every request requires significant massaging. This would be very useful to have working correctly.

[2018-09-12 18:13] Bharwcb commented on #3094
@a85 is the ability to set default environment variable values a feature now?  Is there documentation on this?

[2018-09-12 20:07] a85 commented on #3094
Yep. You can set an initial value now for all kinds of variables now.

[2018-09-12 20:58] v0rts commented on #2013
Very much a deal breaker where I work, a shame too, would be so helpful.

[2018-09-12 23:02] Bharwcb commented on #3094
Thanks @a85 , where can I find documentation or instructions on how to do this?

[2018-09-13 02:17] rishabh-hs commented on #5163
This feature is needed more than ever now.. Hope to see it live soon

[2018-09-13 05:29] simonreye commented on #4079
+1

[2018-09-13 06:30] sibande commented on #4277
Hello @sivcan, I'm having this problem and was trying to find the duplicate issue, but your comment is self-referencing this issue.

[2018-09-13 07:01] scaytrase commented on #5160
Same here. I've tried the team feature and got all my collections archived. I've dropped the team workspace  in hope I can get rid of limits, but this further blocked me the event archive acccess. God bless I could recreate team, and export + import data back. No more team trials.

Btw, new team workspace show me that archive is empty, but export did well and exported all the archived stuff I've m

[2018-09-13 07:17] alexanderkraemer commented on #4631
Is there any update on the status of this feature request?

[2018-09-13 08:16] DerFlash commented on #2914
*cry* I took this previous behavior as a feature ;-)
We have a lot of paths containing variables as optional path structure .../{{resourcePath}}/... which previously worked like a charm in resulting in a single slash .../... .
Now it's a ...//... then which failed our requests. 😢

For sure the new behavior is absolutely ok, but I need to fix all our collections.

Is there any nice way to add the s

[2018-09-13 08:19] DerFlash commented on #4663
*cry* I took this previous behavior as a feature ;-)
We have a lot of paths containing variables as optional path structure .../{{resourcePath}}/... which previously worked like a charm in resulting in a single slash .../... .
Now it's a ...//... then which failed our requests. 😢

For sure the new behavior is absolutely ok, but I need to fix all our collections.

Is there any nice way to add the s

[2018-09-13 09:36] m3dbedb commented on #5159
Thank you, run from command line with --disable-gpu helped.

[2018-09-13 09:50] wadtech opened #5169 "Environment variables in url not being interpolated"
Please read through the [guidelines](https://github.com/postmanlabs/postman-app-support#guidelines-for-reporting-issues) before creating a new issue.

**Describe the bug**
When using an environment to set the URL of an API, the variable is not replaced in the URL used to send the request. This is apparent because of the following error message: `There was an error connecting to %7B%7Burl%7D%7D.`

[2018-09-13 10:26] Sewmi commented on #3684
It would be much appreciated if you could add this feature.

[2018-09-13 11:35] kamalaknn commented on #4663
Hi @DerFlash

I understand that this could be painful to fix. Right now you might have to set the path with slashes in your variable.

Have you tried out the global find feature? You can easily find for something across all your collections with this. Try `cmd/ctrl + shift + F` or the Search icon in the bottom bar.

<img width="1284" alt="image" src="https://user-images.githubusercontent.com/84010

[2018-09-13 12:02] joaoe commented on #4514
The documentation is incorrect

https://www.getpostman.com/docs/v6/postman/launching_postman/installation_and_updates

It says `libconfig-2-4`. There is no such thing.

[2018-09-13 12:24] MiguelAtTweddle commented on #4239
thecuriousdev's answer did actually work! Thnx

[2018-09-13 13:02] ngfelixl commented on #2701
+1

[2018-09-13 13:06] DerFlash commented on #4663
Hey @kamalaknn

thanks for the perfect hint. 74 results, but at least I got them all ;-)

[2018-09-13 14:54] rasecaccedo opened #5170 "Pre-scripts doesn't persist environment variables"
Please read through the [guidelines](https://github.com/postmanlabs/postman-app-support#guidelines-for-reporting-issues) before creating a new issue.

**Describe the bug**
The environment variables setted in pre-scripts do not persist for further requests. Sample code:
Request 1:
Pre-request Script
[code]
Body
[code]
Test
[code]
Request 2:
Pre-request Script
[code]

**To Reproduce**
Steps to repro

[2018-09-13 15:08] ManikandanRajendran opened #5171 "No option to pass data file (csv/text) in postman collection so monitor can pick it"
There is no option provided to feed data using external file (csv/text) in postman monitor. only we have few options like to select the collection and environment.

It would be great if it is included like how we are able to feed data from external when hitting API's through nodejs.

as we created API collections all depends on external data source we are unable to use postman monitors option to t

[2018-09-13 15:35] sourcec0de commented on #350
Doesn't look like postman wants to support HAR. You can import curl.
If anyone is looking for the solution. https://apimatic.io/transformer

This transformer can transform to and from a bunch of API specs. Including `HAR -> Postman 2.0`

[2018-09-13 16:14] chrisdeso opened #5172 "Sticky dropdown menu in documentation"
**Is your feature request related to a problem? Please describe.**
Being able to generate code snippets for API documentation within documentation is great. If the documentation is extensive, or has a long introduction, it's a bit of a pain to have to scroll to the top of the page to get to the code generation dropdown.

**Describe the solution you'd like**
A sticky dropdown bar in documentation f

[2018-09-13 17:32] ghost opened #5173 "When setting a variable from a script, "Initial Value" modified for all variables in same scope"
**Bug Description**
When a variable is set from a Pre-Request or Test script, the initial values for all variables within the same scope are overwritten with the current value of the variable.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a few global variables, where the initial and current values are different
2. Add a step in a Pre-request or Test to set any globalvariable (i.e.

[2018-09-13 17:48] pegknell commented on #4751
Postman app v6.3.0 is very slow to respond to simple copy/paste into Body. When actually send the call, it is also very slow (approximately 30-60 seconds before response is returned). Almost unusable at this point.

[2018-09-13 18:03] kEph13 commented on #2559
I'm having the same issue - v6.3 Windows x64. Same behavior as the above screenshots

[2018-09-13 21:27] dirgagautama commented on #4897
I have the same black screen's issue with @deiberdev but the solution is not working for me. Installing native apps for the first time, previously using chrome app.

Turn out the problem is Postman doesn't work with my GPU. Here is [the workaround solution](https://github.com/postmanlabs/postman-app-support/issues/4594#issuecomment-391601621). Working fine after change the shortcut to `C:\Users\<u

[2018-09-13 22:04] loopDelicious opened #5174 "Include new test syntax in Postman Echo example collection"
**Describe the solution you'd like**
Some of the requests in the Postman Echo example collection use the new test syntax, and some use the old syntax. Suggestion to include either both syntaxes for each request, or update to the new syntax.

[2018-09-14 00:13] nagelm commented on #4677
I also would like to see this

[2018-09-14 02:28] nagelm commented on #3566
+1

[2018-09-14 02:56] godfrzero commented on #5162
Alright, looks like a bug in the private documentation. We'll work on getting this fixed in the next 2 releases.

[2018-09-14 03:47] sri-miriyala opened #5175 "Not allowing to sign up or sign-in after deleting the user account"
Description:
As a Postman user, I tried deleting my account and wanted to create new account because of issues in importing files. I followed below steps.
I was able to successfully delete my account.
I tried to create new account using signup option on Postman.
But I was using the same email ID that is associated with old account which was deleted.
Then I got a response "User already existed"
The

[2018-09-14 03:49] prashantagarwal commented on #4888
@sankalp0o
Just basic things like documentation views, referrer, location from where this documentation was viewed, average time spent by users on documentation page etc. I think Google analytics like metric will help a lot.

Also even better would be to offload all this to users only by allowing them to integrate third party plugins with our documentation, so they can integrate things like Hotjar

[2018-09-14 04:47] MilkBiscuit commented on #803
+1   OMG it has been 4 years.

[2018-09-14 05:49] mohandacx commented on #5171
+1

Would be really helpful if we are able to pass data in the Monitors.

[2018-09-14 05:50] mohandacx commented on #3174
+1

[2018-09-14 06:43] raylapse commented on #697
+ 1

[2018-09-14 06:43] raylapse commented on #697
+2

[2018-09-14 07:01] ash007-postman opened #5176 "Cannot reach Generated Doc inside company firewall"
When we try to reach our API documentation inside the firewall via Firefox and Chrome, we see an SSL certificate error:

NET::ERR_CERT_COMMON_NAME_INVALID

However, we can reach the published documentation outside of VPN. We haven't launched our product yet and are still testing in environments that are only reached by the Postman client within the company network. Please advise why our custom dom

[2018-09-14 07:10] ankit-m commented on #4902
We have pushed a fixed for this in the latest version.

[2018-09-14 07:10] #4902 closed, assigned to ankitjaggi

[2018-09-14 07:11] ankit-m commented on #5049
A fix for this has been deployed in the latest version.

[2018-09-14 07:11] #5049 closed, assigned to ankit-m

[2018-09-14 07:46] ankit-m commented on #4989
This is issue has been fixed.

[2018-09-14 07:46] #4989 closed, assigned to elssar, godfrzero, ankit-m

[2018-09-14 07:50] Hiblet commented on #1315
This would be very useful.  Use-case: I am working on an API with a Developer, I send a Request as part of a test series.  Later, a problem is found that relates to the Request, and the Developer needs to check logs to see what happened in her app around the time of receiving my request.  I would look at my history tab and see the send timestamp (ideally in UTC).  At the moment, I have to guess th

[2018-09-14 07:55] SMarconetto commented on #3089
+1 Will be great!

[2018-09-14 08:02] godfrzero commented on #5176
The most likely cause is an SSL certificate being injected by your firewall. This is probably being done using a whitelist/blacklist, which should be modified accordingly to prevent this injection.

[2018-09-14 08:16] abhijitkane opened #5177 "Changing the username to something that already exists shows a 'Something went wrong' message in the UI"
Please read through the [guidelines](https://github.com/postmanlabs/postman-app-support#guidelines-for-reporting-issues) before creating a new issue.

**Describe the bug**
Changing your username (at https://go.postman.co/settings/me) to something that's already taken gives a generic 'Something went wrong' message in the UI. The Websocket response correctly returns a "this username already exists"

[2018-09-14 09:07] Ramya-From-Postman opened #5178 "Restore button is not shown up for some of the collection under activity feed."
**Describe the bug**
We are noticing that there are few collections on which we don't see an option restore them back to the previous date & the information of who modified the collection & what changes have been done. However, the same is working on some of the collections. Please look into the issue

**Expected behavior**
Restore option should be available for all the collections along with the

[2018-09-14 09:24] smennesson commented on #5178
Hi @ankitjaggi, I'm the one having reported the problem. Don't hesitate in the case you need additional details.
Kind regards,
Stéphane

[2018-09-14 10:03] bmarka commented on #3390
A must have indeed, don't fall behind 🥇

[2018-09-14 10:12] abhijitkane commented on #5177
The same issue exists for emails too

[2018-09-14 10:34] abhijitkane opened #5179 "Published docs on custom domains break when the collection is transferred to another user"
To Reproduce:
1. Have user u1 in team t1 publish documentation on a custom domain (api.t1.com)
2. Remove u1 from the team, transferring shared collections to u2.
3. The api.t1.com link breaks - I see a TOO_MANY_REDIRECTS

**Expected behavior**
The custom domain should never break.

Server-side bug
Seen on September 14, 2018

[2018-09-14 11:12] sivcan commented on #4277
Hey, @sibande thanks for pointing out. I've updated the comment with the correct issue ticket.

[2018-09-14 12:02] Ramya-From-Postman opened #5180 "Link handling in tables in docs' description is weird"
**Describe the bug**
When you publish a document that has a long table, the longer table becomes clickable with ‘click to expand’ overlay. With links in longer table, the ‘expand’ action then overrides the link action. So, when a user clicks a link expecting to navigate, instead they are shown the full-screen table view.

**To Reproduce**
Steps to reproduce the behavior:
1. Publish a documentation

[2018-09-14 13:24] oliverm2112 commented on #803
Looks like it's on the roadmap - be still my heart!

[2018-09-14 13:25] bt-dd commented on #5180
I believe this could be solved by looking at the click target and checking if it is an <a> tag, with a non-blank href value? Then if that is the case, don't open the expanded view?

Alternatively, could also make only the hoverable "Click to Expand" button clickable, instead of the whole table?

[2018-09-14 17:13] tonestrike commented on #3142
Us too!

[2018-09-14 18:17] IanCampbellCode opened #5181 "Cannot click and drag to highligh text when renaming request"
If you hold down the left mouse button to highlight text while renaming a request, the request moves instead of highlighting text.

Highlighting text does work as expected for renaming a collection.

Steps to reproduce the behavior:
1. Create a request.
2. Right click the request and click 'Rename'.
3. Attempt to highlight text by holding the left mouse button down and moving the mouse across the

[2018-09-14 18:34] vdespa opened #5182 "cURL importer cannot handle caret (^) used as an escape character"
**Describe the bug**
For some requests, copying the cURL request from Chrome and trying to import it in Postman does not work.

**To Reproduce**
Steps to reproduce the behavior:
1. Click Import - Paste Raw Text
2. Paste the following request

`curl "https://trello.com/1/cards" --data-binary "^{^\^"name^\^":^\^"hello world^\^",^\^"pos^\^":65535,^\^"closed^\^":false,^\^"idLabels^\^":^[^],^\^"idMembe

[2018-09-14 19:35] tnatanael commented on #4891
+1

[2018-09-14 19:38] tnatanael commented on #4891
Sugestion {{$random:{type}:{size}}}
Examples:
    {{$random:int:8}} - To generate 8 digit long random number
    {{$random:str:5}} - To generate 5 digit long random string

[2018-09-14 19:44] numaanashraf commented on #5169
@wadtech This seems related to #5039. Please try the fix detailed at https://github.com/postmanlabs/postman-app-support/issues/5039#issuecomment-420258338

[2018-09-14 19:44] #5169 closed, assigned to nobody

[2018-09-14 19:47] numaanashraf commented on #5170
@rasecaccedo Could you verify whether "Automatically persist variable values" is turned on in Settings > General?

[2018-09-14 19:51] numaanashraf commented on #5173
@jholzer-cciq Could you verify whether "Automatically persist variable values" is turned off in Settings > General? Before we introduced current value, we used to automatically persist variable values. To make sure we do not break any existing workflows, we keep this setting turned on by default for users updating from pre 6.2 versions. If you turn off this setting, Postman should behave as you ex

[2018-09-14 19:57] ghost commented on #5173
@numaanashraf Thank you! I didn't realize the "Automatically persist..." setting was available, and it was turned on. Once I disabled that setting, then everything worked as expected.

Glad to know this isn't actually a bug.

[2018-09-14 19:57] #5173 closed, assigned to nobody

[2018-09-14 20:00] abhijitkane opened #5183 "The 'last modified' timestamp in the collection sidebar is incorrect"
**Describe the bug**
Signing in to Postman fetches all my collections from the server. Opening the collection browser for these collections shows 'Last modified: Just now'. This timestamp is also 'Just now' on apps that I signed in to a few hours ago, but haven't touched since.

**To Reproduce**
Steps to reproduce the behavior:
1. Sign in to Postman

**Expected behavior**
The collection 'Last modi

[2018-09-14 21:09] chrisdeso opened #5184 "Add set/get functions for session variables in PM API"
**Is your feature request related to a problem? Please describe.**
Having session variables in Postman is great – being able to programmatically set/get them within the Javascript sandbox environments (`Test` / `Pre-Request` scripts) would be even better!

**Describe the solution you'd like**
`pm.session.get("sessionVariable");`
`pm.session.set("sessionVariable", "teapot");`

[2018-09-14 21:24] yabols commented on #3312
+100

[2018-09-14 22:00] chrisdeso commented on #4850
@prashantagarwal – Here you go :)

- https://drive.google.com/file/d/1bGQfsr6aC3EP7l4h4hwiDn5LGrp5wA_X/view?usp=sharing

[2018-09-14 22:42] ghost opened #5185 "[Postman API] Add an endpoint to retrieve API auth key"
Coming from conversation with @adamtarmstrong (feel free to add anything). Would be helpful for applications reliant on the API to directly interface without a required copy/paste step.

Create an open endpoint in the API that allows retrieval of a Postman API auth key via username/password or google auth.

No alternative besides directing users to copy and past, disruptive user experience for any

[2018-09-14 22:53] ghost commented on #2385
Seems obvious. I had to combine them with XML manually.

[2018-09-14 23:54] chrisdeso opened #5186 "Add setting to prevent session variables from persisting to disk"
**Is your feature request related to a problem? Please describe.**
Sessions variables are extremely useful. It would be be great to have a toggle/setting that prevents session variables from persisting locally as well. i.e Session variables must be re-entered every time Postman is started

**Describe the solution you'd like**
A toggle/setting in the settings menu.

[2018-09-15 03:35] ankit-m opened #5187 "Documentation for integrations page has old dashboard screenshots"
**Describe the bug**
Documentation page for integrations has old screenshots.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://learning.getpostman.com/docs/postman_pro/integrations/intro_integrations/#___gatsby

**Expected behavior**
Use new dashboard screenshots

**Screenshots**
![image](https://user-images.githubusercontent.com/9019878/45582024-5beb9000-b8c6-11e8-9b88-e6079084

[2018-09-15 04:26] daswass commented on #5160
Exact same problem. This is a ridiculous way to attempt to get people to pay for the product. Block usage of the collection from the team workspace but dont remove the collection from the personal collection of the creating user. Please fix this _BUG_.

[2018-09-15 06:33] ykh commented on #2865
@science695 How you figured out? :D I did lots of search and there is nothing about this trick ":"!
Tnx anyway :)

[2018-09-15 09:23] faludigabor commented on #2096
Up  - for Hungarian layout too  its a pain ...

[2018-09-15 18:29] abhijitkane opened #5188 "The collection activity feed should show the year too"
The current version of the app only shows the month and date of each collection update. Without the year, it can be misleading for old collections that haven't been updated in a while.

<img width="366" alt="screen shot 2018-09-15 at 01 31 31" src="https://user-images.githubusercontent.com/681190/45589454-52543d80-b943-11e8-8312-c2caccd012c1.png">

[2018-09-15 20:53] gufrancisco commented on #4562
I'm using the 6.3 version and the same bug has occurred.
App events bus { data: {}, name: 'booted', namespace: 'requester' }
and don't open the software.
![selecao_015](https://user-images.githubusercontent.com/25965126/45590504-f623f600-b90f-11e8-9b02-6ebb7bf06c09.png)
My so is ubuntu 16.04

[2018-09-15 21:08] DanaEpp commented on #6682
+1

[2018-09-15 21:33] gufrancisco opened #5189 "Postman does not open - user not logged in error"
I'm using the 6.3 version in Ubuntu 16.04 and don't open the system.
This command is in the terminal
App events bus { data: {}, name: 'booted', namespace: 'requester' }

![selecao_015](https://user-images.githubusercontent.com/25965126/45590729-b829d080-b915-11e8-9786-5c5d1bfeec07.png)

[2018-09-15 21:34] gufrancisco commented on #5189
the 6.2.4 version don't open too

[2018-09-16 14:18] ankit-m opened #5190 "Distinct UI differentiation for team and personal workspaces"
**Is your feature request related to a problem? Please describe.**
The type of workspace is not obvious from the UI.

**Describe the solution you'd like**
Add UI elements to distinguish between team and personal workspaces or give users an option to do so.

**Describe alternatives you've considered**
Adding text in the workspace name.

[2018-09-17 02:04] tangrsgithub commented on #4897
I solved the problem with this method.

[2018-09-17 04:02] SamvelRaja commented on #5189
@gfrancisc0  Could you kindly send us logs from View-> Developer -> View Devtools (Shared)

[2018-09-17 05:29] ykhodos commented on #3473
+1

[2018-09-17 05:40] abhijitkane opened #5191 "The 'this temporary header' tooltip obstructs the actual value"
**Describe the bug**
When sending a request with an auth helper, and auto-generated Authorization header is added. While hovering over the header value, the 'This header has been generated' tooltip blocks part of the value, and there's no way to read the entire string.

**To Reproduce**
Steps to reproduce the behavior:
1. Send a request with the OAuth1 helper enabled
2. Go to the headers tab
3. Ho

[2018-09-17 05:49] sivcan opened #5192 "Autocomplete tooltip gets stuck at the left corner of the app"
**Describe the bug**
The autocomplete tooltip gets stuck in the top corner of the app while sending a request.
This is one way to reproduce this, there are more ways in which this happens.

**To Reproduce**
Steps to reproduce the behavior:
1. In the URL bar add the following url:
[code]
2. In the pre-request script add the following script:
[code]
3. Do not send the request just yet, hover over th

[2018-09-17 06:06] abhijitkane commented on #5175
@sri-miriyala I'm unable to reproduce this. If you're still unable to sign up with the old email, can you email us at help@getpostman.com with the email/username you're trying to use?

[2018-09-17 06:20] chimit commented on #2476
Very annoying problem. Interesting thing is that only the first request is slow. If hit the "Send" button again the response is quick. Sometime later everything repeats.

Local endpoint:
- Chrome App: **214 ms**
- macOS App: **5179 ms**

[2018-09-17 07:07] numaanashraf commented on #5184
@chrisdeso Sessions are part of a variable scope (environment, global, collection etc) and setting/getting a variable through the current pm.* methods would be getting/setting the current value (aka session value) itself. Session values are not first class entities in Postman, and IMO, does not make sense to be exposed directly via a pm API.

[2018-09-17 07:07] #5184 closed, assigned to nobody

[2018-09-17 07:09] numaanashraf commented on #3303
In the latest version of Postman, we highlight the active tab with an orange accent. Hope this helps with this issue.

![screen shot 2018-09-17 at 12 38 31 pm](https://user-images.githubusercontent.com/3295568/45609704-a6137380-ba76-11e8-8bd7-4032ffb433bb.png)

[2018-09-17 07:09] #3303 closed, assigned to nobody

[2018-09-17 07:09] rasecaccedo commented on #5170
@numaanashraf yes it is turned on, i'm attaching an screenshot
<img width="342" alt="screen shot 2018-09-17 at 09 08 44" src="https://user-images.githubusercontent.com/1792105/45609719-6722f500-ba59-11e8-9918-dd4c0908035a.png">

[2018-09-17 08:14] wadtech commented on #5169
@numaanashraf thanks! I missed that when I searched.

[2018-09-17 08:29] wadtech commented on #5039
The above has solved it for me, I was overwriting the /opt/Postman directory with the latest version through a little script since there's no apt package, not realising that would be an issue.

I've fixed my directory permissions instead now so auto update should work

[2018-09-17 09:59] jspori opened #5193 "Get status of tests (passed/failed)"
As a tester i would like to query the status (failed oder passed) with java script.

Currently it is not possible to verify the status (failed oder passed) of a test with java script. it is only possible via asserts.

background:
We want to export the test results to JIRA, which would already work but only on asserts level
One request may have 5 asserts. If they are all passed i want to flag this

[2018-09-17 10:30] vndptl opened #5194 "gRPC support in Postman"
**Is your feature request related to a problem? Please describe.**
I cannot find a client for gRPC based services, and I have really good experiences with Postman mostly with REST APIs. So I was wondering if it was possible to have gRPC support.

**Describe the solution you'd like**
To be able to call gRPC based services from Postman.
https://grpc.io/

**Describe alternatives you've considered**
h

[2018-09-17 10:42] vndptl commented on #2801
+1

Also it might help in getting gRPC support.

[2018-09-17 12:21] Ramya-From-Postman opened #5195 "Billing/Admin user is unable to access the monitors created in the personal workspace."
**Describe the bug**
A user who is designated as billing or billing/admin can create monitors for the collections in their personal workspace. However, the same can't be accessed by them.  They can view the monitors created by them under https://go.postman.co/me/monitors. However, when they try to run it, it is throwing "**something went wrong error**".
Even the monitors tab on the web dashboard i

[2018-09-17 12:45] fontanon commented on #3566
+1

[2018-09-17 13:37] jhonatasobrinho commented on #1678
Please, release this feature soon :(

[2018-09-17 15:39] nvhaver commented on #2302
+1

[2018-09-17 15:44] BrambleRamble commented on #4320
Does anyone know of a workaround for this please?
I've been trying to find a different way to configure a request to send a file, but haven't got anything working.

Our workflow involves regular importing/exporting and running the tests using Newman, so this issue is causing us a _lot_ of heartache.

[2018-09-17 17:00] JasonTheAdams commented on #3608
I'm completely blocked by this on MacOS. I've tested both the latest version of Postman as well as Postman Canary. I've tried setting the Token Bearer authorization for both the endpoint as well as the group. I cannot seem to get Postman to send the Authorization. I also turned on dev mode and checked the console — no output.

Please fix this issue. It seems like it's been around for a while and i

[2018-09-17 18:02] JasonTheAdams commented on #3608
I wanted to report back that in my case Postman was working just fine. It was actually Apache that was causing me grief. Turns out — and I'm still not sure why — but it will strip out the Authorization header. To get it back I added the following to the .htaccess:
[code]
What this does is make `$_SERVER['REDIRECT_HTTP_AUTHORIZATION']` available (or whatever your server language equivalent is). Tha

[2018-09-17 18:17] jorgespiessens commented on #2494
+1

[2018-09-17 22:33] a85 commented on #2013
Folks. We just released this notion of sessions which are local to the Postman app and even if you are signed in, variable values (creds, passwords) don't ever have to hit our servers. More details here: http://blog.getpostman.com/2018/08/09/sessions-faq/

[2018-09-18 00:02] aksbenz commented on #4320
I don't know why the postman team is being so stubborn about this, so many people need this.
I request them, atleast bring back the old feature of saving filename in src field, so that [newman can execute the tests](https://www.getpostman.com/docs/v6/postman/collection_runs/command_line_integration_with_newman#file-uploads).

[2018-09-18 01:42] raghav19 opened #5196 "Run same request with new iteration data using setNextRequest"
One of my usecase is that I have to run a specific request in a loop for all the data provided as CSV or JSON and then run the other request in the same folder.

As of by using setNextRequest to the same POST request, it runs for the same iteration data again and not the new data in the json.

Is there a way to achieve it or what feature is coming up to handle this?

[2018-09-18 02:43] gfrancisc0 commented on #5189
![selecao_016](https://user-images.githubusercontent.com/25965126/45661325-6d55b780-bad3-11e8-8c4d-e67d937ac0df.png)

[2018-09-18 02:43] gufrancisco commented on #5189
![selecao_016](https://user-images.githubusercontent.com/25965126/45661351-88282c00-bad3-11e8-8646-2cacfb061dd8.png)

[2018-09-18 03:22] calvincs commented on #4009
ditto

[2018-09-18 06:47] tbuehlmann commented on #5093
I just followed the steps @echo66 took and got the same result. I'm on Ubuntu 18.04.

[2018-09-18 07:29] SamvelRaja opened #5197 "Activity feed loads duplicate activities on clicking no more activity"
![1](https://user-images.githubusercontent.com/5114052/45671254-9b261500-bb42-11e8-8357-0034fbf6e822.PNG)
![2](https://user-images.githubusercontent.com/5114052/45671261-9e210580-bb42-11e8-9bce-a768b632d308.PNG)

[2018-09-18 07:46] sivcan commented on #5196
I'll close this as a duplicate of https://github.com/postmanlabs/postman-app-support/issues/4996, since it's already tagged with a feature request.

[2018-09-18 07:46] #5196 closed, assigned to nobody

[2018-09-18 08:12] tbuttier commented on #3563
I totally agree. It would be great to have filesystem integration so we could manage the changes with GIT directly.
Moreover, it would be appreciated if no changes were produced just for saving a file.

[2018-09-18 08:26] daubrecq commented on #4898
Missing the bulk edit for environment too. Please, bring it back.

[2018-09-18 09:46] SaamiSolutions commented on #3566
Work around provided by @furick1 works on v6.3.0 on win 10

[2018-09-18 10:03] connorsadlervelo commented on #3302
This really should be fixed IMHO.
I found it very confusing just now. I had a header unticked and it still showed it in the Postman console. I don't think it's being sent to the backend across the wire but who knows?
Basic errors like this make Postman feel quite unreliable.
Then it becomes worse when you see that this was reported over a year ago.
Rant over! Please fix

[2018-09-18 10:22] wstoettinger commented on #4355
is there any workaround until this is fixed? e.g. tweak the repsonse headers and set only one www-authenticate header before the response is processed?

[2018-09-18 12:27] BhanuDash007 commented on #3385
Hi, I am getting this error . If you write 100 lines of code this issue is coming . I checked the syntax other editor no issue is thr

[2018-09-18 12:28] BhanuDash007 opened #5198 "How to avoid - Too many error (xx% scanned?"
Hi, I am getting Too many error - xx% scanned error . I checked the syntax in other JS editor seem to be all syntax correct even post man script is running fine . How to remove that error ?

[2018-09-18 12:31] science695 commented on #2865
@ykh Here is their documentation on this:
[https://www.getpostman.com/docs/v6/postman/sending_api_requests/requests#url](https://www.getpostman.com/docs/v6/postman/sending_api_requests/requests#url)

[2018-09-18 12:31] numaanashraf commented on #5198
Duplicate of #3385. Please use the original thread to continue this discussion.

[2018-09-18 12:31] #5198 closed, assigned to nobody

[2018-09-18 12:32] numaanashraf commented on #3385
@BhanuDash007 Could you share your app version and a sample script?

[2018-09-18 12:36] BhanuDash007 opened #5199 "Connectivity Feature Request for Postman & DB"
Hi , As part of Webservice testing and Automation we need the connectivity between DB and Services. Other tool provide that . If some thing can be done in it ASAP that make Postman more robust.

[2018-09-18 12:38] bjarkebm commented on #2521
While testing Apaches Tika server, I ran into this problem, namely that a Content-Type: text/plain is sent along.
One of the strong features of Tika is to figure out what kind of content it is being sent. This happens unless a Content-Type header is sent, so it is rather unfortunate that Postman sends it along.
If I have to set the Content-Type myself, it defeats my purpose of using Tika in the fi

[2018-09-18 12:50] BhanuDash007 commented on #3385
Version 6.3.0.

[2018-09-18 13:00] BhanuDash007 commented on #3385
pm.test("TC_14 : Test ", function () {

    var jsonData=pm.response.json();
    var Postman_Webservice=jsonData.postmanlab;

   for(i=0; i<Postman_Webservice.length; i+=1){
       pm.expect(Postman_Webservice[i].char).to.eql("");
       pm.expect(Postman_Webservice[i].delS).to.eql("");
	   pm.expect(Postman_Webservice[i].spcl).to.eql("");
       pm.expect(Postman_Webservice[i].money).to.eql("");

[2018-09-18 13:03] BhanuDash007 opened #5200 "Feature Request - Reading the Data from excel and validate the value present in excel with Resonses"
Feature Request - Reading the Data from excel and validate the value present in excel with Resonses

[2018-09-18 13:49] bluvestan commented on #6682
+1

[2018-09-18 13:51] numaanashraf commented on #3874
Duplicate of #3874. Moving discussions to the original thread.

[2018-09-18 14:09] rickythefox commented on #3874
Duplicate of itself?

[2018-09-18 14:13] Sraw commented on #3874
Interesting.

[2018-09-18 14:23] numaanashraf commented on #3874
@rickythefox @Sraw  Sorry folks. My bad. 🙏

[2018-09-18 14:25] numaanashraf commented on #3874
Related to #1667

[2018-09-18 15:26] Postman-Gabriel opened #5201 "ORM Initialization Failed, Incorrect "before deserialization hook" being used"
**Describe the bug**
When installing Postman, the user encounters an error in which the app cannot be initialized. This issue seems to stem from the wrong deserialization hook.

**To Reproduce**
Steps to reproduce the behavior:
1. Install Postman
2. Attempt to launch
3. See error

**Expected behavior**
Expected to be able to install the app.

**App information (please complete the following inform

[2018-09-18 16:55] shamasis commented on #2392
If we do this, my idea, keeping as a note here: as part of the initiative to mutate request from pre-request script, we could think of skipping the request from pre-request. But it needs more thoughts around debugging and visibility

[2018-09-18 17:00] shamasis commented on #2418
I reproduced it. The issue seems to be related to content-length and as such was making things more confusing.

Any response with content-length greater than actual response content buffer size is stalling postman-runtime. This is irrespective of request method. This also sees to be a limitation of underlying NodeJS http body parsing. It actually may need a lot more / low-level work than initially

[2018-09-18 17:04] byronvoorbach commented on #4009
+1

[2018-09-18 17:11] shamasis commented on #2861
Note: We need to unify csv-parse for runner and newman.

[2018-09-18 17:13] shamasis commented on #3199
Thinking of adding Ajv -> https://www.npmjs.com/package/ajv - does that sound good?

[2018-09-18 17:26] shamasis commented on #3597
Note: related to solution of #2392

[2018-09-18 17:28] shamasis commented on #3639
This is intended behaviour. Limiting run to a folder runs the subset of the collection and is not like starting the collection from the folder. We need to look at a better solution to do this.

[2018-09-18 17:32] shamasis commented on #3684
Note: Chunking is supported in underlying runtime and can be bubbled up.

[2018-09-18 18:04] Kal6 commented on #2861
null values are populating in newman and working fine, issue with runner only. Thank you

[2018-09-18 18:12] spamacon opened #5202 "Add an "Output" tab for JSON/XML output from scripts"
I mostly use the Postman App to test existing JSON web services, but sometimes I need to transform the output using a test script. This may involve hunting through MB of JSON data for a particular object, or just getting a list of dates from the output, ignoring all other properties, that sort of thing.

Currently, the only way to view the altered results is to write it out to the console. Sometim

[2018-09-18 18:21] JPhillipBrooks commented on #5189
Hello.  I'm having the same issue on Windows 10 x64.  I had been successfully using Canary with the environment variable POSTMAN_DISABLE_GPU for the last couple months but decided to uninstall it and try out Postman-win64-6.3.0.  However, I'm experiencing the same problem described on this Issue.

Here's a screenshot of Postman seemingly stalled on launch with Developer Tools (Shared).
![image](ht

[2018-09-18 18:38] numaanashraf commented on #5199
Related to #2185

[2018-09-18 19:11] cardosomarcos commented on #1669
+1

[2018-09-18 20:06] guilhermelabigalini commented on #3566
+1

[2018-09-19 00:49] brnleehng commented on #2494
+1

[2018-09-19 05:36] kamalaknn commented on #5201
Hey @Postman-Gabriel

Can you attach the logs you see in the DevTools (View -> Developer -> Show DevTools (Current View) and View -> Developer -> Show DevTools (Shared))?

[2018-09-19 06:47] saurabhranjansingh opened #5203 "Make the scrollbars thicker"
The scrollbars are too thin in the Windows version. It becomes very annoying to precisely place the mouse pointer over the scroll bars especially when there are two scroll bars side by side.
![scrollbar](https://user-images.githubusercontent.com/10433007/45735574-f66d0b80-bc05-11e8-9fe7-8e7f30a3a42f.png)

[2018-09-19 06:58] ayberkanilatsiz commented on #4897
For OSX i clear postman cache and fixed.

Cache path: ~/Library/Application Support/Postman

[2018-09-19 07:06] anudeepmedicharla opened #5204 "Renaming a workspace doesn't work in the app"
Works on the dashboard. In the app, I'm unable to rename a workspace.

[2018-09-19 07:07] shamasis commented on #3703
Note to self:

Interesting read regarding 302 in RFC 1945

https://tools.ietf.org/html/rfc1945
[code]

[2018-09-19 07:12] SamvelRaja commented on #5189
@gfrancisc0 @JPhillipBrooks  This seems to be a corrupted data in DB.

Could you send us the information by running below command in devtools console to help[at]getpostman[dot]com
[code]
Kindly **REDACT** the sensitive information

For a quick workaround, removing `C:/Users/[USER]/AppData/Roaming/Postman` will work.
⚠️  The workaround will delete your existing data in the app.

[2018-09-19 07:17] harryi3t commented on #4355
@wstoettinger Yes, if the server only sends one header for `www-authenticate` then it should work.
You can try our test endpoint for NTLM using the collection I have shared below
[![Run in Postman](https://run.pstmn.io/button.svg)](https://app.getpostman.com/run-collection/3a317ed4211384d8bfe9)
![postman_console_and_postman](https://user-images.githubusercontent.com/5207331/45736964-26b6a900-bc0a-

[2018-09-19 07:20] shamasis commented on #3703
More notes from HTTP 1.1 specs

https://tools.ietf.org/html/rfc2616#section-10.3.2
[code]

Where on earth do they specify what headers are allowed to forward?

[2018-09-19 08:03] vlaslaptev commented on #2082
Same

[2018-09-19 08:28] wstoettinger commented on #4355
@harryi3t thanks for your quick reply. unfortunately the server sends two headers (as opposed to one comma separated) and it doesn't work out of the box. that's why I even searched for the issue and ended up here.

My idea for a workaround would be to somehow intercept the response header, merge the two www-authenticate to one and then continue with the processing.

[2018-09-19 08:47] vkaegis commented on #2315
Hey guys! We've made an RFC to document our ideas on version control in Postman, would love your thoughts and feedback on it:

https://community.getpostman.com/t/version-control/2715

[2018-09-19 08:48] vkaegis commented on #3729
Hey guys! We've made an RFC to document our ideas on version control in Postman, would love your thoughts and feedback on it:

https://community.getpostman.com/t/version-control/2715

[2018-09-19 08:48] vkaegis commented on #3041
Hey guys! We've made an RFC to document our ideas on version control in Postman, would love your thoughts and feedback on it:

https://community.getpostman.com/t/version-control/2715

[2018-09-19 08:49] vkaegis commented on #2071
Hey guys! We've made an RFC to document our ideas on version control in Postman and it could be relevant to this discussion. Would love your thoughts and feedback on it:

https://community.getpostman.com/t/version-control/2715

[2018-09-19 08:49] shamasis commented on #3742
Essentially, we currently drop the entire file row, if no file has been selected once or reading file failed.

So, a good behaviour would be:

1. Send the file "key" / name, irrespective of whether a file was selected or reading errors out (and give a warning in console logs).
2. To ignore the key as well as value, we should respect the disabled checkbox. This is done.

Regarding point one, affect

[2018-09-19 08:49] vkaegis commented on #879
Hey guys! We've made an RFC to document our ideas on version control in Postman and it could be relevant to this discussion. Would love your thoughts and feedback on it:

https://community.getpostman.com/t/version-control/2715

[2018-09-19 08:50] vkaegis commented on #2027
Hey @keeper3000! We've made an RFC to document our ideas on version control in Postman and it could be relevant to this discussion. Would love your thoughts and feedback on it:

https://community.getpostman.com/t/version-control/2715

[2018-09-19 09:18] ash007-postman opened #5205 "Trying to deploy version 6.3.0 via SCCM"
I am trying to deploy version 6.3.0 via SCCM, when installing the .exe it appears to be installed into the app data folder of the user and there is no uninstaller.

I have created a custom .msi, however, the users are getting the following error when attempting to open the program.

Selecting “yes” to view more information takes me to the following Microsoft support page:

https://support.microsof

[2018-09-19 09:24] lcimpl commented on #675
+1

[2018-09-19 09:28] Dragonsangel opened #5206 "DNS Resolution with IPv6 and IPv4 results leads to IPv4 being used."
**Describe the bug**
When calling an API Endpoint that is behind a DNS Name with IPv4 and IPv6 resolutions, Postman uses the IPv4 resolution instead of the IPv6.
This creates an issue where we have some services disabled for IPv4 but the server itself should be accessible via both routes.

**To Reproduce**
1. Have an API Endpoint that is called via a DNS Name (https://example.org/test/route)
2. DN

[2018-09-19 09:38] sujayvenaik commented on #5013
Hey @ash007-postman

The shortcut for windows and linux platform are different for next tab and previous tab.
Switch To Next Tab Ctrl + Tab
Switch To Previous Tab Ctrl + Shift + Tab

The shortcuts you wrote above are for the mac platform.

[2018-09-19 09:38] #5013 closed, assigned to sujayvenaik

[2018-09-19 09:50] dmytro-astakhov opened #5207 "Console shows disabled body parameters"
**Describe the bug**
Postman console shows disabled body parameters

**To Reproduce**
Steps to reproduce the behavior:
1. Go to request builder
2. Add some body parameters
3. Disable a couple of body parameters by unchecking corresponding checkboxes
4. Open Postman console
5. Send the request
6. Observe disabled parameters in "Request body" section.

**Expected behavior**
Request body should not c

[2018-09-19 09:52] liniukesi opened #5208 "Postman could not start - default workspace missing"
Please read through the [guidelines](https://github.com/postmanlabs/postman-app-support#guidelines-for-reporting-issues) before creating a new issue.

**Describe the bug**
postman could not work,always stay at start page

**To Reproduce**
double click on app and wait...

**Expected behavior**
app start successfully.

**Screenshots**
1.get these messasges from console view :
![image](https://user-i

[2018-09-19 10:25] mirsoo commented on #3360
To edit the tests catching this Postman incorrect behaviour is not the right approach!
Postman should not fail on getting 500 errors.
I can react on 500 error and quit test by myself if i want (with postman.setNextRequest(null))
I'm using Version 6.3.0 and it still failing on 500 error

[2018-09-19 10:35] SamvelRaja commented on #5205
Related to https://github.com/postmanlabs/postman-app-support/issues/4576

[2018-09-19 11:19] harsh-reality opened #5209 "Run in Postman button not working | In Windows environment only"
**Describe the bug**
This bug (Java Script bug?) seems to be specific only to this collection. Here is the link to the web page: https://docs.newsletter2go.com/

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://docs.newsletter2go.com/'
2. Click on 'Run in Postman' button
3. Then Click on Open in 'Windows App'. Nothing happens after that- the same web page(https://docs.newsletter

[2018-09-19 11:53] SamvelRaja commented on #5209
@godfrzero  On debugging we see that it's not redirecting to `postman://` protocol for the handover.

[2018-09-19 12:07] thomasazdon commented on #2729
Has this been fixed?  I do not see in my postman where to enable body in a get request?

[2018-09-19 13:15] jolsen71 commented on #4938
This issue caused me some grief as well; I was expecting the tab's "duplicate" to do what the sidebar's "duplicate" does, so after I made a duplicate via the tab menu, I changed all values I wanted to change and saved it--only to later realize I destroyed the original values.

I'm not sure I see the value in having two or more tabs open to the same request, since it doesn't seem like you can drag

[2018-09-19 13:30] Dragonsangel commented on #5206
One option what can be done is to implement a new Setting indicating what Postman should do:
* OS Preference (default)
* IPv6 First
* IPv4 First
* IPv6 Only
* IPv4 Only

This way it can also be made available for the User to test the API's behavior in case they have some IP related config.

[2018-09-19 13:31] jolsen71 commented on #2887
Prompting for undefined would be great.

I would explicitly like to request three tangential features:

1) As a new user to Postman, it seems odd that "Params" is a button next to the URL text box instead of a "tab" like "Authorization" and "Headers".  In fact, the "Params" button (to me) blended in with the method/URL text box group and I didn't immediately notice it because I was expecting it (a

[2018-09-19 14:01] ghost commented on #4818
hey, this is a very important feature, in my work place we buy a licence pro, but we want publish our doc in multiple enviroments. https://api.epayco.co. I hope you fix this soon.

best regards.

[2018-09-19 14:02] numaanashraf commented on #2729
@thomasazdon This feature is not out yet. We are working on this now and would post updates here when this feature is available in our Canary and stable apps.

[2018-09-19 14:19] JPhillipBrooks commented on #5189
Email has been sent with the requested output.  Thank you!

[2018-09-19 15:07] shamasis commented on #3780
Note:

The original issue was around missing grant type "The result is 400 because of missing grant_type parameter in the body." Down the line, additional similar issue has been added - which has not been linked to a common cause.

We would need more details to replicate the issue, since for POST methods in general cases, the content length was sent reliably. We should discuss what are the specifi

[2018-09-19 15:10] shamasis commented on #3778
Note: We need more details, perhaps a scaled down collection and/or endpoint to reproduce this.

[2018-09-19 15:12] B-Dunbar-Personal commented on #3942
The issue is still there,

[2018-09-19 15:14] shamasis commented on #3803
Note: The error details forwarded from inside the sandbox maybe placed closer to the failure.

[2018-09-19 15:17] shamasis commented on #3817
Note: headers may not have line-ending characters interpreted from UI and if it is, it may be normalised between body and header. The request sending mechanism is agnostic and actually fails if unexpected header characters are introduced.

[2018-09-19 15:24] shamasis commented on #4001
Yes. @dadvir you are right on target. This is the behaviour implemented wrongly by most clients (browsers) since the beginning of time. :-( Owing to the primary nature of API used via browsers from when we started, this design (or bug in design) had to be retained.

Showing 3xx information and such warnings would be great and maybe even options to ignore these by introducing settings.

Note: runti

[2018-09-19 15:26] shamasis commented on #3937
Note: we could begin by adding extensive tests with as many combinations we can think of and see if that reveals this issue. cc @codenirvana

[2018-09-19 15:27] omkar-dsd opened #5210 "Querying API Response with GraphQL"
GraphQL has always been of great use as a middleware. Querying the API response for getting a better understanding would be a great feature that I would prefer to have on Postman.

[2018-09-19 15:31] numaanashraf commented on #5210
Duplicate of #1669

[2018-09-19 15:31] #5210 closed, assigned to nobody

[2018-09-19 15:32] shamasis commented on #3989
At the moment, console is intended to be a logging target and as such the functions by design only reflect the "severity level" of the log, such as console.log, .warn, .info, etc. Postman Chrome app was essentially powered by Chrome browser and as such inherited these console aspects, which are not scalable in more non visual use cases such as on CLI and Postman Monitors.

In the short to mid term

[2018-09-19 15:32] #3989 closed, assigned to shamasis, kamalaknn

[2018-09-19 15:35] shamasis commented on #4017
@masterada - this is interesting. I would like to know more about your use case with some example and perhaps a collection shared. :-) this would help us assess better on how to scope this feature.

[2018-09-19 15:36] shamasis commented on #4017
Note: This could also be solved by an entry-point script that can build an array of variables corresponding to iteration count.

[2018-09-19 15:37] a85 commented on #196
Just wanted to point out that Postman now has in browser views for collections that can help reference a request/collection from other places. We are working on tying together these web views with the app so the app can be opened in a particular state either from the Postman web views or directly from any other place.

[2018-09-19 15:39] shamasis commented on #4024
Note: This would be part of the initiative of making collection-level data available within Postman Sandbox in the long term. This has no ETA in short to mid term and needs to be decided where in long term this gets scheduled

[2018-09-19 16:16] kamalaknn opened #5211 "Edit actions should not be allowed for workspace that user has not yet joined"
**Describe the bug**
Actions on collections/environment that update the workspace like `Remove from workspace` or `Duplicate` should not be allowed until the user has joined the workspace.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to a workspace you haven't yet joined
2. Click on '...' dropdown next to collection
3. See `Remove from workspace`

**Expected behavior**
Should not see `

[2018-09-19 16:38] shamasis commented on #4058
Now we have scripts at folder and collection level.

You can also set local variables using `pm.variables.set` in any of the scripts in run and it will be available through the run and only during the run. Functions cannot be set as variables.

So, as a hack, you can write your function as string in a variable in collection script and eval them everywhere. The benefit from previous step is that it

[2018-09-19 16:38] #4058 closed, assigned to a85, vkaegis

[2018-09-19 16:51] HarryF514 commented on #3312
+1
+1
+1

[2018-09-19 18:17] amatlock930 commented on #493
any update on this? Would like to see this scheduled...

[2018-09-19 19:55] chrisdeso opened #5212 "Slack Integration doesn't populate Monitor information"
**Describe the bug**
When adding the Slack integration to a workspace in order to receive monitoring results, the associated monitor's information doesn't populate in the web dashboard.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a monitor
2. Navigate to the [web dashboard](https://app.getpostman.com/dashboard)
3. Add an integration to the desired workspace
4. Inspect the list of

[2018-09-20 01:25] ahdung commented on #3874
+1

[2018-09-20 03:01] godfrzero commented on #5212
@ankit-m Loading indicators!

[2018-09-20 03:28] sri-miriyala commented on #5175
@abhijitkane I was able to signup after 30 min. But this was the behavior I noted, when I try to delete the existing account and create new one with the same ID.

[2018-09-20 03:46] shamasis opened #5213 "Url encoding issue in generated cURL"
Migrating an issue reported on Newman issue tracker. Needs to be triaged.

mac 6.3.0

curl not urlencode

origin :http://partner.qima-inc.com:7001/partner/com.youzan.beauty.partner.api.naturade.promotion.group.GroupActivityService/1.0.0/getGroup?json={"activityId":"1","userId":102707,"shopId":1138}

use app curl

curl -X GET
'http://partner.qima-inc.com:7001/partner/com.youzan.beauty.partner.api.n

[2018-09-20 03:46] shamasis commented on #5213
Original issue at: https://github.com/postmanlabs/newman/issues/1720

[2018-09-20 05:57] ashishkumarjoshi-accolite commented on #3225
[samplePostmanScriptData.txt](https://github.com/postmanlabs/postman-app-support/files/2399819/samplePostmanScriptData.txt)

I am facing the same issue. Other than string variables, everything is getting parsed as Object.

![postmanrunnerissue](https://user-images.githubusercontent.com/38347722/45798523-d1d96800-bcc7-11e8-9017-80765526e9dc.PNG)

escaping the curly braces "{ }" is not working. Can

[2018-09-20 06:52] rahulkushwaha12 commented on #2801
@garrettsickles First of all thanks for the solution.
I have some doubts. Can you help me with understanding  this code
`var customProto = eval(globals.myCustomProtobuf);
var yourMessage = customProto().lookupType("YourProtobuf.MessageName.Here");
var message = yourMessage.decode(pm.response.stream);
console.log(message);`

i tested your test script using postman with a GET request using header _A

[2018-09-20 07:21] oresot commented on #2700
+1

[2018-09-20 08:53] m3dbedb commented on #4449
Does local variable, defined in pre-request or test script (var a;) is the same as collection variable accessed via pm.variables.a?

[2018-09-20 10:14] andreas-bergstrom commented on #1669
What's the status here? I'd happily support a Kickstarter to get this done. As long as it has the same feature set as Postman for REST, including Tests (which Insomnia lacks).

[2018-09-20 10:59] dave421 commented on #1070
+1 this would be very nice to have :)

[2018-09-20 11:14] ash007-postman opened #5214 "Monitors disappear"
Hi, we have a paid account and we're setting up monitors to run every 15 min. But they only run while I have my browser open. When I revisit the monitors page, everything is gone. I'd like the monitors to keep running regardless of if my computer is on.

![screen shot 2018-09-19 at 11 56 17 am](https://user-images.githubusercontent.com/41741228/45814583-ab312680-bcf3-11e8-877b-fadb5f1cf54e.png)
![

[2018-09-20 13:15] Sajjon commented on #4360
I had sync issues too. Running macOS High Sierra - 10.13.6 (17G65) and Postman 6.3.0/

 I'm part of a team, and it seemed I got into a "bad state". My import ("team collection" -> "share" -> "my workspace") of a team collection was out of sync even though I deleted it and re-imported it (re "shared" it. I think "Share" is a bad name, should be name "import"...).

What fixed it for me was to delete

[2018-09-20 13:24] harryi3t opened #5215 "Allow users to clear all the cookies"
Right now Postman allows to delete cookies one by one and also per domain.
But users can't delete all the cookies in one go.
This is useful for cases where there are too many cookies.

[2018-09-20 13:26] aulakhs opened #5216 "Mock Service Dynamic Response using environment variables"
I was wondering if I can change the values defined in the Example response dynamically, like described below. So every time I hit the mock endpoint, I get a different value for the last bit of randomName and randomCode fields.

{
    "randomName": "name-1",
    "randomCode": "code-1"
}

I've tried using the environment variable in the pre-request script and see that those are being set in the in t

[2018-09-20 14:18] danieladougan commented on #4977
So, is there an update on this?

[2018-09-20 14:19] jhorbulyk opened #5217 "NTLM Authentication should pull domain from username if provided"
**Describe the bug**
If I use NTLM to authenticate with a username of the form `SomeDomain\someUser` authentication fails.  However, if I set the domain and user separately, authentication succeeds.

**To Reproduce**
1. Create a request with authorization type NTLM.
2. Set username to `SomeDomain\someUser` with a corresponding valid password.
3. Send the request.
4. Receive a 500 code response fro

[2018-09-20 14:45] nikitasius opened #5218 "Impossible to select the TEXT while renaming"
**Describe the bug**
You cannot select text while renaming records (details in short video)

**To Reproduce**
Select a record, click `rename`, try to select the text, you can't.

**Expected behavior**
Allow to select the text with mouse :rofl:

**Screenshots**
* Video: [Screencast 2018-09-20 16:41:53.mp4.zip](https://github.com/postmanlabs/postman-app-support/files/2401764/Screencast.2018-09-20.16

[2018-09-20 15:23] Pictor13 commented on #2140
[Documentation for mac app v6.x](https://www.getpostman.com/docs/v6/postman/sending_api_requests/interceptor_extension) says to just install Interceptor and enable it in the app (as it used to be into Chrome App).

But no icon is present in the Mac app.

This is frustrating...
Anybody that got it work? Or is the documentation just incorrect?

[2018-09-20 15:32] yanzishang commented on #2082
Same!

[2018-09-20 16:26] d42ohpaz opened #5219 "Pre-Request Script Has No Access to Inherited Authorization"
Please read through the [guidelines](https://github.com/postmanlabs/postman-app-support#guidelines-for-reporting-issues) before creating a new issue.

**Describe the bug**
When setting the authorization on an endpoint, the `pm.request` object has an `auth` object describing the authorization. For example:

![screen shot 2018-09-20 at 10 28 44 am](https://user-images.githubusercontent.com/2528463/4

[2018-09-20 17:29] garrettsickles commented on #2801
@rahulkushwaha12 I made a Gist of this setup here:

[How to setup client side protobuf library in Postman](https://gist.github.com/garrettsickles/69d73ffce920ee7d8f6023cf5706f012)

At the bottom is the exported postman globals from my test workspace.

The request's response body (stored by postman in `pm.response.stream`) must contain a valid serialized protobuf message though...

Unfortunately I

[2018-09-20 17:53] ravibhagat commented on #3303
Thanks Team, appreciate your efforts.

[2018-09-20 18:33] rahulkushwaha12 commented on #2801
@garrettsickles  Thanks for the help. Can you tell me which version of postman you are using. Some functions are giving error like **eval** in my version of postman

[2018-09-20 19:27] jreisam commented on #4009
@@ nothing?

[2018-09-20 20:05] monGanti commented on #2256
same here 'Troubleshoot compatibility' works, i installed 6.3.0 version on windows 8.1 and i got the blank screen. Following the instructions here helped.

[2018-09-20 21:12] BhanuDash007 commented on #2185
Any update on above request for #5199

[2018-09-20 21:15] BhanuDash007 commented on #3385
Any update?

[2018-09-20 21:19] Pictor13 commented on #3661
I have the same problem; but no log (of any level) is displayed in the devtools console. Any idea what needs to be solved?

When configuring the proxy (either for HTTP and HTTPS, on macOS) just few requests are caught, like:

* http://www.gstatic.com/generate_204
* https://localhost/
* https://localhost/favicon.ico

Other requests to remote or local urls are not being logged and don't show at all

[2018-09-20 21:51] tufangxu commented on #3395
Hi, Can we change the query condition to "OR" instead of "&" among keys

[2018-09-21 02:11] godfrzero commented on #5209
This looks like a problem with URL length limitations in different browsers. Since the run in postman button uses the URL fragment to pass the encoded environment variables to the app, the total length of the URL can go beyond 2048 characters (which is where the problem seems to start).

We'll look for a way to avoid this issue, but in the meantime the best way to avoid this problem is to keep unn

[2018-09-21 02:47] claudiofreitas opened #5220 "Inconsistency of behaviors when editing variable value on "Environment Quick Look" and "Manage Environments""
**Describe the bug**
When you edit a variable's value using the Manage Environment "cog" button, you can insert new lines, spaces after the last character.
But when editing the same variable using the Quick Look "eye" button, you don't have the same editing power.

Yesterday I was adding a host variable, and when selecting a text to copy/paste from another place, 3-clicking the text made the whole

[2018-09-21 03:49] numaanashraf commented on #3385
@BhanuDash007 We are unable to replicate this issue. Could you share a screenshot and detailed steps for replicating this issue?

<img width="849" alt="screen shot 2018-09-21 at 9 18 33 am" src="https://user-images.githubusercontent.com/3295568/45859347-6a7eef00-bd7f-11e8-93ec-ac7ca960b1cf.png">

[2018-09-21 04:16] DeclanMurphyCit commented on #2676
This would be great, and easy to implement also.

[2018-09-21 05:53] ratpik commented on #5216
@aulakhs - You can create a mock server with an environment and use variables from that environment as part of your example response. So you can have your example response like this:

[code]
Every time you call the mock endpoint, this example response is returned with the environment variables resolved. To make the response dynamic, you can update the environment variables every time before you ca

[2018-09-21 06:11] harryi3t opened #5221 "Activity feed in Postman app doesn't refresh"
The activity feed is not automatically refreshed on making some changes in the collection.
The user has to restart to the app to see the updated feed.

Either automatically refreshing the feed or having a button to manually refresh would be helpful.

[2018-09-21 07:38] karlmacklin commented on #3089
An alphabetical sort would be **very** useful.
Even if you have a small amount, say 30 requests, in a collection.

Sure, you could sit there and drag and drop if you're billing hourly and be happy about it. But if you have a set budget it would save you much anguish and tedium to just click once and have it sorted alphabetically.

[2018-09-21 07:43] karlmacklin opened #5222 "Sort requests in folder, alphabetically"
I would like to have a button to sort the requests in a collection folder, **alphabetically**, with a single click.

The current sorting is manual and if you have a large collection of requests that you have created over time, that big mess could quickly be solved by such a button, and not so quickly by manual work dragging and dropping.

[2018-09-21 09:37] adenvt commented on #5061
Get same issue

Native App
v6.3.0
Ubuntu 16.04

[2018-09-21 10:05] karolinanm commented on #4677
Hi, postman is a great tool but I currently can't use it without TLS support (sslv3 handshake failure)...do you have any idea, when you could implement this feature?

[2018-09-21 10:09] karolinanm commented on #2536
Hi, postman is a great tool but I currently can't use it without TLS support (sslv3 handshake failure)...do you have any idea, when you could implement this feature?

[2018-09-21 10:30] xukaifu commented on #4009
this feature is awesome

[2018-09-21 11:33] kszafran opened #5223 "List Rendered Incorrectly"
**Describe the bug**
List items are interspersed with empty `<p></p>` paragraphs when there is a long code block in the description. This happens with all kinds of bullet points: `-`, `+`, `*` (even with numbers `1.`, which apparently are rendered as unordered lists too).

Also, the list items `<li>` are not inside a `<ul>` tag at all. That tag is empty (`<ul></ul>`).

**To Reproduce**
1. Import t

[2018-09-21 12:44] numaanashraf opened #5224 "Example responses are not rendered in documentation if the first one is empty"
If the first response is 200 and empty body
All the following example response will gone.

# Video
https://youtu.be/6CjFMiZ5Tmo

# Possible reason
All the response example is in the same `html DOM ` if the first one do not have response. The response DOM will not be created. Therefore, all the following response will not shown.

Originally posted by @AlphaWong at https://github.com/postmanlabs/pos

[2018-09-21 12:51] zorner commented on #5020
The problem with that solution, is the 'share' feature is still on postman's cloud. As my company does not own Postman's cloud it is outside the companies control, thus a security violation for sensitive data. That is why we need our own internal/on-site version.

[2018-09-21 14:06] simoami commented on #3960
Any updates on this? This makes Collection Runner unusable to some degree. How are we supposed to know what failed when you have multiple assertions per test?

[2018-09-21 15:13] panagath commented on #4898
Yes, bring the bulk edit back please. We use the environment variables to set session tokens and similar data that change regularly and they are many in every go. I cannot keep copying 20 values one by one etc. The bulk edit was the most useful thing in postman. For now I have to use the older version for this

[2018-09-21 15:14] numaanashraf commented on #3960
@simoami We are working on this and would share an update here when this is available on our Canary channel.

[2018-09-21 15:15] simoami commented on #3960
Thanks @numaanashraf !

[2018-09-21 15:29] cdkisa opened #5225 "App launch flickering"
**Describe the bug**
The issue is that the app does not appear right away and the mouse cursor is flickering for about a minute before the app appears. The app eventually appears and is functional. This started with the 6.3.0 update.

**To Reproduce**
Steps to reproduce the behavior:
1. Launch the Postman App

**Expected behavior**
The app appears quickly without the flickering

**Screenshots**
Ca

[2018-09-21 15:36] sarahalhawi92 commented on #4898
+10 please bring it back!

[2018-09-21 15:47] kolonuk opened #5226 "Next/Previous in Find in Response Body"
**Describe the bug**
When using the Find in the response Body tab, the Next and Previous arrows do the opposite of what they say - Next goes to the previous occurrence, and Previous goes to the next occurrence.

(sorry if this is a duplicate, I tried my hardest to search the issues for this or something like it)

**To Reproduce**
Steps to reproduce the behavior:
1. Get a response in the Body tab.

[2018-09-21 16:08] mslancashire commented on #2951
This issue still exists I ran into it today when trying to import all our API Services into POSTMAN during our CLI build process.

We have set host to be "api.{{EnviromentPart}.{{DomainPart}}" which then transforms into "api.{{EnviromentPartpostman_variable_close_d/B.{{DomainPart}}".

After looking through your code in Git Hub found where the issue is occurring just not sure of the fix.

https://g

[2018-09-21 19:05] cypher0six commented on #4485
Are you saying that you cannot have HTTP Header field values that span multiple lines? Because if that is the case, then that is not really true. HTTP Headers can and do support the field value spanning multiple lines. The value on the new lines need to be preceded by a space or a tab, but it is supported. See RFC2616 Section 4.2 (https://tools.ietf.org/html/rfc2616#section-4.2).

Not that this fe

[2018-09-21 20:21] ydetraliya opened #5227 "User is able to create account with the password same as Username ."
Please read through the [guidelines](https://github.com/postmanlabs/postman-app-support#guidelines-for-reporting-issues) before creating a new issue.

**Describe the bug**
*User is able to create account with the password same as Username*

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://www.getpostman.com/
2. Click on sign up
3. Fill out all the requirement untill the password

[2018-09-22 02:19] godfrzero commented on #5224
@AlphaWong Thanks for reporting this, we'll get this fixed in the next release of the public documentation.

[2018-09-22 07:14] barbareek commented on #3251
This is not fixed , i am still getting "certificate "key" load error: ENOENT: no such file or directory, open "

[2018-09-22 07:15] barbareek commented on #3251
<img width="604" alt="screen shot 2018-09-22 at 12 42 39 pm" src="https://user-images.githubusercontent.com/5753015/45914640-62997a80-be65-11e8-824a-3e1cf0bb9090.png">

[2018-09-22 12:01] ykh commented on #3358
I need this one also :+1:

[2018-09-22 13:06] markdemich commented on #783
+1 without this, it's impossible to test my API.

[2018-09-22 16:22] miraclebg commented on #2936
@numaanashraf Yes, there are examples but what is lacking here is the ability to actually describe and define a response schema - much like with RAML.

Why is it important?

Because an example is just an example.

First - it will not explain what the response and its properties are about.
Secondly - yes, it does hint the types of the returned data but it is not clear which of them are required to

[2018-09-22 16:34] godfrzero commented on #2936
The request description is markdown, and this sounds like something that can be added there. Have you experienced any problems or shortcomings with this approach?

[2018-09-22 16:42] miraclebg commented on #2936
I saw some information about this but i can't seem to be able to find out how to do it? Where do you define this? In the examples themselves? Or in the generic API call description?

Best thing would be to be able to define this per response type (200, 500, etc).

With a schema definition much more can be accomplished in terms of automation, testing and code generation.

Describing the api with te

[2018-09-22 18:25] miraclebg commented on #3205
How about setting a default environment in the public documentation?

[2018-09-22 20:59] xsedlak commented on #3008
Hi Asthana, do you have some progress of the feature.
We need to hide some request/folder in the collection.
The same functionality is implemented in the JMeter via Disable for anything.
Thank you and best regards,
Miroslav Sedlak

BTW: I read some threads related for the topic, see
https://github.com/postmanlabs/postman-app-support/issues/2392
https://github.com/postmanlabs/postman-app-support/is

[2018-09-22 21:46] xsedlak commented on #2392
Hi @shamasis, if do you need some input from user side I can support you.

I have one idea how can be implemented in the JSON. We can use some comment of Disabled request/directory but I'm not sure if it's the good solution, see
https://stackoverflow.com/questions/244777/can-comments-be-used-in-json

Or can be used another JSON flag for disabling request/directory.

The debugging will ignore the p

[2018-09-23 00:37] feratpl commented on #3449
Hi,
I have the same issue. No issues with the Chrome app, but the Native app doesn't work even after turning off SSL certificate verification.

<img width="939" alt="screen shot 2018-09-22 at 5 36 33 pm" src="https://user-images.githubusercontent.com/20707461/45922980-2c242580-be8e-11e8-9d5f-97a74e8b0672.png">

[2018-09-23 02:10] godfrzero opened #5228 "Collection sidebar filtering causes the app to go into unrecoverable state"
**Describe the bug**
Filtering in the collection sidebar causes the app to go into unrecoverable state

**To Reproduce**
Steps to reproduce the behavior:
1. Go to a workspace
2. Type something in the collection sidebar
3. App goes into unrecoverable state with generic error message: Something Went Wrong. Postman has encountered an error. If this problem persists, contact us at help@getpostman.com

[2018-09-23 02:16] godfrzero commented on #3205
@miraclebg You can select an environment while publishing a collection. This environment will then be available publicly, and it'll be selected by default when the public documentation is viewed.

[2018-09-23 03:09] tarunmaini16 commented on #884
Facing same issue with interceptor version `0.2.24`

[2018-09-23 05:04] abhijitkane opened #5229 "The HTTP method for history requests isn't saved correctly."
**Describe the bug**
I see requests in my history sidebar with no HTTP method (screenshot attached). When I click on any of these, it opens in the builder with the method set to GET. But hitting send adds another method-less item to the history.

This is verified by checking the API response from the server while viewing workspace history on the web dashboard.

**To Reproduce**
Steps to reproduce

[2018-09-23 05:06] abhijitkane opened #5230 "Extra bottom-border for the URL input box"
<img width="1040" alt="screen shot 2018-09-23 at 10 36 29" src="https://user-images.githubusercontent.com/681190/45924383-9daab500-bf1c-11e8-9bb2-3a400673ab57.png">

Postman for Mac
Version 6.3.0
OS X 17.3.0 / x64

[2018-09-23 06:04] godfrzero commented on #2936
Right now, it'll be in the request description. We're looking at adding descriptions to the example responses as well, so that's where this would be added in the future.

Testing against a schema as a built-in feature is something we're not tracking yet. Could you create a new feature request ticket for this, along with an example use-case?

[2018-09-23 07:03] ratpik commented on #2936
@miraclebg - You could save your schema as an example response and use that to validate your responses.

I often use something like the code snippet below to validate my response from API against a JSON schema. You can do that with a RAML schema definition too.

[code]

[2018-09-23 07:28] kamalaknn commented on #5228
Looks like some of the components were assuming method to always be present. With a recent change in one of the pre-production channels when a request is created without a method(the rest of the systems would work assuming GET), these components seem to be crashing. We'll add a fix to make sure the components do not crash in the next versions.

We'll also plug the source that was creating the requ

[2018-09-23 10:19] maryoomi commented on #4038
Thanks @EricPSU. It worked for me by setting SSL certificate verification to off.

[2018-09-23 14:32] raghav19 commented on #4996
Hi @sivcan,

I tried more towards what i wanted to achieve with my usecase, and i could come up with the following:
I set the whole test data as a part of the pre-request script as follows

       let testdataset =
       [
       {
	      "name": "Raghav",
	      "address": "abcd",
	      "value": "Hello"
       },
       {
	      "name" : "Santosh",
	     "address" : "defg",
	     "value" : "Mno

[2018-09-23 14:48] AnteroGasalho commented on #4703
I've installed the 6.3.0 version and I had the same problem "black window".
I create the variable and apparently it works!

[2018-09-23 16:50] kienbui1995 commented on #4009
This feature is needed.
I think that many users want to it attach the app.
https://stackoverflow.com/questions/42269075/websocket-connections-with-postman/43754722#43754722

[2018-09-23 19:54] feratpl commented on #4677
Same issue here. I currently can't use it without TLS support as i am using Self signed Certificate. Because of this issue,  i am back to using the Chrome App.
Any updates on this ?

[2018-09-24 01:58] keranm commented on #4888
Hey there
As a paying customer, it's pretty critical that I can do the following on documentation pages & buttons:

- Track page/section usage (to validate the spend & to work out what areas need improvement)
- Understand how many people are clicking the "Run in Postman" button, and where from (your site, our site etc)

I'd be totally cool with simply being able to add Google Analytics or Segment

[2018-09-24 05:45] sujayvenaik commented on #5038
@sankalp0o Hi, we have addressed this issue as part of various improvements we have made to how tabs work in Postman. These changes are up available on our canary channel (https://www.getpostman.com/canary) today and would soon be available on the stable channel. Do try these out in the canary and let us know.

[2018-09-24 05:47] sujayvenaik commented on #4795
@anudeepmedicharla
This shortcut is available on our windows and linux platform for switching between the tabs.
Only in mac you shift using Ctrl + Shift + [.

[2018-09-24 05:48] sujayvenaik commented on #4640
@massenz
Hi, we have addressed this issue as part of various improvements we have made to how tabs work in Postman. These changes are up available on our canary channel (https://www.getpostman.com/canary) today and would soon be available on the stable channel. Do try these out in the canary and let us know.

[2018-09-24 05:48] sujayvenaik commented on #4513
@Celadora
Hi, we have addressed this issue as part of various improvements we have made to how tabs work in Postman. These changes are up available on our canary channel (https://www.getpostman.com/canary) today and would soon be available on the stable channel. Do try these out in the canary and let us know.

[2018-09-24 05:49] sujayvenaik commented on #5009
@SolarSailor15
Hi, we have addressed this issue as part of various improvements we have made to how tabs work in Postman. These changes are up available on our canary channel (https://www.getpostman.com/canary) today and would soon be available on the stable channel. Do try these out in the canary and let us know.

[2018-09-24 06:10] sujayvenaik commented on #4782
Hey @franksands

We have introduced a new Download button in the response section as part of various improvements we have made to how tabs work in Postman. These changes are up available on our canary channel (https://www.getpostman.com/canary) today and would soon be available on the stable channel. Do try these out in the canary and let us know.

[2018-09-24 06:13] sujayvenaik commented on #2082
Hey,
We have addressed this issue and file name is now picked from the Content-Disposition header. These changes are up available on our canary channel (https://www.getpostman.com/canary) today and would soon be available on the stable channel. Do try these out in the canary and let us know.

[2018-09-24 07:13] SamvelRaja commented on #5225
@cdkisa  seems like GPU issue postman facing.
https://github.com/postmanlabs/postman-app-support/issues/4594#issuecomment-391601621
This will help you in getting around it.

[2018-09-24 07:13] #5225 closed, assigned to nobody

[2018-09-24 07:29] anudeepmedicharla commented on #4795
@sujayvenaik Can we have the same shortcut in mac too?

[2018-09-24 07:46] leonardstronkhorst commented on #3525
Can you also enable variables for `Auth URL`, `Access Token URL`, and `Client ID` (basically all fields of the `Get new access token form`)?

[2018-09-24 08:00] vkaegis commented on #2195
Quick update guys, it's taken a long while, but we're actively working on enabling this workflow. In addition the app will also remember previously closed tabs, so even if you closed something you needed by mistake, you will be able to restore it.

No ETA on this just yet, but stay tuned for more updates!

[2018-09-24 08:02] ash007-postman opened #5231 "Monitor summary page shows monitor in failed state when it's healthy"
<img width="1151" alt="screen shot 2018-09-24 at 1 20 43 pm" src="https://user-images.githubusercontent.com/41741228/45941613-aecaf300-bffc-11e8-90a8-474d9a680f4c.png">

[2018-09-24 08:25] godfrzero commented on #5231
The listing view displays the state of that monitor *in the selected timeframe*, which could be within the last 24 hours, 7 days, or 30 days. If there are any failures in that time, the monitor is unhealthy in that timeframe.

[2018-09-24 08:53] codenirvana commented on #5083
@Guilherme-Sensedia Can you share a sample collection with this behavior?

I tried to reproduce this issue, but its working as expected.

<img width="542" alt="unescape-screen-shot" src="https://user-images.githubusercontent.com/4865836/45943547-66173800-c004-11e8-9b10-22d19cd532f4.png">

[2018-09-24 10:00] numaanashraf commented on #5230
@abhijitkane does this happen only when you zoom in/out?

[2018-09-24 10:07] abhijitkane commented on #5230
@numaanashraf yep, only on zoom in

[2018-09-24 10:55] rhuanbarreto commented on #3390
Please let's upvote the trello card on https://trello.com/c/JEgGQfvh
Then they can prioritize this!

[2018-09-24 11:37] Guilherme-Sensedia commented on #5083
@codenirvana follow this example:

![captura de tela de 2018-09-24 08-34-54](https://user-images.githubusercontent.com/40179240/45950169-08b7c280-bfd5-11e8-95ec-6522d7dbe2bc.png)

[2018-09-24 12:03] ash007-postman opened #5232 "Custom domain can't be removed once the plan is downgraded"
Once the user downgrades the plan (e.g from Pro to free collaboration) then they are unable to remove custom domain associated with the account.

[2018-09-24 12:05] abhijitkane opened #5233 "Postman Console shows the timestamps incorrectly"
17:00 should be shown as 17:00 or 5 pm.
The console screenshot shows 05:00 as the timestamp.

Seen on Postman for Mac
Version 6.3.0
OS X 17.3.0 / x64

<img width="322" alt="screen shot 2018-09-24 at 17 08 41" src="https://user-images.githubusercontent.com/681190/45951185-28280d00-c020-11e8-97e8-8b2a68beab76.png">

[2018-09-24 12:12] codenirvana commented on #5083
@Guilherme-Sensedia That's correct, you can verify this by running the following snippets in your Node/JavaScript console:

[code]

I got your issue, `&amp;` is not `unescape`d to `&`. But that's the expected output.

You need to replace the occurrence of `&amp;` with `&` by doing something like:
[code]

[2018-09-24 13:10] bahatron commented on #3386
+1 to this

[2018-09-24 13:44] nicholascelestin commented on #2819
+1

[2018-09-24 13:48] Pictor13 commented on #3793
The "capturing + editing request + execute new request" was also my main use cases (actually the capturing feature is the only reason why I chose Postman over other tools); now it seems to not be possible anymore.

The proxy feels broken. Accessing it via http/https returns a generic error message (*"Something went wrong. And we are reporting a custom error message"*). The native app reports "Prox

[2018-09-24 13:57] kamalaknn commented on #3386
Hi,

Sorry for the delayed response.

We have been working on a refactor of out tabs implementation. We have been thinking about this as well.

We are planning to add a function to `Reopen recently closed tab`. This will make sure users do not lose valuable work when they accidentally close a tab. With that functionality in place we can allow users to skip the confirmation step when closing tabs.

[2018-09-24 13:58] SirPyros commented on #783
+1 I need this for my project

[2018-09-24 14:21] iguana007 commented on #3566
Confirmed @furick1 guide works on Win10 :)

[2018-09-24 15:06] jaspreetcj opened #5234 "Not able to connect to rest url behind a proxy, which works fine from brwoser"
When trying to hit a rest URL, I get an error back
Error: tunneling socket could not be established, statusCode=407.

![image](https://user-images.githubusercontent.com/43545578/45960358-b3fa6300-c039-11e8-82be-5d5707bb8f94.png)

**App information (please complete the following information):**
 - Native App
 - Postman Version 6.3.0
 - OS: WINDOWS 7

**Additional context**
1) same url works from br

[2018-09-24 15:10] #5234 closed, assigned to nobody

[2018-09-24 15:12] jaspreetcj opened #5235 "Error: tunneling socket could not be established, statusCode=407."
When trying to hit a rest URL, I get an error back
Already set the proxy in settings, general
tried both using detect system proxy and manually entering the proxy.
Error: tunneling socket could not be established, statusCode=407.

![image](https://user-images.githubusercontent.com/43545578/45960628-41d64e00-c03a-11e8-8be0-d44244c965cb.png)

App information (please complete the following informatio

[2018-09-24 15:37] red8888 commented on #4186
This is still broken it seems

[2018-09-24 15:46] nshkg commented on #350
+1 to har. Nobody wants to use external services with phone registrations for import collection

[2018-09-24 16:19] Guilherme-Sensedia commented on #5083
Ok, thanks!

[2018-09-24 16:39] #5083 closed, assigned to codenirvana

[2018-09-24 17:58] jdgregson commented on #3697
electron/electron#3226 has just been closed as wontfix, so we won't be seeing secure Electron apps any time soon.

[2018-09-24 18:02] ianjstewart commented on #4320
Really wish this could get some work on it.  Issue opened in 2016.  As others have stated, atleast being able to export the collection with the src attribute set would allow us to place the correct files in the directory that we are running newman from.  If this is truly a security issue, is there no solution that can be done that incorporates the needed security features?

[2018-09-24 21:20] itsvikasgupta commented on #482
@dk020130 , did you figure out how to use cacert in postman? We have our own private CA and generate both server and client certs using our CA.

[2018-09-24 22:25] dvdoliveira commented on #4861
I've just created a support ticket for this issue and got a message from Chris (Postman support) pointing to this GH issue. I have the same problem reported by @abhijitkane so it isn't fixed yet. @ankitjaggi Could you please take a look?

[2018-09-24 22:35] chrisdeso commented on #4861
![image](https://user-images.githubusercontent.com/4734306/45982852-49343200-c00f-11e8-8870-c4e55ab6017f.png)

Here's a screenshot from @dvdoliveira 😄

[2018-09-24 22:36] chrisdeso commented on #4861
![image](https://user-images.githubusercontent.com/4734306/45982947-93b5ae80-c00f-11e8-8ec3-396b9fceb975.png)

Here's a screenshot from @dvdoliveira 😄

[2018-09-24 23:11] carlclark267ds commented on #5231
I would be happy with a few more time frame options - example, 1 hour, 2 hours, 4 hours, 8 hours.

[2018-09-24 23:54] andrew-maczero commented on #3574
This problem is still active on v6.3.0

[2018-09-25 01:27] godfrzero commented on #5231
FYI @vkaegis

[2018-09-25 02:05] ben-eichler-abcs opened #5236 "Get folder of open request"
**Is your feature request related to a problem? Please describe.**
I have stored a large number of requests in a folder structure. When I reopen Postman, the requests I had open in the last session are open again, but I sometimes forget which folder the open request is stored in. I have similar request names at times, so the storage path would be useful to know.

**Describe the solution you'd like

[2018-09-25 05:04] sujayvenaik commented on #2919
Hey @bbrosius
Hi, we have addressed this issue as part of various improvements we have made to how tabs work in Postman. These changes are up available on our canary channel (https://www.getpostman.com/canary) today and would soon be available on the stable channel. Do try these out in the canary and let us know.

[2018-09-25 05:11] mroche89 commented on #2086
+1

[2018-09-25 05:52] chanikya494 commented on #4221
Duplicate of #2256 .

1. Finding your Postman.exe file, which for me was in C:\Users<username>\AppData\Local\Postman\app-6.1.3.
2. Right click on Postman.exe
3. Click on Troubleshoot Compatitility

[2018-09-25 06:40] shamasis opened #5237 "Exporting collection or getting a collection link exports collection variables using wrong schema"
**Describe the bug**
The `disabled:true` property is missing on collection variables (and maybe on other variable types too) when collection is exported or link produced.

Refer: https://www.getpostman.com/collections/9be3b455afa362628e70

[code]

**Expected behavior**
Expected `disabled: false` in the last two variables.

**App information (please complete the following information):**
 - App Typ

[2018-09-25 06:44] shamasis opened #5238 "Losing "Get Link" state after closing and re-opening share modal"
**Describe the bug**
Losing "Get Link" state after closing and re-opening share modal.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a collection
2. Open "Share Collection" and move to "Get Link" Tab
3. Generate link
4. Close the Modal
5. Open "Share Collection" and move to "Get Link" Tab again

**Expected behavior**
The "Get Link" button should stay "Update Link"

**App information

[2018-09-25 06:49] goldstar2154 commented on #4897
same problem after upgrading from 6.0.10 to 6.3.0. Ubuntu 16.04.05.
Fix: **delete folder /home/user_name/.config/Postman**

[2018-09-25 07:31] uvarvu opened #5239 "Move self updating mechanism to snaps on Linux"
It's really annoying updating Postman behind a proxy because it doesn't work.   I manually have to download the application from the website every time.

What should happen is that Postman is distributed as a snap package.   The snap package manager is cross platform and does work behind a proxy.   Why wasn't this considered?

[2018-09-25 07:41] nunziofiore commented on #831
+1 here ...
Versione 6.3.0 (6.3.0) native app

[2018-09-25 09:43] Ramya-From-Postman opened #5240 "Codegen issue with RestSharp post request when body is passed in the format of Raw or and x-www-form-urlencoded values"
When we use postman app to make an API post request with the body containing **raw or x-www-form-urlencoded** values, it works fine. However, the issue arises when I try it using the c#(RestSharp) code generated from postman app as it adds "undefined" under request.AddParameter of the request body.

**To Reproduce**
Steps to reproduce the behavior:

1. Create a post request by passing the body in

[2018-09-25 10:23] jameshd opened #5241 "Retrying a Collection Run with Iteration Data"
**Describe the bug**
Clicking Retry in collection runner when initial run used iteration data, forgets all knowledge of the iteration data used.

**To Reproduce**
Steps to reproduce the behaviour:
1. Create a simple request that has a call to console.log(data.YOUR_VAR_HERE)
2. Open Collection Runner and Postman Console.
3. Run your collection with a CSV of iteration data containing YOUR_VAR_HERE
4

[2018-09-25 10:37] sivcan commented on #5241
Duplicate of https://github.com/postmanlabs/postman-app-support/issues/4824
You can refer to this comment for more information https://github.com/postmanlabs/postman-app-support/issues/4824#issuecomment-409548624

[2018-09-25 10:37] #5241 closed, assigned to nobody

[2018-09-25 10:37] Shelex commented on #2853
+1

[2018-09-25 10:45] jameshd commented on #5241
Ah thanks! I did look but didn't spot that one - makes sense. Cheers

[2018-09-25 11:22] wuxing164 opened #5242 "postman header sign "\r\n" how to add"
use postman add header but not the corrent result respone.
use php code to run it has corrent result response
the php code is

        $header = "User-Agent:{$agent}\r\n" ;
        $header .= "Referer:http://wap.bai.com/\r\n" ;

        curl_setopt_array($curl, array(
            CURLOPT_URL => "http://interface.bai.com/hls/new/get/25730312/25730312/1200?source=wapyy&callback=",
            CURLOP

[2018-09-25 12:31] sumit0k opened #5243 "Missing collections locally and New Dummy Collection created"
**Describe the bug**
I am being shown only one of my collection in a workspace, which has much more. Also `Dummy Collection 1`, a new collection is being shown with a lock sign in front of it.

**Expected behavior**
All collections synced to cloud on my account should be shown

**Screenshots**
https://www.dropbox.com/s/f1i5chombbevjet/Screenshot%202018-09-25%2017.55.18.png?dl=0
https://www.dropbox

[2018-09-25 13:12] schlingding commented on #4751
Is there a workaround for this issue? I have a 250MB response which does not need to be parsed and displayed. Is there a way to toggle off response parsing?

[2018-09-25 13:36] abhijitkane opened #5244 "Leaving a private workspace in the Postman app renders the app in a locked state"
For teams on enterprise, leaving a private workspace from the Browse mode leaves the app in an unusable state. I see a websocket error saying 'You're not part of this workspace' while trying to fetch workspace dependencies, and the client doesn't handle that error.

Seen on Postman for Mac, Version 6.3.0, OS X 17.3.0 / x64

[2018-09-25 13:38] abhijitkane opened #5245 "If I'm the last user in a team WS, leaving the WS doesn't show the server's error in the UI"
If I'm the last user in a team workspace, and I leave the workspace (from the build or browse modes), the server error isn't handled on the client, and the app thinks I'm still in the workspace.

Seen on Postman for Mac
Version 6.3.0
OS X 17.3.0 / x64

[2018-09-25 13:58] GregoirePiat commented on #350
+1

[2018-09-25 15:23] armpogart commented on #3778
@shamasis I guess any endpoint with `Cyrillic` letters in url. In my case it was [1C](https://1c-dn.com/1c_enterprise/what_is_1c_enterprise/) platform with it's odata endpoints. Unfortunately the endpoint I was working with is private and I don't have any public one at this moment.

[2018-09-25 16:48] numaanashraf commented on #5235
statusCode=407 seems to be related to proxy authentication. Postman doesn't support authenticated proxies at the moment. We are tracking this issue at #3566.

[2018-09-25 16:48] #5235 closed, assigned to nobody

[2018-09-25 16:50] numaanashraf commented on #5239
@uvarvu We are tracking this at #4576

[2018-09-25 16:50] #5239 closed, assigned to nobody

[2018-09-25 18:32] chrisdeso opened #5246 "Postman Echo converts decimals to integers"
**Describe the bug**
Decimals – more specifically, trailing zeros in a `POST` body i.e. `.0` – are displayed as integers in pretty view (json).

**To Reproduce**
[![Run in Postman](https://run.pstmn.io/button.svg)](https://app.getpostman.com/run-collection/8a4af0ced06ac965c606)

Send `POST` request to Postman echo service with JSON key-value pair that has an integer with trailing zeros (after deci

[2018-09-25 20:20] WarleyLopes commented on #3511
This occurred with my team today as well, post request with only two headers without body content expecting a response with 13 headers without body content. Just like for trajano, the issue occurs on Postman app for Windows and works as normal through the chrome extension.

[2018-09-25 21:50] Darko-git commented on #4862
Hi, I had a similar issue on Win 10 (cannot save anything), I could not find any configuration files but I was getting permission errors in console.

Turns out I had 2 (two) workspaces under "My Workspace", both named... "My Workspace". I imagine one is local and the other one is shared?
In any case, when I switched to the other workspace, I was able to save a request.

![image](https://user-image

[2018-09-25 22:56] dht commented on #3466
I would like to have a save on send. Same same by different. Whenever I send a request, for me, it means it is valid and good and can be saved. That is why I would very much appreciate a **Save on send**.

I agree with prior posters that having multiple tabs with an orange dot and remembering which ones need saving 15 minutes after modification is not the optimal UX experience.

Most code editors

[2018-09-26 00:13] JP-from-Postman opened #5247 "Closing single unsaved tab attempts to close all other unsaved tabs"
Please read through the [guidelines](https://github.com/postmanlabs/postman-app-support#guidelines-for-reporting-issues) before creating a new issue.

**Describe the bug**
After cancelling out of "Close all tabs" from the "Save request" dialogue, OSX client attempts to close **all** unsaved request tabs when the user closes a **single** tab.

**To Reproduce**
Steps to reproduce the behavior:
1) Cr

[2018-09-26 00:25] sujayvenaik commented on #5247
Hi, we have addressed this issue as part of various improvements we have made to how tabs work in Postman. These changes are up available on our canary channel (https://www.getpostman.com/canary) today and would soon be available on the stable channel. Do try these out in the canary and let us know.

[2018-09-26 02:06] liniukesi commented on #5208
Is anyone working on it?

[2018-09-26 02:09] seaguest opened #5248 "Uncaught errors TypeError: Cannot read property '_variables' of undefined"
Hello,

I just installaed postman from Postman-linux-x64-6.3.0.tar.gz (I am using ubuntu 16.04).
when I test with remote server, it works, however when I test with local machine(127.0.0.1),the request gets stuck with showing "Loading", and the following error log comes out in the console:

[code]

could anyone help?

[2018-09-26 02:37] davidwzuora commented on #2617
@abhijitkane I've been testing out the new converter (`swagger2-postman2`). The converter isn't picking up the request body samples that are included in the Swagger spec; instead it's generating request body samples that aren't very meaningful.

Here's the test spec I'm using:
https://github.com/davidwzuora/swagger2-postman2/blob/origin-test/zuora-spec01.json

There's a request body sample on [lin

[2018-09-26 05:25] godfrzero opened #5249 "Missing filter in Manage Cookies modal"
**Describe the bug**
Filter is missing in the Manage Cookies modal.

**To Reproduce**
Steps to reproduce the behavior:
1. Click on the `Cookies` link below the URL bar
2. Look around the Manage Cookies modal
3. Realize that you have 99 cookies but no way to filter them

**Expected behavior**
A search input which would allow me to filter the cookies list by domain or cookie name.

**App information

[2018-09-26 05:26] godfrzero opened #5250 ""Clear All" option in the Manage Cookies modal"
**Describe the bug**
There is no way to clear all cookies.

**To Reproduce**
Steps to reproduce the behavior:
1. Click on the `Cookies` link below the URL bar
2. Look around the Manage Cookies modal
3. Realize that you have 99 cookies but no way to clear them

**Expected behavior**
A button somewhere which would allow me to clear *all* cookies.

**App information (please complete the following inf

[2018-09-26 05:32] godfrzero opened #5251 "Delete cookie CTA collapses the domain"
**Describe the bug**
Within the Manage Cookies modal, when I click on the `X` CTA next to a domain, it will collapse the row before removing the cookies for that domain.

**To Reproduce**
Steps to reproduce the behavior:
1. Click on the `Cookies` link below the URL bar
2. Click the `X` CTA which appears when hovering on a domain
3. The row collapses
4. Then later, the row disappears as the cookies

[2018-09-26 05:40] musanas opened #5252 "Better Debugging features : Ability to trace the exceptions or issues"
Hello,

**Is your feature request related to a problem? Please describe.**
Yes,
I do have a collection which is relatively a larger one with many requests and many Tests
I often run them either using postman Runner fetaure, or with Newman cmd tool
I do have some testing functions written at **pre-request scripts** tab of the Collection or at a particular folder level.
I tried to make this pre-requ

[2018-09-26 05:44] SamvelRaja commented on #5248
@seaguest  Is that a new install or did you update the app manually by downloading, extracting and then moving the files from the command line?
We have seen users having issues while moving files manually. If you did that, I would recommend you do a fresh install (after deleting old files completely). Also, we have seen users having permissions issue with `opt/Postman` directory and the auto-updat

[2018-09-26 05:56] ItaiElbaz opened #5253 "Open a new tab links from documentation"
Hi  There,

**Is your feature request related to a problem?
When I'm adding links to Postman documentations, it always opens on the same tab.

**Describe the solution you'd like**
Add the option to open links on a new tab.

**Describe alternatives you've considered**
Support HTML or any alternative option (maybe through Markdown) for supporting 'open a new tab'.

Thanks,
Itai

[2018-09-26 06:03] Kaizok commented on #3884
will this change be implemented in the later version ?

[2018-09-26 06:03] raharch commented on #3884
Is this change going to be implemented in the next version ?

[2018-09-26 07:26] seaguest commented on #5248
@SamvelRaja

Hello,

it seems to be a permission problem.

I started as root, then everything goes fine, and then I run as normal user, the GET request starts working, but POST still shows the same error.

I tried to install it in home folder (I just tar -xzvf the package for installation), here is result of ll -ht:

`drwxr-xr-x  3 seaguest seaguest 4.0K 9月   6 14:13 Postman/
`
but still POST does

[2018-09-26 07:29] rolfmadsen commented on #4677
+1

[2018-09-26 07:57] paulsuen opened #5254 "Environments shared in team workspace do not show in team members' team workspace"
**Describe the bug**
Environments shared in teams workspace do not show in team members' team workspace

**To Reproduce**
Steps to reproduce the behavior:
1. sign in with team account A, share an environment with team workspace,
2. switch to another team account B and go to team workspace, can not see the shared environment.

**Expected behaviour**
environment shared to team workspace should show

[2018-09-26 09:03] sivcan opened #5255 "Collections created before initial syncing causes them to reach a locked state / get vanished"
**Describe the bug**
The bug can be seen in the two videos.
1. If the network speed is good (fast in my case ~54 Mbps), then the collection created before or during the initial sync vanishes from the app.
https://youtu.be/eg6-vTDCcSQ

2. If the network speed is throttled down to as low as EDGE (~240Kbps), the collections created during the phase when the app is connecting to sync, reach a `locked`

[2018-09-26 09:17] SamvelRaja commented on #5248
@seaguest  Can you check the permissions of the files in `~/.config/Postman`

[2018-09-26 09:27] seaguest commented on #5248
@SamvelRaja
[code]

[2018-09-26 09:39] Caltor commented on #3466
@dht Totally agree, this issue alone is pretty much forcing me to use Insomnia instead.

[2018-09-26 09:50] jaspreetcj commented on #5235
But, how does it work in another older version of Postman on my colleagues machine, who is not setting proxy at all.

[2018-09-26 10:18] numaanashraf commented on #5235
@jaspreetcj Is your colleague using Postman's Native Apps or Chrome App? Could you also check whether your colleague has any environment variables set globally that overrides proxy? "HTTP_PROXY" or "HTTPS_PROXY".

[2018-09-26 10:33] SamvelRaja commented on #5248
@seaguest  could you open app using the debug env and send the request
`NODE_DEBUG=request /<INSTALL_DIR>/Postman/Postman`

This will help us to check whether the request sent out to the server and received from the server properly.

If you still face the issue.
1. The Folder you installed had old postman files (If not kindly ignore this)
2. The config files created have permission issues (rm -rf

[2018-09-26 10:38] gmckeown commented on #4594
Have just seen what I think is the same issue using v6.3.0 on Win2012R2 running under VMware. Disabling the GPU support worked; ran postman.exe with the --disable-gpu parameter.

[2018-09-26 10:41] jaspreetcj commented on #5235
its chrome app
Postman for Chrome
Version 5.5.3
win / x86-64
Chrome 65.0.3325.146
No such env variables...

[2018-09-26 10:47] ash007-postman opened #5256 "Unable to use mock API getting "usageLimitError""
I am unable to access my mock API for 2 days. The server keeps returning usageLimitError although my usage limit hasn't been reached.

[2018-09-26 11:34] rorshachdb commented on #6682
+1

[2018-09-26 12:13] sankalp0o opened #5257 "Collection browser in description edit mode behaves strangely"
If I'm editing the collection description from the collection browser and I open another collection in the browser, only the title changes.

Steps to reproduce the behavior:
1. Open Collection A in collection browser
2. Edit collection description
3. Try to open Collection B in collection browser

Expected behavior:
Since I'm intending to navigate away, the app should alert me to save/discard chan

[2018-09-26 12:48] Cethy commented on #3036
Still broken ...
macOS@10.11.6 + postman@6.3.0

Using "body/binary", selecting a file ; sending or code generation never uses/displays `--data-binary "@FILE_PATH"` (but multipart work correctly).

[2018-09-26 13:00] DaveLatal opened #5258 "Current value overwrite Initial value for whole team"
Hello I'd like to know, how come that If I change current value for my needs, it overwrite same value for all in our team?

**Case:**

**Pre-conditions:**
1) You must be logged into some project with workspace which is shared to some your colleague
2) You must have some enviroment shared to some your colleague

**Steps to reproduce:**
1) Open postman with workspace from preconditions
2) Go to Envi

[2018-09-26 13:11] harryi3t commented on #5258
Hey @DaveLatal
We only sync the initial values.
There is a setting in the App `Auto persist variable values`, which determines whether a change to current value should auto update the initial value or not.
All the users upgrading the App have this setting turned on by default to keep the behavior backward compatible.
I think this might be the case with you. Could you try turning off this setting a

[2018-09-26 14:33] MichiHC opened #5259 "Postman Console: request body form-data: same keys are not rendered"
**Describe the bug**
I want to upload a file with a POST request. Aditionally I need to send two key-value pairs with the same key. When sending the request, Postman only sends one of the key-value pairs. How can I send both values?

**To Reproduce**
Steps to reproduce the behavior:
1. Create a POST request
2. Switch to Body
3. Select to enter form-data
4. Add a key-value pair for adding a file
5.

[2018-09-26 14:50] seaguest commented on #5248
@SamvelRaja

In debug mode, I still get the problem:
`
ProtocolHandler~init: Setting custom protocol handling [status: false]
ORM initialization successful
App events bus { name: 'booted', namespace: 'shared' }
App updater event { name: 'checkForElectronVersionUpdated',
  namespace: 'appUpdate' }
App events bus { name: 'booted', namespace: 'requester' }
REQUEST { headers:
   { Authorization: 'Bear

[2018-09-26 16:47] maddestructor commented on #4009
This feature would be a game changer to our team!

[2018-09-26 16:50] RyanGonet commented on #4594
I also encountered this same issue with Postman v6.3.0 on Windows 8.1 Pro in an RDP session. Similarly worked around by passing the --disable-gpu argument.
Postman\Update.exe --processStart "Postman.exe" --process-start-args="--disable-gpu"

[2018-09-26 17:21] Postman-Gabriel opened #5260 "Address Line Bug - Blocks body parameters"
**Describe the bug**
With an active value in the body of the request, the type of the variable is overlapping the address of the API request

**To Reproduce**
Steps to reproduce the behavior:
1. Create a body variable
2. Click on the address bar
See error

**Expected behavior**
Expected the address bar to cover the field type of the variable behind it, therefore making it easier to see address.

*

[2018-09-26 18:06] aulakhs commented on #5216
@ratpik - Thanks for the prompt reply. I'm doing exactly as you pointed out but that doesn't appear to be working. In this screen shot, you can see I'm setting the environment variables in Pre-request Script of the GET API call. And those are getting set as pointed out in the Environment look-up.

![mockservice dynamic set](https://user-images.githubusercontent.com/43443576/46099562-161bab00-c195-

[2018-09-26 19:22] adeniltonbs commented on #3251
same here

[2018-09-26 20:27] wave100 commented on #4009
It'd be awesome if this became a feature!

[2018-09-26 20:31] shravanipl opened #5261 "Bearer Token value is not present in the dropdown"
I am unable to find **Bearer Token** value in **Type** dropdown present under **_Authorization tab_**

![postman](https://user-images.githubusercontent.com/38989344/46107360-c80ca480-c1a0-11e8-977e-fc8fa8c4e868.jpg)

 - App Type : Postman for Chrome
 - Postman Version : Version 5.5.3
 - OS: win / x86-64

[2018-09-26 21:41] suhasbobba commented on #3845
+1

[2018-09-26 23:09] SomeProgrammerGuy commented on #3819
Yes I have this issue. Ive installed it offline on an intranet and it simply doesnt work Im assuming because its trying to connect to the internet. I do wish people writing software would get out of this silly notion that everybody is connected to the public internet. (Or that we want the software that we use to be without asking us first).

[2018-09-27 02:50] kinekt4 commented on #4153
I've only just discovered the console which does seem to resolve this issue.

But as is standard practice with devtools on most browsers, the request URL is displayed in the "Headers" tab just before any header information is displayed. Eg.

    Request URL: https://base-uri.com/stream/23423434
    Request method: GET
    Remote address: 192.168.128.1
    Status code: 200
    Version: HTTP/1.1

[2018-09-27 03:16] rtabor commented on #3171
+1

[2018-09-27 04:32] kamranayub commented on #2922
Dang, came here looking to do just this. For example, [generating the Azure Storage REST API authorization header](https://docs.microsoft.com/en-us/rest/api/storageservices/authorize-with-shared-key) is ... complicated, but I got it working and I'd like to use the variable substitution to generate the auth signature. I'll have to use some workarounds above for now.

I see [VariableList.replace](ht

[2018-09-27 05:15] tangyouze commented on #3386
A workround use autohotkey is as follows, so I can hit ctrl-w to close tabs.

[code]

[2018-09-27 05:36] Rahulcl commented on #4409
Hi All I am getting 404 Not found in Postman but when run through newman it works but in Postman i cannot debug

[2018-09-27 05:39] Rahulcl opened #5262 "I am getting 404 Not found in Postman but when run through newman it works but in Postman i cannot debug"
Please read through the [guidelines](https://github.com/postmanlabs/postman-app-support#guidelines-for-reporting-issues) before creating a new issue.

**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'postman.'
2. Run {{mailosaurUrl}}/api/messages/await?server=xxx

Actual :
getting 404 Not found in Postman but when

[2018-09-27 05:53] ash007-postman opened #5263 "Single Column Layout in published Documentation"
We would like to show our published documentation in a single column layout (as we can do as logged in authors of the documentation).

[2018-09-27 06:09] DivyaKallu opened #5264 "How to ignore few fields validation in the response body, which is an array"
I have response body which looks like the below,

stored the response into an array
var Validate_ResponseBody = '[{"id":1,"name":"Study1"},{"id":2,"name":"Study2"},{"id":3,"name":"Study3"}]';

var Validate_PartResponse = '{"id":1,"name":"Study1"}';

using pm.response.to.have.body, I am able to validate whether name as Study1 exists with id as 1
pm.test("Body is correct", function () {
    pm.respo

[2018-09-27 07:15] DaveLatal commented on #5258
Thank you for answer, it works for us!!

[2018-09-27 07:18] #5258 closed, assigned to harryi3t

[2018-09-27 09:30] vanillajonathan opened #5265 "Support SHA-256 for digest authentication"
Postman supports using the MD5 cryptographic hash function for digest access authentication but does not support the SHA-256 cryptographic hash function.

The [RFC 7616](https://tools.ietf.org/html/rfc7616) (which succeeds the [RFC 2617](https://tools.ietf.org/html/rfc2617)) adds support for the SHA-256 and SHA-512/256 algorithms.

Note, RFC 2617 is designed as a "draft standard" while RFC 7616 is

[2018-09-27 10:53] nanomader commented on #3884
Having a similar situation at my company, I have asked admins to add whitelist entry for postman URL. It is still more secure than installing applications from the USB drive.
Or in your case, you could ask an administrator to download the latest version of the Postman and provide it locally for your whole company.

On the other hand, it doesn't really matter if EXE file is zipped, because AFAIK in

[2018-09-27 12:12] kamalaknn commented on #5233
@abhijitkane Thanks for the report and the fix!

This will be rolled out in the next stable release.

[2018-09-27 12:17] bbartoni opened #5266 "Random success notifications on slack-monitor integration"
https://github.com/postmanlabs/postman-app-support/issues/4820 - happening again

[2018-09-27 12:43] shirshak55 commented on #1486
Is this feature going to come ?

[2018-09-27 12:58] rmdaggett commented on #3171
+1

[2018-09-27 13:02] codenirvana commented on #1486
Duplicate of #1104

@shirshak55 https://github.com/postmanlabs/postman-app-support/issues/1104#issuecomment-411693253

[2018-09-27 13:26] irmingard commented on #3142
Is it on your road map now? Without this feature, we will be migrating to a Postman alternative within the next year.

[2018-09-27 13:40] guestz0r commented on #1196
Hello, can you please provide an example of a working code for this? This doesn't seem to be working for me.

[2018-09-27 14:19] Pazns opened #5267 "Collection Runner, no env vars resolving"
Please read through the [guidelines](https://github.com/postmanlabs/postman-app-support#guidelines-for-reporting-issues) before creating a new issue.

**Describe the bug**
By the Collection Runner,
the first request is correct, with `{{url}}` being resolved to `http://something.something.com/` as expected.
The second one fails miserably with the actual url being... `{{url}}`.

Yet, when using the

[2018-09-27 16:20] kishoreVIP opened #5268 "Postman crashes Issue"
My postman crashes when I send the subsequent request.

[2018-09-27 16:23] harryi3t commented on #5237
This is fixed in our [canary](https://www.getpostman.com/canary) build and will be available in the next production release.

[2018-09-27 16:40] sujayvenaik commented on #5228
Hi, we have addressed this issue as part of various improvements we have made to how tabs work in Postman. These changes are up available on our canary channel (https://www.getpostman.com/canary) today and would soon be available on the stable channel. Do try these out in the canary and let us know.

[2018-09-27 16:57] loopDelicious opened #5269 "Postman docs markdown rendering"
Throughout the [Postman docs](https://learning.getpostman.com/docs), kramdown needs to be scooched to markdown.

![markdown](https://user-images.githubusercontent.com/17693714/46161868-91379c80-c23b-11e8-9ae8-596819d592c8.png)

* Rendering inline code (attached screenshot)
* Rendering target blanks, and markdown hyperlinks
* Relative links are hardcoded v6, and redirects are not yet active, so rel

[2018-09-27 17:39] night-fury-web opened #5270 "Hippa compliant"
Is postman HIPPA compliant?

[2018-09-27 18:17] ratpik commented on #5216
@aulakhs - I tested this scenario and the environment variables are being dynamically resolved correctly. Can you confirm that while creating the mock you have specified the environment as `MockService Demo` in the `Use an environment` part as shown in the screenshot below?

<img width="1175" alt="screen shot 2018-09-27 at 11 45 55 pm" src="https://user-images.githubusercontent.com/210420/46165930

[2018-09-27 19:22] cciatti commented on #350
+1

[2018-09-27 19:40] loopDelicious opened #5271 "Broken links in Postman docs"
Customer is reporting a number of 404s throughout the Postman docs, throughout monitoring pages, documentation pages, and probably throughout the rest of the docs

- 404s
- also some variables (like email) are not resolving in the new learning center docs - see screenshot
- also consider running Link Checker collection template to monitor for broken links

<img width="833" alt="screen shot 2018-09

[2018-09-27 20:27] pavlalexandr commented on #350
+1+1+1+1 👍

[2018-09-27 21:32] agiguere opened #5272 "Terminal Console as a pane and not an external window"
If would be nice to have the terminal console for logs as a pane and not as an external windows to avoid back and forth between the 2 windows

thanks

[2018-09-27 21:32] chrisdeso opened #5273 "Run in Postman button doesn't open app on Linux"
**Describe the bug**
Using the Run in Postman button on Linux doesn't launch the native app

**To Reproduce**
Steps to reproduce the behavior:
1. Fire up Ubuntu 17.10
2. Navigate to `https://docs.api.getpostman.com/`
3. Click on the Run in Postman button on the top right
4. Select `Open with...` > `Postman for Linux`
5. Select `Open xdg-open` on the modal that appears
5. Notice that nothing happen

[2018-09-27 23:17] govindrai opened #5274 "Bug: Node.js native code snippet for form-data requests doesn't actually work"
When I copy and paste a code snippet that is generated by postman for form-data requests for Node.js -> Native, I get errors when running. I would appreciate an update as I would like to test the postman requests natively as well.

[2018-09-28 05:31] sujayvenaik commented on #4768
Hey @robertoibarra

Currently, the mock server is not capable of handling media type responses and hence can only handle textual responses.

We have tried to communicate this better to the users by adding a warning when trying to add examples with media type responses which is out on our canary channel (https://www.getpostman.com/canary) and will soon be available on the production release.

[2018-09-28 07:05] DivyaKallu opened #5275 "NTLM authentication throwing 401 error"
Hello,

We have NTLM authentication implemented in our application. When i try to run the API in postman by setting the username and password , its throwing 401 unauthorized error. Are there any other settings to do?

![ntlmauthentication](https://user-images.githubusercontent.com/42930624/46193185-e5fe1480-c31a-11e8-9394-55f1c83c212c.JPG)

[2018-09-28 07:55] bhargavkaranam commented on #5261
Hi @shravanipl,
The NTLM and Bearer tokens are only available in our native apps. Please note that the Postman Chrome app is being deprecated, we strongly suggest you to switch to our native apps. You can download it from [here](https://www.getpostman.com/apps).

[2018-09-28 07:55] #5261 closed, assigned to nobody

[2018-09-28 08:21] neildavis commented on #1603
+1

[2018-09-28 08:32] nayyaung commented on #4862
Thanks. It solved the same issue for me.

[2018-09-28 08:57] SamvelRaja commented on #5273
@chrisdeso
Could you send the Postman.desktop file you have?

[2018-09-28 09:00] SamvelRaja commented on #5266
Reopened #4820

[2018-09-28 09:00] #5266 closed, assigned to nobody

[2018-09-28 09:04] SamvelRaja commented on #5262
@Rahulcl  could you check the request in Postman console?
`View -> Developer -> Show Postman Console`

[2018-09-28 09:25] ghost commented on #2799
This is a seriously annoying distraction. It's not enough to disable the nag screen only for minor updates. There needs to be an option that allows people to turn this off. When the tool gets in the way of the work, it becomes a problem, not a tool.

[2018-09-28 10:03] numaanashraf commented on #5246
@chrisdeso Do we have an example without echo service? Echo seems to be stripping the 0 by itself. I tried replicating this with http://4342283e-0eaa-4ab6-bdf0-bb45224e7bd1.mock.pstmn.io/get and it worked as expected.

/cc @kunagpal

[2018-09-28 10:11] numaanashraf commented on #5254
@paulsuen Could you check whether the environment is shared properly by visiting the Postman dashboard - https://app.getpostman.com.

[2018-09-28 10:11] sivcan commented on #5272
Duplicate of https://github.com/postmanlabs/postman-app-support/issues/3700

[2018-09-28 10:11] #5272 closed, assigned to nobody

[2018-09-28 10:23] mdhash opened #5276 "Collection description same for all collections in a workspace in edit mode"
Steps to reproduce the behaviour:
1. Go to a collection description in app and click edit
2. Staying in the edit mode, open the collection details of any other collection
3. Same description is shown for every collection in edit mode

Expected behaviour:
Description should also be updated when switching collection

![poc](https://user-images.githubusercontent.com/12749550/46203149-7b5ad200-c336-11

[2018-09-28 10:36] numaanashraf commented on #5259
@MichiHC This is a bug in Postman Console. The same key is not rendered. Are you facing any issues with the actual request that is sent to the server?

[2018-09-28 10:39] numaanashraf commented on #5271
Duplicate of https://github.com/postmanlabs/postman-docs/issues/1437

[2018-09-28 10:39] #5271 closed, assigned to nobody

[2018-09-28 10:41] numaanashraf commented on #5268
@kishoreVIP Please share a screenshot and additional info including OS version & app version.

[2018-09-28 10:45] numaanashraf commented on #5269
Moved to https://github.com/postmanlabs/postman-docs/issues/1438

[2018-09-28 10:45] #5269 closed, assigned to nobody

[2018-09-28 10:48] numaanashraf commented on #5264
@DivyaKallu We recommend reaching out to the wider Postman Community (https://community.getpostman.com/) for help with this issue.

Issue Guidelines: https://github.com/postmanlabs/postman-app-support#guidelines-for-reporting-issues

[2018-09-28 10:48] #5264 closed, assigned to nobody

[2018-09-28 10:48] harryi3t commented on #5275
@DivyaKallu This looks related to https://github.com/postmanlabs/postman-app-support/issues/4355

Can you share the logs (raw mode) from the Postman console? There will be more than 1 request, plase share all the logs (max 4 requests).

It would look something like this
![image](https://user-images.githubusercontent.com/5207331/45736964-26b6a900-bc0a-11e8-8a80-60a048b1a6bd.png)

[2018-09-28 10:55] harryi3t commented on #5267
Hi @Pazns
Do you have Postman installed in `/opt/Postman` directory and do you update the app manually by download, unzipping and moving files using the command line? If yes, the application files could be in inconsistent state. For this, you can quickly try out installing (unzipping) a fresh app in your home directory and see if that works.
Otherwise, could you share more screenshots or even a gi

[2018-09-28 11:02] SamvelRaja opened #5277 "Empty collection activity feed? and Clicking Load more link"
Dashboard -> Collection Activity
1. How a collection has zero activity?
2. When it has zero activity, the link shows load more. screenshot the state below

State 1:
![empty activity](https://user-images.githubusercontent.com/5114052/46204694-c75c4580-c33b-11e8-9c04-7005384d5182.PNG)

Upon clicking `Load More`  State 2 reached
![capture](https://user-images.githubusercontent.com/5114052/46204719-d8

[2018-09-28 11:44] soumyakantiroychowdhury commented on #2701
It's been one and half years since the issue is logged!

[2018-09-28 11:56] immanuelfodor commented on #208
The site mentioned several times is no longer accessible, at least for me, it doesn't resolve: http://ditchnet.org/soapclient/

[2018-09-28 11:58] immanuelfodor commented on #208
Hmm, the other suggested http://www.thevrway.com/soapclient/ also seems dead.

[2018-09-28 14:29] VicKetchup opened #5278 "[Feature Request] Improve Monitors clarity, add "Known" failures"
**Is your feature request related to a problem? Please describe.**
Our APIs heavily rely on the systems managed by other sections of the business, which need to be contacted and a separate investigation needs to be completed. This means that some of our tests will be failing for quite some time (week+) before a resolution is found.
We've setup monitor runs for every morning to have a clear underst

[2018-09-28 15:28] jkewley opened #5279 "Select variable name with braces when double clicking in Postman UI"
Sometimes I want to run an existing request with a one-time value to check on data or a particular payload. if I have a variable defined like this:

`https://www.google.com?q={{searchTerm}}`

when I click on **searchTerm** it only selects the text, not the curly braces on either side, causing me to have to `Del,Del,Bksp,Bksp`. Would love if it selected everything.

As an alternative, perhaps allow

[2018-09-28 15:29] jkewley commented on #4898
+1

[2018-09-28 15:43] aulakhs commented on #5216
@ratpik - Thanks for checking this for me. Yes, I have the right environment being used here. Infact, the values are getting set in the environment variables too, its just that those are not being returned back in the Example Response.

![mock](https://user-images.githubusercontent.com/43443576/46218760-7173a780-c313-11e8-917e-378009d5beaf.png)

Does the version has something to do with this? I'm

[2018-09-28 15:47] jkewley opened #5280 "Have a Code export option to generate a Postman prerequest script"
Because you don't yet support executing a request as a precursor to another request (such as when you need a fresh OAuth token before calling an API), how about adding a Postman pre-request script export option under your **Generate Code Snippet** menu, like the following one I'm using for this purpose?

[code]

[2018-09-28 15:51] jkewley opened #5281 "Make urls returned in headers clickable"
I use MS's API Management product. One of the options is to include the header **ocp-apim-trace=true** [to get a link to a Json blob with trace data in a response header](https://docs.microsoft.com/en-us/azure/api-management/api-management-howto-api-inspector#trace-a-call). The Postman UI doesn't make this a clickable link like it does in response bodies. Would be nice if it did.

![apimtrace](htt

[2018-09-28 17:08] aulakhs commented on #5216
@ratpik - If you don't mind, can you send me your collection?

[2018-09-28 21:20] dbkaynor commented on #4898
The new system in very inconvenient

[2018-09-28 21:26] hansen12193 commented on #2494
+1

[2018-09-28 22:10] erapkin commented on #4594
I also am encountering this issue.  Windows 8.1 Enterprise, GPU Quadro K620 Driver Version 348.03, PostmanCanary 6.3.1 and Postman 6.3.0

[2018-09-29 01:49] oscarguinane commented on #3438
+1

[2018-09-29 06:16] #5248 closed, assigned to harryi3t

[2018-09-29 07:22] ratpik commented on #5216
@aulakhs - Here you go - https://documenter.getpostman.com/view/1715192/RWgja2Cg

You can click on the `Run in Postman` on the documentation which will import the collection and corresponding environment in your Postman App. Then create a mock using that collection and environment and hit `<mock_url>/getresults/` to view the response

[2018-09-29 19:45] nbomberger commented on #675
Is there a status on this **in demand** feature?  (rather than +1 a million times).

[2018-09-29 23:32] RafeeqMohammed commented on #4687
My postman is using 1.8gig memory usage

My laptop has 8 gig an running in windows 10

[2018-09-30 00:26] oscarguinane commented on #3438
Hey all,

You can use [httrack](https://www.httrack.com/page/2/en/index.html) to copy your API locally in HTML for offline viewing with this script I made:

[code]

[2018-09-30 02:33] kthulsidoss opened #5282 "How to ensure order of two pm.sendRequest calls"
![auth1](https://user-images.githubusercontent.com/42998906/46252519-3e522500-c487-11e8-973e-b872c69f638b.JPG)

I have 2 requests that needs to be done to set the authentication token , this token is passed to the REST call .
Here is  the code that is there in the pre-tests
--------------------------------------------------------------------------------------------------------------------
[code]
-

[2018-09-30 06:19] mderis commented on #4292
**SOLVED:** I just removed app from `AppData/Roaming/Postman` and reinstalled the last version and I still had the problem. But my problem solved by installing an old version (5.3.2) and updating it from inside the application.

[2018-09-30 10:37] harryi3t commented on #5282
Hi @kthulsidoss
Could you share your collection (either the link or the `Run in Postman` button) with us so that we can take a look at it? Please remove any sensitive information before sharing

[2018-09-30 14:52] thomasmarton commented on #4594
Also having this issue:
Windows 8.1 with a GTX 650 (driver version is 398.36)
(native, no RDP, VNC or anything similar involved, also I have the integrated GPU disabled so the nvidia is the only workhorse in my rig)
Tested both on 6.3.0 and canary 6.3.1 and both of them started working with the --disable-gpu argument.

[2018-09-30 17:11] kthulsidoss commented on #5282
[request_order.zip](https://github.com/postmanlabs/postman-app-support/files/2431777/request_order.zip)

[2018-09-30 17:12] kthulsidoss commented on #5282
Hi @harryi3t  thx for speedy look , please see the attached zip file containing(GETMetaMarketDataUsedByISIN.postman_collection.json ,MFD_R9.postman_environment.json).
Tx
K.Thulsi Doss

[2018-09-30 17:22] kthulsidoss commented on #5282
Hi @harryi3t  please kindly note that pm.sendRequest itself is asynchronous so possibly the order is changed . There is mention of the same here https://community.getpostman.com/t/can-i-use-pm-sendrequest-to-send-requests-synchronously/225/3 @kamalaknn mentions the solution as
pm.sendRequest(req1, function () {
  pm.sendRequest(req2, done);
});

not sure the above solution is workable ,did not fin

[2018-10-01 01:46] Pazns commented on #5267
Hello @harryi3t ,

indeed I proceed the way you write it.
I tried with a real new install instead of the old copypaste-after-copypaste way and, surprise, the collection runner doesn't do crazy things anymore.

I should have thought of this ! Lesson learned 😄

[2018-10-01 01:46] #5267 closed, assigned to harryi3t

[2018-10-01 03:54] Suhas-Gaikwad commented on #5270
- Postman is not yet in compliance with the Health Insurance Portability and Accountability Act (HIPAA).
- We already have a lot of aspects in line with HIPAA. Refer: https://www.getpostman.com/security
- When you are not signed up for an account, Postman does not store data on servers and all of that is on your local system.
- We are currently working on SOC 2 compliance.

[2018-10-01 06:00] ankit-m commented on #5197
A fix for this has been deployed.

[2018-10-01 06:00] #5197 closed, assigned to ankit-m, preethammavin

[2018-10-01 06:01] ankit-m commented on #5152
A fix for this has been deployed.

[2018-10-01 06:01] #5152 closed, assigned to dhineshwiz

[2018-10-01 06:08] harryi3t commented on #5282
Hi @kthulsidoss,

We looked at the attached zip file. You are right, since `pm.sendRequest` is asynchronous, there is no guarantee in which order they run.
Having said that, I think the [Postman community](http://community.getpostman.com) would be a better place for this discussion.

[2018-10-01 06:08] #5282 closed, assigned to nobody

[2018-10-01 06:13] ankit-m commented on #5177
A fix for this has been deployed.

[2018-10-01 06:13] #5177 closed, assigned to ankit-m

[2018-10-01 07:32] jawn commented on #4594
Curious to know if this is issue could/should be fixed in the electron or postman code base?

[2018-10-01 08:02] numaanashraf commented on #4594
@jawn We are waiting for this to be fixed upstream in Chrome and then be pulled into Electron. We have an internal build ready with the latest version of Electron and are gathering feedback on the same. Would you be interested in helping us test this build?

[2018-10-01 08:52] DivyaKallu commented on #5275
This is the log, not sure how to reply in the thread as both the issues are closed.

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1"/>
<title>401 - Unauthorized: Access is denied due to invalid credentials.</title>

[2018-10-01 08:56] OliverCulleyDeLange commented on #3376
It seems to persist even when you remove the app and re-install. Not ideal.

[2018-10-01 09:25] cianiandreadev commented on #3602
Hi guys. Any update on that? Is something been done on this feature?? I would really need that.

[2018-10-01 09:50] vkaegis commented on #5231
@carlclark267ds Thanks for the feedback! We'll look at adding this...

[2018-10-01 10:20] jawn commented on #4594
Yes, reproduced on a colleague's computer, so can see if we can test it there.

[2018-10-01 10:58] moskytos commented on #4785
Or delete needed collections from workspace A > sync > go to [trash](https://web.postman.co/me/trash?) > and restore collections to workspace B.
Hopefully, trash feature is enabled by default.

[2018-10-01 11:09] MichiHC commented on #5259
I checked it again and the request seems to be correct.

[2018-10-01 11:58] numaanashraf opened #5283 "Collection variables autocomplete in edit collection and edit folder modals"
**Describe the bug**
Collection variables do not show up while autocomplete auth fields in edit collection and edit folder modals

**Screenshots**
<img width="803" alt="screenshot 2018-10-01 at 5 26 41 pm" src="https://user-images.githubusercontent.com/3295568/46287198-5e750780-c59f-11e8-9318-b73df4646183.png">
<img width="802" alt="screenshot 2018-10-01 at 5 26 48 pm" src="https://user-images.git

[2018-10-01 12:21] davidmpaz opened #5284 "Cannot create a new request in a team workspace collection"
Hello,
I have read through docs and search on issues looking for how to solve this or find some hints that could help me with no success. So sorry if it is duplicated or lack of knowledge when using Postman app.

**Describe the bug**
During a team trial we created a collection and shared it to work. Our team is composed of two person. After limits exceed we upgrade out the team to paid one. Nor be

[2018-10-01 12:30] numaanashraf commented on #5284
@davidmpaz Are you receiving any errors while you try to change the request in the collection? This might be caused due to lack of edit permissions on the collection.

[2018-10-01 13:12] MostafaSenousy opened #5285 "How to make postman communicate with web-socket"
Please read through the [guidelines](https://github.com/postmanlabs/postman-app-support#guidelines-for-reporting-issues) before creating a new issue.

**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise descriptio

[2018-10-01 13:34] davidmpaz commented on #5284
Hi @numaanashraf thanks for answering!

I will check this and report back.

Cheers

[2018-10-01 14:13] gdemecki commented on #1983
Same issue for me.

Postman 6.4.0 native
Ubuntu 18.04

Two identical requests, but with a different `postman-token` are sent everytime.

[2018-10-01 14:27] kamalaknn commented on #1983
Hey @gdemecki

Can you give us some more data as to why this is happening?

1. Are you using a shortcut (Enter/ Cmd-Ctrl + Enter) or the send button?
2. Are you seeing this for every request you send or randomly?
3. Are you seeing two entries in history and console as well or only over the network?

[2018-10-01 15:59] callistino commented on #4586
@perhan I had the same issue and it had to do with enabling smart zoom on the magic mouse. I disabled it and it went back to the right zoom level. This wasn't an issue before though.

[2018-10-01 20:46] jkshobby opened #5286 "Error while importing Curl: TypeError: thisHeader.indexOf is not a function"
## App Details:

Version 6.3.0 (6.3.0)
[code]

## Issue Report:
found this import error while importing the cURL commands and trying to run it to postman.

[2018-10-01 22:07] MisinformedDNA commented on #4374
@harryi3t Can we reopen this? This is clearly still an issue.

Here are my logs. It was failing via the UI, but succeeded at the command line (on Win10).

[SquirrelSetup.log](https://github.com/postmanlabs/postman-app-support/files/2435860/SquirrelSetup.log)

[2018-10-01 22:07] Staz00 commented on #4594
Experiencing this on the latest build (6.3.0), We are running Windows 8.1 Pro 32-bit with NVIDIA NVS 310 GPU.

But the system variable workaround still works for us

[2018-10-01 23:08] chrisdeso opened #5287 "Add timestamp/created-at when returning collection information from API"
**Is your feature request related to a problem? Please describe.**
I'd love to see a date/time value when retrieving a collection via the [Postman API](https://api.getpostman.com). This would help in ensuring that I'm working with the intended collection in the event that I have collections with the same name.

**Describe the solution you'd like**
`createdAt: "2018-08-06T14:37:20Z"`

[2018-10-02 00:12] ccrisologotiqk commented on #2140
I made it work, it only works with chrome app not for native/desktop app. So you have to open it thru Postman Interceptor extension from your chrome then launch the Postman. I just figured out the postman from chrome is different from desktop version.

[2018-10-02 09:33] IMAdvisorLB opened #5288 "Black Screen inside Postman while getting 35Mbytes file (was working before windows/software/drivers update)"
**Describe the bug**
Postman was working normally until possibly a windows update happened.
Getting a large file (35Mbytes+) using GET and Send/Send and Download does not work anymore. It reaches the point where it is about to propose to save the file and it gives a black screen inside the Postman window.
Same thing is happening in PostmanCanary (though in Canary it is white/beige screen)
I tried

[2018-10-02 10:06] ravshansbox opened #5289 ""Hide Sidebar" should be persisted across restarts."
**Describe the bug**
"Hide Sidebar" should be persisted across restarts.

**To Reproduce**
Steps to reproduce the behavior:
1. Hide the sidebar
2. Restart the app

**Expected behavior**
Sidebar should be hidden.

[2018-10-02 11:39] norcino opened #5290 "Variables Autocomplete menu available in request body"
Currently when typing {{ in the request URL box, or in the Headers section, I see a nice and helpful dialogue which allow me to view the available variables I can use.

I would like the same feature to be available for the request Body area.

While setting up the body for a POST request (for example), I would like PostMan to intercept the {{ and show me a dialogue which would allow me to pick one

[2018-10-02 12:16] raghav19 commented on #4996
Hi @sivcan ,
The updated link to my collection: https://www.getpostman.com/collections/8fafe1d9df0d95d6ddd0
So, once again on the usecase ,

1. The `Post_Service` folder , POST REQUEST should run for all the testdata mentioned in the pre-request script iteration data.
2. After it has run the post request for all the data points, the GET request should run just once.
3. The Test folder will get the

[2018-10-02 12:56] GarethJames86 opened #5291 "API Documentation with nested variables"
I've defined my environment like this

myBaseUrl = https://myurl.com/
myUrlPrefix = hello/
myRequestUrl = {{myBaseUrl}}{{myUrlPrefix}}

Then I make requests as follows

{{myRequestUrl}}howareyou to give https://myurl.com/hello/howareyou

I'm documenting my collection and when I don't use an environment it's fine.
I get {{myRequestUrl}}howareyou

However, when I use my environment I get {{myBaseUrl

[2018-10-02 13:39] gdemecki commented on #1983
Hi @kamalaknn,

It doesn't matter, in both ways result was the same.

Just for a single request from my collection. Always, not randomly.

## Reproduction

I have two workstations, I was logged-in to Postman with the same user on both. I've edited one of my requests and didn't save the changes. On the second workstation I've done small cleanup and moved this request to a separate folder. Some time

[2018-10-02 14:37] ajwarren commented on #2458
Additional +1, this fix would seriously help my team. Thank you.

[2018-10-02 14:59] Ativerc commented on #5273
I have Ubuntu 16.04 and the tarball for the latest version of Postman (Postman-linux-x64-6.3.0.tar.gz) doesn't contain any makefile and it just extracts the files and we have to run from there. There's no `.desktop` file.

Is it possible to automate the creation of `.desktop` file for Postman on Linux?

Also could someone explain how "Run in Postman" depends on the `.desktop` file?

[2018-10-02 15:10] danie16arrido commented on #5273
I fixed it on Ubuntu 17.10 by adding postman protocol to   `~/.local/share/applications/mimeapps.list`

`x-scheme-handler/postman=postman.desktop`

[2018-10-02 18:44] otter-chazzs commented on #2336
these do not seem to work at all. how does one access the collection variable in the body of a request?  i have tried the {{var}} notation there is nothing.

i created a collection, added a variable.  i then created a request, saved it to the collection. then i tried to access the variable in the body of the request with the {{var}} notation and nothing gets subbed in.  that i can tell.

how/can s

[2018-10-02 20:05] maxcr commented on #5288
also happening to me. Its because of the electron version.

[2018-10-02 22:09] george-nelson opened #5292 "Native VSTS integration"
We use postman for our api integration testing among dev/qa. The biggest pain point we experience is the lack of native integration with VSTS. Exporting and importing collections is not only time consuming but you run into merge issues.

[2018-10-02 22:32] tstw opened #5293 "After GITHUB#4663 converting to curl still removes double slashes"
## App Details:

[code]

## Issue Report:
 1. Did you encounter this recently, or has this bug always been there:
Only a bug because the default behavior is now different.
 2. Expected behaviour:
Same as default tab-based-send behavior

Create a new request like `GET wtfismyip.com//json`
Try it, see that it gives 404
Press the code button and try the cURL code in your terminal.
Be dazzled!

[2018-10-02 23:12] NogrTL commented on #5274
Same for me.
It's because of **hostname** and **path** are sent as array,while [node documentation](https://nodejs.org/api/http.html#http_http_request_options_callback) said it should be a string

[2018-10-02 23:29] JP-from-Postman opened #5294 "Allow Postman app's top window bar to adjust for "Dark mode""
The current light-grey window bar at the top of the Postman app contrasts pretty sharply in macOS Mojave's "Dark mode" (and against the apps "Dark" theme).

Would be nice to allow the window bar color to suit "Dark mode/theme" viewing.

[2018-10-02 23:34] JP-from-Postman opened #5295 "Allow Postman console to be an integral pane"
Allow Postman console to be an integral pane within the app, not just external window.

[2018-10-02 23:36] pycaster opened #5296 "newman attempting to set the next request but not executing the request in a collection"
Please read through the [guidelines](https://github.com/postmanlabs/postman-app-support#guidelines-for-reporting-issues) before creating a new issue.

**Describe the bug**

newman attempting to set the next request but not executing it

**To Reproduce**

Steps to reproduce the behavior:

- Here is a simple collection,

[code]
- This is how I am running it,

[code]

**Actual behavior**

[code]

**E

[2018-10-03 00:16] #5296 closed, assigned to nobody

[2018-10-03 00:16] pycaster commented on #5296
Opened here, https://github.com/postmanlabs/newman/issues/1736

[2018-10-03 05:38] prmdsngh commented on #3331
I resolved it by sending json in the form of string and use objectMapper class to map JSON string  to the object.

[2018-10-03 05:40] aulakhs commented on #5216
@ratpik - Thanks! Does the Pre-request Script only runs locally on Postman? I'm able to retrieve the environment values in the Example Response however when I set those values in the Pre-request script (_example below_), the response only changes dynamically when the request is invoked using POSTMAN. When I hit the '<mock_url>/getresults/' using browser, the result doesn't change dynamically. Here

[2018-10-03 06:13] DHFW commented on #4461
@kamalaknn, consider reopening this issue because Postman (6.3.0) definitely has a problem doing this. In Insomnia it works flawlessy.

Curl request (made from form-data in Postman);
[code]

Same way in Insomnia:

[code]

Request collection: replace x with a port you use (obfuscated here)

[code]

[2018-10-03 06:17] kamalaknn commented on #4461
Hi @DHFW,

I'm reopening this issue. Can you provide a sample collection or a screencast of this issue? It will help us identify the issue better.

@codenirvana Can you verify this?

[2018-10-03 06:24] HelgeSverre commented on #4657
Same for version 6.3.0 on Windows 8.1, GPU: Nvidia NVS 510.

"POSTMAN_DISABLE_GPU=true" workaround works

[2018-10-03 06:30] MikhailKlemin commented on #5093
Yeah, does not launches on Ubuntu 18.04 and I also had to install Canbera gtk `sudo apt-get install libcanberra-gtk-module`

[code]

[2018-10-03 06:35] DHFW commented on #4461
@kamalaknn  i have updated the issue with a collection json. It is exactly the same as @tlycken  mentions and shows. However, I'm on Mac latest version.

[2018-10-03 06:53] DHFW commented on #4461
Another hint might be that when I view the code of the NodeJS request it comes out as the following. It puts the parameter '0' as first, instead of last as in the request editor in Postman (like the screenshot of @tlycken
[code]

I was experimenting with this some more with the above code. I placed the `'0'` key as last manually. I console.log-ed the formData.options object and I saw that the opti

[2018-10-03 07:19] ash007-postman opened #5297 "Error publishing docs"
I unpublished the current one, and then attempted to publish a different collection to the same URL. However, despite postman displaying success on publishing, accessing the URL still produced a 404 response. Also we have the correct logo uploaded in the manage teams section but even after several hours, the logo is still not showing on our documentation.

[2018-10-03 08:52] kthulsidoss opened #5298 "How to ensure order of the request using pm.sendRequest"
so basically i have 2 requests that needs to be done to set the authentication token , this token is passed to the REST call . Here is the code that is there in the pre-tests.
const siaPostRequest = {
url: 'https://iam.stage1.bluemix.net/identity/token',
method: 'POST',
header: {
'Accept': 'application/json',
'Content-Type': 'application/x-www-form-urlencoded'

  },
  body: {
      mode: 'urlencod

[2018-10-03 08:58] numaanashraf commented on #5298
Duplicate of #5282

[2018-10-03 08:58] #5298 closed, assigned to nobody

[2018-10-03 09:04] Whyner commented on #4009
+1

[2018-10-03 09:07] numaanashraf commented on #5282
@kthulsidoss As mentioned by @kamalaknn, `pm.sendRequest` is an asynchronous operation and you need to make the second request in the callback of the first one. This is the standard way to serially call two callback-based async operations in JavaScript.

[code]

[2018-10-03 09:34] numaanashraf commented on #5285
Duplicate of #4009

[2018-10-03 09:34] #5285 closed, assigned to nobody

[2018-10-03 10:57] vdespa commented on #4842
@a85  It is really a pity that such things do not get addressed or are not properly implemented and documented. It really limits what you can do with pre-request scripts and makes power users look into different solutions.

The only workaround I could find is to extract the Set-Cookie header:

`const cookieHeader = response.headers.get('Set-Cookie');`

but after this, you kind of have to do the pa

[2018-10-03 11:29] pkgajulapalli opened #5299 "File references are not imported from cURL snippet"
The following request is giving 400 error in postman but the same is working fine with curl copied from postman.

`curl -X POST \`
`  LOCALHOST_URL \`
`  -H 'Accept: */*' \`
`  -H 'Authorization: AUTH_TOKEN' \`
`  -H 'Connection: keep-alive' \`
`  -H 'Content-Type: multipart/form-data' \`
`  -H 'content-type: multipart/form-data; boundary=----WebKitFormBoundary7MA4YWxkTrZu0gW' \`
`  -F file=@FILE_

[2018-10-03 12:23] ratpik commented on #5216
@aulakhs - That's right. Pre-request scripts run only when a collection executes i.e when you send a request in Postman or the Postman Collection Runner or when you are using Postman Monitors or Newman to execute a collection. The pre-request script does not get executed when you call the mock server.

[2018-10-03 13:35] numaanashraf commented on #5299
@pkgajulapalli Could you share a collection with the request you are trying to send?

[2018-10-03 13:43] PTomasinski commented on #1818
zillions of tabs open -> that was the problem

[2018-10-03 14:00] fborie commented on #4009
+1

[2018-10-03 14:06] ToniMaunde commented on #4594
Thank you. This works on version 1.8.4.

[2018-10-03 14:18] numaanashraf commented on #3208
@catogtp `#` has special meaning in URLs and the url fragment after the hash is not sent to the server. At the moment, we do not auto-encode these special characters and are compliant with the WHATWG URL spec. As a workaround, you can select the value you need to send, right click and select encodeURIComponent. This will encode the `#` and will be sent to the server.

[2018-10-03 14:18] #3208 closed, assigned to sujayvenaik

[2018-10-03 14:18] numaanashraf commented on #3208
/cc @AndrewPirkola

[2018-10-03 14:31] aulakhs commented on #5216
Thanks @ratpik
Do you know of any workarounds on how to achieve that using Postman or if this enhancement is on the product roadmap?

[2018-10-03 14:49] kthulsidoss opened #5300 "order of the request issue is solved however this is not setting in the environment variables"
refer How to ensure order of the request using pm.sendRequest (#5298) . Now the order of request is solved how ever even though the log says the environment variables are being set , it value is not set while seeing using the 'eye' icon

<img width="960" alt="env_variables_notset" src="https://user-images.githubusercontent.com/42998906/46418521-91f39580-c749-11e8-94f2-b9c080a4f347.png">
<img width

[2018-10-03 14:52] kthulsidoss commented on #5300
![setting_access_token](https://user-images.githubusercontent.com/42998906/46418784-17774580-c74a-11e8-8ccd-06b845f985be.JPG)

[2018-10-03 15:00] numaanashraf commented on #5300
@kthulsidoss Please understand that this is a public bug and feature-request tracker for the Postman product and is *not* a channel for support, Q&A, etc. This is detailed in the guidelines we have set for this issue tracker - https://github.com/postmanlabs/postman-app-support#guidelines-for-reporting-issues.

Based on the guidelines above, this question is best fit for our community channel - htt

[2018-10-03 15:00] #5300 closed, assigned to nobody

[2018-10-03 15:34] dmestetskiy commented on #4852
I am having the same issue. It seems changing the value does nothing. postman keeps it oauth_consumer_key=\"true\". I have the latest release.

[2018-10-03 18:46] duart38 commented on #4009
+9999 I've been using this as i work on some other projects. [link](https://github.com/duart38/socketer)

[2018-10-03 20:34] eric-martin commented on #4852
Same issue here. Postman v6.3.0 on Windows. No account.

This was working fine until this afternoon. Now all new oauth 1.x requests have the true/true problem.

[2018-10-03 21:37] florton commented on #4751
Switching to the 'Headers' tab in the response before sending seems to avoid some of the slowdown. As long you you don't open the response 'Body' tab it shouldn't be quite as bad.

[2018-10-04 02:45] chrisdeso commented on #5273
@SamvelRaja

Here's the information I received:

[Desktop Entry]
Encoding=UTF-8
Name=Postman
Exec=postman
Icon=/opt/Postman/resources/app/assets/icon.png
Terminal=false
Type=Application
Categories=Development;
EOL

[2018-10-04 04:58] DivyaKallu commented on #5275
Hello, any update on this please?

[2018-10-04 05:17] DivyaKallu commented on #5275
Please find the logs for the 3 URL's in the console:
1.
![image](https://user-images.githubusercontent.com/42930624/46454142-80020900-c7c2-11e8-9f15-8b4b421e5691.png)

2.
![image](https://user-images.githubusercontent.com/42930624/46454205-b049a780-c7c2-11e8-833e-ae0776294cf4.png)

3.
![image](https://user-images.githubusercontent.com/42930624/46454233-d2dbc080-c7c2-11e8-9332-19b808580766.png)

Pl

[2018-10-04 06:16] Saif03 opened #5301 "Postman windows native application installer failed"
Postman for Windows Native Application
Version win64 5.5.0
OS windows 10

When I try to run postMan native application installer for windows I get the following error:
"There was an error while installing the application. Check the setup log for more information and contact the author."

Setup Log:
[SquirrelSetup.log](https://github.com/postmanlabs/postman-app-support/files/2445088/SquirrelSetup.l

[2018-10-04 06:50] tqwewe commented on #4009
+69

[2018-10-04 07:32] LaZyLiOn-arch commented on #1009
Just uninstall postman and download other file for postman and install it on mac. This works for me

[2018-10-04 08:17] harryi3t commented on #5237
This is fixed in version 6.4.x

[2018-10-04 08:17] #5237 closed, assigned to harryi3t

[2018-10-04 08:35] alekseyl-aurea commented on #4186
Yep, experiencing same issue on 6.3.0 VS current Chrome %((((((

[2018-10-04 08:40] bhargavkaranam commented on #5031
This has bene fixed in 6.4.x.

[2018-10-04 08:57] alekseyl-aurea commented on #4186
found one possible solution:
Remove Send no cache and postman token headers from application settings
and change
Content-Type: application/x-www-form-urlencoded

And magic it works for me (s3 service)

[2018-10-04 09:03] alekseyl-aurea commented on #1663
found one possible solution:
Remove Send no cache and postman token headers from application settings
and change
Content-Type: application/x-www-form-urlencoded

And magic it works for me (s3 service)

[2018-10-04 09:50] SamvelRaja commented on #5301
@Saif03  Thanks for debugging the issue. We have found the root cause and raised the concern https://github.com/Squirrel/Squirrel.Windows/issues/1391 We shall update you on the progress.

[2018-10-04 10:29] SmailHammour commented on #4730
Any news on this?

[2018-10-04 10:30] vandammeb commented on #4730
Integrating collections in separate channels would indeed be a big plus

[2018-10-04 10:52] AlexHedley commented on #3796
Any news on this feature?
Should I rename it Azure DevOps now :p

[2018-10-04 10:58] GaboBDCP commented on #4172
+1

[2018-10-04 13:20] euivanw opened #5302 "Menu bar on Postman for Windows with Dark Mode"
**Is your feature request related to a problem? Please describe.**
When I'm using Postman on my Windows 10 with the Dark interface and with Postman Dark Theme. I always see the menu bar, however, the menu bar is presented in white color.

**Describe the solution you'd like**
My idea is to hide the menu bar for both light and dark themes, or, apply the theme color according to the theme that I've s

[2018-10-04 13:42] cmarfil commented on #3142
Same here, we need to protect the documentation, in many cases as an explicit requirement of the client.

[2018-10-04 14:49] atheriqbalsial opened #5303 "* Redacted * Security Issue"
* Redacted *

[2018-10-04 14:49] atheriqbalsial opened #5304 "* Redacted * Security Issue"
* Redacted *

[2018-10-04 15:00] ingabraham commented on #5286
have the same fucking issue

[2018-10-04 15:04] NogrTL commented on #5274
Here's the code examples

Generated
[code]

End here's corrected version

[code]

[2018-10-04 15:08] kthulsidoss commented on #5286
@ingabraham please kindly refrain using the f word .appreciate very much tx k.thulsi doss

[2018-10-04 15:40] abhijitkane commented on #5286
@jkshobby @ingabraham Can you provide a sample curl command that reliably reproduces this? We're working on updating the importers, and working on all existing bug reports/feature requests.

[2018-10-04 15:55] ratpik commented on #5216
Allowing pre-request scripts to execute for Mock servers is not on the short term product roadmap. Depending on how you are using the Mock servers, you could possibly use the [Postman API to update the environment](https://docs.api.getpostman.com/#6517e0d6-3bc3-3da5-ab57-7a578a8504ce) variables used by your Example Responses just before you call the mock endpoint.

[2018-10-04 16:06] vdespa commented on #5304
@atheriqbalsial please consider using the email security@getpostman.com to report potential security issues and not a public forum.

[2018-10-04 16:06] vdespa commented on #5303
@atheriqbalsial please consider using the email security@getpostman.com to report potential security issues and not a public forum.

[2018-10-04 16:06] davidmpaz commented on #5284
Confirmed. It was on our end, permissions problems as you described.

Please apologize me for taking time from you for this.

Thanks!!

[2018-10-04 16:06] #5284 closed, assigned to nobody

[2018-10-04 16:07] dhirajmobikwik commented on #4588
@vkaegis, the issue is still reproducible. I am still unable to import the file from import option in native Postman app.

[2018-10-04 16:12] vdespa opened #5305 "How to use collection with Postman API to test file uploads?"
Please read through the [guidelines](https://github.com/postmanlabs/postman-app-support#guidelines-for-reporting-issues) before creating a new issue.

**Describe the bug**
I have a collection with a request which is uploading a file. Locally, I can edit the collection, specify the src property to be a local file and run it with Newman.

How to use the same collection but by using Postman API and s

[2018-10-04 16:28] Haveanawesomeday commented on #4718
Using double quotes around the variable name doesn't seem to work for me. When I do I receive {{variablename}} instead of its actual value. I am encountering the issue with a JSON (application/json) format and a body with more than one level so I can't use form-data as has been suggested in some threads.
Running version 6.4.1 on Mac.

[2018-10-04 16:38] #5303 closed

[2018-10-04 16:38] #5304 closed

[2018-10-04 16:41] numaanashraf commented on #5284
@davidmpaz Glad to know this is resolved at your end. 😃 I've passed along the feedback to the team and we'll make it clear in the UI when a particular action (like creating request) is not allowed due to permission issues.

/cc @vkaegis

[2018-10-04 16:48] sujayvenaik commented on #4718
Hey @Haveanawesomeday
Can you send the request that you are trying to send?

I was not able to replicate this, and the variables are getting resolved for all body types.

[2018-10-04 16:50] juanrb commented on #2392
any updates on this feature? I used to use jmeter and this is the feature I miss the most from it

[2018-10-04 17:15] dhirajmobikwik opened #5306 "console.log(1==2) would not print false in postman test script"
Please read through the [guidelines](https://github.com/postmanlabs/postman-app-support#guidelines-for-reporting-issues) before creating a new issue.

**Describe the bug**
Console.log() doesn't work for the false response

**To Reproduce**
Steps to reproduce the behavior:
1. Go to postman script
2. Write 'console.log(1==2)'
3. Run Test

**Expected behavior**
false

**App information (please comple

[2018-10-04 17:46] gustinoco opened #5307 "Timeout in every request"
**Describe the bug**
In every request in certain API, the timeout appears every time. This comportment appears after update new version (6.4.0)

**To Reproduce**
Steps to reproduce the behavior:
1. Create new request or exists
2. Click Send
3. Waiting for eternity

**Screenshots**
![screen shot 2018-10-04 at 13 48 06](https://user-images.githubusercontent.com/8768842/46492661-33c3c280-c7dc-11e8-88

[2018-10-04 18:06] kamalaknn commented on #5307
Hey @gustinoco

Can you give use more information to help us identify the issue? Do you see any errors in the Postman Console (`View -> Show Postman Console`) or DevTools (`View -> Developer -> Show DevTools(current view)`)?

Can you verify the timeout settings in the `Settings` screen? You can go to it by clicking on the gear icon on the top right.

[2018-10-04 18:16] harryi3t commented on #5275
@DivyaKallu Looking at the logs everything looks fine. Can you make sure that by credentials you are using in Postman are correct? You can do that by just pasting the request URL in your browser, the browser should show a prompt for username and password. Type the exact same credentials as you have in Postman, and let us know if that works.

[2018-10-04 18:24] harryi3t commented on #4588
We have updated our docs to reflect this information.
@dhirajmobikwik As mentioned in docs page, csv files are **not supposed to be imported**.
<img width="817" alt="working_with_data_files" src="https://user-images.githubusercontent.com/5207331/46494570-d017b480-c830-11e8-83bd-f385f6b63b1c.png">

[2018-10-04 18:24] #4588 closed, assigned to vkaegis, preethammavin

[2018-10-04 18:45] ingabraham commented on #5286
@kthulsidoss sorry for the bad word
@abhijitkane here it is
curl 'https://www.ihg.com/guestapi/v1/web/changeLanguage?brandCode=6c&countryCode=us&langCode=en&targetCountry=CN&targetLanguage=ZH&currentUrl=https%3A%2F%2Fwww.ihg.com%2Fhotels%2Fus%2Fen%2Ffind-hotels%2Fhotel%2Flist%3FqDest%3DAtlanta%2C%2520GA%2C%2520United%2520States%26qCiMy%3D92018%26qCiD%3D2%26qCoMy%3D92018%26qCoD%3D3%26qAdlt%3D1%26qC

[2018-10-04 20:14] gustinoco commented on #5307
I'm resolve this issue.
Clean all cookies above button Send.
This problem is solved, this problem happened on three computers at same Version Postmand and Os.
Remember, this problem issue after updated Postman.
In older version, these requests are ok, normally.

[2018-10-04 20:14] #5307 closed, assigned to kamalaknn

[2018-10-04 22:29] cheekrm commented on #6682
+1

[2018-10-05 00:45] phiferd opened #5308 "Generate valid curl command on Windows"
**Is your feature request related to a problem? Please describe.**
When generating curl requests, the app uses single quotes and "\\" as the line continuation character.  This doesn't work for windows.

**Describe the solution you'd like**
A new option for generating Windows friendly curl commands.  Code generated should use double- quotes and "^" for the line continuation character.  (I don't thi

[2018-10-05 01:05] MisinformedDNA commented on #4374
I ran into the issue again today. I dare say that I found [a better alternative](https://github.com/Huachao/vscode-restclient/blob/master/README.md).

[2018-10-05 04:25] pkgajulapalli commented on #5299
@numaanashraf Here is the [collection](https://www.getpostman.com/collections/5dbd9fd6916518019a95) with the request.

[2018-10-05 05:56] Doogiemuc commented on #3312
+1   please implement this.  I'd also need it.

[2018-10-05 06:19] abhijitkane commented on #5286
@ingabraham I'm unable to reproduce this - I was able to import successfully on Postman 6.4.1 for Mac. Can you attach a screenshot of the console errors (View > Developer Tools > Current View > Console) here?

<img width="1005" alt="screen shot 2018-10-05 at 11 46 47" src="https://user-images.githubusercontent.com/681190/46518987-629d6f80-c894-11e8-9c41-aad52fe4cfd8.png">

[2018-10-05 06:51] MaxVynohradov commented on #4009
+1

[2018-10-05 07:09] ne0c0de commented on #4581
I'm using 6.3.0 native Mac version and still have the same problem.

I'm using this way to add cookie:

Click on Cookies
add the proper domain name of the site.
Click on Add Cookie and append the proper cookie value into the new cookie field.
Click save

and nothing happens. whenever i open the cookies tab i can't see the cookie that i entered before.

[2018-10-05 07:10] DHFW commented on #4461
@codenirvana A suggestion for a fix: instead of creating an object for all the formData keys, use
[code]

Also try to use this to generate the code for the NodeJS request (because the same problem appears there as well).

[2018-10-05 07:23] dylanh724 opened #5309 "Unicode dramatically skews cursor position (among other strange happenings)"
When I insert unicode, for example, a crown (👑):
https://i.imgur.com/TQU1WwD.png

It causes cursor position to be dramatically messed up. Even when the unicode isn't detected and makes the "� " question mark, it offsets the rest of the cursor being in a strange position.

In the example screenshot above, do you see that \nt on the end? Well, that "t" doesn't actually exist. If I focus my cursor th

[2018-10-05 08:21] DivyaKallu commented on #5275
Hi Harendra,

As chrome browser takes cares of authentication, it will not show a prompt for username and password.  i am also checking with my team if there is anything wrong with the credentials i enter.

[2018-10-05 08:28] ne0c0de commented on #4581
I'm using 6.3.0 native Mac version and still have the same problem.

I'm using this way to add cookie:

Click on Cookies
add the proper domain name of the site.
Click on Add Cookie and append the proper cookie value into the new cookie field.
Click save

and nothing happens. whenever i open the cookies tab i can't see the cookie that i entered before.

[2018-10-05 09:20] txdmatthias opened #5310 "HTTP Method Shown In Tab Header With No Way to Disable"
**Describe the bug**
The HTTP method of the request is now shown on in the tab header

**Expected behavior**
It should be configurable whether or not to show the HTTP request. I would have this as a feature request but to me, this has slightly worsened my workflow as the HTTP method takes up space in the tab header area meaning the name of the tab which is more important is now obscured meaning th

[2018-10-05 09:36] codenirvana commented on #4461
@DHFW Correct, `FormParams` should be stored in `Array` to respect the order and that's how we are storing them in our [collection schema](https://schema.getpostman.com/json/collection/v2.1.0/collection.json).

The issue here is, we use `postman-request`(a fork of [request](https://github.com/request/request)) internally for sending the request which takes `formData` as an object.
We will fix this

[2018-10-05 09:51] p00j4 commented on #4173
Hi @sivcan is the data types in any near roadmap?
My requirement requires to deal with list, dictionaries, boolean and setting them in postman variable makes them string which in turn, can't be used in the post body of a request because it's not a valid JSON (as passed as [object Object]) . Or even normally, the list is no more a list hence I need to covert in into a list again ..
Any alternative

[2018-10-05 10:13] vkaegis commented on #5310
@txdmatthias Thanks for writing in! We're working on some improvements on the tab size itself, so that might alleviate some of your problems.

I'm marking this as a feature request for the configuration. Stay tuned for updates!

[2018-10-05 10:53] felipeplets opened #5311 "Multi language documentation"
Hey guys,

I have customers world wide and some are not so used to English. Mainly Spanish and Portuguese customers and I would like to have a native multi language support for documentation.

Also another solution would be some integrations like with [localizejs.com](localizejs.com) or similar tools.

[2018-10-05 12:20] science695 opened #5312 "Generated jQuery Ajax Code for multipart form / file upload"
I have a request with a multipart file upload (a file upload, and a metadata field with some json).

If you click on Code -> JavaScript Jquery AJAX to get a code sample, it shows some extra headers that will break the process:

[code]

Inside the headers object, it is setting the Content Type to "application/x-www-form-urlencoded" even though mimeType below is multipart/form-data. My tests working

[2018-10-05 13:13] Haveanawesomeday commented on #4718
I am seeing this with both the Postman app and the runner, here is the request body below. The variable {{phrase}} is resolved only without double quotes. When I add them it stays "{{phrase}}"
{
  "idOperator": "{{idOperator}}",
  "message": {
    "idMessage": "{{$guid}}",
    "payload": {
      "contentType": "text",
      "value": {{phrase}}
    },
  }
}

[2018-10-05 13:54] ingabraham commented on #5286
@abhijitkane I am not longer to replicate this issue this morning using the same cURL I shared,
it is working for me as well, it seems is fixed now

[2018-10-05 14:34] maccurt commented on #4262
This is also happening to me, I get a blinking cursor and it take forever for postman to load I see several postman processes. I will try some of the fixed above and try to update

[2018-10-05 14:45] maccurt commented on #4262
I used C:\Users\[MYNAME]\AppData\Local\Postman\app-6.3.0\Postman.exe --disable-gpu and all I now get is the planets orbiting a bigger planet (or sun), and it just hangs there.. As a Software developer I understand things break, so I will be patience..

[2018-10-05 15:30] maccurt opened #5313 "Postman 6.3.0 Just Hangs tried disable GPU VersionError The requested version (30) is less than the existing version (40).',"
My postman just hangs, I tried  the disable GPU flag, and then I went to the command line to try to run it and get this error

Disabling hardware acceleration
ProtocolHandler~init: Setting custom protocol handling [status: true]
ORM initialization successful
App events bus { name: 'booted', namespace: 'shared' }
App events bus { data:
   { adapterMethodName: 'find',
     cause:
      { adapterMeth

[2018-10-05 15:49] unlikenesses opened #5314 "API error: Data does not match any schemas from "oneOf""
**Describe the bug**
When I try to `POST` a json file to `https://api.getpostman.com/collections`, I receive this `malformedRequestError`:

Here is a replica of item 7:

[code]

**Expected behavior**
The collection should be posted successfully. When I try to import the collection direct in the Postman app, it works.

**App information (please complete the following information):**
 - Postman Vers

[2018-10-05 16:42] Ravenink commented on #6682
+1

I'd love to see this implemented in Postman. It is the only feature I miss in this awesome program

[2018-10-05 16:58] misha-kotov opened #5315 "URLs/Resource names are not shown on import"
Please read through the [guidelines](https://github.com/postmanlabs/postman-app-support#guidelines-for-reporting-issues) before creating a new issue.

**Describe the bug**
When importing a collection, the urls are not shown in the collection navigator pane.
It works in the Chrome app version of Postman, but not the native desktop client on OS X.

**To Reproduce**
Steps to reproduce the behavior:
1

[2018-10-05 17:40] sujayvenaik commented on #4718
Hey @Haveanawesomeday

I created a dummy request with the same payload as you specified and all values got resolved. You can see the screenshot below.

<img width="1366" alt="screen shot 2018-10-05 at 11 07 25 pm" src="https://user-images.githubusercontent.com/11532114/46550757-98257580-c8f3-11e8-8693-207e8144455d.png">

Can you check once whether you have selected the correct environment in which