[2021-07-28 05:36] DustyNight commented on #8195
+1, just lost all my changes to a request, can't believe there is a tool used so widely but without autosave.

[2021-07-28 06:48] abhijitkane commented on #8245
@gabel This is something we're actively working on, and hope to have an update to share soon.

[2021-07-28 07:07] VShingala commented on #10067
@fxlepoutre We have fixed this issue in the latest version of the Postman App and you should be able to import all files successfully. Feel free to re-open this if you have any issues.

[2021-07-28 07:11] VShingala commented on #208
@wiffelwicht You can import WSDL specification split across multiple files via `Import > Folder` flow. For successful import, make sure imports of other files are at the correct location.

![image](https://user-images.githubusercontent.com/16756296/127279576-455b2625-be6c-4603-a43d-336409c52687.png)

[2021-07-28 07:13] fxlepoutre commented on #10067
Hi!
Tested successfully, thanks!

[2021-07-28 07:14] abhijitkane commented on #9384
@s3audi This isn't something that fits in with our roadmap. Something like Airpress would be your best bet.

[2021-07-28 07:14] #9384 closed, assigned to abhijitkane

[2021-07-28 07:17] abhijitkane commented on #8856
Closing this - Chrome doesn't have the required APIs to capture responses, and the updated proxy feature solves this use case.

[2021-07-28 07:17] #8856 closed, assigned to nobody

[2021-07-28 09:58] temaput commented on #6323
+1
Lost everything

[2021-07-28 11:53] chrissyast commented on #7436
Is there any update on this issue?

[2021-07-28 12:19] eranbar opened #10164 "Postman is crushing after large file download"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the Issue

sending get request to download file from our .net core web API, triggers file download through response.bodyWriter.WriteAsync for a large file (700mib) once download is completed Postman should prompt to save the file but crushes.

### Steps To Reproduce

1. open new request tab
2. select

[2021-07-28 12:42] jericromero opened #10165 "OAuth1.0a Signature Different when using variable in Request URL"
### Is there an existing issue for this?

- [ ] I have searched the existing issues

### Describe the Issue

When using variable in the URL, OAuth signature is different from the actual URL.

### Steps To Reproduce

1. Create variable sampleUrl = https://www.google.com
2. Create OAuth 1.0 Authentication

See the request tab URL authorization oauth signature
3. Change the {{sampleUrl}} in the reque

[2021-07-28 12:50] michaelruocco opened #10166 "OAuth with Authorization Code grant type always expects a client secret"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the Issue

I am trying to use the postman authorization functionality to generate a token using the Authorization Code grant type and am hitting an error. I believe the error is related to a somewhat unusual set up of having a client ID configured, but not a client secret (this particular system is us

[2021-07-28 12:54] komape commented on #9910
@wigglytuff-tu I reinstalled it. So far it has not been fixed :/

[2021-07-28 12:58] DannyDainton commented on #10165
Hey @jericromero

Can you provide an example (Images or a recording) of the issue and the Environment Information, please.

[2021-07-28 13:08] jericromero commented on #10165
1. ![image](https://user-images.githubusercontent.com/6601311/127326817-ebf660d8-887d-4451-9b13-9e8d9475551d.png)

2. Variable
    ![image](https://user-images.githubusercontent.com/6601311/127326943-60b283c9-1641-4007-992d-1078b3a608a2.png)

3. Authorization Details:
   - Type: OAuth 1.0
   - Request Headers
   - Signature Method: HMAC-SHA256
   - COnsumer Key: test
   - Consumer Secret: test

[2021-07-28 13:09] jericromero commented on #10165
@DannyDainton
The oauth signature is different

[2021-07-28 14:11] mfgabriel92 commented on #8195
Still no auto-save? How long do we need to beg for this feature? Come on.

[2021-07-28 15:27] pmn4 opened #10167 "Command+Shift+↓ in Key/Value fields Crashes Tab"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the Issue

In any key/value field, attempting to select text from the cursor to the end of the input, using the key sequence Command+Shift+↓ (down arrow), causes the tab to crash.

### Steps To Reproduce

1. Open a new request tab
2. Paste this URL in the Request URL: `https://www.example.com?test=Lor

[2021-07-28 18:22] lflucasferreira commented on #6926
+1

[2021-07-28 21:17] bradthurber opened #10168 "$randomInt dynamic variable appears to be 0-1000 not 1-1000 as documented"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the Issue

A request using $randomint today resulted a value of 0 (zero). Docs say it should be 1-1000.

### Steps To Reproduce

Use $randomInt in a request
Submit a bunch of requests until you get one that has a randomInt value of 0

### Screenshots or Videos

_No response_

### Environment Informati

[2021-07-28 22:24] PeterWCox commented on #7083
This was really helpful thank you!

[2021-07-28 23:05] herenickname commented on #9481
Got same thing while being connected to VPN.

[2021-07-29 05:18] AfreenMansuri opened #10169 "Variable"
### Describe your current workflow

Test API

### Describe your ideal workflow

cannot see variable in colloection> edit>dialog box

### Describe alternatives you've considered

_No response_

### Additional context

_No response_

[2021-07-29 06:32] #10169 closed, assigned to abhijitkane

[2021-07-29 06:53] shashankawasthi88 commented on #10141
@VicKetchup Thanks for bringing this up. If I understand correctly, you want the logs of the API requests in Slack for any of the Monitors runs that are failing. Do you need the logs only if there is an error or also need them if there is any Test case failure.

Can you help out with the exact workflow that you follow, this will help us design the solution better.

[2021-07-29 06:56] shashankawasthi88 commented on #10140
@VicKetchup thanks for reporting this, we are looking into this.

[2021-07-29 07:54] shashankawasthi88 commented on #10140
@VicKetchup can you confirm if these warnings are custom warnings generated via console.warning or is coming from the request/ collection run?

[2021-07-29 08:12] nossSpb commented on #6926
vote up +1

[2021-07-29 08:14] VicKetchup commented on #10141
@shashankawasthi88 I just want the logs that were created using console.warn/console.error (including the ones Postman/Monitors create themselves). As by having these logs in the report, if you used them well, there would be no need to go to Monitor page and look through all logs there to figure out what has caused the issue.
Hope that makes it clearer.

[2021-07-29 08:17] VicKetchup commented on #10140
@shashankawasthi88 These are warnings created using console.warn during request/collection/monitor run.

[2021-07-29 08:21] david-espinosa-fari opened #10170 "Bug Test result do not show color status when test fail Postman v8.9.1"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the Issue

When the test fail insteed of show on the test Results the red box whit the description of the test, it show an exception
"There was an error in evaluating the test script:  Error: expected 'XXXXX' to deeply equal 52."
The problem is that it does not show the evaluations of the rest of the

[2021-07-29 08:35] sansfromage46 commented on #8950
Hello,
I have the same problem.
I would need to be able to update a collection, imported from a URL containing a WADL, from this same URL.
This is to keep all the tests created.

This could be done from a right click or an "Update collection" button, or by a new import from the URL (identical URL = request:
- new import
- replacement of the existing collection
- update of the collection

Thank you

[2021-07-29 09:09] omarpiani commented on #2209
+1 👎

[2021-07-29 12:32] charlesritchea commented on #9180
My team uses postman extensively, but I often use JUnit test drivers with our Kotlin client, switching from IntelliJ to Postman is always jarring and this is one of the main reasons. You can't even have multiple tabs of variables open let alone side-by-side

[2021-07-29 12:43] meenakshi-dhanani commented on #4009
You might be interested in a live stream happening today about how the Postman team built support for web sockets, join us with all your questions - [YouTube](https://www.youtube.com/watch?v=pvucSmRnbXA&feature=youtu.be) or [Twitch](https://www.twitch.tv/getpostman) 8am PT

[2021-07-29 12:52] charlesritchea opened #10171 "Code Generator should extract variables used"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request

### Is your feature request related to a problem?

I'm a vim addict that loathes excessive mouse use, but Postman requires extensive mouse use. It would be nice to just export a Python or whatever code snippet to vim or an IDE with vim mode, which of course is possible now, but a

[2021-07-29 13:18] Creedzy commented on #7210
It's been 8 years since it was requested in another ticket. Just saying.

[2021-07-29 18:09] PrathibaJee opened #10172 "Example response body is incorrectly generated from schema"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the Issue

Postman mock server doesnt properly translate/generate response body when the specification(OAS) is having an example for an array of string/integer(schema) with more than 2 values. please find the complet details in the steps to reproduce.

### Steps To Reproduce

1. Open the API tab in po

[2021-07-29 18:26] DannyDainton commented on #10172
Hey @PrathibaJee

Could you update the title of the issue please.

[2021-07-29 18:28] PrathibaJee commented on #10172
@DannyDainton , thanks for letting me know. Updated the same.

[2021-07-29 21:23] jeanvcastro commented on #7728
+1

[2021-07-29 22:37] cateyes99 commented on #5506
More than 2 and half years passed, there are no updates on this one? It's very frustrating without this feature.

[2021-07-30 03:10] whiter001 opened #10173 "Optimize the generation of PowerShell code"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request

### Is your feature request related to a problem?

[code]

___
[code]

The generated code works, but it is prosperous and difficult to adjust

### Describe the solution you'd like

The generated code $headers section is adjusted like to

[code]

The generated code $body section i

[2021-07-30 03:38] rikai-trongpq commented on #6719
Any update?

[2021-07-30 09:20] 1pbSolidDrives opened #10174 "Added ajV plug-in support"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request

### Is your feature request related to a problem?

Added ajV plug-in support
The format function of AJV is added in the form of plug-in, which is very useful to me. I hope you can add this plug-in to it

### Describe the solution you'd like

https://ajv.js.org/packages/ajv-format

[2021-07-30 10:17] j0nimost opened #10175 "Freezes(DoS) when a significant x-www-form-urlencoded value is passed"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the Issue

When I tried testing a POST API using the **x-www-form-urlencoded** option, I passed in the value option a large value about 850 bytes in size. Postman completely froze and became unresponsive.

### Steps To Reproduce

1. Open a new tab
2. Choose the POST option
3. Select Body
4. Choose x-w

[2021-07-30 10:34] codenirvana commented on #10175
Can you share a scaled-down collection that we can use to reproduce this issue?

Followed the steps you mentioned and sent 10KB value as `x-www-form-urlencoded` to `https://postman-echo.com/post` and it didn't freeze.

[2021-07-30 10:55] konstantin-reus commented on #4546
Any updates on this after 3 years since the issue was created?

[2021-07-30 11:56] eric-ueta opened #10176 "Cant open last update (8.9.1) on Windows"
### Is there an existing issue for this?

- [x] I have searched the existing issues

### Describe the Issue

Cant open the 8.9.1v on Windows, when I run the program the load animation freezes and the CPU usage increases a lot.

Tried to uninstall and install it (cleared all remaining files), but didnt worked, so I installed the 8.7.0v and works normally, but the app auto update to 8.9.1v and occur

[2021-07-30 12:31] sasidhar-Eunimart opened #10177 "Font is too small"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the Issue

Hi, I updated my postman, most of my colleague's suggest not to, but I updated, After updating I am searching for API testing tools, I am not blaming the team, it is good, But I am having the worst experience in DARK MODE, Try postman in MacBook air 2017, core i5 5th gen.
![Screenshot 2021-

[2021-07-30 12:52] neilstudd commented on #10168
Thanks for reporting this, @bradthurber. I've confirmed using a pre-request script that, in its current form, `$randomInt` seems to be returning values from 0-999:

[code]

...which outputs `Numbers range from 0 to 999`.

I'm unclear whether this is a behavioural regression or a documentation issue, but will get this investigated further.

[2021-07-30 12:57] 1pbSolidDrives commented on #10174
tv4 can do every thing!!!!!

[2021-07-30 12:57] #10174 closed, assigned to nobody

[2021-07-30 13:26] brs713 commented on #8163
This would be really useful right now.  Another need to migrate a large set of collections.  Would also be great for archiving periodically to remediate other users changes to the calls.

[2021-07-30 17:00] sdet11 opened #10178 "Postman Response body assertion error"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the Issue

Given  trying to validate the response
When  you type non existing response key
Then it still gives 200 and success, even if the key and value are not existed in response payload

### Steps To Reproduce

1. Make POST request with payload
2. Go to Test tab and try to validate Response  with

[2021-07-30 17:07] KonradMaterek opened #10179 "WSDL support: issue generating request and response body"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the Issue

I have encountered an issue related to generating collection from XML schema imported with WSDL link: collection is created correctly with all requests, but I have an error in the request body:

<soap:Body>
    <error>The element or type could not be found _*request name*_</error>
</soap:Bo

[2021-07-30 18:48] neilstudd commented on #10178
For better or worse, this is standard Javascript behaviour. If, for example, you print the same erroneous parameter to the console:

`console.log(response.content[0].kkkkkk)`

...then the result in the console is `undefined`. Therefore, when you do your comparison in the test, `undefined` is not equal to `445533`.

[2021-07-30 19:14] bradthurber commented on #10168
Hi @neilstudd - Thank you for reviewing this and taking the time to make a pre-request script to confirm the behavior!

I was certain that I saw $randomInt return 1000 the other day. It looks like .sort does an alpha sort by default instead of a numeric sort unless a "compare" function is provided such as `numbers.sort(function(a, b){return a-b});`.

This then outputs `Numbers range from 0 to 1000

[2021-07-30 19:16] masonmcelvain commented on #7350
I am on 8.9.1 and this issue still exists.
Using the postman desktop client on macOS Big Sur 11.4.

[2021-07-30 19:18] sdet11 commented on #10178
Saying that,  any non existing response key and value will be giving 200 ?!

[2021-07-30 19:20] RichFlickstein opened #10180 "Ability to order sequence so a request can run prior to requests in a folder"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request

### Is your feature request related to a problem?

There is no way to abort running tests in a workspace or collection if a precondition is not met

### Describe the solution you'd like

I want to be able to sequence the run order so a request outside of a folder can be run befor

[2021-07-30 19:25] tibi-extera opened #10181 "Enable scripting for websockets"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request

### Is your feature request related to a problem?

My API allows for subscriptions for notification via WebSocket. While testing the API & WebSocket subscriptions, I need to be able to create the subscription at login time (as in connecting to the WebSocket) and test the notifica

[2021-07-30 19:43] neilstudd commented on #10168
Ah - thanks for spotting my script oversight!

I've checked the underlying faker libraries, and when asking for a random number up to `x`, it does indeed use `0-x` as the range. So I'm fairly confident that this is a long-standing documentation issue rather than anything that's changed, but I'll confirm with the relevant people.

[2021-07-30 19:50] shamasis commented on #3186
https://blog.postman.com/postman-now-supports-socket-io/ - yay! We have Socket.io support now!

[2021-07-30 19:52] shamasis commented on #4009
WebSocket support is now available on latest Postman - https://blog.postman.com/postman-now-supports-socket-io/

[2021-07-30 20:02] shamasis commented on #10181
Saving WebSocket to collection is scheduled up next to allow for sharing as well as documentation. Scripting (testing, etc) is to follow immediately after.

I'm curious to know, how do you currently test WebSockets? It will greatly help us understand what's the best way to enable testing in Postman.

[2021-07-30 21:26] gstrange commented on #8163
This feature would also be super helpful for version control like git or svn so that workspaces can be exported and added to a delivery repo.

[2021-07-30 21:34] mbahnmiller opened #10182 "API > Develop > Validation does not detect paths deleted from schema"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request

### Is your feature request related to a problem?

When I update my schema, removing unwanted paths, and re-validate, the validator does not detect that I now have items in my collection that shouldn't be there.

### Describe the solution you'd like

I'd like the validator to rec

[2021-07-31 09:06] neilstudd commented on #10178
In your screenshotted example, you were checked that the key does **not** have a specified value. If you want to check "key is present and has a value", the Javascript syntax will behave as you expect it to:

[code]

If you want to verify that the key exists AND does not have a value, you could write a check such as this:

[code]

...and if you want to do this sort of check many times, you could w

[2021-07-31 10:05] PovilasAtPoq commented on #5713
+1. Now 2,5 years has passed :( This is a big struggle, because no one remembers to change the role from Viewer to Editor. Then you need to request access all the time. And it's not like we live in sync world. It's async, so you might need wait for approval a few hours. This wastes too much time.

There must be an option that by default collections are created with Editor role for the whole team.

[2021-08-01 04:15] souvik-sarkar-98 commented on #8195
+1
Please add the autosave feature. It's always that I forgot to save my request after changes and eventually lost it

[2021-08-01 10:03] stondini commented on #10179
Same issue on my side with same Postman version.
The WSDL imports a few XSD like:
[code]

[2021-08-01 21:18] LeonardoRossetti commented on #9481
I am still unable to connect. Postman version 8.9.1:
![image](https://user-images.githubusercontent.com/22729886/127785606-73296e2e-da49-4fcd-92a1-2bb7ab778220.png)

[2021-08-02 05:10] MatteoGioioso commented on #10155
Ok, I have partially fixed the issue pointing my DNS to 1.1.1.1 (essentially using WARP), postman web is still slow, but at least now it is loading.

Thanks, I guess you can close this issue.

[2021-08-02 05:10] #10155 closed, assigned to nobody

[2021-08-02 05:36] postman-support commented on #10155
Hey @MatteoGioioso,

Thanks for letting us know the issue has been resolved!

Please do feel free to reach out if there is anything we can help!

via @taehoshino | Postman Support

[2021-08-02 06:24] tumbislav commented on #10094
I had the same issue and just upgraded to v8.9.1 (Win10). The issue seems to be fixed, I no longer get duplicate API Key parameters.

[2021-08-02 06:30] Primith commented on #9481
Same thing here. I don't even have the cloud icon. Postman wants to upgrade every time, even with the last version (8.9.1). When it's not, upgrade is working but right after that, it still tells the version is not up to date :
![image](https://user-images.githubusercontent.com/35487403/127813251-5c1934d2-71a3-418e-83a9-b4c49bdecf28.png)
[renderer-requester.log](https://github.com/postmanlabs/postm

[2021-08-02 10:06] SonXuanNguyen2k commented on #10094
This bug is now fixed in [Postman v8.9.1](https://www.postman.com/downloads/release-notes/):

@appurva21 please close this issue now.

[2021-08-02 12:05] danielferromeral opened #10183 "Test fails but exit code is always 0"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the Issue

I have a Newman running inside a docker compose with a elasticsearch to query, with a test that always fail, but the container of newman always exit with code 0. That is not the behavior expect, as it should return a code that is not 0 when a test fails.

### Steps To Reproduce

1. Create t

[2021-08-02 12:18] andyg101 commented on #1535
Unfortunately we've had to move away from Postman as per my previous posts and found a solution that has a much lower maintenance burden.

[2021-08-02 12:33] giridharvc7 opened #10184 "Better tabs User experience in the Postman app"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request

### Is your feature request related to a problem?

From a Zendesk ticket:

The display of the TAB page is unfriendly. When the user opens too many tabs, the title of the note page becomes invisible. You can set tabs to scroll left and right rather than shorten them
![Snipaste_202

[2021-08-02 12:35] VShingala commented on #10179
@KonradMaterek @stondini At the moment, external imports (`<import>` tags) will not be resolved for `Import > URL` flow. As it will only import one file at the corresponding URL. Meaning the request body where these imports are used will have an error that you have reported (As they are not resolved, they are reported missing).

To successfully import schema split across multiple files that are pr

[2021-08-02 12:40] numaanashraf commented on #10184
Related to #3939

[2021-08-02 13:24] giridharvc7 commented on #9409
It's been over a month since this was reported as a bug; any ETA for resolution?

With that, PKCE flows should work as expected with empty client-secret. This is fixed in Postman v8.9 on the app. You can also check out the web app.

Keeping this issue open so that we can remove the `client secret` field from the OAuth2 for PKCE flows.

[2021-08-02 13:37] samsamm777 commented on #1535
Curious to know what your alternative solution is?

[2021-08-02 15:27] VShingala commented on #10160
@pozil We have identified the issue and are working on a fix.

[2021-08-02 15:40] pozil commented on #10160
Awesome, thanks for the update!

[2021-08-02 17:16] GerkinDev commented on #7634
Using snap latest version of postman, it fetches only 100 repos.

![image](https://user-images.githubusercontent.com/8212504/127899471-6d9ddf46-0dbf-4849-ad05-c6b8fd8a9b6d.png)

[2021-08-02 17:27] Sanabalis commented on #10176
Same thing here, started with version 8.8.0
Main.log only contains couple of lines, attached it here:
[main.log](https://github.com/postmanlabs/postman-app-support/files/6918616/main.log)

I don't even have v8.7.0 anymore because I cleaned everything up.

[2021-08-02 18:53] jonathanazulay opened #10185 "Cookies with Secure attribute not included for localhost"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the Issue

When working with cookies having SameSite=None, browsers per standard requires the Secure attribute to be true in order to even set the cookie. This could potentially harm developer experience since most local dev environments are using insecure http://localhost. Chrome luckily has solved t

[2021-08-02 19:16] KonradMaterek commented on #10179
Hey @VShingala, thank you for your reply! I think the issue indeed lies in the external imports. I was able to successfully import a WSDL file and create a collection following the same steps but using a different URL (http://www.dneonline.com/calculator.asmx?WSDL). In this case, no external imports are defined in WSDL file.

Since the problematic one has the <import> tag as shown below, I underst

[2021-08-02 20:20] stondini commented on #10179
Hello @VShingala, I trried using `Import -> Folder` and I got the same result.
Please, find a full example in attachment.
[wsld-import.zip](https://github.com/postmanlabs/postman-app-support/files/6919414/wsld-import.zip)

[2021-08-02 20:33] mattcoz commented on #10176
I have the exact same issue. Installed the canary build and it works.

[2021-08-03 00:20] #10150 closed, assigned to nobody

[2021-08-03 00:20] #10151 closed, assigned to nobody

[2021-08-03 04:48] syedsanahassan commented on #8908
@charlie-postman I did and no1 responded.

[2021-08-03 05:02] twitharshil commented on #10176
Hey,

Thanks for reporting the issue, we have recently shipped a platform upgrade for the application which might have some rendering issues with certain GPU/driver combinations. Please forward your application logs from `%AppData%\Postman\logs` to `help@postman.com` so that we can take a deeper look at it? Please mention this GitHub issue id in the subject.

To unblock, users can try disabling th

[2021-08-03 05:52] coditva commented on #10167
@pmn4 I'm unable to replicate this issue in the latest Postman v8.9.1. Can you try upgrading and see if you can still replicate this?

[2021-08-03 05:59] CelesteGH commented on #5577
We really need this too.

[2021-08-03 08:27] dsdasun opened #10186 "postman客户端登录后 账号中数据无法同步"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the Issue

postman客户端登录后 账号中数据无法同步

-

### Steps To Reproduce

1.登录账号

### Screenshots or Videos

![20210803162611](https://user-images.githubusercontent.com/65879717/127983532-379e96cf-77f7-4c6c-9186-d64d8ad46f1e.png)

### Environment Information

[code]

### Additional Context?

_No response_

[2021-08-03 09:08] postman-support commented on #10186
Hi hello,

Thank you for reaching out to Postman.

I understand that you are receiving a connection error in the desktop app, Right?
Sorry for the hassle, happy to assist!

Postman uses Web-Sockets to sync data between clients and our cloud services, and it is likely that the web-socket connection is being interrupted for some reason.

Are you using any of the VPN/proxy/firewall or antivirus appli

[2021-08-03 09:22] Sun0da commented on #10186
------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "postmanlabs/postman-app-support"                                                                                    ***@***.***&gt;;
发送时间:&nbsp;2021年8月3日(星期二) 下午5:08
***@***.***&gt;;
***@***.******@***.***&gt;;
主题:&nbsp;Re

[2021-08-03 10:27] postman-support commented on #10186
Hi hello,

We would need to check with your postman account details on this.
Could you please write to us at help@getpostman.com for further assistance.

Please feel free to reach out to the above mentioned email address with the logs files mentioned.
Thanks!
via @Lincimary | Postman Support

[2021-08-03 10:49] joep-source commented on #4418
I do to have multiple environments for different servers/users combinations. Being able to favorite/star certain environments would help a lot!

[2021-08-03 10:50] joep-source commented on #7661
I do too have multiple environments, but in my case for different servers/users combinations. Being able to favorite/star certain environments would help a lot!

[2021-08-03 10:53] joep-source opened #10187 "Favorite environments just like collections"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request

### Is your feature request related to a problem?

We have many environments for different servers/users combinations. Finding back some of the often used environments  takes some time.

### Describe the solution you'd like

Being able to favorite/star certain environments would

[2021-08-03 11:44] Dhanalakshmi-Jayakumar opened #10188 "POSTMAN is cleared after printing in the console"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the Issue

POSTMAN Console and window is cleared after printing in the console

### Steps To Reproduce

1. Write a request under collection and add console.log to print in the console
2. Run the tests from the collection runner
3. Now observe, after running the request, both POSTMAN window and console

[2021-08-03 11:50] vinitshahdeo commented on #7634
@GerkinDev Thanks for reporting this. We have shipped out Postman `v8.9.1` on [Snap store](https://snapcraft.io/postman) today. Can you please upgrade to the latest version and try out the same flow?

[2021-08-03 11:51] HenAmar commented on #2801
+1

[2021-08-03 11:54] mbejda commented on #285
+1

[2021-08-03 12:56] codenirvana opened #10189 "Ability to configure client certificate in WebSocket"
### Is your feature request related to a problem?

There's no way to set up a client certificate for a secure WebSocket request.

### Describe the solution you'd like

Respect the client certificates configured for HTTP requests in the settings to be used for WebSocket requests as well.

[2021-08-03 13:07] vansham-gortnm commented on #4009
I am wondering how to emit an event to the `socket.io` based socket server. There appears to be no concise explanation for that and everytime I try to emit anything, the connection closes.

[2021-08-03 13:18] zhouyingge1104 commented on #6707
It works for me!

[2021-08-03 15:28] fippy commented on #6015
This is something I'm regularly experiencing using latest v8.9.1 on Windows 10 x64 with a decent spec machine i7 2.7GHz wtih 16GB ram:

For example while running a very simple collection with 200-250 requests each returning only approx 100Kb per request. Postman memory usage balloons to 3gb and Postman crashes. Is there anyway to prevent or limit this accumulation of memory usage (in Windows).

I'

[2021-08-03 16:02] fippy commented on #4687
This is still an issue for me running Windows 10 x64 and latest Postman (v8.9.1)

still consumes and balloons memory usage, unfortunately making it impossible to run a basic collection.

Same problem with Postman Canary

[2021-08-03 20:00] RoLYroLLs opened #10190 "Import Variables into an Existing Environment"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request

### Is your feature request related to a problem?

I have several environments: local, teamdev, qa, production and one for documentation (to hide certain values). When we create a new endpoints and add variables for in our local environment, we end up having to manually update al

[2021-08-03 20:53] Raja-Simha commented on #10026
@yaohsien Closing this issue as this has been fixed. Please re-open if you find the problem to be unresolved.

[2021-08-03 20:53] #10026 closed, assigned to Raja-Simha

[2021-08-03 23:32] mjhaller commented on #8179
+1

[2021-08-04 01:44] GerkinDev commented on #7634
I can confirm this works. Thank you!

[2021-08-04 05:01] #10188 closed, assigned to nobody

[2021-08-04 05:02] Dhanalakshmi-Jayakumar commented on #10188
Issue with for loop in the code

[2021-08-04 05:06] Sun0da commented on #10186
我需要启用同步功能

[2021-08-04 05:06] #10186 closed, assigned to postman-staff

[2021-08-04 05:06] Sun0da commented on #10186
我需要启用同步功能

[2021-08-04 05:06] Sun0da commented on #10186
我需要启用同步功能

[2021-08-04 05:07] Sun0da commented on #10186
我希望能够远程帮助我启用，postman账号的同步功能

[2021-08-04 06:42] neilstudd commented on #10168
The public documentation has now been updated to reflect the actual behaviour - there was a similar problem with the stated range for `$randomPrice` which I have fixed at the same time.

@coditva Could you please close this issue when you get a chance? I haven't got GitHub Issues powers yet 🙏

[2021-08-04 08:56] praveendvd opened #10191 "Pull request open button not working"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the Issue

The pull request open button is not clickable , the link is only on the pull request name

### Steps To Reproduce

1. Create a fork
2. Create a pull request to source
3. Goto pull request history in the source collection
4. try clicking open

### Screenshots or Videos

![image](https://user

[2021-08-04 09:29] PotatoesFall commented on #4222
got this issue on v8.9.1 on Windows 10.
created a collection, added a request and referenced a variable in the url.
then added this variable to the collection (saved it and everything), but it was not recognized in the request.
workaround was to delete collection and add it again, this time adding the variable before referencing it in the URL.

[2021-08-04 09:31] neilstudd commented on #10191
Hi @praveendvd,

Do you mean the grey `OPEN` text on the right-hand side? This is a status label which shows the current status of the pull request; in your case, your PR is in an 'Open' state. Pull Requests may also be in other states, such as Merged or Declined, depending on their review status.

It probably becomes more apparent if you see other examples in this space:

![image](https://user-im

[2021-08-04 09:35] praveendvd commented on #10191
Thanks @neilstudd  that greyed out open doesn't looks like a status . I was trying to click to for a long time thought the button is broke .

It would be great if any label saying it's a status

[2021-08-04 09:53] coditva commented on #10168
@neilstudd Thanks for the documentation update! I found that this issue is also present in the variables' descriptions. Will close this one out after updating it there.

[2021-08-04 10:12] codenirvana commented on #4009
@vansham-gortnm can you create a [new bug report](https://github.com/postmanlabs/postman-app-support/issues/new/choose) or reaching out to the wider [Postman Community](https://community.getpostman.com/) for help?

Locking this closed thread conversation to avoid unnoticed bug reports and feature requests.

---

Everyone, feel free to raise a feature request and bug report related to WebSocket req

[2021-08-04 12:19] igorbljahhin commented on #7210
I also would like to read local files in pre-request scripts.  In our project we use postman/newman to upload website provisioning data to STAGE/PROD environments. At the moment we successfully uploading data from CSV files. Now I would like to upload text files also.

[2021-08-04 12:27] praveendvd commented on #10178
use:

.hasOwnProperty('property1') to validate if the object has the particular key ,

https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Object/hasOwnProperty

[2021-08-04 12:43] DawMatt commented on #10160
Great to hear! I encountered the same issue today on Windows when importing an ISA-95 OperationsRequest WSDL ( OperationsRequestService_v1_0.wsdl ). Unfortunately I can't attach this file due to the licensing but glad to see a more easily accessible standard can be used to reproduce the issue.

Please note this issue showed up when generating a documentation collection as well, not just when gener

[2021-08-04 14:24] VaMyronenko commented on #9449
Hello,
I am also in need of this feature. I would like to have target links in the table to the other sections of documentation, but that does not work when the table is in the 'view more' modal. Hope this can be implemented.
Thanks

[2021-08-04 15:07] cda-1 commented on #4361
I've noticed that if I leave Postman open for a long time, it will eventually saturate one CPU core.  As users above have stated, it appears to be when a new version is detected. I fired up Process Monitor and watched what it was doing. I'll include the info below on the off chance it sends you in the right direction.

Is it creating a settings file over and over again?

![image](https://user-imag

[2021-08-04 15:51] aquiporras commented on #5040
+1

[2021-08-04 17:37] kabbottcc commented on #8219
Came here because I had the same question. Am using 8.9.1, so theoretically this should be available.  Bottom implies it's displaying the console (underlined tab title), but it's only showing the response data, no error data. Error count is displayed in the console title bar, but it's not selectable/clickable.. There doesn't appear to be a way to view the logs without going to View > Show Postman

[2021-08-04 19:14] paulwis opened #10192 "API Key Authorization values do not propagate to documentation"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the Issue

Define auth values for a collection:
<img width="542" alt="Screen Shot 2021-08-04 at 3 15 08 PM" src="https://user-images.githubusercontent.com/1090185/128241309-fd125deb-296f-43fb-95f3-83a47d5c2d4c.png">

When generating documentation, this is the resulting auth block:
<img width="345" alt

[2021-08-04 21:07] JoshSearle commented on #5502
Agreed, Please Please add this feature as it would help MANY Teams!

[2021-08-05 02:27] MaslovD commented on #5988
same issue started happening today, Version 8.9.1 (8.9.1)

[2021-08-05 02:51] postman-support commented on #10176
Hey @eric-ueta,

Thanks for getting in touch and really sorry for the hassle here.

Would you please try disabling hardware acceleration from the Help menu in Windows and see if that helps?

Thanks for your cooperation on this.
I am looking forward to hearing back from you!

via @taehoshino | Postman Support

[2021-08-05 03:03] postman-support commented on #10167
Hey @pmn4,

Sorry to hear you are facing some unexpected issue.
But as @coditva mentioned, I was also unable to reproduce this issue on my end (MacOS).

Please let us know if the issue is still persisting. We'd be more than happy to help!

via @taehoshino | Postman Support

[2021-08-05 04:39] rahman77889 opened #10193 "Pretty json body not working after update to latest Version 8.7.0"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the Issue

recently i've been update postman to latest version,
but response json not working well as usual

please fix this bug

Postman for Mac

Version 8.7.0

OS X 20.5.0 / x64

![image](https://user-images.githubusercontent.com/4687647/128291557-17d478c8-c9d3-48aa-a390-e60558bfc600.png)

### Steps

[2021-08-05 04:40] postman-support commented on #10177
Hi,

We have checked the reported concern and would like to infrom you that there is no difference in the font for light & dark mode. Also, can you let us know which screen you are referring to which is not adjustable?

via @ash007-postman | Postman Support

[2021-08-05 05:50] sasidhar-Eunimart commented on #10177
MacBook AIR 2017 - 13.3-inch (1440 x 900)

I downgraded to the old version..!, (7.36.6) because of font and size, it's not pleasing to the eyes.
![Screenshot 2021-08-05 at 11 16 34 AM](https://user-images.githubusercontent.com/58244882/128297722-53709016-0465-4fd9-887a-221a76146765.png)

[2021-08-05 06:32] postman-support commented on #10164
Hi there,

Thanks for reaching out and sorry to see you are having trouble using the App.

To troubleshoot further we will need App logs, your email ID & other details. Since GitHub being a public platform it is not good to get those details on this thread from you for security reasons.

Could you open a new ticket on our support channel using this link - https://www.postman.com/support/, please?

[2021-08-05 07:34] smrtyviks commented on #10027
I would like to see this feature too

[2021-08-05 07:54] vmoloko commented on #9608
+1, some menus are scattered over the app, very confusing.

[2021-08-05 07:58] vmoloko commented on #7014
+1
"Share environment menu" doesn't respond to Esc too.

[2021-08-05 10:24] VShingala commented on #10179
@KonradMaterek You're correct here. Any external imports will not be resolved currently and any place where they are used will provide an error in the request body.

@stondini It seems there is an issue with the conversion process of multi-file schema here. We are investigating the issue and will update the thread with any further information.

[2021-08-05 12:15] postman-support commented on #10183
Hi @danielferromeral,

Just tried this out from my end and seems like they are working as expected.

May I know the flag you are using for this case? Also, could you share the scripts running on Docker for this workflow?

Attaching screenshots of Newman runs:

 ![](https://postman.zendesk.com/attachments/token/0NDsdvmaq1fh3cPHvivsNCv5y/?name=inline-479974999.png)

 ![](https://postman.zendesk.com/

[2021-08-05 12:55] jerome-nerrant commented on #3706
Same issue here. Has anyone come with a suggestion/workaround to use client-certificates when using Postman Monitors ?

[2021-08-05 13:02] dtturcotte opened #10194 "Please support SameSite / Secure"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request

### Is your feature request related to a problem?

This is what SameSite is: https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Set-Cookie/SameSite

It says that Postman doesn't support it: https://support.postman.com/hc/en-us/articles/115003703065-What-cookie-properties-a

[2021-08-05 13:18] codenirvana commented on #3994
Hey Everyone, apologize that this bug got unnoticed for so long.
We've pushed a fix for this in the latest Postman app `v8.10.0`.

![Screenshot 2021-08-05 at 6 30 44 PM](https://user-images.githubusercontent.com/4865836/128356317-6a56040e-38e3-4737-8db9-dca0249345c6.png)

Please update your app and confirm if this fixes your issue?

[2021-08-05 13:28] #10094 closed, assigned to nobody

[2021-08-05 14:14] xehpuk opened #10195 "Restart button to install update not working"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the Issue

Postman was notifying me that "An update has been downloaded for Postman. Restart now to install the update."
The "Restart" button to the right didn't do anything.

### Steps To Reproduce

1. Wait for the notification that an update has been downloaded.
2. Click the "Restart" button.
3. Ask

[2021-08-05 14:24] Sanabalis commented on #10176
It works after disabling the GPU setting for the postman application using an environment variable, as suggested by twitharshil above.

Thank you!

[2021-08-05 14:56] rosdi commented on #8961
I left my Postman open (idle) today...,, and the CPU fan kept spinning for no reason... Postman (that is being left idle) is using 20% of the CPU! .. this is not macOs specific (as tagged in this thread), I am on Windows 10.

I closed Postman and my CPU usage almost immediately dropped to 3-4%

[2021-08-05 14:59] eric-ueta commented on #10176
Hello,

the @twitharshil solution worked,

curiously I deleted the environment variable to reproduce the error and catch the log file, but the app is still working.

Thank you guys.

[2021-08-05 15:46] ShubhamThakkar opened #10196 "Naming Postman windows"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request

### Is your feature request related to a problem?

Hi Team, can we have a feature in Postman Macbook app where we can give name to windows of Postman. I want to use multiple windows each opened with multiple tabs of requests. But traversing through windows become difficult due to

[2021-08-05 16:13] Peppe87 commented on #6397
I still have this issue: if I try to merge a forked collection, I get the message "The destination has been modified since you last updated the fork. We’d recommend pulling changes"

If i try to pull them, I get a pop up with the error "Unable to merge changes We could not find the collection you are looking for".

This happens both if using the Linux App or the Web App, and it's very annoying, as

[2021-08-05 18:50] chrissshe1 opened #10197 "Can't update to new version on Mac"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the Issue

My Postman shows a red dot indicating it has updates
![image](https://user-images.githubusercontent.com/66974056/128404070-f46ddd79-b64d-4b5d-8b26-9a3bec607086.png)

If I click it, Postman closes immediately. I then manually restart the app. It's still on the same version. After a while, th

[2021-08-05 18:57] henrylkirk commented on #285
+1

[2021-08-05 19:03] zoom-scott-sancetta commented on #10184
Yes please:
1. The left and right arrows should be bold if there are more tabs to that side, unbolded otherwise
2. An option to group tabs, or possibly have 2 rows of tabs

[2021-08-05 19:39] webketchgit commented on #9163
This will also help build a community of 3rd party apps that want to streamline the API development. Postman has a great UI and data structure to define API. 3rd party apps can integrate with Postman oAuth2 and get read only access to user's collections and build great apps for what comes after defining an API. Postman currently has Newman for this purpose which is specific to node, and an array o

[2021-08-05 20:27] na9812 commented on #9163
This will also help build a community of 3rd party apps that want to streamline the API development. Postman has a great UI and data structure to define API. 3rd party apps can integrate with Postman oAuth2 and get read only access to user's collections and build great apps for what comes after defining an API. Postman currently has Newman for this purpose which is specific to node, and an array o

[2021-08-06 01:44] cgarrovillo commented on #5396
This needs to be reopened.

[2021-08-06 02:06] postman-support commented on #10176
Hey @eric-ueta,

Great to hear that the issue has been resolved! Thanks for keeping us updated!

Please do feel free to let us know if there is anything else I can help! Otherwise, I will go ahead and close this ticket for now.

Thanks again for reaching out! Have a great day!

via @taehoshino | Postman Support

[2021-08-06 04:35] postman-support commented on #10177
Hi,

Thanks for the revert. We have tagged the respective team to check on this feedback further and provide their inputs. Meanwhile, you can also try Postman web via navigating to this link here: http://go.postman.co and check if this helps you.

You can also contact us via postman.com/support for any other issues. Thank you!

via @ash007-postman | Postman Support

[2021-08-06 05:44] postman-support commented on #10197
Hi there,

Thanks for reaching out and sorry to see you are having trouble updating your App.

To troubleshoot further we will need App logs, your email ID & other details. Since GitHub being a public platform it is not good to get those details on this thread from you for security reasons.

Could you open a new ticket on our support channel using this link - https://www.postman.com/support/, plea

[2021-08-06 06:08] codenirvana commented on #10025
@daanpape with the latest release, we've updated the binary message authoring experience to accept `Base64` or `Hexadecimal` string input. Can you update your app and confirm if this fixes your issue?

![Screenshot 2021-08-06 at 11 27 08 AM](https://user-images.githubusercontent.com/4865836/128463231-3e332d94-8673-45ac-a505-85c4c043e322.png)

For the custom message parser use case, yes that's on t

[2021-08-06 06:23] postman-support commented on #10197
Hi there,

My apologies, I forgot to add in my previous response that - you can also download & install the latest version of Postman's desktop from the downloads page using this link - https://www.postman.com/downloads/.

Please make sure to save/sync all your work before you download & install the latest version from the download page link. Do let me know if you face any issues.

via @Swapnil-ge

[2021-08-06 06:23] JelenaRy opened #10198 "url part from request not added to pm.request.url.host on 8.10.0"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the Issue

On folder level there is a pre-request script, which fills the host from environment variables:
pm.request.url.host = pm.environment.get("environmentUrl");

On test level there is the second part of url, e.g. :
GET /healthcheck

When Get healthcheck is called, only the pm.request.url.host i

[2021-08-06 06:39] Raj-postman opened #10199 "Enhancement request for recovery of deleted monitors"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request

### Is your feature request related to a problem?

When the associated collection is deleted then the monitor is lost.
In other cases, monitors are deleted in the first place and users are unable to view the history of the monitoring data.

### Describe the solution you'd like

E

[2021-08-06 06:48] codenirvana commented on #10198
@JelenaRy I understand your use case but this behavior is updated to fix a security vulnerability in our URL parser.

As a workaround, can you add any host (`localhost` etc.) to the URL? We'll fix this issue in the next release.

[2021-08-06 07:21] JelenaRy commented on #10198
Yes, will do, but would like to have previous behavior(without the security issue of course) when possible. Thank you!

[2021-08-06 08:05] ondrix opened #10200 "When changing Access Token property, old value gets exported"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the Issue

when I change the access token value in collection and export the collection, the old value get's exported.
when I change it in json to new value, import the collection, change it to something else the export will write the value I've changed manually in json.
Other changes in collection (e

[2021-08-06 08:52] danielferromeral commented on #10183
Thanks for answering.
I know what was causing the problem. As is expected, the newman test was failing and returning a exit code 1. But, as the container ended normally, the exit code of the container was a 0. So the problem was that the docker container wasn't returning the code from the script, was a communication error.
I solved it by adding a if below in the script that runs newman.
[code]
I w

[2021-08-06 08:52] #10183 closed, assigned to postman-staff

[2021-08-06 10:09] jotsarup opened #10201 "Allow Statuspage components to be linked when creating an incident through the Postman Monitor <> Statuspage integration"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request

### Is your feature request related to a problem?

In the Statuspage integration, it looks like we cannot select the components impacted when we select the option to create an incident. What this does is the incident gets created without any components associated to it. When you

[2021-08-06 12:42] liflovs commented on #6236
let us delete team workspace

[2021-08-06 12:53] KonradMaterek commented on #10179
Thank you once again @VShingala, fingers crossed for having external imports supported at some point then! :)

[2021-08-06 13:47] eyalgrossdev commented on #7979
We'd really like this as well!

[2021-08-06 14:41] elkikin25 commented on #8686
Postman v8.10.0 the problem still exists

`{
  "openapi": "3.0.1",
  "info": {
    "title": "API Billing",
    "description": "Test for Digital Ware",
    "contact": {
      "name": "Elki Martinez",
      "email": "elkin.martinez@outlook.com"
    },
    "license": {
      "name": "Todos los derechos reservados"
    }
  },
  "paths": {
    "/api/invoces": {
      "get": {
        "tags": [

[2021-08-06 16:28] enkeyz commented on #7852
Same issue.

[2021-08-06 18:04] chrissshe1 commented on #10197
Thank you @postman-support , I submitted a support ticket. If I download and install the latest version, will I be able to keep the `current value` in my `Environment`? I think current values are designed to be not synced or exported.

[2021-08-06 18:30] spotlesscoder opened #10202 "Migrate collection vars to env and vice versa"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request

### Is your feature request related to a problem?

When you overtake a collection that has passwords etc. stored in collection vars you might want to migrate them to and environment.
On the other hand if you have different passwords for local development use stored in a "local" e

[2021-08-06 18:32] spotlesscoder opened #10203 "Easier renaming of requests"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request

### Is your feature request related to a problem?

Clicking the pencil button is very annoying as it is sometimes hard to click on high resolution screens.

### Describe the solution you'd like

Just clicking anywhere on the title should set it to edit mode

Also if I just select

[2021-08-06 18:41] spotlesscoder opened #10204 ""Run" option missing on Context menu for Folders and collections"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request

### Is your feature request related to a problem?

I want to run healthcheck requests on different APIs quickly

### Describe the solution you'd like

When I have a folder with requests, I want to be able to right click the folder in the tree and have an option "run all".

Before

[2021-08-06 18:46] spotlesscoder opened #10205 "Display aggregated test results of last execution next to the request name in tree"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request

### Is your feature request related to a problem?

When running multiple requests as requested per #10204 I want to be able to quickly see what the outcome of the requests' latest execution was

### Describe the solution you'd like

When all tests on that request succeeded, a gre

[2021-08-06 18:50] spotlesscoder opened #10206 "Make postman more keyboard friendly"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the Issue

When pressing tab to focus different UI elements, I lose track of what the focused UI element is

### Steps To Reproduce

As keyboard usage allows usually for quicker navigation through apps, it might be helpful to animate UI elements after they are on focus after pressing tab. This way, th

[2021-08-06 19:15] kaleballmon commented on #2853
+1 This for Page Up/Down

[2021-08-06 21:00] charlie-postman commented on #10199
Thanks for putting up the request!

At this point, we don't have the capability to restore a "deleted" (disabled or suspended) monitor. This may be a new feature we can consider in the future.

If a user wants to view the history of the monitoring data, a better way is to pause the monitor (making it inactive) instead of deleting it in the first place.

[2021-08-06 22:20] postman-support commented on #10197
Hi Chris,

I'm going to go ahead close this issue since you have opened a support ticket.

Have a great day! :)

via @nrmartell | Postman Support

[2021-08-06 22:32] maxmiliandelemos commented on #5194
I'm starting now with gRPC, here I am, looking for a solution to this problem.

[2021-08-06 22:33] maxdelemos commented on #5194
I'm starting now with gRPC, here I am, looking for a solution to this problem.

[2021-08-07 11:35] ElDuderino420 commented on #10067
Hi
I'm running postman v. 8.10.0 and still get this error with my Microsoft dynamics WSDL files.
These also load fine into SOAPUI.

I am unfortunately not allowed to share the files.

The file has this target namespace:
`targetNamespace="urn:microsoft-dynamics-schemas/page/casysclientcredparties"`

[2021-08-07 19:58] jscotroby commented on #2050
Hey Postman business execs.

I've tried searching for a valid answer to this problem for a few days.  No results that meet my needs.

Switching to a different service now.  Don't want to, I'm familiar w/ postman, and not eager to learn a new tool.

But hey, you forced me into it.  Good job failing to address a highly requested issue for 4 years, and closing the request thread without a solution.

[2021-08-08 16:50] outwrq commented on #10139
Has there been any movement on this? Still yet to find a solution to resolve

[2021-08-08 18:53] RichFlickstein commented on #10180
I found another use case for this feature request. I recently found out that we can use Postman to test web applications via the w3c standard API requests. What I want to do is group related request into a folder, then have another request not in a folder that serves as a transition, and then have another folder for another group of related requests. The problem is of course, that all the folders

[2021-08-09 02:49] 1pbSolidDrives opened #10207 "ajv need update"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request

### Is your feature request related to a problem?

The AJV version is too old and needs to be upgraded. You still used 6.12.6 but now it is 8.6.2

### Describe the solution you'd like

Upgrade ajv

### Describe alternatives you've considered

_No response_

### Additional context

[2021-08-09 04:50] #3994 closed, assigned to codenirvana

[2021-08-09 05:36] kajal-kumari-kr commented on #1329
Hi Everyone,
I wanted to pass "12abc&3tjhedje}}0+%ewbjk" as environment variable with newman run command. But it is giving error as "event  not found c&". so, how can i pass the string with any combination of character in environment variable.

[2021-08-09 06:17] ImFarel commented on #7399
This bug still exist in 8.10.0 on Windows 10

[2021-08-09 07:38] VShingala commented on #10067
@ElDuderino420 Can you give a small example and not the full schema which fails during importing. It would really help in debugging the issue further.

[2021-08-09 07:50] ElDuderino420 commented on #10067
@VShingala here, hope this helps :)

[2021-08-09 07:56] VShingala commented on #10067
@ElDuderino420 Thanks, file shared helped in determining issue is present. We'll reopen this issue and update this thread with future updates.

[2021-08-09 10:09] leetheperm commented on #10203
I'm also having an issue that would be solved by this feature.

[2021-08-09 10:24] dco123 commented on #4355
Sorry to drag this up again but this isn't working for me, using 8.10.0. When the api responds with this:

`HTTP/1.1 401 Unauthorized
Content-Length: 42
Content-Type: application/json; charset=utf-8
Server: Microsoft-HTTPAPI/2.0
WWW-Authenticate: Negotiate,NTLM
Date: Mon, 09 Aug 2021 09:52:18 GMT
Proxy-Support: Session-Based-Authentication`

Postman doesn't attempt a follow up request with credent

[2021-08-09 12:09] giridharvc7 commented on #10204
There's a Run option available for Folders, would this work for you?
<img width="1009" alt="Screenshot 2021-08-09 at 5 22 33 PM" src="https://user-images.githubusercontent.com/1040583/128702027-e11666f2-16d4-4b1b-949e-016c2f749b47.png">

[2021-08-09 12:15] postman-support commented on #10195
Hi,

Thank you for writing in and sorry for the hassle. We have reported this issue to the respective team.

We will let you know once we receive any updates on it. Thanks for your patience while we’re fixing it.

via @ash007-postman | Postman Support

[2021-08-09 12:36] secure12 commented on #3646
4 years passed and still no `crypto` in Postman... nice...

[2021-08-09 13:43] timbochamp commented on #10193
Hi @rahman77889 , thanks for posting. This sounds similar to #9049 . I wasn't able to reproduce trying to make some sample calls to postman-echo.com and other test endpoints. From that past issue, could you try restarting your app as a workaround? I'm also curious if updating to the latest v8.10.0 app would help too if possible?

We'll investigate this where it sounds as though other users are sti

[2021-08-09 14:48] Cuneytt opened #10208 "Allow for XML language detection from the settings -> general tab."
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request

### Is your feature request related to a problem?

Every time a response is sent back from the server because the server does not set the Content-Type to be XML, the pretty print for XML needs to be manually selected.

### Describe the solution you'd like

Currently the language

[2021-08-09 15:58] cdolan92 commented on #6681
+1 this is needed, going to be using some work arounds to make our API accessible to authenticated users only.

[2021-08-09 18:27] forresthopkinsa commented on #7294
This explanation does not align with the experiences being posted in this thread. For me, Postman is using a full CPU core -- pinning it at 100% -- while it's *idle* and there's an update waiting.

It's not processing the update. The update is just _waiting_. It will continue to max out the core indefinitely; I observed it happening for about 16 hours.

So, my hypothesis is that delta updates are

[2021-08-09 19:35] fidesachates commented on #6682
+1

[2021-08-09 21:33] #10197 closed, assigned to postman-staff

[2021-08-10 01:26] postman-support commented on #10167
Hey @pmn4,

I hope all is well! I just wanted to follow up on my previous message - are you still experiencing the issue here?

Just letting you know that I'm going ahead and closing this for now. If there's anything I may help you with, please feel free to add your comments or reach out to our support (https://www.postman.com/support/)

Have a great day and thanks for using Postman!

via @taehosh

[2021-08-10 01:34] saiudayakella commented on #8929
+1, this is a good feature. Currently, we cannot stop sending the current request even if some criteria fails in preconditions

[2021-08-10 01:44] lolpez opened #10209 "Scratch Pad not working"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the Issue

Scratch Pad does not open, it displays "Something Went Wrong"
The last log from renderer-scratchpad.log is

`[4760][1628559506966][scratchpad][error]["Could not complete migration.",{"name":"Error","message":"Migration: IndexedDB schema migration failed. IndexedDb was not upgraded successfu

[2021-08-10 01:55] blueberry6401 commented on #9346
Hi, the last M1 version is quite long time ago. Is there any updates?

[2021-08-10 02:37] muthu2404 commented on #8506
Did you find the solution for it? I'm facing the same issue.

[2021-08-10 02:55] JetStarBlues commented on #9072
I get this grey-out frequently enough that the Postman desktop client is unusable (Windows 10). After a couple of minutes, sometime even on first open, the entire UI disappears.

The workaround that seems to work is [using Postman in "offline mode"][0]. This is achieved by clicking the `Settings` gear icon and selecting `Scratch Pad` mode from the options on the menu that pops up.

While this work

[2021-08-10 07:54] dco123 commented on #4711
I'm getting this issue using 8.10.0. I don't think it was ever a duplicate of #4355 as that was explicitly about nonunified WWW-Authenticate headers. Can you please reopen this and investigate it?

If an api responds with this:

HTTP/1.1 401 Unauthorized
Content-Length: 0
Server: Microsoft-HTTPAPI/2.0
WWW-Authenticate: Negotiate
WWW-Authenticate: NTLM
Date: Tue, 10 Aug 2021 07:38:46 GMT
Proxy-Supp

[2021-08-10 07:58] dco123 commented on #4355
We've found that authenticate works ok when there are separate WWW-Authenticate headers in the response, e.g:

WWW-Authenticate: Negotiate
WWW-Authenticate: NTLM

It doesn't work when they're unified, e,g:

WWW-Authenticate: Negotiate,NTLM

Which is exactly the issue described in #4711 which was closed as a duplicate of this issue (incorrectly IMO). Can someone please take another look at that?

[2021-08-10 09:04] ICCTest commented on #9739
I have same problem as Yuval. I tried both Postman App and Postman Web.  :)

[2021-08-10 09:24] BIFox commented on #10193
hi @timbochamp
i had the same issue in Postman version 8.8.0 on MacBook O.S: Bigslur version 11.4
I upgraded to postman 8.9.1 and it's resolved now.
Thanks

[2021-08-10 12:24] Netwear7 commented on #4193
In my ** POST ** request for a new collection (API POSTMAN):
I want to test the POST request by asking for the whole collection and compare the number of collections **before** and **after**

Why don't we just call another test request?
I have no solution ....

[2021-08-10 12:39] hugobrancowb commented on #8506
same here

[2021-08-10 12:58] elazar commented on #4193
We're in the process of moving from Postman tests to using the [Robot Framework](https://robotframework.org/) at my work, as it supports this feature.

[2021-08-10 13:01] mbejda commented on #3291
The issue is still there even in the most latest 8.X.X :(

[2021-08-10 13:27] giridharvc7 commented on #3291
@mbejda This feature is released, not completely sure why you are facing this issue -  can you drop a mail to help@postman.com ?
@postman-support

[2021-08-10 13:45] sajid-1114 commented on #10073
Duplicate of #9754

[2021-08-10 15:18] jviotti commented on #8935
Hi @bdharrington7 , can you check if the issue still occurs in the latest version of the Postman desktop application? The application should not grab focus anymore on the splash screen

[2021-08-10 17:56] Siedlerchr commented on #2030
Broken in mac

[2021-08-10 19:36] CodingSpiderFox commented on #10204
Kind of but I would find it more intuitive to also have it as context menu action too

[2021-08-10 19:37] chrisron95 commented on #10063
I also would like the "Open in a new tab" ability to be re-added. It used to work that way up until a couple months ago. I now find it very frustrating that basically any time I want to get to the originally saved version, I have to close my unsaved tab, losing any temporary changes I made, to then reopen it to get the saved version. Sometimes I want to work with both open. Granted, I can duplicat

[2021-08-10 23:20] bdharrington7 commented on #8935
It still does grab focus for both the splash screen and the main window on macOS BigSur 11.5 and Postman v8.10.0

[2021-08-11 00:35] alexrosenfeld10 commented on #2452
any update on this?

[2021-08-11 05:40] forresthopkinsa commented on #7294
On the bright side, installing the pending update and restarting Postman completely fixes the problem. However, this of course means I won't really be able to reproduce the issue until the next update is published.

I do remember off the top of my head that Postman was running 7-8 processes, and only one of them was hogging CPU. In the task manager, it was indistinguishable from the other Postman.

[2021-08-11 05:40] #10025 closed, assigned to codenirvana

[2021-08-11 05:46] giridharvc7 commented on #10204
Agreed! This is surely a bug, we'll take it up.

[2021-08-11 05:50] lmeysel opened #10210 "Current variables accessible in a split screen or sidebar"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request

### Is your feature request related to a problem?

no

### Describe the solution you'd like

It would be nice to have the option to always see the current variables in a scope, i.e. in a split-screen:

![image](https://user-images.githubusercontent.com/12410218/128976280-dee5333b

[2021-08-11 07:14] janArb commented on #7179
I wouldn't call this a feature, but a bug.

[2021-08-11 07:32] shoaib30 commented on #8605
@dstarkowski  you're absolutely right.

@jviotti using the discrete GPU consumes a lot more battery than working on the CPU. The power rating of a CPU along with the integrated GPU is usually less than the power rating of a dedicated GPU.

Not sure if **Hardware Acceleration** toggles between discrete and integrated or completely disables hardware acceleration. Ideally, it would be a toggle betwee

[2021-08-11 09:55] Zuckonit opened #10211 "cannot open google chrome postman app suddenly"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the Issue

postman app process is alive, but without ui. i cannot open it event downgrade chrome, restart macos, reinstall postman app. I tried what I can do, but still cannot open it. it's really strange, I can open it 1hour before, I don't know what happen?

### Steps To Reproduce

install chrome po

[2021-08-11 13:25] awaken180-dev commented on #9840
This is happening to me today following upgrade.

[2021-08-11 15:28] nevadex opened #10212 "postman crashing after running a request while the api is offline"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the Issue

When I try and execute a request while the api that I am calling is offline, Postman crashes and I cannot hit cancel. If I try to kill it with task manager or with taskkill on cli it opens a ghost instance of postman which takes up no resources but I cannot close it until a system restart.

[2021-08-11 15:37] elazar commented on #1535
They [aren't even supported in the same collection](https://github.com/postmanlabs/postman-app-support/issues/4193) yet, and that issue has gotten about as much development as this one.

[2021-08-11 17:00] elazar opened #10213 "Schema Validation fails for responses using a content type containing a wildcard"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the Issue

Not sure if it's relevant, but this issue applies to a Postman collection created using https://github.com/postmanlabs/openapi-to-postman.

Here's an example of a response body specification that appears to trigger this issue.

[code]

Sending a request that has this response triggers the f

[2021-08-11 17:22] ManiacDC commented on #1535
Those specific scenarios have tons of workarounds. Folders, setNextRequest, functions, etc. I could see why that issue wouldn't have much traction.

[2021-08-11 19:47] rainabba commented on #2847
Yes, we are still waiting ;)

[2021-08-11 20:02] titan1978 commented on #4791
This has been open since 2018? Even SpaceX managed to build their Starship in less than a year :)
So when can we expect this? I would think having this customizable would be super helpful - ie - I would want to show this for PROD but not for QA!!!!

[2021-08-12 01:13] BobKlaas commented on #903
+1

[2021-08-12 04:12] rymnc commented on #3117
+1

[2021-08-12 04:14] sisihi commented on #452
Hi @drew-smithies,

Sometimes, a certain API relies on another API's output, which leads to a situation that a single postman request contains several HTTP requests.

As an independent tester, the dev mates want me to provide the raw cURLs of all the HTTP requests letting them reproduce the failure in their handy local environments.

So I am wondering that is there a built-in method to get all the

[2021-08-12 04:33] postman-support commented on #10211
Hi there,

Please note that - Postman's Chrome application is no longer supported & it is being deprecated a long time ago. To know more about the chrome app deprecation refer to the below link:

- https://blog.postman.com/goodbye-postman-chrome-app/

We recommend our users to download and install our native/desktop application which has tons of features that have been largely built out from reque

[2021-08-12 04:36] postman-support commented on #10212
Hi @nevadex,

Could you try executing the same request from Postman's Web Application: https://go.postman.co - and see if you are able to get a response for them there?

* * *
For the desktop application, you may try clearing cache as per the article below and see if that helps?

- https://support.postman.com/hc/en-us/articles/360025359014-How-to-resolve-the-Could-not-open-Postman-error-

via @Raj

[2021-08-12 04:40] alchemist123 commented on #6886
Could not connect to localhost:3000
10:09:51
Error: socket hang up

[2021-08-12 05:00] Zuckonit commented on #10211
yes, I quit chrome postman app and  turn to post native. but I found another question about InterceptorBridge, I have one commit for it, is there any repo of InterceptorBridge?

[2021-08-12 07:16] Rclemens commented on #5502
This is a valid case. Please Reopen this request

[2021-08-12 09:12] TribuneX commented on #10112
We also moved to the OAuth2 workflow. This feature would save us a huge amount of time each day!

[2021-08-12 10:51] sn0rk64 commented on #8950
I have the same problem and I'm agree with @sansfromage46

[2021-08-12 12:08] huavi02 opened #10214 "Always reports 'Warning: Unable to verify the first certificate' with SSL Certification disabled"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the Issue

Hi,

My Postman v8.10.0 on MacOS Big Sur v11.5.1. In Settings SSL certificate verification is off. It still always prompt error of 'Warning: Unable to verify the first certificate'.

Thx/David

### Steps To Reproduce

1. Open Postman
2. Use GET for any URL starting with https://..
3. Click

[2021-08-12 12:10] vinitshahdeo commented on #10211
@Zuckonit The source code for `InterceptorBridge` is not open-sourced. Please share your findings to help@postman.com with the subject as `Findings for GitHub issue #10211`.

[2021-08-12 12:50] n158 commented on #285
Suggest a lifehack: create an simple local service, which can provide response based on user input. And instead of prompt use something like this
[code]

[2021-08-12 15:37] nevadex commented on #10212
When sending the request from Postman Cloud, the page does not hang and I am able to cancel the request.

After clearing the desktop cache, the application still hangs and opens a ghost instance that does not close. I tried it with the Postman setting "Request timeout" at 5 seconds but it still crashed.

[2021-08-12 16:50] postman-support commented on #10212
@nevadex Since this works alright on the Web, can we try adjusting the below values in Settings:

Increase the `Max response size` to 100 or 0 (Infinity) and also check if the request timeout is set to 0(infinity)? To do this please navigate: `Settings -> General`.

​  ![](https://postman.zendesk.com/attachments/token/CrBiE84H6VycNpPW4Mx7ZrrGK/?name=inline-1758483660.png)​
Once done try sending th

[2021-08-12 23:55] #10176 closed, assigned to postman-staff

[2021-08-13 01:56] Zuckonit commented on #10211
yes, already

[2021-08-13 01:56] Zuckonit commented on #10211
yes, already

[2021-08-13 04:32] akshaybhalotia commented on #1066
@a85 you said you were making this a priority 8 months ago, wassup?

[2021-08-13 06:24] postman-support commented on #10211
Thanks for sharing your feedback and we confirm receiving your request on our support channel.

Feel free to respond back to us if you have any other queries.

via @Swapnil-getpostman | Postman Support

[2021-08-13 06:30] Zuckonit commented on #10211
ok, cool

[2021-08-13 06:30] #10211 closed, assigned to postman-staff

[2021-08-13 06:53] shashankawasthi88 commented on #10201
Acknowledged. It will be considered in future releases.

[2021-08-13 08:16] hongminhcbg commented on #7350
This is very bad UX, please fix this issue

[2021-08-13 08:19] slishnevsky opened #10215 "Can't delete workspace. You are not permitted to perform the action."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the Issue

I am trying to delete a Workspace that I created before.

For some reason, I get this error from Postman:

**Can't delete workspace You are not permitted to perform the action.**

It is my workspace, that I have created.

Why can't I delete it?

### Steps To Reproduce

1. From Workspaces me

[2021-08-13 08:23] d031342 opened #10216 "Collection in my own workspace in our company account- Request are being deleted"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the Issue

In our Postman account of our company, when I am using My Workspace and create a collection with its request and environment variables, the request do not show up when I restart Postman.

Also, if I import a Collection, the requests disappear.

The creation of the requests are not displayed

[2021-08-13 08:46] samparmenter commented on #9346
Using the above canary version it still comes up as intel based in Activity Monitor. Whats the deal?

[2021-08-13 09:03] postman-support commented on #10215
Hi there,

Thanks for writing in.

It looks like there is only 2 workspace in your account "Angus Workspace" & "Team Workspace". Please note that there are always 2 default workspaces when the account is created 1) "My Workapce" & 2) "Team Workspace" and these workspaces are default ones and cannot be deleted but can be renamed.

Now I have a doubt that you might have renamed the default "My Works

[2021-08-13 09:07] slishnevsky commented on #10215
Oh, I see. I think that Angus workspace was created long time ago, about 4 years ago, maybe at that time there was no 2-Workspace policy, or maybe I don't remember renaming it. But it's ok, thank you !

[2021-08-13 09:07] #10215 closed, assigned to postman-staff

[2021-08-13 09:47] smythemm commented on #9214
Facing a similar issue here, where our Azure AD is not set up to generate access tokens, so I can't use the response_type = token and have to use id_token.

I'm managing to get further using ReadyAPI from Samrtbear, but ideally would prefer postman.

[2021-08-13 09:56] postman-support commented on #10216
Hi  @RaquelSpain,

Thank you for reaching out. Can you please send us the screen record of the behavior at help@postman.com , also kindly let us know if you are able to replicate the same on the web- https://go.postman.co/

Looking forward to your response.

via @ash007-postman | Postman Support

[2021-08-13 10:11] postman-support commented on #10209
Hi @lolpez,
Hope you are doing good!

Let me know if the suggested workaround helped you in getting the desktop app scratchpad working fine?
If you are still facing any issues, then could you please write to us at help@getpostman.com for further assistance, along with the log file attached and with the Github ID(10209)

Please feel free to reach out to the above mentioned email address with the lo

[2021-08-13 10:56] bugflux commented on #9346
Comes up as Apple on my machine
![image](https://user-images.githubusercontent.com/583643/129347052-c6eeaca7-e817-4f1b-b759-509cb4988ea4.png)

[2021-08-13 11:26] extchrthonc opened #10217 "Add a "Description" column to Environments/variable"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request

### Is your feature request related to a problem?

When using alot of variables , variable names and initial value + current value isnt always clear what is used for
It would be beneficial to have the possibility to add a explaining text to the variables.

for example
a variable

[2021-08-13 11:32] postman-support commented on #10215
Yes. Please feel free to respond back to this thread if you have any other queries.

via @Swapnil-getpostman | Postman Support

[2021-08-13 12:12] Swapnil-getpostman opened #10218 "Settings tab should have Application Logs location"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request

### Is your feature request related to a problem?

It's difficult to locate app logs sometimes for some users.

### Describe the solution you'd like

It's nice to have default logs located (based on the OS) in the general tab of the app settings, as shown in the below screenshot:

[2021-08-13 12:30] numaanashraf commented on #10218
Application logs are accessible via this Menu option. Since the log location is not user configurable, we do not show it under the 'Settings' dialog.

<img width="703" alt="Screenshot 2021-08-13 at 5 58 32 PM" src="https://user-images.githubusercontent.com/3295568/129357173-b19d2631-6f6e-477f-a840-8aaf68b4c275.png">

[2021-08-13 12:30] #10218 closed, assigned to nobody

[2021-08-13 13:30] mStirner opened #10219 "Export collection from cli/newman"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request

### Is your feature request related to a problem?

No

### Describe the solution you'd like

Use something like `postman --export-collection "example" ./example-collection.json` to export a collection

### Describe alternatives you've considered

Export from GUI is great, but if

[2021-08-13 13:50] jnsw commented on #6682
+1

[2021-08-13 14:42] chalangr12 commented on #7399
@tyrelcraig. This worked, thank you!!

[2021-08-13 18:15] AndrewLivingston commented on #7072
+1, but please don't only support https://github.com/jaydenseric/graphql-multipart-request-spec, as it's not part of the GraphQL spec and is both complicated and underspecified, I'm guessing because it's tied pretty closely to the https://github.com/jaydenseric/graphql-upload implementation.

I'm not saying _don't_ support it: I'm just saying also support constructing multipart-form uploads manual

[2021-08-13 19:11] nevadex commented on #10212
The issue still occurs, with Postman hanging and me having to restart. The issue occurs with any HTTP request method or URI, so to keep my service confidential I will not provide it unless necessary.

[2021-08-14 07:47] paihz commented on #9346
Which version is this? mine use 8.10 canary version and its show as intel. And yes it load quite slow.

[2021-08-14 11:21] mStirner opened #10220 "Add GitHub sign in method"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request

### Is your feature request related to a problem?

no

### Describe the solution you'd like

Add GitHub as sign-in method to a postman account.
Goggle is already there, should not be to hard to ad GitHub support.

![Screenshot 2021-08-14 at 13-19-55 Postman - Sign In](https://use

[2021-08-14 12:24] bugflux commented on #9346
I don't think all Canary versions have M1 support, only the one that was linked in a [previous comment](https://github.com/postmanlabs/postman-app-support/issues/9346#issuecomment-858367418):

![image](https://user-images.githubusercontent.com/583643/129446175-9f08c343-6c22-4e24-a1ea-bda7819e3c66.png)

[2021-08-14 14:38] samparmenter commented on #9346
@bugflux You are correct, I just "downgraded" to the above version and its back on apple silicon instead of intel via rosetta2. Thanks!

[2021-08-14 16:09] heli-os opened #10221 "When i requested to 'localhost' host, the Postman sends SYN to IPv6, and then connects to IPv4."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the Issue

When I send a requested to 'localhost' host, it attempts to connect without having a Request Header in IPv6 (probably SYN).

Why is it working like this? Isn't it common to send either IPv4 or IPv6 requests?

If [::1] is a host, it is normal (including request headers).
If 127.0.0.1 is a ho

[2021-08-15 04:38] orendi84 commented on #9346
Any roadmap for the non-canary apple silicon version?
The performance and the experience is day and night compared to the rosetta one.
Thanks!

[2021-08-15 06:18] mnitpro commented on #6354
Here you go the solution, see step 12
[https://forums.ivanti.com/s/article/Postman-responds-to-API-calls-with-Error-Unable-to-verify-the-first-certificate?language=en_US]

[2021-08-15 08:37] Pricilla09 opened #10222 "Switching between two different login/profiles shows error message "Something wrong in fetching data""
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the Issue

I use two different Postman accounts, one with my official email ID and another with my personal email ID. I used to switch between them and work. After the recent upgrade I noticed an error message displayed in the bottom right "Something wrong in fetching data", whenever I switch, from pe

[2021-08-16 04:28] postman-support commented on #10212
@nevadex Sure, we understand. If this happens with every other endpoint then providing the URL isn't required.

Can you try out on a generic request, say: https://api.spacexdata.com/v2/launches and see if you are able to **Cancel** or get the responses right without the application hanging?

* * *
If at all you continue to see the app hanging for this request as well, then please provide the logs

[2021-08-16 06:22] shashankawasthi88 commented on #8738
@adriancuadrado this should be solved with the latest version of the app. You should be able to scroll to any element within the proxy/ interceptor pannel.

[2021-08-16 06:22] #8738 closed, assigned to nobody

[2021-08-16 06:25] shashankawasthi88 commented on #8150
@fordevtls this should be solved in the latest version of the Postman App. Postman now shows a toast to indicate if the port is already in use.

[2021-08-16 06:25] #8150 closed, assigned to abhijitkane

[2021-08-16 06:31] shashankawasthi88 commented on #3793
The documentation is updated to clearly mention the steps required to enable proxy and interceptor. Closing this for now. Feel free to reopen if you see a gap in the documentation.

[2021-08-16 06:31] #3793 closed, assigned to vkaegis

[2021-08-16 07:18] ts14ic opened #10223 "Do not open each folder on click"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request

### Is your feature request related to a problem?

I have lots of nested requests (requests within folders within folders within folders within collections).
Starting from 8.0.0, the collections browser was redesigned, and every click on folder title opens the folder's settings i

[2021-08-16 07:35] Gunasekar006 commented on #2030
+1

[2021-08-16 08:00] jordanhenderson commented on #9566
This is a very, very annoying bug. Please fix.

[2021-08-16 10:03] postman-support commented on #10222
Hi @Pricilla09

Thank you for reaching out to Postman.

I understand that you are receiving an error message that says "something went wrong while fetching the data" while switching different accounts within the desktop app, Right?

Sorry for the trouble, happy to assist!

I tried replicating from my end and see that the same error message appears while switching different accounts within the desk

[2021-08-16 11:52] m3dbedb opened #10224 "8.12.4 does not start after update neither on win 7x32 nor on win10x64"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the Issue

Postman have updated automatically in july. In july 2021 I have previous version worked, but now I see only blank black box where usually was shown postman starting message.

### Steps To Reproduce

1.Install postman 8.10.0 for windows
2.start it
3.see error

### Screenshots or Videos

_No

[2021-08-16 14:07] RaphaelBaumann commented on #9750
I have the same issue on version 8.10.0.
requests not opening unless I "Open in tab" and no way to edit my environment variable.

In the console trying to open/edit the requests/an environment variable gives me this warning: "Could not find on editorStore. Missing or invalid parameter."

[2021-08-16 15:15] nevadex commented on #10212
Generic requests work fine. I only get issues when I send a request to a address that exists but has no service or the service is offline.

main.txt log:
`[22616][1628805805621][main][info]["Quitting app"]` (from last time I used postman)
`[10312][1629126329802][main][info]["Booting Postman 8.10.0, win32-10.0.19042 on x64"]
[10312][1629126329804][main][info]["EventBus~initialize - Success"]
[10312

[2021-08-16 16:26] enesccinar commented on #8195
+1
it is a must feature. please add this request to your road map.

[2021-08-16 17:59] ww185059 commented on #8195
+111. I always forgot to click ctrl+s

[2021-08-16 21:28] jpoehnelt commented on #7833
Same steps here 😞

[2021-08-16 22:05] martinskalicky commented on #8731
Hello, any update on this?

[2021-08-16 23:16] AnakinPt commented on #7978
+1 for me too. I have the exact same need

[2021-08-17 01:43] hillsydev commented on #5832
Hi, this problem is still happening in version 8.10.0.

JSON body content in C# code includes new line characters in the code snippet.  If I change the code snippet from C# - RestSharp to cURL, then the JSON content will be formatted correctly, without new line characters.  This also affects the Postman documentation examples.

![Screenshot 2021-08-17 113820](https://user-images.githubusercontent.

[2021-08-17 05:12] postman-support commented on #10224
Hi  @m3dbedb,

We have identified that such issues occur with specific GPUs and usually disabling GPU rendering for Postman fixes the problem.

Would you be able to try and follow the steps in this article here and see if disabling the GPU rendering fixes the problem?

Thanks! Please let me know how it goes.

via @ash007-postman | Postman Support

[2021-08-17 05:14] postman-support commented on #10212
@nevadex There should be a total of 6 files that should be zipped and sent to us. Let us check that part later, before that since the issue only occurs for offline or Internal API/Requests - I have a hunch that it could be related to the endpoint without any issues from the application. Few things to check further:

- Can you change the Network (to Mobile hotspot) and send requests - see if that h

[2021-08-17 06:47] adamijk opened #10225 "Getting Error: write ECONNABORTED on localhost request"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the Issue

I am getting "Could not send request" on my localhost request I have tried to change the proxy http and https, but still i'm getting same issue, I spent hours to resolve the issue.
Please help, thanks in advance
Error: write ECONNABORTED

![image](https://user-images.githubusercontent.com/2

[2021-08-17 08:02] postman-support commented on #10222
Hi @Pricilla09,

Thank you for reporting this bug , it seems that we need to escalate this to get it fixed. could you please write to us at help@getpostman.com along with the log file attached and mentioning the Github ID(10222).

Refer to the doc if you need additional help finding Postman's logs, please see this article.
Network logs and Browser console HAR logs

Please feel free to reach out to

[2021-08-17 10:39] Sti2nd commented on #10022
Examples of when Postman ruin work:

* When you are in a video call with one screen, and suddenly Postman takes over the entire screen
* When you are writing a command in terminal and suddenly you are executing random keyboard shortcuts in Postman

[2021-08-17 11:03] xk0der commented on #10225
@adamijk I would start debugging this from the server side. Check your server logs to find out why it is aborting the connection. Postman is just letting you know that the server aborted the connection you made.

Do other API calls to this server work fine? If it's this one single call failing, all the more reason to check things on the server side.

Also, check to see if generating the cURL comma

[2021-08-17 11:15] shashankawasthi88 commented on #7760
@andrewluetgers thanks for the reply, while we are trying to work out the exact solution to your use can, can you confirm if something like a [Postman Proxy/ Interceptor](https://learning.postman.com/docs/sending-requests/capturing-request-data/capturing-http-requests/) might help fulfill your use case? Both proxy and interceptor can help you capture the HTTP traffic into Postman. Let us know your

[2021-08-17 11:29] ART515 commented on #6682
+1

[2021-08-17 12:27] m3dbedb commented on #9803
The issue is actual for gpu problems. Postman 8.6.0 works for me and after automatic prohibited update it breaks and doen not start.

[2021-08-17 13:05] fatihozer90 commented on #2701
HTTP/2 support with prior-knowledge support would be very helpful. I couldn't find any tool with http2-prior-knowledge.

[2021-08-17 13:49] Raja-Simha commented on #10076
Hi @CarrieRaglan, thanks for your input here. We'll see if this can be picked up along with an initiative to enriching documentation with schema information.

[2021-08-17 13:51] shanertester opened #10226 "Renaming a parameter should trigger a rename everywhere"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request

### Is your feature request related to a problem?

When I rename a parameter it doesn't update the existing parameters.

(ReadyAPI has this ;))

### Describe the solution you'd like

When I rename a parameter the application should automatically go and rename the references for t

[2021-08-17 14:11] andrewluetgers commented on #7760
@shashankawasthi88 wow this is awesome, I'm excited to put these to use today!

[2021-08-17 14:28] mchallenger88 commented on #6354
I've done all of the above including adding a cert and still get the same error:

Warning: Unable to verify the first certificate

[2021-08-17 14:57] kris-runzer commented on #6102
I'd like to further advocate for this issue.  Currently we've onboarded 55 users into Postman.  We have plans to add hundreds more.  At this time, I would be hard pressed to say we continue onboarding with Postman due to this lack of control.

Not being able to "super admin" introduces a high degree of risk for our industry.  People will make mistakes.  We really need the abilities to swiftly dele

[2021-08-17 15:17] orubel commented on #6102
@kris-runzer Postman relies HEAVILY on #openapi and while I have advocated better security, the #openapi lead dev has stated they will not offer nor fix this issue : https://flic.kr/p/2keNR8v

Openapi will not allow for multiple roles per endpoint and thus only has one request/response dataset. As a result, if you have multiple roles, this data will be wrong 50% of the time or greater.

[2021-08-17 20:23] Tchuissi opened #10227 "New Integration Request - <UiPath>"
### Describe your current workflow

It's my first time using Postman

### Describe your ideal workflow

I would like to pull out data from UiPath to create automated dashboard with Power Query/BI

### Describe alternatives you've considered

_No response_

### Additional context

_No response_

[2021-08-18 03:13] madipietro commented on #7055
Best way to solve this `ps -ef | grep -i postman | awk {'print $2'} | xargs kill -9; postman`, tested on ArchLinux with 8.10.0.

[2021-08-18 06:31] m3dbedb commented on #10224
As you mention, I have no start 8.10 to open setting and disable hardware acceleration (HA).
I can't neither open postman 8.10 nor disable HA in intel intergated graphics, there is no such option. (I have intel HD graphics 2000, driver version 9.17.10.4229)

[2021-08-18 07:20] shashankawasthi88 commented on #10227
@Tchuissi thanks for raising the request. Can you expand on your use case a bit more? How do you see the Postman fitting into this workflow?

[2021-08-18 08:23] postman-support commented on #10224
Hi  @m3dbedb,

You will have to add an environment variable `POSTMAN_DISABLE_GPU=true`Please find below the steps to do the same:

### 1. Open advanced system settings
 ![](https://user-images.githubusercontent.com/5207331/40467461-aad4b7ec-5f47-11e8-9382-54383f4ca433.png)

### 2. In the `Advanced` tab click `Environment Variables`
 ![](https://user-images.githubusercontent.com/5207331/40467512-db

[2021-08-18 08:38] Rory-Sullivan commented on #10224
I had the same issue and turning off GPU acceleration worked for me, thank you.

P.S. I am running Postman on an AWS Windows Workspace

[2021-08-18 08:46] shyboylpf commented on #6682
+1 pls.

[2021-08-18 10:06] odonnell-anthony commented on #9845
Same issue for me, please fix this make use of the desktop application quite painful sometimes

[2021-08-18 10:29] postman-support commented on #10209
Hi @lolpez,

Just a friendly ping to know if you are able to use the Scratchpad successfully or if you are still facing issues?

Please feel free to submit a request at postman.com/support if you still need assistance. But do remember to mention the Github ID(10209).

Best regards,
Lincimary​ | Product Support Engineer

Status Page | Learning Center | YouTube | Twitch | Bugs + Feature Requests | C

[2021-08-18 10:49] JasonK369 opened #10228 "Postman pm API request parameter object"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request

### Is your feature request related to a problem?

It will be good if we can add "is the request parameter checked or not" in the `pm` API

Here is the example, I am calculating signature of an API by using pre-request script
I created several request parameters and unchecked som

[2021-08-18 11:22] venkib commented on #6782
Hi abhijitkane,
 I was trying to import  Mule RAML console directly in to postman via link , it is working but associated schema and example folders not importing . If example folder not import for the POST and PUT request we have to keep manually body. Can you suggest is there a way to do that entire `RAML + schema/example`(which contains mock payloads)

 Thanks,
Venkat.

[2021-08-18 12:27] karlisl commented on #10112
@giridharvc7 What's the ETA on getting an ETA? If you don't want to build the whole flow at least expose the stored values.

[2021-08-18 12:38] ThierryRassat opened #10229 "Api -> Generate Collection -> Request value not egual example Api parameter when example = 0"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the Issue

Hello Teams Postman,

Thank you for your fantastic tool!

I have this problem from Postman ( Windows 10 Application)

I create an API in which I put for example this parameter:

                    {
                        "name": "unlock",
                        "in": "query",

[2021-08-18 12:47] ThierryRassat commented on #10229
I choose "OpenApi 3.0"

[2021-08-18 13:27] lolpez commented on #10209
It is still not working, I am still on postman 8.10.0

[2021-08-18 13:39] postman-support commented on #10209
Hi @lolpez,

Sorry to hear that you are still running into issues.
As mentioned in my previous email could you please submit a request at postman.com/support along with the log files and the Github ID(10209)?

Awaiting for your feedback.

via @Lincimary | Postman Support

[2021-08-18 14:27] lolpez commented on #10209
done, hope it can help

[2021-08-18 16:08] gautam-ravi opened #10230 "Cannot use POSTMAN in my mac having high sierra"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the Issue

After I updated my POSTMAN from an old version to 8.10.x (which is the latest) am not able to use it. It crashes whenever I click on SEND

### Steps To Reproduce

1. Update POSTMAN from an old version (I think I was having 7.x
2. Restart postman, when postman opens, in your collections - se

[2021-08-18 17:37] rektide commented on #1321
Hello, any effort here? Someone came by & contributed code to help get you started. This is absolutely essential for using Postman in a wide variety of corporate environments. This ticket has been open a LONG time. Please help.

[2021-08-18 20:40] Jasmine-Ma commented on #9059
do we have any update on this issue @sankalp0o ? Thanks for helping!

[2021-08-18 20:48] Sebaroni opened #10231 "Body parameter descriptions"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request

### Is your feature request related to a problem?

Hello! I’m porting OAS3 specs to Postman collections, but I don’t see the tables with the request body parameter descriptions in the documentation section. I was hoping Postman would render those automatically.

Those tables are

[2021-08-19 02:50] postman-support commented on #10198
Hi there,

We're going ahead and closing the support request for now, but we're still here so feel free to respond back to this thread if you have any further queries :)

Best,
Swapnil | Postman, Inc.

Status Page | Learning Center | YouTube | Twitch | Bugs + Feature Requests | Community

* * *

Product Support Business Hours: `Monday, 3:30 AM UTC - Friday, 11:30 PM UTC`

[2021-08-19 03:10] Swapnil-getpostman opened #10232 "Incorrect Mock Server count shown over the App UI"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the Issue

I'm seeing an incorrect mock server count over the Workspace Overview page and when I navigate the mock server tab then there are no mock servers present.

Screenshot 1

<img width="1306" alt="mock1" src="https://user-images.githubusercontent.com/52168965/130001750-69609330-2efa-490d-b0b0-2

[2021-08-19 03:43] JerryChin commented on #6722
I'm using postman for API documentation purpose, the API schema changes rapidly, but there's no way to update the linked collection.

[2021-08-19 05:02] ArjunSingh-PM commented on #9385
Hi @arvind2022, thanks for reporting this issue.

This issue is now resolved. Please let us know if you face any further issues.

[2021-08-19 05:02] #9385 closed, assigned to ArjunSingh-PM

[2021-08-19 05:04] arvind2022 commented on #9385
Good morning

Thank you for your response.
Am I eligible for any bounty or rewards?
Please let me know, about the same.

Thanks & Regards

Arbind

On Thu, 19 Aug 2021, 10:32 Arjun Singh, ***@***.***> wrote:

[2021-08-19 05:21] JelenaRy commented on #10198
Hi,
but the new version with the fix is not yet released? How can this issue be closed?

[2021-08-19 05:32] postman-support commented on #10198
My apologies, I was not clearer earlier that, only the support request will be closed for now but the Github issue you've created still remains open, and you can share your feedback anytime. If you wish to keep the support request open as well then I'm happy to keep it. Feel free to respond back to this thread if you have any queries. :)

via @Swapnil-getpostman | Postman Support

[2021-08-19 05:41] JelenaRy commented on #10198
No worries, just eagerly waiting for the fix. Thank you! :)

[2021-08-19 06:15] max-abclabs commented on #6682
+1

[2021-08-19 07:57] carlosmonserrat commented on #8195
+1 I totally agree on this feature, at least to turn it on/off as much as the notification for unsaved requests

[2021-08-19 08:25] postman-support commented on #10230
Hi  @gautam-ravi,

Request you to please provide the logs as explained in this article: https://support.postman.com/hc/en-us/articles/360047765713-Where-can-I-find-logs-for-the-Postman-Application- by submitting a ticket to us: http://postman.com/support. We will check this further from there.

Additionally, you can try Postman web - https://go.postman.co/ to get yourself unblocked.

via @ash007-p

[2021-08-19 08:34] postman-support commented on #10209
Hi @lolpez,

Thank you so much!
We have received the logs. We will continue the conversation on the other ticket that you have raised.

Best regards,
Lincimary​ | Product Support Engineer

Status Page | Learning Center | YouTube | Twitch | Bugs + Feature Requests | Community

* * *

Product Support Business Hours: `Monday, 3:30 AM UTC - Friday, 11:30 PM UTC`

[2021-08-19 08:55] anapeksha commented on #9346
Any idea when we will have a stable Postman build for M1?

[2021-08-19 09:02] Trubador opened #10233 "Using a Proxy for selected requests instead of using a global proxy"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request

### Is your feature request related to a problem?

I have the need to use a proxy for some specific requests, but I don't want to use a Proxy globally in Postman for all requests.

### Describe the solution you'd like

A proxy tab on each request should be added and a proxy confi

[2021-08-19 09:13] Trubador opened #10234 "Sell Proxy services"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request

### Is your feature request related to a problem?

I would like Postman to offer proxy servers as a service to be rented because the existing solutions are too expensive for low volume traffic and the service is terrible. However, demand is high and growing each year for instance

[2021-08-19 09:39] jomel commented on #9689
@StrohmyerTR could you please elaborate?
 When I capture the response from pm.sendRequest() it does not include any Network information (eg Certificate details etc)

[2021-08-19 10:41] JelenaRy commented on #6926
Ž1

[2021-08-19 11:08] postman-support commented on #10222
Hi @Pricilla09,
Thank you for flagging this with us.

We have escalated this case to your engineering team, and the team is working on it. I will keep you posted on any updates on this.

Your patience is much appreciated!

Best regards,
Lincimary​ | Product Support Engineer

Status Page | Learning Center | YouTube | Twitch | Bugs + Feature Requests | Community

* * *

Product Support Business Hour

[2021-08-19 12:25] cdolan92 commented on #6722
@jerry Chin it seems to me that supporting a merge or other method with the Collection is not the standard use case for Postman. We tried making this work off and on for over a year, and are now moving away from postman to host our api docs because even though we generate OpenAPI compatible files, Postman performs some vendor lock in with a 1 way migration to Collections.

Once your schema (and pa

[2021-08-19 12:25] postman-support commented on #10212
@nevadex Just following up here. Let me know if the steps provided in my earlier response helped.

via @Raj-postman | Postman Support

[2021-08-19 13:05] JoaoPedroMDP opened #10235 "Postman crashes when RENDERING reponses bigger than 100 kb"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the Issue

I know that there are some issues about Postman crashing with large responses, but mine is not that large (saw that latest version supports even 500mb!), just 400kb.

While i was looking in htop trying to find the cause i found that the renderer proccess was steadly using 101% of one of my

[2021-08-19 13:33] lobbin commented on #9508
I'm having a similar issue with the documentation/syncWithSchema. The original collection is generated with "Folder organization" = tags and "Disable optional parameters" = true, however, when syncing new changes, these settings are lost for new changes.

[2021-08-19 13:42] carrrson opened #10236 "Postman API: include uid and name properties for mocks and monitors when querying workspace resources"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request

### Is your feature request related to a problem?

Currently, when using the Postman API request to get a single workspace, `https://api.getpostman.com/workspaces/{{workspace_id}}`, the response includes `uid` and `name` properties for collections and environments, but for mocks

[2021-08-19 15:00] thoffmann-fms opened #10237 "Support Folders/Groups in Environments"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request

### Is your feature request related to a problem?

No

### Describe the solution you'd like

I would like to be able to manage my environments by creating folders.  e.g. "Customer", "Development", "Test", "Internal", "External", etc...

### Describe alternatives you've considered

[2021-08-19 17:13] FelipeAlvesLima commented on #3706
+1

[2021-08-19 18:07] pinksynth commented on #9097
From the perspective of a brand new user, when you initially sign up, it really feels like you're supposed to click the button here to download the Desktop App. I didn't even know that the "agent" was a separate thing, and assumed that this was just the name of the app.

<img width="586" alt="image" src="https://user-images.githubusercontent.com/25071920/130120787-9ed642a8-c927-4b13-81c0-28f0a886d

[2021-08-20 01:11] prsyahmi commented on #8195
When building project(or do some processing) in most IDEs, they will autosave changed files before doing it. Please add it, thanks.

[2021-08-20 02:44] louis-hoang21 commented on #9346
How long will we have to use this Postman beta build for M1? You guys are too late to release the official version

[2021-08-20 08:33] Vadigor commented on #9488
This banner and the overall pushiness around accounts has me looking for alternatives.

Here's the deal: I am **never** going to upload my corporate interface tests to some random cloud provider. Who on earth in their right mind would? This data is about as critical as it gets and it has me worried the tool could be insecure even while I'm logged out and have disabled usage data.

Surely this is a

[2021-08-20 08:47] codenirvana commented on #10198
@JelenaRy we've pushed a fix for this in `v8.11.0`. Can you update your app and confirm if this fixes your issue?

[2021-08-20 08:48] codenirvana commented on #4711
@dco123 we've pushed a fix for this in `v8.11.0`. Can you update your app and confirm if this fixes your issue?

[2021-08-20 08:58] JelenaRy commented on #10198
Yes it is fixed, thank you!

[2021-08-20 09:09] postman-support commented on #10198
Thanks so much for the update.

We're going ahead and closing the support request next, but we are still here so feel free to respond back to us on this thread if you have any further queries. :)

via @Swapnil-getpostman | Postman Support

[2021-08-20 09:12] #10198 closed, assigned to codenirvana

[2021-08-20 10:36] gerhardvr-finclude commented on #10231
I 2nd this feature request. We go through great pains designing our APIs using OpenAPI YAML format and then generating the Postman collection and documentation off that. In the API spec our schema specifications contains descriptions but all that is shown in the Postman API document is the example request body.

We are using Postman specifically for its documentation capabilities and the fact that

[2021-08-20 10:44] #9354 closed, assigned to nobody

[2021-08-20 11:25] gerhardvr-finclude opened #10238 "If only a description in the API spec is changed, document validation throws away RAW JSON request body in the collection"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the Issue

When doing a document validation after updating only a description in the API spec (YAML), the fact that the description has changed is picked up by the validation. But when you accept the "change to this request", the RAW JSON body of the request is "thrown" away.

### Steps To Reproduce

[2021-08-20 13:00] GIT-Sachin commented on #9409
@giridharvc7 I am using postman desktop app version v8.11.0 but I still face the same issue. Would you please confirm if this issue is resolved in v8.11.0

[2021-08-20 13:24] VShingala commented on #10160
@pozil @DawMatt This issue is now fixed with the latest Postman App (8.11.0) and web versions. Feel free to reopen this if there are any further issues you are facing.

[2021-08-20 13:24] #10160 closed, assigned to abhijitkane

[2021-08-20 14:29] dmetzler1988 opened #10239 "Optimize API Sync workflow with GitHub"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request

### Is your feature request related to a problem?

Yes.

In detail:
I created a [sync job](https://learning.postman.com/docs/integrations/available-integrations/github/#syncing-your-api-schemas-on-github) with a GitHub Repository. All seems to work how it was described.

But ther

[2021-08-20 14:38] shanertester commented on #9461
Yes this should exist!

[2021-08-20 15:33] lozik4 opened #10240 "Add Cookie on Websocket connection"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request

### Is your feature request related to a problem?

In order to use websockets, I need authorization in my project, or substitute a cookie with a session in the request.

### Describe the solution you'd like

You need to give the ability to add a cookie to the connection or allow

[2021-08-20 16:34] abhijitkane commented on #5441
We now support WSDL as an API definition format. WSDL definitions can be authored, and collections/requests validated against them. Read more at https://blog.postman.com/postman-now-supports-wsdl/.

Closing this for now, feel free to open other issues for more specific feature requests :)

[2021-08-20 16:34] #5441 closed, assigned to nobody

[2021-08-20 16:49] Crossfire55555 commented on #8119
Hey all, What is the timeline on this feature. I find it very difficult to work with the tabs when I dont know what changes I have made. My team also has this problem and sometimes it leads to unintended changes making it into pull requests.

[2021-08-20 19:22] seanryankeegan commented on #10192
I am seeing a similar issue in a partner conversation. I can’t get the value for the `Key` parameter to show up as expected. I also can’t tell where it’s being assigned the `<key>` value from. I thought this may be an issue with the request inheriting auth from the collection level authorization, but this issue persisted when manually added the `x-api-key` to the header as well. Is this expected b

[2021-08-20 19:54] brenoca commented on #8689
@syedhasanabbaszaidi
you are missing a slash at the end of the URL, you must add '/' after '../addProfile'
`http://kwantu.support/api/addProfile/`
I always forget this as well :/ (very annoying)

![image](https://user-images.githubusercontent.com/72074654/130286667-0b7dd55d-8008-4a7e-af8c-a7626c263c29.png)

[2021-08-21 10:46] vkoivula commented on #9346
This is as agile as "Spotify agile" which everybody should be doing. Meaning it takes over one year since dev kits were available :)

[2021-08-21 13:34] vasani-arpit commented on #5816
have the same issue. I have a chrome book and arm64 is not supported. 🤷. from the downloads page I found out that there is a web version of the postman which is same as the latest desktop app. I have been using that. so far it works. for people who want to check the local requests, they might need to setup ngrock for that. It's a long way but it is what it is.

[2021-08-21 14:24] Aikain opened #10241 "Multiple Content-Type headers in request headers when generate collection from openapi definition causes problem with validation"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the Issue

When I created the collection from openapi definition, I noticed that two content-type headers were found in the request header information.

Requests work, but validation points to an issue. And if I make the recommended changes, the Content-Type headers are missing and body is 'none'. Ano

[2021-08-21 22:02] nevadex commented on #10212
Sorry about the holdup, got busy.

I could not try mobile hotspot because my computer does not support WiFi.
Creating an env var to disable GPU did not fix the problem either.
Disabling hardware acceleration unfortunately did not fix the problem as well.

[2021-08-22 07:11] michael-camilo commented on #8433
Can't we name and save the runners? I run requests isolated and also together but calling endpoints in different orders to test more than one feature in the same collection.

[2021-08-22 08:12] Polunpin commented on #9274
我遇到了同样的问题，使用`Postman Interceptor` 谷歌浏览器插件，捕获浏览器post请求，涉及到中文传参(body中)，在postman中会显示乱码。麻烦指导处理下

[2021-08-22 11:46] shirshendubhowmick opened #10242 "Possible parsing issue with Content type header"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the Issue

While using a content type header of `application/vnd.api+json; version=1`

The editor in the body shows an warning `The language selected is different from the language inferred from Content-Type header`.

Screenshot added.

### Steps To Reproduce

1. Create a request with proper request U

[2021-08-22 17:49] augustoicaro commented on #7596
+1

[2021-08-23 01:02] timbochamp commented on #4711
We had to pause the v8.11 release, but should have it ready soon. This should be addressed on Postman for Web in the meantime!

[2021-08-23 01:23] timbochamp commented on #10242
Hi @shirshendubhowmick , thanks for posting! I'm not able to reproduce this from the recording below with the steps you gave:
![json language no warning](https://user-images.githubusercontent.com/4521134/130377629-385ae79e-f720-449b-b22c-41e269c451f5.gif)

Could you share the full request curl or any other steps you're taking to see this warning?

[2021-08-23 01:33] boylec commented on #7221
I think you're on to something here but this didn't solve it for me unfortunately. My experience:

Request is a non proxied totally regular POST to an external server)
1. Timeout setting set to 0 in Postman. Request times out after 60 seconds consistently.
2. Set timeout setting to 10000 in Postman. Request now times out after 10 seconds consistently.
3. Set timeout setting back to 0 in Postman. R

[2021-08-23 03:19] aang13 commented on #9997
Hi @osharaki, did you able to make it work?

[2021-08-23 04:33] postman-support commented on #10235
Hi @JoaoPedroMDP,

Just checked this from my end and looks like I was able to get this right in the latest version of the application (Version 8.10.0).  Do check if you are in the latest version, if not try updating and see if that helps.

 ![](https://postman.zendesk.com/attachments/token/5YVVJR3cFJn3T0mJpk1oGxgZX/?name=inline323389876.png)

To let you know, the processor issues are already being

[2021-08-23 04:42] postman-support commented on #10212
@nevadex Sure, no issues.

Do you see the CPU usage maxed for the application by any chance? It would be great to have the application and net logs sent over to us by submitting a ticket here: https://www.postman.com/support - to help the team look into it further.

These details as below should provide additional insights required for the team:

via @Raj-postman | Postman Support

[2021-08-23 06:54] nekogal opened #10243 "Unable to launch Postman v8.10.0 after update"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the Issue

I'm unable to load Postman client on Windows Server 2016 Datacenter, after updating to v8.10.0. I'm stuck at a black loading window, and the app doesn't launch.

No problems on Windows 10.

### Steps To Reproduce

1. Update Postman app to v8.10.0
2. Click on Postman icon to launch

### Scre

[2021-08-23 09:18] shirshendubhowmick commented on #10242
Hi @timbochamp I checked the flow you shared above. The issue doesn't seem to be present in that.

However I have now narrowed down a bit more it only happens if the content type is coming from a variable.

So here is my CURL
[code]
Also note that the header values are coming from variables like shown below:
![image](https://user-images.githubusercontent.com/12836504/130422606-6b895391-ff14-4729-8

[2021-08-23 09:49] vikoff2 commented on #2030
+1
all links are opened in Firefox instead of the default browser (Chrome). Ubuntu 21.04, KDE Plasma Version: 5.21.4,  Postman 8.10.0

[2021-08-23 10:03] pozil commented on #10160
Awesome, thanks for the update.

[2021-08-23 10:39] arlemi commented on #7221
@boylec Is the server timing out, or is Postman timing out? In the first case you'll still get a response with an error, in the second one you should be getting this error:
![image](https://user-images.githubusercontent.com/5029719/130434075-9dab4055-32f9-41b9-b7ac-d8b627fc73cf.png)

@appurist Thank you for the details, we'll see if we can replicate it on our end. cc @saswatds

[2021-08-23 12:38] boylec commented on #7221
@arlemi Thanks for the response.

Turns out this is a case where I was using the wrong URL. (wrong subdomain to be precise)

Curious that this causes a "Request timed out" rather than a "DNS not found" or some such.

Either way though this turned out to not be an issue with the request timeout setting for me.

[2021-08-23 12:51] tinonetic commented on #4139
I'm experiencing this issue with POstman v8.11.0

[2021-08-23 13:02] Dauthjan opened #10244 "Support for RSQL"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request

### Is your feature request related to a problem?

I've a requirement where the service accepts Queries in RSQL. For example, the sample URL may look like

http://locahost:7980?platformCode=SomePlatform&q=productCode==123;productGroup=in=(ABC,XTZ);searchFromDateTimestamp>=2021-01

[2021-08-23 15:22] joelhoelting commented on #6719
@postman-support Can we please have an update on this?

[2021-08-23 15:57] timbochamp commented on #10242
Ah, good find! I'm able to reproduce this with the Content-Type header set as a variable. I'll log a bug to get addressed.

[2021-08-23 18:35] fahadanwar89 commented on #7990
It would be great if this feature is enabled.

[2021-08-23 20:48] 3omar-mostafa commented on #9782
If you are interested, I've created a node app to patch Postman to remove this banner
Manual patching method is also included in the Readme if you are intersted about the methodology

You can have a look [Postman-Scratchpad-Banner-Fix](https://github.com/3omar-mostafa/Postman-Scratchpad-Banner-Fix)
I hope this can help you

[2021-08-23 20:52] 3omar-mostafa commented on #9488
Hey there if you are interested, I've created a node app to patch Postman to remove this banner
Manual patching method is also included in the Readme if you are intersted about the methodology

You can have a look [Postman-Scratchpad-Banner-Fix](https://github.com/3omar-mostafa/Postman-Scratchpad-Banner-Fix)
I hope this can help you

[2021-08-24 02:19] postman-support commented on #10243
Hey @nekogal!

Thanks for getting in touch!

Recently we have started seeing such issues and looks like you'll need to make some changes to the GPU settings. Could you try launching the Postman desktop app with GPU settings disabled and see how it goes?

Disabling GPU rendering for Postman generally allows the app to run successfully. To do so, you'll need to add a Windows environment variable: `P

[2021-08-24 02:34] nekogal commented on #10243
The suggested fix works! Thanks!

[2021-08-24 02:34] #10243 closed, assigned to postman-staff

[2021-08-24 03:46] postman-support commented on #10243
Excellent! Glad to hear it worked!

Thanks again for reaching out! Have a great day!

via @taehoshino | Postman Support

[2021-08-24 05:19] shashankawasthi88 commented on #9300
@camellia thanks for raising this request. We are actively working on a new Integration that shall allow you to get notified on various scenarios such as being tagged in a comment, PR created, etc. We will update on the thread itself as and when we have an update on this.

[2021-08-24 07:00] Raj-postman opened #10245 "Enhancement request regarding accessibility and usability to clearly distinguish resolved variable colors."
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request

### Is your feature request related to a problem?

 At the moment, it's somewhat uneasy to differentiate resolved & unresolved variables in Dark mode.

Un-resolved:
![image](https://user-images.githubusercontent.com/47771757/130571311-7cb87cc1-bf68-4ec0-81fd-10b8477eaa6d.png)

Re

[2021-08-24 08:17] giridharvc7 commented on #10112
We expect to get this out by Q4, this year :)

[2021-08-24 08:39] RicardRomani opened #10246 "Console scroll bar is not working correctly."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the Issue

![Animation](https://user-images.githubusercontent.com/52193854/130584243-7965dd00-f56c-49ac-9c0f-6709e1f84165.gif)

When I try to scroll down or up in the console it doesn't works as expected. Other scroll bars work perfectly.

### Steps To Reproduce

1. I make a request
2. I open the cons

[2021-08-24 10:15] UmedJadhav commented on #10246
@RicardRomani , we have added a fix for this which should be released by today / tomorrow via v8.11 release
cc: @coditva

[2021-08-24 10:18] shipleyr commented on #9845
Yes same with me - more specifically it's around loading the environments. As soon as I change tabs to the environment select the app locks for about 20 seconds. Same on every switch of a workspace.

[2021-08-24 12:22] nikita-fuchs opened #10247 "Generated Axios code missing config parameter"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the Issue

Generated JS / Axios POST request code throws the following error:
`Error [ERR_FR_MAX_BODY_LENGTH_EXCEEDED]: Request body larger than maxBodyLength limit`

In my case, it's a `multipart request`, not sure if that makes a difference.

One option parameter is missing in the generated code to

[2021-08-24 12:35] ash007-postman opened #10248 ""Share environment" default options are in different sequence in web vs app"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the Issue

Share environment - default options are in changed sequence in web vs app which creates confusion for the users. These options should be unified across.

Application:
![image](https://user-images.githubusercontent.com/41741228/130616456-432c3592-7dc6-4160-911b-dc4f9868e4a6.png)

Web:
![imag

[2021-08-24 13:25] CodePint commented on #9279
+1

This still causes me daily annoyances on ubuntu 20.04 LTS
Any ideas or timelines for a fix? Is there any way I can help or contribute to a fix?

[2021-08-24 13:26] CodePint commented on #6849
+1

This still causes me daily annoyances on ubuntu 20.04 LTS
Any ideas or timelines for a fix? Is there any way I can help or contribute to a fix?

[2021-08-24 13:34] verheyenkoen commented on #6849
I switched to using [Insomnia](https://insomnia.rest/).

[2021-08-24 13:41] Cuneytt commented on #1180
Open since 2015, good job Postman

[2021-08-24 14:31] lflucasferreira opened #10249 "Duplicate global variables do not save or switch current values"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the Issue

Hi there,

I just found out a bug when trying to save my global variables (I do not know if it happens in the environment variables panel).

I recorded it in order to help you see what is going on.

There are two scenarios where I save the variable and it is deleted or switched between the

[2021-08-24 14:50] timbochamp commented on #10245
I think this is a duplicate of #10028 but feel free to reopen if not!

[2021-08-24 16:37] andrewchen5678 commented on #5713
is this solved yet?

[2021-08-24 16:39] RicardRomani commented on #10246
@UmedJadhav after updating to **v8.11.1** console is working fine now! Thank you team! 👍

[2021-08-24 18:54] #10246 closed, assigned to nobody

[2021-08-24 23:50] tpiecora commented on #4660
You should fix this.  If you do frequent imports/exports with a bunch of environments, this is pretty obnoxious.  I spend more time doing cleanup than actual work in postman.  Having to blow away some directory is not a real solution.  This is an old issue.  "There are no plans for this feature now or in the near future." - over 2 years ago.  Please put this on the roadmap. 🙏

[2021-08-25 03:47] B-Rinat commented on #10249
Hi,

I am having the exact same issue. Please help.

- Operating System: Windows 10
- Platform Type: Postman for Windows | win32 10.0.19043 / x64
- Postman Version: Version 8.11.1

[2021-08-25 04:43] chrisjaimon2012 commented on #6682
+1

[2021-08-25 05:09] urmi-patel1905 opened #10250 "Request is working with wrong Session ID"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the Issue

While testing JIRA REST APIs, I am creating a bug in the Jira platform and I have created a session-id for the same but with the wrong session-id, the request is working fine.

### Steps To Reproduce

Open new request.
given session-id in the header.
Hit the post request
Again change the se

[2021-08-25 05:26] xk0der commented on #10250
Hey @urmi-patel1905 👋  you should be able to use the Postman-Console to verify if the right header value was sent. If you are using the native app, the console can be accessed by navigating to the menu `View` > `Show Postman Console`
In both the native app and web-app, you can access the console by clicking on the "console" icon located at the bottom right.

_Console button_
![Screen Shot 2021-08-

[2021-08-25 05:49] urmi-patel1905 commented on #10250
It is giving wrong in the console also.

<img width="1440" alt="Screenshot 2021-08-25 at 11 13 52 AM" src="https://user-images.githubusercontent.com/81142658/130733529-6ec96247-f976-42c3-ab47-e9195c7efd57.png">

[2021-08-25 06:05] xk0der commented on #10250
@urmi-patel1905 try saving the request by clicking on the save button after making changes and then send the request. Check the console again and see if the updated values is shown.
![Screen Shot 2021-08-25 at 6 04 56 PM](https://user-images.githubusercontent.com/21366/130735218-0f0d6647-1a59-42ab-9523-e150d2a396a0.png)

In you initial report you have mentioned the Postman version as `8.1.0` can y

[2021-08-25 07:57] DawMatt opened #10251 "Postman won't allow generation of collections during or after import of some WSDLs"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the Issue

Importing the attached WSDL in the Postman desktop app will generate an API, but refuses to generate a collection based upon the API. This is regardless of whether requested at import or later via the Generate Collection feature on the Overview tab.

### Steps To Reproduce

1. download the

[2021-08-25 12:26] postman-support commented on #10235
@JoaoPedroMDP Just following up here. Let me know if the steps provided in my earlier response helped.

via @Raj-postman | Postman Support

[2021-08-25 12:55] postman-support commented on #10212
@nevadex Feel free to send over the logs by submitting a ticket here: https://www.postman.com/support and we will take a further look into it.

via @Raj-postman | Postman Support

[2021-08-25 13:24] frederikheld commented on #8049
How can I add this as a launch parameter to the snap so that `DISABLE_WAYLAND=1` is set when I run `postman` from the command line or open Postman from the app menu?

[2021-08-25 13:44] timbochamp commented on #10249
Thanks for reporting! We're investigating this and will provide updates when this is resolved

[2021-08-25 14:05] dco123 commented on #4711
@codenirvana @timbochamp confirmed it's fixed in 8,11. Thanks!

[2021-08-25 14:14] der-kommissar commented on #9862
I ran into this same issue.
_Postman for Windows
Version 8.11.1
win32 10.0.19042 / x64_

[2021-08-25 15:01] jaydlawrence commented on #6719
Our team is also looking at moving to [Insomnia](https://insomnia.rest/) for this feature. It has been more than 2 years since this ticket was opened.

[2021-08-25 16:37] #4711 closed, assigned to codenirvana

[2021-08-25 17:40] thecodepapaya opened #10252 "Postman client won't start - disableGPU setting is set to undefined"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the Issue

Postman desktop application does not open at all. It was working perfectly until yesterday when it suddenly stopped working. When clicking on the application icon from the application drawer, nothing opens up. Tried to open Postman via command line with command 'postman' but received a resp

[2021-08-26 02:20] thetreythomas opened #10253 "Many "Quality of Life" Improvements needed for TLS and Cipher Suites in Postman"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request

### Is your feature request related to a problem?

Nothing is more frustrating than encountering a blocking issue and getting very little information on how to troubleshoot it. Then add to that, the complexity of SSL/TLS, cipher suites, digital signature bit length, certificates,

[2021-08-26 10:09] RichardFourie opened #10254 "Remove the always-online requirement"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request

### Is your feature request related to a problem?

The always-online requirement is probably the biggest mistake made in v8. When my internet goes down or when it is unstable, this app becomes useless, and no, scratchpad is not a solution to this.

### Describe the solution you'd

[2021-08-26 13:15] nxandrzej opened #10255 "JSON data in "pretty" mode is displayed incorrectly if it contains Unicode character eg \u0022"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the Issue

Postman application incorrectly displays json data in "pretty" mode if it contains unicode character eg \u0022

{ "result" : [["2021-08-26T14:08:58", "an\\u0022antest", 1266, "antest", null, null, 4049, 1, null, null, "328661", "72734", 9, null, 4357, null, 0, null]] }

A character \u0022 i

[2021-08-26 15:33] raghav19 opened #10256 "Postman test script for json schema validation failing for some custom format types in json schema"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the Issue

Postman Schema validation using the following method is failing with validation error in tests. The schema is part of pre-request script which saves the schema object as a collection variable.

[code]
Similar way this also occurs for another type `uint8`. Is it like, jsonSchema validation i

[2021-08-26 22:09] ocmyhome opened #10257 "have the ability to run a single or multiple requests from the pre-request script section (not a webhook)"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request

### Is your feature request related to a problem?

no

### Describe the solution you'd like

for many teams in our organization, we have apis that we use, however, all of these apis need to have authorization.  we have already defined the various authorization requests (there are

[2021-08-27 03:51] #10175 closed, assigned to giridharvc7

[2021-08-27 12:05] premkumartg89 opened #10258 "Local variable are not displayed in the Code snippet after running the request"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the Issue

Code snippet is not showing the local variable which was used in body.

### Steps To Reproduce

1. Open new request.
2. Click on Pre-request Script
3. Declare pm.variable.set("code", "100")
4. Use the variable "code" in the body.
5. Run the request.
6. Open Code snippet.
7. Verify the "Code

[2021-08-28 03:26] calvojp92 commented on #7852
Issue's still present in Ubuntu **21.04**. Running `postman --version` outputs something like this
[code]

[2021-08-28 07:47] bhavikyjain opened #10259 "Postman does not load data"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the Issue

On starting postman, I receive a message "something went wrong in fetching data".

This is occuring in the latest version v8.11.1 as well as in 8.9.1(I tried to downgrade to see if it works)
This randomly started happening, no actions were performed, maybe Postman auto updated.

### Steps T

[2021-08-28 12:39] raghav19 commented on #10256
Updated the image

[2021-08-28 15:51] vdespa opened #10260 "Support alternative syntax for path variables"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request

### Is your feature request related to a problem?

Most API documentations represent path variables with a **column** followed by a name:

`/users/:userId/profile`

or by surrounding the name with **curly braces**:

`/users/{userId}/profile`

### Describe the solution you'd like

[2021-08-28 17:22] ro-rah commented on #9433
Hi @mbraidy ,

Would you give a link to the documentation referenced in your issue (also here in the [forum](https://community.postman.com/t/sorting-examples-in-the-published-documentation/19328/2)) please?  I was looking to make documentation fixes.

[2021-08-30 01:38] EggsBlue commented on #9346
We urgently need to use the m1 chip native version, and you should do it as soon as possible

[2021-08-30 02:51] ngohungphuc commented on #9346
@EggsBlue you are not their boss.

[2021-08-30 05:52] ihipop commented on #8308
any update on this issue?

[2021-08-30 07:47] EggsBlue commented on #9346
Yeah, Sorry...

[2021-08-30 08:11] vkoivula commented on #9346
You ever heard of TextMate? What happened when there started to be alternatives and it didn't get updated regularly?

[2021-08-30 08:42] parsasabbar opened #10261 "add auth handshake to web socket"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request

### Is your feature request related to a problem?

For authenticating socket connection please add auth handshake to web socket request.

### Describe the solution you'd like

add an auth option for sending Bearer token or any kind of authorization parameters
(as this feature is

[2021-08-30 08:44] dolanskurd commented on #7852
Same issue on **Ubuntu 21.04**. I have to use this command to open it:

DISABLE_WAYLAND=1 snap run postman

[2021-08-30 13:07] pandoras-toolbox commented on #6134
I wanted to use Insomnia because of this missing feature, but I turned back to Postman because overall you have a better UI. Otherwise I would have said Good Bye to Postman because of this missing essential feature.

[2021-08-30 13:10] denkasyanov commented on #7852
Not sure when this is fixed again, but if you want to fix launcher in Application here is what helped me

1.  Open `/var/lib/snapd/desktop/applications/postman_postman.desktop`
2.  Add `DISABLE_WAYLAND=1` to `Exec` like that:
[code]
Also not sure if this change will persist after update

[2021-08-30 13:29] luisabellan commented on #9021
+1 for request on this feature

[2021-08-30 13:38] vkazhdan commented on #8195
+++++ psz

[2021-08-30 14:18] winternet-studio commented on #7294
Postman just in general seems to be a heavy and sluggish program - not slick and responsive like most other program are - must be written in some language/framework that is not the best... (I choose to believe that it's not because of bad programming...)

[2021-08-30 16:27] ken4ward opened #10262 "Multiple language tabs for API documentation"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request

### Is your feature request related to a problem?

Yes.

### Describe the solution you'd like

I am to do a documentation and I found Postman to be a very useful tool in this regard. I know I can generate multiple languages in Postman, how do I add multiple language tabs on my do

[2021-08-30 17:18] EvilJordan commented on #7150
Two years later, I asked the same question and was pointed to this thread. Come on, guys!

[2021-08-30 20:00] oyeraghib commented on #4222
Saving it, solved the problem.

[2021-08-30 20:01] oyeraghib commented on #5039
I was having the similar issue till the time I saw that I was not saving it. Saving it solved the issue.

[2021-08-30 20:55] falnyr commented on #5817
@a85 bump

[2021-08-30 22:16] thetreythomas commented on #10260
From an end users POV, I cannot get behind the use of :variable when it comes to actual use. If there are multiple variables used, this is incredibly hard to scan and read. And it is much more prone to user error.

This may work fine in documentation, but I disagree about it's use in actual using variables in Postman.
This is just my .02 on the subject.

{variable} > :variable

[2021-08-31 03:35] forresthopkinsa commented on #7294
@winternet-studio That's kind of an oversimplification of a very nuanced subject. There are a *lot* of factors that go into an application's UI performance, and it's not something you'll diagnose without knowing anything about the code. This issue thread is about a very specific bug, not an architectural flaw.

"slick and responsive like most other programs are" is a pretty confusing statement in

[2021-08-31 05:04] postman-support commented on #10259
Hi @bhavikyjain

Thank you for reaching out to Postman.

I understand that you are receiving "something went wrong while fetching the data", error while launching the desktop app, Right?

Sorry for the trouble, happy to assist!

I tried replicating it from my end but itseems that the message doesn't appear everytime while launching the application.

Are you getting the error message while switchin

[2021-08-31 06:28] bhavikyjain commented on #10259
Hi,

I tried, however,the same issue occurs with Postman Canary as well.

One thing I forgot to mention, everything looks fine in the postman web app
for me.
The problems are just in the windows apps.

I have tried uninstalling/reinstalling  and tried clearing app data as
well. Still same issue

---
Regards,
*Bhavik Jain*
*Algonox Technologies*

Mobile: 8082669972

On Tue, Aug 31, 2021 at 10:34 AM

[2021-08-31 07:10] postman-support commented on #10259
Hi @bhavikyjain,

Sorry to hear that the issue still persists.

Could you please provide us the App's logs to help us debug the issue. If you need additional help finding Postman's logs, please see this article.

Please submit a request at postman.com/support along with the log files and the Github ID(10259).

Thank you!

via @Lincimary | Postman Support

[2021-08-31 07:30] postman-support commented on #10255
Hi @nxandrzej

Thanks for sharing your report.

Just want to update you that we are already tracking this issue internally and our team is working on it. Feel free to share any other updates that you may have over this thread.

via @Swapnil-getpostman | Postman Support

[2021-08-31 07:45] winternet-studio commented on #7294
@winternet-studio Of course a lot of factors play into performance but it all boils down to one's overall experience of it - and I was still right :) A somewhat heavy UI is behind.

PS. I stay as far away from SOAP as I can! 😆 And I don't have a ancient machine.

[2021-08-31 08:10] dolanskurd commented on #7852
Thank you, my friend. It works fine for me.

[2021-08-31 09:21] lobbin opened #10263 "API schema not updated"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the Issue

I'm adding a pipeline to update our API definition when it changes. I'm calling the update schema API, and yet, the definition is not updated when I look at the API from the web interface.

### Steps To Reproduce

[code]

Response:
[code]

### Screenshots or Videos

_No response_

### Envir

[2021-08-31 11:55] gravity-api commented on #882
Very easy to achieve with monkey patch on object (or whatever you want).

On collection level pre-script:

`Object.prototype.doSomething = (foo) => console.log(foo);`

On any other place:
[code]

[2021-08-31 11:57] gravity-api commented on #4193
Very easy to achieve with monkey patch on object (or whatever you want).

On collection level pre-script:

`Object.prototype.doSomething = (foo) => console.log(foo);`

On any other place:
[code]

[2021-08-31 12:20] postman-support commented on #10256
Hi @raghav19,

Would you be able to send us the schema via submitting a ticket here: https://www.postman.com/support
to investigate further?

Thanks!

Regards,
Asha Singh

Status Page | Learning Center | YouTube | Twitch | Bugs + Feature Requests | Community

* * *

Product Support Business Hours: `Monday, 3:30 AM UTC - Friday, 11:30 PM UTC`

[2021-08-31 12:27] sagarpise commented on #9390
![image](https://user-images.githubusercontent.com/10513971/131501601-73c78590-de4f-450d-b742-51070742d729.png)

In the ubuntu postman desktop version,  after attempting multiple times finally I am able to manage authenticated by **unchecking authorize using browser** and manually added callback url to **`https://oauth.pstmn.io/v1/callback`**.

[2021-08-31 12:27] cafenroy commented on #5194
+1

[2021-08-31 12:28] postman-support commented on #10216
Hi @RaquelSpain,

May I know if the issue still persists? If yes then kindly provide us more details via submitting a ticket here: https://www.postman.com/support

Thanks!
via @ash007-postman | Postman Support

[2021-08-31 12:29] postman-support commented on #10224
Hi @m3dbedb,

We haven’t heard back from you, I hope that you were able to get this sorted by following the provided steps.

Do let us know.

via @ash007-postman | Postman Support

[2021-08-31 12:36] postman-support commented on #10230
Hi @m3dbedb,

We haven’t heard back from you. If the issue still persists then I would request you to please provide the requested logs by submitting a ticket via: http://postman.com/support to further investigate the issue.

via @ash007-postman | Postman Support

[2021-08-31 12:41] MHM5000 opened #10264 "Auto-folder/auto-group requests"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request

### Is your feature request related to a problem?

too many requests in a folder. most of them duplicate endpoints with similar or different HTTP methods.

### Describe the solution you'd like

Auto grouping URLs with the same endpoint and different or same HTTP method.
this coul

[2021-08-31 12:48] james-blitzm commented on #5194
It would be nice to clarify here if we are talking about gRPC web (and not grpc). gRPC-web seems like the logical addition for the Postman suite.

[2021-08-31 13:12] ffffionn commented on #8950
This is definitely a workflow issue using Postman with OpenAPI. I still use it because Postman is great, but having to reset auth, tests and pre-request scripts every time is a pain, and that's without dealing with a new Mock API each time too.

[2021-08-31 14:02] cmonroeEIS commented on #7775
I am observing this same issue and from the status looks like there is no update.
@giridharvc7 would you like my exported collection for comparison?

[2021-08-31 14:14] ebookerd1 commented on #7790
I am having this issue as well. I forked my collection saved merged and then the variables disappeared after. (I saved of course) on Postman v8.11

[2021-08-31 15:21] atom888888 commented on #7294
When a developer chooses a framework, like "Electron" they should take responsibility for that choice.  If this framework is responsible for poor performance than that is clearly an architectural decision made by a developer.

As a Sr. Software engineer with over 26+ years experience, this seems to be a "cop out" / excuse to excuse the poor choice of some framework.  I have a "modern" laptop that

[2021-08-31 15:53] spacentime commented on #4690
I would love to have that feature too.

[2021-08-31 16:03] 0xtavi opened #10265 "Send Request keyboard shortcut does not work on Windows 10"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the Issue

Sending request hotkey does not work. Both CTRL + ENTER and CTRL + ALT + ENTER do not work in Postman.

The same combinations work in other applications or on OS.

### Steps To Reproduce

1. Open a request
2. Press CTRL + Enter
3. Nothing happens

### Screenshots or Videos

_No response_

#

[2021-08-31 16:35] MattA48 opened #10266 "Call stack size exceeded when generating collection from GraphQL schema"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the Issue

Maybe duplicate of #8536 (closed after no response - same error message which was thought to be fixed)

Hi,

I've been using Postman to quickly generate GraphQL calls to test once my schema has updated. Following my latest code change, Postman has started failing to generate the collection

[2021-08-31 16:35] MattA48 commented on #10266
[schema.txt](https://github.com/postmanlabs/postman-app-support/files/7085462/schema.txt)

schema attached

[2021-08-31 17:29] hayyaun commented on #8195
https://meet.google.com/cqe-qwug-ffa

Get Outlook for Android<https://aka.ms/AAb9ysg>
________________________________
From: Valeriy Kazhdan ***@***.***>
Sent: Monday, August 30, 2021 6:08:36 PM
To: postmanlabs/postman-app-support ***@***.***>
Cc: Hayyan Hami ***@***.***>; Comment ***@***.***>
Subject: Re: [postmanlabs/postman-app-support] Autosave request in collection after edit (#8195)

+++++ p

[2021-08-31 18:03] cmonroeEIS commented on #7775
@giridharvc7 FYI. I somehow fixed this with replacing a copy of the request folder inside the collection with a copy of that folder as well as I found one of my requests had a blank pre-request script with a new line in it. I put the old folder back in the collection and just corrected the "blank" pre-request script, but that alone did not solve the issue. Unfortunately, I doubt that will help any

[2021-09-01 05:34] DivyaMoryani commented on #1066
Hello,
Is there a way to delete Multiple Folders having tests under a single collection at once. Having a tough time having 1000+ tests within folders in a collection and have to delete them one by one.

[2021-09-01 08:39] Hemang-Dwivedi commented on #8612
Do we have a solution for this? I am running to the same issue:
Error: write EPROTO 2801304216:error:100000f7:SSL routines:OPENSSL_internal:WRONG_VERSION_NUMBER:../../third_party/boringssl/src/ssl/tls_record.cc:242:
If anyone has any idea why please inform

[2021-09-01 09:24] shahidkarimizyte commented on #5424
@abhijitkane how this is closed?

[2021-09-01 09:41] balmeida-nokia opened #10267 "Json request in pre-request script being sent as text/plain"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the Issue

When doing a JSON request as shown in the code below, the `Content-Type` is set to `text/plain` when the request is actually sent.
Code:
[code]

Here's from the console, how the request looks like (sensitive information has been censored)

![image](https://user-images.githubusercontent.com/

[2021-09-01 10:06] DawMatt commented on #10251
Excellent news! I'll keep an eye out for this and be sure to try it once available.

[2021-09-01 10:14] neilstudd commented on #10267
Hi @balmeida-nokia,

In your example, you have specified the content type within a section called **headers**. This is incorrect - the section should be named **header**. (`text/plain` is the default fallback when no valid type is detected.)

[2021-09-01 10:16] balmeida-nokia commented on #10267
Maybe this is the problem.
![image](https://user-images.githubusercontent.com/83089745/131654502-0e48b38d-7f24-4049-ae97-3d6535ab0be2.png)
Is it?

[2021-09-01 10:18] ylishevvia commented on #7325
If you have 30 requests in a collection you need to keep track of the ids in case you want to run all of them except one or two by using the setNextRequest. It would be better if you have a natural order (position in the list) and skip the current request. setNextRequest potentially could accept an integer number where 1 is the next request, 2 is the request after the next one, -1 is the last one,

[2021-09-01 10:50] massimoforni-turboden commented on #10067
Hello,

I have the same issue with SAP SuccessFactors WSDL: https://api12preview.sapsf.eu/sfapi/v1/soap?wsdl

[2021-09-01 11:57] arlemi commented on #8950
@ffffionn For OpenAPI specs you can import it as an API, generate the collection from it once and then keep on updating it instead of re-generating from scratch, check[ this video](https://www.youtube.com/watch?v=BUZiRtGRHj0) and[ the docs](https://learning.postman.com/docs/designing-and-developing-your-api/validating-elements-against-schema/#updating-api-elements) which might help.

[2021-09-01 12:07] abhijitkane commented on #5424
@shahidkarimizyte This was fixed in June 2019, and I'm still able to import the original curl command in the latest Postman app.

[2021-09-01 12:29] techpipehitter commented on #7294
Was totally bummed this morning to see my ZBook with 16 virtual CPUs and 128GB RAM pegged at 100% for both.  Postman had over 10GB RAM tied up in a single process, around 20GB across all processes.  This was an idle app with 2 tabs open and no history.

[2021-09-01 12:47] ffffionn commented on #8950
@arlemi   This looks like what I need, thanks!  The video helped with what I was missing from the workflow

[2021-09-01 13:42] winternet-studio commented on #7294
Yeah, definitely something wrong somewhere! This program is not rocket science!

[2021-09-01 13:51] thetreythomas commented on #8612
@Hemang-Dwivedi - With the particular error you are receiving, the majority of the time, the cause is going to be a server side issue.

The API you are trying to access, can it be accessed both via http and https? Does it work with http? You'll see comments above about "just change it to http". That's all well and good, unless you are actually needing it to work over https.

I've personally never

[2021-09-01 13:53] coditva commented on #10168
@bradthurber This has been fixed in the latest version of Postman. :tada:

[2021-09-01 13:53] #10168 closed, assigned to giridharvc7, neilstudd

[2021-09-01 14:17] Hemang-Dwivedi commented on #8612
I am pretty sure the problem is not with the code as i am able to access it
from the browser

On Wed, 1 Sept 2021 at 19:22, Trey ***@***.***> wrote:

[2021-09-01 14:21] Hemang-Dwivedi commented on #8612
I resolved the issue

On Wed, 1 Sept 2021 at 19:47, Hemang Dwivedi ***@***.***>
wrote:

[2021-09-01 14:24] thetreythomas commented on #8612
@Hemang-Dwivedi - What was your solution?

It might help someone who finds this page.

[2021-09-01 14:24] mattlogic commented on #6347
This issue still occurs on Windows app v8.12.0.

A more correct description of the behaviour would be:
Postman resets the non-maximized window size/position (to just less than full-screen) if closed while maximized, and opens in the non-maximized state (aka "restored") on the primary display.

I generally want Postman to open full-screen, or exactly where I placed it last time. I have two monitors

[2021-09-01 14:25] Hemang-Dwivedi commented on #8612
Switching from https to http worked, but it didn't before

On Wed, 1 Sep 2021, 19:54 Trey, ***@***.***> wrote:

[2021-09-01 14:52] Mostafayehya commented on #8195
How hard is it?

[2021-09-01 16:00] dan-j commented on #9877
@DannyDainton has there been any update on this issue?

[2021-09-01 16:01] zlatanm opened #10268 "Basic Auth | new password field is encoded into the Authorization header, but old value is sent to the server"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the Issue

Basic Auth Password is encoded into the Authorization header if we change the password after the initial successful API call, but the old password will be sent to the server.

### Steps To Reproduce

1. Go to 'Authorization'.
2. Click on 'Type' and select 'Basic Auth'.
3. Enter the correct

[2021-09-01 16:15] na9812 commented on #2906
Just to add, this also happens when creating a Collections object via Collections SDK. Notice the `_postman_id` field in json and in collections object - https://github.com/postmanlabs/postman-collection/issues/1220

[2021-09-01 17:07] jeffRTC commented on #8612
Hitting same issue. Damn it! Seems happening with new version..

[2021-09-01 18:07] NGStechworld opened #10269 "New Integration Request - Goodbarber & Lulu"
### Describe your current workflow

I am trying to integrate GoodBarber app builder with lulu

### Describe your ideal workflow

I have a store on Goodbarber and want orders received on the Goodbarber store to be stored and printed on Lulu

### Describe alternatives you've considered

_No response_

### Additional context

_No response_

[2021-09-01 21:10] AradAral commented on #6719
This is astonishing, really.

This issue has always been among the most upvoted issues in this repository, and still NO progress, NOTHING! Instead they're delivering features nobody cares about, while not doing anything about this one for more than 2 years now.

Shame...

[2021-09-01 23:45] zinsserzh commented on #9409
I suggest adding a new option `None (e.g. for PKCE)` under the `Client Authentication` dropdown. When PKCE flow is selected, this option will be used by default, and the `Client Secret` field is hidden.

[2021-09-02 03:10] cyberhck commented on #6719
@AradAral is so on point with this one, they have everything already, the graphql support is actually there, all  they gotta do is simply fetch the schema from the url instead of reading locally, yeah, it might be a little work deciding when you'll fetch the schema, but that should be max 2 days work, or maybe upto 1 week if you need to do design reviews + testing + release stuff, and all those co

[2021-09-02 05:33] Jaem-x opened #10270 "Response is not displayed / I can't see response in the history"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the Issue

When you execute a request and go to the history, neither the response nor the testCases are shown.

### Steps To Reproduce

1. Create testsCases
Status code is 200
Response time is less than 1200ms
Approved status
Schema is valid.
2. Send Request
3. Tap on History.
4. Select any.
5. In the

[2021-09-02 05:39] inkinworld commented on #8195
+1

[2021-09-02 06:43] postman-support commented on #10195
Hi  @xehpuk,

Thank you for your patience! This issue has been fixed with the latest release. Can you please update the app with the latest version and let us know if you need any further assistance.

via @ash007-postman | Postman Support

[2021-09-02 07:17] OmgImAlexis commented on #6719
@abhijitkane could we please get an official reason to why this issue is being ignored?

[2021-09-02 07:41] cyberhck commented on #6719
And I don't think we're looking for responses like: "we aren't ignoring, we're working on it", because it's been more than 2 years, and freaking wsdl got released and not this, so yes, it IS being ignored, we wanna see if anyone from postman knows why.

[2021-09-02 08:20] luhova opened #10271 "Cannot add version tag to collection"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the Issue

I have an API with multiple versions. Yesterday the latest one was 2.3.1. I have added this version tag (2.3.1) to one of the collection's changelogs and have published this version (2.3.1) of the documentation a couple of days ago. Yesterday, I made some changes to the documentation, I saw

[2021-09-02 08:34] thecodepapaya commented on #10252
Just updated to postman version `8.12.0` and the issue seems to be resolved. The application is working as expected.

[2021-09-02 08:55] Raj-postman commented on #10249
Just to add to the initial report,

- The current value of the Global variables isn't saved the first time.
- The value gets saved the second time.
- Issue is only present for current value and not initial value.
- Reproducible both on App and Web.
- It looks like a visual bug since the values get saved when we look through the quick view.

[2021-09-02 09:07] abhijitkane commented on #10271
@luhova Thanks for the detailed report. We're working on some updates around this flow, and should have a resolution soon.
Could you expand on the rest of your workflow, specifically, what it would have looked like if the 2.3.1 tag had been added to the collection?

[2021-09-02 09:09] luhova commented on #10271
My most up to date documentation would have the 2.3.1 version tag and this way I would have been able to successfully republish the documentation with the recent changes. Now I was forced to republish the documentation with the CURRENT version.

[2021-09-02 10:06] shashankawasthi88 commented on #10269
@NGStechworld can you expand on how you see Postman playing a role in this Integration? Postman Integrations are basically a way for users to extend their API workflows by means of exchanging data between Postman and some other product.

[2021-09-02 10:23] frozenice commented on #9911
I noticed the CPU load (also 9%) after keeping Postman open for a long period multiple times, too. But I never checked if it had to do with pending updates. Today I saw the CPU load again and went to check the Postman version in the app, et voilà there was an update pending.

[2021-09-02 10:26] frozenice commented on #9787
I just confirmed this in #9911 today (issues could be merged).

[2021-09-02 10:37] miyurusankalpa commented on #5206
In our testing environment, only the IPv6 address are whitelisted through VPN and this issue is making the app completely unusable.

[2021-09-02 11:01] aconcato opened #10272 "Postman_ExecutionStub.exe Digital Signature Missing (Postman-win64-8.12.0-full)"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the Issue

Postman_ExecutionStub.exe Digital Signature Missing

Applocker is blocking the app to run

### Steps To Reproduce

Run the application

### Screenshots or Videos

![image](https://user-images.githubusercontent.com/32514373/131832343-42c99f99-d5d8-4d5c-8e04-361ecbe7ae70.png)

### Environment

[2021-09-02 11:06] thetreythomas commented on #8612
@xk0der Any new details you can provide on what Postman is trying to do for all these issues?

@mccannt - You mentioned way back in Nov 2020

Hang tight.

Any new information or updates on this comment?

@jeffRTC - Which issue are you running into? If you look through this long thread, there are 6 different issues from what I found. And each one is likely to have it's own cause and solution.

[cod

[2021-09-02 11:12] Shujee commented on #7150
Stumbled upon this limitation today and was surprised just like everyone else. I'm a dev and need to work with many clients/teams in parallel. Having to create multiple Postman accounts shouldn't be required for this kind of stuff.

[2021-09-02 12:22] #9295 closed, assigned to ArjunSingh-PM

[2021-09-02 12:27] ArjunSingh-PM commented on #6235
For the enterprise plan, we support SCIM 2.0 and support integration with Okta.
Refer: https://learning.postman.com/docs/administration/managing-your-team/configuring-scim/

[2021-09-02 12:27] #6235 closed, assigned to preethammavin, ArjunSingh-PM

[2021-09-02 12:27] xk0der commented on #10265
Hey @0xtavi I was unable to reproduce this issue on a Windows 10 machine with Postman version 8.11.1 installed. Would you be able to share a recording/GIF of what you see at your end?

Also try updating to the latest version (v8.12.0 as of writing this) by downloading it from https://www.postman.com/downloads/ and see if you continue to face the issue.

[2021-09-02 12:36] awasall opened #10273 "Bug Report Report an issue with the Postman platform"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the Issue

When I delete a test that I have already written on postman and when I rerun I see that it still keeps the cache of the test that I have already deleted

### Steps To Reproduce

![postmanerror](https://user-images.githubusercontent.com/50166614/131843926-cf99cbdf-4ad5-4a08-bfe2-db284ce1cef3

[2021-09-02 12:57] CalamityLorenzo commented on #9488
Ignoring all the privacy concerns.
The banner constantly appearing is obnoxious.

[2021-09-02 13:52] kszafran commented on #8213
We had to remove most of the descriptions from our collection to lower the overall size, and now we get 500s only sometimes... It's still pretty disappointing.

[2021-09-02 14:05] giridharvc7 commented on #9409
@rusticdeity
Can you confirm if postman sends `client_secret = ""` ?

[2021-09-02 14:06] giridharvc7 commented on #7775
@cmonroeEIS
Is it possible to share your collection? If sharing it in a public place doesn't work out for you, you can write to our support -  https://getpostman.com/support
This will help us troubleshoot this better

[2021-09-02 14:37] abhijitkane commented on #10271
Got it - we're working on a slightly different way of handling this, and should have an update out soon.

[2021-09-02 15:08] VicKetchup opened #10274 "Open sandbox to allow all libraries using require"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request

### Is your feature request related to a problem?

When using Postman for Automation, it is very common that external NodeJS library would bring a lot of benefit and/or reduce amount of time and effort needed to achieve desired result. Without the access to the full NodeJS librar

[2021-09-02 16:43] zinsserzh commented on #9409
I am using v8.12.0 and I see postman sending `client_secret = ""`
<details>
  <summary>Screen Shots</summary>

![image](https://user-images.githubusercontent.com/6081431/131883415-f1782bf1-9f4c-493e-8f19-e40c638468e3.png)
![image](https://user-images.githubusercontent.com/6081431/131883610-81321b22-2175-4edb-8d80-77314af8ca30.png)
</details>

[2021-09-02 23:41] kcthota opened #10275 "Run a random test from Collection in a Monitor"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request

### Is your feature request related to a problem?

No

### Describe the solution you'd like

I have a collection with a set of tests. Each of these tests execute similar operations with different types of payloads and assertions.

I want to setup a monitor for these tests, but I

[2021-09-03 00:28] priestlg commented on #5052
This is a feature that I would like to see as well. Since Postman does this in a Request Body, it would be nice to be nice to do  the same in Postman documentation isn't in a request. I would expect it be as easy as the following:

 \`\`\` json
[code]
\`\`\`

[2021-09-03 05:27] xk0der commented on #10273
@awasall try saving the request by clicking the "Save" button and see if sending the request after that still shows you the deleted test.

_The save button is located on the top right, just above the send button for the request_
<img width="110" alt="Screen Shot 2021-09-03 at 5 24 48 PM" src="https://user-images.githubusercontent.com/21366/131954792-72d53acd-db71-443e-9ff5-da2a82096aff.png">

[2021-09-03 05:32] xk0der commented on #10270
@Jaem-x make sure you have "Save Response" set to "ON" position. Once switched-on requests in history should have the response saved.

![Screen Shot 2021-09-03 at 5 29 30 PM](https://user-images.githubusercontent.com/21366/131955155-cdf61405-8ea6-4f14-845a-81bb5854f735.png)

Let us know if responses aren't being saved despite this setting being on.

Reference: https://learning.postman.com/docs/get

[2021-09-03 05:41] xk0der commented on #10263
@lobbin do you get any errors when hitting the update-schema endpoint?

With just the partial snippet it's hard to tell what could be going wrong.
If you haven't already, include some logging statements in your script, to see if the call to the update-schema endpoint is failing and with what error.

I would also suggest you try the API endpoint via the [Postman app](https://www.postman.com/downloa

[2021-09-03 06:09] lobbin commented on #10263
@xk0der No, I don't get any errors, that's why I posted the reply.

[code]

However, I also tested this directly via Postman and there it actually works. I'm using the npm module axiom on our side, and it seems I made an error as now it works via my script as well.

But still, the API call tells me the API have been updated on your side when it hasn't, so something isn't fully error checked on you

[2021-09-03 07:46] postman-support commented on #10259
Hi @bhavikyjain,
Hope you are doing good!

I just wanted to follow up on this ticket to get the requested details on my previous message and check if you are still facing issues?

Let me know if there is anything else that I can assist with.

via @Lincimary | Postman Support

[2021-09-03 08:29] shashankawasthi88 commented on #10239
@dmetzler1988 thanks for sharing the detailed workflow. We are working on a new version of this Integration that shall help cater to your use cases though in a different way. Shall keep you in the loop for the same.

[2021-09-03 08:31] fanjiangqi commented on #7350
Issue still exists on v8.11.1,in win10

[2021-09-03 08:39] jcocca commented on #6643
Same issue after upgrading to v8.11

[2021-09-03 09:20] standors commented on #8985
I have also many env. variables and its difficult to find and edit some in the list, it's very time consuming.
Sorting variables is very useful.
I would like also filter function at least by variable name.

[2021-09-03 10:12] marcin-zajac commented on #6712
When I change json schema to SDL autocomplete works fine :)

[2021-09-03 10:31] martin-braun commented on #8560
Yep, I cannot stress enough. I use light theme on day and dark theme on night. All my apps respect my preference and change, automatically. All, except Postman.

I don't think this is a hard feature to implement. I would love to have this.

[2021-09-03 12:18] uzi0espil commented on #3694
I also ran into a situation where I want to re-run my examples. It would be great to support this issue.

[2021-09-03 12:19] boardtc opened #10276 "Basic Auth is not inherited for new request"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the Issue

A request in a collection reports "This request is using No Auth from collection" though the collection is set to Basic Auth

### Steps To Reproduce

1. Create a new collection my_collection
2. On the Authorization tab add **Basic Auth** with a given Username  and **no password**
3. Create

[2021-09-03 13:43] kszafran opened #10277 "Duplicate empty endpoints groups"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the Issue

We have a collection in a team workspace, which we update every now and then (using the PUT endpoint in the Postman API). People who use the Postman Desktop app have a problem, where old endpoint groups sometimes don't disappear, but become empty and stay:
<img width="269" alt="Screen Shot

[2021-09-03 15:14] 0xtavi commented on #10265
Hello,

I updated to 8.12.0 but the issue persists.

Something that might help, when I press CTRL + Enter in the body I get automatic complete suggestions.

![image](https://user-images.githubusercontent.com/41272467/132027907-c6076285-80ba-49fa-bb86-f24a0b4d88c3.png)

https://user-images.githubusercontent.com/41272467/132027923-172846fe-f957-4f79-9201-c169f386ebe5.mp4

[2021-09-03 18:24] Y-Less commented on #6999
Any update on this?  I disable automatic updates on principle alone.  I do not like the idea of someone else deciding when they can install software on my computer.  I just got an update today and thought I had forgotten to disable updates when I reinstalled a few weeks ago.  But no, you're just ignoring the setting to disable them, i.e. ignoring a setting I set on my computer to control what soft

[2021-09-03 18:41] Y-Less commented on #6999
In the meantime, I tried the work-around I've used for Chrome:

* Go to `C:\Users\<username>\AppData\Local\Postman\`.
* Delete `Update.exe`.
* Create a new empty file and call it `Update.exe`.
* Set the permissions so no-one can edit it (`Deny` everyone).

I tested this by reinstalling 8.10.0, but the program instantly crashes on startup.

Edit:  Found a way to do it (actually much simpler):

* Ju

[2021-09-03 18:50] ZooDoo4U commented on #6999
I found a great work around and many can easily take advantage of it.   As more and more of us are being consumed by the VS Code Editor Virus  (hahaha)  there is an extension for VS Code called "Thunder Client" that will do most of what i need from Postman.  Even better the developer of the extension when reported issues is very responsive and even better very friendly and receptive to user's desi

[2021-09-03 19:05] sciamano89 commented on #2366
Hi, I'm having an issue with the test collection generated by the API tool. My requests' bodies are declared with a `$ref` to a component that has its `content` set to `application/x-www-form-urlencoded`. The problem is that each endpoint in the generated Test collection does not default its body to the `application/x-www-form-urlencoded` type, so the `example`s I have created are not present. The

[2021-09-03 19:18] mlafleur commented on #7325
A simple `skipRequest()` would be fantastic. We have numerous tests that only run in certain environments. This results in a slew of individual tests being wrapped by `Pre_Test` and `Post_Test` (wrapped to avoid the fragility of `setNextRequest('name')`).

[2021-09-04 07:09] rusticdeity commented on #9409
@giridharvc7 there is no client_secret being sent in the request. I can only see _**grant_type**_ ,_**code**_, _**redirect_uri**_, _**code_verifier**_ and _**client_id**_ in the console for both successful and failed requests.

[2021-09-04 11:47] Abhirup-99 opened #10278 "Is a lite postman version possible?"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request

### Is your feature request related to a problem?

- Chrome(maybe Figma) + VS Code + Postman feels a deadly combination for my computers. It's great that Postman is adding features, but on the flip side, it keeps consuming more memory. It would be great to have a simplified versi

[2021-09-04 15:56] fedegomez78 commented on #9301
I noticed this still has the same behavior on v8.12.0
App Type: Desktop App
Postman Version: v8.12.0
OS: Windows 10

[2021-09-04 16:50] Srinivasn0103 commented on #5803
I had the same issue while calling authorization code with ID Token in postman while calling Okta API, I have resolved the issue by making changes in the postman environment url by removing -admin in the url and it has given the response.

[2021-09-04 23:07] sciamano89 commented on #8433
Yeah, I agree, and I can't believe this is not a feature already. Exporting and re-importing the collection runs don't behave the same at all, as they lose the entire customization: after importing them, clicking "Run Again" loses the custom order of the requests; also, it runs them all, completely ignoring the fact that I have disabled some requests. And clicking "New" just opens up the default s

[2021-09-05 08:42] ttrasn commented on #4715
For everyone who comes here, I had this issue and when I changed my VPN connection, it fixed

[2021-09-05 13:45] danielramireze commented on #7596
+1

[2021-09-05 18:25] caedmonm commented on #8433
I've reopened as I'm clearly not alone in wanting this, "Recent runs" helped a little but it's far from a perfect solution.

[2021-09-05 18:31] sciamano89 commented on #8433
That's the thing though, for me it's not working at all when re-importing the runs (basically the runner settings get completely reset the moment I import them). It only works if I use the "Recent runs" as you've mentioned. Curious, do they still work if you restart the application? My gut tells me that the app caches the runner settings, and they're not carried over to the json export, so I'm cur

[2021-09-05 22:29] iwex opened #10279 "Postman app is not saving session after login"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the Issue

Hello! Postman app is not saving session after login

### Steps To Reproduce

1) Open Postman
2) Click Sign In
3) Choose an account in the browser - Now we signed in Postman App
4) Close Postman
5) Open it once again - we are logged out.

### Screenshots or Videos

_No response_

### Enviro

[2021-09-06 04:28] postman-support commented on #10279
Hi there,

Thanks for sharing your feedback.

I tried to replicate it and I could save my account session after I login to the app. I'm on the latest version v8.12.0 of the app.
To store and keep your account session - are you ​checking the option "Keep me signed in" while you are logging into your postman app?

 ![](https://postman.zendesk.com/attachments/token/fAz26xmz7Pp5jBSXeRAU4RUnl/?name=sig

[2021-09-06 04:30] bhavikyjain commented on #10259
Hi,
The issue has suddenly resolved now, I still see the error, but data is
loading on my screen.

If you still need logs, let me know which files exactly, else I can close
this issue.(Even though error message still appears)

---
Regards,
*Bhavik Jain*
*Algonox Technologies*

Mobile: 8082669972

On Fri, Sep 3, 2021 at 1:17 PM Postman Support ***@***.***>
wrote:

[2021-09-06 05:12] postman-support commented on #10259
Hi @bhavikyjain,

As mentioned in the previous comment, could you please log a ticket with us along with the App's logs and GitHub issue ID so that it will help us to debug the issue further.

via @Lincimary | Postman Support

[2021-09-06 05:46] mattfysh commented on #7610
Is there anything like this for test scripts, e.g. I have an API that returns HREFs but the subsequent request needs to be a POST (not a GET), and I'm having a hard time finding a way to make the href clickable in postman (and open the next request in a new tab)

[2021-09-06 06:51] bhavikyjain commented on #10259
Done.
Issue ID:  83748

---
Regards,
*Bhavik Jain*
*Algonox Technologies*

Mobile: 8082669972

On Mon, Sep 6, 2021 at 10:42 AM Postman Support ***@***.***>
wrote:

[2021-09-06 07:11] postman-support commented on #10259
Hi @bhavikyjain,

Thank you!
I received the logs files, we will continue our conversation in the ticket that you have submitted.

via @Lincimary | Postman Support

[2021-09-06 07:22] illambo commented on #6719
:snake: ... at this point I think of an agreement between the parties (Postman - [Postman inc](https://www.crunchbase.com/organization/postman) / Insomnia - [Kong inc](https://www.crunchbase.com/organization/konghq)) to divide the market?

[2021-09-06 07:44] mnabe commented on #9993
If you use the Desktop application, try to log out of Postman in the browser (so that you are only logged in on the Desktop application). This seemed to solve it for me.
Still inconvenient though.

[2021-09-06 08:42] postman-support commented on #10259
Hi @bhavikyjain,

As of now, I'm going ahead and closing this conversation, but I’m still here so feel free to give me a shout if you have any further queries :)

Thank you for sharing your feedback.

Best regards,
Lincimary​ | Product Support Engineer

Status Page | Learning Center | YouTube | Twitch | Bugs + Feature Requests | Community

* * *

Product Support Business Hours: `Monday, 3:30 AM UT

[2021-09-06 09:10] malvikach commented on #10248
Hi @ash007-postman please check the version of the app as well . I wasn't able to replicate it on the latest version (v8.12).

[2021-09-06 09:14] Rakadetyo commented on #9614
+1
this feature makes it looks way too cluttered. examples are not necessary to be showed like that in my opinion. I was hoping it would be fixed in recent 8.11.1 but I guess not

[2021-09-06 09:41] HenrikHolmIT commented on #9614
We're at a point where this is becoming very ridicules. Seems like most users that use examples hates this feature. And it seems like such an easy fix to not expand the request node when you click on the name but only on the > symbol but nothing is happening.

Easy 2 minutes fix but still nothing (I'm a developer so YES this would take 2 minutes to fix). Im still on v7 and having to click the v8 U

[2021-09-06 10:56] awasall commented on #10273
@xk0der i did it and i did it again but i still have the same problem

[2021-09-06 11:40] postman-support commented on #10273
Hi @awasall

I tried to replicate and it worked as expected for me. After making the changes in my test scripts tab I saved my request and clicked on the sync button so that my latest changes get saved & synced.

Would it be possible to share the screen record of the behavior that you are observing? I find loom to be very useful for screen recording. Please make sure to redact the sensitive inform

[2021-09-06 11:50] awasall commented on #10273
as if I had written two tests while the first one I already deleted I even tried to delete the caches on postman but and I tested what you told me but it does not work
![capturePostman](https://user-images.githubusercontent.com/50166614/132213151-aa203c9d-f2d7-4d8e-814a-783daef6fe39.PNG)

[2021-09-06 12:21] Swapnil-getpostman commented on #10273
Hi @awasall

I'm sharing the screen record while I replicated it, please have a look and let me know if you have any other queries.

https://user-images.githubusercontent.com/52168965/132216241-f8277fd9-4050-4c81-8ae9-ade314bd47a7.mp4

If this is something you are not referring to, then could you please share with us the screen record of the behavior you are observing? I find loom - https://www.lo

[2021-09-06 12:37] sundipnair opened #10280 "New Integration Request - Azure DevOps"
### Describe your current workflow

I would like the ability to backup my APIs, collections and other artefacts to ADO repos.

### Describe your ideal workflow

Ideally I can have gates to merge my changes to ADP repo. Also ability to work on feature using a feature branch. This then gets tested and promoted to master.

### Describe alternatives you've considered

SwaggerHub has got this integrati

[2021-09-06 12:42] awasall commented on #10273
we don't have the same problem but I'll show you the video capture that I made if you look closely in the Test part I wrote a single laba test and I named it "Status code is 404" but when you click on run I see in the Test result part at the bottom left it still keeps the same test that I had already deleted, that's my problem

https://user-images.githubusercontent.com/50166614/132219199-e52ebdf6-

[2021-09-06 13:34] ash007-postman commented on #10248
Hi @malvikach, yes I can no longer see this issue with the latest version. Thanks 🙌

[2021-09-06 13:34] #10248 closed, assigned to nobody

[2021-09-06 17:17] undevable commented on #3694
2021 and nothing so far. It's annoying copying the request over and over again. What I did is that I just created a new collection called, "Example Requests", where I keep these example requests, but this is very inconvienent.

[2021-09-06 18:32] malvikach commented on #10248
@ash007-postman would it be possible to check what version you were using earlier? we might still need to check if its a bug

[2021-09-07 06:29] JVDOG commented on #6205
I tried ipconfig / flushdns and helped me

[2021-09-07 09:32] NiklasBr opened #10281 "Pretty display of XML ocassionaly does not work"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the Issue

Using the *Pretty* tab on the rsponse pane will sometimes fail to render valid XML.

### Steps To Reproduce

1. Send a request
2. View it

### Screenshots or Videos

![image](https://user-images.githubusercontent.com/279826/132321367-b1f3569d-a741-4aa9-9884-9ee315983e1d.png)

### Environmen

[2021-09-07 09:38] postman-support commented on #10195
Hi @xehpuk,

I'll be closing this from our end as we haven't heard back. If the issue persists, please reach out to us by submitting a ticket here: https://www.postman.com/support.

Have a nice day.

via @ash007-postman | Postman Support

[2021-09-07 09:39] #10195 closed, assigned to postman-staff

[2021-09-07 09:41] postman-support commented on #10216
Hi @RaquelSpain,

I'll be closing this from our end as we haven't heard back. If the issue persists then please reach out to us by submitting a ticket here: https://www.postman.com/support ​so that we can investigate further.

Have a nice day.

via @ash007-postman | Postman Support

[2021-09-07 09:41] #10216 closed, assigned to postman-staff

[2021-09-07 09:43] #10224 closed, assigned to postman-staff

[2021-09-07 09:46] #10230 closed, assigned to postman-staff

[2021-09-07 09:46] postman-support commented on #10224
Hi @m3dbedb,

I'll be closing this conversation from our end as we haven't heard back. If the issue persists, please reach out to us by submitting a ticket here: https://www.postman.com/support ​so that we can investigate further.

Have a nice day.

via @ash007-postman | Postman Support

[2021-09-07 09:47] postman-support commented on #10230
Hi @m3dbedb,

I'll be closing this conversation from our end as we haven't heard back. If the issue persists, please reach out to us by submitting a ticket here: https://www.postman.com/support ​so that we can investigate further.

Have a nice day.
via @ash007-postman | Postman Support

[2021-09-07 09:57] postman-support commented on #10256
Hi @raghav19,

We haven’t heard back from you, would you be able to send us the schema via submitting a ticket here: https://www.postman.com/support so that we can investigate further.

via @ash007-postman | Postman Support

[2021-09-07 10:29] mnsharma opened #10282 "Unable to drag and drop one folder to the another folder"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the Issue

I am working in my private workspace and trying to drag and drop the one collection of folder to the another folder but it's not working.

### Steps To Reproduce

1. Create a collection of folder A
2. Now create a new folder B
3. Drag and drop the folder A into the folder B
4. It will not w

[2021-09-07 10:51] xk0der commented on #10282
@mnsharma from the video, looks like you were trying to drag one collection into another? That would not work. You should be able to drag individual folders and requests from inside one Collection to another.

Do clarify if the video didn't capture what your were trying to do.

[2021-09-07 11:43] xk0der commented on #10258
@premkumartg89 I was unable to replicate the issue on MacOS, with Native app version 8.12.1

<img width="1000" alt="Screen Shot 2021-09-07 at 11 42 12 PM" src="https://user-images.githubusercontent.com/21366/132338890-3255df9d-094c-45ac-80bf-08944bcc9658.png">

<img width="579" alt="Screen Shot 2021-09-07 at 11 42 50 PM" src="https://user-images.githubusercontent.com/21366/132338962-85322d1c-02b4-

[2021-09-07 12:11] postman-support commented on #10266
Hi @MattA48

Thank you for reaching out to Postman.

Thank you for providing the schema specification, I tried importing the schema and testing this from our end, and itseems that I see the same error message.

I will go ahead and circulate this with my team and will get back to you with any updates on this.

Thank you for flagging this, we greatly appreciate it.
Meanwhile please let me know if I

[2021-09-07 13:39] darrencapner opened #10283 "Cannot add existing collection to API Designer as Contract Test"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the Issue

I am unable to add an existing collection to an existing API in the designer. The collection was added previously in the API designer. When I removed it, I am not able to add it again.

### Steps To Reproduce

API Designer is version 1.4.2. There is no collection currently attached to the c

[2021-09-07 14:02] postman-support commented on #10281
Hey @NiklasBr

Thanks for reaching out and flagging this. Happy to help.
I was able to replicate this on my end as well.

I am escalating this to our Engineering team and will get back to you once I have any information or updates on this.
Please let me know if you have any queries in the meantime.

via @VaishnaviChallaPostman | Postman Support

[2021-09-07 16:03] postman-support commented on #10277
Hi @kszafran,

We checked this from our end and it looks like the primary cause of this is due to the number of requests involved and sync. Here is the screen-record for reference on how we replicated and as you see from recording inching 2 min, we exactly see the error you've mentioned.

So first we tried creating a new request "GetPoint" on the first folder "00" - the folder including all, does

[2021-09-07 16:17] kszafran commented on #10277
Thank you for looking into this. In our case it's not related to sync, at least not directly. The status is "In Sync" and the empty groups are still there. Also, If I export the collection from Postman Web (where I don't see the duplication), the exported JSON also contains those empty groups (as described in the original post), so it seems to be a problem with Postman API, not just the desktop ap

[2021-09-07 16:58] 5thdimensional commented on #10283
Based on your description, what I believe is happening is that the collections in the workspace are already associated with a previous version of the API. There is a 1:1 mapping between a collection and an API version that is being enforced, which could explain why you aren't seeing any collections in the drop down when trying to add them to a new API version.

We'll be introducing some functional

[2021-09-07 17:53] sanjay1999 commented on #6926
+1, would really love to have this feature!!!

[2021-09-07 19:51] mhartzell-incomm commented on #8747
How in the WORLD has this not been addressed in over a year?  What Postman replacement is out there with which I can invoke a basic GET request?

[2021-09-07 19:57] aoborevich commented on #2801
+1

[2021-09-07 21:55] iwex commented on #10279
@postman-support Yes, I checked that option, but it remembers me in browser and not in Postman app.

[2021-09-07 22:06] xk0der commented on #10279
@iwex I see you are on an Arch Flavour Linux Distro. Did you download the app directly from here: https://www.postman.com/downloads/ or installed it via snap? (Or any other channel?)

[2021-09-07 22:11] #10279 closed, assigned to postman-staff

[2021-09-08 02:59] cyopen1987 commented on #8747
@mhartzell-incomm  as a chinese develper , I use postwoman instead, you can try , https://chrome.google.com/webstore/detail/postwoman-http%E6%8E%A5%E5%8F%A3%E8%B0%83%E8%AF%95%E6%8F%92%E4%BB%B6/ieoejemkppmjcdfbnfphhpbfmallhfnc
 it 's a chrome plugin

[2021-09-08 03:46] twocs commented on #10254
This is such an important request. We should test an API in all network conditions, particularly corporate infrastructure, not only those where public routes to Postman are open.

[2021-09-08 06:09] postman-support commented on #10277
@kszafran True I understand that. The issue with updating using Postman API is currently being tracked internally as well, the team should post an update in the GitHub thread once we have any improvements on the same.

For the empty sub-folder generations - Sure, you may share the collection with us by submitting a ticket to us via https://www.postman.com/support.

Two things in addition to that w

[2021-09-08 06:24] wiczit commented on #8929
+1

[2021-09-08 06:43] giridharvc7 commented on #9409
@zinsserzh Can you try this in the Web app? It should work fine there. We will see why this happens on the Desktop app and fix it.

[2021-09-08 07:13] t7yang commented on #9598
Yes, This is terrible. Why assume user always place taskbar on bottom.
I don't think they going to fix this, because you can not move taskbar on Windows 11 anymore 😑

[2021-09-08 07:25] cghughes commented on #6681
+1 being able to share documentation with a restricted audience is a big requirement

[2021-09-08 07:54] malvikach commented on #10202
@CodingSpiderFox thanks for your suggestion. We will look at this and let you know. Feel free to add any more information at any point of time.

[2021-09-08 07:59] malvikach commented on #10260
@vdespa @thetreythomas thanks for your suggestions, we will have a look at this and let you know. Feel free to share any additional info on this at any point.

[2021-09-08 08:27] malvikach commented on #10200
@ondrix thanks for raising the issue. We are looking at this bug, in the meanwhile I would suggest that you could try to create a duplicate collection using the existing collection upon updating your token value(make sure you have synced your token using the refresh button and saved your collection using save button) and please try to export that collection post that. This worked for me.
Let us kn

[2021-09-08 08:49] eyalgrossdev commented on #10271
@abhijitkane  What changed and why? And why were users not notified of the change? It never used to be like this and now we can't tag documentation with the appropriate version!

[2021-09-08 08:58] malvikach commented on #10200
@ondrix this is happening because the OAuth2.0 token hasn't been synced using the sync button. Please try to sync your token and save collection and then export the collection. See attached screenshot to identify the sync button. Let us know if you still face the issue.

![image](https://user-images.githubusercontent.com/89449769/132479307-25c69c15-5260-4773-96e7-01b9199ae705.png)

[2021-09-08 09:44] henghengyang commented on #675
+1 really usefull feature

[2021-09-08 10:09] winternet-studio commented on #7294
Really getting tired of this heavy non-performant Electron framework...! Now just opening a request in another tab takes several minutes!! I'm gonna start looking for alternatives...!

[2021-09-08 10:13] kwolfy commented on #10231
This is really missing in postman. When are you planning to implement?
Our company has signed up for your paid plan, but unfortunately, due to the lack of a normal description of the body in documentation, we are forced to use other solutions like "redoc" for documentation

[2021-09-08 12:33] elburro1887 commented on #3312
I also can't get it to work. I have whitelisted the domain  the cookiejar outputs the cookies of the domain correctly, but i cannot delete them.

[2021-09-08 12:57] arpitbatra123 commented on #6447
Closing as templates can no longer be published.

[2021-09-08 12:57] #6447 closed, assigned to sankalp0o, Raja-Simha

[2021-09-08 13:16] Mon-Blaza commented on #10271
Any updates on this one? This issue is greatly impacting our API documentation releases. Thanks.

[2021-09-08 15:19] nstekelenburg opened #10284 "Error: tunneling socket could not be established"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the Issue

After version 8.11 is updated into 8.12 we get this error.
By re-installing 8.11 the  api calls are normally processed by our proxy.
Postman automatically updates to 8.12, so we need to reinstall version 8.11 daily

### Steps To Reproduce

Call any API using our proxy

### Screenshots or Vi

[2021-09-08 16:43] dcal commented on #10017
I second this. I'd like to be able to link to other parts of the documentation from inside the documentation itself, as well as send clients to specific parts of the documentation. Currently, as far as I can tell, you have to manually click through the navigation to load specific documentation segments.

[2021-09-08 17:27] RussyCG commented on #8455
For those still suffering. I had the same issue as I had comments next to my post data variables. Worked fine going to the postman echo but was not happy when I tried to go to my local app.

[2021-09-08 18:58] philipc-dat commented on #6682
+1

[2021-09-08 19:17] kszafran commented on #10277
I have shared our collections in support ticket #83984. I have also included a full collection that causes the frequent 500s reported in https://github.com/postmanlabs/postman-app-support/issues/8213.

[2021-09-08 19:34] trip-dat commented on #6682
+1

[2021-09-08 20:40] leson238 commented on #7046
Hi, I get the same issue - now it's freeze on zipping forever.

[2021-09-08 22:58] jjercx commented on #4423
Yes, can this be reopened?

[2021-09-09 02:17] moongq commented on #1490
In mycase, I send request with out "https://" so the nginx redirect and lose "post"
I appended "https://" to url and work fine now.

[2021-09-09 02:54] thedocbwarren commented on #9346
Web version works in any M1 native browser.  So does electron.  Sorry to say it screams of, "Meh.  Will get to it someday if I feel like it."

[2021-09-09 03:15] postman-support commented on #10277
@kszafran Thank you for sharing the required details. We will process this request next via ticket.

via @Raj-postman | Postman Support

[2021-09-09 06:44] abhijitkane commented on #10271
@Mon-Blaza @eyalgrossdev @luhova This should be possible now.

[2021-09-09 07:06] #8541 closed, assigned to nobody

[2021-09-09 07:19] eyalgrossdev commented on #10271
@abhijitkane yes it does. Care to explain what happened? This is a pretty fundamental feature that disappeared / changed / broke overnight and caused quite a headache.

[2021-09-09 07:28] shashankawasthi88 commented on #7760
@andrewluetgers were you able to use Interceptor/ Proxy to solve some of your use cases? We are still looking into a more cohesive solution to address your complete use case end to end, where we could fetch the API data/ logs from your environment and pipe that into Postman (in the API object).

[2021-09-09 07:32] postman-support commented on #10222
Hi @Pricilla09,

Sorry that it is taking a longer time than expected.

Our Engineering team is working towards the fix and it will be merged into production as soon as possible, we will keep you posted once I have any updates on this.

We appreciate your patience. Thank you so much!

via @Lincimary | Postman Support

[2021-09-09 07:45] abhijitkane commented on #10271
@eyalgrossdev We're in the process of making updates to this flow which should start rolling out soon. This was a side-effect of the change that unintentionally leaked out. Apologies for the disruption in the workflow.

The next update should provide a more streamlined way of locking documentation to fixed states of collections.

[2021-09-09 08:03] DavidGarciaCat commented on #9346
Hey @thedocbwarren

Please allow me to intervene here: the problem with the "web version" is precisely that it is a "web version", which means it's hosted online. It means it is impossible to target local network nodes for development and testing or even some hosts that run behind a VPN.

**I don't remember having any problem** with the M1 Canary version of Postman; I must also say **I don't use i

[2021-09-09 10:09] Mazyod commented on #8349
I would also like to add subnet masks are not being bypassed, such as `10.1/16`.
My system is macOS Catalina, Postman 8.11.1.

[2021-09-09 10:17] postman-support commented on #10273
@awasall Thank you for the recording you've provided. We tried to test this from our end again but unfortunately, we were unable to replicate the same. May I know if this is happening only for this particular collection?

If yes, could you try to test this collection/request from Postman Web: https://go.postman.co/home?

If you receive the same error, then most probably there is a test defined on