[2019-11-05 04:09] #7567 closed, assigned to nobody

[2019-11-05 04:11] hoangdinhini commented on #6967
+1

[2019-11-05 05:03] harryi3t commented on #7577
@adamkelm Can you share some screenshots to help us identify the issue faster?
Also, if you can share a sample .Net application which can reproduce the issue, that would be very helpful.

[2019-11-05 05:31] saswatds commented on #7539
Hi everyone, we hear you 😊. Currently, the team is working hard on a solution that will allow loading a considerably large amount of data in bodies in a performant manner using console. We assure you, this will be resolved in a week or two.

Your frustration is absolutely valid but I would request everyone to be a bit patient while we iterate upon this new console interface without compromising on

[2019-11-05 06:11] anandhakrishnan85 commented on #4092
This issue still exists in latest version of Postman app (v7.10.0)

[2019-11-05 06:40] sankalp0o commented on #7576
Hey @ash007-postman
Is this a Pro/Enterprise team that's seeing this? If yes, we're tracking this issue at #7476.

[2019-11-05 07:41] coditva commented on #5841
We identified that this issue is with the server and not with Postman. The server errors on renegotiation and Postman is correct to show a 400 code since the request failed. If the server wants to implement multiple renegotiations, they can add
[code]
to the top of their server code. Postman is ready to handle this case, thus closing this issue.

Ref: https://nodejs.org/api/tls.html#tls_client_ini

[2019-11-05 07:41] #5841 closed, assigned to codenirvana, coditva

[2019-11-05 08:04] saswatds commented on #4674
The updates are now available in the production app. We will be closing this issue now.

[2019-11-05 08:04] #4674 closed, assigned to saswatds

[2019-11-05 08:09] debjeetsarkar commented on #7338
Hey @JSSAggie, I tried reproducing the mentioned scenario but didn't face any issue with both the flows:

* Approving the request to join the team.
* Using the email invitation to join the team.

Are there any specific intermittent steps that you were performing and is not mentioned above?

Also, would you mind opening a ticket at help@getpostman.com if you're still facing the issue? :)

[2019-11-05 08:14] saswatds commented on #3835
Hi @gavenkoa, In the latest version of *Postman App 7.10.0* we now actively warn users when there are invalid/non-safe characters and symbols in both key and values. This implementation follows the official RFC https://tools.ietf.org/html/rfc7230#section-3.2 for deciding the safety of characters.
![Screenshot 2019-11-05 at 1 38 46 PM](https://user-images.githubusercontent.com/8796447/68189663-d64b

[2019-11-05 08:14] #3835 closed, assigned to vkaegis

[2019-11-05 08:20] ritwijsinha commented on #7291
Hello, @mcandre. We have added this feature in the new Postman Console. Kindly update to Postman v7.10 for the same.

[2019-11-05 08:20] #7291 closed, assigned to shamasis

[2019-11-05 08:23] ritwijsinha commented on #6372
Hello @grinderX19. We have added this feature in the new Postman Console. Kindly update to Postman v7.10 for this.

Cheers!

[2019-11-05 08:23] #6372 closed, assigned to coditva

[2019-11-05 08:41] ritwijsinha commented on #6055
Hello, @Consth.

This has been fixed in the new Postman Console. Kindly update to Postman v7.10 for this.

![image](https://user-images.githubusercontent.com/19693841/68191664-085e6900-ffd6-11e9-8e25-1ba674859aff.png)

Cheers! 🎉

[2019-11-05 08:41] #6055 closed, assigned to coditva, ritwijsinha

[2019-11-05 08:43] ritwijsinha commented on #6350
Hello @klemens-u.

This feature has been added in the new Postman Console. Please update to Postman v7.10 for this.

Cheers! 🎉

[2019-11-05 08:43] #6350 closed, assigned to nobody

[2019-11-05 08:46] ritwijsinha commented on #6088
Hello, @m3dbedb.

Jump to end on opening Postman Console has been introduced. Also, now it supports autoscrolling as well! Please update to Postman v7.10 for the same.

Cheers! 🎉

[2019-11-05 08:46] #6088 closed, assigned to vkaegis

[2019-11-05 08:46] skyboyer commented on #3835
@saswatds but how about spaces in value? it's valid character but it's still hard to notice.

[2019-11-05 08:46] ash007-postman commented on #7576
@sankalp0o Yes, they upgraded from Free to Postman Pro

[2019-11-05 08:50] sebainones opened #7579 "Monitor Performance no displaying response times"
**Describe the bug**
Monitor Performance graph is not displaying the response times.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to your Workspace
2. Click on Monitors.
3. Click on the specific Monitor you want to visualize.
4. See error (Graph not loading the time responses)

![PostmanBug](https://user-images.githubusercontent.com/4959157/68192446-a12ebd80-ffb1-11e9-9abb-da6351e77e4f

[2019-11-05 08:55] ritwijsinha commented on #4474
Hello @datha2703, @anzhurov and @Gordiievskyi.

This feature has been added in the new Postman Console. Please update to Postman v7.10 for this!

![image](https://user-images.githubusercontent.com/19693841/68192831-f978b600-ffd7-11e9-81c9-539378385796.png)

Cheers! 🎉

[2019-11-05 08:55] #4474 closed, assigned to vkaegis

[2019-11-05 09:05] ash007-postman commented on #7476
@sankalp0o Another user (Postman enterprise) facing the same issue, more details can be found at Zendesk(40309)

[2019-11-05 09:06] ritwijsinha commented on #3473
Hello, @MilanD93.

The new Postman Console supports `console.log`, `console.info`, `console.warn`, and `console.error` which are visibly distinguishable.

Here, check it out!
![image](https://user-images.githubusercontent.com/19693841/68193614-54f77380-ffd9-11e9-8a5c-860c30730ce5.png)

To use this, please update to Postman v7.10!

Cheers 🎉

[2019-11-05 09:40] gavenkoa commented on #3835
@skyboyer Yes and when I select text with triple click modern browser copies last space too.

So this kind of error is very probable.

[2019-11-05 09:57] laNds commented on #7476
I'm the user, thanks for the reply, i'll follow this issue.
@sankalp0o is the unblock process is only for @g-macd or will work for our team too ?

[2019-11-05 10:10] Ghedeon commented on #7498
@sankalp0o `Create a new workspace with the shared collections and private environments.` I'd love to but how? Right now I have my Private workspace and Team Workspace. And they don't intersect at all. I can't create a private environment and use it in my Team Workspace. And similarly, whenever I create an environment in my Team Workspace, it's being synced with the team.

[2019-11-05 10:13] HBR86 commented on #6521
I had this issue on windows with postman version 7.10.0 and the workaround suggested by @cyrielle-hada works fine, thanks.

[2019-11-05 10:17] shivam-postman commented on #7579
Hello @sebainones , we've identified the issue and the fix will be out soon. Meanwhile, you can try the following steps to display the graph correctly:

1. Go to your workspace monitors.
2. Select a monitor, different from the one you want to view.
3. Refresh the page.
4. Go to your workspace monitors and select the monitor you wanted to view.

Do let us know if this doesn't solve the problem.

[2019-11-05 10:17] ArjunSingh-PM commented on #7579
@sebainones Thanks for sharing this issue with us. Is this a persistent issue for you or does this issue resolve after refreshing the monitoring page?

[2019-11-05 10:38] danni-popova opened #7580 "Required and optional parameters"
**Is your feature request related to a problem? Please describe.**
When documenting a request, there is no way of stating whether a request param is optional or required other than specifying that in the description.
Validating all the required params for the specific request are filled in would also be very helpful with a warning when trying to send the request without the required values.

**Des

[2019-11-05 11:03] sebainones commented on #7579
Hello @shivam-postman . Yes, those steps did the trick ;)
Thank so much for the quick reply and let me know if you need further information from my side.

[2019-11-05 11:21] SimoTod commented on #7555
Thanks @sankalp0o
At the moment, I use it as it is. I assume it would be a nightmare to have the autoupdate and keep any existing changes so I don't expect it to happen.
It would be good if the documentation could show the possible responses in the central column (with the type hinted parameter) and use the example values in the right column but I'm not precious about it. :)

[2019-11-05 11:21] saswatds commented on #3835
@skyboyer @gavenkoa as the specs state that whitespace is valid characters in the value, so adding warnings for such was not appropriate.
But having said that we have already added **whitespace aware text representation** in the new console, we will be adding it to the rest of the builder pretty soon.

The above warnings help ensure that sending requests does not fail which results in the `Could n

[2019-11-05 11:40] gfauredumont opened #7581 "Real installer (or instructions) for Linux"
The Download page as no installation instruction, you just give a tarball.
I love your product and advice all my students to use it, but most of them are junior devs so they have no clue what to do with your tarball !
(for the record, Ubuntu is currently installing Postman 7.1 from Synaptic but it doesn't seem to work on most installations, even on fresh Ubuntus)

Having a least a link to a webpag

[2019-11-05 12:41] Raj-postman commented on #7475
@kamalaknn Have added logs from one of the similar cases

[2019-11-05 12:46] anadollu commented on #6682
+1

[2019-11-05 13:40] BEagle1984 commented on #2240
Hi guys. Any news? We badly need it over here.

[2019-11-05 13:44] kunalgoel2008 opened #7582 "FATAL ERROR: CALL_AND_RETRY_LAST Allocation failed - JavaScript heap out of memory"
I was trying to run a postman collection using newman htmlextra by running the below command
newman run postman_collection.json -e environment.json -g Global.json -r cli,htmlextra --insecure --reporter-htmlextra-export <some path>

its running fine on the command screen but, I am not getting the HTML Report, getting the below error:

<--- Last few GCs --->

[17420:0089A938]   312113 ms: Mark-sweep

[2019-11-05 14:19] adamvan101 commented on #7570
Hey. Original user here. Below is the original swagger.json and a reproducing postman collection. They might not be from the same source, but the structure should be the same as the original issue.

[swagger.json.txt](https://github.com/postmanlabs/postman-app-support/files/3809370/swagger.json.txt)
[Client Settings Service.postman_collection.json.txt](https://github.com/postmanlabs/postman-app-su

[2019-11-05 15:33] kamalaknn commented on #7570
Hey @adamvan101

Thanks for the info. I was able to reproduce this issue. We will look into fixing this issue.

[2019-11-05 17:06] amonyaos commented on #4001
@codenirvana   POST body lost

![image](https://user-images.githubusercontent.com/12334944/68229040-72582c00-0031-11ea-8165-74bbb3376166.png)
Postman v7.10.0

POST /tsk1r2/oauth/token HTTP/1.1
Content-Type: application/x-www-form-urlencoded
User-Agent: PostmanRuntime/7.19.0
Accept: */*
Cache-Control: no-cache
Postman-Token: 5b1fdf27-d50c-4d6b-82f3-92479724acf9
Host: test1.mdomain.com
Accept-Encodi

[2019-11-05 18:01] jabbott-EDR opened #7583 "Duplicating a Request causes discrepancies when creating new Forks - "a record already exists with conflicting value(s).""
**Describe the bug**
Duplicating an existing Request causes issues when creating a new Fork - in this example I've duplicated a request in the main collection and renamed it, when I attempt to create a fork from that collection the updates I've made to that duplicated request are ignored.

**To Reproduce**
1.Take an existing request in the collection, use the 'Duplicate' tool to create a copy
2. R

[2019-11-05 18:03] jabbott-EDR opened #7584 "Duplicating a Request causes discrepancies when creating new Forks - "a record already exists with conflicting value(s).""
**Describe the bug**
Duplicating an existing Request causes issues when creating a new Fork - in this example I've duplicated a request in the main collection and renamed it, when I attempt to create a fork from that collection the updates I've made to that duplicated request are ignored.

**To Reproduce**
1.Take an existing request in the collection, use the 'Duplicate' tool to create a copy
2. R

[2019-11-05 18:25] jabbott-EDR commented on #7583
Duplicate of https://github.com/postmanlabs/postman-app-support/issues/7584

[2019-11-05 18:25] #7583 closed, assigned to nobody

[2019-11-05 19:16] krishnakumar-tce commented on #1380
any update on this? would be awesome to preview pdf responses in postman just like png.

[2019-11-05 19:27] jcpontet commented on #1946
Same issue here

[2019-11-05 21:53] adritabhor commented on #7555
@sankalp0o - heard the same use case for another enterprise company today.

[2019-11-05 23:34] venkatcc commented on #2985
Postman v7.10.0 on Windows 10 still has this issue.

[2019-11-06 01:42] armarti commented on #2240
Make a PR. It's open source. Seems like an easy issue to tackle. It's free. Anyone using this is a software developer. If you really really really need postman to handle two WWW-Authenticate headers, make postman handle two WWW-Authenticate headers. This is how you pay for free stuff.

[2019-11-06 01:52] adamkelm commented on #7577
I can't provide the example that I'm working with, since it contains confidential information. But if it's an application that saves as a .app package in MacOS, it should do the same thing. Here's what the "select path to save file" window when exporting the collection from Postman. You can see the "...Service.app" packages are grayed out and inaccessible from this view.
<img width="855" alt="Scre

[2019-11-06 03:16] chenxi65535 opened #7585 "AWS Signature by Postman different with signature generated by AWS-SDK"
**Describe the bug**
AWS Signature by Postman is different with signature generated by AWS-SDK when specify the endpoint as "http://aws.amazon.com/someuri/without-trailing-slash"

**To Reproduce**
Steps to reproduce the behavior:
1.Use same credential and same request in Postman and Aws-sdk
2.Compare the signature in the Authorization header

**Expected behavior**
AWS Signature by Postman should b

[2019-11-06 03:32] g-macd commented on #7476
I managed to get this working by fully logging out of my account (in the Browser and in the Windows app), and logging back in. It seemed like doing this caused a full re-sync of all workspaces & collections.

[2019-11-06 03:37] xxxxpenny commented on #7368
yes，I hava some problm, I use port 443, it works, but if port is not 443, it does not work.

[2019-11-06 03:44] sankalp0o commented on #7576
I'm closing this ticket since we're already tracking this at #7476. This is a known bug when archived collections do not get unarchived on upgrading to Pro. We're working on fixing this as we speak and should have a resolution very soon.

[2019-11-06 03:44] #7576 closed, assigned to nobody

[2019-11-06 04:02] shamasis commented on #7540
Hmm ... can you elaborate? Not sure I understand what’s the Postman bug you’re referring to.

PS: if you’re looking for guidance on how to do something in Postman, have a look at community.getpostman.com - there are a lot of helpful content and active members there.

[2019-11-06 04:16] xk0der opened #7586 "Team admin encountered workspaces without admins - unable to manage users and delete workspaces"
**Describe the bug**
A user, who is a Team admin, reported seeing workspaces without any "admin".
For these workspaces, they are unable to change the "role" for themselves or any other workspace members.

This was reported for both the _default_ Team workspace and a _normal_ Team workspace.

The user would like to be able to control the workspaces to remove users and delete the non-default workspa

[2019-11-06 05:06] sithu-ab opened #7587 "Can't launch Postman from terminal in Ubuntu 19.04"
I'm using Ubuntu 19.04. I downloaded Postman from https://www.getpostman.com/downloads/ and extracted it. But I can't execute it from terminal and got Javascript error. Any idea?

    ab-ubuntu@sithu:/opt/Postman$ ./Postman
    A JavaScript error occurred in the main process
    Uncaught Exception:
    Error: Cannot find module 'circular-json'
        at Module._resolveFilename (internal/modules/c

[2019-11-06 06:08] mail2vrajesh commented on #4733
+1 for java. if you are providing code snippets for popular languages, I feel java should come first. when will this feature be available.?

[2019-11-06 07:10] BEagle1984 commented on #2240
Makes sense, thanks for helping. Except for the fact that we are actually paying a subscription fee for our shared workspace. ;)

[2019-11-06 07:12] ljppttfn opened #7588 "The request code (eg cUrl) with temporary headers can not run directly in a terminal using command line mode"
**Describe the bug**
The request code (eg cUrl) with temporary headers can not run directly in a terminal using command line mode.

When remove `-H 'Content-Length: 344' \` then run successfully.

[2019-11-06 07:19] kamalaknn commented on #7587
Hey @sithu-ab

Thanks for reporting this issue. Can you give us some information on how you installed the latest version of Postman?

Did you have a previous installation of Postman? If you extracted the new version over the existing installation the contents of the two versions might get merged leading to unexpected behaviors.

You can try deleting the current installation of the App and extract

[2019-11-06 07:41] kumar-nitish commented on #7391
I had already shared logs @ https://github.com/postmanlabs/postman-app-support/files/3657463/postman.log.

Recently I have updated to a new version **Version 7.10.0 (7.10.0)** and this issue seems to be resolved.

[2019-11-06 07:41] #7391 closed, assigned to numaanashraf, kamalaknn

[2019-11-06 07:59] laNds commented on #7476
@g-macd : wow thanks, that work for me too.

[2019-11-06 08:35] kamalaknn commented on #7475
The errors in the logs are unrelated to the issue reported here. Closing this issue since we do not have enough information to confirm correlation between v6 to v7 migration to data loss. Other data related issues are tracked separately.

[2019-11-06 08:35] #7475 closed, assigned to nobody

[2019-11-06 08:39] mssio opened #7589 "Postman for Mac Unable to Sync"
**Describe the bug**
I can't enable sync in Postman for Mac.

**To Reproduce**
When I use the app, sync button did nothing at all when pressed. I can't sync my workspace at all, and when I try to create new workspace the app ask me show enable sync button, and when pressed it just open this web page: https://learning.getpostman.com/docs/postman/launching-postman/syncing/

**Expected behavior**
I s

[2019-11-06 08:51] Ghusar commented on #7589
@mssio Can you try logout and login to postman app, If that does not resolve the issue, you can write us to help@getpostman.com so that we can take a closer look.

[2019-11-06 08:54] Ghusar commented on #7564
@markashton We will soon push out the fix for this issue, I will keep the thread updated when the fix goes out in production.

[2019-11-06 09:02] kamalaknn commented on #5448
Duplicate of #7078

I'm closing this issue in favor of #7078 because the latter has more details and error logs.

[2019-11-06 09:02] #5448 closed, assigned to nobody

[2019-11-06 09:10] mssio commented on #7589
@Ghusar

yeah I have tried log out and log in again, but the issue still persist. I have also tried restarting my Mac, reinstalling the app but nothing works. Okay I will send email to help@getpostman.com.

Thanks for your reply.

[2019-11-06 09:15] sankalp0o commented on #7476
Glad it helped! Were you able to recover all the collections @g-macd @laNds? Or are there still some that are archived?

[2019-11-06 09:19] kamalaknn commented on #7391
@kumar-nitish Thanks for letting us know. The log file appears to be edited and does not have the full trace. Please let us know if you face this issue again.

[2019-11-06 09:20] sankalp0o commented on #7568
@abhijitkane Would this need to be fixed on the docs or in the product?

[2019-11-06 09:21] antoinechassagne commented on #1070
+1

[2019-11-06 09:22] sankalp0o commented on #7586
Thanks for reporting! We will look into why this is happening and get back soon.

[2019-11-06 09:23] HubM commented on #1070
@Raja-Simha when do you think it will be implemented ? This feature could be really useful to improve our documentation workflow ! 🙏

[2019-11-06 09:30] balaji-rajan commented on #1377
@vkaegis, i'm keen on this piece.. is this still in cart?

[2019-11-06 09:31] harryi3t commented on #7577
@adamkelm Thanks for providing the extra information.
This seems like the default behaviour of the macOS to consider the `.app` packages as files rather than directories.
I tested this with chrome (trying to save the current webpage) and other apps (Slack, VSCode, etc)
![image](https://user-images.githubusercontent.com/5207331/68285717-cdc40180-00a5-11ea-8cfa-cdde5e8fb8b4.png)

I am marking this a

[2019-11-06 12:45] Swapnil-getpostman opened #7590 "Prior notification before deleting the data from Trash."
**Is your feature request related to a problem? Please describe.**
A prior notification before deleting the collections from the trash. So that one can recover before it gets deleted permanently from the trash.

**Additional context**
Collections get deleted after a certain interval of time as per the plan.
Users on Postman **Free license** can recover **one-day old collections**.
Users on Postman

[2019-11-06 13:13] Nagendra1DSY commented on #3434
Thanks a mil Lisa, this really helps.

[2019-11-06 14:40] drpiou opened #7591 "Keep syncing"
**Describe the bug**
The app keeps syncing, ending up to use resources from the computer (constantly between 7-19% CPU usage).

**To Reproduce**
I don't know how to reproduce this error, I wish it didn't happened and I don't think that logging out is the correct solution.

**Expected behavior**
I expect the app to sync only when a changes is made, not constantly.

**Screenshots**
![Screenshot 2019

[2019-11-06 15:36] ottonagy commented on #6682
+1

[2019-11-06 16:32] piether opened #7592 "OAuth2 authorization not working when backend uses cookies with SameSite=None"
**Describe the bug**
Cookies with SameSite=None are not sent on subsequent requests in the OAuth2.0 authorization pop-up

**To Reproduce**
Steps to reproduce the behavior:
1. Create a new request
2. Go to Authorization tab
3. Choose OAuth 2.0 as type
4. Click 'Get New Access Token'
5. Fill in the required fields. I'm using the Authorization Code flow but I don't think it matters.
6. Postman makes

[2019-11-06 16:50] jpsv commented on #4636
I'm using Postman to run a series of tasks across different services on an as-needed basis, and this issue affects me.

It's a single collection and all requests are intended to do the same thing to a designated user account in a timely and efficient manner. But because OAuth2.0 is becoming more common, kind of hurts.

[2019-11-06 17:30] chrisdeso commented on #6027
@preethammavin New report of this behavior added

[2019-11-06 21:04] ronarbel commented on #6761
I'm currently on version 7.8.0 and having the same problem. Receiving a `200 OK` status but no response body.
![image](https://user-images.githubusercontent.com/7448754/68337688-e3c9c600-0095-11ea-9e72-72545a13ddfb.png)

[2019-11-06 21:44] jcald1 opened #7593 "Uncaught errors",{"name":"Error","message":"Object has been destroyed"
Tested on both 7.10.0 and  PostmanCanary-linux-x64-7.11.0-canary01. I get the same error but only see the error message in the Canary version main.log.   I'm using the native app on Linux.

I ran the collection runner and selected "Keep environment variables".  The app crashes shortly thereafter.  The API is returning JSON responses that are about 5.5MB with a few very large strings.

I've attache

[2019-11-06 23:08] rober710 commented on #2427
Same here for me, broken in 7.10.0 running on Linux.

[2019-11-07 01:13] iamdavid2 opened #7594 "collection runner CSV body json"
**Describe the bug**
the request body is not the same as the preview , the preview shows "" , but the request body doesn't send " "

**To Reproduce**
Steps to reproduce the behavior:
1. Create a new POST Request
2. In the body put some variables (read by CSV)
the first and the second columns contains number and the third column contains a string

![image](https://user-images.githubusercontent.com/

[2019-11-07 01:40] #7594 closed, assigned to nobody

[2019-11-07 01:40] iamdavid2 commented on #7594
is not a issue

[2019-11-07 03:12] jcald1 opened #7595 "There was an error in evaluating the test script: Error: sandbox: execution interrupted, bridge disconnecting."
I'm the Postman v7.10.0 native app on Linux.  When I submit requests against an API with a large response, I get the following error in the "Test Results" tab: "There was an error in evaluating the test script:  Error: sandbox: execution interrupted, bridge disconnecting."

Response info:
200OK
1051ms
8.77 MB

[2019-11-07 03:56] arsieorgano commented on #6741
I just upgraded to Pro thinking that it might also resolve the issue "You are not permitted to perform the action." we are facing right now. Unfortunately, not.

Can someone help?

[2019-11-07 04:06] preethammavin commented on #6741
@arsieorgano do you have editor role on both the collections? The parent and the forked one?
This error would occur when you dont have roles on either of the collection as you are trying to update both the parent and the fork. If you have editor role on the collection you are trying to merge to can you select the merge changes and megre it?

If you still see the issue please write to us at help@ge

[2019-11-07 06:25] arsieorgano commented on #6741
Hi,

I think I may have resolved it already. Let me try how it goes.

[2019-11-07 06:57] thellamgowtham commented on #4298
How did you fix it??

[2019-11-07 08:30] kamalaknn commented on #7593
This looks like a duplicate of #5848

[2019-11-07 08:42] Eomm opened #7596 "Show compressed body size"
Hi,
the `Size:` field shows the amount of uncompressed payload:

![image](https://user-images.githubusercontent.com/11404065/68372810-e08c1400-0141-11ea-8229-afb26f2ef955.png)

And if I remove the response header (to avoid the uncompression of Postman) I get the size I'm interested:

![image](https://user-images.githubusercontent.com/11404065/68372943-17fac080-0142-11ea-96e3-b7800dc1a965.png)

Cou

[2019-11-07 09:31] shamasis commented on #6563
Closing this issue from inactivity.
PS: We are tracking runner memory consumption related delays, but nothing reproducible to indicate it is continuing to work background post window closure.

[2019-11-07 09:31] #6563 closed, assigned to saswatds

[2019-11-07 09:48] Warkdev opened #7597 "Postman is crashing when there's an SSL error during a Collection Runner execution"
**Describe the bug**
When using Postman to generate requests towards an untrusted website (unknown root or unmatching certificate), a valid error message appears within the Postman editor.

When running the same request from the Collection Runner, this one will fail and the whole Postman application will crash.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a request targeting a serv

[2019-11-07 09:56] Warkdev opened #7598 "Add a more elegant way to cancel the execution of a request"
**Is your feature request related to a problem? Please describe.**
Not really, this request would allow the collection runner to perform testing of similar systems managed by different API versions nicely.

**Describe the solution you'd like**
Today, within Postman, we can use the collection runner and dataset to execute the same request over different systems. These systems are not all using the

[2019-11-07 10:07] kamalaknn commented on #7587
This looks very similar to what you would see when extracting the new version over the old installation directory. You can find more details about it on the previous conversations

https://github.com/postmanlabs/postman-app-support/issues/6647
https://github.com/postmanlabs/postman-app-support/issues/5039#issuecomment-420258338

I'm closing this issue for now. Please let us know if you are seeing

[2019-11-07 10:07] #7587 closed, assigned to nobody

[2019-11-07 10:19] shamasis commented on #5704
Hi all, especially @testica @ghostravenstorm @pvgomes,

I am closing this issue for now. Two reasons:

1. Our error messages "Could not get response" and "Parse Error" is too generic to directly determine the cause or debug the issue without a deep discussion. We are working hard to make this experience better. Our first step was to make the Postman Console show deep details. Next on cards is to s

[2019-11-07 10:19] #5704 closed, assigned to codenirvana

[2019-11-07 10:40] DruidKuma commented on #4009
Needed as hell. Can't use Postman because of absence of web socket support

[2019-11-07 10:41] laNds commented on #7476
@sankalp0o : yeah, we recover all of our collections :).

[2019-11-07 11:15] leofrances-extflowbird opened #7599 "Disable/enable certificate in settings"
**Describe the bug**
I would like to disable/enable certificate in settings because sometimes I need to use my certificate and other times I need to use authentication in collection/folder/request to run my tests. Currently, I add my certificate to use it, and I remove it when I do not want to use it anymore.

**Expected behavior**
It would be useful to have a button to enable/disable the use of d

[2019-11-07 11:15] preethammavin commented on #7590
@Swapnil-getpostman sending a notification for every element which is about to be permanently deleted would cause a large amount of noise in notifications.  But would look how we can enable this information to be conveyed to the user in a better format.

[2019-11-07 11:46] harsh-reality opened #7600 "List public documentations in a single view for a team"
**Is your feature request related to a problem? Please describe.**
Currently, there is no way to view all publicly hosted documentation(s) by a team in a single view. The only way to find out now is to find the sign of a globe on the collections, as it indicates that collection is published. Below is a screenshot for reference:
<img width="1328" alt="public documentations" src="https://user-images

[2019-11-07 11:54] Swapnil-getpostman commented on #7590
@preethammavin Yes, it will cause noise in notifications.
Just a suggestion, If we can provide the user with a checkbox in the settings tab to receive the notifications, then this will be completely the user's choice to receive notifications.

[2019-11-07 14:12] BdR76 opened #7601 "twitter menuitems point to @postmanclient instead of @getpostman"
Not really a bug but the twitter menuitems point to the old twitter account @postmanclient instead of @getpostman (Postman v7.11.0 Windows)

two menu items in the GUI:
- Help > Twitter
- Settings (wrench icon) > @postmanclient

[2019-11-07 14:57] cyrielle-hada commented on #6027
Workaround for this issue: logging out and signing back in fixed the issue.

@preethammavin can we see why a simple sync doesn't bring back the archived collections automatically?

Logs can be found internally

[2019-11-07 15:05] cyrielle-hada commented on #7263
@godfrzero Another report of this behavior.

Trying to delete a monitor results in a `something went wrong error.`
Note that the collection doesn’t exist anymore.

I tried to replicate the issue but getting a different behavior
1. I deleted a collection in my personal workspace for which I had a monitor.
2. Upon deleting the collection - I am still able to see the monitor in the dashboard
3. Click

[2019-11-07 16:16] spatil-scandilabs opened #7602 "Running multiple collections using newman"
Hello Sir/ Madam,
I am using POSTMAN since a year now, also I looked into the CI integration with Newman tool.
I started working on Newman and executing scripts using command line scripts as well. Able to generate the HTML reports as well.
All works well, no issues as of now.
But now, I want to run multiple collections using Newman command line scripts and generate a single HTML report. I searched

[2019-11-07 16:50] phil-hutchinson opened #7603 "Textbox to add cookie to request does not appear"
Description
Textbox to add cookie to request does not appear

To Reproduce

1. Start the Postman application
1. Click on the "Cookies" link below the Send button
1. Enter a domain (e.g. https://www.google.com) in the top edit box and click add
1. Select the added domain, and an "+ Add Cookie" button should appear
1. Verify that no textbox appears allowing entry of the cookie

Expected behavior
A t

[2019-11-07 19:33] nathanbAL opened #7604 "$randomSecondaryAddress Dynamic Variable not working"
**Describe the bug**
I'm using the dynamic variable $randomSecondaryAddress in a request as a string however my response is just printing "addressSecondLine": "{{$randomSecondaryAddress}}",

**To Reproduce**
Steps to reproduce the behavior:
1. Go to a POST request that utilizes an address field
2. Utilize {{$randomSecondaryAddress}} in request, example "addressSecondLine": "{{$randomSecondaryAddre

[2019-11-07 21:07] spatil-scandilabs opened #7605 "Environment variable replaced with random characters"
Environment variables is replaced with some (http:///%7B%7BURL%7D%7D/) random characters in monitoring tool and eventually all the requests are getting failed.
Although if I ran the same correction from the tool, its runs successfully.
There is some issue with the monitoring tool.

[2019-11-07 21:52] alex-bolenok-centralreach opened #7606 "Cyrillic characters in cookies break requests"
**Describe the bug**
Postman is unable to send cookies with Cyrillic characters in the value

**To Reproduce**
Steps to reproduce the behavior:
1. Create a new GET request to https://api.adviceslip.com/advice
1. Click on Cookies, the Manage Cookies dialog appears
1. Click on "Type a domain name", type `adviceslip.com`
1. Click on Add
1. Scroll down to adviceslip.com, click on Add Cookie
1. Paste t

[2019-11-07 22:58] DannyDainton commented on #7604
Hey @nathanbAL,

I'm not sure where you saw that it was a variable to use in the application but It's not one that we have listed anywhere.

The documentation:

https://learning.getpostman.com/docs/postman/scripts/postman-sandbox-api-reference/#phone-address-and-location

Auto Complete view in the app:
<img width="428" alt="Screenshot 2019-11-07 at 22 48 00" src="https://user-images.githubusercont

[2019-11-07 23:38] jimcullenaus commented on #4546
The frustrating thing is, there's already an option in the UI that makes you **think** it does that. I'm not sure what "Inherit auth from parent" actually does, but it's not what the user intuitively thinks it does.

[2019-11-08 02:02] jcald1 commented on #7593
@kamalaknn , I don't think so.  I didn't click on Cancel and the app still crashes.  Also, according to the #[5799](https://github.com/postmanlabs/postman-app-support/issues/5799), which is #5848 is a duplicate of, that issue was fixed in the Canary version.  I'm using that version and I get this error.

[2019-11-08 02:52] xk0der opened #7607 "Interceptor never connects for Postman installed via Snap"
**Describe the bug**
Interceptor always shows up as Disconnected on Ubuntu Linux, when Postman is installed via Snap.

**To Reproduce**
Steps to reproduce the behaviour:
1. Install Postman using [snap](https://snapcraft.io/) on Ubuntu Linux.
2. Install interceptor binary
3. Install chrome interceptor extensions
4. Enable capture in chrome extension
5. Check Postman app - Interceptor always shows u

[2019-11-08 03:15] #7431 closed, assigned to nobody

[2019-11-08 06:19] harryi3t commented on #7601
@BdR76 Thanks for reporting this issue. We will get these links fixed in the next release.

[2019-11-08 06:55] saswatds commented on #7593
Hi @jcald1 the issue #5848 was incorrectly triaged as a duplicate of #5799. The later has been fixed but there is still another issue as stated in #5848 that causes the runner to crash.

1. We have identified that this particular error appears whenever the runner window is closed (manually or otherwise) in the middle of the collection run.

2. There is also a hard limit on the amount of data that

[2019-11-08 07:10] arsieorgano commented on #7539
I hope it can be solved as soon as possible... it is not easy to debug if we have such issues. Pro version user here.

[2019-11-08 08:01] vvs11 commented on #7605
Hey @spatil-scandilabs, Thanks for writing in!
Could you provide us with some more details about the issue that you're facing? Also, it'd be great if you can share the steps to reproduce.

[2019-11-08 08:10] kshitijpatil commented on #4637
I see this issue in v7.10.0 (snap)

[2019-11-08 08:29] HKFiliatix opened #7608 "Update not working in Ubuntu (native app)"
Update not working in Ubuntu
Nor automatic, nor via click "update" button in UI
File is downloaded and exctracted, but, as I see main program did not close, so it can replace old folder with new.
So I have to
1 kill all process like "postman" or "_Postman"
2 then rename old dir to "Postman.old"
3 exctracted "Postman-1573200968502" to Postman
4 check if new Postman works fine
5 delete archive Postm

[2019-11-08 09:22] PeterStaev commented on #4105
I'm also experiencing this problem. I have defined variables in the collection. Not even modifying in Tests. And they are not recognized nor they are sent correctly. Here is a sample collection json:
[code]

[2019-11-08 09:54] grgakshay opened #7609 "Editors in postman not scrollable when you increase the editor size by dragging 'Response' and then select and scroll to bottom"
**Describe the bug**
Editors in postman not scrollable when you increase the editor size by dragging 'Response' and then select some text in the editor and try to scroll to the bottom.

**To Reproduce**
Steps to reproduce the behavior:
1. Past large data in the editor.
2. Increase the editor size by dragging the 'Response' section to the bottom.
2. Select some text through mouse and try to drag th

[2019-11-08 11:49] excudo opened #7610 "Allow interactions with saved requests from within visualisations"
Using the Visualisations, it's possible create interactions as well while displaying the response data.
It would be a great addition if these interactions would allow a developer to generate actions that execute requests from the same collection thereby also being able to fill the parameters of such a request with data from the current repsonse. This would allow for a complete interactive way of b

[2019-11-08 12:16] labossieresr opened #7611 "Postman Monitor Not Completing Report Execution, Stuck on 'Loading'"
I have a collection that runs daily in PM Monitor and when I go to load the page it never completes loading. In the "Region" field it states 'Loading...' with an active spinning wheel (further indicating it is still loading). It was working fine for the past number of months and then it just started this new behavior. The graph of daily runs is no longer displayed (cause still loading).  Refreshin

[2019-11-08 12:29] jegsar commented on #4361
On windows, same issue and I was able to rename the folder as @crunkid did which seems to help, very odd indeed.

[2019-11-08 12:31] fabiocastilhos opened #7612 "Clear tokens button"
It's possible to add a "Clear all" tokens button so I don't have to delete the expired tokens one by one?

Something like this:
![image](https://user-images.githubusercontent.com/730416/68476798-7ee3ac80-020a-11ea-9c6d-2fda509fc537.png)

[2019-11-08 12:32] fabiocastilhos opened #7613 "Overwrite existing tokens with same name"
I'd like to overwrite the existing token when I try to get a new one using the same name.

[2019-11-08 13:38] arjuna-dev commented on #1783
Yes, that tiny splitter pane button, greyed-out, in the always-neglected bottom-left corner...

[2019-11-08 14:22] vinayak-b commented on #6333
Or at-least like a "Postman Console (⌥⌘C)"  for response which opens in new modal window. It will will be helpful to view the response in fullscreen.

[2019-11-08 14:25] nathanbAL commented on #7604
@DannyDainton I had pulled it from this list and I swear it used to work. https://postman-quick-reference-guide.readthedocs.io/en/latest/dynamic-variables.html

[2019-11-08 14:43] spatil-scandilabs commented on #7605
Hey,
So I set project url as a environment/ global variable:
E.g.: URL is: https://www.google.com
Now I set this URL in a environment/global variable as below:
VARIABLE: URL
INITIAL VALUE: https://www.google.com
CURRENT VALUE: https://www.google.com

If I want to use this variable in the api request, I have to set it like:
{{URL}}/<following path>

So far, all good.
If I run this from the Collecti

[2019-11-08 15:59] rpatrick00 opened #7614 "Postman Collection stores absolute path for file uploads"
**Describe the bug**
As part of our postman collections, we need to upload several files to the server.  When creating the requests within the collection, Postman is storing the absolute path to our test files in the collection--even though the files are located in the Postman Working Directory.  This makes our collection not able to run on our Jenkins (linux) servers.

**To Reproduce**
Steps to r

[2019-11-08 16:02] vicneanschi commented on #6353
That would be so much helpful!

[2019-11-08 16:03] #7614 closed, assigned to nobody

[2019-11-08 17:32] ijoyce commented on #3845
+1

[2019-11-08 17:39] anurag246 opened #7615 "Support silent installation on Windows"
In our corporate the Software Installation and Support team need to install the software on developers workstations in background, so that their work is not interrupted. Right now, all I could find was a GUI based installation or upgrade interface, and was looking for the Silent Install Parameters so that we can silently install the product without GUI

[2019-11-08 19:17] mikesigs commented on #3274
It seems there is rbac now, but still no way to transfer ownership of a collection. I am a Team Admin, and yet I have no ability to modify the roles of collections created by people who have left the organization. This essentially locks down the collection, which isn't great. Can this be re-opened to support this feature fully?

[2019-11-08 20:14] Andy-APIs opened #7616 "Learning Center - Billing Links throwing 404s"
Learning Center - Managing Pro Billing pages are throwing 404s.

**To Reproduce**
In Learning Center > Managing your Billing section > all links under `How to get a copy of an existing invoice` section throw a 404. Each link appears to be redirecting to same page.
See: https://learning.getpostman.com/docs/postman-pro/managing-pro/managing-your-billing/#how-to-get-a-copy-of-an-existing-invoice

Lin

[2019-11-09 14:31] sankalp0o commented on #3274
@mikesigs thanks for the feedback!
- A Team Admin doesn't have any special privileges in Postman as far as resources like Collections are concerned. We have plans on introducing another role for this and it's tracked in #6102 .
- Like @a85 mentioned, shared collections belong to the team and removing the creator from the team won't affect them at all for the rest of the team.
- Someone will always

[2019-11-09 14:40] sankalp0o commented on #7498
@Ghedeon You could do this
1. Create a new Personal Workspace
2. Share all the collections from the Team Workspaces into this one
3. Create new environments into this Workspace that you need

This will ensure that your environments aren't shared. Let me know if this doesn't work!

[2019-11-09 14:40] #7498 closed, assigned to nobody

[2019-11-09 15:28] AndreMaz opened #7617 "Error on starting native app"
**Describe the bug**
After updating to latest version (7.11.0) of the app I can't open it. I'm getting a `Could not open Postman` error. Made a clean download to see if it helps but it didn't.

**Screenshots**
![image](https://user-images.githubusercontent.com/9802754/68530880-6788ea00-0304-11ea-80de-d552a681171e.png)

**Logs**
Trying to start the app from bash I get the following log:
[code]
Judg

[2019-11-09 17:03] godfrzero commented on #7263
@cyrielle-hada Is the user in question an admin on the team, and attempting to delete a monitor belonging to another user?

[2019-11-09 19:40] alexantom commented on #7551
![postman_oauth2_login](https://user-images.githubusercontent.com/54152098/68534028-df471c80-02e4-11ea-86ec-fa9bc23d9380.png)

<img width="1088" alt="postman_oauth2_sign_progress" src="https://user-images.githubusercontent.com/54152098/68534035-ebcb7500-02e4-11ea-9f66-5797d4619538.png">

![postman_after_sign_in](https://user-images.githubusercontent.com/54152098/68534043-00a80880-02e5-11ea-9010-83

[2019-11-10 02:38] PrateekJoshi commented on #5905
Getting the same issue on **Debian 9.8**  even after using the workaround mentioned above.

[2019-11-10 12:56] tmrdurgun commented on #6271
Mine was Wiew > toggle sidebar :/

[2019-11-10 15:33] numaanashraf commented on #7609
@grgakshay Could you send us a screen recording for this? We are unable to replicate this.

[2019-11-10 17:37] cyrielle-hada commented on #7263
@godfrzero The user's role is Admin, Billing, Developer. He's attempting to delete a monitor created on a collection he owned (the collection is now deleted).

[2019-11-10 21:21] saurabh-jas opened #7618 "{{guid}} generated twice during an api call"
**Describe the bug**
{{guid}} generates a new guid value in code section everytime it is clicked.
Suppose you send an API request with a header name 'unique-id' and value {{guid}}.
Now if initially when the request is sent, the guid is say xxx-yyy-zzz-aaa-bbb . Now after sending the request, if I want to check which unique token is used so I'll click on the code button.
But when I do so, it regene

[2019-11-10 21:45] omarw commented on #4355
Any updates?

[2019-11-11 01:02] xk0der commented on #7558
You hunch is correct, you can use the `pm.response.to.have.jsonBody(optionalExpectPath:String)` assertion call for existence of the path within a JSON resonse body.

In your case, the test should look like the following
[code]

I'm attaching a JSON export of a collection demonstrating all three assertion calls:
[Test JSON Body.postman_collection.json.zip](https://github.com/postmanlabs/postman-app

[2019-11-11 01:14] xk0der commented on #7618
@saurabh19911 - You should utilize Postman's console to view and validate request values and headers for a _sent_ request.
Reference: https://learning.getpostman.com/docs/postman/sending-api-requests/debugging-and-logs/#network-calls-with-postman-console

The code tab is to generate executable code in different tools/languages/protocols - HTTP is the default one selected. Since the variable `{{$gu

[2019-11-11 01:14] #7618 closed, assigned to xk0der

[2019-11-11 01:57] kevin-postman commented on #7100
This issue is now resolved with 7.11.0.

[2019-11-11 01:57] #7100 closed, assigned to nobody

[2019-11-11 01:59] kevin-postman commented on #6296
This issue has been resolve in 7.11.0.

[2019-11-11 04:06] zerocool-kor commented on #4079
+1

[2019-11-11 04:07] seongmin commented on #4079
+1

[2019-11-11 04:09] shamasis commented on #7604
It could have worked during beta and canary stages.

[2019-11-11 04:24] shamasis commented on #7595
This will need more info to reproduce. Can you provide details that would help us reproduce this?

[2019-11-11 04:28] coditva commented on #7604
@nathanbAL you're right that it used to work, but that was only in early development releases where we were testing out ways to implement dynamic variables in the App. It was removed in the stable release along with some others which we did not intend to support.

Hope that solves your question; closing this issue.

[2019-11-11 04:28] #7604 closed, assigned to coditva, vikiCoder

[2019-11-11 05:56] kamalaknn commented on #6866
Duplicate of #7078

@rammesaran I'm closing this as a duplicate. Please follow the original issue for more updates.

[2019-11-11 05:56] #6866 closed, assigned to numaanashraf

[2019-11-11 06:05] kamalaknn commented on #6469
Duplicate of #7078

[2019-11-11 06:05] #6469 closed, assigned to nobody

[2019-11-11 06:30] grgakshay commented on #7609
@numaanashraf Please find the recording below :)
https://drive.google.com/file/d/1rJ_GjMaDykzZ7u6Coc8AfHvTyu6g4sAL/view?usp=sharing

[2019-11-11 08:55] groggi commented on #6296
As far as I can tell this issue seems partially resolved with 7.11.0. /ping @kevin-postman

On one machine (`Microsoft Windows [Version 10.0.18362.418]`) 7.11.0 works without the workaround. However, on another machine (`Microsoft Windows [Version 10.0.17763.805]`) the issue remains.

On the machine where it fails we deleted Postman folders both in `AppData/Roaming/` as well as `AppData/Local` bef

[2019-11-11 09:19] harryi3t commented on #7581
@gfauredumont Thanks for the feedback. While we work on improving our docs with the installation instructions, you can try installing Postman using snap.
Link: https://snapcraft.io/postman
You can either use the UI button `install` or install using a single command `snap install postman`

[2019-11-11 09:32] dzulliet commented on #6967
+1

[2019-11-11 09:43] VicKetchup commented on #7315
@preethammavin  @ankitjaggi I am currently facing this issue with a collection that I am trying to pull changes into. Shall I message help@getpostman.com as well or are you able to recommend some steps to fix this?

[2019-11-11 10:16] Cazaimi commented on #3272
cc @umeshp7 . Could you create a feature request for `Perl` support in https://github.com/postmanlabs/postman-code-generators ?

[2019-11-11 10:31] Cazaimi commented on #4733
@molpe, We've added support for `C#` and `Java` in the private documentation along with 21 other language frameworks. You can head over to http://web.postman.co/ to check them out!

We're currently working on adding support for these frameworks to Public Documentation.

[2019-11-11 10:59] GHBulborb opened #7619 "Providing a link or embed code to the latest version collection."
When updating a collection, the url link or embed code is changed because Postman is tracking versions so when saving a collection a new id is generated. This is very unfortunate when you are sharing a link to the collection on your website. When you save, it invalidates the link on the website.

A solution for this would be to provide a permalink for a collection, that always point to the latest

[2019-11-11 11:13] Akhil-WebDev opened #7620 "Unable to install the latest version of Postman 7.11.0"
I just downloaded the new .exe file from "https://www.getpostman.com/downloads/" for my respective system (Windows 7), the installation throws an error on trying to install.
![Postman](https://user-images.githubusercontent.com/39221179/68583096-58d83980-04a2-11ea-91a2-5da099655998.JPG)

[2019-11-11 11:26] shivam-postman commented on #7611
Hello @labossieresr , the fix will be out soon. Meanwhile, you can try the following steps to display the graph correctly:

1. Go to your workspace monitors.
2. Select a monitor, different from the one you want to view.
3. Refresh the page.
4. Go to your workspace monitors and select the monitor you wanted to view.

Do let us know if this doesn't solve the problem.

[2019-11-11 11:42] labossieresr commented on #7611
It did work as described!  Unfortunately, it only works this way that I can
tell. Meaning I can't even take the URL copy/paste into another browser and
have it work. I MUST follow your procedure for it to work.So I don't feel
it solved the problem as it seems inappropriate to require me to do it
every time. I view it more of a workaround or a troubleshooting step to
help you solve it the right way

[2019-11-11 11:59] shivam-postman commented on #7611
I agree, this is only a temporary workaround. The actual fix would be available this week itself. Apologies for the inconvenience.

[2019-11-11 15:00] AsimShakour commented on #6354
Thank you @vol24pl   that worked ^

[2019-11-11 16:07] numaanashraf commented on #7620
Thanks for reporting this @Akhil-WebDev. We are tracking this at #6707

[2019-11-11 16:07] numaanashraf commented on #7620
Duplicate of #6707

[2019-11-11 16:07] #7620 closed, assigned to nobody

[2019-11-11 16:24] cyrielle-hada commented on #7617
@AndreMaz clearing the local files for your Postman installation generally resolves this issue. You can find full instructions for doing so in [this article](https://support.getpostman.com/hc/en-us/articles/360025359014). If the issue persists, feel free to open a ticket from [this page](https://www.getpostman.com/support).

[2019-11-11 16:32] AndreMaz commented on #7617
@cyrielle-hada thanks :smile:  It solved the issue.
It would be nice if you could add a link to this article in the `Could not open Postman` pop-up

[2019-11-11 16:32] #7617 closed, assigned to nobody

[2019-11-11 16:53] cyrielle-hada commented on #7591
@drpiou would you be able to tell us some more about the nature of collections? How many requests do they contain? As explained in the issue #6463 - we recently added a hard limit on syncing of examples with a large request body (5MB).

[2019-11-11 18:43] #5504 closed, assigned to nobody

[2019-11-11 20:38] rgmembreno commented on #7569
Great news!  I tried logging in today with my Google account and it seems to be working.  It seems the problem is fixed in v7.11.0

[2019-11-11 21:40] jrmore opened #7621 "POST behaviour vs GET behaviour"
**Describe the bug**
The error behaviour of POST and GET appear to be different based on the contents of the root component of the URL.

**To Reproduce**
Steps to reproduce the behaviour:
1. `GET 192.168.2.22:8000//api/rebates/v1/getRebate?clientID=zz@zz.zz` works as expected as does `GET 192.168.2.22:8000/api/rebates/v1/getRebate?clientID=zz@zz.zz` with the only difference being the double vs sin

[2019-11-11 22:20] Aeroverra commented on #4733
@czardoz I assume the week eta @Raja-Simha gave was just a bit pre-mature? When this is added could you guys also allow a toggle of the ones we would like to display?

[2019-11-11 22:54] jcald1 commented on #7593
@saswatds , can you please clarify #3?

For #2, will it be possible make this limit configurable?

You can mark this issue as a duplicate of #5848 since it sounds like it is the same issue.

[2019-11-11 22:56] anishvarma01 opened #7622 "How to send a POST request of base64 string from body."
I have a fiddler post request. In that the body is base64 string and there is an header "Fiddler-Encoding: base64".

Can i make same request through postman? I tried it but i not able to decode the string. Does postman has this feature like fiddler?

[2019-11-11 23:14] spacedsweden commented on #4057
Any plan to support this?

[2019-11-12 03:04] prusswan commented on #4058
This will make the Visualize API with custom templates more useful. It does not make sense to duplicate the same template across tests since the templates have to be updated too at some point.

[2019-11-12 03:09] kamalaknn commented on #7617
@AndreMaz I'm glad the workaround unblocked you. We are tracking the root cause of this issue in #5373.

[2019-11-12 04:37] numaanashraf commented on #7379
We haven't gotten a response to our questions in our comment above. With only the information that is currently in the issue, we don't have enough information to take action. I'm going to close this but don't hesitate to reach out if you have or find the answers we need, we'll be happy to reopen the issue.

[2019-11-12 04:37] #7379 closed, assigned to nobody

[2019-11-12 05:57] harryi3t commented on #7608
@HKFiliatix The directory structure looks a bit weird. The directories `Postman-xxxxxxxx` and `Postman-old` and the file `Postman-xxxxxx.tar.gz` should be all inside the parent directory `Postman`
Did you manually rename/move some of the directories after unzipping the Postman package?

After downloading the Postman tar file from our website, it should be extracted as is without changing the direc

[2019-11-12 07:41] netroby commented on #4631
@codenirvana  this usage should add into document, make it easy to read and help us out.

[2019-11-12 07:42] preethammavin commented on #7315
@VicKetchup are you facing an issue with pulling changes into a forked collection?
It would be great if you can message on help@getpostman.com, with the collection id and the exact error you saw. We will try to get to the bottom of this asap.

[2019-11-12 07:45] preethammavin commented on #6271
@tmrdurgun do you mean to say that when you clicked toggle of the sidebar the collections disappeared? Clicking on the toggle should get it back let us know if its not there.

[2019-11-12 07:56] kamalaknn commented on #7609
@grgakshay It looks like in this case the bottom border of the editor is well beyond the bottom border of the Postman application. That is why dragging beyond the bottom border of the Postman app is not scrolling the editor immediately since it is still within the height of the editor.

[2019-11-12 08:13] vikiCoder commented on #7592
Hi, thanks for reporting the bug. We have verified the bug and will try to fix this as soon as possible. I'll update the thread once it is fixed.

[2019-11-12 10:54] Mr-LiuDC opened #7623 "19-bit Long type digital precision lost"
**Describe the bug**
Here is a problem that seems to exist in all JavaScript libraries. My ID is a 19-bit Long number generated by the Snowflake algorithm. When I click on the Beauty button, it also loses precision when it beautifies my Json.

**To Reproduce**
Steps to reproduce the behavior:
1. Open Postman and send a request，POST or PUT.
2. The parameter is row body like below：
[code]
3. When I

[2019-11-12 11:12] sriharikss opened #7624 "Postman getting stuck very frequently"
**Describe the bug**
When I am running a collection manually which has around 15 - 20 steps, postman is getting stuck. Once I click on the tab/step, it is taking time to open the same.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to any postman collection which has more than 15 steps
2. Run the steps continuously and click on next step

**Expected behavior**
Tool should not be hunged

[2019-11-12 11:22] qertis commented on #7286
+1

[2019-11-12 11:55] xiongxinxin opened #7625 "Why do i get a excel file named response.xls by postman,but i get a normal excel file from the browser address"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem. Please make sure the screenshot does no

[2019-11-12 12:00] shivam-postman commented on #7611
@labossieresr the fix is out and the page should be loading fine now. Can you please verify?

[2019-11-12 12:01] shivam-postman commented on #7579
@sebainones  the fix is out and the page should be loading now. Can you please verify?

[2019-11-12 12:57] mstaalesen commented on #6015
Sorry, missed this commend @kamalaknn

1. right now it is 248 env variables in 1 environment file.
2. the environment file:

 1248  2000 19323 feedback_env.json

so rougly 20kb in json?

I am on version 7.10.0 on Linux ubuntu 1604.

Sorry to say, but the performance is still shit and we are looking at replacing Postman with another tool in my team. Good luck in the future!

[2019-11-12 13:06] anirudhanagaraja opened #7626 "Support for exporting current values"
**Describe the bug**

The import of the postman environment will not take the values used previously also missing some variables.

**To Reproduce**
Steps to reproduce the behavior:
1. Create postman env .
2. export
3. Import the same in other postman
4. you can see the values are not present also missing some variables.

**Expected behavior**
A clear and concise description of what you expected to

[2019-11-12 13:09] anirudhanagaraja opened #7627 "Postman failing to respond"
**Describe the bug**
When you use the postman for many requests, it wont respond correctly.

**To Reproduce**
Steps to reproduce the behavior:
1. Use postman and try to hit many requests.
2. It fails responding .

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem. Please make sure the s

[2019-11-12 14:38] jsebas85 commented on #6761
Same problem here with version 7.10.0 for Mac

[2019-11-12 15:08] Cazaimi commented on #4733
@Aeroverra , if I'm not mistaken, you want that the final public documentation displays only the set of languages that you want to display? If so, I'd request you to add a feature request for the same and tag @Raja-Simha . Thanks.

[2019-11-12 15:29] labossieresr commented on #7611
It works if I open a new tab but not for the one that I had previously
opened (same browser session) . In that case, it actually doesn't work when
trying to switch between monitors now.(...loading). having said that, from
my perspective I feel I am good as it worked when loading in a new tab.

Thank you,
Steve

On Tue, Nov 12, 2019 at 7:01 AM shivam-postman <notifications@github.com>
wrote:

[2019-11-12 15:30] Millais opened #7628 "[Feature Request] Multi-team Collaboration"
Hello,

I'm currently working with Postman to rollout the Enterprise license at PayPal. The vision is that Postman is a standard part of the software package here.

Individual teams have different ways of collaborating together. Teams may wish to have more control over how team workspaces are structured – such that individual users can only share their collections in a defined workspace structure

[2019-11-12 15:33] kamalaknn commented on #6761
@jsebas85 Could you let us know if you're seeing any errors in devtools? You can find it by clicking `View -> Developer -> Show DevTools (Current View)`?

[2019-11-12 15:38] Millais opened #7629 "Add ability to share environments externally"
Hello,

I'm currently working with Postman to rollout the Enterprise license at PayPal. The vision is that Postman is a standard part of the software package here.

In our teams we would like the ability to share both collections _and_ environments externally with developers.

Today Postman offers the ability to share a collection via a link:

![Screenshot 2019-11-12 at 15 32 25](https://user-imag

[2019-11-12 16:19] badgolim commented on #6682
+1

[2019-11-12 16:40] cyrielle-hada opened #7630 "API limit"
API limit

[2019-11-12 16:56] Millais opened #7631 "Add ability to update current environment variable only"
Hello,

I'm currently working with Postman to rollout the Enterprise license at PayPal. The vision is that Postman is a standard part of the software package here.

Leading on from @rkeet's comment on #5173, we need the ability to only update the _current_ environment variable in Postman. In a collaborative team environment – where there are multiple team members using the same environment – pre/p

[2019-11-12 18:02] BaerMitUmlaut commented on #1946
Same thing here. ~60mb XML response, when trying to save the file my fans spin up, then black screen, then PostMan seems to go back to idle and never recovers from the black screen. The response also doesnt get saved, which is especially annoying.

[2019-11-12 18:10] sebainones commented on #7579
Yes. I have just verified it. It's working as expected :+1:
Thanks  @shivam-postman for fixing it so quickly.

[2019-11-12 20:29] ritman-us commented on #3803
any update would be helpful ... in addition if you just got the line number it failed would be helpful rather than the generic cannot find/convert

[2019-11-12 20:39] renansph opened #7632 "Keepalive TCP packet not being sent"
Bugs description:
Using Postman desktop, when i send a POST request that take a long to process on server i don't receive the asnwer. The same doesn't happen on Postman Chrome version. I've debugged with Wireshark and noticed that the desktop client is not sending keep alive TCP packets. The Postman Chrome version is sending normally. I don't need to set any header since im using HTTP 1.1.

Steps

[2019-11-12 20:50] bcbeatty commented on #6035
I do not have NODE_OPTIONS as a setting.
Postman stopped working at least 1 week ago.
I've tried to update and also re-install the update runs for about 20 seconds, splashes a postman screen then about 5 seconds later flashes once or twice then Task Man has Update.exe as a Terminated Task.

[2019-11-12 22:02] mrahleev commented on #2801
+1 very need protobuf support

[2019-11-13 01:02] DhaSur commented on #6761
I am facing the same issue as mentioned by **jsebas85** for version 7.10.0 on Mac.
Here is the screenshot from devtools

<img width="915" alt="Postman_7 10" src="https://user-images.githubusercontent.com/57692046/68723688-66f69900-060d-11ea-9257-a1e86315453d.png">

[2019-11-13 02:45] conradpronto commented on #6102
@preethammavin is there an update on this?  would it be possible to advise what mid-long term roadmap represents timewise?  3-4 months?  6-9 months?

[2019-11-13 02:47] happycappie opened #7633 "Eliminate the need for escaping in cURL commands"
If Postman could use single quotes to surround the json blob when it generates the curl command, that would eliminate the need for all the escaping in the generated examples/commands. Is this currently possible or would this be a feature request?

Also, should I be posting this here in Git or on Community (https://community.getpostman.com/t/eliminate-the-need-for-escaping-in-curl-commands/8972)?

[2019-11-13 02:51] conradpronto commented on #1070
+1 this is a small feature but would be immensely useful.

[2019-11-13 03:36] sankalp0o commented on #7628
Hey @Millais , thanks for letting us know! We're actively working towards providing teams more control. Can you tell me more about how this is becoming a problem for you? From experience, I can tell that having workspaces which aren't thoughtfully named can be confusing for people trying to find specific resources, but would love to hear more about the specific problems you are facing so we can de

[2019-11-13 03:53] mendoncangelo commented on #1434
What third party converter did you use?

[2019-11-13 03:56] harryi3t commented on #7625
@xiongxinxin We need the template (description, steps to reproduce, expected behavior, screenshots, app & OS info, etc) to be filled in order to triage the issue.

[2019-11-13 03:56] #7625 closed, assigned to nobody

[2019-11-13 03:58] harryi3t commented on #7626
@anirudhanagaraja Can you share the exported file and some screenshots after importing the environment showing the bug?

[2019-11-13 04:06] harryi3t commented on #7631
@Millais Updating the environment values from the pre/post script will always update the `current value`.
If will also update the initial value, if the setting `Automatically persist variable values` is turned on. If you do not want the initial value to be updated automatically, please make sure the setting is turned off.

![image](https://user-images.githubusercontent.com/5207331/68732221-b2eb130

[2019-11-13 04:06] anirudhanagaraja commented on #7626
Nope sorry , cant share as it is COBC..

[2019-11-13 04:11] harryi3t commented on #7626
@anirudhanagaraja Are you allowed to share dummy environments with random values? It would really help us debug the issue faster.

[2019-11-13 04:29] anirudhanagaraja commented on #7626
Here are the things which can be used as reference.. But in this you can see the values of env has got changed . In some other cases even the variables went missing.
![AfterImport](https://user-images.githubusercontent.com/48429042/68733314-3eb26e80-05fc-11ea-96a0-6b8f968a8784.png)
![BeforeExport](https://user-images.githubusercontent.com/48429042/68733315-3f4b0500-05fc-11ea-822c-e27f5310121f.png)

[2019-11-13 04:33] anirudhanagaraja commented on #7626
[Reference.zip](https://github.com/postmanlabs/postman-app-support/files/3839439/Reference.zip)

All the required docs..

[2019-11-13 04:33] kamalaknn commented on #6761
Thanks for the report @DhaSur

I'm re-opening this issue.

[2019-11-13 04:36] kamalaknn commented on #6761
@DhaSur Can you give us the complete logs from `Right Click -> Save As` on the devtools?

Can you try restarting the app in the meantime to see if the issue still persists?

[2019-11-13 04:51] tobyhede opened #7634 "Github backup integration does not list all repositories"
**Describe the bug**
When I attempt to create a Github backup, the  integration does not list all repositories in the pull-down menu. In my case it cuts off at repos starting with the letter "m"

We have 499 repositories, so I assume there is some filtering or limit happening.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Github Integration
2. Add a personal token
3. Open the "Choose

[2019-11-13 05:22] brendon-stephens commented on #3825
+ 1

[2019-11-13 05:51] DhaSur commented on #6761
@kamalaknn,

After restarting it this time, I am able to see the response but this was not the case earlier as I restarted a couple of times before posting here.

For the logs, it still shows some warnings.
Attached herewith for your reference.

[Console.log](https://github.com/postmanlabs/postman-app-support/files/3839587/Console.log)

[2019-11-13 06:09] kamalaknn commented on #6761
Thanks @DhaSur

[2019-11-13 06:20] Raj-postman opened #7635 "Request for an option to Contact support via Web dashboard"
**Is your feature request related to a problem? Please describe.**
Unable to contact support after being logged into the Web dashboard

**Describe the solution you'd like**
To provide an option that is similar to the one found in the application
![ContactSupport](https://user-images.githubusercontent.com/47771757/68737972-08302000-060b-11ea-9662-e1f53f7f1f10.png)

**Describe alternatives you've co

[2019-11-13 06:24] sankalp0o commented on #6596
Just wanted to post an update that we're looking at introducing Roles on environments in our short-term roadmap. There have been some decisions that we have to take to ensure that everyone will be able to adopt this smoothly, and we could use inputs from you!

Should Environment Viewers be able to add new variables to environment?

[2019-11-13 08:38] GHBulborb commented on #7619
Would be so good if this request would make it. We would finally be able to provide our customers the Postman collections again. Because of the manual labor involved copying the new url to the CMS each time you save a collection, multiplied by the number of APIs we offer, we pulled it. But customers still would like to have the Postman collections.

[2019-11-13 08:45] vikiCoder commented on #5365
Hi @neesonqk

I was able to reproduce the issue and identify the root cause of this. Postman sends two requests to the server for all `localhost` URLs. The first request is sent just to check the reachability of the server and it is closed immediately without waiting for the response from server. If the server is reachable then it will send the second request and show the response of the second re

[2019-11-13 09:10] neesonqk commented on #5365
@vikiCoder  thanks for the explanation, now I understood why is this happening, I created that server project for practicing purpose, I will indefinably modify my code to make is more robust, thanks again for the investigation.

Feel free to close this ticket if needed.

[2019-11-13 09:19] Raja-Simha commented on #7619
Thank you for your feedback @GHBulborb. We are aware of the static nature of links and embedded code. We are working on providing a dynamic link to a collection that will point to the latest version of the collection. We also plan to provide a dynamic embeddable Run In Postman but cannot give you any ETA on that yet.

[2019-11-13 09:33] Raja-Simha commented on #7633
@conradpronto Thank you for your feedback. In general, if you think your question could be answered by the wider community, our community page is a great resource. You can report bugs and feature requests on Github. We do keep an eye on both Github and our discourse pages.

[2019-11-13 09:58] Millais commented on #7631
@harryi3t How can we turn this off on a team level?

[2019-11-13 09:59] GuilhermeMorais commented on #2801
+1

[2019-11-13 10:06] spyro2000 commented on #4009
So, this is basically dead...?

[2019-11-13 10:14] shivam-postman commented on #7611
@labossieresr Can you please confirm that the old browser session you're referring to, was created ~24 hours ago?

[2019-11-13 10:23] m3dbedb commented on #7390
the issue in present in postman 7.11

[2019-11-13 10:31] kamalaknn commented on #7570
Hey @adamvan101

We've pushed a fix for this on the [canary channel](https://www.getpostman.com/downloads/canary) in Postman 7.12.0-canary01. We will keep this thread up to date when the fix is on the stable channel.

Please let us know if you are still seeing issues on the

[2019-11-13 10:45] Millais commented on #6596
@sankalp0o For our use case we have ~25 environments. Each has a basic set of core variables to start with. As a user progresses through various API requests, transactional/ephemeral variables get added to the environment by pre/post scripts.

Technically for this use case we would therefore expect an environment viewer to be able to add new variables to an environment.

If this was not possible,

[2019-11-13 10:52] SDixit1 opened #7636 "How to generate 11 digit random munber"
I want to generate 11 digit random phone number stating with 01 or 02

[2019-11-13 11:00] Millais commented on #7628
Hey @sankalp0o,

This is closely related to multi-team collaboration under a single Enterprise license (tracked on your [Trello roadmap](https://trello.com/c/mZ6svB1g/10-multi-team-collaboration)).

The vision is that we have 1000+ users using Postman at PayPal, extending our Enterprise license well beyond the existing teams today into different domains and organisations. This means that Postman w

[2019-11-13 11:05] kamalaknn commented on #7624
Hey @sriharikss

Do you see any actions other than opening a request in a tab slowing down? Also when you run 15-20 steps are you referring to sending individual requests in Postman App or running the collection in Collection Runner.

If you could give a screen-recording that will be useful.

[2019-11-13 11:12] kamalaknn commented on #7627
@anirudhanagaraja Closing this as a duplicate of #7624

Could you provide the following details on the **original thread**?

1. The version of Postman app you are using
2. Size of response for each of the request
3. Number of tabs you have open

[2019-11-13 11:12] #7627 closed, assigned to nobody

[2019-11-13 11:19] harryi3t commented on #7631
@Millais Right now this is not supported but we are already tacking a feature request for this https://github.com/postmanlabs/postman-app-support/issues/6852.
You can subscribe to this thread for future updates.

[2019-11-13 11:19] #7631 closed, assigned to shamasis, vvs11

[2019-11-13 11:22] harryi3t commented on #7626
@anirudhanagaraja That is the expected behavior. Right now `current values` are not exported.

[2019-11-13 11:32] abdulla-allaith opened #7637 "Load resources with relative links in preview tab"
As described in #2948 :

This causes issues when I am loading a page not developed by myself (I can't request changing all relative links to absolute links!).
It would make the preview tab as superior as it should be, replicating any normal browser (at least on loading css/js, previewing it as it was intended).

Only the 2nd part of the original issue was fixed:

The main part of the issue was ign

[2019-11-13 11:45] Rom1deTroyes opened #7638 "Bootcamp/Automated testing : Chaining non working if 'Send Postman Token Header' is off"
**Describe the bug**
When following the Bootcamp about Automated testing, the Chaining data between requests was non working because 'Send Postman Token Header' is off in my Settings.

As the lesson use this header, it show a strange behavour thas is not obvious to solve for beginers (like me :-) )

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Settings' -> Headers -> `Send P

[2019-11-13 11:52] m3dbedb commented on #6521
the issue is present in postman 7.11.0

[2019-11-13 11:59] ArjunSingh-PM commented on #7579
Thanks a lot for the confirmation, @sebainones!

[2019-11-13 11:59] #7579 closed, assigned to godfrzero, ArjunSingh-PM

[2019-11-13 12:03] Millais commented on #7628
Hey @sankalp0o,

This is closely related to multi-team collaboration under a single Enterprise license (tracked on your [Trello roadmap](https://trello.com/c/mZ6svB1g/10-multi-team-collaboration)).

The vision is that we have 1000+ users using Postman at PayPal, extending our Enterprise license well beyond the existing teams today into different domains and organisations. This means that Postman w

[2019-11-13 12:25] prashantagarwal commented on #6551
@RobinSmithTHR @cyrielle-hada This should be fixed now.

[2019-11-13 12:25] #6551 closed, assigned to prashantagarwal, anudeepmedicharla

[2019-11-13 12:26] prashantagarwal commented on #7521
@asi-postman This should be fixed now.

[2019-11-13 12:26] #7521 closed, assigned to prashantagarwal

[2019-11-13 12:55] labifrancis commented on #5273
This issue persists on Ubuntu and we were able to replicate it.

App version: '7.10.0-linux-x64'

Adding Postman protocol from the above comment didn't resolve the issue.

[2019-11-13 14:24] mserdur opened #7639 "Expired cookies are not deleted"
**Describe the bug**
A Set-Cookie header with an expiration date already exceeded does not cause the saved cookie to be removed.
Example:
After server returns following Set-Cookie header shortTermTicket cookie still exists and sent with requests.
shortTermTicket=;expires=Thu, 01 Jan 1970 00:00:00 UTC;Version=1;Path=/;Max-Age=0;HttpOnly

**To Reproduce**
Steps to reproduce the behavior:
1. Send a r

[2019-11-13 15:10] pitersO2 commented on #6596
I think the easiest way to start from is to block initialValues editing for "Viewiers". They can add new variables to environments but can edit only "Current Value" which is not shared across the whole team.

[2019-11-13 17:06] Rom1deTroyes opened #7640 "Bootcamp/Collaboration : Lesson doesn't work with acount email"
**Describe the bug**
If you use the email of your account, and :
- share as "collaborator" you got the message
    `You need to specify atleast one role that allows updating roles on this workspace`
- share as "admin" you got no message

In both case, the lesson stop and the % is droped to 0 (but still 'in progress').

**To Reproduce**
Steps to reproduce the behavior:

The 'Collaborator' flow
1. G

[2019-11-13 17:18] kelsonic commented on #4009
2 years later... 😭

[2019-11-13 18:28] jecaestevez opened #7641 "Import json failed"
**Describe the bug**
upload json file in collection runner fail

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'collection runner'
2. Click on 'Select file '
3. Import json file
4. See error

**Expected behavior**
the file should be loaded

**Screenshots**
![image](https://user-images.githubusercontent.com/1833176/68792474-b1970600-064b-11ea-99e2-4bc5417a83ee.png)

**App information (

[2019-11-13 18:32] jecaestevez opened #7642 "change font style for "Import" "runner" and "open new" buttons"
**Is your feature request related to a problem? Please describe.**
When I see "Import"  "runner"  and "open new" buttons, it looks like disable for me

![image](https://user-images.githubusercontent.com/1833176/68792630-02a6fa00-064c-11ea-85a7-d27b27f6c531.png)

**Describe the solution you'd like**
![image](https://user-images.githubusercontent.com/1833176/68792656-0dfa2580-064c-11ea-9eb9-7804c0fb

[2019-11-13 20:56] stcalica commented on #4230
user reports an issue with responses larger than 1GB

[2019-11-14 02:19] jehrlich opened #7643 "API default authorization"
When I import my OAS3 API spec with
[code]
the header key is added to each request. I would like the value to be `{{token}}` so I can authenticate from the environment, but I can't see a way to do that without pasting the value into each endpoint manually.

As a kludge, I could remove the `security:` from the API in Postman, and use Postman authentication. The catch with that is that default auth

[2019-11-14 05:40] codenirvana commented on #7626
Duplicate of #6728

[2019-11-14 05:40] #7626 closed, assigned to codenirvana

[2019-11-14 06:26] kamalaknn commented on #6296
Hey @groggi, sorry about the confusion. I'm reopening the issue.

Could you try the latest version of [PostmanCanary](https://www.getpostman.com/downloads/canary) and see if the issue still exists?

[2019-11-14 06:38] techmunk commented on #6712
I was having this issue as well. I then noticed postman was showing errors in my GraphQL API syntax. All of these errors were around the old implements syntax
[code]
Changing this to the new syntax
[code]
and then checking for other errors and correcting those, made the auto-completion work. So check for syntax errors and/or old or deprecated syntax.

[2019-11-14 07:45] Joulss commented on #7515
I have the same problem (Ubuntu 18.04 64bit / i3wm) when I click on any menu item.
The console reports "TypeError: Cannot read property '0' of undefined"

[2019-11-14 08:32] headler opened #7644 "Manage Environments window UX"
Hello,
I'm using postman desktop on windows for a while and recently met with your environments thing and this is awesome. But UX of "manage environments" window is horrible, sorry.

First thing is "Add" button - its located in a totally non-intuitive place, i take 3-10 seconds to find it bc you expect here "save/ok/update" button but not Add. Placing it on the top of window would look much better

[2019-11-14 08:42] agheorghe-careplanner opened #7645 "Importing and exporting a collection to json does not keep request responses in the same order"
1. Importing and exporting a collection to json does not keep request responses in the same order.
2. Exporting a collection and comparing to an export made from its fork will not have responses in the same order not allowing a correct diff.

**To Reproduce 1**
Steps to reproduce the behavior:
1. Export a collection to json (tried v2.1 and v2, both have the same behaviour)
2. Import the collection

[2019-11-14 09:12] gentarooka commented on #492
Any update?
This issue blocks my manager's decision to upgrade to Postman Pro...

[2019-11-14 09:23] mrdulin commented on #3358
+1, for macOS, shortcut should be <kbd>command</kbd> + `/`

[2019-11-14 10:56] #6518 closed, assigned to ratpik, Raja-Simha

[2019-11-14 10:57] bhargavkaranam commented on #6518
This issue has been fixed.

[2019-11-14 11:52] cyrielle-hada commented on #7263
@godfrzero is there any further information that would help in understanding the underlying issue?

[2019-11-14 12:05] ianbale commented on #2773
Hmm. I have a lot of items in my collections.

Usually I'm working on a handful at a time. So to be able to open that handful as tabs and have them "in the foreground" is very convenient.

Until today I've not had any problem with tabs. Certainly not multiple tabs opening for the same endpoint. Today though - I guess I got an update - clicking an endpoint default to replacing the current tab, not

[2019-11-14 12:08] ArjunSingh-PM commented on #7293
@cyrielle-hada, This issue is fixed. Can you please confirm that this works correctly for you now.

[2019-11-14 12:35] ArjunSingh-PM commented on #7225
Confirmed that this issue is fixed.

[2019-11-14 12:35] #7225 closed, assigned to godfrzero, ArjunSingh-PM

[2019-11-14 12:44] ArjunSingh-PM commented on #7173
Confirmed that this issue is fixed.

[2019-11-14 12:44] #7173 closed, assigned to godfrzero, ArjunSingh-PM

[2019-11-14 12:45] ArjunSingh-PM commented on #7161
Confirmed that this issue is fixed.

[2019-11-14 12:45] #7161 closed, assigned to godfrzero, ArjunSingh-PM

[2019-11-14 12:45] ArjunSingh-PM commented on #7160
Confirmed that this issue is fixed.

[2019-11-14 12:45] #7160 closed, assigned to godfrzero, ArjunSingh-PM

[2019-11-14 12:49] ArjunSingh-PM commented on #7281
Confirmed that this issue is fixed.

[2019-11-14 12:49] #7281 closed, assigned to godfrzero, ArjunSingh-PM

[2019-11-14 12:50] ArjunSingh-PM commented on #7124
Confirmed that this issue is fixed.

[2019-11-14 12:50] #7124 closed, assigned to godfrzero, ArjunSingh-PM

[2019-11-14 12:51] Wotuu commented on #4318
What's the status on this? I'm mostly interested in changing colors of the http methods which are inconsistent with Swagger.

![image](https://user-images.githubusercontent.com/811809/68858682-da6bd980-06e5-11ea-85cd-b89f010ad92f.png)

[2019-11-14 13:15] ArjunSingh-PM commented on #5378
Confirmed that this issue is fixed.

[2019-11-14 13:15] #5378 closed, assigned to ankit-m

[2019-11-14 13:20] ArjunSingh-PM commented on #5195
Confirmed that this issue is fixed. @godfrzero

[2019-11-14 13:21] ArjunSingh-PM commented on #4973
Confirmed that this issue is fixed. @Ramya-From-Postman

[2019-11-14 13:29] debjeetsarkar commented on #6382
This has been addressed.

[2019-11-14 13:29] #6382 closed, assigned to godfrzero, debjeetsarkar

[2019-11-14 14:03] arusahni opened #7646 "Cannot encode a plus sign in generated example code"
**Describe the bug**

I have a code example that has a `x-www-form-urlencoded` value with a plus sign. I'd like to escape this as a `%2B` instead of having it treated as a space or `%20`.  However, if I encode it in Postman, the rendered API documentation's cURL example escapes the `%` sign, resulting in `%252B`.

**To Reproduce**
Steps to reproduce the behavior:
1. Create an example code snippet

[2019-11-14 14:14] MrFail opened #7647 "Change values in json"
**Describe the bug**
When you put a json into raw section and press "Beatify" it change the values in json ( for long int).

**To Reproduce**
Steps to reproduce the behavior:
1. Choose "Raw" section
2. Put json format string
3. Click on "Beatify"
4. See error

**Screenshots**
Example:
![image](https://user-images.githubusercontent.com/11087193/68864098-3724bf80-06f9-11ea-8e20-21742d585a76.png)
Pre

[2019-11-14 14:46] cyrielle-hada commented on #7293
Yep, this works. 👍

[2019-11-14 14:46] #7293 closed, assigned to godfrzero, ArjunSingh-PM

[2019-11-14 14:51] raoulduke commented on #2240
A definite blocker for our work. Just when the team was warming up to Postman we encounter this after I implemented our SSO. Doesn't seem to be in the works or even on the radar, no responses even for the paying customers. Moving back to Restlet/Talend.

[2019-11-14 16:44] thirtified opened #7648 "Add support for all UUID versions (v1|v3|v5)"
It doesn't seem to be possible to load other uuid generators than v4. Following the [documentation for the uuid module](https://www.npmjs.com/package/uuid) linked in the [Postman API Reference](https://learning.getpostman.com/docs/postman/scripts/postman-sandbox-api-reference/#require), it should be possible to load a uuid v1 generator by one of the following lines:
[code]
However, none of the abo

[2019-11-14 17:16] ntbrierly commented on #7284
What was the resolution for this?  I'm running into this issue as well, I lost several days worth of work.  I tried to turn off syncing but apparently you can't do that without signing out.

[2019-11-14 17:21] ntbrierly commented on #4550
I've been experiencing this on 7.11.  I've tried to reproduce with combinations of Exporting, Importing, etc.  Finally I just turned Syncing off, which was a painful process.

[2019-11-14 19:01] stcalica opened #7649 "Add Notification Recipients emails for Daily Monitoring Summaries"
Filed on behalf of user

Some companies have a group email address for monitoring statuses. They may want to route the Daily Summary emails to this email.

Let's have an add notifier modal similar to what we have to Monitor's Notification Recipients for a team's monitors. It would also uncover all the monitors between a team and give visibility in another place for monitors.

[2019-11-14 22:01] xk0der opened #7650 "Keep comments private to a workspace for Collections shared within private workspaces"
Logged by Postman on behalf of a user.

**Is your feature request related to a problem? Please describe.**
For Enterprise users utilizing [Private Workspaces](https://learning.getpostman.com/docs/postman/workspaces/intro-to-workspaces/#private-workspaces), they may want to share Collections across multiple Private workspaces where outside contributors may be invited.

Currently, if you comment in

[2019-11-14 22:01] orkunkl commented on #2801
+1

[2019-11-14 22:05] #7558 closed, assigned to xk0der

[2019-11-14 22:21] xk0der commented on #7584
@vvs11 @preethammavin

@jabbott-EDR had reached out via our support channel as well. I have attached logs and details that were provided via the support channel, internally.

Thanks

[2019-11-14 22:26] lvejs opened #7651 "Not being able to connect to MS Dynamics using the rest end point (oAuth 2.0)"
**Describe the bug**
Not being able to connect to MS Dynamics using the rest end point (oAuth 2.0)

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
Successful JSON response with payload. Actual behavior (error) is "401 Access Denied".

**Screenshots**
If applicable, add screenshots to help explain your

[2019-11-15 05:17] codenirvana commented on #7648
@thirtified As mentioned in the documentation, the `uuid` module available is a shim for the original module and currently only supports v4.

[code]

Considering this as a feature request to support different UUID versions.

[2019-11-15 05:30] Ghusar commented on #7564
@markashton We have pushed the fix for this. Can you verify if it's working?

[2019-11-15 06:20] #4973 closed, assigned to ankit-m, kartikjain26

[2019-11-15 08:37] markashton commented on #7564
Hi Ghusar ... I can confirm I have now been able to merge my fork back to the parent collection. Thanks!

[2019-11-15 08:37] #7564 closed, assigned to Ghusar

[2019-11-15 08:39] PI-Victor commented on #3166
no rush with this, it's only been 2 years and a half

[2019-11-15 09:03] gbreeze commented on #3166
i hope nobody uses postman anymore. changed long time ago to insomnia (https://insomnia.rest).

[2019-11-15 12:02] LatinRickshaw commented on #285
+1
Any idea when this will become available?

[2019-11-15 12:25] cdraeger commented on #285
Never ever. Look at the creation date and comment history, that's all the answer you need.

[2019-11-15 12:42] LatinRickshaw commented on #285
The last comment previous to mine was 22 days ago. IMHO doesn't this mean the issue is still current? Also the fact that there are 213 comments, with a vast majority being +1's mean this is actually required?

[2019-11-15 13:34] cdraeger commented on #285
Yes this means there's a significant need for it (which still includes myself after 6 years). How significant in comparison to their user base I don't know.

But being realistic, Postman has stopped responding to this request a while ago, and considering the age I'd recommend you look for an alternative if this is a deal breaker for you. I don't think it will ever come, despite this ticket still b

[2019-11-15 13:42] Syslog2905 opened #7652 "Postman can not be shown on the screen when minimized"
**Describe the bug**
It is connected with #2833
**To Reproduce**
Steps to reproduce the behavior:
1. Use 2 monitors. Go to 'Postman' which is on the right monitor and click RestoreDown icon on the upper right

**Expected behavior**
Postman window to ger smaller. Instead it disapper from the screen, you can see it flkkering on the right outside the monitor.

**Screenshots**
If applicable, add scree

[2019-11-15 13:49] lfgcampos commented on #6682
+1

[2019-11-15 14:28] deshpandepramod commented on #4751
I have set 100 MB as max response size then also its crashing and blacking out...

[2019-11-15 14:40] jzabroski commented on #4751
@deshpandepramod Can you share your version info?

[2019-11-15 14:58] coditva commented on #4355
@omarw Hey we've identified the issue and we're already working on a fix! Will update here once the change ships. :)

[2019-11-15 14:59] ZLTM commented on #2761
+1

[2019-11-15 15:14] sharpyfox commented on #4079
+1

[2019-11-15 17:38] Stevoni commented on #7644
I'd like to piggy back on the shortcomings of the form by requesting that any updates to the window include switching from a fixed sized window to a resizable window. Long variable values, variable names, and nested variables are difficult to utilize in this screen.

[2019-11-15 17:44] Alacritous commented on #285
Ostensibly, this feature is a part of the Ecmascript specification but they originally used Google's implementation of the specification which explicitly did NOT include this feature as a security measure(not sure what the reasoning was, but that was the given answer when asked)

This is not a complicated feature and a competent programmer wouldn't be required to spend a great of time implementing

[2019-11-15 18:12] fabriziospurio commented on #3358
+1

[2019-11-15 18:35] codycraven commented on #7637
I just spent 30 minutes trying to figure out why I couldn't get CSS assets to load in the preview and finally stumbled upon this issue. I attempted mutating the response body in a test (so that I could convert absolute paths into fully qualified urls with regex) but it looks like mutating the body isn't possible.

[2019-11-15 19:56] kings38jk opened #7653 "newly replaced IndexedDB files error on startup."
Why cant I use the IndexedDB files in my new win comp...?????? being going at it for hours, even tried the new canary postman and replaced the IndexedDB folder with my old files, but same shiet.."contact help@postman.com" work on this. Kindly.

[2019-11-15 20:16] Bindu1006 commented on #2801
+1

[2019-11-15 21:34] discernment commented on #6682
+1

[2019-11-16 10:54] pf1gura commented on #2412
I see this issue was closed. I just installed Postman and I don't think this ever made it into the app. Is this not going to be implemented?

cc: @SamvelRaja

[2019-11-16 11:42] iambudi commented on #4552
Any update about this feature?

[2019-11-16 18:09] shamasis commented on #7623
Yep. That’s right. We currently need to parse the JSON to beautify and underlying limitations of number precision gets in the way here.

We are working towards solving this. cc @kamalaknn @postmanlabs/runtime

[2019-11-16 18:11] shamasis commented on #7647
Tracking here https://github.com/postmanlabs/postman-app-support/issues/7623

[2019-11-16 18:11] #7647 closed, assigned to nobody

[2019-11-16 18:17] shamasis commented on #7637
I’m afraid that the preview tab of app is not supported to load any external resource at the moment and shows the raw HTML alone. 😞

This request is already being tracked in another github thread. Will post updates when we pick this feature up. Meanwhile, I will find, check and update the other thread with progress.

[2019-11-16 18:17] #7637 closed, assigned to nobody

[2019-11-16 18:20] shamasis commented on #7636
Hey ... you can use Postman pre-request scripts to set value of a variable and use the same. You can also check if any of the built in dynamic variables meet your needs.

Also, you may reach out at community.getpostman.com for getting more detailed info on how to do these. Also, there’s a section on our docs highlighting how to use variables and scripts.

[2019-11-16 18:20] #7636 closed, assigned to nobody

[2019-11-16 18:21] shamasis commented on #7632
Hmm. That’s odd. As far as I know, keep alive sockets are sent by default. Let me loop in @codenirvana to check if something’s changed here or if there are any caveats.

[2019-11-16 20:19] JouzaLoL commented on #6271
Also have this issue, toggling the sidebar does nothing. Reinstalling doesn't work.

[2019-11-17 11:11] LeLunZ commented on #7495
I am still having the same problem.
Is there a fix?
Running:  `
chmod +x nativeserver-MacOS `   doesn't help

Postman won't connect to the interceptor Bridge.

[2019-11-17 20:30] xk0der opened #7654 "Ask for workspace before importing collection from Run in Postman button"
**Is your feature request related to a problem? Please describe.**
Currently for users on the free plan, if they import collections with requests that may exceed the sharing limit, there is no warning and the older Collections just get archived.

_References:_
* https://www.getpostman.com/pricing
* https://learning.getpostman.com/docs/postman/launching-postman/collaboration/#usage-limit-for-free-u

[2019-11-18 06:06] ankit-m opened #7655 "Automatic GraphQL introspection"
**Is your feature request related to a problem? Please describe.**
Auto complete GraphQL queries.

**Describe the solution you'd like**
When a GraphQL request is made, Postman can try to introspect the API internally and show an option to create a schema automatically and provide auto-complete of queries.

**Describe alternatives you've considered**
Manually fetching schema and creating an API.

[2019-11-18 06:52] abccbaandy commented on #5803
they should at least give an option to enable that feature, it's very inconvenient to manual copy and paste to some html online editor like this:
https://www.w3schools.com/tryit/tryit.asp?filename=tryhtml_default

[2019-11-18 07:08] ScholarOfCandlekeep opened #7656 "GrahQL takes id variable like a string"
Hello,

for some reason, the GraphQL beta takes an "ID" variable as a string in my
Automatic test. I define this as => "{{serviceId}}", but that ends with an error because Postman expects INT. On the other hand, in the "raw" body I have no problem with this variable because I used only {{serviceId}}.  This current variable is imported to the test through a test file created in Visual studio code,

[2019-11-18 07:21] billysAnna commented on #6349
The headers added in Pre-request Script does not appear in `code` feature. So, I have to append the  headers to the generated snippet manually.
Hope suport this feature. Thx.
My app version: v7.11.0

[2019-11-18 07:41] kefengwei commented on #2270
Any update for the feature?

[2019-11-18 08:10] kamalaknn commented on #7655
Duplicate of #6719

[2019-11-18 08:10] #7655 closed, assigned to nobody

[2019-11-18 08:38] codenirvana commented on #7641
@jecaestevez Looks like the JSON file you are trying to upload as an iteration data is not valid.
Can you verify the JSON content (must be an array)?

[2019-11-18 09:02] mecorre1 commented on #3438
+1
Any date for the feature?

[2019-11-18 09:21] kamalaknn commented on #7653
Hey @kings38jk,

The offline data stored in Postman has many other components outside of indexedDB. There are also a lot of system-dependent configurations that go into storage systems. We do not recommend copying over internal storage files.

If you are looking to move data from one installation to another we recommend

1. Signing up to a Postman account which will sync your data across all devic

[2019-11-18 09:21] #7653 closed, assigned to nobody

[2019-11-18 09:36] aleftinalex opened #7657 ""Two-pane view" option is shown as "OFF" in Settings, while the user interface shows two-panel view"
"Two-pane view" option is shown as "OFF" in Settings, while the user interface shows two-panel view

Steps:
1. Create an account and log-in to the app at the first time
2. In the set-up steps while logging-in chose the radio-button with "Two-pane view"
3. Check that user interface really shows Two-pane view ---> It shows correctly
3. Go to "Settings" --> User Interface

AR: "Two-pane view" option

[2019-11-18 10:22] codenirvana commented on #5806
@VicKetchup I am trying to reproduce the issue using the shared collection but not sure what's the exact problem is. 😕

Can you point me where exactly (which request) the tests are not executed?

[2019-11-18 10:56] VicKetchup commented on #5806
Hi @codenirvana,

I've just tried and it is the very first request in that collection, running manually the second test (swagger validation) was done, however through Collection runner it was not:
![image](https://user-images.githubusercontent.com/43671684/69046917-f0cdaa00-09f1-11ea-9ba3-096d7a4f92d8.png)

[2019-11-18 11:21] bdbais opened #7658 "SSL Certificate path change / Token requests linked to environment / folder"
Hi great programmers :)
Thank you for creating Postman, it's a very usefull tool :) and I like to use it.
I found 2 feature to resolve 2 little problems:

1) I changed my working folder from an hd to a cripted ones and all certificate must me deployed again, could you give possibility to change Certificate folder path directly from interface?
2) I tried token function to use OAuth2  and when I tak

[2019-11-18 12:21] codenirvana commented on #5806
@VicKetchup looks like the script/tests are getting executed but the assertions are not getting listed in the Runner UI.
Thanks for reporting this issue, will let you know once this issue is fixed.

[2019-11-18 13:06] vaibhavn opened #7659 "Postman client try out APIs locally( without upload to Postman workspace on internet)"
**Describe the bug**
I have an query( not a bug), there are some APIs with OpenAPI/Swagger JSON files.  I would like to import same to Windows Postman client. Would it upload these APIs to postman server/some default workspace when I import to postman client?
Please note that query is with respect to without logging-in to Postman workspace.
My product APIs are strictly designed for internal use an

[2019-11-18 13:08] Redsandro commented on #4594
[Chrome v66 means Electron 3](https://electronjs.org/blog/electron-3-0) which has a critical bug that on certain hardware [freezes the entire computer](https://github.com/postmanlabs/postman-app-support/issues/7393), making you lose all your work. The bug has been fixed in Electron 4 and up, but not Electron 3 because [Electron 3 is no longer supported](https://github.com/electron/electron/issues/

[2019-11-18 13:08] Redsandro commented on #7393
I can't be using Postman on one computer and an alternative on a different computer, because I cannot sync my requests. Because of my long relationship with Postman I've become emotionally attached to it, so I would have preferred to keep using it. But it's just plain unusable on certain hardware.

I'll be moving on to [Advanced REST Client](https://install.advancedrestclient.com/install), which u

[2019-11-18 13:40] groggi commented on #6296
I can confirm that PostmanCanary works without a workaround on the three remaining computers. Thank you. Looking forward to the next release.

[2019-11-18 13:51] jeangael-domine commented on #7220
Hi,

When is this release planned because this is quite an annoying feature as I do not manage to upload to my S3 implementation?
I tried to used the preview request feature to avoid using the AWS signature header but to no avail...

Does anyone know about a workaround?

Thank you

[2019-11-18 14:21] VicKetchup opened #7660 "[Feature Request] Warning/Alert (or other indication) for modified requests using pm.request"
**Is your feature request related to a problem? Please describe.**
Our collections have some code to test two different types of authentications that we allow. In order to do that we delete and add some headers (with pm.request.headers) to the request that is being made. This is great for monitors however when someone makes the call manually, they have no way of knowing that the original request w

[2019-11-18 14:36] VicKetchup opened #7661 "[Feature Request] Add collection sorting within workspace"
**Is your feature request related to a problem? Please describe.**
Some of our workspaces have a lot of collections, however not all may be useful for everyone and certainly some are less important than others, especially if you are working on something specifically. Since the collections are just sorted by names, people may need to dig quite a bit to find the collections they need.

**Describe th

[2019-11-18 14:53] VicKetchup commented on #6614
A big +1 for this to be implemented. This is one of the most useful things Automation can do.

Just like OP we are using a custom implementation for swagger 2.0 validations (loading external JS, obtaining swagger from our domain and specifying the definition in Pre-Request), however we are currently in discussions to move to OpenAPI 3, which our current setup doesn't support.

I do want to add tho

[2019-11-18 15:32] VicKetchup opened #7662 "[Feature Requests] Allow viewers to see Collection and Folder tests"
**Is your feature request related to a problem? Please describe.**
With the addition of version control, we started doing reviews on the changes to the collections and sometimes it is easier to look through code in collection rather than in the merge, however everyone needs to be added as editor to be able to see code in collections and/or folders.

**Describe the solution you'd like**
Allow viewe

[2019-11-18 15:53] cyrielle-hada commented on #7293
@ArjunSingh-PM not sure if the fix applied here affected the following issue but now Enterprise users, when they want to select static IP are seeing a wrong message.

![Unbenannt](https://user-images.githubusercontent.com/47351631/69067532-1fac4600-0a1b-11ea-8ab0-83b1c681463b.png)

I believe it should say something different like "Enterprise users can request the static IP option from our Enterpri

[2019-11-18 16:47] VicKetchup opened #7663 "Postman adding extra headers to response"
**Describe the bug**
We have noticed that our 204 responses started failing tests, as Content-Type header is being returned, however after inspection of our code we couldn't find any place where that header might be setup or returned. We then tried to make the same request through terminal (with -i to see response headers) and "OtherTool" and we saw that this header was only coming back on Postman

[2019-11-18 16:47] cyrielle-hada commented on #5273
Product Support has been able to replicate the issue.

This is what the logs seem to indicate.

File: `/var/log/syslog`
`gio: postman://app/collections/import/4e3ee3d03f6e2e7fc250?referrer=_ga%3D2.180787047.1170569768.1573159777-1954801145.1572986231#?: The specified location is not supported`

Google Chrome does not have any "postman://" handler set
[code]

No desktop handler is set either, follo

[2019-11-18 16:48] RobWaterhouse95 opened #7664 "Clicking "Collection Runner" tab whilst the runner is processing shouldn't cancel the run"
**Is your feature request related to a problem? Please describe.**
I was recently processing several runners simultaneously.
Whilst trying to spin up another runner instance. I needed some information from the "Collection Runner" tab from the previous runs.
Clicking on this button cancelled my runs, resulting in me not knowing where they got up to. I had to query databases to find out what request

[2019-11-18 17:16] theholiday commented on #6712
How is still not addressed yet?

[2019-11-18 17:42] akaczinski commented on #7220
Hi,

I've spent a good amount of time trying to find a work-around, but have not come across any successful solutions. However, it is in the "Ready" column for their Runtime Triage and Development board, so I would presume that means it's now just a matter of waiting until they push the changes.

[2019-11-18 17:52] chennareddy08 opened #7665 "Postman is hanging when open and not able to open stored collections"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem. Please make sure the screenshot does no

[2019-11-18 17:57] jecaestevez commented on #7641
Here we  have the json file  which I tried http
://www.microtalleres.es/courses/list
<http://www.microtalleres.es/courses/list>

On Mon, 18 Nov 2019, 09:38 Udit Vasu, <notifications@github.com> wrote:

[2019-11-18 20:55] Matt-VL opened #7666 "Postman thinks I am offline"
**Describe the bug**
Postman thinks I am offline so I cannot switch to my Team workspace.

**To Reproduce**
Steps to reproduce the behavior:
1. Click My Workspace
2. Switch to the "Team" tab
3. Notice error "You need to have an active internet connection to be able to switch to or create a workspace."

**Expected behavior**
Team workspace should appear allowing me to switch to it.

**Screenshots**

[2019-11-18 21:01] shamasis commented on #7658
Great ideas. Keeping note and will circle back. Thanks.

[2019-11-18 21:04] shamasis commented on #7660
I see where you’re coming from. The actual headers sent is currently output to Postman Console.

We have plans to show these in a different fashion and closer to the request tab sometime in future. Will keep this thread posted.

[2019-11-18 21:09] AlexaTkachenko opened #7667 "'An error occurred while running this request. Open DevTools for more info.' while running Collection Runner"
**Describe the bug**
The Postman Runner doesn't run the Collection of requests. The Collection contains 285 requests. But only 20 of them were run due to error 'An error occurred while running this request. Open DevTools for more info.'
GET
**Error:** read ECONNRESET
**Request Headers**
**Content-Type:** ""
**Authorization:** ""
**Request Body**
Type: "function PostmanQueryParam (options) {

[2019-11-18 21:19] senojj opened #7668 "Enterprise SSO sign-in hangs."
**Describe the bug**
When attempting to sign in as an enterprise user, the application hangs on a loading screen after selecting the configured SSO authentication method.
- This can be reproduced every time a user attempts to sign in via the SSO authentication method.
- This is verified to happen for users that have previously signed in via SSO method; it is unknown if this happens for new users w

[2019-11-18 21:42] cmagadieu opened #7669 "Exporting of examples does not maintain consistent ordering"
When I compare one version of a Postman collection with another one that I saved earlier today, the diff tool that I’m using tells me that I made multiple changes in the collection, when in fact I made a change to only one call. I’ve tried this with several diff tools, and the problem seems to be the way Postman is tracking changes. It’s telling me that in the most recent version of the file, I ch

[2019-11-18 22:14] stcalica opened #7670 "Team migration from Pro to Enterprise static regions still greyed out"
Team has migrated from Pro to Enterprise with static regions made available, yet still greyed out in-app and not selectable.

[2019-11-19 01:40] beeradmoore commented on #3807
@bhawna2109 m was there any update on this?

[2019-11-19 02:32] godfrzero commented on #7670
@stcalica Could you add steps to reproduce please?

[2019-11-19 02:46] nkjackzhang commented on #7342
I have same problem on windows,when i use the old version,the problem disppears

[2019-11-19 03:25] shivam-postman commented on #7670
https://github.com/postmanlabs/postman-app-support/issues/7293#issuecomment-555077866
I think this comment explains what the behaviour is and what it should be.

[2019-11-19 05:21] codenirvana commented on #7663
@VicKetchup Postman shows the exact same header it receives from the requesting server. Since these are response headers, we have no control over these.

I feel this is happening because of the additional headers we send while making the request, like `Connection: keep-alive`.

Try sending `Connection: close` and check if that removes the `Connection` headers.
I am not sure about the reason for `c

[2019-11-19 05:35] codenirvana commented on #7632
@renansph That's odd. The native app by default tries to establish a keep-alive connection (unless there's a `connection` header set).

Are you getting no response in the native app (is it getting timed out)?
Is it possible to share the endpoint publicly? If not can you send this request using `curl` with `-v` flag and share the verbose logs (without sensitive information).

[2019-11-19 05:37] codenirvana commented on #7623
Duplicate of #5658

[2019-11-19 05:37] #7623 closed, assigned to codenirvana, kamalaknn

[2019-11-19 05:43] codenirvana commented on #7641
@jecaestevez As mentioned previously, the iteration data expects an Array so just passing the `Courses` array will fix your issue. Like this:

[code]

Also, we recommend reaching out to the wider Postman Community (https://community.getpostman.com/) for help with issues like these.

[2019-11-19 05:43] #7641 closed, assigned to ash007-postman

[2019-11-19 06:38] sankalp0o commented on #7659
Hey @vaibhavn
You should be able to import an OpenAPI file to Postman without needing to logging in (using the Import button on the header). This will let you create a **[Collection](https://learning.getpostman.com/docs/postman/collections/intro-to-collections/)** which you can use to test the API on Postman. Without logging in though, you would not be able to create a Postman **[API](https://lear

[2019-11-19 06:38] #7659 closed, assigned to nobody

[2019-11-19 06:42] saswatds commented on #7669
Hi @cmagadieu  can you send snippets of all the `diff` that you see when it happens.
We have a hunch that it might be an ordering issue in the `responses` array which maps to examples in your request.

[2019-11-19 06:46] sankalp0o commented on #7661
@VicKetchup Thanks for the request!
Can you help me understand the problem better?
- Typically how many collections are we talking about here?
- Why do you think the order needs to be different for each user?
- How are you organising collections between workspaces? Have you faced any issues with splitting the collections between multiple workspaces?

[2019-11-19 06:50] sankalp0o commented on #7654
Thanks Amit!
We understand this experience can be jarring. For the time being, users can import collections in personal workspaces to avoid archiving other collections. We're considering allowing workspace selection at the time of import but don't have an ETA. Will keep you updated!

[2019-11-19 06:56] sankalp0o commented on #7650
Thanks for the feedback! We understand where the confusion comes from. In Postman, comments are visible to everyone who can view the collection, irrespective of the workspace.

I'm keeping the feature request open to limit the visibility of comments but this is not on our roadmap currently. Will keep you updated if we decide to pick this up. In the meantime, it's recommended to set more secure acc

[2019-11-19 07:13] anudeepmedicharla commented on #7146
@ArjunSingh-PM I guess we can close this issue now.

[2019-11-19 07:13] sankalp0o commented on #6596
Thanks for the feedback guys, will keep you updated about this! Please feel free to reach out with any additional context if it can be helpful to how the feature is designed.

[2019-11-19 07:21] sankalp0o commented on #7628
That was fairly comprehensive @Millais, thanks a tonne for this!

This is a good suggestion to build governance and we'll keep this in mind while introducing new roles or revamping the existing roles. I don't have an ETA but will keep you updated. We're still trying to understand challenges that larger Postman teams face.

[2019-11-19 07:23] sankalp0o commented on #7629
@Millais Did you mean sharing it publicly or in a closed group?

[2019-11-19 07:25] sherff commented on #7670
hi,
we upgraded from postman pro to enterprise but several enterprise features are still greyed out:
- Static IP Region in Monitor Feature
- I get a frequent reminder in the bottom left about archived collections, that there are too many and that I should visit a Link (to the postman web page) to solve it. this link points me to a not available site.

something seems to have gone wrong with the up

[2019-11-19 08:07] ArjunSingh-PM commented on #7146
This feature has been implemented. Therefore, closing this request. @aamir-ahmed

[2019-11-19 08:07] #7146 closed, assigned to anudeepmedicharla, preethammavin, ArjunSingh-PM

[2019-11-19 08:17] kamalaknn commented on #7342
@nkjackzhang Could you share the logs with us?

[2019-11-19 09:46] VicKetchup commented on #7661
Hi @sankalp0o,
As requested:

- We are responsible for 5 markets and depending on the system (there are 4 that we look after or into) we may have up to 5 environments. We fork collections for each environment to make it consistent with the code available on each, as we often add new features. We try to get all of the markets into one collection, however with the lowest level of our systems (the ma

[2019-11-19 09:56] VicKetchup commented on #7663
Hi @codenirvana,

Unfortunately that has not removed the connection header:
![image](https://user-images.githubusercontent.com/43671684/69135936-e672e500-0ab1-11ea-890c-d25bfce83f58.png)
I was also confused, as I tried a request to https://httpstat.us/204, which doesn't produce any of these, however two other tools, on top of our code inspection, show that we do not send these headers, so seems to

[2019-11-19 10:12] VicKetchup commented on #6851
@godfrzero @shivam-postman @preethammavin Feel free to close this or convert to a Feature request for custom search.

[2019-11-19 11:26] ponu25 opened #7671 "Dynamic variables in the request body returning 400 bad request when running the collection through Newman"
Dynamic variables like {{$randomPassword}} is working fine when I run the collection from Postman application. But, when I export the same collection as json and running it in jenkins with newman command, it returns 400 bad request. Please help.

[2019-11-19 12:00] appurva21 commented on #7667
Hey @AlexaTkachenko,

I couldn't reproduce the mentioned issue by following the steps suggested by you.
It would very helpful if you could share the collection that caused this issue or any other insights that might help us in reproducing the issue.

Thanks!!

[2019-11-19 12:02] codenirvana commented on #7671
@ponu25 Looks like you are using an older version of Newman.
Try updating the Newman dependency to the latest and try again.

[2019-11-19 12:08] alexwaddell opened #7672 "Chrome 66 embedded browser for Postman.co login blocked due to security concerns"
The embedded Chrome browser that is used to signing to Postman.co is using Chrome v66 - as this has significant security issues, this version and all others up to v77 are blocked at one of our clients, which means we cannot sign into Postman.co

Could someone please advise if/when the embedded browser will be updated to Chrome v78 or newer?

[2019-11-19 12:41] numaanashraf commented on #7672
Thanks for reporting this @alexwaddelluk. We are working on moving our authentication flows to the local installed browser and this change is scheduled to be available on an upcoming app version.

[2019-11-19 13:08] alexwaddelluk commented on #7672
Thanks @numaanashraf - do you have any timeline for this updated version as it is currently a blocker for my client!

[2019-11-19 13:26] MarvynRocher commented on #4946
Hello,
I want to know something, I'm currently using Postman, and creating API, Get requests, I have some question :
- How can I filter some responses in Postman, for example I have one Account, and few Names which are linked to this Account, I want to know how can I do run order to have the list of the names which are linked to this Account?

Thanks
Best Regards.

[2019-11-19 13:29] morbydance commented on #1070
+1

[2019-11-19 15:22] AlexaTkachenko commented on #7667
Hey @appurva21,

Thanks for your feedback, unfortunately, I can not share collection and environment that caused this issue due to the security point of view.  My collection contains 285 requests, and I have the Postman Plan.

Best regards,
Alexandra.

[2019-11-19 15:24] AlexaTkachenko commented on #7667
And I have reached the monthly usage limits of my plan.
![Postman 2019-11-19 17 23 14](https://user-images.githubusercontent.com/17069390/69159951-5f456180-0af1-11ea-90f5-de5a207067ed.png)

[2019-11-19 17:01] renato-milan-latam-com commented on #6669
Hi, there!

This serious problem has just happened to one of my collections. My username: [renato.milan@latam.com](mailto:renato.milan@latam.com).

**Bug description**
The collection _iPOS_ got suddenly disappeared from _Cappta_ personal workspace.

**To Reproduce**
1. Go to https://go.postman.co/me/collections;
2. Search for collection in question.

**Expected behavior**
Collection available to b

[2019-11-19 18:19] MarkusAnthony opened #7673 "Postman collection, web view, does indicate need for bearer token in collection documentation"
For my collection I setup authorization type to be "Bearer Token" but I do not see any indication in the web view documentation for my apis.

Steps to reproduce the behavior:

1. Go to a collection in the app
2. Click on ...
3. Click on Edit
4. Click on Authorization Tab
5. For Type choose "Bearer Token"
6. For Token put an environment variable such as {{token}}
7. Click Update
8. Click on Sync bu

[2019-11-19 18:28] stcalica commented on #2801
Commenting on behalf of user:

[2019-11-19 18:31] MarkusAnthony opened #7674 "Requests setup with Authorization do not indicate so in the documentation"
This is very similar to a previous post but this is at the request level.

For my request I setup authorization type to be "Bearer Token" but I do not see any indication in the web view documentation for this specific request.

Steps to reproduce the behavior:

1. Go to a collection in the app
2. Click on a specific request
4. Click on Authorization Tab
5. For Type choose "Bearer Token"
6. For Tok

[2019-11-19 18:39] tomjoht opened #7675 "Second menu selector doesn't work in Code snippets"
**Describe the bug**
When I try to click the arrow to see the second-level menu for code snippets, such as Javascript > jQuery, the second level isn't appearing. See https://www.screencast.com/t/lLrQpEz3

**To Reproduce**
Steps to reproduce the behavior:
1. Click Code.
2. Click the JavaScript option.
3. Click the arrow to expand the second level. The arrow doesn't show the submenu.

**Expected beh

[2019-11-19 18:52] andrewshawcare commented on #6614
It would be great, in general, if you could access the API spec via `pm`, like:

[code]

[2019-11-19 20:17] barb1223 commented on #4751
Having the same problem with postman crashing and getting a black screen.  Any updates on this?

[2019-11-19 20:26] jzabroski commented on #4751
@barb1223  YOu need to specify your version info

[2019-11-19 20:32] barb1223 commented on #4751
We're running Postman V7.11.0.

[2019-11-19 20:53] xk0der opened #7676 "Issues with Postman's Global/System Proxy"
### **Describe the bug**
**Issue 1**
Say if a Windows system is not domain joined but has to rely on a Proxy server that expects the username to be in the format `domain\username` - The Global proxy is trying to resolve the `domain` component and failing with the following error:

    Error: getaddrinfo ENOTFOUND domain domain:80

**Issue 2**
If Postman is setup to use System proxy and the proxy r

[2019-11-19 21:23] RyanHCCSI commented on #4594
adding the POSTMAN_DISABLE_GPU=true environment variable resolved the Postman startup issue for me.

My equipment is a Lenovo P52s running Windows 10 w/ 2 display adapters: Intel UHD Graphics 620 and NVIDIA Quadro P500.

[2019-11-19 21:38] stcalica commented on #5832
user reports this is an issue as well.

[2019-11-19 21:52] charlesritchea opened #7677 "Ubuntu 19.10 KDE Postman silently crashes on launch"
**Describe the bug**
When running KDE Plasma in Ubuntu 19.10, if I try to start postman, it just fails silently. No terminal output or anything. No postman process in ps -A

**To Reproduce**
Start postman

**Expected behavior**
Either postman starts or there is as least some feedback

**Screenshots**
N/A

**App information (please complete the following information):**
 - App Type: Native
 - Postm

[2019-11-19 22:18] JP-from-Postman opened #7678 "Allow Postman Docs to be embedded on another page"
**Is your feature request related to a problem? Please describe.**
Currently, it is not possible to embed Postman documentation on a site other than the docs page we host.

User comment:
https://community.getpostman.com/t/unable-to-host-postman-doc-from-my-webserver/9117
[code]

**Describe the solution you'd like**
Allow Postman documentation pages to embedded on other sites.

**Describe alternati

[2019-11-19 22:55] codenirvana commented on #7676
`Issue 2` i.e, prompt to enter credentials is not supported right now.
The only way to configure proxy which requires authentication is via configuring Postman global proxy.

`Issue 1`, I am not sure about `domain\username` format 😕, Is it configured like this:

<img width="696" alt="Screenshot 2019-11-20 at 4 17 59 AM" src="https://user-images.githubusercontent.com/4865836/69193798-9cd7d800-0b4d-

[2019-11-19 23:57] jhonsef commented on #5373
Hello, you can solve this problem by simply deleting the directory named `.config/Postman` in the root directory of your machine.

[2019-11-20 00:58] rdamus commented on #6035
Postman 7.11.0 seems to be the culprit.  i can launch the 7.10.0 executable from within the path `C:\Users\<username>\AppData\Local\Postman\app-7.10.0` and the application works properly.
The main.log file shows that the application automatically updated itself to 7.11.0 about 2 wks ago (11/7/19)
`[2244][1573150073670][main][info]["UpdateHandler~app-update-events - Received event",{"name":"electro

[2019-11-20 02:49] #5798 closed, assigned to nobody

[2019-11-20 02:58] xk0der commented on #7676
@codenirvana - Thanks for looking into this.

The Proxy Server "`hostname`" and the "`domain`" for the username may be different

`domain\username` is a format used primarily by MS Windows OS
Where the domain is a NetBIOS domain.
Reference: https://docs.microsoft.com/en-us/windows/win32/secauthn/user-name-formats

I had checked with the user if `UPN`  may work, which is in the format `username@dom

[2019-11-20 03:19] codenirvana commented on #7676
@xk0der As a workaround, can you check if encoding the `\` to `%5C` in the `username` fixes this issue?

[2019-11-20 05:17] xk0der commented on #7676
@codenirvana : I did have the user try that and that did not work, unfortunately.

[2019-11-20 06:03] Raja-Simha commented on #7673
@MarkusAnthony Thanks for your feedback.

We do show an icon indicating that a particular request needs authentication
![image](https://user-images.githubusercontent.com/45988836/69212964-c19d7100-0b88-11ea-8c1a-babf9fa485c2.png)

However, we do realize that we can show more information on how a request is being authenticated. I will keep this request open. Please feel free to share any more sugge

[2019-11-20 06:25] sankalp0o commented on #7644
Thanks a lot @headler and @Stevoni, this is great feedback! Some of the things you talked about have been observed by other users well and we'd definitely like to make the experience better. Will keep you updated when we make these changes.

[2019-11-20 06:31] sankalp0o commented on #6102
Hey @conradpronto, time wise 6-9 months is when we're looking at it. Will keep you updated on this thread when there's more progress!

[2019-11-20 06:58] aamir-ahmed opened #7679 "Admin is unable to login to the Postman application after mistakenly disabling all available authentication methods in the Team Settings"
**Describe the bug**
Admin is unable to login back to the Postman application after mistakenly disabling all available authentication methods in the Team Settings and logging out. Please note that the Team that the admin belongs to has a single admin.

**To Reproduce**
Steps to reproduce the behavior:
1. As a Team Admin, navigate to Team < Settings < Authentication
2. Disable all Authentication me

[2019-11-20 07:56] kaushik597 commented on #4084
{
	"variables": [],
	"info": {
		"name": "Multiple Iterations",
		"description": "",

	},
	"item": [
		{
			"name": "Request 1",
			"event": [
				{
					"listen": "test",
					"script": {
						"type": "text/javascript",
						"exec": [
							"if (iteration%2 === 0) {",
							"    tests[\"Status code is 401\"] = responseCode.code === 401;",
							"}",
							"else {",
							"    tests[\"Statu

[2019-11-20 08:29] Ramya-From-Postman commented on #6669
Hi @renato-milan-latam-com,

I see the collection "**iPOS**" has been deleted from your team workspace.
It could be possible that the other members of the team might have deleted it by mistake. Could you ask them to look for this collection in their Trash?

[2019-11-20 09:04] Ramya-From-Postman commented on #7202
The user has confirmed the issue is resolved after sync server Improvements.

[2019-11-20 09:04] #7202 closed, assigned to nobody

[2019-11-20 09:05] gdbhowmick commented on #7679
Hi Aamir, are you logged-in in any other devices (maybe Postman App)?

[2019-11-20 09:12] aamir-ahmed commented on #7679
Unfortunately, the user is the only admin on the team and is currently not logged on in any device.

[2019-11-20 09:18] Millais commented on #7629
@sankalp0o Sharing it publicly.

[2019-11-20 11:21] badmansan commented on #5222
Any plans to add this feature?

[2019-11-20 11:52] micheljung commented on #2240
@armarti so where's the code?

[2019-11-20 11:52] OlgaUtochka opened #7680 "Postman application turns black in full screen mode in Docker container"
**Describe the bug**
After the last update I cannot resize the window or use Postman in full screen mode because the window turns black after any action. I work in a Docker container, which may be the reason for this issue, though I haven't encountered this problem in previous versions.

**To Reproduce**
Steps to reproduce the behavior:
1. Open the Postman application.
2. Resize the window (or ope

[2019-11-20 12:04] cyrielle-hada opened #7681 "Improve message clarity when collection is removed"
**Is your feature request related to a problem? Please describe.**
After removing a collection from a team workspace and later trying to open it from the dashboard (https://go.postman.co/me/collections) it throws the below error message.

<img width="666" alt="Screen Shot 2019-11-20 at 11 29 43" src="https://user-images.githubusercontent.com/47351631/69236279-180baf00-0b8b-11ea-83cd-c26a2c68ce48.p

[2019-11-20 14:34] renansph commented on #7632
Sure, ill provid it.

[2019-11-20 15:16] eoneal89 opened #7682 "Graphql support in forked collections"
Currently if a collection is forked, changes for the beta graphql body are not accounted for when trying to merge changes back in to the origin collection.

It would be nice when changes occur in the graphql body that they appear in the list of changes in the merge tool.

There should at least be a way to force merge collections even when postman doesn't think there is a change.

[2019-11-20 15:17] renansph commented on #7632
Yes, i get no response. He keep waiting for the response and no error or timeout message is shown.

Sure, ill provide it.

[2019-11-20 17:08] ebookerd1 opened #7683 "Issue Setting variables with 'postman.setEnvironmentVariable' vs 'pm.environment.set'"
**Describe the bug**
I was creating functions to test globally in my project. For some reason the variables functions were not being saved when use `pm.environment.set`

pm.environment.set("utils", () => {
    var myFunction1 = () => {
        //do something
    }
    var myFunction2 = () => {
        let func1Result = myFunction1();
        //do something else
    }
    return {
        myPackage

[2019-11-20 17:13] ebookerd1 opened #7684 "show errors line numbers for `test` and `pre-request` in the console"
Sometimes I make mistakes in my code that cause failures that have nothing to do with the failure in a step. it would be nice to be able to know what line number something is failing so I can debug quicker.

[2019-11-20 17:39] JP-from-Postman opened #7685 "Selecting all in the Postman Console only copies visible contents of Window"
**Describe the bug**
First reported here: https://community.getpostman.com/t/copy-from-console-broken-only-partial-output-on-clipboard/9110/3

When selecting all (command + A) of the contents of the Postman Console and copying, only the contents visible in the window (plus a little extra) are copied. If the console contains a lot of log messages, this mean a lot is missed.

This is problematic if

[2019-11-20 17:49] Redsandro commented on #4594
Where are these flags documented?

[2019-11-20 18:05] Raja-Simha commented on #7674
@MarkusAnthony as replied to your previous request, this falls into showing more auth info in the documentation. Marking this as a duplicate.
Duplicate of #7673

[2019-11-20 18:05] #7674 closed, assigned to vkaegis, Raja-Simha

[2019-11-20 19:11] badrdami commented on #6682
+1

[2019-11-20 19:19] OG1NSystems commented on #3136
Is there any valid resolution for this?
As I get the same issue when I am trying to debug my application when using Visual Studio 2019, however if I use Visual Studio Code I do not get the errors.

I using a self signed certificate from visual studio so it goes to port 44316, but I should still be able to access port 5001 which I can't, nor can I get access to 5000 which I can when running it thro

[2019-11-20 20:34] cmagadieu commented on #7669
Sure. Here are all the diffs. Only the first one is a valid difference from the previous file to the current one.
[PostmanDiffs.docx](https://github.com/postmanlabs/postman-app-support/files/3871238/PostmanDiffs.docx)

[2019-11-20 21:09] jrnt30 commented on #3561
Would love to see this. Our organization uses this fairly heavily and being able to quickly and safely navigate to the variable we are looking to change would save a signficant amount of time

[2019-11-20 22:53] tomjoht commented on #7675
I noticed that the submenu becomes visible if I scroll right at the bottom: https://www.screencast.com/t/R6L84vLcWiI. It looks like the fix would just involve widening that drop-down column or something.

[2019-11-21 04:07] menglingxuan opened #7686 "'pm.request.url.query' doesn't contain any disabled query params while the request method is "GET" while the request is send by using 'run collection' feature"
**Describe the bug**
'pm.request.url.query' doesn't contain any disabled query params while the request method is "GET" while the request is send by 'collection run' feature

**To Reproduce**
Steps to reproduce the behavior:
1. create a collection
2. add a request to collection, (the request method is "GET")
3. add two query params named: "test1", "test2", which the "test2" param is disabled
4. wr

[2019-11-21 04:27] kamalaknn commented on #7485
This should be fixed in Postman 7.12 😄

[2019-11-21 04:27] #7485 closed, assigned to nobody

[2019-11-21 04:46] RetroAsmDev commented on #2517
The "+" symbol should is still not encoded in URL queries as "%2B" in Postman ver. Version 7.11.0 on win32 6.1.7601 / x64

[2019-11-21 04:47] RetroAsmDev commented on #4555
The "+" symbol should is still not encoded in URL queries as "%2B" in Postman ver. Version 7.11.0 on win32 6.1.7601 / x64

[2019-11-21 05:03] harryi3t commented on #7680
@OlgaUtochka Could you share with us the logs `View -> Developer -> View logs in File Explorer`?
Also, will it be possible to share the docker setup with us so that we can take a look?

[2019-11-21 05:06] menglingxuan opened #7687 "add a property to 'pm.info' object to tell that whether the request is send by using 'collection run' or not"
**Is your feature request related to a problem? Please describe.**
None.

**Describe the solution you'd like**
add a property to 'pm.info' object to tell that whether the request is send by using 'collection run' or not

**Describe alternatives you've considered**
None.

**Additional context**
I have write some script to do api automation testing. the code is designed as public code(means the code

[2019-11-21 05:08] harryi3t commented on #7677
@charlesritchea Are you using Wayland?
If not sure, you can check using `echo $XDG_SESSION_TYPE`

[2019-11-21 05:19] kevin-postman commented on #6296
@groggi 7.12 is now released. Can you give it a try and let us know if there are any problems. Closing this.

[2019-11-21 05:19] #6296 closed, assigned to nobody

[2019-11-21 05:23] kevin-postman commented on #7601
@BdR76 This should now be resolved in the latest release, 7.12.

[2019-11-21 05:23] #7601 closed, assigned to nobody

[2019-11-21 05:24] kamalaknn commented on #7570
@adamvan101 This is released as part of Postman 7.12. I'm closing this issue now.

[2019-11-21 05:24] #7570 closed, assigned to nobody

[2019-11-21 05:47] mprice-mule commented on #1906
Can someone confirm if (or when) Postman will fully support RAML 1.0?

[2019-11-21 07:02] rashmi-tondare commented on #2847
+1

[2019-11-21 07:34] SherloxFR commented on #2847
Please avoid "me too" or "+1" comments. Instead, use a thumbs up reaction on enhancement requests. Maintainers will often prioritize work based on the number of thumbs on an issue.

[2019-11-21 08:46] coditva commented on #6141
This issue is fixed and out in the latest Postman App (`v7.12.0`).

[2019-11-21 08:46] #6141 closed, assigned to numaanashraf, coditva

[2019-11-21 08:56] coditva commented on #5642
@Alexsey This issue is fixed and out in the latest Postman App `v7.12.0` near you!  🎉

[2019-11-21 08:56] #5642 closed, assigned to codenirvana

[2019-11-21 08:56] coditva commented on #6904
@medjai This issue is fixed and out in the latest Postman App `v7.12.0` near you!  🎉

[2019-11-21 08:56] #6904 closed, assigned to coditva

[2019-11-21 08:56] eason-shsf commented on #5920
this solved my problem, a saved request could be duplicated

[2019-11-21 08:58] coditva commented on #5705
@rishabhgpt This issue is fixed and out in the latest Postman App `v7.12.0` near you!  🎉

[2019-11-21 08:58] #5705 closed, assigned to nobody

[2019-11-21 08:59] coditva commented on #7109
@xk0der This issue is fixed and out in the latest Postman App `v7.12.0` near you!  🎉

[2019-11-21 08:59] #7109 closed, assigned to codenirvana

[2019-11-21 09:05] coditva commented on #4196
@foresterr @jd-carroll This behaviour can be used in the Postman App by enabling the option `Follow Authorization Header` in the `Settings` tab in the Request Builder.

![image](https://user-images.githubusercontent.com/8445768/69322952-cf77f280-0c6b-11ea-83c7-5661955c8f79.png)

Note: You would need to have `Automatically follow redirects` setting to be `on` too.
Do let me know if you face any iss

[2019-11-21 09:05] #4196 closed, assigned to codenirvana

[2019-11-21 09:27] VicKetchup commented on #7294
With the current version (7.12.0) on Mac the performance of the app has been really good, second day without any freezes or need to quit, recommend for everyone to try it out!

[2019-11-21 09:28] xneg commented on #7495
Any luck with this issue? I have a problem too. OSX Catalina. Before OS update it worked for me.

[2019-11-21 09:48] KeithT commented on #1066
+1 This takes ages one by one

[2019-11-21 10:41] kamalaknn commented on #7294
Hey @VicKetchup

We have pushed some performance improvements that should improve the experience when working with environments.

Glad that it worked for you. Thanks for letting us know.

[2019-11-21 10:51] charj commented on #285
Sounds like you're volunteering :)

[2019-11-21 11:05] #3473 closed, assigned to numaanashraf

[2019-11-21 11:16] dk6607 opened #7688 "Postman improvements"
Hello,

First of all Postman is a great api tool, congrats. With a little bit of fine tuning could be even better :)

- see the number of objects inside json array
- json array filtering by keys/values
- ability to rename tabs
- 2 rows of tabs

Have a nice day.

Regards,

Damjan

[2019-11-21 11:29] AnastasiyaSm opened #7689 "The application crashes if the request returns a large amount of data. In my case, 18 MB"
The application crashes if the request returns a large amount of data.

Send a post request as a result of which voluminous data will return (see screenshots. 1 screenshot corresponds to "did not crash", 2 screenshot - "crash"

Actual result - application black screen

Run a Runner that includes a query that returns bulk data
Actual result - application terminated

**App information (please comple

[2019-11-21 11:36] gonglong commented on #2030
still not work after cmd + click on Mac on version  7.11.0

[2019-11-21 11:48] gonglong commented on #2030
fixed in 7.12.0

[2019-11-21 12:02] saswatds commented on #7689
Hi @AnastasiyaSm, Can you confirm if you are consuming the response in the `Test Script`?

[2019-11-21 12:13] saswatds commented on #7669
Hi @cmagadieu, I can confirm that this is an issue with the **ordering** of the `examples` and does not contain previous changes. The extra diffs are showing changes in order.  There has been a long-standing issue https://github.com/postmanlabs/postman-app-support/issues/1070 where are tracking this. But meanwhile, we will try to ensure that exports have a consistent ordering of `examples`

[2019-11-21 12:16] sorakiu commented on #7495
@xneg @LeLunZ - did you run it manually? until I ran it - catalina's security protections wouldn't let it start.

[2019-11-21 12:19] saswatds commented on #7676
@xk0der Is the proxy-server being used by any change an NTLM proxy? We do not support NTLM proxy as of now. Tracking the same as a feature request here https://github.com/postmanlabs/postman-app-support/issues/3692

[2019-11-21 12:20] AnastasiyaSm commented on #7689
![image](https://user-images.githubusercontent.com/58032676/69337578-4617ee80-0c72-11ea-9e35-cffdf341b450.png)
[response.txt](https://github.com/postmanlabs/postman-app-support/files/3874599/response.txt)

[2019-11-21 12:22] xneg commented on #7495
@sorakiu what **it**? Sorry, I didn't understand your workaround. I used this instruction https://community.getpostman.com/t/interceptor-integration-for-postman-native-apps/5290
When I run chrome from terminal I don't see your errors. So I thought that your workaround is not for me. What is `nativeserver-MacOS` and where I can find it?

[2019-11-21 12:23] cmagadieu commented on #7669
I’m not sure I understand the expected timeline in which you’ll fix the
issue. We need an application that saves the revision history accurately.
We frequently pass a collection back and forth between the developers, QA,
Test Automation, and the tech writers, all of whom need to be able to do an
accurate diff to see what the previous person changed.

Cheryl

On Thu, Nov 21, 2019 at 7:13 AM Saswat

[2019-11-21 12:29] saswatds commented on #7588
Hi @ljppttfn, The new codegen has the setting to stop including temporary headers in the generated code.
![Screenshot 2019-11-21 at 5 57 37 PM](https://user-images.githubusercontent.com/8796447/69338089-6a7ec580-0c88-11ea-99aa-00952924d3a5.png)

[2019-11-21 12:29] #7588 closed, assigned to nobody

[2019-11-21 12:30] codenirvana commented on #7683
@ebookerd1 That's expected behavior.
The deprecated `postman.setEnvironmentVariable` API automatically converts the non-string input to its string representation, however with `pm.environment.set` you have to manually convert to string.

In this case, you have to convert the function to its string representation using the `toString` method.

[2019-11-21 12:30] #7683 closed, assigned to nobody

[2019-11-21 12:32] saswatds commented on #7540
Closing this issue due to inactivity. Feel free to re-open this issue if you have more info and can help us identify the bug.

[2019-11-21 12:32] #7540 closed, assigned to nobody

[2019-11-21 12:40] renato-milan-latam-com commented on #6669
Hi, @Ramya-From-Postman!

As you can also see, there is anybody else being part of my team workspace.
Where can I find my Trash? So I could also check if perhaps I deleted it by mistake.
Anyway, is there a way to restore it from Trash?

Looking forward to hear from you again. Regards,

Renato

[2019-11-21 12:43] Nia-STN commented on #5843
Hello, I have the same issue. Not the whole JSON response is beautified, no matter if it is a larger or a short response.

![Response_not beautified](https://user-images.githubusercontent.com/58035396/69339043-2cc07380-0c6d-11ea-9f2d-03a06e8daa38.png)

[2019-11-21 12:47] Nia-STN opened #7690 "JSON response in Postman not beautified after the point where a new line is present"
**To Reproduce**
I am executing this against an internal endpoint, so do not know how to provide you more details for reproducing. Please advise.

**Expected behavior**
The whole JSON response to be beautified, not just one part of it.

**Screenshots**
![Response_not beautified](https://user-images.githubusercontent.com/58035396/69339284-a8222500-0c6d-11ea-9432-d0fc1b574a91.png)

**App information

[2019-11-21 12:53] vikiCoder commented on #7220
This issue is fixed in the latest release of the Postman App (v7.12).

[2019-11-21 12:53] #7220 closed, assigned to vikiCoder

[2019-11-21 12:57] vikiCoder commented on #6785
This issue is fixed in the latest release of the Postman App (v7.12).

[2019-11-21 12:57] #6785 closed, assigned to himanshu226

[2019-11-21 13:03] tmrdurgun commented on #6271
@preethammavin  After I restarted my computer, my collections was hidden first and after i clicked toggle, it showed.

[2019-11-21 13:35] jjware commented on #7668
I have verified that this issue is network related. However, it may be a good idea to introduce a timeout here with appropriate messaging.

[2019-11-21 13:45] LeLunZ commented on #7495
nativeserver-MacOS is in the postman Interceptor Bridge Folder.

I ran it via Terminal and Finder and in the Terminal there was no error. And security protection wasn’t there.

[2019-11-21 13:54] xneg commented on #7495
@LeLunZ As I see there is only manifest file `com.postman.postmanapp.json` that is copied via script. What should we make executable?

[2019-11-21 14:31] CaptainBlasteroid commented on #6696
I would also love to see this GUI update in a future release. Opening the Environment Quick Look window each time I'd like to view/update a variable only adds one click to the process, but it's an extra click that I wish I didn't have to make.

Having the ability to add the Quick Look window somewhere in the GUI or, similar to the Postman console, have it as a separate window would make viewing an

[2019-11-21 14:40] charlesritchea commented on #7677
I think I was using x11 at the time. I was remote and couldn't restart. Once I got into the office and restarted the problem went away. I noticed the process name was Postman, not postman, so it's possible it was just a zombie preventing new instances. Either way, some feedback would have been nice. Closing since I can't reproduce now

[2019-11-21 14:40] #7677 closed, assigned to nobody

[2019-11-21 14:40] charlesritchea commented on #7677
@harryi3t ^

[2019-11-21 15:16] frosk1 commented on #2801
Please state a solution here

[2019-11-21 15:44] Rom1deTroyes commented on #7640
May be related with #6551 ?

(also tried with an other email address : the lesson don't finish event when the Collaborator accepts the invitation and use the Collection.

[2019-11-21 16:02] DeadcatDev commented on #675
+1
#10yearschallenge

[2019-11-21 16:11] atomical commented on #675
+1

[2019-11-21 16:37] sanjkagm opened #7691 "[Feature Request] Description tab in request pane"
Hi Postman people.

I am making our platform's API  PM collection that will be shared across our customers. Some our requests, request fields or their responses aren't very self explanatory or have some "bells and whistles". I wrote a descriptions for each request and realized that it's not that intuitive to find these descriptions, especially for new Postman users.

My suggestion is to add **Desc

[2019-11-21 17:19] samuelhaddad-toast commented on #1946
Hi @saswatds is there any official word on this? Seems like we are getting a few people experiencing the issue.

[2019-11-21 18:23] thomasazdon opened #7692 "Newman flags all visualizations as errors"
We use newman command line to run against all of our postman collections prior to distributing to clients.  Our QA team relies on error reporting to determine pass / fail of the tests.  All requests with visualizations throw errors.

**Describe the solution you'd like**
We would like a way to either exempt visualizations from the testing - or have the visualizations tested.

**Describe alternative

[2019-11-21 18:28] Alacritous commented on #285
If you look up examples of bad coding practices, you'll find a picture of me.

[2019-11-21 18:53] rickmellor commented on #1946
Bump.  I'm running automation via Runner with 50k records and it really struggles.  The UI just hangs and the process is unreliable.

[2019-11-21 22:10] chrisjohnson commented on #7528
Hi, I'm not sure what may have changed, but it seems like what was once valid according to the PUT schema is now being rejected from the endpoint:

[code]

At this point I can't post ANY environments

[2019-11-21 23:51] AncAinu commented on #4751
Same problem here

[2019-11-22 01:50] efiark commented on #7198
I am having the same issue.  I can do a search in some of my Workspaces but not in one particular Workspace.   But others on my team can search in that Workspace.
Also if I search in one of the other Workspace, then try to search in the problem Workspace, I get the same information returned as I did for the previous search. (see below)

I have tried uninstalling and re-installing the app, but that

[2019-11-22 03:47] Camios commented on #7676
@codenirvana for `Issue 2`, is there a feature request to enable prompting or text boxes to provide [domain\]username and password for a system proxy? Does postman support pac files?
Also why aren't my HTTP_PROXY environment variables recognised when I use a batch file to set them and then start postman?

@saswatds I am double checking with the network team regarding proxy auth type.

[2019-11-22 03:55] nixizi commented on #4009
Any news?

[2019-11-22 05:21] amolv commented on #3438
yes, we need offline docs!

[2019-11-22 05:48] ashwin24aug commented on #4171
I am sending POST request from postman with below URL
https://[2405:200:1413:100:0:0:7:44]:6050/ERM/eventHandler/

and getting below response from postman

Could not get any response
There was an error connecting to https://%5B2405:200:1413:100:0:0:7:44%5D:6050/ERM/eventHandler/.

Can anyone please let me know how to fix this?

Note: when I use http in the URL, it works perfectly fine. Issue occur

[2019-11-22 05:55] codenirvana commented on #7575
@newmangreen I am not able to reproduce this issue using `postman-echo`.

![Screenshot 2019-11-22 at 11 20 51 AM](https://user-images.githubusercontent.com/4865836/69401140-3f44b680-0d1a-11ea-804c-07d4f4435ac0.png)

Can you share a scaled-down collection which we can use to reproduce this issue?

[2019-11-22 05:59] codenirvana commented on #7663
@VicKetchup Looks like the requesting server is respecting the request headers to generate response headers.
Can you check if sending `Connection`, `Accept-Encoding` etc. headers to the other clients (curl) also behave the same way?

[2019-11-22 06:25] saswatds commented on #1946
The processing and representation of large user datasets is a performance issue that we are actively looking into.  For getting more out of the existing system we are experimenting a few things internally and also re-architecting some parts of the app. We will keep everyone updated once we have a breakthrough.

[2019-11-22 06:29] sankalp0o commented on #7681
Thanks for reporting @cyrielle-hada ! You're absolutely correct that this is not very clear. We'll definitely improve the messaging here and also consider having another section for collections like these.

[2019-11-22 09:00] lefeudelavie commented on #6682
+1

[2019-11-22 09:55] AnastasiyaSm commented on #7689
pm.test("Response time is less than 200ms", function () {
    pm.expect(pm.response.responseTime).to.be.below(200);
});

var schema = JSON.parse(pm.globals.get('pointAll'));

pm.test("Схема валидна", function() {
  var data = JSON.parse(responseBody);
  var valid = tv4.validate(data, schema, false, true);
  if (valid !== true) {
      // console.log(tv4.error);
      console.log(tv4.error.dataPath

[2019-11-22 10:00] irenemp-tel commented on #6682
+1

[2019-11-22 10:16] bparthu commented on #6682
I guess the WS uses different protocol and [SSE](https://developer.mozilla.org/en-US/docs/Web/API/Server-sent_events/Using_server-sent_events) uses HTTP protocol with "text/event-stream" response header to keep the connection open and streams data from server. Unlike WS, after establishing the connection, data flow is uni-directional (always from server to client)

I would love to see a sample usi

[2019-11-22 10:54] OlgaUtochka commented on #7680
Sorry, I cannot share the docker setup at the moment. By the way, two days ago I was able to work in Postman if a window was small enough, but now it turns black immediately, even in a small window :( The only thing I can see before it gets black is the small button on the top (like it's connecting/updating the info). And sometimes the app just crashes. I thought that it could be connected to othe

[2019-11-22 10:57] AnastasiyaSm commented on #7689
Without test scripts, it also crashes. For experiment, removed scripts

[2019-11-22 11:40] blackbyte-pl commented on #4091
Any update on that? request seems to support it now, but postman still not.

[2019-11-22 12:42] Syslog2905 opened #7693 "Postman 7.11.0, 7.1.1 and 7.10.0 can't start on Windows 10"
**Describe the bug**
Postman 7.11.0, 7.1.1 and 7.10.0 can't start on Windows 10

**To Reproduce**
Steps to reproduce the behavior:
1. Install Postman
2. Start it from Windows start menu or Run as Administrator ( does not matter)
3. Error pops up: "Please contact support"
4. Postman hangs on Preparing your workspace
**Expected behavior**
To start normally
**Screenshots**

**App information (please

[2019-11-22 12:47] Syslog2905 commented on #7693
[pluginHost.log](https://github.com/postmanlabs/postman-app-support/files/3879540/pluginHost.log)
[renderer-auth.log](https://github.com/postmanlabs/postman-app-support/files/3879541/renderer-auth.log)
[renderer-console.log](https://github.com/postmanlabs/postman-app-support/files/3879542/renderer-console.log)
[renderer-requester.log](https://github.com/postmanlabs/postman-app-support/files/387954

[2019-11-22 13:33] johnnyce commented on #7301
Happy Friday :)

Our company (with an Enterprise subscription) has also stumbled upon this bug. When a PARAM is disabled it does not show up on end user documentation. Basically if you have EXCLUSIVE OR (or similar situation) PARAM Name / Value / Description it cannot be represented in Postman.

A support ticket suggested this is normal / expected behavior for parameters in documentation; however,

[2019-11-22 13:34] jeangael-domine commented on #7220
Great! awesome!!! Thank you!!!

[2019-11-22 13:52] Quozzo opened #7694 "Some QoL Improvments"
**QoL improvements**

I thought a list would be more appropriate since they are only minor changes, but if you would like them each in their own bug report then let me know and I'll make the changes.

1.	Clicking on a folder in the sidebar loses the focus of the request and highights the folder, but folders don't display anything in a tab and shouldn't cause the current request to lose focus.
2.	C

[2019-11-22 16:01] jzabroski commented on #4751
@AncAinu Are you on the same version?

[2019-11-22 16:32] barb1223 commented on #4751
I reinstalled Postman and I'm at V7.12.0 and still having this issue.

[2019-11-22 21:41] kyletolle commented on #3007
I wanted to say thanks to the Postman team for making such an awesome tool!

Also wondering if there's a 2019 update to this feature request?

I'd love an automated way to handle changing the OAuth token per env. I've got the `Get New Access Token` screen all populated with variables that are set per env
![image](https://user-images.githubusercontent.com/260869/69461497-eaae3500-0d33-11ea-81a3-af9

[2019-11-22 21:41] cmagadieu commented on #7669
You wrote "meanwhile, we will try to ensure that exports have a consistent ordering of examples." Does that mean we can expect a fix sometime soon?

[2019-11-22 21:56] bsweaty opened #7695 "Postman 6 Failing on Network Error."
**Describe the bug**
I can download postman 7 from your website just fine, but every attempt at downloading postman 6 throws a network error.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://www.getpostman.com/downloads/ and download postman 7, works fine.
2. Go to https://learning.getpostman.com/docs/postman-pro/managing-pro/migrating-to-v7/#download-latest-postman-v6-app and d

[2019-11-23 01:36] scipilot commented on #2853
This seems to have been address in the **Console** in v7.12.0 - it now scrolls to the bottom - thanks!

The collection runner still doesn't, but you can watch the nicely coloured response statuses in the console without having to scroll the runner. So you can partly see if the tests are working.

[2019-11-23 09:29] StefansArya commented on #4687
The alternative was come, this app can be installed on top of our browser instead of using independent chromium like Electron.

[Postwoman](https://github.com/liyasthomas/postwoman)

[2019-11-23 10:19] #6677 closed, assigned to nobody

[2019-11-23 10:19] vkaegis commented on #6677
This is not reproducible in recent versions

[2019-11-23 16:46] Maurice22 commented on #3438
+1

[2019-11-24 21:59] b-hayes commented on #3707
This is happening again on MacOS Catalina with Postman Version 7.12.0

[2019-11-24 22:00] b-hayes commented on #2992
This is happening again on MacOS Catalina with Postman Version 7.12.0

[2019-11-25 02:37] simran0901 commented on #7594
@iamdavid2  why this is not an issue..m also facing the same issue..sorry if asking newbee question

[2019-11-25 03:39] pavelsmoljaninovs commented on #4222
no its not fixed yet, it's almost 2020 and i still have this 'unresolved variable' issue.

[2019-11-25 04:33] xk0der commented on #7676
@saswatds Initial interactions internally had suggested that NTML was not in use, but I see that @Camios  has joined the discussion here and I'll let them confirm that.

[2019-11-25 04:42] dantuluri commented on #4450
+1

[2019-11-25 06:04] ankit-m commented on #7584
@jabbott-EDR  I apologize for the late response on this issue. Our engineers are working on this and I will updated of the progress.

[2019-11-25 06:11] ankit-m commented on #7682
Hey @eoneal89,

I am able to reproduce the scenario you mentioned and it looks like a bug. I have created a bug on our internal issue tracker and will keep you posted about the progress.

[2019-11-25 06:23] Raja-Simha commented on #7301
@johnnyce Thank you for your feedback and comments. I can see how the current behavior can be confusing or misleading. We will look into this and get back to you.

[2019-11-25 07:05] vvs11 commented on #7688
@dk6607 Thanks for your feedback. This list of features looks useful. We'll definitely plan for them and keep you posted on the updates.

[2019-11-25 08:04] liudas-stonys commented on #6761
Hello, I'm having same issues with Postman not showing responses.
Tried to reinstall with all Postman files deletion - no help.
![Postman](https://user-images.githubusercontent.com/38351121/69522754-db64fc80-0f6a-11ea-94a5-2fa0a4b2fcc6.png)

[2019-11-25 09:03] ankit-m commented on #7666
@Matt-VL could you please provide the following information

1. Open go.postman.co, login and see if you are able to view workspaces?
2. What is the color of the sync icon in the top bar of your app? Red/blue/grey?
3. Send a screenshot of the `Console` tab in `View` -> `Developer` -> `Show Devtools (Shared)`

Postman app requires a websocket connection to be established with our servers. In many c

[2019-11-25 09:13] ankit-m commented on #7400
Duplicate of #7037

[2019-11-25 09:13] #7400 closed, assigned to nobody

[2019-11-25 09:36] VicKetchup commented on #7663
@codenirvana Please see the screenshot below, but that is not the case...
![image](https://user-images.githubusercontent.com/43671684/69528768-cb4b1e00-0f66-11ea-91e5-92be1b58127d.png)
Same request on Postman:
![image](https://user-images.githubusercontent.com/43671684/69528895-08afab80-0f67-11ea-9e9e-1229e89f3c7d.png)

[2019-11-25 09:53] VicKetchup commented on #2689
Linking the discussion from community forums, as that is what comes up on Google first for the issue: https://community.getpostman.com/t/disable-temporary-headers/5271

[2019-11-25 10:14] BerkeBelgin commented on #4009
+1

[2019-11-25 13:16] TehWardy commented on #3136
As above #4726 <-- the conversion is being tracked there

[2019-11-25 13:37] dewelloper commented on #3136
Yes i have resolved my problem long time ago. In my case reason is server certificate and client certificate has different private keys. That is not interested with fiddler. @TehWardy right.
@OG1NSystems  use the same certificate from the path. Event dont install it to the store. But if you need to install them to the store then check they have the same private key!

[2019-11-25 13:59] anandmatti commented on #1321
Does this work with https urls?

[2019-11-25 15:25] Matt-VL commented on #7666
@ankit-m

1. Yes I can see personal and team workspaces on go.postman.co
2. Red
3. ![DevConsolePostman](https://user-images.githubusercontent.com/56362247/69553240-d9506d00-0f6d-11ea-9483-d66212d894e4.png)

[2019-11-25 15:40] tasdflkjweio commented on #2691
+1 for this feature. Integrations are not what this ticket was asking for, so why was it closed?

[2019-11-25 17:54] sghoshpods commented on #5480
This is a very important upgrade and I am sure will improve your License purchase as many companies using Impersonation for SOAP services to communicate with WCF can use POSTMAN to support their Legacy applications along with their REST endpoints.

[2019-11-25 19:58] iamdavid2 commented on #7594
@simran0901 in the raw you can setup you string using "" for example
![image](https://user-images.githubusercontent.com/7917477/69573352-ebdd9d00-0f93-11ea-9ee0-555444d24599.png)

[2019-11-25 19:59] iamdavid2 commented on #7594
![image](https://user-images.githubusercontent.com/7917477/69573455-20e9ef80-0f94-11ea-8a11-965782c96612.png)

[2019-11-25 20:28] SamuelTissot commented on #3825
+1 this would be great.

[2019-11-25 20:33] Matt-VL commented on #7666
I am now on v7.12.0.

I have also added Postman as trusted apps through our Firewall and still getting the same issue.

[2019-11-25 21:15] vdespa commented on #7551
@alexantom it does look related. Do you get the error as well?

[2019-11-25 21:24] alexantom commented on #7551
I'm not able to see any error  from console.

[2019-11-25 21:36] pjamgithub commented on #4450
+1

[2019-11-25 23:27] AshraafElkholy opened #7696 "Experiencing an issue with Variables set in Pre-test scripts"
Updated to Release 7.12.0
Currently experiencing an issue with Variables set in Pre-test scripts
values not reflecting before the request sent, it gets updated after request is sent, hence resulting in setting it in the next request in collection

I found old bug explains what i am experiencing
https://github.com/postmanlabs/postman-app-support/issues/6144

[2019-11-26 00:58] JP-from-Postman opened #7697 "Allow multi-use invite links to be deleted from Web Dashboard"
**Is your feature request related to a problem? Please describe.**
Once a multi-use invite link has been created, it cannot be deleted by a user-facing option, forcing support to intervene in circumstances where this is necessary.

**Describe the solution you'd like**
Allow multi-use invite links to be deleted from the invite management portal:
https://go.postman.co/settings/team/manage-invite-lin

[2019-11-26 02:27] krpraveen01 opened #7698 "Authorize Button is disabled on Authorize OAUTH 2.0 Github Application"
Hi,

I got 7.12 version and I tried to request token on OAUTH 2.0 Authorization. I have entered all the required information of github OAUTH 2.0 urls and params and then clicked on Request Token button. The new window of Authorize Application is opened with warning :

Please note that GitHub no longer supports your web browser.
We recommend upgrading to the latest Google Chrome or Firefox.

and th

[2019-11-26 02:29] renansph commented on #7632
Hi. I set up an ending point to simulate the issue. Just send a **GET** request to URL **http://191.235.92.114/checkserver/**

It'll take 300 seconds to return the response, so please be a little patient if calling the request from Postman Chrome extension. The desktop version will never return any response as expected to reproduce the issue.

Expected response:
[code]

[2019-11-26 06:26] santosh-hegde opened #7699 "Application is too slow and switching tabs becomes impossible"
**Describe the bug**
I have 3 tabs open, which makes GET call to 3 different end points returns around 4MB data each.
Once the call completes, I can’t switch to any other tabs. All buttons become unresponsive.

**Expected behavior**
For 4MB of data, application should behave like this.

**App information (please complete the following information):**
 - App Type - Native App
 - Postman Version : 7

[2019-11-26 06:38] shamasis opened #7700 "Unsupported browser error on Postman desktop app (master issue)"
**Describe the bug**
When using any feature that uses Postman App’s embedded browser, such as oauth2 token fetching, certain web pages display that the browser is unsupported.

**App information (please complete the following information):**
 - App Type: Native
 - Postman Version: 7.12 (below and all future version until fixed)
 - OS: all

**Additional context**
It is most likely because of outdat

[2019-11-26 06:42] numaanashraf commented on #7700
More details:

Postman's embedded browser version, as of Postman `v7.12`, is `Chrome 66.0.3359.181`

[2019-11-26 09:23] Ramya-From-Postman opened #7701 "Datadog Integration not working for users on the EU site"
Hi,

Currently, the Datadog integration with the domain **datadog.eu** doesn't work as postman sends data only to the US site which is **datadog.com**. However, Datadog has different API hosts for users using the EU site versus the US site and thus requested for this feature to be added in postman.

[2019-11-26 10:52] #5365 closed, assigned to vikiCoder

[2019-11-26 11:07] liamthing commented on #4287
Still getting this issue.

[2019-11-26 11:28] marijnhurkens opened #7702 "Unable to edit / save requests after adding new user to team account"
**Describe the bug**
After adding a second user to our team account and making them admin over a workspace we're unable to edit and save requests using the new account.

When editing a request and hitting save the save new request window pops up (as if I'm creating a new request). When searching for a collection in that window none can be found. The user is team admin and admin within the workspac

[2019-11-26 11:40] maxsommer opened #7703 "Impossible to add user slots"
**Describe the bug**
When navigating to team overview and trying to add a user slot the error message 'Something went wrong. We were unable to fetch add slots details. Please try again.' appears.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to postman team overview
2. Click on 'add user slots'
3. See error

**Expected behavior**
Ability to add user slots.

**Screenshots**
/

**App info

[2019-11-26 11:44] verzada commented on #4576
How is it looking for a MSI installer?

[2019-11-26 11:58] marijnhurkens commented on #7702
Postman also seems to be syncing randomly and when opening a saved request and executing it it seems to not use the http method. It uses GET for everything...

[2019-11-26 13:25] maxpastor commented on #7701
This issue is related to all of the European users wanting to connect Postman and Datadog.
Here's our example at Tactill.
We implemented API into Postman to have nice documentation and monitors.
But, Datadog is our main data and monitoring tool, as we print dashboards on TVs in the office and investigate errors with their tools.
With that in mind, we don't really go check our Postman monitors sinc

[2019-11-26 13:31] milititskiy commented on #7539
I am happy that our frustration is making you happy. its been 18 days and you had several updates already, but even canary 13 version stil has restriction of 10kb. Any progress ? Or you just ignore us as therea re not so much compaint obout it?

[2019-11-26 14:12] saswatds commented on #7539
Hi @milititskiy the app release happens around every 15 days, and solving the technical challenges around providing a solution for loading large amount of data took us some time and we missed a release. The next app version will have the support for showing larger body payloads and more.

[2019-11-26 14:15] milititskiy commented on #7539
Thank you for quick reply. I hope to see things change back to normal.

[2019-11-26 17:23] ankit-m commented on #7111
Issue fixed

[2019-11-26 17:23] #7111 closed, assigned to kartikjain26

[2019-11-26 18:02] groggi commented on #6296
So far it seems to work on all affected systems. Thank you.

[2019-11-26 22:45] PedroBernils opened #7704 "Can't create mock servers on MacOS 10.14.6 with Postman 7.12.0"
Having basically the same issue described [here](https://github.com/postmanlabs/postman-app-support/issues/4781), also getting the "Error occurred while fetching versions" message, except I'm on MacOS Mojave instead and using a considerably later version than the one mentioned.

Here's a screenshot of what happens:
<img width="2032" alt="Screen Shot 2019-11-26 at 19 41 56" src="https://user-images

[2019-11-26 22:54] Flole998 commented on #283
@vkaegis You are assigned to this one. Any chance to get this fixed after more than 6 years?

[2019-11-26 23:15] Camios commented on #3692
@vizeke I tried HTTP_PROXY and HTTPS_PROXY, but it didn't work. Maybe I need to also specify NO_PROXY... what should be specified in NO_PROXY?

[2019-11-26 23:29] Camios commented on #7676
@saswatds @xk0der, I have just heard back from the network team and found that they are using a proxy that supports multiple challenge types (kerberos, NTLM, basic) with a fallback mechanism from best to worst. If the application (e.g. Postman) doesn't support the higher it will drop to the weaker challenge type. I installed fiddler and it shows that some of the tunne; attempts include NTLM proxy

[2019-11-27 00:26] asi-postman opened #7705 "Ability configure proxy settings to be set in Postman app for the connection to Postman Servers?"
**Is your feature request related to a problem? Please describe.**
The ability to configure proxy settings to be set in Postman app for the connection to Postman Servers?

**Describe the solution you'd like**
Access within the Postman App to connect to Postman servers

[2019-11-27 01:20] eromoe commented on #5920
Still doesn't work on chrome 78.0.3904.108

[2019-11-27 03:45] kevin-postman commented on #7434
@tjblackheart Can you tell me which version of Arch Linux you were using? I tried removing fonts on my Ubuntu 18.04, to reproduce this issue, and see that the font looks fine still. Postman ships with a monospace font in the case there isn't one available. I will grab the version of Arch Linux you have and load it up and try as well to see if I can reproduce it.

[2019-11-27 04:28] Camios commented on #3692
I also have this problem. See #7676

[2019-11-27 05:06] b-hayes commented on #2433
I'd like this as well

[2019-11-27 07:36] junhaohe opened #7706 "When the fields in the response body returned by the interface are connected using ‘-’, an error is reported when the return value is obtained and set as an environment variable."
{
    "error_code": 0,
    "error_msg": "Success",
    "result": {
        "Access": 1,
        "User-Name": "admin",
        "Facein-Csrf": "a6b969c468f7005fe496618b4ab52ba5",
        "Session-Id": "7405d73992c60b6da5080ed7fe5d0f3a|c52bec0fba7664184e1428b8c8139ede696f29017b6ca5f1124da4612112c50d"
    }
}
var jsonData = JSON.parse(responseBody);
//对responseBody进行json格式化
postman.setEnvironmentVaria

[2019-11-27 08:04] ericprud commented on #3774
Is there an issue to improve the UI wrt the user not knowing to do an apparently superfluous save? I took a timed screenshot to capture the error and duckduckgo'd it immediately, so I only lost about 5 mins, but this appears to cumulatively cost many thousands of user hours.

[2019-11-27 08:36] jooleeanh opened #7707 "Console only shows OperationalError logs"
**Describe the bug**
When opening the console for the main Postman Window, and firing any request which used to log various information, the only log I obtain is a OperationalError log (both as a debug log and an uncaught exception in a promise).

**Expected behavior**
Supposed to see all the logs I put in the pre-request and test sections.

**Screenshots**
![Screenshot 2019-11-27 at 09 24 24](htt

[2019-11-27 08:37] #6921 closed, assigned to saswatds

[2019-11-27 09:43] ppapadatis opened #7708 "Ability to have multiple values for a variable, presumably as a dropdown"
**Is your feature request related to a problem? Please describe.**
I find myself quite often typing/switching the same values for a variable that describes various services, which is tiring and there is no other option to have a minimal representation of a URL that is mostly the same for all services except the descriptive part of it.

**Describe the solution you'd like**
It would be a great addit

[2019-11-27 10:45] haugstve commented on #2214
I tested today using netcat on mac:
`nc -lk localhost 3000`

In chrome, requests are printed when I write
`localhost:3000`
`http://[::1]:3000/`

Postman only works when using
`[::1]:3000`
when writing
`localhost:3000`
I get errors (not the same for all requests even if they are identical). Once it actually worked(not able to reproduce). I think the different errors and results might be correlated

[2019-11-27 10:49] shahzadamunawer commented on #3864
internal server error showing again and again

[2019-11-27 12:53] princebansal commented on #7462
I am facing the similar issue. Autocomplete suggestions and validations should be the top most priority. Its nightmare to write whole set of apis assuming the syntax to be correct.

[2019-11-27 13:49] ndrewnee commented on #3447
@shamasis Hi! I have the same issue with XML and encoding "Windows-1251" in response. You can try this request (Postman Version 7.12.0)

[code]

You'll get response like this

[code]
Response Headers:

[code]

![Screenshot 2019-11-27 at 16 44 13](https://user-images.githubusercontent.com/12291467/69728257-36e2e600-1135-11ea-80ee-c15004f03e88.png)

[2019-11-27 14:16] Yuri-Harel opened #7709 "Error in JSON syntac coloring"
**Describe the bug**
If the body of a request is :

```json{"a":{"b":[]}}```
Then the last two }} will be marked in read as if they are erroneous.

**To Reproduce**
Just create such a request with the above code in.

**Expected behavior**
Not to have that coloring.

[2019-11-27 14:20] Yuri-Harel commented on #7709
The browser I'm forced to use at work doesn't allow me to click the edit button, so just ignore the json at the start. The body should be just : {"a":{"b":[]}}

[2019-11-27 16:16] josemarquesspirit commented on #5456
I receive Postman collections from people that want to show me a problem. It will be very helpful not to have to import environments from all these people. I understand the reason to keep collections and environments separated, but it will be really helpful an option that "flattens" or "merges" a collection with a specific environment, just replacing the variables with the values for the selected

[2019-11-27 16:34] thomas-lucas1985 commented on #3825
Would love to see this feature as well

[2019-11-27 17:14] adessaigne opened #7710 "postman-echo doesn't set cookies"
**Describe the bug**
When using https://postman-echo.com/cookies/set?foo1=bar1&foo2=bar2, it doesn't set the cookies

**To Reproduce**
Steps to reproduce the behavior:
1. Follow the documentation https://docs.postman-echo.com/?version=latest#3de3b135-b3cc-3a68-ba27-b6d373e03c8c and type the sample curl command
2. There's no cookies configured

**Expected behavior**
There are 2 cookies configured

[2019-11-27 17:16] choowie commented on #7672
This problem is blocking quite a few people. Version 66 was released in April 2018 and one year later, some serious security issues have been fixed in the latest version. Version 78 of Chrome fixes a vulnerability rated 9 out of 10 on the CVE scale.

Most companies are blocking older browsers and even Google complains when I authenticate with my google account "you are trying to sign in from a bro

[2019-11-27 17:18] choowie commented on #7700
This problem is blocking quite a few people. Version 66 was released in April 2018 and one year later, some serious security issues have been fixed in the latest version. Version 78 of Chrome fixes a vulnerability rated 9 out of 10 on the CVE scale.

Most companies are blocking older browsers and even Google complains when I authenticate with my google account "you are trying to sign in from a bro

[2019-11-27 17:22] chrisdeso commented on #5456
@josemarquesspirit – Makes sense, there are a few ways to approach this but collection variables are probably the easiest to implement.

**Collection Variables:**
- https://learning.getpostman.com/docs/postman/environments-and-globals/variables/#variable-scopes
- How-to: https://community.getpostman.com/t/how-do-i-set-a-collection-variable/5466

This will _flatten_ a collection and allow you to re

[2019-11-27 17:32] tjblackheart commented on #7434
Hi,

it's a standard arch install (which is a rolling release), so no special version here, just grab the latest ISO. My current desktop env is Cinnamon, and the default monospace font there is set to "Roboto Mono". The arch package for this is called "ttf-roboto-mono". No other desktops are installed.

I just tried again to remove "ttf-droid" and postman again uses the default serif font. Perhaps

[2019-11-27 17:51] josemarquesspirit commented on #5456
Thank you @chrisdeso for your reply. But I think I'm missing something. The people that send me the collections have several environments defined and they switch between them. When they need to send me a collection with the values of a specific environment, they export the collection and the environment and I also have to import both when I receive them.

If they replace the environment variables

[2019-11-27 18:06] greece57 commented on #7041
@saswatds @coditva I encountered the same problem when trying to access this IP 69.64.185.30 on Port 7805. With curl I get a result, with Postman and swift I didn't, so I tried to fix my swift code and found that I couldn't decode it because it was encoded in ascii instead of utf8
Maybe this helps you?

[2019-11-27 18:09] mafalarz commented on #2240
Darn... RIP Postman

[2019-11-28 00:40] xk0der opened #7711 "Documenter UI Issue - Tables do not resize and bleed out"
**Describe the bug**
At certain resolutions, the tables in documentation bleed out into the "Example" pane.

**To Reproduce**
_Steps to reproduce the behaviour_:
1. Go to https://apidocs.infutor.com/?version=latest#34dcd78c-4bd8-4c98-9136-84dd510709c5
2. Resize the browser window to make it smaller.
3. You should see the tables bleeding out and not resizing properly.
4. This is easily reproducible

[2019-11-28 03:59] luyao1991 opened #7713 "Set an environment variable as an array through the Pre-request Script method, and reference the variable when requesting, but not the array"
**Describe the bug**
Set an environment variable as an array through the set method, and reference the variable when requesting, but not the array.

**To Reproduce**
Steps to reproduce the behavior:
Set URL first.(url=https://postman-echo.com/post,method=POST,data-->"method=POST&param={{param}}"
1. Go to Pre-request Script,edit
`pm.environment.set("param", ["a","b"]);`
2. Click on Send
3. param in

[2019-11-28 05:09] numaanashraf commented on #7695
@bsweaty This looks like an intermittent network issue that looks resolved now. Could you try this again and let us know if you are still facing this?

[2019-11-28 05:09] #7695 closed, assigned to nobody

[2019-11-28 05:11] numaanashraf commented on #7707
@jooleeanh Logs from pre-request and tests scripts appear in the Postman Console now. We no longer log these in the DevTools in our desktop apps - https://learning.getpostman.com/docs/postman/sending-api-requests/debugging-and-logs/#for-the-native-app-for-mac--windows--linux-1

[2019-11-28 05:11] #7707 closed, assigned to nobody

[2019-11-28 06:18] saswatds commented on #7706
Hi @junhaohe `User-Name` is not a valid identifier in javascript https://developer.mozilla.org/en-US/docs/Glossary/Identifier You will need to use https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Operators/Property_accessors instead of `dot Notation`

[2019-11-28 06:19] #7706 closed, assigned to codenirvana

[2019-11-28 06:56] g-sahu commented on #2676
I had the same thought today and was wondering that it would be a great feature to have in Postman.

Has this been released yet?

[2019-11-28 07:37] saswatds commented on #7645
This issue is caused by  https://github.com/postmanlabs/postman-app-support/issues/1070
The order of examples/responses is guaranteed in the collection right now.

[2019-11-28 07:37] #7645 closed, assigned to shamasis

[2019-11-28 07:44] saswatds commented on #7669
The ordering of examples is a long-standing issue that requires major change underlying data-structure. It's has been added to our backlog as a Later stage. You can monitor our `Triage and Development` for updates on when we start working on it.

[2019-11-28 07:48] saswatds commented on #7396
We have not been able to reproduce this issue on our end and no other users have reported the same happening. Closing this issue now. Feel free to re-open if you provide us more details on how to reproduce.

[2019-11-28 07:48] #7396 closed, assigned to saswatds

[2019-11-28 07:58] agheorghe-careplanner commented on #7645
Thank you for your answer, but I don't see how the examples/responses are guaranteed?

Even if the export keeps things in a consistent way, importing will always change the order. The export after an import does not keep the same order as the one before it.

[2019-11-28 08:02] saswatds commented on #7667
@AlexaTkachenko It seems that there was some error when parsing the query parameters in your request  or your pre-request script errored out while updating the query parameters.

Without any more details from your end we are completely shooting in the dark. It will be really helpful if you can provide some hints. Maybe with all secret values replaced.

[2019-11-28 08:06] saswatds commented on #7645
Sorry for the typo. It's not guaranteed

[2019-11-28 08:08] saswatds commented on #5982
Closing this issue due to inactivity. Feel free to re-open if you provide us with more information to understand the issue better

[2019-11-28 08:08] #5982 closed, assigned to vikiCoder

[2019-11-28 08:16] saswatds commented on #7593
@jcald1 Sorry for the typo, I have updated point `3`.
For point `2` We have had some breakthrough recently and might be able to lift that limit completely.

I am closing this issue as Duplicate of #5848 for now.

[2019-11-28 08:16] #7593 closed, assigned to saswatds

[2019-11-28 08:59] numToStr commented on #6719
Can we expect some info on this?

Absence of introspection preventing some **code first** Graphql developers. Building Graphql APIs with Postman will be great for the teams who use code first approach.

[2019-11-28 09:12] junhaohe commented on #7706
Ok, thanks!

15021157146@163.com

发件人： Saswat
发送时间： 2019-11-28 14:19
收件人： postmanlabs/postman-app-support
抄送： junhaohe; Mention
主题： Re: [postmanlabs/postman-app-support] When the fields in the response body returned by the interface are connected using ‘-’, an error is reported when the return value is obtained and set as an environment variable. (#7706)
Hi @junhaohe User-Name is not a valid ident

[2019-11-28 09:14] ackvf commented on #5491
Which data it is that are not exportable?

[2019-11-28 09:42] kristofferjalen opened #7714 "CTRL-DEL in URL on querystring value deletes too much"
**Describe the bug**
When cursor is at the start of the `value` part of a field-value pair in an URL and that field-value pair is followed by another field-value pair, and you press <kbd>CTRL</kbd>-<kbd>DEL</kbd>, not only the value is removed but also the `&field` part of the next field-value pair.

**To Reproduce**
Steps to reproduce the behavior:
1. Enter `https://foo/api/bar?field1=value1&fiel

[2019-11-28 09:57] vainiusr opened #7715 "Param value "+" is replaced with blank space."
**Describe the bug**
When passing a `+` sign through params in `POST` request, postman replaces it with a blank space making validation testing useless, because it never passes a correct value.

**To Reproduce**
1. Go to Postman
2. Make a POST request to your server
3. Add a param with value `your+email@example.com` to request
4. Dump the param in code.
5. See that it became `your email@example.co

[2019-11-28 11:21] rotispesial opened #7716 "Postman crashes and deletes itself after installation"
**Description**
After opening the zip file for the installer,

**To Reproduce**
Steps to reproduce the behavior:
1. Open the zip file (in this case Postman-osx-7.11.0.zip)
2. Open Postman app
3. Confirm Mac that file is safe
4. Open Postman app from dock
5. Confirm to move Postman to application folder
6. App crashes, removes itself from Application folder

**Expected behavior**
Clicking on the Po

[2019-11-28 11:24] CundyTech commented on #7569
I've got a different but related issue. So I click to sign in with google, sign in using my google credentials, and then I get this screen.

![image](https://user-images.githubusercontent.com/19817493/69802551-b1614380-11d1-11ea-8c65-703c86c4b898.png)

[2019-11-28 11:35] awalland commented on #5658
i'd like to add that also `0` decimal places are removed if they are unnecessary, which might not always be wanted.
beautifying the following payload:
[code]
becomes
[code]

while i agree that this shouldn't make a difference, with some APIs it does and i don't like a reformatting functionality changing my requests payload values.

[2019-11-28 12:29] theuntitled commented on #2701
+1

[2019-11-28 12:31] KevinLeigh commented on #2701
+2

[2019-11-28 12:50] renato-milan-latam-com commented on #6669
Hi, there! Any news? Regards, Renato

[2019-11-28 13:43] DnlCYan commented on #2452
This would be a great feature to add on Postman.
I always used Postman with workaround authentication creating a specific request for authentication and save the access token on the environment to be used on my actual requests. So avoiding the use of Authorization tab. It works great for grant_type client_credentials and password.
But now I have a project that needs grant_type authorization_code,

[2019-11-28 14:47] azarboon commented on #6987
Also I have this issue. If I authenticate using postman, automatically it adds "Authorization" (caps lock) and value has "Bearer" prefix. And requests become unauthorized. I need to manually add "authorization" header (no caps lock) and rove bearer from token.

This makes postman useless for our case. Can you please fix this?

[2019-11-28 15:18] aakhan1 opened #7717 "Connection error on HEAD request with a payload to golang http server"
**Describe the bug**
Postman returns the error message "Could not get any response. There was an error connecting to http://localhost:8080".   This occurs when sending a HEAD request with a simple payload to a vanilla golang http server.    When no payload is sent, then Postman works as expected.

As a reference, curl returns 400 Bad Request message.  The same should happen with Postman

**To Repr

[2019-11-28 15:53] S33G opened #7718 "Duplicating Environments doesn't keep nested environment variables"
I noticed a small thing when duplicating environments which I wasn't sure the behavior was expected or not.

**Describe the bug**
When duplicating an environment, I expect values to still contain dynamic child variables.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a new environment
2. Create 2 variables inside said environment (e.g. `baseUrl` & `version`)
3. Make the value of thes

[2019-11-28 17:49] uwilt opened #7719 "Postman 7.12.0 starts with blank screen on Windows 10 - both 64 bit"
**Describe the bug**
Postman 7.12.0 starts with blank screen on Windows 10 - both 64 bit
So this means: It doesn't start really. I had the same behaviour on the versions before

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshot

[2019-11-28 18:08] edveri commented on #2209
The ability to set reponse_type would be very usefull. In my case I need to make a request with response_type=id_token token, however it seems I am not able to do that in Postman.

[2019-11-28 18:37] uwilt commented on #7719
solved, as I found https://support.getpostman.com/hc/en-us/articles/360026088854-Postman-window-is-blank afterwards

[2019-11-28 18:37] #7719 closed, assigned to nobody

[2019-11-28 22:24] pdonorio commented on #7360
Hello,
I'm calling today POST on `/import/openapi` with python `requests` library,
passing `{'type': 'json', 'input': OPENAPI_JSON_SPECS_STRING}`

but it always end up with `{'error': {'name': 'serverError', 'message': 'Something went wrong with the server.'}}`

Notes:
- the OPENAPI_JSON_SPECS_STRING I have is generated automatically and is validated on the swagger online tool
- the other calls (G

[2019-11-29 01:28] nolazybits commented on #283
@Flole998 I myself moved from Postman to Insomnia a long time ago
https://insomnia.rest/

[2019-11-29 02:57] saswatds commented on #7717
Hi @aakhan1 Can you check the `Postman Console` for the exact error that occurred during this transaction?

[2019-11-29 03:13] saswatds commented on #7448
Referring back to https://github.com/postmanlabs/postman-app-support/issues/7440#issuecomment-549239543
Javascript as a language truncates the number. BigInt support is still experimental.

[2019-11-29 03:16] saswatds commented on #7448
Closing this issue for now. You can create a feature request for BigInt support in variables.

[2019-11-29 03:16] #7448 closed, assigned to nobody

[2019-11-29 03:22] saswatds commented on #7689
Thanks @AnastasiyaSm. We will take a deeper look into this.

[2019-11-29 03:26] saswatds commented on #7531
Hi @DerekSansom Can you give us a size estimate of this collection; like count of requests, size of request bodies, etc.

[2019-11-29 05:40] harryi3t commented on #7716
@kit-teguh Thanks for raising the issue. We would need some more information to help us triage the issue.

1. When did this start happening? Was it a fresh install or an update?
2. If you manually move the app to the `Application` folder, does this happen?
3. Have you downloaded the Postman zip file from our website or transferred it from some USB drive?

[2019-11-29 05:42] ankit-m commented on #6540
Duplicate of #7435

[2019-11-29 05:42] #6540 closed, assigned to sankalp0o

[2019-11-29 06:09] kit-teguh commented on #7716
Hi Harendra,

As I mentioned, I found a work around by not accepting the OS to
automatically move Postman to the Applications folder (as the program
already exists in the Application).

To answer your questions:

1. Fresh install
2. As I mentioned, the file opens correctly already in the Applications
folder, but the system still requests to move Postman to the Applications
folder
3. I downloaded t

[2019-11-29 06:46] Ghusar commented on #7589
@mssio Were you able to resolve this issue?

[2019-11-29 10:42] bleadm opened #7720 "Postman Auth Issue / Not allowed to use the browser: Google Chrome (66.x)"
When I'm connecting to Postman App , I got  error to authenticate

The message is :
Sorry, this web browser is not approved for use at our company.
Not allowed to use the browser: Google Chrome (66.x)

We are  using Zscaler Proxy and we have block OLD chrome Version.
I've try to create Global Variable to force the User-Agent String without success.

**To Reproduce**
Steps to reproduce the behavior

[2019-11-29 12:12] arunwac commented on #6096
Still experiencing the issue. I'm on Windows 10, tested on Chrome, Firefox, Edge and IE, After hitting Run in Postman, the Open with dialog appeared, clicked Postman for Windows and then Open Postman in the alert dialog, but nothing happened.

Had these 3 messages in console

[code]

[code]

[code]
![screensnip](https://user-images.githubusercontent.com/55536030/69868384-8fe68180-12cf-11ea-84b5-9a

[2019-11-29 13:14] aabou opened #7721 "Tests - require/import external module of sandBox and define mechanisme to implement a global functionnal test for collection and use/call this function in a specific test api for example."

[2019-11-29 13:14] andredsp commented on #3216
I had a similar issue in macOS with local DNS lookup taking ~10 seconds. The issue can be solved by adding the following to /etc/hosts (assuming hostname is macbook):

[code]

This returns the time to something more suitable (< 1 second)

Source: https://stackoverflow.com/questions/33289695/inetaddress-getlocalhost-slow-to-run-30-seconds/33289897#33289897

[2019-11-29 15:08] bhegglin commented on #4718
json with variable in the body raw field like: { "data":"{{data}}"} not working for desktop version Postman v7.12.0

[2019-11-29 15:46] mschubi72 commented on #7569
I've the same problem. 32 & 64 Bit postman :-(
Also tested on differend computers....

[2019-11-29 17:43] d0x7 commented on #3216
While this is a workaround, it's not a fix. It's also working if you're just using `127.0.0.1` without adding something to the hosts file, but yeah, not a fix. Postman team should fix this as this is IMO a major issue.

[2019-11-29 23:03] DerekSansom commented on #7531
84 requests across 10 subfolders (of which I only ever run one folder)
probably 50/50 get/post
posts, some are minimal, some up to 300 lines formatted xml/json

On Fri, 29 Nov 2019 at 03:26, Saswat <notifications@github.com> wrote:

[2019-11-30 02:34] aakhan1 commented on #7717
It says there is a Parse Error:
![image](https://user-images.githubusercontent.com/7885064/69894608-e6fc4e80-12ef-11ea-8797-05159f970990.png)

[2019-11-30 08:25] abhijitkane commented on #3164
@chiedo Closing this. We've deprecated the Chrome app, and the native apps (https://www.getpostman.com/downloads/) let you control the redirect behavior without the interceptor extension.

Other features including request/cookie syncing with the Interceptor are coming soon.

[2019-11-30 08:25] #3164 closed, assigned to nobody

[2019-11-30 08:50] Cazaimi commented on #7711
Investigating.

[2019-11-30 09:54] iteratelance commented on #6175
I was able to reproduce this issue.  I discovered that the root cause is have a leading space in an environment variable.

For example GET `{{base_url}}/some/path`
For instance `^http://example.com`, where `^` is leading whitespace will cause code snippets for curl and other languages to break.

Solution, remove leading white space. `http://example.com`

[2019-11-30 11:11] maxsommer commented on #7703
Issue seems to be resolved.

[2019-11-30 11:11] #7703 closed, assigned to nobody

[2019-11-30 23:06] a85 commented on #886
Closing the issue. We recommend the workaround + using pre-request scripts + collection variables to generate dynamic variables. Updating the Javascript sandbox to support a special syntax is something that we are not going to do. We are working on extending the sandbox to support external libraries #1180. This should help with more flexibility on the syntax.

[2019-11-30 23:06] #886 closed

[2019-11-30 23:08] a85 commented on #2000
With inline editing a prompt is not required anymore.

[2019-11-30 23:08] #2000 closed, assigned to vkaegis

[2019-11-30 23:10] a85 commented on #2491
You can use the Visualizer now to parse the response and render it in a pretty way. https://learning.getpostman.com/docs/postman/sending-api-requests/visualizer/

[2019-11-30 23:12] #3042 closed, assigned to a85, vkaegis

[2019-11-30 23:13] a85 commented on #3036
Closing as we have changed the underlying code generation libraries.

[2019-11-30 23:13] #3036 closed, assigned to nobody

[2019-11-30 23:14] #3282 closed, assigned to dhineshwiz, Raja-Simha

[2019-11-30 23:16] a85 commented on #3589
This response should be much higher now. @shamasis Can you confirm and close?

[2019-11-30 23:19] a85 commented on #2961
We are working on extending the sandbox to support external libraries which will give more control over the libraries being used. Closing this issue for now.

[2019-11-30 23:19] #2961 closed, assigned to a85, vkaegis

[2019-11-30 23:24] a85 commented on #4257
We recommend using inline editing to change the name. Adding a prompt everytime prevents from faster duplication.

[2019-11-30 23:24] #4257 closed, assigned to vkaegis, sankalp0o

[2019-11-30 23:24] #4256 closed, assigned to vkaegis, sankalp0o

[2019-11-30 23:28] a85 commented on #4690
There is a clear button on the top now to clear existing messages.

[2019-11-30 23:40] a85 commented on #4788
Closing as this will be covered by the eventual move to the web.

[2019-11-30 23:40] #4788 closed, assigned to vkaegis, preethammavin

[2019-12-01 04:22] dinbtechit commented on #6682
can't wait to have this in postman!

[2019-12-01 06:10] GProSoftware828 commented on #4898
ANSWER- on a Mac, hold down the control button and click each row of the global variables (for instance) you want to copy. When you move your cursor out of the row when clicking, then you will see it get dehighlighted to show it was selected. When you have your rows selected, hit command + c for copy and click in the first row of the new environment for the variables, then hit command + v for past

[2019-12-01 06:18] a85 commented on #2790
Everyone, you can now use the Visualizer https://www.getpostman.com/api-visualizer to process responses in any way that you want to. Check out templates at explore.postman.com for examples.

[2019-12-01 06:18] #2790 closed, assigned to a85, vkaegis

[2019-12-01 06:47] a85 commented on #727
You can now render your own custom response for the specific data format that you are working with. We will continue supporting the most popular data formats as first-class citizens but for other formats the Visualizer will help: https://learning.getpostman.com/docs/postman/sending-api-requests/visualizer/. The docs talk about rendering charts/graphs but you can use the same process for rendering

[2019-12-01 06:47] #727 closed

[2019-12-01 06:50] a85 commented on #2821
Loading multiple data files is not planned for anytime in the future. Postman's Collection Runner does allow you to select specific requests and folders and run them across iterations so you can use that functionality with different data files to get the same outcome. Otherwise we recommend splitting folders into different collections.

[2019-12-01 06:50] #2821 closed, assigned to a85

[2019-12-01 06:51] a85 commented on #7010
Closing as we don't see widely reported problems around Google sign in and this might be situational depending on network/environmental conditions.

[2019-12-01 06:52] a85 commented on #6967
We are tracking auto save functionality elsewhere in the tracker. It will be integrated with other version control features inside the app.