[2020-04-14 08:33] numaanashraf commented on #8323
@stuarth-cognitoiq Thanks for reporting this! Could you help us further by sending us profile recording? This help us identify the issue and resolve faster.

You can find the steps to record a profile here: https://www.loom.com/share/01e103f8511549ec93e22ff2afb2769e

You can start the profile as soon as the app starts and stop after 10 seconds and export the recording.

[2020-04-14 08:49] theopract commented on #8245
Looking forward for an ability to sync to gitlab as well 👍

[2020-04-14 09:42] SiDDevNet commented on #8323
I am facing the same problem in windows 7 service pack 1 platform

![image](https://user-images.githubusercontent.com/63461095/79210343-4f446a80-7e62-11ea-8234-1dd98d9b6872.png)

![image](https://user-images.githubusercontent.com/63461095/79210359-55d2e200-7e62-11ea-822d-6b29b5e770ce.png)

[2020-04-14 09:43] SiDDevNet commented on #8323
even with the postman canary version
![image](https://user-images.githubusercontent.com/63461095/79210448-7dc24580-7e62-11ea-9eb6-e7225f1f562b.png)
![image](https://user-images.githubusercontent.com/63461095/79210456-80bd3600-7e62-11ea-9aea-99063515c447.png)

[2020-04-14 09:46] SiDDevNet commented on #8323
https://www.loom.com/share/94e2b07c01354b74abe95934b61fd33f

[2020-04-14 09:50] SiDDevNet commented on #8323
Please ask anything else if needed to fix this issue..

[2020-04-14 09:55] grinderX19 commented on #8055
Totally agreed, this would be very helpful and intuitive as most application use the same shortcuts.

[2020-04-14 10:00] numaanashraf commented on #8323
@SiDDevNet Could you help us further by sending us profile recording? This help us identify the issue and resolve faster.

You can find the steps to record a profile here: https://www.loom.com/share/01e103f8511549ec93e22ff2afb2769e

You can start the profile as soon as the app starts and stop after 10 seconds and export the recording.

[2020-04-14 10:12] SiDDevNet commented on #8323
Dear Numaan Ashraf I can not start the postman app itself if you are available right now I can give you my system's anydesk ID so you can see the application error in realtime

[2020-04-14 10:13] SiDDevNet commented on #8323
Dear Numaan Ashraf I can not start the postman app itself if you are
available right now I can give you my system's anydesk ID so you can see
the application error in realtime

On Tue, Apr 14, 2020 at 3:30 PM Numaan Ashraf <notifications@github.com>
wrote:

--
Yours in Earnest,
Siddharth Moradia
@MSiddharth <http://www.twitter.com/MSiddharth>

[2020-04-14 10:30] numaanashraf commented on #8323
@SiDDevNet We understand that the app opens with a black screen on your system. Could you please help with the following for us the understand the issue better?

1. Did this happen after you installed the app or the app has been working properly on this system earlier and started crashing recently?
2. Could you share your device information? CPU, RAM, GPU, OS Build?
3. Please email us the applicat

[2020-04-14 10:36] vladyslovestepanov commented on #6935
@codenirvana @shamasis I faced with the same issue
![image](https://user-images.githubusercontent.com/52454096/79215576-6e3c0000-7e54-11ea-9e92-497f7156dec8.png)

1. Postman for Windows
Version 7.22.1
win32 10.0.18362 / x64

2. Bug reproducible every time
![image](https://user-images.githubusercontent.com/52454096/79215851-e5719400-7e54-11ea-8f66-1edba665029c.png)

3. Yesterday (13.04.2020) it was

[2020-04-14 10:37] SiDDevNet commented on #8323
Mail Sent

[2020-04-14 10:40] SiDDevNet commented on #8323
forgot to attached logs so sent another mail so there are total two email(s).

[2020-04-14 10:41] #7859 closed, assigned to godfrzero, Cazaimi, Raja-Simha

[2020-04-14 10:42] #5180 closed, assigned to dhineshwiz, Raja-Simha

[2020-04-14 10:44] Raja-Simha commented on #5789
We have fixed the issues around 'click to expand'. Do use this thread to report any feedback.

[2020-04-14 10:44] #5789 closed, assigned to vkaegis, Raja-Simha

[2020-04-14 10:59] vladyslovestepanov commented on #3713
@numaanashraf  could you please verify that I get this error because of the problem on the server side but not because of Postman (I can successfully get a response to any other host
![image](https://user-images.githubusercontent.com/52454096/79217531-aee94880-7e57-11ea-930c-d53822eeccde.png)

**App information (please complete the following information):**
Postman for Windows
Version 7.22.1
win32

[2020-04-14 11:03] vladyslovestepanov opened #8324 "Socket hangup while sending request (in app version 7.20.1 to 7.22.1)"
**Describe the bug**
I get this error during a month and a half, for sure should report earlier

**To Reproduce**
Steps to reproduce the behavior:
1. Use Postman from 7.20.1 to 7.22.1
2. Attempt an API call

**Expected behavior**
For Postman to work as it works with other hosts which I send a request to

**Screenshots**
![image](https://user-images.githubusercontent.com/52454096/79216529-ff5fa680-

[2020-04-14 11:05] HenrikHolmIT commented on #4272
v7.22.1 and still no sorting of Collections.

This really seems like a low hanging fruit!

[2020-04-14 11:20] mjarosie commented on #6723
What happened in my case after removing the content of `%appdata%/Postman` (as @bluetoothfx  suggested) was the app successfully started, but only once. When I restarted the app - the same issue reappears.

Postman version: 7.22.1

[2020-04-14 11:25] kamalaknn commented on #6723
Hey @mjarosie

Can you forward the logs from `%appdata%/Postman` when you see this issue to `help@postman.com` so we can take a deeper look at this?

[2020-04-14 11:38] ankit-m opened #8325 "Schema changelog resets for every new API version"
**Describe the bug**
When you create a new API version, the changelog just shows one changelog with the entire schema. This makes it very difficult to use. Ex. What changed from v1.1.0 to v1.2.0 in an API.

**To Reproduce**
Steps to reproduce the behavior:
1. Create API
2. Add schema
3. Make changes and save.
4. Create new version.
5. Open changelog.
6. Observe only one changelog entry.

**Expecte

[2020-04-14 12:47] G3Kappa commented on #1377
oof, it's been 5 years already

[2020-04-14 12:54] G3Kappa commented on #1377
Er, any update? Five years have passed already, and this is standard as far as the OpenID specification goes.

[2020-04-14 13:10] ash007-postman commented on #6723
@kamalaknn Logs has been shared with you.  Ref ticket- 49333

[2020-04-14 13:35] djnesmith opened #8326 "Dark splash screen if using dark mode"
When you start up Postman it has a very bright splash screen.  If you are using dark mode could you make it so this splash screen is dark?  Thanks!

[2020-04-14 13:54] HenrikHolmIT commented on #7661
I'll try to chime in on this one if I may.

We'd like the ability to sort Collections as well. Generally for all team members. If individual users want to highlight a given Collection they can give it a star to make it float on top. Or else it should sort into the set sorting. Staring a Collection is already shared. That is cool.

Our Collections take the form of releases. So we have Collections c

[2020-04-14 14:08] jcush commented on #4636
For anyone using Grant Type: Password Credentials, I can confirm the env variables method posted by @tofalck does work. Postman doesn't highlight the variable as it does with all the other fields but it does apply it.

For anyone with multiple projects that use _different_ grant types, I can confirm that switching (as I do) between Grant Types (my projects all use either Password Credentials or Cl

[2020-04-14 15:19] carrrson opened #8327 "Published Documentation Formatting Issues"
**Describe the bug**
When publishing documentation, the collection information looks fine pre-publishing in the web view, but once I click publish, the publish preview and the preview documentation show very weird formatting issues.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to collection > publish collection
2. Click on either "preview documentation", or go ahead and publish.
3. Not

[2020-04-14 15:32] MarcBKirsch commented on #4636
@jcush - sure, happy to share the pre-req code here that provides the token genration automatically:

`const c_tokenURL = 'https://yourdomain/oauth/token'; // Endpoint that generates the token
const c_clientID = '12345123451234';
const c_clientSecret = '312345678901234';
const c_grantType = 'client_credentials';

// ***************************************************************

var Base64={_keyS

[2020-04-14 16:13] dhcrees commented on #8288
As discussed with the postman team (Subramanya Raj) I solved the problem I was having by removing postman and its support files and reinstalling.

[2020-04-14 17:19] dcakirkaya commented on #8319
Hitting the same issue with Authorization Code grant type for a different AAD app.

[2020-04-14 18:09] ursusursus commented on #4636
This has bitten me just now, very illogical to assume 1 global oauth

[2020-04-14 18:13] tsukup commented on #4687
Good Afternoon,
I'm still experiencing this issue except it's actually gotten a lot worse as of this week (4/13/2020).  I'm on the latest version: v7.22.1.  I still experience the issue even after uninstalling and reinstalling the latest version.  I've tried running Postman Canary but I worry it's not stable enough to provide accurate results because I noticed it didn't load all of the requests in

[2020-04-14 18:15] MarcBKirsch commented on #4636
@ursusursus - The point is that the OAuth_Token variable is generated at the start of each request.
It's actually a temporary variable only.
The credentials are stored in this example in each pre-req section.
Works fine for my 47 requests that I regularly execute in one Collection Run.

Having one global variable is necessary since Postman is supporting only ONE setup of parameters.
If you have a

[2020-04-14 18:18] ursusursus commented on #4636
@MarcBKirsch I wasn't responding to your post sorry

[2020-04-14 19:36] #7888 closed, assigned to anudeepmedicharla, BrandonGordon126, ArjunSingh-PM

[2020-04-14 19:36] zmts commented on #2086
+1

[2020-04-14 19:39] David-A-Anderson opened #8328 "UI hang with 5 postman windows open"
**Describe the bug**
I find that if I have 5 or more Postman windows open with different environments one of the postman windows will hang after using for less than an hour of switching between the windows doing different tasks, also switching betwen browsers, Slack, Postico, etc.. More often than not it is the second window that I opened that hangs.

**Expected behavior**
Postman should not hang

[2020-04-14 19:42] ArjunSingh-PM commented on #7496
We have added an error page to urge the user to verify their email address to access https://www.getpostman.com/community

[2020-04-14 19:42] #7496 closed, assigned to ArjunSingh-PM

[2020-04-14 19:49] ArjunSingh-PM commented on #7253
Hi @yizeruier1! I hope you have not faced this issue again. Could you please confirm that your account is accessible now.

[2020-04-14 19:56] ArjunSingh-PM commented on #3697
There is an option to login to the app using the web browser using the "Try on a web browser" option at the app.

[2020-04-14 20:17] mrojash213 commented on #8327
Hello Postman team,

I would like to provide visibility that our organization is having the same problem.

[2020-04-14 20:31] CleverHosting commented on #2030
I am on Win 10 and its still not working here :(

[2020-04-14 20:31] CleverHosting commented on #2030
On Linux same :(

[2020-04-14 20:46] Raja-Simha commented on #8327
@carrrson and @mrojash213 can you guys please try a hard refresh and let us know if the issue still persists. We are looking into this.

[2020-04-14 21:06] hilary commented on #6722
Even though I'm defining security in the spec, no auth is generated for the collection. That means I have to add auth to the collection after the fact. If generation were more complete, the lack of update wouldn't be as bad a problem.

We're primarily adding new endpoints, but occasionally deprecating existing ones. We're also updating documentation.

[2020-04-14 21:31] carboneater opened #8329 "Canary: SUID Sandbox Helper is not configured properly"
**Describe the bug**
Since Last Canary Update, Postman exits with the following error
`[115032:0414/172455.991116:FATAL:setuid_sandbox_host.cc(157)] The SUID sandbox helper binary was found, but is not configured correctly. Rather than run without sandboxing I'm aborting now. You need to make sure that /home/carboneater/Downloads/PostmanCanary/app/chrome-sandbox is owned by root and has mode 4755.

[2020-04-14 22:17] xk0der commented on #8327
@mrojash213 @carrrson  Thank you again for reporting this!

Our Engineering team identified an issue where stale assets were being served, breaking the page.
The cache issue has now been fixed and the documentation should start to show properly!

Do let us know if you continue to face this issue!

[2020-04-14 22:30] #8327 closed, assigned to godfrzero, Raja-Simha

[2020-04-14 22:48] FloLaco commented on #8301
This command fix the issue for me : `ln -s ~/.config/chromium/ ~/.config/google-chrome`

[2020-04-15 00:01] a85 commented on #5713
@thetreythomas We are working on improvements to the role based system that will let you map roles to specific groups in specific workspaces automatically. Eventually expectations of who should be assigned which role and the right level of access will have to be mandated by the team admin and some level of manual intervention will exist. However, with a combination of roles + groups + workspaces w

[2020-04-15 02:02] jolesch commented on #5062
Would love to see this feature come to the Postman client!

[2020-04-15 02:15] kevinswiber commented on #5062
It's possible to complete this integration as a third-party using the [Postman API](https://docs.api.getpostman.com/) or a tool like [postmanctl](https://github.com/kevinswiber/postmanctl) (which uses the Postman API).  I can help with a how-to if interested!

[2020-04-15 06:01] numaanashraf commented on #8323
@SiDDevNet's issue was GPU related and is resolved. Marking that thread as off topic.

[2020-04-15 06:14] propagating commented on #4687
I'm still seeing this behaviour occasionally. Normally, postman is running as expected, but at times, with 0 activity, it's still hitting 16GB+

[2020-04-15 06:21] sankalp0o commented on #8275
I'm closing this issue as this bug was fixed. If you continue to face the same problem, please let us know! Thanks again for reporting :)

[2020-04-15 06:21] #8275 closed, assigned to sankalp0o, jazzyarchitects

[2020-04-15 06:49] numaanashraf commented on #8328
@David-A-Anderson Could you share a screen recording to help us understand this issue better and replicate this at our end?

[2020-04-15 06:59] ankit-m opened #8330 "API tab reloads on reconnect"
**Describe the bug**
When app goes offline and then online, an API tab which is open goes into a full loading state. This sometimes takes too long to load.

**To Reproduce**
Steps to reproduce the behavior:
1. Create an API
2. Add schema
3. Go offline and come back online
4. Observe full-tab reload

**Expected behavior**
Block online actions, not the whole tab.
**App information (please complete t

[2020-04-15 07:00] numaanashraf commented on #8310
Issue resolved via email. Cause was GPU related.

[2020-04-15 07:00] #8310 closed, assigned to harryi3t

[2020-04-15 07:09] letanloc1998 commented on #5611
Hey, I have got same error

[2020-04-15 07:13] harryi3t commented on #8329
@carboneater The latest version on the canary channel is v7.23.0-canary01.
I just tried downloading the latest version from the [website](https://www.getpostman.com/downloads/canary) and I got this version only
![image](https://user-images.githubusercontent.com/5207331/79308463-4319e500-7f16-11ea-9ab7-8948e73e7603.png)

Can you confirm the version you are using again?

Also, could you help me find

[2020-04-15 07:17] letanloc1998 opened #8331 "[Postman offline]"
**Describe the bug**
You need to have an active internet connection to be able to switch to or create a workspace.

**To Reproduce**
Can't sync Postman, offline. But I can access internet

**Expected behavior**

**Screenshots**
![image](https://user-images.githubusercontent.com/26348718/79308956-aeb67f00-7f23-11ea-8ad4-a541402f0a2b.png)

**App information (please complete the following information

[2020-04-15 07:18] OrdinaPoolAuto opened #8332 "v7.22.1: no response after good response. Toggles."
Postman version v7.22.1.

Today I upgraded to version v7.22.1.

Now i encounter the problem that when I do a "Send", I get the Response back. When I do a Send again, i receive a "Could not get any response" error message.
When I send again, i get a good response. Send again => error.

This toggles all the time. Even for all requests I have.
So:
- Good Response
- Error
- Good Response
- Error
- ...

[2020-04-15 07:21] OrdinaPoolAuto commented on #8331
I encounter the same problem. No always, but many times: "No internet connection".

[2020-04-15 07:23] gkatsanos commented on #8295
Same problem on Catalina. I tried everything. Logged out. Cleared Application Postman folder. Uninstalled. Reinstalled. Logged out with different google account.
I also can't login easily (have to retry a lot of times)
Mac OS: 10.15.4 (19E266)
Postman: Version 7.22.1 (7.22.1)
Console error:
[code]

[2020-04-15 07:23] letanloc1998 commented on #8331
This is the first time I got this problem
I have restart, change network, but it still not working ~~

[2020-04-15 07:24] JohanO commented on #8295
I also got the exact same problem. Here's a screenshot of my developer tools
![image](https://user-images.githubusercontent.com/1762833/79309612-de9d5c80-7efa-11ea-99a9-c0eeceb90afc.png)

[2020-04-15 07:28] OrdinaPoolAuto commented on #8315
I think this is the same issue as I encounter: #8332.
See https://github.com/postmanlabs/postman-app-support/issues/8332

[2020-04-15 07:53] mark-szabo commented on #3697
Nice. Sad that I already migrated away from Postman because of this.

[2020-04-15 07:56] vikiCoder commented on #3825
Hello everyone,

We are excited to announce that PKCE support for OAuth 2.0 is added in the latest version of [Postman Canary (v7.23.0-canary01)](https://www.postman.com/downloads/canary). To use it, open the `Get New Access Token` dialogue and select `Authorization Code (With PKCE)` as `Grant type`. You can select the `Code Challenge Method` to be either `Plain` or `SHA-256` and also optionally p

[2020-04-15 07:58] kamalaknn commented on #4687
Hey @tsukup @propagating

We would like to get more information to help debug this issue better. Could you write to us at `help@postman.com` from your registered email? Please mention the GitHub issue id, along with app logs.  You should be able to find the logs in the `top menu-> View-> Developer -> view logs in finder`

[2020-04-15 08:01] arthurkushman commented on #4401
Hi, can't sync postman today, from renderer-requester.log:
[code]
main.log
[code]
As u can see this is the latest version of Postman 7.22.1

[2020-04-15 08:14] letanloc1998 opened #8333 "[Can't sign up with google, Postman Offline]"
**Describe the bug**
Does Postman down? I can't sign up by google account or using Postman app

**To Reproduce**

**Expected behavior**

**Screenshots**

![image](https://user-images.githubusercontent.com/26348718/79314158-99455300-7f2b-11ea-9c60-63d057660ff3.png)

![image](https://user-images.githubusercontent.com/26348718/79314222-af531380-7f2b-11ea-93d7-ce8c31b8939f.png)

**App information (ple

[2020-04-15 08:43] mvdcorput commented on #697
+1

[2020-04-15 08:57] mustela opened #8334 "Expose the raw body on the mock server call log"
When using the mock server, it would be super useful to have the log exposing the raw data, like the body, headers, and not wrapping them into the UI.
<img width="956" alt="Screenshot 2020-04-15 at 10 52 16" src="https://user-images.githubusercontent.com/325222/79318639-8751b900-7f07-11ea-95d9-bf9b43e625bd.png">

Although it's a nice ui, it's hard to use when you are comparing different calls, and

[2020-04-15 08:58] ash007-postman commented on #8333
@letanloc1998  Some of our services were experiencing some downtime but those issues have since been addressed. We apologize for any inconvenience it may have caused you.

Below is a link to our status page which has to most up-to-date information on the uptime of our services.

http://status.getpostman.com

If you're still having issues, please do reach out!

[2020-04-15 08:59] ash007-postman commented on #8333
Ref ticket- ZD-49380

[2020-04-15 09:12] letanloc1998 commented on #8333
May be it not fix, I can't sync ~~
![image](https://user-images.githubusercontent.com/26348718/79320251-b9791000-7f33-11ea-8d31-3e937d7b1758.png)

[2020-04-15 09:13] mustela opened #8335 "X-mock-match-request-body not matching examples"
Hey guys,
Im having a hard time trying to make graphql requests match the examples and I can't understand what is really failing.

Some context: https://community.postman.com/t/x-mock-match-request-body-with-graphql/11905/4

And now Im where *I believe* the bodies are exactly the same but still not matching:
This is the example:
![Screenshot 2020-04-15 at 11 00 16](https://user-images.githubuserco

[2020-04-15 09:18] mjarosie commented on #6723
I got it working after backing up the `%appdata%/Postman` directory, uninstalling the current v7.22.1, installing v7.21.2 and replacing files in `%appdata%/Postman` with my backup.

[2020-04-15 09:23] stuarth-cognitoiq commented on #8323
I've tried, however this disconnects and crashes whilst recording.

[2020-04-15 09:27] letanloc1998 commented on #8333
Ok, it's working.
Thank you very much

[2020-04-15 09:28] #8333 closed, assigned to ash007-postman

[2020-04-15 09:28] letanloc1998 commented on #8331
Ok, It's working.
Thank you very much

[2020-04-15 09:28] #8331 closed, assigned to nobody

[2020-04-15 09:57] marcopierac commented on #4401
As you can clearly see from the fact that i am uploading this screenshot, it looks like i **do** have an active internet connection...
![image](https://user-images.githubusercontent.com/57956836/79323115-1530a280-7f0e-11ea-833d-0737a64f1087.png)

Since an hour ago I am having the same problem as @arthurkushman , with v7.22.1. The log reports `Could not fetch from sync. Socket not connected`.
I had

[2020-04-15 10:31] Pushpa029 opened #8336 "Not able to login to Postman through google"
**Describe the bug**
Not able to login to Postman. Is it down?

**To Reproduce**
Steps to reproduce the behavior:
1. Launch the app
2. Click on sign in with google
3. Get error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
![image](https://user-images.githubusercontent.com/42090484/79327417-b7ec1f80-7f14-11ea-9677-455a07322e37.png)

**App i

[2020-04-15 10:44] peconia commented on #8336
I have the same issue. Cannot login using google id on the Windows app or in any browser.

[2020-04-15 10:47] cyrielle-h commented on #8336
Thank you for flagging this issue. We are currently experiencing some downtime and our Engineering team is working as quickly as possible to get everything back up and running. We will reach back out as soon as we have any updates.

To keep track of this issue, feel free to subscribe to this incident on our [Status Page](https://status.postman.com/).

[2020-04-15 10:54] theholiday commented on #5611
The same.

[2020-04-15 10:58] stuarth-cognitoiq commented on #8323
@numaanashraf  please see my last comment.

[2020-04-15 10:59] zarpio commented on #6239
From April 15, 2020, getting this issue not able to sync :-(

[2020-04-15 11:22] netbull commented on #5611
I'm on Mac and after creating a team the app thinks I am offline and I could not see the newly created team nor the workspace...

The Postman version is 7.22.1

[2020-04-15 11:24] arlemi commented on #5611
@theholiday @netbull Your issues may be related to an ongoing incident with the app and dashboard, please check our status page and try again once the incident is resolved! Thanks for your patience in the meantime. https://status.postman.com/

[2020-04-15 11:30] netbull commented on #5611
@arlemi Yes, it could be... thanks for the link, I did not saw it earlier...

[2020-04-15 12:12] codenirvana commented on #8024
@praveendvd This is fixed in Newman v5.
Check the Newman [v4 to v5 migration guide](https://github.com/postmanlabs/newman/blob/develop/MIGRATION.md#migrating-from-v4-to-v5) and [changelog](https://github.com/postmanlabs/newman/blob/v5.0.0/CHANGELOG.yaml#L1) for more details.

[2020-04-15 12:12] #8024 closed, assigned to vvs11, codenirvana, saswatds

[2020-04-15 12:16] nikolamajmunovic commented on #4401
same problem, not sync when upgraded to the latest version. Mac Book

[2020-04-15 12:18] TungstenX commented on #3084
I'm having proxy issues. It used to have two sections. One I could manually specify a proxy and/or use the system one. Now I only have the system one, that doesn't work.
Postman for Windows
Version **7.22.1**
win32 10.0.15063 / x64

![Capture83](https://user-images.githubusercontent.com/13778824/79336352-e0c7e100-7f23-11ea-90e1-5328513a1835.PNG)

[2020-04-15 12:25] ankurdengla commented on #3084
Hey @TungstenX !

Earlier the proxy settings were only for sending requests. We have moved that to a section titled `Proxy configuration for sending requests` in the `Proxy` settings. You can still apply the system settings for sending requests and also specify a custom proxy. You just need to -

* Check the `Use System Proxy` checkbox if you need to use the system proxy for sending requests under

[2020-04-15 12:43] janswist opened #8337 "MacOS app is not syncing"
I had an issue with syncing the app after update to the latest version. I uninstalled it completely, signed-in via Google and error is still there. How is that possible? I see other people also having trouble to sync their app and if not exported data all would be lost.

[2020-04-15 12:44] zarpio opened #8338 "Unable to sync"
Everything was working fine last night, I didn't even update or change a setting... postman unable to sync anything.

- macOS Mojave
- Postman 7.22.1

**Tried**
- Signout and Signin
- Downloaded again and installed

![image](https://user-images.githubusercontent.com/112050/79338201-504bc980-7f40-11ea-8428-03b9239816b6.png)

[2020-04-15 12:47] TungstenX commented on #3084
Hi @ankurdengla
Thank you for the quick response.
The UX is bad. When unticked, one cannot see the tick box. Clicking on the "Use the system proxy" text doesn't toggle the check box.

[2020-04-15 12:48] arlemi commented on #8337
There is an ongoing issue with our service, we're currently working on a fix, sorry about that!

You can follow updates on our status page as well as subscribe to the incident to be alerted as soon as the status is updated. ➡️ https://status.postman.com/

[2020-04-15 12:48] arlemi commented on #8338
There is an ongoing issue with our service, we're currently working on a fix, sorry about that!

You can follow updates on our status page as well as subscribe to the incident to be alerted as soon as the status is updated. ➡️ https://status.postman.com/

[2020-04-15 12:58] thedev commented on #4780
+1

[2020-04-15 13:00] MeTaNoV commented on #3234
Thanks for this workaround which is a bit better, but having directly a button or choice in addition to `Send` would be even better! :)

[2020-04-15 13:06] donbowman commented on #3825
Thanks for this.
Tried it, infortunately the built-in browser is not sufficient, returning:
[code]
![image](https://user-images.githubusercontent.com/5131923/79340347-2a9ad200-7ef8-11ea-94d4-9580402f1739.png)

A *much more common* technique is to open a local port (in postman, e.g. port 8888), and then cal xdg-open on the real browser, w/ the redirect being the 8888. This means the real browser (w

[2020-04-15 13:34] vikiCoder commented on #3825
@donbowman You are right, it is a [known issue](https://github.com/postmanlabs/postman-app-support/issues/8059). We are working on allowing token generation through the browser. It will be released soon. Follow [this](https://github.com/postmanlabs/postman-app-support/issues/8059) thread for updates. Here's a glimpse of that feature:

![image](https://user-images.githubusercontent.com/16588032/793

[2020-04-15 13:55] RickC37 commented on #3825
In my system it worked perfectly. Thank you @vikiCoder 🙏

[2020-04-15 14:02] IvanAM06 commented on #8267
Solo me funciona la versión 7.1.1, todas las más recientes fallan, no responden o no abren

[2020-04-15 14:05] arlemi commented on #8267
@IvanAM06 There is an ongoing issue, please check the updates on our status page: https://status.postman.com/

[2020-04-15 14:14] donbowman commented on #3825
i also wish it would use the openid discovery document. /.well-known/openid-configuration.  that would remove the need to fill in many fields.
its also confusing to call the redirect-uri 'callback url' since that has a (different) meaning.

consider suggest `urn:ietf:wg:oauth:2.0:oob` as the redirect uri, this is from the standard for this type of app when doing the out-of-band i think.

[2020-04-15 14:18] AnthonyDesa opened #8339 "Default values for single property works but collection does not work..."
**Describe the bug**
I have imported swaggar.json in postman but it failed to include default value of property from Request object if the property is a collection i.e. List<string> List<int> it works fine with single value.
I can see the default values for collection in swagger.json and SwaggerUI is also able to render the default values for both single value and collection.

[2020-04-15 14:24] carboneater commented on #8329
Yeah, the package I downloaded is tagged 7.23.0-canary01
Seems like you have an artefact in `app/version` that's stuck at 7.1.13...
I re-downloaded and reinstalled just for kicks. Same failure.

As for the bullseye image,
I usually start from a stable image then switch all the `stable` mirrors to `testing`.
the `netinst` image might work for you,
but I'm pretty sure `debian-bullseye-DI-alpha2-i386

[2020-04-15 14:35] Neogene opened #8340 "When adding email symbol @ to Team on Mac @ end email typing."
**Describe the bug**
When typing email address symbol @ when adding email to invite inside Team typing ends and

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'INVITE' top button
2. Type "info@"
3. Typing ends creating [info] avoiding to typing correct email eg: iinfo@test.it

**Expected behavior**
@ doesn't end email typing OPTION + @ symbol
<img width="687" alt="Schermata 2020-04-15

[2020-04-15 14:53] ankurdengla commented on #3084
Hey @TungstenX !
We are sorry that you are having such an experience with the app. You should be able to toggle the setting by clicking on the checkbox for `Use system proxy` .
Clicking on the text to toggle is not something we have added at the moment. But thanks for the feedback. We are constantly looking into improving the UX for the app.

[2020-04-15 15:02] vikiCoder commented on #3825
@donbowman Thanks for the suggestion. Feature request for OpenID discovery is tracked [here](https://github.com/postmanlabs/postman-app-support/issues/2361). However we haven't planned it yet. Stay tuned for updates🙂

[2020-04-15 15:27] alivcor commented on #2833
On Windows, **delete** the following file : `C:\Users\<username>\AppData\Roaming\Postman\window`

[2020-04-15 15:40] tmdoit commented on #6722
Only difference between "Update Collection" and "Generate Collection" will be that "Update Collection" will recover tests written for defined collection endpoints. I use word "recover" because I don't see for this use case any reason to just not generate fresh collection from API spec and attach tests using collection endpoints as reference. I think that this way of solving problem will keep  impl

[2020-04-15 15:55] arlemi commented on #8338
@zarpio That incident is now resolved! Sorry for the trouble and let us know if you're still experiencing issues.

[2020-04-15 15:55] #8338 closed, assigned to nobody

[2020-04-15 15:55] arlemi commented on #8337
@janswist That incident is now resolved! Sorry for the trouble and let us know if you're still experiencing issues.

[2020-04-15 15:55] #8337 closed, assigned to nobody

[2020-04-15 15:56] arlemi commented on #8336
@Pushpa029 @peconia That incident is now resolved! Sorry for the trouble and let us know if you're still experiencing issues. :)

[2020-04-15 15:56] #8336 closed, assigned to nobody

[2020-04-15 17:03] vvs11 commented on #8325
@ankit-m this is the behavior we designed it for because the restore and add version tag flows were becoming slightly cumbersome. Will mark it as a feature request to track .

[2020-04-15 17:07] vvs11 commented on #8334
@mustela Thanks for the feedback. We will keep a note of this and work upon improving the experience

[2020-04-15 17:14] vvs11 commented on #8332
@OrdinaPoolAuto could you check the error message you see in the console? You an open it from bottom left.
![image](https://user-images.githubusercontent.com/4140290/79366920-9ae23b80-7f6a-11ea-9ce6-c05505a9ee4f.png)

[2020-04-15 17:19] vvs11 commented on #8322
@hungdao-testing Thanks for writing in! We are working on improving the experience around improving grapgQL in Postman. We will keep this in mind while designing the experience

[2020-04-15 18:08] ArjunSingh-PM commented on #7854
Resolved this issue.

[2020-04-15 18:08] #7854 closed, assigned to charlie-postman

[2020-04-15 18:22] AnthonyDesa commented on #8339
Please import following swagger.json to reproduce the behaviour. Example shows the request body correctly for GetPrice Api but main method does not show the default value when it is a collection...

{
  "openapi": "3.0.1",
  "info": {
    "title": "MarketPlace Cheque API v1.0",
    "version": "1.0"
  },
  "paths": {
    "/api/v{version}/HealthCheck/ServiceCheck": {
      "get": {
        "tags": [

[2020-04-15 19:21] tm1819 commented on #5294
it can be fixed with the dark theme plus this and restarting the app:
defaults write com.postmanlabs.mac NSRequiresAquaSystemAppearance 0

[2020-04-15 21:29] gonensh commented on #7951
Thanks @ankit-m!

[2020-04-15 21:47] mustela commented on #8335
FWIW adding `--header 'Content-Type: application/json' \ ` isn't working neither.

[2020-04-15 22:02] aolaria commented on #3472
not sure if there's any documentation about this. but yeah it still happening.

[2020-04-15 22:40] NimbleHive commented on #6722
+1 for this - especially when prototyping - its cumbersome.  Right now I use Swagger, then when happy add it to Postman.  Would be nice to skip Swagger step.

[2020-04-16 01:23] stanleynguyen commented on #1744
+1

[2020-04-16 02:18] dz902 commented on #3518
I agree with @TheDirigible. This is indeed a UX issue anyway. I search and found this issue 3 months ago, and now I have to search it again to remember what I learnt last time. With a proper warning or error this could've been easy.

[2020-04-16 03:07] ankit-m commented on #8295
Our servers were facing some issues yesterday which caused syncing to not work for some of our customers. This is resolved now. If you are still facing the same problem, please reopen this issue.

[2020-04-16 03:14] akhsiM commented on #8288
Hi @preethammavin thank you for the response. I have done this on my Postman and will see if there is any further issue.

[2020-04-16 03:26] PranY commented on #6024
The below command (by default) kept me on 6.7
`sudo snap switch --channel=candidate postman`
and the output was
`"postman" switched to the "v6/candidate" channel`

I forcefully changed the channel to 'latest/stable' so the new command was
`sudo snap switch --channel=latest/stable postman`
and the output was
`"postman" switched to the "latest/stable" channel`

Then updating the snap with `sudo snap

[2020-04-16 03:50] pacific202 commented on #4033
I have switched to Insomnia.  So far so good.  Their Workspace concept lets me control the certificates independently for each workspace.

[2020-04-16 05:57] wmlukaszarciszewski opened #8341 "Access postman variables from visualizer template"
**Is your feature request related to a problem? Please describe.**
I want to be able to set variables using visualizer feature.

**Describe the solution you'd like**
pm object in visualizer template should expose all pm features like collectionVariables, globals, test etc.

**Describe alternatives you've considered**
Maybe if pm cannot be exposed so we can pass external functions in data object?

[2020-04-16 06:03] vikiCoder commented on #8317
Hi @stevenh, I was able to reproduce and identify the issue here. I am suggesting a workaround to unblock you until we fix the issue. You can override the auto-generated `Content-Type` header by adding  `Content-Type` manually in the `Headers` tab of your request. It will then consider manually added `Content-Type` header instead of auto-generated one while calculating AWS signature.

[2020-04-16 06:06] harryi3t commented on #7723
We've pushed an update involving updating to Electron v7 on our early access canary channel that should resolve this issue 🎉. Do try it out and let us know.

You can get the canary app from https://www.getpostman.com/downloads/canary

[2020-04-16 06:17] harryi3t commented on #7700
Hi,

We've pushed an update on our early access canary channel that should resolve this issue. Do try it out and let us know

You can get the canary app from https://www.getpostman.com/downloads/canary

[2020-04-16 06:20] harryi3t commented on #5122
@webcoderkz

We've pushed an update on our early access canary channel that should resolve this issue. Do try it out and let us know.

You can get the canary app from https://www.getpostman.com/downloads/canary

[2020-04-16 06:21] OrdinaPoolAuto commented on #8332
See the toggling here.
![image](https://user-images.githubusercontent.com/62640748/79421358-ee7c7580-7fba-11ea-87bc-730713584b63.png)
Please see the error message.
![image](https://user-images.githubusercontent.com/62640748/79421409-06ec9000-7fbb-11ea-9a11-126c8522290e.png)

This is a continuous process.

[2020-04-16 06:22] harryi3t commented on #6485
@arpitbatra123

We've pushed an update on our early access canary channel that should resolve this issue. Do try it out and let us know
You can get the canary app from https://www.getpostman.com/downloads/canary

[2020-04-16 06:24] harryi3t commented on #4849
Hi,

We've pushed an update on our early access canary. It has updated the underlying platform (Electron v7) on which Postman is built. Do try it out and let us know

You can get the canary app from https://www.getpostman.com/downloads/canary

[2020-04-16 06:30] harryi3t commented on #5332
@murtaza-asar-cox @Jaggle

We've pushed an update on our early access canary channel that should resolve this issue. Do try it out and let us know

You can get the canary app from https://www.getpostman.com/downloads/canary

[2020-04-16 07:08] elznr commented on #7700
I tried PostmanCanary and it does not work.

![C29479C3-F86F-465E-AC90-399C59AA89DF](https://user-images.githubusercontent.com/3471762/79425340-d6f4bb00-7fc1-11ea-8f4d-493c856fccfb.jpeg)

[2020-04-16 07:14] arpitbatra123 commented on #6485
@harryi3t File Picker on Postman Canary is respecting the systemwide dark mode theme setting now. Thanks for the fix!

[2020-04-16 07:43] harryi3t commented on #7700
@elznr Thanks for quickly trying it out and letting us know.

Google is blocking all the embedded browsers, so even though we have updated the embedded browser to a relatively recent version (Chrome 78) it is still getting blocked.
For these cases, we are working on supporting the OAuth2 flows using the external Browsers. We will keep you posted on the updates.

Here's a glimpse of that feature:
!

[2020-04-16 08:49] rfonrouge commented on #7084
Same need here. We would like to publish the documentation to our customers, but the public link is very weak. Adding a password would make the link a bit less transferable.

[2020-04-16 08:54] lazee commented on #2934
All it would take, as far as I can tell, is ONE extra field in the access token form for Client credentials. And I have to say that I'm not sure what is worst here; The missing audience field, the time since anyone from the team has commented on this issue or the fact that it recently was moved to "Later" without even a comment. Somebody had to say it :)

[2020-04-16 09:30] Roemerb commented on #3518
Issue is still not fixed. v7.22.1 on Ubuntu.

[2020-04-16 10:02] kcak11 commented on #7179
I believe the purpose of "Initial Value" is to populate the "Current Value" when the "Reset All" button is clicked.
As per the tooltip for "Reset All":
![image](https://user-images.githubusercontent.com/703559/79442918-cc084d80-7ff6-11ea-88ac-4fc98b7d1cd8.png)
Note: If you click the more options, you will find the "Reset" option in every row which does the similar copy Initial -> Current for the c

[2020-04-16 10:07] MarcBKirsch opened #8342 "Collection Runner - wrong progress indication"
**Describe the bug**
The progress indication sometimes shows utterly wrong progress information. After 50+ of 900 iterations, the indicator was changing from 0 to 1 (it not frozen!)
<img width="955" alt="PM wrong progress indication" src="https://user-images.githubusercontent.com/15914824/79443537-3d85d300-7fda-11ea-917e-342f0d80c72d.PNG">

**To Reproduce**
Steps to reproduce the behavior:
1. Star

[2020-04-16 10:24] buszu commented on #8231
Hey, I'm not sure if the issue is related to requesting a token or using tokens received, but maybe it's a right place to ask for a possibility to set `response_type` parameter on OAuth2 implicit flow. Some auth providers (auth0) require setting it to 'id_token token'.

[2020-04-16 10:30] SKvasnytsia commented on #4092
Hi, facing the same issue. Using NTLM Authorisation. When running Postman collection, getting 401 on the third request. Postman Version: 7.22.1

[2020-04-16 10:55] Atishay4294 commented on #7634
@tobyhede - Can we close this issue if it works for you?

[2020-04-16 11:12] coditva commented on #4092
@SKvasnytsia your case seem to be similar to #7747. We're tracking this issue. Will update there when we have a fix.

[2020-04-16 11:20] lacivert opened #8343 "On/Off SSL Verification setting Temporary or Per Request"
**Is your feature request related to a problem? Please describe.**
There are different types of requests and domains such as localhost and example.com. Some of them are self signed or not signed but the development and testing process needs to work on https. So to going to Preferences -> SSL verification off/on back and forth makes confused and frustrated.

**Describe the solution you'd like**
SSL

[2020-04-16 13:06] TehBakker commented on #7294
I can't use Postman anymore, it goes up over 100% CPU as soon as I start it and the fan goes in crazy mode.
Any update on this? Else I'll have to find another soft quick, because I've most of my dev test requestes there and it's hell without it atm.
![postman](https://user-images.githubusercontent.com/7705294/79459609-cf4e0a00-7ff3-11ea-8c2d-5541e02dc795.jpg)

[2020-04-16 13:08] vikiCoder commented on #3447
@ndrewnee Thanks for the information. I was able to reproduce the behavior using the request you provided. We will investigate it further.

[2020-04-16 13:09] esafzay commented on #5170
I don't know if you have the same issue but mine had a carriage return at the end of the variable name.

[2020-04-16 13:22] stevenh commented on #8317
Thanks @vikiCoder I did identify that as a workaround in my report, so I can confirm am using that currently :)

[2020-04-16 13:54] harryi3t commented on #5294
Hi,
We've pushed an update on our early access canary channel that should resolve this issue. Do try it out and let us know

You can get the canary app from https://www.getpostman.com/downloads/canary

[2020-04-16 13:59] vikiCoder commented on #7453
Hi @m3dbedb,

I tried to reproduce the issue by doing following:
1. Initially add a global variable manually `alpha: beta`
2. Then Create a request that crashes the app (don't send it yet).
3. Set a global variable in pre-request script of this request. `pm.globals.set('foo', 'bar');`
4. Send the request. It will crash the app. Hence the global variable `foo` won't be stored.
5. Open the app again

[2020-04-16 14:02] RobinTTY commented on #7723
@harryi3t the issue is resolved for me on the canary channel. Thank you!

[2020-04-16 14:09] Schnielz commented on #5803
Same here.

[2020-04-16 14:14] vikiCoder commented on #7957
Hi @roslowry,

I tried to reproduce your problem but had no success. When I updated the header of a request and retried the request in the runner, it sent the updated header as expected. Although one thing to note here is that while sending a request from the runner, it sends the saved version of that request, not the unsaved changes to that request in request editor. So it could be happening to y

[2020-04-16 15:05] nguyenphucthinh commented on #285
+1

[2020-04-16 15:37] ebuojr commented on #6205
Having same issues when icall localdb

[2020-04-16 15:55] FullofQuarks commented on #697
Still don't see a resolution in this thread that was opened 6 years ago...instead I see multiple issues revolving around the same feature request, and comments like "Do you mind locking this thread so it doesn't continue to get +1s". So instead of addressing the issue (I continue to see activity on this issue, #4193 and #4845), you'd rather lock it so no further comments can come out of it.

Eithe

[2020-04-16 16:19] kamalaknn commented on #7294
Hey @TehBakker

Are you signed into Postman? Can you try signing out and signing back in?

[2020-04-16 18:40] natepappenhagen commented on #4598
Most recent release 7.22.1 does not seem to fix this bug for me.

Can anyone confirm that their path variables are resolving correctly on swagger/openAPI import? I still just get the `baseUrl` variable and the rest are notated by `:pathVariable`

[2020-04-16 18:50] Hackmodford commented on #5294
Looks good to me. I would also recommend having an option to switch between light/dark theme based on OS preference.

[2020-04-16 21:29] hfmm99 commented on #4898
Bulk Edit allowed easily copy/paste variables among different environments, or copying all variables to Excel to do Alphabetic Sorting, is there any way to achieve this with the new UI?

[2020-04-17 00:04] RomainLapeyre commented on #3358
+1

[2020-04-17 00:18] backnotprop commented on #2801
flatbuffer.

[2020-04-17 00:49] elv1s commented on #1070
Even when I export the collection, update the json `response`, and import the updated raw json collection the order is still random. ☹️

[2020-04-17 02:31] kevyaugusto opened #8344 "Set Environment variable Access Token"
After generating the Access token, tab Authorization, type=O Auth 2.0, I set my environment variable with the token generated.
Steps
1- generate the token
2- select the token generated
3- right button click > set variable menu > choose the variable you want to set.
4- go to the variable and see the token value, it ALWAYS contains a NEWLINE char (\n) at the end of the token, which I have to clean i

[2020-04-17 06:07] alexiswl opened #8345 "Access collectionBody object in Pre-Request Script or Test Area"
# Feature Description
Access to the Collection object from inside a request.

# What I would like to be able to do
Inside the Pre-Request Script or Test Area, I can access the collection object.

# Additional Context
I would like the ability to create a new itemGroup / Folder based on the response of the request.

[2020-04-17 09:16] PrimarchAlpharius commented on #4009
See this Postman team? Ignoring users is how software becomes obsolete.

[2020-04-17 09:16] korylus commented on #3438
We would also like to be able to export to a static site so we can host the docs ourselves, particularly as we don't want to be limited to using a subdomain like https://api-docs.example.com, as is the only option with Postman custom domains

[2020-04-17 10:03] ayavvv commented on #7294
v7.22.1 still doesn't work.

My college uses the 7.11.0 version and it works fine. But when I want to downgrade to this version.  I failed:
`Looks like you've used a newer version of the Postman app on this system. Please download the latest app and try again.`

[2020-04-17 10:58] daswass opened #8346 "pm.globals.set will not set a function"
**Describe the bug**
I have a set of requests that are run in order by a Monitor for end-to-end testing of my application. I am changing the deprecated testing methods to the new ones but pm.globals.set does not allow me to set a function whereas postman.setGlobalVariable does. I am doing this to simplify cleanup in the last request. The first request creates a cleanup function, and the last reque

[2020-04-17 12:34] NathanThiya commented on #3358
+++++

[2020-04-17 13:07] fionaom commented on #4075
Any update on this?

[2020-04-17 14:42] mustela commented on #8335
Guys any update on this one?

[2020-04-17 15:00] navirineni opened #8347 "Renaming a workspace removed some collections in the workspace"
**Describe the bug**
Renaming a workspace removed some collections in the workspace. I have lost all the collections and the data.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Workspace drop down
2. On your Workspace name Click on ... and select Rename
3. Change the name of the workspace
4. All the collections in the workspace are gone. I don't find them in my account too on the web

[2020-04-17 15:12] avirinenin commented on #8347
<img width="1581" alt="Screen Shot 2020-04-17 at 11 11 12 AM" src="https://user-images.githubusercontent.com/50954773/79584364-4b039180-809c-11ea-8286-80ae7b9dd049.png">

[2020-04-17 15:21] vvs11 commented on #8345
@alexiswl, Thanks for writing in! Could you help us a little more in understanding your use case as to why you need to create a collection/folder from scripts? This will help us design a better solution.

[2020-04-17 18:56] rohitkrishna094 commented on #6355
That workaround seems like a bug lol, but in this case, its a feature :P

[2020-04-17 19:03] q-oriol commented on #1535
+1

[2020-04-18 01:51] jbevarts commented on #3466
If anything, saveall.  How is this not implemented already?

[2020-04-18 03:29] alexiswl commented on #8345
I've provided a screenshot below.

![image](https://user-images.githubusercontent.com/8197659/79626852-f3862400-8176-11ea-8a4d-a3a46c962f13.png)

When I click 'launch task version' - red which takes a list of inputs, the response returns a run ID, which runs a process through a cloud server. When I click launch, I'd like to have a folder created in the runs section (in blue) that is named as per t

[2020-04-18 03:31] alexiswl commented on #8345
Please let me know if I need to elaborate more.

[2020-04-18 06:55] sankalp0o commented on #8340
Thanks for reaching out @Neogene ! I understand your problem but I'm not able to reproduce it. We'll do some more digging around to see what might be causing this. We'll get back to you if we need any more info from you to debug this.

[2020-04-18 06:56] sankalp0o commented on #8330
Thanks for letting us know @ankit-m! We'll relook at the experience here as well as the loading time.

[2020-04-18 13:27] YassienW opened #8348 "Cookies not getting set when URL is variable"
**Describe the bug**
When using a URL set from an environment variable, cookie header doesn't get automatically added

**To Reproduce**
Steps to reproduce the behavior:
1. Create new get request, set request URL to {{baseUrl}}
2. Add an environment with the variable baseUrl = https://github.com/ and use that environment
3. Send the request, cookies will be returned but the header will not be added

[2020-04-18 15:50] rogue357pi opened #8349 "Postman proxy bypass not working when wild cards are at end of entry"
**Describe the bug**
When proxy bypass is set to the following:
localhost, *.cloud.com, internal-gateway*

Using a URL such as   https://internal-gateway-test.mydomain.com

All 3 bypass patterns show up in console as expected but no match is found and proxy authorization occurs.

**Expected behavior**
URL should match 3rd pattern and proxy bypass should occur.

[2020-04-18 15:55] DaveSanders opened #8350 "GraphQL Schema reload from filesystem"
**Is your feature request related to a problem? Please describe.**
When you add a GraphQL API from a schema file, there doesn't seem to be a way to reload the file without deleting and re-adding the API.

**Describe the solution you'd like**
I'd like to be able to at least manually refresh the schema based on the file that I originally imported. Ideally, Postman watches the file and reloads when t

[2020-04-18 17:37] mpwoodward opened #8351 "Remove Content-Type Header in Python Requests Code when File Included"
**Describe the bug**
When including a file in a POST request, the Python Requests code is incorrect since it includes the Content-Type header. The Content-Type header is required to get things working correctly through the Postman interface, but when files are included in Python Requests requests, explicitly setting a Content-Type header results in a multipart boundary not being set and the file t

[2020-04-18 18:06] thameemk612 commented on #4637
Got same error while installed using snap.
After that, I have cleared the broken packages and icons installed before without using snap.
Its worked for me

[2020-04-18 23:38] fenoloco opened #8352 "Error merging but not useful message is shared to the user"
**Describe the bug**
We are a team of 13 persons and multiples times we have issues merging collection forks and the only message that appears on the screen is an error saying collection could not be merged.

**To Reproduce**
Steps to reproduce the behavior:
I don't have a way to make this happens.. but happens multiples times and we decide to delete the fork and create it again, I think you shoul

[2020-04-18 23:41] fenoloco opened #8353 "Sync is not working properly"
**Describe the bug**
Sync stop working and the only way to make it working again is to login and logout

**To Reproduce**
I don't have a way to force this happens but support team suggest me to logout/login so I think is widely know for your team.

**Expected behavior**
Sync improvement

[2020-04-19 03:18] yosacyber opened #8354 "Postman not save any request"
Postman not save any request, If I choose RAW, so form-data is data lost.
and If I choose RAW form-data, raw data and others is lost.. i hop you fix its

[2020-04-19 09:07] alanhg commented on #4009
It‘s time to give up postman.

choose postwoman

[2020-04-19 16:59] 6lick commented on #2340
Having same issue on linux mint

[2020-04-19 20:57] marktoman opened #8355 "Dark themed Postman shows a bright menu bar on Windows and Linux"
**Is your feature request related to a problem? Please describe.**
Eye draining bright menu bar contrasting with the dark theme:

![image](https://user-images.githubusercontent.com/47689923/79699415-d729da80-828f-11ea-8b4d-f0fe57345373.png)

**Describe the solution you'd like**
The standard Windows solution is to hide the menu bar and show it on Alt keypress. This behavior is usually disabled in t

[2020-04-19 22:14] shikha1982 commented on #8315
I dont think it is same as 8332, there atleast response is seen one or twice but here i dont see. Anyone have any information on this.

[2020-04-20 03:07] maulmota commented on #4172
+1

[2020-04-20 06:15] avani-n commented on #7837
@artchen We have identified the root cause and underlying issue is now resolved! Let us know if you're still experiencing issues.

[2020-04-20 06:15] #7837 closed, assigned to sankalp0o

[2020-04-20 07:34] krgaurav29 commented on #6105
Is this integration option Disabled now?
as the only option i can see for github is "Back up collections and sync API schemas to your GitHub repositories"
![image](https://user-images.githubusercontent.com/60217997/79725867-7f2eba80-8307-11ea-979a-b433e5c372ca.png)

[2020-04-20 07:51] sankalp0o commented on #8340
@Neogene could you please attach a video so that we are able to better understand how you're running into this issue? We've tried multiple things but we're unable to reproduce this.

[2020-04-20 08:20] numaanashraf commented on #8355
@marektoman System dark theme is partially supported in our early access canary build. https://www.postman.com/downloads/canary. Could you take that for a spin and let us know?

[2020-04-20 09:10] Raja-Simha commented on #8307
Closing this as we do not have enough information to reproduce this and investigate further.

[2020-04-20 09:10] #8307 closed, assigned to vvs11, Raja-Simha

[2020-04-20 09:29] eliassal commented on #8278
Hi, any feedback on this? Thanks

[2020-04-20 09:40] VicKetchup commented on #7960
@RainerGoermann Possibly the API for the monitors will help with your specific request (https://documenter.getpostman.com/view/631643/JsLs/?version=latest#86a64793-eb15-d40f-18aa-f74a666a6130), although having UI is definitely a better solution.

However that API also has limitations that we'd like to see removed, like currently we are not working on Fridays, meaning all our services on Dev, Test,

[2020-04-20 10:09] numaanashraf commented on #6071
@LordRafa A fix for this issue is available on our early access 'Canary' channel - https://www.postman.com/downloads/canary. Could you try out this build and let us know?

[2020-04-20 10:17] avani-n commented on #8340
@Neogene Getting a GIF/Video will help tremendously. You can also send the relevant screenshots/gifs to help@postman.com with this github issue id mentioned in subject.

[2020-04-20 10:55] pranaya94 commented on #8335
If you are using the `x-mock-match-request-body` header, then make sure that the `Content-Type` header in your request to the mock server is the same as the `Content-Type` header in the example request (not response) you want to match.

Try the following steps:
1. Include Content-Type application/json in the request you are sending to the mock server
2. Include Content-Type application/json in the

[2020-04-20 11:51] SyDan commented on #3117
+1
Its a really crucial feature in documentation

[2020-04-20 13:25] jdelpierre commented on #697
+1

[2020-04-20 13:33] Username-is-unavailable opened #8356 "Can't access JS variables set in pre-request script"
Hi everbody.

I wanted to access a function that I defined in a pre-request script like:

![coll](https://user-images.githubusercontent.com/64019140/79756226-9a56f580-831a-11ea-8d8a-55f6b4d1a762.PNG)

Here's the code:
[code]

Unfortunately when I try to access this object, it says `undefined`.
Here's a screenshot and an excerpt of the postman console:
![req](https://user-images.githubusercontent.c

[2020-04-20 13:38] TurboFry3 commented on #6105
I ran into the same thing.  Apparently this is now only available with a paid subscription

[2020-04-20 13:40] mustela commented on #8335
Thanks @pranaya94 for the answer, and yes, it is working only when I use `Content-Type: application/json`
But it is not if the content type header has something else (I do have the same header in the request example). This doesn't work `'Content-Type: application/json; charset=utf-8'`, it doesn't match.

[2020-04-20 14:07] m3dbedb opened #8357 "[7.22.1] unexpectedly closes under win 10 64bit"
**the bug description**
the app unexpectedly closes with no load

**To Reproduce**
Steps to reproduce the behavior:
1. open postman
2. open another app
3. See postman is gone

**Expected behavior**
7.21 does not shows such behaviour

**Screenshots**

**App information (please complete the following information):**
 - Native App
 - Postman Version [7.22.1]
 - OS: windows 10 64 bit

**Additional con

[2020-04-20 14:21] numaanashraf commented on #8357
@m3dbedb Could you send us a screen recording of this issue? Helps us debug this faster.

[2020-04-20 14:45] preethammavin commented on #6105
@TurboFry3 @krgaurav29 Hey you should be able to click on view details to be able to sync you API schemas from Github to Postman.

[2020-04-20 15:26] TurboFry3 commented on #6105
I am not looking to sync API schemas.  I am looking to backup my postman collections/tests which used to be available free, but now is only supported with paid accounts (team or better)

[2020-04-20 19:08] caot commented on #4842
The only solution worked!

[2020-04-20 22:56] willcodeforfood commented on #5903
+1

In the meantime, Ctrl+Alt+V is a decent workaround. It goes into double-pane mode, which is a slight improvement for some resultsets. But can be even more cumbersome if your JSON has long lines. For me, on a large screen, wastes lots of space. YMMV.

[2020-04-21 00:13] xk0der opened #8358 "Show details about who and what paused a monitor"
Filed by Postman, for general awareness, for an internal feature-request raised recently.

**Is your feature request related to a problem? Please describe.**
Currently, a monitor may auto-pause if there are errors (not test failure). A monitor may also be paused by a team member who has access.
This information is currently not captured in the "audit" logs or notifications.

**Describe the solutio

[2020-04-21 00:50] Gundark commented on #5920
I was having this problem today.  I tried to duplicate a request using the ... next to the request in the collection on the sidebar.  Nothing at all happened.  Eventually, after several attempts, I noticed it had duplicated the entire collection, even though I used ... next to a specific request.  Then I tried to delete the duplicated collection, and Postman locked up entirely.  I couldn't save re

[2020-04-21 04:17] jhesgodi commented on #285
+1

[2020-04-21 04:52] prakashettigar opened #8359 "Postman not able to handle white space as charterer in password field"
Basic Auth Password field does not accept white space, We have white space in the password it must be encoded, Postman is not handling it
If white space is added return <h1>401 Authorization Required</h1>

[2020-04-21 07:12] anaetrezve commented on #971
+1

[2020-04-21 07:46] ma-schmidt-de commented on #8236
We re-launched the desktop app and the error vanished.

Still, the error appears for new members joining the team concerning them there might be something wrong with our account. I recommend fixing it.

[2020-04-21 07:53] marektoman commented on #8355
@numaanashraf That solves the problem entirely, thanks.

[2020-04-21 07:53] MichaelFlucher opened #8361 "Different Icons in Taskbar on different display scales"
**Describe the bug**
Using a Surface Laptop 3 (2496x1664) and an external Display (1920x1080) I get two different Icons in the Taskbar. It changes when editing the scale of the display.

**To Reproduce**
Steps to reproduce the behavior:
1. use an external Display
2. open display settings and give the two displays a different scale (e.g. 100% and 125%)

**Expected behavior**
Same Icons, doesn't mat

[2020-04-21 08:20] Armageddonas commented on #4791
Any updates on this?

[2020-04-21 08:37] numaanashraf commented on #8355
Glad to hear that! We'll keep the issue open till this lands on our stable channels.

[2020-04-21 08:46] greatromul commented on #4105
I got the same problem in 7.22.1. Downgrading to 7.21.2 fixed the problem.

[2020-04-21 08:50] VShingala commented on #7735
@boubech I was able to successfully import specified schema in latest Postman App. Can you try importing your schema once in latest app.

**App information**
Postman for Mac
Version 7.22.1
OS X 19.4.0 / x64

[2020-04-21 10:19] ankita379 opened #8362 "Response is not formatted if there are newlines"
salesforce is sending a string of json format with newlline.
abc
def
but in postman response, its coming as abc\n def. how to display in the same form as salesforce is sending

[2020-04-21 10:27] amine250 commented on #2701
+9000

[2020-04-21 10:32] keltik85 commented on #2096
Hi just landed here. Nice Feature indeed?

Any statement why the implementation is so difficult?

[2020-04-21 10:51] beruic commented on #3472
@numaanashraf I have still not gotten an answer to whether this can be reopened. I ask you as you closed this issue.

[2020-04-21 11:20] shamasis commented on #3472
@beruic @aolaria @belaarany @mastolo @zonetw @aznnomness ... I am reopening this issue. If protocol marked is `https` and the certificate handshake works, Postman should be able to make requests.

[2020-04-21 11:39] codenirvana commented on #3472
@beruic Can you share a scaled-down collection (or the API endpoint) which we can use to reproduce this issue?

[2020-04-21 11:50] oshnew commented on #2701
I think I changed to the Chrome extension tool at the link below.

[link](https://chrome.google.com/webstore/detail/talend-api-tester-free-ed/aejoelaoggembcahagimdiliamlcdmfm?hl=ko)

[2020-04-21 12:12] Bu4ak commented on #3466
Autosave and Save All **+1**

[2020-04-21 12:23] PiotrCzajkowski commented on #8123
Hi. I have the same problem, and I`ve found temporary solution. You can use chrome extension for postman: https://chrome.google.com/webstore/detail/postman/fhbjgbiflinjbdggehcddcbncdddomop?hl=pl. It`s an older version (5.5.0) but it works! Using extension you can gain an access_token and rest of the work do in desktop app.

[2020-04-21 12:36] JamesWBS opened #8363 "URGENT Please help .--- error messages to install app on new windows OS"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem. Please make sure the screenshot does no

[2020-04-21 12:45] carlblanchard commented on #7777
I've been struggling with this for a few days now. I am using postman version v7.22.1 (The current latest version) I have tried two IDSrv setups https://github.com/skoruba/IdentityServer4.Admin  & https://github.com/KevinDockx/SecuringAspNetCore3WithOAuth2AndOIDC both of which their clients work fine. I have set up Postman following many different examples (this one has been the best) https://stac

[2020-04-21 13:09] carlblanchard opened #8364 "Redirected back to login screen when testing IdentityServer4 OAuth 2.0 to get access token"
I've been struggling with this for a few days now. I am using postman version v7.22.1 (The current latest version) I have tried two IDSrv setups https://github.com/skoruba/IdentityServer4.Admin & https://github.com/KevinDockx/SecuringAspNetCore3WithOAuth2AndOIDC both of which their clients work fine. I have set up Postman following many different examples (this one has been the best) https://stack

[2020-04-21 13:34] SebastianJust commented on #7777
Hi @carlblanchard,
I had the same issue, but I upgraded from .NET CORE 2.2 to 3.0 and that worked for me :)

[2020-04-21 15:51] vvs11 commented on #8335
@mustela Thanks for the feedback. This looks like a bug in our system. Will keep a track of it and post updates soon

[2020-04-21 15:57] numaanashraf commented on #8363
@JamesWBS I'm afraid we can't help without enough information. Please provide the details requested in our new issue template.

Describe the bug
A clear and concise description of what the bug is.

To Reproduce
Steps to reproduce the behavior:

Go to '...'
Click on '....'
Scroll down to '....'
See error
Expected behavior
A clear and concise description of what you expected to happen.

Screenshots

[2020-04-21 15:57] #8363 closed, assigned to nobody

[2020-04-21 16:27] cosbor11 commented on #3562
no, I have no way of setting the beautifier to only use 2 spaces instead of 4. 2 spaces is preferable when working with ElasticSearch queries

[2020-04-21 17:43] salihkaragoz commented on #7370
CPU usage way too high  +1

[2020-04-21 17:47] carlblanchard commented on #7777
Hi, Sebastian, what version of postman are you using? both the examples I've used are .net core 3.1. I've just added a swagger client and that's working fine. The lowest common denominator now seems to be PostMan.

[2020-04-21 17:52] pherold0923 commented on #4690
As an alternative to clear the console, it would be nice to just programatically suppress console logging. For example, authentication requests that require a password (OAuth2) to get a token--the password shows up in the console (in the clear).

[2020-04-21 18:11] fcalzolai commented on #7607
+1

[2020-04-21 18:32] joshua-bn opened #8365 "Every request change updates collection variables' IDs and commits them"
**Describe the bug**
When I make a change to a request (eg change a request name) it gets committed to a repo. That collection file then contains changes to all of the collection variable IDs. I didn't change any variables, just the request name.

This makes it very difficult to see what was actually changed.

**To Reproduce**
Steps to reproduce the behavior:
1. Setup Postman to commit changes to

[2020-04-21 19:09] findusl commented on #4898
Please add bulk edit or something similar. For usecases, I wish to use bulk edit for the following purposes:

1. I wish to sync different environments to have the same keys in both. With bulk edit, I could take the new variables from one environment and copy them to the other. I would even already have the values if they are the same, which sometimes happens. But I don't have to copy key for key.

[2020-04-21 19:18] iVova commented on #1104
+1
Please, introduce this useful feature.

[2020-04-21 20:33] joaogl commented on #7301
+1

[2020-04-21 23:12] xk0der commented on #8025
This has been fixed and shipped!

[2020-04-21 23:12] #8025 closed, assigned to godfrzero, Raja-Simha

[2020-04-21 23:57] bdunavant commented on #8365
I came here looking for info about this same situation.   It causes a ton of unnecessary churn, and unwanted triggers of our CI/CD pipeline.

[2020-04-21 23:59] dhaifley commented on #8365
I am also experiencing this same issue.  It would be nice to not have such noisy commits for simple changes to tests within a collection.  Using all environment or local variables is less than ideal for the tests we are working with.

[2020-04-22 00:04] caot commented on #6639
A user should be able to hide or set it as hidden stars or something else. If the data is exported, it should be a hash-code, or some encrypted data, or just ignore it. That should be up to user's option. It should be easily implemented. One more column with a checkbox, and some back-end encryption. The issue has been around about 6 years!

[2020-04-22 01:51] FabienDeborde commented on #4555
Hello, I have an issue with Postman encoding and hope this is the right place to post about it.
I have some Japanese text in my OpenAPI document, and I recently synced it with a GitHub repository, but the Japanese text comes out wrongly encoded and messes with the schema validity.

For example, this code
[code]

will be saved as this
[code]
I don't know if it is needed but I am using Postman 7.22.

[2020-04-22 02:36] FabienDeborde commented on #6722
Pretty much this use case.
If I update the OpenAPI file (which is the origin of my collection), I don't mind if my collection is overwritten but I expect that my collections environment variables, mock server URL and tests are preserved.

[2020-04-22 02:55] garywade opened #8366 "Performing Duplicate on a request in a collection does not duplicate added headers"
**Describe the bug**
After I've created a request in a collection that includes values for headers to send, I want to duplicate that request with the same headers and so make changes to a few of those headers in the new request.  However, after performing the duplicate operation, the only headers present are the pre-filled ones made by Postman.

**To Reproduce**
Steps to reproduce the behavior:
1.

[2020-04-22 02:58] ljdev1 commented on #3438
+1 for this feature request! The ability to export the documentation to a number of formats would be ideal... html, pdf, markdown, and more!

[2020-04-22 03:24] russellg opened #8367 "Custom routes script no longer working"
I apologise as I know this is not a bug, however a custom script I was using appears to no longer work after an update.

It allowed me to define custom routes using a script.

Under 'Tests' at the Collection level I had:

[code]

And inside my data file I would have something like:
`
"routes": [
      "Registration",
      "Login",
      "Submit",
      "Get Tasks"
    ],
`

The route names being

[2020-04-22 05:14] sudiksa17 opened #8368 "Code generator is not proper code to hit the api from project"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem. Please make sure the screenshot does no

[2020-04-22 05:35] SebastianJust commented on #7777
Hi @carlblanchard,
Okay. I'm using same version: Postman v7.22.1.

Do you have any logs, you can provide?

[2020-04-22 06:23] abhijitkane commented on #8368
@sudiksa17 Can you please share details about what issue you're facing? The issue in it's current form is non-actionable.

[2020-04-22 06:38] ashwath20 commented on #2490
json is nothing but a String . Pass the text in json formate and Use JSONStringify in other end

[2020-04-22 06:39] codenirvana commented on #8278
@eliassal Can you share a scaled-down collection (or the API endpoint) which we can use to reproduce this issue?

I think you are facing issues in the requesting server which is timing out because that route is not handled.

[2020-04-22 07:47] krgaurav29 commented on #6351
Following

[2020-04-22 07:57] fabiendeborde opened #8369 "OpenAPI 3.0 nullable not supported"
Hello,
I am working on  a schema that was failing validation in Postman documentation tab, and finally found why it was failing.
I have this property in the schema
[code]

and this example
[code]

Even when adding `nullable: true` in my schema the validation fails.
If I replace the example by `siteLogo: ''`, it passes.

Am i missing something, or the nullable property is not supported?

[2020-04-22 09:08] VShingala commented on #8369
@FabienDeborde Yes, It seems `nullable` keyword is not supported yet. The reason for it is we use JSON schema validation (we first convert OpenAPI schema to JSON schema for validation) and `nullable` is not supported by JSON schema.

Adding this as feature request.

[2020-04-22 09:11] eliassal commented on #8278
Hi, you can visit
https://github.com/ScaryDBA/PresentationCode
The APIs I am using is using the js files in SQLInjection directory
https://github.com/ScaryDBA/PresentationCode/tree/master/SQLInjection

[2020-04-22 09:59] carlblanchard commented on #7777
I've captured the requests to idsrv you can see the 302 back to the login screen.
You will need fiddler to view the session file if you don't already have it https://www.telerik.com/fiddler

Sadly the logging in Skoruba is pretty simple, perhaps try downloading  https://github.com/skoruba/IdentityServer4.Admin and try replicating it.

[fiddler_session.zip](https://github.com/postmanlabs/postman-ap

[2020-04-22 10:10] ZoolMons opened #8370 "Two collection can't share the same golbal variavles"
**Describe the bug**
When I use the Postman's collection to run a post Method with a Json file include 5000 Json data.U know that may spend much time for server to do this, so the token will be invalid in 30 minutes later.So, i have to open other collection to run Login request for every 20 minutes before another collection's  token expired.But I found the token can't be updated in the Json file's

[2020-04-22 10:10] SebastianJust commented on #7777
Hm. Yeah I can see it, but here it seems like it work.
I had same issue (https://github.com/postmanlabs/postman-app-support/issues/7763).

Can you provide some details from postman - and maybe install a logger to have more details? I'm using Serilog.

[2020-04-22 10:22] JoeNyland opened #8371 "Postman app cookies are not being updated when they change in Chrome"
**Describe the bug**
Native Postman app cookies are not being updated when they change in Chrome (using Interceptor extension for Chrome)

**To Reproduce**
Steps to reproduce the behavior:
1. Turn on interceptor and add localhost as a domain to track cookies for
1. Log in to web app on localhost in Chrome
1. Check that cookie has been tracked by Interceptor in Postman app
1. Log out of web app on

[2020-04-22 10:32] carlblanchard commented on #7777
Wow, you had to rebuild your machine, that's insane. To be honest I think I am just going to give up trying to use postman. I have swagger working and I've wasted too much time on this now.
I really appreciate your help, Sebastian. It appears to be, not an easy fix. which is a shame because I really like PostMan. Thanks for your help.

[2020-04-22 10:34] SebastianJust commented on #7777
Yeah - I'm glad I had back up.
Cool! Np man! :) Happy to try helping.

[2020-04-22 10:41] vikiCoder commented on #8359
Hi @prakashettigar,

Basic auth [RFC-7617](https://tools.ietf.org/html/rfc7617) does not suggest percent-encoding username/password. There is even an example in RFC just before the [section 2.1](https://tools.ietf.org/html/rfc7617#section-2.1) where the Authorization header for username `Aladdin` and password `open sesame` is shown as `Authorization: Basic QWxhZGRpbjpvcGVuIHNlc2FtZQ==`. Postman al

[2020-04-22 10:41] #8359 closed, assigned to vvs11

[2020-04-22 12:46] codenirvana commented on #8278
@eliassal Thanks for this reference repository but unfortunately I can't set up this server on the machine (because of win32 OS requirement).

But, I went through the source and set up a similar local server and I can confirm that this is not an issue of Postman or semicolon in the URL.

[2020-04-22 13:31] vbothra commented on #7895
I tried with v7.22. And the issue is not fixed yet. I am unable to import. Please see the attached video below:
<img width="277" alt="image" src="https://user-images.githubusercontent.com/61234122/79987848-88688480-84cb-11ea-9054-adbd1fcb5c34.png">

[Screen Recording 2020-04-22 at 6.58.23 PM.mov.zip](https://github.com/postmanlabs/postman-app-support/files/4516355/Screen.Recording.2020-04-22.at.6.

[2020-04-22 14:19] zgirod opened #8372 "What scopes are required for the Github integration?"
Hello,

I am setting up the Github integration to backup postman collections.  When configuring the personal access tokens in github can you please tell me the minimum scopes required to make the integration work.

If I missed the documentation somewhere please let me know and sorry I couldn't find it.

[2020-04-22 14:34] wbison3 commented on #1104
+1

[2020-04-22 14:35] SabriH10 commented on #8372
Hey @zgirod ,

The scopes needed for GitHub integration can be found in the documentation here: https://learning.postman.com/docs/integrations/github/#generating-a-github-personal-access-token

Hopefully, this helps.

[2020-04-22 14:35] akumartiwari commented on #1752
@kurtkanaskie Yes  please fix the issue. I had upgraded from 7.3 to 7.4 and lost all my history data , howver was able to recoved collections through my account.
Reboot also removes history.

[2020-04-22 14:41] zgirod commented on #8372
Sweet, much thanks!

[2020-04-22 14:41] #8372 closed, assigned to nobody

[2020-04-22 14:59] zgirod commented on #8372
I would suggest you guys add a link to the documentation from this page: https://{{domain}}.postman.co/integrations/services/github/add/collection_github

At least would have helped me out..

[2020-04-22 15:18] juslintek commented on #2934
I've created this script in collection pre-request to walkaround this issue:
[code]

[2020-04-22 17:54] ezarko commented on #8245
GitHub Enterprise

[2020-04-22 18:27] arnaudlacour commented on #7325
friendly bump, this suggestion would make programmatic workflows a lot cleaner.

[2020-04-22 18:33] numaanashraf commented on #8361
@MichaelFlucher This is intentionally and we choose the best logo variant that is still clear and legible for the chosen scale. I've passed this feedback onto our design team and we'll take this into consideration as we improve Postman.

[2020-04-22 18:33] #8361 closed, assigned to nobody

[2020-04-22 18:58] abhijitkane opened #8373 "Request examples don't always open in the correct tab"
**Describe the bug**
Requests' examples don't always open in the same tab the request is open in

Steps to reproduce the behavior:
1. Start Postman. Close the Launchpad tab.
2. Open a saved collection request. This opens in tab 1. Switch to one of the saved examples for this request - the example opens in the same tab.
3. Open a different request in a new tab (right click + open-in-new-tab). Tab 2

[2020-04-22 20:51] mnalsup opened #8374 "Blank query parameters for saved request don't update from table"
**Describe the bug**
I am seeing an issue where blank query parameters from saved requests remain blank even if a value is given to them in the Params table. The value will update if the URL is modified.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a request with a blank query parameter.
For example:
![image](https://user-images.githubusercontent.com/5252756/80030999-ae336080-84ae-

[2020-04-22 22:51] #8367 closed, assigned to nobody

[2020-04-23 00:15] beruic commented on #8273
Seems like this has been fixed now. Just installed 7.22.1 through Gnome from channel latest/stable.

It doesn't start though. It just exits immediately when running, without anything written to stdout.

[2020-04-23 00:18] FabienDeborde commented on #8369
@VShingala
Thank you for your answer. I was not sure if I had missed something.
From what I have read, the `null` type is supported in OpenAPI 3.1.
Between `nullable` property and `null` type, I have no idea which is easier to implement, but I hope you can add this feature in a somewhat near future.

[2020-04-23 00:18] beruic commented on #3472
Sorry no. The server was internal, and I don't have access to that network anymore, since I changed job. However, you should be able to reproduce with any server running an HTTPS service on another port than 443.

[2020-04-23 01:49] soumyakantiroychowdhury commented on #2701
Thanks @oshnew. I did not find any option to enable HTTP2 in the mentioned tool. More specifically, I have a HTTP2 server using `Direct HTTP2` (no upgrade) implemented using nghttp2 and I want to test the APIs implemented.

[2020-04-23 06:04] TalpalaruBogdan opened #8375 "Bulk code export"
**Is your feature request related to a problem? Please describe.**
I have a collection > 200 requests and I need to Port it in C# using the code feature. It is tiresome to copy paste manually all the requests and can lead me to errors.

**Describe the solution you'd like**
In the root folder of the request I would like to export in bulk the code for all the child requests.

**Describe alternatives

[2020-04-23 08:50] Ramya-From-Postman opened #8376 "Use of .pfx certificate in monitors"
Currently, it's not possible to use monitors for testing external APIs that are protected by a PFX-certificate. Thus, request you to consider this feature and implement it in the near future.

[2020-04-23 09:20] codenirvana commented on #8374
@mnalsup Thanks for reporting this issue, we can reproduce this issue locally and will push a fix for this as soon as possible.

For now, the only workaround I see is to save the request again before sending the request.

[2020-04-23 10:02] prashantagarwal commented on #8311
@arpieb We have fixed this as part of Postman **v7.23.0**.

[2020-04-23 10:02] #8311 closed, assigned to prashantagarwal

[2020-04-23 10:27] marcelloromani commented on #6987
I did some tests setting the header manually.
At the time of writing I can successfully call the API GW endpoint with the following headers:
- Name: `authorization` Value: `<id_token>`
- Name: `Authorization` Value: `<id_token>`
- Name: `authorization` Value: `Bearer <id_token>`
- Name: `Authorization` Value: `Bearer <id_token>`

None of those configuration work if I use the `<access_token>`

[2020-04-23 11:28] riddy commented on #1535
+1

[2020-04-23 11:30] olapiv commented on #1535
+1

[2020-04-23 11:37] tomidix commented on #4391
C'mon people this is opened more than two years and it is about one field.. We have to use some stupid workarounds...

[2020-04-23 13:58] ash007-postman opened #8377 "Postman response change the file extension from .mp3 to .mpga"
On behalf of user:

I have an api endpoint which is expected to return a .mp3 file (content-type:audio/mpeg, content-disposition:attachment; filename=my_filename.mp3).

On my first call, the response automatically calls the Save As dialog box with a default filename (‘GENERATED_GUID-response.mpga’).

![image](https://user-images.githubusercontent.com/41741228/80107207-6be64e00-8598-11ea-9d39-881c5

[2020-04-23 14:25] carlblanchard commented on #8364
Here is my postman log from today. Hope it helps.
![image](https://user-images.githubusercontent.com/18427214/80110475-a212d600-8576-11ea-93d2-b062b182ef94.png)

[2020-04-23 14:29] crhistianramirez opened #8378 "Feature Request - Set default example language to documentation viewer"
**Is your feature request related to a problem? Please describe.**
I understand the appeal of having curl be the default language - it's easy to take those requests and make real http calls with it. I'm already expecting my user to use postman though so don't need that benefit from curl and I'd argue HTTP is much more widely understood than curl so I'd like to set that as a default for my users. A

[2020-04-23 14:39] huqd commented on #5920
Here I am, I did not know I have to explicitly click save the request then the duplicate feature can work as expected. Just did a search before leave it for another tool and see this thread.

[2020-04-23 15:14] geoffturk opened #8380 "Losing Requests in Forked Collection"
**Describe the bug**
When I fork one of my collections, some of the requests disappear but the pull request diff shows no changes (differences) between the fork and its origin.

**To Reproduce**
Steps to reproduce the behavior:
I just follow the usual forking step (**Create a fork**, then give the fork a name), but my fork has 3 requests less (285) than its origin (288).

![2020-04-23 17 30 48](ht

[2020-04-23 15:20] yanafomicheva commented on #4254
Good day!
I use Postman for Windows Version 7.23.0.
I have a collection with a big count of requests(540). When I click it manually in the builder - it looks okay.
But when I run collection - I always get "Error: socket hang up" in random places.
![QIP Shot - Screen 035](https://user-images.githubusercontent.com/21198399/80116806-16597380-858f-11ea-802d-e7fc0ef7fc5b.png)

[2020-04-23 17:21] srajamohan opened #8381 "Could not get any response There was an error connecting to"
**Working api's suddenly stopped working**

In developer console I can see that EditorStore was not able to find some parameters.

**Screenshots**
Attaching developer console screenshot
**App information (please complete the following information):**
 - Postman Version 7.23.0 (7.23.0)
 - OS: [e.g. macOS Mojave 10.14.6]

![image](https://user-images.githubusercontent.com/11278648/80129579-1d12c700-

[2020-04-23 17:44] dmhunter666 opened #8382 "Variable substitution in binary file"
Hello,

In my environment I have defined the variable BARK as "Bugs Bunny"
I create a request named Run.3 as follows:
Request type = POST
Request URL = http://httpbin.org/post
Body type = raw-JSON the contains:
{
	"nameID" : "Run.3",
	"myNAME" : "{{BARK}}"
}

When sent this request returns this in the response body:
data: "{
	"nameID" : "Run.3",
	"myNAME" : ""Bugs Bunny""
}"

So variable substitut

[2020-04-23 18:03] harryi3t opened #8383 ""Open in Builder" does not work for few cases inside "Find and Replace""
**Describe the bug**
The `open in builder` button does not open the request in a tab for a few cases.
![image](https://user-images.githubusercontent.com/5207331/80132991-29ce0400-85ba-11ea-8555-8d1a541003c4.png)

**To Reproduce**
Steps to reproduce the behavior:
1. Download this collection [![Run in Postman](https://run.pstmn.io/button.svg)](https://app.getpostman.com/run-collection/eff743675b1a6c

[2020-04-23 19:00] fenoloco commented on #8352
![image](https://user-images.githubusercontent.com/3210977/80138686-8eb63980-857b-11ea-9dee-5f07d7265562.png)

[2020-04-23 19:51] leankuroneko commented on #7078
I can still reproduce this, also the memory consumption is out of control.

![image](https://user-images.githubusercontent.com/2634199/80143011-857c9b00-8582-11ea-9291-95d67e1cdb66.png)

[2020-04-23 20:07] HodGreeley opened #8384 "Response body links opening incorrectly"
Links in body responses open a new Postman tab instead of opening in a browser.

Links returned in the body of a response are normally active and clickable via ctrl/cmd + click.  The normal response is to open the URL in a browser.  After running for some period, links will start opening new tabs in Postman itself.

Steps to reproduce the behavior:
1. Create a call that produces a link in the resp

[2020-04-23 20:22] dseligson commented on #7325
me 2!  Bumpity Bump

[2020-04-23 20:40] ArjunSingh-PM commented on #7067
Hi @dilleswarmandala-tudip! We have introduced an option for you to choose the number of consecutive failures after which you would like monitors to stop sending failure notifications.

<img width="483" alt="Stop failure notification for consecutive failures" src="https://user-images.githubusercontent.com/53265429/80147055-83412d80-85d0-11ea-9f0e-bfb43041e4d5.png">

Documentation reference: https:

[2020-04-23 20:44] #7067 closed, assigned to godfrzero, anudeepmedicharla, charlie-postman

[2020-04-23 20:49] ArjunSingh-PM commented on #5826
@Advlaam, we have introduced an option for you to choose the number of consecutive failures after which you would like your monitor to stop sending failure notifications. Thanks for your patience on this and I hope this helps.

<img width="483" alt="Stop failure notification for consecutive failures" src="https://user-images.githubusercontent.com/53265429/80147778-a4eee480-85d1-11ea-9dd0-6f1ddbdcc

[2020-04-23 20:49] #5826 closed, assigned to anudeepmedicharla, charlie-postman

[2020-04-23 20:58] ArjunSingh-PM commented on #5900
Hi @bt-dd, @SMSteve

We have introduced an option to disable automatic retry on a run failure or to configure the number of times you would like your monitor to automatically retry on a run failure. Thanks for your patience and we hope this helps.

<img width="455" alt="Retry if run fails" src="https://user-images.githubusercontent.com/53265429/80148662-06fc1980-85d3-11ea-9304-ca78712d9b46.png">

[2020-04-23 20:58] #5900 closed, assigned to charlie-postman

[2020-04-24 00:21] conradpronto commented on #1070
@Cazaimi hello, we’re about 1 month away from the 3 month “Next” Product Board guidance.  Is this still planned to be released in the coming weeks?  Thank you

[2020-04-24 04:45] xk0der commented on #8243
Solved via support channel.

[2020-04-24 04:45] #8243 closed, assigned to xk0der

[2020-04-24 05:13] vikas-getconnect opened #8385 "UTF-8 content encoding not supported in body"
**Describe the bug**
No content received to the server when the body has UTF-8 content

**To Reproduce**
Steps to reproduce the behaviour:
1. Create a mock server using `docker run -d --rm -p 1080:1080 jamesdbloom/mockserver`
2. Create dummy API request as `curl --location --request PUT 'http://localhost:1080/mockserver/expectation'
--header 'Content-Type: application/json'
--data-raw '{

[2020-04-24 06:56] marshallr12 commented on #7537
I think this is a bug rather than a feature request. Other forms of authorization (like basic) seem to remain distinct between collections, whereas oAuth2 settings seem to overwrite each other across collections.

[2020-04-24 07:10] murtuzak commented on #4172
+1

[2020-04-24 07:42] Peter83 commented on #3816
I enabeld the "Use next generation URL processing" but "&" chars inside environment param, are still encoded as %26.

[2020-04-24 07:42] Peter83 commented on #3816
I enabeld the "Use next generation URL processing" but "&" chars inside environment param, are still encoded as %26.

[2020-04-24 08:00] mustela commented on #8335
Hello there! Any update on this one ? Thanks a lot!

[2020-04-24 08:12] geoffturk commented on #8380
Closing this because when I export the collection with 288 requests and then reimport it, there are only 285 requests.

[2020-04-24 08:12] #8380 closed, assigned to nobody

[2020-04-24 08:24] eliassal commented on #8278
OK thanks for your help. A question regarding postman tests. It seems it has a rich collection of APIs to right test, is there a plugin/ or addon for intellisense to help writing tests and being more productive?

[2020-04-24 09:46] ohkjames commented on #5920
Yea duplicate doesn't work, it stays empty....

[2020-04-24 09:51] LuisTAC commented on #1647
Thanks a lot @stephenmcd1 @jamarciano! I needed to search the request history for responses that included a specific string (which, sadly, postman doesn't yet support). By adapting your scripts, I managed to do just that without much previous knowledge in JS and none in the IndexedDb API!
Here's my final script if anyone needs it.
[code]

[2020-04-24 10:18] abhijitkane commented on #8175
@automatiche Closing this for lack of a response. Feel free to reopen if you see this again.

[2020-04-24 10:18] #8175 closed, assigned to nobody

[2020-04-24 10:18] codenirvana commented on #8278
@eliassal We are currently working on IntelliSense in scripts and you can try out the new editor changes in our [Canary](https://www.postman.com/downloads/canary) channel.

For more updates, follow https://github.com/postmanlabs/postman-app-support/issues/3919

[2020-04-24 10:30] codenirvana commented on #8385
@vikas-getconnect Getting the following error on step 2:
[code]

[2020-04-24 10:42] mikedodd commented on #1744
+1

[2020-04-24 10:45] vikiCoder commented on #5702
This issue is fixed in the latest version of Postman app (v7.23.0).

[2020-04-24 10:45] #5702 closed, assigned to vikiCoder

[2020-04-24 10:52] vikiCoder commented on #3825
PKCE support for OAuth 2.0 is now also available in the latest version of [Postman app (v7.23.0)](https://www.postman.com/downloads/). See [this comment](https://github.com/postmanlabs/postman-app-support/issues/3825#issuecomment-613880232) for the details of this feature. Please update to the latest version of Postman app to try it out.

[2020-04-24 10:52] #3825 closed, assigned to vvs11, vikiCoder

[2020-04-24 11:07] indrkl commented on #2437
Same here, postman blank screen. It worked fine yesterday, I haven't actively allowed any updates though. running Ubuntu 18.04

[2020-04-24 12:02] vschoener commented on #5920
@ohkjames You have to save before duplicated, it works that way

[2020-04-24 12:03] timothyhoffmann commented on #7537
The workaround I'm now using is to add a pre-request script to grab a token to the Collection and then use Environment variables to keep track of what's available. Changing the Environment will grab the correct token.
e.g.

![image](https://user-images.githubusercontent.com/28546239/80210488-d97a9480-8601-11ea-9ceb-0ae10885e0be.png)

[code]

[2020-04-24 12:13] bt-dd commented on #5900
Thanks very much @ArjunSingh-PM, this is exactly what we needed!

[2020-04-24 12:16] DannyDainton commented on #8384
Hey @HodGreeley,

I'm currently using v7.23.0 of the native Postman app. Using CMD + Click is opening the link in my default browser. I left it open for 15 mins and didn't see the same behaviour.

![Open_Browser](https://user-images.githubusercontent.com/17089546/80209917-c6c88580-862a-11ea-9c98-e8fedc4ce9a9.gif)

[2020-04-24 12:29] vikas-getconnect commented on #8385
@codenirvana  remove \ and try
`vikass-MacBook-Pro:sequoia vikaschaudhary$ curl -v --location --request PUT 'http://localhost:1080/mockserver/expectation' --header 'Content-Type: application/json'  --data-raw '{ "httpRequest" : { "method" : "POST", "path" : "/utf1", "body" : { "type" : "STRING", "string" : "我说中国话", "contentType" : "text/plain;charset=utf-8" } }, "httpResponse" : { "body" : { "type

[2020-04-24 13:01] codenirvana commented on #8385
@vikas-getconnect You have to set the right `Content-Type` before sending the request.

<img width="981" alt="Screenshot 2020-04-24 at 6 29 23 PM" src="https://user-images.githubusercontent.com/4865836/80215174-a5cb5900-8659-11ea-8cc1-7cfeedb636c8.png">

[2020-04-24 13:35] vikas-getconnect commented on #8385
@codenirvana check step 3 which has headers

<img width="1118" alt="Screenshot 2020-04-24 at 6 59 33 PM" src="https://user-images.githubusercontent.com/6822992/80217877-078dc200-865e-11ea-8f65-91d9e7ae03b4.png">
<img width="1119" alt="Screenshot 2020-04-24 at 6 59 20 PM" src="https://user-images.githubusercontent.com/6822992/80217885-09f01c00-865e-11ea-909e-ab61980af6d7.png">

[2020-04-24 13:50] codenirvana commented on #8385
@vikas-getconnect You are probably facing issues because you have disabled the `Host` header and most servers reject requests without that.

Here's how I tested:
[code]

and requested `http://localhost:1080/utf1` with `Content-Type: text/plain;charset=utf-8` and raw `我说中国话` body without disabling any of the auto-generated headers.

Also, we recommend reaching out to the wider Postman Community (ht

[2020-04-24 13:50] #8385 closed, assigned to vvs11

[2020-04-24 14:33] LuisTAC commented on #7319
I know this is an old issue, but for anyone desperate to get the history responses data and, possibly search through it, like I needed, there's a (not so great) solution [(here)](https://github.com/postmanlabs/postman-app-support/issues/1647#issuecomment-618916420).

[2020-04-24 15:41] jarrodparkes opened #8386 "2-Way Sync Fails to Sync when the change originates on GitHub"
**Describe the bug**
I've connected a Postman-managed API spec to a GitHub repository. As soon as I made the connection, I saw the spec (OpenAPI 3.0, JSON) appear in GitHub and everything appeared to be working correctly. Then, I made a change in Postman to the spec, and that change was correctly propagated to the GitHub repository, that also looks good.

However, when I pushed a change to the spe

[2020-04-24 16:47] pranaya94 commented on #8386
Hey, it seems like you haven't configured the webhook for the integration in Github.
You can refer to this doc describing how to do it - https://learning.postman.com/docs/integrations/github/#configuring-github-integration-for-api-schemas

Do let us know if this solves your issue.

[2020-04-24 17:14] vikas-getconnect commented on #8385
@codenirvana This is mock server setup. Also as mentioned in step 3 where we don't pass host header but we got a correct response. Is there anyhow I can track what postman is sending to the server?

[2020-04-24 17:24] codenirvana commented on #8385
@vikas-getconnect Like Postman, curl also includes a few auto-generated headers implicitly. Add `-v` flag to check the actual request sent via curl.

You can check the actual request sent via Postman using the [Postman console](https://learning.postman.com/docs/postman/sending-api-requests/debugging-and-logs/#for-the-native-app-for-mac--windows--linux) (`CMD/CTRL + ALT + C`).

[2020-04-24 17:27] jarrodparkes commented on #8386
@pranaya94 thanks for sharing. this did lead me to get it fixed. turns out I was using the incorrect payload url and secret (I had been simultaneously trying to set this up for two different specs and miscopied).

It might be useful in the docs to include a screen like this because GitHub's web hook settings provides useful information (see bottom) about when/if syncs fail. It also provides a way

[2020-04-24 17:27] #8386 closed, assigned to nobody

[2020-04-24 20:03] patrickgaskill opened #8387 "Receiving emails about a deleted monitor"
I created a new Team Workspace, and then added the example SimpleKart API to it while following the tutorial. I then deleted the SimpleKart API and all the associated collections, monitors, etc. I still receive notification emails for the SimpleKart monitor that no longer exists.

[2020-04-24 20:37] darrencapner commented on #6722
From watching the recent webinars and reading documentation, there appears to be a workflow in mind, but I find that there is a gap that I have not been able to find a solution for, and would be solved potentially with this issue.

My use case is if I am wanting to iterate on an API design through design, generate collections, deploy, get feedback, and modify design....how would Postman be used if

[2020-04-24 21:20] nathanyost15 commented on #2861
This is still an issue with 7.23.0
{
    "affiliate": "balh",
    "channel": null,
    "affiliateNeg": "blah",
    "channelNeg": "balh"
  }

shows channel as {{channel}}

[2020-04-24 22:50] emiliogarza commented on #3358
+1 I would love to see this feature, is there a reason this can't be done? As stated above, this is a testing tool and not a JSON validation tool, this can help me to leave some optional params for testing in a single request, instead of multiple requests in a collection that are similar.

[2020-04-24 23:41] matthenry87 commented on #5040
+1

[2020-04-24 23:58] urbanaut opened #8388 "Mask sensitive values displayed in the Environment Quick Look window"
When presenting or screen sharing with Postman, I may change one or more of the  values in the "Current Value" boxes within the "Environment Quick Look" while other colleagues are viewing Postman on my Desktop.

As the "Environment Quick Look" window opens, it displays Global Variables which contain passwords as some of the values. Could you please add a feature that would allow a user to mask sen

[2020-04-25 00:32] FabienDeborde commented on #4555
@codenirvana
I have no clue if I should comment on this closed issue or write a new one, as it seems to me that this is the same problem. Can you please hint me into the right direction?

[2020-04-25 04:21] renyuntao commented on #2985
Same issue on latest version
Ubuntu 18.04

[2020-04-25 08:57] #6485 closed, assigned to twitharshil

[2020-04-25 10:16] codenirvana commented on #4555
@FabienDeborde This issue is related to encoding issues in the request URL.
I suggest you file a separate issue for this particular problem.

[2020-04-25 11:50] grimsa commented on #4802
The current fix for this in 7.23 has made https://github.com/postmanlabs/postman-app-support/issues/2906 much, much worse.

Our situation:
- We are keeping a committed postman collection in git repo.
- It is used both in CI pipeline and by developers (workflow is: pull develop, import latest postman collection, make some fix, commit fix + updated postman collection)

Previously we every collection

[2020-04-25 12:02] grimsa commented on #2906
VCS-friendliness was made worse in 7.23 due to the script ID uniqueness fix. See #4802

[2020-04-25 12:21] vvs11 commented on #8381
@srajamohan Could you provide some more details so that we can assist you, Right now I am not able to understand what exactly is the issue

[2020-04-25 12:32] vvs11 commented on #8388
@urbanaut Thanks for writing in!. This is definitely on our roadmap but we don't have an ETA yet. Will keep you posted.

[2020-04-25 13:03] vvs11 commented on #8382
@dmhunter666 looks like the variable wasn't resolved. Could you hover over the variable and take a look at the value. Also, we have a very active community that can solve your queries quickly. Please write at http://community.getpostman.com/

[2020-04-25 13:08] lauxjpn commented on #5920
@numaanashraf What is the status of this issue? It has been closed, but it seems that nothing has been done about it. So at a first step, please *reopen* this issue. It should only be closed, after it has been resolved.

[2020-04-25 15:41] vvs11 commented on #8370
@ZoolMons, It'd be really helpful if you can share the script. You can also go through the documentation of using environments in scripts here:
https://learning.postman.com/docs/postman/variables-and-environments/variables/#defining-variables-in-scripts

We have a very active community where you can find the answer to your queries very quickly. Please feel free to post questions there.
https://com

[2020-04-25 15:46] vvs11 commented on #8366
@garywade I tried reproducing the issue but couldn't do so. Can you share a recording of your screen where you're facing this issue? It'd be very helpful for us to understand the exact steps to be performed.

[2020-04-25 15:52] vvs11 commented on #8354
@yosacyber Could you give us the steps that need to be performed to reproduce this issue?

[2020-04-25 17:57] lakshmajee opened #8389 "Postman version migration error not displayed for users on V6"
**Describe the bug**
Postman is not loading my collections in postman native client.
**OS**: Ubuntu 19.02
**Postman version **
[code]
Note: I was able to view my collections in browser based postman i.e, some-domain.postman.co/

**To Reproduce**
Steps to reproduce the behavior:
1. No steps required, just install and login with an existing account and wait for the collections to load.

**Expected b

[2020-04-25 17:58] Camineet commented on #3466
omg

[2020-04-25 18:15] a85 commented on #6722
Quick update here: this workflow is top of our minds.

We are looking at flows that allow you to:

1. Update a collection from an existing specification
2. Allow for pull request driven flows in case of conflicts between the new updated collection and the existing collection (so you can review and merge)
3. We are also looking at the reverse flow where you can update a collection and then optional

[2020-04-25 18:35] shamasis commented on #4802
That’s not good. Upon export the IDs shouldn’t change. If it is, it’s a bug and we will fix it on the double. Hang tight.

Also, we are working on the ID-less export improvement.

[2020-04-25 18:43] Manimit10 commented on #5182
This problem occurs when you copy the cURL from your browser. in Chrome, you should select "copy as cURL (bash)". for postman you have to select the bash version of your request. If you want to paste in your cmd you should select "copy as cURL (cmd)".

[2020-04-25 19:45] garywade commented on #8366
Here you go.  I verified it still happens with the latest update as referenced in the screen recording.
[Screen Recording 2020-04-25 at 12.41.05 PM.mov.zip](https://github.com/postmanlabs/postman-app-support/files/4533878/Screen.Recording.2020-04-25.at.12.41.05.PM.mov.zip)

[2020-04-25 20:46] arlemi commented on #4802
Hey @grimsa 👋

I wasn't able to replicate your issue, exporting the same collection doesn't update `_postman_id` nor the script IDs.
If your developers are importing the collection to their own accounts then that is when the IDs are updated - importing a collection creates a new entity (along with new IDs).

If you'd like to share the collection in a team setting I would recommend that you look at

[2020-04-26 04:47] kuckchuck96 opened #8390 "COVID APIs not returning proper result."
**Describe the bug**
The Postman API for getting COIVD-19 live cases is not returning results properly according to your API url pages <https://documenter.getpostman.com/view/10808728/SzS8rjbc?version=latest#b07f97ba-24f4-4ebe-ad71-97fa35f3b683> the active cases are showing blank. Also the pages doesn't have proper snippets presented in right section either they are incomplete or duplicated. I als

[2020-04-26 04:59] #8390 closed, assigned to nobody

[2020-04-26 04:59] kuckchuck96 commented on #8390
Invalid issue. Sorry

[2020-04-26 07:09] LisaLiu2 opened #8391 "API get Mock call logs"
As a user, I want to get the call logs when I use Mock server to test some cloud service, but I only can see the logs on website, could you provide an API to get the Mock Call logs? so that I can automatically analyze the logs.

[2020-04-26 09:39] LessLia opened #8392 "There is a black window while i try to open Postman"
There is a black window while i try to open Postman

Steps to reproduce the behavior:
1. I have the latest version of Postman 7.23.0 from https://www.postman.com/downloads/
2. I have windows 10 32x
3. Launch the Postman

**Unxpected behavior**
I have only black window. There is no any errors. It is really stopped my work in IT company.
![image](https://user-images.githubusercontent.com/15209043/80

[2020-04-26 09:45] Jokertion opened #8393 "Using Duplicate Tab，press Ctrl + s, the new tab overwrites the original file"
**Describe the bug**
A clear and concise description of what the bug is.
On Postman APP, when I use duplicate tab and duplicate current tab, press Ctrl + s to save, but this does not let me save as a file, but directly overwrites the original file.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A cle

[2020-04-26 09:46] #8393 closed, assigned to nobody

[2020-04-26 09:52] Jokertion opened #8394 "Using Duplicate Tab，press Ctrl + s, the new tab overwrites the original file"
**Describe the bug**
A clear and concise description of what the bug is.

In Postman APP, when I use Duplicate Tab or Duplicate Current Tab, press Ctrl + s to save, but this does not let me save as a new file, but directly overwrites the original file.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A

[2020-04-26 11:27] numaanashraf commented on #8392
@LessLia Could you try the workaround detailed at https://support.getpostman.com/hc/en-us/articles/360026088854-Postman-window-is-blank?

[2020-04-26 11:36] LessLia commented on #8392
Thank you! Postman is working now!

[2020-04-26 15:47] psnmissaka commented on #4687
@kamalaknn What's the average memory usage of Postman, while in use and when idle? While in use it uses a lot of memory; last time I checked it 800MB+ and was using around 550MB when it was in idle

[2020-04-26 17:07] stuarth-cognitoiq commented on #8323
@numaanashraf Postman has been upgraded to .23 however I still have the same problem.  I'm having to look for an  alternate product as Postman is unusable.

[2020-04-26 18:08] numaanashraf commented on #8323
@stuarth-cognitoiq There are few improvements we are working on which is available on our early access 'Canary' channel - https://www.postman.com/downloads/canary. Could you try this build out and let us know? It installs side-by-side with the stable app.

[2020-04-26 18:08] numaanashraf commented on #8392
@LessLia Glad to hear that. Closing this issue.

[2020-04-26 18:08] #8392 closed, assigned to ash007-postman

[2020-04-26 19:41] a85 commented on #7473
This feature is available now in Postman. Closing the issue. Please suggest improvements in other threads.

[2020-04-26 19:41] #7473 closed, assigned to vvs11, sankalp0o, Raja-Simha

[2020-04-26 20:21] ZooDoo4U commented on #4142
Is there a similar solution for windows?  Searching for runner.css or requester.css, couldn't find them on the machine anywhere.  Any suggestions own changing the font family on windows?

[2020-04-27 00:03] propagating commented on #4687
@kamalaknn apologies, I had a drive failure and was unable to recover most of my data. After getting my new drives and backups sorted, reinstalling Postman, my average usage has dropped to about 141MB during normal activity. There are times it'll get up to about 1GB, but I haven't seen anywhere near the levels I had seen previously.

[2020-04-27 02:02] fabiendeborde opened #8395 "Encoding issue with synced APIs on GitHub"
Hello,　I have some Japanese text in my OpenAPI document, and I recently synced it with a GitHub repository, but the Japanese text comes out wrongly encoded and messes with the schema validity.

For example, this code
[code]
will be saved as this
[code]

I am using Postman 7.22.1 on latest Mac version (10.15.4).

[2020-04-27 03:59] numaanashraf commented on #7399
We have released a fix for this in v7.23.

[2020-04-27 03:59] #7399 closed, assigned to nobody

[2020-04-27 03:59] numaanashraf commented on #8144
This is resolved in v7.23

[2020-04-27 03:59] #8144 closed, assigned to kamalaknn

[2020-04-27 04:00] numaanashraf commented on #6262
This is resolved in v7.23

[2020-04-27 04:00] #6262 closed, assigned to nobody

[2020-04-27 04:52] kamalaknn commented on #8394
Hey @Jokertion

Thanks for reporting this. This is because the duplicated tabs are still referencing the same request. This could be unintuitive sometimes. We are tracking the improvements to this behavior [here](https://github.com/postmanlabs/postman-app-support/issues/4938).

I'm closing this as a duplicate of #4938. Please follow the original thread for more updates.

[2020-04-27 04:52] #8394 closed, assigned to nobody

[2020-04-27 05:47] Gaket commented on #1535
Here is a 116 comment for a similar case.

I'd like to have some flows in collections,  so my colleagues understand some common flows. Of course, common flows contain some common requests that I wouldn't like to replicate over and over again.

[2020-04-27 05:58] QuSoyol opened #8396 "Using Beautify function to format body as json will change the value of key"
**Describe the bug**
Using Beautify function to format body as json will change the value of key

**To Reproduce**
Steps to reproduce the behavior:
1. Paste the data on body
2. Click on 'Beautify'
3. Check the value of key which the type is number

**Expected behavior**
The value of key which the type is number shouldn't be changed

**Screenshots**
If applicable, add screenshots to help explain yo

[2020-04-27 06:15] codenirvana commented on #3472
@beruic Tried running an `https` server on port `9091` and it's working fine.
<img width="873" alt="Screenshot 2020-04-27 at 11 42 23 AM" src="https://user-images.githubusercontent.com/4865836/80339532-78122a00-887c-11ea-9bfa-4d08d40c9db4.png">
<img width="845" alt="Screenshot 2020-04-27 at 11 43 14 AM" src="https://user-images.githubusercontent.com/4865836/80339535-7b0d1a80-887c-11ea-9d93-8e0f642

[2020-04-27 06:18] kamalaknn commented on #8396
Hey @QuSoyol

Thanks for reporting this issue. It looks like this is related to other issues where the content of the JSON body is modified when beautifying. The root cause is how Postman formats the JSON. We use Javascript method - `JSON.stringify` to format JSON and  Javascript has limitations on the numbers it can handle.

Employing other ways to format JSON would fix this issue. I'm closing th

[2020-04-27 06:18] #8396 closed, assigned to nobody

[2020-04-27 06:48] grimsa commented on #6723
I encountered the same issue after upgrading to v7.23.0.
Sent logs to `help@postman.com`.

[2020-04-27 07:33] JayChandler commented on #3117
+1

In many API documentations, a link to an external API documentation is included in the description just to describe the response and request body properly. That can't be the way to go for a tool like Postman,. Postman should be the one and only place to do all those things.

The solution is quite simple

- Provide a JSON Schema per collection ( Can be taken from OpenAPI import too )
- Allow ma

[2020-04-27 07:49] grimsa commented on #4802
@arlemi You are correct - it is indeed the import that is replacing these IDs, not the export.

Yes, our workflow is such that "the single source of truth" of Postman collection is committed in version control system (Git) along with the implementation of the APIs under test. Then every developer regularly imports it locally (possibly even without signing in to Postman), makes changes to both API

[2020-04-27 08:14] letanloc1998 opened #8397 "[Server down]"
**Describe the bug**
I think your server contionue down

**To Reproduce**
Can't sync data

![image](https://user-images.githubusercontent.com/26348718/80349639-bc5ff300-8899-11ea-8dee-e45640469dcf.png)

**Expected behavior**

**Screenshots**

![image](https://user-images.githubusercontent.com/26348718/80349659-c255d400-8899-11ea-89a2-d74e3d70c627.png)

**App information (please complete the follow

[2020-04-27 08:29] lazee commented on #2934
@juslintek Thanks. I'm made a few modifications to this to suit my needs:

[code]

This way I can add the variables to the collection variables scope. I also want to mention to others that the way you use this is by adding a special header to your request:

![image](https://user-images.githubusercontent.com/11016/80351019-ebfb0500-8871-11ea-9c46-90df4ff41142.png)

[2020-04-27 08:48] alereisan opened #8398 "Postman not syncing"
**Describe the bug**
On my Mac Postman is not completing the syncing process, the syncing spinner never stops.

**To Reproduce**
Steps to reproduce the behavior:
1. Start Postman
2. See out of date collections and never ending syncing spinner

**Expected behavior**
Collections should be synced

**App information (please complete the following information):**
 - App Type Mac App
 - Postman Version

[2020-04-27 08:49] preethammavin commented on #8397
@letanloc1998 can you try restarting the application? and check if you are connected to the internet. If that does not work then please write to us at help@postman.com to take a deeper look

[2020-04-27 08:50] preethammavin commented on #8389
@lakshmajim can you write to us at help@postman.com. So that we can take a deeper look into this? If possible do attach a screenshot of the build view

[2020-04-27 08:52] preethammavin commented on #8353
@fenoloco that was an downtime in our services, we had posted the same on the statuspage. Do let us know if it happens again.

[2020-04-27 08:52] #8353 closed, assigned to nobody

[2020-04-27 08:52] #8295 closed, assigned to nobody

[2020-04-27 08:57] letanloc1998 commented on #8397
Of course, I do any way
But now, maybe it up

Same issue: https://github.com/postmanlabs/postman-app-support/issues/8398

[2020-04-27 08:57] #8397 closed, assigned to nobody

[2020-04-27 09:01] VicKetchup commented on #5116
Even though pm.environment.name works in Postman, it doesn't work for monitor runs. It is really counter-intuitive for the monitor behave differently to the app and would really love to see that fixed.

[2020-04-27 09:28] preethammavin commented on #8398
@alereisan are you still facing the issue?

[2020-04-27 09:41] alereisan commented on #8398
@preethammavin yes

[2020-04-27 10:20] dilugit opened #8399 "How to verify a value in anywhere of the Array"
Hi ,

I want to verify whether either 0th or 1st value in below is equal to 'AF'

 "validationResultErrors": [],
    "errorKeys": [],
    "data": [
        {
            "id": "cd367fba-f943-e911-a817-005056a23fb6",
            "isoNumeric": "004",
            "name": "Afghanistan",
            "isoA2": "AF"
        },
        {
            "id": "cf367fba-f943-e911-a817-005056a23fb6",

[2020-04-27 10:44] preethammavin commented on #8398
@alereisan can you write to us at help@postman.com so that we can take a closer look. Please do attach logs that you would find in view-> developer -> view finder in logs

[2020-04-27 10:58] alereisan commented on #8398
As Postman Support recommended to me: After deleting the app data by following the guide https://support.getpostman.com/hc/en-us/articles/360025359014 everything works again.

[2020-04-27 10:58] #8398 closed, assigned to nobody

[2020-04-27 11:08] stuarth-cognitoiq commented on #8323
@numaanashraf upgrading to the canary version worked. thanks.

[2020-04-27 11:08] #8323 closed, assigned to nobody

[2020-04-27 11:08] stuarth-cognitoiq commented on #8323
I'm happy to close this as I now have a working solution using the Canary.

[2020-04-27 12:27] abhijitkane commented on #8369
Thanks for reporting this @FabienDeborde
@VShingala Changed this to `bug` - we should correctly interpret all parts of OAS that we claim to support.

[2020-04-27 12:32] abhijitkane commented on #8339
Thanks @AnthonyDesa. Can you highlight:
a. the specific part of the Swagger spec that's imported incorrectly,
b. how it's actually imported, and
c. how you'd like imported?

A Postman screenshot for b. and c. would be great

[2020-04-27 12:38] numaanashraf commented on #8323
Good to hear that @stuarth-cognitoiq!

[2020-04-27 13:01] arlemi commented on #4802
Thanks for the detailed answer @grimsa ! I also tried the scenario you had described (without going into branching, [see here](https://github.com/arlemi/postman-test/commits/master)) and noticed that the scriptID was updated, though in the case where the collection is imported it is expected.

Yep, while this issue only mentions script ID not being updated in the case of duplicating a request, it

[2020-04-27 14:02] vvs11 commented on #6326
@akac We are working on improving oAuth. Could you provide us with more details about what you are expecting as a solution?

[2020-04-27 14:20] DannyDainton commented on #8399
Hey @dilugit

Would you be able to raise this question as a new topic over on our Community site, please?

https://community.postman.com/

[2020-04-27 19:02] bzmw commented on #8019
This is also something that I would like to see, it's the only thing in my CI pipeline for my API schema that is not automated.

[2020-04-27 20:40] fenoloco commented on #8353
Suppose was a downtime.. (was not but suppose it was) why I need to do a logout and login to sync again.

Also read this: "I don't have a way to force this happens **but support team suggest me to logout/login so I think is widely know for your team**."

This thicket should no be closed.

[2020-04-27 20:48] schmitzdenis commented on #3641
Not sure to understand the issue then @Chekkov , the filePath will change with any value it's assigned to. So for every iteration of a postman runner, or when you change it with pre-request script at runtime as an example ..

[2020-04-28 02:20] Jokertion commented on #8394
Thanks for your reply, looking forward to the update of app.

[2020-04-28 02:36] wpccolorblind commented on #2773
hi @a85 -- it's 2020 and people still want an option for no tabs...

[2020-04-28 06:17] vikiCoder commented on #7453
Closing due to inactivity. Feel free to reopen the issue if the problem persists.

[2020-04-28 06:17] #7453 closed, assigned to coditva

[2020-04-28 07:38] 66115707 commented on #3897
Would it be possible to get an overview of the changes needed to make this happen?
Instead of spending an inordinate amount of time forcing postman to fit within our environment, we would surely consider throwing some resources on fixing the root cause...

[2020-04-28 08:59] cyrielle-hada opened #8400 "Downloaded archived collection missing request bodies"
**Describe the bug**

When free team users have their collections archived and go request a data export from  https://app.postman.co/me/export - the body from all the requests have disappeared.

**To Reproduce**
Steps to reproduce the behavior:
1. Get the collection A archived
2. Go to the Archive page - https://app.postman.co/me/export  and request a data export.
3. Once available, download the d

[2020-04-28 11:00] mrbase commented on #8389
Have the same issue.

OS: Ubuntu 18.04.4 LTS
Postman: Version 6.7.6 linux 4.15.0-1079-oem / x64

Installed via Snap

[2020-04-28 11:50] ghost opened #8401 "Doc: Long tables in collapsible sections have no "View More" button"
This is an issue in Postman Documenter: if a long table is placed in a collapsible section, the "View More" button is missing and the bottom part of the table is hidden.
It occurs with multiple browsers, devices, O/S and screen resolutions but in some rare cases it works fine.

**Demo**: https://documenter.getpostman.com/view/8758645/SzfDw4YG?version=latest

**Expected behavior**
Same behavior as

[2020-04-28 12:50] Raja-Simha commented on #8401
@EWieman thanks for reporting. We will look into this issues

[2020-04-28 13:51] arlemi commented on #4802
@grimsa One thing to mention before closing this issue though, we do offer Version Control for collections (forking/merging/pull requests), you can read more about it here: https://learning.postman.com/docs/postman/collections/version-control-for-collections/

It does not ([yet!](https://github.com/postmanlabs/postman-app-support/issues/7841)) support changes within the same file (e.g. changes in

[2020-04-28 13:54] purestaketdb commented on #7286
+1

[2020-04-28 16:02] aitalian opened #8402 "Computed OAuth1 oauth_signature displayed incorrectly in Authorization Header since 7.21.0"
**Describe the bug**
Beginning in Postman for Windows version `7.21.0`, when using Authorization Type OAuth 1.0, the computed `oauth_signature` displayed to the user in the Authorization Header and viewing generated Code samples are incorrect, but a submitted request still works.

From the changelog for the affected version, I believe this may be relevant:

**Version(s) affected**
Postman for Wind

[2020-04-28 16:58] angshumanshome commented on #3942
Thanks. Can you please guide how can I set proxy_bypass along with HTTPS_Proxy from commandline?

[2020-04-28 17:03] juanatsap opened #8403 "Fauvorites Bar"
Hello. It's a bit embarrasing writing the most amazing team to suggest something, but well, I saw it, and I miss it!.

It's quite simple and clear: Fauvorites capabilites. While Collections and History are fantastic, i miss to have handy my most used API calls. I know i can have all them in tabs, but that's not clean.

Something like outlook does, but in Postman context.

Keep on the good job!

Po

[2020-04-28 17:10] cookopotamus opened #8404 "Import Multiple Environments with One JSON File"
**Is your feature request related to a problem? Please describe.**
<br>
My team almost always has to import/export 3-4 of the same Environments consistently (onboarding, updated values). Having each Environment in a separate JSON file and importing them individually is unnecessarily repetitive.

**Describe the solution you'd like**
<br>
Could you add functionality that if you import a JSON file (t

[2020-04-28 17:14] arlemi commented on #8403
Hey @juanatsap 👋

You can already put your favorite collections at the top by clicking the little star next to their names:
![favorites](https://user-images.githubusercontent.com/5029719/80516813-f6092a80-897b-11ea-87a8-c46241ebd314.gif)

Is that what you're looking for? 🙂

[2020-04-28 17:21] juanatsap commented on #8403
Hmm, not like this.

Like this u put the whole collection on the top, that’s true. But you cannot have a “Fauvorite’s” special section, only with calls (mixing collections), handy.

Going to outlook again (not fan! But it’s a good example.) Under fauvorites folder you can put any folder, from whatever origin.

I don’t know if it’s clearer now.

I use, from my wider collections (let’s say 150 store

[2020-04-28 18:16] HodGreeley commented on #8384
I will try to reproduce with better details.  I think it's happening after actively using the app.  I'll try to pin down the circumstances more closely.

[2020-04-28 19:20] lokeshreddyp opened #8405 "It would be really nice if we can share the api privately i.e internal to the teams"
Please read through the [guidelines](https://github.com/postmanlabs/postman-app-
I'm unsure if this feature exists. If that exists please navigate me to it

[2020-04-28 19:34] jonchui commented on #5330
Any update on this @abhijitpostman or @ash007-postman  ?

[2020-04-28 19:54] arlemi commented on #8405
Can you give a bit more details as to what you'd like to be shared?
Are you talking about an API Network private to a Postman team? (see https://explore.postman.com/)

[2020-04-28 21:30] developedsoftware commented on #5651
I am still having this issue..has it been fixed?

[2020-04-28 22:00] lokeshreddyp commented on #8405
Sorry for not being clear.If I have an API designed and wanted to publish. Currently, there is a way to publish it publicly, but I do not want to publish it to everybody, instead, I want to publish it to our internal team. @arlemi

[2020-04-28 23:00] zhiweipeng commented on #5194
+1

[2020-04-28 23:09] garywade opened #8406 "Name of service field shows all text in view mode but only shows 395x18 points in edit mode"
**Describe the bug**
The name of the service being viewed/edited/ran has a name field that shows the full contents of its text filled to the width of the window, but when the user clicks on the pencil icon to edit its contents, the text field used is only 395x18 points in size (text viewing portion).  Since there's nothing else being shown, it seems reasonable the edit field should take up the ent

[2020-04-28 23:49] k4der2rg commented on #5681
Open the setup file with the option **Run as administator**
This solved the problem for me

[2020-04-29 04:49] weitzhandler opened #8407 "Please add empty-guid predefined global variable"
Much like `{{$guid}}`, please add something like `empty-guid` (`00000000-0000-0000-0000-000000000000`), that generates an uninitialized guid, to be used for validation purposes.

Alternatives: copy-paste from [here](https://stackoverflow.com/a/48804617/75500).

[2020-04-29 06:06] JasinYip commented on #4272
![image](https://user-images.githubusercontent.com/7105264/80565229-90bc4480-8a22-11ea-9ecb-934ecb20f7a7.png)

v7.23.0 Still no sorting of collections...

[2020-04-29 06:21] TaylorDale commented on #2452
This seems like a large oversight, refresh tokens are a pretty integral part of the process. A fix could be quite easily made with preflight scripts if we had access to the refresh_token response of the OAuth endpoint

[2020-04-29 07:19] VShingala commented on #4498
@asmod3us @ig0rsky @APIwithjepp @dleesalestreamsoft @dhd0004

Fix for this was released in App and [Module](https://github.com/postmanlabs/swagger1-to-postman/commit/dc22cd283e932478579819392acd30eb00b6e7fe). Can you check latest Postman App to see if fix is working for you and let me know.

[2020-04-29 07:33] ovelindstrom commented on #285
+1

[2020-04-29 07:34] LarsScha commented on #4361
Same issue here (Postman desktop v7.32.0 on Windows 10. Also, when I close Postman, the process is still there with an equal amount of CPU usage...and sophos antivirus is doing the same. Closing the process manually also drops the antivirus cpu usage.

[2020-04-29 07:40] liruihong1988 opened #8408 "jsonReport.json Repeated record of interface execution results"
If I write the code of the request interface in the “Pre-request Script”：
For example:
var url="https://xxx.com/xx";
   pm.sendRequest(url, function (err, response) {
   var arrayData = response.text();
   postman.setGlobalVariable("xx", arrayData);

After the Newman execution is completed, the generated jsonReport.json，The results in run.executions are displayed repeatedly。

[2020-04-29 08:58] nabham commented on #7870
Facing similar issue, when the app was closed postman hogging RAM and CPU.

[2020-04-29 09:28] anno1985 opened #8409 "Feature request: Support OAuth 2.0 refresh tokens (for Authorization code flow)"
From what I understand, Postman does currently not automatically support OAuth 2.0 refresh tokens.

When using the Authorization code flow (i.e. user needs to log in) it would be nice if Postman would (optionally) [renew a token](https://www.oauth.com/oauth2-servers/access-tokens/refreshing-access-tokens/) when it has expired/is about to expire and when it also had received a refresh token from th

[2020-04-29 10:57] prondzyn opened #8410 "Possibility to disable optional request parameters while importing from OpenAPI"
**Is your feature request related to a problem? Please describe.**
Not sure if it is a feature. Maybe such an option already exists and I only cannot find how use it. My problem is that when I'm importing collection from OpenAPI JSON. I have endpoints that have optional and required request parameters. Currently, after import, all such parameters are marked as enabled - no matter if it is optional

[2020-04-29 11:08] kazosman commented on #4791
the confirm feature would be good as it could save us accidently sending a request to the Prod environment.

[2020-04-29 11:10] abhijitkane commented on #8410
@prondzyn Yep - we're tracking this at https://github.com/postmanlabs/postman-app-support/issues/8410. Closing this as a duplicate.

[2020-04-29 11:10] #8410 closed, assigned to nobody

[2020-04-29 11:16] prondzyn commented on #8410
Thank you. Sorry for the duplicate.

[2020-04-29 12:29] arlemi commented on #8409
Please follow #2452 for updates regarding that feature-request. 🙂
I'd recommend you check out that answer that explains how to automatically refresh tokens using collection-level pre-request scripts: https://github.com/postmanlabs/postman-app-support/issues/2452#issuecomment-382149670

[2020-04-29 12:29] #8409 closed, assigned to nobody

[2020-04-29 12:54] #8407 closed, assigned to nobody

[2020-04-29 13:02] sankalp0o commented on #8405
@lokeshreddyp thanks for reaching out!
We have a feature that lets you "Share" collections and APIs with your team? Here are some links that describe this feature! https://learning.postman.com/docs/postman/collections/sharing-collections/ https://learning.postman.com/docs/postman/design-and-develop-apis/managing-apis/#sharing-apis

I'm closing this ticket because I think this is what you were look

[2020-04-29 13:44] sankalp0o commented on #6614
@ahmetgeymen you are correct, validations on a collection are run on the sample example stored in the collection. If you run individual requests in this collection though, the validation should run on the response received.

---

@VicKetchup we are both improving the matching algorithm as well as considering providing a way so that you can set them manually. I'll update you when these improvements

[2020-04-29 14:10] VicKetchup commented on #6614
@sankalp0o Definitely the second option for us, as that sounds similar to the way we implemented our checks. Maybe this part of our documentation will clarify our use case:
![image](https://user-images.githubusercontent.com/43671684/80605792-6f138b00-8a2b-11ea-88df-019b5667aac9.png)

[2020-04-29 14:17] lokeshreddyp commented on #8405
That is not what I'm looking for.I want to push the API privately because everyone in the team can see the documentation @sankalp0o

[2020-04-29 14:25] frankhale commented on #8364
I was having the same issue as has been reported. It looks like the canary builds of Postman work as expected.

[2020-04-29 14:31] msanguineti opened #8411 "Get new oauth2 access code CSFR session cookie gets stripped"
**Describe the bug**
I am using Postman to request new access tokens from my authorization server. The authorization server has no problem issuing tokens to clients that implement well known oauth2-client libraries. The problem is only with Postman.

The auth server is Hydra from a know German company called Ory. The server checks for a CSRF value set in a cookie.

What happens is that Postman bri

[2020-04-29 16:32] aantono commented on #1607
Any update on this?  It's been open for 5 years, would be nice to get this much needed feature supported!
It is very vital to have, given the high emergence of HTTP Signature auth methods.  I see that Postman supports AWS Signature as a pre-defined authentication method, which internally uses the RSA component to sign the requests, so the code must already be there, just needs to be exposed to the

[2020-04-29 16:36] pranaya94 commented on #8335
@mustela We are working on the fix and shall update you when done.

[2020-04-29 16:39] shawn-smith opened #8412 "Type Field in Collection Variable table"
Postman for Windows
Version 7.23.0
win32 10.0.18363 / x64

I would like to add a boolean variable as a collection variable, but the gui creates all collection variables as string. This causes me to convert the var later before I use it, else my test errors on comparing 'true' to true.

If you were to add a field that we could set to type the var, it could be limited if you wanted to keep out compl

[2020-04-29 16:59] JayChandler opened #8413 "Explain conversion from OpenAPI examples to Postman"
How does Postman convert examples from requests and responses into Postman examples. It seems multiple examples under the media type are not supported ?

It seems Postman always takes the first example from **requestBody** and maps it to the first example of each **response** example?

Is it really always necessary to manually edit the collection examples to work properly ? I would have expected P

[2020-04-29 16:59] avani-n commented on #8389
Hey @mrbase, can you write to us at help@postman.com with logs attached so that we can take a deeper look into this? More details about how to get logs is listed here: https://learning.postman.com/docs/postman/sending-api-requests/debugging-and-logs/

[2020-04-29 18:34] adrian-arg commented on #5970
Same, I spent an hour moving and changing things around, reading the documentation only to find out that when I put it manually in the current value it worked.

![image](https://user-images.githubusercontent.com/32654123/80633307-edbdf780-8a2e-11ea-84e1-4ecc695a7453.png)

[2020-04-29 18:35] JP-from-Postman opened #8414 "Omit redundant content-type header from generated cURL"
**Is your feature request related to a problem? Please describe.**
If content-type header is added manually, in addition to the one automatically generated by Postman, generated cURL includes two content-type headers.

**Describe the solution you'd like**
Only include manual content-type header in cURL, when it's present.

**Describe alternatives you've considered**
None

**Additional context**
Ad

[2020-04-29 20:18] caot opened #8415 "Preview response in default browser"
Is it possible to put the response in Preview to a external or default browser? And the browser can be configured beside the Preview Tab.

[2020-04-29 21:42] twosidedproof opened #8416 "Re-authenticating SAML AD FS Provider resulted in 400 Error"
**Describe the bug**
We were unable to authenticate through our SAML AD FS connection that was established when we first signed up with Postman. We deleted the AD FS connection and re-created it with a new Federation Metadata file and reconfigured the Postman provided information on our AD side. However once we got authenticated we hit another error - **Error 400 SAML assertion not yet valid**

**

[2020-04-29 21:49] arlemi commented on #8415
If you're asking about opening a link present in a response then you can use `cmd+click` or `ctrl+click`.

If you're wondering about getting the whole response directly in the browser then this isn't feasible, instead you can download the response (using the dropdown on the right of the `Send` button) and then open it in browser.

Example with an image:
![download](https://user-images.githubuserco

[2020-04-29 22:56] oceanapplications opened #8417 "Generating Collection not generating accept header"
**Describe the bug**
When I generate a collection from an API schema, it isn't adding accept headers.

**To Reproduce**
Steps to reproduce the behavior:
1. Create OpenAPI 3.0 schema
2. Include responses.code.content.application/json
3. Generate Collection
4. Generated collection will not include the accept header with value application/json

**Expected behavior**
A header Accept application/json s

[2020-04-30 00:28] caot commented on #8415
It;'s not  the links in the response but the response itself.

[2020-04-30 03:46] kallangerard commented on #5302
Any update on this?

[2020-04-30 04:00] aizhimou commented on #5302
No

[2020-04-30 05:32] mrbase commented on #8389
@avani-n send

[2020-04-30 05:56] juslintek commented on #2934
@lazee, you do not need that header, you can just select Authorization method OAuth2 and enter `access_token` variable to the input field for the collection/folder, like below, all request will inherit it. :-) And it will never throw an error unless authentication fails, that token is missing because the script runs before request, and OAuth is executed only after the script runs and the global va

[2020-04-30 05:57] sankalp0o commented on #8340
Hey @Neogene ,
We tried reproducing this issue but weren't able to. I'm closing this but if this problem persists, please do let us know!

[2020-04-30 05:57] #8340 closed, assigned to sankalp0o

[2020-04-30 06:35] vikiCoder commented on #3906
Hi @butlnor,

We have moved the `Use Token` button to the top of the modal. Please update to the latest version of Postman app(v7.23.0) to check it out.

![image](https://user-images.githubusercontent.com/16588032/80679607-d5a3b200-8ada-11ea-836d-ba310e363271.png)

[2020-04-30 06:35] #3906 closed, assigned to vkaegis

[2020-04-30 07:15] rmharrison commented on #350
@JakeTrock Thanks for sharing. I called-out the callousness of Postman-only exports in a [review](https://medium.com/@rmharrison/an-honest-review-of-insomnia-designer-and-insomnia-core-62e24a447ce). If it were the other way-round, you'd be o.k. As Insomnia Designer supports Postman and HAR imports, as well as HAR exports.

[2020-04-30 09:07] arlemi commented on #8415
In that case I'm assuming downloading the response allows you to do what you want.

If not, please open a [new feature request](https://github.com/postmanlabs/postman-app-support/issues/new?template=Feature_request.md) and fill in all the details (inc. why you would need that option, possible solution...).

[2020-04-30 09:07] #8415 closed, assigned to nobody

[2020-04-30 09:22] anticafe commented on #5970
@adrian-arg I face this issue too. After reading the tooltip, I think it's okay to just input the initial value and let current value to empty. However, I get 404 when run the request. I must use the "Pre-request" and print the environment variables to console (`console.log(pm.environment);`) and see all these current values is empty.

[2020-04-30 09:23] neetgupta7 opened #8418 "Choose a token type from Dropdown"
I want to choose a token from Available Tokens dropdown. And when i do that it shows last generated token from that selected option. But when i click on 'Get New Access Token' it always shows details from last option in the dropdown. Am I missing something or is this by design.

[2020-04-30 10:14] avani-n commented on #8389
Thank you @mrbase for reaching out to support with logs. Issue has been identified as team has migrated to v7. For each team members to be able to use updated version, App version needs to be upgraded to v7 of App. Latest version of postman can be downloaded from [here](https://www.postman.com/downloads/).

[2020-04-30 10:44] sankalp0o commented on #8389
**Why is this happening?**
It seems like your team has migrated to the newer version of the app and you're trying to log in with an older version (which isn't compatible). This is documented here - https://learning.postman.com/docs/administration/migrating-to-v7/

The older app version should've shown a readable warning about the same. We're still looking into why this isn't happening.

**What can

[2020-04-30 11:06] jtktam commented on #7294
To consistently reproduce the same behavior using the runner

1. do a few large runs (50,000 post request, 700 bytes per request, 5-6 runs)
 during each run the history never updates with the current run, runner stays black screen
2. quit out of the runner window
3. restart runner, history is shown
4. delete all on history, spinning icon comes up, nothing works now.. only can quit the runner windo

[2020-04-30 11:13] jtktam commented on #7294
EXPORT YOUR COLLECTIONS FIRST

i just confirmed that if you are stuck with the postman starting or loading runner, if you clear out the leveldb directory it works fine again *BUT* you will lose all your collections.. luckily i had exported it beforehand

[2020-04-30 11:21] VShingala commented on #8413
@JayChandler
For requestBody, Postman Collection request body contains first example.

For responses, Each response of OpenAPI schema is mapped to postman collection response. First example is picked up for one response (i.e. for 200 single-line example is picked up).

Now as one collection request/response can have only one body, only first example is assigned as request/response body.

Can you s

[2020-04-30 11:21] TehBakker commented on #7294
Hey, i logged out and in but also cleaned the whole history, which took forever. And it's better now, thanks.

[2020-04-30 11:49] rzinnatullin commented on #7666
Not sure if it will help to investigate, but I had 2 Postman instances open on different machines, then installed the 3rd one on the 3rd machine. The 3rd instance was saying that there's no internet connection, and one of the other instances was saying `One of your active Postman sessions has ended. You’ve gone over the maximum of 3 simultaneous sessions.`
However, at the same time, `status.postma

[2020-04-30 12:21] denz404 commented on #4401
same problem, not syncing anymore, when upgraded to the latest version. Windows

[2020-04-30 12:21] denz404 commented on #4401
you fixed it ?

[2020-04-30 12:23] denz404 commented on #6239
@zarpio  you got a solution?

[2020-04-30 13:10] MichaelBrooks-Version1 opened #8419 "Environment variable reference fails"
**Describe the bug**
My URL fails to resolve an environment variable.

**To Reproduce**
Create an environment variable EmbossURL whose value is the start of a URL, and a collection variable MTR of any value.
Create a request and embed {{EmbossURL}} at the beginning and {{MTR}} somewhere in the middle.
{{MTR}} is displayed in orange and if you hover the mouse pointer over it, a popup displays the r

[2020-04-30 13:16] arlemi commented on #8419
Hey @MichaelBrooks-Version1, looking at your screenshot it looks like you've written the variable name in the `Initial Value` field instead of `Variable` when setting your environment variable. Moving `EmbossURL` to the variable field will fix your issue.

[2020-04-30 13:16] #8419 closed, assigned to nobody

[2020-04-30 13:25] #4802 closed, assigned to appurva21

[2020-04-30 13:29] MichaelBrooks-Version1 commented on #8419
Yes, I just spotted that one myself and came back here to update the issue.
I never said I wasn't stupid...    ;-)

Thanks arlemi.

[2020-04-30 13:30] DogGuyDavid commented on #7666
I am having the same issue today.  I am able to use the internet just fine on all apps except Postman.

[2020-04-30 13:35] amoswood commented on #5040
+1 as it would be useful for interacting with ksqlDB.

[2020-04-30 13:38] iepoch opened #8420 "Mock Server and forked collection"
**Describe the bug**
In creating a forked collection I didn't notice that I would not be able to change the examples in the forked version. I had assumed this worked. But in closer look when I change one of the api example on my forked collection in postman it doesnt change the response from the mock api response. This bothered me so I dug a bit deeper. I did a simple test of removing everything f

[2020-04-30 13:47] arlemi commented on #6239
@denz404 Some users are experiencing degraded performance with the app, including sync. You can follow the issue on our status page: https://status.postman.com/

[2020-04-30 15:21] arlemi commented on #8405
We have "Private API Network"on [our roadmap](https://trello.com/c/6rOiYjfW/131-private-api-network), that sounds similar to what you're asking.

Reopning this and marking as a feature request, thanks for the suggestion!

[2020-04-30 17:36] wuf810 commented on #5040
+1

[2020-04-30 19:15] fedup41 opened #8421 "variable values are not saved with collection export"
I edit the collection and provide a variable called baseURL with a certain value.  Upon exporting the collection the resulting JSON does not include the value.

Steps to reproduce the behavior:

![image](https://user-images.githubusercontent.com/8181401/80749602-4b644980-8aec-11ea-8cff-f289034b64a7.png)

![image](https://user-images.githubusercontent.com/8181401/80749857-bb72cf80-8aec-11ea-8248-78

[2020-04-30 19:31] jlevitt commented on #7294
v7.23.0 seems much improved. Still using 500MB RAM, but the interface feels snappy. It hasn't felt like this in over a year.

[2020-04-30 20:28] AlexZeitler commented on #7794
@vvs11 @abhijitkane We faced this as well today. Is there a rough ETA for a fix?

[2020-04-30 20:49] jscripts opened #8422 "Backslashes are converted to forwardslash when undesired"
**Describe the bug**
When attempting to send a Backslash character \ as part of a parameter Postman converts it to a forward slash, even when encoded as %5c.

**To Reproduce**
Steps to reproduce the behavior:
1. Attempt to send a GET request to an endpoint in the form of {baseURI}/stringWith\character
Alternate:
1. Type the GET request URL in the navigation bar, making sure to include a backslash.

[2020-04-30 21:27] fedup41 commented on #8421
Clarification - this was more of a misunderstanding on my part.  Apparently it is the initial value only that is saved.  The current value is not.  Maybe both should be exported.

[2020-04-30 21:49] arlemi commented on #8421
@fedup41 We do not export the current value to allow users that are sharing their collections to be able to use different configurations without editing their colleagues' ones.
You can read more about it on our Learning Center:
https://learning.postman.com/docs/postman/variables-and-environments/variables/#sessions-in-postman

[2020-04-30 21:49] #8421 closed, assigned to nobody

[2020-04-30 22:04] GorvGoyl opened #8423 "Collection scoped variable giving "permissions middleware" error in GraphQL request"
**Describe the bug**
Collection scoped variable giving error in GraphQL request:
[code]

I'm passing variable in GraphQL variables window:
[code]
}

**To Reproduce**

Steps to reproduce the behavior:

POST URL:
`https://gql.waveapps.com/graphql/public`

Query:
[code]

GraphQL Variables:
[code]

Response:
[code]
**Expected behavior**
It should respond without an error.

**App information (please co

[2020-04-30 22:16] ortizd commented on #7078
I am still having the same problem, any solution?

[2020-04-30 22:18] NylonDiamond commented on #7078
Don't use postman. They obviously aren't going to fix this issue or respond to us. We stopped using them a few months back. Lots of alternatives out there.

[2020-04-30 23:29] sberney commented on #2369
This is still occurring on the Postman App, but not on the chrome extension. I'm on Windows. Instead of remapping addresses to localhost, I am remapping addresses to miscellaneous LAN IPs.

[2020-05-01 00:02] dpkirchner commented on #6722
My use case is vastly simpler: I'm writing openapi 3.0 YAML and then I click Generate Collection so I can preview the result to ensure it is correct. I'm not even to the point that I'm writing tests. There is a documentation link in the "Develop" tab and it takes you to a page that looks correct on the surface, however it is missing the API responses. If that page included responses my use case wo

[2020-05-01 01:25] godfrzero commented on #8387
@patrickgaskill Can you check if the monitor is still visible at https://go.postman.co/team/elements?type=monitor ? It sounds like the monitor was removed from the workspace, but not deleted. This will let us confirm that.
If you're able to see it on that page, you can also delete the monitor from there so it'll sort out the emails.

[2020-05-01 06:32] preethammavin commented on #7078
@leankuroneko can you check out our latest app, as we are pushing performance improvements on both memory consumption and interaction, and see if it fixes the issue.

@ortizd is the problem related to the black screen? can you check if you are on the latest version of the app? If you are can you try the workaround mentioned here #4594 . If that doesn't help as well, can you write to us at help@pos

[2020-05-01 08:08] marcelo23 commented on #1066
+1

[2020-05-01 09:31] ortizd commented on #7078
Yes! Is the black screen problem. I have already try the workaround mentioned in #4594 and it didn't worked.

[2020-05-01 10:54] lazee commented on #2934
@juslintek Ah, good point. Thanks.

[2020-05-01 12:35] 123dev commented on #2523
Can't believe 4 years later and this is still in Triage.

[2020-05-01 15:26] itsAnuga commented on #4171
Enabled the "Use next generation URL processing".
Enabled "Encode URL automatically" on a GET Request, containing: ?filter={"compare":1} as a URL Query.
Got 400 Bad Request.
Disabled "Use next generation URL processing".
Run the Request again, worked...
URL Encoding isn't encoding Query's?

[2020-05-01 15:38] preethammavin commented on #7078
@ortizd please do write to us help@postman.com, with the above logs so that we can take a closer look and help you out.

[2020-05-01 16:29] andrei115 commented on #3518
There is a workaround by using localhost instead of localhost:<port> provided by @dannash918 which is working fine

[2020-05-01 18:26] gone-skiing commented on #1321
This is a pretty serious blocker for our use case. Is there any word on when this might be implemented? Would anyone from the postmanlabs care to comment?

[2020-05-01 18:33] sankalp0o commented on #8405
@lokeshreddyp Just so that we understand your use case correctly, you want to share it with some members in your Postman team but not everyone?

[2020-05-01 18:50] vrevelli commented on #5681
Since setup is trying to use files in "D:\Users\<Uname>\AppData\Local\Microsoft\Teams\packages", I logged into Teams and tried install Postman, it worked!!!.
Because previously I didn't login to Teams.

[2020-05-01 19:19] lokeshreddyp commented on #8405
I mean publish API Privately - internally to our team

Currently, PostMan has a feature to publish API, at that point that will be available to the public

[2020-05-01 19:22] carlblanchard commented on #8364
Frank, Yes I downloaded postman canary and all is good in the world now (Apart from Lockdown of course). Using Authcode with PKCE, here's what I have for my settings if anyone else has problems.

![image](https://user-images.githubusercontent.com/18427214/80834625-f823f100-8be8-11ea-9f84-278cb30d822a.png)

![image](https://user-images.githubusercontent.com/18427214/80834725-2d304380-8be9-11ea-8f5f

[2020-05-01 19:25] carlblanchard commented on #7777
Hi Sebastian, Finally resolved the issue. Installing PostmanCanary done the job.
https://github.com/postmanlabs/postman-app-support/issues/8364

[2020-05-01 19:26] SebastianJust commented on #7777
Wuhu! So cool! :)
Thank you.
Have a great weekend.

[2020-05-01 19:34] JakeTrock commented on #350
@rmharrison Just read the article, I can't believe this has been going on for 7 whole years! Let's hope this is the last. I ended up using a GUI automator to record all of my actions and play them back on the insomnia gui, but this is certainly not ideal for my teammates.

[2020-05-01 20:06] a85 commented on #350
@rmharrison Postman Collections do not have a 1:1 mapping between HAR files. This thread is about importing HAR files and not exporting. Thank you for reviewing Postman though. The article was insightful though not sure if I entirely agree with some parts.

@JakeTrock We are tracking this thread. Postman supports many formats along with the inter-conversion between them. It is not possible to supp

[2020-05-01 20:24] kinlane commented on #1321
I'll make sure this thread is part of conversations we are having. Thanks for elevating.

[2020-05-01 20:26] gone-skiing commented on #1321
Thanks, @kinlane ! Looking forward to updates... Just to record the ask here, we would need **socks5h variant (with DNS support)**.

[2020-05-01 21:26] LordRafa commented on #6071
Unfortunately I don't have my Surface any more...

[2020-05-01 23:12] aslamanver opened #8424 "Enable Javascript in Response Preview"
![Screenshot from 2020-05-02 04-42-30](https://user-images.githubusercontent.com/19545844/80848020-5ecbfd80-8c2f-11ea-88ef-5dd5a9a8ecf0.png)

[2020-05-02 04:34] Mustafa017 commented on #5182
"copy as cURL (bash)". removes all the carets (^) and the request is imported without any errors

[2020-05-02 08:14] rahulhada commented on #2691
How we can sync collections with bitbucket ?

[2020-05-02 11:16] Redsandro commented on #7393
@numaanashraf any update on this?

[2020-05-02 12:18] numaanashraf commented on #7393
@Redsandro  Our early access 'Canary' channel - https://www.postman.com/downloads/canary has been upgraded to use Electron v7.2.x. Could you try out this build and let us know?

[2020-05-02 12:48] Redsandro commented on #7393
Good to hear! :+1: I'll get back to you.

[2020-05-03 00:05] imokweb commented on #3358
+1 We're going for the record 🏆

[2020-05-03 06:05] michaeldaw commented on #2934
Are they really not going to make this simple fix?

[2020-05-03 14:27] abiancu commented on #8213
Trying to make a GET request to `https://api.covid19api.com/summary` but getting a 504 error. Was working fine on 05/02/2020
`<html>
<head><title>504 Gateway Time-out</title></head>
<body bgcolor="white">
<center><h1>504 Gateway Time-out</h1></center>
<hr><center>nginx/1.14.0 (Ubuntu)</center>
</body>
</html>`

[2020-05-03 14:29] Bysmyyr commented on #8213
@abiancu Your error is not even closely related to this. This is about postman internal API, not using poistman for some other API

[2020-05-03 20:59] codenirvana commented on #7541
@tguedes-connectwise This is happening because the domain is not added to the programmatic cookie access whitelist. To help debug such issues we recently added a warning log in the console when programmatic cookie access is denied.

Closing this issue... please feel free to reopen if the issue persists.

[2020-05-03 20:59] #7541 closed, assigned to codenirvana

[2020-05-03 23:01] ubz8a commented on #3385
My problem is  a little simpler but in same vein.

If you have 100 lines of code in Pre-requst  script or Tests UI then the next line is flagged has having too many errors
where a line of code is delimited by a semi-colon , so 101 semi-colons on a single line will return error

e.g. NO error ...  100  * a=1;

a=1;a=1;a=1;a=1;a=1;a=1;a=1;a=1;a=1;a=1;a=1;a=1;a=1;a=1;a=1;a=1;a=1;a=1;a=1;a=1;a=1;a=1;a

[2020-05-04 01:15] mtrezza commented on #1931
Maybe this is of help to anyone looking for an API that times out: http://httpstat.us

[2020-05-04 03:26] DangChien commented on #212
+1

[2020-05-04 03:58] airtonix commented on #5357
to be honest, if the postman team just wrapped newman around jest/tape/mocha  then all these problems would be a non issue.

i'd be able to do:

[code]

Instead, we have this weird myopic testing approach.

[2020-05-04 04:10] kamalaknn commented on #8424
Hey, @aslamanver Thanks for writing in. We are tracking this request in #2646.

I'm closing this as a duplicate. Please follow the original thread for updates.

[2020-05-04 04:10] #8424 closed, assigned to nobody

[2020-05-04 04:55] sankalp0o commented on #8098
@Raj-postman @soniCaH @geoffturk we've identified a bug with validating arrays and fixed it. Can you please check and let us know if this solves your problem?

[2020-05-04 06:50] bjornvdakker commented on #7569
Same issue here, I don't see any option to workaround on this on another browser or something....

[2020-05-04 07:18] shreys7 commented on #7633
Head over to the gear icon on the top right -> Settings -> Update. Here you can check for updates and download the latest update if required. Closing this for now.

[2020-05-04 07:18] #7633 closed, assigned to abhijitkane

[2020-05-04 07:22] shreys7 commented on #7403
Hey @Aaron-Browne can you switch over to the new code generation mode and let us know if this problem still persists. Click the Settings icon on the top right -> Settings -> General and then enable `New Code Generation Mode`

[2020-05-04 07:24] bjornvdakker commented on #7700
Hi @harryi3t ,

When do you expect this feature to be launched in beta / production? Would be great if we could get this working!

[2020-05-04 07:28] shreys7 commented on #8057
@lastbulletbender @tyd With the latest Postman App, the cookie headers are being successfully added in the code snippets generated. Can you update your App to the latest version and verify the fix?
![image](https://user-images.githubusercontent.com/20665864/80944303-d738e700-8e06-11ea-8e7e-5dcca6307679.png)

[2020-05-04 07:30] #7164 closed, assigned to abhijitkane

[2020-05-04 07:32] #2469 closed, assigned to nobody

[2020-05-04 08:02] lakshmajim commented on #8389
@sankalp0o using Postman Canary for now and is working as expected for now.
The thing is I have installed Postman native client from Ubuntu software center (is still an older version (6.x)). And it doesn't ask me to update the postman version.

[2020-05-04 08:16] DavidRedstone opened #8425 "Postman v7.23.0 snap does not open in Fedora 31 or Fedora 32"
Description:
Sorry if this is a dupe. I couldn't find it listed. Postman v7.23.0 snap does not open in Fedora 31 or Fedora 32.

Steps to reproduce:
Install Postman via snap store or via sudo snap install postman
Open postman from the programs list or cli

Expected behavior:
Postman should open, but nothing happens.
If opened via cli, there is a message about cgroups v2

App info:
Latest postman sn

[2020-05-04 09:13] SParmentier opened #8426 "Impossible to use definitions in json-schema"
**Describe the bug**
Postman can't validate a json-schema with the 'definition' attribute defined
https://json-schema.org/understanding-json-schema/structuring.html

**To Reproduce**
Create a json-schema in the pre-request script

`
pm.globals.set("example-schema", {
  "$schema": "http://json-schema.org/draft-07/schema",
  "type": "object",
  "definitions": {
    "test": {
      "$id": "#test",

[2020-05-04 09:43] javieraviles commented on #350
Hi everybody in the thread.

A collegue and I are implementing an online tool/node package to convert `har` files to `postman collections`. It is already working quite nice for our use cases (api tests regresion from existing frontend) even though we have some more features to be implemented in the backlog (see readme) if we see some people interested. Here is the repo:

https://github.com/javiera

[2020-05-04 09:54] harryi3t commented on #8425
@DavidRedstone Did you do a fresh install of Postman snap app or were you using it for a while and it broke with the latest update? If the latter is the case, do you remember that last version that was working fine on this system?

[2020-05-04 09:54] mrbase commented on #8389
@lakshmajim I had to uninstall the old version, and select the newest from the gui to have it installed via snap.

[2020-05-04 10:05] kiranshashiny opened #8427 "No code gets generated in my installation of Postman on Mac OS"
**Describe the bug**
I just installed Postman on Mac OS, I did a GET on a remote URL, and wanted to get it's cURL equivalent, so when I click on "Code" there is another window that opens up but EMPTY !

**To Reproduce**
Open Postman ( v7.23.0 )
In the request enter this.
https://fyw6lx.messaging.internetofthings.ibmcloud.com/docs/index.html

Click on Code.

A new window should pop up with the cURL

[2020-05-04 10:10] kamalaknn commented on #8362
@ankita379 Can you attach screenshots of the issue you are seeing? It will help us debug the issue better.

[2020-05-04 10:15] shreys7 commented on #8427
@kiranshashiny Can you share the logs for the same?
View -> Developer -> Show Devtools(Current View) or press `Cmd + option + I`

[2020-05-04 11:12] kiranshashiny commented on #8427
[code]

[2020-05-04 11:15] kiranshashiny commented on #8427
![Screen Shot 2020-05-04 at 4 43 31 PM](https://user-images.githubusercontent.com/14288989/80960420-6ef9fd80-8e26-11ea-8872-55c266d6ece7.png)

Does this make sense ?
I don't see a way I can select the entire page and copy ! I meant it does not allow me to copy by selecting the entire text -so I did just do a Ctrl-C andCtrl-V.

If there is a way to redirect to a file - then let me know. I can do it

[2020-05-04 11:39] DavidRedstone commented on #8425
Hi Harry,

Thanks for the quick reply.

At work I use Postman on F31 (and prev, F30) on a desktop PC, but from the normal download. At home, I have tried the snap on an HP laptop with F32 (and prev F31), and I have never gotten the snap working. The only hint is the cgroups v2 warning.

I also have a media PC with Ubuntu 19.10... installing Postman snap to check... yes it works. So far everything

[2020-05-04 12:29] arlemi commented on #8405
@lokeshreddyp Can you clarify what you mean by "team", do you mean:
- your engineering team as a whole (e.g. Postman AND non-Postman users), so a private page protected by a password for example.
- your Postman team (e.g. only your engineers that are in the same [team workspace](https://learning.postman.com/docs/postman/workspaces/intro-to-workspaces/#team-workspaces)), so documentation where you

[2020-05-04 12:31] arlemi commented on #6722
@dpkirchner To display example responses on the documentation you need to add examples in your collection. You can learn how to do that on our Learning Center: https://learning.postman.com/docs/postman/collections/examples/

[2020-05-04 12:36] JayChandler commented on #8413
I understand that in OpenAPI there is no relation between request and response examples like in Postman so i think it's quite difficult to do the right thing. In my personal opinion i would treat request examples and response examples in their own way.

If **multiple request examples** are defined there should be a **dropdown** like in the **swagger** ui to choose which example to show. In an API

[2020-05-04 12:40] arlemi commented on #212
@DangChien This is already feasible, you can drag and drop your requests to any other collection.

[2020-05-04 12:46] arlemi commented on #2691
@rahulhada This isn't possible at the moment. We're tracking it as a feature request in #4780

[2020-05-04 12:47] eduardoturconi commented on #350
@a85 seriously?
"It is not possible to support every single format that somebody else invented"
Do you know that the HAR format has a spec written by the W3C group? The format is NOT a "single format that somebody else invented".

[2020-05-04 12:50] meetSuraj commented on #8416
@jolesch Could you please check once if your ADFS server clock is correctly synchronized, You might be getting  `SAML assertion not yet valid` because of unsyncronized clock.

[2020-05-04 12:51] tyd commented on #8057
@shreys7 I updated to 7.23.0 and I'm not seeing cookies added. Is 7.23.0 the correct version?

[2020-05-04 12:59] meetSuraj commented on #8416
So I digged in more, The time instant specified on`NotBefore` attribute in `Conditions` element in SAML Response was later than the time instant at which we processed the assertion. This is as I said earlier likely due to unsynchronized clock on ADFS server.

[2020-05-04 13:07] jolesch commented on #8416
Thanks Suraj - I'll take a look

On Mon, May 4, 2020 at 8:00 AM meetSuraj <notifications@github.com> wrote:

--
Drew Jolesch
e. drewhjolesch@gmail.com
c. 214.886.4373

[2020-05-04 13:19] JayChandler opened #8428 "How to get a nice folder hierarchy?"
How do i get this nice orange folders ? I created a folder in my collection but in my documentation it does not look this way?

![TreeViewFolder](https://user-images.githubusercontent.com/6359575/80969802-76b3a500-8e1a-11ea-9a18-818e9b65b4a3.PNG)

[2020-05-04 13:26] ArjunSingh-PM commented on #7253
Closing this issue as this was a transient issue. The reset password flow is working correctly.

[2020-05-04 13:26] #7253 closed, assigned to ArjunSingh-PM

[2020-05-04 13:52] conradpronto commented on #7633
Yes, I am aware of that. The point is that the version that was being downloaded is not the newer version that is covered in this ticket.

On May 4, 2020, at 03:18, Shrey Shah <notifications@github.com> wrote:

﻿

Head over to the gear icon on the top right -> Settings -> Update. Here you can check for updates and download the latest update if required. Closing this for now.

—
You are receiving t

[2020-05-04 14:30] idroxid commented on #8098
@sankalp0o Same issue here... Can you please tell me if the Canary build includes the fix ?
v7.24.0-canary03 seems to still have the bug.

[2020-05-04 15:33] Kalcode opened #8429 "GraphQL Schema API Fails with Input Type"
**Describe the bug**
GraphQL API doesn't seem to support type (https://graphql.org/learn/schema/#input-types).

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'API TAB'
2. Click on '+ New API'
3. Enter information
4. Schema Type select "GraphQL"
5. Select Format "GraphQL SDL"
6. Click "Create API"
7. Copy and Past SDL below.
3. Click on "Save"
3. Click on "Generate Collection"
4. Name

[2020-05-04 15:52] lakshmajim commented on #8389
@mrbase where can I find *snap* in ubuntu?.

[2020-05-04 16:05] lokeshreddyp commented on #8405
that means it will only be published privately to the members who in the organization's team workspace only and cannot be viewed or accessed by other postman users.

[2020-05-04 16:18] lokeshreddyp opened #8430 "Adding Required field and data type of param's really helps in documenting the Api's"
**Is your feature request related to a problem? Please describe.**
Yes, It would be great to have `Required` and `field type` for params because it will really help a developer a lot in understanding what's the data type is and is this param mandatory while sending an API request.

Currently, we have `Key, Value, Description` but adding `Required field which is a boolean ` and `DataType of param w

[2020-05-04 16:46] arlemi commented on #8428
@JayChandler This is the public view, you need to go all the way to publishing your documentation to see the view with the folders.

See how to in the Learning Center: https://learning.postman.com/docs/postman/api-documentation/publishing-your-docs/#publishing-and-unpublishing

[2020-05-04 16:46] #8428 closed, assigned to nobody

[2020-05-04 16:50] tristandenyer opened #8431 "Release notes has spurious characters in GitHub URLs"
**Describe the bug**
The JSON coming back from the Release Notes endpoint contains spurious characters (escaping?) in the GitHub URLs, causing some web crawlers to see these as 404s on the rendered page.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'view-source:https://www.postman.com/downloads/release-notes/'
2. Search for 'https:\/\/github'

**Expected behavior**
The rest of the U

[2020-05-04 16:55] lastbulletbender commented on #8057
@tyd @shreys7 The cookies are being added on 7.23.0 for me.

[2020-05-04 17:00] tristandenyer opened #8432 "inconsistent styling / tags for Release Notes"
**Describe the bug**
In the Release Notes endpoint response, we are getting back inconsistent header tags (H1, H2) for the versions. Many are H1, some are H2, and when stacked on the new Release Notes page ( https://www.postman.com/downloads/release-notes ) this creates an inconsistent feel to the page.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://www.postman.com/downloads/

[2020-05-04 17:00] caedmonm opened #8433 "Save collection runner order"
I have an API with 50 or so requests, organised into folders. When I go to run tests on them all in the Collection Runner I have to spend a good few minutes re-ordering them to prevent errors. I'd love to be able to save the order without having to get rid of my folder structure.

[2020-05-04 18:13] ejain commented on #8135
Same here with `7.23.0`. Only parts of the UI become unresponsive, sometimes just the "Send" button, other times the tabs as well... The DevTools workaround works for me.

[2020-05-04 18:24] prashantagarwal commented on #1535
Hey Everyone, I have created a [template collection](https://explore.postman.com/templates/7907/reusing-a-request) to reuse a request in a different collection. This uses `pm.sendRequest` to fetch the request using Postman APIs.

I am also working on an extension of this idea which will let you chose requests from a different collection and run them in a defined order. This will be helpful for sce

[2020-05-04 18:32] numaanashraf commented on #8135
@ejain Could you try out our early access Canary build? https://www.postman.com/downloads/canary/. We are testing some improvements that should address this particular issue. You can install and use the Canary build side by side with the stable app.

[2020-05-04 18:37] tyd commented on #8057
I tested more and the cookies are added to requests that have the URL explicitly defined, but cookies aren't added for requests that use a var for the host url.

**Example with URL set (works):**
![image](https://user-images.githubusercontent.com/1465854/81000549-a905d800-8e03-11ea-9448-9b9f08f5a7c1.png)
![image](https://user-images.githubusercontent.com/1465854/81000557-ac995f00-8e03-11ea-823f-49

[2020-05-04 19:15] ClementRoyer commented on #7392
Up !
I have the same issue, and I would like to unpublish this archived documentation.

[2020-05-04 20:22] Aaron1515 opened #8434 "Unable to update new email address, after logging out and in, the old email presist"
**Describe the bug**
Unable to update new email address.
![Screen_Shot_2020-05-04_at_1_14_29_PM](https://user-images.githubusercontent.com/15719821/81009792-216f9780-8e0a-11ea-85f2-6d046914e62a.png)

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://blue-shadow-4014.postman.co/settings/me'
2.Update email address.
3. Visit mailbox to verify the new email address.
4. Click on the v

[2020-05-04 21:26] matt-ball commented on #8433
One thing you can do is look at the "Recent runs" section (right-hand pane) once you open the Collection Runner. Picking any of these runs from the list allows you to identify how the requests ran and you can execute the same sequence by hitting "Retry". Next to that, you can also export the results (and therefore the order), to be able to import the sequence and "Retry" again at any time.

[2020-05-04 22:05] caedmonm commented on #8433
Thanks @matt-ball I'm not sure how's I'd missed the recent runs, that's a good solution for me.

[2020-05-04 22:58] cedafter opened #8435 "Download link for Linux is missing on Postman website"
There's no download link displayed and no auto download when I go to the following link:
https://www.postman.com/downloads/

From Google cache the download link should be :
https://dl.pstmn.io/download/latest/linux64

Browser: Firefox
OS: Linux

![1](https://user-images.githubusercontent.com/2945509/81022009-d33fb000-8e6c-11ea-9ba5-11f49280cc87.png)

[2020-05-05 04:21] abhijitkane commented on #8427
@kiranshashiny Can you head to the console tab in the DevTools window and send a screenshot? Any JavaScript errors will show up there. Be sure to expand any error messages (there should be a black arrow to the left of each error line).

[2020-05-05 04:22] AnvarNazar opened #8436 "App taking too much time to open after an update"
**Describe the bug**
After I click update the loading screen saying "Preparing your workspace this will take a few minutes" stays for too long

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Settings
2. Click on 'An update has downloaded, restart to continue'

**Expected behavior**
Open the app as soon as possible after updation

**Screenshots**
If applicable, add screenshots to help e

[2020-05-05 04:28] kiranshashiny commented on #8427
@abhijitkane

Yes - there are lots of them !

![image](https://user-images.githubusercontent.com/14288989/81035061-ed9e7b80-8eb6-11ea-920f-3a8b8f13988d.png)

[2020-05-05 04:29] kiranshashiny commented on #8427
![image](https://user-images.githubusercontent.com/14288989/81035107-22123780-8eb7-11ea-854d-e4fd8791be37.png)

[2020-05-05 04:30] kiranshashiny commented on #8427
Some "FILE_NOT_FOUND" errors

![image](https://user-images.githubusercontent.com/14288989/81035138-43732380-8eb7-11ea-9797-fa0e3be23979.png)

[2020-05-05 04:32] kiranshashiny commented on #8427
![image](https://user-images.githubusercontent.com/14288989/81035177-846b3800-8eb7-11ea-98c3-1569c7b91758.png)

[2020-05-05 04:33] kiranshashiny commented on #8427
![image](https://user-images.githubusercontent.com/14288989/81035203-98af3500-8eb7-11ea-8487-d40d7f13149b.png)

[2020-05-05 04:35] kiranshashiny commented on #8427
If this will help.
I had an earlier version of Postman, a year or two ago on this mac and I recently deleted it ( about 2 weeks ago) due to some space issues and part of some cleanup !

The new version I installed was this week.
Is there a relation to earlier version that may have left some residual files over after cleanup ?

[2020-05-05 04:46] preethammavin commented on #8405
@lokeshreddyp let me see if I can get that information right.
You want to publish/share API documentation but only to the section of people on your Postman team?
Postman has private workspaces where the elements( in this case API documentation) shared in it is only visible to the users in that workspace. The elements in that workspace will only be made visible if the users in that workspace share

[2020-05-05 05:17] imtrobin opened #8437 "Adding support for automatically tracking active tab item in sidebar"
Hi, it's easy to get lost where the tab is in the Collections when they are many of them . Are you able to implement to highlight the the collection when we are focused on the tab. This is similar to "Track Active Item in Solution Explorer" in visual studio

[2020-05-05 06:10] mrbase commented on #8389
@lakshmajim It's used by Ubuntu Software Center, so just go there :)

[2020-05-05 06:12] abhijitkane commented on #8427
@kiranshashiny Could be. We're debugging this - in the mean while you can try removing your local data folder (assuming you're signed in to Postman and all your data is backed up):

Quitting the app, removing the `~/Library/Application Support/Postman` and restarting Postman should give you a clean installation where you can sign in again.

[2020-05-05 06:13] JayChandler commented on #8428
@arlemi Thx for response. Still unclear why published documentation renders differently then the preview. Why? Some APIs may still be visible  only for internal purposes.

[2020-05-05 06:18] kiranshashiny commented on #8427
Yes, I found that there was a residual folder with this info
[code]

Cleaning it !

[2020-05-05 06:23] kiranshashiny commented on #8427
Solved it.

I cleaned up the earlier folder and restarted the Postman App.
Now I am able to see the code(s).

Please close ticket and I'd like to thank you and the other engineer for the help offered for resolving it.

Now, if you can investigate or put a proper cleanup procedure during de-installation of Postman then future issues like these can be identified earlier and time saved.

Shashi

[2020-05-05 06:23] #8427 closed, assigned to nobody

[2020-05-05 06:27] preethammavin commented on #8435
@zaraced thanks for reporting this, we are getting this fixed Asap.

[2020-05-05 07:39] Ryan-McBride commented on #8435
I've pushed a fix for this to production and it is working my by VM, both in 64 bit ubuntu and  32bit fedora. Thanks again for letting us know about this.

[2020-05-05 07:55] SeppPenner commented on #4009
Would be a nice feature 👍

[2020-05-05 08:32] arlemi commented on #8428
@JayChandler When in preview mode you can edit your documentation inline (inc. folder names) and I'm guessing we're using a different library to allow that which results in a different render.

[2020-05-05 08:55] ryadaval commented on #7700
Thank you Arametheus. Your idea worked for me. For anyone else looking for the oath2 playground of google, here is the link.
https://developers.google.com/oauthplayground/

Meanwhile, postman is still not working. At present the chrome plugin for postman is also not working.

[2020-05-05 09:46] vadminn opened #8438 "Postman API Schema -> Collection (OpenAPI 3.0)"
I created an API Schema in Postman.

I marked all the requests by tags and checked the correctness on https://editor.swagger.io/ Everything looks correct.

But when I generate a collection from the scheme I have some issues:
-  Some requests were placed out of the tag directory. (They are placed correctly on swagger editor)
<img width="525" alt="Screenshot 2020-05-05 at 11 35 37" src="https://user

[2020-05-05 10:00] VShingala commented on #8438
@vadim-nilov Currently [OpenAPI Importer](https://github.com/postmanlabs/openapi-to-postman) groups requests based on their paths and not based on tags. Due to this they belong in different folder in your case.

We are currently working on grouping requests based on tags using an option, You can find detailed discussion here https://github.com/postmanlabs/openapi-to-postman/issues/57

[2020-05-05 10:53] rifhanakram commented on #5194
+1

[2020-05-05 12:38] arielelkin opened #8439 "API token is ignored when making request"
**Describe the bug**
This happens when you try opening a pre-existing Postman collection on a new device. The collection has API Key authorization set up.

![image](https://user-images.githubusercontent.com/1756909/81066063-71b32c00-8ed4-11ea-8736-1c93c108c1e0.png)

When you hover on `{{token}}` you can see it has the correct value.

However, when you open pre-existing requests in that collection

[2020-05-05 12:48] ManiacDC opened #8440 "Importing a collection changes all request id's"
**Describe the bug**
After a recent Postman update (yesterday is when I first noticed it), when I import a collection, and then export it, all the request id's are changed in the export json collection. This happens upon import, as if I export the same collection twice (without re-importing), the request id's match; however, if I Import > export > import > export, the request id's will not match.

[2020-05-05 13:18] wiwwo commented on #6967
Any news on this? :-)

[2020-05-05 13:20] nickfoster commented on #2096
I was search for how to change the shortcuts in Postman so I can match the tab controls I'm used to in Visual Studio.  Pretty disappointed it can't be done :(

[2020-05-05 13:43] hynespm commented on #4780
+1

[2020-05-05 14:10] ArjunSingh-PM commented on #5066
You can now traverse through monitor runs based on time of the run.

https://learning.postman.com/docs/postman/monitors/viewing-monitor-results/#time-traverse

[2020-05-05 14:10] #5066 closed, assigned to anudeepmedicharla, charlie-postman

[2020-05-05 15:30] arlemi commented on #6967
@wiwwo We're tracking this in #8195

[2020-05-05 15:59] vadim-nilov commented on #8438
@VShingala what about using example's value in the request instead of schema type?

[2020-05-05 18:34] dvkch opened #8441 "Add Hawk authentication configuration to change the header used"
**Is your feature request related to a problem? Please describe.**
Hi,

I am using Postman to connect to an API that uses Hawk authentication, but not on the standard `Authorization` header, which seems to be used for a different purpose in some endpoints. Unfortunately Postman configuration of Hawk auth doesn't seem to allow me to specifiy a different header name.

**Describe the solution you'd l

[2020-05-05 18:50] elznr commented on #7700
Well today I updated to Postman v7.23.0 and now it is working for me. How come?

[2020-05-05 20:43] masturi commented on #7961
I have exactly the same issue:
- Sync button in constantly red
- 429 (Too Many Requests)
- Account since ~2015 (with jetpack)
- macOS Catalina 10.15.4
- Postman for Mac, Version 7.23.0, OS X 19.4.0 / x64

[2020-05-05 22:13] b-wils opened #8442 "Trouble accessing request body members"
**Describe the bug**
I am unable to access the values of urlencoded fields from the pre-request script. Logs reveal the urlencoded object, but when I attempt to access values I get undefined.

**To Reproduce**

1. Start a request in PostMan
2. Add a urlencoded body
3. Attempt to log urlencoded body `console.log(pm.request.body.urlencoded[0])`
4. Prints as undefined in the console

**Expected behav

[2020-05-06 01:42] bilinxing commented on #2801
+1

[2020-05-06 05:42] vikiCoder commented on #8422
Hi @jscripts,

This is intended behavior. Backslashes(`\`) in URL path are always converted to forward slashes(`/`). But backslashes in URL query are kept as it is. Browsers also do the same thing (see below GIF).

![ezgif com-video-to-gif](https://user-images.githubusercontent.com/16588032/81141479-66bad300-8f8a-11ea-8062-4763d74c4e80.gif)

[2020-05-06 05:42] #8422 closed, assigned to nobody

[2020-05-06 06:20] Reechee88 commented on #7370
CPU usage too high, +1 ,ubuntu 19.10.

Any workaround? It is lagging so much, our team cannot use it anymore sincs last update to v7. Please give us a workaround.

[2020-05-06 06:22] numaanashraf commented on #7370
@Reechee88 If you have all your data synced to your account, could you try signing out and in again?

[2020-05-06 06:45] Reechee88 commented on #7370
![Képernyőkép erről: 2020-05-06 08-44-14](https://user-images.githubusercontent.com/2429402/81145079-d2467580-8f75-11ea-8919-e6dd43cb79a8.png)

It is signing out, it's been 5 minutes so far.

[2020-05-06 06:53] Reechee88 commented on #7370
Now it is okay! Thanks for quick response!

[2020-05-06 07:52] Atishay4294 commented on #7634
Closing this issue for now.
Feel free to reopen if you run into problems with GitHub repositories in the drop-down menu.

[2020-05-06 07:52] #7634 closed, assigned to nobody

[2020-05-06 09:04] DannyDainton commented on #8442
Hey @b-wils,

I've found that either of these ways will help you to access that data from the request:

[code]

![Screenshot 2020-05-06 at 10 04 02](https://user-images.githubusercontent.com/17089546/81159524-f3f92a00-8f80-11ea-8b82-f140a4a67b7b.png)

[2020-05-06 09:46] wizofaus commented on #2452
Agree, currently having to manually create new tokens every so often (and delete the old ones etc.) is a major pain.

[2020-05-06 10:12] rb610 opened #8443 "Add search facility in environment variable window. This will be useful, when having 50+ env variables"
Add search facility in environment variable window. This will be useful, when having 50+ env variables

currently it is difficult to find particular env variable.

[2020-05-06 10:41] aadind commented on #1070
Guys! Re-order 4-5 examples from a 100 endpoints collection is going to consume huge time :)

[2020-05-06 10:43] trnchawla opened #8444 "-"

[2020-05-06 10:43] trnchawla commented on #8444
You could have given a damn warning before doing it? how dare you?

[2020-05-06 10:44] trnchawla commented on #8444
Seriously stupidest way to get premium customer, I will never allow postman in any of my teams no matter what.

[2020-05-06 10:52] nuelsoft commented on #4009
Still nothing. Do something Please

[2020-05-06 11:24] SeppPenner commented on #4009
Easiest way in my opinion. Use Chrome debugging console (F12) with something like this:

[code]

[2020-05-06 11:36] sankalp0o commented on #8400
We've identified the bug that is causing this and we're working on fixing it. We'll share progress on this thread.

In the meantime, the workaround mentioned above should allow you to access your data, request body included.

[2020-05-06 11:52] IvanEh commented on #285
+1

[2020-05-06 12:22] shalva97 commented on #5903
+1

i get nauseated when scrolling it more than 5 mins

[2020-05-06 12:52] b-wils commented on #8442
That works, thanks @DannyDainton !!

I'm curious, are there docs anywhere on this?

[2020-05-06 13:23] Raja-Simha commented on #8430
@lokeshreddyp appreciate your feedback. This is on our short term roadmap and will be working on this soon.

[2020-05-06 13:56] Etnic opened #8445 "Extend limit for reviewers"
Now it is possible for pull request add maximum of 3 reviewers. I am working in a team of 10 people and we would like to start using pull requests from postman. Could you extend this option so we can add all members from the team to join the review?

Also approve button will be great so we can see that reviewer who did review are okay with changes and after that if 2 or more people approve PR will

[2020-05-06 14:00] preethammavin commented on #8444
@trnchawla We have identified the bug in the system and the issue will be fixed ASAP. While we do fix the issue you can export the data using the app using settings for now, which will export all the data from the app to be imported.
For reference you can find it in the settings tab:
<img width="1109" alt="Screenshot 2020-05-06 at 7 28 15 PM" src="https://user-images.githubusercontent.com/34742239

[2020-05-06 14:02] shurrey commented on #8219
upvote

[2020-05-06 14:40] trnchawla commented on #8444
Above also does not work and it is not a recent bug, I have seen so many issues reported by many people earlier. Where I have abused anyone, am talking about product.

[2020-05-06 15:08] arlemi commented on #8442
@b-wils You can find our SDK docs online, admittedly they are not the easiest to find but they are there. 😅

If you go to the [RequestBody page](https://www.postmanlabs.com/postman-collection/RequestBody.html) and scroll down to `urlencode`, you'll see that it returns a [PropertyList instance](https://www.postmanlabs.com/postman-collection/PropertyList.html).

You can use `has()` to check whether

[2020-05-06 15:08] #8442 closed, assigned to nobody

[2020-05-06 15:39] Elixor commented on #3358
+1 **I would really appreciate to see some way how to comment multiple lines by keyboard shortcut.**

[2020-05-06 16:14] Michael-LiK commented on #4064
i meet the same problem ,i use the postman to upload file with aws s3. I will get a empty file when i  put file without use content-length

[2020-05-06 16:51] manualva7 commented on #3827
No regulation here? @ThanhNg 's comment is rude and disrespectful. This is not reddit or youtube. Let's show some respect for each other.

[2020-05-06 16:57] thoughtworks200 commented on #7596
+1

[2020-05-06 17:26] trnchawla commented on #8444
You can create your own issue.

[2020-05-06 19:54] inoas commented on #8400
I have been hit by this this week after I downgraded a while ago and my subscription ended.

### what happend
- all my shared collections, despite being the only user on the team, got archived
- all the archives had no request data such as body params for post requests (essentially rendering things useless)

### what I did
- I got angry with support as this kind of feels like vendor-lock-in and I

[2020-05-06 20:31] jwbanning commented on #3438
I recently came across > https://github.com/aubm/postmanerator. Hope this helps a couple people.

[2020-05-06 21:35] jlivet commented on #7294
I've had repeated problems with performance in Postman for the past couple of months when trying to change an environment variable. I have about 50 variables and 75 environments.  It is at the point where it is locking up completely the minute I try to change a variable.  I just tried clearing my History but that didn't help.  I was on v7.23.0.

I love the app but it is unusable at this point beca

[2020-05-06 22:33] desrod commented on #2801
Neat concept, but unfortunately lacks a lot of what would be needed, such as sending values in the body of the POST, in urlencoded format (similar to how Postman does it). Also doesn't seem to support importing Postman profiles or collections, though it claims to succeed importing them.

I'd love to see both of these projects move ahead, protoman with some support for the missing pieces that Postm

[2020-05-07 01:28] RedsGT commented on #8319
Same thing. MS AAD Implicit auth:

![image](https://user-images.githubusercontent.com/1190796/81244476-2c782280-8fd8-11ea-9fab-3d2d2affd69d.png)

[2020-05-07 03:00] rhaseven7h commented on #7700
At least on 7.23.0 linux Ubuntu, it doesn't work today May 6th, 2020.

[2020-05-07 03:05] forresthopkinsa commented on #5903
I've been using it in double pane mode, which is an improvement in that it's *usable*, but I'd prefer to use it in standard mode.

[2020-05-07 03:55] diegoyosiura commented on #3706
+1

[2020-05-07 05:23] poutler commented on #4946
This issue is 2 years old...  is it still going to be done at some point?

[2020-05-07 05:44] Agastyabisht123 opened #8446 "I need a solution on accessing the filename from postman runner in pre-req."
How can I set the file name as environment variable which I have selected in Runner?
Is their any way I can print the file name which I have selected in runner?

[2020-05-07 10:41] cyrielle-hada opened #8447 "Prompt last user of a team upon downgrading to leave and delete team to avoid archiving"
**Is your feature request related to a problem? Please describe.**
Here is the use case:

- User 1 and User 2 are collaborating under a paid Postman plan for a project.
- The project stops, they do no longer need to collaborate within a Postman team.
- User 2 leaves the team, and User 1 is the last member of the paid team.
- User 1 decides to downgrade the plan that is no longer needed.
- User 1 d

[2020-05-07 10:54] jez9999 opened #8448 "Generate Collection from API gives me a blank bearer token"
I create an API in the API tab, copy/paste my Swagger JSON into the Define box, save it, and click Generate Collection to generate a collection for this API.

My Swagger (OpenAPI 3.0) schema defines security for the API operations thus:

[code]

When I generate the collection, this request is generated in the collection, and its Authorization tab has type set to Bearer Token.  The trouble is, the

[2020-05-07 11:55] sattes-faction commented on #4090
I'm also having this issue. The sync spinner is rotating forever. Already signed out and in again and restartet the system. Had no effect - and the syncing slows the app down so it's completely unusable.

[2020-05-07 12:57] Raja-Simha commented on #7301
Hi @soulstyle we have this on our short term road map and will be working on this soon.

[2020-05-07 13:55] arlemi commented on #8440
@ManiacDC Which collection format are you using? Collection v2 and v2.1 formats do not contain request IDs. (read more about [the differences between v1 and v2 here](https://blog.postman.com/travelogue-of-postman-collection-format-v2/)).
If you are exporting your collections in the v1 format I would recommend that you switch to v2.1.

If you are in v2 or v2.1 then you may be talking about pre-requ

[2020-05-07 13:55] #8440 closed, assigned to nobody

[2020-05-07 14:11] ManiacDC commented on #8440
Hi @arlemi , we are using v2.1. Sorry, I'm referring to pre-request and test ID's then.

It looks like there's no real solution until 2906, but I'll see if that postman-cli will do anything for us. Thank you.

[2020-05-07 14:59] arlemi commented on #8440
@ManiacDC Based on your team size/number of requests you're working with you may want to have a look at [collaborating directly in Postman](https://learning.postman.com/docs/postman/collaboration/collaboration-intro/) which gives you version control directly in the app instead of going through git.

[2020-05-07 15:00] emmanuel-galindo commented on #7867
I think this is the best described issue about the duplicated tab behavior. My personal expectation could be based on my common usage of duplicate tab options at chrome.
However, I can adapt.. but what it confuse me is for whichever way to duplicate an unsaved request, when you update the host of the request, the tab title doesn't change. And I normally use unsaved when exploring, so I have severa

[2020-05-07 15:38] ManiacDC commented on #8440
Thanks, I'm aware of that, but it's not an option for our workflow.

[2020-05-07 16:37] bkmdev commented on #8135
✅ After leaving it open for a few days & interacting it with periodically, I can confirm the issue appears to be fixed now in canary build `Version 7.24.0-canary03` 👍 Do you know when this canary build will be released into the main release channel?

PS:  Just out of curiosity, what was the cause? and what commit fixed this?  🤔

[2020-05-07 16:54] sshanzel commented on #7777
This happens to me as well. I've followed the accepted answer on this [StackOverflow Question](https://stackoverflow.com/questions/59250716/identity-server-4-with-the-docker-compose-redirects-to-login-page-after-connect) and it worked!

**Note:** I am using .Net Core 3.1 and still I've placed `None` at `SameSite` options in order for it to work.  `Unspecified` value doesn't work on my case.

[2020-05-07 17:41] menglingxuan commented on #7686
thx. for you work

[2020-05-07 17:42] #7686 closed, assigned to vikiCoder

[2020-05-07 18:50] LeaderXFX commented on #6242
+1 for http/2

[2020-05-07 19:27] iamdavid2 commented on #6351
+++1

[2020-05-08 03:09] rns4731 commented on #7700
Still not working with the latest postman.

[2020-05-08 04:20] conradpronto commented on #1070
@Raja-Simha @Cazaimi hi guys, please provide us an update

[2020-05-08 05:40] ankit-m commented on #8445
Hi @Etnic,

Thank you for creating this ticket. We will increase the limit for the number of reviewers very soon. I will update the thread once the change is out on production.

[2020-05-08 05:53] ankit-m commented on #8420
Hi @iepoch,

Sorry for the late response. I have a few questions about the issue you described. When you say "use the same mock server for both fork and original collection", do you mean use the same _environment_ (as you have highlighted in the screenshot)?

When you create a _fork_ of a collection, a new copy of the collection is created from that point. This has no relationships like the origin

[2020-05-08 05:54] bagrip opened #8449 "pm.expect not working when there are - in attribute name"
pm. expect doesnt recognize attribute name if it contains dash like **foo-bar**, error bar is undefined.

pm.expect(category[0].expression.foo-**bar**-expression)

ReferenceError: **bar** is not defined

[2020-05-08 07:23] DannyDainton commented on #8449
Hey @bagrip,

You would need to use bracket notation and wrap the key in quotes, to reference properties with names like that one:

`pm.expect(category[0].expression.['foo-bar-expression' ])`

These types of questions might be better answered over on out community site. 😁

https://community.postman.com/

[2020-05-08 09:43] Agastyabisht123 opened #8450 "To be able to access the data filename in pre-request script or test script."
I was trying set the data filename as a environment variable which I selected in collection runner. I checked the possibilities in pm.iterationData object but I do not see any option. Is it possible to access the data file name? If not then, can it be added as a new feature?

[2020-05-08 11:18] Cazaimi commented on #1070
@conradpronto , apologies for the late response. To answer your question: Yes, the timeline around this issue has **not changed**. We intend to release a fix for this between this month and mid-June.

@namgivu, we've triaged this issue to the 'Next' section of our product board, which, as stated, means that we'll be picking this up shortly.

[2020-05-08 11:30] efrenette11 opened #8451 ""Clear all" history does not works weel"
**Describe the bug**
When I want to delete my history, here's what I see forever. I must cancel it because it is never ending

![image](https://user-images.githubusercontent.com/30326999/81401535-832b4c80-90fd-11ea-92fd-dbdfb0a2663c.png)

**To Reproduce**
Steps to reproduce the behavior:
1. Have some history
2. try to clear them all

**App information (please complete the following information):**

[2020-05-08 12:13] amin1998sh commented on #6253
it worked for me with adding a /!! tnx

[2020-05-08 12:29] cyrielle-hada commented on #8284
@dreamiurg according to the official documentation of the Github API, [requests that return multiple items will be paginated to 30 items by default](https://developer.github.com/v3/#pagination). This means that whenever there are more than 30 branches in a repository, all the branches will not be listed due to pagination in Github API.

We are working on implementing a fix for increasing the numbe

[2020-05-08 14:03] ks1977 commented on #8259
Still not planned?  And also: when will it be possible to choose a different installation directory?  We really need this!