[2020-06-23 04:31] sankalp0o commented on #8680
Thanks for the feedback @MasterGroosha! Can you help me understand what you want to do with the API?

[2020-06-23 05:22] avani-n commented on #8676
Hey @markbullock-mbo

There could be a few reasons why this happens. We are looking into improving the error state here. However to help us identify the root cause, could you please write to us at help@getpostman.com with information about collection id?

[2020-06-23 05:24] awebdeveloper commented on #6935
where you able to resolve this

[2020-06-23 05:29] vikiCoder commented on #2302
We've added RSA signature methods in Postman 7.27, please update or download the latest version of the app to check it out. 🙂

[2020-06-23 05:29] #2302 closed, assigned to vkaegis

[2020-06-23 08:36] mikezang opened #8700 "Exception Report: Could not write content: JsonObject"
**Describe the bug**
When I response Microsoft Graph API result as below:
..
IEventCollectionPage eventPage = graphClient.users(email).events().buildRequest(requestOptions).select("subject,body,bodyPreview,organizer,attendees,start,end,location").get();
List<Event> eventList = eventPage.getCurrentPage(); .
return eventList;
...
I got error message:
HTTPステータス 500 - Internal Server Error
Type Except

[2020-06-23 08:47] aevtyushin opened #8701 "Error: BAD_PKCS12_DATA"
After upgrading to the latest version (7.26.1) .pfx certificates stopped working for me. I keep getting Error: BAD_PKCS12_DATA error, although everything worked fine before the update.

![image](https://user-images.githubusercontent.com/35372328/85381329-88761680-b546-11ea-88d0-62cdf319be1b.png)
![image](https://user-images.githubusercontent.com/35372328/85382015-371a5700-b547-11ea-90ec-0edb302fac

[2020-06-23 09:03] numaanashraf commented on #8701
@aevtyushin Would it be possible to share the `cert.pfx` file with us via email (help@postman.com)? It'll help us take a deeper look at the certificate and understand why its failing in v7.26.1 and provide a faster resolution to this issue.

[2020-06-23 09:24] CowChris commented on #4075
+1

I don't want to maintain a postman collection and a swagger config in order to achieve good house keeping.

[2020-06-23 09:24] arlemi commented on #6935
@awebdeveloper If you're facing the same issue please open a new issue or reach out directly to the support team on help@postman.com. 🙂

[2020-06-23 09:25] MasterGroosha commented on #8680
@sankalp0o Sure! I'm developing some small applications (mostly for my own needs) which use JSON-RPC, and as a part of learning and making my life better, I'd like to have my own API as documented and tested as possible. Postman allows me to create separate API methods and test them (at least, manually), but I cannot create a complete schema to publish it somewhere or to keep all things in one pla

[2020-06-23 09:30] arlemi commented on #8698
Could you send an email to our support team on help@postman.com indicating the email address used for the Postman account? They'll be able to help. 🙂

[2020-06-23 09:38] arlemi commented on #4075
@CowChris As of Postman 7.25 you can use `tags` to organise your collections when importing an OpenAPI spec:

![import using tags for folders](https://aws1.discourse-cdn.com/business6/uploads/getpostman/original/2X/9/96b35b184c46985cd0b9a341db3b14a82ae83be9.gif)

Is that what you're looking for?

[2020-06-23 09:44] priyanshujain opened #8702 "filter in the left panel does not filter URLs in the collections"
**Describe the bug**
After installing new updates filter in the left panel does not filter URLs in the collections. It used to filter URLs in the collection, now it only filters by name of the request.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to any collection
2. click on top filter and search a request by URL
3. No result for URL search

**Expected behavior**
It will filter all re

[2020-06-23 09:46] mohitranka commented on #8543
Hi @markmcgookin , If it is not too much trouble, can you please upgrade to the latest stable version of the application and confirm if the issue still exists?

[2020-06-23 09:48] arlemi commented on #6722
@gustavovendramini Thanks for the feedback! We're tracking what you've mentioned and are hoping to release it in the next version of the app. 🙂

[2020-06-23 09:54] CowChris commented on #4075
🤯  appears I was living in the past on version 6. Upgraded to 7, thanks!

[2020-06-23 10:02] arlemi commented on #4075
@CowChris You're in for a treat if you're just moving now from v6 to v7, a lot has happened since! I'll close this issue for now, feel free to open a new issue here or [on the community forum](https://community.postman.com/) if you have more questions. 😄

[2020-06-23 10:02] #4075 closed, assigned to vkaegis

[2020-06-23 10:41] vvs11 commented on #8689
@dmytro-me @syedhasanabbaszaidi I agree with you that it makes sense to notify to the user somehow that the change has happened. I am marking it as a feature request for out tracking.

[2020-06-23 10:42] vvs11 commented on #8696
@akashDash458 Thanks for letting us know.

[2020-06-23 10:46] vvs11 commented on #8699
@MinaAndLuoXia could you elaborate more on this? What data were you moving and from where to where?

[2020-06-23 11:58] rudolphmatthias opened #8703 "Update/validate collections generated from GraphQL schema"
**Is your feature request related to a problem? Please describe.**
The current workflow for updating a GraphQl API and its collection is very manual:
1. Update a graphql API in postman
2. Delete old collection
3. Generate new collection
4. Set graphql variables for every request
5. Set environment variables
6. Publish collection

**Describe the solution you'd like**
Improved Workflow for updating

[2020-06-23 12:02] gregaou commented on #7072
That would be really good :+1:

[2020-06-23 13:55] entimaniac commented on #2906
We use postman for integration tests in our staging environment and we keep the collection.json file in our git repo along with our code. Our CICD processes include running a postman collection from jenkins.
Multiple developers constantly adding new functionality or updating old ones or fixing bugs, we need to have a lot of tests. We need to be able to review these tests before approving Pull Requ

[2020-06-23 14:22] prashantagarwal commented on #8115
This is now available in Postman app v7.27

[2020-06-23 14:22] #8115 closed, assigned to prashantagarwal, anudeepmedicharla

[2020-06-23 14:28] Ashwin-Gangadharan opened #8704 "Collection disappears when uploaded using the "Run in Postman" feature."
**Describe the bug**
Collection disappears when uploaded using the "Run in Postman" feature.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the website from which the collection is to be imported
2. Click on "Run in Postman" CTA (It uploads Collection with Environment)
3. Open postman to see the desired collection to be uploaded
Observe that after 10-15 sec the collection uploaded dis

[2020-06-23 14:35] ingenuity2k commented on #8612
Google led me here, although my err message was slightly different.

`Error: write EPROTO 140421695491864:error:100000f7:SSL routines:OPENSSL_internal:WRONG_VERSION_NUMBER:../../third_party/boringssl/src/ssl/tls_record.cc:242:`

The issue was that I was trying to POST to https, when that api actually only supports http.
Just leaving this as a note for other folks who might run into the same issue.

[2020-06-23 14:59] nurgasemetey commented on #4009
+1

[2020-06-23 15:40] tygore587 commented on #8685
Issue was on my side because of error on webpage

[2020-06-23 15:40] #8685 closed, assigned to nobody

[2020-06-23 16:25] cyrielle-hada commented on #8704
@Ashwin-Gangadharan thanks for flagging this and sorry you’re seeing issues when importing collections. Engineering is currently investigating and working towards a solution and we hope to have a fix in place soon!

We'll update this issue as soon as updates materialize!

[2020-06-23 17:09] billy93 commented on #6682
Any updates on this?

[2020-06-23 17:51] LogicWrite commented on #3518
i could replicate the original bug

[2020-06-23 18:32] coupa-anya commented on #5170
I had this issue, and in the process of testing why some things worked and others didn't, I found that if I cleared the cookies for my service in my script, any variables set after that point would appear to be set within the script, but would not persist after the script exits.

Repro:
`
pm.cookies.jar().clear(pm.environment.get('my_service_uri'))
pm.environment.set('some_variable', 'a')
console.

[2020-06-23 18:49] mccannt commented on #8576
Closing this due to non-response.
Feel free to re-open if this is still an issue.

[2020-06-23 18:49] #8576 closed, assigned to nobody

[2020-06-23 18:56] Parizat58 commented on #824
What about the API keys and token must be put in the query params? Still confused.

[2020-06-23 19:05] mccannt commented on #8636
@srikanta72 If you could provide more information on this it would be helpful.

[2020-06-23 19:23] vvs11 commented on #8702
@priyanshujain We currently filter only on collection name, request name and folder name. We don't search the URL in the request. I am marking this as a feature request and will plan it in our roadmap. Will keep you posted.

[2020-06-23 19:26] vvs11 commented on #8581
@automagiq could you write to us at help@getpostman.com? We will be able to support you better.

[2020-06-23 19:36] lmsurpre commented on #7612
In my version (7.26) I found this Delete dropdown under the Manage Access Tokens link with options for deleting all tokens or deleting just the expired ones.
![image](https://user-images.githubusercontent.com/5478798/85450826-35f92200-b567-11ea-8936-ff51aa9e950e.png)

I think this issue can be closed.

[2020-06-23 19:46] mohitranka commented on #8402
This issue has been fixed in the latest release, v7.27.0. Please upgrade and let us know if you face any issues.

[2020-06-23 19:46] #8402 closed, assigned to vikiCoder

[2020-06-23 21:30] gthieme commented on #8055
I really miss not having an alias for Ctrl+PageUp and Ctrl+PageDown. Those shortcuts works in so many other apps that I constantly get tripped up when it isn't supported in Postman.

[2020-06-23 21:36] loudsun1997 commented on #5960
Needed. Now

[2020-06-23 23:05] mccannt commented on #8700
@mikezang Can you give us some more information on this issue?
How can we replicate this? What steps are you doing?

[2020-06-24 00:02] hilary commented on #8697
That would be us. 😄 We'd like to be able to upload an updated version of an API via the Postman API and update an existing associated collection.

Thanks so much for your work serving the design-first folks in your community.

[2020-06-24 01:14] mikezang commented on #8700
To replicate this issue, you need to use Microsoft Graph SDK by gradle as below:

     repositories {
        jcenter()
    }
    dependencies {
        compile 'com.microsoft.azure:msal4j:1.6.1'
        compile 'com.microsoft.graph:microsoft-graph:1.8.0'
        compile 'org.slf4j:slf4j-nop:1.8.0-beta4'
    }

Then you need to use https://portal.azure.com/ to register a app to get tenant id, clie

[2020-06-24 02:16] xk0der commented on #8700
Hey @mikezang pardon me, but I was unable to understand the issue with respect to the use of Postman.

- Are you facing issues with any code generated via Postman?
- Is the API endpoint failing in Postman but working otherwise (say via the Browser or cURL)?

If you have screenshots or a video recording showing where in Postman things are failing, that would be useful!

[2020-06-24 03:25] mikezang commented on #8700
@xk0der I use postman to request my API that use Microsfot Graph SDK API, the REST API will return `List<com.microsoft.graph.models.extensions.Event>`,
this Event class has 'rawObject' item that can't be convert to JSON format, you can refer this error message

com.fasterxml.jackson.databind.JsonMappingException: JsonObject (through reference chain: com.microsoft.graph.models.extensions.Event["raw

[2020-06-24 03:40] mikezang commented on #8700
@xk0der `com.microsoft.graph.models.extensions.Event.rawObject` is `com.google.gson.JsonObject`, but postman used `com.fasterxml.jackson.databind.ObjectWriter.writeValue` to parse and convert it, I think this is reason for this issue.

[2020-06-24 04:04] kikyou93 commented on #2096
+1 for this feature

[2020-06-24 04:17] xk0der commented on #8700
Hey @mikezang appreciate you providing more information. It's useful.

**From what I see the issue is with the code you have and not with Postman.**
[HTTP 500](https://developer.mozilla.org/en-US/docs/Web/HTTP/Status/500) indicates Internal Server Error.

Postman app (or for that matter any API Client, or even a browser) do not know which language interfaces and classes you are using at the server

[2020-06-24 06:30] #8674 closed, assigned to umeshp7

[2020-06-24 06:57] raghavendar-ts opened #8705 "Unable to declare and use the field "data" in Pre-request Script"
I am unable to declare and use the field "data" in Pre-request Script and I get the following error when I use it.

**Error:**
There was an error in evaluating the Pre-request Script:  SyntaxError: Identifier 'data' has already been declared

Steps to reproduce the behavior:
1. Create any new request
2. In Pre-request Script add the following code
let data = "";
3. Click Send to get the error

It

[2020-06-24 07:00] vivekpatel111 opened #8706 "Postman window is flickering 💃🕺"
**Describe the bug**
When using postman and upon clicking on Send request button, then Postman window is flickering as shown in below screenshot.

![postman_dancing_bug](https://user-images.githubusercontent.com/8190653/85510838-90e95280-b615-11ea-80a3-8e6df5b0a6b6.gif)
![postman_dancing_bug_2](https://user-images.githubusercontent.com/8190653/85511577-664bc980-b616-11ea-87db-bfdd26aea1dd.gif)

**

[2020-06-24 07:49] vinitshahdeo commented on #8690
Hello @jaytekwani, @Cryssa10 👋

Could you send us the following details in order to help us debug this issue better?

**1.** Do you have [Interceptor](https://chrome.google.com/webstore/detail/postman-interceptor/aicmkgpgakddgnaphhhpliifpcfhicfo) Browser extension installed?

**2.** **If yes for 1**, please go to `%USERPROFILE%/.postman/InterceptorBridge/` location and zip the `logs` folder.

**3.

[2020-06-24 09:22] cyrielle-hada commented on #8704
@Ashwin-Gangadharan I wanted to check-in with you and see if you're still experiencing the behavior and if so, would you also be able to send over a .zip file of your app logs? To find them, please navigate to View > Developer > View Logs in Finder/Explorer.
<img width="1461" alt="Screenshot 2020-06-24 at 10 21 52" src="https://user-images.githubusercontent.com/47351631/85529025-8d999b00-b604-11ea

[2020-06-24 10:11] cyrielle-hada commented on #8683
@bibAtWork I wanted to check-in with you and see if you're still experiencing the behavior and if so, would you also be able to raise a support ticket and send your logs as well as a screen record that shows how to replicate the behavior? To find the logs, please navigate to View > Developer > View Logs in Finder/Explorer.

Screenshot 2020-06-24 at 10 21 52

[2020-06-24 10:13] cyrielle-hada commented on #8662
@avinashgupta-gep @minakshi-goel  I wanted to check-in with you and see if you're still experiencing the behavior and if so, would you also be able to [raise a support ticket ](https://go.pstmn.io/help-center-signin-newrequest)and send your logs as well as a screen record that shows how to replicate the behavior? To find the logs, please navigate to View > Developer > View Logs in Finder/Explorer.

[2020-06-24 10:40] BlackHades commented on #3358
+1

[2020-06-24 11:14] DLTKMonBlaza opened #8707 "Optional Query Parameters are not being displayed in the docs"
**Describe the bug**
When adding optional query parameters (unchecked) from a list of query parameters, the unchecked (optional) query parameter only appears in the View in Web view but not in the published API documentation.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to an existing endpoint.
2. Add optional and required query parameters.
3. Uncheck the box for the optional query par

[2020-06-24 11:32] sankalp0o commented on #8665
@arpanbag001 I agree you should be able to delete any user information. For now, you can delete the workspace to delete this data. If we are to allow clearing activity, we'd think about how this affects the integrity of the workspace in collaborative settings. We'd definitely want to think more about this as well as have more people weigh-in here.

[2020-06-24 12:01] arpanbag001 commented on #8665
Thanks.
Just a suggestion, if you want to show users some activity is deleted, you can show a "Activity deleted", maybe even "Activity deleted by user xxxx", like WhatsApp shows for deleted messages.
Anyway, looking forward to it.

[2020-06-24 12:14] priyanshujain commented on #8702
@vvs11  Thanks for the response. I think I used to filter collection requests by URL in the earlier version.

[2020-06-24 12:20] asnaebaem commented on #8493
Yeah it's fixed but after update another thing is broken down
When i set environment variable for ex. pm.environment.set("myVar", "myString"), it's resolving in request body JSON without quotes:
{
   "Var": {{myVar}}
}
is resolving to:
{
   "Var": myString
}
Which is obviously wrong. String variables should be resolved with quotes in JSON bodies and without them in for example URL path

[2020-06-24 12:50] codenirvana commented on #8493
@asnaebaem That's the expected behavior as it's just string replacement. You have to wrap the variable string in quotes like this:

[code]

[2020-06-24 13:00] DannyDainton commented on #8695
Ah, that's a shame @jackpeeples,

All you able to provide the full config file or something that we can easily reproduce the issue with, I'm having trouble seeing the same thing from my end 🤔

[2020-06-24 13:21] asnaebaem commented on #8493
If i do so, then if i assign to my variable null like this pm.environment.set("myVar", null)
i got
{
    "Var": "null"
}
So when i got values which can be string or null i can't resolve them as "myVar"/null, i have myVar/null or "myVar"/"null" and none of them is ok imo.

[2020-06-24 13:30] codenirvana commented on #8493
So, to handle a situation like this you have to set the variable using:

[code]

[2020-06-24 13:37] jackpeeples commented on #8695
It is occurring with the job step defined exactly as it is in the orb registry (https://circleci.com/orbs/registry/orb/postman/newman), except the orb version is 0.0.2 rather than 1.0.0, as circle ci rejects 1.0.0 as not existing. Also, I changed the job name but I believe that is just a label.

like so

at the top:
version: 2.1
orbs:
  newman: postman/newman@0.0.2

later in the config:
jobs:
  ru

[2020-06-24 13:47] asnaebaem commented on #8493
Ok, so now, what if i have variable i use in both places - JSON body and in another request in collection in URL path - i have to create another variable that stores unquoted value because my url goes like this http://mysite/"myvar".com ?

Also null in variable value now make url www.mysite.com/getSth/{{id}} looks like www.mysite.com/getSth/null
Big thanks for helping anyway :)

[2020-06-24 14:03] codenirvana commented on #8493
@asnaebaem I understand your concern and there are multiple workarounds but there's no better way I can think of.

That's why we've seen a lot of users actually building the request body object within the script itself and store it in a variable (say, `responseBody`) as a JSON string. And, keep the request body as simple as `{{responseBody}}`.

You can also reach out to the wider Postman Community

[2020-06-24 14:09] DannyDainton commented on #8695
We'll get the documentation sorted within the Orb repo, that should be displaying the wrong versions in there :(

I'm still not seeing in failing to pick up the local files like you originally mentioned. I'm using a basic example here but it's picking up the files from that file path in my GH repo:

[code]

I did see the error message you mentioned during the `checkout` phase but that didn't impac

[2020-06-24 14:13] asnaebaem commented on #8493
Or just stay with 7.26 when only problem was null thats resolving wrongly ;)

[2020-06-24 14:27] DannyDainton commented on #8691
Hey @mani0588,

Did the zooming out action mentioned by @sujayvenaik help here?

Would be great to get to the bottom of this and push things forward if we need too.

[2020-06-24 14:28] jackpeeples commented on #8695
I am still failing on the checkout step, unfortunately, with that same config. Here is a screenshot.

![Screen Shot 2020-06-24 at 10 25 59 AM](https://user-images.githubusercontent.com/67278650/85575187-5aa3d700-b605-11ea-96f3-7e66823ad1d7.png)

Our repo is hosted on bitbucket. Is it possible that that is the difference in our systems?

[2020-06-24 14:31] mani0588 commented on #8691
Hi, thanks for getting back to me so quickly.

Will check and update you tomorrow.

/Mani

On Wed, 24 Jun 2020, 7:57 pm Danny Dainton, <notifications@github.com>
wrote:

[2020-06-24 14:52] DannyDainton commented on #8695
I just tried the same thing with bitbucket and it also worked for me too. 🤔

Is this trying to checkout / read files from a private repo?  Or is there a firewall involved here?

[2020-06-24 14:57] jackpeeples commented on #8695
It is a private repo, at least to my company. But checkout steps work for other integrations like slack, so I believe circleci should have permissions.

[2020-06-24 15:00] archana781 opened #8708 "Postman collection Runner - getting error data unavailable in response body only for last iteration from csv , other rows from csv runs properly"
**Describe the bug**
Getting error "data unavailable (only data about the top 10 historical runs is stored) in postman request body.
This error I get only for last iteration

**To Reproduce**
Steps to reproduce the behavior:
1) Created Data Driven with Postman using CSV
2) Runner all request with multiple set of data
**Expected behavior**
It should not give error for last iteration.

Note : if I d

[2020-06-24 15:05] mindstep commented on #8701
Same for me, PFX client certificate, "BAD_PKCS12_DATA".

- Postman Version 7.27.0
- OS: macOS Mojave 10.14.6

[2020-06-24 15:28] Ashwin-Gangadharan commented on #8704
I have a raised a ticket - https://support.getpostman.com/hc/en-us/requests/53047

[2020-06-24 16:15] yosadchyi commented on #3563
+1, it seems to be blocker for using postman as main API testing tool

[2020-06-24 16:17] melissapalmer commented on #2906
This is still the same problem on `Version 7.27.0` and causing us much pain.
To the point where we may not even use postman anymore as its introducing duplication of work and so on.

[2020-06-24 16:28] DannyDainton commented on #8706
Hey @vivekpatel111,

I'm finding it difficult to reproduce the issue you're currently seeing, are you able to update the version that you're running and see if the problem is still persisting?

[2020-06-24 16:34] DannyDainton commented on #8708
Hey @archana781,

Would you be able to provide some additional environment and Postman version information, please?

That request looks like it's returning a 500 error, can you confirm that the individual request to that endpoint using the same data is working?

[2020-06-24 18:17] vivekpatel111 commented on #8706
@DannyDainton I'm already on the latest version I guess.

[2020-06-24 18:20] DannyDainton commented on #8706
There's a feature that's been added to the latest version around additional network information that I would expect to see in that view so you might not be 😉

Have you tried using our Canary build in parallel to see if the issue is seen in there?

It's difficult to advise either way if we are unable to produce the issue consistently. 😔

[2020-06-24 19:16] roamin-ronin commented on #8612
Issue is the same for me.

[2020-06-24 19:46] awritchie opened #8709 "Null environment variable being inserted as the string "null" in a raw JSON post body"
**Describe the bug**
When an environment variable is null and used in a raw JSON request body like so:
`{
    "variableName": "{{some_variable}}"
}`
, the body is resolved to
`{
    "variableName": "null"
}`

This is a new issue but I do not know when it started.  Newman resolves it like so:
`{
    "variableName": ""
}`

**To Reproduce**
1. set an environment variable `pm.environment.set("some_var

[2020-06-24 19:50] awritchie commented on #8493
I created an issue around the "{{null}" -> "null" thing: https://github.com/postmanlabs/postman-app-support/issues/8709

[2020-06-24 19:55] codenirvana commented on #8709
@awritchie This looks like a side-effect of #8493
Previously, `null` is replaced as empty string but since Postman app v7.27, it's replaced as `"null"` that's because `null` is a valid data-type whose `String(null)` representation is `"null"`.

I will suggest using `pm.environment.set("some_variable", undefined)` to replace as empty string.

[2020-06-24 20:00] aevtyushin commented on #8701
i sent cert.pfx to help@postman.com

[2020-06-24 20:47] fkennedy commented on #8656
I'm also getting this error. Using the manual workaround above did not work.

[2020-06-24 20:53] lehman commented on #3274
+1

[2020-06-24 22:39] mccannt commented on #8705
@raghavendar-ts This is correct. `data` is a reserved variable in Postman as it's used to access the data variables.
We are looking at ways to improve this going forward.

[2020-06-24 22:39] #8705 closed, assigned to nobody

[2020-06-24 22:50] xk0der commented on #8700
Since this is a Spring Boot issue, and not related to Postman, closing this ticket.

[2020-06-24 22:50] #8700 closed, assigned to xk0der

[2020-06-24 23:10] TGSurf commented on #8604
Hi Harry, I appreciate your help, and apologize for the delayed response to your initial questions.  I had removed it, tried re-downloading and re-installing, but it was still having the same issue.  This is a corporate laptop, so we were finally able to get the newest OS, Catalina.  I thought maybe there was something going on with the High Sierra version but unfortunately it's crashing on me whe

[2020-06-25 00:16] henry-arroyo commented on #8690
Hi @vinitshahdeo,

I am experiencing the same issue as the folks above on Windows Server 2012 R2:

Problem signature:
  Problem Event Name:	APPCRASH
  Application Name:	Postman.exe
  Application Version:	7.27.0.0
  Application Timestamp:	5edb407a
  Fault Module Name:	ntdll.dll
  Fault Module Version:	6.3.9600.19678
  Fault Module Timestamp:	5e82c88a
  Exception Code:	c0000005
  Exception Offset:	0

[2020-06-25 02:56] burketyler commented on #6682
+1

[2020-06-25 03:54] moto83 commented on #886
This is working for me just fine:
pm.environment.set('unitsName', pm.variables.replaceIn('{{$randomFirstName}}'));

[2020-06-25 04:09] ankit-m commented on #8704
@Ashwin-Gangadharan we have pushed out a fix for the same. If the issue is still not fixed for you, please reopen this issue.

[2020-06-25 04:09] #8704 closed, assigned to kartikjain26, cyrielle-hada

[2020-06-25 04:16] ankit-m commented on #8662
We have pushed out a fix for this. Please reopen the issue if this is still happening for you.

[2020-06-25 04:16] #8662 closed, assigned to abhijitkane

[2020-06-25 04:17] ankit-m commented on #8683
We have pushed out a fix for this. Please reopen the issue if this is still happening for you.

[2020-06-25 04:17] #8683 closed, assigned to Raj-postman

[2020-06-25 06:18] vinitshahdeo commented on #8690
Hey @henry-arroyo,

Thanks for reporting this. Could you send us the app logs in order to help us debug this issue further? Please send all the logs located in this directory to help@postman.com with the subject as `Logs for GitHub issue #8690`.

[2020-06-25 07:01] mr-agrwal commented on #6682
+1

[2020-06-25 08:39] WaleedAlrashed commented on #5960
Considering that Flutter now supports IOS/Android + Web (beta) and Desktop Platforms in the future. this added feature would be very helpful to a lot of developers.

[2020-06-25 08:53] DannyDainton commented on #8708
Are you able to update to the latest Postman Version?

Could you provide more details about the data file used and how you're referencing this in the request?

The status code displayed points more towards an issue from the server rather than something within the Postman application.

[2020-06-25 09:12] archana781 commented on #8708
No, I am not able to update it as I am working on Virtual Machine.
I am using CSV file & Setting global variable from Manage Environment.

[2020-06-25 09:13] frankoid commented on #2906
This is such a problem for us that we've downgraded to version 7.22.1 (from https://dl.pstmn.io/download/version/7.22.1/osx64) and prevented auto updates by adding the following to /etc/hosts:
[code]

[2020-06-25 09:28] juanjozorry commented on #3789
Please this is a feature we currently need. We can not stop using the Chrome app until the Smart Card feature is implemented in the desktop application.

[2020-06-25 11:31] YitziG commented on #2847
Glad I came across this page. I assumed I was missing something.

[2020-06-25 12:17] arlemi commented on #7612
Good catch @lmsurpre , we've released that feature in 7.26 but forgot to close this one!

[2020-06-25 12:17] #7612 closed, assigned to codenirvana, vikiCoder

[2020-06-25 12:24] artsiompeshko commented on #8612
+1

[2020-06-25 12:43] thiagoeh commented on #8656
Same error, same API endpoint. Was able to solve using the workaround.
My computer runs Windows.

Instead of setting the variable temporarily, I used:
`SETX NODE_OPTIONS "--max-http-header-size=16384"`
at the Command Prompt

@fkennedy

[2020-06-25 13:58] bitcoder commented on #8593
this is really frustrating and makes using the product almost impossible. How can't this be prioritized over new features?

[2020-06-25 14:07] postman-evaluations commented on #8593
@dzykovic @bitcoder We have identified couple of issues with the modal and are working on fixing them. They will be out on production app next month. I will triage this specific issue and post an update.

[2020-06-25 14:09] kartikjain26 commented on #8593
@dzykovic @bitcoder We have identified couple of issues with the modal and are working on fixing them. They will be out on production app next month. I will triage this specific issue and post an update.

[2020-06-25 14:18] birnbuazn commented on #8692
Having the same issue since updating. My endpoint is internal, but if it is of any help: this endpoint requires a (self-signed) client-certificate

[2020-06-25 14:27] ccstorm-nl commented on #8612
Issue persists with version 7.27 (just upgraded and tested)
Scenario at hand: locally run Azure Functions call

[2020-06-25 14:38] awritchie commented on #8709
That doesn't actually solve the problem, as doing a
`pm.environment.set("some_variable", undefined)" in the prerequest script tab still results in
`"{{some_variable}}"` in the raw JSON body tab resolving to `"null"`

[2020-06-25 15:04] fsimone commented on #2701
any news ?

[2020-06-25 15:11] iepoch commented on #8420
Question has anyone looked into this issue? I noticed the last time I commented on this was over a month ago but I have not heard of anything recently. Please update when you can. Thank you!

[2020-06-25 15:48] veaceslav3 commented on #4009
Check out [https://gosandy.io/](https://gosandy.io/)
- Connect to any WebSocket, RSocket server
- Save request messages for later re-use
- Share configuration with your mates

![image](https://user-images.githubusercontent.com/64411284/85752706-4f8b9c80-b714-11ea-9600-9167e35edddb.png)

[2020-06-25 15:59] gagantk commented on #8630
@Amandeepsinghghai Your issue is different than mine. Yours is popup not opening, but with mine it's fine. The issue is selected file is not showing up in Postman.

Today I upgraded to version 7.27.0, still this issue exists with my Postman.

[2020-06-25 16:10] kamalaknn commented on #8136
All links are modified now so they have a single redirect.

[2020-06-25 16:10] #8136 closed, assigned to numaanashraf

[2020-06-25 16:11] DannyDainton commented on #8708
Unfortunately, without those specific details that would allow us to reproduce the issue on our side, it's going to be difficult to take this any further.

Once you're able to upgrade to the latest version and if you're still seeing the problem, we can look to open up this issue again but for now, I'm going to close it.

We have an awesome community of users who might also be able to offer some gu

[2020-06-25 16:11] #8708 closed, assigned to nobody

[2020-06-25 16:31] rgrishanov commented on #7599
This is a very needed feature. Postman is used for tests and development, we need to access our APIs with certificate, but also disabling certificates should be easy in order to test Auth with Bearer token, or even to test open resources with no auth at all.

Maybe: add checkbox to a request "use matching certificate" on/off.

[2020-06-25 16:44] DannyDainton commented on #6272
Closing this issue as it has now been resolved.

Please feel free to reopen with the steps to reproduce if the issue persists.

[2020-06-25 16:44] #6272 closed, assigned to nobody

[2020-06-25 16:50] DannyDainton commented on #6347
Hey @johnendev,

Are you able to confirm that you're still seeing this issue? There have been several changes to the app since the issue was reported.

I'm unable to see the issue using version 7.27.0.

[2020-06-25 17:11] emoseman opened #8710 "Postman 7.27.0 won't start on Mac OS X 10.15.5"
**Describe the bug**
The application doesn't fully start, it hangs on the initial loading window indefinitely.

**To Reproduce**
Steps to reproduce the behavior:
1. Click on Postman.app

**Expected behavior**
The application to start.

**Screenshots**
<img width="402" alt="Screen Shot 2020-06-25 at 1 07 34 PM" src="https://user-images.githubusercontent.com/452524/85766278-e17bb100-b6e4-11ea-8a1e-9

[2020-06-25 19:25] preethammavin commented on #8420
@iepoch Got the workflow, the mock server is usually created on a collection. The environment created along with the. mock usually has the mock URL for that collection. Lets say you have collection C1 and you build a mock server M1 on that collection. Post that if you fork the collection C1 to C1' , the mock M1 will still point to collection C1.

Now I am assuming that you have created the fork to

[2020-06-25 21:02] marcushoja commented on #8701
same for me
- ubuntu 18.04 lts
- postman 7.26.1

works well when reinstalling 7.5
is it possible to disable minor updates?

[2020-06-25 21:13] ayratn commented on #2906
Few months back I've created this bash script which removes all "id" in diff and we use it before committing to repo:
`
#!/bin/bash
export COLLECTION=./src/test/postman/$SERVICE.postman_collection.json
echo "Fixing ids in " $COLLECTION

git diff $COLLECTION | grep -Pzo '\"script\".*\n[-].*\"id\".*\n[+].*\"id\".*' | sed 's/\"script\"\: {//' | sed '/^$/d' | sed 's/[-+].*id\"//; s/[^a-z0-9-]//g' | se

[2020-06-25 22:00] johnendev commented on #6347
@DannyDainton Yes, still seeing the same issue on the latest version:
![image](https://user-images.githubusercontent.com/20271944/85799575-8fde2f80-b793-11ea-8b95-0263f7a9be58.png)

[2020-06-25 22:02] DannyDainton commented on #6347
😔

Are you able to do a screen recording of what you're seeing please?

[2020-06-26 02:34] vanithathadvai opened #8711 "Unable to Manage Roles"
**Describe the bug**
After upgrading to  v7.27.0 I am unable to Manage Roles or Share the newly created collection.
I am an admin and Unable to share the collection manage roles on the collection created by me

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Postman Workspace
2. Click on Create Collection
3. Add few Requests
4. Then Click on manage Roles
5. Error is shown

**Screenshots

[2020-06-26 02:49] yarfik commented on #4009
+1

[2020-06-26 04:01] johnendev commented on #6347
@DannyDainton
![screen](https://user-images.githubusercontent.com/20271944/85818940-21669500-b7c6-11ea-871f-e67c2ee4c12b.gif)

[2020-06-26 05:15] mani0588 commented on #8691
Thanks Danny and Sujay.

This is working for me.. Thanks for your support.

/Manikandan P

On Wed, Jun 24, 2020 at 8:01 PM Manikandan P <mani.alagarece@gmail.com>
wrote:

--
Thanks,
Manikandan P

[2020-06-26 05:55] anudeepmedicharla commented on #7227
@ankit-m What squad should this come under?

[2020-06-26 06:37] eladcandroid commented on #6719
Any news about getting the GraphQL scheme using url endpoint?

[2020-06-26 06:58] Raj-postman commented on #8710
Hi @emoseman - Sorry to hear that. Would you please try renaming (or clearing) the local files for your Postman installation which generally resolves this issue.  You can find full instructions for doing so in the below article.

If the issue persists, please write to us at help@postman.com by providing us the logs [as per this article.](https://support.getpostman.com/hc/en-us/articles/36004776571

[2020-06-26 07:01] Raj-postman commented on #8423
Hi @JerryGoyal - May I know if the Authentication helped you fix this issue here?

[2020-06-26 07:20] martintefger commented on #8701
Same for me, PFX client certificate, "BAD_PKCS12_DATA".

Postman Version 7.27.0
OS: macOS Catalina 10.15.5 (19F101)

[2020-06-26 07:33] andreas-eberle commented on #4446
Any updates on this?

[2020-06-26 08:28] sankalp0o commented on #8711
Hey @vanithathadvai
There could be a few reasons why this happens. We are looking into improving the error state here. However to help us identify the root cause, could you please write to us at help@getpostman.com with information about collection id?

[2020-06-26 08:47] JerryGoyal commented on #8423
hey, sadly, i no longer have access to that project to troubleshoot the problem so closing this issue.

[2020-06-26 08:47] #8423 closed, assigned to vvs11, Raj-postman

[2020-06-26 08:57] kartikjain26 commented on #8711
@vanithathadvai Did you open the share collection/ manage roles modal just after adding the collection or waited for sometime before performing those operations ?
Also, is this problem persisting even now ?

[2020-06-26 09:21] thetreythomas commented on #8612
@numaanashraf and @codenirvana  - As mentioned in #8598, with the comment "I suspect the problem is postman not catering for sha256WithRSAEncryption", below are all the algorithms our API client can use:

ECDHE-ECDSA-AES256-GCM-SHA384:
ECDHE-ECDSA-AES128-GCM-SHA256:
ECDHE-RSA-AES256-GCM-SHA384:
ECDHE-RSA-AES128-GCM-SHA256:
DHE-RSA-AES256-GCM-SHA384:
DHE-RSA-AES128-GCM-SHA256:
DHE-RSA-AES256-SHA:
D

[2020-06-26 09:40] geoffturk opened #8712 "BUG: Postman API endpoint to PUT Update Collection is not working"
**Describe the bug**
The `PUT https://api.getpostman.com/collections/:collectionID` endpoint is not working [as documented](https://documenter.getpostman.com/view/631643/JsLs/?version=latest#aa3701e8-7f99-b421-7d74-0d571b051f3c).

**To Reproduce**
Steps to reproduce the behavior:
1. [Get a single collection](https://documenter.getpostman.com/view/631643/JsLs/?version=latest#647806d5-492a-eded-1df6

[2020-06-26 09:41] WurstCommander commented on #8710
Same with Windows 64 bit, everytime the app upgrades this error appears, very annoying.

[2020-06-26 11:00] Wasya opened #8713 "POSTMAN returns error: BAD_ENCODING"
The postman's request which was workable yesterday now returns this strange not described error:

Could not send request
Error: BAD_ENCODING

Nothing was changed in request and on servers part of code.
Could someone say what is it?
Headers and body does not contains any not latinian chars.

"Accept-Charset" in headers contains "UTF-8"

expected behavior is as usual returning responses codes 2xx -

[2020-06-26 11:07] vanithathadvai commented on #8711
I created a collection..added few sub folders and requests and then I want
to give another user permission to edit that collection. At that time I am
getting errors.

I am admin and I am unable to perform these manage roles on older
collection which I created earlier, This is the new collection which I
created after upgrade

On Fri, Jun 26, 2020 at 4:57 AM Kartik Jain <notifications@github.com>
wr

[2020-06-26 11:17] #8691 closed, assigned to vkaegis, sankalp0o

[2020-06-26 11:22] DannyDainton commented on #6347
@johnendev Thank you for providing the additional context and the video. Appreciated. 👍

[2020-06-26 11:39] JohannesLyytikka commented on #8676
I have the exact same issue.

[2020-06-26 12:43] DannyDainton commented on #6446
Hey @m3dbedb

Is this still an issue that you're facing in the latest native app version?

[2020-06-26 12:46] DannyDainton commented on #6448
Hey @markusthegeek

Is this an issue that you're still facing with the latest native app version?

[2020-06-26 13:07] pribilinskiy commented on #2086
+1

[2020-06-26 14:31] karcpr commented on #6351
+1

[2020-06-26 14:32] shawnwz commented on #4186
I am suffering this with both postman<latest> and postmancanary<latest>.
Request url is
https://rr25iqfk26.execute-api.us-east-1.amazonaws.com/dev/?key=zhe.jpg&oper=get
both GET and POST method
no body for GET request.
It return 403 error code.
{
    "message": "The request signature we calculated does not match the signature you provided. Check your AWS Secret Access Key and signing method. Consu

[2020-06-26 14:43] natepappenhagen commented on #4598
![image](https://user-images.githubusercontent.com/26561931/85868947-3c1a1900-b788-11ea-8695-50db3a9b14f6.png)

Maybe it's a lot to ask to fit *everyone's* needs, but, for me I would like the option to turn all variables into "collection" variables.

When I import from our swagger directly into postman, I have path variables that I want to turn into collection variables.

![image](https://user-ima

[2020-06-26 17:11] tasneem07 commented on #1066
+1

[2020-06-26 17:16] colin-extend commented on #1066
Seems like you're better off manually editing a collection JSON and re-importing.

[2020-06-26 19:13] gsakthinarayanan commented on #6029
Happens to me as well. macOS Catalina v10.15.5. Postman Version 7.27.0
![Screen Shot 2020-06-26 at 3 11 30 PM](https://user-images.githubusercontent.com/60193318/85892697-6509d080-b7bf-11ea-8046-82a4109fd128.png)

[2020-06-26 19:37] vvs11 commented on #8713
@Wasya could you open the console and check out the error there?

[2020-06-26 20:28] motor75 commented on #8709
I am experiencing the same problem - and it is rather annoying and cumbersome to redo all of our tests to attempt to fix or work around this problem.  In our case, we use environment variables to append to the URL to hit different environments.  In our production environment, the added environment to the URL is empty so that there is no appending to the URL.  So, as an example, in our DEV environm

[2020-06-26 20:30] marknotfound commented on #4598
Hi all, I really appreciate the great work on Postman.

Totally agree w/ @natepappenhagen's last comment that having these path variables as collection variables (`{{}}` style syntax) would help immensely. For my team it would help us better automate collection runs and monitoring by setting path variables programatically rather than utilizing a fixed set of data.

[2020-06-26 20:37] motor75 opened #8714 "Certificate URL setting is incorrectly case sensitive"
**Describe the bug**
The URL value used when setting up certificates to be used seems to be case sensitive.

**To Reproduce**
Steps to reproduce the behavior:
1. Set up a certificate to be used for an API endpoint in all lower case `exampledev.company.com` to a URL that requires a certificate
2. Attempt to hit the API with the URL of `exampleDEV.company.com`
3. Error received:
Error: write EPROTO

[2020-06-26 23:16] cognivator commented on #7350
Still an issue (with duplicating Collections) in v7.27.x...
Duplicate to a copy, remove the original collection - they both disappear.
Also, the duplicates cannot be moved to a different workspace.

[2020-06-26 23:36] hajonsoft commented on #3822
+1

[2020-06-27 01:19] ilyaskarim commented on #4009
People are waiting and postmanlabs is ignoring all of them. This is ridiculous.

[2020-06-27 07:56] 090media commented on #493
+1!

[2020-06-27 08:12] RashmithaK opened #8715 "Collection Runner Doesn't Parse Number and Bool Columns in CSV Data Files Correctly"
**Describe the bug**
trying to provide the boolean value from csv file, when we preview the  data in the postman runner its taken as string

**To Reproduce**
Steps to reproduce the behavior:
click on runner
select csv file
click on preview

**Expected behavior**
the value should be boolean

**Screenshots**
If applicable, add screenshots to help explain your problem.

**App information (please comp

[2020-06-27 10:17] DannyDainton commented on #8715
Hey @RashmithaK,

Given this request body:

[code]

Is the request being successfully made with a boolean?

You're only showing the value that you're seeing in the file _Preview_ in your question and I was wondering about the actual request and the response you received.

[2020-06-27 12:21] jizhihaoSAMA opened #8716 "Why do I need to install the Postman interceptor bridge each time after I restart my device?"
**Describe the bug**
I am really hard to understand I need to download the postman Interceptor Bridge each time after I restart my PC.
![image](https://user-images.githubusercontent.com/48234827/85921998-d1b1c780-b8b2-11ea-833d-ae40c446b5fd.png)

And I can also find the Interceptor Bridge in the folder of `%USERPROFILE%/.postman`.
![image](https://user-images.githubusercontent.com/48234827/8592203

[2020-06-27 12:26] DannyDainton commented on #6517
Closing this issue as it has now been resolved.

Please feel free to reopen with the steps to reproduce if the issue persists

[2020-06-27 12:26] #6517 closed, assigned to nobody

[2020-06-27 12:46] jizhihaoSAMA commented on #8716
I failed to delete the existed `InterceptorBridge.exe`,it showed this file has been occupied.
![image](https://user-images.githubusercontent.com/48234827/85922545-c2cd1400-b8b6-11ea-96dd-9d82bc1161c0.png)

I think that's why postman would show that:
![image](https://user-images.githubusercontent.com/48234827/85922595-37a04e00-b8b7-11ea-9adf-744afaba4158.png)

[2020-06-27 16:05] RashmithaK commented on #8715
hey Sorry , got solution

when we are getting details from Excel it boolean value is capital, so wrote the pre script  to convert capital into small

[2020-06-27 16:05] #8715 closed, assigned to nobody

[2020-06-27 16:19] ankit-m commented on #8277
We have pushed out a fix which does not block you in case of sync errors.

[2020-06-27 16:19] #8277 closed, assigned to nobody

[2020-06-27 16:25] ankit-m commented on #8445
We have extended the maximum number of reviewers to 50.

[2020-06-27 16:25] #8445 closed, assigned to ankit-m

[2020-06-27 17:00] vinitshahdeo commented on #8716
Hello @jizhihaoSAMA 👋

`FILE_PERMISSIONS_REQUIRED` error appears when Postman does not have the required permission during installation of Interceptor Bridge.

Few recommended [troubleshooting](https://learning.postman.com/docs/postman/sending-api-requests/interceptor/#troubleshooting-tips) steps:

- Verify that you have **permissions to create** the `%USERPROFILE%\.postman\InterceptorBridge` fold

[2020-06-27 18:14] willsthompson opened #8717 ""Authorize using browser" fails to complete authentication"
**Describe the bug**
I am able to get access tokens from my Auth0 service using the built-in Postman browser. However, using the "authorize using browser" option, authentication fails, despite apparently completing successfully in Auth0. I've added Postman's browser-specific callback URL to the Auth0 config.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Authorization'
1. Click on 'G

[2020-06-28 05:43] ankit-m commented on #7911
We now show a warning when a collection cannot be recovered from trash.

[2020-06-28 05:43] #7911 closed, assigned to vvs11, vkaegis

[2020-06-28 05:44] ankit-m commented on #7951
We have made further improvements in v7.27 and improved syncing performance.

[2020-06-28 08:08] DannyDainton commented on #8228
Closing this issue as it has now been resolved.

Please feel free to reopen with the steps to reproduce if the issue persists.

[2020-06-28 08:08] #8228 closed, assigned to vvs11, vkaegis

[2020-06-28 08:10] AbdelkhalekESI commented on #7666
Same issue with the latest version: 7.27.1

[2020-06-28 09:28] DannyDainton commented on #4719
Hey @chrisron95,

Are you still seeing this issue in the latest version of the native app?

[2020-06-28 09:31] DannyDainton commented on #5747
@abhijitkane Is this something that we can close out now?

[2020-06-28 09:36] DannyDainton commented on #6069
Closing this issue as it has now been resolved.

Please feel free to reopen with the steps to reproduce if the issue persists.

[2020-06-28 09:36] #6069 closed, assigned to nobody

[2020-06-28 09:48] DannyDainton commented on #7998
Closing this issue as it has now been resolved in version: 7.25.0

Please feel free to reopen with the steps to reproduce if the issue persists.

[2020-06-28 09:48] #7998 closed, assigned to vvs11, sankalp0o, jazzyarchitects, dushyantchillale

[2020-06-28 09:50] DannyDainton commented on #6118
Closing this issue as it has now been resolved.

Please feel free to reopen with the steps to reproduce if the issue persists.

[2020-06-28 09:50] #6118 closed, assigned to numaanashraf

[2020-06-28 09:52] DannyDainton commented on #5972
Closing this issue as it has now been resolved.

Please feel free to reopen with the steps to reproduce if the issue persists.

[2020-06-28 09:52] #5972 closed, assigned to nobody

[2020-06-28 10:01] DannyDainton commented on #6374
Hey @JP-from-Postman - Is this still an active issue for the user?

[2020-06-28 11:30] vivekpatel111 commented on #8706
@DannyDainton I've updated version to Version 7.27.0

![image](https://user-images.githubusercontent.com/8190653/85946246-c1582600-b960-11ea-9078-97e5353957b9.png)

I've also seen the same issue on this version too, but I'm not able to regenerate the issue as it's not consistent.

[2020-06-29 01:54] mithucste30 commented on #8717
Yes, I am facing this issue from this morning.

- Postman Version: 7.27.1
- Os Ubuntu Linux[Snap]

[2020-06-29 02:33] topsoft-support commented on #4808
+1
I need encrypt body  too！

[2020-06-29 02:48] chaithanya1996 commented on #6029
Same issue Mac Pro 16

[2020-06-29 05:05] VigneshOK10 commented on #798
any updates on provision for getting local files in tests?

[2020-06-29 05:43] marcolopezpe commented on #4142
Hi, thanks for the tip in windows!
Add info. I modify the file CommonLazyChunk.js line 2155 "var DEFAULT_WINDOWS_FONT_FAMILY = 'JetBrains Mono, \'Courier New\', monospace';" in my case, I put "JetBrain Mono, this for windows.

[2020-06-29 07:19] Wasya commented on #8713
@vvs11 Unfortunately the Log console does not shows any usable info for this case:
![error2](https://user-images.githubusercontent.com/8751799/85984523-9960d500-b9e9-11ea-8bdd-7bc47cae5423.JPG)

[2020-06-29 07:32] DannyDainton commented on #7178
Closing this issue as it has now been resolved.
Please feel free to reopen with the steps to reproduce if the issue persists.

[2020-06-29 07:32] #7178 closed, assigned to abhijitkane

[2020-06-29 07:35] DannyDainton commented on #7182
Hey @chrisdeso - Is this still an issue on the latest version? Would you mind verifying, please?

[2020-06-29 08:13] juanjozorry commented on #3789
Hi again. A teammate is installing a new development machine and the Crome app is not available to install. Please we need smartcard support on the desktop app. Thank you for your support.

[2020-06-29 08:45] shamasis commented on #8365
Hi everyone. We intend to address this and a number of other related items (as outlined in this issue https://github.com/postmanlabs/postman-app-support/issues/2906). I do not have an ETA yet, but I can confirm that this is on our short term roadmap.

[2020-06-29 11:12] DannyDainton commented on #6427
Hey @alexnoise79 / @iseehk

Is this still an issue for you in the latest version?

Would you be able to share the full curl command or post a short video/.gif showing the problem?

[2020-06-29 11:22] DannyDainton commented on #6520
Hey @kamalaknn, Is this something that we can close out now?

[2020-06-29 11:53] michaelsonnleitner commented on #196
any date you can announce for deep links from/to web and postman app?

[2020-06-29 11:54] vhrsh opened #8718 "Backspace deletes an item in the sidebar (collections, folders, requests) and this is not documented and preferable"
**Is your feature request related to a problem? Please describe.**
I created a big collection with all my requisite requests and custom code. When trying to rename the collection (ctrl + e), i pressed backspace with the assumption that the name would be changed. However, it gave a prompt for the collection to be deleted. Due to the speed at which i use, i inadvertently pressed enter and lost it.

[2020-06-29 11:54] EWieman commented on #8401
The View More option is back now so the issue seems to be fixed. Checked in different browsers. I'll close the issue, thanks for fixing!

[2020-06-29 11:54] #8401 closed, assigned to godfrzero, Raja-Simha

[2020-06-29 12:05] DannyDainton commented on #6701
Closing this issue as it has now been resolved.

Please feel free to reopen with the steps to reproduce if the issue persists.

[2020-06-29 12:05] #6701 closed, assigned to abhijitkane

[2020-06-29 13:03] weickmanna opened #8719 "OpenAPI query parameter of type array leads to incorrect warning"
**Describe the bug**
OpenAPI query parameter of type array leads to incorrect warning.

**To Reproduce**
Steps to reproduce the behavior:
1. Specify Open API query parameter of type array
2. Generate Postman Collection from that API
3. Execute the request via Postman, sending the parameter multiple times as in: ?attributes=Name&attributes=Key
4. Schema Validation reports warning: "The query parame

[2020-06-29 13:15] alexnoise79 commented on #6427
Hi, no not anymore

[2020-06-29 13:23] DannyDainton commented on #6427
Closing this issue for now but it can be opened again, if the problem persists for others.

[2020-06-29 13:23] #6427 closed, assigned to nobody

[2020-06-29 14:38] yukselaggoz commented on #6236
Hi, I'm waiting this feature to. it's ridiculous not to be allowed.

[2020-06-29 15:14] garrucho commented on #6520
Just for the record, it was never solved:

![image](https://user-images.githubusercontent.com/7749043/86022167-5e1dd080-ba00-11ea-8f22-acefaf491f7c.png)

For every new Postman window, I change to another workspace (since I can't change the default, which doesn't work). But the problem itself was solved moving my collections, envs, and ignoring the old history to use a new workspace.

[2020-06-29 15:50] stpete111 commented on #6452
This is an incredibly crucial feature for us.  Unauthorized access to our Postman calls could lead to our entire architecture being brought down and disabled.

[2020-06-29 17:02] alexmyles-rp commented on #4033
This is also key for our organisation. Our company subscribes to Postman Pro and we use it heavily for dev and demos, but several of our external services issue multiple certificates to us (eg for different functionality, or to represent different clients for testing). Having to delete and reconfigure the certs every time we want to change them is ridiculous. This is not a complex feature and it's

[2020-06-29 17:54] nbon12 commented on #4919
Still lagging on windows, as high as a 1.5 second delay after typing things for things to appear in the URL bar.

[2020-06-29 18:00] JP-from-Postman commented on #6374
@DannyDainton I haven't seen this pop up again since, I think we're good.

[2020-06-29 18:02] DannyDainton commented on #6374
I'll close this for now but we can always open it up again if more cases come in.

[2020-06-29 18:02] #6374 closed, assigned to ankitjaggi, ankit-m

[2020-06-29 19:17] emoseman commented on #8710
Clearing the support files resolved the issue.

[2020-06-29 19:17] #8710 closed, assigned to nobody

[2020-06-29 20:36] Lacni135 opened #8720 "Path variable created from schema is not replaced with it's value when the request is sent"
**Describe the bug**
Path Variables from a generated collection from an OpenApi 3.0 schema are wrongfully interpreted (The path variable "userId" needs to be of type integer, but we found ":userId") even though the value in the field is ok

**To Reproduce**
Steps to reproduce the behavior:
1. Create an OpenApi 3.0 schema with a path parameter like such:
[code]
2. Generate a collection using the sc

[2020-06-29 20:59] DevLife-Tech opened #8721 "SSL error - SSL routines:OPENSSL_internal:SSLV3_ALERT_BAD_RECORD_MAC"
**Describe the bug**
After Postman upgrade to 7.27.1 unable to make any https request.

Error details:
[code]

**To Reproduce**
1. Set up your cert and keys
2. Make any https request

**Expected behavior**
Https request should work.

**App information (please complete the following information):**
 - App Type - Native App
 - Postman Version - 7.27.1
 - OS: macOS Cataline 10.15.5

**Additional cont

[2020-06-29 23:21] #8666 closed, assigned to nobody

[2020-06-29 23:42] zerocool-kor commented on #4079
+1

[2020-06-30 06:03] Estigy commented on #7221
I'm just now experiencing the very same behaviour.
I have a call to a REST API that always times out after about 20 seconds.
My time out value is set to 0, but increasing it to arbitrary numbers does not have any effect.
I'm running v 7.27.1

[2020-06-30 07:35] Loongle commented on #8648
Sometimes it works, sometimes it doesn't, and when it doesn't, there are no errors

[2020-06-30 07:50] Wasya commented on #8713
Hi all!
I found temporally solution to avid this big problem: Simply instead actual POSTMAN version 7.27.1 i've installed v. 7.22.1 and functionality returned. I think we can state that the problem was came with newest postman's update

[2020-06-30 08:41] Estigy commented on #7221
The problem was solved - partly: The underlying issue was on the network level. My computer with Postman was not allowed to connect to the target server.
I'm now wondering if Postman could report this back to me in a different way that could help me find the problem more easily.

[2020-06-30 08:44] DannyDainton commented on #8718
Hey @vhrsh

I'm unable to reproduce this delete action using a backslash - Are you able to reproduce this every time?

If you could get a recording of this happening it will help out in reproducing this on our side.

Could you also share the environment (App version, OS information) details, please?

[2020-06-30 08:55] Breakingx opened #8722 "Portable Version not working on Citrix | Windows Server 2016"
Hey,
I tried to install the current portable Version of Postman v.7.21.1 and portable 7.26.1-39x64-Bit on a Citrix Server on Windows Server 2016.

Both crashed with the same Error: C000005 ; before anything happens there is the mouse courser with a sandclock next to it and 4 processes of postman.

Here is the main log of C:\Users\user123\AppData\Roaming\Postman\logs)
[code]

[2020-06-30 09:19] arlemi commented on #196
@michaelsonnleitner We're hoping to get this solved this year when Postman will be available on browser.

[2020-06-30 09:23] arlemi commented on #7516
Closing this as a duplicate of #7210 to make it easier to track feature requests.

[2020-06-30 09:23] #7516 closed, assigned to nobody

[2020-06-30 09:24] arlemi commented on #798
This is not something we're working on at the moment, for any updates regarding this please follow #7210.

[2020-06-30 09:46] reloxx13 commented on #4667
still so fucking annoying that the console opens in a new window. on 2 monitors it even opens on the 2nd one

[2020-06-30 09:51] arlemi commented on #4186
@shawnwz I'd recommend reaching out to support on help@postman.com.

[2020-06-30 09:53] coditva commented on #4667
Hey @reloxx13 you're in luck because we just pushed an experimental UI change to [Postman Canary](https://www.postman.com/downloads/canary/) which we hope will help you navigate in between different panes. Please try it out and let us know what you think either here or on [our community forum](https://community.postman.com/t/new-layout-in-postman-canary/13450).

Here's a quick preview:

![84889240

[2020-06-30 10:08] VipSaran opened #8723 "Environment variables don't support callback to initial value"
**Describe the bug**
The `Current Value` tooltip (in Environment settings) says:
![image](https://user-images.githubusercontent.com/995948/86113350-7148a300-bac9-11ea-828d-42e2a2779d82.png)
but that does not work (anymore).

**To Reproduce**
Steps to reproduce the behavior:
Set up an environment with only `Initial value` fields filled in and use those variable(s) in request.

**Expected behavior**

[2020-06-30 10:14] maikezan commented on #1066
Really? I'm really shocked this doesn't exist, i was looking for multiple selection, (1000+ endpoints too here..) thinking i'm to blame for not being able to do this simple task, ended up here...
does it make sense to make a +1 for this feature after 5 years?

[2020-06-30 10:19] kwladyka commented on #3857
I can confirm `postman` still cache IPs. This is the issue to work with VPN, when after connect the DNS lookup should change IP, so tests fail, because of no access.

It can be checked in postman console in `network` part of `request`. The IP is public one instead of what should be after connect to VPN. But if start postman after connect the VPN it works.

So temporary solution is to close postman

[2020-06-30 10:21] slang25 opened #8724 "AWS signature not signing X-Amz-Date header"
When making a call to an API Gateway API with authtype `AWS_IAM`, calls to the API signed by Postman for with a `304` response code, and the following body:
[code]

It looks like the `X-Amz-Date` header is added, but not factored into the canonical representation of the request that is signed. Interestingly, when I look at the hidden headers in Postman I can see that `x-amz-date` is listed in the

[2020-06-30 10:45] mjhcorporate opened #8725 "Generated code for HTTP contains wrong host when url is given by variable"
**Describe the bug**
Let's say, I'm creating a new GET-request in Postman, and I set the request-url to `https://github.com/postmanlabs/postman-app-support/issues`. Then I can click on "Code" and view the corresponding HTTP code:

[code]

However, when I introduce a variable "fullUrlVarariable = https://github.com/postmanlabs/postman-app-support/issues` and set the request-url to `{{fullUrlVariabl

[2020-06-30 10:50] numaanashraf commented on #4849
This issue should be addressed in v7.26.0 and above.

[2020-06-30 10:50] #4849 closed, assigned to nobody

[2020-06-30 10:53] DannyDainton commented on #6761
Hey @ntloi95 / @saurabhChaubey / @vomc

As you are the most recent users to post about this issue, would you be able to confirm if this is still the case, please?

If it's been resolved we can go a close this out.

[2020-06-30 11:04] pankajk07 commented on #3919
Hi all, we have added this feature is available in our [Canary](https://www.postman.com/downloads/canary/) app. Do give it a try and please provide feedback.

P.S. The stable app and canary app can run in parallel

[2020-06-30 13:32] ayeenmkhan commented on #8612
I am getting the same exact problem in my API call..... Didn't under what is the actual problem. Appreciated if Anyone can help

[2020-06-30 14:24] ingenuity2k commented on #8612
Did you read my comment? Have you checked whether your endpoint actually supports SSL calls?

[2020-06-30 15:18] SenthilvelSomasundaram commented on #8607
Same issue. Postamn sync not working consistently. Also Unable to create pull requests. Looks server is down.

[2020-06-30 15:29] mbuk opened #8726 "Collection export dialog opens in the background in macOS"
**Describe the bug**
Exporting a small collection from postman hangs

**To Reproduce**
Steps to reproduce the behavior:
1. Right click on collection
2. Select Export
3. Choose and of the 3 available export formats (they all cause the same error)
4. Click the orange export button
5. Observe the postman native app becomes unresponsive before graying out
6. Several minutes pass the UI returns but not

[2020-06-30 15:31] ayeenmkhan commented on #8612
Yes, I read every single comment. Yes, my endpoint supports the SSL call. But how can verify that? I am facing this issue suddenly from the last two days, before that everything is to work fine.

[2020-06-30 15:34] numaanashraf commented on #8726
@mbuk Seems like the file dialog might be opening behind the main window. Could you trying moving the main window to verify whether this is the case? You can also verify by selecting 'Show All Windows' from the menu that comes up when right-clicking on the Postman icon in the dock.

![Screenshot 2020-06-30 at 9 02 16 PM](https://user-images.githubusercontent.com/3295568/86145857-189ef780-bb15-11ea

[2020-06-30 15:36] mbuk commented on #8726
Good call that’s 100% what’s happening.
Show all windows popped the file selection window to the front.

[2020-06-30 15:41] numaanashraf commented on #8726
@mbuk Glad that worked. Thanks for reporting this. We'll keep this issue open to track this and ensure these dialogs always opens in foreground and stay there!

[2020-06-30 15:51] numaanashraf commented on #8612
@ayeenmkhan It’d be great if you could share your endpoint (if it is publicly accessible) and request with us at help@postman.com with any additional details like client certificates, if applicable. We are actively triaging this issue, and we'd like to understand why your specific request/endpoint is failing.

[2020-06-30 15:52] ingenuity2k commented on #8612
@ayeenmkhan You could try sending the same request using another tool, e.g. curl. That way you could potentially figure out whether Postman is causing the issue or if there's an actual problem with your SSL certificate.

To validate your SSL cert, you could for example use `openssl x509 -in certificate.crt -text -noout`.

[2020-06-30 15:58] numaanashraf commented on #4764
Postman v7.25.1 and above uses Electron v7.2.x which should help with this issue. Do let us know if you are still facing this.

[2020-06-30 15:58] #4764 closed, assigned to numaanashraf

[2020-06-30 16:01] #5591 closed, assigned to nobody

[2020-06-30 16:31] vhrsh commented on #8718
Hi Danny,
I am not sure if i can repeat it on demand. However, i feel one of the reason a refresh or something on the postman window due to which the module being clicked, needs to be activated again. But again, Backspace doing the work of the Delete button is not documented as well. So, either it is to be documented, or preferably, the action disabled.

I am on 7.27.1 and Windows 10.

[2020-06-30 16:36] mmulhearn commented on #8701
Seeing this as well on 7.27.1 on Windows 10.

[2020-06-30 16:44] DannyDainton commented on #8718
It's something that I can't recreate on my Win 10 machine when editing the name of a Collection.

The only keyboard `Delete` action is when not in the edit mode, pressing delete key will show the Delete modal which needs a further user action to delete the collection.

The shortcut key can be seen on the `...` collection menu:

![Screenshot 2020-06-30 at 17 36 49](https://user-images.githubusercon

[2020-06-30 16:57] vhrsh commented on #8718
Awesome. I am able to replicate the issue and it seems a bad one.. One moment.. Getting a video up for you..
Meantime, you can try this:
1. Select a collection
2. Press F2 to rename
3. pick some text towards the front of the collection name
4. Press Backspace

[2020-06-30 17:00] vhrsh commented on #8718
The selection with the mouse and the swift nature of people using the backspace button to clear text is the problem. I am not sure if this will be looked at. It looks like a clear UX Issue. When i am selecting the text, if i go out of bounds, it does not register it

[2020-06-30 17:01] vhrsh commented on #8718
Moreoever, If you select the collection and press backspace, it should not do anything. The backspace is the not the intended shortcut for any postman action anyways.

[2020-06-30 17:59] prakashn27 commented on #8440
We too have the same issue. exports and import with the version 2.1 changes all the ids.

[2020-06-30 18:12] BlueMona commented on #6029
This is not a Postman issue but a Mac OS issue. Right click and force open and/or give the app permission through System Preferences when you see the error.

[2020-06-30 18:34] ayeenmkhan commented on #8612
@ingenuity2k When I am sending a request using curl I am getting the following response:
![image](https://user-images.githubusercontent.com/48828861/86163792-30cd4180-bb2a-11ea-8994-d8879f3b8b4d.png)

[2020-06-30 19:36] Lacni135 commented on #4598
I don't think that having every variable be collection variable is a good idea since having something like a _userId_ is request (path) specific and not specific the collection as a whole.

I think that having the _userId_ be different for different request/path is important for some monitoring/testing scenario

[2020-06-30 20:17] natepappenhagen commented on #4598
@Lacni135
I can't imagine there is a monolithic format that would fit everyone's use cases. I'm simply requesting an 'option' on import to have all variables from swagger into collection variables, if you didn't want that, then you can keep the variables at the request level.

[2020-06-30 21:06] molteninjabob commented on #6722
@arlemi et al., I just found this thread trying to find a solution for a different issue I'm experiencing.

I've spent the last month building out an OpenAPI 3.0 schema for an existing api. The dev team already had a collection of requests (but no tests) and being able to validate the schema against an existing collection has been invaluable to ensure the schema I'm creating is correct. Great feat

[2020-06-30 22:43] isacaguiar commented on #8701
Same for me on 7.27.1 on Windows 10.

[2020-07-01 02:37] chaithanya1996 commented on #6029
I am new to Mac OS , This worked. Thanks

[2020-07-01 03:32] nhutkhtn commented on #3344
Hi @truestbyheart,
you have been solved this case. I have a similar case and can you share your experience.? Thanks

[2020-07-01 05:55] AmitKunjir222 opened #8727 "How to dynamically pass request in Postman? Need a way where we can dynamically build the json body without hardcoding. Body contains json which is huge."
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**App information (please complete the

[2020-07-01 05:59] securitygoodie commented on #2086
thanks a lot!
This is much useful.
I wonder why this is not available as a feature in postman. They could add this in settings.

[2020-07-01 06:58] 1valdis commented on #7873
Bump. I'm writing to response in multiple calls separated by some time intervals, and I want Postman to show data in real time. Instead, it waits for response to end and shows all the data at once.

[2020-07-01 07:01] sankalp0o commented on #6722
@molteninjabob thanks for bringing this up. We're putting in some configuration options so that you're able to select how you want your query params, request body etc to be generated. I'll post here what I have an update on this. If there's anything else that you'd like to see in the generate/update flows, do let us know!

[2020-07-01 07:07] abhijitkane commented on #6105
Everyone - we've updated the user-experience to include the run log for the last few executions of the integration. This can be accessed by clicking the status (Created / Active) in your integration listing.
<img width="1208" alt="Screenshot 2020-07-01 at 12 34 54 PM" src="https://user-images.githubusercontent.com/681190/86213389-4593ee80-bb97-11ea-907e-0cf7d6f4dc45.png">

This should bubble up an

[2020-07-01 07:38] abhijitkane commented on #3661
@AlenaRogacheva Can you send the complete Postman logs (On OSX: View > Developer > View Logs in Finder) over to us at help@postman.com? We're aware of issues to resources that have HSTS enabled, and are working to address those. For all other endpoints, the complete logs should help identify issues.

[2020-07-01 08:28] abhijitkane commented on #8474
@VShingala JSON supports direct values as well. The pastebin link works as expected in https://editor.swagger.io/.

[2020-07-01 08:39] abhijitkane commented on #8648
@bnnsz @Loongle Can you attach a swagger file that you're seeing this issue with? If it's confidential, you can email it to help@postman.com, quoting "https://github.com/postmanlabs/postman-app-support/issues/8648" in the email.

[2020-07-01 09:11] mgh9 commented on #2209
any updates?

[2020-07-01 12:37] slang25 commented on #8724
The plot thickens, I've created a simple "Hello world" lambda with IAM auth, and it's working fine! I'll work on a minimal reproduction.

[2020-07-01 12:46] obieo commented on #6722
Checking in on the "Update collection to retain tests" feature. I know this has been stated in multiple ways before but an ideal workflow for our team would be the following.

1. OpenAPI spec is generated upon our CI build and our repo or CI pipeline in Azure DevOps would be integrated with Postman.

2. Once integrated, the OpenAPI spec and Postman collection it's integrated with would be in sync

[2020-07-01 12:51] DannyDainton commented on #8727
Hey @AmitKunjir222,

This seems like a perfect question for our Postman Community forum.

Would you mind create a new topic on the forum and explain the problem you're facing in greater depth.

I'm confident our community member was help with a solution.

https://community.postman.com

[2020-07-01 12:52] #8727 closed, assigned to nobody

[2020-07-01 13:02] alexmayerlab commented on #4009
+1

[2020-07-01 14:19] tsimms commented on #3157
I'm seeing it also.

[2020-07-01 14:29] jesse-msp opened #8728 "Team workspaces are not loading in workspace switcher"
**Describe the bug**
After installing 7.27.1, when Postman opens, the "Update Available" pops up but never loads. Once cancelling out of the screen, cannot access any team collections or any account information.

**To Reproduce**
Steps to reproduce the behavior:
1. Install 7.27.1
2. Wait for "Update Available" to pop up
3. View -> Developer -> Show DevTools (CurrentView)
4. See error
5. Close "Upd

[2020-07-01 15:15] nagahshi commented on #7294
Deepin 15.11
![image](https://user-images.githubusercontent.com/10147190/86260904-49724180-bb94-11ea-9dbf-4ca0c174f4f9.png)

Postman v7.27.1 - renderer problem guys
![image](https://user-images.githubusercontent.com/10147190/86260522-c650eb80-bb93-11ea-85e7-bf5c66b98567.png)

[2020-07-01 19:23] bnnsz commented on #8648
Mail sent to [help@postman.com](mailto:help@postman.com) with subject **Importing From swagger doc not working #8648**

[2020-07-01 20:05] tomwuxj opened #8729 "The post method can work with Postman, but cannot work with Curl"
**Describe the bug**
I am not sure if this is a bug. I can make it work on Postman, but I have no idea why I can't make it work with Curl. I have been looking at it for a while and tried many times.

**To Reproduce**
1. build the local server. I use the TP-LINK Omada Controller. You can also download it from [here](https://www.dropbox.com/sh/yg9fvwz0s59ofhe/AABHMR1t31Pw6BdzmDUy-lIUa/v4.1.4%20Firmw

[2020-07-01 22:05] DannyDainton commented on #8729
Hey @tomwuxj

Is this using the Postman code generated Curl command or something you have crafted yourself?

Does the same thing happen without the `-k` flag?

[2020-07-01 23:54] erictt commented on #4079
+1

[2020-07-02 00:05] yhminbv opened #8730 "Making Pull Request with 22 new requests doesn't work"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. fork collection from team space to myworksapce
2. add 22 requests to forked collection
3. click 'create pull request' in collection menu
4. new tab of browser opend, but inifinity loding in changes tab and no response to any event (clicking, trying to add text to title)

*

[2020-07-02 01:26] anilsoni85 commented on #8701
Same for me Postman v7.27.1 on Windows 10. It used to work before update.

[2020-07-02 01:45] noizecamp commented on #8402
This issue is happening again on v 7.27.1. Please take a look.

[2020-07-02 05:29] tomwuxj commented on #8729
Hello @DannyDainton

I did try the Curl code generated by Postman, it doesn't work either. Here is the Curl code generated by Postman:
`curl --location --request POST 'https://127.0.0.1:8043/api/v2/login' \
--header 'Content-Type: application/json' \
--header 'Cookie: TPEAP_SESSIONID=4c264caa-f91e-4bc8-acf9-e87379bd8f55' \
--data-raw '{
    "username": "admin",
    "password": "admin123"
}'`

if w

[2020-07-02 06:26] ghost opened #8731 "oauth2 access_token request, client_id is sent even if basic authentication is added"
**Describe the bug**
Postman oauth2 ```access_token``` request sends ```client_id``` in the body parameters event if ```basic``` authentication is applied.

**Expected behavior**
[The OAuth 2.0 Authorization Framework: section 4.1.3](https://tools.ietf.org/html/rfc6749#section-4.1.3)

         REQUIRED, if the client is not authenticating with the
         authorization server as described in Sect

[2020-07-02 07:44] fuweichin opened #8732 "Postman sends payload body on GET requests"
Postman sends payload body on GET requests

**Describe the bug**

while web browsers don't, they either ignore the body parameter (XHR API) or throw an error (fetch API), and [RFC7231](https://tools.ietf.org/html/rfc7231) says:

**To Reproduce**

Steps to reproduce the behavior:
1. Click 'Add Request', select method 'POST', select body 'raw' 'JSON', input '{"id:"1}' as request body
2. Change metho

[2020-07-02 08:39] lenart commented on #8619
I'd love to have a button to be able to *sort variables by name*. Seems like there were several discussions touching this issue - generally once the amount of variables is greater than just a few it starts to be difficult to work with. Especially over multiple environments.

Related issues for reference:
- https://github.com/postmanlabs/postman-app-support/issues/6841
- https://github.com/postmanl

[2020-07-02 08:39] weickmanna commented on #4780
+1

[2020-07-02 09:01] igauravsehrawat commented on #2086
Still not giving up the hope. It will be very a productive feature.

Probably just pinning a tab feature or something similar.

[2020-07-02 09:18] OliverRC commented on #4687
This is ongoing. Postman creams the CPU just sitting idle.

![image](https://user-images.githubusercontent.com/1888486/86340720-a4b83880-bc55-11ea-8ea3-09de569d0a63.png)

![image](https://user-images.githubusercontent.com/1888486/86340756-b26dbe00-bc55-11ea-884f-f97f41763c7a.png)

[2020-07-02 09:25] OliverRC commented on #8269
I have an issue where Postman just sits there creaming the CPU at idle (Intel i7-8665U)
![image](https://user-images.githubusercontent.com/1888486/86341501-acc4a800-bc56-11ea-83f2-0408bd66c327.png)
![image](https://user-images.githubusercontent.com/1888486/86341513-afbf9880-bc56-11ea-8320-085c9e87c210.png)

[2020-07-02 10:37] arlemi commented on #6722
@obieo You can already try out this feature, check out the documentation: https://learning.postman.com/docs/postman/design-and-develop-apis/validating-elements-against-schema/

Updating the generated collection would be a manual process for now but you'd still keep your tests etc. after every update. We're tracking a feature request to be able to do that flow using the Postman API in #8697.

[2020-07-02 13:08] mostopalove opened #8733 "Cant install new version of postman"
**Describe the bug**
It is imposible to install application.

**To Reproduce**
Steps to reproduce the behavior:
1. Download App
2. Run App
3. See error

**Expected behavior**
Application is worked

**App information (please complete the following information):**
 - App Type [e.g. Chrome App, Native App] Native App
 - Postman Version [e.g. 6.0.1] 7.27.1
 - OS: [e.g. macOS High Sierra 10.13.2] macOS

[2020-07-02 17:24] heinz-me commented on #8088
I have a very similar issue. I wanted to claim a Team URL that fits my organization and product. The URL is already in use, so I guess it has been reserved by one of the many developers in my organization. Might be he/she already left us, and the domain is abandoned. I have no chance to verify that.

[2020-07-02 18:34] ArmandoAssuncao commented on #4117
+1

[2020-07-02 19:56] sanchezcarlosjr commented on #5273
**For Ubuntu 18.04 or 20.4 users.**
When a browser sends a command to xdg-open fails by "?" character.
Thus, you can [test](https://documenter.getpostman.com/view/631643/JsLs/?version=latest)  this in your terminal

1. The browser sends a raw request to xdg-open
[code]
2. xdg-open command doesn't wait "?", then "'\?"
[code]

I don't know why this work. But it works for me.

[2020-07-02 19:56] sanchezcarlosjr commented on #5273
**For Ubuntu 18.04 or 20.4 users.**
When a browser sends a command to xdg-open fails by "?" character.
Thus, you can [test](https://documenter.getpostman.com/view/631643/JsLs/?version=latest)  this in your terminal

1. The browser sends a raw request to xdg-open
[code]
2. xdg-open command doesn't wait "?", then "'\?"
[code]

I don't know why this works. But it works for me.

[2020-07-02 20:51] sriharshakatakam opened #8734 "SSL CERTIFICATION OPTION IS NOT ENABLED IN 5.5.5 version"
installed latest version of postman app from
Chrome extension and SSL Option is not available

![Uploading 86408194...]()

[2020-07-02 21:21] a85 commented on #8677
I agree with you David and thanks for posting this issue. We are working on improving this experience a lot.

[2020-07-02 21:29] SelinMaryK commented on #8493
Thank you for fixing the issue. The null issue has been fixed. However i find postman crashing very frequently with the latest version. This was not seen much in the previous version.
![image](https://user-images.githubusercontent.com/55212925/86410872-e7146080-bcbb-11ea-95a8-a7f012eb287e.png)

[2020-07-02 21:39] entimaniac opened #8735 "New IDs are generated on Import or Export"
**Describe the bug**
When importing and/or exporting a collection, a new ID is generated for collection elements such as requests even though there is already an ID present in the file.

**To Reproduce**
Steps to reproduce the behavior:
1. Create collection.
2. Create a request (doesn't need to 'work', can be empty pretty much)
3. add any basic test like;
[code]
2. Export the collection to json (v

[2020-07-02 21:43] tomwuxj commented on #8729
Anyone can help me? Highly appreciated!

[2020-07-03 00:19] nelson-gonzalez opened #8736 "Wrong cURL code generation when multipart"
**Describe the bug**
When you make a multipart request with a `file` and another field of JSON type, the generated code snippet to run this request with cURL is wrong. Omits the type for the field with JSON type.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a request with body of type `form-data`
2. Add a field of type `file` with content type `multipart/form-data` and a field of t

[2020-07-03 03:28] priyanshujain commented on #8702
@vvs11  This is fixed now in version 7.26.1.

[2020-07-03 03:28] #8702 closed, assigned to vvs11

[2020-07-03 04:16] amirthavarshinii commented on #5681
You can try to delete temp folder inside Appdata/local. It works for me, dont know why though !

[2020-07-03 05:39] noizecamp opened #8737 "OAuth 1.0 signature keeps failing once I upgraded to v7.27.1"
**Describe the bug**
All OAuth1 requests in my collection start failing after upgraded to v7.27.1. The signature generated is different from what it used to be.
Could be related to https://github.com/postmanlabs/postman-app-support/issues/8402

**App information (please complete the following information):**
 - App Type: Native App
 - Postman Version 7.27.1
 - OS: Windows

[2020-07-03 07:24] DannyDainton commented on #8734
Hey @sriharshakatakam

The latest version of the native desktop app 7.27.1 can be downloaded here:

https://www.postman.com/downloads/

The support and feature development for the chrome extension were stopped at version 5.5.5.

[2020-07-03 09:29] numaanashraf commented on #8701
@marcushoja @martintefger @mmulhearn @isacaguiar @anilsoni85

It’d be great if you could share the output of the following command (via help@postman.com) to help us identify this issue:

[code]

[2020-07-03 12:47] jizhihaoSAMA commented on #8716
@vinitshahdeo That's could work.But I need to install the interceptor bridge every few days.Is it normal?

[2020-07-03 14:15] elieobeid7 commented on #7350
This issue should be a top priority postman team. It's unacceptable that such a grave issue lives for over a year.

[2020-07-03 16:08] DammyDev commented on #4172
+1

[2020-07-03 16:48] vinitshahdeo commented on #8716
@jizhihaoSAMA Could you send us the logs in order to help us debug this issue better?

- The logs located at `%USERPROFILE%/.postman/InterceptorBridge/`
- The app logs which can be found using the **View** menu in the app - `View -> Developer -> View Logs in Explorer`

Please send us above mentioned logs to help@postman.com with the subject as `Logs for GitHub issue #8716`.

[2020-07-03 17:03] Firstlist-comm commented on #8402
OAuth 1.0 signature is failing in v7.27.1, but succeeds in other versions

[2020-07-03 21:50] rcnascimento commented on #5273
Same behavior here.
Escaping the URL's "?" bypass the issue.

That's the only solution for me.

Setup: **Ubuntu 18.04**. snap installed Postman

[2020-07-04 05:47] jizhihaoSAMA commented on #8716
@vinitshahdeo I've done.

[2020-07-04 06:45] tomwuxj commented on #8729
Today I tried with Linux OS, and I still use this command: [curl -k --request POST 'https://192.168.0.104:8043/api/v2/login' -H 'Content-Type: application/json' -d '{"username":"admin","password":"admin123"}'](URL). It works fine.

My curl version is as below:
curl 7.68.0 (x86_64-pc-linux-gnu) libcurl/7.68.0 OpenSSL/1.1.1f zlib/1.2.11 brotli/1.0.7 libidn2/2.2.0 libpsl/0.21.0 (+libidn2/2.2.0) libss

[2020-07-04 11:50] valeriu33 commented on #6682
+1

[2020-07-04 22:21] MaximusFT commented on #4009
+1

[2020-07-04 22:40] GioPan04 commented on #4009
Plz stop commenting with "+1", I'm afraid of reviving useless emails 😂. We all know that this feature will be so useful but if you want to give a "+1" simply react to the first comment 🙂. Thanks and have all you a great day.

[2020-07-05 08:44] harshit-j commented on #4795
It would be great to have this shortcut.

[2020-07-05 09:03] harshit-j commented on #8732
Things like Elastic Search do use body in GET requests. So it is useful for testing.

[2020-07-05 11:52] raghuramratan commented on #8612
I am facing the same error as 'Error: 140502547660968:error:10000066:SSL routines:OPENSSL_internal:BAD_ALERT:../../third_party/boringssl/src/ssl/tls_record.cc:573:'

Postman Version: 7.27.1

[2020-07-05 19:10] mattd3v commented on #2425
For anyone else experiencing this, which I just did, remember to save your requests before executing them in the runner. If they work individually and not in the runner, it could be because they haven't been saved yet. A simple mistake, which can result in this particular issue.

[2020-07-05 23:57] Ali-Meh commented on #6351
+1

[2020-07-06 05:31] ajtran303 commented on #3121
I want to know about this too.
It has been 7 months since @zersiax wrote that post with alternative resources.
And the original post was made three years ago!

I wonder if the Postman devs will do anything about this.

This specific issue was assigned to an (Accessibility project board which is now closed.)[https://github.com/postmanlabs/postman-app-support/projects/28#card-3226999]

I liked how y

[2020-07-06 05:34] ankitmhatre commented on #7134
Are we in a good position yet to put down the timelines for this protocol, `coap` has been around for a while now.
Just curious and excited about this. Any Update ?

[2020-07-06 05:36] thebedroomprogrammer commented on #5970
The language is quite misleading. Also, if the current values are not synced to the server then when some other dev has to send the request he/she has to copy the initial value as their current value, which is quite cumbersome

[2020-07-06 06:24] vvs11 commented on #8722
@Breakingx could you write to us at help@getpostman.com? We will be able to support you better there

[2020-07-06 06:30] vvs11 commented on #8714
@motor75 can you please send us a screenshot of the error you're getting? We will have more information to help you.
Also, you can reach out to our community https://community.getpostman.com/ for quicker support

[2020-07-06 07:23] adriancuadrado opened #8738 "Improper scrolling in the Interceptor/proxy dropdown"
**Describe the bug**
Can't see some fields in a popup.

**To Reproduce**
Steps to reproduce the behavior:
1. Open Postman in a screen with low resolution. Mine is 1919x1079
2. Click on the button at the top bar to open the popup to 'Capture requests and cookies'
3. Scroll down as much as you can
4. You can't reach the 'Methods' field unless you focus another field and keep pressing TAB until 'Meth

[2020-07-06 07:25] Aidenir opened #8739 "Environment not synced at all"
**Describe the bug**
I'm using two computers, one windows 10 and one mac 10.14.6, with postman v7.27.1 on both, both signed into the same account. I have a couple of workspaces for different customers (don't get me started on the whole crap you did about locking me out of them when introducing payed stuff...). Anyway, for one of the workspaces environments aren't synced at all. IE on the mac I hav

[2020-07-06 07:31] mohitranka commented on #7718
Closing the issue as we cannot reproduce it at our end. @charj please comment if it still happens for you.

[2020-07-06 07:31] #7718 closed, assigned to vvs11, codenirvana

[2020-07-06 07:48] ankit9681 opened #8740 "File Upload crashes Postman"
I was using Postman to send a file with an POST API call, i managed to send it once but whe I duplicated the tab and try to select a new file in the new tab it crashed. I tried closing it and deleting the new request and selecting the file again it still crashes and now even in my original request it is crashing when I try to select a new file.

Steps to reproduce the behavior:
1. Create a POST re

[2020-07-06 08:25] gitThingsDone commented on #8405
@lokeshreddyp We recently launched the private API Network ([v7.27](https://www.postman.com/downloads/)), which allows you to publish APIs privately within your team. Do check it out and let us know if this solves your use-case! (docs [here](https://learning.postman.com/docs/postman/collaboration/adding-private-network/#adding-your-apis))

[2020-07-06 09:23] Saurabh9455 opened #8741 "Could not send request"
Not able to hit apis deployed on AWS through postman

[2020-07-06 09:56] kokkonda-abhilash commented on #3636
Thanks for the solution @deepakpathania I've faced the same issue and your solution is the place where I stopped my exploration 👍

[2020-07-06 11:41] SKrPl commented on #8730
Hi @yhminbv
Can you please write to us on [help@getpostman.com](mailto:help@getpostman.com) and provide the details of collections (destination and source) along with the link of this Github issue?

[2020-07-06 11:56] ankit9681 commented on #8740
Never mind I troubleshooted my this application on windows it found the issue and fixed it.

[2020-07-06 11:56] #8740 closed, assigned to nobody

[2020-07-06 13:07] Ladvace commented on #4168
I still have this error

[2020-07-06 13:08] Ladvace commented on #4168
with raw it works but with form-data no, I'm trying to send a file that's why I need form-data

[2020-07-06 13:48] fongie commented on #8735
There are several other issues for this like #8440 #2906

I really wish for this to be fixed too since it really messes up our git workflows.. either you have to go edit the json manually or the PRs are really annoying to try to review and find what actually changed.

[2020-07-06 14:27] geoffturk commented on #8712
@Raja-Simha @ankitjaggi If you need more information or want me to test something else from my side, please let me know. AFAICT, the API endpoint is not working as documented.

[2020-07-06 15:38] peter-umb commented on #4636
I did not realize this was happening behind the scenes in Postman and I have lost hours worth of work because of this. I can no longer use this as a solution for my work. The other members on my team are now forced to move as well.

[2020-07-06 15:49] MarcBKirsch commented on #4636
@peter-umb - Have a look above, I shared how the automation of the login flow works. My automation works fantastic for several environments, endpoints and different users. I'm managing a complex environment without any issues.

[2020-07-06 17:23] JeffLoo-ong commented on #4808
We generate an HMAC token to tag along with our request based on the body.... I can't seem to manipulate the body correctly with environment variables to ensure that each request is a specifically tagged user when using the CryptoJS encrypt function on the body to make a key :/ At this rate I believe it's an issue with the way it reads in the Postman body in pre-request extracted version of the bo

[2020-07-06 17:41] ankit-m commented on #8739
@Aidenir can you open the Postman dashboard and see if all your collections and environments are visible? (Click on a collection in the sidebar > Click `View in web` > Click on the workspace name in the header > Click on Environments tab)

If you see _all_ your collections, environments, APIs, etc. can you try logging out and logging back from the app in the machine you are not seeing your environ

[2020-07-06 17:44] ankit-m commented on #8679
We have marked this as a feature request in our internal tracker. We will keep this issue updated with the progress.

[2020-07-06 17:46] ankit-m commented on #8607
@SenthilvelSomasundaram could you provide some more details? Screenshots and reproduction steps would be helpful.

[2020-07-07 02:18] scottchen625 commented on #8656
My Mac runs 10.14.6. Running the `NODE_OPTIONS=--max-http-header-size=16384 /Applications/Postman.app/Contents/MacOS/Postman` command in terminal didn't solve the issue for me. Neither did the advice in this post https://github.com/postmanlabs/newman/issues/2210

Any help is appreciated

[2020-07-07 02:53] chongwang87 opened #8742 "Request to increase the Bitbucket integration account limit"
we have around 50 microservices, our services deployed to around 5 countries, and we have 3 environments (staging, preproduction & production). Each service under each country and environment has its own postman collection.

so in total, we required 50 services x 5 countries x 3 environments = 750 collections

we done this approach was because we are limiting access to specific services in a speci

[2020-07-07 03:41] virtualdxs commented on #7603
Same on Arch Linux - reproduced with protocol; removing protocol fixes it. Sounds like it just needs an error message.

[2020-07-07 05:40] ankit-m commented on #8188
Fix for this has been deployed.

[2020-07-07 05:40] #8188 closed, assigned to kartikjain26

[2020-07-07 07:13] vvs11 commented on #8741
@Saurabh9455 could you provide us with more info on what you're trying to do? Preferably with a screenshot.
Also, we have a very active community where you can reach out for quicker response http://community.getpostman.com/

[2020-07-07 07:50] Saurabh9455 commented on #8741
*Hi,*

I have deployed my spring boot application on AWS Elastic Beanstalk and it
is working fine when I hit APIs on browser,
But not able to hit APIs from postman.
Please find below snapshot.

[image: image.png]

On Tue, 7 Jul 2020 at 12:43, vvs11 <notifications@github.com> wrote:

[2020-07-07 08:00] ankit-m commented on #8021
We have shipped out the ability to approve PRs without merging.

[2020-07-07 10:07] schefbi opened #8743 "TLS 1.3 post-handshake authentication > Implement RFC 8740 "Using TLS 1.3 with HTTP/2""
There is a problem with TLS 1.3 post-handshake authentication in Chrome and Firefox. In Postman version v7.25.2 you have support for TLS v1.3, is it possible to add TLS v1.3 to protocols that are disabled during handshake or fixed that bug with TLS v1.3 post-handshake authentication?

https://bugzilla.mozilla.org/show_bug.cgi?id=1637754

Thanks

[2020-07-07 10:27] numaanashraf commented on #8654
I'm going to close this but don't hesitate to reach out if you still have this issue after disabling hardware acceleration.

[2020-07-07 10:27] #8654 closed, assigned to nobody

[2020-07-07 10:48] amirhs712 commented on #3126
Any news yet? we could really use RTL support.

[2020-07-07 13:31] vikiCoder commented on #8731
You are right @danieldonev. Thanks for pointing it out. We will be fixing it. Meanwhile, I think you still should be able to generate the token regardless of the extra `client_id` parameter in the token request body. Please let us know if that is not the case and the current behaviour is a blocker for you so we can prioritize it accordingly.

[2020-07-07 13:37] eventgo-admin commented on #8731
@vikiCoder thank you for your attention. By standards, the ```access_token``` uri params should be strict - no "unknown" query parameters. Since the ```oauth2 server```, which I am trying to use has this standards implemented - it fails since there is "unsupported" query parameter. So yes, it is a blocking issue

[2020-07-07 13:48] vikiCoder commented on #8724
I tried to reproduce the issue by calling an AWS S3 endpoint but it worked fine for me (`x-amz-date` header was included in the `SignedHeaders`). And I think it should be the case for API Gateway as well.

Can you check in the Postman console after sending the request, whether the `x-amz-date` is included in `SignedHeaders` or not? And please let us know if you succeed in minimal reproduction of t

[2020-07-07 14:12] vikiCoder commented on #8737
Can you please provide the following information about your request so that we can identify the issue?

1. Which signature method are you using in OAuth1?
2. Is the signature method same before and after the Postman app update?
3. Are you using `callback` and `verifier` fields recently added in 7.27.0?
4. Is `include body hash` option enabled?
5. Is the authorization data added in request body/req

[2020-07-07 14:31] vikiCoder commented on #8717
Hi,

Are you getting a popup asking to open the Postman app after completing the authorization in browser (like shown in the below screenshot)?

![image](https://user-images.githubusercontent.com/16588032/86795657-6a9eca80-c08b-11ea-9145-8137656607ed.png)

If you are not seeing a popup like that, please make sure pop-ups are not blocked in your browser. If you are using Chrome, you can enable the

[2020-07-07 14:45] irkhamHF commented on #6351
+1

[2020-07-07 15:17] b2un0 commented on #8040
+1

[2020-07-07 15:25] kryspetrie commented on #6681
I'm work in a B2B software company that deals with secure data (think: medical) ... we really need this feature, bad. We don't want to be exposing our API documentation to anyone aside from our Pharma / HCO customers. Come on, Postman. First, you can't even integrate with Client Credentials in Auth0 properly (no audience field!?) and now this!

[2020-07-07 15:29] rajeevpmr commented on #6761
I am facing the same issue in my Mac Postman app (Version 7.27.0 (7.27.0)). A restart fixed for one instance and the same issue for the next request

[2020-07-07 16:27] willsthompson commented on #8717
@vikiCoder No, that was not happening. However, after allowing popups for `oauth.pstmn.io`, it did, and the Authentication succeeded. Thank you!

Considering that all major browsers have been blocking popups for years by default - and Safari does this with no visual indication that a popup has been blocked - I propose that Postman issue a warning (maybe as a tooltip?) along with the checkbox that

[2020-07-07 17:44] Dipankar151 opened #8744 "When I fire a GET request form Postman using Parameters, preview window is not showing the web page"
![Postman](https://user-images.githubusercontent.com/67973385/86821052-89ab5580-c0a7-11ea-8a4b-ba4486628973.png)

[2020-07-07 17:49] Firstlist-comm commented on #8737
I am seeing the same problem. I am using:

1.  HMAC- SHA1
2. same signature method as before
3. I am not using `callback` or `verifier`
4. I am not using `include body hash`
5. Add authorization data to = Request Headers

[2020-07-07 18:11] Dipankar151 commented on #5411
Error status is not showing in postman v7.27.1. All the error status code should get displayed if the a user fires an incorrect request. Here in the img I fired a GET request instead of POST, hence it should show the 404 ERROR code, which is not being displayed. Please help in this
![image](https://user-images.githubusercontent.com/67973385/86823933-1b689200-c0ab-11ea-8488-9a47291ea3b2.png)

[2020-07-07 18:12] Dipankar151 opened #8745 "404 error status is not displaying in v7.27.1"
Error status is not showing in postman v7.27.1. All the error status code should get displayed if the a user fires an incorrect request. Here in the img I fired a GET request instead of POST, hence it should show the 404 ERROR code, which is not being displayed. Please help in this
![image](https://user-images.githubusercontent.com/67973385/86823933-1b689200-c0ab-11ea-8488-9a47291ea3b2.png)

[2020-07-07 18:34] thesteve0 commented on #3438
I would also vote for an export from postman hosting it. I want a process where I can use postman to generate the docs and then host on my developer portal. Having you folks host the doc is a non-starter for my company.

[2020-07-07 18:40] motor75 commented on #8714
@vvs11 Here are the screen shots you requested (the URL used is filtered due to privacy/security concerns):

1) Set up a URL that uses a global "environment" variable and use the "DEV" environment:
![Screenshot_7](https://user-images.githubusercontent.com/42443455/86827103-97d58380-c05f-11ea-83e4-836913f153ad.png)
![image](https://user-images.githubusercontent.com/42443455/86826563-eafb0680-c05e-1

[2020-07-07 19:06] NelsonRebelo opened #8746 "Collection Runner not running all requested iterations"
I've searched for a solution, and also for similar issues already open, and couldn't find anything that suited this problem, so I'm assuming it's a bug. I apologize if this issue is already reported.

**Describe the bug**
I've been facing a couple of issues with Postman's Collection Runner when there's a lot of requests involved. After asking collection runner to run **X** amount of iterations, it

[2020-07-07 19:39] arunasindhu19 opened #8747 "Getting "Error: Parse Error: Invalid header value char" In Postman"
**Describe the bug**
When I try to call a resource I am seeing "Error: Parse Error: Invalid header value char" in the Response.

**To Reproduce**
N/A

**Expected behavior**
I should be able to get a response back with 200 OK.

**Screenshots**

**App information (please complete the following information):**
 - Postman Version [e.g. 7.27.1]
 - OS: [e.g. Windows 64 bit]

Additional Information:
I am

[2020-07-07 20:22] imranmsoft opened #8748 "Exporting collection not downloading data as .Json file"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to collection ->Export
2. Click on 'Export'
3. Save the downloaded file
4. See error

**Expected behavior**
It should download as test.json however (.json) is not appending

Version : Version 7.27.1
Add any other context about the problem here.

[2020-07-07 20:49] chrisdeso commented on #8748
@imranmsoft Thanks for reporting this!

I wasn't able to reproduce the issue on my end – would you be able to provide a few other pieces of information?

- What operating system are you using?
- Do you have any screenshots that might help illustrate the issue?
- Are you able to append .json to the file that's downloaded?

Here's what I'm seeing
![image](https://user-images.githubusercontent.com/47

[2020-07-07 20:59] e-xing opened #8749 "High CPU Usage on macOS when waiting for request"
**Describe the bug**
While waiting for a request to return its response, postman will take more than half a core.
![image](https://user-images.githubusercontent.com/3982358/86839027-e50d2180-c06e-11ea-8045-d0ef83a58d7c.png)

**To Reproduce**
Steps to reproduce the behavior:
1. Call any endpoint that doesn't return immediately
2. Send the request
3. Check CPU usage while the request hasn't returned

[2020-07-07 21:27] imranmsoft commented on #8748
Hello,
Thanks for the quick response however I have fixed the issue.The issue was
the file extension was not checked.
I just make the file extension checked now it is working as expected.
:) :)

On Wed, Jul 8, 2020 at 2:50 AM Chris de Sousa <notifications@github.com>
wrote:

--

Thanks.

*Md. Imran | Sr.SQA Engineer*
Dynamic Solution Innovators Ltd. *|* 185, Lane - 2 *|* Mohakhali DOHS,
Dhaka 1230

[2020-07-07 22:12] reedbapex commented on #8747
I am seeing this error also - starting with 7.27.1 - Win 64-bit.

![FailedHeader7271](https://user-images.githubusercontent.com/67982595/86849192-4fc55980-c07d-11ea-8700-f671a60f668f.png)

It works with previous version of Postman - making calls to same environment.  I have tried 7.7.3 & 6.3.0 (auto upgraded to 6.7.? & still worked).  A co-worker had 7.27.0 & that worked too, but as soon as they

[2020-07-07 22:26] rodrigodesp commented on #8747
A lot of people are having this problem where I work and here It´s blocked download old versions :S

[2020-07-07 22:56] arunasindhu19 commented on #8747
@reedbapex Thank You for the quick response. We have been breaking our heads over what was wrong. We went back to the previous versions and it works. 7.18.0 and 7.20.1 versions are currently working.

[2020-07-07 22:58] arunasindhu19 commented on #8747
@rodrigodesp That is frustrating. I hope your company does something about that :D

[2020-07-08 02:19] vdespa commented on #3919
Great to finally see this. I have used it a bit and here are some ideas:

1. Make the detailed method/property documentation the default view (if not already) as it helps understand what each method is (so the users don't have to click on the small (i) icon.

![image](https://user-images.githubusercontent.com/1197635/86866892-ac794200-c086-11ea-9976-26c5a57b5e7f.png)

2. pm.expect(...)to. should h

[2020-07-08 02:51] zanderwar commented on #3438
We moved all our API's from Postman to Swagger + ReDoc as it makes privately hosting the docs very simple. Hopefully we'll move back to Postman if they consider this adding this.

[2020-07-08 02:59] noizecamp commented on #8737
@vikiCoder My settings are exactly the same as above. I reverted to back to v6 and it started working again.

![image](https://user-images.githubusercontent.com/11703462/86869882-ec353d80-c109-11ea-8c20-c5117ca3decb.png)

[2020-07-08 04:19] harsh-reality opened #8750 "Publish templates button returning 404"
**Describe the bug**
The publish template button on the top of the page (https://explore.postman.com/templates) returns a 404

**To Reproduce**
It currently redirects to a learning center page- https://learning.postman.com/docs/postman_for_publishers/postman_templates/add_templates

**Expected behavior**
If the intention is to point towadrs documentation- it should be redirected to this page I bel

[2020-07-08 05:01] gitThingsDone commented on #8750
@harshachelle thanks for reporting this! It should be fixed now 👍

[2020-07-08 05:10] harshachelle commented on #8750
@gitThingsDone thanks, it is now fixed.

Now, I notice a similar issue with the **Add to API Network** button here- https://explore.postman.com/. Throws a 404. Pease fix this as well?

[2020-07-08 05:26] gitThingsDone commented on #8750
The link on https://explore.postman.com/ is fixed now too 👍

[2020-07-08 06:16] kamalaknn commented on #8728
Hey @jesse-msp

Thanks for reporting the issue. I think the issues you are seeing with app updates and team collection sync are two independent issues. I'm updating the title of the issue to capture this syncing issue.

Could you forward your application logs from `View -> Developer -> View logs in Explorer` to `help@postman.com` so we can take a deeper look at the syncing issue? Please mention th

[2020-07-08 06:21] vikiCoder commented on #8717
Fair enough @willsthompson. We'll consider adding a warning. Thanks for the suggestion.

[2020-07-08 06:24] birnbuazn commented on #8598
Any news on this? This issue renders Postman almost useless for endpoints requiring a client certificate...

[2020-07-08 06:42] kamalaknn commented on #6761
@rajeevpmr Could you share a screenshot of any errors you are seeing on Devtools?

[2020-07-08 07:14] vinayjapa commented on #7553
Go to C:\Users\{your user folder}\AppData\Local and delete the existing postman folder and then try to install postman

This works !!

Note: If Appdata folder is not visible , go to views and check the hidden items.. then it shows the AppData folder

[2020-07-08 08:08] vikiCoder commented on #8737
I think it could be because of the newly added fields(in the latest version) `Verifier` and `Callback` left empty. Can you please try disabling the `Add empty parameters to signature` option in the latest version (v7.27.1) and see if that works?

[2020-07-08 09:43] SimonCigoj commented on #8747
we have the same problem any news on this?

[2020-07-08 09:57] ash007-postman commented on #8712
@mohitranka Can you please check and advise.

[2020-07-08 10:36] JamesElliott-Wren opened #8751 "Memory error once postman is loaded up"
**Describe the bug**
Numerous memory relates issues when trying to use Postman

**To Reproduce**
Steps to reproduce the behavior:
1. Open Postman
2. Try to load up an API in the collection
3. The response time is sluggish and is prone to blacking out completely.

**Expected behavior**
There should be no issues.

**Screenshots**
<img width="1188" alt="Screenshot 2020-07-08 at 11 18 56" src="https:/

[2020-07-08 12:01] NelsonRebelo commented on #8746
Update:

The Iteration didn't run due to a 500 Internal Server Error. Still investigating why is this is, but doesn't seem to be a Postman Bug.

[2020-07-08 12:28] shuaiyy opened #8752 "Separate proxy setting for postman cloud sync service"
**Is your feature request related to a problem? Please describe.**
I can't reach cloud sync service without a proxy，the APP  syncs failed and keep retry,  CPU usage becomes very high.

**Describe the solution you'd like**
1. When request POSTMAN cloud service, the APP can use one proxy setting
2. When request other service, use no proxy or another proxy.

[2020-07-08 12:48] bbottema commented on #1535
I have a bunch of requests all grouped in collections according to their respective API's.

Now I want to chain run a few of those requests, so requests coming from different collections. I'm already using environments and globals, but I don't want to redefine all these requests with all the headers, params and scripts.

A Runner should really not be linked to any specific collection, but simply a

[2020-07-08 13:13] ankurdengla commented on #8752
Hey @shuaiyy !

Are you using the app on a network behind a proxy? In this case, the app will use your system proxy settings by default for connecting to Postman sync. Please make sure that you have the proxy settings set in your system settings.

If the proxy server requires authentication, you can set that under `Settings -> Proxy -> Default Proxy Configuration` -
![image](https://user-images.gi

[2020-07-08 14:41] arlemi commented on #3157
I wasn't able to replicate that issue, please provide us with a way to reproduce the issue (collection export for example) or a video showing it happen, this will help us investigate.

Did you double check that all folders/requests were checked when running the collection ?

[2020-07-08 14:51] arlemi commented on #5411
@Dipankar151 You'll only get 404 for endpoints/subdomains of existing domains. In your case it looks like `restapi.demoqa.com` isn't a valid domain name, hence why you're getting ENOTFOUND instead of a 404.

[2020-07-08 14:55] arlemi commented on #4168
@Ladvace Sounds like an issue on the server-side rather than with Postman. I'd recommend asking the question on community.postman.com. 🙂

[2020-07-08 14:56] arlemi commented on #8402
@noizecamp @Firstlist-comm Please follow up in #8737.

[2020-07-08 15:00] arlemi commented on #8751
@JamesElliott-Wren We're tracking this in #7294, could you please get your logs and share them with our support team on help@postman.com?

Please follow up in #7294, I'll close this one.

[2020-07-08 15:00] #8751 closed, assigned to nobody

[2020-07-08 15:03] arlemi commented on #8746
@NelsonRebelo Thanks for letting us know! I'll close this for now, let us know if you're facing any other issue.

[2020-07-08 15:03] #8746 closed, assigned to nobody

[2020-07-08 15:05] JamesElliott-Wren commented on #7294
<img width="1267" alt="Screenshot 2020-07-08 at 11 32 49" src="https://user-images.githubusercontent.com/68007981/86935485-ccffd580-c134-11ea-8e77-a4ebbfdcfaa6.png">
<img width="1188" alt="Screenshot 2020-07-08 at 11 18 56" src="https://user-images.githubusercontent.com/68007981/86935494-cec99900-c134-11ea-9679-67e7b11378e0.png">

Got the same memory issues. left with a blank screen after a few se

[2020-07-08 15:07] #8750 closed, assigned to nobody

[2020-07-08 15:08] #8748 closed, assigned to chrisdeso

[2020-07-08 15:11] arlemi commented on #8745
@Dipankar151 You'll only get 404 for endpoints/subdomains of existing domains. In your case it looks like restapi.demoqa.com isn't a valid domain, hence why you're getting ENOTFOUND instead of a 404. Double-check the URL and it should work correctly.

[2020-07-08 15:11] #8745 closed, assigned to nobody

[2020-07-08 15:20] arlemi commented on #8744
Google uses Javascript to render results by default, if it is deactivated it will redirect to a non-JS friendly version of Google. The Preview tab of Postman doesn't execute JS nor redirects for security reasons, that's why you're staying stuck on that page.

You can add a `gbv` parameter with a value of `1` to force google to send the non-js friendly page back, this will work with Postman. For ex

[2020-07-08 15:20] #8744 closed, assigned to nobody

[2020-07-08 15:38] arlemi commented on #8735
Let's keep the conversation going in #2906, @entimaniac I'll add your feedback there but please add more if needed!

[2020-07-08 15:38] #8735 closed, assigned to nobody

[2020-07-08 15:39] arlemi commented on #2906
More feedback from @entimaniac in #8735

 **Describe the bug**
When importing and/or exporting a collection, a new ID is generated for collection elements such as requests even though there is already an ID present in the file.

**To Reproduce**
Steps to reproduce the behavior:
1. Create collection.
2. Create a request (doesn't need to 'work', can be empty pretty much)
3. add any basic test like;

[2020-07-08 15:44] arlemi commented on #4808
@JeffLoo-ong This looks like a good question for community.postman.com since this isn't really a bug. More people will be able to help you there. 🙂

[2020-07-08 15:47] arlemi commented on #8741
@Saurabh9455 We're not able to see the file attached. You'll have to visit the thread on browser to attach it to a message I think.

[2020-07-08 16:04] willsthompson commented on #8717
Thank you for your attention to this issue 🙂

[2020-07-08 16:04] #8717 closed, assigned to vikiCoder

[2020-07-08 16:44] jesse-msp commented on #8728
Logs sent - thanks!

[2020-07-08 17:41] StrohmyerTR commented on #4808
**Everything** else in Postman is programmatically dynamic, so it's hardly a feature request. No one here is looking for "help", we know what we want/need, and are asking for this change to be implemented.

[2020-07-08 18:51] iulg commented on #5920
It still happens in Postman v7.27.1

[2020-07-08 21:10] alhaqhassan commented on #2369
I cleared my dns cache and it starts honoring hosts file
https://documentation.cpanel.net/display/CKB/How+To+Clear+Your+DNS+Cache

[2020-07-08 21:59] Firstlist-comm commented on #8737
The endpoint I"m calling requires the `Add empty parameters to signature` option to be selected. A co-worker is using an older version of Postman and is succeeding with the same options that I'm using, including the `Add empty parameters to signature` option. Is there a way to install an older version of Postman while I wait for this to be resolved?

[2020-07-09 00:50] nahu90 commented on #4193
Please we need this!

[2020-07-09 02:56] shuaiyy commented on #8752
Hi，thanks for reply.
I didn't use/need any proxy to test my own API.
I'm in China, just  cannot reach Cloud Sync Service, and seems that Postman retry syncing a lot.
When I set a proxy which can bypass firewall, sync success and CPU uasage become low.
I didn't like this below,  i have to configure my test api  without using the proxy.

![image](http://bilibili.shuaiyy.cn/bilibili/20200709104756.pn

[2020-07-09 04:10] danielsss commented on #7603
Same on Mac OS `127.0.0.1:8080` with postman v7.27.1

[2020-07-09 05:50] iamprakashom commented on #5209
Previously it was working and it stopped working after automatic update to 7.21.0.

[2020-07-09 07:32] eborel-yseop commented on #4808
As a matter of fact I already cited this issue in [this thread](https://community.postman.com/t/bug-pm-request-body-update-doesnt-work/12828/4) where no answers was prodived. I think it's a valid request to ask for this behavior to be implemented.

[2020-07-09 13:51] mccannt commented on #8636
Closing this issue as there is no response. Please feel free to reopen with additional information if this is still an issue.

[2020-07-09 13:51] #8636 closed, assigned to nobody

[2020-07-09 13:53] mccannt commented on #8699
Closing this issue as there is no response from the user. Please feel free to reopen with additional information if this is still an issue.

[2020-07-09 13:53] #8699 closed, assigned to nobody

[2020-07-09 14:51] hadimansouri commented on #6288
Please change your authentication service. So many users have difficulty login by this service. It seems terrible!!
The more terrible issue is that the message does not give any useful information. It says simply "Something went wrong! We have some difficulty...!"

[2020-07-09 14:52] hadimansouri commented on #6780
Please change your authentication service. So many users have difficulty login by this service. It seems terrible!!
The more terrible issue is that the message does not give any useful information. It says simply "Something went wrong! We have some difficulty...!"

[2020-07-09 15:04] muescha opened #8753 "Feature Request: Autofill matching Variables into Requests"
## Summary

i like variables can be autofilled when the names are matching.

## Is your feature request related to a problem?

I imported the CircleCI OpenApi into a collection. there are requests are all have variables setup. i created a Collection Wide variable. but on each request i have to change the variable from `<string>` to `{{variable-name}}` which is the same like the parameter name.

<i

[2020-07-09 17:23] thepeej-pwhite6 commented on #4254
I'm also having random `Socket Hang Up` errors.  I'm running three tests in parallel using newman.   Whilst I can see the socket hangups in the terminal window, I am using htmlextra as a reporter.  I can clearly see on a request that works it has `content-length` yet on one that doesn't work,  `content-length` is missing (see screenshots below).  So I concur with @asi-postman that there appears to

[2020-07-09 18:29] JonLaliberte commented on #2096
Yeah, and using cmd - . for anything other than cancel is annoying.

[2020-07-09 18:36] tartale commented on #4555
@arlemi I see the `+` issue in the app as well

[2020-07-09 20:36] eugeneYWang commented on #2195
@a85 um...here comes another question then, how do I get the save prompt back?

[2020-07-09 21:11] JessePreiner commented on #8455
Can confirm wrapping application/json in quotes works on v7.27.1

[2020-07-10 02:38] codenirvana commented on #4555
@arlmath @tartale as mentioned in https://github.com/postmanlabs/postman-app-support/issues/8626#issuecomment-642485743 Postman don't convert/encode the `+` sign but a lot of query processors used in the requesting server do treats `+` as `space`.

So, we are planning to have a per-request level setting to automatically encode the `+`s. Follow #8626 for more updates.

[2020-07-10 04:04] nitinnagpal61 opened #8754 "Postamn crashes everytime after opening(shows greyed out screen)"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '..Postman'
2. Don't do anything, just wait for 15 to 20 sec, the app greys out & crashes.

**Expected behavior**
It should open

**Screenshots**
If applicable, add screenshots to help explain your problem. Please make sure the screenshot does not contain any sensiti

[2020-07-10 05:22] kamalaknn commented on #2195
Hey @eugeneYWang

You can enable the setting to prompt for confirmation any time on the Settings view. You will find this under `Settings Icon` -> `General` tab, under `Request` section.

![Screenshot 2020-07-10 at 10 49 26 AM](https://user-images.githubusercontent.com/8401064/87119370-6b0db000-c29b-11ea-84d8-fa73bb842a5b.png)

[2020-07-10 07:28] mgmTechnology opened #8755 "support for colored console logs"
**Is your feature request related to a problem? Please describe.**
Yes, atm I am getting no console log as usual for browsers

**Describe the solution you'd like**
Please support colored console outputs like
console.log('%c%s', 'color: green ; background: Cornsilk ; font-size: 12px;', 'Article ID: ' + article.articleId );

**Describe alternatives you've considered**
at the moment only simple conso

[2020-07-10 07:28] noizecamp commented on #8737
@Firstlist-comm I got v6 from the link below. You may want to save a dump before you install v6. Somehow the collections are not synced for me when I started using the old version.
https://learning.postman.com/docs/administration/migrating-to-v7/

[2020-07-10 08:42] andym4 commented on #8040
+1

[2020-07-10 08:54] zhitomir-oreshenski-mm commented on #6001
Hello everyone,

Thank you guys, I've been struggling with that yesterday.

You have to basically delete the current environment(develop, prod) and try to recreate it with new env variables.

[2020-07-10 09:22] bhuvnesh1405 commented on #3331
Thanks for the idea, got it working on JMeter too. Many thanks!

[2020-07-10 09:36] david-vermeer opened #8756 "Generate Code Snippet in cURL doesn't escape single quotes in URL"
**Describe the bug**
The single quotes in a URL (that are not part of the query string) are not escaped that results into: when exporting the URL in cURL and importing cURL the single quotes are missing.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a new request e.g. "GET http://mydomain.com/resource('key')"
2. Go to 'Generate Code Snippets'
3. Select language 'cURL'
4. Generated c

[2020-07-10 11:35] BubuFS opened #8757 "Select all logs from Postman Console does not work; selection clipped"
When I do a Select all on the Postman Console, and try to paste elsewhere, only a clipped part of the selection is transferred (about two screens worth). This is a bug.

Is the console output available elsewhere, maybe in a log file?

[2020-07-10 12:16] jaswinder01 commented on #1066
15 years and still does not have multi-select.

[2020-07-10 12:19] hongwei1 commented on #1066
5 years and still does not have multi-select.

[2020-07-10 12:52] dalthonmh opened #8758 "Unique icons for each workspace"
**Is your feature request related to a problem?**
Once I send a request and don't receive anything because the environment variables, so I realized I'm in local workspace and not in team workspace where the environments be defined.

**Describe the solution you'd like**
It would be helpful to have an icon for each workspace like this:

![workspace icons](https://user-images.githubusercontent.com/35

[2020-07-10 14:05] azimkhank opened #8759 "Could not send request: Error: write EFAULT"
All my post requests get error:  Could not send request. Error: write EFAULT.

![error](https://user-images.githubusercontent.com/35109608/87163051-95398f00-c2e8-11ea-97ce-4200ebcbd9c4.png)

Postman for Windows
Version 7.27.1
win32 10.0.19041 / x64

[2020-07-10 15:02] julia-blake opened #8760 "Postman bootcamp issue with 'Open the collection browser'"
**Describe the bug**
I've started 'API Documentation' lesson via Postman Bootcamp. The collection was imported successfully. Then I added the description of a collection as pop-up asked.  After that the next pop-up told me to click the 'collection browser' button. I did it, but the next pop-up doesn't appear and blocks the further lesson passage.

**To Reproduce**
Steps to reproduce the behavior:

[2020-07-10 17:07] zubairk-net opened #8761 "Very slow & unresponsive. High CPU and memory usage"
**Describe the bug**
It has become very slow lately(last few weeks). It consumes lot of RAM as soon as it is launched even before start using it. RAM usage goes up as I start using it. I have been using postman for years and this is the first time I m facing this unresponsiveness. I have about 8 collections and less than 60 requests total. Everything is slow including typing, sending request, clic

[2020-07-10 17:56] Justinohallo commented on #1535
Has anyone tried to use the template collection referenced here: https://explore.postman.com/templates/7907/reusing-a-request ?

It takes 1 minute for each request when I use it. Wondering if anyone else is experiencing this as well.

[2020-07-10 18:05] bbottema commented on #1535
Yes, you need an API key and live connection to the Postman servers and the UUID of the relevant Collection. Finally you need scripts to actually reuse a request from another collection.

It so happened that Postman servers were down when I tested it and suffice to say this solution was not satisfactory.

[2020-07-10 18:08] Justinohallo commented on #1535
I have the set up working (the documentation is very weak, took me some time to figure out the steps to acquire the UUID for the collection I wanted), but every request that I reference takes nearly a minute to complete. The idea of chaining these together in a collection to test seems tedious at best. To test a simple user flow would take minutes as each request finishes.

I think the most elegan

[2020-07-10 18:36] sanjanarao31 commented on #5681
HAD THE SAME PROBLEM :
SIMPLE SOLUTION WOULD BE GO TO THE FOLDER YOU DOWNLOADED AND RIGHTCLICK->"Troubleshoot compatibility" -> there would be two options open the program with the later opriom

[2020-07-10 18:50] sharedprophet commented on #8747
I believe the issue is this: https://github.com/nodejs/node/issues/27711

TL;DR new node response parser is very strict with regard to header validity and many services inject invalid headers intentionally, leading to these issues. Later Postman versions must have come with an upgraded underlying node version.

[2020-07-10 19:23] vvs11 commented on #8759
@azimkhank could you share the error you're seeing in the console?
Also, for quicker response, you can reach out to our community https://community.getpostman.com/

[2020-07-10 21:05] randeepbydesign opened #8762 "All of my requests have disappeared"
I opened up Postman and found it had been upgraded significanltly. Dark mode... yes!

However, I can't see any of my requests. If I go to Runner I can see the collections there but cannot access anything.

I am on a MacOs using Postman 7.27.1

**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....

[2020-07-10 21:09] DanFreed opened #8763 "Post not always sending content-length"
**Describe the bug**
When sending a request from PostMan to a HTTPS service, it reliably only sends the content-length of the package every other time I send the exact same package.  The only potentially unique scenario is that I'm using a client certificate as part of the request.

When it doesn't send the content-length it causes this error :

`
Error: write EPROTO 140217382453800:error:10000438

[2020-07-11 00:55] umeshp7 commented on #8756
Duplicate of https://github.com/postmanlabs/postman-app-support/issues/8674

[2020-07-11 00:55] #8756 closed, assigned to abhijitkane

[2020-07-11 06:41] lagurohit commented on #1535
+1.  My apis also need to completed login and few other flows. Can duplicate those each tome on. My 40 features collection

[2020-07-11 08:37] azimkhank commented on #8759
![error](https://user-images.githubusercontent.com/35109608/87220240-f95d6100-c383-11ea-8a32-18427b149d1a.png)

[2020-07-11 11:55] sromano88-svc commented on #8676
I have the same issue, but on local Workspace.

[2020-07-11 13:47] zeeshanyshaikh commented on #4193
👍

[2020-07-11 21:50] garstas opened #8764 "Can't send POST requests to Elasticsearch using raw JSON body"
**Describe the bug**
When I try to send a POST request with a raw JSON body to elastic host - error `request body is required` is returned.

**To Reproduce**
Steps to reproduce the behavior:
1. Run Elasticsearch instance, for example, using this simple `docker-compose.yml` snippet (no additional setup required, `docker-compose up` command will boot the service on 81 port ready to send requests to

[2020-07-12 00:42] koredyte commented on #8761
Same on the Mac. Postman has been unusable for the past two weeks, and we've had to script up our tests in the meantime.
It persistently clogs the CPU (over 100% CPU utilization).
What's going on?
<img width="423" alt="Screen Shot 2020-07-11 at 8 41 07 PM" src="https://user-images.githubusercontent.com/2252128/87236389-f9c31f80-c3b6-11ea-96e6-b495e589df30.png">

[2020-07-12 01:10] ejan1a commented on #8761
Update: We found a way around this by using Postman Canary. Much more stable and usable at the moment.
Also, the issue with the Postman main app may be larger than we thought. Many of our tests started failing this week and we've been digging. Using Postman Canary, the same tests are now passing, which is what we expect.

[2020-07-12 11:09] MatteoInfi opened #8765 "Black screen and then crash"
**Describe the bug**
Trying to start postman, but I get blank screen

**To Reproduce**
Steps to reproduce the behavior:
1. Open postman

**Expected behavior**
Should work normally

**App information (please complete the following information):**
 - App Type Desktop
 - Postman Version 7.27.1
 - OS: Ubuntu 18.04.4 LTS

[2020-07-12 12:08] PaperBag42 commented on #5827
I am facing the same problem. My environment contains around 450 variables, but none of them are more than 25 characters long. So it's possible that the source of the problem is the amount of variables in the environment, not their size. I hope it helps.
My current solution is to edit the environment using the [Postman API](https://documenter.getpostman.com/view/631643/JsLs/?version=latest#a237ffb

[2020-07-12 12:13] shanecp commented on #7427
Can confirm this is a bug. Example to reproduce the issue is below. Both AccessToken and APIToken should be added, but it doesn't.

Also the root level security components are not added to the internal routes as required by the spec.

[code]

[2020-07-12 12:15] shanecp commented on #8663
Leaving code to reproduce this issue. This is a duplicate of https://github.com/postmanlabs/postman-app-support/issues/7427

Can confirm this is a bug. Example to reproduce the issue is below. Both AccessToken and APIToken should be added, but it doesn't.

Also the root level security components are not added to the internal routes as required by the spec.

[code]

[2020-07-12 12:54] kamalaknn commented on #8761
@ejan1a @zubairk-net Would it be possible to record and share a performance profile? It'll help us triage the issue and resolve as soon as possible.

Here's the how-to on recording a profile: https://www.loom.com/share/01e103f8511549ec93e22ff2afb2769e

[2020-07-12 14:10] umeshp7 commented on #7735
Hey @boubech! I tried importing the schema you provided, I was successfully able to import it as API and generate collection.
Closing this for now. Feel free to reopen if the issue persists.

[2020-07-12 14:10] #7735 closed, assigned to nobody

[2020-07-13 01:26] coderrajput commented on #4009
please add this socket feature

[2020-07-13 02:00] #8732 closed, assigned to nobody

[2020-07-13 05:18] lagurohit commented on #1535
+1. My APIs also need to completed login and few other flows. Can not duplicate those each tome on my 40+ features collection

[2020-07-13 05:19] lagurohit commented on #1535
+1. My apis also need to completed login and few other flows. Can not duplicate each of those in my 40+ features collection

[2020-07-13 06:09] ChristianSauer commented on #1535
OK, I was totally fed up by this and fetched to tavern, and it'S much better at reusing requests. It has other warts, but it beats Postman unfurtunately. I really tried to make postman work for my testing scenarios, but it's just not workable without easily referencing requests.

[2020-07-13 06:12] mohitranka commented on #8764
@mccannt Can you please try and reproduce this on a Ubuntu box? I was not able to do so on my macOS machine.

[2020-07-13 06:19] mohitranka commented on #8747
@arunasindhu19 and others, Can you share the reproduction steps to the issue?

[2020-07-13 06:21] #8620 closed, assigned to abhijitkane

[2020-07-13 06:38] mohitranka commented on #8763
@DanFreed Could you try executing this the equivalent `curl` command (found under the `code` ) in the terminal, and list the behaviour?

![image](https://user-images.githubusercontent.com/80672/87278199-80841380-c501-11ea-9138-43de11de4ea5.png)

[2020-07-13 06:44] mohitranka commented on #8543
Closing the issue as we were not able to reproduce it locally. @markmcgookin, if the issue still exists in the latest version of the application, feel free to reopen the issue.

[2020-07-13 06:44] #8543 closed, assigned to vikiCoder

[2020-07-13 06:47] sharedprophet commented on #8747
1. Set up a server that will respond to a request with a header containing a newline, or other invalid character.
2. Send a request to it via Postman.

[2020-07-13 08:45] amitdaga commented on #6018
+1 on this feature request. Having multiple workflows will definitely help in covering many diverse scenarios of testing the same API.

[2020-07-13 09:51] Saqib92 commented on #4009
I agree. +1

[2020-07-13 10:55] sankalp0o commented on #8676
We have pushed out some improvements in app v7.21.1. If you are facing this issue, please update your app. Let us know if this does not help.

[2020-07-13 11:09] jtj999 opened #8766 "pre-requisite file is not executed in CLI mode"
**Describe the bug**
I created a collection with a pre-requisite file to set a global or environment parameter but the pre-requisite file is not executed when I ran it from CLI mode.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to window CMD and from Nodejs Dir , run newman run https://www.getpostman.com/collections/a734cb4eecdb723f788a
the pre-requisite file contain pm.globals.set("ur

[2020-07-13 11:11] ArjunSingh-PM commented on #7486
@xk0der Even if users use their Google account to login to Postman, the password reset flow should still work for them i.e. these users will be able to set a new password for the account.

[2020-07-13 11:54] shahar-fleischman commented on #3707
Right click on the app in finder as you did, solved it.
This is with the latest Version 7.28.0 (7.28.0).

[2020-07-13 12:04] pankajk07 commented on #8616
@zigszigsdk , we have fixed this as part of `v7.28` release. Please update the app and try it out. Do let us know if you come across any other issues.

[2020-07-13 12:04] #8616 closed, assigned to pankajk07

[2020-07-13 12:05] pankajk07 commented on #8657
Hi all, we have fixed this as part of `v7.28` release. Please update the app and try it out. Do let us know if you come across any other issues.

[2020-07-13 12:05] #8657 closed, assigned to nobody

[2020-07-13 12:33] godstanis commented on #8764
I'm sorry. I think it is my mistake. By specifying the calculated `Content-Length` header in postman GUI the body is handled correctly now. Sorry for filing this one

[2020-07-13 12:33] #8764 closed, assigned to mccannt

[2020-07-13 12:41] mccannt commented on #8762
@randeepbydesign Can you send an email to help@postman.com ? Someone from our side should be able to help you out.

[2020-07-13 12:46] DannyDainton commented on #8766
Hey @jtj999

I was able to import the collection using the link provided - I don't see anything set in any of the pre-request scripts.

Have you made the change to the collection and not updated that link? Without updating the link, the changes won't take effect.

[2020-07-13 14:30] eduardrudko commented on #6236
Hey guys, take it to your sprint, please! Cheers :)

[2020-07-13 15:00] nuryagdym commented on #8676
The same here, failing to share the duplicated collection. Postman v7.28.0 is installed.

[2020-07-13 15:11] coreyhickson commented on #4847
Hey! Just wondering if this was worked on :)? My team would love to use a feature like this as we often forget about descriptions

[2020-07-13 15:21] kengleong commented on #3117
+1

[2020-07-13 15:29] Justinohallo commented on #1535
I have not tried Tavern, but am at nearing the end of the line with Postman. Cannot understand why this functionality does not exist after this thread was opened 5 years ago.

[2020-07-13 15:48] bbottema commented on #1535
But I don't understand why either, right. Postman is focused on helping customize a request and save it because it's a lot of / meticulous work. Then it won't let you actually reuse them across Runner setups. Such a strange oversight. I wish the devs could shed a light on this and present some roadmap for this subject.

[2020-07-13 16:01] Justinohallo commented on #1535
@a85 - any comment?

[2020-07-13 16:35] jtj999 commented on #8766
HI, Thanks for helping out.

I have  created the link at all time, by select the share button and GEt publik Link.

is this the correct way to update the link ?

Thanks
________________________________
From: Danny Dainton <notifications@github.com>
Sent: Monday, July 13, 2020 12:46 PM
To: postmanlabs/postman-app-support <postman-app-support@noreply.github.com>
Cc: Jennifer Tjie <jennifer.tjie@clou

[2020-07-13 16:57] kinlane commented on #1535
I can't speak for Abhinav, but I can speak to the fact that the team is very tuned into this need. The full announcement is coming shortly so I don't want to go into detail, but we have alluded to it in a couple webinars and talk already so I should be cool....but, we are heavily investing in Postman on the web. Meaning in an upcoming release you will be able to make calls using a web client. This

[2020-07-13 16:58] DannyDainton commented on #8766
The link is a snapshot of the collection at the time of creating it.

Any changes made to the collection, even if they are saved, won't be included in the link until its updated.

You can do this by going to `Share` again and selecting 'Update Link', once that's done the changes will be run with Newman.

You would need to do this each time a change is made, alternatively, you could use the Postman

[2020-07-13 17:00] #5903 closed, assigned to vkaegis

[2020-07-13 17:00] #8577 closed, assigned to nobody

[2020-07-13 17:00] #8686 closed, assigned to abhijitkane

[2020-07-13 17:06] jtj999 commented on #8766
Thank you turned out I need to click the update button.
I thought select , share will create  a new link.

Thank you so much
________________________________
From: Danny Dainton <notifications@github.com>
Sent: Monday, July 13, 2020 4:58 PM
To: postmanlabs/postman-app-support <postman-app-support@noreply.github.com>
Cc: Jennifer Tjie <jennifer.tjie@cloudelemental.com>; Mention <mention@noreply.git

[2020-07-13 17:09] DannyDainton commented on #8766
Closing this as it seems you have solved the problem. 😁

[2020-07-13 17:09] #8766 closed, assigned to nobody

[2020-07-13 17:22] mkoppanen commented on #8624
Sorry to comment on a closed issue but seeing the same behaviour. It's not reproducible (at least not reliably) but will do more tests tomorrow. It seems to happen after following patterns:

1. Use postman for a while to interact with an API
2. At some point scroll a paged API response (JSON) all the way down
3. Result: postman stops responding completely. On dock it's not suggesting "Force Quit"

[2020-07-13 18:53] MuraliKrishna4550 opened #8768 "Postman giving 400 Bad Request (syntax error) 7.28.0 version, it was working fine in previous version"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem. Please make sure the screenshot does no

[2020-07-13 19:37] lucaskatayama-mb commented on #6682
+1

[2020-07-13 19:37] lucaskatayama commented on #6682
+1

[2020-07-13 19:57] ColdCerealAtWork opened #8769 "On prem Bitbucket integration support."
I can't take advantage of Bitbucket integration because my company uses Bitbucket Server instead of Cloud.

I'd love to be able to integrate with an on prem bitbucket server.

[2020-07-13 20:01] KristianAtVsp commented on #8104
There is growing concern from our security department of the inability to control how Postman is used within our organization. An On Prem alternative would solve all of our problems, and make a subscription to Postman Enterprise a no brainer. Has there been any further consideration on developing this feature?

[2020-07-13 20:17] ChristianSauer commented on #1535
@kinlane I am not interested to run Postman in the web at all. Yes, its totally 2020 but my clients have stuff in VPCs, internal k8s clusters, have data privacy problems etc. so I am not going to add another web tool to the pile of crap I have to try to get through their approval process.
I want to reuse requests in my collection, which I can shove through my CI/CD pipeline to get a GO / NO GO and

[2020-07-13 20:24] bramski opened #8770 "AWS V4 Signature w/form-data do not include x-amz-content-sha256"
**Describe the bug**
I am using S3 to generate a pre-signed POST which then gives me a set of keys to upload with.  I have a session key and credentials and have set the Authorization to AWS Signature.  When I then attempt to run the pre-signed POST I get the following error:
`<?xml version="1.0" encoding="UTF-8"?>
<Error>
    <Code>InvalidRequest</Code>
    <Message>Missing required header for th

[2020-07-13 20:48] JP-from-Postman opened #8771 "Collection runner modifying large numbers"
**Describe the bug**
For CSVs, numbers over 16 digits are being rounded/modified when used in the Collection Runner. See example below:

| raw value | value used in request |
| --------- | ----------- |
| 5720687706200772658.153 | 5720687706200773000 |
| 5720687706200772658.15 | 5720687706200773000 |
| 5720687706200772658.1 | 5720687706200773000 |
| 5720687706200772658 | 5720687706200773000 |
| 57

[2020-07-13 21:08] kinlane commented on #1535
@ChristianSauer not telling you that you have to use the desktop, web, or CLI. Up to you. But I am a little lost how us leveraging web infrastructure to provide URIs for collections and individual requests wouldn't help you in a VPC, internal K8s, and pipelines? How do you pull Newman into the pipeline? How does Postman help you manage your collections (and individual) requests using a public or p

[2020-07-13 21:21] corwestermaniddink commented on #1535
@kinlane I think we need some details about how this going to work with a "Postman on the Web", to know how this is gonna integrate within in our CI/CD pipelines?

I agree with @ChristianSauer that if there is a need to run a Postman collection through a Postman Webservice API on the internet so that we can have access to a re-use of requests functionality, that we are not gonna do that. Why? Just

[2020-07-13 22:08] DanFreed commented on #8763
That returns the expected XML package every time I call it. There isn't much to show that shouldn't be obfuscated.

[code]

[2020-07-13 22:10] DanFreed commented on #8763
I was initially thinking this was related to using client certificates in PostMan, but I've removed the client certificate I was using (which is only optional in my application), and it is behaving the same way.  Every other execution it generates the error.

[2020-07-13 22:28] kinlane commented on #1535
I am just saying, **_"Ensuring everything in Postman has a URI (including individual requests) is a major step to unwind some of this legacy and move towards what is being asked here."_**

That collections now have a URI, so that it can be executed in a web client. Now that collections have a URI, let's have a conversation about what is the best path to get artifacts into your pipeline (large or s

[2020-07-13 22:54] mccannt commented on #8690
This should be resolved in the latest version of Postman. v7.28.0
Give this a try and let us know if you are still experiencing issues.

[2020-07-13 23:00] zubairk-net commented on #8761
Here are the steps I followed to recored profile.
I launched postman.
I didnt touch a thing in postman like issues a request or any work
I launched Developer Tools and started recording
I let it run about 3 minutes and watched RAM usage increasing in TaskManager until it reached above 3000MB
Then I stopped recording and saved profile.

Please see Taskmanager picture "Postman-RAM-CPU-usage.png" att

[2020-07-13 23:04] mccannt commented on #8768
@MuraliKrishna4550 You are going to have to give more information than this.
Can you please give us more details? Console Logs would be helpful so we can get an idea of what may be happening.

[2020-07-14 00:06] pbarnum commented on #1535
I believe this might be getting a bit off topic...

[2020-07-14 00:17] kinlane commented on #1535
Sorry if it feels that way. But having a uniform resource identifier strategy will be essential to "Reuse the same request inside several collections". How else do you reference? Reuse? Happy to expand each bullet to help demonstrate? Answer specific questions?

 I am just looking to help defend the hard work the team has been doing to get the platform to a place where we can work to satisfy this

[2020-07-14 00:28] kinlane commented on #1535
To help connect the dots a little more...consider this OpenAPI for the GitHub API which heavily uses $ref for "operation" reuse - which is very much what is being asked for here with "request" reuse - https://github.com/octokit/routes/tree/master/openapi/ghe-2.21

You can integrate this into the pipeline, just as is being asked above using HTTP, SSH, Zip, or API, but what is the URI guidance for h

[2020-07-14 00:32] pbarnum commented on #1535
Perfect, and thanks to the team in getting this feature out for the rest of us.

I purely use Postman as a way to manually test APIs and would like to use it for for testing different flows (again, manually). Everything I do automatically works through a python framework.

I would like some of my endpoints to reference others for things like automated login/authentication of a user before accessin

[2020-07-14 00:42] kinlane commented on #1535
A pretty standard usage of Postman. Very interesting use cases (automated login/authentication & payment flow from cart to order to payment to refund). I'll keep it in mind for demonstrating how you could define a reference collection for each of these scenarios, and then automatically generate a Postman collection using the Postman API, and publishing to Github. This is all doable now.

These "wo

[2020-07-14 04:41] coditva commented on #4667
This change is now available in Postman 7.28.0 as well 🎉

[2020-07-14 04:41] #4667 closed, assigned to vkaegis

[2020-07-14 04:43] coditva commented on #3601
This is now available in Postman 7.28.0 as well 🎉

[2020-07-14 04:43] #3601 closed, assigned to vkaegis

[2020-07-14 04:49] coditva commented on #8462
We've pushed out a change in the latest version of Postman where you can send a request and see the results without scrolling at all! 🎉 Update to version 7.28.0 and let us know how you feel.

![84889240-77ce2800-b090-11ea-9fd5-7a0bb38a094e](https://user-images.githubusercontent.com/8445768/87385176-15971300-c5bb-11ea-80af-403187077cb5.gif)

[2020-07-14 04:49] #8462 closed, assigned to vvs11, vkaegis

[2020-07-14 04:59] sujayvenaik commented on #8728
@jesse-msp Hey, are you still facing this issue?
Can you try downloading the latest stable build / canary app from here (https://www.postman.com/downloads/), and try out once?

Note if Canary builds are designed for early adopters and may sometimes break, and can exist side-by-side the production stable build app without disturbing it, hence both can exist in parallel

[2020-07-14 07:08] truonghongtrieu commented on #1630
For anyone who comes across this issue, I got the issue resolved by using `https://` , instead of `http://` in the **Access Token URL** field:

<img width="646" alt="Screen Shot 2020-07-14 at 3 02 33 pm" src="https://user-images.githubusercontent.com/12783443/87394931-0d52ce00-c5e3-11ea-85b4-dbd291c0baba.png">

[2020-07-14 07:35] Kineto opened #8772 "Trying to publish API on Postman"
**Describe the bug**
I am trying to publish the API from Postman, but I get a 404 error.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Postman
2. Click on Publish from the Collection
3. In the window that opens I select the domain I want to use bankapi-swagger.rtgnt.co
4. I click on Publish and get a success message
5. But when I open the url I get 404

**Expected behavior**
The api

[2020-07-14 07:38] Kineto commented on #8772
![Screenshot 2020-07-14 at 09 37 58](https://user-images.githubusercontent.com/68270338/87398156-c9959f80-c5b5-11ea-88fb-6cb260542780.png)
![Screenshot 2020-07-14 at 09 37 03](https://user-images.githubusercontent.com/68270338/87398163-cbf7f980-c5b5-11ea-9748-f86b2796ef5f.png)

[2020-07-14 07:39] Kineto commented on #8772
![Screenshot 2020-07-14 at 09 37 03](https://user-images.githubusercontent.com/68270338/87398249-eaf68b80-c5b5-11ea-8ee9-f456af800cb6.png)

[2020-07-14 07:40] Kineto commented on #8772
![Screenshot 2020-07-14 at 09 39 17](https://user-images.githubusercontent.com/68270338/87398288-f8137a80-c5b5-11ea-8591-9022640f0332.png)

[2020-07-14 07:49] gabibrant commented on #7348
+1

We have the same need. Having the possibility to run per folder inside a collection on the Monitors would be much easier and avoid a lot of copy-pasting. At the moment, it's necessary to have many duplicated collections and it gets very disorganized.

[2020-07-14 08:18] onurarpapay commented on #1508
@mbirtwistle I was sure that there was a shortcut to bring up the oldstyle "window menu". Thank you @mbirtwistle

[2020-07-14 10:27] catherine-greene opened #8773 "Please, return previous design of a response panel"
Please, return previous design of a response panel. The new one is very uncomfortable and annoying.
![Screenshot](https://user-images.githubusercontent.com/36898627/87415287-94994500-c5d5-11ea-8f23-fa81f1f1eab2.png)
We need open a dropdown each time to see test results or body. That reduces productivity and is very user unfriendly!

[2020-07-14 10:40] moto83 commented on #8480
Same here

[2020-07-14 11:38] coditva commented on #8773
Hey, @catherine-greene the dropdown appears when there isn't enough space in the response panel to show the tabs. You can change the dropdown to tabs by simply resizing the response pane to a bigger size.
![Screen Recording 2020-07-14 at 17 04 41](https://user-images.githubusercontent.com/8445768/87421332-637c3d00-c5f4-11ea-93c7-5930579f4aee.gif)

If you don't have enough space inside the Postman

[2020-07-14 11:38] #8773 closed, assigned to vkaegis, coditva

[2020-07-14 11:55] catherine-greene commented on #8773
hm.. Yeah I see now . That is because this info
![image](https://user-images.githubusercontent.com/36898627/87422787-ed6eda80-c5e1-11ea-839a-647701827809.png) now takes more space.
Bad decision....but anyway.
Thank you for the response

[2020-07-14 12:22] shamasis commented on #8773
@catherine-greene ... in next few rounds we will take care of the right side that takes up space. The conundrum is between presenting it consuming more vertical space versus more horizontal ones.

Also researching to give more options in times to come as to what to keep visible and what to converge under dropdown based on your preferences.

[2020-07-14 12:42] umeshp7 commented on #8648
@bnnsz Thanks for reaching out. We looked at your spec and realized that a **required** property of `version` was missing in your `info` object. Adding that we were able to successfully convert the swagger spec to collection.
Swagger Doc: https://github.com/OAI/OpenAPI-Specification/blob/master/versions/2.0.md#infoObject

We have this bare minimum check in order to ensure that the spec is as per O

[2020-07-14 12:44] #8648 closed, assigned to abhijitkane

[2020-07-14 13:07] BennyAlex opened #8774 "Environment variables get ignored when creating mock server example"
**Describe the bug**
When I try to create a example response for an mock server for GET: {{url}}/my-ressource it does not work **(where url is the URL of the mock server and an api prefix (eg.  https://123-456.mock.pstmn.io/api/v1.0)**

The api still throw {"error":{"name":"mockRequestNotFoundError","message":"Double check your method and the request path and try again.","header":"No matching requ

[2020-07-14 13:37] hgalai commented on #8754
Hi,
I have had the same issue, but:
1. my OS is Ubuntu 20.04 lts
2. the color is not grey but orange

To solve the issue, I uninstalled and reinstalled the app.
It asked me to login again.
I could find there all my previous setting.

I'm not specialist, but it seems the issue was coming from the automatic login process (I can't say if it was coming because of an OS or an app update or from somethi

[2020-07-14 13:44] hgalai commented on #8754
Hi,
I had the same issue until I found this ticket about an hour ago, but in my case:
1. the OS is Ubuntu 20.04 lts
2. the color was not grey but orange

To solve the issue, I uninstalled and reinstalled the app.
It asked me to login again.
I could find there (i.e. from postman's server) all my previous settings and history.

I'm not specialist, but it seems the issue was coming from the automatic

[2020-07-14 14:00] minakshi-goel opened #8775 "unable to execute requests after Friday's update - 404 Not Found"
I am getting "404 Not Found" error for every single request I am executing after Friday's update. All the requests were good before update.  This has stopped out testing completely. Could you please look into the issue at your earliest? I am available to talk/web call and show screen

Same requests with same URLs are good if executed thru swagger

This is the version I have :
Postman for Windows
V

[2020-07-14 14:04] codenirvana commented on #8775
Can you share more details about the request or a scaled-down collection/endpoint which we can use to reproduce this issue?

[2020-07-14 14:04] hgalai commented on #8754
Sorry
1. I forgot to add (same answer both before and after uninstalling/reinstalling):
from terminal I asked :  "postman --version"

the answer was :
Gtk-Message: Failed to load module "canberra-gtk-module"
Gtk-Message: Failed to load module "canberra-gtk-module"
(electron) 'getName function' is deprecated and will be removed. Please use 'name property' instead.
Could not get the lock, quitting

[2020-07-14 14:09] minakshi-goel commented on #8775
Hello Udit,

I am sending you the request and POST URL . but its in out QA environment. Not sure how you will be execute the same.

URL :  https://qa-edfi-api.tneducation.net/api/v31/ed-fi/classPeriods

{

  "classPeriodName": "02 - Traditional",

  "schoolReference": {
    "schoolId": 47
  },

  "_ext": {
    "tdoe": {
      "submittedForSchoolYearTypeReference": {
        "schoolYear": 2020

[2020-07-14 14:22] cleggypdc commented on #8040
+1

[2020-07-14 14:27] githubsheng commented on #3434
@ma198307

I had the exact same issue when working with just the crt file. Postman log shows that it sends the certificate but in fact, the server logs clearly shows that postman did not send the certificate. It confused me for a while.

When I use curl and its `clientCertificate` option to send just the crt file, everything works ok and the server responds correctly though. So it looks like a pos

[2020-07-14 14:31] codenirvana commented on #8775
This internal API will not help but due to 404, this problem looks specific to this particular endpoint.

Are you getting 404s for all the `qa-edfi-api.tneducation.net` APIs?
Are you getting 404 any other API endpoint (say `https://postman-echo.com/get`) as well?

[2020-07-14 15:29] jonchui commented on #6269
What should we do if an environment was accidently deleted?

[2020-07-14 15:35] svarshney2311 opened #8776 "not getting value of variables in test result"
pm.test("Verify enabled field", function () {
    pm.response.to.have.status(200);
   pm.expect(jsonData.data[0].isEnabled, "isEnabled value is not correct for **{{$(jsonData.data[0].sku)}}"**).to.equal(pm.environment.get("isEnabled"));

            });

I am not getting value of  jsonData.data[0].sku in results if it fails. Could you please let me know what wrong am I doing?

[2020-07-14 15:44] DannyDainton commented on #8776
Hey @svarshney2311

These types of questions are perfect to raise as a new topic on Community forum.

https://community.postman.com/

[2020-07-14 15:47] Justinohallo commented on #1535
@kinlane If you could provide some examples of the workflow above, that would be great. I too am attempting to create "User Flows" in a similar manner, to which I would hand off to my Front-End developer as confirmation that the end points are working as expected. It would be great to have the primary reference, where all endpoints are defined, and then a series of Work Flow Collections . A workfl

[2020-07-14 16:10] DannyDainton commented on #8776
Closing this out as the question has been posted on the Community site.

[2020-07-14 16:10] #8776 closed, assigned to nobody

[2020-07-14 16:24] jesse-msp commented on #8728
Same behavior - should I email these logs?

[2020-07-14 17:13] bzifkin44 commented on #7350
Agreed with the above comments. Very frustrating and makes no sense that clicking "Duplicate" in different parts of the UI would have different effects

[2020-07-14 18:21] kamalaknn commented on #8765
Hey @MatteoInfi

Could you share your logs from `View -> Developer -> Show logs in Finder` with us at `help@postman.com` so we can take a closer look at the issue?

[2020-07-14 18:23] kamalaknn commented on #8761
Hey @zubairk-net

Could you share the profile recording to `help@postman.com`? You can record the profile for 10-15 seconds. The RAM usage spike might be because of the DevTools was trying to handle a very large profile.

[2020-07-14 18:25] kamalaknn commented on #8754
Hey @nitinnagpal61 @hgalai

Could you share the application logs from `View -> Developer -> Show logs in Finder` with us at `help@postman.com` so we can take a deeper look at this?

[2020-07-14 19:00] kurt-friedrich opened #8777 "Basic Auth not encoding username when set via environment variable"
Basic Auth `Username` is not being encoded into `Authorization` header when set via an environment variable. The env var value is "linked" and appears correctly when you hover over the variable reference, but the `Authorization` header value is always `Basic Og==` (base64 encoding of `:`).

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Authorization'
2. Click on 'Type' and select 'Ba

[2020-07-14 19:34] SabriH10 commented on #8455
@JessePreiner Are you also running on Linux? Could you confirm if the behaviour persists on v7.28.0 (latest version) when you don't wrap application/json in quotes?

[2020-07-14 19:44] JessePreiner commented on #8455
Seeing the same thing with 7.28.0 on Windows. Sending raw -> application/json, but from console appears to be sending form encoded.
![image](https://user-images.githubusercontent.com/3847360/87469205-26a24d00-c5d8-11ea-855c-c483c437b860.png)
![image](https://user-images.githubusercontent.com/3847360/87469209-299d3d80-c5d8-11ea-9952-3fd450ffd67f.png)

[2020-07-14 19:49] SabriH10 commented on #8607
@SenthilvelSomasundaram @bharatramawat28 Are you still observing this issue? As mentioned above by Ankit, if you could provide more details in the form of screenshots so we can get a better understanding and we'll be happy to help.

[2020-07-14 20:03] bproven commented on #6236
Can't believe we have to ask for this

[2020-07-14 21:08] JP-from-Postman opened #8778 "Validate requests against API schema in real-time"
**Describe the solution you'd like**
For a collection linked to an API schema, provide real-time in-app alerts if what a user has entered in their request doesn't abide by the linked schema.

**Describe alternatives you've considered**
None

**Additional context**
Add any other context or screenshots about the feature request here.

[2020-07-14 21:12] gintohewoo commented on #8768
I am having the same problem.

Any POST request to any service running on any port on localhost never hits the service.  It immediately errors out with a 400 Bad Request.  I have included as much information as is relevant to the problem, the same request made of a valid hostname elsewhere works without issue.

![image](https://user-images.githubusercontent.com/1831468/87476813-0339cb00-c5f5-11ea-

[2020-07-14 21:39] liliankasem commented on #2934
Adding `audience` to the Auth URL didn't work for me, but `resource` did:

`https://login.microsoftonline.com/<tenantId>/oauth2/authorize?resource=<resourceId>`

Either way, would really love for this to be a parameter!

[2020-07-14 21:44] anilsoni85 commented on #8701
@numaanashraf I can't share cert info due to policy. I have tried this on 7.28.0 and it is still broken with same error. Could you please provide me steps to turn off auto update and forcefully downgrade postman to 7.25. I don't want update until this issue gets fixed.

[2020-07-14 22:01] OwainPrice commented on #5040
+1

[2020-07-14 22:47] hgalai commented on #8754
Hi @kamalaknn
log files are sent!
Thanks for your kind help.

[2020-07-15 02:17] conradpronto commented on #1070
@Cazaimi @Raja-Simha holy cow guys, what happened?  The [Trello board](https://trello.com/b/4N7PnHAz/postman-roadmap-for-developers) now puts re-ordering examples at mid-term instead of near-term.  What happened to mid-June delivery and "we've triaged this issue to the 'Next' section of our product board, which, as stated, means that we'll be picking this up shortly."?

I appreciate things can cha

[2020-07-15 03:49] karunais13 commented on #3358
+1 this feature would be very helpful

[2020-07-15 04:01] codenirvana commented on #8768
@gintohewoo The request does reach your locally running service that's why it's returning a 404 response.
Can you share what's the request URL like? or, share steps that we can use to reproduce this issue locally?

[2020-07-15 04:17] talhakhan1297 commented on #5903
Facing the same problem in version 7.28

[2020-07-15 04:37] coditva commented on #5903
Hey @talhakhan1297, could you share a screenshot where you are facing this issue?

[2020-07-15 04:43] talhakhan1297 commented on #5903
![ezgif com-video-to-gif](https://user-images.githubusercontent.com/50271102/87504238-91f32a00-c67f-11ea-9576-f007b2395fac.gif)

[2020-07-15 05:06] coditva commented on #5903
@talhakhan1297 I don't understand what is the issue you're facing. If you're having trouble resizing the response pane, it can be done by dragging its border.

![Screen Recording 2020-07-15 at 10 25 46](https://user-images.githubusercontent.com/8445768/87505169-d4b80080-c685-11ea-8fc1-2eacbdbb751d.gif)

[2020-07-15 05:11] talhakhan1297 commented on #5903
Previously, when the pointer is on params section and Scrolling Up makes the params section scroll up and on scrolling further it would start scrolling the body. Or if I reach the end of scroll pane of the Body on scrolling further it would scroll the params section.

[2020-07-15 05:23] coditva commented on #5903
Yes, so previously there were two levels of scrolls which as everyone in this thread points out was "clumsy". With the latest release we have resizable sections and they have only one level of scroll. This allows you to not scroll the whole App when you're only trying to scroll the response body.

[2020-07-15 05:29] talhakhan1297 commented on #5903
Thanks for the reply. It's just a personal preference thing, I liked the previous implementation.

[2020-07-15 05:44] godfrzero commented on #8772
Hey @Kineto, I'm checking out the DNS entries for bankapi-swagger.rtgnt.co and rtgnt.co but I don't see the requisite CNAME & TXT records. I'm guessing these were removed, but please let me know if that's not the case.

Also, could you try publishing without the custom domain and post the link here? We're looking into this in parallel as well.

[2020-07-15 05:55] BukeMan commented on #2934
If you move on to using v2.0 endpoint, then you wouldn't need to specify `resource` parameter, instead you'd go with `scope`.

Quote from [MS docs](https://docs.microsoft.com/en-us/azure/active-directory/develop/v2-permissions-and-consent#the-default-scope) :

A `scope` value of `https://graph.microsoft.com/.default` is functionally the same as the v1.0 endpoints `resource=https://graph.microsoft.

[2020-07-15 06:00] coditva opened #8779 "Params value gets hidden in scroll when it spans multiple lines"
**Describe the bug**
Params value gets hidden in scroll when it spans multiple lines.

**To Reproduce**
Steps to reproduce the behavior:
1. Copy and paste multiline text inside "Value" for params
2. Click on the value to expand the input
3. Find the value to be hidden behind a scroll.

**Expected behavior**
The value should be shown as a popover without a scroll.

**Screenshots**
![image](https://

[2020-07-15 06:22] godfrzero commented on #8772
I just realized that bankapi-swagger.rtgint.co is the correct address, and bankapi-swagger.rtgnt.co is a typo. https://bankapi-swagger.rtgint.co seems to be working.

[2020-07-15 07:02] DannyDainton commented on #8777
Hey @kurt-friedrich

Just trying to reproduce the issue that you're seeing and it's not happening the same way for me.

If I add an environment variable into the `Username` field, it's showing that in the Live Header preview.

<img width="721" alt="Screenshot 2020-07-15 at 07 44 16" src="https://user-images.githubusercontent.com/17089546/87513904-57829080-c671-11ea-83fa-a03bb2f671c8.png">

<img wi

[2020-07-15 07:09] siddy1705 opened #8780 "Top level scroll"
The top-level scroll was helpful as I like to view the response in a larger space. Now, every time I have to resize the request window for a larger space for the response window. Is there any way you can keep the top-level scroll. At least make it configurable from settings or something. Meanwhile, I would like to know how to downgrade the version where I will get the top-level scroll.

[2020-07-15 07:17] sajadsholi opened #8781 "scrolling in version 7.28"
- App Type Postman desktop
 - Postman Version 7.28

Why has the scrolling experience changed in this version?

for example It's so annoying when you can't scroll the response from the top of request .

please instead of removing this feature, make a setting option to decide have that or not

[2020-07-15 07:33] coditva commented on #8780
Hey, @siddy1705
If you would like a larger space for response section, you can switch to 2-pane layout where you can view the request and response panes side by side.

Tip: You can also, hide the sidebar for maximum screen space.

![Screen Recording 2020-07-15 at 12 59 48](https://user-images.githubusercontent.com/8445768/87516577-42225c00-c69b-11ea-8496-7ffdc7fe4899.gif)

Hope that helps. I'll cl

[2020-07-15 07:33] #8780 closed, assigned to coditva

[2020-07-15 07:41] sajad2176 commented on #8780
@coditva
what about the description of request ? when there is a lot of  descriptions , I should extend the description space to see all descriptions . why?

I prefer to downgrade the postman version to have not this ux

[2020-07-15 07:42] coditva commented on #8781
As I mentioned in [this comment](https://github.com/postmanlabs/postman-app-support/issues/8780#issuecomment-658598977), we've removed the top-level scroll from the top-level. You can always switch to a 2-pane layout where you can view the request and response side-by-side.

![87516577-42225c00-c69b-11ea-8496-7ffdc7fe4899](https://user-images.githubusercontent.com/8445768/87517601-b1e51680-c69c-11

[2020-07-15 07:43] #8781 closed, assigned to nobody

[2020-07-15 07:57] Kineto commented on #8772
Yes it is working now. Thanks.

Kind regards
Kumarie

On 15 Jul 2020, at 08:22, Vivek Thuravupala <notifications@github.com> wrote:

﻿
I just realized that bankapi-swagger.rtgint.co is the correct address, and bankapi-swagger.rtgnt.co is a typo. https://bankapi-swagger.rtgint.co seems to be working.

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitH

[2020-07-15 08:03] #8772 closed, assigned to godfrzero, Raja-Simha

[2020-07-15 08:50] sachinzoman commented on #8754
Hey, I'm getting the same issue for a week on my system. I've also uninstalled/install the latest version of Postman, but the issue still persists. Please help.

**System information:**
macOS 10.14.6
MacBook Pro (13-inch, 2017, Two Thunderbolt 3 ports)
Processor: 2.3 GHz Intel Core i5
Graphics: Intel Iris Plus Graphics 640 1536 MB
Serial Number: FVFYG9MUHV29

**App Information**
Version 7.28.0 (7.

[2020-07-15 09:40] astroanu commented on #5970
This was working before, was there a change done to remove this recently

[2020-07-15 09:46] DavydeVries opened #8782 "Sidebar open/closing hard (after Fridays update)"
**Is your feature request related to a problem? Please describe.**
I don't like that the **sidebar icon** (to show/hide) is moved to the right (in the bar at the bottom). Because I use it a lot. Especially if I'm debugging on specific request. I like to close the sidebar on a small MacBook 13" screen. Then I looked up what the keyboard shortcut was. and that is `CMD + \`. But I'm also using 1Passw

[2020-07-15 09:56] coditva commented on #8782
@DavydeVries Thanks for writing in! I understand your concern around this. We had moved the shortcut to the right to be close to other toggles like "build-browse" and "single pane - two pane layout" etc.

But we can definitely think more about this and let you know of any updates. :)

[2020-07-15 10:22] orlowski-ra opened #8783 "Error: tunneling socket could not be established, statusCode=407"
**Describe the bug**
After the 7.28 update, I am unable to use a custom proxy, while connecting to any URL. Each call ends with an error:

Error: tunneling socket could not be established, statusCode=407

The rollback to 7.27 does not fix the problem. This was tested on several different machines, and the proxy stops working the moment when the 7.28 update is applied.

**App information (please co

[2020-07-15 11:11] mohitranka commented on #8712
@geoffturk I tried it now, and could not reproduce the issue ( the changes were reflected). Could you share the standalone collection of the requests that you are making (`GET`, `PUT`), and list the changes you are introducing after `GET`-ing the collection?

[2020-07-15 11:26] stephan-tho commented on #8783
Hi,
I'm getting exactly the same error since the update to v7.28.0. I've also tried removing the custom proxy config completely and setting it once again, but it didn't helped.

Other colleagues with v7.27.1 and the same proxy configuration can access still fine. Also executing a curl with that proxy worked fine.

[2020-07-15 11:48] ParsonsProjects commented on #8775
I am also getting this issue but with a GET request that is using pipelines in the query string.
For example: list-of-values?q=type=ISAUTO|keyGroup=branch
Returns a 404: The request cannot be fulfilled due to bad syntax.
This is in version 7.28.0

[2020-07-15 12:43] sujayvenaik commented on #8728
@jesse-msp Yes, can you please send it across to `help@postman.com`.

Also, did you try the canary app or latest stable version?

[2020-07-15 13:07] cngrindstaff commented on #5903
I greatly preferred the previous implementation. Now every single time I make a request, I have to expand the top panel, add parameters, then minimize the top panel to see more than a few lines of the response on the lower panel. This is very difficult to work with. I understand that other people didn't like it, but I completely relied on that scrollbar. Is there any way to add it back maybe with

[2020-07-15 13:37] arlemi commented on #5903
If you'd like to get more vertical screen space you can use the side-by-side view:
![image](https://user-images.githubusercontent.com/5029719/87551729-abf53280-c6a8-11ea-9f99-a6b78983248a.png)

[2020-07-15 13:39] shamasis commented on #5903
@cngrindstaff @talhakhan1297 and others... these are amazing feedback. Would it be possible for you to get in a discussion with @vkaegis and @codenirvana around what is getting in the way over email to help@postman.com?

Since we understand that any change that we are accustomed to over the years may feel disruptive, our goal is to overall make the experience better in the new UI system. The more

[2020-07-15 13:40] anschwa commented on #5903
@cngrindstaff I've since switched to https://insomnia.rest/ (you can import your postman environment) because it had a simpler interface.

I'm thrilled to see this issue addressed in the latest release. The new two pane view looks great!

[2020-07-15 13:41] arlemi commented on #8624
Hey @mkoppanen, please open a new issue if you manage to replicate it, you can also include your logs to make it easier for us to replicate and fix: https://support.getpostman.com/hc/en-us/articles/360033270134-Where-can-I-find-logs-for-the-Postman-app-

[2020-07-15 13:42] minakshi-goel commented on #8775
I got the same error on one of our GET request yesterday.
Something is definitely wrong. All the end points were working until Friday.

Appreciate your quick help.

Thanks
Minakshi

From: Alan Parsons <notifications@github.com>
Sent: Wednesday, July 15, 2020 6:49 AM
To: postmanlabs/postman-app-support <postman-app-support@noreply.github.com>
Cc: Minakshi Goel <Minakshi.Goel@tn.gov>; Author <author

[2020-07-15 13:45] dinhthaidaica commented on #8656
any update on this? I'm facing this issue with MacOS 10.15.5 and Postman 7.28.0
running `NODE_OPTIONS=--max-http-header-size=16384 /Applications/Postman.app/Contents/MacOS/Postman` throwed me an error message: `(electron) 'getName function' is deprecated...`

[2020-07-15 13:54] arlemi commented on #8758
Thanks for the suggestion @D4ITON, we'll look into it and update here if we decide to implement it. In the meantime, anyone else agreeing that this is a good feature request can add a 👍 on the original post to show interest. 🙂

[2020-07-15 14:18] gintohewoo commented on #8768
I am not sure how to disable the HOST request header.

I believe the host is missing because this request is going to localhost.  I do see the host header entry when I hit the services running at a valid hostname, so perhaps this is the issue.

[2020-07-15 15:01] kurt-friedrich commented on #8777
@DannyDainton Seems like we are experiencing different behavior for the same actions. Here are my screenshots:

<img width="982" alt="Screen Shot 2020-07-15 at 10 57 53 AM" src="https://user-images.githubusercontent.com/17503641/87561329-848f6d00-c68a-11ea-94af-c1b0a4d1c708.png">

<img width="988" alt="Screen Shot 2020-07-15 at 10 58 14 AM" src="https://user-images.githubusercontent.com/17503641/8

[2020-07-15 15:10] vitor-piaia opened #8784 "Scrolling experience changed in this version?"
Why has the scrolling experience changed in this version?
I would like to know how to downgrade the version where I will get the top-level scroll.

[2020-07-15 15:31] DannyDainton commented on #8777
I'm looking into this a bit more and I can see this happening on _some_ occasions but trying to establish the pattern. 🤔

Is this only happening for you when you don't set the `Current` value?

[2020-07-15 15:39] madhu-rapolu opened #8785 "Disable Update Prompt"
Even with "Automatically download major updates" Disabled in SETTINGS/Update, it still keeps prompting for update every now and then on MacOS. With no Admin rights, this is a real annoyance. Why cannot the choice of update to be left to the user completely? Looks like Postman is not mature enough to function without the continuous updates

[2020-07-15 15:52] danieldonev commented on #8731
@vikiCoder thank you for your attention. By standards, the access_token uri params should be strict - no "unknown" query parameters. Since the oauth2 server, which I am trying to use has this standards implemented - it fails since there is "unsupported" query parameter. So yes, it is a blocking issue

[2020-07-15 15:55] fredkuhne opened #8786 "Right click set environment/global variable functionality"
**Is your feature request related to a problem? Please describe.**
No

**Describe the solution you'd like**
When right-clicking a bit of selected string in a request or response body we are given the option to set an existing environment or global variable to that value.

It would be a useful addition to be able to quickly create a new variable from that same menu as well. It would also be useful

[2020-07-15 15:55] madhu-rapolu commented on #8785
<img width="445" alt="Screen Shot 2020-07-15 at 8 53 57 AM" src="https://user-images.githubusercontent.com/56461259/87567246-eba42600-c678-11ea-8c00-e7fb8bee5bdc.png">

[2020-07-15 15:58] madhu-rapolu commented on #8785
Looks like Postman is not mature enough to function without the continuous updates

[2020-07-15 16:05] mohitranka commented on #8786
@fredkuhne We have something cooking for this. Stay tuned! ;)

[2020-07-15 16:09] mohitranka commented on #8777
@appurva21 Can you help triage this?

[2020-07-15 16:21] kurt-friedrich commented on #8777
I am able to get a properly encoded `Authorization` header when I set `Current` value, but only when it is set _before_ I select 'Basic Auth'.

It almost seems like there are a couple issues at play - one related to encoding the `Initial` value (which is never happening), and another related to _updating_ the header when the env var value is changed.

Here are some patterns I observed in a few min

[2020-07-15 17:30] luisdaglez commented on #2906
+1. My team experiences this day in and day out. It's a big source of frustration.

[2020-07-15 18:59] nishuroxz opened #8787 "Ability to export a specific JSON/XML key-value pair from Response body when running muliple iterations"
**Is your feature request related to a problem? Please describe.**
**Newman CLI / Collection runner** - allows us to run using external Data source (Excel, CSV) as an input to the API request.
But there is no option to export a particular field / value from the response when running multiple iterations. It is not really convenient going through the saved response and copying a single field.

It wo

[2020-07-15 23:53] efiark commented on #5814
+1 - happened to me a few days ago.  I'm on v7.28.0

[2020-07-16 02:55] codenirvana commented on #8775
@ParsonsProjects In the latest release, the default URL processor is [updated](https://github.com/postmanlabs/postman-app-support/issues/8154) due to which you are facing this issue.

The `|` used in the query string are no longer encoded by default which is causing the issue at your server-side.
This is because `|` is not an unsafe character in the query and hence doesn't require encoding. You mi

[2020-07-16 03:01] codenirvana commented on #8768
@gintohewoo `Host` header is attached to every request sent unless it's disabled explicitly. Refer to the following screenshot and check if the `Host` field is disabled/unchecked.

![Screenshot 2020-07-16 at 8 27 36 AM](https://user-images.githubusercontent.com/4865836/87621520-9599b600-c73e-11ea-89d4-4deaa138f955.png)

[2020-07-16 03:26] tristinDLC commented on #4318
This is still an open issue, but I see that it's a few years old. Has custom theming been removed development? I have many other apps all themed the same and it would be nice to utilize the same setup in Postmaster since it's a commonly used app of mine.

[2020-07-16 06:34] ariel-inmanage opened #8788 "bring back the main window scrollbar, not just in the body window!"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2020-07-16 06:46] Raja-Simha commented on #1070
@conradpronto I understand your disappointment. But, I want to assure you that this is a high priority issue for our team and it pains us to keep so many users waiting. At the risk of sounding like we are giving excuses, we hit an underlying architectural limitation and are trying to resolve it so that we can fix the issue in a way that fits everyone. If it were an easy fix, trust me this would ha

[2020-07-16 06:49] juhasev commented on #1070
Get it done. It's about time. You are currently loosing to your competitors

[2020-07-16 06:54] g-spot commented on #8260
Have you made any progress in this issue?

[2020-07-16 07:36] isopropylcyanide commented on #5903
Some of us were greatly accustomed to the previous implementation. As @talhakhan1297 points out, **this should be made config driven**. When response body is larger, previous scroll automatically moved it to the top. For the current release, manually dragging is the only option which is not convenient.

Also, Side by side is not always an option when you switch between a POST request in one tab an

[2020-07-16 09:18] arlemi commented on #8785
Hi @madhu-rapolu, we consider major updates bumps from 6.x to 7.x for example. Anything within the same version (7 for example) will be considered a minor version.

We're already tracking this in #6999 so I'll close this one and you can follow updates there.

[2020-07-16 09:18] #8785 closed, assigned to nobody

[2020-07-16 09:32] zoranbgd commented on #2906
Do you have any idea when this issue will be fixed? Is it a month, 6 months, a year? Thank you.

[2020-07-16 10:03] appurva21 commented on #8777
Hey @kurt-friedrich !! Thanks for writing in and providing such detailed steps to reproduce the issue.

So regarding the flow where correct header value is not showing up when you don't set the `current value` of the variable is because whenever you use a variable in the request it gets resolved to its `current value`.
Since in your case, you have only specified the `initial value` (I am assuming

[2020-07-16 10:32] coditva commented on #8784
Hey @vitor-piaia,

The scrolling has been improved in this version so that now you can **control** which pane you want to scroll at a time. You can also **resize** and **collapse** panes which you don't need for a decluttered UI.

You can also drop a mail at help@postman.com to get in a discussion around what is getting in the way. Since we understand that any change that we are accustomed to over

[2020-07-16 10:32] #8784 closed, assigned to vkaegis, coditva

[2020-07-16 10:35] coditva commented on #8788
Hey @ariel-inmanage,

The scrolling has been improved in this version so that now you can **control** which pane you want to scroll at a time. You can also **resize** and **collapse** panes which you don't need for a decluttered UI.

You can also drop a mail at help@postman.com to get in a discussion around what is getting in the way. Since we understand that any change that we are accustomed to o

[2020-07-16 10:35] #8788 closed, assigned to vkaegis, coditva

[2020-07-16 10:58] ashuwaliav commented on #5903
hi from where we can download previous version 7.27.1 ?

[2020-07-16 11:12] ashuwaliav commented on #5903
hi so any way to downgrade my version to back clumsy one. 7.27.1 ?

[2020-07-16 13:19] gintohewoo commented on #8768
Everything looks as it should on my end.

[2020-07-16 13:26] gintohewoo commented on #8768
I have simply rolled back to an earlier version and things appear to be working now.  Thank you for your assistance but I had to get this deployed by end of week this week, sorry I could not be of more help.

[2020-07-16 13:27] varrinagasai opened #8789 "Workspace vertical scroll bar is missing in latest version v7.28.0"
**Describe the bug**
After updating the latest version of Postman v7.28.0, unable to scroll down completely in workspace window. Individual Request and Response scroll is working fine.
**To Reproduce**
Steps to reproduce the behavior:
1. Update to latest postman version v7.28.0
2. Restart the postman app
3. Close the default Launchpad window
4. Open any REST API from collection

**Expected behavio

[2020-07-16 13:39] Tlanimas5 commented on #5903
Hi, I truly preferred the previous implementation. Now every single time I make a request, using the single pane view, I have to expand the response to view all its contents. This implementation only favours users with a bigger screen. I'd have to utilise the "two pane view" to view all the contents of my request and response at the same time.

It'd have been awesome if it was a config option to t

[2020-07-16 14:31] kurt-friedrich commented on #8777
Thanks @appurva21 🙂 I'm still a bit confused, because the documentation seems to imply otherwise.

From the "Using Variables" docs:

https://learning.postman.com/docs/sending-requests/variables/

Is this incorrect? Or am I misinterpreting it?

[2020-07-16 14:39] Genri1441 opened #8790 "The same request works in Postman as Google Chrome add-on but doesn't in desktop version"
**Describe the bug**
I have GET log request. This request returns me a file. I can download a file via Postman in Google Chrome, but can't in Postman for desktop for Windows.

**To Reproduce**
Steps to reproduce the behavior:
1. Make the new request as here: https://natcheztrace.gitlab.io/pro-av-documentation/#mpa1000_logs_csv_get
2. Try to send

**Expected behavior**
The same behavior for both ve

[2020-07-16 15:34] appurva21 commented on #8777
@kurt-friedrich We copy the initial value to current value only while creating a new variable from the UI, to aid new users of this feature and avoid the common errors due to current value being left blank.

@SueSmith Let us update our docs to reflect the same more clearly.

[2020-07-16 16:09] kurt-friedrich commented on #8777
@appurva21 Awesome, thanks for clarifying 🙏

[2020-07-16 16:11] minakshi-goel commented on #8775
Hello Udit,

So how soon you expect the updated version with this fix?
I practically can not write Pre-request script in all of my 1000s of scripts unless there is some common place to write once and accessed by all. Would be able to help with the same in the meantime?

Thanks
Minakshi

From: Udit Vasu <notifications@github.com>
Sent: Wednesday, July 15, 2020 9:56 PM
To: postmanlabs/postman-app-su

[2020-07-16 16:21] minakshi-goel commented on #8775
Hello Udit,

Unfortunately, the Pre-request script did not work. Still getting 404 Not Found !

Thanks,
Minakshi

From: Udit Vasu <notifications@github.com>
Sent: Wednesday, July 15, 2020 9:56 PM
To: postmanlabs/postman-app-support <postman-app-support@noreply.github.com>
Cc: Minakshi Goel <Minakshi.Goel@tn.gov>; Author <author@noreply.github.com>
Subject: [EXTERNAL] Re: [postmanlabs/postman-app-s

[2020-07-16 16:31] minakshi-goel commented on #8775
Is there any way to revert the update and go back to previous version without disturbing anything else?

Thanks
Minakshi

From: Udit Vasu <notifications@github.com>
Sent: Wednesday, July 15, 2020 9:56 PM
To: postmanlabs/postman-app-support <postman-app-support@noreply.github.com>
Cc: Minakshi Goel <Minakshi.Goel@tn.gov>; Author <author@noreply.github.com>
Subject: [EXTERNAL] Re: [postmanlabs/postm

[2020-07-16 16:47] mohitranka commented on #8790
@Genri1441 Can you try to make the request with the latest version of the application v7.28.0 ?
If the issue persists, can you share

* The expanded output in the Postman console?
* Output of `curl -sSL -D - <URL> -o /dev/null`

[2020-07-16 17:02] chrisdeso commented on #8775
Hey @minakshi-goel!

Here's a link to the previous build that should work – [https://dl.pstmn.io/download/7.27.1/win64](https://dl.pstmn.io/download/7.27.1/win64)

Does toggling the next-gen URL processing setting **off** in the latest build yield different results?
![image](https://user-images.githubusercontent.com/4734306/87700636-41053380-c75c-11ea-8111-cd6df4daa05c.png)

[2020-07-16 17:15] minakshi-goel commented on #8775
Hello Chris,

Toggling worked for couple of POST but GET is still an issue.

Any special instructions to  install previous build? Would it overwrite all build files and keep my collections and setup as it is?

Thanks
Minakshi

From: Chris de Sousa <notifications@github.com>
Sent: Thursday, July 16, 2020 12:03 PM
To: postmanlabs/postman-app-support <postman-app-support@noreply.github.com>
Cc: Minak

[2020-07-16 18:46] jesse-msp commented on #8728
I tried both apps - no luck. Logs have been emailed - thanks!

[2020-07-16 20:29] IamMashed commented on #8040
time to switch to insomnia

[2020-07-16 20:31] willcodeforfood commented on #5903
I _much_ prefer the new way of handling this (single scrollbar versus two scrollbars).
That said, I can see the value in letting _users decide_ whether the inner pane (response) should scroll, versus the entire page scroll together (request + response). I still see little value in having scrollbars inside of scrolling panes, but who am I to judge?

**Possible solution**: Give us a "Custom CSS" tex

[2020-07-16 20:31] OlgaChe commented on #1066
+1

[2020-07-16 21:48] hostaur commented on #8768
![image](https://user-images.githubusercontent.com/44832881/87726207-8e999480-c78c-11ea-8a59-a2cedd721a76.png)

[2020-07-16 21:49] hostaur commented on #8768
file -> settings
https://github.com/postmanlabs/postman-app-support/issues/8154

[2020-07-16 22:43] jameslaneconkling commented on #5903
Another option: simply create a single scrollable area that contains the request box and the response box.

Previously there were two scrollable areas, with the scrollable response box inside of its parent scrollable request box.  The new implementation has two resizable scrollable areas, with the scrollable response box below its sibling scrollable request box.

A third implementation could make

[2020-07-17 00:28] kinlane commented on #1535
I really like this _"I want it to look and feel exactly like how the Runner works right now, but with the ability to pull in a list of requests from a primary source."_ This is exactly what I'm talking about above. I am trying to understand how to design / define the references between the primary collection and the derivative and how it works. Are they generated? Are they just using $ref and the

[2020-07-17 03:09] codenirvana commented on #8768
@hostaur Note that this setting is deprecated and will be removed in the future.

Can you share that's the issue you are facing and got the need of turning this OFF?

[2020-07-17 04:51] vaibhav-malpani commented on #8789
Facing same issue and it's really annoying as I work on postman for almost half of my day. Please fix this ASAP.

[2020-07-17 05:55] benknight commented on #8560
+1 when implementing dark mode always provide a system default option.

[2020-07-17 06:05] #8777 closed, assigned to nobody

[2020-07-17 06:21] chintansureliya commented on #6953
@vkaegis thanks it worked for me.

[2020-07-17 06:27] pranaya94 commented on #8774
The `{{url}}{{api}}` portion of the example url is being considered as the host and the `filters/templates` portion is being considered as the path.

For now, can you update your example request to `{{url}}/{{api}}/filters/templates` and save your variables as `{{url}} = anybaseurl`, `{{api}} = api` (and not '/api').

'/' stored in the environment variable is getting ignored while trying to match

[2020-07-17 06:48] dadasopawale opened #8791 "URL encoding is not happening for postman version 7.26.1 for Content-Type: application/x-www-form-urlencoded"
**Describe the bug**
URL encoding is not happening for postman version 7.26.1 for Content-Type: application/x-www-form-urlencoded.
Same request tried in postman version 7.25.0, working as expected

**To Reproduce**
try request with special character.

**Expected behavior**
it is should pass values by encoding the request

[2020-07-17 06:53] Edward-Wang-Foris commented on #2678
I have tried to import the third part javascript lib to handle the AES-GCM, but actually, there aren't a suitable lib, because of post don't support the object like 'window' and so on.

[2020-07-17 07:00] sorin21 opened #8792 "Postman Team please put back the VERTICAL SCROLL!!!"
First of all thank you very much that you put a lot of effort to develop this great app.

Bun now is very, very annoying to have 2 windows and to have a scroll in each one, to resize each one to see bettwer the content, to switch bettween panels view, to move one window in top of another window to see the content from this one, etc.

Please, please, please let the user to choose if he wants the ve

[2020-07-17 07:31] appurva21 commented on #8791
Hey @dadasopawale !!

I am unable to reproduce the issue on the latest app version (`v7.28.0`). I can see the characters are getting encoded correctly.

![image](https://user-images.githubusercontent.com/24985700/87760471-6ada5b00-c82d-11ea-9aae-efd2c84dd249.png)

Can you please share the characters from request body that are not getting encoded for you so that we can try to reproduce this issue o

[2020-07-17 07:43] Caaalabash opened #8793 "unexpected end of JSON input"
**Describe the bug**

server got `unexpected end of JSON input` when process body.

BUT it works with `axios` and `curl`

**To Reproduce**

Golang Code

[code]

Use postman, copy from "code panel"

[code]

Got error

[code]

**App information (please complete the following information):**
 - Postman Version 7.28.0
 - OS: 10.15.6

[2020-07-17 07:44] coditva commented on #8789
The scrolling has been improved in this version so that now you can **control** which pane you want to scroll at a time. You can also **resize** and **collapse** panes which you don't need for a decluttered UI. For e.g. you can collapse the request section by dragging the response pane to the top and focus on the response.

![Screen Recording 2020-07-17 at 13 08 32](https://user-images.githubuserc

[2020-07-17 08:23] grunk opened #8794 "Pipe ( | ) is not urlencoded with the next-generation URL processor"
**Describe the bug**
Sending a GET request with a parameter containing a pipe "|" lead to 400 Bad request because the pipe is not correctly url encoded

**To Reproduce**
1- Go to settings , enable next-generation URL processor
2- In request settings enable urlencoding
3- Send request like this : http://myapi/myendpoint?score=>|10
4- In console you'll see the following result :

The ">" is correctl

[2020-07-17 09:16] DannyDainton commented on #8792
Hey @sorin21

The scrolling has been improved in this version so that now you can control which pane you want to scroll at a time. You can also resize and collapse panes which you don't need for a decluttered UI.

You can also drop a mail at help@postman.com to get in a discussion around what is getting in the way. Since we understand that any change that we are accustomed to over the years may fe

[2020-07-17 09:18] bharatramawat28 commented on #8607
no its fine now,
I am looking for a feature of send and download while running collection
runner if u can help that will be very fine.

Thanks

On Wed, Jul 15, 2020 at 1:19 AM SabriH10 <notifications@github.com> wrote:

[2020-07-17 09:24] sorin21 commented on #8792
Thank you for answer @DannyDainton , but why you didn't let the whole area vertical scroll?

I understand that now you can resize screens, but imagine now in almost every big company everyone works on laptops, and if you move a lot inside and outside company, the laptops are small, so you need for whole area a vertical scroll  to view better request and response areas.

I work for an telecom inter

[2020-07-17 09:47] blockchainforger commented on #8246
Hi. I am using the TEAM plan, for a team of 11 members.

We uses different workspace, to group different projects. Most developers switch workspace each month, and here's the issue.

1. The shared history is so huge, it takes a very long time to sync the changes. The only thing we care about are new requests, or modified requests. Not the history.
2. Deleting the history, with the button "Delete A

[2020-07-17 10:25] BennyAlex commented on #8774
it would be nice to have the complete URL variable (includes the api) and pass it

[2020-07-17 10:32] ManikandanRajendran commented on #8791
@appurva21 I'm also facing the same issue. when passing the decoded params in the URL, Its returning 400 Bad Request. Its returning success response when passing the encoding params.

**When passing direct values**
![image](https://user-images.githubusercontent.com/17049131/87777018-a4589980-c820-11ea-9748-0a37056ed69d.png)

**After passing Encoded value**

![image](https://user-images.githubuserc

[2020-07-17 10:46] DannyDainton commented on #8793
Hey @Caaalabash,

I'm not really sure what the issue is, in Postman, that you're facing here - Would be able to expand on your use case, please?

[2020-07-17 11:06] codenirvana commented on #8794
@grunk Thanks for reporting this.

As mentioned in https://github.com/postmanlabs/postman-app-support/issues/8775#issuecomment-659126717, the next-generation URL processor follows the [WHATWG (URL) standards](https://url.spec.whatwg.org/) which obsoleted the RFC-3986 and is widely adopted in the web browsers and modern programming languages. You can know more about this change [here](https://githu

[2020-07-17 11:06] #8794 closed, assigned to codenirvana

[2020-07-17 11:08] orlowski-ra commented on #8783
Well, I expected at least any kind of response.

Since 7.28 you have started to encode the proxy password. The workaround is to stick to numbers/digits passwords only.

[2020-07-17 11:20] stojan-jovic commented on #5903
I loved old approach. I have no anything against new approach (some people loves it, some not), but please make it configurable.

[2020-07-17 11:23] noizecamp opened #8795 "OAuth 1.0 - Changing the request URL query string does not affect the signature"
**Describe the bug**
When Request URL query string changes, OAuth 1.0 signature generation should be affected. But the signature remains the same with or without the query string.

**To Reproduce**
Steps to reproduce the behavior:
1. Set a Request URL with a query parameter e.g. ?foo=bar. Go to OAuth 1.0 Authorization.
2. Click on Send. Check the signature value in the Authorization header.
3. Rem