[2019-05-17 09:31] saswatds commented on #4320
@bstep93 This change **does not support** the ability to have a dynamic src yet.
We took up supporting the persistence and interoperability of file reference as a priority in this release. We are actively working and iterating on this and hopefully be able to provide support of dynamic src in future. There is another feature request for this https://github.com/postmanlabs/postman-app-support/issue

[2019-05-17 09:32] imic07 opened #6536 "Hope support for PathVariable in url"
**Is your feature request related to a problem? Please describe.**
My postman ver is v6.7.4, now I found that postman cant handle pathvariable in url, this is terriable when i want to build a doucument or test it.

for example, as fllows:
![image](https://user-images.githubusercontent.com/16321067/57917634-b0b52f80-78c7-11e9-8a28-a9052fc00ade.png)
My url is {{ipport}}/flow/task/complete/{pathvaria

[2019-05-17 09:34] r3dsm0k3 commented on #3822
+1.
I'd love to help (and implement) if the code generation accepts community support.

[2019-05-17 10:06] saswatds commented on #6536
Hi @imic07
Postman already supports path-variables, just the notation to do so is slightly different
You can try `{{ipport}}/flow/task/complete/:pathvariable?paramA=1&paramB=12` activate the path variable support in params section. We use `:<variable>` notation instead of `{<variable>}`.

![Screenshot 2019-05-17 15 34 39](https://user-images.githubusercontent.com/8796447/57920722-56ad6d80-78b9-11e

[2019-05-17 10:06] #6536 closed, assigned to shamasis

[2019-05-17 10:30] numaanashraf commented on #5221
Fixed in Postman v7.1.0

[2019-05-17 10:30] #5221 closed, assigned to nobody

[2019-05-17 11:25] sleisd commented on #1535
+1

[2019-05-17 12:04] f3rgames opened #6537 "Unable to send form-data with key as empty string"
**Describe the bug**
I am doing a Post with a File in the header. I have to save the file in the working directory, but when I do the post, the file is not at the Request.Files
This is a recently problem. A few weeks ago it did not happen.

**To Reproduce**
I have 2 headers.
- Authorization: ...
- Content-Type: multipart/form-data

And the Body:
- form-data:  With a txt file selected.

**Expected

[2019-05-17 12:07] diehardcoder007 commented on #3312
Hi All

I am still not able to identify the solution for clearing the cookie between two subsequent run of a collection via NewMan.
Can anyone help me with the solution if available

Thanks

[2019-05-17 12:11] polaris018 commented on #4679
Thanks alot. good works!

[2019-05-17 12:13] kthulsidoss commented on #3312
@diahardcoder007 could u try this top of the test script
const cookies = pm.response.headers.all().filter(headerObj => headerObj.key === 'Set-Cookie').map(headerObj => headerObj.value);
pm.environment.set('cookies', cookies.join(';'));

[2019-05-17 12:59] ash007-postman opened #6538 "Examples are imported incorrectly from OpenAPI definition"
**Describe the bug**
Examples are imported incorrectly from OpenAPI definition and the bug also appears while generating collection in APIs in Postman.

**To Reproduce**
Steps to reproduce the behavior:'
1. Click on Create API
2. Click on Add Schema > Create new
3. click on create example response: Define the example
4) Error: Example response is not displayed as defined

**Expected behavior**
To

[2019-05-17 13:22] Fmstrat commented on #5045
This happens in the GUI, too. For instance, when pasting the copied RAW headers from Firefox, headers are of the format:

[code]
Notice that space after the ":"? Postman is putting that in the variable.

[2019-05-17 13:29] sl4m commented on #6525
@saswatds,

Here's what I know:

1. Does the app crash on the selection screen or during the running of the collection

2. Does it crash on a particular request or just randomly on any request?

3. Was this happening on the app prior to 7.0.9?

4. Any other detail that could help us reproduce this issue?

[2019-05-17 14:07] BCsRock commented on #6534
We found an issue related with the new update.
When selecting files outside of `working directory` somehow Postman messes up the command to send the files. This happens only from today, not the days before.

Sometimes, postman generates the correct file references and sometimes it is adding too many slashes. And it really seems random.

I try to explain below.

Files *outside* of Working Directy

[2019-05-17 14:32] ngondard commented on #2646
In Postman 7.1.0, I found almost the same line:
` sandbox: sandboxRestrictions // https://developer.mozilla.org/en/docs/Web/HTML/Element/iframe#attr-sandbox`
This line belongs to the following file:
`app/ressources/app/js/vendor-shared.js`
Not sure about how to use it, though.

[2019-05-17 14:49] alustrement commented on #2701
+1

[2019-05-17 14:56] saswatds commented on #6537
Hi @f3rgames, Thanks for reporting this.
As we can see that you are sending form-data with empty key. We have been able to reproduce this bug and identified the root cause of this. Will be releasing the fix soon.

Meanwhile as a short-term fix if your server doesn't care about a key for the file, you can add some dummy key and it should work.

I hope this helps

[2019-05-17 14:58] krisdev commented on #2724
+1
Would be bloody useful ;)

[2019-05-17 15:10] saswatds commented on #6534
@BCsRock Yes this is a bug which we are tracking in this issue. More on this in this issue https://github.com/postmanlabs/postman-app-support/issues/6516#issuecomment-493217647

[2019-05-17 15:16] saswatds commented on #6516
@mubashir3gca Thanks. This a high priority issue for us, the root cause has been identified and bug-fixes have been made. A patch release will be out soon.

[2019-05-17 15:38] bhargavkaranam opened #6539 "Team admin cannot approve/reject a pending invitation if the user is already part of the team"
**Describe the bug**
A pending invite for a user who's already part of the team throws a 'No such invite exists' error on accepting or rejecting

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Pending access requests section
2. Accept a pending invite of a user who's already in the team
3. An error is shown saying User is already part of the team
4. Now try to accept or reject the same

[2019-05-17 16:04] cyrielle-hada opened #6540 "Display fork label in collections list"
The Postman API enables to return a list of collections `https://api.getpostman.com/collections` but in case a collection is forked, it doesn't specify which one is the original one and which one is the fork.

This makes it difficult to differentiate them.

It would be nice if the fork label was displayed with the collection.

[2019-05-17 16:28] labifrancis opened #6541 "User unable to access a synced collection"
**Describe the bug**

A user has a collection that is synced to Postman servers but the user can't see the collection on their web dashboard and also get an access error when trying to retrieve the collection using [Postman API](https://support.getpostman.com/hc/en-us/articles/360022272553-How-to-recover-my-collections-using-the-Postman-API-).

**To Reproduce**
Steps to reproduce the behavior:
1.

[2019-05-17 17:40] JP-from-Postman commented on #6513
@sankalp0o user notes from original ticket:
`I need to remove (or mark inactive) a user, blocking the user from accessing our shared collections, but I don't want his contributions or owned work to be deleted. How do I ensure this?`

`I always like being able to inactivate instead of fully remove (just in case they had owned something key we weren't aware of).`

[2019-05-17 18:14] fullpoint opened #6542 "Old Logo on Postman App Support Readme.md"
**Describe the bug**
Old Postman Logo in Postman App Support readme.md

**Expected behavior**
Current logo expected

**Screenshots**
Actual
<img width="420" alt="Screenshot 2019-05-17 11 12 51" src="https://user-images.githubusercontent.com/18669142/57947857-e7258700-7894-11e9-8500-8958a7821905.png">

Expected
<img width="924" alt="Screenshot 2019-05-17 11 13 33" src="https://user-images.githubuse

[2019-05-17 18:21] baileylo opened #6543 "Bearer Token Is Saved To Workspace When Using Auth Module"
**Describe the bug**

With a shared collection using the Authorization tool the bearer token is saved to the request for other people with access to the collection to get.

**To Reproduce**
1. Have a shared collection
3. Create an endpoint
4. Go to Authorization Tab
5. Select OAuth 2.0 as the Type
6. In the Access Token field type in "fizzbuzz"
7. Click save
8. Teammate looks at Endpoint and sees

[2019-05-17 19:46] Poltergeisen commented on #4751
My postman crashes with a 10MB base64 encoded string as a response (or a request). I haven't actually been able to find a good client that can return that large of a file outside of just using curl.

[2019-05-17 20:05] jzabroski commented on #4751
@Poltergeisen I've used PowerShell 6 to good effect.  A backburner project idea of mine is to write a Swagger Swashbuckle extension that customizes the curl output to do PowerShell v6 curl instead of cmd curl. Note, you have to use PowerShell v6 because earlier PowerShell versions had unpredictable character encoding behavior.  What I usually do is translate the curl Swashbuckle spits out into Pow

[2019-05-17 20:06] garrucho commented on #6413
@kamalaknn, ops! I was sure that I have checked for personal information. Thanks for the edit. 😬

Perfect. I'll contact you in the e-mail. Thanks again.

[2019-05-17 20:15] chrisdeso opened #6544 "Feature Request: Microsoft Teams Integration receive monitor notifications only on failures"
**Is your feature request related to a problem? Please describe.**
Microsoft Team Integration: Add the option to only receive notifications in the event of a monitoring failure.

**Describe the solution you'd like**
A setting that can be toggled on the integration page in order to control the type(s) of alerts received – failed or successful runs.

**Additional context**
[Filed by Postman]

[2019-05-17 21:18] chrisdeso commented on #6413
@kamalaknn Info added internally.

@garrucho Thanks for sending all of that information over via email!

[2019-05-17 21:40] JP-from-Postman commented on #6475
@preethammavin Note that the workaround requires logging in + logging out each time to see merged changes reflected (definitely not ideal)

[2019-05-17 21:48] aaroncrawford commented on #1257
And if we want to get real crazy, an option to fold per level would be fantastic.  Something like CMD+OPT 1 folds to level 1, CMD+OPT+2 folds level 2 etc.

[2019-05-17 22:35] a85 commented on #2617
@warkrime Next on the list.

[2019-05-18 03:29] godfrzero commented on #6531
We've investigated and isolated the problem, and also issued a temporary fix for these affected monitors.

There are two problems here:
1. When the team member who created the monitor is removed, the monitoring platform was still attempting to load the collection on behalf of the removed member.
2. When a specific error is encountered while running the job, the error was treated as an empty collec

[2019-05-18 05:18] nilanjanray commented on #6534
@saswatds : Can you gives us an idea when the latest will be published with fix? and what's alternative approach/work-around  to continue in the same version?

[2019-05-18 08:12] saswatds commented on #6534
Hi @nilanjanray this issue is specific to absolute paths in windows. What you can do is use the working-directory and keep your files there. Selecting files in working directory use relative-paths and they should work fine.  As of the timeline for the next patch, we are expecting it to go out early next week.

Hope this helps

[2019-05-18 11:36] harryi3t commented on #6420
@piniacat The fix is available in Postman v7.1.0

[2019-05-18 18:19] otseobande commented on #1070
This would make lives easier.

[2019-05-18 21:34] a85 commented on #1669
Folks, we are working on rolling this out to everyone soon. Please check out our blog post about schema support and the general introduction of "APIs" as an abstraction here meanwhile: https://blog.getpostman.com/2019/05/17/postman-7-1-create-apis-directly-within-the-postman-app/

Full GraphQL support looks like this:

<img width="1728" alt="Screenshot 2019-05-18 14 33 07" src="https://user-images

[2019-05-19 02:41] anuragashok commented on #6018
I have put together a sample collection @  https://github.com/anuragashok/postman-multiple-workflows
I can then just pass in a global variable indicating which requests to run.

[2019-05-19 06:17] sankalp0o commented on #6513
@JP-from-Postman thanks for the notes! This raises a couple of questions in my head:

1. A user's contributions (shared work) remains with the team even when the user leaves the team. If the team is worrying about this, it might mean one of two things -
   a. We're not making this clear enough
   b. There is a bug which made the team lose their work
If we know which is it, we would be able to work

[2019-05-19 06:21] sankalp0o commented on #6540
@vkaegis This issue is coming up everywhere. We've already solved it in 2-3 places but I feel we should look at this more holistically.

[2019-05-19 06:25] sankalp0o commented on #6544
@preethammavin @godfrzero There are a bunch of feature requests around configuration for notifications and behaviour in case of test failures. We should take them up together.

[2019-05-19 07:11] saeidamini commented on #4514
Arch base Linux installs `gconf` package solved the problem.
`sudo pacman -S gconf`

[2019-05-19 07:21] numaanashraf commented on #6524
@filfreire We were able to reproduce this at our end and a fix for this is coming out in a patch release early next week. Thanks for reporting this.

[2019-05-19 07:28] numaanashraf commented on #2833
We have addressed all known and reproducible issues on thread and are closing this particular issue for now. Do let us know if you are still facing issues with Postman's window positioning when working with multiple monitor.

[2019-05-19 07:29] #6209 closed, assigned to ankit-m

[2019-05-19 07:35] mubashir3gca commented on #6516
@saswatds You're welcome. Looking forward for patch release.
Thanks

[2019-05-19 07:51] tanvir4web commented on #6541
Is It Recovered Yet ?

[2019-05-19 07:59] numaanashraf commented on #5080
Fixed in Postman v7.1.0

[2019-05-19 07:59] #5080 closed, assigned to numaanashraf

[2019-05-19 08:01] numaanashraf commented on #5523
@d0sse Could you verify whether this is still happening on the latest version of Postman v7.1.0. We are unable to replicate this on our retina mac devices.

[2019-05-19 08:30] hongwei1 commented on #1066
+1

[2019-05-19 09:27] numaanashraf commented on #5777
@bega888 Could you verify whether this is still happening on the latest version of Postman v7.1.0. We are unable to replicate this at our end.

[2019-05-19 10:14] numaanashraf commented on #6481
@NadavOs90 @barnarock We've pushed a fix for this in Postman v7.1.0. Let us know if you are still facing this issue after updating.

[2019-05-19 10:14] #6481 closed, assigned to nobody

[2019-05-19 11:21] MMRandy commented on #1667
Great to see this landing in the product, thanks for listening :) .  Question though, after following the instructions above, still not seeing requests captured from the browser in the desktop app history tab.  They appear fine in the interceptor and if I proxy a device to the desktop app.  Will the desktop app have the ability to capture browser requests?  And if so, what proxy needs to be enable

[2019-05-19 13:45] Dach0 opened #6545 "Additional `/` getting prefixes for absolute path in form-data in v7.1.0"
Uploading files doesn't seem to work correctly. First of all, I cannot upload multiple files with different keys, it only sends last one. If anything else is clicked or changed after Choose File button non of the files will be sent. I have the following example that used to work a week or two ago...

![Capture](https://user-images.githubusercontent.com/40193265/57982869-3e6d5800-7a4b-11e9-8e02-838

[2019-05-19 14:27] saswatds commented on #6545
Hi @Dach0, we are following this issue in this thread https://github.com/postmanlabs/postman-app-support/issues/6516 . We have found the root cause of this issue, as the patch has been applied. I will out real soon in production.

I have also provided a temporary resolution to this problem in this comment https://github.com/postmanlabs/postman-app-support/issues/6534#issuecomment-493658383

I will

[2019-05-19 15:10] Dach0 commented on #6545
And I saw that little note when selecting files saying "This file resides outside working directory...". I thought it might be something connected. Thanks @saswatds on quick answer and pointing out workaround. When I put files in working directory it's working as it should, but still I'm expecting new release as you've said cause this is temporary.
Thanks again.

[2019-05-19 17:00] numaanashraf commented on #5243
Closing this issue as we are unable to reproducible this on the latest version of Postman (v7.1.0).

[2019-05-19 17:00] #5243 closed, assigned to nobody

[2019-05-19 20:13] d0sse commented on #5523
Yes is still present, it's strange! I've MacBookPro 14,3 with macos 10.14.4
<img width="205" alt="Schermata 2019-05-19 alle 22 10 43" src="https://user-images.githubusercontent.com/16508608/57987558-3b8e5980-7a83-11e9-887d-2947d0cb964d.png">

[2019-05-19 20:36] d0sse commented on #5523
Sorry i solved it! i check "open on low resolution" in option dialog and for strange reason this option does not reset after delete and reinstall the app. Sorry again!

[2019-05-19 20:36] #5523 closed, assigned to nobody

[2019-05-19 22:40] dkonyayev commented on #6523
@codenirvana I figured out the issue on my end. In my collection script I issue "pm.request.headers.clear();", which I assume deletes the application/json header, and Postman then inserts the default text/plain. I could swear that this didn't happen before but it working now. Thanks!

[2019-05-19 22:40] #6523 closed, assigned to codenirvana

[2019-05-20 01:06] nbdcruz opened #6546 "trouble signing in success, no verifying of e-mail if registered or not."
So I forgot my password and I'm not sure what e-mail I used
In your current forgot password process, there's no checking if the e-mail was been registered or not and I think it should have.
And even the e-mail is not registered I still redirected to this link
-> https://identity.getpostman.com/trouble-signing-in-success

[2019-05-20 03:51] numaanashraf commented on #5410
@szoper Thanks for letting us know. Closing this for now as the original issue reported has been resolved.

[2019-05-20 03:51] #5410 closed, assigned to numaanashraf

[2019-05-20 03:58] preethammavin commented on #6546
@itsloudc there are couple of reasons why we do not show if the email is registered or not, one of the primary reason is security.
But you could go ahead and check you email inbox where you have confirmation email , or when you reset your password you would receive a mail

[2019-05-20 03:58] #6546 closed, assigned to nobody

[2019-05-20 04:10] preethammavin commented on #6541
@Tanvir4x can you check in go.postman.co/me/collections and let me know if you see the collection there?

[2019-05-20 04:15] preethammavin commented on #6520
@kamalaknn does it happen post RBAC as well?

[2019-05-20 04:22] kamalaknn commented on #6520
@ankitjaggi can give more context.

[2019-05-20 04:42] nikitha12 commented on #6462
Yes. Its contains a Port.
Its same bug as in #6364

[2019-05-20 05:25] numaanashraf commented on #5592
@Y-Less The auto-update for Windows app works by downloading the new package and replacing an internal reference. At the moment there are no plans to support custom shortcuts to the internal packages or disable feature or fix updates. Closing this issue for now.

[2019-05-20 05:25] #5592 closed, assigned to nobody

[2019-05-20 05:26] abhijitkane commented on #6538
@ash007-postman More details, please. Can you share snippets of the OpenAPI spec that should be imported in a different way?

[2019-05-20 05:41] imic07 commented on #6536
@saswatds Most developers use Spring Framework, the springs  pathVariable style is {xxx} (RESTFUL), so hope support {xxx} this style. then we can use the api everywhere without changeto :<variable>

[2019-05-20 05:49] kholmukhamedovme commented on #6538
@abhijitkane here you are.

[code]

Just import it in Postman, then go to the request example and you'll get:

[code]

[2019-05-20 06:37] ShivaniSain28 commented on #4401
Hi,
I am also facing the same issue. Not syncing on my device and some missing requests. Please help. I have updated my postman as well.

[2019-05-20 06:40] rawkartoffel commented on #6420
@harryi3t I saw this when it updated on Friday, thanks for informing me!

[2019-05-20 07:17] webhacking commented on #4009
-1

[2019-05-20 07:53] codenirvana commented on #6523
@dkonyayev You are right, we've added support for this in v7.0.9. Refer: https://github.com/postmanlabs/postman-app-support/issues/4631#issuecomment-477766260

[2019-05-20 08:31] Kapcash commented on #6364
I'm still facing this issue in v7.0.10 :/

[2019-05-20 08:58] lwiecek commented on #4154
I'm using Postman `Version 7.1.0 (7.1.0)` and automatic formatting doesn't work here.
I looked at available shortcuts and Cmd + B isn't listed under `Postman -> Preferences -> Shortcuts`.

[2019-05-20 09:12] sujayvenaik commented on #4154
Hey @lwiecek
For the data types, postman supports beautifying, a `Beautify` button comes on the right end.
Also, cmb+b is not documented but essentially has the same functionality that the Beautify button will do.
![image](https://user-images.githubusercontent.com/11532114/58010043-41308180-7b0d-11e9-8a1d-489fd609fff4.png)

[2019-05-20 09:27] lwiecek commented on #4154
Hi @sujayvenaik
Yup, it works there (sorry I haven't checked that earlier)

My issue is that I'm not able to use Cmd + B in collection's request example.

<img width="923" alt="Screenshot 2019-05-20 at 11 27 06" src="https://user-images.githubusercontent.com/3070150/58011290-3a484580-7af2-11e9-8cb3-ca87c4a9267b.png">

[2019-05-20 09:30] cyrielle-hada commented on #6321
@abhijitkane all reports indicate that it's been fixed.

[2019-05-20 09:54] abhijitkane commented on #6321
@cyrielle-hada Great! Closing this.

[2019-05-20 09:54] #6321 closed, assigned to ankitjaggi, ankit-m

[2019-05-20 10:22] dwadp opened #6547 "Postman native app didn't show any interface on linux"
**Describe the bug**
Postman native app is running correctly, but after the loading screen, the app shows nothing to the screen, there are no interface showing, only the icon of the app shows on my dock menus. But there are no errors, i have followed the guidlines on installing postman on the official documentation.

**To Reproduce**
Steps to reproduce the behavior:
1. Start the app by double clic

[2019-05-20 12:33] e-g-hategan commented on #6018
That's a nice workaround, thank you.
I think such a feature should be a "first class citizen" in Postman.

[2019-05-20 12:57] sujayvenaik commented on #4401
Hey @ShivaniSain28
What version and platform are you currently on?
Also, can you elaborate on the issue? You are not able to get the requests created by others or your data is not syncing?

Also, attach the logs from View -> Developer -> View Logs in Finder.

[2019-05-20 13:10] numaanashraf commented on #6547
@dewaadiperdana Could you send us the application logs to help@getpostman.com? You can find them as `~/.config/Postman/logs`. Please mention this issue in the email subject - "Logs for GitHub #6547"

[2019-05-20 13:15] vikiCoder commented on #5551
Hi,

You can define the values for script column as a string using double quots (`"<script>"`). And quots inside the script can be escaped by using it twice (`""`). Below is a sample CSV file which will produce desired result as you want(note the escaped quots`""` in script):

[code]

[2019-05-20 13:26] lemaireo commented on #6521
I solved the probleme by deleting the AppData\Roaming\Postman repository

[2019-05-20 13:29] dwadp commented on #6547
Ok i will

[2019-05-20 13:37] gopikrishna4595 commented on #6524
Checked in Windows Platform, issue is fixed in v7.1.1 .

[2019-05-20 13:45] filfreire commented on #6524
@numaanashraf on Mac seems the issue was fixed in version `v7.1.1`

[2019-05-20 14:02] codenirvana commented on #6364
@darrelldraney @arnolde @dheeraj2dj This is fixed in the latest version of the Postman App (v7.1.1).

[2019-05-20 14:03] codenirvana commented on #6341
@Kapcash This is fixed in the latest version of the Postman App (v7.1.1).

Closing as duplicate of #6364

[2019-05-20 14:03] #6341 closed, assigned to codenirvana

[2019-05-20 14:04] codenirvana commented on #6462
@nikitha12 This is fixed in the latest version of the Postman App (v7.1.1).

Closing as duplicate of #6364

[2019-05-20 14:04] #6462 closed, assigned to codenirvana

[2019-05-20 14:48] Poltergeisen commented on #4751
@jzabroski I was able to get it to return pretty easily using the git bash shell and piping the output to a file.

But it is difficult to share sample requests with real files to other developers on the team with this size limitation. Unfortunately even VSCode slows down and becomes close to unusable with the size of the files that I'm loading. I think it's just a limitation of electron.

[2019-05-20 14:57] jzabroski commented on #4751
If you're using VSCode, are you familiar with the httptests add-in.  you literally just define tests in API Blueprint style markdown.   It's super elegant and low tech for basic smoke tests.  The nice value add with Postman is all the goodies around debugging stuff.  John Papa and Jon Galloway did a VSCode break-out session last year where I learned a ton of VSCode tricks.

[2019-05-20 15:07] zgirod opened #6548 "Ability to duplicate an example"
**Is your feature request related to a problem? Please describe.**
It is frustrating that you can duplicate requests to quickly copy/paste/modify however you cannot duplicate examples to quickly copy/paste/modify examples.

**Describe the solution you'd like**
I would like the ability to duplicate examples.

**Describe alternatives you've considered**
Manually create each example from scratch each

[2019-05-20 15:09] sl4m commented on #6525
v7.1.1 exhibits same crash behaviour

[2019-05-20 15:11] saswatds commented on #6516
@mubashir3gca @rubenmelcon The patch has been released as part of Postman App v7.1.1
You can go ahead and test it out. I will close this issue once I get a confirmation on your end.

Thanks.

[2019-05-20 15:13] saswatds commented on #6545
Hi @Dach0, The patch has been released as part of Postman App v7.1.1
I will be closing this issue as I am tracking this issue here https://github.com/postmanlabs/postman-app-support/issues/6516.

If you are still facing this issue feel free to comment on the above-mentioned issue.

Thanks

[2019-05-20 15:13] #6545 closed, assigned to saswatds

[2019-05-20 15:16] saswatds commented on #6534
Hi @Yajan @BCsRock @nilanjanray The patch has been released as part of Postman App v7.1.1
I will be closing this issue as I am tracking this issue here #6516.

If you are still facing this issue feel free to comment on the above-mentioned issue.

Thanks

[2019-05-20 15:16] #6534 closed, assigned to saswatds

[2019-05-20 15:25] carolin-postman opened #6549 "Team size on free accounts is capped at 5?"
**Describe the bug**
A tooltip in the team management page states that I can only have a max of 5 users on my team but in the [documentation on collaboration](https://learning.getpostman.com/docs/postman/launching_postman/collaboration/#usage-limit-for-free-users), it says free teams "However, note that Postman does not impose any limit on the number of people you can invite." Which one is accurat

[2019-05-20 15:30] zihotki commented on #6296
Postman 7.1 - issue can still be reproduced on my machine. Even installer fails to start.

[2019-05-20 15:40] preethammavin commented on #6549
@carolin-postman the initial free team is started at 5 slots when less than 5 users are added in the team. As and when more users are added we expand the slots .

[2019-05-20 15:40] #6549 closed, assigned to nobody

[2019-05-20 16:12] ThePatrickMartin opened #6550 "Version 7.1.1 Hawk Payload Hashing Difference"
Since 7.1.1, the payload calculated by Postman for POST request is differing from that calculated by Hawk.net.

[2019-05-20 16:34] rubenmelcon commented on #6516
Hi @saswatds:

I just tested the new version and it's working for me

Thank you very much

Kind Regards

Ruben

[2019-05-20 16:55] daokrajaih commented on #6487
Hi Kamalaknn,
My co-worker was able to share the collection from Team Workspace into personal workspace and can view the tests in the correct order now.

[2019-05-20 17:19] #6516 closed, assigned to saswatds

[2019-05-20 17:27] cyrielle-hada commented on #6328
@preethammavin similar issue is happening for the `collaboration skill`.
Here's the current behavior: https://www.loom.com/share/1b58dc82e7554c5fb031e29f27e32649.

[2019-05-20 17:28] cyrielle-hada opened #6551 "Bootcamp Collaboration skill walkthrough doesn't take the user further"
**Describe the bug**
The walkthrough for the Collaboration skill stops at 30% completed and doesn't indicate that the lesson is over.
See screencast to understand the current behavior: https://www.loom.com/share/1b58dc82e7554c5fb031e29f27e32649.

**To Reproduce**
1 - Click on Bootcamp.
2 - Click on the Collaboration lesson
3 - Click on Learn
4 - Stat the walkthrough - Click on Invite 0% > Enter an

[2019-05-20 17:32] sujayvenaik commented on #6505
hey @doverby0122
We have pushed out a fix for this in v7.1.1
Please update to the latest version and let us know if the issue is fixed for you.

[2019-05-20 18:14] bret-peterson commented on #2512
+2 :)

[2019-05-20 18:21] JP-from-Postman commented on #6531
Thanks @godfrzero. Monitors are running again, _but_ it looks like the environment ownership is off as well. Because of this, the app is not resolving the URL correctly.

Example:

URL in app:
`{{api_url}}/endpoint?parameter={{param_value}}`
URL in request sent by monitor:
`%7B%7Bapi_url%7D%7D%2Fendpoint%3Fparameter%3D%7B%7Bparam_value%7D%7D`

[2019-05-20 18:26] tparikka opened #6552 "Postman App Icon Not Visible In Windows"
**Describe the bug**
On Windows 10 x64 Build 1809 with Postman x64 7.1.1, the app icon does not display in the Start Menu or in the Taskbar when the app is running.

**To Reproduce**
Steps to reproduce the behavior:
1. Install Postman 7.1.1 on Windows 10 Build 1809
2. Launch the app, or check the Start menu

**Expected behavior**
The Postman icon should be registered in the shell and visible in Ex

[2019-05-20 18:41] pabloleone commented on #3804
I'm facing the same issue. Seems that postman is using Chrome cookies and it depends the session you have opened the response you'll get from postman. Chrom is not using the session when requesting from a different domain and that's why you get different responses. I'm in hell trying to see how to prevent this to happen.

[2019-05-20 18:55] routinet commented on #3418
@a85, I think you misunderstand the feature request.  The comment posted by [logiclabs](https://github.com/postmanlabs/postman-app-support/issues/3418#issuecomment-383723845) gets this job done, and conforms to other behaviors already found in Postman.

For example, when creating a collection, I have the option of setting an authorization regime.  If I do, that regime is, **BY DEFAULT**, propagate

[2019-05-20 19:05] vikiCoder commented on #6550
Hi @serpien73

I tried to reproduce it with [hawk authentication endpoint](https://docs.postman-echo.com/?version=latest#843acf02-a33c-c4bb-d742-c07b9212e4b0) of [postman-echo.com](https://docs.postman-echo.com) but it seems to be working fine for me. Can you provide following details for us to debug the problem

1. Which version of Postman app you were using before 7.1.1? Was the same request wor

[2019-05-20 19:24] serpien73 commented on #6550
It was either 7.0.9 or 7.1.0. Here is the raw request/response:

POST /api/emailgroups/SETDLR_01013_Inventory_Manager/AddGroupMember
Accept: application/json
Content-Type: application/json
Authorization: Hawk id="MKxXFY6pYzaL", ts="1558380038", nonce="5IlSLo", hash="gXL14rn+O1BBehHip/qJ2tADXO7sIKmYsWgL3wSC1gI=", mac="wVn+vi9emEjr93jDJWfHWiSdbAxraX4gACgc8SzUnnw="
User-Agent: PostmanRuntime/7.13.0
C

[2019-05-20 19:52] serpien73 commented on #6550
I'm not sure which version but it had to have been either 7.0.9 or 7.1.0. Here are the results from posting some JSON to our internal endpoint, along with the Hawk log error from our side, plus the Hawk authentication header calculated by Hawk on the postman echo side when we posted the exact same JSON:

From Postman Console
====================
POST /api/emailgroups/SETDLR_01013_Inventory_Manager

[2019-05-20 20:01] tparikka commented on #4751
I run into the same issue on this with a SOAP response of about 3.2 MB. The response body is a SOAP envelope wrapping an encoded SOAP message body that is about 3.1 MB, in a single line, coming from a WCF service.

[2019-05-20 20:06] ThePatrickMartin commented on #6550
We are using [Hawk.net](https://github.com/pcibraro/hawknet/blob/master/HawkNet/Hawk.cs) by Pablo Cibrero. It appears that our library is calculating the hash differently than postman's Hawk implementation.

It would be ideal to simply have an option in postman to not pass the hash in the Hawk header.

[2019-05-20 20:14] mcurrao commented on #4555
Hey there. Faced same issue here now.
First, I would like to say I completely agree with @jmini 's expectation on encoding ( [Related comment on same thread](https://github.com/postmanlabs/postman-app-support/issues/4555#issuecomment-413772061) ).

I had to debug down to Spring's inner `ExtendedServletRequestDataBinder` to realize I was receiving the date as '2017-08-31T00:00:00.000 05:00' instead

[2019-05-20 21:05] dbkaynor opened #6553 "Variables not being decoded in code view."
I run the following Pre-request scripts:
----------------------------------------------------
//The following is for running the test from postman
console.log(typeof data.longitude)
if (typeof data.longitude == 'undefined') {
    pm.environment.set("longitude", "-121.427703");
    pm.environment.set("latitude", "38.590742");
    pm.environment.set("result", "SAC");
    console.log(">> " + pm.envir

[2019-05-20 21:44] bardiaborhani commented on #6545
Hi @saswatds  I have v7.1.1 but am still having this issue

[2019-05-20 21:51] saswatds commented on #6545
@bardiaborhani The issue here was that in windows os, additional `/` was getting added to absolute. Are you facing the same issue. If this is not the case then can you create a new issue to help us understand your problem better and triage it accordingly?

[2019-05-20 21:56] bardiaborhani commented on #6545
@saswatds I was able to fix the issue by placing the files I want sent by Postman in Postman's default directory "C:\Users\[user_name]\Postman\files"

[2019-05-21 00:26] chrisdeso opened #6554 "Favicon Upload (< 1kb) Throws Error"
**Is your feature request related to a problem? Please describe.**
Uploading a favicon that's less than 1kb throws an ambiguous error.

**Describe the solutions/alternatives you'd like**
- Documentation on the requirements for a favicon upload
- Error messages that indicate whether or not the size/file-type isn't supported

**Additional context**
[Filed by Postman]

![Screen_Shot_2019-05-20_at_7_1

[2019-05-21 00:53] ash007-postman opened #6555 "Usage of "Shared History" not getting updated after clearing history"
**Describe the bug**
Usage of "Shared History" not getting updated after clearing history

**To Reproduce**
Steps to reproduce the behavior:
1. Go to ' History'
2. Click on 'Clear all.'

**Expected behavior**
Once you clear the History, the usage for "Shared History" should get updated.

**App information (please complete the following information):**
 - App Type-Native App
 - Postman Version - 7.

[2019-05-21 01:20] rophy commented on #5908
@numaanashraf   Knowing it might be un-friendly, could you kindly comment how to obtain the request ID?

[2019-05-21 01:46] xiandadaa opened #6556 "This file resides outside the working directory. Collaborators might not have the same file path."
After being updated to 7.x, you cannot upload files like an array。Unable to read files outside of working directory

![image](https://user-images.githubusercontent.com/27729133/58062530-3d543c00-7bad-11e9-8392-e5a5cf505c43.png)
![image](https://user-images.githubusercontent.com/27729133/58062543-4b09c180-7bad-11e9-8a7b-6e211ca612a6.png)

[2019-05-21 03:35] preethammavin commented on #6151
We have pushed multiple fixes around this issue , closing the thread for now. Do reopen the thread if the issue persists.

[2019-05-21 03:35] #6151 closed, assigned to ankit-m, preethammavin

[2019-05-21 04:22] kthulsidoss opened #6557 "Need to clear the cookies"
Please provide a snippet for clearing the cookies .. mostly i believe that this needs to be placed top of the script.

because of this newman is caching the responses and reporting false positives.

[2019-05-21 04:54] abhijitkane commented on #6553
@dbkaynor Do you see the updated values of longitude/latitude/result in the quick-look environment dropdown (the eye icon on the top-right)?

If yes, these should be replaced in the generated code snippet. If not - could you share a screenshot showing the environment dropdown and the code window?

[2019-05-21 04:59] shamasis commented on #6557
Cookies cannot be manipulated using scripts yet. It’s a limitation that we are addressing in the near term. Closing as duplicate of https://github.com/postmanlabs/postman-app-support/issues/5215

[2019-05-21 04:59] #6557 closed, assigned to nobody

[2019-05-21 05:11] shamasis commented on #6543
The additional context you provided is the recommended way of sharing sensitive information. Can you elaborate on what is getting in the way of doing that? You can have a shared environment where teammates can put in their own tokens.

[2019-05-21 05:25] shamasis commented on #6528
Yep. Agree.

[2019-05-21 05:27] baileylo commented on #6543
@shamasis This is what I'm seeing:

Step 1: Set Auth For Route
<img width="965" alt="Screen Shot 2019-05-20 at 10 24 32 PM" src="https://user-images.githubusercontent.com/145345/58070512-2e8a6c80-7b4e-11e9-9432-b14ff8525ee4.png">

Step 2: Select an Existing OAuth Token
<img width="965" alt="Screen Shot 2019-05-20 at 10 24 41 PM" src="https://user-images.githubusercontent.com/145345/58070511-2e8a6c

[2019-05-21 05:31] saswatds commented on #6556
Hi @xianda666
Prior to v7.1.0 postman did not sync file paths across the different apps. The current behavior is as follows

If a file is selected inside of the working directory we save the relative path to file
If a file is selected outside of the working directory we save the absolute path to the file.
By default, postman does not trust absolute paths. You can already see that the app is alread

[2019-05-21 05:31] appurva21 commented on #6306
@p00j4
Can you send us the screenshots from:
**View -> Developer -> Show DevTools (Current View) -> Console Tab**
for the Postman console window after it crashes.

[2019-05-21 05:33] shamasis commented on #6528
We need to use the following intents to decide on formatting:

1. Content type
2. Auto detection for small response sizes and maybe improve that too.
3. User’s last selection

[2019-05-21 05:36] hvritual opened #6558 "mac v7.1.1 crash"
after auto update v7.1.1,  run app is normal, but post api request eg.(https://www.baidu.com) ,it's crash and not any output log(maybe I can't find),
normal api before update also can't request, dut to crash.

runtime environment: mac mojave 10.14.4

[2019-05-21 05:37] ravibhagat opened #6559 "Can not select language under code section"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**App information (please complete the

[2019-05-21 05:37] saswatds commented on #6543
Hi @baileylo, yours is an excellent use-case for using postman environments. Here is a blog post that explains how you can use environment variables within postman https://blog.getpostman.com/2017/12/29/10-tips-for-working-with-postman-variables/

It would look something like this
<img width="1134" alt="Screenshot 2019-05-21 11 06 59" src="https://user-images.githubusercontent.com/8796447/58070948

[2019-05-21 05:39] abhijitkane commented on #6559
@ravibhagat Can you try hovering your cursor over the Java/Javascript entries? This should open a second-level menu. They support multiple variations, so they aren't selectable by themselves.

[2019-05-21 06:06] abhijitkane commented on #6538
@kholmukhamedovme This PR (https://github.com/postmanlabs/openapi-to-postman/pull/62/files) should fix the problem. We'll include this in the next release of Postman. Thanks for reporting this.

[2019-05-21 06:15] ravibhagat commented on #6559
@abhijitkane I have tried both ways neither click nor hover works! But if I want to select any language which do not have multiple variation then it works fine.

[2019-05-21 06:19] numaanashraf commented on #6559
@ravibhagat This looks like its a user interface bug. The horizontal scroll inside the dropdown looks like the second-level menu is opening within the scroll. Could you try scrolling right inside the dropdown to access the second-level menu?

<img width="725" alt="Screenshot 2019-05-21 at 11 48 12 AM" src="https://user-images.githubusercontent.com/3295568/58072800-7517af80-7bbe-11e9-99fe-f972ca77d

[2019-05-21 06:21] numaanashraf commented on #6559
@ravibhagat We are tracking this as a bug internally and we'll fix this in the upcoming releases.

[2019-05-21 06:24] numaanashraf commented on #6558
@hvritual We are having trouble reproducing this at our end. It'll help a lot if you could send us the application logs found in `View > Developer > View logs`. Please send these logs to `help@getpostman.com` with the subject "Logs for GH#6558"

[2019-05-21 07:11] vladdeSV commented on #6555
*I originally submitted this issue via mail*

I am using the OSX version of Postman.
Currently using 7.1.0, but I noticed the issue in 7.0.9.

We have two shared workspaces, the default "Team Workspace" and a project specific project. None of them have any stored history.

Using the online Dashboard I also see the same number of Shared History, so I do not believe this is only related to the appli

[2019-05-21 07:18] f3rgames commented on #6537
Hi @saswatds, thanks for your replay,

I have used a dummy key like you said, and it work.
The problem was that i though that the key was the combo "File".

[2019-05-21 07:46] abhijitkane commented on #6508
@cyrielle-hada This will be fixed this week.

[2019-05-21 07:52] codenirvana commented on #6537
@f3rgames This is fixed in our Canary channel (version 7.1.1-canary03) https://www.getpostman.com/downloads/canary

Let me know if the issue persists, will update once the issue is fixed in our stable channel.

[2019-05-21 07:59] Tenaciousrm opened #6560 "Postman crashes after sending part of a runner"
Hi

We are experiencing problems since Postman updated to version 7.1.1 on Friday. The runner starts off pretty fast through iterations but as it progresses it gets slower and slower until Postman eventually crashes.

We have been forced to divide our data to a maximum of 300 iterations which is not great considering that we need to run 50,000 iterations per file. This results in working through t

[2019-05-21 08:10] vrolijken commented on #6482
My use case is that the API that I want to test is generating OpenAPI documentation. The whole API document doubles as a JSON schema. From this larger schema I'd like to validate one request/response, which is why I use a part of a larger schema. The example above is an attempt to show this behaviour with minimal code, hopefully making it easier to understand. The reason I add the globalSchema is

[2019-05-21 08:26] ShivaniSain28 commented on #4401
Hello Sujay Venaik,
 ,
I am using Postman version V 7.1.0 on windows platform. (win32 10.0.17134 /
x64).

I was login on my mac system (V 7.0) and on my windows system as well. I
have moved requests using drag and drop in between collections. Now a
request is not showing on my windows system postman. I have tried re-login
and syncing many times but still my request is missing. If on windos system

[2019-05-21 09:04] vdespa commented on #6560
I have tried a similar scenario on a macOS machine and experienced a considerable lag between the requests. The Collection Runner interface was unresponsive.

[2019-05-21 09:05] abhijitkane commented on #6500
Happening due to a bug in the SDK that generates malformed collections. Pushing a workaround in the OpenAPI importer - https://github.com/postmanlabs/openapi-to-postman/pull/63

[2019-05-21 09:21] KJohn2q opened #6561 "upload multiple images"
**Describe the bug**
recept one image while upload multiple images

**To Reproduce**
Steps to reproduce the behavior:
1. input the  url
2. select two images as  params
3. click send

**Screenshots**
![image](https://user-images.githubusercontent.com/20499046/58083805-49abb980-7bec-11e9-952f-73b3f56bd6d5.png)

**App information (please complete the following information):**
 - App Type [php web app

[2019-05-21 09:31] rathodamol opened #6562 "Search the variable in Environment quick look"
Current situation:

My environment quick look screen has got lots of variables and at times I have to scroll too much to go to the exact variable.

Expected: A small search input box to search the variable name which will populate the results (Like Typaheads or something). It can increase the usability.

[2019-05-21 09:46] donald-jackson commented on #2458
@codenirvana is it possible to make this a configuration option? all legacy collections using Hawk are breaking now because they were implemented without payload hashing.

[2019-05-21 09:50] ravibhagat commented on #6559
Yes its visible after scrolling horizontally, but in that case main language itself is not visible :)

![Capture](https://user-images.githubusercontent.com/17745162/58086240-e44fcc80-7bdb-11e9-9ab4-17cea28c9c93.PNG)

[2019-05-21 09:54] AngelLopezBellmont commented on #5426
Superwe can not wait for it :)

[2019-05-21 10:05] ASHKARAN commented on #5905
Me too
Ubuntu 18.04

[2019-05-21 10:06] Tenaciousrm opened #6563 "Postman continues to run a runner in the background when paused"
Hi

When I execute a runner using Postman v7.1.1 on a Windows 10 machine and then pause it to check the console log that it executed correctly, it continues to run despite being paused. The runner window shows that it has been paused but the console log shows that it is continuing to run.

As a result, when I then press the pause button a second time to release the pause and continue the run I get

[2019-05-21 10:08] mikkelkn commented on #6443
FYI: I had the same problem. Turns out the app was just displayed in fullscreen :-)

[2019-05-21 10:14] Tenaciousrm opened #6564 "Postman insists on upgrading even when set to not update automatically"
Hi

I am using Postman v7.1.1 on a Windows 10 machine.

This version is giving problems per a recent post so we tried downgrading to an earlier version and using that. We could downgrade and that version works fine.

The problem is that when we set Postman to not automatically upgrade, it does anyway and then when Postman is restarted, we have to do this all over again.

[2019-05-21 12:30] doverby0122 commented on #6505
@sujayvenaik Success! Thank you!

[2019-05-21 12:33] chrisj-ifs commented on #6526
I'm not thinking it's an variable issue most of my variables are set from the previous request. I followed your instructions adding the console output snippet to the first two POST's since it seems to be where the "JSONError: Unexpected token u in JSON at position 0" message is coming from and the Monitor Console displayed the access token info see pic.

![image](https://user-images.githubusercont

[2019-05-21 12:49] m3dbedb commented on #6446
History deletion does not breaks postman anymore. I would see if an issue with API capture appear when Postman crashes in other situation. Easiest way to crash Postman is to make mistake in cherio expression like console.log some complex object

[2019-05-21 13:11] kamalaknn commented on #1669
Hi everyone,

GraphQL support is now available on the canary channel - [download here](https://www.getpostman.com/downloads/canary)

This version supports

1. Sending GraphQL queries in request body as POST requests
2. Support for GraphQL variables
3. Creating APIs in Postman with GraphQL schema type
4. Query autocompletion integrated with user defined GraphQL schemas, Coming Soon!

Please give it

[2019-05-21 13:14] labifrancis opened #6565 "Allow deleted requests to be restored"
**Is your feature request related to a problem? Please describe.**

For now, only deleted **collections** can be restored from the trash but deleted **requests** can't be restored. When a user creates a request and deletes the same request, it can't be recovered.

**Describe the solution you'd like**
When a request is deleted, it should be moved to the trash so that the user can recover it later i

[2019-05-21 14:33] emssw opened #6566 "Not all request headers being sent"
**Describe the bug**
A clear and concise description of what the bug is.
Not all requested headers are being sent in the http request when clicking on SEND button

**To Reproduce**
Steps to reproduce the behavior:
1. Go to a request tab in the UI and create a request with multiple headers
2. Open the Postman console
3. Click the send button
4. Review the request in Postman console, compare headers

[2019-05-21 14:44] GeorgeFlorian commented on #5905
Since I couldn't use Postman and there is no fix and nobody gives a crap I will close this.

[2019-05-21 14:59] kamalaknn commented on #6524
We have pushed a fix for this in v7.1.1. Closing this now.

[2019-05-21 14:59] #6524 closed, assigned to nobody

[2019-05-21 15:00] #6505 closed, assigned to ankitjaggi, kamalaknn, preethammavin

[2019-05-21 15:00] kasimdoctor commented on #5905
This workaround seems to be the resolution. @numaanashraf please confirm if that's the case or if it will be fixed for all use cases. Thanks!

[2019-05-21 15:01] kamalaknn commented on #6527
We have pushed a fix for this v7.1.1.

Closing this now. Please update and let us know if the issue still persists.

[2019-05-21 15:01] #6527 closed, assigned to nobody

[2019-05-21 15:44] rdnt commented on #1667
Electron is basically a browser, so if you could provide an actual browser pane so that we can do our authentication workflow and keep the cookies, that'd be great! Plus, no need for a chrome extention if it's implemented that way. Just some ideas, not sure if actually feasible.

[2019-05-21 16:28] wilkerlucio commented on #5905
@GeorgeFlorian I would rather keep it open, it still a problem and closing it will make seem like its not.

[2019-05-21 16:41] GeorgeFlorian commented on #5905
Yes, but keeping it open won't fix it. I am sure that one of the devs saw this topic and the issue is on the to-do list already.

[2019-05-21 16:57] shawndrape opened #6567 "Allow raw text input from httpie format"
**Is your feature request related to a problem? Please describe.**
Our team supports using httpie and Postman, and while we can export one team member's requests from Postman to httpie it's more difficult to share an httpie request and have it used in Postman

**Describe the solution you'd like**
Allow httpie markup in the raw text import utility

**Describe alternatives you've considered**
No spe

[2019-05-21 17:04] RomuloVHSYS commented on #3117
After exploring this new feature a while, i think it don't fits on what this issue requests, that is show raw body on the [postman documentation](https://learning.getpostman.com/docs/postman/api_documentation/intro_to_api_documentation/) properly documented.
If the idea is use the schemas for generating docs(what is working well), so docs should accept all properties that this schemas are using, l

[2019-05-21 17:06] batjko commented on #5680
Worked for me as well. Just using the GUI extractor (in Ubuntu 18.04) seems to have messed some stuff up.

[2019-05-21 17:28] anishkny opened #6568 "Parse error when hitting a SAM local POST API that returns a 202 with empty body"
**Describe the bug**

"Could not get any response"/"Parse error" when hitting a SAM local POST API that returns a 202 empty body.

**To Reproduce**

[code]

[code]

[code]

[code]
Goto Postman and send a POST to http://localhost:3000/hi.

**Expected behavior**
Status 202 Accepted with empty body should be shown by Postman.

**Screenshots**

**App information (please complete the following informat

[2019-05-21 17:31] wilkerlucio commented on #5905
@GeorgeFlorian for a lot of projects the issue tracker **is** the to-do list. Unless you know something specific about Postman process I would consider it is. So closing is like removing it from the to-do list. Thanks for reopening :)

[2019-05-21 17:51] vikiCoder commented on #6098
Hi @texaskiwi

I tried to reproduce this problem in the latest version(v7.1.1) of postman app, it is working as expected in it. Let us know if it still happens to you in the latest version otherwise we can close this issue.

[2019-05-21 17:51] shirshak55 commented on #1667
@SHT no it may work for ur use case only. Sometime we like to test on real browser because we check for user-agent, distil bot checker etc.

[2019-05-21 18:40] iFreeon commented on #6512
The subscription has not been upgraded to version 7.  If you think that is the issue, I'll get the admin to upgrade it and see if that helps.

Also you mentioned only the initial values are synced.  I'm not sure that makes a lot of sense.  What is the purpose of current values?

[2019-05-21 18:50] vikiCoder commented on #6307
Closing this as a duplicate of https://github.com/postmanlabs/postman-app-support/issues/6275.

[2019-05-21 18:50] #6307 closed, assigned to nobody

[2019-05-21 19:10] rdnt commented on #1667
@shirshak55 agreed, other chrome extensions might influence testing as well. Anyhow, looking forward to the feature coming on stable native Postman.

[2019-05-21 19:19] saswatds commented on #812
Hi @mmathe03 @jasekiw @rafaelkarst @ShruthiMukunda @thegoldenmule We had added the support for file in the collection runner in our latest stable Postman app version `v7.1.1`. You should now be able to run request with form data and binary body within the collection runner.

Closing this issue now. Feel free to create a new issue if you happen to find any bugs

[2019-05-21 19:19] #812 closed

[2019-05-21 19:22] saswatds commented on #5439
Hi @zootyzoot @TriSysBusinessSoftware

We had added the support for file in the collection runner in our latest stable Postman app version v7.1.1. You should now be able to run request with form data and binary body within the collection runner.

The support for files in monitoring is something we want to tackle in the future.

Closing this issue now. Feel free to create a new issue if you happen

[2019-05-21 19:22] #5439 closed, assigned to numaanashraf

[2019-05-21 19:33] saswatds commented on #6561
@KJohn2q We were facing an issue with file references detailed in this issue https://github.com/postmanlabs/postman-app-support/issues/6516#issuecomment-492930576

We have applied a fix in 7.1.1 but it's possible that certain file reference already synced before could be malformed. Can you try reselecting the file are try again? If the issue still persists can you send us what you are seeing in th

[2019-05-21 19:43] saswatds commented on #5578
Duplicate of #6360 #2392

Closing this issue to track the feature at a single place

[2019-05-21 19:43] #5578 closed, assigned to saswatds

[2019-05-21 19:43] saswatds commented on #5566
Duplicate of #6360 #2392

Closing this issue to track the feature at a single place

[2019-05-21 19:43] #5566 closed, assigned to saswatds

[2019-05-21 19:44] saswatds commented on #5486
Duplicate of #6360 #2392

Closing this issue to track the feature at a single place

[2019-05-21 19:44] #5486 closed, assigned to saswatds

[2019-05-21 19:45] saswatds commented on #4568
Duplicate of #6360 #2392

Closing this issue to track the feature at a single place

[2019-05-21 19:47] saswatds commented on #1467
Duplicate of #6360 #2392

Closing this issue to track the feature at a single place

[2019-05-21 19:47] #1467 closed, assigned to a85, saswatds

[2019-05-21 19:49] saswatds commented on #6360
Duplicate of #2392

[2019-05-21 19:57] saswatds commented on #2392
Hello @andreassiegel and everyone we have a version of collection runner that gives you the ability to select and reorder the requests before starting the run. We have released it to our canary app version `Version 7.1.1-canary03`. You can download the canary app at https://www.getpostman.com/downloads/canary

We are still polishing the UI and optimizing the performance, but while we do that, your

[2019-05-21 22:17] chrisdeso opened #6569 "Collection visible in web dashboard throwing access/permission error"
Collection &amp; Environment disappeared from account

[2019-05-21 23:06] JP-from-Postman opened #6570 "App: enable sync to view your team (v7.1.1)"
[Reported by Postman Support, on behalf of user]

**Describe the bug**
User is asked to enable sync to view teams, and no content is syncing to web dashboard. User is on v7.1.1, and enabling sync is no longer an option in app settings.

**To Reproduce**
See internal notes

**Screenshots**
![Screenshot 2019-05-21 at 09 59 35](https://user-images.githubusercontent.com/43283131/58136185-15cb9680-7be2

[2019-05-21 23:43] harold-b opened #6571 "Crash on Windows 10 Pro & macOS with certain URLs Postman v7.1.1"
**Describe the bug**
Postman crashes on macOS and Windows when hitting "Send" with certain URLs on **v7.1.1**
The URLs which caused this were URLs which started with special characters (**!**, **'** or **"**) followed by http/https.

**To Reproduce**
1. Create a new request and paste the following in the URL entry box.
[code]
2. Press "Send".

**Expected behavior**
Perform an HTTP request as usual

[2019-05-22 01:21] KJohn2q commented on #6561
I solved the problem by modification `Working Directory` and revocation,but still can't understand why new file cover the file selected previous while select a new file.

[2019-05-22 01:44] KJohn2q commented on #6561
Sorry, I reply you before read the issue #6516 seriously .I know the cause of the problem now and solved the problem after update the latest version. Sorry again and Thank you.

[2019-05-22 03:17] saswatds commented on #6561
That's great to hear. Thanks for reaching out to us. I will be closing this issue for now.

If you find any issue in the future, feel free to reach back.
Thanks

[2019-05-22 03:17] #6561 closed, assigned to saswatds

[2019-05-22 03:47] sujayvenaik commented on #6487
Hey @daokrajaih
I'll go ahead and close this issue for now then if you face any other issues if related to this post it here else open a new issue.

[2019-05-22 03:47] #6487 closed, assigned to nobody

[2019-05-22 05:27] karuna opened #6572 "Support `application/jose`"
**Is your feature request related to a problem? Please describe.**
I cannot use `application/jose` as content-type

**Describe the solution you'd like**
There's a radio button `application/jose` when I entered something in post body

**Describe alternatives you've considered**
Not possible since there's no option for this

**Additional context**
`application/jose` is valid and has rfc: https://too

[2019-05-22 06:03] dotancohen commented on #1257
@aaroncrawford : You mean Ctrl-Alt-1, Ctrl-Alt-2 :)
Yes, I agree that would be absolutely terrific. Most of the time we are interested in the actual _response_, and a good way to navigate the response would be very helpful.

[2019-05-22 06:59] pachulo opened #6573 "Update snap"
**Describe the bug**
The latest version of Postman is not available as snap.

**To Reproduce**
Steps to reproduce the behavior:
1. execute `snap info postman`
2. See output

[code]

**Expected behavior**
The latest version (7.1.1 right now) should be available in some channel.

**App information (please complete the following information):**
 - OS: Ubuntu 16.04

[2019-05-22 08:43] harryi3t commented on #6573
Thank you for bringing this to our notice.
We have released 7.1.1 on the candidate/beta/edge channels

[2019-05-22 08:43] #6573 closed, assigned to nobody

[2019-05-22 08:48] tehho opened #6574 "Add possibility to point to a openapi endpoint of an existing api in APIs Beta"
**Is your feature request related to a problem? Please describe.**
Yes. Would like to instead of open and copy an openapi definition just point to the definition url and be loaded directly

**Describe the solution you'd like**
Add an option in the dropdown to point to an endpoint

**Describe alternatives you've considered**
No alternatives are acceptable :P

**Additional context**
Great feature fo

[2019-05-22 09:17] MisterDuval commented on #4079
+1

[2019-05-22 09:27] aisen0921 commented on #3312
@kthulsidoss
It's still not working.

[2019-05-22 10:24] numaanashraf commented on #6558
Thanks for the logs @hvritual. I've added a screenshot of the crash I noticed in the logs here. We'll get this addressed in upcoming releases.

<img width="803" alt="Screenshot 2019-05-22 at 3 53 58 PM" src="https://user-images.githubusercontent.com/3295568/58167565-d8324080-7ca9-11e9-889c-23cf4eb6bf72.png">

[2019-05-22 10:37] numaanashraf commented on #6571
Thanks for reporting this. I was able to replicate this. I'm attaching a screenshot of the cause of the crash from the logs here and we'll get this resolved in the upcoming releases.

<img width="794" alt="Screenshot 2019-05-22 at 4 05 18 PM" src="https://user-images.githubusercontent.com/3295568/58168299-8b4f6980-7cab-11e9-85a9-d789860a0853.png">

[2019-05-22 10:45] anzhurov commented on #4474
Hello, @Gordiievskyi. Have you found the answer for your question??? I am interested in too

[2019-05-22 10:55] uday-nitjsr commented on #2392
Great to see this feature to be added. The demo looks amazing I will download this app and let you my experience with this

[2019-05-22 11:03] saikrishna953 commented on #6296
Even i am facing the same issue.
Splash screen closes, application exits without showing the usual Postman window.
This is happening for Postman-app-7.1.1-canary03

[2019-05-22 11:11] nanocent commented on #4320
@a85  Feature Request - Add the working directory in postman settings.

Working Directory can be where the collections can be exported to easily and from where files used for file upload can be kept and referenced.
Also, the runner should support relative path and should look up this working directory for any file uploads where complete path is not given.

This will help in manually changing the f

[2019-05-22 11:13] cen1 commented on #2392
A welcome feature but not really what I proposed in #4568, feature request was explicitely for this option to exists outside of the runner.

[2019-05-22 11:24] m3dbedb commented on #6521
Same issue under windows 7 32 bit with Postman 7.1.1

[2019-05-22 11:25] GaraYaka commented on #6533
I have the same issue. When a malformed URL is set and Send, the app crashes.

Malformed URL eg:  https'://service.com
' is the malformed character

Version: v7.1.1
OS: Windows 10 1803 Build 17134.765

[2019-05-22 12:15] numaanashraf commented on #6426
Duplicate of #5591

[2019-05-22 12:15] #6426 closed, assigned to nobody

[2019-05-22 12:16] cniweb commented on #5215
+1

[2019-05-22 12:18] numaanashraf commented on #6439
Thanks for your feedback @trajano. We are working on a way to let you customize these shortcuts and we are tracking this issue  at #2096. Closing this as a duplicate.

[2019-05-22 12:18] #6439 closed, assigned to nobody

[2019-05-22 12:20] numaanashraf commented on #6483
There are currently no plans to disable auto-update for regular/minor releases at the moment. Only major version updates can be disabled.

[2019-05-22 12:20] #6483 closed, assigned to nobody

[2019-05-22 12:22] numaanashraf commented on #6430
Duplicate of #5591

[2019-05-22 12:22] #6430 closed, assigned to nobody

[2019-05-22 14:01] IgorNesterenko opened #6575 "Timestamp generating bug"
**Describe the bug**
Generating {{$timestamp}} doesn't work

**To Reproduce**
Send request with body
{
  "name": "Name{{$timestamp}}"
}

**Expected behavior**
Name65656756767

**Screenshots**
http://joxi.ru/bmoVQj6f3l83gr

[2019-05-22 14:28] wetzesa opened #6576 "Change default setting during the installation"
We install postman on developer clients in a bigger company behind a proxy and with an automated software delivery service to the developers.

Because of this two reasons we have the problem that we would like to give different default parameters during the installation.
It means that we would like to disable the automated update of postman and setup the proxy settings. For other settings it would

[2019-05-22 15:13] molinan2 commented on #4142
Thanks for this, @FelipeCortez! It worked for me. The location in my Mac was: `/Applications/Postman.app/Contents/Resources/app/js/` for `runner.css`, `requester.css` and `console.css`. I modified all of them. Maybe updating the app will cause this to reset, but it's an easy trick to repeat.

Just searched for "Monaco" and deleted it from the line you said:

[code]

The main reason I don't like "M

[2019-05-22 15:30] groggi commented on #6296
@saikrishna953: Could you start Postman in a terminal and provide the output? This way we could check if it is the same or another issue

[2019-05-22 15:49] saswatds commented on #2392
Hi @cen1, we have duly noted your request and absolutely welcome it. Be assured that we are going to constantly iterate over this feature. For the very first iteration, we wanted to try out the selection feature inside the runner and validate that everything works as it's supposed to. And also verify that we are not breaking any well-established workflows our community has already established.

Re

[2019-05-22 15:53] groggi commented on #6296
@numaanashraf Can you provide us with the file path to the file that is accessed and apperently more than 10% of it are corrupt? https://github.com/getinsomnia/insomnia/issues/1104 seems did have a similar issue and I would like to try their fix but cannot find out which file is being accessed here.

[2019-05-22 16:11] saikrishna953 commented on #6296
@groggi This the terminal output

_Disabling GPU
(node:15608) [DEP0061] DeprecationWarning: fs.SyncWriteStream is deprecated.
Main~createDefaultWorkingDir - Default working dir creation already attempted
1558541149078 main info "Booting PostmanCanary 7.1.1-canary03, win32-10.0.17134 on x64"
1558541149080 main info "EventBus~initialize - Success"
1558541149093 main info "UpdateHandler~init - Succes

[2019-05-22 16:39] matt-ball opened #6577 "Allow embedding of documentation + customization of RiP button"
A: Allow embedding of documentation
B: customization of RiP button

These go a little hand in hand as a solution to A) could allow for B) to be solved.

**Is your feature request related to a problem? Please describe.**
a) For those with existing documentation/developer portals which contain multiple sets of documentation (e.g. many collections), it'd be useful to be able to embed Postman document

[2019-05-22 17:11] cyrielle-hada commented on #6521
The problem here was fixed by removing the local data.
To remove the Postman directory
Open `File Explorer` and paste in the Path field
`C:\Users\<user>\AppData\Roaming\Postman`​ and
`​C:\Users\<user>\AppData\Local\Postman`

[2019-05-22 17:37] cen1 commented on #2392
No problem, I'll check it out and give feedback.

[2019-05-22 18:55] chrisdeso opened #6578 "'Something went wrong' being thrown in web dashboard"
[Submitted by Postman Support, on behalf of user]

**Describe the bug**
When in the web dashboard interface, clicking on any action throws the error in the screenshot below and a `429 (Too many requests)` can be seen in the browser's console.

**To Reproduce**
Steps to reproduce the behavior:
1. Navigate to [the web dashboard](go.postman.co)
2. Log in / wait for redirect
3. Click on any link/butto

[2019-05-22 19:02] a85 commented on #6574
@tehho Curious. Where do these OpenAPI definitions live? Source code repo? Deployed server?

[2019-05-22 19:22] tehho commented on #6574
Deployed server. We expose the swagger endpoint of swashbuckle in our aspnetcore and would be nice to point to the index.json deffinition.

But any open json file would be appreciated as a target

[2019-05-22 19:32] saswatds commented on #4320
Hey @nanocent in the latest release of Postman App  `v7.1.1`

* Going to settings will give you the ability to change your working directory.
<img width="685" alt="Screenshot 2019-05-23 00 54 37" src="https://user-images.githubusercontent.com/8796447/58202540-78fa1d80-7cf5-11e9-9d2d-9c01a4072c45.png">

* As part of this release, we also updated runner to support file resolution. If it finds a rela

[2019-05-22 22:57] a85 commented on #6574
We are looking at a 2-way sync between source code repos and Postman. Would that work for you?

[2019-05-22 23:56] Juanca17 commented on #1070
Please implement this!

[2019-05-23 02:02] mokyle opened #6579 "deepin(linux) v7.1.1 crash when send request"
**Describe the bug**
i am use postman native client in deepin15.10.1.
yestoday was good.but today open postman, when send request, is crash . i restart postman
more than once , it alway occur. Below is the command line log:
k-pc:~▶09:47:41 $▶/opt/Postman/Postman
Not disabling GPU
(node:11301) [DEP0061] DeprecationWarning: fs.SyncWriteStream is deprecated.
Main~createDefaultWorkingDir - Default wor

[2019-05-23 05:27] isdzulqor commented on #3845
+1

[2019-05-23 05:56] hvritual commented on #6558
This problem should be related to request url escape ,like http://www.baidu.com escape %20http://www.baidu.com, and application will crash

[2019-05-23 09:02] #6519 closed, assigned to kartikjain26

[2019-05-23 09:24] preethammavin commented on #6565
@labifrancis we support restore functionality on collections to an earlier version for Pro and Enterprise customers. So in case the request was deleted the user can restore to an earlier version of the collection from the changelog.

[2019-05-23 09:24] #6565 closed, assigned to nobody

[2019-05-23 09:26] cyrielle-hada opened #6580 "Both {{collection_uid}} and {{collection_id}} work to GET a single collection"
[Our API documentation ](https://docs.api.getpostman.com/?version=latest#647806d5-492a-eded-1df6-6529b5dc685c)says that we're able to GET a single collection with `collection uid` using the endpoint `https://api.getpostman.com/collections/{{collection_uid}}`.

Currently, the endpoint works **as well** using the` collection_id`.

Is that a bug or the expected behavior?

[2019-05-23 09:34] ravi-9288 commented on #6464
Hi team,
Any update on this?
i am stuck at this point because of the issue

[2019-05-23 10:37] Ayersss opened #6581 "Cannot beautify JSON with variables in request body"
variable :sub_order_id=00011
{
    "merchant_id":{{merchant_id}},
    "mobile":{{mobile}},
    "sub_order_id":{{sub_order_id}}
}
error:could not beautify

but:
{
    "merchant_id":{{merchant_id}},
    "mobile":{{mobile}},
    "sub_order_id": "00011"
}
it is  OK;
why??????

[2019-05-23 12:09] kholmukhamedovme commented on #6538
Hey, @abhijitkane!

I was wrong. I have been writing an invalid OpenAPI definition for examples as SmartBear support says:

https://swagger.io/docs/specification/adding-examples/

![2019-05-23_112847_censored](https://user-images.githubusercontent.com/14802112/58251580-662b2b80-7d7d-11e9-8609-0fe9c4e84f8b.jpg)

But although, if you look at [OpenAPI specification](https://github.com/OAI/OpenAPI-Spe

[2019-05-23 12:14] kholmukhamedovme commented on #6538
Anyways, Postman doesn't import examples properly even with valid OpenAPI definition from SmartBear's point of view.

![Снимок экрана 2019-05-23 в 17 10 44_censored](https://user-images.githubusercontent.com/14802112/58251847-287ad280-7d7e-11e9-8447-91a512ee9f36.jpg)

So leave PR merged or add also support for importing multiple examples.

[2019-05-23 13:28] gepopa commented on #4009
Beer for all the team when postman will support websockets :D

[2019-05-23 13:37] m3dbedb opened #6582 "Ability to mark collection as read-only or unsaved"
**Feature description.**
I use two instances of Postman (portable and regular) for ease of copying snippets from one request to another. It's tiome to time happens that the same collection is opened in two postman windows and I don't remember, in whicj Postman the collection is newer.

**Describe the solution you'd like**
I offer to add checkbox or a lock icon to collection name. If the collection

[2019-05-23 13:55] abhijitkane commented on #6578
@chrisdeso Are there any other errors/messages in the console? The 429 is from sentry, an error-reporting service that we use, and is unrelated to the `Something went wrong` message.

[2019-05-23 14:01] DannyDainton commented on #6581
# To provide more context to the issue:

### Description of the problem

When the `{{var_name}}` syntax is used anywhere in the Request Body, the `Beautify` feature doesn't change the JSON formatting in any way. It also gives the user no indication of the problem or the reason why it didn't work.

The user is just left clicking the button repeatedly and left wondering what happened.

If the `{{var

[2019-05-23 14:08] cyrielle-hada commented on #5464
@preethammavin this issue is happening for me, clicking on the button `Restore` seems to work only for restoring the whole collection but not the **folder**.

<img width="361" alt="Screen Shot 2019-05-23 at 15 06 28" src="https://user-images.githubusercontent.com/47351631/58259506-96b69980-7d6c-11e9-904e-e1e79700e14d.png">

I managed to reproduce it. You can see the screen recording at this link:

[2019-05-23 14:13] abhijitkane commented on #6572
@karuna Are you talking about the options in dropdown when you select raw?
<img width="365" alt="Screen Shot 2019-05-23 at 19 38 45" src="https://user-images.githubusercontent.com/681190/58259626-89aca100-7d92-11e9-81eb-613338f3f897.png">

If `jose+json` is a subset of json, the Content-Type header can manually be modified from the headers tab.  The radio buttons modify the UI for body input.

[2019-05-23 14:20] cyrielle-hada commented on #6580
UPDATE: On the cloud API, it is now supported to be able to access a collection with both the `id` and the `uid`.

[2019-05-23 14:20] #6580 closed, assigned to nobody

[2019-05-23 14:27] Googulator opened #6583 "Windows ARM64 builds"
Windows 10 has recently gained support for ARM64-based platforms, and multiple vendors
are now shipping such laptops. While 32-bit x86 code can run on these machines with emulation,
it would be nice to have a recompiled version available for native ARM64.

[2019-05-23 15:20] ThePatrickMartin commented on #6550
Any update on this issue? Since the update we are no longer able to utilize Postman to test our Hawk-authenticated APIs.

[2019-05-23 16:03] staticvoidmaine commented on #5209
I believe this issue is blocking our customers from accessing their collections which we provide them via postman documentation.

Do you have any updates on a resolution?

Are there any workarounds which would allow our customers to open the collection in postman from their documentation page?

[2019-05-23 16:04] ShogunPanda commented on #5591
I ran in the same issue and @jorgevmendoza fix solved it for me. Kudo man.

[2019-05-23 16:24] jasonchester commented on #5129
+1 this would be a nice feature so I wouldn't have to teach my developers curl...

[2019-05-23 19:42] listenrightmeow commented on #2638
This is an active problem for developers that opt into managing local DNS management with dnsmasq. I struggled to find a solution for a couple days, read this article and modified my hosts file.

Web browsers & curl honor dnsmasq networking while Postman doesn't.

[2019-05-23 20:21] tristanMatthias commented on #1669
@kamalaknn Thanks so much! This is amazing and much needed.

I'm getting an error when trying to generate collections from a schema.gql file. Thoughts?
![image](https://user-images.githubusercontent.com/2550138/58283642-a2e72a80-7d5d-11e9-9baa-12e3d0d3b25c.png)

[2019-05-23 20:34] topicomha commented on #6333
I agree I think a full-screen view of either the Request Area or the Response Area would be very useful. Maybe even a pop-out of some sort to just show that area in its own window.

The side by side helps some but a lot of the time it would help more to have a full-screen view for long responses or big raw requests without all the wrapping of lines.

[2019-05-23 21:50] hindermyertim commented on #6579
Same issue here. On Linux Mint 19.1

[2019-05-23 23:03] alfaproject commented on #1669
Is there any particular reason you don't support GET requests? I know I can do POST, but some of our saved queries can be cached and therefore can be requested using GET (;

[2019-05-23 23:05] Nmirontsev opened #6584 "Increased test execution time"
I am running Postman native app version 7.1.1. on Windows 10 with 16 GB of RAM.

Our test scenario includes running collections with 300-800 requests for 9 iterations (9 different types of user). Run is done through Runner UI (not in common line).
After upgrading to 7.1.1. I noticed that when running starting from 3rd iteration Postman started to add delays between requests. On 8th-9th iteration d

[2019-05-23 23:15] JP-from-Postman commented on #5778
Adding on to this: Add RBAC support to endpoints for all relevant entities.

Example: include roles when getting, updating, or creating Collections

[2019-05-24 01:58] hupo376787 commented on #6333
Totally agree!

[2019-05-24 03:24] preethammavin commented on #6582
@m3dbedb I would like to understand why would want to edit the same collection in two windows. Do you want to copy snippets of code from one request to another of the same collection? If that would be the case, we have introduced forking and merging.

Internally when we want to evolve the collection we fork the collection and modify it and merge it back.
If I were to copy snippets of code from sam

[2019-05-24 05:26] shamasis commented on #6579
Before deep diving, my first order of debugging would be to completely cleanup your Postman app directory and reinstall the app. I have a hunch that the way the app was updated has cause parts of its internal dependencies to remain stale.

cc @numaanashraf is there any link / wiki we can send here as a reference?

[2019-05-24 05:30] numaanashraf commented on #6451
@PingPongSet Do you see any windows appear when you open the app?

[2019-05-24 05:31] numaanashraf commented on #6547
@dewaadiperdana Thanks for sending the logs. We were not able to pick up any anomalies from the logs. We'll try to replicate on "elementary OS 5.0 Juno 64bit" and get back.

[2019-05-24 06:16] kamalaknn commented on #1669
Hey @tristanMatthias

Thanks giving it a try. We are still working on adding support for generating collections from GraphQL schemas - we'll update once they are released.

@alfaproject

We support sending the GraphQL queries in request bodies for GET(and all methods). Please find the screenshot below.

![Screenshot 2019-05-24 at 11 41 15 AM](https://user-images.githubusercontent.com/8401064/58306

[2019-05-24 06:40] abser commented on #4463
It is working from left sidebar only! At least it saved my life!

Thanks!

[2019-05-24 06:54] wxb2dyj commented on #4331
@jengwood  the most version 7.1.1 also has this problem, so I have to downgrade to use old version.

[2019-05-24 07:00] codenirvana commented on #4331
@wxb2dyj That might be because of 301/302 redirect where the original request method is not retained on redirects.
Please confirm if that is the issue. If so, we are tracking that here: #4001

[2019-05-24 07:31] #6384 closed, assigned to ankit-m

[2019-05-24 07:45] smaeda-ks opened #6585 "Merge diff view (web) shows incorrect request method (all requests are marked as GET)"
**Describe the bug**
When I try to merge some changes that are made in a fork collection by clicking `Merge Changes` on the Postman client UI (Native App), it will open a browser window and shows change diff. But in this view, I'm seeing all requests are marked as `GET` method even though I'm making changes to a request which has different request method such as `POST`.

<img width="1126" alt="Scr

[2019-05-24 08:09] m3dbedb commented on #6582
I have two Postman enitities open. I work in one of them and sometimes I copy some code from old collection to new one. Time to time I need to have the 1st collection opened in first instance of Postman, to see some code snippets to copy it to new collection in second instance of Postman. Other time I work on another new collection in first instance of postman and need to see some snippet in old c

[2019-05-24 09:10] andreagubellini commented on #6579
I'm running postman 7.0.7 on Deepin, got it from snap and works fine.

[2019-05-24 09:25] deepakpathania-zz opened #6586 "Version tags "Learn More" redirects to installation and updates documentation"
**Describe the bug**
The Learn More link for version tag (https://go.pstmn.io/version-tags) redirects to installation and updates documentation.

![Screenshot 2019-05-24 at 2 52 39 PM](https://user-images.githubusercontent.com/15071438/58317565-a6e57c00-7e33-11e9-87ca-3ba06f5c5920.png)

**Expected behavior**
The Learn More link should point to the appropriate documentation

**App information (plea

[2019-05-24 09:27] andreagubellini opened #6587 "postman.setNextRequest not working properly after some requests"
**Description**
I have a collection which runs from GitLab CI and before deploying it I'll usually try it in pm collection runner.

The collection has different calls with the same structure based on the same code with different datasets. Something like the following example:
`call 1
call 2
call 3
call 4
call 1
call 5
call 6
call 7
call 1
etc...`
based on "call 1" conditions, the postman.setNextRe

[2019-05-24 09:33] preethammavin commented on #6586
@deepakpathania  the issue has been resolved , thanks for reporting it

[2019-05-24 09:33] #6586 closed, assigned to nobody

[2019-05-24 09:34] #6508 closed, assigned to nobody

[2019-05-24 09:37] preethammavin commented on #6582
When you copy the snippets from on window to another, I am assuming you copy over request data? if you are editing the request, the tab is rendered dirty. Would that not indicate which request you were working on?

[2019-05-24 10:42] Arkemlar commented on #2096
2 years for editable shortcuts feature? I think it not that hard to implement for commercial app...  :anger:   :disappointed:

[2019-05-24 11:31] science695 commented on #5312
Thank you, I can confirm the generated code looks better.

[2019-05-24 11:31] #5312 closed, assigned to nobody

[2019-05-24 11:38] science695 commented on #3213
Is adding file paths to curl code generation something coming in the future?

Multi-part uploads are complicated and many of the code generation languages just ignore it.

[2019-05-24 11:58] science695 commented on #2621
@a85: Can you explain how I could set a collection and be able to switch between DEV, QA, and PROD, and also switch between 3 different test users (API KEYS)?

You've mentioned that is is easily supported, but I can't find the right angle of attack to solve this.

Thanks!

[2019-05-24 12:08] kholmukhamedovme commented on #6538
I was wrong again.

If I use single `example` object:
* I see my example
* But mock service doesn’t work

If I use multiple `examples` object:
* I don’t see my example
* But mock service works

If I try to use both of them:
* Validator says that API specification is invalid and can’t be rendered

So just leave as is. I mean add this PR to release.

[2019-05-24 12:13] m3dbedb commented on #6582
I have two opened Postmans: regular and portable. They keep data separately. If I change some collection request, then save it and close tab, how to find out which Posman have newer version of some collection?

[2019-05-24 12:20] alfaproject commented on #1669
Query parameters, so we are able to HTTP cache a full query

[2019-05-24 12:33] m3dbedb commented on #6469
Postman Version: 7.1.1
OS: Windows 7 32 bit
Video card Intel HD graphics 2000
1. Open Postman with several little collections in workspace.
2. Select first request from a collection
3. Wait 3-5 seconds until postman render new tab
4. hit ctrl+enter
5. Wait for response for 3-5 seconds
5. hit down arrow on keyboard
6. go to step 3
After 8-10 steps screen usually goes black

[2019-05-24 12:34] m3dbedb commented on #5288
The issue is actual for postman 7.1.1 under windows 7 32 bit

[2019-05-24 12:42] m3dbedb commented on #6562
Also it would be good to be able to mark environment/global variables favourite to move them to top

[2019-05-24 14:01] hindermyertim commented on #6579
Ya I tried reinstalling multiple times. Reinstalled from the website, snap, and mint's software manager. Same issue each time.

[2019-05-24 14:18] jrothlander commented on #3796
I'm not completely following what you are trying to do. I am curious if you have looked at using the Postman APIs to do this for you.

As an example, I use the Postman APIs to pull my Postman environments and collections versus having to export them. I pull them down in a VSTS Release step, so that I do not have to download them every time they change. I then use those in another step in my releas

[2019-05-24 14:21] numaanashraf commented on #6564
@Tenaciousrm The update setting controls only major releases, and Postman auto-updates to the latest minor/patch release automatically when it is opened. Could you point us to the problems you are facing with this specific version?

[2019-05-24 14:22] Tenaciousrm commented on #3796
Hi, no. I'm just trying to continue using Postman the way I did on Thursday
last week before the update.

Warm regards

Randell
082 741 6360

On Fri, May 24, 2019 at 4:18 PM jrothlander <notifications@github.com>
wrote:

[2019-05-24 14:25] Tenaciousrm commented on #6564
Hi

I created tickets #6560 and #6563 regarding these problems.

Warm regards

Randell
082 741 6360

On Fri, May 24, 2019 at 4:21 PM Numaan Ashraf <notifications@github.com>
wrote:

[2019-05-24 14:27] numaanashraf commented on #6469
@m3dbedb We are tracking performance issues like these aggressively. If you can give us some data points on the sizes of requests/responses you were dealing with, number of collections in the workspace, open request tabs etc. or any other relevant details, it'll help us set up relevant benchmarks to test against. I'd like to emphasize that performance and a smooth experience is a top priority and

[2019-05-24 14:56] AndreiDMS commented on #1066
+1

[2019-05-24 15:38] hindermyertim commented on #6579
After booting, he's my log. This time I installed from the 64 bit tar.gz from the website. Linux Mint 19.1

Not disabling GPU
(node:19120) [DEP0061] DeprecationWarning: fs.SyncWriteStream is deprecated.
Main~createDefaultWorkingDir - Default working dir creation already attempted
1558712146790 main info "Booting Postman 7.1.1, linux-4.15.0-50-generic on x64"
1558712146791 main info "EventBus~initi

[2019-05-24 15:50] Apostolos-Daniel commented on #3796
Thanks @jrothlander, we haven't actually looked into using the Postman API to get the collections. That's a good idea - we currently simply export the collections we want to run as part of our CI/CD, push to our repo and the collections become part of our build artifact. Thise various collections are then run individually by Newman as a post deployment step.

I guess what I was looking for was som

[2019-05-24 16:11] jrothlander commented on #3796
@Apostolos-Daniel That was the same issue I was trying to resolve, as it was annoying to have to export them and check then into TFS again and again, every time I wanted to make any change. Using the API allows you to pull them from Postman as a step in the release process before you execute the newman step.

If you get a little farther along and would like to see what I am doing, just let me know

[2019-05-24 16:13] cyrielle-hada opened #6588 "Add restrictions on publishing Custom Domains"
**Current behavior**
Any team member - provided that they have the `Editor` role for a collection - can publish the collection under any custom domain listed in the [team settings](https://app.postman.co/settings/team/custom-domains).

A custom domain can be used for publishing docs as long as it isn’t currently in use by another piece of documentation (once it’s been added to the team) - but that

[2019-05-24 16:48] ggutenberg commented on #3463
And 5 months since *that* last comment.  Any progress at all?

[2019-05-24 16:53] a85 commented on #6522
The link should be updated to: https://learning.getpostman.com/docs/postman/launching_postman/settings/

[2019-05-24 17:01] AlexHedley commented on #3796
@jrothlander that sounds like exactly what I want to do, don’t think I saw a way to do it a year ago, I’ll give that a try
Was just hoping to have a better inbuilt/ automated way like they provided with GitHub

[2019-05-24 17:34] chrisdeso opened #6589 "Feature Request: More informative password reset flow"
Closed – please disregard.

[2019-05-24 18:43] #6589 closed, assigned to nobody

[2019-05-24 20:13] JacksonBailey commented on #3631
@codenirvana I have long forgotten the exact scenario I encountered this in and for all I know that feature may have fixed my error. Please feel free to close this issue.

[2019-05-24 20:15] MitchellMcKenna opened #6590 "Add a Shared Instance of Ajv"
**Describe the problem**
I read tv4 is deprecated in favor of Ajv [[1](https://github.com/postmanlabs/postman-app-support/issues/3173#issuecomment-492345566)][[2](https://github.com/postmanlabs/postman-app-support/issues/3199)], however the way you access Ajv is different than how you access tv4. With Ajv you have to require the package and new up a new instance, whereas with tv4 it is available a

[2019-05-24 20:20] ycabranes opened #6591 "Allow custom roles and permissions"
Postman infrastructure lacks allowing the Team Admins to manage the roles and permission that they can assign to the accounts under their teams. Instead, Postman provides FIXED roles with certain permissions that not always fit the needs of the companies that use Postman.

[2019-05-24 23:35] JP-from-Postman commented on #6357
@numaanashraf Another report of this, user attempted using Archive Utility and others and was unsuccessful. Can you assist? Internal notes added.

[2019-05-25 05:59] vloctb commented on #3358
+1 for this feature

[2019-05-25 06:47] lizhuangs commented on #5955
I have the same problem on win8.1.It happened above version 6.0+.I try to set env variable POSTMAN_DISABLE_GPU=true.It works well .Tks~ @numaanashraf

[2019-05-25 08:19] saswatds commented on #6522
This has been fixed

[2019-05-25 08:19] #6522 closed, assigned to saswatds

[2019-05-25 11:43] preethammavin commented on #6582
@m3dbedb we dont officially support Portable, and have little idea of the data management there.
What I could suggest is opening up a new window of the Postman instance and working side by side, to use the tab feature for requests. You will always have an idea on what request you are working on when the tab is dirty. If you would still want to look at how to organise you workflow better, I persona

[2019-05-25 11:43] #6582 closed, assigned to preethammavin

[2019-05-25 18:14] GF-Huang commented on #847
Incorrect again.

--------------------------------------

![image](https://user-images.githubusercontent.com/4510984/58373140-c2e43d00-7f5b-11e9-9580-632ac0fa1751.png)

-------------------------------------------

![image](https://user-images.githubusercontent.com/4510984/58373127-9f20f700-7f5b-11e9-93e7-788bad0f1654.png)

------------------------

![image](https://user-images.githubusercontent.co

[2019-05-26 04:32] sixcorners commented on #3697
Isn't there a login flow that can have us sign in using a browser installed on the system? In addition to supporting U2F it would allow us to not have to sign in to google again. We could reuse whatever sessions we already had with our main browsers.

[2019-05-26 07:29] numaanashraf commented on #5535
@zanisis We are closing this due to inactivity. Please update to the latest version of the app and let us know if you are still facing this issue.

[2019-05-26 07:29] #5535 closed, assigned to nobody

[2019-05-26 09:35] vol24pl commented on #6354
I'm having the same issue.

**Env:** MacOS Mojave 10.14.5 (18F132)

Simple dotnet core webApi on localhost:

`dotnet new webapi`

certificates are added:
[code]

`GET: https://localhost:5001/api/items `

On Postman Console: Error: unable to verify the first certificate
On Safari: Works, displays expected JSON.

After: `Postman -> Preferences -> General -> SSL certificate validation -> OFF` **it wo

[2019-05-26 12:01] krichter722 opened #6592 "Starting download into directory without write permissions appears to be successful"
**Describe the bug**
Downloading a request response to a directory where the user running postman doesn't have write permissions causes a dialog "Download response" to be displayed. It's green bar on the side makes the saving appear successful, but nothing happens. In some scenario, like write permissions of `snap` packages the search for the file can become a time consuming issue.

**To Reproduce

[2019-05-26 12:53] numaanashraf commented on #6039
We are closing this due to inactivity. Please update to the latest version of the app and let us know if you are still facing this issue.

[2019-05-26 12:53] #6039 closed, assigned to nobody

[2019-05-26 12:55] numaanashraf commented on #5201
We are closing this due to inactivity. Please update to the latest version of the app and let us know if you are still facing this issue.

[2019-05-26 12:55] #5201 closed, assigned to nobody

[2019-05-26 14:56] saswatds commented on #847
Hi @GreatFireWall, The Chome browser is able to achieve much lower time due to internal caching.
As of App version v7.1.1, if you hover over the time display you will be able to see with much granularity what aspect of the request is taking so much time.

As an example, for the very first request here the time taken is much longer due to DNS lookup and TCP and SSL Handshake.
<img width="882" alt="

[2019-05-26 22:42] ShohruxYusupov opened #6593 "Postman Runner: Wrong iteration count in .postman_test_run file"
**Bug**
There is a field `count` in exported file from **Collection runner**(Collection runner > Export results). Which means iterations count. But if import that file, iteration executes only one time even if the field `count` is equal to 2 or any other number that greater than 1.

**How to Reproduce**
1. Go to **Collection Runner**
2. Choose any collection to run.
3. Set iterations count to 2 or

[2019-05-27 05:05] shamasis commented on #6592
What is being implied is ... during failure of file write, the toast isn’t showing error.

[2019-05-27 05:13] shamasis commented on #6590
The shared instance concept is something that we deprecated since it was getting in the way of visibility and conflicts with other scripts. It was also causing debugging issues. Having said that, the I understand the pain of logger issue and we are working to wrap AJV constructor to pre-inject console.

Additionally, two scripts in sandbox are isolated from each other, hence even though the older

[2019-05-27 05:14] S-Tasker commented on #4157
Is this possible within Postman/Newman yet? We would love to define simple functions we can use throughout our tests.
For example, we always want to check we match a specific date/time format, it would be great to call a function "isValidDateFormat(string)" rather than copy/pasting into every test the same boilerplate each time.

[2019-05-27 05:37] saswatds commented on #5531
Hey @g0rd, Can you confirm that this issue still persists in our latest version of App v7.1.1.
If it does can you also provide with some more details regarding the size and type of the image or an endpoint we can call from our endpoint to fetch that image.

Thanks.

[2019-05-27 05:58] #3631 closed, assigned to codenirvana

[2019-05-27 06:17] shamasis opened #6594 "[canary] Collection runner breaks when requests of a runner is deleted from builder window"
**Describe the bug**
When a request or folder in delete in the builder view, the selection window in runner get to an inconsistent state.

**To Reproduce**
Steps to reproduce the behavior:
1. Open the runner window
2. Select a collection in the selection section
3. Go back to the request builder and delete a request or folder
4. Check the runner and the request or folder is still visible.

**Expec

[2019-05-27 07:42] karuna commented on #6572
ah ok, I'll just override that from headers tab. it seems that those radio buttons are very counter intuitive then.

[2019-05-27 07:49] m3dbedb commented on #6352
This should not work at all. By using pm.variables.set you address to collection variables, and they are not allowed to be modified while collection run. They are to be pre-defined and you may only read them.
pm.variables.set is not allowed.
[https://hghltd.yandex.net/yandbtm?lang=en&fmode=inject&tm=1558942838&tld=ru&la=1558537344&text=pm.variables.has&url=https%3A%2F%2Flearning.getpostman.com%2Fd

[2019-05-27 07:59] m3dbedb opened #6595 "Method pm.variables.has wanted"
**Feature description.**
It would be useful to be able to check over all variables scopes if variable exist.

**The solution description**
I offer to add new method pm.variables.has
Like variables  access in the request builder do, it is ggod to have such a method to check if variable exist. Example: test checks if variable passed through data set, and if not, we create global variable and Postman

[2019-05-27 08:02] #6364 closed, assigned to codenirvana

[2019-05-27 08:12] preethammavin commented on #6330
@chrisdeso can you share the name of one of the collections to check for errors as I am unable to find any errors on our end.

[2019-05-27 08:28] klemens-u commented on #6352
@m3dbedb: what method would you propose for the described use case?

Similar behaviour in both request builder and runner would be very desireable.

[2019-05-27 08:38] preethammavin commented on #4879
The issue has been solved, with a return to sign in page CTA added

[2019-05-27 08:38] #4879 closed, assigned to elssar, anudeepmedicharla

[2019-05-27 08:43] preethammavin commented on #4916
This issue has been fixed.

[2019-05-27 08:43] #4916 closed, assigned to elssar

[2019-05-27 08:54] pitersO2 opened #6596 ""Initial Value" in Shared Environments should be editable only by the team members with "Edit" permissions"
Nowadays there is possibility to override initial values by all team members. Wouldn't be better to have some permission system adopted to environment scope?
Example: Owner of the environment can give Edit/View permissions to column "Initial Value". But team members can still editing "Current Value" what is ok. Therefore all team members have initial value managed by let's say by an admin of envir

[2019-05-27 09:05] preethammavin commented on #5178
@deeg yes, its a feature as part of paid plan . We have made several updates, @smennesson can you check if its still an issue on your end.

[2019-05-27 09:08] preethammavin commented on #5369
@chrisjohnson sorry for the late reply , the issue has been fixed on our end deployed to production.

[2019-05-27 09:08] #5369 closed, assigned to nobody

[2019-05-27 09:11] #5498 closed, assigned to ankitjaggi, ankit-m

[2019-05-27 09:14] preethammavin commented on #5477
@phramusca can you signout of the account and sign-in again and let us know if the issue persists. Also would suggest to take a backup of the data before you do that.

[2019-05-27 09:15] kartikjain26 commented on #5335
@Hanzelka  can you try to build a new repo and configure a new integration for this following these steps:
https://learning.getpostman.com/docs/postman_pro/integrations/gitlab/
Also make sure you initialise your gitlab repo with an initial commit (opt for Initialise repo with readme file), and you give access-token permissions for reading/writing to that repo.

[2019-05-27 09:23] ash007-postman opened #6597 "Team doesn't reflect in Canary"
**Describe the bug**
Wanted to use GraphQL feature hence checking the same in Canary but unable to see the "team" in Canary though it looks all good in the Postman app(associated with the team)

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Canary
2. Click on Login
3. After logging in, unable to see the team

**Expected behavior**
User should be associated with the team in Canary

**A

[2019-05-27 09:23] ash007-postman opened #6598 "Failure to login"
Failure to login

[2019-05-27 09:26] preethammavin commented on #5464
@cyrielle-hada when you are click on restore it restores to that instance of the collection , in your case the restore button was clicked on the delete folder it went to a state where the folder was deleted. Which in a UI sense looks like it has not restored we will look at giving a better information there. And when you clicked on the restore on the created part it restored to when the collection

[2019-05-27 09:26] #5462 closed, assigned to ankitjaggi

[2019-05-27 09:30] #6598 closed, assigned to nobody

[2019-05-27 09:34] preethammavin commented on #5814
@Diaidis @alot1  we have fixed the underlying issue which was causing this, it should not happen going forward. Feel free to reopen the issue if it is not fixed.

[2019-05-27 09:44] #5726 closed, assigned to nobody

[2019-05-27 09:46] #5464 closed, assigned to nobody

[2019-05-27 10:00] preethammavin commented on #6251
@RuggeriLuca we have deployed a fix for the same can you verify if you are still seeing any errors on your side.

[2019-05-27 10:00] #6260 closed, assigned to ankit-m

[2019-05-27 10:01] preethammavin commented on #6213
@cyrielle-hada  the issue has been fixed.

[2019-05-27 10:01] #6213 closed, assigned to ankit-m

[2019-05-27 10:01] #6193 closed, assigned to abhijitkane

[2019-05-27 10:07] #6371 closed, assigned to ankit-m

[2019-05-27 10:09] #6358 closed, assigned to bhargavkaranam, anudeepmedicharla

[2019-05-27 10:09] preethammavin commented on #6358
The issue has been fixed with an updated copy

[2019-05-27 10:10] #6334 closed, assigned to ankitjaggi, ankit-m

[2019-05-27 10:13] #6301 closed, assigned to vkaegis, preethammavin

[2019-05-27 10:14] preethammavin commented on #6391
The issue has been resolved

[2019-05-27 10:14] #6391 closed, assigned to preethammavin

[2019-05-27 10:18] preethammavin commented on #6387
The issue has been fixed, feel free to reopen the issue if it reoccurs again

[2019-05-27 10:18] #6387 closed, assigned to ankit-m

[2019-05-27 10:59] setdjod opened #6599 "Failed Opening App"
**App information**
 - App Type Native App
 - Postman Version 7.1.1
 - OS: Windows 10 64 Bit

**Log File**

[code]

[2019-05-27 11:01] romzes1st commented on #3845
+1

[2019-05-27 11:47] cjlotz commented on #6135
How is this fixed?  We have the same issue?  How do we go about restoring the deleted collection

[2019-05-27 11:54] cjlotz commented on #6135
@abhijitkane Can you please confirm whether this issue has been addressed.  We are running the latest version of Postman.  One of the team members accidentally deleted the Team Collection and he is unable to restore the Collection.  As soon as another Team Member opens Postman, the collection gets deleted from their Workspace as well.  How do we fix this?

[2019-05-27 12:14] skoope opened #6600 "Team workspace : invitation system failing"
**Describe the bug**
Invitation for team workspace not received by collaborators.
1) When inviting a collaborator to workspace, nothing happens, no invitation is received by collaborator.
2) When trying to send a joining link to workspace A, the collaborator is redirected to joing a workspace B

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Workspace A'
2. Click on 'Invite'
3. Click

[2019-05-27 12:41] preethammavin commented on #6135
@cjlotz can you write to us at help@getpostman.com, would need further details to look at it. It has been fixed for root cause we saw. Would be good have more details to debug your issue.

[2019-05-27 12:43] bhargavkaranam commented on #6600
Hi @skoope,
Could you confirm a few things -
1. When you try to invite someone to the workspace, after adding the user, on clicking Send Invitations button, do you see any error (as a toast message)?
2. The user you are trying to add, is he/she already a part of the team? If that's the case, the invitation will not be sent to the user, they will be joined to the workspace instead. They will receiv

[2019-05-27 12:51] m3dbedb commented on #6352
I use environmet variable to  store test stand settings, and globals for temporary data (I understand that it  sounds odd, but I keep environment parameters in environment variables, and it is consistent).

[2019-05-27 12:55] klemens-u commented on #6352
@m3dbedb sorry, but what do you mean by that? How does that help with the example above for a default test case & default value?

[2019-05-27 12:56] m3dbedb commented on #6352
@klemens-u, in my previous post edit I missed issue and passed wrong advice.

[2019-05-27 12:59] cjlotz commented on #6135
@preethammavin  Done.  While you are investigating, is there anyway to get a backup copy of the collection?

[2019-05-27 13:01] bhargavkaranam commented on #6539
The associated pending invites are now disabled when the user joins the team.

[2019-05-27 13:01] #6539 closed, assigned to sankalp0o, bhargavkaranam

[2019-05-27 13:29] klemens-u commented on #6352
@m3dbedb ok, no problem :-)

[2019-05-27 13:35] preethammavin commented on #6135
if the collection is deleted, the only was is through the restore process. we will look at getting this done ASAP.

[2019-05-27 13:48] skoope commented on #6600
Hi @bhargavkaranam,
1) After clicking on "Send invitations button", the modal closes and nothing else happens, no errors or toast message.
2) When i invite them to join the team, i have the same behavior (no errors, but nothing happens, they don't receive notification

PS : i tried the same flow with many other accounts, and laptop systems still have the same issue :/

[2019-05-27 14:16] bhargavkaranam commented on #6600
@skoope, could you also confirm that you're not trying to invite a user who's already part of the team? If the user's already part of the team and you're trying to add him to a workspace, an in-app notification will be sent and not an email.

[2019-05-27 14:18] numaanashraf commented on #6599
@setdjod Postman portable (https://github.com/portapps/postman-portable) is not an officially supported distribution. Please use the official & verified builds from https://www.getpostman.com/downloads.

[2019-05-27 14:18] #6599 closed, assigned to nobody

[2019-05-27 14:20] skoope commented on #6600
@bhargavkaranam , no the user is not already part of the team.

[2019-05-27 14:26] bhargavkaranam commented on #6600
@skoope Could you please write to help@getpostman.com from your registered email address so that we can investigate what is going wrong here?

[2019-05-27 14:39] cjlotz commented on #6135
@preethammavin Thanks for the reply.

We managed to get a developer who had an up to date version of the collection as of this morning.  He disconnected from the internet so that the sync does not remove the collection from his work space.  He then imported the collection into the Team WorkSpace.  The collection is now again visible to the Team, but ii is however locked for everybody.  How do we g

[2019-05-27 15:44] katarsenina opened #6601 "Incorrect steps to update Snap package"
**Describe the bug**
No Update button if go by steps in message:
_Your team updated to Postman v7.0. To keep your collections and workspaces in sync with your team, you must also update to v7.0 by going to Icon setting > Settings > Update._

**To Reproduce**
Steps to reproduce the behavior:
1. Open Postman and read the notification
2. Go to 'Settings icon(top right corner) -> Setting -> Update'
3.

[2019-05-27 15:56] preethammavin commented on #6135
@cjlotz since you have the json, can you import it into the personal workspace and share it to the team workspace? or Duplicate the collection in the same workspace should give you edit role.

[2019-05-27 16:34] preethammavin commented on #6135
@cjlotz we dont see any discrepancy in error logs on our side , can you ask the developer to assign the team/ specific users the editor role so that rest of the team can contribute it to.

[2019-05-27 16:36] numaanashraf commented on #6601
@katarsenina It looks like you are using a Snap variant of Postman for Linux, which need to be updated via the command line. Please follow the instructions here to update - https://learning.getpostman.com/docs/postman_pro/managing_postman_pro/migrating_to_v7/#updating-app-to-postman-v7-after-migration.

Let's keep this issue open till we improve our messaging for Snap updates.

[2019-05-27 16:46] jamesjmtaylor commented on #1210
This issue still exists in v7.0.6

[2019-05-27 17:24] hakuno commented on #5093
I followed that

I didn't need to download this `libcanberra` on Fedora 30. Thanks!

[2019-05-27 19:34] krichter722 commented on #6592
@shamasis Is this a question about the behaviour of the program? Or an addition to my proposal how to fix it?

[2019-05-27 19:39] fh32000 commented on #3466
**Auto save , save all and Close&Save All , please!**

[2019-05-27 23:32] empz commented on #5459
We need this feature. Sharing a collection that works with an OAuth2.0 token that needs to be requested by every other member using their own credentials is useless if each one has to manually enter the get new access token settings...

[2019-05-28 00:38] mikeclark206 commented on #675
+1

[2019-05-28 03:07] #6135 closed, assigned to ankit-m

[2019-05-28 04:20] garyng commented on #5918
Is this feature live?

[2019-05-28 05:26] bhargavkaranam commented on #6600
@skoope
Could you also please let us know if you're able to invite the user to the workspace from the web dashboard? (https://go.postman.co)

[2019-05-28 05:57] Raj-postman opened #6602 "Application crashes/ quits itself running collections via Runner"
**Describe the bug**
Postman quits itself when the collections are run through the collection runner. The requests within the collections are lesser than 10.

**To Reproduce**
Steps to reproduce the behavior:
1. Run particular collection via collection runner ( requests < 10 )
2. Number of iteration is 5
3. After running for some time, the app crashes on its own

**Expected behavior**
Be able to r

[2019-05-28 06:02] numaanashraf commented on #6575
We are having trouble replicating this at our end. Could you send us the app version you are facing this in?

`Postman v7.1.1`
<img width="907" alt="Screenshot 2019-05-28 at 11 31 36 AM" src="https://user-images.githubusercontent.com/3295568/58454472-2fb62d80-813c-11e9-8856-a668059f64ad.png">

[2019-05-28 06:25] preethammavin commented on #6597
@ash007-postman can you check with the user if the issue persists, also would be good if the user was able to share a screen recording of the same.

[2019-05-28 06:26] m3dbedb opened #6603 "Ability to place single request in collection above folders"
**Feature description.**
I have a fail test that should be precessed first, and a folder with folder test to check error code is 0. Current version of postman does not allove to move single request before a folder.

**Describe the solution you'd like**
I propose to add ability to place single request in front of collection.

[2019-05-28 06:31] preethammavin commented on #6305
The issue has been resolved.

[2019-05-28 06:31] #6305 closed, assigned to nobody

[2019-05-28 06:33] Kastamat commented on #6575
Current Version: v6.0.9
![f8c7ce2b3a](https://user-images.githubusercontent.com/50945611/58455974-a8f95480-812b-11e9-9738-8cbacb3f797d.jpg)

[2019-05-28 06:52] hansbeld commented on #675
+1

[2019-05-28 07:35] kostelnyy commented on #2086
That config would be really helpful

[2019-05-28 07:53] ssgajjar commented on #4977
@numaanashraf I am on  Postman v7.1.1 the latest version. I am still able to see the same issue when I try to expand the console log with the new version.
Kindly confirm this.
![Screenshot from 2019-05-28 11-50-45](https://user-images.githubusercontent.com/29515937/58460668-2b3f4400-813f-11e9-9fc3-ed34e638d980.png)

[2019-05-28 08:30] numaanashraf commented on #6575
@Kastamat Thanks. `v6.0.9` is a really old version and this issue might have been resolved in the latest versions of Postman. Could you update to latest Postman and verify?

[2019-05-28 09:03] kaushikpatel1396 commented on #6602
**Describe the bug**
Postman quits itself when executing any API for a specific collection only. There are 123 requests in that particular collection.

**To Reproduce**
Steps to reproduce the behavior:
Pressing "Send" after selecting any API from the collection. the postman quits.

**App information:**

App Type - Native App
Postman Version - v7.1.1
OS - mac 10.14.3

**Additional context:**
Works

[2019-05-28 09:04] Kastamat commented on #6575
I just upgraded to version 7.1.1
![aa476a8168](https://user-images.githubusercontent.com/50945611/58465445-68f09c80-8140-11e9-8d47-8621ed438e88.jpg)
But the result is the same.
![309693d4c8](https://user-images.githubusercontent.com/50945611/58465565-a6edc080-8140-11e9-9cbe-32ca82cd9ea9.jpg)

[2019-05-28 09:27] kamalaknn commented on #6575
Hey @Kastamat from the screenshots you have attached it looks like the variable `{{$timestamp}}` is actually resolved as empty. Could you verify if you have an environment or a global variable with the same name as `$timestamp` that might be causing this issue?

[2019-05-28 09:28] 4levels commented on #5591
On Linux I had to do the following, not sure what eventually fixed it:
- moved Postman folder in home
  `mv ~/Postman ~/Postman.bak`
- moved configuration folder
  `mv ~/.config/Postman ~/.config/Postman.bak`

If you have enabled sync, you can as well just delete these folders allthogether..

Note that if you do start a previous installed version again, this problem re-appears and you'll have to r

[2019-05-28 09:30] BrambleRamble commented on #4157
@S-Tasker For tests, I follow the pattern shown in this sample collection: https://documenter.getpostman.com/view/33232/RWaNPmBa?version=latest
It's the same pattern that's mentioned briefly at the bottom of this issue's description, and from what's said there, I wouldn't expect it to work for pre-request scripts, only tests.
It's a clumsy and fragile solution, and it's not a replacement for funct

[2019-05-28 09:35] oliversalzburg opened #6604 "Stop creating desktop and start menu shortcuts"
**Is your feature request related to a problem? Please describe.**
You are creating desktop shortcuts for your application. I discussed this with your support team already, so I'm just quoting my original email here:

The reasons for not messing with the user's desktop are outlined well at:

https://docs.microsoft.com/en-us/windows/desktop/uxguide/winenv-desktop#guidelines

I'm quoting some releva

[2019-05-28 09:47] arnolde commented on #6364
@codenirvana Still doesnt work in 7.1.1 on Win10 v. 1803
Global Proxy configured: internal.host.name:8080 (also tried ipaddress of proxy)
Posting to URL: https://ip-address:port/sub/dir returns timeout, using hostname results in name resolve error (the workstation has no direct internet connection and no external DNS)
Both work fine if I use curl in a command prompt (on Win10):
curl -kx proxy-ip-a

[2019-05-28 09:50] numaanashraf commented on #5544
We are tracking a similar issue at #5067. Closing as duplicate.

[2019-05-28 09:50] #5544 closed, assigned to nobody

[2019-05-28 10:14] galvesribeiro commented on #6597
@preethammavin yes, the error persist.

Just to clarify the real issue. We're using the enterprise login. After we get redirected to the identity provider, login, and return back, this is the screen we have:

![image](https://user-images.githubusercontent.com/4714040/58470443-1bf8d000-8118-11e9-8cce-c805ad15f486.png)

Obviously my account is on the team. I'm the account owner and I'm using it on t

[2019-05-28 10:58] Kastamat commented on #6575
Sorry. This is my mistake

[2019-05-28 11:29] smennesson commented on #5178
Hello @preethammavin, sorry the problem was too long ago for me to be able to reproduce today. I'm not anymore working for the company having the Postman account reproducing the issue.

[2019-05-28 12:28] #6575 closed, assigned to nobody

[2019-05-28 13:05] bartosz546 commented on #6455
Error: tunneling socket could not be established, cause=getaddrinfo ENOTFOUND 8888 8888:80

![Przechwytywanie](https://user-images.githubusercontent.com/26720699/58480128-f55b8900-8159-11e9-8383-30e9e03a9b15.PNG)

[2019-05-28 13:33] preethammavin commented on #5178
Closing the issue for now, feel free to reopen it if not so.

[2019-05-28 13:33] #5178 closed, assigned to numaanashraf

[2019-05-28 14:17] philmagr opened #6605 "Please do not redefine industry standard terms"
Please don't tell me that I have to "sign in to create APIs" because I don't.
I've been developing APIs in postman forever.

Whatever new feature you created, is definitely related to APIs, and definitely should not be called APIs.

Yes. It's marketing. Don't further fragment the discipline of software development just to sell your product. Pretty please?

[2019-05-28 14:44] cyrielle-hada opened #6606 "Editing the API Publishing flow"
**Is your feature request related to a problem? Please describe.**
Users might be confused with the `Add to API Network flow` as it doesn't list the `team description`. Teams may not know that the description shown in the API network listing in the app is the `team description` and not the `API description`.

<img width="1328" alt="Screen Shot 2019-05-28 at 14 35 26" src="https://user-images.githu

[2019-05-28 15:28] HarisVugdalic commented on #4733
Lots of interest for C# and JAVA for our documentation. @sivcan It would also be nice if I could choose which languages I'd like to display.

[2019-05-28 15:40] chrisjohnson commented on #5369
I haven't gotten around to testing it yet but I'm looking here: https://docs.api.getpostman.com/?_ga=2.77878484.1710975912.1559057803-1167593033.1559057803&version=latest#152d94ab-a94d-f5fc-c8db-73c61a56f4ce

And the schema still checks for maxItems: 100. Do the docs just need to be updated?

Also I'm curious why the environment schema isn't hosted at a public URL like the collection schema is. Ri

[2019-05-28 17:13] MitchellMcKenna commented on #6590
@shamasis How would one "pass the instance to other scripts" as you suggest?

[2019-05-28 19:28] shamasis commented on #6590
Yes. Exactly. That’s the problem. The way we can achieve that is break script execution isolation while running scripts from collection level and then figure out a way to pass functions using “some method”. Both needs to be built. I’m just throwing ideas and possibilities. What comes out finally would be what fits best and adds most value. So, more feedback here would be great.

[2019-05-28 19:57] mutaimwiti commented on #2617
Any progress update on this?

[2019-05-28 21:09] VinnyFonseca commented on #4576
Snap and Flatpak are not ideal, when I update my system I like to see what packages are being updated with it. If every single program I install bugs me to update when I open it, it defeats the point of a system wide package manager.

Why not a PPA until now?

[2019-05-28 22:58] aravindUnleashed commented on #3774
I don't understand the use of Save logic here. The collection is always there when you close and open PostMan.

[2019-05-29 00:01] SeunJay commented on #3120
![image](https://user-images.githubusercontent.com/47621880/58519849-2fa24600-81ad-11e9-8e49-2f9efda57fe2.png)

[2019-05-29 00:04] SeunJay commented on #3120
Hi...i am trying to make a post request using Postman but i have been getting the error shown below. How do i fix this bug? Thanks in anticipation.

![image](https://user-images.githubusercontent.com/47621880/58519988-a6d7da00-81ad-11e9-95fa-a7d347fe7861.png)

[2019-05-29 01:33] paintballer82 commented on #285
Man...came here needing this exact feature as I do not want to store a username and password for all requests as this changes non stop for one of my applications. Guess I will checkout insomnia instead. What a bummer.

[2019-05-29 02:02] GreenLightt commented on #6364
@codenirvana it's not ok in 7.1.1 on Mac 10.14.4

[2019-05-29 02:03] GreenLightt commented on #6364
@codenirvana it's not ok in 7.1.1 on Mac 10.14.4

[2019-05-29 02:15] galvesribeiro commented on #6597
Please close the issue. The problem is not a bug. Just that Saml integration should be better documented. The support email has fixed the issue.

Thank you

[2019-05-29 03:21] #6597 closed, assigned to preethammavin

[2019-05-29 03:23] preethammavin commented on #6605
@philmagr we are not doing either. We have recently enabled to build out API schemas in Postman, which requires a signed in account as all of the feature the new abstraction of an API in postman enables require online actions.

On the other hand we do not restrict our users from creating collections and sending requests without being signed-in

[2019-05-29 03:23] #6605 closed, assigned to nobody

[2019-05-29 04:06] tristandenyer commented on #6542
@shamasis @fullpoint The new logo is here: https://assets.getpostman.com/common-share/postman-logo-horizontal-320x132.png

[2019-05-29 05:15] Azleal commented on #5469
encountered the same situation and the solution works for me, thanks~

[2019-05-29 05:17] ninekaw9 opened #6607 "Postman v7.1.1 generate curl command with wrong content-length header when JSON request body has tabs"
**Describe the bug**
Postman v7.1.1 generate wrong curl command content-length header when JSON request body has tabs

**To Reproduce**
Steps to reproduce the behavior:
1. Create a request that has JSON body with tabs indentation
Example

[code]

[code]

2.Code -> curl
3.Run the curl command with -v, you will see that

**Expected behavior**
should be

**App information (please complete the followi

[2019-05-29 05:30] saswatds commented on #6602
Hello @pareekkhushboo77 can you confirm that your issue is with runner and not the request builder?
There is a possibility that your issue could be related to https://github.com/postmanlabs/postman-app-support/issues/6533

[2019-05-29 05:37] shamasis commented on #6579
Ok. The two stack traces aren’t from same error. The first one can only arrive when during upgrading the app by copying newer app on older version, resulting in file integrity failure. This is easily resolved by deleting Postman app completely and then fresh installing. This usually does not happen if app’s own self updater is used to update app.

Interestingly, the second error is from a differen

[2019-05-29 05:48] kaushikpatel1396 commented on #6602
Hello @saswatds  ,
Issue is not with runner, just simply POST requests calls.

[2019-05-29 05:55] saswatds commented on #6602
Hi @Kurmavathar, we are aggressively tracking such performance issue across all components of postman. There is a lot of possible reason why this could be happening.

It would be great if you could help us investigate this issue. Here are a few things that could help us.
* The logs from postman console (not devtools console) with all sensitive info redacted
* If there is any specific request on wi

[2019-05-29 06:22] codenirvana commented on #6364
@arnolde @GreenLightt Is this the first time you setup proxy configurations in Postman?
Can you try restarting the Postman app and check if the issue persists?

We made a temporary fix in 7.1.1 which patches the misconfigured proxy on the app boot, for new setup the patch is not effective until app restarts. We already made the stable fix for this which will be out soon.

[2019-05-29 06:51] codenirvana commented on #6566
@emssw That's weird, can you try changing the request URL to `https://postman-echo.com/post` and check if all the headers are present in response's `headers` object?

I can only think of two scenarios which can lead to this issue:
1. The console is not showing request headers correctly.

2. Usage of `pm.request.headers.*` API to mutate the request headers in pre-request scripts.

[2019-05-29 07:24] ghisvail commented on #4576
Le mar. 28 mai 2019 à 23:09, Vinny Fonseca <notifications@github.com> a
écrit :

Snap packages get auto-updated as new releases come in the store. Flatpak
can be setup to operate that way, or you can run updates manually via
`flatpak update`. That would be no different than running a PPA, whilst
being not specifically tied to Ubuntu.

If every single program I install bugs me to update when I open

[2019-05-29 07:30] artemkaint commented on #1667
+1

[2019-05-29 07:44] susumaung opened #6608 "postman form-data upload file issue after update v7.1.1"
I upload file with form-data and the file was not uploaded to httprequest after updating to v7.1.1.
When I reinstall to v7.0.9 then can upload file successfully.

[2019-05-29 07:52] saswatds commented on #6608
Hi @susumaung, can you give us some more information on how to reproduce this? It would be really helpful if you follow the issue creation guidelines as there could be a multitude of reasons why this could be happening.

Recently we have changed how files work in form-data and binary, to know more you can refer these issues https://github.com/postmanlabs/postman-app-support/issues/4320#issuecommen

[2019-05-29 08:02] susumaung commented on #6608
Hi @saswatds,
I created web Api as below.
[HttpPost]
        public HttpResponseMessage FileUpload()
        {
            HttpResponseMessage result = null;
                var httpRequest = HttpContext.Current.Request;
                if (**httpRequest.Files.Count** > 0)
                {
                    return Request.CreateResponse(HttpStatusCode.OK);
                }
                else

[2019-05-29 08:04] gabbersepp commented on #285
Not sure if someone suggested something similar.
I use a PreRequest Script that checks necessary variables and throws an exception if one is missing. This is not as nice as a prompt but sufficient for my purposes.

[2019-05-29 08:21] ttomato1 commented on #3897
Having used the (deprecated) Postman Chrome plugin and app in our API training courses up till now, we want to use the standalone app. But we use a Citrix environment for our students, and we cannot install a central version that all users can use because of the installation restrictions. Worse than that, if an individual user installs it, they can't run it, again because of the drive restrictions

[2019-05-29 08:25] Raj-postman opened #6609 "Account validation emails sent to users who never sign up for Postman"
**Describe the bug**
Validation emails received by users who haven't created the account.

**Additional context**
We are currently working on this issue and will update users accordingly
Reported by Postman

[2019-05-29 08:35] NeroVanbiervliet opened #6610 "Collection variables do not persist, but globals do"
**Describe the bug**
Collection variables are not persisted  between requests (when running requests standalone, not running the whole collection) .
This can be the intended behaviour, but it is confusing, as changes to global variables are persistent.

**To Reproduce**
1. Create a collection and add a request.
2. Add the code below as in 'tests'
3. Open the console (Ctrl+Alt+C)
4. Run the request

[2019-05-29 08:39] saswatds commented on #6608
Hi @susumaung, This is the issue with form-data empty key. More on this here https://github.com/postmanlabs/postman-app-support/issues/6537

We have applied the fix on our canary app. https://www.getpostman.com/downloads/canary or else you can use the temporary hack as I have suggested in the other issue

I will be closing this issue once you confirm that it is working.
Thanks.

[2019-05-29 08:39] jvalkonen commented on #3897
I ran to the same issue with Atom and managed to resolve the issue with these instructions: https://discuss.atom.io/t/how-to-install-atom-on-windows-to-other-places-instead-of-c/27619/12
As both Atom and Postman use the Squirrel installer, it may be worth a try to see if the same trick is applicable with moving Postman to somewhere else.
Didn't try this with my Postman so YMMV.

[2019-05-29 08:52] gaikaz commented on #2086
+1 Remembering last used tab of the Request should be easy to implement and would definitely satisfy everyone here at least for the time being. So many people here requesting this, and this must be just a small part of users, who have github and bother leave a comment.

Please just give this issue/feature some little time. Thanks.

[2019-05-29 09:02] totoleo commented on #3759
+10086

[2019-05-29 09:04] susumaung commented on #6608
Hi @saswatds,
Thank you for reply.
The problem is solved by using canary.

[2019-05-29 09:17] kaushikpatel1396 commented on #6602
Hi @saswatds , in order to get you required info to replicate the issue asap , can you please guide how to get logs from postman console.
What are is the possible response size that you might be receiving? (aggregate)

but the issue belonging API server is hosted in Russia. Also i tested on another machine, the API worked well in Postman, just the Postman crashes in my machine. Thats also weird as

[2019-05-29 09:22] Arkemlar opened #6611 "Add JSON as third field type in form-data fields"
**Is your feature request related to a problem? Please describe.**
Normally we use JSON data directly in request body and for this we use  `raw` tab with JSON formatting. But in some methods we need to pass file in same request with JSON data. In such cases we send request content as `multipart/form-data` and use `form-data` tab: JSON is passed through field named `json`, other fields used for fil

[2019-05-29 09:41] codenirvana commented on #3759
@totoleo We are having trouble replicating this at our end. Could you provide the steps to reproduce this behavior at our end?

[2019-05-29 09:41] saswatds commented on #6602
Hi @pareekkhushboo77 this particular issue is for the crashing of the runner and not request builder. Leveraging this issue to discuss the request builder is leading to a bit of confusion.

You can find the postman console by going to `View -> Show Postman Console`

There is another issue that we are tracing in the request builder where entering an invalid url in the editor is crashing the app. If

[2019-05-29 09:44] cyrielle-hada opened #6612 "GitLab integration - return only 20 projects"
**Describe the bug**
When setting up the GitLab integration on a custom domain, the list of repositories available would return only 20 while the GitLab account contains 100.

**To Reproduce**
Requirements
-  Have an on-premise instance of GitLab.
-  Have more than 20 projects on GitLab (here ~100)

1. Install the GitLab integration from the Enterprise Postman dashboard
2. Select `Backup your Post

[2019-05-29 09:46] kaushikpatel1396 commented on #6602
Hi @saswatds , i am sure that the URL is correct, as it works in any other machine's Postman but mine, Also i have been working on it since more than 1 year, so i suppose that not the issue.
Also, Postman Console doesn't show anything , please view attached screenshot.
![Screenshot 2019-05-29 at 3 15 58 PM](https://user-images.githubusercontent.com/16894064/58547279-b5ada380-8224-11e9-9292-0ba3791

[2019-05-29 09:47] codenirvana commented on #6608
@susumaung This will be fixed in our next stable release, follow the original issue thread for more updates.

Closing as duplicate of #6537

[2019-05-29 09:47] #6608 closed, assigned to saswatds

[2019-05-29 10:03] codenirvana commented on #6607
@ninekaw9 Used the same curl snippet and got the correct content-length:
![Screenshot 2019-05-29 at 3 27 47 PM](https://user-images.githubusercontent.com/4865836/58548169-6c5e5380-8226-11e9-808d-56931eb90f09.png)

As a workaround, you can remove the auto-generated content-length header before sending the curl request. A permanent fix will be: #6472

Closing as duplicate of #6472

[2019-05-29 10:03] #6607 closed, assigned to codenirvana

[2019-05-29 10:07] codenirvana commented on #6455
@BartolomeoItaliano This looks like an issue with proxy, either system or global proxy is set in Postman or, following OS environment variables are set:
- `HTTP_PROXY` / `http_proxy`
- `HTTPS_PROXY` / `https_proxy`

[2019-05-29 10:49] ninekaw9 commented on #6607
![image](https://user-images.githubusercontent.com/9247289/58551375-08458a80-823a-11e9-8bb3-55c9b634c9eb.png)
just retested again, it is 401 bytes.

[2019-05-29 10:51] Ramya-From-Postman opened #6613 "Recursive variables are not resolved."
**Describe the bug**
when you hover over the place holder of a nested variable, it is not resolving the values of Recursive variable.

**Steps to reproduce the behavior:**
1. Go to Manage Environment section
2. Add a variable inside a variable
3. Use that environment variable in your request & hover over the place holder of a nested variable

**Expected behavior**
Should resolve the recursive vari

[2019-05-29 11:23] arnolde commented on #6364
@codenirvana The proxy config was already in place, app was restarted upon update, and again manually after negative test result. I also changed the proxy config several times (hostname, ip address, https on/off, etc.) but nothing helps.

[2019-05-29 12:13] mattlock83 opened #6614 "Support validation of response against Swagger/OpenAPI spec"
**Problem**
I want to validate that responses conform to the API swagger specification during my tests

**Proposed solution**
Integrate something like [swagger-model-validator](https://www.npmjs.com/package/swagger-model-validator) that let's you associate a swagger specification with a collection and validate a response against a swagger path and model

**Alternatives considered**
Currently I'm u

[2019-05-29 12:58] bhargavkaranam commented on #6600
@skoope,
Since we can't reproduce this on our end, we want to make sure that the issue you're facing is not a bug and would want to sort the issue out for you. Do you mind getting on a quick call so that it'll be faster for us to debug what's going wrong here? Whatever time is convenient for you.

[2019-05-29 13:51] zihotki commented on #6296
It seems like I managed to find the cause of the issue at least on my machine. It was related to https://github.com/electron/electron/issues/12695 . Since I'm doing Angular development and working with big projects, I've set **NODE_OPTIONS** environment variable to `--max_old_space_size=8000` to prevent build issues due to out of memory errors. But this option causes seg faults for Electron which

[2019-05-29 14:00] i-like-robots commented on #2450
The app remains very low contrast which can make it hard to use even for users without eyesight problems. Is this issue still on anybody's to-do list?

I'm currently working with an average screen near a window and I am unable to use the app with either theme due to the low contrast of the text.

[2019-05-29 16:00] abhijitkane opened #6615 "Headers like `application/vnd.retailer.v3+json` in the request should be used to highlight the request as JSON"
While importing a request, if there's a header like `application/vnd.retailer.v3+json` instead of `application/json`, Postman does not automatically treat the body as JSON, but as text.

Furthermore, manually selecting JSON from the raw mode dropdown changes the Content-Type to `application/json`.

Intended behavior:
Any header of the form `application/*+json` should be treated as JSON for purpose

[2019-05-29 16:49] JP-from-Postman commented on #6570
@preethammavin I thought this was a bug, since we removed the option to disable syncing some time ago. Should it be labeled bug instead of feature?

[2019-05-29 17:54] shamasis commented on #6542
Updated. Also copied over the new tagline from website. Repeated on newman: https://github.com/postmanlabs/newman/blob/develop/README.md

[2019-05-29 18:24] benperiton commented on #6570
From my point of view (I raised the issue with JP) it is a bug - I don't have any way to re-enable syncing after it was removed, so regression/bug

[2019-05-29 18:42] carljones4 commented on #285
@paintballer82 You can store username and password for multiple requests in one place.  Specifically as a variable in the "Environment" (dropdown list in the upper right).  If you create a variable called "Username" then in the Authorization tab of the request, using Basic Auth (presumably), fill in the value for the Username field as "{{Username}}" (with double brackets).  It will replace that wh

[2019-05-29 19:16] ashfondu commented on #4391
Had the same exact issue and was able to resolve using the following settings - essentially the resource needs to be in the body instead of as a parameter. see image for details.

![image](https://user-images.githubusercontent.com/34550337/58584632-8fc7d500-820b-11e9-9c15-1f4848c34d88.png)

[2019-05-29 19:29] robtown opened #6616 "Update Authorization header token value"
I'm using oauth 2.0 and have no issues getting my token.
My issue is this:
The appended header Authorization value, when using the postman "Get New Access Token", is "Bearer xxxxxxxxxxxxxxxxxx....".
I need that value to be "Zoho-oauthtoken xxxxxxxxxxxxxxxxxxxx..."

I don't see any way to change that value. I've tried Pre-request Scripts to replace the "Bearer" with "Zoho-oauthtoken" but I don't se

[2019-05-29 22:01] ggpai opened #6617 "Not able to getResponseCookie value for XSRF-TOKEN"
**Describe the bug**
I am trying to get the value of XSRF-TOKEN in Tests (Post Request). Postman in returning Null Value.
console.log(postman.getResponseCookie("XSRF-TOKEN").value);
Its working fine in GET Request when i try to get the same value.

**App information (please complete the following information):**
 - Native App]
 - Postman Version Postman v7.1.1
 - OS: WIndows 10

[2019-05-29 22:45] chrisdeso opened #6618 "Enforce CAN-SPAM Guidelines"
**Is your feature request related to a problem? Please describe.**
With the ability to designate up to five (5) recipients for monitoring summaries, ensuring that emails/templates are in compliance with the CAN-SPAM guidelines is important.

**Describe the solution you'd like**
Enforcing CAN-SPAM guidelines on all Postman-related emails.

i.e. Clear instructions on how to unsubscribe from notifica

[2019-05-29 22:49] ZhilunLiu commented on #3331
Yes, I'm using this method and it's works fine, Noted that I change my code using @RequestPart annotation instead of RequestParam

[2019-05-30 00:10] ankitjaggi commented on #5947
@yossarian123 This error is returned when you are trying to send duplicate keys in the environment. Based on the JSON you shared, `deviceName` seems to be a duplicate key. Can you try making this call after removing the duplicate one?

[2019-05-30 01:35] cesc1989 commented on #4401
Updating Postman installed via Snap as @sujayvenaik suggested solved the thing for me:

[code]

[2019-05-30 02:23] ljdev1 commented on #1669
This is great! Thank you!

Quick Question: Will there be GraphQL Schema Docs presented and auto-completion / validation of queries / mutations against the GraphQL Server Schema (not a local schema), like GraphiQL client does?

[2019-05-30 03:46] numaanashraf commented on #3003
We are tracking this at #1070. Closing this as duplicate.

[2019-05-30 03:46] #3003 closed, assigned to vkaegis, Raja-Simha

[2019-05-30 04:35] ash007-postman opened #6619 "Web dashboard inaccessible"
**Describe the bug**
Getting a blank page while trying to access web dashboard

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://app.getpostman.com/
2. Click on "Sign in"
3. Navigates to the blank page

**Expected behavior**
Should show next page- Workspaces

**App information (please complete the following information):**
 - App Type [N/A]
 - Postman Version [N/A]
 - OS: [macOS

[2019-05-30 05:09] shamasis commented on #6610
Yes. Collection variables are not designed to persist across runs or two separate requests in builder. However within one collection run, updates to pm.variables should be forwarded.

[2019-05-30 05:17] shamasis commented on #6616
That field isn’t configurable yet. We have plans to add more configurations down the line.

[2019-05-30 05:19] ankit-m commented on #6619
Dashboard uses websocket to establish a connection to our servers. In this case, the websocket connection failed (both in native app and web). This can happen due to various network and corporate firewall issues.

Try using a home internet connection and see if the issue is resolved. If the issue persists, please write to us at help@getpostman.com for further assistance.

[2019-05-30 05:21] shamasis commented on #6613
One note here is that resolving content recursively can become both computationally heavy and also cause confusion if not made evident that the value was a recursive derivation.

[2019-05-30 05:25] shamasis commented on #6615
We would disconnect the raw body type drop down and value of content type. The magic of setting any `*json` may be tricky.

cc @ankitjaggi @codenirvana - this is a duplicate of form-data header change and storage of extra body intent.

[2019-05-30 05:57] ash007-postman commented on #6619
@ankit-m Thank you!

[2019-05-30 06:44] dmitryb-dev opened #6620 "Automatically create test for current response"
Usually, when I'm writing tests, I already have correctly working HTTP endpoints. It means, when I click the "Send" in postman, the response is correct or sometimes almost correct. So I want to commit the current behaviour with tests. So most often I just write assertions for current response.

So my suggestion is next.

Let say, I have some endpoint, GET https://jsonplaceholder.typicode.com/todos

[2019-05-30 07:45] deepakpathania-zz opened #6621 "Switching to build view lags in team workspaces"
**Describe the bug**
Switching from browse view to build view lags a little in team workspaces, lag increases with more collections in the workspace, works smoothly in personal workspaces.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to browse view of a team workspace.
2. Click on Build toggle to switch to build views.
3. Notice there is a lag in switching.

**Expected behavior**
Switc

[2019-05-30 08:33] onacit opened #6622 "Make requests to re-attach to last used environment when selected"
I defined many collections for each remote services and related environments for them.

When I change from Collection[A]/Request[A] to Collection[B]/Request[B],
the environment stays and I have to change it.

Is it possible to make each request re-attache to the related/last environment used?

[2019-05-30 08:45] NeroVanbiervliet commented on #6610
Out of curiosity, what is the advantage of this lack of persistence?

[2019-05-30 09:25] skoope commented on #6600
@bhargavkaranam yes with pleasure, here's mail email adress so wen can set up the call :
ska@latech.io
Thank you.

[2019-05-30 09:59] groggi commented on #6296
As far as I can tell @zihotki has another issue than @saikrishna953 and I. To be sure, I tested with `NODE_OPTIONS="--max_old_space_size=8000"` and `NODE_OPTIONS="--max_old_space_size=4000"`. Both result in another issue/error:
[code]

[2019-05-30 10:02] groggi commented on #6492
Might be related to #6296?

[2019-05-30 10:11] ejntaylor commented on #2049
Is there a way to do this now? Logout and auth with a different user. Cheers

[2019-05-30 10:16] skoope commented on #6600
After the call, i added a collaborator to the team, then invited him into my workspace successfully. Thank you for your reactivity and time.

It was not a bug, but the team workspace system UX is a little confusing. Problem solved.

[2019-05-30 10:16] #6600 closed, assigned to preethammavin

[2019-05-30 11:11] anoiio opened #6623 "Data export exports deleted collections."
Data export exports deleted collections.

Steps to reproduce the behavior:
1. Have a collection and environments sets in postman.
2. Delete all the collections and environments.
3. Import same collections from the existing backup json file
4. Make some changes in the collections (optionally)
6. UI displays only one (imported) set of collections and environments
5. Export data to backup json file.

[2019-05-30 13:21] ejntaylor commented on #2049
Update: If you log out of Postman that clears the auth  👍

[2019-05-30 13:44] numaanashraf opened #6624 "Renaming a request re-triggers filtering in sidebar"
**Describe the bug**
Renaming a request via the tab seems to re-trigger the filter on the sidebar, leading to folders and collections toggling based on the active search filter.

**Expected behavior**
Sidebar folders should not be toggled when renaming.

**Screenshots**
![open_folders](https://user-images.githubusercontent.com/3295568/58637019-3052ed80-830f-11e9-9881-fb554332e24a.gif)

[2019-05-30 13:47] chrisdeso commented on #6620
@Uraty Dynamically generating tests based on the response is a great feature request. Would you be able to adjust the original post so that it follows the feature request template we use (shown below)?

[code]

Our community would be a great place to crosspost this question (and Github issue) too – https://community.getpostman.com.

[2019-05-30 13:49] harsh-reality opened #6625 "APIMatic integration not working"
**Describe the bug**
- The Postman- APIMatic integration does not push anything to the authorized Github account
- The integration has not been working since the last week of April

**To Reproduce**
- One of the tested use-cases here is: Use APIMatic integration to convert postman collection(s) into an OPI API format.
- After the integration is added, nothing gets pushed to the Github repo.

**Exp

[2019-05-30 14:17] TSalvin commented on #6533
Same issue here

[2019-05-30 14:57] chrisjohnson commented on #5369
@preethammavin Just wondering if you saw this message ^

[2019-05-30 15:00] cyrielle-hada opened #6626 "In-app and email notifications for comments in APIs"
**Is your feature request related to a problem? Please describe.**
Currently, real-time notifications do not work for comments in APIs.

**Describe the solution you'd like**
Be notified in-app when being tagged by a team member **in the API Comments sections** (similarly to Collections).

[2019-05-30 15:01] emssw commented on #6566
Can not find any pre-request Scripts, collection/folder/request. I have discovered that this does not occur when creating a new request and placing it into a new collection. This only occurs when importing older collections. The collections are approximately 2 years old. I have not found a way to move a request from one collection to another. Any suggestions?

[2019-05-30 15:20] Mouradif commented on #285
Yes, in my case, I have multiple environments with different API URLs, usernames and passwords but for some requests I would like to be able to use different variables such as `{{product_id}}`, stuff like that, it would be great if I could have a prompt at PreRequest

[2019-05-30 15:25] dahernandez commented on #6534
@nilanjanray go to settings find your working directory root and put your files there.

[2019-05-30 15:26] dahernandez commented on #6556
@xianda666 put your files on your working directory and that's it

[2019-05-30 15:40] codenirvana commented on #6566
@emssw You can drag and drop requests from one collection to another.
But, importing an older collection should not have affected this.

[2019-05-30 17:12] JP-from-Postman opened #6627 "Allow mock servers to be edited after creation"
**Is your feature request related to a problem? Please describe.**
Once a mock server has been created, its name cannot be changed. Modifying this requires deleting the mock server, and creating a new one with the desired settings.

**Describe the solution you'd like**
Allow mock server name to be modified after creation.

(if possible) Allow environment and version tag to be modified after creati

[2019-05-30 19:20] dan-whitehouse opened #6628 "Duplicate Global Variables Not Imported"
**Describe the bug**
When importing a .postman_globals.json file that contains duplicate keys, the duplicates are not imported.

**To Reproduce**
1. Go to Manage Environments (Gear upper right hand corner)
2. Click on the Globals button
3. Add multiple variables with the same variable name (only check 1, otherwise it will tell you that you have a duplicate)
4. Click 'Save and Download as JSON' or

[2019-05-30 19:27] kylewhat commented on #4485
Can you have a ' convert \r & \n to new lines' setting for pasting in raw text?  This is a pretty annoying chrome issue that I come across daily.    I understand it's not really a bug in postman but it could be a feature in postman.

[2019-05-30 19:31] kylewhat opened #6629 "return & newlines are not processed when pasting raw text from chrome curl request"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

I'm always frustrated when copying a curl request in chrome and pasting a new postman request via raw text ... chrome copies \r & \n

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

Can you

[2019-05-30 20:03] Achilles1515 commented on #5774
@numaanashraf

This issue needs to be reopened - I am experiencing the same behavior with trying to update the native app from 7.1.0 to 7.1.1.

See below gif.

![GIF](https://user-images.githubusercontent.com/23387905/58660789-40a99f00-82f4-11e9-87af-1373fb0a68f2.gif)

Let me know if you need anymore info.

[2019-05-30 20:39] chrisdeso opened #6630 "Feature Request: Text alerts for Monitoring"
**Is your feature request related to a problem? Please describe.**
With teams relying on Postman to monitor production APIs, more options for alerts within the product would be great.

**Describe the solution you'd like**
The ability to have text alerts baked into the monitoring product.

**Describe alternatives you've considered**
An integration with an SMS API product (Twilio/Nexmo/etc)

**Addit

[2019-05-30 22:52] dleesalestreamsoft commented on #4498
I am also having this problem

[2019-05-30 23:06] martyscholes commented on #5920
**Solved?**

I have learned more about this issue and think I know what is going on. From what I now understand (I could be wrong), the requests on the left side of the screen are collection requests. The tabs at the top are _instances_ of collection requests. When clicking on a request in a collection, a new _instance_ (aka tab at the top) is created. Initially, the text in the tab name is italic

[2019-05-30 23:38] sudsy commented on #2676
Just a quick workaround I thought some might find useful.

I made a pre-request script that checks the environment name and if it's production it will check for a timestamp header on the request. The idea is that when you want to run a request, you update the timestamp and you can run requests for the next 10 minutes. Next time you come in to postman and accidentally make a request to production t

[2019-05-30 23:42] trevor-black opened #6631 "Sort order in collection is wrong after sync"
**Describe the bug**
The sort order of a collection is incorrect on one machine. We upgraded all to 7 hoping it would fix the issue. It did not.

**To Reproduce**
Not sure why this happens but some items in a collection are out of order. Since the Collection Runner executes in order, tests will fail on one machine and work on another.

If we manually go into Postman using the owner account and mov

[2019-05-31 03:30] aeroxy opened #6632 "Should allow sophisticated content editing for JSON"
currently only form data and urlencoded form have sophisticated content editing feature in postman.

JSON format doesn't have sophisticated editing feature, I think either we need form data style of content editing, or we need a Javascript parser auto parsing format as such:

[code]

[2019-05-31 03:34] ziyiang commented on #1667
needed！ ++++1

[2019-05-31 04:45] shaunwarman commented on #3438
Static assets would be ideal. This would allow for a folder in a repo to get served via github pages or similar. Close to where postman collections are often stored.

[2019-05-31 04:53] shaunwarman commented on #1744
Absolutely love this feature. And I'd have to add that I like the documentation generated more than the swagger editor tooling. With that said, I'd love to see a similar way to export the generated API docs to host privately for internal / private APIs.

[2019-05-31 05:04] numaanashraf commented on #6623
@anoiio Do you use multiple workspaces? And in step 2, any chance you might have done remove from workspace instead of delete workspace?

[2019-05-31 05:14] anuj9196 commented on #4103
Since there are thousands of open issues and this issue has been closed earlier. The team may not be looking at closed issues. It will be better to open a new issue.

BTW I checked it by adding `:id` in place of value in the URL and it got automatically converted to **Params**.
[code]
Will generated `id` params where you can place the value to use and also the description.

[2019-05-31 06:05] abhijitkane commented on #1667
@artemkaint @ziyiang Have you tried the interceptor integration with the canary app? This supports syncing cookies (which should let you use authenticated sessions from your browser), but not the history capture feature.

[2019-05-31 06:33] shajanjp opened #6633 "Environment variables are not loaded on app startup"
**Describe the bug**
Environment variables are not loaded on app startup

**To Reproduce**
Steps to reproduce the behavior:
1. Restart postman
2. Try using any variable

**Expected behavior**
Postman should load environment variables on startup.

**App information (please complete the following information):**
 - App Type : Native App
 - Postman Version : 6.1.4
 - OS: Ubuntu 16.04

[2019-05-31 06:34] javiergarval opened #6634 "Support colored emojis on all platforms"
**Describe the bug**
Using Linux is not possible to show colored emojis in the environment title name. Instead, it shows b/w emojis.

In Mac it properly shows colored emojis in the environment title name.

**To Reproduce**
Just create a environment and add a colored emoji to the title name.

**Expected behavior**
Show environment title names with colored emojis.

**Screenshots**
![image](https://u

[2019-05-31 07:26] shamasis commented on #6622
Yes. We have plans to improve this workflow. There has been some rounds of discussions. But nothing finalised yet. Stay tuned and I will update here when something comes up.

[2019-05-31 07:28] harryi3t commented on #2049
@raisonon Could you try clearing the cookies and see if that works?

[2019-05-31 07:30] shamasis commented on #6633
Umm 😐... I opened my app and I see the following ... environment drop down with environment and icons to preview and edit - and I can then interact with them. What is happening in your case?

[2019-05-31 07:34] zaro commented on #6323
I don't need old data that much, it was mostly about reporting the issue.

[2019-05-31 07:34] #6323 closed, assigned to nobody

[2019-05-31 08:08] nikhitakale commented on #3574
@numaanashraf Issues still re-producing in Postman v7.0.please refer the screenshot
![Screenshot from 2019-05-31 13-37-58](https://user-images.githubusercontent.com/11737260/58691305-2f6e9a00-83a9-11e9-855d-a07314316c7d.png)

[2019-05-31 08:27] Efaq commented on #4064
Hi all!

What is the status of this one?

I am using Postman 7.13.0 and, when sending pictures as binary files, together with Content-Type as application/octet-stream, Postman automatically sets the content-length header MOST OF THE TIME. Sometimes it misses it, quite randomly it seems, and in this case it sends content-length empty, instead of not sending it at all.

Is anyone else also experienc

[2019-05-31 08:33] shajanjp commented on #6633
Yeah same here, my last used environment selected as active by default.
But the values in the environments are empty when I try to use.
![Screenshot from 2019-05-31 14-02-16](https://user-images.githubusercontent.com/2943609/58692710-d143b600-83ac-11e9-974c-763152f9cc45.png)

[2019-05-31 09:40] harryi3t commented on #4594
TL;DR: **We think we have a fix and need your help verifying this fix before we roll it out to everyone.**

Custom build link: https://drive.google.com/open?id=1TKEbwIH5ExK58bziaHSn6-_93GRjLYVS

We were able to trace the root cause of this to a combination of OS version + GPU hardware + Driver versions that did not work well with Electron/Chrome (which is internally used by Postman).
We are explor

[2019-05-31 09:55] deepakpathania-zz commented on #6397
In my case, I fork the collection from a team workspace to a personal workspace, make some changes and then create a merge request to the original collection. I can see the changes in the diff view but the creator of the collection I forked cannot and sees this `Cannot merge changes` error.

My use case is to send him the changes I have made so that he can review it - like a PR flow.

Please let m

[2019-05-31 10:19] numaanashraf commented on #5034
@Goltergaul Could you update to the latest version of Postman (v7.1.1) and let us know if you are still facing this issue? We've pushed few fixes in Postman v7.0.9 that should address this issue.

[2019-05-31 11:41] PFaz540 commented on #6620
It would be cool if we could add our own snippets

[2019-05-31 11:55] sulmanbashir commented on #4834
Hi,

I meet this issue by running collections who exceed always 5 min. Can you tell me when this fix will be released ?

Thanks,
Sulman

[2019-05-31 12:37] bmercernccer commented on #4594
FYI, the download link requires permission to access.

[2019-05-31 12:44] harryi3t commented on #4594
@bmercernccer My bad, have fixed the permission. Can you try again?

[2019-05-31 14:33] philmagr opened #6635 "Scrolling left does not work on request tabs"
**Describe the bug**
When you have more tabs that can fit on the screen, you can't scroll to see them

**To Reproduce**
Steps to reproduce the behavior:
1. Open up more tabs than can fit on your screen
2. Hover over the tab bar and scroll the mouse wheel
3. Notice that the tabs happily scroll right, but you are unable to view tabs on the left side without closing some

**Expected behavior**
Tabs s

[2019-05-31 14:35] philmagr opened #6636 "About option should be in an intuitive location"
**Is your feature request related to a problem? Please describe.**
Just spent ~5 minutes looking for a postman version number to report a defect because it wasn't in the standard help => about menu like literally every other application.

**Describe the solution you'd like**
Not to have to relearn UI in order to use Postman.

**Describe alternatives you've considered**
Alternatives? To standards?

[2019-05-31 15:43] cbuice opened #6637 "APIs Beta Generate Collection sets Authorization on all request to "No Auth""
**Describe the bug**
When an API is imported through the APIs<sup>Beta</sup> interface, then the 'Generate Collection' button is clicked, all requests in the resulting Collection have their 'Authorization' set to 'No Auth'. This is true even if `security` and/or `securitySchemes` are set in the OpenAPI schema. This makes it difficult to set the 'Authorization' for all Requests in a Collection. It

[2019-05-31 15:44] a85 commented on #6636
Which OS are you on?

[2019-05-31 17:23] ggpai commented on #6617
postman.setGlobalVariable('Xtoken', postman.getResponseCookie("XSRF-TOKEN").value); --> Working fine in Get Request

When i try to use the same code in Test (Post Request) i am getting below error:
There was an error in evaluating the test script:  TypeError: Cannot read property 'value' of undefined

[2019-05-31 18:05] cyrielle-hada commented on #6617
Hi @ggpai! You should be able to log cookie values within the app, but you need the interceptor for it to work. We go in further details in our community post on [how to enable the interceptor with the Canary app](https://community.getpostman.com/t/interceptor-integration-for-postman-native-apps/5290).

[2019-05-31 18:28] CReich02 opened #6638 "Feature Request: Encrypt local variables"
### Is your feature request related to a problem? Please describe.
Local variable values are not encrypted like they are when they are when they get synced up to the Postman servers and Postman storage. Session variables and local variables. This is a pretty big security problem with the suggestions in the documentation that variables should be used for passwords and api keys.

### Describe the so

[2019-05-31 18:30] CReich02 opened #6639 "Feature Request: Secure variable option"
### Is your feature request related to a problem? Please describe.
Variable values are suggested to be used for passwords and api keys but when the editor is open anyone can look over your shoulder and view these values that are suppose to be secure.

### Describe the solution you'd like
In the postman variable editor have an option on the variable to mark it as Secure.

#### When a variable is ma

[2019-05-31 19:04] TWTgirl1221 commented on #4905
I also need a way to add search functionality to the documentation or expand all the requests so the user can do a Ctrl+f page search

[2019-05-31 19:08] philmagr commented on #6636
Windows

[2019-05-31 22:04] jonyzp commented on #3358
+1 now it's mandatory

[2019-06-01 02:04] bmercernccer commented on #4594
I have tried the test build briefly and didn't see any graphics issues with it. Fingers crossed!

[2019-06-01 02:20] hoangleitvn commented on #6187
We are facing this issue now, still not figure out the root cause

[2019-06-01 04:17] taylorjdawson opened #6640 "Broken Link on Capturing HTTP requests Page"
**Describe the bug**
There is a broken link on the [Capturing HTTP requests](https://learning.getpostman.com/docs/postman/sending_api_requests/capturing_http_requests/) page.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to [Capturing HTTP requests](https://learning.getpostman.com/docs/postman/sending_api_requests/capturing_http_requests/#connect-to-proxy-for-target-devices) page.
2. Sc

[2019-06-01 12:27] spajak opened #6641 "Lack of HTTP version string in the request line in the console"
In the console, postman shows no `HTTP/version` string after the path:
[code]
At the same time, 'code' view from the main windows shows this correctly:
[code]
I expect to see FULL request line & headers in the console as they go thru the wire.
Also, what is going on with the order of the headers? Is it random? I expect it to be in the exact order as sent to the server. For me it's a bug also.

[2019-06-01 20:02] AlmoutasemNabil commented on #1210
Same here on v7.1.1

[2019-06-01 20:03] AlmoutasemNabil commented on #1210
Still having this issue on v7.1.1

[2019-06-02 04:17] anoiio commented on #6623
@numaanashraf I previously had two workplaces, but deleted one of them before I started the steps.
This deleted workplaces had different set of collections.
Step 2 I do from the 'Collections' tab and 'Manage Environments' window, one by one.

[2019-06-02 15:17] ashishksingh commented on #5645
You can use steps in the blog https://medium.com/@ashi.k.singh/invoking-oci-rest-apis-using-postman-3fda258b0f7a in the meantime to invoke OCI APIs from Postman

[2019-06-02 16:05] talbronfer commented on #4044
Any updates on when this feature will reach production?

[2019-06-02 17:55] shsowmya commented on #634
Hi,
 I have the same need to save the response body as zip file while running in the collection runner. How can I achieve it using script?

[2019-06-02 19:21] TurtleBeach commented on #4594
Installation and cursory testing at localhost works. This on a Win7 Ultimate SP1 with NVidia NVS 510, Driver version 354.13, file version 6.14.13.5413 for all Display related code (NVidia control panel has different numbers).
"Normal" Postman requires disabling GPU on this machine (starting with Postman from a couple of years ago - 6.x but I do not remember precisely). So, if the Canary version tr

[2019-06-02 19:35] bmercernccer commented on #4594
Have done some more testing of this release, so far no issues on Win7 or Win10 with Intel HD chipsets, and I did have issues before.

I did change the POSTMAN_DISABLE_GPU environment variable to FALSE.

[2019-06-03 04:50] shamasis commented on #6638
Umm... aren’t the variables on your own computer? The only way this can be a problem if someone is on a shared computer or someone’s computer is compromised. For shared computer scenario, most OS provide protection that one can setup.

Even if it’s encrypted, to decrypt one would either need to store the key in the same computer (defeats purpose) or ask to enter the key manually every time.

I’m a

[2019-06-03 04:50] #6638 closed, assigned to vkaegis

[2019-06-03 05:06] abhijitkane commented on #6609
cc @Suhas-Gaikwad

[2019-06-03 06:50] Goltergaul commented on #5034
@numaanashraf Hi sorry I forgot to update here... Yes works now, thanks :)

[2019-06-03 06:59] #5034 closed, assigned to nobody

[2019-06-03 07:51] vkaegis commented on #6639
@CReich02 Thanks for writing in! Adding this to a large list of issues/features around variables we're hoping to tackle soon. No ETA just yet, but we'll keep you updated.

[2019-06-03 07:51] numaanashraf commented on #6492
Closing this issue as it was verified that the local cache was cleared properly.

[2019-06-03 07:51] #6492 closed, assigned to nobody

[2019-06-03 08:18] vkaegis commented on #6614
@mattlock83 Thanks for writing in! This is something that is definitely in our sights. No ETA just yet, but will keep you updated.

[2019-06-03 08:19] vkaegis commented on #6596
@pitersO2 Thanks for writing in! Introducing roles on environments is something we're actively working on. No ETA just yet, but will keep you updated.

[2019-06-03 08:47] yogirc commented on #6251
@preethammavin
i have the same error now.

[2019-06-03 08:54] preethammavin commented on #6251
@yogirc can you write to us at help@getpostman.com with the github issue id as reference so that we can take a look at it.

[2019-06-03 09:34] Ziv81 commented on #5827
I am using Postman 7.1.1 on Windows and still has this problem.

[2019-06-03 12:11] Gone4Codin opened #6642 "Fixing the problem with importing from swagger"
**Is your feature request related to a problem? Please describe.**
This feature request is related to 2 other open issues (#2857 and #4499).
The problem of Postman not importing correctly the body parameters from a request of a json file from Swagger is still present. I would not insist in this problem if I only had a few requests to change but I have, at least, 600 requests with a body.

**Descri

[2019-06-03 12:21] jacktang commented on #1818
I upgrade 7.7.1 yesterday, and now it crashes often.... I've clear all history records
OS is macOS

[2019-06-03 12:23] mmisztal1980 commented on #2701
+1

[2019-06-03 12:36] ansaryansu commented on #4775
Enable "oauth2AllowImplicitFlow" in the client application manifest.

[2019-06-03 12:56] anilraut30 commented on #5116
@numaanashraf  any further update or workaround on this?

[2019-06-03 13:25] reinouts commented on #6538
Might be the same issue: from a OpenAPI spec like this:
[code]
The POST body generated by Postman is just `ApplicationInstance`.

[2019-06-03 13:43] jacktang commented on #6533
I have the same error on v7.1.1!
And I downgrade to v7.1.0, the request is not send any more.

[2019-06-03 13:57] GabrielFiel commented on #1066
+1

[2019-06-03 14:03] rsarunprashad commented on #5394
I am looking for this  a while, dynamic proxy ennoblement through scripts

[2019-06-03 14:04] numaanashraf commented on #6633
@shajanjp We are having trouble replicating this at our end. Is this happening every time you open the app?

[2019-06-03 14:39] vladdeSV commented on #6555
I used the "Clear all" button in the history tab today, and my usage now properly shows the correct amount `0` of Shared History.

This was done with Postman v7.1.1 on macOS.

*Previously this had no effect, and got stuck at 6 requests.*

[2019-06-03 14:39] bobbybouwmann commented on #1070
+1

[2019-06-03 14:55] kaustavdm commented on #5116
@anilraut30 While this is still pending a response, a workaround specific to the use case posted above(setting a global variable depending on current environment name), can also be done by switching on a pre-defined environment variable. So, you would have a variable like `env` and give it values like `demo`, `dev` or `local`, and so on. And then in the pre-request script have something like:

[co

[2019-06-03 15:14] CReich02 commented on #6638
@shamasis If that is the issue then secure variables should either be stored on the users account and pulled down/decrypt as they are used. Or the decryption key should be stored in the users account and required them to be logged in to retrieve them.
There should be some way of securing Session variables, even if they are not stored in a plain text file secure passwords and/or api keys should not

[2019-06-03 15:44] kamalaknn commented on #5116
@anilraut30 @kaustavdm

`pm.environment.name` should give you the name of the environment in the latest version of Postman.

[2019-06-03 17:19] akaczinski opened #6643 "Postman not rendering "Pretty" responses, or showing test results"
**Describe the bug**
After sending a request, Postman does not display the response JSON in the normal "Pretty" format. It is only viewable if the "Raw" or "Preview" option is selected. In additon, the "Test Results" page does not show tests, rather just an empty page. It does, however, show the success/failure counts in the tab.

**To Reproduce**
Steps to reproduce the behavior:
1. Generate a req

[2019-06-03 17:23] parthpatwala opened #6644 "String length problem while using variables in POST request."
**Describe the bug**
Getting (+1) than actual string length while using a variable in POSTMAN request.
Ex.
{{host}}/message
[code]
I'm using node js. So by this, I'll get phone.length = 6 instead of 5.
If I use a full string then I'll get the right result.
Ex.
localhost:3000/message
[code]
I'll get string length 5 by this. Which is very weird. I don't know if this is a bug or need to do some setti

[2019-06-03 17:29] cyrielle-hada opened #6645 "Unable to update app - Something went wrong while trying to update your app"
**Describe the bug**
Unable to update Postman Native app from version 6.3.0 to version 7.1.1 - Something went wrong while trying to update your app message.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Postman > Check for Updates
2. See Update Failed

![image005](https://user-images.githubusercontent.com/47351631/58821616-5f2dd400-862d-11e9-9a42-cfdc02f0652a.png)

**App information

[2019-06-03 17:35] shamasis commented on #6643
@akaczinski - thanks for reporting. Is this happening for all responses? Can you send us a copy of your logs so that we can check what’s erring?

@saswatds

[2019-06-03 17:42] akaczinski commented on #6643
Yes, it's occurring across all previously functioning requests/tests.

Which logs would you like? I'm not really sure what data is contained in there so I'm weary about dumping them all at once.

Thanks!

[2019-06-03 18:57] saswatds commented on #6643
@akaczinski Thanks for reporting this. I have been able to reproduce this and have applied a patch internally to fix this. This should be fixed in the next build.

[2019-06-03 19:06] scottcollins17 opened #6646 "App Closes after Feed Upload Sent"
**Describe the bug**
Application is closing after feed upload is sent; feed is not refreshed.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
CVS UAT environment should be refreshed.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**App information (please complete the f

[2019-06-03 19:21] shamasis commented on #6644
This is very odd. Can you double check that the {{host}} variable is actually the same URL as localhost:3000? There’s nothing in Postman that I can think of that can cause this sort of a basic issue.

You may try opening the Postman Console, make one request with variable and one without that and then compare it the two has any difference.

[2019-06-03 19:23] shamasis commented on #6643
Thanks @saswatds - you prevent a full conversation round trip between @akaczinski and me! Hoping to release a patch at the earliest.

[2019-06-03 19:27] shamasis commented on #4044
@talbronfer both the solutions mentioned at https://github.com/postmanlabs/postman-app-support/issues/4044#issuecomment-463200228 is now out in production. I think in latest v7.1 app. Waiting for some feedback to double check if they are working fine.

Can you try them out and let us know? (1) api key auth type and (2) ability to manipulate request headers from script.

[2019-06-03 19:28] shamasis commented on #6455
@BartolomeoItaliano - were you able to fix this?

[2019-06-03 19:31] shamasis commented on #5918
@garyng not yet. We ran into some hiccups with NodeJS and also some UI aspects around incorporating these settings.

[2019-06-03 19:33] shamasis commented on #6592
Oops. The latter @krichter722. We need to make the error more visible instead of silently failing.

[2019-06-03 19:33] bartosz546 commented on #6455
Yes, that was strange problem. I reset my windows account and remove all user settings.

[2019-06-03 20:12] rmoskal opened #6647 "Postman-linux-x64-7.1.1 Error: Cannot find module 'circular-json'"
**Describe the bug**
After downloading and unpacking Postman-linux-x64-7.1.1.tar.gz on Fedora 30. I try to run ./Postman from the app directory with the following results:

[code]

**Expected behavior**
I expected the app to start!

**Environment**

Fedora 30, native app.

[2019-06-03 20:14] shamasis commented on #4568
@cen1 - I’ve tweaked the title of the issue to better reflect the use case and reopened the issue.

[2019-06-03 20:16] chrisdeso opened #6648 "Toggle for configured Postman API keys not visible on mobile"
**Describe the bug**
When viewing the Postman API Integration on mobile, the `Active/Inactive` toggle for API keys isn't visible

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://go.postman.co on mobile (or mobile view)
2. Select a workspace
3. Open the Integrations tab
4. Notice that the toggle for existing API keys isn't visible

**Expected behavior**
The toggle should be visib

[2019-06-03 22:24] sixcorners commented on #6109
Here is an IETF proposal that describes the behavior: https://tools.ietf.org/html/draft-west-let-localhost-be-localhost-06

[2019-06-04 02:09] Anakin-Hao commented on #6449
I m also hitting this issue.

[2019-06-04 03:46] kafai828 opened #6649 "Postman schedule issue"
Dear all,

I would run the script in the postman client, but when I run the script in schedule.
It will have below error

1 0:03:05 Clear database Cache1 started
2 0:03:05 Login Manager Server copy
3 0:03:05 POST http://localhost:9123/mgmtrestservice/authenticate
4 0:03:05 Error: getaddrinfo ENOTFOUND localhost:9123
5 0:03:05 Get Server group List copy
6 0:03:05 GET http://localhost:9123/mgmtrests

[2019-06-04 03:54] #6555 closed, assigned to ankitjaggi, preethammavin

[2019-06-04 05:18] numaanashraf commented on #6646
@scottcollins17 Please fill all the details in the template below. Right now, there is not enough information in this issue for us to understand and take action.

[2019-06-04 05:27] saswatds commented on #6643
Hi @akaczinski the single pane view does not seem to have this issue. While we get this fix out, you should be able to use the Single pane view without any issue.

Really sorry for the inconvenience.

[2019-06-04 05:51] ylanhds opened #6650 "Postman v7.1.1 数据返回格式显示出现不对齐,越位问题"
**Describe the bug**
A clear and concise description of what the bug is.
![image](https://user-images.githubusercontent.com/24424233/58854326-8937d280-86cf-11e9-8af1-c9f3c55a8926.png)

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Scr

[2019-06-04 06:31] ash007-postman commented on #6619
@ankit-m
*User* - I tried connecting in my home network, the collections weren’t getting synced for a longer time and I was not able to export them. Kindly assist.

[2019-06-04 06:44] prvinuch commented on #4823
Hi Guys, I just found a way to categorise the APIs using same collection. we do have an option to create folders under same collection, which can be used to categorise the APIs.
![Screenshot at Jun 04 12-12-57](https://user-images.githubusercontent.com/6958051/58857192-40c5e800-86c2-11e9-9d3e-3fcd681a78e1.png)

[2019-06-04 07:43] abhijitkane commented on #6538
@kholmukhamedovme @reinouts Can you try out the latest version of Postman Canary (https://getpostman.com/canary), and see if that fixes this? We've rolled out a bunch of improvements around the OpenAPI import flow.

[2019-06-04 08:07] kholmukhamedovme commented on #6538
@abhijitkane yes. I tried and here what we've got:

![Снимок экрана 2019-06-04 в 13 04 50](https://user-images.githubusercontent.com/14802112/58862209-994cb380-86c9-11e9-8910-d4ade0dc4819.png)

It generates invalid JSON :(

[2019-06-04 08:42] sebAtos commented on #4751
Same issue. An API returning a json response of 725 KB takes less 1 second whit Chrome but 4 seconds with Postman. Moreover, time events popup is not correct at all. This one indicates response time is of 573ms but it's not the case at all.
When do you think solve that ? I have just paid for a priced version and I have some doubt about reliability of this tool.

[2019-06-04 09:06] DannyDainton opened #6651 "Syntax errors in the pm.sendRequest() script causing app to crash"
**Describe the bug**

I was using the `pm.sendRequest()` function in one of my requests, my script was a bit rubbish and had issues within it but I didn't know that when I sent the request. After hitting the `Send` button the application just crashed.

After reducing down the code I was using, the snippet below is the code I used to reproduce the problem, I'm sure it could be narrowed down more bu

[2019-06-04 09:44] WallEnd opened #6652 "Postman crashes when try to run tests in Runner (MacOS)"
When i try to run Tests in Runner, application die with log:

`(com.postmanlabs.mac.11408[27546]): Service exited with abnormal code: 1`

I have no idea what happens. I have nothing about this problem in my logs.

[2019-06-04 09:54] imyaro commented on #4852
Any updates?

[2019-06-04 10:13] saswatds commented on #6643
Hi @akaczinski , we have released `7.1.1-canary06` with the fix. Will close the issue after confirmation from your end.

[2019-06-04 10:20] argethlam commented on #2096
Hi guys,

I had same problem with sending requests and **cmd + enter**, it's not natural for me... So, after I spend some time searching for solution without any success, I decide to made changes by myself.
So, I did it :).

Here is solution:
- from _Application_ right click on _Postman_, and click on **Show Package Contents**.
- navigate to **Contents->Resources->app->js** directory and find file

[2019-06-04 10:34] turnspike commented on #1390
Unless I'm missing something obvious, this is not working on Postman 6.7.4 and macOS 10.14.5. I'm trying to duplicate a request from [an example Okta collection](https://developer.okta.com/reference/postman_collections/) into my project collection. Dragging and dropping does nothing, the request's (⋯) hamburgler menu only shows "Open in New Tab", Edit -> Copy then selecting the request and Edit ->

[2019-06-04 11:05] turnspike commented on #6548
This functionality is not available on Postman 6.7.4 and macOS 10.14.5 for locked collections. I'm trying to duplicate a request from [an example Okta collection](https://developer.okta.com/reference/postman_collections/) into my project collection. Dragging and dropping does nothing, the request's (⋯) hamburgler menu only shows "Open in New Tab", selecting the request and Edit → Copy then Edit →

[2019-06-04 11:15] reinouts commented on #6538
@abhijitkane Unfortunately the behavior is still the same. The generated request body is whatever is in the body `description`element, not what is in the actual referred schema definition.

[2019-06-04 11:25] ghost commented on #5789
this "feature"="bug" actually disables the html anchor tag capability.

if i hover on an anchor tag in a table, the anchor highlights and underlines as it should.

![image 1](https://user-images.githubusercontent.com/11749682/58875369-2e2abf00-8680-11e9-9b44-fa4ed70dfb4a.png)

however, when i click on the anchor, a new page opens showing the expanded view of the table, not the destination id of th

[2019-06-04 11:29] abhijitkane commented on #6538
@reinouts This seems to be a different issue - the JSON request body from the parameters property isn't handled. Can you file a new issue on https://github.com/postmanlabs/openapi-to-postman/issues, with a complete spec that's causing this?

[2019-06-04 11:39] ghost commented on #5180
that's another way to define "does not work".

"If the user clicks the hyperlink then open the link", thereby allowing my user to completely miss the data below the cutoff.
don't forget to include the link to the instructional video explaining how this "feature" works so my clients won't be confused.

**better ideas:**
1) my favorite!! **provide an option to disable this feature**
2) provide optio

[2019-06-04 11:41] ghost commented on #5180
also, what genius decided it was better to open a whole other page to show the expanded table instead of just expanding the table in place?
**VERY bad design!**

[2019-06-04 12:07] m3dbedb commented on #5679
I didn't notise the issue in postman 7.1.1

[2019-06-04 12:11] m3dbedb commented on #6469
I process little requests/responses of about several bytes, number of collections in workspace is up to five. Opened tabs are 10 units. Note that the issue is cross-platform. I suppose @maxcr provided correct reason here: [https://github.com/postmanlabs/postman-app-support/issues/5288#issuecomment-426411371](url)

[2019-06-04 12:16] fanreson commented on #1667
it doesn't work. According to the quick start,  I tried 3 times, but I
still can't sync the request to the canary app.

Abhijit Kane <notifications@github.com> 于2019年5月31日周五 下午2:05写道：

[2019-06-04 12:19] abhijitkane commented on #1667
@fanreson This integration does not currently support request syncing. Only cookies for the selected domains are synced between the browser and Postman.

[2019-06-04 12:30] MMRandy commented on #1667
Capturing request and responses for the purpose of documenting an API is THE main reason for this feature.  Cookie syncing, while nice, doesn't do much for APIs that use oauth tokens in headers etc for API access.  When PM first said they were bringing the Chrome Extension to the desktop, I was very excited and informed my team we would wait to document our growing API for the PM Desktop App inter

[2019-06-04 12:55] Kittzus commented on #4352
I'd like to bump this to be re-opened as well. This is a real pain when working in Windows environments and seems like an arbitrary distinction to make to allow Unix line-breaks on the final line to be parsed correctly but not Windows line-breaks.

[2019-06-04 15:09] yuvalsabar commented on #1070
+1

[2019-06-04 16:07] cyrielle-hada opened #6653 "Unable to set up Slack integration to Monitor a collection"
**Describe the bug**
Setting up Slack integration to Monitor a collection throws the error message `The monitor is not shared with your team`.

**To Reproduce**
Steps to reproduce the behavior:
1. Select a team workspace you've joined
2. Set up Slack integration `Monitor Run Results` and choose the monitor you want to see the results on Slack
3. Confirm
4. See error

![Slack integration Error](htt

[2019-06-04 16:19] andreagubellini commented on #6587
any update on this one?

[2019-06-04 16:19] akaczinski commented on #6643
@saswatds Can confirm the response is displaying, as are the test results. Thank you very much for the quick fix!

[2019-06-04 16:19] #6643 closed, assigned to saswatds

[2019-06-04 16:20] labifrancis opened #6654 "Collection owner unable to recover a deleted collection from a team's workspace"
**Describe the bug**

When a collection is deleted from a team workspace by another team member who isn't the owner of the collection, the collection gets missing and the owner of the collection can't find it in the trash.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a collection in a team workspace
2. Another team member with an editor role should delete the collection

**Expected

[2019-06-04 16:58] matt-ball opened #6655 "Custom Webhook for Monitor Run Results incorrectly shows no available monitors"
**Describe the bug**
No monitors are visible in the "Select" drop down box when creating a Custom Webhook for monitoring results, despite there being monitors within the workspace.

**To Reproduce**
Go to create a new webhook - see that the drop down list is empty.

**Expected behavior**
Drop down populates with all monitors available in the workspace.

**App information (please complete the follo

[2019-06-04 17:39] Hackmodford commented on #5294
+1

[2019-06-04 18:10] abhijitkane commented on #6427
@iseehk I'm unable to reproduce this. cURL requests always open in a new tab, so there's no change in any existing request. Can you share a sample curl command and the request it adds to a tab, where the methods don't match?

[2019-06-04 18:12] abhijitkane commented on #6289
@oprogramador Can you confirm this fixed in the latest version of Postman Canary (https://getpostman.com/canary)?

[2019-06-04 18:14] abhijitkane commented on #5737
@AnkitMasand Can you confirm this fixed in the latest Postman Canary (https://getpostman.com/canary)?

You'll need to remove the line-ending backslashes:
[code]

[2019-06-04 18:45] zgirod opened #6656 "Generate code snippets for examples"
**Describe the solution you'd like**
I would like the ability to generate code snippets for examples.  It is cool that I can generate code snippets for my requests however if I have a particular example I want to generate a code snippet for I cannot do that.

**Describe alternatives you've considered**
There isn't a good workaround.  I guess you could copy the request and modify to conform to the

[2019-06-04 18:56] yossarian123 opened #6657 "Add ability to fork & merge environments"
There is currently no ability to fork or branch environments.  This is pretty critical for our workflow.
We use our collection runs in our CI/CD pipelines as a quality gate.  These runs are using the collections on "master".  This allows us to prevent regression - whenever we deploy a new or modified microservice we run the postman collections to make sure we didn't break anything.  Having the abi

[2019-06-04 19:45] jdrews commented on #4458
Seconded. This would be useful. Using operationId makes sense.

[2019-06-04 20:37] AHTA commented on #971
Please, would be very useful!

 +1

[2019-06-04 21:00] emersonf commented on #3094
I was about to request the exact same feature, syntax and all.

Imagine a request that POSTs a JSON body with 10 properties and their values.

[code]

If that request is manually triggered using _Send_, odds are the JSON contains 10 literal values. Now imagine you decide to trigger that request 100 times from the collection runner, and want to set those 10 values from a CSV file using data variabl

[2019-06-04 22:29] grojguy commented on #6635
I can confirmed exact same behavior, same conditions.

And I agree with OP... app version is in a very non-standard location.  Not sure why this was done.  Standard location for Windows is typically Help -> About.

Version 7.1.1 (native)
win32 10.0.17134 / x64

[2019-06-04 23:42] JP-from-Postman opened #6658 "User receiving status 400 error when clicking Leave your existing team"
[Reported by Postman Support, on behalf of original user]

**Describe the bug**
1. User is already on team A
2. User receives an invite to join team B.
3. User clicks on the invite link, and gets the following message:
`You are already part of a Pro team called “Team A”.`
4. User clicks on the ‘Leave your existing team’ link, receives a status 400 error page.

At least one affected user is on a te

[2019-06-04 23:47] oprogramador commented on #6289
@abhijitkane

It's still broken:
<img width="1197" alt="Screenshot 2019-06-05 at 01 46 43" src="https://user-images.githubusercontent.com/8701039/58920742-d9e11700-8733-11e9-9eac-765598852270.png">

[2019-06-04 23:59] godfrzero commented on #6658
@JP-from-Postman The issue name and description don't match, one is about custom domains and the other is about switching teams. 🤔

[2019-06-05 01:24] mokyle commented on #6579
Yes. I did overwrite the old application directory directly with the new application. So, manually updating it by deleting the old directory before unzipping and installing it is no problem.

[2019-06-05 01:24] #6579 closed, assigned to codenirvana

[2019-06-05 03:30] aCodeAlchemist commented on #4009
**WOW!** When searching for socket.io testing tools on chrome webstore I found this precise tool called [firecamp](https://chrome.google.com/webstore/detail/firecamp-a-campsite-for-d/eajaahbjpnhghjcdaclbkeamlkepinbl?hl=en).. check this out guys..

![Capture](https://user-images.githubusercontent.com/8849256/58928427-0d419700-8770-11e9-8b7d-12a9c75f6188.PNG)

also it supports websockets and bunch o

[2019-06-05 04:12] jeffreydking commented on #2701
+1

[2019-06-05 04:54] abhijitkane commented on #6289
@oprogramador Can you confirm you're on 7.1.1-canary05? I'm getting the expected output:
<img width="938" alt="Screen Shot 2019-06-05 at 10 23 51" src="https://user-images.githubusercontent.com/681190/58931130-16386580-877c-11e9-9b95-64fafa712582.png">

The version can be checked at Settings > About (Settings > Update to update)

[2019-06-05 05:24] shajanjp commented on #6633
@numaanashraf
Not always, only when starting postman after OS restart I believe.

[2019-06-05 05:44] #5679 closed, assigned to nobody

[2019-06-05 05:58] wabiloo commented on #4044
@shamasis - any documentation on how to achieve 2)?

[2019-06-05 06:57] ma-schmidt-de commented on #4044
@wabiloo This should help you:
https://community.getpostman.com/t/setting-headers-for-entire-collection-folder/708

[2019-06-05 07:21] codenirvana commented on #4044
@wabiloo To mutate request headers via `pre-request` scripts:

[code]

Refer: https://github.com/postmanlabs/postman-app-support/issues/1947#issuecomment-477775232

Also, as mentioned in https://github.com/postmanlabs/postman-app-support/issues/4044#issuecomment-463200228 the latest version of the Postman app adds support for new API Key auth:

<img width="808" alt="Screenshot 2019-06-05 at 12 48

[2019-06-05 07:21] #4044 closed, assigned to a85, codenirvana, vkaegis, sankalp0o

[2019-06-05 11:01] shamasis commented on #6650
Ah. Thank you for bringing this to notice. Looks like an issue with our text editor component. We are working to fix this and will post update in Postman Canary within the week: https://www.getpostman.com/downloads/canary

cc @kamalaknn @saswatds @codenirvana @numaanashraf

[2019-06-05 11:05] shamasis commented on #6647
Looks like the app was corrupted during an upgrade process. Can you do a fresh install?

[2019-06-05 11:09] shamasis commented on #6652
Can you provide more info? Running tests on my computer is working fine - so to reproduce this specific case, I would need more information:

1. Which app version and OS version
2. Is it crashing whenever you open runner
3. Is it crashing for all collections or specific ones
4. Can you send the error log files?

@numaanashraf can you assist in providing info / docs on how and what log files can be

[2019-06-05 11:37] WallEnd commented on #6652
1. macOS Mojave 10.14.5 (18F203) | Postman 7.1.1
2.It crashing when i'm press "Run"
3. It crashing for any collection i've run
4.I'm so sorry but i don't know where i can find postman crash-log? I need you to help me with it.

[2019-06-05 11:42] WallEnd commented on #6652
I see this logs when run from terminal
`./Postman
Not disabling GPU
(node:31210) [DEP0061] DeprecationWarning: fs.SyncWriteStream is deprecated.
Main~createDefaultWorkingDir - Default working dir creation already attempted
1559734802265 main info "Booting Postman 7.1.1, darwin-18.6.0 on x64"
1559734802266 main info "EventBus~initialize - Success"
1559734802268 main info "UpdateHandler~init - Succe

[2019-06-05 11:44] WallEnd commented on #6652
And i found, that it crashing only when i have JS code in my tests collection

[2019-06-05 11:45] kasradzenika commented on #3331
this thread:
![Heckoverflow](https://i.redd.it/2k1ut81gpcl01.png)

[2019-06-05 13:01] emersonf commented on #2621
It's not easily supported. I've resorted to creating dummy requests that do nothing but set environment variables, and I "run" them to change variables, e.g. switching between dev/qa/prod, for example. And keeping actual environments for secrets. It's a garbage workaround.

@a85 this shouldn't be closed. There's a state explosion problem that's easily solved by multi-selects and collection variabl

[2019-06-05 13:35] TehBakker commented on #2621
Doing the same as @emersonf , dummy requests to switch variable around

[2019-06-05 13:37] yossarian123 opened #6659 "Add enhanced merge tools to make merging similar to git pull requests"
With the ability to fork/comment/merge, Postman has some of the basic functionality of a git PR.  However, the following capabilities would really help:
- mark a merge as "needs work" - which will prevent the merge from taking place
- show a list of comments along with the ability to toggle those comments as resolved
- if there are any unresolved comments then postman would prevent the fork from b

[2019-06-05 13:38] #5947 closed, assigned to nobody

[2019-06-05 15:22] yaeldonner opened #6660 "my collections view is not visible in the app."
**Describe the bug**
while launching postman in my computer when i logged in, i cannot see and work with my collections through the app(side bar is missing) when i press "show sidebar" nothing happen. the collection view is not visible. i cannot add requests.

**To Reproduce**
Steps to reproduce the behavior:
1. open postman
2.see that the sidebar is not visible
3.try to add request, not working

[2019-06-05 15:25] saswatds commented on #6660
@yaeldonner You are currently in the `Browse` mode. You need to switch to the `Build` mode.
You should be able to see the toggle button the Bottom-Right corner of the screen.

[2019-06-05 15:26] enviapaqueteria commented on #4888
If you could let us integrate with Google Analytics would be enough!

[2019-06-05 15:47] saswatds commented on #6652
Hi @WallEnd Is it possible that your issue is related to https://github.com/postmanlabs/postman-app-support/issues/4721 ?

If that's the case then we would like to close this issue and keep issue #4721 open as the master issue

Thanks

[2019-06-05 16:01] cyrielle-hada opened #6661 "Unable to recover collection from trash - All Workspaces is Grayed out"
**Describe the bug**

The trash feature doesn't allow me to recover my collection and share it back to my personal workspace, from a single account (not a team account).

**To Reproduce**
Steps to reproduce the behavior:
1. Delete a collection from the application
<img width="304" alt="Screen Shot 2019-06-05 at 17 07 18" src="https://user-images.githubusercontent.com/47351631/58971959-66cbb500-87b

[2019-06-05 16:10] jramirezpr commented on #5286
Same issue

[2019-06-05 17:15] saswatds opened #6662 "File reference is lost in form-data upon saving a new request into a collection"
**Describe the bug**
When saving a request into a collection, if the request has a file-reference as form-data then the file reference gets lost. This does not happen if the request already exists as part of a collection

**To Reproduce**
Steps to reproduce the behavior:
1. Open a new tab
2. Author a new request with form-data type body
3. Select a file using the file-selector
4. Save the request

[2019-06-05 18:03] #6660 closed, assigned to nobody

[2019-06-05 18:16] HugoBCuri opened #6663 "Unable to sync my team collection"
**Describe the bug**
I was working in a collection and my colegue update the postman team version to v7.
Now I can't update to the latest version, because the postman installation is not working correctly on ubuntu 18.04, the postman is installed but the version is 6.7.1.

**To Reproduce**
1.  Download version Postman-linux-x64-7.1.1 .
2. Try to install on ubuntu 18.04, following [postman instruct

[2019-06-05 18:33] jessica-pixvana commented on #6663
Same here

[2019-06-05 18:59] Kjnrydr commented on #6556
Turning On the Allow reading files outside the working directory does not work alone.  In the "KEY" column you have add some description basically along with selecting File from the dropdown.  If you don't add something in the KEY column the error still persist.

I changed my working directory to where the file was and no longer received the message however the http request was still not uploading

[2019-06-05 19:21] juan-ramirez commented on #4594
I can confirm that the env. variable workaround is still working as of today, issue is still present on

Windows 8.1 - Intel Corei7 4710HQ CPU with NVidia GFORCE GTX 850M.

Thanks @harryi3t ,

Cheers!

[2019-06-05 19:30] godblesslancek commented on #2724
+1 !! Thank you for the product!

[2019-06-05 19:34] juan-ramirez commented on #4594
@harryi3t Just tried the Particular build you attached a couple days ago and its working as expected
Here are some logs if you wanna take a look

[PostmanCanary.zip](https://github.com/postmanlabs/postman-app-support/files/3258751/PostmanCanary.zip)

[2019-06-05 19:48] JP-from-Postman commented on #6658
@godfrzero Updated. Was writing another bug previously and left the title. :P

[2019-06-05 21:17] mblufkin opened #6664 "Hard crash when making a request with empty scheme as part of the URL"
**Describe the bug**
There's a hard crash whenever a call is made with an empty unresolved variable as part of the protocol.
**HARD CRASH** - `GET {{X}}://www.google.com`
**HARD CRASH** - `GET http{{X}}://www.google.com`
**HARD CRASH** - `GET {{X}}http://www.google.com`

It seems to be specifically before the `://`.

**To Reproduce**
Steps to reproduce the behavior:
1. Make a request with a variab

[2019-06-05 21:43] kazenshi commented on #285
I tried this from the Developer Console. Here is what I get.
![image](https://user-images.githubusercontent.com/3218210/58992647-3e39c000-87a0-11e9-9082-7788b736b2bd.png)