[2016-09-12 15:25] a85 commented on #1786
@abhijitkane is there a way to:
1. Read session cookies and display them
2. Remove session cookies individually
3. Remove all session cookies?

If yes, we should display them exactly like the way we do now.

[2016-09-12 17:25] nbcarey commented on #2314
Same here. Our proxy configuration is...interesting. Or something :)

[2016-09-12 21:03] ghost commented on #1977
Thank you!   The scaling works on my PC using the CTRL +   or CTRL -  when I use the + and - signs that are above my keyboard.
Just an FYI only the CTRL -   shortcut seems to work, when I use the (minus sign) - that are is my on my numeric keypad.   CTRL + and CTRL0 do not work from my numeric keypad.

[2016-09-12 22:07] a85 commented on #2179
@madebysid Is this still a valid bug?

[2016-09-12 23:01] jghankins commented on #739
+1

[2016-09-12 23:06] worrel commented on #2295
Looks like I'm on 4.7 ![](https://www.dropbox.com/s/rn6zh22cts23c8m/Screenshot%202016-09-12%2019.04.43.png?raw=1)
The issue still occurs though.  I can take a working OAuth request for Yelp API and make it fail by switching out the `some-business-name` in `https://api.yelp.com/v2/business/some-business-name` with `:business-id` and providing `some-business-name` in the params form.

[2016-09-12 23:38] goldbergjeffrey opened #2321 "Documentation Request: Windows Application client certificate changes require clarification"
1. Postman Version: **4.7.0 win32 10.0.10586 / x64**
   1. App (Chrome app or Mac app): **Windows App**
   2. OS details: **Windows 10**
   3. Is the Interceptor on and enabled in the app: **No**
   4. Did you encounter this recently, or has this bug always been there: **First seen on 12-September-2016**
   5. Expected behaviour: Prompt for client certificate, certificate authentication works and

[2016-09-13 06:05] chimit commented on #2263
Confirm! Something has been changed last few months. Before this request had been working without problems:

[code]

Now I have to select 巴黎, right-click and choose **EncodeURIComponent** to make it work as before. The request is changed to:

[code]

Postman 4.7.0 for macOS (standalone).

[2016-09-13 06:31] sdnts commented on #2295
Ah I was able to reproduce this. We'll get on a fix.
For the time being though, you could use environment variables in pretty much the same way.
Make a request to `https://api.yelp.com/v2/business/{{businessId}}`, setting `businessId` in an environment variable. Relevant docs are [here](https://www.getpostman.com/docs/environments)

[2016-09-13 06:32] sdnts commented on #2179
For now, yes. We're working on this.

[2016-09-13 08:22] pnt commented on #2225
Broken again in 4.7.0. The URL (not visible in screenshot) is a publicly visible address, which requires me to go through the proxy. It's not 127.0.0.1 or internal.
![screen shot 2016-09-13 at 11 07 39](https://cloud.githubusercontent.com/assets/1242945/18466400/3a61c962-79a4-11e6-8b32-0a5ddbd59dcd.png)

Edit: Fixed in 4.7.1 which just arrived.

[2016-09-13 08:51] janeklb opened #2322 "generated cURL code does not encode single quotes properly"
1. Postman Version: 4.7.0
2. App (Chrome app or Mac app): Chrome
3. OS details: Xubuntu 16.04
4. Is the Interceptor on and enabled in the app: No (not proactively at least..)
5. Did you encounter this recently, or has this bug always been there: Recently (First time i tried to do this)
6. Expected behaviour: That generated cURL code works in my terminal
7. Console logs (http://blog.getpostman.com/

[2016-09-13 11:00] soundstep opened #2323 "Chrome Request throttled (Anti-DDoS)"
I've got a suite tests and one of them is testing a 500 response.
I noticed when I run it against a remote url more than a few times the request are throttled by chrome:

![screen shot 2016-09-13 at 11 49 16](https://cloud.githubusercontent.com/assets/133293/18471171/7f728a1a-79a8-11e6-89f7-2a31b23701a1.png)

![screen shot 2016-09-13 at 11 52 54](https://cloud.githubusercontent.com/assets/133293/1

[2016-09-13 12:54] elmi82 commented on #1487
@a85: Works! Great, thanks for fixing this. :+1:

[2016-09-13 13:15] everydaynerd commented on #2225
I can confirm that 4.7.1 fixed the proxy issues we were seeing as well.  Thanks!

[2016-09-13 17:59] neowulf commented on #982
It'd be nice if the variables are auto sorted.

Usually, the variable is appended to the bottom of the list. But, when scanning to update the variable, it's easier to scan an alphabetically sorted list.

[2016-09-13 21:35] joelaw1 commented on #2314
The v4.7.1 update resolved this issue on my workstation.   Thanks!

[2016-09-13 22:16] #2294 closed, assigned to numaanashraf

[2016-09-13 22:18] a85 commented on #1158
@sophistifunk The proxy is now deprecated. You can use our native apps which have an in-built proxy for capturing requests: https://www.getpostman.com/docs/capture_native

[2016-09-13 22:18] #1158 closed, assigned to nobody

[2016-09-13 22:18] #1157 closed, assigned to nobody

[2016-09-13 22:19] a85 commented on #672
The proxy has been deprecated. Postman's native apps have an in-built proxy now: https://www.getpostman.com/docs/capture_native

[2016-09-13 22:19] #672 closed

[2016-09-13 22:20] a85 commented on #1323
@shamasis Can we close this?

[2016-09-13 22:20] a85 commented on #1430
We have moved to a React based UI layer. This issue should not be happening now.

[2016-09-13 22:20] #1430 closed, assigned to nobody

[2016-09-13 22:21] a85 commented on #1626
We are continuously improving Postman's performance. Closing this ticket for now.

[2016-09-13 22:21] #1626 closed, assigned to nobody

[2016-09-13 22:22] #1875 closed, assigned to numaanashraf

[2016-09-13 22:22] #1914 closed, assigned to numaanashraf

[2016-09-13 22:23] a85 commented on #2076
Issues like these should be solved by Postman native apps available here: www.getpostman.com/apps

[2016-09-13 22:23] #2076 closed, assigned to nobody

[2016-09-13 22:24] a85 commented on #2146
Seems to be working for me in the latest version. (4.7)

[2016-09-13 22:24] #2146 closed, assigned to SamvelRaja

[2016-09-13 22:25] a85 commented on #2131
Verified this is still happening in 4.7

[2016-09-13 22:31] #327 closed

[2016-09-13 22:31] #1010 closed, assigned to nobody

[2016-09-13 22:31] #1048 closed, assigned to nobody

[2016-09-13 22:32] a85 commented on #2177
@nibras85 Can you try our native apps? The Chrome apps are set to be deprecated soon and we recommend switching to the Windows native app to avoid such issues: www.getpostman.com/apps. Let me know if this issue still exists and I'll reopen the issue.

[2016-09-13 23:41] Shyri commented on #1113
It is still happening

[2016-09-14 01:01] nbcarey commented on #2314
v4.7.1 seems to have fixed  my problem as well. Thanks!

[2016-09-14 01:56] SamvelRaja commented on #2314
@turchinc @v0ltair3  The issue has been fixed in the `4.7.1` kindly check from your end.

[2016-09-14 01:56] #2314 closed, assigned to SamvelRaja

[2016-09-14 02:00] SamvelRaja commented on #2225
@pnt @DerFlash The fix is there in our 4.7.1 version of the app kindly check the same from your end 😄

[2016-09-14 05:13] turchinc commented on #2314
I can confirm this. Thanks.

On Wed, Sep 14, 2016, 03:57 SamvelRaja notifications@github.com wrote:

[2016-09-14 05:14] ghost commented on #907
+1

[2016-09-14 05:55] shamasis commented on #1323
Yes. Tv4 is latest in sandbox.

[2016-09-14 08:01] marekpetak opened #2324 "Could not get any response on Windows App"
Hi, Im using Postman for Windows app version 4.7.1 on Windos 8.1 64bit on company proxy (using user name and password). Default config. I do not use interceptor.

Every request ends up with an error Could not get any response and history is not recorded as well.
If I run the same request on Chrome App on the same PC, all works fine

DevTools console does not show any errors, it does not show anyth

[2016-09-14 08:06] SamvelRaja commented on #2324
@marekpetak Can you get me a screen shot of our **PostmanConsole** (View -> Show postman console or Cmd+Alt+C)
It will show the proxy details there.

[2016-09-14 08:12] marekpetak commented on #2324
deleted is the domain name. so it looks like is using the domain name instead of proxy IP ... is this settable somewhere or just using system default?

![screenshot](https://cloud.githubusercontent.com/assets/7045818/18504607/0f273054-7a5b-11e6-8b90-47f3456c0cce.PNG)

[2016-09-14 08:17] SamvelRaja commented on #2324
@marekpetak Postman will take up the Proxy details available in the Internet options of  your system, Can you check whether it is there properly.

Also, let me know how you are setting the proxy, through Proxy auto configuration(PAC) or directly providing proxy details in the `Internet options -> Connections -> Lan Settings`

[2016-09-14 08:24] marekpetak commented on #2324
manualy set IP:PORT and is using my domain login/password

[2016-09-14 12:06] EpocDotFr commented on #2312
FYI this bug is blocking and prevent using the oAuth 1.0 feature.

[2016-09-14 12:42] EpocDotFr commented on #2312
I just installed Chrome with the Postman extension. Exact same issue. @ZeWaren surely hasn't the latest version installed.

So this bug is now EXTREMELY blocking, in addition to be a regression.

[2016-09-14 12:50] sdnts commented on #2312
@EpocDotFr @ZeWaren We're looking into this, aiming to push out a fix ASAP. Will let you know here as soon as it is out.

[2016-09-14 13:12] S33G opened #2325 "Body not generated in code snippet when stored in environment variable"
Postman Version 4.6.3 (4.6.3) Mac OS 10.11.6 (15G31)
No Interceptor

First time I've used 'Generate Code' with environment variables

I expected postman to generate my code into a file, with the header and body present.
However, in certain languages, when the body is stored in an environment variable. The body is not included as part of the code generation.

No errors in console log.

---

Screens

[2016-09-14 13:24] S33G commented on #2325
Actually, so far the only language I can get to output the body from environment variables is the default (HTTP)

[2016-09-14 13:56] aditya-mittal commented on #1991
@abhijitkane Any updates on the fix for this bug?

[2016-09-14 15:33] stephan-gruen opened #2326 "Content-Type for x-www-form-urlencoded is not set automatically"
1. Select Body -> raw
2. Select XML
3. Switch to Headers -> Content-Type is set to "text/xml"
4. Select Body -> x-www-form-urlencoded
5. Switch to Headers -> Content-Type is still set to "text/xml", but should be set to "application/x-www-form-urlencoded"

[2016-09-14 18:17] a85 commented on #1991
@aditya-mittal Are you looking for multipart/mixed? Postman doesn't support it just yet.

[2016-09-14 18:20] aditya-mittal commented on #1991
Yes looking for the same(multipart/mixed)

On 14-Sep-2016 7:17 PM, "Abhinav Asthana" notifications@github.com wrote:

[2016-09-14 18:58] a85 commented on #2070
The pmproxy tool has been deprecated in favor of the in-built proxy inside Postman native apps. That's much easier to set up and work with. You can get them here: www.getpostman.com/apps

[2016-09-14 18:58] #2070 closed, assigned to czardoz

[2016-09-14 18:59] a85 commented on #1913
Working for me now (4.7+). Closing the issue. @mstaalesen Feel free to reopen if you see this in Ubuntu too.

[2016-09-14 18:59] #1913 closed, assigned to numaanashraf

[2016-09-14 19:00] a85 commented on #1730
@desygn We have made several changes to the Collection Runner code. Is this still happening for you?

[2016-09-14 19:04] desygn commented on #1730
Hi there... thanks for the response.

I have changed postman to use windows and I'm actually using the newman
node module now. So it is all good!

Thanks!
Art

On Wed, Sep 14, 2016 at 3:00 PM, Abhinav Asthana notifications@github.com
wrote:

[2016-09-14 19:05] a85 commented on #1730
Awesome. Closing this issue then.

[2016-09-14 19:05] #1730 closed, assigned to nobody

[2016-09-14 19:25] nildowjunior commented on #1460
This would be great.
Any chance of it happens soon?

[2016-09-14 20:22] pvdev opened #2327 "PKCS11 or MSCAPI interface in the Postman App"
Any work or possibility of supporting a PKCS11 or MSCAPI interface in the Postman App?  Looking to support test with TLS mutual authentication where the client has smartcard.  Works using the browser extension which uses the MSCAPI, but was hoping to use the same test suite in the App.

Postman App version 4.7.1
win32 6.1.7601 / ia32

Thanks,
Perry

[2016-09-14 20:57] ollyzpalace commented on #739
+1

[2016-09-14 20:59] Art-B commented on #739
+1

[2016-09-14 21:53] sonal809 commented on #884
Any permanent fix for this issue? I keeps cropping up again and again but there are no definite steps to recreate it.

[2016-09-14 22:58] nibras85 commented on #2177
@a85 I installed the native Windows version of Postman and the issue still exists.

[2016-09-15 00:00] rapidroamer commented on #1535
+1

[2016-09-15 03:56] sdnts commented on #2177
@nibras85 You should be able to achieve this by using the New Window button on the top left. It'll open a new window of Postman that you can drag on to a different desktop.
Correct me if I misunderstood.

[2016-09-15 05:32] hkgill commented on #907
+1

[2016-09-15 09:02] dor-denis opened #2328 "When importing swagger file, only first path param is transformed to Postman param"
1. **Postman Version:** 4.7.1
2. **App (Chrome app or Mac app):** Chrome app and Mac app
3. **OS details:** OS X El Capitan
4. **Is the Interceptor on and enabled in the app:** no
5. **Did you encounter this recently, or has this bug always been there:** always've been there
6. **Expected behaviour:** When I'm importing Swagger file, urls like `orders/{orderId}/shipments/{shipmentId}` transform to

[2016-09-15 09:18] RobbyDeLaet commented on #1137
+1

[2016-09-15 09:39] RobbyDeLaet commented on #2292
+1

[2016-09-15 10:59] vegetableman commented on #2319
@rvnath Could you post a screenshot of the console tab?

[2016-09-15 11:31] vegetableman commented on #2311
@wayne-oscme Thanks for reporting this 👍 .  The issue has been fixed in the latest version of the app. Could you verify?.

[2016-09-15 12:46] SamvelRaja commented on #2324
Hey @marekpetak I believe there is no way to provide username and password for proxy server in windows by directly.  Also, at present we are working on a feature to bring in all the proxy setting inside the Postman itself which will eventually have the username and password support also, I hope that will fix your problem.

[2016-09-15 12:57] marekpetak commented on #2324
No as far as I'm aware. Similiar behind proxy settings is required for GIT where I need to set .gitconfig
proxy = domain%5Cusername:password@IP:PORT, although the solution is not perfect as plain text password is being stored in .gitconfig.

[2016-09-15 12:58] SamvelRaja commented on #2326
@stephan-gruen  Thanks for bringing this to our notice. This would be available in our next version.

[2016-09-15 13:30] SamvelRaja commented on #2322
@janeklb   Thanks for bringing this to our notice. We are looking into this issue. will let you know the status here.

[2016-09-15 14:16] #2286 closed, assigned to numaanashraf

[2016-09-15 14:31] SamvelRaja commented on #2211
Closing this as we didn't get response from user.

[2016-09-15 14:31] #2211 closed, assigned to nobody

[2016-09-15 14:44] SamvelRaja commented on #2205
@kubah Thanks for bringing this to our notice, we will be looking into it.

[2016-09-15 15:21] wayne-werner commented on #2311
I can indeed.  It is now working!  Thanks!

On Thu, Sep 15, 2016 at 7:31 AM, Vignesh Anand notifications@github.com
wrote:

[2016-09-15 15:26] sdnts commented on #2311
Awesome! Closing this then.

[2016-09-15 15:26] #2311 closed, assigned to vegetableman

[2016-09-15 15:32] Voxis commented on #1137
+1

[2016-09-15 16:43] SamvelRaja commented on #2201
@octohub There is a whole new UI for cookie manager is available in the latest version 😄

[2016-09-15 16:43] #2201 closed, assigned to SamvelRaja

[2016-09-15 17:28] wojo commented on #285
+1

[2016-09-15 17:52] cviebrock commented on #2328
I started noticing this when they fixed #2303 From version 4.6.3 (which didn't import Swagger at all) to 4.7.0 (which did, but only converted the first parameter).

And, when someone from Postman takes a look at the Swagger import, I'd suggest they also look into fixing https://github.com/postmanlabs/postman-app-support/issues/1782#issuecomment-231923643 ... where the default value for all the par

[2016-09-15 19:09] a85 commented on #1137
All, we'll make our roadmap about authorization options public soon. Lots of work has gone into the underlying Postman layers to make this possible and we are working on the UI layer now.

[2016-09-15 19:35] corneil commented on #1772
I can confirm that 4.7.1 works with localhost as well as with 127.0.0.1 on Windows desktop.

[2016-09-15 19:48] a85 commented on #2328
Yep. Looking into this.

[2016-09-15 21:38] schmod opened #2329 "Headers with names like 'X-Date' are silently dropped if User-Agent and Accept-Encoding headers are included in the same request"
Hi,

So, I've got a rather strange issue.

If I make a request from Postman that includes a HTTP header named `X-Date`, **this header is silently dropped from the request if `User-Agent` and `Accept-Encoding` headers are also included in the same request.**

Including other standard headers like `Cookie` or `Cache-Control` do not seem to trigger this behavior.  Similarly, `User-Agent` _and_ `Accep

[2016-09-15 21:44] chrisantonellis commented on #884
i'm experiencing the same issue after opening and updating postman today. I do not have postman interceptor installed.

[2016-09-15 23:00] a85 commented on #1669
@tribou Awesome. We'll add this asap.

[2016-09-15 23:13] rhull007 opened #2330 "ReferenceError xmlToJson is not defined windows app"
Using newest  Windows version (4.7.1 win32 6.1.7601 / x64)  of postman get following error  trying to use the below
var jsonObject = xmlToJson(responseBody);

There was an error in evaluating the test script:  ReferenceError xmlToJson is not defined

Works fine in Chrome version

1. Postman Version:
2. App (Chrome app or Mac app):
3. OS details:
4. Is the Interceptor on and enabled in the app:
5.

[2016-09-15 23:19] a85 commented on #1663
@shamasis @czardoz What do we need to do to fix this issue?

[2016-09-16 01:44] nibras85 commented on #2177
@madebysid Yes, what you suggested works. But it would be nice if I can just have another instance of Postman by launching it normally instead of going to the first instance, then creating another one from it.

[2016-09-16 06:10] shamasis commented on #1663
@czardoz is already on it. 😊

[2016-09-16 06:10] shamasis commented on #1663
The app needs a better way to stop adding saved header into the auth.

[2016-09-16 07:35] vegetableman commented on #2208
@p00j4 Sorry for the late reply on this. Not sure how we missed this. The session cookie would be sent regardless of the differences in the ui you observed. Could you please try using the latest version of the chrome app and check if it's reproducible?.

[2016-09-16 10:58] shamasis commented on #1663
@tikipatel and rest :-),

the change being introduced to fix this will require you to now provide `session token` (one that generates `x-amz-security-token`) as part of the AWS auth helper UI and if you were previously providing it via headers that would not work.

@SamvelRaja - please add to app changelog as a minor breaking change.

[2016-09-16 12:00] bondarevpavel commented on #2130
WORKAROUND: In OS X I've just added style to _/Applications/Postman.app/Contents/Resources/app/js/requester.js_ file in _exports.push_:
`
.request-editor,
.response-viewer {
    width:50%;
    float:left;
}
`

[2016-09-16 12:34] sdnts commented on #2330
Hey @rhull007, the function xmlToJson is deprecated, so you should use xml2Json in your test script. You can find docs about the test sandbox [here](https://www.getpostman.com/docs/sandbox)

Closing this, feel free to reopen if this doesn't fix you issue

[2016-09-16 12:34] #2330 closed, assigned to nobody

[2016-09-16 14:39] rhull007 commented on #2330
Update , you can ignore this. Figured it out.
console.log(jsonObject.person.$.name);

//////////////////////

Oh ok, thanks for the info. Dang well  I'm trying  to rework my test cases and cant find any example with how to traverse the new xml tree, I keep getting undefined on attributes, so any input would be appreciated!

XML example  -- >< person name="ryan"/>
var jsonObject = xml2Json(response

[2016-09-16 14:42] alexbjorlig commented on #697
+1

[2016-09-16 14:44] Rasumichin commented on #2242
I observe the same problem on my company notebook running Windows 7.
Chrome Version 52.0.2743.82 m (64-bit)
Postman 4.7.1 (win / x86-64)

Here a screenshot from the developer tools:
![postman-proxy-problem](https://cloud.githubusercontent.com/assets/1571623/18589815/af4a6d76-7c2c-11e6-8567-f845905e582a.png)

A solution would be really appreciated.

[2016-09-16 17:30] daniellemoreira1 opened #2331 "File select through the "form-data" option does not save."
**Identified problems:** selected file saved does not appear after you close the tab. Also, you can not hold two requests using different files.

**Version Chrome: 53.0.2785.116 m (64-bit)**

**Steps to Reproduce:**
1. Access Postman;
2. Create a new request;
3. Change the method to "POST" and inform the service;
4. Select the "form-data" and change the "text" to "file";
5. Choose a file;
6. Selec

[2016-09-16 20:33] crunchytom opened #2332 "OAuth 1.0 works for GET and POST but fails for DELETE"
1. Postman Version: 4.7
2. App (Chrome app or Mac app): Chrome app
3. OS details: OSX 10.11.12
4. Is the Interceptor on and enabled in the app: no
5. Did you encounter this recently, or has this bug always been there: N/A
6. Expected behaviour: OAuth signature match
7. Console logs (http://blog.getpostman.com/2014/01/27/enabling-chrome-developer-tools-inside-postman/ for the Chrome App, View->Togg

[2016-09-16 20:48] a85 commented on #2331
@daniellemoreira1 Postman does not store file references right now. We are working on improving this behavior.

[2016-09-17 06:47] shamasis commented on #2329
Aha. Let me do some digging and get back to you.

[2016-09-17 09:12] ericzhang1124 commented on #697
+1

[2016-09-18 07:59] id0Sch commented on #2324
not getting a response as well (mac)
i'm getting a response when using generated curl code + chrome

[2016-09-18 16:33] felixfbecker opened #2333 "application/jwt response opens download prompt"
1. Postman Version: 4.7.1
2. App (Chrome app or Mac app): Windows Electron app
3. OS details: Windows 10 Pro x64
4. Is the Interceptor on and enabled in the app: no
5. Did you encounter this recently, or has this bug always been there: it was introduced in a recent update
6. Expected behaviour: Just show the response like text, don't open a download prompt
7. Console logs (http://blog.getpostman.c

[2016-09-18 18:19] a85 commented on #2333
@czardoz Is this a runtime issue?

[2016-09-19 06:55] andreassiegel commented on #2294
It worked when I last tested with v4.6.3! :)

[2016-09-19 08:13] vegetableman commented on #2236
@Haegin @samcook Thanks for reporting this :+1: . This has been finally fixed in our internal build and will be part of the next release.

[2016-09-19 10:38] vegetableman commented on #2299
@amnesty007 Thanks for reporting this  👍 . The issue has been fixed in our internal build. Will be made part of the next version.

[2016-09-19 15:44] deanilenko opened #2334 "Why Postman App for chrome send requests to *.top domains?"
1. Postman Version: Postman 4.7.1
2. App (Chrome app or Mac app): Chrome app
3. OS details: Ubuntu 16.04.01
4. Is the Interceptor on and enabled in the app:
5. Did you encounter this recently, or has this bug always been there: not sure
6. Expected behaviour: don`t send any statistic
7. Console logs (http://blog.getpostman.com/2014/01/27/enabling-chrome-developer-tools-inside-postman/ for the Chro

[2016-09-19 15:49] abhijitkane commented on #2334
@deanilenko Can you check the Network tab of the DevTools window (https://www.getpostman.com/docs/errors)? Make sure `All` and `Preserve log` are enabled. This will log out any requests made via Postman.

You should see one entry for the request you're manually making through Postman. Is there a second entry for the `/user/4x3emraycqzlpdvstig7uhj0nbw896ko` URL too?

[2016-09-19 17:10] deanilenko commented on #2334
After i enabled debug, i tried several times, but i could not get this issue any more. i will try to do this a bit latter

[2016-09-20 02:21] narthollis commented on #2268
I am experiencing this same issue with a different OAuth2 server.

![image](https://cloud.githubusercontent.com/assets/67732/18655475/49986420-7f28-11e6-9ee8-3960aa03ada9.png)

From what I can see, the issue appears to be that jQuery has detected that it is running in a NodeJS-like environment and is therefor not putting its self into the global scope like it would on the web.

The fix should be t

[2016-09-20 02:26] SamvelRaja commented on #2268
@cartickn  @narthollis  Thanks for bringing this to our notice, will keep this issues updated regarding the progress of it.

[2016-09-20 02:41] SamvelRaja commented on #2332
@crunchytom  Thanks for bringing this to our notice we will keep posting the status on this issue here.

[2016-09-20 03:16] vegetableman commented on #2298
@amnesty007 Looking in to this. Thanks for reporting.

[2016-09-20 08:04] vkaegis commented on #2019
Hey @nickpestov, thanks for bringing to our attention! We'll be rolling out a fix for this soon... will let you know once we do.

[2016-09-20 08:18] jodem commented on #932
I use postman for mac 4.7.1 and I confirm the {{echo_digest_nonce}} is still not working.

[2016-09-20 08:31] irfanbaigse commented on #697
+1

[2016-09-20 09:46] SebastiaanKlippert opened #2335 "RAML import does not work (and does not give an error)"
1. Postman Version: 4.7.1 - win / x86-64 - Chrome 53.0.2785.116
2. App (Chrome app or Mac app): Chrome
3. OS details: Windows 10 x64
4. Is the Interceptor on and enabled in the app: yes
5. Did you encounter this recently, or has this bug always been there: recently
6. Expected behaviour: Expect to see a new collection
7. Console logs (http://blog.getpostman.com/2014/01/27/enabling-chrome-developer

[2016-09-20 10:05] sdnts commented on #2335
Hey @SebastiaanKlippert, we've identified this issue, and will be pushing out a fix today. Will keep you updated.

[2016-09-20 10:26] vegetableman commented on #932
@jodem Thanks for bringing this to our notice. We've identified the issue as well, will update you all.

[2016-09-20 10:32] SebastiaanKlippert commented on #2335
Great, thanks :smile:

[2016-09-20 15:15] elliotfleming commented on #1949
Are there any plans to allow more restrictive controls, such as the ability to only show a shared collection to certain team members instead of all or nothing? Groups?

It would be great to be able to manage multiple teams with one account.

[2016-09-20 15:35] johnnavarra commented on #1180
Example, generate code displays:
POST /premierleadexchange.asmx HTTP/1.1
Host: production.detroittradingexchange.com
Content-Type: text/xml
SOAPAction: "www.detroittradingexchange.com/NEWCAR_PostGX"
Cache-Control: no-cache
Postman-Token: 692312f6-181b-5a18-bd93-461621fe5e8c

<soap:Envelope
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"

[2016-09-20 18:13] mjonas87 commented on #213
+1

[2016-09-20 18:51] jamest-iqmetrix commented on #2278
Has anything been implemented for this yet?
I've noticed that for the last couple of weeks, I do in fact have a tab still open when I open the Chrome app (version 4.7.1).  But instead of it being a tab I was using in my previous session, it's simply always the same tab with the same information.

[2016-09-21 00:23] tikipatel commented on #1663
Great! @shamasis any insight as to release time for this change?

[2016-09-21 01:06] miked0004 commented on #383
+1, interested in progress on this. Since I am able to use the Postman app for Mac, it would have easy read/write to the file system and the data dir could be preserved in SCM.

Any updates? Good product, just needs this capability. Would be even better if it was built into the app like SoapUI.

[2016-09-21 06:17] nathanboktae commented on #1545
+1 this is a deal breaker @alexthornton and we'll end up using Paw over Postman for our team even though I'd rather use Postman.

[2016-09-21 06:19] nathanboktae commented on #2013
Yes, Paw has this support and Postman should too otherwise a lot of business will be lost to it.

[2016-09-21 10:05] YemSalat opened #2336 "Collection variables are not present in auto complete dropdown or highlighted"
1. Postman Version:
2. App (Chrome app or Mac app): Chrome app
3. OS details: OSX
4. Is the Interceptor on and enabled in the app: na
5. Did you encounter this recently, or has this bug always been there: not sure
6. Expected behaviour:

I am trying to import a collection with some variables pre-set in it.
Here is the part of my .postman_collection that does that:

[code]

And then in the url I ha

[2016-09-21 10:06] abhijitkane commented on #2336
@YemSalat The V2 format supports variables, but support for this feature isn't available in the app yet.
For now, you'll need to create an environment with these variables.

[2016-09-21 10:09] YemSalat commented on #2336
I see, thanks for the explanation @abhijitkane!
Do you by any chance know if there is any planned roadmap for adding this feature?

[2016-09-21 11:03] sdnts commented on #2333
@felixfbecker We've identified this issue and a fix should be released today. Will keep you in the loop :)

[2016-09-21 11:43] siczmj opened #2337 "Folder with unicode character not working perfect"
That was my idea I start using some unicode charater (💻, 📱) for better user experience. But it seems that this is a problem in some places. Sync working perfect, but not working the follows:
- Share collection link failed (only blink the hidden panel when click "Get Link" button)
- Online docs not show the folder name. (see attachment please).
- Import failed when using "Import From Link" (I see b

[2016-09-21 11:57] xxldoctor commented on #2263
4.7.1
win32 10.0.10586 / x64

Postman convert lowercase cyrillic letter this way:
абвгдеёжзийклмнопрстуфхцчшщъыьэюя = 012345Q6789:;<=>?@ABCDEFGHIJKLMNO
in case of uppercase letters in URLparamerter request can throw different errors:
Letter from (АБВГДЕЁЖЗИЙКЛМНОП) = Could not get any response There was an error connecting to %requesturl%
Letter from (РХ) = Error: 500
У = request lost following ur

[2016-09-21 12:18] sdnts commented on #2337
@siczmj Thanks for reporting this.
I was able to reproduce the unicode characters not showing in the documenter, we're working on a fix for that.
However, I was able to import the collection properly (I made a GitHub Gist, and used that link to import by URL in the app with the interceptor on). Can you share the link you use to import your collection? If it contains private info, make a dummy coll

[2016-09-21 14:36] jbrunken commented on #2333
Just as an FYI, this is happening for .m3u8 playlist files as well (at least on the Mac version).   They are text files but it's prompting for a download.   Content-Type is application/vnd.apple.mpegurl

[2016-09-21 15:23] felixfbecker commented on #2333
It seems to me that Postman simply opens a download prompt that is any `application/*` Content-Type, except some known ones like `application/xml`. Instead, it should rather decide based on the charset. If it is a UTF-8, ASCII or ISO-whatever charset it should be displayed in the app. If it is binary (and not something it can display like an image), it should be downloaded.

Actually, I would pref

[2016-09-21 15:37] shamasis commented on #2333
@felixfbecker the issue is with previewing it. It will be addressed if we decide the following:
- all responses are rendered as text
- known set of responses are syntax highlighted or sent for auto preview for non test
- remaining always render as RAW text.

Thoughts?

[2016-09-21 15:44] felixfbecker commented on #2333
So basically
- "Send" never downloads
- "Send and download" always downloads
- "Raw" tab always displays text
- "Pretty" always tries to syntax highlight based on Content-Type (but can be changed with dropdown)
- "Preview" always previews like a browser would (HTML, images, svgs, audio file, PDFs, ...)

?

[2016-09-21 15:50] shamasis commented on #2333
It's actually the preview that triggers downloads!
- you'll be surprised how many servers do not return accurate or any content type.
- many have content that browser has no way to render it.

[2016-09-21 16:10] felixfbecker commented on #2333
Oh, of course, makes sense! Is it not possible to "suppress" _any_ download prompt by the preview?

[2016-09-21 18:00] mmothers opened #2338 "use of Auth-Token in response body causes ReferenceError Token is not defined"
Using Windows (win7) Postman client 4.7.1

When setting up test variables the following will cause a postman error "There was an error in evaluating the test script: ReferenceError Token is not defined":

var jsonData = JSON.parse(responseBody);
postman.setEnvironmentVariable("Auth-Token", jsonData.Auth-Token);

If I change my code such to return 'AuthToken' in the body (removing the hyphen) and t

[2016-09-21 18:09] siczmj commented on #2337
Hi @madebysid,
I created a new collection for testing this issue:
https://www.getpostman.com/collections/f9e517a1d75bf4105c00
All problem occurs.

Here is a new attachment for demonstrate Share "blinking":
![collection-link_get-link_flash_only](https://cloud.githubusercontent.com/assets/11421161/18722779/5162c42a-8036-11e6-8de6-4e9f7652b681.gif)
(Yes, I can copy the postman share url because I am

[2016-09-21 18:44] sdnts commented on #2337
Ah I get it now, was able to reproduce. We'll get on a fix

[2016-09-21 18:48] sdnts commented on #2338
@mmothers What you've shared above is invalid JavaScript. Since `Auth-Token` uses characters that have special meaning, the correct way to do what you want would be this:

var jsonData = JSON.parse(responseBody);
postman.setEnvironmentVariable("Auth-Token", jsonData["Auth-Token"]);

Closing this, feel free to reopen if I misunderstood.

[2016-09-21 18:48] #2338 closed, assigned to nobody

[2016-09-22 08:03] shamasis commented on #2333
No. the preview is done by encoding the content to an iframe. And we have no control what is accepted by the iframe and what is not.

[2016-09-22 09:47] EpocDotFr commented on #2312
I found a workaround that will only work if your oAuth 1.0 server implements this behavior.

Just uncheck the **Add params to header** option, and it will works. This will no more create the `Authorization` header but instead put all oAuth parameters in the URL query string.

[2016-09-22 10:18] ashishkp commented on #2242
I am also facing same issue - any solution would be highly appreciated.

[2016-09-22 10:47] Ian1971 opened #2339 "OAuth1 still failing in latest version (windows desktop)"
I am still unable to migrate to the windows desktop version because OAuth1 is not working correctly.
Previously it was added empty params (even if not specified). Now it seems to have a erroneous comma

e.g.
Header = OAuth ,oauth_consumer_key-...

that comma before oauth_consumer_key shouldn't be there, and isn't in the chrome version.

Thanks!

[2016-09-22 10:49] sdnts commented on #2339
@Ian1971 We have fixed this in our internal build, and we'll release a fix today. You can track the issue [here](https://github.com/postmanlabs/postman-app-support/issues/2312).

Closing as duplicate

[2016-09-22 10:49] #2339 closed, assigned to nobody

[2016-09-22 19:53] LeWestopher opened #2340 "Files not properly attaching to multipart/form-data request in v4.7.2 on Linux Mint"
1. Postman Version: 4.7.2
2. App (Chrome app or Mac app): Chrome
3. OS details: Linux Mint 17.3
4. Is the Interceptor on and enabled in the app: I've tested with interceptor on and off.
5. Did you encounter this recently, or has this bug always been there: Recently
6. Expected behaviour: When selecting a file for a key/value type in multipart, it should attach the file to the request.
7. Console l

[2016-09-23 05:20] vegetableman commented on #2340
@LeWestopher Thanks for reporting this 👍 .  Could you check the Network tab of the DevTools window (http://blog.getpostman.com/2015/06/13/debugging-postman-requests/) and send a screenshot?

[2016-09-23 05:40] vegetableman commented on #2236
The issue has been fixed on the latest version `4.7.2`. Check it out.

[2016-09-23 05:40] #2236 closed, assigned to numaanashraf

[2016-09-23 05:48] vegetableman commented on #2299
@amnesty007 The issue has been fixed in the latest version 4.7.2. Check it out.

[2016-09-23 05:48] #2299 closed, assigned to vegetableman

[2016-09-23 05:49] vegetableman commented on #2326
@stephan-gruen The issue has been fixed in the latest version `4.7.2`. Check it out.

[2016-09-23 05:49] #2326 closed, assigned to vegetableman

[2016-09-23 06:35] SamvelRaja commented on #2019
This been fixed in the latest 4.7.2 release.

[2016-09-23 06:35] #2019 closed, assigned to SamvelRaja

[2016-09-23 06:36] sdnts commented on #2312
@EpocDotFr We released 4.7.2 yesterday with a fix for this. could you confirm?

[2016-09-23 06:37] SamvelRaja commented on #2305
This is been fixed in the latest 4.7.2 kindly update your app and check the same.

[2016-09-23 06:37] #2305 closed, assigned to czardoz

[2016-09-23 06:39] sdnts commented on #2333
@felixfbecker `application/jwt` along with more mime types should now show up as text (in 4.7.2), could you confirm?

[2016-09-23 06:40] sdnts commented on #2335
@SebastiaanKlippert Could you update to 4.7.2 and confirm if this is fixed?

[2016-09-23 06:40] SamvelRaja commented on #2328
The fix went in on 4.7.2 kindly update your app and check the same 😄

[2016-09-23 07:05] vegetableman commented on #2340
@LeWestopher Further more, tagging this issue as something that needs investigation, as we are not able to reproduce this issue.
- Heres a screenshot of a working form-data upload. Also, you could trying uploading any file to `echo.postman.com` and check the response (as seen below under the `files` key).
  ![screen shot 2016-09-23 at 12 24 33 pm](https://cloud.githubusercontent.com/assets/1330851

[2016-09-23 07:59] SebastiaanKlippert commented on #2335
@madebysid I can confirm it works after the update. Tried a few RAML files and links and raw text files and they both seem to work.
Thanks.

[2016-09-23 07:59] sdnts commented on #2335
Awesome! Closing this.

[2016-09-23 07:59] #2335 closed, assigned to nobody

[2016-09-23 08:11] SamvelRaja commented on #1249
@jmartigny @maxiwheat @vsabella It is been fixed in our latest 4.7.2 version 😄

[2016-09-23 08:11] #1249 closed, assigned to SamvelRaja

[2016-09-23 08:36] dor-denis commented on #2328
Just updated, the issue is still there for me :)

[2016-09-23 08:42] roeschjohannes commented on #2253
As workaround you could set a system environment variable named NO_PROXY with the value localhost.
Than it works as expected.
As bugfix for the requests with localhost as destination, the proxy configuration should be overwritten.

[2016-09-23 08:49] jimonthebarn commented on #2253
@roeschjohannes: You my friend are awesome. I didnt think of manually overwriting
the no_proxy setting. Thanks a bunch. :)

Johannes Roesch notifications@github.com schrieb am Fr., 23. Sep. 2016 um
10:42 Uhr:

[2016-09-23 09:01] SamvelRaja commented on #2328
@dor-denis  Let me investigate further and get back to you

[2016-09-23 09:21] IGZfranciscoserrano opened #2341 "Form-data File not refreshing content in consecutive requests after file change."
1. Postman Version: 4.7.1
2. App (Chrome app or Mac app): chrome app
3. OS details:Ubuntu 16.04
4. Is the Interceptor on and enabled in the app: yes
5. Did you encounter this recently, or has this bug always been there: I think it has always been present
6. Expected behaviour: When I have a multi-part/form-data request, containing a file, file keeps selected, but the content is not being refreshed

[2016-09-23 09:34] jimonthebarn commented on #1837
+1

[2016-09-23 09:37] vegetableman commented on #1988
The issue has been fixed for a while. Closing this. Feel free to reopen if this still still exists.

[2016-09-23 09:37] #1988 closed, assigned to numaanashraf

[2016-09-23 09:47] vegetableman commented on #2136
@niminmp This issue has been fixed for a while. Feel free to reopen this.

[2016-09-23 09:47] #2136 closed, assigned to numaanashraf

[2016-09-23 10:42] felixfbecker commented on #2333
Fixed, thanks!

[2016-09-23 10:42] #2333 closed, assigned to sdnts

[2016-09-23 13:24] #2241 closed, assigned to numaanashraf, sdnts

[2016-09-23 13:26] SamvelRaja commented on #2186
@sweetw0r closing this until reproduced 😄

[2016-09-23 13:26] #2186 closed, assigned to numaanashraf

[2016-09-23 14:25] mchambaud commented on #907
+1

[2016-09-23 14:46] fredbouchard commented on #907
+1

[2016-09-23 15:47] bukkeamarnath commented on #2217
![postman](https://cloud.githubusercontent.com/assets/22398040/18792255/b9f5a6da-8183-11e6-86dc-7cd128df8295.jpg)
Hi

I am using postman for windows v 4.7.2 - i dont see the client certificate tab in the settings. Please see attached.

[2016-09-23 17:14] jarvisuser90 commented on #1137
+1

[2016-09-23 17:18] kintel opened #2342 "Mac App: application/octet-stream doesn't preview"
1. Postman Version: 4.7.2
2. App (Chrome app or Mac app): Mac app
3. OS details: 10.10.5
4. Is the Interceptor on and enabled in the app: N/A
5. Expected behaviour: Should behave the same ways as the packaged app

Steps to reproduce the problem:
- Send the following request: `https://httpbin.org/response-headers?Content-Type=application%2Foctet-stream%3B+charset%3DUTF-8&Server=httpbin`
  -> The Ma

[2016-09-23 19:08] jschram opened #2343 "Unable to close Console with default keyboard shortcut"
**Version information**
1.  Postman Version: _4.7.2_
2.  App (Chrome app or Mac app): _Mac App_
3.  OS details: _Mac OS X 10.10.5 Yosemite_
4.  Did you encounter this recently, or has this bug always been there: _Not sure_
5.  Expected behaviour: _Should be able to close Console with Cmd + W_

**Steps to reproduce the problem**
- Open the Console with Cmd + Opt + C
- Try to close the Console with

[2016-09-23 19:10] c3cris commented on #2241
I haven't had time to test it. I can try it this weekend, I apologize.

[2016-09-23 20:51] mmothers commented on #2338
Thanks!  that did the trick.

[2016-09-23 21:15] lmj0011 opened #2344 "Electron app"
Are there any plans into making postman into an Electron app, since Google is killing all Chrome apps?

[2016-09-23 21:32] gchlentzAbra commented on #882
+1

[2016-09-23 21:56] a85 commented on #2344
Electron apps are available already: www.getpostman.com/apps

[2016-09-23 21:56] #2344 closed, assigned to nobody

[2016-09-23 22:23] areeves2 opened #2345 "Allow swapping views from Horizontal to Vertical so you can see more of the response in a scrolling window next to the request"
Version/App Information:
1. Postman Version:  4.7.2 - win32 6.1.7601 / x64
2. App (Chrome app or Mac app): Windows App
3. OS details: Windows 7 Pro
4. Is the Interceptor on and enabled in the app: No
5. Did you encounter this recently, or has this bug always been there: Just upgraded to standlaone app from Chrome version
6. Expected behaviour: Expected to be able to swap views would be a nice to h

[2016-09-24 11:02] sun-mir opened #2346 "[Feature request] Additional hotkeys"
Would like to use these key combinations on Mac:
- `⌘ + L` get request URI (option for quick edit URL)
- `⌘ + D` open duplicate of current request page with all data (extremely useful when creating new request for your collection or comparison of the responses for 2 similar requests)

Similar browser based commands will be very appreciated for PC and *Unix users.

[2016-09-24 12:10] tofra opened #2347 "Missing requests"
1. Postman Version: 4.7.2
2. App (Chrome app or Mac app): Mac app
3. OS details: 10.11.6
4. Is the Interceptor on and enabled in the app: off
5. Did you encounter this recently, or has this bug always been there: discovered today
6. Expected behaviour: all requests should be shown
7. Console logs (http://blog.getpostman.com/2014/01/27/enabling-chrome-developer-tools-inside-postman/ for the Chrome

[2016-09-24 12:13] abhijitkane commented on #2347
@tofra If you have Sync enabled, can you check `https://app.getpostman.com/dashboard/collections/private?expand=1` to see if your requests show up? If yes, you can sign out and sign back in, and your data will be re-synced.

We're working on this issue, and hope to push a fix for it soon.

[2016-09-24 15:12] EpocDotFr commented on #2312
@madebysid All good for me :ok_hand:

[2016-09-24 19:33] tofra commented on #2347
When I go to https://app.getpostman.com/dashboard/collections/private?expand=1 I see 37 requests
![image](https://cloud.githubusercontent.com/assets/1746173/18810756/5a5e0188-829e-11e6-9a1d-a3474d830a2f.png)

When I go to https://app.getpostman.com/dashboard/collections/private I see 51 requests
![image](https://cloud.githubusercontent.com/assets/1746173/18810750/39b4527a-829e-11e6-950e-5940f6929f

[2016-09-25 06:50] sethlopezme opened #2348 "Incorrect Formatting for JSON Responses with Specific Headers"
1. Postman Version: _4.7.2_
2. App (Chrome app or Mac app): _Mac app_
3. OS details: _Mac OS X 10.11.3_
4. Is the Interceptor on and enabled in the app: _False_
5. Did you encounter this recently, or has this bug always been there: _Discovered within the last 48 hours._
6. Expected behaviour: _All valid JSON responses with the proper content-type headers should be formatted as JSON._
7. Console lo

[2016-09-25 11:32] abhijitkane commented on #2347
@tofra Can you contact us at help@getpostman.com with your account username / email?

[2016-09-25 23:35] #2312 closed, assigned to nobody

[2016-09-25 23:36] a85 commented on #2345
@areeves2 We are working on this. Will be out soon. :)

[2016-09-25 23:40] a85 commented on #1949
@elliotfleming Groups are on our roadmap. No ETA yet though. We'll make our roadmap for Postman and Postman Cloud public next month for more clarity.

[2016-09-25 23:41] a85 commented on #2334
Closing for now until confirmed.

[2016-09-25 23:41] #2334 closed, assigned to abhijitkane

[2016-09-26 03:45] ghost opened #2349 "Latest Interceptor/Postman Chrome add-ins don't have Proxy"
1. Postman Version: 4.7.2
2. App (Chrome app or Mac app): Chrome
3. OS details: Win X
4. Is the Interceptor on and enabled in the app: Yes
5. Did you encounter this recently, or has this bug always been there: Recent
6. Expected behaviour: Clicking the Interceptor icon should show a toggle for turning on Interceptor AND a toggle for turning on proxy settings (for testing mobile over same wi-fi)
7.

[2016-09-26 08:35] vegetableman commented on #932
@PixelHomie The issue has been fixed for a while. Check out the latest version. Feel free to reopen this issue if it does not work.

@jodem Misread your issue.`{{echo_digest_nonce}}` is a global variable set through the tests in the `DigestAuth Request` request (in the `Auth: Digest` collection). So, you should the run the said request before running `DigestAuth Success` to get it to work. Let me

[2016-09-26 08:35] #932 closed

[2016-09-26 09:27] vegetableman commented on #2328
@dor-denis Could you check if the swagger file you are importing has `shipmentId` declared in the `parameters` array?

[2016-09-26 09:57] sdnts commented on #2349
@geoffnco The Postman chrome app has the interceptor, and the standalone app has the proxy.

The native Postman App does not have the interceptor icon because it cannot intercept requests made through Chrome.
This is why we have the proxy on the standalone app.

Closing this, feel free to reopen if you have questions.

[2016-09-26 09:57] #2349 closed, assigned to nobody

[2016-09-26 11:27] dor-denis commented on #2328
Yes it is included

[code]

[2016-09-26 12:02] vegetableman commented on #2328
@dor-denis Thanks for sharing the data 👍 . We found the bug. The fix will be out in the next version.

[2016-09-26 13:13] IlianIliev opened #2350 "Problem with coma separated values of GET parameters"
1. Postman Version: 4.7.2
2. App (Chrome app or Mac app): Mac app
3. OS details: OS X 10.11.5
4. Is the Interceptor on and enabled in the app: I have no idea
5. Did you encounter this recently, or has this bug always been there: Just encountered it, works fine with the chrome app
6. Expected behaviour:
7. Console logs (http://blog.getpostman.com/2014/01/27/enabling-chrome-developer-tools-inside-po

[2016-09-26 13:16] IlianIliev commented on #2350
Actually looking at my webserver access logs I saw that for some reason the coma(`,`) is escaped which leads to the mentioned problem:
With Postman: `/?ids=6%2C2`
With Curl: `/?ids=6,2`

[2016-09-26 14:00] numaanashraf commented on #1956
@toanqc Are you still facing this issue in versions 4.7 and up?

[2016-09-26 14:12] sdnts commented on #2350
@IlianIliev Thanks for letting us know, we're looking into this.

[2016-09-26 14:16] alexplumb opened #2351 ""jQuery is not defined" error when using Postman standalone app for OAuth2"
1. Postman Version: 4.7.2
2. App (Chrome app or Mac app): Mac standalone
3. OS details: OS X Yosemite 10.10.5
4. Is the Interceptor on and enabled in the app: Yes
5. Did you encounter this recently, or has this bug always been there: Only occurs since switching to standalone app
6. Expected behaviour: There shouldn't be any javascript errors when using the authorization code flow in OAuth2
7. Cons

[2016-09-26 14:33] sdnts commented on #2351
Hey @alexplumb, the Postman native app does not have Postman Interceptor support. Are you using the app's inbuilt proxy? This might be interfering with communication between Postman and your API.

I tried replicating this with the GitHub API, and it works fine. Could you double check to make sure your API is working properly?

[2016-09-26 14:35] alexplumb commented on #2351
Hi @madebysid

I am not using the Proxy feature, and I can verify that this works simply by using the Chrome app instead of the standalone app.

[2016-09-26 15:14] sdnts commented on #2351
After some investigation, I've found and fixed the problem that may cause the OAuth 2.0 helper to behave like this for some APIs on the standalone app. Thanks for reporting this, we'll push out a fix for this soon :)

[2016-09-26 16:28] dougludlow commented on #2115
+1

[2016-09-26 16:29] dougludlow commented on #1678
👍

[2016-09-26 16:30] dougludlow commented on #2115
Possible duplicate of #1678.

[2016-09-26 16:34] sobtiankit commented on #2115
We'll add this to the feature list. In the meantime, one solution for this would be to add this in your test script:

var body = JSON.parse(responseBody);
tests["Posts length is " + body.posts && body.posts.length] = true;

which will show you the array size in the tests tab.

What do you think @dougludlow @bertyhell ?

[2016-09-26 16:36] dougludlow commented on #2115
Ah, nice, @sobtiankit. I was trying to figure out a way to display this in the tests. Thanks!

[2016-09-26 16:39] borbamartin commented on #1678
Any updates on this @abhijitkane @a85 ? :) thx

[2016-09-26 16:41] sobtiankit commented on #1678
Just added this to #2115

@borbamartin One quick solution for this would be to add this in your test script:

var body = JSON.parse(responseBody);
tests["Posts length is " + body.posts && body.posts.length] = true;

which will show you the array size in the tests tab.

@numaanashraf is this something we can easily add to the response renderer?

[2016-09-26 21:02] pmneve opened #2352 "Windows native app fails to install"
1. Postman Version:  4.7.2  (32 and 64 bit)
2. App (Chrome app or Mac app):  Windows native
3. OS details: Win 7 sp1
4. Is the Interceptor on and enabled in the app: no
5. Did you encounter this recently, or has this bug always been there: always
6. Expected behaviour:  Postman windows native installs.
7. Console logs (http://blog.getpostman.com/2014/01/27/enabling-chrome-developer-tools-inside-po

[2016-09-27 02:34] pjwerneck commented on #1498
Postman is enforcing the value in the Content-Type header according to the language used in the editor. For instance, if I set `Content-Type: application/json-patch+json`, the editor switches to `Text`. If I switch the editor to JSON, Postman sets `Content-Type: application/json`.

I even opened the "Settings" menu for the first time ever, expecting to find something to disable that.

[2016-09-27 03:55] SamvelRaja commented on #2352
@pmneve Thanks for bringing this to our notice. Any failure dialogue showing up while installing?

[2016-09-27 03:58] SamvelRaja commented on #2217
@bukkeamarnath the one which you are showing us is the chrome app.
We do have our native app for windows which you can download it from [here](https://www.getpostman.com/apps). the certificate can be provided only in the native app not through the chrome app.

[2016-09-27 04:55] NielsGregers commented on #1137
+1

[2016-09-27 06:46] shartvig commented on #2321
I have the same problem in the windows app, but even adding the PEM as Key file, doesnt make it work, are you also supplying a CRT file ? It's not very clear which kind of keyfile should be used.

I've also tried with a PKCS12 file, but none of this work.

Would be nice with some documentation on the add certificate tab.

[2016-09-27 08:59] jimonthebarn opened #2353 ""Right click > Copy" on urls in responses does not copy"
When I right click on a url in the pretty response view I have an option to "copy" but the url does not get copied upon clicking on it. It only works if I manually select the whole url by drag-selecting the url (which gets annoying after awhile when you frequently have to work with urls spanning multiple lines) and then issue the copy command.

I understand you are using the ACE - Editor for the t

[2016-09-27 09:57] cecchisandrone commented on #1104
+1

[2016-09-27 11:20] SamvelRaja commented on #2353
Thanks for bringing this to our notice. We will look into this and keep you updated 😄

[2016-09-27 11:27] matthewkimber commented on #1228
+1

[2016-09-27 15:34] swisscoder commented on #2292
+1
=> as the chrome app will not live forever this becomes more important! Please build it into the Windows App.

[2016-09-27 15:35] swisscoder commented on #1137
+1
=> as the chrome app will not live forever this becomes more important! Please build it into the Windows App.

[2016-09-27 17:51] curtisgibby commented on #2340
I'm having the same problem as @LeWestopher . Same setup: Postman 4.7.2, Chrome app, Linux Mint 17.3. My colleague on a Mac was just able to POST to the same URL that I've been trying with the same data, and his succeeds where mine fails.

[2016-09-27 18:26] czardoz commented on #2340
@curtisgibby Are you toggling the interceptor on and off between requests?

[2016-09-27 18:31] curtisgibby commented on #2340
I previously did not even have Postman Interceptor installed. Now I've installed it and turned it on, and I'm getting the same result.

[2016-09-27 19:31] ctmlr opened #2354 "Unable to hit save due to a display bug when saving a request"
1. Postman Version: 4.7.2
2. App (Chrome app or Mac app): Chrome
3. OS details: Ubuntu 14.04
4. Is the Interceptor on and enabled in the app: Yes
5. Did you encounter this recently, or has this bug always been there: Recently
6. Expected behaviour: Being able to hit the save button
7. Console logs (http://blog.getpostman.com/2014/01/27/enabling-chrome-developer-tools-inside-postman/ for the Chrome

[2016-09-27 19:48] JohnArrowwood commented on #1535
+1
I don't just want to re-use the URL.  I need to re-use the whole request.  The pre-request script.  The request body, where appropriate.  The request method.  Everything.  It might be nice to have custom post-tests.  But if we can't do that, I can live without it.

[2016-09-27 20:16] vgadolin opened #2355 "Testing Large Numbers in Response Body"
1. Postman Version: 4.7.1
2. App (Chrome app or Mac app): Chrome Version 53.0.2785.116 m (64-bit)
3. OS details: Windows 10
4. Is the Interceptor on and enabled in the app: No
5. Did you encounter this recently, or has this bug always been there: Not sure - first time trying with large numbers in a large response.
6. Expected behaviour: Test should pass with large number as I am copying directly f

[2016-09-28 06:30] dennisoverbeeke commented on #1663
When this will be fixed, will it be fixed in Newman automatically? I need support for AWS Sig4 helper in Postman AND Newman for our continuous integration & deployment: we use Postman/Newman to test our AWS API Gateway. We have moved towards Cognito Identity Pools for API Authentication & Authorization and need to sign all of our request with AWS Sig4 (with temporary IAM credentials).

I see that

[2016-09-28 06:50] SamvelRaja commented on #1663
@dennisoverbeeke  Yes it will be available for the Newman as well. We are working on as per the schedule, we will update this thread if any changes happen. Thanks for your valuable consideration.

[2016-09-28 07:02] dennisoverbeeke commented on #1663
@SamvelRaja: thank you for your quick reply, good to hear. Does this mean that this fix will be released tomorrow?

[2016-09-28 08:22] czardoz commented on #1663
@dennisoverbeeke Yes, that's is the plan, unless we hit any hiccups with testing :)

Newman will need to be released in order to support this, and we'll do the release along with the Postman App.

[2016-09-28 08:36] dennisoverbeeke commented on #1663
@czardoz Perfect!

[2016-09-28 08:46] Topener commented on #682
Oh wow, still not there? I needed to re-order because my first call needs to be an authorization. Guess I'll go with the numeric-hack

[2016-09-28 09:06] ThatRendle commented on #1137
Why are people still posting `+1` comments on GitHub? There are buttons for that that are much easier for repo owners to engage with.

[2016-09-28 10:11] shez1983 commented on #585
Hi
I downloaded it recently and Although there is a new window button, when i press it a new window opens with all those funny texts "distorting.." blah blah but the window actually doesnt 'open' ie interactable

[2016-09-28 10:13] shez1983 commented on #2177
I might also add that this is not working. Although New window opens. all i get is the orange/yellowish background with image of our solar system with texts 'fastening seatbelts.. etc'

[2016-09-28 10:26] vegetableman commented on #585
@shez1983 Could you share the screenshot of the devtools window ? (Checkout https://www.getpostman.com/docs/errors).

Also, would be great if you could create a new issue following the guidelines mentioned in the `Readme` or checkout the format followed in this issue:- https://github.com/postmanlabs/postman-app-support/issues/2352.

More the details, the quicker we will be able to debug.

[2016-09-28 10:34] sdnts commented on #2177
@shez1983 Are you using the New Window button on the app? This works for me on v4.7.1.
It'd be helpful if you could share a screenshot of your DevTools in #585, where your issue is being tracked.

[2016-09-28 11:06] ceottaki opened #2356 "Support system proxy exceptions in the Windows native app"
1. Postman Version: 4.7.2
2. App: Windows (native)
3. OS details: Windows 7 SP1 64-bit
4. Is the Interceptor on and enabled in the app: no
5. Did you encounter this recently, or has this bug always been there: always there
6. Expected behaviour: send requests considering the proxy set up in the system network settings including exceptions

I use Postman behind a company proxy and we make calls to

[2016-09-28 12:04] PeterDo3 opened #2357 "Cannot switch between users in successive API calls (Basic Auth)"
I am trying to check that I can read/write to site using different users.  Both users have different USERNAMES and PASSWORDS.   Previously this worked, but now I am getting an error response:
    \* HTTP Status 403 - Access to the requested resource has been denied *

What I have found, is that if I manually switch the state of Interceptor between calls, the test passes.  Without this intervention

[2016-09-28 12:28] sdnts commented on #2357
@PeterDo3 Can you provide more details about the type of server you're running, and if it needs browser cookies in any way to authenticate? (Which might be why using the Interceptor affects your result)

Requests in Postman are completely separate from each other, so if you're using different `Authorization` headers in both requests, they should work.

Do you have a sample collection I can replica

[2016-09-28 12:30] SamvelRaja commented on #2356
Thanks for bringing this to our notice, I will investigate further on this and get back to you in the same thread.

[2016-09-28 13:03] ceottaki commented on #2356
No problem, thanks for assigning it so quickly. Let me know if you need more information that I can provide.

[2016-09-28 13:42] rich-blockley-bg opened #2358 "Double scrolling UI is bad"
1. Postman Version: Version 4.2.2 (4.2.2)
2. App (Chrome app or Mac app): Chrome app
3. OS details: OS X 10.11.6 (15G1004)
4. Is the Interceptor on and enabled in the app: I dont think so
5. Did you encounter this recently, or has this bug always been there: always
6. Expected behaviour: Don't have the bottom of the screen scroll as well as a container inside
7. Console logs (http://blog.getpostma

[2016-09-28 14:19] SamvelRaja commented on #2355
Thanks for bringing this to our notice. We will investigate this and let you know the update regarding this here.

[2016-09-28 14:21] SamvelRaja commented on #2354
Thanks for bringing this to our notice. We shall look into this and update the status here.

[2016-09-28 14:25] vkaegis commented on #2358
Hey @rich-blockley-bg! Thanks for reporting this. We're actually working on an improved Builder interface which behaves EXACTLY as you mentioned :) You can hope to see it in one of our coming releases.

[2016-09-28 16:18] bertyhell commented on #2115
@sobtiankit Works great, thx

[2016-09-28 16:31] cobear25 commented on #2221
Please re-open this, it's super annoying.

[2016-09-28 16:31] mkimont commented on #1228
+1

[2016-09-28 18:38] ftrujillojr opened #2359 "Windows packaged app 4.7.2 still sending GET instead of POST."
1. Postman Version:  4.7.2
2. App (Chrome app or Mac app):  Windows
3. OS details:  Windows 7
4. Is the Interceptor on and enabled in the app:  can't find Interceptor in settings.
5. Did you encounter this recently, or has this bug always been there:  Worked in Chrome app, stand alone app is failing.
6. Expected behaviour:   If I send a POST, it should send a POST.  With or without trailing slash.

[2016-09-28 18:39] abhijitkane commented on #2359
@ftrujillojr This is due to a server-side redirect. https://postman.zendesk.com/hc/en-us/articles/211913929-I-sent-a-POST-request-but-Postman-seems-to-be-sending-a-GET-request-

[2016-09-28 19:14] ftrujillojr commented on #2359
Same behavior.  Still broken.

[2016-09-28 19:46] urkle opened #2360 "OAuth2 supporting a nonce for the auth URL"
1. Postman Version: 4.7.1
2. App (Chrome app or Mac app): both
3. OS details: N/A

I have an OpenID Connect SSO system setup (which OpenID connect is layered ontop of OAuth 2.0 ).  And part of that spec is that the auth URL endpoint has a nonce passed to it.   Currently Postman does not send a nonce, only a code.  Thus all attempt to get an OAuth2 toke via postman fail due to this limitation..

Ex

[2016-09-28 19:55] urkle opened #2361 "Add support for OpenID Connect Discovery"
OpenID Connect discovery is a protocol that would allow an application to discover the OAuth 2 endpoints and specifics in a standardized fashion..   e.g.  a user could specify the following

Site: https://acccount.example.org/
Client ID : clientid
Client Secret: clientsecret

Then postman can simply do a GET for `https://account.example.org/.well-known/openid-configuration` this will return a JSON

[2016-09-28 20:26] abhijitkane commented on #2359
@ftrujillojr Can you provide a publicly accessible URL that you see this issue with?

[2016-09-28 20:43] jjathman opened #2362 "Native Windows Client does not display Multipart Response"
1. Postman Version: v4.7.2
2. App (Chrome app or Mac app): Native Windows App
3. OS details: Windows 7
4. Is the Interceptor on and enabled in the app: no
5. Did you encounter this recently, or has this bug always been there: after the switch to the native app
6. Expected behaviour: I'm interacting with a SOAP service which responds with a multipart message using MTOM (Content-Type →multipart/rela

[2016-09-28 20:44] Spiralis commented on #1137
@markrendle Where are the buttons to use for this?

[2016-09-28 21:16] hareesh-blippar opened #2363 "New version of postman forces response download instead of displaying result inline"
1. Version 4.7.2
2. Mac App
3. OSX El Capitan
4. Bug started after upgrading postman to 4.7.2.

Issue:
I send a POST request to an endpoint (Using the Send option. Not the Send and Download option.)
Earlier, the endpoint response would get shown inline inside the response window.

Now, upon sending the request, a download file window gets opened by postman and I'm forced to save the response as a

[2016-09-28 21:59] iamron commented on #697
+1.
Collection runner + setNextRequest does work but it is a little clunky/cumbersome to setup and debug/test.

It would be great to have more control in the request runner.

[2016-09-28 22:06] mucyomiller commented on #781
Thanks You save my day!

[2016-09-28 22:10] shamasis commented on #697
Yes we are working on it. Honestly, we want to do it the way that helps our users most. Which means that we are incorporating all feedback and trying to do it in the most intuitive way possible. It will take a while, but I am confident that what we come out with will suite everybody's need.

A few things that are being considered:
- common scripts
- custom auths
- more variable management
- more c

[2016-09-29 01:19] pmneve commented on #2352
@SamvelRaja:  No failure dialogue at all.  Just goes away.  :(

[2016-09-29 02:35] chandramohan-lakshminarayanan commented on #493
Hello,

Given that now POSTMAN is also available as a standalone (not relying on Chrome anymore) , can we get to know when will the POSTMAN get the Async HTTP client feature to run concurrent requests?

Thanks,
Chandra

[2016-09-29 02:37] chandramohan-lakshminarayanan opened #2364 "POSTMAN concurrent requests"
Hello,

Given that now POSTMAN is also available as a standalone (not relying on Chrome anymore) , can we get to know when will the POSTMAN get the Async HTTP client feature to run concurrent requests?

Thanks,
Chandra

[2016-09-29 03:13] ShawnTalbert commented on #2158
Still working on getting this for a 'real' account...

[2016-09-29 05:34] ssi-anik commented on #553
So, If  I want to send a time dynamically to my backend, I've to set an environment variable, pass it to the body? and then to backend?

[2016-09-29 06:06] madebysid commented on #553
@ssi-anik You can generate a timestamp in your pre-request script, and set it as an environment variable like @abhijitkane illustrated above.
You can then use it in the same request's body.

[2016-09-29 06:12] vegetableman commented on #2363
@hareesh-blippar Thanks for reporting this issue 👍 . Will get back to you.

[2016-09-29 06:33] sdnts commented on #2221
@danielmcq @stormposse Can you guys try updating to the latest version (4.7.2) and confirm if the problem is resolved?

[2016-09-29 06:57] nevostruev opened #2365 "Import json v2 cause second query parameter value to be url encoded"
1. Postman Version:  4.7.2
2. App (Chrome app or Mac app): Mac App
3. OS details: OS X 10.11.6 (15G1004)
4. Is the Interceptor on and enabled in the app: No
5. Did you encounter this recently, or has this bug always been there: Not sure
6. Expected behaviour: correct import of second and next query parameters
7. Console logs: Postman Logs are empty
8. Screenshots (if applicable)

Steps:
- Create r

[2016-09-29 07:10] sdnts commented on #553
@ssi-anik We have a dynamic variable called $timestamp that can generate a timestamp for you. [Docs](https://www.getpostman.com/docs/sandbox). You can make use of this.

[2016-09-29 08:04] ozzy432836 commented on #1849
We are a certain breed of people that get bothered with things like this :) i tried using a batch file to open it but then you cant change the icon for a batch file...even considered writing a quick app JUST to open the shortcut!

[2016-09-29 08:49] rvnath commented on #2319
Sorry for late reply. Here is the screenshot of the console window.
![postman](https://cloud.githubusercontent.com/assets/4309494/18947205/b589ae9a-864f-11e6-8813-8b8d5bc9a059.png)

[2016-09-29 08:52] rvnath commented on #2319
Also adding the expanded view of stacktrace for websockets error.
![postman2](https://cloud.githubusercontent.com/assets/4309494/18947302/249c6c8c-8650-11e6-8f4b-b99412215b82.png)

[2016-09-29 09:00] bendem commented on #286
A neat fix would be a global setting to stop postman from trying to display requests larger than X.

[2016-09-29 12:02] SamvelRaja commented on #2356
@ceottaki  I checked the same it is working as expected in the 4.7.2 app version.
Adding the screenshot for the same. Let me know if i missed anything while testing it.
Also, we are working on a advance version of the proxy settings inside the app which would eventually solve this case also.

![screenshot 6](https://cloud.githubusercontent.com/assets/5114052/18953172/b34aadee-866a-11e6-805f-4f8b19

[2016-09-29 12:06] evanchan opened #2366 "Changing from Post body x-www-form-urlencoded to form-data does not change header Content-Type"
In Mac app v4.7.2
If I select a request as POST with body x-www-urlencoded, Header `Content-Type: application/x-www-form-urlencoded` is automatically added. However, if I change the post body from x-www-urlencoded to form-data. The header `Content-Type: application/x-www-form-urlencoded` remain unchanged. The request will be sent using the wrong header `application/x-www-form-urlencoded` rather th

[2016-09-29 12:57] vegetableman commented on #2366
@evanchan Detecting `Content-Type` for `form-data` could lead to inaccurate results, as form-data supports multiple media types. One plausible fix could be clearing out the value  `application/x-www-form-urlencoded` from the header in case of `form-data` selection. Let me know if that will help.

[2016-09-29 13:18] SamvelRaja commented on #2362
Thanks for bringing this to our notice. We will update you the status once it is been fixed.

[2016-09-29 13:21] SamvelRaja commented on #2365
Thanks for bringing this to our notice. We will update the progress regarding this here.

[2016-09-29 13:32] SamvelRaja commented on #2352
@pmneve  I doubt that it might be a permission issue. The app will try to install it in the
`C:/Users/USERNAME/AppData/Local`

[2016-09-29 15:10] danielmcq commented on #2221
For me, Postman 4.7.2, Mac, when POSTing and the response's Content-Type is "application/jwt", or "application/jwt; charset=utf-8", it correctly outputs the response in the Body tab, instead of prompting to save a file. This is what I desired. Thanks!

By the way, is there any way this can be configurable? Either by choosing which Content-Types are treated as files, or by disabling the file save p

[2016-09-29 15:28] gladstongarcia opened #2367 "Oauth 1.0 Helper not working on 4.7.2"
1. Postman Version: 4.7.2
2. App (Chrome app or Mac app): Chrome app
3. OS details: Windows 7 SP1
4. Is the Interceptor on and enabled in the app: Yes
5. Did you encounter this recently, or has this bug always been there: The second I was forced to update to 4.7.2
6. Expected behaviour: Request REST API with Oauth 1.0 and Querystring auth parameters.

1. Enter REST API address.
2. Enable Oauth 1.0

[2016-09-29 15:30] ceottaki commented on #2356
Hi, @SamvelRaja

Thanks for the investigation, that is really weird. I've pretty much tested it the same way and this is what I have:

![image](https://cloud.githubusercontent.com/assets/1913232/18960391/7749e6c4-8661-11e6-9f1e-30f35ce46bb4.png)

No issues when doing the exact same from the Chrome app.

If there will be more advanced proxy settings in the native app soon, then this wouldn't be an

[2016-09-29 15:50] toanqc commented on #1956
@numaanashraf I can't test right now, no longer using RedHat 6.7

[2016-09-29 16:28] ftrujillojr commented on #2359
I'm going to say go ahead and close this ticket.  I just need to get into
the 21st century.

I learned a lot from the below post.
For those who are still confused, read the 1st paragraph here =>
Redirects done by the Web server itself
http://sebastians-pamphlets.com/the-anatomy-of-http-redirects-301-302-307/

Without trailing slash, the Location is transmitted back.  The browser
redirects this as

[2016-09-29 16:45] cbelsole commented on #917
I am still experiencing this issue. I have created a collection to illustrate this. https://www.getpostman.com/collections/e4352a958f8e8132aeda The only thing needed is an environment variable  `value: value1`.

When you run it in the collection runner you can see that the test runs twice but even if the environment variable changes to `value2` at the end of the test run it is not reflected in the

[2016-09-29 17:26] ssi-anik commented on #553
I wanted a string like '2016-09-29 11:25 PM', So, I used the Date. Saved on a variable, passed that, that's it.
Thanks anyway. :)

[2016-09-29 17:28] coding-idiot opened #2368 "Cookies are not visible but sent with the request."
1. Postman Version: Latest chrome extension
2. App (Chrome app or Mac app): Chrome App
3. OS details: Windows 7
4. Is the Interceptor on and enabled in the app: Yes
5. Did you encounter this recently, or has this bug always been there: Always
6. Expected behaviour: As a user, I should be able to see every minute details of the request being sent and edit them. Otherwise it results in unexpected be

[2016-09-29 17:52] a85 commented on #1849
All, the Chrome app platform has been deprecated by Google (http://blog.getpostman.com/2016/08/23/using-the-postman-chrome-app-implications-from-the-recent-google-announcement/), so I doubt a fix for this is going to come from them. I'd suggest that you move to our native Windows app: www.getpostman.com/apps. Will re-open if we see any update from Google.

[2016-09-29 17:52] #1849 closed, assigned to nobody

[2016-09-29 19:14] bkvaughan opened #2369 "Desktop App not honoring /etc/hosts file -- returning 404s"
This issue started after moving from the Chrome App to the Mac App. In the Chrome App everything behaves as expected, however, in the Mac App all of my calls now return 404s. After troubleshooting the only thing I can think that's different is the app and how it may be interacting with the /etc/hosts file. The below Request Headers/Response Headers/Response Body are taken from the Mac App.
1. Post

[2016-09-29 20:30] ugumba commented on #1918
This happens on version 4.7.2 (Windows app).
E.g. my API returns 400 with a descriptive reason.  Postman displays "Bad request".  2 other API testing tools show my custom reason phrase.

[2016-09-29 20:34] ugumba opened #2370 "Reason phrase is not displayed (again)"
I'm using Postman Windows app 4.7.2.
Postman consistently displays only the default reason phrase, never my custom phrases.
I've verified with Insomnia, which shows the reason phrase correctly.

Maybe a regression of #1918 ?

[2016-09-29 22:22] techyaura commented on #576
I got the same issue, but when i set the header  [ enctype : multipart/form-data ], i got the result.

[2016-09-29 23:08] davingreen opened #2371 "Chrome App Bugs when working with Oauth2.0 Tokens"
1. Postman 4.7.2 for Chrome
2. Chrome app
3. Windows 10 updates installed (Sept 28, 2016)
4. No interceptor
5. Had issues before...
6. Expect to be able to manage Oauth2.0 Tokens (see details, delete)
7. Console log attached
8. Video: https://www.dropbox.com/s/na9fcoj9baru84p/2016-09-29_18-55-53.MP4?dl=0. Screenshot of broken interface: https://db.tt/3H3PlpgB

I am trying to setup some Oauth2.0 to

[2016-09-30 04:22] sdnts commented on #2368
@coding-idiot When you say the cookie isn't visible, what do you mean?
The interceptor with the Chrome App will send your request through Chrome, so it sends any cookies you have stored in Chrome, that is what it was meant for :D

[2016-09-30 04:25] sdnts commented on #2221
@danielmcq As of now, no. But that's a good idea, I'll look around to check if this is possible!

[2016-09-30 06:31] sdnts commented on #2371
@davingreen The video you uploaded seems to get stuck at a point, so I couldn't see what was going wrong. From your description, it looks like the second token did not appear in the sidebar and then the interface broke. Am I right?

[2016-09-30 06:37] davingreen commented on #2371
Correct. Here's another video that will hopefully show it better: https://db.tt/lTQMi7fd. It get's stuck when clicking the token. Then everything goes haywire.

[2016-09-30 08:28] danielcooperxyz commented on #1849
I wondered what was going to happen to postman. Thanks!

[2016-09-30 09:28] ghost commented on #1918
@abhijitkane No it is not.

[2016-09-30 10:05] relgames opened #2372 "Postman does not save response if I switch to another saved request on the left"
1. Postman Version: 4.7.2
2. App (Chrome app or Mac app): both
3. OS details: OSX El Capitan
4. Is the Interceptor on and enabled in the app: No
5. Did you encounter this recently, or has this bug always been there: I don't know
6. Expected behaviour: Response should not go away when switching between requests on the left tab

That's the only issue that keeps me from using Postman; it is really in

[2016-09-30 10:52] purnimashanti commented on #1632
HI, I WANT TO GET THE VALUE OF FIRST ID.   57ee34ac280000776b0c8b70
{
  "_links": {
    "self": {
      "href": "/self-assessment/4000029889/2016-17/unearned-incomes/57e268ea84000034027579f5/benefits"
    }
  },
  "_embedded": {
    "benefits": [
      {
        "_links": {
          "self": {
            "href": "/self-assessment/4000029889/2016-17/unearned-incomes/57e268ea84000034027579f5/benefi

[2016-09-30 10:58] sdnts commented on #2372
@relgames If I understand correctly, you'd prefer if new requests to opened up in a new tab, right?

[2016-09-30 11:00] sdnts commented on #2370
@ugumba Postman has a registry of HTTP reason phrases that are the convention.
What is your use case to use custom reason phrases?

[2016-09-30 11:13] vip9 opened #2373 "re-Importing collection"
1. Postman Version: 4.7.2
2. App (Chrome app or Mac app): Chrome app
3. OS details: Linux

When developing new API, you'll probably modify your api a lot (adding new routes, etc).
It would be great Postman remember import URL for collection and have ability to redownload and import (replace) old collection with one button.

[2016-09-30 11:30] relgames commented on #2372
@madebysid that can make it too, yes.

[2016-09-30 12:21] sdnts commented on #2373
If you try to import a collection that already exists in the app, you should get a pop-up asking you if you want to replace the collection. Do you not get this?

Also, you can edit your collection in the app directly, by adding requests to it. You shouldn't need to import it repeatedly.

[2016-09-30 12:25] sdnts commented on #2371
@davingreen The video is stuck again :P But I was able to reproduce the error with the Podio API. We'll work on a fix and have it out at the earliest

[2016-09-30 12:25] vip9 commented on #2373
My app automatically exports all endpoints to json, so it would be easier just to click "refresh collection".
Importing again or editing collection is few more steps to make (duplicating work)

[2016-09-30 12:32] vilu commented on #2242
Any updates here? I could temporarily fix it by using the Chrome interceptor, not really working anymore now.

[2016-09-30 13:34] victor-ponamariov commented on #907
+1

[2016-09-30 14:27] ugumba commented on #2370
Why would I need to provide a use case?  The HTTP standard supports the provisioning of a custom reason phrase, which normally overrides (or augments) the conventional phrase.  I can use it to further explain to the user or API consumer why a request did not return "200 OK" (e.g.), without resorting to the body (which may not even be sent in case of HEAD) or a response header.  It would actually b

[2016-09-30 14:30] sdnts commented on #2370
Ah okay I'll investigate and get back to you here.

[2016-09-30 14:57] GordonBeeming commented on #1137
@Spiralis it's on the top right of the comment 👍

[2016-09-30 15:06] maurociancio opened #2374 "Incorrectly parsing an URL in a response body"
1. Postman Version: 4.7.2
2. App (Chrome app or Mac app): Chrome app
3. OS details: Ubuntu 14.04 linux / x86-64
4. Is the Interceptor on and enabled in the app: nop
5. Did you encounter this recently, or has this bug always been there: I've started using the app a few days ago
6. Expected behaviour: Postman incorrectly parse an URL that has escape characters like "\"
7. Console logs (http://blog.g

[2016-09-30 18:00] johndkane commented on #2130
Issue #2345 mentions this feature is being worked on - it seems to be a duplicate of this issue.

[2016-09-30 19:29] #2359 closed, assigned to nobody

[2016-09-30 19:29] a85 commented on #2359
Glad it's resolved @ftrujillojr

[2016-10-01 15:09] jamesdraper5 commented on #682
+1 for this

[2016-10-01 19:20] blikblum commented on #675
Beyond the ability of adding custom snippets i would also like to have ability to remove unwanted snippets, i.e., give full control over the snippets

[2016-10-02 00:47] blikblum opened #2375 "content-lenght header field is not updated when request body is updated"
1. Postman Version:  4.7.2
2. App (Chrome app or Mac app): Windows app
3. OS details: Windows 10
4. Is the Interceptor on and enabled in the app: Yes
5. Did you encounter this recently, or has this bug always been there: always
6. Expected behavior:

The content-length header field should be updated when body content is changed and request is saved or sent

Steps to reproduce the problem:

Saved a

[2016-10-02 06:53] rvnath commented on #2319
Hello Friends,  Is there an update to this problem...?
regards.

[2016-10-02 09:40] Spiralis commented on #1137
@Gordon-Beeming, Ah of course... I somehow never thought of the comment-reactions being used as a response to the thread/issue itself. But I guess comment-reactions to the issue-starter comment could be used to count response, yes.

[2016-10-02 14:19] stepcha commented on #1977
Hi all,

To improve the font size forever, you just open the file "4.7.2_0/html/requester.html" with your text editor and add this code at the end of the file before the close of the tag "</body>"

`
    <style>
        .editor.ace_editor {
            font-size: 18px !important;
        }
    </style>
`

In my case: C:\Users\Stepan\AppData\Local\Google\Chrome\User Data\Default\Extensions\fhbjgbif

[2016-10-03 07:35] dennisoverbeeke commented on #1663
@SamvelRaja , @czardoz Hi Guys, any news on progress / timelines?

[2016-10-03 08:02] Bazarovay commented on #450
Well, it seems it happens whenever the url is changed. So if you make a post request to http://hostname through postman and the url changes to http://www.hostname, the post data will still be lost.

[2016-10-03 09:13] vegetableman commented on #2363
@hareesh-blippar The issue happens if the response headers from the server have a mime-type set `multipart/form-data; base64` but the response itself is a binary file.
Could you post a screenshot of the request/response headers on the `Postman Console` (`View` -> `Show Postman Console` or `Cmd + Opt + C`) for the request?.

[2016-10-03 11:01] SyedSulaimanM commented on #739
+1 for grant_type=password

[2016-10-03 12:08] bruno-gelb commented on #1906
+1

[2016-10-03 12:45] seekdageek opened #2376 "Auto encoding of URL params while running collection through newman on Linux"
1. Postman Version: 4.7.2
2. App (Chrome app or Mac app): Chrome app
3. OS details: Linux 2.6.32-642.4.2.el6.x86_64
4. Is the Interceptor on and enabled in the app: No
5. Did you encounter this recently, or has this bug always been there: I am new user of newman and facing this first time. I am not aware whether this is existing issue.
6. Expected behaviour: I am passing a URL parameter as {date}

[2016-10-03 13:26] DeividasJackus commented on #907
+1

[2016-10-03 16:30] buddyackerman opened #2377 "Add Support for third party login"
There is an issue that was posted recently about not supporting Authentication on Windows IIS servers that are configured for NT Auth.  Postman also needs to be able t handle third party auth as well.  NOw that the legacy extension is deprecated I have no way to authenticate to my Web Api.  The Web Api is a .NET based web api that has the controllers set to authenticate with and ADFS authenticatio

[2016-10-03 19:02] a85 commented on #2375
You should remove the Content-Length header. Postman will automatically attach one.

[2016-10-03 19:17] blikblum commented on #2375
This is what i've done to get working and now i will look at it when changing body requests. But other users can fall in same trap making its life harder and with potential to generate new support requests.

The user has to figure by itself why the request stopped work (server started to return 408). I wasted more than two hours trying to figure why i can change request body of my other requests (

[2016-10-03 19:18] blikblum commented on #2375
3) Document the warning

[2016-10-03 20:10] faragorn commented on #1050
Would be great to hear any updates on the issue? Is it possible to get access at least to: file_content_type, file_size and name? Thanks

[2016-10-03 20:30] MTen commented on #1713
this has been resolved

[2016-10-03 20:30] #1713 closed, assigned to nobody

[2016-10-03 23:42] usubhash opened #2378 "JSON Formatting of the request body"
1. Postman Version: 4.7.2
2. App (Chrome app or Mac app): Mac
3. OS details: 10.11.6
4. Is the Interceptor on and enabled in the app:
5. Did you encounter this recently, or has this bug always been there:
6. Expected behaviour:
7. Console logs (http://blog.getpostman.com/2014/01/27/enabling-chrome-developer-tools-inside-postman/ for the Chrome App, View->Toggle Dev Tools for the Mac app):
8. Scree

[2016-10-04 00:42] akdor1154 opened #2379 "Cookie expiry does not respect timezone in Mac app"
Using the Postman Mac App, cookie expiries are interpreted as if my computer was running with the current local time, but in GMT.

e.g. if I set a cookie that expires in fifteen hours, and my computer running both Postman and my Node server is running at 11:20 am in Melbourne, with OS X's timezone set to AEDT = UTC+1100.

[code]

Note that the above expiry is correct - the current time is 11:20 +

[2016-10-04 07:13] kopljan opened #2380 "Response is always displayed as HTML but have in header content-type: json"
As title say, before this version Postman will correctly display response. But starting with this version he will always display as HTML and you must manually to change, every time, to JSON. Seems that Postman does not read anymore content-type in response header.
1. Postman Version: 4.7.2
2. App (Chrome app or Mac app): Windows client
3. OS details: Windows 7 64x
4. Is the Interceptor on and enab

[2016-10-04 09:06] AnjolaA commented on #1361
I am using postman and I need to get a response code from the 302 Location header. Does it mean this is impossible ?

[2016-10-04 13:03] sdnts commented on #2379
@akdor1154 Thanks for reporting this. We're looking into this.

[2016-10-04 13:56] esseti commented on #2225
does it work with socket proxy?

[2016-10-04 16:07] shamasis commented on #2225
What's a secret proxy? You mean a proxy not defined or announcing itself in OS or you mean http://secretproxy.org/

[2016-10-04 18:11] slchorne opened #2381 "Collection list the URL instead of a short name or description"
1. Postman Version: 4.0.3
2. App (Chrome app or Mac app): Mac app
3. Did you encounter this recently, or has this bug always been there: always

The list of calls in a collection should show or include a column for a more verbose description.
the list of URLs isn't much help since the host_name just renders all the urls identical

![screen shot 2016-10-04 at 11 09 50 am](https://cloud.githubuserco

[2016-10-04 18:19] esseti commented on #2225
socks https://www.dropbox.com/s/h6p79huyrhdv5ic/Screenshot%202016-10-04%2020.19.20.png?dl=0

[2016-10-04 22:26] rafialikhan commented on #1991
Sending multipart/form-data to a Spring MVC backend. Getting the following error. I have not added Content-type: multipart/form-data and allowed Postman to fill this in for me as described in https://github.com/postmanlabs/postman-app-support/issues/576

`{
  "timestamp": 1475619622990,
  "status": 415,
  "error": "Unsupported Media Type",
  "exception": "org.springframework.web.HttpMediaTypeNotSu

[2016-10-05 00:09] hareesh-blippar commented on #2363
@vegetableman - I'm attaching a screenshot with my headers here. If you hit the server along with a form-data parameter called `image_filename` which can be any image, you should be able to reproduce the results.

![postman_bug](https://cloud.githubusercontent.com/assets/14183519/19096908/441325fc-8a55-11e6-8914-532bb0b2ff89.png)

[2016-10-05 02:11] travi opened #2382 "[feature request] Support the Oz Protocol"
Please consider addition of the [Oz protocol](https://github.com/hueniverse/oz). Oz is a web authorization protocol from [Eran Hammer](https://github.com/hueniverse) and "builds on the well-understood concepts behind the OAuth protocol." It is built on top of [Hawk](https://github.com/hueniverse/hawk), which is already supported by Postman.

Having Oz support in Postman would be incredibly helpful

[2016-10-05 06:05] sdnts commented on #2381
@slchorne When you save a request to a collection, you have a field in the popover modal to specify a `Name` for the request. By default, this name is the request URL, but you can change it when saving, or even after it (by hovering over the request, clicking on the ellipsis button, and choosing `Edit`).
I'm guessing while saving the requests, you did not change the request name, hence it shows al

[2016-10-05 06:05] #2381 closed, assigned to nobody

[2016-10-05 06:44] finwe200 commented on #256
I inadvertently published a link and I desperately want to delete it.  On the Browser page I click on Delete Link but nothing happens.  Any help will be greatly appreciated.

[2016-10-05 06:52] sdnts commented on #256
@finwe200 Just go to your public collection docs and click on the top-right dropdown that says `Publish` and select `Unpublish`.

[2016-10-05 07:15] finwe200 commented on #256
Sorry, I'm not finding that drop-down.  Is this from Postman App (Chrome) or the Collections webpage (https://app.getpostman.com/dashboard/collections/links)?

[2016-10-05 07:16] vegetableman commented on #2379
@akdor1154 Could you share the screenshot of the request and response headers on the postman console (`View -> Show Postman Console`) for the requests you are making?.

[2016-10-05 07:23] sdnts commented on #256
@finwe200 By publishing a link, I'm thinking you mean you published your collection. In that case, you can open up your app, and find the published collection in the sidebar. Then click on the little arrow next to the collection, and in the drawer that opens up, click on `View Docs`. It'll take you to the website, where you should be able to see the dropdown.

[2016-10-05 07:29] SamvelRaja commented on #2378
@usubhash You can prettify the JSON copied into the request body very easily,  paste the JSON request body(raw),  select JSON(application/json) and press **Cmd/Ctrl + B** It would be prettified automatically.
![prettify request body](https://cloud.githubusercontent.com/assets/5114052/19104739/d71c4f8a-8afb-11e6-9109-98cb9975b898.gif)

[2016-10-05 07:33] finwe200 commented on #256
Thank you very much for the prompt replies.  I did that but I only see a Publish button and not a drop-down.   Also clicking on _Delete Link_ does nothing.

## ![postmancollectionspage](https://cloud.githubusercontent.com/assets/8620210/19118646/ed92ece4-8ad1-11e6-8d7d-ffe0f86e0db9.PNG)

![collectionlinks](https://cloud.githubusercontent.com/assets/8620210/19118696/14664e74-8ad2-11e6-93f6-f2fd1d6e

[2016-10-05 07:34] sdnts commented on #256
@finwe200 In that case, your collection hasn't been published :)
I must have misunderstood then. What do you mean when you say you published your link?

[2016-10-05 07:44] godfrzero commented on #256
@finwe200 @madebysid I'm checking this out. Looks like we broke the `Delete Link` action in the last push. I'll fix this ASAP and let you guys know 😅

[2016-10-05 07:44] finwe200 commented on #256
So I am not going mad.  I look forward to the fix.

[2016-10-05 08:03] SamvelRaja commented on #2380
@kopljan  I tried replicated the same from my end and it seems to be working fine that Postman auto detecting the response format using the content-type response header. Attaching a GIF, just let me know whether i missed anything while testing it. That would be great to debug further.

![responseautoselect](https://cloud.githubusercontent.com/assets/5114052/19105602/76d6eab8-8b00-11e6-85f7-4a21a38

[2016-10-05 08:13] kopljan commented on #2380
Hi, do you have some email address to send you endpoint which you can use for test?
When I switch explicitly from AUTO to JSON, it is working now, but AUTO Option does not recognize properly Content-type from Response Header.

[2016-10-05 08:32] SamvelRaja commented on #2380
@kopljan Yes, kindly send the email to **help@getpostman.com**

[2016-10-05 08:39] vegetableman commented on #2363
@hareesh-blippar Thanks for sharing the screenshot 👍 . The issue has been identified. Will Keep you posted.

[2016-10-05 08:41] #1956 closed, assigned to numaanashraf

[2016-10-05 08:54] numaanashraf commented on #2376
@seekdageek This seems like a bug. We are tracking this at https://github.com/postmanlabs/newman/issues/664.

[2016-10-05 08:54] #2376 closed, assigned to czardoz

[2016-10-05 08:59] numaanashraf commented on #2278
@cristiammercado @jamest-iqmetrix Restoring tab states is currently in the pipeline, but we don't have an ETA yet. Currently, Postman launches with one tab pre-filled with the last sent request.

[2016-10-05 09:23] numaanashraf commented on #2250
@aromanet42 Thanks for reporting this. We are looking into the issue and should have a fix out soon.

[2016-10-05 09:24] numaanashraf commented on #2348
@sethlopezme Thanks for reporting this. We are looking into the issue and should have a fix out soon.

[2016-10-05 09:45] rammrain commented on #907
+1

[2016-10-05 09:51] numaanashraf commented on #2120
@NikKosse Are you still facing this issue in the current version (v4.7.2) of the Chrome App? We are not able to replicate this at our end. Also, could you check if you are facing a similar issue with our native Windows app? www.getpostman.com/apps.

Google is deprecating the Chrome App platform and we highly recommend moving to our native client. You can find more info regarding this at http://blo

[2016-10-05 09:53] numaanashraf commented on #2167
@devjack This should be resolved in the latest versions of the app (v4.7.2+). Feel free to re-open this if you are still facing issues.

[2016-10-05 09:53] #2167 closed, assigned to numaanashraf

[2016-10-05 09:57] vegetableman commented on #2242
@vilu We are looking in to it. Will get back to you.

[2016-10-05 10:08] #1284 closed, assigned to sdnts

[2016-10-05 10:20] shamasis commented on #1420
IMHO: You should be using normal variables instead.

URL variables should remain in segments. We have plans to actually merge the concept of these variables with our normal variables.

[2016-10-05 11:00] NikKosse commented on #2120
I do not see the issue in the chrome app, only in the native app.

On Wed, Oct 5, 2016 at 4:51 AM, Numaan Ashraf notifications@github.com
wrote:

[2016-10-05 13:12] tekrat opened #2383 "Feature Request - Add Mass Import Environments to Gears Dropdown"
**1. Postman Version:** 4.7.2

**2. App Version:** Windows Desktop (Electron version not Chrome App)

**3. OS details:** Windows 7

**4. Is the Interceptor on and enabled in the app:** N/A

**5. Did you encounter this recently, or has this bug always been there:** N/A

**6. Expected behaviour:**

When I click on the gears icon for managing environments there is no mass import option.   To be consi

[2016-10-05 13:17] numaanashraf commented on #2289
@TheAllThing This should be addressed in the latest version (v4.7.2+) of the app.

[2016-10-05 13:32] ZaidDireya commented on #350
+1

[2016-10-05 14:14] vkaegis commented on #2009
@dinesh-domain Hey Dinesh, thanks for the feedback! We've been working on an update to the Runner which, amongst other features, will have filters allowing you to view only those tests which have failed. We're hoping to roll out the update in the coming weeks so stay tuned!

[2016-10-05 14:18] max-mykhailenko commented on #697
+1

[2016-10-05 14:19] VitaliyBelishov commented on #697
+1

[2016-10-05 14:54] stevenh opened #2384 "AWS Signatures with duplicate querystring values are invalid"
1. Postman Version: 4.7.2
2. App: Chrome app
3. OS details: Windows 10 x64
4. Is the Interceptor on and enabled in the app: Yes
5. Did you encounter this recently, or has this bug always been there: Always
6. Expected behaviour: AWS Authentication should work

Sign a request with AWS auth which include duplicate querystring fields e.g.
?uuid=26cadde4-4d54-11e6-b0d9-bb25bde55563&uuid=26cadde4-4d54-

[2016-10-05 14:57] SamvelRaja commented on #2384
Thanks for bringing this to our notice. We shall investigate this and let you know the progress here 😄

[2016-10-05 15:08] Suhov-Igor commented on #697
+1

[2016-10-05 15:12] PradeeshKS1 opened #2385 "New Feature request for Merging Collections"
Hi Team,

This is new feature request to merge multiple collections. We are a small team working on automating Rest APIs using Postman.  We are adding APIs to folders and adding to the main Collection.
Now we are making a copying of the folder and drag and drop the folder to the collection and share to the team members. The problem is if I drag and drop the folder without making the copy , the ori

[2016-10-05 16:09] edminer opened #2386 "Postman Windows app is automatically encoding query params. E.g. $top => %24top"
1. Postman Version: 4.7.2  win32 6.1.7601 / x64
2. App (Chrome app or Mac app): windows
3. OS details: Win7
4. Is the Interceptor on and enabled in the app: no
5. Did you encounter this recently, or has this bug always been there: just started using the windows version.  Have been using the Chrome plugin up till recently
6. Expected behaviour:  I expect the Windows app to act like the Chrome plugi

[2016-10-05 16:37] usubhash commented on #2378
@SamvelRaja Thats awesome. Thanks for letting me know. Please let me know if this is documented.

[2016-10-05 19:07] numaanashraf commented on #2386
@edminer Thanks for reporting this. We will be rolling out a fix in the coming releases.

[2016-10-06 06:33] abhijitkane commented on #208
SoapUI projects can be exported as Swagger, and imported into Postman - http://blog.getpostman.com/2016/04/27/importing-soapui-projects-into-postman/

[2016-10-06 08:32] icougil opened #2387 "Postman has lost all my history"
Hello,
Postman suddendly drops all my history, and I suppose it should work, at the end it seems that there are some requests that postman recognizes when it starts up.
1. Postman Version:
2. App (Chrome app or Mac app): Chrome app 4.7.2
3. OS details: OS X El capitan 10.11.3
4. Is the Interceptor on and enabled in the app: No
5. Did you encounter this recently, or has this bug always been there:

[2016-10-06 13:12] edminer commented on #2386
Thanks, much appreciated.

[2016-10-06 13:33] SeanStewart37 commented on #907
+1

[2016-10-06 15:43] icougil opened #2388 "Chrome app - SugarJS Date formating not working"
Version/App Information:
1. Postman Version: 4.7.2
2. App (Chrome app or Mac app): Chrome app
3. OS details: Mac OS X El Capitan 10.11.3
4. Is the Interceptor on and enabled in the app: Not enabled
5. Did you encounter this recently, or has this bug always been there:
6. Expected behaviour: It should appear the Date formatted as we want
7. Console logs (http://blog.getpostman.com/2014/01/27/enabli

[2016-10-06 16:26] singhrajivk opened #2389 "Implement the concept of a postman project"
This is a new feature request in the context of the standalone app  (not the chrome extension).

I have different projects I switch between. To do this currently I do the following:
1. dump the state to a file.
2. clean out all the collections, environments, and globals by deleting them.
3. load a previous state dump corresponding to the new project.

I would be nice to have the concept of a postm

[2016-10-06 17:42] srilaxmi215 commented on #1526
Postman app is not syncing and doesnt import any of my collections from web
Sync is stuck  at "Connecting"
Need help to see my collections in the app

[2016-10-06 23:44] vegetableman commented on #2384
@stevenh The issue has been fixed on our internal build and will be made part of the upcoming releases. Will keep you posted.

[2016-10-07 00:41] reggi opened #2390 "Feature: GraphQL / edit request via Pre-Request Scripts"
This is a big bucket ticket for GraphQL Support.

Here's an example json request body:

[code]

The behavior I'd love is to be able to put the raw query in the body like this.

[code]

Then be able to put the variables in the `params`, which can easily be tied to env vars.

Then in Pre-Request Scripts I'd love to alter the request

[code]

But I learned the hard way that you can't set the request

[2016-10-07 00:52] reggi commented on #2390
What I have right now as a hack is this.

Body:

[code]

Pre-render Script:

[code]

[2016-10-07 01:12] vegetableman commented on #2388
The app uses an older version of `Sugarjs`, specifically, `1.4.1`. You could use `new Date().format('{yyyy}{M}{dd}')` for the same result. Will keep you posted as to whether we could update the lib on the sandbox.

[2016-10-07 04:05] iredmail opened #2391 "Cannot use environment variables in tests?"
Dear support,

I defined some environment variables, e.g. `name=foo`, then try to use it in tests like this:

[code]

The console logs string `{{name}}` directly, not expected value `foo`.
1. Postman Version: 4.7.2
2. App (Chrome app or Mac app): Mac app
3. OS details: macOS 10.12
4. Is the Interceptor on and enabled in the app: [not sure]
5. Did you encounter this recently, or has this bug always

[2016-10-07 05:50] sdnts commented on #2391
@iredmail To access environment (and global) variables in pre-request & test scripts, you need to do something like this:
`var x = postman.getEnvironmentVariable('<name>')`

The `{{<name>}}` syntax does not work in pre-request and test scripts because they are written in JavaScript, hence follows JS rules.

[2016-10-07 05:50] #2391 closed, assigned to nobody

[2016-10-07 06:03] sdnts commented on #2388
@cougil Closing this for now, feel free to reopen if you encounter any problems.

[2016-10-07 06:03] #2388 closed, assigned to nobody

[2016-10-07 06:14] sdnts commented on #1526
@srilaxmi215 Do you see any errors in the DevTools console (Cmd/Ctrl + Alt + I) ? If yes, could you post a screenshot here?
In any case, a logout + restart + login should resolve the issue.

[2016-10-07 06:29] iredmail commented on #2391
Please mention `postman.getEnvironmentVariable()` in either of doc pages below:
- https://www.getpostman.com/docs/environments
- https://www.getpostman.com/docs/pre_request_scripts
- https://www.getpostman.com/docs/sandbox
- https://www.getpostman.com/docs/testing_examples

[2016-10-07 06:31] sdnts commented on #2391
Thanks for the pointer, we'll update our docs 👍

[2016-10-07 06:48] sdnts commented on #2390
@reggi Thanks for all the suggestions! We're looking into this. It's being tracked on #1669. Closing this, as it is easier to keep feature requests in one place :)

[2016-10-07 06:48] #2390 closed, assigned to nobody

[2016-10-07 06:54] stianlagstad commented on #2315
I see value in this even though we're using the cloud service. Instead of having multiple collections (one for each version of our APIs), version control and tagging would make life easier.

[2016-10-07 07:01] sdnts commented on #2315
@stianlagstad @tariqghalib This is on our roadmap. :D Will keep you updated regarding progress here.

[2016-10-07 07:02] stianlagstad commented on #1998
I would love to be able to activate multiple environments as well. I recently posted a question on stackoverflow regarding the issue of [environment hell](https://stackoverflow.com/questions/39851499/how-can-i-avoid-environment-hell-in-postman).

[2016-10-07 07:27] vegetableman commented on #2298
@amnesty007 This has been fixed in our internal build. And will be part of the upcoming release.

[2016-10-07 07:29] vegetableman commented on #2144
@kdprince This has been fixed in our internal build. Will be part of the next release.

[2016-10-07 08:27] andreassiegel opened #2392 "Add the ability to ignore/disable specific requests in a collection in the runner"
This is a feature request for the collection runner:

It would be great if it was possible to exclude requests/test cases in the collection runner, instead of either being able to select individual requests or whole collections, e.g. by adding check boxes to the runner interface.

Background:

At the moment, we are heavily testing our API using Postman and already identified some problems with a p

[2016-10-07 08:37] andreassiegel opened #2393 "Include actual results and response data in the collection runner statistics"
This is a feature request for the collection runner test results:

Even though it's nice to have the overview of all executed tests and assertions with the green and red boxes, this doesn't provide much information on what went wrong in the test.

For instance, the statistics show that my test _Status code is 200_ failed, but I don't get any information which status code actually was returned. In

[2016-10-07 08:44] sdnts commented on #2393
@andreassiegelrfid Thanks for all the suggestions! We're working on a redesign of the runner, so we'll keep those in mind :)

[2016-10-07 10:14] sdnts commented on #2392
@andreassiegelrfid Thanks for the suggestions!
For now, you can use `postman.setNextRequest` to skip requests in the runner. [Docs](https://www.getpostman.com/docs/workflows)

[2016-10-07 11:25] sdnts commented on #404
I've verified this to be solved. Feel free to reopen if the issue persists

[2016-10-07 11:25] #404 closed

[2016-10-07 11:29] sdnts commented on #2313
We've fixed this in our local build, and will be rolling out a release very soon.

[2016-10-07 12:00] sdnts commented on #2078
This should be fixed in v4.7 and up

[2016-10-07 12:00] #2078 closed, assigned to czardoz, sdnts

[2016-10-08 09:21] rahbari commented on #2393
I came here to request this feature! It's great to have req and res body tab next to passed and failed tabs in each step summary. most of the time I need res body more than tests!

[2016-10-08 10:05] vegetableman commented on #2242
The issue seems to be caused by security patches made for chrome 52.0.2743.82. As of now, using chrome interceptor is the only way to work around authenticated proxy woes.
Also, I have posted my query on the relevant forums for this issue. Will keep you guys posted.

[2016-10-08 15:20] qx commented on #1348
it seems not work current

[2016-10-08 19:02] msignataur opened #2394 "Share global variables through collections"
Would be nice if we can share global variables with the collections.

A lot of people have collections that contains global variables, ej:

`{{API_URL}}/users/{{ENVIRONMENT}}/search?email={{EXAMPLE_EMAIL}}`

And when them share it, receptors dont know whats the value for these variables. I as owner i know whats the final url pressing code and viewing the code snippet.

[2016-10-08 20:56] rafael-iop commented on #907
+1

[2016-10-08 21:10] Olf42bur commented on #1607
Still no plan to add an RSA library ?  :(

I will need to make a separate node.js just to do this encryption, postman will be dependent to an other app :(

[2016-10-09 03:13] iredmail opened #2395 "Feature request: Double click to edit folder name, task name"
Dear developers,

Could you please consider implementing double-click to edit folder/task name? Currently we have to click the 3-dot menu ->Edit. But double-click will be much productive and save our time.

[2016-10-09 03:50] liweigong commented on #1563
any update?

[2016-10-09 04:41] sdnts commented on #1563
@Liweigong I'm unable to replicate the original issue on the native apps (I used the same pre-request script). Is it possible for you to upload a simple dummy collection where you can see this misbehaviour? This is the collection I used: [here](https://documenter.getpostman.com/view/214062/gh1563/2MrXo8). Let me know if I'm doing something wrong.
Also, the `timestamp` dynamic variable is referred

[2016-10-09 04:42] sdnts commented on #2395
@iredmail Thanks for the suggestion! This feature is in the pipeline, and should be out relatively soon. Will keep you posted :)

[2016-10-09 18:28] fade2black commented on #697
+1

[2016-10-09 23:42] iwex commented on #1906
+1

[2016-10-10 03:42] vegetableman commented on #2367
@gladstongarcia Thanks for reporting 👍 . The issue has been fixed in our internal build. Will be part of the upcoming release.

[2016-10-10 05:45] vegetableman commented on #2365
@nevostruev The issue has been fixed on our internal build. Will be part of the upcoming release.

[2016-10-10 06:03] sdnts commented on #2394
@msignataur Thanks for the suggestion! We're actually working on something very similar to this. Will keep you posted.

[2016-10-10 06:34] andreassiegel commented on #2393
@madebysid That's great news! I'm looking forward to the redesign. :)

[2016-10-10 07:00] OmgImAlexis commented on #1689
I've been getting this on OSX since last night. Every time I open the app it crashes.

[code]

[2016-10-10 07:22] sdnts commented on #1689
Hey guys, does this happen only for Postman or any installed Chrome apps?

I did some research (looking at @OmgImAlexis's logs) and looks like it might be related to two issues:
1. Permission issues with the Chrome directory. Possible resolution: https://bugs.chromium.org/p/chromium/issues/detail?id=428257#c4
2. The update process, and happens when an update is downloaded but not installed. A rest

[2016-10-10 07:27] vegetableman commented on #2242
An Update:-

Got in touch with the chrome dev team, the proxy issue is a side-effect of the security fix for this bug :- https://bugs.chromium.org/p/chromium/issues/detail?id=291417

Solutions:-
- You would have to turn on the interceptor to make proxy-authenticated requests, so that it has the same request context as that of the browser.
- The native app supports proxy authentication (check gif b

[2016-10-10 07:57] vegetableman commented on #2343
@jschram You could use `Cmd + Shift + W` to close the console window. The shortcut is not mentioned in the `Settings -> Shortcuts` dialog. We will update it. Closing this, feel free to reopen if it does not work.

[2016-10-10 07:57] #2343 closed, assigned to vegetableman

[2016-10-10 08:07] jschram commented on #2343
Works as described. Thanks! 👍

[2016-10-10 08:28] thesec opened #2396 "Collection Runner does not send cookies"
1. Postman Version: 4.7.2
2. App (Chrome app or Mac app): Mac app
3. OS details: OS sierra, 10.12
4. Is the Interceptor on and enabled in the app: n.a. w/ Mac app?!
5. Did you encounter this recently, or has this bug always been there: recently, not having used it with cookies the bug might as well always have been there ...
6. Expected behaviour: cookies are sent within Collection Runner
7. Conso

[2016-10-10 09:04] sdnts commented on #2396
@thesec I'm unable to reproduce this. I made a collection where the first request sets a cookie and the second one has a test to verify if the cookie is sent. I had the Postman Console (Cmd + Alt + C) opened up to check the request headers. The Cookie header was present in the Runner request too.

[Here](https://documenter.getpostman.com/view/214062/gh2396/2MrXwu) is the collection I used. You can

[2016-10-10 09:05] OmgImAlexis commented on #1689
Okay so I found it loads fine if I launch it from chrome://apps but not using Alfred which launches it from `/Users/xo/Applications/Chrome Apps.localized/Default fhbjgbiflinjbdggehcddcbncdddomop.app` so that may have something todo with the issue or at least what's causing it.

It also may be a permissions issue as I installed Chrome using Homebrew and as you may know they changed a few permission

[2016-10-10 09:14] grongor commented on #1221
The problem is even if you don't want to use `x-www-form-urlencoded`. If I use `raw` in the body section and then add header `Content-Type: application/json;charset=windows-1250` and send the request, server receives `Content-Type: application/json;charset=UTF-8` ... which really sucks.

I would expect no alteration of headers at all from a tool which is used to test API endpoints and such. It's n

[2016-10-10 09:29] thesec commented on #2396
Thanks @madebysid - "Set Cookie" requests the cookie to be set with response.
It does not pass any cookie information which is what I am trying: "Within Builder add a cookie ...".

[2016-10-10 09:49] sdnts commented on #2396
So you mean to say you set the cookie manually in the app, right?
In that case, there can be multiple reasons the cookie wasn't sent. (Having set it as HttpOnly, having set it for one path only etc.) Could you give me some more details about your cookie and the endpoint you are trying to send this to? (please remove any sensitive information). It'll be easier to debug this then.
It is still weird

[2016-10-10 10:14] dteirney commented on #1228
+1

[2016-10-10 10:29] sdnts commented on #2357
@PeterDo3 Is this still reproducible?

[2016-10-10 10:37] antroy commented on #1906
+1

[2016-10-10 11:31] thesec commented on #2396
Yes, the cookie is manually set from within the Builder/Manage Cookies ...

The cookie just has  "name=value; path=/; domain=.domain.com;".
The domain is the very same in Builder and Runner, ditto the environment.

[2016-10-10 13:06] gislikonrad opened #2397 "Feature request: Copy headers when opening a new tab by clicking link in body"
So one thing that's been bothering me is that when I'm working with APIs that implement HATEOAS, I have to rewrite all the headers in the new tab that gets opened when I click a link in the response body.

What I feel should happen is that
1. You click a link in the response body
2. A new tab opens with the link (this already happens)
3. The headers from the original tab get copied to the new tab.

[2016-10-10 14:14] Alex-Werner commented on #852
OMG ! Thank you @ToastedJelly for your issue. I had the same problem on my Postman v.4.7.2.
When I do not use postman for a day or two, it's getting super-slow to enter just : "https://" in the adress, we talk about something like 200-300 seconds.

After reading this, I seek the history, found it, and clicked : delete all.
This took something like eternity (900seconds ~)
It need a restart of Postm

[2016-10-10 14:47] mambax commented on #1603
@a85 and postman team? How about this feature? I can not find it anywhere in the docs but would need it since I do not want to store sensitive data in the environments... 👍

[2016-10-10 15:01] heathdbrown opened #2398 "Postman not launching on MAC"
1. Postman Version: 4.7.2
2. App (Chrome app or Mac app): Chrome App
3. OS details: OS X 10.10.5 (14F1912)
4. Is the Interceptor on and enabled in the app: not known
5. Did you encounter this recently, or has this bug always been there: Several weeks, corruption on Google Chrome browser error for corrupted profile.
6. Expected behaviour: It launches
7. Console logs (http://blog.getpostman.com/2014

[2016-10-10 15:15] sdnts commented on #2398
@heathdbrown Do you see any errors in the DevTools Console?

[2016-10-10 15:36] chriskinsman opened #2399 "Set a base path at the collection level"
I would like to set a base path at the collection level and then have each test add path specific information to the base path.

Right now as I switch between local tests, canary test and production tests I have to change each item in the collection to have a different base path.

[2016-10-10 15:37] chriskinsman opened #2400 "Define headers at the collection level"
I have a collection of requests that point at a specific environment.  Each environment requires a different auth header.

As I switch environments I have to change the auth header for each request.  Would be nice to change it at collection level and have it apply to all enclosed requests.

[2016-10-10 16:48] sdnts commented on #2399
@chriskinsman You could use environment variables to do this sort of thing.
You can have a variable called `url` in your collection requests, and have three environments for your local / canary & production tests. Docs are [here](https://www.getpostman.com/docs/test_multi_environments).

[2016-10-10 19:07] pabloviquez commented on #2173
Any update on this?

[2016-10-10 21:25] norfanos commented on #2232
Any word? I've got near identical concerns. Checking/Getting/Setting a token. Thanks.

[2016-10-11 04:35] betimer commented on #1015
Zoom is totally useful, expect to see it.

[2016-10-11 06:08] sdnts commented on #2400
@chriskinsman Are you using Postman's auth helpers to generate those headers? If yes, you could use environment variables in the parameters. That way every time you switch environments and send the request, your headers would be generated automatically.
If you're not using Postman's helpers, then you can use environment variables to store the actual generated header as an environment variable, and

[2016-10-11 09:03] aupp commented on #1601
+1

[2016-10-11 10:16] thesec commented on #2396
Let me know if I can provide additional info to identify the root cause or find a solution.

[2016-10-11 13:17] chriskinsman commented on #2400
the problem with environment variables is that when using the UI i
frequently switch between environments.  Using environment variables would
require me to quit and restart the UI each time I switch environments which
is very disruptive.

On Mon, Oct 10, 2016 at 11:08 PM, Siddhant Sinha notifications@github.com
wrote:

[2016-10-11 13:17] chriskinsman commented on #2399
the problem with environment variables is that when using the UI i frequently switch between environments.  Using environment variables would require me to quit and restart the UI each time I switch environments which is very disruptive.

[2016-10-11 13:26] PFarrell89 opened #2401 "Giving requests IDs as well as names when using "postman.setNextRequest("name)""
I have collection folders for each customer we deal with (Let's call it Customer A for example).
Then inside the Customer A folder, I have sub-folders (numbered 1 - 10 for example) for each test scenario where all my requests are held.

**Issue:**
Using the below command in my tests do not limit it to the endpoints listed in the sub-folder.
postman.setNextRequest("Name of Endpoint");

So if all su

[2016-10-11 14:55] godfrzero commented on #256
@finwe200 The fix is live, and `Delete Link` seems to be working fine now. Let me know if you're still having trouble, and sorry this took so long.

[2016-10-11 16:03] heathdbrown commented on #2398
@madebysid what am I looking for or how do I pull up those logs?

[2016-10-11 16:06] heathdbrown commented on #2398
@madebysid
Here is the screen scrape of the dev logs. I missed the original step 7 in the posting instructions.

Console logs (http://blog.getpostman.com/2014/01/27/enabling-chrome-developer-tools-inside-postman/

[code]

[2016-10-11 17:45] PhilipSharman opened #2402 "Standalone apps do not work with some URIs, but the Chrome application does."
Version/App Information:
1. Postman Versions:
   - Chrome:     4.7.2, OS X / x86-64, Chrome 53.0.2785.143
   - Macintosh:  Version 4.7.2 (4.7.2)
   - Windows:    4.7.2, win32 6.1.7601 / x64
2. App (Chrome app or Mac app):
   - Chrome app
   - Macintosh standalone app
   - Windows standalone app
3. OS details:
   - Macintosh:      OS X, 10.11.6
   - Windows:        Windows 7
4. Is the Interceptor o

[2016-10-11 21:33] eknee commented on #884
Having the same issue as well.  Had to uninstall and re-install the interceptor extension to get things working again.

[2016-10-11 23:48] cyborgx37 opened #2403 "How to use a custom HTTP Method?"
I'm attempting to test an OData 3.0 service that uses the "MERGE" method (this standard predated PATCH). I don't see "MERGE" as an option and can't find a way to either add it to the list or enter a custom method.

Is this possible? If not, please consider adding a simple "Other" with a popup (or something) to use a custom method.

4.7.2
OS X / x86-64
Chrome 53.0.2785.143

[2016-10-12 00:52] bslinger commented on #430
Just came across this same requirement, it would be very useful to be able to get the raw response. Currently having to re-do the call via cURL.

[2016-10-12 01:31] finwe200 commented on #256
Hi Vivek,

I tested this today and it works.  Many thanks for fixing this.

Jon

---

From: Vivek Thuravupala notifications@github.com
Sent: Tuesday, October 11, 2016 7:55 AM
To: postmanlabs/postman-app-support
Cc: finwe200; Mention
Subject: Re: [postmanlabs/postman-app-support] Remove share link from getpostman.com (#256)

@finwe200https://github.com/finwe200 The fix is live, and Delete Link seem

[2016-10-12 05:11] vegetableman commented on #2402
@PhilipSharman `400` error occurs if the request being sent is malformed in some way. Could you open up the Postman Console (`View -> Show Postman Console`) on either of the native app (Windows/Mac), hit Send and verify the request headers being sent?.
An easier way to detect the issue, would be to compare the request headers being sent from the chrome app by opening up the devtools (https://www.g

[2016-10-12 06:01] vegetableman commented on #2403
@cyborgx37 Thanks for posting this issue 👍  . We are looking in to it and will get back to you.

[2016-10-12 06:40] sdnts commented on #2354
Hey @chandwer which version of Chrome are you running Postman on?

[2016-10-12 06:58] sdnts commented on #2396
@thesec I've been unable to reproduce this on the native app, even after manually setting a cookie through the builder. The cookie header is always sent.
Are you looking at the request headers through the Postman Console?

Also, can you type in `pm.cookieManager.cookies` in your Runner DevTools (View > Show DevTools) and check if the domain you are sending the request to is a property of the retur

[2016-10-12 07:44] vegetableman commented on #2401
@PFarrell89 Thanks for posting the issue :+1:. Could you confirm if it goes back to the request with the same name in first subfolder in the collection on `setNextRequest`?, as far as we can see, the current behaviour of `setNextRequest` calls the very last request with the same name in the collection.

To answer your question, we are only supporting unique request names on `setNextRequest`. Suppo

[2016-10-12 08:39] thesec commented on #2396
mmmh :/

Am looking at the headers in the console, yes.
The domain is not localhost and is not being mapped to in a custom host entry or the like.
And the domain - being part of the environment variables - is the same in Builder and Runner.

The domain is part of pm.cookieManager.cookies.

I tried to set the domain including the subdomain, with and without a leading dot ... no success.

[2016-10-12 09:04] siwatpru commented on #2379
I also have this problem. I can't clear the cookie in the mac app version. (It works in the chrome app version)

Login API response header

[code]

Cookie viewed from `Manage Cookies` section.

[code]

Logout API response header

[code]

[2016-10-12 09:13] vegetableman commented on #2379
@siwatpru Thanks for posting the issue 👍 . We are looking in to it and will keep you posted.

[2016-10-12 09:44] PFarrell89 commented on #2401
Here's my testing journey:

[code]

If I run the entire Collection Folder (Customer A) in the Collection Runner, when it attempts to go back to the 'Return a list of airports' request as no products are returned it uses the 'Return a list of airports' request in the final sub-folder.

According to what you said, that's the correct behaviour.

According to the blog post I thought it should pick the

[2016-10-12 10:22] vegetableman opened #2404 "Cookie expiry should clear the cookie in native app"
I also have this problem. I can't clear the cookie in the mac app version. (It works in the chrome app version)

Login API response header

[code]

Cookie viewed from `Manage Cookies` section.

[code]

Logout API response header

[code]

cc @siwatpru

[2016-10-12 10:23] vegetableman commented on #2379
@siwatpru Creating the issue you mentioned here #2404, as this is a different one.

[2016-10-12 10:26] vegetableman commented on #2404
This issue has been patched in our internal build. Will keep you posted as to the release version for it ^_^

[2016-10-12 10:53] dennisoverbeeke commented on #1663
@SamvelRaja , @czardoz : Any updates?

[2016-10-12 12:17] sdnts commented on #2399
@chriskinsman You wouldn't need to restart the UI every time, you can use the environment dropdown on the top right to switch between environments. You can use the Eye icon on the top right to preview your currently active environment.

[2016-10-12 12:30] siwatpru commented on #2404
Thank you :)

[2016-10-12 13:50] chriskinsman commented on #2399
Thanks for being patient.  I misread your reply as a shell environment variable.  This is exactly what I was looking for

[2016-10-12 13:50] #2399 closed, assigned to nobody

[2016-10-12 14:57] sdnts commented on #2396
@thesec I think I've isolated the problem, and will include a fix in the next release, which should be out soon. Will keep you updated.

[2016-10-12 14:58] thesec commented on #2396
excellentamundo, thanks ahead!

[2016-10-12 15:05] bgarrison25 commented on #907
+1

[2016-10-12 16:03] PhilipSharman opened #2405 "cURL request differs from UI request, due to URL-encoding differences"
1. Postman Version:
   - Chrome: 4.7.2, OS X / x86-64, Chrome 53.0.2785.143
   - Macintosh: Version 4.7.2 (4.7.2)
   - Windows: 4.7.2, win32 6.1.7601 / x64
1. App (Chrome app or Mac app):
   - Chrome app
   - Macintosh standalone app
   - Windows standalone app
2. OS details:
   - Macintosh: OS X, 10.11.6
   - Windows: Windows 7
3. Is the Interceptor on and enabled in the app: No
4. Did you encoun

[2016-10-12 19:06] javaman21011 commented on #1137
So is this thread the reason why PostMan standalone and Chrome app keeps giving me this error?

HTTP Error 401.2 - Unauthorized
You are not authorized to view this page due to invalid authentication headers.

[2016-10-12 20:34] ctmlr commented on #2354
@madebysid Chrome Version 54.0.2840.59 (64-bit)

[2016-10-12 22:19] a85 commented on #2130
Closing as duplicate of #2345. This is coming soon everyone with a tighter theme!

[2016-10-12 22:19] #2130 closed, assigned to nobody

[2016-10-13 01:56] stridera opened #2406 "Undefined Bearer token when saving oauth2 tokens from box.com"
1. Postman Version: 4.7.2
2. App (Chrome app or Mac app): Mac
3. OS details: OS X El Capitan (10.11.6)
4. Is the Interceptor on and enabled in the app: No
5. Did you encounter this recently, or has this bug always been there: First time trying
6. Expected behavior: Should obtain and use a valid oauth token
7. Console logs (http://blog.getpostman.com/2014/01/27/enabling-chrome-developer-tools-insid

[2016-10-13 03:38] phoenixgao commented on #907
+1 Any estimate?

[2016-10-13 08:05] sdnts commented on #2398
@heathdbrown From your logs, it looks like your indexedDB is somehow corrupted. Do you have Sync enabled? If yes, can you try uninstalling and re-installing  the app? When you sign back in, all your collections should be back.

If sync is not enabled, you'll have to head to chrome://indexeddb-internals/, and search for `fhbjgbiflinjbdggehcddcbncdddomop`. If you're able to find any of the folders l

[2016-10-13 10:18] sdnts commented on #2406
@stridera Do you also see `undefined` as the value of the `access_token` field in the OAuth2 details view in the UI?

![screenshot-2016-10-13-15 43 23](https://cloud.githubusercontent.com/assets/7689783/19345613/ba43e758-915c-11e6-894b-9f1df6275f3c.png)

[2016-10-13 10:20] kiedysktos opened #2407 "Body is sent in the GET request when it was previously POST type of request"
Version/App Information:
1. Postman Version: Version 4.7.2 (4.7.2)
2. App: OS X
3. OS details: OS X 10.12 - Sierra
4. Is the Interceptor on and enabled in the app: no
5. Did you encounter this recently, or has this bug always been there: recently

Reproduction steps:
1. Define a GET type of request, save it
2. Change the type to POST, add some body JSON
3. Save request
4. Switch request type back

[2016-10-13 11:22] sdnts commented on #2407
@kiedysktos Thanks for reporting this. We are aware of the issue and are working on this. This was actually reported earlier in #2308. Will keep you updated.

[2016-10-13 11:38] sdnts commented on #2405
@PhilipSharman Thanks for the detailed report. I was able to find the problem. It is fixed, and should be out with the next release. Will keep you updated.

[2016-10-13 12:15] stwist-timeless commented on #907
+1

[2016-10-13 12:56] Kalzem commented on #907
+1

[2016-10-13 14:05] iredmail opened #2408 "Keyboard shortcut on macOS: Close "Collection Runner" window with CMD+w"
Dear developers,

On macOS, there's no keyboard shortcut to close "Collection Runner" window. I suggest use CMD+w for this, it's commonly used by many macOS applications.

[2016-10-13 17:55] shmup opened #2409 "UX improvement/suggestion after duplicating a request"
Here's a common scenario for me:
1. Create and define a request within Postman. Save.
2. Duplicate it, as I want to make a similar request
3. Immeditely click the ellipsis menu next to the duplicated entry and adjust its name.
4. Then I start adjusting the Tests and Body parameters. Save.

Except.. and this is probably something I need muscle memory to develop for, I've been in the previous reques

[2016-10-13 18:04] PhilipSharman commented on #2405
Right on! Thanks.

On Thu, Oct 13, 2016 at 5:38 AM, Siddhant Sinha notifications@github.com
wrote:

[2016-10-13 18:21] srilaxmi215 commented on #1526
Hi

Issue did not get resolved for me

Is there a way we can make postman honor network proxy settings
I have already applied proxy settings on postman

Thanks
Sri

On Fri, Oct 7, 2016 at 2:14 AM, Siddhant Sinha notifications@github.com
wrote:

[2016-10-13 18:48] PhilipSharman commented on #2402
Here are the request headers from the standalone app:

[code]

And here are the headers from the Chrome app:

[code]

I don't see any obvious differences between them.

By the way, I did enter another issue, https://github.com/postmanlabs/postman-app-support/issues/2405, that concerned another instance of authentication differing between the Chrome app and the standalone apps.  I don't know if tha

[2016-10-13 22:11] stridera commented on #2406
I don't have any field in the token other than name.
<img width="755" alt="screen shot 2016-10-13 at 3 11 17 pm" src="https://cloud.githubusercontent.com/assets/1100365/19368906/403801a6-9157-11e6-88ce-0cd1726baa6b.png">

[2016-10-14 05:19] vegetableman commented on #2408
@iredmail You could use `CMD + SHIFT + W` to close the window. It isn't in the shortcuts list in the settings dialog (it will show up in the upcoming release ^_^).

[2016-10-14 07:14] vegetableman commented on #2409
@shmup Thanks for posting this issue 👍 .
@vkaegis @bhawna2109 thoughts?

[2016-10-14 08:07] flookami commented on #739
+1

[2016-10-14 09:22] vkaegis commented on #2409
Thanks for reporting this @shmup! Completely missed this, expect a fix in the coming versions!

[2016-10-14 10:43] IsmiKin commented on #571
:+1:

[2016-10-14 11:16] ahmetgeymen commented on #1719
I think request settings page below the tab should not be scrollable area. Instead the textview that contains the response body is scrollable by default though. The end of the response body textview remains below the window area. You have to scroll down to see the end of it which is painful to figure out how to do.

[2016-10-14 11:35] sdnts commented on #2406
@stridera That's weird that the response did not contain an `access_token`. Could you also upload a screenshot of your Get Access Token modal (with sensitive info redacted)? I'm trying to replicate this issue on my end. A simple OAuth2 request works for me, but maybe I'm missing something.

[2016-10-14 12:17] vegetableman commented on #2307
@stormposse The app supports `xml2json` through https://github.com/Leonidas-from-XIV/node-xml2js. In order to support the JSON formatting you described, a `validator` would have to be passed to `xml2json` as an option which isn't supported currently on the sandbox, but we will add support for it in a future release. cc @czardoz.

[2016-10-14 12:26] stormposse commented on #2307
Cool! Thank you @czardoz.

[2016-10-14 12:56] iredmail commented on #2408
But why CMD+SHIFT+W? CMD+W (2 keys) is easier to press, and not used by other feature.

[2016-10-14 13:03] shmup opened #2410 "Any discussion of modifying/extending the existing context menu?"
Just a simple question/thought: with your own context menu you could add a Chrome-esque solution to having way too many tabs open:

![image](https://cloud.githubusercontent.com/assets/118710/19388177/3b554938-91ec-11e6-9cfe-c3fd88508c8a.png)

To extend, I suppose it could trigger in other areas pretty nicely. A right click in the Collections pane could be another implementation of the ellipses men

[2016-10-14 13:32] numaanashraf commented on #2410
@shmup We are working on context-menu actions on tabs and sidebar. We'll keep you posted on the progress. 😄

[2016-10-14 13:51] sdnts commented on #2370
@ugumba Hey the latest version of the app (4.8) addresses this, and the custom reason phrase should now show up. Can you update and verify?

[2016-10-14 13:52] sdnts commented on #2396
@thesec Can you try updating to the latest version (4.8) and verify if this is fixed?

[2016-10-14 13:52] SamvelRaja commented on #2313
@tdurden82 We patched this up in our latest 4.8.0 release. Kindly update and test the same from your end 😄

[2016-10-14 13:52] #2313 closed, assigned to sdnts

[2016-10-14 13:53] sdnts commented on #2384
Hey @stevenh, can you try updating to the latest version (4.8) and verify if this is fixed?

[2016-10-14 13:54] SamvelRaja commented on #1663
@dennisoverbeeke  Sorry for the delay in the release. The fix went in 4.8.0, can you check the same from your end.

[2016-10-14 13:54] sdnts commented on #2179
@monkora Can you update to the latest version (4.8) and check if your issue is resolved?

[2016-10-14 13:54] SamvelRaja commented on #2298
@amnesty007 We patched up a fix in 4.8.0, kindly update the version and check the same.

[2016-10-14 13:54] #2298 closed, assigned to vegetableman

[2016-10-14 13:55] SamvelRaja commented on #2328
@dor-denis @cviebrock We patched up a fix for this in our 4.8.0 version, kindly update your app and check the same from your end.

[2016-10-14 13:55] #2328 closed, assigned to abhijitkane, vegetableman

[2016-10-14 13:56] sdnts commented on #2380
@kopljan Can you try updating to our latest version (4.8) and check if this is fixed?

[2016-10-14 13:56] SamvelRaja commented on #2351
@alexplumb The fix went in our 4.8.0, can you confirm the same from your end.

[2016-10-14 13:56] sdnts commented on #2371
@davingreen Can you try updating to the latest version (4.8) and verify if this is fixed?

[2016-10-14 13:58] sdnts commented on #2350
@IlianIliev Can you update to the latest version (4.8) and check if your parameters are handled properly?

[2016-10-14 14:19] thesec commented on #2396
Fixed, done, awesome! Thankamundo!

[2016-10-14 14:24] thesec commented on #2396
_ups_ too slippy - had not saved the test in builder. The cookie set with the cookie manager in builder is still not passed with the test in runner.

[2016-10-14 14:30] sdnts commented on #2396
@thesec Do you have the runner open when creating your cookie? The runner does not yet communicate with the main window in real time.

[2016-10-14 14:33] thesec commented on #2396
The runner was not open when I set up the cookie.

[2016-10-14 15:00] stevenh commented on #2384
Confirmed this now works as expected, thanks for that 👍

[2016-10-14 15:00] #2384 closed, assigned to czardoz

[2016-10-14 15:09] cviebrock commented on #2328
Works here.  Thanks!

[2016-10-14 18:02] davingreen commented on #2371
Appears to be working. Thanks!

On Fri, Oct 14, 2016 at 9:56 AM, Siddhant Sinha notifications@github.com
wrote:

[2016-10-14 20:48] monkora commented on #2179
@madebysid Yes it is, cheers :)

[2016-10-14 20:51] chris-deluca opened #2411 "Windows app calculates the OAuth signature differently from the Chrome application"
1. Postman Version: 4.8.1
2. App (Chrome app or Mac app): Windows App
3. OS details: Windows Server 2012 R2
4. Is the Interceptor on and enabled in the app: No
5. Did you encounter this recently, or has this bug always been there: Always
6. Expected behavior: Signature calculation should be identical between the Windows and Chrome applications.
7. Console logs (http://blog.getpostman.com/2014/01/2

[2016-10-14 21:17] lthurston commented on #907
+1

[2016-10-14 21:41] #2179 closed, assigned to a85, sdnts

[2016-10-14 21:41] #2371 closed, assigned to sdnts

[2016-10-14 22:11] a85 commented on #2397
There is a setting for this: https://www.dropbox.com/s/5z6g1eyrj5ur4fk/Screenshot%202016-10-14%2017.11.23.png?dl=0

[2016-10-14 23:18] monkpit commented on #907
Enough "+1"s - you can use the github reaction feature to add a thumbs up, etc to any post without triggering emails to everyone that contain only the text "+1" and lack actual content.

Thanks!

[2016-10-14 23:43] #2406 closed, assigned to nobody

[2016-10-14 23:44] stridera commented on #2406
My bad.  The token url was slightly off.  You might call it a bug in the sense that it never told me of a failed call.

[2016-10-15 04:44] vegetableman commented on #2363
@hareesh-blippar Can you try updating to the latest version (4.8) and check if this is fixed?

[2016-10-15 04:44] vegetableman commented on #2250
@aromanet42 Can you try updating to the latest version (4.8) and check if this is fixed?

[2016-10-15 04:57] vegetableman commented on #2365
@nevostruev Can you try updating to our latest version (4.8) and check if this is fixed?

[2016-10-15 05:03] vegetableman commented on #2066
@2x2xplz @BrianLaughlan Kudos to you guys for reporting this performance issue 👍 . This was a fun one to fix ^_^,  as it turned out to be a chrome issue that could be fixed by disabling spellcheck on input fields (https://bugs.chromium.org/p/chromium/issues/detail?id=237433).

Could you guys update to the latest version (4.8) and check if this issue still exists?.

[2016-10-15 05:27] 2x2xplz commented on #2066
@vegetableman  Wow, thanks for making this fix! Just tested on 4.8 (Chrome app, on Win7 x64) and worked great. No lockups after pasting these very long strings.

My workaround was pulling a long string into an Environment Variable via a request, then referencing it on the next request. It allowed the long strings to be usable without ever having to actually paste them directly into the UI. That is

[2016-10-15 06:33] #2066 closed, assigned to vegetableman

[2016-10-15 14:45] mfissehaye commented on #270
How about if the API does not accept params from header; only from query params, such as is the case with WooCommerce REST API?

[2016-10-15 17:42] abhdr opened #2412 "Hide main menu ability in windows native application"
I think Postman Windows nativie application this ablity.

[2016-10-16 04:19] sdnts commented on #270
Hey @merhawifissehaye Postman has supported sending OAuth parameters through query parameters (as well as body parameters) for a while. Could you try updating to the latest version (4.8) and check?

[2016-10-16 04:21] sdnts commented on #2406
That's interesting, we'll try to make it more obvious when a call failed.

[2016-10-16 04:55] 016 opened #2413 "Postman mac App's Developer Tool not show request correct"
1. Postman Version: Version 4.7.0 (4.7.0)
2. App (Chrome app or Mac app):Mac App
3. OS details:Mac os 10.11
4. Is the Interceptor on and enabled in the app: no idea
5. Did you encounter this recently, or has this bug always been there: 100% repeat
6. Console logs (http://blog.getpostman.com/2014/01/27/enabling-chrome-developer-tools-inside-postman/ for the Chrome App, View->Toggle Dev Tools for th

[2016-10-16 04:57] sdnts commented on #2413
@016 If you're looking for the request and response details, you can open up the Postman Console (Cmd/Ctrl + Alt + C). That will show up all details you might need.

[2016-10-16 05:01] 016 commented on #2413
@madebysid Jesus, I found it, thx. Can u explain a little bit why I can't see it in Network? sometime we need Timing and some stuff.

Or maybe you can direct show me how to put it back Network like Chrome inspector?

thx again.

[2016-10-16 05:16] sdnts commented on #2413
The Postman native apps are built on top of a NodeJS based runtime, which means they won't show up in the Chrome DevTools, but it'll allow us to do other things like concurrent requests, sending restricted headers, etc. You can read more about this [here](http://blog.getpostman.com/2016/08/26/the-postman-console/)

[2016-10-16 05:17] #2413 closed, assigned to nobody

[2016-10-16 08:40] dennisoverbeeke commented on #1663
***\* PLEASE SCROLL DOWN TO UPDATE FIRST ****
***\* ISSUE SOLVED, BUT LEFT MY INFO FOR OTHER NOT TO MAKE THE SAME MISTAKE ****

@SamvelRaja Thanks for your update and the new v4.8.0 Postman (and v3.1.2 Nemman) release. I tried both new versions in my specific case and the update does not seem to have fixed my issue. I first tried the new Newman release in my CI/CD solution but it did not work. Bec

[2016-10-16 11:03] sdnts commented on #2408
Hey @iredmail, `Cmd + W` is used in the app to close a tab. Mixing these shortcuts in the main app and the runner would lead o inconsistency :)

[2016-10-16 11:03] #2408 closed, assigned to nobody

[2016-10-16 18:35] shamasis commented on #1663
👍🏼 waiting for your test using Newman before closing it.

[2016-10-16 18:36] dennisoverbeeke commented on #1663
@shamasis : both Postman and Newman work! Case closed,... thanks again

[2016-10-16 18:55] shamasis commented on #1663
That's good to hear. 😊

[2016-10-16 18:55] #1663 closed, assigned to czardoz, SamvelRaja

[2016-10-17 10:14] jtenar commented on #1101
Facing the same issue on version 4.8.0
win / x86-64
Chrome 53.0.2785.143

[2016-10-17 10:16] jtenar opened #2414 "Not able to click links in the response"
Hello, Ive noticed this was already reported in issue no. #1101 which is already closed but I'm facing the same issue on version:
4.8.0
win / x86-64
Chrome 53.0.2785.143

Any workarounds?

[2016-10-17 10:17] kopljan commented on #2380
Hi, just updated, checked and it is working as intended.
Thanks.

[2016-10-17 10:20] #2380 closed, assigned to vegetableman

[2016-10-17 11:20] c3cris commented on #2241
It's still happening in 4.8...
With Origin ( does not work, no cookie sent)
![screen shot 2016-10-17 at 4 17 51 am](https://cloud.githubusercontent.com/assets/1042198/19435718/0bd01486-9421-11e6-9cc7-ec27ccfcdc5e.png)
With out Origin:  (works)
![screen shot 2016-10-17 at 4 18 00 am](https://cloud.githubusercontent.com/assets/1042198/19435717/0bbb6432-9421-11e6-92b6-f0d56239166d.png)

@SamvelRaja

[2016-10-17 11:32] vegetableman commented on #2411
@Chris-Deluca Thanks for posting this issue along with the attached log file 👍 . This is a tough one to reproduce. Would be great if you could send a screenshot of the request headers on the Postman Console (`View -> Postman Console`) on the native app after you send a request (with the key redacted of-course).

[2016-10-17 13:16] grantkemp opened #2415 "Code Generation for Swift is not compatible with Swift 3."
1. Postman Version:Version 4.8.0 (4.8.0)
2. App (Chrome app or Mac app): Mac App
3. OS details: Latest OSX
4. Is the Interceptor on and enabled in the app: ??
5. Did you encounter this recently, or has this bug always been there: recently since new version was released
6. Expected behaviour: Currently the Swift code thats generates is using an old version. Rename the existing impementation for Swi

[2016-10-17 14:05] c0d3rb4b4 commented on #697
+1

[2016-10-17 16:46] FaisalHet opened #2416 "Reset section reset to default values rather than presets"
Reset section reset to default values rather than presets.
We can understand it by an example,
array(
                'id'       => 'header_version',
                'type'     => 'image_select',
                'presets'  => true,
                'title'    => __('Header Layout Variations', 'swirl'),
                'subtitle' => __('Select the layout you want to use.', 'swirl'),

[2016-10-17 17:25] gwongz commented on #682
+1

[2016-10-17 17:26] trollfred commented on #348
+1 would be useful

[2016-10-17 17:27] abhijitkane commented on #348
@catalinux @kittee Cmd/Ctrl+B should beautify the request body json if the type is set to JSON

[2016-10-17 17:59] cjewett-hiya commented on #2266
It looks like 4.8.0 release fixes this.

[2016-10-17 18:27] chris-deluca commented on #2411
![snip_20161017112458](https://cloud.githubusercontent.com/assets/21092038/19449941/6d17f17e-945c-11e6-9bd3-2ac5ab956e6e.png)
![snip_20161017112515](https://cloud.githubusercontent.com/assets/21092038/19449940/6d15c336-945c-11e6-9465-3fad75ff52c0.png)

Here are two screenshots for you.  The keys are test keys and aren't real - so no need for redacting.  If you need we can even do a "remote view" s

[2016-10-17 19:04] jeremypaskalicimpress commented on #1228
+1

[2016-10-17 19:37] nevostruev commented on #2365
Works in 4.8. Thanks for fixing.

[2016-10-17 19:37] #2365 closed, assigned to vegetableman

[2016-10-17 19:55] #2416 closed, assigned to nobody

[2016-10-17 19:55] a85 commented on #2416
What is this about?

[2016-10-17 20:27] trollfred commented on #348
@abhijitkane thank you, it helps a lot!

[2016-10-17 20:28] FaisalHet commented on #2416
It is about redux framework issue (Possibly a bug).

[2016-10-17 20:30] FaisalHet commented on #2416
lol. looks like posted in wrong area. LOL

[2016-10-17 21:38] a85 commented on #348
@abhijitkane Is this documented in the shortcuts screen inside Settings?

[2016-10-17 21:39] a85 commented on #2266
@cjewett-hiya Great. @jnelson-hiya Can you confirm please?

[2016-10-17 21:40] a85 commented on #2412
@vegetableman Can you illustrate this better here?

[2016-10-18 00:25] jnelson-hiya commented on #2266
Yes confirmed, the issue has been resolved now. Thanks!

On Mon, Oct 17, 2016 at 2:39 PM, Abhinav Asthana notifications@github.com
wrote:

##

Jonathan Nelson
PRODUCT MANAGER, REPUTATION DATA
(425) 753-4663  •  Hiya.com http://www.hiya.com/

[2016-10-18 00:35] a85 commented on #2266
Great. Closing this!

[2016-10-18 00:35] #2266 closed, assigned to nobody

[2016-10-18 00:36] a85 commented on #856
@czardoz @shamasis  Still valid?

[2016-10-18 00:49] message2prateek opened #2417 "Contents of "exec" tag are formatted to be a string on export from an array."
Version/App Information:
1. Postman Version: 4.8
2. App (Chrome app or Mac app): Chrome App
3. OS details: Windows 8
4. Is the Interceptor on and enabled in the app: Yes
5. Did you encounter this recently, or has this bug always been there: Always been there
6. Expected behavior: When exporting a collection using the "Collection Formatter V2" I expect the Exec variable to stay as an array when the

[2016-10-18 04:30] hlubovac commented on #166
+1 for custom methods

[2016-10-18 05:34] #2370 closed, assigned to nobody

[2016-10-18 05:34] #2351 closed, assigned to sdnts

[2016-10-18 06:31] #2357 closed, assigned to sdnts

[2016-10-18 06:58] #2350 closed, assigned to czardoz

[2016-10-18 07:17] #642 closed

[2016-10-18 07:19] sdnts commented on #786
This shouldn't be an issue with the latest version of the app. Do let us know if it still persists.

[2016-10-18 07:19] #786 closed

[2016-10-18 07:20] sdnts commented on #797
GitHub OAuth2 should work properly with the latest version (4.8) of the app. Closing.

[2016-10-18 07:20] #797 closed

[2016-10-18 07:21] sdnts commented on #792
This shouldn't be an issue with the latest version of the app (4.8). Closing.

[2016-10-18 07:21] #792 closed

[2016-10-18 07:52] vegetableman commented on #2348
@sethlopezme Could you update to the latest version (4.8) of the app and verify if it's fixed?

[2016-10-18 07:53] sdnts commented on #917
@cbelsole I tried running your collection on v4.8, and it looks like it works properly there. Can you open up the Postman Console (Cmd + Alt + C) and check what requests were actually sent?

The reason only one request shows up in the UI is because, in essence, you are sending only one request (albeit with different parameters). I think that might be giving you the impression that the request ran

[2016-10-18 08:14] sdnts commented on #1150
This should be fixed in the latest version of the app (4.8+). You should be able to create cookies with the `=` sign in their value field.

[2016-10-18 08:14] #1150 closed, assigned to abhijitkane

[2016-10-18 08:28] sdnts commented on #1151
Are you guys still experiencing this on v4.8?

[2016-10-18 08:31] vegetableman commented on #2411
@Chris-Deluca Remote view would be great 👍 . You could get in touch with me through the postman community on slack.

[2016-10-18 08:33] sdnts commented on #1280
We redesigned our Cookie Manager recently, can you update to the latest version (v4.8) and see if you can reproduce this still?

[2016-10-18 08:33] #1280 closed, assigned to nobody

[2016-10-18 08:52] #1323 closed, assigned to nobody

[2016-10-18 08:57] sdnts commented on #1296
Is this still happening in the latest Postman app (v4.8)?
Feel free to reopen if it is.

[2016-10-18 08:57] #1296 closed, assigned to nobody

[2016-10-18 09:46] netsensei commented on #1630
I stumbled on the exact same issue. For future reference, here's a solution.

For each client you add in your Symfony app, you need to set a callback URL for OAuth to work. In the case of POSTman, this callback URL is https://www.getpostman.com/oauth2/callback

Once I configured it on the Symfony side, OAuth started to work.

See: https://github.com/dropbox/dropbox-js/issues/200

[2016-10-18 10:01] DCRichards opened #2418 "Could not get any response when 204: No Content returned from server"
1. Postman Version: 4.8.0 (4.8.0)
2. App (Chrome app or Mac app): Mac app
3. OS details: Mac OSX 10.11.5
4. Is the Interceptor on and enabled in the app: N/A (Mac app)
5. Did you encounter this recently, or has this bug always been there: Recent but not tried before
6. Expected behaviour: Status code should be 204 No Content and response headers displayed
7. Console logs (http://blog.getpostman.co

[2016-10-18 10:02] DCRichards commented on #2418
Just had a thought on this actually, could it be the `Content-Type` header? It looks like I might still be sending `application/json` as that's the default for the API and the way it's set up. Is Postman trying to parse it regardless of the 204?

[2016-10-18 10:05] sdnts commented on #2418
Which API are you using? Can you try doing the same using `http://echo.getpostman.com/status/204`? This is a test service.
I'm on v4.8, and this endpoint works fine for me, even with the Content-Type header.

[2016-10-18 10:12] DCRichards commented on #2418
@madebysid That works for me fine. The API is our own private API so sadly I can't open it up for poking, I might try when the _response_ returns `Content-Type: application/json` rather than sending in the request

[2016-10-18 10:38] vegetableman commented on #2412
@abhdr Not sure if I got it right but you meant the app should be able to hide the native menubar with `File`, `Edit`, ...  on the postman windows app, right?

[2016-10-18 10:56] abhdr commented on #2412
Hi,

Definetly that one :)

On Tuesday, 18 October 2016, Vignesh Anand notifications@github.com wrote:

[2016-10-18 11:16] Aidenir commented on #2397
Noticed this was working before, then suddenly it stopped, and I'm guessing thats when they introduced the setting maybe? Should have been on by default if that was the expected behavior.

[2016-10-18 11:17] sdnts commented on #1735
@cawoodm Can you try updating to the latest version (4.8) and check if this is still an issue? Feel free to reopen if it is :)

[2016-10-18 11:17] #1735 closed, assigned to abhijitkane

[2016-10-18 11:19] sdnts commented on #1818
We've made several improvements with regard to performance.
Can you still replicate this? Feel free to reopen if this is still an issue!

[2016-10-18 11:23] sdnts commented on #1746
@praveenb I tried replicating this in the latest version (4.8) and this looks like it is fixed.
Feel free to reopen if the issue persists :)

[2016-10-18 11:23] #1746 closed, assigned to nobody

[2016-10-18 11:25] sdnts commented on #1749
Hey guys, we've made several improvements to the Auth signature calculation. Can you try updating to the latest version (4.8) and check if this issue is resolved?

[2016-10-18 11:28] vegetableman commented on #2415
Thanks @grantkemp for posting this issue 👍 . Will keep you updated on this thread.

[2016-10-18 11:42] sdnts commented on #1782
@cviebrock When you import a Swagger request, there needs to be some sort of default value, which is why we default it to an environment variable with the same name, as we do not have the actual value. It is a fallback to make sure all your parameters are imported correctly.

[2016-10-18 11:42] #1782 closed, assigned to nobody

[2016-10-18 11:51] sdnts commented on #1851
@mstaalesen Can you still reproduce this issue? Feel free to reopen if you are :)

[2016-10-18 11:51] #1851 closed, assigned to nobody

[2016-10-18 11:53] sdnts commented on #1855
@srbangre You can download a test run using the runner sidebar on the left :)
![screenshot 2016-10-18 17 22 28](https://cloud.githubusercontent.com/assets/7689783/19476567/86e326cc-9557-11e6-8fa1-1f67c5576ad7.png)

[2016-10-18 11:53] #1855 closed, assigned to nobody

[2016-10-18 11:55] alexcaas commented on #1151
Not anymore, now is working, tested 5 minutes ago, Thanks

[2016-10-18 11:56] sdnts commented on #1151
Awesome, closing this :)

[2016-10-18 11:56] #1151 closed, assigned to nobody

[2016-10-18 12:00] sdnts commented on #2123
@asifpasha29 Is this still reproducible?

[2016-10-18 12:01] sdnts commented on #2106
@efvincent We pushed changes that should fix your issue. Feel free to reopen if the issue persists :)

[2016-10-18 12:01] #2106 closed, assigned to nobody

[2016-10-18 12:12] sdnts commented on #2044
@macpie Are you still seeing this in the latest version (4.8)?

[2016-10-18 12:15] alexplumb commented on #2351
That worked! Thank you so much.

[2016-10-18 13:17] mstaalesen commented on #1818
It's not as easy to reproduce as earlier, but yes - it still crashes. Really looking forward to moving away from the Chrome app!

[2016-10-18 13:20] mstaalesen commented on #1851
Sorry, didn't see this. This seems to have been fixed.

[2016-10-18 14:09] cviebrock commented on #1782
The Swagger import isn't a _request_ though.  It's a _specification_ for requests.

I can easily clear out all the `{{ parameter }}` fields manually after an import and then save the endpoint.  So I don't see why you need to fill them in in the first place.

![screen shot 2016-10-18 at 9 06 56 am](https://cloud.githubusercontent.com/assets/166810/19481075/5ebb1136-9512-11e6-82b0-f2cd36db16d2.png)

[2016-10-18 14:14] GlenDC commented on #882
+1

[2016-10-18 14:38] sdnts commented on #1801
Hey @mfulton26, the pretty view will (and should) never change your API response. The utility of the view is to look at an indented, syntax-highlighted version of the response. As such, we do not do any sort of modification to your response in the pretty view.
As a side note, the preview section should show you the correctly decoded response.

[2016-10-18 14:38] #1801 closed, assigned to nobody

[2016-10-18 14:41] sdnts commented on #2268
Can you guys try updating to the latest version of the app (4.8) and check if this is fixed? This looks related to #2351

[2016-10-18 14:49] sdnts commented on #2174
@thirtified Are you still seeing this behaviour in the latest version (4.8)? Feel free to reopen if you do :)

[2016-10-18 14:49] #2174 closed, assigned to czardoz

[2016-10-18 14:56] mfulton26 opened #2419 "Add document tree viewer for XML"
Postman's document viewers -- Pretty, Raw, Preview -- are great but none of them provide a way of viewing decoded content for XML like web browsers -- Chrome, Edge, Firefox, etc. -- display the document tree which is different from "pretty printing".

Could a "Tree" viewer be added?

It would differ from the "Pretty" viewer in that, for XML for example, it would display decode XML character entity

[2016-10-18 14:57] mfulton26 commented on #1801
@madebysid I see: the "Pretty" viewer is scoped to "Pretty" printing the raw content. That makes sense. Thank you for the explanation.

I've created #2419 with a new request as I see now it shouldn't be part of the "Pretty" viewer. Thank you.

[2016-10-18 14:59] sdnts commented on #2283
Hey @adaksuman, can you try turning off Automatic redirects in Postman's settings (Wrench icon on top-right > Settings) and try again?
Looking at your server, Postman tries to follow the redirect to `localhost:8080/path`, and since no server is running on that address, it fails to display a response.

[2016-10-18 14:59] #2283 closed, assigned to czardoz

[2016-10-18 15:45] shankie-codes commented on #2314
Humm. I'm on 4.8 and am still having this problem – and am not using a proxy. I am however using DNSMasq for local development. Anyone else had a similar problem?

[2016-10-18 16:07] mmichalowicz opened #2420 "form-data "Choose Files" button crashes Chrome and Postman"
1. Postman Version:
       4.8.0
2. App (Chrome app or Mac app):
       Chrome app
3. OS details:
       Windows 7 Enterprise (64 bit)
4. Is the Interceptor on and enabled in the app:
       Yes
5. Did you encounter this recently, or has this bug always been there:
       First time trying to use the form data feature with a file
6. Expected behaviour:
       Clicking on "Choose Files" for a form-

[2016-10-18 17:47] GlenDC commented on #882
Is this still being worked on? This issue is a blocker for my company to use this tool. Would be great to know what's currently in the development pipeline regarding the possibility to be able to have shared prescripts that can be used for all requests in a given collection.

[2016-10-18 18:59] framm commented on #697
+1

[2016-10-18 19:39] caliginouspierson commented on #2417
I find this particularly annoying, we trialed postman as a simplier more flexible version of soapUI.
We commit all postman collections to a VCS and rely on Pull Requests for quality, the inability to see changes because it's on one line is a real pain.

I think the default should be scripts on multiple lines.

[2016-10-18 20:49] 1digicoder commented on #1749
Issues remains with v4.8. I have the same issue as above, and for me, I'm using the $ sign.

It's being escaped as %24.

This was being used to troubleshoot a PowerShell automation error due to the similar encoding issue. The users were going to use Postman to validate the bug was fixed, when we found a similar bug there.

[2016-10-18 21:59] LucyCookie commented on #1014
+1

[2016-10-18 22:21] mstaalesen commented on #1816
Looks better now. Closing.

[2016-10-18 22:21] #1816 closed, assigned to nobody

[2016-10-18 22:26] mstaalesen commented on #1785
Should I just close this issue?

[2016-10-18 22:26] mstaalesen commented on #1784
Should I just close this issue?

[2016-10-18 22:28] heathdbrown commented on #2398
@madebysid ok I backed-up the folder with the database then removed, uninstalled, reinstalled and now postman opens.

I don't use sync, and I am ok with not restoring the data, just confused on what causes the corruption or what I can do to make sure I have some type of backup locally.

If you have any advice on those topics, I would appreciate it, if not we can close this out.

[2016-10-18 22:58] narthollis commented on #2268
It appears to be working for me now.

[2016-10-18 23:11] ejfn opened #2421 "Token in token detail should be selectable."
Version/App Information:
1. Postman Version: 4.8.0
2. App (Chrome app or Mac app): Chrome App
3. OS details: macOS and Windows
4. Is the Interceptor on and enabled in the app: Off
5. Did you encounter this recently, or has this bug always been there: Yes, recently
6. Expected behaviour: The token details should be selectable so that I can right click on the selected token and send to enviroment.
7

[2016-10-18 23:16] ejfn commented on #2421
And, it would be much better if you can add an "Environment" option to "Add token to".

[2016-10-19 06:07] Aidenir opened #2422 "[Feature request] Mark request fields as "non-dirtying""
The problem I've been having for a while now is that I for example have a request saved for fetching an oauth access token (without the build-in helper, for many reasons), and one parameter, "code" is obviously changing everytime I request a new access-token. But since this change is irrelevant (the code will not be valid next time I open the request) I don't wan't the request to be showing as cha

[2016-10-19 06:14] sdnts commented on #2421
Hey @ericvan76, the OAuth2 token on the right panel is indeed selectable. Did I misunderstand your question?

![screenshot 2016-10-19 11 41 17](https://cloud.githubusercontent.com/assets/7689783/19507507/1af69dd2-95f1-11e6-9ddd-19483bddec7f.png)

[2016-10-19 06:19] #2268 closed, assigned to nobody

[2016-10-19 06:37] sdnts commented on #1784
@mstaalesen We've added the ability to zoom in/out in the main window, does that help you?
I'm keeping this issue open primarily for the suggestions you've posted, we'll keep those in mind :)

[2016-10-19 06:40] sdnts commented on #1749
Hmm, let me investigate this and I'll get back to you here :)

[2016-10-19 07:35] mstaalesen commented on #1784
To some extent, but its zooming everything and not just the request/response-fields as I was hoping for. (I have to hide the sidepan when I zoom in.)

I am still mainly replacing the CSS with the Developer Tools while holding presentations, which is quite awkward. Especially since the app keeps crashing.

[2016-10-19 08:22] sdnts commented on #2396
Apologies on the late reply. I'm still looking into this, we'll roll out a fix with v4.8.1

[2016-10-19 08:26] thesec commented on #2396
@madebysid no worries have found a "workaround" (added the cookies' info to the environment and to the header which makes them shareable and hence seems the correct way to do this(?!), therefore in double quotes ;))
Thanks for keeping me in the loop :]

[2016-10-19 08:30] stephen-talari commented on #739
For most of the apps use `password_grant`,  it is very much needed for developers
+1

[2016-10-19 09:28] stianlagstad commented on #286
+1 Still an issue
Chrome 54.0.2840.59 (Official Build) (64-bit)
Postman 4.8.0
Ubuntu 16.10

The app crashes if the response is large and I look at the response with `Pretty` formatting.

[2016-10-19 09:37] sdnts commented on #2421
@ericvan76 I was able to reproduce this. It happens only the Chrome App, not the native app. Will keep you updated.

[2016-10-19 10:38] sdnts commented on #2393
Hey @andreassiegelrfid @rahbari The new runner is out on our canary channel. You can download it for OSX [here](https://dl.pstmn.io/download/channel/canary/osx_64).
It adds ability to view your request & response, among other new features. Do let us know of any feedback you have / bugs you find :)

[2016-10-19 14:51] stevenmcdermott8 opened #2423 "Right click to set environment variable not working in 4.8.0"
Hi,
I'm using Postman 4.8.0 and I can not set environment variables (or global variables) from the right-click contextual menu. I do not even get the option to set a variable like it did before.

![image](https://cloud.githubusercontent.com/assets/8916704/19523886/c037479a-95d0-11e6-899c-b6d4da658c62.png)

Working on Mac OSX yosemite, recently updated chrome from 48.x to 54.x

It should also be no

[2016-10-19 15:17] shmup opened #2424 "Possibly allow custom folder ordering, not a strict A-Z"
TL;DR - folders are nice, but for test runner ordering, I want them in: C, A, B order, but am forced to use A, B, C because of A-Z restriction. Possibly allow us to drag and reorder, as we can with individual requests.

---

We're going to have a few hundred tests running through newman that are built through Postman, and these will all be grouped into various collections.

But within the collecti

[2016-10-19 15:19] shmup commented on #2424
I suppose the workaround right now is to just throw a number in front of the folder name. This is a fine enough solution I'm not even upset anymore, haha.

[2016-10-19 18:37] goneneren commented on #1113
Still not saving.. :/

[2016-10-19 21:50] Pablodotnet opened #2425 "Randomly test failures when running with Postman Collection Runner or Newman"
1. Postman Version: 4.8
2. App (Chrome app or Mac app): Mac app & Chrome app
3. OS details: El Capitan (Mac app) & Ubuntu (Chrome App)
4. Is the Interceptor on and enabled in the app: No
5. Did you encounter this recently, or has this bug always been there: Always been there
6. Expected behaviour: When I run a request in Postman, the programmed tests passes, but when running the same request with

[2016-10-20 00:38] vegetableman commented on #2402
@PhilipSharman Thanks for sharing more info on it 👍 . We have been trying to reproduce this issue, is it possible for you to share the mentioned endpoint or any public endpoint with a similar issue for us to test out?.
Also, you could reach out to me on the slack community (which I noticed you already are part of) to discuss more about it.

[2016-10-20 06:44] BancuTheKind commented on #739
We just paid the annual fee. If I was paying attention to see that that password grant type is not there I wouldn't have renewed. This request is 2 years old. I'm guessing that nobody is paying attention anymore.

[2016-10-20 06:49] donroyco commented on #2423
I also encountered this issue. Right clicking in the actual data is not working, even after a reboot or reinstall. I can still use the context menu for the top right _no environment_ dropdown.

Postman App version: 4.8
Chrome version: 54
Operating System: macOS Sierra

[2016-10-20 09:22] jbauerrfid commented on #2393
Is there a Canary version available for Ubuntu? I would like to get better test runner results here also.
Currently I can use the Chrome app only, and that one is updated globally by Chrome, so it would be difficult to switch to a Canary channel here.

[2016-10-20 09:49] andreassiegel commented on #2393
@madebysid The new collection runner is amazing! Thanks a lot!

And, indeed, I already found a bug: Filtering passed or failed tests doesn't always work:

![image](https://cloud.githubusercontent.com/assets/13197892/19554901/e4595416-96ba-11e6-9053-1872cae1826b.png)

As you can see, I actually selected only the failed tests, but still see all tests. Unfortunately, I don't know how to reproduce the

[2016-10-20 10:08] SamvelRaja commented on #2393
@jbauerrfid We are working on it. Will update this post once we are ready with the build.

[2016-10-20 10:10] SamvelRaja commented on #2393
@andreassiegelrfid  Thanks for bringing this to our notice we shall look into the edge case from our end as well.

[2016-10-20 11:30] ghost commented on #739
+1

[2016-10-20 12:15] Nopik opened #2426 "Feature request: add vertical split mode"
Currently the request/response panes are stacked vertically, with horizontal splitter. So, if I'm editing body of json request and want to scroll through response, each of those panes has limited vertical amount of screen space. And it also creates some weird and very annoying scrolling behaviour.

Moreover, on big-resolution screens (lets say FullHD+), a vast amount of space is unused, since the

[2016-10-20 12:37] vegetableman commented on #2426
@Nopik The feature is being worked on ^_^.  Here's the issue where you can track it #2345. Closing this as a duplicate.

[2016-10-20 12:37] #2426 closed, assigned to nobody

[2016-10-20 12:59] Nopik commented on #2426
Any rough estimates when it could be available? like this month, this year, this decade? :)

[2016-10-20 13:19] andreassiegel commented on #2393
Two more bugs:
- _Run Summary_ doesn't work
- Showing results for other iterations than the first one doesn't work

If I click on either the _Run Summary_ button or the iterations numbers on the right, nothing happens.

Some information from the Developer Tools log:

[code]

The _429 Too Many Requests_ happens a lot, it fills most of the log I see.

[2016-10-20 13:56] vegetableman commented on #2426
@Nopik we want to get it right but, yes, in a month or sooner.

[2016-10-20 14:11] vegetableman commented on #2422
You could set the `code` as an environment variable. That way, it won't mark the request as dirty.
Also, you could create another request in the collection that would just fetch the code and set it in the environment and then you could run your request to fetch the access token.
Checkout this post: http://blog.getpostman.com/2014/01/27/extracting-data-from-responses-and-chaining-requests/

[2016-10-20 14:24] SamvelRaja commented on #2393
@jbauerrfid  The Linux app is out [https://www.getpostman.com/apps](https://www.getpostman.com/apps) 😄

[2016-10-20 14:34] vegetableman commented on #2423
Thanks guys for reporting it 👍 . We are looking in to it.

[2016-10-20 15:56] eholley opened #2427 "Parameter not parsing correctly - Broken since after v4.4.3"
1. Postman Version: 4.8.0
2. App (Chrome app or Mac app): Mac
3. OS details: 10.12 Sierra
4. Is the Interceptor on and enabled in the app: Doesn't matter
5. Did you encounter this recently, or has this bug always been there: Bug since after 4.4.3
6. Expected behaviour: Expect to receive a json packet.
7. Console logs (http://blog.getpostman.com/2014/01/27/enabling-chrome-developer-tools-inside-pos

[2016-10-20 16:08] vegetableman commented on #2425
@Pablodotnet It's not clear as to what exact issue you are facing. Considering, you are writing tests around requests and responses. Could you open up devtools in case of the chrome app (https://www.getpostman.com/docs/errors) and verify the request and response for the calls with the failing tests.

[2016-10-20 19:04] fostec82 opened #2428 "request.data shows as array in Mac native app"
1. Postman Version: 4.8
2. App (Chrome app or Mac app): Mac and Chrome
3. OS details: OS X 10.11.6
4. Is the Interceptor on and enabled in the app: No
5. Did you encounter this recently, or has this bug always been there: Recently
6. Expected behaviour: request.data should be object
7. Console logs (http://blog.getpostman.com/2014/01/27/enabling-chrome-developer-tools-inside-postman/ for the Chrom

[2016-10-20 21:59] andreassiegel commented on #2425
@Pablodotnet Could you elaborate a bit in which way your tests are failing in the collection runner, or what kind of tests are failing?

For instance, we've experienced issues with random _500 Internal Server Error_ responses we can't explain, so that we are not sure if Postman or the API is the actual problem.

I'd really appreciate your feedback. Would be good to know we're not the only ones wit

[2016-10-21 06:36] sdnts commented on #2424
@shmup This is actually in our immediate roadmap, and we're working on this. I'll let you know here when it is out :)

[2016-10-21 08:38] sdnts commented on #2417
@message2prateek @caliginouspierson That makes sense. We've changed this behaviour so that the app now exports multiline tests / pre-request scripts as an array of strings rather than a `\n` separated string. We'll be rolling out a fix in the coming releases :)

[2016-10-21 08:51] sdnts commented on #2398
@heathdbrown We've been trying to get to the bottom of this, but haven't found a reliable reproduction set. So far, it looks like a Chrome issue. Sync was created to solve problems like this. I'd recommend using it to prevent data loss in the future :)

[2016-10-21 08:51] #2398 closed, assigned to nobody

[2016-10-21 08:56] sdnts commented on #1850
@soufian044 We've resolved this issue and will be pushing a fix for this in the next release.

[2016-10-21 09:36] sdnts commented on #2427
@eholley I was able to reproduce this, we'll get on a fix. I discovered that this happens only in case the variable name is succeeded by a special character. (`.` in your case)
Till then, you can do one of two things:
1. Use environment variables. They behave in a similar fashion, and are much more versatile (can be used anywhere, bodies, test scripts, etc.)
2. Append the `.json` to the value fiel

[2016-10-21 10:00] sdnts commented on #2393
@andreassiegelrfid Thanks for the feedback!
I've isolated and fixed the results bug (2).
Haven't been able to replicate the Run Summary one though. Does it happen every time for you?
I'd also recommend joining our Slack community [here](https://www.getpostman.com/slack-invite) for easier communication :)

[2016-10-21 10:45] #2387 closed, assigned to nobody

[2016-10-21 11:43] sdnts commented on #2362
Hey @jjathman, can you still reproduce this in the latest version (4.8)?

[2016-10-21 11:49] andreassiegel commented on #2393
@madebysid Thanks for the response and the Slack recommendation! Just joined your community! :)

Regarding the Run Summary: Let me put it like this: I never saw it working, maybe I need to download a new version.

[2016-10-21 18:47] cosbor11 commented on #2025
+1

App Version = Version 4.8.0 (4.8.0)

Postman is not prompting for my ClientCert even though Chrome already has,

[2016-10-21 19:05] goldbergjeffrey commented on #2025
@cosbor11, I am using the Windows client and in order for Postman to use the client cert, I had to enter it into postman settings using pem files.

Hope this helps.

[2016-10-21 22:24] sjdirect opened #2429 "Would be great if the "tests['whatever'] = true;" automatically created console.log and console.error statements"
tests['some message you want to see '] = true; is used to display debug messages.

I know that this is the "correct" way to do this in postman but it really seems like a hack. The problem is that if you run several tests in the collection runner those statements are not shown in the order that they happened. This makes me have to do both console.log + console.error + test[''] to really understand

[2016-10-22 10:55] PhanVanLinh commented on #739
+1 for grant_type password, it very important

[2016-10-23 01:21] jitbug commented on #739
+1 !

[2016-10-24 07:23] excentris commented on #2238
@a85 Nice to hear. Can you give an indication of how soon?

[2016-10-24 12:41] sdnts commented on #2428
Hey @chrifost, the native app's behaviour is what you should follow. The native app uses Postman Runtime ([here's](http://blog.getpostman.com/2016/06/14/introducing-postman-runtime-more-power-better-control/) why). By keeping the `request.data` as a key-value store, users would face problems when it came to multiple parameters with the same name.
Postman Runtime will make its way to the chrome app

[2016-10-24 12:41] #2428 closed, assigned to nobody

[2016-10-24 12:48] sdnts commented on #2425
@Pablodotnet Is this still happening to you?

[2016-10-24 12:58] ghost opened #2430 "response example tab"
hello,
is there any chance to get some "response example" tab next to authorization, body, etc. tabs? where i can define response example in formatted json? just for information what shoud i get after request sent?

[2016-10-24 14:05] jjathman commented on #2362
Yep, looks like it works correctly for me now. Thank you!

[2016-10-24 14:06] #2362 closed, assigned to SamvelRaja

[2016-10-24 15:13] mmellison commented on #1464
Would love to see simple configuration to choose which parameters to use, as my provider is also providing the JWT in `id_token`  where `access_token` is an opaque string.

[2016-10-24 15:58] heathdbrown commented on #2398
thanks @madebysid

[2016-10-24 17:32] macpie commented on #2044
@madebysid will check. Thanks!

[2016-10-24 17:48] macpie commented on #2044
[code]

The `postman.getResponseCookie('sess')` is working thanks!

Back to my original question, is there a way to remove it from test scripts (instead of using UI) ?

[2016-10-24 19:31] mthoreso commented on #2247
@shamasis I believe the issue here (and in [Issue #882 ](https://github.com/postmanlabs/postman-app-support/issues/882)) is that a lot of people want to use Postman/Newman and also want some programmatic flexibility to create and re-use code.  The suggestion to add scripts to a folder which runs upon any request under that folder/collection is too rigid.  Not all requests in the folder may need th

[2016-10-24 19:34] shamasis commented on #2247
There are two things we think we should do:
1. Common scripts in folders
2. A global scripts section that can be referred from any folder or request.

These two combined should address script re use issue.

[2016-10-24 19:58] mthoreso commented on #2247
Awesome!

[2016-10-24 23:11] c3cris opened #2431 "PM does not send cookies if Origin is set"
1. Postman Version: 4.8
2. App (Chrome app or Mac app): Chrome APP
3. OS details: OSX 10.12
4. Is the Interceptor on and enabled in the app: On and Enabled
5. Did you encounter this recently, or has this bug always been there: Since 4.4+
6. Expected behaviour:  Cookie header should always be sent
7. Console logs (http://blog.getpostman.com/2014/01/27/enabling-chrome-developer-tools-inside-postman/

[2016-10-24 23:46] Pablodotnet commented on #2425
Hi, sorry for taking some time to answer, I'm not having this issue anymore because I changed my SO from Linux to MacOS, I read that this issue isn't happening with Native Postman App + Newman, and it's true, all my test pass in Postman, Collection Runner and Newman.

The issue I was getting was like this:
I have my collection with some post requests and get requests with some tests, when running

[2016-10-25 07:01] sdnts commented on #2044
@macpie Right now, you can only read cookies on the test script, not remove them, but I'll add this as a feature request :D

[2016-10-25 07:39] sdnts commented on #2239
@JBrace1990 Are you still seeing this in the latest version (4.8)?

[2016-10-25 07:49] sdnts commented on #1830
Opening up the DevTools and checking network traffic should conclusively prove that logging in/out is completely secure.
Closing.

[2016-10-25 07:49] #1830 closed, assigned to nobody

[2016-10-25 08:41] openhoat commented on #1603
I also need this feature :+1:

[2016-10-25 10:50] jaumeavila commented on #1066
Yes please.
It is very needed!

[2016-10-25 10:50] jaumeavila commented on #1552
+1

[2016-10-25 10:51] jaumeavila commented on #212
+1

[2016-10-25 11:50] #1273 closed, assigned to nobody

[2016-10-25 11:52] sdnts commented on #1273
Guys, this should be fixed in new versions of Postman (4.0+), and you should be able to send form-data bodies.

[2016-10-25 11:53] sdnts commented on #2295
@worrel I verified this to be fixed in v4.8. Can you check and close?

[2016-10-25 11:55] sdnts commented on #278
@dontstopnow Can you check if this is still an issue with the latest version of the app (v4.8)?

[2016-10-25 17:42] vivganes commented on #2430
@Mkax  Can you please explain how you would use the response example?  Do you expect Postman to throw error when the server returns some other response?

[2016-10-25 18:22] PhilipSharman commented on #2402
Thanks Vignesh.  I’ll see if I can get you access.
   Philip.

On Wed, Oct 19, 2016 at 6:38 PM, Vignesh Anand notifications@github.com
wrote:

[2016-10-26 06:16] shaworth commented on #2411
I updated to 4.8.0 on mac and immediately ran into this issue.  Literally was running collections one minute, accepted the upgrade, and my collections no longer worked (on the mac).   Prior to the update both the mac and windows behaved the same.  Now I am seeing oAuth1.0 errors on all requests from the mac, the same collection works perfectly on windows.

Same behavior for both the chrome extensi

[2016-10-26 06:53] shaworth commented on #2411
I attempted to create the exact same request on windows and mac, with the intent of using tcpdump to capture the resulting requests on my host.  In the process I uncovered what I believe to be a bug, which may or may not be related to this issue.

Mac chrome extension, installed in the past hour (how do I tell the version?):
- enter a URL, set method to POST.
- Select OAuth 1.0 from Authorization

[2016-10-26 06:56] shaworth commented on #2411
Is it possible to revert to the previous version?  I need postman on my Mac.  :)

[2016-10-26 07:28] navff opened #2432 "Windows App not working with SSL certificate"
1. Postman Version: **4.8.0**
2. App (Chrome app or Mac app): **Windows App**
3. OS details: **Windows 10, v1607**
4. Is the Interceptor on and enabled in the app: **not enabled**
5. Did you encounter this recently, or has this bug always been there: **all times when I try get request**

Steps:
1. Trying to run GET request: https://wpay.uniteller.ru/results/?Login=2721&Password=123
2. Seen the err

[2016-10-26 07:35] sdnts commented on #2432
Hey @navff! Are you trying to send a certificate along with the request to your URL? If so, can you try out our native Windows App (which has support for this)? From your screenshot, I see that you are using the Chrome App, not the native one. You can download it [here](http://getpostman.com/apps).

You can then head over to Settings > Certificates and add your certificate there. It'll then be sen

[2016-10-26 11:03] donroyco commented on #2423
A workaround until the fix has arrived is that you can go to the _Raw_ or _Preview_ input and then do a right click to access the context menu. That works for me.

<img width="211" alt="Raw input" src="https://cloud.githubusercontent.com/assets/1763537/19723644/80263056-9b7c-11e6-81f1-ca6aa1fb75ec.png">

[2016-10-26 11:09] pollenflugkalender opened #2433 "oauth2.0 helper: it is not possible to save the helper data to a collection like for oauth1.0"
1. Postman Version: 4.8.0
2. App (Chrome app or Mac app): Standalone
3. OS details: Windows
4. Is the Interceptor on and enabled in the app:
5. Did you encounter this recently, or has this bug always been there: always
6. Expected behaviour: The settings for the oauth2 helper can be exported to a collection like it works for the oauth1 helper.
7. Console logs (http://blog.getpostman.com/2014/01/27

[2016-10-26 11:35] iredmail opened #2434 "sub-variable is not replaced with getEnvironmentVariable()"
1. Postman Version: 4.7,2 & 4.8.0
2. App (Chrome app or Mac app): Mac app
3. OS details: macOS 10.12
4. Did you encounter this recently, or has this bug always been there: ALWAYS

Steps to reproduce the problem:

In environment, define two vars:

[code]

In tests, write code like below:

[code]

It logs`4,5,6,{{a}}]`, but expected value is: `4,5,6,1,2,3`.

[2016-10-26 12:18] jitbit opened #2435 "Postman Sends all the cookies stored in Chrome for that domain"
1. Postman Version: 4.8.0
2. App (Chrome app or Mac app): Chrome app
3. OS details: Windows 10
4. Is the Interceptor on and enabled in the app: yes
5. Did you encounter this recently, or has this bug always been there: always
6. Expected behaviour: no cookies from Chrome should be sent to domain
7. Console logs: `window.localStorage is not available in packaged apps. Use chrome.storage.local inste

[2016-10-26 12:21] sdnts commented on #2434
@iredmail Thanks for reporting this. We'll get on a fix and will let you know when it is released.

[2016-10-26 12:22] iredmail commented on #2434
Does postman team offer nightly build?

[2016-10-26 12:30] sdnts commented on #2434
@iredmail Not as of now.

On second thought, the function `postman.getEnvironmentVariable` returns you back the _value_ of the variable, but it does not _resolve_ the variable, which is the correct behaviour. We will look into adding a function to the pre-request script / test sandbox that allows you to resolve variables.

For now, can you use some sort of regular-expression based loop to recursiv

[2016-10-26 12:32] iredmail commented on #2434
I have no idea how to do this in my tests. It's better done by Postman: if it detects sub-variable in value, recursively resolve the variable.

[2016-10-26 13:35] sdnts commented on #2435
@jitbit That is the intended behaviour. When you have the interceptor installed and activated from the Chrome App, your request actually goes through Chrome, so all you cookies related to that domain are also sent. In fact, this is the primary use case for the Interceptor. Feel free to reopen if I misunderstood :)

[2016-10-26 13:35] #2435 closed, assigned to nobody

[2016-10-26 13:40] sdnts commented on #856
@kbhutchinson This shouldn't be an issue in the latest Postman App (4.8).
Feel free to reopen if this still happens for you :)

[2016-10-26 13:40] #856 closed

[2016-10-26 17:15] matanshukry commented on #215
It seems related, so I'll just continue this open (would love if anyone can reopen this).

I personally has a need for using multiple environment simultaneously. I'm guessing multiple dropdowns would be impossible (assuming you don't want to hard limit the number of multiple environments simultaneously), but a dropdown with checkboxes IMO would be nice.

My specific use case is I'm using different

[2016-10-27 00:12] dominhhai commented on #2242
Not working on Chrome `54.0.2840.71` too.
Any update?

[2016-10-27 00:12] cchen408 commented on #1429
+1

[2016-10-27 06:55] mahekmerchant opened #2436 "Is it possible to import variables from csv or json file in Pre-requests script?"
e.g
var j=from CSV or json
postman.setGlobalVariable("id", "j");

[2016-10-27 07:36] vegetableman commented on #2363
Closing this. Feel free to reopen if you still see the issue.

[2016-10-27 07:36] #2363 closed, assigned to nobody

[2016-10-27 07:47] sdnts commented on #2436
@mahekmerchant You can do this in the Collection Runner. [This](http://blog.getpostman.com/2014/10/28/using-csv-and-json-files-in-the-postman-collection-runner/) blog post should help you out :)

[2016-10-27 07:47] #2436 closed, assigned to nobody

[2016-10-27 07:55] mahekmerchant commented on #2436
Actually my purpose is to import variables from csv ,set as an enviroment variable in pre-request script. I want to run this collection file using newman without passing environment file.So is it possible?Is there any library to import external csv file or json file?

[2016-10-27 08:11] sdnts commented on #2436
@mahekmerchant You can supply in a CSV file in Newman too. Check out [Newman Docs](https://github.com/postmanlabs/newman#command-line-options), specifically the `-d` option. You can then use these variables from the CSV directly in your collection.
Newman's Issue tracker is [here](https://github.com/postmanlabs/newman/issues)

[2016-10-27 10:00] jbouzekri commented on #2423
@donroyco : nice work around.

Just to everybody knows that it happens on Ubuntu 16.10 too :
4.8.0
linux / x86-64
Chrome 54.0.2840.71

[2016-10-27 10:10] vegetableman commented on #2431
@c3cris The cookies will be sent irrespective of the headers you mentioned. Could you try sending the same headers to `https://httpbin.org/cookies/` and verify the response? (the response will have the cookie details)

[2016-10-27 10:42] sdnts commented on #430
Guys, this has been possible for a while now. You can click on the `Raw` tab right above the response body to view the raw response.
Response Headers are also viewable in the `Headers` tab
Feel free to reopen if I misunderstood.

[2016-10-27 10:46] sdnts commented on #430
I understand the request here is to view/copy the complete HTTP response. Reopening.

[2016-10-27 10:58] sdnts commented on #530
@ariscris We addressed this feature request in the redesign of our runner. You can download the Canary release [here](https://dl.pstmn.io/download/channel/canary/osx_64).
I'd recommend you to join our Slack community [here](https://www.getpostman.com/slack-invite) so you can provide feedback before the runner moves to our stable builds :)

[2016-10-27 11:02] sdnts commented on #571
Guys, Feature 1 is possible now using postman.setNextRequest. Docs are [here](https://www.getpostman.com/docs/workflows)
Feature 2 is not in our immediate or long-term roadmap as of now.
Feature 3 is also possible in the redesign of our runner, which is on our Canary channel. You can download the Canary release [here](https://dl.pstmn.io/download/channel/canary/osx_64).
I'd recommend you to join o

[2016-10-27 11:06] sdnts commented on #588
@ryancnelson Closing this as Pre-request scripts should serve your use-case. Feel free to reopen if they don't.

[2016-10-27 11:06] #588 closed

[2016-10-27 11:17] sdnts commented on #2433
@pollenflugkalender We indeed do not store OAuth2 details specifically right now. We're considering this, thanks for the request :)

[2016-10-27 12:02] sdnts commented on #2434
@iredmail I agree. We're thinking of adding a function to the sandbox that resolves variables. Will keep you updated.

[2016-10-27 12:04] MaRuifeng opened #2437 "Linux Postman app show up with blacked-out window on Ubuntu 14.04"
1. Postman Version: Postman-linux-x64-4.8.0.tar.gz
2. App (Chrome app or Mac app): Linux App
3. OS details: ubuntu-14.04.4-desktop-amd64 (in Oracle VirtualBox)
4. Is the Interceptor on and enabled in the app: N.A.
5. Did you encounter this recently, or has this bug always been there: First time
6. Expected behaviour: N.A.
7. Console logs (http://blog.getpostman.com/2014/01/27/enabling-chrome-devel

[2016-10-27 12:33] numaanashraf commented on #2437
@MaRuifeng Thanks for reporting this. Would it be possible to open the app's devtools via 'View > Toggle DevTools' and send us a screenshot of any errors there?

[2016-10-27 13:01] #2123 closed, assigned to nobody

[2016-10-27 13:20] MaRuifeng commented on #2437
@numaanashraf I am unable to do so as the menu buttons are not responding (or they are responding, but the dropdown does not show). I am also trying to check if anything goes wrong with my Ubuntu OS, as the Chrome App version of Postman does not work either.

[2016-10-27 14:41] MaRuifeng commented on #2437
@numaanashraf The issue got resolved when I unchecked the 'Enable 3D Acceleration' option under the Display tab on my VirtualBox VM settings. A dumb issue but it took me quite a while to resolve, as the Chrome app used to work properly even with the option enabled.

Sorry for the trouble but perhaps a lesson for VirtualBox users.

[2016-10-27 14:44] camminati opened #2438 "Collecion Runner fails to read a property from JSON array"
1. Postman Version: 4.8.1
2. App (Chrome app or Mac app): win32 10.0.14393 / x64
3. OS details: Windows 10 Version 1603
4. Is the Interceptor on and enabled in the app: no
5. Did you encounter this recently, or has this bug always been there: not sure.. maybe recently
## Expected behaviour:

I'm am trying to set an evinronment variable reading the value from the json body and use it in the url for

[2016-10-27 15:32] HuiSou commented on #1906
+1

[2016-10-27 17:54] c3cris commented on #2431
It seems that if a request has an origin and a referer cookies don't send ... Is this part of the HTTP specification?

![screen shot 2016-10-27 at 10 53 28 am](https://cloud.githubusercontent.com/assets/1042198/19778923/b649b7fe-9c33-11e6-8e9f-d74d5239044f.png)
![screen shot 2016-10-27 at 10 53 21 am](https://cloud.githubusercontent.com/assets/1042198/19778925/b65dd6d0-9c33-11e6-9639-5e698a4d49a1.

[2016-10-27 23:36] cosmolux commented on #1906
+1

[2016-10-28 07:05] sdnts commented on #2438
Hey @camminati, I made a little server that returns me the body you've defined, but I was unable to reproduce this.
Could you open up the Postman Console (Cmd/Ctrl + Alt + C) and start the collection run? That way, you should be able to see the actual response your server sends back. Can you make sure the response is as expected in both cases?

[2016-10-28 07:16] HenrikHL opened #2439 "PostMan crashes on startup (when connecting to postman servers)"
1. Postman Version: 4.8.0
2. App (Chrome app or Mac app): Chrome
3. OS details: Win 10 64bit
4. Is the Interceptor on and enabled in the app:
5. Did you encounter this recently, or has this bug always been there: From today
6. Expected behaviour: Postman starting normally
7. Console logs (http://blog.getpostman.com/2014/01/27/enabling-chrome-developer-tools-inside-postman/ for the Chrome App, View

[2016-10-28 08:31] sdnts commented on #2439
@HenrikHL If you have all your collections synced, could you try a reinstall of the app? Sync would make sure all your collections are intact.

[2016-10-28 11:29] HenrikHL commented on #2439
Thank you - it worked by uninstalling POSTMan and then reinstalling it.

2016-10-28 10:31 GMT+02:00 Siddhant Sinha notifications@github.com:

[2016-10-28 11:29] #2439 closed, assigned to nobody

[2016-10-28 12:55] punkstar commented on #1723
@rstellar Unfortunately not. When I define a value for "Authorization" in the headers panel it silently ignores it and it doesn't get sent.

[2016-10-28 13:00] sdnts commented on #1723
@punkstar That shouldn't happen. Which version of the app are you on?

On the native apps, can you open up the Postman Console (Cmd/Ctrl + Alt + C) and resend the request? You should be able to see the headers that are sent with the request.
On the Chrome App, you should be able to open up the Chrome DevTools and check the network Tab (instructions [here](http://blog.getpostman.com/2014/01/27/enab

[2016-10-28 13:09] punkstar commented on #1723
@madebysid You're right, your comment made my look into this a little closer and it's something else in my stack that's removing this header.  Thanks for the tip on the Postman Console - I didn't know that existed.

[2016-10-28 14:56] mahlzeit commented on #2013
That would be super important to out company, too.

[2016-10-28 15:49] skumarcse commented on #2217
I am using **Postman Windows NativeApp 4.8.1**. I have configured CRT & KEY(encrypted) with Passphrase under **Settings --> Certificates** as Client Certificates. Does not work. Is this issue still open at postman native app ? I tried both _ON/OFF_ of **Settings --> General --> SSL certificate verfication**.
PS: This works in Chrome - Postman extension with PFX.

[2016-10-28 16:03] maxmarkus commented on #2013
@godfrzero mentioned at slack: Environments are never synced in plaintext though. They're encrypted before being stored on the server.

Official security page says: Customer data, depending upon its sensitivity classification, is also AES-256-GCM encrypted at the application layer before storage.

Question is what means this Application layer exactly?

[2016-10-28 16:07] nathanboktae commented on #2013
The point of client-side encryption is that we don't have to trust you to manage the keys properly, because you don't have them.

[2016-10-28 16:12] sdnts commented on #2217
@skumarcse PFX format isn't supported yet, we're working on it :)
Could you try a CRT format?

[2016-10-28 16:39] stwist-timeless opened #2440 "Memory issues when running a huge collection in the Collection Runner"
Hi,

I'm not sure if this is a bug vs. something I am doing wrong.

The setup:

I am using Postman + Collection Runner to test an API I am developing. I have one large collection that makes up my entire test suite. It currently consists of 1241 requests (sorted into about 200 or so folders). Each request processes anywhere from 2 to 10 tests.

A few of my requests use non-linear execution to loop

[2016-10-28 18:17] mahlzeit commented on #2013
@nathanboktae exactly.
@maxmarkus & @godfrzero yep. Same for "depending its sensitivity classification" - could need some clarification, too.

[2016-10-28 18:19] chrisjmccrum commented on #2423
happening to me as well on v4.8.0

Mac OSX 10.11.6
Chrome 54.0.2840.71

[2016-10-29 12:50] satbirbains commented on #1535
- 1

If each collection is treated as an independent flow of requests of which all require their own login, then setting an environment variable is not suitable. Currently the only option is to duplicate the login request in every collection, the more requests that need to be shared the worse the situation will become.

With newman we can automate the process of running collections and as such als

[2016-10-29 13:39] ThaneshR commented on #697
+1

[2016-10-29 22:05] simplesmiler commented on #2404
Same thing happens on Windows client 4.8.1.
Step by step: http://imgur.com/a/btmTW

[2016-10-30 10:33] ne0d1n commented on #1104
+1

[2016-10-30 13:26] skumarcse commented on #2217
@madebysid I did not say I used PFX format in Postman NativeApp v 4.8.1, instead I said i used CRT and KEY(encrypted) with Passphrase in Postman Windows NativeApp 4.8.1. though i used CRT & KEY, still Postman NativeApp, it do have problem of consume the certificate.

[2016-10-30 15:48] #533 closed

[2016-10-30 15:49] shamasis commented on #914
Closing this issue since it has been resolved.

[2016-10-30 15:49] #914 closed

[2016-10-30 16:13] shamasis commented on #2329
Can you try this in native client? Seems to me that this is a restriction ok chrome platform.

[2016-10-30 16:17] shamasis commented on #1601
We've already started working and laying foundation for this. Will post updates when we have more to tell. 😊

[2016-10-30 22:12] zhangman1212 opened #2441 "Couldn't transmit generated id from POST methodto the next GET method"
Hi,

I'm not sure if this is a bug vs. something I am doing wrong.

Description:
I have POST/GET/UPDATE/DELETE methods for one resource file, I want to create a resource using POST method then get the resource by id, the 'id' is generated by POST method, it's unique, so I hope I could transmit the generated 'id' from POST method to the GET methods, I create a global variable named 'id', and write

[2016-10-30 22:49] gregsdennis opened #2442 "UX improvements for exactly duplicated non-GET requests"
I'd like to see an option to not list _exactly_ duplicated non-`GET` requests separately in the history.  It unnecessarily fills up history.

By "exactly duplicated," I mean that the URL, headers, body, etc are all the same.

Current functionality places a new identical entry in the history.

[2016-10-31 08:39] jmfayard opened #2443 "Disabled headers make newman fail"
Hello, I have an error that I first reported as a newman issue here https://github.com/postmanlabs/newman/issues/729

Given the following request...
![image](https://cloud.githubusercontent.com/assets/459464/19848323/15f4045e-9f4d-11e6-9610-dd2dd3d96f2d.png)

When postman saves that request in v2 format, it does not store the information that the header is disabled

[code]

This makes `newman run

[2016-10-31 08:46] sdnts commented on #2441
@zhangman1212 I noticed an error in your test script. The path to `id` field in your case is actually `data.data.id` (Since you're storing the entire response in a variable called `data`). If you change your test script to
`postman.setGlobalVariable("id", data.data.id);`, it should work fine.
Feel free to reopen this if it doesn't :)