[2020-02-03 19:33] JP-from-Postman opened #7985 "Add Sandbox support for writing to local file"
**Is your feature request related to a problem? Please describe.**
Currently, writing to a local file as part of a Collection run involves using a node server and newman, or a newman with a reporter/custom reporter. This is a high entry bar for inexperienced users.

**Describe the solution you'd like**
Sandbox API method(s) for writing to local storage. This would allow a Test script to (e.g.) wri

[2020-02-03 22:05] carolin-postman opened #7986 "Include usage metrics in a Reporting view"
**Is your feature request related to a problem? Please describe.**
More of an idea than a problem

**Describe the solution you'd like**
As an admin, I'd like to be able to view usage stats of my team to identify users who have been in/active over a certain period of time (ex. 3/6/9/ months.) in a dashboard.

**Describe alternatives you've considered**
n/a

**Additional context**

[2020-02-03 22:24] Vizionz commented on #5695
Any update on @dmenne's issue? I'm also interested to a solution.

[2020-02-03 22:35] vdespa opened #7987 "JSON syntax validator in body editor does not recognize invalid data type"
**Describe the bug**
When creating a request with a JSON payload, the editor for JSON deems as valid a data type that is not valid.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a POST request, with the RAW body and TYPE JSON
2. Paste
[code]
3. See that the validator does not indicate any errors

**Expected behavior**
The JSON validator should kick in and notice that 007 is not vali

[2020-02-03 23:05] vdespa commented on #7848
I have reported this back in December. I can't reproduce this anymore in Version 7.16.0.

[2020-02-03 23:51] johnny-solargard commented on #283
FWIW, I ran into this same issue and found if you add oauth_verifier as a query string it worked.  I haven't tried oauth_callback, but I presume it would work as well.  I'm using Postman 7.17.0

**I found inspiration here:**  https://wordpress.stackexchange.com/questions/213006/how-to-use-oauth-authentication-with-rest-api-via-curl-commands/239873#239873

Hope this helps someone!

[2020-02-04 00:16] j9d commented on #7969
It actually supports BREW/POST, GET, PROPFIND and WHEN. Either way, this ticket is about the name of the response, which is clearly incorrect.

[2020-02-04 07:35] MuhammadimYusoff commented on #4222
@callmeaatrey It is not fixed on Mac release. This below is the screenshot:-

1) I setup it i n my Collection Section:
<img width="636" alt="Screenshot 2020-02-04 at 3 27 58 PM" src="https://user-images.githubusercontent.com/43903543/73723296-ab548980-4763-11ea-9b31-79bf86914345.png">

2) I tested it on my GET request but "Unresolved Variable":
<img width="416" alt="Screenshot 2020-02-04 at 3 31 0

[2020-02-04 07:52] MuhammadimYusoff commented on #4105
I have the same problem and this is year 2020 guys, this issue not fixed on macOS release v7.

Below is my version screenshot if you wanted:-
<img width="720" alt="Screenshot 2020-02-04 at 3 28 38 PM" src="https://user-images.githubusercontent.com/43903543/73723898-194d8080-4765-11ea-989f-fb11fe26e85c.png">

My problem goes back beyond 2018 it seems because someone appoint me the issue to this tre

[2020-02-04 07:55] thefoodiecoder commented on #4785
We are waiting for this feature desperately. We have too many collections now, one per product group and we are working on moving them to different workspaces to declutter. This has become a tedious work for now.

Also, moving environments should be seamless too. It will help us reorganizing which actually happens often in new companies.

[2020-02-04 08:56] SebastianJust commented on #7763
Is there any solution for this issue? I suddenly came up again.

[2020-02-04 10:25] SebastianJust commented on #7763
Found solution in my case: It's because of net core 2.1. I upgraded to: 3.0, and here it works:

https://docs.microsoft.com/en-us/aspnet/core/migration/22-to-30?view=aspnetcore-3.1&tabs=visual-studio
https://stackoverflow.com/questions/59310431/what-could-cause-a-correlation-cookie-to-not-be-returned-on-specific-devices

[2020-02-04 12:46] vikiCoder commented on #7763
Thanks @SebastianJust for the links you provided. Looking at the links, the issue seems to be related to https://github.com/postmanlabs/postman-app-support/issues/7592

[2020-02-04 13:42] dcalliste commented on #7859
hello @Raja-Simha, I would like to know if you have any update to share on this issue? Thank you

[2020-02-04 14:44] jadamita commented on #7963
![screenshot](https://user-images.githubusercontent.com/12914665/73754690-c1962180-4732-11ea-9a29-3ffb95781ef6.PNG)
The window blocks the value every time you click on it, can this be a toggle? or have it open at a different location based on the value input box size?

[2020-02-04 15:07] jasper-d commented on #2934
Any update on this? Adding audience to the URL indeed doesn't work for grant type client_credentials.

[2020-02-04 16:08] Cazaimi commented on #7979
@ypolishetty, at this point, the latest version of a collection is labelled `CURRENT`, which is static.

However, in order to achieve what you've requested (I've also attached a video below 😉 ), you can create a new version tag with your desired name (Current - SP7) and tag the latest change to your collection as that version. You can then go ahead and publish this version.

[Link to video](https:

[2020-02-04 16:10] Cazaimi commented on #7859
@dcalliste, we have identified the cause behind this issue. We're working on the fix and plan on getting it out in the next two weeks. Stay tuned to this thread for updates. :)

[2020-02-04 16:13] Cazaimi commented on #7711
Related to https://github.com/postmanlabs/postman-app-support/issues/7859

[2020-02-04 16:40] ypolishetty commented on #7979
Thanks for the video Cazaimi. I've already tried that, but the problem is the newly created "Current - SP7" version always displays at the end. So, when people visit the landing page, it always displays the old version and they'd have to manually change it to "Current - SP7". Is there anyway to change the order of the versions so my version is always shown first in the landing page?

[2020-02-04 16:42] #7559 closed, assigned to abhijitkane

[2020-02-04 16:48] sankalp0o commented on #7473
@jehrlich Schema Integration with GitHub is now available in the Postman app. Do give it a try and let us know how we can improve it.

[2020-02-04 16:48] deanjott commented on #7946
I have this same issue.  Here is some specific info related to what I am seeing:  After I had about 30 old tokens in my list,  I started deleting them then get the popup "Something went wrong"  Now if I try to delete tokens maybe I can delete one of them before I get the error or sometimes I get the message right away.  It seems random as to when it starts.
Postman version: v7.17.0
OS version: Win

[2020-02-04 16:52] Cazaimi commented on #7979
If I understand correctly, you want the order of the versions displayed as latest first. If that's the case, then this becomes a feature request and we will take it up in a future iteration.

@Raja-Simha , please mark this ticket as a feature request.

[2020-02-04 16:53] sankalp0o commented on #7473
Looking back at your comments where you said

We recently released the ability to "validate" requests and collections against the OAS spec. While this is not exactly a test, this would inform you that your requests/responses etc do not match the prescribed values in the spec.

Do you think this is useful for you?

[2020-02-04 17:00] ypolishetty commented on #7979
This is already tagged with feature. Is that enough?

[2020-02-04 17:04] ypolishetty commented on #3747
Any update on this? Our collection is getting bigger and we badly need this search feature.

[2020-02-04 17:07] ypolishetty commented on #5460
Any update on this?

[2020-02-04 17:18] jehrlich commented on #7473
Thanks, Sankalp. I have been away from Postman for a bit and will take a look.

The issue for me is that what I think we are calling “contract tests” ideally should be specified in the same place as the API, which for me is an OAS3 document. It looks like Postman could be a solution, and I think SmartBear is also trying to develop something.

Ther are still some missing bits, so at present my cont

[2020-02-04 17:28] garrucho commented on #7895
It's really sad that the code generator, since their big update, changed to use `--data-raw`, and so we couldn't import these cURL anymore in a while.

[2020-02-04 17:53] dcp65 commented on #7844
Same issue

OS: Mac Mojave
CPU: 2.8 GHz Intel Core i7
Memory: 16GB
Postman: 7.17.0

[2020-02-04 18:07] kesamlats opened #7988 "GitHub integration removal missing for FREE version"
**Is your feature request related to a problem? Please describe.**
Not able to remove integration. Removed api version binding but seems the integration is still there as I tried to create integration to different repo for the same API and it is failing on the integration being still "in database". I was not able to follow the PRO guideline as Configure Integration tab is empty.

**Describe the so

[2020-02-04 18:16] leobrines commented on #3418
You are using "pm.globals" to get URL.Make sure to set "BASE_URL" in the "Global Environment Variables" section in postman.

If you have "BASE_URL" in environment variables, you must use `pm.environment.get("BASE_URL")`

[2020-02-04 18:17] leobrines commented on #3418
You are using "pm.globals" to get url. Make sure to set "BASE_URL" in the "Globals" section in postman.

If you have "BASE_URL" in environment variables, you must use pm.environment.get("BASE_URL")

[2020-02-04 18:51] cre8value commented on #6251
Still seeing this issue in Feb 2020, FYI.

[2020-02-04 19:10] nachozullo commented on #2724
+ 1, I need it

[2020-02-04 19:53] asponda commented on #2302
+1 for JIRA API

[2020-02-04 19:59] cre8value commented on #6397
Getting the same errors as described above, sent an email to help@getpostman.com with links and screenshots, hoping for a resolution without having to lose the change history on my original Collection.

[2020-02-04 20:05] JP-from-Postman opened #7989 "User feedback: utilizing insecure passwords"
**Is your feature request related to a problem? Please describe.**
User shared feedback that they shouldn't be required to utilize a secure password for our services, contending that while we can advise, we shouldn't enforce this as a hard requirement.

**Describe the solution you'd like**
For consideration: allowing users to opt out of secure passwords.

[2020-02-04 20:50] ziedjebali commented on #6001
Same thing happened to me and this worked as a fix

[2020-02-04 20:57] bberliner commented on #7551
Seeing this exact same problem with Postman 7.17.0. Very frustrating. Used to work perfectly. My OAuth Server will do a 302 Redirect to complete the /authorize flow to:

[code]

That returns another redirect 301 to:

[code]

which redirects with a 301 to a different place:

[code]

which finally resolves with an echo of all the headers and a status 200, which does not allow Postman to finalize the

[2020-02-04 22:00] JP-from-Postman opened #7990 "{{$randomZipCode}} is not resolving"
**Describe the bug**
The dynamic variable $randomZipCode is not resolving, and is being sent in requests as the string: `{{$randomZipCode}}`

**To Reproduce**
Steps to reproduce the behavior:
1. Enter {{$randomZipCode}} into a request (body or query param)
2. Send request
3. Check Postman Console to see that the variable is not resolving

**Expected behavior**
{{$randomZipCode}} resolves to a rand

[2020-02-04 22:31] jwbanning opened #7991 "Documentation to 200 Response to the Postman 'API Key Owner' endpoint out of sync with collection available from the 'Run in Postman' button"
From this webpage: https://docs.api.getpostman.com/?version=latest#906a4a52-82f7-e494-d39f-a7344a9097e0

The documentation for a 200-Example response for the  "https://api.getpostman.com/me"  endpoint shows:

<img width="490" alt="Screen Shot 2020-02-04 at 2 09 42 PM" src="https://user-images.githubusercontent.com/2584258/73792686-aab6f580-4759-11ea-80f6-8de718e087d2.png">

But if you hit the "Run

[2020-02-04 22:35] bberliner opened #7992 "Console remains empty after after OAuth 2 Redirect when using Get New Access Token button"
Issue #7551 was closed as fixed, but it is not fixed, and the note in that issue says to open up a new Issue if the problem is still happening. It is, so that is why I opened this issue.

I'm seeing this exact same problem reported in Issue #7551 with Postman 7.17.0. Very frustrating. Used to work perfectly.

As background, my OAuth client has a registered Redirect URL of `https://www.getpostman.c

[2020-02-04 22:46] zeesattarny commented on #5040
Is there any update on this? I am currently facing this issue and wanted to know if there is any work around to deal with streams in Postman response.

[2020-02-04 23:17] jwbanning commented on #7991
Also saw that within the Operation array, the "monitor request run" limits is portrayed as a string:

` {
            "name": "monitor_request_runs",
            "limit": "100000",
            "usage": 1746,
            "overage": 0
        },`

[2020-02-05 00:13] natemadel opened #7993 "Issues with resolving variables in CSV runner"
There is an issue with CSV runner wherein it seems to be only resolving 1 variable of the 2 variables I am using in my request body from the csv. I've verified column headers match the variable names exactly. I am on version  v7.17.0

**To Reproduce**
Steps to reproduce the behavior:
1. Create a simple post request inside a collection
2. Use 2 variables in the POST body (mine are id_lp and id_user

[2020-02-05 01:57] Doukuest commented on #2701
+1

[2020-02-05 02:43] kevin-postman commented on #7690
@Nia-STN was the JSON that was formatted originally displayed, and then you scrolled down and are seeing un-formatted JSON? Or as is seen in the image you attached, does it actually return as a response where part of it is formatted and the bottom part is not?

Is there any chance you could send us or attach the JSON response as shown in the image so we can look at it further?

[2020-02-05 04:34] imtrobin commented on #7294
I'm on 7.17.0 and its still taking up alot of CPU

[2020-02-05 05:35] vinitshahdeo commented on #7294
@imtrobin Could you please provide us the following info to investigate this issue further:

- Screenshots of task manager displaying CPU/Memory usage by Postman App with single and multiple windows open (also no. of Postman windows open)

- Screenshot of CMD after running the below command:

`REG QUERY HKCU\Software\Google\Chrome\NativeMessagingHosts\com.postman.postmanapp`

- **App logs**: The l

[2020-02-05 06:48] adikhel opened #7994 "Postman slows down the PC"
**Describe the bug**
When I open Postman app, my pc slows down to a crawl

**To Reproduce**
Steps to reproduce the behavior:
1. Open Postman app

**Expected behavior**
I expect postman to not slow down my PC

**App information (please complete the following information):**
 - App Type Windows EXE
 - Postman Version: 7.14.0
 - OS: Windows 10
 - RAM: 20GB

[2020-02-05 08:32] ankurdengla commented on #7963
Hey @jadamita !
Thanks for sharing the screenshot of the issue. From what I can see, the issue is that the dropdown is blocking the actual content of the cell. You can disable this from `Settings -> Variable Autocomplete`.

![Screenshot 2020-02-05 at 2 00 40 PM](https://user-images.githubusercontent.com/26045713/73824395-1a8fb380-4820-11ea-8e9f-61742eb7f0e7.png)

[2020-02-05 09:00] ritwijsinha commented on #7936
Duplicate of #7685

[2020-02-05 09:00] #7936 closed, assigned to ritwijsinha

[2020-02-05 09:03] cassiomolin commented on #6242
We surely have been tuned and haven't received any updates so far. Is there at least an ETA for this?

[2020-02-05 09:08] coditva commented on #7990
Hey, this variable is not supported. The supported dynamic variables are in this list: https://learning.getpostman.com/docs/postman/scripts/postman-sandbox-api-reference/#dynamic-variables

Ref: https://github.com/postmanlabs/postman-docs/issues/2054

[2020-02-05 09:26] yanpanpan commented on #2801
@a85 Is there any further progress?

[2020-02-05 09:38] jak-kal commented on #3707
I experienced a similar issue today but entering full screen and then minimising made the window collapse into a very, very tiny slither. Really not sure what is responsible for that. I also use a 2nd monitor.

[2020-02-05 10:12] kamalaknn commented on #7994
Hey @adikhel

Could you send us the logs so we can take a closer look at what's going on here? You can find the logs by following the `View -> Developer -> View logs in Finder` menu option.

[2020-02-05 11:21] Simon0362 commented on #7685
Another "any updates?"

[2020-02-05 11:48] milititskiy commented on #7949
@mccannt UPD: updated to a Latest Postman version and it is still has this issue. Any luck on taming it up? Need any information on the collection that I am using? Its just really frusrating.

[2020-02-05 12:18] mccannt commented on #7949
@milititskiy Thanks for the update on this. I understand that this is a frustrating issue for you.
We now have all the necessary information we need to replicate this and will be triaging this to understand the cause and a fix for it shortly.

I can not give a version or date that this will be fixed by until we discover the root cause. We will keep you updated.

[2020-02-05 12:20] milititskiy commented on #7949
Thanks for your quick response! And thank you for keeping work on on it! Will be waiting for the reply and will be happy to provide more information on this issue.

[2020-02-05 13:17] paunovic opened #7996 "Cannot generate mock server from OpenAPI 3.0 schema"
Hello everyone, I have following OpenAPI 3.0 schema from which I want to create mock server:

[code]

From what I understand, when I generate mock server via Postman out of this schema, it should be able to accept `/api/class/<classId>` path where `classId` is arbitrary value. However, this is not the case, once generated, mock server works ONLY with following path:

https://7a4e3286-2c6a-45c7-9fb

[2020-02-05 13:46] marchy commented on #7373
This is badly needed. Templates without any presentation logic in them are of very limited use – literally just display same values as in the JSON response.

Presumably you are using the Visualize feature because you want to make things HUMAN-readble – which means formatting, arithmetic (ie: display a number as a % of total results), sometimes conditional logic etc.

[2020-02-05 13:53] jeevananthank commented on #7977
@sarangjaiswal i think i have found a workaround to solve this temporarily.
Refer the post in stackoverflow for details. [https://stackoverflow.com/questions/60001892/pm-cookies-jar-could-not-find-cookies-with-secure-true/60077320](url)

[2020-02-05 14:07] danieladougan commented on #7968
This has somehow healed itself. I'm not sure how or why, but I'll take it.

[2020-02-05 15:54] kuige commented on #3438
It's 2020 now, this feature is still not available!

[2020-02-05 16:08] Faz540 opened #7997 "Collection Runner - Request titles overlap each other if they are collapsed and re-ran"
Here's a video, take a look at the first and second request titles when they are re-ran:
https://www.loom.com/share/379615fab5c14f6b90e3b4ccd9893f7d

**To Reproduce**
Steps to reproduce the behaviour:
1. Create a collection that contains 2 requests
2. Make sure the first collection contains no tests
3. Run the collection via the Collection Runner
4. Upon completion, collapse the first request
5. C

[2020-02-05 16:25] adamblum opened #7998 "fails to import this SDL"
**Describe the bug**
attempting to import this bug generates error: "expected 'r' instead of 'y'"

**To Reproduce**
- create New API
- Import File
Use attached file
**Expected behavior**
Imports schema

[2020-02-05 16:26] adamblum commented on #7998
won't let me attach the SDL file. so here it is inline:

type AuthPayload {
  id: Int!
  email: String!
  roles: String!
}

type Doc {
  id: Int!
  title: String!
  org: Org
  uri: String!
  identifier: String!
  officialUri: String!
  creator: String!
  publisher: String!
  version: String!
  description: String!
  language: String!
  adoptionStatus: String!
  frameworktype: FrameworkType
  note:

[2020-02-05 17:46] blakebuthod commented on #4785
Needing this feature as well. Any updates? @numaanashraf

[2020-02-05 18:41] halfzebra opened #7999 "Better support for retries"
Hello friends!
Thank you for maintaining Postman!

My team uses it daily and so far the experience was good!

**Is your feature request related to a problem? Please describe.**

I have a collection, which includes independent 75 requests to the API with 230 tests.
Sometimes requests fail due to network issues or underlying services not being fast enough.

While it is possible to set up a retry in

[2020-02-05 18:46] sankalp0o commented on #4785
@blakebuthod We have this planned in our short-mid term roadmap. Please stay tuned, I'll update soon.

[2020-02-05 18:59] ikotlyarsky commented on #7462
Same her . Especially for enterprise licence

[2020-02-05 19:09] allyn-psyonix opened #8000 "Cannot search subfolders in Collection Runner"
**Describe the bug**
In the Collection Runner, when choosing a folder to run, I used to be able to search for the name of a subfolder one or two levels deep in a collection. Now I seem to only be able to search for top-level folders. This is very inconvenient and removes a lot of the value of the search feature.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Collection Runner
2. Enter

[2020-02-05 20:49] aengusbates opened #8001 "Variable's Current Value syncing to Initial value"
**Describe the bug**
Postman is currently always syncing a variable's Current Value back to Initial Value on each request where any variable is updated when a test is run.

This is a problem because Postman includes Initial Value when exporting a collection, but not Current Value. Postman also syncs Initial Value to the cloud, but not Current Value.

**To Reproduce**
Steps to reproduce the behavio

[2020-02-05 20:57] aengusbates commented on #8001
[Leaking Variables Test.postman_collection.json.zip](https://github.com/postmanlabs/postman-app-support/files/4162022/Leaking.Variables.Test.postman_collection.json.zip)

[2020-02-05 21:20] matt-ball commented on #8001
This is intended behavior - setting "Automatically persist variable values" to "Off" in the general preferences will prevent the syncing between the two values.

Being able to control this setting at a team level is a feature request I'd pull from this context.

[2020-02-05 21:52] arlemi commented on #6624
This was fixed in 7.17.0.

[2020-02-05 21:52] #6624 closed, assigned to nobody

[2020-02-05 21:53] allyn-psyonix commented on #4296
This has been a constant issue and was particularly frustrating when trying to debug an issue that was only appearing in a CI environment today. It's been broken for quite a while (issue has been open for a year and a half). Is there any update on this?

The error I received today was slightly different than those shown above:

[2020-02-05 21:53] arlemi commented on #5230
Fixed in 7.17.0

[2020-02-05 21:53] #5230 closed, assigned to shamasis, vkaegis

[2020-02-05 22:02] arlemi commented on #6206
Fixed in 7.16.0 - console displays a warning message about headers not being logged when the request fails.

<img width="727" alt="Screenshot 2020-02-05 at 22 01 17" src="https://user-images.githubusercontent.com/5029719/73887249-1638ba00-4863-11ea-944c-7aa1a498de51.png">

[2020-02-05 22:02] #6206 closed, assigned to saswatds

[2020-02-05 22:08] arlemi commented on #5699
Fixed in 7.16.0.

[2020-02-05 22:08] #5699 closed, assigned to ritwijsinha

[2020-02-05 22:09] arlemi commented on #7272
This was fixed in 7.16.0 :)

[2020-02-05 22:09] #7272 closed, assigned to ritwijsinha

[2020-02-05 22:10] natemadel commented on #7993
Update.. this only happens with column A of the csv. Shifting all your values over 1 column (and leaving column A blank) fixes it. I assume Postman has an error with their column index numbering

[2020-02-05 22:13] arlemi commented on #5912
@trajano We've added support for filename* in form data as per RFC 6266 in 7.16.0, please let us know if you're still having problems!

[2020-02-05 22:13] #5912 closed, assigned to codenirvana

[2020-02-05 22:15] arlemi commented on #3742
This was fixed in 7.16.0, please let us know if you're facing the same issue.

[2020-02-05 22:15] #3742 closed, assigned to codenirvana

[2020-02-05 22:17] arlemi commented on #4091
This was fixed in the app from 7.16.0, please update and let us know if you're still having problems!

[2020-02-05 22:17] #4091 closed, assigned to shamasis, codenirvana

[2020-02-05 22:20] arlemi commented on #6153
@vinitshahdeo This was fixed in 7.15.0, let us know if you're still experiencing unresponsiveness when adding cookies in bulk.

[2020-02-05 22:20] #6153 closed, assigned to vikiCoder, ritwijsinha

[2020-02-05 22:22] arlemi commented on #6035
This was fixed in 7.12.0 (released on the 20th of November 2019), closing the issue.

[2020-02-05 22:22] #6035 closed, assigned to nobody

[2020-02-05 22:24] arlemi commented on #6449
Fixed in 7.10.0.

[2020-02-05 22:24] #6449 closed, assigned to nobody

[2020-02-05 22:35] salimhamed commented on #2270
This feature would be super helpful for our team!

[2020-02-05 22:38] aengusbates commented on #8001
Thanks Matt,

Defaulting this setting to off seems like the most intuitive and most secure behaviour.  I see a comment on #6852 mentioning that that's already the plan.

Closing ticket.

[2020-02-05 22:38] #8001 closed, assigned to nobody

[2020-02-05 23:05] Raja-Simha commented on #7924
@OlgaUtochka Could you explain what you mean by end of documentation? Do you have a really long collection description? You could also share your documentation if it has been published.

[2020-02-05 23:16] harshitgupta commented on #3137
It's 2020. come on guys!!!

[2020-02-05 23:53] ShankMahadev commented on #7974
Hi @ArjunSingh-PM,
Could you please escalate this issue?
It is breaking our automated builds, and affects our ability to successfully do deployments. Its a high priority issue for us and we need a resolution to this problem as soon as possible. We have been using Postman for a while now and a swift resolution to the issue is a need.
Regards,
Shank

[2020-02-06 03:09] gblikas commented on #6354
@gduh So, solved it for the server I was trying to contact. You are correct, the intermediary certificates need to be in place.

###### Notes
Sites like https://www.namecheap.com/, often send the `.crt` files and the intermediaries separate. You should append all of  them together, and re-deploy your server, in order to correct this problem.

In general, I think the error returned by PostMan, `Err

[2020-02-06 04:10] shivam-postman commented on #7509
Hi @moose1882, are you still facing the issue?

[2020-02-06 04:43] shivam-postman commented on #7974
Hi @ShankMahadev, we're looking into the issue and will get back soon.

[2020-02-06 05:36] ashokpant commented on #3137
Guys, everybody around the globe needs this. Even I got a call from Mars!
Please add this feature :)

[2020-02-06 06:43] shivam-postman commented on #7974
@bruce-palmer It looks like you were a part of some team earlier (before 03/02/2020) and when you were no longer in it, the empty monitor list started showing up in the response. The list you're seeing now, is of your personal monitors. As for the individual monitor, it belongs to the team, most likely, hence can't be accessed outside it. Do let me know if any part of this doesn't seem right.

@Sh

[2020-02-06 07:33] ObaidShahid commented on #3418
Above solution was not working as i was accessing global variable in collection scope. Then defined variable in collection and able to access it in then using
`pm.request.url = pm.variables.get("BASE_URL") + pm.request.url;`

[2020-02-06 08:44] ankit-m commented on #7773
Closing due to inactivity.

[2020-02-06 08:44] #7773 closed, assigned to nobody

[2020-02-06 08:46] ankit-m commented on #7892
We are aware of changelog not loading in certain scenarios. The fix requires changes in data models and is tracked on our internal roadmap. Will update this issue when it is fixed.

[2020-02-06 09:11] Spielboerg commented on #7951
I have the same problem, and it's really annoying because the user interface hangs for ~1-2 minutes (the time it takes to synchronize) before it becomes usable. Also, the synchronization process seems really slow to me. I thought it would take so long because all workspaces (5) are synchronized at once, but only the current workspace is synchronized. It contains 17 collections with ~240 requests.

[2020-02-06 09:12] mastolo commented on #3472
+1 same problem with specific port

[2020-02-06 09:16] Cazaimi commented on #7866
@Ramya-From-Postman, as of now, we don't have a mechanism to ascertain all the parts of the request might be sensitive. For example, some users might choose to send an access token as a query param and might hard code that. Hence, I suggest that the user store this information as an environment variable and expose that in the request ([check this page for reference](https://learning.postman.com/do

[2020-02-06 09:21] utezduyar opened #8002 "Postman acts weird with http 301 and doesn't have the correct "uri" in the "Authorization" header"
**Describe the bug**
I am experimenting. I am redirecting a URI to another one in the same host with HTTP 301. It is param.cgi -> param-old.cgi. Authorization is digest. Host is apache.

1) Postman -> Host : param.cgi
2) Host - > Postman: HTTP 301 (new URI param-old.cgi)
3) Postman -> Host: param-old.cgi
4) Host -> Postman: 401 (Here are the digest fields)
5) Postman -> Host: param.cgi (with the d

[2020-02-06 09:30] belaarany commented on #3472
Why is this thread closed?? This issue still exists!

[2020-02-06 09:30] ankit-m commented on #7951
We are aware of UI issues when large workspaces or workspaces with high activity are being synced. There are multiple things involved and we will gradually roll out changes to improve the UX around this. I will keep you posted.

[2020-02-06 09:32] Spielboerg commented on #7951
Nice to hear that and thank you for the quick response 👍

[2020-02-06 09:52] anandSug commented on #7055
the `i` threw an error for me

pkill -f Postman
This worked.
UBUNTU 16.04

[2020-02-06 10:53] MichalTaratuta opened #8003 "v7.18.0-canary01 not opening new tabs automatically"
**Describe the bug**
It seems that canary version does not open new tabs automatically when clicking on a saved request from a collection. Postman used to automatically open new tab whenever I would click on different saved request in collections.

**To Reproduce**
Steps to reproduce the behavior:

0.  Start Postman with 0 tabs
1. Go to a collection and click on any saved request.
2. Click on anot

[2020-02-06 11:13] scarbo87 commented on #4009
Any news?

[2020-02-06 11:47] cyrielle-hada commented on #7993
@natemadel your file might contain UTF-8 with Byte order mark characters which would explain the issue you're seeing.

Data-files with BOM characters or encoding other than UTF-8 are not working at the moment - Engineering has already fixed the issue on our Canary build - https://www.postman.com/downloads/canary. It should be pushed to production soon.

[2020-02-06 11:53] appurva21 commented on #8003
Hey @MichalTaratuta,
The behavior which you are looking for can be enabled by the following steps:
1. Go to App Settings
![image](https://user-images.githubusercontent.com/24985700/73934453-7fbcd500-4904-11ea-992d-6e00d82dcb26.png)
2. Under `General` tab, look for a setting named `Always open requests in new tab` and enable that setting.
![image](https://user-images.githubusercontent.com/24985700/

[2020-02-06 13:11] MichalTaratuta commented on #8003
@appurva21 Thanks, I was not aware of this setting

[2020-02-06 13:11] #8003 closed, assigned to nobody

[2020-02-06 14:00] Redsandro commented on #7393
Installed Postman 7.17.0 in 2020, 7 months after Picasso APU was launched, 5 months after bug reported.

Clicked on help -> computer frozen.  :rage:
Apparently, Postman still uses Electron 3. :angry: Otherwise it wouldn't crash Picasso machines.

---

@numaanashraf @codenirvana @abhijitkane @SueSmith @coditva Please read this as if you can hear slight despair and genuine disbelief in my voice:

Wh

[2020-02-06 14:16] erikbaan commented on #7393
@Redsandro does this issue occur on OSX as well?

[2020-02-06 14:18] umnagendra opened #8004 "Failure to make API requests due to (accidental) trailing newlines in header values"
**Describe the bug**
If there is a trailing newline character at the end of a request header value, postman fails to even initiate the API request.

Users see a **"Could not get any response"** error with no indication that there is a problem with a request header value.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a new request
2. Add a request header (say `Authorization`) whose v

[2020-02-06 15:30] ziadloo commented on #7294
I'm using Postman v7.17.0 and I'm having problems with the performance as well. I'm using Postman in a Windows 10 and in Kubuntu 18.04 and both of them are facing the same performance issue. This is so serious that I cannot do anything with Postman any more. Each click will take easily a few minutes to get a response from the app.

I'll email you the requested info.

[2020-02-06 15:50] ash007-postman commented on #7294
@vinitshahdeo The logs from mehranziadloo@gmail.com can be found at ticket 45453.

[2020-02-06 16:59] jolsen71 opened #8005 "RAML folder import returning "unable to find file" error for !include but file exists at referenced location"
**Describe the bug**
When attempting to import a RAML folder, I am getting an error that it cannot find an !include file, even though it appears the path to the file is correct. I am not sure if it is a Linux vs. Windows path delimiter issue that Postman is not properly handling on the Windows client or something else.

Steps to reproduce the behavior:
1. Click "Import" button at top of Postman wi

[2020-02-06 17:16] HenrikHolmIT opened #8006 "Show a bread crums path to current open request"
Projects grow large and sometimes you can loose overview.

We have large Collections with many Requests and sometimes we open multiple Requests from different Collections.

Please add a bread crumb path somewhere in a request so its easier to know where it actually belongs.

[2020-02-06 18:24] ttop commented on #7397
Postman used to use the examples that were defined with the OpenAPI request schema, my team started seeing them _not_ appear correctly in 7.14.0 (7.13.0 worked as expected).

[2020-02-06 18:29] #7866 closed, assigned to godfrzero, Raja-Simha

[2020-02-06 18:44] stokescomp commented on #3466
And if there is an auto save. Lets have an option to turn auto saving off encase I am making changes that I don't want to save. And when I am ready to save I will use save all menu or shortcut.

[2020-02-06 18:57] Raja-Simha commented on #7890
@loicginoux We are aware of the limitation around describing parameters. Unfortunately, the solution you have has a bug #7859 . We are actively working on fixing the bug. That should unblock you.

[2020-02-06 18:57] mandaputtra opened #8007 "Import cURL with x-www-form-urlencoded"
**Is your feature request related to a problem? Please describe.**
I had a problem importing form cURL, when you had your form data as `x-form-url-encoded` why it can't parse the Form Data?

This following cURL can't be importedinto postman, it parse the header but not the body.

[code]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

I want postma

[2020-02-06 19:04] Raja-Simha commented on #7869
Duplicate of #4244

[2020-02-06 19:04] #7869 closed, assigned to vkaegis, Raja-Simha

[2020-02-06 19:20] Raja-Simha commented on #7885
Here are a couple of examples I found.
![image](https://user-images.githubusercontent.com/45988836/73970636-55522400-48d2-11ea-9ccf-ebd1d0bb8d0e.png)

![image](https://user-images.githubusercontent.com/45988836/73970702-7155c580-48d2-11ea-97d3-a77bef873514.png)

Feel free to share your thoughts around these and let us know if this helps.

[2020-02-06 20:04] akaczinski opened #8008 "Importing a OpenApi 3.0 JSON with a multipart request inside via the Import External API Spec API does not generate a valid Postman collection schema."
**Describe the bug**
After I import an OpenApi 3.0 JSON spec which contains a multipart request via the /import/openapi endpoint, and then export it out to the Postman Collection 2.1.0 JSON schema, the request's body in the export I receive looks like this:
`"body": {"mode": "formdata","formdata": [{"key": "file","value": "<binary>"}]`

If I attempt to re-import the file into Postman directly from

[2020-02-06 20:13] Raja-Simha commented on #7833
@zman81988 If I understand you correctly, this is how your workflow looks like:
1. Generate/update swagger spec from source code
2. Import Swagger spec into Postman and create a collection/documentation
3. Publish the documentation with Run in Postman
and you would like to automate this?

[2020-02-06 20:21] xk0der commented on #7990
@coditva Thanks for looking into this, one of our users prompted the creation of this issue.
Though initially filed as a bug, may I request if this be treated a feature request instead to implement some of the missing dynamic variables:
- $randomZipCode
- $randomSecondaryAddress
- $randomState

I had shared them on how these may be implemented within pre-request script and they are already aware o

[2020-02-06 20:54] zman81988 commented on #7833
Hey @Raja-Simha, Yup, that's exactly right.  I see two ways this could work for us. One is to have a static collection Id and input that into the standard embed code you provide and use the Postman API to update that collection whenever the swagger spec is updated. This would be something like a github action to talk between the generated spec and the Postman API.

The other avenue I see is genera

[2020-02-06 20:55] Alamei commented on #2427
I'm experiences the same behavior on 7.17.0 (Win10 x64). Should this issue be re-opened, or should a new issue be created?

[2020-02-06 22:25] bruce-palmer commented on #7974
@shivam-postman This morning I generated a new API key. The new key was longer than the old key I was using.

With the new key our automated test running is working again.

The new key is the only change I've made. I still don't understand why this problem occurred.

I consider the issue now fixed.

[2020-02-06 22:25] #7974 closed, assigned to godfrzero, charlie-postman

[2020-02-07 02:52] jcald1 commented on #6355
The workaround to collapse is nice, but we would really like an Expand All option as well.

[2020-02-07 03:12] tsheaff opened #8009 "I cannot purchase monthly, the button is greyed out"
**Describe the bug**
When I try to add a seat, only the Annual button is clickable

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://calmdotcom.postman.co/billing/plans/change

**Expected behavior**
I can purchase monthly

**Screenshots**
![image](https://user-images.githubusercontent.com/1238684/73997856-9d923600-4914-11ea-87cb-ffd3b6d2793c.png)
![image](https://user-images.gith

[2020-02-07 04:06] imtrobin commented on #7294
I sent via email and issue resolved with canary build

[2020-02-07 05:05] ritwijsinha commented on #8004
Duplicate of #4339

[2020-02-07 05:05] #8004 closed, assigned to ritwijsinha

[2020-02-07 06:04] appurva21 commented on #7997
Hi @Faz540, thanks for reporting the issue.
We're able to reproduce this on our end and are fixing this ASAP.

[2020-02-07 08:02] HenrikHolmIT commented on #8006
For clarity here is a wiki that explains what bread crumbs are: https://en.wikipedia.org/wiki/Breadcrumb_navigation

How this could be implemented could be to segregate the Request Name control.
In our example we have connections like API v1 and API v2. Under those there are folders and then Requests. Sp bread crumbing would look something like this

 API v1 > Foldername > RequestName

Clicking it

[2020-02-07 08:20] jeevananthank opened #8010 "pm.cookies to set a cookie with hostOnly=false"
**Is your feature request related to a problem? Please describe.**
pm.cookies.jar() and set method always set a cookie with hostOnly:true even if the cookie is set under a domain.

 var domain = ".postman.com";
 cookieJar.set(domain,{name:"test", value:"test", httpOnly:true},function(error,cookie){
    console.log(cookie); });
 cookieJar.set(domain,"test1","test1",function(error,cookie){
   consol

[2020-02-07 09:04] OgunsakinDamilola commented on #4957
Hi, I am facing the same issue. "We're having difficulties connecting to our authentication service. Try again after some time".
The error has been up for days now

[2020-02-07 09:15] vkaegis commented on #8006
@HenrikHolmIT Thanks for writing in! Totally understand the need, this is something we've been prototyping internally for a while. No ETA on this just yet, but we'll keep you updated.

[2020-02-07 09:18] richemmanu opened #8011 "Minimize,Maximize and Close Buttons Lack"
Postman has lost maximize,minimize,close buttons on windows 10 latest build.
![Image_Post](https://user-images.githubusercontent.com/16068642/74016722-f8bf3980-49a3-11ea-8591-652174bd12e9.PNG)

[2020-02-07 10:29] HenrikHolmIT opened #8012 "Duplicating a Collection twice will give it existing name"
**Describe the bug**
We have a 'Template' Collection that we use to make new collections from. It has default configuration of Description, Authorization, Pre-request Scripts, Tests and Variables.

If we copy this Collection Twice without renaming it we get 2 Collections named 'Template Copy'

**To Reproduce**
Duplicate a given Collection twice without renaming between duplication.

**Expected beh

[2020-02-07 12:01] dkirrane commented on #6682
related OpenAPI spec issue https://github.com/OAI/OpenAPI-Specification/issues/396

[2020-02-07 13:06] coditva commented on #4355
@omarw What is the domain that you're setting for the request? In `curl` I see that it is `ins`, whereas in the Postman App it seems to be `ins.insurity.net`. Can you verify this?

Thanks.

[2020-02-07 14:01] rbonine commented on #7844
Same here:

OS: Windows Server 2019 DataCenter (running in Azure)
16 GB RAM
CPU: Intel Xeon E5-2673
Postman v7.17.0

Swagger file is 1.46MB.   I get no feedback whatsoever after the import starts.  CPU and memory usage grows steadily and eventually I get a black screen.

[2020-02-07 14:30] vdespa commented on #7848
I recently encountered this issue again.

![ezgif-2-1b78d8e09c9d](https://user-images.githubusercontent.com/1197635/74037454-48920680-498c-11ea-95f7-7e8b06e0f221.gif)

As you can see, the request is not part of a collection. But I did manage to catch an error in the DevTools.

<img width="992" alt="Screenshot 2020-02-07 at 09 27 21" src="https://user-images.githubusercontent.com/1197635/74037497-6

[2020-02-07 14:40] Ansz3z3 opened #8013 "How To Remove CSRFTOKEN FromThe Cookie ?"
I want to call a POST API for 100 users in my collection, but after each user login, csrftoken is added to the cookie with the session, but the POST API fails when the cookie contains a csrftoken.
so how to delete the csrftoken from the cookie while maintaining the session ?

[2020-02-07 14:50] ouzman opened #8014 "Download link forces to download canary version"
**Describe the bug**
`https://dl.pstmn.io/download/version/7.17.0/osx64` URL respond with `PostmanCanary-osx-7.17.0.zip ` (SHA-256 checksum: `33d341cfac7cb184bf6a69cdbf7d7f5a2063b501ac226244644e6b0ed20550e0`)

**To Reproduce**
<details>
<summary>
Expand to see curl output:
</summary>

[code]

[code]
</details>

**Expected behavior**
`https://dl.pstmn.io/download/version/7.17.0/osx64` URL should re

[2020-02-07 15:42] kesamlats commented on #7988
In the meantime: found a "workaroud" by creating a new API. As this issue is related to FREE version you would probably need to delete the existing one (with its change history) as there is limit of max 3 APIs.

[2020-02-07 15:48] Chealer commented on #7272
I confirm that I cannot reproduce in 7.17.

[2020-02-07 16:06] cbetta opened #8015 "Orphaned folder when updating collection via API"
We use Travis CI to automatically listen to changes in our OpenAPI spec, and then generate a new Postman collection using our own generator. We then use the [Update collection API](https://docs.api.getpostman.com/?version=latest#aa3701e8-7f99-b421-7d74-0d571b051f3c) to push this new collection to your servers.

The problem that we repeatedly run into is that this API seems to not completely replac

[2020-02-07 16:10] cbetta opened #8016 "Path parameter as extension not detected"
One of our endpoints is the [Get file thumbnail API](https://developer.box.com/en/reference/get-files-id-thumbnail-id/) which allows a user to specify the thumbnail format in the path as an extension.

![Screenshot 2020-02-07 at 15 43 39](https://user-images.githubusercontent.com/7718/74045180-3633bf00-49c4-11ea-98ed-15c69d642ac9.png)

We recently realised that Postman doesn't actually support a p

[2020-02-07 16:12] cbetta opened #8017 "Allow a script to show a message to a user"
## Background

We added a pre- and post-request script to check if the user's access token has expired. We store the expiry date for an access token in the environment variables and therefore we know when an access token has expired.

We also know when a refresh token has expired (60 days after creation) and yet we currently have no way to inform and instruct our users when the token has expired.

[2020-02-07 16:13] asartem opened #8018 "UI input control for Query params works the wrong way with partial text selection or partial remove"
**Describe the bug**
When I try to select the part of the value\name in QuryParams input control, it stops to select the text and starts to drow a mouse "Select Many" square. Or it can even don't select the text if the focus was not set on this control with an additional click. Or can remove all text instead of a selected part

**To Reproduce**
1. Go to  Request
2. Add some text value, for example

[2020-02-07 16:14] cbetta opened #8019 "Publish collection API"
## Background

We can currently upload a new Postman collection through the API, yet we can't make our entire process automatic as we can't update the shared link for the published collection to point to the latest version of the collection.

## Request

We'd really love to either see the **Update collection** API updated with a way to pass along a param to tell it to also update the published lin

[2020-02-07 16:20] omarw commented on #4355
@coditva Both domains are the same. ins.insurity.net is the fqdn. I tried with both in postman and it fails. Anything else I should check?

[2020-02-07 17:07] owlas commented on #7996
Second. I'm also quite confused about the OpenAPI 3 -> postman collection conversion.

* For path parameters, the `example: my-path-example` gets correctly copied into my postman collection with a `Path Variable` taking my example value
* But for request and response body, the `example: my-response-example` in my OpenAPI spec is ignored and instead I see `"<string>"` in my responses.
* The example

[2020-02-07 18:45] iDiogenes commented on #6614
@arlemi Thanks for this feature, you guys are heading in the right direction. I found what could be a bug, so please let me know how you would like me to proceed.

When using the OAS3 schema to generate a collection the values in the body don't match the example, rather they just say the "type". For example,

[code]

In postman it yields the following in the Body for the request.

[code]

[2020-02-07 20:19] Feda86 commented on #2694
+1 for this

I have JSON like this:
[code]

I want to be able to test if all object properties and nested object properties has same values in request and response.

Nowdays it is possible test only object properties, not nested objects.

i want to use forEach test

[code]

[2020-02-07 21:37] iDiogenes commented on #6614
@arlemi Another apparent bug is validation fails when doing a `GET` to `/`.  The error is `Unable to validate. No matching path found in schema`. If I change the path to be `/1` in the schema and the Postman collection the validation passes.

[2020-02-07 22:56] ljdev1 commented on #6719
@umeshp7 - This is a great step closer, thank you! My feedback below...

You mentioned that we can import from the JSON result of an introspection query, however I could not get this to work. I tried both the "import from file" and the "paste raw text" options on the import screen. Instead of the Success toast, it said an Error occurred. Could you show us an example using the JSON result of an int

[2020-02-07 23:18] Raja-Simha commented on #7770
Duplicate of #5052

[2020-02-07 23:18] #7770 closed, assigned to vkaegis, Raja-Simha

[2020-02-08 00:19] Raja-Simha commented on #7580
Duplicate of #7890

[2020-02-08 00:20] #7580 closed, assigned to vkaegis, Raja-Simha

[2020-02-08 01:12] ColdCerealAtWork opened #8020 "Persist current value for environment across workspaces"
**Is your feature request related to a problem? Please describe.**
I have so many collections that use the same environments that my workspace gets really cluttered.

**Describe the solution you'd like**
I would love the option to persist environments across workspaces so I could have more freedom in how I organize all of my collections.

**Describe alternatives you've considered**
Combining multi

[2020-02-08 01:18] ColdCerealAtWork opened #8021 "Pull requests for team collections"
**Is your feature request related to a problem? Please describe.**
It's very difficult to enforce best practices with our team collections without having pull request that we can review before merging forks in. Often developers newer to postman are too shy to merge stuff in fear that they are going to mess up the collection. This makes it difficult to increase adoption of the team environment.

**

[2020-02-08 01:23] ColdCerealAtWork opened #8022 "Workspace pre request scripts/test"
**Is your feature request related to a problem? Please describe.**
I have code that I use in every collection. I globalize this by writing a the methods in the "pre request scripts" section at the collection level and setting it to an environment variable, but then I have to copy that into each collection, which fragments my code base.

**Describe the solution you'd like**
A workspace scoped pre r

[2020-02-08 18:35] preethammavin commented on #8021
@KristianAtVsp we recently released the feature to start PR flow, you can try it out on our Web dashboard at go.postman.co. We will be releasing the same action on our Apps as well.

Any feedback on the feature would help us make it better.

[2020-02-09 04:45] AL-Liang opened #8023 "macos command+tab workding incorrectly when switch between postman window and other app window"
OS：macos 10.15.2
postman version：Postman for Mac Version 7.16.1  OS X 19.2.0 / x64

describe bug:

Sometimes, command+tab workding incoorectly when switch between postman window and other app window, it will juts switch to destop instead of postman window.

How To Reproduce:
use command+tab to switch between postman window and other app window serveral times (maybe in 10 times), it will juts switc

[2020-02-09 07:37] freerider7777 commented on #5194
+1 :)

[2020-02-09 07:44] godot0413301 commented on #2985
The  reason is postman cannot find font.so use another one,but their weight is different.I had install font Menlo-Regular.ttf and Monaco-Linux.ttf.At last It works.

[2020-02-09 07:59] HolgerNeub commented on #3358
+1

Soo Neides Feature. Swagger is the wenig Place for nen General comments and putting it in a separate place  outside postman is another media break.

[2020-02-09 09:35] praveendvd opened #8024 "CSV parser works differently for newman and collection runner"
**Describe the bug**

CSV parsing of, CSV files that contain double quotes works differently in newman and collection runner.

for passing double quotes in csv data the approach is :

"""test""" which will be resolved to "test" in the request (Collection runner)
"\"test\"" which will be resolved to "test" in the request (newman)

**To Reproduce**

1) Create a post request to "https://reqres.in/api

[2020-02-09 17:23] #8014 closed, assigned to nobody

[2020-02-09 17:40] umeshp7 commented on #6719
@ljdev1 Thank you for the detailed feedback.

I am surprised to know that the JSON didn't work and the SDL did. One guess would be that when I said, the introspection result, I meant the value of the `data` key you get from the result. (Though in hindsight I realize this could also be handled from our end).
Can you please try pasting the value present in the `data` key? If that still doesn't work,

[2020-02-09 19:18] sankalp0o commented on #7872
Hey @davidmw , the issue has been resolved now. I'm closing the issue but please let us know if this doesn't solve the problem for you!

[2020-02-09 19:18] #7872 closed, assigned to nobody

[2020-02-09 20:10] sankalp0o commented on #8020
@KristianAtVsp I'm not completely sure I understood the problem, can you help me out? What do you mean by persisting environments?

[2020-02-09 20:28] Tecktron commented on #7581
It should be noted that the snap package is not kept as up to date with the releases and should also be mentioned in the install instructions (at time of writing snap is at v7.13, release is v7.17). Also if you do install via the tarball, it should be noted that the update process must also be done manually (automatic updates don't work on Linux).

There are also a couple of user ppa's around that

[2020-02-09 21:30] xk0der opened #8025 "Poor performance/responsiveness while navigating published public documentation"
**Describe the bug**
For collection documentation with requests containing large _request-body_ / _request-examples_ / request-response the prettify code cause the documentation page to freeze or lag.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to documentation with large requests-example / request-body / request-response.
** example public doc experiencing this issue (as reported by

[2020-02-10 01:55] BitDrifter commented on #2701
+1

[2020-02-10 06:15] kamalaknn commented on #8011
@richemmanu It is possible that your app is in fullscreen mode. You can try F11 key to get out of the fullscreen mode.

We are tracking a separate issue [here](https://github.com/postmanlabs/postman-app-support/issues/6811) to display some form of feedback that the app is currently in fullscreen.

I'm closing this issue now. Feel free to let us know if you're still seeing this issue.

[2020-02-10 06:15] #8011 closed, assigned to nobody

[2020-02-10 06:18] kamalaknn commented on #6443
@lokendraujjwal I'm closing this issue since it is similar to the fullscreen behavior confirmed by others here.

That said we are tracking a separate issue [here](https://github.com/postmanlabs/postman-app-support/issues/6811) to add feedback that the app is on fullscreen mode.

Do let us know if that does not solve your issue.

[2020-02-10 06:18] #6443 closed, assigned to nobody

[2020-02-10 06:32] harryi3t commented on #8014
We have found the issue. The internal endpoint that was being used by homebrew was cached to an earlier canary release.
This is now fixed. Thanks for reporting this 👍

[2020-02-10 06:44] harshiljain23 commented on #8023
@AL-Liang  Thanks for reporting this. Can you upload a screen recording for this ?

[2020-02-10 07:57] AL-Liang commented on #8023
Thanks. It bothered me a few days. However, I can not reproduce it today. I will just close this issue. Maybe I missed some triger conditions. I will upload a screen recoding if I encounter this problem again.

[2020-02-10 07:57] #8023 closed, assigned to nobody

[2020-02-10 09:29] himanshuPandey25 opened #8026 "Feature request: ZIP download option"
**Is your feature request related to a problem? Please describe.**
As you know in many environments developer may not have access to install an application or installation required to get approvals at many levels.

**Describe the solution you'd like**
To prevent all this can you provide a ZIP archive download option. It will be of great use to many of us.

**Describe alternatives you've considered

[2020-02-10 10:16] arlemi commented on #6614
@iDiogenes Thanks for your feedback! We're tracking the first issue you've raised in #7397. I've raised the second one with our team, they're looking into it. :)

@m4nu56 If you are still not seeing the validation, make sure to update your app to the latest version.

[2020-02-10 10:26] Wotuu opened #8027 "Collection Runner Collection Fork Label disappears/is missing"
**Is your feature request related to a problem? Please describe.**
With the resolving of https://github.com/postmanlabs/postman-app-support/issues/6540 we're now running into a (minor) different issue. When running a forked Collection in the Collection Runner you can not see which fork you're actually running. What we used to do is attach an issue number in the Collection's name, but this is no lo

[2020-02-10 10:44] hexenmesser commented on #7700
Hello. Experiencing the same issue (generating OAuth 2.0 for Gmail API using POSTMAN app)
Are there any updates on this?

[2020-02-10 10:55] darkantoine commented on #4418
Is there any progress on this feature? I am facing the same problem. I have multiple environments for different servers/users combinations and it would be a great productivity boost if I could sort them in folder and have a search capability in the dropdown.

[2020-02-10 10:57] coditva commented on #7848
I think I got it. @vdespa Can you confirm that you have a global variable with key of type `object`?

[2020-02-10 11:06] kkalpakchyan commented on #7685
any idea when this will be fixed??

[2020-02-10 12:04] AlexCharlton93 opened #8028 "Can't open sidebar in v7.17.0"
**Describe the bug**
After updating postman to v7.17.0, I am no longer able to open the sidebar.

**To Reproduce**
Steps to reproduce the behavior:
1. Open postman v7.17.0
2. Click on the bottom left icon to open the sidebar

**Expected behavior**
Sidebar to open..

**Observed behavior**
![Postman sidebar issue](https://user-images.githubusercontent.com/12888170/74148425-4b476280-4bfd-11ea-899a-90

[2020-02-10 12:37] paunovic commented on #7996
Yeah, mock servers seem to not be properly generated and it prevents me to use them for development.

Postman seems to have example of OpenAPI usage here: https://github.com/postmanlabs/spectral-postman

Mock server in that repo works fine, but when I try to generate one from an identical schema, it doesn't behave correctly.

[2020-02-10 12:53] OlgaUtochka commented on #7924
@Raja-Simha

Here's our documentation: [3DiVi Face Machine Cloud API ](https://docs.facemachine.3divi.com/?version=3002fe83-8c78-4dda-8bc4-09658ad0256d#filtering).

As you can see, our description is quite long, and there are many sections. Here's a part of a GraphQL sample in the section "Filtering", and it would be very convenient to insert an "interactive" sample in this very section (we have t

[2020-02-10 13:03] #8028 closed, assigned to nobody

[2020-02-10 13:25] labifrancis opened #8029 "Broken/clumsy UI in "Two pane view" when form-data has multiple key/value pairs"
**Describe the bug**

When a `form-data` with multiple key/value pairs is viewed in "Two pane view" mode, the UI becomes clumsy and difficult to navigate.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a new request
2. Navigate to the `body` tab  and select `form-data`
3. Add about 50 dummy keys and their corresponding values
4. View this window in "Two pane view" by navigating to th

[2020-02-10 13:57] JGLJGL opened #8030 "POSTMAN GET/POST ISSUE"
Hi, I'm new with Postman and need to do a POST request to [](https://atesens.com/api/v1/4444/telemetry ) but I'm not being able. I add two screenshots to in case that helps.
![postman1](https://user-images.githubusercontent.com/59092723/74155871-90778e80-4c15-11ea-9ab1-85a9f1563e1a.png)
![postman2](https://user-images.githubusercontent.com/59092723/74155878-92d9e880-4c15-11ea-90d3-cfebb993cc07.png

[2020-02-10 15:16] SreeHarshaMandlem commented on #4079
+1

[2020-02-10 16:17] LucasAstol opened #8031 "Can't access environment/Global variables from within a function defined in a Global variable"
**Describe the bug**
I had a declare a function in a Global variable so I can then reuse that piece of code without having to copy paste the chunk of code again and again. Thing is that when I invoke the function from within the Global variable I doesn't have access to any of the variables wheter they are enviromental or Global.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a functi

[2020-02-10 16:26] mztriz commented on #2833
On Mac OS I ran into this issue and had to remove the file `window` from` ~/Library/Application\ Support/Postman` to resolve.

[2020-02-10 17:08] KristianAtVsp commented on #8021
That's great to hear! Some initial feedback:

- As a reviewer I'd like to **add a comment to a specific line** in the diff
- As a reviewer I'd like the ability to **approve without merging**, allowing other reviewers to review before a PR is merged.
- As a team member, **if there is a pull request in one of my teams** I'd like to **receive an email** about it.
- As a pull requester, I'd like to **

[2020-02-10 17:11] KristianAtVsp commented on #8020
Currently my environments are locked to a workspace. If I change workspaces my environments disappear. It would be helpful to have an option to use the same environments across all workspaces.

[2020-02-10 17:53] jdgregson commented on #7272
@Chealer Is this the same issue you were experiencing? If so I'm still seeing it in 7.18.
![2020-02-10_09-51-27](https://user-images.githubusercontent.com/3778841/74175660-1c27f580-4beb-11ea-996f-f16f27a3c46b.gif)

[2020-02-10 18:03] arlemi opened #8032 "Interceptor keeps capturing requests even when set to OFF in Chrome"
Reported by a user on Twitter: https://twitter.com/jdgregson/status/1226925004803039234

**Describe the bug**
If the Interceptor is `on` in the Postman app and `off` on Chrome, requests are still being captured and shown in the `History` tab of Postman.

**To Reproduce**
Steps to reproduce the behavior:
1. Turn interceptor `on` on both the app and Chrome
2. Turn interceptor `off` on Chrome
3. See

[2020-02-10 18:12] arlemi opened #8033 "Interceptor filter in Chrome isn't applied"
Reported by a user on Twitter: https://twitter.com/jdgregson/status/1226925004803039234

**Describe the bug**
When setting a filter on the interceptor it is applied in the Chrome extension but not in the Postman app.

**To Reproduce**
Steps to reproduce the behavior:
1. Set a filter for the interceptor in the chrome extension
2. See that the history in the Postman app still shows all requests

**E

[2020-02-10 19:09] jwbanning commented on #6577
This feature was requested at the SF Galaxy tour (02/07/2020)

[2020-02-10 19:26] yuraxdrumz commented on #5194
+1

[2020-02-10 19:32] JP-from-Postman opened #8034 "Support SHA-256 in ADFS algorithm for generating SAML token hash"
**Is your feature request related to a problem? Please describe.**
ADFS algorithm for generating SAML token hash currently only supports SHA-1

**Describe the solution you'd like**
Add support for SHA-256 in ADFS algorithm for generating SAML token hash

**Describe alternatives you've considered**
None

**Additional context**
User requested

[2020-02-10 19:46] Chealer commented on #7272
No @jdgregson the problem was with form-data (not raw)

[2020-02-10 20:22] bhalash commented on #3358
+1 for this!

[2020-02-10 20:47] xk0der opened #8035 "Removing a user from a team does not delegate access to their mocks servers"
**Describe the bug**
A user was removed from a team since they were no longer part of the organization. This caused issues with access to Public Mock Servers created by the user. Resulting in the following error being thrown when trying to access the Mock server:
` {"error":{"name":"syncError","header":"You need access","message":"To view or edit the mock server, request access from the collection

[2020-02-10 21:10] alinazakat commented on #6316
Hi
Do we have any progress on this? or is it expected in the near future?. It would be great if we get this feature of comparing the collections and moving the changes between the collections, somewhat similar to IDEs like Visual Studio or Eclipse.
Regards

[2020-02-10 21:10] katlimruiz commented on #3466
autosave and saveall +1

[2020-02-10 21:30] jwbanning opened #8036 "Create a "visualization" category for collections API Network"
I would like to search for collections that have visualizations in the API Network.

**Describe the solution you'd like**
Please provide a new category, "visualization"

**Describe alternatives you've considered**
An alternative is to add visualization in the collection description.

**Additional context**
<img width="1096" alt="Screen Shot 2020-02-10 at 1 48 14 PM" src="https://user-images.github

[2020-02-11 00:07] keeleyt83 commented on #7685
I'd also like to see this fixed. Maybe this wasn't a use case you considered for the console, but I would use the runner to produce delimited output for quick and dirty reporting based on REST apis. I'd really like to see this come back.

[2020-02-11 00:08] nateforsyth commented on #285
Coming up 7 years; I'm forced by my organisation to use Postman and something this trivial is not a feature - less than ideal.

Can the community please have an update as to when this will be added?

[2020-02-11 00:26] planzi commented on #285
I tweeted about Postman's lack of interest in this feature request in case anyone wants to RT it:
https://twitter.com/planzi/status/1227022265390256128

[2020-02-11 02:04] preethammavin commented on #8021
@KristianAtVsp thanks for the exhaustive feedback, most of the things that you mentioned are being taken up soon. I will keep you posted for continued feedback.

[2020-02-11 02:09] kamalaknn commented on #8029
Hi @labifrancis

Thanks for the report and the screen recording. We were able to reproduce this issue.

[2020-02-11 02:15] kamalaknn commented on #8026
Hi @himanshuPandey25

Can you give us some more details about your workflow? And what operating system are you on? If I'm right you are referring to the download option for the latest version and not asking for downloads on older versions?

[2020-02-11 02:23] kamalaknn commented on #8018
Hey @asartem

This looks like a duplicate of #5078. I'm closing this issue. Please follow the original thread for updates. Do let us know if you have additional info.

[2020-02-11 02:24] #8018 closed, assigned to nobody

[2020-02-11 04:32] ntloi95 commented on #6761
Same issue, too in 7.7.2 MacOS

[2020-02-11 05:18] Swapnil-getpostman opened #8037 "Current plan not reflecting properly"
**Describe the bug**
I am currently subscribed to business plan and after navigating the `/usage` page link below, it shows that I am on enterprise plan instead of a business plan.
https://go.postman.co/usage
![image](https://user-images.githubusercontent.com/52168965/74212342-c1110400-4cb9-11ea-9ae5-e0278cea570b.png)

And when I navigate the below link for `billing/overview` page from the same ac

[2020-02-11 06:40] saialekhya-postman commented on #8032
@arlemi  This is not a bug.
Interceptor extension UI is only for the chrome app, filters the user adds and toggle switch state from the interceptor extension will be respected by the chrome app, not the native app.
Since the capture requests is toggled on in the `native app` interceptor is capturing requests in this case.

[2020-02-11 06:45] appurva21 commented on #8027
@Wotuu Thanks for reporting this. We will take a look at it during our next round of improvements in the Collection Runner.

[2020-02-11 06:55] appurva21 commented on #7520
Hi @dglanville, we made have ceratin improvements in Collection  Runner during our last few releases. Can you please update to the latest version of the app and check if this issue still persists for you.

To get the latest version either you can update the existing app or can download a new app from [here](https://www.postman.com/downloads/)

[2020-02-11 06:56] saialekhya-postman commented on #8033
@arlemi This is not a bug.
Interceptor extension UI is only for the chrome app, filters the user adds and toggle switch state from the interceptor extension will be respected by the chrome app, not the native app.

We are working on the `Interceptor extension` redesign, once that is out users can apply filters separately for the chrome app and native app by switching Interceptor extension mode.

[2020-02-11 07:02] appurva21 commented on #7664
Hi @RobWaterhouse95, we made have ceratin improvements in Collection Runner during our last few releases. Can you please update to the latest version of the app and check if this issue still persists for you.
To get the latest version either you can update the existing app or can download a new app from here

[2020-02-11 07:09] appurva21 commented on #7597
Hi @Warkdev,  we made have ceratin improvements in Collection Runner during our last few releases. Can you please update to the latest version of the app and check if this issue still persists for you.

To get the latest version either you can update the existing app or can download a new app from [here](https://www.postman.com/downloads/)

[2020-02-11 08:41] vvs11 commented on #7751
This is fixed in version 7.18.

[2020-02-11 08:41] #7751 closed, assigned to vvs11, dushyantchillale

[2020-02-11 08:59] tretex commented on #3385
Any updates on the issue? I think this happens even if you don't have any particular problems in your code. Sometimes exclamation mark icon is shown but without "Too many errors" note. The problem appears to happen always on the 100th semicolon ending codeline.

This is particularly annoying problem when using common code for testing multiple requests.

[2020-02-11 09:10] #8033 closed, assigned to nobody

[2020-02-11 09:11] arlemi commented on #8032
Cool, closing since it is working as expected. A redesign of the interceptor extension will make this clearer later on.

[2020-02-11 09:11] #8032 closed, assigned to nobody

[2020-02-11 09:49] saswatds commented on #7780
@Quietbeat I am using the `7.18.0` and was not able to reproduce this issue following the steps you have provided.
Here is a video attached showing the steps I took.
![reproduction](https://user-images.githubusercontent.com/8796447/74225889-9175f200-4ce1-11ea-87d5-f210ee8e8b15.gif)

Also not sure what you meant when you say `test data values`. The runner always uses the latest state of the collect

[2020-02-11 10:05] appurva21 commented on #7799
Closing as duplicate of https://github.com/postmanlabs/postman-app-support/issues/7780

[2020-02-11 10:05] #7799 closed, assigned to saswatds

[2020-02-11 10:33] coditva opened #8038 "Add support for NTLMv2 authentication"
The NTLM implemented in Postman only supports NTLMv1. Some servers (although few in number), have a policy to only allow NTLMv2 with no backward compatibility because NTLMv2 is more secure. This makes NTLM authentication in Postman App return status code 401.

[2020-02-11 10:34] coditva commented on #4355
@omarw I think the issue seems to be that the server support only `NTLMv2` while Postman does not implement it yet. Can you verify if this is the case?

I've opened a feature request for it here: https://github.com/postmanlabs/postman-app-support/issues/8038

[2020-02-11 11:03] jonnytest1 commented on #8007
same - I mainly want to do 'copy as cURL' in the chrome dev tools and import that in postman , However the Formdata doesnt get parsed into the FormData field

How about doing automatic conversion from FormData to raw and backwards on tab switch if possible

[2020-02-11 11:06] #8030 closed, assigned to vvs11, codenirvana, saswatds

[2020-02-11 11:12] harryi3t commented on #8026
@himanshuPandey25 Are you referring to the portal executables that do not require installation or admin privileges?

[2020-02-11 11:19] arlemi opened #8039 "Proxy crashes the native app if port is already in use"
**Describe the bug**
If another app (other version of Postman, node server etc.) already uses the port set for the Postman Proxy, when turning the Proxy on the Postman app will crash.

**To Reproduce**
Steps to reproduce the behavior:
1. Open Postman Canary
2. Turn the Proxy on on port `5555`
3. Open Postman
4. Turn the Proxy on on port `5555`
5. Notice the app closing unexpectedly

**Expected beh

[2020-02-11 11:24] aaronr93 opened #8040 "Display Preview for PDF Responses"
**User Story**
As a Postman app user receiving PDF responses from my requests, I want to view a preview of the PDF in Postman itself rather than saving it and opening it manually so that I can save time and frustration.

**Ideal solution**
When a successful response of ContentType:application/pdf is received,
Then a visual preview of the PDF is displayed.

**Possible alternative**
When a successfu

[2020-02-11 11:26] aaronr93 commented on #1380
@Jorgehn1995 et. al.,
Looks like they closed the project under which this issue lives on 16 Dec 2019.

I created a new issue under an open project: #8040

[2020-02-11 11:56] ankurdengla commented on #6053
Hey!

We’ve released authentication support for proxy servers in the latest canary version (v7.18.0-canary02) of the app. The app will use the system proxy settings by default and show a window to enter credentials if the proxy server requires authentication. Please give it a try and share any feedback that you might have with us.

The canary app can be downloaded from here - https://www.postman.c

[2020-02-11 11:58] ptolemys commented on #7983
@shamasis Can someone in Team Postman have a look on this, I would be happy to assist in case help is required for replication.

Thank you.

[2020-02-11 11:59] ankurdengla commented on #3450
Hey @StormRider01  !

We’ve released authentication support for proxy servers in the latest canary version (v7.18.0-canary02) of the app. The app will use the system proxy settings by default and show a window to enter credentials if the proxy server requires authentication. Please give it a try and share any feedback that you might have with us.

The canary app can be downloaded from here - https

[2020-02-11 12:11] coditva commented on #8031
@LucasAstol I think there's some confusion here... In the `utils.sum` function, you're setting an environment variable but in the tests script you're logging the return value.

You can either add this in your pre-request script's `sum` function:
[code]

Or, in the tests script, you can do this:
[code]

Hope that helps. If this solves your problem, feel free to close the issue. :)

[2020-02-11 12:40] himanshuPandey25 commented on #8026
@kamalaknn I am using Windows server 2012 or later. We work on different landscapes where we might not have the admin previlages to install postman.
@harryi3t yes I am asking for executables which don't require installation.
This option is not available right now at your download page.

[2020-02-11 14:27] tomejesus commented on #7700
Any update on this? Also experiencing the same.

[2020-02-11 14:38] LucasAstol commented on #8031
You are right @coditva sorry about that, I made a mistake when copy pasting. Now I have updated the comment meaning having a void function wouldn't be able to access the environment variable. Thing is I was calling the function incorrectly.

Apologize. I believe this can be closed.

[2020-02-11 14:38] #8031 closed, assigned to vvs11, codenirvana, saswatds

[2020-02-11 15:10] mjosifek opened #8042 "Configurable default charset for application/json responses (body)"
**My configuration**
Postman for Linux, version 7.18.0

**Problem.**
I have problem with application/json responses without charset set in the content-type response header. If the server sends just Content-Type=application/json, without charset, international chars are not displayed correctly. It seems Postman uses iso-8859-1 charset in this case. If the server sends Content-Type=application/json;

[2020-02-11 17:04] Quigley-Brendan opened #8043 "cURL Generated by Postman Doesn't Work, Missing Content-Length"
**Describe the bug**
I'm creating a simple shortcode in WordPress that accesses a Google Spreadsheet via a Google Script. Google has some odd limitations when it comes to this kind of access, so I'm using SpreadAPI. The body of the POST request needs to be sent using the RAW option in Postman, and it contains all of the parameters.

This is working perfectly in Postman. However when I move the gen

[2020-02-11 17:27] azndoodle commented on #6757
what version has this fix been applied to?

[2020-02-11 18:04] 802856294 opened #8044 "Export collection generates empty collection v7.18.0"
**Describe the bug**
Export Collection Results in skeleton empty requests.

Windows 8.1

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to collection
2. Click on right-click and select export
3. Choose version 2.1
4. supply file name  and press save

**Expected behaviour**
Collection file should describe the collection

[code]

**Screenshots**
If applicable, add screenshots to help expla

[2020-02-11 18:32] JP-from-Postman opened #8045 "Request filter: hide all requests that don't match"
**Is your feature request related to a problem? Please describe.**
In the current implementation of the request filter, typing in the name of a request shows all requests in the Collection and highlights the matching ones. This is problematic for Collections that have a large quantity of requests, as it requires the user to scroll through a long list to find requests that match the filter.

**Desc

[2020-02-11 18:46] Gildo-Sargi-Neto opened #8046 "pm.sendRequest also accept name of request"
i was trying to use pm.sendRequest on a request i already have registered in the collection but there is no option to refer to the request name using pm.sendRequest ( no i don't want to redrect to other endpoint using .setNextRequest() )

i would like to reffer to the name of a request i already have registered

**Describe alternatives you've considered**

adding compability with pm.sendRequest("n

[2020-02-11 18:50] cngrindstaff commented on #8045
Please fix this; it has made Postman nearly unusable for my team.

[2020-02-11 19:32] Yinon-haver commented on #5194
+1

[2020-02-11 19:34] JP-from-Postman opened #8047 "Allow pm.sendRequest() to send requests in Collection by name"
**Is your feature request related to a problem? Please describe.**
If a user wants to send a request from their Collection from the Sandbox, their only option is to recreate it in the format expected by pm.sendRequest().

**Describe the solution you'd like**
Allow pm.sendRequest() to call requests from the Collection by name, similar to postman.setNextRequest().

**Describe alternatives you've con

[2020-02-11 19:45] schmitzdenis commented on #3641
It is actually possible. just export the collection to .json and replace the file path by a placeholder like this.
[code]
Re import and the collection.json back in postman.make sure your files to upload are in your local postman working_directory.

[2020-02-11 21:53] vdespa commented on #7848
Yes, I do have one of type object @coditva

[2020-02-11 23:08] katlimruiz opened #8048 "disable multiple selection"
when you drag your mouse to select the text in the textbox, postman will "confuse" the drag, and apply it to the grid which makes it cumbersome to edit the grid (for example, params or body grid).

I bet other people find this annoying.

multiselection should be done in another way (perhaps using keyboard only, or with ctrl key pressed).

[2020-02-11 23:35] mattdonatelli commented on #1931
Agreed. Would like to see this ticket re-opened. @gpicazo can you reconsider please?

[2020-02-12 01:56] #8046 closed, assigned to nobody

[2020-02-12 01:57] Gildo-Sargi-Neto commented on #8046
closed because this issue describes the problem better https://github.com/postmanlabs/postman-app-support/issues/8047

[2020-02-12 02:24] saswatds commented on #7800
Hi @praveendvd this is intended behavior. To know more about the variable scopes you can check our learning center https://learning.postman.com/docs/postman/variables-and-environments/variables/#variable-scopes

If you updated using the `variables` API then its changing the local scope and it will take priority over iterationData.

I will be closing this issue for now as this does not seems to be

[2020-02-12 02:24] #7800 closed, assigned to saswatds

[2020-02-12 02:32] saswatds commented on #7778
Closing this issue as its a duplicate of https://github.com/postmanlabs/postman-app-support/issues/3845

[2020-02-12 02:32] #7778 closed, assigned to saswatds

[2020-02-12 02:41] saswatds commented on #7845
@Paulo-Sensedia The syntax is correct with respect to javascript. If you analyze you code
[code]

`,` comma is valid javascript syntax. What this effectively means that.
`pm.test('json value check')` is an empty test which will always pass and then define a `function`  which does not relate to a test.

For more information check https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Ope

[2020-02-12 02:41] #7845 closed, assigned to saswatds

[2020-02-12 02:44] saswatds commented on #7877
Closing this issue as a duplicate of https://github.com/postmanlabs/postman-app-support/issues/5848

[2020-02-12 02:44] #7877 closed, assigned to vvs11, codenirvana, saswatds

[2020-02-12 02:51] saswatds commented on #7764
@seandcoleman The app version `4.3.2` seems to be a really old version of the app. At this moment the latest version of app is `7.18.0`. There have been a lot of bug fixes during these release and most probably this issue should be fixed in the latest version. Could you upgrade to the latest version and check if the issue still persists?

[2020-02-12 04:24] kamalaknn commented on #8048
Hey @katlimruiz

Thanks for reporting this. We are tracking this issue in #5078.

I'm closing this as a duplicate. Please follow the original thread for updates.

[2020-02-12 04:24] #8048 closed, assigned to nobody

[2020-02-12 04:36] mlbd-tanzeeb commented on #4334
@talktoudhai please check. I think, it will work
pm.expect(jsonData.phone_number).to.match (/^\d{3}-\d{3}-\d{3}$/);

[2020-02-12 05:20] sankalp0o commented on #7858
Thanks for reporting this @ankit-m! This issue has been fixed. If you encounter this again, please let us know by reopening this issue.

[2020-02-12 05:20] #7858 closed, assigned to sankalp0o

[2020-02-12 06:06] Raja-Simha commented on #7924
Here is the link to the section you are referring to in the folder "Events" > "Filter events"- https://docs.facemachine.3divi.com/?version=3002fe83-8c78-4dda-8bc4-09658ad0256d#e2ee688a-d839-4728-9b65-b86ebea42d38

We add tags to every description section, folder and request of the documentation which can be referred to directly or shared across. You could also use markdown to add a URL to text lik

[2020-02-12 07:07] saswatds commented on #7993
@natemadel We have pushed a fix to this issue on the latest postman app version `7.18.0`. Can you verify that this issue is fixed for you?

[2020-02-12 07:10] saswatds commented on #7940
Closing this issue for now as we have internally verified that this is fixed. If the issue still persists for you then feel free to reopen this issue.

[2020-02-12 07:10] #7940 closed, assigned to appurva21

[2020-02-12 07:12] saswatds commented on #7937
@crendsist We have fixed this issue on our latest version `7.18.0`. Can you update to the latest version and verify this issue is fixed for you?

[2020-02-12 07:14] saswatds commented on #4287
@nickm8 thanks for the verification update. I am closing this issue as the retry is fixed.

[2020-02-12 07:14] #4287 closed, assigned to ritwijsinha

[2020-02-12 07:14] saswatds commented on #7906
@Ebtoulson  We have fixed this issue on our latest version 7.18.0. Can you update to the latest version and verify this issue is fixed for you?

[2020-02-12 07:16] saswatds commented on #4128
Thanks @tomershay.  We have pushed all our runner performance change to the production channel on app version `7.18.0`. Closing this issue for now. Feel free to re-open if the issue persists.

[2020-02-12 07:16] #4128 closed, assigned to saswatds

[2020-02-12 07:26] saswatds commented on #7742
We have pushed all of our performance fixed to the stable version `7.18.0`. The runner should more snappier and not crash.
I am closing this issue and tracking all the performance issue on https://github.com/postmanlabs/postman-app-support/issues/6525 as master issue

[2020-02-12 07:26] #7742 closed, assigned to saswatds

[2020-02-12 07:29] saswatds commented on #7201
@Mahonnant We have made a lot of performance fixes on the runner front and they are available on our stable version of app `7.18.0`. Can you update to the latest version and check if the issue still persists for you?

[2020-02-12 07:30] saswatds commented on #6838
We have pushed all of our performance fixed to the stable version 7.18.0. The runner should be snappier and not crash.
I am closing this issue and tracking all the performance issue on #6525 as master issue

[2020-02-12 07:30] #6838 closed, assigned to saswatds

[2020-02-12 07:31] saswatds commented on #6778
We have pushed all of our performance fixed to the stable version 7.18.0. The runner should be snappier and not crash. Can you update to the latest version and check if this issue is fixed for you?

[2020-02-12 07:33] saswatds commented on #6525
@sl4m @psonoh @recordstuff  We have pushed all of our performance fixed to the stable version 7.18.0. The runner should be snappier and not crash. Can you update to the latest version and check if this issue is fixed for you?

[2020-02-12 07:35] saswatds commented on #6937
This issue has been addressed in the latest version of the app `7.18.0`. Closing this issue now, feel free to file a bug if you find things not working as expected.

[2020-02-12 07:35] #6937 closed, assigned to vkaegis

[2020-02-12 07:35] saswatds commented on #6584
We have pushed all of our performance fixed to the stable version 7.18.0. The runner should be snappier and not crash. Can you update to the latest version and check if this issue is fixed for you?

[2020-02-12 07:36] saswatds commented on #7531
We have pushed all of our performance fixed to the stable version 7.18.0. The runner should be snappier and not freeze or crash. Can you update to the latest version and check if this issue is fixed for you?

[2020-02-12 07:37] saswatds commented on #7232
We have pushed all of our performance fixed to the stable version 7.18.0. The runner should be snappier and not crash. Can you update to the latest version and check if this issue is fixed for you?

[2020-02-12 07:37] saswatds commented on #7169
We have pushed all of our performance fixed to the stable version 7.18.0. The runner should be snappier and not crash. Can you update to the latest version and check if this issue is fixed for you?

[2020-02-12 07:38] praveendvd commented on #7800
Hi @saswatds  I think you have mis understood the issue .

I know that local variable have more precedence than any other variable, but as per documentation local variables are temporary variable that get destroyed in each iteration .

Here if I set a = 1 for iteration 1,  and I have same variable coming from a data file . Then in iteration to I expect the local variable a to get destroyed and the

[2020-02-12 07:39] saswatds commented on #7071
I am closing this issue as this issue seems fixed. Feel free to re-open this issue if you are still facing problems.

[2020-02-12 07:39] #7071 closed, assigned to shamasis, numaanashraf

[2020-02-12 07:40] saswatds commented on #6960
We have pushed all of our performance fixed to the stable version 7.18.0. The runner should be snappier and not crash. Can you update to the latest version and check if this issue is fixed for you?

[2020-02-12 07:42] saswatds commented on #6560
I am closing this issue in favor of https://github.com/postmanlabs/postman-app-support/issues/6824 which also speaking of this issue.

[2020-02-12 07:42] #6560 closed, assigned to shamasis, saswatds

[2020-02-12 07:43] saswatds commented on #5848
This issue has been fixed in the latest version of the app `7.18.0`. Closing this issue for now

[2020-02-12 07:43] #5848 closed, assigned to saswatds

[2020-02-12 07:45] saswatds commented on #5806
Hi @VicKetchup this issue has been fixed in the latest version of the app `7.18.0`. You can update to the latest version to see it working. Closing this issue for now. Feel free to reopen this issue if you find otherwise.

[2020-02-12 07:45] #5806 closed, assigned to codenirvana, appurva21

[2020-02-12 07:59] saswatds commented on #4296
Hi everyone we have been working hard at providing a more deterministic experience around response headers and body. During our research, we found that constant accumulation of all the response was causing the app to crash for long-running collection runs.

*Starting from app version `7.16.0` you will see*

We have introduced a setting `Save responses` to allow saving for responses up to 300KB for

[2020-02-12 08:01] saswatds commented on #2532
This issue has been addressed in the latest version of the app `7.18.0`. Closing this issue for now.

[2020-02-12 08:01] #2532 closed, assigned to vkaegis

[2020-02-12 08:09] Raja-Simha commented on #7371
@ypolishetty could you let me know why and how you would like to re-order your versions? Just trying to understand why the current functionality doesn't fit your use-case.

[2020-02-12 08:28] Raja-Simha commented on #6826
@igerslike I would like to understand why you want to turn off indexing? Do you work with partner APIs and do you want the share those APIs only with your partners?

[2020-02-12 08:35] Chekkov commented on #3641
Hi, @schmitzdenis : Thanks, for the hint. This works only once.
But, we wanted to exchange the src-file during runtime,  e.g. for iteration.

[2020-02-12 09:20] patrickHub commented on #6354
It work for me thanks

[2020-02-12 09:46] 802856294 commented on #8044
OS Windows 8.1
Post Man v7.18.0

Azure Rest API Call
PUT
https://management.azure.com/subscriptions/{{subscriptionId}}/resourceGroups/{{resourceGroupName}}/providers/Microsoft.Network/virtualWans/{{virtualWANName}}?api-version=2019-09-01

Header
Authorization
Bearer {{bearerToken}}
Content-Type
application/json

Body raw JSON

{
	"location": "{{location}}",
	"properties":
	{
		"allowBranchToBranch

[2020-02-12 10:36] Wouter0100 opened #8049 "Postman not starting in Ubuntu 19.10 running using Snap"
**Describe the bug**
Postman does not start, both using the desktop icon as in the CLI.

In both cases it errors with (as seen in syslog and when running manually in the CLI):
[code]

It worked before, but recently stopped working. No clue exactly why. `appmenu-gtk2-module` and `appmenu-gtk3-module` are properly installed.

**To Reproduce**
Steps to reproduce the behavior:
1. Install Postman on Ub

[2020-02-12 10:36] angelinux69 commented on #4580
<?xml version="1.0" encoding="UTF-8" standalone="no"?><FLUXSalesReportMessage xmlns:clm63155CommunicationChannelCode="urn:un:unece:uncefact:codelist:standard:UNECE:CommunicationMeansTypeCode:D16A" xmlns:qdt="urn:un:unece:uncefact:data:Standard:QualifiedDataType:20" xmlns:ram="urn:un:unece:uncefact:data:standard:ReusableAggregateBusinessInformationEntity:20" xmlns:rsm="urn:un:unece:uncefact:data:st

[2020-02-12 10:42] Wouter0100 commented on #8049
After some more fiddling around, I realized I switched to Gnome on Wayland recently. When reverting back to Xorg, the problem is (unfortunatly?) fixed.

This seem to point into the direction of a Wayland-specific bug, even when the Wayland plug is connected to the Snap.

[2020-02-12 12:06] arlemi commented on #4687
Another user reporting the same issue on Twitter:
https://twitter.com/musayardimci/status/1227553277765734400

[2020-02-12 13:32] jeronimusus commented on #7294
Still getting the blue circle of death on v7.18.0 on the Mac app. I've found  that if I delete all the Collection and folder level tests then I don't face the issue.

[2020-02-12 13:42] recordstuff commented on #6525
@saswatds The runner no longer crashes for me, thank you.

[2020-02-12 14:07] Ebtoulson commented on #7906
I see the fork name now. Thanks!

[2020-02-12 14:08] #7906 closed, assigned to vvs11, vkaegis

[2020-02-12 14:11] clayt666 commented on #7937
With version `7.18.0` I no longer see my issue.

[2020-02-12 14:21] Raj-postman opened #8050 "Add Breadcrumb like navigation to Documentation in Postman Desktop Version"
**Is your feature request related to a problem? Please describe.**
Currently, the navigation for a request needs to be checked from the folder hierarchy.

**Describe the solution you'd like**
I think it would be nice to have breadcrumb-like navigation in the Documentation part for Postman Desktop. Right now it is allowed to have a hierarchical documentation structure, where common information abou

[2020-02-12 14:21] danchirillo opened #8051 "Unable to Obtain OAuth Access Code"
**App information**
 - App Type:   Native App
 - Postman Version 7.18.0
 - OS:  macOS Catalina (10.15.3) and Windows 10

**The Issue**
Unable to use Postman to retrieve OAuth access token.  As far as I can tell from the Postman log, Postman is refusing to follow the redirect because it doesn't match the `registered callback URL`.  The only difference that I see is URL encoding of that URL. (see **

[2020-02-12 14:37] bjones01001101 commented on #4172
+1

[2020-02-12 14:57] sl4m commented on #6525
@saswatds Thanks for the fix. Unfortunately, I'm unable to run what crashed before since I left the company.

[2020-02-12 15:00] ArjunSingh-PM commented on #7989
@JP-from-Postman Could you please elaborate on which specific restriction did the user have an issue with?

[2020-02-12 15:14] saswatds commented on #6525
Thanks for verifying. I am closing this issue as resolved.

[2020-02-12 15:14] #6525 closed, assigned to saswatds

[2020-02-12 15:15] saswatds commented on #7937
Thanks for verifying. Closing this issue now as resolved.

[2020-02-12 15:15] #7937 closed, assigned to saswatds

[2020-02-12 15:33] igerslike commented on #6826
Exactly. We want to keep the api docs undiscoverable without any chance of being indexed.

[2020-02-12 16:06] Super-Net-Ops commented on #7685
I’ve come up with an ugly workaround.

In the CSS, change:

[code]
to

[code]

[2020-02-12 16:17] tsal commented on #3759
I'm not entirely sure this is (still) true.  I've flushed dscache on my mac, and net-internals in chrome, and resolution works fine for the OS and chrome - but not postman.

[2020-02-12 16:25] John2496 commented on #3171
+1

[2020-02-12 16:30] jg8481fp commented on #3171
+1

[2020-02-12 17:45] jwbanning commented on #6929
I recently created a monitor that calculates when an API is within 90% of usage. This is integrated with Slack and a notification is sent.  A visualization would also be helpful

[2020-02-12 17:55] JP-from-Postman commented on #7989
@ArjunSingh-PM this user's feedback was that no password safety requirement of any kind should be enforced strictly. Currently, I think we only mandate a minimum length.

[2020-02-12 18:43] katlimruiz commented on #5078
+1, it seems this has not been resolved yet :(

[2020-02-12 20:12] apolloniusoftyana commented on #6053
@ankurdengla So far testing has show this to be working as advertised. App passes through proxy for App updates, login and sync. Is the app using the "Use System Proxy" in Settings or is it just observing the OS System and the options in Settings are simply for request sending?

[2020-02-12 21:19] spencerrichardhenry commented on #697
Why is this issue marked as close? I see no resolution

[2020-02-12 21:29] spencerrichardhenry opened #8052 "Add hyperlink to comment notifications in postman app"
Email notifications of comments that mention you include a hyperlink to that request. App notifications give you the comment but don't tell you what request it's on.

App notifications should do something similar to emails.

Folder structure description could be an alternative to a hyperlink

![image](https://user-images.githubusercontent.com/46569542/74378862-ef6b0e00-4da3-11ea-9119-50e7c1a7d557.

[2020-02-12 21:31] spencerrichardhenry opened #8053 "Notifications should include the fork name"
Email/in-app notifications of comments that mention you include the name of the collection the comment is on. However, they don't tell you what fork of that collection the comment is in.

Notifications should include the fork name instead of just the collection name (i.e. Joe Smith replied to your comment on Public APIs [joe's branch] Collection

![image](https://user-images.githubusercontent.com/

[2020-02-13 00:23] nlwillia commented on #3280
This is still an issue for Windows users.  @madebysid can it be reopened, or would you rather someone request it again?

[2020-02-13 00:47] sankalp0o commented on #8053
Hey @spencerrichardhenry , thanks for the suggestion! We are currently working on improving the commenting experience so this is very timely! I see you've posted a bunch of issues, is there anything else that we can improve for your team to collaborate better through comments? Happy to get on a call to discuss this as well.

[2020-02-13 00:51] spencerrichardhenry commented on #8053
I made issues for what I could remember as pain points -- the PR feature that was just released for web has addressed a lot of our other pain points. I will keep in touch though with future suggestions!

[2020-02-13 01:21] glenfordwilliams commented on #3117
any updates?

[2020-02-13 04:29] ankurdengla commented on #6053
@apolloniusoftyana The app is just observing the OS proxy settings and using those for features like updates, login, syncing, etc.
The `Proxy` option in `Settings` just applies to the request sending flow.

[2020-02-13 06:19] ankit-m commented on #8021
Following are some timelines which might help you -

We do support request level comments. Line level and diff level comments are planned for the long term.

Short term.

Can you elaborate on this? Currently, you get an email if you are added as a reviewer for any PR.

Due to underlying technical abstractions we cannot support changing destinations right away. However, in the long-term we do plan

[2020-02-13 08:14] moellerbj commented on #5868
Hello, this issue should not be closed. Same problem here. The collection passed in the app. But the monitor fails. The url is public (tested with mobile). But i think the "disable ssl verification" option in monitor is not be considered.

[2020-02-13 08:25] godfrzero commented on #5868
Hey @moellerbj, what's the error you're seeing here? If you can open up a ticket via our support center, we can probably get to the root of the problem faster.

[2020-02-13 08:47] coditva commented on #8045
@cngrindstaff We had updated the filter so that any items in the collection should not be hidden when filter was on, because it used to confuse some users that items were missing from their collections.

But your use-case seems valid. We're working on a solution right now. Sorry for the inconvenience and stay tuned for updates!

[2020-02-13 09:09] moellerbj commented on #5868
hallo @godfrzero , sorry  false alarm *shame*. My mobile was configured in the firewall.

[2020-02-13 09:17] godfrzero commented on #5868
No problem, happens to all of us. 👍

[2020-02-13 09:19] madebysid commented on #3280
Hey @nlwillia, I'm not involved with this repo anymore, so I'd suggest opening a new one so the right people take a look at it!

[2020-02-13 09:28] saurabhChaubey commented on #6761
same issue with collection runner.

[2020-02-13 09:49] ArjunSingh-PM commented on #7839
@kartios @FlackMonkey @patlola Could you please confirm that this issue is resolved for you.

[2020-02-13 09:50] Raja-Simha commented on #8050
Very valid concern @Raj-postman We will see how we can fit this into our roadmap

[2020-02-13 09:55] ArjunSingh-PM commented on #6401
A fix is now in place to ensure that one authentication method is enabled at all time.

[2020-02-13 09:56] NTPLThavarajan commented on #495
well i lost my whole history, on a crucial day

[2020-02-13 09:56] ArjunSingh-PM commented on #7679
A fix is now in place to ensure that at least one authentication method is enabled at all time.

[2020-02-13 09:56] #7679 closed, assigned to ArjunSingh-PM

[2020-02-13 10:44] speto commented on #966
@a85 Hi guys, I would like to kindly ask for reconsideration of this request.
It's terribly uncomfortable to add cookies, headers or parameters per requests to start xdebug session and then ad-hoc quickly turn it off and on as well.

Any chance to introduce something like a bookmarks bar into UI which could enable/disable pre-request scripts so something similar or modified like common browser boo

[2020-02-13 12:23] peavers commented on #2302
+1 for JIRA API

[2020-02-13 12:31] slkorolev opened #8054 "Manage OAuth 2.0 tokens always shows error "Something Went Wrong""
**Describe the bug**
After update to 7.18.0 on macOS I am unable to manage OAuth 2.0 tokens: every time I click _Manage Tokens_ in the _Available Tokens_ listbox I receive a standard error message **Something Went Wrong**.

**To Reproduce**
Steps to reproduce the behavior:
1. Create an arbitrary request
2. Click on 'Authorization' tab below the request url
3. select OAuth 2.0 from TYPE listbox
4.

[2020-02-13 12:51] Mahonnant commented on #7201
Hello Saswat,

Yes the issue still persists in v7.18.0.

I have a collection with 2000+ requests organized in different directories
and, when I select a directory in the runner it takes 30+ seconds to update
the screen.
In my opinion the right pane (the one where all requests are displayed) is
the one that takes time to process, this is quite frustrating because I
actually do not use the right pan

[2020-02-13 13:02] AnaGoulart23 commented on #7940
I saw that in some cases the error message: "Response body was not logged"  persist

[2020-02-13 13:04] sumanasindhu commented on #3774
Thanks for the post

[2020-02-13 13:04] serhiisol commented on #4244
2020 and still, crucial piece of information is hidden from generated docs. Could you guys take a look at the issue?

[2020-02-13 13:54] skycatellic commented on #3174
+1

[2020-02-13 14:31] Dmitresky commented on #697
any updates?

[2020-02-13 14:39] mp-loki commented on #8045
@coditva It is really frustrating to alter the application behavior like that, especially such basic functionality that worked for ages and users got used to it. I have circa 150 requests in a collection for a single project, and highlighting instead of filtering is the same as there would be no filter at all. You have to scroll 100+ requests to find out what you are looking for. If there are user

[2020-02-13 14:53] Tiberriver256 commented on #5719
Any updates on this? Biggest thing for me would be path parameters to start working.

Examples:
`/api/MyResource(:Id)`
`/api/MyFunction(Arg1=':arg1')`

Postman does not inject the :Id

[2020-02-13 15:01] JorgeMerchan commented on #7676
+1

[2020-02-13 15:11] dfmmalaw commented on #6205
Having same issue when trying to connect to localhost only. Can hit it from Swagger and curl but not Postman
![Screenshot_1](https://user-images.githubusercontent.com/13461445/74448550-2e06d400-4e49-11ea-9cd4-c3c2ac1f6c3e.png)

[2020-02-13 16:03] vkaegis commented on #8045
@mp-loki Thanks for chiming in, we completely agree. Bit of an oversight on our part to change this behaviour without any warning. As @coditva mentioned, we're working on a quick fix which should be out with the next update.

[2020-02-13 16:05] nlwillia opened #8055 "Keyboard shortcuts for changing tabs"
It would be helpful if the Windows Postman App had keyboard support for changing the current request tab.

ex: compare with browsers, spreadsheets, etc. where Ctrl-PageUp and Ctrl-PageDown (also frequently aliased as Ctrl-Tab and Ctrl-Shift-Tab) can be used to quickly navigate

This was [previously requested](#3280), but prematurely closed and never seems to have been properly considered.

In a hi

[2020-02-13 16:07] ypolishetty commented on #7371
@Raja-Simha My original requirement is to rename "CURRENT" to "CURRENT - SP7". As thats not allowed, I created a new Version with the same name and when published, that one doesn't come up as the default when I open my published documentation. Someone has to manually go and change the version for it to load.

[2020-02-13 16:19] praveendvd opened #8056 "IterationData is not getting reflected in local variable value"
#7800

I think the issue is misunderstood.

I know that the local variable has more precedence than any other variable, but as per the documentation, local variables are temporary variable that gets destroyed in each iteration.

In a scenario where I have a variable 'a' coming from a data file, and if I set pm.variables.set('a',1) only for iteration 1. Then in iteration 2, I expect the local varia

[2020-02-13 16:54] KristianAtVsp commented on #8021
Thank you for the response. I'm excited to see these features get in.

The only email I got is when my pull request was declined.

Yes, that was a typo. Removing or increasing the limit on reviewers would be great.
As a pull requester I want to add the entire team as reviewers (5-7 developers), and after 2 people have reviewed and approved the pull request I or one of the other developers would me

[2020-02-13 17:16] #6359 closed, assigned to nobody

[2020-02-13 17:50] lastbulletbender opened #8057 "Cookies not being added to request"
**Describe the bug**
Cookies are not being added to the request, even when set manually or through the interceptor.
**To Reproduce**
Steps to reproduce the behavior:
1. Go to Cookies tab
2. Add cookies manually
3. Send request/ Generate code
4. No cookie field used.

**Expected behavior**
The request should be sent along with the cookies. Generated code should have cookies field.

**Screenshots**

[2020-02-13 17:52] lastbulletbender commented on #8057
Hopefully I am not making a stupid mistake 😅

[2020-02-13 18:38] hilary commented on #6722
What's the status of this issue? I would also like to use Postman API spec first. Without an 'Update Collection' option, the 'Generate Collection' option is useless.

Generated specs better than nothing, but nowhere near as good as authored specs. I really don't see the point of 'Generate Collection' as it stands. Perhaps you could explain a maintainable workflow that used 'Generate Collection' an

[2020-02-13 19:37] nalliot commented on #3358
+1 It would be a very nice feature to document the requests!

[2020-02-13 19:44] GregMotenJr opened #8058 "When deleting an item like a collection, I would like to see the name of the collection in the header of the confirmation widow so I am sure I clicked the correct item"
I'd like to be sure of the item I am deleting/removing from the workspace (test, collection, folder). Sometimes I close it out of the delete confirmation pop up just to really make sure I clicked the right one so I am not deleting something I am actually working on.

Adding the name of the item in question to the top of the label during the confirmation window would be very helpful to make sure yo

[2020-02-13 20:05] carljustineoyales opened #8059 "Google Couldn't Sign in using Postman Window"
**Describe the bug**
I'm going to create a oauth token for pinterest api and when signing in to my pinterest account using google. it detects that it is not a supported browser

**To Reproduce**
Steps to reproduce the behavior:
1. Open Desktop Postman
2. Follow Pinterest API Documentation for POSTMAN
3. Sign in to google account
4. See error

**Expected behavior**
Sign In to google account and ver

[2020-02-13 21:04] rmorrise opened #8060 "Feature request: "Run to here" marker"
**Is your feature request related to a problem? Please describe.**
Feature request.

I'm working on an automated regression script in postman. It goes like this:
-Set up test data
-Run a bunch of tests
-Clean up test data
Each section has a fairly large number of requests. Because of this, it's not very convenient to modify the script interactively.

When I'm adding a new feature to the script, wh

[2020-02-13 21:50] JimLynchCodes commented on #4009
+1 😁

[2020-02-13 23:51] F-shaikh commented on #8045
how long before this is fixed, scrolling through 200 requests just to find a single request has not been ideal for the last few days 😢 and scrolling after "filtering" causes hiccups and slow downs.

[2020-02-14 00:11] mandaputtra commented on #8007
I believe because there are no `-F` flag so the programs could not run it see [here](https://github.com/Kong/insomnia/issues/457)

[2020-02-14 00:12] grahamthesmith commented on #7294
Similar issue here, I noticed my CPU shot up after closing Postman on my Windows 10 machine.
![image](https://user-images.githubusercontent.com/1829955/74489866-9512a000-4ebe-11ea-9844-32cdc1e07d08.png)
Using latest v7.18.0

[2020-02-14 00:52] allyn-psyonix commented on #7198
I'm having a sort of similar problem. Not sure if it's the same thing or if I should submit a new issue. Searching using the text box above the collections/history/api area on the left is not working properly. It lags HARD as soon as I start typing text. I've tried restarting the app and verified I am on the latest right now (7.18.0). ~5 seconds later, my input appears, but results are not filtere

[2020-02-14 05:26] harryi3t commented on #6252
Putting the workaround as suggested by a user [here](https://github.com/postmanlabs/postman-app-support/issues/7534#issuecomment-577670535)

[2020-02-14 05:35] harryi3t commented on #8049
@Wouter0100 We are tracking this here https://github.com/postmanlabs/postman-app-support/issues/6252

Can you see if running Postman while keeping `wayland` disabled works?
[code]

[2020-02-14 05:36] ankurdengla commented on #8055
Hey @nlwillia !
We do have support for keyboard shortcuts to switch the current tab. This can be done using Ctrl-Tab and Ctrl-Shift-Tab on Windows. A few things that might help you resolve your issue -
* Please try updating your app to the latest version. This can be downloaded from https://www.postman.com/downloads
* Make sure that Keyboard Shortcuts are not disabled in `Settings` -
![Keyboard](h

[2020-02-14 05:58] #5703 closed, assigned to dhineshwiz, Raja-Simha

[2020-02-14 06:04] #5675 closed, assigned to vkaegis, Raja-Simha

[2020-02-14 06:23] Raja-Simha commented on #5176
@ash007-postman I am closing this since we haven't received any further information to investigate.

[2020-02-14 06:24] #5176 closed, assigned to dhineshwiz, Raja-Simha

[2020-02-14 06:57] zanderwar commented on #3438
+1 we have to move away from Postman since this feature does not exist. The documentor is outstanding but a bit useless when you can't do anything with it.

[2020-02-14 08:11] Wouter0100 commented on #8049
That works @harryi3t.

[2020-02-14 08:23] antonio-petricca commented on #918
I have the same issue with the latest release. How could I fix it? Thank you so much!

[2020-02-14 09:47] sanudatta11 commented on #5873
Faced the issue again today! Get is working fine but post with form-data and adding a File Fails the request with same response

[2020-02-14 10:08] guneyozsan opened #8061 "POST sent twice after duplicate request and drag to another folder"
**Describe the bug**
POST request is sent twice (Ctrl+L or Send button same).
It happens after I duplicate by Ctrl+D a request in folder and drag it to another folder.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a folder with POST request in it.
2. Create another empty folder.
3. Duplicate the request with Ctrl+D. (Optionally rename it with Ctrl+E for exact steps).
4. Drag and dro

[2020-02-14 10:20] Toretu commented on #4401
Seem to have similar problem, fresh install on windows 10. New account with a some team stuff i whant to get local.
13828][1581675489798][requester][warn]["Failed to refresh API List",{"error":{"message":"SyncRequestService\\x7erequestListener: Could not fetch from sync. Socket not connected."}}]

[2020-02-14 10:21] ArjunSingh-PM commented on #7005
Closing this issue as this is not reproducible and there has not been an update on this issue for an extended period.

@stcalica Please reopen this issue if you have additional information that is requested here

[2020-02-14 10:21] #7005 closed, assigned to godfrzero, charlie-postman

[2020-02-14 10:44] coditva commented on #7198
@allyn-psyonix We're aware of the issue and are tracking this issue here: https://github.com/postmanlabs/postman-app-support/issues/8045

[2020-02-14 12:39] Mahonnant opened #8062 "Search field behaviour, highlighting results"
**Is your feature request related to a problem? Please describe.**
Before v7.18.0 when I used the search field in Postman windows, only the results matching my input were displayed. This behaviour has changed in v7.18.0 and now it opens all folders in which a matching request can be found, all requests in the folders (matching and non matching my query) are displayed. It highlights matching elemen

[2020-02-14 13:34] omarw commented on #4355
I think that's it. Thanks

[2020-02-14 14:09] nlwillia commented on #8055
I don't normally use Ctrl-Tab and didn't think to try that.  Those shortcuts are working.

Is there any chance of Ctrl-PageUp and Ctrl-PageDown aliases?  Those seem to be the more widely used combination for tab switching--to the extent that I have the rocker on my mouse wheel bound to them...which works everywhere else but Postman.

[2020-02-14 14:42] labifrancis opened #8063 "pm.request script to return a complete URL(string)"
**Is your feature request related to a problem? Please describe.**

When a user uses `pm.request.url`  to get the URL a request is being sent to, it returns an array with the different components of the URL

The result doesn't give a full string of the URL. The below result is returned:

![image](https://user-images.githubusercontent.com/10200603/74539050-a51d9480-4f3d-11ea-8b0e-379e60c321ac.png)

[2020-02-14 15:18] krasimirkostadinow commented on #7607
Same issue here, nativeserver binary is running, but the interceptor is not able to connect.

[2020-02-14 16:37] rudisills commented on #3265
+1

[2020-02-14 16:42] tejasbarhate commented on #7327
+1

[2020-02-14 16:57] franksunnn opened #8064 "JSON schema validation with ajv - it always fails if users add an Object.prototype function before the validation."
**Describe the bug**
In my test environment, I have to create some Object.prototype functions before the tests and makes test scripts benefit from those functions.
However, I've found once the functions exist, the JSON schema validation always fails.

**To Reproduce**
Steps to reproduce the behavior:
1. In Postman, take the official test - GET Request as an example.
    Call the request GET https:

[2020-02-14 17:14] rudisills commented on #2086
I just saw this (Issue 2086 belongs to this project).
@codenirvana closed the project on Jun 27, 2019.
https://github.com/postmanlabs/postman-app-support/projects/24

@vkaegis @codenirvana @wspencer Any word on whether 2086 can get added back to an active project to have a possible resolution in the future?

[2020-02-14 17:32] jwbanning opened #8065 "Using the x-mock-match-request-headers will not return default response when header is not passed"
**Describe the bug**
While using a the x-mock-match-request-headers against my mock server, the default response is not returned when nothing is passed in the header.

**To Reproduce**
Steps to reproduce the behavior:
1. Set up a mock server with 3 examples.
    a. Default example. Response should be

[code]
<img width="523" alt="default" src="https://user-images.githubusercontent.com/2584258/7455

[2020-02-14 17:47] thoffmann-fms opened #8066 "Request Token button - No UI feedback"
**Is your feature request related to a problem? Please describe.**
The OAuth process can sometimes take more than a second or two so when clicking the "Request Token" button Postman just sits there with no obvious UI feedback that anything is happending.

**Describe the solution you'd like**
"Request Token" button should Disable itself and a spinner should display while waiting for the token respo

[2020-02-14 17:49] seandcoleman commented on #7764
@saswatds Thank you, I noticed that as well but when I click check for updates it tells me:
<img width="481" alt="Screen Shot 2020-02-14 at 9 48 30 AM" src="https://user-images.githubusercontent.com/5331287/74554827-46d9bd00-4f0f-11ea-8415-22df585977b6.png">

I'll see about just removing the app and re-installing it.  Thank you

[2020-02-14 17:54] thoffmann-fms opened #8067 "Manage Access Token screen, Use Token button hides"
**Is your feature request related to a problem? Please describe.**
After requesting a new token the Manage Access Tokens screen is displayed with the the token.  However the default window size is such that the Use Token button is off-screen and one has to scroll down to click it.

**Describe the solution you'd like**
Move the Use Token button to the top of the screen or move Use Token to the list

[2020-02-14 19:10] tofalck commented on #4636
The environment work around does not suffice if you work with different Grant Types.

I agree that this seems like something that should be fixed - and it really shouldn't take that long to do, since the functionality is already in there.

This issue has been open now for over 1½ year. Any updates on when it's going to be fixed?

[2020-02-14 20:24] PU7510 opened #8068 "Unable to use any variables (global, collection, env etc) for field description."
Hi

I started writing description for my query string parameters within API requests and since a single API has multiple requests, I wanted to create the Global variables for the field description and then use it in the description column. For ex.: My API excepts a query string paramater named channelType. In the description column for this field I want to write that "Mandatory input. Supports val

[2020-02-14 20:55] ColdCerealAtWork opened #8069 "Increase scope of postman.setNextRequest()"
**Is your feature request related to a problem? Please describe.**
If I write custom methods that I want to use in multiple collections I have to duplicate that code in each collection in each workspace.

**Describe the solution you'd like**
As a developer I would like to have a request in its own collection that I can write all of my custom methods in, and set them to a global variable. I would l

[2020-02-14 21:35] AndyJepkes opened #8070 "Extra slash in the request path redirects with wrong request method"
**Describe the bug**
My request had an extra slash in it, which is quite easy to do when using variables for the host. It seems that postman attempted to "fix" this with a 301 redirect however the request method was not respected.

**To Reproduce**
1) Set up a variable such as: host = 'http://myhost.com/'
2) Create a patch request that would produce and extra '/' in the path: `[PATCH] {{host}}/api

[2020-02-14 21:41] mrtibs2000 commented on #4818
+1

[2020-02-14 23:03] pkrish2 commented on #4888
It seems like there is already a Google Tags manager on the documentation site. Just being able to embed a tracking tag from Google Analytics would be enough! I, too, am shocked that this is not possible yet. I am thinking of moving off of Postman Documentation because I am not able to track anything on the webpage.

[2020-02-14 23:32] juhasev commented on #1070
+1 This would be really nice... Examples now start with error codes and they really should default to 200 responses... Cannot do other than deleting and recreating the examples in the order.

[2020-02-15 02:24] scipilot commented on #2853
Using Postman 7.17 - and now the collection runner also does scroll to the bottom automatically while running (as well as the console).

Page up/down don't work, but otherwise I'd say this could be closed.

[2020-02-16 00:16] n2nco commented on #5286
Same issue.

[2020-02-16 17:03] jonnytest1 commented on #8007
oO sieht so aus als müsste man ein -F pro formparam machen ; da wärs fast einfacher des request manuell zu erstellen

[2020-02-17 02:10] wizofaus commented on #7700
Likewise - cannot access my postman account at all because of this, have tried everything.

[2020-02-17 02:18] wizofaus commented on #6723
Just upgraded to latest (7.18) and get both "Cannot open Postman" on startup then stuck on 'Preparing workspace'. Killing postman tasks doesn't help. Can't see anything in %USERPROFILE%\AppData\Roaming\Postman to delete.

[2020-02-17 03:35] phrederick commented on #5813
I'm on v7.18.0 and this is a problem for me too. My colleague does not have the issue so every time I want to find where a variable is referenced in my collections I have to get him to search for me. A real pain :<

[2020-02-17 05:45] harryi3t commented on #8061
@guneyozsan Could you share a screen recording showing this bug? I wasn't able to reproduce this.

[2020-02-17 05:45] leibson opened #8071 "Importing collection or API from a JSON file"
Given: I converted my application's API JSON file from Swagger to a Postman Collection JSON file, using `openapi-to-postmanv2`.
I want to programmatically import this JSON file into Postman.

The Postman API's "import exported collection" requires a special ZIP file containing the archive JSON and collections.  The only time I have been able to generate that file was when I went over my archive an

[2020-02-17 05:49] spgit2014 opened #8072 "Black Screen when response payload is 14 meg."
**Describe the bug**
Using both Postman and PostmanCanary 7.18. Anytime the payload is around 14 Megs the screen goes black and you cannot further use pm without restarting.

**To Reproduce**
Steps to reproduce the behavior:
execute GET or POST request that returns ~14Meg response payload
Once the response is rendering, BLACK-O

**Expected behavior**
The response payload can be reviewed, searched

[2020-02-17 06:08] ankit-m commented on #7805
@ash007-postman This issue should be fixed now. Syncing of environment variables works fine. Let me give a brief description of the issue so that everyone is on the same page.

1. User A and User B are in a workspace W which has a collection C and an environment E
2. User A generates an API key - K.
3. CI uses K to access C and E to run the collection (using `newman run https://api.getpostman.com/

[2020-02-17 06:08] #7805 closed, assigned to nobody

[2020-02-17 06:12] #8071 closed, assigned to nobody

[2020-02-17 06:13] leibson commented on #8071
I found the answer myself.

[code]

[2020-02-17 06:34] sankalp0o commented on #7736
Hey @xk0der , this issue has been fixed. I'm closing this ticket but let us know the transfer doesn't work as expected or if something can be improved. Thanks for reporting!

[2020-02-17 06:34] #7736 closed, assigned to nobody

[2020-02-17 06:54] sankalp0o commented on #7586
Hey Amit, we've fixed the problem. Now if the last admin tries to leave the workspace, they'd be asked to assign someone else the admin role. Also if the last admin leaves the team, "everyone in team" get the Admin role.
I'm closing the issue but please let us know if someone else runs into this problem.

[2020-02-17 06:54] #7586 closed, assigned to sankalp0o

[2020-02-17 07:06] sankalp0o commented on #7185
Hey @JP-from-Postman , @yoniholmes
We've added collection deletes to the workspace activity feed as part of our initiative to improve the activity feed.

We're tracking suggestions around Team trash on #7377.

You can always recover archived collections from https://go.postman.co/usage/archive. Detailed steps are covered here - https://community.postman.com/t/archived-collection/2679/4
We are also

[2020-02-17 07:06] #7185 closed, assigned to sankalp0o

[2020-02-17 07:06] PrashantKhpkr commented on #4785
Sharing the collection works! And that is good enough for the moment.. however, import feature should be re-looked and rectified.

[2020-02-17 07:51] vkaegis commented on #7857
Duplicate of #8006.

Will be tracking all issues related to collection references / navigation there, so closing this for now.

[2020-02-17 07:51] #7857 closed, assigned to vkaegis

[2020-02-17 08:28] carljustineoyales commented on #8059
I created a new gmail account and it works. But all of my work is in my old account and still cant connect to it

[2020-02-17 08:39] vkaegis commented on #8050
Duplicate of #8006, tracking all requests around collection references/breadcrumbs there, so closing this.

[2020-02-17 08:39] #8050 closed, assigned to vkaegis, Raja-Simha

[2020-02-17 08:59] #4733 closed, assigned to sankalp0o, Raja-Simha

[2020-02-17 09:52] watermoon opened #8073 "visualizer fail to render within Promise chain in Tests"
visualizer in the chain block ('then') will not show visual result
[code]

[2020-02-17 10:09] ArjunSingh-PM commented on #7839
Closing the issue for now, as we have deployed stability fixes for the same. Please do let us know if the issue continues to persist.

[2020-02-17 10:09] #7839 closed, assigned to preethammavin, ArjunSingh-PM

[2020-02-17 10:22] #7361 closed, assigned to Cazaimi, Raja-Simha

[2020-02-17 10:24] #7143 closed, assigned to Cazaimi, Raja-Simha

[2020-02-17 10:26] Raja-Simha commented on #7058
The issue has been fixed.

[2020-02-17 10:26] #7058 closed, assigned to godfrzero, Raja-Simha

[2020-02-17 10:27] #7054 closed, assigned to godfrzero, Raja-Simha

[2020-02-17 10:28] #7029 closed, assigned to nobody

[2020-02-17 10:30] Raja-Simha commented on #6997
Issue has been fixed

[2020-02-17 10:30] #6997 closed, assigned to Cazaimi, Raja-Simha

[2020-02-17 10:43] #6806 closed, assigned to Raja-Simha

[2020-02-17 11:06] Cazaimi commented on #7175
@Raja-Simha, this issue has been solved and can be marked as closed.

[2020-02-17 12:09] jadamita commented on #7963
Wow! I have no idea how I over-looked that option.

Thanks

[2020-02-17 12:09] #7963 closed, assigned to vkaegis

[2020-02-17 12:15] appurva21 commented on #7520
Closing the issue as we are not able to reproduce it. Please feel free to reopen if the issue still persists.

[2020-02-17 12:15] #7520 closed, assigned to coditva

[2020-02-17 12:17] appurva21 commented on #7597
Hey @Warkdev,
Closing the issue as we are not able to reproduce it on the latest app version (`v.7.18.0`). Please feel free to reopen if the issue still persists.

[2020-02-17 12:17] #7597 closed, assigned to saswatds

[2020-02-17 12:17] appurva21 commented on #7664
Hey @RobWaterhouse95,
Closing the issue as we are not able to reproduce it on the latest app version (`v.7.18.0`). Please feel free to reopen if the issue still persists.

[2020-02-17 12:17] #7664 closed, assigned to saswatds, ritwijsinha

[2020-02-17 12:23] appurva21 commented on #7780
Hi @Quietbeat,
I am closing the issue as we are not able to reproduce it on the latest version of the app (`v.7.18.0`). Please feel free to reopen if the issue still persists or if you can provide us with some more info which will help us in reproducing this issue.

Thanks.

[2020-02-17 12:23] #7780 closed, assigned to vvs11, saswatds

[2020-02-17 12:28] coditva commented on #8045
@cngrindstaff @mp-loki @F-shaikh This is fixed in the latest Postman App `7.18.1`! Do let us know if you have any more concerns.

[2020-02-17 12:35] ArjunSingh-PM commented on #7569
Closing the issue for now, as we have deployed stability fixes for the same. Please do let us know if the issue continues to persist.

[2020-02-17 12:35] #7569 closed, assigned to elssar, godfrzero, ArjunSingh-PM

[2020-02-17 12:41] jalal-jafari commented on #5394
It's a nice feature to have, waiting to be added.

[2020-02-17 13:09] Cazaimi commented on #6736
@siemvaessen, I suggest that for the time being, you may split up your collection into smaller collections and link all of them to the parent collection. This will let you have the same amount of data, but in smaller collections, with much better loading times.

You can use markdown in the parent collection to insert links to all child collections.

![Screenshot 2020-02-17 at 6 38 39 PM](https://u

[2020-02-17 13:16] Cazaimi commented on #6940
For posterity: The new plans allow enterprise teams to publish documentations on domains up to 25 domains: https://blog.postman.com/2020/01/06/announcing-updated-postman-plans-and-pricing/

[2020-02-17 13:18] Cazaimi commented on #5655
@Raja-Simha, this can be marked as closed as this operation is now possible via the code generation settings
![Screenshot 2020-02-17 at 6 47 25 PM](https://user-images.githubusercontent.com/13660453/74657348-0bace780-51b6-11ea-9c74-b253c1fdb0f0.png)

[2020-02-17 14:04] mandaputtra commented on #8007
@jonnytest1 if the chrome copy does curl like that so postman must behave like that too, whether using -F or not. When chrome / firefox implements it, so it will be nice if postman also can parse that

[2020-02-17 14:12] oxygenecore commented on #3094
I would also want to have default values for local variables (appearing in one step, for example) without having to expose this variable to the whole collection.

[2020-02-17 14:34] roennow commented on #4318
So has this been taking completely off the road map?

[2020-02-17 14:44] Sawiq opened #8074 "[Visualizer] CSS selector nth-child does not work as expected"
**Describe the bug**
While rendering a list in visualiser the css nth-child selector does not work. For example every row of a table is rendered as if it was the first row.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a visualizer template similar to the below:
[code]
2. Perform an API request resulting in an array, of objects containing fields *field1*, *field2*.

**Expected behav

[2020-02-17 16:28] mikestopcontinues opened #8075 "Postman should follow OS's preferred theme"
**Is your feature request related to a problem? Please describe.**
Postman has a great light/dark theme, but a growing number of users allow their desktop/mobile OS to adjust the theme of ALL apps based on the time or ambient light conditions. This feature is excellent from a UX perspective, because it maximizes readability regardless of context (and it also seems to have a benefit regarding circa

[2020-02-17 16:36] fergardi commented on #697
What I ended up using was the PreRequest scripts in a the collection itself, so that every single request inside that collection executes that script and gets the API token refresh, for example.

[2020-02-17 17:17] cparker4486 commented on #8038
I'm having this issue. I'm trying to work with Microsoft's Dynamics Business Central (formerly known as NAV) on-premises and our server is setup for NTLM authentication. I was not aware of the distinction between NTLMv1 and NTLMv2 but the behavior described here is identical to what I'm experiencing.

Authenticating through browsers (all the major ones) works fine.

[2020-02-17 17:22] den50000 commented on #4091
Still not working. I got Postman Console error "Error: [ReadHuffmanCode] invalid num_codes or space". If I turn off brotli compression it working properly.

[2020-02-17 17:23] bencami22 commented on #697
The problem with that is you will have duplicate code in each pre request
script you need an Api token.

On Mon, 17 Feb 2020 at 17:36, Fergardi <notifications@github.com> wrote:

[2020-02-17 18:08] krishnakumar-tce commented on #7711
Hello, any update on when this fix will be in production?
This is really impacting the appearance of the documentation and click to expand was one of the favorite feature while documenting large tables.

[2020-02-17 19:10] BryanMorgan commented on #7886
You can use the `replaceIn` function to set a variable and then set your `test_loginPassword` value like this:

[code]

[2020-02-17 20:55] Mr3dfx commented on #7294
Using Postman 7.18.1, Windows 10 Enterprise:
This is just sitting on the check for update screen, no queries, literally just sitting here...
![image](https://user-images.githubusercontent.com/18452291/74685778-5ada2480-5184-11ea-9eda-fb1f0aaa3cd4.png)
Postman becomes so unresponsive I have to use task manager to kill it. I can't even create a new query without Postman choking.

What info would you

[2020-02-18 00:31] mburke05 commented on #5039
this is still an issue on windows 10, has there been any update?

[2020-02-18 01:04] anderjoy opened #8076 "Postman waits endlessly when he receives a 102 statuscode."
**Describe the bug**
When the server responds with a 102 code (processing), the postman waits infinitely.

If a timeout time is set, the postman decrees a timeout after that time, but does not process statuscode 102.

**To Reproduce**
Steps to reproduce the behavior:
Just call an API that returns 102.

**Screenshots**
![image](https://user-images.githubusercontent.com/6249874/74695001-204aa900-51d

[2020-02-18 01:45] chrisdeso commented on #6940
Thanks @Cazaimi – closing this for now!

[2020-02-18 01:45] #6940 closed, assigned to vkaegis, Raja-Simha

[2020-02-18 03:05] arisliang opened #8077 "Generate postman collection from asp.net core"
We have an asp.net core project and using postman. We like it both. However, in order to test it in postman, we have to manually create the postman requests to call the web API.

Is there a way to scan through the web API, and create / update them in postman automatically?

[2020-02-18 03:16] arisliang commented on #8077
PS, we're using a paid version of postman, if that helps.

[2020-02-18 04:00] xk0der commented on #8063
There is a documented way to fetch the request's URL within scripts using the `url` attribute of the  [pm.request](https://learning.postman.com/docs/postman/scripts/postman-sandbox-api-reference/#pmrequest) object.

_Example:_

    let currentUrl = pm.request.url.toString();

_References:_
* http://www.postmanlabs.com/postman-collection/Request.html
* http://www.postmanlabs.com/postman-collection/

[2020-02-18 04:17] #7175 closed, assigned to Cazaimi, Raja-Simha

[2020-02-18 04:20] #5655 closed, assigned to sankalp0o, Raja-Simha

[2020-02-18 04:33] Raja-Simha commented on #7711
@krishnakumar-tce We are currently working on a fix for this. We will update this issue as soon as the fix is out.

[2020-02-18 04:47] pranaya94 commented on #8065
Hi,
When nothing is passed in the header then all 3 examples become equal candidates for a response and one of them is chosen.
This happens because when the `x-mock-match-request-headers` header is not sent (or no value is set therein), the headers set in the example requests are ignored.
Hence, the examples 'default', 'ONE' and 'TWO' are all treated equally. In your case, example 'ONE' was chosen

[2020-02-18 05:42] Raja-Simha commented on #6530
Duplicate of #6421

[2020-02-18 05:42] #6530 closed, assigned to Raja-Simha

[2020-02-18 05:55] sivajrm commented on #7934
Hi there,
Is it possible to downgrade to a version that doesn't have this issue?

Thanks.

[2020-02-18 06:16] #6170 closed, assigned to dhineshwiz, Raja-Simha

[2020-02-18 06:23] prashantagarwal commented on #7880
@YogiReddyY We use this repo for tracking possible bugs and new feature requests. I think this question is more apt for our [Postman community](https://community.postman.com/). I am sure our awesome developer community will help you in solving your use case.

[2020-02-18 06:23] #7880 closed, assigned to nobody

[2020-02-18 06:33] #5919 closed, assigned to nobody

[2020-02-18 06:37] #7763 closed, assigned to vikiCoder

[2020-02-18 06:38] Raja-Simha commented on #7924
@OlgaUtochka I am assuming you understood how to link to different sections within postman documentation. Closing this issue. Do re-open if you are still blocked on this.

[2020-02-18 06:38] #7924 closed, assigned to vkaegis, Raja-Simha

[2020-02-18 06:40] saswatds commented on #7800
@praveendvd
Referring to the documentation says

Their value gets destroyed at the end of *a run* and not end of the iteration.

[2020-02-18 06:49] sisihi commented on #798
Well, I suppose RickHough's solution would be the only approach.

[2020-02-18 07:00] sanudatta11 commented on #7585
I am having same issue of signature mismatch. My request works fine when i upload via binary but failing when trying for Form - Data method

[2020-02-18 07:18] m3dbedb commented on #7390
In postman 7.18.1 for windows 7 32 bit curl body imports to x-www-form-urlencoded key, and recipient does not understand it

    curl -i http://localhost:8084/api/v1/a -d '{
    "name":"test1",
    "description":"тест 1"
    }'

result

    curl -L -X POST 'http://localhost:8084/api/v1/a' -H 'Content-Type: application/x- www-form-urlencoded' --data-urlencode '{
    "name":"test1",
    "description

[2020-02-18 07:32] Raja-Simha commented on #8068
Duplicate of #6795

[2020-02-18 07:32] #8068 closed, assigned to vkaegis, Raja-Simha

[2020-02-18 09:43] #8049 closed, assigned to harryi3t

[2020-02-18 10:34] SemyenSoldatenko commented on #8062
I have the same issue.
When my search phrase exists in any request, it looks like ALL my requests match 😕

Additionally search can not find any request by:
⤵️ by parameter name
⤵️ by parameter value
⤵️ by path fragment

[2020-02-18 10:52] baaa commented on #4272
why is this closed?

[2020-02-18 10:57] apremkumar commented on #4687
Postman on Ubuntu 18.04 consumes a tad more than 6 GB of the available 16 GB RAM.

[2020-02-18 10:58] stangrincom commented on #5194
**+ 1**

[2020-02-18 10:59] verzada commented on #3019
Currently Postman is a nightmare to install due to lack of supporting AllUsers installation.
Even SoapUI installs in Program Files by default.

[2020-02-18 11:06] robinsturmeit opened #8078 "Persist responses between app restarts"
**Is your feature request related to a problem? Please describe.**
Sometimes you operate against an API with limited records available for testing. This makes API responses a scarce resource. It's frustrating when a response disappears because you had to close the application for some reason.

**Describe the solution you'd like**
Persist any response in a tab until either
* A new response is being

[2020-02-18 11:16] Blacksmiss commented on #7934
Hi Siva,unfortunately not - already tried to get back to the Version used before.My tries always resulted in the same error.Thanks to you,Udo Von meinem Samsung Galaxy Smartphone gesendet.
-------- Ursprüngliche Nachricht --------Von: Siva Sivasubramoniam Jayaram <notifications@github.com> Datum: 18.02.20  06:55  (GMT+01:00) An: postmanlabs/postman-app-support <postman-app-support@noreply.github.c

[2020-02-18 11:41] radurusu commented on #1066
+1

[2020-02-18 12:23] AndrewIvlev commented on #7984
Adding an ftp module for node.js will solve the problem?

[2020-02-18 13:29] RRTLPA commented on #3706
Anything new about implementing client certificate authentication to be used with Monitors?

[2020-02-18 13:56] YashPethe commented on #2762
Hey. I found a solution, just put this on request body

<soapenv:Header>
    <wsse:Security soapenv:mustUnderstand="1" xmlns:wsse="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd">
        <wsse:UsernameToken>
            <wsse:Username>XXXXX</wsse:Username>
            <wsse:Password Type="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-username-token-pro

[2020-02-18 13:57] u28057 opened #8079 "Postman Runner tool not generating multiple api calls"
I am trying to use the runner tool to generate multiple requests on one POST call.

once i upload the csv to the runner tool and click SEND, it generates only one call with status code of 200, followed by status code of 400 for the rest of the API Calls.

<img width="947" alt="Postman Runner tool error" src="https://user-images.githubusercontent.com/61194184/74742412-8b759900-522c-11ea-90aa-be0402

[2020-02-18 15:21] VicKetchup commented on #6850
The issue is unfortunately back, can be seen in Native app and on Monitors.

[2020-02-18 15:29] tparikka commented on #2762
@YashPethe That is only a partial solution and does not encompass all the security features that a service might require, such as timestamps, nonces, and more. Also that XML is malformed and wouldn't be accepted, as some of the tags are missing brackets or are mismatched.

[2020-02-18 16:15] ribosome100110 commented on #8054
Having the exact same issue. When selecting Manage Tokens I get the "Something Went Wrong" screen

[2020-02-18 16:25] eupn11 opened #8080 "Willing to help students?"
Hi guys!

I am part of a group of students, and for a certain course (digital innovation) we want to learn about how a github project is coordinated. We are looking for two contributors in this project, who want to help us out. We have some short questions. We are willing to contribute to this project as well, by for example testing out.

You can email me at eupn11@gmail.com

[2020-02-18 17:12] ildemartinez opened #8081 "Run result "environment not show correct environment""
**Describe the bug**
In the Run Results from Runner near the tittle of the collection showns the environment used..if you use one environment it show the correct name but if you press retry to run again the tests "No environment is shown"

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Runner select a environment and run the tests'
2. The test runs and the Run results shows the correct

[2020-02-18 17:59] sivajrm commented on #7934
Oh, oh!
That's sad to hear. I wish Postman allows us to download the previous stable version.

[2020-02-18 18:04] jwbanning commented on #8065
meow.mov
<https://drive.google.com/file/d/1GgppFq_rFef_xy6nh0X_oUibDIM1JvTq/view?usp=drive_web>

I am still unsure. I would think when i do not pass anything in the header
the default example would hit.. See the movie

On Mon, Feb 17, 2020 at 10:47 PM Pranaya Tomar <notifications@github.com>
wrote:

[2020-02-18 18:45] abhijitkane commented on #8077
@arisliang Not yet. Would love to know more about your workflow, though. Is any of the code publicly available? Feel free to reach out on help@getpostman.com as well.

[2020-02-18 19:16] JoyShafer commented on #6761
Restarting Postman fixed this issue for me.

[2020-02-18 19:45] mantoshelis commented on #8076
Same for me on Arch Linux.

[2020-02-18 19:50] franksunnn commented on #8064
Updated:
I've found the deprecated schema validation lib tv4 encounters the same problem.
It'll error out too if we add Object.prototype before the test.

[2020-02-18 20:03] benfletcher commented on #4244
FWIW, [@godfrzero says](https://github.com/postmanlabs/postman-app-support/issues/4912#issuecomment-411006777) that #4912 will also resolve this issue. That issue is currently in the Now column while this one is in Later.

Either way, it's exciting that this issue seems to be getting prioritized. Thank you, it will really help us clean up some annoying duplication!

[2020-02-18 21:17] #8063 closed, assigned to nobody

[2020-02-18 21:26] shamasis commented on #7882
@gpmind ... we’ve seen substantial cases where auto magical trimming of input fields causes issue while debugging. Someone has request failing because of newline in their programme and when they run in Postman it works because we trimmed and they don’t know why.

Instead of trimming, we are adding ways to highlight the newline and boundary white space and other “possibly” invalid characters. This

[2020-02-18 21:30] gpmind commented on #7882
Sounds good, thank you

[2020-02-18 21:40] slkorolev commented on #8054
The error still persists in 7.18.1 on macOS

[2020-02-18 21:55] wendywww commented on #3174
Is there any updates on this feature request? I don't see any option to add data file from Monitor UI ATM. Apparently, there are quite a lot similar request on this. Please do consider ship it sooner!!! Thanks

[2020-02-18 22:11] TheClassic commented on #7882
I just encountered this issue. It was difficult to identify that a newline was inadvertently pasted into the AccessKey field. The request failed as described above. It would be good if this was field was better validated by Postman before attempting the request

[2020-02-18 22:12] TheClassic commented on #7162
This seems at least slightly related to https://github.com/postmanlabs/postman-app-support/issues/7882

[2020-02-18 22:35] samuelAle commented on #7252
I'm currently experiencing this issue, but I'm able to use the work around it by turning off SSL certificate verification.

[2020-02-18 23:52] mlda065 commented on #6029
I'm getting the same problem.

# Steps to reproduce

1. Go to https://www.postman.com/downloads/
2. Click the top download button (currently version 7.18.0)
3. Double click the downloaded file
4. Optionally: Move it to the applications folder and open from there

# Versions

* Postman Version 7.18.0
* Mac OS Catalina 10.15.3

# Expected Results

Either the app opens, or an installer for the app op

[2020-02-19 00:47] coditva commented on #4091
Hey @den50000, sorry to hear that. Do you have any public URL I can try to reproduce this issue?

[2020-02-19 00:53] coditva commented on #7252
Hey @samuelAle, can you provide some more information about the problem you're facing?
1. Does the App simply closes or does the authentication fail?
2. Is there any public endpoint we can use to test this out?
3. Can you send logs for this crash to us at help@postman.com (mention the issue ID in the email)? Here's how to find logs: https://support.getpostman.com/hc/en-us/articles/360033270134-Whe

[2020-02-19 02:25] cloud9tn commented on #5990
Same issue here - latest version, win10, shit tons of RAM. Wasnt an issue until I got the latest update

[2020-02-19 02:58] TianLiuAu opened #8082 "Can't copy all output in console for7.17.0"
**Describe the bug**
I can't copy whole output in Console after run any collections

**To Reproduce**
Steps to reproduce the behavior:
1. Click Runner, Postman Console on any workspace.
2. Select a collection, Environment, Data , then Start Run in Runner
3. In the Postman Console, should see some output of the collection
4. Click Edit-Select All, then Copy
5. Open Notepad, and ctrl+v
6. Only see a

[2020-02-19 05:07] ArjunSingh-PM commented on #7960
@RainerGoermann Thank you for writing to us.

[2020-02-19 05:31] vvs11 commented on #8078
@robinsturmeit Thanks for writing in!
You could try enabling save responses in the history tab and sending the request. The responses will be persisted id you restart the app. Let us know if it satisfies your use case

[2020-02-19 06:13] appurva21 commented on #8081
Hi @ildemartinez , Thanks for reporting the issue.
Can you please clarify what exactly the issue is. Is it about the correct environment name not being displayed or the environment not being actually used on retrying the run?

[2020-02-19 06:58] pranaya94 commented on #8065
All 3 examples are identical if their headers are ignored. The headers are ignored if the `x-mock-match-request-headers` header is not passed (or is empty). Hence any one of the 3 may be chosen (though the same one will be chosen every time). There is no construct of 'priority' or 'ordering' or 'default' among identical examples in Postman currently.

[2020-02-19 07:48] dreamiurg commented on #2934
Lack of `audience` support in the body of OAuth2 requests makes postman next to impossible to use without workarounds.

[2020-02-19 07:53] Misiu commented on #208
Having the ability to import wsdl file would be awesome!
Finally, we could have One Tool, One Tool to rule them all, One Tool to find them :)

[2020-02-19 08:57] ilya-chumakov commented on #3825
Still waiting for the official implementation :)

[2020-02-19 09:27] IeuanWalker commented on #7130
Hi @preethammavin

I'm having the same issue.
If i go to APIs i get the below screen -
![image](https://user-images.githubusercontent.com/6544051/74820316-b843b200-52f9-11ea-8b26-19567559f08d.png)

Also I'm unable to edit or create new Work spaces -
![image](https://user-images.githubusercontent.com/6544051/74820371-cc87af00-52f9-11ea-92de-ba57ab2b447b.png)

I am behind a firewall/ proxy, I've add

[2020-02-19 09:45] lesmuc commented on #7350
On version v7.18.0 and issue is still there.

[2020-02-19 10:36] robinsturmeit commented on #8078
It definitely lowers the priority of my feature request considerably. Thank you!

Still would be nice just to persist the last response in the actual request tab, though.

[2020-02-19 10:40] ankurdengla commented on #7130
Hey @IeuanWalker !

The `Proxy` configuration in `Settings` only applies to the request sending flow in the app. The other features such as APIs, workspaces, login, syncing use the system-defined proxy settings by default. We currently do not have support for proxy servers that require authentication, but we're working on it. We're tracking it in this thread - https://github.com/postmanlabs/postma

[2020-02-19 11:09] Mahonnant commented on #8062
New behaviour reverted in v7.18.1 (bug #8045) ==> you can close this feature request

[2020-02-19 11:09] #8062 closed, assigned to nobody

[2020-02-19 11:15] VicKetchup commented on #6862
The branch names are now shown in the find window as well as other places like the runner, so looks good :)

[2020-02-19 11:15] #6862 closed, assigned to nobody

[2020-02-19 11:19] VicKetchup commented on #6852
It's been quite a while now and multiple new versions have been released, however this setting is still ON by default, when can we expect to see that change, surely it's not hard to do.

[2020-02-19 11:28] VicKetchup commented on #6841
Possible other solution, allow to search through variables and their values within the Environment quick look and Manage Environments windows with ability to edit.

[2020-02-19 11:40] raphaelmsr commented on #6023
Hi all, this is a very concerning issue .. Please communicate on this, I can't use body for the request

[2020-02-19 13:51] VicKetchup commented on #6614
Using the steps provided, got the validation working, majority of the requests are being validating against wrong paths or can't find the path at all:
![image](https://user-images.githubusercontent.com/43671684/74840161-695c4380-531e-11ea-9f15-97b29172800e.png)
For the requests that correct path was found, the validation on response has no details on where the issue is (clicking on the text just c

[2020-02-19 14:52] cyrielle-hada opened #8083 "Improve flow to unshare a collection"
**Is your feature request related to a problem? Please describe.**
It is not so obvious that once a collection is shared, it becomes a team owned collection.
Due to this behavior, deleting a collection from the team workspace deletes it as well from the personal workspace.

It is not so intuitive to **find out how to unshare the collection**. For now, the solution to un-share a collection is to re

[2020-02-19 17:03] wheezymustafa commented on #7488
I'm also seeing this issue when trying to hit an Azure File Service endpoint:

`<?xml version="1.0" encoding="utf-8"?>
<Error>
    <Code>InvalidHttpVerb</Code>
    <Message>The HTTP verb specified is invalid - it is not recognized by the server.
RequestId:9f37517a-401a-006b-7f45-e7b49e000000
Time:2020-02-19T16:55:10.7215786Z</Message>
    <Verb>UT</Verb>
</Error>`

When I called the postman-echo.c

[2020-02-19 18:50] baileymatthewr commented on #5172
For documentation that requires a lot of preface, the code is (can be) deep in the page. It would be very practical to allow this feature.

[2020-02-19 19:47] KeetsScrimalittle1 commented on #3897
Come on make this into a real application with supported switches at least for install location.  Copying the install files after installing is a nuisance.

[2020-02-19 20:37] #8065 closed, assigned to pranayat, dushyantchillale

[2020-02-19 20:46] jwbanning opened #8084 "Update mocks to consider the rank the presence and absence of header parameters"
If you want to use an endpoint and use mocks to respond accordingly to header parameters using 'x-mock-match-request-headers', if you do not pass a header parameter and/or 'x-mock-match-request-headers' you can not have an example in the mock server that handles this.

The endpoints in the mock examples are all the same (i.e. {{url}}/someThing). It is just the header parameters that differ. Watch

[2020-02-19 21:42] agmcleod opened #8085 "Importing OpenAPI spec causes header parameters to be duplicated for each response type."
**Describe the bug**
When working on an API for a client, I imported the resolved JSON documentation export from swagger hub. I noticed when trying to publish the docs via postman, that the error response would show the API Key & request signature headers multiple times, and would also omit it for the other responses.

**To Reproduce**
I then tried generating a new api from scratch, using an examp

[2020-02-19 22:05] mackaaij commented on #3694
Same here. I have an odd endpoint I'd like to document a few examples for. Instead of adding the same request url + params multiple times just to switch the body, I wanted to add some examples. But people cannot send the examples... If you'd follow @a85's suggestion and copy over the request, consider keeping the request as an example instead of just overwriting (or at least notify the user the ba

[2020-02-19 23:25] josenicomaia commented on #1180
+1
+1
+1
+1

[2020-02-20 07:26] balikalina commented on #2701
+1, HTTP/2 support is most important feature of current apps.

[2020-02-20 08:26] aasen commented on #4603
Does this means that it isn't possible to mock preflight requests? It seems like I can't override any headers, and that saved examples aren't looked that at all. Which means that I can't use mock server for recreating and fixing errors regarding this.

[2020-02-20 08:38] girtsn commented on #6922
Seems that the other ticket for the proxy usage, got fixed and is in canary builds. https://github.com/postmanlabs/postman-app-support/issues/6053

[2020-02-20 08:38] #6922 closed, assigned to kamalaknn

[2020-02-20 08:39] girtsn commented on #6053
Excellent, seems to be working as advertised, when is this going to be released via the normal release channel? Our organization does not allow to use canary builds officially.

[2020-02-20 09:03] Sancher17 commented on #4198
Yes, that is works, but will be better to create a special option for this purpose ) .

[2020-02-20 10:04] fbacker commented on #4391
+1

[2020-02-20 11:27] pranaya94 commented on #7988
Hey, you should be able to see the integration listed in the 'Configured Integrations' tab.
Can you confirm if you are viewing the 'Configured Integrations' tab in the same workspace in which your API exists?
Also, share screenshots if you can.

[2020-02-20 12:10] cyrielle-hada opened #8086 "API usage should count fort team workspaces only"
**Feature improvement of:** the creation of APIs via the API tab.

<img width="486" alt="Screen Shot 2020-02-20 at 12 09 13" src="https://user-images.githubusercontent.com/47351631/74932473-d5e84880-53d9-11ea-9ff8-a771268ee86c.png">

**Is your feature request related to a problem? Please describe.**

Right now, if a user joins a team with X APIs, the number of APIs this user has on his personal ac

[2020-02-20 12:45] rockthis13 commented on #6932
It don't work, in Canary in Usual Postman, has version 7.18.1, it simple can't open the app.
And I don't know do I need to provide a path in windows, do I need reinstall all again.
Honestly it opened once, but no sense after this nothing happend.

[2020-02-20 14:23] SaschaHeyer commented on #7700
I have the same behavior any updates?

[2020-02-20 14:24] BoraKaraca commented on #3418
@leobrines Thank you its worked me

Postman new version its very simple global variable to set this way.

I import json data in postman all request looks like {{baseUrl}}/api.. I use this steps
Before
![Before](https://user-images.githubusercontent.com/23034393/74943528-933c6580-5405-11ea-90e1-cf90c8817966.png)
Step1
![Step1](https://user-images.githubusercontent.com/23034393/74943558-9e8f9100-540

[2020-02-20 14:50] hc-danieltiziani opened #8087 "Import CURL command does not parse the Digest Auth flag correctly"
**Describe the bug**
When you import the curl command below, it does not adjust the authentication to use the Digest Auth. It used the Basic Auth instead.

[code]

**Expected behavior**
Use the Digest Authentication

**App information (please complete the following information):**
 - App Type Native App
 - Postman Version 7.14.0 (7.14.0)
 - OS: macOS High Sierra 10.13.2

[2020-02-20 15:05] mackaaij opened #8088 "Contact the "owner" of a postman.co subdomain"
I was looking to claim a postman.co subdomain which is already taken. I can't see who owns it so I can contact the owner/colleague to see if we share the same idea and collaborate.

As a workaround, I contacted Support but they can only confirm the subdomain is indeed claimed: "Due to the security & Privacy constrain we won't be able to provide more information on this domain (domain owner or comp

[2020-02-20 16:35] georgesunil81 commented on #3033
Similar requirement to the above, I have a response from prior API requests that I want to pass in as form-data/files into subsequent API requests when running using the Collection Runner. Could we have an ability for Postman to save responses into the "Working Directory"? This was we control where Postman writes to and it be less of a security issue. The idea is that the subsequent API requests w

[2020-02-20 16:40] sankalp0o commented on #8086
Thanks for the feedback @cyrielle-hada! We've heard similar questions around how teams should be using APIs and we've answered some of them here - https://community.postman.com/t/postman-pro-total-number-of-apis/10108
APIs are a team resource and all users within a team are counted as being part of the team and hence team limits apply to them.
I'm closing this issue for now, but please let us know

[2020-02-20 16:40] #8086 closed, assigned to nobody

[2020-02-20 17:25] saswatds commented on #7941
@HenningBertsch This fix is be available in the latest release of the app. Closing this issue now, feel free to reopen if the issue persists for you.

[2020-02-20 17:25] #7941 closed, assigned to saswatds

[2020-02-20 17:41] eliasaj92 commented on #5039
My environment variables aren't being read either on Windows 10 on 7.18.1

Collection variables work fine however

[2020-02-20 19:52] cec commented on #6023
@raphaelmsr use `%23` in place of `#`

It sucks, but it's a workaround

[2020-02-20 20:55] tiaraju commented on #7983
That's also happening to me. For quite a long time actually.
Any news?

[2020-02-20 20:56] tiaraju commented on #7983
Also reported in #7895

[2020-02-20 20:57] tiaraju commented on #7895
Same problem happening to me.
Any news about it?

Same problem reported in #7983

[2020-02-20 21:01] kevinswiber commented on #6023
Hi there.

Postman doesn't automatically URI-encode values in Params.  You can highlight what you want to encode, right-click, and select `EncodeURIComponent` to do this manually.  Reference: https://learning.postman.com/docs/postman/sending-api-requests/requests/#sending-parameters

![image](https://user-images.githubusercontent.com/78582/74978186-f10a8680-53e0-11ea-8365-795c35194b82.png)

Additi

[2020-02-20 21:46] georgesunil81 opened #8089 "Ability to write API responses into the Postman Working Directory"
I have responses from prior API requests that I want to pass in as form-data/files into subsequent API requests when running collections using the Collection Runner. Could we have an ability for Postman to save responses into Postman's "Working Directory" programmatically through the test scripts? This way we control where Postman writes to and it be less of a security issue. The idea is that the

[2020-02-20 22:31] mrccnt commented on #2701
damn! i missed it to congratulate... happy birthday issue! you are now 3 years old!

[2020-02-20 22:41] kevinswiber commented on #8089
Hey @georgesunil81, one option would be to store these values in Environment Variables using the Tests sandbox.

https://learning.postman.com/docs/postman/variables-and-environments/variables/#using-variables-in-scripts

You could use `pm.environment.set('result', JSON.stringify(pm.response.json()))` to store an object value and `const val = JSON.parse(pm.environment.get('result'))` to retrieve an

[2020-02-20 23:24] ArtashMardoyan commented on #4009
any news?

[2020-02-20 23:26] iDiogenes commented on #6614
@arlemi - thanks I will track the progress on the above. I also found what appears to be another issue. Please let me know if you guys are able to reproduce. In my request example and schema I have a bool, but it is saying it is only valid as a when I change the schema to be a string and not a bool even though I am returning t/f.

[2020-02-21 00:25] kaiyuan01 opened #8090 "Variable in Post call raw body request payload was not resolved"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem. Please make sure the screenshot does no

[2020-02-21 01:47] jcald1 opened #8091 "Unable to drag/expand in client app"
Using Postman  Version 7.18.1 (7.18.1) on MacOS.  In the collection window, I tried to expand/drag the vertical divider between the list of requests and details and couldn't. I also wasn't able to in the environment variables window.

It would also be very helpful if we could maximize the environment variables pop up and to drag variables to new positions.

[2020-02-21 03:06] kaiyuan01 commented on #4061
This issue still exists in newest version 7.18.1. PLease fix it

[2020-02-21 03:07] kaiyuan01 commented on #4061
Please re-open it as 7.18.1 still has this issue.

[2020-02-21 03:08] kaiyuan01 commented on #4061
Same issue now.

[2020-02-21 06:51] arnavsaxena17 opened #8092 "line-height issues in editor"
Hi,

I'm using the native app on Mac OS Sierra 10.12.6.
I am unable to change the line height in the editors and its stuck at the fixed height and is making reading difficult.
Edit: I'm using Postman Version 7.18.0 (7.18.0)
Screenshot attached.

Could someone help?
![Screen Shot 2020-02-21 at 12 17 05 PM](https://user-images.githubusercontent.com/16238974/75011061-b0744100-54a4-11ea-9f1c-60f0d2f83

[2020-02-21 08:34] aakrem commented on #4636
+1

[2020-02-21 09:03] stvrdinic opened #8093 "Sharing collection between workspaces does not share values for collection variables"
When sharing a collection between workspaces, and the collection at hand has it's own collection variables (keys and values), for newly created/shared collection in the new workspace values for the collection variables are blank.

Steps to reproduce:
1. create a workspace X with a collection
2. define variable keys and values for the collection
3. create another workspace Y
4. share collection fro

[2020-02-21 09:09] stvrdinic commented on #8093
Forgot to mention: both workspaces are personal/private

[2020-02-21 09:16] AtillaAcar commented on #3438
We liked the document creation part of Postman. However, we need to export them as pdf. Were you able to find a better tool for documentation?

[2020-02-21 09:19] AtillaAcar commented on #3438
We liked the document creation part of Postman. However, we need to export them as pdf. @zanderwar were you able to find a better tool for  documentation?

[2020-02-21 11:10] ulgens commented on #6713
@preethammavin What about that details? :slightly_smiling_face:

[2020-02-21 13:33] IeuanWalker commented on #7130
@ankurdengla ahh great thanks

[2020-02-21 14:07] Raja-Simha commented on #3438
As we look into this request, I would like to start a conversation to help us understand why you need to export documentation as PDF or static assets. Anything around your team workflows or why this cannot be achieved with the current feature set will help us find a solution that fits most. @AtillaAcar @absynth47215 @shaunwarman or anyone looking for this feature, do share your thoughts.

[2020-02-21 14:09] absynth47215 commented on #3438
My usecase is exporting a snapshot of our API documentation to give to my customers. HTML is too unwieldy for this, and I cannot count on them using Postman as well, some do and some don't. I haven't found a way to do this with Postman yet.

[2020-02-21 14:20] aswope commented on #3438
Because we have to deliver it to our customers and other API subscribers, who may not have, or want, Postman access online.

#####################################################################################
Scanned by MailMarshal
#####################################################################################

[2020-02-21 14:32] AtillaAcar commented on #3438
First of all thank you for your consideration.

When I give api documentation to my customers with Postman html docs, I
think these apis will be visible to all customers. I have different
customers and I give them some collections and not giving them some.

In addition, postman documents have no authentication for customers, I
think it would be safer to send them with pdf.

On Fri, Feb 21, 2020 at

[2020-02-21 15:29] clakiwi opened #8094 "Collection Runner - able to select a range of Iterations to execute when using data from a file"
**Is your feature request related to a problem? Please describe.**
When using the Collection Runner with an input data file, at present you can select how many iterations (or records from the data file) to execute. This starts from the first record in the file to the number specified.

**Describe the solution you'd like**
I'd like to be able to select the range of iterations to execute against. i,

[2020-02-21 15:49] atljoseph commented on #4660
i have a program that generates env config files on the fly and i import these with the folder import feature. why would you make me go through and remove obsolete env files that have been regenerated one by one?

[2020-02-21 16:00] atljoseph commented on #4660
Better yet, why in the world do you guys allow multiple envs with the same ID? What is even the point of the ID? If I import an env with the same ID, as a developer, I would expect you product to overwrite (or at least prompt for an overwrite) the previous env version.

[2020-02-21 16:03] atljoseph commented on #4660
Furthermore, why does it not import the envs with modified names, like "cupcake", then "cupcake (1)"? So annoying

[2020-02-21 16:57] stephan-procore commented on #7263
I am experiencing the same issue.  My user account has admin and developer roles.  The monitors I am trying to delete are causing errors that are reported via slack integration, creating undesired noise.   The slack integration, however, are not showing in the web console.  Please advise.

[2020-02-21 17:42] cyrielle-hada opened #8095 "Indicate the name of the user who sent the invite to join a team"
**Is your feature request related to a problem? Please describe.**
The email _You have been invited to join a Postman team_ doesn't tell who is behind the invitation.
It only says the name of the team - if a team has a default Postman team name (e.g winter-robot-6212) - the user has no way to know who is sending it.

<img width="660" alt="Screen Shot 2020-02-21 at 17 42 01" src="https://user-image

[2020-02-21 17:46] JP-from-Postman opened #8096 "totalTime (total run time) missing from exported run results"
**Describe the bug**
In previous versions of Postman, exporting Collection run results included "totalTime": the total time taken by the Collection run. In 7.18.0, this is missing. This change, if intentional, is not included in release notes.

**To Reproduce**
Steps to reproduce the behavior:
1. Run a Collection in the Collection Runner
2. Click Export Results
3. Open file and search for "totalTi

[2020-02-21 18:01] ahmetgeymen commented on #6614
Even using the example value generated in on https://editor.swagger.io with the same spec on both postman and the online editor, postman warns me that the response is validating against the API.

[2020-02-21 18:05] iDiogenes commented on #6614
@ahmetgeymen - What example value are you talking about? Are you seeing the same issue with the bool or are you referring to something else?

[2020-02-21 19:29] dfdumaresq commented on #3707
When I tried to show all windows from the dock, I received the message "no available windows" on Postman v7.18.0.  Catalina 10.15.3. It was a fresh download on a recent upgrade from Mojave.
I was able to fix the issue by showing displaying Postman in Finder and right-clicking Open, which then did a verify of the application and asked me if I want to open the app.
Normally, I'm opening my apps by c

[2020-02-21 19:43] agrofcsik commented on #3358
+1 (here we are in 2020, roughly 3 years after this thread was created, 72 comments later) and this still doesn't exist. Pretty please with sugar on top?

[2020-02-21 19:48] acondron77584 commented on #8096
I believe this problem was introduced in 7.17.

[2020-02-21 19:49] acondron77584 commented on #8096
This problem can also be reproduce when running on Windows.

[2020-02-21 20:28] chrisdeso opened #8097 "Workspace creator isn't updated when that user is removed from the team"
**Describe the bug**
On a team's web dashboard, the creator of a workspace is listed below the workspace name. When that user is removed, the name remains which may cause confusion

**To Reproduce**
Steps to reproduce the behavior:
1. Go to your team's web dashboard – [go.postman.co](https://go.postman.co)
2. Remove someone from the team that has created a team workspace
3. Notice that they're sti

[2020-02-22 00:32] kevinswiber commented on #8051
This appears to be an issue with the authorization popup as a result of receiving a `WWW-Authenticate` header.  I know Electron-based apps have had issues with this in the past.  This can now be intercepted with the `login` event, though a custom dialog would have to be crafted.  https://www.electronjs.org/docs/api/app#event-login

[2020-02-22 02:16] Srivahni commented on #3331
Yes, it is possible. you can give your json body in the "value" field with a key. I've found the "Bulk Edit" option (next to the ... dots) easy to paste/edit json data.

<img width="712" alt="Capture" src="https://user-images.githubusercontent.com/15986239/75084292-1a580f00-54d4-11ea-935f-706cad5b1d8a.PNG">

[2020-02-22 03:30] saswatds commented on #8096
I have been able to reproduce this issue. We will get this fixed as soon as possible.

[2020-02-22 04:45] wdhodges commented on #4009
+1 👍

[2020-02-22 08:33] anand-y commented on #2701
+1

[2020-02-22 13:31] zanderwar commented on #3438
We need to deliver a PDF for tenders and to provide it as a downloadable file on our website.

[2020-02-22 20:55] renansph commented on #7632
Hi. I have some updates. I figured out that this is a problem with the Azure network as described [here](https://carsonip.me/posts/azure-tcp-idle-timeout-tcp-keepalive-python/). TCP connection actually don't need to send keep alive packets to keep the connection open.  What happen is that after 4 minutes idle the TCP connections is closed by Azure NAT but no reset packet (RST) is sent neither to t

[2020-02-23 01:01] georgesunil81 commented on #8089
Thanks @kevinswiber for the response. Yes, I can do that, but I was concerned that these responses are fairly large in size. Could you let me know if there is any size limits to a value for an environment variable? If I know the limits, I can check to see if storing the responses as a variable would work. Please let me know once you get a chance.

[2020-02-23 07:27] matthewcoxx commented on #5288
This seems to still be an issue in build 7.18.x. MacOS, full permissions.

Download file size: 108MB json file.

Screen turns black.

What are the current limitations on download?

[2020-02-23 07:29] matthewcoxx commented on #8072
Duplicate of #https://github.com/postmanlabs/postman-app-support/issues/5288 , same issue, but 108MB file.

[2020-02-23 14:30] arlemi commented on #7940
@AnaGoulart23 Are you still seeing this? If so could you provide more details on the cases where this happens?

[2020-02-23 19:36] johnengstrom commented on #5078
I would like to pile onto this request.  The fix is super simple—a checkbox in the preferences for "disable drag to select"

Why is this a problem? When you go to edit a value and you are not careful you end up dragging and selecting the line item, then you click "delete" as you want to delete a value but you end up deleting the row—and there is no undo—because the fussy interface switched to sele

[2020-02-24 04:26] rwuttke-dxc commented on #3428
I know this is closed, but I have been able to reproduce this is in

Postman v 7.18.1 and pure Newman 4.5.7

And have just added this code in

const switchOn = pm.environment.get('FeatureSwitchTest');
    if (switchOn === true || switchOn === 'true') {

This works nicely in both envs.

[2020-02-24 07:26] sankalp0o commented on #8097
Thanks for reporting this @chrisdeso! We'll look into this.

[2020-02-24 08:19] smartlearner1520 commented on #6251
same, got the same issue even when there is not any diff. it shows me cannot merge....

[2020-02-24 08:26] christophe-riolo commented on #2450
I came to report similar difficulty to read notably the collections, the contrast is too low and there is no way to at least change the font size (we can change the editor font size but it has no effect on the sidebar), which would at least help compensate a bit.

[2020-02-24 08:42] ahmetgeymen commented on #6614
@iDiogenes
After reading the issue title and viewing the shared screenshots, I think I have the similar issue with the validation of Postman.

Here the example swagger ui generates over openapi spec (yaml)

[code]

But even I copy the example exactly and use as collection request example in Postman, it didn't validate.

[2020-02-24 09:03] smartlearner1520 commented on #6397
similar issue:
no modify, but it shows pull request and merge request

1. when I click pull request, there is nothing or cannot merge (tried with diff collection. 2 issue: (1) nothing to merge but still got pull request in dashboard. (2) got some changes, but cannot merge - same issue as others)

2. when I reproduce a fork from team space, right click on merge, it shows pull request and merge requ

[2020-02-24 09:44] kukirokuk commented on #6015
The same high RAM usage on Ubuntu 18.04.

[2020-02-24 09:56] alianos- commented on #1070
It would indeed be nice to have that given that examples are 50% of the screen. Then again it is 5 years since this thread was started so I guess we'll just use swagger for documentation 😂

[2020-02-24 11:22] sankalp0o commented on #8093
Hey @stvrdinic
This shouldn't be happening. Let us look into this.

[2020-02-24 11:29] sankalp0o commented on #8093
@stvrdinic we are unable to reproduce this. Are you seeing this behavior consistently using the steps you've mentioned?

[2020-02-24 13:36] Raj-postman opened #8098 "Unable to validate schema with type: array"
**Describe the bug**
Unable to validate schema with type: array

**To Reproduce:**

1. Define/Import an API schema
2. Click on Develop > Check for validation
3. Receive: Issues found > View Issues
4. **Error:** The property didn't match the specified schema

**Expected behavior**
Should be able to validate with array without any issues.

**Screenshots**

![GH](https://user-images.githubusercontent

[2020-02-24 13:37] stvrdinic commented on #8093
I think I just figured out what happened: in the shared collection variables didn't have definied "Initial" values but just the "Current value".

Sharing that collection doesn't copy values from the "Current value" column if "Initial value" is not defined. Please confirm this is expected :)

[2020-02-24 14:08] dcp65 commented on #7844
This is still an issue in Version 7.19.0.

Postman is pretty much unusable for me as a result.

I see this is marked as 'Blocked/Need info'. What more information do you need? @devanSAGA

[2020-02-24 15:02] kamalaknn commented on #7844
Hey @dcp65

I was able to reproduce this issue with the sample JSON attached by @darnley. This crash seems to be coming from our `openapi-to-postman` convertor node module. It seems to be reported and tracked on that repo - https://github.com/postmanlabs/openapi-to-postman/issues/124

Looping in @abhijitkane @umeshp7

[2020-02-24 15:19] Wotuu opened #8099 "All request bodies have been deleted upon accepting a merge request"
**Describe the bug**
Today we were using Postman as normal. After someone having created a Branch, doing their changes, and merging their changes back into the main branch, all bodies for ALL REQUESTS have been deleted. They could not be restored. We have to use a backup and manually copy over all bodies for over 600+ requests in order to continue with our work.

**To Reproduce**
What happened was

[2020-02-24 15:27] umeshp7 commented on #7844
@darnley
I tried with the file provided by you, and I was successfully able to generate collection on App v7.19.
I request you to try it on the latest version of the App and report if you face any difficulties.

@dcp65 Is there a specific OpenAPI schema that is causing the app to freeze for you? It would be great if you can share it with us here or you could send it over to help@postman.com and we

[2020-02-24 16:03] deanblackborough commented on #3493
I'm fighting against the tiny window at the moment, please make the window re-sizeable.

[2020-02-24 17:28] cngrindstaff commented on #8045
@coditva This was fixed in 7.18.1, but it is happening again in 7.19.0

[2020-02-24 17:49] dcp65 commented on #7844
OK, here is an example of swagger.json that causes Postman to hang on import.

It does seem to be the circular dependency issue (postmanlabs/openapi-to-postman#124)

The thing is, this was working for me up until very recently.

[code]

[2020-02-24 18:02] coditva commented on #8045
@cngrindstaff You're right, this does seem to be happening in `7.19.0`. Sorry about that! We're working on fixing this ASAP.

You can use Postman Canary (https://www.postman.com/downloads/canary) in the meantime.

[2020-02-24 18:54] JP-from-Postman commented on #7828
Another user reporting this on:
macOS Catalina Version 10.15.3
Postman Version 7.18.1

They're able to hit the auth endpoint manually using Postman, but using auth helper errors out. They're also encountering the behavior noted in [#8054](https://github.com/postmanlabs/postman-app-support/issues/8054)

[2020-02-24 18:54] payitforwardnow commented on #1854
Is there a resolution to this issue? I was hoping to use PostMan for automated testing; however, given the fact that the issue with trying to use id_token has been around for literally YEARS I have to conclude that this might not be the best tool for my company to continue using.

[2020-02-24 19:38] darnley commented on #7844
Hello, @umeshp7 . I have tested on v7.18.1 which is the lastest stable version for me.
![image](https://user-images.githubusercontent.com/4915497/75184992-14f10380-5724-11ea-965a-df829f204719.png)
Is v7.19 a beta version?

[2020-02-24 20:28] ildemartinez commented on #8081
Yes, is the environment name not being displayed correctly ... the environment used is the correct

[2020-02-24 22:20] ppfm commented on #5302
+1

[2020-02-24 22:40] kevin-postman commented on #7434
Hi all. I am happy to report we have a fix for this in 7.19 release. Please give it a try and let us know if it solves the issue.

[2020-02-24 22:40] #7434 closed, assigned to nobody

[2020-02-25 00:20] ShahinKohan commented on #5209
This is crazy, it is a bug and you should fix it. It's been open for a long long time.

[2020-02-25 02:32] german970814 commented on #2701
+1

[2020-02-25 02:33] BestMafen commented on #1070
Now is 2020, where is the feature of reordering examples?  😂  😂  😂  😂

[2020-02-25 06:20] coditva commented on #8045
@cngrindstaff This is now fixed in the latest Postman version `7.19.1`.

[2020-02-25 06:20] #8045 closed, assigned to coditva

[2020-02-25 06:51] twitharshil commented on #6304
@detectiveHLH We have fixed this issue in Postman v7.19, if you are still facing it please let us know.

[2020-02-25 06:51] #6304 closed, assigned to nobody

[2020-02-25 06:52] twitharshil commented on #7823
@huangjingcai We have fixed this issue in Postman v7.19, if you are still facing it please let us know.

[2020-02-25 06:52] #7823 closed, assigned to ankurdengla

[2020-02-25 07:00] nik72619c commented on #7745
This issue has been fixed in Postman v7.19.1.

[2020-02-25 07:00] #7745 closed, assigned to nobody

[2020-02-25 07:54] LeoZandvliet commented on #7938
I also encounter this issue and we are using more than our subscription at the time of writing :( During several hours I 'monitored' the numbers on both pages, and they add up correctly.
When calculating with some rough daily usage numbers, could it be the resource usage just didn't reset at the start of the last period (in my case that would be 13 feb.)?

[2020-02-25 08:16] ankit-m commented on #8099
Hi @Wotuu,

I have created a ticket on our internal tracker to investigate this issue. It would be great if you could provide the following details over email (help@postman.com)

1. Collection UUID (Open the collection on the web via `View in web` option and you will find the ID in the URL `../collections/<uuid>/..`)
2. What changes were made in the forked collection?
3. Were there any conflicts w

[2020-02-25 10:07] alakdam07 opened #8100 "java.lang.NullPointerException null"
I tried to get data from one open Api. I followed all instruction to get the data based on API documentation but I get error. Can anyone please help me out.

Here is the link of the site: **https://digitransit.fi/en/developers/apis/1-routing-api/**

[2020-02-25 10:37] Wotuu commented on #8099
Hi Ankit,

I have sent the requested information along with a full overview of the resulting merge request to help@postman.com. Please let me know either here or by e-mail if you need more information. Thank you.

[2020-02-25 10:42] ianrandell commented on #8054
Yep just ran into same issue v7.19.1 on Windows 10 x64

[2020-02-25 11:00] arlemi commented on #6659
Pull Requests are available as of 7.19.1! Update, give it a try and let us know what you think. :)

![Screenshot 2020-02-25 at 10 58 09](https://user-images.githubusercontent.com/5029719/75241438-ff301c80-57bd-11ea-8f0f-0409a4d0b720.png)

[2020-02-25 11:01] IeuanWalker commented on #7130
@ankurdengla I've tried the canary version, still have the same issues :/

[2020-02-25 11:06] arlemi commented on #7997
A fix was released in the latest version of the app (7.19.1). :)

[2020-02-25 11:06] #7997 closed, assigned to nobody

[2020-02-25 11:08] arlemi commented on #7759
This was fixed in 7.18.0. :)

[2020-02-25 11:08] #7759 closed, assigned to ritwijsinha

[2020-02-25 11:08] arlemi commented on #7848
@vdespa We've pushed a fix for this in 7.18.0, can you try again and let us know if you're still seeing the issue?

[2020-02-25 12:25] ankurdengla commented on #7130
Hey @IeuanWalker !

Could you provide the following info to help us identify the reason for your issue ?

1. What is the version of the Canary app you're using?
2. Did you see a window requesting you for your proxy credentials when you started the app?
3. Could you also send us logs at help@postman.com with the mail titled as `Logs fog Github issue #7130`. The logs can be accessed from `View → Dev

[2020-02-25 13:15] Cazaimi commented on #1070
@grinderX19, @BestMafen, we've triaged this issue as "Next" on our [Product board](https://github.com/postmanlabs/postman-app-support/projects/40#card-33062557), which means that:

Thanks for the patience 🙂

[2020-02-25 14:08] pdonorio commented on #7886
Thanks @BryanMorgan,
your snippet inside the "Pre-req." works like a charm!

[2020-02-25 14:17] NiklasBr opened #8101 "Copied contents contains unneccessary HTML tags and styling"
**Describe the bug**

Copying text also copies lots of HTML cruft

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the app
2. Click on any input field
3. Copy its content
4. Past into

**Expected behavior**
Only text should be copied, it makes no sense to include a set of styles <span>:s when I copy the URL to a request or its headers

**Example**
If I copy from the GET/POST/PUT... URL

[2020-02-25 14:26] FabianSawatzki1234 commented on #4171
+1

[2020-02-25 15:47] mrychlicka commented on #8054
same problem in v7.18.0 release, Ubuntu18

[2020-02-25 16:08] IeuanWalker commented on #7130
@ankurdengla
1. 7.18.0-canary03
2. No
3. Done

[2020-02-25 16:46] cyrielle-hada opened #8102 "APIs usage detailed overview"
_Filed by Product Support_

**Is your feature request related to a problem? Please describe.**
The API usage page lack in providing some information.: team members are unable to see who has API created in their personal or team workspace.

**Describe the solution you'd like**
Provide an API overview similar to the `View all collections` page - https://app.postman.co/team/elements with the name of

[2020-02-25 16:47] cyrielle-hada opened #8103 "Link to APIs in the API Usage page"
_Filed by Product Support_

**Feature request**
The API usage should provide a link to the API so that users can head to the API and find it easily.

[2020-02-25 17:27] ColdCerealAtWork opened #8104 "Postman HIPAA Compliance"
**Is your feature request related to a problem? Please describe.**
Working at a company that has to deal with PII/PHI and be HIPPA complaint, we take security extremely seriously. We cannot take risks on data leaks.

**Describe the solution you'd like**
If we had an On-Prem offering, it would be a lot easier to sell postman enterprise to the organization.

[2020-02-25 17:31] paulyk1983 commented on #4780
+1

[2020-02-25 18:53] jordangottlieb-ych commented on #3438
We absolutely need to be able to export portable documents for **offline** use, that only show a subset of the API, for example:

- Exposing a few endpoints to a 3rd party
- Appending API updates only to release documentation
- Creating developer docs for teams that only need access to part of an API
- ...

[2020-02-25 19:04] pbarnum commented on #1535
+1

This would be a very welcomed feature. It doesn't make sense to me to separate requests into a collection based on "flows" especially working with micro-services.

[2020-02-25 19:16] chad-w-cvt commented on #5194
+1

[2020-02-25 19:27] chrisdeso commented on #8104
Hey @KristianAtVsp – it looks like we've had a few similar requests closed out on this repo

- https://github.com/postmanlabs/postman-app-support/issues/7804
- https://github.com/postmanlabs/postman-app-support/issues/5020

As far as I know, nothing has changed on the on-premise front for us but we do know dealing with PII/PHI and HIPAA is no small feat.

I'd be happy to connect you with folks on

[2020-02-25 19:46] KristianAtVsp commented on #8104
Sure. I started a thread on the community forum. They can contact me there.
https://community.postman.com/t/hippa-compliance/11011

[2020-02-25 20:00] bearcatharish commented on #3358
+1

[2020-02-25 21:09] slkorolev commented on #8054
Persists in 7.19.1, macOS Catalina

[2020-02-25 23:19] darnley commented on #7844
Hello, @umeshp7

Now the v7.19.1 is available for me.
![image](https://user-images.githubusercontent.com/4915497/75296408-ddf61d00-580b-11ea-82da-715d7e341c0d.png)

The error not happened again. I am currently able to import the swagger file without errors.
![image](https://user-images.githubusercontent.com/4915497/75296493-1990e700-580c-11ea-92ab-8b3d9146d861.png)

[2020-02-26 00:09] karlbrown-va commented on #3563
Adding my vote for this. Seems sensible and quite useful to have a 'sync' function that would sync a given collection with its location on disk.

[2020-02-26 00:36] feardarkness opened #8105 "Issues with Postman v7.19.1"
**Describe the bug**
I can't save, duplicate or create new requests on Ubuntu 18.

**To Reproduce**
Pressing *ctrl + s* or right click and choosing duplicate or trying to save a new request.

**Expected behavior**
Saving, duplicating or updating requests.

**Screenshots**
![Selección_151](https://user-images.githubusercontent.com/860571/75300463-4c3bdf00-580e-11ea-8482-3663ca990a7e.png)
![Selecció

[2020-02-26 00:37] jwvance commented on #3825
My team needs this feature! Any updates?

[2020-02-26 01:02] adamkelm opened #8106 "Postman fails to encode ampersands within query parameters"
**Describe the bug**
When an ampersand is input into the query parameters, it fails to encode correctly, leading to erroneous results. Instead, the ampersand is retained and creates an additional unwanted query parameter.

**To Reproduce**
Steps to reproduce the behavior:
1. In Postman GUI, create a new GET request for https://postman-echo.com/get
2. Set query parameter key "foo1" to value "bar1 &

[2020-02-26 01:02] BestMafen commented on #1070
@Cazaimi That's a very good news.

[2020-02-26 04:39] appurva21 commented on #8105
Hi @feardarkness, we are not able to reproduce the issue. It would help us if you can provide some more insight into the request which led you to this issue.
If you have some sensitive data in the request, please feel free to send the information over email (help@postman.com)

Thanks

[2020-02-26 05:00] Venpelmen commented on #4009
Any news?

[2020-02-26 05:25] sankalp0o commented on #8103
@cyrielle-hada thanks for the feedback! Currently, we show **who** has created an API. Going forward, we'd also provide a link to the API so that users can visit the API and find it easily. I'll keep this ticket updated when we make this change.

[2020-02-26 05:26] sankalp0o commented on #8102
Duplicate of #8103

[2020-02-26 05:26] #8102 closed, assigned to nobody

[2020-02-26 05:34] sankalp0o commented on #8098
@Raj-postman Thanks for letting us know! The validation feature is new and we're working on improving it. To help us diagnose this, could you let us know
- What is the response body in the example for the request in question
- How is the response body defined in the specification

[2020-02-26 07:31] gosua commented on #4171
+1

[2020-02-26 07:57] umeshp7 commented on #7844
@darnley Thank you for the confirmation.

@dcp65 I was able to reproduce the error with your swagger schema even in v7.19.1. We are currently working on a fix for circular references. We will keep you posted on the progress.

[2020-02-26 08:25] PhilipSkinner commented on #3825
We're having to deploy an auth code flow client thats just for testers into our environment(s) due to this lack of support.

+1 on this feature, should be relatively simple to implement.

[2020-02-26 08:50] Reez0 commented on #6015
I'm experiencing something similar. Not with RAM usage, but with CPU Usage.

![Untitled3](https://user-images.githubusercontent.com/28865166/75327642-6e247880-5885-11ea-91bd-1880288fdb0f.png)

It fluctuates between 50% and 60%.

Windows 10 Pro
Intel Core i5 7200-U
8GB Ram
Postman Version 7.19.1

I have a single collection containing 14 requests.

[2020-02-26 08:57] illialarka commented on #3825
That's not okay!
Authorization Code with PKCE is a RFC PROPOSED STANDARD.
Honestly, most of modern web applications use this flow.

[2020-02-26 09:27] Raj-postman commented on #7263
Found the same issue, where the admin is unable to delete/pause the monitor from Web as well as from the application. The user who was able to update the collection could delete the monitor in this case.

[2020-02-26 10:12] kamyuentse opened #8107 "How to add authentication mechanism to Postman App"
I want to add support Huawei Cloud signature. How to add a new authentication mechanism to Postman App? I found doc in https://github.com/postmanlabs/postman-runtime, but it seems only available under command line tool? And no docs describe how can I test my authentication mechanism when wirting the code.

[2020-02-26 10:14] cyrielle-hada commented on #8103
@sankalp0o sorry, I've completely missed this page: https://go.postman.co/usage/apis.

[2020-02-26 11:19] ianrandell commented on #8054
I can confirm that this error does NOT occur in v7.13 windows 10 x64.
I installed v7.13 from chocolatey package after uninstalling previous version and cleaning out traces of files from under c:\users\xxx folder.
I then used the same oauth creds to hit the same (faulty) endpoint.
Postman v7.13 nicely reports an error for the token.
![image](https://user-images.githubusercontent.com/19835651/753401

[2020-02-26 11:23] ankit-m commented on #8099
We have been able to identify the root cause and are in the process of deploying a fix.

[2020-02-26 11:47] feardarkness commented on #8105
Thank you, I've found that only a few requests are not working, so I reinstalled Postman and now it's working.

[2020-02-26 11:47] #8105 closed, assigned to nobody

[2020-02-26 12:06] Raj-postman commented on #8054
Issue persists on the version- 7.19.1-windows-x64

[2020-02-26 15:56] vinesh2011 commented on #5194
+1

[2020-02-26 16:20] AndreyKrivopalov opened #8108 "Own domain for api documentation"
**Describe the bug**
Api docs page do not work on my own url (https://api.tencar.ru)

**To Reproduce**

1. Go to https://api.tencar.ru

**Expected behavior**
In browser console i have error:

Refused to load https://ajax.cloudflare.com/cdn-cgi/scripts/7089c43e/cloudflare-static/rocket-loader.min.js because it does not appear in the script-src directive of the Content Security Policy.

**Screenshot

[2020-02-26 16:29] spencerrichardhenry opened #8109 "PR folder structure elucidation"
The new pull request feature is a wonderful improvement on version control, but it leaves our team wanting some better elucidation on folder structure changes. This is particularly important because the ordering and placement of tests holds functional meaning, since there are folder level tests as well as because the tests run based on folder order.

When you hover over the exclamation by a [MOVED

[2020-02-26 16:41] spencerrichardhenry commented on #8053
@sankalp0o I can't seem to tag you on this issue but I've created another feature request here: https://github.com/postmanlabs/postman-app-support/issues/8109
Happy to hop on a call to discuss this bit more as it isn't as cut and dry, and there are a few other UX things that I don't feel are worth writing tickets but might be worth mentioning.

[2020-02-26 16:51] jeffabailey commented on #4171
+1

[2020-02-26 17:01] catherine-greene opened #8110 "tv4.validate does not validate properly when using 'const' schema property"
tv4.validate does not tell the difference when using '**const**' schema property

[code]

App information
 - Postman v7.19.1
 - OS: Windows 10

[2020-02-26 18:36] mslauson commented on #6723
FYI, I am now experiencing the same issue on a Mac after upgrading to 7.19.x.  I am not able to go back to 6.x.x, as my collections are saved in the cloud.  Does anyone have any other suggestions to make this usable at the moment?

[2020-02-26 19:27] yamakage80 commented on #5040
I'm also looking for this capability for testing our streaming API with Postman alongside our other collections.

[2020-02-26 19:57] vdespa commented on #7848
@arlemi - still crashes in Version 7.19.1

[2020-02-26 21:19] DrYSG commented on #4009
Postwoman is only for internet sites, we need PostMan for internal graphql subscribe services. If not here, then when Insomnia gets this feature, we will use insomnia over postman

[2020-02-27 01:52] David-A-Anderson opened #8111 "Creating new postman windows on MacOS creates instances that are indistinguishable from the dock."
When I have multiple Postman windows open and I attempt to switch by clicking and holding on the dock icon, I get a list of instances all labeled "Postman". This is not at all helpful.

I would like to see the selected environment name displayed in this space. That way when I have multiple windows open for each of pre-staging, staging and production I can get the window I want without having to cy

[2020-02-27 06:18] softmantk commented on #3358
+1

[2020-02-27 08:09] DannyDainton commented on #8110
Hey @catherine-greene,

I would recommend using Ajv over tv4 to validate your schema in the app. Taking your example response, this should return the error that you were expecting:

[code]

`AssertionError: expected data to satisfy schema but found following errors: data.lastUpdatedBy should be equal to constant`

[2020-02-27 08:13] roovenier commented on #4009
Any news?

[2020-02-27 09:18] abdulghani opened #8112 "Postman doesn't send GET query params when using Environment variables."
Postman didn't send GET query parameters when using the `env variables`

Screenshots
![image](https://user-images.githubusercontent.com/11703983/75429447-64ca0780-597c-11ea-971a-8bba82f3a11a.png)

however, when sending the request through literal url, it sends the param
![image](https://user-images.githubusercontent.com/11703983/75429540-87f4b700-597c-11ea-8de2-d9679f249865.png)

my env variable
!

[2020-02-27 09:18] sroettering commented on #7740
I can confirm that my example file works now in version 7.19.1
So if @augustocb23 case is resolved as well, I guess this issue can be closed.

[2020-02-27 09:25] serg1409 commented on #4272
See continuation at [https://github.com/postmanlabs/postman-app-support/issues/4253](url)

[2020-02-27 10:52] oguennec opened #8113 "Environment value update from Postman Native App not reflected on https://web.postman.co/"
**Describe the bug**
Environment variables values updates made from Postman Native App are not reflected in the environment available on https://web.postman.co/ (used for collection monitoring).

**To Reproduce**
Steps to reproduce the behavior:
1. Create a collection using environment variables (like an access_token)
2. Click on Monitor Collection
3. Update the environment variable access_token w

[2020-02-27 10:56] sadomovalex commented on #6723
I suggest everyone who face with this issue send request to Postman support via https://support.getpostman.com/hc/en-us/requests/new page or by email help@getpostman.com. Probably if there will be enough tickets they will finally pay needed attention to this issue.

[2020-02-27 11:19] Ali4Dev commented on #6723
Just you need to delete configuration files in AppData. search %appdata% in windows search bar and it will work.https://support.getpostman.com/hc/en-us/articles/360025359014-How-to-resolve-the-Could-not-open-Postman-error-

[2020-02-27 12:21] harsh-reality opened #8114 "Enhance user accounts information and profiles"
**Is your feature request related to a problem? Please describe.**
Usernames are often used in multiple places within the product but there is no standardisation to it. Also, finding more information about a user like their department for example is not provided.

We often see random usernames linked with accounts and that sometimes can be really confusing on who the person actually is when doing

[2020-02-27 12:26] harsh-reality opened #8115 "Enhance team discovery flow"
**Is your feature request related to a problem? Please describe.**
The current team discovery flow does not provide context as to why someone is requesting to join this Postman team. Without details like use-case or team- it becomes difficult for admins to approve a request, especially in large organisations where there are many user slots available.

**Describe the solution you'd like**
Have a wo