[2018-02-01 22:46] iamcam commented on #4125
My STR:
1. Subscribe to a team library
2. Select a folder containing requests
3. Duplicate the folder
4. Observe the new folder has all the containing requests duplicated (ie, two of each request).
5. Ask teammates if they see what you see.
6. Observe some will see empty requests. others may see what you see.

One work-around is to unsubscribe and re-subscribe to the library to get the data/syncin

[2018-02-02 03:23] DullCat-c commented on #4135
Please excuse my poor English.
First,i add a domain of local server to hosts file,then via postman send a request ,it  access to the local server.After that ,I commented out that record,send a request again ,it access to online server
.But,when i add that record again,it will always access to online server . It bothers me.Although HTTPie/cURL can do it ,but it much more trouble than postman.I like

[2018-02-02 06:05] Kirchmayer opened #4141 "How I can configre the destination Directory"
We will install Postman on lots of PC´s with different user.

So we will install Postman on Windows in the Directory C:\Program Files (x86) but we can´t configure this.

How can we made it ?

[2018-02-02 06:25] mibeon opened #4142 "Allow customization of font families"
Hello everyone.

I want to change the font family inside of response window, body window (everywhere monospace font is used) to another one as Monaco at Mac (macOS).

Has someone any hook, break or hack for changing font family in this app???
It seems like postman developers are not able to give us this shabby customization option.

I don't like Monaco font and want to set it to another one.
In ye

[2018-02-02 06:38] suciptoid commented on #3749
Hi,
I've create simple script to pack Postman using AppImage.
https://github.com/showcheap/postman-appimage

More info about AppImage : https://appimage.org/

[2018-02-02 09:51] dougmcmillan commented on #3691
Have reproduced too in 5.5.2 and previously in 5.3.2

Postman for Linux
Version 5.5.2
linux 4.4.0-109-generic / x64

Xubuntu 16.04

Dragging to a new window works, but middle click does not.
Raw is okay but pretty formatting is much more useful of course.

[2018-02-02 10:08] Anton-V-K commented on #4141
Same as #3019

[2018-02-02 10:56] pburgr commented on #3646
mee too

[2018-02-02 11:25] ohbibi-glacava commented on #2851
+1

[2018-02-02 11:26] ohbibi-glacava commented on #2819
+1

[2018-02-02 11:56] juberjj commented on #2617
The issue persists on 5.5.2

[2018-02-02 15:58] viking225 commented on #4108
Also having this issue on Ubuntu (16.04 LTS).

Postman version: 5.5.0

[2018-02-02 16:03] g-pascal commented on #6682
+1

[2018-02-02 16:07] Mahsarbpr opened #4143 "How to have a colored code line or normal line"
## App Details:
Postman for Windows
Version 5.5.2
win32 10.0.16299 / x64
[code]

[2018-02-02 16:08] TehWardy commented on #3136
I found that after doing all of the above I rebooted my machine and some versions of postman are happy others aren't ... it seems to come and go with each new update to postman.

I also think that windows does some weird profile loading of cert stores so any time you add or remove a cert fro mthe "personal" store on the machine, reboot just in case.

With all this in mind I got to a point where I

[2018-02-02 18:43] pedro-lb commented on #2617
Still having this issue.

[2018-02-03 00:39] govindrai opened #4144 "Feature Request: Trigger Requests already defined in your collection instead of manually redefining"
Using the latest and greatest 5.5.2 on MacOS High Sierra

Request: I would like to be able to trigger previously defined requests in the tests section using a request name or request id. This is not to be confused with collection runner. This is not about running tests, it's about automating requests.

Sample Use Case:

My session token expires after sometime. If it does I have to open up a new ta

[2018-02-03 06:41] vayu-technology commented on #3405
Still crashing here too; Ubuntu LTS 16.05 latest build.  Unusable.

[2018-02-03 10:31] karakanb opened #4145 "UI Feature Request: Collapsing 'Authorization' Section"
## App Details:

[code]

## Issue Report:
 1. Did you encounter this recently, or has this bug always been there: Not a bug, has always been there, a UI and UX issue.
 2. Expected behaviour: I believe that the `Authorization | Headers | Body | Pre-request Scripts | Tests` pane should be collapsible. Have been using Postman for months, and never needed the section, hence it covers 25% of my screen

[2018-02-03 12:05] niksteff commented on #1947
+1

[2018-02-03 16:15] jseger commented on #2920
What is the status of this issue?  Are there any workarounds?

[2018-02-03 18:33] fabriziocucci commented on #1104
+1

[2018-02-03 19:50] lukaswelte commented on #3117
+1
I would love to have the ability to document JSON APIs using Postman. In order to do that I need to make explicit how the schema for my request and my response looks like (what fields are required, which are optional and what are potential values like e.g. the values of the enum).

Would be awesome to be able to define a schema (name & describe required fields) for request JSON data as well as

[2018-02-04 00:39] rawaludin opened #4146 "Is it possible to detect whether I doing collection run or a single endpoint request?"
My use case is, I want to skip some cleanup script on collection script if I run a single request, not a collection run.

Is it possible? Thanks.

[2018-02-04 03:35] zlanich commented on #391
I'm also experiencing the no POST Body data issue on OSX with the latest Postman. No fix?

[2018-02-04 03:39] zlanich commented on #831
@abhijitkane Said not to explicitly set the Content-Type header, so I deleted mine (even though it looked like Postman was changing it fine), then reset my raw:application/json setting, allowing Postman to set a fresh Content-Type header, and it worked for the first time. Try this.

[2018-02-04 16:22] godfrzero commented on #4110
We've pushed out a version which should fix this issue, could you take a look and confirm? Cheers.

[2018-02-04 17:14] Ghedeon commented on #2336
Can confirm, same issue in `v5.5.2`, the variable works, just not being recognized. Can't believe it was opened in 2016 :)

[2018-02-05 05:47] tarunlalwani commented on #4144
There is nothing that exists currently for this. It is a bit disappointing. The only workaround I know about is you executing pm.sendRequest

[code]

[2018-02-05 06:12] maddog666 commented on #3232
Got the same error.
How is that fix coming?

[2018-02-05 09:03] intraz commented on #2086
+1

[2018-02-05 09:45] sreejith-ms commented on #2617
Any updates??

[2018-02-05 11:44] HeliosLHD commented on #1946
I would have to concur.  Version 5.5.2 Windows 10 64-bit.  I receive a 3.38MB JSON response and it shows response time as 1735ms, but takes nearly a minute to process before showing the text in the response window, (Pretty/Raw/Preview) doesn't matter.

I can provide the cURL call to retrieve this in PM, just can't post to open forum.

Watching Task Manager, even just swapping between Raw<->Pretty

[2018-02-05 13:17] akaars commented on #3093
Exactly the same behavior still reproducible in Postman v5.5.2 and Kubuntu 17.10 (started on 17.04, didn't notice the Postman version).
Should I open a new issue about it or may be you'll prefer to reopen this one?

PS
Nevermind, someone already reported it:
https://github.com/postmanlabs/postman-app-support/issues/4108

[2018-02-05 13:19] akaars commented on #4108
Reproducible for me. I see the similar issue was fixed for Mac, but we, Linux users, still need a fix :)

[2018-02-05 13:23] akaars commented on #4108
Temporary workaround was to switch themes (Light to Dark, Dark to Light) - now the copy-paste works. Don't know for how long...

[2018-02-05 13:28] tomas-kuchar opened #4147 "Postman obfuscates HTTP 301 by HTTP 405"
## App Details:
[code]

## Issue Report:
 1. I did you encounter this recently, but I guess that this bug could have always been there: The PostMan shows [HTTP/1.1 405] in response. Yet, I know that (using RawCap + WireShark) that the server (rqlite) is returning [HTTP/1.1 301 Moved Permanently]
[code]

 2. Expected behaviour:
Postman should transparently report the HTTP 301.
 3. Console logs:
[co

[2018-02-05 13:33] gs11 opened #4148 "Feature Request: edit existing client certificate entries"
## App Details:

[code]
## Issue Report:
 1. Feature request, no bug
 2. I'd like to be able to change all parameters for an existing client certificate entry rather than removing + copy/paste settings from the old entry. As a suggestion there could be an **Edit** text link of the **Remove** text link for each client certificate entry
 3. n/a
 4. n/a

[2018-02-05 13:47] coddo commented on #2701
+1

[2018-02-05 15:59] safepost commented on #4006
+1 of course

[2018-02-05 17:00] qpi commented on #3480
I have the same issue. If I click on "code" link to see the Postman's raw HTTP request, it shows me that the token is properly added to the URL, but I receive invalid token response from the API.
So I was curious and that's why I installed Fiddler to see what happens in the background and it showed me that the token was missing from the URL. :(

[2018-02-05 18:30] pablo-lago commented on #3171
+1

[2018-02-05 18:46] TheCoderGuyVlad commented on #3888
Hi @kamalaknn, can you please remove the "AssertionError: expected false to be truthy" feature. Instead of helping to debug, it makes our clean outputs messy and hard to read.

It doesn't really help debugging but only hurts it.

Thank you for understanding! :)

[2018-02-05 19:23] zlanich commented on #2452
Any update on this? My tokens have a 10min TTL, so refreshing access tokens every 10min definitely gets old.

[2018-02-05 19:51] govindrai commented on #4144
@tarunlalwani thanks for your response. That's what I'm currently doing as a workaround. It's not no where near ideal but it's something (saves me one step) 👍 .  It forces me to write up the login logic even though I already have a predefined request that does just that and I still have to to resend the request that failed due to invalid token. Hoping for some input from the postman team!

[2018-02-05 21:09] jjloneman commented on #4006
Many enterprise people will support this feature. Because it installs to `%APPDATA%`, my company's enterprise policy restricts anyone from running any "unauthorized" executables from anything outside of `C:\Program Files`. Either a portable installer or an installer that allows selecting the destination directory is needed. Otherwise, I'm going to have to use the Chrome app until then.

![image](h

[2018-02-05 23:09] idknox opened #4149 "WSS-Password Type for a SOAP API Request"
## App Details:
[code]

## Issue Report:
Is is possible to customize this property for a SOAP API request? I could find 0 information in Google on how you can set WSS-Password Type to `PasswordText`.

Thanks!

[2018-02-05 23:20] plexus77 commented on #2447
Still seems to be an issue.

The RAW view is

`"productid":7400373566520315078253202846060260341474445857883,`

The PRETTY view is

`"productid": 7.400373566520315078253202846060260341474445857883e+48,`

[2018-02-06 01:12] jochenhager commented on #4136
I have the same problem. Postman just became unusable for me. It turns this request:
http://192.168.1.1:8080/ContentServer/ContentServer.dll?get&pVersion=0046&contRep=T2
into this: ("=" after the get parameter, which should not be there).
http://192.168.1.1:8080/ContentServer/ContentServer.dll?get=&pVersion=0046&contRep=T2
which causes my target server to respond with "invalid request".

[2018-02-06 03:25] amtsing commented on #3780
This issue can be worked around by using "Bulk Edit".

[2018-02-06 04:21] adlaws commented on #2559
Again, same here - I had to actually _delete the application directory first_, then do a fresh install, rather than just a reinstall. My first attempt with a simple "reinstall over the top" didn't fix anything.

[2018-02-06 04:58] psech opened #4150 "Code generator for NodeJS with Request misinterpret repetitive parameters in query strings"
## App Details:
[code]

## Issue Report:
Not sure about the previous version, just found it

### Actual behaviour:
I am querying the following url: https://app.launchdarkly.com/api/v2/flags/DataRoom?env=Staging&env=UAT
Please notice env parameter in query string is duplicated

The code generator produces the following:

[code]

Following qs documentation (https://www.npmjs.com/package/request)

as

[2018-02-06 05:06] adiworkoholic commented on #3485
If not archive, you can provide a UI (client side) way to hide them. Hopefully that is quick and easy way to address this in the interim.

[2018-02-06 06:11] soulomoon commented on #2622
@swateek  + 1

[2018-02-06 06:14] swateek commented on #2622
Actually, we need to ensure "Accept-Encoding: application/gzip" as a part of Headers.

Postman unzips and displays it for debugging purposes. You won't get a zip file downloaded. If you really need to test it that way, have a cURL request.

[2018-02-06 10:34] zlatkoc commented on #622
+1

[2018-02-06 10:37] avvensis commented on #2302
+1

[2018-02-06 13:16] reid3290 commented on #3117
+1 Not able to comment on raw json request is really not a good idea.

[2018-02-06 14:58] AbdelrahmanHafez commented on #1429
Any updates on this?

[2018-02-06 16:12] ghost commented on #2336
Collection variables are not recognized or working for me.

Version 5.5.2
win32 10.0.16299 / x64

[2018-02-06 17:14] vinogradoff commented on #2363
looks like regression in 5.5.2. Downloads even when just "Send" is used.

[2018-02-06 17:26] sjusic commented on #285
+1

[2018-02-06 17:28] Malavos commented on #2392
how is this not a feature already! +1

[2018-02-06 18:01] vinogradoff commented on #1946
@HeliosLHD same here. It takes up to 10 secs to process 1Mb response (response time itself is 200ms), and it never ends (30 mins still waiting...) with 4Mb response.

[2018-02-06 18:42] eastonharvey commented on #3274
To append this request, it would be really useful to allow the "Team" entity to own collections instead of individual users. We have team members that come and go and it's scary to let them own anything, especially collections that will be used for a long time to come.

[2018-02-06 19:31] MatthewRalston commented on #3962
Hi, this is still an issue facing lots of users.

[2018-02-06 20:01] garnold opened #4151 "AWS Signature V4 incorrect for application/x-www-form-urlencoded requests"
## App Details:

[code]

## Issue Report:
 1. Did you encounter this recently, or has this bug always been there: *I'm new to Postman so it's always been there for me*

It appears that Postman is calculating the Signature prior to URL encoding the request body. Our API is protected using AWS Signatures V4, and if any of the form data values include spaces the Signature check fails. If I remove spa

[2018-02-06 20:37] jrmclau commented on #285
A simple prompt for a variable that is then placed in the endpoint or the body as others have said, or even a confirmation box that occurs under certain conditions, such as if method = delete,

[2018-02-06 21:06] brazenvoid commented on #1946
I think that there should be an option to just hide the file content and not process it, a manually settable length for such would be best.

One may just show a message where the file/data is supposed to be with a small preview and then the total length.

[2018-02-07 03:27] ghost commented on #1947
+1

[2018-02-07 03:49] SaddestMoon opened #4152 "about font..."
## App Details:
Version 5.4.1
win32 10.0.15063 / x64
[code]

[2018-02-07 06:00] safeer-ahmed commented on #3962
So any workaround to get in Postman windows app?

[2018-02-07 07:09] heidemn commented on #285
For reference: Slightly related issues:
https://github.com/postmanlabs/postman-app-support/issues/1603
https://github.com/postmanlabs/postman-app-support/issues/824
https://github.com/postmanlabs/postman-app-support/issues/2887

[2018-02-07 08:59] anne-lydon commented on #2559
A restart seems to have done it for me. I'm using the native app on Mac.

[2018-02-07 09:38] fabianerni opened #4153 "Feature Request: Display Request URL"
## App Details:
[code]
**Feature**
Display the request URL with the response.

**Problem**
Normaly, you have the full request URL in the URL box of the request form. But we use environment variables for the hosts to switch between local, dev, test and production systems. So the URL input looks like this:

[code]
The real URL called in the requeset is only available as tooltip when hovering over th

[2018-02-07 09:43] nchaluse commented on #2392
+1 it should become a feature, a flag somewhere, that'd be neat, really !

[2018-02-07 09:46] fabianerni opened #4154 "Feature Request: Add auto format for JSON content"
## App Details:
[code]
**Feature**
Add format option for JSON request body

**Problem**
Because JSON is by definition just one string, it's difficult the read or edit larger JSON body content in the request. The JSON content type helps with the code highlighting, but it's still a one line string.

**Request**
Add an option to format JSON content with new lines and indents, just as code editors do.

[2018-02-07 10:09] andyherd commented on #2392
+1

[2018-02-07 12:46] dasx199 commented on #2030
+1

[2018-02-07 12:58] pawelalikowski opened #4155 "Capture proxy doesn't keep request authentication certificate"
## App Details:

[code]

## Issue Report:
 1. Did you encounter this recently, or has this bug always been there:
 2. Expected behaviour:
 3. Console logs (http://blog.getpostman.com/2014/01/27/enabling-chrome-developer-tools-inside-postman/ for the Chrome App, View->Toggle Dev Tools for the Mac app):
 4. Screenshots (if applicable)

[2018-02-07 13:59] nchaluse commented on #3915
Hello, I have somehow the same issue, it's becoming tough to move folders and request from one folder to another or from one collection to another. I have 10 collections and more than 1700 requests.

BTW, it also takes ages for synchronization... Maybe it's all because of synchronization, because once disabled, it's way better...

Might be related to [#2949](https://github.com/postmanlabs/postman-

[2018-02-07 14:06] dmitry-mukhin commented on #3390
just subscribing to this epic thread :p

[2018-02-07 17:07] JamesMGreene opened #4156 "Builder/UI waits indefinitely on request when a Contextify/VM error is thrown for large responses"
## App Details:

[code]

## Issue Report:

 **1. Did you encounter this recently, or has this bug always been there:**

Not sure.  This is the first time I've been dealing with responses this large.

 **2. Expected behaviour:**

The Postman Builder/UI should update to display the response after it receiving it.

Failing that, the Builder/UI should at least update to reflect that an internal Postma

[2018-02-07 17:10] JamesMGreene commented on #3302
I've noticed this, too, even if there is only one disabled `Accept` header.  The Console will initially show that disabled header's value (e.g. `text/csv`) but then seems to update to the correct one (e.g. `*/*`, in my case) after receiving the response.

[2018-02-07 17:13] David-A-Phillips commented on #4153
I was just about to post a request similar to this as I would like to copy a fully realized url with variables to share with coworkers this approach would work aswell.

+1

[2018-02-07 17:16] JamesMGreene commented on #4147
You should be able to control this.

Go to `Settings -> General` and disable the setting under the "Headers" section that is labeled "Automatically follow redirects".

[2018-02-07 17:18] JamesMGreene commented on #4154
:+1:

I am frequently using an editor or jsonlint.com to format my request messages before pasting them into Postman.  It would definitely be nice to have an option to format it right in Postman.

[2018-02-07 17:21] JamesMGreene commented on #4153
:-1:

I just get them (and variable-based request bodies) out of the Postman Console.

[2018-02-07 17:24] JamesMGreene commented on #4145
That would be really nice.  Similarly, I would love if the response section was also collapsible... less commonly but still occasionally desirable in my experience.

[2018-02-07 17:28] JamesMGreene commented on #3819
:100:

This would be extremely useful to anyone testing a locally hosted service, especially if they travel and are occasionally without WiFi/LTE (e.g. on airplanes or in random unfamiliar environments). I know it's happened to me before when I was on a plane... I was surprised but failed to add an issue for it.

[2018-02-07 18:32] garnold commented on #4151
More on this... I believe Postman is calculating the AWSv4 signature before encoding the form parameters in the POST body. JSON POSTs (`application/json`) work fine, but form data (`application/x-www-form-urlencoded`) with parameter values containing spaces do not.

Can someone from Postman check to see what's going on?

[2018-02-07 18:46] eloyucu opened #4157 "Call a collection level function from a request level test in postman"
In order to improve the tests, and its usability... is there anyway to call a function declared on the collection test/pre-request level from the request test/pre-request level??

I mean, I have (at the moment of post this issue) 10 folder and each of them 5-6 request. These requests are very similar between folders. This looks like:
[code]
Where the requests `request_X_1` use the same pre-request

[2018-02-07 18:48] eloyucu commented on #4157
Other thing I tried was (on the collection level):

[code]
But this `console.log(testHelper);` shows an empty object.

[2018-02-07 19:08] eloyucu commented on #4157
Do you know what could be great for the testing???
The possibility of using external files:
[code]
and call to functions with something like `resquest_1.test()`.
It's just an idea.

[2018-02-07 19:35] JamesMGreene commented on #4156
P.S. I also tried removing my "Tests" (post-request scripts) but doing so made no noticeable difference.

[2018-02-07 19:56] theampersand commented on #3466
Better yet: auto-save!

[2018-02-07 20:09] Iliev88 commented on #4005
+1

When requests are moved to a folder synching issues appears.

[2018-02-07 22:40] nithyamuth opened #4158 "Bad request for negative testing with Post verb always results in a time out."
![image](https://user-images.githubusercontent.com/33329496/35945282-460c043e-0c25-11e8-80bd-1928ac9d307a.png)

All other requests work with the postman.
When the request is run in a collection, due to the timeout issue the whole collection stops abruptly with connection error.

[2018-02-08 01:26] amruta-kale commented on #2821
I have the same issue. Would like to pass different data files for different tests in one collection. Also to be able to pick up specific data rows from the csv for a test.
Was there any update on this issue?

[2018-02-08 05:03] Rashmi-Nuviso commented on #1535
+1 , can postman team prioritize this enhancement ??

[2018-02-08 07:18] bartdkmediahuis opened #4159 "Empty test in collection download (using the API) not visible in user interface"
## App Details:

[code]

## Issue Report:
 1. Did you encounter this recently, or has this bug always been there:
- Bug was encountered only recently

 2. Expected behaviour:
- Our TeamCity server will download the collection, using the Postman API
- Strange thing is that the collection file contains an element without a name, that is not visible in the User Interface. Ofcourse newman will fail to

[2018-02-08 08:55] fredeil commented on #1947
This is a must have.

[2018-02-08 09:38] rvdwijngaard commented on #1535
+1

[2018-02-08 11:06] ionutincau opened #4160 "Add feedback functionality to Windows app"
Wanted to send feedback from Postman app for windows

[2018-02-08 11:07] ionutincau opened #4161 "Design for "Resolve sync conflicts" UI"
In the Resolve sync conflicts UI is a lot of whit space for item type, item id, property name, and the values I care about (server value and local value) are on the right are on right side in small columns.

Please make this screen bigger, maybe with a side by side view of changes (like git diff), and maybe item type, id on top like a title not a column.

Also thanks :) Postman is awesome!

[2018-02-08 11:12] NigelGay commented on #2798
I searched for a setting to turn this off too, and found your ticket with no resolution, so came up with this solution:
1) Find where Postman gets installed to - C:\Users\<name>\AppData\Local\Postman, under here you'll see a folder app-n.n.n\resources and a file in there named app.asar.
2) You need a way to edit .asar archives, the best I found was a plugin for 7-zip here - http://www.tc4shell.com

[2018-02-08 12:39] alevito opened #4162 "Delete request sends Content-length empty string when no body provided"
## App Details:

[code]

## Issue Report:
 1. Did you encounter this recently, or has this bug always been there: *recently*
 2. Expected behaviour: *delete request sends content-length header with empty string*
 3. Console logs (http://blog.getpostman.com/2014/01/27/enabling-chrome-developer-tools-inside-postman/ for the Chrome App, View->Toggle Dev Tools for the Mac app):
 4. Screenshots (if app

[2018-02-08 12:42] prashantagarwal commented on #4087
@tvvignesh Thanks for the suggestion. I think having url as variables open avenues for quite advanced use cases. I don't think we would be supporting this in any near future. Thanks again for bringing this up.

[2018-02-08 12:42] #4087 closed, assigned to nobody

[2018-02-08 12:50] prashantagarwal commented on #4091
@forresthopkinsa Thanks for suggesting this. We use a [third party module](https://www.npmjs.com/package/request) to make requests from native apps. I am afraid it doesn't support brotli yet. I will keep this issue open until we come up with some solution for this.

[2018-02-08 12:56] prashantagarwal commented on #4108
Hey guys, we will get this issue investigated and release the possible fix.

[2018-02-08 13:05] prashantagarwal commented on #4113
@vinogradoff Thanks for reporting this.

[2018-02-08 13:09] prashantagarwal commented on #4115
@CallumWatkins Thanks for reporting this.

[2018-02-08 13:11] prashantagarwal commented on #4117
@andreypolyak Thanks for suggesting this.

[2018-02-08 13:14] prashantagarwal commented on #4118
@andreypolyak Thanks for reporting this. We will get this fixed in future releases.

[2018-02-08 13:16] #4119 closed, assigned to nobody

[2018-02-08 13:18] davidpastrana commented on #184
@cpeeyush I was facing the same problem, not being able to format XML as I was not selecting the right "raw" type. Ctrl+B can also work for formatting xml, we just need to select the right type of code from Body > raw, in my case "XML(text/xml)" and then Ctrl+B.

[2018-02-08 13:19] prashantagarwal commented on #4120
@AbdelrahmanHafez We will be releasing some improvements to drag and drop in upcoming release. This will probably get fixed with those enhancements.

[2018-02-08 13:48] bachalarz commented on #1060
Thanks!

[2018-02-08 16:19] CoeusCC commented on #3874
I sorted it out with the proxy. I didn't realize it would be so easy because it's not as straightforward as the interceptor, but it is indeed possible by following the instructions here: [https://www.getpostman.com/docs/postman/sending_api_requests/capturing_http_requests](https://www.getpostman.com/docs/postman/sending_api_requests/capturing_http_requests).

I hope everyone who needs this functio

[2018-02-08 18:22] ilicmarko opened #4163 "Postman can't connect"
## App Details:
[code]

## Issue Report:
I can't get postman to go online for half of the day, tried turning of my Nod firewall still notning.

What is really strange it works sometimes and after few hours it stops and I can't get it to go online. I tried login in and out, shuting the app on and off.

![error log](https://i.imgur.com/Kw22YIE.png)

[2018-02-08 18:44] eloyucu commented on #4163
Hi!!!
I am very rookie with postman, but I think you are using the chrome extension... have you tried the desktop app??

64 bits -  [download link](https://app.getpostman.com/app/download/win64?_ga=2.82694356.359033834.1518115388-1626027866.1509619528)
32 bits - [download link](https://app.getpostman.com/app/download/win32?_ga=2.182991972.359033834.1518115388-1626027866.1509619528)

[2018-02-08 18:50] ilicmarko commented on #4163
@eloyucu as you can see from the app info (**Postman for Windows**) I am not 😢

[2018-02-08 23:39] ilicmarko commented on #4163
Now its online and syncing, its random.

[2018-02-09 00:03] trialTrail commented on #2392
+1
How this does not already exist is boggling. We need a simple way to toggle tests.

[2018-02-09 02:44] ybayk commented on #2336
I can confirm that collection vars do NOT actually work at all.
req1 test script:
pm.variables.set("foo", "bar");
req2 url:  http://example.com/{{foo}} is NOT substituted with http://example.com/bar but stays unresolved and called like http://example.com/%7B%7Bfoo%7B%7B

Version 5.5.2 (5.5.2)

[2018-02-09 04:47] andi-livn opened #4164 "Feature: Ability to explicitly specify scope when referencing variables"
## App Details:

[code]

## Issue Report:
From all I can find in the docs, stackoverflow & co, it is currently not possible to explicitly reference a variable value, as it has been defined on a specific scope, if the variable has been overwritten, i.e. set with the same name/key on another scope of higher priority. It would in some cases be useful to be able to explicitly use the value of a global

[2018-02-09 08:13] vdcardenas commented on #1180
+1

[2018-02-09 09:28] brnor opened #4165 ""Force Close Tab" key combination overlays on certain keyboard layouts"
Postman for Windows
Version 5.5.2
win32 6.1.7601 / x64

The shortcut for the Force close tab works by pressing CTRL + ALT + W, but the shortcut also triggers by pressing AltGr + W since Windows treats AltGr as Ctrl+Alt. This behaviour cannot be changed in Windows and requires third-party software to change which I cannot set up in my work environment.
Due to my keyboard layout, AltGr + W is requir

[2018-02-09 10:27] vdcardenas commented on #3987
Hi, I have the same problem with a Postman collection that has more than 500 requests. Importing it, copying folders and working and copy with it is directly impossible.

Attached collection without corporate data.

[Drakkar.Transfers.Quote.postman_collection.zip](https://github.com/postmanlabs/postman-app-support/files/1710586/Drakkar.Transfers.Quote.postman_collection.zip)

[2018-02-09 12:23] taggstarops commented on #285
We've been all waiting for this feature for so long that I have no other choice than start looking for an alternative for Postman. It's been almost 5 years!!

[2018-02-09 12:47] yogeshdengle commented on #4038
@thecuriousdev can you take off the waiting-for-response label so that someone can take a look at this? I have provided the required screen shot and a few other folks have also commented that they do see this issue.

[2018-02-09 14:19] 0xDA41 commented on #166
How is it that there still is no SEARCH? I literally cannot use Postman because of this. SEARCH is the standard "GET with a body"* method that you really can't build a modern REST API without. It's not even a "custom" method, it's part of the standard...

(ps. * to all inclined, please don't use GET with bodies, it messes up caching bigtime.)

ADD: To all interested, Insomnia is a pretty nice alte

[2018-02-09 14:26] EricPSU commented on #4038
If it helps, I posted this on another thread  (#3963), but it is also applicable to this thread.

I'm using self signed certs, which means I need to turn off `SSL certificate verification` in Settings > General.  Attached screenshot shows the first GET was with the setting ON, and it returns an SSL error which is expected.  Second GET is with it OFF, it does not attempt to send the certificates wi

[2018-02-09 14:34] yogeshdengle commented on #4038
@EricPSU I have the SSL verification to off.
I have verified what @vmurin has stated, on the application side, I had the server configured to use TLS for https, I turned that off and that caused post to work correctly. So it definitely is a problem of postman using sslv3 instead of TLS as required by my app.

[2018-02-09 15:01] sosensible commented on #3874
Seriously, isn't the chrome extension invalid moving forward? We are not
app only, right?

On Thu, Feb 8, 2018 at 11:19 AM, Patrick Zeinert <notifications@github.com>
wrote:

[2018-02-09 15:48] ghost commented on #3691
When will this issue be fixed?

[2018-02-09 18:08] cjangrist commented on #1850
+1 if I edit, only my edits are added to request payload. Otherwise it's just empty.

true for me ==> the problem appears when you try to generate the code for the intercepted requests using the chrome extensions.

[2018-02-09 18:09] jtlindsey commented on #3691
Same problem
[code]

One workaround is using the copy to clipboard UI button on the right, next to the search icon:
![image](https://user-images.githubusercontent.com/7409277/36042685-b9825730-0d9a-11e8-8d0b-2ba63c81e699.png)

Or switch to Raw view and copy

[2018-02-09 19:48] yeugeneu commented on #1535
definitely +1 to this!!

[2018-02-09 19:59] lems111 commented on #3251
In which release, should we expect the fix for this one? I have a customer that requires mutual authentication with only crt file. I have to switch to SOAP UI for now

[2018-02-09 20:19] dfrazzette-pnet commented on #1066
+1

[2018-02-09 20:39] e2canoe commented on #4044
We really need this. I just added authorization to my project and was shocked to discover that I now need to manually add my test token variable to all my requests' headers.

[2018-02-09 23:38] xiaohk opened #4166 "Postman generated Swift code doesn't work"
I tried Postman with some parameters and it succeeded to POST, but when I run the Swift code generated by Postman, I got 400 status code instead.

Below is the Swift code:

[code]

[2018-02-10 01:31] davidrissato commented on #285
+1

[2018-02-10 06:29] ajalgaonkar opened #4167 "Postman app window not opening even though the program is running"
## App Details:

[code]

## Issue Report:
 1. Did you encounter this recently, or has this bug always been there:
I was able to run postman without issues, but after a few days of use it just wont open and maximize
 2. Expected behaviour:
App should open
 3. Console logs (http://blog.getpostman.com/2014/01/27/enabling-chrome-developer-tools-inside-postman/ for the Chrome App, View->Toggle Dev Tool

[2018-02-10 09:03] Iliev88 commented on #4044
@e2canoe You can save headers in **Presets**

![image](https://user-images.githubusercontent.com/25150497/36060415-f3bc7810-0e51-11e8-83a7-c129734c9c1c.png)

[2018-02-10 22:22] tahmid-hasan opened #4168 "Postman form-data not works"
I'm facing some problem when using postman. When I'll try to send raw data in JSON(application/json) format, it get success.

![image](https://user-images.githubusercontent.com/34867248/36067185-6186362a-0ee2-11e8-8f27-1b7254007eee.png)

But when I'll try to send form data it returns some error.

![image](https://user-images.githubusercontent.com/34867248/36067193-99b4a7a2-0ee2-11e8-8aff-e7dee86b4

[2018-02-10 22:41] kurtulussahin commented on #1607
+1

[2018-02-11 15:45] ziggy42 commented on #3749
News on this?

[2018-02-11 22:10] kyleobrien91 commented on #2082
Any update on this? It's a disconcerting issue to have after 1.5 years. If you don't have the time, any pointers on where to start looking to perhaps submit a PR?

[2018-02-11 23:33] ben-eichler-abcs opened #4169 "Feature Request (minor) - Editing the Request description"
## App Details:
Postman for Windows
Version 5.5.2
win32 10.0.16299 / x64

## Issue Report:
 1. Did you encounter this recently, or has this bug always been there:
The behaviour has been there as long as I have been using Postman, which is not long
 2. Expected behaviour:
When editing the description of a Request, the Request is flagged as having been edited, so that when the tab is closed if the u

[2018-02-12 04:04] cyberhck opened #4170 "Enhance Text Area for writing tests in postman"
## App Details:

[code]
### Feature Request
Right now writing the tests for API part is a simple textarea, it's a time consuming process, and honestly, it doesn't help much.

We must improve this a bit, at least a little bit. First, it's using JavaScript and postman's all objects are known anyway, so a little bit of autocomplete would be nice. If not, just add typescript compiler support which wil

[2018-02-12 04:13] CreepyGnome commented on #4097
Thanks for the suggestion and the peek at an upcoming feature.

Some feedback on the scroll wheel over tabs. It is not a very good user experience, it's not even intuitive.  The workspaces are interesting depending on how it implemented it may be a nice feature, however, seems like you would still have to plan ahead to know you will want or need a workspace. Sometimes after a few days of testing e

[2018-02-12 05:19] wiseeker commented on #6682
+1

[2018-02-12 09:02] shtrip opened #4171 "Automatic url encoding"
## App Details:
[code]
## Issue Report:
 1. Did you encounter this recently, or has this bug always been there: **Always been there**
 2. Expected behaviour: I expect Postman to send the request I am asking it to send.

In Postman I do a GET to http://foo.com?x={123}
Postman actually sends a GET to http://foo.com/?id=%7B123%7D
Postman console shows http://foo.com?x={123}

I understand some people

[2018-02-12 09:16] ghost commented on #4110
Issue resolved. Thank you.

[2018-02-12 09:16] #4110 closed, assigned to godfrzero

[2018-02-12 10:20] ghost commented on #1104
+1

[2018-02-12 11:27] thecuriousdev commented on #4170
@cyberhck thanks for suggesting this, we will keep you posted in  https://github.com/postmanlabs/postman-app-support/issues/3919

[2018-02-12 11:27] #4170 closed, assigned to thecuriousdev

[2018-02-12 11:31] thecuriousdev commented on #4169
@ben-eichler-abcs thanks for suggesting this, we will keep you posted here.

[2018-02-12 11:56] thecuriousdev commented on #4168
@tahmid-hasan Actually Postman is sending the data but I don't think you'll get `form-data` in `req.body` directly. Which request body parser are you using?

In case of https://www.npmjs.com/package/body-parser (which is very common). It does not handle multipart bodies, due to their complex and typically large nature.

[2018-02-12 11:59] thecuriousdev commented on #4167
@ajalgaonkar thanks for reporting this bug, Please help me with the following,
1. App version?
2. Do you have a multi-monitor setup?

[2018-02-12 12:03] thecuriousdev commented on #4165
Hey @brnor thanks for reporting this, we'll keep you posted in https://github.com/postmanlabs/postman-app-support/issues/2707.

[2018-02-12 12:03] #4165 closed, assigned to sdnts

[2018-02-12 12:10] richja commented on #2392
+1

[2018-02-12 12:12] thecuriousdev commented on #4166
@xiaohk thanks for reporting this, We'll look into this issue and will keep you posted here.

[2018-02-12 12:13] harryi3t commented on #4164
@andi-livn If you have a variable `foo` defined in both globals and in some environment, you can get them separately using `pm.globals` and `pm.environment` respectively

[code]

[2018-02-12 12:13] #4164 closed, assigned to harryi3t

[2018-02-12 12:14] harryi3t commented on #4164
@andi-livn Feel free to re-open the issue if this does not solve your use-case.

[2018-02-12 12:17] thecuriousdev commented on #4171
@shtrip thanks for reporting this, we'll keep you posted here.

[2018-02-12 12:30] ghost commented on #2336
Day 509, the collection variables are still not being autocompleted during the request edition in the 5.5.2 version. Also, Postman complains about those variables, saying they're unresolved.

No answers, only hope.

Edit: Actually, they do work, but the program only complains about them as unresolved.

[2018-02-12 12:31] lucamaf commented on #3996
same here

[2018-02-12 12:32] thecuriousdev commented on #4162
@alevito thanks for reporting this, we'll keep you posted here.

[2018-02-12 14:00] devonparsons commented on #4044
@Iliev88 Useful, but header presets are not shared with your team, and editing them after the fact does not edit the requests already using them.

[2018-02-12 14:21] DollarAkshay commented on #1429
+1

[2018-02-12 15:28] itscharlieb commented on #166
+1 for REPORT

[2018-02-12 15:29] Crheederster opened #4172 "Runner Results Export function should Export CSV, PDF as a proper Report"
##Description:
The runner results export function, exports the results as a json file which serves no purpose.  As a test analyst I would expect the export function in this case, to export the results in a readable, useful format like Excel.

## App Details:
Postman for Windows
Version 5.5.2
win32 10.0.15063 / x64

## Issue Report:
 1. Did you encounter this recently, or has this bug always been t

[2018-02-12 15:52] jdinardo30 commented on #4140
Anyone?? I can't be the only one with this issue.

[2018-02-12 17:40] andutta commented on #2918
Hello, did anyone resolve the issue of bypassing security check for self signed certificates when OAuth2 URL is called for getting a token?

[2018-02-12 17:41] andutta commented on #3996
Facing the same issue, any resolution ?

[2018-02-12 17:47] dmasur commented on #1507
+1 we have issues to. Our Dev Team works develop on there own machines and need a token for every machine. Better way would be: store login creds and try to get a new token, if a respond indicates an invalid token. (I think Insomnia does this already)

[2018-02-12 18:01] sangaman commented on #3127
I'm getting this error with the newest version of postman on windows. When I try the identical call on ARC, I get a proper response. My timeout value is 0 on postman and there was nothing else apparently wrong.

[2018-02-12 18:33] danimr commented on #3251
Same problem over here. Running post in admin mode does not fix the problem.

A wordarroud would be highly appreciated.

[2018-02-12 19:00] ghost opened #4173 "Variable Data Type"
During the tests, there's the possibility to check the already defined environment variables. The problem is that those variables are stored as text. That is comprehensible behavior, because all the data sent via HTTP requests, even booleans, are text, but this forces the developer to do the following hacks:

[code]

## App Details:

[code]

## Issue Report:
 1. Did you encounter this recently, or

[2018-02-12 19:16] govindrai opened #4174 "Unable to right click + paste in postman request url bar"
Version 5.5.2 (5.5.2)
OSX El Capitan 10.11.6 (15G1217)

Context Menu doesn't showup when right-clicking. Therefore there is no option to paste.

[2018-02-12 20:14] dbkaynor opened #4175 "Feature request: Custom message in runner"
Is it possible to display a custom message in runner? As an example if a test fails I would like runner (or newman) to display a message telling the operator what needs to be done to correct the problem. I am able to use the following code but I would like it be display in a highlight color such as orange.

pm.test("**** If the following tests fail a credit card must be added to the account ****",

[2018-02-12 20:24] dbkaynor opened #4176 "Collection Variables not being decoded in code view."
If variables are defined in the Manage enviroment tool the Code display will show the the replaced values. If the variable are defined as collection variables then they are not.

Postman v5.5.2
Windows 10 64 bit

Body             <username>{{ServerUsername}}</username>
            <password>{{ServerPassword}}</password>
        </auth>
    </general>
    <request>
        <category>fundingmethod</

[2018-02-12 21:06] jdinardo30 commented on #3608
Hi all,

I wanted to mention that I'm seeing this exact issue in the latest version of postman.  I opened the issue here as it has sprung up again: #4140

[2018-02-12 21:20] bruno-gelb commented on #1906
still nothing?

+1

[2018-02-12 21:23] EricPSU commented on #4038
@yogeshdengle You are correct.  I just tried swapping SSL3 for TLS and it appears to be a TLS issue.  Postman does not support TLS 1.0+ and is set to use SSL3.0-.

@thecuriousdev we've confirmed the issue, can you switch the status of this ticket?

[2018-02-12 22:04] ben-eichler-abcs opened #4177 "Feature Request - create request in folder"
## App Details:
Postman for Windows
Version 5.5.2
win32 10.0.16299 / x64

**Scenario**
I am starting to create a collection of requests that will cover our codebase. I've scaffolded my requests into folders, I have about 3 levels of depth, with some folders containing 20+ subfolders. My requests mostly sit in the deepest level, and I want to be able to save them there quickly.

**Problem**
Each of

[2018-02-12 22:59] andi-livn commented on #4164
Thanks Harry. Just for anyone else wondering about this, in order to use this detour with a placeholder, for instance in a request URL parameter, you need to use the _Pre-request Script_.

e.g.: `GET http://localhost/api/dothemambo?cmd={{pm.globals.get("overriddenVariable")}}` does not appear to work.

But you can use a separate variable as placeholder:

`GET http://localhost/api/dothemambo?cmd={{

[2018-02-13 05:09] harryi3t commented on #4164
@andi-livn Thanks for sharing :) and yes that is the correct way of doing it.
Just to make it more solid, I made a small diagram.

![image](https://user-images.githubusercontent.com/5207331/36134209-40582814-10a9-11e8-812e-57e14e2f1f64.png)

Becuase of the lowest preference, a global variable gets overwritten by an environment variable with the same name. Your solution sets the same variable using

[2018-02-13 05:15] andi-livn commented on #4164
Thanks for the visuals. Makes it very clear and would make a great addition to the docs.

[2018-02-13 05:26] yubing24 commented on #2559
Same problem. I am using the native app on Ubuntu. Restart didn't always help.

[2018-02-13 06:02] steverep commented on #3121
Any progress here?  Can the priority be bumped?  Just started using Postman today, and I will be stopping tomorrow because of how inaccessible it is.  I'm happy to coach on the finer details of HTML and ARIA if questioned here.

[2018-02-13 08:49] Kisong75 opened #4178 "Error: ESOCKETTIMEOUT"
## App Details:

[code]

## Issue Report:
 1. Did you encounter this recently, or has this bug always been there: Always happen
 2. Expected behaviour: Postman show receive json response
 3. Console logs 4. Screenshots (if applicable)
![image](https://user-images.githubusercontent.com/28249715/36140100-61119ae2-10e3-11e8-9f52-63cac4f210f6.png)

[2018-02-13 09:02] #4038 closed, assigned to nobody

[2018-02-13 09:08] ChristianKoessel commented on #3566
I have the same issue:
Behind a corporate proxy with mandatory authentication (Basic/NTLM) the native app isn't working:
`Error: tunneling socket could not be established, statusCode=407`
The suggested workaround (using HTTP_PROXY environment variable with user and password) works with many other applications but not with Postman.

There simply has to be a way to configure username and password fo

[2018-02-13 09:27] yogeshdengle commented on #4038
@thecuriousdev why closed? This is an issue with Postman not using TLS

[2018-02-13 09:38] kineticz commented on #414
It's a bit tedious to sort requests by drag-and-drop. Why not let users sort by date/name or other criteria by just one click?

[2018-02-13 09:45] franck-fourel commented on #4041
@mattisebastian  I had the same issue on windows but I figured out that my URL Filters were not correct using the postman devTools . Once I fixed the filter, everything was working fine.

[2018-02-13 10:05] mattisebastian commented on #4041
Hi franck-fourel, unfortunately I have no active url filters in the proxy.

[2018-02-13 10:14] aman400 commented on #4079
+1

[2018-02-13 10:17] vapomalov commented on #4005
+1

[2018-02-13 11:41] Geolim4 opened #4179 "Unify line endings in Request Body"
## App Details:
[code]

## Issue Report:
When sending a request postman is sometimes failing to sent the data.
I send the data as a x-www-form-encoded with key/value and to get it working I had to switch from bulk edit to kv edit multiple times before I can receive the data on the webserver side.

I noticed this issue since I migrated to Postman for Windows, I did not have this issue with Chrome a

[2018-02-13 12:23] egilegil commented on #2452
This is indeed an issue in our project as well where we have 5 min TTL on our tokens, but refresh tokens have a more or less infinite life span. So I guess this is +1 from me as well :-)

[2018-02-13 13:45] EricPSU commented on #4038
@thecuriousdev is this issue being merged into a different bug?  Has it been fixed for the next release?

[2018-02-13 14:53] bisoldi opened #4180 "Feature Request: Hostname selection"
At the moment, while developing, I test my API's by starting up the Spring application locally in Eclipse and hitting the API's with Postman.  Then when I deploy, I test the deployed API's using Postman.  This requires 2 different requests created in Postman, I typically differentiate by putting "(local)" or "(live)" in the request name.

It would be awesome if either the hostname were separated f

[2018-02-13 15:01] mccannt commented on #2392
+1
We really need to see some movement on this. Its a key function that ReadyAPI has that is missing in Postman.

[2018-02-13 16:05] Chris-Yarland-Price opened #4181 "Long Tests"
## App Details:

[code]

## Issue Report:
 1. Did you encounter this recently, or has this bug always been there:
Encountered recently but i've only used postman for about 5 weeks
 2. Expected behaviour: Long test names should not cause the runner to collapse. So i am trying to get the response body included in the runner results for easy viewing however by doing the following it causes the viewer

[2018-02-13 16:44] AmyB123 opened #4182 "How to avoid duplicate code."
I have around 100 scenarios which need to be tested with different set of JsonFile, but the result we get can be verified with one single function, at present using Postman I have to copy the same code 100 times and then execute that with different array values.

Is there a way to avoid this such that we write one function and call that and use the code by giving the array values in the individual

[2018-02-13 16:45] smartman commented on #3518
Issue is still persisting

[2018-02-13 17:45] brenthale commented on #4145
I vote for this as well.

Regarding the "Response Section" that James talked about.  I can see how it would be nice to make it collapsible.  My big problem with that section is how I end up with multiple scroll bars.  I search for a string and often the word is in the response section but below the area currently showing on my screen.  It forces me to go to the outer scroll bar to scroll down to s

[2018-02-13 17:53] David-walks opened #4183 "Postman does not send raw JSON in post payload."
A post with Raw JSON/Application body with this data:
{
"distributor_id": "3",
  "details_id": "424374",
  "created_date_time": "2024-02-12T12:14:32+02:00",
  "pass_date_time": "2024-02-12T12:14:32+02:00"
}'
does not send the actual post data.

The curl request generated does work...
curl -X POST \
  https://local-server.com/v1/thing/create \
  -H 'Authorization: Bearer ASDFASDFASDFSDFASDFASDF' \

[2018-02-13 18:06] FabioGentile commented on #4151
I'm facing the same issue using SES api: if I try to use a POST method i get a signature error, while if I try with a GET method (same Authorization parameters) it works.

# App Details
[code]

[2018-02-13 20:02] govindrai opened #4184 "Feature Request: Command + / should toggle Settings Modal"
Using 5.2.2. Currently Command + / brings up the Settings Modal but doesn't toggle itself out of view when invoking the command again. Even better, I would like to be able to invoke a shortcut I just learned without needing to exit out of the setting menu. For example, hitting Command + \ could autoexit the Settings modal and toggle my sidebar.

[2018-02-13 20:04] govindrai opened #4185 "Bug: Command + F does not allow me to search the sidebar"
Using 5.5.2 and MacOS High Sierra 10.13.3 (17D47).

Command + F should allow me to search the Sidebar, but nothing happens when invoking the command. Ideally, even if I don't have the sidebar showing in view, Command + F should show the sidebar and autofocus the search field.

[2018-02-13 20:50] adrians99 commented on #2392
I second this, I have multiple environments and not all requests/tests work with them so I need to skip some requests without ending the collection request workflow.
Why setNextRequest() runs then next request and then ends the flow? if I am running a collection I don't want it to end all the requests.

I suggest 2 options:

1. setNextRequest() doesn't finish the flow while using the runner in a C

[2018-02-13 21:02] Pr1Smiley commented on #2750
Any reason why this thread was closed with no resolution?

Thanks

On 2018-01-25 16:54, Franjo Markovic wrote:

Links:
------
[1]
https://github.com/postmanlabs/postman-app-support/issues/2750#issuecomment-360628078
[2]
https://github.com/notifications/unsubscribe-auth/AYgS0QygULir4xLgcI1_DKp-KUBdu7UMks5tOQY-gaJpZM4MKnhb

[2018-02-13 21:09] rustoleum76 commented on #4092
I encounter this same issue using NTLM and a Collection Runner.  I have documented the issue I encountered in the community forums, but seems to be the same issue.  I can see Status 200 for the first couple iterations, and then 401 for each thereafter.  I can run the tests individually, and I also found that if I run 2 iterations of the Collection, then 3 iterations, then all 407 I can get the ful

[2018-02-13 22:54] jokrent88 commented on #2030
+1

[2018-02-13 23:06] trajano commented on #2750
#3511

[2018-02-14 01:09] elpaisa opened #4186 "AWS Signature authentication issue old vs new postman versions"
Hi, i'm using the latest postman version to do an authenticated request to AWS, i'm using the provided authentication option, however, no matter what i do, it gets the following error:

`{
    "message": "The request signature we calculated does not match the signature you provided. Check your AWS Secret Access Key and signing method. Consult the service documentation for details.\n\nThe Canonical

[2018-02-14 05:02] jayasuryajeyakodi commented on #384
You can enable postman interceptor that will allow you to change the referer header

[2018-02-14 06:10] stephenhillier commented on #3783
I'm also getting the same problem. Same distro (arch). I installed postman-bin from AUR.

It seems that the cursor is aligned based on monospace character spacing but the actual characters are a non-monospaced font.

Is there a way to change the font or make sure I have the one I need?

[2018-02-14 07:18] shamal commented on #6682
+1

[2018-02-14 07:23] alexmreis commented on #3390
+1

[2018-02-14 08:38] piyushkantm commented on #2336
Still unable to work with the collection variables..

[2018-02-14 08:40] aprixon01112017 opened #4187 "Feature request: Toggle folders in collections active/inactive"
So one can easily test selectively certain requests.

[2018-02-14 08:41] WORMSS commented on #2336
@piyushkantm you can still work with them.. They just don't show up in auto complete and they look invalid if you type them manually.. But when you run them, they work. It is purely a visual thing.

[2018-02-14 09:11] alexandraburnete commented on #3960
+1 for this to be implemented

[2018-02-14 09:43] Chris-Yarland-Price commented on #4172
I totally agree and this should be a better way of doing things currently what we do is in the runner results if you ctrl + A, ctrl + C and paste into a txt file it gives you a readable format it is still way too verbose but it is better than the alternatives. especially for adding into JIRA as proof of testing

[2018-02-14 09:45] Chris-Yarland-Price commented on #4182
have you tried using the test area in teh folder or collection these are run for every request in the folder or collection and for somethings work much better if you have multiple requests with the same expected results

[2018-02-14 09:54] jawn opened #4188 "Code completion in JavaScript editor"
## App Details:
[code]

## Question

As a postman user writing Chai style tests in javascript, I wish to see code completion to speed up writing tests.

Is this possible or on the roadmap?

Alternatively, can you use an external editor (VS Code, Atom...) to achieve this?

[2018-02-14 10:19] d2huynh commented on #2392
+1 on "create a new method like "skipRequest()" to continue with the other requests. That way I can try: if(environment.url === "http://local:8080") {skipRequest()
}"

[2018-02-14 10:47] zihotki commented on #3996
Duplicate of [https://github.com/postmanlabs/postman-app-support/issues/2918](https://github.com/postmanlabs/postman-app-support/issues/2918 )

[2018-02-14 10:48] zihotki commented on #2918
No, the issue is still there and it doesn't look that it's going to be addressed soon :( . It's a show stopper for us and for many others.

[2018-02-14 11:03] davidsbond commented on #6682
@kunagpal For more context, we want to be able to write postman tests for a server supporting [EventSource](https://developer.mozilla.org/en-US/docs/Web/API/EventSource) connections, which handles HTTP requests in `text/event-stream` format. The connection stays open and events are written to the stream by the server.

[2018-02-14 12:00] kbalint commented on #2833
happening with v5.5.2, on Remote Desktop too (remote machine has 2 monitors, RD has one window)

[2018-02-14 12:20] kamalaknn commented on #4188
@jawn

Thanks for your feedback. I'm marking this as a feature request.

Unfortunately there is no way edit the requests in an external editor now.

[2018-02-14 12:23] kamalaknn commented on #4187
@aprixon01112017 Thanks for your feedback.

I am marking this as a feature request.

Though it is not possible to toggle off folders, you can still selectively run folders in the collection runner. You can also use the `setNextRequest` to control your execution to skip folders. [Read More](https://www.getpostman.com/docs/postman/collection_runs/building_workflows).

[2018-02-14 12:24] kamalaknn commented on #4185
Hi @govindrai

Thanks for your feedback. We will look into this.

[2018-02-14 12:25] kamalaknn commented on #4184
@govindrai Thanks for your feedback. We will look into this.

[2018-02-14 12:28] kamalaknn commented on #4182
@AmyB123

You can try out out collection/folder level scripts to organize your scripts. You can find the documentation [here](http://blog.getpostman.com/2017/12/13/keep-it-dry-with-collection-and-folder-elements/).

I'm closing this issue. You can find more examples/answers on our community page - https://community.getpostman.com/

[2018-02-14 12:28] #4182 closed, assigned to nobody

[2018-02-14 12:30] kamalaknn commented on #4181
@Chris-Yarland-Price

Thanks for reporting this. We will look into this.

[2018-02-14 13:11] rpheart opened #4189 "com.predictiveintent.ips001.response.message →URI component combinations: Version / Operation are invalid"
Cannot able to post XML request and get response

## App Details:

[code]

## Issue Report:
 1. Did you encounter this recently, or has this bug always been there:
 2. Expected behaviour:
 3. Console logs (http://blog.getpostman.com/2014/01/27/enabling-chrome-developer-tools-inside-postman/ for the Chrome App, View->Toggle Dev Tools for the Mac app):
 4. Screenshots (if applicable)

[2018-02-14 13:13] rpheart commented on #4189
![image](https://user-images.githubusercontent.com/7838761/36206037-d21febc6-1188-11e8-86b7-554d78d8932f.png)

[2018-02-14 13:13] #4189 closed, assigned to nobody

[2018-02-14 13:23] Chris-Yarland-Price commented on #4181
This also happens for newman using HTML almost the same exact problem

[2018-02-14 13:38] jawn opened #4190 "Docs incorrectly state the RAML is supported import format"
On https://www.getpostman.com/docs/postman/collections/data_formats, the documentation claims that RAML is a supported input format.

This works with the github RAML example on that page, which starts with #%RAML 0.8.

However, files with #%RAML 1.0 are refused. This is the official version.

The documentation should mention which versions are supported.

Issue to add support for RAML 1.0 version:

[2018-02-14 14:12] NagyBandi commented on #3158
This would also be beneficial when I'm writing the test for an API with slow response time. This way I wouldn't have to wait for the same response over and over again just to check if my test is written correctly.

[2018-02-14 15:36] gjnk commented on #4124
Actually I found a workaround: rather than using pm.request.name I can use request.name which works.
FYI, as for the description attribute it works both ways: pm.request.description and request.description

[2018-02-14 15:36] dlwhitehurst commented on #3861
Per RFC-1738, the slash is used within the URI as a hierarchical separator and the slash is used to separate resources that are "relative" to the resource left of the resource after the slash. I've currently been using Postman for testing a private corporate API and my test uses query parameters like so e.g. http://someserver:8357/parent/child?name=Bob and it doesn't work. I added a slash e.g. htt

[2018-02-14 15:54] hspitzle commented on #2905
+1

[2018-02-14 15:59] hongaar opened #4191 "Overriding with *No Auth* doesn't always work"
## App Details:

[code]

## Issue Report:
 1. Did you encounter this recently, or has this bug always been there:
**Just recently encountered this problem, but may have always been there...**

 2. Expected behaviour:
**When creating a new collection and specifying a default authorisation mechanism, I expect requests in that collection to not use that authorisation mechanism when an individual requ

[2018-02-14 17:01] anthony-cole commented on #4180
I was about to request the same thing, when I scanned down and saw this!!! This will be a huge improvement to user productivity.

There should be a way to select the host name which is separate from the requests some how.
I should be able to keep testing with a selected QA host, but choose and send different requests which will all go to that host rather than keeping multiple sets of saved request

[2018-02-14 17:04] evanmiller67 commented on #3861
Based on your comment, the URL listed in the steps to reproduce would be incorrect (i.e. https://postman-echo.com/get).

This problem has nothing to do with the resource in question, but trying to replace the host/port portion of the URI with the parameter listed.

[2018-02-14 17:31] ir-fuel commented on #1947
+1

[2018-02-14 18:34] yeugeneu commented on #2247
+1

[2018-02-14 18:52] dpburgess commented on #2392
+1

[2018-02-14 22:17] vbikash opened #4192 "Postman with TLS1.2"
Have anyone used POSTMAN with TLS1.2 ? We are moving away from SOAP UI to POSTMAN to test our webservice. I am able to get response with http. After  enabling SSL, added crt, key and paraphase i am getting error.  I am able to invoke the same wsdl through the browser. Our application only accepts TLS1.2 and not sslv3 .

getting error
here was an error running your collection: write EPROTO 10105779

[2018-02-15 01:23] birbird commented on #3993
have this issue too.

requester.js:68011 POST https://app.getpostman.com/api/signin net::ERR_INSECURE_RESPONSE
request @ requester.js:68011
signInUser @ requester.js:188694
handleSignInSubmit @ requester.js:422636
handleSelectItem @ requester.js:9363
callback @ requester.js:11051
_fireCallback @ requester.js:133727
Mousetrap.self._handleKey @ requester.js:133788
Mousetrap.handleKey @ requester.js:

[2018-02-15 03:51] Giri-oss commented on #2617
+1 Vote for this issue. without this Swagger import is not helpful.

[2018-02-15 03:56] Giri-oss commented on #843
+1 Vote for supporting postman to pick API body from swagger import

[2018-02-15 04:08] stramel opened #4193 "[REQ] Reference other request on pre-request script"
It would be nice to be able to reference a pre-built login request from another request's pre-request.

[2018-02-15 04:12] stramel opened #4194 "Variables not properly resolving in Pre-Request Script"
## App Details:

[code]
Postman for Windows
Windows 10/x64
_Will get version tomorrow_

## Issue Report:
 1. Did you encounter this recently, or has this bug always been there: Encountered recently
 2. Expected behaviour: Variable should fully resolve
 3. Console logs (http://blog.getpostman.com/2014/01/27/enabling-chrome-developer-tools-inside-postman/ for the Chrome App, View->Toggle Dev Tools f

[2018-02-15 04:41] #4192 closed, assigned to nobody

[2018-02-15 04:41] vbikash commented on #4192
solved

[2018-02-15 04:51] tarunlalwani commented on #4131
Any update on this?

[2018-02-15 05:39] karthiag93 commented on #191
image file getting corrupted after sending from post man to local drive using java in Springs...
please help me out from this problem,
code:
   public void upload(MultipartFile imageFile)
{
	                File fe = new File("/home/new/imageFile.png");
			FileOutputStream outputStream = new FileOutputStream(fe);
			outputStream.write(imageFile.getBytes());
			outputStream.close();
}

[2018-02-15 05:43] karthiag93 opened #4195 "file get corrupted after uploading from post man"
image file getting corrupted after sending from post man to local drive using java in Springs...
please help me out from this problem,
code:
public void upload(MultipartFile imageFile)
{
File fe = new File("/home/new/imageFile.png");
FileOutputStream outputStream = new FileOutputStream(fe);
outputStream.write(imageFile.getBytes());
outputStream.close();
}

[2018-02-15 07:44] sivcan commented on #3996
Closing duplicate issue.

[2018-02-15 07:44] #3996 closed, assigned to harryi3t

[2018-02-15 08:42] sivcan commented on #4194
Hi @stramel - Duplicate of issue : https://github.com/postmanlabs/postman-app-support/issues/3929

[2018-02-15 08:42] #4194 closed, assigned to nobody

[2018-02-15 08:51] stramel commented on #3929
I don't understand why this is closed...

This is unexpected behavior especially when the variables function differently in the rest of the app.

[2018-02-15 09:01] sivcan commented on #4173
Hi @h4ckth1ssh1t - Thanks for this suggestion, I'll be putting it up as a feature request.

[2018-02-15 09:18] sivcan commented on #4172
Hi @Crheederster - Thanks for this suggestion. I'll be putting it up as a feature request.

[2018-02-15 09:23] sivcan commented on #4191
Hi @hongaar, we'll try to reproduce this issue and get back to you.

[2018-02-15 09:25] sivcan commented on #4177
Hi @ben-eichler-abcs - Thanks for this suggestion.
I'll be putting it up as a feature request.

[2018-02-15 09:35] sivcan commented on #4180
@bisoldi - Pardon me if I got you wrong.
As per my understanding, you're using two different url's for the requests.
The end points for your API's are obviously the same.
Just the host-url changes from local to live.

Have you tried using variables in postman ?
You can save a url as a variable in postman (maybe an environment variable or a global one).

My suggestion would be that you create two e

[2018-02-15 09:43] sivcan commented on #4175
Hi @dbkaynor, for your first suggestion, I'll put it up as a feature request.

For the second one I needed some clarification
Are you saying that when a test fails, you want to stop the runner from running more requests ?

[2018-02-15 09:48] valnub commented on #1669
Is there an ETA for this?

Currently we're forced to use Insomnia but we'd much more prefer Postman for automated testing.

[2018-02-15 14:45] bisoldi commented on #4180
@sivcan I had not, but I just tried it and it works perfectly.  I then had the thought that this wouldn't really work if I were working on multiple projects, each project had its own local and live URL and then figured out that Postman allows you to chain the variables, so I can set the Environment variable {{baseUrl}} -> {{live}} || {{local}} and then define {{live}} and {{local}} in the folder v

[2018-02-15 16:11] Ocsidot commented on #1180
Please add this functionality inside Postman, it will be a great help

[2018-02-15 16:41] kyeotic commented on #3386
Still looking for an option to disable this prompt entirely. CMD+ALT is an awkward key combo to use for people with hands.

[2018-02-15 17:08] #3880 closed, assigned to kamalaknn

[2018-02-15 17:08] foresterr opened #4196 "NTLM authentication does not work in conjunction with 302 redirect"
## App Details:

[code]

## Issue Report:
I'm trying to connect with NTLM authorization to an API which initially responds with 302: Authorize at this location redirect. It seems that after receiving www-authenticate:"NTLM" from the redirect location, Postman tries to send the NTLM authorization header to the original URL instead of the redirected one.

[2018-02-15 17:09] dbkaynor commented on #4175
Yes, when a test fails, I want to abort any following tests. Also, I would like to be able to be able to be able to conditionally run some tests and skip others. For example, I have some tests that need to be run daily and other only once a week.

[2018-02-15 17:11] bisoldi commented on #4180
@sivcan Funny thing...It seemed to be working with the chained variables (i.e. I set the environment variable {{baseUrl}} -> {{local}} and then a folder variable {{local}} -> localhost and then put {{baseUrl}} in the URL) and it worked.  I then decided to try moving {{local}} -> localhost from a folder variable to a global variable and changed some other names to be reflective of the project...And

[2018-02-15 17:50] ivaylogeorgiev1 opened #4197 "Environmental variable not updated"
Hello,

I have pre-request script on collection level with a method (self invoked )that uses the environment variable X
On request level i have pre request script that updates the environment variable X
then  I'm calling the method from the collection level pre -request script and the X is not updated.

Is that a bug ?

[2018-02-15 18:28] vbikash opened #4198 "execute request in parallel using the Runner"
Is there any option to run a request in parallel(with x thread) using the Runner ?

[2018-02-15 18:54] EeKay commented on #2030
+1

[2018-02-15 19:54] ugenlik opened #4199 "Postman throws error and when environment value is null"
## App Details:

[code]

## Issue Report:
 1. Did you encounter this recently, or has this bug always been there: Recently
 2. Expected behaviour: Postman to complete the request.
 3. Console logs (http://blog.getpostman.com/2014/01/27/enabling-chrome-developer-tools-inside-postman/ for the Chrome App, View->Toggle Dev Tools for the Mac app):
[code]
 4. Screenshots (if applicable)

![screen shot 2

[2018-02-15 20:32] chisumo2016 commented on #2005
![image](https://user-images.githubusercontent.com/9254656/36279540-52f970da-128f-11e8-8470-00501108098d.png)

[2018-02-15 20:39] Pacerier commented on #119
@a85 , How to send **full** raw requests? (not just for post-body)

(Also c https://marketplace.visualstudio.com/items?itemName=humao.rest-client .)

[2018-02-15 20:43] chisumo2016 commented on #3228
![image](https://user-images.githubusercontent.com/9254656/36280018-e87abc8a-1290-11e8-97b6-021237aae72f.png)

[2018-02-15 20:46] matthisk commented on #2247
Seems like collection level scripts can only be used to share literal values between requests. Not to share functions, is that correct?

[2018-02-15 20:50] jonpcunanan commented on #2247
I found this from another forum.  You can do a hack and set a function as a global variable like this.

postman.setGlobalVariable("commonTests", (testsInput) => { .. }

For our requests we have to request an auth token first so I'll set this commonTests function in the pre-request scripts.

Call this from your request test

eval(globals.commonTests)();

[2018-02-15 22:38] marvader commented on #3312
+1

[2018-02-15 23:10] marvader commented on #1228
+1

[2018-02-15 23:29] allyn-psyonix opened #4200 "Web alternative to "pm"?"
We write our tests in the standalone client but they are executed by our automated build process via a web interface. I found out the hard way that "pm" is only supported in the standalone client when the tests started failing only during the automated build process.

Is there an alternative test form that works with both the standalone client and web interface?

[2018-02-15 23:53] marchy commented on #1678
Any update on this? Number one gap in Postman for so long. You guys have been doing great things but missing the easy, low-hanging fruit such as this.

Let's get this in the otherwise fantastic product!

[2018-02-16 05:25] kishorwsfl commented on #1885
+1

[2018-02-16 05:39] ghost opened #4201 "[question & feature request] Being able to change the order of Examples"
Hi, is there any way to change the order of example? I am making a documentation now
(well, I would like to change the order like drug and drop)
![image](https://user-images.githubusercontent.com/13827579/36294831-75fafb50-1337-11e8-9f5b-5f42c8463093.png)

thanks in advance!

[2018-02-16 05:51] vdespa commented on #4200
Which web interface are you referring to? Postman Monitors?

[2018-02-16 06:05] andi-livn commented on #1947
+1 indeed. I've come across several cases of APIs using a custom header for authorisation

[2018-02-16 06:34] darron1217 commented on #4044
I've always been dreamed of this feature as collection config!

Just like the image below
![image](https://user-images.githubusercontent.com/8064923/36296106-ee0b3744-132e-11e8-9b5b-e2ac878d5f72.png)

I hope this feature to be added soon!

[2018-02-16 07:08] sivcan commented on #4180
@bisoldi That should just work out of the box. Just make sure to not put the curly brackets in the name of any variable. For reference please see my screenshot below
![image](https://user-images.githubusercontent.com/12631777/36296936-d407a774-1315-11e8-8ad1-79d04ff92072.png)

[2018-02-16 07:12] marvader commented on #4076
Same problem here..

TypeError: Cannot read property 'code' of undefined
    at runner.js:169739
    at arrayEach (common.js:1734)
    at Function.forEach (common.js:10223)
    at runner.js:169709
    at arrayReduce (common.js:1901)
    at Function.reduce (common.js:10566)
    at getRequests (runner.js:169708)
    at ReduxToBackbone (runner.js:169935)
    at RunnerController.exportRun (runner.js:2

[2018-02-16 07:32] harryi3t commented on #4113
@vinogradoff The globally available `request`object (along with other objects) is deprecated. Please use the [pm API](https://www.getpostman.com/docs/postman/scripts/postman_sandbox_api_reference).
There's a method `get` on pm.request.headers which takes case-insensitive header name
[code]

But if you want to check for the case also, you can convert the headers to JSON and then search for the key.

[2018-02-16 07:53] harryi3t commented on #4113
@vinogradoff The globally available `request`object (along with other objects) is deprecated.

Please use the [pm API](https://www.getpostman.com/docs/postman/scripts/postman_sandbox_api_reference) instead.
There's a method `get` on `pm.request.headers` which takes case-insensitive header name
[code]

But if you want to check for the case also, you can convert the headers to JSON and then search f

[2018-02-16 07:53] #4113 closed, assigned to harryi3t

[2018-02-16 08:19] aniopn commented on #2801
Please, integrate this new feature!
Regards
Angelo

[2018-02-16 08:27] aniopn commented on #2185
Please, integrate the possibility to query sql database, take some parameters and pass those parameters to "GET" or "POST" or "DELETE" requests in Postman.
Regards
Angelo

[2018-02-16 08:29] janAtcontinia opened #4202 "Adding a file to a post request affects 2 requests"
V5.5.3 for Windows 10

I added a post request that posts a csv file.
Content-type: [{"key":"Content-Type","value":"application/x-www-form-urlencoded","description":"","enabled":true}]
In form-data, Body I add a File

then I duplicate the request and change the server.
Now I have 2 requests

When I add a File in one of the requests:
1) A red dot that indicates that the request have been changed doe

[2018-02-16 08:37] harryi3t commented on #4201
@takuyaokamoto11 Duplicate of https://github.com/postmanlabs/postman-app-support/issues/1070
This is not supported yet. Please subscribe to the original issue for updates

[2018-02-16 08:37] #4201 closed, assigned to prashantagarwal

[2018-02-16 08:39] jxmot opened #4203 "Saving a request ending in a query (?something) appends an `=` to the end."
## App Details:
[code]

## Issue Report:
 1. Recently started testing an API that I want to use
 2. Expecting the API to return JSON formatted data, however the request fails.
 3. Console logs: Please see screenshot.
 4. Screenshots
<br>

**Console Showing Issue:**

![image](https://user-images.githubusercontent.com/20270843/36298318-2e87a2a2-12bd-11e8-92c5-7364501d3a8f.png)

## Issue Explanation

[2018-02-16 08:43] GraemeF commented on #3717
I'm experiencing the same issue - will send a .raml file as requested.

[2018-02-16 08:48] sivcan commented on #4203
Duplicate of issue https://github.com/postmanlabs/postman-app-support/issues/3991

Closing this.

[2018-02-16 08:48] #4203 closed, assigned to nobody

[2018-02-16 09:03] jxmot commented on #4203
Sorry, I tried looking before I created it! But I'm happy to know it's being worked on!

[2018-02-16 09:03] sivcan commented on #4203
@jxmot - No problem :)

[2018-02-16 09:33] harryi3t commented on #4202
@janAtcontinia
1. The file is not saved with the request. So when you re-open the request, you would have to select a file again.
2. If you do not close the tab-1 and duplicate the request, and the change the file in tab-2 then it should not affect the file in tab-1.

I have tested this on my end and this is working fine
[Link to video](https://drive.google.com/file/d/1QGoNcJmihRz_Y99rblr0vZR2AJfj

[2018-02-16 09:40] harryi3t commented on #4200
Same question as posted by @vdespa.

If you were referring to Postman Monitor then could you let us know which method in pm API is not working for you on Postman Monitors and working in the native app

If you were referring to Postman Chrome App then please be advised that the Postman Chrome App is now deprecated and we are not adding new features to it

[2018-02-16 09:41] #957 closed

[2018-02-16 09:43] #3689 closed, assigned to prashantagarwal

[2018-02-16 09:46] tsvx commented on #2260
@genachka Just for now, it seems that you can just replace the version in the "Download" url to the desired version and that's it. 5.4.0 is not available, but I've got 5.4.1 in this way.

[2018-02-16 09:52] janAtcontinia commented on #4202
I closed Postman and re-opened it, and now it works as expected. The 2 requests are disconnected.

Then I tried again
Before:
[cid:image006.jpg@01D3A714.405C1F40]

[cid:image007.jpg@01D3A714.405C1F40]
With best regards

Now changing in one of the requests:
[cid:image008.jpg@01D3A714.405C1F40]

[cid:image009.jpg@01D3A714.405C1F40]

Jan Nielsen
Software developer

E-mail: jni@continia.com

Continia

[2018-02-16 09:54] sivcan commented on #4198
@vbikash - Runner as of now does synchronous execution of requests.
You can use multiple runner windows for multiple runs (run them in parallel).

[2018-02-16 09:59] sivcan commented on #4198
@vbikash - Runner as of now does synchronous execution of requests in a run.
You can run multiple runs on a folder or collection in parallel with different configurations (suppose environment, persist variables, delay etc.)

[2018-02-16 10:27] SergeyTishchenko commented on #4128
The same issue for me
![image](https://user-images.githubusercontent.com/22492720/36303387-119f7128-131d-11e8-8ba8-af72e47e58b7.png)

App Details:
Postman for Win
Version app-5.5.3
Windows 7 x64

[2018-02-16 11:39] harryi3t commented on #4199
@ugenlik Thanks for reporting. We are looking into this

[2018-02-16 11:42] lukasvan3l commented on #1319
+1
We don't use the environment settings for authentication credentials, but for URL's to production or test environments. Ideally each team member can modify these and they get synced to all other team members, and monitoring.

[2018-02-16 11:44] harryi3t commented on #4197
Order of execution is
[code]
So, any variable set from req level pre-req script will not be available in the collection pre-req script

[2018-02-16 11:44] #4197 closed, assigned to nobody

[2018-02-16 11:56] ivaylogeorgiev1 commented on #4197
the variable is updated at the end when you inspect it, but it seems that when the collection level pre request script runs some kind of snapshots of the variables is made and the update of the request pre request script change on the variable is not considered.

[2018-02-16 11:56] harryi3t commented on #4196
@foresterr Can you test this flow in a browser. Is that handled properly?

[2018-02-16 12:04] harryi3t commented on #4202
@janAtcontinia The images were not uploaded. If you prefer you can mail them also at harendra[at]getpostman.com

[2018-02-16 12:17] harryi3t commented on #4197
Yes variable will be updated but because of the order of execution collection pre-req script cannot access it
[code]

[2018-02-16 12:24] harryi3t commented on #4196
@foresterr Confirmed the issue. Marking this as a feature request.

[2018-02-16 13:52] bisoldi commented on #4180
That worked!  Not sure what I was thinking....Thank you!

[2018-02-16 13:52] #4180 closed, assigned to sivcan

[2018-02-16 14:32] ivaylogeorgiev1 commented on #4197
here is an  example- "try changing this value" - change this value in different requests

create test variable( in the case global) testVariable

Collection pre request scirpt

[code]

request pre req script

[code]

so *2* gives the updated value but logTheVariable(); gives us the old value.  At the end the variable is updated and if you call run again *1* will give you the new value

some kind o

[2018-02-16 15:24] skyboyer commented on #2922
Postman team has implemented `pm.variables.get()` to use instead of `environment[...] || globals[...]` but the root issue with variable substitution is still actual.

[2018-02-16 15:29] vkras commented on #1473
It just stopped working completely after most recent update (Windows Client).
Please bring this very useful feature back (Ctrl + B)

[2018-02-16 15:39] harryi3t commented on #4197
@ivaylogeorgiev1 I was able to reproduce this.
Sharing javascript global variables or functions across scripts is not an intended feature and not reliable. It may work in some cases.

`logTheVariable` should not even be accessible to the request script.
If you are using this behaviour to keep common functions in collection-level scripts and reusing them in other request scripts, I would recommend

[2018-02-16 15:51] ivaylogeorgiev1 commented on #4197
yes, this work around is clear to me but I'm still thinking that this is a bug.

[2018-02-16 16:03] dasjestyr commented on #2336
If they're not working, I'd suspect that it is because your test hasn't yet been saved to the collection that holds the variable. For example, if you add the variable to MyCollection, then your test has to be saved there before it'll resolve. The UI will still show it as unresolved, but when you execute the test, it will work.

[2018-02-16 17:31] vbikash commented on #4198
@sivcan in the collection runner i see "iteration" and "delay" which is basically consecutive request not in parallel. am i  missing any other option?

[2018-02-16 18:14] marco-brandizi commented on #2489
I think this is not fixed yet. The updater closes PM and then nothing else happens. I don't think changing system dir permissions or running PM as admin are acceptable solutions, for the standard way to manage this in MacOS is that the updater asks the user to provide the credentials of an admin user and then it runs stuff as that user. Putting the new .app file under user's Applications directory

[2018-02-16 18:19] allyn-psyonix commented on #4200
Just touched base with the dev who did the build pipeline integration and it sounds like it's not a web interface we are using for that, it's the Newman CLI. The "pm" object itself does not appear to be available when our tests are run via Newman. The "tv4" object also doesn't appear to be available for schema validation. Older tests that work are using the old API, appending tests to the "tests"

[2018-02-16 19:19] hallem opened #4204 "URL Parameter disappears when unchecked"
## App Details:

[code]

## Issue Report:
 1. Did you encounter this recently, or has this bug always been there: Within the last couple of months. Just starting to be really bothersome.
 2. Expected behaviour: There are URL params defined and when editing them, if you have duplicates for different test cases, when you uncheck one and check the other, one disappears. I'd expect that not to happen.

[2018-02-16 19:48] allyn-psyonix commented on #4120
Just wanted to chime in: About 80% of the time that I attempt to drag-and-drop move an entry within a collection it just disappears. The tab with the service call etc is still open, so it seems to still exist somewhere, but I have manually searched all collections and cannot find any of the missing tests.

I am using the standalone client, dark theme, Windows 10, and we are using shared team colle

[2018-02-16 20:23] ugenlik commented on #4199
@harryi3t  my guess is this has to do with environmental variables. because in a previous script I set variables like this

Previous script response is

[code]

as you can see there is a lot of null's in there.

[code]

then I request the above PATCH like this:
[code]

In the last version did any changes applied to how postman handles environmental vars ?

or is it because`obj.city` is null but th

[2018-02-16 20:29] CakeEddy commented on #2273
This is a feature that I've been keeping my eye out for. Please implement this ASAP.

[2018-02-16 20:45] unff commented on #4140
Same issue here.  Fiddler shows that no Authorization header is being sent in the request.  Generating the token is fine, but it never gets passed into the request headers.  I also get the same "Could not update authorization data." when previewing the request.

Adding the "Authorization: Bearer [accessToken]" header manually works.

[2018-02-16 20:51] allyn-psyonix commented on #4120
Update: Someone suggesting the theme might be involved, but I tested with the light theme and the same problem occurs (even after restarting postman)

[2018-02-16 21:24] allyn-psyonix commented on #4120
Update 2: It looks like the disappearing tests are still in the collection, they just don't appear in the postman client. They are getting run when we run the full collection via Newman, except now I cannot delete them using the postman client.

[2018-02-16 21:25] respectTheCode commented on #2273
@a85 any progress on this? We have completely stopped using the monitoring service because it was too hard to maintain.

[2018-02-16 21:32] a85 commented on #2273
@respectTheCode @CakeEddy Yep! Environment templates are going away and we'll just have environments from now on. This is being implemented through Workspaces #3205. Check out our Canary channnel. There won't be any distinction between environments that you work on and your team works on any more.

[2018-02-16 21:42] ajalgaonkar commented on #4167
Hey @thecuriousdev I found the issue.
Repro:
1. I remoted into my Laptop from my desktop which has multi monitor set up.
2. Ran the application and then ended the session.
3. Once I opened my Laptop by itself and tried to open the application on my single screen it probably still kept its context thinking there is another monitor (apart from the primary screen of the laptop).

I solved the issue b

[2018-02-16 22:17] allyn-psyonix commented on #4120
Update 3: Looks like other users can see the "disappearing" postman tests in their client, but a resync and a client restart still does not make them appear on the client that was used to move them.

I realize there was a post indicating this might be fixed by the drag and drop improvements in the upcoming release, but I wanted to provide my findings to help test it in case the updates don't end u

[2018-02-16 23:16] stamminator commented on #3518
157 days later, issue still taking place. Running v5.5.3 on Windows.

[2018-02-16 23:29] allyn-psyonix commented on #4130
I came here to report a similar issue. Global variables set with numbers are being converted to strings. I am seeing this behavior when running collections via Newman.

e.g.

[2018-02-17 03:37] reteps commented on #576
Wow I wasted some time

[2018-02-17 06:13] harryi3t commented on #4199
@ugenlik I tried running a request with following script
[code]
This works fine with no exception and my runner also does not hang. Can you provide a minimal example request with a script that can reproduce this?

[2018-02-17 06:28] harryi3t commented on #4200
@allyn-psyonix Closing this ticket here. Please open a separate issue on here https://github.com/postmanlabs/newman/issues

I would have opened an issue on your behalf but for that more information is required (like Newman version, usage type (CLI/library), etc)

Also, put a minimal example which fails in Newman so that it's easy to reproduce.

[2018-02-17 06:28] #4200 closed, assigned to harryi3t

[2018-02-17 06:38] harryi3t commented on #4204
@hallem Thanks for reporting this bug. I was able to reproduce this.
Will fix and keep you posted on the status here.

[2018-02-17 06:42] harryi3t commented on #4204
@prashantagarwal
![issue](https://user-images.githubusercontent.com/5207331/36338693-c20b4712-13db-11e8-828c-806aaa15dc86.gif)

[2018-02-17 07:42] jsandesha commented on #683
Is this issue fixed

[2018-02-17 08:05] harryi3t commented on #4195
Are you able to upload the image from some HTML page?

[2018-02-17 08:15] piyushkantm commented on #3630
Any Update on this?

It would be nice to save request also while saving examples as it makes more sense

[2018-02-17 08:18] harryi3t commented on #4193
Can you explain a bit more about what you mean by `pre-built login request`?

If you meant `Sharing javascript functions/variables across scripts`, then that *should* be done by serializing them and storing in some variable (env, global or *local) and then de-serializing then by using `eval`

#### Collection script
[code]
#### Request script
[code]

[2018-02-17 09:27] harryi3t commented on #4190
@jawn Thanks for reporting. We will fix the docs.  Support for RAML 1.0 is on the way :)

[2018-02-17 09:49] harryi3t commented on #3643
@GuyPaddock This appears to be fixed so I am closing this issue. If not, feel free re-open the issue.

[2018-02-17 09:49] #3643 closed, assigned to godfrzero, prashantagarwal

[2018-02-17 09:56] harryi3t commented on #4028
Duplicate of issue https://github.com/postmanlabs/postman-app-support/issues/3887
Closing this in favour of the original issue
Also, this has been fixed and will be available in the next release 🎉

[2018-02-17 09:56] #4028 closed, assigned to numaanashraf

[2018-02-17 09:59] harryi3t commented on #3916
Collection/Folder being pre-filled in the runner is fixed.
Environment being pre-filled is being tracked here https://github.com/postmanlabs/postman-app-support/issues/3887 (which is also fixed internally and should be available in the next release 🎉 )

[2018-02-17 10:00] harryi3t commented on #3887
Update:
This has been fixed internally and should be available in the next release 🎉

[2018-02-17 10:06] bversiga opened #4205 "Feature Request: Enhance Response Treeview Support."
Often I find myself testing calls that return a sizeable result set.  When this happens, one of the first checks I like to do is examine the number of results that have been returned.  I am attaching a screen shot of a proposed solution.
![postman feature request](https://user-images.githubusercontent.com/6557199/36340018-e3d2b82e-1397-11e8-86b6-a22693cbbcc1.png)

[2018-02-17 12:43] harryi3t commented on #4186
Thanks for reporting this issue. We will look into this and get back to you.

[2018-02-17 14:33] harryi3t commented on #4183
Please provide more information about what data is being sent out.
Do you see any errors in the chrome dev console?
Please put the output in the postman console.
Also, share screenshots after you send the request.

[2018-02-17 15:51] sivcan commented on #4198
@vbikash - You can run multiple run's of a collection / folder in parallel.
Just keep selecting the targets and keep running them.
That's what the runner supports right now.
You probably knew this, if not then this will help you.

![image](https://user-images.githubusercontent.com/12631777/36342714-4699a5d6-1428-11e8-850f-1f715f2bb4c5.png)

[2018-02-17 15:53] sivcan commented on #4180
@bisoldi - No problem :D

[2018-02-17 16:25] David-walks commented on #4183
Yup, here is the deal:

Say you have 2 post vars in raw json

{
"product_locator":"WOWOCRYPTS",
"customer_locator":"1"
}

Send your request and those 2 vars show up at the server logs.

"request_data":{"request_payload":[]

"request_data":{"request_payload":{"product_locator":"WOWOCRYPTS","customer_locator":"1"}

-- But --

Say you have a tab in the name of one of the vars:

{
"product_locator	":"

[2018-02-17 17:02] stramel commented on #4193
In my collections of API requests I have already built a login request. I want to use that login request in my pre-request script. I don't want to have to redefine it and maintain it in more than one place.

[2018-02-17 17:23] berkantipek commented on #1228
+1

[2018-02-17 18:39] alexberny commented on #2931
+1 on Snap package!!!

[2018-02-17 19:34] karthiag93 commented on #4195
No..  The problem is with the filter which I put in ma code, namely logger
filters

On 17-Feb-2018 1:35 PM, "Harendra Singh" <notifications@github.com> wrote:

[2018-02-18 03:31] lsloan commented on #886
Since the `{{$guid}}` value isn't available as a variable, I'm unable to use its value in post-request tests.  Please allow something like `postman.setEnvironmentVariable('variable_key', '{{$guid}}' );`.  If the interpretation of `{{$guid}}` isn't possible here, then provide a function (e.g., `pm.getUuidV4()`) that provides a UUID value of the same kind that's used for that dynamic variable.  Then

[2018-02-18 06:09] charan1595 opened #4206 "PostMan converts headers to lowercase"
## App Details:

[code]

## Issue Report:
Post man is lower casing my headers in a post request. Which is breaking my tests. I assume the expected behaviour is to send headers as they are(case sensitive).

[2018-02-18 06:10] #4206 closed, assigned to nobody

[2018-02-18 09:19] Marko298 opened #4207 "Feature Request: Dynamic Values"
Support for dynamic values and plugins for them like Paw has

[2018-02-18 13:52] giowe commented on #884
+1
same problem here

[2018-02-18 14:06] taftse commented on #3977
I'm having the exact same issue from looking at the logs on both the server and within postman it looks like the postman window is not saving the session state

when I login its supposed to show me the screen to authorize postman but it redirects me back to the login screen because there is no valid session

however I'm not having this issue with the old chrome extension or if I visit the page in

[2018-02-18 22:26] AndriiStepura commented on #2560
Does anybody know some workarounds for this?

[2018-02-18 22:26] AndriiStepura commented on #3013
Does anybody know some workarounds for this?

[2018-02-18 22:29] mattboothman opened #4208 "Sync issue re-sync causes complete loss of collection"
## App Details:
Postman for Windows
Version 5.5.3
win32 10.0.16299 / x64

## Issue Report:

When duplicating folders in a collection containing requests sometimes postman throws a 'wobbly' and shows the sync issue dialog which I usually check issues and click re-sync on and continue. On this occasion after clicking re-sync all folders and requests that were contained within my collection have vani

[2018-02-18 22:29] thejuan opened #4209 "Feature Request: Support AWS Profiles"
As a user of AWS sub-accounts, I have to assume-role to get temporary AWS credentials to then paste into Postman that last an hour. When using other AWS integrated tools like the CLI etc you can specify a profile name from the AWS credential config and the work of assuming a role and getting credentials is already performed.

It would be great if Postman could use the AWS credential store on the m

[2018-02-18 22:32] AndriiStepura commented on #3631
Does anybody know some workarounds for this?

[2018-02-18 22:33] AndriiStepura commented on #3013
Any body know about some workarounds for this?

[2018-02-19 01:01] santhub commented on #3949
Any updates on this issue? Please let me know in which release it will get fixed, if not any ETA

[2018-02-19 01:37] AuldinSolutions commented on #4098
I am having the same issue at my work.  But I assert there is something you can do... change the sync mechanism to use a more universally accepted protocol that is not blocked by corporate proxies such a HTTP.

[2018-02-19 02:29] skubot opened #4210 "Postman Runner out of sync with Postman"
## App Details:
[code]

## Issue Report:
 1. Did you encounter this recently, or has this bug always been there:
Yes, new bug today. I just updated Postman to latest.
 2. Expected behaviour:
Expect that Test Runner is in sync with Postman.

Steps to reproduce the problem;

1) I updated some request.body values in a `POST` request in Postman, and updated the tests accordingly.
2) When I run the tes

[2018-02-19 02:49] fabioyy commented on #2392
+1

[2018-02-19 06:43] tarunlalwani opened #4211 "Lost all data and not able to re-sync"
## App Details:

[code]

## Issue Report:
 1. Did you encounter this recently, or has this bug always been there: recently
 2. Expected behaviour:
Colelctions are loaded
 3. Console logs (http://blog.getpostman.com/2014/01/27/enabling-chrome-developer-tools-inside-postman/ for the Chrome App, View->Toggle Dev Tools for the Mac app):

Getting an error and not able to sync the collections

Uncaught

[2018-02-19 06:49] sivcan commented on #4210
@skubot - I hope you're saving the requests after modifying it and only then trying to run them in the runner ?
I tried to reproduce this issue but it's working fine for me.

I opened runner and the requester (main postman window) and I modified the request body continuously and could see that runner was in sync and using the updated request body.

[2018-02-19 07:34] harryi3t commented on #4183
This is what I tried and saw expected results

![postman](https://user-images.githubusercontent.com/5207331/36366692-4500c080-1575-11e8-9092-d75b73b50659.png)

Can you share a screenshot while sending this data to `httpbin.org/post`

[2018-02-19 07:48] harryi3t commented on #3977
@taftse @ScrappyXII @jmatelet
Is your auth provider public? Can I register myself and this it out?
If not, will it be possible for you to share me some temporary credential for testing?

[2018-02-19 09:09] sanjogpandasp opened #4212 "Not able to Intercept from genymotion app using Interceptor"
## App Details:

[code]

## Issue Report:
I have setup postman interceptor from the postman mac app. My android app is running on genymotion. I have setup to the instruction as [here](http://blog.getpostman.com/2016/06/26/using-postman-proxy-to-capture-and-inspect-api-calls-from-ios-or-android-devices/) .

I am not able to intercept the request from the app. But I am able to intercept from the web

[2018-02-19 09:20] Krizzzn commented on #2556
Issue is still persists. The URL Parser considers everything from the `:` until the next `/` as variable name. (ie: :Id.pdf), while it should only consider alpha-numerics.

On the other hand URLvariables can't  include a `.` in their name --> this means `:Id.pdf` is not a valid.

Version 5.5.3
win32 6.1.7601 / x64

[2018-02-19 09:34] sdnts commented on #4207
Hi @Marko298, what exactly do you mean by dynamic values? Are you talking about [dynamic variables](https://www.getpostman.com/docs/postman/environments_and_globals/variables#dynamic-variables)?

[2018-02-19 09:38] sdnts commented on #4208
Hi @mattboothman, before you start duplicating the folders, does the Sync icon on the top right say `In Sync`?
Also, can you try this on our Canary channel? We've pushed major updates to the Sync flow so issues like this should not happen. If it still does happen, please let me know here so we can investigate further.

You can download our Canary builds here:
Windows [x86](https://dl.pstmn.io/down

[2018-02-19 09:48] Marko298 commented on #4207
Yup, I mean dynamic variable that can be used in requests and can be
extended using js

On 19 Feb 2018 11:34 am, "Siddhant Sinha" <notifications@github.com> wrote:

[2018-02-19 09:49] sdnts commented on #4211
Hi @tarunlalwani, I'm guessing the Sync icon on the top right is stuck on `Syncing`, right?

Can you head over to your [Collections Dashboard](https://app.getpostman.com/dashboard/collections/private) and check if your private and team collections are up to date? If they are, signing out + signing back in should solve your issue.

We've also made major improvements to the way the app syncs your da

[2018-02-19 09:52] sdnts commented on #4207
@Marko298 Unless I totally misunderstood what you're saying, environments & global variables would behave the way you want, have you taken a look at those?

[2018-02-19 09:52] tarunlalwani commented on #4211
@madebysid , I am not able to Sync after logout, delete data and re-login. I think something has got synced up to the data and that is creating error in re-sync. I will try the canary build now and report back

[2018-02-19 09:54] sdnts commented on #4179
Hi @Geolim4, this looks super weird. Can you open up the Postman Console (Ctrl+Alt+C), and resend your request? You should see the request in the Console. Can you check if the request body is in here?

[2018-02-19 09:59] tarunlalwani commented on #4211
@madebysid , Able to Sync in the canary build but not in 5.5.3

[2018-02-19 10:13] sdnts commented on #4121
Hi @andreypolyak, history requests, since they aren't saved anywhere, do not have a name. For security purposes, we do not resolve the variables in history requests (to avoid accidental data leaks when using sensitive data).

What I'd recommend you do is use collections to organize your requests. You can then give them names. The request names will still not show up in the history, but if I unders

[2018-02-19 10:13] #4121 closed, assigned to nobody

[2018-02-19 10:15] sdnts commented on #4122
Hi @x80486, I'm closing this in favor of #2931, as we'll investigate that issue soon. Snap and PPA are one of the two most popular alternatives there. Please follow that thread for updates :)

[2018-02-19 10:15] #4122 closed, assigned to nobody

[2018-02-19 10:22] sdnts commented on #4211
@tarunlalwani Ah awesome, we'll be rolling out a stable build in the coming week, so this should be solved then. Thanks for reporting!

[2018-02-19 10:23] tarunlalwani commented on #4131
@madebysid , can you please look into this also?

[2018-02-19 10:35] sdnts commented on #4124
Hi @gjnk, I was able to reproduce this, `pm.request.name` should have been resolved correctly. We'll look into this.

[2018-02-19 10:40] sdnts commented on #4125
@sharq88 @rorysmorris @iamcam, Sorry for the delay here. We've made major improvements to the way the app syncs with our servers on our Canary channel. Issues like these should be solved ideally.

Can you guys please try to reproduce this on the Canary build and check if you still see this? Let me know if you do.

Canary builds:

[OSX](https://dl.pstmn.io/download/channel/canary/osx_64)
[Windows x

[2018-02-19 11:06] sdnts commented on #4126
Hi @poisa, have you taken a look at environment variables? You can define an environment variable with your common search options and use this everywhere. Now when you update this environment variable, all requests will automatically use the new values. Moreover, when viewing documentation, you can select this environment to resolve all requests in the documentation using the environment variable'

[2018-02-19 11:06] #4126 closed, assigned to nobody

[2018-02-19 11:07] Geolim4 commented on #4179
Okay, after looking the console I found out the issue.

Postman send Windows line ending (\r\n) instead of Unix line ending (\n), therefore the web server is unable to natively parse correctly the body content :(

When I manipulated k/v in bulk edit mode Postman reformatted the line ending to Unix one...

In the end, i'm not sure if this bug is really Postman-related or php7-related...

[2018-02-19 11:56] harryi3t commented on #4193
From pre-request script, sending a saved request (one that is already in your collection) is not supported.

[pm.sendNextRequest](https://www.getpostman.com/docs/postman/collection_runs/building_workflows) can be used to go from one request to another.
If any request needs that `loginRequest` to be sent before, then put `pm.sendNextRequest` in the request before it.

As an example, let's say we ha

[2018-02-19 12:57] taftse commented on #3977
@harryi3t I have sent you an email ( to the gmail address listed in your profile) with the details

[2018-02-19 13:39] suhaboncukcu opened #4213 "Not able to send client secret with Postman's Authorize section using Oauth2."
## App Details:

[code]

## Details

I'm using Postman app's Authorize section to authorize and get access token from my api using Oauth2 server.

When I try to validate my client, I've realized that Postman doesn't send "Client Secret" to my server at all. I also tried to reproduce this with a requestb.in call but I can't see my client secret delivered whereas I can retrieve my client id without

[2018-02-19 13:41] sdnts commented on #4129
@joeyhub Can you try this on the native apps? Chrome apps have been deprecated following Google's announcement and are no longer actively maintained.

On that note, cookies on the Chrome app will not show up in the app itself, they will be in the Chrome browser. The native app fixes this as well, by providing you a cookie manager inside the app.

[2018-02-19 13:41] #4129 closed, assigned to nobody

[2018-02-19 14:34] Crheederster commented on #4172
Thank You for the feedback :)

On Wed, Feb 14, 2018 at 11:43 AM, Chris-Yarland-Price <
notifications@github.com> wrote:

[2018-02-19 15:27] ilya40umov commented on #2030
+1

[2018-02-19 15:28] katsharp commented on #2030
+1

[2018-02-19 15:58] lsloan commented on #886
I noticed some of Postman's internal JavaScript calls `uuid.v4()` to set a value for `{{$guid}}`.  I took a chance that `uuid` is a module that can be required and it worked.  So, I use this in my collection's pre-request script:

[code]

Then, in my request body, I can refer to it as:

[code]

And I can refer to it in the request's test script, too:

[code]

Unfortunately, defining it in the coll

[2018-02-19 16:07] zaplitnyak commented on #2030
+1

[2018-02-19 16:11] ravikalaa-krishnan commented on #2819
+1

[2018-02-19 16:27] Bauerna opened #4214 "Not Using Correct Environment Variable when Duplicate Keys Exist"
## App Details:
[code]

## Issue Report:
 1. Did you encounter this recently, or has this bug always been there:
This issue started after updating from 5.X to 6.0.2 (I believe it was 5.5 but I don't know for sure)
 2. Expected behaviour:
When two keys with the same value exist in the environmental variables, it will warn the user of duplicate keys, but if one of they keys are not checked then the

[2018-02-19 16:29] Bauerna commented on #4214
Note:

The request works properly when the duplicate environment variable does not exist, even though only one of the environment variables is checked when there are two variables.

[2018-02-19 16:41] harryi3t commented on #4214
@Bauerna Thanks for reporting this bug. We are fixing it.
You can expect the fix in the next patch release in next couple of days

[2018-02-19 17:43] lsloan commented on #4197
@harryi3t, you wrote:

Although it's not an intended feature, I think it's one that's desperately needed.  Are there any plans to support it in the near future?

I think definitions from the various scripts should cascade:

1. Collection pre-request
1. Folder pre-request
1. Request pre-request
1. Collection test
1. Folder test
1. Request test

That is, code in script 𝒏 should be able to access def

[2018-02-19 17:52] mattboothman commented on #4208
Unfortunately I didn't notice about the sync icon. In retrospect I'd hope the app wouldn't let me make changes that may confuse it if sync is in progress?

Sorry, all the work is lost now, unless you can let me know how to get it back (is cloud stored, no)? I'll be working with Postman in offline mode permanently, now. Can't afford another incident like last night. No more sync issues or duplicati

[2018-02-19 17:57] mattboothman commented on #4208
It'd be awesome if the app would make like a really loud, startling noise, additionally un-mute my speakers, increasing volume to 11 and make the screen flash like a really bright red colour with the words "DANGER" in like a garish yellow. An electrical current could be triggered that instantly repels my hand from the trackpad would be a bonus.

That way I'd see that Postman is syncing and think -

[2018-02-19 18:59] greatbob6 commented on #391
I ran into this problem with the latest native Windows client, with a request that I imported from the Chrome web app.  The request was doing a POST with x-www-form-urlencoded and I found that switching to form-data made it work, so I tried removing all of my body variables in 'x-www-form-urlencoding' and readding them one by one and now it seems to be working with that encoding as well.

[2018-02-19 19:11] sbervinov commented on #285
+1

[2018-02-19 20:30] a85 commented on #4156
Thanks for reporting @JamesMGreene. Looking into this.

[2018-02-19 20:32] a85 commented on #4145
You can use the 2-pane layout that shows the response to the right of the request. The button is on the bottom right in the status bar.

[2018-02-19 20:32] satishchilu opened #4215 "json2Xml conversion"
## App Details:
[code]

## Issue Report:
 1. Did you encounter this recently, or has this bug always been there: New
 2. Expected behaviour:

     Is there a way to convert json to xml in postman? I am writing a collection suite which calls a get API, alter the response and post again, the post API accept only XML request. I couldn't find anyway to convert my json string to xml, please suggest.

[2018-02-19 21:15] nithyamuth commented on #1066
Please add this feature.

[2018-02-19 21:29] aedelbro opened #4216 "Ampersand doesn't render properly on navigational side in documentation"
## App Details:

[code]

## Issue Report:
 1. Did you encounter this recently, or has this bug always been there: There since I started using it
 2. Expected behaviour: ampersand shows as & and not `&amp;`
 3. Console logs (http://blog.getpostman.com/2014/01/27/enabling-chrome-developer-tools-inside-postman/ for the Chrome App, View->Toggle Dev Tools for the Mac app): NA
 4. Screenshots (if applic

[2018-02-19 21:33] garnold commented on #4186
@harryi3t [Can you look at this one too](https://github.com/postmanlabs/postman-app-support/issues/4151)? Similar issue...

[2018-02-19 21:38] numaanashraf commented on #4158
Hi @nithyamuth, please share your app/os version and the request you are trying to send. Is Postman sending the request to your server? Could you open the Postman Console (View > Show Postman Console) and let us know if you find any logs/errors there?

[2018-02-19 21:42] numaanashraf commented on #4213
@suhaboncukcu Thanks for reporting. We are looking into this and will get back to you if we need more information to triage this issue.

[2018-02-19 21:48] numaanashraf commented on #4212
@sanjogpandasp Thanks for reporting this. We do not fully support https requests at the moment via the Postman Proxy. We are working on various improvements to this feature at the moment and will keep you posted.

[2018-02-19 21:51] numaanashraf commented on #4216
@aj-edelbrock-bolstra Thanks for reporting this. Could you provide a screenshot for the same? It'll help us triage this issue faster.

[2018-02-19 21:53] aedelbro commented on #4216
I have the link to the screenshot in the "Screenshots" section. If it's borked, I can upload to imgur.

[2018-02-19 21:55] numaanashraf commented on #4176
@dbkaynor Thanks for reporting this. Could you provide more information regarding this issue?

[2018-02-19 22:58] nithyamuth commented on #4158
the version that I use is the latest.

Postman for Windows
Version 5.5.3
win32 10.0.14393 / x64

 POST: http://httpstat.us/get/custname?start_timestamp={{starttime}}&end_timestamp={{endtime}}&param={{paramid}}

{{requestbody}}

In the console, since it times out..it reads Error: read ECONNRESET

Postman sends the request to our server and retrieves the response.
However for the same request in a d

[2018-02-20 00:14] robm-sentinelda commented on #2765
This is because Postman STILL does not support RAML 1.0 -- only 0.8

see https://github.com/postmanlabs/postman-app-support/issues/1906

[2018-02-20 03:13] sanjogpandasp commented on #4212
Thanks for the update.

[2018-02-20 05:13] claireriley commented on #4208
Hi @mattboothman - I'm sorry to hear this happened to you and would like to help where I can. I've emailed you via help@getpostman.com with more information.

[2018-02-20 06:53] sdnts commented on #4153
@fabianerni @earthmonkey0 Thanks for the suggestion. We don't resolve the full URL when listing endpoints in the history sidebar (or anywhere else) anymore for security reasons; this was removed to avoid accidental data leaking.

Have you taken a look at the environment preview button (eye icon) on the top right? It is a quick way to view the current state of the environment. For checking the comp

[2018-02-20 06:53] #4153 closed, assigned to nobody

[2018-02-20 06:59] sdnts commented on #4131
Hi @tarunlalwani, Promises and Async/Await isn't supported fully yet. I'm adding this as a feature request.
You can, however, use setTimeouts reliably.

[2018-02-20 07:08] sdnts commented on #4130
Hi @dennisslavid, Unfortunately, the app does not support variable types yet, all variables are stored as strings. We're looking to support this soon.
That being said, it should not behave differently in the Runner and the builder. I was unable to reproduce this. Can you give me the script you are running?

@allyn-psyonix I think this addresses your issue as well. Are you also seeing different beh

[2018-02-20 07:26] sdnts commented on #4134
Hi @zoboomafoo57, this is super weird, since we use the same underlying library (postman-runtime) to run your collection in the app as well as on Monitors. This leads me to believe this might be a Sync issue. I think your app's order of requests has gone out of Sync with our server's order of requests. This is easy to verify.

Can you open your collection's documentation by clicking on the arrow i

[2018-02-20 07:28] sivcan commented on #4080
Hi @tarunlalwani - You can follow this thread https://github.com/postmanlabs/postman-app-support/issues/4131 for updates regarding support for async await.

Closing this issue.

[2018-02-20 07:28] #4080 closed, assigned to kamalaknn

[2018-02-20 07:32] tarunlalwani commented on #4131
@madebysid , a simple `done` callback approach, if easier to implement would also be of help. Like the one provided by `mocha` framework
[code]

[2018-02-20 07:38] #4195 closed, assigned to harryi3t

[2018-02-20 07:38] sdnts commented on #4136
Hi @jochenhager, we're aware of this. This happens because the app treats the value of a URL parameter like the ones you've quoted as an empty string, and so adds the additional `=` character. We're working on fully supporting types for all variables, and that should solve this issue.

For the time being, can you separate the `myParam` variable name and the `{{my-email}}`? Your URL would look like

[2018-02-20 07:41] sdnts commented on #4136
I'm closing this as a duplicate of #3181, please follow that thread for updates :)

[2018-02-20 07:41] #4136 closed, assigned to prashantagarwal, sdnts

[2018-02-20 07:46] sdnts commented on #4137
@todduk, Postman does not restrict you from using the app without an account/internet connection. However, if you were signed in to an account earlier, and the access token used to authenticate you with our servers has expired, you have to sign back in to confirm your identity. You can still sign out completely and continue using the app normally, but your collections will not be visible to you.

[2018-02-20 07:46] #4137 closed, assigned to nobody

[2018-02-20 07:48] harryi3t commented on #4213
@suhaboncukcu Are you trying `Client-Authentication` in header or body?
As per the [RFC](https://tools.ietf.org/html/rfc6749#section-2.3.1)
If sent in header, then it will sent as base64 encoded value of `clientId:clientSecret`
If sent in body, then client_Id and client_secret are sent separately

I suspect your authorization server only supports credentials being passed in body. Please try changi

[2018-02-20 07:52] sdnts commented on #3819
Ah, I understand now. The app tries to re-authenticate you every 15 days to make sure your account is not being misused. I'm adding this as a feature request.
Just to make sure I understand correctly, you guys would want the app to allow you to work with your collections even after this re-authentication attempt has failed (with the premise, however, that your collections will not be synced since

[2018-02-20 07:55] harryi3t commented on #4151
@garnold I will look into this issue also.

[2018-02-20 08:18] miklos-toth-olx commented on #2030
+1

[2018-02-20 08:59] suhaboncukcu commented on #4213
@harryi3t I've already tried that. But no chance. I am also, able to get client id. Just not the client secret. I am not able to get the client secret from Requestb.in neither btw.

[2018-02-20 09:33] null9beta commented on #4070
hi @harryi3t

i can report the same issue here. Actually i could break it down into the same encoding issue.

Postman uses ISO-8859-15 encoding the basic auth header but probably should use UTF-8 doing so.
In our case our golang backend fails because decoding is done using UTF-8 as well.

A potential solution not to introduce a BC might be using the settings to be able to choose the charset for en

[2018-02-20 11:28] albertoig commented on #2978
Any news about this integration for private gitlab?

[2018-02-20 13:34] PVGrad opened #4217 "Collection Export with preselected directory error"
## App Details:

[code]

## Issue Report:
 1. Did you encounter this recently, or has this bug always been there: **always**
 2. Expected behaviour: Export should save every time it runs
 3. Console logs:
[code]
 4. Screenshots: [Issue screencast in GIF format](https://imgur.com/a/GAp9S)

Steps to reproduce the problem:
1. press "Export" on collection,
2. press "Export" on opened window,
3. select

[2018-02-20 13:39] oliverm2112 commented on #1066
+1

[2018-02-20 13:40] oliverm2112 commented on #803
+1

[2018-02-20 13:48] jochenhager commented on #4136
Hi Siddhant,

No the parameter is not boolean. The name is the value and handled as a flag in the server specification.

Therefore, your workarounds unfortunately do not work.

Please update me as soon as you have a fix available.

Best Regards,
 Jochen

Managing Partner
Solution Exchange LLC
West Chester, PA, USA
Jochen.Hager@solutionXchg.com
Office: +1 (484) 356-1264
Mobile: +1 (484) 716-1210

O

[2018-02-20 13:59] Elmeraculous commented on #1228
+1

[2018-02-20 14:33] harryi3t commented on #4213
@suhaboncukcu Please share the following screenshots to help us debug this
1. The `Get New Access Token` Modal
![postman](https://user-images.githubusercontent.com/5207331/36429439-b6c9cce4-1678-11e8-8d58-c0e9d97d3eb9.png)

2. The request headers/body sent out. Open postman console before sending the request
![postman_console_and_postman](https://user-images.githubusercontent.com/5207331/36429670-

[2018-02-20 15:25] aat-antoine commented on #2701
One year later, not even in the roadmap. saaaaad :)

[2018-02-20 16:04] grantkemp commented on #4021
Hi - I am trying to do the same thing - but Can't get past the request token step - it redirects to oauth page and just goes back to requeset token screen. I have tried to use it with Google accounts and their implementation - but no joy..
Do you have an eta when the fixes are coming?

I get this message when clicking on the app
![image](https://user-images.githubusercontent.com/751115/36435237-06

[2018-02-20 16:50] rustoleum76 commented on #4092
has this been verified as a defect, yet?  Should I insert my own Issue report despite my issues appearing to be the same problem as 4092?  Thanks

[2018-02-20 17:05] J-Zeitler commented on #166
+1 for custom methods

[2018-02-20 17:13] lucapalano commented on #2489
Hi everyone,

I also tried to run the Postman app from the terminal with following result:

No error was reported during the download process but, after restarting the Postman.app, the update download window appeared again.

I also attach the system console logs related to Postman.  Hope this will help.

[postman-console.txt](https://github.com/postmanlabs/postman-app-support/files/1741100/postman

[2018-02-20 18:08] higginni commented on #3661
Has this been resolved?

[2018-02-20 18:10] nithyamuth commented on #4158
Timeout occurs when it hits a single endpoint. we are internally doing some investigation to isolate the root cause in postman. Will provide more details on this issue as soon as we have more details.

[2018-02-20 18:21] allyn-psyonix commented on #4130
I am seeing consistent behavior, global variables are being returned as string in all cases for me. Support for other types including complex types would be great.

[2018-02-20 18:37] jaypedro commented on #285
+1

[2018-02-20 19:29] poisa commented on #4126
Hi @madebysid. I am aware of environments an variables (and use them extensibly). They don't cover this particular scenario though, or at least I don't think they do.

Take this simplified example:

![screen shot 2018-02-20 at 1 20 32 pm](https://user-images.githubusercontent.com/348248/36444396-e75341b6-1640-11e8-860d-5a949468cd6e.png)

As you can see, `sortDir`, and `sorField` are **unchecked**.

[2018-02-20 19:59] Wa1tz commented on #285
Oh, I can't believe that this super beneficial feature is not done yet. +1... please.

[2018-02-20 20:00] allyn-psyonix commented on #4200
Thanks, opened issue in the proper place. Linking for reference: https://github.com/postmanlabs/newman/issues/1438

[2018-02-20 21:02] kdorff commented on #285
+1   please?!?

[2018-02-20 21:37] AbdelrahmanHafez commented on #4120
I believe it's more related to having requests in different order on multiple devices with you & your team, one way I approached this is that I created a backup, deleted the entire collection, re-invited my whole team again.

I noticed that things get better for drag & drop when you wait for the thing you dragged & dropped / created / duplicated to sync before doing anything else at all.
Also, nev

[2018-02-20 23:37] dbkaynor commented on #4176
If I select an environment and then define variables in it they are substituted. For example, I have an environment called xsign and in it, a variable called {{TrackCode}} which is equal to AUS-AUB.
The Builder window has a line
<trackcode xsd:type="xsd:string">{{TrackCode}}</trackcode>.
When I click on the Code link I see
<trackcode xsd:type="xsd:string">AUS-AUB</trackcode>  which is expected.

I

[2018-02-20 23:43] billworkricoh opened #4218 "Ability to execute a request even on network failure and reach test script instead of aborting"
## App Details:

[code]

## Issue Report:
https://github.com/postmanlabs/postman-app-support/issues/3858
You must fix this problem. The fault is not that Postman reports an error that other tools do not, the problem is that Postman test execution results are not reliable and execution halts at this failure.

![image](https://user-images.githubusercontent.com/36681889/36454974-627b22d6-165b-11e8-8f

[2018-02-20 23:58] billworkricoh opened #4219 "Postman "Download Collection" file adds body to HEAD requests"
## App Details:

[code]

## Issue Report:
Download Collection file HEAD requests contain body value.
![image](https://user-images.githubusercontent.com/36681889/36455854-501d4fa2-165f-11e8-946b-c20085de6188.png)

1. Create collection.
2. Add POST request that contains body data.
3. Add HEAD request.
4. Download Collection.
5. Run collection using Newman.
6. Notice error message, "HTTP HEAD request

[2018-02-21 00:34] jgf5013 opened #4220 "Prompt for input on unknown environment variable"
Intentional duplicate due to lack of follow-up on #285. Can we please get some input on that issue so that we at least know it's on the radar?

[2018-02-21 01:33] S33G commented on #285
+1

[2018-02-21 02:45] edwardgalligan commented on #3819
I would like the app to always work offline. I'm not sure how syncing while offline would ever be expected?

I'm extremely unclear on what the abuse vector is here? How/why does this measure work??

[2018-02-21 03:12] sivcan commented on #4210
@skubot - I couldn't see any problems with the sync between requester and runner.
If you are still facing this issue, let me know and I'll reopen this.

[2018-02-21 03:12] #4210 closed, assigned to sivcan

[2018-02-21 05:41] PhilTheAir commented on #2358
It is terrible!! Is there any setting that could make the UI fixed?

[2018-02-21 08:20] ilya40umov commented on #2931
Yeah, it's super annoying to download every new version manually. So, any solution which would allow to auto update Postman on Linux would be very much appreciated.

[2018-02-21 08:21] EvertVerboven opened #4221 "BUG: Screen turns black and app craches"
## App Details:
[code]

## Issue Report:
When starting postman the window UI disappears after a minute or 2. It just turns black. (view screenshot). After the ui dissappears nothing can be done with the app, your have to Force Quit the application.

 1. Did you encounter this recently, or has this bug always been there:
I encountered it from the moment on I started using the native app.

 2. Expec

[2018-02-21 08:45] suhaboncukcu commented on #4213
_(Do not mind the sensitive data, they are changed and not actually sensitive)_
Thanks @harryi3t for your response. Indeed, I am able to see the client secret sent within request body when I choose it as below:

![bodyrequest](https://user-images.githubusercontent.com/2428828/36469805-8be34e20-16f9-11e8-9276-21ce41f78a97.png)
![bodyrequestload](https://user-images.githubusercontent.com/2428828/364

[2018-02-21 08:59] EvertVerboven commented on #4221
Also on: High Sierra 10.13.3 (17D102)

[2018-02-21 09:40] gctommy commented on #3312
:heavy_plus_sign: 💯

[2018-02-21 09:42] madheaduk commented on #285
Blimey No responses since the last canary build updates. It would help if it could be stated as to why this is so difficult to implement? Like a few other posters have commented 5 years waiting to be able to prompt a user is kinda... I dunno really bad news ....

[2018-02-21 10:14] jobec commented on #3506
Even worse: if you edit the URL by typing, every typed character requires pressing `ctrl+z` 3 times to undo a single character.

[2018-02-21 10:14] sdnts commented on #4130
@allyn-psyonix Ah, so you're seeing the same issue then. I'll update you guys here when we support custom variable types.

[2018-02-21 10:17] sdnts commented on #4120
@allyn-psyonix @AbdelrahmanHafez We've made improvements to both drag and drop, as well as Sync. These will drop on our stable channels soon (v6.0). Can you guys retry then to check if the issue still persists?

[2018-02-21 10:51] afilp opened #4222 "Unresolved variables from Collection (not environment)"
When using `Variables` in Collection (not environment), we get `unresovled`:

![image](https://user-images.githubusercontent.com/7850073/36476184-cc8c5b4a-1705-11e8-8eb7-2035bea724ad.png)

![image](https://user-images.githubusercontent.com/7850073/36476187-ceb1944e-1705-11e8-96f6-c6cb1aa9f657.png)

## App Details:

[code]

[2018-02-21 11:03] callmeaatrey commented on #4222
Thanks for reporting the issue, @afilp . It's already fixed and will be available to you in the upcoming release. Also, this issue is already addressed under #4105 , so we'll keep you posted on this there.

[2018-02-21 11:03] #4222 closed, assigned to prashantagarwal

[2018-02-21 11:22] harryi3t commented on #4213
@suhaboncukcu As mentioned in my first comment,

base64 of `1:1` is `MTox` which is being sent in the headers
[code]

Please refer the RFC for more details https://tools.ietf.org/html/rfc6749#section-2.3.1

[2018-02-21 11:22] #4213 closed, assigned to harryi3t

[2018-02-21 11:39] PeteBoucher commented on #2030
+1

[2018-02-21 12:51] gabrielamboss commented on #2833
Happens to me whenever I closed it on my top monitor. y coordinate on requester.json would appear as -1173, which was too high for postman to be dragged back down. Modifying the value temporarily solved the issue, until I moved the window and closed it again.

In the end I edited the y coordinate to a reasonable value and set the file to be read-only. This workaround worked.

[2018-02-21 13:03] shetaksroc commented on #2550
Hi Guys,
Still I am facing this issue with the latest version of postman.

[2018-02-21 13:03] shetaksroc opened #4223 "Postman for Windows fails to follow 307 redirect correctly #2550"
## App Details:

[code]

## Issue Report:
 1. Did you encounter this recently, or has this bug always been there:
I encountered it recently. But it is explained here #2550
 2. Expected behaviour:
Should redirect to final location and get the headers
 3. Console logs (http://blog.getpostman.com/2014/01/27/enabling-chrome-developer-tools-inside-postman/ for the Chrome App, View->Toggle Dev Tools for

[2018-02-21 13:55] macux commented on #4076
I'm getting the same from Postman's collection runner (Windows Version 5.5.3 win32 6.1.7601 / x64).

I'm running a website trawl by caching links and using setNextRequest, only on the current host. It works as expected but I can't export the results, error is:

Failed to export collection run: TypeError: Cannot read property 'code' of undefined

If I short circuit the run so that the results are n

[2018-02-21 13:58] harryi3t commented on #4021
@grantkemp This thread is about supporting non-spec-complaint auth servers.
The error that you see is not coz of the issue being discussed here.  Google sends the token as `access_token` only.
Please update to the latest version of Postman and it should work for you

[2018-02-21 14:02] harryi3t commented on #3661
@higginni This happens when there was some error with the proxy. Can you post the error from the chrome dev console here? That would help us debug and fix this issue.

[2018-02-21 14:13] ghost commented on #3943
I agree, pm.test() returning boolean status or some object to retrieve test status would be super-userful

[2018-02-21 14:24] afilp commented on #4222
Thanks!

[2018-02-21 14:55] rgazelot opened #4224 "Application crash on the opening since last software update"
## App Details:
[code]

## Issue Report:
 1. Did you encounter this recently, or has this bug always been there:
 Since the last software update
 2. Expected behaviour:
 See the application open :)
 3. Console logs (http://blog.getpostman.com/2014/01/27/enabling-chrome-developer-tools-inside-postman/ for the Chrome App, View->Toggle Dev Tools for the Mac app):
 4. Screenshots (if applicable)
<img

[2018-02-21 14:58] rgazelot commented on #4224
Works well after downloading and replacing my current application.

[2018-02-21 15:22] SamvelRaja commented on #4224
@rgazelot

Sorry to hear that you are having trouble with Postman 6.0.

This is a major release that includes, among other things, changes to the format we store data locally for more stability. We are slowly rolling this version out to select users at the moment and we are tracking some issues in v6.0.2 that might prevent the app from starting due to discrepancies in the local data.

We have fixe

[2018-02-21 15:45] jarrodparkes commented on #1180
+1

[2018-02-21 16:33] aprixon01112017 opened #4225 "Stopping a collection run with multiple iterations"
Hi

I want to stop a collection run with let's say 50 iterations on a certain error. How do I do that?

[2018-02-21 16:44] risingfish opened #4226 "Postman does not run on Ubuntu 17.10"
## App Details:
Downloaded the latest from
[code]

## Issue Report:
 1. Did you encounter this recently, or has this bug always been there:
     Only shows up on newer Debian/Unbuntu systems.
 2. Expected behaviour:
     Postman executable should run
 3. Console logs
     Trying to run the downloaded Postman executable produces:
    `./Postman: error while loading shared libraries: libnode.so: can

[2018-02-21 17:23] fredericpaladin commented on #3845
+1

[2018-02-21 17:31] Kisong75 commented on #4178
Any progress? uninstall-reinstall, updates programs are not working.

[2018-02-21 18:11] aedelbro opened #4227 "Can't escape pipe in table in documentation"
## App Details:

[code]

## Issue Report:
 1. Did you encounter this recently, or has this bug always been there: There since I started using it
 2. Expected behaviour: That if you put a `\|` in a table, the pipe won't create a new column, and it should be displayed as `|`. Or if a `|` is in a code block in a table, then it doesn't split the code block into two columns.
 3. Console logs (http://bl

[2018-02-21 19:38] allyn-psyonix commented on #4120
@madebysid Absolutely. Is there a way to get notified when the 6.0 release happens? Or an estimated timeline so I know when to check back?

[2018-02-21 21:06] frankdumont commented on #285
+1 Ridiculoso

[2018-02-21 22:29] jaxgibbmq commented on #4137
I have this same issue - enterprise VPN doesn't allow login, so I use it offline. Suddenly, I can't get past the login screen & can't use the menus (check for update, etc). Win7, v5.5.3

[2018-02-21 22:43] liester commented on #3874
While what @CoeusCC said is true, I thought there still might be some confusion.  For those of us NOT using a mobile device the documentation for other devices, like windows, is linked at the bottom of that page. (https://www.howtogeek.com/tips/how-to-set-your-proxy-settings-in-windows-8.1/)

Because it wasn't making sense to me at first I'll attempt to explain my thoughts.  The Postman Desktop ap

[2018-02-21 23:19] wonl commented on #2392
1++

[2018-02-21 23:45] allyn-psyonix opened #4228 "Chai "assert" API available in tests?"
The test examples reference Chai's "expect" API. Is Chai's "assert" API available? `pm.expect` works but `pm.assert` is not found. I never really liked the whole "let's try to make code sentence-readable" trend and prefer assert-style APIs.

## App Details:
[code]

## Issue Report:
 1. Did you encounter this recently, or has this bug always been there: only recently tried
 2. Expected behaviour:

[2018-02-22 00:18] mcfarljw commented on #2336
Yes, the do still work although they don't show up in autocomplete and are highlighted red as if in error. I now know that I can still use them, but only after I stumbled upon this issue. For about a month though I thought collection variables were broken just because they turned red and instead opted for switching between global environment configurations.

Cosmetic the fix may be but it's a usef

[2018-02-22 00:29] waliaraman commented on #3232
Thanks guys for the great work. Love Postman.
However, I just faced the same issue. Lost half a day trying to debug the issue.
Any ETA on the fix.

Raman

[2018-02-22 00:49] hemantshelar commented on #2005
@chisumo2016 did you find any solution?  I am also facing the same problem.  However, I can see this request going our and pulling response in Fiddler.  Must be some Postman UI issue.  I am currently using Postman v5.5.3 (latest version at this point of time)

[2018-02-22 01:35] jrmclau commented on #285
I'm done with Postman and Kibana. Both make it way to easy to delete an
index in Elasticsearch in the wrong place. One is a config file, and one is
an "environment -- and don't forget that one time you saved your api call
to get data as a DELETE because you were in a rush to deliver on time.
Postman has a lot of potential, but unfortunately, I just don't trust
myself with it when working in a POC

[2018-02-22 01:39] a85 commented on #285
Folks. I know this issue has been in the queue for a while. It seems easy on the surface to fix but due to the scripting capabilities in Postman, it was not easy to determine in earlier versions of Postman whether a variable is resolved or not. We built the new postman-runtime eventually to have more control over the lifecycle of the script evaluation process along with variable resolution. This i

[2018-02-22 01:39] a85 commented on #4220
Closing as a duplicate of #285

[2018-02-22 01:40] a85 commented on #4220
Have responded in the thread.

[2018-02-22 01:40] #4220 closed, assigned to nobody

[2018-02-22 01:56] AbdelrahmanHafez commented on #4120
Sure! Would appreciate it if you leave a comment here so we get notified about it when v6.0 is released.

[2018-02-22 02:48] harryi3t commented on #4223
@shetaksroc You are using quite an old version. Please update to the latest version and let us know if you are still facing this issue.

[2018-02-22 02:55] harryi3t commented on #3977
@taftse I have received your email. I will register and try it out.
One thing I noticed was that you are using a different callback URL in the new native app as compared to the one you were using in chrome app. Was it intentional? Did you change the registered callback URL in the auth server?

[code]

Can you try once using the old callback URL in the native app?

[2018-02-22 02:57] harryi3t commented on #4070
@null9beta Thanks for your input. It made me look back the encoding we are using. We have identified the issue and are fixing it.
Will update the thread once it's ready to be released.

[2018-02-22 03:29] pmmcmullen commented on #2833
I just had this issue with my laptop. I typically use a second monitor while at work but I came home to work on it again and it opened off screen. The Shift + Right Click -> Move option worked when I hit the arrow keys.

[2018-02-22 03:41] rbatta commented on #4127
I also encountered this on Postman Mac standalone v 5.5.3, OSX 10.12.6.  Annoyingly I couldn't get rid of that `content-type` header, which was the root cause. Couldn't edit, couldn't delete. I couldn't use cURL either w/ the given output because AWS complained that the signatures didn't match.

@govindrai here's what I did to get it working. My workaround was to find the link Chrome app version (

[2018-02-22 03:45] deksden commented on #285
@a85 : Cool! That will do the trick: steps mentioned by you can make this issue resolved!

[2018-02-22 06:30] sivcan commented on #4198
@vbikash - I hope this solved your problem.
If you need any further assistance, let me know.

[2018-02-22 06:30] #4198 closed, assigned to sivcan

[2018-02-22 06:51] sdnts commented on #4120
Sure. You should also receive an update notification in your apps.

[2018-02-22 06:59] sdnts commented on #2833
This is now fixed in our internal builds. We'll be rolling out the update soon :)

[2018-02-22 07:03] harryi3t commented on #4227
This is the limitation of the markdown renderer that we are using  https://github.com/jonschlinkert/remarkable
Related issue https://github.com/jonschlinkert/remarkable/issues/56 (closed)

Also, note that this is not even supported by Github Markdown
[code]
### Output
| Col-1     | Col-2  | Col-3 |
|---------|-------|-------|
|a=0/|/|1  |    b      |    c      |

You can use the HTML encoded value

[2018-02-22 07:03] #4227 closed, assigned to harryi3t

[2018-02-22 07:25] harryi3t commented on #4226
Postman is built on Electron and electron does not play well with the latest versions of Ubuntu
From https://github.com/electron/electron/issues/4583

[2018-02-22 07:25] #4226 closed, assigned to nobody

[2018-02-22 07:32] NikJaySix commented on #1744
+1

[2018-02-22 07:32] harryi3t commented on #4221
@EvertYipYip We were not able to reproduce this.
Do you have a lot of tabs open?

[2018-02-22 07:35] EvertVerboven commented on #4221
Yes
Update: After closing all the tabs in that first minute Postman seems to work fine.

[2018-02-22 07:36] janAtcontinia commented on #4202
Did you get the images? I mailed them to you right away

[2018-02-22 07:44] Aidenir commented on #3312
+1 for this as well. I get that cookies were an issue when postman was built as a chrome extension, but now I can't see why everything regarding cookies is such a PITA.

[2018-02-22 07:58] heidemn commented on #285
@a85 thanks for the update, and for finally addressing this issue.
Would you mind to share a screenshot of how this will look like?
When will this be available in the Canary version? (or is it available, and I overlooked it?)

[2018-02-22 08:10] kunagpal commented on #4228
@allyn-psyonix While the [Chai assert](http://chaijs.com/api/assert/) extension is not available at this time, the [inbuilt Node assert library](https://nodejs.org/docs/v6.13.0/api/assert.html) is indeed available. You can use this as follows:
[code]

[2018-02-22 08:32] officer-rosmarino commented on #1498
Any updates on this? I am not able to send requests with `application/vnd.api+json`.. Maybe I am missing something?

[2018-02-22 08:34] prashantbissa commented on #4044
+1

[2018-02-22 09:20] rgazelot commented on #4224
Thanks for your answer and for the advices. Good job 👍

[2018-02-22 09:30] m-stilling commented on #2716
Any update on this? :) It's currently an absolute pain to edit the URL when you snap the window to take up half a screen.

[2018-02-22 10:03] galbarm opened #4229 "get & put collection API"
Hello, I'm a pro user, trying to design a workflow for updating collections through the API.
Specifically, I'm trying to replace the content of collection B with the content of collection A (without creating new collections, to keep the published url the same).

To do this I'm:
1. performing a get request on collection A.
2. Copying the body of the result and pasting it as the body of a put reques

[2018-02-22 10:16] harryi3t commented on #4202
@janAtcontinia Yes. I have reproduced this. Marking this a bug.
![bug-confirmed-low](https://user-images.githubusercontent.com/5207331/36532398-a521290a-17e6-11e8-8cc4-91e9804141f3.gif)

[2018-02-22 10:55] findel commented on #285
@a85

I'm not sure that "pretty much" will fit the bill then. I think a lot of the use-cases for this feature require an actual prompt; not just a tab to fill in values which will get saved back into the collection.

For example; if we have a request to get an auth token, it requires a user-name and password. Each developer should use their own user accounts and therefor the user-name and password

[2018-02-22 11:05] prsh9 commented on #2476
+1

[2018-02-22 11:41] janAtcontinia opened #4230 "Large request payload crashes Postman"
## App Details:

I am making a put request
The body is raw xml
I try to post an xml document of 430.000 lines
It works well.
Before I click Send button I can switch between postman and Visual Studio.
As soon as I click Send Postman becomes completely black, with only the  menu and windows close/maximize buttons having another color.
Even when the request is done I cannot switch back to Postman. It

[2018-02-22 12:41] freeranger commented on #4003
I get this problem too - PC version hangs as described, chrome extension does not
@madebysid can you re-open and fix for the next version?

[2018-02-22 13:07] ghost commented on #2369
I can't understand how such a critical bug can manage to stay unresolved for more than a year!
Postman is used by developers, developers use hosts file to easily manage dev environments!
Everyone is switching to Insomnia because of this, and yet here we are in 2018 and this bug is still here.

[2018-02-22 13:17] ivaaaan commented on #1180
+1

[2018-02-22 14:26] aedelbro commented on #4227
Thanks for the response. However, because I'm looking to put this in a code block, it auto-escapes it, preventing transformation of  the `&#124;` into a `|`, so I'm left with something like this:
![so I'm left with something like this](https://user-images.githubusercontent.com/36162221/36543225-22594ac8-17b1-11e8-8484-bff3e86f6608.png)
Is there a workaround for this workaround in which you can dis

[2018-02-22 14:41] ma-schmidt-de commented on #1947
+1. The use case of having a default header "origin=XX" or "apikey=XX" is super common. There must be a central place to define headers for Collections and Folders.

[2018-02-22 14:48] ma-schmidt-de commented on #4044
+1 @darron1217
The use case of having a default header like "origin=XX" or "apikey=XX" is super common. We definitely need a central place to define headers for Collections and Folders.

[2018-02-22 15:10] govindrai commented on #4127
@rbatta No need to use the chrome app. Although you can't delete the content-type header auto-generated by postman, you can just add another content-type header below the auto-generated headers and when you hit send it will override the default postman header. It's not very clear that this is even possible or why that's even a thing, but the functionality is there. 😄

Regardless, I stopped using t

[2018-02-22 16:08] emypenguin87 commented on #1535
Really need this feature +1

[2018-02-22 16:12] mtakacs commented on #2790
+1

[2018-02-22 16:22] a85 commented on #285
@findel Usernames and passwords can be put in different environments and don't need to be part of a collection.

[2018-02-22 16:37] philld-4L commented on #1535
+1

This feature would be the difference between having a proof of concept and an enterprise solution.
It would significantly reduce the maintenance overhead and finally put code-heavy solutions for service testing to bed.

[2018-02-22 17:16] zonito commented on #3608
Getting the same issue. Followed the steps mentioned in @kamalaknn

[2018-02-22 17:27] cyrfer commented on #3312
+1 to be able to remove cookies with something like a pre-request script, or a setting to ignore them for a specific domain.

[2018-02-22 18:23] allyn-psyonix commented on #4228
Ah, thank you! I did not think of trying that. I'll give that a shot.

[2018-02-22 18:23] #4228 closed, assigned to kunagpal

[2018-02-22 18:46] mrollo commented on #285
@a85 I think the idea is that usernames and passwords should never be stored in a file. So it would be great if the enhancement allows for the user to easily provide a value for a variable at runtime. I believe newman allows for variable values to be passed as command line arguments, so it's analogous to that feature.

[2018-02-22 18:57] mrollo commented on #285
@a85 I think I'd also like to express thanks for making this tool available for everyone to use. I use Postman to test unsecured services and think it's a great tool.

Judging by the number of people that have commented on this issue, this feature is important to the community. However, if any of us are really that passionate about adding a feature to a free tool, we could submit a PR to add it ou

[2018-02-22 19:32] a85 commented on #285
@mrollo Appreciate the feedback! I agree in with the use case but providing a value at runtime is a separate issue than checking for variable resolution. In my mind, what I believe will work better for Postman is starting a session that is separate from persistent storage. In a session, you can store values that will never be persisted - and possibly go away when you close Postman. We tied this to

[2018-02-22 19:53] Stavanger75 commented on #2701
+1

[2018-02-22 20:05] Anand-Moghe commented on #675
+1

[2018-02-22 20:31] hielfx commented on #2559
Removing the directory and installing it made the native app work again on ubuntu

[2018-02-22 22:15] kevinlbatchelor opened #4231 "Would like to have a paret or master page that provides links and navigation to our collections"
We have several post man documented API, each represents a collection of micro services deployed on AWS. My objective is to have the creation and deployment and hosting all completely completed via CICD so when we update a service with its accompanied documentation, documentation gets release to production as soon as the service hits our master branch.  We have this mostly worked out except a one

[2018-02-22 22:27] Walkerks commented on #2701
+1

[2018-02-22 22:55] ScrappyXII commented on #3977
@harryi3t I am using an internal Oracle test system so am unable to provide access to that. However, you may be able to try registering a trial Oracle Cloud account: https://cloud.oracle.com/tryit?intcmp=ocom-hp
And accessing the Identity service which provides OAuth2 support.

[2018-02-23 00:33] okonomiyaki3000 commented on #2369
@jc-vrvd It's over a year and half already. But, you know, it can be hard to get something like this to work correctly. Don't be fooled by the fact that every other piece of software in existence handles this without issue. It is very hard.

[2018-02-23 01:01] mrollo commented on #285
@a85 if there were a separate 'in memory' storage option for variables and these variables were never persisted to disk, I think that would actually be a better solution than prompting for input, as it would reduce the number of times the user would be prompted. Can't speak for everyone else here, but it seems like a good approach.

Thanks for touching base with the community on this issue. We loo

[2018-02-23 03:06] wuxinwei1 opened #4232 "When restarted, the global environment variable will be reset"
`var outBizNo_suffix = pm.globals.get("outBizNo_suffix");`
`outBizNo_suffix = parseInt(outBizNo_suffix)+1;`
`pm.globals.set("outBizNo_suffix", outBizNo_suffix);`

the global environment variable will be reset. What do I need to do?

[2018-02-23 03:10] a85 commented on #285
@mrollo Yep. That's what I meant by a session. We have avoided using prompt based interactions everywhere in Postman as it creates a lot of issues for users who are trying to work fast.

Hopefully will have more to share here soon!

[2018-02-23 06:08] ShekharReddy4 opened #4233 "(Is this possible?) How do I automate to copy the response body in a tab and paste in immediate next tab"
Is it possible to automate to copy the response in current and paste in immediate next tab

[2018-02-23 08:02] geoffatcircle commented on #4105
Not sure if this is solved. I realize this doesn't appear correctly in the UI, but it also doesn't work with shared collections or shared documentation

[2018-02-23 08:25] grafikri commented on #2392
+1

[2018-02-23 09:02] shetaksroc commented on #4223
If you open update pane. Getting already at latest version message.

On Feb 22, 2018 08:18, "Harendra Singh" <notifications@github.com> wrote:

[2018-02-23 09:39] vilvaathibanpb opened #4234 "Postman working for one request while it doesnt work for other requests"
## App Details:

[code]

## Issue Report:
 1. Did you encounter this recently, or has this bug always been there:
      Recently
 2. Expected behaviour:
      APIs should give response
 3. Console logs (http://blog.getpostman.com/2014/01/27/enabling-chrome-developer-tools-inside-postman/ for the Chrome App, View->Toggle Dev Tools for the Mac app):
 4. Screenshots (if applicable)

[2018-02-23 09:39] afilp commented on #4105
Kind of different issue, can you please allow for a combo box in Collection Variables?

See here:

![image](https://user-images.githubusercontent.com/7850073/36587524-19c97044-188e-11e8-85d7-1d98e9d1a59a.png)

I would like to choose just **one** `basse_url` or `token`, so the values should be inside a combo box (needs some changes in the interface)

[2018-02-23 09:44] Amer21214 commented on #4105
Yeah, a new version came out and it still isn't solved. It isn't a "biggy" since the Collection variables do indeed work, it's just that people who start using it will be confused (like me) and think that these variables are not being recognized.

[2018-02-23 09:53] jbhavana commented on #2801
+1 to this request. It would make a huge difference to the way we work.

[2018-02-23 10:10] dzottola commented on #1066
(人´口`)

[2018-02-23 10:12] dzottola commented on #803
(人´口`)

[2018-02-23 10:31] mferri17 commented on #166
@hlubovac 24 feb 2017 comment solved my problem. Thanks man!

[2018-02-23 10:38] prashantagarwal commented on #4105
@Amer21214 What is the app version you are using ?

[2018-02-23 10:41] prashantagarwal commented on #4105
We have fixed these issues in our Canary channel. (https://www.getpostman.com/canary).

[2018-02-23 10:49] dennisslavid commented on #4130
It's a bit difficult to upload the script as it is across mutliple requests, but what i do is:

- Initiate an 'iterator' environment variable:

`pm.environment.set("iterator", 1);`

- use this iterator to loop through a POST (mutation) request for x-times:

[code]
- also use this iterator for a switch statement in the pre-request script (to change the variables in the input):

[code]
It's in this

[2018-02-23 10:53] grexe opened #4235 "Url parameters not encoded and sent twice"
## App Details:
[code]

## Issue Report:
Url parameters (in my case containing "http://", didn't try others) are not URL encoded when being sent, which triggers a bug in Postman, so they are sent twice (for multiple parameters, all parameters will be sent twice)
They are encoded only when sent via variables.

E.g.:
GET endpoint, Url Parameter: `schemaUri=http://ontologies.semanticarts.com/o/gistTo

[2018-02-23 11:24] Amer21214 commented on #4105
Aaa, it seems to be working now in the "newest new" version. Awesome!!! 👍 :)

[2018-02-23 11:35] sdnts commented on #2931
We will be looking into Linux app distribution very soon, I'll let you guys know here when we have an update.

[2018-02-23 12:29] sdnts commented on #3691
Guys, I'm still unable to reproduce this on Mac or on Linux with v5.5.3. I drag selected parts of the pretty JSON response (and the entire thing too), and they were copied to the clipboard with Cmd/Ctrl+C as well as the context menu (prettified). This leaves me very confused.

This is a shot in the dark, but does this only happen to you guys with specific servers? One reason I can think this might

[2018-02-23 12:36] skys215 commented on #450
In my case, it didn't send `X-Requested-With: XMLHttpRequest` in header, caused the framework thought that the request was come from a browser, instead of from an API. And the POST request was redirected to the HTML page rather then returning a JSON.
BTW, I'm using Laravel framework.

[2018-02-23 12:59] jtlindsey commented on #3691
@madebysid Do you mean a `GET` request to `https://postman-echo.com/get`? I get no response at all with a `GET` request to `https://postman-echo.com/get` or `https://postman-echo.com`.

Even running some of the built in request in the `Postman Echo` collection like `GET` DigestAuth Request don't work.

No response with `ping postman-echo.com`

Is postman-echo down?

**Update**: Never-mind, I forgo

[2018-02-23 13:03] jtlindsey commented on #3691
Here is a animation showing the lack of copy working on my system and the latest Postman.
![nw1](https://user-images.githubusercontent.com/7409277/36595355-deaa7ac6-186f-11e8-897f-1b597a647729.gif)

[2018-02-23 13:05] cjlotz commented on #4005
+100

[2018-02-23 13:10] grexe commented on #4235
seems the hash sign '#' used as anchors but also for classifiers in an ontology is not encoded at all, even when used in a variable.

[2018-02-23 13:21] dnet5 commented on #3633
Hi @a85 it kinda solves the problem, but only if you test few requests...

[2018-02-23 13:26] Amzani commented on #3825
Hello guys,
Any news about this feature ?

[2018-02-23 13:58] rstander commented on #4005
+200

[2018-02-23 14:06] pinalbhatt commented on #675
+1

[2018-02-23 15:00] Pedr0Rocha commented on #1947
+1

[2018-02-23 15:36] shetaksroc commented on #4223
<img width="481" alt="screenshot 2018-02-23 21 06 16" src="https://user-images.githubusercontent.com/6781245/36602206-6ef9db54-18dd-11e8-85eb-956aff38226d.png">

[2018-02-23 15:38] harryi3t commented on #4227
😆

Sure, Use this `<code>...</code>`
[code]

![postman](https://user-images.githubusercontent.com/5207331/36602229-874e9136-18dd-11e8-8674-96304cfb6270.png)

### How it renders in Postman

![postman](https://user-images.githubusercontent.com/5207331/36602259-97f0d526-18dd-11e8-898f-03a8a275985f.png)

I hope this helps :)

[2018-02-23 15:54] aedelbro commented on #4227
Thanks! That did the trick. Hopefully the markdown engine will support escaping pipes in the future (and we won't have to have nested workarounds).

[2018-02-23 15:57] aprixon01112017 commented on #3229
I observe it, too, with 5.5.3 on WIndows 10, 64bit

[2018-02-23 15:58] aprixon01112017 commented on #4128
Same, 5.5.3 on WIndows 10

[2018-02-23 17:06] FabiusChiang commented on #2833
so frustrated under win10; thanks to he solution "Alt+Space then M"!

[2018-02-23 22:46] dbkaynor opened #4236 "Include iteration count and data files so they can run from Runner"
****Feature request****
It is already possible to include variables in a collection by using the Edit \ Variables option. Is it possible to also include iteration count and data files? It seems it should be easy to add more tabs so that the tester could use runner to do tests that require iterations and data files. I realize that Newman can do this via the command line but using Runner is easier v

[2018-02-24 00:07] PKPublicCode commented on #1996
Postman for Windows, Version 6.0.6, win32 10.0.16299 / ia32
98% CPU usage. 100% reproducibility. Impossible to use app at all.
Steps.
Install postman.
Launch postman
Actual result: 6 child postman processes kills CPU.
Expected result: Possible to use application

[2018-02-24 01:43] zerokid commented on #4221
mine also having issue
https://imgur.com/a/13uUL
i try to delete and install again same problem

here are the logs
https://imgur.com/a/r9qz1

[2018-02-24 04:30] lucasyvas opened #4237 "Postman 6 pinning CPU on Linux"
## App Details:
[code]

## Issue Report:
 1. Postman eating CPU. Issue surfaced immediately after upgrading from Postman 5 to 6
 2. Expect it doesn't eat endless CPU
 3. Console logs:
[code]
 4. Screenshots (if applicable)

![image](https://user-images.githubusercontent.com/3365616/36625638-3dcfa7b6-18d8-11e8-9682-95d244397d23.png)

To reproduce, simply open Postman. I'm using Ubuntu 17.10

[2018-02-24 05:16] sivcan commented on #4237
@lucasyvas - I tried to reproduce this issue by using Postman 6 on Ubuntu 17.10 for an hour and even leaving it idle for a long time but was not able to reproduce it.
![image](https://user-images.githubusercontent.com/12631777/36625958-b20c34e2-194f-11e8-8c97-50bed7a59789.png)

Is this happening every time for you ?
Even after a few minutes, the CPU consumption stays at the peak ?

[2018-02-24 05:27] sivcan commented on #4236
@dbkaynor - I beg your pardon but I am not sure as to what you're suggesting.
If you mean to attach data file and iteration count to the collection-runner then that feature is already there in the collection runner's sidebar
![image](https://user-images.githubusercontent.com/12631777/36626039-2b5d0d70-1951-11e8-8aa4-80ca7c4de918.png)

If you're saying that the data files and iteration count need t

[2018-02-24 05:34] sivcan commented on #4234
@vilvaathibanpb - Kindly update Postman to the latest version.
If there are any steps to reproduce it then provide the same and I'll reopen this issue.
Otherwise, it works well.

[2018-02-24 05:34] #4234 closed, assigned to nobody

[2018-02-24 05:41] sivcan commented on #4232
Hi @wuxinwei1
I tried to reproduce this issue but wasn't able to.

Steps I did - trying to reproduce this issue:
1). Set a global variable `outBizNo_suffix = 1`.
![image](https://user-images.githubusercontent.com/12631777/36626141-16d703cc-1953-11e8-8e6a-ac09b87726ea.png)

2). Ran your pre-request script.

3). Restarted the app.
Result:
![image](https://user-images.githubusercontent.com/12631777/3

[2018-02-24 05:46] wuxinwei1 commented on #4232
Thank you. The latest v6.0.6 version has fixed that problem.

[2018-02-24 05:46] #4232 closed, assigned to sivcan

[2018-02-24 06:25] sivcan commented on #4223
@shetaksroc - Not sure why the update is not showing up for you.
But anyway, you can head over here [Download Postman](https://www.getpostman.com/apps)
and download the latest version.

[2018-02-24 06:37] s1mar commented on #1996
@pavelkruglov I second that, after launching the postman application, the child processes, consume all the cpu and basically kill it.

machine spec:
------------------
System Information
------------------
      Time of this report: 2/24/2018, 12:08:21
             Machine name: LAPTOP-CEVMV80B
               Machine Id: {598DBB0E-BDFE-4E14-A348-8FF56201642D}
         Operating System: Windows 10

[2018-02-24 08:10] lucasyvas commented on #4237
I left it running for several minutes and it never relented. I also tried quitting and opening several times with same result. I will try rebooting for good measure to see what's up and report back

[2018-02-24 08:13] sivcan commented on #4237
@lucasyvas - Okay sure. Let me know!

[2018-02-24 08:29] lucasyvas commented on #4237
It's the same result... about 4 listed processes. Top one is always over 100%, other 3 ranging from 20% through 60%

I'll be up working in the morning (PST) to check and see if there are any other troubleshooting recommendations. Fortunately I don't think I will require Postman on this box for a few days, but I'm ready to try whatever to help diagnose it, time permitting.

It seems silly to try re

[2018-02-24 09:51] nfearnley commented on #4103
@madebysid, I'm having a similar issue. You mention using environmental variables instead. I assume you mean as follows:
https://myapi.com/getThing/{{thingId}}
In that case, where do I document the usage of {{thingId}}? There is no Description field available for it in the Params list, and in the Documenter output, it doesn't show up in the list of params.

[2018-02-24 10:00] sivcan commented on #4237
@lucasyvas - Thanks, so will be needing logs from you.

Steps :
1. Launch the Postman App.
2. In the Menu Bar click on View > Developer > **View Dev Tools (Shared)**
**Note** : Need  you to launch the dev tools for the 'Shared' view
3. View > Developer > **View Dev Tools (Current View)**

Share the console logs as log files for both the dev tool windows.
Thanks!

[2018-02-24 10:25] karakanb commented on #4145
The 2-pane layout is useful in some cases; however, it is a tradeoff between the width and height of the response section. Making some parts of the UI collapsible avoids this tradeoff and improves the overall experience. Until it is implemented, we will be using the 2-pane layout.

[2018-02-24 10:55] sivcan commented on #4233
@ShekharReddy4 - I am afraid you cannot do that in the app.
However, I can help you with a small workaround.

You can store the response of a request to a global / environment.
Put the following script in the `Tests` for the request in the current tab.
[code]

Now in the next tab's **Pre-request** or **Tests** script you can use the response like so
[code]

Then use it however you want to. :)

Rem

[2018-02-24 10:55] #4233 closed, assigned to nobody

[2018-02-24 11:48] taftse commented on #3977
@harryi3t you can ignore my issue it was indeed the callback url I cant believe missed that sorry for wasting your time

[2018-02-24 11:52] GermaineG commented on #1996
Can completely confirm @pavelkruglov with the x64 version on Windows 10. Freshly installed today, v6.0.6.,
6 postman processes and 99% CPU usage after launch.

[2018-02-24 11:55] s1mar commented on #1996
I have reverted to the chrome app version of postman for now, it works

[2018-02-24 12:00] anirudhsama commented on #1983
Same issue with POST requests, version 5.5.2

[2018-02-24 16:11] lucasyvas commented on #4237
OK, here's both:

[postman-current-view.log](https://github.com/postmanlabs/postman-app-support/files/1754600/postman-current-view.log)
[postman-shared.log](https://github.com/postmanlabs/postman-app-support/files/1754601/postman-shared.log)

[2018-02-24 17:05] smushy129 commented on #1996
Any fix for this? Just installed the latest version of postman on getpostman.com and I'm getting 100% CPU usage and fans spinning like wind turbines because the laptop is heating up. I'm not even doing anything, just starting the app.

![screen shot 2018-02-24 at 12 02 41 pm](https://user-images.githubusercontent.com/19790133/36632927-de476710-195a-11e8-9aa3-bc70b3cb2f8c.png)

[2018-02-24 17:08] s1mar commented on #1996
@kingsleyliao The chrome web app version works without such a glitch, you can use that in the meanwhile

[2018-02-24 17:15] VickyRonnen opened #4238 "CPU 100% unless you are logged in"
## App Details:
Postman for Windows
Version v6.0.6
Windows 10 Professional x64
[code]

[2018-02-24 17:34] aenlr commented on #4238
Same on macOS:
- Fresh install
- Start Postman
- Don't login
- Postman and Postman helper processes all consume between 60 and 150% CPU according to Activity Monitor, with CPU usage showing no signs of going down

[2018-02-24 17:47] numaanashraf commented on #4237
@lucasyvas Thanks for helping us triage this. We can confirm there is a performance issue in Postman 6.0.x version which affects users without an account or while the application is trying to connect to our sync service. We are working on rolling out a fix for this as soon as possible.

[2018-02-24 17:48] numaanashraf commented on #4238
@VickyRonnen @anob3it Thanks for reporting this. We can confirm there is a performance issue in Postman 6.0.x version which affects users without an account or while the application is trying to connect to our sync service. We are working on rolling out a fix for this as soon as possible.

[2018-02-24 18:09] lucasyvas commented on #4237
Happy to be able to help identify it!

👍

[2018-02-24 18:10] numaanashraf commented on #1996
@pavelkruglov @s1mar @kingsleyliao @GermaineG Thanks for reporting this. We can confirm there is a performance issue in Postman 6.0.x version which affects users without an account or while the application is trying to connect to our sync service. We are working on rolling out a fix for this as soon as possible.

[2018-02-24 19:12] numaanashraf commented on #1996
@pavelkruglov @s1mar @kingsleyliao @GermaineG We've rolled out the fix in the latest version on our Canary channel (v6.0.7-canary01) - https://www.getpostman.com/canary. Would it be possible to download the Canary app and let us know if the issue is resolved at your end?

[2018-02-24 19:13] numaanashraf commented on #4237
@lucasyvas We've rolled out the fix in the latest version on our Canary channel (v6.0.7-canary01) - https://www.getpostman.com/canary. Would it be possible to download the Canary app and let us know if the issue is resolved at your end?

[2018-02-24 19:14] numaanashraf commented on #4238
@VickyRonnen @anob3it We've rolled out the fix in the latest version on our Canary channel (v6.0.7-canary01) - https://www.getpostman.com/canary. Would it be possible to download the Canary app and let us know if the issue is resolved at your end?

[2018-02-24 19:17] shyam2794 opened #4239 "Postman Not getting launched in windows 10"
## App Details:
The app is not launching , so unable to get the app details .
[code]

## Issue Report:
  The the launch page prevails all the time . The app doesnt start .
 4. Screenshots (if applicable)
![postman](https://user-images.githubusercontent.com/30238125/36634082-5367bcf6-19c5-11e8-9cad-975aea7854f0.PNG)

[2018-02-24 19:20] lucasyvas commented on #4237
There's still the uncaught socket error, but CPU is A-OK now!

[2018-02-24 19:24] sivcan commented on #4239
@shyam2794 - Are you on the latest version of the app ?
If not then [Download Postman](getpostman.com/apps) and try opening the app ?

If you're on the latest version and experiencing this issue then we'll be needing logs from you.

Steps :
1. Launch the Postman App.
2. In the Menu Bar click on View > Developer > View Dev Tools (Shared)
**Note**: Need you to launch the dev tools for the 'Shared' v

[2018-02-24 19:29] numaanashraf commented on #4237
Glad to know @lucasyvas, and thanks again. 😃 We'll roll out this fix to our stable channel soon.

[2018-02-24 19:35] shyam2794 commented on #4239
@sivcan  Thanks for the response .
 1. yes i am downloading the latest version i think so . The one in this URL for windows
(https://www.getpostman.com/apps) . Am not sure whether this is the latest .

2.Am getting the following error .

requester.js:283536 Uncaught DOMException: Failed to execute 'transaction' on 'IDBDatabase': One of the specified object stores was not found.
    at Object.getUn

[2018-02-24 20:02] sivcan commented on #4239
@shyam2794 - Ohh, were you logged in previously ?
Has all your data been synced previously ?
Can you head over to the Postman Dashboard and check if all your data is there ?

Let me know.

[2018-02-24 20:08] shyam2794 commented on #4239
@sivcan  i am not able to view the dashboard . This is the first time am using postman . will send the screenshot of my dashboard .
![dashboard](https://user-images.githubusercontent.com/30238125/36634610-1acbb3ea-19cd-11e8-89ab-7b3c54e1d020.PNG)

[2018-02-24 20:10] sivcan commented on #4239
@shyam2794 Okay never mind, can you tell me how you reached this state ?

[2018-02-24 20:13] shyam2794 commented on #4239
@sivcan  i have updated the previous comment . You can find the screenshot of the dashboard .

[2018-02-24 20:15] sivcan commented on #4239
@shyam2794 - Okay
So couple of questions that'll help us to triage this issue faster

1. Were you previously using postman or is this the first time you installed it ?
2. Do you have an account and were logged in or not ? (If you had Postman installed previously)
3. Are you sure you're on the latest version ? Can you head over to the site and download it fresh [Download Postman](https://www.getpos

[2018-02-24 20:20] sivcan commented on #4239
@shyam2794 - Okay you updated the comment that you're using postman for the first time.
When was the last time you downloaded it from our site ?

Was it like the first time you downloaded and it just never booted up ?

[2018-02-24 20:22] shyam2794 commented on #4239
@sivcan  I have cleared all the files related to postman and tried reinstalling it again . It works fine . The app is updated to the latest version 6.0.7 .
Thanks for your help .

I suspect the reason for the bug is i tried to use the postman chrome as the app didnt start in my windows machine and logged in the web app .  I signed out from the web app ,removed it from the chrome apps . And re-inst

[2018-02-24 21:33] Syndesi commented on #4079
+1

[2018-02-24 22:34] embee8 commented on #2086
+1

Switching from the Authorization to the Body tab is super cumbersome. I can imagine that user research would reveal that the majority of users focus on the Body tab, hence, assigning the default tab might be the easiest solution. Best would be a setting to let users select the preferred tab.

[2018-02-24 23:39] blairg23 commented on #2559
Same for me, removing directory and reinstalling works for me.

On Feb 22, 2018 1:31 PM, "Daniel Sánchez" <notifications@github.com> wrote:

[2018-02-25 00:17] markatwork8823 commented on #1996
@numaanashraf This worked for me! CPU was killing my VM and POSTs were taking ages but all good now!

Thank you

[2018-02-25 06:06] nfearnley opened #4240 "Markdown header id attributes"
id attributes are only generated for h1 tags. h2, h3, h4, ... tags do not get id attributes. If I attempt to manually set an id or name attribute, it gets cleared when viewed in the documenter.

Here is the markdown I've tried:
# TEST1HASID
## TEST2NOID
### TEST3NOID
#### TEST4NOID
<h1>TESTH1HASID</h1>
<h2>TESTH2NOID</h2>
<h3>TESTH3NOID</h3>
<h4>TESTH4NOID</h4>
TESTU1HASID
======
TESTU2NOID
------

[2018-02-25 06:07] nfearnley commented on #4240
You can actually see how the markdown reacts with github's markdown interpreter. The div and a tags work fine, but no id tags are automatically added.

[2018-02-25 08:08] VickyRonnen commented on #4238
That resolves the issue, without being logged in cpu is low now.

Met vriendelijk groet,

Vicky Ronnen

Van: Numaan Ashraf [mailto:notifications@github.com]
Verzonden: zaterdag 24 februari 2018 20:14
Aan: postmanlabs/postman-app-support <postman-app-support@noreply.github.com>
CC: VickyRonnen <v.ronnen@upcmail.nl>; Mention <mention@noreply.github.com>
Onderwerp: Re: [postmanlabs/postman-app-suppor

[2018-02-25 10:19] capesean commented on #3376
I can't believe this. Postman remembers the URLs you accessed, and it also remembers the Username and Password when you choose Basic Auth on the Authorization tab. So basically, it remembers just about everything, even after you close all the tabs and delete everything from History. That's outrageous! And this still hasn't been addressed?

[2018-02-25 11:53] PKPublicCode commented on #1996
I don't know if canary had a CPU problem. But I can confirm that issue with 100% CPU is not repro on my PC with Canary downloaded by your link

[2018-02-25 15:03] Ali-CFD-Alex opened #4241 "post method bugged"
## App Details:

[code]

## Issue Report:
Today i updated postman after update when i chose POST method and try to upload file using form-data at first time its work. But next time try to post file it post nothing ! i have to reopen postman every time...

[2018-02-25 18:15] mmieluch commented on #1947
+1

[2018-02-25 18:25] aenlr commented on #4238
@numaanashraf It resolves the issue on OS X as well.

[2018-02-25 23:03] a85 commented on #4231
Hey Kevin! If you are talking about internal APIs then this is exactly what we have been working on. Check out more info on our website at www.getpostman.com/workspaces. Workspaces bring together multiple collections in one place - it is up to you to set the context for a workspace so things can be pretty flexible.

We don't have public workspaces yet but that is on the roadmap.

[2018-02-26 01:44] cateyes99 opened #4242 "Environment variables substitution doesn't work well for query parameters in URL"
## App Details:

[code]

## Issue Report:
The substitution of environment variables for query parameters in URL doesn't work well. For example, I have three environment variables, `{{api-version}}`, `{{ampersand}}`, `{{&}}`.

When the values of all the three are empty string then
[code]
Above, if i have `?{{api-version}}{{&}}`, after substitution, it becomes `?{{=&}}=`, but , it should be `?` here

[2018-02-26 03:48] rhostem commented on #1180
+1

[2018-02-26 05:43] harryi3t commented on #4241
@Ali-CFD-Alex I have confirmed the bug to be in 6.0.7
We are working on a fix.
For now, reopening the request should work (instead of reopening Postman)

[2018-02-26 07:03] #4237 closed, assigned to sivcan

[2018-02-26 08:16] mgruner commented on #1906
+1

[2018-02-26 08:19] balazj commented on #1906
+1

[2018-02-26 08:20] mbuc82 commented on #1906
+1

[2018-02-26 08:31] chimit opened #4243 "How to delete a workspace?"
## App Details:
[code]

## Issue Report:
 1. Did you encounter this recently, or has this bug always been there: Recently
 2. Expected behaviour: Ability to delete a workspace

I can't delete a workspace. I click a "Manage" button, the Postman dashboard is opened in the browser, but I don't see anything about Workspaces there.

[2018-02-26 08:43] sivcan commented on #4243
Hi @chimit -  You can simply delete a workspace in the app itself.

1). Switch to the 'Browse' view (down-right corner)

<img width="590" alt="screen shot 2018-02-26 at 2 09 47 pm" src="https://user-images.githubusercontent.com/12631777/36660647-ee9d7b40-1afe-11e8-85b0-0606657552bf.png">

2). Then click on '∙∙∙' and delete the workspace that you want to delete.

<img width="769" alt="screen shot 2

[2018-02-26 08:43] #4243 closed, assigned to nobody

[2018-02-26 09:21] sdnts commented on #4242
@cateyes99 I believe this is the same issue as #3181. Can you also try this on the [Canary build](https://www.getpostman.com/canary) and check if you still see this?

As for the code generation, you're right. We use a third-party [library](https://www.npmjs.com/package/request-snippet-generator) to generate code. The actual request sending flow is handled separately by [postman-runtime](https://gi

[2018-02-26 09:21] #4242 closed, assigned to nobody

[2018-02-26 09:28] sdnts commented on #4114
Hi @schmod, we've seen this kind of behavior before, [this comment](https://github.com/postmanlabs/postman-app-support/issues/2604#issuecomment-271503172) explains why it is this way. I'm adding this as a feature request (to be able to control this behavior)

[2018-02-26 09:40] jawn commented on #4190
Can you clarify support for RAML 1.0 is on the way?
Is this still tracked via #1906?

[2018-02-26 09:52] sdnts commented on #4123
Hi @connorsadlervelo, we do have a web API for this, but as you do not wish to use Sync, this will obviously not work.

I believe what you want is very similar to #2691, so I'd recommend you follow that thread for updates! Basically, a CLI tool to allow you to interact with the app is something we're working on. When it does go out, you should be able to write a script then.

Please let me know if

[2018-02-26 09:52] #4123 closed, assigned to nobody

[2018-02-26 09:54] rfp commented on #1906
+1

[2018-02-26 09:56] sdnts commented on #2691
Guys, there hasn't been major progress on this front yet, since all of us have been working on Workspaces. We'll get back to this soon, and will keep you updated on the progress.

[2018-02-26 10:02] sivcan commented on #4225
@aprixon01112017 - Right now the only way to stop a run is using the 'Stop Run' button inside the runner.
I'll mark this as a feature request and we'll take a look into it.

[2018-02-26 10:04] sdnts commented on #4221
Hey guys, this is related to the issue in #4128. As [this comment](https://github.com/postmanlabs/postman-app-support/issues/4128#issuecomment-362178326) explains, this is an issue with the underlying framework Postman uses. From @EvertYipYip's experience, this also looks related to performance. We will investigate and try to get this fixed as soon as possible.

Since these two issues are the same

[2018-02-26 10:04] #4221 closed, assigned to prashantagarwal

[2018-02-26 10:05] sdnts commented on #4116
Hi @pedro75757, we're tracking this over at #4128, please follow that thread for updates :)

[2018-02-26 10:05] #4116 closed, assigned to nobody

[2018-02-26 10:08] sdnts commented on #4135
Hi @DullCat-c, does this only happen when you use the `hosts` file? If you directly use the server's URL, this does not happen, I assume. Can you check this out?

There are known issues around the `hosts` file, as reported in #2369. I'm closing this right now because the two issues are similar, but please let me know if they are not, and I will reopen :)

[2018-02-26 10:08] #4135 closed, assigned to nobody

[2018-02-26 10:10] sdnts commented on #4138
Hi @priyavj, although I think this should be handled by your server, you can use `lodash`, which is included in the pre-request / test sandbox to filter out dates you want. I'm closing this for now, but please let me know if I misunderstood, and I'll reopen.

[2018-02-26 10:10] #4138 closed, assigned to nobody

[2018-02-26 10:15] Magua commented on #1678
+1

[2018-02-26 10:17] UdoBretz commented on #1906
+1

[2018-02-26 10:19] connorsadlervelo commented on #4123
@madebysid Yep a CLI would be great - thanks for linking it

[2018-02-26 10:23] Jummartinezro commented on #3942
Same issue for me
Solved with @nrobert method :)
But it has to be solved on Postman directly

[2018-02-26 10:23] sdnts commented on #4133
This seems to be a problem with the underlying library we use to generate this code. I also noticed that `.` in the URL was replaced by `,`. We'll look into this.

[2018-02-26 10:25] rmihael commented on #1906
Please, let's stop these "+1". There is "thumbs up" on the issue if you want to vote and "subscribe" if you want to track discussion.

[2018-02-26 10:27] sdnts commented on #4101
This seems to be a problem with the underlying library we use to generate this code. We'll look into this.

[2018-02-26 10:41] #4134 closed, assigned to sdnts

[2018-02-26 11:17] harryi3t commented on #4223
@shetaksroc after upgrading to latest version (link posted in the comment above this), can you confirm if this issue is fixed?

[2018-02-26 11:21] harryi3t commented on #4190
It's work in progress and yes it's tracked via https://github.com/postmanlabs/postman-app-support/issues/1906

[2018-02-26 11:42] tusharsharma793 commented on #2489
Is their a way to disable the update download window prompt. I am using PM 5.5.0

[2018-02-26 11:47] harryi3t commented on #3977
@taftse Not able register. Throwing UnexpectedValueException
![image](https://user-images.githubusercontent.com/5207331/36668279-c926559a-1b16-11e8-87fe-d2e0f68a2afa.png)

I have mailed you the full screenshot of the error.
<hr>
@ScrappyXII  I also tried registering an account with Oracle Cloud but could not succeed.
The phone verification fails always :( Server is returning 400.

![oracle_cloud_a

[2018-02-26 12:22] glenpike commented on #4241
Workaround - you can select a different file (which might not help) and POST.

[2018-02-26 12:25] galbarm opened #4244 "Authorization information is not shown in published API docs"
When publishing a collection to create a public api docs, the generated page does not include any information about authorization.
Tested with Bearer Token.
Currently the only way to present information about authorization is to manually add it as header and not use the Authorization feature.

[2018-02-26 12:28] sdnts commented on #4244
@galbarm Currently, we do not parse any authorization info when rendering the documentation. I'm adding this as a feature request (to show the authorization selected, not the values, obviously).

[2018-02-26 12:34] schmod commented on #4114
Thanks for getting in touch!  The previous comment correctly states why the current behavior exists when Postman handles a 302.

However, Postman's current behavior for 308s does not match any browser that I know of.

[2018-02-26 12:41] sdnts commented on #4240
@nfearnley You're right, we currently generate IDs for h1 tags only. I'm adding this as a feature request.

Out of curiosity though, why would you want to use different heading styles? Is it a matter of formatting?

[2018-02-26 12:44] sdnts commented on #4140
Hi @jdinardo30 @unff Can you guys check your DevTools to see if you get any errors in there?

On Postman < v6.0, you can open DevTools by heading over to `View Menu > Show DevTools`
On Postman > v6.0, you can open DevTools by clicking on `View Menu > Developer > Show DevTool (Current View)`

[2018-02-26 12:50] Ali-CFD-Alex commented on #4241
@harryi3t  Removing file field and create new one works too.

[2018-02-26 12:52] Ali-CFD-Alex commented on #4241
@glenpike Its not work for me. I have some ways like removing file field than create new one , reopening request and some else

[2018-02-26 12:55] sdnts commented on #4163
@ilicmarko @eloyucu We've made several improvements to Sync recently. We are slowly rolling a new version out, so you guys should get it in a couple of days or so. Issues like these should be solved there.
If you want to verify, you can download our [Canary](https://getpostman.com/canary) version to check if you still see this.

I'm closing this for the time being, but if you still see erratic beh

[2018-02-26 12:55] #4163 closed, assigned to nobody

[2018-02-26 13:02] sdnts commented on #3691
@jtlindsey Thanks for testing it out on `postman-echo.com`. I tried this on an Ubuntu VM, and I was able to see the behavior you're talking about. The context menu does not seem to work, but Ctrl+C works just fine. I'll get on this!

[2018-02-26 13:05] sdnts commented on #4161
@ionutincau Thanks for the suggestion! We will look into this :)

[2018-02-26 13:08] sdnts commented on #4141
@Kirchmayer As @Anton-V-K said, we've been looking into MSI packages for Windows app distribution. When that comes in, you should be able to select a destination for app data. I'm closing this as duplicate of #3019, please follow that thread for updates :)

[2018-02-26 13:08] #4141 closed, assigned to nobody

[2018-02-26 13:09] sdnts commented on #4142
@Mibeon I'm adding this as a feature request for now. Thanks for the suggestion!

[2018-02-26 13:12] sdnts commented on #4145
Hi @karakanb @JamesMGreene @brenthale, I've seen a similar feature request over at #3985, I'm closing this as a duplicate, please follow that thread for updates, thanks :)

[2018-02-26 13:12] #4145 closed, assigned to nobody

[2018-02-26 13:16] andrewspencer commented on #3127
Solved for me, the problem was a trailing newline after copy-pasting the access token.

There may a bug hiding behind there, because the newline should not be introduced when copy-pasting.

[2018-02-26 13:22] sdnts commented on #4146
Hi @rawaludin, while I wouldn't recommend this, you can use the variable `iterations`, which is only defined when running a collection run.

Ideally, the logic you're using results in tests that depend on each other, which isn't maintainable or debuggable in the long run. I'd recommend keeping each request self-contained, in the sense that each one cleans up after itself. You wouldn't need a way t

[2018-02-26 13:22] #4146 closed, assigned to nobody

[2018-02-26 13:59] przemo098 commented on #2729
+1

[2018-02-26 14:15] sdnts commented on #4147
@tomas-kuchar This should be solved by following @JamesMGreene's suggestion. Closing for now.

[2018-02-26 14:15] #4147 closed, assigned to nobody

[2018-02-26 14:15] sdnts commented on #4148
@gs11 Thanks for the feature request! We will look into this :)

[2018-02-26 14:19] nfearnley commented on #4240
I'm using it for subsections in the collection description. I want to be
able to link between them.

On Feb 26, 2018 7:41 AM, "Siddhant Sinha" <notifications@github.com> wrote:

[2018-02-26 14:30] #4238 closed, assigned to numaanashraf

[2018-02-26 14:39] sdnts commented on #4150
@psech Thanks for reporting this. It looks like an issue with the library we use to generate code snippets. We'll look into this.

[2018-02-26 15:11] nchaluse commented on #3504
I couldn't agree more on the very last comment. If sync in enabled, it takes ages to just move a request from one folder to another. The app freezes, then the sync pops up, I choose local values without even taking a look at everything, then the app freezes again for a solid 1-2 minutes and I'm back to being able to use it. On the other hand, if sync is disabled, all goes smoothly.

Is there a way

[2018-02-26 15:18] kobidadon1 commented on #2833
must be a pain to debug this lol, unplugging the monitor every time

[2018-02-26 15:42] prurph commented on #2086
+1

[2018-02-26 16:32] galbarm opened #4245 "Create Collection (Postman API) - choosing a "file" body type returns 400"
Choosing "raw" body type works fine, for example the following post collection request returns 200:

[code]

But changing the body type to "file" (as specified in the [schema](https://schema.getpostman.com/json/collection/v2.0.0/docs/index.html)):
[code]
or
[code]

returns 400:
[code]

[2018-02-26 16:34] numaanashraf commented on #4245
@galbarm Thanks for reporting. We are looking into this.

[2018-02-26 16:45] jmoniatte commented on #3691
@madebysid Thanks for looking into this.

Just tested, and you are right, copying using the context menu does not work, but Ctrl+C does indeed work.

[code]

[2018-02-26 17:24] dbkaynor commented on #4236
What I am referring to is to attach data file and iteration count to the My
Workspace page. I have a collection that has one test in it. That test
currently needs to be run eight iterations and will need more iterations in
the future. I would find it useful to be able to just click on it and have
all eight iterations run using the data file, Even when I go to the runner
page I have to manually spe

[2018-02-26 17:46] gaptx85 commented on #2172
@abhijitkane I hate to ask what seems like a stupid question, but do  you have any suggestions on how to build that loop in a way that works on Newman?

[2018-02-26 19:40] ngrigoriev opened #4246 "Blank page when trying to use Azure AD Connect v1.0 endpoint for OAuth2"
I am trying to configure the "Get new access token" feature in Postman to work with Azure AD Connect - to call MS Graph APIs with OAuth2 access token.

After going through the authentication process I get the blank window. The parameters are definitely correct, I am using them to build my own authorization request.

I suspect that it may be because of the pop-up (real pop-up) that is used by AD FS

[2018-02-26 20:29] mattrixman commented on #3013
@repac Also consider upvoting this guy's comment: http://disq.us/p/1o8hq5s
(no, I'm not that guy)

[2018-02-26 21:03] gp-slick-coder commented on #3166
A UI feature introduced by people that almost never used Postman.

[2018-02-26 21:03] dbkaynor commented on #4236
Another issue is that if I use runner to run a collection that requires a data file and itereation value other than 1 and then switch to another collection that does not require them all sorts of errors occur if they are still set. It is very easy to forget to clear the settings.

[2018-02-26 21:22] terrypacker commented on #4171
I have just run into this issue and can no longer use Postman to test our REST api.  Being able to optionally disable the auto-encoding would fix this.

[2018-02-26 21:38] patricktaylorstarbucks commented on #2336
this bug is causing significant problems with out ability to share and support postman collections. Add my vote to increasing priority to fix please.

[2018-02-26 21:56] prashantagarwal commented on #2336
@patricktaylorstarbucks We have released the fix in the latest release which is slowly being rolled out. By the time you can test this out on our canary app https://www.getpostman.com/canary

[2018-02-26 22:58] allyn-psyonix commented on #2315
Our team is looking for a similar solution. We would like to be able to commit our postman tests to our git repo and include them with PRs to be code reviewed with the feature being tested. The next step would be the ability to specify a branch to run a collection from via Newman for automated build pipeline integration.

1) Commit feature changes and postman tests to new branch
2) Submit PR for r

[2018-02-26 23:07] stramel commented on #4193
This problem is exactly what everyone was wanting solved when we requested PRE-request scripts.

It is useless to have every single request appear as though it is Login and then in the tests have the actual request sent.

[2018-02-26 23:43] joseph4tw commented on #4131
I would really like this for pre-request scripts as well. I need to sign requests before sending them and that requires processing some XML with the built-in xml2js library that comes with Postman. However, parsing XML with that library requires a callback function which pre-requests scripts can't wait for.

[2018-02-26 23:45] ItamarCoh3n commented on #4079
+1

[2018-02-27 00:57] ztrange opened #4247 "Multipart only sends file once"
I updated to 5.5.3 but started having an issue with multipart.

I have an endpoint that looks like this:
[code]

With the latest version, I was able to select the file to be uploaded and then run the request ONCE. If I tried it again, it never sent the file again. Even if I disabled the param in body or re-selected the file, it was never sent again. I'm now back to 5.5.2. Thought you'd like to kno

[2018-02-27 01:05] cateyes99 commented on #4242
I've tried Canary build version 6.0.8. It fixed the extra `=` appended in query parameters after substitution. But in my report, there is another bug which hasn't been fixed yet. It's when setting up an environment variable called `{{&}}`. Postman Canary **doesn't** not treat it as environment variable at all and no substitution takes place, even the UI **does** recognise it as environment variabl

[2018-02-27 01:06] cateyes99 commented on #4242
@madebysid Please see my above comment

[2018-02-27 01:27] dashmug commented on #1669
I'm using Insomnia for this. But will go back to using Postman once this feature is up.

Make it happen guys!

[2018-02-27 03:04] SuperAL commented on #1180
My solution for running some scripts every time a request was sent:
[code]

[2018-02-27 06:23] tarunlalwani commented on #4131
@joseph4tw , I usually use a poor `setTimeout(function(){}, 2000)` kind of a workaround. There is another better way for you to do that is something like below

[code]

Postman does catch for the setTimeout completions. But it just makes the code a bit unclean

[2018-02-27 06:57] harryi3t commented on #4241
@Ali-CFD-Alex @glenpike
We have fixed this internally and this fix will be available in the next release.
Thank you for your continued support :)

[2018-02-27 08:12] kbatyai commented on #2315
Still would be great to have and on-prem collection maintanance, instead of forcing subscription-cloud-model... or at least be honest here about you will never support this because of business goals...

[2018-02-27 10:32] Izidi opened #4248 "Unable to access Build once in Browse Mode"
## App Details:

[code]

## Issue Report:
 1. Did you encounter this recently, or has this bug always been there: Always
 2. Expected behaviour: Should be able to access Build Mode
 3. Screenshots (if applicable)
![image](https://user-images.githubusercontent.com/2879895/36723688-e399b376-1ba8-11e8-90a7-5d3dac0051fc.png)
![image](https://user-images.githubusercontent.com/2879895/36723704-f0c78492-

[2018-02-27 10:38] ghost commented on #4246
Hi Nikolai,
Can you please verify that the authorisation URL called through Postman for authorisation works on a normal browser? You can do this by performing the following steps:

1. Navigate to the app location on your machine.
2. Right click on the icon ---> Show package contents ---> Contents ---> MacOS
3. Right click on Postman executable and open with terminal.
4. Doing this will launch the

[2018-02-27 10:39] avramovic opened #4249 "Desktop app won't sync"
## App Details:

[code]

## Issue Report:
 1. Did you encounter this recently, or has this bug always been there: since moving from chrome to desktop app
 2. Expected behaviour: it should sync
 3. Console logs (http://blog.getpostman.com/2014/01/27/enabling-chrome-developer-tools-inside-postman/ for the Chrome App, View->Toggle Dev Tools for the Mac app):

[code]

 4. Screenshots (if applicable)

[2018-02-27 10:42] Izidi commented on #4248
https://github.com/postmanlabs/postman-app-support/issues/4249 is another bug which has been raised regarding the additional information added to my bug report. Unsure if the syncing issue is affecting the other issues that I am seeing.

[2018-02-27 10:45] sivcan commented on #4248
@Izidi - Thanks for reporting this and sorry for the inconvenience.
I can confirm that this is a known issue and you expect a fix for this soon in the next update.
I'll update you once we release it.

In the mean time, you can try using the workspace switcher on the top to switch to another workspace.

Also, I guess you must have tried restarting the app ?
If not then do so.
Also, try disconnectin

[2018-02-27 10:49] sivcan commented on #4249
@avramovic - Can you try restarting the app ?
Is this issue still happening for you ?

[2018-02-27 10:50] Izidi commented on #4248
@sivcan Thanks for the quick response. This is still occurring on reloading the app. I actually only have a single Workspace and so was just looking to see the new update.
With regards to the syncing issue, it does eventually state that it's syncing but I never saw it going back to being synced although I'm not actually making changes in any of my collections.

[2018-02-27 10:53] vishesh774 commented on #4049
I am having the same issue on the install but in my case after checking the path to the directory, it exists fine.

I am an administrator of the system as well.

[2018-02-27 10:54] sivcan commented on #4248
@Izidi Oh alright, so it says 'Syncing' now or 'Connecting' ?

Also, can you go to the Menu bar and click  'View > Developer > Show DevTools (Shared)'
And post the console logs here ?
![image](https://user-images.githubusercontent.com/12631777/36724959-bf9d0ac2-1bda-11e8-9c25-b452cbda4e6a.png)

Thanks!

[2018-02-27 10:57] avramovic commented on #4249
@sivcan I have restarted it several times so far. I have also restarted it just now, still stuck at connecting

[2018-02-27 10:59] mehanoid commented on #2799
Furthermore - the popup is absolutely useless if you have installed Postman from a repository (e.g. from AUR on ArchLinux)

[2018-02-27 11:01] Izidi commented on #4248
@sivcan sorry, I should have specified. It was saying Syncing. It actually now says In Sync. Below is the console logs as well as a screenshot of the warning and error as I can see it's hard to read the logs:

![image](https://user-images.githubusercontent.com/2879895/36725253-9bbba262-1bad-11e8-876a-8e48f0796019.png)

[2018-02-27 11:04] avramovic commented on #4249
@sivcan It works! I don't know how/why but it popped up a window saying that my session has expired and made me login again and it synced immediately after the login!

[2018-02-27 11:04] #4249 closed, assigned to nobody

[2018-02-27 11:04] Logarathamic commented on #391
![image](https://user-images.githubusercontent.com/36884784/36725360-19772f54-1bdc-11e8-80c3-e7bd97c8d85a.png)

[2018-02-27 11:07] sivcan commented on #4248
@Izidi - Thanks for sharing the logs, will go through them.
Also, since it says 'In Sync' for you now - I am sure you are able to switch to the workspace that you created and switched back to the Build View ?

[2018-02-27 11:08] sivcan commented on #4249
@avramovic - Cool, we'll check on our end if something weird was happening.
Glad that it's resolved for you.

[2018-02-27 11:10] Rhymen commented on #3506
+1 Windows 10
Undo in body is working fine, but if you edit the URL, you have to press CTRL+Z mutiple times and its very laggy. The menu-item Edit/Undo doesn't seem to work at all.

[2018-02-27 11:10] Izidi commented on #4248
@sivcan seems closer to opening but it's stuck on loading. If I attempt to view the Workspace Details, I get shown the following:
![image](https://user-images.githubusercontent.com/2879895/36725615-bea6bebe-1bae-11e8-8fcd-6c741cf03f43.png)

Note that I'm still unable to return back to the Build screen using the menu at the base of the page.

[2018-02-27 11:12] Izidi commented on #4248
@sivcan I'm actually now stuck on the Loading page for the Workspace and have no way of getting back to the Build page without possibly restarting Postman. Hoping that it might load something soon. There's no additional logs shown in the console.
Update:
It seems to have disconnected me and then I could get back to the Build page. Might have timed out on loading the Workspace.

[2018-02-27 11:12] SamvelRaja commented on #4247
@ztrange

Can you update to our latest canary version https://www.getpostman.com/canary and confirm that the issue still exists.

[2018-02-27 11:14] sivcan commented on #4248
@Izidi - Yes so your switcher must be showing 'Loading...' and clicking on the workspace details must be showing this.
Try waiting for sometime, it loads all your data directly from the server.