[2022-07-11 08:45] raqystyle commented on #10823
@ajcastro first of all, thank you for reporting this! If I understood correctly, each test case (like `test_users_index_can_return_list_of_users `) will create a request in the collection folder (`My Project/Users` in the described case)? This way you can have a documentation collection with folders with multiple requests that represent different scenarios (like an empty response, different errors

[2022-07-11 09:59] DannyDainton commented on #11070
Hey @Gittkm

I'm going to close this issue for now, if you are still experiencing the issue we can look at reopening it again, once we received more information.

[2022-07-11 09:59] #11070 closed, assigned to nobody

[2022-07-11 11:02] mrjoesm commented on #1647
@adriancuadrado when I try this, I simply get a `{"requests":[],"responses":[]}` in the resultant `postman-history-export` file, have you ran into that?

[2022-07-11 12:09] adriancuadrado commented on #1647
@mrjoesm I ran the code and it worked for me. Make sure you select _Show DevTools (Current View)_ instead of _Show DevTools (Current Shell)_ under _View_ → _Developer_. Also, my Postman version is 9.22.2. Which is yours? You can check the version in the Gear icon in the top right corner → Release Notes.

[2022-07-11 13:09] ArjunSingh-PM commented on #6609
Closing this as this issue has been resolved.

[2022-07-11 13:09] #6609 closed, assigned to abhijitkane, pankajkumar005, ArjunSingh-PM

[2022-07-11 13:15] VShingala commented on #10045
@mulyi I'll close the issue for now as we are not able to reproduce it but feel free to open it if you're still facing the issue.

[2022-07-11 13:15] #10045 closed, assigned to nobody

[2022-07-11 13:27] VShingala commented on #9296
@fernion This should be fixed now and I wasn't able to reproduce the issue anymore. Could you confirm if it's fixed for you?

[2022-07-11 13:54] adriancuadrado commented on #5817
@numaanashraf

[2022-07-11 13:57] themikeanello opened #11074 "Console Open in Editor Button in Dark Theme"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

The Open in Editor button in the Console window is difficult to see in the dark theme.

### Steps To Reproduce

1. Issue a request.
2. Select the Console.
3. Expand the Results
4. Review the Open in Editor buttons next to the Req

[2022-07-11 15:11] kmcconnell opened #11075 "AWS Signature invalid with createRestrictedDataToken operation (Selling Partner API)"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

We're getting successful calls to the Amazon Selling Partner API operations with the AWS Signature authorization in Postman until we try the `createRestrictedDataToken` operation. In this case, we get an invalid signature error.

[2022-07-11 16:01] ManasaBS22 opened #11076 "Runner percentage is not accurate"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

When I select the 'Runner' option and select some payload to run 100 iterations while executing percentage will be increased according to the number of iterations say when the 10th payload hits it shows 10% like-wise.

But after

[2022-07-11 16:45] #11076 closed, assigned to nobody

[2022-07-11 17:40] EngrMikolo commented on #6354
try the solution here https://stackoverflow.com/questions/65793225/postman-error-unable-to-verify-the-first-certificate-when-try-to-get-from-my
 That worked for me

[2022-07-11 18:17] dat-producepay commented on #8231
@giridharvc7 My use case is exactly as described by @AndreasHuber-CH : https://github.com/postmanlabs/postman-app-support/issues/8231#issuecomment-1180106429

I'm guessing most people on this thread have the same issue.

[2022-07-11 18:47] HarpreetKaur333 commented on #6354
No, it does not work for me

[2022-07-12 02:42] letwang commented on #2701
2022 and no http/2.0!!

[2022-07-12 05:21] cvietor commented on #8231
Same here, use case as described by @AndreasHuber-CH

[2022-07-12 06:25] shubhbhargav commented on #11071
@jlcanale Can you please confirm the domain for which the cookies are being set? I think most of the cookies are being set on .boardgamegeek.com (preceding dot). This seems to the issue on our end.

[2022-07-12 06:41] shubhbhargav commented on #11071
@jlcanale I missed one thing here. I see that the cookies are being repeated in the response with the second instance of the same cookies having MaxAge as 0. That is causing the issue here. Is that intended?

---
For reference:

**This works:**
GET request on the following URL:
https://httpbin.org/response-headers?Set-Cookie=bggpassword=REDACTED; expires=Sun, 07-Aug-2022 17:48:24 GMT; Max-Age=2592

[2022-07-12 08:41] akshay-kulkarni-03 commented on #10675
@zoltang01 could you explain your use-case a little bit better. You can always convert private workspace into a team workspace if needed or provide access to your private workspace to more people. You can check this learning center [doc](https://learning.postman.com/docs/collaborating-in-postman/using-workspaces/managing-workspaces/#changing-workspace-visibility) to know more about updating visibi

[2022-07-12 08:41] #10675 closed, assigned to nobody

[2022-07-12 08:48] akshay-kulkarni-03 commented on #10156
@Swapnil-getpostman could you let us know what type of user/team need this. The enterprise team can opt for super admin functionality as mentioned [here](https://blog.postman.com/introducing-the-super-admin-role/) through which the super admin can view all the private workspaces present in the team. Could you elaborate customers use-case a little bit better? I don't think we plan to enable this fu

[2022-07-12 10:26] #9296 closed, assigned to nobody

[2022-07-12 10:56] DannyDainton commented on #5150
Hey @Raja-Simha - Is this still a valid issue?

We have released multiple changes with the Postman editor since this was initially created.

[2022-07-12 11:14] DannyDainton commented on #6375
Hey @akshay-kulkarni-03

Are we able to close this out now?

[2022-07-12 11:16] #6407 closed, assigned to ankit-m

[2022-07-12 11:52] felix-mos commented on #8920
+1

[2022-07-12 13:20] DannyDainton commented on #7137
The flow in the steps no longer exists in the latest version of the platform but if you create a monitor from a History request, It creates a new Collection containing the request - This has the following Test:

[code]
This test would never fail and show a pass each time it's run.

[2022-07-12 14:44] bryan-diaz-kushki opened #11077 ""unable to delete folder" message when deleting folders in a collection"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

Postman is not allowing folders to be deleted, the legend "unable to delete folder" appears after a few seconds of having deleted any folder.

* This happens in both web and desktop apps
* This happens across multiple collections

[2022-07-12 15:18] shubhbhargav commented on #11077
Hey @bryan-diaz-kushki, can you share some more info with us regarding the collection?

- Is this a new collection or an existing collection?
- What's the approximate size of the folder which is expected to be deleted? (say 1000 requests in the folder)

In addition, if you could share a screen recording of the issue, it would be really helpful to debug further.

[2022-07-12 16:06] loopDelicious commented on #5174
This is the parent collection. looks like the tests have been updated - https://www.postman.com/postman/workspace/published-postman-templates/collection/631643-f695cab7-6878-eb55-7943-ad88e1ccfd65

[2022-07-12 16:06] #5174 closed, assigned to nobody

[2022-07-12 16:33] tbeech-dsg opened #11078 "New Integration Request - Hashi Vault"
### Describe your current workflow

We use postman for testing APIs, however, when it comes to secrets for service accounts used to access certain APIs we largely have to rely on sharing environments where the recipient of the export has to go fetch the secrets and edit the environment to add back in the various secrets that are required.

### Describe your ideal workflow

Ideally, Postman would i

[2022-07-12 16:34] shimarisuu opened #11079 "Add HTTP response status codes to "Copy all logs to clipboard" functionality in console"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request and I know that duplicates will be closed

### Is your feature request related to a problem?

No.

### Describe the solution you'd like

It would be great to see http response status codes in copied console log as it would make debugging easier when sharing logs with other people.

[2022-07-12 16:43] bryan-diaz-kushki commented on #11077
Is an existing collection (public)

There are about 17 subfolders and 71 request

On Tue, Jul 12, 2022 at 10:18 AM shubhbhargav ***@***.***>
wrote:

[2022-07-12 18:56] claireriley commented on #10839
@akshay-kulkarni-03 @cyrielle-hada wrong C name 😄

[2022-07-12 22:45] shubhbhargav commented on #11077
Got it. Can you please share the link of the collection (assuming it is publicly accessible)? Also do let me know the folder that you are trying to delete.

In-case you would like to share this info with us on a separate channel, please reach out to us at `help@postman.com`.

[2022-07-13 01:44] Marto32 commented on #2801
+1 any update on this?

[2022-07-13 05:18] asirota commented on #6269
We had a developer accidentally delete all our environments and it was fortunate we had one backed up to JSON. It can take hours of time to get an environment just right and recreating it can be a huge pain. Even introducing automatic backup to Git or other repos via integration would be better than nothing.

[2022-07-13 05:49] vedkribhu commented on #11077
@bryan-diaz-kushki can you try deleting this folder in bulk delete? Select some other folder along with this folder and try deleting both.

[2022-07-13 05:52] coditva commented on #8302
Update: The bug has been identified. The issue is fixed and will be rolled out with v9.25 release in the next few days.

[2022-07-13 07:38] vishnuprakash9845 opened #11080 "Currently Not able to use special characters in Request tests tab and its displaying error"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request and I know that duplicates will be closed

### Is your feature request related to a problem?

So I am getting the response like this.

![image](https://user-images.githubusercontent.com/24207575/178676735-0e880e07-370d-481c-b982-27e1f27c0176.png)

 I want the value underlined and

[2022-07-13 07:42] vishnuprakash9845 opened #11081 "Currently Not able to use special characters in Request tests tab and its displaying error"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

I am getting the response like this.

![image](https://user-images.githubusercontent.com/24207575/178678138-eef5da3c-4598-4178-89c1-2edd86f63849.png)

I want the value underlined and set to global variable. I can use below json p

[2022-07-13 08:20] shashankawasthi88 commented on #11078
@tbeech-dsg Thanks for raising the request. We shall look into the integration and update the thread as and when we have anything to share.

[2022-07-13 08:48] DannyDainton commented on #11080
Duplicate of https://github.com/postmanlabs/postman-app-support/issues/11081

[2022-07-13 08:48] #11080 closed, assigned to nobody

[2022-07-13 08:54] DannyDainton commented on #11081
Hey @vishnuprakash9845

`JSONpath` isn't part of the Postman sandbox environment so that's a valid error in this context.

You would need to directly access the `value` by specifically adding the `key` to the reference path, using bracket notation.

[code]

[2022-07-13 10:29] Overrided commented on #7294
Any updates on this issue?
Windows 11 Pro, tried with `Hardware Acceleration` both `on` and `off`, Postman still would attemt to fry my laptop)

![image](https://user-images.githubusercontent.com/18598736/178712864-c61481a4-c6d9-4206-89ea-39835cd872a9.png)

[2022-07-13 11:26] jansabat commented on #8195
+1

[2022-07-13 11:26] dimitargg92 opened #11082 "Unable to set collection variables"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

When trying to set collection variable and then use it in other requests results in error(
undefined). This issue is not happening all the time. For example, I already had 10-15 collection variables set successfully, when this er

[2022-07-13 11:26] meizhuhanxiang commented on #8195
您好，您的来信已经收到--郭广川

[2022-07-13 11:33] DannyDainton commented on #11082
Hey @dimitargg92

There are no restrictions on the number of variables, at any scope, that you can have.

Could you please provide some visual examples of the behaviour you're seeing? A short recording showing the full app window would help us to understand and see the problem better.

Any test scripts that you're using or how you're using the variables in other requests would help too.

[2022-07-13 12:55] #11081 closed, assigned to nobody

[2022-07-13 13:02] DannyDainton commented on #11081
The syntax isn't correct on your second screenshot, it should be this:

[code]

[2022-07-13 13:04] vishnuprakash9845 commented on #11081
It worked.

![image](https://user-images.githubusercontent.com/24207575/178740206-9f411592-d251-4067-9358-2d74dd7763c0.png)

@DannyDainton Thank you.

[2022-07-13 14:28] DannyDainton commented on #11082
Unfortunately, those 2 lines of code in isolation don't really mean anything. We don't have the context of what `profiles` is referencing.

Can you provide the full script that you have and the way that you're using this in the requests?

Providing a basic scaled-down Collection is probably going to be the easiest way for us to see that running locally.

[2022-07-13 15:06] RalfPhilipsen opened #11083 "Bearer Token no longer works"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

Bearer Tokens are no longer added to the header. This used to work in older versions, but it is no longer possible to use 'Bearer Token' authorization.

### Steps To Reproduce

1. Create a new call
2. Click Authorization
3. Click

[2022-07-13 15:09] #11083 closed, assigned to nobody

[2022-07-13 17:45] vizakgh commented on #5980
always after changing request url (try to set "http://localhost:port/...")

[2022-07-13 18:40] m4k331 commented on #5817
my eyes are still waiting for this feature 🙏

[2022-07-13 20:10] cumulus-william commented on #7150
Is there an ETA on this feature being rolled out? I need to join a new team so if this feature is a few days away I'll wait.

[2022-07-13 22:27] ValeriyMaslenikov opened #11084 "In the HTTP code snippet generator multipart/form-data boundaries are wrong"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

In a very short way.  By the specification for the `Content-Type: multipart/form-data` we should specify boundary marker. Once this marker is used in the body, it should contain two additional dashes in the beginning of the marke

[2022-07-14 00:19] ThaGeege commented on #8929
Its not just a great feature Im shocked its not available. So many basic things are complicated without it and we have to find workarounds. Most basic common example ever:

Loop through a CSV and perform some rest api call every iteration.
- First script is a call to a /token endpoint to get an oauth token.
- Second script calls some api method.

I dont want to generate a new token every time so n

[2022-07-14 01:22] jlcanale commented on #11071
@shubhbhargav Yea I'm not really sure.  This is all an undocumented API, I'm just trying to consume it.  What I know is that if hit the same URL via a browser, those cookies will be set.  I just wasn't sure why there was a difference between browser behavior and postman behavior.

For what it's worth, URLSession from foundation doesn't set those cookies either.  I didn't know if it was something t

[2022-07-14 01:25] shubhbhargav commented on #11071
Ah, no worries @jlcanale. If you don't mind, can you share the collection / sample request for us to debug further around the issue (at least the differences b/w browser and how we treat cookies)?
If you would like to share the collection privately with us, please reach out to us at `help@postman.com`.

[2022-07-14 01:27] jlcanale commented on #11071
@shubhbhargav Sure, I'll fire off an email to help with the collection in it and I'll reference the issue.

[2022-07-14 04:43] akshay-kulkarni-03 commented on #10839
@cyrielle-hada would you be able to share a video or something about the issue you have been facing? This will help us triage this faster.

[2022-07-14 07:44] akshay-kulkarni-03 commented on #6375
@ankit-m thanks for reporting this! I was unable to reproduce this. I tried the below steps:

- Opened the workspace overview
- Clicked on a collection which also opened documentation for the collection
- Clicked on back browser button and I went back to the workspace overview page.

Can you let us know if you're still facing the issue? If yes, what are the steps you tried so we can try to reprodu

[2022-07-14 09:17] sooohka commented on #8322
+1

[2022-07-14 10:30] passcodex commented on #10379
The same problem was encountered
[code]
Part of log
[code]

[2022-07-14 10:56] bleghrib-CLGX opened #11085 "Error: Parse Error: Invalid header value char"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

start happening after getting the last update of postman 9.24.2

### Steps To Reproduce

Create a post request and execute it, it happens for some requests only

### Screenshots or Videos

![image](https://user-images.githubuserc

[2022-07-14 11:37] Misha999777 commented on #5817
+1

[2022-07-14 12:41] gabrielasil commented on #8322
+1

[2022-07-14 13:36] kartikjain26 commented on #11017
@dcdraper Could you write to us on [https://support.postman.com/hc/en-us/requests/new](url) with specifics about your user and collection details since this issue does not seem to be readily reproducible.

[2022-07-14 17:09] arlemi commented on #10254
@lgg There is no "always online requirement" as I've mentioned in my previous comment: https://github.com/postmanlabs/postman-app-support/issues/10254#issuecomment-1015649165

[2022-07-14 18:59] ferrumie commented on #9072
Currently facing this issue

[2022-07-14 19:12] BrianJonesNMI opened #11086 "Developer can not run all requests in a folder but can a collection. Admin role required for run at folder level"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

I have had to make all my staff Admins because they can not run all requests in a folder but they can a collection.

In any given collection we have folder, the folders are different aspects of the collections purpose. Folder A c

[2022-07-14 20:32] bogmarko commented on #10894
Hi, I'm using Windows 10 64bit.
Unfortunately, I can't record this since I'm not sure what triggers it. Very random situation.
Since my previous post, I'm using now two windows with different workspaces.
I'm tired of copy/paste job due to large number of folders, subfolders, scripts in requests etc. You will understand me.
Please investigate. Just open few new windows for the same workspace and tr

[2022-07-15 01:41] mholttech commented on #9409
I'm also running into this same issue. Would love to be able to specify client_assertion

[2022-07-15 05:33] benjamin-lang commented on #10254
@arlemi That is only partially true, I understand the business model with the move to the cloud and it's really great for private usage or small companies. But when it comes to big companies with strict regulatory requirements it's simply not allowed to use a tool, which syncs your internal api data in a cloud.

We for example, would really like to use postman within our company, but as long as th

[2022-07-15 05:39] postman-support commented on #11086
Hi @BrianJonesNMI,
Thank you for reaching out.

I understand that this is not the expected behavior as you are able to run a collection but unable to run a folder, Happy to assist!

To help us replicate this behavior, could you please answer the following questions:

1. May I know if it is happening with a specific collection/ all of the collections?
2. May I know your role in the workspace where

[2022-07-15 06:13] kartikjain26 commented on #10989
@seelaman We were unable to reproduce this issue on our end.
Can you write to us at [https://support.postman.com/hc/en-us/requests/new](url) with your user and collection details.

[2022-07-15 07:15] michaelyohanes commented on #285
+1

[2022-07-15 08:22] postman-support commented on #11086
Hi @BrianJonesNMI,

Additionally, could you also check if you are able to run the folder from the workbench?
Ref screenshot:
 ![](https://postman.zendesk.com/attachments/token/w4dDBRUDrIKNCY7ohGwiwvMmo/?name=image.png)

via @Lincimary | Postman Support

[2022-07-15 13:23] cgontario commented on #9409
@williamdphillips, I got the Postman desktop client (v9.24.2) working using Auth Code with PKCE and wanted to see if this works for you too:

1. Make sure that you have the desktop client's Redirect URI under "Mobile and desktop applications" in the App Registration's Authentication blade: https://oauth.pstmn.io/v1/callback
2. Leave Client Secret empty in Postman. Just to be sure, here's what my A

[2022-07-15 14:52] raghumurthy-jayandran commented on #10003
@charlesritchea  As per yaml's [official spec](https://yaml.org/spec/1.2.2/#61-indentation-spaces?~::~text=In%20general,%20indentation%20is%20defined%20as%20a%20zero%20or%20more%20space) you are allowed to use zero or more space characters. If you prefer to use two spaces for indentation you always have the flexibility to configure this within postman by navigating to _**Setting icon > General > E

[2022-07-15 14:52] #10003 closed, assigned to nobody

[2022-07-15 14:57] shubham-solytics commented on #5040
+1

[2022-07-15 16:55] dlysenko commented on #7083
+1 for this feature

[2022-07-15 19:47] djeraseit commented on #6452
I have a Yubico hardware token and Google Authenticator on my mobile. I also use SMS.

I read the _ebook_ about wanting to be the leader in the world of API's.

**Not having a secure website is absolutely horrific.**

In the mean time. Please do not login to the Postman site from:

1) Behind a proxy
2) Shared computer
3) Computer infected with malware
4) Computer with a key logger
5) Compromised d

[2022-07-16 00:47] blindstuff commented on #8929
+1 with how complete Postman is I'm surprised this isn't an option

[2022-07-17 00:45] shubhbhargav commented on #11071
@jlcanale I checked out the collection and the issue seems to be the same as we anticipated earlier. While it seems to be the issue on the server's end (the one that is being consumed), I do understand that the product should somehow indicate the issue with duplicated headers of Set-Cookie and provide some action. I am marking this as a feature request for now.

[2022-07-17 00:55] miron commented on #10852
@akshay-kulkarni-03 It gets confusing pretty quick, especially if the names match your own.

[2022-07-18 02:28] Cordifhyura commented on #10976
Same in 9.19.0, I can import the folder with drag-and-hold, but it can't be triggered by click "Choose folder from your computer"

[2022-07-18 06:58] rezikovka commented on #10610
I have same issue.
I followed steps described [here]( https://github.com/postmanlabs/postman-app-support/issues/10610#issuecomment-1023127160)  but it doesn't help.

[2022-07-18 07:04] agn-7 opened #11087 "Could not login to google account via postman to preview google auth"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

I have the same issue which is raised in this StackOverflow [post](https://stackoverflow.com/questions/68346231/could-not-login-to-google-account-via-postman-to-preview-firebase-success-respon):

In fact, I can't use Postman to c

[2022-07-18 07:05] rezikovka commented on #10610
For now the solution for me is to download tar.gz archive from your web-site and to use it. Instalation through the snap doesn't work

[2022-07-18 07:10] lorand-horvath opened #11088 "Latest reported download version of the app is out of sync with the actual version"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

The Postman app downloads page `https://www.postman.com/downloads/` serves file names with the version different from the actual version of the downloaded app.
For example, if I download the latest app now, I will get a file name

[2022-07-18 07:21] fjuza1 commented on #11082
+ collection variables dont get overwriten with new values.

[2022-07-18 08:34] ranjit-singh-eva-bbsr commented on #5943
It's very difficult when you added something that has been edited by someone else and you are just left with no option but to go back. Please give the option to have multi versions on each change or allow it to execute for example.

[2022-07-18 08:38] DannyDainton commented on #11082
@fjuza1 Is that a different issue? Is that related to this issue?

As an isolated comment without context, not sure what we can do with that.

---

@dimitargg92 Do you have the rest of the information that we require in order to debug your reported issue?

[2022-07-18 08:41] fjuza1 commented on #11082
yes related. When old values of variables in collection are not updated with new values at times

[2022-07-18 08:42] DannyDainton commented on #11061
@5olitude As we have had no response in the last 10 days, I will close this out.

If you can provide a screen recording, similar to the one @codenirvana created, showing the issue from your side it will help us investigate the problem.

[2022-07-18 08:42] #11061 closed, assigned to codenirvana

[2022-07-18 08:44] DannyDainton commented on #11082
@fjuza1 Can you create a new issue please, follow the template and provide all the details of what you're seeing?

As you're describing a UI-based issue, a screen recording or images will help us to see what you can see.

[2022-07-18 08:51] DannyDainton commented on #11085
Hey @bleghrib-CLGX

We're going to be unable to create this issue on our side, given the information that you have provided.

Can you update the issue and provide a repeatable set of steps, please? Without that, it's going to be difficult to see this happening.

The issue seems to relate to a header that's been provided for that specific request, do you have a copy or screenshot of these? If this

[2022-07-18 08:58] fjuza1 opened #11089 "Collection variables are not being rewriten with new values"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

ID for request: 11;
![image](https://user-images.githubusercontent.com/104192489/179476610-c8a41dd1-74df-4580-8bea-26b0e81752dc.png)

VAriable in collection with name should have been rewritten, but is not. JSON path was written

[2022-07-18 09:13] fjuza1 opened #11090 "Validating against schema of body"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request and I know that duplicates will be closed

### Is your feature request related to a problem?

1. Name of my custom name  of a  request get re-written
2. Values of body get re-written, even though, nothing new was added.

### Describe the solution you'd like

1. If name of request

[2022-07-18 09:51] DannyDainton commented on #11088
Hey @lorand-horvath

Could you also provide a screenshot of the `About` section in the app's settings model, please?

[2022-07-18 10:18] arlemi commented on #10254
@benjamin-lang I'd recommend reaching out to sales and have a chat anyway, we already work with many big companies (cf [our case studies](https://www.postman.com/case-studies/) for a small subset) and might be able to get something to work for you too. 😄

[2022-07-18 10:23] lorand-horvath commented on #11088
@DannyDainton I'm not sure whether that has much to do or would help with the issue I reported, so I will try to reformulate the problem.
So if I go to `https://www.postman.com/downloads/` and click to download the Windows 64-bit App, the browser will download from `https://dl.pstmn.io/download/latest/win64` the file named `Postman-win64-9.24.2-Setup.exe`, which is supposed to be version 9.24.2.
B

[2022-07-18 10:30] DannyDainton commented on #11087
Hey @agn-7

Not really sure what you're trying to do here?

The image shows the rendered result of that specific request, in the `Preview` tab. If you were to view this in the `Pretty` or `raw` tabs, it would show the HTML for that page.

This is a static visual representation of the response and not something that is going to perform additional calls to log you into anything.

[2022-07-18 10:33] Javitel opened #11091 "Test Script access Examples"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request and I know that duplicates will be closed

### Is your feature request related to a problem?

I was trying to validate a response against a big JSON object to be managed by the test team

### Describe the solution you'd like

I was thinking maybe would be a good idea to be able to

[2022-07-18 10:36] DannyDainton commented on #11088
I asked for the screenshot of that app's `About` screen, due to us having different versions of the app platform and the UI within that version. It was more to provide more context and information to your reported issue.

This issue is the same/similar to the one reported for the MasOS version - https://github.com/postmanlabs/postman-app-support/issues/11068

[2022-07-18 10:49] DannyDainton commented on #11089
Hey @fjuza1

It's difficult to follow the steps you have to create this issue.

Where is this set and is there more to the script than just this line?

[code]

If the value comes from the response to a request, how are you collecting that information within a Folder pre-request?

[2022-07-18 11:38] akshay-kulkarni-03 commented on #11003
@dougleenhouts thanks for reporting this! We are planning to look at activity feed holistically sometime end of this year and will take this use-case/feature into consideration!

[2022-07-18 12:17] ArjunSingh-PM commented on #7150
@cumulus-william Could you please raise a request [here](https://support.postman.com/hc/en-us/requests/new) or reach out to us directly at help@postman.com with your account details? We will be happy to enable this feature for you at the earliest.

[2022-07-18 13:05] lorand-horvath commented on #11088
Alright, but I still don't understand what the app's version has to do with the issue at hand. The file is just badly named. Instead of having the real/actual version present in its name, i.e. 9.22.2, it is named wrongly 9.24.2, that's all there is to it. And yes, the MacOS version problem is basically the same as I reported here for Windows.

Anyway, here's the screenshot from inside the app's Ab

[2022-07-18 13:40] VShingala commented on #9142
@michael-molina-by This issue should be addressed now. Can you let us know if you're still able to reproduce it?

[2022-07-18 13:41] mmmasent opened #11092 "Seamless Postman "Cloud" and Scratchpad experience (or potential scratchpad removal)"
### Describe your current workflow

* Use Normal workspace, i.e. default My Workspace (which has online capability, if desired/needed)
* Internet disconnects for some reason or another (OR potentially really slow internet due to internet provider throttling)
* Postman no longer functions due to no longer being connected to "Cloud" first mentality

### Describe your ideal workflow

* Use Normal wor

[2022-07-18 13:44] mmmasent commented on #10254
Based on your insistence that scratchpad must be used, and is the only solution considered by postman, I've created a separate issue in regards to a seamless scratch pad and "cloud" workspace experience. Thank you for your time/comments.

[2022-07-18 14:14] VShingala commented on #10710
@cw-20020752 Thanks for reporting the issue! We're able to reproduce the issue and will be working on it. Will updated this thread once the fix is available soon.

[2022-07-18 14:57] ttimt96 commented on #3312
Any solution to clearing HttpOnly Secure cookie after request?

[2022-07-18 15:08] #11087 closed, assigned to nobody

[2022-07-18 15:38] giridharvc7 commented on #2452
Sorry folks this is getting delayed - we will keep you posted.

[2022-07-18 17:04] jbromer opened #11093 "Allow Re-run only for iterations that have failed or have an error"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request and I know that duplicates will be closed

### Is your feature request related to a problem?

I often use Runner in Postman to update large batches of information in our ERP or I might use it to migrate historical records into a new application which will eventually be integrated.

[2022-07-18 17:31] gaurangpdl opened #11094 "Workspaces does not get loaded"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

I installed latest postman version and It is not able to load workspaces. I am able to view my workspace in online/browser postman.

Issue is only for desktop app.

below is logs for the same.

`
[56531][1658164690487][requester]

[2022-07-18 18:45] zach-lumafield opened #11095 "Ability to include a path variables to WebSocket requests."
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request and I know that duplicates will be closed

### Is your feature request related to a problem?

It is not.

### Describe the solution you'd like

Just like the normal request when you have a path variable like :id have a field show up where it can be formatted.

### Describe alterna

[2022-07-18 19:02] weissza-lum commented on #11095
<img width="271" alt="Screen Shot 2022-07-18 at 3 01 19 PM" src="https://user-images.githubusercontent.com/109092731/179584201-415a8be3-1de4-4491-885d-76c0045c6204.png">

Sure instead of having manually replace :put-project-id-here add something like
<img width="893" alt="Screen Shot 2022-07-18 at 3 01 56 PM" src="https://user-images.githubusercontent.com/109092731/179584714-04e21c2f-ce99-48ff-8c0

[2022-07-18 20:57] weissza-lum commented on #11095
This would be an improvement to websockets.

[2022-07-18 21:10] twb2077 opened #11096 ""Save All" button for open tabs"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request and I know that duplicates will be closed

### Is your feature request related to a problem?

No

### Describe the solution you'd like

Please provide a "Save All" button for open tabs in the dropdown shown in the screenshot
![2022-07-18_10-39-06](https://user-images.githubusercon

[2022-07-18 21:32] #11096 closed, assigned to nobody

[2022-07-18 23:48] vinch00 commented on #8480
+1 Please prioritize this feature

[2022-07-19 01:37] basrodriguezr commented on #6556
in your server.js you may add a middleware permiting the fileUpload use in your application
![image](https://user-images.githubusercontent.com/54077863/179645288-1c6898c1-c58e-407f-bb16-fd882e224b6b.png)

[2022-07-19 02:53] gngsn commented on #2701
+1

[2022-07-19 04:40] agn-7 commented on #11087
Thank you for the clarification. I also added the use case in the context.

[2022-07-19 05:21] sseenivasan89 opened #11097 "When we zoom out the postman app under view the header section of setting and notification icons are not responsive"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

in Postman app version **v9.25.0**
when i set the **zoom out (ctrl+-)** the header section of setting and notification icons are not working when i click those buttons

### Steps To Reproduce

1. Open postman application
2. Goto

[2022-07-19 05:34] sseenivasan89 commented on #6005
Hi @m3dbedb

I still could see there is an issue with clearing all history, it take while to clear all the history even though it has very few

[2022-07-19 05:40] sseenivasan89 opened #11098 "pm-icon on the header section is not visible clearly in postman web"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

**pm-icon** on the invite button on the header section is not visible clearly in postman web

### Steps To Reproduce

1. Launch postman web
2. Check the **pm-icon** on the **invite** button
3. Check the pm-icon is clearly visible

[2022-07-19 06:05] akshay-kulkarni-03 commented on #11094
@gaurangpdl thanks for reporting this! I was unable to reproduce this issue as I also updated to latest 9.25.1 app version and workspace seems to be loading for me. Can you try to close the app and then open it again to see if its still happening?

[2022-07-19 06:09] demdante opened #11099 "Authorization configured for collections not correctly inherited by requests within collections"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

I recently created a collection for the [Open Secrets API](https://www.opensecrets.org/open-data/api), and configured the api key which the api uses for authorization under the "authorization" tab of the collection, since I want

[2022-07-19 06:12] fjuza1 commented on #11089
There are multiple lines of test scripts for diffrent requests within one folder(folder is the location)

[2022-07-19 06:16] jlpoveda-jt commented on #10973
Hello there! Any update on this? Thanks!

[2022-07-19 06:42] sharooksubana commented on #10533
hi @codenirvana, I just updated the postman, and now it's working but I wanted to know what exact changes were done are you internally passing the postman certificate for establishing a secure connection?

[2022-07-19 07:31] DannyDainton commented on #11089
Have you tried isolating the failing line of code?

Does it set the correct value when applied to the test section of that specific request?

Is it correctly setting all of those values?

You're not logging the error of the try/catch block anywhere, have you tried logging that to the console to see if anything is happening?

[2022-07-19 07:59] fjuza1 commented on #11089
I get this error
![image](https://user-images.githubusercontent.com/104192489/179697808-00120432-c1c3-45b4-8eb4-d39d62b5dc7c.png)
So I cannot have multiple json paths of diffrent requests, why?

I applied dry principle, so I would not have diffrent json paths in diffrent folders

[2022-07-19 08:13] DeeplySheeply commented on #5222
+1

[2022-07-19 08:56] DannyDainton commented on #11089
The value is `undefined` when the script is run. This would work for each request `const x = pm.response.json()` as they all have a JSON response body but each response looks like it has a different structure.

You have this set at the Collection level in the Tests section, which means it runs after _every_ request in the collection. You have a block of different references relating to different r

[2022-07-19 09:10] SahilChoudhary22 commented on #7817
Hi @paulocoutinhox, just went through your issue.

`cURL` generated by Codegen is appropriate because as @someshkoli [mentioned](https://github.com/postmanlabs/postman-app-support/issues/7817#issuecomment-636344279) on the issue thread, if backslash are added to the JSON body, it'll alter the actual body of the request.

Therefore, the `cURL` generated is correct and the issue that you're facing i

[2022-07-19 09:10] #7817 closed, assigned to SahilChoudhary22

[2022-07-19 09:29] DannyDainton commented on #11098
Hey @sseenivasan89

I'm unable to see this happening on my account
<img width="1334" alt="image" src="https://user-images.githubusercontent.com/17089546/179717179-4e9a2004-a402-41c6-b39d-c8772ffb4a84.png">

However, I am using a mac. 🤔 Are you using a specific browser or is the screen a certain size?

[2022-07-19 09:42] NiklasBr opened #11100 "Please reopen #8101"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

I would like to have #8101 opened again.

### Steps To Reproduce

1. Read #8101 ;)

### Screenshots or Videos

See #8101

### Operating System

See #8101

### Postman Version

See #8101

### Postman Platform

Postman App

### Add

[2022-07-19 10:03] DannyDainton commented on #8101
I was finally able to reproduce this but only when using the 3rd party editor you linked. You mentioned that this was causing issues when attaching items to Slack, etc can you provide examples of that behaviour, please?

[2022-07-19 10:05] #11100 closed, assigned to nobody

[2022-07-19 10:15] sseenivasan89 commented on #11098
Hi @DannyDainton,

please find the details here (the pm-icon (human icon) on my screen is not in white color like what i see on your screen)

![image](https://user-images.githubusercontent.com/44080743/179726685-b00cc6d1-474e-4d1c-8f4c-b26916ffad47.png)

[2022-07-19 10:28] fjuza1 commented on #11089
You would need to either add logic to check that the reference exists before trying to set it or split the block up and apply that at the folder level of those specific groups of requests.

But how?

[2022-07-19 10:29] NiklasBr commented on #8101
Thanks for re-opening this. Here are two examples from Outlook and Teams.

![image](https://user-images.githubusercontent.com/279826/179726741-9e186de8-8f24-4722-b0bb-591fec8ac387.png)

Note that the default font in Outlook is Verdana 11pt.

Then paste the copied GET text it detects it as a link (which is understandable), but changes the font to `Helvetica 12px` (9pt is about 12px) which is set in

[2022-07-19 10:33] #11089 closed, assigned to nobody

[2022-07-19 10:34] fjuza1 commented on #11089
Ok, I will

[2022-07-19 10:36] DannyDainton commented on #11098
I ask @arlemi to check this on his Windows machine, he's not seeing the same thing.

![image](https://user-images.githubusercontent.com/17089546/179730533-412f3f67-514e-4b2e-b731-fb6f2430301a.png)

Can you do a hard reset or clear the cache, to see if that helps here. Not really what else to suggest 🤔

[2022-07-19 12:04] sladjo commented on #10605
Please implement this feature. I don't know how many times a day I click it off because it bothers me so much.

[2022-07-19 12:30] sseenivasan89 commented on #11098
@DannyDainton - i cleared cache and reset the browser setting and tried and i could see the same in thing in chrome but its look normal in other browsers i tried

[2022-07-19 13:04] cnjack commented on #10934
@codenirvana I found the proxy is working now

[2022-07-19 13:09] Dhembla commented on #10973
@DSinghXM I tried body matching for content-Type as application/x-www-form-urlencoded and it is working as expected. You can check the video for the same [here](https://drive.google.com/file/d/1cZCeNXFjHafQLspTFA5upreHuLmzkzY_/view?usp=sharing).
Can you please check if you are adding the content-type header in examples?

[2022-07-19 13:52] giridharvc7 commented on #8066
@timothyhoffmann Can you confirm if you still face this issue?
When you request a "Generate New Access Token", you'll be shown this screen on the Postman app that lets you know that token generation is in progress.
<img width="619" alt="Screenshot 2022-07-19 at 7 19 40 PM" src="https://user-images.githubusercontent.com/1040583/179767263-aa91fa52-3613-4f4e-8c3e-c8c0cc17b4ae.png">

Closing the ticke

[2022-07-19 13:52] #8066 closed, assigned to giridharvc7, vkaegis

[2022-07-19 13:54] gaurangpdl commented on #11094
I have closed multiple times and re-opened. I have uninstalled and  re-installed application still the same issue.

[2022-07-19 15:16] quintafeira opened #11101 "Postman deletes all collections and environment when disk space is low"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

Today I opened Postman and for my surprise, all my collections were deleted. I searched the web, found some possible solutions to restore everything, but nothing worked for me. Then I found a backup in ~/.config/Postman/ and rest

[2022-07-19 15:47] VaishnaviChallaPostman commented on #10954
Hey @k98kurz,
Hope you are doing good!

If you are still facing this issue, could you please submit a ticket here: https://support.postman.com/hc/en-us/requests/new/ with your OpenAPI specification and collection with us if possible, to help us replicate it on our end?
Please mention the GitHub thread number in the subject to help us identify your ticket.
Thanks!

[2022-07-19 16:37] NA-Dev commented on #11075
Same issue for me. I am a vendor finding it impossible to get reports endpoints working. It doesn't help that the documentation provided postman tests don't work either.

[2022-07-19 19:59] Kupie commented on #9488
Guess I'm using an alternative, Postman is a bloated piece of crap now

[2022-07-19 20:05] #10934 closed, assigned to codenirvana

[2022-07-19 23:12] Nyceane commented on #10020
This does not work, I am facing a lot of problems where --data-raw isn't being consumed where --data is.  So please give us an option of removing '-raw' part of '--data-raw'.  Currently I have to manually remove it and run it under terminal which is very exhausting.

[2022-07-20 04:36] jaruyot commented on #3561
I'm surprised that this feature request has not been prioritized considering it was submitted 4 years and 10 months ago. For my use case I have over a hundred variables and if you need to change the value of one variable, it's very hard to find. Navigating to the environment tab there's no search feature and one might think that the variable list is ordered, but it's not. The workaround is to expo

[2022-07-20 04:50] VShingala commented on #10916
@boylec Issue seems to be with the Specification provided. If you take a look at `GuestCheckoutRequest` schema here, there are 2 required properties mentioned here named `creditCardPaymentProfileId` and `shippingAddressId`, but under `properties` no definition for them is provided.

This makes it an invalid schema as any required field should have their definition mentioned. So validator reports c

[2022-07-20 04:50] #10916 closed, assigned to nobody

[2022-07-20 05:19] ankitjaggi commented on #11032
@alukycode We are planning on a few improvements to the merging interface which should solve this issue as well. I'll keep you updated on this issue whenever I have updates.

[2022-07-20 05:56] postman-support commented on #11086
Hi hello,

Just letting you know I’m still here so feel free to give me a shout if you’re still running into any issues.
via @Lincimary | Postman Support

[2022-07-20 06:25] HasanAlyazidi commented on #5302
Thank you all for the new title bar on the dark mode

[2022-07-20 07:01] darko-da opened #11102 "Can't import a .proto file if a message's field is called `constructor`"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

When importing a `.proto` file in which there is a message definition containing a field with the name `constructor`, the import fails with the error message

This issue also persists if I instead create a Protobuf API definition

[2022-07-20 08:01] LZapiter commented on #10092
Hello, so what happened here? It's been a year and I just want to know if there are any updates, or at least any plugins that I can install for this feature?

[2022-07-20 08:48] arlemi commented on #5302
@HasanAlyazidi You beat us to it!

For everyone else in the thread, with the latest version of Postman (9.25.0) the toolbar is now integrated in the app which means it now adheres to the theme you have selected. Update and embrace the darkness! 🕶️

![image](https://user-images.githubusercontent.com/5029719/179939489-a6cf8a3f-6ecc-4de5-a94d-d6a4938b1013.png)

[2022-07-20 09:10] shashankawasthi88 commented on #9895
Closing this for now. @fernadodemitropulos feel free to re-open by adding more details.

[2022-07-20 09:10] #9895 closed, assigned to abhijitkane

[2022-07-20 09:39] DannyDainton commented on #11094
Hey @gaurangpdl

Can you try going to `Help > Clear Cache and Reload` to see if that makes a difference, please?

Do you see the Workspaces if you navigate to https://go.postman.co in a browser?

[2022-07-20 09:41] DannyDainton commented on #11098
Not really sure what we can do here - @arlemi was using the same browser version on the same OS and he's able to see the correctly displayed icon. 🤔

[2022-07-20 10:20] TheYuriG commented on #11072
That's weird, it happened several times with me, back to back, before I switched my internet connection.

Yeah sure, I'll look into those now.

[2022-07-20 10:34] TheYuriG commented on #11072
Couldn't find the second log, but here is the first one:
https://we.tl/t-ZR5MGekwse

[2022-07-20 12:52] byamagata opened #11103 "Add ability to navigate to variable from request"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request and I know that duplicates will be closed

### Is your feature request related to a problem?

As a new user to a team, it can be hard to determine a variable's location so that I can input the relavent information.

### Describe the solution you'd like

As a user, it would be grea

[2022-07-20 13:49] sseenivasan89 commented on #11098
@DannyDainton - we can ignore and close this

[2022-07-20 13:58] #11098 closed, assigned to ArjunSingh-PM

[2022-07-20 14:23] shanks25 commented on #8747
do we any update

[2022-07-20 14:32] gaurangpdl commented on #11094
Hey Danny,

As i mentioned online postman was working.

I just opened today and it has started working. I should close this.

[2022-07-20 14:32] #11094 closed, assigned to nobody

[2022-07-20 14:57] Redhunt2013 commented on #10092
Coincidentally, I was taking a look at this issue yesterday, hoping to see some updates.

[2022-07-20 15:55] acgritt opened #11104 "9.25.1 Update Has Difficult to Access Toolbar Buttons"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

With the menu bar not displayed in the 9.25.1 update the toolbar buttons to the right of the Notification icon are very difficult to access. This makes it hard to access the Account, Minimize, Maximize and Close buttons. The butt

[2022-07-20 16:28] MalikKillian opened #11105 "Improved in-app description for Pre-request/Test Scripts"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request and I know that duplicates will be closed

### Is your feature request related to a problem?

The behavior I observed when running a collection (which I'm sure is intentional):
[code]

The problem I have is with the description of the Pre-request Script sections, which states:

I

[2022-07-20 17:14] andreideznan commented on #10854
Is there a timeframe by when do we expect a fix?

[2022-07-20 17:33] kannanramesh-1977 opened #11106 "New Integration Request - <product name>"
### Describe your current workflow

by sending post method.

"error": {
        "message": "Unknown path components: /messages `\n  -H 'Authorization: Bearer

### Describe your ideal workflow

by sending ack to customer

### Describe alternatives you've considered

_No response_

### Additional context

_No response_

[2022-07-20 17:59] mniesen commented on #4559
I am also having a lot of problems using Postman with Folder Redirection and Roaming User Profiles. Almost all versions do not work or stop working after some time (hours to days). Version 9.8.2 works for me, higher and it doesn't work or stops working after some time.

[2022-07-20 18:29] ScottFN commented on #10999
Is this being addressed? 'Optimize conversion' = OFF does not solve this problem

[2022-07-20 20:45] timothyhoffmann commented on #8066
Yes, thanks, feedback windows worked fine.

[2022-07-20 22:22] DannyDainton commented on #11106
Hey @kannanramesh-1977

I'm not sure what it is that you're reporting here, can you elaborate more, please?

[2022-07-21 02:40] postman-support commented on #11101
Hey @quintafeira
This is not the expected behaviour.

- May I know if you are using Postman locally, that is, without logging in?
- If you are logged in, could you please navigate to our web version - go.postman.co, to check if your collections are present?

via @VaishnaviChallaPostman | Postman Support

[2022-07-21 05:38] coditva commented on #8302
Update: The fix is now available in v9.25.x onwards. Closing the ticket; please re-open if facing any issues. 🙂

[2022-07-21 05:38] #8302 closed, assigned to giridharvc7, coditva

[2022-07-21 05:54] ghost opened #11107 "Documenter issue with RTL responses"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

Postman publish documentation does not render RTL text correctly in the browser, with an example JSON value in Arabic for example. Meanwhile, the text is rendered correctly in the application

### Steps To Reproduce

1. Create ne

[2022-07-21 08:08] fjuza1 commented on #11082
No additional detail, can it be closed now

[2022-07-21 09:31] DannyDainton commented on #11082
Thanks, @fjuza1 but this wasn't an issue you created initially, you posted about an unrelated problem.

@dimitargg92 I'm going to close this as I haven't received any response for the information needed to debug this issue.

[2022-07-21 09:31] #11082 closed, assigned to nobody

[2022-07-21 09:38] DannyDainton commented on #11085
Hey @bleghrib-CLGX

I will close this issue for now as we don't have the required contextual information to reproduce this problem.

If you can provide a clear set of steps to reliably recreate this error, we can look at reopening this again.

[2022-07-21 09:38] #11085 closed, assigned to nobody

[2022-07-21 10:00] alexandr-kotikhov commented on #4968
+1

[2022-07-21 10:03] #6421 closed, assigned to ratpik, Raja-Simha

[2022-07-21 10:29] razzyripper opened #11108 "An extension to check for missing characters"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request and I know that duplicates will be closed

### Is your feature request related to a problem?

Hi, I would like to recommend an extension for checking and coloring the brackets, so that the scope is defined correctly, similar to what is possible with VS. studio. Possible ?

### Des

[2022-07-21 11:13] quintafeira commented on #11101
I'm using Postman locally, without logging in.

[2022-07-21 12:28] SahilChoudhary22 commented on #10854
Hi @andreideznan, actually there was reprioritisation of tasks due to some imminent releases, because of which some bug fixes had to be postponed beyond our control. But now we're back on this issue and you can expect to see it in production within the next few weeks. Stay tuned!

cc : @cblavier

[2022-07-21 14:11] VasilNikolov commented on #3777
+1

[2022-07-21 14:30] JaggedJax commented on #8083
I no longer see any option to "Remove" or unshare a collection from a workspace. How can this be done now?

[2022-07-21 16:10] wyssaj commented on #11104
I'm seeing the same behavior on Windows 11.

[2022-07-21 21:34] augustocb23 commented on #9217
Same here. Trying to configure login using Azure AD

[2022-07-22 09:21] DannyDainton commented on #11106
Closing this as it doesn't seem like a valid request and may have been opened by mistake.

[2022-07-22 09:21] #11106 closed, assigned to abhijitkane

[2022-07-22 10:03] diptarag commented on #11104
@acgritt @wyssaj

Do you see any error on console? Also, what's the behavior when you hover over the buttons?

Is it possible to share a screen recording?

[2022-07-22 10:24] lorand-horvath commented on #11088
I see the same issue with the latest downloaded file which is named `Postman-win64-9.25.1-Setup` but in fact contains version 9.25.0 of the app.

[2022-07-22 10:27] ankitjaggi commented on #7584
Closing this ticket because of inactivity. Feel free to open a new one if the problem still persists.

[2022-07-22 10:27] #7584 closed, assigned to preethammavin

[2022-07-22 10:27] #8514 closed, assigned to nobody

[2022-07-22 10:55] ivan-gospodinov commented on #11104
I am seeing the same - Win10, Postman v9.25.1
No errors in the console. You can click on the minimize/maximize/close buttons only if you move the mouse pointer to their edges.
Attached images - when the mouse pointer is centered on the button - the button is not clickable; and when the mouse pointer is on the edge and the button is shown in red color and can be clicked

![postman_close_button_not_

[2022-07-22 10:57] cyrielle-hada commented on #8083
@JaggedJax We have removed this feature. You can now move elements from one workspace to another: [](https://learning.postman.com/docs/collaborating-in-postman/using-workspaces/managing-workspaces/#moving-elements-to-workspaces )

[2022-07-22 11:00] NguyenVanCong1902 opened #11109 "Crash on connecting ws:// with Socket.IO selection"
### Is there an existing issue for this?

- [x] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

My postman app 9.25.0 is crashed while trying to connect local websocket with 'Socket.IO' type on Window 10 Pro

### Steps To Reproduce

1. I created new WebSocket Request
2. I connect my localhost websocket with 'Raw' option =>

[2022-07-22 11:55] PedroCostaMudey opened #11110 "Flow crashes Send"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

While a Flows flow is running if a connection between block it's severed the next time the flow runs it will allow unconnected blocks and will run but gets stuck on the first block. Also if you try Send a normal collection query

[2022-07-22 12:19] diptarag commented on #11104
@ivan-gospodinov
Hey

Thanks for providing the detail.

A few questions -

1. Is this happening consistently or only after certain action?
2. What about team dropdown, account dropdown or any other options on header? They are consistently clickable?
3. Can you try to resize you window and check if the behavior is still same?
4. Also, can you check if you can access the application menu? If you can

[2022-07-22 12:30] acgritt commented on #11104
@diptarag
1. It is happening consistently, even after minimizing/maximizing the window.
2. The Account Dropdown, Team Dropdown, minimize, maximize and close all have the issue. Everything to the left of that is fine. However, I have noticed that it is difficult to drag the window around. You can click and drag just to the right of the Explore option but if you click in any of the blank space aroun

[2022-07-22 12:44] DannyDainton commented on #11110
Hey @PedroCostaMudey

It would be great to get a short recording of the behaviour that you're seeing, helps to visualise the problem.

[2022-07-22 14:09] abhaypsamrat commented on #6205
I have face issue, when I try to send response
![Screenshot (3)](https://user-images.githubusercontent.com/60846174/180456754-8dd950c0-b86e-4836-9168-cf098f54f203.png)

[2022-07-22 14:36] chollinger93 commented on #4791
Instead of a header, you can enforce setting a global variable that your script can reset before sending. Define a global function and just call that for each destructive call as a pre-request script.

The only caveat I found is that you seemingly can't set environment variables in a collection-level script, but you _can_ use a callback in the *request's* pre-request scripts:
[code]

That being sa

[2022-07-22 15:05] jshearin01 commented on #4693
When I call "pm.request.body.formdata.remove(key);" I get "TypeError: Cannot read properties of undefined (reading 'remove')
"

[2022-07-22 15:21] diptarag commented on #11104
@acgritt
We are trying to reproduce the issue at our end.

Can you please share your exact OS version?

The screenshot of About section of settings modal would be very helpful.

Also are you available for a quick call? I could run some tests and try to get to root of the problem

[2022-07-22 15:40] jurfalino commented on #4318
+1 dark theme is just not usable, postman would really benefit from the community here. at least being able to share themes as JSON files.

[2022-07-22 16:21] sriram2093 commented on #6682
+1

[2022-07-22 17:38] zeldalegends opened #11112 "Cannot import FIWARE collection samples"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

Cannot import json exported for FIWARE, e.g., this one:
https://github.com/FIWARE/tutorials.PEP-Proxy/blob/NGSI-LD/FIWARE%20PEP%20Proxy.postman_collection.json
or this (more recent) one
https://github.com/FIWARE/tutorials.PEP-Pro

[2022-07-22 18:21] acgritt commented on #11104
@diptarag
1. Interestingly enough I can click on the min/max/close button and drag the window. All of the ones that have the issue being clicked I am able to use to drag the window.
2.
![image](https://user-images.githubusercontent.com/10471937/180500349-59d4c488-c10a-49d9-9200-74abc127d27e.png)

I should be available later today for a quick call. About 3 PM Central Time (US)

[2022-07-22 22:57] fredlemieux commented on #5817
<img src="https://media3.giphy.com/media/wi8Ez1mwRcKGI/giphy.gif"/>

[2022-07-23 00:03] pierre-wehbe commented on #10928
Hi Team,

Turning off **Optimize Conversion** setting via UI does work.
Is there a way to do that via the Postman API?

I am using the Automation-API Workflow and still getting the error. Documentation is not clear/ doesn't show settings available in the UI

https://www.postman.com/postman/workspace/api-first-workflow-patterns/collection/15950784-a44c86f0-a7ab-4d17-afe0-d0d5ab393b91?ctx=documentat

[2022-07-23 04:54] diptarag commented on #11104
@acgritt

Thank you for providing the detail. Sorry I missed the time slot, let me know when you are available next. I will share an invite.

[2022-07-23 08:16] singhnarenn commented on #8932
Thanks a lot!!
It solved the issue for me.

[2022-07-23 08:31] RavenHursT commented on #1180
Come on Postman. It's been 7 YEARS and y'all _still_ haven't figured out a way to allow us to include npm modules in our collections? Really?

Nearly _every_ web-based JS platform allows for this (codesandbox.io, stackblitz.com, repl.it, etc). Surely this isn't that hard?

[2022-07-23 10:03] dani-fadli commented on #11104
In my case, I can't even use the search bar, view settings and notifications, and change accounts. Temporarily, I use the web version with Desktop Agent.

[2022-07-23 12:21] diptarag commented on #11104
@dani-fadli
The Home, Workspace, API Network, Explore links work fine?

Would you be available for a quick call? We are trying hard to reproduce the issue at our end

[2022-07-23 16:27] josenicomaia commented on #1180
Just drop it.

[2022-07-24 01:01] PaulFarry opened #11113 "Close Button disappears when window width < 1080px"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

When the window width is reduced (screen resize, docking etc), then the close button disappears if the width becomes less than 1080px.

Certain items like Invite, Search Postman start to disappear under certain sizes, but the clo

[2022-07-24 05:35] diptarag commented on #11113
@PaulFarry
Can you please confirm if the close button is accessible when you scroll?

[2022-07-24 20:58] ghostebony commented on #6682
+1

[2022-07-24 22:10] sronelpol commented on #5040
+1

[2022-07-24 22:34] PaulFarry commented on #11113
No only when you resize the window. I've cropped the image vertically as there is only scrollbars on the right, but the close box isn't part of the scrolling.

[2022-07-25 05:04] bhargavkn commented on #7902
@udayakr Thanks for the feedback! Can you please provide some context on what kind of usage you are looking for?

[2022-07-25 05:59] diptarag commented on #11104
We are able to reproduce the issue for zoomed in app. We are working on a fix.
In the meantime, if you reset the zoom level then the header buttons should work fine.

![ResetZoom](https://user-images.githubusercontent.com/2277198/180708396-b6bbbea6-bf40-4dc9-b9be-9f56236f9982.png)

[2022-07-25 06:22] Dhembla commented on #10973
@DSinghXM Can you please verify if you are still facing the issue?

[2022-07-25 06:23] VaishnaviChallaPostman commented on #11097
@sseenivasan89 Closing this as this issue is being tracked here: https://github.com/postmanlabs/postman-app-support/issues/11104
Please subscribe to that GH thread to avoid missing any updates.
Thanks!

[2022-07-25 06:23] #11097 closed, assigned to nobody

[2022-07-25 06:24] VaishnaviChallaPostman commented on #11113
@PaulFarry  Closing this as this issue is being tracked here: https://github.com/postmanlabs/postman-app-support/issues/11104
Please subscribe to that GH thread to avoid missing any updates.
Thanks!

[2022-07-25 06:24] Dhembla commented on #9534
@ArunRajMony, I am closing the issue as the product is working as expected. Please feel free to reopen it if you think your use case is not satisfied. Thanks!

[2022-07-25 06:24] #9534 closed, assigned to akshaydeo, Dhembla

[2022-07-25 07:16] diptarag commented on #11113
@PaulFarry
Just to confirm the issue - when the close button is clipped, there's no horizontal scroll in the window?

Also, can you please reset the zoom level and check?
![ResetZoom](https://user-images.githubusercontent.com/2277198/180719712-e496a723-6fee-4035-89d4-9508be77eefd.png)

[2022-07-25 07:35] agrwl-harsh commented on #9340
Hey @NewUserHa , we have fixed the issue. Please try in the latest postman app.

[2022-07-25 08:08] mtache commented on #5040
+1

[2022-07-25 11:10] omagerio commented on #8195
I've lost my work for the 2nd time because of the missing auto save... please add this!

[2022-07-25 11:23] barshan23 commented on #11069
Hey @dgonzalezc ,

Since you already converted the workspace to a personal workspace, there shouldn't be any changes to the content of the workspace when deleting / leaving a team.

We were not able to reproduce the issue by following the steps you provided.
We've checked internally found that the API you're looking for might be available in a different personal workspace.

Can you verify whether

[2022-07-25 11:34] reenadev opened #11114 "New Integration Request - <product name>"
### Describe your current workflow

pull data from adobe api

### Describe your ideal workflow

pull data from adobe api

### Describe alternatives you've considered

_No response_

### Additional context

_No response_

[2022-07-25 12:51] agrwl-harsh commented on #9452
@praveendvd @gpa
The issue has been fixed. Please try in the latest postman app version and let us know in case you find some other issues.

[2022-07-25 12:52] nglro opened #11115 "Postman very verrrrrry slow start"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

Just installed the latest version available ( Postman-win64-9.24.2-Setup ) and the app is not started after ~30 minutes. I uninstalled, deleted user local and roaming folders, re-downloaded, installed again.  The previous version

[2022-07-25 13:16] jviotti commented on #11115
@nglro This is very strange. Does the app actually render after those 30 minutes?

[2022-07-25 13:28] arlemi opened #11116 "Add multiple select to Environments, APIs, mocks..."
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request and I know that duplicates will be closed

### Is your feature request related to a problem?

Postman added the ability to select multiple entities in the Collections tab, but I can't do the same thing in other parts of the app which means I need to go back to selecting entities o

[2022-07-25 13:40] w136712058 commented on #7325
So , is there any oppertunity to support skipRequst() in PreTest?

[2022-07-25 13:46] kamalaknn commented on #11115
@nglro Could you share the logs from `View -> Developer -> View logs in Explorer` to us at `help@postman.com`?

[2022-07-25 15:42] crazyoptimist commented on #10384
👍
Same here. Would be appreciated if this feature is coming soon.

[2022-07-25 15:56] ghughal commented on #1066
Is it possible to move entire collection/folder with same drag and drop?

[2022-07-25 16:04] EnsignPayton commented on #11113
Window when docked to one side of the screen at 1920x1080:

![image](https://user-images.githubusercontent.com/18620874/180823082-c1a05a11-e7d0-4d05-b30c-b6044cee9378.png)

The min/max/close buttons are entirely clipped. There is a (very small and hard to miss) horizontal scrollbar at the bottom that can be used to bring them back into view, but this should not be necessary

[2022-07-25 22:09] abhijeetborole commented on #11099
Hey @demdante , thanks for reporting this issue. We were not able to reproduce the issue by following the steps you provided.

However, it looks like the collection changes are not saved in the screenshots. If these unsaved changes contain the auth configuration, these will not be picked up by the request unless you save the collection tab. Could you verify if these changes are saved and try the f

[2022-07-26 00:50] pzelnip commented on #9021
How about if I google "Postman Interceptor" I end up landing on this page: https://learning.postman.com/docs/sending-requests/capturing-request-data/interceptor/ none of which helps if one is using completely different extensions for the use cases that Interceptor covers.

Sure you might be able to achieve the same results using different tools, but that's a whole lot of figuring out I'd like to a

[2022-07-26 03:27] joeyzheng5403 commented on #3777
+1

[2022-07-26 03:33] Iftakharpy commented on #5302
I have installed version 9.25 through snap and still can't hide the title bar. I am using pop os.

[2022-07-26 05:04] PaulFarry commented on #11113
ok, now that it's been pointed out, yes, there is a scroll bar at the bottom of the screen. but I've never seen that before going through this, I would never have seen it without @EnsignPayton comment above. You don't look for scrollbars to display standard UI widgets.

If the Cog, Bell, Manage Account and Upgrade buttons were to disappear before making standard UI widgets disappear that would be

[2022-07-26 05:22] shashankawasthi88 commented on #11114
@reenadev can you add more details to the request? What use cases are you exactly trying to achieve over here?

[2022-07-26 05:43] bflemingguidance commented on #8195
At the very least, how about detecting that there are changes and popping a dialog box when the tab/window close is detected?  Like bare minimum.  4 times I've lost some significant API testing work now.   Please add this or at least a prompt to handle absentminded clicks

[2022-07-26 07:42] agrwl-harsh commented on #11051
@zachsiegel-capsida Hey , do we expect to see the file content as well in the request captured or just the form-data ?

Because the interceptor runs on chrome and chrome doesn't allow to read the file content, we would not be able to show the file content in the captured request. However, we are working on the form-data issue. Would be updating the thread soon.

[2022-07-26 07:43] dasMulli commented on #8038
My PR https://github.com/SamDecrock/node-http-ntlm/pull/101 implements NTLMv2 for the underlying library. Switching it out for the newman CLI allows collections using NTLM against an NTLMv2-only server to go through.

I do not know how to update the one included in the Postman app though for testing (either just the package or the built runtime).

[2022-07-26 09:19] AncuL001 commented on #11104
seems like this has been fixed on 9.25.2 for me, other than that the cursor doesn't turn into "link select" mode when hovered on the middle of the "manage accounts" icon (still clickable tho)

https://user-images.githubusercontent.com/16044057/180971824-13034872-1a98-4f0e-a61a-e8c7f3b2cec4.mp4

[2022-07-26 09:41] kamalaknn commented on #11104
Update: This issue has been fixed and is available in 9.25.2. Please let us know if you're still facing issues.

[2022-07-26 09:41] #11104 closed, assigned to nobody

[2022-07-26 10:09] #10513 closed, assigned to nobody

[2022-07-26 12:26] acgritt commented on #11104
Much better now. I didn't even realize I had it zoomed in. Hazards of running a 40" 4K monitor I guess. Thanks for the fix.

[2022-07-26 12:30] nglro commented on #11115
No, that's when I got frustrated enough to make this post and close it from Task Manager.

None of the buttons responded when I clicked them, so I uninstalled the app. I can install it again and search for the folders where the logs are saved if you can tell me the path

[2022-07-26 13:13] kamalaknn commented on #11115
@nglro You can find the logs under `${user directory}/AppData/Roaming/Postman/logs` directory.

[2022-07-26 13:54] introhivesteve commented on #9498
Similar to [rhomber](https://github.com/rhomber) I'd actually like to be able to make the left panel **bigger**, we use descriptive titles on our requests, and it's unhelpful only being able to see the first part of them

[2022-07-26 14:30] rhaywardpar commented on #10106
I have the same issue:
Postman for Windows
Version 9.25.2
UI Version 9.25.2-ui-220723-1800
Desktop Platform Version 9.25.2
Architecture x64
OS Platform win32 10.0.19044

Updated the app to the latest version, and then followed the procedure described on https://learning.postman.com/docs/administration/team-merge/#performing-centralized-migration.

I am Admin on the new Postman Team. I was an Admin

[2022-07-26 14:44] nglro commented on #11115
I see there is a new version available today ( Postman-win64-9.25.2-Setup.exe ).  I installed that as I don't have the one from yesterday anymore.

This one took about 5 minutes to show the login screen, clicked login, app disappeared, appeared after ~4 minutes saying to check browser, I entered token manually as it didn't seem to receive it or be able to process it

I attached the logs and 3 scre

[2022-07-26 15:59] rhaywardpar commented on #10106
Note: I was able to work around this issue just now by having a collegue reinvite me using a different e-mail address to the old Team, Exporting Collections and Environments one by one, and then signing in with the new account/team, and importing the individual Environment/Collection files. This is the workaround:

**To export Environments one-by-one**
1. Go to **Environments** on the left-hand-si

[2022-07-26 17:50] zzaacchh commented on #10460
I was having the same issue on a new M2, on Postman v9.25.2.  Every collection I attempted to access would refuse to open, with no apparent error or console log messages.

I signed out, then signed by in, and everything works now.

[2022-07-26 18:04] diptarag commented on #4586
Update: This issue has been fixed and is available in 9.25.2. Please let us know if you're still facing issues.

[2022-07-26 19:24] StrohmyerTR commented on #5805
You can accomplish this by adding

`pm.variables.set('collection', 'collection_name');`

in the pre-request script of your collection.

[2022-07-26 19:40] jalanubha commented on #7150
Hello Postman Team, Is there an update on this? Really need to join multiple teams.

[2022-07-26 20:27] Thibault2ss commented on #10384
Same here, we need to hide some endpoints in the docs:
- endpoints under development
- private/internal endpoints

[2022-07-26 20:54] coreyog opened #11117 ""Loose File" Collections/Environments"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request and I know that duplicates will be closed

### Is your feature request related to a problem?

The provided solutions for backing up collections, requests, and environments are extremely hard to stay synchronized with the in-development API Repo being hit. Staying current kinda wor

[2022-07-26 22:25] roblappcoupa commented on #6355
I really want this feature!

[2022-07-26 23:50] JHKennedy4 opened #11118 "PKCE Flow with SHA256 Code Challenge Method does not appear to use SHA256"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

When attempting to obtain an OAuth 2.0 token using the PKCE flow, a request is meant to be made with the Code Verifier SHA 256 encoded.

For example, if the Code Verifier code is "1111111111111111111111111111111111111111111", the

[2022-07-27 00:20] shearichard commented on #8985
This deficiency in Postman is the first thing I would mention to anyone considering using Postman for something other than 'toy usage', it wastes so much time.

It's hard to believe that Postman is ten years old and yet this basic piece of functionality has not yet been implemented. As of today this ticket is 23 months old and it's now on the product backlog .. well whoopy doop.

[2022-07-27 04:55] ArjunSingh-PM commented on #7150
Hi @jalanubha, thanks for reaching out. Could you please raise a request [here](https://support.postman.com/hc/en-us/requests/new) or reach out to us directly at help@postman.com with your account details?

[2022-07-27 06:32] giridharvc7 commented on #10868
@AtricoSoftware We'd love to go over your use case, would you be available for a short call? Feel free to book one using this [link](https://calendly.com/giridhar-vc-postman/)

[2022-07-27 07:32] shashankawasthi88 commented on #11114
Closing this for now. Please reopen by adding more details.

[2022-07-27 07:32] #11114 closed, assigned to abhijitkane

[2022-07-27 09:12] frdesnous opened #11119 "Merging PR no longer triggers a backup in custom github domain (integration)"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

Hi,
we have integrations set up to back up our collections in a github custom domain.
We noticed recently that when merging PR into a collection, the back up run is not longer triggered.
Backup run is triggered only when doing a

[2022-07-27 09:17] KGSands commented on #5222
+1

[2022-07-27 10:27] Dhembla commented on #10973
@DSinghXM, I am closing the issue; please feel free to reopen it if you still face the issue. 🙇

[2022-07-27 10:27] #10973 closed, assigned to Dhembla

[2022-07-27 10:45] vizakgh commented on #5980
v9.25.2 - the same issue

[2022-07-27 11:35] nuuura opened #11120 "All options are not displayed when right-clicking on a gRPC request by TouchPad"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

A different number of features are displayed depending on how the context menu is called

### Steps To Reproduce

1. Go to Collections Tab
2. Add collection with grpc request on mac
3. Right-click by touchpad on grpc request
4. C

[2022-07-27 12:32] kellewic commented on #9656
This has been driving me bonkers since I just start using Postman. The right sidebar is constructed per tab which means it maintains state per tab, which makes it really hard to wok on Documentation while creating Collections. Right sidebar needs a "pinned" option to keep it open and stay at the width I put it at for all tabs and survive a restart/reload.

[2022-07-27 13:01] kartikjain26 commented on #9694
@preethammavin  @xk0der  can we close this ?
Workspace admins now can merge and delete the forks in that workspace.

[2022-07-27 13:27] jigarshah opened #11121 "Client Certificate per context path"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request and I know that duplicates will be closed

### Is your feature request related to a problem?

Currently, we have multiple services on same domain. each require different client certificate. Currently I have to delete old certificate and PEM chain then add again different one for d

[2022-07-27 13:34] Atishay4294 commented on #11119
Hi @frdesnous
Thank you for reaching out.

I understand that this is not the expected behavior as merging collection PRs should trigger the backup integration. This seems to be due to some recent changes and we are able to replicate the issue.

We'll update this thread after addressing the same :)

[2022-07-27 15:42] rymesaint commented on #6682
+1

[2022-07-27 16:00] KristianAtVsp commented on #9017
I love this idea and hope it gets some traction. It would certainly remove a lot of headaches for our team.

[2022-07-27 17:58] StanleySathler commented on #10459
One thing that bothers me a lot is when you run tests for an entire collection, HTTP methods are colored. `DELETE` is red, which often makes me think the test failed.

![image](https://user-images.githubusercontent.com/11931916/181340363-c729f8da-4866-4860-b133-183d899cddf9.png)

[2022-07-27 18:00] tysonmalchow commented on #7294
approximately same numbers as @Overrided here. consistently. hardware acceleration setting did not affect it

[2022-07-27 20:24] Spider-ant opened #11122 "Documentation Examples Should Show Status Code"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request and I know that duplicates will be closed

### Is your feature request related to a problem?

When you go to view documentation for a collection it will show examples. You can provide a status code for your example but it does not appear when viewing the documentation.
I may want

[2022-07-27 22:02] pstumbaugh opened #11123 ""Close All Tabs" option not responding"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

I have 4 or 5 tabs open, right click the tab name. I can select the option to "Close All Tabs", but clicking it does nothing. This is also true with "Force Close All Tabs" and "Close Other Tabs". The single "Close Tab" works fine

[2022-07-28 01:30] ghost opened #11124 "Missing requests after drag & drop between collections"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

I moved 2 sets of requests from their folders within a collection into newly created “root-level” collections. The operation seemed to have worked (I saw the moved items), but later both sets of requests disappeared! Luckily I st

[2022-07-28 05:11] diptarag commented on #11123
@pstumbaugh
Do you see any errors on console?
Can you please share the application logs with us?
![WindowsLogs](https://user-images.githubusercontent.com/2277198/181425516-d1870093-10a7-4c5b-939a-ff730894fb1c.png)

[2022-07-28 06:43] shamasis commented on #10181
It's coming. We will be adding support for scripting in GRPC first. Hopefully early next month. Followed by WebSocket in a few weeks after that.

For WebSocket we need to design a neat way to do scripts. Few interesting questions for us to answer - when will these scripts run? What kind of tests or other stuff will the scripts be used for? How does connect/disconnect events affect scripting?

Woul

[2022-07-28 09:13] Akkarine commented on #4327
upvoite

[2022-07-28 12:23] raghuchinnannan commented on #4818
Is there an update on this? We have 2 different hosts for US & EU data center and we don't want to publish 2  different API documentation. Environment would be ideal.

[2022-07-28 12:25] raghuchinnannan commented on #8614
@Raja-Simha In our case, we have different host for each of our data center located in EU & US. We don't want to publish separate API documentation as all the endpoints are same except for change in host. Environments would be ideal for us, as users can either choose US / EU and get on with their life.

[2022-07-28 13:06] dansykora commented on #9056
@khyejin1231 I'm having the same issue on version 9.26.2

[2022-07-28 13:06] shamasis commented on #10181
@brandonmaul I wish GitHub had a real-time messaging / chat. I wanna run some thoughts by you - I am @shamasis on Twitter / LinkedIn ... can you ping me anywhere on either of them?

[2022-07-28 13:21] #10394 closed, assigned to nobody

[2022-07-28 13:27] arekfajdek commented on #5040
+1

[2022-07-28 13:34] DannyDainton commented on #11124
Hey @ricrb

Could you provide a short recording of the behaviour you're describing, please?

Makes it easier to see what you're seeing on your side.

[2022-07-28 13:53] shamasis commented on #11109
@NguyenVanCong1902 ... is it predictably reproducible? @codenirvana and I were having a conversation and could not reproduce it. Could you send us some crash logs or more info that will help isolate the conditions of failure?

@ishanSinghal3 @ronork take this forward please. :-)

[2022-07-28 14:27] brandonmaul commented on #10181
@shamasis No problem! Sent you a message on LinkedIn

[2022-07-28 15:58] kumarmo2 commented on #3777
+1

[2022-07-28 17:41] ricrb commented on #11124
@DannyDainton thanks for your attention! I tried to describe the steps in details because I wanted to keep my collections and requests names private. Is there a public/sandbox workspace I can play with to try to reproduce the issue there? Alternatively, I can clarify any step that you didn't understand!

[2022-07-28 17:44] ricrb commented on #11124
Btw, I've seen similar issues in the macOS app (previous versions) when importing a collection and the data wouldn't be there – the requests were empty. I got them fixed by renaming them. I'm confident that the issue is broader than Drag & drop requests.

[2022-07-28 17:44] DannyDainton commented on #11124
Your steps are there to reproduce an issue, if we follow them, could you not do the same to recreate the issue in a new collection?

Just want to rule out it isn't something else happening on your side that you haven't mentioned. It's likely that we'll notice something while you're doing it that you may not pick up on when describing the problem.

[2022-07-28 17:47] aumil commented on #6452
In this day 2FA is a must. This is serious and very disturbing. It does not take much to implement Basic 2FA. Please do it sooner before you are compromised

[2022-07-28 17:47] ricrb commented on #11124
Sure, I could have forgotten one step. I can redo them to reproduce it. Is there a public sandbox-like workspace I can join though my macOS app to record the steps? I want to keep my collection names private

[2022-07-28 18:15] DannyDainton commented on #11124
You could create a new Workspace for demo purposes, that would be clean of all collections?

[2022-07-28 19:11] ricrb commented on #11124
Could not reproduce it. Will need to try it again later. It may be data related or maybe I would have to make the Sandbox workflow shared with the team

[2022-07-28 19:33] LuckyTil opened #11125 ""Enable hardware acceleration" not work"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

"Enable hardware acceleration" not work

### Steps To Reproduce

Help - "Enable hardware acceleration" - Nothing happens

### Screenshots or Videos

_No response_

### Operating System

Windows 10 x64

### Postman Version

9.26.3

[2022-07-28 20:25] DannyDainton commented on #11125
Hey @LuckyTil

Could you elaborate more on the issue your facing, please?

What's not working for you? How are you measuring the before and after effect when enabling this feature?

[2022-07-28 20:53] LuckyTil commented on #11125
Hi, Danny.

I can switch option from "Disable hardware acceleration" to "Enable hardware acceleration" state.
But I can't switch option back.

Ваш лист від 28.07.2022, 23:25:22:

-- 
З повагою,
Lucky.Til
***@***.***

[2022-07-28 21:24] EvertonMJunior commented on #6452
Any updates? This is a critical security feature, I'm not really comfortable with leaving API keys and other info on Environments while knowing a password is all the security there is.

[2022-07-28 22:11] rhinck commented on #6452
Yubikey 2FA would be important for our company as well

[2022-07-29 00:04] #9694 closed, assigned to ankit-m

[2022-07-29 05:01] akshaydeo commented on #10192
@deefactorial, we are looking into this on priority. I will keep this thread updated 🙇‍♂️

[2022-07-29 05:12] akshaydeo commented on #11013
@rostykzub, thanks for reporting this issue. The issue here is that anchor navigation is happening on the main page. Due to the fullscreen modal, it's not visible.

We are working on a quick fix to handle this scenario :). I will update this issue as soon as we have fix live 🙇‍♂️

We are launching a new, improved UX for all the elements soon, which will handle these cases more intuitively 🙂

[2022-07-29 06:38] feisha20 commented on #11123
I also encountered this problem

[2022-07-29 10:23] HgIain opened #11126 "Slack integration for monitor always posting to channel"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

I have a slack integration for a monitor that I've configured to only run for first 3 failures/1st success, but it's always posting when they succeed

### Steps To Reproduce

Slack integration looks like this:
![image](https://us

[2022-07-29 10:55] rufik commented on #7794
Well, I can't even import API using "folder" option - I click "choose folder from your computer", I choose proper folder (it's windows, path does not contains spaces), click "OK" and....nothing. Still on import screen with "choose folder from your computer" button.

[2022-07-29 11:45] shashankawasthi88 commented on #11126
@HgIain thanks for raising the issue. We are looking into it and shall update the thread on any progress.

[2022-07-29 12:03] Yuri-M-Dias commented on #8480
Found this from Google, two years of "wontfix"? Could at least have the decency to document that this is not supported on the UI, so we know to not expect it to work. Much better than to have the monitor directly.

[2022-07-29 14:32] nk9 commented on #8404
This is amazing, @MobiusSlit, thank you. This works for me using multiple environments. It does _not_ allow importing collections though, unfortunately.

Note that it is also possible to import multiple files at once through the Workspace > Import > Files facility. I've combined that with this to import 3 environments and 2 collections using only 3 files.

[2022-07-29 14:38] lbosse commented on #903
+1

[2022-07-29 16:17] miquecg opened #11127 "Automatic validation of responses when running a collection test suite"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request and I know that duplicates will be closed

### Is your feature request related to a problem?

As far as I know, there is validation already in place against an existing API schema but for individual requests. I can see the little `issue` badge in the top bar of requests.

When I r

[2022-07-29 16:38] miquecg opened #11128 "Allow test suite collections to include only part of schema requests"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request and I know that duplicates will be closed

### Is your feature request related to a problem?

I'm using collections to organize tests according to API flows. So for instance, a collection runs several tests over a group of endpoints, describing one specific scenario or flow, and a

[2022-07-29 16:44] shivushedad opened #11129 "Updates available message shows up even when I'm on latest version of postman"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

Have seen this issue quite a while now and see its not being addressed in latest releases. I keep seeing 'Updates Available' alert when I start postman. This should not happen when I'm already on latest version.  When I go to htt

[2022-07-29 17:39] pstumbaugh commented on #11123
@diptarag
No errors shown on console.
I tried uninstalling and reinstalling again this morning, still same result.
Here are the application logs:
[main.log](https://github.com/postmanlabs/postman-app-support/files/9222161/main.log)
[renderer-requester.log](https://github.com/postmanlabs/postman-app-support/files/9222162/renderer-requester.log)
[renderer-shell.log](https://github.com/postmanlabs/po

[2022-07-29 17:49] fq962 opened #11130 "Postman freezes"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

When I enter a request and click on the value of the Path Variables and move with the arrow keys from right to left, it freezes.

### Steps To Reproduce

1. Open Postman
2. Go to Request
3. Click on value field (Path Variable Val

[2022-07-29 18:53] jagrutmehta commented on #11041
Yes. Explanatory documentation is very helpful to understand what this field means and what it represents. Currently I only have field name while writing query.

[2022-07-29 20:04] Mopilani commented on #7294
![image](https://user-images.githubusercontent.com/65030930/181835195-49e1c77c-13f7-4be7-9cfb-697c9f47923d.png)
Seems for me it's stoped consuming the cpu but takes a lot of memory.

[2022-07-29 20:50] tibi-extera commented on #10181
My API generates real-time messages via the websocket when endpoints are invoked. I would like to be able to
a. confirm that the messages are sent when they should be sent
b. confirm that the messages are sent to the correct websocket (as in messages for a specific user do not end up at some other user).
c. confirm that the messages have the correct content

[2022-07-30 12:18] boulhend commented on #10610
I've had same issue.
Just look for `/tmp` folder, it will be at `/`, if you use WSL ubuntu , then copy it to `/dev` folder :
1. Go to `/`.
2. run `$ sudo cp -r /tmp /dev`

[2022-07-30 15:12] NguyenVanCong1902 commented on #11109
@shamasis I tried to reproduce this issue. But today i can't reproduce it anymore. idk why 😔. Now i could connect with Socket.IO normally. Thanks you all

[2022-07-30 15:12] #11109 closed, assigned to ronork, ishanSinghal3

[2022-07-30 16:53] mba8487143 opened #11131 "Always sending POST request as GET"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

I am facing issue in calling POST request with postman. My POST request is received on server side as GET. I also checked it with an online tool its working fine with that tool but on POST man with same environment causing error.

[2022-07-30 17:55] rajib-raiyat commented on #10658
any updates on this ?

[2022-07-30 18:01] codenirvana commented on #10533
@sharooksubana glad it worked for you!
No, we're not adding any special certificate. The issue was that the intent to establish a TLS connection was not obvious.

---

Now, you can toggle the lock icon to specify the server's connection preference (TLS or plaintext):

![Screenshot 2022-07-30 at 11 02 59 PM](https://user-images.githubusercontent.com/4865836/181935198-ee83a883-bc24-4272-b183-643b168

[2022-07-30 18:01] #10533 closed, assigned to codenirvana

[2022-07-30 18:10] codenirvana commented on #10767
We've added support for importing multi-file API definitions.
Though you can’t edit imported proto files from Postman just yet... we will unblock editing very soon!

For now, you can re-import to update your saved API.

[2022-07-30 18:10] #10767 closed, assigned to codenirvana

[2022-07-30 18:22] codenirvana commented on #10921
This is fixed with the latest version of the Postman app.
You no longer need to configure certificates to add authorization details.

[2022-07-30 18:22] #10921 closed, assigned to appurva21

[2022-07-30 18:28] codenirvana commented on #11057
@moshest Thanks for reporting this issue.

This is fixed along with the recent improvements to the TLS configuration flow.
Refer https://github.com/postmanlabs/postman-app-support/issues/10533#issuecomment-1200266682 for more details.

[2022-07-30 18:28] #11057 closed, assigned to codenirvana

[2022-07-30 18:30] codenirvana commented on #10870
Closing this issue as we are not able to reproduce this internally and we haven't seen other users facing the same.

Please feel free to reopen if the issue persists or you can help us with the steps to reproduce this issue.

[2022-07-30 18:30] #10870 closed, assigned to appurva21

[2022-07-30 18:37] codenirvana commented on #10902
We've simplified the TLS configuration flow with the recent release.

Now, you can toggle the lock icon to specify the server's connection preference (TLS or plaintext):

![Screenshot 2022-07-30 at 11 02 59 PM](https://user-images.githubusercontent.com/4865836/181936996-ae67077b-7fa0-428f-ad6e-874c8d7af4e9.png)

Please refer to this https://github.com/postmanlabs/postman-app-support/issues/10533#i

[2022-07-30 18:37] #10902 closed, assigned to codenirvana

[2022-07-30 18:44] DannyDainton commented on #11131
Hey @mba8487143

Does the request send as POST if you enable the `Follow original HTTP Method` setting?

![Screenshot_20220730_193406.jpg](https://user-images.githubusercontent.com/17089546/181937260-5b1dbe6d-b6ea-4217-86a0-c7c3bfcec25c.jpg)

[2022-07-31 15:31] vaibhrez12 commented on #6926
+1. Basic must feature to use postman as API testing tool.

[2022-07-31 18:46] InconsolableCellist opened #11132 "Saving No Longer Defaults to Previous Location"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

Regression, #8864 occurs again

Postman v9.25.2-linux-x64

$ cat /etc/os-release
PRETTY_NAME="Devuan GNU/Linux 4 (chimaera)"
NAME="Devuan GNU/Linux"
VERSION_ID="4"
VERSION="4 (chimaera)"
VERSION_CODENAME="chimaera"
ID=devuan
ID_L

[2022-07-31 18:47] InconsolableCellist commented on #11132
Installed via https://dl.pstmn.io/download/latest/linux64

$ sha256sum postman-9.25.2-linux-x64.tar.gz
118da102904cd7b04c50d3e2c2daac3fc1228f05e541eacef55e8ecbf73d3896  postman-9.25.2-linux-x64.tar.gz

[2022-07-31 23:15] supunt commented on #6926
Its been more than 3 years since I requested this.
We waited 2 years, got bored and wrote an entire testing framework using python unit-test with endpoint discovery and simple test auto generation as well + multiple reporting solutions (logging, files op, elastic, db etc...)

[2022-08-01 05:26] brinal8055 commented on #3379
Same issue. What's the next step we can do for force quit.?

[2022-08-01 05:39] ishanSinghal3 commented on #11109
No problem @NguyenVanCong1902. Just let us know if you find something in future

[2022-08-01 05:41] Breefield commented on #10533
Hey @codenirvana I appreciate your help on this issue.
I still have a frustration with the self-signed certificate solution.

I need to connect to many different hosts (50+), and if setting up a self-signed cert for TLS then you have to add each host + certs in the preferences. If Postman could use the certificate provided by the server automatically then no configuration step would be needed at a

[2022-08-01 05:48] codenirvana commented on #10533
@Breefield host + certs are needed only for mTLS connections, for a regular TLS connection with a self-signed cert you don’t have to configure anything.

Please let me know if I misunderstood your use case.

[2022-08-01 06:02] yanshouwang commented on #3126
For those looking for Chinese suport, I think you can try [ApiFox](https://www.apifox.cn/) or [ApiPost](https://www.apipost.cn/)

[2022-08-01 06:18] agrwl-harsh commented on #9274
Hey All, the issue has been fixed. Please try it on the latest postman app. Let us know if you find any issues.

[2022-08-01 06:38] diptarag commented on #11113
Thank you for the feedback. We are tracking this internally and should be fixed in a future version. We will post an update as soon as it's fixed.

[2022-08-01 06:41] diptarag commented on #11123
Update: we are able to reproduce the issue internally for a specific scenario and working on a fix.

[2022-08-01 06:53] ankurdengla commented on #11123
@pstumbaugh @feisha20 Update: While we work on identifying the issue and shipping out a fix, you can unblock yourselves by logging out and logging back into the app.
**Please make sure you save any unsaved changes before logging out**

[2022-08-01 07:07] feisha20 commented on #11123
@ankurdengla Thanks, the problem is solved.

[2022-08-01 08:22] vamon-7 opened #11133 "Postman windows desktop app dev tool opens on cntrl+shift+i"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

Postman windows desktop app dev tool opens on Ctrl+shift+i i think which should happen on production env.

### Steps To Reproduce

1. open postman
2. ctrl+shift+i

### Screenshots or Videos

![image](https://user-images.githubuse

[2022-08-01 09:23] SanderBouwhuis opened #11134 "Missing 'Always open requests in new tab' setting"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

It drives me nuts that every 10 minutes I have to close dozens of tabs because Postman opens a new tab for EVERY SINGLE request.
I searched online and saw that others mentioned I could turn this off in the 'general' settings with

[2022-08-01 09:34] DannyDainton commented on #11125
It's an issue with disabling the option, once you had enabled it? Rather than the feature not actually working?

[2022-08-01 09:41] DannyDainton commented on #11131
@mba8487143 Did this solve your issue?

From your video, it's difficult to see all the requests being made and know if a redirect is happening somewhere along the flow. If it does, that could account for the change in the HTTP method.

[2022-08-01 09:47] DannyDainton commented on #11133
Hey @vamon-7

I'm not sure what problem you're reporting here - could you elaborate more, please?

[2022-08-01 09:51] LuckyTil commented on #11125
Hi, Danny Dainton.

I don't know if this feature actually works.
I see that after selecting the "Enable hardware acceleration" option in the menu, its value remains unchanged.

--
 З повагою,
 Lucky.Til
***@***.***

[2022-08-01 09:54] DannyDainton commented on #11134
Hey @SanderBouwhuis

That option was removed from the platform a while ago, I'm unsure of the version used in the first screenshot.

On the web version of Postman (https://go.postman.co), we have released a new tab-less style UI which might help here. You can enable this from the setting, this isn't currently available in the desktop client.

<img width="359" alt="image" src="https://user-images.g

[2022-08-01 10:06] DannyDainton commented on #11124
Hey @ricrb

Were you able to recreate this issue again on your side?

[2022-08-01 12:27] jviotti commented on #11125
Hi @LuckyTil ,

What GPU brand/model do you have?

[2022-08-01 13:44] MrHaroldA commented on #2931
@tiagohillebrandt there's a new version again: Postman v9.25.2. Is it feasible for you to keep updating the PPA, or should we switch to a different way to keep our local Postman installations up-to-date?

[2022-08-01 14:22] Suhas-Gaikwad commented on #6452
We are working on the MFA feature and will release it in September 2022.

[2022-08-01 14:25] ziegenberg commented on #6452
That's awesome news!

[2022-08-01 14:37] lorand-horvath commented on #11088
Version removed from filename as of 2022-08-01. Not the best solution since the version can still be read from file properties. Anyway, closing this as /wontfix.

[2022-08-01 14:37] #11088 closed, assigned to jviotti

[2022-08-01 15:20] SanderBouwhuis commented on #11134
Oh no!

Is there a registry setting or workaround I can do to limit the amount of tabs to 1 (or just a few?)

[2022-08-01 16:47] ricrb commented on #11124
Hey @DannyDainton , thanks for following up on this issue. To recreate the issue, I added 2 folders with 2 requests to the original collection that had failed. My next step was moving that collection to the empty workspace. When I selected the destination to move it, I got the following error; but I also got a confirmation that it was moved and I can see it in the new workspace.

<img width="481"

[2022-08-01 16:59] ricrb commented on #11124
However, once in the new workspace, I could not reproduce the issue again.

It's not the first time this happened to me – copied or imported requests don't show any content in the macOS app. In fact, it happened when I first started using Postman desktop and I almost quit using it, until I found the workaround with renaming the failing requests to fix them. This issue have happened so many times n

[2022-08-01 17:12] dgonzalezc commented on #11069
Hi @barshan23 ,

Since you already converted the workspace to a personal workspace, there shouldn't be any changes to the content of the workspace when deleting / leaving a team.

When inviting a user to the public workspace and convertion to personal workspace occurr, postman copy object and relations between them correctly.
The problem occurr when the last / only user leave the workspace, in tha

[2022-08-01 18:51] LuckyTil commented on #11125
Hi, Juan.

1. Intel UHD 630
2. GeForce RTX 2060

-- 
З повагою,
Lucky.Til
***@***.***

[2022-08-01 18:57] Kupie commented on #9488
Insomnia's pretty good. It's like what Postman wanted to do before they sold out

[2022-08-01 20:55] spacecat commented on #8950
I tried this:

1. Setup new github integration
2. Configured all of my branches in postman
3. push and pull works fine
4. I gave postman app authorization on github as per prompted so postman can read/write etc in my repo
5. I imported my swagger.json (generated from my Headless CMS) as API in postman
6. I generated collection in postman
7. I added a new pagetype in the CMS which in turn autogener

[2022-08-01 20:56] spacecat commented on #8950
I tried this:

Setup new github integration
Configured all of my branches in postman
push and pull works fine
I gave postman app authorization on github as per prompted so postman can read/write etc in my repo
I imported my swagger.json (generated from my Headless CMS) as API in postman
I generated collection in postman
I added a new pagetype in the CMS which in turn autogenerates the new endpoint

[2022-08-01 23:58] bpleon commented on #7221
Is this happening again?
I'm on v9.24.2 and the request is taking a min or so (of a 1.5 min request) and am getting the `Error: connect ETIMEDOUT`

[2022-08-02 03:43] s53kr-lm8a6r opened #11135 "A built-in tools to convert data"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request and I know that duplicates will be closed

### Is your feature request related to a problem?

as a developer, I usually needed to convert data to another type.
for example, there is probably a case where the data needs to be serialized to Base64 on some field, and therefore I used

[2022-08-02 04:59] khairul-cprvision commented on #7150
It seems like Postman is not targeted at large enterprises that collaborate across multiple entities

[2022-08-02 05:56] umeshp7 commented on #10648
The issue with Importing via URL has been fixed and in production.

@Jonnygeneral33 Seems like the content you are trying could be invalid to be imported in Postman.
Could you share a bit more info around this?
- What is the error you are receiving? (in both URL and Raw)
- What version of app you are on?
- If possible, could you share the content you are trying to import? You can share it via help

[2022-08-02 06:14] onacit opened #11136 "Add or set link to the local location for downloaded file"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request and I know that duplicates will be closed

### Is your feature request related to a problem?

When a response dowloaded file, it will be better if postman set a link for opening local location for the downloaded file.
Not just a notice.

### Describe the solution you'd like

Put(s

[2022-08-02 06:36] godfrzero commented on #3174
Hey folks! We've added support for data files in monitors created via web app and we'll be rolling these changes out to the desktop apps soon. We're starting with smaller data files for now — 1 MB, up to 50 rows — but we'll gradually increase that over time. I'll post here again as this becomes available on the desktop app and as we increase the size of supported data files.

[2022-08-02 06:44] godfrzero commented on #8480
Hey folks! We haven't picked this up yet but it's on our radar. We've recently added support for data files and extended the monitor timeout from 5 to 15 minutes, so I'll post an ETA for supporting file uploads here as soon as we have one figured out.

In the meantime, we'll update the documentation to clearly outline the constraints currently in effect.

[2022-08-02 06:48] barshan23 commented on #11069
Hi @dgonzalezc

As of now, when an API is moved, its artifacts (collections, Environments) are not moved together. The artifacts still remain in the same workspace, even though the API is moved to a different workspace.

[2022-08-02 08:37] DannyDainton commented on #10229
Hey @VShingala,

Did this get resolved with that release? Could this be closed now?

[2022-08-02 09:27] VShingala commented on #10229
@DannyDainton This is fixed now! I've verified the same so closing it now.

[2022-08-02 09:27] #10229 closed, assigned to akshaydeo, raghumurthy-jayandran

[2022-08-02 09:28] VShingala commented on #10229
@ThierryRassat Issue is fixed now. Feel free to open it if you're facing any further issues with it.

[2022-08-02 10:08] DannyDainton commented on #11134
No registry setting that I'm aware of - We're you able to check out the behaviour of the tab-less mode in our web version, I mentioned previously?

[2022-08-02 12:30] arhill05 opened #11137 "Importing a Swagger 2.0 spec with examples and then creating a mock server from the imported collection does not work out of the box"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

I am trying to import a very large Swagger 2.0 spec into Postman, create a collection based off of it, then create a mock server for the collection. The problem I'm running into is without modifying any of the examples included i

[2022-08-02 12:47] Meizygam opened #11138 "Can't move a folder from one collection to another"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

I have two collections and I want to move a folder from a to b but I keep getting 'Unable to reorder folder'
'

### Steps To Reproduce

1. create a collection
2. create a folder inside the collection
3. add requests inside the fo

[2022-08-02 14:03] TLYoz commented on #8929
+1 The proposed work around is truly awful.

[2022-08-02 14:04] TLYoz commented on #7325
+1 There are many similar requests to this all pretty much the same all generating a lot of interest.

[2022-08-02 14:34] DannyDainton commented on #11138
Hey @Meizygam

I've tried to replicate the issue on my side and I've been unsuccessful so far 😞 - Are you doing this in a Personal or Team Workspace?

I see that the videos didn't quite upload on the issue, are you able to reattach them so that we can see what's happening?

[2022-08-02 14:37] DannyDainton commented on #11137
Hey @arhill05

Are you able to provide a scaled-down version of the file that shows the issue? Do you change any of the Advanced Settings for the schema when importing?

[2022-08-02 14:46] AlesBudna opened #11139 "New request example does not inherit parent request body type"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

"Add example" on HTTP collection's request copies body of parent request but does not inherit its body type (e.g., JSON). Basic text is always applied and user needs to switch it then.

### Steps To Reproduce

1. Right click on c

[2022-08-02 14:57] DannyDainton commented on #11139
Closing as a duplicate of #8482

[2022-08-02 14:57] #11139 closed, assigned to nobody

[2022-08-02 15:25] arhill05 commented on #11137
@DannyDainton thanks for the quick response!

Here's a file containing a scaled-down version of the Postman collection with the issue.

[Person.postman_collection.zip](https://github.com/postmanlabs/postman-app-support/files/9243552/Person.postman_collection.zip)

Here are the advanced options I have selected when importing the Swagger spec:
![image](https://user-images.githubusercontent.com/13209

[2022-08-02 15:27] Meizygam commented on #11138
Hey @DannyDainton,
 I’m doing it in a team workplace.
I attached the video again.

https://user-images.githubusercontent.com/77665768/182411620-642d50bb-0977-48e6-804c-513ab6c58c28.mov

https://user-images.githubusercontent.com/77665768/182412189-8f5d7c22-e65a-46f7-96dd-34fca6b2cfb9.mov

Thanks

[2022-08-02 16:38] demdante commented on #11099
You are right.  I didn't save the request, and that was the problem.  Closing this issue.

[2022-08-02 16:38] #11099 closed, assigned to nobody

[2022-08-02 17:34] bb100d commented on #4603
This problem still exists. Please add the ability to mock the OPTIONS.

[2022-08-02 17:36] b4brijesh opened #11140 "Support configuring GRPC client options (like increasing MaxCallSendMsgSize)"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request and I know that duplicates will be closed

### Is your feature request related to a problem?

Yes. If I send a base64 encoded image payload of size larger than 4MB to a server I get an error such as the one in this: https://stackoverflow.com/questions/55362342/grpc-received-messag

[2022-08-02 18:28] arhill05 commented on #11137
@DannyDainton I re-read your question and realized I didn't give you the original source file. I've trimmed it extensively and recreated the problem using it in the steps to reproduce in the post above.

I've attached the trimmed version of the original source file
[Party-Person_min.zip](https://github.com/postmanlabs/postman-app-support/files/9244780/Party-Person_min.zip)
.

[2022-08-02 18:39] codenirvana commented on #11140
@b4brijesh Yes, we are tracking this and will add support for configuring more client options soon.
Currently, we only support enabling/disabling server certificate verification under the request "Settings" tab.

Apart from `MaxCallSendMsgSize` and `MaxCallRecvMsgSize`, is there any other configuration that's blocking you to test your APIs using Postman?

[2022-08-02 18:43] SanderBouwhuis commented on #11134
It looks remarkably similar! Very nice.
But... how do I activate tab-less mode? I tried it just now and it still opens many tabs. The settings also didn't have an option for tab-less mode (that I could see).

[2022-08-02 21:25] johnshengkpmg commented on #6926
Hi @abeward,

I like your idea of "log the folder's name"!

Thank you!

[2022-08-02 22:49] larinius commented on #7294
Same issue, 90% CPU load. Several years, users reporting this behavior. Who cares?

[2022-08-03 00:22] iranbrg commented on #6682
+1

[2022-08-03 04:26] Murali-P commented on #5040
+1

[2022-08-03 05:01] b4brijesh commented on #11140
no. just these 2 configs.

[2022-08-03 06:40] samuelmendezfx commented on #10092
I'd love to see this feature implemented

[2022-08-03 06:42] akshay-kulkarni-03 commented on #11038
@boskomirkic we have identified the root cause for this issue and fixed it. Feel free to re-open this issue if you encounter it again!

[2022-08-03 06:42] #11038 closed, assigned to nobody

[2022-08-03 07:50] SanderBouwhuis opened #11141 "Cursor can't reach text in edit boxes"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

Since the most recent update I can no longer reach the end of lines in any edit box.
The cursor stops a few characters short of the end of every line. This means I cannot edit and cannot select any of that text.
This is a HUGE pr

[2022-08-03 08:06] ranjit-singh-eva-bbsr opened #11142 "Search for text in a URL"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request and I know that duplicates will be closed

### Is your feature request related to a problem?

There is no option for searching action.
Example, We have action like "{{ReportUrl}}/api/OpportunityReport/GenerateDealerPIReport?reportName=rptDealerPISG&renderType=PDF"

here I wanted t

[2022-08-03 08:37] benshabatnoam opened #11143 "Automated free trial period once creating a new team makes it a waste"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request and I know that duplicates will be closed

### Is your feature request related to a problem?

No

### Describe the solution you'd like

I just create a new team apparently by inviting my team members to my workspace/organization.
On next morning, after 2 of my team members accepte

[2022-08-03 10:05] Wooulf opened #11144 "Accessing object properties inside request url and request body"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request and I know that duplicates will be closed

### Is your feature request related to a problem?

![](https://user-images.githubusercontent.com/73465466/182579957-a4841a1e-b8c9-49e1-97fc-74413d29b783.png)

I can't have access to json properties inside the requests urls (and requests b

[2022-08-03 10:43] Sti2nd commented on #9582
The workaround I use is to not update Postman ever.

[2022-08-03 11:58] DannyDainton commented on #11131
Hey @mba8487143

I'm going to close this issue, for now, if this solution didn't solve the problem we can look at reopening it again.

[2022-08-03 11:58] #11131 closed, assigned to nobody

[2022-08-03 14:04] fishem commented on #5286
Thanks, It worked perfectly fine now!

[2022-08-03 14:43] pbartoszek commented on #8195
Please add it..

[2022-08-03 14:56] DannyDainton commented on #9884
Closing this issue as a fix was released in a previous version. If this is still an issue we can look at reopening the issue again.

[2022-08-03 14:56] #9884 closed, assigned to umeshp7

[2022-08-03 15:07] okcthulhu commented on #7596
Our team is considering switching to Insomnia for this exact reason. We need to know the uncompressed response size in order to test what's going on with API limitations from our providers. Would love to see a fix.

[2022-08-03 15:09] DannyDainton commented on #11141
Hey @SanderBouwhuis

I've been unable to reproduce this issue in the latest version of the app 🤔

<img width="736" alt="image" src="https://user-images.githubusercontent.com/17089546/182642705-5833f0ac-5fbc-40aa-81a5-133d253ecb09.png">

Are you able to update to version 9.27.0 and see if this helps?

[2022-08-03 15:12] DannyDainton commented on #11142
Hey @ranjit-singh-eva-bbsr

Can I clarify that you mean searching for different parts of the URLs, within your Collections?

[2022-08-03 16:20] arcataroger commented on #4193
Please allow us to do this. I'd hate to have to switch to Insomniac just for this feature :(

[2022-08-03 17:12] tsong-wallis commented on #5222
we are way into 2022 and still missing sort feature

[2022-08-03 17:56] SanderBouwhuis commented on #11141
![2022-08-03 19-53-44 483x199 Postman](https://user-images.githubusercontent.com/10495173/182676537-9fb01e38-52e4-4a9e-b426-1e5e47c6baac.png)

![2022-08-03 19-51-50 776x923 Postman](https://user-images.githubusercontent.com/10495173/182676557-8e93ac60-4776-4d86-8681-1c94299f1b13.png)

Not being able to edit and not being able to make a selection makes working with Postman nearly impossible for me.

[2022-08-03 18:38] kevinswiber commented on #7596
A workaround I use is to either `console.log` the information I need or use the Postman visualizer.

Here's a script I drop in to the Tests tab to use the visualizer and inspect the body size:

[code]

You have to select the `Visualize` tab in the Response pane, and it looks something like this:

<img width="714" alt="image" src="https://user-images.githubusercontent.com/78582/182684047-1b53461a-1

[2022-08-03 18:46] esoca commented on #8231
Same use case @AndreasHuber-CH : https://github.com/postmanlabs/postman-app-support/issues/8231#issuecomment-1180106429

[2022-08-03 20:07] vancurenaaron commented on #6355
This would be nice. I have a collection with hundreds of folders.

[2022-08-03 21:05] matisidler commented on #8747
waiting for a solution :|

[2022-08-03 21:49] mtaylorfsmb opened #11145 "API Generate Collection does not support inheriting auth from parent collection"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

I am using Postman to define an API. Within the OpenAPI spec I am defining OAuth with scopes as the authentication. Each endpoint may require different scopes. After defining the API if you save and then generate a collection fro

[2022-08-04 01:52] Hoover391github2 opened #11146 "https://postmaster Hoover"
### Describe your current workflow

To handle the collection use of my communication app which is an encryption app that encrypts an archived library asset frequency database of Open Source documents over to https everywhere encryption software a solution to browsers for key search in databases a communication tool for computer language

### Describe your ideal workflow

Make sure security status

[2022-08-04 03:13] LTRichHouse commented on #3360
Awaiting resolution. Much needed feature!

[2022-08-04 03:18] LTRichHouse commented on #3845
+1.

[2022-08-04 08:25] Overrided commented on #7294
Additional steps to reproduce, to anyone converned (if any at all on Postman team).

* Open Postman
* Perform any request from collection / scratchpad / whatever
* Minimize Postman window (!)
* Open Task Manager and enjoy Postamn frying your computer

If you just open Postman and perform no requests, it will just sit in background doing nothing.
Windows 11 Pro x64, Postman Version 9.27.0

[2022-08-04 08:55] TufferyJordan commented on #7083
+1 it would definitely be neat to have this feature

[2022-08-04 09:45] vince4 commented on #8179
+1 🙂

[2022-08-04 11:34] w4dd325 opened #11147 "Leaving a team deleted all my personal workspaces"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

I joined a team to help someone build something (which I have done a few times in the past).
Once I had finished helping them I left the team.

When I left there was a message that said I would no longer have access to workspaces

[2022-08-04 12:17] WatanabeThiago commented on #11131
My postman is updated, but dont have "Follow original HTTP method" option
![image](https://user-images.githubusercontent.com/50850299/182844541-3029df2c-ab3a-4424-9403-42a181ada938.png)

My version:
![image](https://user-images.githubusercontent.com/50850299/182844706-c5f9bc05-fd57-4ba9-8111-358e3bacc5f6.png)

[2022-08-04 13:48] rich-grundy-cko commented on #3777
+1

[2022-08-04 13:56] kamalaknn commented on #5980
@vizakgh Hey do you see any crash reports under the crashpad directory `C:\Users\admin\AppData\Roaming\postman\crashpad (Windows)` or `~/Library/Application Support/Postman/Crashpad`?

[2022-08-04 13:58] laaser-mself opened #11148 "MAC OS - Double click on title bar is misbehaving"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

In the most recent version of POSTman, the behavior when double-clicking the title bar is no longer obeying the system setting in System Preferences -> Dock & Menu Bar.

### Steps To Reproduce

In System Preferences -> Dock & Men

[2022-08-04 14:15] DannyDainton commented on #11141
Hey @SanderBouwhuis

This looks like this could be a bug in the underlying Monaco editor https://github.com/microsoft/vscode/issues/139281

Could you expand some of your specific Postman details so we can get a clearer picture of what could be happening:
- Are you using a certain screen resolution?
- Is this using 2 pane mode?
- What is the current zoom level you have set and does resetting this h

[2022-08-04 14:39] vizakgh commented on #5980
 Hi. Yes. 75 reports.  Last in attach. Regards,Victor From: KamalakannanSent: 4 серпня 2022 р. 16:56To: postmanlabs/postman-app-supportCc: vizak; MentionSubject: Re: [postmanlabs/postman-app-support] Gray/blank screen after some seconds ***@***.*** Hey do you see any crash reports under the crashpad directory C:\Users\admin\AppData\Roaming\postman\crashpad (Windows) or ~/Library/Application Suppor

[2022-08-04 14:41] DannyDainton commented on #11133
Hey @vamon-7

Closing this issue due to lack of information, we can look at reopening if more context is provided.

[2022-08-04 14:41] #11133 closed, assigned to nobody

[2022-08-04 15:12] kamalaknn commented on #5980
@vizakgh Hey, could you share the crash reports with us at `help@postman.com`?

[2022-08-04 15:19] onetuser opened #11149 "Client certificate with host with space in the beginning"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

Adding client certificate in the settings (for mtls requests) with host name with space in the beginning (' some.host') neither removes the space automatically nor visually detectable and the certificate does not work.
The space

[2022-08-04 15:43] baustinceltic commented on #8501
Just adding another comment here in favor of implementing this.

[2022-08-04 18:02] vizakgh commented on #5980
done Sent from Mail for Windows From: KamalakannanSent: 4 серпня 2022 р. 18:12To: postmanlabs/postman-app-supportCc: vizak; MentionSubject: Re: [postmanlabs/postman-app-support] Gray/blank screen after some seconds ***@***.*** Hey, could you share the crash reports with us at ***@***.***?—Reply to this email directly, view it on GitHub, or unsubscribe.You are receiving this because you were mentio

[2022-08-04 18:03] vizakgh commented on #5980
report sent to help@postman.com

[2022-08-04 18:41] stevenvandyke opened #11150 "Each HOST can have multiple certs. Each REQUEST can select which cert to use."
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request and I know that duplicates will be closed

### Is your feature request related to a problem?

Our API has one host "abc.example.com" shared by multiple controllers containing many endpoints. The problem is, some of our endpoints require an Admin Cert, some require a User Cert othe

[2022-08-05 01:04] sseenivasan89 opened #11151 "Invalid file format error message on while uploading the data files for collection monitors"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

when i upload the data file (csv) to the collection monitors, it says as **_Invalid file format. Only JSON and CSV files are accepted._**

there is no error when i used the same file to run collections from collection runner and

[2022-08-05 01:23] sseenivasan89 opened #11152 "Invalid character in file name error message display in irrelevant section of monitor"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

invalid character in file name error message displayed in **_monitor name section_** instead of **_upload a data file section_** when the data file name saved with some invalid characters

### Steps To Reproduce

1. Open monitor

[2022-08-05 01:45] godfrzero commented on #11152
Hey @sseenivasan89, thanks for reporting this issue. We've got our eyes on this and we'll work on getting this resolved soon.

[2022-08-05 02:53] sagaofsilence commented on #10928
Turning off "Optimize conversion" worked for me... thanks a lot.

[2022-08-05 05:17] kamalaknn commented on #7294
Hey @Overrided @tysonmalchow @Mopilani @larinius

We are looking into this issue.

1. Could you share a screenshot with the Postman section expanded in the Task Manager? This will help narrow down if the usage is correlated to any particular process.
2. Can you share the logs from `View -> Developer -> Show logs in Explorer` with us to `help@postman.com`? Do reference the GitHub ticket id in your

[2022-08-05 05:59] sseenivasan89 opened #11153 "Implement the hide and open option for pane of right context bar"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request and I know that duplicates will be closed

### Is your feature request related to a problem?

if we have option to hide the right pane of context bar it will be easy to read the responses in bit wider

![image](https://user-images.githubusercontent.com/44080743/183011074-a9205d02-

[2022-08-05 07:28] yewanji opened #11154 "Postman modifies the content of the request body through the pre-request."
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

A lot of times, what we send to the background needs to be encrypted, so I came up with a pre-request, where you encrypt the body of the request before you send it to the background
![image](https://user-images.githubusercontent.

[2022-08-05 07:30] SanderBouwhuis commented on #11141
1. Two monitors:
   left monitor = 2560x1440
   right monitor = 3840x2160
2. It happens in both left-right ('2 pane') mode and in the above-below mode
3. Zoom level? I don't know about that feature. Or do you mean the Windows scaling factor? It's set to 100%
4. I don't know where the 'copy' button is
5. Raw is also wrong, but Preview mode works correctly!

![Postman raw](https://user-images.github

[2022-08-05 08:23] kamalaknn commented on #5980
Thanks for the crashdump @vizakgh We are taking a look at it now.

[2022-08-05 08:40] sseenivasan89 opened #11155 "Create monitor form appears to show the collection name has extra spaces"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

In create monitor page when we select the collection name from drop down the collection name takes some extra following spaces in the box

### Steps To Reproduce

1. Open the monitor tab
2. Create monitor
3. Select the collection

[2022-08-05 08:40] DannyDainton commented on #10052
Closing this due to inactivity. If you're still facing this issue in the latest version, could you provide the required information that will allow us to investigate further?

[2022-08-05 08:40] #10052 closed, assigned to nobody

[2022-08-05 08:41] DannyDainton commented on #10031
Closing due to inactivity.

[2022-08-05 08:41] #10031 closed, assigned to nobody

[2022-08-05 08:45] DannyDainton commented on #10553
Hey @yurii2004

I'm going to close this issue, it's not clear what your use case is and why you would need to store larger responses. If you can provide more context we can take another look and reopen the issue.

[2022-08-05 08:45] #10553 closed, assigned to nobody

[2022-08-05 08:46] DannyDainton commented on #10830
Hey @MathiasKandelborg

Is this still a problem that you're facing in the latest version?

[2022-08-05 08:48] DannyDainton commented on #10847
Closing this due to lack of context and information. A short recording of the problem or a more complete set of reproduction steps will help us to investigate the issue you're facing, without those it's difficult to progress anything here.

[2022-08-05 08:48] #10847 closed, assigned to giridharvc7

[2022-08-05 08:51] DannyDainton commented on #10925
Closing this due to inactivty. If this is still any issue you're facing in the latest version, could you provide the requested information so that we can investigate the problem further.

[2022-08-05 08:51] #10925 closed, assigned to nobody

[2022-08-05 08:58] DannyDainton commented on #11155
Hey @sseenivasan89

It's difficult to see from that image if the Collection name also has extra spaces. If it does, then it's going to be reflected in that dropdown.

[2022-08-05 09:00] DannyDainton commented on #11151
Hey @sseenivasan89

Can you supply a copy of the file that you're seeing the issue with, please? Also, what does the preview of the Runner file look like when opened?

[2022-08-05 09:06] DannyDainton commented on #11150
Hey @stevenvandyke

Is this feature request similar to the one you're asking for here?

https://github.com/postmanlabs/postman-app-support/issues/4033

[2022-08-05 09:10] DannyDainton commented on #11154
Hey @yewanji

Can you update the issue with a clear set of steps to reproduce this problem, please?

I can see that you have mentioned you're using 7.36.6 - Is this still an issue you're facing in the latest version of the platform?

[2022-08-05 09:25] fengsuiyvmin opened #11156 "How can I change my UI language into another Language like French?"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request and I know that duplicates will be closed

### Is your feature request related to a problem?

I can't find any setting item for change the ui language

### Describe the solution you'd like

Plese tell me where is the language settings button or add it.

### Describe alternatives y

[2022-08-05 10:01] sseenivasan89 commented on #11155
Hey @DannyDainton

The actual collection name does not has any extra spaces, the following extra spaces comes only in the monitor page when i select the collection name from dropdown

[2022-08-05 10:05] sseenivasan89 commented on #11151
Hey @DannyDainton

when i tried with collection runner the preview was as expected but when i uploaded the same file in monitor it showed me the above error
attaching the file what i tried

[DataMonitor.csv](https://github.com/postmanlabs/postman-app-support/files/9267682/DataMonitor.csv)

[2022-08-05 10:15] woomiz commented on #8612
idk how but this worked for me

[2022-08-05 10:17] DannyDainton commented on #11155
It's still hard to _see_ that 😂

Can you share a copy of that collection file so we can check it locally?

[2022-08-05 10:47] sseenivasan89 commented on #11155
did you try that ? the | (pipe) symbol stay after following 2 spaces in collection name box after you selecting the collection name from the drop down

[2022-08-05 11:06] vizakgh commented on #5980
https://user-images.githubusercontent.com/44437566/183065046-41857f93-d681-42ad-9495-872ef1faffe8.mp4

[2022-08-05 11:25] RaisinTen commented on #5980
@vizakgh the crash dump you shared indicates that it happened because of an "Out of Memory" error. Can you also check the memory consumption and confirm if that's indeed true?

[2022-08-05 12:10] vizakgh commented on #5980
I have 64GB RAM (~48GB free). App doesn't crash. I manually stop process because can't close the window (no buttons).

[2022-08-05 12:16] vizakgh commented on #5980
I run app with debugger:
Exception thrown at 0x00007FFCDBE5474C (KernelBase.dll) in Postman.exe: 0xE0000008 (parameters: 0x0000000000000000).

[2022-08-05 12:22] RaisinTen commented on #5980
FWIW, I have already symbolicated your crash dump:

<details>

[code]

</details>

It says that the crash is coming from https://source.chromium.org/chromium/chromium/src/+/refs/tags/94.0.4606.81:third_party/blink/renderer/core/paint/pre_paint_tree_walk.cc;l=335.

[2022-08-05 12:43] RaisinTen commented on #5980
@vizakgh what happens when you try to run it with these command line arguments `--args --js-flags="--max_old_space_size=8192"`?

[2022-08-05 13:08] vizakgh commented on #5980
the same issue.
P.S. I have 4 postman processes started:
![image](https://user-images.githubusercontent.com/44437566/183084017-aa16ee86-e96a-4fcc-9e04-db9843350f90.png)

[2022-08-05 13:12] RaisinTen commented on #5980
does it happen if you keep increasing the value?

[2022-08-05 13:13] RaisinTen commented on #5980
also, could you share which one of these processes get terminated?

[2022-08-05 13:21] vizakgh commented on #5980
none of them. I already said - app doesn't crash. app continue working but grayed.

[2022-08-05 13:23] RaisinTen commented on #5980
yea, I get that. It's one of the renderer processes that crash, which is not the same as "the postman app". Just wanted to know which one of these is the one.

[2022-08-05 13:50] Shawanga commented on #4817
Having the same issue today on macOS Monterey 12.5 intel.

[2022-08-05 13:56] Shawanga commented on #4817
Please update the download version on the site.  Newly installed from the side (https://www.postman.com/downloads/) had the same error on macOS Monterey 12.5. Needed to update it to fix it and works now.

[2022-08-05 14:07] ArjunSingh-PM commented on #11147
Hi @w4dd325, thanks for reporting this issue. Would you be able to reach out to the person you assigned your personal workspaces to before you left the team? If yes, you can request them to export your collections and environments and share the same with you.

[2022-08-05 14:16] kathychurch commented on #11147
This happened to myself and another person yesterday as well when our team trial ended.  Lost access to our personal workspaces and all their contents.  I requested for one of the people still on the team to export our collections, but he was unable to find them.

[2022-08-05 14:16] stevenvandyke commented on #11150
Yes, it is the same basic problem we are both reporting. His #2 suggestion is like mine, but my suggestion goes into a bit more detail. I wish you could make this a high priority, as I'm sure lots of users are just dealing with the pains of the current design. Thank you.

-Steve
________________________________
From: Danny Dainton ***@***.***>
Sent: Friday, August 5, 2022 4:06:17 AM
To: postmanlab

[2022-08-05 14:27] DannyDainton commented on #11151
I've been unable to reproduce this issue with that file - It will load fine in both the Runner and Monitor datafile sections.

I did see the error when I renamed the file type when selecting it in the file explorer.

![image](https://user-images.githubusercontent.com/17089546/183097717-b1d1f549-4710-460c-9477-234d44dd1112.png)

Was your file originally saved as something else, like an `.xls` befor

[2022-08-05 14:39] w4dd325 commented on #11147
I will try but the person I was helping is not someone I know... So fingers crossed they try and help.
Either way, this feels like it could be a massive security risk, as you are saying that the random guy I was helping now has visibility and ownership of all of my personal workspaces... Unless I have misunderstood??

[2022-08-05 14:45] vizakgh commented on #5980
this:
![image](https://user-images.githubusercontent.com/44437566/183101396-df86b32c-a7ab-4026-9067-8362de0d37d3.png)

[2022-08-05 17:27] Slick1212 commented on #2452
Dog pile.  Feels like 8 years on the books is a tad long.  The most frustrating (and most important) thing working with API's is the security part it seems.

[2022-08-05 19:18] meesii commented on #2701
+1

[2022-08-06 16:05] prmichaelsen commented on #3563
just discovered https://hoppscotch.io/

it's an open source alternative to postman. get rekt postman.

[2022-08-06 16:07] prmichaelsen commented on #3563
@AjaySewradj you may be interested in checking out this open source alternative chartered in aug '19: https://hoppscotch.io/

"too little, too late" as far as the implementation of this feature goes. i'm always excited to bail on greedy closed source projects ^-^

[2022-08-06 17:01] Tyler-Ouellette opened #11157 "Right Clicking Causes crash latest version of Postman, Windows 11"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

When I go to right click, whether it is to duplicate a request/tab, to copy a value in the body etc. Postman just crashes. It also happens when I left click the burger menu in the top left corner.

This is a 1 week old windows in

[2022-08-06 21:14] denis-heise opened #11158 "The computer freezes when starting the postman desktop program."
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

The computer freezes when starting the postman desktop program.
It works for a minute and a half, and then the program freezes and the computer with it.
Windows installed two weeks ago, updated drivers, but did not help.

Laptop:

[2022-08-07 09:01] blake256 commented on #5816
any update @jviotti ?

[2022-08-07 09:38] Meizygam commented on #11138
also, I can't delete folders.
It's blocking me to run the collection after deployment to prod! is there any estimation?

[2022-08-07 10:51] The-Anomaly commented on #7150
Hi Postman Team. Is there any update on this?

[2022-08-07 19:06] 80avin commented on #9149
@diegosasw Sadly, no update yet.

If it were an open-source app, I would have contributed it myself as it requires only one line change.

[2022-08-07 19:41] #11158 closed, assigned to nobody

[2022-08-07 20:59] cristinacamilolima commented on #5040
+1

[2022-08-08 03:50] dgonzalezc commented on #11069
Hi @barshan23

is there a plan to fix this or postman is not considering fix it??

- Since postman is pushing the concept of "Api First" on their platform, I think this should be fixed.
- What is the point of having a platform focused on API first if the connection / relationship between the definition of the APIs and their objects is lost in this type of migration process?

Best Regards

[2022-08-08 05:32] shashankawasthi88 commented on #3563
@prmichaelsen @AjaySewradj @tyomo4ka and others, I am reopening this ticket. We have started working on integration with local file systems. We want to understand your local development workflows. Feel free to schedule a call with us using [this](https://calendly.com/shashank-awasthi/local-git-feedback) link or feel free to drop me a mail at shashank.awasthi@postman.com describing your workflows.

[2022-08-08 05:45] syferak commented on #11129
Hi @shivushedad, Could you share the application logs with us at help@postman.com so we can take a deeper look at what's happening here?

You can get the application logs by going to View -> Developer -> View logs in Explorer (Windows)

[2022-08-08 09:11] DannyDainton commented on #11156
This functionality is not currently part of the Postman platform. A workaround could be to use the web version of the platform (https://go.postman.co) and have the browser translate the text on the interface.

<img width="2997" alt="image" src="https://user-images.githubusercontent.com/17089546/183382800-b82f7ba1-216a-40d5-9654-c3c639d55cfb.png">

Not an ideal solution but it's the only one availa

[2022-08-08 09:11] fengsuiyvmin commented on #11156
这是来自QQ邮箱的自动回复邮件。您好，我最近无法亲自回复您的邮件。我将在有空时尽快给您回复。

[2022-08-08 10:18] RaisinTen commented on #5980
Thanks @vizakgh. I need some more info from you:

* Would it be possible for you to share with us how much memory those processes were using right before the crash? That should help us better understand the memory limits that we are dealing with.
* Having the application logs too would be helpful. It should help us understand what part of the application code is causing such high memory usages.
*

[2022-08-08 10:20] GrinOleksandr commented on #6682
+1

[2022-08-08 10:30] shanky101 commented on #5980
We have narrowed this down to an out of memory condition which might be causing this issue. If you could supply us some additional application logs and shed light on the below questions, it would help us immensely in narrowing the issue further.
-  The type of workspaces that were getting used prior to the crash
-  Some info around number of requests in the workspace
-  Is this happening in a part

[2022-08-08 13:39] jviotti commented on #5816
We have internal builds going-on. The main blocker we are hitting at the moment is that these builds do not work when running Linux on Apple Silicon. That said, we have a way forward and we'll be resuming the RC preview of this feature soon!

[2022-08-08 14:31] BlackGad commented on #8929
Any chance that this feature will become available?) Or it is just placeholder for random complains?

[2022-08-08 15:05] LogeshVel opened #11159 "Saving the entire WebSocket communication as example"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request and I know that duplicates will be closed

### Is your feature request related to a problem?

Yes. it would be great if we can save the communications as an example.

### Describe the solution you'd like

Say for example, if we are connected to the websocket server and we are comm

[2022-08-08 16:16] vizakgh commented on #5980
1. Working locally in Scratch Pad.
2. ~50-60 requests. 12 requests with body size ~2-3MB each.
3. I don't use workspaces.

![image](https://user-images.githubusercontent.com/44437566/183464569-405bc8db-98d4-4644-9fa9-72831874680f.png)

[2022-08-08 17:39] asheroto opened #11160 "New param with key and description but empty value causes description not to save"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

In a request, in params, on a new key, if you enter the key and a description but nothing in value, then save it, the description disappears

### Steps To Reproduce

This only occurs on a NEW parameter in a request, one that does

[2022-08-08 17:42] w4dd325 commented on #11147
I messaged the person 3 days ago but as of yet I have not heard back and still have no access to any of my workspaces.
Are there any other ways to get these back?

[2022-08-08 17:47] arhill05 commented on #11137
Hey @DannyDainton, I see you labelled this as a bug, but is there anything else that I should do with this? Any idea on a timeline for a fix?

No rush, I'm sure this is a pretty low priority bug compared to the rest of the stuff you have going on - just curious what the typical process is for these kind of things.

[2022-08-08 17:50] clintberry commented on #9508
We are trying to generate new collections based on OpenAPI schema and want to be able to control these settings as well. I tried to see if maybe they just weren't documented and copied the properties that are sent via the postman websocket connection.
[code]

[2022-08-08 18:36] mariomacedo commented on #903
+1

[2022-08-08 20:00] erwinetchart opened #11161 "New site for SEND button"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request and I know that duplicates will be closed

### Is your feature request related to a problem?

The SEND button its too far away from the collection and request section, so this cause in a manual execution to move from one side to other on the screen, slowing the process of testing.

[2022-08-08 20:16] mikeb95 opened #11162 "Duplicating Get does not duplicate the URL"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

I have a group (this can also happen on just 1 call) that I want to duplicate. When duplicating, I would expect that the copied version would be an exact copy of the original but the URL that is create is not the same. If you do

[2022-08-08 20:18] #11162 closed, assigned to nobody

[2022-08-08 20:18] mikeb95 commented on #11162
had an update....installed and working

[2022-08-09 01:17] Praveen23254 opened #11163 "Allow saving different payloads for request body tab"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request and I know that duplicates will be closed

### Is your feature request related to a problem?

Quite often developers want to test their code against different types of payloads - the mainstream ones being a happy flow and a failure case.
This would require multiple edits(in many c

[2022-08-09 02:55] Basuliic commented on #6682
+1

[2022-08-09 08:27] Mahonnant commented on #7982
+1

[2022-08-09 08:36] DannyDainton commented on #11160
Hey @asheroto

I've been unable to reproduce this on the latest version of the app - Could you record a quick video showing the behaviour you're seeing, please?

[2022-08-09 08:45] DannyDainton commented on #11161
Hey @erwinetchart

Sending a request can also be done using the `Command + Enter` keyboard shortcut. There are also equivalent ones for other operating systems.

<img width="683" alt="image" src="https://user-images.githubusercontent.com/17089546/183605459-e31afbc8-4586-447b-97dd-0a7d746e34cb.png">

You could also open the runner in a new tab (Either by the button on the bottom right menu bar or t

[2022-08-09 08:47] MrLimelab commented on #10627
I will add that that's not only needed for authorization, there is some routing rules using headers so we are unable to reach correct pod in cluster without headers

[2022-08-09 08:47] DannyDainton commented on #11157
Hey @Tyler-Ouellette

If you go to `Help > Clear Cache and Reload` and then perform the action again, is this still crashing the app?

[2022-08-09 09:03] DannyDainton commented on #11155
I can see that in the dropdown but those are not 'extra spaces' in the Collection name or have any impact on that Collection in any way.

I believe it's more to do with the component itself - You can type to search for a Collection (or any of the dropdowns in the form), but once something is selected it is miss leading as you cannot use the delete button to remove characters from the name but you

[2022-08-09 09:17] DzhangCHES opened #11164 "Tab out of quotations, brackets, parentheses, etc..."
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request and I know that duplicates will be closed

### Is your feature request related to a problem?

Feature is not related to a problem, just a QoL improvement.

### Describe the solution you'd like

I would like the ability to tab out of quotations, brackets, and parentheses. i.e. hitt

[2022-08-09 10:36] allenzt opened #11165 "wrong IP address can make the request succeed"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

Hi maintainers,

I use the wrong IP address wrong IP address(added a dot fellow the IP address) can make the request succeed, is is a bug or feature?
Request is as below:
[code]

Thanks in advance!

### Steps To Reproduce

1. ope

[2022-08-09 10:59] thundron commented on #11157
can you also send us the crash report if you have it? it should be in `C:\Users\admin\AppData\Roaming\postman\crashpad`

[2022-08-09 11:11] SemyenSoldatenko opened #11166 "Can not turn off INITIAL VALUE and CURRENT VALUE columns"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

Can not configure UI to have only one column in environment configuration. **Value**.

* I don't want CURRENT VALUE
* I don't want INITIAL VALUE
* I don't need any related garbage in the interface, like Persist ALL, Reset ALL.

I

[2022-08-09 11:23] DannyDainton commented on #11166
Hey @SemyenSoldatenko

The variables UI has been displayed that way since ~2018, I'm unsure what you mean by "Like it was before".

As you have decided the repeat the same information in each of the fields and not provide any constructive or actionable information, I'm going to close this issue.

[2022-08-09 11:23] #11166 closed, assigned to nobody

[2022-08-09 11:29] DannyDainton commented on #11165
Hey @allenzt

Postman is just giving you the ability to be able to send a request, if the server accepts that input and responds, it's more on the implementation side of the API. Postman isn't really aware of any of that.

I'm going to close this issue as I don't feel that there is anything we would be changing here. If this leads to other behaviour that could require a product change, please reac

[2022-08-09 11:29] #11165 closed, assigned to nobody

[2022-08-09 11:44] codenirvana commented on #10627
@MrLimelab I understand your use case. We are working on it and will let you know when it's released.

Do you have a similar requirement of sending different reflection and request metadata?

[2022-08-09 11:50] MrLimelab commented on #10627
At this moment we don't need different headers for grpc request and reflection and i'm not sure that this will be required in the future.
Looks like overhead. For our case same metadata for reflection and grpc call will be enough

[2022-08-09 12:03] TianLanSky commented on #6354
unable to verify first certificate?
maybe it because of that web server need to provide all the certificates in certificate chain when ssl/tls negotiation

[2022-08-09 12:03] TianLanSky commented on #10462
unable to verify first certificate?
maybe it because of that web server need to provide all the certificates in certificate chain when ssl/tls negotiation

[2022-08-09 12:04] TianLanSky commented on #8612
unable to verify first certificate?
maybe it because of that web server need to provide all the certificates in certificate chain when ssl/tls negotiation

[2022-08-09 12:52] erwinetchart commented on #11161
Thanks for your response @DannyDainton .

Yes, i'm aware of the key shortcuts which can be useful y certain moments but not all the time.
This question more focused on GUI usability, i also checked out other solutions like postman and i found , in the case of insomina
they have the send button close to the collection.

![image](https://user-images.githubusercontent.com/8241652/183650943-8234d936-d

[2022-08-09 13:14] aken commented on #2701
+2

[2022-08-09 15:15] Tyler-Ouellette commented on #11157
I can't access the help page, i assume that is the top left corner burger menu which when I even left click on that it crashes. However here is the crash report in a zip file
[2022-08-08 Postman crash.zip](https://github.com/postmanlabs/postman-app-support/files/9292277/2022-08-08.Postman.crash.zip)
.

[2022-08-09 16:25] Smilesc commented on #8195
There's a setting for this that should be on by default--`General`>`Always ask when closing unsaved tabs`

[2022-08-09 17:28] agreenberg18 opened #11167 "Code Generated OAuth 1.0a incorrect signature with URL-encoded parameters"
### Is there an existing issue for this?

- [x] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

OAuth 1.0 Signature generation produces an incorrect hash when the URL params contain URL-encoded parameters when creating code snippets. The request will work in postman, but result in an auth error when generating the correspon

[2022-08-09 17:49] duczen commented on #11129
I'm also seeing this. There seems to be some confusion about the latest version.

On the release notes on the website (https://www.postman.com/downloads/release-notes/) it currently looks like v9.26.0.

I tested downloads from https://www.postman.com/downloads/ and get v9.27.0 for windows and the app tells me it's up to date. The mac (intel) download version is 9.25.2 but if you check for updates

[2022-08-09 23:38] JHKennedy4 commented on #11118
Not sure who changed what - I also raised this on the Square side, but this is working now.

[2022-08-09 23:38] #11118 closed, assigned to nobody

[2022-08-10 01:01] silqmv opened #11169 "Data Driven tests: Collection View Summary presenting wrong message (as compared to View Results)"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

I ran a collection using a CSV as input for iterations, such that the collection had a correct FAIL in the 20th iteration.
I used a value from each iteration to make the Postman test message.
The collection run "View Results" sho

[2022-08-10 03:02] godfrzero opened #11170 "Ability to chain monitor runs"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request and I know that duplicates will be closed

### Is your feature request related to a problem?

It's quite cumbersome to have one monitor trigger one or more other monitors conditionally even though this can be really useful:

- One low-impact monitor can run frequently and only tri

[2022-08-10 04:40] kevinlin-crypto commented on #4687
I stop using Postman.

[2022-08-10 07:40] yewanji opened #11171 "The latest version does not support exporting V1"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

The latest version does not support exporting V1, so our interface cannot be imported directly into YAPI

### Steps To Reproduce

none

### Screenshots or Videos

_No response_

### Operating System

WINDOW

### Postman Version

[2022-08-10 08:22] sseenivasan89 opened #11172 "Creating an uptime monitor option is missing in the recent version of postman"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

Earlier i have created uptime monitor in my workspace and now **i dont see the option to create an uptime monitor option**s in my postman web

### Steps To Reproduce

1. Open postman in web
2. Goto monitors tab
3. Click on create

[2022-08-10 08:49] sseenivasan89 opened #11173 "Invite workspace invalid email error count displays the incorrect count of errors"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

when i tried to invite the people to my workspace from **Invite** button on header, and selected the **Add from file** option and uploaded the txt file (attached for reference) actually it has **4 invalid emails** but the postman

[2022-08-10 08:50] saurabhjayant commented on #9615
Hey, @lflucasferreira . Thanks for all the great feedback! We've been playing around with an idea that might help alleviate some of the issues that you mentioned with the tabbed experience in Postman. In the web app, you can now go to your Settings page and toggle a no-tab state, which completely removes tabs from Postman. This will allow you to use Postman with browser tabs like any other browser

[2022-08-10 08:51] saurabhjayant commented on #9349
Hey, @hloveranes. Thanks for all the great feedback! We've been playing around with an idea that might help alleviate some of the issues that you mentioned with the tabbed experience in Postman. In the web app, you can now go to your Settings page and toggle a no-tab state, which completely removes tabs from Postman. This will allow you to use Postman with browser tabs like any other browser-based

[2022-08-10 08:55] saurabhjayant commented on #8519
Hey, @dhamijad. Thanks for all the great feedback! We've been playing around with an idea that might help alleviate some of the issues that you mentioned with the tabbed experience in Postman. In the web app, you can now go to your Settings page and toggle a no-tab state, which completely removes tabs from Postman. This will allow you to use Postman with browser tabs like any other browser-based a

[2022-08-10 08:55] saurabhjayant commented on #8373
Hey, @abhijitkane. Thanks for all the great feedback! We've been playing around with an idea that might help alleviate some of the issues that you mentioned with the tabbed experience in Postman. In the web app, you can now go to your Settings page and toggle a no-tab state, which completely removes tabs from Postman. This will allow you to use Postman with browser tabs like any other browser-base

[2022-08-10 08:56] saurabhjayant commented on #8055
Hey, @nlwillia . Thanks for all the great feedback! We've been playing around with an idea that might help alleviate some of the issues that you mentioned with the tabbed experience in Postman. In the web app, you can now go to your Settings page and toggle a no-tab state, which completely removes tabs from Postman. This will allow you to use Postman with browser tabs like any other browser-based

[2022-08-10 08:57] saurabhjayant commented on #7147
Hey, @javiergarval. Thanks for all the great feedback! We've been playing around with an idea that might help alleviate some of the issues that you mentioned with the tabbed experience in Postman. In the web app, you can now go to your Settings page and toggle a no-tab state, which completely removes tabs from Postman. This will allow you to use Postman with browser tabs like any other browser-bas

[2022-08-10 08:57] saurabhjayant commented on #4970
Hey, @wbsnail . Thanks for all the great feedback! We've been playing around with an idea that might help alleviate some of the issues that you mentioned with the tabbed experience in Postman. In the web app, you can now go to your Settings page and toggle a no-tab state, which completely removes tabs from Postman. This will allow you to use Postman with browser tabs like any other browser-based a

[2022-08-10 08:58] saurabhjayant commented on #4795
Hey, @anudeepmedicharla. Thanks for all the great feedback! We've been playing around with an idea that might help alleviate some of the issues that you mentioned with the tabbed experience in Postman. In the web app, you can now go to your Settings page and toggle a no-tab state, which completely removes tabs from Postman. This will allow you to use Postman with browser tabs like any other browse

[2022-08-10 08:58] saurabhjayant commented on #4270
Hey, @ThiagoDaher. Thanks for all the great feedback! We've been playing around with an idea that might help alleviate some of the issues that you mentioned with the tabbed experience in Postman. In the web app, you can now go to your Settings page and toggle a no-tab state, which completely removes tabs from Postman. This will allow you to use Postman with browser tabs like any other browser-base

[2022-08-10 08:58] saurabhjayant commented on #9943
Hey, @ndierauf. Thanks for all the great feedback! We've been playing around with an idea that might help alleviate some of the issues that you mentioned with the tabbed experience in Postman. In the web app, you can now go to your Settings page and toggle a no-tab state, which completely removes tabs from Postman. This will allow you to use Postman with browser tabs like any other browser-based a

[2022-08-10 09:02] DannyDainton commented on #11171
Hey @yewanji

This was removed when the major version went from v7 > v8:

[2022-08-10 09:02] #11171 closed, assigned to nobody

[2022-08-10 09:10] DannyDainton commented on #11173
Hey @sseenivasan89

Thanks for raising this. The puralisation in that error message is wrong so we'll need to fix that but the count is based on unique emails, rather the overal number. As you have 3 blank emails, it's counting that as one invalid.

I'm going to raise this with the team to understand what the expectation/behaviour should be here.

[2022-08-10 09:14] sseenivasan89 commented on #11173
Hey @DannyDainton

Yes the pluralization also wrong it should be **2 emails are invalid**

Thanks !!

[2022-08-10 09:24] drogago opened #11174 "The ability to collect flows in folders like a requests."
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request and I know that duplicates will be closed

### Is your feature request related to a problem?

I want to create flows and organise them in folders/collections like it is done with requests. But recently the list of flows doesn't have any feature for grouping flows.

### Describe th

[2022-08-10 09:34] sseenivasan89 opened #11175 "Implement the run button on top of the collection folder"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request and I know that duplicates will be closed

### Is your feature request related to a problem?

Implement the collection run button on the top of the collection in the folder, it will be easy to run the collection in a single click

### Describe the solution you'd like

Place the co

[2022-08-10 10:48] karim-elngr commented on #4968
+1

[2022-08-10 10:51] EvrenJG opened #11176 "Proxy cookie interceptor is being thrown by equal sign (=) in cookie value"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

If I have a cookie in my requests with a value containing an equal sign, that sign and everything that follows is ignored from the captured cookie value. For instance `Set-Cookie: a=b=c` results in a cookie named `a` with a value

[2022-08-10 11:10] anudeepmedicharla commented on #4795
Awesome! I'll try it out and share the feedback @saurabhjayant :)

[2022-08-10 11:12] rufreakde commented on #3007
This actually is a valid solution you need more upvotes! I have this setup just on an dummy oAuth request and populate my environment {{JWT}} variable with this GET call. It works like a charm.
<img width="619" alt="Screenshot 2022-08-10 at 13 11 59" src="https://user-images.githubusercontent.com/28104368/183887357-5665bce9-1088-4707-b5bf-8eee97cf5ffc.png">

[2022-08-10 11:13] #10854 closed, assigned to akshaydeo, umeshp7, SahilChoudhary22

[2022-08-10 11:24] himanshu-webearl commented on #10566
Is it resolved yet? As I m also facing this issue.

[2022-08-10 11:38] timabell-newday commented on #9518
Another workaround is to temporarily copy the variable into the url and then hover over it 👍

+1 for this feature request

[2022-08-10 12:20] DannyDainton commented on #11169
Hey @silqmv

I think I've been able to replicate the behaviour you mentioned it was difficult due to your steps being very contextual to your project. :D

This is just a basic request on a Collection that runs 20 times. I had it fail the status code check randomly to see some errors in the results.

<img width="1164" alt="image" src="https://user-images.githubusercontent.com/17089546/183898682-c09

[2022-08-10 12:23] allenzt commented on #11165
IP address is `192.168.2.1.`(IP address is followed by a dot) instead of `192.168.2.1`.  Why can an apparently wrong IP address successfully send a request?

[2022-08-10 12:50] LAStickk commented on #7286
+1

[2022-08-10 15:01] bdlee420 opened #11177 "Pull Changes not pulling all changes from master branch"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

We have a request that has a body: x-www-form-urlencoded with a few key/value pairs. If we add a new key/value pair or change an existing one in the master branch you can't pull those changes to other forks.  In the fork, it does

[2022-08-10 16:54] nlwillia commented on #8055
![image](https://user-images.githubusercontent.com/803755/183969571-333dc50b-dea8-4d21-add0-d4ab08d06418.png)

![image](https://user-images.githubusercontent.com/803755/183969935-36ce234b-5359-43e5-9436-ead7dcf5168a.png)

I haven't previously used the web version, but I see what you mean.  While it's nice to have the option, it's not a great analogue for the collected experience in the app and bei

[2022-08-10 22:01] hnaht310 commented on #9429
Thank you. It works for me

[2022-08-11 00:26] gcacars commented on #5817
Almost 4 years to implement a simple feature that must have been implemented when dark mode was developed... 🤦‍♂️
Can anyone point to the code where we need to look for a PR?

[2022-08-11 03:43] umeshp7 commented on #11084
Hey @ValeriyMaslenikov Thank you for the detailed explanation of the issue. We will take this up soon. 👍🏼

[2022-08-11 03:48] Cereal916 commented on #9868
Another idea for implementation:
When running on multiple threads, run the collection sequentially, but on multiple instances each on their own thread, where each thread gets its own isolated environment to share variables. This way you can use collections that were designed to run sequentially in a load test.

[2022-08-11 06:17] ankitjaggi commented on #11177
@bdlee420 I tried reproducing the issue with the steps you provided, but I don't see the issue. Will it be possible for you to send a screen recording of the same problem to help@postman.com for better debugging?

[2022-08-11 06:23] sseenivasan89 opened #11178 "When we switch from scratchpad to workspace the collections are not restored"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

i have not logged in to postman and I don't have any workspace in postman, I have a few collections in the local scratchpad when logged into postman the collections are not restored

### Steps To Reproduce

1. Create a few collec

[2022-08-11 08:32] DannyDainton commented on #11172
Hey @sseenivasan89

Just wanted to provide you with more context, this is an extract from a discussion on the repo that we were using to capture feedback for uptime monitors.

https://github.com/postmanlabs/uptime-monitors/discussions/24

cc @godfrzero

[2022-08-11 08:35] DannyDainton commented on #11178
Hey @sseenivasan89

Could you expand on what you mean by 'not restored', please? What were the expectations after you had logged in?

The local Collections _should_ still be on the scratchpad, these don't automatically get transferred to a Workspace. I believe we did have a flow that gave you the ability to do this but I'm unsure if you were presented with that option.

[2022-08-11 08:38] veronQ commented on #10852
Any news on this?

[2022-08-11 09:30] DannyDainton commented on #11160
Hey @asheroto

Could you provide the recording of the disappearing description, please?

[2022-08-11 09:31] DannyDainton commented on #11154
Closing this out due to a lack of information - If you're able to provide the updated details, we can look at reopening the request again.

[2022-08-11 09:31] #11154 closed, assigned to nobody

[2022-08-11 09:32] DannyDainton commented on #11151
Hey @sseenivasan89

Were you able to reliably recreate this issue again, I've still been unable to do this. 🤔

[2022-08-11 09:32] sseenivasan89 commented on #11178
Hi @DannyDainton,

when we signed up to postman, my scratchpad collections will not be moved to my workspace automatically ?

[2022-08-11 09:42] DannyDainton commented on #11178
Those remain stored locally on your machine and are not pushed to the new account automatically.

https://learning.postman.com/docs/getting-started/using-scratch-pad/#exporting-data-from-the-scratch-pad

[2022-08-11 09:46] DannyDainton commented on #11142
Hey @ranjit-singh-eva-bbsr

Your feature request requires more context so that we can understand the use case and which part of the platform you're referring to when searching.

[2022-08-11 09:47] ErnstIngmar opened #11179 "Postman can't return the error messages we needed, but return "Parse Error: Response overflow""
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

When you send a request, you get some error message from the server, postman won't return the error messsage, but return "Parse Error: Response overflow"

### Steps To Reproduce

1. Open a new request tab
2. Send the request
3. S

[2022-08-11 09:48] ErnstIngmar commented on #11179
Postman for Web  Version 9.28.2-220811-0343

[2022-08-11 09:57] sseenivasan89 commented on #11178
Can't we implement this as feature ?

[2022-08-11 09:58] DannyDainton commented on #11179
Hey @ErnstIngmar

Your request/response would be very specific to your context - We're going to be unable to recreate this same behaviour, given the steps you have provided as it wouldn't be the same for _any_ request being sent from Postman.

Can you update the issue and provide more details about the request that you're sending and the response message that you were expecting to see returned, pl

[2022-08-11 10:15] ErnstIngmar commented on #11179
### Steps To Reproduce
I want to check all the server mesasges be returned correctly , when the specific value in body is wrong or not surport in your api.

1. Open a new request tab
2. In the request body, set one value be wrong data, which your api don't surport, Then Send the request
3. See the response tab view
4. See error message: Parse Error: Response overflow —— > here , the server had ret

[2022-08-11 11:16] asheroto commented on #11160
Hello,

It did some testing and found that it only occurs if there are some params that are unchecked above the variable that you add...

https://user-images.githubusercontent.com/49938263/184121662-7ed7d4b4-4921-4297-a0ae-be703ff7c6d3.mp4

[2022-08-11 11:52] shashankawasthi88 commented on #11176
@EvrenJG thanks for raising this. We are looking into it.

[2022-08-11 11:56] DannyDainton commented on #11179
What is the returned value you're expected to see in Postman? That request is very contextual to your server.

If I make the same request to say `https://postman-echo.com/post` I'm not going to see that error because it's not going to your server.

[2022-08-11 11:59] DannyDainton commented on #11160
Thank you, that video helped to narrow down the issue. I'm now able to recreate it locally.

Appreciate you investigating that deeper and posting the video.

[2022-08-11 12:00] asheroto commented on #11160
Glad I was able to help! 😊

[2022-08-11 12:36] akshay-kulkarni-03 commented on #10932
@AnonymousOctopus235 this issue has been fixed. If you're using app, would request you to update to the latest version. Closing this issue, feel free to re-open if it still persists.

[2022-08-11 12:36] #10932 closed, assigned to nobody

[2022-08-11 13:38] daviddriver-enactor opened #11180 "Flows are failing to pass values into variables and durables"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

Since updating to version 9.28 (I believe from 9.26), the flows I have been using are not behaving as expected. In all cases, it appears as if data is not being assigned when it use to. This can be seen easiest with loops that fa

[2022-08-11 14:42] bdlee420 commented on #11177
Video sent, thanks.

[2022-08-11 15:33] NandoZee commented on #10852
Another vote for this. Since the last update my "Recently visited" has become polluted with public workspaces I have never visited and will never need. Initially it was confusing, now it's annoying.

[2022-08-11 15:46] DannyDainton commented on #11178
This appears to have regressed as there should have been a modal displayed during the signup flow, asking you if you're like to migrate your Collection to a Workspace or leave them in the Scratchpad.

The team are aware of this issue and is looking into a fix. I will update the thread when we have more information.

Unfortunately, this isn't a retrospective action so you would still need to export

[2022-08-11 16:13] bmclaughlin-soteria commented on #9236
If anyone runs into this problem where this works in web browser but not in desktop app. Try running desktop app in Administrator mode.

[2022-08-11 16:24] danielrehmann commented on #2452
I am really much missing this feature. Other products like Insomnia are supporting this feature and it feels so out of world that I need to hack it myself into prerequest scripts if I want this. Bummer.
Some of my team colleagues already switched their go-to rest client because of these quality of life things and now we have a Zoo of tools. Wish this would be implemented soon.

[2022-08-11 17:01] Overrided commented on #7294
![image](https://user-images.githubusercontent.com/18598736/184191687-e0205844-2342-4dad-8e25-efec966ff3c2.png)

[2022-08-11 17:44] Atishay4294 commented on #11119
Hi @frdesnous
This issue should be fixed now :)

Please confirm.

[2022-08-11 18:03] w4dd325 commented on #11147
A little bit of additional information. I just noticed all of my previously created API keys have also disappeared.

It's almost like, when I left the team, my profile was completely recreated.

---

I had a couple of theories on ways to improve the behaviour of leaving a team...

The first is; only remove team workspaces when you leave a team.

If there is a need to remove personal workspaces the

[2022-08-11 18:16] ramji367 commented on #11147
@w4dd325 - We are making immediate changes to both the Join team and Leave team flows to incorporate the feedback. The ability to join multiple teams will not be available for some users until we roll out these fixes.

[2022-08-11 18:24] adriancuadrado commented on #5817
@gcacars I have understood that the Postman app itself is closed-source.

[2022-08-11 19:16] w4dd325 commented on #11147
One other thing I noticed, is this;

I have now rejoined my original work team (3 people) ... but the contributor lists "1 Private User" ... which is me but from when I was originally in the team.

![image](https://user-images.githubusercontent.com/86320001/184220864-8b85e029-fe53-41ba-8efe-3d3f9fc3760e.png)

[2022-08-11 20:33] toddbrown181 commented on #1066
@giridharvc7 I'm running 9.27 on an Apple M1 chip, but not able to perform multiple select. Is this available for all OS/hardware permutations?

[2022-08-11 21:44] xxldoctor commented on #8929
@andekis not sure if it work, but maybe you can put some condition at the end of "Tests" block of previous request and use postman.setNextRequest() there? In this case next request(s) could be fully skipped, I guess.

[2022-08-11 23:30] martin-braun commented on #5817
@gcacars

![image](https://user-images.githubusercontent.com/24259245/184259014-b72945a8-1c20-43cb-9a6f-0f68d10fb133.png)

[2022-08-12 00:08] geoffbjr opened #11181 "Please add support for AWS SSO for auth"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request and I know that duplicates will be closed

### Is your feature request related to a problem?

Since AWS SSO is not supported, we have to generate temporary credentials and manually enter them.

### Describe the solution you'd like

We would like to have AWS SSO support so that we

[2022-08-12 00:26] kiocjw commented on #9097
I'm using a different device, and it works. It does work for my win 11 chrome only but works for firefox and other.

[2022-08-12 02:17] ErnstIngmar commented on #11179
when I send a requestion with post body {  "id": null}, set id value to be null, my server return the error message: "Param [id] is Empty", I can see this message in JMeter correctly. But Postman just return "Parse Error: Response overflow" , not the correct message .

[2022-08-12 03:45] srinivasskc opened #11182 "500 Internal Server Error is displaying for Visualizer when we send request for Postman2OpenAPI"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

POST https://demo.postmansolutions.com/postman2openapi
The Visualizer is displaying 500 Internal Server Error

Which is shared in the https://www.youtube.com/watch?v=VcSBuM3aR74

### Steps To Reproduce

Followed the steps as in t

[2022-08-12 06:59] vikiea opened #11183 "gRPC: Toggle Message requests when toggling between interfaces"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request and I know that duplicates will be closed

### Is your feature request related to a problem?

Currently, when I switch between interfaces under the same proto, the content of the message body remains the same.

### Describe the solution you'd like

I want it to switch with the int

[2022-08-12 07:05] codenirvana commented on #11183
@vikiea You can generate a new message after switching the method.

<img width="1056" alt="Screenshot 2022-08-12 at 12 31 38 PM" src="https://user-images.githubusercontent.com/4865836/184301820-91d9d3a1-32fb-481e-885d-da6a308b51c9.png">

If I understood your use case correctly, you are expecting it to automatically re-generate a new example message on method switch, right?

[2022-08-12 07:11] SegarJJ commented on #2452
WOW.   This is a long awaited change and still the tool continues to become more complex in general and specifically for this type of use case.

It already takes weeks to get a good grip on how postman works and these sorts of use cases which have never really improved over years and years is hard to understand why they are not prioritized better.

@giridharvc7  Can you help us with some more insi

[2022-08-12 08:48] VShingala commented on #10717
Hey @JayHayAdminaccount, for this issue we'll be providing a fix by next week. I'll share the update here as well.

[2022-08-12 09:16] Timo-Weike opened #11184 "Code Generation for C# package Flurl"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request and I know that duplicates will be closed

### Is your feature request related to a problem?

For C# I can onyl let posman generate code for RestSharp which comes with some overhead.

### Describe the solution you'd like

Some alternatives for RestSharp like Flurl.

### Describe a

[2022-08-12 09:38] toozenbobel opened #11185 "Spaces at the end of a request string are not trimmed or highlighted"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

If you accidentally add a space at the end of the URL you'll hardly know they are there.
Those spaces should be trimmed or highlighted.

![image](https://user-images.githubusercontent.com/4981972/184327160-fa95f872-afe0-492c-a9c7

[2022-08-12 09:55] DannyDainton commented on #11172
Closing this as it was actively removed (Details in the discussion thread mentioned above) and is not just _missing_ from the UI.

[2022-08-12 09:55] #11172 closed, assigned to godfrzero

[2022-08-12 10:05] DannyDainton commented on #11182
Hey @srinivasskc

This doesn't look like a _product_ issue with the Postman platform and has more to do with the resource, created by Gbadebo Bello and Garrett London, throwing the error. You would see the same thing if you made the same request outside of Postman.

I'm going to close this issue and ask that you raise it on the [Postman Community](https://community.postman.com/) site and if you ta

[2022-08-12 10:05] #11182 closed, assigned to nobody

[2022-08-12 10:25] DannyDainton commented on #11185
Hey @toozenbobel

Thanks for raising the issue - I believe this is more of a contrast/visibility issue, it's difficult to see but there are dots at the end of the URL which indicate that you have extra spaces.

<img width="632" alt="image" src="https://user-images.githubusercontent.com/17089546/184335542-35dcb057-b9a9-4e59-a97e-c9e252c4ed74.png">

This does need to be made more prominent in the UI

[2022-08-12 12:23] DannyDainton commented on #11178
The fix for the scratchpad data migration issue, when signing up for a new account is part of version 9.28.1.

I'm going to close for now.

[2022-08-12 12:23] #11178 closed, assigned to nobody

[2022-08-12 12:54] zinok commented on #11126
Is there any estimated resolution time for this?

[2022-08-12 12:59] DannyDainton commented on #11151
I'm going to close this for now as I've been unable to recreate the error again. If we can get some reliable steps to reproduce the issue it help us to investigate this further.

[2022-08-12 12:59] #11151 closed, assigned to nobody

[2022-08-12 13:21] Rashad-j opened #11186 "CORS error is not shown"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

CORS error is not showing on postman. Imagine you have a request with few non-standard headers, e.g. "my-special-header". If you send this header to the server, where it is not configured, postman will not complain after receivin

[2022-08-12 13:25] DannyDainton commented on #11186
Hey @Rashad-j

Can you provide a visual example of the behaviour please and where you're seeing this fail?

[2022-08-12 14:44] pf-lkobbe commented on #7315
I've also had this issue. It was apparently caused by trying to put items into a new collection when this item already existed in another collection. I solved it by deleting the id property in each item, as well as each item.response and item.event prior to updating the collection.

[2022-08-12 14:50] JamesDevOpsShipman opened #11187 "variables being transmitted in plain text"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

We have secrets in postman, set as a secret type, and in Azure KeyVault that we need to use. The problem is when the request is sent the value in that secret is easy to see.

### Steps To Reproduce

1. create a secret, I don't th

[2022-08-12 14:59] DannyDainton commented on #11187
Hey @JamesDevOpsShipman

The secret variable type in Postman is more of a UI-based masking feature, it doesn't change value when/if used in a request.

https://blog.postman.com/introducing-secret-variable-type-in-postman/

[2022-08-12 16:11] jhyland87 commented on #4968
+1

[2022-08-12 16:15] sleeptil3 opened #11188 "Do not add 'Copy' to a collection name during copy & paste unless its in the same folder with a naming conflict"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

When copying and pasting into a new folder, "Copy" is added to the name which is very annoying to then go into each and rename them. There's no need unless pasting into the same folder (or another folder where a naming conflict a

[2022-08-12 16:16] bminghelli commented on #4079
+1

[2022-08-12 17:54] FelipeAlvesLima commented on #3706
Wow since 2017 and nothing?

[2022-08-12 18:03] godfrzero commented on #3706
Hey folks! We haven't picked this up yet but it's on our radar. This is something we'll be building on top of the recently introduced ability to upload and run monitors with data files. I'll post an ETA for supporting client certificates in monitors here as soon as we have one figured out.

[2022-08-12 18:16] pierre-wehbe commented on #10928
@umnex @timbochamp Just making sure this doesn't get lost in translation, this **works** if we were to use the POSTMAN UI to import, but **doesn't work** via API (no field to turn off optimize conversion. Any suggestions?

[2022-08-12 18:29] pierre-wehbe commented on #10949
+10000 :)

[2022-08-12 19:58] Doug-Quinn opened #11189 "XML Pretty Printing fold / collapse issue when node element content has a newline"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

When viewing the XML response body in pretty mode, in one scenario the fold / collapse detection is incorrect from that point through the remainder of the document when an element's content contains a newline. (Happens with DOS,

[2022-08-12 22:11] EtzBetz commented on #5817
could we at least have a neat quick-toggle in the apps top-bar as a quick-fix for now?

[2022-08-12 23:58] cavemon commented on #4898
+1

[2022-08-13 02:18] Revincx opened #11190 "Postman crashed: Maximum call stack size exceeded"
### Is there an existing issue for this?

- [x] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

When I set the postman window to minimum and set it to show again, it crashed.
Here is the log :
[code]

### Steps To Reproduce

1. Start up the postman app
2. Set the postman window to minimum
3. Click the postman icon on my doc

[2022-08-13 09:36] zahidcakici commented on #1066
I am currently using the same environment/version however I am able to select multiple docs with CMD + click operation

[2022-08-13 14:55] Rashad-j commented on #11186
Hi @DannyDainton

It's something related to [CORS](https://en.wikipedia.org/wiki/Cross-origin_resource_sharing) (Cross-Origin Resource Sharing) and SOP (Same-Origin Policy). Though, I did a quick google search and I found something that will make it clear to you.

at least this is what I have found from Stackoverflow at [https://stackoverflow.com/a/36486188](https://stackoverflow.com/a/36486188)

[2022-08-13 16:28] yinxie commented on #8654
This happens on my DELL Precision 7760 NVidia A4000, DELL Precision 9710 RTX 3060. I can't disable HR because I am on an external monitor, I have to turn on HR on external monitors for resolution related issues.

[2022-08-13 17:03] mandaputtra opened #11191 "Postman not opened on M1 Mac MacBook Air 12.5"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

Can't open postman after download and unzipping

### Steps To Reproduce

1. Download latest postman app (not the canary) for M1
2. Unzip
3. Open it
4. App not opening

### Screenshots or Videos

_No response_

### Operating Syste

[2022-08-13 18:47] shubhbhargav commented on #4693
@jshearin01 Can you please share the request / collection with us to help debug this further? You can share the same via email: help@postman.com

[2022-08-13 18:57] shubhbhargav commented on #11112
@zeldalegends I was able to successfully import the first link i.e. https://github.com/FIWARE/tutorials.PEP-Proxy/blob/NGSI-LD/FIWARE%20PEP%20Proxy.postman_collection.json, however the second link failed for me as well.

From what I could see, in the second collection JSON, the format of the collection is not recognized due to missing ID fields in certain sections of the JSON such as line number 9

[2022-08-13 19:36] MichielS-1848709 commented on #10406
Having similar issues.
When I receive 2 `Set-Cookie` headers in the response (see pic 1), my cookies aren't set (see pic 2).

**TEMP FIX:** When I change `application.local` to `api.application.local` (explicit sender) everything works fine in Postman. However, the browsers like Chrome don't like this, since they need the base URL (`application.local`) to set it.

![image](https://user-images.gith

[2022-08-13 21:15] daneshvar opened #11192 "Feature Request: Support gRPC prefix path on URL"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request and I know that duplicates will be closed

### Is your feature request related to a problem?

We use Envoy to routing and clustering our back-end services and we use prefix for routing between the services and some gRPC tools such as Kreya and BloomRPC support path on request URL

[2022-08-14 06:28] numaanashraf opened #11193 "Previous versions are not deleted after update in macOS"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

Originally reported via Twitter - https://twitter.com/imabptweets/status/1558462205221543936 by @imabp

### Steps To Reproduce

_exact steps are not known at this time_

### Screenshots or Videos

![Uploading Screenshot 2022-08-1

[2022-08-14 07:32] imabp commented on #11193
Thank you @numaanashraf for acknowledging the issue.

### Steps to reproduce

1. Install Postman 9.22.2
2. Upgrade Postman from the button present on the App

    <img width="457" alt="image" src="https://user-images.githubusercontent.com/53480076/184526834-46c21621-9858-4716-97b9-46cc00849665.png">

3. [Bug Reproduced]
    - Postman upgraded, but previous version still there. Below are the steps

[2022-08-14 09:35] miroljub1995 commented on #2934
I'm using Postman v9.28.1 and it doesn't work too.

[2022-08-14 14:27] codenirvana commented on #11192
@daneshvar Are you trying to connect to a gRPC-Web server?

[2022-08-14 15:24] Cereal916 commented on #5722
@numaanashraf I would love a 'copy to clipboard' function somehow accessible in the visualizer.

[2022-08-14 19:02] alexa2me commented on #7221
I'm running into the same problem 😞.

If I send something wrong in the body of the request, the warning message comes correctly, but if the body is correct, request always return `ETIMEDOUT`:

<img width="557" alt="Captura de Tela 2022-08-14 às 15 54 08" src="https://user-images.githubusercontent.com/63327969/184551063-41aace9c-6b23-4f66-8649-2f797229df3e.png">

- Return when body is wrong (purpo

[2022-08-14 20:47] jeff-anderson-cscc commented on #5816
Nothing would make me happier than being able to use Postman on Ubuntu 22.04 ARM under Parallels on my M1 Mac. Thanks for working on it and please let us know if you need beta testers.

[2022-08-14 21:52] mrhouzlane commented on #10936
I'm having same error : `Unable to find any files to import. Double check your repository and branch.`

**macOS 12.0.1**
**Postman v9.28.1**

[2022-08-15 12:34] mrwensveen commented on #2934
I'm using the "password" grant type and for some reason the "Resource" option just disappears. Why?

[2022-08-15 15:28] daneshvar commented on #11192
I don't think that Postman supports gRPC-Web now, and I requested a gRPC server, but I have a prefix path before the gRPC method's name like this: grpc://example.com:8080/api
I know it's not part of standard gRPC, but it's usable and several tools like Kreya support it.
For example, I can do a request on Kreya like this: grpc://example.com:8080/api.
The standard gRPC library in Go doesn't support

[2022-08-15 15:55] iplaksiy commented on #6370
+1

Much needed feature in both the pre-request and tests script.

[2022-08-15 16:53] tsong-wallis commented on #10852
Any updates on this? Another vote for this fix please. It is silly that we can't remove the collections we no longer needed. "Recently visited" is a stretch.

[2022-08-15 17:19] jviotti commented on #11191
Hi @mandaputtra ,

What do you get if you try to open the app from the Terminal? For example:

[code]

[2022-08-15 17:35] toddbrown181 commented on #1066
Strange. I've tried every operation combination and nothing works, even with a fresh reinstall. Are you doing this from a specific sidebar tab? I'm unable to in any.

[2022-08-15 20:55] ronaldroe opened #11194 "Support for Collection Drag and Drop into a Folder"
### Is there an existing request for this feature?

- [x] I have searched the existing issues for this feature request and I know that duplicates will be closed

### Is your feature request related to a problem?

Depends on what you consider a problem. I wasn't sure if I should go with issue request or bug, but I can't drag a collection into a folder to organize my requests. I have to create a new

[2022-08-15 21:17] zeldalegends commented on #11112
Yes, NGSI-LD worked for me now, at least the import, not the run... With Keyrock 8.1.0-distroless it returns 404 Unauthorized. You have to switch back to version 7.9.2 to make the tests work succesfully. I guess it is a problem of the underlying MySQL db, which had breaking changes in version 8, making the Postman collection not runnable with the latest version of the IdM.

[2022-08-16 08:24] Iviyan commented on #2701
+1

[2022-08-16 09:02] Dhembla commented on #9184
Hey @abdullah4one 👋
We have added support for body matching on text fields for form/data content type. Please give it a try and let us know if that works for you. 🙇

[2022-08-16 09:20] akshay-kulkarni-03 commented on #11173
Hi @sseenivasan89 , thanks for reporting this! We will triage this from our side and post updates once we have identified the issue at our end.