[2019-09-16 13:43] #6832 closed, assigned to nobody

[2019-09-16 13:45] cynicaljoy opened #7327 "Filter Environments to active Collection"
**Is your feature request related to a problem? Please describe.**
Many of my Environments are not compatible with all of my Collections. My select Environment dropdown is (partly self-inflicted) cumbersome to navigate.

**Describe the solution you'd like**
I would like to be able to associate Envionrments per Collection and my Postman UI to only show Environments that are associated with my selec

[2019-09-16 13:52] robross0606 commented on #6832
Oddly enough, neither Github ticket (#7255 and #6832) is mentioned in any of the release notes.
https://www.getpostman.com/downloads/release-notes

[2019-09-16 14:29] kamalaknn commented on #6832
@robross0606 Thanks for pointing it out. I've updated the release notes now.

[2019-09-16 14:30] JockDaRock commented on #7158
Hey @preethammavin I hope you are well.

Quick question, do you think this will get added to the RoadMap for Postman, and when do you think  it will?

Not trying to be pushy, just wanted to feel out a possible time frame.

Kind Regards

[2019-09-16 14:54] PhilModJunk commented on #6186
These emails are really bizarre. Did you notice the dates here?

I posted this report many months ago. I don't even use that computer
anymore and my current machine installed a newer release of postman and I
can use it without any issues at this time.

Phil Caulkins
*Database Developer*
Innovative Education Management, Inc.
4535 Missouri Flat Road, Suite 1A | Placerville, CA 95667
Phone: (209) 985

[2019-09-16 15:38] sanchitgarg2 opened #7328 "Postman Android/iOS App"
I use postman to trigger control APIs and it is such a pain to have to open my laptop every time I have to do this. Sometimes I am in situations where I can't open it.
I would love to be able to use postman on Android , even if it is without all the advanced features that the desktop version has to offer. It would also be amazing if I could share my collections with my phone.

[2019-09-16 16:02] RikkiMasters commented on #5302
+1

[2019-09-16 16:03] Millais commented on #6596
Hey @vkaegis is there any update available for this one?

We're looking for read-only 'initial values' for our enterprise team at PayPal – this feature would really help.

Thanks,
Patrick

[2019-09-16 16:13] godfrzero commented on #6531
@kgjelsten The root issue here has already been addressed and migration to v7 shouldn't break anything.  Removing a user from the team will no longer cause any problems with monitor execution. To get to the bottom of what's going wrong in your case, could you shoot us an email at help@getpostman.com with additional details? This will include monitor ID, collection ID, and environment ID for starte

[2019-09-16 16:36] fafnirbcrow opened #7329 "Unable to Delete API's removed from a workspace"
**Describe the bug**
If an API has been removed from all workspaces by accident, there is no way to delete it.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the API's menu section
2. Create a new API
3. Go to API's options, and click Remove from workspace.

**Expected behavior**
There should be a place to see API's that belong to an account, and be able to delete them from that space

[2019-09-16 16:53] NylonDiamond commented on #7078
Hi, I've been having the same issue described above on Mojave. Been happening for many months. My solution has been to delete the IndexedDB folder and re-login. It's seemingly a memory issue because when I start up postman, I immediately open "Show dev tools (current view)" and always seem to catch a "Paused before out of memory crash". I just continue execution, it does it one more time then post

[2019-09-16 18:25] nadiaadhami opened #7330 "how do I download the archived collections?"
**Describe the bug**
I get a message saying a collection is archived because of too much usage.
I like to be able to revert to an older version where there is no sharing. or
download the archived collection.
**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you exp

[2019-09-16 20:20] #5155 closed, assigned to nobody

[2019-09-16 22:37] abhijitkane commented on #7101
Resolved in the latest version of Postman

[2019-09-16 22:37] #7101 closed, assigned to nobody

[2019-09-16 22:39] abhijitkane commented on #4133
@odran037 @fperves Both issues are resolved in the latest version of Postman (you'll need to enable the 'Experimental Codegen Mode' in the global settings panel)

[2019-09-16 22:39] #4133 closed, assigned to nobody

[2019-09-16 22:49] abhijitkane commented on #3233
Closing this issue for now. RAML 1.0 support is being worked on, and we have no reproducible issues on RAML 0.8

[2019-09-16 22:49] #3233 closed, assigned to numaanashraf

[2019-09-16 23:33] abhijitkane commented on #7196
@andremvb Feel free to add a comment if you're unable to retrieve your collections.

[2019-09-16 23:33] #7196 closed, assigned to nobody

[2019-09-17 00:24] abhijitkane commented on #4956
@bamdan I'm not able to reproduce this in the Chrome or the Native app integration (I was able to capture a request with a 35000-character body). Are you still seeing this?

[2019-09-17 00:25] abhijitkane commented on #4956
@bamdan I'm not able to reproduce this in the Chrome or the Native app integration (I was able to capture a request with a 35000-character body). Are you still seeing this? If yes, a screen recording would help.

[2019-09-17 03:10] kevinreynolds commented on #6397
I am having the same issue. Would like to see this issue resolved.

[2019-09-17 03:32] preethammavin commented on #7158
@JockDaRock we are looking at how we can solve the base use case of sending requests from collection in cloud rather than have an electron app for it, This has been part of our long term roadmap. Will definitely reach-out and get your feedback when we have more concrete approach to the problem :) . Keeping this issue open so that we understand all the issues and workflows that our users have to bu

[2019-09-17 04:10] godfrzero commented on #6531
Closing this ticket since the root issue has been fixed already. As for the environment resolution bug, please refer to https://github.com/postmanlabs/postman-app-support/issues/7238.

[2019-09-17 04:10] #6531 closed, assigned to godfrzero

[2019-09-17 04:10] preethammavin commented on #6397
Hi All,
We have fixed the underlying issue, where we have prevented such issue from cropping up. Saying that there might be some issues still persistent with the current set of forks, If you are still facing the error, please write to us at help@getpostman.com with the link that you are trying to merge so that we can take a look and solve it for you.

[2019-09-17 04:43] AlwinTS commented on #3845
+1
I've this is added as a feature request, however it feels more like a bug. Also because you get the error message for a short period of time. All my tests together take 10 - 15 minutes. In which time I do something else. What happens is that you don't see something is wrong.

[2019-09-17 04:50] mgthet commented on #4038
![image](https://user-images.githubusercontent.com/15937741/65012368-17f9f380-d93d-11e9-9dc1-f219adf5e06c.png)
Please help me this error when I calling to self-sign certificate API.

[2019-09-17 06:14] harryi3t commented on #2816
This is fixed in Postman v7.7.2
Let us know if the issue persists.

[2019-09-17 06:14] #2816 closed, assigned to kamalaknn

[2019-09-17 06:18] harryi3t commented on #6897
This is fixed in Postman v7.7.2
Any broken shortcut icons (on desktop and in the start menu) should be fixed once you update to this latest version.

@vaibhavghevde For the pinned icon on the taskbar, please unpin and then pin the application again.

[2019-09-17 06:18] #6897 closed, assigned to nobody

[2019-09-17 06:31] ankurdengla commented on #5350
This issue is now fixed in Postman v7.7.2
Do let us know if the issue still persists.

[2019-09-17 06:31] #5350 closed, assigned to nobody

[2019-09-17 06:31] ankurdengla commented on #6635
This issue is now fixed in Postman v7.7.2
Do let us know if the issue still persists.

[2019-09-17 06:31] #6635 closed, assigned to nobody

[2019-09-17 06:54] codenirvana commented on #3703
We've added support for Request Level Configurations in the latest version of the Postman App (v7.7.2).

You can turn `Follow Authorization header` configuration ON to retain authorization header when a redirect happens to a different hostname.

<img width="1029" alt="Screenshot 2019-09-17 at 12 14 39 PM" src="https://user-images.githubusercontent.com/4865836/65017657-eb49da00-d944-11e9-9c29-5b80b

[2019-09-17 06:54] #3703 closed, assigned to codenirvana

[2019-09-17 06:56] codenirvana commented on #5683
We've added support for Request Level Configurations in the latest version of the Postman App (v7.7.2).

You can turn `Remove referer header on redirect` configuration ON to remove the referer header when a redirect happens.

[2019-09-17 06:56] #5683 closed, assigned to codenirvana

[2019-09-17 07:00] codenirvana commented on #4162
This is fixed in the latest version of the Postman App (v7.7.2).

[2019-09-17 07:00] #4162 closed, assigned to vikiCoder

[2019-09-17 07:05] codenirvana commented on #7268
@physicsLoveJava Thanks for reporting this issue.
It's now fixed in the latest version of the Postman App (v7.7.2).

[2019-09-17 07:05] #7268 closed, assigned to codenirvana

[2019-09-17 07:06] coditva commented on #7252
This issue is now fixed. Update to the latest Postman app (version 7.7) 🎉

[2019-09-17 07:06] #7252 closed, assigned to coditva, vikiCoder

[2019-09-17 07:07] codenirvana commented on #7275
@jangshmily This is fixed in the latest version of the Postman App (v7.7.2).
Can you update your app and confirm if that fixes your issue?

[2019-09-17 07:12] codenirvana commented on #6998
@juanmbellini This is fixed in the latest version of the Postman App (v7.7.2).
Can you update your app and confirm if that fixes your issue?

[2019-09-17 07:12] #6998 closed, assigned to vikiCoder

[2019-09-17 07:12] codenirvana commented on #5076
@aron123 Thanks for reporting this issue.
It's now fixed in the latest version of the Postman App (v7.7.2).

[2019-09-17 07:12] #5076 closed, assigned to codenirvana, coditva

[2019-09-17 07:14] codenirvana commented on #6122
@TwonkyTheRobot This is fixed in the latest version of the Postman App (v7.7.2).

[2019-09-17 07:14] #6122 closed, assigned to nobody

[2019-09-17 07:20] codenirvana commented on #4001
As mentioned in https://github.com/postmanlabs/postman-app-support/issues/4001#issuecomment-515807857, We've added support for Request Level Configurations in the latest version of the Postman App (v7.7.2).

You can turn `Follow original HTTP Method` configuration ON to redirect with the original HTTP method.

<img width="943" alt="Screenshot 2019-09-17 at 12 48 23 PM" src="https://user-images.git

[2019-09-17 07:20] #4001 closed, assigned to shamasis, codenirvana

[2019-09-17 07:30] emperorofkicker opened #7331 "Clicking at the "Body" tab makes request modified"
Postman has been updated to v7.7.2, then I noticed that bug:

1. Open existing request
2. Click at the body tab

Request becomes modified but really it is not.

**App information**
 - Postman native app v7.7.2

[2019-09-17 07:30] Aviasita opened #7332 "Not logged in"
When landing, the user's mailbox and password are clearly correct, that is, they can't login, and there is no response to click and submit the password after entering the mailbox.

[2019-09-17 07:39] #7332 closed, assigned to nobody

[2019-09-17 07:41] sankalp0o commented on #6236
@dimacros I understand your use case better now, thanks! When workspaces were initially launched, there were some dependencies on "Team Workspace" for the transition. We will reevaluate whether this is still true or not, and possibly remove restrictions around deleting "Team Workspace".

Till then, feel free to rename it and use it like any other workspace.

Would love to hear if anyone has a diff

[2019-09-17 07:44] Aviasita opened #7333 "Not logged in"
Mailbox and password are correct, that is to say, the prompt password is incorrect, the password is retrieved and entered into the mailbox click submit without any response.

[2019-09-17 07:45] TsLenMo commented on #6236
I agree with the statement of @dimacros

[2019-09-17 07:48] emperorofkicker commented on #7331
upd: it seems to be only for old requests (which had been exist before update to v7.7.2).

[2019-09-17 07:53] saswatds commented on #7331
Hi @emperorofkicker,
Prior to app version 7.7 the language selected for the raw body was not being stored in the app. The language was being ephemerally predicted from the `Content-Type` header.

In the newer version of app, we are now storing the language selection as well. In the upcoming app versions we will also enable to sync the language as well.

So in older request that do not have any lan

[2019-09-17 07:53] #7331 closed, assigned to codenirvana, saswatds

[2019-09-17 07:59] codenirvana commented on #6306
@hari2anand We've pushed a fix for this on `v7.7.2`. Can you update your app and confirm if that fixes your issue?

[2019-09-17 07:59] #6306 closed, assigned to ritwijsinha

[2019-09-17 08:02] vikiCoder commented on #6930
Hi @mcandre

We've added functionality to rename stored token from token manager in the latest version of Postman App (v7.7.2). Here is a screenshot from where you can rename the token:

<img width="803" alt="Screenshot 2019-09-17 at 1 27 17 PM" src="https://user-images.githubusercontent.com/16588032/65022762-2c46ec00-d94f-11e9-97bd-78a3a2367c67.png">

[2019-09-17 08:02] #6930 closed, assigned to vikiCoder

[2019-09-17 08:04] codenirvana commented on #5127
@preslavrachev This behavior is now fixed in the latest version of the Postman app (v7.7.2).
You can update the `Content-Type` header post selecting the raw body language without losing the language selected or defaulting to text like previously.

[2019-09-17 08:04] #5127 closed, assigned to saswatds

[2019-09-17 08:05] codenirvana commented on #6615
Duplicate of #5127

This behavior is now fixed in the latest version of the Postman app (v7.7.2).

[2019-09-17 08:05] #6615 closed, assigned to codenirvana

[2019-09-17 08:31] ash007-postman commented on #7333
@chore7 Can you please send an email to "help@getpostman.com" from your registered email id so that we can check on this further.

[2019-09-17 09:10] kgjelsten commented on #6531
@godfrzero Thanks. It seems to run OK again now when I tested again today. I will post ticket in an email if it returns back :)

[2019-09-17 09:34] debjeetsarkar commented on #7128
This should be fixed now.

Contact help@getpostman.com for further assistance.

[2019-09-17 09:34] #7128 closed, assigned to nobody

[2019-09-17 09:37] neg3ntropy commented on #4108
This never worked well and it is mostly broken now. Terrible experience.

[2019-09-17 09:50] uvarvu commented on #2816
@harryi3t It's not fixed in the canary stream.
EDIT:   It's not fixed in 7.7.2 either.

[2019-09-17 10:08] harryi3t commented on #2816
@uvarvu We have made the fix to not create new shortcuts in the `GitHub, Inc` directory on fresh installs and on updates. If that is still happening please let us know.

However, this does not automatically remove shortcuts created by previous versions under `GitHub, Inc` directory. We are working on a fix that will clean up these shortcuts. We want to be sure about the side effects of the cleanup

[2019-09-17 10:21] uvarvu commented on #2816
@harryi3t Ahh apologies, I was linked here from another issue regarding the app icon not appearing in apps and features on Windows.   I can confirm the directory location is indeed fixed but the app icon issue is still there.

[2019-09-17 10:46] harryi3t commented on #6897
@uvarvu Moving to this thread since the issue you are facing is regarding broken Postman icon.

The fix we made in v7.7.2 should fix the icons on the desktop and on the start menu under Postman directory. If you had a pinned icon on the taskbar which is broken, please unpin and pin it again.

If the issue still persists, try the following steps:
 - Find the shortcut that has a broken icon. Is it t

[2019-09-17 10:49] harryi3t commented on #2816
@uvarvu I have replied here https://github.com/postmanlabs/postman-app-support/issues/6897#issuecomment-532167201

[2019-09-17 10:49] codenirvana commented on #971
Hello Everyone 👋
We've made certain improvements in dynamic variables in the latest Postman app.

- The final list of dynamic variables is available here: https://learning.getpostman.com/docs/postman/scripts/postman_sandbox_api_reference/#dynamic-variables

- Added autocomplete and description for every dynamic variable.
<img width="741" alt="Screenshot 2019-09-17 at 4 12 02 PM" src="https://user-

[2019-09-17 10:49] #971 closed

[2019-09-17 10:51] abhisekp commented on #3117
@OMA2k The API tab in v7 helps

[2019-09-17 10:57] OMA2k commented on #3117
@abhisekp : But the API tab means building a new completely separate project from a regular collection, doesn't it? Isn't there any other way?

[2019-09-17 11:23] codenirvana commented on #519
Hello Everyone 👋
It took us a while but we've added support for **Visualizers** in the lastest Postman app v7.7.

<img width="1552" alt="visualizer_table" src="https://user-images.githubusercontent.com/4865836/65037474-68884580-d96b-11e9-9a3b-b0d43e21bfd6.png">

Learn more about visualizers here: https://learning.getpostman.com/docs/postman/sending_api_requests/visualizer/

Here's a similar Postma

[2019-09-17 11:23] #519 closed

[2019-09-17 11:54] WouterVanNifterick commented on #5308
This almost works under windows.
The only issue that I found was that the % character was not escaped to %%.

[2019-09-17 12:05] codenirvana commented on #6773
@DawnImpulse You can achieve this by using the new **Visualizers** feature added in the lastest Postman app v7.7.

Example:
[code]

<img width="1032" alt="Screenshot 2019-09-17 at 5 25 19 PM" src="https://user-images.githubusercontent.com/4865836/65039753-98861780-d970-11e9-8ce2-dc5cd892d208.png">

Learn more about visualizers: https://learning.getpostman.com/docs/postman/sending_api_requests/visu

[2019-09-17 12:05] #6773 closed, assigned to vikiCoder

[2019-09-17 12:26] saswatds commented on #6871
Closing this issue as we are not sure how to replicate this issue. Feel free to reopen if your have more information.

Thanks

[2019-09-17 12:26] #6871 closed, assigned to shamasis

[2019-09-17 12:33] codenirvana commented on #4809
@zfavourite99 You can achieve this by using the new **Visualizers** feature added in the lastest Postman app v7.7.

Example:
[code]

<img width="1031" alt="Screenshot 2019-09-17 at 6 01 36 PM" src="https://user-images.githubusercontent.com/4865836/65041828-3845a480-d975-11e9-88d6-955bc9db7931.png">

Learn more about visualizers: https://learning.getpostman.com/docs/postman/sending_api_requests/vis

[2019-09-17 12:33] #4809 closed, assigned to a85, vkaegis

[2019-09-17 12:45] vikiCoder commented on #7314
Hi @rofthedeep

Can you please send the same request to `https://postman-echo.com/get` and show the response you get?

According to my understanding, postman-echo should show comma-separated values for `User-Interest` header which is correct. I believe the culprit here is the generated `cURL` request which should have multiple headers added separately instead of combining them into the single head

[2019-09-17 12:54] DawnImpulse commented on #6773
@codenirvana Yeah it is a way to do that but again it increases no of steps and even increases hassles a lot. I am looking for a solution somewhat like jsonformatter.org where you simply press filter button & very easily apply sort/filters on the JSON ... For now, I believe copy/pasting on jsonformatter.org is much better than the method provided. No offense it is in a way a good approach although

[2019-09-17 13:00] danieldogeanu commented on #7258
This is also an issue with v7.7.2. I've experienced this same problem on v7.6.0 and it's still not fixed.

I'm running Windows 10 Pro x64 v1903, OS build 18362.356 (latest).

Here's my [SquirrelSetup.log](https://github.com/postmanlabs/postman-app-support/files/3621365/SquirrelSetup.log)

Any ideas on how to make it work?

[2019-09-17 13:16] mccannt commented on #7258
@danieldogeanu Thx for reaching out and providing the logs.
I am curious if this is any help https://support.getpostman.com/hc/en-us/articles/360008601954-Postman-App-doesn-t-start-Postman-App-not-working

[2019-09-17 13:18] danieldogeanu opened #7334 "VirusTotal Flags Postman as Infected"
Hey guys, so I've scanned your Windows installer with VirusTotal, as I do with all my apps before installing, and it says that your app is infected with _BScope.Adware.NSIS.ConvertAd_. Is this a false positive or should I worry?

Here's the [details of the scan](https://www.virustotal.com/gui/file/b1622317712f87ac87d6cfc3a1e5110c6832541a3c88282c1d72b86cd77a811f/details), if it's of any use.

I do

[2019-09-17 13:22] saswatds commented on #5663
Closing this issue as we are not able to reproduce this internally and we haven't seen other users facing the same.

Please feel free to reopen if the issue persists or you can help us with the steps to reproduce this issue.

[2019-09-17 13:22] #5663 closed, assigned to codenirvana

[2019-09-17 13:45] saswatds commented on #5993
Closing this issue as we are not able to reproduce this internally and we haven't seen other users facing the same.

Please feel free to reopen if the issue persists or you can help us with the steps to reproduce this issue.

[2019-09-17 13:45] #5993 closed, assigned to nobody

[2019-09-17 13:49] godfrzero commented on #7317
@imikemiller Could you post the link to the concerned published documentation here? If you've already opened up an internal support ticket, please send the ID of the published collection on the internal support ticket. The documentation doesn't exist as a separate logical entity from the collection, so this bug shouldn't be possible.

[2019-09-17 13:51] saswatds commented on #4622
Closing this issue as we are not able to reproduce this internally and we haven't seen other users facing the same.

Please feel free to reopen if the issue persists or you can help us with the steps to reproduce this issue.

[2019-09-17 13:51] #4622 closed, assigned to nobody

[2019-09-17 13:57] vikiCoder commented on #6332
Closing this as a duplicate of the following issue:
https://github.com/postmanlabs/postman-app-support/issues/5658

[2019-09-17 13:57] #6332 closed, assigned to nobody

[2019-09-17 14:31] cyrielle-hada commented on #7329
@fafnirbcrow the user who removes the API from the workspace should be able to delete it at this page: https://app.postman.co/me/apis

<img width="1217" alt="Screen Shot 2019-09-17 at 16 30 14" src="https://user-images.githubusercontent.com/47351631/65050959-886a3a00-d968-11e9-9c84-0411bcdc2ecc.png">

[2019-09-17 14:53] ritman-us commented on #7154
Any suggestions or a fix for the issue above would be helpful ... as of now we cannot use postman with large data sets being returned.

[2019-09-17 15:06] prlofty commented on #7318
Similar story for me.
Updated to V7.7.2 (Win64) this morning.
I have several SOAP requests, which were working fine when the body was set to 'raw' and 'XML'
After the update, these requests will only generate a proper response if I use any language choice except XML.

I'm happy to assist further.

[2019-09-17 15:10] codenirvana commented on #7154
@ritman-us Can you try removing the `event` property completely and check if that fixes your issue?

[2019-09-17 15:17] codenirvana commented on #7318
@ypatel26 This issue is fixed in the latest version of the Postman app.

@prlofty can you check what's the `Content-Type` request header sent when the request fails or works?

[2019-09-17 15:24] ypatel26 commented on #7318
@codenirvana  Thanks.  Yep it's fixed in V7.7.2 for me.  Appreciate the quick turnaround.

[2019-09-17 15:29] prlofty commented on #7318
@codenirvana  - I have run the five language types using the same message:

Type - Language - Response Content Type - Success/Fail

raw - Text - text/xml; charset=UTF-8 - SUCCESS
raw - JavaScript - text/xml; charset=UTF-8 - SUCCESS
raw - JSON - text/xml; charset=UTF-8 - SUCCESS
raw - HTML - text/xml; charset=UTF-8 - SUCCESS
raw - XML - application/xml; charset=UTF-8 - FAIL

[2019-09-17 15:30] bzmw opened #7335 "Importing OpenAPI spec through curl returns malformedRequestError"
**Describe the bug**
When I try to import my OAS spec through a `curl` call I get an error message back saying 'malformedRequestError'

[code]

**Additional context**

The OAS spec validates on the standard tools, I have a feeling that my curl command is just a little bit bjorked.

[2019-09-17 15:39] codenirvana commented on #7318
@prlofty Selecting `XML` by default adds `Content-Type` as `application/xml` but you can update the `Content-Type` header manually to `text/xml` which I suppose is required in this case.

[2019-09-17 15:39] #7318 closed, assigned to saswatds

[2019-09-17 15:49] prlofty commented on #7318
@codenirvana - Thanks. Forgive my ignorance, I'm a big fan of Postman but only a beginner.
I had made no changes to the messages since the update. The languages cannot be specified in the same way as before. I will set the content type manually as advised.

[2019-09-17 15:56] chrisdeso commented on #7330
@nadiaadhami – Would you try the link below?

* https://go.postman.co/usage/archive
* [How Archiving Works](https://learning.getpostman.com/docs/postman/launching_postman/collaboration/#how-archiving-works)

[2019-09-17 16:39] stcalica commented on #6105
Another occurrence of this has been reported via Support.

[2019-09-17 17:43] sezini commented on #3358
+1 for this feature

[2019-09-17 18:38] Luke-SF opened #7336 "Laravel errors show as nothing"
**Describe the bug**
Cannot see Laravel errors that come back.

**To Reproduce**
Steps to reproduce the behavior:
1. Fresh install of Homestead. Make any route that has an error or missing include.
2. Try the get/post in Postman.
3. Note that although it has the html, it will show nothing, perhaps because the preview doesn't even have javascript?

**Expected behavior**
There should at least be an

[2019-09-17 18:43] brijesha commented on #6236
@sankalp0o I created the team workspace sometime back. Later I realized that I have reached the shared requests limits for Team workspace and some of the collections were archived because of that. So team workspaces are no use to me and none of my team members are using it. I want to get rid of it but since delete feature is not there I am not able to.

Also when I switch back to Personal Workspac

[2019-09-17 18:44] mistryvipul2002 commented on #6236
@sankalp0o I created the team workspace sometime back. Later I realized that I have reached the shared requests limits for Team workspace and some of the collections were archived because of that. So team workspaces are no use to me and none of my team members are using it. I want to get rid of it but since delete feature is not there I am not able to.

Also when I switch back to Personal Workspac

[2019-09-17 19:04] #7273 closed, assigned to ankitjaggi

[2019-09-17 19:16] chrisdeso commented on #7336
@Luke-SF What does cURL return when you send the same request?

You can use the `Code` feature to generate the request formatted for cURL:

- https://learning.getpostman.com/docs/postman/sending_api_requests/generate_code_snippets/

[2019-09-17 19:25] dltacube opened #7337 "Bug - custom Content-Type header being reset to text/plain"
**Describe the bug**
On version 7.7.2, changing any text inside the body of a `POST` request will automatically change the `Content-Type` header to `text/plain`.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a `POST` request
2. Fill out the request body
3. Fill out the `Content-Type` header to something custom, in my case it's a variable
4. Go and make any change to the request body

[2019-09-17 19:40] szsascha commented on #4009
Any news for websocket support in postman?

[2019-09-17 20:11] saswatds commented on #7337
Hi @heyoni, thank you for reporting this issue. I can confirm that this is happening.
Prior to v7.7 the app did not understand language of the raw body and ephemerally tried to infer the language from content-type. This prevented us from providing support for standard languages with custom content type. In the latest app version we internally added support for raw body language.

So I can see that

[2019-09-17 20:28] AquaHippie808 opened #7338 "Bug with case sensitivity when inviting new users to postman pro"
Bug with case sensitivity when inviting new users to postman pro

[2019-09-17 20:38] asi-postman commented on #7338
**Describe the bug**
Bug with case sensitivity when inviting new users to postman pro

**To Reproduce**
A current user uses the postman app to recommend a use postman pro user using lower case.
Example: usera@example.com

An admin also invites the same user with an email address that is in a different case.
Example: userA@example.com

The result is that the invite from the admin will not work beca

[2019-09-17 23:25] Luke-SF commented on #7336
Well it is unfortunately doing the same in a Firefox REST tool, I'm sure it is not the requesting that is broken. It looks the same and has a `<script>` with the data, when I use that curl command.

[2019-09-18 00:23] harrybajwa28 commented on #7114
This issue is fixed for me as well. I am able to import the swagger document.

[2019-09-18 00:24] #7114 closed, assigned to abhijitkane

[2019-09-18 03:01] prabhu14 opened #7339 "asdasdasfasf"
asdasdfasd

[2019-09-18 03:13] preethammavin commented on #7329
@fafnirbcrow thanks for the feedback, will look at enabling this. In the meanwhile to unblock yourself can you share the API to a workspace and delete from there?

[2019-09-18 03:16] preethammavin commented on #7328
@sanchitgarg2 do try the postman dashboard, it enables most of the things other than sending a request.
I do a workaround for now which is usually trigger a manual monitor run when I want to send a request when I am not on my laptop. While this is not ideal :) . Keeping this a feedback and registering it as a feature request so that we have the information necessary to plan our long term roadmap

[2019-09-18 05:25] sukhmeet2390 commented on #3822
Looking forward for this.

[2019-09-18 05:30] abhijitkane commented on #7338
@asi-postman Can you explain the current behavior you're seeing? Is the admin unable to see the invite?

Even if you send an invite with the same email (in the same case), there will be no error message because we treat emails the same irrespective of case. We might have to re-look at this - some providers might respect case, some might not.

[2019-09-18 05:56] #7339 closed, assigned to nobody

[2019-09-18 06:26] danielmmf commented on #4374
rm ~/.config/Postman/Singleton*

[2019-09-18 07:08] leofrances-extflowbird opened #7340 "Using beautify button in request body implies changing Content-Type header"
**Describe the bug**
When I have Content-Type header equal to 'application/ld+json' or 'application/json-patch+json', my request header is well formated in JSON. But when I beautify (with the button) my request header, my Content-Type change to 'application/json'. And I would not like this behaviour.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a request with JSON body
2. Set the C

[2019-09-18 07:22] g3blv opened #7341 "Can't find button for sorting collection on Snap client"
**Describe the bug**
There is no button for sorting collections in the Snap client running on Ubuntu 18.04. [According to the Postman documentation](https://learning.getpostman.com/docs/postman/collections/managing_collections/#reorder-collections) there should be a button when **Collections** is active.

**To Reproduce**
Steps to reproduce the behavior:
1. Open Postman
2. Select **Collections** i

[2019-09-18 08:14] codenirvana commented on #7316
Duplicate of #5779

@etabackman Its a known issue with variables containing `#` and you can find more detail about what it's not supported here: https://github.com/postmanlabs/postman-app-support/issues/5779#issuecomment-465018548

[2019-09-18 08:14] #7316 closed, assigned to codenirvana

[2019-09-18 08:27] codenirvana commented on #7285
@teunis90 Thanks for the feature request. I understand your issue with switching proxy settings every time.

To fix similar issues with core request sending flows we recently (v7.7) added new `Settings` tab for every request and soon adding support for Collection and Folder level settings/configurations as well.

We are currently working on fixing a few of the issues with proxies which you already

[2019-09-18 08:27] #7285 closed, assigned to codenirvana

[2019-09-18 09:07] lvyahui8 opened #7342 "Blank window, can't see anything"
**Describe the bug**

Window blank, can't see anything,

**To Reproduce**
Steps to reproduce the behavior:
1. Startup application
2.Can't see anything

**Expected behavior**

Function available

**Screenshots**

![image](https://user-images.githubusercontent.com/9465195/65133943-1a8c4400-da36-11e9-8b21-968b91c4a897.png)

**App information (please complete the following information):**
 - App Type:

[2019-09-18 09:21] SegarJJ opened #7343 "improve selected item contrast in the left tree"
it is difficult to see the selected item in the left tree, it does not have enough visual difference to quickly identify.  what can help ?

[2019-09-18 09:28] SegarJJ opened #7344 "test script code based on selection in response?"
highlight fields or data in a request response and mb3 suggest a clip to append to the test tab.

[2019-09-18 09:42] teunis90 commented on #7285
@codenirvana Thanks for your update. Totally missed #4739 in my research of existing issues.

[2019-09-18 09:44] SegarJJ opened #7345 "edit a variable value with mb3 on the variable name"
It is a bit tedious to always open an environment variable page to edit a single variable value. could a button be added to the value popup allowing a fast method to edit the value?

[2019-09-18 09:47] teunis90 commented on #4739
We need this too, missed this issue. I've requested the same thing in #7285

In addition, as mentioned in #7285, this feature would be an alternative and more powerful implementation of:
- #3942
- #6380
- #6484

Hope this will be implemented soon!

[2019-09-18 10:12] darceal12 opened #7346 "Clicked the body button the tab considered as edited all fields if the method used is POST, PATCH, PUT, or DELETE"
**Describe the bug**
User clicked the body button the tab considered value was changed but user didn't changed the values. Applicable only for JSON and the methods are POST, PUT, PATCH, and DELETE.

**To Reproduce**
Steps to reproduce the behavior:
1. Open your postman
2. Click the collection wherein the method indicated is POST, PATCH, PUT, or DELETE
3. Click the body and looked the selected coll

[2019-09-18 10:27] kamalaknn commented on #4897
Hi everyone,

Since this issue was reported, we have pushed several fixes to improve the stability of data migrations during updates. The recent updates shipped as part of Postman 7.1 released in May.

I'm closing this issue since due to inactivity.

[2019-09-18 10:27] #4897 closed, assigned to nobody

[2019-09-18 10:34] uvarvu commented on #6897
Those icons are okay it's the ones under "apps & features" and "programs and features" that are broken

![Annotation 2019-09-18 113224](https://user-images.githubusercontent.com/8590819/65141287-37118780-da08-11e9-98d6-07da755388e4.png)

[2019-09-18 10:50] harryi3t commented on #6897
@uvarvu It's a separate issue which we are tracking here https://github.com/postmanlabs/postman-app-support/issues/5468

[2019-09-18 11:19] ghost commented on #7346
This is really annoying and time-wasting behavior. I hope the Postman team will fix this asap.

[2019-09-18 11:38] codenirvana commented on #7346
@darceal12 @Wim-Kok You can find more details about why it's happening here: https://github.com/postmanlabs/postman-app-support/issues/7331#issuecomment-532106183

We are working on fixing this behavior of updating older requests.

[2019-09-18 11:53] ghost commented on #7331
Hi @saswatds,

What does this mean "In the upcoming app versions we will also enable to sync the language as well."? Does this imply that you will automatically sync older request in an upcoming app version? And can you please inform us, when this will be released?

Or are you suggesting that we manually update each single request in all collections that we have?

[2019-09-18 12:00] danieldogeanu commented on #7258
@mccannt It doesn't help. I deleted the folders, I get the same thing. However, I discovered that this is not an issue only with Postman, but with Electron itself. I tried to install Atom as well and I get the exact same error. Even worse, Electron is flagged as infected with BScope.Adware.NSIS.ConvertAd. Maybe this is the real issue.

[2019-09-18 12:14] mccannt commented on #7258
@danieldogeanu Thanks for trying this. I have added this information to our issue and we will investigate further.

[2019-09-18 12:15] danieldogeanu commented on #7258
@mccannt Thanks! Also, here's the log from Atom install: [Squirrel-Install.log](https://github.com/postmanlabs/postman-app-support/files/3626300/Squirrel-Install.log)

[2019-09-18 12:53] nicolajv commented on #3845
+1

[2019-09-18 14:15] stonedem0 commented on #3358
+++

[2019-09-18 14:39] fafnirbcrow commented on #7329
Found the link you specified! Thank you!

I would suggest that the ux flow to find this is a bit unclear.
The 'me' section is underneath your user profile (top right link) I was not expecting to find in my profile basically a sub set of my workspace. I would have expected to be able to access this from the workspaces menu, or something of the sort.

Just some feedback, I really appreciate the help

[2019-09-18 14:41] saswatds commented on #7331
@Wim-Kok you do not need to manually update any or all request. We have already handled all flows internally. You can expect a fix in the next minor version of the app.

[2019-09-18 15:13] ghost commented on #7331
Hi @saswatds,
Okay, thank you!

[2019-09-18 15:34] cyrielle-hada commented on #7329
@fafnirbcrow thanks for the feedback! We actually reported this UX flow here: https://github.com/postmanlabs/postman-app-support/issues/7265 - feel free to add a +1 to this issue!

[2019-09-18 15:56] gonzalojorge commented on #7318
I also noticed that since the latest release 7.7.2 the `XML` header defaults to `application/xml` where previously the default option was `text/xml`. Now this option is no longer even available in the drop-down menu and we need to manually change all of our headers from `application/xml` to `text/xml` to make our SOAP requests work.
Not sure if there are plans to re-enable this form the drop down

[2019-09-18 16:09] SebaPrati commented on #7318
I am having THE SAME problem and started with version 7.7.2. This [GitHub #2366] - Disabled automatic addition of content-type header... is assuming that ALL applications will accept application/xml. ALL my requests were working fine as text/xml.
PLEASE FIX ASAP. It is affecting multiple users. Thanks

[2019-09-18 16:30] saswatds commented on #7318
@SebaPrati @gonzalojorge the issue you are facing is related to this issue https://github.com/postmanlabs/postman-app-support/issues/7346. We are on top of this and will be releasing the fix soon.

[2019-09-18 16:31] Aex12 commented on #3358
I also need this feature.

[2019-09-18 16:32] SebaPrati commented on #7346
Thanks for referencing.

[2019-09-18 17:47] ecournane commented on #4079
+1

[2019-09-18 18:07] codenirvana commented on #7274
@bagrip That's odd. I am not able to reproduce this issue locally.
Is it possible to share the script with a scaled-down collection (without any sensitive data) which I can use to reproduce this issue?

[2019-09-18 18:19] codenirvana commented on #7299
@adaniels85 Thanks for reporting this issue. I can confirm its happening with only collection runner.
Will update once the fix is available in our canary or production channel.

[2019-09-18 18:34] codenirvana commented on #7181
@hzlpsd2 looks like the certificate you are using is signed with an md5 hash which is no longer supported with OpenSSL 1.1.0.

Is it possible for you to regenerate the certificate and use a stronger hash to sign?
Alternatively, I suppose turning OFF `SSL certificate verification` setting will fix this issue.

![Screenshot 2019-09-19 at 12 02 07 AM](https://user-images.githubusercontent.com/4865836

[2019-09-18 18:34] #7181 closed, assigned to codenirvana

[2019-09-18 18:38] #7093 closed, assigned to codenirvana

[2019-09-18 18:44] codenirvana commented on #7166
Note to self: Related to
- https://github.com/postmanlabs/postman-app-support/issues/1757
- https://community.getpostman.com/t/setnextrequest-in-pre-request-skipping-call/860

[2019-09-18 18:51] codenirvana commented on #4064
@poisa Thanks for the response, I assume it got fixed over time 😕.

Closing this issue as we are not able to reproduce this internally and we haven't seen other users facing the same.

Please feel free to reopen if the issue persists.

[2019-09-18 18:51] #4064 closed, assigned to a85, codenirvana, vkaegis

[2019-09-18 19:04] codenirvana commented on #5889
Duplicate of #3661

[2019-09-18 19:11] codenirvana commented on #5103
@tjraskin Yes, system proxy will reuse same proxy configurations as in IE but if the proxy authentication is required then it will not work as proxy auth credentials will not be shared. In that case, you can configure global proxy with the authentication credentials.

Closing this issue as we are not able to reproduce this internally and we haven't seen other users facing the same.

Please feel fr

[2019-09-18 19:11] #5103 closed, assigned to codenirvana

[2019-09-18 19:12] mikereiche commented on #3418
V7.7.2
Not sure if this is the right thread for this - when I import my  api-docs, it shows the variable baseUrl is  //localhost:9090/ .  When I select a service, it shows :
GET  {{baseUrl}}/books
Substituting for {{baseUrl}}, this results in //localhost:9090//books - which doesn't work.  The correct url is http://localhost:9090/books   Is there some way to get postMan to use the correct baseUrl?

[2019-09-18 19:18] SamSverko commented on #1070
+1 Another from me! Would be great to have this :)

[2019-09-18 19:34] JSSAggie commented on #7338
In the screen shot above another postman pro user invited that user by email with a lower case email address.

In the bottom section I am showing a user that was invited via the API.  We have a slack bot connected to the postman APIs that our company uses to request a postman pro license.

When the new user that was invited tries to accept the invitation it causes errors.  I don't know the specifi

[2019-09-18 19:52] codenirvana commented on #7340
@leofrances-extflowbird Thanks for reporting this issue. We are tracking this with a similar issue here: https://github.com/postmanlabs/postman-app-support/issues/7346

The fix will be available soon!

[2019-09-18 19:52] #7340 closed, assigned to saswatds

[2019-09-18 20:47] codenirvana commented on #4760
Closing as we are tracking this feature request here: #5394

[2019-09-18 20:47] #4760 closed, assigned to shamasis, codenirvana

[2019-09-18 21:06] asi-postman commented on #7282
Hi @preethammavin, the customer @iFreeon created a support ticket (linked) mentioning that they couldn't locate any revisions in the changelog related to their *1.0 Local environment*. I wanted to relay the info from the Product Support side.

[2019-09-18 21:22] davidh-zoosk commented on #6105
I am experiencing the same issue while trying to sync to a custom github domain. The integration is created without any errors, but no data is synced.
Created a new repo from scratch, attempted the integrations, same result.
Then attempted the integration on github.com (non-custom domain) and the sync occurred instantly without issue.

[2019-09-18 21:32] shamasis commented on #7149
I am closing this issue for complete lack of useful information from the original poster. The subsequent info from @RichardJFoster, I am appending to #7125 since they are eerily close in how they are responding.

[2019-09-18 21:32] #7149 closed, assigned to codenirvana, saswatds

[2019-09-18 21:34] shamasis commented on #7125
Quoting from another issue to possibly state that this is happening for both windows and mac OS. Thanks @RichardJFoster

https://github.com/postmanlabs/postman-app-support/issues/7149#issuecomment-523961957

[2019-09-18 21:40] chrisdeso opened #7347 "Unshared collection got archived"
**Describe the bug**
Unshared collections in personal workspaces are reportedly being archived.

**To Reproduce**
Steps to reproduce the behavior:
1. Join a free-tier team
2. Go over shared collection limit
3. See archived collection appear in personal workspace

**Expected behavior**
The expected behavior is for only shared collections to be archived once the collaboration limit is reached.

**Sc

[2019-09-18 22:31] dmeilinger commented on #7347
Thanks Chris !

[2019-09-18 22:32] shamasis commented on #7106
Duplicate of: https://github.com/postmanlabs/postman-app-support/issues/7106 We are working towards improving the response area error messages so that this can be bubbled up better.

[2019-09-18 22:32] #7106 closed, assigned to coditva

[2019-09-18 22:33] shamasis commented on #4485
Closing this as duplicate and concentrating to ensure the request sending error messages are put straight into the response failure area.

[2019-09-18 22:33] #4485 closed, assigned to codenirvana, vkaegis

[2019-09-18 22:57] codenirvana commented on #6587
@andreagubellini Closing this issue as we are not able to reproduce this internally and we haven't seen other users facing the same.

Please feel free to reopen if the issue persists or you can help us with the steps to reproduce this issue.

[2019-09-18 22:57] #6587 closed, assigned to codenirvana

[2019-09-18 23:07] #7231 closed, assigned to codenirvana, vikiCoder

[2019-09-18 23:12] codenirvana commented on #5841
@tegomass Can you update your app and confirm if that fixes your issue?

If the issue still persists, is it possible to share a scaled-down collection with the sample express server which we can use to reproduce this issue internally?

[2019-09-18 23:59] codenirvana commented on #6728
@IsrraBanton That's by design and you can know more about variable sessions here: https://blog.getpostman.com/2018/08/09/sessions-faq/

Changing this to feature request and updating the issue title accordingly.

[2019-09-19 00:10] xk0der opened #7348 "Monitor folders within a collection (similar to folder selection in Collection Runner)"
**Is your feature request related to a problem? Please describe.**
Collection runner within Postman allows you to select only a single folder to run. In Monitor, you have to run the entire collection and cannot select only a folder to monitor.

**Describe the solution you'd like**
Provide the ability to select a folder when creating a Monitor, similar to how Collection runner does.

**Additional c

[2019-09-19 00:19] codenirvana commented on #7279
@naclma We are currently working on adding support for this feature which will allow you to bypass proxy settings for the given domains.

Please follow #6380 for more updates and its availability in our canary or production channel.

Closing as duplicate of #6380

[2019-09-19 00:19] #7279 closed, assigned to codenirvana

[2019-09-19 00:50] bagrip commented on #7274
@codenirvana Actually this issue is not reproducible anymore

[2019-09-19 00:50] #7274 closed, assigned to codenirvana

[2019-09-19 00:50] bagrip commented on #7274
@codenirvana Actually this issue is not reproducible anymore

[2019-09-19 02:14] westmeadwestmead commented on #4814
I got the same issue with v7.6
Update to v7.7.2 fixed the issue.

[2019-09-19 03:18] Herman-Wu commented on #4079
+1

[2019-09-19 05:30] sankalp0o commented on #7347
Hey @chrisdeso, @dmeilinger thanks for reporting!
When you hit the limit, only some of Shared collections get archived, irrespective of the workspace. Unshared collections are not supposed to be archived. We'll investigate and look into this.

[2019-09-19 07:02] mariefoltynova commented on #7232
Hi, is it going to be fixed soon, please? It's really a big issue for us. The same happens on Linux.

[2019-09-19 07:04] makhnanov opened #7349 "Alt + Shift = Menu"
I want to switch language. I press Left Alt + Left Shift. But I open Content Menu "File". Can you fix it?

**App information:**
 - App Type: Desktop
 - Postman Version: v7.7.2 x64 for Linux
 - OS: `Linux System-Product-Name 4.15.0-58-generic #64-Ubuntu SMP Tue Aug 6 11:12:41 UTC 2019 x86_64 x86_64 x86_64 GNU/Linux`

[2019-09-19 07:54] hzlpsd2 commented on #7181
[CRT.zip](https://github.com/postmanlabs/postman-app-support/files/3630040/CRT.zip)
Attached the certificate in question. As already pointed out, the signature hash algorithm used is SHA-256. Also, turning SSL certificate verification off does not fix the issue.

[2019-09-19 07:56] HarpunDK opened #7350 "Duplicate request - changes are linked with the original"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
This is in the postman client. Most recent update and earlier as well.

1. Open an existing request or create a new request
2. Set a name to the request (click save if you like)
3. Right click on the request-tab and chose "Duplicate tab"
4. Set the name/description of the new

[2019-09-19 08:03] coditva commented on #6055
Yes, the problem here seems to be that the space is not shown as encoded in the console itself. However, if you send a request to `/foo%20bar` (not `/foo bar`), the space is shown.

The issue here seems to be that the console shows the url that was typed by the user rather than the url to which the request was sent. Updating the title to reflect this issue.

[2019-09-19 08:04] Cazaimi commented on #7175
We’ve found the root cause for this and the fix should be out soon. Stay tuned!

[2019-09-19 08:37] staplespeter commented on #7241
I had this issue, but it is really a notification message issue.  Upon restart the version has been updated.  An automated restart should be performed, or a instructional/informational message displayed.

[2019-09-19 08:38] cheahkhing commented on #2240
Hi, it seems like this has been opened for quite some time without any more updates or progress. Can anyone comment on this?

[2019-09-19 08:45] coditva commented on #7288
@andre-exads @Duckbringer This is definitely an issue with the cookies.

The Runner is not ignoring the cookies, it concatenates all the cookies into one cookie. But the problem is that the Runner is not using the new cookies, but rather the one set when sending the standalone request in the Request Builder.

One workaround you can try in the meantime while we work on fixing this is that you can c

[2019-09-19 08:50] coditva commented on #6951
@jaumzera We have not been able to reproduce this issue. Closing this because of inactivity. Do feel free to re-open this if you have more info. Thanks!

[2019-09-19 08:50] #6951 closed, assigned to coditva

[2019-09-19 10:18] cyrielle-hada commented on #7046
@himanshu226 Another occurrence of this has been reported via Support. Would it be possible to re-prioritize this? Or is there a way we can access the data export request that has the .zipped status?

[2019-09-19 10:20] SegarJJ opened #7351 "Add menu item to 'Locate In Tree' when MB3 on request tab"
I have a lot of request tabs open in my workspace, many of them are from some of the different collections in the workspace.  I have changes in many of these tabs, but I am not sure to save my changes on that request or not... it depends on which collection it was in.   As a result, I often stand to loose work because I am unsure where that request was opened from.

To help, I propose to get a men

[2019-09-19 10:25] wiggisser opened #7352 "Stability issues with sync sessions"
**Describe the bug**
Every now and then (much less than the appointed 30 days in the signin screen) I get a popup "Your session has expired ..." and I have to re-signin. Often at re-signin I get the message "something went wrong" eventhough I entered the correct password from my password vault. Today I chose to completely sign out and signin from scratch.

First time I entered my username and pass

[2019-09-19 11:15] JeremiasIsnardy commented on #1744
+1 for open API specs exports, its kind of a show stopper for us :-(

[2019-09-19 11:34] codenirvana commented on #7346
@darceal12 @Wim-Kok @SebaPrati
We've pushed a fix for this on `v7.7.3`. Can you update your app and confirm if that fixes your issue?

[2019-09-19 11:37] scharf opened #7353 "Label workspace/collection does not match HTTP method"
**Describe the bug**
Label in collection does not match the HTTP  Method

**To Reproduce**
Steps to reproduce the behavior:
1. Duplicate a `GET` re quest in a collection
2. Change the Method to `PUT`

**Expected behavior**
It schould show `PUT` as Method

**Screenshots**

![Postman-Wrong-Label](https://user-images.githubusercontent.com/3731059/65240619-fa19c380-dae1-11e9-956f-028c43db777d.jpg)

**

[2019-09-19 11:38] codenirvana commented on #7318
@ypatel26 @prlofty @gonzalojorge This issue is fixed in the latest Postman app `v7.7.3`.
Can you update your app and confirm if that fixes your issue?

[2019-09-19 11:39] codenirvana commented on #7340
@leofrances-extflowbird This issue is fixed in the latest Postman app `v7.7.3`.
Can you update your app and confirm if that fixes your issue?

[2019-09-19 11:50] shivam-postman opened #7354 "Clicking on Add tests in monitoring test results redirects to page with 404 response"
**Description:**

When viewing the test results for a monitor, selecting the failed tests tab shows a message with a link to `Add tests`, if no tests failed. The link redirects to a page returning 404. Similar behaviour is seen when no tests are present in the monitor's collection and we click `Add tests`.

**To Reproduce:**

1. Go to the monitor's page.
2. Select a run for which all the tests pas

[2019-09-19 11:52] SebaPrati commented on #7318
Not sure what is the use case that Postman team think is right. If I have a previous Content-type value, and then I go and select THE SAME type in the dropdown (Text, Javascript, JSON, HTML or XML) then my value is overwritten by your default value.
The fix is not breaking old collections anymore, but not sure if this current behavior is exactly the same in the previous versions.
My 2 cents: bring

[2019-09-19 12:04] appurva21 commented on #7353
Hey @scharf, thanks for reaching out!
Is there a chance you didn't save the duplicated request after changing the HTTP method?
If that was the case, please try saving the request after changing the HTTP method. This would update the label accordingly.

[2019-09-19 12:20] codenirvana commented on #7318
@SebaPrati Thanks for the confirmation.

I understand your frustration and in the upcoming release, we'll remove the authoritative override of the `Content-Type` header and will respect your custom header value (if set else defaults to language default on runtime).

Yes, It is.

Right, but this change allowed us to fix other issues like #5127, #6615, etc.
Also, the selection of raw body language c

[2019-09-19 12:23] scharf commented on #7353
@appurva21 indeed, when I save, it updates correctly.

However, it is confusing that the `Save` button does not change state when the request is not saved.

From a UX perspective, it would be good to show the `unsaved` state somewhere.

What's even more confusing is that you can have many requests in an unsaved state without noticing it and switch between unsaved requests.

[2019-09-19 12:27] scharf commented on #7353
Is there a **Save All** action?

[2019-09-19 12:38] ghost commented on #7346
Hi @codenirvana
It works fine for me now, thank you !

[2019-09-19 12:48] elise-lcdb opened #7355 "Json Data returned is not formatted"
**Describe the bug**
I just updated Postman, and now when I receive JSON data it no longer does the indentations like before...

I have it set to Pretty mode, and specified that the data is Json. However, it stills returns everything on one line instead of separating the data to an easy to read format.

Is anyone there a way to fix this?

**Expected behavior**
{
   data: {
     //information here

[2019-09-19 12:52] HKFiliatix opened #7356 "Can not update postman native app on Ubuntu"
Update from Postman 7.1.1 to 7.7.3 - download successful, but update process is not.
Tried several times, here the logs:

[code]

[2019-09-19 12:55] appurva21 commented on #7353
@scharf you can track whether a request is in `saved` or `unsaved` state by following the red dot present beside the request name in the tab.

![dirty](https://user-images.githubusercontent.com/24985700/65245201-c6eb2a80-db09-11e9-835d-6fcd0c459265.gif)

Once you make some changes to a saved request, the tab becomes dirty (the red dot appears) indicating the `unsaved` state of the request. After y

[2019-09-19 13:02] SebaPrati commented on #7318
Hello @codenirvana , thanks for your reply.
Essentially we have 3 use cases:
SOAP/XML:
Body: raw/XML
Content-type: text/xml
REST/JSON number 1:
Body: raw/Text
Content-type: application/x-www-form-urlencoded
REST/JSON number 2:
Body: raw/JSON
Content-type: application/json

Thanks!

[2019-09-19 13:09] leofrances-extflowbird commented on #7340
@codenirvana it works for me. Thanks a lot

[2019-09-19 13:13] harryi3t commented on #7356
@HKFiliatix Thank you for reporting the issue.
We would need some extra information that would help us triage the issue faster
- What happens you click on "Update downloaded, restart now" button? Does the app quit and the new app does not start?
<img src="https://user-images.githubusercontent.com/5207331/65246870-ff403800-db0c-11e9-85d0-74f5f8c52482.png" height="300px"/>

- Can you also a screensh

[2019-09-19 13:19] jonnytest1 opened #7357 "Generate code for pm.sendRequest"
**Is your feature request related to a problem? Please describe.**
testing requests and then moving them into a pre request script is not working efficiently

**Describe the solution you'd like**
under Code add an Option with code as it is used in a pre-request Script
like :
`

    const request= {
      url:'url',
      method: 'GET',
     headers:[],
     body:{
            mode:"",
           r

[2019-09-19 14:22] M-Yankov commented on #3358
~I do not know how much `+1` is required this to be implemented. Is this planned to be implemented in the next year ?~

Hm... after a little testing this is working no matter that the editor shows red icon for error.
V 7.7.3, Windows 10 x64

[2019-09-19 14:31] emereyd commented on #4401
Hi @akaczinski, did you get a response or a resolution?
I think i'm in the same situation you have described.

[2019-09-19 14:56] prlofty commented on #7318
Hi @codenirvana

I am also using:
SOAP/XML:
Body: raw/XML
Content-type: text/xml

I have updated to 7.7.3. When I create a new request, and select raw/XML the content-type defaults to application/xml.
I still have to manually update the content-type in the Headers tab for my request to work.

Postman has not converted my existing requests. They have remained as set yesterday to text/xml.

[2019-09-19 16:22] njsrikar commented on #7078
@NylonDiamond thank you, that resolved the issue for me as well!!

[2019-09-19 16:45] akaczinski commented on #4401
Hello @emereyd, I haven't received a response yet, but I did submit the email. Have you found any workarounds that guarantee saving collections to the cloud? It's a fairly frustrating bug.

I'll tag you once I hear back. Good luck!

[2019-09-19 16:57] emereyd commented on #4401
@akaczinski yes pls to tagging me.
Workaround: I created a new collection and migrated the old one over using the Postman API. I followed these steps:

1. Exported my collection from Postman app.
2. Using the [Postman API](https://docs.api.getpostman.com/?_ga=2.141458416.39102523.1565347887-1831388330.1532599713&version=latest#99810ef3-3cc0-a6cc-06f5-d8e2ae9d84e4) I added to body what i exported +

[2019-09-19 17:28] Worldpay-Austin opened #7358 "Content-Type Headers changed inexplicably"
After the latest update, all my payloads have had their Content-Type changed from text/xml to application/xml.

I certainly didn't change it and my application requires text/xml. When I select XML as the type of the Body, it gets set to application/xml.

Why this change and is there a way to reset where it will always set header to text/xml?

[2019-09-19 18:13] scharf commented on #7353
I think this issue can be closed.

However, it would be nice to also show the unsaved state in the workspace/collection to reduce confusion...

It would also be nice to have a `Save All` button.

[2019-09-19 18:16] scharf commented on #2450
I cannot switch to dark mode because it confuses me even more. The low contrast makes it **very** hard to work with the app.

[2019-09-19 18:31] ingyeoking13 opened #7359 "Cannot open postman in windows"
can not open postman in windows 10. after updating from previous version (I don't remember what was the specific number of version.) I can't open postman.

**Screenshots**

![캡처](https://user-images.githubusercontent.com/18030634/65270866-ff652580-db56-11e9-8cf3-e97829ea9c2c.PNG)

**App information (please complete the following information):**
Native App
app-7.7.2, app-7.7.3
windows 10 Home,  ver

[2019-09-19 18:48] ericrommel commented on #2853
+1

Please...

[2019-09-19 18:55] mccannt commented on #7359
@ingyeoking13 Give this a try - https://support.getpostman.com/hc/en-us/articles/360008601954-Postman-App-doesn-t-start-Postman-App-not-working

[2019-09-19 19:24] bzmw opened #7360 "Error when importing OAS Spec through Postman API"
I'm trying to import a file into postman using curl and the public api. The file successfully imports into the postman app when I drag and drop it, but I get an error when using the Public API.

# The command
[code]

# The output
[code]

**Expected behavior**
I expect the command to return 200 and have the OAS spec uploaded in the workspace specified.

**Additional context**
I have tested the oas

[2019-09-19 19:25] bzmw commented on #7335
Closing in favour of: #7360

[2019-09-19 19:25] #7335 closed, assigned to nobody

[2019-09-19 20:17] sanchitgarg2 commented on #7328
I was actually imagining using postman as a layer over the DB. It is increasingly popular to create simple APIs for most commonly used DB functions. I cannot ease DB access to ever allow accessing it directly on a mobile phone. If I had a suite that I maintain and share with my team who uses it to perform actions such as updating certain fields, it would erase to a large extent making and maintain

[2019-09-19 20:20] sanchitgarg2 commented on #7328
If not for enterprises, this would be a great tool to build deep integrations(_Not to mention the added value to a customer of buying a shared collection_) of postman into startups who may end up being very large users later on.

[2019-09-19 22:29] xk0der opened #7361 "Accessing a documentation results in an error showing HTTP 403 code"
**Describe the bug**
Accessing a documentation link shows an error in the UI stating

    403
    Oops, something went wrong. Please contact us at help@getpostman.com."

*Checking the JS Consoles show the following errors:*
![image](https://user-images.githubusercontent.com/21366/65285506-c8ac0100-db90-11e9-92c4-f6ebbbef6d4d.png)

![image](https://user-images.githubusercontent.com/21366/65285559-f

[2019-09-20 00:46] jhendry-whispir commented on #7358
Same,

I have vendor specific headers in Content-Type.

Steps to reproduce:
1. open a request
2. click on Headers tab
3. click on Body tab
4. click back to Headers tab

Content-Type has changed from:
`application/vnd.whispir.api-callback-v1+json`

to
`application/json`

Editing the Content-Type to the correct value, saving, closing the request and reopening corrects the issue.

HTH

[2019-09-20 01:47] darceal12 commented on #7346
Hello @codenirvana issue was resolved. Thanks for the help.

[2019-09-20 01:47] #7346 closed, assigned to codenirvana, saswatds

[2019-09-20 01:51] BARJ commented on #1744
Github should disallow +1 comments, just give the original post a thumbs up, saves us the unnecessary notification.

[2019-09-20 02:00] wzdbsss opened #7362 "need a long login feature"
did you guys to be force login postman twice  a day? every time appears session expire.

In my opinion, a freq use of post man let me always keep it open, so can you add a long login feature to postman client?

[2019-09-20 05:41] saswatds commented on #7337
Hi @heyoni,
We've pushed a fix for this on v7.7.3. Can you update your app and confirm if that fixes your issue?

[2019-09-20 06:38] sankalp0o commented on #6236
@mistryvipul2002 Thanks for sharing your requirements. Deleting the Team Workspace (even if it was allowed) would not delete your team.

To delete your team,
1. Go to https://go.postman.co/team. If you haven't already, sign in to your account.
2. Remove all users (except yourself) in your team. Click on the "Trash bin" icon which appears on hovering over a user's name.
3. After you've removed ever

[2019-09-20 06:46] imtrobin commented on #519
hmm, is there a way to do it like json2table.com ? I don't really need to write specific visualizers with json2table

[2019-09-20 07:14] sankalp0o commented on #7265
Comment from another user "The 'me' section is underneath your user profile (top right link) I was not expecting to find in my profile basically a sub set of my workspace. I would have expected to be able to access this from the workspaces menu, or something of the sort." when talking about orphan APIs.

[2019-09-20 07:14] sankalp0o commented on #7329
Thanks @fafnirbcrow for your suggestion! We'll improve upon this UX. For now, I'm closing this issue, but feel free to leave comments here or in the other issue if you have more feedback on this.

[2019-09-20 07:14] #7329 closed, assigned to nobody

[2019-09-20 07:23] PavelProkhorov commented on #2773
I wanna one tab!!
That is why I started to use Insonmia instead.

[2019-09-20 07:27] sankalp0o commented on #7327
@cynicaljoy We understand this can become a real pain. Our recommended way to get around this is to use different workspaces contextually for different projects/APIs/teams. While this might not be exactly what you are asking for, we've personally found to be quite effective.

Having said that, we're actually working on something that'll enable you to filter the environments from the ones compatibl

[2019-09-20 07:44] aspronaut opened #7363 "Raw content type"
I can no longer make SOAP requests via Postman; I think this is because there is no longer a distinction between 'text/xml' & 'application/xml' for raw content type .

[2019-09-20 07:49] preethammavin commented on #7209
@MECLab-Michelle please let us know if the above step solved your problem? Closing the issue for now, feel free to reopen and comment if it is not solved.

[2019-09-20 07:49] #7209 closed, assigned to codenirvana

[2019-09-20 07:51] preethammavin commented on #7229
@Poovendranavs closing the issue for now and feel free to reopen, let us know if our community was not able to address it.

[2019-09-20 07:51] #7229 closed, assigned to nobody

[2019-09-20 07:53] preethammavin commented on #7269
Closing the issue for now, let us know if the crash was fixed in lates updates as we pushed large number of stability improvements and bug fixes.  Please feel free to reopen the issue if it was not fixed.

[2019-09-20 07:53] #7269 closed, assigned to nobody

[2019-09-20 07:58] preethammavin commented on #7315
@skplunkerin please write to us at help@getpostman.com with the collection id, and the scrubbed collection so that we can get to the bottom of this.

[2019-09-20 07:59] asockett opened #7364 "Cannot run monitor"
**Describe the bug**
After creating a monitor in the workspace dashboard it will not run on the scheduled time. Trying to run manually will display the message 'Something went wrong'.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://thedatashed.postman.co/workspaces/<account>/monitors'
2. Click on 'monitor a collection'
3. Create a new monitor with environment.
4. Click on 'Run

[2019-09-20 08:11] JaedongLee opened #7365 "Postman can't encode '%' in request param to '%25' when Chrome can"
Wnen use Chrome, the situation is like this:

Before encode:
![postman_bug1](https://user-images.githubusercontent.com/25265598/65309930-b4332d00-dbbf-11e9-8e37-c6371532cf3a.png)

After encode:
![postman_bug2](https://user-images.githubusercontent.com/25265598/65310122-24da4980-dbc0-11e9-9ecf-d833f2c11f66.png)

When use Postman, the situation is like this:

Before encode:
![postman_bug3](https://u

[2019-09-20 08:18] Cazaimi commented on #7361
Investigating.

[2019-09-20 08:22] appurva21 commented on #7353
@scharf Thanks for the feedback!

We are tracking this feature request at a related issue - #3466. You can follow the thread there to get more updates.

[2019-09-20 08:22] #7353 closed, assigned to appurva21

[2019-09-20 09:03] saswatds commented on #5909
Hi @nithyamuth
We will be making improvements to the runner in the near future. Will definitely take a look at this request during that effort.

Thanks.

[2019-09-20 09:11] Txiaozhe opened #7366 "support more protocols such as websocket or mqtt?"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2019-09-20 09:14] #7364 closed, assigned to nobody

[2019-09-20 11:42] ingyeoking13 commented on #7359
after deleting postman folder in
C:\Users\<user>\AppData\Local\
C:\Users\<user>\AppData\Roaming\,
it works good. thanks.

[2019-09-20 11:42] #7359 closed, assigned to nobody

[2019-09-20 12:51] zihotki commented on #6723
Just installed it on a new machine end encountered the same issue. Cleaning up C:\Users\user\AppData\Roaming\Postman and C:\Users\puchkov\AppData\Local\Postman have no effect. Tried both 32 and 64 bit apps. After I delete both folders and install Postman anew, I can see login screen. After login it's stuck.

This is what is in the pluginHost.log:
[code]

All other log files are without any error a

[2019-09-20 13:11] ericvdkh commented on #6723
Same here.
Cleaned the Postman folders in AppData\Roaming and in AppData\Local.
Installed a fresh latest and greatest Postman-win64-7.7.3-Setup
Got a logon screen, then it's stuck "Preparing your workspaces..."
There are 4 Postman processes on my system, one is consuming 3% cpu running the spinner in the preparing your workspace screen, the rest do nothing.
After killing these processes the plugin

[2019-09-20 13:21] vdusauto opened #7367 "Excluded from own team"
**Describe the bug**
It appears I have been removed from my own team, loosing collections within

**To Reproduce**
I just joined another team (both Postman free)

**Expected behavior**
Being able to join several teams

**App information (please complete the following information):**
Native APP
Latest

Team name: https://vdusautois-apizr.postman.co/team

[2019-09-20 13:41] mandrije commented on #6723
I'm  still hitting this issue on all machines... I got a hint from the support engineer long time ago to try adding a key in System Registry in order to disable GPU usage by the Postman, but that didn't help. I gave up retesting any new releases 2 months ago.

[2019-09-20 14:06] chris-jansson opened #7368 "Configured client cert not attached to requests"
# Description
This is similar to [#3434](https://github.com/postmanlabs/postman-app-support/issues/3434), but I have to specify the port since I'm not using 443.

I'm calling an internal API that requires client authentication, so I've added my client cert to Postman. The cert and key files are in .crt and .key format, based on the Postman [docs](https://learning.getpostman.com/docs/postman/sendin

[2019-09-20 14:53] skplunkerin commented on #7315
Thanks @preethammavin & @ankitjaggi , I just tried the JSON collection that was failing with this error and it no longer fails, it updates as expected. I'm not sure if anything change on your side, but everything seems to be working fine now. I'll let you know if this happens again, thanks!

[2019-09-20 14:53] #7315 closed, assigned to ankitjaggi

[2019-09-20 15:32] vdantuluri commented on #6682
+1

[2019-09-20 15:36] Pr1Smiley commented on #3045
Still facing this issue, is there no resolve? Why keep closing the issue, thinking it will go away

I am available for a webex to demo the BUG

[2019-09-20 16:41] Cedric4real commented on #3438
+1

[2019-09-20 16:53] stcalica commented on #5209
Issue reported by another user to support

[2019-09-20 17:25] patrick-boatner commented on #3280
+1 for making them the same as Chrome (any most other web browsers) via `Ctrl-Tab`. I'm a big fan of keyboard shortcuts, but I can't bring myself to learn a non-standard tab switch shortcut.

[2019-09-20 17:30] preethammavin commented on #7322
@Piyush1317 which version of the app are you using, also can you check if you have values in the initial value or the current value. If the values are only in the current values they are not exported with the environment as they meant to be used only in that session. If you want to export that value as well, click on persist all and export the environment post that

[2019-09-20 17:46] preethammavin commented on #7342
@lvyahui8 did you perform a new install or was it an update?

[2019-09-20 17:51] preethammavin commented on #7344
@SegarJJ would you elaborate your use case, for what reason would you want to do it?

[2019-09-20 17:57] saswatds commented on #7336
Hi @Luke-SF, you are currently viewing the response in `Pretty` mode. If you click on the `Preview` tab you should be able to see a rendered page.
When you say

Do you mean that `Preview` tab is not loading the page?

[2019-09-20 18:10] abhijitkane commented on #7367
@vdusauto Postman doesn't support a user joining multiple teams yet. When you share collections with a team, you lose "ownership" of said collections. You can send an email to help@getpostman.com for further assistance on your collections / team membership.

[2019-09-20 18:10] #7367 closed, assigned to nobody

[2019-09-20 18:11] abhijitkane commented on #7367
@vdusauto Postman doesn't support a user joining multiple teams yet. When you share collections with a team, you lose "ownership" of said collections. You can send an email to help@getpostman.com for further assistance on your collections / team membership.

[2019-09-20 18:19] mistryvipul2002 commented on #6236
@sankalp0o Thanks for the instructions. It worked like a charm.

[2019-09-20 18:21] Luke-SF commented on #7336
Right, it seems I can't get it to load in the preview tab because it depends on javascript in the later Laravel versions.

[2019-09-20 18:22] saswatds commented on #7096
Hi @savinthiba, the list shown when `Content-Type` header does not limit setting header to `application/jose+json`. The list currently present is just a small subset of very common content-type header we have identified from the community and is present to help new user get started quickly.

<img width="917" alt="Screenshot 2019-09-20 at 11 47 34 PM" src="https://user-images.githubusercontent.com/

[2019-09-20 18:22] #7096 closed, assigned to saswatds

[2019-09-20 18:37] #6965 closed, assigned to vikiCoder

[2019-09-20 18:44] saswatds commented on #5950
Closing this issue due to inactivity. We were not able to reproduce the issue due to lack of details.

Please feel free to reopen if the issue persists or you can help us with the steps to reproduce this issue.

[2019-09-20 18:44] #5950 closed, assigned to vikiCoder

[2019-09-20 18:59] saswatds commented on #2512
Hi everyone,
Starting app version 7.7 `content-type` header in the form `application/*+json` are now automatically detected as `JSON` language.

Do check it out. Your feedbacks are valuable to us.

Thanks.

[2019-09-20 19:06] saswatds commented on #1498
Hi everyone,
Starting app version 7.7, we automatically detect Content-Type headers like `application/*+json` as language JSON and add proper syntax highlighting. The tight coupling between language and headers have now been reduced.

Do test it out. Your feedbacks are valuable to us.

Thanks.

[2019-09-20 19:15] rtablada commented on #1498
@saswatds thanks for adding the feature to support +json for this, it does solve some problems.

But, I think this feature request still stands. It would be nice if the coupling between body syntax highlighting and content type header were decoupled all together (or maybe a UI to sync them or a way to opt out of this sync).

It seems like a weird side-effect that going to body and using the dropdo

[2019-09-20 19:24] saswatds commented on #1498
@rtablada we completely agree with you.
In the upcoming version of the app we are going to completely decouple the language and content-type header selection.
We have also added the warning of inconsistency in the current version.
<img width="439" alt="Screenshot 2019-09-21 at 12 51 18 AM" src="https://user-images.githubusercontent.com/8796447/65353122-f5502f00-dc09-11e9-8beb-4f8adda7bb79.png">
In

[2019-09-20 21:01] asi-postman opened #7369 "Documentation Markdown - unable to add paragraph spacing"
**Is your feature request related to a problem?**
We have published some documentation and we added a bit of Markdown to it. But I couldn't find a way to add extra space after a code block and next paragraph inside Markdown.

**Describe the solution you'd like**
Being able to use an extra space after the code block.

**Describe alternatives you've considered**
The solution was to use the following

[2019-09-20 22:18] deanblackborough commented on #7294
Adding an additional data point as I am experiencing the same thing and it is starting to impact development, on my laptop at least. Opening saved requests become slow and due to the UI delay, it is easy to accidentally save a modified request without realising what has happened.

I have a collection with ~150 requests and ~700 tests, memory usages is 1.4GB after a single run and never drops from

[2019-09-20 22:59] #4956 closed, assigned to nobody

[2019-09-21 05:18] saswatds commented on #7336
Okhay got it. @Luke-SF you are right javascript has been disabled in the Preview tab due to security reason. We have been exploring solution for this and might have a something in the near future.
We are tracking this issue in https://github.com/postmanlabs/postman-app-support/issues/2646
So in-favour of the master feature request I will be closing this issue as duplicate.

Thanks for reaching out

[2019-09-21 05:18] #7336 closed, assigned to nobody

[2019-09-21 20:23] slw07g commented on #2086
Please make this feature request a priority.

_Other than this inconvenience, I find the PostMan app to be quite nice._

[2019-09-21 22:18] slw07g commented on #2086
This may help ease the pain for some:

I did find that if make a PostMan account, and save my requests to the same workspace, I can view the body of all the requests in a scrollable view on the website https://web.postman.co

![image](https://user-images.githubusercontent.com/8406059/65379782-119cac00-dc9c-11e9-8212-dca26542d1dc.png)

[2019-09-22 07:47] preethammavin commented on #7362
@wzdbsss we do re-authenticate every 30 days if the check box for remember is checked-in, if its still holding context can you please write to us at help@getpostman.com from the email id that you use in Postman so that we can take a closer look.

[2019-09-22 07:53] preethammavin commented on #7357
@jonnytest1 just so that I know the use case, you want to send a request in the pre request script? but dont want to generate the code from another request and move it, but be able to have an option to generate code for a request when you are in pre request script?

There are a few code snippets we have in the pre-request tabs let me know if that solves it, or let me know if I am not understanding

[2019-09-22 08:12] codenirvana commented on #7358
@Worldpay-Austin @jhendry-whispir This issue of `Content-Type` header getting overridden for existing requests is already fixed in the latest version of the Postman app (v7.7.3).

For the newer requests which require `text/xml` you have to manually update the `Content-Type` header because by default it uses `application/xml` for XML request body (as `text/xml` is depricated).

[2019-09-22 08:12] #7358 closed, assigned to codenirvana

[2019-09-22 08:27] preethammavin commented on #7355
@elise-lcdb I am able to see the pretty version of the response. Can you try posting a JSON body response to `https://postman-echo.com/post?` and let me know if the pretty mode works for it?

[2019-09-22 08:33] preethammavin commented on #7352
@wiggisser can you write to us help@getpostman.com so that we take a closer look. Session being terminated so early is definitely not what we expect.

[2019-09-22 08:55] YemYigit commented on #4690
Sometimes previous logs can be pain in the ass. Please define console.clear() function. Thanks

[2019-09-22 11:43] mtchdev opened #7370 "CPU usage way too high"
**Describe the bug**
CPU usage is through the roof when idle. Was doing nothing and left it in the background for a couple hours, it spawned 3 more individual processes and did this. Note I only opened the app once.

**To Reproduce**
Steps to reproduce the behavior:
1. Open Postman
2. Wait

**Expected behavior**
All processes should not collectively be taking up to 90% peak usage in the background

[2019-09-22 18:44] jonnytest1 commented on #7357
@preethammavin no I want to create a request in the standard ui and then when I notice I need to do another request after that move it into a pre request script by copying it as a code

[2019-09-22 23:39] godfrzero commented on #7305
@adardesign The issue description states that the issue is occurring in both the Chrome & Native apps. It'd be useful if you could post screenshots of both in this case. In addition, could you let us know:

1. When you started to see this issue
2. If you or your team enabled additional authentication methods before this error started to appear

[2019-09-23 00:13] godfrzero commented on #7317
@imikemiller One more question: How are you sharing the collection JSON? Are you using a link that starts with "https://www.getpostman.com/collections/"?

[2019-09-23 02:36] luerer commented on #7010
get the same problem, has it been solved yet?

[2019-09-23 03:48] kamalaknn commented on #6723
Hey @ericvdkh

Can you send the logs from `View -> Developer -> Show logs in Explorer` to `help@getpostman.com`? We would like to take a closer look at this issue to find the root cause.

Please include this issue title or number on the email subject.

[2019-09-23 03:55] jjsty1e commented on #3669
Hi @prashantagarwal , how's this going now?

[2019-09-23 04:04] kamalaknn commented on #7370
Hey @spliitzx

Thanks for reporting this issue. This looks like a duplicate of #7294

I'm closing this. Please follow the original issue for updates.

[2019-09-23 04:04] #7370 closed, assigned to nobody

[2019-09-23 04:48] codenirvana commented on #7357
@jonnytest1 Understood your use case. You want to generate code as `pm.sendRequest`.

[2019-09-23 06:12] kamalaknn commented on #6723
If you are not able to find the menu bar, you can also reach the logs from Explorer in one of the following directories

[code]

[2019-09-23 06:18] SegarJJ commented on #7344
In my case I would like to verify a given value of a response, maybe even a few values.

It would be much easier for developers and testers to verify a given value in a response by just highlighting the value and clicking to inject a bit of code to the test tab.  The code block is quite trivial, but having to manually configure each testable value is a pain and results in a low number of tests and

[2019-09-23 07:13] imikemiller commented on #7317
@godfrzero yes that is right - the importable JSON from the share link starting   "https://www.getpostman.com/collections/" was correct. The API page was not. I updated to version 7.6 and the issue resolved itself.

[2019-09-23 07:19] godfrzero commented on #7317
Alright, closing this ticket then. The actual bug was most likely caused by local app changes not being synced to our servers. The documentation is generated from the JSON present on our servers, while the the JSON share link creates a different snapshot (which is why that was up to date).

[2019-09-23 07:19] #7317 closed, assigned to Cazaimi, Raja-Simha

[2019-09-23 07:23] imikemiller commented on #7317
i am not sure I am buying that as the shared collection link was not local so clearly my local changes had sync'd with the servers or my team mates would have got really outdated collection when they imported. Issue only came to light when I shared the documentation page with some business people (who didnt have Postman and couldnt use the import) and they started questioning where API's were etc.

[2019-09-23 07:27] godfrzero commented on #7317
@imikemiller I meant that the link snapshot and the synced changes are handled separately. One is a point-in-time snapshot, the other is realtime. The point-in-time snapshot is the one you've shared with your teammates and it was displaying the updated JSON. The realtime sync flow was the one storing the outdated JSON.

[2019-09-23 07:30] godfrzero commented on #7317
The issues related to incomplete or non-functional sync is being tracked separately: #7119 #6166

[2019-09-23 07:31] imikemiller commented on #7317
Ah ok yep that certainly makes sense.

On Mon, 23 Sep 2019 at 09:28, Vivek Thuravupala <notifications@github.com>
wrote:

[2019-09-23 08:40] mstaalesen commented on #6015
Any update on this? Ever since moving over to Electron Postman is so slow it's making my team seriously consider other options. Postman is no longer the "easy to use" tool that it once was. :(

[2019-09-23 09:06] tegomass commented on #5841
Hi,
The issue still happens on Postman client and newman 4.5.4.
I'll update the issue with an example ready-to-run, soon.
Thanks

[2019-09-23 09:21] dellgreen commented on #6979
experiencing the same problem on 18.04.3

[2019-09-23 09:39] MarcusKJ323 opened #7372 "Keyboard Shortcut to Delete Cookies"
This feature request is not related to any specific problem.

To speed up workflow, having a shortcut to delete cookies relating to the last call or all cookies would be extremely helpful.

Cheers

[2019-09-23 10:52] migumun commented on #4253
Is there any update on this? I just got 7.7.3 on linux and the sort feature is still missing. It is really inconvenient to reorder the stuff manually (worst part was that I lost ordering right before doing a customer demo with no time to react :( )

[2019-09-23 11:31] codenirvana commented on #7372
@MarcusKJ323 You can delete cookies programmatically using scripts.
Refer: https://github.com/postmanlabs/postman-app-support/issues/3312#issuecomment-516965288

[2019-09-23 12:44] elise-lcdb commented on #7355
@preethammavin This is what I get
![Screenshot 2019-09-23 at 14 43 28](https://user-images.githubusercontent.com/31904512/65426548-b4763700-de10-11e9-9db9-24c7d38b94c0.png)

[2019-09-23 13:02] kamalaknn commented on #7355
Hey @elise-lcdb

Thanks for reporting the issue. I'm not able to reproduce this issue from my side on Postman 7.7.3. Can you give us more information to help us identify the root cause?

1. Do you see any errors in the DevTolls (View -> Developer -> Show DevTools(Current View))? If yes, please attach the error screenshot.
2. Are you able to see a formatted response for other requests, for e.g. a s

[2019-09-23 13:10] elise-lcdb commented on #7355
I just restarted Postman and I no longer get the issue. Sorry about that. I don't know why it was doing that earlier, but I am now able to get the data properly formatted in Pretty.

Thank you for your help though

[2019-09-23 13:10] #7355 closed, assigned to nobody

[2019-09-23 13:17] kamalaknn commented on #4642
Hey @blowsie

Sorry for the delayed response. We'd like some more information to debug this issue better.

1. Can you download the latest version of Postman v7 from (https://www.getpostman.com/downloads/) and see if the issue still persists?
2. If you are seeing the issue on the latest version, can you try the workaround for turning off GPU acceleration mentioned [here](https://github.com/postmanl

[2019-09-23 13:38] Ocsidot opened #7373 "[Visualize]Capability to add Handlebars helpers"
Hello,

With the new visualize feature and the support of Handlebars inside Postman, I think it could be helpful to have the capability to register Handlebars helpers and use them.

This could be useful for example to format some string in the visualization tab like dates. It could be possible to also register the most used helpers like the ones for comparisons (a big gap in handlebars template).

[2019-09-23 13:46] wiggisser commented on #7352
@preethammavin As for your request I sent an email

Please note, my prior concern is not the session being endend -- I don' really care if I have to enter my password once a day or once a month -- but the sync problems that happend afterwards.

Currently all works fine and I don't really know how I would provoke such a situation again. I tried signout and signin. Sync went through in a few seconds

[2019-09-23 14:20] xaviergm commented on #4690
Upvoted! I think this would be super useful.

[2019-09-23 14:42] bret-peterson commented on #2512
I upgraded to 7.7.3 (Windows) and still don't see this functionality working

[2019-09-23 14:50] DavAlbert commented on #350
+1+1+1+1+1+1

[2019-09-23 14:52] simplynutty commented on #6713
I'm interested in this as well and was confused when my schema didn't show up after creating an API as shown here https://learning.getpostman.com/docs/postman/sending_api_requests/graphql/#importing-graphql-schemas.  The ability to browse schema docs is the biggest reason I'm still using Graphiql instead of Postman.

[2019-09-23 15:14] vpmv commented on #2512
I had to run the update twice to make it work (Linux). Also, don't be tempted to reselect JSON on the body pane.

[2019-09-23 15:17] boneferz commented on #2096
АУ!!!! ребятки, сделайте изменение гор клавиш!

[2019-09-23 15:54] giowe commented on #5194
+1

[2019-09-23 16:45] ch264 commented on #7354
I believe the doc ‘writing_tests’ in the folder ‘api_testing_and_collection_runner’ is in the v5 folder in GitHub Docs and therefore a vestigial doc and no longer being published directly on Learning Center. I could not find a direct copy of this doc replaced in v6, which is the published cleaned up folder of the LC. @kaustavdm @loopDelicious can you please help to clarify which doc has the right

[2019-09-23 16:58] justmobilize commented on #2512
So it works, but definitely a little confusing. Since it's not in the drop down. And agree with other comments, if you then re-select `JSON` from the drop down, it overwrites the `content-type` header (which then will break API calls...)

But it is a step in the right direction!

[2019-09-23 18:27] JessePelton opened #7374 "If a subfolder is moved out of its parent, it cannot be moved back in"
**Description**
If a subfolder is moved out of its parent, it cannot be moved back in.

**Steps To Reproduce**
1. Create a new collection.
2. Create a folder named "Parent".
3. Create a child of "Parent" named "Child".
4. Drag Child out of Parent.
Then realize that you didn't really intend to do that...
5. Attempt to drag Child back into Parent.

**Expected behavior**
Child moves inside Parent whe

[2019-09-23 19:01] Ghusar commented on #7374
@JessePelton I am trying to reproduce this issue but not able to.

![Hnet-image](https://user-images.githubusercontent.com/15612246/65455123-3479bc80-de64-11e9-8b82-6d12f1b2f607.gif)

[2019-09-23 19:05] JimLynchCodes commented on #131
There is a "Body" option in Postman, but it becomes greyed out when you choose GET.

Postman devs... PLEASE CHANGE THIS!!

^ As you can see from all the above comments, ^ sending a body with a GET request is a perfectly valid thing to so it is absolutely silly and clearly a flagrant bug for this to not be available in Postman. SMH!

[2019-09-23 19:07] JimLynchCodes commented on #131
btw @harryi3t posted 1 year ago that this was in canary, but I just tried now and this feature is still not there... anyone know what's going on here?

[2019-09-23 19:13] dltacube commented on #7337
Just tested this and it works!

Thank you so much for the quick turnaround.

[2019-09-23 19:16] JessePelton commented on #7374
Are there some logs or something that I can send to help chase down the problem? It's 100% reproducible on my machine, and I have no way of knowing how to get it to go away. "Works for me" unfortunately doesn't make it work for me.

[2019-09-23 22:11] flyingUnderTheRadar commented on #2433
Any word on this?

[2019-09-24 03:27] preethammavin commented on #7352
@wiggisser verified it internally against the error that you saw, you seemed to have hit when the authentication service was under heavy load. It should not occur again, we are also bettering product experience around when there are service outages or under heavy load so that we do not block any user actions.

[2019-09-24 03:31] preethammavin commented on #131
@JimTheMan can you let u know on what version of the app are you on currently, tried reproducing on Postman 7.7.3 but am able to send a get request with body.

[2019-09-24 03:34] preethammavin commented on #7374
@JessePelton can you write to us at help@getpostman.com from you registered email id, along with logs which you will find in view-> developer -> logs. If you can zip it and send it across would be help us debug the situation better.

If possible a screen recording would also help.

[2019-09-24 03:42] #7337 closed, assigned to nobody

[2019-09-24 03:45] saswatds commented on #7129
Hi, I will be closing this issue for now, because we were unable to reproduce this issue on our end and does not seem like any other user is facing the same problem. It might have been an intermittent thing.

Feel free to re-open this issue, if your problem persists.

[2019-09-24 03:45] #7129 closed, assigned to saswatds

[2019-09-24 03:54] codenirvana commented on #7363
@aspronaut raw body language selection by default adds `Content-Type` as `application/xml` (as `text/xml` is depricated) but you can update the header back to `text/xml` or any other content-type value.

[2019-09-24 03:54] #7363 closed, assigned to codenirvana, saswatds

[2019-09-24 04:00] codenirvana commented on #7365
@JaedongLee Thanks for reporting this issue, we are currently tracking all the encoding related issues here: https://github.com/postmanlabs/postman-app-support/issues/4555

As a workaround, you can select text in any input field and secondary click (right-click) menu will allow you to encode-decode the selected text.
<img width="487" alt="Screenshot 2019-09-24 at 9 27 43 AM" src="https://user-imag

[2019-09-24 04:00] #7365 closed, assigned to saswatds

[2019-09-24 04:05] codenirvana commented on #7295
@shrads14 Thanks for reporting this but looks like the issue is not related to Postman.
We recommend reaching out to the wider Postman Community (https://community.getpostman.com/) for help with issues like these.

[2019-09-24 04:05] #7295 closed, assigned to codenirvana, saswatds

[2019-09-24 05:48] kamalaknn commented on #7355
@elise-lcdb Thanks for clarifying this. It is possible that one of the language parsers for the response view was not loaded the time you faced the issue. A restart could have fixed it.

If you face this issue again, please let us know.

[2019-09-24 06:18] #6459 closed, assigned to nobody

[2019-09-24 06:54] yoniholmes commented on #7185
This affected my team. At a critical moment as were making a first production build, 2 things happened: Postman archived our collection, then (it turns out after over a week fo investigation with Postman support), a colleague uploaded his own collection (in an attempt to restore what had been lost), only without realising it he deleted our master collection. After paying for the Pro plan, we still

[2019-09-24 07:06] still-breathing opened #7375 "Visualize (Beta) > table view> Unable to see text when dark theme is enabled"
**Describe the bug**
Unable to see text in Visualize

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'preferences'
2. Change the Theme to Dark mode
3. Now set your template for Visualize API responses
4. See the text in the table
5. Change the Theme to Light mode and see the text in the table.

**Expected behavior**
Data Text should be readable when Dark Theme is enabled.

**Screenshot

[2019-09-24 07:24] a1dutch commented on #3493
Would love a resizable environment window to see all my variables

[2019-09-24 07:33] codenirvana commented on #7375
@still-breathing Thanks for reporting this issue. As a workaround, you can add custom CSS style to fix this.

Example:
[code]

[2019-09-24 08:49] blowsie commented on #4642
@kamalaknn  thanks for the response.

I fixed it by deleting
`C:\users\[USER]\AppData\Roaming\Postman`
`C:\users\[USER]\AppData\Local\Postman`

+ Reinstalling

[2019-09-24 08:58] ankit-m opened #7376 "Workspace name shown as `Loading..` in top bar"
**Describe the bug**
When switching to a workspace the workspace name shows up as `Loading..`.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a team workspace X
2. Create a new request A and edit the URL
3. Do NOT save the request
4. Switch to any other workspace Y
5. Leave workspace X from the workspace switcher
6. Switch to workspace X

Observe `Loading..`

**Expected behavior**
1.

[2019-09-24 08:58] cortopy commented on #5316
@a85 how can one access the web app?

[2019-09-24 09:18] cyrielle-hada opened #7377 "Shared team trash to better handle team collections deletion"
_Filed by Product Support_

**Is your feature request related to a problem? Please describe.**
Shared collections can be deleted by anyone who has an Editor role for the collection in a team workspace. As the deleted collection goes to the trash of the user who deleted the collection - team members have no indication of what actually happened to the collection.

**Describe the solution you'd like*

[2019-09-24 09:24] sankalp0o commented on #7377
Thanks @cyrielle-hada, this makes a lot of sense and we'll look at this.

One thing to note is that the Editor role is on the collection level and not on the workspace level. So users can restrict who can delete the collection.

[2019-09-24 09:24] preethammavin commented on #7183
Thanks for confirming closing the issue for now

[2019-09-24 09:24] #7183 closed, assigned to elssar

[2019-09-24 11:16] hmoratopcs opened #7378 "OAuth 2.0 authorization type does not encode client id and secret in basic Authorization header"
According to the OAuth 2.0 standard (https://tools.ietf.org/html/rfc6749#section-2.3.1), client id and seceret in the Authorization header must be encoded:

I can't use Postman with IdentityServer with a client secret containing for example a "+" character. Postman doesn't encode it and the server correctly decodes it as a space. Another example is "secret%26", it is decoded by the server as "secr

[2019-09-24 13:10] JessePelton commented on #7374
Zipped screen recording attached.
[Postman 2019-09-24 07-27-30.zip](https://github.com/postmanlabs/postman-app-support/files/3647333/Postman.2019-09-24.07-27-30.zip)

[2019-09-24 13:27] johncmolyneux opened #7379 "Copy/Paste does not work, at all."
**Describe the bug**
Copy and paste is unavailable.

**To Reproduce**
Steps to reproduce the behavior:
Enter a Url.
Highlight the Url.
Use your favourite method to copy text (Ctrl + C, right-click and select Copy - anything else).
Open Notepad
Try and paste the Url.

**Expected behavior**
The text that was copied from Postman should be pasted into Notepad.

**Additional context**
Literally a show-

[2019-09-24 15:47] JamieKeeling opened #7380 "Unable to import sandbox module"
**Describe the bug**
Following the documentation provided in the [Postman Sandbox API](https://learning.getpostman.com/docs/postman/scripts/postman_sandbox_api_reference/) I have tried to import the **_url_** module, however when accessing the functionality I receive the following message logged to the Postman Console:

**To Reproduce**
Steps to reproduce the behavior:
1. Create a new request
2. A

[2019-09-24 16:17] showshimya commented on #1066
+1

[2019-09-24 16:41] ryanmmmmm commented on #7170
hello,

monitors do not work because these are applications restricted by AWS firewall rules/security groups they are not publicly available.

if we do not have versioning then we do not have the ability to run tests in an environment for a particular version after a deployment.  aka staging is version 4, QA is version 5!

this is a pretty severe limitation of testing given this "enterprise and en

[2019-09-24 16:57] Dangerunicorn opened #7381 "NTLM Authentication Suddenly Stopped Working"
Postman Application: Postman for Windows version 7.7.3

**Describe the bug**
NTLM Authentication suddenly stopped working for me. September 18th my suite of tests ran without issue, but when I ran them again yesterday (9/23) all the tests using NTLM are showing a 401 unauthorized error with the error "JSONError | No data, empty input at 1:1" appearing in the console as well as the developer tools.

[2019-09-24 17:56] ratpik commented on #6356
@hqinfosystem - `application/json` is supported while matching request body. Can you verify that this header is set in the request headers section of your saved example?

[2019-09-24 19:07] akaczinski commented on #7220
Just wanted to update that this bug is in the current production version of Postman (v7.7.3) and latest experimental, Postman v7.8.0-canary02

[2019-09-24 20:57] xk0der opened #7382 "Team admin unable to manage a workspace - delete option is greyed out"
**Describe the bug**
Team admin is unable to manage a team workspace as no role shows up against their name.
Delete option is greyed out.

*Context:*
The users that were showing up as admin in these workspaces are no longer with organization and have been removed from the team.
Team admin want's to reclaim these workspaces and delete after exporting out any data within the workspaces.

**To Reprod

[2019-09-24 21:30] ridhwaans opened #7383 "Add support for pinning sidebar"
**Is your feature request related to a problem? Please describe.**
Not related

**Describe the solution you'd like**
The postman electron app on mac (and windows) doesnt have a visible pin to keep the sidebar open when the window isnt maximized. This results in toggling the sidebar from the bottom left corner
**Describe alternatives you've considered**
n/a
**Additional context**

[2019-09-24 21:31] Ryank90 commented on #5194
+1

[2019-09-24 22:33] noynir commented on #7294
I Have the same issues on my mac.
It never stop trying to sync, cpu is through the roof and the app hangs.
App info:

- Native App

- version 7.7.3

- macOS Mojave

<img width="817" alt="Screen Shot 2019-09-25 at 1 30 34" src="https://user-images.githubusercontent.com/8056070/65555181-81c55f00-df34-11e9-86ac-b85b404f8fc2.png">

[2019-09-25 03:11] onacit opened #7384 "Add variable feature in domain part"
**Is your feature request related to a problem? Please describe.**
I need to change some part of domain, not in sub path.
Note that this seems not related collection variables.
Say my api-gateway coordinated some sub-domain with API-KEYs.
[code]

**Describe the solution you'd like**
I would like to love when I can do this
[code]

**Describe alternatives you've considered**
A clear and concise desc

[2019-09-25 05:02] freesinger opened #7385 "Array type not supported error when sending POST request to Elasticsearch using sql query"
**Describe the bug**
I store my JSON file in Elasticsearch which index name is `tmdb`, when I tried to send POST request using sql query to get information from `tmdb`, it came across a `sql_illegal_argument_exception` error, which is not occurred in my Elasticsearch native search.
I assume whether postman has no support for array in JSON file or any other reason?

**Expected behavior**
POST respo

[2019-09-25 05:52] codenirvana commented on #7385
@freesinger Thanks for reporting this issue but looks like it's happening because of some internal server error and not related to how request is sent using Postman.

I am not exactly sure about your use case but this problem looks similar to https://github.com/elastic/elasticsearch/issues/34359

[2019-09-25 05:52] #7385 closed, assigned to nobody

[2019-09-25 06:21] ilons commented on #7383
I got the same issue, this was previously working just fine (side panel expanded by default), and I didn't event know you could close it.
My use-case is that I have postman open in a 1280px wide window, which is not fullscreen.
Having to expand the side panel each time I need to change to another request makes it really painful to work with, and will push me away real fast as a user.

**Edit:** Af

[2019-09-25 06:33] freesinger commented on #7385
@codenirvana Thanks for your help.
This issue reffered here [elasticsearch/issues/33204](https://github.com/elastic/elasticsearch/issues/33204#issuecomment-416642992) detailed explained why array type is not supported in ESsql search, hope it will help :)

[2019-09-25 06:46] Suhas-Gaikwad commented on #7334
@danieldogeanu Thank you for reporting this issue. We have contacted the Antivirus vendor and  they confirmed that this finding is a false positive. Antivirus vendor is going to remove this false positive in the next update.

[2019-09-25 06:46] #7334 closed, assigned to nobody

[2019-09-25 07:06] yenkuanlee commented on #3438
+1

[2019-09-25 07:32] pss-miracle commented on #6631
We're having a similar issue:
owner of a collection deletes a request and paste two new requests in a folder. The new request end up in a bottom, but are rearranged to lay at the top of execution within the folder.
Issue: other team members still see these two at the bottom, restarting their client or syncing doesn't help.

Impact: introducing errors in test as someone might start working on a col

[2019-09-25 07:40] a1dutch opened #7386 "Create Unresolved variable shorcut"
Hi,

It would be super handy if there was an option to create unresolved variables.

Maybe an option to right click on the unresolved variable, there could be two options

* Create: {current collection}
* Create: Global

Andy

[2019-09-25 07:41] AlexanderMoan commented on #285
Please get this done ASAP! It is a bit useless to have variables if they are not..well..variable from the user without API change.

[2019-09-25 08:38] numaanashraf commented on #7379
@johncmolyneux Thanks for writing in. I've been trying to reproduce this issue on our Windows App (v7.7.3) and it appears to work here (both Ctrl-C method and right-click-copy method). Could you help us understand your setup better? Please share your Postman version and OS version.

Screen recording of the steps we tried:
https://www.loom.com/share/c8fe63eb41a448dc8482d5d1b519731b

[2019-09-25 08:53] sankalp0o commented on #7382
Thanks for reporting this Amit! This looks like a bug because all members of a workspace should have some role on the workspace. I'd also like to highlight a couple of other points that I noticed.

Deleting teams is a very distinct action and has nothing to do with deleting workspaces (which is what you're trying to do, as I gather from the screenshot).

The fact that this person is a "Team Admin"

[2019-09-25 08:57] sankalp0o commented on #7382
Meanwhile, if all the other Workspace Admins are removed from the team (user #3 and user#4 in your screenshot), the whole team will get Workspace Admin role. That'll enable you to manage the workspace and reset roles.

[2019-09-25 10:13] codenirvana commented on #7384
@onacit Path variables (prefixed with `:`) can't be used in the hostname.
You can still use regular variables (like `{{apiKey}}`) and set up as an environment or global variable.

[2019-09-25 10:13] #7384 closed, assigned to codenirvana

[2019-09-25 10:19] saswatds commented on #7386
Hey @a1dutch
This look's like a duplicate of https://github.com/postmanlabs/postman-app-support/issues/285
I am closing this issue in favour of the master issue. Feel free to give you 👍 on the master issue

[2019-09-25 10:19] #7386 closed, assigned to nobody

[2019-09-25 10:23] codenirvana commented on #7381
@Dangerunicorn we need more information to reproduce this issue internaly.
By any chance is it possible this is due to an internal server error?

[2019-09-25 10:29] a1dutch commented on #7386
Hi @saswatds,

This is a little different #285 is more about prompting for variables, this is more about setting the variables when they havent been set in the environent.

Quite often im writing new requests and i put the placeholders in for the variables i know i am going to need.

This just gives you an easy way to set them permernently rather than prompting for them everytime.

[2019-09-25 10:30] codenirvana commented on #7380
@JamieKeeling Modules available in Postman scripts might have slightly different API from the one documented in Node.js.

`.URL` is the new Node.js API, you can use `require('url').Url` to fix this issue.

[2019-09-25 10:30] #7380 closed, assigned to codenirvana

[2019-09-25 10:43] codenirvana commented on #7366
Duplicate of #4009

[2019-09-25 10:43] #7366 closed, assigned to nobody

[2019-09-25 10:45] #7372 closed, assigned to nobody

[2019-09-25 11:10] anilloutombam commented on #7309
Unable to use native app still..it's been 13 days @abhijitkane @preethammavin

[2019-09-25 11:33] abhijitkane commented on #7309
@anilloutombam Can you attach the file you're trying to import, or send it to help@getpostman.com? Also, are you seeing this issue with version 7.7 of the app too?

[2019-09-25 11:57] BoCsA commented on #3646
+1

[2019-09-25 12:18] just1689 opened #7387 ""Open in Postman" Button"
It would be great to have a button that I could put in my API documentation that would allow the user to pull my apis as a collection into their Postman.

Kind of like this:

<img src="https://img.shields.io/badge/Open%20with-Postman-eeee22">

[2019-09-25 12:49] chrisdeso commented on #7168
@robinbastien It looks like you're still listed as the billing contact for your Postman team – if you'd like to have that changed, please reach out to us via our support page or make the updates via the team's dashboard.

* **Support Page** – https://www.getpostman.com/support
* **Updating Billing Details** – https://learning.getpostman.com/docs/postman_pro/managing_postman_pro/team_settings/#bill

[2019-09-25 12:49] #7168 closed, assigned to nobody

[2019-09-25 13:11] bskiefer commented on #2773
Yep, Paw has this down. Not sure why they don't act on user input...

[2019-09-25 13:12] bskiefer commented on #6688
Months later and still no fix, response, or anything? I kind of expected more.

[2019-09-25 13:13] anilloutombam commented on #7309
Sorry it's for the company, so unable to upload the file

On Wed, Sep 25, 2019, 5:04 PM Abhijit Kane <notifications@github.com> wrote:

[2019-09-25 14:11] LonerKO opened #7388 "JSON broken in pretty mode and valid in raw mode"
RAW MODE
`{"jsonrpc":"2.0","result":{"s_registrant":{"r_type":"person","r_name":"СУПЕР ТЕСТ","r_chief":null,"r_phone":"+375257701847","r_email":"petrushko@test.by","r_unp":null,"address_country":"BY","address_city":"Минск","address_region":"Минская","address_index":"220028","address_street":"Либавороменская","address_building":"20005","address_office":"20005","passport_ser":"AB","passport_nmbr":"2

[2019-09-25 14:19] ElisePatrikainen commented on #4891
+1

[2019-09-25 14:41] Wotuu commented on #7294
I would like to chip in as well and say I have to restart Postman multiple times per day as memory usage increases to the point where it's too slow to work with. I have a collection with 600+ request and a few thousand tests, memory usage goes to 3GB within an hour, pretty much forcing a full restart.

![image](https://user-images.githubusercontent.com/811809/65611625-60578800-dfb3-11e9-847a-87471

[2019-09-25 15:09] Dangerunicorn commented on #7381
Just tell me what info you need and I can provide it. This is not an internal server error. We've had no other issues. All other tests with other methods of authentication run fine. All of the endpoints I'm trying to hit can be accessed in browser without issue.

Again, nothing has changed for us between those two dates. One day all the tests using NTLM passed, and a few days later they all fail.

[2019-09-25 15:17] justclint commented on #4117
+1

[2019-09-25 15:47] austin-plixer commented on #4733
That deserves its own feature request.  +1

[2019-09-25 17:21] NagoLazaro commented on #7294
I also find the same performance issues on my Mac. It never stop trying to sync.
Environment details:

- Native App
- version 7.7.3
- macOS Mojave

[2019-09-25 17:30] vikiCoder commented on #7138
Hi @mvdriel

Thanks for reporting the issue. We have confirmed the issue and will be fixing this in our upcoming release of Postman app.

Until the fix is released, you can urlencode the required fields (`Client ID` and `Client Secret` in this case) manually in `Get new acccess token` window by right-clicking on the field and selecting `EncodeURIComponent` option.

[2019-09-25 17:45] vikiCoder commented on #7378
Closing this as a duplicate of https://github.com/postmanlabs/postman-app-support/issues/7138

See this comment for a temporary workaround: https://github.com/postmanlabs/postman-app-support/issues/7138#issuecomment-535128160

[2019-09-25 17:45] #7378 closed, assigned to vikiCoder

[2019-09-25 18:12] rudisills commented on #4117
+1

[2019-09-25 18:14] talln6e commented on #6443
Press F11 to change to the usual window states, as recommended in https://github.com/postmanlabs/postman-app-support/issues/6811

[2019-09-25 21:16] JoeDevGeeeee commented on #6713
@preethammavin Do you have a time line for releasing this feature.
For reference, Insomnia already has this: https://insomnia.rest/graphql/

[2019-09-25 22:18] xk0der opened #7389 "Extra characters in documenter URL cause page to not work properly"
**Describe the bug**
If for whatever reasons, you visit the documenter page with a link to a request within the document, which has some extra characters at the end, it causes failure in the Javascript.

This results in many of the JS handlers not being able to attach to buttons etc, and thus those functionalities do not work.
Example: Copy to clipboard, click to expand do not function.

_Example

[2019-09-26 00:02] janimationd commented on #5053
This would make our testing so much easier and more modular!

[2019-09-26 04:14] Raja-Simha commented on #7387
Hi @just1689, we already have a Run in Postman button which does the same. You can read about it here - https://learning.getpostman.com/docs/postman_for_publishers/run_button/creating_run_button/

Let me know if there is something else with 'Run in Postman' that you want. Closing this for now.

[2019-09-26 04:14] #7387 closed, assigned to nobody

[2019-09-26 05:03] still-breathing commented on #7375
Thanks will try it out.
Cheers.

[2019-09-26 05:18] shamasis commented on #5053
These are great pointers for us to start. Updating collection variables from scripts was waiting for some related aspects to first finish. You’ll be glad to hear that we have started work on patching this up.

[2019-09-26 05:50] numaanashraf commented on #6677
@vkaegis Is this still happening?

[2019-09-26 06:54] techpeace commented on #6993
I'm able to reproduce on 7.8.0:

![Screen Recording 2019-09-26 at 01 52 AM](https://user-images.githubusercontent.com/2220/65665181-8c4d2a80-e000-11e9-8a81-1a9af76cfbfc.gif)

[2019-09-26 06:59] ankurdengla commented on #6676
This issue has been fixed in Postman v7.8.0.

[2019-09-26 06:59] #6676 closed, assigned to vkaegis

[2019-09-26 07:08] manelme commented on #6682
+1

[2019-09-26 09:38] preethammavin commented on #6713
@JoeDevGeeeee this is something that is on our mid term roadmap, will get back with the exact dates once we get the details ironed out :)

[2019-09-26 10:08] porfila commented on #3328
Just not working with an access token containing a "+"

[2019-09-26 10:21] ankit-m commented on #6631
I tried a lot of cases to reproduce this issue (including the steps mentioned by @pss-miracle ). However, I was unable to get the request order out of sync across multiple users.

Can you confirm the following things?
1. The sync icon on top right is orange for both user when you are checking the collection order
2. Signing out and signing back in the app does not resolve the issue.

Also it would

[2019-09-26 10:22] ankit-m commented on #6631
If you are not comfortable posting the information here, please send us an email at help@getpostman.com and we can look into this further.

[2019-09-26 10:26] ankit-m commented on #6853
@JP-from-Postman closing this issue as the last update was over a month ago. If the issue still exists, feel free to reopen.

[2019-09-26 10:26] #6853 closed, assigned to Ghusar, preethammavin

[2019-09-26 10:30] ankit-m commented on #7019
This issue was fixed. Please reopen if you are still facing this issue.

[2019-09-26 10:30] #7019 closed, assigned to sankalp0o

[2019-09-26 10:40] m3dbedb opened #7390 "Wrong curl import"
**Describe the bug**
Postman parses culr body imported as raw text to URL

**To Reproduce**
Steps to reproduce the behavior:
1. Press import button
2. Click on Raw text tab
3. paste text
curl -i http://192.168.0.1:8084/api/v1/crontab -d '{
    "name": "test10",
    "description": "тестовое расписание",
    "start": "2 * * * *",
    "enable": true,
    "command":"startTariff",
    "param":"[123]"
}

[2019-09-26 10:57] abhijitkane commented on #7390
Thanks @m3dbedb - we'll aim to get a fix out soon.

[2019-09-26 11:21] kumar-nitish opened #7391 "Postman takes too long to become usable"
**Describe the bug**
Postman is taking too long ( more than few minutes) to become usable and till that time main window is shown as blank, also  most of the time it gets stuck on blank window itself.

It takes multiple app restart attempts to get it in a usable stage.

**To Reproduce**
Steps to reproduce the behavior:
1.  Close all running postman instances ( `pkill  Postman` )
2. Open Postman

*

[2019-09-26 11:28] rofthedeep commented on #7314
Hi @vikiCoder
this is the response I get:

`{
    "args": {},
    "headers": {
        "x-forwarded-proto": "https",
        "host": "postman-echo.com",
        "accept": "*/*",
        "accept-encoding": "gzip, deflate",
        "authorization": "Basic Y29tZWNvOnByZXZpZXc=",
        "cache-control": "no-cache",
        "cookie": "sails.sid=s%3AE3eBmWRqX5BPQEIRAHZAL602OglhLplj.WZ1YkEaBqdbruK%2FHud

[2019-09-26 11:42] agaonkar-cleo commented on #4423
Do we have a solution for this problem? I am also facing the same problem.

[2019-09-26 11:48] Ramya-From-Postman opened #7392 "Documentation of an archived collection is not archived/still accessible publicly"
**Describe the bug**
Upon reaching the shared request limit in the team workspace, the collections are getting archived but the published docs aren't.

**To Reproduce**
1. Publish a collection in a team workspace
2. Once the shared request limits are reached, the collection will get archived
3. You can still access the published documentation

**Expected behavior**
Documentation should get deleted

[2019-09-26 12:04] Ramya-From-Postman commented on #7392
**Describe the bug**
Upon reaching the shared request limit in the team workspace, the collections are getting archived but the published docs aren't.

**To Reproduce**
1. Publish a collection in a team workspace
2. Once the shared request limits are reached, the collection will get archived
3. You can still access the published documentation

**Expected behavior**
Documentation should get deleted

[2019-09-26 12:21] Traveller-DevOps commented on #7220
Same bug is also in macOS (Mojave 10.14.6) Postman Version 7.8.0 (7.8.0)

[2019-09-26 12:24] krass1251 commented on #4117
+1

[2019-09-26 12:41] SanthoshGunaShekar commented on #7317
@Raja-Simha @Cazaimi... I have a similiar issue. Myself and my teammate share a workspace and once I create a collection and share the collection to him, the list of api's are not showing the latest one. They always show the old and not updated one, beacuse of this issue we are not able to sync our work and it is affecting us a lot. Could you please let me know how this can be solved or is there a

[2019-09-26 13:04] SanthoshGunaShekar commented on #6166
@kamalaknn @JP-from-Postman  I have a similiar issue. Myself and my teammate share a workspace and once I create a collection and share the collection to him, the list of api's are not showing the latest one. They always show the old and not updated one, beacuse of this issue we are not able to sync our work and it is affecting us a lot. Could you please let me know how this can be solved or is th

[2019-09-26 13:09] Redsandro opened #7393 "Postman crashes Linux on AMD "Picasso" APU"
**Describe the bug**

Any Electron 3.1.x app will crash the new AMD Picasso APU.
This is fixed in Electron 4.2.7.

**To Reproduce**
Steps to reproduce the behavior:

1. use AMD "Picasso" APU hardware
1. click on some saved requests
1. after a couple of seconds, observe freeze

**App information (please complete the following information):**
 - App Type: Native App
 - Postman Version 6.x - 7.x
 - O

[2019-09-26 13:16] abdvel commented on #3358
+1

[2019-09-26 13:29] bousmahafaycal commented on #3822
+1

[2019-09-26 13:47] townofdon opened #7394 "Postman requests hanging forever"
Postman app for Mac, Version 7.8.0 (7.8.0)

Chrome Version 77.0.3865.90 (Official Build) (64-bit)

Mac OS Mojave V 10.14.6

Every time.

Issue started yesterday; seemed to coincide with latest update to Postman v. 7.8.0

No

DevTools seems to have issue syncing when Postman first loads, based on the following screenshot.

![image](https://user-images.githubusercontent.com/5880655/65692834-4bc1d100

[2019-09-26 14:04] townofdon commented on #7394
Update: external requests work just fine (e.g. http://google.com), but local requests do not (http://localhost:8000)

[2019-09-26 14:53] mcandre commented on #3977
Hi,

I am also getting `invalid_grant` error. Just a few months ago, Get New Access Token was working perfectly with Okta.

[2019-09-26 15:50] codenirvana commented on #7394
@townofdon we need additional information to reproduce this internally.
Can you check if clearing cookies (if set) or removing test script fixies this issue?

Also, can share a sample server (without sensitive details) which we can use to reproduce this issue?

[2019-09-26 16:24] stcalica commented on #3975
we have a user who has long endpoint titles who would also like to see this feature

[2019-09-26 16:38] kamalaknn commented on #4642
@blowsie Thanks for getting back to us with the info.

I think the issue you have been seeing might be related to https://github.com/postmanlabs/postman-app-support/issues/5591

I'm closing this since the original issue seems to be related to GPU and that has been fixed in the recent version of Postman.

[2019-09-26 16:38] #4642 closed, assigned to nobody

[2019-09-26 17:23] townofdon commented on #7394
@codenirvana Clearing cookies seems to resolve the issue. Thanks!

[2019-09-26 17:23] #7394 closed, assigned to nobody

[2019-09-26 17:57] g5becks opened #7395 "Error installing postman using flatpak on fedora."
**Describe the bug**
Unable to install Postman on fedora silverblue

**To Reproduce**
Steps to reproduce the behavior:
1. On fedora silverblue 30
2. Open software center
3. Search for postman
4. Click install

Expected postman to install.

Instead I get the following error,

[2019-09-26 19:02] MrDHat opened #7396 "Content Length Header doesn't update automatically on updating the body"
**Describe the bug**
On updating the content for the request, the `Content-Length` header does not get updated automatically in the mac app

**To Reproduce**
Steps to reproduce the behavior:
1. Send a POST request
2. Update the request body
3. Send the request again
4. It'll fail

**Expected behavior**
It should update the `Content-Length` header automatically.

**App information (please complete

[2019-09-26 19:06] ddjurgensen commented on #7309
I also have this problem and can provide a file, since the collection is a Open API. Its fairly large and the error that I get is Error while importing Swagger 2.0 Could not import. It has something like 1163 elements. Here is the file:

[NSX-T Manager API.json.zip](https://github.com/postmanlabs/postman-app-support/files/3659462/NSX-T.Manager.API.json.zip)

[2019-09-26 19:11] ddjurgensen commented on #7309
I see that it has a element:
	"swagger": "2.0",
	"basePath": "/api/v1",
	"version": "2.4.1.0.0",
so maybe its related.

[2019-09-26 19:55] saswatds commented on #7396
Hi @MrDHat, I am not able to reproduce this issue on the said version of app.
<img width="959" alt="Screenshot 2019-09-27 at 1 23 15 AM" src="https://user-images.githubusercontent.com/8796447/65720372-75244080-e0c5-11e9-8e25-b86d8683b249.png">
<img width="970" alt="Screenshot 2019-09-27 at 1 23 30 AM" src="https://user-images.githubusercontent.com/8796447/65720373-75bcd700-e0c5-11e9-867e-70deaabaa

[2019-09-26 20:48] rpbarbati opened #7397 "When generating test requests from a schema, use the example values, not data type"
**Is your feature request related to a problem? Please describe.**
In order for me to generate a postman collection from a schema, I must first copy the example values from swagger editor and paste them into my schema so that the POSTMAN generate collection feature will use them.   Swagger editor builds the example request objects using the example values from the schema for all child elements of

[2019-09-26 23:03] vdespa opened #7398 "Postman console reports "null" but the value is actually "undefined""
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Try logging a value that is undefined, like `console.log(undefined);`
2. Open the console and you will see null

**Expected behavior**
null and undefined are two different things.

console.log(undefined); should show undefined in the console

**Screenshots**

![image](http

[2019-09-26 23:47] micongjie commented on #3358
+1 for this feature

[2019-09-27 00:35] PedroOrtegaEarnest commented on #492
Any updates on the timeline for this?

[2019-09-27 02:09] saswatds commented on #7398
Hi @vdespa, we are tracking this bug in a previously open issue https://github.com/postmanlabs/postman-app-support/issues/5705

Plans to fix to issue are already on the way. I will be closing this issue for now as Duplicate.

Thanks for reporting.

[2019-09-27 02:09] #7398 closed, assigned to nobody

[2019-09-27 03:06] shashvattrip opened #7399 "Unable to open requests on single/double clicking on the request from a collection from the Collections Tab"
**Describe the bug**
Unable to open requests on single/double clicking on the request from a collection from the Collections Tab. However, if I right-click on the request and open in a new tab, then the request opens up properly.
Unable to open Examples on single/double clicking on the examples dropdown. The drop-down opens properly, however, the examples don't open.

**To Reproduce**
Steps to rep

[2019-09-27 05:55] ankit-m commented on #6840
This issue has been fixed. If it persists, please reopen this ticket.

[2019-09-27 05:55] #6840 closed, assigned to ankitjaggi, Ghusar

[2019-09-27 07:02] sankalp0o commented on #5672
This was fixed in the v7.7 version of the Postman app.

[2019-09-27 07:02] #5672 closed, assigned to nobody

[2019-09-27 07:15] Raj-postman opened #7400 "Unable to View collection on Web dashboard"
**Describe the bug**
After importing a ~6000 line long OAS yaml file. The application hangs and displays a black window. However, after reopening the Postman app, the collection was present in the collection tab and clicking on the "View in Web" redirects to error - page doesn't exist.

**To Reproduce**
Steps to reproduce the behavior:
1. Import the yaml file
2. Application hangs
3. Quit and reope

[2019-09-27 09:14] hzlpsd2 opened #7401 "Client certificate rejected by OpenSSL"
**Describe the bug**
[CRT.zip](https://github.com/postmanlabs/postman-app-support/files/3661910/CRT.zip)
The attached certificate is rejected by OpenSSL because ca md is supposedly too weak. The signature hash algorithm used is SHA-256. Turning off SSL certificate verification does not solve the issue.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Settings -> Certificates
2. Add cert

[2019-09-27 09:15] Turkish commented on #3216
I have requests taking more than 4 seconds with POSTMAN that are taking less than a second with chrome
![image](https://user-images.githubusercontent.com/2260546/65757562-4fbc2480-e10f-11e9-9a7a-f4dfacd1f5e3.png)

The tooltip shows POSTMAN is struggling with the DNS Lookup
Same query with chrome:
![image](https://user-images.githubusercontent.com/2260546/65757700-96118380-e10f-11e9-8df9-7640a17a6d

[2019-09-27 09:47] ThornBirdlx commented on #3774
终于解决了，这个操作很让人郁闷

[2019-09-27 09:50] blueelvis opened #7402 "Exporting a collection should have the feature to create a file for each request"
**Is your feature request related to a problem? Please describe.**
It is a feature request. The use case right now is that all of our Postman Collections are checked into source control for easier CI/CD & Code Review process. Right now, if I export a collection, it produces me 1 big file which becomes difficult for merging and its difficult to isolate changes in a single pull request.

**Describe

[2019-09-27 10:13] ankit-m commented on #7400
@Raj-postman can you ensure that the collection was synced? (Is the sync icon on top right orange?) Also, do you see the collection listed under the `Collections` in the dashboard?

[2019-09-27 10:22] godfrzero commented on #7400
Based on the information we have, this is most probably caused by or related to https://github.com/postmanlabs/postman-app-support/issues/7037

[2019-09-27 11:04] sadomovalex commented on #6723
I have the same problem when installing latest 7.8.0. Sent the logs by email.

[2019-09-27 11:27] Aaron-Browne opened #7403 "Generate Code Snippets - Showing different data content"
**Describe the bug**
After creating a multi-part form-data POST request the "Generate Code Snippets" option  produces different header output for the type 'HTTP' vs JavaScript->XHR:

**To Reproduce**
Steps to reproduce the behavior:
1. Create a form-data POST request that has multi-part elements e.g. A text element and a file element:
![image](https://user-images.githubusercontent.com/35369020/657

[2019-09-27 13:18] kamalaknn commented on #6296
@groggi @arcdev @atomCode Thank you for your detailed responses.

If any of you are seeing the same error again or can reproduce it(with the [canary channel](https://www.getpostman.com/downloads/canary) as well) can you attach the contents of the `window` file under `C:\Users\[username]\AppData\Roaming\Postman`or `C:\Users\[username]\AppData\Local\Postman`(as per your installation).

[2019-09-27 13:59] just-Bri commented on #4667
+1 for this idea. Just have it open up in the side bar, or a 3 pane view.
Having it in a separate window is a frustrating design.

[2019-09-27 14:23] sinahosseini76 opened #7404 "Postman is soooo slow on 16gb ram and ssd hard drive and cpu core i5!!!!"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**App information (please complete the

[2019-09-27 15:01] sharq88 commented on #7294
![image](https://user-images.githubusercontent.com/2893497/65779295-6aa68d00-e13f-11e9-8a3c-1d54cd41a345.png)
Happens every now and then... I think this relates to SYNC! Look at the screenshot - the sync icon keep spinning, but nothing actually needed syncing.. the app was not used in the past hour, it just kicked in and I noticed that my mac is hot like hell..

Native App
version: 7.7.3
macOS Sie

[2019-09-27 16:43] pcasaes commented on #2801
+1

[2019-09-27 17:01] akaczinski commented on #7382
Experiencing a similar issue, cannot delete workspace from app or online portal.

[2019-09-27 18:11] cameronwlewis commented on #2847
+1

[2019-09-27 19:54] xtianus79 commented on #4009
yea +1 so many people are doing it why is the struggle real?  lol. so this is my setup. i make a post request with postman while listening to a socket through another program. come on man!!! lol

[2019-09-28 02:07] timothyj-splunk commented on #7388
This broke in the latest version.  I can't use postman effectively for demonstrations or development with all but small JSONs.

[2019-09-28 06:57] thinh105 commented on #1066
really? 2019 and still waiting

[2019-09-28 17:19] arcdev commented on #6296
@kamalaknn, I deleted the `window` file so we'd have a fresh, simple one.

Postman for Windows
Version 7.8.0
win32 6.2.9200 / x64

Here are the contents. (You can see the malformed JSON, pretty easily.)
[code]

I did not try the canary channel.

Also, there's a similar sample on one of my previous comments:  https://github.com/postmanlabs/postman-app-support/issues/6296#issuecomment-505509149

[2019-09-28 20:13] groggi commented on #6296
System: Microsoft Windows [Version 10.0.17763.737]

### Postman 7.8.0 without the workaround (https://github.com/postmanlabs/postman-app-support/issues/6296#issuecomment-505523271)
#### CLI Output
[code]

#### `window` file
[code]

### Postman 7.8.0 _with_ workaround
#### CLI Output
[code]
#### `window` file
[code]

### Postman 7.8.0 Canary 2 without workaround
Note: The `window` file is at anothe

[2019-09-29 04:14] srsilverglobe commented on #5051
Similar issue with Zoho Desk API: `curl -X GET https://desk.zoho.com/api/v1/tickets -H "orgId:XXX" -H "Authorization:Zoho-oauthtoken 1000.XXX.XXX"` works but in Postman the space (just after Zoho-oauthtoken) seems to cause issues, even after replacing it with %20. FWIW https://apitester.com/ handles the space fine.

[2019-09-29 05:33] kevin-postman commented on #7100
@Chronchon @rohit-taneja I have tried to duplicate this issue on Linux, Windows and Mac with no success. Could you please try updating to the latest release and see if the issue is resolved?

[2019-09-29 09:47] simlegate commented on #1104
What about `Content-Disposition` for each part?

it seems that there is no field `filename*` in `Content-Disposition` and the field must be provided in some cases.

[2019-09-29 09:58] davepile commented on #4824
This is still an issue. It took me a good couple of hours to get here after checking my own prerequests and test scripts.
Disabling the Retry button from the Runner screen if there is a data file, or some sort of warning would very much welcomed.

[2019-09-29 10:07] davepile commented on #4320
I came here from #4824 which is the same issue as #4287 that @sup-engineer mentions just above.

#4824 and #4287 have been closed saying their issue will be fixed when #4320 is, but that is not the case. #4320 was fixed a four months ago and now there is no open issue regarding the Data File from the Runner screen issue. Should I open a new one?

[2019-09-29 11:30] Kijacode commented on #6455
issue ressolved here 👍 [stackoverflow answ](https://stackoverflow.com/questions/47806876/could-not-get-any-response-response-when-using-postman-with-subdomain)

[2019-09-29 13:07] ptrkstr commented on #3669
@prashantagarwal would really love this future, hope it's still in development!

[2019-09-29 17:20] saswatds commented on #4320
Hi @davepile, Issue #4287 has been incorrectly closed and it has nothing to do with persistence of file references.
I am reopening issue #4287 and will track that until resolution. Thanks for reaching out with this problem.

[2019-09-30 01:53] kenji-1996 commented on #6045
@SladeThe lets relax, this application is insanely useful and these devs have done an incredibly good job of this. While its not the best an (easily to apply) solution is available, dont go attacking devs
Youre free to try and create something so polished and easy to use

[2019-09-30 04:30] gaurav3588 commented on #6205
Same issue is coming to to me it was working fine but currently it is not even in the local host.
![1](https://user-images.githubusercontent.com/55969324/65849671-226ab300-e369-11e9-8de9-b81148180b58.JPG)
![2](https://user-images.githubusercontent.com/55969324/65849677-28f92a80-e369-11e9-98ae-b3b7df2fd215.JPG)

[2019-09-30 04:31] Chandrashreej opened #7405 "issue while opening postman, not opening"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**App information (please complete the

[2019-09-30 07:43] PaulFrost commented on #2934
I wasted some hours trying to get a token by this grant type. Could you please fix this bug?

[2019-09-30 07:57] rohit-taneja commented on #7100
@kevin-postman Updating to 7.8.0 also didn't solve the problem but as @nzulfigarov said, removing the shortcut for paste and match style from system preferences did the trick.
Thanks both of you.

[2019-09-30 08:03] tiptok opened #7406 "no response when i add a http header key like x-mmm-sign"
**Describe the bug**
no response when i add a http header key like  x-mmm-sign:1234546

**Screenshots**
native app
![image](https://user-images.githubusercontent.com/16175379/65859122-0fbca200-e39a-11e9-9ea1-57eb5511268b.png)

![image](https://user-images.githubusercontent.com/16175379/65859175-29f68000-e39a-11e9-9ba8-83dea28596c5.png)

on chrome app  this problem does not occur

![image](https://

[2019-09-30 09:39] JulienErdogan opened #7407 "How to have multiple headers using multipart/mixed request ?"
Hey guys,

I'm using Postman to connect to my Tableau API and I have an issue using the API to post a file.
The API is used to send a file AND send a JSON request in the same request. Both parts need to have a specific Content-Disposition in the header but I don't know how to do it.

I've tried everything and searched every possible solution but I'm still stuck with an internal server error 500, c

[2019-09-30 09:56] cyrielle-hada commented on #6105
_Filed on the behalf of a user reporting via the Support_

**Describe the bug**
The collection is not synced to the GitHub repository.

**To Reproduce**
1. The GitHub integration used to be working.
2. Some changes for the key and Collection location were done.
3. The old integration was deleted.
4. New integration was added.
5. The collection is not synced to the repo.
Steps to reproduce the beha

[2019-09-30 10:00] JulienErdogan commented on #1104
+1. This just doesn't work for now. Postman does not allow to make proper multipart/mixed requests.

[2019-09-30 10:08] codenirvana commented on #7406
@tiptok Looks like the problem is not with header name like `x-mmm-sign` but the header value which has a newline (notice `...` in the header value field).

I hope removing the newline will fix your issue.

Closing as duplicate of #3835

[2019-09-30 10:08] #7406 closed, assigned to codenirvana

[2019-09-30 10:17] codenirvana commented on #7407
Duplicate of #6933

[2019-09-30 10:17] #7407 closed, assigned to nobody

[2019-09-30 10:20] JulienErdogan commented on #6933
Thanks for the merge. But no update on this ?

[2019-09-30 10:24] codenirvana commented on #6933
@JulienErdogan we already made certain changes to add support for this (multiple `multipart` types). No ETA just yet but not that far away! 🙂

[2019-09-30 10:42] lydiaralph commented on #4230
+1 I get this even when not posting any requests. Postman screen goes black after about 3 seconds. Nearly unusable.

OS: Mac 10.13.6
Postman: 7.8.0

[2019-09-30 10:54] saugion commented on #6933
Just to update you about the status, in the last version 7.8.0 i still see the error

[2019-09-30 11:13] cyrielle-hada commented on #7405
@Chandrashreej would you be able to follow the instructions outlined in the below help center article?
- https://support.getpostman.com/hc/en-us/articles/360025359014-How-to-resolve-the-Could-not-open-Postman-error-

If this doesn't work, please file a ticket to our Support team from [this page](https://support.getpostman.com/hc/en-us/requests/new?_ga=2.83206293.280658567.1569832625-1387803517.156

[2019-09-30 11:22] BrendanMartin commented on #2801
+1

[2019-09-30 11:40] duffpl commented on #3480
Can confirm. Wrapping sendRequest in Promise and then setting environment variable on resolve doesn't work. I've got 2 promises in Promise.all().

[2019-09-30 13:53] teja5 opened #7408 "unable to fetch the data in postman response"
the Api call which i was making is working in deprecated chrome app but not in desktop app

![Capture](https://user-images.githubusercontent.com/26085314/65885120-ae0b3080-e3b7-11e9-84e5-cc9914bbd08e.PNG)
<img width="728" alt="isseue" src="https://user-images.githubusercontent.com/26085314/65885146-bcf1e300-e3b7-11e9-8e23-cba9584457c7.PNG">

[2019-09-30 14:09] volaruQQ opened #7409 "[MacOS] Postman crashes when starting capture proxy if port is already taken"
[Mac] Postman crashes when starting capture proxy if port is already taken

Steps to reproduce the behavior:
1. Use Charles to make a proxy and capture requests on the 8888 port
2. Open postman
3. Click on "Capture requests and cookies with postman" icon
4. Select Proxy and toggle it to On

**Expected behavior**
User should see a message that selected port can't be used or at least not crash with

[2019-09-30 14:36] Dangerunicorn commented on #7381
What information can I provide for you?

Is this maybe related to issue #4355?

[2019-09-30 14:41] mhamzaee opened #7410 "Cookies not showing"
**Describe the bug**
The cookies hyperlink is not visible next to the 'Code' hyperlink so I'm unable to update my cookies.
How do I get the Cookies hyperlink to show up?

**Screenshots**
![image](https://user-images.githubusercontent.com/55989935/65889083-7bc8e700-e355-11e9-9205-f9f078f466d1.png)

**App information (please complete the following information):**
Postman for Chrome
Version 5.5.4
OS

[2019-09-30 14:41] antdking commented on #2427
This is broken again, as of v7.8.0, Running on Linux.

Unknown if this is broken in previous versions too:

![image](https://user-images.githubusercontent.com/2099618/65889146-a4260500-e398-11e9-84ac-8cf1f1056b7d.png)

[2019-09-30 14:43] decoded4620 commented on #4687
I didn't grab a screen shot, but postman just brought my 32gb Windows desktop to the point of freezing with 99% memory usage. In Task Manager, it showed three seperate processes each using 7G each. I had intelliJ open, and chrome with 5 tabs (mostly github stuff), but PostMans usage made it almost impossible to move my mouse or open my Task Manager.

[2019-09-30 15:03] TaukSnarkyAgrud commented on #2392
I would like to post an idea to extend the feature added for this thread.
Select (check/uncheck) followed by shift+Select inverts the check on all tests between selection.
More explicitly: We may need to disable a long list of items and individually selecting the items is slow. Shift selection of all items(much like in file explorer) would be speedy.
Another nuance to the idea would be to allow fo

[2019-09-30 15:04] decoded4620 commented on #4687
![badPostMan](https://user-images.githubusercontent.com/3255299/65891099-d9126780-e358-11e9-91ee-48ed11de9069.jpg)

Running again reveals a big issue (Windows 10 x64 latest, 32.0 GB ram)

[2019-09-30 15:10] qcastel commented on #4687
@decoded4620 Yea, that's really the big downside of Postman.
We did suffer from the same problem in our project.

I did investigate a bit deeper, by doing like you, and found out that it's the environment variables the issues:

Postman is reloading in memory the environment variables.
Did share this video with Postman https://youtu.be/F0I9SjRaY1M but they haven't progress so far on that.

The only

[2019-09-30 15:11] Millais commented on #7382
Similar/duplicate of #6102

[2019-09-30 15:13] TaukSnarkyAgrud commented on #2392
Another idea to share with the team:
Add pre-defined Request.method: "disabled".
Execution logic hops over any request set to disabled; to the request immediately following the request(s) listed with Request[method] = "disabled"

[2019-09-30 15:15] Millais commented on #6102
Hey Postman Team,

This feature is critical for any large Enterprise rollout.

We're currently working with the Postman team to introduce the Enterpise license at PayPal. To expand the license across the company, we require more fine-grained controls than what the current permissions offer.

Really as a minimum we need:
1) Superuser access (this ticket)
2) Ability to lock down who can create works

[2019-09-30 15:19] Dangerunicorn commented on #4355
I am encountering this same issue as well. My tests with NTLM were running fine until September 19th. Now they fail with 401 error. I am also seeing this in the console:

WWW-Authenticate: Negotiate
WWW-Authenticate: NTLM

I am unable to use Postman with this error as 95%+ of our test suite uses NTLM.

[2019-09-30 15:31] greyraven commented on #6152
@Cazaimi #DEFINE "Shortly". This bug has been around since March. My boss wants to pull the plug on Postman. Please address "Shortly..." we are "Staying tuned" as you have asked.

[2019-09-30 15:34] codenirvana commented on #7410
@mhamzaee You are using the deprecated Chrome app.
Download the latest Postman Native app here: https://www.getpostman.com/downloads/

[2019-09-30 15:34] #7410 closed, assigned to nobody

[2019-09-30 15:37] codenirvana commented on #7381
@Dangerunicorn Can you check if the request (just NTLM auth) works by removing the request body?

As you mentioned the request used to work previously and there's no change made in the NTLM auth mechanism as well so it's very likely that the issue is either related to some request payload (headers or body) or the proxy in use.

[2019-09-30 15:45] Dangerunicorn commented on #7381
I have no request body in the one I'm using to test. (I have been checking other tests as well to be sure.) The request I'm using is a basic call to our website to ask which user is returned with the credentials given.

I noticed that I have the same Headers as were mentioned in #4355. I see these in the console log.
WWW-Authenticate: Negotiate
WWW-Authenticate: NTLM
X-Powered-By: ASP.NET

[2019-09-30 16:01] codenirvana commented on #7381
@Dangerunicorn Not sure its the exact same problem. Because in your case I see the last header is `NTLM` not `Negotiate` and since the current implementation always choose the last header (if duplicates) the request should work.

Can you clear the console and send the request once and for evert request log expand the request and response header section (hide sensitive details) and share the screen

[2019-09-30 16:02] vaclavpfeifer commented on #6723
Same here

[2019-09-30 16:47] Dangerunicorn commented on #7381
Below you will see my console log. I am only sending one request called "Who Am I?". There is nothing in the body. I am only sending the request once. All of my requests appear this way - running 3 times. They only succeed on the third try.

![1](https://user-images.githubusercontent.com/54122108/65899109-e551f100-e367-11e9-89fc-1a1b3dc938dd.PNG)
![2](https://user-images.githubusercontent.com/5412

[2019-09-30 17:39] siredwin commented on #4009
I am a loyal customer of Postman for documenting HTTP methods using restful API. But at the moment, I can no longer wait for a WebSocket client. I am creating my own web-based Websocket Client and I will share it soon. The chrome extensions are just not my thing.

[2019-09-30 17:47] szsascha commented on #4009
@siredwin Sounds really nice! Is it standalone or integrated into Postman?

Isn't Postman open source? Maybe we as a community can contribute some WS functionality?

[2019-09-30 18:07] siredwin commented on #4009
@SaschaS93, I don't think it is open source. But I am doing web first then stand-alone later. I can integrate to it at some point if they accept such a thing.

[2019-09-30 18:41] codenirvana commented on #7381
Do you mean the third request is `200 OK` or you have to send the request 3 times to make it work?

Yes, these are the NTLM handshake requests.

From the request-response screenshots looks like server rejected the type 3 message (third request) which I think is because of invalid credentials or server error.

As you can see it's not related to #4355 as the type 2 message (second request's response

[2019-09-30 18:44] Dangerunicorn commented on #7381
I don't send the request 3 times. I send the request once and postman sends it three times. Every response is 401 as you can see in the screen shots above.

These credentials are not invalid. I can access this end point in browser manually with no issue. I can also access the site in incognito mode, and I can enter in the same credentials without issue.

How can I tell if this is a server error?

[2019-09-30 18:45] loopDelicious opened #7411 "Code gen submenus require side-scroll to view"
https://community.getpostman.com/t/generate-code-samples-sub-menus-broken/8087

[2019-09-30 18:50] thisisjjd commented on #3697
I'm also unable to login with Google 2FA using Google Authenticator with Postman v7.8.0 on Ubuntu Linux.

It says "your session has expired please login".  Then I click "login with google" and I enter my credentials.  I authenticate using 2FA on my phone and then it takes me to the google login page again, except that now, none of the buttons do anything.

[2019-09-30 18:55] codenirvana commented on #7381
Yes as previously said those three requests sent are part of NTLM handshake (no issues with that).

Not sure, so far I am not able to understand what's the issue with this request.

If possible can you share a sample endpoint and required credentials with us @ `help@getpostman.com` so that we can reproduce this issue internally.

[2019-09-30 19:14] codenirvana commented on #7408
@teja5 Looks like there's som application logic which rejects request based on `User-Agent` request header (maybe trying to allow only browser requests).

Check if adding a browser user-agent (like `Mozilla/5.0 (compatible; MSIE 9.0; Windows NT 6.1; Trident/5.0; Trident/5.0)`) fixes this issue.

[2019-09-30 19:14] #7408 closed, assigned to nobody

[2019-09-30 19:20] untone opened #7412 "Add hotkey for access to edit collection modal"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2019-09-30 20:30] Dangerunicorn commented on #7381
Unfortunately there is no way we can provide a sample endpoint or credentials. I wish I could send that info your way, but everything I have is internal for our company and touches sensitive user information.

Is there any other way I could possibly assist in helping you to narrow this down? Is there a public site API available with NTLM authentication that I can test against? Maybe then I could g

[2019-09-30 20:39] preethammavin commented on #4687
We are actively working on performance improvements, this is something that deeply concerns us. We try to address performance issues with every release and always deliver the best possible product experience for our users, will keep the thread updated with the future improvements.

[2019-09-30 20:42] preethammavin commented on #6102
@Millais thanks for giving a very insightful feedback, we are actively looking at enabling governance capabilities in Postman and adding a way to administer the data and configuration of your team at the top of the list. This is currently on our mid - long term roadmap , will keep everyone here and our trello roadmap posted on the progress .

[2019-09-30 20:44] Liz4v commented on #5441
Still no?

[2019-10-01 00:26] SubjectiveReality commented on #2023
For future visitors...

[2019-10-01 00:44] elssar commented on #7305
@adardesign are you still having trouble signing in to Postman?
We have not been able to reproduce this, so closing the ticket. Please reopen if you are still can't signin.

[2019-10-01 00:44] #7305 closed, assigned to elssar

[2019-10-01 01:52] godfrzero commented on #6152
@greyraven The bug you're seeing here is actually caused by a 3rd party code generator we're using. Since we don't have control of that generator, we've been stuck with a few bugs in the module. What we're doing right now, and what @Cazaimi is working on, is moving to a new in-house code generator. While this will allow us to fix bugs and add features quickly in the future, it does mean that the i

[2019-10-01 05:02] nikhil-cdac commented on #4409
I am having the same issue. postman version is Version 7.8.0 (7.8.0). When I run the curl command generated by postman, it works in Terminal. But postman shows 404. OS is macOS 10.14.6

[2019-10-01 05:48] Raj-postman commented on #7400
@ankit-m This looks like more of #7037 issue. Once the file is uploaded then the window turns black. After restarting the application, the collection appears on the app but the same collection isn't synced to the web dashboard. The sync icon is orange as soon as the app is restarted but after checking the collection from Web dashboard the icon keeps spinning (blue).

In addition, once I import the

[2019-10-01 06:04] chainhead opened #7413 "Automatically add Content-Length header with value set to number of bytes in payload."
**Is your feature request related to a problem? Please describe.**
No.

**Describe the solution you'd like**
My APIs need the `Content-Length` header to be sent whose value could be zero or greater. Can you please provide a flag to enable the addition of this header automatically with its value set to number of bytes of body?

**Describe alternatives you've considered**
Add `Content-Length` header

[2019-10-01 06:11] chainhead opened #7414 "Variables in URL not replaced with environment values."
**Describe the bug**
Variables for `https` and `http` URLs for production and development environments are not replaced.

**To Reproduce**
Steps to reproduce the behavior:
1. Set-up an environment named **Production**.
2. Set variables as:
   1. `scheme` = `https`
   2. `host` = `api.prod.com`
   3. Enter URL in Postman as `{{scheme}}://{{host}}/resource`
4. The URL is never invoked.
5. Set-up an

[2019-10-01 07:57] KalleVuorjoki opened #7415 "I am able to log in and do requests, but not able to sync"
**Describe the bug**
I cannot access the team workspace or collections, it says "You need to have an active internet connection to be able to switch to or create a workspace.". If I login via browser I'm able to see my personal teams collections. I'm able to log in and create successful requests on Postman.

**To Reproduce**
Steps to reproduce the behavior:
1. Start the app
2. Log in to your accou

[2019-10-01 08:26] Ghusar commented on #7415
@KalleVuorjoki can you write to us help@getpostman.com so that we take a closer look.

[2019-10-01 08:41] m3dbedb commented on #6946
The issue is back in Postman 7.8.0

[2019-10-01 08:57] madhu131313 opened #7416 "Curl imoprt bug"
**App information (please complete the following information):**
 - App Type [e.g. Chrome App, Native App] native app
 - Postman Version [e.g. 6.0.1] 7.8.0
 - OS: [e.g. macOS High Sierra 10.13.2] macOS High Sierra

Import this following curl results in invalid body string

curl 'http://env2.abc.com:3015/execution/api/v1/executions/5d7357ba8658504790a0058b/project_roles/5d61141e8658501d85e951ea/lea

[2019-10-01 09:10] abhijitkane commented on #7416
@madhu131313 This is an invalid cURL command - I'm not able to execute it on the terminal either.

You'll need to escape the `I'd` to `I\'d` to run it in curl or import into Postman.

[2019-10-01 09:10] #7416 closed, assigned to nobody

[2019-10-01 09:16] gervaisb commented on #6297
Any news on that ? Same issue with Ubuntu 19.04.

This is blocking us to use Postman for testing our APIs.

[2019-10-01 09:52] harryi3t commented on #7100
@rohit-taneja @Chronchon @nzulfigarov
We were able to reproduce the issue (thanks @nzulfigarov for the info provided). It looks like when you have `Paste and Match Style` action mapped to `Cmd + V` shortcut, it interferes with the actual `paste` action.
We are working on a fix for this. I will update the thread once the fix is out.
Thanks for your patience!

[2019-10-01 10:26] tobias-curve commented on #5220
Is there a way to upvote this issue? Me and my colleagues have encountered this issue multiple times with Authorization headers and it every time takes ages to figure out (unless you have figured it out once, like me).

A quick way to figure out if a new line is causing your requests to fail is to use the code generation tool in Postman, it's easy to spot the new line e.g. as HTTP code, while in t

[2019-10-01 11:48] rachnash commented on #6761
i upgraded the version to 7.6.0 this morning - since then i am seeing this issue again. my response object is correctly being sent by backend but not getting displayed in postman. it says response status 200, OK

[2019-10-01 13:11] xtianus79 commented on #4009
@SaschaS93 socket wrench and firebase which is a chrome extension are really good

[2019-10-01 15:00] chainhead commented on #7396
@saswatds in your screenshot, are they _response_ headers? I have raised a similar issue/feature request - https://github.com/postmanlabs/postman-app-support/issues/7413

[2019-10-01 15:23] arcdev commented on #6296
@kamalaknn
I just tried the Canary channel (PostmanCanary-win64-7.8.0-canary02-Setup)
Same issue.
Here's the window file contents:
[code]

[2019-10-01 15:24] saswatds commented on #7396
Hi @chainhead They are the request headers being sent by postman. The echo server echo's back whatever the client sends.

[2019-10-01 15:26] saswatds commented on #7413
@chainhead I am closing this issue in favour of the issue already open, we can discuss the issue there instead.

[2019-10-01 15:26] #7413 closed, assigned to nobody

[2019-10-01 15:26] nvncbl commented on #2450
Dark mode (color) was an incorrect response to the problem (contrast).  I feel like the aesthetic is attempting to be as "soft" and as "inoffensive" as possible.  Of all the windows/apps open on my three monitors, Postman is extremely washed out, as if there's a 0.7 opacity filter applied, which greatly detracts from usability.

[2019-10-01 16:15] hwooo opened #7417 "[Windows] Borderless window"
**Describe the solution you'd like**
![border](https://user-images.githubusercontent.com/46282492/65979037-9f07a980-e4af-11e9-80c9-40c7b2cb8785.PNG)

Currently, color of the title bar is always white on Windows so I feel it doesn't match with dark theme. I would like color of the title bar to be integrated into dark theme, like following screenshot.

![ijwindow](https://user-images.githubuserconte

[2019-10-01 16:41] Dangerunicorn commented on #7381
Is there any possible way that we can proceed? This is holding up work for us, and I don't know where to turn.

Can we unblock this issue? It is an ongoing problem that has halted work for us.

[2019-10-01 17:49] Dudak22 commented on #7381
+1

[2019-10-01 17:51] saswatds commented on #7381
Hi @Dangerunicorn,
As you maybe aware, NTML is a proprietary protocol designed by Microsoft with no publicly available specification. Over the time frame you have mentioned we have had made no changes to NTML implementation in our runtime. The working of the NTLM(beta) auth feature greatly depends on how the IIS server has been configured on your end. Without the completely knowledge of your confi

[2019-10-01 18:22] Dangerunicorn commented on #7381
3 Responses in Console: Totally understand where that's coming from. The example provided above was one GET request sent once, I just wanted to be sure to include the 3 times that it runs with all the info.

Credentials: My credentials are stored in environment variables. These haven't changed and I've double checked for you to confirm they are accurate. These same credentials get me to the websit

[2019-10-01 18:57] Cazaimi commented on #6152
@greyraven , I'm sorry to hear that and I thank you for the patience. As @godfrzero mentioned, the release should be out within the next week.

[2019-10-01 19:06] saswatds commented on #7381
NTML is inherently very tricky. The information that would help the most would be to know from the server why request's from postman are failing, but I presume it will be difficult.

I can see that you are using a proxy so the following snippet should work
[code]

With regards to the credentials. when you are using environment variables it is still possible that spaces creep in the following manne

[2019-10-01 19:28] Dangerunicorn commented on #7381
Thank you for the snippet. I'll pass that along to our developer as well.

I have confirmed that there are no spaces before or after the username, password, or domain.

[2019-10-01 19:28] saswatds commented on #7414
Hi @chainhead, I am not able to reproduce this issue. The request goes through just fine

<img width="877" alt="Screenshot 2019-10-02 at 12 57 09 AM" src="https://user-images.githubusercontent.com/8796447/65993836-9d3de600-e4af-11e9-8328-a26b0f6837e7.png">

[2019-10-01 21:52] oliviamoncayo opened #7418 "Upgraded to Postman 7.8 - LOST ALL MY COLLECTIONS!"
Upgraded to Postman 7.8. Opened the application, created my account. I can see all my existing collections listed under My Workspace.
I create a new collection, but it is read-only. I create a new request, it is read-only.
I then created a new workspace, gave it a name. I can create new collections there without a problem.
I switch back to My Workspace - all my collections I saw a moment ago are g

[2019-10-01 22:18] scharf commented on #2450
Applications like Evernote used to have this type of low contrast UI but they changed it to normal contrast.

[2019-10-01 22:58] xk0der commented on #7418
Sorry about that Olivia, that's not the kind of experience we want our users to have.

Please do "Submit a ticket" to open a support request from here: https://www.getpostman.com/support

In that support request provide us with your email ID that you used to create your account so that we may check to see how we may help you.

[2019-10-01 23:03] xk0der commented on #7418
While you log a support request with us, you mentioned you created a new account

Is it possible you were using another email ID earlier? And then created a new account?

Also, do check here: https://app.postman.co/me/collections and see if any of your missing collections show up.

Plus check the trash as well: https://learning.getpostman.com/docs/postman/collections/managing_collections/#recover-

[2019-10-02 00:45] micmania1 commented on #4808
I've just hit this problem too. It would be great if there were hooks for after the environment variables had been set and the request was ready to send. I had to generate a signature based on the request body and while the environment variable solution `{{encrypted_body}}` would have worked, it makes things very hard to follow.

I need to apply a signature to every request in my collection which

[2019-10-02 06:26] GrzegorzWidla commented on #5294
And on Windows 10 too!

[2019-10-02 06:29] KalleVuorjoki commented on #7415
So it seems the issue is with the ISP (Telia Finland) blocks the ports that App uses. Everything works fine with VPN.

[2019-10-02 07:06] cappi10 commented on #7294
Same problem here, also on version 7.8.0. It's making everything almost unresonsive.

Native App
version 7.8.0
macOS Mojave

[2019-10-02 07:31] Moltenhead commented on #2992
Same issuse after update, here is some logs executing using the console launcher :
![Capture d’écran 2019-10-02 à 09 29 56](https://user-images.githubusercontent.com/32105250/66025638-3f34f100-e4f7-11e9-9745-58bba76d94fa.png)
The last message is indefinitly repeating itself and window doesn't show.

[2019-10-02 08:12] thoraj commented on #7348
+1

We have integrated newman running tests from folders into our AzureDevops pipeline to make sure API are OK in the staging environment before deploying to production.

We would like to run those same folders as Monitors (in the production environment) to ensure we get notifications if the APIs for some reason become unresponsive.

Without this requested addition, we end up with a lot of copy-pa

[2019-10-02 08:53] mojo2012 opened #7419 "Wrong keyboard shortcuts for zoom on macOS"
**Describe the bug**
The "zoom in" keyboard shortcut in the menubar is `cmd+=` although it is defined as `cmd++` in the settings window, which is the default on macOS.

To actually zoom, I have to press `cmd+shift+0". As I'm on a german system and keyboard - this complies with the menubar.

**To Reproduce**
Steps to reproduce the behavior:
1. Switch to `german` on the system and keyboard (also use

[2019-10-02 09:03] dktsni commented on #3312
Hi @codenirvana !

Thx for the addition of the `pm.cookies.jar()` API, it helps a lot ! 🎉

I have a second question regarding this, is there any way to add the whitelist element through a script or an environment file ? The purpose here is to delete the cookies in our tests when they're launched _via_ newman, but we need to whitelist automatically the URLs.

dktsni

[2019-10-02 09:11] jenskuhrjorgensen commented on #7341
This has been a long-requested feature, which is still present in the documentation, but not in the desktop app (at least not on MacOS):

[4253](https://github.com/postmanlabs/postman-app-support/issues/4253)
[5222](https://github.com/postmanlabs/postman-app-support/issues/5222)

An answer from the Postman team on this topic would be awesome! @numaanashraf maybe you could give a comment on this re

[2019-10-02 09:13] codenirvana commented on #3312
Hey @dktsni, there's no need to whitelist hostname in Newman and Monitoring for programmatic cookie access because unlike the Postman app they don't have a shared cookie store.

[2019-10-02 09:47] iammohitsakhuja commented on #903
+1 for this feature. It'd be extremely helpful since as of right now it's extremely easy to mistakenly send a request in production environment!

[2019-10-02 11:55] SzymonDukla commented on #4423
Same here, apparently it was fixed in 7.2.0 but now is again broken

[2019-10-02 12:20] dktsni commented on #3312
I just upgraded our newman version to 4.5.5, and it works now, guess that we use a version which doesn't include your fix.
Thanks !

[2019-10-02 12:56] chainhead commented on #7414
Is there a way to see what the URL resolves into before actually making the invocation?

[2019-10-02 12:57] codenirvana commented on #4423
@agaonkar-cleo @SzymonDukla Can you share steps to reproduce this issue?

Not reproducable in v7.8.0:

<img width="942" alt="Screenshot 2019-10-02 at 6 24 48 PM" src="https://user-images.githubusercontent.com/4865836/66045799-0e2dde00-e542-11e9-9d98-0f4c79e822fe.png">

[2019-10-02 13:00] chainhead commented on #7414
Hmm...I had to manually enter the value `host` under current value column to get this working. This is not very intuitive. ;)

[2019-10-02 13:00] #7414 closed, assigned to nobody

[2019-10-02 13:01] oliviamoncayo commented on #7418
I had version 5.5.3. If I had an earlier account, I do not recall. It still does not explain why with the "new" account I was able to see all my work when I first opened the application (under My Workspace), but when creating a new workspace (XYZ), all my work from My Workspace just disappeared.
The collections page did not show my previous work.
What really saved me was https://stackoverflow.com/

[2019-10-02 13:02] #7418 closed, assigned to nobody

[2019-10-02 13:19] sufisaid opened #7420 "Add support for confirmation box"
**Case**
I'm using Postman as a main tool for checking non prod and prod environments.
Have defined several environments, have pre-request scripts both on collection and single request.

So I added restriction on collection pre-request script to disable POST, PUT and DELETE requests when PROD environment is selected.

However, in some situation there is need to make one of there requests. Then I h

[2019-10-02 14:41] jebrage commented on #7055
If you don't want to reboot, running `pkill -fl Postman` and then trying to start also works.

[2019-10-02 15:26] kirk911 commented on #7381
I could not get NTLM to work using Postman.  I tried the exact same request using Curl and the --ntlm flag and it worked without issue.  Perhaps you could try with Curl to rule out an issue with your network?

[2019-10-02 15:35] abhinavgurung commented on #6861
hi, I am running in to same uissue on centos 7. I cannot find this Config folder. where is it.

[2019-10-02 15:52] hannabatjargal commented on #2992
This fixed my problem. Thank you so much!

[2019-10-02 16:23] #7405 closed, assigned to nobody

[2019-10-02 16:26] numaanashraf commented on #7395
@G5Becks Flatpak is not an officially supported distribution at the moment and is community maintained. Please file an issue at https://github.com/flathub/com.getpostman.Postman. I see that there are been a fix recently that addressed the "wrong size of extra data" issue, so maybe try installing again?

[2019-10-02 16:26] #7395 closed, assigned to nobody

[2019-10-02 16:28] numaanashraf commented on #7393
@Redsandro Thanks for the detailed report. We have plans to update to Electron 4.x and above soon and will post updates here when it hits our early access builds.

[2019-10-02 17:29] abhinavgurung opened #7421 "Add support for Linux CentOS 7"
**Describe the bug**
Not able to run the postman despite fresh install
enviornment: linux, centos 7

**To Reproduce**
Steps to reproduce the behavior:
1. downloaded postman for linux 64 bit from https://www.getpostman.com/downloads/
2. extracted the folder
3. on my cmd  (cd to that folder) typing postman
4. error in screenshot. clicking on postman executable does not respond
**Expected behavior**

[2019-10-02 18:49] paunovic commented on #6023
Hey guys, are there any updates on this? I'm trying to send hashtag as a query value and this bug is preventing me to do so.

[2019-10-02 20:45] MGWVc opened #7422 "Royalsbachl"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem. Please make sure the screenshot does no

[2019-10-02 21:40] robskrob opened #7423 "POST X-www-form-urlencoded array of objects"
I am trying to make a POST request with `X-www-form-urlencoded` that contains an array of objects. I am able to do it with a `curl` request like this one:
[code]

This is the tricky part ` -d to='[{ "email" : "recipient@example.com", "name" : "Recipient Name" }]' \`

As you can see in the screenshot:
<img width="1007" alt="Screen Shot 2019-10-02 at 5 26 05 PM" src="https://user-images.githubuserco

[2019-10-02 21:41] Golgo1 commented on #7000
There have been a number of updates since this functional break.
Just updating the issue to point out that there has been no indication it is being addressed, and the problem appears to persist.

If assistance/examples is required, is there a public URL that requires 2-way SSL that I can test against?
I still cannot post my examples as they are quite sensitive. But they DO work in v6.x

[2019-10-02 21:42] eschwartz opened #7424 "Authorization Type: JWT Token"
**Is your feature request related to a problem? Please describe.**

I have an API that accepts JWT tokens, which I would like to test against. Currently, I need to manually generate and encode my tokens, which is slow, and involves a lot of context-switching.

**Describe the solution you'd like**

I would like the _Authorizations_ panel to allow a new _Type_ called _JWT Token_. It would accept a J

[2019-10-02 22:15] celiadominguez commented on #7052
I am really interested in that feature. Will make the documentation very intuitive.

[2019-10-03 02:17] FVBernardino commented on #4029
Check this
1- Headers:
    - Content-type: multipart/form-data
2- Body:
    - Add key (file) and change type field for file. This show select file for upload;
    - Add key (_method) with value: PUT

The route send must be POST.

[2019-10-03 02:58] codenirvana commented on #7424
Duplicate of #5548

[2019-10-03 02:58] #7424 closed, assigned to nobody

[2019-10-03 06:45] mohit-sentieo commented on #6682
+1

[2019-10-03 08:06] preethamsridhar commented on #5990
Same here. Does anybody care to reply here.??

[2019-10-03 08:16] numaanashraf commented on #5990
@preethamsridhar We are working on a ton of performance improvements at the moment. We'll post updates here once these improvements are available on our early access builds.

[2019-10-03 08:17] #7422 closed

[2019-10-03 08:35] vikiCoder commented on #6966
Hi @javiergarza

Are there any public endpoints or local environment setup to test the auth implementation in the Postman app?

[2019-10-03 08:45] ankit-m commented on #6631
Closing this issue due to 7 days of inactivity. Please reopen this issue if you are able to reproduce this consistently.

[2019-10-03 08:45] #6631 closed, assigned to nobody

[2019-10-03 09:01] elyaell opened #7425 "Unable to send request from Team workspace"
**Describe the bug**
When connected on the team workspace, it became suddenly impossible to send request from the workspace : the response received is *404 not found* and there is no log about a request trying to find a non existing endpoint on the server. Moreover, using the same request with the same configuration on a personal workspace work just fine.

**Expected behavior**
I expect... Being a

[2019-10-03 09:26] Kwadz opened #7426 "Close tab button is on the wrong side for Mac users"
### Summary

Close tab button is on the wrong side for Mac users

### Expected behavior

With an ergonomic approach, the close tab button should be on the same side as the OS, therefore on the left.

### Actual behavior

The close tab button is on the right. It should be at least configurable or by default on the left like every close button in the OS.

[2019-10-03 09:38] davidfaber commented on #1070
+1 This would be very important!

[2019-10-03 09:49] Lyra2108 opened #7427 "Only one security function is added with Swagger/OpenAPI import"
**Describe the bug**
Unlike other open bugs e.g. #1470 the schemes are not completly ignored, but like only mentioned in the comments of the other bug, only the first is effectiv. This does apply to all Open API versions.

**To Reproduce**
Below you find examples to test the import with, in the v2.0 example the 2nd added without a `-` to indicate that both are needed. In the v3.0 the 2nd is added

[2019-10-03 10:14] shashvattrip commented on #7399
Still waiting on this

[2019-10-03 10:41] saswatds commented on #4674
Hi everyone, in the latest `canary` version of app `7.9.0-canary01` we have made some performance improvements in the Collection Runner. It should now load much faster and with proper loading state. Do check it out and share you thoughts.

You can download the `canary` app from https://www.getpostman.com/downloads/canary

Thanks

[2019-10-03 10:45] saswatds commented on #7053
Closing this issue as it's a duplicate of #4128. I will be using the said issue as the master issue for the black-screen/memory problem in Collection Runner

[2019-10-03 10:45] #7053 closed, assigned to ritwijsinha

[2019-10-03 10:47] Wotuu commented on #5897
This issue gave us some headache. We made the protocol configurable (http/https) in our back end and added 301 redirects from http -> https on some environments. This issue caused all our PUT/POST/DELETE requests to turn into GET requests. Solution was to avoid the redirect by explicitly setting the protocol but this bug shouldn't exist in the first place.

[2019-10-03 10:51] saswatds commented on #4128
Hi everyone, in the latest canary version of app `7.9.0-canary01` we have made some performance improvements in the Collection Runner. It should now load much faster and with proper loading state. Have also been able to reduce the memory foot-print of the runner window by quite a lot so the runner resulting in the back-screen should also be mitigated to an extent. This is not going to be the end,

[2019-10-03 11:08] saswatds commented on #6324
Hi everyone, in the latest canary version of app 7.9.0-canary01 we have made some performance improvements in the Collection Runner. It should now load much faster and with proper loading state. Have also been able to reduce the memory foot-print of the runner window by quite a lot so the runner resulting in the back-screen should also be mitigated to an extent.

You can download the canary app fr

[2019-10-03 11:08] #6324 closed, assigned to shamasis

[2019-10-03 11:59] ghost commented on #4423
@codenirvana I can see the issue in your screenshot.  The path variable name should be `get`, not `get.json`, and the URL should end in `.json`

[2019-10-03 12:13] harryi3t commented on #7349
@makhnanov Could you give us some more information about what's the expected behaviour?
A screen-recording/gif would really help

[2019-10-03 12:51] ritwijsinha opened #7428 "Can't open Postman Console with keyboard shortcut when Spectacle is open"
**Describe the bug**
On pressing the keyboard shortcut for Postman Console, the window gets centered.

**To Reproduce**
Steps to reproduce the behavior:
1. Open Spectacle
2. Press `cmd + option + C` in Postman app

**Expected behavior**
Postman Console should be launched.

**App information (please complete the following information):**
Postman for Mac
Version 7.8.0
OS X 18.7.0 / x64

[2019-10-03 13:06] harryi3t commented on #7241
@Tomis1 Are you still facing the issue or like @staplespeter mentioned did it actually update upon restarting the app?

[2019-10-03 14:33] lwaddicor commented on #5194
This would be awesome for us

[2019-10-03 14:58] Dysar commented on #6242
What is the status of the feature?

[2019-10-03 14:59] supriya121061 opened #7429 "'protocolProfileBehavior' is not set to true in extracted Json collection while the same is set to true in postman app"
**Describe the bug**
'protocolProfileBehavior' is not set to true in extracted Json collection while the same is set to true in postman app

**To Reproduce**
Steps to reproduce the behavior:
1. Create any 2 get and post request
2. For both of them 'Automatically follow redirects' is On.
![image](https://user-images.githubusercontent.com/56124432/66137851-9d47fe00-e5f5-11e9-866e-125b6f7aaa8c.png)

[2019-10-03 15:47] codenirvana commented on #7429
@supriya121061 `protocolProfileBehavior` changes are not persisted if the setting is getting inherited from global (in this case `followRedirects`).

Check if turning this `off` and `on` again persists the option in the exported collection?

[2019-10-03 16:29] rosemary16 commented on #4287
Just wanted to report the same problem.

[2019-10-03 16:45] rosemary16 opened #7430 "Add variables support in Request Name for better reports in case of using multiple data sets"
**Is your feature request related to a problem? Please describe.**
Running Postman tests with external data file in CI - results in unclear reports, because the test title contains only the request name and ignores the set of data used in this iteration.

**Describe the solution you'd like**
Add the variables support to request Name.

**Describe alternatives you've considered**
Alternative option

[2019-10-03 17:36] joanbarros commented on #6370
I tried creating a Visualizer to display the base64 images but when I passed the base64 content to a img tag I got this error:

[code]

Any way of telling Postman to allow this?

PD: @Sjain01 not sure if this would also resolve your particular need. But thought I should share. Maybe it's useful for you if the permission issues can be resolved somehow.

[2019-10-03 23:35] AquaHippie808 commented on #7143
@Cazaimi Sorry for the delay on this. The customer can confirm that a 404 is being returned when trying to hit the url.

[2019-10-04 01:15] iFunbox commented on #6073
+1
Every time  dns lookup  costs 5s
visit again just cost 200ms

[2019-10-04 04:19] saswatds commented on #5365
@neesonqk Thanks for the confirmation, I will take a look at root cause for this.

[2019-10-04 05:40] diawl opened #7431 "Lost all my local data"
I don't know what happened behind the scene. I'm always using Mac native app.

But today I just lost all my local data including environment setting/api collections/scripts I have built over the last 5 months.

I don't understand why or how this would happen. Just depressed and disappointed.

[2019-10-04 05:42] Ghusar commented on #7431
@diawl can you write to us help@getpostman.com so that we take a closer look.

[2019-10-04 05:52] javiergarza commented on #6966
We don't have any public endpoints. I sent Matt Ball API credentials for our [contracts API](https://developer.akamai.com/api/core_features/contract/v1.html) a while back. Please send me an email at javierATakamai.com and I will resend API credentials you can use for testing

[2019-10-04 06:08] Ghusar commented on #7415
Closing this issue for now, feel free to reopen it if the problem still exists in any other way

[2019-10-04 06:08] #7415 closed, assigned to nobody

[2019-10-04 06:20] Ghusar commented on #7431
@diawl Meanwhile can you open https://go.postman.co/me/collections and see if you can find your collections there?

[2019-10-04 07:03] harryi3t commented on #6888
For teams on Postman v6 to get the latest update, they must first migrate their team to  Postman v7
Here's the documentation on how/why to do the migration: https://learning.getpostman.com/docs/postman_pro/managing_postman_pro/migrating_to_v7/

That being said, since not all teams have migrated to Postman v7, we have not yet rolled out Postman v7 on the `latest/stable` channel.
We are working on a

[2019-10-04 08:41] vvs11 commented on #6748
Hi @vdespa , This is now fixed in the latest version of Postman app
Free users of Postman can add a version tag only to the latest change in a collection's changelog. Pro and Enterprise users can add version tags to older items in the changelog.

[2019-10-04 08:41] #6748 closed, assigned to ratpik, vvs11

[2019-10-04 09:00] Eomm opened #7432 "feature: encodeUri flag on path param"
**Is your feature request related to a problem? Please describe.**
I'm using a path param with chars that need to be escaped with `encodeURI`.
I read the [docs](https://learning.getpostman.com/docs/postman/sending_api_requests/requests/#url) that say to update the value, but I'm using a test suite that set an environment variable.

**Describe the solution you'd like**

It would be great to have a

[2019-10-04 09:08] Cazaimi commented on #7143
@Raja-Simha , this can be marked as closed, since this was resolved internally.

[2019-10-04 09:27] MarkJeronimus commented on #7055
I'm hit by the same problem. It appeared after I saw an in-app upgrade notification, upgraded, restarting and killed it because the splash screen with the planetary spinner was stuck forever.

[code]

[2019-10-04 09:31] MarkJeronimus commented on #7055
inb4 Please give us the log?

[code]

[2019-10-04 09:44] MarkJeronimus commented on #7055
I'm hit by the same problem. It appeared after I saw an in-app upgrade notification, upgraded, restarting and killed it because the splash screen with the planetary spinner was stuck forever.

[code]
Contents of log file:

[code]

[Edit] Fixed with deleting ~/.config/Postman. This is a **bug** since this should not get corrupt.

[2019-10-04 09:52] xuthus opened #7433 "Python Requests examples contain errors"
**Describe the bug**
Code generated for Python Requests examples contains some errors:
* using `undefined` contant instead of `None`
* duplicate using `allow_redirects=false` in `requests.request()` call (also note, `false` must be `False`)

**To Reproduce**
Steps to reproduce the behavior:
1. Create new simple GET request
2. Select Publish Docs for the collection
3. Open documentation for the col

[2019-10-04 10:36] bsreram85 commented on #3692
Any updates on this ? Its been two years now, and still the issue is open ?

[2019-10-04 10:38] tjblackheart opened #7434 "Monospace editor font not loading in Linux"
**Describe the bug**
Using Postman on Linux, I have found that the font in the requester window is actually set fixed to "Droid Sans" (in `app/resources/app/js/0.js`). I don't have this one installed, so I get the default sans-serif for my system, which looks ... not so nice.

**To Reproduce**
Steps to reproduce the behavior:
1. Remove Droid Sans from your system
2. Do a request
3. Look at the req

[2019-10-04 11:30] SVDL-begame opened #7435 "Fork name in GET collections API call"
**Is your feature request related to a problem? Please describe.**
We are using Postman collections for our functional tests. Using the Postman API together with Newman CLI to run the tests in our Bitbucket pipelines. I've written a script that runs during the BitBucket Pipeline to see if there is a Postman collection specifically for the branch the Pipeline is running for. Right now I'm check the

[2019-10-04 12:38] piero-b commented on #6762
This is still an issue, I rolled back to version 6.7.2 and I am able to import from swagger.json again. The later versions of Postman (inc 7.8) do not work even from apis that I was able to previously import from.
API is developed in .net Core 2.2 / Swashbuckle.

[2019-10-04 12:48] Andrewsuares commented on #6015
Postman needs to do a code-rewite of the desktop client. My computer has 12 GB RAM. The start-up time, UI lag and overall performance is ridiculous.

[2019-10-04 13:58] sadomovalex commented on #6723
Found temporary solution: downloaded postman v.6 from here: https://learning.getpostman.com/docs/postman_pro/managing_postman_pro/migrating_to_v7/#download-latest-postman-v6-app. And it worked.

Hope that issue in the latest version will be fixed soon.

[2019-10-04 14:43] tomershay commented on #4128
@saswatds, thanks for the update.
I upgraded to 7.9.0-canary01 but the issue still occurs, the collection runner still shows a black screen.
I can work around it by quickly running the DevTools, and once the exception occurs, click continue several times until the runner shows up.

Thank you for the efforts. Would love to see this fixed in the future.

[2019-10-04 14:56] raijinsetsu commented on #2819
Our team uses the folder to separate APIs by version and name. Under those folders, we have the actions that we are testing. Most APIs have the same set of actions. Example layout, where (f) indicates a folder,  (r) indicates a request, and the value in quotes is the actual name:

- (f) "v1"
    - (f) "user"
        - (r) "create (loop)"
        - (r) "get"
        - (r) "search by name"
        -

[2019-10-04 15:44] Dangerunicorn commented on #7381
Sorry for the few day hiatus. We've discovered the root of our issue but not the cause. Something has changed with our internal authentication and the domain is no longer required. I'm not sure why the request breaks when domain is provided (it never did before). I still need to contact our cooperate IT department to find out what exactly changed. Nothing else has broken or changed with this "upda

[2019-10-04 15:44] #7381 closed, assigned to codenirvana

[2019-10-04 16:07] ghost commented on #4370
It is very inconvinient behaviour. After selection of many rows are finished no selected rows are appeared, all selection is being cancelled.
How can I turn off this selection behaviour?

[2019-10-04 17:15] deven-s commented on #4449
awaiting for this feature, any updates?

[2019-10-04 17:29] saswatds commented on #4128
Hi @tomershay, Is it possible that the workspace your are opening has a large number of collections? I tried optimising the follows and have updated the runner to load only collection information from the active workspace. If you do have lot of collections, can you split them to multiple workspaces and see if it helps?

[2019-10-04 17:33] tomershay commented on #4128
@sanduhrs, the workspace contains only 2 containers (20 requests + 320 requests).

[2019-10-04 19:13] spdkb commented on #6808
Hi, is there a way to pass certs, key, passphrase from postman pre-request scripts by code ?

[2019-10-04 20:00] ameduza opened #7436 "Setting environment variable from 'Manage Access Token' dialog incorrectly adding newline character"
**Describe the bug**
I'm getting 'There was an error connecting to .' error after setting environment variable from MANAGE ACCESS TOKENS dialog

**To Reproduce**
1. Click on 'Auth' tab at any request in a collection
2. Select Oauth 2.0 TYPE and click Get New Access Token
![Screen01](https://user-images.githubusercontent.com/8321140/66235663-4592bb00-e6f9-11e9-91d8-99cc8e035b38.png)
3. At 'Get New

[2019-10-04 21:45] 255-255-255 commented on #3827
It's not as if finding the header tab is difficult. It's right there - if you don't understand how to set headers, then maybe read the documentation, as was suggested?

[2019-10-04 22:53] caseyprovost commented on #3827
Maintainer, you might want to lock comments here...getting pretty heated. Let’s all be nice to each other here :) Sometimes there are disconnects, it doesn’t mean anyone is being malicious or lazy.

As a contributor to the issue (see comment above), I can tell you I override the value in the Mac app as suggested. However that does not appear to work. I am more than happy to provide shots of my cli

[2019-10-05 01:32] zackfinix opened #7437 "Beautify button is gone in version 7.8.0"
**Describe the bug**
The button for Beautify is no longer available in version 7.8.0

**Screenshots**
<img width="1152" alt="Screen Shot 2019-10-04 at 6 31 28 PM" src="https://user-images.githubusercontent.com/44376351/66247736-339f2100-e6d5-11e9-9ef5-f59783c415fc.png">

**App information (please complete the following information):**
 - App Type [Native App]
 - Postman Version 7.8.0
 - OS: [e.g.

[2019-10-05 01:36] zackfinix commented on #7437
Looks like if I switch to text and then back to json the button will reappear. But it's not showing on any of my saved requests

[2019-10-05 01:38] jpjpjp commented on #553
Old thread.   The pre-request script is OK for a lot of situations but if you are creating Example Responses for a mock server its not an option.   So it still would be great if there was a dynamic variable like $utc_timestamp

[2019-10-05 03:28] saswatds commented on #7437
@zackfinix Just re-clicking on JSON language should get the beautify button back. This is in-fact a bug and we will fixing it ASAP.

Thanks for reporting

[2019-10-05 03:36] saswatds commented on #3827
Hey @caseyprovost
<img width="903" alt="Screenshot 2019-10-05 at 9 02 42 AM" src="https://user-images.githubusercontent.com/8796447/66249323-16a73400-e74f-11e9-892a-f4ed8a947a85.png">
This postman app version `v7.8.0` The user-agent seems to getting modified 😕 just right

[2019-10-05 07:46] nik-lampe commented on #7024
Actually I'm wondering that nobody else is commenting on this...

I love using Postman, I prefer it to all the other API tools that I have tried. And now that it supports GraphQL I'd like to use it for my GraphQL APIs as well.

But in it's current state I can't use it efficiently.
Other Tools like Insomnia, Altair or graphiql all support this without setting anything up. You just enter the endpoin

[2019-10-05 10:10] chrisadipascual opened #7438 "Accidentaly opening the installer automatically downgrades postman without asking"
**Describe the bug**
Accidentaly opening the installer automatically downgrades postman without asking

**To Reproduce**
Steps to reproduce the behavior:
1. Download and run the latest postman installer.
2. Download and run a lower version of postman installer

**Expected behavior**
Installer will unpack and overwrite the current version without asking.

**App information (please complete the foll

[2019-10-05 10:34] caseyprovost commented on #3827
I was on 6 when having the issue.

[2019-10-05 12:14] shamasis commented on #7425
Can you check if your request uses a variable and if the same is missing in team workspace?

[2019-10-05 13:05] makhnanov commented on #7349
Of course.

[2019-10-05 13:43] tonyparkerov opened #7439 "Postman crashes after closing collection runner during the run process"
**Describe the bug**
Postman crashes after closing collection runner during the run process.

**Preconditions**
You have a collection with 1 ore more requests.

**To Reproduce**
Steps to reproduce the behavior:
1. Open collection runner
2. Set delay to 1200 ms for example
3. Click 'RUN TEST'
4. Close 'Collection runner' screen before the end of the run.

**Expected behavior**
Postman doesn't crash

[2019-10-05 14:17] saswatds commented on #7439
Closing this issue as a duplicate of https://github.com/postmanlabs/postman-app-support/issues/5848

[2019-10-05 14:17] #7439 closed, assigned to nobody

[2019-10-05 17:05] Toerktumlare commented on #6682
2 years later, this has still not been implemented
+1

[2019-10-06 02:10] kevcam4891 commented on #4044
Any update on being able to customize the "Bearer" string? AWS Cognito doesn't want Bearer in the Authorization header, just the token. I simply need a way to remove this text, please!

[2019-10-06 04:56] shamasis commented on #7436
This is odd. Can you double check what the values of `ENV` and `PhysicalBaseUrl` variables are? The error indicates that the host name is not being resolved.

[2019-10-06 06:53] KlasikTom commented on #7241
@harry3t I didn't tested it for now, so I can't say now yes or no. I try it with the next update

[2019-10-06 12:21] mstaalesen commented on #6015
Agreed. It can't be unknown for them either, as it is rather easy to reproduce.

Just have > 10 collections and a few hundred requests in the application. Combine that together with relying on environmentvariables it takes 2-5 seconds just to open a new request. +5 seconds to send the request (that the service uses ~20ms to process) and often 2-5 seconds to render/show the response (if it is more

[2019-10-06 12:40] mohit-sentieo commented on #6682
Can anyone from the Postman Team provide some steps on how to implement this ? Maybe somebody can contribute this feature.

[2019-10-06 14:52] vdespa opened #7440 "Console cannot handle large numbers"
**To Reproduce**
Steps to reproduce the behavior:
1. Log the following: `console.log(749617470581443931);`
2. Check the Postman console
3. You will see: `749617470581444000 `
4. Notice that the last 3 digits are now 0.

**Expected behavior**
The Postman console should be able to log this properly.

**App information (please complete the following information):**
 - App Type  Native App
 - Postman

[2019-10-06 15:34] jeffska opened #7441 "Client not showing all synced history"
**Describe the bug**
Only most recent history is syncing to the client. I had to re-install my workstation and only history for the past two weeks is showing.

**Expected behavior**
All synced history should be available.

**Screenshots**
Client view:
![image](https://user-images.githubusercontent.com/1580906/66271486-1b89e780-e824-11e9-8543-4b70d9755670.png)

History available on server:
![image]

[2019-10-06 15:49] preethammavin commented on #6015
Hey, this is something that we are actively tracking and trying to improve over the next few releases as this is a key aspect when it comes to delivering the right experience for our users. @mstaalesen the numbers that you have posted are definitely not what we expect, will keep the thread updated as and when we push improvements on performance updates. We recently pushed a release which optimised

[2019-10-06 17:23] andrewliles opened #7442 "Add support for "window -> zoom" menu item"
**Describe the bug**
If you regularly add/remove a secondary screen, in some conditions, a Postman window can end up out of view and then there is no way to move it into view.

**To Reproduce**
I do not know what I need to do to cause the problem; generally display switching works normally, but sometimes I find the OS itself seems to re-position all app windows (not just Postman) which is what I t

[2019-10-06 17:25] Gicminos opened #7443 "Drag Request to Collection to add them to the Collection"
**Is your feature request related to a problem? Please describe.**
First thing I tried to do to add a request to a Collection was to drag my Request to the Collection and I got very frustrated that I could not do it

**Describe the solution you'd like**
See my request being added to the collection when I drag it!

[2019-10-06 18:42] ameduza commented on #7436
Hi @shamasis , actually this is the first thing I've checked. all is correct. please see third item in my additional notes:
* If I export final request with cUrl and past it into a new request - it runs with no issues!

so this means that issue not with the variables itself.

[2019-10-06 22:46] skcin7 commented on #5465
I agree. There should be a configuration option somewhere to disable this button if desired.

[2019-10-06 22:53] preethammavin commented on #5465
@skcin7 any specific reason why you would want to disable the Run button?

[2019-10-07 00:14] skcin7 commented on #5465
@preethammavin I just want to be able to share my API documentation with third-party developers so they can see the list of endpoints which are fully documented. The people I'm sharing this with do not necessarily have or use Postman, there's about a zillion ways to send HTTP requests that don't require Postman, it's unprofessional and bad if your company's official API documentation shows another

[2019-10-07 00:40] preethammavin commented on #7282
We have fixed the underlying issue and pushed an update, Kindly use the latest version of the Application.