[2018-02-27 11:14] sivcan commented on #4248
@Izidi - A quick fix (might help you) - can you logout and login again to the postman app ?
We're looking into this issue on our end.

[2018-02-27 11:19] Izidi commented on #4248
@sivcan re-logging seems to have fixed the issues and I'm now able to see the Workspace after around 1 min of loading - note that this is occurring everytime I'm accessing the page.. I'm now able to switch back and forward between workspace and build tabs at the base of the page without issues.

[2018-02-27 11:25] sivcan commented on #4248
@Izidi - Good to know that you're able to use the workspaces.
Yes, we are aware of these bugs and will be releasing a fix for it soon.
Will keep you updated.

Thanks for your co-operation and for reporting this issue.

[2018-02-27 11:25] JuergenSimon commented on #3232
Same here. Any news on the fix? Or at least a workaround?

[2018-02-27 11:41] Geolim4 commented on #1947
+1

[2018-02-27 11:44] Geolim4 commented on #1947
@postman-admin Can you please re-consider adding this feature ?

[2018-02-27 12:02] ashleycoker commented on #3846
Postman osx app does not work at all for me for this error.  Chrome app works fine.

[2018-02-27 13:30] darkturo commented on #3390
Hmm this has been labeled as a feature but I see that is not planned for the next 12 months (https://trello.com/c/4WUkp8Ob/18-track-current-issues-and-log-new-ones-on-github-also-submit-new-feature-requests-here). Actually, it seems it has been lost in the backlog :-/ ...

[2018-02-27 14:59] jdinardo30 commented on #4140
Hi @madebysid

The only thing I am seeing is when I click "Use Token" with DevTools open, a warning is displayed stating "You tried to return focus to null but it is not in the DOM anymore".  It's also worth noting that I have to click "Use Token" twice in order for the Manage Access Tokens window to close, which results in a second warning message:
![image](https://user-images.githubusercontent.c

[2018-02-27 15:52] tobiashochguertel commented on #3998
Is there some news about the ESC Button?

[2018-02-27 16:19] manuelottlik commented on #1947
+1

[2018-02-27 17:08] mashariqk commented on #329
Not sure if this will help but I had a similar requirement to get the complete request in the Pre-request Script. I have created a gist for the same https://gist.github.com/mashariqk/62fdf2a0d6497b88ab62428021196aec

[2018-02-27 17:26] pookdeveloper commented on #882
See that, you can add pre-request scripts to a collection, a folder, or a single request within a collection

https://www.getpostman.com/docs/postman/scripts/pre_request_scripts

[2018-02-27 17:45] armpogart commented on #3778
Any progress on this one?

[2018-02-27 18:08] tredmon opened #4250 "Unable to Join a Team Workspace"
## App Details:
[code]

## Issue Report:
 1. Did you encounter this recently, or has this bug always been there:
Updated to v6 of Postman today, and haven't been able to join a Team Workspace.
 2. Expected behaviour:
Clicking "Join" on a Team Workspace should resolve with either a successful join or give an indication about why joining is not available.
 3. Console logs (http://blog.getpostman.com

[2018-02-27 19:04] anodynos commented on #2799
In v5.5.3 the `automatic updates` option is missing :-(

[2018-02-27 21:05] govindrai commented on #1947
@a85 since collection level auth is already out, is this a feature still in the works? I only ask because this ticket is closed and the feature was slated to be released as per your response in Aug 2017. Cheers.

[2018-02-27 21:15] Gosherm commented on #4044
+1

[2018-02-27 21:38] antonioribeiro commented on #3846
@mattbrasieratos it was indeed a proxy issue, thanks and sorry for not closing this before.

[2018-02-27 21:38] #3846 closed, assigned to nobody

[2018-02-27 22:18] grantyb commented on #2082
I'd like to make the same offer as @kyleobrien91 . I'd love to see this fixed, and would be proud to contribute a fix if you could provide the starting guidance?

[2018-02-27 22:29] cool-george opened #4251 "Monitor Request Skipping"
## App Details:

[code]

## Issue Report:
Just monitor a collection every 15 minutes for about 8 hours. Skim through some of the Monitor Performance Chart and you should see about one out of every 8 scheduled requests have been skipped. I'm not sure if this is just a reporting issue or just a glitch on my part (shouldn't be since I barely have any code in the requests). I was also wondering if I w

[2018-02-27 22:42] DannyFeliz commented on #1947
I really need this feature, I use Postman a lot daily

[2018-02-27 23:25] jgstephe commented on #2819
+1

[2018-02-28 00:21] jimji1005 commented on #4247
problem doesn't exist in canary build

[2018-02-28 00:47] littlefisher666 commented on #882
perfect!

[2018-02-28 01:18] MatrixManAtYrService commented on #824
If it were up to me, I'd add variable hooks that prompt for a password when that variable is referenced.

For example, I imagine the body of my login request looking like this:

    { "username" : "{{(prompt)}}", "password" : "{{(secretprompt)}}" }

[2018-02-28 02:57] ztrange commented on #4247
That's right. Problem doesn't exist in canary

[2018-02-28 07:18] ravimisra commented on #2427
A similar issue is with "/" char.
If the URL is of the format:
https://:api_host/admin/product.json
converted to:
https:/example.com/admin/product.json
instead of:
https://example.com/admin/product.json
though can be easily resolved by prefixing a "/" in the parameter value, but as @curtisgibby mentioned, if you could get it working "right", that would be much appreciated!

[2018-02-28 07:52] sdnts commented on #2799
We've received feature requests for a PPA distribution of the app on Ubuntu (#2931). You can follow that for updates.

@anodynos, I think you might be on the Chrome app. Chrome handles updates there. I'd recommend shifting to the native apps since Chrome apps are deprecated.

[2018-02-28 08:43] eloyucu opened #4252 "Requests lost on a collection"
Hi everyone.

I am the owner of a collection shared with my team, yesterday I could see all the folders and request. Today, alll the folders have disappeared, I only can see the only one request that wasn`t inside any folder.
I was talking with a member of the team and he can see everything in the collection.

What should I do to recover my request??

[2018-02-28 08:49] sdnts commented on #4252
Hi @eloyucu, if it is the same collection your colleague sees the requests in, can you head over to your [web dashboard](https://app.getpostman.com), find the collection and check if the collection is intact there? If it is, a sign out + sign in from the app should fix your issue.

If it isn't, can you drop an email to help@getpostman.com?

[2018-02-28 08:49] #4252 closed, assigned to nobody

[2018-02-28 09:06] harryi3t commented on #4246
@ngrigoriev I tried the same flow in the browser and it is redirecting back to the login windows again and again.
![ezgif com-optimize](https://user-images.githubusercontent.com/5207331/36778928-3b5cc83c-1c94-11e8-9d77-9d625d48c185.gif)

[2018-02-28 09:23] connorsadlervelo commented on #2450
Is there any way to change this in a .css file or similar, please?
My eyes hurt ;]

[2018-02-28 09:28] connorsadlervelo commented on #3843
https://github.com/postmanlabs/postman-app-support/issues/2450

[2018-02-28 09:37] eloyucu commented on #4252
Hi @madebysid

Yes, the collection is intact. And thanks it has worked.

Thank you very much.

[2018-02-28 09:42] rolfmadsen commented on #1535
+1

[2018-02-28 09:45] sivcan commented on #2450
@connorsadlervelo - Have you tried using the dark theme ?
Does that help for now ?

If you haven't then:
Go to Settings and change it
![image](https://user-images.githubusercontent.com/12631777/36780823-181d26a4-1c9a-11e8-8ebe-90b0fe40f6f8.png)

[2018-02-28 09:47] connorsadlervelo commented on #2450
Thanks for that - I stumbled on it myself and it's much better on the eyes
Thanks again!

[2018-02-28 09:49] elliotblackburn commented on #824
@MatrixManAtYrService that sounds good, though I'd worry it would make the bulk test runner clunky to use this way.

I feel like there should just be an additional switch which says "value is secret", at that point it won't display it in the quick view window unless you specifically click another button to see it (or it only displays the last character or something).

That feels like a fairly simp

[2018-02-28 09:59] connorsadlervelo commented on #285
+1 please implement this

[2018-02-28 10:15] alan-givati opened #4253 "Feature request - Sort collection requests"
## App Details:
[code]

## Issue Report:
 1. I lost the order of my collection requests after an update.
 2.  Ordering requests manually is time-consuming.  Please add a feature to sort a collection; by title would certainly cover my use case.  Maybe custom sorting (by any request item property) could also be useful to some.

[2018-02-28 10:20] tengl commented on #2801
I would like a more general solution, where we can write plugins to serialize, deserialize and format the data. But if we at least can get protobuf I would love it.

[2018-02-28 10:21] SamvelRaja commented on #4253
@alan-givati  Update should not change the order of request inside the collection.
Is that the order of collection? or the order of requests inside the collection changed after the update.

[2018-02-28 10:24] SamvelRaja commented on #4247
@ztrange  @jimji1005  Thanks for confirming the fix. We will be rolling out the fix in our stable version soon.
Also, I would recommend staying in the canary channel to get immediate updates on upcoming features 😄

[2018-02-28 10:24] #4247 closed, assigned to SamvelRaja

[2018-02-28 10:25] sanvipy opened #4254 "Handling/Catching a socket hang up error"
## App Details:

[code]

## Issue Report:
 1. Did you encounter this recently, or has this bug always been there: Been there always
 2. Expected behaviour: Test shouldnt end, or atleast an error should be logged on failure
 3. Console logs Error: socket hang up
 4. Screenshots (if applicable)
![image](https://user-images.githubusercontent.com/18203625/36782433-ef693fc6-1cb3-11e8-93b8-e9dad65a0c70.

[2018-02-28 10:52] binarymist commented on #824
Always easier said than done, how much so will depend on your level of technical debt in the code base though eh?

[2018-02-28 11:19] alan-givati commented on #4253
@SamvelRaja The order of the requests inside each collection was lost, with new seemingly random positions for each request item.

[2018-02-28 11:19] connorsadlervelo commented on #285
PS You can hack this together using Postman to request into a small http server running on localhost. Will share the code if anyone is interested.

[2018-02-28 11:38] SamvelRaja commented on #4253
@alan-givati  Thanks for the info.
We had an issue in our initial canary versions from 6.0.1-canary01 to 6.0.4-canary01 which lost the order of the request while migrating data from 5.x version to 6.x version.

Can you check the order of the collection in the server, click -> arrow icon in the collection -> in details view ->  click the **view docs** button.

If the order is proper, then logout an

[2018-02-28 12:04] andersonkxiass commented on #1104
+1

[2018-02-28 12:06] godfrzero commented on #4251
You'll be charged based on the number of requests actually sent. What exactly do you mean when you say the request is skipping? If possible, please include screenshots of the performance graph and relevant logs. If these are things which you can't post publicly, send an email to help@getpostman.com and we can help you out there.

[2018-02-28 12:11] prashantagarwal commented on #4250
@tredmon Did it got stuck in joining ?

[2018-02-28 12:14] Clicketyclick commented on #1535
+1

[2018-02-28 12:14] prashantagarwal commented on #4254
@sanvipy Thanks for reporting this. We will look into this issue.

[2018-02-28 12:15] DDBdrift commented on #1535
+1

[2018-02-28 12:25] sivcan commented on #2450
@connorsadlervelo - Awesome! :D

[2018-02-28 12:47] alan-givati commented on #4253
@SamvelRaja Understood.
I could not find a "view docs" button.  Do you mean "View in web" ?  It does not work; I get sent to a URL https://documenter.getpostman.com/collections/{some ID} that displays an error: "404
The resource you're looking for can't be found. Please check the URL before trying again."

Yes, something went wrong here; I see old collections in https://app.getpostman.com/dashboar

[2018-02-28 13:03] SamvelRaja commented on #4253
@alan-givati  This need some more information to debug. Can you send a mail to help[at]getpostman[dot]com with your collection name from your registered email address.

[2018-02-28 13:11] nordvall commented on #4003
I also got this problem with a saved GET request that I've using for about a month. When I later implemented HEAD on the server side and flipped the request metod to HEAD in Postman, the request just hang forever.
Issuing HEAD requests from other clients to the same URL worked fine.

My simple workaround was to start a new request tab in Postman. Then it worked immediately.
Sounds like some local

[2018-02-28 13:16] freeranger commented on #4003
I did the uninstall/delete folders/reinstall thing and it has worked fine ever since.

[2018-02-28 13:40] jigarvyas commented on #285
@connorsadlervelo yes interested, pls share how

[2018-02-28 13:54] cool-george commented on #4251
![monitor skipping proof - copy](https://user-images.githubusercontent.com/35109255/36791010-a980a584-1c64-11e8-85b2-05e26b3dd8f7.PNG)

I hope this is what you mean. Also, no request, no logging of request stuffs. I know its hard to see but, there are a few places that should have had a request in between them.

[2018-02-28 14:14] ngrigoriev commented on #4246
@harryi3t This is NOT work/school account for sure. Hotmail.com would be a personal account. Plus, I am not sure what parameters are you using for oauth2 endpoint.

[2018-02-28 14:21] RSM-DRO commented on #4199
Hi,

I've had exactly the same issue and I found out that it had to do with variables in Headers.

I have this as a header variable in lets say request°2:
`[{"key":"X-SessionId","value":"{{sessionId}}","description":"","enabled":true}]`

In request°1 I was doing this:
`postman.setEnvironmentVariable("sessionId", null);`
which led instantly to  **_Errors were encountered running your collection_**

[2018-02-28 14:40] ngrigoriev commented on #4246
This is with Postman

![giphy](https://user-images.githubusercontent.com/2364632/36793223-d86209e6-1c6a-11e8-9844-9b34329358fb.gif)

This is what is logged on the console (client ID and username masked):

``Opening auth login window https://login.windows.net/common/oauth2/authorize?response_type=code&state=state0334345341115433540928&client_id=xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx&scope=https%3A%2F

[2018-02-28 14:46] ngrigoriev commented on #4246
And this is the test with the browser using copy-pasted URL from Postman console output (https://login.windows.net/common/oauth2/authorize?response_type=code&state=state0334345341115433540928&client_id=xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx&scope=https%3A%2F%2Fgraph.microsoft.com%20openid&redirect_uri=http%3A%2F%2Flocalhost%2Fepoxy%2Fcallback.html)

![ezgif com-video-to-gif](https://user-images.gith

[2018-02-28 14:54] ngrigoriev commented on #4246
I believe the problem is related to the authentication pop-up, which is quite typical for AD FS.

[2018-02-28 15:13] harryi3t commented on #4246
@ngrigoriev Sorry, I did not see the last part which says

Also, in the second gif, I don't see the pop-up. Is it because you were already logged-in?

I will check if I can create a work account to test this flow.

[2018-02-28 15:28] ngrigoriev commented on #4246
@harryi3t

There is pop-up there displayed after ~30s. This is Firefox private window, not cookies etc, like Chrome's Incognito mode. Probably you saw my comment with the previous GIF. I posted it and then realized that the GIF tool I used limited the duration of the GIF to 15s, so I had to convert again and update the comment.

[2018-02-28 15:55] harryi3t commented on #4246
@ngrigoriev Yeah the GIF was cached.

Now that I have seen the complete gif, the root cause is the presence of another auth (Basic/Digest/NTLM) in the Oauth2 flow.

The popup that you see is actually a prompt rendered by browser when it sees a particular header in the response header (`www-authenticate →xxxx xxxxx`)

Since there was no HTML and just a response header, you see a blank screen.

This

[2018-02-28 16:45] martypitt commented on #3819
+1 I've had this issue several times when travelling on trains that don't have wifi.

[2018-02-28 16:46] aaronadamsCA opened #4255 "Code snippet generator doesn't substitute local variables"
## App Details:
Postman for Windows
Version 6.0.7
win32 10.0.16299 / x64

## Issue Report:
Similar to #4176, the code snippet generator does not perform variable substitution on local variables -
 specifically, variables set in pre-request scripts using `pm.variables.set()`.

If my request body looks like this:

[code]

And my pre-request script (mine is on the collection folder) looks like this:

[2018-02-28 17:50] dmscheck opened #4256 "Feature Request - Bulk Request Creation"
## App Details:
[code]

## Issue Report:
 1. Did you encounter this recently, or has this bug always been there:
Always been there
 2. Expected behaviour:
In the use case where you're starting a collection from scratch, it would be really useful to have a way to add many requests at the same time.  At the minimum, I want to be able to provide a list of request names and have the generic blank requ

[2018-02-28 17:52] dmscheck opened #4257 "Feature Request - Edit Name When Duplicating"
## App Details:
[code]

## Issue Report:
 1. Did you encounter this recently, or has this bug always been there:
Always been there
 2. Expected behaviour:
When you duplicate a request, it currently just appends "COPY" to the existing request name.  It would save a step if the user could edit the name at the time of duplication to save the steps of selecting the request and editing there.

 3. Cons

[2018-02-28 18:36] drice commented on #1647
Code seemed to work for me. If I run

[code]

in the App, I  see the files from the Web App, but I don't see it being populated in the History section. Any ideas?

[2018-02-28 19:06] bmoyer240 commented on #4230
+1 - I just started a new project which has an api call that returns a large dataset and the window goes black within a second or two after the response is received.

Windows
the response is 17mb

[2018-02-28 19:42] jerrfi commented on #4128
+1

This is happening for me as well. Postman 5.5.3 on Windows 10. I do have an Nvidia GPU but the Electron thread indicates it is not limited to that GPU / maker.

This is significantly hampering development & testing of our APIs.

[2018-02-28 19:46] brgrz commented on #2195
This is so annoying. We're developers, we know when to explicitly save when we actually want to.

![image](https://user-images.githubusercontent.com/193816/36809532-78ccec22-1cc8-11e8-9c06-9ec3ab4d87fd.png)

[2018-02-28 19:51] a85 commented on #2273
Environments are now available in Workspaces. Complete roll-out next week. More info in our docs: https://www.getpostman.com/docs/postman/workspaces/intro_to_workspaces

[2018-02-28 19:51] #2273 closed, assigned to nobody

[2018-02-28 19:51] a85 commented on #3205
Workspaces are available now. More info on our docs: https://www.getpostman.com/docs/postman/workspaces/intro_to_workspaces

[2018-02-28 19:51] #3205 closed, assigned to a85

[2018-02-28 19:52] a85 commented on #4231
Workspaces are out now! https://www.getpostman.com/docs/postman/workspaces/intro_to_workspaces

[2018-02-28 19:52] #4231 closed, assigned to nobody

[2018-02-28 19:52] a85 commented on #1319
Environment templates are now transitioned off to environments through our new feature called Workspaces. More info here: https://www.getpostman.com/docs/postman/workspaces/intro_to_workspaces

[2018-02-28 19:52] #1319 closed, assigned to nobody

[2018-02-28 19:53] a85 commented on #3058
Environment templates are now transitioned off to environments through our new feature called Workspaces. More info here: https://www.getpostman.com/docs/postman/workspaces/intro_to_workspaces

[2018-02-28 19:53] #3058 closed, assigned to a85

[2018-02-28 19:53] a85 commented on #3147
Environment templates are now transitioned off to environments through our new feature called Workspaces. More info here: https://www.getpostman.com/docs/postman/workspaces/intro_to_workspaces

[2018-02-28 19:53] #3147 closed, assigned to a85

[2018-02-28 19:53] a85 commented on #3479
Environment templates are now transitioned off to environments through our new feature called Workspaces. More info here: https://www.getpostman.com/docs/postman/workspaces/intro_to_workspaces

[2018-02-28 19:53] #3479 closed, assigned to nobody

[2018-02-28 19:54] a85 commented on #3370
Environment templates are now transitioned off to environments through our new feature called Workspaces. More info here: https://www.getpostman.com/docs/postman/workspaces/intro_to_workspaces

[2018-02-28 19:54] #3370 closed, assigned to nobody

[2018-02-28 19:58] a85 commented on #1419
You can now do this using Workspaces: https://www.getpostman.com/docs/postman/workspaces/intro_to_workspaces

[2018-02-28 19:58] #1419 closed, assigned to vkaegis

[2018-02-28 20:04] a85 commented on #3907
Workspaces might help a bit here: https://www.getpostman.com/docs/postman/workspaces/intro_to_workspaces

[2018-02-28 20:15] shetaksroc commented on #4223
Latest 6.x mac version some issue. Not able to open it post installation.

On Feb 26, 2018 16:48, "Harendra Singh" <notifications@github.com> wrote:

@shetaksroc <https://github.com/shetaksroc> after upgrading to latest
version (link posted in the comment above this), can you confirm if this
issue is fixed?

—
You are receiving this because you were mentioned.
Reply to this email directly, view it

[2018-02-28 23:14] patrickgardella opened #4258 "Unable to export Globals"
## App Details:

[code]

I updated to Postman v6.0.7 today, and I am now unable to export Globals as JSON. The "Download as JSON" button doesn't do anything.

I've saved them previously, so I'm not sure if I'm doing something wrong (it's clicking a button right?), or if the app has problems.

I've opened an internal ticket with Postman, but am posting it here as well to document the issue publicly

[2018-03-01 03:58] joseph4tw commented on #4131
@tarunlalwani thanks for sharing that. I agree it's a bit of a hack, but at the same time if it works, it works :)

I just have to make sure I place all the proper try/catch blocks to avoid an infinite timeout.

I really hope we can get support for Promises / async functions soon.

[2018-03-01 05:15] SamvelRaja commented on #4223
@shetaksroc  can you send us mail to help[at]getpostman[dot]com from your registered email id with a screenshot and log from View -> Developer -> Show DevTools(shared)

[2018-03-01 05:38] kamalaknn commented on #4258
Hi @patrickgardella

Thanks for reporting the issue. We'll roll out a fix for this soon.

We will also push the fix to the canary channel before it is rolled out to the stable channel. We'll keep this thread updated.

Thanks.

[2018-03-01 06:18] shetaksroc commented on #4223
Sent it .

<https://mailtrack.io/> Sent with Mailtrack
<https://mailtrack.io?utm_source=gmail&utm_medium=signature&utm_campaign=signaturevirality&>

On Thu, Mar 1, 2018 at 10:45 AM, SamvelRaja <notifications@github.com>
wrote:

--
Regards,
Akshay Manjunath Shet
Bangalore

[2018-03-01 06:19] shetaksroc commented on #4223
Here is the stack trace. Just FYR,

Uncaught (in promise) DOMException: Failed to execute 'transaction' on
'IDBDatabase': One of the specified object stores was not found.
    at Object.getBuilderState
(file:///Applications/Postman.app/Contents/Resources/app/js/shared.js:163665:20)
    at WorkspaceSession
(file:///Applications/Postman.app/Contents/Resources/app/js/shared.js:341772:19)
    at nextT

[2018-03-01 06:19] harryi3t commented on #4255
@aaronadamsTO pre-request script (and test script) only runs when a request is actually sent.
Code snippet generator is just converting the current request to a language-specific snippet. It does not run the scripts before the conversion process.

Even if we do run the script behind the scene, update any variables and then generate the snippet, it will be not same as running that script before sen

[2018-03-01 06:19] #4255 closed, assigned to nobody

[2018-03-01 07:28] cbarrerah-sogeti commented on #4071
It's also happening with collections not shared:
![image](https://user-images.githubusercontent.com/24520879/36832104-7daa0d76-1d2a-11e8-9789-a1f7a792fb08.png)

![image](https://user-images.githubusercontent.com/24520879/36832113-88fdf46c-1d2a-11e8-9122-4dbeeba60693.png)
Adding small Gif for better example, first duplicating a collection -> Works as expected. Second duplicate the folder inside the

[2018-03-01 07:45] Rodske opened #4259 "Operational when joining "Team Workspace": Would violate uniqueness constraint"
## App Details:
[code]

## Issue Report:
 1. Did you encounter this recently, or has this bug always been there:
New, as I've only just joined a Team and could relate to the Transfer of a team Collection

 2. Expected behaviour:
I'm able to [Join] "Team Workspace"

 3. Console logs (http://blog.getpostman.com/2014/01/27/enabling-chrome-developer-tools-inside-postman/ for the Chrome App, View->Togg

[2018-03-01 09:02] tmbdrogba commented on #1947
+1

[2018-03-01 10:22] Ciki commented on #3205
link is broken, this one works https://www.getpostman.com/docs/v6/postman/workspaces/intro_to_workspaces

[2018-03-01 10:28] kamalaknn commented on #4259
Hi @Rodske

We are investigating this. Could you give use more info on how you got into this state?

1. Did you join the Team Workspace now?
2. Were you added to this workspace by another member?
3. Were you added to the workspace even before you opened/updated the app?

Also, can you try closing and opening the app and see if it still exists?

[2018-03-01 10:29] Ciki commented on #3205
note that there are also broken links within the post (without the `v6` part)

[2018-03-01 10:50] Rodske commented on #4259
I’ve tried restarting my machine, different versions (older, reinstalling stable and then trying Canary beta release). All fail to “Join” the “Team Workplace”. The button is active after switching to the Workplace, then to do any action I’m asked to “Join” to continue, but nothing happens. I cannot proceed with the Workspace, however for other Workspaces, everything is fine.
I subscribed to Collec

[2018-03-01 11:03] Rodske commented on #4259
Further info; I created a Pro Trial with the name “chiefapp” , then I was added as an admin / billing person to a different full Pro account “mylocalbroker” and that was then subsequently named “chiefapp” without issue. Related?

[2018-03-01 11:14] kamalaknn commented on #4259
@Rodske Could you drop an email to `help[at]getpostman.com` from your registered email address?

This will allow us to verify the data on this account on our servers.

[2018-03-01 11:22] Rodske commented on #4259
I’ve done that already. You didn’t receive it?
On Thu, 1 Mar 2018 at 10:14 pm, Kamalakannan <notifications@github.com>
wrote:

[2018-03-01 11:27] ebonnot opened #4260 "Importing multiple environments does not import all selected files"
## App Details:
[code]

## Issue Report:
Since version 6, I am unable to import 4 environment files (only 2 are imported).
Works fine on version 5.5.2

1. go to "Manage environments"
2. click on "Import" button
3. select 4 files,
4. validate

Only 2 files are imported even though messages for 4 files successfully imported appear.

![screenshot at 2018-03-01 12 19 54](https://user-images.githubuser

[2018-03-01 11:34] thecuriousdev commented on #4260
Hey, @ebonnot thanks for reporting this issue. I'm investigating this issue, will keep you posted here.

[2018-03-01 11:37] thecuriousdev commented on #4257
@dmscheck thanks for suggesting this, I'm marking this as an enhancement, We'll look into this in the future.

[2018-03-01 11:43] thecuriousdev commented on #4256
@dmscheck thanks for suggesting this. I'll mark this as a feature request.

[2018-03-01 12:00] kamalaknn commented on #4259
@Rodske We can confirm the issue. We are working on this.

We'll get back to you with updates.

[2018-03-01 15:29] neverendingqs opened #4261 "Feature request: bulk edit of "x-www-form-urlencoded" body conforms to spec"
## App Details:
[code]

When using `Bulk Edit`, there is an option to paste multiple key/values via new-line separated pairs, where the key and value is separate by `:`. Could we instead separate pairs by `&` and separate key / value by `=`? This conforms to the [`x-www-form-urlencoded` spec](https://www.w3.org/TR/html401/interact/forms.html#h-17.13.4.1)

Screenshot:
![image](https://user-images.g

[2018-03-01 16:07] ghost commented on #1744
👍

[2018-03-01 16:12] aaronadamsCA commented on #4255
I figured you'd say this, and I do understand it's probably working as intended so far. I just think you'll want to think harder about intent, specifically about how local variables impact common workflows. If using local variables means you can't quickly copy a working cURL request, then they might not be a well-conceived feature.

For now I'll just stop using local variables and revert to using

[2018-03-01 16:51] bart-blommaerts commented on #1850
Still buggy on 5.3.2 on OS X (Sierra). Bulk edit, adding a space, sending the POST and clicking code afterwards is a functional workaround.

[2018-03-01 17:11] tredmon commented on #4250
Correct. Sometimes after switching workspaces and trying again it says `Joining` for a short time before reverting back to `Join`, and a subsequent attempt will hang on `Joining`.

[2018-03-01 17:54] M00nk1d commented on #3358
@abhijitkane I completely agree with @Bl4ckf4ll It would be a greate feature to allow comments in JSON editor.

[2018-03-01 18:42] davidschwab commented on #3646
@harryi3t @kamalaknn Postman/Newman is an awesome platform, but this too is a blocker for RSA support. Exposing the native node.js crypto module would solve, any ETA?

FYI - [this issue looks similar](https://github.com/postmanlabs/postman-app-support/issues/2678).

Update: In case anyone else can do the same, I worked around this by creating an external microservice to create the needed signed JW

[2018-03-01 19:33] 6Hat commented on #2671
Good question... was amazed at the Postman UI myself and looked it up. I am an ASP.Net MVC developer (along with a few other technologies) and had somehow never heard of Electron until this post. I was absolutely amazed at what I had discovered: [Electron](https://www.youtube.com/watch?v=8YP_nOCO-4Q)
This is everything I have been looking for as I have been researching Self Hosting ASP.Net MVC app

[2018-03-01 19:46] mcordeiro73 commented on #1104
+1

[2018-03-01 19:51] curtisgibby commented on #3907
Yes, Workspaces is exactly how I expected something like this to be implemented. Thanks for pointing out that it has now been released!

[2018-03-01 19:54] cool-george commented on #4251
![monitor skipping proof2](https://user-images.githubusercontent.com/35109255/36865329-371c701e-1d5d-11e8-8433-d52d499f2801.PNG)

Here is another screenshot taken a few minutes ago. As you might have noticed, I've set the interval to 10 minutes and still there are some requests being skipped.

[2018-03-01 20:03] aaneez commented on #1321
This is still open..Any plans to fix this?

[2018-03-01 20:52] DanielRamosAcosta commented on #2616
Duplicate of #2931

[2018-03-01 22:31] satuday commented on #697
+1 chain request.
how is this still not a thing? it would make some many test some much more efficient.

[2018-03-02 01:17] soberteq commented on #758
+1

testing 3 API routes  50 times, would be awesome to have the average, lowest and highest for each routes

[2018-03-02 02:13] cr2121 opened #4262 "Postman starts very slow in Windows"
## App Details:

[code]

[2018-03-02 05:45] bluet commented on #2931
Expecting.
Gotta use Insomnia temporarily before Postman snap package got released.

[2018-03-02 05:49] kamalaknn commented on #4262
Hi @cr2121

Can you give us more details for us to investigate this better? Please drop us a mail with the following info to `help[at]getpostman.com` from your registered email address.

1. A screencast of your startup experience.
2. Logs for the common process,  `View -> Developer -> Show DevTools(Shared)` and `Right Click -> Save As`. Please forward the logs through email as this might contain s

[2018-03-02 06:01] kamalaknn commented on #4259
Hi @Rodske

We've identified and fixed this issue on our side. Please restart the app and try joining again.

I'm closing this ticket. Reopen if the issue still exists.

[2018-03-02 06:01] #4259 closed, assigned to kamalaknn

[2018-03-02 06:28] godfrzero commented on #4251
Looks like this has to do with higher than normal load on our systems. We're rolling out an improved scheduling algorithm over the next week, so these delays should be reduced by then. I'll post here once the updates are out.

[2018-03-02 06:51] mattboothman commented on #166
I could really do with custom methods at the moment.

Here's BNF describing the request method from the [HTTP 1.1 RFC2616 (5.1.1)](https://www.ietf.org/rfc/rfc2616.txt):
[code]
The key part being the `extension-method` which is defined as a `token`, `token` being defined in section 2.2 Basic Riles as:

[code]
So can pretty much be anything, there is no constraint on the combination of characters t

[2018-03-02 08:12] XavierTolza commented on #2030
+1

[2018-03-02 08:38] WORMSS commented on #2336
I can confirm that postman v6.0.8 has this fixed on stable

[2018-03-02 08:42] jimmijohansson1 commented on #3506
Can confirm this happens on windows 10 on the desktop application. Very annoying bug, would love to see it fixed.

[2018-03-02 09:09] raducostea commented on #2559
For some reason Interceptor crashed. Opened chrome://extensions/ and reloaded the extension and everything was fine again.

[2018-03-02 09:31] intonarumori commented on #724
I'm looking for the exact same thing (it's a very common scenario).
Has this been solved? For such a basic feature I cannot find clear instructions using Google.

[2018-03-02 09:54] #2336 closed, assigned to nobody

[2018-03-02 10:34] eloyucu opened #4263 "Testing improvements: External files, Console errors, Testing from response"
There are three things that I think that postman´s users would appreciate it:

1) Can add different test external files, instead have 4000 lines of test in the `Tests` collection. Something like

[code]
and call to functions with:  resquest_1.test(); resquest_1.functionX(); (or something similar)

2) Have a more detailed info on the console when a error occurs. `X is not defined` but... where?? wh

[2018-03-02 11:11] VMarisevs commented on #697
+1

[2018-03-02 11:35] kamalaknn commented on #4263
@eloyucu Thanks for reporting the issue.

I'm marking this as a feature request. @a85 and @shamasis can clarify on the roadmap for this.

[2018-03-02 11:38] kamalaknn commented on #4261
@neverendingqs Thanks for reporting this issue.

We'll take a look at the feasibility for this.

[2018-03-02 12:02] Izidi commented on #4248
@sivcan Issues all seem to be sorted now with the new version 6.0.8

[2018-03-02 12:25] bkorel opened #4264 "create a signing token usen PEM certificate"
Hellom dear colleagues. First of all i want to say thank you for the wonderfull app!
I use it almost everywhere i need.
Several days ago i faced a problem, that it is impossible to calculate a signed token using postman.

What did i have:

-Postman app for windows
-private PEM certificate, with RSA key inside.
-the description on how to get  the sign using OpenSSL:

[code]

I didn't find the way h

[2018-03-02 14:27] kamalakannanr opened #4265 "Server multi-part response with zip file has issue"
## App Details:

[code]

## Issue Report:
I am posting REST request, and expect a multipart response from the server. One part is the json body and the other a zipfile. I expect to download this zip file. So I used "Send and Download" option and I get the save dialog and able to save the file. I have the following headers in response
_content-disposition →attachment; filename="Config.zip"
content-

[2018-03-02 14:51] cool-george commented on #4251
Great! Postman is a really great app, so I'd hate to move to something else. I actually stumbled across an old post in stackoverflow where the creator of the app asked some questions that I was asking. Some of the comments were newer and sounded like nostalgia. It piqued my interest so I clicked the Postman link and was surprised when I found Postman was EXACTLY what I was searching for, and it wa

[2018-03-02 15:23] chandanacheerla opened #4266 "Postman runner issue"
postman for windows
Version 6.0.8
OS x64
[code]

[2018-03-02 16:15] psylence303 opened #4267 "Line break in request URL causing request without params instead of throwing an error"
## App Details:

[code]

## Issue Report:
 1. Did you encounter this recently, or has this bug always been there:

Recently.

 2. Steps to reproduce/expected behavior:

I will use https://jsonplaceholder.typicode.com/ to illustrate the behavior. The request URL is `https://jsonplaceholder.typicode.com/comments?postId=2`.

If we will add a line break so the URL will look like:

`https://jsonplaceho

[2018-03-02 16:51] vaishrachan commented on #843
Is there a way to reference swagger in postman? If we could do that, a change in the source code would reflect in swagger docs that in turn will reflect in postman. This way, there would be less maintenance on the tests created in postman.

[2018-03-02 16:53] a85 commented on #843
Postman does not maintain Swagger's internal data model. We have been working on a new converter though. Check out the blog post here: http://blog.getpostman.com/2018/03/02/sync-your-specs-😎/

[2018-03-02 16:54] vaishrachan commented on #2617
+1 Vote for this issue

[2018-03-02 16:55] a85 commented on #2617
We have been working on a new converter. Check out the blog post here: http://blog.getpostman.com/2018/03/02/sync-your-specs-😎/

[2018-03-02 16:58] afeblot commented on #1947
+1

[2018-03-02 18:10] patricktaylorstarbucks commented on #2336
Thank you, I have confirmed that both Global and Environment variables set in a collection’s pre request script now highlight and autocomplete as I expect.

From: WORMSS <notifications@github.com>
Reply-To: postmanlabs/postman-app-support <reply@reply.github.com>
Date: Friday, March 2, 2018 at 12:38 AM
To: postmanlabs/postman-app-support <postman-app-support@noreply.github.com>
Cc: "Patrick Taylor

[2018-03-02 18:35] bchecketts commented on #724
Same. I can't include parameters in the URL. It always want to add them as query string arguments.  Requiring a pre-request script for a simple variable substitution that I want to vary often seems like a pretty poor way to do it.

[2018-03-02 18:58] sivcan commented on #4248
@Izidi - Thank you for letting us know and I hope you liked the all new Postman 6.0!
 Closing this issue as it's resolved.

[2018-03-02 18:58] #4248 closed, assigned to sivcan

[2018-03-02 21:20] mtatrung opened #4268 "Feature Request: Filter Collection Changelog by Folder or Request UID"
## App Details:
[code]

## Issue Report:
 1. new feature, when working in collaboration, many people can make changes to collections, making it difficult to track who did what
 2. being able to use a filter on the activity feed to only get the feed per request or per folder would help collaboration and communication between team members

[2018-03-02 23:42] allyn-psyonix commented on #4120
I just tried 6.0.8 and the postman tests that were not syncing to 5.x properly are still not syncing to 6.0.8 properly. Tests appear out of order and some are missing, but they all run in the correct order when run through Newman. You can also see the missing tests in the chrome plugin.

[2018-03-02 23:59] allyn-psyonix commented on #4120
Update: Things seem to have gotten worse with 6.0.8. Previously, moving tests around would cause them to disappear permanently from the standalone app about 85% of the time, but I never had an issue with "save as" working properly. Now, I just tried "save as" and the new copy does not appear in my standalone client. It does appear in the chrome plugin though. I never experienced this issue with 5.

[2018-03-03 03:12] zhanpengli opened #4269 "postman-could not get any response"
when i post data to my server but doesn't work, can u help me,thanks
![image](https://user-images.githubusercontent.com/32571006/36929989-a35e548c-1ed3-11e8-925e-dc7564c47d5c.png)

[2018-03-03 03:14] zhanpengli commented on #4269
But another server's program can send a request.

[2018-03-03 05:23] ThiagoDaher opened #4270 "Alt+W shortcut closes the active tab"
My keyboard is a "Compact" Brazilian Portuguese. This keyboard must combines the keys "Alt Gr + W" (this is the right Alt) to produces the question character (?).

However, when this combination is hit and the url control is focused, the active tab is closed.

Postman for Windows
Version 6.0.8
win32 10.0.16299 / x64
Windows 10

This keyboard uses the third function to some keys, as Q, W, ] and [.

[2018-03-03 08:55] YuJinLei opened #4271 "Respond to a bug. Version number: 6.0.8 Platform: Win 64"
When creating a request, the body-> Form-data key type is file and the value is one. The request was sent again after a successful delivery, and the file could not be successfully sent to the server, that is, the request parameter was empty, but the value on the interface showed that the file was selected.

[2018-03-03 10:14] Shifty-kek commented on #1607
+1

[2018-03-03 10:14] Shifty-kek commented on #2302
+1

[2018-03-03 15:03] serg1409 opened #4272 "Missing sorting control for collections in the Postman 6.0.7-9 Win"
## App Details:
Postman for Win
Version 6.0.9
OS Win 7 x64

## Issue Report:
 1. It was a useful sorting control for sidebar collections (by name or by date) in the Postman 5 (Build mode).
2. It's missing in 6.0.7-9

![postman5-collections-sort](https://user-images.githubusercontent.com/34937953/37084381-07579794-21fb-11e8-85b9-281dcac9f69a.PNG)

[2018-03-03 15:07] serg1409 opened #4273 "Initial request became edited after edit of its duplicate in Postman 6.0.7 for Win"
## App Details: Postman for Win x64
Version 6.0.7

## Issue Report:
1. Initial request (body and tests) became edited after edit of its duplicate
2. It didn't happen in Postman 5. I had to go back to Postman 5.5.3

Steps to reproduce the problem
1. Make a duplicate of a saved collection request in Postman 6.0.7 for Win
2. Start edit the new request
3. Initial request (body and tests) became edited

[2018-03-03 15:33] linaspasv commented on #4244
@madebysid is there any ETA for this feature?

[2018-03-03 17:24] qventura opened #4274 "Feature request - Notify Slack only on monitoring failure"
When setting up Slack integration, I cannot find a way to notify Slack only on test failure.
I find this counter productive, because the monitoring failure is then lost amongst success.
I'll describe my use case, maybe my usage is actually wrong.

Use case:
- x microservices
- y environment
- x * y monitors.
- y slack channel, one per environment, used for environment monitoring (Fed by multiple s

[2018-03-03 18:46] qventura commented on #4274
Hum that's weird. I thought I did configure "Notify for 3 failures and then first success" but apparently I did it wrong.
Maybe a way to edit the integration configuration could be interesting ;)

We can close this.

[2018-03-03 18:46] #4274 closed, assigned to nobody

[2018-03-04 06:35] rbrunge commented on #1947
+1

[2018-03-04 07:59] DullCat-c opened #4275 "I'm very expected add a operation of drag and drop collection"
Postman support a operation of drag and drop collection is only in the same level at present,but in most cases , i need drag between different levels . So , i hope Postman can add this operation.

[2018-03-04 15:53] kurtteal commented on #3879
I just noticed this today. It seems it's still happening :(

![image](https://user-images.githubusercontent.com/4903281/36947456-e1125a80-1fc3-11e8-81d4-ca7078d76936.png)
![image](https://user-images.githubusercontent.com/4903281/36947464-036eeecc-1fc4-11e8-9765-7aecfda8ceef.png)

[2018-03-04 17:51] harryi3t commented on #4271
@YuJinLei Thanks for reporting this bug. We are looking into this.
WIll update the thread once I confirm this bug.

[2018-03-04 18:19] harryi3t commented on #4275
@DullCat-c Did you mean dragging folder or request?

[2018-03-04 19:10] brentlemons commented on #3166
Any resolution here? This "feature" drives my memory usage through the roof.

[2018-03-04 19:46] ddsurf commented on #3336
is actually a issue, can not resize mouse over to get two way arrow, Regardless of full screen or normal screen. Been stuck in swagger due to it.

[2018-03-05 03:59] DullCat-c commented on #4275
folder,i want to move the first level folder to another  first level folder , but i discover that can not.

[2018-03-05 06:12] munnamathew opened #4276 "Not working : Import result json generated after newman execution from command line back to postman collection runner"
While trying to import a result json after execution from command line using newman, the post collection runner is always is returning the error - "The run you are trying to import already exists".

Result analysis of tests is pretty difficult, since the results cannot be imported back to collection runner.

## App Details:

Postman Windows App
OS - Windows 10

## Issue Report:
Steps to reproduce

[2018-03-05 06:36] ChuckkNorris commented on #3485
Potential quick fix -> Allow users to drag and drop collections into other collections to become subfolders.

Then we can create an archive folder ourselves.

[2018-03-05 06:59] thecuriousdev commented on #4260
@ebonnot thanks for your patience. The issue got fixed in 6.0.9, you will get the update soon. Please let me know if it occurs again after the update.

[2018-03-05 06:59] #4260 closed, assigned to thecuriousdev

[2018-03-05 07:03] liam-hitchcock-dev opened #4277 "Bug: Data binding for null values not working using Collection Runner"
I am having some trouble using the collection runner as I currently am doing some csv data binding to a collection that I have.

I sometimes need to pass null as a value into the request but when I look at the collection runner results the request body serializes the null as '{{value}}' instead of 'null'. In the csv its just an empty string.

I have run the collection using Newman and it works fin

[2018-03-05 07:04] thecuriousdev commented on #4167
@ajalgaonkar thanks for your patience. The issue got fixed in Postman 6, you will get the update very soon. Please let me know if the issue is still not resolved after the update.

[2018-03-05 07:04] #4167 closed, assigned to nobody

[2018-03-05 07:07] thecuriousdev commented on #4168
@tahmid-hasan since there is no response from your side, I assume that this issue got resolved. Please let me know if you are still facing troubles. closing the issue for now.

[2018-03-05 07:07] #4168 closed, assigned to nobody

[2018-03-05 07:13] thecuriousdev commented on #3962
@safeer-ahmed @MatthewRalston @chhahira @ssevern1 @imindrajit anyone still facing this issue?

[2018-03-05 07:23] thecuriousdev commented on #4084
@toddbeckum since there is no response from your side, I assume that the issue got resolved. Please let me know if still occurs for you. Closing the issue for now.

[2018-03-05 07:23] #4084 closed, assigned to thecuriousdev

[2018-03-05 07:54] thecuriousdev commented on #3879
@kurtteal you are using an older version of Postman, please try updating to the latest version.

[2018-03-05 08:18] zero-master commented on #1947
TLDR; for a project manager

Add a way to define custom authorization routine for the user. It will help many of us who are using nonstandard way of authorization as we are working with legacy applications.

https://www.getpostman.com/docs/v6/postman/sending_api_requests/authorization

It will solve this issue.

[2018-03-05 08:47] munnamathew commented on #4276
![importresultjson](https://user-images.githubusercontent.com/25816031/36965544-f62b2c00-207f-11e8-9aa9-93cdd32f7b65.png)

[2018-03-05 08:52] harryi3t commented on #4275
@DullCat-c That is already supported. Which version are you using?
![mar-05-2018 14-20-31](https://user-images.githubusercontent.com/5207331/36965763-94c43672-2080-11e8-9ac3-a1470873f6ce.gif)

[2018-03-05 09:44] sanojqa commented on #1441
I need to pass request as json format with file and need to upload file using Postman. The file is in my local system. We can pass it as form-data but how can we mention the file path in json format?

[2018-03-05 09:45] mmieluch commented on #1947
It's not just for custom auth. We're working on an API built with Dingo on top of Laravel. Dingo uses the "Accept" header to determine the version of the API the request is supposed to be routed to. Currently we have to add the header manually to every single request. We store the header content in a variable, but adding the header is yet another thing to remember when creating new requests in Pos

[2018-03-05 10:21] roukmoute opened #4278 "Many shortcuts does not work"
## App Details:
[code]

## Issue Report:
 1. This bug always been there
 2. Use shortcuts

Many shortcut are described here: http://blog.getpostman.com/2017/05/03/speeding-up-workflows-with-keyboard-shortcuts/
This is really cool!

But unfortunately on my desktop, `top-level navigation shortcuts` don't work.
It does… nothing.

Next for the most of the time, I use `Ctrl+l`, but on the `Preview` win

[2018-03-05 10:26] kurtteal commented on #3879
I see :)
I did update it to the latest version though. As you can see in the picture above, the app was telling me it was in the latest version (at v5.6.1). Maybe there's a latest version check bug in there? I have now reinstalled it to get the _real_ latest version (v6.0.8) and now I can confirm the bug is fixed :)

[2018-03-05 10:56] sivcan commented on #4266
@chandanacheerla - This is to inform you that the passed and failed count are for the test cases that are there inside each of the requests.
If you're facing any other issue then let me know.

[2018-03-05 10:58] sivcan commented on #4276
Hi @munnamathew - I'll try to reproduce this issue and will notify you once confirmed.
Thank you for reporting this.

[2018-03-05 11:19] Sridatta19 commented on #3117
+1 Hope this feature arrives soon

[2018-03-05 11:49] them0ntem commented on #3290
Hey, Any update on this issues?

[2018-03-05 12:25] Kamikadze4GAME commented on #3186
I would be grateful! Please...

[2018-03-05 13:32] dotdet commented on #1228
+1

[2018-03-05 13:38] 9horses commented on #2934
I managed to work around this by adding the query string directly to the Auth URL, e.g.:
https://foo.auth0.com/authorize?audience=https%3A%2F%2Fapi.foo.com%2F

[2018-03-05 13:55] ghost commented on #2086
+1

[2018-03-05 14:04] alan-givati commented on #4253
@SamvelRaja Hi Samvel.  I sent an email to that address last week.  Did you get it?

[2018-03-05 15:45] deanjott opened #4279 "Environment Value not substituted for Key when used in token request "Token Name" field."
## App Details:
Postman for Windows
Version 6.0.8
win32 10.0.16299 / x64

## Issue Report:
 1. Did you encounter this recently, or has this bug always been there:
          Present in last few versions

 2. Expected behaviour:
          The Value for the substitution parameter should appear as the token name when available
          tokens are listed

 3. Console logs (http://blog.getpostman.com/2

[2018-03-05 15:57] mverma-va opened #4280 "Using variable for response time in test does not work with pm.test style"
Issue: Could not use a variable for response time check with new style of writing test using pm.test api

Steps:
Test script:
------------
pm.test("Response time check", function () {pm.expect(pm.response.responseTime).to.be.below(pm.environment.get("response_time_short"));});

tests["Response time is under limits"] = responseTime < pm.environment.get("response_time_short");

## App Details:

[cod

[2018-03-05 16:24] rstav-gt commented on #2617
Is the new converter powering the latest Postman version's import feature?

[2018-03-05 16:36] MatthewRalston commented on #3962
As in the comments above **yes this is still an issue facing lots of users**

[2018-03-05 16:41] safeer-ahmed commented on #3962
It worked fine.

On Mar 5, 2018 9:36 PM, "Matt Ralston" <notifications@github.com> wrote:

[2018-03-05 17:46] vanbroup commented on #2617
The new converter panics on swagger `binary` types.

[2018-03-05 18:08] guillermoasaro commented on #1947
+1
Same as others. It is a pain to test an Ruby on Rails API with Device auth

[2018-03-05 19:38] sebnukem commented on #4230
I'm experiencing the same symptom (standalone app window goes black) when I am getting a large XML response from a SOAP request. Postman v6.0.8

[2018-03-05 19:59] jdege commented on #2833
I'm still seeing this in 6.0.7.

[2018-03-05 20:26] mverma-va commented on #4280
Find a solution by looking at another open issue: #4173
pm.test("Response time check", function () {pm.expect(pm.response.responseTime).to.be.below(Number(pm.environment.get("response_time_short")));});

[2018-03-05 20:26] #4280 closed, assigned to nobody

[2018-03-05 21:01] aakashkhatter1296 opened #4281 "Bug Report : Title of original request gets changed when title of duplicate is changed."
## App Details:

[code]

## Issue Report:
 1. Did you encounter this recently, or has this bug always been there: Encountered this recently
 2. Expected behaviour: When changing the title in a duplicate request tab, the title of the original request should not change
 3. Console logs (http://blog.getpostman.com/2014/01/27/enabling-chrome-developer-tools-inside-postman/ for the Chrome App, View->To

[2018-03-05 21:17] NicolasGeraud opened #4282 "Autofocus on the url input when open a new tab"
## App Details:

[code]

## Issue Report:
 1. Did you encounter this recently, or has this bug always been there:
Always been there
 2. Expected behaviour:
after hitting Cmd+T to open a new tab, I expect the focus be in the url input

[2018-03-05 21:18] dmz9 commented on #2263
@czardoz still able to reproduce this bug
version 5.5.3@win7x64

![default](https://user-images.githubusercontent.com/19429896/37000194-abaf452c-20d3-11e8-82da-c99799a49b7b.png)

[2018-03-06 03:01] DullCat-c commented on #4275
@harryi3t
no, that is move  of the second level,but i want to move the first level
i think this is the first level  :
![image](https://user-images.githubusercontent.com/29897806/37012017-8645ff38-212d-11e8-81bf-142b84e33428.png)

[2018-03-06 04:50] kamalaknn commented on #4281
Hi @aakashkhatter1296

I think there is some confusion with the terminology here. The action taken here is `Duplicate Tab` which copies the state of the current tab into a new tab, which is actually the same request in the new tab.

If you want to duplicate the request, you can use the `Duplicate` option for the request from the sidebar.

I'm closing this issue as this not a bug, but an intended f

[2018-03-06 04:50] #4281 closed, assigned to kamalaknn

[2018-03-06 07:10] janAtcontinia commented on #4230
The error seems to have disappeared with the latest update of postman

[2018-03-06 09:05] gerbal commented on #2985
Seeing the same issue on Ubuntu w/ Gnome DE linux 4.13.0-36-generic / x64
Postman Version 5.5.2

[2018-03-06 10:27] kamalaknn commented on #4211
Hi @tarunlalwani,

We've rolled the fix in our stable channel. Please update your app to the latest version.

[2018-03-06 10:27] #4211 closed, assigned to kamalaknn

[2018-03-06 10:30] harryi3t commented on #4275
@DullCat-c That is not a folder but a collection and collection can't be moved in another collection. For that use folders.

Please see https://www.getpostman.com/docs/v6/postman/collections/creating_collections to know more about what collections/folders/requests are and how to use them.

[2018-03-06 10:30] #4275 closed, assigned to harryi3t

[2018-03-06 10:32] kamalaknn commented on #4208
@mattboothman

We've pushed our recent changes to the stable channel. Could you update your app to the latest version and check if the issues still exist?

[2018-03-06 10:35] mattboothman commented on #4208
In all honesty, I dearn’t do anything to upset it now. It’s fine, at the moment, with sync disabled. Kinda feel like turning Sync back on might just make the world end.

[2018-03-06 10:35] AlexanderTunick opened #4283 "Different Error reaction In Postman when using conditions or try/catch"
Mac 10.12.16
Postman for Chrome Version 5.5.2 OS X / x86-64 Chrome 64.0.3282.140

Hello.
Now successfully running my newman API test in TeamCity CI, but want to a bit upgrade it by adding console.log In Postman collection before uploading it to CI to start with newman.
When errors occur I want to immediately see what the reason of the error in TeamCity build log.

What I do:
1. POST request (Creat

[2018-03-06 10:38] harryi3t commented on #4279
Duplicate of https://github.com/postmanlabs/postman-app-support/issues/3525

[2018-03-06 10:38] #4279 closed, assigned to nobody

[2018-03-06 10:40] kamalaknn commented on #4125
We've pushed some major improvements to the data layer and sync layer. This issue should be fixed npw. Please update to the latest version and let us know if it still exists.

[2018-03-06 10:40] #4125 closed, assigned to kamalaknn

[2018-03-06 10:44] kamalaknn commented on #4062
Hi @ShemrickFlannigan

We've pushed fixes for this issue in our latest version. Please update to the latest version.

[2018-03-06 10:44] #4062 closed, assigned to thecuriousdev

[2018-03-06 10:48] kamalaknn commented on #3504
Hi @cajund @nchaluse @chrisron95

We've pushed some major improvements to the Sync layer in our latest version. Please update to the latest version. Let us know if you're still seeing issues related to this.

[2018-03-06 10:48] #3504 closed, assigned to SamvelRaja

[2018-03-06 10:49] tarunlalwani commented on #4211
Works fine now, thanks for the update

[2018-03-06 10:52] harryi3t commented on #4283
@Alextunchii

: Unexpected end of JSON input

This tells me that the response is not JSON. Is it not?

What is the output when you put a try catch
[code]

[2018-03-06 11:05] harryi3t commented on #4282
@NicolasGeraud Thanks for opening this issue. This should be fixed in the next release.

[2018-03-06 11:21] kamalaknn commented on #2939
We've pushed fixes in our Sync layer in the latest release. Please update to the latest version.

[2018-03-06 11:21] #2939 closed, assigned to shamasis

[2018-03-06 11:36] harryi3t commented on #4277
@hitcl08 Thanks for reporting this issue.

😀 It's a bug

We are looking into this. I will update the thread once the fix is released.

[2018-03-06 11:46] AlexanderTunick commented on #4283
@harryi3t thanks for quick response.
Yeah, I guess you're right, because there just 204 No Content response, I missed this moment out

but with try/catch I have this:
[code]

So I think it is right Postman reaction?

[2018-03-06 12:07] funkydunc opened #4284 "File upload form field does not detect chosen file if you reselect the same file"
## App Details:

[code]

## Issue Report:
 1. I just noticed this issue:
 2. Expected behaviour: if the file field shows that I still have a file selected, then it should post the file.
 3. Console logs - none sorry
 4. Screenshots - see below

1. Make a request with a 'file' field. It succeeds.
https://gyazo.com/93f774779cc59bf21a556852944e409c

2. It is showing that the file is still selected. R

[2018-03-06 12:09] ChadTaljaardt commented on #4284
I'm also receiving this issue.

Solved by the same method as suggested by op.

[2018-03-06 12:28] harryi3t commented on #4283
@Alextunchii

Yes

To fix this either use try/catch if you are not sure of the response type or remove parsing the response for this request where you know there won't be a response body

[2018-03-06 12:28] #4283 closed, assigned to harryi3t

[2018-03-06 12:42] aprixon01112017 opened #4285 "How to replace complete JSON body - with env variable or otherwise?"
I know that substitution works for a body

{
"key" : "{{value}}"
}

But I want to replace the complete body

{{value}}

Is that possible? If so how?

[2018-03-06 12:50] willybill commented on #3181
Has this been fixed in v6.0.9?

[2018-03-06 14:21] GrzegorzPi opened #4286 "First use of ".not." in assertion change behaviour of all following assertions to negative"
## App Details:
Postman for Windows
Version 6.0.8
win32 10.0.16299 / x64

## Issue Report:
1. send (with status 200) request with json body response, for instance:
[code]

2. in test page put code contain assertion: "pm.response.to.not.be.error;" for instance:
[code]

3. result is corrupted, assertion after to.not.be.error start to fail with reason:
`response to not contain`
but we never use asser

[2018-03-06 14:23] testmonger commented on #1038
v 6.0.9
request: https://echo.getpostman.com/delay/10
response: This service has moved to https://postman-echo.com

as indicated, this works:
https://postman-echo.com/delay/10

[2018-03-06 14:52] nikunjlahoti commented on #4079
+1

[2018-03-06 14:54] GrzegorzPi commented on #4285
If I understand you correct:

Yes, you can put whole body from variable, just simply place:

{{body}}
variable in body.

Of courese first, you have to build your json object and place it in env variable {{body}} as a string. You can do it in Pre-request script page.

Or place whole body to env variable {{body}}, like this:
{"key" : "myValue"}

[2018-03-06 15:20] ebonnot commented on #4260
@thecuriousdev : it's ok in 6.0.9. Thanks !

[2018-03-06 15:53] MLG-ANolan opened #4287 "Iteration Data not used again when clicking Retry in Collection Runner"
## App Details:
[code]
## Issue Report:
 1. Did you encounter this recently, or has this bug always been there: **Recent**
 2. Expected behaviour: Same Iteration data is usable again when clicking Retry.

## Reproduce
1. Open collection runner
2. Select a data file (mine was json to set up POST data).
3. `Console.log(pm.iterationData.toObject());` in pre-request script.
4. Run the collection
5. Cl

[2018-03-06 16:31] ypolishetty commented on #3747
Hi,

Wondering if there is any ETA for this feature as our collection is getting bigger everyday and its becoming difficult for us to do a regular HTML page search. If you have any other alternate solutions such as we generating the documentation page ourselves from the collection so we could add a search ourselves, please let me know.

Yash

[2018-03-06 17:23] tredmon commented on #4250
Just updated postman to new version `6.0.9` and joining worked flawlessly. Thanks for the efforts in this regard.

[2018-03-06 17:23] #4250 closed, assigned to prashantagarwal

[2018-03-06 18:09] jacopone commented on #2734
I am having the same issue - really important to fix

[2018-03-06 18:50] dbkaynor opened #4288 "Add or modify retry button to rerun only failing tests"
Add or modify retry button to rerun only failing tests

I have a collection that has about 200 individual tests and when only one or two fail it would be handy to be able to just rerun the failing one(s).

[2018-03-06 19:31] kmix commented on #3657
Something like this may also be useful to set variables via pre-request scripts so that we don't have to trust Postman with our sensitive data (passwords, tokens, keys).

[2018-03-06 21:01] shanzee opened #4289 "When we generate report by newman and pass data via csv , report repeats first value for variable via csv(HTML report)"
Postman for Windows
Version 6.0.8
win32 10.0.10586 / x64
![newman-cli](https://user-images.githubusercontent.com/17459346/37058161-a134a77c-21af-11e8-8722-27b1a3900d85.png)
![html-rep](https://user-images.githubusercontent.com/17459346/37058162-a162fd3e-21af-11e8-9f39-877f3a013e88.png)

## Issue Report:
 1. Did you encounter this recently, or has this bug always been there:
 2. Expected behaviour:

[2018-03-06 22:41] lphuberdeau commented on #3604
This may be related, but I've seen this through our reverse proxy logs while investigating this issue:

[code]

The process works perfectly when testing with google's oauth 2.0 playground so it does not seem like the issue is on our side. My guess would be that PostMan does not read the response or response body.

[2018-03-06 22:41] mhertogs opened #4290 "Feature Request: Postman Environment Permissions"
## App Details:

[code]

## Feature Request:
I'm excited about the ability to share dynamic environments in Postman 6.x but with this new feature, it also makes it more difficult to maintain immutable environments for all users. As the administrator of my company's Postman, it is useful to be able to create collections and environments that are not editable by other users - this allows the collect

[2018-03-06 23:19] IrynaRus commented on #4273
Please prioritise this bug as it's creating a mess in my tests.
All tests from the same collection usually have the same structure and just some parts are different, so the easiest way to create them is to duplicate and edit, but I ended up editing original test instead of a copy and ruined the work I've done before.
Thank you.

[2018-03-06 23:51] ravikiran1988 commented on #2978
yeah we purchased pro recently and wrote a lot of integration tests, and in the end we found that the integration doesn't happen with privately hosted gitlab. Sad

[2018-03-07 06:00] mstaalesen commented on #1962
No longer able to reproduce.

[2018-03-07 06:00] #1962 closed, assigned to numaanashraf

[2018-03-07 06:35] sdnts commented on #4273
@serg1409 @IrynaRus I've verified that this is now fixed with v6.0.9.

Just to confirm, you guys are duplicating the request from the sidebar, correct? Do note that duplicating an open tab will open the same request in two tabs, so changing any one of them WILL change the original.

I'm closing this for now, but please let me know if you still see this and I'll reopen.

[2018-03-07 06:35] #4273 closed, assigned to nobody

[2018-03-07 08:41] aprixon01112017 opened #4292 "Postman 6.0.9 not starting (takes at least minutes) on Windows 10 after update from 5"
The splash window "Configuring your workspaces" is displayed and nothing more happens for at least 5 minutes.

[2018-03-07 08:47] simgar commented on #3566
The environment variables/batch file doesn't work for me, either

[2018-03-07 08:54] SamvelRaja commented on #4292
Can you share us logs from view -> developer -> show dev tools (shared) to help[at]getpostman[dot]com

[2018-03-07 09:11] cmjchrisjones commented on #1535
+1

[2018-03-07 09:12] harryi3t commented on #3604
@jbrinkle can you update to latest Postman version and see if this issue still persists?

If still the issue is not resolved, can you help me with reproducing the issue? I have created an account on okta and tested this. Maybe the configuration of the app I created is different.

[2018-03-07 09:19] harryi3t commented on #3181
@willybill Yes. Could you confirm this for us?

[2018-03-07 09:24] aprixon01112017 commented on #4292
the 6.0.9 canary2 starts successfully.

[2018-03-07 09:25] aprixon01112017 commented on #4292
Ho do I access them in the file system? The app does not start so I cannot access them via the GUI

[2018-03-07 09:27] harryi3t commented on #4289
@shamasis Can you open this issue here http://github.com/postmanlabs/newman?
Also please provide more information about what is the expected behaviour and what issue are you facing.

[2018-03-07 09:27] #4289 closed, assigned to nobody

[2018-03-07 09:29] SamvelRaja commented on #4292
The menus will be accessible on the top, Just focus on the app.
you need to select the view menu from it.
Kindly let me know if that is not available.

If possible, can you provide me a screencast?

[2018-03-07 09:31] harryi3t commented on #4287
@MLG-ANolan Thanks for reporting this issue.
We are working on this and will keep you posted on the status.

[2018-03-07 09:31] PBXg33k commented on #1321
Could this get a higher priority now that the Chrome extension has been removed.

In our situation we cannot use postman to test our APIs because we need to use SOCKS proxies setup using SSH tunnels in order to access the servers

[2018-03-07 09:57] aprixon01112017 commented on #4292
![postman](https://user-images.githubusercontent.com/33280703/37085804-48c222c6-21f6-11e8-83d3-e45699fb95ff.png)

[2018-03-07 09:58] aprixon01112017 commented on #4292
The main window is not opening and therefore no menu is available

[2018-03-07 10:04] SamvelRaja commented on #4292
@aprixon01112017  This seems really odd.
Can you try opening the app from cmd and send the logs from there?
[code]

[2018-03-07 10:11] aprixon01112017 commented on #4292
same

[2018-03-07 10:11] SamvelRaja commented on #4292
@aprixon01112017  Do you see any logs in cmd? I want the logs from there.

[2018-03-07 10:12] aprixon01112017 commented on #4292
"ORM initialization successful"

[2018-03-07 10:16] harryi3t commented on #4286
Closing this in favor of https://github.com/postmanlabs/postman-app-support/issues/3690
Please subscribe to the original issue for updates

[2018-03-07 10:16] #4286 closed, assigned to nobody

[2018-03-07 10:20] kamalaknn commented on #4090
Hi,

We've pushed the fixes to our stable channel. Please update to the latest version. Let us know if the issue still exists.

[2018-03-07 10:20] #4090 closed, assigned to numaanashraf

[2018-03-07 10:22] aprixon01112017 opened #4293 "Postman 6.0.9 canary2 on Windows 10: in collection form-data file value gets lost"
1.

![pm_img1](https://user-images.githubusercontent.com/33280703/37087168-cbd9f992-21f9-11e8-9103-155b931f3680.png)

2. Select another request

3. go back to this request

4.

![pm_img2](https://user-images.githubusercontent.com/33280703/37087187-dd04e754-21f9-11e8-8417-fbce21a96573.png)

[2018-03-07 10:25] SamvelRaja commented on #4292
@aprixon01112017
Thanks for the information.
Can you check your task manager for the number of postman process running?

We are actively looking into the problem you are facing.

Until that, to unblock you quickly.
If you are already signed in user
1. Can you go to getpostman.com and if you find all the data are synced. It is safe to remove the app data and re-install it.
  i. You need to delete t

[2018-03-07 10:26] kamalaknn commented on #3276
@TheAllThing @ycho46

We've pushed some major improvements to our Sync and Data layers in the latest stable release. Could you update your app to the latest version? Please let us know if this issue still exists

[2018-03-07 10:26] #3276 closed, assigned to kamalaknn

[2018-03-07 10:28] aprixon01112017 commented on #4285
Thanks!

[2018-03-07 10:30] harryi3t commented on #4290
@mhertogs Thanks for reaching out to us. I have marked this as a feature request. Will keep you posted on the status.

[2018-03-07 10:30] harryi3t commented on #4288
@dbkaynor  Thanks for reaching out to us. I have marked this as a feature request. Will keep you posted on the status.

[2018-03-07 10:33] aprixon01112017 commented on #4292
When started from console:
4 processes.

[2018-03-07 10:35] aprixon01112017 commented on #4292
Deleting the  AppData/Roaming/Postman folder did it. Thanks

[2018-03-07 10:38] harryi3t commented on #4285
@aprixon01112017 Closing this since the question was answered. Thanks @GrzegorzPi

[2018-03-07 10:38] #4285 closed, assigned to nobody

[2018-03-07 10:42] harryi3t commented on #4284
@funkydunc @ChadTaljaardt This was fixed in 6.0.8
Can you update to the latest version and try this out?

[2018-03-07 10:49] ChadTaljaardt commented on #4284
I will give it a shot :+1:

[2018-03-07 10:54] datandreporting opened #4294 "Postman Pro trial has finished...no longer needed, cannot run my monitors since trial expiration!"
![monitor](https://user-images.githubusercontent.com/37142454/37088548-a19ed4d0-21f5-11e8-8b50-417c11707b62.JPG)
![no monitors available](https://user-images.githubusercontent.com/37142454/37088553-a61ada36-21f5-11e8-9ca4-b1c108351ae4.JPG)

## App Details:

Postman for Windows
Version 6.0.9
win32 6.1.7601 / x64
[code]

[2018-03-07 11:03] dougmcmillan commented on #3849
This issue seems to be same as https://github.com/postmanlabs/postman-app-support/issues/3691 and https://github.com/postmanlabs/postman-app-support/issues/4108

[2018-03-07 11:08] harryi3t commented on #4293
@aprixon01112017 Would it be possible to share a gif or video describing the issue? A similar issue was fixed in 6.0.8
in which sending a request again was not sending the attached file.

[2018-03-07 11:25] aprixon01112017 commented on #4293
Same in Postman 6.0.9.

It seems that the value is not saved when exporting the collection. And the value is set in other requests as well  when it is set in one request.

I set  it (or remove it) in request 1 in folder 1 and in request 2 in folder 1 the same change appears.

[2018-03-07 12:15] LiamDobbelaere opened #4295 "Postman getResponseCookie is null while the cookie does exist"
## App Details:

[code]

## Issue Report:
 1. Did you encounter this recently, or has this bug always been there: recently, but it could've always been there, haven't been using Postman for testing until now
 2. Expected behaviour: getResponseCookie shouldn't return null
 3. Console logs (http://blog.getpostman.com/2014/01/27/enabling-chrome-developer-tools-inside-postman/ for the Chrome App, View

[2018-03-07 12:44] jeyabal-hcl commented on #2918
Same issue. I am not able to use standalone postman due to this issue. means its a show stopper.
Same API test is working like charm in chrome with the said workaround.

[2018-03-07 14:12] Telaran commented on #4290
If possible I would request a bit more granularity on the environments.
As of now we cannot use the Workspace (and I couldn't wait for this feature since you mentioned it)

## Usage in our company
Currently I'm the maintainer of most of our collections and also environments.
I'm using the Environments with "Pre-Request Script" and also "Tests" almost everywhere.
- Login -> Set Access Token in Envi

[2018-03-07 14:45] ChadTaljaardt commented on #4284
This has been fixed.

@funkydunc please close.

[2018-03-07 14:55] lphuberdeau commented on #3604
Tested with 6.0.9, issue persists.

If the credentials are wrong, a response is provided immediately, but if a redirect is issued, it waits until the web server eventually times out.

[2018-03-07 15:02] kweebtronic commented on #2302
+1

[2018-03-07 15:29] ramanbuttar commented on #2934
@9horses Tried that but getting an error: `Non-global clients are not allowed access to APIv1`. It seems the `audience` field needs to be part of `body` instead of query parameters to have it be read on Auth0 side.

@a85 any updates on when this feature will be built and released?

[2018-03-07 15:58] HeadlyvonNoggin commented on #495
@madebysid Am I correct that Postman Interceptor only works with the Postman Chrome App and not with the native apps? This is concerning as my tests don't work without the capability to store cookie information, and using Interceptor is the only thing I've found to work.

[2018-03-07 16:35] willybill commented on #3181
No it still doesn't work.  I upgraded to Postman 6.0.9 and exported my collection as a 2.1 collection. I upgraded newman to 3.9.3.  When I run the collection, I STILL get the trailing = sign as shown below which causes my service to throw a 500.  As a developer I try to give others the benefit of the doubt, but somebody really blew it with this bug, not that introducing it was so bad because bugs

[2018-03-07 16:51] iagolaguna commented on #3386
+1

Postman it grateful but, I really hate this dialog and I still waiting for "Don't ask again" issue.

[]'s

[2018-03-07 16:54] Ocsidot opened #4296 "Collection runner - After run, "Data unavailable" for response headers and body"
## App Details:
Postman for Windows
Version 6.0.9
win32 6.1.7601 / x64

## Issue Report:
 1. Did you encounter this recently, or has this bug always been there: This issue occurred recently, after last update
 2. Expected behaviour: In previous version, we can get information on every request in a collection after a run in collection runner.
 3. Console logs (http://blog.getpostman.com/2014/01/27/

[2018-03-07 17:06] leandro-fernandez commented on #2086
+2

[2018-03-07 18:06] TheAllThing opened #4297 "Requests are not loaded when there are large number of heavy requests saved"
[code]

## Issue Report:
 1. Did you encounter this recently, or has this bug always been there: Recently, after updating to build 6.0.9
 2. Expected behavior: When opening the PM app, all collections should have their requests under the respective folders.
 3. Console logs (http://blog.getpostman.com/2014/01/27/enabling-chrome-developer-tools-inside-postman/ for the Chrome App, View->Toggle Dev T

[2018-03-07 18:13] a85 commented on #3181
@willybill This is not exactly a bug but rather how a particular string can be interpreted on the server side. If there is a parameter whether there is an = sign or not should be immaterial.

We will add controls in the UI (whether there is a null value or an empty value) but to me this feels like a stupidly coded server and the way it is parsing responses. I don't see any logical reason why there

[2018-03-07 18:16] daveh-maShop commented on #2729
Just installed latest Postman v6.0.9 .  Body still not allowed for GET operation.  Really needed to work with ElasticSearch.  This feature request has been around for years.  Can it be that difficult?  Forced to use another REST Client app to work with Elastic GETters that need a body.  Please advise on roadmap for this.

Thanks.

[2018-03-07 18:25] mhertogs commented on #4290
Agreed with @Telaran. My initial request for environment permissions is bare minimum but the ideal would be to have environments be able to have two tiers of variables - shared variables that are kept in sync and variables unique to this individual using the environment.

[2018-03-07 18:51] harryi3t opened #4298 "Query params with no value are exported as empty string instead of null"
When a collection is exported having a request with URL in which there is a query param with no value, it is exported as an empty string.
[code]
is exported to
[code]

When this exported collection is run using Newman, it reconstructs the URL and adds a `=`  at the end
So the URL becomes
[code]

[2018-03-07 18:57] harryi3t commented on #3181
@willybill We have fixed the issue in the App. Earlier, while sending the request from App it was appending `=` at the end.

I am closing this issue since the issue reported by the OP @martincalvert is fixed.
For the issue that you are facing I have opened a separate issue here https://github.com/postmanlabs/postman-app-support/issues/4298

Also, until we fix this bug you can use a temporary worka

[2018-03-07 18:57] #3181 closed, assigned to harryi3t, kunagpal

[2018-03-07 19:18] harryi3t commented on #4290
@Telaran Assuming environment levels permissions are added, what use-cases are still not covered which requires `non-syncable` environments?

Users can always mark their env as read-only then no one will be able to mutate them.

If you don't want others to see the values, then maybe you could share a read-only env with only keys and no values (kind of a template). Individual users can clone the en

[2018-03-07 19:18] shamasis commented on #4298
The issue is pertaining to `http://postman-echo.com/get?{{my-params-in-variable}}` getting converted to a data structure where there is not enough information to decide between empty string and null value. The change for this might become subjective for those who want an empty equals to be appended. We had been going back and forth on this since a fix here leads to issues elsewhere.

We might be a

[2018-03-07 19:22] harryi3t commented on #3604
@lphuberdeau Can you help me reproduce this? Is the auth provider that you are using publicly accessible?

[2018-03-07 19:24] harryi3t commented on #4284
@ChadTaljaardt Thanks for confirming.
@funkydunc I am closing this. Feel free to re-open if it didn't work out for you.

[2018-03-07 19:24] #4284 closed, assigned to harryi3t

[2018-03-07 19:40] harryi3t commented on #4293
@aprixon01112017 yes the values (file paths) are not exported/synced intentionally because of security concerns. So until the tab is open sending the same request, again and again, should send the file also. But once you close the tab and reopen the request, you need to re-select the file.

Also, when you set the file path in request 1 of folder 1 and then open request 2 of folder 2
1. does the re

[2018-03-07 21:07] alexisml opened #4299 "Collection runner - Persist variables not working"
## App Details:
Postman for Windows
Version 6.0.9
win32 10.0.16299 / x64

## Issue Report:
This is a new issue (possibly associated with the new environments thing?).
There are 2 things:

1. Every time I access the collection runner, the "Persist variables" checkbox is unchecked, no matter if the last time it was checked.
2. The collection runner IS NOT PERSISTING THE VALUES (at least the environm

[2018-03-07 21:33] chappellnick commented on #3002
I have this same issue with Charles Proxy. Postman does not like the format which it outputs its curl requests.

[2018-03-07 21:39] jamesfrankman opened #4300 "Postman Desktop Oauth Fails when Consumer Key contains Exclamation Point"
## App Details:
[code]

## Issue Report:
 1. Did you encounter this recently, or has this bug always been there:
It has always been in the Desktop version, works fine in the Chrome version of Postman.
 2. Expected behaviour:
When setting a consumer key in OAuth that contains an exclamation point the authorization header should not url escape the exclamation point.  For instance, given a consumer k

[2018-03-07 22:13] mhertogs commented on #4290
## Example Use Case
Imagine I have a webservice deployed into three separate deployment clusters (dev/staging/prod) and each deployment has a different host and port for the webservice. These host/port combos in each cluster are subject to change and I want to be able to update the environment.

I create the following Postman environments.
- Dev Env: host=1.2.3.4, port:34567
- Staging Env: host=2.

[2018-03-07 22:59] IrynaRus commented on #4273
@madebysid Updated to the latest version and the issue is fixed. Thank you!
And Yes, I was duplicating from the sidebar.

[2018-03-08 02:02] SrikarGajjala commented on #2030
+1

[2018-03-08 04:43] sivcan commented on #4299
@alexisml - I have not been able to reproduce this.
I have tested with pre-request scripts and test scripts but the persist variables in the collection-runner is working fine.
Can you share an example with me where you can reproduce this issue so that it'll help us to triage this issue quickly?

Thanks.

[2018-03-08 05:40] munnamathew commented on #4276
Hi @sivcan  - Thanks for looking to the issue. Do you have any update on this query?

[2018-03-08 06:27] sivcan commented on #4276
@munnamathew - The report generated by newman cannot be imported inside the collection runner.
Anyway, the error that you've reported is weird.
Are you on the latest version of the app ?
If not can you update to the latest version and try again ?

Were you ever able to import this before in the collection runner ?

You can download the latest version here - [Download Postman](https://www.getpostma

[2018-03-08 06:32] sivcan commented on #4276
@munnamathew - I was able to produce that error now.
We'll fix that error message.

[2018-03-08 07:22] harryi3t commented on #4276
@kunagpal Is there a way we can import the result of running a collection from Newman into Postman?

[2018-03-08 07:30] harryi3t commented on #4199
@RossmannRoggenkamp Thanks. I was able to pinpoint the issue with your help.
We will be fixing this bug.

[2018-03-08 07:37] harryi3t commented on #4199
@RossmannRoggenkamp @ugenlik
As a workaround, always set environment values as an empty string instead of null.
[code]
I will update this thread as soon as a fix is released.

[2018-03-08 07:52] Telaran commented on #4290
@mhertogs thanks for your efforts. I'll can confirm that this explains my use case.

### My Workspace, Team Workspace, the "Share" workaround
Maybe there is just a "different understanding" what Workspaces are for or not (so maybe we want to use it as never intended by Postman?)
In our team only two (should) maintain the collection. All other team-member consume the provided collection, etc.
There

[2018-03-08 09:13] harryi3t commented on #4183
Closing this because of inactivity for more than 15 days.

[2018-03-08 09:13] #4183 closed, assigned to harryi3t

[2018-03-08 09:35] IeuanWalker opened #4301 "Proxy Formatting Issue"
## App Details:
Postman for Windows
Version 5.3.2
win32 10.0.15063 / x64

## Issue Report:
I need to add a proxy to the app but every time I try and add it, it's only saving the base URL.
For example, our proxy uses the credentials in the URL like this - 'http://username:password@domain.gov.uk:8080'

But the app only saves 'domain.gov.uk:8080', causing 407 proxy authentication required.

It looks

[2018-03-08 09:42] shabinGravitum commented on #3518
Issue still exists in latest Windows version as of today

[2018-03-08 10:23] sanvipy opened #4302 "Recent runs history not visible anymore in Collection runner"
## App Details:

[code]

## Issue Report:
 1. Did you encounter this recently, or has this bug always been there: With the current version
 2. Expected behaviour:Recent runs displayed
 3. Console logs (http://blog.getpostman.com/2014/01/27/enabling-chrome-developer-tools-inside-postman/ for the Chrome App, View->Toggle Dev Tools for the Mac app):
![image](https://user-images.githubusercontent.com/

[2018-03-08 10:25] munnamathew commented on #4276
Hi all,

Is there any chance you could add this as a new feature if not already available?
Result analysis of test execution through newman is pretty difficult, since the results cannot be imported back to collection runner.

[2018-03-08 11:17] bermeitinger-b opened #4303 "Request is not sent"
## App Details:
[code]

## Issue Report:
 1. Did you encounter this recently, or has this bug always been there:
It worked for older versions but I don't know which ones.
 2. Expected behaviour: Send request, get response.
 3. Console logs (started with `NODE_DEBUG=request /opt/Postman/Postman`):
- on Terminal: Only prints lines for authentication (I deleted ~/.config/Postman before)
- Postman Con

[2018-03-08 11:36] thecuriousdev commented on #4302
@sanvipy thanks for reporting this issue, we'll look into this and keep you posted here.

[2018-03-08 11:54] thecuriousdev commented on #4295
Hey, @TomDobbelaere thanks for reporting this issue. I tried from my end and its working fine, can you help me to reproduce this issue?

[2018-03-08 12:01] ERPedersen commented on #2418
I can confirm that this is happening for me and another of my colleagues as well. It happens regardless of whether the request has a body or not.

[2018-03-08 12:05] thecuriousdev commented on #4297
@TheAllThing thanks for reporting this issue. Please help me with this, What was the sync status during that time? (you can find it in the top bar of the app)

[2018-03-08 12:12] thecuriousdev commented on #4300
@jamesfrankman thanks for reporting this. This is reproducible, We'll look into this.

[2018-03-08 12:21] thecuriousdev commented on #4303
@bermeitinger-b thanks for reporting this issue. We'll look into this and will keep you posted here.

[2018-03-08 12:27] thecuriousdev commented on #4301
Hey, @IeuanWalker thanks for reporting this issue. We'll look into this and will keep you posted here.

[2018-03-08 12:28] sivcan commented on #4296
@Ocsidot - Thanks for reporting this.
You can expect a fix for this in the upcoming releases for the app.
I'll update this thread once it's available.

[2018-03-08 12:35] sivcan commented on #4302
Hi @sanvipy - When did this occur ?
You're running the runs and they're not showing up at all ?
or is that after the upgrade from probably 5.x to 6.x, the recent runs are not being displayed ?

Can you share the console log with me ?
Steps:
1. Launch the Runner
2. Click on View > Developer > **Show DevTools (Current View)**

Thanks

[2018-03-08 13:10] Ocsidot commented on #4296
Thank you very much @sivcan :).
I'll be waiting for the fix

[2018-03-08 13:40] andreypolyak opened #4304 "Display list of workspaces that have selected collection"
## App Details:

[code]

## Issue Report:

At the moment I believe there is no way to identify which workspaces have selected collection. Can it be added somewhere? For example in modal windows that are opened when you select "Edit" or "Share" in context menu.

Example use-cases:
1. I see collection in workspace and realize that it shouldn't be there. I want to remove it from this workspace but if

[2018-03-08 13:54] andreypolyak opened #4305 ""Bad Request" error when updating collection containing requests with examples using Postman API"
## App Details:

[code]

## Issue Report:
1. Create any collection.
2. Create any request inside the collection, run it and save response as an example.
3. Read content of this collection using Postman API (HTTP GET request to https://api.getpostman.com/collections/{{collectionId}})
4. Update content of this collection using Postman API (HTTP PUT request to https://api.getpostman.com/collections/{

[2018-03-08 15:01] chrisron95 commented on #4302
This has been happening to me as well since the new update. Every time I quit postman, the recent runs list clears out. I'm using postman on MacOS.

These are my console logs when I open the runner.

[code]

[2018-03-08 15:13] kavhad commented on #1066
Yes this is needed, particularly with using feature capture traffic and proxying the amount of requests in a collection can grow very fast.

[2018-03-08 15:49] ekkinox commented on #3390
+1, with both YAML and JSON support

[2018-03-08 15:49] wiktor-golonka commented on #1983
It happened for me today on version 6.0.9.
I've got two exactly same looking tabs with same POST request, however the first one is sending two POST requests.
I can't give you any instructions to reproduce because the second tab with the identical request is working perfectly normal.

Actually a different tab I had with different body also is sending a request twice.
However when I am creating a ne

[2018-03-08 15:53] sirdawidd commented on #3390
+1

[2018-03-08 16:27] TheAllThing commented on #4297
Hi @thecuriousdev, the status showed that it was syncing (blue) for a minute, then it changed to orange. When logging out/in, it shows that it is syncing, but the requests do actually return after awhile. Our team workspace has a lot of collections/requests.

[2018-03-08 16:38] mattdeluco opened #4306 "Feature Request: Add Collection Variables section to environment quick look"
Much like the two sections in the environment quick look entitled "Environment" and "Globals" it would be very convenient to have another section entitled "Collection" to illustrate the variables configured by the collection for the currently visible request.

The "Collection" section might fit in between Environment and Globals according to the order of scope.

It might also be interesting to hav

[2018-03-08 16:40] kalevish commented on #3506
Undo is insanely slow on in address bar "Enter request URL". Takes three ctrl+z to undo it.
Redo doesn't work at all for address bar.

But undo/redo does work all other fields like collection name, description, request body.

Please do something about it. This is very annoying bug.

[2018-03-08 18:16] JTL1992 opened #4307 "POST can't send data"
Hi, I have an issue about postman, i have created a post below, but my server does not receive any data, could you help me?

version 6.0.9  Mac

thank you!
![screen shot 2018-03-08 at 19 12 08](https://user-images.githubusercontent.com/8761467/37168426-28221bc4-2305-11e8-82ea-763e3f1a5328.png)
![screen shot 2018-03-08 at 19 12 30](https://user-images.githubusercontent.com/8761467/37168435-2b8cd600

[2018-03-08 19:18] BenCao2018 opened #4308 "PostMan GET request with large data hangs, loading... forever without respond"
## App Details:

[code]

## Issue Report:
 1. This issue happens recently.
 2. Expected behaviour: Reponse with large JSON data
 3. Console logs:
Could not find on CollectionStore. Missing or invalid parameter.
find @ requester.js:41849
There was a fatal error when sending the request! Object
done @ requester.js:130221

 4. Screenshots

![console logs](https://user-images.githubusercontent.com/371

[2018-03-08 19:25] andreypolyak opened #4309 "Collections with big responses cannot be updated using Postman API"
## App Details:
[code]

## Issue Report:

I have collections that have a lot different examples. And each example (response) can be as big as several MB XML file.

Unfortunately I cannot update such collections using Postman API because I get "Bad Request" response. My tests showed that I can update collection that has one response with 1 024 000 characters but cannot update if response has 1 152

[2018-03-08 19:38] antpr opened #4310 "Couldn't find path to postman-prod.ico"
## App Details:

[code]

## Issue Report:
1. Did you encounter this recently, or has this bug always been there: Noticed it today
2. Expected behaviour: Postman icon shows up on the app shortcut
3. Console logs (http://blog.getpostman.com/2014/01/27/enabling-chrome-developer-tools-inside-postman/ for the Chrome App, View->Toggle Dev Tools for the Mac app):
 4. Screenshots (if applicable)

Hi,

I i

[2018-03-08 20:09] chrisron95 opened #4311 "Postman runner doesn't sort collections or environments anymore"
## App Details:

[code]

## Issue Report:
 1. Did you encounter this recently, or has this bug always been there:
Only since updating to 6
 2. Expected behaviour:
collections and environments should be sorted. Especially when working with many collections and environments, if there's no sorting, it's not always easy to find what you're looking for and it's very easy to miss the one you're looking

[2018-03-08 20:33] etspaceman commented on #3171
+1

[2018-03-08 22:43] lphuberdeau commented on #3604
After more a lot of tuning, we finally got it to work.

[2018-03-09 01:51] ericweidl commented on #2082
Bump.

[2018-03-09 03:37] tangyl commented on #1321
I end up using [privoxy](https://www.privoxy.org) as http=>socks5 proxy.  It can forward requests to different socks5 proxies by host patterns. e.g.
[code]

[2018-03-09 04:53] TheDauthi commented on #3786
Chromium's GPU acceleration can also cause problems inside linux-based VMWare virtual machines, up to and including (though rarely, thankfully) causing the video driver to lock up if hardware acceleration is also enabled for the VM itself. The bug goes back at least to late 2015.

I'm not sure if you need to expose the --disable-gpu equivalent option somewhere, but you should be aware that there a

[2018-03-09 05:05] slhrkc commented on #4005
+300

[2018-03-09 05:58] thecuriousdev commented on #4297
The status SYNCING means the app is syncing with the server to keep all your data up to date, and it may take some time depends on how much data you have. Once the status changed to IN-SYNC you can access all of your data. So I think in your case, nothing is unusual, it's the expected behavior. Hence I am closing the ticket, for now. But feel free to continue the discussion.

[2018-03-09 06:07] harryi3t commented on #3604
@lphuberdeau Could you shed some light on what was the issue for you how did you get it to work?
Was there a issue with the auth provider or with Postman?

[2018-03-09 06:18] harryi3t commented on #4307
@JTL1992 Can you send the same request to this echo endpoint `https://postman-echo.com/post`
It just sends back the data that was sent to it.

Please share the response of this request.

[2018-03-09 06:50] sdnts commented on #4273
@IrynaRus Awesome, that's great to hear :)

[2018-03-09 07:20] sdnts commented on #495
@HeadlyvonNoggin Currently, yes. However, we understand this limitation and are working towards a way to make Interceptor work with the native apps. You can follow #3874 for updates.

[2018-03-09 07:34] sivcan commented on #4311
Hi @chrisron95 - Thanks for reporting this.
I apologise for the inconvenience caused.

This has been fixed on our end and you can expect the same to be reflected in the upcoming release.
I'll update this thread once it's out.

[2018-03-09 07:36] sivcan commented on #4302
@chrisron95 - I'll look into this issue and get back to you.

[2018-03-09 07:53] gregoirepaqueron opened #4312 "Cookie not isolated in Collection Runner"
## App Details:

[code]

Hello,I don't think this is intentional, but when running a collection with the Collection Runner, i expect it to be totally isolated from my previous request in the app (except if i choose Environment of course). It looks like it uses Cookie from my previous request that i did not execute in the collection.
Explain by exemple :

Running a normal call in app :
[code]
 retu

[2018-03-09 08:15] jahanzaib-ahmed-confiz commented on #2392
+1

"create a new method like "skipRequest()" to continue with the other requests. That way I can try: if(environment.url === "http://local:8080") {skipRequest()}"

[2018-03-09 09:14] Remi-Tuy commented on #283
+1 been 5 years ?!

[2018-03-09 11:43] thg303 commented on #1441
@sanojqa json does not support binary format data (like binary files). you have 2 options:
1- change the request type to "multipart/form-data"
2- convert file to base64 and send it in a field, caution: it can increase the size of transmission up to 30%.

[2018-03-09 11:56] hobbes38111 commented on #3390
+1

[2018-03-09 12:40] prashantagarwal commented on #4309
@andreypolyak Thanks for reporting this. We will look into this issue.

[2018-03-09 12:51] Athu5477 commented on #1441
@**thg303**   does we can apply request as json file to upload file in jmeter?

Can u pls help me to resolve issue mentioned below.
I  have to perform file upload with parameters in jmeter ,using patch method.But i am unable to do fileupload with patch method.Its not working for jmeter. I have send data in parameters table and put file in file upload table. After that i am getting the response as

[2018-03-09 13:16] yishayn opened #4313 "JSON beautify action in request body does not work when there are Postman variables"
[code]

## Issue Report:
After upgrading form latest version 5 into postman 6.0.9
I noticed a change in the "CTRL+B", as followed:
- when pasting a JSON request into postman request window, and using 'CTRL+B' to fix it to be in normal JSON format. In version 6.0.9 , it is doing it , but adding extra spaces each indentation branch.
See attached PDF to see screenshots to illustrate it.

[CTRL+B , St

[2018-03-09 13:17] patrickjamesbarry commented on #576
Came across this issue when trying to troubleshoot why my request was not working.  I was setting Content-Type myself AND postman was automatically doing it behind the scenes. Not the expected behavior I was looking for and burnt some time on this (like everyone else on here).

[code]

[2018-03-09 13:35] yishayn opened #4314 "[Postman 6.0.9] My Collections are not sorted in the "SAVE Request" window"
## App Details:

[code]

## Issue Report:
 1. Did you encounter this recently, or has this bug always been there:
 2. Expected behaviour:
 3. Console logs (http://blog.getpostman.com/2014/01/27/enabling-chrome-developer-tools-inside-postman/ for the Chrome App, View->Toggle Dev Tools for the Mac app):
 4. Screenshots (if applicable)

when saving a new request in the Save request window,
my collect

[2018-03-09 13:38] lphuberdeau commented on #3604
Ultimately, the final issue was on our end.

However, several issues made the debugging harder than it had to be. None of the debugging consoles provided any information. The developer console did not show any activity in the network panel. The authentication window is completely locked down, preventing inspection of the provider's state.

It also seems like there is no way to accept a self-signed

[2018-03-09 15:13] majstorki88 commented on #3740
+1 for this issue.

[2018-03-09 16:08] thg303 commented on #1441
welcome to github @Athu5477
fyi, this is not how github works, we discuss issues about this repository (postman) not Jmeter or anything else. Jmeter has it's own documentation and issue tracker (see [jemeter.apache.org](http://jmeter.apache.org)).
you may ask this question in [stackoverflow.com](http://stackoverflow.com) or [jmeter's mailing list](https://jmeter.apache.org/mail.html).
Good luck.

[2018-03-09 16:10] TheAllThing commented on #4297
@thecuriousdev, we are not on the same page. This cannot be expected behavior. Every time the app is closed, the next time it is opened, all requests are missing, and all folders under every collection show "this folder is empty." We can wait all day and nothing will change. The only way to resolve this is to log out of the desktop application, and upon logging back in, it successfully syncs and r

[2018-03-09 16:21] harryi3t commented on #3604
@jbrinkle Closing this issue. Let me know if you are still having issues. You can also mail me your auth-provider endpoint details. I can test it out for you. In most cases it is usually the auth-providers's issue to be not spec-complaint. But if it is issue on our end we will get it fixed ASAP.

[2018-03-09 16:21] #3604 closed, assigned to harryi3t

[2018-03-09 16:58] ghost commented on #4290
Totally agree with this feature request.

Also have similar problem as @Telaran described. Support for private environments for each developer is a must for us. Otherwise with 10 developers each with 2-3 private environments becomes too cluttered.

[2018-03-09 17:08] glenpike opened #4315 "Can no longer import environments dumped by newman"
## App Details:
Postman for Mac
Version 6.0.9
OS X 15.6.0 / x64

## Issue Report:
 1. New problem - since 6.0.7 (I think)
 2. It should play nicely with the newman.env file
 3. Console logs: None

When test runs fail in Newman, I sometimes import the newman env which has been dumped
(Newman command is:

[code]
The exported newman.env objects are missing the "enabled": true value so a workaround is

[2018-03-09 18:00] tb2186 commented on #1535
I just started using Postman in earnest and I thought it was just my imagination but it seems like once a request is added to a collection it becomes unique to that collection and if you ever need to edit all of the same request types you need to edit each of the individual instances in every collection it appears in.

It just seems insanely odd to me that the requests can't be maintained in one p

[2018-03-09 19:36] phgeek commented on #3813
I would like to get a ride on this...

How to make `application/x-www-form-urlencoded` requests through `pm.sendRequest`?

I've checked postman's console and couldn't see my `Content-Type` header or the body (it's empty).
Already tried above example.

Thanks.

[2018-03-09 20:33] Dzeinz opened #4316 "Path Variable descriptions are not rendered in Documentation"
## App Details:
Postman for Mac
Version 5.4.1
OS X 16.7.0 / x64

## Issue Report:
When using path variables (ex.  :orderNumber  ) in the URL field, params populates: Key field, a value field, and a description.

The issue exists in the Documentation.
- If the 'Value' field is left blank, the documentation fills in the URL field with absolutely no indication of the existence of the Key field requir

[2018-03-09 21:10] dbkaynor opened #4317 "Unable to view Response body and other"
This used to work but now when I click on a failing test and Response Body in runner I get a message as follows: "Data unavailable (Only data from about the top 10 historical runs is stored)
All of the item in runner show the same results.

![dataunavailable](https://user-images.githubusercontent.com/1424275/37229957-ae0d8a8a-239a-11e8-82e5-5a7ecb2ea619.JPG)

[2018-03-09 23:14] jbrinkle commented on #3604
Appears to be working for me. Thanks for following up. 👍

[2018-03-09 23:15] ADTC commented on #1947
+1 (these just keep rolling here! why isn't this getting any attention???)

In my case, I was stumped because the API devs made it to use a custom authorization. Instead of the standard `authorization: Bearer <token>`, it is a non-standard version `access_token: <token>`. Postman currently provides no way to automate this non-standard authorization because there's no "Custom Auth" option where I c

[2018-03-10 02:04] alexandruirimiea commented on #3841
I have the same issue.

[2018-03-10 03:34] jrichard0725 commented on #1669
Could really use a postman graph feature. Been holding off on switching my team in hopes this feature will come along soon....not sure how much longer we can afford to wait.

Really need this to come through for our team to stay on Postman...

[2018-03-10 04:33] sivcan commented on #4317
Duplicate of https://github.com/postmanlabs/postman-app-support/issues/4296

[2018-03-10 04:33] #4317 closed, assigned to nobody

[2018-03-10 13:14] Noor0 opened #4318 "Custom Theming support"
it'd be great to be able to customize postman colors through a json config file or through setting. Current dark theme is just ugly

[2018-03-11 04:30] yangxikun opened #4319 "duplicate request item, click on item, not open it on window tab"
## App Details:

[code]

## Issue Report:
 1. Did you encounter this recently, or has this bug always been there:

 2. Expected behaviour:

 3. Console logs (http://blog.getpostman.com/2014/01/27/enabling-chrome-developer-tools-inside-postman/ for the Chrome App, View->Toggle Dev Tools for the Mac app):
 4. Screenshots (if applicable)

￼
![1520742531930](https://user-images.githubusercontent.com/3

[2018-03-11 16:40] JohnArrowwood commented on #1535
Amen.  But if only it were that simple to implement.  So I get why it isn't
there yet.  But yes, Postman would be a serious contender if it could do
that.

On Fri, Mar 9, 2018 at 1:00 PM, tb2186 <notifications@github.com> wrote:

--
John Arrowwood

[2018-03-11 19:07] pwistrand commented on #4312
I'm also experiencing this issue with cookies being picked up from response to a request in the collection runner then being added to the request's cookie collection. I then have to manually delete the cookie before any further runs will be successfully. I hope this isn't by design as IMO violates test isolation. I'm using the native client on osx.

[2018-03-12 00:12] aksbenz opened #4320 "form-data Requests with files is not saving src when exported to collection"
## App Details:

[code]

## Issue Report:
 1. Observed since v6
 2. Expected behavior:
On exporting a collection with form-data requests having files, src attribute should be populated with the file name.
3. Actual behavior:
**src** attribute is not present in exported collection.
Example:
"body": {
					"mode": "formdata",
					"formdata": [
						{
							"key": "document",
							"description":

[2018-03-12 00:34] aksbenz commented on #4320
@sivcan @shamasis @prashantagarwal
Please have a look. Thanks.

[2018-03-12 06:01] prashantagarwal commented on #4319
@yangxikun This has been fixed in our latest release 6.0.9. Thanks

[2018-03-12 06:01] #4319 closed, assigned to nobody

[2018-03-12 06:04] prashantagarwal commented on #4318
@Noor0 Thanks for suggesting this feature. This is definitely on our roadmap.

[2018-03-12 06:10] prashantagarwal commented on #4316
@Dzeinz Thanks for suggesting this. We will look into this and keep you updated.

[2018-03-12 07:11] sobitankit commented on #4309
@andreypolyak This has been fixed at our end. Can you try it again?

[2018-03-12 07:12] ankitjaggi commented on #4309
@andreypolyak This has been fixed. Can you try it again?

[2018-03-12 07:18] sivcan commented on #4314
Hi @yishayn - Thanks you for reporting this and apologies for the inconvenience caused.
This has been fixed on our end and you can expect the same to be reflected in the upcoming release.
I'll update this thread once it's out.

[2018-03-12 08:07] LiamDobbelaere commented on #4295
I will provide you with a possible way to reproduce this issue tonight.

[2018-03-12 09:32] sivcan commented on #4302
@chrisron95 @sanvipy - Can you tell us whether you're running multiple collections with a big number of iterations or just any collection run won't show up no matter the number of requests or  iteration count ?

We have discovered an issue with the underlying indexedDB that chrome uses which is throwing this error and are we'll be needing some feedback regarding this to help us triage this issue f

[2018-03-12 09:58] tomheisner commented on #3312
+1

[2018-03-12 10:17] sanvipy commented on #4302
@sivcan Number of iteration or size of collections doesnt seems to have any impact. The history get cleared as soon as the runner is closed and reopened!

[2018-03-12 11:11] realB12 commented on #3390
I really do not understand why Swagger and now new OpenAPI-Specs have not been considered to be at the base of all the data architecture here. When adding Swagger just as an afterthought I am not convinced to invest into Postman any further because I do not want to be locked into a proprietary product that takes in all the Swagger-stuff but does not give back in return!

[2018-03-12 12:24] sdnts commented on #4294
@datandreporting Can you head over to you [usage](https://app/getpostman.com/usage) page and make sure you haven't crossed limits?

[2018-03-12 12:24] #4294 closed, assigned to nobody

[2018-03-12 12:29] kobelobster commented on #1947
+1

[2018-03-12 12:46] aprixon01112017 commented on #4293
I cannot reproduce it: I have a request with property image and a second request with property image, but deactivated. When I selected a file for the first request the property was also set in the second request.

So when the file name is not saved und let's say I have a test collection containing 10 requests that POST files I would have to set a file name 10 times manually. I don't like that!

[2018-03-12 13:44] glenpike commented on #4320
Duplicate of #3740 ?

[2018-03-12 14:01] glenpike opened #4321 "Collection & Request order is broken by 6.0.9"
## App Details:
[code]

## Issue Report:
Exporting a collection doesn't seem to preserve folder or request order.
 1. Issue with 6.0.9
 2. Expected behaviour:  Exporting the collection in the order I see it in Postman.

Upgraded Postman
Exported collection for running Newman tests.
First time, I discovered the folders were completely out of order.
(Originally I named all my folders "01. Foo", "02.

[2018-03-12 14:04] hitesh17 opened #4322 "Access is denied after updating to 6.0.9 version"
## App Details:
Postman helps you develop APIs faster
Postman for Windows
Version 6.0.9
win32 6.1.7601 / x64
[code]

## Issue Report:
 1. Did you encounter this recently, or has this bug always been there: recently
 2. Expected behaviour: 201K
 3. Console logs (http://blog.getpostman.com/2014/01/27/enabling-chrome-developer-tools-inside-postman/ for the Chrome App, View->Toggle Dev Tools for the M

[2018-03-12 14:09] haf commented on #1947
1. Export collection as v2.1 schema
 2. Create file:

[code]

 3. `chmod +x add-header.js`
 4. `cat my-collection.json | ./add-header.js | jq . >my-collection.v2.json`
 5. Import collection

[2018-03-12 14:18] andreypolyak commented on #4309
@ankitjaggi It's now working as expected. Thank you!

[2018-03-12 14:28] JayShallcrass commented on #3841
I have also been able to recreate this issue

[2018-03-12 14:55] Kanaduchi commented on #2716
What is update of this issue? Issue was opened a year ago.

Currently it is very uncomfortable to work in two-side view with long links

[2018-03-12 15:43] anreddy018 opened #4323 "Post Man :Error: Could not fetch from sync. Socket not connected."
## App Details:

[code]

## Issue Report:
 1. caught (in promise) Error: Could not fetch from sync. Socket not connected.
    at SyncRemoteFetcherService._dispatchCallback (file:///C:/Users/xxxx/AppData/Local/Postman/app-6.0.9/resources/app.asar/js/requester.js:75363:26)
    at EventEmitter.108.EventEmitter.emit (

[2018-03-12 15:43] anreddy018 commented on #4323
caught (in promise) Error: Could not fetch from sync. Socket not connected.
    at SyncRemoteFetcherService._dispatchCallback

[2018-03-12 17:34] dbkaynor opened #4324 "Add current test name to status bar"
Feature request:
Please consider adding the currently running test name/ collection name/ folder name to the status bar at the bottom of the runner window. When running a large number of tests that take several minutes to run it would be handy to know how far along the testing is. I realize that the percentage is displayed in the top left corner but the test name would also be useful.

Microsoft W

[2018-03-12 18:56] anreddy018 commented on #4237
getting  : Postman error :  Could not fetch from sync. Socket not connected. Any help much appreciated.

Thanks

[2018-03-12 22:01] aksbenz commented on #4320
@glenpike , the issues seems to be the same, but this was working perfectly fine before with the last version before 6. The src had the file name, like this:
[code]
and this would run perfectly through newman.

But since version 6 there is no src attribute at all.

[2018-03-12 22:09] glenpike commented on #4320
Hi,

Yes, it's been around for a couple of months - if you import a file used for Newman, then re-export it, the 'src' attribute is dropped. It's annoying because we have to diff our file then re-insert all the missing ones.  It's also annoying because importing it never affected the file chooser in Postman, so getting rid of it is either a bug or a dumb choice and it's still not fixed...

On 12 M

[2018-03-12 22:18] serg1409 commented on #4311
See also issue #4272. Waiting for your fix.
Thanks

[2018-03-12 22:39] alvarotrigo opened #4325 "JSON request body not working with PHP service"
## App Details:

[code]

## Issue Report:
 1. Did you encounter this recently, or has this bug always been there:

I always found it crazy trying to send JSON data to PHP. Never managed to find the way. It sounds pretty basic and simple but... just can't get to do it when using PHP.

 2. Expected behaviour:

[code]

Obtained result:
[code]

 4. Screenshots (if applicable)

![screen shot 2018-03-12

[2018-03-12 22:40] alvarotrigo commented on #4325
I've also tried using a php file like this with same results:

[code]

I found plenty of people asking for this same problem on stackoverflow, but none of the comments helped me.

[2018-03-13 01:18] TheAllThing commented on #4297
@thecuriousdev , if you could let me know what I have to do to get this more attention, I'd appreciate it. This was closed prematurely, and there is no clear direction for where I need to go from here. Do I need to open a brand new ticket for the same issue?

[2018-03-13 03:24] kamalaknn commented on #4297
Hi @TheAllThing,

Sorry for the initial misunderstanding. This looks like the view is partially rendering the data. We will definitely investigate this, but we need your help. Please give us these additional data so we can triage this better.

1. Are you seeing the collections as empty every time you restart the app?
2. Are requests missing for all the collections or only a few of them?
3. Do you

[2018-03-13 04:06] YeswanthNag5 opened #4326 "My collections are not syncing with my login"
On my Postman login(Workspace), I have different collections.
When i try to login in different system, Sync fails -> automatically route to offline. -> my collections wouldn't be shown.
Please let me know to fix this issue.

ID: yeswanth.lingala@cba.com.au

Also, One of my friends is facing the same issue.
Id:gans79@gmail.com
<img width="599" alt="postmanerror" src="https://user-images.githubuserc

[2018-03-13 04:53] sujitblues commented on #4326
I am facing the same issue.
Id:sujit@arcgate.com

[2018-03-13 07:20] sivcan commented on #4237
@anreddy018 - I think that error must be appearing for the moment the app boots up.
Are you experiencing any issue with the sync apart from this error in console ?
Does the orange icon on the left top bar of the app say 'In Sync' ?

[2018-03-13 09:01] purefan opened #4327 "Support cookies in code snippets"
## App Details:
[code]

## Issue Report:
 1. Did you encounter this recently, or has this bug always been there:

 2. Expected behaviour:

 3. Console logs (http://blog.getpostman.com/2014/01/27/enabling-chrome-developer-tools-inside-postman/ for the Chrome App, View->Toggle Dev Tools for the Mac app):
 4. Screenshots (if applicable)

## Steps to reproduce the problem

From within Postman, query a

[2018-03-13 10:09] mkimont commented on #2030
+1

[2018-03-13 11:06] cattegy commented on #3166
+1 to this. I also run several requests in sequence and the resulting tab mess is confusing - I keep making the mistake of opening the same request twice because I haven't realized that a bunch of tabs were opened.

[2018-03-13 12:08] gartmeier opened #4328 "How to change Postman's SSL Certificate?"
I'd like to use Postman's proxy to monitor requests from my iOS simulator. I configured the HTTP and HTTPs proxy in my network settings and everything works fine for HTTP, but unfortunately, the certificate delivered by postman over HTTPS isn't trusted and expired in 2015.

To be able to use the proxy from the iOS simulator I'd need a CA root certificate to be delivered by Postman. CA root certifi

[2018-03-13 12:22] atul-shl commented on #3791
is there any plan to export response body in report in near future? It will be a great if this feature is incorporated

[2018-03-13 13:15] etienneq opened #4329 "§ character in variables is removed when creating an access token"
## App Details:
Postman for Linux
Version 6.0.9
linux 4.4.0-101-generic / x64

## Issue Report:
I'm new to Postman and encountered this problem.

I tried to get a new access token (OAuth 2). I stored the client secret in an environment variable. The secret containts a § character. Client authentication is set to 'Send as Basic Auth header'. Authentication fails. When I decode the base64 encoded he

[2018-03-13 15:22] sbrandwoo commented on #4323
I'm also seeing this on version 6.0.9 for x64 Linux. I see "Connecting" permanently in the top bar and my data never appears.

[2018-03-13 15:59] ZooDoo4U commented on #1498
So it appears there is still no option for users to have custom media types.  Sure seems there needs to be a way to registers one's own types, kind of bad when postman one's desired content type by setting the message body to "text"...

[2018-03-13 17:06] ronrother commented on #2253
Same issue with the Linux application. Mixing @LordGG and @abenhaim solutions worked for me. I am starting Postman with the following command:

HTTP_PROXY= HTTPS_PROXY= NO_PROXY=localhost postman

[2018-03-13 18:14] keyjm opened #4331 "Downgrade postman to 5.5.3"
## App Details:

[code]

## Issue Report:
 1. Did you encounter this recently, or has this bug always been there:
 2. Expected behaviour:
 3. Console logs (http://blog.getpostman.com/2014/01/27/enabling-chrome-developer-tools-inside-postman/ for the Chrome App, View->Toggle Dev Tools for the Mac app):
 4. Screenshots (if applicable)

Having issues since I upgraded to latest version with workspaces

[2018-03-13 20:44] trivial-search opened #4332 "Debug output not being printed in Console"
## App Details:

[code]

## Issue Report:
 1. In the native windows app--> Under tests--> write a simple console.log statement - console.log("test123");
Nothing gets printed in the Postman console or the develop tools ( when invoked through View --> Show Dev tools
 2. Expected behaviour:
 Debug message should be output to console

 4. Screenshots (if applicable)
The test script...

![image](https:

[2018-03-13 20:48] tdurden82 commented on #285
+1

[2018-03-13 22:02] Paychokxxx commented on #2598
Postman Version: Version 6.0.9
App (Chrome app or Mac app): Windows App
OS details: Windows 10 64 Bit

in pre-script, if I try to set 0 to variable

let steps_to_add = 0;
pm.environment.set("steps_to_add", steps_to_add);

in quick look 0 will be displayed but really
environment variable will have empty space

[2018-03-13 22:05] Paychokxxx opened #4333 "0 is not added as value to envoroment variable from pre-script"
Postman Version: Version 6.0.9
App (Chrome app or Mac app): Windows App
OS details: Windows 10 64 Bit

in pre-script, if I try to set 0 to variable

let steps_to_add = 0;
pm.environment.set("steps_to_add", steps_to_add);

in quick look 0 will be displayed but really
environment variable will have empty space (if you open environments with edit button or in test you use this value)

[2018-03-13 23:18] nikspatel007 commented on #1947
I would love default headers option as well. For now, I have been using `Presets` feature to add multiple headers to the new requests as I create them.

https://www.getpostman.com/docs/v6/postman/sending_api_requests/requests &rarr; `Header Presets`

[2018-03-14 01:45] veneMarcos commented on #156
I had this feature just in my 6.0.9 version on mac, after I using a 5.5.0 version this feature doesn`t work.

[2018-03-14 02:47] talktoudhai opened #4334 "How to use regular expression in postman script"
Hi,

I would like to know how to use regex in Postman to validate the value format in JSON response.

e.g.:
"PhoneNumber" : "800-800-800"

[2018-03-14 05:53] cpetricksunsuper commented on #903
+1, how is this not already a thing?

[2018-03-14 07:04] ghost commented on #4333
Hey,
Thanks for reporting the issue. The value is being set to zero successfully in the database but is not getting rendered in the view correctly.
Since it is being set correctly, this won't interfere with your scripts (you can continue to use the variable.). In the meanwhile, we will fix the rendering issue.
Cheers !

[2018-03-14 07:20] ghost commented on #4321
I have experienced the same bug

Postman for Windows
Version 6.0.9
win32 6.1.7601 / x64

The issue does not affect all my collections

The issue first occurs when you use the collection runner. If you export, then the incorrect order seen in the collection runner appears in the export

The issue is critical. It destroys the functionality of collections in which order is significant

[2018-03-14 07:23] ghost commented on #4321
It further occurs to me that the destruction of the order may occur whenthe collection is updated, and this would explain why collections which I have not edited can be exported with the order preserved

[2018-03-14 07:48] Paychokxxx commented on #4333
when I run my tests with Newman and use this set variable in POST request body - 0 is also missing

[2018-03-14 08:53] Umkus opened #4335 "Changing content type of post body overwrites "Content-type" header"
## App Details:
[code]

## Issue Report:
 1. Changing type of the Raw post body in the dropdown overwrites `Content-Type` header
 2. Expected behaviour: Dropdown for the `Raw` body type is used for syntax highlighting
 3. I have to choose between syntax highlighting and correct headers
 4. Demo: https://gfycat.com/PerfumedCorruptGosling

[2018-03-14 09:05] Dmytro-Komaryst commented on #2598
Hello, I can't reproduce the problem with 0 :

Postman Version: Version 6.0.9
App (Chrome app or Mac app): Windows App
OS details: Windows 10 64 Bit

 Pre-request Script:
let steps_to_add = 0;
pm.environment.set("steps_to_add", steps_to_add);

Tests:
console.log(pm.environment.get("steps_to_add")) // Postman console: 0
console.log(pm.environment.get("steps_to_add") === 0); //Postman console: true

[2018-03-14 09:57] sivcan commented on #4323
@anreddy018 @sbrandwoo - Thanks for reporting this, we'll look into this issue.
A quick fix might be to logout of the app and login again.

[2018-03-14 10:04] poojakhatri opened #4336 "Error"
When I send data through row data its is working fine but same time I am using form-data its shows error.

[2018-03-14 10:06] sbrandwoo commented on #4323
I believe the Sync servers were down. 6.0.9 didn't cope with this well and threw an error in the console. I clearly my local data and downgraded to 5.1.3 and could see the sync moving between Connecting, Syncing over and over.

This morning it looks like sync has recovered and working as expected.

[2018-03-14 10:50] PurpleBabar commented on #3813
Could you provide an example of what you're trying to do ? :) (some code would be great :) )

[2018-03-14 12:02] cawoodm opened #4337 "Search should not search in folder name"
Currently when one searches requests it seems to look in the folder name as well. This can be downright annoying when the folder name contains the word you are searching for.

So, if you have a folder called "Elastic Search" and you search for the word "search" it returns all collections in the folder even if they do not contain the word "search".

![image](https://user-images.githubusercontent.co

[2018-03-14 13:05] Citizen01 commented on #3315
Also if you keep `Ctrl+Z` pressed (so it undoes things faster) until the end of the "undo queue", then you can't redo anymore, the queue seems to be totally wiped out.

[2018-03-14 13:08] JTL1992 commented on #4307
@harryi3t sorry for replay late
{
    "args": {},
    "data": {},
    "files": {},
    "form": {},
    "headers": {
        "host": "postman-echo.com",
        "content-length": "0",
        "accept": "*/*",
        "accept-encoding": "gzip, deflate",
        "cache-control": "no-cache",
        "content-type": "multipart/form-data; boundary=--------------------------323348562081261145893548",

[2018-03-14 13:16] markstos commented on #903
@cpetricksunsuper Because it's open source and you haven't contributed a pull request to implement it yet.

[2018-03-14 13:40] alexisml commented on #4299
I tried this out in other computer and it worked, so I reinstalled postman in the one that wasn't working and now it works. This is weird.

[2018-03-14 13:40] #4299 closed, assigned to sivcan

[2018-03-14 13:43] Toumassa opened #4338 "Failed to import collection because of duplicated request guid"
## App Details:
[code]

## Issue Report/:
Hello

Today I tried to import a collection of request/tests that I exported 7 monts ago with an older version of Postman (collection v1).
I ended with a simple error saying 'Failed to import collection ***'. Nothing else.

After investigating a little I figured out that the problem is duplicated request guid ("8191d8ab-fb6d-13b2-6be3-a2abe562ddc3") in the

[2018-03-14 13:54] anreddy018 commented on #4323
Thank you ☺   Still same error.  Might be chrome security policies also preventing the  rest request and response.

From: Sivcan Singh [mailto:notifications@github.com]
Sent: March-14-18 5:57 AM
To: postmanlabs/postman-app-support
Cc: Reddy, An; Mention
Subject: Re: [postmanlabs/postman-app-support] Post Man :Error: Could not fetch from sync. Socket not connected. (#4323)

@anreddy018<https://gith

[2018-03-14 14:57] testmonger commented on #3691
Postman Version 6.0.9 , Macbook Pro o/s ver 10.13.3
None of these work: cmd+c, Edit\Copy, right click Copy
trying to paste into another postman request, or Excel, or VisualStudio.

[2018-03-14 14:57] harryi3t commented on #4307
@JTL1992 This is really weir, I am not able to reproduce this. Can you try these steps and let me know if any of these helps?
1. Try restarting the app
2. Try creating a new collection and a new POST request
3. Try using a different body type (raw or x-www-form-urlencoded)

[2018-03-14 15:12] reggi commented on #2724
Is there any progress on this? Is this something the open-source community can do, or does it have to be done by @postman-admin ?

[2018-03-14 15:12] vzhufk opened #4339 "Hightlight newline characters in headers for debugging"
## App Details:
[code]

So. Recently I had a problem with Desktop Postman. I find out if you somehow paste New Line character(Enter) in headers postman refuses to send any request.

## Code
[code]

Steps to reproduce:
Just copy New Line Char and paste it into Headers values and try to Send request.

[2018-03-14 15:21] reallyroy commented on #4303
Seeing the same thing for 6.0.9 on Ubuntu 16.04.2 LTS

[Postman.log](https://github.com/postmanlabs/postman-app-support/files/1811752/Postman.log)

[2018-03-14 15:28] kapitanluffy commented on #2418
I am having this issue as well.

[2018-03-14 16:15] anujgtm1 commented on #697
+1

[2018-03-14 16:57] dbkaynor opened #4340 "pm.test("**** This should fail ****", false) returns pass"
The following code samples return pass or fail when used in a test, however both return true.

pm.test("**** This should fail ****", false)
pm.test("**** This should pass ****", true)

[2018-03-14 17:28] anreddy018 commented on #4323
i Seeing this error : Could not fetch from sync. Socket not connected. Could U please advise any workaround.

[2018-03-14 17:30] anreddy018 commented on #4249
Hi sivcan,  Could you please tell me what change you made make it work. Please explain configurations if possible.
appreciated

Thanks

[2018-03-14 17:42] anreddy018 commented on #4237
@sivcan , I Can see the InSync is connecting... and getting error : Could not fetch from sync. Socket not connected. Could you please advise if have any work around.

Thanks

[2018-03-14 18:28] TheAllThing commented on #4297
Hello @kamalaknn. Thanks for the response.

1. Are you seeing the collections as empty every time you restart the app?
   1. Yes.
1. Are requests missing for all the collections or only a few of them?
   1. All requests are missing.
1. Do you see any errors in the DevTools View -> Developer -> Show DevTools(Shared) and View -> Developer -> Show DevTools(Current View)
   1. There are several. One i

[2018-03-14 18:42] ghinks commented on #2724
totally awesome idea. I have been using the request code snippet generation for ages, and was wondering when we would move on to fetch.

[2018-03-14 19:24] chrisron95 opened #4341 "Feature request: ability to continue runner when error arrises"
## App Details:

[code]

## Feature:
I wrote an issue a while back about the runner stopping every time an error arrises and that it shouldn't stop the runner. Well along those lines, I think there should be an option to continue where it left off. For example, I have a collection that creates a consumer, links accounts, creates orders, etc. Well, a lot of times when there's an error, it happens a

[2018-03-14 19:27] pdbrito commented on #3813
@phgeek

Here's an example I've been using to refresh my access tokens with an external api:

[code]

[2018-03-14 19:58] unff commented on #4140
Sorry for the delay.  My Dev Tools show the following errors:

![sshot0359](https://user-images.githubusercontent.com/7915543/37427697-8d46a1f6-27a0-11e8-8c1b-765a070444eb.png)

[2018-03-14 20:49] dbazile commented on #3315
Will this never be fixed?

I’ve started using [Insomnia](https://insomnia.rest/) which doesn’t suffer from this problem.

When trying to troubleshoot a broken REST API and Ctrl+Z is slow-rolling your undo stack, it adds stress to an already stressful situation. :(

[2018-03-14 20:49] fedelibar commented on #3312
+1

[2018-03-14 21:35] kdelsol-incomm commented on #4331
The old version can be downloaded from here

https://dl.pstmn.io/download/version/5.5.3/windows64

https://dl.pstmn.io/download/version/5.5.3/osx64

[2018-03-14 22:50] Tapppi opened #4342 "Constant disconnects"
[code]

## Issue Report:
Constant disconnects and errors about sync connections. Really disturbing to workflow.

 1. Did you encounter this recently, or has this bug always been there:
This started happening after update to postman 6
 2. Expected behaviour:
No constant disconnection errors
 3. Console logs (http://blog.getpostman.com/2014/01/27/enabling-chrome-developer-tools-inside-postman/ for t

[2018-03-14 23:19] mlambley commented on #3315
As have I. It has a few glitches here and there, but it's open source so we don't wait years for bugs to get fixed.

[2018-03-14 23:57] jpringle commented on #4342
I am experiencing the same issue, with the same errors showing in Console logs.

I am also on Postman 6.0.9, but am using MacOS 10.11.6.

In fact, the above error message popped up 2x while I was typing this comment.

[2018-03-15 03:51] ScrappyXII commented on #3977
@harryi3t  please try again i did not see this issue. If problem persists for you, would suggest contact cloud support for resolution as i dont have visibility into that.

[2018-03-15 05:34] ujjalroy1985 commented on #1632
{
    "inventory": [
        {
            "siteName": "Default",
            "uuid": "89dae40e-9702-4bb3-9d3d-ea4bdc33ea5d",
            "devices": [
                {
                    "cards": [
                        {
                            "uuid": "3404c0e3-3eb7-47fb-a62e-e261374999c1",
                            "name": "10GBE-1STR",
                            "ports": [

[2018-03-15 05:46] ujjalroy1985 opened #4343 "How to fetch the value from a nested JSON response in Postman Test Script?"
{
"inventory": [
{
"siteName": "Default",
"uuid": "89dae40e-9702-4bb3-9d3d-ea4bdc33ea5d",
"devices": [
{
"cards": [
{
"uuid": "3404c0e3-3eb7-47fb-a62e-e261374999c1",
"name": "10GBE-1STR",
"ports": [
{
"uuid": "623ddb79-7155-4199-814c-0c76ffefc70a",
"name": "PORT",
"position": 1,
"alias": null
}
],
"position": 6,
"cards": []
},
{
"uuid": "06f19746-8104-40d0-ac96-b0c3bcdf6daf",
"name": "10GBE-1STR",

[2018-03-15 05:55] harryi3t commented on #4343
@ujjalroy1985 Issues on this repo are supposed to be about any bug reports or feature requests.
For questions about how to use the product itself please check our [Discourse community](https://community.getpostman.com/) or [stackoverflow](https://stackoverflow.com/questions/tagged/postman)

[2018-03-15 05:55] #4343 closed, assigned to nobody

[2018-03-15 06:02] Dzeinz commented on #4316
I wouldn’t label this as solely an enhancement.  I personally view it as a defect if your software asks you to provide the Description for path variables but then does not provide it back in the documentation.

[2018-03-15 07:00] kamalaknn commented on #4323
@anreddy018

The error indicates that we were not able to establish a connection with Sync. We were facing some performance issues on our servers. Things should be back to normal now. Could you confirm this?

[2018-03-15 07:03] kamalaknn commented on #4297
@TheAllThing

My bad, our support email is `help[at]getpostman.com`. Please forward the logs to this email.

[2018-03-15 08:14] gkatzioura commented on #2030
+1

[2018-03-15 08:19] kamalaknn commented on #4140
Hey,

Sorry for the delayed response.

From the details @jdinardo30 has attached I could see that the token type is `BearerToken`. According to the OAuth 2.0 specification token [type section](https://tools.ietf.org/html/rfc6749#section-7.1) any token type is supported, provided the client understands it.

Postman currently only understands `bearer` token. So it doesn't recognize `BearerToken` and

[2018-03-15 08:19] #4140 closed, assigned to kamalaknn

[2018-03-15 08:30] ymajoros commented on #2621
+1. That would also help for a simple use case where you want most variables to be shared with a team, but some still have to be local. If we could select multiple environments, we could just have a shared one and a local one at the same time.

[2018-03-15 09:34] Lakrimou opened #4344 "form-data : doesn't work but raw work when i setup application/json"
i'm trying to test an endpoint ressource
when i put data using form-data i get this message:

`{
    "code": 400,
    "message": "Invalid json message received"
}`

when i use raw and setting JSON(application/json) it's wok fine for me !

[2018-03-15 10:02] kamalaknn commented on #4262
Closing this due to inactivity. Please reopen if you still find the issue on our latest version.

[2018-03-15 10:07] kamalaknn commented on #4005
Hi everyone,

We've pushed a lot of improvements to our data storage and sync layers in the latest version of the app. Could you update your app to the latest version and let us know if you're facing similar issues?

[2018-03-15 10:09] kamalaknn commented on #3987
Hi @chrisron95 @vdcardenas

We've been working on some major improvements to our internal data storage layers in the app. Could you update your app to the latest version (6.0.9 or higher) and verify this?

[2018-03-15 10:13] kamalaknn commented on #3883
@roukmoute

From your screenshot I could see that you have a custom `Authorization` header defined. Please remove any headers and Postman will automatically attach `Authorization` headers.

Please update your app to the latest version and let us know if you face any issues.

[2018-03-15 10:13] #3883 closed, assigned to kamalaknn

[2018-03-15 10:14] kamalaknn commented on #3775
Hi @RomanNess @reinouts

This fix should be out on production now. Please update your app to the latest version and give it a try.

Thanks.

[2018-03-15 10:14] #3775 closed, assigned to kamalaknn

[2018-03-15 10:31] anuragw commented on #4313
+1

Facing a similar issue. 6.0.9 seems to be using 4 space indentation instead of the previous 2.

[2018-03-15 10:48] hongaar commented on #3731
I'd be very, very happy if this card was moved up on the list. I'm almost daily looking at the Trello board for any progress 👀.

Could the Markdown parser be modified to let through `<style>...</style>` blocks in the collection description?

That would be a very nice quick fix so we can finally fully customise the documentation page!

[2018-03-15 11:06] callmeaatrey commented on #4021
Hey @ryan1st ,

Sorry for the delayed response.

In the latest version 6.0.x we've added a UI Improvement that gives the information regarding the spec-compliance of the received token right in the Manage Tokens dialog. This will prevent similar confusions where the access token is not recognised.

I'm closing the issue for now. Feel free to open if it still persists after updating to the new vers

[2018-03-15 11:06] #4021 closed, assigned to harryi3t, kamalaknn

[2018-03-15 11:40] norcino opened #4345 "Feature request: Better management for multiple environments"
As a user I would like to have a feature in the Manage Environments > Edit Environment view, so that I can Compare the current environment configuration with another existing one, chosen from a drop-down list.
Once selected the compare with Environment, a text will appear under the input containing the name of the environment saying "Comparing with environment: MyOtherEnv [x]".
Clicking on a butto

[2018-03-15 11:41] ryan1st commented on #4021
Thanks for the hard work !

[2018-03-15 11:57] sivcan commented on #4340
@dbkaynor - pm.test is actually using an implementation close to Chai and you can refer the code here [Chai JS Expect](https://github.com/chaijs/chai/blob/master/lib/chai/interface/expect.js).

Read #TIP 6 (BDD) - [API Testing tips from a postman professional](http://blog.getpostman.com/2017/07/28/api-testing-tips-from-a-postman-professional/)

The **test** expects an assertion error to be thrown

[2018-03-15 11:57] #4340 closed, assigned to nobody

[2018-03-15 12:25] silviucotilici commented on #622
+1

[2018-03-15 13:53] anreddy018 commented on #4323
Still Same issue. Socket not connected and its not I n sync. Please advise me the workaround. Thanks

From: Kamalakannan [mailto:notifications@github.com]
Sent: March-15-18 3:01 AM
To: postmanlabs/postman-app-support
Cc: Reddy, An; Mention
Subject: Re: [postmanlabs/postman-app-support] Post Man :Error: Could not fetch from sync. Socket not connected. (#4323)

@anreddy018<https://github.com/anreddy

[2018-03-15 15:14] charlieg-nuco commented on #1818
For me I think it's better when I'm using the app and not the chrome webapp. They look the same but the chrome app says that it's deprecated at the top.

[2018-03-15 15:42] qa-bob opened #4346 "Grammar error"
![error message grammar](https://user-images.githubusercontent.com/3505937/37474121-d6923172-282c-11e8-91a4-f9c09bc14efc.jpg)

## App Details:

[code]

## Issue Report:
 1. Did you encounter this recently, or has this bug always been there: the First time I have seen this.
 2. Expected behavior:  Good grammar in error messages.
 3. Console logs (http://blog.getpostman.com/2014/01/27/enabling-chrom

[2018-03-15 16:45] TheAllThing commented on #4297
Thanks, @kamalaknn . I just sent them.

[2018-03-15 17:32] prashantagarwal commented on #3506
Hey everyone. We have fixed this internally and soon we will make it available on our canary channel. I will keep you updated when we will make it available in production apps.
Thanks

[2018-03-15 17:33] prashantagarwal commented on #3315
Hey everyone. We have fixed this internally and soon we will make it available on our canary app. I will keep you updated when we will make it available in production apps.
Thanks

[2018-03-15 17:36] bit-cmdr opened #4347 "Feature Request: Have local variables that are global to all workspaces"
## App Details:
[code]

## Issue Report:
 1. Did you encounter this recently, or has this bug always been there: New request due to changes in v6
 2. Expected behaviour: Previously global variables were global to everything, but not shared with anyone. Now global variables are shared and associated with a specific workspace.

There are certain situations where you may want to store sensitive infor

[2018-03-15 17:45] mvalezy commented on #2030
+1

[2018-03-15 17:55] keyjm commented on #4331
Thank you. That worked

[2018-03-15 17:55] #4331 closed, assigned to nobody

[2018-03-15 19:01] mverma-va commented on #3173
It works with additional parameter but only if the variable is defined in testscript and not when it is get from environment variables.
This WORKS:
pm.test('User schema is valid', function() {  pm.expect(tv4.validate(allData, user_schema, false, true)).to.be.true});
This Does NOT WORKS:
pm.test('User schema is valid', function() {  pm.expect(tv4.validate(allData, pm.environment.get("user_schema"),

[2018-03-15 20:07] anreddy018 commented on #3127
@davorpeic ,
  Still getting this error : Uncaught (in promise) Error: Could not fetch from sync. Socket not connected.
Please advise me work around. Thanks
Check that entitites shown here should only be personal entites
componentWillMount @ requester.js:560115
requester.js:368600 error fetching Error: Could not fetch from sync. Socket not connected.
    at SyncRemoteFetcherService._dispatchCallba

[2018-03-15 20:08] anreddy018 commented on #4342
Iam also experiencing below error. any advise much appreciated. Thanks
Check that entitites shown here should only be personal entites
componentWillMount @ requester.js:560115
requester.js:368600 error fetching Error: Could not fetch from sync. Socket not connected.
    at SyncRemoteFetcherService._dispatchCallback (file:///C:/Users/aredd11/AppData/Local/Postman/app-6.0.9/resources/app.asar/js/req

[2018-03-15 20:09] cozzbp commented on #2195
+1

[2018-03-15 20:56] anreddy018 commented on #1169
testing from Rest service from Postman app getting Error : Socket not connected. any help much appreciated.

[2018-03-15 21:24] Tapppi commented on #4342
Anyone from postman have more information on this bug?

[2018-03-15 22:36] a85 commented on #4342
We are seeing heavy loads on the server. Will update this thread with more information soon.

[2018-03-15 22:43] allyn-psyonix commented on #4120
Can we get this changed back to open? It's definitely still a serious issue in 6.x (I am currently on 6.0.9). I just duplicated an item and the new copy does not appear in the list. This is the third or fourth different type of action that causes items to disappear. Manual resync from settings does not resolve the issue, only manually deleting the local file system cache and restarting the app get

[2018-03-16 00:42] youcef-laribi commented on #3390
+1

[2018-03-16 05:39] YeswanthNag5 commented on #4326
hm,.. No reply yet.

[2018-03-16 06:55] sdnts commented on #4347
Hey @bit-cmdr! Have you taken a look at [collection variables](https://www.getpostman.com/docs/v6/postman/environments_and_globals/variables)? If you set up variables here, they will follow your collection, wherever it goes (whichever workspace it belongs to).

This still won't address the issue of not being shared, though, so I'm adding this as a feature request.
You can use unshared environments

[2018-03-16 07:59] charliebillen opened #4348 "Failing assertions with multiple-word reason phrases"
## App Details:

[code]

## Issue Report:
We've recently started using some of the `pm.response.to.be.*` assertions described in the [Sandbox API reference](https://www.getpostman.com/docs/v6/postman/scripts/postman_sandbox_api_reference) and have noticed a problem with those that assert against reason phrases that contain multiple words, such as 'BAD REQUEST' and 'NOT FOUND'.

The assertions are

[2018-03-16 08:17] SeedyROM commented on #4323
Getting this same error on Ubuntu 16.04 using the latest download from the main website. Only happens during the collection runner.

Only seems to be during post requests.

[code]

[2018-03-16 09:05] El-Mahbub commented on #2352
I have similiar problem. And i was did what skwirking say but when i want to extract nuget package i got dialog say that file was currupted and still cant to install postman.

[2018-03-16 09:21] beheist commented on #3518
Still exists in Version 6.0.9 (6.0.9) for Mac. Fix greatly appreciated.

[2018-03-16 11:33] lgardon commented on #2030
+10000

[2018-03-16 11:36] sivcan commented on #4019
A new version of Postman i.e Postman 6 is out and I'd request you all to kindly update to the same.
Let us know if you are still facing this issue of Collection Runner Hanging and I'll reopen this issue.

[2018-03-16 11:39] sivcan commented on #4346
Hi @qa-bob - Thanks for reporting this.
We've fixed this typo on our end and the same will be reflected in the upcoming release.

Closing this issue.

[2018-03-16 11:39] #4346 closed, assigned to sankalp0o

[2018-03-16 11:44] sivcan commented on #3711
I suggest you to update to the latest version of the app and let us know if the issue still persists.

[2018-03-16 11:44] #3711 closed, assigned to numaanashraf

[2018-03-16 12:01] sivcan commented on #4307
Hope that this issue is resolved for you.
Closing this issue because of inactivity.

[2018-03-16 12:01] #4307 closed, assigned to harryi3t

[2018-03-16 12:03] sivcan commented on #3799
Kindly update to the latest version of Postman app - [Download latest version](https://www.getpostman.com/apps)

Feel free to reopen this issue if you're still experiencing this problem.

[2018-03-16 12:14] rm-fixeads commented on #3827
@ishwardeveloper
![screen shot 2018-03-16 at 12 13 45](https://user-images.githubusercontent.com/20791352/37520074-8cd7a94e-2913-11e8-9d64-fa1af8cfdb86.png)

[2018-03-16 12:27] sivcan commented on #4049
Kindly update to the latest version of the postman.
If this issue still persists, feel free to reopen this issue and revert back with details (if any).

[2018-03-16 12:27] #4049 closed, assigned to SamvelRaja

[2018-03-16 12:33] sivcan commented on #4010
Kindly update to the latest version of the Postman desktop app.
Feel free to reopen this issue if the issue persists.

[2018-03-16 12:33] #4010 closed, assigned to SamvelRaja

[2018-03-16 12:35] sivcan commented on #4014
Kindly update to the latest version of the app - [Postman 6](https://www.getpostman.com/apps)

[2018-03-16 12:35] #4014 closed, assigned to numaanashraf

[2018-03-16 12:43] jadengeller-asana opened #4349 "Body lines silently truncated after 4096 characters"
## App Details:

[code]

## Issue Report:
 1. Did you encounter this recently, or has this bug always been there:
I've encountered this recently as well as a few months ago. It may have always been there.
 2. Expected behaviour:
Don't silently truncate.
 3. Console logs (http://blog.getpostman.com/2014/01/27/enabling-chrome-developer-tools-inside-postman/ for the Chrome App, View->Toggle Dev Tools

[2018-03-16 14:23] joseanand commented on #2833
Same issue happened for me and I tried to click shift button then minimize and then tried to maximize the same.  This worked for me.

[2018-03-16 14:28] chrisron95 commented on #3987
Since updating to 6.0.9 the problem seems to be resolved

[2018-03-16 15:24] matthewsommer commented on #4075
Hi, I was Googling how to import swagger paths into Postman folders and came across this feature request. Still being considered? Would be great to have!

[2018-03-16 15:40] AlexanderTunick opened #4350 "Error during JSON.parse Unexpected token u in JSON at position 0"
Hi, successfully using newman tests in TeamCity, and now want a bit to upgrade it by adding console.log for everything that !==200
Want to notice that we receive JSON format response (I asked developers to change it from html)
but this issue still present (but only in Postman):
**Error during JSON.parse Unexpected token u in JSON at position 0**
In newman console.log() successfully outputting.

I

[2018-03-16 18:16] ghost commented on #3960
+1

[2018-03-16 19:16] sivcan commented on #4350
Hi @Alextunchii  - I think you're trying to parse `undefined` or something that's a `string` maybe ?
Can you give me a sample of the response you're trying to parse ?

Try :
1. Open Postman Console (Click on View > Postman Console)
2. Write this : `console.log(responseBody.message)` as a test script in the request
3. Hit send and check if you're getting the correct responseBody.message being logge

[2018-03-16 19:36] sivcan commented on #4332
Hi @sunjeet-khokhar - That's simple because an error has been thrown and the execution of the code will stop right there (JavaScript) because there's no handling done for that error.

However, if you move your test lines inside a test function like so:
[code]

Then the test will fail obviously because it has caught the assertion error and now the execution will continue after that test.

You can t

[2018-03-16 19:36] #4332 closed, assigned to nobody

[2018-03-16 19:38] sivcan commented on #4322
@hitesh17 Can you elaborate more on what access has been denied to you ?
Kindly share the console logs too - View > Developer > Show Dev Tools (Shared)
and
View > Developer > Show Dev Tools (Current View)

[2018-03-16 19:47] sivcan commented on #4348
Hi @charliebillen - Thanks for reporting this. We'll look into it and get back to you.
However, you can use the status code check in the mean time.

[code]

[2018-03-16 19:50] sivcan commented on #4336
Hi @poojakhatri - Kindly elaborate more on this.
Provide us the steps and if possible then the sample data to reproduce this error.

Also, check that you're using the latest version of the Postman App [Postman 6](https://www.getpostman.com/apps)

Let us know if you're still facing the issue after updating to the latest version.

[2018-03-16 19:52] sivcan commented on #4334
@talktoudhai  Issues on this repo are supposed to be about any bug reports or feature requests.
For questions about how to use the product itself please check our [Discourse community](https://community.getpostman.com/) or [Stackoverflow](https://stackoverflow.com/questions/tagged/postman).

[2018-03-16 19:52] #4334 closed, assigned to nobody

[2018-03-16 19:57] sivcan commented on #1818
Kindly update to the latest version of the postman native app -  [Download Postman 6](https://www.getpostman.com/apps)
It has major performance improvements and new features.

If you're experiencing any issues regarding the crashes then feel free to reopen this issue.

[2018-03-16 19:57] #1818 closed, assigned to nobody

[2018-03-16 20:00] sivcan commented on #3887
This has been fixed in our latest postman release. [Download Postman 6](https://www.getpostman.com/apps)
Kindly check and if you're still experiencing the same issue then feel free to reopen this.

[2018-03-16 20:00] #3887 closed, assigned to sdnts

[2018-03-16 20:02] sivcan commented on #4105
Awesome.

[2018-03-16 20:02] #4105 closed, assigned to prashantagarwal

[2018-03-16 20:19] sivcan commented on #4338
Hi @Toumassa - That's strange.
I guess you've already manually deleted that duplicate ID and been able to import the collection.

If you're still experiencing this issue then feel free to reopen this issue.

[2018-03-16 20:19] #4338 closed, assigned to nobody

[2018-03-16 20:22] #4266 closed, assigned to sivcan

[2018-03-16 20:31] #3056 closed, assigned to kamalaknn

[2018-03-16 20:32] sivcan commented on #4100
Kindly update to the latest Postman app - [Download Postman 6](https://www.getpostman.com/apps) and let us know if you're experiencing the same issue.

[2018-03-16 20:32] #4100 closed, assigned to sdnts

[2018-03-16 20:39] sivcan commented on #4152
Duplicate of https://github.com/postmanlabs/postman-app-support/issues/4142

[2018-03-16 20:39] #4152 closed, assigned to nobody

[2018-03-16 20:50] jaytschneider commented on #4097
I would first like to give thanks to the Postman team for creating such an awesome application.  It has helped us make our application better.   If I could piggy back onto CreepyGnome's great ideas, I think some sort of mouse/hover over preview of a tab would also be welcomed.  My problem is before I know it I end up with too many tabs open.  Instead of opening each tab, I would like to be able to

[2018-03-16 21:00] rwlaschin commented on #2851
+1

[2018-03-16 21:36] seunzone opened #4351 "Postman Crashes at random on ubuntu Linux"
My Postman crashes at Random.
my fix: Install Postman using terminal:
See details here:
https://blog.bluematador.com/posts/postman-how-to-install-on-ubuntu-1604/

Always run postman from the terminal like so
![screenshot from 2018-03-16 22-33-50](https://user-images.githubusercontent.com/22764463/37545722-466c477e-296a-11e8-9837-4ae9a9bdb26c.png)

You should not experience any crashing

[2018-03-16 22:13] charliebillen commented on #4348
No problem.  Thanks, @sivcan

[2018-03-16 22:54] PabloLedo97 commented on #2285
Buenas tardes, el problema que tengo, es que al hacer un GET  al conjunto de recursos no me sale en ese conjunto un recurso que previamente habia creado correctamente mediante un POST. Cual podria ser el fallo gracias

[2018-03-17 03:37] kamalaknn commented on #3987
Thanks @chrisron95

Glad to hear that!

[2018-03-17 03:37] #3987 closed, assigned to SamvelRaja, kamalaknn

[2018-03-17 05:23] sivcan commented on #4351
Hi @seunzone are you on the latest version of the postman app i.e. Postman 6.0.9 (as of now) ?
If not then can you download the latest version and let us know if you're still experiencing this issue ?

[2018-03-17 05:29] prashantagarwal commented on #4120
@allyn-psyonix Can you help me with the exact steps to reproduce this issue. Also were you using sidebar filter while duplicating the request. Thanks

[2018-03-17 05:30] prashantagarwal commented on #3982
@rameshsubramanian87 Collection variables are now available in autocomplete and are also highlighted. Thanks

[2018-03-17 05:30] #3982 closed, assigned to prashantagarwal

[2018-03-17 11:23] liesislukas commented on #1473
Cmd+B works for me, macOS native client Version 6.0.9 (6.0.9) but still **undocumented**

[2018-03-17 13:00] AlexanderTunick commented on #4350
Hello! Thanks for response @sivcan
I'm still using Chrome Postman, but I see I need to take a step forward to Postman app

I use almost the same structure you have shown me:
[code]

Everything I need, using newman in TeamCity to see console log right in Build log while Error occurs (500, 400 etc) with explanation of body response in order not to go to postman and watching the result with the quest

[2018-03-17 13:00] #4350 closed, assigned to sivcan

[2018-03-17 13:30] devrck commented on #2701
+1

[2018-03-17 16:08] kinlane commented on #1535
+1

[2018-03-17 16:08] kinlane commented on #6682
+1

[2018-03-17 18:33] mfoote commented on #1719
i am not seeing... View > Toggle Two-pane view

[2018-03-17 18:36] mfoote commented on #3248
@KenGregory two-pane view does not appear to be available for me.

[2018-03-17 18:41] mfoote commented on #3248
@KenGregory Correct, I was using version 4, I had checked for an update but I guess you have to actually download version 6 not update it.

[2018-03-17 21:02] rmlira commented on #3173
I did a simple test and it worked. In prerequest scripts:

[code]

then in tests:

[code]

in a Get request to https://postman-echo.com/ip

Try this way, if not work can you show your scripts?

[2018-03-17 22:09] isurugiu commented on #3963
Hi,

Shall this be addressed?

Best,
-iulian

[2018-03-18 12:00] eranhazout commented on #3117
+6 (we are a team ;) Required fields should be very useful

[2018-03-19 00:48] suvaraj commented on #3799
Hi,
 I tried installing Postman-win64-6.0.10-Setup.exe. But still same error. @sivcan Please reopen the ticket.

[2018-03-19 03:52] fschai89 commented on #3089
+1

[2018-03-19 03:53] built-by-vjallada opened #4352 "CSV File as an iteration Data is appended with "\r" for the last record value."
## App Details:

[code]

## Issue Report:

Open the Collection Runner.
For the Data, browse the CSV file.
Check that the Data File type is auto selected to "text/csv".
Click on [Preview] button.
Check that the last record is appended by "\r"

Attached the screenshot.

Screenshot:
![image](https://user-images.githubusercontent.com/22824009/37577211-d6498796-2b84-11e8-82f1-1b938a342274.png)

[2018-03-19 04:03] built-by-vjallada opened #4353 "Collection Runner unable to identify the Data File Type for JSON file."
## App Details:

[code]

## Issue Report:

1. Open Postman.
2. Click on [Runner].
3. Under Data, select the File (Select the json File.)
4. Check the Data File Type is set to "Undetermined".

![image](https://user-images.githubusercontent.com/22824009/37577514-a12b3012-2b86-11e8-9145-aec0d74521c0.png)

[2018-03-19 06:06] #4336 closed, assigned to sivcan

[2018-03-19 06:10] sivcan commented on #4353
@sekhar-selenium - The collection runner does support JSON (not sure why you want to check undetermined over here as the option)
-> https://www.youtube.com/watch?v=NuQD2Xmg3x8&feature=youtu.be

[2018-03-19 06:16] #4322 closed, assigned to sivcan

[2018-03-19 06:17] sivcan commented on #4314
Hi @yishayn - The new update has been released (6.0.10) and it has the fix for the same.
Closing this issue.

[2018-03-19 06:17] #4314 closed, assigned to sivcan

[2018-03-19 06:18] sivcan commented on #4311
Hi @chrisron95 - The new update has been released (6.0.10) and has the fix for this issue.
Closing this.

[2018-03-19 06:18] #4311 closed, assigned to sivcan

[2018-03-19 06:19] sivcan commented on #4296
Hi @Ocsidot - The new update has been released (6.0.10) and it has the fix for the same.
Closing this issue.

[2018-03-19 06:19] Rndwiga commented on #2931
+1 on snap package please

[2018-03-19 06:20] sivcan commented on #4276
Hi @munnamathew - I'll mark that as a feature request.

[2018-03-19 06:36] built-by-vjallada commented on #4353
@sivcan , I'm not sure why there is a comment saying the collection runner does not support JSON file, but as a part of the Postman Documentation on the Working with the Files, it stated that as a part of the collection runner, anyone can work on Collection runner using the .csv or .json files.
Here is the link to support the above comment:
https://www.getpostman.com/docs/v6/postman/collection_run

[2018-03-19 06:38] kamalaknn commented on #4297
Hi @TheAllThing,

We've identified the root cause of the issue. The Postman App is having trouble loading the collections when there are a large number of requests(with heavy pre-request/test scripts).

We're working on a fix to load the requests in batches that will solve this. We'll push out a fix for this in the next release.

@TheAllThing I'm editing the title of the issue for anyone facing si

[2018-03-19 07:04] sivcan commented on #4353
@sekhar-selenium - Where is there a comment that collection runner does not support JSON files ?
It totally does.
Kindly take a look at the video link I shared in my first comment.

[2018-03-19 07:06] sivcan commented on #3799
@SamvelRaja - Can you look into this ?

[2018-03-19 07:13] SamvelRaja commented on #3799
@suvaraj can you try Postman.exe  through cmd? This should show up the internal logs while installing the postman on your machine.

[2018-03-19 07:23] jraff89 commented on #2392
+1

[2018-03-19 07:33] sivcan commented on #4302
@sanvipy - Apologies for the delayed reply.
We're still looking into this and will get back to you with further updates.

[2018-03-19 09:41] ivaaaan opened #4354 "Strange behavior when in environments"
## App Details:

[code]

## Issue Report:
I'm working with my team in PostMan Premium, and before the update to 6.0 this problem was no there. But now, we have for example 6 environments. When I edit one of the environment, that environment also updates for all team members. Why? In 5.0 version we had Environment templates, where they now?

So expected behavior:
When I edit some variables in the e

[2018-03-19 10:12] ragsnas commented on #3405
Same here with native app on Ubuntu 16.04.4 LTS
Crashes randomly and not only on requests.

[2018-03-19 10:53] ChrisYarland-Price commented on #4139
+1 I have the same issue what is even more annoying is that the api i am trying to call is on the no proxy list and yet this is ignored

[2018-03-19 10:54] kamalaknn commented on #3405
Can you try updating to the latest *Native App* for Postman and verify this?

[2018-03-19 11:15] YoSev commented on #1228
+1

[2018-03-19 11:17] kamalaknn commented on #4354
Him @ivaaaan

Starting with `Postman 6.0` we've made environments editable by everyone it is shared with. You should be able to create new environments that are not shared that don't update across the team.

I'm closing this issue as this is not a bug. You can also go through [discussions on our community forum](https://community.getpostman.com/search?q=environments) for ways to solve your use cas

[2018-03-19 11:17] #4354 closed, assigned to nobody

[2018-03-19 11:48] kamalaknn commented on #4345
Hi @norcino

I'm marking this as a feature request. We have something in mind for highlighting variable changes in a request. We'll see how we can solve this.

[2018-03-19 11:54] kamalaknn commented on #4342
We've pushed a few fixes in both Postman App and Sync servers. We expect the load to go down over the next few days.

Thanks for understanding.

[2018-03-19 11:54] #4342 closed, assigned to nobody

[2018-03-19 11:58] kamalaknn commented on #4349
Hi @jadengeller-asana

I just tried the same with our latest Native Postman App. I wasn't seeing any issues with truncation. Could you try downloading the latest version of our Native App from https://www.getpostman.com/apps and check if this still exists? Also, could you verify if the API is not truncating request bodies?

I'm closing this because the issue report is in the deprecated Chrome app.

[2018-03-19 11:58] #4349 closed, assigned to nobody

[2018-03-19 12:15] norcino commented on #4345
Thank you

[2018-03-19 12:23] actopolus commented on #1321
When should we expect this feature?
Are you working on it?

[2018-03-19 12:24] kamalaknn commented on #4344
Hey @Lakrimou

We'll need some more information to identify why this isn't working for you. From the error message, it looks like the API server is always expecting a JSON body.

I'm closing this as this isn't a bug with the Postman App itself. You'll find our [community forum](https://community.getpostman.com/) more helpful for discussion and debugging.

[2018-03-19 12:24] #4344 closed, assigned to nobody

[2018-03-19 12:31] sivcan commented on #4352
Hi @sekhar-selenium - Thanks for reporting this.
I'll look into it and get back to you.

[2018-03-19 12:32] sivcan commented on #4341
Hi @chrisron95 - I'll be marking this as a feature request.

[2018-03-19 12:42] kamalaknn commented on #4339
Hi @vzhufk,

I'm not sure about the implications of a header name having a newline character. Not sure if there's much Postman can do.

Postman could highlight newlines, trailing whitespaces differently so it helps you with debugging.

[2018-03-19 12:44] pawelpluta commented on #3566
Any plans to fix it? This issue is actually a blocker in migration from Chrome App, because application is unusable in most corporate worlds.

[2018-03-19 13:34] janAtcontinia commented on #4230
But now it is back. I send the 430.000 lines request. Some time (ie 30 seconds) goes by. the screen becomes black, so I cannot see when the response is received.
I just updated the postman app this morning to latest version.
Also, I cannot open the Postman Console when the body is 430.000 lines.  It just hangs with the orange dots and circles. And continues to write the small "initializing" texts.

[2018-03-19 13:40] adenix commented on #4105
This does not appear to be working in v6.0.10

![screen shot 2018-03-19 at 9 38 50 am](https://user-images.githubusercontent.com/8764760/37598776-8075c99a-2b59-11e8-9985-746e8d872d5e.png)

![screen shot 2018-03-19 at 9 38 18 am](https://user-images.githubusercontent.com/8764760/37598783-858a95fa-2b59-11e8-8bc2-4fee5495f5c9.png)

![screen shot 2018-03-19 at 9 39 11 am](https://user-images.githubuse

[2018-03-19 13:43] adenix commented on #4105
Nevermind. I have to save the request in the collection, close the request, and then re-open it.

[2018-03-19 14:23] mverma-va commented on #3173
@rmlira There is still one difference (they way you did works for me too), but I did not set the variable using pm.environment.set, I defined the variable itself in "Manage Environment" and then it does not work, can you try that.
Just remove your set statement and set the variable first manually in your "Manage env" section.

Also noticed one more thing that, even if I set it in one request and t

[2018-03-19 14:23] fabioyy commented on #2801
+1

[2018-03-19 14:28] david-poindexter commented on #3056
We are having this same issue.  What is the resolution?

[2018-03-19 14:39] Misiu commented on #3781
@harryi3t any news about first class support for HMAC auth?
I'm aware there are pre-request scripts, but HMAC-SHA256 and HMAC-SHA512 are quite standard and commonly used, so ideally there should be another option in TYPE dropdown in Authorization section.

[2018-03-19 15:35] hernanlaborde commented on #3405
I experiment the crash in ubuntu 17. I use the nativefile from  https://www.getpostman.com/apps

[2018-03-19 16:07] MADiep opened #4355 "NTLM unable to complete authentication"
## App Details:
[code]

## Issue Report:
 1. Did you encounter this recently, or has this bug always been there: It has been there for a while.
 2. Expected behaviour: NTLM authentication should be successful when providing correct credentials, but appears to be failing when parsing the type 2 message. Suspicion is that the NTLM authenticator is assuming only one WWW-AUTHENTICATE header exists whe

[2018-03-19 16:24] jpvajda commented on #2773
A preference to turn off Tabs would be awesome. I'd love to see this in the product.

[2018-03-19 16:56] ragsnas commented on #3405
@kamalaknn I thought i had the native app (does not run in chrome but stand alone). But now i have the native app and it does work fine. Thanks!

[2018-03-19 17:34] allyn-psyonix commented on #4120
To reproduce, do any of the following in the list along the left side:
- Drag and drop a test to another folder. It can be within the same collection or a new collection.
- Drag and drop a folder to a new collection
- Choose an item and select "Duplicate"

All of these have about an 80% chance for the item or duplicate to disappear from the list. For the second one (dragging a whole folder), somet

[2018-03-19 17:43] allyn-psyonix commented on #4120
In case it's relevant, we have quite a few tests. We have six shared collections with the largest two containing over 800 tests between them. Most of those are in folders within their respective collections.

I also just noticed that 6.0.10 is out so I updated and dragged a few tests around and do not see the issue at the moment. I'm hesitant to say everything is working fine since the change list

[2018-03-19 20:37] YoniWitz commented on #3770
I'm still experiencing the same bug, is it only me?

[2018-03-19 22:19] michaeldelucco-cc commented on #3127
I noticed this issue for more than one service. So, I tested the same calls with curl commands, and they were successful. As mentioned by one or two others in this thread, it turns out that Postman is adding a new line after an access token has been pasted in the "Authorization" header. Deleting this new line should enable your calls again.

[2018-03-19 22:43] binarymist commented on #2905
+1

[2018-03-19 23:39] rmlira commented on #3173
Hi @mverma-va . I see your point, sorry, I had not understood before. I made this test:

On Postman > Manage Environments > Add a new environment > create in this new environment a variable 'schema' with the content:

[code]
(bulk edit)

Then in request, on Tests I remove the prerequest scripts and keep the schema test as follows:

[code]

And it doesn't work properly, I mean it pass the test but

[2018-03-20 02:55] TheAllThing commented on #4297
Hello @kamalaknn.

A quick update. I have unsubscribed from all of our workspaces and only have a single collection with 1 request in my personal workspace. When I close the app and open again, that single personal workspace will not load the request. I still need to log out/in to resolve this. It certainly doesn't look like it has anything to do with large numbers of requests when the behavior is

[2018-03-20 04:10] JeromeLefebvre opened #4356 "Nesting `` `` in links no longer creates a hyperlink."
## App Details:
[code]

## Issue Report:
 1. Did you encounter this recently, or has this bug always been there:
Recently. I used to nest `` `` inside of the names of URLs, for example: [``google``](https://google.com) and click on the word google would open the google page. It no longer behaves this way.
 2. Expected behaviour:
This syntax should create a link
 3. Console logs (http://blog.getpos

[2018-03-20 04:37] GenweiWu commented on #1552
+1 good idea

[2018-03-20 05:02] kishorebattula opened #4357 "Collection runner not updating the environment variables which are set in tests"
## App Details:

[code]

## Issue Report:
 1. Did you encounter this recently, or has this bug always been there:
After last to last update.
 2. Expected behaviour:
Environment variables should be updated
 3. Console logs (http://blog.getpostman.com/2014/01/27/enabling-chrome-developer-tools-inside-postman/ for the Chrome App, View->Toggle Dev Tools for the Mac app):
 4. Screenshots (if applicable

[2018-03-20 05:19] kdmashruwala commented on #2082
Still issue with  Postman v6.0.10.

Content-Type →text/csv
Content-disposition →attachment; filename=export_2018-03-20_10-45-42.csv
Date →Tue, 20 Mar 2018 05:15:42 GMT
Transfer-Encoding →chunked
X-Application-Context →application:development

returns **response.csv** file instead of the **export_2018-03-20_10-45-42.csv** :(

[2018-03-20 05:24] munnamathew commented on #4276
@sivcan  . Thanks a lot for accepting the feature request.

[2018-03-20 06:07] Snickdx commented on #1104
+1

[2018-03-20 06:34] yunghoy commented on #697
+1

[2018-03-20 07:03] sivcan commented on #4357
Hi @kishorebattula - Can you please check if you've check marked the 'Persist Variables' option before running the run and also that you've set the correct environment for the run to work upon and also update.

You can refer to the following video (It shows using a data file but the process is the same - you can just skip attaching the  data file)
Discourse - [Discourse discussion about this issue

[2018-03-20 07:03] #4357 closed, assigned to nobody

[2018-03-20 08:50] mickey110 opened #4358 "Exporting Postman Collections happens upside down / downside up"
## App Details:

This happens in Postman - Windows x64 Native App v6.0.10 and v6.0.9, I re-installed until v6.08 and there it's OK.

## Issue Report:

Recently I found that exporting Postman Collections happens upside down / downside up i.e. the resulting .json has last folder/request first, then the request before that, etc..., ending with the first folder/request.

Expected behaviour:  requests/

[2018-03-20 09:02] kamalaknn commented on #4358
Hi @mickey110

I just tried exporting a collection from the latest version of the app. I exported in v1, v2 and v2.1 schema formats. The order was correct as represented in the UI.

Could you give us more information to debug this better?

1. What format are you exporting the collection?
2. Does it happen for all collections or only a particular collection?
3. After you import the exported collect

[2018-03-20 09:51] stianlagstad opened #4359 "[Linux] Stuck on splash screen"
Hi!

After downloading the latest linux version (Postman-linux-x64-6.0.10.tar.gz), extracting in to my desktop and attempting to start the `Postman` file all I get is this message:
[code]

Anything I can do to look further into why this is happening? Tried googling the message but found nothing of interest. I'm using the i3 window manager, but I don't think that should matter as the previous versi

[2018-03-20 10:16] SamvelRaja commented on #4359
@stianlagstad
1. can you provide us the OS distribution, This will help us in narrowing down the problem.
2. And, also I want you to ensure
    i. **Quit** all the postman process running before you start the new version.
    ii. Double check, You **replaced** all the old version files with the latest version ones.

[2018-03-20 10:51] emilianobonassi commented on #2931
+1 on snap

[2018-03-20 11:39] starkshaw commented on #576
I have a similar issue. The `-XPOST` in `curl` does not work in Postman.

[2018-03-20 12:06] mickey110 commented on #4358
1. Collection v2.1 (I always choose recommended).
2 and 3.
It happened in a particular collection, I did not try other collections at first. In the followup I tried version 5.5.3 up until 6.0.10  to export/import the same particular collection, but I cannot reproduce the issue anymore.

I suspect that in a past version the order in that particular collection got upside down somehow (an incident th

[2018-03-20 12:12] sdnts commented on #4355
Hi @MADiep, thanks for reporting this. You're absolutely correct, this is an issue. We will look into this!

[2018-03-20 12:14] sdnts commented on #4356
Hi @JeromeLefebvre, I just tried this on the latest version of the app (v6.0.10), and this seems to be working. Of course, following the link from the app itself isn't possible right now, but if you open the collection's documentation in a web browser, the link should work. You can open a collection's documentation by clicking on the `View in web` button right above the panel you attached a screen

[2018-03-20 12:14] #4356 closed, assigned to nobody

[2018-03-20 12:21] sdnts commented on #1374
Chrome apps have been deprecated for a while now. While we're aware that an Interceptor-like workflow is needed for the native app, I'm closing this issue for now.
You can follow the native app Interceptor progress [here](https://github.com/postmanlabs/postman-app-support/issues/3874)

[2018-03-20 12:21] #1374 closed, assigned to nobody

[2018-03-20 12:23] harryi3t commented on #4329
@etienneq
This is a known bug. There's already an issue open for this here https://github.com/postmanlabs/postman-app-support/issues/4070

Closing this in favor of the above mentioned issue. Please subscribe to that thread for updates.

[2018-03-20 12:23] #4329 closed, assigned to harryi3t

[2018-03-20 12:26] wizzed commented on #4090
Writing this from v6.0.10, the syncing is causing problems for me, I'm not able to publish my collections properly because of the syncing issue.

[2018-03-20 12:28] harryi3t commented on #3781
@Misiu I am afraid this is not on our immediate roadmap. Please upvote the issue :)

[2018-03-20 12:35] sivcan commented on #4352
Hi @sekhar-selenium - I tried to reproduce this error but couldn't.
The editor that you're using is probably adding this escape character.
![image](https://user-images.githubusercontent.com/12631777/37654709-1668aa3e-2c69-11e8-8bd4-c0b163cf1f6d.png)

Can you try it with multiple CSV files ?
Or is this just specific to this one ?

Can you try another editor to generate this file?

[2018-03-20 12:45] stianlagstad commented on #4359
Sorry about that! Here:
[code]

I replaced the old version on my first try, but got that error message. I then deleted the folder, downloaded the new version again and unpacked that. Same result. I made sure that the old process was gone by doing `killall postman`.

[2018-03-20 12:49] sivcan commented on #4309
Closing this issue since it's resolved.

[2018-03-20 12:49] #4309 closed, assigned to ankitjaggi

[2018-03-20 12:58] sivcan commented on #4295
Closing this issue.
If the issue still persists, feel free to reopen it.

[2018-03-20 12:58] #4295 closed, assigned to nobody

[2018-03-20 13:02] sdnts commented on #1383
Guys, this issue will be solved with variable types. You can follow progress on that [here](https://github.com/postmanlabs/postman-app-support/issues/4173). Closing this for now :)

[2018-03-20 13:02] #1383 closed, assigned to nobody

[2018-03-20 13:05] sdnts commented on #2187
I believe this ties in with [this](https://github.com/postmanlabs/postman-app-support/issues/3312) issue, and as such will be accomplished together. I'm marking this as a feature request.

[2018-03-20 13:05] sivcan commented on #4207
Closing this issue.
If you need further assistance regarding the same, feel free to reach out to us.

[2018-03-20 13:05] #4207 closed, assigned to sdnts

[2018-03-20 13:06] sdnts commented on #2192
@jfeltis Is this still an issue? Please let me know if it is, and I'll reopen :)

[2018-03-20 13:06] #2192 closed, assigned to godfrzero

[2018-03-20 13:09] sivcan commented on #4158
Closing this.
If the issue still persists then kindly give us the details for us to investigate further into it and then we'll reopen it.

[2018-03-20 13:09] #4158 closed, assigned to numaanashraf

[2018-03-20 13:09] sdnts commented on #2317
I believe this should be solved now. I was able to send a Unicode character to the [Postman Echo](https://postman-echo.com/get?a=😀) server successfully using Postman with the latest version (6.0.10). Please let me know if it isn't working as expected for you, and I'll reopen!

[2018-03-20 13:09] #2317 closed, assigned to nobody

[2018-03-20 13:13] sivcan commented on #3905
Hi all,
Kindly download the latest version - [Postman 6](https://www.getpostman.com/apps)
If the issue still persists, feel free to reopen this issue and then we'll take a look at it.

[2018-03-20 13:13] #3905 closed, assigned to SamvelRaja

[2018-03-20 13:14] sivcan commented on #3978
Closing this.
If the issue still persists, feel free to reopen it.

[2018-03-20 13:14] #3978 closed, assigned to nobody

[2018-03-20 13:18] sivcan commented on #3924
Hi @jfneis - I tried to reproduce this issue on the latest version of [Postman](https://www.getpostman.com/apps) but couldn't

I suggest you to update to the latest version and try again.
If the issue still persists then feel free to reopen it.

[2018-03-20 13:18] #3924 closed, assigned to thecuriousdev

[2018-03-20 13:19] sivcan commented on #3917
Hi all,
I suggest you all to kindly update to the new version of the [Postman App](https://www.getpostman.com/apps)

If the issue still persists, then feel free to reopen this issue.

[2018-03-20 13:19] #3917 closed, assigned to prashantagarwal

[2018-03-20 13:21] sivcan commented on #3959
Hi all,
Kindly update to the latest version of the [Postman App](https://www.getpostman.com/apps)
If the issue still persists, feel free to revert back with further information and we'll reopen it.

[2018-03-20 13:21] #3959 closed, assigned to harryi3t

[2018-03-20 13:22] sivcan commented on #3951
The [latest version](https://www.getpostman.com/apps) of the app has fixes for the zooming part.
Kindly update to the same.
If you're still experiencing this issue then feel free to reopen it.

[2018-03-20 13:22] #3951 closed, assigned to sdnts

[2018-03-20 13:24] sivcan commented on #3969
Closing this issue since it's resolved.

[2018-03-20 13:24] #3969 closed, assigned to harryi3t

[2018-03-20 13:26] sivcan commented on #3762
Hi @ChrisAllisonMalta  - Kindly update to the [latest version](https://www.getpostman.com/apps) of the app and let us know if the issue still persists for you.
Feel free to reopen it if it does.

[2018-03-20 13:27] sivcan commented on #3744
Hi @chrisron95 - This has been fixed in the [Latest version of the app](https://www.getpostman.com/apps)
Closing this.

[2018-03-20 13:27] #3744 closed, assigned to sdnts

[2018-03-20 13:29] sivcan commented on #3696
Hi @bukko - Kindly download and install the [latest version](https://www.getpostman.com/apps) of the app.
Feel free to reopen this issue if it still persists for you.

[2018-03-20 13:30] sivcan commented on #3687
Hi all,
Kindly download the [latest version](https://www.getpostman.com/apps) of the app.
Feel free to reopen this issue if it still persists for you.

[2018-03-20 13:30] #3687 closed, assigned to SamvelRaja

[2018-03-20 13:31] sivcan commented on #3574
Hi @amnoman - This has been fixed in the [latest version](https://www.getpostman.com/apps) - v6.0.10 of the native app.
Kindly update to the same.
Closing this.

[2018-03-20 13:33] #3832 closed, assigned to nobody

[2018-03-20 13:35] sivcan commented on #3737
Hi all,
The [latest version](https://www.getpostman.com/apps) of the app includes major upgrades in the drag-and-drop feature.
I advise you all to update to the same.
Let us know if you're still experiencing this issue.

[2018-03-20 13:35] #3737 closed, assigned to SamvelRaja

[2018-03-20 13:37] sdnts commented on #2337
This should be working as expected now on the latest app version (6.0.10 as of now). Closing this. Please let me know if it doesn't, and I'll reopen

[2018-03-20 13:37] #2337 closed, assigned to sobtiankit

[2018-03-20 13:38] sdnts commented on #2271
The response view should render Unicode characters correctly now. Closing. Please let me know if you're still seeing issues, and I'll reopen.

[2018-03-20 13:38] #2271 closed, assigned to nobody

[2018-03-20 13:39] sivcan commented on #3125
Hi,
I suggest you to kindly use the native app of Postman since Chrome App is deprecated. -https://www.getpostman.com/apps

If the issue persists in the native apps, then feel free to reopen it.

[2018-03-20 13:39] #3125 closed, assigned to numaanashraf

[2018-03-20 13:39] sdnts commented on #2341
Hi @IGZfranciscoserrano, we do not store file paths with requests for security reasons, so I doubt this will ever be supported. You can re-upload the file for this to work.

[2018-03-20 13:39] #2341 closed, assigned to abhijitkane, SamvelRaja, sdnts

[2018-03-20 13:41] sdnts commented on #2374
Is this still an issue? Please let me know if it is, and I'll reopen.

[2018-03-20 13:41] #2374 closed, assigned to nobody

[2018-03-20 13:41] sdnts commented on #2411
Is this still an issue?

[2018-03-20 13:41] sivcan commented on #2668
Hi,
I advise you to kindly update to the [latest version](https://www.getpostman.com/apps) of the native app.
Feel free to reopen this issue if it still persists in the latest version.

[2018-03-20 13:41] #2668 closed, assigned to sdnts

[2018-03-20 13:43] sdnts commented on #2472
Hi @4everqa the app no longer stores file paths with a collection to address security concerns, so I doubt this will ever be possible. I'm closing this for now.

[2018-03-20 13:43] #2472 closed, assigned to sdnts

[2018-03-20 13:44] sivcan commented on #3161
I suggest you all to update to the [latest version](https://www.getpostman.com/apps) of the app.
Switching done with Cmd and number keys is working fine.

[2018-03-20 13:44] #3161 closed, assigned to nobody

[2018-03-20 13:45] sdnts commented on #2510
Is this still an issue? Please let me know if it is, and I'll reopen.

[2018-03-20 13:45] #2510 closed, assigned to nobody

[2018-03-20 13:47] sdnts commented on #2556
Can you guys try using environment variables instead of path variables for this? They should work a lot more reliably.
Also, this is the same as #2427, so I'm closing this one. Please let me know if this is not the case, and I'll reopen.

[2018-03-20 13:47] #2556 closed, assigned to nobody

[2018-03-20 13:48] zeeshanu commented on #1947
+1

[2018-03-20 13:53] sdnts commented on #2628
We depend on the response Content-Type header to automatically choose a parsing type for the response. Can you guys make sure the response Content-Type header is correct?

[2018-03-20 13:53] #2628 closed, assigned to a85

[2018-03-20 13:55] karol-depka commented on #2260
Hi. Did you try to manually edit the download URL? I just managed to download from https://dl.pstmn.io/download/version/5.3.0/windows64 (which I edited from https://dl.pstmn.io/download/version/6.0.9/windows64 ) . Try editing the download url for Mac etc.

I found the url here: https://www.getpostman.com/apps#changelog-mac-app .

[2018-03-20 14:42] rokkie commented on #4359
Had the same issue. I 'fixed' it by removing `$HOME/.config/Postman` which is not particularly elegant, but at least is starts again. Also running ubuntu 1604.

[2018-03-20 14:55] lriverd commented on #4359
ty @rokkie
That works for me too!

[2018-03-20 14:59] ChrisAllisonMalta commented on #3762
Hi
I can confirm that the issue remains on v6.0.10 but on the canary build v6.1.0-canary01 it works ok
I am using windows version 10.0.16299 build 16299

Thanks

[2018-03-20 15:29] paulRonanRLS opened #4360 "resync popups that make no sense"
## App Details:

[code]

## Issue Report:
 Ths issue has begun in the last week or so
A popup appears suggesting that a  resync conflict decision is required (screen shot attached)
 top line of application has SYNCING permanently displayed

![screen shot 2018-03-20 at 15 23 45](https://user-images.githubusercontent.com/18261772/37664567-7a79dd7e-2c53-11e8-9978-52c2e8124723.png)

[2018-03-20 15:32] sdnts commented on #3762
Awesome, the canary version should land on our stable channel soon, which will fix this issue for you :)

[2018-03-20 15:38] Misiu commented on #3781
@harryi3t  thanks for update :)
I've already upvoted it.
I'll stick with pre-request script for now, but if there would be a way to create PR with that feature I would like to help with it.

[2018-03-20 15:41] nithyamuth commented on #4360
Getting the same issue - resync every now and then.

[2018-03-20 15:44] rcarubbi commented on #6682
+1

[2018-03-20 15:46] nithyamuth commented on #4326
I am having the same issue. the app shows syncing all the time but no activity for sync in the collection in postman webpage.

[2018-03-20 16:39] #4358 closed, assigned to kamalaknn

[2018-03-20 16:44] Qu4tro commented on #4359
Had the same issue. No postman process was running.

$ uname -r
4.15.9-1-ARCH

Fixed it by @rokkie suggestion. Thanks.

EDIT: There are a few solutions below. Do try them out before deleting your Postman config!

[2018-03-20 16:49] bordigoni commented on #6682
+1

[2018-03-20 16:49] bordigoni commented on #1535
+1

[2018-03-20 17:03] prashantagarwal commented on #4241
@Ali-CFD-Alex This is fixed in latest Postman version. Thanks

[2018-03-20 17:03] #4241 closed, assigned to harryi3t

[2018-03-20 17:19] #4109 closed, assigned to numaanashraf

[2018-03-20 17:20] prashantagarwal commented on #4109
@sdauwalder Please update you app to the latest version. If you still see this issue, feel free to reopen this.

[2018-03-20 17:21] kunagpal commented on #4348
@charliebillen Thanks again, this bug is being fixed here: https://github.com/postmanlabs/chai-postman/pull/88

We'll update this thread when the fix is available in the app 😄

[2018-03-20 17:22] prashantagarwal commented on #4071
@cbarrerah-sogeti Can you try this on the latest version of Postman App. We have quite a few improvements there.

[2018-03-20 17:29] prashantagarwal commented on #4132
@TannerMoore This bug seems to be fixed in latest Postman app versions. Feel free to reopen this issue if this occurs again.

[2018-03-20 17:29] #4132 closed, assigned to prashantagarwal

[2018-03-20 17:30] tegomass commented on #6682
This can be done using newman as node module plus the [ws](https://www.npmjs.com/package/ws) module. The goal is to open a websocket as a subprocess then use newman to send request/event, then capture and write the event sent into a file or whatever and finally modify the output report to add this information helped by the newman [triggers](https://www.npmjs.com/package/newman#newmanrunevents).
It

[2018-03-20 17:31] cbarrerah-sogeti commented on #4071
It works now! thank you :)

[2018-03-20 17:32] #4060 closed, assigned to vkaegis

[2018-03-20 17:40] prashantagarwal commented on #4149
@idknox I think we don't support this out of the box. But please feel free to ask this in the Postman community, someone might be able to give you some workaround this problem. https://community.getpostman.com

[2018-03-20 17:40] #4149 closed, assigned to nobody

[2018-03-20 17:41] #4071 closed, assigned to numaanashraf

[2018-03-20 17:51] vinodpy opened #4361 "Windows Postman App - High CPU usage latest upgrade v6.0.10"
I recently upgraded to version v6.0.10 on Windows Postman App and the idle CPU usage for Postman App is hovering between 75-90%. There is no request going on at the time of high CPU usage.
## App Details:

[code]

## Issue Report:
 1. Did you encounter this recently, or has this bug always been there: Recently after upgrade to v6.0.10
 2. Expected behaviour: CPU usage not so high
 3. Console logs

[2018-03-20 17:51] prashantagarwal commented on #4074
@bhadkeYD Can you download native Postman app and try to reproduce this. We are soon deprecating Chrome apps.

[2018-03-20 18:01] stianlagstad commented on #4359
Will deleting that folder remove my stored collections, environments ++?

[2018-03-20 18:06] bhadkeYD commented on #4074
@prashantagarwal Have you checked whether problem is reproducible or not ? I'm able to reproduce on issue Postman App

[2018-03-20 18:46] nicholmikey opened #4362 "Collection runner times out consistently when using data variables from a CSV file"
The collection runner consistently throws a "Script execution timed out" error when trying to use variables from a CSV file.

Here is a sample of the request. This is the valid JSON https://pastebin.com/RD0SZ3Ua

## App Details:
[code]

## Issue Report:
 1. Did you encounter this recently, or has this bug always been there: For the past week of attempts it does not work. I have tried it in the pas

[2018-03-20 18:59] mverma-va commented on #3173
Hi @rmlira That worked for me properly. My variable already had quotes, it is basically JSON.parse() which solved the problem, thanks a lot!

[2018-03-20 19:54] sivcan commented on #4359
Hi @stianlagstad - It'd be great if you could help us triage this issue by sharing some logs rather than clearing the local data of the Postman App so that we make the fix for everybody in the future than taking up a workaround for it.

Note: If you're not signed into the app and your data has not been synced then clearing the data of the app will lead to permanent loss of your data.

To help us d

[2018-03-20 20:17] amouchinski commented on #4044
Please add support for default headers per folder or collection as suggested by darron1217.

[2018-03-20 20:26] stianlagstad commented on #4359
Hey @sivcan! I already did that in the first post although it probably wasn't clear:
[code]
And that's the only output.

[2018-03-20 21:15] berniezhao11 commented on #2392
+1

[2018-03-20 21:36] annedemata commented on #2185
Hi,

I know that this thread is already closed but I'm wondering if there have been any more push on making this feature available - allowing Postman to run DB queries.

When I do a POST to one of our APIs, it would store the parameters I gave to a table and to confirm that the POST actually did it's thing, it would be great to be able to query that table.

I second @paulhilliar, "Agree that Postm

[2018-03-20 22:00] ghelton commented on #4360
Also started experiencing this issue repeatedly today. Same version of postman. One thing to note is that in between modal popups the syncing icon never switches back to Synced:
![screen shot 2018-03-20 at 2 58 43 pm](https://user-images.githubusercontent.com/48418/37685089-6abc43a8-2c4f-11e8-9e3e-3f5158f092df.png)

[2018-03-20 22:56] Tanz0rz commented on #4132
It hasn't happened to me in a while. I also found out that restarting Postman fixed it. If it shows up again, I will take some time to see if I can get some solid reproduction steps. Thanks for looking into this for me.

[2018-03-21 01:36] jrmclau commented on #285
To add to prior examples:
 - Working on POC level new system at work and accidentally execute a delete request against the wrong datastore. I mean, not that anyone would do that. heh. eh. ugh.

[2018-03-21 01:45] DataTeamITInternal commented on #3625
The issue remains:

No way to Collapse "FOLDERS" in the collections pane.

You closed as duplicate however that ticket solved "TABS" not "FOLDERS"

Thanks

[2018-03-21 03:57] elleryfamilia commented on #2392
@madebysid How many +1s do we need? :)

[2018-03-21 04:18] ykhodos commented on #3706
+1

[2018-03-21 07:02] sivcan commented on #4359
Hi @stianlagstad  - Can you try to access postman without using i3 window manager ?

@Qu4tro, @rokkie and @sensey66 - Are you guys also using i3 window manager ?

[2018-03-21 07:12] stianlagstad commented on #4359
@sivcan I'll try that this weekend and report back.

[2018-03-21 07:16] SamvelRaja commented on #4292
Closing this for now.
And people who reach here, additional note **deleting** *AppData/Roaming/Postman* will **delete all your postman data completely.**
So using that is not the recommendable way, we will try to get the app working without going through this flow.

[2018-03-21 07:16] #4292 closed, assigned to SamvelRaja

[2018-03-21 07:20] SamvelRaja commented on #4331
@keyjm We always recommend people to be in the latest version of the app to ensure data integrity and up to date on the feature.
Can you kindly share us the reason for going back a to 5.5.3 version? This will help us in understanding your concerns about our major release.

[2018-03-21 07:22] SamvelRaja commented on #3696
@bukko  It would be helpful for us if you open the app through **cmd** and share us the logs.
This helps us in debugging the issue much easier.

[2018-03-21 07:36] sivcan commented on #4176
Hi @dbkaynor - I can confirm that the issue no longer exists in the [latest postman app](https://www.getpostman.com/apps).
Kindly update to the same.

[2018-03-21 07:38] sivcan commented on #4065
@escoffie @hycday - Kindly update your native apps to the  [latest version](https://www.getpostman.com/apps) which addresses the high CPU usage issue.
If you are still facing the issue in the latest version, feel free to reopen this issue.

[2018-03-21 07:38] #4065 closed, assigned to thecuriousdev

[2018-03-21 07:42] sivcan commented on #4191
@hongaar - Can you update to the [Latest version - Postman 6](https://www.getpostman.com/apps) and let us know if the issue still persists for you?
Feel free to reopen this if it does.

[2018-03-21 07:42] #4191 closed, assigned to thecuriousdev

[2018-03-21 07:54] sivcan commented on #4035
Hi @TatianaDenel
As I can see you're using the old version of the postman app, I advise you to update to the latest version - It includes new features and performance improvements.

Also, I advise you to use sync (By signing up in the Postman App) - which will sync your data and you wouldn't be losing any data whenever the applications local data is deleted.
Once you login, you'll get your data sy

[2018-03-21 07:54] #4035 closed, assigned to sdnts

[2018-03-21 08:01] SamvelRaja commented on #2616
Closing this as we are actively tracking in #2931

[2018-03-21 08:01] #2616 closed, assigned to nobody

[2018-03-21 08:01] sivcan commented on #3848
I can confirm that this issue no longer exists in Safari on iOS.
Closing it.

[2018-03-21 08:01] #3848 closed, assigned to godfrzero

[2018-03-21 08:04] rokkie commented on #4359
@sivcan I don't know, how do I check this?

[2018-03-21 08:06] RidgeA commented on #2931
Hi, what about rpm repo?

[2018-03-21 08:08] deinlandel commented on #2517
This IS a bug and it is still present in most recent version of Postman (there is no way to view version info from Postman interface, so sorry for not providing exact version).

Get parameter `expired` with value `2018-04-15 22:29:59 +0300` results in `expired=2018-04-15 22:29:59  0300`. Because plus sign isn't escaped and is parsed as a space by server.

[2018-03-21 08:34] sivcan commented on #3988
Hi @PaulZH - I can confirm that this is a bug.
We'll look into it further.

[2018-03-21 08:34] sdnts commented on #4181
@Chris-Yarland-Price, this should be fixed now in the latest version (6.0.10). Test names should be truncated correctly now.
I'm closing this. Please let me know if you still see this, and I'll reopen.

[2018-03-21 08:34] #4181 closed, assigned to sdnts

[2018-03-21 08:35] sdnts commented on #4202
Hi @janAtcontinia, we fixed this in the latest version (6.0.10). Can you update and check?

I'm closing this, but will reopen if you still see it.

[2018-03-21 08:36] sivcan commented on #4096
Closing this issue due to inactivity.
If you are still facing this issue with the latest version of the app then feel free to reopen this with the information required.

[2018-03-21 08:36] #4096 closed, assigned to SamvelRaja

[2018-03-21 08:47] janAtcontinia commented on #4202
Hi Siddhant
I have had problems with uploading pictures to github, so you get them in a mail instead.

I can reproduce the problem

[cid:image008.jpg@01D3C0F9.9A1B0C90]

[cid:image009.jpg@01D3C0F9.9A1B0C90]

[cid:image010.jpg@01D3C0F9.9A1B0C90]

Changing:
[cid:image011.jpg@01D3C0F9.9A1B0C90]

Also affects the original:
[cid:image012.jpg@01D3C0F9.9A1B0C90]

I can see that you use a Mac. I use windo

[2018-03-21 08:51] SamvelRaja commented on #3749
We are working on the auto-update for the linux app. Kindly, subscribe to #2931 where we are actively tracking the issue.

[2018-03-21 08:51] #3749 closed, assigned to numaanashraf

[2018-03-21 09:06] sivcan commented on #2823
I advise you all to shift to the latest [Native Postman App](https://www.getpostman.com/apps)
The Chrome App is deprecated.

[2018-03-21 09:06] #2823 closed, assigned to SamvelRaja

[2018-03-21 09:06] SamvelRaja commented on #3871
@amosbaker we fixed this issue, we recommend you to update to the latest version of the app and check the same.
Closing this now, feel free to re-open if you face this again.

[2018-03-21 09:06] #3871 closed, assigned to nobody

[2018-03-21 09:18] gaambo commented on #2352
this is still happening. @skwirking s solution works, but thats far from ideal of using postman.

[2018-03-21 09:52] Chris-Yarland-Price commented on #4181
Hi This has fixed the bug but doesn't really help if you can't actually read what you are trying to do

[2018-03-21 10:02] ianedmo commented on #4360
I'm also getting this issue (same version but for Windows). The 'Resolve Sync Conflicts' popup is appearing multiple times throughout the day and never seems to successfully sync.

[2018-03-21 11:36] sivcan commented on #4328
Duplicate of https://github.com/postmanlabs/postman-app-support/issues/3290