[2020-02-27 12:32] DerekSansom commented on #7531
Yes this works now, thank you

On Wed, 12 Feb 2020 at 07:36, Saswat <notifications@github.com> wrote:

[2020-02-27 12:43] #7531 closed, assigned to saswatds

[2020-02-27 12:49] sulaimaan26 opened #8116 "Test Runner Percentage is not properly updated based upon the iteration"
**Describe the bug**
Test Runner Percentage is not properly updated based upon the iteration count

**To Reproduce**
Steps to reproduce the behavior:
1. Navigate to any collection which has more than 3 Request
2. Click on 'Runner' from header
3. Create a Test with iteration count as '50'
4. Start the Test

**Expected behavior**
Percentage should be updated based upon the iteration count. For examp

[2020-02-27 13:06] mkukacka commented on #5194
+1

[2020-02-27 13:33] serg1409 commented on #4253
Postman Team! Please, please fix it!
See also [https://github.com/postmanlabs/postman-app-support/issues/4272](url)

[2020-02-27 14:08] crumpledpineapple commented on #7671
I can confirm that this issue is still happening on newman 4.6.0 when running colelctions from jenkins.

[2020-02-27 14:09] crumpledpineapple commented on #7671
I can confirm that this issue is still happening on newman 4.6.0 when running colelctions from jenkins.

[2020-02-27 14:10] arlemi commented on #7848
@vdespa Yep my bad, we fixed an issue that was similar but not exactly the same. Will keep updating when we pick it up. :)

[2020-02-27 14:11] oguennec opened #8117 ""Edit Monitor" screen - "Schedule" field - value "Minute Timer" is greyed out without explanation on https://web.postman.co/monitors"
**Describe the bug**
https://web.postman.co/monitors, Edit Monitor screen, Schedule field shows a list of options including the Minute Timer but it is greyed out / not selectable

**To Reproduce**
Steps to reproduce the behavior:
1. Create a collection
2. Click on Monitor Collection
4. Select Hour Timer
3. See in https://web.postman.co/environments/your-environment-id?workspace=your-workspace-id t

[2020-02-27 15:16] oguennec commented on #8117
I have found out from the Native App that Minute Timer is not available on the free plan (although I have been able to use it for some time on the free plan).

![image](https://user-images.githubusercontent.com/6723310/75457127-aa360700-5973-11ea-94de-200f67adfcac.png)

I leave this ticket open as it would be informative to have the same message mentioning that Minute Timer is not available on the

[2020-02-27 15:49] tyd commented on #8057
I'm having the same issue when **Settings -> General -> New Code Generation Mode** is set to **On**... but turning that to **Off** does indeed start including cookies in the generated code. I'd much prefer this work with the setting **On** as the output is much cleaner.

**App information:**
- App Type : Native App
- Postman Version : 7.19.1
- OS: macOS Mojave 10.14.6 (18G1012)

[2020-02-27 16:00] tyd opened #8118 "Cookies are lost when the application is closed"
**Describe the bug**
Cookies are lost when the application is closed.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Cookies tab
1. Add cookies manually
1. Close cookie management dialog
1. Exit the Postman application
1. Open the Postman application
1. Go to Cookies tab, cookies added in step 2 are now gone

**Expected behavior**
Cookies should persist across application restarts

**

[2020-02-27 16:16] geoffturk commented on #8098
App Type - Native App
Postman Version - 7.19.1
OS: macOS

Hi. I am experiencing a similar issue, which I documented over in the Community forum:
https://community.postman.com/t/schema-validation-not-providing-details-of-reported-issue/11063

Here is the response body in the example I mentioned above:

[code]

And here is the response body defined in the spec:

[code]

[2020-02-27 18:54] brunohadlich commented on #8044
I'm facing the same issue with Postman for Mac - OS X 19.3.0 / x64, version 7.18.1.

[2020-02-27 20:30] ColdCerealAtWork opened #8119 "When asking if I want to save my changes, I'd like to see the diff."
**Is your feature request related to a problem? Please describe.**
I make lots of changes in lots of calls, but dont always want to save them. It is difficult to remember what changes I have made when I am trying to close my application at the end of the day.

**Describe the solution you'd like**
When I am closing a request tab with changes, on the prompt I would like to see what changes have been

[2020-02-28 02:35] shivam-postman commented on #7938
@LeoZandvliet @ash007-postman, can you try checking the usage now? It should be displaying the same value at both the places.

[2020-02-28 02:38] codenirvana commented on #7671
@crumpledpineapple Can you share a scaled-down collection which we can use to reproduce this issue?

[2020-02-28 03:20] PhungXuanAnh commented on #4687
Me too, a terrible number

[2020-02-28 05:04] Cazaimi commented on #8108
@AndreyKrivopalov, this issue has been reported once before on one of our internal channels.

For **security reasons**, we don't allow execution of scripts other than those that are trusted by us, as part of the documentation. This, is why you're seeing the CSP error.

Please try disabling the rocker loader script and the documentation should load.

Please reply to this thread if you face any furt

[2020-02-28 05:19] shamasis commented on #8118
Hey @tyd - got to know from @codenirvana that this happens because cookies without an expiry date is treated as “session cookie.” You could set expiry dates manually for now while we explore ways to improve the UX here.

[2020-02-28 06:01] harryi3t commented on #8101
@nik72619c I was not able to reproduce this (using windows 10 - Postman v7.19.1).
It would really help if you could share a screen recording showing the issue.

Here's what I tried (I am using default copy/paste keyboard keys -- ctrl-c and ctrl-v)
![postman-windows-copy-paste-640](https://user-images.githubusercontent.com/5207331/75514386-61d32380-5a1d-11ea-8b51-0e13c87a336a.gif)

[2020-02-28 06:28] shreys7 commented on #8057
Hey @lastbulletbender @tyd , thanks for reporting this. We are already aware of this issue and working on the fix. We will update you here soon.

[2020-02-28 06:30] ArjunSingh-PM commented on #8117
@oguennec Thank you for pointing this out. We will include the message for the _Minute Timer_ at the Postman dashboard as well.

[2020-02-28 06:35] lastbulletbender commented on #8057
Thanks a lot :)

[2020-02-28 07:01] LeoZandvliet commented on #7938
Thanks for the fast solving!
I refreshed the totals and details page within the same second, and the totals are at 26210 and the details show 26234. I guess that will be due some sort of caching mechanism of the totals count on your side, this is acceptable for us.
Am I right about the slight difference?

[2020-02-28 07:19] shivam-postman commented on #7938
Yes, the slight difference would be gone in sometime.

[2020-02-28 07:21] Raj-postman commented on #8098
@sankalp0o So here is the API schema which I used to replicate this: https://github.com/OAI/OpenAPI-Specification/blob/master/examples/v3.0/petstore.yaml

[2020-02-28 08:26] crumpledpineapple commented on #7671
@codenirvana I have attached a scaled down collection.
[scaled_down_collection.postman_collection.json.txt](https://github.com/postmanlabs/postman-app-support/files/4265981/scaled_down_collection.postman_collection.json.txt)

[2020-02-28 08:51] noorfathima11 commented on #5990
Same issue here as well. Dead slow. Was working fine until I updated to the latest version.

[2020-02-28 08:52] NiklasBr commented on #8101
This is what I get when trying CKEditor (4.12), or Slack (4.3.4):

[code]

[2020-02-28 08:52] codenirvana commented on #7671
@crumpledpineapple I am not able to reproduce this issue with the attached collection.

<img width="1440" alt="Screenshot 2020-02-28 at 2 10 44 PM" src="https://user-images.githubusercontent.com/4865836/75525064-27758080-5a35-11ea-9948-5ea65798ac2e.png">

As you can see in the attached screenshot, the dynamic variable `$randomBankAccountIban` is resolved correctly.

[2020-02-28 09:06] catherine-greene commented on #8110
Thank you!
Replaced tv4 with ajv. Works fine!

But that would be nice to have a remark in tv4 (or Postman) documentation about such an issue.
It is not evident that tv4 does not work with const as expected.

[2020-02-28 09:09] Frique commented on #8054
For me it appeared while I had the Manage Tokens screen open normally and was in the process of deleting all tokens in the left sidebar. I might have clicked too fast and the Something Went Wrong message appeared. It now shows every time I try to open Manage Tokens, also after restarting Postman. It looks like the data in the account is corrupt?

Using macOS Catalina.

[2020-02-28 09:18] prashantagarwal commented on #8100
@alakdam07 This seems to be an issue with the API that you are using and not with Postman. I will recommend you to contact the owner/publisher of the API. Thanks

[2020-02-28 09:18] #8100 closed, assigned to nobody

[2020-02-28 09:23] prashantagarwal commented on #8089
@georgesunil81 If your only use case is to pass the response to the next request then you can use
`pm.variables.set` and when running this in Runner `uncheck Keep variables value` option. This way we won't store the response in the environment.

[2020-02-28 09:24] DannyDainton commented on #8110
Glad that helped! 🏆

The [tv4](https://github.com/geraintluff/tv4) project hasn't been updated for over 2 years so I suspect this isn't the only issue that users are likely to see when using that module. :(

[2020-02-28 09:32] crumpledpineapple commented on #7671
@codenirvana I only have the issue when running newman from jenklns...

[2020-02-28 09:46] georgesunil81 commented on #8089
@prashantagarwal @kevinswiber I think this ticket is closed in error since my original request is about sending the response from a prior API call as a form-data / file attachment to the subsequent API calls, how can I achieve that by using variables? I actually need to save the response to a file to be able to upload it as a file for the subsequent API call. Is there a way to do that?

[2020-02-28 10:07] slkorolev commented on #8054
For now 7.13.0 works on Windows, just make sure you've switched off the automatic updates

[2020-02-28 10:14] iblues opened #8120 "Can I start postman with curl code by command"
example :
open postman --curl "curl --insecure -X POST"

So When I test api application with some bug , It's can open postman with the args automatically.

[2020-02-28 10:15] NiklasBr commented on #8101
Also: Pasting into Word or Outlook will also apply Opensans and Helvetica formatting to the string - not nice. :/

[2020-02-28 11:40] philrennie commented on #7825
Also seeing this, we have collections in a team workspace showing differing numbers of requests for different team members.

Two team members are on linux and one on OS X all running version 17.19.1

[2020-02-28 12:00] sadomovalex commented on #6723
It doesn't always help. E.g. for me it didn't help

[2020-02-28 12:13] siva-sankaran opened #8121 "Ability to remove more than one environment at once"
Accidentally I have  imported a folder which got nearly 80 environments. Now If I import some environment I couldn't easily choose it  since lot of environments are showing up. Please make a way to delete more than one environment at a time like selecting/unselecting some environments and deleting it

[2020-02-28 12:26] deepanshu2506 commented on #3822
Hello Everyone,
I am Deepanshu Vangani

I am new to the open source community and would like to take up this issue and provide a solution

[2020-02-28 12:27] #8110 closed, assigned to nobody

[2020-02-28 12:36] lkiii commented on #7723
Having the same issue as described here

[2020-02-28 13:25] Zaliro commented on #7294
Same here on Windows 10 (same version).

[2020-02-28 15:06] AndreyKrivopalov commented on #8108
It is not my script, how can i disable rocket loader on your server?

[2020-02-28 15:15] AndreyKrivopalov commented on #8108
Solved! I am disable rocket loader on cloudflare settings and error was gone

[2020-02-28 15:15] #8108 closed, assigned to godfrzero, Cazaimi, Raja-Simha

[2020-02-28 16:16] tyd commented on #8118
@shamasis Thanks for the info! Makes more sense now. I also confirmed setting **;Max-Age=2147483648** makes the cookies persist across application restarts.

Note:
- [RFC 2616 Section 14.6](https://www.w3.org/Protocols/rfc2616/rfc2616-sec14.html#sec14.6) _2147483648_ is the RFC maximum, but lower values work as expected too.

[2020-02-28 19:07] georgesunil81 commented on #8089
Thanks @prashantagarwal @kevinswiber for your attention and help on this.

[2020-02-28 19:13] danieladougan opened #8122 ""Response body was not logged" in Runner"
When viewing tests in the Runner (especially failing ones), sometimes I will see the response, and sometimes I will see "Response body was not logged."

I can understand this could be a space/memory issue, but being able to see the exact reason why a test is failing in the Runner would be a big time saver.

Steps to reproduce the behavior:
1. Run the Runner over a large collection. You might have

[2020-02-28 19:28] Misiu commented on #3781
@vvs11 does this mean that finally HMAC support will be added?
For now, I must use app that I created to be able to access the request body, I'd like to replace all of that with Postman

[2020-02-28 19:29] prmichaelsen commented on #1744
It would be nice if postman stored its collections in plain text in the first place so there is no need to export and you can check in all postman configurations

https://github.com/postmanlabs/postman-app-support/issues/3563

[2020-02-28 19:31] prmichaelsen commented on #3438
It would be nice if postman stored its collections in plain text in the first place so there is no need to export and you can check in all postman configurations

#3563

[2020-02-28 19:41] prmichaelsen commented on #2240
4 years and no dice :(

[2020-02-28 19:48] matthew-macgregor commented on #2030
Seems broken for me as well, I'm afraid on `macOS 10.14.6 (18G103)`. CMD + Click opens in a new tab in Postman.
For the record, this did work for me at one time...

[2020-02-28 21:30] tkentdna commented on #7700
Having the same issue.  Per the post by wizofaus (https://github.com/postmanlabs/postman-app-support/issues/7700#issuecomment-586788805), I uninstalled Postman and reinstalled the latest (v7.19.1), but the issue remains.

[2020-02-28 22:57] petyappetrov commented on #4009
?

[2020-02-29 03:17] B4st13n opened #8123 "During authentication from authentication screen at the point the user should be redirect to the consent page the login page is simply reloaded."
**Describe the bug**
Compatibility issue between Postman and IdentityServer4 (https://github.com/IdentityServer).

**To Reproduce**
Steps to reproduce the behavior:
Using Postman authentication screen with OAuth 2. During authentication from authentication screen at the point the user should be redirect to the consent page the login page is simply reloaded.

More details on your community forums:

[2020-02-29 03:58] spluxx commented on #2801
I built a very small app to provide this functionality as a side project. Feel free to check it out and contribute! https://github.com/spluxx/protoman

[2020-02-29 13:47] RudraPSinhaRoamhome commented on #3822
Someone Please Do This...

[2020-02-29 17:51] jpiell opened #8124 "Global Variables not working"
**Describe the bug**
{{$randomZipCode}} does not work
{{$randomStateAbbr}} does not work

**To Reproduce**
Steps to reproduce the behavior:
1. Add these variables to the body of your request.
2. Submit your request
3. See error

**Expected behavior**
Expected behavior is a random value for these variables is created.

[2020-02-29 19:19] codenirvana commented on #7671
@crumpledpineapple That's because you are not using the latest version of Newman on Jenkins.
You are probably using the `v4.5.0` as I can infer from the user-agent header.

I hope updating the Newman version on Jenkins fixes your issue.

[2020-02-29 19:19] #7671 closed, assigned to nobody

[2020-02-29 19:21] codenirvana commented on #7904
Closing this issue as we are not able to reproduce this internally and we haven't seen other users facing the same.

Please feel free to reopen if the issue persists or you can help us with the steps to reproduce this issue.

[2020-02-29 19:21] #7904 closed, assigned to codenirvana

[2020-02-29 19:22] codenirvana commented on #7536
Closing this issue as we are not able to reproduce this internally and we haven't seen other users facing the same.

Please feel free to reopen if the issue persists or you can help us with the steps to reproduce this issue.

[2020-02-29 19:22] #7536 closed, assigned to nobody

[2020-03-01 08:09] coditva commented on #8124
Hey @jpiell, these variables are not present in Postman anymore. Please see this list for reference: https://learning.getpostman.com/docs/postman/scripts/postman-sandbox-api-reference/#dynamic-variables

Ref: https://github.com/postmanlabs/postman-docs/issues/2054 https://github.com/postmanlabs/postman-app-support/issues/7990

[2020-03-01 08:09] #8124 closed, assigned to nobody

[2020-03-01 09:22] ruslantagirov commented on #4222
Same issue. I've created a variable in collection, but it remains unresolved.
Tried saving the request, closing, reopening, reloading Postman, etc.

[2020-03-01 10:24] alik-takipi commented on #5093
Downloaded latest `Postman-linux-x64-7.19.1.tar.gz` from https://www.postman.com/downloads/ and got the error:

[code]

[2020-03-01 12:19] sankalp0o commented on #7958
Hey @gshakir125, I hope that the explanation provided by @christopher-nash was able to solve your problem. If you require more assistant, please reach out to the Postman Community at  https://community.postman.com/ where people might be able to help you out!

[2020-03-01 12:19] #7958 closed, assigned to nobody

[2020-03-01 12:21] sankalp0o commented on #7962
Hey @namrata66sharma, I hope that the explanation provided by @ptolemys was able to solve your problem. If you require more assistant, please reach out to the Postman Community at https://community.postman.com/!

[2020-03-01 12:21] #7962 closed, assigned to nobody

[2020-03-01 12:32] sankalp0o commented on #8080
Hey @eupn11, This issue tracker might not be the correct place for finding contributors. If you need help from the Postman community specifically, please post this at https://community.postman.com/. Best of luck!

[2020-03-01 12:32] #8080 closed, assigned to loopDelicious

[2020-03-01 12:42] sankalp0o commented on #7908
Hey @raylucker! Were you able to debug this? If you try to access this domain through cURL, are you able to reproduce this? Do let us know some more details (maybe the domain itself) or reach out to the Postman Community https://community.postman.com/ in case someone has run into the same problem as this.

[2020-03-01 12:49] sankalp0o commented on #8120
Hey @iblues, thanks for reaching out! Right now, I don't think there's a way to do this, but it might be an interesting use case. I'll mark this as a feature request and will let you know if we have an update.

[2020-03-01 12:56] sankalp0o commented on #8098
Thanks, @geoffturk! We'll have a look at this.

[2020-03-01 13:20] echiabra commented on #2833
Still happening on Windows 10 Pro 1809 with two monitors one over the other.
Managed to solve the issue by using Right Click>Move>Arrow Keys.

[2020-03-01 13:30] anna-seredinskaya commented on #3563
This is the number one feature we desperately need and are waiting for.

[2020-03-01 13:31] sankalp0o commented on #8093
Yes, you are correct. "Current value" itself isn't synced and hence would not be the same in different workspaces.
I'm closing this issue but if you think there can an improvement made here based on your work-flow, please do reply back and we'd be happy to reopen this!

[2020-03-01 13:31] #8093 closed, assigned to nobody

[2020-03-01 14:49] shamasis commented on #7887
I wish this would have happened to you next month. (Not the part of your 2 hours being wasted, but the fact that you couldn’t notice that a line feed got in the way.) 😛

Our next release of Postman Canary contains a feature where we show and highlight all invalid characters input in headers. Please do try it out and give us feedback.

[2020-03-01 20:18] xk0der commented on #6795
A request for this feature came in via support channel.
The ticket has been attached to this issue internally.

[2020-03-01 23:13] j-c17 opened #8125 "Postman doesn't use the correct Bearer Token when running it using Collection Runner"
**Describe the bug**
Postman doesn't use the correct Bearer Token when running using Collection Runner , but works perfectly fine when running it manually one by one.

**To Reproduce**
Steps to reproduce the behavior:
1. I hit API1 (POST) to get Token1  and then save it in my QA environment using
`var jsonData = pm.response.json();
pm.environment.set("Token", jsonData.token);`

2. I hit API2 (POST

[2020-03-02 01:24] BeeLabs commented on #2701
+1

[2020-03-02 04:10] tithisharma98 commented on #8053
Hi @spencerrichardhenry , this is Tithi here from Postman product research. I would love to get on a call with you and understand your use cases around the issues which you are facing. Please feel free to book a slot as per your convenience using this link. Link - https://calendly.com/tithi-sharma/postman-user-research-interview . Please feel free to reach out to me if you have any queries. Lookin

[2020-03-02 04:32] Jk1484 opened #8126 "Import cURL doesn't import body"
**Describe the bug**
I have a request. When I get the cURL of request and import it, body is not imported.
For some other requests, this method works. But for this cURL:
[code]
**To Reproduce**
Steps to reproduce the behavior:
1. Go to a request
2. Click on code
3. Scroll down to cURL
4. Copy the cURL
5. Go to IMPORT -> Paste raw text
6. Paste the cURT
7. Click IMPORT

**Screenshots**
Here is the

[2020-03-02 06:10] ritwijsinha commented on #8082
Duplicate of #7685

[2020-03-02 06:10] #8082 closed, assigned to ritwijsinha

[2020-03-02 06:55] ArjunSingh-PM commented on #7971
@JohnyCape Thank you for writing to us. When you logged out of the app, did you see a warning message - _You have unsaved changes_

<img width="478" alt="Signing out with unsaved data" src="https://user-images.githubusercontent.com/53265429/75652344-d78af980-5c80-11ea-8a4e-51cc0a7569ad.png">

[2020-03-02 07:15] crumpledpineapple commented on #7671
@crumpledpineapple Still happening on jenkins with newman 4.6.0

[2020-03-02 07:34] iblues commented on #8120
Thinks

[2020-03-02 07:57] devrck commented on #2701
Useless request...

[2020-03-02 09:14] CaroPrenode commented on #4900
I run into the same problem.
Native App
Latest Version 7.19.1
macOS Catalina 10.15.3

[2020-03-02 09:18] rudivs opened #8127 "Configure Application Insights to collect logs"
Apologies, please delete. Somehow added this in the wrong repo.

[2020-03-02 09:20] #8127 closed, assigned to nobody

[2020-03-02 09:56] CaroPrenode commented on #4900
I deleted the history in /Users/<username>/Library/Application\ Support/Postman which fixed the problem for now.

[2020-03-02 10:05] Raja-Simha commented on #8068
@PU7510 you can use environment and collection variables to resolve them within descriptions. Currently, we only show resolved variables in the web view of the collection. (Collection Browser -> View in Web). We do not resolve global variables.

Let me know if this helps and feel free to leave your comments.

[2020-03-02 10:30] Raja-Simha commented on #6795
@mguinter @xk0der you can use environment and collection variables to resolve them within descriptions. Currently, we only show resolved variables in the web view of the collection. (Collection Browser -> View in Web). We do not resolve global variables.

Let me know if this helps and feel free to leave your comments.

[2020-03-02 11:00] huehnerlady commented on #6719
Hi,

I would go further and say you should not have to add a schema, but when you click on "refreshschema" it looks into the URL you handed in and does the introspection.

For me it was exected behaviour and it took me a while to realize that I have to manually do something... 😞

[2020-03-02 12:36] cyrielle-hada commented on #2086
**Two possible options for this issue.**

1. Add an option in the app settings.
2. Make Postman detect the request automatically: when Postman is opening a POST request - it should find the first tab where the parameters are defined by the user.

_Feedback reported via Product Support_

[2020-03-02 13:18] bt-dd commented on #6795
@Raja-Simha - I was the reporter on the support ticket mentioned by @xk0der. We are able to use environment variables directly in the documentation description. Where it does not pick-up the variables is within markup. So, for example, can't use an environment variable within a link URL.

[2020-03-02 19:30] stcalica commented on #7752
Windows seems to have an issue with importing when the URL gets very long, as data about a collection seems to be passed in the URL to import, a workaround is to try to reduce the size of the collection or environment. Or forgo the environment for the time being.

[2020-03-02 22:08] radupopabac commented on #7696
+1

[2020-03-02 22:14] ShahinKohan commented on #5209
This is crazy Postman should fix their code to comply with Windows RL length limits https://blogs.msdn.microsoft.com/ieinternals/2014/08/13/url-length-limits/

[2020-03-03 00:15] jeffreydking commented on #2701
HTTP/2 is a requirement for gRPC support. Very useful for our purposes.

[2020-03-03 00:17] jeffreydking commented on #5194
+1

[2020-03-03 00:18] jeffreydking commented on #2801
+1

[2020-03-03 01:38] xieyy09 opened #8128 "customize response httpstatus, return Could not get any response"
HI I encountered a problem

**version**
Postman for Linux
Version 7.19.1

When an error occurred in the request, I set the status code of the response, but returned:

![image](https://user-images.githubusercontent.com/21615006/75734033-d06ff400-5d31-11ea-88fb-cb706e638bd0.png)

![image](https://user-images.githubusercontent.com/21615006/75734043-d665d500-5d31-11ea-8c8d-bef173672d3a.png)

When I re

[2020-03-03 02:11] xk0der commented on #6795
@Raja-Simha Thanks for looking into this. Are we planning to resolve variables within link/URL markups as well?

[2020-03-03 02:14] #7847 closed, assigned to vikiCoder

[2020-03-03 04:51] playwolf719 opened #8129 "add cookie button doesn't work win 10"
**Describe the bug**
add cookie button doesn't work

**To Reproduce**
Steps to reproduce the behavior:
1. Click on 'cookies'
2. Add  domain name
3.  click "add cookie", no textarea show up

**Expected behavior**
add cookie textarea show up

**App information (please complete the following information):**
 - Postman v7.19.1
 - win 10 64bit

[2020-03-03 04:58] codenirvana commented on #8129
@playwolf719 Can you share the screen recording/gif for this issue?
Not able to reproduce this on Windows 10.

[2020-03-03 05:55] playwolf719 commented on #8129
![image](https://user-images.githubusercontent.com/6240382/75746949-af6dca00-5d56-11ea-85bb-c677b8896952.png)

[2020-03-03 05:57] playwolf719 commented on #8129
![image](https://im.ezgif.com/tmp/ezgif-1-38bd6d471de0.gif)

[2020-03-03 06:40] codenirvana commented on #8129
@playwolf719 That's because of the invalid hostname as the protocol `https://` is included.
This is a known issue and is being tracked here: #7603

For now, you can just drop the protocol and add a valid domain name (`google.com` in this case) to fix this issue.

Closing as duplicate of #7603

[2020-03-03 06:40] #8129 closed, assigned to nobody

[2020-03-03 06:43] codenirvana commented on #7603
Note to self: this is failing because the protocol is included with the domain name.

Removing the protocol will unblock this issue. cc. @coditva

[2020-03-03 06:55] shamasis commented on #8118
@tyd We are thinking of adding this max age by default when cookies are added through the UI. Eventually, the UI itself would be simplified to handle and identify these easily. Dealing with cookie string directly is a pain. @vkaegis is also exploring a tabular layout for this.

[2020-03-03 08:17] playwolf719 commented on #8129
It works now. Thx a lot!

[2020-03-03 08:38] gingters opened #8130 "Zoom only works 10x, and then stops working"
**Describe the bug**
When presenting with Postman, it is important to zoom in a LOT to make the contents presentable for the audience in the back.

**To Reproduce**
Open Postman and Press `Ctrl +` to Zoom in.
This will only work 10 times and then cease to work.

**Expected behavior**
Whenever Ctrl + is pressed, the app should zoom in further, without a limit.

**App information (please complete th

[2020-03-03 09:03] Raja-Simha commented on #6795
@bt-dd @xk0der We will look into it but cannot promise for now. I will keep this ticket open as there are still some limitations around variable resolution.

[2020-03-03 09:50] ArjunSingh-PM commented on #5880
Since this is a public API, we will **not be changing** this key in the response body as lot of people might be relying on the same for their use cases which would start breaking with this change.

[2020-03-03 09:50] #5880 closed, assigned to charlie-postman

[2020-03-03 10:49] godfrzero commented on #4539
Closing as this shouldn't be happening anymore.

[2020-03-03 10:49] #4539 closed, assigned to godfrzero, ankit-m, charlie-postman

[2020-03-03 11:32] danherd commented on #7294
I'm finding Postman starts chewing up CPU (and sometimes displays a black screen) when I have a large JSON response and it tries to auto-format it.

It would be good if this (the auto formatting) could be made optional.

[2020-03-03 11:34] grahamthesmith commented on #7294
Aha, yes, I was dealing with some large responses when I had high CPU numbers. Good spot.

[2020-03-03 11:37] behroozbc commented on #1744
+1

[2020-03-03 12:33] thorsten-stripe opened #8131 "Add Stripe OAuth and automatically set up API keys as environment variables."
**Is your feature request related to a problem? Please describe.**
Currently users need to copy their Stripe Secret key from the Dashboard to Postman.

**Describe the solution you'd like**
This would enable an onboarding flow where users connect their Stripe account with the Postman application (via Oauth) and automatically set up the keys in environment variables.

The Oauth flow generates specif

[2020-03-03 13:08] ratpik commented on #5209
@ShahinKohan - We are actively working on fixing this issue.

A workaround, for now, would be to reduce the URL length below 507 characters (if you are using Internet Explorer 11 on Windows) by reducing the length of values in the environment.

[2020-03-03 13:41] #5195 closed, assigned to ankit-m, kartikjain26, charlie-postman

[2020-03-03 14:00] shona-code commented on #4806
Error: connect ETIMEDOUT 104.27.134.11:443
in console kindly help

[2020-03-03 14:01] shona-code commented on #4806
Could not get any response
There was an error connecting to https://reqres.in/api/users.
Why this might have happened:
The server couldn't send a response:
Ensure that the backend is working properly
Self-signed SSL certificates are being blocked:
Fix this by turning off 'SSL certificate verification' in Settings > General
Proxy configured incorrectly
Ensure that proxy is configured correctly in S

[2020-03-03 14:01] shona-code opened #8132 "Could not get any response There was an error connecting to https://reqres.in/api/users. Why this might have happened: The server couldn't send a response: Ensure that the backend is working properly Self-signed SSL certificates are being blocked: Fix this by turning off 'SSL certificate verification' in Settings > General Proxy configured incorrectly Ensure that proxy is configured correctly in Settings > Proxy Request timeout: Change request timeout in Settings > General"
Error: connect ETIMEDOUT 104.27.134.11:443 with Could not get any response
There was an error connecting to https://reqres.in/api/users.
Why this might have happened:
The server couldn't send a response:
Ensure that the backend is working properly
Self-signed SSL certificates are being blocked:
Fix this by turning off 'SSL certificate verification' in Settings > General
Proxy configured incorrectl

[2020-03-03 14:02] shona-code commented on #8132
Error: connect ETIMEDOUT 104.27.134.11:443 in console

[2020-03-03 14:48] pcbl commented on #8123
Hey everyone. I am facing exactly this issue. Are there any workarounds that does not require me to change my backend to handle the SameSite policy?

[2020-03-03 14:55] untilted-document commented on #7294
I experience the same high CPU use with 7.19.1

Would running a profile in the dev tools be of any use? Which one (current view/current shell/shared view/shared shell) would be relevant?

[2020-03-03 14:56] untilted-document commented on #8132
Perhaps you could consider editing the Subject of your issue so it's a little shorter

[2020-03-03 15:05] Jgerardopine commented on #8072
I am having the same problem with .zip above 16MB. I have tried in different places and same thing, with Canary as well, both in Linux(ubutnu 18) and Windows 10.

[2020-03-03 15:30] chenkamin opened #8133 "filter routes in my collection"
hey,
im not sure if its a bug or a feature :)
so far, when i typed a route name in the filter input i got only the matching routes.
now, when i do the same im still seeing all my routes but the mathcing one's are in orange.

i have more then many routes and it is hard to find the orange ones.

can i configure the filter? it is happen because of an update?

thanks,
chen

[2020-03-03 15:52] coditva commented on #8133
Hey @chenkamin, this issue has been fixed in the latest version of the App (7.19.1). Please update and let us know if it's still an issue for you.

[2020-03-03 15:55] geoidesic commented on #2845
Is it possible to switch preflight checks on for postman?

[2020-03-03 16:46] untilted-document commented on #7294
Postman seems to be spending most of its time beating the s**t out of the AppData/Roaming/Postman/storage folder or a file within it. It took me a couple of seconds to collect over half a million events in ProcMon, that just seem to be an endless repetition of what you see in the screenshot below:

![image](https://user-images.githubusercontent.com/18049243/75798178-1e0a5200-5d6e-11ea-9b50-2de645b

[2020-03-03 17:16] chris-branch opened #8134 "Keep Alive connections shared when ports are different"
**Describe the bug**
Postman 7.19.1 (Mac OS) appears to have a bug related to Keep Alive connections that share the same domain name, but different ports. Example:

http://localhost:8000/public
http://localhost:8001/admin

When I send a GET request to one of these endpoints via Postman, everything works fine. However, when I try to interleave GET requests to both endpoints, I receive a successful

[2020-03-03 18:02] Aman-Malhotra commented on #5960
This would be really really good if we could get snippets of dart code from postman as flutter is being used more and more for app building in the market right now and bcoz of its hybrid nature of building for web, mac, desktop and ios makes it even more demanding in the future. So it would be great if postman generated dart code for api integration in flutter apps.

[2020-03-03 18:11] bkmdev opened #8135 "Mac OSX Postman v7.17 ~ v7.18.1 keeps becoming unresponsive to mouse clicks (but not hover) and text entry cursor is now erratic"
**Issue**:
Mac OSX Postman v7.17 ~ v7.18.1 keeps becoming unresponsive to mouse clicks (but not hover) and text entry cursor is now erratic.

**Environment**:  

- **OS ver**:  Mac OSX 10.13.1 +
- **App ver**:  Postman "Native" v7.17 ~ v7.18.1 (note:  Issue _did not_ occur in v6.X of Postman app.  Only after upgrading to v7.17+ did this issue begin)

**Reproducibility**:  50?-100% (I do not know w

[2020-03-03 18:19] ShahinKohan commented on #5209
Hi, we are using Chrome not Internet Explore. IE is not installed here.

Thank You,

[photo]
Shahin Kohan

[Logo296]
310-361-5710 x 710<tel:310-361-5710%20x%20710> | Shahin@aims360.com<mailto:Shahin@aims360.com>
310-361-5704 Direct/Text
811 W 7th St 12th Floor Los Angeles, CA 90017
www.aims360.com<http://www.aims360.com/>

[https://s3.amazonaws.com/images.wisestamp.com/social_icons/square/facebook

[2020-03-03 19:15] cward-ADC commented on #4751
I'm trying to figure out how to test some SOAP services with POSTMAN and seem to be running into this issue.  Say part is SOAPUI has the same problems.

My response is about 70mb and when I make the request I end up with a black screen, even if I try to use the Send and Download response I end up with no file and the same black screen results.

[2020-03-03 21:14] tristandenyer opened #8136 "Links on the top nav bar that point to external sites need to be updated"
**Describe the bug**
The links in the top nav menubar and About dialog modal for Mac version of app are incorrect and cause a redirect. This redirect wipes clean all referring data in Google Analytics.

**To Reproduce**
Steps to reproduce the behavior:
1. Open Mac Postman app
2. Click on 'Help' in top nav bar
3. Click on any of the provided links
4. notice that the browser pages quickly redirect t

[2020-03-03 21:14] Stephen-lapierre-mpf opened #8137 "Postman Version 7.19.1 (7.19.1) Could not get any response"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem. Please make sure the screenshot does no

[2020-03-03 21:16] Stephen-lapierre-mpf commented on #8137
On OS-X 10.14.6, worked fine before upgrade, now curl works but postman gets "No Response on POST.

[2020-03-03 21:16] #8137 closed, assigned to nobody

[2020-03-03 21:17] wolfejw86 commented on #3137
+1 to needing it. Seems like the filepath could be set by an environment variable and call it a day.

[2020-03-03 21:50] JP-from-Postman opened #8138 "Mock server not matching by query parameters"
**Describe the bug**
Mock server appears to _not_ be matching by request parameters in the following scenario:

Mock server includes 3 examples responses, each differentiated by one query parameter (`special_parameter`).

Example URLs:
{{host}}/module/child/{{key}}/users/{{id}}?Type=*TOKEN1,*TOKEN2,*TOKEN3,*TOKEN4&**special_parameter=NEGATIVE**
{{host}}/module/child/{{key}}/users/{{id}}?Type=*TOKE

[2020-03-03 22:52] u84six opened #8139 "Postman times out on large file uploads"
I'm using Postman to upload a multipart file. If the file is around 200MB, Postman will timeout before the upload completed even if the Request Timeout setting is set to Infinity (i.e. 0)

**To Reproduce**
- Point to a file upload api with a post request
- Select 'Form Data' radio for body
- for Key set it to the file name
- for Value, select a local file that's around 200MB
- in headers, set Cont

[2020-03-03 23:02] JP-from-Postman opened #8140 "Documentation: Order of saved examples doesn't match Collection"
**Is your feature request related to a problem? Please describe.**
The ordering of examples on generated documentation pages doesn't match what's in the app.

I have a user-submitted Collection with 6 example responses. In the app, they appear in the following order.

200
400
401
403
404
500

On the internal view for the generated documentation page, they appear in the following order:

400
401
20

[2020-03-03 23:23] JP-from-Postman opened #8141 "Pass arguments to monitoring run"
**Is your feature request related to a problem? Please describe.**
Right now, a monitor can only be run as is via the API. Changing anything about the monitor run is not possible without either (e.g.) updating the collection or environment prior to running. While updating the environment will work, this takes up additional API usage.

**Describe the solution you'd like**
Allow arguments to be pass

[2020-03-03 23:25] conradpronto commented on #1070
@Cazaimi will you be alerting us here when `re-ordering examples` is scheduled and/or released in the next 3 months?

[2020-03-04 01:35] VincentChen1212 opened #8142 "How to Export Runner "Setting" ??"
Hi,
How to Export Runner "Setting" ??
Let it can be reuse fast.
Not Runner Result,
Like Environment / Which API / Save Response...etc.

![截圖_2020-03-04_上午9_18_26](https://user-images.githubusercontent.com/51907583/75836152-e3e79180-5dfb-11ea-866b-3671430491a3.png)

Thanks.

[2020-03-04 02:23] LiamInJapan commented on #3126
Japanese language support would be incredible. I run a small development company here and for the most part, API documentation is _terrible_ here. Having Postman support Japanese would make it a much easier sell to our clients here

[2020-03-04 05:30] umeshp7 commented on #8126
@Jk1484 Thanks for reporting this.
We are working a fix for this, will be out soon.
Meanwhile you could try changing the `--data-raw` to `--data`. This will import the body too.

[2020-03-04 06:44] Raja-Simha commented on #8140
Duplicate of #1070

[2020-03-04 08:57] coditva commented on #7969
Hey, I don't think this is a bug...
![image](https://user-images.githubusercontent.com/8445768/75861810-ebbb2c00-5e23-11ea-9af2-1bb036e500a5.png)

The response message "Client Error" as reported in the issue is sent from the server itself.

[2020-03-04 08:57] #7969 closed, assigned to vvs11

[2020-03-04 09:25] ratpik commented on #5209
@ShahinKohan - We are unable to reproduce this on Windows 10 and Chrome (Version 80). Can you confirm the version of the Postman app you are using?

[2020-03-04 09:34] chenkamin commented on #8133
solved !

[2020-03-04 09:34] #8133 closed, assigned to coditva

[2020-03-04 09:50] pranaya94 commented on #8138
The * character in the request to the mock server is encoded as %2A by Postman before sending.
This does not match the * in the saved example request. Hence the query parameters of none of the 3 examples exactly match the requests sent to the server.

On the other hand, the query parameter keys (TYPE, special_parameter) do match for all 3 examples, making all of them equally likely to be selected.

[2020-03-04 10:19] JakimLi commented on #2185
Postman should not be responsible for database interaction if you're using postman from as a node-js application, you can write other scripts, and make it work with postman. I had the same requirement previously, we ended up with creating a new api testing automation tool that takes database interaction as the first-class citizen.

https://github.com/JakimLi/pandaria

Hope it helps

[2020-03-04 10:20] nickbeaugie commented on #6796
That link above is now dead... is is possible to post a new one?

[2020-03-04 11:10] ostrolucky commented on #2369
In my case it looks like Postman is not honoring /etc/hosts when there is DNS record for given hostname registered.

[2020-03-04 12:16] lmflucca commented on #7700
Hello,

I can access Postman to Google login, but I installed extension postman for Google Chrome, not desktop app.

Please, access this path to download extension postman [https://chrome.google.com/webstore/detail/postman/fhbjgbiflinjbdggehcddcbncdddomop/related?hl=en]

[2020-03-04 12:58] Kozaar89 commented on #5302
+1

[2020-03-04 12:58] Arman92 commented on #3822
Postman is not opensouce, there is nothing we can do!

[2020-03-04 12:59] Kozaar89 commented on #5294
+1

[2020-03-04 15:01] katlimruiz commented on #5078
nice suggestion

[2020-03-04 15:33] Arametheus commented on #7700
@lmflucca Yes that works but the issue is they are deprecating it and recommend to not use the extension.

Only other way I have gotten it to work is create the bearer token else were like the google oath2 playground and then copy that into the bearer token field.  but of course you have to refresh it everytime it expires.

[2020-03-04 16:30] untilted-document commented on #7294
I quit postman, renamed the storage folder to storage_old and restarted postman. CPU usage is very low now. I've diffed the two folders and the only significant differences are:

* New folder doesn't have runner.json, requester.json or requester.json.lock files
* settings,json content differs between old and new. In the old the installation ID is one guid, in the new it is another (different) guid

[2020-03-04 16:34] orShapira commented on #6144
the same issue of @ckanibal is happening to me at v7.19.1

[2020-03-04 16:36] orShapira commented on #7696
+1

[2020-03-04 16:37] denizoztreves commented on #7409
Same here :
 - MacOS Native app
 - Postman Version 7.19.1 (7.19.1)
 - OS: macOS Catalina 10.15.3

[2020-03-04 16:38] denizoztreves opened #8143 "Crashing when trying to capture requests with proxy source on an already used port"
**Describe the bug**
When trying to capture requests on Postman the application crashes.

**To Reproduce**
Steps to reproduce the behavior:
1. Run a local application on port a given port ie 16419
2. Click on 'Capture requests and cookies'
3. Fill port as 16419
4. Turn on capture requests switch
5. Application crashes

**Expected behavior**
A clear error message stating that the port is unavailabl

[2020-03-04 16:41] andreamoro commented on #6976
Do we have any update on when a fix will be ready here?

[2020-03-04 16:43] codenirvana commented on #7696
@AshraafElkholy @radupopabac @orShapira Can you share a scaled-down collection (or steps) which we can use to reproduce this issue?

[2020-03-04 18:17] kevinding0218 commented on #7895
Same issue happening to me on OS 10.15.3

[2020-03-04 19:36] JP-from-Postman commented on #8141
Closing (webhooks)

[2020-03-04 21:10] jwbanning opened #8144 "Inserting the "{" in the URL of a request crashes"
**Describe the bug**
I am trying to change a URL from http://example.com to use an environmental var. The syntax should be the double curly bracket "{{ }}". When I go to modify the request string in the application, inserting the "{" makes the app fail.

**To Reproduce**
https://postman.slack.com/files/UQMT8K4DS/FU1UM0HAS/header.mov

**Expected behavior**
The environmental variable or curly bracke

[2020-03-04 22:17] chrislentz commented on #7301
+1

[2020-03-05 00:25] JP-from-Postman commented on #8138
Thanks @pranaya94 .

I tried replacing the asterisks in the examples with `%2A`, and it _almost_ fixes the problem. The requests with `special_parameter=ALL|POSITIVE` match to the appropriate example, but the NEGATIVE request doesn't match — it returns the POSITIVE example. Any thoughts?

[2020-03-05 02:26] baby5 commented on #2030
@prashantagarwal this should be reopened to solve

[2020-03-05 04:24] scriptsure commented on #3773
@a85 is there any progress having a single user name and password or bearer token that could be used to secure the docs? We are a commercial healthcare (i.e. HIPPA) company and do not want to share docs with everyone.

[2020-03-05 04:25] scriptsure commented on #3663
@a85 is there any progress having a single user name and password or bearer token that could be used to secure the docs? We are a commercial healthcare (i.e. HIPPA) company and do not want to share docs with everyone.

[2020-03-05 04:33] eslym opened #8145 "Hihgly suspect older account is causing sync failed"
My postman account always failed to sync while my friend's account is success, the only different between our account is my account was created years ago, and the sync is success after I deleted and re-created my account, so highly suspect some failing of sync is causing by server issue with older account.

[2020-03-05 04:38] preethammavin commented on #8145
@eslym any chance you can email us at help@postman.com with the registered email for us to take a closer look?

[2020-03-05 06:13] coditva commented on #8076
Hey, according to the RFC (https://tools.ietf.org/html/rfc2518#section-10.1), status code of `102` is sent specifically to ask the client to wait for a response.

   especially methods that support the Depth header.  In such cases the
   client may time-out the connection while waiting for a response.  To
   prevent this the server may return a 102 (Processing) status code to
   indicate to the cl

[2020-03-05 06:13] #8076 closed, assigned to coditva

[2020-03-05 06:17] sudipidus opened #8146 "Open postman collection as project (which remains synced to the filesystem)"
**Problem**
I store my postman collections in a VCS system so I can pull the changes and run them via Newman in a CLI environment in remote server. However, with the current flow with every change you make, you export again and push again which I find tedious and obviously error-prone.

**Proposed Solution**
You import a collection from file system and it remains synced. Kind of like project. When

[2020-03-05 06:31] preethammavin commented on #8145
@eslym thanks for the email, I was able to confirm my hunch that you had disabled the sync functionality when you had initially signed-up which caused the issue. A re-signup fixed it.

[2020-03-05 06:31] #8145 closed, assigned to nobody

[2020-03-05 06:39] shreys7 commented on #7895
Duplicate of #8126

[2020-03-05 06:40] shreys7 commented on #7895
Duplicate of #7983

[2020-03-05 06:43] shreys7 commented on #7983
@ptolemys Thanks for reporting this issue. We are soon going to release a fix for this. Will keep you updated here.

[2020-03-05 06:44] shreys7 commented on #7895
@wrssmi Thanks for reporting this issue. We are soon going to release a fix for this. Will keep you updated here.

[2020-03-05 06:49] vikiCoder commented on #7471
Hi @hardcodet,

I tried to reproduce your issue in the latest version of the Postman app but had no success 😞. Can you please update to the latest version of the [Postman App (v7.19.1)](https://www.postman.com/downloads/) and see if the problem is still there?

You are saying that the request works once and then it only works again when the app is restarted. So my hunch is that it could be a probl

[2020-03-05 07:40] pranaya94 commented on #8138
This is happening because the `x-mock-response-name` header value has been set to 'POSITIVE' in the NEGATIVE example.

[2020-03-05 08:27] karsten-wagner commented on #3365
+1
We are managing collections and environments on Github together with the API implementation. On every change you want to import the latest state to Postman for manual testing, while the files are used 1:1 via "Newman" as automated tests in the CI/CD.
It's super annoying that every import creates duplicated environments as we use up to 8 stages in the development life cycle and have multiple API

[2020-03-05 08:32] umeshp7 commented on #7468
@lordrhodos We can confirm that the schema provided by you imports successfully in v7.19.1. I request you to update Postman app and try again.

@kneufeld-pbp
We are tracking the issues with App freezing here. https://github.com/postmanlabs/postman-app-support/issues/7844.

[2020-03-05 08:32] #7468 closed, assigned to nobody

[2020-03-05 08:43] brentco opened #8147 "Export request and response as HAR"
**Is your feature request related to a problem? Please describe.**
So I'm facing the issue right now that I have to share my results with another team for a call. I can perfectly export a good complete request (using curl) but curl doesn't work properly on the laptop I am working on (company stuff). I need to share my response with them, but it's quite hard to share anything besides the response b

[2020-03-05 09:39] a13a commented on #4660
It's in ~/Library/Application Support/Postman/IndexedDB

[2020-03-05 10:15] VicKetchup opened #8148 "Postman API rate limit issue"
**Describe the bug**
To better monitor the health of our environments, we are using Postman APIs every morning to collect the results of all monitor runs. However recently we have noticed that some data was not coming through and after investigation, found that this is due to "Rate limit exceeded" error that we are getting.

**To Reproduce**
Steps to reproduce the behavior:
1. Create some script t

[2020-03-05 10:36] umeshp7 commented on #7983
Duplicate of: https://github.com/postmanlabs/postman-app-support/issues/7895

[2020-03-05 10:36] #7983 closed, assigned to shreys7

[2020-03-05 10:36] umeshp7 commented on #8126
Duplicate of: https://github.com/postmanlabs/postman-app-support/issues/7895

[2020-03-05 10:36] #8126 closed, assigned to shreys7

[2020-03-05 11:20] codenirvana commented on #8134
@chris-branch Yes, Postman does maintain a connection pool for the keep-alive connections but this issue is very unlikely to happen.

Can you share a sample server that we can use to reproduce this issue locally?

[2020-03-05 12:25] zoek1 commented on #8057
@shreys7 could i take this? I recently send a PR to the code generators project so i think i can table this in short time

[2020-03-05 12:38] ArjunSingh-PM commented on #8148
@VicKetchup, thank you for writing to us. Could you elaborate on what is the objective behind retrieving the entire run data for all monitors.

[2020-03-05 13:01] Chyuae commented on #3358
Would be really helpful.

[2020-03-05 13:19] VicKetchup commented on #8148
@ArjunSingh-PM We store the data (for last 30 runs) and then put it up on a webpage using in-house API to request the stored data. This webpage is then used across offices so everyone knows how we are doing, here is the main page which now unfortunately doesn't display the data properly:
![image](https://user-images.githubusercontent.com/43671684/75985225-d1e11e00-5ee3-11ea-8475-ce39e1b52d6c.png)

[2020-03-05 13:26] prdemelof commented on #3897
It's unnecessarily hogging my otherwise beautifully empty SSD.

[2020-03-05 14:34] v-krishnakishore commented on #5209
Hello @ratpik,

Please try now in chrome. It will not work. Previously, we have shortened the default values of the environment variables. Thus it worked.

[2020-03-05 15:06] Darkhogg commented on #7990
Note that this variable is documented in https://learning.postman.com/docs/postman/variables-and-environments/variables-list/

[2020-03-05 15:36] anderjoy commented on #8076
Hello...

Thanks for answering.

Since the server has already responded with this code, how do you suggest that it responds again with another status code?

For the server this request has already been completed, there is nothing in the pipeline.

We use this code to notify the customer that the request is still processing, that they should wait a few seconds and try again. In our understanding, t

[2020-03-05 17:31] kevinswiber commented on #8076
Hi, @anderjoy.  HTTP clients that understand `102 Processing` should leave the connection open.  This is essentially a keep-alive ping to inform the client that the request has 1) been received and 2) is actually being handled by the server.

Consider perhaps returning a [`202 Accepted`](https://developer.mozilla.org/en-US/docs/Web/HTTP/Status/202) response on the initial request.  This can help m

[2020-03-05 17:33] JP-from-Postman commented on #8138
Whoops, right you are. Thanks @pranaya94! Marking closed.

[2020-03-05 17:33] #8138 closed, assigned to vvs11

[2020-03-05 18:00] bluetoothfx commented on #6723
@Ali4Dev Thanks for your tips, it works.

**For windows user**
1. Make sure your postman is already closed
2. Go to Run
3. Paste  %appdata%  and hit enter
4. Find Postman folder
5. Delete everything inside it
6. Run postman now or Reinstall if you already uninstalled.

[2020-03-05 18:13] olistic commented on #4594
Hey @numaanashraf! Did you end up finding an automated solution for this?

[2020-03-05 18:29] prashantcfc commented on #5194
+1

[2020-03-05 20:50] Dangerunicorn commented on #7383
I am currently experiencing this issue with a user I support. Her sidebar stays hidden even when I toggle the icon. I can't find a way to get it to appear.

[2020-03-05 21:10] mackaaij commented on #7383
Somehow, it’s working for me as desired for a few weeks now. I didn’t do anything - although I might have updated Postman.

[2020-03-05 22:55] matt-ball opened #8149 "Update collection endpoint is particularly strict on request body"
**Is your feature request related to a problem? Please describe.**
`PUT https://api.getpostman.com/collections/{{collection_uid}}`

One use case for this endpoint is updating related collections - if I have a collection as the source of truth in a team workspace, but have a duplicate copy in my personal workspace, should I wish to update the version in my personal workspace, I `GET` the collection

[2020-03-06 01:19] pelennor2170 commented on #1963
It's a lot more clear in the Collection Runner that there were errors during the test than previous versions (but still could be more obvious), but what would be really useful would be a configurable per test run option that any test script failures cause the associated test to fail as well.  This would be useful for both the Collection Runner and even more so for tests run via the command line (o

[2020-03-06 05:22] j-fbriere commented on #3171
+1

[2020-03-06 06:51] v-krishnakishore commented on #5253
We have the same issue. Our users use windows OS.
Please fix so that click on the external link opens in the new tab.

[2020-03-06 07:10] Amrutasri commented on #2437
I am using Ubuntu 18.04 and don't have any Virtual box enabled. Still I am facing the same issue. It keeps happening window shows up but with a blank screen and I had to reinstall it again.

[2020-03-06 08:27] rollendxavier commented on #4636
The suggested method of "Setup environments" is not what those are meant for. There should be a feature to configure OAuth2 separately for requests.

[2020-03-06 09:07] clemjt commented on #7558
Hi @xk0der I tried to use your attached collection especially with the method `pm.response.to.have.jsonBody(optionalExpectEqual:Object)` but was not able to make the test fail when trying to modify it. Would it be possible for you to write at least one test which fails with this method? Currently, it seems to always succeed regardless of the change I make to the body or at the test itself.

I'm at

[2020-03-06 09:21] fordevtls opened #8150 "Postman crash when activating Capture requests function on a port already bind"
**Describe the bug**
Postman crash when activating Capture requests function on a port already bind

**To Reproduce**
Steps to reproduce the behavior:
1. Has a process other than Postman bind to a specific port, like 8080
2. Go to 'Capture requests and cookie with Postman'
3. Set the Port to '8080'
4. Click on the switch button to put it on 'ON'
5. Postman crash without any message.

**Expected be

[2020-03-06 09:41] umeshp7 commented on #7740
@sroettering Thank you for confirming.
@augustocb23 Couldn't download the schema from the links you have provided.
I request you to try it in v7.19.1.

[2020-03-06 10:12] Wotuu commented on #8099
Hi Ankit,

As discussed you may not have deployed the fix yet, but I just want to let you know we've just had the issue pop up again. In case you did deploy the fix it was not effective. I will be in contact with support to resolve the issue; the Restore function (Collection -> Changelog) does not seem to be functioning properly unfortunately.

[2020-03-06 11:29] cyrielle-hada opened #8151 "API usage discrepancy - unable to remove APIs"
**Describe the bug**

I can't remove unnecessary APIs in order to make space in my resource usage.
The View detailed API usage - https://app.postman.co/usage/apis shows that a user in my team has 6 APIs.

However, the APIs have been deleted by the user **from all the workspaces including its own personal workspace**.

The personal API view of this user -  https://app.postman.co/me/apis - shows an

[2020-03-06 11:39] cyrielle-hada commented on #8151
**Postman update**

This issue happening because the API has been from all the workspaces.
The cause of the underlying issue has been found and a fixed was pushed to resolve this flow.

However, users who have removed the APIs before the fix will face this issue.

**Workaround**

Delete the APIs from the account where the APIs were created using [the Postman API](https://documenter.getpostman.com/

[2020-03-06 11:43] ash007-postman commented on #8099
@ankit-m Can you please take a look at it, more info can be found at Zendesk.

[2020-03-06 12:03] jomoho commented on #4009
do it now!

[2020-03-06 12:12] Kevdog777 commented on #4019
Hi @sivcan,

I am getting this issue again in the latest version:

![image](https://user-images.githubusercontent.com/38526279/76082572-9efe5f00-5fa3-11ea-8606-9d873bfa0d1e.png)

I am running this on Windows 10.

I am afraid, I can't show my code due to company policy.

[2020-03-06 12:32] sidartdesai commented on #2559
Tried reinstalling
Tried removing .config/postman folder
Restarted system
reinstalled postman

still postman app not working in Manjaro.
can anyone suggest a fix ?

[2020-03-06 12:32] 18853477039 opened #8152 "Post body row cursor exception bug"
**Describe the bug**
can't revise row.
Normal use on Windows

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Post'
2. Click on 'body'，'row'
3. Enter anything
4.Click anywhere entered
5. backspace
6.see error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem. Please make su

[2020-03-06 12:37] sidartdesai opened #8153 "Postman desktop app hangs on POST request, keeps sending but no response, OS is Manjaro"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem. Please make sure the screenshot does no

[2020-03-06 13:00] codenirvana opened #8154 "Moving towards the next-generation URL processor"
<details><summary>Updates</summary>

* Enabled in [Postman Canary](https://www.postman.com/downloads/canary) since version `7.20.0-canary03`.
* In opt-in mode since Postman version `7.20.0`.
* In opt-out mode since Postman version `7.28.0`.
* Default since Postman version `8.0.0`.
</details>

We have introduced an improved URL processing system within Postman. This provides you the flexibility and

[2020-03-06 13:22] mccannt commented on #4019
@Kevdog777 Can you give us any more details on this?
Do you have any console errors or anything to help us?

Thx

[2020-03-06 13:23] Wotuu commented on #8027
One other thing I noticed, in the Notifications area of Postman it doesn't show the branch info either:
![image](https://user-images.githubusercontent.com/811809/76087228-06250f00-5fb6-11ea-8b59-0c99b9992d46.png)

[2020-03-06 14:04] augustocb23 commented on #7740
Sorry, there was a problem with my link 😬

Now is working well on v7.19.1. The issue can be closed.
Thanks!

[2020-03-06 14:25] EddieSem commented on #6796
https://learning.postman.com/docs/postman/variables-and-environments/variables/#sessions-in-postman

[2020-03-06 14:38] t-mxcom commented on #3692
I'd also REALLY need Postman to support NTLM when authenticating at the proxy!!!
Are there any news or plans on this??

[2020-03-06 14:50] sindhususarla opened #8155 "Did not receive reset password email"
**Describe the bug**
I did not receive reset password email to sindhu.susarla@siriusxm.com

**To Reproduce**
I clicked on trouble signing in
But did not receive email

**Expected behavior**
Had to receive an email to reset pwd.

**Screenshots**
If applicable, add screenshots to help explain your problem. Please make sure the screenshot does not contain any sensitive information such as API keys or

[2020-03-06 16:16] sitetester commented on #6455
Also check that you are generating a valid HTTP response.
CURL cli is ignoring such requirements, but the backend link in browsers should tell if they are loading correctly.

[2020-03-06 16:21] Eugeneator commented on #7592
Any updates on that?

[2020-03-06 16:28] Eugeneator commented on #7592
Is there any workaround to solve the problem?

[2020-03-06 17:07] shamasis commented on #4555
Hello everyone I this thread! I think we’ve made some progress on this aspect that would interest you. We’ve updated the URL processor with a new one in our latest Canary release. Would love to gather your feedback on the same. More information on what we did is at: https://github.com/postmanlabs/postman-app-support/issues/8154

[2020-03-06 21:32] JP-from-Postman commented on #8140
@Raja-Simha I think this issue may be separate from #1070. #1070 refers to re-ordering examples, this issue notes that there is a disparity between the order shown in the app, and what is shown on a documentation page. Can we re-open?

[2020-03-07 01:19] chris-branch commented on #8134
Sorry, it turns out the bug is with our corporate proxy.  Postman is working fine.  It didn't occur to me that requests to localhost would use the proxy, but they do in our setup.

In case this helps someone else in the future, I'll go ahead and post the test case I created.  Use the attached docker-compose file (rename from .txt to .yml) and run these steps:

1. docker-compose up -d
2. Open a web

[2020-03-07 01:19] #8134 closed, assigned to vvs11, codenirvana

[2020-03-07 03:42] eugen-nw commented on #4594
It îs pitiful, I need to open dev. view right after I start Postman and hit F5 when the exception occurs if I do not want a black screen.

[2020-03-07 04:01] conradpronto commented on #7711
@Cazaimi @Raja-Simha We are experiencing the same problem as @xk0der.  It was brought to our attention by one of our clients and is very easy to replicate on a 13 inch macbook.

It's not good look.  Makes us look sloppy and unprofessional.  any update on timing please?

[2020-03-07 04:06] YankiPranata commented on #3358
+1

[2020-03-07 05:46] shamasis commented on #7965
@sparecycles can you check if latest Postman Canary release solves this for you? More details at https://github.com/postmanlabs/postman-app-support/issues/8154

[2020-03-07 05:49] shamasis commented on #5779
This should not be resolved. More details at https://github.com/postmanlabs/postman-app-support/issues/8154 ... @chrisdeso 😛

[2020-03-07 05:51] shamasis commented on #4549
@jesperhoy we have made progress in this front. More details at https://github.com/postmanlabs/postman-app-support/issues/8154

[2020-03-07 05:54] shamasis commented on #4267
@psylence303 ... in latest Postman Canary, this is handled differently and even UI hints are added to make new lines and white spaces more visible. More details at https://github.com/postmanlabs/postman-app-support/issues/8154

[2020-03-07 05:56] shamasis commented on #4171
Hello everyone, latest Postman Canary onwards, you’d be able to observe a more consistent URL encoding and ... best of all ... turn off encoding completely for most parts of the URL using a setting. More details at https://github.com/postmanlabs/postman-app-support/issues/8154

[2020-03-07 08:51] jecaestevez commented on #7569
I still have the same issue, am I missing something?
![image](https://user-images.githubusercontent.com/1833176/76140284-fb6f8600-6058-11ea-9684-cb0f21a89346.png)

[2020-03-07 11:18] bipinct opened #8156 "Upload file support in GraphQL"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2020-03-07 17:33] sparecycles commented on #7965
@shamasis it does indeed.

![fixed](https://user-images.githubusercontent.com/719818/76147983-b185a080-6056-11ea-9373-85f3183e0b78.png)

[2020-03-07 20:35] shamasis commented on #4549
@jesperhoy just tested with new URL processor on Canary. The URL `https://httpbin.org/anything/æøå.html` now gets sent as `https://httpbin.org/anything/%C3%A6%C3%B8%C3%A5.html`

[2020-03-07 20:40] shamasis commented on #6097
Just tested on latest canary with changes as described in https://github.com/postmanlabs/postman-app-support/issues/8154 ... it is fixed now!

![Screenshot 2020-03-08 at 02 08 11](https://user-images.githubusercontent.com/232373/76152127-ea1e8c00-60e1-11ea-8487-da266ab805ad.png)

[2020-03-07 21:01] shamasis commented on #3469
This seems to be addressed now.

[2020-03-07 23:14] mdc2012 opened #8157 "Date to milliseconds converter"
Many APIs require passing dates as "milliseconds after 1970".  Usually it is required to visit a website offering a date-to-milliseconds converter, enter the date, and copy the resulting LONG value to a params field in Postman.

This feature request is to embed such date-to-milliseconds converter inside Postman. Such feature would be a real time saver and save multiple input-copy-paste cycles as d

[2020-03-08 02:14] danielkohatwork commented on #6657
@sankalp0o: The [approach you commented](https://github.com/postmanlabs/postman-app-support/issues/6657#issuecomment-499597696) appears to not be applicable to running things locally?

[2020-03-08 07:23] tristandenyer opened #8158 "On small screens, collection page hides 2 primary sections"
**Describe the bug**
When the user vies the collection page in a small viewport, the "How do I run this API collection?" and "New to Postman?" seconds disappear. The only left to do is "Download JSON".

This causes two problems:
— people viewing this on smaller viewports don't get buttons for the Postman app.
— Google little to nothing for SEO, and therefore Search Results Preview becomes so basic

[2020-03-08 07:32] tristandenyer opened #8159 "Title tag and Description tag missing from collection web page"
**Describe the bug**
The <title> and <meta name=”description” ...> tags are missing from the public collection pages. And as stated in #8158 we are hiding content on the small / mobile breakpoint, this leaves Google virtually nothing for the Search result, making the result not very engaging.

**To Reproduce**
Steps to reproduce the behavior:
1. Google search for "bigcommerce postman collection"
2

[2020-03-08 08:11] orShapira commented on #7696
look like it something with the await vs. callback working differently
calling pm.enviroment.set working fine inside a callback but nothing happen after await

`const main = async () => {
  pm.environment.set("posts", []); // <=== work fine
  await new Promise((resolve, reject) => {
    pm.sendRequest({ url: `${pm.environment.get('api-prod')}/configurations/`, method: 'GET'}, (err, res) => {

[2020-03-08 08:16] orShapira commented on #7696
look like it something with the await vs. callback working differently
calling pm.enviroment.set working fine inside a callback but nothing happens after await

[code]

[2020-03-08 11:57] temitopealabi commented on #6087
was able to import my self signed certificate into postman settings
in Postman
click Settings  at right top bar gear icon >  Click Certificates then click on import icon

thanks Postman

[2020-03-08 12:03] sahuadarsh0 commented on #1060
thanks

[2020-03-08 16:16] darnley commented on #1744
+1

[2020-03-08 20:36] #7740 closed, assigned to nobody

[2020-03-08 23:20] frederikheld commented on #7852
Same issue here. Fresh install of postman 7.19.1 via "sudo snap install postman" after I had uninstalled a previous version which didn't start. Newly installed version doesn't start as well, neither via app drawer nor via terminal. Ubuntu version is 19.10.

[2020-03-09 06:26] sankalp0o commented on #8156
@bipin000 can you elaborate on the problem you're facing?

[2020-03-09 08:09] Raja-Simha commented on #7711
@conradpronto we will be pushing out a fix this week.

[2020-03-09 08:13] Raja-Simha commented on #8140
These two issues result from the same underlying limitation. We will be fixing both of these together. I will re-open just in case.

[2020-03-09 08:28] godfrzero commented on #8140
@JP-from-Postman Is the order of examples returned in the Postman API incorrect as well? If so, this is a syncing issue and is not limited to documentation.

[2020-03-09 08:34] vikiCoder commented on #8106
@adamkelm, this is fixed in the latest [Postman Canary](https://www.postman.com/downloads/canary) release. You can see more details about the fix at #8154

[2020-03-09 08:36] vikiCoder commented on #7758
@adamkelm, this is fixed in the latest [Postman Canary](https://www.postman.com/downloads/canary) release (version 7.20.0-canary03). You can see more details about the fix at #8154

[2020-03-09 08:44] vikiCoder commented on #7432
@Eomm, this is fixed in the latest [Postman Canary](https://www.postman.com/downloads/canary) release (version 7.20.0-canary03). We now automatically encode path variables in a URL. You can see more details about the fix at #8154

[2020-03-09 08:52] vikiCoder commented on #6126
Hi, we have added a request option to turn off automatic URL encoding. You can turn that option off to stop encoding all characters (including single and double quotes). This option is available in the latest [Postman Canary](https://www.postman.com/downloads/canary) release (version 7.20.0-canary03). You can see more details about the fix at #8154

![image](https://user-images.githubusercontent.c

[2020-03-09 08:53] vikiCoder commented on #6023
Hi, this is fixed in the latest [Postman Canary](https://www.postman.com/downloads/canary) release (version 7.20.0-canary03). You can see more details about the fix at #8154

[2020-03-09 08:56] vikiCoder commented on #5570
Hi, we have added a request option to provide more controll over automatic URL encoding. This option is available in the latest [Postman Canary](https://www.postman.com/downloads/canary) release (version 7.20.0-canary03). You can see more details about the fix at #8154

![image](https://user-images.githubusercontent.com/16588032/76196985-4fbd6600-6211-11ea-836b-926ee44fc969.png)

[2020-03-09 09:02] vikiCoder commented on #5051
Hi, we have made some significant changes relates to URL handling and it is available in the latest [Postman Canary](https://www.postman.com/downloads/canary) release (version 7.20.0-canary03). Issue mentioned in this thread is fixed as part of those changes. You can see more details about the changes at #8154. Please download the [Postman Canary](https://www.postman.com/downloads/canary) and see

[2020-03-09 09:14] vikiCoder commented on #7813
Hi, this is fixed in the latest [Postman Canary](https://www.postman.com/downloads/canary) release (version 7.20.0-canary03). You can see more details about the fix at #8154

[2020-03-09 09:14] vvs11 commented on #8152
@18853477039 Could you let us know in more detail what you're trying to do? I am not able to reproduce this. If possible could you also attach some screenshots?

[2020-03-09 09:15] coditva commented on #8070
Hey @AndyJepkes, Postman has a default behaviour of redirecting with the `GET` method. But you can always configure this at request level by setting the "Follow original HTTP Method" option:

![image](https://user-images.githubusercontent.com/8445768/76198683-85178300-6214-11ea-8dd5-b3aaf64c662f.png)

[2020-03-09 09:15] vikiCoder commented on #7300
Hi, this is fixed in the latest [Postman Canary](https://www.postman.com/downloads/canary) release (version 7.20.0-canary03). You can see more details about the fix at #8154

[2020-03-09 09:35] vikiCoder commented on #7155
@arielbeje this is fixed in the latest [Postman Canary](https://www.postman.com/downloads/canary) release (version 7.20.0-canary03). We now automatically encode path variables in a URL. You can see more details about the fix at #8154

[2020-03-09 09:37] vikiCoder commented on #7123
Hi, this is fixed in the latest [Postman Canary](https://www.postman.com/downloads/canary) release (version 7.20.0-canary03). You can see more details about the fix at #8154

[2020-03-09 09:40] vikiCoder commented on #6120
@gingerdin this is fixed in the latest [Postman Canary](https://www.postman.com/downloads/canary) release (version 7.20.0-canary03). We don't automatically encode `{}` anymore according to WHATWG URL standards. You can see more details about the fix at #8154

[2020-03-09 09:48] vikiCoder commented on #3816
Hi everyone, this is fixed in the latest [Postman Canary](https://www.postman.com/downloads/canary) release (version 7.20.0-canary03). We don't automatically encode `()` anymore according to WHATWG URL standards. You can see more details about the fix at #8154

[2020-03-09 10:07] entspannt commented on #1066
+1

[2020-03-09 11:25] vikiCoder commented on #7808
Hi @shleym,

I think your request is failing while using a global variable in the request header is because the value of your global variable (`{{MY_AUTHORIZATION_KEY_for_this_site}}`) contains an invisible newline character in it. This usually happens while copy-pasting value of environment variable from some other resources (like a webpage). Can you please check and confirm my speculation?

If t

[2020-03-09 11:38] harryi3t commented on #7852
@frederikheld I did a fresh installation of ubuntu 19.10 and installed Postman using snap. I could not reproduce the issue. Could you share the logs that you see on the terminal while running following commands:

[code]

[2020-03-09 11:46] shamasis commented on #6293
Closing due to inactivity. The code flow and extensive tests were done, but we failed to reproduce this. Perhaps we need a fresh set of detailed information or go in a shared call with someone where it is reproducible and also observed via Wireshark (or some other network level tool.)

[2020-03-09 11:46] #6293 closed, assigned to codenirvana

[2020-03-09 12:40] shamasis commented on #7316
This should not be resolved. More details at #8154 @etabackman

[2020-03-09 12:40] Raj-postman commented on #8155
Hi @sindhususarla

Checked it from our end and see that the reset email has been delivered to your inbox. Could you try resetting the password once again and see if you are able to locate it now?

If you are unable to find the email yet, please write to us at help@postman.com and we will help you with the same.

[2020-03-09 12:41] #3469 closed, assigned to a85, vkaegis

[2020-03-09 12:43] shamasis commented on #3585
This should not be resolved. More details at #8154 @ceefour

Making this easier on the input-field is something we are assessing scope of. cc @vkaegis

[2020-03-09 12:47] dhineshwiz commented on #7752
Fix for this is deployed in Postman APP V7.20.0.
Closing the issue for now, please feel free to reopen the issue, if you face it again.

[2020-03-09 12:47] #7752 closed, assigned to dhineshwiz, Raja-Simha

[2020-03-09 12:54] dhineshwiz commented on #7753
This is fixed on https://explore.postman.com now, closing the issue

[2020-03-09 12:54] #7753 closed, assigned to ratpik, godfrzero, Raja-Simha

[2020-03-09 13:32] labifrancis opened #8160 "Nested Postman Collections"
Posting for a user:

**Is your feature request related to a problem? Please describe.**

The user has many collections that have been created for their documentation. The user wants to create a higher level collection that includes smaller subsets of collections that are shared. This way the user would only have to maintain the collection in one place but it could be used by many different parent

[2020-03-09 13:35] SamuelTissot commented on #2030
I am on Ubuntu and I noticed that for me the issue arises if I have lots of tabs open. After a certain amount of tabs, `ctr+click` just opens another tab. I hope it helps to debug

[2020-03-09 14:12] VitorBrangioni commented on #6806
Same issue.

[2020-03-09 14:13] sindhususarla commented on #8155
Hello,

Found the email in junk folder. Thanks! You can close the ticket now.

On Mon, Mar 9, 2020, 7:40 AM Kurmavathar <notifications@github.com> wrote:

[2020-03-09 14:15] Wotuu commented on #8099
Thank you for the communication of the past few days, good to hear this was taken seriously and the damage was restored skillfully 👍 . As for me this issue can be closed, but I'll leave that up to you guys to close it when you have fully resolved the issue internally.

[2020-03-09 14:49] coditva commented on #7848
@vdespa Hi! This is now fixed in Postman `v7.20.0`! 🎉

[2020-03-09 14:49] #7848 closed, assigned to ritwijsinha

[2020-03-09 14:57] adamkelm commented on #8106
@vikiCoder using Canary, I see that the encoding/decoding is fixed. Thanks! One thing I still notice is spaces in the url in the request builder. Is this an intentional decision to make more readable or is this considered unexpected behavior:
<img width="672" alt="Screen Shot 2020-03-09 at 10 54 58 AM" src="https://user-images.githubusercontent.com/42389795/76226716-a10b2c80-61f4-11ea-819b-e853640

[2020-03-09 15:16] Dangerunicorn commented on #7383
We were able to remedy my user's issue by using a larger monitor. Unfortunately she cannot access the left side menu when using her laptop alone.

[2020-03-09 15:31] appurva21 commented on #6852
Hey @VicKetchup !!
We have turned off this setting by default for all the new installs (and new logins) starting from app version `7.20.0`.
We will be keeping this setting as it is for all the existing installs of the app prior to version `7.20.0`.

I am closing this issue, but feel free to reopen it in case the issue still persists.

Thanks

[2020-03-09 15:31] #6852 closed, assigned to vkaegis

[2020-03-09 15:54] #4296 closed, assigned to saswatds, ritwijsinha

[2020-03-09 17:20] JP-from-Postman commented on #8140
@godfrzero just tried pulling this collection via the Postman API and the example order is jumbled in the response too. Is that what you were referring to?

[2020-03-09 19:58] godfrzero commented on #8140
Yep, the ordering in the Postman API response should match that in the documentation, but not match the one in the app. If that's the case, that means the data was incorrectly synced.

[2020-03-09 21:27] AntLaC commented on #8054
right...so how do you propose those who already have the latest version do this?

This is actually a work stop for me as I'm trying to add a token

[2020-03-09 21:29] simonds commented on #1350
Duplicate of #1535 ?

[2020-03-09 22:40] saswatds commented on #7667
Closing this issue as we are not able reproduce. Feel free to reopen issue if you can provide detailed steps to reproduce.

[2020-03-09 22:40] #7667 closed, assigned to saswatds, appurva21

[2020-03-09 22:45] JP-from-Postman commented on #8140
@godfrzero OK, so the API response _does_ match what is on the docs page. They are both different from what is shown in the app though.

[2020-03-09 23:19] abeal-hottomali opened #8161 "My collection just disappeared."
I've been getting repeated warnings in the Postman app that my collection was approaching the size where it would exceed the allowable size for data sharing for free accounts.

What I expected to happen when I exceeded this limit was I would get a notification that my collection could no longer be shared properly.

What actually happened is my collection entirely disappeared.  I now have "ARCHIVED

[2020-03-09 23:20] JP-from-Postman opened #8162 "Make current user information accessible via Sandbox"
**Is your feature request related to a problem? Please describe.**
There is no API call or Sandbox method to get information about the user currently logged into the app.

**Describe the solution you'd like**
Define properties of pm.* that contain information about current logged-in user. For example:
* pm.currentUser.id
* pm.currentUser.email
* pm.currentUser.username

**Describe alternatives you

[2020-03-09 23:20] abeal-hottomali commented on #8161
Also, now seeing this:

![image](https://user-images.githubusercontent.com/48416080/76265513-ebef6900-6221-11ea-888b-4b88f75342e8.png)

[2020-03-09 23:28] xk0der commented on #8161
Hey @abeal-hottomali , the limitation [only applies to free plan when sharing](https://learning.postman.com/docs/postman/collaboration/collaboration-intro/#how-archiving-works) within "Team workspaces".

Follow the steps listed here to recover your archived-collections:
https://learning.postman.com/docs/postman/collaboration/collaboration-intro/#recovering-your-archived-collections

Alternatively,

[2020-03-09 23:35] Devnsyde commented on #8162
This would be a great addition to postman.

I have a micro service that runs, it send email to people based on applications that call it. We have requests set up in postman to call the micro service directly and it works except each user that runs it has to put their own email address in to have it send to them.

I’d like it if I could ask postman either directly through the program or through an

[2020-03-09 23:42] jsooter opened #8163 "Ability to export and import Workspace data"
**Is your feature request related to a problem? Please describe.**
Currently the only way to move collections and environments from one workspace to another is one by one. This is the case when moving from one team's workspace to another team's workspace or from one workspace to another in the same team.

When you have hundreds of collections this is both tedious and time consuming!

**Describe th

[2020-03-10 03:43] joshavant commented on #5403
This is still happening in Version 7.19.1.

[2020-03-10 05:38] simion commented on #5194
+1

[2020-03-10 07:56] jantoebes commented on #2691
I have the feeling that, correct me if i am wrong, the team of postmanlabs explicitly don't want a file/folder sync. There are several tickets created for this and for me it feels like a basic functionality (besides all these advanced integrations and syncs with github/gitlab and their own online services). @a85 why is that?

[2020-03-10 09:20] rapliandras opened #8164 "App does not start properly - blank screen"
**Describe the bug**
The app sometimes does not start on Ubuntu. Restarting the operating system solves the problem.

**To Reproduce**
Start postman application clicking the desktop icon or typing `postman` into the terminal.

**Expected behavior**
It should start the postman loading animation and load properly.

**Screenshots**
https://imgur.com/a/5tpNteq

**App information (please complete the f

[2020-03-10 09:27] rapliandras commented on #8164
Solved by killing dangling processes: namely a few instances of `/snap/postman/99/usr/share/Postman/_Postman` and `/snap/postman/99/usr/share/Postman/Postman`

[2020-03-10 09:27] #8164 closed, assigned to nobody

[2020-03-10 09:39] slkorolev commented on #8054
Uninstall 7.19.1 and install [7.13.0](https://www.fosshub.com/Postman-old.html?dwl=Postman-win64-7.13.0-Setup.exe)

[2020-03-10 09:55] SemyenSoldatenko commented on #3999
* `https://....my-host.../path?a=a-b` - Works
* `https://....my-host.../path?a=a+b` - Invalid signature
* `https://....my-host.../path?a=a%2Bb` - Invalid signature

[2020-03-10 11:13] VicKetchup opened #8165 "Resource usage shows more integrations than we have"
**Describe the bug**
In our Resource Usage we see that 66 integrations are configured, however after going through all workspaces, could only find 56.

**Expected behavior**
The amount of integrations in Resource Usages should equal the actual amount of integrations. There also should be a way to view all integrations in one place.

[2020-03-10 11:28] sankalp0o commented on #6657
@danielkohatwork the approach I suggested would allow you to use the environment locally without being allowed to make changes to the shared environment. Is there a particular use case that you have in mind? @vvs11 is looking at tackling this behaviour right now and it would be useful to have some more  validation.

[2020-03-10 11:49] ratpik commented on #5209
@v-krishnakishore - We have released an intermittent patch fix that will allow you to import only the Collection if URL length crosses the limit on Windows (507 for IE and 2046 for Chrome/Firefox).

We are working on a fix for this that will allow you to import the environment irrespective of the URL length. We plan to roll out this fix to all users within the next couple of weeks. We will update

[2020-03-10 13:05] Super-Net-Ops opened #8166 "Runner not resolving variable names in Run Results display"
**Describe the bug**
In the runner, variable names are not resolved in the Run Results display.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Runner
2. Run a collection containing a request that uses a variable in the URL.
3. For each iteration, variable name will be displayed instead of the value.

**Expected behavior**
Value should be shown instead of var name.

**Screenshots**
![i

[2020-03-10 13:18] ibalashov commented on #5970
@numaanashraf Somehow the help tooltip suggests that current values ARE taken from initial values if "not touched" (which I read as empty).

![image](https://user-images.githubusercontent.com/2815653/76315899-45b76800-62e2-11ea-88af-89ca28008c00.png)

[2020-03-10 14:02] gkirill commented on #2437
I have started to having same problem just today on Ubuntu 18.04. It looks like it was updated yesterday on March 9, 2020, and after that I just get blank screen, though everything worked just fine before the update. I tried to roll back with snap to version 6.7.6, but that did not help.

[2020-03-10 14:24] abeal-hottomali commented on #8161
Thank you for the response -  I've recovered my collection, but I still believe this issue stands.  I've no complaint with Postman having a paid support tier, but having my collection completely disappear out from under me and forcing me to re-import it from archive to get it back after I added a new request was very upsetting.  It's the behaviour that Postman exhibits for free tier when you excee

[2020-03-10 14:50] samuelvenzi commented on #4751
I am having this problem on version v7.20.0

[2020-03-10 14:57] shamasis commented on #6743
@JP-from-Postman ... i know it has been a while, but can you help reproduce this? We have scratched our heads for a while around this. But now we either close this as not reproducible or do something soon. :-)

[2020-03-10 15:15] shamasis commented on #7942
I could reproduce this and this is happening for only when previous GET response had non text / image data and new response has no body data.

Text based API does not reproduce this.
1. Sent a GET request to `https://httpbin.org/anything with body being raw `{{$guid}}` as value
2. See the server respond with a GUID in response `data` JSON field
3. Switch to head and send request
4. See the body as

[2020-03-10 15:27] shamasis commented on #7718
How are you duplicating the environment? Clicking the duplicate button on the listing row? If so, I could not reproduce this. I am using latest app version though.

[2020-03-10 15:28] VicKetchup commented on #8148
Our rate would be lower if the monitors API didn't show the monitors that no longer exist, we have quite a few of those, so maybe by removing those, the rate issue would go away.

[2020-03-10 16:02] coxrichuk commented on #6242
+1 for http/2

[2020-03-10 17:54] phalverson commented on #8135
I am also experiencing this with version `7.19.1` , it's becoming very intrusive to keep restarting the application so frequently.

[2020-03-10 18:01] codenirvana commented on #7758
This is fixed in the latest version of the Postman app (v7.20.0).

[2020-03-10 18:01] #7758 closed, assigned to vikiCoder

[2020-03-10 18:04] codenirvana commented on #7965
This is fixed in the latest version of the Postman app (v7.20.0).

[2020-03-10 18:04] #7965 closed, assigned to vikiCoder

[2020-03-10 18:13] codenirvana commented on #4267
This is fixed in the latest version of the Postman app (v7.20.0) by enabling the "Use next generation URL processing" setting as mentioned in #8154.

Feel free to leave your feedback at #8154 or reopen this thread if the issue persists.

[2020-03-10 18:13] #4267 closed, assigned to codenirvana

[2020-03-10 18:15] codenirvana commented on #6097
This is fixed in the latest version of the Postman app (v7.20.0) by enabling the "Use next generation URL processing" setting as mentioned in #8154.

Feel free to leave your feedback at #8154 or reopen this thread if the issue persists.

[2020-03-10 18:15] #6097 closed, assigned to codenirvana

[2020-03-10 18:31] codenirvana commented on #8106
@adamkelm That's the expected behavior as the actual URL encoding happens before sending the request. User entered data is not encoded automatically.

This, in particular, is a special case where `#` and `&` are the two characters that come in the way of parsing the query parameters if not encoded.

Check #8154 for more details on which characters get encoded before sending the request.
Also, cons

[2020-03-10 18:31] #8106 closed, assigned to vikiCoder

[2020-03-10 18:32] codenirvana commented on #7432
This is fixed in the latest version of the Postman app (v7.20.0) by enabling the "Use next generation URL processing" setting as mentioned in #8154.

Feel free to leave your feedback at #8154 or reopen this thread if the issue persists.

[2020-03-10 18:32] #7432 closed, assigned to codenirvana

[2020-03-10 18:34] codenirvana commented on #6126
As mentioned in https://github.com/postmanlabs/postman-app-support/issues/6126#issuecomment-596403407, the new request setting is now available in the latest version of the Postman app (v7.20.0) once you enable the "Use next generation URL processing" setting as mentioned in #8154.

Feel free to leave your feedback at #8154 or reopen this thread if the issue persists.

[2020-03-10 18:34] #6126 closed, assigned to codenirvana

[2020-03-10 18:42] codenirvana commented on #6023
As mentioned in https://github.com/postmanlabs/postman-app-support/issues/6023#issuecomment-589308322, you can either manually encode the `#` if entered directly in the URL bar or Postman will automatically encode the `#` and `&` characters if entered in the query param editor (key-value editor) as they come in the way of query param parsing.

Check https://github.com/postmanlabs/postman-app-suppo

[2020-03-10 18:42] #6023 closed, assigned to codenirvana, vkaegis

[2020-03-10 18:43] codenirvana commented on #5570
As mentioned in https://github.com/postmanlabs/postman-app-support/issues/5570#issuecomment-596405521, the new request setting is now available in the latest version of the Postman app (v7.20.0) once you enable the "Use next generation URL processing" setting as mentioned in #8154.

Feel free to leave your feedback at #8154 or reopen this thread if the issue persists.

[2020-03-10 18:43] #5570 closed, assigned to nobody

[2020-03-10 18:45] codenirvana commented on #5051
This is fixed in the latest version of the Postman app (v7.20.0) by enabling the "Use next generation URL processing" setting as mentioned in #8154.

Feel free to leave your feedback at #8154 or reopen this thread if the issue persists.

[2020-03-10 18:45] #5051 closed, assigned to codenirvana

[2020-03-10 18:49] codenirvana commented on #3816
This is fixed in the latest version of the Postman app (v7.20.0) by enabling the "Use next generation URL processing" setting as mentioned in #8154.

Feel free to leave your feedback at #8154 or reopen this thread if the issue persists.

[2020-03-10 18:50] codenirvana commented on #3382
This is fixed in the latest version of the Postman app (v7.20.0) by enabling the "Use next generation URL processing" setting as mentioned in #8154.

[2020-03-10 18:50] codenirvana commented on #3039
This is fixed in the latest version of the Postman app (v7.20.0) by enabling the "Use next generation URL processing" setting as mentioned in #8154.

[2020-03-10 18:54] codenirvana commented on #3778
This is fixed in the latest version of the Postman app (v7.20.0) by enabling the "Use next generation URL processing" setting as mentioned in #8154.

[2020-03-10 18:54] codenirvana commented on #4549
This is fixed in the latest version of the Postman app (v7.20.0) by enabling the "Use next generation URL processing" setting as mentioned in #8154.

[2020-03-10 18:56] codenirvana commented on #7123
This is fixed in the latest version of the Postman app (v7.20.0) by enabling the "Use next generation URL processing" setting as mentioned in #8154.

[2020-03-10 19:00] codenirvana commented on #7154
Closing this issue as we are not able to reproduce this internally and we haven't seen other users facing the same.

Please feel free to reopen if the issue persists or you can help us with the steps to reproduce this issue.

[2020-03-10 19:00] #7154 closed, assigned to codenirvana

[2020-03-10 19:07] shamasis commented on #7965
@sparecycles rarely it happens that I’m happy that a request sending failed!!! This was a fairly maddening piece of bug and I’m glad it’s solved for you.

In production app, do remember to turn on the “Use next generation url processor” setting turned on in order to benefit from the new url parser. 🎉🎉

[2020-03-10 19:18] codenirvana commented on #4171
Hey everyone 👋
It took us a while but, we finally fixed most of the issues related to URL encoding. Check #8154 for more details.

The new URL processor is available in the latest version of the Postman app (v7.20.0) by enabling the "Use next generation URL processing" setting.
<img width="1552" alt="postman-settings" src="https://user-images.githubusercontent.com/4865836/76349728-8ccc4a00-6330-11

[2020-03-10 19:18] #4171 closed, assigned to numaanashraf, codenirvana, vkaegis

[2020-03-10 19:26] codenirvana commented on #5752
This is fixed in the latest version of the Postman app (v7.20.0) by enabling the "Use next generation URL processing" setting as mentioned in #8154.

Feel free to leave your feedback at #8154 or reopen this thread if the issue persists.

[2020-03-10 19:26] #5752 closed, assigned to vikiCoder

[2020-03-10 19:49] codenirvana commented on #4555
Hey everyone 👋
It took us a while but, we finally fixed most of the issues related to URL encoding. Check #8154 for more details.

The new URL processor is available in the latest version of the Postman app (v7.20.0) by enabling the "Use next generation URL processing" setting.
<img width="1552" alt="postman-settings" src="https://user-images.githubusercontent.com/4865836/76351543-a0c57b00-6333-11

[2020-03-10 19:49] #4555 closed, assigned to codenirvana

[2020-03-10 19:57] codenirvana commented on #6319
This is fixed in the latest version of the Postman app (v7.20.0) by enabling the "Use next generation URL processing" setting as mentioned in #8154.

Also, the `+` is converted to space by the server's query processor since it's not supposed to be encoded as per the WHATWG URL standard.

A new request setting is also included to turn off the encoding completely.
<img width="968" alt="disabled-enco

[2020-03-10 19:57] #6319 closed, assigned to vikiCoder

[2020-03-10 22:02] codenirvana commented on #7901
@ziadloo The leading dot signifies that the cookie will be used for subdomains as well.

As in your example, having `domain=example.com` means that the cookie `name` will be used for every subdomain of `example.com`.

Whereas, with `Set-Cookie: name=value; path=/;` makes the cookie `HostOnly` and will only be used for the requesting hostname.

You expected behavior persists.

[2020-03-10 22:19] codenirvana commented on #7547
@gsperk Can you share a scaled-down collection which we can use to reproduce this issue?

[2020-03-10 22:23] codenirvana commented on #7502
@03rohit What's the error message in the [Postman Console](https://learning.postman.com/docs/postman/sending-api-requests/debugging-and-logs/#for-the-native-app-for-mac--windows--linux)?

[2020-03-10 22:51] russellg commented on #2861
Is there a way to do this via collection runner where it just passes null and not ""? Either of the above options do not appear to work for JSON or CSV.

[2020-03-10 22:57] codenirvana commented on #2366
This is fixed in the latest version of the Postman app.

Postman will no longer force add/update the `Content-Type` header.
The default `Content-Type` header will be added (if not present already) only at the time of request sending based on the selected request body mode.

[2020-03-10 22:57] #2366 closed, assigned to codenirvana, vkaegis

[2020-03-10 23:10] codenirvana commented on #2512
Hey everyone 👋
The latest version of the Postman app (v7.20.0) will no longer force add/update the `Content-Type` header on switching the raw body language.

As mentioned in https://github.com/postmanlabs/postman-app-support/issues/2512#issuecomment-533672748, `Content-Type` headers in the form `application/*+json` will be automatically be detected as JSON language.

[2020-03-10 23:16] codenirvana commented on #7860
@Hansanshi This is fixed in the latest version of the Postman app (v7.20.0) by enabling the "Use next generation URL processing" setting as mentioned in #8154.

Feel free to leave your feedback at #8154 or reopen this thread if the issue persists.

[2020-03-10 23:16] #7860 closed, assigned to vvs11, codenirvana

[2020-03-10 23:24] codenirvana commented on #6979
@ran-berenfeld @dellgreen is this issue still persists in the latest version of the Postman app?

[2020-03-10 23:26] codenirvana commented on #7292
Closing this issue as we are not able to reproduce this internally and we haven't seen other users facing the same.

Please feel free to reopen if the issue persists or you can help us with the steps to reproduce this issue.

[2020-03-10 23:26] #7292 closed, assigned to codenirvana

[2020-03-10 23:45] garrucho opened #8167 "Extra small viewport heigth for Visualize function"
**Describe the bug**

The HTML viewport for the Visualize function is being rendered with a small height. The content (tables, in my use) almost can't be seen.

**To Reproduce**
1. Create a simple "test" to use the visualizer function
2. Run the request (and so the script)
3. See the problem at the "Visualize" tab

Sample code just to start the visualizer
[code]

(or use some [Postman example](htt

[2020-03-10 23:48] garrucho commented on #8167
LOL, solved after update to 7.20.0 version. 🙄

[2020-03-10 23:48] #8167 closed, assigned to nobody

[2020-03-10 23:50] ziadloo commented on #7901
Thanks @codenirvana but I'm not sure what was misunderstood here so I'll try to explain it once more.

When I send back a `set-cookie` response header to Postman **without** a `.` before the domain name (e.g. `example.com`), Postman will create a cookie **with** the `.` (e.g. `.example.com`). In other words, Postman does not support cookies that should be sent to all the subdomains (because Postma

[2020-03-11 00:01] codenirvana commented on #7901
So I set up `example.dev` which responds with `Set-Cookie: Cookie_1=value1; path=/; domain=example.dev;`.
<img width="1437" alt="Screenshot 2020-03-11 at 5 25 48 AM" src="https://user-images.githubusercontent.com/4865836/76369311-227bcf80-6359-11ea-8745-bc0187f8312b.png">

I see a leading dot added in the manage cookie modal.
<img width="696" alt="Screenshot 2020-03-11 at 5 26 26 AM" src="https://

[2020-03-11 00:28] ziadloo commented on #7901
To be honest, it's been a while since I posted this message and I don't recall if I tested to see if the cookie was actually sent after I saw the leading `.` or not. I will definitely test it as soon as I get the chance. But even if it is sent (pending verification), then the problem is that:

Postman does not support cookies that should **not** be sent to all the subdomain. These are the cookies

[2020-03-11 02:20] sunnydavis commented on #7746
[19316][1583892288474][main][info]["Booting PostmanCanary 7.21.0-canary01, win32-10.0.18363 on x64"]
[19316][1583892288476][main][info]["EventBus~initialize - Success"]
[19316][1583892288489][main][warn]["CloudProxyManager~init: Error while reading proxy configuration from user data - ",{"errno":-4058,"code":"ENOENT","syscall":"open","path":"C:\\Users\\xforce\\AppData\\Roaming\\PostmanCanary\\Post

[2020-03-11 04:05] shamasis commented on #7901
Host only cookies, @ziadloo, has a separate flag called - **hostOnly** (very creative!!) https://developer.mozilla.org/en-US/docs/Mozilla/Add-ons/WebExtensions/API/cookies/Cookie

[2020-03-11 05:00] #8155 closed, assigned to ArjunSingh-PM

[2020-03-11 05:17] saswatds commented on #7232
Closing this issue now as other users have reported that this issue is fixed for them.

[2020-03-11 05:17] #7232 closed, assigned to saswatds, ritwijsinha

[2020-03-11 05:18] saswatds commented on #7169
Closing this issue now as other users have reported that the issue is fixed for them and the runner no longer turns black.

[2020-03-11 05:18] #7169 closed, assigned to saswatds

[2020-03-11 05:19] saswatds commented on #6960
Closing the issue now as other users have reported then the issue is fixed for them.

[2020-03-11 05:19] #6960 closed, assigned to saswatds

[2020-03-11 05:22] saswatds commented on #6778
Closing this issue now as other users have reported that the issue is fixed for them. Feel free to reopen if the issue still persists for you.

[2020-03-11 05:22] #6778 closed, assigned to saswatds

[2020-03-11 05:25] saswatds commented on #6584
Closing this issue now. Feel free to reopen if the issue persists for you.

[2020-03-11 05:25] #6584 closed, assigned to saswatds

[2020-03-11 05:31] saswatds commented on #7993
Closing this issue assuming your file contained BOM characters, which is fixed in the latest version of the app. Feel free to re-open if the issue persists for you.

[2020-03-11 05:31] #7993 closed, assigned to saswatds

[2020-03-11 05:39] codenirvana commented on #7901
Sure, no issues 👍

As mentioned in https://github.com/postmanlabs/postman-app-support/issues/7901#issuecomment-597339228, remove the domain part from the `set-cookie` string and the cookie becomes hostOnly (not sent for subdomains) and the leading dot is also gets removed.

Finally, I would like to clarify a few doubts regarding the leading dot in the saved cookie domain.
1. If a domain is specifi

[2020-03-11 05:39] #7901 closed, assigned to vvs11, codenirvana, saswatds

[2020-03-11 05:43] Cazaimi commented on #7711
@xk0der, @krishnakumar-tce, @conradpronto we've pushed out a fix for this issue 🎉.

Please check and let us know.

@Raja-Simha , this can be marked as closed.

[2020-03-11 05:45] codenirvana commented on #7297
Closing this issue as we are not able to reproduce this internally and we haven't seen other users facing the same.

Please feel free to reopen if the issue persists or you can help us with the steps to reproduce this issue.

[2020-03-11 05:45] #7297 closed, assigned to codenirvana

[2020-03-11 05:47] vikiCoder commented on #3999
Hi everyone,

We have added an option to enable/disable URL encoding of Authorization header in OAuth1 (See the screenshot below). This option is available when `Request Headers` is selected in `Add authorization data` field.

It is out in the latest [Postman canary (v7.21.0-canary01)](https://www.postman.com/downloads/canary). Soon, it will be out in the next release of the Postman app (v7.21).

[2020-03-11 05:49] codenirvana commented on #7764
@seandcoleman is this issue persists after upgrading to the latest version?

[2020-03-11 05:58] vikiCoder commented on #4300
Hi everyone,

We have added an option to enable/disable URL encoding of Authorization header in OAuth1 (See the screenshot below). This option is available when `Request Headers` is selected in `Add authorization data` field. Turning this option off should solve the problem mentioned in the thread. Please let us know if it doesn't solve your problem.

It is out in the latest [Postman canary (v7.21

[2020-03-11 06:00] codenirvana commented on #7824
This looks like an issue with the Linux upgrade flow.
Is this issue persists after upgrading to the latest version of the app?

[2020-03-11 06:02] codenirvana commented on #7595
We've have made significant improvements in our sandbox to handle large response payloads.
I hope this will be fixed after upgrading to the latest version of the app.

Please feel free to reopen if the issue persists or you can help us with the steps to reproduce this issue.

[2020-03-11 06:02] #7595 closed, assigned to nobody

[2020-03-11 06:03] #7711 closed, assigned to Cazaimi, Raja-Simha

[2020-03-11 06:08] Raja-Simha commented on #7893
We've pushed out a fix for this. Closing this issue.

[2020-03-11 06:08] #7893 closed, assigned to godfrzero, vkaegis, Raja-Simha

[2020-03-11 06:17] numaanashraf commented on #8156
@bipin000 We are tracking this at #7072

[2020-03-11 06:17] numaanashraf commented on #8156
Duplicate of #7072

[2020-03-11 06:17] #8156 closed, assigned to nobody

[2020-03-11 06:19] jeffjenk opened #8168 "Cannot access Secure cookies programmatically using Cookie Jar via Pre-Request Script"
**Describe the bug**
I used the Interceptor to access some cookies from a web app I am testing. I can see the cookies getting correctly set in Postman and I have whitelisted the domain so that I can access them programmatically. When I try to access them with a script like:

[code]
I can access the cookies set for the domain but if the cookie has the `Secure` flag then I can not access it:
`cookie

[2020-03-11 06:26] codenirvana commented on #8168
@jeffjenk I hope changing `"domain.com"` to `"https://domain.com"` fixes your issue! 😄

The first argument takes the URL and responds with the cookies which are accessible by it. If the protocol is missing, it defaults to `http`.

You can either add the `https` protocol manually or pass the URL as `pm.request.url` to re-use the same request URL.

[2020-03-11 06:29] saswatds commented on #7221
Closing this issue now, as we are not able to reproduce this and no other user have reported this. Feel free to re-open the issue if the issue still persists.

[2020-03-11 06:29] #7221 closed, assigned to coditva

[2020-03-11 06:32] coditva commented on #7710
Hey @adessaigne, the headers are case insensitive. So `set-cookie` is same as `Set-Cookie` or even `SeT-CoOkIe`.

[2020-03-11 06:32] #7710 closed, assigned to vvs11, coditva

[2020-03-11 06:39] coditva commented on #7070
Hey @SchleichAlex, the `content-type` for form-data items are not shown in the pretty view. But you can always use the raw view for this:
![image](https://user-images.githubusercontent.com/8445768/76389378-10b61e80-6391-11ea-8f4c-55a0d6c7f1e9.png)

[2020-03-11 06:39] #7070 closed, assigned to codenirvana

[2020-03-11 06:41] jeffjenk commented on #8168
Hi @codenirvana OMG thank you that makes perfect sense and is working for me now. Thank you for such a quick response.

[2020-03-11 06:41] #8168 closed, assigned to codenirvana

[2020-03-11 06:48] jeffjenk commented on #8168
@codenirvana this is slightly related, while i have you, can I access `HttpOnly` cookies via scripts?

[2020-03-11 06:50] codenirvana commented on #8168
@jeffjenk Yes, but the `HttpOnly` validations still applies.

[2020-03-11 07:01] vikiCoder commented on #7651
Hi @lvejs,

This does not look like an issue with the Postman app. I suspect there is some problem with permissions for the token you are using. Can you please try sending the same request from command line using cURL generated by the Postman app and see if it works? You can generate the cURL command as described in [this page](https://learning.postman.com/docs/postman/sending-api-requests/generat

[2020-03-11 07:02] #8070 closed, assigned to coditva

[2020-03-11 07:08] coditva commented on #8056
@praveendvd As @saswatds pointed out in this comment (https://github.com/postmanlabs/postman-app-support/issues/7800#issuecomment-587303377), local variables get destroyed after the whole run, not iteration.

You can probably use the global variables for your use case:
[code]
This way, the data variables will take precedence.

If you have any more doubts feel free to re-open this issue or reply to

[2020-03-11 07:08] #8056 closed, assigned to coditva

[2020-03-11 07:29] coditva commented on #8112
Hey @abdulghani, it seems to be working for me:
![image](https://user-images.githubusercontent.com/8445768/76392077-e0717e80-6396-11ea-95b8-7650e5284ba4.png)

Can you try it again in the latest Postman app (7.20.0) and let me know if it's still re-producible?

[2020-03-11 07:51] coditva commented on #8112
Hey, looks like your environment variable has a newline. This causes the query parameters to not get sent!

This is fixed in the latest version of the Postman app (v7.20.0) by enabling the "Use next generation URL processing" setting as mentioned in #8154.

Feel free to leave your feedback at #8154 or reopen this thread if the issue persists.

[2020-03-11 07:51] #8112 closed, assigned to coditva

[2020-03-11 07:52] coditva commented on #8153
@sidartdesai Can you provide more context about this?

Also, can you try sending this request with `curl` with verbose logging `-v` and check if it's the server that's taking a long time to respond? If that's the case, you can set the `Request timeout` option in settings in Postman to timeout any request that takes a long time.

[2020-03-11 09:06] vikiCoder commented on #7692
Hi @thomasazdon,

I am not sure what do you mean by Newman throwing error for requests with visualizations 🤔. I created a collection with one request having visualization and a test to check status code 200. Running that collection with newman seems to be working fine for me without any errors.

Here is my collection: https://www.getpostman.com/collections/e06a76487db821550b23
Screenshot of collec

[2020-03-11 09:30] schillc commented on #971
Could you please add faker to the sandbox built-in library modules?

In addition to dynamic variables users would be able to make use of all faker features within pre-request scripts.

[code]

[2020-03-11 09:37] tradahmed commented on #3358
that will be much better
and Also for searching we need a tool like VS searching entire solution or open document.

[2020-03-11 09:40] vikiCoder commented on #7788
Hi @nuffink69,

Can you please update to the latest [Postman app(v7.20)](https://www.postman.com/downloads/) and check if the issue is still there or not? If the issue is still there, I would like to see the screenshots of requests and responses included in your scenario from Postman console. You can send the screenshots to [help@postman.com](help@postman.com) with the subject as `Logs for Github

[2020-03-11 10:03] dellgreen commented on #6979
@codenirvana this appears to be fixed in the latest canary Postman v7.21.0-canary01 that I tested on linux x64 :)

[2020-03-11 10:50] fadykstas commented on #7607
+

[2020-03-11 10:52] mbaric commented on #3466
autosave and saveall :1st_place_medal:
Come on that can't be that hard to implement, if you need help in this few of us am sure can help out but this is like totally needed.
@madebysid

[2020-03-11 10:53] sidartdesai commented on #8153
@coditva Thanks for your response.

Managed to solve this.
Error : i had installed it from AUR
Solution : uninstalled & reinstalled from snap

Worked..

[2020-03-11 10:53] #8153 closed, assigned to vvs11

[2020-03-11 11:01] shtrip commented on #4636
OAuth authentication has always felt a bit clumsy in Postman. For manual API testing I would love to have a drop down where I can select the OAuth configuration from a predefined set. Similar to selecting an environment.

Having a fixed OAuth configuration per collection would be too limited in my opinion. For collections it should also be easy to switch between OAuth configurations.

[2020-03-11 11:02] vikiCoder commented on #7968
Hi @danieladougan,

I guess the problem might have been caused because you could have done something like this:
1. Open Postman app. (The SSL certificate verification is turned on by default)
2. Open Runner and run the collection (it will fail due to SSL verification)
3. Go to requester window without closing runner window and turn off SSL certificate verification
4. Go back to the already open ru

[2020-03-11 11:23] vikiCoder commented on #8074
Hi @Sawiq,

It is because of the missing closing tag `</tr>` in your template. The line before `{{/each}}` in your template should be `</tr>` instead of `<tr>`. Then it will work as expected 🙂

I am closing the issue for now. Feel free to reopen if you face any other problem.

[2020-03-11 11:23] #8074 closed, assigned to vikiCoder

[2020-03-11 12:19] mamraz commented on #4171
I enabled "Use next generation URL processing".  I verified my request has the "Encode URL automatically" set to on.  Sent my request to the server.  I got a 400, bad request, back.  According to the Postman console, my parameters that had the form of "param[23][field]=foo" were sent unencoded, so the Tomcat server rejected it.  :-(

[2020-03-11 12:29] vikiCoder commented on #8051
Hi @danchirillo,

As @kevinswiber said, it is because of the `WWW-Authenticate` header in authorization chain which Electron does not handle by default. We have identified the problem and will start working on some fix. Not promising any dates for the fix though. Will update here when it is fixed.

[2020-03-11 12:42] vikiCoder commented on #8054
Hi everyone,

We have fixed this issue with `Manage Tokens` dialog and the fix is out in the latest [Postman canary (7.21.0-canary01)](https://www.postman.com/downloads/canary). It will be fixed in the next version of the Postman app (v7.21) soon. Meanwhile, please check out the latest [Postman canary](https://www.postman.com/downloads/canary) and let us know if you are still facing the same issue

[2020-03-11 12:42] vikiCoder commented on #7946
Hi everyone,

We have fixed this issue with `Manage Tokens` dialog and the fix is out in the latest [Postman canary (7.21.0-canary01)](https://www.postman.com/downloads/canary). It will be fixed in the next version of the Postman app (v7.21) soon. Meanwhile, please check out the latest [Postman canary](https://www.postman.com/downloads/canary) and let us know if you are still facing the same issue

[2020-03-11 12:46] codenirvana commented on #4171
@mamraz Thanks for the feedback. I see `=` will be encoded.
Can you check if disabling the `Encode URL automatically` request setting to turn off the encoding completely fixes your issue?

[2020-03-11 13:05] mamraz commented on #4171
You say "=" will be encoded?  I am not seeing that behavior, and I would not think that is appropriate behavior.  "=" is a basic component of the key-value pairs in URLs.  My issue is with the square brackets.  The Tomcat web server that is embedded in Spring Boot rejects requests containing those characters.  Turning off "Encode URL automatically" on the request did not change the behavior.  Tomc

[2020-03-11 13:15] roberthtux commented on #8054
same problem in v7.20.0 release, Ubuntu18

[2020-03-11 13:21] melt7777 commented on #5039
Same here, added one variable and it doesn't resolve, but the existing ones can be changed. Win10
v7.20.0 is the latest version.

[2020-03-11 13:32] codenirvana commented on #4171
@mamraz What I meant was, `=` in the param value will be encoded. e.g, `?key=foo=bar` will be sent as `?key=foo%3Dbar`.

As you mentioned, you are getting encoded `[` and `]` which I don't feel is because of Postman since these characters are not encoded. As seen in the raw HTTP packet response:
<img width="1128" alt="Screenshot 2020-03-11 at 6 57 44 PM" src="https://user-images.githubusercontent.

[2020-03-11 13:43] vikiCoder commented on #7138
Hi @mvdriel, @vit100

We have decided not to automatically percent-encode the client credentials in OAuth2 because we haven't received any other issues related to it. So it might break for some users who are already using it without encoding. However, we have added a warning and started highlighting such characters that might need encoding in the client credentials grant type. It is displayed in t

[2020-03-11 13:43] shamasis commented on #7541
Hi. Can you check your Postman Console logs to see what error you are getting? I am testing this in our latest app 7.20.0 (did not get chance to test in 7.10) and was unable to reproduce.

1. I went and added `example.com` for programmatic whitelisted access
2. I added environment variable `site` to value `example.com`
3. Made call to a random domain with the following script

[code]

- Note that

[2020-03-11 13:43] mamraz commented on #4171
It seems like we are not on the same page here.  I am using a URL like:

http://myhost.com/foo?param[1][field]=bar

It looks like Postman is not encoding any of this, so Tomcat is receiving a request that contains square brackets, which it rejects with a 400 error.  If I instead manually encode the square brackets using %5B and %5D so that the request looks like:

http://myhost.com/foo?param%5B1%5

[2020-03-11 13:52] shamasis commented on #7547
@gsperk ... just to add, we tried it locally and could not reproduce. We were using app version 7.20.0. I've attached a sample collection for you to import and try.

[Test #7547.postman_collection.json.zip](https://github.com/postmanlabs/postman-app-support/files/4318598/Test.7547.postman_collection.json.zip)

[2020-03-11 14:07] VicKetchup commented on #6614
@sankalp0o Wanted to bring up the discussion of being able to run these validations as tests, which I also think would help with @m4nu56 's question:

Maybe some functions like pm.response.isValidAgainstSpec(), pm.response.getValidationErrors().

[2020-03-11 14:09] perymimon commented on #7700
same think when trying to make auth2.0 request from postman `Authorizaon/Oauth2.0 -> get new access tocken`

[2020-03-11 14:37] shamasis commented on #7871
We have made significant improvement in this direction can you try the latest app and provide us with feedback. Effectively, you should be able to download and even view 50mb-ish files. Above that, it depends upon system and experience might be sluggish and hopefully not a crash for very large size even.

There is a app setting that you need to set to control the max download size.

[2020-03-11 15:26] codenirvana commented on #4171
@mamraz I understand your concern but the new URL processor follows the [WHATWG (URL) standard](https://url.spec.whatwg.org/) like the majority of the browsers and other clients and has a consistent URL encoding behavior.

In your case, you can either manually encode the additional characters which are not encoded automatically or add the following script as part of your `Pre-request Script`:
[cod

[2020-03-11 15:40] vit100 commented on #7138
Wanna add option to url encode button, as helper..

On Mar. 11, 2020, 09:43, at 09:43, Premang Vikani <notifications@github.com> wrote:

[2020-03-11 15:42] harryi3t commented on #7934
This is fixed in Postman v7.19.1 🎉
Please let us know if you are still facing the issue.

[2020-03-11 15:42] #7934 closed, assigned to ankurdengla

[2020-03-11 15:49] abhijitkane commented on #8165
@VicKetchup That's odd - can you email us at help-at-getpostman-dot-com from your registered email? We'll check the integrations at our end and get back to you.

[2020-03-11 15:59] amigobg opened #8169 "Issue with the favicon upload"
**Describe the bug**
The issue comes when trying to uploading favicon from the "Team Settings".

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'General -> Settings'
2. Click on 'Favicon'
3. Scroll down to 'Upload from computer'
4. Something went wrong
There was an error uploading your image. Our engineers have been notified and we should have this fixed shortly.

**App information (pl

[2020-03-11 16:12] abhijitkane commented on #8169
@amigobg While we investigate this, can you try the favicon upload from a different browser, or an incognito tab?

[2020-03-11 16:47] mamraz commented on #4171
Thanks for the suggestion.  I have been doing something comparable to what you suggested with the pre-request script.  I was just hoping it would no longer be necessary.

Incidentally, your suggested script does not actually meet my needs, although it did get rid of the 400 server response.  I have Postman variables for some of my parameter values, such as "{{myVariable}}".  I am thinking what you

[2020-03-11 18:51] andrewshawcare commented on #6614
Using it in tests is the thing I'd like the most, especially with Newman so I can use it in CI and have the build break if validations are failing.

[2020-03-11 19:59] shamasis commented on #7879
closing this in favour of #7865

[2020-03-11 19:59] #7879 closed, assigned to vvs11, codenirvana, saswatds

[2020-03-11 20:11] shamasis commented on #7689
@AnastasiyaSm can you try the latest postman app to see if it is still crashing? In my case, `https://postman-echo.com/bytes/30/MB` and even `https://postman-echo.com/bytes/40/MB?type=json` works with or without scripts.

1. I am on latest Postman version 7.20
2. I have response timeout set to 0 (infinity) in app setting
3. I have max response size set to 50 mb in app settings

Please check and le

[2020-03-11 20:11] #7689 closed, assigned to saswatds

[2020-03-11 20:29] shamasis commented on #8059
Is your old account a gmail account or GSuite one?

[2020-03-11 20:31] krishnakumar-tce commented on #7711
I'm still facing this issue. Pls see attached.
![image](https://user-images.githubusercontent.com/48194451/76461122-ae234980-63b5-11ea-91d0-04b745bfeaf2.png)

[2020-03-11 20:43] shamasis commented on #7715
@vainiusr Postman does not convert `+` to whitespace. I strongly suspect that this is the server doing it. I am pasting a screenshot of sending URL to `http://postman-echo.com/get?a=your+email@example.co`. Notice how the server response assumed + to be whitespace but wireshark result (on right) shows underlying network data sent had normal `+` sign in it.

![Screenshot 2020-03-12 at 02 11 59](http

[2020-03-11 20:43] #7715 closed, assigned to codenirvana

[2020-03-11 20:52] shamasis commented on #7663
I think we have arrived at a deadlock here. We are unable to reproduce this without getting hold of the actual endpoint. I have a suggestion though ... try the latest Postman Canary (https://www.getpostman.com/downloads/canary) ... it has a new feature that allows you to disable the default headers Postman sends. Try turning off as many as applicable to see if your response matches.

One fun stuff

[2020-03-11 20:55] shamasis commented on #7517
Please update to latest app to see if things are resolved. Closing for now. Will be happy to reopen.

[2020-03-11 20:55] #7517 closed, assigned to vvs11

[2020-03-11 21:00] shamasis commented on #7862
204 is not supposed to have content! https://developer.mozilla.org/en-US/docs/Web/HTTP/Status/204 ... Having said that even GET requests were not supposed to have body but some APIs do (See elastic search API)!!

We will have a look whether we have some bailout on 204 or whether content-length mismatch in 204 is causing this.

[2020-03-11 21:15] shamasis commented on #7526
Is there any doc of the service or URL we can use to test this flow? Right now it is too generic for us to tap into the cause.

[2020-03-11 21:22] nuffink69 commented on #7788
Yes sure and yes as.far.as.i know.its still.a.problem.
Side issue in one release as.nee.feature a sync between the tab and the
request being tested on the collection panel.side would be good :)

On Wed, 11 Mar 2020, 09:40 Premang Vikani, <notifications@github.com> wrote:

[2020-03-11 22:47] m-dierker opened #8170 "Generated command for wget/curl incorrectly duplicates cookies"
**Describe the bug**
Exporting a request to replicate in `curl` or `wget` incorrectly duplicates cookies.

**To Reproduce**
Steps to reproduce the behavior:
1. Put in any URL for a GET request (ex: `https://google.com`)
2. Add a Header with the key `Cookie` and the value `blah`
3. Click Send more than once.
4. Attempt to get cURL code via `Code --> cURL`.
5. Observe that `blah` is included twice.

[2020-03-11 22:53] neilpalima commented on #5819
I am experiencing this issue. A subdomain is using a wild card ssl from namecheap. Why do I need to SSL certificate validation in order to access the subdomain? The subdomain can be accessed smoothly on chrome though but not in postman. I am using Version 7.20.0 for Windows.

[2020-03-11 23:16] xk0der commented on #8161
@abeal-hottomali agree!

- Maybe there should be a an in-app mechanism to restore archived collection to a personal workspace, makes it a one-click restore compared to a having to manually export and import it back.
- Or maybe not even archive it! Move the collection to a personal workspace when it exceeds team workspace limits, call the workspace "Overage Workspace" / "Team Archived Collections"?

[2020-03-11 23:17] neilpalima commented on #3290
I am experiencing this issue. A subdomain uses a wild card ssl. It can be accessed on chrome and stating the certificate is valid. Disabling ssl cert validation makes it accessible but I think this is just a work around.

[2020-03-12 04:29] codenirvana commented on #6979
@dellgreen Thanks for the confirmation 👍
The same changes are available in the latest version of the Postman app.

Please feel free to reopen if the issue persists or you can help us with the steps to reproduce this issue.

[2020-03-12 04:29] #6979 closed, assigned to codenirvana

[2020-03-12 04:58] codenirvana commented on #7738
@tswysy This is fixed in the latest version of the Postman app. 🎉

[2020-03-12 04:58] #7738 closed, assigned to codenirvana

[2020-03-12 05:04] vikiCoder commented on #7639
Hi @mserdur,

We have recently fixed a bug where cookies having both fields `expires=<past date>` and `Max-Age=0` were not being deleted properly. Please update to the latest [Postman app (v7.20.0)](https://www.postman.com/downloads/) and it will work as expected. I am closing the issue for now. Feel free to reopen the issue if it still persists even after updating the app.

[2020-03-12 05:04] #7639 closed, assigned to codenirvana

[2020-03-12 05:43] Raja-Simha commented on #7711
@krishnakumar-tce could you please try a hard refresh and check again. If the issue still persists please share your published documentation link so that we can have a look.

[2020-03-12 06:05] coditva commented on #7886
Thanks @BryanMorgan for providing the solution! Closing this issue now. :)

[2020-03-12 06:05] #7886 closed, assigned to vvs11, codenirvana, saswatds

[2020-03-12 06:40] v-krishnakishore commented on #5209
Thank you. I have tested the collection and it is working now.

I look forward to the permanent fix so that it won't cause issues in the future if we add more variables to the environment with different length values.

[2020-03-12 06:41] vikiCoder commented on #8064
Hi @franksunnn,

I tried running the following script outside the Postman app in Node. It also gives the same error while validating. So it seems to be a problem with `ajv` not with the Postman app. Closing this issue because the problem is not related to the Postman app.

![image](https://user-images.githubusercontent.com/16588032/76494222-69052300-645a-11ea-8b1c-4e5857c0c1d5.png)

[2020-03-12 06:41] #8064 closed, assigned to vvs11, codenirvana

[2020-03-12 06:56] deepakpathania-zz opened #8171 "Postman bootcamp doesn't finish loading"
**Describe the bug**
Clicking on Postman Bootcamp opens a new tab but it gets stuck in the loading state. (The API to fetch all lessons for a skill is not working.)

**To Reproduce**
Steps to reproduce the behavior:
1. Go to any workspace
2. Click on Bootcamp at the bottom
3. App gets stuck in the loading state.

**Expected behavior**
Postman Bootcamp should load.

**Screenshots**
![Screenshot 202

[2020-03-12 07:45] shamasis commented on #7910
Seems like this is a common issue across all input fields with different fields having different behaviour! Try inputting this emoji 👨‍👩‍👦 and hitting backspace to delete it. It will be fun!

[2020-03-12 07:53] codenirvana commented on #7524
Duplicate of #7000

[2020-03-12 07:53] #7524 closed, assigned to codenirvana

[2020-03-12 08:01] amigobg commented on #8169
It is the same from Chrome, I was tried in the incognito tab also (OS: Linux Mint).

[2020-03-12 08:04] sivcan commented on #8171
@deepakpathania I am unable to reproduce this issue at my end.
Did you try to quit the app and reload it? Is it failing for you consistently?

Additionally, can you please update to the latest version (7.20.0) as of today and try it out?

[2020-03-12 09:23] saswatds commented on #5671
Closing this as its no longer an issue in the latest postman app.

[2020-03-12 09:23] #5671 closed, assigned to shamasis, vkaegis

[2020-03-12 10:04] deepakpathania commented on #8171
Failing consistently. Updated the app to 7.20.0, still failing.
![Screenshot 2020-03-12 at 3 33 30 PM](https://user-images.githubusercontent.com/15071438/76509971-d921a200-6476-11ea-9f92-95e1c6be75ed.png)

User id - 7164605

[2020-03-12 10:20] preethammavin commented on #8161
Hey, We appreciate the feedback and have noted for future improvements. We do communicate that some of your requests would be archived once you have breached the limit and also provide ample time for the user to stay within the limit or upgrade.

[2020-03-12 10:20] #8161 closed, assigned to nobody

[2020-03-12 10:33] godfrzero commented on #8148
@VicKetchup The Postman API has rate limits imposed on it, as documented here: https://documenter.getpostman.com/view/631643/JsLs/?version=latest#rate-limits

We'll be looking at API improvements later on, so we'll take these filters into consideration. The rate limit itself is unlikely to change.

[2020-03-12 10:47] coditva commented on #8010
Hi @jeevananthank,

In the syntax for `cookieJar.set`, the cookie will be set with `hostOnly=false` if it contains the `domain` attribute. This is because if a cookie does not contain a domain, its domain is inferred from the URL and it is implicitly, `hostOnly`.

[code]

![image](https://user-images.githubusercontent.com/8445768/76513022-a62ddd00-647b-11ea-9447-f24ae93547fb.png)

Note: This behav

[2020-03-12 10:47] #8010 closed, assigned to shamasis, vvs11

[2020-03-12 10:53] preethammavin commented on #8148
@VicKetchup you could delete the set of monitors that you don't have in use and have delays between API requests to fetch them to avoid the rate limit. Closing the issue for now, do feel free to reopen the issue if the above suggestion doesn't work.

[2020-03-12 10:53] #8148 closed, assigned to godfrzero, ArjunSingh-PM

[2020-03-12 11:00] carljustineoyales commented on #8059
old account

[2020-03-12 11:04] VicKetchup commented on #8148
@preethammavin that has already been done, however the monitors API still returns those monitors, when trying to access them, we get an error saying that monitor does not exist. Could this be checked on your side?

[2020-03-12 11:40] KhufiaxD commented on #191
Help To Get Post Data

------WebKitFormBoundarytAp7ctbPIkOrvciA
Content-Disposition: form-data; name="a"

WEB
------WebKitFormBoundarytAp7ctbPIkOrvciA
Content-Disposition: form-data; name="v"

------WebKitFormBoundarytAp7ctbPIkOrvciA
Content-Disposition: form-data; name="t"

0
------WebKitFormBoundarytAp7ctbPIkOrvciA
Content-Disposition: form-data; name="c"

SIGNIN
------WebKitFormBoundarytAp7ctbP

[2020-03-12 11:42] coditva commented on #4904
Hi! This issue is fixed. Please update to the latest Postman app (version `7.20.0`).

![image](https://user-images.githubusercontent.com/8445768/76518167-a67ea600-6484-11ea-9257-1f7a0ba0b4c1.png)

[2020-03-12 11:42] #4904 closed, assigned to saswatds

[2020-03-12 11:44] Raj-postman commented on #8099
@ankit-m Similar issue reported, after merging the forked collection although it shows as a successful merge - the request bodies are completely empty.

Re-merging the forked collection seemed to have fixed the issue in this case.

[2020-03-12 12:16] joh-braeuer opened #8172 "Links in Settings>About point to http://undefined"
In the Windows desktop application of Postman (v7.20.0) all links in the "About" page of the Settings are pointing to "http://undefined".

**To Reproduce**
Steps to reproduce the behavior:
1. Click on 'File' > 'Settings'
2. Click on the last tab: 'About'
3. Click on any of the six links

**App information:**
 - App Type: 64 bit Desktop Application for Windows
 - Postman Version: 7.20.0
 - OS: Wind

[2020-03-12 12:25] joh-braeuer commented on #8172
My standard browser is Firefox 74.0.

[2020-03-12 13:09] VicKetchup commented on #7663
@shamasis Thank you very much for the suggestion and that is an interesting observation.
By process of elimination it was the Host header in our case, will check with our devs.
A suggestion for this new build, have a toggleable option in the settings to always have the Automatic headers disabled :)

[2020-03-12 13:20] kamalaknn commented on #8172
Thanks @joh-braeuer

We are able to reproduce this issue. We will be pushing a fix for soon.

[2020-03-12 14:07] VicKetchup commented on #7663
@shamasis
UPDATE:
Without the Host header we get a 400 error, however it is not even calling our API (checked gateway logs and nothing was there), so it seems like with that disabled it's calling some other host.
Here is the response we get without the Host header:
_

_
This also means that it is still unclear how we are getting the Content-Type header, will try to use different User-Agents as per

[2020-03-12 14:16] codenirvana commented on #7663
@VicKetchup `Host` header is a required header for the most servers (and load balancers). As you can see, the 400 response is from CloudFront.

When you disable the `Host` header, Postman does send the request without it and you can verify this by using an echo server like this: https://gist.github.com/codenirvana/afb41744865e13d77da7be7ed2f2539c

[2020-03-12 14:46] tgulick commented on #7524
this was a Windows 10 specific bug and didn't work with any version of Postman we had. Looks different than https://github.com/postmanlabs/postman-app-support/issues/7000.

[2020-03-12 14:52] VicKetchup commented on #7663
@codenirvana sending request through other clients or using cURL directly in Terminal without the Host header works just fine and the request from Postman without Host header doesn't even reach our gateway, so seems like some issue on Postman side.

[2020-03-12 15:06] codenirvana commented on #7663
@VicKetchup Is it possible to share the endpoint which we can use to reproduce this behavior?

As you can see in this screenshot, the postman-echo endpoint also responds with 400 when the host is removed while sending requests through curl.
![Screenshot 2020-03-12 at 8 31 29 PM](https://user-images.githubusercontent.com/4865836/76535211-8a88fd80-64a0-11ea-8393-2ac647e4a936.png)

[2020-03-12 15:08] mallocfailed opened #8173 "No way to disable all autocomplete features"
**Describe the bug**
While editing XML or JSON body content, suggestions are automatically inserted, and are always incorrect.  There is no apparent way to disable all of this functionality, which means I have to manually delete every suggestion.

**To Reproduce**
Steps to reproduce the behavior:
1. Begin working on a non-empty XML Body.  (For example, GET from another location, paste into a PUT c

[2020-03-12 17:43] kamalaknn commented on #8091
@jcald1 Thanks for writing in. Can you elaborate a little bit on your request though?

Are you referring to the sidebar? You can resize the sidebar. See the recording below

![Mar-12-2020 23-11-31](https://user-images.githubusercontent.com/8401064/76549798-08f09a00-64b7-11ea-8cc9-ed04f3e682de.gif)

If you could attach screenshots of the parts of the app you are suggesting changes to, it would be v

[2020-03-12 17:44] krishnakumar-tce commented on #7711
@Raja-Simha it's looking better after the hard refresh but not as good as before.
here's our documentation link -
https://documenter.getpostman.com/view/1092750/SW7eyQic?version=latest#647e4610-b639-4651-a7cb-9584e963c1d5
You can see some of the tables now have a horizontal scroll bar though its not bleeding.
also, what happened to the "click to expand" option which was available before? that was

[2020-03-12 18:46] toneplex commented on #8081
I've experienced this when pressing the 'retry' button. The environment is set correctly, but after clicking retry, the environment name gets changed to 'No Environment'.

[2020-03-12 18:50] saswatds commented on #8081
Hi everyone, we have fixed this issue on our end and it should be out in our next release of the app.

[2020-03-12 19:26] codenirvana commented on #7524
@tgulick Can you please share the steps to reproduce this particular issue?
Steps to generate the certs and with the local server configuration which fails.

That will help us reproduce this issue locally and triage this better.

[2020-03-12 19:35] Yawnder commented on #8123
Hi,
Any update on that? I'm having the same issue, and neither this thread, nor the community one [(here)](https://community.postman.com/t/using-postman-to-test-identityserver4-oauth-authentication-code-flow/9524/3) show any progress.

[2020-03-12 19:49] tgulick commented on #7524
Hi,
I no longer have a company-provided Windows 10 machine to test on. I will have to install Postman on a private machine and see if problem still exists. If it does, I will provide you a cert/key pair and a public URL for you to duplicate it.

[2020-03-12 19:54] hairymonkeynuts opened #8174 "GET that is 301 redirected fails"
**Describe the bug**
When using postman to send a GET against an AWS ALB ~(or IIS)~ with redirection on the HTTP side (for HTTP to HTTPS redirection), ALB ~/IIS~ sends 301 with reference to HTTPS url. Postman chokes with "Could not get any response" error. POSTs and some other non-GET methods tried are not affected with IIS redirecting, but with AWS ALB redirecting Postman will not resend the head

[2020-03-12 20:11] hairymonkeynuts commented on #8174
I tried to wireshark Postman calling with the GET and it seems to get the redirect but does nothing with it.

[2020-03-12 22:41] conradpronto commented on #7711
@Raja-Simha I agree with @Raja-Simha that the click to expand functionality was nice.  The horizontal scroll bar doesn't really work on a 13 inch screen.  You can only see a very narrow bit of information.

Is it possible to apply a different layout so that the examples are not the right side of the screen but can instead be worked into the vertical layout?

[2020-03-13 04:36] preethammavin commented on #7771
Closing the issue for now, as with the current set of information we are unable to investigate further.

[2020-03-13 04:36] #7771 closed, assigned to nobody

[2020-03-13 05:34] automatiche opened #8175 "Please convert the format of imported graphql request params in the clipboard"
when i copied a request text as ‘Copy as cURL’ from chrome.devtools.network，params, eg. ‘ObjID!’ will be escaped to ObjID\u0021. i import it as 'Paste Raw Text’ and sent request, then i got a error message "Unknown type…”. could you convert it into the correct format?

[2020-03-13 05:50] vvs11 commented on #7222
@mirza-shazif could you let us know if you're still facing the issue?

[2020-03-13 05:53] vvs11 commented on #7322
@Piyush1317 Please let us know if you're still facing this issue after trying the solution suggested above?

[2020-03-13 05:59] vvs11 commented on #7471
@hardcodet Could you provide us with the required information so that we can proceed with the issue?

[2020-03-13 06:00] saswatds commented on #7195
Hi. Can we confirm is the user is able to reach to your server with other tools like curl? This looks more like a networking issue rather than issue within postman. Still want to confirm.

[2020-03-13 06:07] saswatds commented on #7046
Hi. This issue has now been fixed.

[2020-03-13 06:07] #7046 closed, assigned to saswatds

[2020-03-13 06:09] vvs11 commented on #7561
@josephpconley Could you provide us with more information about how the environments are duplicated and what steps should be followed to reproduce this?

[2020-03-13 06:11] vikiCoder commented on #6993
@techpeace, @apokall  Can you please show the error from Postman console when the request fails? I suspect the token might contain some invalid characters (like newline) which are not allowed to be sent as request header and causing the request to fail.

[2020-03-13 06:28] vvs11 commented on #7632
Thanks @renansph for reaching out to us. Let us know if you face any issues in the future

[2020-03-13 06:28] #7632 closed, assigned to codenirvana

[2020-03-13 06:29] saswatds commented on #7374
Hi @JessePelton We are still not able to reproduce this issue on our end. Can check the latest version of postman app, confirm that it's still happening.

[2020-03-13 06:37] saswatds commented on #7436
Hey @ameduza Can you check the postman-console and see if any error was reported? You can open the console with the shortcut CMD+Option+C or Alt+ctrl+C

[2020-03-13 06:43] saswatds commented on #7552
This is reproducible.

[2020-03-13 06:51] saswatds commented on #7621
Hi @jrmore we have not been able reproduce such a behaviour. All urls are parsed in the same manner regardless of the Method. So most likely this is an issue with a server while processing the request. Closing this issue now as no other user has reported about such a behaviour.

[2020-03-13 06:51] #7621 closed, assigned to vvs11, codenirvana

[2020-03-13 06:57] Raja-Simha commented on #7711
@krishnakumar-tce and @conradpronto appreciate your comments. We are aware of the issues pointed out. We fixed the overflowing issue this week. We will also be adding the 'click to expand' for large tables and code blocks within a week.

[2020-03-13 07:03] ArjunSingh-PM opened #8176 "Monitor list returned by the Postman API includes deleted monitors"
**Describe the bug**
Monitor list returned by the Postman API includes deleted monitors.
When trying to access these deleted monitors, monitor does not exist error is returned.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a monitor
2. Delete the monitor
3. Retrieve monitor listing via the Postman API
4. The list includes the deleted monitor

**Expected behavior**
Deleted monitors s

[2020-03-13 07:08] ArjunSingh-PM commented on #8148
@VicKetchup I have created a ticket - Monitor list returned by the API includes deleted monitors. We are working on resolving the same.

Refer: https://github.com/postmanlabs/postman-app-support/issues/8176

[2020-03-13 07:48] sivcan commented on #8171
@deepakpathania Can you confirm whether this is regarding a proxy issue at your end or not?
Let us know, thanks.

[2020-03-13 07:58] ArjunSingh-PM commented on #7989
@JP-from-Postman, we enforce only a limit on character length i.e. 8 to 64 characters. This is something we intend to keep as is.

[2020-03-13 07:58] #7989 closed, assigned to ArjunSingh-PM

[2020-03-13 08:07] kamalaknn commented on #7994
Hey @adikhel

I'm closing this issue due to lack of response. Please provide us more information if you are still seeing this issue.

[2020-03-13 08:07] #7994 closed, assigned to nobody

[2020-03-13 08:12] jazzyarchitects commented on #8151
Just wanted to add that if the API which you want to delete is not visible to you in any of the workspaces, you can omit the `workspace` query parameter in [Get all APIs Postman API](https://documenter.getpostman.com/view/631643/JsLs/?version=latest#3ebf9324-fb36-4e44-81cf-c24915515272) which will fetch all the APIs accessible to you.

Once you find the API you want to delete, you can use the `cur

[2020-03-13 08:24] ameduza commented on #7436
Hi @saswatds thanks for the idea to take a look into the logs! Completely forgot about them.
So now I clearly see the root cause of the issue. The issue is on the step 4 from my original steps. To be more specific - in order to select token data I use mouse triple-click. Then set it to the variable as per my description.
From what I see in the logs there is **carriage return symbol** that caused t

[2020-03-13 08:39] nik72619c commented on #7642
This issue has been fixed in the new release of the postman app `7.20`. Therefore, closing this issue.

[2020-03-13 08:39] #7642 closed, assigned to vkaegis

[2020-03-13 08:41] kamalaknn commented on #7746
Closing this issue since we are tracking this via email support.

[2020-03-13 08:41] #7746 closed, assigned to nobody

[2020-03-13 08:47] #7933 closed, assigned to nobody

[2020-03-13 09:27] 24thsaint commented on #1066
Encountered this difficulty recently, +1.

[2020-03-13 10:20] szogoon commented on #2427
What is the status of this?

[2020-03-13 12:04] JessePelton commented on #7374
The problem still occurs.

Your query prompted me to try again to find a pattern for success and failure, and I've gotten closer. A child folder can reliably be moved out of the parent (becoming a sib) and then moved back into a parent only if the parent is closed (not expanded) for the second move.

**Sometimes passes, mostly fails**

1. Create and open a new collection.
2. Create a folder named

[2020-03-13 12:59] prashantagarwal commented on #7657
@aleftinalex We have revamped our entire UX to onboard you better on Postman. This bug now seems irrelevant to the current UI.

[2020-03-13 12:59] #7657 closed, assigned to appurva21

[2020-03-13 13:03] prashantagarwal commented on #8171
@deepakpathania Were you able to reproduce this on a different network?

[2020-03-13 13:38] devanSAGA commented on #8172
Thanks again @joh-braeuer for reporting this. We have resolved this issue in Postman 7.20.1.

[2020-03-13 13:38] #8172 closed, assigned to devanSAGA

[2020-03-13 13:50] leehambley opened #8177 "Postman takes the wrong "code" in OAuth2.0 Access Code grant flow"
**Describe the bug**

Cross-posting from stackoverflow at the request of Postman staffer @DannyDainton. The grant flow mistakenly sends some random completely unrelated data for `code` to the OAuth2 token exchange endpoint:

An extremely thorough description is here https://stackoverflow.com/questions/60668411/

In short my server issues codes which look like:

`3b9ac786-f9d1-40f9-b884-35e17b2fa75

[2020-03-13 14:15] tgulick commented on #7524
I loaded 7.20 on my own Windows 10 machine and tried it out and it works now. OK to close this.

[2020-03-13 14:33] MichaelBrooks-Version1 commented on #3774
Same here. After over 30 years in this industry it never ceases to amaze me how bad some user interfaces can be. Thanks.

[2020-03-13 14:56] yogiiiii26 commented on #2214
When I'm trying to use POST operation through local host server. It is not connecting to the server and showing the following error : There was an error connecting to http://localhost:4500/api/user/signup

![image](https://user-images.githubusercontent.com/61676728/76632236-e4ed9100-6568-11ea-922a-d9159346bfa7.png)

[2020-03-13 15:13] airs0urce commented on #2214
@yogiiiii26 So, when you open this URL in browser it works?
http://localhost:4500/api/user/signup

but when you request it in Postman it doesn't?
May be you blocked network for Postman in firewall settings.

[2020-03-13 15:18] AmazingCaddy commented on #5912
I also meet this issue recently, and found the discussion under this issue when search answer by Google. now I am using Postman v7.20.0, it seems still have this issue. See below pictures for detail

Is there anything I missed to enable filename* ?

![image](https://user-images.githubusercontent.com/2764744/76634139-d27f5180-6580-11ea-9efb-e3d6837fe172.png)

![image](https://user-images.githubuser

[2020-03-13 15:34] yogiiiii26 commented on #2214
Hi @airs0urce thanks for the suggestion but after doing this also the error is still the same.

[2020-03-13 17:39] MattMulhern commented on #8054
same on osx `Version 7.20.1 (7.20.1)`

[2020-03-13 18:57] gadelkareem commented on #4401
Is that a premium feature because I cannot get it to work after downgrading

[2020-03-13 19:08] darshkpatel commented on #6331
I'd love to work on this and would love to include this in my GSoC  proposal, let me know about what else can I add to this

[2020-03-13 20:36] justmobilize commented on #2512
Works great! Thanks so much

[2020-03-14 04:24] coditva commented on #5912
@AmazingCaddy this seems to be a problem with the generated code for the request. Can you send the request and see the logs in the Postman Console (raw view)?

[2020-03-14 05:07] yokzy88 commented on #3582
Hi @codenirvana ,
Is this only work for pm.response?
I try this:
[code]
It return assertions error saying it has invalid schema

I also try this:
[code]
and it return **Cannot read property 'have' of undefined**

[2020-03-14 05:32] saswatds commented on #5882
Hi @fredrik-jansson-se
Starting app version 7.20 content-type header in the form application/*+xml are now automatically detected as XML language.

Closing this issue now.

[2020-03-14 05:32] #5882 closed, assigned to shamasis

[2020-03-14 09:33] fengyangdi commented on #7934
It’s OK , I upgrade to 7.20.1, Thank you!

[2020-03-14 10:57] sergiosolorzano commented on #6953
didn't work for me

[2020-03-14 15:50] saswatds commented on #2512
Closing this issue now. Additionally we have also added `application/vnd.api+json` to the auto-complete which should out in the next release.

[2020-03-14 15:50] #2512 closed, assigned to a85, saswatds

[2020-03-14 16:00] saswatds commented on #7374
@JessePelton Thanks a lot for the steps. I was able to reproduce this issue. We will make sure this scenario is fixed.

[2020-03-14 16:07] AmazingCaddy commented on #5912
Sure, see below picture. so, the raw data shows that the filename* has been enabled. thanks a lot.

![image](https://user-images.githubusercontent.com/2764744/76685704-c236a780-6650-11ea-82dd-61fe7e2ead1b.png)

[2020-03-14 17:08] parsalotfy commented on #5286
same issue

[2020-03-14 18:34] trajano commented on #5912
@AmazingCaddy you're probably hitting the same problem as I did.  Are you using JAMES or something that relies on it?

[2020-03-14 18:42] deepakpathania commented on #8171
@prashantagarwal Yes, not working on a different network either.

As seen above in the screenshot, getting a 304 for the fetch skill API, please let me know if you need additional context.

[2020-03-14 20:27] aetonsi opened #8178 "Implement jsoneditor for JSON request bodies"
**Is your feature request related to a problem? Please describe.**
The text-only editor for sending a raw+JSON body is pretty basic.
A more advanced editor would be cool and useful since a lot of backend/frontend frameworks communicate via JSON (eg. Vue + Laravel send and expect JSON encoded data, AFAIK).

**Describe the solution you'd like**
A very intuitive yet fully featured editor is [jsonedit

[2020-03-15 03:07] vdespa commented on #7848
Great to see this fixed! Thank you.

[2020-03-15 10:21] AmazingCaddy commented on #5912
@trajano my server side is developed on [eggjs](https://github.com/eggjs), and this framework has a plugin named [egg-multipart](https://github.com/eggjs/egg-multipart) to handle `multipart/form-data` data. I did some test for my server.

* Case 1,  `Content-Disposition: form-data; name="file"; filename="居住证申请人信息.json"`, server prints the filename with correct Chinese characters.
* Case 2, `Conten

[2020-03-15 12:34] frederikheld commented on #7852
This is what happens:

[code]
After running the `postman` command, there's a period of 10 to 20 seconds in which nothing happens, then I'm back at the command prompt. No output.

If I run `postman` again, I'm back at the prompt without noticable delay.

Feels like there's some first-start procedure that fails...

Is there something like `postman -v` to get more verbose output?

[2020-03-15 12:37] frederikheld commented on #7852
This is what happens:
[code]

After I have run the `postman` command, there is a period of 10 to 20 seconds in which nothing happens. Then I'm back at the command prompt. No output.

If I run `postman` again, I'm back at the command prompt without noticeable delay.

Feels like there's some kind of first-start procedure that fails.

Is there something like `postman -v` to get more verbose output?

[2020-03-15 12:46] frederikheld commented on #7852
I did a couple of experiments. After another re-install, postman is now version 7.20. But same result.

This is /snap/bin, I don't know if it helps you:

[code]

If I run `/snap/bin/postman`, the result is the same as with `postman`.

[2020-03-15 14:59] aetonsi opened #8179 "Collection level headers"
**Is your feature request related to a problem? Please describe.**
I have to send some headers along with every request in a collection.
Currently i've found no other way than setting them with the "pre-request script".

**Describe the solution you'd like**
It would be easier to have a "headers" tab in the "Edit collection" dialog.
This tab would have the same content as each request "headers" tab

[2020-03-15 15:01] banstola commented on #4808
Not sure if this is related but I am running into same problem. I need a way to paste a raw http request string like below and generate postman request.
`GET /search?q=test HTTP/2
Host: www.bing.com
User-Agent: curl/7.54.0
Accept: */*`

{"key":"value"}

What I do currently is paste this whole HTTP request as request body and using JS I parse the HTTP request and completely reconstruct the request

[2020-03-16 04:38] lephuongbg opened #8180 "Incorrect AWS signature for multipart/form-data"
**Describe the bug**
Currently uploading file with `content-type: multipart/form-data` to an endpoint using AWS signature v4 doesn't work due to wrong signature being calculated.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a request with AWS signature v4 auth
2. Set body to "form-data"
3. Add any file to the body
4. Click "Send"

**Expected behavior**
The request should succeed.

[2020-03-16 05:02] abhijitkane commented on #8175
@automatiche Thanks - can you post a sample curl command that you're seeing this with, and a screenshot of the error you're seeing?

[2020-03-16 05:56] vikiCoder commented on #8174
Hi @hairymonkeynuts,

I tried to reproduce the problem by creating a local server that sends a 301 redirect to `https://postman-echo.com/get` on a GET request. The redirect seems to be working fine (below screenshot).

![image](https://user-images.githubusercontent.com/16588032/76726830-54859b00-6778-11ea-91cc-905a9432ccd6.png)

If possible, please share a screenshot of Postman console with all th

[2020-03-16 06:32] namgivu commented on #1070
Well it's 2020 now today and opened/longing-requested for in 2015? Not sure Postman team listen to user voice...

[2020-03-16 06:36] vikiCoder commented on #7304
Hi @steffenwieprecht,

I tried to follow the steps you provided to reproduce the issue. It is working as expected for me in the latest Postman app (v7.20.0). Please update to the latest Postman app and see if you are still facing the same issue. Below is a screen recording that shows that the credentials are sent according to the workspace and its environment values as expected.

![ezgif com-video

[2020-03-16 06:43] nam-vu-360f-com commented on #3913
Have we got it possible in 2020 please?

[2020-03-16 06:45] namgivu commented on #3913
https://github.com/postmanlabs/postman-app-support/issues/1070
Can we have it possible today 2020?

[2020-03-16 07:00] namgivu commented on #3913
Currently by now, I export the collection, edit the exported json file to reorder the example response, then import them back. Quite a verbose and tiring process indeed.

[2020-03-16 07:00] namgivu commented on #1070
Currently by now, I export the collection, edit the exported json file to reorder the example response, then import them back. Quite a verbose and tiring process indeed.
https://github.com/postmanlabs/postman-app-support/issues/3913#issuecomment-599374787

[2020-03-16 07:40] vikiCoder commented on #7828
Hi everyone,

We have fixed this issue with `Manage Tokens` dialog and the fix is out in the latest [Postman canary (7.21.0-canary01)](https://www.postman.com/downloads/canary). It will be fixed in the next version of the Postman app (v7.21) soon. Meanwhile, please check out the latest [Postman canary](https://www.postman.com/downloads/canary) and let us know if you are still facing the same issue

[2020-03-16 07:54] abhijitkane commented on #7507
@lasergoat We've updated this flow - on https://go.postman.co/team/invite, you can choose roles before you invite users, and this allows you to invite users with support-only roles too.

This should solve #2 and #3 in your list - we're working on the other two aspects you mentioned.

[2020-03-16 08:09] dushyantchillale commented on #7988
@kesamlats Just checking in to see if you had a chance to go through @pranaya94 's comment?

[2020-03-16 08:34] nenkie commented on #7842
Confirming the same issue still actual.
Postman-win64-7.20.1 or x32 on Windows Server 2016 Datacenter.
In my case workaround was to create folder "146".
Set-up log is the same as attached above

[2020-03-16 09:33] numaanashraf commented on #2437
@gkirill Could you let us know your app version?

[2020-03-16 10:41] VicKetchup commented on #7663
@codenirvana Could I share this through email? If so, shall I message to help@getpostman.com or could we do it more directly? My work email: viktor.tkachuk@tui.com

[2020-03-16 10:57] mvhk commented on #6723
https://community.postman.com/t/postman-not-starting-up-stuck-in-preparing-workspace/10132

[2020-03-16 11:08] lineshr commented on #4779
hei any update on this feature?

Thanks,
Linesh

[2020-03-16 11:27] harryi3t commented on #6723
Can you share with us the logs from `%USERPROFILE%\AppData\Roaming\Postman\logs` or `%USERPROFILE%\AppData\Roaming\PostmanCanary\logs` at help@getpostman.com?
Please mention the GitHub issue ID (6723) in the subject line.

[2020-03-16 11:33] harryi3t commented on #7852
@frederikheld Are you on Wayland or x11? We have received user reports where Electron apps distributed through SNAP have problems working on Wayland.

Could you try running this command? This would temporarily disable Wayland.
DISABLE_WAYLAND=1 snap run postman

[2020-03-16 11:34] harryi3t commented on #7811
@m3dbedb Closing this out due to lack of activity.
If the issue persists, please let us know with steps to reproduce or a screen recording.

[2020-03-16 11:34] #7811 closed, assigned to nobody

[2020-03-16 11:44] harryi3t commented on #4899
@scottanthonymorin This seems to be fixed. I imported the collection from https://docs.smooch.io/guide/postman-collection/ and I could see the emojis.

In case this is still not fixed please let us know.

[2020-03-16 11:44] #4899 closed, assigned to shamasis, abhijitkane

[2020-03-16 12:06] gkirill commented on #2437
@numaanashraf The first time when I noticed the issue I checked version and it was 7.20 (if I recall correctly), and the latest updates was done on March 9th (again as far as I remember). Then I downgraded to 6.7.6 via command line. But it did not solve the issue. Then I kindof gave up, but now I tried it again and it seems to work again. My version is still 6.7.6.

[2020-03-16 12:08] VicKetchup commented on #8099
@Raj-postman got something similar on our end. When merging collection it is reporting that a POST request has been modified, however doesn't specify what the change is. If this is merged, the request body gets removed in the parent collection. Doing repeated merge shows that the body is now being added and adds it to the parent collection as well.
@ankit-m could share the details for our collecti

[2020-03-16 12:50] ankit-m commented on #8099
@VicKetchup can you email us the collection details at help@postman.com?

[2020-03-16 13:14] numaanashraf commented on #7723
This seems to be an issue with the underlying version of Electron we are using and there are [reports](https://github.com/microsoft/vscode/issues/68069#issuecomment-540828899) that this is addressed in Electron 6.x. Postman is currently upgrading its Electron version to 7.x and we'll post updates here when we have a public build out.

[2020-03-16 13:54] vvs11 commented on #7808
@shleym Please let us know if you're still facing the issue.

[2020-03-16 14:41] JoseyJimmy commented on #7777
Any ideas on how to Automate OAuth2.0 Authorization on POSTMAN Collection?

[2020-03-16 14:49] VicKetchup commented on #8099
@ankit-m Email sent, hope it helps :)

[2020-03-16 15:53] leofrances-extflowbird opened #8181 "Postman generates the header Content-Length without body"
**Describe the bug**
Postman generates the header Content-Length: 0 when the body is not set (no header Content-Type) for the DELETE verb. This is a problem for our server because the requests with the header Content-Length are considered with a body. But it is not the case. So, to avoid this issue, we must fill the header Content-Typewhile there is no body.

**To Reproduce**
1. Send a DELETE requ

[2020-03-16 16:17] SabriH10 opened #8182 "Clarify which resources reset monthly"
**Is your feature request related to a problem? Please describe.**
Considering the total number of API's created is fixed, it would help to clarify which resources are reset monthly and which aren't.

**Describe the solution you'd like**
Ideally, more clarity on which resources reset monthly. This could be in the form of a special information message or the structure of how the information is pres

[2020-03-16 16:56] rahulhada commented on #5465
Even we are looking for the same

[2020-03-16 18:21] trajano commented on #5912
@AmazingCaddy so exactly the same issue as I have on the server side.  Per spec the header data should be sent as US-ASCII,

https://tools.ietf.org/html/rfc7230#section-3.2.4

[2020-03-16 18:46] jcald1 opened #8183 "Support Multiple Snapshots Per Collection"
It would be nice to be able to support multiple snapshots per collection.  For example, we could have different versions of the collection for each release in different snapshots.  Then Newman could be used to point to the right version of the collection based on the release.

[2020-03-16 19:00] numaanashraf commented on #5740
Thank you for your issue @SunderlandJames!

We haven't gotten a response to our questions in our comment above. With only the information that is currently in the issue, we don't have enough information to take action. I'm going to close this but don't hesitate to reach out if you have or find the answers we need, we'll be happy to reopen the issue.

[2020-03-16 19:16] jcald1 commented on #8091
@kamalaknn , can you try a deeply nested folder with a long name?  You're only able to expand so far.

Can you also try running the collection runner?  The long names are cut off.

[2020-03-16 21:16] shamasis commented on #8016
Path parameters are only supported if it is in the entire URL segment. However, you can use the `{{extensions}}` representation instead.

[2020-03-16 21:35] shamasis commented on #7981
Can you export the collection and send us after removing any sensitive data? @jcald1 ... also can you try Postman Canary (postman.com/canary) to check if your collection in UI has some invisible character that’s for some reason translating to newline in our APIs?

[2020-03-16 21:37] shamasis commented on #7713
Environment variables are of string type and does not allow arrays.

[2020-03-17 06:56] deathgaze commented on #5990
I'm experiencing this as well. Reinstalling or updating didn't help. This app used to be pretty dope, but I don't think I'm gonna use it anymore b/c it's gotten progressively more difficult to use over the years.

[2020-03-17 09:16] hilo2120 commented on #3822
+1

[2020-03-17 11:07] VicKetchup commented on #8165
@abhijitkane Not sure if this is a coincidence, however after deleting some integrations that we deemed unnecessary, the count now matches the amount that we have configured. Will keep this open in case there is some issue that still needs to be fixed, however all good on our side now.

[2020-03-17 11:08] leftering commented on #6331
I think this can also support generate a service lib for a collection, like:
[code]
each '.js' file export one or some function of request and in frontend can be used directly. This is useful for large-scale application developing.

Maybe this can also generate a service lib to support some "convention dictionary" frameworks especially for React frameworks like Umi.js or egg.js. (convention dictio

[2020-03-17 11:32] mzarify opened #8184 "SSL Handshake error with new Postman for Windows Version 7.20.0 win32"
**Describe the bug**
Since new update of Postman (Version 7.20.0 win32) we get SSL handshake error while hitting our APIs. CRT,KEY, PFX files and Passphrase are all good. So we have installed back the older version, and then we could hit our API again.

**To Reproduce**
Steps to reproduce the behavior:
1. Try to hit a service behind SSL
2. From Settings -->Certificates, add all required CRT,KEY, P

[2020-03-17 11:36] codenirvana commented on #8184
@mzarify What's the error message in the [Postman Console](https://learning.postman.com/docs/postman/sending-api-requests/debugging-and-logs/#for-the-native-app-for-mac--windows--linux) (CTRL + ALT + C).

Also, does turning off the "SSL certificate verification" form the settings fixes this issue?

[2020-03-17 11:39] mzarify commented on #8184
POST {{url}}/
Error: Invalid URI "http:///%7B%7Burl%7D%7D/..."
Warning: This request did not get sent completely and might not have all the required system headers

[2020-03-17 11:40] mzarify commented on #8184
We also turned OFF/ON SSL certificate verification, and it didnt help

[2020-03-17 11:44] codenirvana commented on #8184
@mzarify I see this is not an issue with the SSL certificate.

The problem here is, the variable `{{url}}` is unresolved.
Check if you have the required environment selected before making the request.

[2020-03-17 11:50] mzarify commented on #8184
@codenirvana Sorry Retry now with correct URL :)
POST https://OUR URL
Error: Client network socket disconnected before secure TLS connection was established
Warning: This request did not get sent completely and might not have all the required system headers

[2020-03-17 11:52] mzarify commented on #8184
![image](https://user-images.githubusercontent.com/6429703/76853705-1fe41300-684e-11ea-90b3-aac1bef6801e.png)

[2020-03-17 11:54] Brestachan opened #8185 ".json response reload fail"
I'm having trouble regarding .json response reload. The code is listed below:
[code]
The trouble is actually in this part:

[code]
Now, the idea is that this reloads page that I'm viewing (or .json response) in order to get change in connection status. But the thing is that it doesn't get response after reload and I keep getting "Status-offline" even though I check directly in browser and see that

[2020-03-17 12:08] vikiCoder commented on #7368
Hi @chris-jansson, @xxxxpenny

I tried to reproduce the problem with a local https server running on port 3000. It seems to be working fine for me. See the below screen recording in which I add a client certificate for `https://localhost:3000` and then send a request to `https://localhost:3000/foo` which sends the certificate as expected and gets the 200 response. After that, I remove the client c

[2020-03-17 12:15] dirkesquire commented on #7537
Yes please, this is quite an important feature. I've filled in all 7 fields, and it works, but when I switch to a different collection or even a different workspace, and want to get an OAuth2.0 token from a different provider, I notice that all the 7 fields still keep all the same values as from before. So it means it is unable to record collection specific settings for GET NEW ACCESS TOKEN

[2020-03-17 12:16] mmeloni commented on #3466
autosave and saveall +1

[2020-03-17 12:20] dirkesquire commented on #7537
At the moment if you have multiple OAuth2 projects, you are kinda blocked by Postman, unless you want to copy and paste the token manually each time the session expires.

[2020-03-17 12:23] babyNEKO opened #8186 "Want to add other language support~"
Hi. howare you guys;

This is my first time using "Postman", and I very much hope that this software can add support for other languages.

**Thank!**

[2020-03-17 12:40] vikiCoder commented on #7930
It is fixed in the Postman canary and the fix will be out in the next Postman release (v7.21) as well. Closing this as a duplicate of https://github.com/postmanlabs/postman-app-support/issues/8054

[2020-03-17 12:40] #7930 closed, assigned to nobody

[2020-03-17 12:50] coditva commented on #7977
Hey, @jeevananthank as pointed out in [this comment](https://github.com/postmanlabs/postman-app-support/issues/8168#issuecomment-597465146), to access the cookie, you must add the protocol `https://` to the URL because the cookie is set for `https://www.google.com` and when protocol is not specified, cookie jar uses `http://` which doesn't match.

You can also use `pm.request.url` instead of `www.

[2020-03-17 12:50] #7977 closed, assigned to coditva

[2020-03-17 12:58] vvs11 commented on #7998
Hi @adamblum could you share some more details with us? Your OS version, app version and if possible a video of this?

[2020-03-17 13:13] vikiCoder commented on #7928
Hi @unmultimedio,

This is expected behaviour for path variables. I would suggest you to use environment variables with {{var_name}} syntax for more flexibility. Refer [this link](https://learning.postman.com/docs/postman/variables-and-environments/variables/) for more details on using variables.

Feel free to reopen this issue if you face any other problem regarding this.

[2020-03-17 13:13] #7928 closed, assigned to vikiCoder

[2020-03-17 13:21] anirudhavpavashe commented on #7895
Remove -raw which is after --data [--data ~~-raw~~ ]
just keep it as --data in the cURL

[2020-03-17 13:21] anirudhavpavashe commented on #7895
Remove -raw which is after --data [--data ~~-raw~~ ]
just keep it as --data in the cURL

[2020-03-17 13:40] coditva commented on #3995
This is reproducible:
![image](https://user-images.githubusercontent.com/8445768/76861514-b92d1c80-6882-11ea-964d-e54c9fb7fcad.png)

The actual status line sent (observed from wireshark):
[code]

[2020-03-17 13:48] coditva commented on #8132
@shona-code This seems to be an issue with the server itself? I tried it with `http://` protocol and got this response:

Trying it with `https://` gave me "Could not get response" and in the Postman Console, I see this message:
![image](https://user-images.githubusercontent.com/8445768/76862271-ddd5c400-6883-11ea-8211-cce7b060f613.png)

Trying it out with `curl` gives me a similar error too:
[code

[2020-03-17 13:48] #8132 closed, assigned to vvs11

[2020-03-17 13:53] coditva commented on #8128
@xieyy09 I *think* this might be because of an invalid character in your message (maybe a newline instead of `\r\n`)? Can you verify the same and see if this error persists.

You can also try this out with `curl --verbose` and see if there's something else that is wrong here.

[2020-03-17 14:16] #7713 closed, assigned to codenirvana

[2020-03-17 14:32] karthiks3000 opened #8187 "Shared request count incorrect"
**Describe the bug**
I have a single shared workspace with only 1 other team mate and we have 1 collection with 9 requests shared. The Shared Requests count however is showing 18/25.
It was correctly showing 9/25 as long as I was the only one on the team. The minute my team mate joined, the count doubled, even though the api count is only 9.

**Expected behavior**
Since there are only 9 apis share

[2020-03-17 16:11] ankit-m opened #8188 "Tests and pre-requests scripts are not restored when using changelog"
**Describe the bug**
When working on a collection, if you revert to a previous state from the changelog, the tests and pre-requests scripts are not reverted.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a new collection.
2. Create a request - R1
3. Duplicate the request- R2
4. Add some tests and pre-request script in R1
5. Restore to when you added R1

Notice that R1 still has test

[2020-03-17 16:17] ankit-m opened #8189 "Incorrect changelog entry for request body"
**Describe the bug**
Request body changelog shows 3 changes and an empty array when only text was added.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a new collection.
2. Create a new request.
3. Open request and add raw (text) body.
4. Open collection changelog.

Observe
![image](https://user-images.githubusercontent.com/9019878/76876900-a291c000-6898-11ea-82a5-93f33f7ac71b.png)

[2020-03-17 16:19] ankit-m commented on #8187
@karthiks3000 can you check if any other team workspace has some other collection?

[2020-03-17 16:29] karthiks3000 commented on #8187
No this is our only workspace that has a collection. The "Team Workspace" is empty.

![Screen Shot 2020-03-17 at 12 28 03 PM](https://user-images.githubusercontent.com/13357707/76878265-f83f7b80-684a-11ea-87e1-faba7692ff5b.png)

[2020-03-17 16:54] stcalica commented on #8187
Hi @karthiks3000  can you submit a ticket below so we can work through this issue together?
https://www.postman.com/support

[2020-03-17 17:23] karthiks3000 commented on #8187
@stcalica I've submitted a ticket - #48044

[2020-03-17 17:44] ildemartinez commented on #8081
Great!! close the issue

[2020-03-17 17:44] #8081 closed, assigned to appurva21

[2020-03-17 18:49] qubiack commented on #6669
It's happen again....

[2020-03-17 19:34] HodGreeley commented on #7827
I'm also seeing this with v7.20.0 on a Mac.

On a related note, why is inherited auth treated as a temporary header in the first place?

[2020-03-17 19:36] gimlidc commented on #7634
Same issue here - unable to integrate repo from <ec.*>

[2020-03-17 20:12] vvs11 commented on #7702
@marijnhurkens closing the issue for now. Please feel free to reopen this if you're still facing this

[2020-03-17 20:12] #7702 closed, assigned to nobody

[2020-03-17 20:54] vvs11 commented on #8183
@jcald1 we support versioning of collections. Please go through the documentation and see if it satisfies your use case.
https://learning.postman.com/docs/postman/collections/version-control-for-collections/

https://learning.postman.com/docs/postman/design-and-develop-apis/versioning-an-api/

[2020-03-17 21:05] shamasis commented on #7824
Were we able to get more info on why this is happening. Else thinking of closing this issue until more reports around same behaviour occurs.

PS: Upgrade flows may have resulted in incomplete upgrade of underlying modules and could have been generating errors in console and dev tools. If possible, can you look under the hood and send us the logs?

[2020-03-17 21:09] josh-bluewater commented on #3975
Could this be a simple grid-based setting, so "3,6,3" would be left sidebar 3 col width, main area 6 col width, right sidebar 3 col width?

[2020-03-17 22:31] jpzabriskie opened #8190 "Unable to submit pull request against read only collection"
**Describe the bug**
While attempting to submit a pull request against a read only collection I get the following error 'something went wrong, unable to perform this action for pull requests'

after spending some time looking into it I found the following using devtools under the response tab:
{"errors":[{"message":"Unable to perform this action for pull request.","locations":[{"line":2,"column":3

[2020-03-18 01:45] micktion opened #8191 "Use of Environment Variables in raw json body is adding carriage returns"
When using environment variables within the Body of a request with raw JSON, carriage returns are being added to the end of the variable.

Steps to reproduce the behavior:
1. Click the Manage Environments Cog icon
2. On the manage Environments Dialog Click Add
3. Set the Envionment name "EnvBug"
4. Add a variable "IndexPrefix"
5. Set the Initial Value to "my-name"
![image](https://user-images.gith

[2020-03-18 02:06] Anakin-Hao commented on #6215
Any plan to implement this feature?

[2020-03-18 03:15] #8191 closed, assigned to nobody

[2020-03-18 03:16] micktion commented on #8191
My mistake there was actually a carriage return in the variable

[2020-03-18 04:26] kamalaknn commented on #4965
Hey @nikitasius

This should be fixed in the latest version of Postman. I'm attaching a recording of this in the latest version - 7.20.1

![Mar-18-2020 09-55-38](https://user-images.githubusercontent.com/8401064/76925216-b40db300-68fe-11ea-8aa5-18484bc437aa.gif)

[2020-03-18 04:26] #4965 closed, assigned to nobody

[2020-03-18 05:09] kamalaknn commented on #4967
I'm reopening this issue since it is easy to track the fixes for individual issues. We will keep this thread up to date with the status of the fix.

[2020-03-18 05:19] kamalaknn commented on #4758
I am closing this issue. We will be better tracking the issues and fixes at an individual report level.

[2020-03-18 05:19] #4758 closed, assigned to numaanashraf

[2020-03-18 06:16] kamalaknn commented on #3635
Hey folks, this is fixed now.

<img width="1440" alt="Screenshot 2020-03-18 at 11 44 36 AM" src="https://user-images.githubusercontent.com/8401064/76931154-0efad680-690e-11ea-8e8e-e1292efc41c4.png">

[2020-03-18 06:21] kamalaknn commented on #4765
Hey @emanuelthedude

Quick update, this issue is fixed now. In the newer versions of Postman, we take care to ensure that no data is removed from the actual response in any of the response vies.

[2020-03-18 06:30] kamalaknn commented on #4118
Re-opening this to better track this.

[2020-03-18 06:55] v-krishnakishore commented on #5209
Hello Postman Team,

Although the Run in Postman works, now it is not downloading the environment at all. We are not sure when this was broken. Can you please fix the issue ASAP.

As you can see there is an environment called ‘AIMS360 API Environment’ which used to download previously. But it is not downloading anymore now in both chrome and firefox on windows OS.

Please try on our API url https:

[2020-03-18 07:31] followben commented on #3438
Our api docs need to exist as a static site that can be hosted on our own servers (and as a pdf for an internal printed manual) for security and legal reasons. We'd love to be able to use Postman documentation, but presently can't because of this requirement.

[2020-03-18 09:24] ratpik commented on #5209
Hello @v-krishnakishore,

We are working on a fix for this issue and we expect it to be resolved in about 3 weeks from now.

The intermittent fix that we have released allows you to import the collection and environment if your URL length is less than 2046 characters. If it is more than that it will drop the environment and only import the collection. This behavior is for Windows with Chrome/Firef

[2020-03-18 09:49] Shimmi commented on #7634
I did a little dig in. Seems there is a hardcoded pagination to fetch 10 pages each containing 30 repositories. Given this, the Postman really lists only the first 300 repositories.

The pagination mechanism shall be fixed or at least added the ability to specify the repository URL manually.

This is a total blocker for us.
![image](https://user-images.githubusercontent.com/3158339/76947610-2a61e3

[2020-03-18 09:51] morrisond91 commented on #8184
I am getting this issue too

Turning SSL certificate verification off fixes the issue, but this is not a fix for me but more than a work around.

The website certificate was recently replaced with new cert from GlobalSign

![image](https://user-images.githubusercontent.com/35499920/76947705-ee2a8500-68fd-11ea-955e-f521c015d271.png)

[2020-03-18 10:03] ankurdengla commented on #7690
Hey @Nia-STN !
I was able to reproduce the issue that you're facing. In this case, when the response from the server contains a new line in the response, the response is not formatted from that point onwards.

I just created a local server that returned a new as part of the JSON response. Here is the response -
![image](https://user-images.githubusercontent.com/26045713/76948759-81c77a00-692d-11ea

[2020-03-18 10:51] vikiCoder commented on #7992
Hi @bberliner,

I tried to reproduce the problem using locally created OAuth2 server but it worked all well for me.                             Can you please provide logs from your Postman Apps log folder so that we can clearly see what is happening in your case. Please follow the below steps to get the logs needed for this:

1: In Postman App, go to View -> Developer -> View Logs in Finder. It w

[2020-03-18 11:40] aamir-ahmed commented on #7894
@Riya1823 , After generating the access token for the first request, you can add the following Test Script in the Tests Tab for the given request which will set the value of the access token to the environment variable:
[code]
You can go ahead and then access the access token value for the corresponding requests on the Authorization tab by referencing it within the double flower brackets as showca

[2020-03-18 12:04] Nia-STN commented on #7690
Yes!
This is what I concluded, too. We restricted internally the new line in our system, so that this does not happen.
Thank you so much for your dedication and feedback!
You are awesome! Amazing customer service!
Stay safe in this health crisis!
Best Regards,

Best Regards,
Snezhina Kotseva | Implementation Consultant
[cid:image003.png@01D5FD2E.268A2BD0]<https://pros.com/events/outperform-2020/>

[2020-03-18 12:23] #7894 closed, assigned to elssar, ArjunSingh-PM

[2020-03-18 15:55] vikjdk7 commented on #6969
I am also facing this issue since I updated my OS to catalina. Postman version - 7.20.1
Do we have any fix for this ?

[2020-03-18 16:57] kamalaknn commented on #8092
Duplicate of #6760

[2020-03-18 16:57] #8092 closed, assigned to nobody

[2020-03-18 16:59] dcalliste commented on #7859
It seems fix has been release, thank you!

[2020-03-18 18:03] yiantseng opened #8192 "Allow for CSV upload for team invites"
**Is your feature request related to a problem? Please describe.**
There is no way to mass invite a group of people via CSV to a team, similar to how you can mass invite via CSV to a workspace.

**Describe the solution you'd like**
Add an option of uploading a CSV to invite users. This would allow users to join the team without forcing them into a workspace.

**Describe alternatives you've conside

[2020-03-18 18:08] yiantseng opened #8193 "Improve link invites for larger teams"
**Is your feature request related to a problem? Please describe.**
Currently, invite links are limited to 30 users per link before it becomes invalid and there is no warning in-app about this limit.

**Describe the solution you'd like**
Make the limit at least the team size, so that teams with 30+ users can be added to the team with the same link without continuing to generate new ones each time t

[2020-03-18 19:58] DeoMortis commented on #7094
I decided to revisit this issue after a while and I confirm it still persists.
Checked on different PC with latest Postman 7.20.1 version. Windows 8.1 64-bit.

[2020-03-18 20:14] Strongarm1 opened #8194 "Feature Request: When using the CODE feature the authorization should be variables"
Currently if I click the "CODE" on a request it shows the CURL (or other language) to do the call. This includes the hardcoded value for the variables. Including the security variables.

1) Any security variables should be replaces with a placeholder NOT the actual value. This will help increase secure coding.
2) Any variables in Postman should also be variables in the generated code.

[2020-03-18 21:34] jyeros commented on #6757
@preethammavin I agree that it is useful to have all bug and security fixes but if I am using an metered connection I think it should not be downloaded automatically, the updates aren't so big but sometimes there are a few of them and have an impact when use this type of connection.

[2020-03-18 21:38] jyeros commented on #7944
I agree that it is useful to have all bug and security fixes but if I am using an metered connection I think it should not be downloaded automatically, the updates aren't so big but sometimes there are a few of them and have an impact when use this type of connection.

[2020-03-18 22:02] jcald1 commented on #8091
@kamalaknn , If we can wrap the long text names, that may be even better.

[2020-03-18 22:57] frederikheld commented on #7852
Awesome! That was the issue! Nothing but trouble with Wayland :-P So it's an Electron issue?

However, Postman is starting now :-) I got a couple of errors though. Is this of any value for you?

[code]

[2020-03-19 02:06] kevin-postman commented on #7726
@kamalaknn curious as I have never returned responses from API endpoints with escaped text. It seems the \" at the start of the url is removed.. and the last " is removed.. I assume that in this case we should never end a URL line with \, is that the gist of this issue? Not sure if there are other scenarios where a \ would be valid.

[2020-03-19 06:36] vikiCoder commented on #7622
Hi @anishvarma01,

We do not support changing request body through scripts at the moment. A possible workaround for your use case is to use environment variables and keep base64 request body in the a variable. Then decode the base64 string from the environment in the pre-request script and use it as the request body. See the below screenshot for an example:

**Request body:**
![image](https://user

[2020-03-19 06:36] #7622 closed, assigned to vikiCoder

[2020-03-19 07:19] godfrzero commented on #8176
I've been unable to reproduce this issue, both by deleting monitors via the Postman API and via the web Dashboard.

[2020-03-19 07:22] ArjunSingh-PM commented on #8176
@VicKetchup could you please elaborate on the steps you follow that results in a list of monitors that includes deleted monitors?

[2020-03-19 08:55] fess932 opened #8195 "Autosave request in collection after edit"
How easy it is to implement autosave of a query in a collection without using the Ctrl + S ? I always forget to click them and problems arise

[2020-03-19 08:58] oscarlopez1616 opened #8196 "Postman doesn't launch on ubuntu 19.10 on wayland, instead postman canary whether works fine"
**Describe the bug**
Postman doesn't launch on ubuntu 19.10 on wayland, instead postman canary whether works fine

**To Reproduce**
install postman from spancraft for example and open in ubuntu 19.10 over wayland. Postman doesn't start, instead postman canary yes works correctly.

**Expected behavior**
postman should open correctly

**App information (please complete the following information):**

[2020-03-19 09:53] VicKetchup commented on #8176
@godfrzero @ArjunSingh-PM Unfortunately I cannot provide the exact details of how to reproduce this, as I only realised this was an issue by looking at the logs of our Lambda that goes through each monitor. I can provide uids of the monitors have this issue if that would help.

[2020-03-19 09:59] godfrzero commented on #8176
The monitors which continue to show up in the listing response, are they monitors which were deleted via the Postman API? Is it possible that the monitor was paused instead of being deleted?

[2020-03-19 10:08] ahsanfarooq3423 commented on #3331
The way to send mulitpart data which containts a file with the json data is the following, we need to set the content-type of the key fields to '**application/json**' in the postman body tab like the following:

![image](https://user-images.githubusercontent.com/31133118/77055825-6030c600-69f3-11ea-953b-80bd123b8d8a.png)

[2020-03-19 10:20] vikiCoder commented on #7686
Hi @menglingxuan, I was able to reproduce the issue. As you said, it does not get disabled params in pre-request script if the request is sent via runner but it gets disabled params when the same request is sent via requester. We will be fixing the issue soon and update here.

[2020-03-19 10:32] vikiCoder commented on #7822
Hi @pcarrollsbr, I was able to reproduce the problem. We will be fixing this soon. Stay tuned for the updates.

[2020-03-19 10:33] VicKetchup commented on #8176
@godfrzero The monitors were deleted using the web dashboard and cannot be seen anywhere besides the API response. Also a paused monitor would not return
`{
    "error": {
        "name": "instanceNotFoundError",
        "message": "The specified monitor does not exist."
    }
}`

[2020-03-19 10:34] shreys7 commented on #3822
@deepanshu2506 @Arman92 The code generators that you see in postman app are powered by this open source module here:
https://github.com/postmanlabs/postman-code-generators

This module is maintained by postman, and we would really appreciate your contributions.

[2020-03-19 10:49] VicKetchup opened #8197 "Monitor Test Results do not match actual run"
**Describe the bug**
Today our spec website went down causing a test failure and error on every request. It seems like Monitors are not able to handle that amount of failures/errors as the Test Results tab displays only few of the requests that were done (if you look at the logs, all the requests are present there).

**To Reproduce**
Steps to reproduce the behavior:
1. Create a monitor with a test

[2020-03-19 11:01] ArjunSingh-PM commented on #7668
Closing this ticket for now as we have not heard back from the user.

@jjware Feel free to re-open this ticket if you are still experiencing this issue.

[2020-03-19 11:01] #7668 closed, assigned to godfrzero, ArjunSingh-PM

[2020-03-19 11:34] dirkesquire commented on #7537
I think the values should be stored on the Workspace, Collection or Request, just like the Authorization Bearer token is specific to the Workspace, Collection and Request.

[2020-03-19 11:50] shivam-postman commented on #6850
Hey @VicKetchup, are you still facing the issue? I tried reproducing it with the collection you provided earlier and one of my own, but the URL seems correct on the monitoring logs.

[2020-03-19 12:08] ArjunSingh-PM commented on #7352
@wiggisser @wisteso Are you still experiencing this issue?

[2020-03-19 12:12] wiggisser commented on #7352
No. Did not occur since ...

[2020-03-19 12:34] abhijitkane commented on #7634
@Shimmi We're prioritising this - I'll let you know as soon as we have an update.

[2020-03-19 12:39] ArjunSingh-PM commented on #7352
Thanks for the confirmation.

[2020-03-19 12:39] #7352 closed, assigned to elssar, ArjunSingh-PM

[2020-03-19 12:45] VicKetchup commented on #6850
Hi @shivam-postman it is still an issue on our Monitors, will check if I can reproduce on the one previously provided.

[2020-03-19 12:46] godfrzero commented on #8197
@VicKetchup Are the results displayed on the monitoring dashboard accurate? I'm trying to isolate the scope of the problem.

[2020-03-19 12:51] VicKetchup commented on #6850
Just ran the previously shared collection Monitor and got the issue:
![image](https://user-images.githubusercontent.com/43671684/77069454-5c477880-69e0-11ea-86d2-3ea7253c0484.png)

[2020-03-19 12:53] abhijitkane commented on #6007
@chrisdeso Can you provide more context on desired behaviour here?

[2020-03-19 13:02] shivam-postman commented on #6850
Ah, the URL is wrong in the test results for me too. I was checking the console log earlier. We'll look into it and get back soon 👍

[2020-03-19 13:03] VicKetchup commented on #8197
@godfrzero No, on the monitoring dashboards only a couple of requests are shown, for the Slack integration shown above, we only had 4 requests displayed:
![image](https://user-images.githubusercontent.com/43671684/77070380-0378df80-69e2-11ea-91f4-b63be8fa8dca.png)

[2020-03-19 13:12] godfrzero commented on #7320
Closing as this should be fixed now. Feel free to reopen it if the issue recurs.

[2020-03-19 13:12] #7320 closed, assigned to godfrzero, charlie-postman

[2020-03-19 13:32] pythoneer commented on #2985
looks like even the workaround from @Axzc does not work anymore in  7.20.1

[2020-03-19 14:27] arlemi opened #8198 "High GPU usage when running several Collection Runners"
Reporting on behalf of a user: https://twitter.com/MarioHachemer/status/1240593611777093633

**Describe the bug**
The Collection Runner consumes a lot of GPU resources.

**To Reproduce**
Steps to reproduce the behavior:
1. Run 4 collection runners in parallel
2. Check the Task Manager

**Expected behavior**
Collection Runner could be taking less computing resources.

**Screenshots**
![ETd5TtrWoAA9

[2020-03-19 14:48] sivcan commented on #7535
Is this still an active issue, since this was filed in 2019?

@JavaPioneer I'll be closing this, in case it's still an issue then please let us know or write to us at help@postman.com in-case you aren't receiving the reset password email.

Thanks!

[2020-03-19 14:48] #7535 closed, assigned to elssar, sivcan, ArjunSingh-PM

[2020-03-19 15:27] Roritharr commented on #8198
More Details on the Machine and Postman Version:
![image](https://user-images.githubusercontent.com/561299/77083876-75f7b880-69fe-11ea-9687-b47436545573.png)

[2020-03-19 18:31] arbtfnf commented on #2302
GSoC 2020,
I am interested to work on this feature, Can you introduce me in getting started and start contribution.
IRC channel?

[2020-03-19 18:33] JP-from-Postman commented on #5814
@ankitjaggi @Ghusar just received another report of this on 7.20.1. Let me know where you'd like logs, etc, shared.

[2020-03-19 20:05] skplunkerin commented on #7373
I completely agree with @marchy, I really need to add some basic logic in here. Handlebars doesn't allow inline logic, only registered helpers

[2020-03-19 20:33] skplunkerin commented on #7373
Here's a (really bad) work-around I'm doing since Helpers aren't available.

**Display my timezone as a hover "title" attribute on the UTC timestamp field:**

[code]

[2020-03-19 20:46] JP-from-Postman opened #8199 "Order of query parameters in app doesn't match order on docs page"
**Describe the bug**
User reported that query parameters have a different order in-app than on the docs page for the Collection.

**To Reproduce**
Steps to reproduce the behavior:
_Support not able to reproduce_

**Expected behavior**
The order of query parameters matches what is shown in the app.

**App information (please complete the following information):**
 - App Type: Native app, docs page

[2020-03-19 21:02] codenirvana commented on #7696
@orShapira Postman scripts don't support promises or async/await well and we are tracking this feature request here: https://github.com/postmanlabs/postman-app-support/issues/4131

However, as a workaround, you can just add 1-2 sec timeout (`setTimeout(()=>{}, 2000)`) at the end of the script to force the postman-sandbox to wait for the script execution to complete.

Closing as duplicate of #4131

[2020-03-19 21:02] #7696 closed, assigned to codenirvana

[2020-03-19 21:22] codenirvana commented on #8184
@mzarify This is probably because of the proxy setup.
Check if turning off the global and system proxy from settings fixes this issue?

[2020-03-19 22:25] bwinchester commented on #6681
I really, really, really need some way of sharing published API docs to private clients. What is the sales pitch or value of this service for B2B customers if I cant share my private app API to clients? Most software is not consumer-based or wanted to be public-facing. Please allow private access that doesn't hit your team member cost subscription, or save as static assets for me to deploy on my o

[2020-03-19 22:27] zachheine commented on #6681
+1m

On Thu, Mar 19, 2020 at 3:26 PM Brandon Winchester <notifications@github.com>
wrote:

--

Zachary R. Heineman
zach.is

[2020-03-20 00:30] jcald1 opened #8200 "Postman Canary: Unable to Edit Path Parameters Descripion"
I'm running Version 7.21.0-canary04 (7.21.0-canary04) on Mac OS.

I'm trying to edit a collection's path variable's.  I can't edit the value or description.  The typed characters don't appear in the text boxes.  I can edit the Key.  The collection was previously created with the regular version of Postman.

I can click Bulk Edit and edit the values, but I'm not sure how to enter in the Description