[2018-05-23 10:58] cbarrerah-sogeti commented on #4591
Confirmed, it's recognized as a JSON type:
![image](https://user-images.githubusercontent.com/24520879/40420501-eed46a74-5e88-11e8-9e22-1155905d6a33.png)

[2018-05-23 11:20] jkonert commented on #4578
same experience with 6.1.0-canary06 and 6.1.2  (win64). Downgrade to 6.0.10 works.

[2018-05-23 11:28] gianisegatto commented on #4079
+1

[2018-05-23 13:20] vkaegis commented on #4590
@dbodow Thanks for the feedback! Definitely understand the need for better visual differentiation between your work environments. We'll be taking this up as a feature request in the coming builds.

[2018-05-23 13:30] vkaegis commented on #4589
Hey @gfigueroa, thanks for writing in! I can't seem to reproduce this bug on v6.1.2. Can you attach a screenshot of your app state? This will help us identify the problem. Could you also check if your Sync icon is orange?

<img width="1001" alt="screenshot 2018-05-23 18 57 38" src="https://user-images.githubusercontent.com/6038010/40427486-7868d6a8-5ebb-11e8-9682-548d07f45faf.png">

[2018-05-23 13:32] vkaegis commented on #4588
@christianbaumann Thanks for reporting this! I could reproduce this on my end, we'll take a look and update this thread.

[2018-05-23 13:38] vkaegis commented on #4585
@GeoKnR @Beera819 Thanks for reporting this! We're aware of performance issues around large requests and are working on some improvements. We'll let you know as soon as we have an ETA on this,

[2018-05-23 13:39] kamalaknn commented on #4587
Hi @CianLMcCormack

The error logs that you are seeing are warnings from unrelated flows. These are non critical to any workflow. We'll clean them up in upcoming releases.

Our Sync and connectivity are handled in a shared process common to all windows. Could you send logs for that process (View -> Developer -> Show DevTools(Shared)) so we can take a closer look at whats happening?

[2018-05-23 13:40] harryi3t commented on #4588
@christianbaumann Data files are not supposed to be imported but instead are used when running a collection.
![image](https://user-images.githubusercontent.com/5207331/40427973-d65ea2c8-5ebc-11e8-896f-a066ab76f6ba.png)

We will update our docs to remove this confusion

[2018-05-23 14:38] ocarinaoftom opened #4592 "Clicking the Browse tab in Postman 6.1.2 causes disconnect from sync service"
Recently updated to 6.1.2 (Windows Native App, running on Windows 10, Chrome 66.0.3359.181). Trying to click the Browse button in the bottom right of the Postman window causes Postman to disconnect from the Sync service.
![postmanbrowsebutton](https://user-images.githubusercontent.com/28112838/40429754-6c1dcdda-5e71-11e8-9268-2bb1fbac3925.png)

DevTools(Shared) shows the following error:

Steps to

[2018-05-23 14:39] hIUG commented on #3525
Will this be resolved? I'm also trying to set a dynamic name on the token depending on an environment variable ({{name}})

[2018-05-23 14:53] m-stilling commented on #2716
@madebysid @vkaegis Can we have an update on this? :)

[2018-05-23 15:07] harryi3t commented on #4374
@Beera819 Does your system proxy requires authentication, coz that is not supported yet and can cause issues.

[2018-05-23 15:42] virmundi commented on #3653
Same for me. Fonts look great now.

[2018-05-23 15:57] twilco commented on #2729
This seems like a pretty big oversight...

For anyone struggling with this, use https://insomnia.rest/ instead.

[2018-05-23 17:33] cesardl commented on #4262
I have the same problem right now with Postman `6.1.2` 64 bits on Windows 8.1. I saw that 3 windows process launched on postman startup and mouse cursor show an loader as if to my machine is making a job on background and the app never starts.

[2018-05-23 17:45] carlosabs commented on #4359
Same problem here. Using Ubuntu with openbox.

[2018-05-23 18:20] cesardl commented on #4578
I have the same problem right now with Postman 6.1.2 64 bits on Windows 8.1. I saw that 3 windows process launched on postman startup and mouse cursor show an loader as if to my machine is making a job on background and the app never starts.

[2018-05-23 20:27] Nickwwest commented on #3130
As of 6.1.2:
* "Duplicate" in the list on the left doesn't actually duplicate.  For some it fails to copy the URL and the Headers
* Right clicking on a tab should present the option "Clone" (like in chrome) instead of duplicate so we aren't calling two different things by the same name in a very similar context.

[2018-05-23 22:40] Zephyr1990 opened #4593 "Collection monitoring stops after few requests (requests are groupped in folders)"
Please read through the [guidelines](https://github.com/postmanlabs/postman-app-support#guidelines-for-reporting-issues) before creating a new issue.

**Describe the bug**
When I am creating a monitor for my collection only few first requests (from a first folder) are being processed

**Additional context**
I have an extended collection (testing all API flows in my app). When I try to create a mon

[2018-05-23 22:59] jebgarcia commented on #1535
+1

[2018-05-23 23:38] ghost commented on #4581
I can verify the bug exists in Postman for Linux v6.1.2 running linux 4.15.0-22-generic / x64 (Ubuntu 18.04). I started with a complete new install (removed all data from ~/config/Postman). A clean install of v6.0.10 stores secure cookies as expected).

[2018-05-24 00:34] JaggedJax opened #4594 "Postman will no longer load as of 6.1.2 (GPU issue)"
This is on Windows 8.1 Pro. After updating to Postman 6.1.2 the standalone Windows app will no longer launch fully. I have tried to uninstall and re-install and the same issue persists.

The application window opens but the main content never loads. The File menu does start working after about 15 seconds, but selecting anything that affects the UI in the window or opens a new Postman window just l

[2018-05-24 00:43] oliverm2112 opened #4595 "Postman for Linux Version 6.1.2 forgets scaling"
**Describe the bug**
Postman for Linux Version 6.1.2 forgets scaling between app launches

**To Reproduce**
Steps to reproduce the behavior:
1. Open app
2. Scale up or down using CTRL+ or CTRL-
3. Exit app
4. Re-open app; scaling back to default

**Expected behavior**
Remember scaling between sessions, per previous versions

**App information**
 - App Type: Native App for Linux
 - Version 6.1.2
 -

[2018-05-24 02:45] lysov commented on #1744
+1

[2018-05-24 03:23] juanfestrada commented on #3691
I getting the same error, I am not able to copy from output, in my HP Envy Windows 10 Home Single, Release 1803

My Postman version is: `You are up to date! Postman v6.1.2 is the latest version.`

[2018-05-24 04:29] sivcan commented on #4368
@nickm8 @mattdeluco We have a released a fix for this issue on our canary channel.
Can you guys try it out if it fixes the issue for you?
https://www.getpostman.com/canary

Canary builds can run alongside the main Postman app and won't affect your settings / data.

[2018-05-24 04:30] sivcan commented on #4583
@BorysFursov  We have a released a fix for this issue on our canary channel.
https://www.getpostman.com/canary

Canary builds can run alongside the main Postman app and won't affect your settings/data.

[2018-05-24 04:30] sivcan commented on #3916
@sanvipy We have a released a fix for this issue on our canary channel.
Can you try it out if it fixes the issue for you?
https://www.getpostman.com/canary

Canary builds can run alongside the main Postman app and won't affect your settings/data.

[2018-05-24 06:04] sivcan commented on #4575
@jesseckwon @robertkuhar We've released a fix for this on our canary channel.
Can you try it out and check if it solves the issue for you?

https://www.getpostman.com/canary

Canary builds run alongside the main postman app, they won't affect your settings/data.

[2018-05-24 06:06] sivcan commented on #4595
@oliverm2112 We're aware of this issue and have fixed this internally.
I'll update the thread once it has been released.

[2018-05-24 06:07] sivcan commented on #4595
Duplicate of https://github.com/postmanlabs/postman-app-support/issues/4586

[2018-05-24 06:07] #4595 closed, assigned to nobody

[2018-05-24 06:19] harryi3t commented on #4594
**UPDATE**: v.6.1.3 has been released which addresses this issue.  Download it from https://www.getpostman.com/apps and follow the steps below instead of using the canary build.

@JaggedJax We are tracking a known issue where Postman doesn’t launch with certain GPUs - we are investigating this at the moment and exploring possible fixes. In the meantime, please use the disable-gpu flag to continue

[2018-05-24 07:38] harryi3t commented on #4578
@thoward333 @carloshml @sbervinov @MG-CDS @jkonert @cesardl
This might be an issue with the GPU.
Can you try opening the app with `--disable-gpu` flag
[code]

If this works, it confirms that the issue is with the GPU.
For this, we have added a workaround in our latest canary build. You just need to add an environment variable `POSTMAN_DISABLE_GPU=true`
Detailed steps can be found here https://gith

[2018-05-24 08:29] zpq2004 commented on #3977
I am experiencing the same behavior described by @jmatelet on:
Postman for Mac
Version 6.0.10
macOS High Sierra version 10.13.3

[2018-05-24 10:06] PierreProdel opened #4596 "Weird behavior on empty params between native and chrome apps"
Hello,

I have a POST API requiring a "file" param containing data and while testing the empty param case.
I realized my API returns two different error codes:

- 415 for the native app (which is unexpected)
- 400 with error message "file cannot be empty" with the chrome app (expected behaviour)

Clicking the "code" button generates the same code for both native and chrome app and generates someth

[2018-05-24 10:44] tmsajin commented on #2352
I had the same issue and got a solution for me.
It seems mcAfee blocked something.
Please try if it work for you.
1) Right click and take properties of the exe file.
2) Click "Unblock" button , close properties box.
3) Run .exe again.

[2018-05-24 11:16] EoghanH opened #4597 "Postman stalling/freezing on open on fresh Windows Install"
OS: Windows 10, Fresh install

**Describe the bug**
Following installation, Postman will freeze on launch.

**To Reproduce**
Steps to reproduce the behavior:
1. Download any up-to-date version of Postman 6.0.10 (x86 OR x64)
2. Install at any privilege level (Admin or Standard)
3. Postman installs, then opens 4 processes, and freezes on the loading screen, without any actual graphics (i.e: 'moving

[2018-05-24 11:19] naomiwu1 commented on #1066
+1

[2018-05-24 11:33] sivcan commented on #4597
Your issue looks similar to https://github.com/postmanlabs/postman-app-support/issues/4594#issuecomment-391601621

Can you check try the solution provided by @harryi3t with the latest canary build?
You can download the canary build from here: https://getpostman.com/canary

[2018-05-24 11:44] EoghanH commented on #4597
Hey Sivcan,

Perfect - the canary build is running without issue for me. Many thanks.

On Thu, May 24, 2018 at 12:33 PM, Sivcan Singh <notifications@github.com>
wrote:

[2018-05-24 13:44] oliverm2112 commented on #1066
Just passed 2-year anniversary on this one. Wow...

[2018-05-24 14:08] archana-acharya commented on #4581
I have the same issue in windows 64 bit. I have to make a clean install of v 6.0.10. Any update on the issue?

[2018-05-24 15:16] #4597 closed, assigned to nobody

[2018-05-24 16:00] erodewald opened #4598 "Imported Swagger 2.0 YAML uses the wrong path variable syntax"
**Describe the bug**
When importing a swagger 2.0 spec in YAML format, the path variables are using the `:variable` syntax instead of `{{variable}}`, preventing them from being parsed as variables by the Postman client.

**To Reproduce**
Steps to reproduce the behavior:
1. Use swagger 2.0 yaml spec
2. Click Import
3. Select yaml file
4. Import successfully
5. View request with path variable, see i

[2018-05-24 16:33] gfigueroa commented on #4589
Hi Vineet,
Thanks for your reply. The Sync icon is orange. I can save tabs with different names if they have been duplicated, but I cannot save new ones.
Below is a more detailed reproduction:

1. Click New Request
![image](https://user-images.githubusercontent.com/1941240/40892430-49f34cb2-6754-11e8-8570-89f8b2f81e3b.png)

2. Enter URL and other request information
![image](https://user-images.gi

[2018-05-24 19:07] rvs1974 opened #4599 "Feed data from xml files to postman"
I want to run the same request multiple times, each time using data from a different xml file.

One way is to create a collection and use a data file. But i would have to pull the data from each sample xml file into that one data file under the {{value}} properties.
{
  "path": "cancellations",
  "value": "blah blah blah"
},
{
  "path": "cancellations",
  "value": "yada yada yada"
},

Each file is

[2018-05-24 19:36] samreenadil opened #4600 "Extensive integration test"
Hi Postman people,

First of all Thanks a bunch for developing this amazing tool, We have Postman PRO in our organization and the requirement I have is to automate all manual integration tests for a web based application.

I have basic knowledge about postman however I have doubts as what tests to write to validate the front end things.
Example: testing the authenticate API which is a POST request

[2018-05-24 20:53] tinghf commented on #2392
if it's not going to be fixed, just close it and let people have closure at least?
if it's going to be fixed, either just fix it already or share the plan with the community (timeline?).

What's the point of leaving a simple request like this in open state and no plan to fix it in the future anyway?

[2018-05-24 22:20] JaggedJax commented on #4594
This is working with that workaround. Additionally I saw that the latest on the website is now 6.0.10 and I can confirm that version works without the `--disable-gpu` flag as well.

If it's useful my GPU is an Intel HD Graphics 4000. The driver for it is super old (from October 21, 2013)

[2018-05-24 22:36] lexon commented on #6683
If you want the response exactly the same, why not string comparing them or hashing? What’s the point of a deep comparison, which is more heavy than a string check?

[2018-05-24 23:21] wangeugene commented on #3434
Hey! noob here. Could you tell me where did you get the .key file, and . crt file for importing certificate into
postman? I really want to know, thanks

[2018-05-24 23:35] lisagrady commented on #3434
@sail456852 - I haven't tested this in a while, but last time I tested I just created a self-signed certificate which you can do using something like keytool (https://docs.oracle.com/javase/1.5.0/docs/tooldocs/solaris/keytool.html).

Otherwise, you can request a "real" certificate from a Certificate Authority.

Then, I converted the pfx into a separate key file. I used the steps from this URL as g

[2018-05-25 03:52] uvarajkrishna commented on #4559
Hi,
Do we have any update on this issue?
As an alternative i have been using Insomnia. But i couldn't do lot of stuffs. So i wrote testNG suites with Rest-Assured.

[2018-05-25 04:52] nickm8 commented on #4368
I tried with the canary version but it still failed to use Data from my datafile after clicking retry.
I will note that the UI for the runner seemed faster compared to the current version.

[2018-05-25 06:11] parthjmistry commented on #1535
+1

[2018-05-25 07:13] K232 opened #4601 "Show monitoring result for the last days"
**Is your feature request related to a problem? Please describe.**
On the website monitor tab, I could select timeframe "Last 24 hours", "Last 7 days" and "Last 30 days". Unfortunately it only shows one single row for the selected period. But I want to compare e.g. times my APIs took for the last days to find out whether today it's slower than last week.

**Describe the solution you'd like**
When

[2018-05-25 08:29] harryi3t commented on #4549
@jesperhoy You are getting 404 coz the endpoint is invalid. Either use `http://postman-echo.com/get` with request type `GET` or use `http://postman-echo.com/put` with request type `PUT`
Here's a screenshot showing the response using correct endpoint

![postman](https://user-images.githubusercontent.com/5207331/40534471-c31d7564-6023-11e8-9634-4086133e8e32.png)

[2018-05-25 08:32] #4529 closed, assigned to nobody

[2018-05-25 08:43] lkumar001 commented on #4566
Dear Sir/Madam
Kindly advise if there is any feedback regarding this request. Thank you

[2018-05-25 08:55] #4410 closed, assigned to harryi3t

[2018-05-25 09:10] sanvipy commented on #3916
Thanks @sivcan .. Looks good in the latest canary version

[2018-05-25 09:34] Ghusar commented on #4598
Hi @erodewald,

The current postman importers transform the path variables in the colon (:) based syntax and do not convert the path variables into native postman variables.

We are currently working on revamping the suite of the postman importers where we will include better usage of the native postman variables when a specification is imported.

[2018-05-25 09:42] connelhooley opened #4602 "Postman native app keeps failing to open"
**Describe the bug**
Postman keeps failing to open. The issue appears intermittent. Sometimes the splash screen comes up. Sometimes not even that appears. If I try and open Postman several times, then I can see several Postman instances running in the background inside Task Manager. I then kill all of the Postman processes and sometimes it begins to work again for a little while, it then regresses

[2018-05-25 09:55] connelhooley commented on #4602
Just tried opening from the command line. I get the message:
`Shared window not present`

I then went back to Task Manager and killed all instances of Postman.

I then tried again from the command line and got this error. This time the app stopped during the splash screen:
[code]

[2018-05-25 12:58] harryi3t commented on #4602
@connelhooley Can you try our latest canary build and follow the steps mentioned here
https://github.com/postmanlabs/postman-app-support/issues/4594#issuecomment-391601621

[2018-05-25 13:09] harryi3t commented on #4523
@cbarrerah-sogeti Is this regarding Postman app or Newman?
 If this is about the Postman app, then you can just use one of the variables (local, environment, collection or global) depending on the use case.
 If this is about Newman then you should open a github issue here https://github.com/postmanlabs/newman/issues

[2018-05-25 13:20] cbarrerah-sogeti commented on #4523
Hi,
i'm referring to Postman. What i am trying to do is generate a JSON with some info from one request response, and i want to use this json as the datasource for a collection runner run.

Ideally that will end up as an automated run using newman, but neither of the workflows i present are posible right now without me running the "JSON generating" collection, going to the console, copying the out

[2018-05-25 17:24] jackvial commented on #4043
Had the same problem. Was posting to http instead of https.

[2018-05-25 17:28] euoia commented on #3623
I am also experiencing this bug using Version 6.0.10 (6.0.10).

[2018-05-25 17:34] mselitrin commented on #1757
postman.setNextRequest(null); is what you're looking for.

[2018-05-25 17:42] harryi3t commented on #4594
This workaround is available in latest version of Postman 6.1.3
@JaggedJax Thanks for the confirmation of the fix 👍

[2018-05-25 18:07] JaggedJax commented on #4594
I can confirm that the environmental variable is working in 6.1.3

[2018-05-25 18:58] rodriguise commented on #2617
New convert dies on complex specs.

[2018-05-25 19:56] tudorgeorgescu opened #4603 "Setting up CORS headers for mock server"
## App Details:

[code]

I am trying to setup a mock server to be able to test my Single page app also without the API server running, but the browser fails to pass the CORS checks, although I created a mock for the OPTIONS call and included all Access-Control-Allow-* headers in the Example for the mock.
When checking the actual response the browser gets, I can see that the Headers were not sent a

[2018-05-25 19:57] dpiechota commented on #1180
+1

[2018-05-25 21:06] jesperhoy commented on #4549
This issue is about the actual raw bytes sent out by the Postman app. When the request bytes are captured (as shown in my earlier post) it clearly shows that international characters are NOT percent-encoded.

Please don't dismiss this because that echo function tells you something else - that is NOT what actually happens - at least not here.

[2018-05-25 21:13] vkaegis commented on #2716
Hey guys! Apologies for the long delay on an update. We've been waiting on some restructuring to be able to accommodate this. We're finally taking a closer look at the entire request tab UI for the upcoming release and hope to allow collapsible panes (as suggested by @mastermind3043) soon after. Will keep you updated!

[2018-05-25 21:15] vkaegis commented on #3653
Great to hear! Let us know if you find any other issues around this. Going forward, we want to make much of the UI as customizable as possible, giving you greater flexibility around individual font sizes. No ETA on this just yet, but stay tuned!

[2018-05-25 21:15] #3653 closed, assigned to prashantagarwal, vkaegis

[2018-05-25 21:29] vkaegis commented on #4589
Hey @gfigueroa, still unable to reproduce this. Some screenshots would really help here. Does the error appear when you click Save or when you select the collection in the Save dialogue?

[2018-05-25 21:42] vkaegis commented on #2392
Hey guys, quick clarification here, we do have a plan to separate out scripts into individual units that can be enabled / disabled. We do not yet have an ETA on this though. We definitely understand the gravity of this use case, but just want to make sure that our implementation around this will solve not just this problem but several others around how events are structured in the Postman runtime.

[2018-05-25 23:14] crazy-max commented on #4006
Have you tried this alternative : https://portapps.github.io/app/postman-portable/ ?

[2018-05-26 01:36] oliverm2112 commented on #4586
Seems fixed in 6.1.3

[2018-05-26 08:14] jghaanstra commented on #4006
Thanx @crazy-max , seems to work perfectly.

[2018-05-26 12:35] mark-orion opened #4604 "Proper JSON editor and validator for request body."
**Is your feature request related to a problem? Please describe.**
I am annoyed that when testing an API it often fails because Postman throws out non-printable characters (tabs, newlines) that mess up the JSON body of a POST request.

**Describe the solution you'd like**
1. Highlight all non-printable characters.
2. Use a similar design than the one for the response viewer for the request body:
P

[2018-05-26 15:49] siryur opened #4605 "Postman after update to 6.3.1 freeze loading"
**Description**
After initialization, through UI or console (does not matter, because no errors are shown on both), the postman goes in a forever loading loop.
I tried to find any errors but nothing is shown except for the "Show DevToll (in current view)"

**To Reproduce**
There is no specific step to reproduce, because I've only updated the postman to the newest version.

**Expected behavior**
Po

[2018-05-26 18:25] bundyfx commented on #2801
+1

[2018-05-27 05:41] ghost commented on #4605
Yes, I've also met with the same problem——The UI will be in the state of loading for quite a long time (about 5~10 minutes) each time.  The UI is frozen:(

I'm running on the Win 8.1 SP1 (Simplified Chinese，x86).

Here's the screenshot after opening it, it still stays in frozen window....
![default](https://user-images.githubusercontent.com/6959154/40582887-cb3aa7c0-61b4-11e8-80c9-b4a11f71df60.png

[2018-05-27 06:53] ilyaskhametov commented on #4605
I experience the same problem after update. I also tried to reinstall Postman app, no luck. Have empty scree n with a spinner appearing each second near to the mouse pointer. Windows 8.1, Postman 6.3.1. Any help?
![image](https://user-images.githubusercontent.com/19661877/40583267-f67f7a76-61ac-11e8-8d18-391cbd4196e5.png)

[2018-05-27 12:42] tvvignesh commented on #2931
+1 for the Postman Snap Package

[2018-05-27 15:13] AlmogCohen commented on #3104
@prashantagarwal I'm experiencing the exact same issue on OSX with version 6.1.3 :(

1. Cookies where present in the Cookie Manager
2. I've deleted the JSESSIONID manually
3. Now it is not being set again even with the Set-Cookie header
4. Also, adding the cookie manually doesn't work.

What would you recommend doing? reopening an issue?

[2018-05-27 17:50] gustafl commented on #2256
I'm on Windows 8.1, and just encountered this problem too after updating to version 6.1.3.  Uninstalled, removed the Postman folder in `AppData`, downloaded the latest version again, but still the same. Running it from the console gives no clue:

    C:\Users\Gustaf\AppData\Local\Postman\app-6.1.3>
    ORM initialization successful
    App events bus { name: 'booted', namespace: 'shared' }
    App

[2018-05-27 19:49] RandomDude777 commented on #4605
Yep also getting this win 8.1

[2018-05-28 01:02] gfigueroa commented on #4589
Hi Vineet,
Did you not receive the screenshots attached directly to the instructions (as inline images) in the previous email? It appears first when you select the collection in the Save dialogue. Then it appears any time I click Save on that same tab.
Gerardo
    On Friday, May 25, 2018, 3:29:24 PM CST, Vineet Kumar <notifications@github.com> wrote:

Hey @gfigueroa, still unable to reproduce this

[2018-05-28 02:53] SavageDan commented on #3897
Tried to install and ran into OP's problem. Adding a note that it just tried to install to my gitkraken folder for some reason, and then the system rejected it. So I can't use the postman application on my computer.

[2018-05-28 04:20] ykhodos commented on #697
+1

[2018-05-28 06:14] sankalp0o commented on #4601
Thanks for the feedback @K232!
For comparing individual runs, you can click on the monitor where you'll be able to see and compare all the past runs and see general trends like slower response times. We understand the need to compare day/week summaries. We're looking into building a better reporting system that can solve use cases similar to yours.

[2018-05-28 06:39] vikasInfo commented on #3910
![image](https://user-images.githubusercontent.com/38036767/40600636-d73fc5c6-626f-11e8-949a-fe4f63527d7b.png)

i am not able to select get or post method here.

[2018-05-28 06:59] GodelMachine commented on #3228
@kamalaknn Hi Kamal, I am facing the same problem as @chisumo2016 above. When the SSL verification is turned ON, I get @chisumo2016 screen. But when the SSL verification is disabled, I get this -

![postman github](https://user-images.githubusercontent.com/17872895/40601431-cd4beede-6272-11e8-81bc-daa1f648e539.PNG)

I am doing this on Windows.
Kindly advise. Thanks.

[2018-05-28 07:23] nissim-kurle commented on #4562
Same issues. Event log .
App events bus { name: 'booted', namespace: 'shared' }
App events bus { data: {}, name: 'booted', namespace: 'requester' }

[2018-05-28 07:29] jesseckwon commented on #4575
Now, I can use it.
Thank you.

Postman v6.1.3
OS: Windows10 Pro

[2018-05-28 07:29] #4575 closed, assigned to sivcan

[2018-05-28 07:31] nissim-kurle commented on #4374
Happened with me on 6.1.2 this is the log when i try to open it on command line . I do not want to delete the app data since a lot of work is not saved. Is there a workaround ? Tried downloading 6.1.3, but does not work as well.
ORM initialization successful
App events bus { name: 'booted', namespace: 'shared' }
App events bus { data: {}, name: 'booted', namespace: 'requester' }
I am on Ubuntu 16.

[2018-05-28 07:54] hyxppz commented on #4387
Me too. Somebody Help please.

windows
v6.0.10  to v6.1.3

[2018-05-28 10:32] Matriz88 commented on #4605
Same here, on win 8.1

If I try to open directly from command line (as suggested [here](https://support.getpostman.com/hc/en-us/articles/115005901149-My-Postman-app-won-t-start)) I get a lot of these logs:

`[20260:0528/122727.995:ERROR:gles2_cmd_decoder.cc(9709)] [.DisplayCompositor-000000A96CBEF290]RENDER WARNING: texture bound to texture unit 0 is not renderable.
 It maybe non-power-of-2 and ha

[2018-05-28 11:15] cmm268 opened #4606 "Header Value to Sent to Server"
Please read through the [guidelines](https://github.com/postmanlabs/postman-app-support#guidelines-for-reporting-issues) before creating a new issue.

**Describe the bug**
After updating to 6.3.1, an updated header value is no longer sent to the server on a subsequent request.

**To Reproduce**
Steps to reproduce the behavior:
1. Set method to GET and x-csrf-token value to Fetch
2. Click on Submit

[2018-05-28 11:56] christianbaumann commented on #798
+1

[2018-05-28 12:15] fracalo commented on #3783
I experienced the same problem and the issue was caused by postman not finding a correct monospace font.
To check if your `monospace` font is correctly aliased on arch  control what  `fc-match monospace` is referencing,
if it points to some non-monospace font that is the  reason you get a misaligned textarea in the UI.

To fix this you'll need to modify `etc/fonts/local.conf`.
as an example this i

[2018-05-28 14:02] ingenuity2k commented on #1647
Sorry for the late reply. Just tried and it works like a charm. Thanks for taking the time to help out @stephenmcd1 !

[2018-05-28 14:59] johnmckay-reward commented on #383
+1 I would find this really useful! Thanks!

[2018-05-28 15:27] mortik commented on #1669
Insomnia is a very good Tool but it lacks a very important feature for me: Tests :) which can also be used to update env vars ^^ and to run complete Collections.

For me it would be enough, as a first step, to have a way to write multiline queries and without a js workaround...

[2018-05-28 17:25] jormaechea commented on #4359
Updated today and it's broken again.
Last time I fixed it by removing config files.

Any update on this issue?
I'll wait a couple days before removing it again.

[code]

**More info**
If i run `sudo su` and then run `postman` it works just fine. So it's definitely something about per user configs.

**UPDATE**
I started playing with config files. Moved the following files and tried to launch postma

[2018-05-28 17:39] sivcan commented on #4368
@nickm8 Retrying one is a separate issue and you can track it here: https://github.com/postmanlabs/postman-app-support/issues/4287

And yes, major performance optimizations have been done with load times of the app. :)

Closing this issue.

[2018-05-28 17:39] #4368 closed, assigned to sivcan

[2018-05-28 17:46] kissgyorgy commented on #3098
Same for me with 6.1.3 "You can only use your Security Keys with Google Chrome"

[2018-05-28 19:32] aleksey-nudelman commented on #4079
+1

[2018-05-28 22:53] CorwinNewall opened #4607 "Disabled Variables Reported as Duplicate Keys in Bulk Edit Mode"
**Description**
When multiple variables are specified with the same keys, the Bulk Edit window still reports 'Duplicate Keys' even if all but one is disabled.

**To Reproduce**
Steps to reproduce the behavior:
1. Click [\+ New] > Collection
2. Click on Variables tab
3. Add a key-value of test 1234
4. Add another key-value of test 1234
5. Observe "Duplicate Key" warning
6. Disable one of the duplic

[2018-05-28 22:57] jemerald commented on #4602
@harryi3t the workaround to disable GPU fixes the issue for me. But is there going to be a permanent fix coming soon?

[2018-05-28 22:58] jemerald commented on #4605
There is a work around discussed here, fixed my problem.
https://github.com/postmanlabs/postman-app-support/issues/4594#issuecomment-391601621

[2018-05-29 00:58] windupurnomo opened #4608 "Targeted Request in postman.setNextRequest() can't set Environment Variables"
I use `postman.setNextRequest("login")` to call login request. Inside login test I set environment variables from token login response. It's not work. Login testing is success, but environment variable token not exists.

_Pre Request Script in Collection:_
[code]

_Test Script in login request:_
[code]

[2018-05-29 01:59] terrencewei commented on #4581
I had noticed postman release version 6.1.3, but seems not fixing this bug yet?

[2018-05-29 04:32] sivcan commented on #4605
@siryur @RandomDude777 @MaleDong @Matriz88 @ilyaskhametov
The issue is related to Nvidia GPU's being used in some windows machines.
As mentioned by @jemerald, kindly follow this https://github.com/postmanlabs/postman-app-support/issues/4594#issuecomment-391601621 as mentioned by @harryi3t
We've released this fix with the 6.1.3 version so you wouldn't be needing the canary build.

In short,
Since y

[2018-05-29 04:45] sivcan commented on #4608
@windupurnomo Couple of questions:
1. Which Postman version are you using and what OS?
2. Is 'Persist Variables' checkbox enabled before running the request?
3. Is the environment selected from the dropdown before running the collection?

I tried to reproduce this issue but couldn't.
Can you also console your object variable `dt` and also check if it does have the value `token`?
If it's undefined

[2018-05-29 05:30] shahjd01 commented on #3529
Is there any solution for handling null value? I am passing null in csv file, but it is treated as string!

[2018-05-29 05:46] windupurnomo commented on #4608
_1. Which Postman version are you using and what OS?_
I use 6.0.10 for MacOS

_2. Is 'Persist Variables' checkbox enabled before running the request?_
No, I don't check 'Persist Variables'

_3. Is the environment selected from the dropdown before running the collection?_
Yes, I selected environment variable...

Your question number 2, resolve my problem..
Now, I check 'Persist Variable' checkbox a

[2018-05-29 05:46] #4608 closed, assigned to sivcan

[2018-05-29 05:52] samizzo commented on #2256
I'm seeing this too. This is all I see in my console when I start postman:

[code]

[2018-05-29 06:34] ghost commented on #4605
@jemerald & @siryur ：
Thanks to both of you! I did what you told us and everything seems going well with me again, the speed is very very fast than expected!

[2018-05-29 06:59] pregress commented on #2801
+1

[2018-05-29 07:03] xiaweixing opened #4609 "formdata saved in collection cloud is not consistent for 2 upload requests and no src in one of them"
**Describe the bug**
formdata saved in collection cloud is not consistent for 2 upload requests and no src in one of them

**To Reproduce**
Steps to reproduce the behavior:
1. Edit one of my upload request (call it A) in my team collection
2. choose test.html as file to upload
3. Save collection into cloud
4. Do the same for another request (call it B) in my team collection, choose test.jpg as fil

[2018-05-29 07:42] RandomDude777 commented on #4594
Can also confirm this fix is valid (win 8,1 sp1, postman 6.1.3)

[2018-05-29 07:44] RandomDude777 commented on #4605
@sivcan @jemerald @siryur: Much appreciate the fix guys! confirmed working.

[2018-05-29 08:16] blueneosky opened #4610 "RestSharp code generation adds undefined parameter"
The generated code for RestSharp (C#) is wrong on a specific line. I get a 500 error on the REST server. After checking the documentation of RestSharp, this error come from the generated code.

**To Reproduce**
1. Create a PUT request with a body ('{}' is enough) as application/json content type
2. Click on 'Code'
3. Select "C# (RestSharp)" form combo
4. The line beginning with `request.AddParamet

[2018-05-29 08:41] lkumar001 commented on #4566
Dear Sir/Madam
Kindly advise if there is any feedback regarding this request. Thank you

[2018-05-29 09:10] enguerran-popup commented on #4512
@ghisvail I think you can use https://dl.pstmn.io/download/latest/linux64 or https://dl.pstmn.io/download/channel/stable/linux_64
I got a valid tarball with `curl https://dl.pstmn.io/download/latest/linux64 > postman-latest.tar.gz` so I think it would work with flatpack too.

[2018-05-29 09:20] ghisvail commented on #4512
@enguerran-popup, on my end `wget https://dl.pstmn.io/download/channel/stable/linux_64/Postman-linux-x64-6.1.3.tar.gz` yields a 404. I need a download URI to the **versioned** tarball.

[2018-05-29 09:34] ma-schmidt-de opened #4611 "Set-Cookie response header won't set cookie in Postman App"
Hi guys,

I just encountered the issue cookies are not set automatically via `Set-Cookie` response header anymore. I was using this intensively for the last months but seams to be broken after I updated to the latest Postman App version.

## App Details:
[code]

## Issue Report:
### Steps to reproduce
1. Send request to domain `example.com`
2. Receive response that includes a `Set-Cookies` header

[2018-05-29 09:44] enguerran-popup commented on #4512
@ghisvail Oh I see. I don't know how the Flatpak builder works but can't you use the url directly without adding the file name and get the file name by another mean? (https://dl.pstmn.io/download/latest/linux64 or https://dl.pstmn.io/download/channel/stable/linux_64)
Because you can get the versioned tarball name from the headers : `curl -X HEAD -i https://dl.pstmn.io/download/latest/linux64`
[cod

[2018-05-29 09:56] stavsap opened #4612 "cookies not saved in Version 6.1.3"
Postman for Windows
Version 6.1.3

after last update, cookies are not saved, cant have simple login session based on cookies in postman native application.

[2018-05-29 09:56] vierasse commented on #4606
This might be related:
Post-Requests with previously obtained csrf-token worked fine with 6.0.10, after upgrade to 6.1.3. error "crsf token validation failed" occurred. After returning to 6.0.10, the same requests again show no error.

[2018-05-29 10:03] ghisvail commented on #4512
@enguerran-popup Thanks for your assistance with this. I am gonna try what you suggested.

Do you happen to know whether there are builds provided for other architectures than `ia32` (linux_32) and `x64` (linux_64)?

[2018-05-29 10:15] enguerran-popup commented on #4512
@ghisvail I'm investigating if there's a way to get available versions or architectures. I didn't found anything atm but I found something else and it can be useful: you can specify a version by using this endpoint : `https://dl.pstmn.io/download/version/<version>/linux64`.
For instance `curl -O -J -L https://dl.pstmn.io/download/version/5.5.0/linux64` will download `Postman-linux-x64-5.5.0.tar.gz

[2018-05-29 10:28] harryi3t commented on #4606
@vierasse  @cmm268
Can you change the endpoint to `https://postman-echo.com/post` (Request Type `Post`) and then send the request again. Please share the output in a screenshot.
If this is a bug, then the server should not return the value.
When I tried this, it worked perfectly
![postman](https://user-images.githubusercontent.com/5207331/40653485-f2b93e1a-6358-11e8-9ca1-56c4ba7c378a.png)

[2018-05-29 11:27] sivcan commented on #4605
@MaleDong - Haha yes, we've made some major performance improvements!

Cool, so I'll close this issue then.

[2018-05-29 11:28] Ian1971 commented on #285
+1

[2018-05-29 11:36] siryur commented on #4605
Well, that flag didn't do anything to my app... Things are running the same.
Although, using the PostmanCanary version resolved the thing without added the env var. Something happened here and I don't know what/why.

Well, if you want more information please tell me because I need to install the Postman app again.

[2018-05-29 12:23] harryi3t commented on #4581
Sorry for the delay. We have figured out the issue and are fixing it.
This should be available in the next release.

This happened because of an undocumented behaviour change in the latest version of the electron. An additional check was added for adding secure cookies.

[2018-05-29 12:25] harryi3t commented on #4612
duplicate of https://github.com/postmanlabs/postman-app-support/issues/4581

[2018-05-29 12:25] #4612 closed, assigned to harryi3t

[2018-05-29 12:26] harryi3t commented on #4611
duplicate of https://github.com/postmanlabs/postman-app-support/issues/4581

[2018-05-29 12:26] #4611 closed, assigned to harryi3t

[2018-05-29 12:41] AartiTewari commented on #4401
I am facing the same problem after upgrading the postman to version Version 6.1.3. The changes I made on one of the collection yesterday on a different computer have not been synced. Hence when I am trying to access them on my work laptop today- even after trying to sync , nothing is happening.

The manual sync option is unavailable as well.

[2018-05-29 12:54] AartiTewari commented on #4360
@kamalaknn The have upgraded postman to v6.1.3 and started facing syncing issues. The changes made by me yesterday on same version but different instance of postman( using different laptop) are not synced when I opened the postman today on my work laptop (upgraded to same version).
The manual sync option is also disabled.

Please have a look

[2018-05-29 13:11] 4Ply commented on #1535
+1

[2018-05-29 13:34] cmm268 commented on #4606
When I try using the postman-echo link, I do see the header returned.
![image](https://user-images.githubusercontent.com/39697876/40662048-43107832-6323-11e8-9dc8-791e38209c9f.png)

How can I revert back to an older version of Postman?

[2018-05-29 13:50] ghisvail commented on #4512
@enguerran-popup Looks like these are the only architectures. That's fine.

Are you guys already using a specific `appId` in your electon builds (similar to [here](https://github.com/jgraph/drawio-desktop/blob/461804cedff2c027aeb7cbe0882bc7fc684c6dea/electron-builder.json#L2)). If not, are you guys happy with `com.getpostman.Postman`?

[2018-05-29 14:05] connelhooley commented on #4602
I'm still seeing the issue in the latest canary build, with the environment variable set. I'll try and run it via the command line again to get some logs.

I can also confirm a few other devs on my team are seeing the same behaviour.

[2018-05-29 14:08] chrisron95 commented on #4586
Agreed, updated to 6.1.3 and it appears to be fixed. Thanks!

[2018-05-29 14:08] connelhooley commented on #4602
[code]

[2018-05-29 14:08] prashantagarwal commented on #4586
Thanks guys for verifying this. Closing it.

[2018-05-29 14:30] Tenkasi-Subramanian commented on #4557
@sivcan Thanks.
Can you add the same label to below request also? I am not able to edit that section.
https://github.com/postmanlabs/postman-app-support/issues/4497

[2018-05-29 14:31] vierasse commented on #4606
You can still download the 6.0.10 version, install it over the 6.1.3, worked for me.

[2018-05-29 14:52] ghost commented on #1104
+1

[2018-05-29 14:54] 7artur7 commented on #4580
Hey @harryi3t, @dhineshwiz  did you have time to investigate this?

[2018-05-29 15:23] seldin opened #4613 "Cannot launch postman native app if Postman console is open."
**Description**
If a postman console session is open you cannot launch the postman app.

**To Reproduce**
Steps to reproduce the behavior:
1. Launch Postman native app.
2. Open Postman Console.
3. Close Postman native app
4. Do not close postman console.
5. Try to launch Postman native app while postman console session is still open.

**Expected behavior**
App should launch regardless if console i

[2018-05-29 15:26] a354123417 opened #4614 "啥时候来个多语言版（When is a multi - language version）"

[2018-05-29 15:36] somadeaki commented on #3596
It's a real shame that this simple issue still hasn't been addressed. I am unable to use postman any longer.

[2018-05-29 15:54] alexey-yakovlev commented on #2801
+1

[2018-05-29 17:23] mtuulu commented on #2801
+1

[2018-05-29 17:31] harryi3t commented on #4606
@cmm268 @vierasse
If the echo server is returning the header value then it means the data was sent from the client.
Are you sure it's working with Postman 6.0.10 with the exact same environment (authorization, variables, url, proxy, etc)?
You can also use a proxy tool to intercept the request and see the exact data being sent out.
If this is actually a bug in Postman I will be more than happy to f

[2018-05-29 18:01] samreenadil opened #4615 "use Global variables in URL"
Hi Everyone,

I have a GET request /project/{project_id}, {project_id} here is the ID created in other POST request which created project.

My requirement is that once the ID is created in POST request(create project) response - that ID can be used in the URL of the GET request.

I have set the global env variable as
var jsonRespStore = JSON.parse(responseBody);
postman.setGlobalVariable("id", jso

[2018-05-29 18:05] ccaran commented on #4615
If I understand what you're asking, you set the JSON response of the POST as "id" in your environment. So your GET request should be `/project/{{id}}` since that's the variable name you set it to globally.

The syntax I use normally is `pm.environment.set("id", jsonRespStore.id); `

But if that works for you, great.

[2018-05-29 18:06] ccaran commented on #4615
Ah, the variable should work the same way as the environment set.

[2018-05-29 18:15] samreenadil commented on #4615
@ccaran it worked, Thanks so much!

[2018-05-29 21:17] nithyamuth opened #4616 "Appending = in a monitor of a collection"
I created a collection that uses the google sheets as the JSON datasource.  Based on which the url is created by the pre-request script.  The test runs fine with the collection runner. However, when I tried to create a monitor for the collection, it appends the = at the end of the url param.

We had this appending = issue in the collection runner that was fixed recently. But I would like you to ch

[2018-05-29 22:30] CorwinNewall commented on #4607
Could you please explain why this is pending close?
A false positive "Duplicate Keys" when bulk editing keys means _actual_ duplicate keys are lost in the noise.
I've verified this also happens in the latest version of Canary.

[2018-05-29 22:53] Xoloitzcuintli commented on #4262
Same here, was working just fine til I clicked on the update button.  Now startup is very slow to no startup at all.

[2018-05-30 01:41] dotnetallday commented on #4581
@harryi3t Is this supposed to be fixed in 6.1.3 (Win x64)? If so, it does not appear to be fixed when the app updates itself. This bug is still present in my current build.
![image 001](https://user-images.githubusercontent.com/4284351/40694157-086eb8b8-6370-11e8-9a59-9207999eda7e.png)

[2018-05-30 02:44] mobiletoly commented on #697
+1

[2018-05-30 03:21] muku opened #4617 "Setting environment variable inside a javascript method in a collection script doesn't work"
I am setting an environment variable inside a function in my collection's pre-request script like this:

`String.prototype.collectionFunction = function(){`
    `console.log("executing collection function on: " + this);`
    `pm.environment.set("var1",this);`
   `console.log("Getting var1 in collection: " + pm.environment.get("var1"));
`}`

Then inside a request I execute the function like this:

[2018-05-30 04:07] luckyzeno opened #4618 "Cannot choose 'POST' or 'GET'"
My computer is win10 and postman's version is 6.1.3. The method dropbox can not show all options.
<img width="427" alt="_20180530120515" src="https://user-images.githubusercontent.com/4628573/40698471-c6c5fe84-6401-11e8-97c0-abed45449275.png">

[2018-05-30 05:25] Ruku1590 commented on #3646
When can we expect this to be available?

[2018-05-30 06:30] Xaber20110202 commented on #2851
+1

[2018-05-30 06:42] thanhdatbkhn commented on #2761
+1

[2018-05-30 06:46] ghisvail commented on #4512
Could you guys also let me know the path to an appropriate icon file for the application. It looks like none is provided in the release tarball. Thanks.

[2018-05-30 06:57] prashantagarwal commented on #4262
@Xoloitzcuintli if you are on windows, it could be issue with GPUs that we are facing currently. Can you try the workaround mentioned here https://github.com/postmanlabs/postman-app-support/issues/4594#issuecomment-391601621

[2018-05-30 07:25] enguerran-popup commented on #4512
@ghisvail `/Postman/app/resources/app/assets/icon.png` :wink:

[2018-05-30 07:32] Bopper1892 opened #4619 "Prevent closure of modals which contain unsaved changes"
The postman app allows the input of data into modal screens, e.g. environment data. It is incredibly frustrating to enter a significant amount of data only for this to be lost when accidentally clicking on the space outside the modal, rather than using the Update button.

I'd like a prompt to warn the user that there are unsaved changes and give the option to either continue or cancel the closure

[2018-05-30 08:25] AartiTewari commented on #4401
The issue has revolved. Although , I don't know how.

[2018-05-30 08:40] ghisvail commented on #4512
Yeah I messed up my find pattern, indeed:
[code]

[2018-05-30 08:41] ghisvail commented on #4512
No .desktop file though?

[2018-05-30 09:36] maitmansour opened #4620 "Can't create new folder / Can't save new request"
**Bug Description**
After updating to the 6.1.3 version i can't now create folders Or save a new request !

**To Reproduce**
Steps to reproduce the behavior:
1. Start Postman
2. Try to create a new folder or new request !

**Expected behavior**
creating new folder / new request (as expected !)

**Screenshots**
Nothing is showing, just when i click, i got nothing, and the window don't respond !

**

[2018-05-30 09:42] yarivat commented on #4079
+1

[2018-05-30 10:25] MatveyNeyman opened #4621 "Missing secure cookies in v6.1.3"
Bug description:
Unable to find cookies with 'secure=true' attribute in the 'manage cookies' modal.

To Reproduce:
Steps to reproduce the behavior:
1. Make some request to server that returns some 'secure=true' and 'secure=false' cookies
2. Verify that all cookies are presented in 'cookies' tab of response
3. Open 'manage cookies' window
4. See that only 'secure=false' cookies are here

Expected b

[2018-05-30 10:55] rajikuchana opened #4622 "Postman Runner giving 404 Bad Request for Proper Request"
Receiving 404 Bad Request for Valid Request Body in Postman Runner but if i run normal postman window it is working fine.Please help me why this is not working properly.

**Steps to reproduce the behavior:**

Create Collection
Add rest api request using post method
Added input parameters with variable like {{storecode}}
Add Code in Tests tab to check string from the response
Open postman Runner
Se

[2018-05-30 11:11] sivcan commented on #4617
@muku I was unable to reproduce this.
Couple of questions:
1. What version of postman are you using? Can you make sure you're on the latest version (v6.1.3 as of now)
2. Have you selected the environment from the dropdown?
For eg:
![image](https://user-images.githubusercontent.com/12631777/40716921-2d8236d0-6428-11e8-91f3-9ca68ff39603.png)

[2018-05-30 11:39] muku commented on #4617
I'm using the latest desktop version for windows. I've also selected my environment. I've added some code on my initial description. It's pretty simple, give it a try and you will reproduce the problem.

[2018-05-30 11:45] kamalaknn commented on #4622
Hey @rajikuchana

Can you make sure that if you are using an environment variable in your request, you have that environment selected before running the collection in runner?

Also, you use the `Postman Console`(View -> Show PostmanConsole) to inspect the actual request that was sent.

[2018-05-30 11:45] vierasse commented on #4606
@harryi3t , I have prepared a small collection with GET and POST service to reproduce the issue. Would not like to post it publicly, how can I send it to you as a pm?

[2018-05-30 11:48] kamalaknn commented on #4620
Hi @maitmansour

Can you give us more details to help triage this issue?

1. Have you logged in with sync enabled?
2. Are you creating folders on a shared collection?
3. Do you see any errors in the devtools(View -> Developer -> Show DevTools(Current VIew))?
4. What is the state when you click the save button?

[2018-05-30 11:57] kamalaknn commented on #4619
Hi @Bopper1982

We are looking into ways we can improve the experience around editing and saving entities. I'll mark this as a feature request.

We consider this when we revisit the environment editing flows.

[2018-05-30 12:03] kamalaknn commented on #4618
Hi @Luckycn

Do you have zoom level enabled? If yes you could reset the zoom level using shortcut `ctrl + 0`. That should make sure the drop down is within the visible area.

We'll work on making sure that dropdown is always on the visible area.

[2018-05-30 12:04] harryi3t commented on #4621
duplicate of https://github.com/postmanlabs/postman-app-support/issues/4581

[2018-05-30 12:04] #4621 closed, assigned to harryi3t

[2018-05-30 12:14] harryi3t commented on #4581
@dotnetallday No, the next release will be most probably 6.2.0
Also, we will be releasing the canary build with the fix soon.

[2018-05-30 12:26] kamalaknn commented on #4617
Hi @muku

I tried to reproduce this with the following seetup. I was able to get it working.

<img width="678" alt="screen shot 2018-05-30 at 5 47 28 pm" src="https://user-images.githubusercontent.com/8401064/40719673-e37ba8b4-6431-11e8-9bb4-7f9259520fc4.png">

![screen shot 2018-05-30 at 5 47 40 pm](https://user-images.githubusercontent.com/8401064/40719963-d179337e-6432-11e8-92b7-6c72a542774e.pn

[2018-05-30 12:28] #4615 closed, assigned to nobody

[2018-05-30 12:29] guillobits commented on #1744
+1

[2018-05-30 12:30] kamalaknn commented on #4614
Hi @a354123417

Thanks for your feedback. I'm marking this as a feature request.

[2018-05-30 12:31] kamalaknn commented on #4613
Hi @seldin

Thanks for reporting this. I was able to reproduce this. We'll take a look this.

[2018-05-30 12:53] kaprolitik opened #4623 "Collection Runner with json data file send incorrect Request Body"
I am use Collection Runner with JSON data file. When i run my test, it is fail. It happens because Collection Runner send my JSON data in wrong format - add quotes at the beginning and at the end.

**Steps to reproduce the behavior:**
1. Go to Collection Runner
2. Select  collection
3. Select json data file
4. Run you collection
5. Look at the Request Body in Postman Console

**Expected behavior**

[2018-05-30 12:53] muku commented on #4617
From the above screenshot I take that the js function is defined in the pre-request script of the request. Try to define it in the pre-request script of the collection. And then use the function in the pre-request script of a request.

[2018-05-30 13:17] kamalaknn commented on #4617
@muku

I've got the problem here. All the scripts in a postman are executed in a sandboxed environment.

The sandbox environment is initialized everytime a script is executed in it. That's why the prototype mutations are not preserved across the scripts. This is also a way we can ensure that malicious scripts that change the prototype are contained in the script and do not affect any other scripts

[2018-05-30 13:17] kamalaknn commented on #4617
I'm closing this as this is not a bug with Postman App itself.

Thanks

[2018-05-30 13:17] #4617 closed, assigned to kamalaknn

[2018-05-30 13:32] MG-CDS commented on #4578
I noticed that v6.1.3 has been released. Does this update fix the issue described here?

[2018-05-30 13:37] maitmansour commented on #4620
Hi @kamalaknn,
Of course, this is some details :

1. Have you logged in with sync enabled?
Yes, i'm connected with my google account
2. Are you creating folders on a shared collection?
Yes
3. Do you see any errors in the devtools(View -> Developer -> Show DevTools(Current VIew))?
i didn't check before
4. What is the state when you click the save button?
nothing happening

👍  Please note that i sin

[2018-05-30 14:25] whyvrafvr commented on #4581
So, I assume this is probably why my `JSESSIONID` cookies are not stored ;)
BTW, it works on newman 3.9.4 and Collection Runner on Postman 6.1.3.

[2018-05-30 14:34] muku commented on #4617
So if I want to reuse a function in all my scripts I need to define it in every script? This is not very productive and it will bloat around 1000 requests with about 30 lines of code that my functions take.

I don't quite get your previous message. As I said in my first post, using this "hack" I can set global variables from inside the js functions in the prototype but I can't set the environment

[2018-05-30 14:36] wdtracy commented on #1535
+1

[2018-05-30 14:42] eMarv commented on #2256
@dmarkowicz96 's solution worked. Thanks! I am also on the same version of Windows.

For those who don't know, you can do this by:

1. Finding your Postman.exe file, which for me was in C:\Users\<username>\AppData\Local\Postman\app-6.1.3
   a. replace <username> with your actual username
2. Right click on Postman.exe
3. Click on Troubleshoot Compatitility
4. Follow the instructions in the prompts

[2018-05-30 16:27] seantcanavan commented on #4514
This is also an issue on Ubuntu 18.04. Just did a fresh install of 18.04 and was installing Postman.

`sudo apt-get install libgconf-2-4` fixed the issue.

[2018-05-30 17:30] ghost commented on #2701
+1

[2018-05-30 17:32] arora-abhishek commented on #2686
Thanks @dalejbrittain
Adding to dale's solution, you need to go to this folder -> /home/abhishek/.config/google-chrome/Default/Storage/ext/fhbjgbiflinjbdggehcddcbncdddomop/def/IndexedDB/
Here, you will find two more folders, one ending with blob another ending with db, choose the one ending with db.
on clicking the "chrome-extension_fhbjgbiflinjbdggehcddcbncdddomop_0.indexeddb.leveldb" you will co

[2018-05-30 18:17] piel1 opened #4624 "Decimals get truncated from json response"
**Describe the bug**
Trailing zeros get truncated from the response when using 'Pretty' mode in json requests.
For example , you will receive 12 instead of 12.00
If you switch to 'Raw' mode you will see the zeros

**To Reproduce**
Send a POST request through postman which expects a JSON response
In the 'Body' section, make sure the mode is set to 'Pretty' and the language to JSON.
Look at any numb

[2018-05-30 18:35] c-warnick opened #4625 "Request URL encoding '&' to '&amp;' causing response errors"
## App Details:

[code]

## Issue Report:
 1. Did you encounter this recently, or has this bug always been there: Encountered recently.
 2. Expected behaviour: Request should be sent without encoding '&' to `'&amp;'` or at least have the option to disable.

Click the 'code' button below save. Copy url and paste in text editor. Notice parameters are separated by `&amp;` not &

[2018-05-30 19:14] harryi3t commented on #4606
@vierasse Thank you for taking time to do this 👍 . You can send this to me at harendra[at]getpostman.com

[2018-05-30 19:16] harryi3t commented on #4578
In 6.1.3 we added a workaround to disable the GPU.
If after following steps as mentioned here https://github.com/postmanlabs/postman-app-support/issues/4594#issuecomment-391601621 does not solve the problem then it's not related to GPU and is a separate issue.
Can someone confirm if this works?

[2018-05-30 19:19] sjjpo2002 commented on #4043
Same issue here. I use Postman for Chrome Version 5.5.2 to send a POST request it works. Same request on the latest Postman for Windows Version 6.1.3 doesn't work. Content type is "application/x-www-form-urlencoded".

[2018-05-30 19:19] harryi3t commented on #4620
@maitmansour Were you the owner of the collection in which you were trying to add folder/request?

[2018-05-30 19:19] omar-faruk-sust commented on #2418
I am having same issue as well. anyone have any solution ?

[2018-05-30 19:27] vierasse commented on #4606
@harryi3t done, hope you can replicate it.

[2018-05-30 19:35] MG-CDS commented on #4594
The work-around proposed by @harryi3t worked for me. I installed v6.1.3, added the suggested Environment Variable, and rebooted. Postman is now performing as expected.

Thank you @harryi3t ! :)

[2018-05-30 21:58] vkaegis commented on #4589
@gfigueroa Can't find any screenshots here. Could you try posting them on Github instead of replying to the email thread?

[2018-05-30 22:35] axiopisty commented on #285
I hope that when this is finally implemented it works similar to many RDBMS query tools (such as Toad, Sql Developer, etc.) where a single pop-up will appear at runtime to prompt the user to enter bind values for each of the unbound variables.

There are many use cases (not for just credentials and tokens) where it would be desirable for each request to require binding user input values to unbound

[2018-05-31 00:21] bhanupinninti commented on #2126
How to add Origin header?? @jefferyyuan

[2018-05-31 00:22] bhanupinninti commented on #2126
We are getting 403 error all of sudden since yesterday..

![image](https://user-images.githubusercontent.com/38074414/40754408-915bbe26-64bc-11e8-8ecd-b9502bdbe67b.png)

[2018-05-31 03:06] funketyme opened #4626 "Load balancer sessions no longer sticky after upgrading to Postman 6.1.3"
**UPDATE: I have downgraded to 6.0.10 and the functionality is working again.  Something changed with the upgrade to 6.1.3.  The issue is also no longer present when using canary build 6.2-1.**

**ISSUE**
Postman requests that hit load balancer endpoints no longer retain sticky sessions after upgrading to Version 6.1.3, win32 10.0.17134 / x64.

**STEPS TO REPRODUCE**
- Configure a URL to hit that

[2018-05-31 05:33] dorokhin commented on #350
+1

[2018-05-31 05:43] msafrin3 commented on #3127
got the same issue here.. it happened because im using header for "Access-Control-Allow-Origin" in my controller. Remove it and it will work, but make sure u put it back after u test it using Postman. These never happened before

[2018-05-31 06:34] fayazmd commented on #3871
![image](https://user-images.githubusercontent.com/37344807/40765649-bf84e468-64ca-11e8-9873-89812cea604e.png)

Issue still persists..  Also, I am trying to change the icon manually by right clicking on the shortcut but then, while saving I am seeing an error The folder "C:\Users\Admin\AppData\Local\Postman\app-6.0.10" specified in the Start In box is not valid. Make sure that the folder exists an

[2018-05-31 06:43] MaleDong commented on #4605
@siryur ：
Since you're using now Mac……What I can do is to let you down a version of postman from the official download page.

[2018-05-31 07:02] harryi3t commented on #4605
@siryur Your issue is different than others who have commented in this thread.
Others were having an issue with the GPU. Adding that flag just disables it.
Unfortunately, the GPU issue got mixed up with yours.

Since the original issue you posted is different, I am reopening this.
 - As of now, I don't know the cause of this issue. Did you jump between an old and the new version of Postman?
 - Do

[2018-05-31 07:16] maitmansour commented on #4620
@harryi3t  yes, i'm the owner, like a said now it's working fine, after a new re-authentication.

[2018-05-31 07:21] harryi3t commented on #4602
@connelhooley That's weird. Normally the user should have permissions on the appData directory.
Can you try
 - Running the app as administrator. If this works then we know the issue is with permissions.
 - If the above works, can you try changing the owner of the `C:\Users\username\AppData\Roaming\PostmanCanary` directory to yourself recursively.

Am not sure how to change owners in windows, but m

[2018-05-31 07:49] yansern commented on #2369
This is completely unacceptable. Especially when the issue has been opened for 2 years!
And you are also deprecating the Chrome extension. This needs be fixed!

[2018-05-31 07:51] #4620 closed, assigned to harryi3t

[2018-05-31 08:08] harryi3t commented on #4606
@vierasse I could replicate the issue.
But, when I analysed the requests sent from 6.0.10 and 6.1.3, both are sending the query params.
The issue is with the secure cookies not being sent. This issue is already being tacked here https://github.com/postmanlabs/postman-app-support/issues/4581#issuecomment-393182451

The fix for this is already pushed to the canary build (you can get the canary build

[2018-05-31 08:08] #4606 closed, assigned to harryi3t

[2018-05-31 09:13] harryi3t commented on #4581
We have released the canary version with the fix. Can you guys try it out?
https://www.getpostman.com/canary

[2018-05-31 09:48] thecuriousdev commented on #4456
@kmelodi Please provide the steps to reproduce this issue. We'll look into this.

[2018-05-31 09:52] thecuriousdev commented on #4303
Can you update to the latest Postman app and verify whether this issue is still there? If its still occurs for you, please provide the steps to reproduce this. We'll look into this.

[2018-05-31 10:12] thecuriousdev commented on #4061
I tried it from my side and its working fine (see the screenshot). Try updating to the latest version (6.1.3+), and let me know still its occuring for you.
<img width="737" alt="screen shot 2018-05-31 at 3 41 24 pm" src="https://user-images.githubusercontent.com/22293666/40776700-22653704-64e9-11e8-9b22-239cc3734124.png">

[2018-05-31 10:20] terrencewei commented on #4581
@harryi3t Thanks and good news, I had test and it works on my Linux for version:
Postman for Linux
Version 6.2.0-canary01
linux 4.15.0-22-generic / x64

[2018-05-31 10:26] novalic commented on #2490
I'm having the same problem. Anyone figured out a solution?

[2018-05-31 11:29] dhineshwiz commented on #4580
Hey @7artur7 , for sending single file with custom content type, you can override the default content-type in the headers tab after selecting the file

<img width="949" alt="screen shot 2018-05-31 at 4 49 11 pm" src="https://user-images.githubusercontent.com/10631268/40779786-d6ef606e-64f3-11e8-9a63-789edc1aee57.png">

<img width="937" alt="screen shot 2018-05-31 at 4 48 37 pm" src="https://user-i

[2018-05-31 11:39] bermeitinger-b commented on #4303
I think this has something to do with leftover files from previous versions. Overwriting the same folder with the new files was not enough, I had to remove the old folder before (or use a new folder).

[2018-05-31 11:49] thecuriousdev commented on #4623
@kaprolitik thanks for reporting this issue, We'll look into this.

[2018-05-31 12:33] harryi3t commented on #4624
~As per the [RFC for JSON](https://tools.ietf.org/html/rfc8259#section-6), this is invalid~

This seems like a good candidate for an external plugin.

[2018-05-31 12:45] hamecodedVia commented on #4603
having the same problem.
![image](https://user-images.githubusercontent.com/36043932/40782958-a069a3d8-64e9-11e8-934c-61ef846196f4.png)

[2018-05-31 12:51] EasyMilos opened #4627 "Client certificate issue with certificate signed by an intermediary CA"
**Describe the bug**
When using valid client certificate (provided as chained PEM certificate and private key in settings for domain under test) issued by valid intermediate root CA (present in supplied bundled CRT certificate and in both root CA stores) to access SSL endpoint protected by SSL and client certificate authentication, error "UNABLE_TO_VERIFY_LEAF_SIGNATURE" is received instead of exp

[2018-05-31 12:51] Eli-Goldberg commented on #4605
Same happens to me on Ubuntu when I tried 6.1.3,
it just doesn't work at all.
I can't find older versions of Postman so I can't use Postman at all now.

[2018-05-31 12:54] piel1 commented on #4624
My example is about **trailing** zeros but your quote mentions **leading** zeros.
Trailing: 23.00
Leading: 0023

`{ "value": 11.00, "taxRate": 13.20 }` is certainly a valid json

[2018-05-31 12:56] FreeWillaert commented on #4581
Thanks! Works on macOS, version 6.2.0-canary01

[2018-05-31 13:03] MLG-ANolan commented on #4581
Looks good to me! Side by side comparison with 6.1.3 on the left and 6.2.0 on the right. Checked on mac and windows.
![image](https://user-images.githubusercontent.com/20689093/40783803-97458624-64b1-11e8-91f3-ae008a69a2f0.png)

Mac | Windows
------------ | -------------
Version 6.2.0-canary01 | Version 6.2.0-canary-01
OS X 16.7.0 / x64 | win32 10.0.14393 / x64

[2018-05-31 13:12] SallyRobinson commented on #4578
I have this issue since I upgraded to 6.1.3

[2018-05-31 13:16] whyvrafvr commented on #4581
It works. Thanks a lot 👍

[2018-05-31 13:30] ThibaultVlacich opened #4628 "Icon on macOS is not the same size as every other apps"
**Describe the bug**
The macOS app icon is bigger than other app icons, and is most likely not respecting Apple's Guidelines.

**To Reproduce**
N/A

**Expected behavior**
Icon is respecting macOS design guidelines.

**Screenshots**
![](https://i.imgur.com/0wcBUA0.png)

**App information (please complete the following information):**
 - App Type: Native macOS app
 - Postman Version: 6.1.3
 - OS: ma

[2018-05-31 13:49] ghisvail commented on #4512
It worked out in the end. Thanks for your help.

[2018-05-31 13:49] ghisvail commented on #4576
Flatpak submission to flathub [here](https://github.com/flathub/flathub/pull/412)

[2018-05-31 13:54] jrantam commented on #2978
+1

[2018-05-31 14:13] MG-CDS commented on #4578
Upgrading to v6.1.3 and following the instructions in the link that @harryi3t provided has resolved this issue for me.

Thank you @harryi3t !!!

[2018-05-31 15:41] connelhooley commented on #4602
I have checked the permissions for the `%APPDATA%\PostmanCanary` directory and I have access to all the files. It's impossible to say for sure, as the bug is intermittent, but I have been unable re-create it when running the application as administrator. Is there a way of knowing which files it can't read? Running as admin isn't an option for me as my admin account doesn't have access to the inter

[2018-05-31 16:31] brianbellon commented on #4321
I am seeing this issue as of yesterday as well now.  Seemed to be related to a Windows Postman update I got, but then after reading the above comment, it's probably something else.  I tried the logout and login suggestion above, and afterwards my Folders that were out of order seemed to line up correctly again, but all my sub-calls under the folders were still in the wrong order - so my tests are

[2018-05-31 16:36] djly commented on #3117
+1, as we use json body for all our requests, I might have to start looking for another solution. Was really hoping postman would support this.

[2018-05-31 16:42] brianbellon commented on #4321
One more update - I did the logout and login just before leaving yesterday with the result I talked about - folders fixed but the calls under them still messed up.  I didn't logout again overnight - but now that I'm checking them this morning, everything appears to be in the correct order again except on folder with 2 calls that I just manually changed.  It's like the sync may have fixed things? A

[2018-05-31 17:42] funketyme commented on #4626
I have just downloaded Canary build Version 6.2.0-canary01 win32 10.0.17134 / x64 and the issue is no longer present, I have only been able to reproduce the issue in 6.1.3.

[2018-05-31 20:30] planzi commented on #285
5 year (+5 day) anniversary check-in on this one, @a85 :)

[2018-05-31 22:46] ogryzek opened #4629 "Postman is not syncing"
**Description**
Similar to [4401](https://github.com/postmanlabs/postman-app-support/issues/4401), Postman is not syncing. I updated to 6.1.3 this morning, and then noticed the issue.

![Imgur](https://i.imgur.com/ibMwyaZ.png)

![Imgur](https://i.imgur.com/anvfeeY.png)

Also, having some issues when trying to view [workspaces](https://web.postman.co/workspaces) through the browser.

![Imgur](https

[2018-05-31 22:47] abdurrahmanarikan commented on #4249
I have still same issue the postman says many times:

Trying to reconnect to sync... Any changes made while offline will sync once you are back online..

I have solid Internet connection and tried to use above solutions but did not work. Can you help ?

[2018-05-31 23:09] kennycason commented on #3691
Mac Sierra 10.12.6
Postman 6.1.3 (also with 6.1.2)
Can also not copy any text from postman. In the "Code" section, "copy to clipboard" also does not work.

[2018-05-31 23:10] sgaree commented on #4546
Chris asked to provide some use case.  The one that's top of my list is giving demos of my API to partners and customers.  As I walk the API it is a constant sequence of:

Click resource link
**Pulldown Auth Type menu**
**Select Basic Auth**
Click Send

50% reduction in clicks by providing this feature!

Even better would be to add a per-tab/inherited local check box to "Auto send clicked links".

[2018-05-31 23:13] TheAllThing commented on #4629
My entire team is experiencing this same behavior.

[2018-05-31 23:17] godfrzero commented on #4629
Our provider (AWS) is experiencing issues, and we'll be back up as soon as they are. Keep an eye on our Twitter feed for updates: https://twitter.com/postmanclient

[2018-05-31 23:49] okonomiyaki3000 commented on #2369
At this point, even when they do eventually fix it, who wants to use an app with such poor support? There will always be other issues that come up in the future. Should we wait years for each of them to be fixed? No thanks.

[2018-06-01 01:02] pcals90 commented on #2729
+1

[2018-06-01 03:54] sberserker commented on #4618
Have the same issue after updating to 6.1.3. Have to zoom out to make drop down fall down. When reset zoom level back with ctrl+0 it goes up like on  the start screenshot.

[2018-06-01 04:57] yilinjuang commented on #2934
any updates here?

[2018-06-01 05:03] naveenkumarmallappa opened #4630 "Error: Unable to load collection and Error: Unable to load environment"
**Describe the bug**
Error: Unable to load collection and Error: Unable to load environment, I got this error when auto run the monitor on every day 5 AM on Asia Pacific Region. Is my system is on connected to network? I think no need. I created a collection and synced with postman. But I don't know why this error came.

**To Reproduce**
Steps to reproduce the behavior:
1. Created collection with

[2018-06-01 06:26] sujayvenaik commented on #4607
@CorwinNewall
Hey, this issue is fixed now and will be soon available.
Its available on the Canary platform and you can get that build from
https://www.getpostman.com/canary

[2018-06-01 07:00] a354123417 commented on #4614
Thank you!

[2018-06-01 07:10] yanpanpan commented on #2751
I want sorted key-values.I spent tans of time checking keys.`private enum CodingKeys: String, CodingKey {
                case appUserID = "app_user_id"
                case content
                case createAt = "created_at"
                case id
                case praisesCount = "praises_count"
                case toUserID = "to_user_id"
                case toUserHeader = "to_user_userico

[2018-06-01 07:12] yanpanpan commented on #2751
I want sorted key-values.I spent tans of time checking keys.
`
 This should be nice.
private enum CodingKeys: String, CodingKey {
case appUserID = "app_user_id"
case content  =  "content"
case createAt = "created_at"
case id =  "id"
case praisesCount = "praises_count"
case toUserID = "to_user_id"
case toUserHeader = "to_user_usericon"
case toUserName = "to_user_username"
case userIcon = "usericon"

[2018-06-01 07:14] unknown-undefined commented on #2751
I want this .Sorted key should make effective work.
Like:
{
 "a": 12,
 "abc": "x",
 "c" : {
     "a" : 15
   }
}

[2018-06-01 07:19] oomaks commented on #2256
I'm developing an electron app and have the same 'blank screen' problem as Postman 6.13. Have any one know why this happens. Why @dmarkowicz96 and @erdemkose 's solution works?

[2018-06-01 07:51] asmoker commented on #1104
+1

[2018-06-01 07:54] Ocsidot opened #4631 "Cannot add headers with pm.request.headers.add"
Please read through the [guidelines](https://github.com/postmanlabs/postman-app-support#guidelines-for-reporting-issues) before creating a new issue.

**Describe the bug**
In a pre-request script, if I add a new header value using pm.request.headers.add, it seems to be added but I cannot see it in the sent request.

**To Reproduce**
Steps to reproduce the behavior:
1. On pre-request script type
![

[2018-06-01 07:55] gs11 commented on #2523
@harryi3t Please reopen this. See comment from @jongio on the issue with the client credentials flow.

[2018-06-01 08:02] kunagpal commented on #4631
@Ocsidot This is expected behaviour, as changes made to `pm.request` are not propagated to the actual request sent. I'm marking this as a feature request 😄

[2018-06-01 08:09] Ocsidot commented on #4631
@kunagpal Thank you for your quick answer :)

It seems also to me that it should be a feature.
I hope this will be implemented soon :+1:

Thanks

[2018-06-01 08:32] connorsadlervelo commented on #285
^^ Just run the noddy webserver I posted above on localhost and hit that - it will prompt you with a basic UI dialog box, with configurable contents!

[2018-06-01 09:45] ghost commented on #4605
@Eli-Goldberg & @siryur ：

Here's the list of all kinds of versions, you can uninstall the latest one and reinstall a new one for a temporary fix until the official fixed this, hope this helps!

【For Linux】
1）https://dl.pstmn.io/download/version/6.0.10/linux64
2）https://dl.pstmn.io/download/version/6.0.10/linux32

【For Windows】
1）https://dl.pstmn.io/download/version/6.0.10/windows64
2）https://dl.p

[2018-06-01 10:30] tahirm commented on #3251
Getting the same error on latest Version 6.1.3 as well. This makes Postman unusable when certificate is required for authentication.

Its been almost one year since this issue, what is the expected timeline here?

[2018-06-01 11:00] siryur commented on #4605
Well, @Eli-Goldberg, I've solved my problem with the [Postman Canary version](https://www.getpostman.com/canary). It worked like a charm 👍

As for the @harryi3t comment:

I'm not 100% sure, but I think I went from a 6.1.X to the 6.1.3 version. I'm not sure which of the previous version was, but I think I was in some 6.1 version.

Yea, I've all my data synced (at least postman says it like that 😛 )

[2018-06-01 11:22] avlad commented on #1744
SoapUI - do this
Paw - as well

same question with all - when? (no Why still not, but - when? ;-) )

[2018-06-01 11:47] BruceYo119 opened #4632 "[Feature Request] - Add integration for xMatters"
Please consider adding xMatters as an additional supported integration. It a notification platform similar to PagerDuty.
We route all our monitoring notifications through this platform.
Thank you!

[2018-06-01 12:28] Ocsidot opened #4633 "Feature Request: Sync collection from local file"
I'm always frustrated when I have to export my collection to update my saved collection and it's the same case if my collection is updated and I get a new version through Git and I need to re-import it.

Could it be possible to keep the collection in Postman synchronized with the local file as it's done on many editor?

[2018-06-01 12:37] a-akimov commented on #3390
Agree with the comments above. Supporting only Swagger 2.0 doesn't help Postman get more traction from those companies who build their API lifecycle around OpenAPI 3.0. And OpenAPI 3.0 is becoming a de-facto standard for defining and describing web APIs.

Please, support OpenAPI 3.0 in Postman.

[2018-06-01 13:16] harryi3t commented on #2523
@gs11 Reopening. I am marking this as a feature instead of a bug.

[2018-06-01 13:19] harryi3t commented on #4624
@piel1 You are right, my bad. Updating the comment.

[2018-06-01 13:44] deivide commented on #4361
Same here:
![image](https://user-images.githubusercontent.com/905281/40843855-bbbc6018-6588-11e8-9c9f-ee5d1040d8e9.png)

[2018-06-01 15:21] JulienVan commented on #3566
\+ 1 , definitely a must-have, when will you deliver it ?

[2018-06-01 15:24] harryi3t commented on #4605
@siryur Glad that it worked! Closing this issue now

[2018-06-01 15:24] #4605 closed, assigned to harryi3t

[2018-06-01 15:50] faniva commented on #1380
Any updates on this?

[2018-06-01 16:03] kennycason commented on #3691
I just made an interesting discovery. The text does copy, but only within the context of Chrome. I can copy the postman text and then paste it anywhere within Chrome (e.g. a GH gist or jsfiddle). However, when I paste to other apps such as Atom or Slack, it fails.

In fact, I can't copy any text from Chrome either.

[2018-06-01 16:06] nurikabe commented on #3774
Interface would be a lot more clear if the save state was somehow reflected:  Color of the save button, a "last saved" timestamp, etc.

[2018-06-01 16:24] kennycason commented on #3691
I upgraded Chrome and now it works again.

[2018-06-01 16:39] alexgman commented on #3602
is it possible to specify the headers that need to be returned in a mock server?

[2018-06-01 17:24] ghost commented on #3290
I can confirm this needs to be implemented ASAP. I got the root CA in the OS trust store but Postman sadly thinks the OS trust store is not needed, so it's very hard to use Postman to test internal servers with self-signed certificates.

[2018-06-01 17:26] WRCarlile opened #4634 "blank black screen Mac OS 10.13.4"
After updating to Mac os 10.13.4, I am getting a blank / black screen. Postman loads but when I try and do anything else the screen goes black.

[2018-06-01 18:06] shirasuwanum opened #4635 "Blank screen on Windows 10 with Postman 6.1.5"
After a new install of the Postman application (version 6.1.5), whenever I launch the app I get a blank screen

Steps to reproduce:

1) From a Windows 10 PC with Postman not installed, go to the Postman website and download/install the latest version of the 64-bit application (6.1.3).

Result: When the installation completes and the postman UI opens, it displays a blank screen (see the screen shot

[2018-06-01 19:17] planzi commented on #285
Thanks @connorsadlervelo - very cool of you to make that available. Unfortunately that's not an option in environments where the user doesn't have local admin rights on their machine.

[2018-06-02 00:05] StephenNay opened #4636 "Changing OAuth2 access token settings in one collection or workspace updates other collections and workspaces"
Please read through the [guidelines](https://github.com/postmanlabs/postman-app-support#guidelines-for-reporting-issues) before creating a new issue.

**Describe the bug**
I have two collections that use OAuth2 access tokens. The collections interact with different authentication systems at different URLs. When I make changes in the Get New Access Token dialog for one collection, the changes are a

[2018-06-02 01:31] barakbd commented on #1947
I am trying to set a header in a pre-request script.
This way:
[code]
and this way:
[code]
Both not working.
What am I doing wrong?

[2018-06-02 01:49] reem-codes commented on #3382
Has this been fixed yet? my postman desktop app shows the same issue

[2018-06-02 04:12] palakpatel07 opened #4637 "Postman logo disappears from Ubuntu launcher after new update v6.1.3"
## App Details:

[code]

## Issue Report:
 1. Did you encounter this recently, or has this bug always been there:
 2. Expected behaviour:
 3. Console logs (http://blog.getpostman.com/2014/01/27/enabling-chrome-developer-tools-inside-postman/ for the Chrome App, View->Toggle Dev Tools for the Mac app):
 4. Screenshots (if applicable)

[2018-06-02 09:24] fquirin commented on #4635
same here. Happened after the latest update. Sometimes I can see the menu bar and when I can click "check for updates" and wait a while the whole screen might or might not recover when the "no new updates" pop-up appears.

Edit: Windows 8.1 btw

Edit2: Now I've downgraded to 6.0.10, app works again but all my collections are gone :-1: :-1: :-1:

[2018-06-02 09:41] fquirin commented on #4387
For me it is the other way round. 6.1.3. (Windows 8.1) was buggy so I've downgraded to 6.0.10 ... and now all my collections are gone :-( :-( :-(

Edit:
For what it's worth I have a file called 'chrome-devtools_devtools_0.localstorage' in the folder '[user]\AppData\Roaming\Postman\Local Storage' that has a date right before the downgrade and a new one called 'file__0.localstorage'. But the old one

[2018-06-02 10:40] CaffeinatedTester commented on #4361
Can also confirm since upgrade I am having major CPU usage issues when idle. Preventing me from using the tool on my mac.

<img width="549" alt="screen shot 2018-06-02 at 11 39 44" src="https://user-images.githubusercontent.com/15998340/40873537-bc964e46-6659-11e8-85d9-1fafc8bd6e36.png">

[2018-06-02 15:47] naoko commented on #2489
Same here with latest version v6.1.3 on Mac. Anyway to force-sync/download from cloud?

[2018-06-02 15:59] harryi3t commented on #3691
@kennycason If I got it correctly, you are saying upgrading chrome fixed the issue in postman native app? That's weird, postman native app is built on election which should have it's own chrome version.
Any chance you remember the previous chrome version you were using?

[2018-06-03 03:29] thetreythomas commented on #4360
Windows 10 Pro

Postman for Windows
Version 6.1.3
win32 10.0.17134 / x64

Still seeing this issue. I've seen this pop-up now 4 times in the last 5 hours.

[2018-06-03 10:09] johannesschobel commented on #4635
same here with windows 8.1.x

[2018-06-03 12:31] ghisvail commented on #4576
Could someone from the team / company review the comments regarding the licensing in the flatpak submission thread above?

[2018-06-03 16:56] harishrajora opened #4638 "Postman App not working"
Please read through the [guidelines](https://github.com/postmanlabs/postman-app-support#guidelines-for-reporting-issues) before creating a new issue.

**Describe the bug**
My app starts, opens the window but nothing opens after that. It has been like this since the latest update of 25 may.
![screenshot 115](https://user-images.githubusercontent.com/8916887/40889039-9083784a-677d-11e8-93d2-08ec85bc

[2018-06-03 17:22] chrisdeso commented on #4638
@harishrajora – Are you on version `6.1.3`?

This may be related to a known issue where Postman doesn’t launch with certain GPUs. A workaround for this issue involves disabling your GPU, and detailed instructions on how to do that can be found via the link below.

- https://github.com/postmanlabs/postman-app-support/issues/4594

[2018-06-03 18:50] harishrajora commented on #4594
There is another going around that I did. You must be having NVIDIA or AMD processor. Maybe anything else. Go to the postman.exe location (which is in Users/<username>/App Data/local/postman/app/postman.exe

Right-click on it and run with intel HD graphics. It will run fine as before.

[2018-06-03 18:51] harishrajora commented on #4638
I found another getaway with opening the app with intel graphics processor. It works fine.

[2018-06-03 19:09] tsasioglu commented on #2559
I had disabled interceptor in chrome but still had it enabled in postman and saw this behaviour.
Disabling it in postman was my fix.

[2018-06-03 22:20] saminfante commented on #3127
I also got the same issue but in my case, it was because it was a new install and I forgot to set the store's design config before making authenticated requests with an admin bearer token to create a customer via REST API. And weirdly enough, it let me get my admin bearer token via API but I couldn't make any requests with Postman after I had the token.

Anyway, if that sounds like your case, chec

[2018-06-03 23:39] gfigueroa commented on #4589
@vkaegis I updated my comment above with the screenshots. Thanks!

[2018-06-04 00:00] massenz opened #4639 "Documentation Markdown for tables not rendered in Web doc (but correct in Postman app)"
**Describe the bug**
It seems that Postman documentation "understands" the table markdown (see attached screenshots) in the app itself; however, in the generated web documentation, this is not rendered correctly.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to any collection
2. Click on 'Edit'
3. Enter a valid Markdown for a table, such as:
[code]
4. `Update` and confirm the markdown i

[2018-06-04 00:26] massenz opened #4640 "Save Example should preserve response status code"
**Describe the bug**
The Save Example feature saves the response body and headers; however, the `Status` is always pre-filled with `200 OK`.

**To Reproduce**
Steps to reproduce the behavior:
1. Execute a request against server which returns a non-200 code (e.g., 201 or 404)
2. Click on 'Save Example'
3. Scroll down to 'EXAMPLE RESPONSE'
4. See `Status` field pre-filled to `200 OK`

(note this beh

[2018-06-04 02:22] andi-livn commented on #1947
Hi Barak.

There appears to be no way to directly add or modify headers from the pre-request scripts, which would allow doing what has been requested here via the collection level pre-request script.

Unfortunately the only workaround I found is to define a global variable, e.g. `myKey`, set a header on the request with that variable as value e.g. `key:{{myKey}}` (both done via the Postman GUI) an

[2018-06-04 02:59] joshprice commented on #1669
What doesn't seem to have been mentioned yet is the ability to send GraphQL queries as plain text rather than jumping through hoops trying to make it JSON. (You don't get introspection or autocomplete obviously but it's an improvement). Here's how to do it:

Most GraphQL servers should support this (if not they should).

Some other options worth investigating are:

- https://github.com/OlegIlyenko

[2018-06-04 08:09] Sojaner opened #4641 "Neither Stable nor Canary work on Windows Server 2012 R2"
Please read through the [guidelines](https://github.com/postmanlabs/postman-app-support#guidelines-for-reporting-issues) before creating a new issue.

**Describe the bug**
As soon as the installation is done, the app's screen stays either black or light orange (or white it is) and the cursor constantly turn into arrow+sandwatch for a glitch and back to arrow again.
The UI never appears.

**To Repr

[2018-06-04 09:04] thecuriousdev commented on #4641
Hey @Sojaner, thanks for reporting this issue. You found this issue after the 6.1.3 update or its been there always?

This may be related to a known issue where Postman doesn’t launch with certain GPUs. A workaround for this issue involves disabling your GPU, and detailed instructions on how to do that can be found via the link below.

https://github.com/postmanlabs/postman-app-support/issues/4594

[2018-06-04 10:09] thecuriousdev commented on #4639
@massenz thanks for reporting this issue. It's bug, I am able to reproduce this. We'll fix this issue in the upcoming release.

[2018-06-04 10:18] thecuriousdev commented on #4638
Closing this ticket. Tracking this issue in https://github.com/postmanlabs/postman-app-support/issues/4594

[2018-06-04 10:18] #4638 closed, assigned to nobody

[2018-06-04 10:23] thecuriousdev commented on #4637
@palakpatel07 thanks for reporting this issue. We'll look into this.

And please provide a screenshot of this.

[2018-06-04 10:34] thecuriousdev commented on #4635
This may be related to a known issue where Postman doesn’t launch with certain GPUs. A workaround for this issue involves disabling your GPU, and detailed instructions on how to do that can be found via the link below.

- https://github.com/postmanlabs/postman-app-support/issues/4594

[2018-06-04 10:45] thecuriousdev commented on #4634
@WRCarlile thanks for reporting this issue. Can you help us by providing your computer spec (model, gpu, etc)?

This may be related to a known issue where Postman doesn’t launch with certain GPUs. But so far only windows users reported this issue.

- https://github.com/postmanlabs/postman-app-support/issues/4594

[2018-06-04 11:07] thecuriousdev commented on #4628
@ThibaultVlacich thanks for reporting this, We'll have a look into this.

[2018-06-04 11:46] thecuriousdev commented on #4630
Hey @naveenkumarmallappa thanks for reporting this, are you still facing this issue? May be its because of the AWS outage that happened last week.

[2018-06-04 12:22] SamvelRaja commented on #4625
@c-warnick  Thanks for bringing this to our notice.

As far as I researched, the [HTTP/1.1](https://tools.ietf.org/html/rfc2616#section-3.2) standard, which uses  [URL scheme]( https://tools.ietf.org/html/rfc1630) standard specifies `&` is a `safe` character that need not to be encoded.   We will keep this in track and will update the thread once it is fixed from our end.

[2018-06-04 12:27] ghost commented on #2195
+1. Postman is supposed to speed up the development, right? Add a setting for "do not ask to save" on tab close already! Make it false by default if you are worried about users losing work.

[2018-06-04 12:28] SamvelRaja commented on #4626
@funketyme  we are having an issue in setting up the cookies for secure end points in our latest release. Could you confirm that is the cause for the issue you are facing.
We fixed the same in our canary version, that's why it is working there.
Might be related to https://github.com/postmanlabs/postman-app-support/issues/4581

[2018-06-04 12:30] SamvelRaja commented on #4629
@ogryzek  @TheAllThing  Please feel free to re-open this issue if still persist.

[2018-06-04 12:30] #4629 closed, assigned to nobody

[2018-06-04 12:36] SamvelRaja commented on #4640
@massenz  Thanks for bringing this to us. We will push the fix also keep posted on the status here.

[2018-06-04 13:06] Sojaner commented on #4641
It appeared after the 6.1.3 update @thecuriousdev. I had been using the Postman for a long time.
And it's right when I'm in a super tight deadline for releasing a web api project. :(

[2018-06-04 13:06] palakpatel07 commented on #4637
@thecuriousdev Thanks for reply.
i have attached screenshot of missing icon.
![screenshot_of_lost_icon](https://user-images.githubusercontent.com/33681609/40919123-348a4434-6826-11e8-9ff8-2dc62a644548.png)

[2018-06-04 13:14] alanatkinson opened #4642 "Postman stuck on splash screen after update"
After self-upgrading to 6.1.3 on a Mac running High Sierra 10.13.4 the postman app fails to get past the launch screen regardless of how long one waits.

The last thing you see is "Preparing your workspaces... This may take a few minutes"

The log from devtools shows the following:

Uncaught (in promise) Error: Callback was already called.
    at vendor-shared.js:100559
    at vendor-shared.js:125

[2018-06-04 13:49] markbeij opened #4643 "Obtain OAuth 2.0 access token with custom callback URL"
**Describe the bug**
I cannot retrieve an oauth 2.0 access token using a custom callback URL

**To Reproduce**
Steps to reproduce the behavior:
1. Create a new resuest
2. Go to tab 'Authorization'
3. Set type to 'OAuth 2.0'
4. Click 'Get New Access Token'
5. Specify settings to obtain a token from an STS you have access to (Azure AD in my case). Select Grant Type 'Authorization Code'. Specify the

[2018-06-04 15:19] fenixphp commented on #2819
+1

[2018-06-04 15:33] WRCarlile commented on #4634
![screen shot 2018-06-04 at 8 33 00 am](https://user-images.githubusercontent.com/17822226/40926799-feed3a24-67d1-11e8-9e63-c0f2f58542a4.png)

[2018-06-04 15:42] hrobertson commented on #285
Looking forward to non-persisted variables.
Any update @a85 ?

[2018-06-04 15:47] egpotter commented on #4629
It is not syncing for me right now... Only shows connecting, and the console shows:
error fetching Error: Could not fetch from sync. Socket not connected.

[2018-06-04 16:29] egpotter opened #4644 "Postman native app for linux is not syncing"
The bug is similar to #4629, #4323 and  #4401. I can update my linux native app and now the sync stopped working. It only shows connecting, but nothing ever gets updated. Already tried logging out and logging in again,  disabling/enabling my wifi, and even restarted my pc. Nothing solved the issue

I have a native app running on Fedora 27 64-bit. Gnome version is 3.26.2.

My username is e.gischkow

[2018-06-04 16:30] egpotter commented on #4644
Postman console shows this:
![image](https://user-images.githubusercontent.com/4072069/40929552-67196124-6825-11e8-94bf-110db00ef3dc.png)

[2018-06-04 17:51] danielaguilmallea opened #4645 "tool for manipulating json response"
A tool for manipulating json response (like a http://jsonviewer.stack.hu/ and others) and the posibility of manipulating response like in the console of the browser inspector

## App Details:
Postman for Linux
Version 6.1.3
linux 4.13.15-300.fc27.x86_64 / x64

## Issue Report:
 1. Obtain the response data in json format
 2. Manipulating result (ie response.size = elements in list)

[2018-06-04 18:56] miqueet commented on #1321
Curious if socks 5 proxy is going to be implemented into the standalone app. Since this appears to be a port from chromium via electron it should be able to set its own socks 5 proxy.

Since it looks like this is available in electron and is documented well it shouldn't be difficult to implement.  https://github.com/electron/electron/blob/a0cac0555570b1c55d011d72e32f48ef6e0c9e28/docs/api/session.m

[2018-06-04 20:27] Gordon-Fredericks opened #4646 "Upgraded to 7 day free Pro version. Now can't create or duplicate Collections"
Please read through the [guidelines](https://github.com/postmanlabs/postman-app-support#guidelines-for-reporting-issues) before creating a new issue.

**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise descriptio

[2018-06-04 20:39] funketyme commented on #4626
Yes, that is it!  Thank you.  All of our cookies are secure, and required for our load balancer config.  This is definitely a duplicate of #4581.

[2018-06-04 20:39] #4626 closed, assigned to harryi3t

[2018-06-04 20:46] Gordon-Fredericks commented on #4646
Reinstalled Postman. signed out and I can create again. But I lost all my collections

[2018-06-04 20:55] josh-cain commented on #3290
+1.  System trust store configured correctly, but Postman will not recognize environment trust store, or allow me to customize the one it's using.  Bad form.

[2018-06-04 23:34] ben-sharp commented on #1104
+1

[2018-06-04 23:34] DallinEvans commented on #1104
+1

[2018-06-04 23:44] MikeCook9994 opened #4647 "Support for PFX / P12 certificate format"
Explicit duplicate of [#2494](https://github.com/postmanlabs/postman-app-support/issues/2494) for visibility.

The last time there was any input on this issue at all was over a year and a half ago. It's been commented on many times and we've asked for status updates and we've gotten nothing. I don't want to clutter your bug page with obvious duplicates, but I also would love this feature request t

[2018-06-05 02:13] blikblum commented on #1429
I created a tool to replace part of the path and the host. See at https://codepen.io/blikblum/pen/WywrGy?editors=1010

It's possible to adapt to different needs. (JS knowledge required)

[2018-06-05 04:16] Allan-Gong commented on #2801
+1

[2018-06-05 04:33] naveenkumarmallappa commented on #4630
Yes I am still facing issue. Collection is not running automatically. I changed time to 10 AM. but collection run successfully when my pc is on running otherwise it will get failed.
I attached screen shot for referral.

It showing error on JSON parser in test case. But it is all fine when I am executing collection runner manually.

![screen shot 2018-06-05 at 9 59 16 am](https://user-images.github

[2018-06-05 05:37] prashantagarwal commented on #1429
Hey guys, we are actively working on a feature that will enable you to do bulk replace operations, similar to what editors have as Find & Replace. **Find** feature is already present in Postman and very soon you can perform replace on those found results.

We will be putting this out on our Canary version of the app this week. I will keep you updated about its release.

[2018-06-05 06:04] Moes81 commented on #2489
Yepp, also here. But I'm still running v6.0.9

[2018-06-05 07:16] tracylvmj opened #4648 "Postman runner skip cases when one collection contains over 400+ requests"
**Postman cases are skipped in runner when collection contains too many requests**
Our company using postman to do API automation for new products.
We separate cases by different collections and organize by different folders. But realized some cases are skipped for no reason when running with postman runner.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Postman runner, select the col

[2018-06-05 07:17] tracylvmj commented on #4648
Does postman has a limit for how many request it can support within one collection?

[2018-06-05 07:54] ionutincau opened #4649 "Scroll not working on Collections panel"
version Postman v6.1.3

[2018-06-05 08:37] rakeshk1987 opened #4650 "The order of the Test is not coming as correct in the Postman Test Result Tab"
**Describe the bug**
The order of the Test is not coming as correct in the Postman Test Result Tab, Collection Runner and Newman Results. The Test that are written in the first line is displayed last in the Test Result Tab.

Please refer the screenshot attached for more details.

**Screenshots**
Screenshot is attached

**App information (please complete the following information):**
Postman for Wi

[2018-06-05 08:50] rakeshk1987 commented on #4650
Attaching the Screenshot here as I couldn't attach it in the Main thread.

![postmantest](https://user-images.githubusercontent.com/38182578/40965520-d7ac209a-68a5-11e8-9b33-fb5b3f3dba3b.png)

[2018-06-05 10:05] Goufalite commented on #2022
I also cannot start Postman, but I went further : it worked until I created a account after doing things offline for a moment.
It is stucked at the loading page (with the spinning planets gif). But when I go to the console (Ctrl+Shift+I) it says "Could not find default workspace while booting session" and then "Cannot read property 'getShortcuts' of undefined".

Edit : **Solved !**
- Launch Postma

[2018-06-05 10:18] thecuriousdev commented on #4641
@Sojaner I am very sorry about that :( , Have you tried the work around mentioned in https://github.com/postmanlabs/postman-app-support/issues/4594?

[2018-06-05 10:57] Neurozone commented on #3566
+1, please support it

[2018-06-05 12:18] pregress commented on #2701
Any update when will this be supported? More and more companies and api's are migrating to http 2.0

[2018-06-05 12:33] mrccnt commented on #2701
As far as I can see it still isnt on the roadmap yet... Not even long term...

[2018-06-05 12:52] Charles-AndreMartin commented on #1104
+1

[2018-06-05 12:59] science695 commented on #3290
Even if there was some "hack" way to let us add the root CA to postman manually, it would be a great help.

Where does Postman keep its root CAs?

[2018-06-05 13:57] yan-khonski-ca commented on #4167
Hey, not fixed!
2018 06 05 - I updated Postman - Windows 7, x64, I have two monitors. The Postman does not work. Please, fix.

[2018-06-05 14:14] Sojaner commented on #4641
Thanks for the workaround @thecuriousdev. Seems to be working again. Wish I had it 2 days ago. :)

[2018-06-05 14:38] daveplunkett commented on #4079
+1

[2018-06-05 15:27] cfretty commented on #3999
We have run into this issue as well
Postman for windows v6.1.3

Now that Chrome app is being deprecated, this is going to be a big issue for my team.

[2018-06-05 15:51] OneCrazyRussian commented on #3009
This was remedied a little in now deprecated Chrome Apps, but in "native" ones (I can't stand calling Electron apps native) it's downright unbearable for years already. Put a long base64 or JSON string without line breaks into Postman - it hangs for minutes while thrashing its own database and your disk.

Either undeprecate Chrome apps (as they had better perf than Electron) or create a proper Nat

[2018-06-05 15:52] DanH42 commented on #4327
Honestly, I would call this a bug, not a feature request. I just wasted a bunch of time trying to troubleshoot a nonexistent issue because the generated cURL snippet does **not** replicate the request sent by Postman, and I was assuming that they would be identical (why else would this functionality exist?). I can't find a single place in Postman where it shows the actual, complete request it's re

[2018-06-05 16:10] harryi3t commented on #4634
Can you try the solution posted on https://github.com/postmanlabs/postman-app-support/issues/4594

Since you are on the mac, instead of setting the variable from the UI you can just use it directly from the command line
[code]

This will start the app with GPU turned off. For confirmation, you can look for the first line `Disabling hardware acceleration` in the console logs

If this fixes the issu

[2018-06-05 16:18] alovato88 commented on #4128
I'm still seeing the problem on Mac and on the latest version of Postman. Goes to black screen within a minute of starting. I just reinstalled the app and it's still happening.

[2018-06-05 16:27] S33G opened #4651 "Body type is reset when swapping to/from Two pane view"
Very small thing I noticed which I thought I'd report.

**Describe the bug**
When I swap between `Two Pane view` and `Single Pane view` the body type resets to the saved request in the collection.

**To Reproduce**
Steps to reproduce the behavior:
1. Using an existing request in a collection
2. Change the body type e.g. JSON / Text / XML etc to anything but the one you have saved in the collection

[2018-06-05 17:05] egccir commented on #3690
I've had intermittent issues with this in v6.1.3.  But for me it seems to be related to whether the returned results are syntactically-correct JSON or not.  That doesn't make much sense, but there it is.

[2018-06-05 17:14] jpmo22 opened #4652 "Headers preset list is going up"
**Describe the bug**
The headers preset list is going up when there are too many presets. I have more than 50 defined.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Headers' tab
2. Click on 'Presets' dropdown
3. See unwanted behavior

**Expected behavior**
The list should go down and have a scrollbar.

**Screenshots**
![postman-bug-presets](https://user-images.githubusercontent.com/

[2018-06-05 18:55] WRCarlile commented on #4634
Thanks for the response. This did not seem to work for me. I can share privately what it is saying in the log if you would like.

[2018-06-05 19:01] WRCarlile commented on #4634
This could be part of the problem:
Postman Helper[] Couldn't set selectedTextBackgroundColor from default ()

[2018-06-05 20:33] connorsadlervelo commented on #4321
Just happened to me on Mac OS
Collection ended up in a random order so I have to dump my work and revert to the version from git
Is there a fix/workaround for this please?

[2018-06-05 22:39] shamasis commented on #4131
One thing we need to do in order to start supporting async is to use `async_hook` node API. https://nodejs.org/docs/latest-v9.x/api/async_hooks.html

The above is experimental and also we would need to deprecate Node prior to v9. As such, there's a long wait on our way. :-)

[2018-06-05 22:55] Alton-Powell commented on #1719
Click on Settings and then on the General tab you will find "Two Pane View". Turn it on.

[2018-06-06 01:24] Spelieye opened #4653 "Set-Cookie is not working"
Please read through the [guidelines](https://github.com/postmanlabs/postman-app-support#guidelines-for-reporting-issues) before creating a new issue.

**Describe the bug**
Set-cookie is not setting or saving cookies when a HTTP request is made.

**To Reproduce**
Steps to reproduce the behavior:
1. Make a POST query
2. Click Send then Headers. The Set-Cookie shows a new cookie to be set/saved
3. Cl

[2018-06-06 01:36] nchen-lv commented on #2801
+1

[2018-06-06 05:02] fschai89 commented on #4321
Can we have sort request function? Cannot cope with this problem, extremely slowing down our work. Thanks.

[2018-06-06 05:28] sumadhuram456 opened #4654 "Saved http request does not show all http verbs"
Hi,

I saved a http request into a folder in a collection. when I opened the request again, all http verb actions are not available for the saved request.

![2018-06-06_1053](https://user-images.githubusercontent.com/25096417/41018630-5eb1a916-6978-11e8-8b15-b4c947e232a5.png)

[2018-06-06 06:32] harryi3t commented on #4634
@WRCarlile Sure, you can share the complete logs at harendra[at]getpostman.com
Also, if you are able to open dev tools, you can share the screenshot of that too.
It can be opened via `view -> Developer -> Show DevTools (Shared)`

[2018-06-06 06:52] AndrewNapier commented on #2061
We would like to utilise sending large files to one of our end-points as part of our automated test-suite.  The fact that the stored collection won't include the file-path means we can't do this.

Could you please provide some sort of likelihood of this issue being addressed?

Thanks in advance.

[2018-06-06 06:54] SamvelRaja commented on #4576
@ghisvail  Thanks a tons for taking your time in adding postman to flathub.
Unfortunately, we can't put Postman into flathub.

Hope you know postman handles lots of sensitive user data and we ship features to a vast user base, the updates we push to users are in staged manner. Since, Postman doesn't have proper crowd in its other channels, we are following different strategy  for providing staged

[2018-06-06 07:36] aman-singh-parihar commented on #4594
The work-around proposed by @harryi3t worked for me.
Thanks @harryi3t

[2018-06-06 08:51] microcipcip commented on #4635
@thecuriousdev thank you, I was having problems for two weeks! Definitely a gpu issue.

[2018-06-06 08:52] terrencewei commented on #4581
Hey guys, any update about release plan for fixing this bug?

[2018-06-06 08:54] terrencewei commented on #4653
Duplicate with https://github.com/postmanlabs/postman-app-support/issues/4581, and their guys still working on it.

[2018-06-06 09:42] shubsaini09 opened #4655 "Inconsistency in history of API requests"
**Describe the bug**
History disappears automatically. As seen in the below image i don't see daily history of my requests. Some random date's history is preserved by postman. Is it a expected behavior? What is the maximum period of time one can see their history?

**Expected behavior**
History report for daily should be visible.

**Screenshots**
![image](https://user-images.githubusercontent.com/

[2018-06-06 09:56] thecuriousdev commented on #4641
@Sojaner good to hear that :), I am closing this ticket, we'll track the progress of this issue in https://github.com/postmanlabs/postman-app-support/issues/4594

[2018-06-06 09:56] #4641 closed, assigned to harryi3t, thecuriousdev

[2018-06-06 09:57] thecuriousdev commented on #4167
Hey @yan-khonski-ca, can you provide some more details about the issue you are facing?

[2018-06-06 10:02] senpl commented on #4576
Maybe just not show update window until Postman will be able to handle auto-update. Most users don't care about new features, They just want to use app. And annoy them with window that is not helpful to them is waste of everyone time. When You figure out how to make auto-update for linux show that info. Long notification with link to new version would be enough to this interested in update.

[2018-06-06 10:09] SamvelRaja commented on #4576
@senpl  Hope we figured out at the right moment for you 😄.  With our 6.1.0 version we actually shipped with Linux auto-update. http://blog.getpostman.com/2018/05/16/postman-6-1-linux-auto-update/

[2018-06-06 10:14] dannoso commented on #4642
Same here, the problem seems incompatibility with the old database. you can delete the postman dir in Application Support. It launches but of course is empty. This is very annoying as i lost al my data.

[2018-06-06 10:19] dannoso commented on #4331
I had to downgrade as the new version just installed on mac os doesn't launch

[2018-06-06 10:22] avmohan commented on #1321
A workaround to this issue is to convert the socks proxy into an http proxy using https://github.com/oyyd/http-proxy-to-socks

[2018-06-06 10:58] iamthevoid commented on #2256
@eMarv A lot of thanks and lot of love !!! )) You saved my day

[2018-06-06 11:38] omar-haris commented on #4009
Any news ?

[2018-06-06 13:59] GiuseppeGiacoppo commented on #6682
+1

[2018-06-06 14:19] greenais commented on #4262
The same here:
- busy mouse pointer blinking repeatedly
- several postman instances running according to Task manager (the most hungry one consumes about 30% of CPU)
- empty pale main window for more than 180 seconds (menu is resposible though)

Started after recent update from app itself.
Tried to wipe it out (from .../AppData/...) and reinstall - no better.

Postman: 6.1.3
Windows 8.1/64

UPD:
P

[2018-06-06 15:16] #4592 closed, assigned to nobody

[2018-06-06 15:54] derKrischan commented on #3290
+1. Another upvote for this issue. We need a possibility to configure the CA or a truststore. Disabling SSL at all is bad style.

[2018-06-06 17:17] prashantagarwal commented on #1429
Hey Everyone we have released this feature on our Canary apps. We would love to have your feedback on this. You can download Canary apps from https://www.getpostman.com/canary
<img width="1199" alt="screen shot 2018-06-06 at 10 45 54 pm" src="https://user-images.githubusercontent.com/3762808/41054279-8f33214c-69db-11e8-98a3-5b5f8bac8cf1.png">

[2018-06-06 18:10] rstrauss-logyx commented on #4360
I am having the same problem on 6.1.3 on a Mac.
Logging out, restarting and logging in stopped the alerts.

[2018-06-06 18:51] runev commented on #3646
+1

It's especially useful if you're testing against an Open Banking APIs in Europe which follows Berlin Group's XS2A Framework Implementation Guidelines, which pretty much only allows HTTP message signing to use asymmetric encryption (e.g. rsa-sha256 or rsa-sha512) using the approach described by [https://datatracker.ietf.org/doc/draft-cavage-http-signatures/](draft-cavage-http-signatures-10).

I

[2018-06-06 19:08] runev commented on #1607
+1

[2018-06-06 19:08] runev commented on #3646
+1

[2018-06-06 19:08] runev commented on #3646
+1

[2018-06-06 20:06] iselenium4 commented on #4167
6/6/2018 -- The app no longer shows up for me as well (went as far as re-installing and unplugging my 2nd monitor to try and combat the problem).  Re-installed version win64-5.3.2 and the problem persisted.  App appears to be running in windows, shows up in the task manager, and has a small hover window on the windows taskbar, but does not have a physical screen to interact with.
![image](https://

[2018-06-06 21:02] makdeniss commented on #2082
same here: response.bin instead of xlsx.

[2018-06-06 22:04] WRCarlile commented on #4634
Postman is working again. Just restarted my machine and it started working again. Sorry. Thanks for the help.

[2018-06-06 22:53] rchupick commented on #3502
echoing Poisa above -- it seems the documentation under 'breaking the event down' shows diffs but i'm not seeing how to access them: https://www.getpostman.com/docs/v6/postman/team_library/activity_feed_and_restoring_collections

@SamvelRaja  is this still available?

[2018-06-06 23:49] angamardhana commented on #4633
So badly needed.  I have at least 20 to 30 Collections now. Every time I change something in any of them I have to export it, find the right directory to save, then save it, and then code commit to Git. Its a royal pain. Automaticallly writing the collection to local dir would save so much trouble.
A much needed feature.

[2018-06-07 00:39] michalrames opened #4656 "Code generation - typescript/angular services"
**Is your feature request related to a problem? Please describe.**
Not a problem. New feature request.

**Describe the solution you'd like**
I would like to be able to generate angular 4/5/6 code (injectable services and models) similarly to how swagger does it https://generator.swagger.io/. Please note, there are also npm modules for angular code generation from swagger.

**Describe alternatives

[2018-06-07 03:18] BraianS commented on #1104
+1

[2018-06-07 04:16] brazenest-zz commented on #283
@harryi3t Are we going to see this feature implemented?? I'm really wondering why Postman lacks these fields 5+ yrs after OP's report, especially now that 1) WordPress is a HUGE use case for the `oauth_verifier` field, and 2) Postman is a HUGE app for developers many of whom are interacting with the WP REST API...

Please provide the community with a status update. Thanks! 😺

[2018-06-07 05:04] thecuriousdev commented on #4167
@iselenium4 what's the app version? if its an older version (5.x.x) try to update to the latest version of postman.

[2018-06-07 05:19] atom0s opened #4657 "Postman 6.1.3 (32 and 64bit) Will Not Start"
Please read through the [guidelines](https://github.com/postmanlabs/postman-app-support#guidelines-for-reporting-issues) before creating a new issue.

**Describe the bug**
After upgrading to the latest Postman (6.1.3) for Windows, the application will not start. Instead, it just constantly keeps trying to create new Postman.exe processes over and over non-stop.

**To Reproduce**
Steps to reproduce

[2018-06-07 05:53] SergejVukovic opened #4658 "Native app stuck on sending"
App type : Native app
Postman Version : 6.1.3
OS : Mac OS X 17.5.0 / x64

When i try sending request to localhost endpoint it gets stuck on sending indefinitely.  I used Laravel 5.6 to create API and when i add return statement at end of my method and try sending request using Postman it just stands at sending.

I tried deleting app and reinstalling , turned off proxy and SSL certification but sti

[2018-06-07 05:57] SamvelRaja commented on #4331
@dannoso can you elaborate a bit on your issue. We highly not recommend people to use a lower version.

[2018-06-07 06:22] sivcan commented on #4649
@ionutincau Could you provide a gif / a video as to where you're facing this issue and how can we reproduce this ?

[2018-06-07 06:22] rajki commented on #2838
Any update on this?

[2018-06-07 06:52] SergejVukovic commented on #4658
Found out what was causing problems for me , it was antivirus BitDefender. After removing it and clearing everything Postman works .

[2018-06-07 06:52] #4658 closed, assigned to nobody

[2018-06-07 07:09] rishulmatta commented on #2557
Has this feature been developed? Can we use the saved example in the test scripts?

[2018-06-07 07:10] oaxoh commented on #4649
Previous version:
![1](https://user-images.githubusercontent.com/15733702/41083814-718832b6-6a32-11e8-9cc7-b7a7f11020e7.gif)
Postman v6.1.3:
![2](https://user-images.githubusercontent.com/15733702/41083830-7e1a2462-6a32-11e8-804a-ee4c954f0de7.gif)

[2018-06-07 07:21] ianedmo commented on #4360
I've been having the same problem on 6.1.3 on Windows.
Word of warning - I did the same as the comment above but when I've logged back in all my work from yesterday is gone, despite clicking the sync button many times yesterday.

[2018-06-07 07:24] jacktator commented on #3822
+1 for this feature!

[2018-06-07 07:25] jacktator commented on #3822
@naiger

[2018-06-07 07:28] thecuriousdev commented on #4657
Hey @atom0s, thanks for reporting this

This may be related to a known issue where Postman doesn’t launch with certain GPUs. A workaround for this issue involves disabling your GPU, and detailed instructions on how to do that can be found via the link below.

https://github.com/postmanlabs/postman-app-support/issues/4594

[2018-06-07 08:46] sivcan commented on #4649
@edonelezovic Thank you for reporting this.
Apologies for the inconvenience caused, I was able to reproduce it and we'll look into fixing this soon.
I'll update this thread once the fix is out.

[2018-06-07 08:49] sivcan commented on #4652
Duplicate of https://github.com/postmanlabs/postman-app-support/issues/4649

[2018-06-07 08:49] #4652 closed, assigned to nobody

[2018-06-07 08:51] atom0s commented on #4657
Thanks @thecuriousdev that did fix the issue for me.

This seems more like an OS issue than a GPU one I think. I'll leave more details on that ticket though.

[2018-06-07 08:52] atom0s commented on #4594
Windows 8.1 Pro as well, desktop with a single GeForce GTX 970. This, to me, looks more like a Windows 8.1 issue than a problem with the graphics card. (I do not have a second card or integrated graphics for this to fall back on but the environment variable did work for me as well.)

[2018-06-07 09:06] zoso200 commented on #4360
Had a sync issue on one of my environments which I fixed by exporting the environment, re-starting the application and then importing the environment.

I can only say from my experience but this happened when I was making multiple changes to collections and environments - it seems that sync is just tripping up when too much is going on at once? Had no issues since for the past few weeks prior to y

[2018-06-07 09:08] sivcan commented on #4648
@tracylvmj I made a collection with 440 requests and ran it with the collection runner.
I was maintaining a count variable and a count array just to check if some specific pattern would show up where the runner might fail/skip tests or the requests.

Every test passed and every single request was executed in the correct order.
![image](https://user-images.githubusercontent.com/12631777/41092224-0e

[2018-06-07 09:47] sivaserr commented on #3608
Thanks for the update @kamalaknn , I have just tried with the Canary version for windows 64 bit and it workes fine for me.

[2018-06-07 10:50] dsnkostic commented on #4657
+1 For this issue.
As soon as I updated Postman to the newest version 6.1.3. on Windows 8.1, it just won't start. All what I see is empty Postman window with only a border. No menus, no nothing, and mouse icon is constantly switching between 'loading' and 'normal'.

[2018-06-07 10:51] SamvelRaja commented on #4642
@alanatkinson  can you share the complete logs from devtools?

You can `right-click -> Save As` in the console.

This will give us a complete picture of what goes wrong.

[2018-06-07 10:52] prashantagarwal commented on #4657
@dsnkostic please refer #4594 for the workaround.

[2018-06-07 10:52] #4657 closed, assigned to harryi3t

[2018-06-07 10:57] #4634 closed, assigned to harryi3t

[2018-06-07 11:01] tracylvmj commented on #4648
@sivcan Thanks so much for your investigation.
We  do use postman.setNextRequest()  in our scripts. But what we noticed is some folders under collection are skipped during running process. I can mail you our collection output file, if that's helpful for your investigation.

[2018-06-07 11:06] SamvelRaja commented on #4646
@Gordon-Fredericks  can you sign into the Canary app, and try to perform the create & duplication. If it throws the same error kindly share the logs from
View -> Developer -> Show devtools (shared)

[2018-06-07 12:14] Kaushal28 opened #4659 "Cookies are not being Saved in v6.1.3"
I've an API which allows login and the responses cookies. This Cookie is being displayed in 'Cookies' tab of the response, but it is not being saved in the cookies section. And also if I open new tab, it doesn't displays cookies which received previously.

Platform which I'm using: Windows 10
Postman version: 6.1.3

[2018-06-07 12:28] mccannt commented on #4019
@sivcan @prashantagarwal

So this is happening to a co-worker of mine now as well.
I had him grab the Dev Console logs when this happened.
He is running on OSX as well using v6.1.3 of the Postman App.

Can we have this re-opened please?

`runner.js:9796 Errors were encountered running your collection:
Object
message
:
"Cannot read property 'toString' of undefined"
name
:
"TypeError"
stack
:
"TypeE

[2018-06-07 12:31] Routedworld commented on #4659
Seeing the same thing on MAC 6.1.3. Just downgraded to 6.0.10 to workaround.

[2018-06-07 12:45] ghost opened #4660 "Ability to remove all collections/environments"
It would be great to have the ability to delete all collections or environments at once

[2018-06-07 12:54] sivcan commented on #4019
@mccannt I can see there are errors with the variables being used - `PostmanVariable.toString`

Are you able to run the same requests in the main request builder and not the collection runner?

Are there any errors there?

[2018-06-07 12:58] ironmanMA opened #4661 "GET request with Body"
there are some APIs that are designed to take JSON body as param.
Eg: Elastic search APIs.

right now i use a python util for this.
Postman could support this?

[2018-06-07 12:59] sivcan commented on #4648
@tracylvmj Yes, I made about 10-11 folders before running those 400+ requests.
However, since you've mentioned that the same issue comes with Newman then the issue lies somewhere else (and not only in the collection runner).

By output file you mean the exported run / the exported collection?

[2018-06-07 13:07] sivcan commented on #4648
@tracylvmj Can you check whether your collection run (from the app) and the run made through Newman is failing at specific cases and are the same?

For eg.: Request number 324, 371 and 322 failed in both Collection Runner and Newman.

Can you verify this from the exports?

[2018-06-07 13:11] pratik97 commented on #4659
I am also facing the same issue.

[2018-06-07 13:33] iselenium4 commented on #4167
I had 5.3.2, but installing version 6.1.3 caused the same problem.

[2018-06-07 13:42] dhineshwiz commented on #4660
hey @zhak thanks for feature request, will add it as feature request.

[2018-06-07 13:53] dhineshwiz commented on #4661
Hey @ironmanMA  thanks for the suggestion, will add it as feature request

[2018-06-07 13:57] dhineshwiz commented on #4656
Hey @michalrames  thanks for suggestion, will add it as feature request

[2018-06-07 14:02] dhineshwiz commented on #4654
Hey @sumadhuram456, we have fixed this UI issue. can you please update to latest version of postman and check.

[2018-06-07 14:07] lexschulz commented on #3127
In my case one of the keys in the header was wrong. After trying different settings in File->Settings->General without luck I opened the Postman-console and there was the error message:  Error: Header name must be a valid HTTP Token ["client_secret	ClientSecret"]. So a copy & paste error in one Header Key was the problem. Maybe it helps.

[2018-06-07 14:11] MichaelBayDeveloper commented on #1066
+1

[2018-06-07 14:12] dhineshwiz commented on #4651
Hey @charj I couldn't reproduce this issue, Its working fine. Please recheck once, if you still face send us the screenshot

[2018-06-07 14:38] steve418 commented on #3897
Any update on this? Due to company policies I will not be able to use the app until the install directory can be changed.

[2018-06-07 14:38] dhineshwiz commented on #4645
Hey @danielaguilmallea if you want have a formatted json of the response and manipulate the view, you can use the postman console. For editing you can use body tab.

[2018-06-07 14:47] harryi3t commented on #4661
@ironmanMA Seems this feature request is being tracked here https://github.com/postmanlabs/postman-app-support/issues/2729
Closing this in favour of the original issue.

[2018-06-07 14:47] #4661 closed, assigned to a85, preethammavin

[2018-06-07 14:50] harryi3t commented on #4653
Yes, the fix is already available in our [canary build](https://www.getpostman.com/canary) and will be available in our next production release (6.2.0).

[2018-06-07 14:50] #4653 closed, assigned to harryi3t

[2018-06-07 14:53] harryi3t commented on #4581
Right now, the fix is only available in our [canary build](https://www.getpostman.com/canary).
In production, it will be available as part of 6.2.0 release.

[2018-06-07 14:53] harryi3t commented on #4659
The fix is already available in our [canary build](https://www.getpostman.com/canary) and will be available in our next production release (6.2.0).

Also, duplicate of https://github.com/postmanlabs/postman-app-support/issues/4581

[2018-06-07 14:53] #4659 closed, assigned to harryi3t

[2018-06-07 16:33] robertkuhar opened #4662 "Code, cURL fails to expand the environment substitutions"
**Describe the bug**
Code, cURL fails to account for environment expansions.  This greatly reduces the utility of this feature as I have to go re-edit the result rather than just "Copy to Clipboard" and run in a shell.  Yuk.

**To Reproduce**
Steps to reproduce the behavior:
1. Select a request with a {{something}} environment substitution
2. Select an environment in the drop down
3. Send the requ

[2018-06-07 18:01] poisa commented on #3502
@rchupick I can't talk about the current version but I think with the previous one, the diff could only be seen online (if you logged in to the actual Postman webpage) and Postman (the app) only showed the brief change set.

[2018-06-07 18:28] zakiaziz commented on #2691
Hey @madebysid it's been a few months. Don't want to be pushy, but would love an update! 😄

[2018-06-07 18:46] frauss commented on #3089
+1

[2018-06-07 19:01] jamesgoodhouse opened #4663 "Silently Removes Multiple Slashes After Base URL"
**Describe the bug**
Multiple slashes after the base URL are being silently removed by Postman.

**To Reproduce**
Steps to reproduce the behavior:
1. Start a local webserver
2. Use Postman to make a GET request to `http://localhost///route`
3. Observe in the webserver logs that the request came in as `/route`
4. From the CLI, run `curl http://localhost///route`
5. Observe in the webserver logs tha

[2018-06-07 19:05] chrisron95 opened #4664 "Ability to define options when starting a runner"
Please read through the [guidelines](https://github.com/postmanlabs/postman-app-support#guidelines-for-reporting-issues) before creating a new issue.

**Is your feature request related to a problem? Please describe.**
Not related to a problem, just something I would find very useful.

**Describe the solution you'd like**
It would be an immensely useful feature to have the ability to select options

[2018-06-07 20:16] bean5 opened #4665 "Can't leave or delete my own team workspace"
Please read through the [guidelines](https://github.com/postmanlabs/postman-app-support#guidelines-for-reporting-issues) before creating a new issue.

**Describe the bug**
When I try to delete via the app, it doesn't let me click on "Delete". On the website, I click delete, and it says "You are not permitted to perform the action."

If I try to leave, it says I am not allowed to remove all members

[2018-06-07 20:44] mitchmcalister commented on #3174
+1

[2018-06-07 20:54] remisbaima commented on #4038
I have the same issue

[2018-06-07 22:54] failpunk opened #4666 "Upgrading to Postman 6.1.3 has broken my app"
**Describe the bug**
I used the Postman in-app update to upgrade to V6.1.3 and now my Postman Mac application will not start. It hangs at the splash screen indefinitely.

**To Reproduce**
Steps to reproduce the behavior:
1. Opened Postman
2. Went though app auto-update process
3. Upgraded to 6.1.3
4. App will not load

**Expected behavior**
The application should work.

**Screenshots**
The followi

[2018-06-07 23:11] angamardhana opened #4667 "Have the console window show up a tab with in the Postman App"
Problem :
When testing my scripts, it is frustrating to have to switch to a new window to look at the console every time I run scripts.
I have other apps open at the same time that need to be on (like Slack, Web browser etc).

It would be great to have the console show up as a tab right next to the "Tests" tab or before the "Authorization" tab  (right below the where the URL of the Request is)
Thi

[2018-06-07 23:15] failpunk commented on #4666
PostmanCanary Version 6.2.0-canary02 (6.2.0-canary02) seems to work fine.

[2018-06-08 00:01] ytang-legion opened #4668 "Can't see diff in Activity tab"
**Describe the bug**
see title when two team members in a team sharing a Collection and one of them try to make a change. The other team member should be able to see Activity plus the diff. But I can't see the diff

**To Reproduce**
1. Go to postman Version 6.1.3 (6.1.3). Pick an existing collection
2. type any change like adding a console logging in pre or test tab
3. Open another postman app Ver

[2018-06-08 03:19] bhanupinninti commented on #2225
same issue for me in latest 6.3.2 version...running from postman runner is throwing 403 socket error.. a behind the proxy
![image](https://user-images.githubusercontent.com/38074414/41137447-868f3848-6b1e-11e8-8ba6-c2d55e6f7af1.png)

[2018-06-08 05:53] sivcan commented on #4665
@bean5 The 'Team Workspace' and 'My Workspace' created by default in the app cannot be deleted.
These are special workspaces which will stay in the app.
You can remove all the members of your team from that workspace (at least 1 member should be there).

This is an intended behavior.

[2018-06-08 05:53] #4665 closed, assigned to nobody

[2018-06-08 07:02] markbeij commented on #4643
I hope someone can reproduce this issue. If I can help, let me know.

[2018-06-08 07:15] aking1012 commented on #1180
For Content-Encoding: gzip, it's looking like the only semi-reasonable way to do it is to smush it inside of the environment variable.  Still have to try it out, but https://github.com/beatgammit/gzip-js/blob/master/lib/gzip.js should be useful, since it's a single file gzip implementation.

[2018-06-08 07:38] sumadhuram456 commented on #4654
Hi, I am already using latest version 6.1.3 and i have this issue

[2018-06-08 07:38] thecuriousdev commented on #4167
@iselenium4 can you try pressing windows key + arrows key?

[2018-06-08 08:22] prashantagarwal commented on #4667
@angamardhana We are doing a lot of refactoring around tabs which should make this a possibility in future.

[2018-06-08 09:06] thecuriousdev commented on #4668
@ytang-legion thanks for reporting this issue, I'll look into this.

[2018-06-08 09:11] prateeksarda commented on #4128
This is stopping us from even getting single activity done using Postman app.
Facing same problem on my Windows 10 machine.

[2018-06-08 09:13] thecuriousdev commented on #4666
@failpunk thanks for reporting this issue. We made a fix for this and its available in canary..

[2018-06-08 09:13] #4666 closed, assigned to nobody

[2018-06-08 09:25] richja commented on #3312
+1

[2018-06-08 10:19] #3359 closed, assigned to prashantagarwal

[2018-06-08 10:20] #3407 closed, assigned to prashantagarwal

[2018-06-08 10:23] prashantagarwal commented on #3904
Can you guys update to Postman v 6.1.3 and see if it is still happening for you.

[2018-06-08 10:48] sivcan commented on #4623
@kaprolitik Kindly surround the values which are text in double quotes like so in the request body, because the JSON is invalid otherwise.

[code]

**Reason why it's invalid:**
Head over to: https://jsonlint.com/
Paste the following code and test it out:
[code]

It needs to be a string or some valid type but not plain text thus the underlying parsing logic converts the whole invalid JSON to a stri

[2018-06-08 10:48] #4623 closed, assigned to sivcan

[2018-06-08 11:01] swatthinan commented on #3126
@numaanashraf has this been implemented? " **you mean run requests in a collection in a specific order?**"

[2018-06-08 11:20] ivdelchev commented on #4387
Same here, that is a disaster

[2018-06-08 11:22] mccannt commented on #4019
@sivcan We can run these same requests in the Builder with no issues other than failed tests in some cases, but that is to be expected as we are testing 😄
Outside of that no one has noticed any errors or odd behaviour with the app when using the builder.

Only in the runner.

[2018-06-08 11:29] kaprolitik commented on #4623
@sivcan Look at my JSON data file! It has values in double quotes! It is correct format!
Once again I add the my JSON data file:
[code]

But when Postman Collection Runner uses this data file, it removes double quotes. It is issue!

@sivcan please read my issue report carefully and completely. Your previous comment does not have any information relating to the issue.

Thank you!

[2018-06-08 11:59] supdann commented on #1678
+1

[2018-06-08 12:26] sivcan commented on #4623
@kaprolitik Collection Runner is not removing any quotes from the data file.
Also, I know that your data file is correct and has the correct types.

However,
Using '**raw**' format won't provide you with the string type when the variables are being resolved and sent to it.

Raw text = no types nothing.

Writing the following in console prints so:
![image](https://user-images.githubusercontent.com/

[2018-06-08 13:17] connelhooley commented on #4602
Just realised the filename is in the exception message, my mistake.

I've just had Postman also fail to rename the "archive~" file in the same directory so its probably something on my work machine that's stopping the renames somehow.

[2018-06-08 13:17] #4602 closed, assigned to harryi3t

[2018-06-08 13:30] kaprolitik commented on #4623
Now it's everything clear! Thank you, @sivcan

[2018-06-08 18:15] vdespa opened #4669 "Export file does not properly update the request raw url"
**Describe the bug**
It seems that once a collection is imported and has duplicate query parameters, removing them will not fix the export.

**To Reproduce**
Steps to reproduce the behavior:
1. Import this file (remove txt extension):
[BUG.postman_collection.json.txt](https://github.com/postmanlabs/postman-app-support/files/2085520/BUG.postman_collection.json.txt)

2. Notice that is has duplicate

[2018-06-08 18:50] GYatesIII opened #4670 "When selecting text in a modal, releasing cursor outside of modal closes modal and doesn't save changes"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Edit anything that opens a modal with a large text area, like a collection
2. Select text in the text area and while holding down the mouse drag the cursor outside of the modal
3. Release the mouse and note how the modal closes without any confirmation prompt

**Expected b

[2018-06-08 21:46] kletkeman commented on #4108
MacOS -- this horrible behavior is pure torture ... I want to be able to copy any text from any panel and past anywhere else in the POSTMAN interface, and the behaviour is totally random. Sometimes it works and sometimes it does not.

[2018-06-08 21:47] kletkeman commented on #3691
The native app does not work on Mac ... copy/paste with the menu is random and deeply frustrating.

[2018-06-08 23:14] angamardhana commented on #4667
Awesome.

Thanks.

- jay

On Fri, Jun 8, 2018 at 1:22 AM Prashant Agrawal <notifications@github.com>
wrote:

[2018-06-09 05:52] jlchavis0844 commented on #2970
The issue with postman seems to be not handling  empty spaces in a CSV file. For instance:
Sending -
"myItem1": "{{i1}}",
"myItem2": "{{i2}}",
"myItem3": "{{i3}}",

With CSV of -
i1,i2,i3
Item1,,Item3

Will result in-
"myItem1": "Item1",
"myItem2": "{{i2}}",
"myItem3": "Item3",

You must use a text text qualifier of " .

"i1","i2","i3"
"Item1","","Item3"

will translate to -
"myItem1": "Item1",
"m

[2018-06-09 08:51] bohogirl commented on #4065
i still have this problem with the latest version,,
probably it only happen among AMD hardware?
i run it in AMD A8 4500M and R5 1600 both crash every few minus of usage,,
now iam going back to chrome postman,, everything works just fine

[2018-06-09 12:33] padmakshidivate commented on #2490
Hi,
May be this is little late to reply but it will be helpful to somebody stuck in between as i dont see any solution provided yet here.

Coming to the point - where we want to send JSON DATA/OBJECT and FILE as same time in single request using native POSTMAN:

step 1 : pass your json data as string in body as form-data. Where you have to put the json data in key value pair
 step 2: Deserialize t

[2018-06-09 12:41] Ajay7Patel commented on #2490
@padmakshidivate Thanks for responding. It's very helpful and worked for me.

[2018-06-09 20:17] Aypz commented on #3706
+1

[2018-06-10 08:57] vahids commented on #3904
Version 6.1.3 (6.1.3) still has this issue. on Mac with Command + C

[2018-06-10 15:07] superheri commented on #3312
+1 This is very needed in my case...

[2018-06-11 00:31] jawikufi commented on #4359
I just
`$ rm -rf ~/.config/Postman/SingletonCookie`
`$ rm -rf ~/.config/Postman/SingletonLock`
and it is working again.

[2018-06-11 03:50] jd-carroll commented on #4196
What more investigation needs to be performed? This would be an incredibly useful feature within our infrastructure and more than willing to help with any implementation.

Was this working within the Chrome App version of Postman?

[2018-06-11 04:20] stirp commented on #3104
@AlmogCohen same here except that adding cookie manually worked for me.
I'm wondering if there is a way to add cookies from Tests. I can get HttpOnly cookies from postman.getResponseCookie($cookieName).

[2018-06-11 06:48] thecuriousdev commented on #4670
@GYatesIII thanks for reporting this issue. I am able to re-produce this issue, We'll look into this.

[2018-06-11 06:52] sivcan commented on #4065
@iswaraP @cambiph - Can you guys head over to this URL and try the solution provided here:

1. https://www.getpostman.com/docs/v6/postman/launching_postman/installation_and_updates
2. Scroll down to **Troubleshooting Postman Updates**

The latest version of Postman App as of now is **v.6.1.3**

[2018-06-11 08:05] thecuriousdev commented on #4669
@vdespa thanks for reporting this issue. I am able to reproduce this from my end, will look into this.

[2018-06-11 09:14] altaraven opened #4671 "Please add application-wide auto-save feature."
Its 2018, come on!

[2018-06-11 09:27] cambiph commented on #4065
@sivcan seems to work for me, no BSOD so far ...
Thanks for the update.

[2018-06-11 09:57] thecuriousdev commented on #4671
@altaraven I'll tag this as a feature request.

[2018-06-11 10:08] Christophe93 commented on #3566
+1, please support it

[2018-06-11 10:25] josemoreG opened #4672 "Mac app crash when trying to save any new request"
Upgraded to Postman 1.6.3, mac app will crash whenever I try to save any new request.
Also tried Canary Release 2.0, same behavior.
Any way to debug or get native app log?

**To Reproduce**
1. Have an existent call, click "save as".
2. Edit any info and click "Save"
3. App will crash with "Something went wrong" (no info in the debug console)

**App information (please complete the following inform

[2018-06-11 10:32] josemoreG commented on #4672
I've tested downgrading to 6.0.10.
This is what I'm seeing there:
- Button "Save" is disabled when selecting one specific collection.
- Save works when selecting some specific collections.
- It's possible to save in some other collection and then move to the collection that's disabled.

Smells like something corrupted or limitation in the collection. Any ideas why the button "Save" is disabled?
Co

[2018-06-11 10:41] thecuriousdev commented on #4662
Hey @robertkuhar thanks for reporting this issue, I couldn't re-produce this issue from my end (Postman 6.1.14, macOS High Sierra). Is the variable getting resolved in places otherthan code generator?

[2018-06-11 10:46] thecuriousdev commented on #4672
@josemoreG thanks for reporting this issue, can you help us with some screenshots?

[2018-06-11 11:02] josemoreG commented on #4672
Sure, below is what I see in 6.0.10 (button Save disabled):
![image](https://user-images.githubusercontent.com/36407317/41228124-840b33be-6d77-11e8-8d6f-e091066d6a7e.png)

[2018-06-11 11:05] thecuriousdev commented on #4672
@josemoreG please update to our latest release (6.1.3+), and verify the same.

[2018-06-11 11:29] danielaguilmallea commented on #4645
Hi!
 thanks, but I refer to manipulating data like
*responseJsonData.employees.employee.length* (result is a number value)...
or like https://github.com/josdejong/jsoneditor (see images)

regards

On Thu, Jun 7, 2018 at 11:38 AM dhinesh sridhar <notifications@github.com>
wrote:

[2018-06-11 11:32] donnfelker commented on #4581
This is an unfortunate bug. I've spent a couple hours debugging why cookies are not being set in postman (thinking it was an PEBCAK error) and finally I came here to see if there is an open issue. Sad to see I wasted some time due to a bug, but happy to see that there is a bug for this and that it has been fixed in Canary. Just tested this and it looks good, works on Canary for me. Thanks team. 👍

[2018-06-11 11:48] DiegoSuzuki commented on #166
+1 for custom methods.

[2018-06-11 13:10] priyasuman opened #4673 "NOt able to update multiple records through Postman collection"
Please read through the [guidelines](https://github.com/postmanlabs/postman-app-support#guidelines-for-reporting-issues) before creating a new issue.

**Getting 404 bad request when using Postman collection with data driven approach**
I am trying to update 3 records through datadriven approach using Postman collection using PUT request .

**To Reproduce**
Steps to reproduce the behavior:
1. Go to

[2018-06-11 13:17] A-Sandwich commented on #2585
Hit this issue as well in the Linux client. Any progress on this issue?

[2018-06-11 13:18] egpotter commented on #4644
Sync is still not working properly for me. Any comments?

[2018-06-11 13:39] benreyle commented on #3312
+1

[2018-06-11 13:44] sivcan commented on #4673
@priyasuman

A couple of questions:
1. What version of the app are you using? Is it the native app or the chrome app?
2. What records exactly are not being updated? The environment / global variables?
3. What should be noticed in the screenshot that's not being reflected and how it should've actually been as expected?

[2018-06-11 13:52] chrisron95 opened #4674 "Runner window takes long time to load"
Please read through the [guidelines](https://github.com/postmanlabs/postman-app-support#guidelines-for-reporting-issues) before creating a new issue.

**Describe the bug**
Since the last update, the runner window takes an exceptionally long time to load. When I open the window (regardless of whether it opens when I start the whole Postman app or if I just open a new runner window) it takes a good

[2018-06-11 14:26] sivcan commented on #4674
@chrisron95 Hey, thanks for reporting this issue.
In order to triage this issue quickly can you tell me if you have got an exceptionally big run history?
Do you experience any kind of lag while using the runner after it loads?

In the meantime, I'll try to reproduce this issue on my end.

[2018-06-11 14:32] chrisron95 commented on #4674
@sivcan Yes, I do have a large amount of runs in the history. Granted, not much is stored in the history because even the most recent run doesn't seem to store any responses or anything anymore, but that's a story for another issue. Once it loads, everything runs perfectly fine.

[2018-06-11 14:40] sivcan commented on #4674
@chrisron95 Will look into it and get back to you.

[2018-06-11 14:51] #4635 closed, assigned to harryi3t

[2018-06-11 14:53] prashantagarwal commented on #4600
@samreenadil I thing our postman community would help you out better in this. https://community.getpostman.com/

[2018-06-11 14:53] #4600 closed, assigned to nobody

[2018-06-11 15:01] #4578 closed, assigned to harryi3t

[2018-06-11 15:37] CianLMcCormack commented on #4587
hi @kamalaknn
sorry it's taken me a while to get back to you, i haven't had any time to give to this since i raised the initial problem... workplace pressures and all that! below are logs from the shared devTools

sails.io.js:142 🌏 error establishing connection with sync service.
 Error: websocket error
    at WS.Transport.onError (sails.io.js:3)
    at WebSocket.ws.onerror (sails.io.js:4)
sails.i

[2018-06-11 15:56] dk020130 commented on #482
The "curl" command supports to set below 3 files:

But in postman, we are only able to set "CRT" and "KEY" file without the "**cacert**".
How can I set cacert in postman?

[2018-06-11 16:19] eatinasandwich commented on #2256
Was having this issue on Windows Server 2012 R2. Troubleshoot compatiblity worked for me too but I had to do it a second time this morning for some reason. Would be nice to have a better fix for this so it doesn't randomly occur.

[2018-06-11 16:48] jonathanhuet commented on #4171
Me too using RQL, it takes the RQL sentence as the name of the GET property and then re-take the RQL sentence as the value of the GET parameter urlenconding it.
Example:

_Expected_
`https://foo.bar/resources?eq(a,2)`

_Result_
`https://foo.bar/resources?eq(a,2)=&eq%28a,2%29=`

_How to reproduce:_
Just put `https://foo.bar/resources?eq(a,2)`  in the URL part of the UI

[2018-06-11 16:59] johannesschobel commented on #4635
Hey @prashantagarwal , this issue is not resolved.. The mentioned "solution" is just a workaround!

[2018-06-11 16:59] gjd6640 commented on #3290
I have this same issue and concern. Disabling SSL shouldn't be necessary. Also, it sours new-to-Postman users on the experience by presenting a hurdle to getting it working when they're first introduced to the product.

[2018-06-11 17:02] syamalakonapuram commented on #2929
Hi,
After upgrading to version  6.1.3, MAC(OS-10.12.6), performance is too bad. Just an example: One of the API triggers an email. Before Postman shows the API response, I am able to see the email in my inbox. Every operation in Postman taking lot of time. In this version performance really screwed up.
Your help on this is much appreciated. Thank you.

[2018-06-11 17:45] escoffie commented on #4065
@sivcan Thanks for the update! I'm able to work with the app now without BSOD so far.

[2018-06-11 18:12] TheFrogPrince commented on #4594
=o/  The environment variable works as a workaround.  The whole episode gets my vote for "Fail of the quarter", though.  You don't know much time I've wasted (including harassing McAfee administrators) before finding my way here.  Is it really necessary to try to squeeze out more performance by sitting directly on top of graphics cards?  (Windows 2012 R2 with dual AMD Radeon HD8490 cards).

[2018-06-11 18:14] chrisheil commented on #4193
+1 I am in the same situation. I would love to be able to reference existing requests in the same collection.

Maybe add an optional meta field on each request called "reference key", and anywhere that you need to call that request you could do something like this:

    pm.sendPreRequest({{myLoginRequest}})

It would allow your saved login request to remain loosely coupled. You could update the re

[2018-06-11 18:22] jamesdaily commented on #4478
It is super confusing that postman just gives a whitelabel error page when its own internal timeout (often set too low by user) is the only thing that caused the request to fail.

At least for this situation, have postman report that it canceled the call as it exceeded the user-specified timeout.

It is true that API-designers often strive for sub-second response times. However, it is rare that AP

[2018-06-11 18:33] bhingston-va commented on #2861
Running postman version 6.1.3 on OSX; what's the status of this bug?

[2018-06-11 19:15] speaud commented on #3646
I agree that it'd be great to integrate NodeJS and it's packages with PM.

In this case you could possibly use the builtin sandbox crypto-js package - https://www.getpostman.com/docs/v6/postman/scripts/postman_sandbox

[2018-06-11 21:00] eugen-nw commented on #4594
Neither the env. var, nor the "C:\Users\eugen\AppData\Local\Postman\app-6.1.3\Postman.exe --disable-gpu" command line parameter works for me.  I'm on Windows 10, using 6.1.3.  I see that I have an NVIDIA GeForce GTX 1070 video adapter.

The app starts up, displays its collections and after a short while its screen turns completely black.  Right click-ing Postman.exe in Windows Explorer does not gi

[2018-06-11 21:14] jpmckearin commented on #4670
The modal is being dismissed on `mouseup` instead of `mousedown` as one would expect.

[2018-06-11 22:58] fjab76 commented on #3845
+1

[2018-06-12 04:31] jproano opened #4675 "Postman not saving variable correctly."
## App Details:

[code]

## Issue Report:
 1. Did you encounter this recently, or has this bug always been there: Recent Discovery
 2. Expected behavior: Response body of a test response from a server:

[{"id":660903245316620790,"name":"Wayland Corporation"},{"id":660903245316620757,"name":"Client Demo Org"},{"id":780128,"name":"TEST123 LLC"}]

When this gets processed in the console logs (in pret

[2018-06-12 05:54] thecuriousdev commented on #4635
@johannesschobel we'll track the progress of this issue in https://github.com/postmanlabs/postman-app-support/issues/4594

[2018-06-12 06:06] thecuriousdev commented on #4675
@jproano thanks for reporting this issue, I am able to re-produce this issue. We'll look into this.

[2018-06-12 06:15] mmercan commented on #1960
Replace option not just only adding the new services it also override old ones like removing all tests added is it possible to keep tests or just add the new services ?

[2018-06-12 06:20] alibaghernejad opened #4676 "The Edit Windows will close when selecting some text by dragging"
**Describe the bug**
When you want to select some text in edit folder or edit collection windows by dragging the text, if you put mouse pointer out of the edit window, that window will be close.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the collection and expand it
2. Click Right, on a folder and select "Edit"
3. Go to 'Description' tab for example (it work for 'Tests' and 'Pre-r

[2018-06-12 06:28] johannesschobel commented on #4635
thanks for the clarification :+1:

[2018-06-12 06:30] thecuriousdev commented on #4676
@AliBaghernejad thanks for reporting this issue. We'll keep you posted in https://github.com/postmanlabs/postman-app-support/issues/4670

[2018-06-12 06:30] #4676 closed, assigned to prashantagarwal

[2018-06-12 06:48] shankyty commented on #6682
I think there are considerable upvotes if anyone can start working on design or implementation.

[2018-06-12 07:23] harryi3t commented on #4675
@jproano Postman is built on javascript. And in javascript, all numbers are encoded as double precision floating point numbers, following the international [IEEE 754](https://en.wikipedia.org/wiki/IEEE_754) standard
The largest number that can be represented accurately is `2^53-1`. After this, the not all numbers can be represented.

You can try this yourself in a node shell
![image](https://user-

[2018-06-12 07:23] #4675 closed, assigned to harryi3t

[2018-06-12 07:31] dDiverVS opened #4677 "[Feature Request] Enable TLS 1.2 support"
## App Details:
[code]

## Issue Report:
 1. Did you encounter this recently, or has this bug always been there: Always
 2. Expected behaviour: Mutual SSL certificate based connections should be performed over TLS 1.2 by default, currently requests are based on obsolete SSLv3.

## Description of the issue
I am currently trying to test a SOAP based API, this API only supports communications secured

[2018-06-12 07:43] mjarraya commented on #350
+1

[2018-06-12 08:02] Bluscream commented on #350
+1

[2018-06-12 08:40] zcuric commented on #2086
+1

[2018-06-12 10:51] DylanC opened #4678 "401 Handover not found"
**Describe the bug**
Cannot view in web with a Collection.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Collection
2. Click on View in web
3. Go to web browser
4. See 401 page with message Handover not found

**Expected behavior**
Should see docs in the web browser like before

**Screenshots**
![pm_bug](https://user-images.githubusercontent.com/4488048/41286257-ab3d5380-6e36-11e8-80

[2018-06-12 11:20] thecuriousdev commented on #4678
@DylanC thanks for reporting this issue, can you verify what's the sync status at that time?

check the color of this icon,

<img width="367" alt="screen shot 2018-06-12 at 4 48 22 pm" src="https://user-images.githubusercontent.com/22293666/41287541-a9406b2e-6e60-11e8-8d83-175bb0d0f5a1.png">

[2018-06-12 11:30] wiedikerli opened #4679 "App doesnt start on windows 8.1 x64"
I get a blank white screen when I try to open the app (see screenshot).
![image](https://user-images.githubusercontent.com/2211563/41287756-07fac2a8-6e44-11e8-923f-14085ced7a7c.png)

**What I did:**
- I tried to update via the app, then the error occurd.
- I tried to reinstall the app via the website downloads.
- I deleted all files from postman in the AppData.
- I'm not able to open the console.

[2018-06-12 11:58] DylanC commented on #4678
@thecuriousdev - Mine is blue currently.

[2018-06-12 12:02] sivcan commented on #4679
@ninjaonsafari  - Considering you're on the latest version (The latest version of Postman App as of now is v.6.1.3) if not then download from https://www.getpostman.com/apps

Can you head over to this URL and try the solution provided here:
1. https://www.getpostman.com/docs/v6/postman/launching_postman/installation_and_updates
2. Scroll down to **Troubleshooting Postman Updates**

[2018-06-12 12:03] thecuriousdev commented on #4678
@DylanC are you able to make requests and receive responses using postman app at this point?  also can you goto requester window and open DevTools and send me a screenshot of the network tab (Menu > View > Developer > Show Dev Tools Current View) and for shared as well (Menu > View > Developer > Show Dev Tools Shared)

[2018-06-12 12:06] wiedikerli commented on #4679
Nice! With the gpu disabled it works.

Thanks for your fast response!

[2018-06-12 12:06] #4679 closed, assigned to nobody

[2018-06-12 12:37] Charmee2811 commented on #2558
can you please help me how to retrieve response object from input file.
I am not able to do that in test scripts..

My requirement is I have to login from 10 different users and validate user Role in response for each user

[2018-06-12 13:03] c-olaand commented on #3251
Same issue for me :-(

[2018-06-12 13:30] DylanC commented on #4678
@thecuriousdev - The requests seem to be failing:
![cl_chrome](https://user-images.githubusercontent.com/4488048/41293432-25e8176c-6e4d-11e8-907c-cf3dbc7918e1.png)

Well I don't see any network requests happen.

[2018-06-12 14:39] Jeckerson commented on #2691
+1 Our team need this feature!

IMO, by making CLI of Postman, current feature is in top list of "must have".

[2018-06-12 15:31] theholiday opened #4680 "After saving the request that had a body and changing it to GET, the body is still in the "Code" snippet"
Please read through the [guidelines](https://github.com/postmanlabs/postman-app-support#guidelines-for-reporting-issues) before creating a new issue.

**Describe the bug**
Have a request with a body.

**To Reproduce**
Steps to reproduce the behavior:
1. Select the request with the body.
2. Save it as another request and change the method to GET via "Save As".
3. Navigate to the "Code" screen and o

[2018-06-12 15:43] markwest1 opened #4681 "Postman-win64-6.1.3-Setup.exe fails on Windows 7 64-bit machine"
**Describe the bug**
Installing postman 6.1.3 on 64-bit Windows 7 fails.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://www.getpostman.com/apps'
2. Click on 'Postman for Windows (64-bit)' to download installer.
3. Run installer.
4. See error.

**Expected behavior**
Installation succeeds.

**Screenshots**
![2018-06-11 13_28_57-error](https://user-images.githubusercontent.com/8

[2018-06-12 17:41] bensooraj commented on #3631
I have the exact same problem. I have tried all possible combos. None work. I am using Version 6.1.3 (6.1.3)

[2018-06-12 19:31] EasyLink88 commented on #6682
+1

[2018-06-12 22:01] paulop commented on #2195
Hello, in some notebooks hotkey "?" is Alt+w
All times is closing a tab.
Can you fix that?

[2018-06-12 22:59] angamardhana opened #4682 "Make the Request link that is displayed in the console be clickable."
Any time I test a script, the requested url is printed out on the console.
It is frustrating to have to cut and paste it to a new browser window. Even double clicking it to copy doesn't work. I have to move the mouse over carefully over the whole url to copy.

Can you have the whole link hyperlinked. That would be great !

Thanks.

- jay
![console](https://user-images.githubusercontent.com/4000966

[2018-06-12 23:31] phemonick commented on #1947
[code]

[2018-06-13 00:59] gearskullguy opened #4683 "Black boxes on install, strange errors in Squirrel log"
Please read through the [guidelines](https://github.com/postmanlabs/postman-app-support#guidelines-for-reporting-issues) before creating a new issue.

**Describe the bug**
I just downloaded and installed Postman - https://app.getpostman.com/app/download/win64?_ga=2.231025439.1046642363.1528850467-1230455851.1528850467 - however during install, boxes popped up that just contained black, one of them

[2018-06-13 01:54] yincheng0807 commented on #2302
+1

[2018-06-13 02:53] igorsantos07 commented on #3438
Any news on Blueprint import/exports?

This seems to be sort of an open standard on API documentation. While Swagger is cool, it is, many times, a PITA to integrate in your server to generate the requested files. Blueprint is a wide open tool and easy to generate doc files that later could be imported in Postman.... Could.

[2018-06-13 02:55] igorsantos07 commented on #1744
1. why a bunch of +1 when you can :+1: ? I guess it's to bother responsible people?
2. how's that going? It's not only useful to export Postman data, but also to bring from automated generators into Postman.

[2018-06-13 03:40] avlad commented on #1744
@igorsantos07 - not very clean what are You mean "You can"? do You mean - You(!!) can export from postman app to swagger? :) in this case - just share the secrets, personally my app - do not allow this.

[2018-06-13 03:44] bhanupinninti opened #4684 "Could not get any response error running from behind the proxy"
Hi Team,

We are using native postman 6.1.3 (latest). We encountered "Could not get any response" error while doing a post request to our API.

Newman Version- Postman 61.3
OS details - Windows 7 prof
Are you using Newman as a library, or via the CLI?  Yes, with newman CLI also facing "tunneling socket could not be established, statusCode=403" error.

Did you encounter this recently, or has this b

[2018-06-13 04:07] bhanupinninti commented on #4684
adding @kunagpal

[2018-06-13 04:31] rishulmatta commented on #3312
+1

[2018-06-13 04:42] chrisdeso commented on #4683
@davelogear This looks similar to [issue #4594](https://github.com/postmanlabs/postman-app-support/issues/4594).

Does launching the app via the command prompt with the GPU disabled flag `--disable-gpu` yield any results?

[2018-06-13 06:04] thecuriousdev commented on #4678
@DylanC try restart the app once, it'll do the trick. This is a known issue in the app, let us know if you are able to re-produce the issue even after app restart.

[2018-06-13 06:24] devtaha opened #4685 "Failed to import collection ***"
To reproduce:

1. I had a collection in my workspace
2. I deleted it (not removed from workspace)
3. Reimported collection from import feature using collection link
4. Getting error "Failed to import collection ***"

[2018-06-13 06:25] kumardeepak32 opened #4686 "Passing incorrect integer value to API"
I found one strange issue in postman. In below request amount is integer field.

`{   "merchantId": 49,
  "amount": 020
}`

When I pass Amount 020 instead of 20. In API controller I received amount 16. When I pass 0100 I receive 64.

If I pass in double quotes like "020" or "0100". Then I get 20 and 100.

Can you please check this

[2018-06-13 06:47] sivcan commented on #4686
@kumardeepak32

A couple of questions:
1. What version of the app are you using? Is it the native app or the chrome app?
2. Can you provide the steps to reproduce this issue? (screenshots / gif would be helpful)
3. What API Controller are you referring to?

[2018-06-13 06:53] harryi3t commented on #4686
@kumardeepak32

Prefixing a number with 0 makes it interpreted as an octal number

For more information refer https://developer.mozilla.org/en-US/docs/Web/JavaScript/Guide/Numbers_and_dates

[2018-06-13 06:53] #4686 closed, assigned to nobody

[2018-06-13 07:03] kumardeepak32 commented on #4686
thanks

[2018-06-13 07:09] harryi3t commented on #4683
@davelogear As suggested by @chrisdeso, can you try the steps as mentioned here https://github.com/postmanlabs/postman-app-support/issues/4594#issuecomment-391601621

[2018-06-13 07:13] harryi3t commented on #4684
@bhanupinninti I suspect that the proxy requires authentication because as of now Postman does not support proxy authentication. There's already a feature request here https://github.com/postmanlabs/postman-app-support/issues/3566. Please subscribe/upvote the issue.

[2018-06-13 07:15] claytonbez commented on #3186
For those looking for an interim solution until Postman has Socket.io support, here is a link to a Socket.io client tool on github. Works for me. [https://github.com/amritb/socketio-client-tool](https://github.com/amritb/socketio-client-tool) , it is open source so it might inspire a roadmap for this.

[2018-06-13 07:15] harryi3t commented on #4685
Please provide the app type (chrome app/ native app) and the version that you are using.

Can you share the error logs from `View -> Developer -> Show devTools (current view)`
Also, if possible can you share the collection link which is causing this issue.
If you don't prefer to put it publicly, you can mail me directly at harendra[at]getpostman.com

[2018-06-13 07:17] harryi3t commented on #4681
@markwest1 Thanks for reporting the bug. We are looking into it.

[2018-06-13 07:19] harryi3t commented on #4680
@theholiday  I was able to reproduce this. We are looking into this

[2018-06-13 07:59] theholiday commented on #4680
Glad to hear it, thanks.

[2018-06-13 12:35] igorsantos07 commented on #3418
I came here also looking for a way to get rid of `{{url}}` in the beginning of all my requests. I'll ping @madebysid as he interacted with this issue initially and might not be getting notifications as it got closed, so maybe it can be reopened :)

[2018-06-13 13:10] normancarcamo commented on #1983
Same issue here!, June 13, 2018! damn, I was scared about my routes.

[2018-06-13 13:15] EstherSalinas commented on #2392
+1

[2018-06-13 13:20] lukepuplett commented on #1498
Not sure what the deal is here. So long as I enter the body in the editor, then switch to the headers and set the Content-Type to custom media-type, then it seems to work.

[2018-06-13 13:24] rtablada commented on #1498
@lukepuplett yes you can go to body and it works but the drop down overrides headers and vice Versa meaning if you have custom media types as used for jsonapi.org or GraphQL you lose either syntax highlighting or your custom content type header. You can go back and forth switching between syntax highlighting and then going back to reset your content type but this adds a lot of time for every chang

[2018-06-13 13:31] gavrilobozovic commented on #2853
I second that! Especially during long runs, not seeing the latest result is super painful because you have no way to know if everything is still working as it should. Any update on that?

[2018-06-13 13:46] suur commented on #4642
Same thing happening on Arch Linux with https://aur.archlinux.org/packages/postman/ after upgrading to 6.1.3
The problem won't go away even after deleting ~/.config/Postman, although I can then see the login page and open developer tools. There is an `Uncaught ReferenceError: require is not defined` error already at the login page, and the splash screen does not produce further errors. I have post

[2018-06-13 13:49] napestershine opened #4687 "Eating too much RAM"
**Describe the bug**
When I start postman, My system gets hanged for about 1 min, and when I check task manager, postman always shows RAM usage above 400 MB, System gets super slow. I don't know what's going on. I am always on a high speed wifi network and logged in with my account. So sync shouldn't be taking too much time or RAM.

**To Reproduce**
Steps to reproduce the behavior:
1. Install post

[2018-06-13 13:58] priyasuman commented on #4673
What version of the app are you using? Is it the native app or the chrome app?
Native Postman app 6.1.3
What records exactly are not being updated? The environment / global variables?
global variables like test case status
What should be noticed in the screenshot that's not being reflected and how it should've actually been as expected?
Actually if u refer my text file ,am trying update the test c

[2018-06-13 14:48] ratpik commented on #4603
@tudorgeorgescu @hamecodedVia - CORS support is enabled by default for all mock servers. You do need to add a OPTIONS request in your collection to enable CORS. The mock server automatically adds the `Access-Control-Allow-Origin: *` to the preflight request.

If you do specify a header for the `Access-Control-Allow-Origin: yourdomain.com` in your saved example, then the cross-origin call that you

[2018-06-13 15:17] ratpik commented on #3602
@alexgman - Yes. While creating the example response, make sure you specify the response headers.

<img width="1111" alt="screen shot 2018-06-13 at 8 46 36 pm" src="https://user-images.githubusercontent.com/210420/41360689-f7b8385a-6f4a-11e8-8fc7-4305236e1063.png">

[2018-06-13 15:19] ghost opened #4688 "Postman freezes at CryptoJS execution of PBKDF2"
**Describe the bug**
When calling the function CryptoJS.PBKDF2(x, y, { keySize: 512/8, iterations: 100000 }); where x ="123456789" and y="333230323942323745443434413638413036363635343734363638323544423535454530413644383346364542373236364135303636423536363536354631423630323232454343" is frozen Postman. The same function executed in nodejs takes about 20 seconds to execute.

**To Reproduce**
Steps t

[2018-06-13 15:27] dadvir commented on #4001
Can we reopen this? i don't understand why you strip the body and change the method in this scenario? I'm using the Mac app btw.

[2018-06-13 15:53] snips11 commented on #3251
And for me!

[2018-06-13 17:57] slaman75 opened #4689 "POSTMAN does not support TLS v1.0+"
POSTMAN sends all calls via SSL3.  If your serve disables all protocols other than TLS v1.2, POSTMAN does not work.

In 2014, SSL 3.0 was found to be vulnerable to the POODLE attack that affects all block ciphers in SSL; RC4, the only non-block cipher supported by SSL 3.0, is also feasibly broken as used in SSL 3.0.

This is an URGENT bug, that has been known since January 8, 2018 (https://github.

[2018-06-13 18:52] kaijuking commented on #4387
This happened to me today after "upgrading" the native app from 6.0.10 to 6.1.3! All my collections and environment variables are gone now! Anyway of getting them back?!
Two lessons learned: 1) always back up your collections and environment variables and 2) never update Postman again

[2018-06-13 18:59] ivdelchev commented on #4387
I lost hundreds of saved queries but at least discovered a better alternative - https://insomnia.rest/ (seems to be mac only).

[2018-06-13 19:50] VinyLimaZ commented on #2022
@Goufalite I'm with the same problem, but when I hit the developer tools shortcut, nothing happens D:

[2018-06-13 20:25] angamardhana opened #4690 "Need a function like console.clear() in the Postman App"
I almost always clear the console when running a new script otherwise I'm having to scroll past a lot of old output to find mine.

It would be great if I could have a command to clear the console. That way I could add that at the beginning of my scripts so that I clear the console before even starting up any of the tests.

[2018-06-13 23:39] angamardhana opened #4691 "Need a button to format source code (indentation, spacing etc)"
Right now the code can get pretty hard to read after coding for awhile as the indentation and spacing can be all over the map.

So I have to periodically cut and paste the code into something like this site http://jsbeautifier.org/ , then reformat my code there and then copy and past back into Postman.

Otherwise the code gets unreadable pretty fast.

[2018-06-14 00:51] BrianKilby opened #4692 "Post - form-data - Key fields that are disabled still show up in the code preview"
When using "Postman v6.1.3" (latest version), we've noticed that Post - form-data - Key fields that are disabled (unchecked) still show up in the code preview.  We need to be able to disable (manually or programatically) and see the resulting post payload as it will be sent to the endpoint.

![unchecked key fields still in preview](https://user-images.githubusercontent.com/31317573/41385708-5c3b1b

[2018-06-14 00:55] BrianKilby opened #4693 "Post - form-data - Need to be able to programatically disable Key pairs during "Pre-request Script""
When using "Postman v6.1.3" (the latest version), we need to be able to programmatically disable Key pairs during "Pre-request Script" for Post - form-data - requests.  Further, we would like to be able to add/delete Key pairs during the "Pre-request Script".

![key fields for a post form-data request](https://user-images.githubusercontent.com/31317573/41385840-194d7cfe-6f4c-11e8-9654-f9d2f17b894e

[2018-06-14 04:26] library1010 commented on #2392
+1

[2018-06-14 04:35] samvirkar144 opened #4694 "we cant seem to find this page bug in postman view in web"
Please read through the [guidelines](https://github.com/postmanlabs/postman-app-support#guidelines-for-reporting-issues) before creating a new issue.

**Describe the bug**
I'm unable to see collection in web , Sometimes getting 401 error or we can't seem to find this page.
**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Postman Collection'
2. Click on 'View in web'
3. Scroll down to '.

[2018-06-14 04:41] shamasis opened #4695 "Postman integration with Stash (feature request migrated from newman repo)"
Quoting @Gans79 :

[code]

Original issue: https://github.com/postmanlabs/newman/issues/1349

[2018-06-14 05:00] samvirkar144 commented on #4678
Hi,
I'm getting same issue before restart my machine. I  shut down the pc and now i'm getting ***we can't seem to find this page*** bug while try to see my collection in web (view in web) from local postman.
[windows 7 , postman 6.1.3 , Chrome app/ browser]
![postman_viewinweb_error](https://user-images.githubusercontent.com/33752583/41392295-7bec9d42-6fbd-11e8-91fa-7c6926eb69eb.png)

Thanks
S

[2018-06-14 06:14] luvianwang commented on #2489
Same issue with latest version on Mac

[2018-06-14 06:14] thecuriousdev commented on #4694
@samvirkar144 thanks for reporting this issue, what was the status of sync during that time?

check the following icon,
![image](https://user-images.githubusercontent.com/22293666/41394570-0f2ce684-6fc8-11e8-8e8d-c68e18b711a0.png)

is it happening for all the collections?

[2018-06-14 06:30] bhanupinninti commented on #4684
Is there anyway i can send credentials for authenticcation?

[2018-06-14 06:32] bhanupinninti commented on #3566
+1 when can we get this to use

[2018-06-14 07:23] ivok opened #4696 "Selected enviorment on startup does not populate variables"
Selected environment on startup does not populate variables in saved request. Ypu have to select env again to countinue work...

**To Reproduce**
1. Create environment space. Add variables.
2. Use variable in reuqest (I set url as variable for the environemnt)
3. Save to collection
4. Close Postman and start it again
5. From collection, select saved request. The environemnt is set to last used, as

[2018-06-14 08:16] samvirkar144 commented on #4694
Hi,
Icon Color is blue ...
yes , this happening for all collections.
After updating the postman i'm facing the above issue.
Old collection working fine which are created before updating postman.
Thank you @thecuriousdev
Thanks,
S

[2018-06-14 08:24] thecuriousdev commented on #4694
Can you help me with few more details,
Are you able to send requests?
Are you seeing any content in browse view? (toggle build/browser button in the footer section).
Is everything working fine after restarting the app?

[2018-06-14 08:29] kunalwattamwar opened #4697 "Not able to upload zip file using postman"
**Describe the bug**
When uploading a zip file through postman to some server, getting below error.

"message": "Unexpected Content-Type header: multipart/form-data; boundary=----WebKitFormBoundary7VBAv5FK8tYmjZoJ"

Please find below preview

Host: *********
X-TenantID: ********
Accept: application/json
Cache-Control: no-cache

----WebKitFormBoundaryE19zNvXGzXaLvS5C
Content-Disposition: form-data;

[2018-06-14 08:39] samvirkar144 commented on #4694
Hi,
Following are postman console logs:
Now i'm getting **401 Handover not found** bug
![postman_error_logs](https://user-images.githubusercontent.com/33752583/41400975-399936f2-6fdc-11e8-936f-87b777493f3b.png)

Thanks,
S

[2018-06-14 08:47] samvirkar144 commented on #4694
Hi,
Postman Locally working fine , whenever i tried to to see my collection view in web that time i'm getting above errors (401 or we cant seem found this page),
![postman_browser](https://user-images.githubusercontent.com/33752583/41401731-350b7670-6fde-11e8-8df6-5faf5a5cf6bc.png)

Thanks
S

[2018-06-14 08:55] skyboyer commented on #2670
are there any news on this feature? could we use remote debugging to debug that "sandboxed node process"?

[2018-06-14 09:19] josemoreG commented on #4672
Ok, issue seems to be fixed after I re-upgraded to 6.1.3 again (3rd time).

[2018-06-14 09:19] #4672 closed, assigned to thecuriousdev

[2018-06-14 09:19] theholiday commented on #4697
What version of postman is that ? Seems super old.

[2018-06-14 09:24] Maco03 commented on #4654
I'm having the exact same issue.

Postman for Windows
Version 6.1.3
win32 10.0.14393 / x64

![image](https://user-images.githubusercontent.com/1147006/41403554-6f4411e4-6fc5-11e8-90be-7736e2dfa37c.png)

[2018-06-14 09:24] kunalwattamwar commented on #4697
@theholiday Its the Tabbed Postman - REST Client & version is: 0.8.4.19

[2018-06-14 09:25] Pducou opened #4698 "Add a picto when a collection is monitored"
**Is your feature request related to a problem? Please describe.**
Is it possible to add a new picto when a collection is monitored ?
I saw that you add this picto when a collection is shared, it will be wonderful to have an other one if the collection is monitored

**Describe the solution you'd like**
Have a picto like when a collection is shared
![image](https://user-images.githubusercontent.com

[2018-06-14 09:25] prashantagarwal commented on #4654
Guys we have fixed this internally, fix will most probably be released next week.

[2018-06-14 09:26] theholiday commented on #4697
This is the repository for this application only https://www.getpostman.com/.

[2018-06-14 09:27] prashantagarwal commented on #4692
@BrianKilby Thanks for reporting this. We will fix this in our upcoming releases.

[2018-06-14 09:28] prashantagarwal commented on #4698
@Pducou That's an interesting suggestion. I will forward this to our design team for consideration.

[2018-06-14 09:30] #4697 closed, assigned to nobody

[2018-06-14 09:33] prashantagarwal commented on #4691
@angamardhana You can use `cmd + b` (or `Ctrl +b`) to pretty format.

[2018-06-14 09:33] #4691 closed, assigned to nobody

[2018-06-14 09:35] prashantagarwal commented on #4689
Closing it as duplicate for #4677

[2018-06-14 09:35] #4689 closed, assigned to nobody

[2018-06-14 09:36] jajimene commented on #3251
Same here :(

[2018-06-14 09:49] kunalwattamwar commented on #4697
@theholiday I have installed Postman from your link & now i am able to upload.

I selected "binary" option which was not available in above screenshot.

Thanks.

[2018-06-14 09:49] theholiday commented on #4697
Glad to help!

[2018-06-14 10:23] hedgeh0k commented on #3566
+1 also faced this problem on the corporate network after migration from the Chrome application

[2018-06-14 12:22] mkarajohn opened #4699 "Native app fails to initialise, stuck on loading screen"
**Describe the bug**
The app fails to initialise correctly, leaving me stuck in the loading screen

**To Reproduce**
Launch the app

**Expected behavior**
I would expect the app to load normally.

**Screenshots**
![screen shot 2018-06-14 at 15 14 54](https://user-images.githubusercontent.com/3789226/41411752-91b45aec-6fe6-11e8-8e5f-e7b9b58c89f6.png)

**App information (please complete the followin

[2018-06-14 12:47] benjdl commented on #6682
+1

[2018-06-14 12:54] jameshd opened #4700 "Update Mock matching algorithm to match on Accept header"
Please read through the [guidelines](https://github.com/postmanlabs/postman-app-support#guidelines-for-reporting-issues) before creating a new issue.

**Is your feature request related to a problem? Please describe.**
I was making a Mock server recently and wondered if it was possible to return a different response based on the Content-type the client was passing. e.g. Accept: application/json ret

[2018-06-14 13:03] cblazo commented on #2302
+1

[2018-06-14 13:30] SparK-Cruz commented on #4374
[meta]
@Beera819 Avoid posting an unrelated issue in other, very specific, issue like this. You can always open a new one

[2018-06-14 13:36] SFBorland commented on #2392
Any update on this..?

[2018-06-14 13:38] Kritika2808 commented on #2050
must have feature in postman +1

[2018-06-14 13:46] JohnTJohnston commented on #4374
This started happening on both of my Windows 10 PCs today.  Running Postman-win64-6.1.3.  Reinstalling failed.  And Uninstalling is also failing.  Please help.

[install-fail.txt](https://github.com/postmanlabs/postman-app-support/files/2102570/install-fail.txt)

[2018-06-14 13:54] bobvanderlinden commented on #3977
I ran into issues with OAuth2 and Postman as well. Not 100% sure this is the same cause as the OP is experiencing. I'm seeing the following POST body towards the `token` url:

[code]
The problem seems 3-fold:

1. The RAW representation of request bodies is leaving out `&`, which makes this issue extra confusing. The actual call itself is sending `&` correctly.
2. The problem (in my case at least)

[2018-06-14 14:05] SparK-Cruz opened #4701 "Native app fails to initialise, stuck on loading screen"
Splash screen shows "Preparing your workspaces... This might take a few minutes."
I left the computer on yesterday and came back to see the same splash screen still going.

When running from terminal this is the output:
![terminal](https://user-images.githubusercontent.com/1179000/41416798-100b94d4-6fc2-11e8-9f40-ebb97200af9a.png)

I've tried `rm -rf ~/.config/Postman` but nothing changed.

![stil

[2018-06-14 14:10] cmonroeEIS commented on #4193
+ 1 Exactly chrisheil

[2018-06-14 15:12] cmorent commented on #2801
+1

[2018-06-14 15:25] trogdor259 commented on #4701
They fixed this in canary build. if you use that it'll work. Next update should fix you.  See also https://github.com/postmanlabs/postman-app-support/issues/4666

[2018-06-14 16:17] Scheevel opened #4702 "During encoding final dollar-sign removed and not replaced"
Hi.  I have an oData query-string I'm using on a SharePoint REST API
query-string looks like this...
`?$select=Person/Title&$expand=Person&$filter=Person/Title eq 'John Doe'`
This query-string works fine in my code however when executed in Postman the filter was not being applied and all results were being returned, unfiltered.
To investigate in Postman I clicked "Code"->"JavaScript"->"jQuery Ajax

[2018-06-14 17:37] julian-martinez-del-campo commented on #4374
Happening to me as well. On archlinux using postman v6.1.2 and 6.1.3. Reinstalling and/or removing .config/Postman does nothing.

Running from cli shows: ORM initialization successful

After eliminating the cache I am postman is able to show the login screen, but if I login or click the link to continue without logging in it brings me to the "Preparing workspace, this may take a few minutes" dialo

[2018-06-14 17:38] szahn opened #4703 "Black Window on Startup"
Get black window on application startup. App just hangs. Opening Dev Tools also provides a black windows.

![postman_2018-06-14_10-35-08](https://user-images.githubusercontent.com/271732/41428400-dcc5287c-6fbe-11e8-8be9-6565257ca130.png)
![postman_2018-06-14_10-34-50](https://user-images.githubusercontent.com/271732/41428401-dce329d0-6fbe-11e8-8cf3-462731998261.png)

Tried uninstalling and reinsta

[2018-06-14 18:03] calebmathis commented on #3098
MacOS High Sierra
Postman 6.1.3
"You can only use your Security Keys with Google Chrome"
"Try Another Way", clicks, security key is the only option!?!

[2018-06-14 18:07] JacobAMason opened #4704 "Basic Auth doesn't stick"
# Caused by #4581 and fixed in 6.1.4

When I issue a Post to Login with Basic Auth using [vSphere's Automation REST Resources](https://code.vmware.com/web/sdk/67/vsphere-automation-rest), I can't issue any more requests without seeing an unauthenticated error. I don't believe this is an issue with this Postman collection since it worked fine in 6.0.10, but it could be that the vSphere collection d

[2018-06-14 19:19] dapperdandev opened #4705 "Ability to Run Request Without Persisting the Tab"
Please read through the [guidelines](https://github.com/postmanlabs/postman-app-support#guidelines-for-reporting-issues) before creating a new issue.

**Is your feature request related to a problem? Please describe.**
Every time that I select a tab and run it without editing the request, it opens a tab and persists that tab. Oftentimes, I'm just running a login request. This gets pretty messy when

[2018-06-14 20:33] YazzMagana commented on #1066
+1

[2018-06-14 20:38] dbkaynor opened #4706 "the & character causes issues with soap requests"
When I include the & in a string and send it to my web server I receive a soap error. The request with the & character has been tested on other tools and the correct response is received. (This other tools are proprietary.)

[&Bug.txt](https://github.com/postmanlabs/postman-app-support/files/2103933/Bug.txt)

[2018-06-14 21:10] AlexPanchenko commented on #3312
+1

[2018-06-14 21:35] calebmathis commented on #3098
OK, my bad. Just needed to add another 2-factor method (like my phone) through my google account settings first. Then I can use it :)

[2018-06-14 21:55] angamardhana commented on #4691
[image: stallone.jpeg]

- j

On Thu, Jun 14, 2018 at 2:33 AM Prashant Agrawal <notifications@github.com>
wrote:

[2018-06-14 23:45] yanxiaodi commented on #2418
I think it's not the problem of Postman. As @igorsantos07 said, we should follow the HTTP specification. Make sure there is no body in the response if it returns 204. Otherwise, ask the APIs service provider first.

[2018-06-15 00:00] trev-dev commented on #4374
@julian-martinez-del-campo I had the exact same problem. I suspect it may have had something to do with the recent electron update on arch (maybe). What fixed this problem for me was removing the postman package and replacing it with postman-bin. I'm up and running.

[2018-06-15 02:05] a85 commented on #4705
Hmm. We already have this. If you don't interact with the request or change it in any way, Postman will open a new request in the same tab.

[2018-06-15 02:17] a85 commented on #3485
You can use Workspaces to manage your collections along with other things more effectively.

[2018-06-15 02:17] #3485 closed, assigned to nobody

[2018-06-15 03:22] bidiu commented on #2729
+1

[2018-06-15 03:44] taquanghoang commented on #973
You can change character '#' by Code ASCII  '%23'
You can send request by postman

[2018-06-15 04:21] abatishchev opened #4707 "Explicit 443 is not the same as implicit 443 when using client certificates"
**Describe the bug:**

Port is treated literally when client certificate is chosen from settings

**To Reproduce**
Steps to reproduce the behavior:

1. Go to Settings -> Certificates
2. Add certificate for example.com:443 (specify 443 explicitly)
3. Call https://example.com/ (no 443)
4. Observe error 401 Unauthorized
5. Call https://example.com:443/
5. Observe no error

**Expected behavior**

If p

[2018-06-15 05:23] mdhornet90 commented on #4128
This just started happening to me 5 minutes ago on Mac OS Sierra, Postman version 6.1.3

EDIT:
This continues to happen even after following the advice from #4634.

EDIT 2:
Same issue after uninstall/reinstall.

Update:
I was able to work around this by quickly opening the dev tools when a new window pops up. The cause of the black screen is the debugger "helpfully" pausing execution right before

[2018-06-15 05:27] sivcan commented on #4703
@szahn Can you head over to this URL and try the solution provided here:

1. https://www.getpostman.com/docs/v6/postman/launching_postman/installation_and_updates
2. Scroll down to **Troubleshooting Postman Updates**

The latest version of Postman App as of now is **v.6.1.3**

[2018-06-15 06:12] a85 commented on #4660
Why exactly is this needed?

[2018-06-15 06:44] Ludim commented on #4637
I updated icon path in file ~/.local/share/applications/postman.desktop to:
`Icon=/opt/Postman/app/resources/app/assets/icon.png`

First I removed file, then created again with:
[code]
It worked for me.

Reference: https://gist.github.com/invinciblycool/ecc1c6e32b581b68932ac7452f4c911c

[2018-06-15 06:46] a85 commented on #1379
Yep. We finally have a trash can available through the web dashboard.

[2018-06-15 06:46] #1379 closed, assigned to nobody

[2018-06-15 09:15] buraga-dmitrii commented on #2030
Thank you so much!

[2018-06-15 09:16] mkarajohn commented on #4701
Can you open the dev tools and check if you get the same error message in the console as the one shown [here](https://github.com/postmanlabs/postman-app-support/issues/4699) ?

EDIT: Just noticed about #4666. Disregard me.

[2018-06-15 09:42] flookami commented on #1066
+1

[2018-06-15 10:42] sharkboyto commented on #3121
Hi,
I'm an italian total blind developer. Postman is not much accessible with screen reader. I'm use NVDA.
Any news for the accessibility features?
Thanks!

[2018-06-15 11:16] prashantagarwal commented on #3121
Hey @sharkboyto @zersiax We will be aggressively working on this in upcoming months. I will keep you updated about its development and will also reach out to you guys for early feedback.

[2018-06-15 11:23] sebastian-hans-swm opened #4708 "Postman forgets cookies when sending requests manually"
## App Details:

[code]

## Issue Report:
Since version 6.1.3, Postman for Windows does not remember cookies set in responses to manual requests.

Use case: I am testing an application that uses CSRF tokens to protect form submits. When running my collection from the runner, all works as expected and I can see the session cookie left in Postman's cookie store after the run has finished.

When send

[2018-06-15 11:23] donnfelker commented on #4581
I think I've identified another possible issue with cookies. The Expires property is not saving in the `Expires` column of the Cookies tab of Postman Canary.

Version 6.2.0-canary02 (6.2.0-canary02)

If I issue a request the cookie is returned and it is set in the cookie manager (with the expires property showing). However, the Expires property is not showing in the cookie tab. See screenshots:

!

[2018-06-15 11:24] prashantagarwal commented on #1937
This is fixed in latest Postman app.

[2018-06-15 11:24] #1937 closed, assigned to nobody

[2018-06-15 11:26] zersiax commented on #3121
With all due respect, @numaanashraf conveyed a similar message. About a year ago now. Has there been any progress since then?

[2018-06-15 11:29] sebastian-hans-swm commented on #4708
Could be related to #4581. My cookies are secure cookies, too.

[2018-06-15 11:32] prashantagarwal commented on #3121
@zersiax Postman never had a design system in place before. With the new design system that we are working on, we are making sure that accessibility is one of the core part of it. We are also planning to open several customisations to colours, shortcuts etc that will further improve several developer experience aspects of Postman.

[2018-06-15 11:49] sebastian-hans-swm opened #4709 ""Persist Cookies" option in Collection Runner"
**Is your feature request related to a problem? Please describe.**
I am testing an application which uses cookies for various purposes and need a clean cookie store for each test. At the moment, cookies set during a collection run always persist and are used in the next run and for manual requests. In order to run a collection multiple times I have to
1. change focus to the main window,
2. click o

[2018-06-15 12:13] dapperdandev commented on #4705
@a85: My mistake. I rushed on writing this issue. I updated the request.

Basically, I just don't want to have to close a tab every time I run a login request :)

[2018-06-15 12:17] p00j4 opened #4710 "tests: to.be vs to.not.be ambiguity"
**Describe the bug**
pm.response.to.be  vs  pm.response.to.not.be
are ambigous, getting the same results for some tests, and works fine for other cases.

**To Reproduce**
mock an api which returns  500 with response:
[code]

**Try tests:**
1.  pm.test("test error", function () {
     pm.response.to.not.have.status(200);
     pm.response.to.**not**.have.jsonBody('title');
});

2. pm.test("test erro

[2018-06-15 12:33] alxtr1bal commented on #4075
Yes please, would be very interesting to have this.

[2018-06-15 12:51] sharkboyto commented on #3121
Thanks for the answers, we hope that something positive can happen.

The blind developers we have similar problems with other applications:

- Javascript debugging tools in Chrome and Firefox
- SOAP UI for SOAP and REST Web Services tests
- Intellij, although much improved accessibility in the last version
- various ssh terminals such as putty and cygwin
- different tools for database management
-

[2018-06-15 12:54] RickHough commented on #4382
On my Windows 8.1 box I just installed 6.1.3. Install completed but on clicking the launch icon I see a flashing blue cursor (timer?) and nothing else happens. Has anyone managed to get Postman 6.1.3 working on Windows 8.1 yet?

[2018-06-15 14:11] julian-martinez-del-campo commented on #4374
@trev-dev Thanks! That seemed to have fixed it. I too suspected electron, I saw all the processes just sitting there not doing much after the last update.

[2018-06-15 14:58] fwji commented on #6682
+1

[2018-06-15 15:25] johnradke opened #4711 "NTLM auth fails with unified "WWW-Authenticate" header from ASP.NET"
**Describe the bug**
*NOTE: This might be related to issue #4355 since it involves `WWW-Authenticate` header(s)*

Postman fails to start the NTLM negotiation process when the server returns a 401 with auth headers in a **unified** format as follows:
[code]
But it works fine when they are **separated**:
[code]

**To Reproduce**
In my ASP.NET WebAPI (version 5.2.3.0) app startup code, I set the auth

[2018-06-15 15:30] kudlohlavec commented on #2418
Totally agree with @igorsantos07 and @yanxiaodi . I had the same issue, I was testing some stuff so I got some testing messages in the code and were returning 204 response with notorious "Could not get any response" message in postman.
After removal of all messages in the code and returning only empty 204 response code, everything started to work properly in postman.

[2018-06-15 17:33] szahn commented on #4703
Setting the "POSTMAN_DISABLE_GPU" environment flag to true did the trick, but it's more of a temporary workaround than a solution. I'd prefer to have GPU acceleration enabled.

[2018-06-15 17:50] WurstCommander commented on #4562
![image](https://user-images.githubusercontent.com/5268576/41482232-3c8742d8-70d5-11e8-8e3b-7f8f9c38309e.png)

Same here, Windows 7 64bit, updates postman today. The planet's orbits are shown forever and nothing happens. I have to kill postman.exe and restart it several times. Do you need any logs etc?

[2018-06-15 20:05] a85 commented on #4387
We test upgrade paths extensively to make sure there is no data loss. Please email us at help@getpostman.com so we can look at recovery options.

[2018-06-15 20:23] a85 commented on #4633
We currently and for the near future don't have plans for this. Syncing to Git can be achieved through the in-build Postman integration or through the Postman API as a workaround.

[2018-06-15 20:23] #4633 closed, assigned to nobody

[2018-06-15 20:26] #4025 closed, assigned to numaanashraf

[2018-06-15 20:27] #4026 closed, assigned to numaanashraf

[2018-06-15 20:28] a85 commented on #4040
Please email us at help@getpostman.com with your account details and the support team might be able to help you out.

[2018-06-15 20:28] #4040 closed, assigned to SamvelRaja, kamalaknn

[2018-06-15 20:29] #4056 closed, assigned to sdnts

[2018-06-15 20:56] #1239 closed, assigned to nobody

[2018-06-15 21:17] MikeTheCanuck commented on #285
Our scenario is a little different from the "secrets" scenario that many mention above.

We are developing a query API and I am constructing a Collection of queries that we could use to help our developers, field staff and customers learn the query syntax more quickly - and get results faster for the most common queries we're using.

Some of the most powerful queries are the ones where a unique va

[2018-06-16 02:17] marcioamr commented on #4075
This is an important feature when you share your postman with your documentantion

[2018-06-16 16:01] shalvah opened #4712 "HTTP method dropdown stuck"
The dropdown for selecting HTTP method for the request unfurls upwards and stops at the window title bar, so only a few options are shown. It isn't scrollable with mouse or arrow keys.

**To Reproduce**
Steps to reproduce the behavior:
1. Open Postman
2. Click on the dropdown to select a method

**Screenshot**
![image](https://user-images.githubusercontent.com/14361073/41500301-beea4048-7186-11e8-

[2018-06-16 16:04] prashantagarwal commented on #4712
@shalvah Thanks for reporting this. We have already fixed this internally and will release it sometime next week. This dropdown was behaving this way if it doesn't have enough space at the bottom to open. By any chance are you zoomed in or have small window height. One thing you can do right now to unblock your self is zoom out  so that this dropdown fits in the window.

[2018-06-16 16:18] shalvah commented on #4712
@prashantagarwal Thanks. I'm not zoomed in. My screen scaling is at 125% though, so it has a similar effect to zooming. Zooming out manually fixes things for now.

[2018-06-16 17:45] gearskullguy commented on #4683
It just eventually appeared normal after like 6 minutes... the program is installed so there's no need for me to try to install it again.

I'm just reporting it here because it happened over multiple attempts, and the exact same thing happened with other programs, and I think they all use Electron, so maybe something in Postman is triggering something with Electron.

[2018-06-16 20:30] mpawlow commented on #4360
+1
Experiencing the same problem on the following platform:
-  Postman: v6.1.3
-  OS Name: Microsoft Windows 10 Enterprise
-  OS Version: 10.0.16299 N/A Build 16299
-  System Type: x64-based PC

[2018-06-17 01:45] mpowrie commented on #824
I'm looking forward to Postman storing passwords with encryption, so I can start using and recommending Postman properly.

[2018-06-17 04:30] chiragpurohit71085 opened #4713 "Something went wrong on login"
Tried on web as well as app, it suddenly said session time out and now I am not able to login.

[2018-06-17 04:32] chiragpurohit71085 commented on #4713
![2018_06_17_10_01_13](https://user-images.githubusercontent.com/15859081/41504706-7d16209e-7215-11e8-94a9-17f2745755af.jpg)

[2018-06-17 04:33] chiragpurohit71085 commented on #4713
![2018_06_17_10_02_48](https://user-images.githubusercontent.com/15859081/41504711-9d4d0382-7215-11e8-9773-16c36beb2d7d.jpg)

[2018-06-17 04:40] adan92 commented on #4713
I have the same problem in web and app.

[2018-06-17 04:47] adan92 commented on #4713
<img width="939" alt="2018-06-16 23_46_37-devtools - identity getpostman com_login" src="https://user-images.githubusercontent.com/15823844/41504783-8e0bfb0e-71bf-11e8-8ab1-c228341c5dcb.png">

[2018-06-17 04:49] thecuriousdev commented on #4713
@chiragpurohit71085 @adan92 are you still facing the problem?

[2018-06-17 04:50] carmanchris31 commented on #4713
I was just experiencing this too, I think. I thought I had changed my password and didn't think to check the network logs to see if it was a 500. I just tried again to confirm the network call and was able to login successfully. Seems like this may have been resolved?

EDIT: I was able to log into the app as well at which point I immediately got the session expired message again and had to log in