[2019-08-01 12:10] ankurdengla opened #7040 "Double click to select all text inside brackets in response body pretty view not working"
**Describe the bug**
If the response obtained from a request is of type text/HTML/XML, double-clicking to the immediate right of an opening bracket ( "(" , "[" , or "{" ) should select all the text contained between the opening and respective closing bracket.

**To Reproduce**
Steps to reproduce the behavior:
1. Send a request that returns text/html/xml response that has some text between [ ] or (

[2019-08-01 12:15] ankurdengla commented on #6876
Hey @timatanu ! Thanks for confirming the fix for the select and copy issue and for bringing the new case to our notice. Since that is a different issue than the one being discussed in this thread, I've created a new GitHub issue for the same.
You can track updates for it in this issue - https://github.com/postmanlabs/postman-app-support/issues/7040

[2019-08-01 12:17] numaanashraf commented on #5431
We are closing this due to inactivity. Please update to the latest version of the app and let us know if you are still facing this issue.

[2019-08-01 12:17] #5431 closed, assigned to nobody

[2019-08-01 12:22] d42ohpaz commented on #7004
@mccannt Yes, it's still an issue. I'm attaching a short animated gif (sorry for quality) demonstrating the issue I'm having.

![postman-7004](https://user-images.githubusercontent.com/2528463/62292923-70c90780-b435-11e9-8756-3226cf478f6d.gif)

[2019-08-01 12:53] Keso-Rupert opened #7041 ""Error: Parse Error" when making a post request from desktop client, no error from chrome client"
**Describe the bug**
Im trying to make a POST request using a x-www-form-urlencoded request body. One of the parameters is a string containing 2 words seperated by a space, like 'perform action'.  In the Postman console I can see the raw data, and its being send as 'perform%20action'. However, the service expects a 'perform+action'. This is how it's being send from the browser, and then it works.

[2019-08-01 13:36] MarcelSchober commented on #7039
Yes, absolutely the same problem with Canary

[2019-08-01 14:26] KSib commented on #6897
This happens with me every time the automatic upgrade happens. Instead of getting the icon from Update.exe, it keeps trying to look in a directory that doesn't exist. Finally got tired enough of it to post after a few months of it happening.

[2019-08-01 14:56] mcandre opened #7042 "Get New Access Token intermittently responds HTTP status 400"
**Describe the bug**

Over the past few months, I have been integrating and testing Okta OpenID (OIDC) with my web application, using Postman to automate test HTTP calls. This has largely worked so far, and my web app continues to login with OpenID in Google Chrome.

However, when I try to obtain access tokens with Postman, that no longer works. I started getting intermittent HTTP status 400's las

[2019-08-01 16:30] dewelloper commented on #3136
unfortunately I can't agree to this solution
There's nothing I haven't tried since morning.
I am adding client certificate authentification to the project that I wrote with asp.net core. My application is running and the client is waiting. I'm sending a request via Postman to the application running in local. I've added the certificate to the exact specifications and tried all possible combination

[2019-08-01 16:59] yanshouwang commented on #3126
Eagerly looking forward for this, please support Chinese and other languages, tht's will be perfect!

[2019-08-01 17:00] beflymontreal commented on #6965
Hi,
One of our developers has opened a bug report with you. I'll let you deal with his ticket since he will be able to better explain the situation than me. You can close this ticket. Thank you!
Best,Flora
    On Thursday, August 1, 2019, 01:41:07 AM PDT, Premang Vikani <notifications@github.com> wrote:

Hi @beflymontreal

I am not able to understand your issue. Please explain the issue in detail

[2019-08-01 17:16] Brunofreedom commented on #6949
Ok

[2019-08-01 17:31] TimEganGitHub commented on #6964
Hello Premang,

  Please see the collection link https://www.getpostman.com/collections/2004ec7762da19644209.
The error occurs on Post Financial Area.

The tests pass when run from Postman or from the Command prompt.  Just a few tests including Financial Area fail when executed in our pipeline.  The tests have worked in the past.

Thanks

Tim

From: Premang Vikani <notifications@github.com>
Sent:

[2019-08-01 17:50] KaminKevCrew commented on #5294
+1

[2019-08-01 19:03] nathanbAL commented on #971
Possible to have a variation of {{$randomZipCode}} that returns a 5 digit postalCode?

[2019-08-01 19:45] esonti opened #7043 "Unable to add APIMatic-Github integration"
**Describe the bug**
Tried to add a simple APIMatic integrations to push the collection from postman to github in swagger 2.0 yaml format.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to "Integrations" --> APIMatic --> Github
2. Enter all the necessary details. (Screenshot attached)
3. Click on "Add Integration"
4. Observe the error message "Something went wrong
An error occurred while

[2019-08-01 21:16] ASStroh commented on #3845
+1

[2019-08-02 00:03] devdilson commented on #6682
+1 looking foward this feature.

[2019-08-02 00:03] xk0der opened #7044 "Control to expand scientific notation numbers"
Filing this on behalf of a user.

**Is your feature request related to a problem? Please describe.**
API endpoints returning floating-point or double numbers in scientific notation are not that easy for us humans to read.

There was a related change done earlier here: #1032

The user reported this Postman was expanding the numbers couple releases earlier, but the last two releases (7.3.4 and 7.3.5

[2019-08-02 06:42] benbendemo commented on #3120
Postman Version: 7.3.5
App (Chrome extension or Native app):Native app
OS: MacOS Mojave 10.14.5 (18F132)

<img width="795" alt="image" src="https://user-images.githubusercontent.com/4705587/62349750-38a7ee80-b533-11e9-9a8e-6546ba50c7b7.png">

<img width="844" alt="image" src="https://user-images.githubusercontent.com/4705587/62349766-48273780-b533-11e9-905c-489121b190c3.png">

I've tried all kinds

[2019-08-02 06:43] benbendemo commented on #3120
@madebysid @numaanashraf

[2019-08-02 07:18] saswatds commented on #3120
Hi @benbendemo
The crypto library available inside sandbox is https://code.google.com/archive/p/crypto-js/

Can you try `var res = CryptoJS.HmacSHA1("Message", "Secret Passphrase");` instead ?

[2019-08-02 07:50] Caromeen commented on #6682
+1

[2019-08-02 08:17] numaanashraf commented on #7039
@MarcelSchober Thanks. Could you run the following command via the terminal and send us the output?
[code]

please change `/Applications/Postman.app` to where the app is on your system.

[2019-08-02 08:26] numaanashraf commented on #7039
@MarcelSchober Also please share how you had unarchived the zip that was downloaded from Postman. If you are using any third party extractors like 'The Unarchiver', could you try extracting via the built-in 'Archive Utility' instead and let us know if the issues persists?

[2019-08-02 08:33] EstherLacan opened #7045 "could you please provide the source code of postman app chrome version?"
hello :
   I am learning postman Technology [(postman chrome app)](https://chrome.google.com/webstore/detail/postman/fhbjgbiflinjbdggehcddcbncdddomop) ,but i just debug the source that has been compiled by webpack.

could you provide the source code of this project, thank you very much.
:mailbox:

[2019-08-02 08:47] numaanashraf commented on #7045
Thanks for reaching out @EstherLacan. Postman's chrome & desktop apps are closed-source as of date and I'm afraid we cannot share this at the moment. But the team would be happy to answer any questions on how the apps are built and the technology behind it. I recommend interacting with the team via Postman's community forum - https://community.getpostman.com/

[2019-08-02 08:47] #7045 closed, assigned to nobody

[2019-08-02 08:51] numaanashraf commented on #6978
@aapablaza We are tracking this at #3450. If your proxy doesn't need authentication, could you try launching Postman with these flags?
[code]

[2019-08-02 08:51] numaanashraf commented on #6978
Duplicate of #3450

[2019-08-02 08:51] #6978 closed, assigned to shamasis, numaanashraf

[2019-08-02 09:21] preethammavin commented on #6771
@pdemello I understand the workflow, but I do not think we will taking this up anytime soon. Thanks for the feedback and suggestion.

[2019-08-02 09:21] #6771 closed, assigned to shamasis, numaanashraf

[2019-08-02 09:25] numaanashraf commented on #6982
@StephenOsborne0 We were able to replicate this and will get this resolved in upcoming releases. Thanks for pointing this out.

[2019-08-02 09:44] EstherLacan commented on #7045
@numaanashraf ,I have a technology question about the postman :
How the postman app complete the login authentication and send the http Request  via get the cookie information from the web page，can you please point out the code in the code file( requester.js).

[2019-08-02 10:09] harryi3t commented on #7042
@mcandre
Thanks for reaching out.
We are currently tracking this Oauth2 issue here https://github.com/postmanlabs/postman-app-support/issues/7032

Please try out the custom build we have shared as mentioned here https://github.com/postmanlabs/postman-app-support/issues/7032#issuecomment-517239942

[2019-08-02 10:09] #7042 closed, assigned to nobody

[2019-08-02 10:17] cyrielle-hada opened #7046 "Request data export fails from dashboard - /api/export <unavailable>"
**Describe the bug**
When trying to download archived collections from https://app.postman.co/me/export, the requested export seems frozen. The file can't be downloaded.

JavaScript console says: `Unhandled promise rejection <unavailable>`

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://app.postman.co/me/export
2. Click on Request data export
3. Click Submit
4. See status says

[2019-08-02 10:36] ankurdengla commented on #6895
Since this issue is already closed, we are tracking OAuth2 related bugs in this thread - https://github.com/postmanlabs/postman-app-support/issues/7032

[2019-08-02 11:04] liuwenwubin opened #7047 "win7下载点击安装后无法定位程序输入点y于动态链接库KERNET32.dll上。"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem. Please make sure the screenshot does no

[2019-08-02 11:16] rizzorc opened #7048 "Deleted Collections are not being deleted"
**Bug Description**
There are several Collections that I deleted from postman (and emptied from Trash) which still appear in my account. As illustrated in screen shots (Below)

When I click on the deleted collection from postman's site, I get an error-

Here is one such deleted collection
- [Deleted Collection Named "Analytics"](https://sdt-manh.postman.co/workspaces/switch?model=collection&id=254

[2019-08-02 11:24] emircansancar commented on #4361
I have that same problem.

![image](https://user-images.githubusercontent.com/16269350/62367032-347ad180-b531-11e9-9527-f7b96d2f85b9.png)

[2019-08-02 11:29] kamalaknn commented on #7017
Hey @jonnyijapan @ErSoul @mds1256

This is a regression introduced in the 7.3 version of Postman App. as @COB-SM mentioned we have pushed a fix for this on the [Canary Channel](https://www.getpostman.com/downloads/canary).

We will be pushing this to the stable channel soon. We are tracking this as part of #6899

I'm closing this as a duplicate. Please follow the original thread for updates.

[2019-08-02 11:29] #7017 closed, assigned to nobody

[2019-08-02 11:41] giripriyav opened #7049 "v7.3.4 and Up - mac , postman doesn't recognize url in body of a JSON response"
_Monaco editor_ used for displaying the response in v7.3.4 and up doesn't recognize urls in body.
This subsequently prevents us from following any urls in JSON response
_Ace Editor_ which was used in v7.2.2 and below had this feature.

**Screenshots:**
Same API call has been made to generate both these screenshots
1) Url recognized on hover in v7.2.2
![Screenshot 2019-08-02 at 5 00 28 PM](https://

[2019-08-02 12:59] Brunofreedom commented on #6949
now it's working ! Thank you

[2019-08-02 13:27] zmts commented on #2086
+1

[2019-08-02 13:34] cyrielle-hada commented on #7046
Workaround for this issue: realize [a data dump](https://learning.getpostman.com/docs/postman/collections/data_formats/#data-dumps).

[2019-08-02 13:56] Keso-Rupert commented on #7041
Update:
It's not related to the encoding of the space. In the console I see the message: Error: Parse Error (which doesnt say much at all). I checked with the guys owning the service I'm calling, they see the request being processed and a response being returned.

These are the headers I'm using:
Origin: ((URL of the service I'm using))
Upgrade-Insecure-Requests:1
User-Agent:Mozilla/5.0 (Windows N

[2019-08-02 14:06] TimEganGitHub commented on #6964
Hi Premang,

  It turns out that the developers moved our pipeline tests from VSTS to Git Hub without my knowledge.  The updates I was adding in VSTS weren’t getting to the script.
This ticket can be closed.

Thanks so much for helping.

Tim

From: Tim Egan
Sent: Thursday, August 1, 2019 10:31 AM
To: postmanlabs/postman-app-support <reply@reply.github.com>; postmanlabs/postman-app-support <postman

[2019-08-02 14:08] mateusfccp commented on #350
+1

[2019-08-02 14:31] rmm5t commented on #4140
Alternatively, it'd be nice if Postman treated `BearerToken` and `Bearer` as equivalent token-type responses, just because Apigee is so prevalent.

[2019-08-02 14:31] toreskobba commented on #6895
@ankurdengla1996 I saw your email about trying the canary version but I am off for a week vacation now and did not manage to download and try. I gave the email and link to a colleague maybe they will try it.

Thanks for fast replies.

[2019-08-02 15:55] #6949 closed, assigned to codenirvana

[2019-08-02 18:16] JP-from-Postman opened #7050 "Billing dashboard: invoice shows due date in 1970"
**Describe the bug**
Team's account is disabled for lack of payment, and billing dashboard shows due date as:

<img width="455" alt="Screen Shot 2019-08-02 at 11 05 47 AM" src="https://user-images.githubusercontent.com/43283131/62389857-c70d7780-b515-11e9-954b-d7cf5162e9bd.png">

**To Reproduce**
Steps to reproduce the behavior:
(For this specific team)
1. Go to: https://go.postman.co/billing/over

[2019-08-02 18:45] akaczinski opened #7051 "Can't update HttpOnly cookie to non-HttpOnly"
**Describe the bug**
Before this version of PostmanCanary, if you went to a page that, for example had a cookie on login:
set-cookie: 'foo=bar; Expires=Thu, 01-Jan-1970 00:00:10 GMT; Path=/test'

and later, after using a logout link, the server responds to postman with:
set-cookie: 'foo=""; Expires=Thu, 01-Jan-1970 00:00:10 GMT; Path=/test'

It used to wipe the cookie from Postman.

Now when follo

[2019-08-02 19:23] shamasis commented on #7002
This could be useful. But first step would be to be able to better manage and debug variables. Once we get to that, we will look into this. But it is unlikely that we will build this any time soon. And instead will concentrate more on highlighting what variables are used and referred at a request and folder level.

[2019-08-02 19:25] shamasis commented on #7003
I’m afraid this is by design and in line with the security aspects of having parts of it that can never sync. We will address this use case using other mechanisms. Stay tuned. 😊

[2019-08-02 19:26] #7003 closed, assigned to nobody

[2019-08-02 19:31] shamasis commented on #7006
We have asked Sniff and Scurry to work on this. They’re presently stuck deciding between what is a text and what is not! Any help here would be appreciated.

[2019-08-02 19:33] richardjprice commented on #3694
I've just hit this particular scenario. It really feels like a missing killer feature that will provide a nice way to validate your examples are correct and working.

[2019-08-02 19:35] talynone commented on #6719
Just an FYI, I used the following to convert the JSON formatted response to SDL:
https://www.npmjs.com/package/graphql-introspection-json-to-sdl

[2019-08-02 19:40] shamasis commented on #7027
Yeah. URL sounds useful here, but so does request method and other stuff. I guess we will need to solve it using better in-place editing and keyboard navigation to finally get rid of this modal.

Thoughts @vkaegis ?

[2019-08-02 19:48] shamasis commented on #7044
We would address this by using settings around the pretty view. Settings to choose pretiffication language and other such intricacies.

cc @vkaegis

[2019-08-02 19:53] shamasis commented on #7047
Google translate shows “After win7 download click install, you can't locate the program input point y on the dynamic link library KERNET32.dll.”

We need more information such as
- app version,
- OS version and if 32/64bit OS
- is there any antivirus software blocking it?

Try re downloading the app and install in a fresh machine and check to start eliminating the cause.

[2019-08-02 20:02] fsilva3 commented on #7003
Currently me and my team, we're working with "Persist All" and "Reset All" features... it's not very practical, but works...
![image](https://user-images.githubusercontent.com/1984980/62395390-74987f00-b546-11e9-9e33-6e7a4aaa8738.png)

Initial Value by default is synced, so if you want to update some value, we just update `current value` and click "Persist All", it'll put `current value` on `initi

[2019-08-02 22:11] fstani commented on #5901
So this would be something that would be really good to have

[2019-08-02 22:40] JP-from-Postman opened #7052 "Order requests before folders in a Collection"
**Is your feature request related to a problem? Please describe.**
Currently, folders and requests in a Collection can be re-ordered, but requests cannot be ordered before folders:

<img width="276" alt="Screen Shot 2019-08-02 at 3 31 48 PM" src="https://user-images.githubusercontent.com/43283131/62402173-5711e800-b53b-11e9-9921-a604b189a44d.png">

**Describe the solution you'd like**
Allow reques

[2019-08-03 00:31] JP-from-Postman opened #7053 "Collection runner goes black after selecting Collection"
**Describe the bug**
After selecting a Collection, the Runner window goes black, and stays that way even after closing it and opening a new Runner window.

**To Reproduce**
Steps to reproduce the behavior:
(note: support not able to reproduce. maybe be specific to this user/team/etc)
1. Open Collection Runner window
2. Select Collection
3. See Runner window turn solid black
4. Close window and re-

[2019-08-03 00:48] liuwenwubin commented on #7047
1、win7系统版本64位，
2、下载也是64位操作系统，
![image](https://user-images.githubusercontent.com/20508528/62404947-6476b300-b5cb-11e9-9f78-5eb003bb0e1f.png)

[2019-08-03 04:17] saswatds commented on #7004
Hi @9ae8sdf76  It seems like you are using a really old version of the app. In the latest version of the app 7.3.5, the issue is no longer prevalent. Also, we have updated the underlying editor stack to use a different editor giving a lower memory footprint and better performance.

Could you update to the latest version and confirm that it is no longer happening?

[2019-08-03 04:38] saswatds commented on #7049
Hey @giripriyav, I not able to reproduce the issue. I am using out test server `postman-echo.com/get` endpoint to construct your url as seen below.
<img width="994" alt="Screenshot 2019-08-03 at 10 01 10 AM" src="https://user-images.githubusercontent.com/8796447/62407397-a99fe280-b5d5-11e9-8ec7-0078f615fdd9.png">

Prior to 7.3.x the response viewer was un-intentionally ignoring escape character be

[2019-08-03 06:05] codenirvana commented on #7051
@akaczinski Thanks for reporting this issue. We have made some improvements in our cookie management flow to add support for programmatic cookie access (Yes, its available in canary-04) and this looks like a side effect of that.

I will try reproducing this issue and check why it's happening.

To know more about programmatic cookie access: https://github.com/postmanlabs/postman-app-support/issues/

[2019-08-03 06:14] giripriyav commented on #7049
@saswatds You are right about our server sending the escape characters. It is necessary for our client. Can you suggest any way to allow that "un-intentional" parsing in newer versions? This may be a feature request then.

[2019-08-03 06:14] #7049 closed, assigned to saswatds

[2019-08-03 11:41] saswatds commented on #7049
@giripriyav At this moment I am afraid there is no way. Currently we are tracking all these kind of hidden bug/features associated with the old editor following which we planning to provide a bunch of settings to re-enable the old behaviour in a case to case basis. We will keep this issue in mind.

Thanks.

[2019-08-03 11:53] sanjeetbisht commented on #350
+1

[2019-08-03 13:36] preethammavin opened #7054 "Unable to access shared environments in public documentation"
**Describe the bug**
I am trying to select a shared environment on the public documenter, and the page renders to give a 403, and I have access to the environment and can view in my workspace

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://docs.api.getpostman.com
2. Click on environments list
3. select a shared environment
4. See error

**Expected behavior**
should try to resol

[2019-08-03 13:46] d42ohpaz commented on #7004
When I click Check for Updates it says I’m using the latest version. Is
that expected? I will download the latest version from the site and try
again. Thank you.

On Sat, Aug 3, 2019 at 12:17 AM Saswat Das <notifications@github.com> wrote:

--
"Do not go gentle into that good night. Rage, rage against the dying of the
light." — Dylan Thomas

[2019-08-04 03:15] SamPlusPlus commented on #1946
My team often deals with downloading Json anywhere from 10mb-100mb it appears Postman cannot handle this at all for us. It often just hangs or crashes . Currently using MacOs 10.14.5 and Postman version 6.7.4

[2019-08-04 04:31] aaronn commented on #4009
+1

[2019-08-04 06:39] saswatds commented on #1946
Hello everyone, In the latest version of app 7.3.x we have updated the response viewer stack to be more performant and reduced the memory footprint while showing large responses.

Here is a test sample of me trying to load ~110mb random data
<img width="1004" alt="Screenshot 2019-08-04 at 11 44 13 AM" src="https://user-images.githubusercontent.com/8796447/62420357-6a919000-b6ae-11e9-9734-214b56e99

[2019-08-04 06:40] #1946 closed, assigned to shamasis

[2019-08-04 06:52] saswatds commented on #5555
Hi @gabrieltaets the native app is in general little bit heavy. We have been actively working on improving performance. A lot of performance fixes have landed on our production app version 7.3.x regarding response viewing experience.

I will be closing this issue as we are already tracking the performance problems in more specialised issues on both runner and requester.

[2019-08-04 06:52] #5555 closed, assigned to saswatds

[2019-08-04 09:06] Acelator opened #7055 "Postman is not starting"
I installed postman, and when I try to open it, nothing happens. I tried opening it from terminal and I get
```Could not get the lock, quitting```
I reinstall the program twice but it still doesn't work. I deleted all the related data from my hard disk, but it don't work. A few month ago it works, but I didn't use Postman for four months and today I were trying to use it to test and API and I disc

[2019-08-04 12:42] TomGranot opened #7056 "Postman download keeps failing"
**Describe the bug**
The Linux 64-bit version of Postman keeps failing to download - even when testing with different connections, both wired and wireless.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://www.getpostman.com/downloads/
2. Click on 'Linux 64-bit' ([link](https://dl.pstmn.io/download/latest/linux64))

**Expected behavior**
Download will not fail.

**App information

[2019-08-04 12:48] xai1983kbu commented on #1663
tried to follow instructions of that blog post https://blog.iron.io/amazon-sqs-simple-queue-service-overview-and-tutorial/
1 step - creating a queue by sending GET request
GET https://sqs.us-east-1.amazonaws.com?Action=CreateQueue&DefaultVisibilityTimeout=0&QueueName=MainLine&Version=2012-11-05

but got an error message in response
[code]

then I've tried the same instructions in Insomnia (https:/

[2019-08-04 15:05] preethammavin commented on #6958
Closing the issue for now, as we do not have enough information to help you. Feel free to reopen the issue with the required information so that we can get it sorted for you.

[2019-08-04 15:05] #6958 closed, assigned to nobody

[2019-08-04 15:12] preethammavin commented on #6986
@varaveet if you are talking about sending a request , there is a feature for send and download for the requested response.

We could understand the workflow a bit better, if you can explain with the above mentioned format or elaborate the feature.

[2019-08-04 15:16] preethammavin commented on #6993
@apokall can check if the behaviour persists with our latest version, 7.3.5. as I am unable to reproduce this on my end.

[2019-08-04 15:18] varaveet commented on #6986
Like if i provide some path prior, responses should be stored in that location. This will reduce manual intervention of going and clicking send and download option everytime

[2019-08-04 15:47] preethammavin commented on #6986
@varaveet that would be something which would introduce complexity in the product where we have no control over so for now this is not something we would be picking up, would suggest to use collection runner and generate the history response from there and export it at bulk. Or use Newman + Postman API to generate the response and store it locally

Both of these should enable your workflow.

[2019-08-04 15:47] #6986 closed, assigned to nobody

[2019-08-04 16:29] preethammavin commented on #7048
@rizzorc can you confirm the steps you took to delete the collections ?
Did you delete the collection or do remove from workspace? If you do remove from workspace it would remove from that workspace and not delete the collection. The collection would still appear in the collection list. Try deleting by selecting delete and check again.

[2019-08-04 17:23] mayurtikundi12 commented on #3221
same issue here as well
using ubuntu os

[2019-08-04 17:52] harryi3t commented on #7056
Was able to reproduce the issue (using a VPN connection of Israel)
Getting `dns_probe_finished_nxdomain` error

![image](https://user-images.githubusercontent.com/5207331/62427283-62693d00-b70e-11e9-9ad1-a6aa86ddb4aa.png)

cc @kunagpal

[2019-08-04 17:55] harryi3t commented on #7055
@Acelator The error `Could not get the lock, quitting` happens when there is already an instance of Postman running.
Can you try to kill all instances of Postman first and try restarting the Postman app?
To kill all instances either you can use `killall Postman` or just reboot the system.

[2019-08-04 21:17] jmenolascino opened #7057 "Generate code snippets choosing language popup not working"
**Describe the bug**
Cannot select python requests in GENERATE CODE SNIPPETS modal, when cursor is on Python popup menu does not appear

**To Reproduce**
Steps to reproduce the behavior:
1. Open Request
2. Click on Code
3. Click on drop down menu to choose language
4. Scroll down to Python
5. See error, pop up menu with options for Python does not appear

**Expected behavior**
Pop up menu with opt

[2019-08-04 21:35] xk0der opened #7058 "CNAME field is empty when instructing user to setup a custom domain"
**Describe the bug**
When a user is adding the custom domain the CNAME field value should be populated with

**To Reproduce**
Steps to reproduce the behaviour:
Follow steps listed here: https://learning.getpostman.com/docs/postman/api_documentation/adding_and_verifying_custom_domains/
For step "[Get verification tokens](https://learning.getpostman.com/docs/postman/api_documentation/adding_and_veri

[2019-08-04 21:36] jmenolascino commented on #7057
After further research, this was a scrolling issue, and using scroll bar below and scrolling to the right could see the pop up to select the options inside respective languages, closing issue

[2019-08-04 21:36] #7057 closed, assigned to nobody

[2019-08-05 01:46] gongdo opened #7059 "Cannot import valid OpenApi3 yaml"
**Describe the bug**
Postman cannot import a valid OpenApi 3 yaml which can be converted to collection by `openapi2postmanv2` cli.

**To Reproduce**
1. open Postman (v7.3.5)
2. Click [Import]
3. Paste follow yaml to [Paste Raw Text]
4. Click [Import]

[code]

**Expected behavior**
Postman imports the openapi yaml to a new collection.

**Screenshots**
![image](https://user-images.githubusercontent.

[2019-08-05 02:48] robvdl opened #7060 "Clean up previous updates"
When Postman autoupdates it fails to do any house cleaning of the older updates, over time this just builds up in the app folder and becomes huge.

My Postman app folder is now over 5gb in size, this is crazy. Can we please do something about this, auto clean updates that are a few versions old perhaps.

[code]

I'm not entirely sure if this is related to updates because I deleted all these files

[2019-08-05 02:48] gabrieltaets commented on #5555
Hi @saswatds. I'm glad to see some performance improvements. I'm no longer working at the same company I was at the time of this post so I'm afraid it's not possible for me to check for any improvements, on the matter of the reported issue. However, I am still using Postman at my current job and personal projects and I have not noticed the same sluggish behavior since then, which points either to

[2019-08-05 02:57] kyouzzz commented on #3107
Right click the icon in task bar.
Right click program name "Postman".
Left click "property" and modify the icon

[2019-08-05 03:31] 0x2d3c opened #7061 "post json data with raw data in ubuntu19.04 can not edit json data easily"
os: ubuntu19.04
when i use postman to post json data with raw, can not edit json data  easily! beacuse, i can not choose correctly index  to character which you want to edit

[2019-08-05 03:38] preethammavin commented on #7060
@robvdl can you let us know the OS that you are using?

[2019-08-05 04:18] abcdefz opened #7062 "Wrong response pretty"
**Describe the bug**
response.raw  is
{"url": "https:\/\/xxx.com\/icons\/xxx.jpeg"}

then response.pretty is
"https:\/\/xxx.com\/icons\/xxx.jpeg"

but I expect
"https://xxx.com/icons/xxx.jpeg"

when I use python shell
it's what i expect
when I use postman Chrome APP
it's what I expect

**App information (please complete the following information):**
 - App Type [Native App]
 - Postman Version [7.3

[2019-08-05 04:25] robvdl commented on #7060
Ubuntu 18.04 LTS

On Mon, 5 Aug 2019 at 15:38, Preetham <notifications@github.com> wrote:

[2019-08-05 04:55] harryi3t commented on #7060
@robvdl Are you on the latest version of Postman (v7.3.x)?
Also, it would really help if you could share the logs with us at help@getpostman.com. Please put the subject `Logs for GitHub 7060`.
You can find the logs at `View -> Developer -> View logs in File Manager`

[2019-08-05 05:11] shivam-postman commented on #6851
Hey @VicKetchup, we carried out some tests. Turns out that searching through large data sets is slow in general for all the websites and often freezes the page. It looks like a browser level optimisation.
Can you specify how much data were you dealing with, during the search? Thanks.

[2019-08-05 06:02] mutumakeffa commented on #5301
Still not installing on windows even after using the canary builder you posted

[2019-08-05 06:16] harryi3t commented on #5301
@mutumakeffa What error are you facing? Could you post the screenshot(s) of the error and if there are any error logs that too?

[2019-08-05 06:48] robvdl commented on #7060
I'm updating it now, I'm not sure what version it was on before because help->about menu entry is missing. It's kinda where people tend to publish version in desktop apps :) Might be a nice addition at some point.

I thought it updated itself, as I thought that is what the folders were coming from. Apparently that isn't the case.

Anyway, I'm not 7.3.5 now. Issue has gone away, thanks.

[2019-08-05 06:48] #7060 closed, assigned to nobody

[2019-08-05 07:39] saswatds commented on #7062
Hi @abcdefz It seems that your issue is related to https://github.com/postmanlabs/postman-app-support/issues/7049

Can you confirm if your server is sending the URL will escape character?

[2019-08-05 07:40] exceptionplayer commented on #4009
Need this.

[2019-08-05 07:43] saswatds commented on #5762
Hi @tmdoit We have been able to reproduce this, the fix will be on the way soon.

[2019-08-05 07:51] abcdefz commented on #7062
server return 'http:\/\/xxx.com\/xxx'
it should return 'http://xxx.com/xxx'   right?

[2019-08-05 07:58] Keso-Rupert commented on #7041
**Update again**
It looks like it's an issue with this header I'm receiving:
Set-Cookie: R5SESSION=CbHu6iDQPLN409Aic6TAYzpJ4WFOP-05FaHvtV8j0zsJuVUXDdbo6x36GLXZ2Fg=;path=/;domain=.blabla.com

In all requests this header is not there, except for the request in which the parse error occurs.
I think it breaks because Postman expects a key value pair like key=value;. The session cookie ends with a '='

[2019-08-05 08:11] MarcelSchober commented on #7039
Using the build-in 'Archive Utility' solved the problem! Thanks for your hint and your fast response!

I used "iZip" before.

[2019-08-05 08:12] #7039 closed, assigned to nobody

[2019-08-05 08:22] numaanashraf commented on #7039
Glad to hear that @MarcelSchober :)

[2019-08-05 09:08] coditva commented on #7041
Hey @Keso-Rupert, there seems to be something else that we're missing because I've been unable to get `Parse Error` in any of the ways that you mentioned so far.

There was no problem with cookie header parsing (even with an `=` at the end) so we don't need to ignore any headers.

I'll try and add more verbose logging in Postman, but in the meantime, is it possible for you to send me a collection

[2019-08-05 09:17] yehtutlwin commented on #2086
+1

[2019-08-05 10:05] Keso-Rupert commented on #7041
Hi @coditva, thanks for your reply. I can send you a collection, but the request won't work, is that OK? I can also send you the full raw response (with some minor thing omitted) that I've gotten from the chrome app (where the call works).
How can I send it to you?

[2019-08-05 10:13] coditva commented on #7041
@Keso-Rupert That would be really helpful! You can export the collection and response and attach them to a GitHub comment.

You can also put them in a zip file and attach to a comment.

https://help.github.com/en/articles/file-attachments-on-issues-and-pull-requests

[2019-08-05 10:34] mhlenux commented on #4108
Same problem, Windows 10

[2019-08-05 10:35] TehWardy commented on #3136
@dewelloper Fiddler is a proxy, that will only make the situation more complex and likely cause you more issues. I use to use it a long time ago but dropped it when it started causing more problems than it solved.

I'm logging information on the server (my web app) and on the client (browser / postman console) running on the same machine, the UI above was just something I threw together to show di

[2019-08-05 10:48] Acelator commented on #7055
Yes, I noticed that Postman start when I turn on my Computer, but I don't know why it doesn't appeared. I remove Postman from the Apps that are loaded when I boot my system and It works good now. Thanks

[2019-08-05 10:48] #7055 closed, assigned to nobody

[2019-08-05 10:50] m3dbedb commented on #6946
Currently the issue is not appear since I have updated to 7.3.5. If it appear I would send a screenshot.

[2019-08-05 10:55] numaanashraf commented on #6946
@m3dbedb Thanks for letting us know. We are closing this for now, let us know if you face this again - we can re-open this then.

[2019-08-05 10:55] #6946 closed, assigned to nobody

[2019-08-05 10:58] m3dbedb commented on #4764
The issue is still present in postman 7.3.5 (under windows 7 32 bit), app launched with

[2019-08-05 10:59] kamalaknn commented on #6899
We have pushed this fix to the stable channel in Postman 7.3.6. Please update to the latest and give it a try.

[2019-08-05 10:59] #6899 closed, assigned to kamalaknn

[2019-08-05 11:00] m3dbedb commented on #6469
The issue is reproduced in postman 7.3.5 under windows 7 32 bit

[2019-08-05 11:01] kamalaknn commented on #6947
We have pushed this fix to the stable channel in Postman 7.3.6. Please update to the latest version and give it a try.

[2019-08-05 11:01] #6947 closed, assigned to kamalaknn

[2019-08-05 11:06] kamalaknn commented on #6991
This fix is now available on the stable channel as well from Postman 7.3.6. Please update your app to the latest version and give it a try.

[2019-08-05 11:06] #6991 closed, assigned to nobody

[2019-08-05 11:16] kamalaknn commented on #6876
The fix for copy action in the context menu is on the stable channel from Postman 7.3.6. Please update and give it a try.

[2019-08-05 11:16] #6876 closed, assigned to kamalaknn

[2019-08-05 11:20] sujayvenaik commented on #6383
Hey @ankit-m @VicKetchup
We have addressed this in the latest version (v7.3.6).
Closing this issue, feel free to reply on the thread if you face it again.

[2019-08-05 11:20] #6383 closed, assigned to sujayvenaik

[2019-08-05 11:22] rizzorc commented on #7048
Hello @preethammavin I remember specifically deleting these collections because there were quite a few and I had to do it one by one!

[2019-08-05 11:25] Keso-Rupert commented on #7041
@coditva I've zipped and attached them to this comment.

[2019-08-05 11:37] VicKetchup commented on #6851
@shivam-postman Had a look at our logs and at the maximum 4413 lines of console log.

[2019-08-05 11:54] BobClaerhout opened #7063 "Cache-control header added twice to generated request"
**Describe the bug**
When generating code from postman, the generated code contains the "Cache-control" header twice. E.g.: generated curl command:
[code]
Other code generators also have the duplicate header key. So it seems to be an error in the source array presented to the code generators.

**To Reproduce**
Steps to reproduce the behavior:
1. Just generate code using postman.

**Expected behavi

[2019-08-05 12:12] rahuldange09 commented on #6333
Any updates on this feature. Can't see large response properly in small window. It's better if they add a toggle to see response in full screen with Json Viewer features (Expand- Collapse JSONArray)

[2019-08-05 12:54] wangjiancn commented on #7061
![ezgif com-video-to-gif](https://user-images.githubusercontent.com/37948697/62466115-1cba7c00-b7c3-11e9-9823-ef0482749bba.gif)
Postman7.3.6 in Ubuntu18.04LTS has this problem too.

[2019-08-05 13:09] mortenn commented on #2240
This is a blocker for our company.

[2019-08-05 13:19] dewelloper commented on #3136
You are right. Naw i can sending certificate however :)
But handler getting always null

[2019-08-05 13:37] Essler commented on #2086
@shamasis, back on February 13 you mentioned "this will get picked up sooner than later" and I see a label was added on July 8. What's the status of this issue today, and where can we go to more closely follow its progress?

[2019-08-05 14:02] aquaductape commented on #5301
PostmanCanary works, but regular postman `Postman-win64-7.3.6-Setup`,  installer fails as well.

SquirrelSetup.log
[code]

[2019-08-05 14:12] preethammavin commented on #7048
@rizzorc can you write to us at help@getpostman.com with reference to the github issue so that we can take a closer look.

Would be great if you can try to delete one of those collections again,
Steps
Share one of the collection from here to a workspace
click on ellipses and  select delete collection

If you can share the app logs if you are using Postman (view->developer-> view logs) or Web conso

[2019-08-05 14:35] rizzorc commented on #7048
@preethammavin I have sent the debug information via email as requested.

Please note that the steps that you provided appears to have deleted the collection (I deleted 2 collections with the name "AssignCashDrawer."

I will hold off on deleting any more of these collections so that further troubleshooting / root cause analysis may be performed.

[2019-08-05 15:15] Endorel commented on #6995
I have the same issue. Here is a screenshot:
<img width="425" alt="Screenshot 2019-08-05 at 17 13 03" src="https://user-images.githubusercontent.com/16289839/62474977-5d56cd00-b7a4-11e9-8895-31524670af96.png">

I'm on a MacBook Pro running macOs Mojave version 10.14.5 and postman version 7.3.6

I have tried re-installing with a download from the postman site, but no luck.

[2019-08-05 16:07] akaczinski commented on #7051
happy to help! and thank you for looking into this.

I'm strangely excited about the programmatic cookie access! It's been an area where I've often felt trapped in Postman, so thank you very much. I'll definitely be giving it some work.

[2019-08-05 16:30] shamasis commented on #4751
Continuing from the positive feedback we received on the [Postman Canary](https://www.getpostman.com/downloads/canary), I would like to update this thread with the news that the latest performance improvements around rendering large responses have landed in production. You would now be able render relatively large responses in app without crashing the app.

There is still a configurable [upper lim

[2019-08-05 16:37] shamasis commented on #4751
Since there are many on this thread with whom we were discussing the intricacies of handling large responses, here is a summary of things we did under the hood:

1. Added "taps" in every Buffer that streams response to the view. With this, we can now effectively track how much data we are downloading as it happens and stop on a threshold.

2. Replaced AceEditor with Monaco to prevent parsing of en

[2019-08-05 16:40] NagoLazaro commented on #7052
Thanks for creating the support issue! This functionality would be helpful to keep our documentation well organized and readable.

[2019-08-05 18:01] atomCode commented on #6296
I just upgraded to version 7.3.6 and this issue started happening. I'm running Windows 7 service pack 1.
Before I upgraded it was running perfectly fine on version 6.2.3.
Here is the error that comes up. After I click ok the dialog goes away but the animated atom just stays there forever or until I kill the processes that stay running in the background even though the postman app never opens.
![er

[2019-08-05 18:53] chrisdeso commented on #7032
Thanks for sending the logs in @BrianP6!

@ankurdengla1996 – We've added the info internally

[2019-08-05 19:38] davidh-zoosk commented on #7009
Hi guys, any updates on this?

[2019-08-05 19:57] vdespa commented on #6748
@AmanDhembla I will try again and let you know. Thanks.

[2019-08-05 21:56] rafael-yure commented on #4687
Yeah, mine too. I've just closed and opened up again:

![image](https://user-images.githubusercontent.com/8876325/62497501-8ed69500-b7b2-11e9-91b4-f0b15c40eafc.png)

This will never change unless Postman stops using Electron. All Electron apps have this huge RAM footpring: Slack, WhatsApp, take your pic.

I always wonder how much RAM do I actually need to develop these days...

[2019-08-06 00:39] shamasis commented on #7006
Hi there @philmagr. Could you please elaborate on what set of text colours are you interested in having customisability for?

[2019-08-06 00:47] reduckted commented on #6897
I'm seeing this too on v7.3.6. Seems to be the same as #4814 which was fixed previously.

My shortcut was pointing to the `7.2.2 folder`, but I only have `7.3.4` and `7.3.6` folders.
![image](https://user-images.githubusercontent.com/10321525/62503397-54fba200-b837-11e9-9b78-3d420325cacc.png)

[2019-08-06 02:32] wajncn opened #7064 "postman 7.3.6 mac版本 import => paste raw text ====>BUG"
curl 'https://*****/find' -H 'Accept: application/json, text/plain, */*' -H 'Referer: https://admin.ezbtest.top/' -H 'Origin: https://admin.ezbtest.top' -H 'User-Agent: Mozilla/5.0 (Macintosh; Intel Mac OS X 10_13_3) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/75.0.3770.142 Safari/537.36' -H 'Content-Type: application/x-www-form-urlencoded' --data 'coinSymbol=&orderDirection=&type=&checkFlag=&or

[2019-08-06 02:34] Thor07 commented on #5905
OSX 10.14.5
Postman V 7.3.5
Issue happens with ports: 5555 and 80.
Target History
App logs as below:

Process:               Postman [92752]
Path:                  /Applications/Postman.app/Contents/MacOS/Postman
Identifier:            Postman
Version:               7.3.5 (7.3.5)
Code Type:             X86-64 (Native)
Parent Process:        ??? [1]
Responsible:           Postman [92752]
User ID:

[2019-08-06 02:49] coxymla commented on #3942
An option in Postman to ignore the HTTP_PROXY (and HTTPS_PROXY?) environment variables would be appreciated, in addition to the existing options to ignore the system proxy and to manually specify a custom proxy. In my case, the environment variables are set so Python can download packages, but when I use Postman I'm always (so far at least) wanting to query internal APIs and don't want to go throu

[2019-08-06 04:01] Ghusar commented on #5609
@godfrzero  Is this issue still relevant after 7.x update?

[2019-08-06 04:51] sujayvenaik commented on #6166
Hey @JP-from-Postman
Is it still happening? Might be a case where some maintenance or update task might be in progress so there might have been disconnections.

[2019-08-06 05:08] saswatds commented on #7062
@abcdefz You are right, in the previous versions of the app we were not able to detect the existence of escape characters.
But in the new version ie. 7.3.x and later, we have stopped parsing the response hence we are able to show exactly what the server responds.

Can we close this issue?

[2019-08-06 07:41] iqmeta commented on #3942
Possible solution more manual settings without using environment vars? like:

![image](https://user-images.githubusercontent.com/7533842/62520596-2f1dcf80-b82e-11e9-99cb-1aef919a7689.png)

[2019-08-06 08:11] benbendemo commented on #3120
it works, thank you very much. @saswatds

[2019-08-06 08:39] vikiCoder commented on #5752
Hi @Theemuts,

Is this issue still reproducible in the latest version of Postman native app (v7.3.5)? If it is then we need more information regarding the issue to debug. Can you please share a scaled-down version of your collection with one request for which you are facing the issue?

[2019-08-06 08:55] mustela commented on #6205
Same happens where. Totally random. Sometime it works sometimes it doesn't. When it fails if I use curl, it just works.

[2019-08-06 09:17] qb-jaseem commented on #1825
Is there any way to autoincrement any variable in postman body or pre request script?

[2019-08-06 09:23] TepidDrink commented on #2671
Being honest, Postman does seem iffy and I think it needs to work on this.
I have a pretty good laptop, i5-6300U 2.5GHz 8GB, and as soon as I have more than 5 tabs open on Postman, the application slows right down.
I want to try Insomnia but I have too many Postman collections.

[2019-08-06 09:23] shamasis commented on #5288
The ability to render large responses has landed in production. Closing this issue.

[2019-08-06 09:23] #5288 closed, assigned to saswatds

[2019-08-06 09:24] numaanashraf commented on #6340
With only the information that is currently in the issue, we don't have enough information to take action. We are closing this as we are tracking the 'Could not open Postman' related issues at #5591.

[2019-08-06 09:24] #6340 closed, assigned to nobody

[2019-08-06 09:48] numaanashraf commented on #5998
@MonkeyTonk This seems to be related to `com.apple.quarantine` being set recursively and Gatekeeper masking the absolute paths. Please try the following steps and let us know if the issue persists.

[code]

Reference: https://github.com/Microsoft/vscode/issues/7426#issuecomment-277737150

[2019-08-06 09:48] #5998 closed, assigned to numaanashraf

[2019-08-06 09:50] #4751 closed, assigned to saswatds

[2019-08-06 09:51] shamasis commented on #6765
done on canary. closing.

[2019-08-06 09:51] #6765 closed, assigned to saswatds

[2019-08-06 09:54] kartikjain26 commented on #7009
@davidh-zoosk  We are looking into this issue. Will keep you update about the fix.

[2019-08-06 10:04] harryi3t commented on #4764
@gitterrost4 @dodedodo33 @rgb-one
It looks like you have downloaded the Postman app from an unsupported distribution https://aur.archlinux.org/packages/postman

This might be unrelated but just to confirm that this issue is not because of the distribution variant, could you try installing Postman either from our website or using snap?

 - Postman Download page for Linux - https://getpostman.com/do

[2019-08-06 10:17] preethammavin commented on #7048
@rizzorc by any chance did you delete the workspace? Deleting a workspace does not delete collections and environments as they can exist across multiple workspaces and we do put a hard 1:1 mapping on them.

Workspace delete would delete the monitors, mocks and integrations in them but not Collection and environments. To delete the collection they will have to deleted manually.

[2019-08-06 10:40] coditva commented on #7041
@Keso-Rupert Hi! I couldn't reproduce this even with the collection 😕

Can you try to send this request via `curl` with `--verbose` flag. You can find the generated code in Postman on the right side under `code`. In there, select `cURL` from the drop-down menu. When running the command, add the `--verbose` flag.

Send the response to help@getpostman.com with the issue id (#7041) (with sensitive in

[2019-08-06 11:01] shlomo666 commented on #5274
Hey, I'm using version 7.2.2 on mac, and the flag did fix those issues, but now it doesn't have the port generated for some reason.

My API is:
GET `https://localhost:3000/getSelfBody`

And this is the outcome:
[code]

[2019-08-06 11:05] Theemuts commented on #5752
Thank you for your reply, but I won't be able to. I've changed jobs since and no longer have access to these APIs or any of the software I've written there.

[2019-08-06 11:08] irfanbaigse commented on #5990
same on mac

[2019-08-06 11:45] Keso-Rupert commented on #7041
Hi @coditva, thank you, I have sent the email with the response.

[2019-08-06 12:19] rizzorc commented on #7048
@preethammavin - I had several private and shared workspaces that I had been moving collections between in order to test the various features of postman.  I'm sorry but I don't have an exact sequence of events for the activity before I deleted the collections.  I am pretty sure that I deleted all of these collections from "My Workspace" in the postman application and then emptied them from the tra

[2019-08-06 12:20] todinesh13 commented on #1441
jh

[2019-08-06 13:35] m3dbedb opened #7066 "Postman says latest net frameworks is required (it is not true)"
**The bug description**
Incorrect information during setup

**To Reproduce**
Steps to reproduce the behavior:
1. launch Postman-win32-7.3.6-Setup
2. See message "net framework 4.5 is missing. Install the latest version"
3. Install net framework 4.8
4. see error net framefork 4.5 is still missing

**Expected behavior**
It would be better to see exact version is needed, not the latest one.

**Screen

[2019-08-06 13:40] unisev commented on #6980
In my case, it happends only after an empty response (0 byte)

[2019-08-06 13:41] m3dbedb commented on #7066
Windows forced me to download old net framework (4.0), so 4.8 may be supported by postman as it says.

[2019-08-06 13:41] #7066 closed, assigned to nobody

[2019-08-06 13:43] misstickles commented on #1070
+1 Another from me.

[2019-08-06 14:10] kamalaknn commented on #5609
@Ghusar With the recent improvements to the syncing process in Postman 7.x, I think the intensity and the duration of this would have reduced. But I do not think this issue would be entirely eliminated by it.

[2019-08-06 14:27] mgolovatiy-atconsulting-ru commented on #2701
+1

[2019-08-06 17:48] dilleswarmandala-tudip opened #7067 "Email notifications after 3 successive failures"
I am using postman pro. I had set up a monitor and added the email to get the notifications on failure. I am not receiving the email alerts after three consecutive failures. Is there any to receive email alerts on every failure. Currently, notifications are supporting only for three consecutive failures.

[2019-08-06 17:49] kived commented on #6832
This bug aggravates me each and every time I open Postman. I sure hope this is actually being worked on and the devs/community managers are just being silent for the last month.

[2019-08-06 18:51] joled commented on #6990
Hi Chris, or whomever picks this up.

I received the error again and looked at the response from the server. The response was actually sent back from the server. Fyi, in case this helps.
Regards,
Joe

[2019-08-06 19:20] yogeshkshirsagar-avalara commented on #6762
Do we have any resolution on this?

[2019-08-06 20:04] atlc opened #7068 "Feature Request: allow developers to create their own add-ons/extensions"
**Is your feature request related to a problem? Please describe.**
Currently, there is no ability for users to create & import their own add-ons, and the only add-on available is Newman.

**Describe the solution you'd like**
Allow developers the ability to write, import, and disseminate add-ons to extend the functionality of the native Postman app.

**Use case**
I wrote a Chrome extension that wou

[2019-08-06 20:13] atlc commented on #7068
To add on to my last point, I'd love to throw in a few PRs for small items like #6928 & #6629!

[2019-08-06 20:20] ebonertz commented on #6719
@talynone Thanks that worked perfectly! I was able to convert my json to SDL and then insert into my Postman API Schema

[2019-08-06 20:32] ebonertz commented on #6719
@a85 I have found a suitable work around but this would need to be manually updated each time the API is updated. Would still love to see Postman support introspection queries via url to update the schema instantly. Could you please let us know if this has been considered for implementation?

[2019-08-06 20:41] atlc commented on #6629
Hey @kylewhat - if you give me a couple of sample strings\*, I'd happily take a quick shot at a Chrome extension!

\*Strings:
- A string with the copied output from Chrome
- That same string, after pasting into Postman as raw text

[2019-08-06 23:05] mccannt commented on #6995
Thx for the update @Endorel we will look into this.

[2019-08-07 03:55] preethammavin commented on #7067
@dilleswarmandala-tudip can you please elaborate

[2019-08-07 04:03] preethammavin commented on #7010
@huangxin813 are you consistently seeing this?

[2019-08-07 04:19] preethammavin commented on #4799
Closing the issue for now, feel free to reopen it if it isn't resolved

[2019-08-07 04:19] #4799 closed, assigned to nobody

[2019-08-07 04:23] godfrzero commented on #7010
@huangxin813 In addition to what @preethammavin asked, could you let us know where you're trying to sign in from? Geographic location, network type (home, office, office w/ network policies).

[2019-08-07 04:40] preethammavin commented on #7048
@rizzorc that is not something I can see, but on inspection I see that the collections were not purely in My Workspace, as we cannot delete the My Workspace. The case could be that these collections were present in a Team / Other Workspace and when the workspace was deleted, they were removed from the workspace and were visible in the profile.

[2019-08-07 04:50] richie86 commented on #3107
I realize the problem is the shortcut created in windows, was referring to
C:\Users\<username>\AppData\Local\Postman\app-<version> folder, in the event that we update the postman to a different version, the app shortcut no longer works. the "Start In" for the short cut point to C:\Users\<username>\AppData\Local\Postman\app-<version> folder as well, which caused the shortcut no longer valid as well

[2019-08-07 05:31] pentatronix commented on #3632
+1 for this.  We have several business units in our company and they all have separate logos associated with their API's.

[2019-08-07 06:43] ratpik commented on #7013
@vvs11 - We are unable to reproduce this.

The error message for `usageLimitError` is:

`{
  "error": {
    "name": "usageLimitError",
    "message": "Usage limit reached. Contact your team admin."
  }
}`

The error message for `rateLimit` is

`{
  "error": {
     "name":"rateLimitError"
     "message":"Rate limit exceeded. Retry after 1564747675"
   }
}
`

[2019-08-07 06:43] #7013 closed, assigned to vvs11

[2019-08-07 07:36] g86m opened #7069 "Collection runner removing decimals points from CSV"
**Describe the bug**
Postman is failing to preserve decimal points from the attached csv during a collection run.

**To Reproduce**
1. Download CSV and remove .txt extension (this was only used to upload it to github)
2. Run any collection using the attached CSV
3. If you preview the CSV in postman collection screen, the decimals have been removed. This not a UI thing. The RAW reponse (not pretty)

[2019-08-07 10:09] ankurdengla commented on #7032
Hey @BrianP6! We went through the logs we received from you and noticed that the callback url you are using is `https://callbackurl` and it has an extra space at the end of it which is then encoded as `%20` and sent as part of the callback url. To unblock yourself quickly, could you try removing the extra space at the end of the callback url ?
Do let us know if this solves your issue.

[2019-08-07 10:18] SchleichAlex opened #7070 "FormData Request Content-Types are neither logged to the Postman Console nor exported to the code tab"
**Describe the bug**
FormData Request Content-Types are neither logged to the postman console nor exported to the code tab

**To Reproduce**
Steps to reproduce the behavior:
1. Create a request similar to the following screenshot:

![two](https://user-images.githubusercontent.com/11562819/62614937-a45fd200-b90c-11e9-9f15-9f5eb4dd7c58.png)

2. Execute the request and check the Postman Console

**Ex

[2019-08-07 12:54] trickstival-logcomex commented on #4009
+1

[2019-08-07 13:12] gokceng opened #7071 "Crash during start up by EXC_BAD_INSTRUCTION (SIGILL) On Native Postman 7.3.6"
**Describe the bug**
Postman crashes when Collection Runner started.

**To Reproduce**
Steps to reproduce the behavior:
1. Start Postman
2. Start collection runner
2. Crash

**Expected behavior**
collection runner starts

**Screenshots**
![Screenshot 2019-08-07 at 14 17 51](https://user-images.githubusercontent.com/3234929/62626056-67044000-b91e-11e9-88a6-90ecaaed35b0.png)

**App information (plea

[2019-08-07 13:34] richbowen commented on #4764
The package that uses the upstream Postman (linux64) as opposed to building it from scratch is [postman-bin](https://aur.archlinux.org/packages/postman-bin) ([see here](https://aur.archlinux.org/cgit/aur.git/tree/PKGBUILD?h=postman-bin#n10)). It works fine. I haven't tried packages/postman since the issue but I think the reason for the black screen was an electron version mismatch.

[2019-08-07 13:35] science695 commented on #2621
@a85 I can understand that turning the environments into somewith with inheritance would definitely increase the complexity alot.

I think that many of these use cases could be solved without the inheritance, just the ability to activate more than 1 environment at a time.

i.e.:
Environment: DEV, TEST_USER1, API_PROTOCOL3_2

Each of these environments would have the same functionality of variables

[2019-08-07 14:01] codingbyai commented on #7010
@godfrzero  Last time I tried several times, it always show this, but minutes ago I got a different fail message:
<img width="1245" alt="屏幕快照 2019-08-07 21 46 52" src="https://user-images.githubusercontent.com/1461476/62628639-3e039f80-b95e-11e9-8112-1cd1f5731102.png">

location: Beijing China,
network: home wifi (I also tried phone hotspot with 4G, got the same result).

I can sign in on my offic

[2019-08-07 14:11] dilleswarmandala-tudip commented on #7067
Postman monitor stops sending the notifications for the failures after three consecutive failures. I want to receive notification for every failure.

[2019-08-07 14:58] marklofdahl commented on #4117
+1

[2019-08-07 15:24] fubar-coder opened #7072 "GraphQL multipart request (file uploads)"
**Is your feature request related to a problem? Please describe.**

File uploads via GraphQL are only possible when sending the mutation query as a `multipart/form-data` request, see [GraphQL multipart request specification](https://github.com/jaydenseric/graphql-multipart-request-spec).

**Describe the solution you'd like**

An additional panel for GraphQL requests where I can specify the files (

[2019-08-07 15:32] labossieresr opened #7073 "Find Filter Not Displaying Fork Name of Collection"
When you edit a request and try to find a string (i.e. right-click on a word and select find:...) the FIND frame is displayed.  There are 2 areas of concern here that show themselves when a forked collection is involved.

First, in the FIND pane you can select within the WHERE section the desired collections to search within. There is no way to distinguish the original collection from any of the f

[2019-08-07 16:03] UncleBravado opened #7074 "As an experienced user I want to have FULL and REAL control over automatic updates"
As many users commenting related tickets I am totally frustrated because you force automatic updates. You claim that it is only for minor updates and patches but this is not true - my latest example is with the complete change of the component rendering the response. This broke many futures I use on a daily basis and I have no possibility to revert other than blocking your app from connecting to t

[2019-08-07 16:09] #7074 closed, assigned to nobody

[2019-08-07 16:09] UncleBravado commented on #7074
Duplicate of #6999.

[2019-08-07 16:30] UncleBravado commented on #6999
I fully support that requests as many other users in comments to different tickets. I do not understand why to force update, especially if it is not about minor updates or patches (as you claim) - for instance with version 7.3.X there were significant updates with many regression bugs. I do not think that the complete change in component rendering request's response is a minor change. Postman is n

[2019-08-07 16:39] SLYJason commented on #4009
no updates?

[2019-08-07 16:43] zax761 commented on #2833
This has been here for so long and it's so annoying. Could you try to fix this?

[2019-08-07 16:43] mvandervliet commented on #5129
+1 would be great

[2019-08-07 17:45] sanosuke-s74 commented on #5903
+1

[2019-08-07 17:50] kirandesai commented on #1647
Thank you God.

[2019-08-07 17:51] kirandesai commented on #1647
Thank you @smendez-hi @stephenmcd1 and @jamarciano. You guys are life savers.

[2019-08-07 18:05] Golgo1 commented on #7000
I am unable to provide any useful examples as the targets and certificates cannot be posted.

Is there any public Postman resource I can send requests to in order to test MutualSSL connections?

[2019-08-07 18:11] ckw142 commented on #6682
+1

[2019-08-07 18:35] kyle-nahrgang opened #7075 "Ability to select multiple environments at once"
**Is your feature request related to a problem? Please describe.**
I find myself needing multiple environments where several of the variables are the same (but not always the same). For example, I have an environment for some set of API parameters that also contains host parameters. Sometimes the host (local, qa, production, etc) will change but I want to keep the API parameters the same, or vice

[2019-08-07 18:58] shamasis commented on #7075
Something similar to this is on the cards for short to mid term roadmap. Will update here when things change.

[2019-08-07 19:10] mist83 opened #7076 "Manually Updating Postman Gives Incorrect Status Message"
**Describe the bug**
Manually updating postman (when an update is available) claims that the current (out of date) version is the latest version.

**To Reproduce**
Steps to reproduce the behavior:
1. Verify version in settings (I used an installed version of 7.0.7 for this bug):
![image](https://user-images.githubusercontent.com/51882127/62649073-55686b80-b911-11e9-9696-203d29e59d84.png)
2. Go to

[2019-08-07 20:15] chrisdeso opened #7077 "Signing in || Accepting invitations throws 500"
**Describe the bug**
Users that created their Postman accounts _prior_ to their organization moving to enterprise, and enabling SSO, are seeing a `500 Something went wrong` error when signing in to their account and/or accepting an invitation to join the team.

**To Reproduce**
Steps to reproduce the behavior:
1. Generate an invitation on an enterprise team w/ SSO
2. Disable Google Auth as an auth

[2019-08-07 20:23] chrisdeso commented on #7058
Adding a screenshot here:

![image](https://user-images.githubusercontent.com/4734306/62655335-5c9a7400-b927-11e9-8fff-e8eb6679ab1c.png)

[2019-08-07 20:42] saswatds commented on #7062
Hey @abcdefz after an internal retrospection we have added back this feature in the pretty view. It now ignores the escape characters as you have previously experienced. Check it out on the lastest app version 7.3.6.
Closing this issue now. Feel free to reopen if it does not work for you.

[2019-08-07 20:42] #7062 closed, assigned to saswatds

[2019-08-07 20:52] blairjanis commented on #6969
I'm having this issue as well.  macOS Mojave (10.14.6).  Version 7.3.6 of postman.

[2019-08-07 21:05] rmorrise commented on #4292
I encountered this freeze issue today after being prompted to sign in again. The first time the prompt came up, I cancelled/ignored the sign-in. When I tried to start Postman again, it hung like this until I used End Task on all running Postman instances. HTH you find the problem.

[2019-08-07 21:13] AdrianTP commented on #6784
I just had a similar issue to @cyrielle-hada helping a coworker troubleshoot why he couldn't run a collection with a CSV as input. The CSV in question was exported from Excel as UTF-8 CSV. The computer in question is a Mac, which was running both the Excel instance and the Postman instance. I examined the CSV and it looks like a normal CSV. It was just three columns, comma-delimited -- the first c

[2019-08-07 21:51] saswatds commented on #7012
Hi @Svetlin-Slavchev we have made a few fixes in the response-viewer over 7.3.5 and 7.3.6. Can you update to the latest app version 7.3.6 and confirm that this issue is fixed for you?

[2019-08-07 22:00] markm77 commented on #2209
Hi there,

I am interested in hybrid flow in relation to testing of UK Open Banking whose security profile is defined here: https://openbanking.atlassian.net/wiki/spaces/DZ/pages/83919096/Open+Banking+Security+Profile+-+Implementer+s+Draft+v1.1.2

Basically I am hopeful the implementation of hybrid flow will (a) support the use of a request object (https://openid.net/specs/openid-connect-core-1_0.

[2019-08-07 22:40] ankurdoshi87 commented on #6876
The issue still occurs.
Example if i double click on '{' then the whole inside object get selected in request body. But the same thing doesnt happen in response body.

<img width="881" alt="Screen Shot 2019-08-07 at 6 37 32 PM" src="https://user-images.githubusercontent.com/3383866/62662558-785f4380-b942-11e9-89da-13f81d2a15cf.png">

[2019-08-07 22:42] ankurdoshi87 commented on #7040
The issue still occurs.
Example if I double click on '{' then the whole inside object get selected in request body. But the same thing doesnt happen in response body.

<img width="881" alt="Screen Shot 2019-08-07 at 6 37 32 PM" src="https://user-images.githubusercontent.com/3383866/62662558-785f4380-b942-11e9-89da-13f81d2a15cf.png">

[2019-08-08 02:25] smdelacruz opened #7078 "Postman v7.3.6 Freezes then Blackout on Windows 10"
**Describe the bug**
First. It loads so slow.
second, Goes completely black after having an HTTP request and will be completely unusable. It freezes then hangs a couple of minutes before it turns into black screen.

**To Reproduce**
Steps to reproduce the behavior:
1. Open the App on windows 10 machine. wait at least 1 minute to load
2. POST a request with heavy load
3.Results can be seen but it f

[2019-08-08 04:12] preethammavin commented on #4292
@rmorrise we have made large amount of performance fixes since after the issue was reported. Can you confirm the version on which you working on.

Also please note:
**Note:**: Please re-authenticate your account when the sign-in prompt appears, as this ensures two things
1) Your data is always synced and backed up for you to retrieve at any point in time across any device
2) Also ensures that you

[2019-08-08 04:17] preethammavin commented on #7048
@rizzorc thanks for your help in looking into this, you can delete the collections by the steps I mentioned above. Let me know if that still has any unexpected behaviour, closing the issue for now.

[2019-08-08 04:17] #7048 closed, assigned to nobody

[2019-08-08 04:31] ankurdengla commented on #6876
Hey @ankurdoshi87 ! Thanks for reaching out. We are tracking the issue of response text inside brackets not getting selected here - https://github.com/postmanlabs/postman-app-support/issues/7040. Please follow that thread for updates regarding the same.

[2019-08-08 04:58] godfrzero commented on #6851
@VicKetchup More than lines, it's the number of characters (actually the size of search data in memory) that affects this performance. Based on all of our testing, the only case where we could find a situation where the browser performance degrades is with large data sets, which affects the browser regardless of the webpage. One thing we can do is refrain from rendering all of the logs at once, bu

[2019-08-08 05:44] petertom51 commented on #6832
Is there any update for this? We really hope the bad UX can be solved.

[2019-08-08 06:52] anudeepmedicharla commented on #7077
Is Postman sign in disabled for this team? Is that the reason we're seeing an error?

[2019-08-08 08:55] thomasvanlankveld opened #7079 "Postman won't start in various ways (Windows 10)"
**Describe the bug**

Postman exhibits a whole variety of behaviors, none of which result in me being able to send HTTP requests.

**To Reproduce**

I'd rather not attempt to recreate the issue on another machine, since we're heavily reliant on Postman, and now that I have this issue on my machine I can't figure out how to fix it.

My versions are:
- Postman 7.3.6 (Native App)
- Windows 10.0.17763

[2019-08-08 09:19] ncremaschini commented on #4327
This should be a must have...

[2019-08-08 09:23] anudeepmedicharla opened #7080 "How do I create a monitor to run at more than one specific time in a day?"
**Is your feature request related to a problem? Please describe.**
If I want to create a monitor that runs at more than one specific time in a day, I don't think I will be able to do that. I wanted to create a monitor that runs every day in morning and evening.

**Describe the solution you'd like**
If I can add multiple frequencies for the week timer, that should solve this problem.

**Describe al

[2019-08-08 09:55] vikiCoder commented on #7069
Hi @g86m

This is a known issue. We convert numbers without quotes in CSV file into JavaScript Number while parsing the CSV file in the Postman App. As a result, information regarding trailing zeros after the decimal point is lost.

If you want to keep such numbers as it is, you can specify them as a string in CSV file by wrapping the number in double quotes like below:
[code]

However, for the us

[2019-08-08 09:57] vikiCoder commented on #7069
Closing this in favour of https://github.com/postmanlabs/postman-app-support/issues/6746

[2019-08-08 09:57] #7069 closed, assigned to vikiCoder

[2019-08-08 11:20] magnusfoldager commented on #2833
Just encountered this issue as well.
Solved by navigating to `~/Library/Application\ Support/Postman` and deleting `window` (renaming it first to be safe)

[2019-08-08 12:09] florimon commented on #7041
@Keso-Rupert  Hi! We apparently work for the same bank in Amsterdam (the R5SESSION was the giveaway :) Like you, I ran in to the same problem while using Postman to send a POST request to the R5Load tool, with Postman giving a "Could not get any response" error (and the Postman console shows an unhelpful "Error: Parse Error" message.
In a WSL shell, after piping the response obtained with curl -i

[2019-08-08 12:14] saswatds commented on #7041
@florimon Thanks a lot for pointing this out for us. This insight into the issue will surely help find the root cause. We will make sure this is fixed ASAP.

Thanks

[2019-08-08 12:29] shreys7 commented on #7063
Hey @BobClaerhout
In Postman 7.2.1, we've introduced bug-fixes, support for two new languages (JS-Fetch and Powershell), and the ability to configure certain aspects of the generated snippet with the 'Experimental Codegen Mode' flag enabled in Postman's global settings.
This particular problem has been solved in the experimental codegen mode.
[code]

[2019-08-08 12:31] BobClaerhout commented on #7063
Perfect! Thanks for the quick response!

[2019-08-08 12:31] #7063 closed, assigned to abhijitkane

[2019-08-08 12:48] m3dbedb commented on #4764
Since Postman 7.3.5 have released it looks like maximizing/demaximizing screen solves the issue. In other words the issue is still present, but you don't have to close Postman window to make it work again. Now, when Postman gets gray (not black as in previous versions), just maximize/demaximize Postman window and it works again. (tested in windows 7 32 bit) ![gray](https://user-images.githubuserco

[2019-08-08 13:01] dmnized opened #7081 "Https becames http duplicating a request"
I'm using
Postman v6.7.4

**Describe the bug**
Duplicating a Request https in the url becames http

**To Reproduce**
Steps to reproduce the behavior:
1. Consider a request with an https
2. Right click on it, Duplicate
3. The duplicated request url has http

[2019-08-08 13:15] jkbhu85 commented on #4814
App Icon not available in version 7.3.6 on windows 10 x64 1803.

[2019-08-08 13:49] m3dbedb opened #7082 "Error when opening valid json file"
**The bug description**
Postman and newman 4.5.3 accidentally rejects valid json data set

Errors are unexpectedly appears in valid data files and unexpectedly goes away. One may replace integer with sting and issue disappears, or one may change email from john@mail.com to john@mail.ru and the issue goes away.

**To Reproduce**
1. Make some 1-iteration json data set with both text and value fields

[2019-08-08 13:50] jkbhu85 commented on #4814
Resolved the issue using this link [https://github.com/postmanlabs/postman-app-support/issues/3107](https://github.com/postmanlabs/postman-app-support/issues/3107)

[2019-08-08 17:13] reggi opened #7083 "GraphQL Fragment support"
Within a collection, I'd like to have a set of fragments I can pull from reducing duplication.

[2019-08-08 17:42] stcalica opened #7084 "Password Protected Private API Documentation"
**Is your feature request related to a problem? Please describe.**
As a developer team, I would like to share our API docs with **_only_** our customers.

**Describe the solution you'd like**
I would like to have a password-protected link to my documentation to help my customer base consume our API without making it public, and without adding every customer to my team.

**Describe alternatives you

[2019-08-08 18:08] dhananjayapte commented on #7078
I see the same issue on Macbook intermittently. It is either becomes very slow or blacks out.

App information:

App Type Native App
Postman v7.3.6
OS: macOS Mojave 10.14.6

[2019-08-08 18:36] jLemmings opened #7085 "Raw form works but same data with form-data doesn't"
**Describe the bug**
I've been testing my API with RAW values and everything worked perfectly. Now I need to test an endpoint where I upload files so I need to use form-data. The backend doesn't read the data sent from a form-data.

**To Reproduce**
RAW: https://imgur.com/a/gL5baq6
form-data: https://imgur.com/a/ksK5BMj

**Expected behavior**
Should behave the same

**App information (please compl

[2019-08-08 18:48] saswatds commented on #7085
Hey @jLemmings I am not able to clearly understand the steps to reproduce this issue. Here is how I tested it out
<img width="1008" alt="Screenshot 2019-08-09 at 12 16 16 AM" src="https://user-images.githubusercontent.com/8796447/62729125-f3a42080-ba3a-11e9-9b14-22a38cfa492f.png">

Can you confirm that your backend system has been configured to understand form-data?

[2019-08-08 19:24] vdespa opened #7086 "Nesting pm.test does not propagate fail tests to parent"
**Describe the bug**
Not sure if this is a bug, but nesting pm.test() objects does not make the parent appear as failed.

**To Reproduce**
Simple example:

[code]

**Expected behavior**
Both tests should appear as failed.

**Screenshots**

![image](https://user-images.githubusercontent.com/1197635/62731602-db280c00-ba22-11e9-9578-3eddbb6f0ee8.png)

[2019-08-08 23:14] cassiomolin commented on #6242
Any updates on this?

[2019-08-09 00:06] lashcrafty opened #7087 "RBAC Docs Header Alignment"
**Describe the bug**
This is a super useful document but the headers for each of the roles overlaps the columns creating friction in quickly consuming permission context.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://learning.getpostman.com/docs/postman_pro/managing_postman_pro/roles_and_permissions/'
2. Scroll down to 'List of Permissions and Roles'
4. See 'ViewerEditor' or

[2019-08-09 00:37] g86m commented on #7069
hi @vikiCoder

Modifying the CSV via text editor has allowed me to upload the correct values.

Thanks

[2019-08-09 03:14] miguel550 commented on #4009
+1

[2019-08-09 03:26] ikazoy commented on #6397
@Ghusar @suraj-purohit Hi, sorry for my late reply.
Actually, we have already given up merging a new collection into an existing one and decided to CREATE a new collection manually to replace the existing one by checking diff of exported json collection file.

Sorry we can't have chance to confirm if the issue was fixed.

[2019-08-09 05:14] Raja-Simha commented on #7084
Duplicate of #6681

[2019-08-09 05:14] #7084 closed, assigned to vkaegis, Raja-Simha

[2019-08-09 06:25] mafeifan opened #7088 "highlight the new and updated request"
I hope the new and update text can become red or other color, it's more friendly for other team member  and more  clear about which one is new added or updated.

for example
type !title -> <red>title<red>

![image](https://user-images.githubusercontent.com/4178463/62758558-5d5f1180-bab1-11e9-9959-9ad45b84fdec.png)

[2019-08-09 07:33] MarcBT commented on #5784
Hi there.
What's the status for this issue ?
Same for us, we completely agree with @phcoliveira points.

[2019-08-09 09:46] #3412 closed, assigned to nobody

[2019-08-09 09:51] shreys7 commented on #1181
Hey @lewisdavidcole Can you try this in Postman 7.2.1, with the 'Experimental Codegen Mode' flag enabled in Postman's global settings? We've introduced bug-fixes, support for two new languages (JS-Fetch and Powershell), and the ability to configure certain aspects of the generated snippet.

For this particular use-case, there's a separate curl-level 'Follow Redirects' setting, which you can contro

[2019-08-09 10:59] debjeetsarkar commented on #7050
This should be fixed now.

[2019-08-09 10:59] #7050 closed, assigned to abhijitkane

[2019-08-09 10:59] ankurdengla commented on #6895
Hey @toreskobba! We were able to reproduce the issue at our end and our working on a fix for it. Thanks for bringing the issue to our notice.
Also, please follow https://github.com/postmanlabs/postman-app-support/issues/7032 for updates on the fix.

[2019-08-09 12:10] mark-szabo commented on #3697
Any update on this? I absolutely support @sixcorners' recommendation. Moreover I really don't like to type in my password in apps which hide the url bar (I don't know if it is phising or not).

[2019-08-09 12:29] vrolijken commented on #6482
@codenirvana this issue is closed, but my problem remains... have you got a workaround? or better yet; a fix?

[2019-08-09 12:59] bilalk88 opened #7089 "Unable to get json particular value if it has some special character in json key"
**Describe the bug**
Unable to get json particular value if it has some special character in json key

**To Reproduce**
Steps to reproduce the behavior:
1. I've below json content from response
`{
    "swagger": "2.0",
    "info": {
        "version": "v1",
        "title": "Demo Swagger"
    },
    "basePath": "/Demo Swagger",
    "paths": {
        "/ping": {
            "get": {

[2019-08-09 13:27] ankurdengla commented on #7032
**UPDATE:** We are also tracking the issue mentioned in https://github.com/postmanlabs/postman-app-support/issues/6895 by @toreskobba where the OAuth2 "Request Token" flow hangs on a white screen after login. We were able to reproduce the issue at our end and are working on a fix for it. This is an issue with the custom protocol being used in your callback url.

@toreskobba A quick workaround to u

[2019-08-09 13:30] michael-arneson opened #7090 "Can no longer click on HATEOS links in latest version"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem. Please make sure the screenshot does no

[2019-08-09 13:41] michael-arneson commented on #7090
In native postman 7.2.2 The option existed to click on a HATEOS link in http response and this would open a new tab based on the HATEOS url. However this option is no longer present in the native app postman 7.3.6. It does make using postman more tedious because if I have to follow the link i have to open a new tab and manually create the new link.

Highlighting link

![image](https://user-images.

[2019-08-09 14:11] joaocruz04 commented on #7083
+1 for this. We might have dozens of different queries, and it is a pain to have to copy and paste. Then you might need to change something in a fragment, and you need to see everywhere you're using it.

[2019-08-09 14:17] kamalaknn commented on #7090
Hi @michael-arneson

Thanks for reporting this issue. This looks like a duplicate of #6832

I'm closing this issue. Please follow the original thread for updates.

[2019-08-09 14:17] #7090 closed, assigned to nobody

[2019-08-09 15:14] ghost commented on #6682
+1

[2019-08-09 15:51] FizzingWhizbee commented on #6832
For my purposes PostMan is next to useless If I have to continue manually copying relative links to construct URLs for opening new requests.  Please fix this soon.

In the meantime I'm searching to see what alternatives to Postman exist that support opening new requests from relative links in a HATEOAS response.

[2019-08-09 16:10] robross0606 commented on #6832
This issue, coupled with the fact that Postman keeps upgrading itself to the latest (broken) release is maddening.  The complete silence from developers on both issues is deafening.  I too have started looking at other tools like Insomnia.

[2019-08-09 16:32] rsprenkels commented on #1906
it has been over three years (!) now, that RAML 1.0 has been around. Postman team, are there plans to support RAML 1.0 at some point, and if yes, when?

[2019-08-09 16:44] mccannt commented on #6832
Everyone.
We hear you on this issue and it is being looked at currently. I can not comment on an ETA for the fix but I wanted to reassure you that this is not being ignored and will be resolved.

[2019-08-09 16:45] wabiloo opened #7091 ""Request wrappers" for maintainable workflows"
**Is your feature request related to a problem? Please describe.**
I am trying to do something that is a little complex (and therefore feel free to tell me that it's not what Postman is for - though hear me out)
My company has a large REST API (995+ endpoints, forming a "tree" of endpoints), which is managed as an OpenAPI spec. I can import the OpenAPI spec, which then shows nicely as a set of fol

[2019-08-09 16:48] robross0606 commented on #6832
@mccannt is there any way to stop Postman from updating to this broken version automatically?  Any secret setting or mechanism?

[2019-08-09 16:50] wabiloo commented on #7091
Not hugely dissimilar to https://github.com/postmanlabs/postman-app-support/issues/1535, but taking the idea a little further than just "links" to allow independent pre-request and test scripts

[2019-08-09 17:00] mccannt commented on #6832
@robross0606 There are ways that can help with this, one way would be to disable to automatic update downloads. This can be found in the Preferences -> Update -> Automatically download major updates

If this is a major issue you can roll back to a previous version if it does not block you on any other features and functionality. I understand this is not ideal but hopefully can help address the fru

[2019-08-09 17:05] #1181 closed, assigned to a85

[2019-08-09 17:14] robross0606 commented on #6832
@mccannt , unfortunately, that first suggestion doesn't help.  The last working version was 7.2.2 which apparently isn't considered a "major upgrade".  Even with this toggled off, it still updates from 7.2.2 to 7.3.6 which I guess is only considered a "minor upgrade".  That's the core problem here.  There's no actual way to FULLY turn off auto-updating.  Either that's a separate bug or it is worki

[2019-08-09 17:52] sankalp0o commented on #7088
Hi @mafeifan ! This information is already present in the changelog for the collection. To view it, click on the arrow which appears when you hover over the collection name, and click on "Changelog". It shows a chronological list of all changes that were made on the collection, not only additions of requests.

If we can better understand what is the exact problem you and your team members face, we

[2019-08-09 18:27] javiergarza commented on #6966
@shamasis Can you please take a look at @joaquin-gimenez code? I put his code inside /Applications/Postman.app/Contents/Resources/app/node_modules/postman-runtime/lib/authorizer/noauth.js, and set up the 4 headers below and put the secrets on environment variables and was able to make API calls to Akamai APIs fine.
![akamai-edgegrid-auth-postman](https://user-images.githubusercontent.com/7927364/6

[2019-08-09 19:53] JosephDHenry commented on #6832
This definitely needs to be fixed.

This makes postman completely almost useless for anything our organization does. I can keep installing 7.2.2 but it keeps getting upgraded.

[2019-08-09 22:58] mccannt commented on #6832
@robross0606 @datacart

I am looking into this to see if there is a way we can work around it. I will get back to you once I get more information.

[2019-08-10 05:47] humbienri commented on #4193
@ggutenberg thank you for your idea/suggestion!  It does seem quite hacky but I think it sorta works.  However, I think it works because the cookie is already set in the Headers?  If my independent request is an authentication/login request and I need to pass in a username and password in the raw body and those values are actual hard-coded values and not variables as you suggested, then it does wo

[2019-08-10 06:03] hqinfosystem commented on #6356
is postman support application/json content-type to match request body parameter? i'm creating a mock server with example and tried content-type application/json in request body parameter but mock server response failed when i pass x-mock-request-body as true

[2019-08-10 06:46] kibalion2427 commented on #4808
@madmax911 Your solution was very helpfull for me. Thanks

[2019-08-10 10:16] shamasis commented on #6966
@javiergarza @joaquin-gimenez ... thanks for this. Let me begin by saying that the love and involvement from community members, such as in this case, has always been the greatest motivation for us to build Postman. So, here is what we will do:

1. Understand the Akamai Edgegrid auth spec carefully
2. Absorb the code changes from the PR sent
3. If we find no other blockers (I am almost sure that we

[2019-08-10 13:20] omkar-dsd opened #7092 "Run specific request N times"
**Problem**

Many times there's a need for running and testing one specific request repeatedly. As of now what needs to be done is, for that single request new collection needs to be created and then need to specify runner, which is a lot of effort taking job.

**Solution**

Need a quick runner option for running a specific request N number of times using the currently selected environment.

[2019-08-10 16:36] codenirvana commented on #7030
Duplicate of #4739

[2019-08-10 16:36] #7030 closed, assigned to nobody

[2019-08-10 18:20] DannyDainton commented on #7092
The runner on the latest version allows you to run a single request within a collection.

You shouldn't need to create a new collection just to do this action. 😁

[2019-08-10 20:15] jro619 commented on #5752
@vikiCoder thanks for offering to help with this! I can step in to assist as my company is still using the LinkedIn API and ran into this same issue with Postman and the new LinkedIn Protocol.

I put together a very simple example of searching for ad accounts. It seems to me the issue is that Postman is encoding parentheses in the URL. However, LinkedIn requires those parentheses to be unencoded w

[2019-08-10 20:43] omkar-dsd commented on #7092
@DannyDainton Can you please specify in version this feature is available? So we can close this issue.

[2019-08-10 20:47] DannyDainton commented on #7092
It's been in there since 7.2.0 which was released on the 12th June.

https://www.getpostman.com/downloads/release-notes

Which version are you currently using?

[2019-08-10 21:05] omkar-dsd commented on #7092
I was on **6.7.4** . @DannyDainton Thanks.

[2019-08-10 21:05] omkar-dsd commented on #7092
**6.7.4**

[2019-08-10 21:05] #7092 closed, assigned to nobody

[2019-08-11 12:56] gdbhowmick commented on #7077
Is this error still reproducible?

[2019-08-12 07:32] godfrzero commented on #7010
@huangxin813 Do you happen to have any other electron apps? If so, can you try to sign in using Google within those apps?

Our working theory right now is that Google starts throwing up security blankets under certain conditions, one of them being that the auth flow is happening within a separate contained context. Since we're unable to recreate the issue, we're unable to test this directly.

[2019-08-12 07:36] BeingSujeetK commented on #3977
@harryi3t I'm also facing this issue in Postman for Windows Version 7.3.6. It was working perfectly in earlier versions until it got auto updated few weeks back.

When I click on Request Token button., the flow stops before requesting user credentials with a blank screen like below.
If I restart Postman, the flow continues till the user credentials is submitted and then gets stuck on a blank scree

[2019-08-12 08:04] eljarete commented on #4361
Hello,
Same issue: I haven't got any request running and the application is eating above the 40% of the CPU usage.
![image](https://user-images.githubusercontent.com/38129969/62851979-4d7d4280-bce8-11e9-9a33-e82f00dd5ab2.png)
This makes the system unuseful while developing with postman.

[2019-08-12 08:13] r3dsm0k3 commented on #3822
I started the implementation on my codegen [fork](https://github.com/r3dsm0k3/postman-code-generators/tree/axios-codegen). Still work in progress though. Feel free to add on to it.

[2019-08-12 08:20] ankurdengla commented on #3977
Hey @BeingSujeetK ! Could you let us know the following details -

- `callback url` that you are using to obtain the access token

- Last version where the flow was working

 We are already tracking a case where OAuth2 flow doesn't work if there is a custom protocol used in the `callback url` here - https://github.com/postmanlabs/postman-app-support/issues/7032

[2019-08-12 08:41] BeingSujeetK commented on #3977
@ankurdengla1996 Will follow up in the new thread. That seems more relevant.

[2019-08-12 08:53] BeingSujeetK commented on #7032
Hi @ankurdengla1996 , please find the details below.
- callback url that you are using to obtain the access token
it's an app specific custom url

- Last version where the flow was working
not sure about this, since i had enabled auto update and wasn't keeping track of versions. But pretty sure that it was working about a month back for the same callback url.

[2019-08-12 08:57] ankurdengla commented on #7032
@BeingSujeetK Thanks for getting back to us. We are working on a fix for the issue. Meanwhile, you can try the workaround mentioned above. https://github.com/postmanlabs/postman-app-support/issues/7032#issuecomment-519918500

[2019-08-12 08:57] BeingSujeetK commented on #7032
Is there a stable version for this feature where the OAuth2.0 Authorization Code flow is working perfectly?

[2019-08-12 08:59] BeingSujeetK commented on #7032
Hi @ankurdengla1996 , I don't have the flexibility to change the redirect url due to operational reasons.

[2019-08-12 09:04] Maxeh opened #7093 "pm.variables not working correctly"
When using pm.variables.set(...) the variable is only accessible by the request itself. So I can use pm.variables.get(..) in the same test of the request or access the variable with {{var1}} in the body. However, in the next request of the collection, the variable is not available anymore. The strange thing is that the variable is available in the following requests if the collection is run by the

[2019-08-12 09:19] harryi3t commented on #6897
Thanks for reporting this. We were able to reproduce this on our end and are working towards getting this fixed as soon as possible.

**Root Cause**:
Postman internally uses `squirrel` for creating windows distributables. It looks like in the latest version of squirrel, there was a change where the executable (which is referenced in the shortcuts for the icon) was moved to one level up. But, this

[2019-08-12 09:41] simonireilly commented on #6657
I think this would be a great feature for people developing multi-tenanted applications.

The idea of having a base environment where I can store my access tokens etc. then forking that for two Tenants, so I can perform requests for a specific Tenant would be ideal.

Currently, I have to duplicate my environments and then try and keep them in sync, so :+1: for a feature like those described above.

[2019-08-12 10:21] DeoMortis opened #7094 "Postman header encoding breaks when adding a body"
**Describe the bug**
Whenever you send utf-8 characters in request header without a request body then the data is transmitted fine. If only a body is added (no matter what type) then encoding of headers changes and they are unreadable for server.

**To Reproduce**

A simple test can be done against mockbin.org server. I also looked at the wireshark logs which confirm the behavior.

Steps to reprod

[2019-08-12 11:49] zehawki commented on #4718
Hi, I can confirm that its finally working for me. I'm on v6.7.4 desktop. I've tried 2 cases:

    "recipient_emails": [ "{{email}}" ],
    "receiver_name": "{{name}}",

and my csv has no quotes, escape characters etc

email, name
a@b.com,googoo doll

PS: This has been a frustrating experience since postman prolly believes in incomprehensible documentation as a way to make the community robust. If

[2019-08-12 13:17] jtbennett commented on #6963
This happened consistently for about a day, but I haven't been able to replicate since. Closing.

[2019-08-12 13:17] #6963 closed, assigned to appurva21

[2019-08-12 14:46] omkar-dsd opened #7095 "Need Basic Analytics of "Average Response Time" in Runner as shown in Newman"
![Newman](https://raw.githubusercontent.com/postmanlabs/postmanlabs.github.io/develop/global-artefacts/newman-terminal.gif)

Need something like this in UI.

[2019-08-12 14:57] savinthiba opened #7096 "Add application/jose+json support in "Content-Type" list"
**Hi Postam team,**

I'm currently using an HTTPS server which requires to use a JWS body. I've noticed that the ***"application/jose+json"*** value is not part of the available list of value of the "Content-Type" header field.

Could you add it ?
Have a great day :-)

[2019-08-12 15:01] arcdev commented on #6296
FYI - Issue still exists in 7.7.2

[2019-08-12 15:35] Worldpay-Austin commented on #5736
On another note, NONE of the menus in the menu bar are accessible from the keyboard, PERIOD.
Hitting the Alt key does NOTHING. This definitely breaks Windows style guidelines.

On a multi-monitor setup sometimes Windows loses it's mind and the Postman window opens on a "non-existant" monitor and moving Postman cannot be done easily. Should be as easily as Alt-Space, M (to move) and arrow keys to m

[2019-08-12 17:11] cnanney commented on #4938
This is very poor UX and just caused me some grief - was just about to open a ticket for it. Why would some duplicate tabs stay linked to parent and not others, based on which "Duplicate" button you click?

[2019-08-12 18:58] njsrikar commented on #7078
I started seeing this issue from Friday last week. No slowness observed, app starts fine but blacks out in a few seconds, irrespective of what I am doing (either try sending an http request or open postman preferences).

Tried the resolution posted in #4594 (i.e. use command line to disable GPU and start postman) with no luck.

This is what I see on CLI when the app blacks out

[code]

Running Pos

[2019-08-12 19:06] adropofilm opened #7097 "Cannot search in Documentation web view"
**Describe the bug**
Cannot use documentation search feature in any browser. When I type in a keyword that exists, a message saying "Nothing here, Houston! We couldn’t find anything matching that." is returned.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to published documentation.
2. Click on search bar in top right corner to search docs.
3. Search for a keyword that exists within th

[2019-08-12 20:57] cactail commented on #727
Is there any news regarding this?

[2019-08-12 22:09] justmobilize commented on #2512
Any progress on this? Is it hard to add `application/vnd.api+json` as a format that works 100% like `application/json`?

I understand it's not widely used, but this makes Postman difficult to use

[2019-08-12 22:12] bpdev97 commented on #4365
This would be a really useful feature.

[2019-08-12 22:40] chrisdeso commented on #7009
@kartikjain26 Any updates on this?

[2019-08-12 22:59] stcalica opened #7098 "API Network is missing URL to published documentation"
**Describe the bug**
In API Network, tile card is missing link even though docs and collection are published.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://www.getpostman.com/api-network/
2. Find tile card of API Network directory
3. Find tile card with a missing URL link
4. Check for published API and published docs existence, yet still missing link

**Expected behavior**
I

[2019-08-12 23:48] cristiammercado opened #7099 "Feature Request: Show/Reveal active tab request in sidebar"
**Is your feature request related to a problem? Please describe.**
Currently, there is no way to show in the sidebar of saved collections the currently active tab.

**Describe the solution you'd like**
Allow the user with some type of button or right click on the currently active tab to display it in the sidebar, expanding the folders and collections that are necessary.

**Additional context**
The

[2019-08-13 00:05] bagrip commented on #3312
I am still seeing that same JSESSIONID is being used

[2019-08-13 03:09] chron-xie opened #7100 "Copy and Paste is invalid in postman"
when create a new request in postman ,copy and paste are not available.

**To Reproduce**
Steps to reproduce the behavior:
1. create a new request
2. select Body's tab or Tests's tab
3. The text box prompts the content，“Copy and paste are invalid  in Postman，but right click is Ok 。Attachment is postman's version”
4. cmd+C and cmd+V  are no effect

**Expected behavior**
Copy and paste are available

[2019-08-13 04:22] preethammavin commented on #7006
@philmagr closing the issue for now, feel free to reopen it with the information that . @shamasis requested sot that we can address it.

[2019-08-13 04:22] #7006 closed, assigned to shamasis

[2019-08-13 04:27] preethammavin commented on #7076
@mist83 this should not be happening, can you write to us at help@getpostman.com so that we can take a closer look.

[2019-08-13 04:32] preethammavin commented on #7081
@dmnized can you update to the latest version and verify if it fixes the issue?

[2019-08-13 04:44] preethammavin commented on #7100
@Chronchon just reiterating the problem so that I understand the issue correctly
You are unable to copy paste texts into Body/Test script tab? If yes, it is available and the text that you see is not something the Postman shows. Can you try again on a new request? and let us know?

[2019-08-13 04:52] shamasis commented on #7089
Change your script to `js.paths["/ping"].get`

[2019-08-13 05:38] kartikjain26 commented on #7009
@chrisdeso  Have update internal jira ticket for this issue.

[2019-08-13 06:07] chron-xie commented on #7100
@preethammavin  open Postman APP, when I create the first new request, the body script Tab has the word as last Screenshots ,create another request, body script tab is blank, but cmd+C and cmd+V are also no effect

another new request screenshots:
![image](https://user-images.githubusercontent.com/9361238/62918740-31a29b00-bdd3-11e9-935a-70bacf81d4f5.png)

ps: Download other versions, the problem

[2019-08-13 06:20] preethammavin commented on #7100
@Chronchon would be really helpful if you can do a screen recording with the issue as I am unable to reproduce it.

But going through the flow I think there is an UX issue where on selection on body, we do not auto focus on the editor but if you click on it once it works.

[2019-08-13 06:40] elssar commented on #7077
@chrisdeso is this still happening or was this a transient error? We haven't been able to reproduce it.

[2019-08-13 06:57] chron-xie commented on #7100
@preethammavin  I'm sorry. App updated to 7.5.0 and then rolled back to 7.3.6. that prompt disappear, but cmd+C and cmd+V are also no effect in 7.5.0 and 7.3.6

[2019-08-13 07:07] jxnu-liguobin commented on #2612
Postman Interceptor 0.2.27
Postman 5.5.4
can't get Referer from request, how i can do?
I use curl -H "Referer:/realtime" that can work successfullly,but don't in postman Headers

[2019-08-13 07:23] m3dbedb commented on #4764
Sadly, sometimes Postman 7.3.6 in windows 7 32 bit still goes to black screen as mentioned above and maximizing window does not help.
![bla](https://user-images.githubusercontent.com/25632818/62922568-618e7600-bdb4-11e9-9278-22f2e87b6b57.png)

[2019-08-13 07:27] bilalk88 commented on #7089
Thanks. I got this..

[2019-08-13 07:27] #7089 closed, assigned to nobody

[2019-08-13 07:34] #4855 closed, assigned to nobody

[2019-08-13 07:38] abhijitkane opened #7101 "Experimental codegen for Node (native) ignores port"
My API is:
GET https://localhost:3000/getSelfBody

And this is the outcome:

[code]

Reported by @shlomo666

[2019-08-13 07:39] abhijitkane commented on #5274
@shlomo666 Created a new bug at https://github.com/postmanlabs/postman-app-support/issues/7101

Closing this.

[2019-08-13 07:39] #5274 closed, assigned to nobody

[2019-08-13 07:48] abhijitkane commented on #3522
@Unders0n @PerthCharern This should be addressed in the latest version of the Postman app.

However, the `{{baseUrl}}/pet:aaaa` is still problematic, because there's no way to provide the value of the `aaaa` variable. If the path variable is part of a URL segment (`/pet{aaa}`), we'll need to translate this as an environment variable instead of a path variable (`/pet{{aaa}}` instead of `/pet:aaa`).

[2019-08-13 08:21] preethammavin commented on #7100
@Chronchon any chance you can share the screen recording? if you can please share the screen recording with user logs, which you can find in view->developer -> view logs in finder and send it across to help@getpostman.com.

This will help us debug and address the issue ASAP.

[2019-08-13 08:23] AndraSafe commented on #5053
+1!

What is the point of calling them variables if they can't be set?! Might as well call them collection constants... and they are mostly useless that way... It makes no sense to have to set environment variables that are only used for one collection. For instance if i use my first request to dynamically load the values i need as parameters in the next requests. Not to mention that i haven't fou

[2019-08-13 09:28] hellboy81 commented on #3444
As I mentionied all changes should be integrated manually?

[2019-08-13 10:29] chron-xie commented on #7100
@preethammavin   logs and video have sent to help@getpostman.com.

[2019-08-13 10:34] umeshp7 opened #7102 "Incorrect request listing in web monitor test results view"
The postman requests are not what are shown in the UI. Requests made from within the scripts are shown.
Expected:
<img width="1190" alt="Screenshot 2019-08-13 at 4 00 11 PM" src="https://user-images.githubusercontent.com/31915995/62935006-9c5bd280-bde3-11e9-9d08-725aeffa8103.png">

The "Syncing with JIRA" method and request url changes with every monitor run.
<img width="1236" alt="Screenshot 2019

[2019-08-13 10:39] jiangtianyou opened #7103 "Postman Icon not visible on Windows"
**Describe the bug**
Postman Icon not visible on Windows
![image](https://user-images.githubusercontent.com/5664308/62935311-60cc0300-bdf9-11e9-840a-3cba16db3d02.png)

**To Reproduce**

**Expected behavior**
expected show postman icon

**App information (please complete the following information):**
 - App Type
Windows Desktop app
 - Postman Version
![image](https://user-images.githubusercontent.c

[2019-08-13 11:15] rasentry opened #7104 "Slecting (by dragging cursor) url from json response body will open new request tab"
**Describe the bug**
Selecting by dragging cursor, right or left click on url in json response body,
all actions do the same - open a new request tab.

**Expected behavior**
Ability to copy url from response.

**App information (please complete the following information):**
Postman for Windows
Version 7.5.0
win32 10.0.18362 / x64

[2019-08-13 11:42] godfrzero commented on #7102
Possible duplicate of https://github.com/postmanlabs/postman-app-support/issues/6850

[2019-08-13 11:50] nirmal1997 commented on #3331
yes its suported

[2019-08-13 11:53] #7102 closed, assigned to nobody

[2019-08-13 12:00] laiyuanwen commented on #1667
++++++++1

[2019-08-13 12:57] abhijitkane commented on #3821
Closing as duplicate of https://github.com/postmanlabs/postman-app-support/issues/4598

[2019-08-13 12:57] #3821 closed, assigned to numaanashraf

[2019-08-13 12:58] abhijitkane commented on #6762
@yogeshkshirsagar-avalara https://complianceservice-dev.returns.avalara.net/swagger/v1/swagger.json is an internal URL. Can you create a public link or attach the file here?

[2019-08-13 13:13] sulmanbashir commented on #6152
Hello,

We meet the same issue with postman documentation. Please can you tell me when this bug should be resolve ?

Thanks for your reply.
Sulman

[2019-08-13 13:21] Klaym3n commented on #3358
+1! That would be great feature!

[2019-08-13 13:45] wjans opened #7105 "OAuth2 Authorization Code Callback URL matching incorrectly"
**Describe the bug**
When using the OAuth2 authorization code flow in a scenario where the callback URL resides in the same domain as the authorization and token endpoints, postman seems to intercept the authorization code too early in the authorization flow.  I.e. from redirects to other URL's containing a code request param as well, but not matching the specified callback URL. (See additional co

[2019-08-13 14:23] djbios commented on #7103
Same thing

[2019-08-13 14:45] davy-vr commented on #6682
+1

[2019-08-13 15:34] djbios opened #7106 "Postman fails to send request when token ends with a newline character"
**Describe the bug**
Postman don't send request with variable in Bearer authorization, on some tokens

**To Reproduce**
Steps to reproduce the behavior:
1. Version v7.5.0
2. Set variable with some bearer token
I've used
[code]
3. Use variable in request
![image](https://user-images.githubusercontent.com/11632032/62954698-83a9e780-bdf8-11e9-9ec8-1fef2f32d699.png)
![image](https://user-images.github

[2019-08-13 15:36] btargac commented on #4009
neeed websocket on postmaan

[2019-08-13 15:42] sudhirkhanger opened #7107 "Font and font sizes seems different in request and response windows"
**Describe the bug**
Font family and size seems to be different between the request and response window and possibly the UI.

**To Reproduce**
Steps to reproduce the behavior:
1. Run any API in the postman which has some body like json to upload and returns some response

**Expected behavior**
Font and size should be consistent in the request and response window.

**Screenshots**
![Screenshot_2019

[2019-08-13 15:52] saswatds commented on #7107
@sudhirkhanger you are right, the response viewer has been update to use a different editor stack ie. monaco editor for gaining performance benefits and lower memory foot-print. The side effect of the change in stack is the newer looking font.
This will not be for long, we will be updating the rest of the editors in the app soon. So stay tuned.

[2019-08-13 15:52] #7107 closed, assigned to nobody

[2019-08-13 16:28] BrambleRamble commented on #7032
I've been affected for a while by the variant of this problem where the OAuth generation dialog ends up showing a blank white page, instead of getting a token. This started happening after automatic upgrade a few weeks ago. My current version is 7.5.0 on Windows. Several other people on my team are similarly affected, including Mac users.

Is there any extra information that we can provide to help

[2019-08-13 16:43] dmnized commented on #7081
Yes, updating to the 7.5.0 fixes the issue. Thank you.

[2019-08-13 17:35] vfragola commented on #3466
This is badly needed.  Any thoughts on when this feature request will be completed?

[2019-08-13 23:04] xk0der opened #7108 "Ability to mask "Sensitive Data" in Environment Variables and request"
**Is your feature request related to a problem? Please describe.**
In certain scenarios and organizations, strict compliance measures need to be followed.
The user wants the ability to be able to have sensitive data masked and only viewable and editable by the user who added/created the data.

For all other users, this sensitive data should be always masked, in Environment variables (or in API req

[2019-08-14 01:16] xk0der opened #7109 "Postman crashes when invoking a certain PayPal API"
**Describe the bug**
User is calling a PayPal API that results in Postman crashing.

**To Reproduce**
Have not got details of the PayPal API causing this from the user.

_But looking at the logs I see the following_
See my internal notes for more details that I found
```[2076][1564784029245][main][error]["Main~handleUncaughtError - Uncaught errors",{"generatedMessage":true,"name":"AssertionError [

[2019-08-14 01:24] elyobo opened #7110 "Postman installed from snap on channel beta is not starting"
**Describe the bug**

Postman beta was installed on Ubuntu 19.04 using snap, initially worked fine, but now does not start running `postman` (but _does_ if I directly call `/snap/postman/87/usr/share/Postman/Postman`.

**To Reproduce**

[code]

**Expected behavior**

Postman should start when using the `postman` command.

**Screenshots**
N/A

**App information (please complete the following inform

[2019-08-14 04:56] Raja-Simha commented on #7098
Not a product issue

[2019-08-14 04:56] #7098 closed, assigned to nobody

[2019-08-14 06:00] ankurdengla commented on #7032
@BrambleRamble Could you confirm if you're using a custom protocol for the callback URL?

[2019-08-14 06:22] codenirvana commented on #6139
@amado-saladino `pm.globals.get` always uses the value set in the `Current Value` and as I can see from the screenshot its set to empty.
Setting the `Current Value` correctly will fix your issue.

Know more about Variable Sessions: https://blog.getpostman.com/2018/08/09/sessions-faq/

[2019-08-14 06:22] #6139 closed, assigned to codenirvana

[2019-08-14 06:32] coditva commented on #7106
@djbios Hi!
I tried sending a request with the token you provided and it went through (with and without environment variable) on Windows 10.

One way I _was_ able to reproduce this was by adding a newline character at the end of the token. Can you verify if this is the case? Try removing and re-adding the `token` variable and tell me if this persists.

[2019-08-14 06:37] codenirvana commented on #5420
@ykz89 The requesting server is responding with the response body (notice `content-length: 20` response header in the screenshot).

We have seen similar issues in the past where different clients (PhpStorm in your case) authoritatively override/trim the request body for 204 response.
However, Postman shows the exact response body sent from the server irrespective of the response status.

Closing t

[2019-08-14 06:37] #5420 closed, assigned to codenirvana

[2019-08-14 07:38] codenirvana commented on #5663
@eduardoHoefel Can you share a scaled-down collection which we can use to reproduce this issue?

More information about the request behavior will be helpful for us to debug this issue.

[2019-08-14 07:40] codenirvana commented on #4494
Closing this issue as we are not able to reproduce this internally and we haven't seen other users facing the same.

Please feel free to reopen if the issue persists or you can help us with the steps to reproduce this issue.

[2019-08-14 07:40] #4494 closed, assigned to codenirvana

[2019-08-14 07:50] codenirvana commented on #7094
@DeoMortis Thanks for reporting this issue. For me, it's encoding correctly with the body (weird 🤔).

This looks like an issue with our low-level request sending library and might take a while to reproduce and get this issue fixed. Will update the progress here once it's fixed in our Canary or Production channel.

[2019-08-14 08:27] harryi3t commented on #7076
@mist83 Thanks for reporting the issue. We have seen this issue when an old version of Postman is started when a newer version was already downloaded.

To confirm this, could you share screenshots of the `C:\Users<username>\AppData\Local\Postman` and `C:\Users<username>\AppData\Local\Postman\packages` directory? Also, if you have a `RELEASES` file in the packages directory, could you share that to

[2019-08-14 08:35] ankurdengla commented on #7104
Closing as it is duplicate of https://github.com/postmanlabs/postman-app-support/issues/6984

[2019-08-14 08:35] #7104 closed, assigned to nobody

[2019-08-14 08:37] kamalaknn commented on #7103
Hi @jiangtianyou

Thanks for reporting this issue. This is a regression introduced in Postman 7.3. We were able to reproduce this and we are working on a fix for this.

This is a duplicate of #6897. I'm closing this issue. Please follow the original issue for updates.

[2019-08-14 08:37] #7103 closed, assigned to nobody

[2019-08-14 08:45] sankalp0o commented on #7091
Hi @wabiloo
This is a use case that we definitely intend to solve. A feature we're exploring might help in your use case, but is different from what you propose. I'd love feedback on it.

When the schema changes, we want to be able to push changes to all collections that were generated from the schema. This would mean all your tests, monitors, documentation etc would get updated with new endpoints

[2019-08-14 08:57] BrambleRamble commented on #7032
@ankurdengla1996 Yes, we are.

[2019-08-14 09:18] preethammavin commented on #7100
@Chronchon I am unable to locate your ticket, would be great if you could reply with the github issue id in the ticket raised.

[2019-08-14 09:27] harryi3t commented on #7110
@elyobo Thanks for reporting this issue. I followed the same steps but wasn't able to reproduce this.
If the direct executable works, and not the `postman` which is a symlink, the symlink might be broken.

Can you let us know the output of `which postman` command?

Also, can you try doing a fresh install by first removing the existing installation?
[code]

[2019-08-14 10:03] arpitbatra123 opened #7111 "Space should not be a valid fork label"
When I'm forking a collection, The UI asks me for a fork label and without entering one, I am unable to press the `Fork Collection` button. However, Space characters are accepted as a valid fork label, which shouldn't be allowed as then the fork label will then be empty.

Reference:

![fork_empty_label](https://user-images.githubusercontent.com/21967563/63012654-3ab16c00-bea8-11e9-99ac-4bf9994c96a

[2019-08-14 10:25] edisonX-sudo commented on #3358
@a85 it will be horrible 4 documenting the http Api using json without this feature. +1 for this feature

[2019-08-14 11:53] DeoMortis commented on #7094
@codenirvana Thank you. If anything is needed from me I will be more than happy to help.
I am reproducing it constantly on my machine with Windows 10. My collegue also reproduced it himself on his Linux Mint.

[2019-08-14 11:58] sorenhansen-dk commented on #810
This is still an issue in the Windows app.

Please look into is, since it's a pain to lose data.

Thanks

[2019-08-14 11:59] markm77 opened #7112 "Postman Mac app doesn't respect open command option '-g'"
When launching Postman from Mac terminal via ```open -g -a Postman```, Postman does not respect ```-g``` option and grabs focus. Compare this to e.g. ```open -g -a TextEdit``` where terminal keeps focus.

Tested with latest Postman Mac app and macOS 10.14.6.

[2019-08-14 12:05] sorenhansen-dk commented on #6004
#810 is about the same issue.

[2019-08-14 12:11] markm77 opened #7113 "Mac app: AppleScript support for new Postman window on current desktop"
Would be great to be able to open a new Postman window on current desktop (space) via AppleScript similar to solutions for other apps given here.... https://superuser.com/questions/550312/applescript-open-a-new-window-in-current-space-without-switching-to-active-wind
Should be possible to open a new window independently of what is happening on other desktops or whether Postman is/isn't launched.

[2019-08-14 12:22] Benoit1980 commented on #4009
yes please web sockets for postman, found out today you cannot use it with WebSocket, sadly.

[2019-08-14 12:39] benschmi opened #7114 "Failed to import collection from link"
**Describe the bug**
Importing a swagger file from link fails with the error message "Error while importing Swagger 2.0: Could not import" in Postman 7.5.0 for Mac (works for Windows and Linux)

**To Reproduce**
Steps to reproduce the behavior:
1. Click on 'Import'
2. Click on 'Import from Link'
3. Add "http://api.ionos.com/cloudapi/v5/swagger.json" as destination
4. Click on "Import"
5. See error

[2019-08-14 12:45] tjraskin commented on #5103
Hi codenirvana,

I have not tried the Postman client in a while, so I am not sure if this issue was fixed or not.  There are two proxy options: Global Proxy Configuration (turned off by default; this allows specification of the proxy server, etc.) and Use System Proxy (turned on by default).  "Use System Proxy" did not work. If I am correct, would this have used the same proxy settings in IE?

Tha

[2019-08-14 12:52] useful-things opened #7115 "Hosted Gitlab firewall IP help"
I have recently setup a hosted Gitlab integration, and after a firewall rule was updated the integration was successfully created. But no syncing of our collections has happened. I have tried to be thorough in working through the advice provided here on various tickets to ensure that my target repository is open and ready for commits, but still no commits happen.

I now believe that further firewa

[2019-08-14 13:00] MarlieChiller commented on #6001
experiencing this on macOS with Version 7.5.0 (7.5.0)

[2019-08-14 13:19] mccannt commented on #6832
@robross0606 and @datacart
Just following up on this item. There is no way that we can stop these updates but we are looking into this fix as well as future improvements surrounding this functionality.

[2019-08-14 13:37] monica017 commented on #3774
Wasted tons of time before finding this.

[2019-08-14 13:41] robross0606 commented on #6832
@mccannt, then updates are a pretty big hole in your design that also needs to be addressed.  Updates need to be able to be shut off COMPLETELY.  Frankly, no one cares what you classify as "minor" vs "major" upgrade.  People turn off updates because they need consistent repeatable behavior, want to limit network usage, and more.  Many people need a tool that's not going to change out from undernea

[2019-08-14 13:43] robross0606 commented on #6999
This is a huge problem with your design that needs to be addressed ASAP.  Updates need to be able to be shut off COMPLETELY.  Frankly, no one cares what you classify as a "minor" vs "major" upgrade.  People turn off updates because they need consistent repeatable behavior, want to limit network usage, and more.  Many people need a tool that's not going to change out from underneath them at any tim

[2019-08-14 13:58] Raj-postman opened #7116 "Swagger Import Issue"
**Describe the bug**
When you try to import a Swagger API definition file, receives an error message. This works fine in Postman Chrome and Windows version.

**To Reproduce**
Steps to reproduce the behavior:
1) Click on the 'Import' button
2) Click on the 'Paste Raw Text' tab
3) Paste the JSON format in the text area and click import
Receives the error importing

**Expected behavior**
Be able to i

[2019-08-14 14:16] Hossman333 commented on #5294
iTerm has done a great job with this. Something like this would be way nice
![image](https://user-images.githubusercontent.com/2993997/63028298-cb1d8b80-be6b-11e9-9f05-f3088e121513.png)

[2019-08-14 15:28] andutta commented on #7032
@ankurdengla1996 You mentioned in one of your previous comments that you were able to reproduce the issue of "hung white screen when requesting token". Do you know when can I get a patch for it?

Appreciate all the help on this.

[2019-08-14 16:05] Joshuamay79 opened #7117 "No way to edit/view collection variables if user is only a viewer"
**Describe the bug**
We have several shared collections with collection level variables in them. When a user is set as a viewer, there is no way for them to view the variables. With that, their current values for them are blank, instead of being populated with the initial values from the collection. I understand they can  override them at the environment level, but they still can't see what the va

[2019-08-14 16:32] stcalica commented on #7115
Have you tried whitelisting these domains:
[code]

[2019-08-14 16:43] ygorats commented on #4690
Would be so hard to create a console function that executes the same job of an existing button?

[2019-08-14 17:06] robross0606 commented on #6999
Case in point, Postman just updated AGAIN to 7.5.0 even though I have updates turned OFF.  Not only that, but it doesn't even give you a change log or any indication of what was actually updated.  This is unacceptably heavy-handed.

[2019-08-14 17:09] robross0606 commented on #6999
Perhaps "major" updates should be considered anything that isn't a third level point release?  How is the move from 7.2 to 7.5 not considered a "major" release?  Look at the [change log](https://www.getpostman.com/downloads/release-notes)!  Just the update to 7.3 has a massive number of potentially breaking changes.  A whole OS architecture support was removed and a completely new (and not thoroug

[2019-08-14 17:59] robross0606 commented on #6832
@mccannt, might there be a way to restrict auto-updating with a firewall rule?  Hopefully without affecting API syncing, but I'd be willing to sacrifice API syncing to get a Postman install that was, ya know, functional.

[2019-08-14 19:02] clawfrank commented on #5123
`*.example.com` works, but `service*.example.com` does not.

[2019-08-14 19:43] stcalica commented on #6029
Posting on behalf of user:

I have a user who accidentally updated to v7 when migrating his settings. He re-downloaded v6 on a new computer, he’s not able to sync.
This is the issue he receives in his logs:

`[10068][1565620164508][pluginHost][info]["not exist",{"errno":-2,"code":"ENOENT","syscall":"open","path":"/Users/XXXX/Library/Application Support/Postman/plugins/postman.openApi/version.json"

[2019-08-14 20:12] pranoy10 commented on #6552
Had the same issue after an update.  Fixed it using #3107

[2019-08-14 21:14] Dangerunicorn commented on #2851
+1

[2019-08-14 21:16] Dangerunicorn commented on #2819
+1 this feature would be very helpful to me

[2019-08-14 21:28] elyobo commented on #7110
@harryi3t yeah, mine worked at first and then just... stopped working ¯\\_(ツ)_/¯  I noticed the same behaviour on another laptop of mine too, where it was previously working.

The symlink is fine; I got the executable that works using `sudo strace postman` and noticed it in the paths there, so it wasn't just a broken link (which would not have exited with `0` as described in the issue).

[code]

I

[2019-08-15 05:00] ilyhacker commented on #7105
I also had this problem since version 7.3.4 on windows. It works fine on version 7.2.2.
When i request an accesstoken from forge.autodesk.com, it works fine for type "Implicit",
but failed for type "authorization code"

[2019-08-15 05:43] saswatds commented on #6992
Hi @kratigya0705 can you help us with GIF to understand the problem better. Not been able to reproduce based on the steps provided.

[2019-08-15 05:57] saswatds commented on #7085
Hi @jLemmings I am closing this issue due to inactivity, feel free to reopen the issue if your problem persists.

Thanks

[2019-08-15 05:57] #7085 closed, assigned to saswatds

[2019-08-15 06:03] saswatds commented on #7004
Closing this issue now as it is in a older version of the App. Feel free to reopen if you still find the problem in the latest version

Thanks

[2019-08-15 07:45] tiny1990 commented on #4009
+1

[2019-08-15 07:56] miguel719 commented on #3358
+1

[2019-08-15 08:31] danijelk opened #7118 "Proxy not saving requests in latest 7.5"
Latest Postman on Mac doesn't capture any traffic through the proxy requests feature. Tested in chrome where I turn proxy off to ensure chrome isn't able to connect to internet, once it's on requests are sent through but never logged.

Haven't tried interceptor, but we I can't use it on the device I use Postman for as device sends requests though scripts.

**Expected behavior**
Worked in 6.3.0

**

[2019-08-15 08:35] mkbg8 commented on #6682
+1

[2019-08-15 09:37] jibolso commented on #3953
Just a kind note, it's 2019 and this issue from 2017 still happens. The fix was to over the mouse over the task bar icon and right click on the preview window and then select the maximize option just like @ghanashyaml said.

[2019-08-15 10:07] BillRozy commented on #4009
+1

[2019-08-15 10:30] VicKetchup opened #7119 "New folder/requests not synced to the client"
**Describe the bug**
We got a branch of a collection that the owner has modified to add new folder and more requests, however nobody else in the team is able to see those changes. Looking through web UI, the changes are there for everyone, however no matter what we do, the client doesn't show the new folder and requests.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a branch of the

[2019-08-15 10:37] ivliskot commented on #7119
Nice one! this is really annoying!!!

[2019-08-15 11:34] gmattie commented on #4814
This issue appeared for me on v7.5.0 on Windows 10 64-bit.

This fix detailed in **[this post](https://github.com/postmanlabs/postman-app-support/issues/3107#issuecomment-407789469)** solved the issue.

[2019-08-15 11:36] DannyDainton opened #7120 "Custom HTTP Method - Incorrect filter label shown when adding a new Method"
**Describe the bug**

The text on the `HTTP Method` filter shows an incorrect label "no result", when adding a new Custom Method.

**To Reproduce**

1. Open a new Request Tab
2. Click on the `HTTP Method` input field
3. Enter a new Method name that is not currently part of the list

**Expected behaviour**

To keep the label consistent with other areas of the app that have similar filters, I would

[2019-08-15 12:11] m3dbedb commented on #7118
Same issue with Postman 7.3.6 in windows 7 32 bit. Also in Postman 6.7.1 Capture API button was marked with light square then turned on, current Postman 7.5.0 does not signal API capture status.
![cat](https://user-images.githubusercontent.com/25632818/63165327-c572a200-c033-11e9-85cf-a81feabfe7e3.JPG)

[2019-08-15 12:47] djbios commented on #7106
Yes, newline was the issue, thanks. But I guess it's still an unexpected behaviaour.

[2019-08-15 13:18] mahi8321 opened #7121 "Postman not detecting automatically the data file type and iterations when a data file is selected from collection runner"
**Describe the bug**
When running tests from collection runner and select a data file the type is not auto detecting the format and the number of iterations as well

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Collection Runner
2. Click on select file for Data and select a csv file

**Expected behavior**
After select a csv file the data file type format should come and it should be

[2019-08-15 14:30] nihaals opened #7122 "Customise history display"
**Is your feature request related to a problem? Please describe.**
When looking at the history, some details are not given sometimes making it difficult to find the request you want. This is related to #255, #145, #1229, #6942.

**Describe the solution you'd like**
Add toggles in the settings allowing you to choose what details you want in the history pane including `Request Name`, `Request URL`,

[2019-08-15 15:53] rob10e commented on #3942
I did this as well. Thank you for pointing this out.

[2019-08-15 16:33] preethammavin commented on #7119
@VicKetchup wanted to understand the issue better, you have a collection C1 which has a requests and folders. And when a user adds a folder to C1 that is not reflected on the same collection C1 on other clients?

Or when you say branch do you mean you have a fork of collection C1 and when you merge it back it is not reflecting to other users?

[2019-08-15 16:35] sriharshagangadhar commented on #3358
Not yet implemented! Please some one look into this

[2019-08-15 16:50] VicKetchup commented on #7119
@preethammavin The first scenario.
I mentioned branch in case it made any difference, as the collection that this is happening on is a branch.

[2019-08-15 17:01] andreyvolodko1996 commented on #3312
When the request returns access_token, this access_token is sent to the
Cookie manager, and these new methods are not able to get/set/clear/unset
this access_token. This is the problem. Unfortunately, the problem with
cookie manager is not resolved(

On Tue, Aug 13, 2019 at 3:05 AM PARDEEP BAGRI <notifications@github.com>
wrote:

[2019-08-15 17:03] andreyvolodko1996 commented on #3312
maybe it;s connected with the fact, that some websites are using two types
of cookies.
One for the registration and after that the user receives second cookie
(access_token) using first cookie.

On Thu, Aug 15, 2019 at 8:01 PM Andrei Valadzko <andreivaladzko3@gmail.com>
wrote:

[2019-08-15 17:51] preethammavin commented on #7119
@VicKetchup I am not able to replicate this, as I tried creating a fork and added requests, folders renamed them and everything syncs across clients. This is clearly not expected, it shows on web means that the data is synced to the cloud, would be great to look at the logs for the users/clients which did not get the information (view->developers->view logs in finder) and send it across to help@ge

[2019-08-15 18:40] martin5211 commented on #3703
Can we set followAuthorizationHeader variable in postman-request to true by default or add an option in Settings Headers to enable it or disable it? It's annoying to lose the authorization headers when the redirect happens to a different domain name.

[2019-08-15 19:16] rbochz28 commented on #3327
Removing the directory does fix the issue, but it will also unfortunately wipe out your work space.

[2019-08-15 19:57] sambyers commented on #6001
Similar issue here. I created an environment with variables, imported a collection, and couldn't use the environment variables with requests in the collection. I deleted the environment and recreated it and now it works.

macOS 10.14.6
Postman 7.5.0

[2019-08-15 21:20] 0ddlyoko opened #7123 "Request with an accent in url doesn't works like browsers"
**Describe the bug**
When you request a url with an accent in the path, it doesn't works like browsers

**To Reproduce**
Steps to reproduce the behavior:
1. Create a .htaccess file like [here](https://pastebin.com/9TT9HWfP)
2. Create an index.php file like [here](https://pastebin.com/RFmsDUYR)
3. Open Chrome, Firefox, Opera or Edge and browse to "localhost/test/é"
4. Now open PostMan and send a re

[2019-08-15 21:26] xk0der opened #7124 "Monitor result graphY-Axis values do not match with "response time" values"
**Describe the bug**

Monitor result graph's Y-Axis labels do not match the value shown in "Response time".
Y-Axis labels seem to repeat as well (see the second screenshot with .2s repeated) (likely because of rounding of two 0.2X 0.2X values?)

**To Reproduce**
Steps to reproduce the behaviour:
1. Create a Monitor with a couple of requests
2. Run the monitor couple of times
3. Observe that the re

[2019-08-15 21:32] stahlechris opened #7125 "Native postman app doesn't find locally hosted ASP.NET web API using IIS Express"
**Describe the bug**
osx native postman app doesn't find locally hosted ASP.NET Web Api using IIS Express, returns status 400 on GET requests. When compared to Postman for Chrome, the chrome app works as intended.

**To Reproduce**
Steps to reproduce the behavior:
0. Download and install 2.2 .NET core sdk. https://docs.microsoft.com/en-us/aspnet/core/tutorials/first-web-api?view=aspnetcore-2.2&tab

[2019-08-16 00:39] acblksun opened #7126 "Disable Click to Open Links option"
**Feature.**
Previously links returned in the text of an `application/json` results would not navigate.

Now, if when we click the mouse into the property, PostMan will automatically open a new postman tab. However because postman doesn't render html (and we don't want it to), I'm now stuck with either
- copying the property with `"`'s and removing them manually, or going through some contortions

[2019-08-16 03:18] mengdodo commented on #1667
+++++++10086

[2019-08-16 03:23] abhijitkane commented on #1667
@mengdodo @MMRandy Request capture is available in the latest Postman version - 7.5.0. Docs - https://learning.getpostman.com/docs/postman/sending_api_requests/capturing_http_requests/#using-the-interceptor

[2019-08-16 04:20] timatanu opened #7127 "Error in the editor Unexpected '@' when trying to access field in a test script"
So I'm trying to write a test to validate the content in the **@EMAIL** and @EMPLID fields in the response message.

The response message contains fields with the @(at sign) in them
{
  "@EMAIL": "U7841698@some.outfit.com",
  "@EMPLID": "7841698"
}

And the editor is giving the error "Unexpected '@'"
 pm.test("@EMAIL Check", function () {
     pm.expect(jsData.**@EMAIL**).to.eql("U" + userId + "@a

[2019-08-16 04:24] xk0der commented on #7127
Can you try accessing the property like this?

```jsData["@EMAIL"]```

[2019-08-16 04:30] kamalaknn commented on #7126
@acblksun Thanks for reporting this. We appreciate your suggestions.

We are tracking this issue as part of #6984. I'm closing this issue as a duplicate. Please follow the original issue for updates related to this.

[2019-08-16 04:30] #7126 closed, assigned to nobody

[2019-08-16 04:42] timatanu commented on #7127
Hello Amit,

Thanks for the super quick response.

It works.

I tried doing something like that after seeing a similar problem on StackOverflow and was still getting an error. I must have had a secondary syntax error of some kind which meant I was still seeing the red X mark.

Anyway all good now.

Thanks

Tim Armstrong

________________________________
From: Amit Singh <notifications@github.com>

[2019-08-16 04:59] xk0der commented on #7127
No worries!

Glad to know the issue was resolved!

Cheers

[2019-08-16 04:59] #7127 closed, assigned to nobody

[2019-08-16 06:23] elssar commented on #6827
@npaul23 are you still facing issues while logging into the Postman app?

[2019-08-16 06:57] chron-xie commented on #7100
@preethammavin I had  replied  github issue title and id  as mail header . can't get my sent mail ?

[2019-08-16 08:18] saswatds commented on #6650
Hi @zhangbaosheng this has been fixed in the latest version of Postman App.

Closing this issue now.

[2019-08-16 08:18] #6650 closed, assigned to numaanashraf, kamalaknn

[2019-08-16 08:19] coditva commented on #2882
The problem here seems to be that the request body is not in the correct JSON form but is a Javascript object. There are two solutions to this problem:

1. Use pre-request script to `JSON.stringify` the request data as @Opticsponge does or,
2. Use `JSON.stringify`-ed value in the data file:
[code]
and set the variable as:
[code]

<hr>

The problem in @jgroom33's collection seems to be that the `JS

[2019-08-16 08:19] #6292 closed, assigned to nobody

[2019-08-16 08:39] #2882 closed, assigned to coditva, saswatds

[2019-08-16 08:46] dholde commented on #4001
Same here

[2019-08-16 08:56] harryi3t commented on #7110
@elyobo Thanks for confirming that the symlink is correct.
It would help if you can provide the following information:
 - Are the other snap packages installed on your machine working fine?
 - Are there any logs on the screen when you run `postman` command? Could you share a screenshot of the same?
 - Also, could you share the complete logs from `View -> Developer -> View logs in File Manager`? (F

[2019-08-16 08:56] huangdenghe commented on #2385
Can it work now?

[2019-08-16 08:57] zoraida commented on #6682
will this feature this be implemented in the near future ?

[2019-08-16 08:59] fgustovo commented on #3631
Removing HTTP_PROXY and HTTPS_PROXY environment variables was solved my issue.

[2019-08-16 09:06] coditva commented on #7106
@djbios You're absolutely right. Tracking this as `Postman fails to send request when token ends with a newline character`.

Similar: https://github.com/postmanlabs/postman-app-support/issues/4485

[2019-08-16 09:13] foxbunny opened #7128 "Non-payment of invoices warning despite no unpaid invoices are listed"
**Describe the bug**

Postman app shows a warning about unpaid invoices.

![image](https://user-images.githubusercontent.com/65413/63157119-81bd6f80-c016-11e9-8372-665ef9a61103.png)

I contacted our billing contact, and what they see is:

![image](https://user-images.githubusercontent.com/65413/63157157-969a0300-c016-11e9-93e1-c229b33da7c4.png)

**Expected behavior**

No warning about unpaid invoi

[2019-08-16 09:17] preethammavin commented on #7100
@Chronchon I am not able to locate the mail, can you resend it or just mention this thread and my name on the email.

[2019-08-16 09:24] elyobo commented on #7110
Thanks for looking in to this :)  For your questions -

Yes, I also have Telegram which works fine.

No, no other logs are shown - it's as I indicated initially, it returns immediately with no output and a 0 exit code.

[code]

Logs are as follows

main.log
[code]

pluginHost.log
[code]

renderer-auth.log
[code]

renderer-requester.log
[code]

renderer-shared.log
[code]

renderer-shell.log
[code]

[2019-08-16 10:21] harryi3t commented on #7110
@elyobo Thanks for the quick response.
I noticed a weird thing from the logs that you provided, the app is trying to auto-update. This should not happen since auto-update is disabled for the Postman app which is installed through snap and is enabled for the apps downloaded from our website.

Can you remove the app and do a fresh install and then share the logs?
Also, after you remove postman, try

[2019-08-16 10:27] VicKetchup commented on #7119
@preethammavin email sent :)

[2019-08-16 11:27] preethammavin commented on #7119
@VicKetchup would be great if you can mail the collection id, which is not getting synced. That would help us debug faster :)

[2019-08-16 11:49] elyobo commented on #7110
:thinking: That's very interesting.  When I opened up the snap version using the full path to get it to run and went in to `View -> Developer -> View logs in File Manager` it opened up a file manager in `~/.config/Postman/logs`.  From what you're saying that shouldn't be the case at all!

After uninstalling postman (`snap remove postman`) I can no longer launch it via the terminal, nor find it usi

[2019-08-16 11:49] chron-xie commented on #7100
@preethammavin   resend it again  at 6:55 PM

[2019-08-16 12:10] codenirvana commented on #7123
Closing it as a duplicate in master issue: #4555

[2019-08-16 12:10] #7123 closed, assigned to nobody

[2019-08-16 12:30] nirmal1997 commented on #3331
how to get the url by uploading an image in multipart form data.But make sure that use parser.add_argument(images,loc*******)

    def post(self):
            data = parser.parse_args()
            print(data)
            image = data['image']
            print(image)
            # imagew= request.files['file']
            # print(image)

            # print(UPLOAD_FOLDER)
            UPLOAD_FOLDE

[2019-08-16 12:36] npatelmob opened #7129 "I am unable to navigate to postman result"
**Describe the bug**
Having a test result for collection which I rerun 100 times , I am unable to navigate and open result after 30th

**To Reproduce**
Steps to reproduce the behavior:
1. Generate report for around 50+ iteration for any collection
2. Try to navigate too the last result and try to open it

**Expected behavior**
It should navigate and open it properly

**Screenshots**

**App informa

[2019-08-16 12:48] denitsa-md commented on #5039
Encountering the same issue on v7.6.0-canary02. I am setting some Referer and Origin headers via environment variables and they're not being updated after changing the environment variables.

[2019-08-16 14:02] gokceng commented on #7071
The situation persists on Version 7.5.0 (7.5.0).

[2019-08-16 14:34] RomanPurishy commented on #6748
For me, it is only working with **current** version tag.

[2019-08-16 17:36] clarkritchie commented on #4365
👍 Agreed.  Having the docs public is blocking us from using Postman for documentation.

[2019-08-16 19:01] shanemgrey commented on #7118
Also experiencing this issue since last update.  Using Firefox with FoxyProxy to send all localhost requests to 5555.  When Postman Proxy "Capture Requests" is on, the requests are forwarded as expected, but no log of them is showing in the history tab.

When I turn off Postman proxy, or just close Postman, the requests fail, unless I also turn off FoxyProxy.  The shows that Postman is performing

[2019-08-16 21:49] jstafford5380 commented on #1535
+1 It could probably be implemented using a "reference" approach. For example, for me, an ideal way to set up tests is to have a "tests" per endpoint which are just a way define how an endpoint gets called. Then in a test collection, you can pull in "references" to those per-endpoint requests as a "step" and build a chain of them to create a "scenario".

I think the challenge with this would be ad

[2019-08-17 05:02] JohnArrowwood commented on #5707
I find myself generating folders full of nodes for the sole purpose of setting up global variables to use in other request flows.  And every one of them is configured to hit http://www.example.com/.  I don't really NEED to establish a connection or download any HTML, since all I'm doing is setting variables...

I could really use this feature.  Any update on when we might have something?

[2019-08-17 07:17] tnkteja opened #7130 "No internet connection,"
Though internet connection is available, the post man won't say.

**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to

[2019-08-17 08:38] kamalaknn commented on #7079
Hi @thomasvanlankveld

Thanks for reporting this issue. If you could send the rest of the log files to help@getpostman.com that would be very useful.

This looks like a duplicate of #7078, I'm closing this issue. You can mention the issue number 7078 in the email with the logs.

Please follow the original thread for updates.

[2019-08-17 08:38] #7079 closed, assigned to numaanashraf

[2019-08-17 08:41] kamalaknn commented on #7078
Adding comment from the linked issue from @thomasvanlankveld

The error logs might have useful information
___

1: The output below was returned when the splash screen said "Preparing your workspaces...". To be sure, I left it open for about 2 hours before closing it.

![prep-workspaces](https://user-images.githubusercontent.com/5240626/62629876-49d76d80-b92e-11e9-9721-a1cb74c33c77.PNG)

[code]

2

[2019-08-17 09:25] saswatds commented on #6980
Hello everyone, we have been able to reproduce this issue and are trying to find out the root-cause for this problem. Fix will be underway soon.

[2019-08-17 11:20] nikandlv commented on #5803
checkout https://github.com/nikandlv/postman-patcher @lubainaz @askaaqib @arunkal1

[2019-08-17 11:20] nikandlv commented on #2646
This can make it work https://github.com/nikandlv/postman-patcher

[2019-08-17 11:26] nikandlv opened #7131 "Enable javascript in response solution"
Hey postman team!

With this patcher people can enable or disable sandbox mode in postman

i think its a necessary feature since people build their pages and even error pages in `react`, `vue` and other frameworks

heres my proposal, theres a setting in Settings that can enable or disable this

https://github.com/nikandlv/postman-patcher

[2019-08-17 15:18] AnkitaPrakash commented on #1066
Any update on "Allow multiple select for moving and deleting"?

[2019-08-17 17:35] WellspringCS commented on #6712
I am also not seeing autocomplete for 7.5.0 version

[2019-08-17 18:27] Isengo1989 commented on #7059
Same here with the snap postman app on Ubuntu 18.04 and a bigger YAML/JSON Open API 3 File

https://ufile.io/ms23aix5

[2019-08-18 06:51] codingbyai commented on #7010
I logout Notion app and retry to login with Google, but failed with the same error msg. Sad...

[2019-08-18 11:26] shamasis commented on #4690
@vkaegis this needs to be addressed via better filtering and scoping of console output. The clear philosophy does not apply to Postman Console since independent components output to same console.

[2019-08-18 11:55] shamasis commented on #4111
It's been a while since we got around to this. Nevertheless, we are rounding up aspects that can be built in short to mid term.

Tracking console clear here https://github.com/postmanlabs/postman-app-support/issues/4690 with initial thoughts in https://github.com/postmanlabs/postman-app-support/issues/4690#issuecomment-522313322

Debug line number request is tracked at: https://github.com/postmanl

[2019-08-18 11:55] #4111 closed, assigned to vkaegis, preethammavin

[2019-08-18 12:06] shamasis commented on #5202
We have implemented the "Visualisation" feature for you to be able to do this. @kaustavdm ... we can create an example for this and close the issue?

[2019-08-18 12:09] shamasis commented on #5295
Duplicate of https://github.com/postmanlabs/postman-app-support/issues/3700

[2019-08-18 12:09] #5295 closed, assigned to nobody

[2019-08-18 12:16] shamasis commented on #6111
This has been fixed in production.

[2019-08-18 12:16] #6111 closed, assigned to nobody

[2019-08-18 13:13] ZoharHedri commented on #3358
+1

[2019-08-18 17:44] lazarkanelov opened #7132 "Cannot install 7.5.0 on newly commissioned Win10 1903"
Hello! I'm trying to install Postman 7.5.0 on my new dev VM running Win10 1903. Basically the setup starts and after a few seconds I'm getting "Installation has failed!"

![image](https://user-images.githubusercontent.com/6763761/63228242-df111680-c1f8-11e9-84a5-4ee32e48edcd.png)

Steps to reproduce the behavior:
1. Go to Postman download page
2. Download the latest version.
3. Run the setup.

Tha

[2019-08-18 18:36] xUrko opened #7133 "console.log always outputs null"
Postman v7.5.0

Console log action always prints null instead of the variable value.

**Code example**

postman.setEnvironmentVariable("UserID", data.result.id);
console.log("UserID is set to:", + data.result.id);

[2019-08-18 18:38] shamasis commented on #7117
Yeah. This is a bummer. @vkaegis

[2019-08-18 18:53] shamasis commented on #7131
Hey there. I appreciate the effort you’ve put in. There are still security implications we haven’t run through in order to implement this. Meanwhile, we have added the new “visualiser” feature to combat some of the use cases.

[2019-08-18 18:56] shamasis commented on #7133
Can you expand the output by clicking the arrow beside the console row and check if the data is actually being sent to console?

Also, I’m assuming the code you’re using is `console.log("UserID is set to:" + data.result.id);` or `console.log("UserID is set to:", data.result.id);` ... notice that I’ve removed the misplaced comma in once case and a misplaced plus sign in the other.

[2019-08-18 19:06] nikandlv commented on #7131
@shamasis i appreciate the new visualizer however this does not solve the main issue
i think it should be optional for user to enable this with proper warning
insomnia is doing it and its great. i been using postman for a long time but this is kinda a deal breaker

[2019-08-18 19:09] #7081 closed, assigned to shamasis

[2019-08-18 19:15] shamasis commented on #7131
@nikandlv the issue is that we render preview in iframe. We haven’t found an effective way to sandbox the iframe and not allow any code to break out to outer window. Any suggestion?

Also, we cannot do webview because our window is already a webview and nested webviews don’t work well in the version of electron we are running.

[2019-08-18 19:20] shamasis commented on #7131
@nikandlv - for visualiser we could achieve the result since the outer HTML is in our control and we harden the window from inside. If you’ve got ideas, we can chat. 🎉🎉

[2019-08-18 19:25] nikandlv commented on #7131
@shamasis Well i think there are some ways that we can achieve this since its using electron. if your electron version is up to date there are some workarounds to approach this securely. of course its not going to be easy but its worth it. if postman was oss i would gladly implement this and send a PR

[2019-08-18 19:26] nikandlv commented on #7131
@shamasis sure! im gonna do a bit more research on this then ill let you know

[2019-08-18 19:36] shamasis commented on #7131
Can you email me at shamasis@g\*tp\*stm\*n.com and we can find a way to chat around this.

[2019-08-18 20:02] xUrko commented on #7133
OK, if I removed the plus sign it's working e.g. console.log("UserID is set to:", data.result.id);

But the code with the plus sign worked till this version.

[2019-08-18 20:02] #7133 closed, assigned to nobody

[2019-08-18 20:30] #6964 closed, assigned to vikiCoder

[2019-08-18 20:31] shamasis commented on #6962
Then something useful is leveraging external diffing tools like many VCS do.

[2019-08-19 04:08] preethammavin commented on #7115
@useful-things did you have a chance to get this above mentioned domains whitelisted and try again?

[2019-08-19 04:12] preethammavin commented on #7130
@tnkteja are you working behind a firewall? can you try the same in different network and check if the issue persists?

[2019-08-19 04:49] abhijitkane commented on #7118
@shanemgrey @danijelk @m3dbedb Confirmed as a bug. A temporary workaround is to add the comma-separated list of methods in the `Show additional filters > Methods` textbox: `GET,POST,PUT` should do for most cases.

We'll be pushing out a patch in the next release.

[2019-08-19 05:44] ArjunSingh-PM commented on #7124
@xk0der Changes to correct this issue are already on Beta. Could you please test the same and confirm this is resolved for you.

[2019-08-19 06:38] AmanDhembla commented on #6748
Hey @RomanPurishy, can you add a gif or video of the steps you are following to create mock.

[2019-08-19 07:46] shamasis commented on #6923
This should be now fixed and available in production. Can you try with latest app and let me know if the fix we intended, did actually fix your issue.

[2019-08-19 07:52] shamasis commented on #6797
Yep. That’s the goal... at least partially. Postman Variables support sessions and encrypted server side storage. Those features must be extended to variables and subsequently applied to entire request instead of URL. We don’t want to introduce such an invasive feature for short term only to change again.

cc @vkaegis

[2019-08-19 08:05] aamir-ahmed opened #7135 "Unable to navigate to the iDP Login Page from the Postman Mac application within a company's specific network"
**Describe the bug**
User observes a loading image after they select the iDP on the Postman Mac application. This issue is seen only within the company's specific network. SSO login works as expected outside the company's network

**To Reproduce**
Steps to reproduce the behaviour:
Within the company's network
1. Click on "Sign in here" next to "Enterprise user?" on the main login page
2. Enter the

[2019-08-19 08:14] kartikjain26 commented on #6985
@chrisdeso  This has been resolved in production

[2019-08-19 08:29] charliemoriarty commented on #6923
Thanks @shamasis! Unfortunately I'm still having the issue in Postman 7.5.0. I haven't had any luck finding a public version of the image URL I can send you, but the headers are still as follows, and the preview looks the same as the screenshot above:
[code]
Let me know if there's any more information you need!

[2019-08-19 08:33] cyrielle-hada commented on #6661
I tried to reproduce the issue on the stable app, I confirm it is fixed! 👍

[2019-08-19 08:33] #6661 closed, assigned to ankit-m, preethammavin

[2019-08-19 08:42] aamir-ahmed opened #7136 "Unable to SSO Login into the Postman Mac Application using iDP credentials within the company's specific network"
**Describe the bug**
User observes a loading image after they select one click signin on the iDP Login page. A 401 UnAuthorized response is received from the iDP and the redirect to the Identity Service callback endpoint does not happen.

**To Reproduce**
Steps to reproduce the behaviour:
1. Click on "Sign in here" next to "Enterprise user?" on the main login page
2. Enter the Team Domain and subm

[2019-08-19 08:53] ritwijsinha commented on #7121
Duplicate of #7008

[2019-08-19 08:53] harryi3t commented on #7110
@elyobo Can you try installing after this point? Does it still use the `~/.config` directory?

[2019-08-19 08:53] #7121 closed, assigned to saswatds, ritwijsinha

[2019-08-19 09:01] abhijitkane commented on #4871
@andig @ctruzzi Apologies for the delay here - this should be fixed in the latest Postman version.

[2019-08-19 09:01] #4871 closed, assigned to nobody

[2019-08-19 09:21] DannyDainton opened #7137 "Monitor Creation Flow - Tests are created when the option is unchecked"
**Summary**

A test is created as part of the Monitor Collection flow when you create a new API.  If the tests (Check the Status Code / Check the Response Time) are _unchecked_ and removed from the table on the UI, these are still created for the request.

There is also no ability to decide if I _only_ want one of the auto-generated tests to run for a specific request. If I have 10 requests in the

[2019-08-19 09:48] #4624 closed, assigned to preethammavin

[2019-08-19 10:09] mvdriel opened #7138 "OAuth 2.0 Client Credentials: Client ID and Secret not urlencoded when using Basic Auth header"
**Describe the bug**
OAuth 2.0 Client Credentials: Client ID and Secret not urlencoded when using Basic Auth header

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Authorization'
2. Click on 'Get New Access Token'
3. Select 'Client Credentials' for 'Grant Type'
4. Fill in ':' for Client ID
5. Fill in ':' for Client Secret
6. Select 'Send as Basic Auth Header' for 'Client Authenticatio

[2019-08-19 10:46] lucas937 opened #7139 "Application crashes frequently"
The Postman application frequently fails when making requests. Sometimes the app needs to be closed and reopened, other times the (not responding) text is shown in the text bar of the application. I couple of times the application has presented a black screen - for this the application needs to be restarted

Added screenshot of blacked out application:
![postman crash](https://user-images.githubus

[2019-08-19 11:00] kaustavdm commented on #5202
@spamacon Like Shamasis mentioned, we now have a visualization feature in Postman. It is currently released in Canary and will go to production soon.

Can you go through the [docs on Visualizer](https://learning.getpostman.com/docs/postman/sending_api_requests/visualizer/) and see if that answers your requirement? We are working on more content around this feature.

Till then, if you build out som

[2019-08-19 11:13] harryi3t commented on #6161
@Pyknus Thanks for reporting this issue.
Are you still facing this after updating to the latest version of Postman `v7.5.0`?

If yes, could you share the following information:
  - Click on `Open file location`
  - It should open the location with the Postman shortcut
  - right-click on the shortcut, click on `properties`. Let us know the value in `Target` and `Start in`
  - Click on `Change Icon`

[2019-08-19 11:25] useful-things commented on #7115
I'm waiting for our support team to pick up this task. I'm sorry for the wait.

[2019-08-19 11:35] DannyDainton opened #7140 "Monitor Creation Flow - Truncated option names causing rendering issue"
**Summary**

The checkboxes for the options in the `Monitor` creation are incorrectly sized and spaced due to the text label truncating.

**To Reproduce**

Steps to reproduce the behaviour:

1. Press the `+New` button
1. Select the `Monitor` option from the modal
1. Open the options menu by selecting the `...` icon

**Expected Behaviour**

The labels should be displayed on the same line and the bo

[2019-08-19 11:45] powelli commented on #6852
Given that session variables are currently suggested as a Postman best practice for storing sensitive environment values (API keys, passwords etc.) this seems like a bit of security risk. New team members may easily leave this setting enabled and therefore share sensitive values with the entire team when they update their "current" session variables.

Also related is the suggestion to manage this

[2019-08-19 11:55] ankurdengla commented on #7032
@toreskobba @BeingSujeetK @BrambleRamble @andutta The fix for the OAuth 2.0 issue is out on our latest canary build (PostmanCanary 7.6.0-canary03) which can be downloaded from - https://www.getpostman.com/downloads/canary

Do let us know if it solves your issue.

[2019-08-19 12:12] Keso-Rupert commented on #7041
Hi @saswatds and @coditva, any update on resolving this issue?
Thanks :)

[2019-08-19 12:12] shamasis commented on #6923
My bad. It’s scheduled in 7.6.0.

[2019-08-19 13:32] useful-things commented on #7115
Would it be possible to have IP ranges for the domains listed? We can't whitelist domain names.

Thanks!

[2019-08-19 13:44] codenirvana commented on #7093
@Maxeh That's the expected behavior.
Local variables created using  `pm.variables` are persisted until the execution stops.
Only the environment and global variables are persisted across executions.

Also, to know more about how `pm.variables` works: https://github.com/postmanlabs/postman-app-support/issues/6082#issuecomment-473221190

[2019-08-19 13:48] codenirvana commented on #7093
On second thought, while understanding your problem with environments:

We are adding support for tab specific environment soon which will solve your issue/confusion with environment variables.

[2019-08-19 14:43] angrimer commented on #1996
I had this experience as well (since last week), driving me mad! CPU 50%+ when Postman is supposed to idle!

I'm on Postman 7.5.0 on Windows 10 (19H1) with plenty of collections.
I tried uninstalling, reinstalling both 32 and 64 bit versions without success.

HOWEVER, I FOUND A SOLUTION THAT WORKS FOR ME AT LEAST! :-)

The uninstall does not remove the local appdata cache and something in this Pos

[2019-08-19 15:02] angrimer commented on #4361
I had this experience as well (since last week), driving me mad! CPU 50%+ when Postman is supposed to idle!

I'm on Postman 7.5.0 on Windows 10 (19H1) with plenty of collections.
I tried uninstalling, reinstalling both 32 and 64 bit versions without success.

HOWEVER, I FOUND A SOLUTION THAT WORKS FOR ME AT LEAST! :-)

The uninstall does not remove the local appdata cache and something in this Pos

[2019-08-19 15:23] jkirkpatrick commented on #4361
Same problem occurring under ubuntu linux.

[2019-08-19 16:03] BrambleRamble commented on #6962
Could that be incorporated so that it could be used in this kind of syntax?
[code]
This is the kind of automatobility that would be most valuable to me. Obviously I'm open to suggestions of better syntax :-)

I'd want this to identify these two JSON objects as equivalent:
[code]
[code]

[2019-08-19 17:05] 0xJoeMartin commented on #285
+1
How is this NOT a feature after more than 6 years!!!!!????

[2019-08-19 17:08] shanemgrey commented on #7118
The workaround doesn't work for me.  The  Methods textbox is only in the Interceptor tab.  I'm using the Proxy since I'm not using Chrome.  Putting that list in the interceptor methods textbox seems to have no effect on the proxy log.

[2019-08-19 17:27] mccannt commented on #7118
@shanemgrey What OS and version are you running?
It should be there ...

![image](https://user-images.githubusercontent.com/14275144/63286008-6c05af80-c28d-11e9-9dbf-6ce4f05e235c.png)

[2019-08-19 17:32] shanemgrey commented on #7118
@mccannt You are right.  Since it expands the length of the window upon clicking additional options, I didn't notice the scroll bar.  Adding those methods did work as a workaround.  Thanks for the response!

MacOS (current), Postman v7.5.0

[2019-08-19 18:02] stcalica commented on #7115
@useful-things
Our domains are all dynamic so we don't have IP ranges to give.

[2019-08-19 18:04] reggi commented on #7083
@joaocruz04 Yeah I am going though this right now, and it's a major pain.

I'm not sure the best way for this to be done, perhaps using the new API's section (which should be pulling in the graphql schema's from a the `/graphql` endpoint). I can't even conceive a work-around to help this issue in the meantime. Graphql requests don't support the Postman variable syntax either.

[2019-08-19 19:00] stevenmchoi opened #7141 "Can't Sign Up or Sign In with Google"
**Describe the bug**
500 error when trying to sign up or sign in to Postman

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://identity.getpostman.com/signup' or 'https://identity.getpostman.com/login'
2. Click on 'Sign up with Google'
3. Click through Google Auth flow
4. See "500. That’s an error. There was an error. Please try again later. That’s all we know."

**Expected behav

[2019-08-19 19:17] jeanfrancoislarente commented on #7141
Same issue / version here except Windows.

[2019-08-19 19:18] shamasis commented on #6962
Hmm. I think for your particular solution, there might be something already.

Try

[code]
There are more tricks that you can do from the docs here: https://www.chaijs.com/api/bdd/

[2019-08-19 19:21] mccannt commented on #7141
@stevenmchoi @jeanfrancoislarente
It appears that Google is having some outages right now that are impacting many that rely on their services - https://www.google.com/appsstatus#hl=en&v=status

Hang tight!

[2019-08-19 19:24] jeanfrancoislarente commented on #7141
Awesome thanks for the quick response. Tried logging into GSuite and lo and behold - not working!

[2019-08-19 19:39] JohnArrowwood opened #7142 "Manipulating global environment via sandbox messes up session"
**Describe the bug**
When you manipulate the value of a global variable via `pm.globals.set(...)`, it causes all "current value" to be persisted over the "initial value" - at lease as far as can be seen when looking at the UI.

Since the whole purpose of Sessions and the Initial vs. Current value is to enable you to keep things private and/or unchanging, this is a major violation.

**To Reproduce*

[2019-08-19 20:11] phillijw commented on #6639
For us, it would be nice to hide secrets that end up in newman test logs and are outputted to our CI which people can fairly easily see

[2019-08-19 21:12] AquaHippie808 opened #7143 "Unpublishing Docs as part of the collection deletion"
**Is your feature request related to a problem? Please describe.**

**Summary: Unable to Unpublish docs when removing a user & deleting the collection**

1) Employee leaves the company
2) Admin Removes User
3) Admin Deletes Collection/s from Removed User
4) Published Docs from Collections are still accessible
5) Admin cannot unpublish from Native App or Dashboard

**Describe the solution you'd lik

[2019-08-19 21:32] RomuloVHSYS commented on #2847
Ayn news?

My enterprise is about to release some new products and will only purchase the postman enterprise if the documentation can show the request properties without append then to the url, it's so simple..

Required/Optional it's just a way to do that

[2019-08-19 21:32] RomuloVHSYS commented on #3117
Ayn news?

My enterprise is about to release some new products and will only purchase the postman enterprise if the documentation can show the request properties without append then to the url, it's so simple..

Required/Optional it's just a way to do that

[2019-08-19 21:47] elyobo commented on #7110
I've been through a few uninstall/reinstall cycles now and it doesn't seem to have made any difference - still opens `~/.config/Postman/logs` via `View -> Developer -> View logs in File Manager`.  Removing the `~/.config/Postman` directory and launching the app via `/snap/postman/88/usr/share/Postman/Postman` causes the directory to be recreated and the app to launch without any config (not signed

[2019-08-19 22:20] seantcanavan commented on #6888
**Describe the bug**
Ubuntu software's version of Postman is 6.7.1. This is incompatible with the breaking changes added to syncing in 7.0.0.

Also, the message regarding the breaking change and requiring the user to update to 7.0.0 contains instructions that are impossible as there is no "Update" section in the anywhere in the settings pane in the 6.7.1 version deployed to the Ubuntu Software cen

[2019-08-19 22:43] jeanfrancoislarente commented on #7141
All working again now...

[2019-08-19 22:48] #7141 closed, assigned to nobody

[2019-08-19 23:31] xk0der commented on #7053
Another user has reported a similar issue. The internal ticket has been linked with this GitHub issue.
Logs are available as well.

*This is one of the errors I saw in the logs:*
```[785][1542331716101][main][error]["Main~handleUncaughtError - Uncaught errors",{"name":"Error","message":"Object has been destroyed","stack":"Error: Object has been destroyed\n    at WebContents.send (/Applications/Pos

[2019-08-20 01:26] yanxinyuan commented on #4009
+1

[2019-08-20 06:23] shivam-postman commented on #6456
@abhijitkane When the user leaves the team/is removed, the corresponding monitors are marked as deleted. They are displayed in the usage page but the usage doesn't increase.

[2019-08-20 07:34] sankalp0o commented on #5477
@phramusca are you still seeing this issue?

[2019-08-20 07:42] sgarshol opened #7144 "Feature request: User-defined script libraries"
I have some scripts that I have written myself that perform parsing and assertions on responses and I reuse these in multiple requests.

It would be nice to have the functions declared in a central library so I don’t have to manually update each collection/folder/request where they are declared.

Currently I am copying and pasting each of these scripts into each test.

-S

[2019-08-20 07:44] codenirvana commented on #1228
We've added support for programmatic cookie access in our Canary channel https://www.getpostman.com/canary

Refer https://github.com/postmanlabs/postman-app-support/issues/3312#issuecomment-516965288 for detailed documentation.

Everyone, please try it out and share the feedback.
Will update the thread once we release this on our stable channel.

[2019-08-20 07:55] codenirvana commented on #2044
Closing as we are tracking similar feature request here: #3312

Refer https://github.com/postmanlabs/postman-app-support/issues/3312#issuecomment-516965288 for programmatic cookie access.

[2019-08-20 07:55] #2044 closed, assigned to codenirvana

[2019-08-20 08:01] preethammavin commented on #6820
Closing the issue for now, do feel free to reopen the issue if it persists.

[2019-08-20 08:01] #6820 closed, assigned to nobody

[2019-08-20 08:03] codenirvana commented on #6931
Cookie scope is limited to the hostname and not bound to port or protocol information.
RFC: https://tools.ietf.org/html/rfc6265#section-8.5

Using just `127.0.0.1` will fix your issue.

[2019-08-20 08:03] #6931 closed, assigned to codenirvana

[2019-08-20 08:06] Cazaimi commented on #7143
@asi851 , could you describe what happens when you try to hit the Published doc's url?

Ideally, when anyone tries to hit this user's documentation they will receive a HTTP 404, since you've already mentioned that the Admin has gone ahead and deleted the collection. Once you delete the collection, the public documentation will no longer be accessible.

Please feel free to reply on this thread if t

[2019-08-20 08:07] jounii commented on #7032
The canary version fixed our white screen issue. We have "urn:" prefixed callback urls.

[2019-08-20 08:19] BrambleRamble commented on #6962
`chai-shallow-deep-equal` was one of the options I looked at originally, but I wasn't able to import it to use in Postman. If there's a way to import it then that would be ideal.

[2019-08-20 08:20] TestOpsFeng opened #7145 "I tried to record the interface, but failed"
It's OK before I upgrade it, It's awful!

[2019-08-20 08:21] TestOpsFeng commented on #7145
The version is Version 7.5.0

[2019-08-20 08:21] ravitejapendyala commented on #6980
Hi this issue is very frustrating,  hard to debug the iteration payload as the scroll option is not working. Will this be fixed in the next update?

[2019-08-20 08:29] BrambleRamble commented on #7032
@ankurdengla1996 I'm able to generate tokens successfully using the canary version. I don't get the white screen that I was seeing before.
Edit: I can confirm this for Windows & Mac.

[2019-08-20 08:39] codenirvana commented on #7144
Duplicate of #1180

[2019-08-20 08:39] #7144 closed, assigned to nobody

[2019-08-20 08:47] codenirvana commented on #7142
@JohnArrowwood Can you share a scaled-down collection/screen recording which we can use to reproduce this issue?

Not able to reproduce this issue using the steps you mentioned above.

[2019-08-20 08:56] kkrakovych commented on #4375
FYI - I reproduced the mentioned black screen on macOS 10.14.6 with Postman Version 7.5.0.

Post request received ~70Mb Excel file. First time I was not able to get the file because of limitation: 'Response size too large'. After I selected 'Sent and Download'. Than selecting place and file name, meantime (after about 10-20 seconds) the Postman screen became black.

Please let me know if you need

[2019-08-20 09:17] sankalp0o commented on #5477
Closing this issue in favor of #4862, looks like the same issue of duplicate "My Workspace" created during sign up.

[2019-08-20 09:17] #5477 closed, assigned to nobody

[2019-08-20 09:20] aamir-ahmed opened #7146 "SSO SP-Initiated Login fails because iDP requires SP signing certificate"
**Is your feature request related to a problem? Please describe.**
For SP-Initiated Login, IDP expects AuthN requests to be signed when received via the POST or Redirect binding. We do not currently support this.

This setting is currently optional in the SAML protocol and the signature policy can be disabled at the iDP , although it seems that for some organizations It is a mandatory policy that

[2019-08-20 09:25] sankalp0o commented on #4954
Closing this issue in favor of #4862 , looks like the same issue of duplicate "My Workspace" created during sign up.

[2019-08-20 09:25] #4954 closed, assigned to nobody

[2019-08-20 09:28] sankalp0o commented on #4862
Looks like this issue is also happening because of the extra "My Workspace" created when signing up for the first time because the process is interrupted for some reason. @kamalaknn what's the recommendation in this case?

[2019-08-20 09:43] SherloxFR commented on #2847
So basically I made a script for my company that populates some datas in the Postman collection. I'll try to make it available quickly, as I'm working to release a skeleton project for our API architecture (AWS Lambda + API Gateway + OpenAPI 3.0 + Postman). I'm working on the Docker for local development as it is a priority for now, and I'll be updating you with the skeleton here ASAP.

The only s

[2019-08-20 10:01] d-silva commented on #5034
In my case, 94 Gb wiped out by updating the app :sweat_smile:

[2019-08-20 10:04] DannyDainton commented on #6980
As a workaround, you could use Newman and run the Collection, Environment, any other files through that from the command line.

There are different cli options and reporters available to present the data in any way you would like.

https://github.com/postmanlabs/newman

[2019-08-20 11:13] javiergarval opened #7147 "Pinned tabs"
**Is your feature request related to a problem? Please describe.**
Every time I switch between environments (and every time the auth code expires) I have to switch to my auth tab request and hit send and the same process for logging to my app.

**Describe the solution you'd like**
Pinned tabs would make the GUI look cleaner and I would arrange my tabs properly, giving them the order I want to in o

[2019-08-20 11:33] ArjunSingh-PM opened #7148 "Unable to select a collection from drop down to create a monitor via dashboard"
**Describe the bug**
Unable to select a collection from drop down to create a monitor via dashboard

**To Reproduce**
Steps to reproduce the behavior:
1. Go to your Workspace -> Monitors
2. Click on 'Monitor a collection in this workspace'
3. Click on 'Select a collection to monitor'
4. Error - you will not be able to select a collection from the list

**Expected behavior**
Should be able to selec

[2019-08-20 12:07] SorbAggarwal commented on #4041
I'm not able to capture any request/ response of API in newly update Postman version v7.5.0

[2019-08-20 12:08] SorbAggarwal opened #7149 "I'm not able to capture any request/ response of API in newly update Postman version v7.5.0"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem. Please make sure the screenshot does no

[2019-08-20 12:18] roidudev commented on #7148
same problem here

[2019-08-20 12:20] JohnArrowwood commented on #7142
Discovered that the "Automatically persist variable values" setting was turned on.  Therefore, this is as-designed.

[2019-08-20 12:20] #7142 closed, assigned to nobody

[2019-08-20 12:20] jukkariik commented on #7148
also same issue found.

[2019-08-20 13:22] useful-things commented on #7115
Would it be possible to check with your network team for IP ranges?

In this case i'm interested in the hosted gitlab integration, which for most companies will be behind a firewall. Utilising ranges is standard practise when white-listing services.

Many thanks!

[2019-08-20 13:50] codenirvana commented on #7005
@stcalica Not able to reproduce this issue.
The screenshot doesn't help either, the assertion message can be different than actually `.to.be.below(3000)`.

Note: `pm.response.responseTime` is just the request-response time (not influenced by script execution time).

Also, by "monitor dashboard" do you/user means collection runner?

[2019-08-20 14:19] mpetito opened #7150 "Support membership to multiple teams"
**Is your feature request related to a problem? Please describe.**

I work on multiple projects for various clients who each want to have ownership over their own “team” and collections.  These clients will also have team members and so naturally they'd like to sign up for their own team subscription and invite me to join their team.

Unfortunately, Postman accounts are limited to single team memb

[2019-08-20 14:29] 21anujashah commented on #2851
+1

[2019-08-20 14:41] 21anujashah opened #7151 "postman.setNextRequest('Request Name') does not execute in another folder under the same collection?"
I have one collection of 400 APIs.
1. This collection has around 10 folders.
2. Each folder has also subfolders.
3. I have one scenario that "Check events on the page. If the page has any event then execute the next request under the same folder else execute the next request from another folder".
4. I write below code in my tests script. It does not execute the next request. My collection executes

[2019-08-20 14:48] dmincf commented on #1825
I've managed to create a script that replaces all the variable placeholders from body in the pre-request script:
[code]

[2019-08-20 15:21] eabovsky commented on #4009
+1

[2019-08-20 15:24] chrisdeso opened #7152 "Native App Update throws 403 & Routes to Payment Page"
**Describe the bug**
When updating the native application, a `403 EACCESS` error is being thrown and users are reportedly routed to the payment page.

**To Reproduce**
Steps to reproduce the behavior:
1. Open app
2. Click on `update` prompt
3. See update failure
4. Retry Update
5. See payment/upgrade page

**Expected behavior**
The app should update without routing to the payment page

**Screensho

[2019-08-20 15:38] InnaXITE opened #7153 "Collaborator can remove collection from Workspace"
**Describe the bug**
Collaborator can remove collection from Workspace

**To Reproduce**
Steps to reproduce the behavior:
1. Create a workspace with collaborators with Postman Pro
2. Create a collection with 1 API call and share it with your team
3. Somebody from team with Collaborator and Viewer permissions gets shared collections and then removes that collection from workspace (Delete function i

[2019-08-20 15:51] daniel-dia commented on #6969
Still happens on 7.5.0

[2019-08-20 16:59] ryparker commented on #4361
I have over 8 workspaces containing around 25 collections adding up to over 5000 requests and 3000 prescripts. I was experiencing a 500% CPU usage. However @angrimer 's fix worked and I'm now experiencing little to no interruption.

On mac the folder to delete is located in `~/Library/Application Support/Postman`

Thanks!

[2019-08-20 18:06] stcalica commented on #7005
@codenirvana User expressed this only happened in Monitor runs, not when running from app manually.

[2019-08-20 19:16] chrisdeso commented on #7077
Checking on this @elssar

[2019-08-20 20:14] JP-from-Postman commented on #6853
@Ghusar reached out to user to confirm. Will update with response.

[2019-08-20 20:16] JP-from-Postman commented on #6166
@sujayvenaik checking with user who reported this....will follow-up with any response.

[2019-08-20 21:02] stcalica opened #7154 "Test script shows error when there are no test scripts"
**Describe the bug**
User will run a request with no test scripts but will get this error in the Test section of response:
`script: Error: sandbox: execution interrupted, bridge disconnecting.`

**To Reproduce**
Steps to reproduce the behavior:
User is trying to call an endpoint that returns a ~25MB JSON file with nested objects.
Formatter may be trying to format the large response and failing on

[2019-08-20 21:03] Dangerunicorn commented on #6980
I am also running into this issue and it's making it difficult for me to troubleshoot the failed tests in iterations 3+. Windows 10. Postman v7.5.0

[2019-08-20 22:12] arielbeje opened #7155 "Inputting Hebrew characters in the "value" field of params gives errors connecting"
**Describe the bug**
When Hebrew characters are entered as a value for a path variable, Postman claims `There was an error connecting`

**To Reproduce**
Steps to reproduce the behavior:
1. Make a new GET request
2. Make a path variable in the URL
3. Put Hebrew characters in its value (say אבג)
4. Run request
5. See error

**Expected behavior**
The request will work like any other, but with Hebrew

[2019-08-21 00:04] JP-from-Postman opened #7156 "Version Control: allow changes to be ignored when merging"
**Is your feature request related to a problem? Please describe.**
User request:

_I want my forked to collection to be named something other than the main collection, however it wants me to merge the name when I go to merge back into the parent._

_In other words, I have a Monitor that uses a **Production Monitor** collection with a **Production** environment -- this is my known-good monitor_

_I

[2019-08-21 00:29] JP-from-Postman opened #7157 "An error occurred while deleting the integration. Try again after some time."
**Describe the bug**
When trying to delete the APIMatic integration from a workspace, user is receiving following error message:

`An error occurred while deleting the integration. Try again after some time.`

User has tried:
- Hard-refreshing browser page (Chrome)
- Attempting to remove integration using a different browser (Safari)
- Waiting 2 hours, and attempting to remove the integration agai

[2019-08-21 02:07] LarrysGIT commented on #4559
When the issue happening, Git has a similar issue as well. The desktop is using Citrix and roaming profile,  `AppData` is pointing at a UNC path.
Git: `fatal: fsync error on 'sha1 file': Bad file descriptor`
Postman: `fsync known error`
Insomnia: `Failed to flush storage`
All pointing to "fsync", the only way I know for now is to reboot the server, looks like some underlying file system API doesn'

[2019-08-21 04:52] kamalaknn commented on #4862
@sankalp0o The quickest way to unblock affected users is to sign out and sign in again.

We did push a few improvements to the sign-in flows that communicate to the user that some action is being run in the background to prevent user interruptions.

External unexpected interruptions are the ones that can lead to these issues now.

[2019-08-21 05:54] JockDaRock opened #7158 "Postman App as a Server - Coder.com does with VSCode"
**Is your feature request related to a problem? Please describe.**
Postman is accessible on the desktop but not accessible remotely from multiple places and not accessible served as a web application. This is more of an issue of portability and scaling of Postman.

**Describe the solution you'd like**
I would like to access Postman from a browser window/tab with access to remote environments that

[2019-08-21 06:03] sankalp0o commented on #7153
@InnaXITE This is the intended behaviour, as you can also see on [our docs](https://learning.getpostman.com/docs/postman_pro/managing_postman_pro/roles_and_permissions/#workspace-roles). Collections that are removed form a workspace can be added back, hence we allow this action to Collaborators.

That being said, I'd love to hear your use case and the problem you face because of this. We're lookin

[2019-08-21 06:10] codenirvana commented on #4485
Duplicate of #3835

[2019-08-21 06:12] ArjunSingh-PM commented on #7148
I am able to create a monitor on any collections from the Postman app as a workaround.

[2019-08-21 06:22] codenirvana commented on #3703
@martin5211 we are currently adding support for request configurations which will allow you to configure request sending flows like this (retain `authorization` header when a redirect happens to a different hostname.).

Will post about its availability in our canary and stable channel soon!

[2019-08-21 06:26] jukkariik commented on #7148
Worked also here when using postman app as a workaround.

[2019-08-21 06:39] codenirvana commented on #6293
@ernst-at-tv2 that's very unlikely as `host` header are always overwritten when a redirect happens.

[2019-08-21 06:46] codenirvana commented on #7151
`postman.setNextRequest` works irrespective of the executing request's folder or location provided the entire collection is getting executed.

But, it won't work if only a specific folder (say A) is executing which `setNextRequest` to a request in a different folder (say B).

Closing as duplicate of #2819

[2019-08-21 06:46] #7151 closed, assigned to nobody

[2019-08-21 06:53] codenirvana commented on #7154
@stcalica Possibly the folder or collection-level scripts are getting executed.

Also, this particular error message means either:
1. A synchronous script executing for more than 30 sec. (say infinite `for` loop)
2. Using test script with large response payload (possibly in this case).

[2019-08-21 07:58] abhijitkane commented on #5182
@vdespa This request seems to send the body to the server as-is (which is different from the server response w/o the carets:

[code]
vs
[code]

What is the intended raw HTTP request from the first snippet?

[2019-08-21 08:31] DvikramS opened #7159 "Response is missing in exported history collection"
**Describe the bug**
Response is missing for exported history requests.

**To Reproduce**
Steps to reproduce the behavior:
1. Open History tab and enable save responses toggle
2. Hit a request
3. Save request and add in a collection
4. Export collection and observe response tag

**Expected behavior**
Saved responses should also be exported in history collection

**App information (please complete

[2019-08-21 08:38] ArjunSingh-PM opened #7160 "The schedule for a monitor does not reflect correctly on the monitor-detail dashboard"
**Describe the bug**
The schedule for a monitor does not reflect correctly on the monitor-detail dashboard

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the monitor-detail page
2. Click on [...] button on the right-top corner
3. Click on Edit to set the schedule to 'Weekly Timer', 'Every Tuesday', '12 AM'
4. Click 'Save Changes'
5. ISSUE: The display on the left-top corner reads - "R

[2019-08-21 08:39] BeingSujeetK commented on #7032
Hi @ankurdengla1996 , I'm able to generate the token using auth code grant successfully on below setup.
Version 7.6.0-canary03
win32 10.0.17763 / x64

Thanks for the prompt resolution!

[2019-08-21 09:23] vdespa commented on #5182
@abhijitkane I have only the respective curl with carets. I would expect the body not to contain any carets. Does that help?

[2019-08-21 09:46] ArjunSingh-PM opened #7161 "Unable to select individual requests from the Requests Selector on the Monitor-detail dashboard"
**Describe the bug**
Unable to select individual requests from the Requests Selector on the Monitor-detail dashboard

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the monitor-detail dashboard page for a monitor
2. Click on the request selector drop down "All Requests"
3. Select a request from the drop down
4. ISSUE: Unable to select an individual request from the drop down

**Expecte

[2019-08-21 09:57] anudeepmedicharla commented on #6551
@prashantagarwal Did we fix this issue?

[2019-08-21 10:12] elicoten opened #7162 "Disallow trailing newlines in environment variable names"
Postman could display a warning if there are trailing newlines in an environment variable name.

**Is your feature request related to a problem? Please describe.**
I copied and pasted a few environment variables from outside postman and I pasted them into the "name" box in the Environment variables dialog, and then highlighted each name and value within that cell separately and cut/pasted it into

[2019-08-21 10:18] thousmile opened #7163 "Theme font cannot be set, only Body font can be set"
The fonts in the red frame are too small to look at the eyes. I hope the next version can set these fonts.

![20190821181724](https://user-images.githubusercontent.com/28520524/63424017-1b828380-c440-11e9-8c19-3b6db4a2a4e6.png)

[2019-08-21 11:41] sup-engineer commented on #4320
does this fix resolve  [#4287](https://github.com/postmanlabs/postman-app-support/issues/4287) ? I dont see this referenced.

I am currently using the postman app Version 7.5.0 .

The data variables (from the data file) seem to work only on first run of the collection (in the collection runner). Subsequent runs using the retry button do not seem to be able to access the data variables from the dat

[2019-08-21 12:02] radusw commented on #4818
My company needs this as well

[2019-08-21 12:21] arnitkun commented on #6962
Hi!

<img width="725" alt="Screenshot 2019-08-21 at 5 44 05 PM" src="https://user-images.githubusercontent.com/15148735/63431128-d0667180-c43b-11e9-9f35-a5025be956c5.png">

The test passes.

You can use chai's deep equal as is in the scripts. You do not need to import it for this.

[2019-08-21 13:20] prasanna08cs opened #7164 "Unable to download node js code from generate code snippet section"
**Describe the bug**
Unable to download node js code from **generate code snippet section**

**To Reproduce**
Steps to reproduce the behavior:
1. Go to  **CODE**
2. Click on **'select nodejs from dropdown'**
3.  after selecting the **node js nothing is happening**

4. See error

**Expected behavior**
When i click on nodejs section i should be able to copy the code from  **generate code snippet sec

[2019-08-21 13:25] ArjunSingh-PM commented on #7148
This issue is fixed now.

[2019-08-21 13:25] #7148 closed, assigned to godfrzero, ArjunSingh-PM

[2019-08-21 16:58] chrisdeso opened #7165 ""Something Went Wrong" on user removal"
**Describe the bug**
When removing a user from a team, an error is thrown stating that `Something went wrong`.

**To Reproduce**
Steps to reproduce the behavior:
1. Navigate to team management page
2. Click on the removal icon next to a user's info
3. Confirm removal on next page
4. See error

**Expected behavior**
Users are expected to be removed, or more informational messaging should be surface

[2019-08-21 17:14] ghost opened #7166 "Jump to next request if pre-prequest script fails"
Steps to reproduce:
Pre-request script fails
Expected result:
1. If there no "jump over on error" flag set in pre-request script then execute request.
2. If there is "jump over on error" flag set in pre-request script then jump over request and don't execute it.

Example:
There is a request that change environment state of destination system. There is also a pre-request script that checks if condi

[2019-08-21 17:28] stcalica commented on #7154
@codenirvana  Have checked with user and they have no test scripts in Collections or Folder or Request.

They have run Newman on the collection and received a JS Heap memory issue. Working on getting a log from them right now.

[2019-08-21 17:37] abezhinaru commented on #4891
+1

[2019-08-21 19:36] rayrad commented on #7075
If it helps, I second this. We work with a bunch of APIs. Each endpoint requires various values specific to one of our clients. So we have to duplicate all of the client info across multiple environments so that we can test against localhost, staging, or production. You or someone else working on Postman has probably put a lot of thought into this already, but it seems to me this would require som

[2019-08-21 20:01] JP-from-Postman opened #7167 "Collection disappeared, nothing in workspace history"
**Describe the bug**
[Urgent]
Collection published to custom domain has disappeared from team, in both web dashboard and app. User suspects it was deleted.

User reports that workspace activity feed shows nothing about Collection being deleted.

**To Reproduce**
Steps to reproduce the behavior:
Unknown

**App information (please complete the following information):**
 - App Type: Native app, Dashb

[2019-08-21 21:07] robinbastien opened #7168 "Invoice Emails being sent to incorrect users"
**Describe the bug**
I am receiving Postman Pro invoices for the company I work for, when I shouldn't be.

**To Reproduce**
1. Create a postman account
2. Sign up to Pro
3. Add a new user, set them as admin
4. Have your initial user's role changed from owner/admin down to viewer
5. Turn off billing emails on your initial user account

**Expected behavior**
Invoices are dispatched to the new accoun

[2019-08-21 21:51] shamasis commented on #6962
@BrambleRamble ... let me know if your use case is met and then will close the issue. Meanwhile, I have conveyed to test of our team to add more documentation around Postman test assertions.

[2019-08-21 21:53] shamasis commented on #6293
@codenirvana @ernst-at-tv2 were we able to reproduce this issue using public endpoints (or local server code) that can be shared?

[2019-08-21 21:56] shamasis commented on #1228
@brettsamann @KrilMun @regisbsb - would greatly appreciate any feedback around the programmatic access before we roll it out to production in weeks.

[2019-08-21 22:07] sidiinia commented on #475
Hey, I am on postman version 7.5.0, but it seems I am still having this issue, is there any setting that I missed? Thanks!

[2019-08-21 22:34] chrisdeso commented on #7168
@robinbastien It looks like you're listed as the `Billing Contact` for the team – would you be able to open a ticket via our support center so that we can confirm the email address(es) / team in question?

- Support page – https://www.getpostman.com/support

A billing admin should be able to update the billing contact (email address) via the billing details page.

- https://go.postman.co/settings/

[2019-08-21 22:52] xk0der opened #7169 "Runner screen goes blank - Postman 7.5.0 on Windows 10"
**Describe the bug**
When running a particular collection with around 19 requests and test-data file with around 500-1000 items, the iterations display goes blank or only a first couple of iterations are visible.

For the user, this occurs pretty much every time for one particular collection. Other collections with fewer requests work fine.

**To Reproduce**
Steps to reproduce the behaviour:
1. In

[2019-08-21 23:06] tony-tao-accolade commented on #3117
Would like this feature as well.

[2019-08-21 23:21] trevor-black commented on #6631
Only that one person is the owner of a collection. On another machine that
collection has the wrong sorted order. This is stil happening even after a
sync:

[image: image.png]

Left: Team member's machine using Postman 7.5.0
Right: Soure member's machine using Postman 7.5.0

If the owner goes in and changes the sort the new order of the items in the
collection will be picked up.

Thanks,

Trevor

[2019-08-21 23:29] xk0der opened #7170 "Ability to fetch a particular version of collection with newman and postman API"
**Is your feature request related to a problem? Please describe.**
Have the ability to specify version tags when running collections using `newman` and Postman API

Currently, we can only do something similar to the following:
`newman run https://api.getpostman.com/collections/{{collection_uid}}?apikey={{postman-api-key-here}}`
Which runs the latest version.

This helps a team test a particular ve

[2019-08-22 05:35] numaanashraf commented on #6161
With only the information that is currently in the issue, we don't have enough information to reproduce and take action on this issue. We are going to close this but don't hesitate to reach out if you are still facing this issue on our latest versions, we'll be happy to reopen the issue..

[2019-08-22 05:35] #6161 closed, assigned to nobody

[2019-08-22 06:37] cec commented on #6023
Hi, are there any updates on this? I have # in JSON strings that I'm sending as query params and this bug is preventing me from using Postman collections for this

[2019-08-22 06:49] ash007-postman commented on #7009
@kartikjain26 Another user facing a similar issue, I have linked the ticket.

[2019-08-22 06:59] kartikjain26 commented on #7009
@ash007-postman  Have identified the issue. Will post updates development.

[2019-08-22 07:34] fullm3tal opened #7171 "Postman's not working"
**Describe the bug**
Unable to get any response whenever I make any request from Postman:
Error Message:

Could not get any response
There was an error connecting to .
Why this might have happened:
The server couldn't send a response:
Ensure that the backend is working properly
Self-signed SSL certificates are being blocked:
Fix this by turning off 'SSL certificate verification' in Settings > Gene

[2019-08-22 09:01] BrambleRamble commented on #6962
Ah! Yes, this is exactly the kind of comparison I was looking for. How frustrating that I couldn't get it working before, I was so close! Thank you for the working example.

In case anyone else is looking to compare data across requests, here's how I've got it working.
In test script for the request that POSTs the data:
[code]
In test script for the request that GETs the data back:
[code]

Adding

[2019-08-22 09:42] useful-things commented on #7115
If my last request is problematic for a public forum would it be possible for me to put one of our team in touch with one of yours?

[2019-08-22 09:48] ashwini0529 opened #7172 "Unable to login even after resetting the password."

[2019-08-22 10:01] numaanashraf commented on #7145
@TestOpsFeng Could you give us more information on the issue you are facing? Do follow the guidelines and issue templates while reporting issues.

**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of

[2019-08-22 10:12] numaanashraf commented on #7139
@lucas937 Thanks for reporting this. We are tracking this at a related issue - #4230.

[2019-08-22 10:12] numaanashraf commented on #7139
Duplicate of #4230

[2019-08-22 10:12] #7139 closed, assigned to nobody

[2019-08-22 10:13] numaanashraf commented on #7132
Duplicate of #5681

[2019-08-22 10:13] #7132 closed, assigned to nobody

[2019-08-22 10:41] ArjunSingh-PM opened #7173 "Can not select regions at the monitor-detail dashboard even when requests fired from multiple regions exist"
**Describe the bug**
Can not select regions at the monitor-detail dashboard even when requests fired from multiple regions exist

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the monitor-detail dashboard
2. Click on [...] at the top-right corner and select 'edit'
3. Enable multiple regions by selecting 2 or more regions and click 'Save Changes'
4. Run the monitor by clicking the 'Run