[2018-04-20 10:17] tg4774 commented on #1809
I'm on version v6.0.10 and just encountered the same issue.
Re-ordering within the collection didn't change anything. What worked however was to move the wrong placed call out of the collection and then back in.

[2018-04-20 11:41] ryanhoward1988 commented on #4092
Is there any progress on this yet? We are experiencing the same issue and are really keen to find a resolution to this.
If we can do anything to help this investigation then please let me know

[2018-04-20 11:45] sheerlox commented on #285
Sorry @connorsadlervelo but isn't it a little too much when they just have to add an alert() into their code ?

[2018-04-20 11:46] javarr commented on #903
+1

[2018-04-20 12:26] MarcMacia commented on #1228
+1

[2018-04-20 13:59] connorsadlervelo commented on #285
@SherlockStd If you can do it with alert then yes it's not needed. Can you post an example of how to do it with alert please?

[2018-04-20 14:06] sheerlox commented on #285
I didn't said "I" but "they" and "their".
If the project was Open Source I could help on that easily, but unfortunately it is not.

All I'm saying is I would like them to implement a solution for it, it would probably take less than a 1/2 day for one developer there and it would be 100% native in there code.

[2018-04-20 14:19] connorsadlervelo commented on #285
@SherlockStd If I understand you correctly you're suggesting putting interactive prompts into real backend API code called by Postman?

[2018-04-20 14:27] nsin08 commented on #2801
+1

[2018-04-20 14:47] stoft opened #4478 "User feedback: make it more clear when it's a timeout, change default timeout to s, not ms"
After losing some time and banging my head in the wall, trying to reinstall etc. to solve what I thought was a bug, possibly corrupted collection issue, network issue etc. I have the following usability feedback:

When Postman times out due to hitting the timeout limit it would be nice if it could be more explicit that it timed out. Admittedly I could be better at reading the fine print under "Why

[2018-04-20 15:03] sheerlox commented on #285
It's pretty obvious tho I want *them* (Postman) to implement this feature directly into *their software*.

[2018-04-20 15:21] Burbaka commented on #2050
In my company, we decided to use [Paw](https://paw.cloud) as they have this out of the box.

[2018-04-20 16:25] connorsadlervelo commented on #285
Oh I see, I misunderstood who "they" were!
You can probably tell from previous replies from the Postman devs that it's not half a days work for them. I'm sure they'd have done it already had that been the case!

[2018-04-20 18:30] marcgug commented on #4342
I'm seeing this error right now in my postman logs :( Are there server issues again?

<img width="780" alt="cloudapp annotation 2018-04-20 at 2 30 14 pm png" src="https://user-images.githubusercontent.com/8808/39067632-5e7f1b2c-44a7-11e8-8b9c-ecab2d9854eb.png">

[2018-04-20 19:01] whiteatom commented on #2762
sooooooo you're just going to close the issue? Does this mean that it's not going to be addressed?

[2018-04-20 19:02] nlwillia commented on #4327
I was just poking around in the native app to see if it made any difference for #1228.  I was pleased to see that there's now an option to manage cookies, but surprised that there doesn't seem to be any way to manipulate them in the snippet API.  For cases where cookies are unwanted, being able to add something to the pre-request script would be perfect.

[2018-04-20 19:40] Fh-abeyer commented on #3511
I have the same issue, I have noticed it only happens to me when I return a json response 204. Every other response works fine but using a bearer token and 204 response it gives me a parse error. Seems like maybe on that response its expecting an associative array and doesnt have one so its erroring out?

[2018-04-21 14:14] DipendraPoudel commented on #3503
I had the same issue. The error was I set the the request timeout to some other values and later i brought it to 0  it worked for me.Thanks

[2018-04-21 15:17] daraul opened #4479 "OpenAPI examples not showing up in application"
## App Details:

[code]

## Issue Report:
When importing a swagger file into Postman, my response examples aren't displayed in the application.
 1. Did you encounter this recently, or has this bug always been there: encountered today, not sure if it's always been here
 2. Expected behaviour: response examples should show up as examples for the collection item
 3. Console logs (http://blog.getpostm

[2018-04-21 21:36] kristianthim commented on #1475
+1

[2018-04-22 06:14] mobiustech commented on #1669
TIL, postman doesn't support GraphQL. This issue was raised more than 2 years ago...

[2018-04-22 19:13] sixeyes commented on #1429
+1
Disappointed this is taking sooo long.

[2018-04-22 22:25] stoan commented on #1104
It would be great if Postman can support this.

Advanced Rest Client supports this

advancedrestclient.com

![image](https://user-images.githubusercontent.com/2737659/39100622-a2efe304-468c-11e8-998c-a961f5ba5bed.png)

[2018-04-23 02:47] lishu opened #4480 "Setup for Windows Only Install to system partition"
## App Details:
[code]

## Issue Report:
 1. The Setup does not have the installation folder option, I do not want the tool software to use my system partition

[2018-04-23 03:34] IrynaRus commented on #4360
Hi guys!
Can you please update what's the status of this problem? My tests haven't been synced since 4th of April  and I see that pop-up with conflicts every 5 minutes or so. It's all just waiting for any trouble or crash to lost all my work. I'm exporting my data every day, but I don't think that this is a good solution.
Waiting for good news.
![image](https://user-images.githubusercontent.com/37

[2018-04-23 05:05] fschai89 commented on #4321
@madebysid yes still happen, everytime I sync, the order of the requests inside collection get mess up. I need to reorder them manual, but no use, everytime sync between 2 pc get mess up anyway. Is there a function that sort requests?

[2018-04-23 06:06] ghost commented on #4467
@harryi3t My platform is window10, My postman version is v6.0.10

[2018-04-23 06:16] VinayJeurkar opened #4481 "# Symbol cannot be entered in Key-Value Edit and Bulk Edit Method."
## App Details:

[code]

## Current Behavior:

![image](https://user-images.githubusercontent.com/37448118/39109520-eb089524-46ea-11e8-8377-935702ca7ec9.png)

## Expected behavior:

"#2" value for the parameter "product_name_query" should appear in Key-Value Edit box.

### Steps to reproduce the problem
1. Create Post request and add any parameter.
2.  Try to type in the value "#2" for any paramet

[2018-04-23 06:17] rishabhmalhotra commented on #3959
I am on version 6.0.10 on macOS and the issue has re-appeared.

[2018-04-23 06:59] sivcan commented on #4480
Duplicate of https://github.com/postmanlabs/postman-app-support/issues/3897
Kindly follow the original thread for further updates.

[2018-04-23 06:59] #4480 closed, assigned to nobody

[2018-04-23 09:22] preethammavin commented on #4441
Hi @autumndev
You can open two windows, with the one tab and one environment set in each. This will let you compare results side by side.

[2018-04-23 09:22] #4441 closed, assigned to nobody

[2018-04-23 09:26] pcostarg commented on #3566
This is a must have for testing purposes on many corporate proxies.

[2018-04-23 09:44] mariogalic commented on #3110
I have lost bodies for all POST requests after syncing with Postman 6.0.10. I did not perform an export prior to the sync. Any chance this can be recovered?

[2018-04-23 10:07] kamalaknn commented on #4478
Hi @stoft

Thanks for your feedback. I have a couple of points to mention here.

1. Denoting timeouts in ms is an industry-wide adopted practice. In most of the cases, the latency of APIs is less than a second. That forces users to enter timeouts in decimal notation for most of the time.
2. The error states now are generic to any errors in sending a request. We can look into how we can create spec

[2018-04-23 10:10] mgntrn commented on #1678
+1!

[2018-04-23 10:16] preethammavin commented on #4432
@yali2015 can you check if it's still happening, if yes do write to us at help@getpostman.com to sort this out.

[2018-04-23 10:31] alexgmin opened #4482 "Test negation leaks between tests in the same request"
## App Details:
[code]

## Issue Report:
![image](https://user-images.githubusercontent.com/8340441/39121535-39f3c80a-46f2-11e8-81ba-5f662537479d.png)

![image](https://user-images.githubusercontent.com/8340441/39121414-da708530-46f1-11e8-9e80-02517722dd28.png)

**Expected behavior:**
Test 1 and 3 pass. Test 2 fails.

**Actual behavior:**
Test 1 passes. Test 2 and 3 fail.

## Steps to reproduce th

[2018-04-23 11:31] psolom commented on #2819
+1

[2018-04-23 11:33] kamalaknn commented on #4476
Hi @iscarmario

Can you open your devtools(View -> Developer -> Sow DevTools (Current View)) and check if there are any errors?

Could you share more information on your exact steps that led to this? Also, when you say `blocked` could you explain what you mean by it?

[2018-04-23 11:34] p3l commented on #3039
@kamalaknn tagged this issue with "needs-investigation".
Is there anything we could do to help with that?

[2018-04-23 11:49] iscarmario commented on #4476
Hell @kamalaknn

What I mean by blocked is "not responding", for which I had to end the task from the Windows Task Manager
Regarding the steps followed, it's not easy not reproduce exactly as it was: I was jumping between several windows, including postman. After having perform one request in postman just few seconds before, I came back to postman and it was not responding. I finished the task and

[2018-04-23 12:36] debjeetsarkar commented on #4482
Hey @Alexgmin, thanks for pointing this out. This is a known bug and we are working towards resolving it.

[2018-04-23 12:58] maximalexeev opened #4483 "How I can use variable from JSON array?"
I have JSON responce, looks as:
{
    "resourceType": "Parameters",
    "parameter": [
        {
            "name": "Order",
            "resource": {
                "resourceType": "Order",
                "id": "a0777178-7177-4b6e-8f45-2e3601080901",
                "meta": {
                    "versionId": "vc7d07f0-d679-4c65-aa62-14e9093f383b",
                    "lastUpdated": "2018-04-23

[2018-04-23 13:29] sainathsr commented on #1060
Thanks , this really saved a lot of frustration when dealing with repeated requests

[2018-04-23 13:52] stoft commented on #4478
@kamalaknn thank you!

"Denoting timeouts in ms is an industry-wide adopted practice. In most of the cases, the latency of APIs is less than a second. That forces users to enter timeouts in decimal notation for most of the time."

This is under general settings. Do developers really set it to below 1s since it will affect all of their requests? :) Also ref. this article where it's explicitly menti

[2018-04-23 14:01] EvilVir commented on #1947
+1 Or at least please add "Custom" authorization setting so we can set custom value for that header.

[2018-04-23 14:03] elacasse commented on #2369
I have the same issue with Postman for Windows Version 6.0.10 (win32 6.1.7601 / x64)

My development process requires the use of local domains that are defined in the "/etc/hosts" file. I've used the Chrome app for the longest time, but with that issue, the native apps are useless to me. I'll keep using the Chrome app until a fix or workaround for this bug is found.

Is there any kind of workaroun

[2018-04-23 14:09] kamalaknn commented on #4476
Hey @iscarmario

The logs look fine. I'm having trouble identifying the root cause here. Can you check if the data is still intact in the local database?

1. Open `Application` tab in `DevTools`
2. Select `postman-app` in `indexedDB`
3. Look for `collections`, `folders` and `requests` tables

[2018-04-23 14:16] preethammavin commented on #4380
@Jasonseah can you update to the latest version of Postman app and check if it still persists.

[2018-04-23 15:02] okonomiyaki3000 commented on #2369
@elacasse Here's the workaround: https://insomnia.rest/

[2018-04-23 15:05] pdeveltere commented on #6682
+1

[2018-04-23 15:43] sanderhouttekier commented on #3976
I see even more use for the prompt not only as a 'ok' 'cancel' situation but also a prompt for a specific 'value'.

use-case: in a REST api you usually work with an entity more than 1 call at a time. We often create an entity (f.e. User). while running it's tests, we 'set' it's ID in an environment variable.
when you later request a single user you can request it by it's created ID.
However if you

[2018-04-23 16:16] josesa commented on #4306
Collection variables seem to be the poor cousin in variable handling in Postman.
I would also suggest to enable the option to change its value through the code.

[2018-04-23 18:00] menpablo commented on #3999
Same Issue here.

[2018-04-23 18:46] jfren484 opened #4484 "Clicking search icon should put focus in search box"
## App Details:

[code]

**Expected Behavior:**
When I click the Search Icon, the search box should appear and **focus should be given to the text box** so that I can immediately start typing what I'm searching for.

**Actual Behavior:**
When I click the Search Icon, the search box appears, but to enter anything into it, I have to click the text box before I start typing. You don't know how many t

[2018-04-23 21:08] logiclabs commented on #3418
I think nearly everyone who discovers variables would probably appreciate not having to add {{url}} for every operation.

Couldn't this work like most language/framework Uri processing code works, using absolute and relative urls?

* if you specify an absolute url i.e. `http://myhost:1234/customers/:id`, it works as now.
* If you specify a relative url i.e. `/customers/:id` , it uses a base url (d

[2018-04-23 21:38] tz opened #4485 "Postman does not handle newlines in headers well"
**When a newline is included at the end of a header value, this automatically causes the request to fail with the unhelpful message "Could not get any response"**

## App Details:

[code]

## Issue Report:
 1. Did you encounter this recently, or has this bug always been there: Noticed it recently
 2. Expected behaviour:
a) Postman should throw an error when a trailing newline has been included in

[2018-04-24 00:33] Parth commented on #3518
Still exists in Windows 6.0.10

[2018-04-24 02:11] scplay commented on #3734
same issue here, when chinese parameters in GET, the uri encode does not work corretly. My service return 400 bad request

[2018-04-24 02:36] Jasonseah commented on #4380
Using Version 6.0.10 (6.0.10) still facing the same issue.

But I guess it should be fine, cause I can solve it by open another new tab with the same input and url.

[2018-04-24 06:22] water4168 opened #4486 "the bug of "add receive email of monitor ""
## App Details:

[code]
## Issue Report:
1.sep up a monitor, select the "Receive email notifications for run failures and errors" and cancel and select again! you can see it auto creasing the nums of emailaddress
2.Screenshots (if applicable)
![image](https://user-images.githubusercontent.com/26303684/39169314-f4a8a774-47c9-11e8-889e-6ddd99acd039.png)

[2018-04-24 06:40] lucvandewall commented on #6682
+1

[2018-04-24 08:16] ChadRoberts21 commented on #1552
+1

[2018-04-24 12:05] mccannt commented on #4254
@prashantagarwal
I am going to throw my hat into the ring here as well.
We are seeing similar issues with Socket Hang Up's randomly in different collections on different machines, both in the latest Postman App (6.0.10) and Newman.

We are not having much luck tracking down the cause of these as they are so random.

Any suggestions or logging we can look into to help with this?

[2018-04-24 12:11] mccannt commented on #4058
+1 For better support for Code Reuse.
This is currently a sticking point for many of our QE's at my company. A better approach here would definitely help adoption for developers and SDET's

[2018-04-24 12:15] mccannt commented on #4019
@sivcan I have been using the latest version of Postman (6.0.10) for a few weeks now and I am still seeing this happen often.

Let me know if there is something I can gather to help with this.

[2018-04-24 12:27] mccannt commented on #3712
+1

[2018-04-24 12:38] mccannt commented on #4483
@MaximA10rus
So for example if this was your call ...
`curl -X POST \
  http://postman-echo.com/post \
  -H 'Cache-Control: no-cache' \
  -H 'Content-Type: application/json' \
  -H 'Postman-Token: b6012e04-f517-4c88-83b3-518ee597bfef' \
  -d '{
	"resourceType": "Parameters",
	"parameter": [{
		"name": "Order",
		"resource": {
			"resourceType": "Order",
			"id": "a0777178-7177-4b6e-8f45-2e36010809

[2018-04-24 12:50] mccannt commented on #1180
+1

[2018-04-24 12:53] mccannt commented on #3563
+1
This would be huge for my company as well. Currently we have the import/export from our internal CVS each time we make changes.

[2018-04-24 13:26] Aypz commented on #4424
I'm having the same issue, would be keen to hear if anyone has a workaround, or if an official fix is in the pipeline.

[2018-04-24 13:55] rogerprz commented on #2545
unable to use the text portion. need to paste raw :(

[2018-04-24 13:59] pschumacher commented on #3740
+1

[2018-04-24 14:14] NavidEsfahani commented on #4424
This is my solution:

<ipAddressOfdomain.net>   1234.domainABC.net 5678.domainABC.net

   1- Host: 1234.domainABC:1234
   2- Host: 5678.domainABC:5678

   - 1234.domainABC:1234/api/getProduct
   - 5678.domainABC:5678/api/getCustomer

Hope this help you guys.
But we need to get this issue fixed by postman to include port number in certificates.

Navid

[2018-04-24 15:03] PathToLife commented on #1669
Quote from: https://stackoverflow.com/questions/42520663/how-to-send-graphql-query-by-postman
"I think POSTMAN is not made for work naturally with graphql"

Just use: https://insomnia.rest/

POSTMAN is still great though, it's just new protocols and technologies will always happen.
Is the extra development time and increased complexity worth it? ~~~

The UI is pretty complex already imo, learning

[2018-04-24 16:32] dolmen commented on #1947
@ADTC There is a ["subscribe" button](https://help.github.com/articles/subscribing-to-and-unsubscribing-from-notifications/) on the right side that does what you need without spamming everyone who is already subscribed.

So, please:
- use [GitHub reactions](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/)
- use the [Subscribe button](https://help.github.com/a

[2018-04-24 16:37] dolmen commented on #4044
Please:
- use [GitHub reactions](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/)
- use the [Subscribe button](https://help.github.com/articles/subscribing-to-and-unsubscribing-from-notifications/)
- delete your uselesss "+1"
- don't add "+1" that spam the 21 users already subscribed

[2018-04-24 17:18] glenpike commented on #4321
@madebysid: yes this is happening for me too.  When my Linux version (6.0.10) syncs, it often breaks the collection order and I have to delete and re-import.

[2018-04-24 19:38] fsudderth commented on #2761
+1

[2018-04-24 22:45] rcludwick commented on #2931
+1 to snap.   It seems to be the way of the future, especially for commercial/non-libre apps.

[2018-04-24 23:00] md97212 opened #4487 "Panel layout width requires scrolling to see entire page"
## App Details:

[code]

I need to scroll left->right to see the entire Postman panel, ex I don't see any of the buttons that are aligned on the right margin unless I scroll to the right. Increasing the panel size doesn't help and zooming in or out doesn't help

## Issue Report:
 1. Did you encounter this recently, or has this bug always been there:
found in latest version
 2. Expected behaviour:

[2018-04-24 23:26] cuzic4n opened #4488 "OAuth Client Credentials - Do not send client_id in body when selected 'send as Basic auth header'"
<img width="532" alt="screen shot 2018-04-26 at 9 37 59 am" src="https://user-images.githubusercontent.com/204951/39319597-68c68ae6-4936-11e8-9cc0-28c612454f35.png">
<img width="828" alt="screen shot 2018-04-26 at 9 37 34 am" src="https://user-images.githubusercontent.com/204951/39319598-68e03978-4936-11e8-8fdf-d3ab42d96072.png">

The Send as Basic Auth Header option keeps client_id in the body an

[2018-04-25 01:32] NorkhairiMisdi commented on #3518
Still exists on Ubuntu. Looking forward to a fix soon.

[2018-04-25 03:13] sky-wang commented on #3232
Any update?

[2018-04-25 04:29] sskmail14 commented on #4470
oh ya the same one am looking for. Thanks :)

[2018-04-25 04:31] sskmail14 commented on #4033
Having the same requirement. Is there any plan or milestone been set yet? Kindly acknowledge @thecuriousdev

[2018-04-25 06:40] verglor commented on #4052
@vdespa There actually is a local scope API:
`pm.variables.set` - is setting local scope variable
`pm.variables.get` - is getting local scope variable or closest scope variable if not set locally

Quite confusing - I agree.

[2018-04-25 08:12] 39Er commented on #2701
+1

[2018-04-25 10:38] MaeseppTarvo commented on #3518
Still an issue with the 6.0.10 for MacOS

[2018-04-25 10:47] nazarkryp commented on #3386
Remove please that "Do you want to save" feature. It's so annoying. Implement thing like Ctrl+Shift+T in case if someone accidentally closed tab, there is no need to ask me on each tab if i wanna save it

[2018-04-25 10:57] rakeshk1987 opened #4489 "Feature Request : Providing Data file URL also for adding the external data file in runner"
## App Details:
Postman for Windows
Version 6.0.10
win32 6.1.7601 / x64

## Feature Details:
Currently in Postman collection runner, we need to select the Data file [Json/CSV] everytime when we run the collection.

Instead of that if we can also provide a path to the required file [A text box which will accept the location URL of the required data file], we don't required to select the data file f

[2018-04-25 13:23] mrshawn191 opened #4490 "OAuth2 flow missing name attribute in console"
When finalizing the token extraction from /oauth/token somehow name is not displayed in the window... However bringing up the console, I could see that indeed it was returned from the api.

Image of the console proving the name is returned

<img width="1103" alt="postmanconsole" src="https://user-images.githubusercontent.com/5851638/39248489-83e58a1a-489c-11e8-9781-cfc204b035d9.png">

Image of the

[2018-04-25 13:36] shubsaini09 opened #4491 "Postman taking lot of time to sync local data"
## App Details:

[code]

## Issue Report:
 1. Did you encounter this recently, or has this bug always been there: Noticed recently
 2. Expected behaviour: Sync fast

Create a collection.
Export it as link, put it in browser and save the data somewhere.
Write a test case, save it and then again export it as link, put it in browser and save the data.
When both the data is compared, it is same wherea

[2018-04-25 14:37] JoGosGitHub commented on #4385
Hi,

I see the same issue.
When using multipart my debug shows that Postman leaves the content transfer encoding empty.
But it should be set to binary.

[2018-04-25 14:44] loretoparisi commented on #4385
Hi, at the end it worked with this setup:

<img width="1136" alt="schermata_2018-04-25_alle_16_40_43" src="https://user-images.githubusercontent.com/163333/39253294-d72c37cc-48a7-11e8-8833-6fdfebeb0730.png">

and

<img width="1151" alt="schermata_2018-04-25_alle_16_40_55" src="https://user-images.githubusercontent.com/163333/39253329-e3bd5066-48a7-11e8-8a22-1d07a3b4c564.png">

[2018-04-25 15:18] georgedpeterson commented on #4360
Same issue.

[2018-04-25 15:49] saratrajan opened #4492 "Query: Does Postman/Newman support running Collections/Jsons from another Master Collection/Json?"
## App Details:

[code]

## Query:
Is there a way to run Collections from a master level?
e.g: I have module-wise collections for each APIs. I need to be able to run all of them (or some of them) by mentioning the items/order from another Collection (like a Master).

I am not sure if this was a Postman or Newman question. So posting on both the forums.

[2018-04-25 15:58] JebediahSpringfield opened #4493 "Usability Improvement - Add Create Request in the collections shortcut menu"
[code]

[2018-04-25 16:05] mykola-den commented on #6682
+1

[2018-04-25 16:24] jackieta1 commented on #4061
I'm having trouble with it evaluating ANY variables inside Body (raw, JSON). I'm having to just hardcode for now. Strings don't work for me either. I'm running Mac version, 6.0.10

[2018-04-25 16:45] markus-ethur commented on #3358
Agree totaly, we should have some kind of comments

[2018-04-25 16:45] markus-ethur commented on #3117
+1  Agree totaly, we should have some kind of comments

[2018-04-25 17:02] herath commented on #1228
+1

[2018-04-25 21:16] ionapjolive commented on #3171
+1

[2018-04-25 21:22] mckennajones commented on #2672
Any update on this?

[2018-04-26 01:57] mohank1986 opened #4494 "Getting 'Error: connect ECONNREFUSED' while sending the request from Postman and same is working in another machine"
## App Details:

Postman for Mac
Version 4.11.0
OS X 16.4.0 / x64
[code]

[2018-04-26 03:17] koneko096 commented on #350
+1

[2018-04-26 04:01] BrentDouglas opened #4495 "Postman silently adds accept-encoding: gzip, deflate but does not handle an encoded response"
## App Details:
[code]

## Issue Report:

When sending a request to a proxy that handles gzip postman returns `Could not get any response
 There was an error connecting to <URL>`.

I have an app running on localhost:8080 with a proxy on localhost:9021. The proxy has a gzip handler. The request I am sending, generated with the copy to cURL part of postman, is as follows to both clients (with just t

[2018-04-26 04:23] sumadhuram456 opened #4496 "Oauth 2 - Azure active directory - Missing 'resourceId'"
Hi,

As per the oauth2 azure active directory - client credentials authentication, it is necessary to pass an azure app URI in the 'resourceId' parameter in the https request. But the current oauth2 - client credentials authentication of postman do not have 'resourceId' parameter (Only 'scope' exist). So can you please enhance oauth2 - client credentials authentication to use azure active director

[2018-04-26 05:15] BrentDouglas commented on #4495
This was caused by sending
Transfer-Encoding: chunked + Content-Length in the reposnse

[2018-04-26 05:15] #4495 closed, assigned to nobody

[2018-04-26 06:30] godfrzero commented on #3747
This is not something that's on the roadmap right now (you can keep an eye on the roadmap [here](https://trello.com/b/4N7PnHAz/postman-roadmap-for-developers)).

How big is this collection, in terms of request or file-size?

[2018-04-26 07:19] 4nt01ne commented on #3897
Any progress on this issues? I am facing one of OP's remarks: blocked by policy on restricted environment.
I can't use Postman anymore

[2018-04-26 07:28] Tenkasi-Subramanian opened #4497 "Feature Request: Snippet "Use tiny validator for json data" for xml2json conversions"
## App Details:

[code]

## Issue Report:
 1. Did you encounter this recently, or has this bug always been there:
I guess Always
 2. Expected behaviour: Snippet "Use tiny validator for json data" should be passed for xml2json conversions
3. Actual behaviour: _AssertionError: expected false to be true_ error triggered and schema checking failed.

**Steps to reproduce the problem:**
I have received

[2018-04-26 07:49] asmod3us opened #4498 "Import of swagger 1.2 API fails with TypeError: process.exit is not a function"
## App Details:

[code]

## Issue Report:
 1. Did you encounter this recently, or has this bug always been there: Don't know, attempted for the first time now.
 2. Expected behaviour: Successfully import a Swagger 1.2 API def.
 3. Console logs (http://blog.getpostman.com/2014/01/27/enabling-chrome-developer-tools-inside-postman/ for the Chrome App, View->Toggle Dev Tools for the Mac app): Error wh

[2018-04-26 08:40] lostpebble commented on #2672
Yea pretty bleak this isn't in yet. It may seem like a minor thing to the team - but it's actually a pretty **major** regression my eyes Seeing your entire performance run at a quick glance like that gives you lots of insight.

[2018-04-26 09:07] jobec opened #4499 "importing swagger file doesn't import request parameter descriptions"
## App Details:
[code]

## Issue Report:
 1. **Did you encounter this recently, or has this bug always been there:** Recently
 2. **Expected behaviour:** When importing a swagger file, the description of a query parameter is filled with the description from the swagger file.
 4. **Screenshots**

The example petstore swagger file has descriptions for it's parameters.:
![image](https://user-images.g

[2018-04-26 09:07] jobec commented on #2857
Sort of related to #4499

[2018-04-26 09:21] paulux84 commented on #1744
+1

[2018-04-26 10:03] swatthinan opened #4500 "storing the column value(s) from CSV to an array in pre request script"
Hello,
I was trying to retrieve multiple values from a column in a CSV file to an array in postman.
I was able to do the same using JSON using JSON.parse. But not the same with CSV.
Is there a way I can achieve this?
Thanks,

[2018-04-26 11:36] DaveFUK commented on #4128
I'm running Window 7 32 bit at work. All of a sudden, i.e. one minute it worked next Postman is just giving me a black screen. Tried reinstall, all the suggested fixes, nothing works. Postman is now completely useless for me.

[2018-04-26 11:41] cmohs commented on #2719
Hi, is this feature released already or is it in progress?
May be, it would be another issue, but from the user point of view it's the same issue:
It would be preferable, if the rich snippets would also provide a custom icon. Probably the bigger favicon?

[2018-04-26 12:23] sdnts commented on #4489
Hi @rakeshk1987, thanks for the feature request! This sounds like a good idea, we'll get back to you when we have more to share!

[2018-04-26 12:26] sdnts commented on #4490
Hi @mrshawn191, thanks for reporting this. @harryi3t, can you take a look?

[2018-04-26 12:29] sdnts commented on #4492
Hi @saratrajan, currently, there is no way to reference one collection from another collection. We treat each collection as separate entities.
You can, however, use folders in a collection to achieve this. That way, you will have one collection, and each folder will be you "module". You can create folders inside folders, so that should not be an organizational problem :)

[2018-04-26 12:29] #4492 closed, assigned to nobody

[2018-04-26 12:29] sdnts commented on #4493
Hi @JebediahSpringfield, thanks for the request! We actually were thinking of doing this. We'll let you know here when this is out on our stable channels!

[2018-04-26 12:31] sdnts commented on #4494
Hi @mohank1986, you seem to be on a pretty old version of Postman. Can you update to the latest (6.0.10 as of now) and see of the problem persists?
Moreover, can you list some differences in both those machines (network-wise, proxies, firewalls etc.) that might help us debug this?

[2018-04-26 12:32] sdnts commented on #4500
Hi @swatthinan, you should be able to get CSV data using the predefined variable `data` in pre-request scripts. Can you give that a shot and let me know if that works for you?

[2018-04-26 12:35] sdnts commented on #4498
Hi @asmod3us, thanks for reporting this, I was able to see this as well, we will get this fixed in an upcoming version.

[2018-04-26 12:36] sdnts commented on #4499
Hi @jobec, thanks for reporting this. We are in the process of changing our importers and will take this up as part of that. Will let you know here when it is fixed :)

[2018-04-26 12:49] jobec commented on #4499
Great to hear 🎉

You might want to look at #2857 also then as it's sort of related (but for POST body params)

[2018-04-26 15:27] bmesin commented on #4290
Please implement this feature asap because it is giving a lot of users headaches.

1. env should be editable ONLY by users who can edit original workspace (env point of origin)
2. original workspace should be visible somewhere (in manage environment window)
3. if I share env to another team workspace and then copy it, then this new team workspace becomes origin for copied env (shared env cannot be

[2018-04-26 16:15] MartinIvison commented on #3171
+1

[2018-04-26 16:21] mckennajones commented on #2672
@lostpebble, if you export the results to JSON you can see the total run time. This is my work around. Not ideal, but it's one way to get the time.

[2018-04-26 17:50] gbrown-ce commented on #4446
I also see this issue if the Content-Length doesn't actually match the length of the content.

[2018-04-26 18:14] anodynos commented on #3056
In PostMan v6.0.10 I have the same problem - trying to set an environment variable to `undefined` cause the environment variable to be deleted. This should not be the expected behaviour for sure!

[2018-04-26 18:29] ypolishetty commented on #3747
Its around 3.75MB with 467 APIs in total for now.

[2018-04-26 18:40] jerrod-williams commented on #3845
attempting to use this in production on a web server to verify connectivity. we prefer not to run node on our windows servers, so newman isn't preferred.

[2018-04-26 21:14] marcelocesards commented on #4045
3rd option works to me:

set HTTP_PROXY=
set http_proxy=
set HTTPS_PROXY=
set https_proxy=
P:\Users\myUser\AppData\Local\Postman\Update.exe --processStart "Postman.exe"

[2018-04-26 21:15] marcelocesards commented on #4045
set HTTP_PROXY=
set http_proxy=
set HTTPS_PROXY=
set https_proxy=
P:\Users\myUser\AppData\Local\Postman\Update.exe --processStart "Postman.exe"

[2018-04-26 21:24] reedzhao commented on #4128
It just happened to me.  Is there even not a work-around? Consider I paid $80 a year for the service.

Windows 10 64 bit
Latest postman update
Slack - which uses the same framework, works okay on the same computer.

![image](https://user-images.githubusercontent.com/16353524/39332726-53f739b8-4976-11e8-9e70-1d9a6794e82d.png)

[2018-04-26 22:23] zbstof opened #4501 "In cURL code for GET requests no `-X GET` should be generated"
## App Details:
[code]
## Issue Report:
 1. Did you encounter this recently, or has this bug always been there: `always`
 2. Steps to reproduce:
- Create GET request, click `Code` to generate code for request, pick cURL
- it has `-X GET`, which is redundant and generates warning when executed
 2. Expected behaviour:
- For GET requests in cURL, no `-X GET` is generated

[2018-04-26 22:39] zbstof opened #4502 "When exporting collection, GET requests should be stripped from any body in resulting json"
## App Details:
[code]

## Issue Report:
 1. Did you encounter this recently, or has this bug always been there: always
 2. Steps to reproduce:
- Create empty collection
- Add post request to collection, add body
- Export collection, inspect json - it contains body, as expected
- Change request from POST to GET - body is disabled and not sent, save request
- Export collection, inspect json - reque

[2018-04-26 23:50] mohank1986 commented on #4494
Hi Team,

I have installed the latest build(6.0.10) and found the same issue again.

[2018-04-26 23:52] Couragyn commented on #3386
+1 I hate that dialogue so much

[2018-04-27 07:58] Rudithus commented on #1475
+1

[2018-04-27 08:36] simasch opened #4503 "Remove from workspace leads to lost of collection"
## App Details:

[code]

## Issue Report:
I removed a collection from a workspace because I thought that I already added this collection to another workspace. But I was wrong.
Now when I try to open this collection i get:

How do I recover this collection?

[2018-04-27 08:40] iscarmario commented on #4476
Hi @kamalaknn

All tables are completely empty currently

[2018-04-27 09:40] dani-easydevel commented on #4128
Hi,
Same to me. Black Screen.

Wednesday or Tuesday was working fine. Today no.
Could you fix this, or tell us what is happening?
Many thanks.

[2018-04-27 10:17] anujbhatia commented on #1104
+1

[2018-04-27 11:34] swatthinan commented on #4500
Hi @madebysid , thank you for response.
I did try with data and it is working fine to fetch a single value in an iteration
eg: var dcampusName = data.CampusName;
I am looking to fetch multiple data in a column of an excel to an array in my postman script so that i can loop in the data in the same session without running the collection on iteration basis.
Hoping to hear from you.

[2018-04-27 12:07] mtangoo commented on #3687
Postman-win64-6.0.10-Setup.exe
[code]

[2018-04-27 13:45] saripr opened #4504 "How to run docker for newman with environment and global json"
Running newman docker with json throws could not find the file even though the file exists in the path and the path is correct
App Details:

Version 6.0.10
newman 3.9.2

Postman for Ubuntu
Version 6.0.10
ubuntu 16.04 LTS

Issue Report:
Did you encounter this recently, or has this bug always been there:yes
Expected behaviour:Tests should run
Console logs (http://blog.getpostman.com/2014/01/27/enabl

[2018-04-27 15:21] kamransethi opened #4505 "Search Feature in title bar does not stop searching when anything is typed"
The search feature in the status bar never returns. Just keep searching indefinitely.
No search results are returned.

## App Details:
Version 6.0.10
win32 6.1.7601 / x64

## Issue Report:
1. Did you encounter this recently, or has this bug always been there: **Just noticed it. It used to work in previous versions.**
2. Expected behaviour: **Search used to work in a previous version. It should wor

[2018-04-27 20:11] shahkunalj commented on #3518
The same issue exists with v6.0.10 for Win

[2018-04-27 23:09] itsforgit commented on #1647
**Thanks a lot** stephenmcd1. Its worked for me.. :)

[2018-04-28 00:50] grandcamel commented on #3312
+1

[2018-04-28 04:02] ghost commented on #4505
Hi @kamransethi
Thanks for reporting the issue. The fix for the bug will be out in the next release. Stay tuned !

Cheers.

[2018-04-28 04:02] #4505 closed, assigned to nobody

[2018-04-28 05:36] LordJohn42 commented on #3312
Add this feature, please.

[2018-04-28 09:30] reliefeai commented on #1535
+1
I think if it could create a soft link of a existed request, this problem will be resolved.

[2018-04-28 12:57] csinghdev opened #4506 "Feature Request: Allow calling a webhook (configurable) and send API details that i'm currently testing on Postman App"
When a new api which is not part of a collection is being tested on postman and there are some bugs in the api then it becomes difficult to send the details of api for various test-cases to developer.
The user then can send the issue to developer using following options:
1. Create a new collection and add those api details with various test-cases and then share that collection with developer.
2. C

[2018-04-28 23:44] sabtharishi commented on #2801
+1

[2018-04-29 02:37] sivcan commented on #4501
@zbstof - Thanks for reporting this. We'll look into this issue and get back to you.

[2018-04-29 02:39] sivcan commented on #4502
@zbstof - Thanks for reporting this. We'll look into this issue and get back to you.

[2018-04-29 02:42] sivcan commented on #4503
@simasch - If you've removed this collection from the workspace - how exactly are you trying to open it?
Is the collection still showing in the sidebar?

Also, can you write to us at [help@getpostman.com](mailto:help@getpostman.com) with your query.
Thanks.

[2018-04-29 02:48] sivcan commented on #4504
@saripr - We maintain this repo for bugs or feature requests in the postman app.
For newman related issues you can visit the newman repo.

I have raised this issue here: https://github.com/postmanlabs/newman/issues/1514

[2018-04-29 02:48] #4504 closed, assigned to nobody

[2018-04-29 03:02] sivcan commented on #4506
Hi @csinghdev - Well I suggest you try the team workspaces feature in Postman.
Where you can share a collection in a team workspace, it makes collaboration extremely simple and easy.

Apart from that, I'll mark this as a feature request for the webhook support.

[2018-04-29 08:10] DedMorozzz commented on #4360
each 15 mins I got a message about "sync conflict", how i can disable syncing?

[2018-04-29 08:29] csinghdev commented on #4506
Thanks @sivcan for marking it as a feature request.
For now i'm using postman apis for integrating it with [ReportBugz](https://reportbugz.com) but a webhook will make that really simple.

[2018-04-29 10:06] crysislinux commented on #4360
I logged out and login again, the problems seems gone.

[2018-04-29 13:28] amezng commented on #6682
+1

[2018-04-29 15:08] nickclicksco commented on #1180
+1

[2018-04-29 16:02] liran-co commented on #4316
This is extremely frustrating and renders the current documentation useless. I've spent hours trying to figure out why this is the behavior. I agree with with @Dzeinz, this is a serious defect.

[2018-04-29 17:58] P1llus opened #4507 "Plus sign not encoded, or encoded as space in get requests(v6.0.10)"
## App Details:

[code]

## Issue Report:
 1. Did you encounter this recently, or has this bug always been there:
Encountered it recently
 2. Expected behavior:
Should be encoded as %2B, but is encoded as space instead
 3. Console logs (http://blog.getpostman.com/2014/01/27/enabling-chrome-developer-tools-inside-
 4. Screenshots (if applicable)

I saw this really old issue about this, but that was

[2018-04-29 20:34] laibulle commented on #2801
+1

[2018-04-29 22:44] S0und commented on #2096
I call this the English syndrome. Shipping an app in EU, but you have no chance to change the app's clock from AM/PM to 24hour format.

Same thing with ASCII. You have some fucked up characters like éáúpüóóüö, just die, we don't support UTF8.

You have to use Ctrl+Alt+V for '@' or AltGr + C for '&' ? OHh you are still alive? Just dieee, or use English keyboard layout.

[2018-04-30 06:31] harryi3t commented on #4490
@mrshawn191
As per the [rfc-6749#4.2.2](https://tools.ietf.org/html/rfc6749#section-4.2.2), there is no standard field for specifying the name of the token. That's why Postman has a dedicated field for specifying the token name.

Let me know if I have missed any point in the above RFC regarding this.

![image](https://user-images.githubusercontent.com/5207331/39416869-e490952e-4c6d-11e8-841b-34ebe

[2018-04-30 06:31] #4490 closed, assigned to harryi3t

[2018-04-30 06:56] centur commented on #4458
any update on this issue progress ?

[2018-04-30 07:15] harryi3t commented on #4500
@swatthinan  You can use `csv-parse/lib/sync` as mentioned in this [doc page](https://www.getpostman.com/docs/v6/postman/scripts/postman_sandbox_api_reference)

![developer_tools__file____applications_postmanbeta_app_contents_resources_app_html_requester_html_and_postman](https://user-images.githubusercontent.com/5207331/39417041-2bf27120-4c6f-11e8-90e9-405c95254234.png)

[2018-04-30 07:15] #4500 closed, assigned to harryi3t

[2018-04-30 09:28] chrislandeza commented on #3127
Also getting the same error after updating to v6.0.10
![image](https://user-images.githubusercontent.com/4858242/39421472-c69996dc-4c9b-11e8-8946-c17f6fe9d09e.png)

Here's the error on the console:

![image](https://user-images.githubusercontent.com/4858242/39421495-e413301a-4c9b-11e8-99b2-f55b1cbbe2ea.png)

Any idea on this issue?

[2018-04-30 11:20] simasch commented on #4503
I can see the collection on this page: https://web.postman.co/me/collections
But when I click it then I get the error message.

Btw. it's weird that the action "Remove from Workspace" deletes the collection without warning that it will delete it.

Additionally I'm not happy some of the action I can do from the client app and some only on the web page. This is a terrible mix.

[2018-04-30 12:11] pchandrakanth opened #4508 "For Huge data request, I want to have my input in the form of external JSON file and indeed to re-place the entire body per iteration."
## App Details:

[code]

## Issue Report:
 1. For Huge data request, I want to have my input in the form of external JSON file and indeed to re-place the entire body per iteration.
 2. Expected behavior: body of request, should able to replace by my variable when I run from Collections
 3. Screenshots : attached

## Steps to reproduce
1. My Json file in Collection runner as input data :
[{
"rename

[2018-04-30 12:39] SamvelRaja commented on #3127
@chrislandeza  This seems the request is going via your local proxy.
Goto, settings -> proxy and disable `Use system proxy` and try it again. This will bypass the proxy settings you have for your system.

[2018-04-30 12:43] sivcan commented on #4503
@simasch - I guess you won't be able to see the collection after refreshing the page right?
Indeed it got removed from the workspace but not deleted.

You can head over to https://web.postman.co/me/collections and you'll find all collections that you've made.
You can put the removed collection to a workspace by clicking 'Share'.

[2018-04-30 12:56] preethammavin commented on #4503
@simasch You can recover your collection by going to the All collection View in the dashboard, once you locate your collection the share it to the relevant Workspace.

Hope this helps.
Thanks

[2018-04-30 12:56] #4503 closed, assigned to vkaegis, sankalp0o

[2018-04-30 13:42] zoso200 commented on #4360
Update: I exported all collections, logged out and logged back in and imported all collections back in. This has fixed the sync issue for me.

[2018-04-30 13:57] simasch opened #4509 "Prevent removal of collection from last workspace"
As it is not possible to have a collection without workspace why not prevent the removal of a collection from all workspaces?

[2018-04-30 14:03] DomHudson opened #4510 "Bug: Menu elements render badly"
## App Details:
[code]

[code]

## Issue Report:
Menu items with the new postman linux app appear rendered badly. I am unable to confirm if this occurred in older versions as I was previously using the chrome extension on Ubuntu 16.04 LTS. Happy to try old postman versions though, if it helps.

![screenshot from 2018-04-30 15-00-12](https://user-images.githubusercontent.com/10864294/39431062-7b2dc

[2018-04-30 14:42] gemyago commented on #285
+1

One of the options could be another tab (next to "Tests") for example, clicking on it will allow you to set  all environment variables used in scope of this request.

[2018-04-30 15:05] yali2015 commented on #4432
@preethammavin I have try it just now. It can work when I sign in with google account finally.
Thanks!

[2018-04-30 15:08] unlucio commented on #1345
**Any** HTTP request message is allowed to contain a message body, than the purpose of sending it in a get _might_ be debatable, but still the standard allows for it so this seems a bit of an arbitrary choice imho.

[2018-04-30 15:21] sheerlox commented on #285
@evgeny-myasishchev the goal is that it ask to you each time so you change it each time. (imao)

[2018-04-30 18:39] ghisvail commented on #2931
`electron-builder` can generate a lot of [packages](https://www.electron.build/configuration/configuration) which can be published in a release channel somewhere (on GitHub or the official website).

If you guys could generate a working `.deb` from `electron-builder` then it could serve a basis for `snap` or `flatpak` to provide universal Linux support.

[2018-04-30 19:47] andris commented on #2494
workaround works but is a bit cumbersome - Adding native pfx support would be awesome and appreciated!

[2018-04-30 20:11] EfrainReyes commented on #2701
+1

[2018-04-30 22:48] gpattersonm opened #4511 "Request Description Doesn't Scroll When Viewing in Tab"
## App Details:

[code]

## Issue Report:
 1. Did you encounter this recently, or has this bug always been there: I just noticed this issue.
 2. Expected behaviour: When looking at the request description from an open request tab, the description should scroll as necessary.

To reproduce, add a description to a request that is multi-lined such that it would require scrolling to get to the bottom o

[2018-05-01 00:22] VitaliyKurokhtin commented on #3165
It would be even more useful if this scenario is supported via link from browser. That way it will be a lot easier to integration into any web app that allows user to build random HTTP requests, like Postman itself, or provides access to any API that is updated frequent enough to make it infeasible to upload every time.

[2018-05-01 01:30] rajamalw commented on #4510
I am seeing the same issue in Kubuntu 18.04

[2018-05-01 01:35] rajamalw commented on #4510
Same issue in Gitkraken. Is this a Electron issue?

[2018-05-01 01:36] pldmgg commented on #1475
Hopefully this is an easy lift now that Chrome has "Copy as PowerShell" built in -

https://twitter.com/matijagrcic/status/979743034849021953

:)

[2018-05-01 05:07] prashantagarwal commented on #4511
@gpattersonm Thanks for reporting this. We will get this fixed as soon as possible.

[2018-05-01 07:56] ghisvail opened #4512 "Canonical download URL for all Linux releases"
I would be keen on providing a Flatpak packaging for Postman on Linux. To do so, I'd need to know the canonical URI where each new version of Postman is stored so that the build process can fetch the tarball in a reproducible manner.

I believe `https://dl.pstmn.io/download/channel/stable/linux_64` is a redirect to the latest tarball, right?

[2018-05-01 13:24] Celadora opened #4513 "Duplicate parameter keys disappear when unchecked"
When a parameter key is used more than once, and one is unchecked, the uncheckedone disappears. It would be more useful for it to be unchecked and remain, since if the client wanted to remove the parameter entirely they would use the remove button on the far right.

## App Details:
[code]

## Issue Report:
 1. Did you encounter this recently, or has this bug always been there: Encountered recently

[2018-05-01 13:58] ragoutje commented on #4092
+1 for a solution to this issue.

It always happens on the third and further requests run in the collection runner. When running 3 or more requests from Postman one by one this does not occur.

I found that the 3rd request in the runner receives a different response header:

It seems to be related.

Edit:
The 1st and 2nd requests do not receive this response header.

[2018-05-02 00:20] brunodles opened #4514 "Postman Linux app installation error on Ubuntu 18 ( missing libgconf-2-4 package)"
## App Details:

[code]
### uname -a
[code]

## Issue Report:
 1. Did you encounter this recently, or has this bug always been there:
I'm migrating to native app
 2. Expected behaviour:
Simply open the Postman
 3. Console logs (http://blog.getpostman.com/2014/01/27/enabling-chrome-developer-tools-inside-postman/ for the Chrome App, View->Toggle Dev Tools for the Mac app):
[code]
 4. Screenshots (i

[2018-05-02 00:54] davecanderson opened #4515 "SSL certs with SAN leads to Parse Error"
## App Details:
[code]
## Issue Report:
I have an API served from different subdomains bound to the same website using the same wildcard SSL certificate. On our production instance Postman calls to all but one of our subdomains fail with ``Could not get any response``.

The succeeding call is to the subdomain which is the [ServiceStack Proxy](http://docs.servicestack.net/proxy-feature) for calls t

[2018-05-02 03:08] mjhaller commented on #1837
Environment vars are shared across the team, so they aren't suited for these types of variables.  There doesn't seem to be scope that supports the notion of a session.

[2018-05-02 06:43] mohank1986 commented on #4494
Hi Team,

Any update on the above ticket. Same request is working in another machine without changing any proxy settings. We are sending the request behind firewall and tried using both Global Proxy Config and Use System Proxy settings.

With Global Proxy Settings --> We are getting Gateway Timeout
With Use System Proxy settings --> We are getting 'Could not get any response' error

[2018-05-02 07:47] gomesalexandre commented on #3234
I wanted to open an issue but saw this : Any update on it ?
This is a really important feature when working with a team IMO, having to fire up the console every time you want to send team members a request link is far from ideal.

[2018-05-02 08:13] philicomus commented on #3518
Please fix this. Being able to send cookies on localhost development servers is a very common use case for developers!

[2018-05-02 09:02] AlbertORoura commented on #3137
+1 same here! That will awesome :)

[2018-05-02 11:17] dhineshwiz commented on #4513
Hey @Celadora, thanks for reporting the issues, We will get this fixed as soon as possible.

[2018-05-02 11:29] davidthompson opened #4516 "OAuth 2.0 access tokens and environment variables substitution problem"
## App Details:
[code]
## Issue Report:
When requesting a new OAuth 2.0 access tokens and using environment variables I am encountering an issue with using variables in the token name. If I enter the variable in the field, as per the below screenshot

![image](https://user-images.githubusercontent.com/1193010/39520780-c8f1ad66-4e03-11e8-9ee6-e16aef69c369.png)

When the token is retrieved and then

[2018-05-02 11:39] dhineshwiz commented on #4512
Hey @ghisvail thanks for feature request, however we are not doing this feature in near future.

[2018-05-02 11:39] #4512 closed, assigned to nobody

[2018-05-02 11:47] ricardorlg opened #4517 "Use regex or Any value in URL path for Mock server"
## App Details:

[code]

## Issue Report:
Hi, Is possible to use in mockserver regular expresions to matching algorithm?, I mean, I have a request that adds a random integer to the end of the path, I don't have acces to that number, what I want is to create a mock server in postman that use as example a request that has a regex at the end, so when my app sends the request to the mock server this c

[2018-05-02 12:02] dhineshwiz commented on #4516
Hey @davidthompson, Currently we are not supporting variables in token name, I think highlighting of variables in token name create confusion. I will add that as bug, and we will fix it soon.

[2018-05-02 12:10] dhineshwiz commented on #4514
Hey thanks for reporting and workarounds, We will look into it

[2018-05-02 12:22] dhineshwiz commented on #4517
Hey @ricardorlg , currently its not possible to do dynamic response from the mockserver

[2018-05-02 12:22] #4517 closed, assigned to nobody

[2018-05-02 12:27] dhineshwiz commented on #4515
hey @davecanderson . Thanks for reporting this issue, I am assigning as bug, we will fix it soon

[2018-05-02 12:34] tomershay commented on #4374
Happens on Mac OS as well. Happened after upgrading to the latest version.

[2018-05-02 13:31] escoffie commented on #4065
Hello @sivcan,

Sorry to reopen this topic, but I'm still geting BSOD in my system every time I use Postman stand alone app. Less often, but still getting those, and only if I have Postman running.

I've even changed my HDD for a SSD, wich made my system fast as never before, but still getting the same problem.

A brief recall: It is an AMD A8 processor, with 8Gb of RAM, and an ATI Radeon HD 8750M

[2018-05-02 13:55] satnam-sandhu commented on #4090
Using v6 worked fine at first but then taking forever to sync.

[2018-05-02 13:55] DanielPetatCes commented on #4507
I reported this issue too:  #4444

[2018-05-02 14:06] d4hines commented on #3774
This got me too. The part that tripped me up was everything else was working: sending the request, the collection, the mock server, but not the runner. So glad I found this thread, because I was stumped!

[2018-05-02 14:10] AlbertORoura commented on #2392
+1

[2018-05-02 14:24] reb commented on #6682
+1

[2018-05-02 15:15] HappyZombies commented on #2978
Would really appreciated if this feature was added. Much needed!

[2018-05-02 15:31] romaincarlino commented on #4359
Hello, I have exactly the same problem.
I am on windows 10 and the postman window doesn't open when I start it. I have an issue "Shared window not present" on my terminal.
It was working perfectly for one month and stop to work without any visible argument.
I tried to delete everything from Postman (Appdata/Local and Appdata/Roaming, $HOME/.config) and download it again but nothing changed.

Do yo

[2018-05-02 17:13] harshmathur1990 commented on #3602
+1
I really need this feature too. Please prioritise.

[2018-05-02 17:17] matthuhman commented on #4360
Sync conflicts are now showing up for me every < 5 minutes. How soon can we expect a fix?

[2018-05-02 18:03] clawfrank commented on #3127
Saw this or a similar issue in the desktop app upon install when using a proxy. Timeout was set to 0 by default. Changed it to 90, no change. Later noticed it was in ms, not seconds, so increased it significantly, and it started working. Set it back to 0 again and it still works.

Changed a bunch of other settings mentioned here too but always reverted them.

[2018-05-02 18:05] P1llus commented on #4444
+1

[2018-05-02 18:07] P1llus commented on #4507
Oh i was sure i looked for it, must have missed it. Weird it never gets any comment, one would think it is a more serious issue..

Though for me, the GET request also supports POST in most functions so i can use that, and we should use POST anyway, but i can see this becoming an issue down the line.. And it was fixed in older versions

[2018-05-02 18:19] vdespa opened #4518 "Setting global variables does not work without an account"
It seems that setting global variables does no longer work if you are not logged in.

[code]

## App Details:
[code]

## Issue Report:
 1. Did you encounter this recently, or has this bug always been there: recently, probably since the introduction of workspaces
 2. Expected behavior: globals should be saved

[2018-05-02 18:38] Ghazibelaam commented on #3127
@anreddy018
You still need to disable certificate verification and under proxy do this good luck
![image](https://user-images.githubusercontent.com/17499311/39542405-190e5e3e-4e0e-11e8-877d-4c455649cc8b.png)

[2018-05-02 18:42] Ghazibelaam commented on #3127
@anreddy018
On the satellite icon, you just type 8080 under port and click connect and I am using the stand alone version btw

[2018-05-02 20:36] kknd113 commented on #3312
+1

[2018-05-02 20:37] v1g0rous opened #4519 "Runner 400 Bad Request when posting CSV data file"
Postman for Windows
Version  v6.0.10
Windows 10 / x64

Hello! I'm experimenting with uploading CSV data file using API.
I'd like to use Postman to post articles containing basic html tags (e.g urls) and line breaks. Here I faced some difficulties...
My body request looks like this:
![request body](https://user-images.githubusercontent.com/30531467/39547187-75043e4c-4e5f-11e8-9553-d77bd873a2bc.PNG)

[2018-05-02 20:38] bpamiri commented on #2004
The Elasticsearch API is not the only API that expects a body with a GET verb. The Magento API does as well. Unfortunately the Magento API doesn't allow you to simply replace a GET verb with a POST verb. IF you try to do that you get a route not found error from them.

[2018-05-02 21:22] Kal6 commented on #798
Is there any new developments on this feature? It would be nice if we have it to handle the data from outside of the scripts.

Thank you!

[2018-05-03 04:31] kausality commented on #285
+1

This feature should really be there. I am currently testing a REST API which creates tokens to be sent in an email on the first request.
A different endpoint of the API requires the token created before to perform some state-changing operations. It would be great if there was an alert which could take the input.
This type of workflow is pretty common and Postman would gain a lot of user satisf

[2018-05-03 04:48] sujitblues opened #4520 "Application crashes frequently"
Application crashes frequently when i am opening multiple tab and send the request.
I am using postman app version postman  v6.0.10 on windows machine.
please see the attached screen for reference :
![post-add](https://user-images.githubusercontent.com/37321410/39560369-236dd53c-4ebb-11e8-8013-35a8f0c5c67b.png)
Need any more detail ,let me know
Thanks,
Sujit

[2018-05-03 04:57] kaufmann42 commented on #1744
+1

[2018-05-03 07:00] alexlvcom commented on #4360
Same issue for me. Already a month, very annoying. Having it with two different computers and accounts.

[2018-05-03 07:11] garmr commented on #350
Hello,

+1

[2018-05-03 08:32] andrewpatrickburns commented on #2082
Using Postman Version 6.0.10 on win32 10.0.16299 / x64

I'm setting the following headers:

And it's returning **response.bin** in the save dialog.

[2018-05-03 09:01] yura-arab4uk commented on #4360
Please fix this bug! It's pretty annoying!

[2018-05-03 09:09] kamalaknn commented on #4360
Sorry for the delayed response here. We've pushed the fix to our canary channel. You can download the Canary version from https://www.getpostman.com/canary

I understand that you'll not have local changes that weren't synced on the stable app. We will be pushing this fix to the stable channel very soon.

I'll post updates to this thread once the fix is out on stable channel.

Thanks for understand

[2018-05-03 09:38] pregress commented on #2494
In the browser extension this just works. Because it uses the certificate store from the OS. Why isn't this the same in the native postman app?
A prompt that lets you choose from a list of installed certificates.

This forces me to keep using a deprecated version of postman.

[2018-05-03 09:49] derAndi5 commented on #3386
+1

[2018-05-03 10:39] JoshKeegan commented on #3009
I'm having the same problem.
Is there any fix planned?

[2018-05-03 11:32] akgupta0304 commented on #1647
Best way which I used, Create a login on postman and whenever You do login on another computer login with the same account, You will get all the data.

Otherwise, Export the data into Json format from setting->data. And the same json can be used for import.

[2018-05-03 11:32] akgupta0304 commented on #352
Best way which I used, Create a login on postman and whenever You do login on another computer login with the same account, You will get all the data.

Otherwise, Export the data into Json format from setting->data. And the same json can be used for import.

[2018-05-03 11:45] fatim commented on #3127
Same issue, I can see response in browser but get an error in Postman
this request work - http://localhost:8088/api/resource/1
this produces error - http://localhost:8088/api/resource/1?myparam=true

Error: read ECONNRESET

I've disabled SSL, proxy, redirects, tried various timeouts - none of those help.

[2018-05-03 12:14] prashantagarwal commented on #4518
@vdespa We will investigate this and keep you updated about the progress.

[2018-05-03 12:23] prashantagarwal commented on #4520
@sujitblues What kind of app crash you are experiencing. Is Postman closing abruptly, or something else. Can you please add a screenshot if possible.

[2018-05-03 12:24] prashantagarwal commented on #4519
@Toradora270291 Thanks for reporting this. We will investigate this and keep you updated about the same.

[2018-05-03 12:40] sivcan commented on #4518
@vdespa - Thanks for reporting this.
We've fixed this issue internally and will update this thread once the fix is out.

[2018-05-03 13:15] sujitblues commented on #4520
Postman closing abruptly.

Thanks,
Sujit

From: Prashant Agrawal
Sent: Thursday, May 03, 2018 5:53 PM
To: postmanlabs/postman-app-support
Cc: sujitblues ; Mention
Subject: Re: [postmanlabs/postman-app-support] Application crashes frequently (#4520)

@sujitblues What kind of app crash you are experiencing. Is Postman closing abruptly, or something else. Can you please add a screenshot if possible.

[2018-05-03 13:25] ingenuity2k commented on #1647
@stephenmcd1 thanks for your script. It works until I try to import the data, which is where I get a DOM Exception:
`Uncaught DOMException: Failed to execute 'transaction' on 'IDBDatabase': One of the specified object stores was not found.
    at <anonymous>:1:29
    at Array.forEach (native)
    at <anonymous>:1:6`

Not sure why it doesn't work. Perhaps they changed something db wise?

[2018-05-03 13:59] Allakazan commented on #450
I had to add the slash in the end to POST work properly. LOL

[2018-05-03 15:11] andmill commented on #4092
+1 seeing the same recently as well whilst using runner.

[2018-05-03 15:37] kyeotic commented on #2195
The idea that we are losing work is wrong. If you close a tab you wanted to use you can re-open it from the History menu.

Or you could add an "undo close tab".

But _come on_, this is a hugely popular ask. Why is there so much resistance to this?

[2018-05-03 16:24] g4r37h commented on #3002
Nearly a year later, this is still an issue.

I don't have time to manually modify cURL requests until Postman is willing to import them so I looked for an alternative. I found Paw. That worked with Charles right out of the gate.

[2018-05-03 16:42] garrettd714 commented on #352
@akgupta0304 **5 years ago**, postman didn't have centralized accounts. Export, I don't believe gives you history either but, thanks for digging around the 'net.

[2018-05-03 18:50] amanautomation opened #4521 "Make the src parameter dynamic for uploading files from references stored in a csv data-file"
## App Details:

[code]

## Issue Report:
 1. Did you encounter this recently, or has this bug always been there:
 2. Expected behaviour:
 3. Console logs (http://blog.getpostman.com/2014/01/27/enabling-chrome-developer-tools-inside-postman/ for the Chrome App, View->Toggle Dev Tools for the Mac app):
 4. Screenshots (if applicable)

Hi,

I wanted to check if there is a way to make the src paramet

[2018-05-03 19:22] ghisvail commented on #4512
Sorry to insist, but how is that difficult to provide a direct path to where the tarball is hosted? I don't understand.

[2018-05-04 00:17] ajayush commented on #4128
Go to C:\users\{user}\AppData\Local and delete the Postman folder.
Go to C:\users\{user}\AppData\Roaming and delete the Postman folder.
Re-install postman and it should be back up

[2018-05-04 01:06] eromoe commented on #3418
What is the `base url` variable name ?
here https://www.getpostman.com/docs/v6/postman/environments_and_globals/variables
says we need define  {{url}} , and write   {{url}}/xxxx .  But I prefer /xxx  .

[2018-05-04 02:28] abigailrose commented on #4432
I have this same issue the first trying to associate my Google account with Postman. It leaves me on a dead screen as shown above. However, if I exit that window, return to the app, and try to "Log in with Google", it verifies successfully.

[2018-05-04 04:42] sujitblues opened #4522 "Blank window for collection runner ."
Blank window is opening while running runner.I am using the latest version window application of postman.
![latest](https://user-images.githubusercontent.com/37321410/39613227-6eee59fa-4f83-11e8-8c2c-f4fd456099c6.png)
![blank](https://user-images.githubusercontent.com/37321410/39613232-732abd60-4f83-11e8-8a74-acf0d3a91b22.png)

[2018-05-04 05:56] sivcan commented on #4522
@sujitblues - Can you share the console logs with us?
While the runner window is active just go to View  > Developer > Show DevTools (Current View)

[2018-05-04 06:23] sujitblues commented on #4522
Console log:
Initializing the global config
requester.js:360887 Initializing settings
requester.js:298482 Booting waterline models
requester.js:298548 Object "Successful ORM initialization"
requester.js:369095  ================================================================
     o
   (/) P O S T M A N
   ^

   Go to View -> Show Postman Console to check your script logs.
=========================

[2018-05-04 06:38] cbarrerah-sogeti commented on #4188
I'd really like that too :)

[2018-05-04 06:46] sivcan commented on #4522
@sujitblues - You shared the logs of the requester,
make sure you have the runner running and as the active window, then share the logs please?

[2018-05-04 06:51] cbarrerah-sogeti opened #4523 "New Feature: Ability to generate JSON files from within the test sandbox"
## App Details:

[code]

## Issue Report:
 1. Did you encounter this recently, or has this bug always been there:
Always there
 2. Expected behaviour:
Ability to output data obtained from a request in the form of a JSON to be reused in other requests
Example situation
- Request A collects a list of ids for a list of devices and creates a json file with this values that is saved to the current work

[2018-05-04 07:17] dennisslavid commented on #4005
@kamalaknn

It seems the problem has been solved, haven't had any issues anymore in a while now.

Thanks for your intervention.

[2018-05-04 07:18] #4005 closed, assigned to kamalaknn

[2018-05-04 07:23] harryi3t commented on #4496
@sumadhuram456 There is already an open feature request for this here https://github.com/postmanlabs/postman-app-support/issues/4391

Closing this in favour of the other ticket

[2018-05-04 07:23] #4496 closed, assigned to harryi3t

[2018-05-04 07:28] KumarAlisetty commented on #4006
+1 for this feature!

[2018-05-04 08:04] SergeyTishchenko commented on #4128
ajayush, thanks it helped!

[2018-05-04 08:12] loukandr commented on #3234
Googled this issue/feature and was brought here.
+1

[2018-05-04 08:16] kocian commented on #2931
+1 on snap

[2018-05-04 08:44] sujitblues commented on #4522
Hello,
runner window is opening with blank screen I am not able to run the runner.this is the log on click of runner button.

Thanks,
Sujit

From: Sivcan Singh
Sent: Friday, May 04, 2018 12:17 PM
To: postmanlabs/postman-app-support
Cc: sujitblues ; Mention
Subject: Re: [postmanlabs/postman-app-support] Blank window for collection runner . (#4522)

@sujitblues - You shared the logs of the requester

[2018-05-04 08:48] jithintomz commented on #350
+1

[2018-05-04 08:58] #4483 closed, assigned to nobody

[2018-05-04 09:14] cambiph commented on #4065
I have the same problem. What info can I provide you with?

[2018-05-04 09:24] mrowkow opened #4524 "Evaluate handlebars variable in prerequest script"
I have the following use case:
Each request body must be signed before is send to the tested API
To sign the request the body must be send to an endpoint which will return the sign

One solution:
duplicate all the requests and send it first to signing service and then send it to tested one with a signature from the first

What I want to achieve is to have a pre-request script which will take the b

[2018-05-04 11:34] susikka commented on #4092
I faced this issue too. A POST request in my collection has a script. This request executed fine when run using the **SEND** button but returned 401 Unauthorized with collection runner.

I tried removing the script in the POST request and run the collection again. The POST request executed fine(returned 201 Created). Then I re-added the script in the request and executed the collection again and r

[2018-05-04 11:36] harryi3t commented on #4488
@cuzic4n
Looks like the server is not spec-compliant

According to the [RFC-6749#4.1.3](https://tools.ietf.org/html/rfc6749#section-4.1.3)

Since in this case, the client is not confidential it MUST not authenticate with the authorization server as described in Section 3.2.1, meaning it MUST include a `client_id` field

Also, In [section 3.2.1](https://tools.ietf.org/html/rfc6749#section-3.2.1) it

[2018-05-04 11:55] prashantagarwal commented on #4511
@gpattersonm For some reason I am unable to reproduce this. I can see scrollbar which can scroll the entire tab.

[2018-05-04 12:05] prashantagarwal commented on #4487
@md97212 Did it happen only once for you or did the app opened in this state only. Is it possible for you to provide steps to reproduce this issue.

[2018-05-04 12:08] rikimod commented on #1607
+1, really needed

[2018-05-04 12:08] torasike commented on #3635
@dotancohen use Postman console to see full information of responses.

[2018-05-04 12:12] harryi3t commented on #4475
@NicoVerdonk That's not a bug, it's by design. For your use case, you need to clone the output first before mutating it.

[2018-05-04 12:12] #4475 closed, assigned to harryi3t

[2018-05-04 12:27] prashantagarwal commented on #4484
@jfren484 Are you referring to the icon in the status bar or in the sidebar.

[2018-05-04 12:40] kudinov-fedor commented on #3312
+1

[2018-05-04 13:19] P1llus commented on #4523
If you have any issues with Newman, the issue would need to be posted here: https://github.com/postmanlabs/newman/issues

I reuse JSON objects heavily already, you can just store it as a variable in your pre-request script, then reuse the json object the other places you need it.

[2018-05-04 13:23] brad-gardner commented on #4342
I've been having this happen continuously since the last update, the majority of my team has the same issue. We are using Postman 6.0.10 on the mac.

I'm keeping an eye on the postman console now as well and will post any errors I find if there are any.

[2018-05-04 13:49] kamalaknn commented on #3145
@MiguelTVMS This should be fixed in the latest release of Postman(6.0.10 at the time of writing). Could you update your app to the latest version and verify this?

[2018-05-04 13:49] ghost commented on #2392
+1

[2018-05-04 14:12] cbarrerah-sogeti commented on #4523
Hi,

Yes i reuse the JSON objects too, but i'm not able to use the JSON i can output to the log or convert from JSON to String and save into a variable as the datasource for a runner run, because the runner (or newman, that's why i included it) is unable to accept the environment variable value as the "JSON to use as datasource".
I can manually copy the JSON text to a new file, save it to disk and

[2018-05-04 14:12] rodmaz commented on #2701
+1

[2018-05-04 14:25] rvq opened #4525 "Dropdown for same key values [Feature]"
We use many X-Auth-Types and X-Identity-Types in preset headers.
But as there are so many of them they take up a lot of screen space.

Would it be possible to have a drop-down for the values tab? We constantly have to deactivate and activate them.

[2018-05-04 14:36] jfren484 commented on #4484
I'm referring to the search icon just above the large text box that holds
the response (there's also a Copy icon and, when a response is present, a
Save Response button).

[image: image.png]

On Fri, May 4, 2018 at 7:27 AM Prashant Agrawal <notifications@github.com>
wrote:

[2018-05-04 14:42] prashantagarwal commented on #4484
@jfren484 If it is possible for you, can you try this on our canary app and check if it is still happening for you. You can download canary from https://www.getpostman.com/canary

[2018-05-04 14:57] jfren484 commented on #4484
Sure, I'll try it out.

On Fri, May 4, 2018 at 9:42 AM Prashant Agrawal <notifications@github.com>
wrote:

[2018-05-04 15:01] jfren484 commented on #4484
It DOES work the way I would expect (and desire) in the canary app. Does
that mean it will be in an upcoming release?

On Fri, May 4, 2018 at 9:57 AM Jay French <jay@frenchfryz.com> wrote:

[2018-05-04 15:02] prashantagarwal commented on #4484
Yes it will be there in next release. Thanks for verifying the fix.

[2018-05-04 15:27] ClementParis016 commented on #4359
I encountered the same issue on the same OS & release as the OP, but after executing `killall Postman` everything went back on track, so there may be different origins to this problem.

[2018-05-04 16:39] tristanleboss commented on #3858
Could be a cool idea to let user know there is a problem with the content-lengh like "Response body length is different than the one indicated in the Content-lenght header; this may lead to problem."

[2018-05-04 17:04] vdespa commented on #4518
Great, thank you for the quick reply.

[2018-05-04 17:16] cuzic4n commented on #4488
Thanks for your reply and bringing up the RFC spec.
I am not sure we can say that it "Looks like the server is not spec-compliant"... IMO

Postman Chrome App does not behave this way and it was implemented to the same RFC. The way the spec is written it's not clear that you can claim if sending the creds in the HTTP Basic Auth header AND including the client_id in the body constitutes a violation.

[2018-05-04 17:58] cwarren commented on #4360
Looking forward to getting this fix on stable

[2018-05-04 18:54] brendanstennett commented on #2801
+1

[2018-05-04 19:22] StephenOTT commented on #3346
Is there a way to show disabled query params?

It seems that query params only show in the docs if they are "checked" / turned on.  If there are many optional query params that are documented, it makes the docs and postman file very messy to work with.

The goal here is to have the params shown in the docs, even when the param if "unchecked"/disabled.

[2018-05-04 19:25] StephenOTT commented on #3346
example:
![screen shot 2018-05-04 at 3 23 55 pm](https://user-images.githubusercontent.com/1994838/39648089-4c25e3e4-4faf-11e8-8c76-866b9117e69d.png)

Where all those params are optional and we just want to show the available options and not dirty the CURL

[2018-05-04 20:06] govindrai opened #4526 "Feature Request: Ability to Execute Examples in Postman"
Currently, we can save different examples of a req/res for each postman request. Quite often, depending on my task, I want to be able to actually run those examples. Currently, every time I have to test a request which is an example, I have to go into the example, copy and paste the request body, into a new window, and test it.

I know I can easily create 4 requests different requests for the four

[2018-05-04 21:43] govindrai opened #4527 "Feature Request: Create a shortcut to search requests without needing to access sidebar"
Feature:
I want to easily be able to fuzzy search a request by hitting, say, Command + F, and either have it open the side search bar and place the cursor so I can just start typing, OR,

better yet, think of Command+P in Sublime, where you can fuzzy search any file name, or slack's Command + T, or mac's spotlight (Command + Space), where a search box appears in the middle of the UI and you can ju

[2018-05-04 21:48] govindrai opened #4528 "Feature Request: Ability to Fuzzy Search Requests in Sidebar"
Self explanatory, but currently searches have to be exact matches in the sidebar. Fuzzy Search is super helpful when you're trying to search similarly named requests and helps find results with less typing. It definitely creates a better overall user experience. (For example of the power of fuzzy search, see Command + P in sublime)

[2018-05-04 22:37] djo504 opened #4529 "Collection tests randomly fail (403 Forbidden) from collection runner and pass when run alone"

[2018-05-05 02:12] QuangMuop opened #4530 "Export CSV and show prompt Save As..."
Hi Postman friends, I have an issue when export CSV that it automatically save CSV to my code project folder, but not show the prompt "Save As" as expect. the code like this:

[code]

When I export PDF, the showing of "Save As" prompt is ok with: `response.setContentType("application/pdf");`

How could Postman export CSV and show prompt "Save As"?
Thank you so much!

[2018-05-05 22:33] alvagenesis commented on #3774
Same here! I have to hit the save button for every request in the collection before i was able to run it.

[2018-05-06 08:01] dsreenivas commented on #3774
Solution for :Runner doesn't run the collection and returns error "request url is empty".
Before going to Collection runner, save the individual request and go to Collection runner and run it, it will work.
It work's for me, when i did the same.

[2018-05-06 10:40] vdespa commented on #4052
@verglor Indeed your are right. I have missed that.

Thanks for pointing that out.

[2018-05-06 11:17] dotancohen commented on #3635
@torasike That is not a solution as I have no way of knowing that there was additional output that needs to be addressed. That's the problem: when using Pretty Print there is no indication that some output has been hidden.

[2018-05-06 11:37] torasike commented on #3635
@dotancohen you can add a simple test script for your collection or request, to identify if something was wrong.

[2018-05-06 15:17] sivcan commented on #4522
Yes, @sujitblues - I understand that the runner window is black. Just click on the runner window and then open developer tools -  View > Developer > Show DevTools (Current View)

[2018-05-06 15:20] harryi3t commented on #4488
@cuzic4n Sorry, I thought this was about grant type `authorization code`.
You are right, for grant type `client credentials`, the client_id should not be sent.
I will take another look at the RFC and fix this bug.
Thank you again for reporting this bug.

[2018-05-06 16:02] cuzic4n commented on #4488
Absolutely. Thanks for all your support & efforts. Postman is awesome!

[2018-05-06 21:49] dkuku commented on #3849
On linux I can't copy from pretty formatted response but from raw response it's goes without problems.
Maybe this will be a hint to help for you solve this.

[2018-05-06 22:03] rtablada commented on #1498
When setting Content-Type and Accept to `application/vnd.api+json` you can send JSON::API formatted requests, but you do lose formatting.

I would +1 being able to define custom mappings for formatters that wasn't coupled to the headers and even being able to register your own custom `Content-Type`s for quick typeahead would be REALLY helpful and save from some typos.

[2018-05-07 05:36] jayanthktn commented on #3171
+1

[2018-05-07 07:03] suyash248 commented on #3684
Any update on this feature?

[2018-05-07 08:58] Shambler13 opened #4531 "Postman-AWS4 Signature Does Not Match"
Hello,

I want to send a GET request to an Amazon server.
I have the credential, Key and the Secret key.

I have followed the way to build a signature as Amazon suggest , see link below (https://docs.aws.amazon.com/fr_fr/AmazonS3/latest/API/sig-v4-header-based-auth.html)

Using their parameters, i found the same signature they provided in example.

I changed the parameters to use mine, the key, se

[2018-05-07 09:31] funkydunc commented on #3137
+1 same here.

I would like to be able to store a different relative file path per request:

I'm using Postman / Newman to test a CSV Import API. Each tests uses a different file which tests a different error case.
- e.g. Request 1 uploads: 'data/0_all_fields_good.csv'
- Request 2 uploads: 'data/1_col_1_empty.csv', and so on for many test cases

I can export the collection to json, and add the 'sr

[2018-05-07 10:07] swatthinan opened #4532 "Cannot find module 'csv' error while csv is used."
Hi,
When i tried to run the below code, i am getting "Cannot find module 'csv' " or " ReferenceError: csv is not defined"
[code]
Could someone please help me with this?

Regards,
Swathi

[2018-05-07 10:20] kunagpal commented on #4532
@swatthinan I've updated your code snippet to make it easier to read. As for the ReferenceError, this is an actual issue with your snippet, as `csv` isn't defined before being used. You can directly use the `parse` instance defined on the first line, as follows: `parse('CSV content', options);`, where options is an object of options.

For more details, you'd want to take a look at  http://csv.adal

[2018-05-07 10:50] swatthinan commented on #4532
Thanks @kunagpal! I shall try again with all the points you have mentioned.
I am sure it will be helpful.

[2018-05-07 11:16] Dinesh-Dewangan commented on #2686
Same Problem Facing In Ubuntu 16. SomeOne help how to resolve it

[2018-05-07 11:32] erdemkose commented on #2256
I also had the same issue with the native windows app.

My laptop has two graphics cards:
- nVidia Quadro 2000M (Default)
- Intel HD Graphics

When I switch to Intel, Postman works; otherwise it is just a blank window.

![image](https://user-images.githubusercontent.com/4168527/39699742-22ac93d6-5203-11e8-8c2d-69d4dac72cde.png)

[2018-05-07 11:37] Tenkasi-Subramanian commented on #4497
@preethammavin  Thanks for assigning this request.

[2018-05-07 11:39] Tenkasi-Subramanian commented on #4451
As the conversion itself not proper closing this issue.

[2018-05-07 11:39] #4451 closed, assigned to nobody

[2018-05-07 12:16] dhineshwiz commented on #4531
Hey @Shambler13, Can you try using AWS signature under authentication type,
please refer this docs, https://www.getpostman.com/docs/v6/postman/sending_api_requests/authorization

[2018-05-07 12:50] dhineshwiz commented on #4530
Hey @QuangMuop , I could able to see save prompt on exporting csv file,
<img width="826" alt="screen shot 2018-05-07 at 6 09 34 pm" src="https://user-images.githubusercontent.com/10631268/39702350-23faff88-5222-11e8-83af-5dfd46977520.png">

I have created the mock server with above headers,
<img width="908" alt="screen shot 2018-05-07 at 6 10 36 pm" src="https://user-images.githubusercontent.com/1

[2018-05-07 13:01] romaromaniv opened #4535 "[Windows] Postman crash on send and download"
Please read through the [guidelines](https://github.com/postmanlabs/postman-app-support#guidelines-for-reporting-issues) before creating a new issue.

**Describe the bug**
Postman application crashes.

It looks like
![image](https://user-images.githubusercontent.com/28062488/39702893-f037660e-520e-11e8-99f7-9510f5f930ce.png)

**To Reproduce**
Steps to reproduce the behavior:
1. Select postman test

[2018-05-07 13:04] dhineshwiz commented on #4528
@govindrai , Thanks for feature request.

[2018-05-07 13:45] dhineshwiz commented on #4525
@RvQ Thanks for suggestion, I am adding as feature on ui/ux.

In mean time you can try using pre-request script to dynamically  assign header value, so that you can group all similar header values to an array,

<img width="864" alt="screen shot 2018-05-07 at 7 12 27 pm" src="https://user-images.githubusercontent.com/10631268/39705023-cad03370-522a-11e8-8035-2cbf0e27dd6e.png">
<img width="862" alt=

[2018-05-07 14:01] dhineshwiz commented on #4527
Hey @govindrai Thanks for suggestion, currently cmd+f can used for searching collection when collection sidebar is on focused. I am adding this as feature request

[2018-05-07 14:03] rvq commented on #4148
As we can not have multiple certificates for the same endpoints right now then the edit functionality is a must! Please implement this soon. :)

[2018-05-07 14:10] rvq commented on #4033
I am all for this
**2. Implement the ability to assign multiple certificates to the same domain in Settings->Certificates, with some way to switch between them.**

How I manage multiple certificates for same endpoints as a workaround:
1.  Have a dedicated folder for an endpoint with **crt.crt** and **key.key** with a **genericpassword**
2. To change the certificate I just copy/replace new certific

[2018-05-07 14:50] johnib commented on #1475
so many likes, so long ago -- any update on the ETA for this? :)

[2018-05-07 15:49] AnthonyRinaldi commented on #1321
When will this be fixed? This is a hard stop for using Postman.

[2018-05-07 16:04] AlexanderTunick opened #4536 "Using a variable with undefined value causes the request to error"
Hi. Encountered an issue.
I have this script in Pre-request Script tab

And added "arrayInstitutions" to Environment

When I hitting "Send" button several times after 3rd or 4,5th time it(The "Send" button) just holds in "Sending..." status
And in request point:
`{{api_base_url}}targeting/job-functions/jobs?segmentCriteriaId={{job_seg_crit_id}}&institutionType={{arrayInstitutions}}`
{{arrayInstitu

[2018-05-07 19:25] mverma-va commented on #2392
Why do we need to wait for 2years for a feature which is needed by so many users?

[2018-05-07 22:57] charleskey510 commented on #4382
I have the same issue with Windows 10 (64-bit).  I'm a first-time user.  I have reinstalled twice and Postman has failed to launch 3 times.  It spin-locks on initialization screen "Preparing your workspaces...This may take a few minutes."

In addition to this thread, this bug has appeared in #4359 as well and hasn't been resolved as far as I can see.

When started from command prompt in Administra

[2018-05-08 07:01] dhineshwiz commented on #4536
hey @Alextunchii thanks for reporting the issue, we will fix it soon

[2018-05-08 09:30] bokivaol opened #4537 "Exported Results can't be imported"
![screenshot_1](https://user-images.githubusercontent.com/9623813/39749301-9f3cd8fc-52b2-11e8-9cd6-24c56f1865f8.png)

Problem is when I run collection and after that when I export results, those results can't be imported.

**Actual State**: Export results from Postman Collection Runner can not be imported again. I receive an error: "Could not import test run. Please check the format of the file."

[2018-05-08 10:21] sivcan commented on #4537
Duplicate of https://github.com/postmanlabs/postman-app-support/issues/3574

[2018-05-08 10:21] #4537 closed, assigned to nobody

[2018-05-08 10:31] President commented on #2801
+1

[2018-05-08 11:33] bokivaol commented on #3574
I also have a problem with this. My Postman v6.0.10.
I exported results with Postman v6.0.10 and imported it in Postman v6.0.10.

[2018-05-08 12:02] WhoSayIn commented on #2729
+1

[2018-05-08 12:17] dhineshwiz commented on #4535
Hey @romaromaniv  thanks for reporting, we will look into it

[2018-05-08 12:21] lpxxn commented on #2801
+1

[2018-05-08 12:45] sivcan commented on #3574
@bokivaol Can you share your collection that you're using in the collection runner with us on help@getpostman.com ?

Feel free to redact any sensitive information.

[2018-05-08 12:58] NareshKalakuntla commented on #1744
+1

[2018-05-08 13:24] bokivaol commented on #3574
@sivcan What should I share collection or exported results of the collection?

[2018-05-08 15:12] sscheitle commented on #3251
I'm on version 6 and having the same problem. Any fixes?

[2018-05-08 16:19] stantond commented on #3955
I'm seeing this as well

[code]

In Postman app

[code]

Shows as

![screen shot 2018-05-08 at 17 14 52](https://user-images.githubusercontent.com/3207366/39769294-aba30db0-52e3-11e8-8eed-fbc2fa8572ef.png)

But in the generated documentation it's

![screen shot 2018-05-08 at 17 18 16](https://user-images.githubusercontent.com/3207366/39769347-dcb19aac-52e3-11e8-8d8c-4ae049a77af9.png)

This is one

[2018-05-08 17:10] vincentracine commented on #3518
Still an issue v6.0.10 MacOS 10.12.6

[2018-05-08 17:17] rakeshnandigama commented on #3127
It worked for me when I turned off the SSL
File-->Settings-->General-->SSL certificate Verification --> OFF

[2018-05-08 17:42] andreipaz opened #4538 "Exec tests on captured calls"
Hi guys,

First of all, Postman rocks!

I'm currently working on building and consuming an API at work, and I'm trying to develop some workflow of API Testing with Postman, but I'm not certain if what I'm imagining is possible. I've really searched about, but I really did not find an exactly answer -- if it's possible or not.

I'd like to intercept the requests that my application make to my api e

[2018-05-08 19:17] cruinh commented on #285
+1

[2018-05-08 19:54] smrnv commented on #1104
+1

[2018-05-08 22:01] Tapppi commented on #4342
@kamalaknn looks like the error isn't constant anymore, but still on/off happening.

[2018-05-08 22:23] bj97301 opened #4539 "upgraded account and not able to edit old monitor"
Please read through the [guidelines](https://github.com/postmanlabs/postman-app-support#guidelines-for-reporting-issues) before creating a new issue.

**Describe the bug**
I upgraded my account and can no longer access my old monitors but still get error alerts via email for them.

**To Reproduce**
Steps to reproduce the behavior:
1. Upgrade your account using a trial code thingy
2. Kill your api

[2018-05-08 22:47] mattrixman commented on #3691
I thought I'd add that wherever `right click, Copy -> CLIPBOARD` is broken, `highlight -> PRIMARY` is also broken.

Typically the `PRIMARY` buffer is where highlighted text goes, and then is pasted from via a middle-click.  It's a separate buffer from `CLIPBOARD`, but the only difference is that it has it's own read/write hooks.

More on this: https://unix.stackexchange.com/questions/139191/whats-

[2018-05-09 01:51] rcarvalhosilva commented on #3418
If there is the possibility of defining the authorization header for a collection it should also be possible to set a base url since different servers could have different authorization headers, right? So I think it makes a lot of sense to add this feature and it would help to save a lot of time. And just like we can choose to use a different token for a specific request we could choose to use ano

[2018-05-09 05:53] barotashish commented on #4514
Yesterday I do installation of Postman on my Ubuntu Linux 17.10

--
DISTRIB_ID=Ubuntu
DISTRIB_RELEASE=17.10
DISTRIB_CODENAME=artful
DISTRIB_DESCRIPTION="Ubuntu 17.10"
NAME="Ubuntu"
VERSION="17.10 (Artful Aardvark)"

-- uname -a
Linux ashish-barot 4.13.0-39-generic #44-Ubuntu SMP Thu Apr 5 14:25:01 UTC 2018 x86_64 x86_64 x86_64 GNU/Linux

-- Postman Version
v1.6.16

[2018-05-09 07:39] Akumzy opened #4540 "@set account is not displaying error message like username already exist"
Trying to create a new username but the username is taken already but no feedback apart from ajax response through devTool network

**Screenshots**
![screenshot from 2018-05-09 08-29-37](https://user-images.githubusercontent.com/25849232/39801699-fb3ee4d6-5363-11e8-8e19-4615129c6b31.png)

**App information:**
 - App Type [Native App]
 - Postman Version [6.0.1]
 - OS: Ubuntu 17.10]

[2018-05-09 08:10] pregress commented on #2494
So based on @davefuentes link in his solution. We added this to our CI pipeline, without prompting for passwords.
Powershell:
<pre><code>
$certPath = "Path\to\pfx"
$keyFilePath = "Path\To\Save\.key"
$crtFilePath = "Path\To\Save\.crt"
$password = "PasswordForPrivateKey"

# Create key file
&$openSslPath pkcs12 -in $certPath -nocerts -out $keyFilePath -password "pass:$password" -passout "pass:$passwo

[2018-05-09 08:33] notarmara commented on #3757
I finally found the problem and solved it. It's needed to set NO_PROXY environment variable:

set NO_PROXY=localhost,127.0.0.*

adding all hosts of the internal network.
Please share this information on your guide in order to avoid the same issue for other people.

[2018-05-09 08:33] #3757 closed, assigned to harryi3t, kamalaknn

[2018-05-09 08:40] gosiapolitowska commented on #1603
any updates on it? this feature would be awesome :) I want to introduce postman to my team but sharing the sensitive data (passwords, api keys) is out of the question. Even creating individual postman accounts is out of question cause the sensitive data stored in variables would be synced with postman cloud. being able to use os variables would solve all these problems

[2018-05-09 08:52] hpawe01 commented on #4335
Hello, I have the same problem. I work with [JSON API](http://jsonapi.org/format/) and need the `Content-Type` header to be `application/vnd.api+json`. As this is a type of JSON I want the normal JSON syntax highlighting in the "Body"-Tab. But as @Umkus describes, I cannot have both.

This is very annoying and at first I was wondering, why my request wouldn't go through until I found this (imo bug

[2018-05-09 09:09] AntoniusGolly opened #4541 ""New Request" in a collection"
I love working with Postman and I use collections extensively. However, one thing annoys me. If I want to add a request to an existing collection I have to do it via  New -> Request -> (in Modal) select collection.
This selection is a three-lined list, very hard to browse through with my many existing collections. I know I can use a search there. But there would be a way easier way to do this. Why

[2018-05-09 09:09] doctorgucci commented on #3344
@LeopoldLerch I have the same problem. Did you manage to find a solution to this?

[2018-05-09 09:18] daniel0x00 commented on #4430
I think this is a clear bug. As @godeater suggested, Postman Windows client is picking up the http_proxy and https_proxy settings from the environment variables, even when clearly specifying to not use proxy in Postman settings. This also prevent us to work against internally-facing APIs that should not by proxy'd. As a work-around, delete the environment variables in Windows and it will work, but

[2018-05-09 09:57] kamalaknn commented on #4541
hi @AntoniusGolly

Thanks for your feedback. I'm marking this as a feature request. We'll consider this in our upcoming releases.

[2018-05-09 10:39] sivcan commented on #3574
@bokivaol Export the collection and share that, please.
Not the exported run.

[2018-05-09 13:21] kamalaknn commented on #4538
Hi @andreipaz

If you want to run tests on API you can take a look at our hosted service for [monitoring](https://www.getpostman.com/tools#api-monitoring) or the [free CLI tool](https://www.getpostman.com/docs/v6/postman/collection_runs/command_line_integration_with_newman)

You can also visit our [community forum](https://community.getpostman.com/) for more help.

I'm closing this as this is not

[2018-05-09 13:21] #4538 closed, assigned to nobody

[2018-05-09 14:14] mikem opened #4542 "Requests in Postman Console include disabled headers"
## Summary

In the Postman Console, request headers are listed even if they are not checked in the UI.

## Steps To Reproduce

1. Open the Postman Console
2. Open a GET request, make sure it has a request header in it
3. Make the request, then view it in the Postman Console and note that the request header is present
4. Disable the header by removing the check in the check box in front of the requ

[2018-05-09 14:35] mortac8 commented on #1321
Also would like SOCKS support.  Very important for us.

[2018-05-09 14:36] hakankaraduman commented on #3822
is there any news about this?

[2018-05-09 15:23] theholiday commented on #1678
+1

[2018-05-09 15:48] andybellenie commented on #2302
+1

[2018-05-09 16:51] marpo60 commented on #1321
In the mean while you could do a local tunnel.

[code]

Use `localhost:9999` in your postman address and it will be the same as accessing `destination.com:80` _from_ the `sock5_proxy_server`

https://www.ssh.com/ssh/tunneling/example

[2018-05-09 16:58] andig opened #4543 "Could not update authorization data for OAuth1 request"
**To Reproduce**
Steps to reproduce the behavior:
1. Create POST request
2. Select authorization type OAuth1, optionally complete credentials.
3. Click "Preview request"
4. See error "Could not update authorization data"
5. Subsequently sending the request with valid credentials fails.

**Expected behavior**
Request updated and ready to send.

**App information (please complete the following infor

[2018-05-09 17:09] andig commented on #283
+1 - 5 years and still not available. Prevents me from postman with the discovergy API. Now I need to roll my own client just for testing purposes :(

[2018-05-09 17:20] science695 commented on #3290
I can confirm this is happening on ubuntu 18.04 as well

[2018-05-09 17:39] jacklqt commented on #1535
+1

[2018-05-09 17:59] PilotConway commented on #3509
We are using a mock and we definitely would like the timestamp to be resolved when returning the example from a mock request. Some of our mock responses need to have date/times within a certain range of `now()` and constantly having to go in and set timestamps gets annoying after a while.

Really we'd like to be able to dynamically have variable resolution for everything in the examples when using

[2018-05-09 18:14] brigaldies commented on #3657
I was also looking for such file read capability in order to load my Postman JS test scripts from a locally cloned GIT repo.

[2018-05-09 18:19] joelbqz commented on #2724
Any update on this? +1

[2018-05-09 19:15] arthurgeron commented on #2701
+1

[2018-05-09 21:03] dnaidionov commented on #2627
I'm still seeing this issue. Running the v6.0.10

[2018-05-09 22:25] Skeeve commented on #1321
Nope. In the meantime I can more easily use RESTClient + FoxyProxy because for this I do not have to change any url.

To be honest: I find it much more convenient and I do not miss Postman at all.

[2018-05-10 00:14] saltysealion commented on #1104
+1

[2018-05-10 00:22] Kallaste commented on #4360
I am very much looking forward to it too.

[2018-05-10 01:21] chhahira commented on #3962
any udpates please? how can i resolve this. Its really annoying that i cannot login to my postman.

[2018-05-10 03:18] dtvuong commented on #1228
+1

[2018-05-10 05:54] OldStarchy commented on #3635
If the content type in the response is marked as "application/json" and for some reason, the content of the response has non-JSON in it, postman should show a syntax error on the "pretty" tab rather than just silently eating it up.
I'm using postman (windows app) to test if my endpoints are returning the correct response, but as it is I'm false positives, leading me on a wild goose hunt at the oth

[2018-05-10 07:11] susikka commented on #4092
@madebysid Any progress on this ? Got some really urgent stuff that is stuck because of this issue. Would help if this could be resolved asap.

[2018-05-10 08:39] savithaAjitraj commented on #3331
Hi is multipart supported now on postman?

[2018-05-10 08:47] Amunak commented on #3749
Thirded. Postman is nice, but installing and updating it is a pain, and there needs to be a way to isolate it and install it properly, with tools already available for Linux. Auto-updaters are a huge no-no; unless you want to open source your project and provide proper packages in various distros' repositories, Flatpak is the way to go.

[2018-05-10 09:51] sankalp0o commented on #4256
Thanks for the suggestion @dmscheck. We are looking into adding quicker options for creating new requests inside a collection. Meanwhile you can use the "New" button in the app header to create a API Documentation. This would let you create a new collection with a list of requests with methods, url etc.

[2018-05-10 10:21] yarivat commented on #1315
+1

[2018-05-10 10:27] sankalp0o commented on #4466
Hi @NG-tylerholden,
We actually are planning a feature for adding comments/annotations to specific places in a collections. This should solve most of your use cases.

[2018-05-10 10:42] sankalp0o commented on #4449
Hi @JacopoKenzo and @autumndev ,
We are currently working on a feature which would let developers work (locally) with different values of a single variable. We're taking a holistic look at how variables work inside postman and hopefully this would solve a bunch of issues including yours.

[2018-05-10 11:34] rmatec commented on #1321
Can we assume this will never be implemented?

[2018-05-10 12:00] rohit0903 commented on #1946
Do we have any updates ?? Facing the same issue with 300+MB size zip file

[2018-05-10 12:03] p1111-0 commented on #2406
we are facing the same issue on Postman for Chrome version 5.5. Please suggest.

[2018-05-10 12:21] romaromaniv commented on #4535
Just next event viewer piece of information.

In this case postman just dissapeared(

***
Faulting application name: Postman.exe, version: 1.6.16.0, time stamp: 0x5a667119
Faulting module name: KERNELBASE.dll, version: 10.0.17134.1, time stamp: 0x701ca188
Exception code: 0xe0000008
Fault offset: 0x000000000003f218
Faulting process id: 0x8f8
Faulting application start time: 0x01d3e857d111a6e7
Fault

[2018-05-10 12:21] dhineshwiz commented on #4542
Hey @mikem thanks for reporting, I could able to reproduce it. There is already opened issue for this issue https://github.com/postmanlabs/postman-app-support/issues/3302

[2018-05-10 12:21] #4542 closed, assigned to nobody

[2018-05-10 12:21] alvarolorentedev opened #4544 "Not able to reorder the last tab"
**Describe the bug**
Not able to reorder the last tab drag and dropping it in a different order.

**To Reproduce**
Steps to reproduce the behavior:
1.  Open multiple tabs
2. swap some of them not the last one
3. try to move the last tab
4. last tab will not move

**Expected behavior**
Be able to reorder the last tab same as the rest

**App information (please complete the following information):**

[2018-05-10 12:27] swateek commented on #3331
@sify21 it doesn't help. Any other thought?

The code in my case looks for req.body, if I want to send through POSTMAN am unable to achieve that along with file from form-data.

[2018-05-10 12:29] swateek commented on #2490
any solution to this?

[2018-05-10 12:29] dhineshwiz commented on #4544
Hey @kanekotic , just tried swapping the last tab, it was working fine. I couldn't reproduce this case.
I think you are trying move a tab to last, which is not possible. Instead drag the last tab to desired position

[2018-05-10 13:02] alvarolorentedev commented on #4544
yep, you are right...sorry on the steps to reproduce the error 😞 . fast question, why is this not possible?

[2018-05-10 13:38] tayclark commented on #3503
@DipendraPoudel - Have been trying to solve this for months. Thank you!

[2018-05-10 13:40] jgroom33 opened #4545 "Import of team collection to My Workspace deletes Team collection"
**Describe the bug**
The Team collection is deleted.

**To Reproduce**
Steps to reproduce the behavior:
1. Create Team collection
2. Generate `Run in Postman` button
3. Navigate to My Workspace
4. Click `Run in Postman` button
5. Choose to 'replace' collection
6. Notice Collection from Team is missing

**Expected behavior**
Import into My Workspace should not provide option to overwrite.  It shoul

[2018-05-10 15:13] sgaree opened #4546 "Ability to inherit authorization on clicked links without adding to collection"
When browsing a dynamic API, such as by clicking on a link in an Odata resource, from a set of base resources in a collection using "Inherit auth from parent" the authentication is not inherited, since the new request is not part of the collection.  It doesn't make sense to add dynamically generated resources  to the collection, since they are frequently transient.

To submit the new request you m

[2018-05-10 15:29] afayes commented on #3022
I need that bulk export all collections feature too!

[2018-05-10 15:57] 0Steve0 commented on #1180
+1

[2018-05-10 16:17] ShabbirGithub commented on #2214
I had envronment variables 'http_proxy' and 'https_proxy' that were preventing me to get to localhost. Removing the environment variables did the trick.

[2018-05-10 17:30] gui-moreira commented on #4360
I am having the same issue

[2018-05-10 18:14] jpSimkins commented on #4254
I am experiencing this a lot now on Ubuntu 18.04. I have a local API I am working on and it works fine everywhere but on Postman. Currently testing with a browser for now as this happens a lot and the app is now unusable.

[2018-05-10 18:30] AmyGao18 commented on #1946
Nope, ☹

From: rohit0903 [mailto:notifications@github.com]
Sent: Thursday, May 10, 2018 8:01 AM
To: postmanlabs/postman-app-support <postman-app-support@noreply.github.com>
Cc: Gao, Amy <gaoa@ccf.org>; Comment <comment@noreply.github.com>
Subject: [EXT] Re: [postmanlabs/postman-app-support] Large file support in Postman (#1946)

Do we have any updates ?? Facing the same issue with 300+MB size zip

[2018-05-10 18:36] seabamirum commented on #2214
I have SSL certificate validation off, but it still didn't work. Changing localhost to [::1] (whatever that means) fixed it.

[2018-05-10 18:43] herikwebb commented on #2905
+1

[2018-05-10 19:01] thetreythomas commented on #2520
Any updates on this? The last comment is from Dec 2016.

[2018-05-10 19:55] rodrigolopezguerra commented on #1678
+1

[2018-05-10 20:51] mikecg commented on #1535
+1

[2018-05-11 00:26] brugr9 opened #4547 "Obstructive equal-sign in query-string for parameter without value"
**Description**
For a wsdl request, the query-string contains a parameter with no value: https://mnt.jobat.be/ws/JobPost.asmx?wsdl
If using a parameter without value in Postman, an equal-sign is added to the query string when running the request in a **monitor on the web site**.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a request.
2. Enter URL https://mnt.jobat.be/ws/JobPost.asm

[2018-05-11 01:07] mikem commented on #4542
Thanks @dhineshwiz, I subscribed to that one and will follow its progress.

[2018-05-11 05:43] ChadTaljaardt commented on #3740
+1

[2018-05-11 06:28] bitzip opened #4548 "Run monitor API throw parentMissingError error"
I followed the [API document](https://docs.api.getpostman.com/#5b277ca0-7114-e04e-f1f5-246fbbd6d973) to run a monitor, it throw a weird error saying parentMissingError. And I google `parentMissingError` nothing related was found ☹️.

## Screenshots
![image](https://user-images.githubusercontent.com/4319332/39909773-cd2f0f20-5526-11e8-912a-26dbb21b93c9.png)

[2018-05-11 07:23] sujitblues commented on #4522
Please see the attached file for log .[developer tools - View > Developer > Show DevTools (Current View)]

Thanks,
Sujit

From: Sivcan Singh
Sent: Sunday, May 06, 2018 8:47 PM
To: postmanlabs/postman-app-support
Cc: sujitblues ; Mention
Subject: Re: [postmanlabs/postman-app-support] Blank window for collection runner . (#4522)

Yes, @sujitblues - I understand that the runner window is black. Just

[2018-05-11 07:40] jesperhoy opened #4549 "International characters in URL path not encoded correctly with PUT requests"
For example issuing a PUT request to http://example.com/æøå.html

The 3 danish characters in URL sent to the server are encoded in some unknown format - two bytes per character (perhaps UTF-16 ?) by Postman.

If you open the same URL in a browser, the 3 danish characters are correctly UTF-8 encoded and then percent-escaped, so that the server sees:
http://example.com/%C3%A6%C3%B8%C3%A5.html

The c

[2018-05-11 08:28] akbmugha1 commented on #3602
+1 - this is real need for us, please can an update be provided as to when we can expect this in a new release of Postman?

[2018-05-11 08:54] JoelNGeorge commented on #2801
+1

[2018-05-11 08:58] smendez-hi commented on #1647
@ingenuity2k I'm having the same issue. Any updates?

In the Webapp, `db.objectStoreNames` returns a lot of names, but in the native app the property is empty, so that's why the object store specified (requests) is not found. But i don't know how to create it.

EDIT: There are 2 databases in the native app (`indexedDB.webkitGetDatabaseNames()`), "postman" and "postman-app". The latter has all the

[2018-05-11 09:07] realjay007 opened #4550 "API example not syncing request body to cloud"
I ran a request in a collection by changing some request body values and removing some fields. I then went ahead to save it as an example using the "Save response" button.
However when viewing on the web, I noticed that the example request body does not match that in the postman program. It used the values from the main request.

Postman example request body

![postman](https://user-images.githubu

[2018-05-11 09:17] da-benny commented on #1104
+1

[2018-05-11 09:21] Rezi commented on #350
+1

[2018-05-11 09:42] roman-svystun commented on #1678
+1

[2018-05-11 09:46] AntoniusGolly commented on #1678
Meanwhile, use *Tests* tab to create custom Javascript that's executed on the response. You can write all the funky stuff to your console that you desire. (Adapt the code accordingly + and open Console [Ctrl + Alt + C].)
[code]

will result in (example):
[code]

[2018-05-11 10:10] pagnotta commented on #1345
For example Elasticsearch REST API expects the queries in a GET body...

https://www.elastic.co/guide/en/elasticsearch/reference/current/search-request-query.html

Right now it is not possible to query Elasticsearch with Postman due to Body disabled in GET.

[2018-05-11 11:23] me2resh commented on #1104
+1

[2018-05-11 11:43] kamalaknn commented on #2949
@bluesky139 @georgedpeterson @snaits

We've made a lot of changes to the Postman app's data storage layers. Could you update your apps to the recent version(`6.0.10` now) and verify if this still exists?

[2018-05-11 11:47] prashantagarwal commented on #4549
@jesperhoy Can you try sending this request http://postman-echo.com/get?url=http://example.com/æøå.html. This is working correctly for me and the url is being encoded as http://example.com/%C3%A6%C3%B8%C3%A5.html

Is there some screenshot that you can attach. Thanks

[2018-05-11 11:49] unlucio commented on #1345
I'm not sure anyone from postman is actually reading this 🤔

[2018-05-11 11:55] prashantagarwal commented on #4547
@brugr9 This is a duplicate of #3991 . I am closing this to track them all in one place.

[2018-05-11 11:55] #4547 closed, assigned to nobody

[2018-05-11 11:57] prashantagarwal commented on #4546
@sgaree Thanks for suggesting this. Although this is not there on our near term roadmap but we would definitely give this feature request a look. Thanks

[2018-05-11 11:58] kamalaknn commented on #1345
Hi @unlucio

We are tracking this request for a new feature to attach request body with GET request in this [issue](https://github.com/postmanlabs/postman-app-support/issues/2729).

We'll update the original thread when this feature is out.

Thanks for understanding.

[2018-05-11 12:03] prashantagarwal commented on #4545
@jgroom33 Thanks for reporting this. We will get this fixed in one of the future releases. I will keep you updated about it.

[2018-05-11 12:05] prashantagarwal commented on #4543
@andig Thanks for reporting this we will try to reproduce this issue on our end and will keep you updated.

[2018-05-11 12:07] ankit-m commented on #4550
Hey @realjay007,

I am able to reproduce this issue and investigating it. I will update this thread once we have a fix.

[2018-05-11 12:10] navennn commented on #1321
SSH tunnelling works.
ssh -L 12345:192.168.1.15:80 your-external-ip
in postman as dest you specify localhost:12345
Make sure proxy is **disabled** in the settings.

[2018-05-11 12:25] Skeeve commented on #1321
@navennn you totally missed the point. This is about socks5 proxy.

With that you have a socks 5 proxy which will forward any traffic to any target host.

Normal tunneling forwards traffic to one specific target host.

[2018-05-11 12:27] navennn commented on #1321
I know.
But this is a workaround to your issue. At least you can do it.

[2018-05-11 12:29] ankit-m commented on #4548
Hey @kelly-apollo,

Can you please email us at help@getpostman.com with the `monitor_uid`?

[2018-05-11 12:42] Skeeve commented on #1321
And @navennn you also missed the fact that there already is a much better workaround. Additionally your "tipp" already was given by @marpo60.

[2018-05-11 12:44] navennn commented on #1321
I read all of it, I know. You can't prove me wrong since I'm not wrong.

[2018-05-11 12:58] TomFS opened #4551 "Postman Crashes when trying to download files around 10Mb"
Please read through the [guidelines](https://github.com/postmanlabs/postman-app-support#guidelines-for-reporting-issues) before creating a new issue.

**Describe the bug**
Using GET to return a chunk of data (around 10Mb) when sending the request, Postman becomes unresponsive, in some cases crashing the computer entirely.

**To Reproduce**
Steps to reproduce the behavior:
1. Send GET request that

[2018-05-11 13:30] Moahamm commented on #2959
if i want to configure that cache-control to no-cache or no-store by using postman then how will it be possible?

[2018-05-11 13:32] unlucio commented on #2729
+1

[2018-05-11 13:40] alexstulov commented on #4360
Would be very nice to have this fix.

[2018-05-11 13:54] pierreprinetti commented on #1321
@Skeeve

Unless @navennn is representing @postmanlabs, I see no reason for being aggressive.

[2018-05-11 14:19] cd21h opened #4552 "Add MsgPack support"
**Is your feature request related to a problem? Please describe.**
New feature MsgPack encoding support
Msgpack: https://msgpack.org/

**Describe the solution you'd like**
### MsgPack responses
Response should be presented in
* json-based format:
[code]
* binary with ability to save to file
* text representation: base64 or text with hex-encoded non-printable characters (\0x0dTextString)

See // se

[2018-05-11 14:43] Skeeve commented on #1321
Okay, @pierreprinetti - I'm out. No more interest in Postman.

[2018-05-11 14:51] pierreprinetti commented on #1321
Just to clarify: nobody in this thread works for Postman AFAIK, except @abhijitkane. People are just trying to help.

That being said, bye bye @Skeeve!

[2018-05-11 18:11] jorge0136 commented on #2701
+1

[2018-05-11 18:20] staticvoidmaine opened #4553 "Read-Only Variables for Teams"
**Is your feature request related to a problem? Please describe.**
We're using Postman as a team. We use both environment and global variables pretty heavily. We try to share as many variables as possible to make operation as smooth and consistent as possible. Sometimes, somebody accidentally overwrites a shared variable and interrupts the operation of others. This problem tends to cause problems

[2018-05-11 18:35] bobbyyumm commented on #4360
I there a way to retrieve lost work, due to sync issue? i have lost 2 + days of work over 122 endpoints... when i login to my account its shows no activity past may 7th...

[2018-05-11 19:40] sivcan commented on #4522
@sujitblues - There's no log file attached.
Can you re-attach it ?

[2018-05-11 22:02] Kallaste commented on #4360
I have been using Canary for the past few days and it works perfectly. No sync problems. I just exported my collection data into it and it was just like being in stable (except blue, so that's nice).

[2018-05-11 23:02] brianbellon commented on #3485
I just submitted the same idea of Hide/Unhide above that seems to work great in JMeter.  I also wonder if Postman should prompt to Export when calling delete with a folder or full collection since a lot of information could disappear with no chance of recovery (that I know of).   I also have to work with a few  copies of a collection to work around this issue - one for the "full" version, and anot

[2018-05-11 23:50] shisapian opened #4554 "postman 5.3 vs postman 6.0 workspace"
**Describe the bug**
In 5.3v you can clearly distinguish between your own workspace and team workspace in postman UI.
Whereas in 6.0, the collections appear to be everywhere and there is no color change. It's becoming difficult to distinguish and human error prone. I want to see the workspaces only with projects published by me along with my development projects. ( I should see the projects in  te

[2018-05-12 05:34] harryi3t commented on #4543
@andig Could you post a screenshot with the filled details and the error message.
You can blur out the credentials.

[2018-05-12 07:20] kausality commented on #3117
+1

This is one of the reasons I had to rescind our published API docs from Postman back to Swagger.

[2018-05-12 07:44] Macoshark commented on #1104
+1

[2018-05-12 08:46] DedMorozzz commented on #4360
can you push fix from Canary into stable version? This problem exists more then 2 monthes

[2018-05-12 11:19] bluesky139 commented on #2949
I just test v6.0.10, it looks like no memory leak anymore, I think I can close this issue now.

[2018-05-12 11:19] #2949 closed, assigned to nobody

[2018-05-12 13:46] andig commented on #4543
Here we go:

<img width="1920" alt="screen shot 2018-05-12 at 15 42 31" src="https://user-images.githubusercontent.com/184815/39957937-96d7f07e-55fb-11e8-8dbf-191f8d9d0181.png">

[2018-05-12 20:10] P1llus opened #4555 "Character encoding issues in Postman (master issue)"
Hello everyone!

Several request has been made in terms of encoding errors on get requests on Postman requests, some are old (and resolved in like v4-5), but it has come back again.

Postman in general is of course a open source tool, where people respond and fix certain issues based on feedback on their free time and i still fully respect that, but i have seen that this request has been generally

[2018-05-13 03:41] blkfhusky commented on #2082
I got the same problem in mac app, version is 6.0.10

[2018-05-13 09:56] harryi3t commented on #4543
@andig All the fields in this form are required. Since the `consumer secret` was not provided, it's throwing the error. Please enter a value and it should work.

Once I get a confirmation from you that entering the fields works, I will mark this as a usability bug which is not just specific to OAuth1 but applies to other auths as well.

[2018-05-13 12:10] ChrisGeorg commented on #1535
+1

[2018-05-13 19:05] siddharthlatest commented on #4327
Seconding the original request here. Another use-case is when creating docs via Postman where OAuth session info is stored in a cookie. Being able to publish examples for those that include the cookie name=value would be great.

[2018-05-14 00:08] maddymanu commented on #2801
+1

[2018-05-14 03:44] bitzip commented on #4548
@ankit-m Sent already. Please check.

[2018-05-14 07:25] centur commented on #4458
Is there any chance this regression will be fixed ?

[2018-05-14 07:27] yairbudic commented on #1535
+1

[2018-05-14 07:32] jesperhoy commented on #4549
Getting an empty response (0 bytes) - see attached screen shot.
Perhaps that echo function doesn't work with PUT ?

![image](https://user-images.githubusercontent.com/12099212/39983149-f0b89b5a-5756-11e8-9eb1-ee618658d2b8.png)

Tried setting up a simple console program to catch the raw request bytes:
![image](https://user-images.githubusercontent.com/12099212/39983829-4dbb02aa-5759-11e8-94c5-7aa0d

[2018-05-14 07:37] guodage commented on #1066
+1

[2018-05-14 07:52] prashantagarwal commented on #4554
@shisapian We are fixing this in the upcoming release. Also we have already released this fix on our Canary app. Can you please download the Canary app and verify if this fixes the issue for you. You can download the Canary app from https://www.getpostman.com/canary

[2018-05-14 08:04] prashantagarwal commented on #2082
Hey Everyone. We are actively working on fixing this issue. I will keep you updated about its progress.

[2018-05-14 08:07] #1996 closed, assigned to numaanashraf

[2018-05-14 08:55] #4302 closed, assigned to sivcan

[2018-05-14 09:04] #3327 closed, assigned to sdnts

[2018-05-14 09:05] #3099 closed, assigned to kamalaknn

[2018-05-14 09:07] eiyiaioyou commented on #3117
+1

[2018-05-14 09:11] ingenuity2k commented on #1647
@smendez-hi nope, no further progress from my side.

I hope someone with more knowledge of the postman db/tables could provide some insight so we could modify @stephenmcd1 's script to adapt it to the apparent changes.

[2018-05-14 09:13] #2411 closed, assigned to SamvelRaja

[2018-05-14 09:14] #2742 closed, assigned to SamvelRaja

[2018-05-14 09:18] #3776 closed, assigned to SamvelRaja

[2018-05-14 09:31] BrixSat commented on #4108
Ubuntu 18.04 does not work either! only by using ctrl + insert and shift insert.

[2018-05-14 09:41] #2748 closed, assigned to SamvelRaja

[2018-05-14 09:43] #2736 closed, assigned to nobody

[2018-05-14 09:44] #3423 closed, assigned to sdnts

[2018-05-14 10:02] prashantagarwal commented on #3202
@Goltergaul This is the expected behaviour here. Closing specifically on X means you want to discard these tabs.

[2018-05-14 10:02] #3202 closed, assigned to sdnts

[2018-05-14 10:09] #3425 closed, assigned to sdnts

[2018-05-14 10:14] rahulbhanushali commented on #1744
+1

[2018-05-14 10:27] Goltergaul commented on #3202
@bpaczkowski that makes no sense from my point of view. Why should it be different from ctrl+Q and File->quit? Moreover this does not happen on windows, and worked properly in older versions of postman (at least the chrome version)

And it doesn't even warn you that your work will be lost.

[2018-05-14 10:35] smacktoid commented on #3425
Why was this closed, has it been fixed?

[2018-05-14 10:47] prashantagarwal commented on #3425
@scottmmmm This seems to be fixed in our Postman native apps.

[2018-05-14 10:53] smacktoid commented on #3425
Excellent!

[2018-05-14 10:55] #3508 closed, assigned to prashantagarwal

[2018-05-14 11:01] #2991 closed, assigned to nobody

[2018-05-14 11:04] #3915 closed, assigned to numaanashraf

[2018-05-14 11:08] #2963 closed, assigned to prashantagarwal

[2018-05-14 11:09] #2958 closed, assigned to nobody

[2018-05-14 11:12] prashantagarwal commented on #2669
@walterfawcett Let me know if this is still happening for you on our latest version of the App thanks.

[2018-05-14 11:12] #2669 closed, assigned to SamvelRaja

[2018-05-14 11:54] #4214 closed, assigned to harryi3t

[2018-05-14 11:55] #3997 closed, assigned to SamvelRaja

[2018-05-14 11:58] prashantagarwal commented on #3623
@veetil09 Can you update to the latest version of Postman app and verify if it is still happening for you.

[2018-05-14 11:58] #3486 closed, assigned to sdnts

[2018-05-14 12:29] harryi3t commented on #4108
Duplicate of https://github.com/postmanlabs/postman-app-support/issues/3691
Please subscribe to the original issue for further updates

[2018-05-14 12:29] #4108 closed, assigned to nobody

[2018-05-14 14:54] ghost commented on #2801
+1

[2018-05-14 14:55] camleng commented on #3518
@philicomus Have you tried just using localhost (with no port)? It's working for me as of today.

[2018-05-14 15:03] mortac8 commented on #1321
I just reverted to using the postman chrome app then set the socks proxy in my browser.

[2018-05-14 15:08] andig commented on #4543
Confirmed usability issue. Sorry for the noise- this one really wasn't obvious to me :O

[2018-05-14 15:40] jgroom33 commented on #4545
It appears that the Collection name is used as a uuid across workspaces.  imo, if there is to be a shared uuid across workspaces, it should be the collection id.  But ideally, a workspace should be able to have duplicated names and id's across workspaces.

[2018-05-14 16:42] stephenmcd1 commented on #1647
@smendez-hi, @ingenuity2k I'll try to take a look at this today to see if I can figure out why it's breaking....

[2018-05-14 17:21] kamalaknn commented on #3202
@Goltergaul In the latest version of the Postman desktop app(6.0.10 now) we preserve all the open tabs in your last window. Quitting the app through `Ctrl + Q` or clicking on the `X` button should save the state your app and restore it back when you open it again. Can you update your app to the latest version and give this a try?

[2018-05-14 17:36] stephenmcd1 commented on #1647
It looks like things have moved around and changed a bit in the latest version.  As @smendez-hi noticed, there is the postman-app DB that seems to be where we need to import our data.  We also need to go to the history store instead of requests and also give each request the workspace it belongs to.  When I did those changes, my saved requests started showing up.

And since more people have been u

[2018-05-14 19:15] jakesylvestre commented on #3518
@camleng when I use localhost the cookies don't save.

[2018-05-14 19:18] jakesylvestre commented on #3518
Try this: https://github.com/postmanlabs/postman-app-support/issues/1700#issuecomment-181227107

But for me I get an error connecting (it works when I remove `Cookie: _`) so it's something at the proxy level

[2018-05-14 20:22] lemonkaren commented on #2392
is there any good news updated?

[2018-05-14 20:26] diofeher commented on #350
+1

[2018-05-14 20:39] jakesylvestre commented on #3518
Update: adding `Cookie:` works for localhost. Sucks that you can't use the `Cookies` interface, but this is helpful for now.

[2018-05-14 20:41] jakesylvestre commented on #166
+1 for this one

[2018-05-14 20:42] jakesylvestre commented on #166
For anyone looking for a workaround: https://github.com/postmanlabs/postman-app-support/issues/1710#issuecomment-239451696

[2018-05-14 21:26] danielepagano commented on #6682
+1

[2018-05-14 21:34] fipppi commented on #622
+1

[2018-05-14 21:53] P1llus commented on #4524
I have a similar usercase, that certain actions has to be performed before the request itself, and the request has to be updated based on the return of the pre-request script. This functionality already exist though, but has to be performed through variables. Ref usage of "RESOURCEFORREQUESTBODY"

Example:

-Pre-Request-
[code]

-Request-
[code]

-Test-
`pm.environment.unset("RESOURCEFORREQUESTBOD

[2018-05-15 01:02] jimcullenaus commented on #4546
I just want to **strongly** voice my support for this. When testing HAL APIs in Postman it's currently necessary to manually set the auth every single time, which is exceedingly tedious.

[2018-05-15 03:59] harryi3t commented on #4543
No problem at all @andig
Feedback like this helps us formulate better decisions to make the product better.
Thanks!

[2018-05-15 04:48] harryi3t commented on #3691
Hi everyone,
We have fixed this issue internally and this should be available in the next release 🎉

[2018-05-15 05:47] harryi3t commented on #3971
We have added support for auto-updates on Linux. This will be available in the next release 🎉
If you want to try it out, it already released on canary https://www.getpostman.com/canary

[2018-05-15 05:52] steam0 commented on #2611
Can we reopen this issue? @a85

[2018-05-15 06:20] shisapian commented on #4554
In PostmanCanary, for team workspace, I do not see all workspaces by default. There is a build/ browse in the bottom pane. Once I browse, I am seeing all shared workspaces. I am not sure if that's the expected behavior.

Do you have a release guide for each version to refer the new features?

[2018-05-15 06:27] Goltergaul commented on #3202
@kamalaknn yes I can confirm that this now works in 6.0.10. Many thanks! :)

[2018-05-15 07:38] kamalaknn commented on #3202
@Goltergaul Glad to know you found it useful 😄

[2018-05-15 09:22] lexon commented on #2392
+1

[2018-05-15 10:03] orestes opened #4556 "Collection runner missing response body: 'Data unavailable'"
**Describe the bug**
Response body is not displayed after running tests for a collection.

**To Reproduce**
Steps to reproduce the behavior:
1. Open the Collection Runner
2. Select a collection that contains tests
3. Make sure `Log Responses` is set to `For all requests`
4. Run the collection
5. Check the details for any of the tests
6. Response body is not displayed, but the following message is

[2018-05-15 10:10] sivcan commented on #4556
Duplicate of https://github.com/postmanlabs/postman-app-support/issues/4296

[2018-05-15 10:10] #4556 closed, assigned to nobody

[2018-05-15 11:12] kuskmen commented on #6682
+1

[2018-05-15 11:29] x80486 commented on #2931
So, folks...it's been **MORE** than a year since this was reported. Tons of people have expressed their opinions...but still, there is no answer from you.

It shouldn't take you more than a week to generate a **Flatpak** these days ‒ or even a Snap. That's all we are asking for.

[2018-05-15 11:30] matudelatower commented on #2931
New in Ubuntu Software
![615bc307-f674-4691-a386-678e6946cbcd](https://user-images.githubusercontent.com/5694115/40054147-3611fc3c-581a-11e8-9d60-df477c18c12d.jpeg)

[2018-05-15 12:03] Tenkasi-Subramanian opened #4557 "Add Raw Format for Postman Console Output derived from XML2JSON conversion snippet."
Please read through the [guidelines](https://github.com/postmanlabs/postman-app-support#guidelines-for-reporting-issues) before creating a new issue.

**Is your feature request related to a problem? Please describe.**
Postman Console Output using xml2json conversion snippet not available in raw format. So I am not able to copy Converted JSON Output. Refer the screenshot below.

**Describe the solu

[2018-05-15 12:28] Ncifra commented on #4485
I have actually noticed this anywhere in a header value. Input like this:

[code]

[2018-05-15 13:15] SamvelRaja commented on #4555
@P1llus  First thanks for taking your time and bringing all the issues to one place.

And yeah, we are on the roadmap of features where we missed to reply few issues. Let me take my time off and reply everything and also answer your issues here.

As you mentioned, yes postman is a very generic tool and for URL encoding we are following the [RFC 3986
](https://www.ietf.org/rfc/rfc3986.txt) and enco

[2018-05-15 14:03] 0x6B386F commented on #2691
+1.
Sorry for +1 commment, but .. this is must have feature for me :-) Thank you

[2018-05-15 17:13] philosowaffle commented on #2096
Bump.

[2018-05-15 17:33] Prestaul commented on #1321
FWIW, I found a [kanban board](https://github.com/postmanlabs/postman-app-support/projects/30) in this project with proxy related issues on it. Not really much insight there but I think this is were this work would be tracked (if it were in flight)...

[2018-05-15 21:45] jmauerhan commented on #2418
This is a problem for me as well, if I do this request in curl, I get the correct response:
[code]

But Postman shows me the confusing "Could not get any response" and no way to view the headers to see that I did in fact get a 204.

[2018-05-15 22:20] slaman75 commented on #4038
Has this issue been fixed?

TLS is the expected standard.  Enabling SSL3 on our servers creates an unnecessary vulnerability.

Please escalate

[2018-05-15 22:40] P1llus commented on #4555
@SamvelRaja Thank you very much for your kind response! :) The linked issues itself was just to point out the general problem with encoding that people seemed to have, and even though i did search through both open and closed issues i feel that with this response i should have done a better job both explaining and referring to issues. So let me try again! **Sorry for the long text, feel free to sk

[2018-05-16 01:15] CosmicBara commented on #3117
It will soon be a year since I made this suggestion, and I haven't seen any feedback on potentially implementing this feature. Throughout this past year, I've received emails consistently from people +1 or showing their support. Can Postman devs please provide an official response as to whether or not they will implement this request?

[2018-05-16 03:14] hetz commented on #2493
👍 I want this feature

[2018-05-16 03:35] sagarey commented on #1228
+1

[2018-05-16 04:18] VeselovAndrey opened #4558 "Incorrect redirect following for HTTP 301"
Postman don't use original request verb (POST, GET etc) and body when following redirect.

Steps to reproduce the behavior:
1) Enable "Automatically follow redirects" in Postman settings
2) Try to access resource
* Accepts POST only (or any http verb except GET)
* Server supports HTTPS only and responds HTTP 301 for HTTP requests (to redirect them to HTTPS). For example it can be AppService hosted

[2018-05-16 04:56] uvarajkrishna opened #4559 "Add support for installing in user profiles on share path"
**Description**
Recently switched from Chrome extension to Windows Native App. The app would start normally and i was able to create request at the beginning and after some time the Send button wouldn't respond and displays "Sending" state for ever.
The console would show the error **"InvalidStateError: Failed to execute 'transaction' on 'IDBDatabase': The database connection is closing."**.
If I

[2018-05-16 05:25] sujitblues commented on #4520
Please see the log screenshot
![app crash](https://user-images.githubusercontent.com/37321410/40098164-af09b0a2-58f7-11e8-8425-a4ebf5358ea4.png)

[2018-05-16 05:45] VivekDabhi opened #4560 "POSTMAN has not properly working has been crashed"
Please read through the [guidelines](https://github.com/postmanlabs/postman-app-support#guidelines-for-reporting-issues) before creating a new issue.

**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise descriptio

[2018-05-16 05:46] VivekDabhi commented on #4560
hello good morning,

I have to try to launch postman in my ubuntu 17.10 system but get an error every time,

Try to launch Postman,
Wait while it attempts to connect,
Postman crashes without ever opening,
Receive dialog that says, "Postman has crashed. Click this balloon to restart the app. (See attached),
When I click the balloon, postman attempts to launch, but it just crashes again without open

[2018-05-16 06:33] numaanashraf commented on #4560
@VivekDabhi Please try out Linux desktop app (https://www.getpostman.com/apps). Postman Chrome Apps are deprecated.

[2018-05-16 07:27] thanhnk1602 commented on #1575
@kindlychung I am finding a way to set difference headers for each test case. Do you have any suggested for me? I have no idea to do that

[2018-05-16 07:33] AlexanderTunick opened #4561 "The best approach to create test cases & folders structure"
Hi, sorry if this question is redundant here, it is, I will risk on stackoverflow, but I thought it is the best place to ask it.
I have been using Postman so much and built a lot of useful thing in it, but now need to implement one more thing.
**Briefly:**
- Need to create test cases to test a correct records counting for every institution.
Now I handled it like that

**---Collection**
     **--Fo

[2018-05-16 07:53] smendez-hi commented on #1647
@stephenmcd1 It is working now! Thank you for your time fixing this.
One note: all the history will appear below "Today" as if every call has been made today. I don't care about this, anyway.

[2018-05-16 09:35] #4043 closed, assigned to SamvelRaja

[2018-05-16 10:02] jmatelet commented on #3977
sadly... the initial problem described in this ticket still exists in the last version of the postman application.
it was working great with the checkbox "request token locally" of the chrome extension...
please consider this issue? can you confirm that it is working for you?

[2018-05-16 11:42] BorysFursov commented on #4052
@vdespa Also I noticed that Local VariableScope doesn't keep it's condition! It is clear again when next request starts

[2018-05-16 11:54] Hibbem commented on #2611
Please reopen, have the same issue on Version 6.0.10 (6.0.10)

[2018-05-16 12:12] tjarvstrand commented on #2801
+1

This is basically the only thing that keeps me from paying for Postman

EDIT: BTW, this +1 is for a generic serialization/deserialization plugin framework or at least one that also includes thrift.

[2018-05-16 12:42] sivcan commented on #4561
Hi @Alextunchii - We maintain this repo for bug reports and feature requests.
Any how-to's and other queries are better suited for the Postman Community to get involved and solve it.
I have gone ahead and raised a help ticket there:
https://community.getpostman.com/t/the-best-approach-to-create-test-cases-folders-structure/1631

You can follow the same.
Thanks.

[2018-05-16 12:42] #4561 closed, assigned to nobody

[2018-05-16 12:43] sivcan commented on #4559
Hi @uvarajkrishna, we'll look into this issue and get back to you.

[2018-05-16 12:44] sivcan commented on #4558
Duplicate of https://github.com/postmanlabs/postman-app-support/issues/4001

[2018-05-16 12:44] #4558 closed, assigned to nobody

[2018-05-16 12:46] sivcan commented on #4557
Hi @Tenkasi-Subramanian, I'll mark this as a feature as a feature request.

[2018-05-16 13:55] shufflebump opened #4562 "Postman won't start"
**Describe the bug**
The Postman app won't start on my laptop. When I try to open it, it gets stuck on the loading screen where the three dots orbit the larger dot. I tried reinstalling it several times. A coworker tried emptying cache files and deleting temp files. It worked last week, but I asked another coworker for a "large data set" and that made Postman stop working. (I'm a quasi intern at a

[2018-05-16 14:01] nedeliaev commented on #2627
issue is reproduced for me as well
Postman v6.0.10

[2018-05-16 14:28] virmundi commented on #3653
To chime in, I think you need to globalize the font settings. I upgraded to Ubuntu Bionic Beaver. Now the menu bar is wonky. I tried to see which font was used in the Dev Tools, but I think that setting is outside the scope of that tool.
![postmanfontrenderingissue](https://user-images.githubusercontent.com/1041487/40123223-b85a2fd2-58f3-11e8-820b-272ccb843955.png)

[2018-05-16 14:48] reetpandher commented on #3897
I do not know if it helps but i did manage to create a standalone package for Postman(Basically a Zip file. Just extract and run. No install required). If anyone finds it interesting hit me up.

[2018-05-16 14:53] htowens commented on #1854
I’m also facing challenges with this issue - the Oauth2 authorization option is correctly retrieving both ID and access tokens from AWS Cognito, but I don’t have any option to choose which is used to authenticate, which means constant “unauthorized” errors.

Any updates on a fix? Any workarounds in the interim (assuming we can’t control the tokens returned by the endpoint)?

[2018-05-16 15:01] numaanashraf commented on #4551
@TomFS Thanks for reporting this. There are known performance issues with handling large files and responses in Postman. We are tracking them at https://github.com/postmanlabs/postman-app-support/issues/1946. Closing this as duplicate.

[2018-05-16 15:01] #4551 closed, assigned to numaanashraf

[2018-05-16 15:04] numaanashraf commented on #4553
Thanks for the suggestion @rylancates. We are working on a set of changes and improvements that we hope would help with this use case. We'ld keep you posted on any updates here. Stay tuned. 😄

[2018-05-16 15:58] mccannt commented on #278
Putting my 2 cents in on this one as well.

We are currently trying to test in our company some streaming API's and running into the exact same issues. Works via cURL calls but Postman shows nothing and eventually will crash when the buffer fills up.

Can we get this added to the backlog and investigated?

I am running on Postman 6.0.10 on Mac.
cc: @madebysid and @a85

[2018-05-16 16:08] zrosenbauer commented on #2270
Any movement on this? We're pretty heavily invested in using PostMan and I would like to have it replace Swagger but outside of documenting fields in Markdown (not ideal) is there any kind of type support (enum would be great) in the future? I can create a new issue if necessary, but figured its directly related to this request.

[2018-05-16 16:59] lahirugmg commented on #3631
@dwrz Yes, I have SSL certificate verification on and no imported certs in 'Certificates'. Still works. Mac OS, Postman Version 6.0.10 (6.0.10).

[2018-05-16 18:00] tluolamo commented on #2801
+1

[2018-05-16 18:11] Lambeaux commented on #1228
+1

[2018-05-16 20:24] mali-eg commented on #3312
+1

[2018-05-16 21:28] samreenadil opened #4563 "Check if the response is NOT EMPTY"
Hi Everyone,

Below are the tests that I have written to check if the response body is not empty.
tests["Body is NOT empty"] = (responseBody!==null);
tests["JSON ARRAY is NOT EMPTY"] = (responseBody.length >=0);
[] is the response I get in the body, when sending the requests with above tests - it shows PASS however in body I just get [] as the response.
![image](https://user-images.githubuserconte

[2018-05-16 22:03] mkammermann opened #4564 "Postman-Echo concatenates the content of all files of a POST request"
Note: this is a bug of the web-service postman-echo.com

If I send a POST request to https://postman-echo.com/post with a form-data body that contains multiple files, then the JSON response shows in "files" all the sent files, but the shown base64 content is the same for all files, namely the concatenation of the content of all files.

Please see the attached screenshot, where I sent 2 files that

[2018-05-17 01:12] jrainey47 commented on #482
Any plans for Smart Card Support?

[2018-05-17 02:29] timatanu opened #4565 "Differences between UI Export and API Get Collection"
I'm seeing different output from when I use the Collections API vs what is saved to file when is use the Export option from within Postman. In particular the API has extra tags.

I'm invoking the API as follows. curl --request GET --url 'https://api.getpostman.com/collections/2952158-d7d0fa07-7775-c5b7-606c-6b6425685bbb' --header 'x-api-key: xxxx7c93393344bab7fff1b72599xxxx' | jq . > APC02.txt

Th

[2018-05-17 05:38] lkumar001 opened #4566 "Unable to use the GET and Sync function in postman software on Corporate Network."
Dear Sir/Madam
Kindly assist as our clients use postman, but the GET and Sync options does not work. We are accessing postman on a corporate network. Support documentation advised to enable the proxy settings, which gives authentication failure on GET and cannot connect to server when clicking sync. We also allowed the recommended amazon us east ip ranges on the firewall, but are still unable to u

[2018-05-17 06:38] lkumar001 commented on #4566
Does postman site use akamaitechnologies.com sites as well. We have a very restricted rulebase and akamaitechnologies.com is blocked as well as cloudfront. Please advise on this and provide us with the ip ranges, ports and or host that will require access.
Thank you

[2018-05-17 07:50] micer commented on #292
@brian-stinar @Ademord @ArashJalalian it's in Postman already, see comments above! ;-)

[2018-05-17 08:22] kudinov-fedor opened #4567 "Multiple Cookies Sessions for 1 domain"
When I have to perform testing of 2 user sessions on 1 domain, I have problems with replacing of cookies each time when I need to switch a user.
If users have different Authentication mechanics (e.g.  Authentication Token, Session Id in Cookies) I have to clean Cookies manually through UI.

Testing in browser, as workaround, I use 2 instances of same browser (1 active, 2 is in incognito mode), or

[2018-05-17 08:38] Geolim4 commented on #4179
@madebysid  What's are your thoughts about this ?

[2018-05-17 08:44] numaanashraf commented on #4567
Thanks for the suggestion @kudinov-fedor.

[2018-05-17 08:46] numaanashraf commented on #4565
@timatanu Thanks for reporting this. We are looking into it.

[2018-05-17 08:47] cen1 opened #4568 "Run whole subfolder or selection within the builder view using sidebar"
**A clear and concise description of what the problem is.**
A lot of times I have a subfolder with **prep calls** such as auth and some other stuff that sets global variables which are then used across further integration tests.

Manually running these calls one by one is tedious, especially if I am switching environments and they need to be re-run or if I need to rerun due to changes on the backe

[2018-05-17 08:49] numaanashraf commented on #4564
Thanks for reporting this @mkammermann. We are looking in it.

[2018-05-17 08:53] cen1 commented on #4144
This is a must have for me. I have dozens of different integration tests and each one of them requires the same action to be called. I need to duplicate this exact same call in each subfolder. What would make more sense is to define this call once and then reference it somehow.

Another problem is that if this call changes or needs additional parameters I need to change every single request in the

[2018-05-17 08:55] numaanashraf commented on #4568
@cen1 Have you tried running the folder via the Collection Runner? https://www.getpostman.com/docs/v6/api_testing_and_collection_runner/running_collections

[2018-05-17 08:59] jordancaradonna commented on #1766
where do you access the server logs?

[2018-05-17 09:05] numaanashraf commented on #4563
`responseBody` is a raw string of the response body. If you want to check if JSON array returned in the response if not empty, you can use the following script.

[code]

[2018-05-17 09:05] #4563 closed, assigned to nobody

[2018-05-17 09:10] JerryChaox commented on #4499
Is there any update for this problem?

[2018-05-17 09:48] cen1 commented on #4568
Yes, I know about the runner and persisting the variables but it seems inconvenient. It's a seperate window which I need to have set up, then I need another runner window when running automated tests etc. I also have to switch environments in main and runner window, it's not synchronous.

I'd expand my idea even further, instead of running whole folder, to run a **selection** of requests, eg: sele

[2018-05-17 10:04] ChangeTheCode commented on #4516
Is there any way to create this call via a "normal" postman request? So there is no user interaction needed. An Example is to automate the postman collection via newman.

Would be very nice if there is anyone with an idea

[2018-05-17 10:11] #4560 closed, assigned to harryi3t

[2018-05-17 10:13] ChangeTheCode commented on #2281
I think this problem is still valid.
If you host your API in your own environment it is still possible to provide an alternative auth scenario for testing. But now you will use an Cloud Service an his provided Security mechanism you can't open all gates or you shouldn't.

So for this scenario it would be nice to have an solution to automate the postman/newman test. or am I the wrong assumption?

[2018-05-17 10:18] dasre21 opened #4569 "i am trying to Auotmate API via Postman and I need to reuse an excel file while running the second iteration. How do I do it ?"
Is it possible to store the excel file in Postman so that I can use it again ?
not sure if it is bug or feature request

[2018-05-17 10:22] numaanashraf commented on #4568
Thanks for the feature suggestion @cen1.

[2018-05-17 10:23] numaanashraf commented on #4526
Thanks for the suggestion @govindrai

[2018-05-17 13:39] justmobilize opened #4570 "Super local variables"
**Is your feature request related to a problem? Please describe.**
I've used Postman for a handful of different projects, as well as used Postman collections from other companies. One issue I've always had is handling variables. Most API's have some sort of `GET` by ID and in Postman the URLs for the request are either `https://api.somplace.com/thing/1` or `https://api.somplace.com/thing/{{thingId

[2018-05-17 13:56] SamuelKupferschmid commented on #1104
+1

[2018-05-17 14:13] gbrun commented on #2801
+1

[2018-05-17 14:14] JohnBloom commented on #1854
Same problem for me using AWS Cognito. It would be nice if there was a setting somewhere to allow me to indicate what token to use. Currently I have to copy the id token out of the payload and switch the auth to bearer token and paste it in. This is frustrating because it doesnt support the refresh token so I can only use the endpoint for an hour before I have to go through the auth again to get a

[2018-05-17 15:04] hdave commented on #2369
My crappy workaround is to create a bunch of extra environments that use that IP address of the host.  Sucks, but it works for now...

[2018-05-17 15:44] duanefields commented on #4361
I see the same behavior on the mac - 95% CPU while doing nothing
<img width="912" alt="screenshot_0055" src="https://user-images.githubusercontent.com/548763/40188271-35c3b33c-59bf-11e8-8e96-bb079a8601c8.png">
<img width="900" alt="screenshot_0054" src="https://user-images.githubusercontent.com/548763/40188276-3835ce7a-59bf-11e8-8bbf-7575c65bc164.png">

[2018-05-17 16:34] jen-ren commented on #1499
Agreed. We need this!

[2018-05-17 18:17] jon-whit commented on #3825
Looking for this feature as well! Any updates?

[2018-05-17 18:17] jon-whit commented on #283
+1 Not having this support is a big deterrent from using Postman.

[2018-05-17 19:39] kunagpal commented on #4564
@mkammermann This has been fixed. Could you re-try and confirm that it works? Thanks again! 😄

[2018-05-17 19:39] #4564 closed, assigned to kunagpal

[2018-05-17 20:38] mkammermann commented on #4564
Hi Kunal,

thank you very much for fixing this bug.
I executed my test-program now, and it works as expected.

Sincerely
Matthias Kammermann

Von: "Kunal Nagpal" <notifications@github.com>
An: "postmanlabs/postman-app-support" <postman-app-support@noreply.github.com>
CC: "Dipl. Ing. Matthias Kammermann" <matthias.kammermann@sphinx.at>, "Mention" <mention@noreply.github.com>
Gesendet: Donnerstag, 1

[2018-05-17 20:52] #4544 closed, assigned to dhineshwiz

[2018-05-17 22:11] lxtzfr commented on #3386
This pop up is really annoying, it's wasting time.

[2018-05-17 23:09] iisdan commented on #2729
+1

[2018-05-17 23:28] ressurrectin commented on #3897
#3019 would bring this support through MSI packaging - while not removing the choice of installing to the user profile - with the ALLUSERS property setting.

While I agree that installing to the user profile can be undesirable, there are scenarios (mainly corporate) where installing and running the application under the user context only is beneficial.

[2018-05-18 02:18] ChristianMIT commented on #1757
I've been able to stop tests by nesting pm.tests.  By putting the tests after the  assert, they only are run if the Assert is successful.

You can also end the workflow early or divert it on fail.
[code]

[2018-05-18 03:48] naomiwu1 commented on #2392
+1

[2018-05-18 05:15] sankalp0o commented on #4570
Hi @justmobilize,
Thanks for the suggestion! We're working on introducing semi-permanent variables that would belong to a local session in Postman. I think this would solve your particular use case. Will let you know when we have more to show. Till then, maybe you can try using a different workspace when you're testing. Workspaces maintain their own set of global variables.

[2018-05-18 06:04] panuoksala commented on #4360
Same issue here. Pretty much pushes me off from Postman currently.

[2018-05-18 06:09] yashpal-123 opened #4571 "Not Getting Response in Pretty View Json Only"
Hello,I am Using Paypal Rest Sdk For Creating Web-Service In Php.But My Faced Problem Is that I can't Convert Response in Json Form means not seen in json pretty view but that i can see in html view.I am using chrome version of postman.
![screenshot from 2018-05-18 11-36-41](https://user-images.githubusercontent.com/39398176/40218730-1191090c-5a90-11e8-8ef6-1860f0dfd0c8.png)
![screenshot from 2018

[2018-05-18 06:17] DedMorozzz commented on #4360
@panuoksala new version without this problem

[2018-05-18 06:19] panuoksala commented on #4360
Not for me. Version v6.0.10. Everytime I start-up Postman this pops-up.
![image](https://user-images.githubusercontent.com/15687235/40219041-7c3b303e-5a7c-11e8-8745-edc1a8fb803e.png)

[2018-05-18 06:58] sergioverde90 commented on #4360
Same. v6.0.10 still shows the pop-up every time.

[2018-05-18 07:34] sivcan commented on #4360
@panuoksala @sergioverde90 - I suggest that you try out the latest canary builds since it contains the fix for the same: https://www.getpostman.com/canary

If you have tried it out on the latest canary build and still the problem persists then let us know.

[2018-05-18 07:48] j4velin commented on #4114
Same issue for redirects via status code 307.

"This status code is similar to 302 (Found), except that it does not allow changing the request method from POST to GET."
https://tools.ietf.org/html/rfc7231#section-6.4.7

[2018-05-18 09:35] Mohammad-Tabbara commented on #2352
The issue still present @skwirking solution solved it for me.

[2018-05-18 10:07] vkaegis commented on #4571
Hey @yashpal-123, thanks for writing in. The Postman Chrome apps have been deprecated, we'd advise you to update to the latest native app here: https://www.getpostman.com/apps

That said, your specific problem seems to arise from the fact that the response you're trying to view is in an incorrect JSON format. Ensure your response is formatted correctly to view it in the Pretty view.

[2018-05-18 10:07] #4571 closed, assigned to nobody

[2018-05-18 10:11] vkaegis commented on #4569
Hey @dasre21, thanks for writing in. You can supply a CSV file to the Postman collection runner to use values from the file in the run. Export your excel file as CSV to use it with your collection. You can refer to our documentation for a better idea on how to do this: https://www.getpostman.com/docs/v6/postman/collection_runs/working_with_data_files

[2018-05-18 10:59] barotashish commented on #3691
Today I installed Postman on my Ubuntu Linux -- 18.04

I am not able to copy from output.
![screenshot from 2018-05-18 16-28-29](https://user-images.githubusercontent.com/21197417/40231389-a11ea53e-5ab8-11e8-8aae-5b5cc17124ad.png)

[2018-05-18 11:01] barotashish commented on #3691
Postman Version -
cat version
v1.6.16

My Ubuntu Linux version -
cat /etc/*rele*
DISTRIB_ID=Ubuntu
DISTRIB_RELEASE=18.04
DISTRIB_CODENAME=bionic
DISTRIB_DESCRIPTION="Ubuntu 18.04 LTS"
NAME="Ubuntu"
VERSION="18.04 LTS (Bionic Beaver)"
ID=ubuntu
ID_LIKE=debian
PRETTY_NAME="Ubuntu 18.04 LTS"

==Architecture -
uname -m
x86_64

[2018-05-18 11:02] barotashish commented on #3691
![screenshot from 2018-05-18 16-32-15](https://user-images.githubusercontent.com/21197417/40231516-10c2c122-5ab9-11e8-8782-960895322bfd.png)

[2018-05-18 13:31] rebrovoleksii commented on #4290
@harryi3t Hi there, the company I'm working on wanted to purchase Pro version of Postman but we didn't go for this only because of environment permissions were missing according to our use cases.
Could you please advise what is the status of the current feature request?

[2018-05-18 13:34] #4532 closed, assigned to kunagpal

[2018-05-18 13:34] dannylittle commented on #4374
This is also happening to me on a Windows Server 2012 R2. The shortcut's target is "_C:\Users\user\AppData\Local\Postman\Update.exe --processStart "Postman.exe_". After changing directory into the app-6.0.10 and executing postman.exe, here is the output and Postman starts correctly,
ORM initialization successful
App events bus { name: 'booted', namespace: 'shared' }
App events bus { name: 'booted'

[2018-05-18 13:36] kunagpal commented on #4094
@viraxslot This had been fixed a few months ago 😄. Feel free to try it out in the latest stable app.

[2018-05-18 13:36] #4094 closed, assigned to kunagpal

[2018-05-18 13:37] kunagpal commented on #4348
@charliebillen This has been fixed and is generally available, could you try it out in the latest stable version of the app?

[2018-05-18 13:37] #4348 closed, assigned to kunagpal, sivcan

[2018-05-18 13:39] kunagpal commented on #4397
@ahmad-511 This has been fixed and is generally available, could you try it out in the latest stable release of the app?

[2018-05-18 13:39] #4397 closed, assigned to kunagpal

[2018-05-18 13:58] modosteve commented on #3845
+1

[2018-05-18 16:09] bjnoelucanr commented on #3290
This would be very helpful as we use self-signed certs for internal only servers. It's hard to use Postman as a true testing platform without this...

[2018-05-18 16:18] ronwest99 opened #4572 "Unable to resolve variables with syntax - {{url}} in the test scripts"
## App Details:
[code]

## Issue Report:
I'm not able to pull data from nested json based on environment variable and load the value into another variable for future use.

1. Create Environment variable (car_id) assign it value of 770
2. response from call:
[code]

(yes, the api response of pricing_id at 2 different levels with one being a string and the other an INT is horrible).

I need to read

[2018-05-18 16:58] unigeek commented on #2621
I have the situation, which I imagine is common, where I want to substitute a set of values for various variables based on the environment that I am working with. To do this, I defined collection-specific variables like `dev.service_url`, `dev.account_id`, `dev.user_id` (and corresponding `test.service_url`, `test.account_id`, `test.user_id`) all within the Postman collection. Then I define a glob

[2018-05-18 18:24] justmobilize commented on #4570
@sankalp0o that sounds great. Looking forward to hearing more! I do use different workspace / environments as I go. But as a new startup we're changing things constantly and it's still a bit complicated.

[2018-05-18 19:06] denisdanielyan commented on #350
+1

[2018-05-18 19:17] michaelvannevel commented on #2392
+1

[2018-05-18 20:16] sivcan commented on #4518
@vdespa This has been fixed in the latest release i.e **v6.1.2**
Kindly update to the same.

[2018-05-18 20:16] #4518 closed, assigned to prashantagarwal, sivcan

[2018-05-18 20:17] sivcan commented on #3275
@megadix and others, this has been fixed in the latest release i.e **v6.1.2**
Kindly update to the same.

[2018-05-18 20:17] #3275 closed, assigned to sdnts, sivcan

[2018-05-18 20:19] sivcan commented on #4360
The new stable version has been released i.e **v6.1.2** and it fixes this issue.
Kindly update to the same.

[2018-05-18 20:34] rakeshk1987 commented on #3845
+1

[2018-05-18 20:55] cwarren commented on #4360
I would love to update, but the update button just brings up a 404 - https://www.getpostman.com/docs/v6/updating#linux

[2018-05-18 21:26] sivcan commented on #4360
@cwarren - You can download the apps from here: https://www.getpostman.com/apps
Also, since I can see that you're a linux user - there's an extra addition in the release that it brings auto updates to linux also.

[2018-05-18 22:17] chrisLaflamme commented on #1603
Yep.  👍
I second all the of words that were said up there by everyone else☝️.

[2018-05-18 22:57] ahmad-511 commented on #4397
Working as a charm

Well done

[2018-05-19 03:31] harryi3t commented on #3691
@barotashish The latest version is 6.1.2, it's released yesterday (after your last comment). Can you update to that and try again?

[2018-05-19 03:39] harryi3t commented on #4290
@rebrovoleksii This feature is on our radar and we will be solving this by using something similar to role-based access control ([RBAC](https://en.wikipedia.org/wiki/Role-based_access_control)). I can't commit to the timelines but as soon as this is on our immediate roadmap, I will update the thread.
Thanks for using Postman!

[2018-05-19 05:30] prashantagarwal commented on #2030
Hey Everyone, we have released this with version 6.1.2. Thanks for being patient with this issue.

[2018-05-19 05:31] prashantagarwal commented on #2920
We have release the fix with Postman v6.1.2.

[2018-05-19 05:31] #2920 closed, assigned to prashantagarwal

[2018-05-19 05:31] prashantagarwal commented on #3315
We have release the fix with Postman v6.1.2.

[2018-05-19 05:31] #3315 closed, assigned to prashantagarwal

[2018-05-19 05:31] prashantagarwal commented on #3506
We have release the fix with Postman v6.1.2

[2018-05-19 05:31] #3506 closed, assigned to sdnts

[2018-05-19 05:32] prashantagarwal commented on #3690
@lippsm Can you try this out with the latest Postman v6.1.2
Thanks

[2018-05-19 05:33] prashantagarwal commented on #2942
Hey Everyone, we have released the fix for this with Postman v6.1.2

[2018-05-19 05:33] #2942 closed, assigned to SamvelRaja

[2018-05-19 05:34] #3971 closed, assigned to numaanashraf, harryi3t

[2018-05-19 05:34] prashantagarwal commented on #3971
Released with Postman 6.1.2

[2018-05-19 05:36] prashantagarwal commented on #3956
We have made several improvements to our Sign In / Sign Up flows. This ideally should not happen for Postman v6.1.0 onwards

[2018-05-19 05:36] #3956 closed, assigned to nobody

[2018-05-19 05:38] prashantagarwal commented on #4484
@jfren484 We have released this with Postman v6.1.0

[2018-05-19 05:38] #4484 closed, assigned to prashantagarwal

[2018-05-19 05:39] prashantagarwal commented on #4486
@walterliang This is fixed in Postman v6.1.0

[2018-05-19 05:39] #4486 closed, assigned to prashantagarwal

[2018-05-19 05:40] prashantagarwal commented on #4516
@ChangeTheCode You can try using it pm.sendRequest in pre-request scripts.

[2018-05-19 05:40] #4516 closed, assigned to prashantagarwal

[2018-05-19 05:43] prashantagarwal commented on #4554
@shisapian My workspace shows any collection that you subscribe or own prior to workspaces (v6.1)
Ideally you should create your own personal or team workspaces to organise them better.

[2018-05-19 05:43] #4554 closed, assigned to prashantagarwal

[2018-05-19 05:47] #4022 closed, assigned to SamvelRaja

[2018-05-19 05:52] #4487 closed, assigned to prashantagarwal

[2018-05-19 05:53] #4460 closed, assigned to nobody

[2018-05-19 05:55] prashantagarwal commented on #4414
Closing as duplicate of #4458

[2018-05-19 05:55] #4414 closed, assigned to thecuriousdev

[2018-05-19 05:55] #4369 closed, assigned to nobody

[2018-05-19 06:03] #4251 closed, assigned to godfrzero

[2018-05-19 06:31] #4046 closed, assigned to SamvelRaja

[2018-05-19 09:59] rebrovoleksii commented on #4290
@harryi3t thanks for update!

[2018-05-19 10:22] vanillajonathan opened #4573 "Windows Store"
Please put Postman in the Windows Store.

This would make it easy find, install and keep up-to-date with the latest updates.

As a UWP app it could also be installed on Windows 10 in S Mode.

[2018-05-19 20:59] davutg commented on #2256
Postman is an indispensable tool for me, but I'm in trouble with updates.
This occured for me again after another update today.I'll think twice for further updates. I previously migrated from Chrome extension edition and it was also hard for me. This time I just clicked update and lost it again.

Windows 8.1 64 bit,
Downloaded the latest version, 6.1.2
Updated shortcut's "Start In" directory manua

[2018-05-19 21:40] Dynotrex opened #4574 "Postman sending TCP Keepalives non-stop"

[2018-05-19 23:07] #3079 closed, assigned to godfrzero

[2018-05-19 23:08] #3145 closed, assigned to kamalaknn

[2018-05-19 23:09] a85 commented on #3936
I'd recommend testing against postman-echo.com to verify. Closing this as we haven't seen any other issues related to sending of requests being a problem.

[2018-05-19 23:10] #3936 closed, assigned to nobody

[2018-05-19 23:13] karanpathak commented on #4359
Thanks @rokkie
That works for too!
Easiest fix

[2018-05-20 03:39] hungdao-pyco commented on #4383
Thanks @kamalaknn ,

 It's solved as your think.

[2018-05-20 05:26] kamalaknn commented on #4383
Great @hungdao-pyco

I'm closing this issue then. Happy building!

[2018-05-20 05:26] #4383 closed, assigned to kamalaknn

[2018-05-20 13:14] mshipko-lineate commented on #2931
+1 for snap or apt's package

[2018-05-20 13:28] prashantagarwal commented on #2931
Hey Everyone, with Postman v6.1.0, we have released automatic updates for Linux. With the help of this your Postman app will be available to update itself whenever a new version will be released. You can read more about it here http://blog.getpostman.com/2018/05/16/postman-6-1-linux-auto-update/

[2018-05-20 13:28] #2931 closed, assigned to nobody

[2018-05-20 13:33] prashantagarwal commented on #1411
We have released a lot of performance improvements with Postman v6.1.0 which should fix this issue. Thanks.

[2018-05-20 13:33] #1411 closed, assigned to numaanashraf

[2018-05-20 20:32] lippsm commented on #3690
I tried it with the latest version and it appears to be working as expected now.

[2018-05-20 21:44] tristan957 commented on #2931
I don't really think this solved the problem though. The point of the task is to provide a non-tarball based solution to Linux packaging. With an actual package format, updates should be left to the package manager whenever possible. Please do not close this issue.

[2018-05-20 22:54] mshipko-lineate commented on #2931
The app suggested me to download the new version from the site. Not good.

[2018-05-21 00:09] dcsava commented on #3574
I can add that this is still an issue.  Postman v6.1.2 on Windows. I am reviewing the docs and got to the section describing this function I ran a simple request, exported the test run, deleted the history of the run and tried to import the just exported data and received the error described in this thread.
By basic test I mean: New collection, new GET request

`https://postman-echo.com/get?foo1=b

[2018-05-21 03:33] jesseckwon opened #4575 "Copy response is undefined("Copied to clipboard")"
I use "Copied to clipboard"
but when I paste it's return "undefined"

Postman v6.1.2
OS: Windows10 Pro

[2018-05-21 04:53] AjayAdkar commented on #2801
+1

[2018-05-21 05:04] prashantagarwal commented on #3690
Awesome.

[2018-05-21 05:04] #3690 closed, assigned to kunagpal

[2018-05-21 05:04] prashantagarwal commented on #2931
@mshipko-lineate From now onwards it won't suggest you but will actually download the update http://blog.getpostman.com/2018/05/16/postman-6-1-linux-auto-update/

[2018-05-21 05:07] prashantagarwal commented on #2931
@tristan957 Can you give me a use case where our automatic updates won't help to solve the issue. The idea behind these automatic updates was to make user experience for updates seamless like other OS.

[2018-05-21 05:10] prashantagarwal commented on #2799
Hey Everyone, from Postman app v6.1.0, there will be no pop up for minor and patch updates. You can read more about it here http://blog.getpostman.com/2018/05/16/postman-6-1-linux-auto-update/

[2018-05-21 05:10] #2799 closed, assigned to nobody

[2018-05-21 05:27] thecuriousdev commented on #3679
@glenwinters, Can you update the postman app to the latest version (6.1.2+), and please let us know if you are still facing the issue.

[2018-05-21 06:08] thecuriousdev commented on #3962
Can you try updating the app to the latest version (6.1.2+), We've made a fix for this. Please let us know if you are still facing this issue.

[2018-05-21 06:15] thecuriousdev commented on #3098
Hey All, Can you try updating your app to the latest version (6.1.2+), And please let us know if you are still facing this issue.

[2018-05-21 06:37] zmpeterson86 commented on #2022
I'm on x64 too and I've been waiting 15 minutes for postman to start. Reinstalled and still nothing

[2018-05-21 06:38] adriannasui commented on #3358
@markuspxpx @thirtified @M00nk1d @Bl4ckf4ll @horacehylee
I can add comments in JSON raw editor. And they work as expected. Call goes through ignoring the commented-out lines
![image](https://user-images.githubusercontent.com/8627433/40293567-2e79cd78-5cda-11e8-83cd-3e5c329d95f1.png)
Maybe I am missing something here? Is this not what is needed?

[2018-05-21 06:50] Y-Less commented on #2799
So have you disabled auto updates?

[2018-05-21 06:56] prashantagarwal commented on #2799
@Y-Less No, but we have made the user experience more subtle. No more popups, just small indicator that an update is available and ready to install.

[2018-05-21 07:00] charliebillen commented on #4348
@kunagpal I can confirm it works as expected.  Thank you.

[2018-05-21 07:04] Y-Less commented on #2799
So we can ignore then forever now?

[2018-05-21 07:36] sivcan commented on #4572
@ronwest99 - Variables do not get resolved in the test scripts.
They are only resolved at the time of the request being sent in the background.

You need to get the variable just like you set it in the test scripts.
You can fix your code like so:

[code]

[2018-05-21 07:36] #4572 closed, assigned to nobody

[2018-05-21 07:44] sivcan commented on #4573
@vanillajonathan - The app already has a built-in system to auto-update itself.
The installation process already involves no complications around it if you download and install it once.
Rest for future versions is handled by the auto-updater.

We'll look into the use cases for this.
Thanks for the Windows 10 S mode suggestion.

[2018-05-21 07:49] sivcan commented on #4575
@jesseckwon Thanks for reporting this. I was able to reproduce this in the 'Pretty Mode'.
The other views do not have this issue. We'll look into fixing this.

[2018-05-21 07:52] ghisvail commented on #2931
Since the code for the auto-updater is not opensource, and therefore not verifiable, how can I trust future updates won't erase my `/home` or `/` folders by inadvertence?

Which is the responsibility of a package manager on Linux. Hence why your community is asking for `apt`, `flatpak` or `snap` solutions.

I personally tried to help kickstart a flatpak packaging effort in #4512 (which is a packag

[2018-05-21 08:05] vanillajonathan commented on #4573
With UWP the app is more secure since its sandboxed, it properly uninstalls without leaving anything remaining, the UI is scaleable across devices of different sizes such as phones, tablets, PC and TV. You can do in-app purchases and volume licensing, etc.

https://docs.microsoft.com/en-us/windows/uwp/get-started/universal-application-platform-guide

[2018-05-21 08:30] ghost commented on #2931
Thanks for the auto-updating feature on Linux - much better!

@prashantagarwal In my opinion auto-updates are only part of the story. The opening comment wasn't to do with updates - it was just about installing the application in the first place. I'd still love to be able to do a `sudo apt-get install postman`.

[2018-05-21 08:53] ilya40umov commented on #2931
@prashantagarwal
Here are some advantages of using snaps over a proprietary solution (with other package managers some of these points may not apply):
1. I can install / update the app directly from the terminal, without having to open a website and download it from there. As a nice benefit it makes more difficult for hackers to convince people to install fake software. (E.g. a Postman-like site s

[2018-05-21 09:01] prashantagarwal opened #4576 "Support multiple channels for installing/ updating Postman app."
Linux: [Snap](https://snapcraft.io/postman) ( ✅), `Debian package`, `Flatpack`.

Windows: MSI installer

[2018-05-21 09:03] prashantagarwal commented on #4576
Related to #2931 #3019 #4512

[2018-05-21 09:05] amleaver commented on #3653
+1, I've also just upgraded to Ubuntu 18.04 and have the same issue. Changing the "Editor Font Size" has no impact on the fonts used in the toolbar menu.

![image](https://user-images.githubusercontent.com/535721/40299476-46937fcc-5cde-11e8-899b-03ce0ed6cab9.png)

[2018-05-21 09:06] prashantagarwal commented on #2931
OK Guys, these requests seem pretty reasonable. So I have opened a new feature request, using which we will be tracking all the package requests. I think there are couple of them related to Snap, Flatpack etc, which I will link to the issue.

[2018-05-21 09:09] Sneha174 commented on #3099
This issue still exists for me and the renaming workaround is not working. Exporting results in empty collection for v1, v2 as well as v2.1. I'm running postman windows app v6.1.2.

[2018-05-21 09:11] prashantagarwal commented on #3019
Tracking in #4576

[2018-05-21 10:00] barotashish opened #4577 "Auto update fails while clicking on "Update" button. on Ubuntu Linux 18.04"
**Auto update fails while clicking on "Update" button. on Ubuntu Linux 18.04**

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the Installation directory of Postman. e.g., ashish@ashish-barot:~/testing/Postman-linux/Postman
2. Execute Postman binary with following command :-
    ./Postman
3.  Once Postman GUI start, click on "Help" menu in header. And click on - "Check for Update"
4. I

[2018-05-21 10:26] Farrow commented on #3897
I just installed the postman standalone app after years of using the chrome version.

Then I uninstalled it straight away because I don't like apps that install themselves wherever they please on my computer. It gives the impression the app is going to do whatever the hell it likes to my machine without asking me, and that's **bad**.

[2018-05-21 10:40] ronikrajan commented on #4192
I get this same error  using Postman 6.0.10. How was it solved? Is there a patch? Where can I see description of how this issue was solved?

[2018-05-21 10:48] shahidhafiz commented on #4092
I found if you don't use inherit from parent for the authorization on each api call you get a 200 OK reliably. NTML Authentication [Beta] feel like its not stable enough.

[2018-05-21 11:41] harryi3t commented on #4577
@barotashish Thanks for reporting this.
Auto update is support from 6.1.x version. When you click on update button on an older version, it usually takes to a page from where you can download the app manually.

There is a redirection involved which is broken and we are fixing it.
For now, you can directly download the latest version which supports auto-updating from https://www.getpostman.com/apps

[2018-05-21 11:41] #4577 closed, assigned to harryi3t

[2018-05-21 12:34] thoward333 opened #4578 "Postman startup very slow, 1+ minute"
**Describe the bug**
I upgraded to latest 6.1.2 this morning. On startup of Postman, the window opens but is empty for ~1 minute. My cursor icon turns to busy but other than that, no indication of progress. Perhaps related: The splash logo on startup is solid black.

**To Reproduce**
Steps to reproduce the behavior:
1. Start Postman

**Expected behavior**
Application startup in a few seconds

**Sc

[2018-05-21 12:41] thoward333 commented on #4578
I downgraded to 6.0.10 and it's working fine for me.

[2018-05-21 12:53] barotashish commented on #4577
@harryi3t  Thank you very much for updating.

Right now I am able to use current version, and my testing is going on.

will wait once this auto update will get fix. I will test it also.

[2018-05-21 12:55] rajamalw commented on #4510
Seems to be rendering fine after the latest update.

[2018-05-21 12:57] prashantagarwal commented on #4510
@rajamalw Could be electron's issue. We have updated the electron version in Postman v6.1.0, which could have fixed this. Closing for now if all seems fine.

[2018-05-21 12:57] #4510 closed, assigned to nobody

[2018-05-21 12:59] sivcan commented on #4577
@barotashish The auto update feature is built inside the 6.1.2 version.
What's broken is the redirection to download the app from the postman's website.

**The current version that you've got won't be able to auto-update**.
You'll have to manually download the new version from https://www.getpostman.com/apps

After this, whatever next versions that come out after 6.1.2 will be automatically update

[2018-05-21 13:12] DomHudson commented on #4510
Yep thanks looks good now.

[2018-05-21 13:21] prashantagarwal commented on #3653
@amleaver Can you share your current Postman app version

[2018-05-21 13:55] mirland commented on #2931
BTW: I think this issue should be reopened until the feature is done.

[2018-05-21 14:19] GrzegorzPi commented on #3690
I can not confirm  for:

Version 6.1.2
win32 10.0.16299 / x64

Tests from above:
1) pass - ok
2) fali - wrong
3) pass - wrong

And my example also fail:

[code]

first and third tests are the same, but only first pass

[2018-05-21 14:32] glenwinters commented on #3679
@thecuriousdev No issues after the update.

[2018-05-21 14:45] vfedorin commented on #1467
+1

[2018-05-21 14:50] ghost opened #4579 "Resolve collection variables the same way as environment variables"
When environment variable is used in request URI or header params, then it gets automatically resolved and its value can be read when hovering the mouse over the variable or in the Code window.

It would be great to have collection variables (the ones entered on the Variables tab when editing collection) to be resolved the same way

[2018-05-21 14:53] prashantagarwal commented on #4579
@zhak What is your Postman app version

[2018-05-21 14:59] ghost commented on #4579
@prashantagarwal I just updated to 6.1.2. Attaching a screenshot of a variable not resolved in Code Snippet window
<img width="738" alt="postman" src="https://user-images.githubusercontent.com/1532960/40314260-a657a644-5d20-11e8-9a8d-e65060cd90ab.png">

[2018-05-21 15:05] prashantagarwal commented on #4579
Oh @zhak Actually we are tracking this here #4176 . We have also fixed this internally, will soon  be out on canary. Closing this as duplicate.

[2018-05-21 15:05] #4579 closed, assigned to nobody

[2018-05-21 15:09] thecuriousdev commented on #3679
@glenwinters Perfect! I'll close the issue for now, feel free to reopen if you face any issues.

[2018-05-21 15:09] #3679 closed, assigned to SamvelRaja

[2018-05-21 15:10] AnthonyCC commented on #3312
+1

[2018-05-21 15:15] 7artur7 commented on #1104
+1

[2018-05-21 15:36] JeffLoo-ong commented on #1583
A bit late to the game but @kanishka84  + @adekola , It looks like you're missing a "pm." before your "environment.productinfo"

It should be "pm.environment.get("productInfo").

[2018-05-21 15:50] 7artur7 opened #4580 "Xml file that is send as multipart, is sent with application/xml personal Content-Type header. While text/xml is required. Is there any workaround for such situation"
I've already inspected this ticket https://github.com/postmanlabs/postman-app-support/issues/1104 and as i see Postman desn't have a feature to assign personal `Content-Type` to files, but i don't need to send multiple files with different `Content-Type` i need to send a single file but with `text/xml` not with `application/xml` (that is set by Postman by default) is there a way to do so?

[2018-05-21 16:27] 7artur7 commented on #4580
There is a crutch solution of overriding `Content-Type` to `multipart/form-data; boundary=SomeBoundary` and paste request as plain text with `boundary`, correct `Content-Type: text/xml` and xml content. In such case it of course works, but isn't there more elegant solution for a single file?

[2018-05-21 17:31] robertkuhar commented on #4575
I can confirm this affects Postman Version 6.1.2 (6.1.2) on OS X 10.13.4

Don't you guys have testing around this?  This seems really fundamental.

[2018-05-21 17:45] Zapnologica commented on #2559
I was using Interceptor, when I disabled this requests started working.

[2018-05-21 19:39] MLG-ANolan opened #4581 "Secure Cookies No Longer Set"
**Describe the bug**
Secure cookies are no longer set.

**To Reproduce**
Steps to reproduce the behavior:
1. Perform any HTTP request that will return and set secure cookies.

**Expected behavior**
All cookies that are to be set and visible in the Manage Cookies of Postman.

**Screenshots**
First Image: Cookies to be Set
![image](https://user-images.githubusercontent.com/20689093/40326253-b0f66978

[2018-05-21 22:15] teebu commented on #2256
just updated postman, Windows 8.1, 64 bit. the standalone version.

![image](https://user-images.githubusercontent.com/5531844/40332675-b56a83c0-5d09-11e8-832d-68f9cf7eec0b.png)

Blank screen. I can somewhat interact with the menus.

The Chrome App works.

[2018-05-22 02:15] aliaga-d opened #4582 "Postman becomes unresponsive"
Running on Windows 10.
I can not see what version of postman I am running, (since it is unresponsive)

The problem is Postman has become very unresponsive. It does not respond to mouse clicks. I can see the menu. There are a lot of open tabs, but when I tried "force close all tabs", nothing happens.

I would be very grateful if someone can tell me how to deal with this problem## Issue Report:

[2018-05-22 02:31] sanvipy commented on #3916
@harryi3t  @madebysid
Hi,
This issue seems to have reborn on the latest update to Version

Running
Postman for Windows
Version 6.1.2
win32 6.1.7601 / x64

[2018-05-22 02:53] sanvipy commented on #4581
Ive been stuck with the same issue.
None of the secure cookies are being added to cookie manager, and which means postman is no longer able to maintain sessions

Do note that it seems to work fine if using collection runner

![image](https://user-images.githubusercontent.com/18203625/40339441-0ffa367a-5dad-11e8-86eb-21b71d30be6a.png)
![image](https://user-images.githubusercontent.com/18203625/4033

[2018-05-22 03:00] harryi3t commented on #3916
@sanvipy Thanks for the bug report.
This is a known regression 🐛. We are already working on a fix.

[2018-05-22 03:21] terrencewei commented on #4581
Same issue with:
Postman for Linux
Version 6.1.2
linux 4.15.0-20-generic / x64

All 'Secure' Cookies not set.
And the most importtant JSESSIONID is no longer persistance

[2018-05-22 03:35] terrencewei commented on #4581
It is really a CRITICAL BUG for v6.1.2
After revert back to:
Postman for Linux
Version 6.0.10
linux 4.15.0-20-generic / x64

The cookie is set.

[2018-05-22 04:14] sanvipy commented on #4302
This issue is solved now. Thank you @sivcan

[2018-05-22 04:44] harryi3t commented on #4574
@Dynotrex I tried using a proxy and sending a request with the `Connection:keep-alive` header.
The proxy showed only one request. What am I missing? How to reproduce this? Screenshots/Video would really help.

[2018-05-22 04:47] harryi3t commented on #4582
@aliaga-d Can you try the latest version from https://www.getpostman.com/apps
Let me know if that does not help.

[2018-05-22 05:00] harryi3t commented on #4581
@MLG-ANolan @terrencewei Thanks for reporting this bug. We are fixing it.

[2018-05-22 07:19] prashantagarwal commented on #4578
@thoward333 Can you help me chalk out some details so that we can debug this.
1) Do you have a Postman account using which you are logged in to the app.
2) Do you have multiple accounts attached to the app.
3) What is you system's hardware configuration.

Thanks in advance.

[2018-05-22 07:37] sshilin commented on #4106
The installer doesn't work on Win10, crashes without logs. "Open Setup Log" button just closes the dialog. A workaround is to unpack the app manually like it was suggested here https://github.com/postmanlabs/postman-app-support/issues/2352#issuecomment-347745492

![installationhasfailed](https://user-images.githubusercontent.com/7961160/40347977-cd97b7a0-5daa-11e8-96dd-85e06dc8e00b.png)

[2018-05-22 09:30] rawaludin commented on #971
I really want this feature available in postman. I've used http://faker.hook.io but there's limit on number of api call. Always getting timeout. In the meantime, I build this to generate faker data https://hub.docker.com/r/rahmatawaludin/faker-server

[2018-05-22 09:58] BorysFursov opened #4583 "Non-empty indicator circle is unvisible"
Postman for Windows
Version 6.1.2
win32 10.0.16299 / x64

When Editing collection's pre-request and test scripts in previous versions we had that blue circle showing that script is now empty ( like this, but now it is green)
![image](https://user-images.githubusercontent.com/37802805/40355548-5ee54f38-5dbf-11e8-8d00-58a4a5f925cc.png)
But after update I it doesn't work in collection edit in both (d

[2018-05-22 10:06] prashantagarwal commented on #4583
@BorysFursov We have fixed this internally. Will release the fix in next app release

[2018-05-22 11:17] thoward333 commented on #4578
@prashantagarwal
1. My postman username is thoward333
2. No
3. 64-bit Intel i7, 16GB RAM - let me know if you need more detail

[2018-05-22 11:19] prashantagarwal commented on #4578
@thoward333 Thanks. Do you also have some GPU installed as well, Like nvidia or someother.

[2018-05-22 11:47] thoward333 commented on #4578
@prashantagarwal AMD (ATI) FirePro M4000 (FireGL V) Mobility Pro Graphics

[2018-05-22 12:59] #4574 closed, assigned to harryi3t

[2018-05-22 13:19] lin-ma opened #4584 "Collections lost after accidentally log off my account that wasn't in sync in months"
**Detailed problem**
There were a few time where I lost my collections by accident. Today's one is very frustrated!!
For the recent couple of months, I have been using standalone postman login with my postman account, unfortunately, today I accidentally logged off postman and when I logged back in, all the collections disappeared !!  and I haven't done backup, and what's more is that I realized sy

[2018-05-22 13:34] GeoKnR opened #4585 "Large responses cause a crash or hang"
## App Details:
[code]

## Issue Report:
 1. Did you encounter this recently, or has this bug always been there: Encountered recently, smaller files seem to work correctly.
 2. Expected behaviour: When the file is downloaded, i should get a file save dialog. Note that if i just do Send (not Send and Download), i get the same behavior.
 3. Console logs (http://blog.getpostman.com/2014/01/27/enablin

[2018-05-22 13:37] GeoKnR commented on #4585
One more thing, on the Mac version, I am able to cancel the request.  So it is not completely stuck, just never finishes getting the file.

[2018-05-22 13:41] sivcan commented on #4584
@lin-ma Kindly write to [help@getpostman](mailto:help@getpostman.com) for support regarding this.
Also, you can head over to the dashboard - https://web.postman.co/ and login and you'll find your collections and other data that were synced.

We maintain this repo for bug reports and feature requests only.
So I'll be closing this issue.

[2018-05-22 13:41] #4584 closed, assigned to nobody

[2018-05-22 13:46] chrisron95 opened #4586 "Postman no longer keeps zoom the same"
Please read through the [guidelines](https://github.com/postmanlabs/postman-app-support#guidelines-for-reporting-issues) before creating a new issue.

**Describe the bug**
Postman has always been way too zoomed in for me, but from day one it always stayed at the zoom level that I set it at. But now ever since I updated to 6.1.2 yesterday, the zoom doesn't stay set when I restart the app. Every tim

[2018-05-22 13:54] CianLMcCormack opened #4587 "Syncing not connecting; "websocket not connected"."
Hi!
when i click to sync across devices (and start working "online") no sync occurs.
I expect to be synced successfully. My end goal is to set up a monitor on a collection I've created, but I need to be online to achieve this.

 - Native App
 - Postman Version 6.0.10

Dev tools output the following at first log in attempt:
Could not find on CollectionStore. Missing or invalid parameter.
find @ req

[2018-05-22 14:02] christianbaumann opened #4588 "Error while importing: format not recognized"
**Describe the bug**
Importing files via the IMPORT-function fails, even with the provided examples from https://www.getpostman.com/docs/v6/postman/collection_runs/working_with_data_files

**To Reproduce**
Steps to reproduce the behavior:
1. Click the import button
2. Select your data file (eg. the one downloaded from the [postman tutorial](https://www.getpostman.com/docs/v6/postman/collection_run

[2018-05-22 14:20] carloshml commented on #4578
I have the same issue.

[2018-05-22 14:28] prashantagarwal commented on #4586
@chrisron95 Thanks for reporting this and the context that you provided helped us in pin pointing this bug. We have fixed this internally and will soon make it available in upcoming release.

[2018-05-22 14:43] x80486 commented on #4576
I think the best way today is to use `Flatpak`. I've even seen complex applications that use Java working perfectly. On the other hand, `Flatpak` runs the application in a sandbox — which is a huge advantage especially for apps based on Electron (which is basically a notoriously outdated browser, stripped by some security features, e.g.: sand-boxing); auto-updates are incremental, you can basicall

[2018-05-22 14:58] nwchandler commented on #3977
I am experiencing the same behavior described by @jmatelet on:

Postman for Mac
Version 6.1.2
OS X 15.6.0 / x64

An empty window opens, and there is nothing in the log. There are also no records in my authorization server's logs, as though it never receives any communication from Postman.

[2018-05-22 14:59] muhammad-yoti commented on #2801
+1

[2018-05-22 15:12] duyn9uyen commented on #4262
This is still an issue for me.  Startup is very slow.
Postman v6.0.10
Windows 7 64-bit

[2018-05-22 15:16] kamalaknn commented on #4262
@duyn9uyen we've made some performance improvements to startup time in the latest version of Postman. Could you update to the latest version `6.1.2` or higher and give it a try?

[2018-05-22 16:17] gfigueroa opened #4589 "Error saving new tab"
**Describe the bug**
Postman v6.1.2 cannot save new tab on Windows 10. An error occurs.

**To Reproduce**
Steps to reproduce the behavior:
1. Create new tab
2. Fill (or don't fill) request data
3. Click Save/Save As...
4. Error window appears saying "Something Went Wrong"

**Expected behavior**
Tab should be saved.

**App information (please complete the following information):**
 - Native App
 -

[2018-05-22 16:30] ghisvail commented on #4512
@prashantagarwal Could this be reconsidered please? All I need is a stable path to where the versioned tarball releases are stored. The rest of the packaging can be automated by `flatpak` easily.

[2018-05-22 16:51] prashantagarwal commented on #4512
@ghisvail we will definitely consider this. I have already linked this issue to the one we are planning to actively track. I don't have a timeline yet but I will anyways keep you updated about its progress.

[2018-05-22 16:54] battestiacole commented on #4581
I have the same issue. Any ideas on the ETA of the fix ?

[2018-05-22 16:59] orck-adrouin commented on #2256
I has the same issue as @teebu on Windows 2012r2 64 bits.  I was able to work around the issue by setting compatibility mode on postman.exe to Windows7.

[2018-05-22 17:50] rrakesh100 commented on #6682
+1

[2018-05-22 18:03] dbodow opened #4590 "Allow users to maintain different window themes at once in the Postman app"
**Is your feature request related to a problem? Please describe.**
I often need to manage different Postman windows (e.g. one for production and one for development when checking for regressions). I would like to be able to easily visually differentiate between environments, which currently involves checking both the workspace and the environment name. I've frequently wasted time by running reques

[2018-05-22 18:43] sbervinov commented on #4578
I have the same issue

[2018-05-22 18:59] MG-CDS commented on #4578
Same issue here, and downgrading fixed it.

[2018-05-22 21:31] esiskind-chwy commented on #2701
+1

[2018-05-22 22:39] wenjiezhang2013 commented on #1667
Any updates?

[2018-05-22 23:58] oliverm2112 commented on #803
+1 Again - another update, another disappointment. Please stop adding new shit and fix this most basic of issues. How many more years do we have to wait for this? Too bad the source code isn't available or I'd do it myself. How much would it cost? Maybe we can crowd fund this feature.

[2018-05-23 01:54] DeyLak commented on #4171
Same problem leaded me here. In my case, we are using rql queries in our requests, and the server does not accept encoded bracket symbols. Would be nice to have this opportunity to disable auto-encoding.

[2018-05-23 06:21] Beera819 commented on #4374
Hi, after upgrading to latest release 6.1.2

I see the GET calls being stuck with no response...

![image](https://user-images.githubusercontent.com/39547835/40406650-2819f84e-5e7f-11e8-86f1-da2fb73119c6.png)

On few GET calls, I see error messages as below;

![ssl error](https://user-images.githubusercontent.com/39547835/40406707-6629810e-5e7f-11e8-9f26-0e68b68f2839.PNG)

[2018-05-23 06:27] Beera819 commented on #4585
Hi, after upgrading to latest release 6.1.2

I see the GET calls being stuck with no response...

![image](https://user-images.githubusercontent.com/39547835/40406947-4b938d84-5e80-11e8-9506-a8f03a65799e.png)

And sometimes crashing with Postman has stopped working error

[2018-05-23 06:49] harryi3t commented on #4374
@Beera819 Make sure you don't have an invalid proxy enabled (settings -> proxy)

[2018-05-23 07:04] rex3du commented on #4374
Happens on me with Version 6.1.2 and Mac OS High Sierra 10.13.4. It stuck on the loading view saying "Preparing your workspaces... this might take a few minutes. "

[2018-05-23 07:09] dmarkowicz96 commented on #2256
Same problem here. 'Troubleshoot compatibility' has resolved issue. (Windows 8.1 PRO)

[2018-05-23 07:09] cbarrerah-sogeti opened #4591 "Collection runner does not identify the JSON format when selecting Data file"
Please read through the [guidelines](https://github.com/postmanlabs/postman-app-support#guidelines-for-reporting-issues) before creating a new issue.

**Describe the bug**
When selecting a JSON file as "Data" for the collection runner, it does not recognize the format, neither autodetects the number of items

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Collection runner with any col

[2018-05-23 07:18] sivcan commented on #4591
@cbarrerah-sogeti - Cannot reproduce this issue.
I copied the JSON that you provided here and you can see the screenshots.

Can you check creating a new file with another editor?
Maybe some additional characters are added.

![image](https://user-images.githubusercontent.com/12631777/40409176-a03b57c0-5e87-11e8-8cbe-a2d37e87a5ac.png)

![image](https://user-images.githubusercontent.com/12631777/4040

[2018-05-23 07:22] cbarrerah-sogeti commented on #4591
Can you try with the file i used?
[example.zip](https://github.com/postmanlabs/postman-app-support/files/2029884/example.zip)

[2018-05-23 07:26] sivcan commented on #4591
@cbarrerah-sogeti Downloaded the file that you gave and it works fine.
The iterations count is being updated.

![image](https://user-images.githubusercontent.com/12631777/40409423-8297f006-5e88-11e8-919e-f295b3ea65ca.png)

![image](https://user-images.githubusercontent.com/12631777/40409430-868b5fcc-5e88-11e8-8a92-5606a3b61b78.png)

[2018-05-23 07:26] cbarrerah-sogeti commented on #4591
May have something to do with localization or locale identification of values? I'm on es-ES locale if it helps

[2018-05-23 07:27] cbarrerah-sogeti commented on #4591
is there any configuration that i may have inadvertedly changed?
I have to manually change this values tens of time a day, and it is getting rather frustrating.
Let me know if you need any debugging actions on my side.

[2018-05-23 07:30] sivcan commented on #4591
@cbarrerah-sogeti Weird. There's no configuration around this.
Can you test it out on the canary build ?
https://www.getpostman.com/canary

Canary builds of the Postman app can run alongside the main app so it won't affect your current app / settings.

[2018-05-23 07:32] cbarrerah-sogeti commented on #4591
downloading right away, will update in 10-15 minutes.
Thanks :)

[2018-05-23 07:44] cbarrerah-sogeti commented on #4591
Same thing with same file :(

[2018-05-23 07:56] cbarrerah-sogeti commented on #4591
Hi,
did a simple test with an example csv and generated the json in (http://www.convertcsv.com/csv-to-json.htm) so i was not the one creating the json (and consequently could not introduce extra chars)
This is the canary version just installed.

Attaching csv and json generated.
[csvtojson.zip](https://github.com/postmanlabs/postman-app-support/files/2030016/csvtojson.zip)

her you can see the res

[2018-05-23 08:06] sivcan commented on #4591
@cbarrerah-sogeti - Ahh, I tried the **convertedcsv.json** also. It works fine.
Can you test with this file?

[data.json.zip](https://github.com/postmanlabs/postman-app-support/files/2030047/data.json.zip)

[2018-05-23 08:12] cbarrerah-sogeti commented on #4591
Does not work either.
I'm on windows, and i noticed that you sent a mac generated file
i tried changing the EOL for all three formats (Win,Mac, Linux) and all presented the same result.

[2018-05-23 08:20] Beera819 commented on #4374
@harryi3t  I never keyed in any proxy settings from the day I started using Post man. I use System Proxy

![image](https://user-images.githubusercontent.com/39547835/40412175-34cfdb56-5e90-11e8-9da6-e7ce23d88619.png)

[2018-05-23 08:42] amleaver commented on #3653
@prashantagarwal that was on 6.0.10 however I upgraded to 6.1.2 this morning and can confirm that the issue I reported 2 days ago has been fixed and fonts are now readable. Thanks for reminding me to try updating!

[2018-05-23 08:55] eduardboamba commented on #4361
Guys, this amazing tool has become useless in the last couple of weeks. It spikes up to 100% CPU and >2GB of memory usage when I'm switching between request tabs or just trying to close some of them. I'm setting it aside until the issue is fixed.
Here are some screenshots, in case you find use in them.

![inkedtimeline1_li](https://user-images.githubusercontent.com/11644755/40413450-22f444cc-5e76-

[2018-05-23 09:03] sivcan commented on #4591
@cbarrerah-sogeti Can you confirm by right clicking the file > Properties > General
The **Type of file** should be JSON

[2018-05-23 09:07] sivcan commented on #4591
@cbarrerah-sogeti I was able to reproduce this on windows.
I'll look into this and get back to you.

[2018-05-23 09:54] saru2020 commented on #6682
+1

[2018-05-23 10:08] vigneshpandians commented on #2878
Duplicate of #4591

[2018-05-23 10:12] vigneshpandians commented on #2878
@ @abhijitkane

[2018-05-23 10:44] sivcan commented on #4368
@nickm8 This issue has been fixed internally.
I'll update the thread once it is released.