[2022-11-07 16:46] stevenhay opened #11426 "await keyword breaks setTimeout"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

Doing anything with await in the pre-request script causes setTimeout to return undefined.

[code]

After the first `await new Promise(resolve => setTimeout(resolve, 2000))`, the second one does not execute and quits the method b

[2022-11-07 16:47] #11426 closed, assigned to nobody

[2022-11-07 17:01] PatrickSison commented on #11414
Hi, I work with @dtrenz for what we are trying to build. I will also say for more context that the V10 update has changed what workflow we've established. We are trying to have some OpenAPI spec YAML be a source of truth (either in the Postman definition or in our SCM), and changes to it could:

1. Have a way to preview changes or test branches within Postman
2. Changes in our source of truth YAML

[2022-11-07 17:13] josuamanuel commented on #3561
I think this is a must have feature.
@vkaegis Could you reassign the issue to someone that can attend the issue?

[2022-11-07 18:02] MitriSan opened #11427 "Can't see requests in Postman app, however they are available via Postman API"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

So, after some programmatic workflow, i've faced several issues:
1. I can't see the request in Postman app, however i can see it via postman API
2. I can see requests in the left bar with request lists, but:
2.1. When i click on

[2022-11-07 18:20] shubhbhargav commented on #11427
@MitriSan Thanks for providing the detailed context. There could be an automated request causing the collection to be in this state. Can you share the payload that the automated user used to make the update call to the collection?

[2022-11-07 19:26] knmueller commented on #9064
+1 on adding the ability to modify the filename. On on mac, it looks like postman only adds the filename -- without path -- to the Content-Disposition header (in @levicki 's case, it would be "gpu-z-fans.png"). We have a use case in which we want to organize the backend storage file system based on the filepath without an extra form parameter. This can easily be done with the Content-Disposition f

[2022-11-07 19:45] cgarrovillo commented on #5396
@sujayvenaik

[2022-11-07 19:45] cgarrovillo commented on #5396
This issue aside, what are some good alternatives to Postman entirely?

[2022-11-07 22:38] crubach opened #11428 "Updating auth property to null on call in collection via API yields "noAuth" instead"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

Updating an existing Postman collection via the API.

The root of the collection has OAuth authentication (type: oauth2) set up that works properly.

On individual request child entries, when setting the auth property to null yie

[2022-11-08 00:30] phillip-haydon commented on #5396
Insomnia

After postman pulled that stunt with the pricing I went Insomnia and never looked back. Its much better.

[2022-11-08 02:36] ferba24 commented on #11085
I'm experiencing this issue as well so I'm willing to provide all the details you need @DannyDainton

[2022-11-08 07:29] KaiKostya commented on #11212
Actual for me for python

[2022-11-08 07:56] creative-hustlers opened #11429 "Favorite flag is removed when import collection"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request and I know that duplicates will be closed

### Is your feature request related to a problem?

I want to request feature, when we have saved collection as favorite, then if we try to import same collection by replacing it, the collection is removed from favorite, its so annoying pl

[2022-11-08 09:47] madshox commented on #7370
![image](https://user-images.githubusercontent.com/63535913/200531310-a4614e26-b1a3-43f1-b4b0-5a917c271462.png)
I noticed that the mac is warm because of the postman, even though it is standing idle.
macbook pro m1 pro

[2022-11-08 09:55] akshaydeo commented on #10717
Hey @JayHayAdminaccount, sorry for the delay, we are fixing this issue today. I will update this thread with the fixed version of the app.

[2022-11-08 10:02] VShingala commented on #10717
@JayHayAdminaccount We've already solved one of the issue that caused this, could you check and let us know if it's working. Also if not working, could you share with us the WSDL definition (or a simple version where it's failing), so we can take a detailed look here?

@Jiarius We've fixed issue that caused the definition mentioned by you to not working. I've verified the import and it's generatin

[2022-11-08 10:20] VShingala commented on #10085
@mtaylorSF We have fixed a similar issue over here https://github.com/postmanlabs/postman-app-support/issues/10266. As there's been no response for some time, I'll close this issue, feel free to reopen this if you're still facing this issue.

[2022-11-08 10:20] #10085 closed, assigned to nobody

[2022-11-08 10:32] kamaraju-p commented on #9557
This issue is fixed on Postman v10.2. Spell check is only enabled when english is the browser language.

[2022-11-08 10:32] #9557 closed, assigned to akshaydeo, kamaraj-p

[2022-11-08 10:54] kamaraju-p commented on #5150
This issue is fixed. Large tables are scrollable or have a 'view more' option.

[2022-11-08 10:54] #5150 closed, assigned to Raja-Simha

[2022-11-08 11:11] #9369 closed, assigned to akshaydeo, Dhembla

[2022-11-08 11:35] pedroans commented on #3684
This is a must have feature, but for some reason it's open since 2017. curl is just a workaround, it's not a solution

[2022-11-08 12:11] w4dd325 commented on #11317
Hi @shubhbhargav
This was encountered when I was trying to assist someone on the Postman community forum.
The API was returning an integer that was longer than 15 digits and when trying to save the value to a variable for use elsewhere the max integer limitation was changing how the number was displayed.
My example was a mock but the original was the response body of an API.

[2022-11-08 12:20] vidhya03 commented on #11418
![image](https://user-images.githubusercontent.com/534679/200562101-aea0367e-4d19-4457-93db-7a859d654168.png)

Verified!   it is working @VShingala

[2022-11-08 12:20] #11418 closed, assigned to nobody

[2022-11-08 13:16] nostis commented on #9176
For me that was problem with wrong **Content-Length** header value. After fixing bug that wasn't include header names (csv table) everything works.

[2022-11-08 14:33] cmyllis commented on #11423
Happens on both.
Here is a video.

https://user-images.githubusercontent.com/96247992/200592023-59fb900f-011f-4364-9e56-5d6547b87e5c.mp4

[2022-11-08 14:46] SebastianJust commented on #10550
Hi,
Thank you. I'll try the things out and return, if I still have the issue.

[2022-11-08 14:56] vidhya03 opened #11430 "Support for OpenAPI 3.0 spec - importing API with multiple examples"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request and I know that duplicates will be closed

### Is your feature request related to a problem?

When importing the API with multiple examples. It will be helpful if we support drop down options similar to swagger UI.

Sometimes the request body with one example is not sufficient for

[2022-11-08 15:28] postman-support commented on #11423
Hey Christos,

Thank you for that information; we may need to look into this further, can you please send the following information to https://www.postman.com/support?

- A copy of the Desktop logs.
  - For the Web app, please send us a copy of the HAR file as you attempt to delete the requests.

I appreciate the collaboration and look forward to hearing from you!

via @ | Postman Support

[2022-11-08 15:53] pjwelsh opened #11431 "Postman V10.1.2 has GLIBCXX_3.4.26 build pieces (and should not?)"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

During a file audit, Postman seems to have created some file(s) with a much higher glibc version requirement that *all* of the other packages (an the required glibc version is not available):
./app/resources/app/node_modules/nsfw

[2022-11-08 16:31] levicki commented on #9064
@knmueller In my case, I just want to set the filename instead of sending full filesystem path. In your case, you want to send full remote path which requires that your server trusts the client -- this is never a good idea.

Finally, it seems as if you will be reimplementing something like WebDAV protocol. Why not just use WebDAV if you want remote storage with filepaths?

[2022-11-08 16:59] PhuocBan opened #11432 "GRPC request - Can not refresh proto. Refresh button not update proto latest"
### Is there an existing issue for this?

- [ ] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

After I changed proto, I click refresh button but proto not update

### Steps To Reproduce

1. update proto (add new comment, change message, ...)
2. go to grpc request and click `service definition` tab -> refresh button
3. open

[2022-11-08 17:29] levicki commented on #9064
@knmueller

As long as your requests are authenticated and there is validation of untrusted user input you should be OK.

However, I still believe WebDAV (even if you only need a small subset of commands / options) might be a better choice if you are dealing with remote filesystem because it's a standard, has bulitin safeties, and you can later decide you need more functionality which would then b

[2022-11-08 17:35] shubhbhargav commented on #11317
Got it. We will track it as a bug and see how we can increase this integer limit itself.

[2022-11-08 17:41] shubhbhargav commented on #11427
Thanks @MitriSan. Looks like we are trying to send a few extra fields in the payload for the request which is causing this. Can you try removing `owner` from the payload and see if it works? In the meantime, I will get the list of mandatory fields that we need in the payload and share that with you.

[2022-11-08 20:18] n-j-o opened #11433 "Email address shows as being updated, but then reverts to previous"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

Each time I update my email address, it shows as being completed successfully but then when I switch teams, it reverts back to the previous email address in all places (including team list, My Profile and invites).

### Steps To

[2022-11-08 22:34] pbreit commented on #4172
+1

But CSV, not Excel.

https://www.npmjs.com/package/json2csv

[2022-11-08 22:59] elmobark opened #11434 "RTL MacOS issues"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

maximise and minimise and close buttons not showing in right way in rte language like arabic
<img width="1440" alt="‏لقطة الشاشة ٢٠٢٢-١١-٠٩ في ١ ٥٥ ٣١ ص" src="https://user-images.githubusercontent.com/15808644/200694238-9b10c55a-

[2022-11-08 23:16] nrmartell opened #11435 "Update Faker Library"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

Requesting Postman upgrade the @faker-js/faker package to v7.2 or higher which forces the use of secure URLs.

Currently, the app is on an older version of Faker which sends insecure URLs in the request.

### Steps To Reproduce

[2022-11-09 05:41] appurva21 commented on #11432
Hey @PhuocBan! I am not able to reproduce this issue at our end with the given steps. Could you share more detailed steps or a small screen recording to help us understand the issue better?

Also, here is a screen recording depicting the mentioned workflow, which seems to be working fine. Let us know if you are doing anything differently here.

https://user-images.githubusercontent.com/24985700/20

[2022-11-09 05:43] Sotatek-SonLai commented on #10919
Select collection, in the tab pre-request Script, you can paste bellow code:
`if (pm?.request?.body?.options?.raw?.language === 'json') {
    const rawData = pm.request.body.toString();
    const strippedData = rawData.replace(
        /\\"|"(?:\\"|[^"])*"|(\/\/.*|\/\*[\s\S]*?\*\/)/g,
        (m, g) => g ? "" : m
    );
    pm.request.body.update(JSON.stringify(JSON.parse(strippedData)));
}`

![im

[2022-11-09 05:45] johnson298 commented on #10919
- Select your collection
- In the tab `Pre-request Script`, you can paste bellow code:
`
if (pm?.request?.body?.options?.raw?.language === 'json') {
    const rawData = pm.request.body.toString();
    const strippedData = rawData.replace(
        /\\"|"(?:\\"|[^"])*"|(\/\/.*|\/\*[\s\S]*?\*\/)/g,
        (m, g) => g ? "" : m
    );
    pm.request.body.update(JSON.stringify(JSON.parse(strippedData))

[2022-11-09 05:47] johnson298 commented on #10919
- Select your collection
- In the tab `Pre-request Script`, you can paste bellow code:
`
if (pm?.request?.body?.options?.raw?.language === 'json') {
    const rawData = pm.request.body.toString();
    const strippedData = rawData.replace(
        /\\"|"(?:\\"|[^"])*"|(\/\/.*|\/\*[\s\S]*?\*\/)/g,
        (m, g) => g ? "" : m
    );
    pm.request.body.update(JSON.stringify(JSON.parse(strippedData))

[2022-11-09 06:42] RaisinTen commented on #11431
Is this the first version where this issue was introduced or do you know if other versions are affected too? I'd like to know the first version that has this issue.

[2022-11-09 07:05] ay0ussef commented on #5456
I would like postman to introduce secret type along with single file export option that would export a collection with all environments variables and values except secrets.

[2022-11-09 07:39] cmyllis commented on #11423
Nothing is generated when clicking delete. Something is only generated when i am clicking the request.
[desktop.postman.com.har.zip](https://github.com/postmanlabs/postman-app-support/files/9968526/desktop.postman.com.har.zip)

[2022-11-09 08:02] Kalman1605 commented on #11376
Hi,

unfortunately, your tips didn’t resolve my problem.

I have two accounts:

*	Email ***@***.*** ***@***.***>                                              username AndreaV
*	Email ***@***.*** ***@***.***>             username Andrea Viola

The problem appears using both accounts.

Now I’d like to restore my old sessions but my doubt is that I don’t remember if a synced those.

I made a backup o

[2022-11-09 08:45] SebastianJust commented on #10550
Hi,
It still doesn't work :(

I've uploaded a zip file with the provided information.

[postman_troubleshooting.zip](https://github.com/postmanlabs/postman-app-support/files/9969112/postman_troubleshooting.zip)

[2022-11-09 09:30] MitriSan commented on #11427
Hi @shubhbhargav . So i still can see the request via Postman API, and can't see it in the app :(
![image](https://user-images.githubusercontent.com/20190995/200792964-40fd3a21-86df-4747-bceb-adabaab28a06.png)

[2022-11-09 09:49] stefanobaghino-da commented on #11209
In case you need an example, using [this](https://github.com/digital-asset/daml/blob/main/ledger-api/grpc-definitions/com/daml/ledger/api/v1/active_contracts_service.proto) will trigger the error. If you need a non-mock to reproduce it, you can:
- [install the Daml SDK](https://docs.daml.com/getting-started/installation.html#install-daml-open-source-sdk)
- run `daml new foo && cd foo && daml start

[2022-11-09 10:20] SebastianJust commented on #10550
Hi,
I fully remove postman from HREG, removed all files from postman (https://community.postman.com/t/how-to-completely-remove-postman-and-data/4115). Then I removed the interceptor.
Finally I reinstalled postman and the interceptor.

And it seems to work now :)

**How to remove postman**:
Delete folders:
C:\Users\<user>\AppData\Local\Postman and
C:\Users\<user>\AppData\Roaming\Postman

[2022-11-09 11:17] DannyDainton commented on #11435
@nrmartell Are you able to provide more context and examples of what is being seen and where, please?

[2022-11-09 11:35] petzoldf commented on #10852
+1

[2022-11-09 12:52] abelanger1 commented on #11435
Hi @DannyDainton, an example could be the random animal images _$randomAnimalsImage_. For me, it's consistently using HTTP URLs. It looks like v7.2.0 changes this always to use HTTPS for loremflickr. Is there a reason Postman is still back on 5.5.3?

https://github.com/faker-js/faker/blob/next/CHANGELOG.md#720-2022-06-06

Happy to discuss further.

[2022-11-09 12:57] pjwelsh commented on #11431
Sorry, the last version we had was 9.15.2 (due to a technical issue). That
version did not have this issue.

On Wed, Nov 9, 2022 at 12:42 AM Darshan Sen ***@***.***>
wrote:

Disclaimer

The information contained in this communication from the sender is confidential. It is intended solely for use by the recipient and others authorized to receive it. If you are not the recipient, you are hereby noti

[2022-11-09 13:08] RaisinTen commented on #11431
FWIW, we had recently added the nsfw dependency for the local git integration but that's disabled now, so this addon is not used by the postman-app. Therefore, the app should not run into GLIBC versioning issues.

[2022-11-09 13:14] pjwelsh commented on #11431
Those nsfw folders were removed in order to pass the install audit on our side.
I will check with the next version released.

[2022-11-09 13:26] VShingala commented on #9999
@DraqueT Could you confirm if this issue is still present for you with the latest Postman App? I tried this and it's now having the correct value that's the expected behavior mentioned by you.

I'll close this issue, feel free to reopen it if you're still facing the same issue.

![image](https://user-images.githubusercontent.com/16756296/200841542-f33a1c14-5d1b-4907-a4ea-b3324f931001.png)

[2022-11-09 13:26] #9999 closed, assigned to nobody

[2022-11-09 14:24] wenlong139 commented on #8747
还没解决吗 真服了

[2022-11-09 15:47] caljayw commented on #2734
Any progress here?

[2022-11-09 16:23] #4586 closed, assigned to vkaegis

[2022-11-09 16:56] sathomps commented on #6999
I can't use the latest version of Postman due to my machine being locked down (corporate env) and the Update.exe check failing on startup.

Guess it's time to move to [Thunder Client](https://marketplace.visualstudio.com/items?itemName=rangav.vscode-thunder-client)

[2022-11-09 17:35] lucianamerege commented on #10580
I would like to know as well

[2022-11-09 18:11] jschweihs opened #11436 "gRPC: "No Root Files" Error"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

I am attempting to save an API based on my proto files.  There is a main file that defines services and then it uses separate proto files for message definitions. I am able to make requests if I  use the "Import a .proto" method.

[2022-11-09 18:39] codenirvana commented on #11436
@jschweihs can you share a scaled-down Protobuf definition that we can use to reproduce this issue?

[2022-11-09 19:38] Tony20221 commented on #10602
I would like to see filtering and sorting in the list of environment variables.

[2022-11-09 20:01] bobmixon commented on #4690
+1 for console.clear();

[2022-11-09 20:21] jschweihs commented on #11436
Of course, I created a simplified version and this works as expected:

[app.zip](https://github.com/postmanlabs/postman-app-support/files/9974809/app.zip)

This version is 111kb while the full project's proto folder is 44.2MB.  Perhaps the size is the issue?

[2022-11-09 20:57] 27shutterclicks commented on #4690
IS

It is simpler since you wouldn't have to click the clear button. Less clicks = simpler. Is that simple enough to understand?

[2022-11-09 21:53] shubhbhargav commented on #11427
@MitriSan That's not expected. We are looking into this.

[2022-11-09 22:37] shubhbhargav commented on #11427
@MitriSan While the team is looking into this, I have found an alternative to bypass the issue. If you create the collection with the collection ID using the programmatic user itself, it would work. Can you give it a try once?

[2022-11-09 22:59] shubhbhargav commented on #11428
@crubach Can you try removing the `auth` field on the request level and add it to the collection level? That should set it as auth inherited from the parent.

Sample request (with API Key based Auth):
[code]

[2022-11-10 02:17] yogamaha commented on #5215
I am having similar issue - where cookies set by one of the request in the chain - I am not able to reset - especially when I try to run this iteratively

[2022-11-10 05:42] ShadowLeiPolestar opened #11437 "Automation - Collection Run Flow Break | Stop When Response Time Longer Than 5 Seconds"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

hi Team,
I tried to use "Run Collection" function for an automation test - test a API flow.
During the test everything goes fine but just when on a special test case ("checkout" in my collection) which response time is more than

[2022-11-10 07:49] allestaire commented on #7072
Examples only supports one file,
Is there a way to send out array of files?
[code]

[2022-11-10 08:50] shaunfischmann commented on #6565
Also needed here!

[2022-11-10 09:01] ankitjaggi commented on #9780
Closing this issue for now. Feel free to create a new issue if the issue persists.

[2022-11-10 09:01] #9780 closed, assigned to ankitjaggi

[2022-11-10 11:06] kmayura1 commented on #10460
yes re signing in the app, opens workspace tabs.

[2022-11-10 11:27] jimmyn commented on #10347
I have the same issue, the rendered documentation shows the raw body of the request and not the property list with the description

Generated postman documentation:

<img width="766" alt="image" src="https://user-images.githubusercontent.com/5391775/201078978-ac6e6890-00a3-4f50-94da-1dec28cdb0c8.png">

API definition:

<img width="610" alt="image" src="https://user-images.githubusercontent.com/539

[2022-11-10 11:29] jimmyn commented on #3117
I have the same issue, the rendered documentation shows the raw body of the request and not the property list with the description

Generated postman documentation:

<img width="766" alt="image" src="https://user-images.githubusercontent.com/5391775/201078978-ac6e6890-00a3-4f50-94da-1dec28cdb0c8.png">

API definition:

<img width="610" alt="image" src="https://user-images.githubusercontent.com/539

[2022-11-10 11:57] #5817 closed, assigned to vkaegis

[2022-11-10 12:25] kamaraju-p commented on #10871
Verified the fix on production v10.0.31.

[2022-11-10 12:25] #10871 closed, assigned to Raja-Simha, ajeet-postman

[2022-11-10 13:16] appurva21 commented on #11436
@jschweihs Thanks for reporting the issue!
We've identified the cause and working on a fix. We'll update the thread once the fix is released.

[2022-11-10 14:32] VShingala commented on #10717
Hey All, we've fixed this issue! For all signed-in users, issue should be solved. And for non-signed users, It's fixed with the latest Postman App version.

I've verified the fix with mentioned WSDL definitions and they all are importing correctly now. I'll be closing this issue for now, feel free to re-open it or add a comment with the issue in case of any further issues with same error.

[2022-11-10 14:32] #10717 closed, assigned to umeshp7

[2022-11-10 15:28] #6712 closed, assigned to shamasis

[2022-11-10 15:33] giridharvc7 commented on #9566
@vivekpatel111 and others, sorry for not communicating this earlier, this has been fixed in 9.14+ versions (we are in v10 right now) can you please confirm if you still face this issue?

[2022-11-10 16:07] jgillard commented on #9566
Yes I definitely still face this issue on every app load; MacOS v10.2.0

[2022-11-10 17:12] nikhilbadyal commented on #6452
Great, I got to access my sending an email and totally loved the implementation they did. Would love when it gets public.

[2022-11-10 17:29] wcf-todd commented on #10347
@jimmyn - Thanks for the example of the custom website that documents your API. It looks nice. Was that developed internally? Or is that an open source project you are using? I'd like to look into this further if you can share.

I have not been able to internally promote using Postman because the generated API documentation lacks the core aspects of request response bodies.  stoplight.io has a nic

[2022-11-10 20:32] bezreyhan commented on #11041
I just started with Postman and GraphQL and was searching for this feature for a while. Being able to see the full schema is very helpful. I currently need to have both Postman and GraphiQL open and it would be helpful to just be able to use Postman.

[2022-11-10 22:24] 27shutterclicks opened #11438 "Visualizer support for collection runs"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request and I know that duplicates will be closed

### Is your feature request related to a problem?

After a collection run, the data collected can only be displayed in the console, since Visualizer is only available for individual requests.

### Describe the solution you'd like

I would

[2022-11-11 00:30] crubach commented on #11428
The collection _has_ OAuth authentication configured. The issue is that when we add request to that collection using the API, we cannot make those new requests "Inherit from parent" via the API as they always default back to "No Auth" both when "auth": is omitted and when "auth": null is sent when updating the request.

[2022-11-11 00:45] shubhbhargav commented on #11428
Can you share the request alongside the payload that is being made? That will help debug this further. I tried out the request creation with OAuth as well and it is working for me. ([ref endpoint](https://www.postman.com/postman/workspace/postman-public-workspace/request/12959542-bc8b292b-ffbb-4c67-a2a1-2fc416e2aef8))

[2022-11-11 04:25] giridharvc7 commented on #1066
@akshaybhalotia your data is safe, it is just confined to the scratchpad (signed-out version of the app).
Scratchpad mode works completely offline, and for some features like Muti-select, we prioritised the feature for the signed-in mode.

We'll take this as an improvement to bring multi-select to Scratchpad mode soon.
In the meantime, you can export your collections from Scratchpad and import the

[2022-11-11 05:40] ptiyer commented on #4375
Can anyone let know, for which version of POSTMan the large file upload issue has been resolved.

[2022-11-11 09:01] MitriSan commented on #11427
Hi @shubhbhargav ! Thanks, this approach works, but the issue is that our team wants to manipulate existing collection. And this existing collection has forks and actively used by our customers, so we can't just recreate it.

[2022-11-11 09:55] aurmil commented on #10947
same here with v94.x

[2022-11-11 10:03] xhoaraujx commented on #10947
same too

[2022-11-11 10:42] potjerodekool opened #11439 "can't export collection after import from swagger"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

From time to time I have to import an updated swagger (swagger 2.0) file of an external company.
Before when I imported the swagger file a collection was created on the collection tab in postman but not anymore.
Now I have a coll

[2022-11-11 12:35] AdamBilisic commented on #9437
Still an issue. Can use @jonnydgreen with codefirst approach as the schema si autogenerated.

[2022-11-11 13:15] jviotti commented on #11374
That should be in any standard library locations from your distro (i.e. usually `/usr/lib`, etc).

That said, if `xdg-mime` is accessible outside, then I wonder why the Snap cannot find it within its own environment. Just to verify that the problem is indeed Snaps, can you try running Postman from the tarball we provide on the website instead of the Snap? If that works, then we can debug the Snap

[2022-11-11 13:34] Himani-relan opened #11440 "Error: tunneling socket could not be established, cause=unable to verify the first certificate when using https proxy"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

I am trying to use custom HTTPS proxy( set via system proxy environment variable HTTPS_PROXY) to reach HTTPS endpoint.
I have disabled ssl certificate verification but still I get the error "Error: tunneling socket could not be e

[2022-11-11 15:42] DannyDainton commented on #11439
Hey @potjerodekool

Do you use the options in the Import setting to copy the Collection to the Workspace?

<img width="919" alt="image" src="https://user-images.githubusercontent.com/17089546/201374738-246a99f2-b9e1-4425-9c9d-2461a886941d.png">

[2022-11-11 15:50] dantebarba commented on #3694
haha today I asked myself 'why should I copy paste the query parameters from the examples it should be a better way of doing this obviously I'm quite incompetent' Glad to find this and see I wasn't the only one who felt incompetent.

+1

[2022-11-11 16:19] bzmr commented on #7294
Same here. I can open Postman and run requests with no issues.  The CPU usage will be in single digits or low teens and then drop to almost nothing.  I can switch to other apps and no CPU problems.  However, as soon as I minimize the Postman app, without it doing anything, CPU jumps to 40-50% CPU usage and never reduces unless closed. I can go back to the minimized app, open it and then minimize a

[2022-11-11 16:27] Ian1971 commented on #3694
Welcome to the party

[2022-11-11 16:30] potjerodekool commented on #11439
Thanks @DannyDainton. Somehow I have missed that option.

[2022-11-11 16:31] potjerodekool commented on #11439
Fixed by sugestion

[2022-11-11 16:31] potjerodekool commented on #11439
Fixed by sugestion.

[2022-11-11 16:32] #11439 closed, assigned to nobody

[2022-11-11 16:32] chrisdreams13 commented on #3694
Could this post be nominated to the most wanted and ignored request?

[2022-11-11 16:35] Ian1971 commented on #3694
Not even close. https://github.com/postmanlabs/postman-app-support/issues/285#issuecomment-1281779059

[2022-11-11 17:41] jzabroski commented on #4375
@ptiyer This is a 2 year old question. Maybe mention what version you are on and whether you tried the latest version. You're bothering people about something that hasn't been discussed in 2 years without any added context - it's bad net etiquette.

[2022-11-11 18:27] bean5 commented on #11412
@DannyDainton Thanks for noticing this.

[2022-11-11 18:28] bean5 commented on #11412
If the snap can be updated, various tickets might be fixed such as: #8481

[2022-11-11 22:22] RyKilleen commented on #8147
This and #9242 seem to be duplicates, just wanted to note this would be incredibly useful! Working to create a flow for profiling and load testing user flows with `autocannon`, which accepts HAR files, and this would make it super easy!

[2022-11-12 00:32] ferba24 commented on #11085
@DannyDainton I'm experiencing the same issue as well. Several users too (https://github.com/postmanlabs/postman-app-support/issues/8747)

![image](https://user-images.githubusercontent.com/48895700/201447544-afe69524-4650-4671-9f3b-5c9af593531d.png)

The issue was gone (in fact, I removed the post I made here because the issue was gone but today it happened again)

[2022-11-12 05:40] Micnubinub opened #11441 "Requests in collections don't save when duplicated then changed"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

When I duplicate a request and change the duplicate then close the app and reopen the app the requests are identical

### Steps To Reproduce

1. Create collection
2. Create request
3. Run request
4. Duplicate request
5. Modify du

[2022-11-12 11:41] samyarkd commented on #7294
In win 10 i have the same exact issue. I'm using the web version because it was using a lot of memory and CPU. i hope that you fix this issue in next updates.
i disabled the `Hardware Acceleration` it made some difference but not much.

[2022-11-12 23:14] wo4wangle commented on #8195
+1!!!!!

[2022-11-14 06:23] giridharvc7 commented on #9409
@Grant-Lay This was fixed in an earlier version on the desktop app, please update to the latest version just in case.

<img width="681" alt="image" src="https://user-images.githubusercontent.com/1040583/201589472-64631a37-ad97-43d5-b813-a1f79fbc1266.png">

[2022-11-14 06:25] giridharvc7 commented on #9409
@cgontario I'm assuming that you don't face this issue anymore. Was the fix just mentioning Postman's callback URL with the Auth provider?

[2022-11-14 06:26] giridharvc7 commented on #9409
@mholttech can you expand your use case, Do you want to pass `client_assertion` with the token url?

[2022-11-14 08:55] jooleeanh commented on #10947
Have the same issue with v94.x. Was reviewed by our company's security team, and they cannot/will not remove the exclusion for this Chrome plugin version. So we're now dependent on the Postman app being updated to a newer version (will be using the chrome version until then).

[2022-11-14 10:30] NaumanMoazzamKhired commented on #3438
It's almost 5 years, do we have any update on this?

I would like to export this Documentation and add this to GitHub Readme.

[2022-11-14 11:52] aureole82 opened #11442 "On click into textbox: Cursor is always placed at the end"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

When I click into a textbox the cursor is always placed at the end of the text inside the textbox AND NOT WHERE I CLICKED.

### Steps To Reproduce

click into a textbox

### Screenshots or Videos

![On click into textbox - Cursor

[2022-11-14 11:59] appurva21 commented on #11432
@PhuocBan I'm closing this issue as we are not able to reproduce it. Feel free to re-open it in case the issue still persists for you.

[2022-11-14 11:59] #11432 closed, assigned to codenirvana

[2022-11-14 12:20] necccc commented on #8920
+1

[2022-11-14 12:37] Chand-MD opened #11443 "Postman UI is getting stuck if we try to copy the variable value which has characters count greater than or equal to 80016 or 988420"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

Postman UI is getting stuck if we try to copy the variable value which has characters count greater than or equal to 80016 or 988420 using Environment variable '**current value**'

### Steps To Reproduce

1. Convert a document [

[2022-11-14 13:19] Djikkac commented on #11252
Would be great to implement the same for gRPC collections as well!!

[2022-11-14 13:20] Djikkac commented on #11252
Would be great to implement the same for gRPC collections as well!! Need this to run the collection via CLI, Pipeline.

[2022-11-14 14:39] cgontario commented on #9409
I don't think that the Redirect URI is even required in my case now as I ended up switching the App Registration in question to a Public Client. But I haven't had any issues authenticating to Azure AD using a few different App Registrations, some configured as Public Clients and some as Confidential Clients (secret and Redirect URI required).

[2022-11-14 14:54] postman-support commented on #11376
Hello Kalman,

It is great to hear back from you!

We need to take a closer look into this issue. Could you please log a ticket using the support form: `https://www.postman.com/support` And provide the following data to troubleshoot further :

- Screencast/Screenshot of this behavior.
  - We find loom.com to be an excellent tool for this.
- Application logs - Getting Postman logs - https://support

[2022-11-14 15:27] Brilbroeder commented on #6355
+1 for this feature

[2022-11-14 15:52] LockTar commented on #10494
Cloning a workspace would be very handy! Inside the same account is voor me personally enough.
Just ask for the new name or let people just select the target workspace (so you would first need to create an empty one).

[2022-11-14 16:45] RzNmKX commented on #5206
Almost end of 2022 and Postman is still preferring IPv4 addresses...

[2022-11-14 17:43] giridharvc7 commented on #9409
@cgontario thank you for confirming. I will close this ticket in a few days as we don't send `client_secret` when set empty.

[2022-11-14 19:37] VaishnaviChallaPostman opened #11444 "Unable to Drag, Scroll and Drop a request"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

Able to select a request and drag and drop it within the screen but when we have to scroll while dragging the item the link to the item is lost and when you drop no item is moved.

### Steps To Reproduce

1. Select an item
2. Dra

[2022-11-14 19:46] rodrigo-gonzalez-LS commented on #2734
I prayed and prayed

[2022-11-14 19:46] davidbrenner-insight commented on #10494
My company has recently upgraded our postman licenses. I'd like to move my workspaces from my personal system to the team environment without having to export/import everything piece by piece. One export and one import for the whole workspace would be rather convenient.

[2022-11-14 20:37] tanvibajwa opened #11445 "Import unsuccessful"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

Unable to import OpenAPI 3.0.0 to postman v 10.2.2
I am trying to import json definition of API but the import fails almost immediately with the following error:
![image](https://user-images.githubusercontent.com/38383434/2017591

[2022-11-15 02:55] zdary opened #11446 "Export option for an API"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

There is no export option for collections imported from openapi 3.1. The collection sits under api section and not collection section.
The documentation on data import/export https://learning.postman.com/docs/getting-started/impo

[2022-11-15 05:22] ashutosh-betaflux commented on #3117
Sad to see, @postman-support  team has not prioritise this most needed feature. 😔

[2022-11-15 07:28] shashankawasthi88 commented on #11446
@zdary thanks for raising this. Can you describe your workflow? What's the purpose of exporting the schema and if the [native git capabilities](https://blog.postman.com/announcing-postmans-redesigned-api-builder-with-native-git-support/) can be used to complete your workflows instead?

[2022-11-15 08:14] AlexDubel commented on #4690
+1 for consoile.clear();

[2022-11-15 08:34] SaloniV3011 commented on #11445
Hi @tanvibajwa
Could you please share the Open API 3 spec with us if possible?
Also, would like to understand how many times did you try the Import again option and how many times did the failure occur?
Would be really helpful if you can share your feedback & concerns on your Import experience.
Thanks!

[2022-11-15 12:07] shaike41 commented on #10580
Same here...

[2022-11-15 19:22] fnune commented on #5787
We've set up a monitor that alerts our team on PagerDuty. Currently, it's configured to run Mon-Fri at a certain time.

I'm having issues with the fact that the configuration UI does not show a timezone, and neither does the execution UI. See the screenshots for an example.

This makes it very difficult to work with the monitor. I changed the monitor from 6AM to 7AM (without knowing which timezone

[2022-11-16 00:07] ivanparramartinez commented on #11085
This is an issue that happens all the time with the desktop app (I use the Mac app)... If I use Postman on the web browser it doesn't happens. Why can be that?
![Captura de pantalla 2022-11-15 a la(s) 7 04 57 p  m](https://user-images.githubusercontent.com/16830391/202050988-74a7e10d-12ef-4e0e-a6d9-63b0b31660fb.png)

[2022-11-16 02:13] Aedemdem commented on #8195
+1 🥹

[2022-11-16 03:55] kamalaknn commented on #11325
@Tekorius @tlomberg Do you still see the grey screen crash if you disable hardware acceleration? You can find the option on `Postman` menu

[2022-11-16 04:00] tlomberg commented on #11325
In my version of Postman, I see "Enable hardware acceleration" but when I tried selecting it, nothing happens. So I am assuming it's not even on.
<img width="410" alt="Screen Shot 2022-11-15 at 10 59 36 PM" src="https://user-images.githubusercontent.com/15874609/202080305-b1a9b515-8891-42e3-a519-d22f7ed95acf.png">

[2022-11-16 04:52] kamalaknn commented on #11325
@tlomberg It looks like hardware acceleration is turned off. Are you seeing anything on the [performance profile](https://developer.chrome.com/docs/devtools/evaluate-performance/)?

[2022-11-16 05:13] ranarahulfz opened #11447 "While editing the raw JSON body of any request the cursor is not going to the very end of any line and when I am editing something the cursor reaches it starts editing from the very end of the line."
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

While editing the raw JSON body of any request the cursor is not going to the very end of any line and when I am editing something the cursor reaches it starts editing from the very end of the line.

### Steps To Reproduce

1. Op

[2022-11-16 06:17] cmyllis commented on #11423
Cannot update to 10 due to licensing issues.
A copy is attached in the previous post.
I havent tried recreating the bug in another collection.
I am only unable to delete requests added from the interceptor.

[2022-11-16 07:22] veenadevi commented on #10936
I am also getting the same Error. This Means Postman picks the user name login as the default organization and takes the organization from GitHub. So it's not showing repositories from the actual Organization.

[2022-11-16 08:55] hanyrenando opened #11448 "Not every request header is captured on postman interceptor debug session"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

I try capture request and cookies from a sites using interceptor plugin on chrome

after succesfully captured and saved into collection,
and then comparing request on chrome inspect> network tab header versus captured request hea

[2022-11-16 09:11] apurva-xto10x opened #11449 "White screen with some JS error"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

I was creating a collection with folders and adding requests there, suddenly all the requests that I added faded away abruptly, I went afk for sometime and when came back saw the following on my screen (please refer the screensho

[2022-11-16 09:17] arvenil commented on #9185
I run into more serious issue. We can't do HTTP signatures because Postman sends query parameters in random order. Even though in js console you can see them in correct order, they are actually sent in random order, visible on servers end. Pretty much the same code to sign messages works perfectly in Insomnia, but in Postman it randomly fails because of out of order params.

[2022-11-16 10:26] kanilZ commented on #2701
+1

[2022-11-16 10:34] Himani-relan commented on #11440
Could somebody please help in figuring out the issue ?
Thanks

[2022-11-16 10:38] MatusDallos commented on #8769
Hello @abhijitkane @jotsarup,
please, is there any timeline or progress for this feature?
Our company would like to use this integration for Atlassian Data Center products as well.
Thank you!

[2022-11-16 11:22] akshay-kulkarni03 commented on #11378
Hi @lavasb we already have an issue open for this: https://github.com/postmanlabs/postman-app-support/issues/10852

We are already working on improving the workspace switcher experience.
Can we close this and follow the above one for updates?

[2022-11-16 13:15] ankitjaggi commented on #8053
This has now been fixed in the latest version of the Postman App. Feel free to create a new issue if the problem persists.

[2022-11-16 13:15] #8053 closed, assigned to ankitjaggi

[2022-11-16 13:25] krakadzeyau-clarabridge commented on #4318
Four years passed... Shame on you, Postman team.

[2022-11-16 13:37] Drunken72 commented on #6556
Thank's for saving me T_T . I also tried everything you've tried. Many many thanks

[2022-11-16 14:09] gperego-pirelli commented on #8231
+1

[2022-11-16 14:25] angeldima commented on #8231
+1

[2022-11-16 14:42] shashankawasthi88 commented on #8769
MatusDallos and All,

The team is actively working on the integration, we will update the thread once we have final timelines decided.

Thanks

[2022-11-16 15:03] postman-support commented on #11423
Hey Christos,

Thank you for sending us that information.

I've created an escalation for our engineering team to take a deeper look. As we await more information, can you provide this information to help with the investigation?

- I understand you are using V9. Can you share which version of Postman V9 you are using?
- Can you provide us with the version of the Postman interceptor you are using?

[2022-11-16 16:53] AceOubahaTLI commented on #3358
+1 please fix uppercasing, it makes the uncomment feature more or less unusable

[2022-11-16 17:07] harshit-budhraja commented on #11381
@AkaramAli Firstly, thanks a lot for reporting this issue and making an effort to help us make Postman better 🙇🏻

We've fixed this issue from our end and your flows should start working as they were, without the temporary work-around mentioned above. Please do let us know if you still face issues!

[2022-11-16 18:03] ezequieldelucaey commented on #7179
Is there any expected date for this to be resolved? This bug is still present on the current version of postman

[2022-11-16 18:30] giridharvc7 commented on #9409
Closing this issue.
We will continue to show `client_secret` for `Authorization Code with PKCE`.
When the `client_secret` is left blank, Postman will not be sending this key with the OAuth request.

But there might be cases where the Auth server expects the `client_secret` or you simply want to test out your own servers with `client_secret`, can still pass values to `client_secret` to test these f

[2022-11-16 18:30] #9409 closed, assigned to abhijeetborole

[2022-11-17 01:17] iju0 commented on #6780
![1](https://user-images.githubusercontent.com/59763809/202330231-3054e7ac-2dee-49aa-a51c-0b8597fc59ac.png)
![2](https://user-images.githubusercontent.com/59763809/202330239-315b2921-1404-4c0e-95a5-324366a4907a.png)
I get the same error.
I can log in on the web.
This happens only in desktop apps.
The local data was deleted and retried, but it happened the same way.

[2022-11-17 04:32] Raj-postman commented on #10936
@veenadevi Sorry to hear that, may I know the version of the application on which you are receiving this error? As we weren't able to replicate this on the latest version of the app (V.10.2.3). I would suggest you to revoke access of Postman from Github and re-authenticate to see if that helps.

But if the issue persists, as requested above - do share a recording of the issue along with the logs t

[2022-11-17 05:15] #11378 closed, assigned to nobody

[2022-11-17 06:58] kamalaknn commented on #11449
@apurva-xto10x Could you share the [logs](https://support.postman.com/hc/en-us/articles/360025298633-How-to-get-logs-from-the-Postman-Desktop-app)?

In the meantime you should be able to use postman app on web `go.postman.co`. If you have signed in, all your data should be backed up and you should be able to use them on the browser as well.

[2022-11-17 08:27] malvikach commented on #4187
Closing this ticket, as we are tracking this as a feature request [here](https://github.com/postmanlabs/postman-app-support/issues/10676)

[2022-11-17 08:27] #4187 closed, assigned to a85, vkaegis

[2022-11-17 09:09] demotodo commented on #10605
Very eager to get this new feature in short time!!

[2022-11-17 09:11] #11393 closed, assigned to nobody

[2022-11-17 09:36] pashokman opened #11450 "If take a datetime string from prerequest scripts, time has more than 60 seconds"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

I write this pre-request script for taking a datetime string, but I have an errors because in datetime string seconds can be bigger than 60.

Pre-request script
const moment = require('moment');
const secondEventTime = moment().s

[2022-11-17 09:38] brandy-kay commented on #9176
This problem arises due to wrong port number check your database port number and change it on your postman .I had the same problem but when i change the port number to the correct one it worked well

[2022-11-17 09:42] #2672 closed, assigned to vkaegis, malvikach

[2022-11-17 09:44] #4276 closed, assigned to vkaegis, malvikach

[2022-11-17 09:45] #7095 closed, assigned to vkaegis, malvikach

[2022-11-17 09:54] malvikach commented on #2827
Hi @dforney14 👋

I know you have already shared a workaround on this. However, wanted to inform you that in Postman's version 10, we have also introduced a 'Runs' tab for collections that will contain all your Collection's Runs and useful statistics about them, you can also use this as a dashboard and filter/sort across your runs:

<img width="1002" alt="191515846-9aeb4f33-f002-4943-b0d8-191ae3e0d

[2022-11-17 09:54] #2827 closed, assigned to a85, vkaegis, malvikach

[2022-11-17 11:15] maktsakalis commented on #10551
Hello!
Same here, problem insists even after clearing the font cache and reinstalling Postman (via snap)

Postman:
Version 9.31.0

Running on:
Manjaro Linux 22.0.0  (64-bit), 5.15.78-1

[2022-11-17 11:48] sriharsha-samana commented on #6316
We need this too..

[2022-11-17 12:33] kaivalyapendse opened #11451 "Postman Interceptor Fails to start session"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

We are trying to capture requests using Postman Interceptor. We were able to do so but after updating the Postman we are getting following error: **`Error creating interceptor session`**

### Steps To Reproduce

1. Open postman.

[2022-11-17 13:19] PeterNSkovgaard opened #11452 "Some history missing from one Postman instance"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

I have postman on my Mac and on a different windows machine. For some reason, some of the history on my windows postman app is not synced to my Mac application despite being logged in with the same account on both.

Specifically

[2022-11-17 13:25] malvikach commented on #4288
We are tracking this [here](https://github.com/postmanlabs/postman-app-support/issues/9735)

[2022-11-17 13:25] #4288 closed, assigned to vkaegis, malvikach

[2022-11-17 13:26] mvoloskov commented on #9488
Postman has SHOW_BANNER_IN_SCRATCHPAD flag in the code. They just want you to use workspaces.

[2022-11-17 13:41] mvoloskov commented on #9488
By the way, for me the persistence of this banner is one of the reasons I don't want to give you my data.

[2022-11-17 14:05] tabs commented on #11451
same problem

[2022-11-17 14:08] tabs commented on #11451
nobody know why?

[2022-11-17 14:11] #10485 closed, assigned to postman-staff

[2022-11-17 14:14] mvoloskov commented on #9488
@fusionneur this is immensely helpful. Thank you

[2022-11-17 14:21] #9401 closed, assigned to malvikach

[2022-11-17 14:27] malvikach commented on #9858
Hi @margiehu 👋

Thanks for your feedback. I agree that the current behavior can be made better. We are taking a look at this.

We are tracking both problems as below:
1. Request names are hidden in the Interface of Results: https://github.com/postmanlabs/postman-app-support/issues/10015
2. Requests cannot be opened directly from results: https://github.com/postmanlabs/postman-app-support/issues/10

[2022-11-17 14:27] #9858 closed, assigned to nobody

[2022-11-17 15:15] kaivalyapendse commented on #11451
@tabs  thanks for confirming that you are also facing the same.

[2022-11-17 15:40] rohanamrutkar99 commented on #11451
Same issue I also observed

[2022-11-17 16:09] #11450 closed, assigned to nobody

[2022-11-17 16:21] adambellasps commented on #6926
My needs are right in line with this feature request. I'm looking for the UUID of the Folder, accessible from the pre-request script of that folder. This feature request, if satisfied with not just the name but the UUID as well, would benefit me greatly.

[2022-11-17 17:12] jaredromano opened #11453 "Interceptor doesn't accept new domains"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

Either from the Chrome extension or in postman I am unable to add new domains on the Sync Cookies tab.  If I click "Add Domain", nothing happens, the domain doesn't get added to the list and no error messages show.

### Steps To

[2022-11-17 17:16] shashankawasthi88 commented on #11451
Thanks for raising this folks. Looking into to and will update the thread.

[2022-11-17 17:36] oNinjaZ commented on #10580
Same...

[2022-11-17 17:56] angelcabrera-nr commented on #8574
Uninstalling and reinstalling postman worked for me

[2022-11-17 19:07] shivanimaheshwari10 commented on #11451
We've identified the issue and working on the fix. You can track updates here - https://status.postman.com/incidents/9279n71n3kvz

[2022-11-17 19:12] herisn23 commented on #6682
+1

[2022-11-17 20:12] shivanimaheshwari10 commented on #11451
We've fixed the issue, please upgrade the app to v10.3.5.

[2022-11-17 20:37] motor75 commented on #2452
@giridharvc7 - any idea on when or if this will ever be worked on?  This would be a nice feature to have optionally - allowing you to allow auto refresh of Oauth tokens (I'd say the default should be a manual process for security and based on other's comments on this thread).  But this thread is over 6 years old and there's no movement on getting this implemented into Postman.

[2022-11-17 22:17] ZachHaber commented on #3059
@stokito. the url package there only brings in the [Legacy url api](https://nodejs.org/api/url.html#legacy-url-api)!

I'm not sure why they haven't let the WHATWG URL from node through the sandbox, but it definitely is frustrating that a legacy package labeled "do not use" is exposed over making it easy to use modern APIs.

[2022-11-18 00:48] djblankinship opened #11454 "Postman Web: Support Center should load in new tab"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request and I know that duplicates will be closed

### Is your feature request related to a problem?

I was using the Postman web version in a Chrome tab and ran into a problem during the running of some tests in a collection. I selected Settings > Support Center and the support page was

[2022-11-18 01:32] YaozhongZhang commented on #2701
+1

[2022-11-18 02:08] mayank-wpay commented on #11299
Hey @malvikach any update on when this feature will be rolled out for consumers. Would be great to have custom reporters embedded right within Postman cli... Having integrations with CI/CD tools like bitbucket or Azure will make it easy to upload report artefacts to share with stakeholders.

Having a custom reporter like html makes it easier even for non-tech business person to visualise the test

[2022-11-18 05:12] kaivalyapendse commented on #11451
Thanks @shashankawasthi88  and @shivanimaheshwari10. The issue is resolved and is confirmed by my team as well. Closing this issue.

[2022-11-18 05:12] #11451 closed, assigned to shashankawasthi88

[2022-11-18 06:30] wenlong139 commented on #8747
I meet this issue. But I think this issue is don'n releated postman.
I find when I curl  an URL which response header has a key "C2vydmljzs1tzxnolw1hbmfnzxi=".
The head key contains a character '='  It is a special character  and it's why postman analyze response invalid
So  the reason may be your interface response a invalid response header key

[2022-11-18 07:02] harsh-bansal97 commented on #11427
@MitriSan we are working on a solution for this and should have it fixed by early next week. Will let you know once it is fixed, thanks.

[2022-11-18 07:27] kuhajeyan commented on #11451
issue seems resolved thk a lot team

[2022-11-18 08:01] appurva21 commented on #11436
Hey @jschweihs!
We have fixed this issue in the latest release of the Postman app (v10.3.5). Can you restart your app to verify if things are working fine for you?

[2022-11-18 08:38] xaimaran opened #11455 "Hide description column"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request and I know that duplicates will be closed

### Is your feature request related to a problem?

It's very annoying in the Postman to keep hiding the description column in the Params and Headers sections.

Found nothing in searching the documentation, config files, and settings.

###

[2022-11-18 09:14] coccoinomane commented on #6681
Why do we need to pay for Enterprise seats for a basic password protect feature?

[2022-11-18 09:17] tinesoft commented on #2082
Hi,

I'm using **v10.2.2** , and still the issue is present ( "Send and Download" saves file as "response.xxx", completely ignoring the header `"Content-Dispostion" --> "attachment; filename=<filename>"`) ....

[2022-11-18 10:04] kha-pham-dss commented on #2096
+1 for this. Toggle sidebar with Ctrl + \ is most uncommon way. It's difficult to use and slow to work with.
Would be very helpful to let user custom shortcut. Thanks.

[2022-11-18 10:09] seth-rah commented on #2096
I stopped using postman because if they can't even prioritise the simplest of accessibility issues, then I don't feel like it's ever going to care about the needs of its users.

[2022-11-18 10:17] exe-atewinkel opened #11456 "Postman web: Update Email Address fails with message "Only alphanumeric characters and hyphens are allowed in username""
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

I need to change the email address of my Postman account, as my old email address is still being forwarded but will be phased out at some point. However, when I try to update my email address in Postman web, it fails.

### Steps

[2022-11-18 10:20] richarddwelsh commented on #9449
Still experiencing this problem (intermittently) now. Please fix!

[2022-11-18 11:08] arvenil commented on #3059
I wonder why this is closed if we still can't use URL API?

[2022-11-18 11:24] sebastiansam55 opened #11457 "Add the option to keep the "Documentation" side bar open when viewing requests"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request and I know that duplicates will be closed

### Is your feature request related to a problem?

Currently you have to click on the documentation icon in the side bar to open and view the documentation whenever you open a request.

### Describe the solution you'd like

Add the option

[2022-11-18 13:00] imightbedev commented on #9298
even though this request looks to be dead, it's a nice feature i'd like - did not find a way to do this.
![Untitled](https://user-images.githubusercontent.com/61594254/202710367-9b1d1d36-8044-4095-81b1-56dc0b62f60d.png)

how about instead of managing an environment, give the option to manage an environment family

[2022-11-18 14:17] kedigby commented on #2209
Would also like this feature

[2022-11-18 17:07] javatunix commented on #5206
But it works in postman chrome extension... idk why...

but it works in postman chrome extension... idk why...

[2022-11-18 18:39] stewartadam opened #11458 "Ctrl/Cmd+C with no text highlighted should copy the value of the JSON field where cursor is"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request and I know that duplicates will be closed

### Is your feature request related to a problem?

Often Postman is used to interact with APIs that return JSON, and copying values out of the JSON body can be tedious especially when the selection boundaries have to be just right.

### D

[2022-11-18 21:04] olaforest commented on #11232
@appurva21 @codenirvana This is awesome! Thanks you Postman team!

[2022-11-19 04:47] timpulsive opened #11459 "Allow use of Variables in SocketIO Handshake path"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request and I know that duplicates will be closed

### Is your feature request related to a problem?

When testing against a system with dynamic handshake paths, you have to edit the handshake path in the tiny box each time it changes.

### Describe the solution you'd like

Allow use of v

[2022-11-19 06:25] awreccan commented on #461
+1 can we get a fix for this?

[2022-11-19 11:15] khazamov opened #11460 "openapi2postmanv2 produces the collection without"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

The new version of openapi2postmanv2 produces the data without enclosing it into "collection" key

### Steps To Reproduce

1. Download API https://api.criteo.com/2021-07/marketingsolutions/open-api-specifications.json
2. Convert

[2022-11-19 12:51] khazamov opened #11461 "PUT on Postman collection point works as DELETE -> CREATE rather than as an UPDATE"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

HTTP RFC specifies PUT operation as an update operation. In reality, Postman's API does not adhere to this principle. You can verify this by following the steps below.

### Steps To Reproduce

1. Create a collection.
2. Add a sam

[2022-11-19 12:56] khazamov opened #11462 "Forked collection disappears if modified"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

1. Fork collection
2. Modify collection in the fork by modifying the URL in one of the requests
3. Update the original collection.
4. Said forked Request simply disappears without any warning.

### Steps To Reproduce

1. Fork col

[2022-11-19 14:27] EzeGmnz commented on #4690
+1 for console.clear() 🧹

[2022-11-19 18:32] seheon99 opened #11463 "In websocket request setting, I don't want suffix `/` of Handshake path"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

I want to change the value of `Handshake Path` to `/random`, but Postman always change it to `/random/`

### Steps To Reproduce

1. Open a new websocket request tab
2. Enter server URL
3. Go to the settings tab
4. Change the valu

[2022-11-19 19:17] Kenoshen commented on #8195
+1

[2022-11-20 19:00] mtwinux opened #11464 "Possibility to create a fragment of documentation and reuse it in whatever documentation"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request and I know that duplicates will be closed

### Is your feature request related to a problem?

no, not related to a problem

### Describe the solution you'd like

Hi, we have documentation for many api and we have slightly the same documentation base each time :

- versioning on ur

[2022-11-21 03:26] harsh-bansal97 commented on #11427
@MitriSan this has been fixed now, let me know if you are still facing issues.
Also do note that `owner`, `lastUpdatedBy`, `lastRevision`, `createdAt` and `updatedAt` fields are not needed and you can remove them from the payload.

[2022-11-21 03:33] postman-support commented on #11448
**@****hanyrenando** We have reviewed the issue and have concluded that the headers which are missing are blocked by the Chrome APIs (Which are used by the interceptor extension to intercept the requests) due to performance concerns. Hence we won’t be making any further changes here and this is the expected behaviour for now. Thanks!

via @Raj-postman | Postman Support

[2022-11-21 03:35] #11448 closed, assigned to shashankawasthi88

[2022-11-21 04:51] VaishnaviChallaPostman commented on #11452
Hey @PeterNSkovgaard
Sorry to know that you are facing this issue.

Could you please create a Support Ticket with us [here](https://support.postman.com/hc/en-us/requests/new/) and provide the network logs from mac, to help us investigate better?
It would be great if you could mention this GH thread ID (GH #11452) in the subject while raising a ticket :)
Thank you!

[2022-11-21 05:27] sunilkilowott opened #11465 "Upgrade to V10.2.3 doesn't update API and connect to repository ,API folder disappeared unable to push pull the changes"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

Upgraded to V10.2.3, some changes updated in collections but its not updated in API's , tried to add existing collections in API but its not worked ,that added existing folder not seen is disappearing unable to do changes also in

[2022-11-21 05:41] shashankawasthi88 commented on #11465
@sunilkilowott thanks for rasing the request. We are looking into it and shall revert on the thread.

[2022-11-21 06:05] gnawf commented on #10957
Tried to switch to Postman but this was a deal breaker. My team makes heavy use of GraphQL.

Pre-request scripts are great and we need it for auth, otherwise config is duplicated everywhere (and so, Postman is now no better than our current client).

As things stand, the GraphQL query editor is basically a plaintext editor. No schema and thus autocomplete is a huge blocker.

[2022-11-21 06:16] SaloniV3011 commented on #11381
Hi @AkaramAli
Closing this issue due to inactivity. We have released the required fixes.
Do let us know if you are still facing this issue.
Thanks again for reporting this!

[2022-11-21 06:16] #11381 closed, assigned to akshaydeo, postman-staff

[2022-11-21 06:17] gckunjadiya commented on #9542
This worked after trying out so many solutions!! Thanks

[2022-11-21 06:28] AkaramAli commented on #11381
Thank you so much @harshit-budhraja for fixing this issue !
I will test this with the latest release .In case of any issues , I will log a new ticket .
This issue can be closed .

Thanks Everyone !

[2022-11-21 06:36] shashankawasthi88 commented on #11453
@jaredromano thanks for raising the issue. We are looking into this.

[2022-11-21 06:38] shashankawasthi88 commented on #11451
@kuhajeyan can upgrade the app and try again. The issue has been resolved.

[2022-11-21 06:59] shashankawasthi88 commented on #11453
@jaredromano can you upgrade the app to the latest version and try again? We have fixed this issue in the latest release. Feel free to reopen the ticket if it is still reproducible.

[2022-11-21 06:59] #11453 closed, assigned to shashankawasthi88

[2022-11-21 07:25] GianniQTXR commented on #9118
Hi there, we're you able to complete the Bootcamp for the new version, or are you referring to the old one sent by Ankur?

[2022-11-21 08:12] akshaydeo commented on #1744
👋  everyone, we are working on this feature as we speak. I will update this ticket as soon as it's available on the Postman app. 🙇‍♂️

[2022-11-21 08:28] akshaydeo commented on #10648
@franciscosamuel, I am closing this ticket for now. Please re-open if my earlier suggestion doesn't help to resolve the issue 🙇‍♂️

[2022-11-21 08:51] giridharvc7 commented on #4193
Hey, I'm trying to understand the use case a bit deeper on the workflow/use case.

Can someone elaborate on their use case and give us an idea (along with some code snippets maybe) of what you are looking for?

[2022-11-21 09:13] Ben9000 commented on #8195
+1

[2022-11-21 10:11] maticardenas opened #11466 "Postman API: check/uncheck query parameters on API."
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

We are currently working in some automation using `Postman API`, importing collections from OpenAPI specifications (`POST /import/openapi`) and updating them (`PUT /collections/{collection_uid}`).

What we observe, is that for ap

[2022-11-21 10:19] TinTran64 commented on #9566
It's been almost 2 years now and this issue is still open...

[2022-11-21 10:47] kamaraju-p commented on #11395
Hi @tkrajewski89 , thanks for reporting the issue. We are fixing this on priority and will update once we release a fix.

[2022-11-21 12:32] AlexLombry commented on #4193
Simple example
On a pre-request object, we want to link a collection identifier to be run, and not write a curl script in Javascript.

I wrote a long time ago an example :
https://github.com/postmanlabs/postman-app-support/issues/4193#issuecomment-647046367

Also, you can have a nice use case to generate a JWT Token from an API before doing your current request here :
https://paw.cloud/docs/auth/j

[2022-11-21 12:38] big-omega commented on #10605
@giridharvc7 Any progress on this? Got the same trouble too, hope there exists a global setting to enable/disable it, thanks!

[2022-11-21 13:03] DannyDainton commented on #11462
Hey @khazamov

Could you provide a short recording of the issue you're currently facing, please?

[2022-11-21 13:06] malvikach commented on #11437
@ShadowLeiPolestar We are looking into this, thanks for providing the detailed information.
Just a quick check- Was this testing working on an earlier Postman version and stopped working for you recently? Let us know if that's the case.

[2022-11-21 13:08] #11460 closed, assigned to nobody

[2022-11-21 13:13] FranckL01 commented on #6682
+1

[2022-11-21 13:13] DannyDainton commented on #11456
Hey @exe-atewinkel

Tagging Support in this issue, to see if there is anything that can be updated internally to unblock you.

[2022-11-21 13:35] DannyDainton commented on #11442
Hey @aureole82

The field isn't in focus before you click, the first click is bringing focus to it. At that point, there is either no text in the field which sets the cursor at the start or there is text in the field which sets the cursor at the end.

I believe this has always been the behaviour in those types of fields but the cursor does give you the impression that that's where it will be place

[2022-11-21 14:12] DannyDainton commented on #11466
Hey @maticardenas

Adding this as a feature request - We have the `disabled` property for the `Headers` and `Variables` that control that option via the Postman API but it seems to not be working for Query Params.

[2022-11-21 14:15] DannyDainton commented on #11425
Closing this due to inactivity

[2022-11-21 14:15] #11425 closed, assigned to nobody

[2022-11-21 14:19] aureole82 commented on #11442
Thanks for the explanation but I guess you got the point. Please improve the user experience and implement what normal user would expect.

[2022-11-21 14:20] DannyDainton commented on #11447
Hey @ranarahulfz

I've been unable to reproduce this issue on my side. I see that you have, in the settings, the font `luculent` in the editor settings sections. If you remove this and then do a `Help > Clear Cache and Reload` - Does that help here?

[2022-11-21 14:21] dzar-aker commented on #6728
I have been hit by this issue, as well.

A scenario that I think should be considered:
- User with many environments for testing has locally defined passwords and other sensitive information
- This user gets a new computer
- User needs to get their complete Postman setup running on new machine as quickly as possible.

Currently, this is quite difficult and manual.

1. There is no way to export the

[2022-11-21 15:07] patrickReiis opened #11467 "Postman does not send cookies with the Secure attribute in localhost"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

According to this website `https://learning.postman.com/docs/sending-requests/cookies/#creating-cookies` secure cookies will only be sent if the URL begins with https:// however according to this website `https://developer.mozill

[2022-11-21 15:19] wdamien commented on #4193
In my case all I would need is the ability to call Request A before Request B. The reason being, is it's common to have a configuration file, a security token, or other type of data that loads dependencies required by my current request. Instead of running that first one manually, I just want to run it automatically from a Pre-request script. Something along the lines of this:
`const result = awai

[2022-11-21 15:37] #7349 closed, assigned to jviotti

[2022-11-21 16:42] postman-support commented on #11423
Hello Christos,

Thank you so much for your patience with this issue.

Our engineering team has identified the issue and is working on a fix. In the meantime, they suggested the following workaround to get the requests deleted:

- You will want to delete the request using postman.com/postman/workspace/postman-public-workspace/request/16473433-a7e03dca-daae-4b07-8a4c-a7499e21e01d
- Add the complete

[2022-11-21 16:43] roumaissabensaid opened #11468 "When I click on collection or request the tab is not opened"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

Hello,

When I try to open a collection tab to add variable or Authorization, the tab is not opened and it's the same for the request, hopefully we have the open in Tab button for requests, otherwise I will be fired :D.

I did ha

[2022-11-21 18:33] karl-cardenas-coding commented on #10928
This ticket should not be marked closed as the root cause has not really been addressed.

[2022-11-21 19:18] b4brijesh opened #11469 "GRPC Protobuf parser doesn't parse comments properly"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

There's a logical parsing bug when reading a simple .proto file with line comments followed by block comments.

### Steps To Reproduce

Importing a .proto file with the following contents doesn't work. Remove the comments and the

[2022-11-21 20:29] marcusalexandre commented on #6682
+1

[2022-11-21 20:38] sephh commented on #6682
+1

[2022-11-22 04:19] swarupdonepudi opened #11470 "New Integration Request - buf.build"
### Describe your current workflow

We publish all the protobuf definitions to buf.build. [buf studio](https://buf.build/blog/buf-studio) helps with testing the rpc operations right where the proto definitions exist although it lacks various features that postman offers. So, we now have two places where we test out apis. [buf studio](https://buf.build/blog/buf-studio) and postman.

Primary issue w

[2022-11-22 04:52] giridharvc7 commented on #4193
@AlexLombry Got it! I'm assuming you don't expect the pre-request/test scripts of referenced request to be run (this might lead to unexpected recursions)

Regd JWT, we are tracking it here - https://github.com/postmanlabs/postman-app-support/issues/5548 - a solution might look something like another Auth supported by Postman (in the Authorization tab), which could generate a JWT based on algorithm

[2022-11-22 05:03] postman-support commented on #11456
Hey @exe-atewinkel

Thank you for reaching out.

Sorry to hear that you are unable to update the email address.
I tried replicating the issue but was unable to replicate the issue on the Postman web app.

Could you please submit a support request(https://support.postman.com/hc/en-us/requests/new/) with us so that we will be able to check if the email address you are trying to update is an invalid/

[2022-11-22 05:20] stelloprint opened #11471 "Support for multipart/mixed headers that can generate boundary strings and Content-Disposition"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request and I know that duplicates will be closed

### Is your feature request related to a problem?

I have a Postman collection for a Public REST API that is nearly ready to share with our customers. A key workflow on our platform allows [users to upload files to their environment via t

[2022-11-22 05:25] stephenlprice commented on #11471
@jeremymayo @joseacortez91 @illonage

[2022-11-22 07:55] sergei-durkin commented on #6682
+1

[2022-11-22 08:02] AjithGeorge opened #11472 "Empty path variable in export getting saved as "value":"" instead of null causes newman to add an additional '=' sign after the value in request"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

### Related Issue [ #10381](https://github.com/postmanlabs/postman-app-support/issues/10381)

It is observed that sometimes postman collection export has `					"query": [
						{
							"key": "foo1",
							"value": "bar1"

[2022-11-22 08:08] AlexLombry commented on #4193
@giridharvc7 In the contrary I think they have to be run, that's the magic of it.
Imagine that referenced script might create environment variables, generate a JWT, create a new User.
Let say I have a register, a login and a purchase collection.
The register collection could save a login / password in variables, a pre-request script on login reference the register one.
Then the purchase collection

[2022-11-22 09:33] cmyllis commented on #11423
Thanks for the reply.

The bug is annoying but not that critical. Hopefully a fix is coming to both version 9 and 10. We ll wait until then to recheck if we can delete those.

[2022-11-22 09:36] ShadowLeiPolestar commented on #11437
hi @malvikach
Thanks & double checked the settings, it as "0" by default for the timeout field so I guess it's not the case.
Besides, maybe it's not caused by executing too long, I just found another request execute 7s which looks still good, just for this request it somehow would break | stop the next even on 200 status.

_Was this testing working on an earlier Postman version and stopped working

[2022-11-22 09:56] giridharvc7 commented on #4193
Interesting. Using Runner and using `setNextRequest` would solve the case for you, have you give this a try? Would love to know what problems you've faced with this approach

[2022-11-22 10:06] GeorgeDragosHutanu commented on #6682
+1

[2022-11-22 10:06] ygricks commented on #6682
+1

[2022-11-22 10:22] Azbola commented on #7370
@kamalaknn  I had the exact same problem.  As soon as I made the first request in postman my CPU would be over 50% constantly.  Disabling hardware acceleration fixed the problem straight away.

This is on a Lenovo Thinkpad Gen1 with Intel UHD graphics

[2022-11-22 11:11] VShingala commented on #11090
@fjuza1 Thanks for reporting the issue!

Could you also provide us with the corresponding schema for the OpenAPI definition? You can simply provide the sample definition with which this issue is happening or specifically request body schema for the mentioned endpoint. It'll help us debug this better.

[2022-11-22 12:56] MitriSan commented on #11427
@harsh-bansal97 Hi, thanks for the quick fix! However, i think it's more of a feature request - is it possible to return UID for requests, responses and folders in Postman API? Example workflow - list collection to delete requests you want to replace, and you can't use raw IDs from `get collection` response, as you need to extract owner id from collection UID

[2022-11-22 14:00] maticardenas commented on #11466
Hi @DannyDainton,

Thanks! Indeed it would be useful to be able to manipulate this somehow.

[2022-11-22 14:03] eddi888 commented on #4079
+1

[2022-11-22 14:12] postman-support commented on #11423
You are welcome, Christos,

I'll mark the ticket as `Solved`since we have an open escalation and the GitHub Issue thread.

Please feel free to write to us or raise another GitHub issue if you need any more help.

Have a great rest of your week!

Respectfully,

Adrian Buendia
Postman - T.S.E.

Status Page | Learning Center | YouTube | Twitch | Bugs + Feature Requests | Community

* * *

Product Sup

[2022-11-22 14:12] postman-support commented on #11423
You are welcome, Christos,

I'll mark the ticket as `Solved`since we have an open escalation and the GitHub Issue thread.

Please feel free to write to us or raise another GitHub issue if you need any more help.

Have a great rest of your week!

via @ | Postman Support

[2022-11-22 14:21] Alquh opened #11473 "There should be an option to reset the Working Directory"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request and I know that duplicates will be closed

### Is your feature request related to a problem?

The issue is once a Working Directory has been set, it cannot be reset to the default of ~Postman/files. Our team has a shared collection and we rely on some files that are in our request

[2022-11-22 14:37] max-m-s opened #11474 "Hide proxy password from Console"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request and I know that duplicates will be closed

### Is your feature request related to a problem?

Security issue. User's password is shared through the console in clear.

Postman for Windows
Version 10.1.2
Architecture x64
Platform win32 10.0.19044

### Describe the solution you'd lik

[2022-11-22 15:18] ddfreiling commented on #7982
+1

[2022-11-22 15:21] josephdrake-stahls opened #11475 "GRPC Reflection: Same Proto Requested Multiple Times"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request and I know that duplicates will be closed

### Is your feature request related to a problem?
When a GRPC Reflection request is made, it appears that postamn will recursively look up proto files found in service definitions and the service definition dependencies.  When this happen

[2022-11-22 15:30] Postmanaut-Adrian commented on #11468
Hey @roumaissabensaid

Thank you for Posting this. I'm sorry to hear about your troubles with the app. I'm happy to help!

1. Can you clear the cache as shown in this article: [How to remove local data](https://support.postman.com/hc/en-us/articles/4410785125271), and see if it helps resolve the issue?
2. Once the cache is cleared, you can navigate to the App settings and enable the option to "Alw

[2022-11-22 15:46] codenirvana commented on #11475
@josephdrake-stahls Thanks for reporting this issue.

We've identified the issue and already made a fix to avoid duplicate calls, will let you know once the fix is out.

[2022-11-22 16:05] vdespa opened #11476 "Share environment via API (like a collection)"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request and I know that duplicates will be closed

### Is your feature request related to a problem?

Currently, it is possible to share a Postman collection via API using the Postman UI. But if you go to an environment and try the same _Share_ button, you are not provided with any hints

[2022-11-22 16:32] RajvirBains opened #11477 "Allow delegated admin of Documentation Publishing for teams"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request and I know that duplicates will be closed

### Is your feature request related to a problem?

No

### Describe the solution you'd like

At Telus, we have various teams in the Postman instance. My team publishes documentation to a custom DNS https://docs.insights.telus.com/. For or

[2022-11-22 16:53] shashankawasthi88 commented on #11470
@swarupdonepudi thanks for raising the request, we shall look into this.

[2022-11-22 20:57] vageliskatsiotis commented on #6920
Issue still exists and not a specific app issue I think. Arch Linux. Workaround still works after using xprop to get the app's WM_CLASS. I would say it's likely snap / gnome issue

[2022-11-23 00:55] postman-support commented on #11381
via @asi-postman We're glad that our team was able to deploy a fix for the issue. based on your comment, we will close this issue and hope nothing else arises. Cheers

[2022-11-23 00:57] CaCaBlocker commented on #7294
Hi, Till now, there was no problem to use postman, but from yesterday I got the same issue. I'm very crazy now.
![image](https://user-images.githubusercontent.com/87882515/203450314-9bbefcf5-cf40-46d5-8bfa-e2bc4772da6d.png)

[2022-11-23 02:36] johnsonfash commented on #8195
Wow, this thread has been on for over two years now. Can you imagine a dev tool without autosave.
They release new features everyday and the most in demand gets ignored. Wey to go postman.
You have officially kept your up to date app in the 19th century. I mean how hard is it to get your team to work on the option to autosave on the app?
People are loosing work because of this.
I cant even pay for

[2022-11-23 03:47] postman-support commented on #11452
Hey @PeterNSkovgaard,

I wanted to follow up to see if you've had a moment to create a Support Ticket with our team?

Please create the ticket here and provide the network logs from mac, to help us investigate for you.
It would be great if you could mention this GH thread ID (GH #11452) in the subject while raising a ticket :)

Thank you!
via @User_1 | Postman Support

[2022-11-23 05:34] harsh-bansal97 commented on #11427
@MitriSan thanks for the input, we are aware of this dissonance and it is something we have plans to improve upon but unfortunately I dont have a timeline for you yet. Will check if we can fast-track this and get back.

[2022-11-23 10:37] Himani-relan commented on #11440
@postman-kenji : Is there anyone in the team that can look into the issue please ?Thanks

[2022-11-23 10:47] nhat commented on #10605
The description column should really be hidden by default.

[2022-11-23 11:09] MitriSan commented on #11427
@harsh-bansal97 nice, this feature would be really appreciated ! But for this bug i'm closing this issue, as it's fixed

[2022-11-23 11:09] #11427 closed, assigned to harsh-bansal97

[2022-11-23 11:40] antgustech commented on #5502
I have the need for this as well.

[2022-11-23 11:50] chungkui opened #11478 "<title>how to close automatically floow redirects when user pm.sendRequest(loginUrl, function (err, response) { console.log(response) });"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request and I know that duplicates will be closed

### Is your feature request related to a problem?

<title>how to close automatically floow redirects when user  pm.sendRequest(loginUrl, function (err, response) {         console.log(response)     });

### Describe the solution you'd lik

[2022-11-23 11:53] DannyDainton commented on #11478
@chungkui I'm going to close this as there is no information here - If you are reporting a bug or requesting a feature request please provide the necessary context.

[2022-11-23 11:53] #11478 closed, assigned to nobody

[2022-11-23 11:55] Indratejreddy opened #11479 "On single click postman desktop app is not returning the updated response"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

I had to double click every time to get updated response for my api. In my case I faced this issue for put api.

### Steps To Reproduce

1. choose put as api type.
2. give your data in json format for which you want to update.
3.

[2022-11-23 12:02] DannyDainton commented on #11479
@Indratejreddy Are you able to replicate this behaviour on a public endpoint like `https://postman-echo.com/put`?

Your request is very contextual and we have no way of knowing how that request is being handled on that local server. Did the first call return a `200` status code? Is there any logging on the server side that would give you more information about what's happening?

[2022-11-23 12:17] malvikach commented on #8122
Hi, While running collections, responses are not saved by default. However, you can choose to save the responses inside your session by selecting the below option under your 'Advanced Settings':
<img width="478" alt="Screenshot 2022-11-23 at 5 44 22 PM" src="https://user-images.githubusercontent.com/89449769/203544778-ea22e00c-cd6c-42af-9bed-99072acd429e.png">

Note: This will save your response h

[2022-11-23 12:57] PeterNSkovgaard commented on #11452
Hi,

Sorry for missing your reply!! I created a ticket now and put the GH id in the subject.

\Peter

[2022-11-23 14:00] jonico commented on #7794
Update: I have tried @VShingala 's suggestion with Postman 10 and [this multi-file project](https://github.com/jonico/openapi-boilerplate) and everything worked as expected, including collection generation 🎉

[2022-11-23 16:37] jeffdafoe opened #11480 "Postman App uses environment's "current" value to run a collection, CLI uses "initial" value."
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

When running a collection on Windows in the Postman App, environment variables used in tests are taken from the environment variable's "current value". When the same collection is run from the CLI, it's taken from the initial val

[2022-11-23 16:50] AnupKTarafder commented on #8434
I am facing this issue right now.
userid: cloudy-water-934240

[2022-11-23 21:49] nickaguilarh commented on #11278
Hi, any update on this issue? I'm facing the same issue.

[2022-11-23 23:12] thomasinc commented on #10580
+1 REQUIRED

[2022-11-24 04:33] nickh92 commented on #1744
@whereismypen please see the update from @akshaydeo. Just so you know Postman employs many open-source contributors working on specifications. Here are a few examples:

Kin Lane @kinlane: involving in the whole journey, helping build up and popularize Swagger, as well as the transition from Swagger to OpenAPI. He plays a significant role in where the Swagger brand is today: https://github.com/swag

[2022-11-24 05:06] #11436 closed, assigned to codenirvana

[2022-11-24 07:43] Indratejreddy commented on #11479
@DannyDainton you can watch video to understand the problem
Video:` https://www.youtube.com/watch?v=30HjEmaS6Y0`

you can clone my repo and try locally if you want to replicate it.

Repo link: https://github.com/Indratejreddy/ToDoApp and try to hit put with some dummy json data.

[2022-11-24 08:03] littyAlbin opened #11481 "Predefined/Editable gPRC mock response"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request and I know that duplicates will be closed

### Is your feature request related to a problem?

Currently, for development and testing gRPC calls using mock servers, the mock responses are random.
To make it fixed we can use SEED but still the response is not editable or predefined.

[2022-11-24 09:21] malvikach commented on #8433
Hi All 👋

I have two updates to share with the folks who are interested in running collections with different run orders and save them for future use:

1. We recently introduced a 'Runs' tab on collections which lists all your collection runs (from Runner and Postman CLI) along with some metrics like no. of tests passed/failed etc
<img width="1002" alt="runs" src="https://user-images.githubusercon

[2022-11-24 09:26] malvikach commented on #8816
@jwbanning I have shared some updates regarding this [here](https://github.com/postmanlabs/postman-app-support/issues/8433)

[2022-11-24 10:32] SRK90 commented on #9448
'Star' would greatly improve DX. agree with @rdenisi and @jcwoos

[2022-11-24 10:53] ArjunSingh-PM commented on #11456
@exe-atewinkel Could you please check whether your existing username only contains alphanumeric characters and hyphens? If not, could you try updating your username before you update your email ID? Thanks.

[2022-11-24 11:07] TVke opened #11482 "Double clicking the window title bar does not adjust to macOS window settings"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

When double clicking on the title bar of the window, the screen scales to a smaller/bigger version.
As this behaviour is adjustable in the macOS Settings app, it should respond to it accordingly.

### Steps To Reproduce

Open the

[2022-11-24 12:54] GarryLowther commented on #10591
This image shows the current state of play:
1. Postman is generating C# code using RestSharp - code shown in image
2. This code does not compile with latest RestSharp
3. Latest nuget package is shown in image
4. Visual Studio errors are shown in image

![image](https://user-images.githubusercontent.com/5684253/203789372-5539a3e8-c690-4a30-900e-9133998541b5.png)

[2022-11-24 13:30] AlmogBaku opened #11483 "[gRPC] Unix Domain Socket partially broken"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

1. I'm able to use "gRPC reflection" with an unix socket
2. However, I can't evict the call itself

### Steps To Reproduce

1. create a gRPC service with `unix:///tmp/grpc.sock` as the address
2. call a method on this RPC

### Sc

[2022-11-24 15:13] malvikach commented on #11437
@ShadowLeiPolestar I have a feeling that this might not have something to do with the response time.

I tried to reproduce the issue at my side and I observe the following:
1. Following shows the actual requests that I was trying to run:
<img width="887" alt="Screenshot 2022-11-24 at 8 33 03 PM" src="https://user-images.githubusercontent.com/89449769/203815406-a4438269-d9ee-4e42-b70b-5eeb5515d269.

[2022-11-24 15:16] hashem-tide commented on #8195
At leases somebody from the postman team reply!

[2022-11-24 17:12] devin-lo opened #11484 "OAuth2.0 - cannot open settings page"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

I can no longer open the OAuth 2.0 page to refresh any of my access tokens.
In fact, I can't even make a new request and then change the authorization type to OAuth 2.0, it just stops and says "Something went wrong"

The issue ju

[2022-11-24 18:10] shubhbhargav commented on #11484
@devin-lo Thanks for highlighting the issue. The team is working on the fix for this and it will be rolled out in a few hours for the latest version.
In the meantime, you can download the last stable version from the downloads page: https://www.postman.com/downloads/

[2022-11-24 20:41] shubhbhargav commented on #11484
@devin-lo We have rolled out a fix for this in desktop version 10.5.2. I am closing this issue for now. Please feel free to let us know if you are still facing this issue.

[2022-11-24 20:41] #11484 closed, assigned to nobody

[2022-11-24 23:56] kranthirokula commented on #4690
This would be very helpful!

[2022-11-25 04:18] codenirvana commented on #11483
@AlmogBaku Thanks for reporting this.

We've identified the issue and will let you know once the fix is out.

[2022-11-25 05:10] bhuvanmehra opened #11485 "Mock Server request fails with 404 when using header `x-mock-response-code`"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

When requesting a response from the mock server endpoint, I am passing the `x-api-key`.
My endpoint has an example saved which has status code 200 OK.

When I try to access it using header `x-mock-response-name: refData`, it work

[2022-11-25 05:28] Oleksandrnec commented on #10050
Hf

[2022-11-25 05:57] malvikach commented on #8195
Hello,

We have our eyes on autosaving of collections. Our goal is to enable auto-saving in a way that would ensure you can confidently make changes to your collections and seamlessly collaborate with others at the same time.

We are working towards adding new capabilities to our undo-redo experience as a precursory step.

As always, our community’s feedback is what drives us, so stay tuned to thi

[2022-11-25 08:36] theelous3 commented on #8195
what does this version of auto saving look like?

On Fri 25 Nov 2022, 5:57 a.m. Malvika Chaudhary, ***@***.***>
wrote:

[2022-11-25 11:28] veraciousnottaken commented on #10605
The same

Postman for Windows
Version 10.4.5
UI Version 10.4.5-ui-221122-0258
Desktop Platform Version 10.1.2
Architecture x64
OS Platform win32 10.0.19044

[2022-11-25 11:33] akshaydeo commented on #11391
@jluncc @LostKatana thank you for reporting this issue. We are working on a fix. I will update this thread once the fix is available 🙇‍♂️

[2022-11-25 11:38] akshaydeo commented on #11298
👋 @nohehf thank you for helping us here. We are actively looking into the fix. I will update this ticket as soon as we push the fix.

[2022-11-25 14:16] dasMulli commented on #8038
The underlying library now supports NTLMv2 so it's just a question of the runtime updating the dependency (created PR https://github.com/postmanlabs/postman-runtime/pull/1244).

@coditva @giridharvc7 it would be great if you could help validate that or get the right people involved on that PR (there is a CI failure on all PR builds there at the moment)

[2022-11-25 14:36] erdemkayagentr commented on #11192
Hi Everyone;
When will solve this problem? Do you have any ideas? :)

[2022-11-25 16:07] Mds92 commented on #4690
It would be great
`console.clear()`

[2022-11-25 17:00] codenirvana commented on #8038
@dasMulli Thanks! I just merged the PR, will let you know once this lands in the Postman app.

[2022-11-25 17:10] michaelgohjs opened #11486 "Postman proxy missing some https request"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

I have installed and am able to use the postman proxy but some https request are not being captured.
My client is an android emulator phone, I am testing making post request to ptsv2.com.
When making request using an app on the e

[2022-11-25 19:01] Workom2016 opened #11487 "Allow Configure Client Certificate In The Proxy For Capturing mTLS Traffic"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request and I know that duplicates will be closed

### Is your feature request related to a problem?

No

### Describe the solution you'd like

Allow Configure Client Certificate In The Proxy For Capturing mTLS Traffic

### Describe alternatives you've considered

_No response_

### Addit

[2022-11-25 19:47] greenkarmic commented on #2452
I thought I must be blind for I couldn't find where to input the refresh_token URL in the Authorization pane. Turns out it's not implemented yet. A bit surprised, but I won't judge since I don't know the reason for the holdback. Still, our access token TTL is 5 minutes in production, it gets old pretty fast having to constantly get a new access token for every test. I will cheer when this is final

[2022-11-25 20:15] esbenbach commented on #2452
I ended up implementing a orerequest script that issues a new token and
keeps the refresh token. Its annoying as hell and a lot of code to handle
something that should be about of the box features.

On Fri, 25 Nov 2022, 20:47 Yohan Bienvenue, ***@***.***>
wrote:

[2022-11-26 00:53] anhhanuman commented on #11462
hi @DannyDainton I have the same problem with @khazamov  `Said forked Request simply disappears without any warning`, I see this several times and affected my work at a professional company. I would say this is a bug, and the title of this bug should be `forked requests disappears after saving`

I can't reproduce after I removing the forked and create a new fork. But the problem happened when I di

[2022-11-26 03:11] jiangliwei123 commented on #9962
@upieez thanks a lot !how amazing that you can find this solution!

[2022-11-26 07:42] denven commented on #9390
I find the latest postman v10.3+ supports the full OAuth2 token fetch flow ( I tested the Authorization Code grant flow), it works perfectly.
![image](https://user-images.githubusercontent.com/16745984/204077778-1469b8f2-7043-4113-910d-e1012616bbd0.png)

[2022-11-26 07:55] denven commented on #9390
If anyone just needs a callback URL to get the authorization code during your project **development state**, you can use this link https://openoauth2callback.eastus.cloudapp.azure.com/callback as your Redirect URL and put your code authorize full link into the browser, to get it by a click of the copy button. The callback URL is provided by the simple nodejs application, repo: [oauthopencallback](

[2022-11-26 08:35] n4j1Br4ch1D commented on #6722
No Solution Yet?

[2022-11-27 07:51] hcdbh14 commented on #3845
+1

[2022-11-27 08:24] gjay-apycare commented on #4193
I'm using postman to test and check my own API, I don't want to create a Runner Collection for each entry poins.

I can reproduce in JS my request call in each pre-request script, but it's tedious, if I ever change my start request I'll have to rewrite all every pre-request script.
Whereas being able to call another postman request in a pre-request script would just be a simple, maintanable, conve

[2022-11-27 11:55] anatol83 commented on #10852
+1

[2022-11-27 12:23] kerbrek commented on #10030
Maybe developers need to enable "content interface plugs" https://forum.snapcraft.io/t/how-to-use-the-system-gtk-theme-via-the-gtk-common-themes-snap/6235

For example, the output of the `snap connections rocketchat-desktop` command for "Rocket.Chat" (the cursor is displayed correctly in the application):
[code]

Firefox had a similar problem recently. Although "content interface plugs" were prese

[2022-11-27 22:14] ddurham2 commented on #4193
I would agree that called actions need to run with all the pre and post conditions in play.. else THAT would cause unexpected behavior.

Infinite recursion should be trivial to detect and bail (using a visited list of some of kind).

A typical example I've had trouble with is a test of the following.
Action A POSTs a new object
Action B GETs an object
Action C DELETEs an object

If I want to indep

[2022-11-27 22:28] zachrattner opened #11488 "New Integration Request - Postman"
### Describe your current workflow

  I'd like to be able to backup to Google Drive. I see Dropbox but our team doesn't use that tool.

### Describe your ideal workflow

I'd like to be able to backup to Google Drive. I see Dropbox but our team doesn't use that tool.

### Describe alternatives you've considered

_No response_

### Additional context

_No response_

[2022-11-27 22:36] maumontesilva commented on #11440
I have a similar issue on my environment. Below are the details:

**Summary**

I created a small script which sets the HTTPS_PROXY environmental variable and call postman:

`HTTPS_PROXY=https://localhost:443 postman`

After running the script above, I can see the following error (in fact, this error appears a couple of time during the bootstrap):

`1669587844172 main info "sendAnalytics: Error whi

[2022-11-27 23:39] kvigor commented on #11115
I also have Bitdefender and am experiencing the same issue. When I disable Bitdefender Postman loads right up. I even added Postman as a safe app, Bitdefender still sees something that blocks it.

Something is off here.

[2022-11-28 06:14] akshaydeo commented on #11308
Hi @RajvirBains thank you so much for this detailed information.

This directly uses the collection-level documentation you have added. Our thought process here is: this section contains API-level information.

A quick question:
1. Would you like the ability to change the "Introduction" title to something else? or you don't want that section at all?
2. If you don't want that section at all; if col

[2022-11-28 06:27] shashankawasthi88 commented on #11486
@michaelgohjs thanks for rasing this. Can you attach a small video for the same scenario?

[2022-11-28 06:42] michaelgohjs commented on #11486
I will try to get a video of it. But i have managed to solve this issue using MITMProxy instead by rooting the android emulator and installing MITMProxy's Magisk module.
I believe the issue is due to Androids above 26 not accepting user defined certificates

[2022-11-28 07:21] #10954 closed, assigned to postman-staff

[2022-11-28 09:27] SaloniV3011 commented on #10182
Hey @mbahnmiller
Sorry for the delayed response, I just wanted to check in how I can replicate the same issue you faced, would like to know if you are still facing this issue. If so, could you please share the steps you took.
Thanks!!

[2022-11-28 09:44] antosha417 commented on #11278
Hey I'm having the same issue. When I use `google.protobuf.BoolValue` I don't see `false` values.
So I can't distinguish between `false` values and unspecified values.

For people who are also facing this issue you can try https://github.com/bloomrpc/bloomrpc
For me shows `BoolValue` as expected.

[2022-11-28 09:50] johannesehrhart commented on #8827
Hi @akshaydeo we have the following structure in our repository.

index.yaml
+ Contracts.Service-A
 ++ openapi.yaml
+ Contracst.Service-B
++ openapi.yaml
+ Contracts.WellKnownTypes
++ openapi.yaml

Will it be possible when this issue is resolved that we can resolve subsequent references? For now none of the following references can be found.

File Contracts.Service-A/openapi.yaml
...
responses:

[2022-11-28 10:32] sergiojrdotnet commented on #11147
I ran into this sadly surprise today too 😢

[2022-11-28 11:11] irfanbaigse commented on #2701
+1 hoping

[2022-11-28 12:15] jawak commented on #8480
+1 Please prioritize this feature

[2022-11-28 13:16] alexandrehtrb commented on #9307
Hello everyone,

After waiting too long for this, I decided to create a program that supports HTTP/2 and HTTP/3:

https://github.com/alexandrehtrb/Pororoca

It has full compatibility with existing Postman collections and environments!

[2022-11-28 15:15] RaffaeleSgarro commented on #3630
So how do we do it in Postman?

[2022-11-28 15:27] Amoratinos opened #11489 "[gRPC] TLS enable/disable by variable"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request and I know that duplicates will be closed

### Is your feature request related to a problem?

Among different environment TLS settings can be different, e.g. Local development vs QA. As we use server reflection to trigger requests when we switch between different environments user

[2022-11-28 17:24] siaminator commented on #10852
+1

[2022-11-28 23:08] Kevin-Kennedy opened #11490 "gRPC variable expansion Incorrect Type error"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

When using a collection variable with type number (e.g. 42) in a gRPC unary input with type uint32 (e.g. {{myVar}}, postman declares "Incorrect Type. Expected one of integer, null." and prevents the method from being invoked.

Th

[2022-11-29 01:17] ChadBae commented on #10852
+1

[2022-11-29 02:49] codenirvana commented on #11490
@Kevin-Kennedy Thanks for reporting this issue.

I can reproduce the issue locally, we'll fix this soon!

[2022-11-29 03:29] codenirvana commented on #11222
This is fixed in the latest version of the Postman app.

[2022-11-29 03:29] #11222 closed, assigned to codenirvana

[2022-11-29 03:30] codenirvana commented on #11120
This is fixed in the latest version of the Postman app.

[2022-11-29 03:30] #11120 closed, assigned to nobody

[2022-11-29 05:14] alt-loganspencer commented on #8985
SERIOUSLY Why is this still in backlog?!?!?!  What an absolute JOKE!

[2022-11-29 08:10] shearichard-nec commented on #8985
As of today the ticket is 27 months old ... head-shaking stuff. Must be due to the deep and serious issues that sorting a list of strings raise 🤔

[2022-11-29 10:56] appurva21 commented on #11490
@Kevin-Kennedy This is now fixed in the latest version of the Postman App (v10.5.6). Feel free to re-open the issue in case you are still facing the problem.

[2022-11-29 10:56] #11490 closed, assigned to codenirvana

[2022-11-29 12:36] codenirvana commented on #10844
@cgeers @vitaliyantonov22 can you share a demo repository to reproduce this behavior locally to fast-track the fix?

[2022-11-29 13:02] LubomirS commented on #11341
We have the same issue. An Api is connected to Github repository in one personal workspace, and a second person on their own personal workspace cannot connect the Api to Github repository, even though they have not connected any other api to any Github repository.

[2022-11-29 13:17] pjwelsh commented on #11431
Current version 10.5.2 does not show this issue. closing.

[2022-11-29 13:17] #11431 closed, assigned to jviotti

[2022-11-29 13:29] pjwelsh opened #11491 "git directory included in Linux tar file: should it exist or just bad perms?"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

Since at least version 10.1.2, there has been included a directory "Postman/app/resources/data/git" in the Linux tar download file that should either not belong or have less restrictive perms (currently 0700).
There is an actual

[2022-11-29 14:37] shashankawasthi88 commented on #11341
@bnserig @LubomirS can you reach out to our support team? We can help try to figure out which API is connected to that particular repo.
@LubomirS also which plan are you on? For the free team, there is only one connection allowed.

[2022-11-29 14:52] LubomirS commented on #11341
@shashankawasthi88 We are on a professional plan. However, we are going to sidestep the issue by creating a private team and invite all the members, instead of having all members connect api to repository in their private workspace, which is probably a better way to handle our use case. So this is not a blocking issue in any way. Thanks for reaching out anyway.

[2022-11-29 14:52] nasco-a opened #11492 "Incorrect Tooltip hovering over a postman function in the Tests tab"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

In the Tests tab, tooltips for pm functions are not showing the correct information on hover, instead, they are showing "any"

### Steps To Reproduce

1. Create a Request
2. Go to *Tests* section.
3. Try to use any function in th

[2022-11-29 16:54] beckycb78 commented on #10852
I vote for this feature as well.

[2022-11-29 22:02] Archimedyz commented on #11113
Just noticed this issue today. Still happening on Windows, Postman v10.5.2.

[2022-11-29 23:05] dinob68 opened #11493 "Postman offers no way to export a SINGLE request to a file or whatever"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request and I know that duplicates will be closed

### Is your feature request related to a problem?

A coworker or someone asks me for a copy of my request to share with them.  Currently, I have no way to quickly copy my request with all the details such as headers, request body, authori

[2022-11-30 05:26] alt-loganspencer commented on #8985
What a tragedy… As  result of this SINGLE feature lingering in backlog, I’m having my entire team (and recommending to my entire company) that we switch to VSCode + ThunderClient plugin.

Sad to see you go Postman, but your devs just can’t handle the simplest of features that make the product usable ☹  RIP

From: Richard Shea (NEC) ***@***.***>
Sent: Tuesday, November 29, 2022 1:11 AM
To: postmanl

[2022-11-30 06:23] yizuyue opened #11494 "Error while importing: format not recognized"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

swagger.json link or file import failed,ErrorInformation is Error while importing: format not recognized

### Steps To Reproduce

![image](https://user-images.githubusercontent.com/68041327/204722805-24ff3ab8-33eb-4233-87d3-44c61

[2022-11-30 06:28] ramji367 commented on #10852
In response to your feedback we are making changes to the 'Recently visited' workspaces list.

- If you are part of a team, only public workspaces owned by your team will be included in the list. Any other public workspaces that you visit will not appear
- If you are not part of any team in Postman you will continue to see public workspaces that you visit.

This change will be rolling out to all u

[2022-11-30 06:40] akshaydeo commented on #10998
This fix is available on public documentation :)

<img width="1250" alt="image" src="https://user-images.githubusercontent.com/1050029/204725581-05c87219-e574-43d8-9c3e-b565f96d72e6.png">

[2022-11-30 06:40] #10998 closed, assigned to akshaydeo

[2022-11-30 07:06] shashankawasthi88 commented on #11491
@pjwelsh thanks for bringing this up, can you elaborate upon what issue is this folder and permission causing? Is there any impact in the app usage?

[2022-11-30 07:07] talesid5 commented on #9612
I specially googled for this feature and I get to this thread... Would be an amazingly helpful feature

[2022-11-30 07:22] jaanli opened #11495 ".gitignore ignored for github repostories that are synced"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

`.postman` directory is automatically added, despite having a `.gitignore` that explicitly ignores this: https://github.com/onefact/payless.health-api/blob/main/.gitignore

Thank you!

### Steps To Reproduce

1. Import https://gi

[2022-11-30 07:28] DominicSaladin commented on #11314
Please fix this, it is really annoying 😅

[2022-11-30 07:34] jaanli opened #11496 "Cannot share public workspace"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

Made a public workspace but the API is not showing up! We need this to collaborate and are currently limited to sending iterations of the API over github only: https://github.com/onefact/payless.health-api/blob/main/schemas/schem

[2022-11-30 07:46] shashankawasthi88 commented on #11496
@altosaar for the consumers to be able to consume your API, you need to publish a version of the same. The 'published versions' are the snapshot of the API (schema and collections) at a point in time. This ensures that the consumers only look at the copy, that the producers are intending them to see see and not look at the head of the development. Documents [here](https://learning.postman.com/docs

[2022-11-30 07:54] altosaar commented on #11496
Got it, thank you @shashankawasthi88 ! I didn't know we needed to publish first; just did so :)

[2022-11-30 07:54] #11496 closed, assigned to nobody

[2022-11-30 08:11] ellabi opened #11497 "Part of the request history disappeared"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

I'm working with Postman almost every day, but in the Postman history there are a lot of missing dates.

### Steps To Reproduce

1. Open the app
2. Open the workspace
3. Open the history

### Screenshots or Videos

![image](https

[2022-11-30 08:22] abhidp commented on #8985
great job @alt-loganspencer , hope this email get their attention towards this silly bug.

[2022-11-30 09:06] shashankawasthi88 commented on #11495
@altosaar may we know why do you want to ignore the `.postman` folder. It is required for the Postman's native git functionality to work in the intended way.
Also, we are making use of the GitHub official APIs, apparently, the GH APIs are not respecting the `.ignore` rule. We are looking into any know issues with the APIs.

[2022-11-30 09:22] natib613 opened #11498 "I use to see my workspace flow and now I don't"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

Hello,
My workspace is called **BigID Cloud** and I don't see the flows anymore, now what I see is the: "Flows is Coming soon!" message

things that I tried:
1. Re-new my membership in BigID Cloud
2. Restart postman
3. Reinstall

[2022-11-30 09:46] ankitjaggi commented on #6842
This is now available in the latest version of the app.

[2022-11-30 09:46] #6842 closed, assigned to ankitjaggi, kartikjain26

[2022-11-30 10:15] danielicy commented on #10591
install restsharp version 106.15.0 and MAGIC!! it compiles!

[2022-11-30 10:22] codenirvana commented on #10570
Both the linked issues were resolved earlier this year, and the support for gRPC and Protobuf APIs improved a lot with v10.

I hope this workaround is no longer needed since the Protobuf descriptors are not collaborative and result in schema drift problems.

[2022-11-30 10:22] #10570 closed, assigned to codenirvana

[2022-11-30 11:27] anddyson commented on #2240
Really frustrating that the native app _still_ doesn't support this, when the Chrome one is dead. As others have said, it's a big blocker to using postman for internal testing. This is from a company which might consider buying a subscription, if the tool could actually do something fairly fundamental like this.

[2022-11-30 11:48] pjwelsh commented on #11491
Sure, couple of comments on that:
1. Most importantly, if the admin (root) installs this package under /opt/ for a user to *run*, no user will have access to the entire 13MB of "git" folder contents.
2. The git folder does not meet the "standard" that all other folders have in this tar file.

So, *if* the "git" folder is required, it should have perms of 0755, otherwise the 13MB of files should no

[2022-11-30 12:37] arlemi commented on #461
@awreccan Apologies, I'm not really good at tracking closed issues. 😅 Can you please open a new one with an example of what you're facing and steps to reproduce? I tried recreating the issue on my end but wasn't able to.

[2022-11-30 13:20] roddypratt opened #11499 "Ability to mark direction of Websocket messages for documentation, etc."
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request and I know that duplicates will be closed

### Is your feature request related to a problem?

When adding messages to a websocket API, there's no way to distinguish between messages from server to client, and vice-versa.
The only way at present is to name the messages with a suita

[2022-11-30 15:58] Ben9000 commented on #2452
+1

[2022-11-30 16:35] matthewdavidlloyd opened #11500 "Flows escapes & in URLs"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

When using Flows, I'm using the output of a previous step as the URL for the next request. The URL output from the previous step looks correct, but the URL in the next request escapes & (i.e. has \& in the query string).

This ca

[2022-11-30 18:27] mfishermvbank opened #11501 "Non-licensed user administrators"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request and I know that duplicates will be closed

### Is your feature request related to a problem?

Working under guidance from regulators, we centralized user administration functions in our IT Department and have individuals dedicated to administering user access to all applications.

[2022-11-30 20:46] natezander commented on #8703
Thank you for this. We are needing this feature as one of the final pieces for our Postman + GraphQL workflow

[2022-11-30 21:35] irving-dealerclick commented on #6333
This would be a great feature.