[2020-11-11 21:09] eraymond-bt commented on #9232
Two of my teammates are seeing this issue, as well

[2020-11-11 21:13] jgalvacky-bt commented on #9232
Can confirm that this has happened to me as well recently. I resolved (temporarily) by deleting the collection from Postman and re-importing it.

[2020-11-11 22:04] chatumoh commented on #9258
Thanks , it worked for me. Issue can be closed.

Thanks
Mohit

On Wed, Nov 11, 2020 at 12:43 AM Danny Dainton <notifications@github.com>
wrote:

--
Best Regards,
Mohit Chaturvedi

[2020-11-11 22:09] eking-isp opened #9262 "Cannot select token in OAuth 2.0 dropdown"
**Describe the bug**
You cannot select a token you have created in Postman for the OAuth 2.0 flow. This means you can't provide the token with your requests.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to any request
2. Go to authentication
3. Select OAuth 2.0, and fill in your typical values
4. Issue a new token
5. Click on the token in the dropdown

**Expected behavior**
The token w

[2020-11-11 22:14] DannyDainton commented on #9262
Hey @eking-isp

Thanks for reporting this issue.

We're currently tracking an issue with OAuth in the latest release here: #9056

Closing this issue out and centralising all the information in one place. All updates will be added to the linked issue.

[2020-11-11 22:15] #9262 closed, assigned to nobody

[2020-11-11 22:18] #9258 closed, assigned to nobody

[2020-11-11 22:39] aerazo-bt commented on #9232
As @jgalvacky-bt & @eraymond-bt have mentioned, almost all my collections had to be removed then reimported back into Postman.  Was very surprised to see how things were so out of order.

[2020-11-12 04:05] Mon-Blaza commented on #9220
As of this writing, I'm seeing that the changelog issue has been fixed. I can now proceed with my needed doc updates.

@ClementRoyer and @tylermilner, you may want to verify if the same is true from your end. Hope that it is so you can also proceed with what you need.

Thank you all.

[2020-11-12 06:22] DarthSett commented on #5980
@mccannt
Yes, it seems the site is working fine (using chrome). I have 1 workspace and 9 collections.

[2020-11-12 06:40] RudiVuuren opened #9263 "Update option for link imported collections"
I have an API that generates a postman collection and hosts it as a resource.

I am able to import the collection via **Import -> Link**, but I don't have the option to update an existing collection.

I would like to request that when importing a collection from **Import -> Link**, that the link will be saved as the source of the collection. There should then be an option available on the collecti

[2020-11-12 07:29] WilfredH opened #9264 "Secure cookie is not included in consequent requests"
**Describe the bug**
This seems to be a reprise of #4581.

When the 'secure cookie' setting is enabled on the server side (using Jetty, setting is made by calling
 `javax.servlet.SessionCookieConfig.setSecure(true)`) and a request is performed using postman
the cookie is set and visible in the Postman cookie manager but in subsequent requests the cookie is **NOT** included and doesn't arrive at th

[2020-11-12 07:31] WilfredH commented on #4581
Hello,
I also have this (or a closely related) issue with v7.34.0

As this issue is closed I opened a new bug: #9264

[2020-11-12 07:37] fransf-wtax commented on #1535
This sounds great.

What I basically want is to have a collection of requests that are the source of truth. Then completely apart from that (not on a tab of the request) I want to be able to define tests that use requests from my collection of requests, possibly calling them in different orders and with different variables. And then doing assertions on the result.

Really hope to see a beta versio

[2020-11-12 07:54] ShadowSpade commented on #4167
Having problem right now on win 10, laptop monitor and hdmi side screen, postman 0.2.3

[2020-11-12 08:19] kosmonaffft commented on #9232
I'm seeing this every time i add new request to folder, or copy-paste requests from one folder to another.

[2020-11-12 09:14] WilfredH commented on #9264
Bugger, I was using a secure cookie over a http connection... After changing to https all worked as expected.

I will close the issue.

[2020-11-12 09:14] #9264 closed, assigned to nobody

[2020-11-12 10:25] stfgl opened #9265 "Importing Multi-File Swagger OAS 2.0"
Hello,
[Purchase.zip](https://github.com/postmanlabs/postman-app-support/files/5529853/Purchase.zip)

I have an api specification (attached zip) which importation isn’t working as expected. It was generated, and works properly with the OpenAPI VSCode plugin. The swagger is splitted in three files: purchase.fishmarket-purchases.swagger.v1.1.0.json, purchase.v1.1.0.json and structural.v.1.0.0.json.

[2020-11-12 11:15] bdelsaz commented on #9232
Having this same issue when importing collections from a folder. Halp.

[2020-11-12 12:27] mfgabriel92 opened #9266 "Add variables to collections' subfolders"
Other programs of the likes of Postman offer the possibility to set environment variables not only to main collections but subfolders as well. I believe it would make things easier if inside one collection you have many subfolders pointing to different URIs. Thus, the collection would, for example, hold a `url` variable being the base URL of an endpoint, while the subfolders would hold a `uri` var

[2020-11-12 14:14] jcgarciaram commented on #9220
I can also confirm **Changelog** is now updating.

[2020-11-12 14:16] xaviergm commented on #4321
I am also suffering from this right now.

- Postman for Windows
- Version 7.35.0
- win32 10.0.18363 / x64

[2020-11-12 14:33] ClementRoyer commented on #9220
It's working again for me too, should I close the issue ?

[2020-11-12 15:26] tylermilner commented on #9220
The changelog started working for me yesterday as well. I'm hoping it's fixed for good! 🤞

[2020-11-12 15:34] massivespace commented on #6681
Since this has been a feature request for about 3+ years now, it looks like it just won't happen.  I was looking into using postman, but will be directing my employer to a different technology for our upcoming stack as this is a critical basic need.

[2020-11-12 15:38] DannyDainton commented on #9220
Hey folks,

Thanks for confirming the fix and your issues being resolved, apologies for not updating the thread before this went out. Busy times at the moment :D

Closing this out now but drop a message with the details if you see the issue recurring.

[2020-11-12 15:38] #9220 closed, assigned to nobody

[2020-11-12 15:54] gimansour commented on #8902
Hey @SabriH10 , @DannyDainton ,

I found something that might be relevant to this conversation. Not necessarily a bug in Postman, but curl is somehow misinterpreting the curl request when there is a [] with a - between them

here is my example:
[code]

while:

[code]

you can see the first one is failing because the -g flag is not set while the second one works because the -g flag is provided.

if

[2020-11-12 16:51] andreaippo opened #9267 "Dual pane layout: UI improvement to better highlight presence of failed Tests"
**Is your feature request related to a problem? Please describe.**
Dual pane layout is so much more efficient for my workflow, since it reduces vertical scrolling quite a bit.
However, it doesn't provide the immediate information about whether any Tests failed in the current request.
It would be nice to have this info immediately visible, as it is with the Single pane layout, where you can see the

[2020-11-12 17:12] arlemi commented on #6722
@molteninjabob We've added more options to collection generations in Postman 7.30 which was released beginning of August. Here's some more info from the release notes:

"You can [generate collections](https://learning.postman.com/docs/designing-and-developing-your-api/the-api-workflow/#generating-a-collection) from your API specification using the Postman API Builder. Though, we've listened to som

[2020-11-12 20:52] andreaippo commented on #9267
Thanks Danny, I will definitely use this as a workaround for the time being!

[2020-11-12 22:00] EngrMikolo commented on #6354
Thanks for the reply.

Sent from my iPad

[2020-11-12 22:59] mattalexander-pantheon commented on #8902
[code]

[2020-11-12 23:01] mattalexander-pantheon commented on #8902
Here's a linux machine with curl 7.40.0:

[code]

[2020-11-12 23:58] mattalexander-pantheon commented on #8902
Perhaps you could just add the `--globoff` parameter so that all curl versions are supported. Both my Mac and Fedora machines work when I add `--globoff`.

[2020-11-13 00:23] ulkoalex commented on #4396
can confirm same bug for v7.36.0-canary02

[2020-11-13 05:00] abrowne2 commented on #5816
Would be good to know if there is an upgrade path for Apple Silicon now.

Specifically:
https://www.electronjs.org/blog/apple-silicon

[2020-11-13 06:01] umeshp7 commented on #8637
Hey @srikanta72! Was this issue resolved for you after switching to the New code generatation mode?

[2020-11-13 06:29] umeshp7 commented on #7646
@arusahni
Hey thank you for reaching out! I tried reproducing this in the latest versions of documentation and the postman app, but I was not able to reproduce this. Could you please verify if the issue still persists for you?
Since Nov 2019 we have made a bunch of improvements and bug fixes to the code generation.
This is a screenshot from documentation.
<img width="479" alt="Screenshot 2020-11-1

[2020-11-13 06:50] marthinch commented on #4751
I also have this issue. My payload data size 30MB and the postman gets blank.

[2020-11-13 07:47] ilam-natarajan opened #9268 "A new search window to open a file quicker"
**Is your feature request related to a problem? Please describe.**
When your postman collections are huge, it is painful to search for the request in the search bar.

**Describe the solution you'd like**
It would be fantastic
if we can have a shortcut to open a search window (like how Intellij and other IDE's let you know open a file), that will let us type the request name to open it. this search

[2020-11-13 07:56] RajatPawar commented on #6236
My two cents on this!

I created a team workspace, and have no need for a personal workspace anymore. I'd like to streamline my focus when I open the Postman app ideally & directly to the collaborative workspace that I am a part of, rather than make sure that I'm not working through the wrong workspace.

I understand the need to have at least one default workspace. I feel that it would be better t

[2020-11-13 08:13] #8637 closed, assigned to nobody

[2020-11-13 08:29] bjornzki opened #9269 "postman reshuffles requests from time to time"
I see that Postman shuffles the request from time to time.
This bug has been filed a number of times but it's a reintroduced problem.

Reproduction:
Can't reproduce it. It just happens every few days. Once a week.

Expected behavior:
Requests should stay in the order they are in.

App information:
Version 7.35.0
win32 10.0.17134 / x64
Chrome 86.0.4240.198 (Official Build) (64-bit)

[2020-11-13 08:36] markhowells commented on #8203
I need to be able to add a Content-Transfer-Encoding header to an uploaded file signify that the image file is base64 encoded ...

[2020-11-13 08:50] adityaLath18 commented on #971
Can we have a data driven feature in Postman, something like, we provide our request template and ask postman to generate random data based on it and can use some in-memory data to store it. Now my CRUD mock API can retrieve those data and then update or add those data? Is this in your roadmap any soon or any beta app.
Basically my requirement is to have some data driven mocking server, which can

[2020-11-13 09:17] praveendvd commented on #9245
Had one more suggestion ,

Please add iteration number also to console , as of now there is no way to know which request for which iteration run when running through collection runner . It would be great if console output prints something like Executing data driven , Starting Iteration one , **Ended** , **Starting iteration 2***  <all requests> *ended***

[2020-11-13 09:46] DannyDainton commented on #9269
Hey @bjornzki

I see that you have already commented on the main issue tracking this - https://github.com/postmanlabs/postman-app-support/issues/9232

All update will be placed against that issues thread, Closing this issue to help centralise the information.

[2020-11-13 09:46] #9269 closed, assigned to nobody

[2020-11-13 10:20] webholik commented on #8610
@tomaszwojciechowski Are you storing the URL in a variable? There was an [issue](https://github.com/postmanlabs/postman-code-generators/issues/330) that caused the extra https:// to appear in the host, if the url was stored in a variable. But that has been fixed.

[2020-11-13 13:02] JSmythSSG commented on #5222
+1

[2020-11-13 14:02] HthSolid opened #9270 "Cookie Keys Missing"
I didn't find a bug similar.

**Describe the bug**
When receiving a Cookie it has keys (Expiry, Secure, HttpOnly, etc...) when making the request Postman only sends name&value, all other keys of the Cookie are not sent.
For extending expiry dates on server side, this behaviour creates issues.

**To Reproduce**
Steps to reproduce the behavior:
1. Get Cookies from API
2. Create another call to any A

[2020-11-13 14:11] aureole82 opened #9271 "New Request > Headers tab: After click in default header the tab is going wild and unusable"
![Postman has a really bad UI](https://user-images.githubusercontent.com/4819891/99080791-13bd7a80-25c2-11eb-90ac-b1890dffd276.gif)
Occured in Postman v7.35.0

[2020-11-13 14:14] aureole82 opened #9272 "Try to open Release Notes: Something Went Wrong tab opens"
![Postman has a really bad UI](https://user-images.githubusercontent.com/4819891/99081285-ddccc600-25c2-11eb-8892-75ce20321755.gif)
Occured in Postman v7.35.0

[2020-11-13 14:26] Lechus commented on #4423
This issue is still actual

[2020-11-13 14:44] DannyDainton commented on #9271
Duplicate of: https://github.com/postmanlabs/postman-app-support/issues/9251

[2020-11-13 14:44] #9271 closed, assigned to nobody

[2020-11-13 14:59] mccannt commented on #9272
@aureole82 Thanks for reporting this.
We have actually rolled back on this release of the application due to other issues you may have encountered.
You can try downgrading to v7.34 and everything should work as you would expect.

[2020-11-13 14:59] #9272 closed, assigned to mccannt

[2020-11-13 15:11] ankur325 commented on #4671
It’s 2020, come on!

[2020-11-13 15:14] ilam-natarajan opened #9273 "Duplicate tab should duplicate the request"
**Is your feature request related to a problem? Please describe.**
When I duplicate a tab, the same request reference is opened in duplicate tab. Any change in new tab causes conflict in the original tab. This causes frustration.

**Describe the solution you'd like**
When a tab is duplicated, it should also create duplicate request (similar to what happens when you right click on a request and dup

[2020-11-13 15:22] DannyDainton commented on #9273
This is the intended behaviour of that `Duplicate Tab` action - The naming of that action suggests that it's doing something different though.

https://learning.postman.com/docs/getting-started/navigating-postman/#tabs

We currently have an open issue to take a look at this so I'm going to close this FR.

[2020-11-13 15:22] #9273 closed, assigned to nobody

[2020-11-13 15:51] james-postman commented on #8514
Hi @aetonsi

Sorry for the delay, I've been taking a look at this issue for you. Could you tell me are you able to reproduce the bug in the current version of the Postman app?

If so, could you tell me approximately how many environment/global variables you are working with please?

Thanks
James

[2020-11-13 16:40] jeitnier commented on #9021
+1 for adding support in Firefox. Edge might be good too since it is gaining popularity.

[2020-11-13 17:48] shelbaz commented on #4687
1.3Gb ram usage, 80% CPU usage even when idle. I have the newest version.
![image](https://user-images.githubusercontent.com/18130581/99104108-8cb2d700-25ae-11eb-9df6-3f0d69f60b9f.png)

[2020-11-13 17:51] shelbaz commented on #7294
Multiple threads open about this: https://github.com/postmanlabs/postman-app-support/issues/4687

[2020-11-13 17:52] fermelone commented on #9022
Same thing here, got a new computer from work, logged in with my account, I can't see the history from my previous postman desktop app. Doesn't seem to be syncing.

Both macOS 10.15.7 (Catalina)
Both postman Version 7.34.0 (7.34.0)

[2020-11-13 22:58] joseluisrios55 commented on #9072
same issue. Gray screen after 1-2 minutes.
Disabled GPU = true.
Tested with windows 10 problems solved
Nothing works

[2020-11-14 07:15] ahmedkhan847 commented on #7488
I am having same issue with latest version I am unable to hit a PUR request when I hit https://postman-echo.com/put I am getting following response I am on latest version of it.

[code]

[2020-11-14 07:29] fstugren commented on #7553
I ran into this today trying to downgrade because the latest version of postman, which had been auto-upgraded on my machine (gotta disable that somehow) broke Oauth2.0. Postman doesn't clean up after it's uninstalled. This is a major source of frustration - when a program is uninstalled in windows any trace that it's been there should vanish, and if it leaves some data files behind they should cer

[2020-11-14 09:05] jinghe0929 opened #9274 "浏览器使用拦截器抓取入参是中文的接口，postman中录制到的接口入参显示乱码"
环境：
chrome上的拦截器版本：v1.1.1
windows的postman版本：v7.35.0
步骤：
1.浏览器发出请求，请求接口的入参包含有中文
2.查看postman中抓取的接口入参

实际：显示乱码

![image](https://user-images.githubusercontent.com/30433641/99143777-235cc200-269b-11eb-8b46-237167f3d9b0.png)

[2020-11-14 15:19] celestebancos commented on #7654
In my case, I got the warning but didn't realize that archiving would be so difficult of a process to reverse. I was only sharing for someone to take a quick look at my code; not intending for it to be a long-term thing. I figured if it got archived, I could just unshare the collection and get it right back. But now I'm waiting for a download that I'll then have to figure out how to reinstall.

Th

[2020-11-15 01:54] a85 commented on #9255
@vdespa Yep. This hasn't been touched in a long time. We are looking to extend this now through a feature similar to GitHub Gists. Will have some ideas to share soon.

[2020-11-15 09:34] cretara commented on #4687
Reporting from another issue thread on same problem

The issue remains even in 7.35.0 version even erasing quoted directory

[2020-11-15 10:55] xsoheilalizadeh commented on #5194
This is a high demanding feature, please consider it at the top of your priorities, since a lot of people are engaging more in using gRPC.

[2020-11-15 18:22] amralaa-MSFT commented on #1066
+1

[2020-11-16 01:56] unleashit commented on #7553
In my case I got the version mismatch after a routine update using Chocolately (Windows 10). It also leaves several processes running that I then have no manually kill.

I've tried uninstalling, then installing the latest version from the download site to no avail. I haven't yet deleted the files in appData as suggested above because I'm assuming I would lose my data. Also, I do not use a cloud ac

[2020-11-16 08:08] jainsamyak opened #9275 "Cursor flickering and jumping for auto generated headers key & value"
**Describe the bug**
When you have an auto-generated header in the "headers" tab, and you try to click through the key or value, the cursor starts jumping and rotating in a loop at the points you click  from there on. It doesn't stop until you manually switch to another tab or quit the app.
Introduced in most recent version 7.35.0.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Heade

[2020-11-16 08:14] AVHemonto commented on #9056
Could you roll back the Mac version as well? I am having the same issues as @CasperWSchmidt :(

[2020-11-16 08:28] DannyDainton commented on #9275
Duplicate of https://github.com/postmanlabs/postman-app-support/issues/9251

[2020-11-16 08:29] #9275 closed, assigned to nobody

[2020-11-16 08:51] B4st13n commented on #8123
Sorry for this late reply. I can now confirm it is fixed by the latest version of Postman.

[2020-11-16 09:31] B4st13n commented on #8123
And now I can re-use Postman. Nice.

[2020-11-16 10:14] DannyDainton commented on #9274
Hey @jinghe0929

Would you be able to confirm that is is an issue that you're seeing what using the Interceptor and it's returning Chinese characters?

[2020-11-16 11:20] praveendvd opened #9276 "Add more descriptive assertion for JsonSchema validation"
**pm.response.to.have.jsonSchema(schema)  does not print enough information**

When using the inbuild schema validation function i get :

_**AssertionError: expected data to satisfy schema but found following errors: data should NOT have additional properties**_

It doesn't state what was the additional property

**Describe alternatives you've considered**

I validates schema explicitly 👍

[code]

[2020-11-16 11:26] praveendvd opened #9277 "Enable shortcut for exporting collection and request as JSON"
**Problem**
Currently for data driven testing i need to see some console print i do but as postman console doesn't give clear indication on which iteration printed that specific console output i prefer to use the amazing htmlextra report.

For this purpose i always have to save the file as JSON but as of now there is no shortcut so always have go and click inverted hamburger menu and click downloa

[2020-11-16 11:54] dominickwok commented on #8195
👍

[2020-11-16 13:51] mccannt commented on #7488
@ahmedkhan847 Can you give us more context here? It's not clear what the issue is here.

[2020-11-16 13:53] ahmedkhan847 commented on #7488
@mccannt  I have PUT api which I am trying to hit via Postman instead of calling PUT it always calls GET request

[2020-11-16 13:56] wenmin92 commented on #5203
Why there are two kind of scrollbars? Windows 10 + Postman 7.35.0
![image](https://user-images.githubusercontent.com/6901815/99260498-6a42e700-2856-11eb-924b-fca4a370cf81.png)

[2020-11-16 14:57] kool79 opened #9278 "Unable to work with postman when it syncs (parse) big collections at start"
Postman
Shared collection.
When I open postman  it seems that collections starts theirs synchronization process (or maybe some parsing) and postman is unusable during that time (~5 minutes)
During this update I cannot use postman at all.
I cannot switch to another collection, cannot open new tab etc.

I just want a postman to send simple request - actually I DONT NEED to work with collection at al

[2020-11-16 15:37] trevor-coleman opened #9279 "App steals focus on main monitor when opening and closing, even though app opens correctly on second monitor."
## Describe the bug**

tl;dr - _When opening the app via spotlight search on my second monitor, the app's loading screen steals focus on the main monitor. And then does so again when closed._

I am using a Macbook with two external monitors attached. in this configuration:

`| Macbook | Monitor 1 | Monitor 2 |`

I use "spaces" (virual desktops) and I typically have my IDE open in fullscreen on Mon

[2020-11-16 15:43] Ali-AlHalass commented on #6035
Download it via :
[](https://dl.pstmn.io/download/latest/win64)

This will fix your issue !

[2020-11-16 17:11] seangarner commented on #2578
I have a usecase where I'd like to add a delay to a single request in a series of requests, but only when it's being run within the runner or newman.  A flag somewhere would work.

A workaround would be to create an environment variable and duplicate the environment you're using and setting a flag in the duplicated env.  That's untenable for me due to the overhead of keeping those environments in

[2020-11-16 17:50] theletterf commented on #8827
This is so essential. I guess external refs are not enabled out of security concerns, but how do you even ref other specs within Postman (like you do in SwaggerHub) if external refs are not possible?

[2020-11-16 17:50] DannyDainton commented on #9279
Hey @trevor-coleman

Thanks for submitting this - Can I quickly check that this is the same/similar issue? https://github.com/postmanlabs/postman-app-support/issues/6849

[2020-11-16 19:48] kool79 commented on #7351
It is required when I do search over collections. From Search Results>Collections I can "open in builder" any request. But then I cannot navigate to that request in Tree.
Also I cannot "open in Tree" from search results. There is a path to collection here, but:
 -  it is truncated and does not allow to search for item
 - even if it is short and readable it is too annoying to expand and search ever

[2020-11-16 21:42] sipronunciaaigor commented on #422
A workaround for this long-time unsolved issue is to build up the body as a one-line string using \r\n for the new lines.
A simplification/more manageable way is to build the content as a variable in the pre-request script and use the variable in the body.
Using multiline in the body won't work as it is translated to a new LF every time (so your CRLF would eventually end up in a CRLFLF).

[2020-11-16 22:06] wildintu opened #9280 "Postman Bootcamp - Forking and Merging: Collection Does Not Import and Step Box Pop Up Disappears After Clicking Import Collection"
**Describe the bug**
Postman Bootcamp - Forking and Merging: Collection Does Not Import and Step Box Pop Up Disappears After Clicking Import Collection

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Forking and Merging' on Postman Bootcamp
2. Click on 'Import Collection' on the pop up step and observe that the next pop up step does not pop up and no collection is imported

**Expected

[2020-11-16 22:11] trevor-coleman commented on #9279
In that case it seems that the person is using postman on the same screen, but in a different space.

In my case, it's an issue across multiple monitors.

They're probably caused by the same root issue, but if you're going to merge the issues I think it would be good to make sure that you make a note there about the issue across monitors. That way the fix will works appropriately on multiple monit

[2020-11-17 00:25] KevinBrostoff commented on #2270
Any updates on this feature?

[2020-11-17 03:52] jiubujian commented on #8656
it works

[2020-11-17 07:49] pwyss0 commented on #8964
Hi @saswatds, any news on this issue? Unfortunately we are still forced to use the Postman Chrome App.

[2020-11-17 08:21] pranithk opened #9281 "Postman segfaults on fedora 33 with snap version 7.35.0"
**Describe the bug**
[code]

**To Reproduce**
Steps to reproduce the behavior:
1) Run snap run postman

**Expected behavior**
It shouldn't crash

**App information (please complete the following information):**
 - App Type: Native App
 - Postman Version: 7.35.0
 - OS: Fedora 33

**Additional context**
Thought I would post coredumpctl output as well:
[code]

[2020-11-17 08:25] jinghe0929 commented on #9274
![image](https://user-images.githubusercontent.com/30433641/99359916-bf303d00-28ea-11eb-94df-fb63023f5a60.png)

[2020-11-17 08:56] martijn1279 commented on #2701
+1, and are there any updates?

[2020-11-17 09:46] christian-forgacs commented on #4791
+1 for possibility to configure via environment and / or pre request script!

[2020-11-17 11:10] haarts opened #9282 "Missing buttons while creating mock server"
**Describe the bug**
When designing an API and subsequently generating a collection based on the definition, when selecting 'API Mocking' the Next and Back buttons are missing.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to APIs tab
2. Click on New API
3. Fill out the form
4. Go to Overview tab if not already there
5. Click Generate Collection
6. Name the collection and select API Moc

[2020-11-17 13:49] immohellwig commented on #8040
+1

[2020-11-17 13:58] sixcorners opened #9283 "Improve the error message when trying to import invalid openapi"
**Is your feature request related to a problem? Please describe.**

If you try to import an openapi 3.0 API that is invalid because it is missing a version postman will say it doesn't recognize the format.

**Describe the solution you'd like**

A clear and concise description of what you want to happen.
Could the error message be better? I feel like it should be easy to write code that identifies

[2020-11-17 13:59] sixcorners commented on #9283
Also could you please change the issue template to comment out stuff that is just supposed to be read by the person creating the issue? I feel like that would make it look nicer.

[2020-11-17 14:07] Chris-Thompson-bnsf opened #9284 "Moving the postman window between monitors collapses the Request pane"
**Describe the bug**
When the Postman app window is moved around, such as between monitors in a multi-monitor setup, the Request pane is always collapsed during the move, and not restored at any point - expanding it has to be done manually.

**To Reproduce**
Steps to reproduce the behavior:
1.Open a request in postman, expand both the Request and Response panes
2. Move the Postman window from one

[2020-11-17 14:22] arusahni commented on #7646
@umeshp7 I can confirm that this is now fixed!

[2020-11-17 14:22] #7646 closed, assigned to abhijitkane, Raja-Simha

[2020-11-17 14:55] ankit-m commented on #8983
This has been fixed.

[2020-11-17 14:55] #8983 closed, assigned to nobody

[2020-11-17 17:56] unleashit commented on #7553
This issue should be reopened as it's still a problem with the latest version

[2020-11-17 18:05] cxl-domahoneyii commented on #363
I'm running 7.35.0 and I can't reorder collections in a workspace

[2020-11-17 20:43] ejwinter commented on #675
+1 This would definitely be useful to have such template.

[2020-11-17 22:09] Aronpd1 commented on #9280
Exact error is happening to me in the following device:
- Lenovo Legion Y740
- Windows 10 v2004 BUILD19041.630
- Postman v7.34.0

[2020-11-17 22:37] Romerolweb commented on #858
I agree

[2020-11-17 22:37] Romerolweb commented on #858
Have a nice day!.
Postman is a excellent tool.

[2020-11-17 23:14] reshala-lala opened #9285 "New Integration Request - <product name>"
**Describe your current workflow**
How do you use Postman with the rest of the tools in your stack to achieve your use-case?

**Describe your ideal workflow**
How would you want Postman to integrate with specific products/tools to simplify or enhance your experience?

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've conside

[2020-11-17 23:15] reshala-lala opened #9286 "asd"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2020-11-18 02:50] cdolan92 commented on #1070
+1 for this reordering making it into the latest release. Our teams & partners fear the API is broken or somehow not working because random examples, many of them something other than "200 success" are the default...

[2020-11-18 06:44] lukeZhangMengxi commented on #4009
+1

[2020-11-18 09:43] mssio opened #9287 "Right Click on Response Body Not Working in Macbook Screen (1440x900)"
**Describe the bug**
When I have long response body and I want to right click it to set it to my env variables, it wont work on my mac screen (1440x900). But when I used my external monitor screen (1920x1080), it will work.

**To Reproduce**
Here is the screenshot when I try to right click on small screen resolution (1440x900) -- **it does not work**:
<img width="955" alt="image" src="https://user

[2020-11-18 11:04] DannyDainton commented on #9287
Hey @mssio

I've been unable to replicate this issue on my Mac with that resolution - Would you be able to do a quick recording so we can see what's happening for you.

As a workaround and prevent the need to manually copy and paste that value from the response each time, you could add this to the `Tests` tab to automatically set that value as a variable.

[code]

[2020-11-18 11:36] james-postman commented on #9280
Hi @wildintu and @Aronpd1

I've investigated the issue and it is now with the team to fix the bug. I'll update you as soon as I have an update on its progress.

Thanks for your patience!

James

[2020-11-18 11:51] maulemon opened #9288 "Upgrade to 7.34.0 (currently the latest) causes a version mismatch error upon startup"
**Describe the bug**
I've upgraded to 7.34.0 using Chocolatey I get a version mismatch error :(

This looks very similar to #7553
Apparently that's the latest available version as of now.

**To Reproduce**
Steps to reproduce the behavior:
 Upgrade to 7.34.0 using Chocolatey

**Expected behavior**
Postman starts up as expected

**Screenshots**
![image](https://user-images.githubusercontent.com/8656

[2020-11-18 12:06] DannyDainton commented on #9288
Hey @maulemon

Have you tried going through the steps listed here:

https://github.com/postmanlabs/postman-app-support/issues/7553#issuecomment-724333761

Also, unsure of the installation location and directory that Chocolatey places application it to - Are you able to share that information please?

[2020-11-18 12:21] maulemon commented on #9288
Hi @DannyDainton , the instructions under the comment are for MacOS.

I'm on Windows:
Following the shortcut from Start Menu pointed me to:
![image](https://user-images.githubusercontent.com/8656471/99529759-412a6f80-2998-11eb-9bb0-a75be1aeb449.png)

[2020-11-18 12:29] maulemon commented on #9288
I also have a folder under **Roaming**:
![image](https://user-images.githubusercontent.com/8656471/99530796-b2b6ed80-2999-11eb-9794-58797660fd90.png)

[2020-11-18 12:33] jymden commented on #4687
Having the same issue. It's sunning on 2+GB ram and 20% of my CPU when I'm not using it. Very slow un unresponsive.

[2020-11-18 12:52] DannyDainton commented on #9288
I see that you have navigated within the Postman folder. To resolve this issue, please follow the steps below:

1) Uninstall the Postman application from Control Panel
2) Navigate to the below two locations:
   - C:\Users\<user>\AppData\Local
   - C:\Users\<user>\AppData\Roaming
3) Rename the Postman folder to "Postman.old"
   - This is just to avoid any loss of local data if it wasn't synced.
4)

[2020-11-18 13:03] maulemon commented on #9288
Hi @DannyDainton ,

I have

1. Uninstalled postman using (Chocolatey)[https://chocolatey.org/]
2. Renamed folders under \local and \Roaming
3. Installed postman using Chcolatey

That has resolved the issue.

[2020-11-18 13:07] DannyDainton commented on #9288
That's great - I'm going to close this issue out as you have a resolution for your issue.

[2020-11-18 13:07] #9288 closed, assigned to nobody

[2020-11-18 13:37] YievCkim opened #9289 "runner stop after 90 tests"
Hi,

I am using Postman for testing an API. Each request is chained with `postman.setNextRequest`. However, after 90 tests the expected next request is not run. I tried to change the order of the tests with the same result. Is there a limitation on the test we can run on the runner ?

[2020-11-18 13:52] MikHulk commented on #9289
Ok my bad. I have made a misconfiguration

[2020-11-18 13:52] #9289 closed, assigned to nobody

[2020-11-18 14:13] sheprnd commented on #4253
+1 for this request!

[2020-11-18 15:38] pasdam commented on #7553
I don't know if that helps anyone, but the way I solved it was:
1. Rename Postman application data folder, as described [here](https://support.postman.com/hc/en-us/articles/360025359014#h_b38048ee-6505-4f83-a0f0-5d4f51fcb6d5);
2. Open Postman, in order to recreate the folder;
3. Recover data using [Postman canary](https://www.getpostman.com/downloads/canary) as described [here](https://support.pos

[2020-11-18 17:07] reishou commented on #982
Make 2 request to re-order enviroment variable with simple url from postman

CLEAR_ENVIROMENT_VARIABLE

![image](https://user-images.githubusercontent.com/4869137/99562584-dfe7b800-29fa-11eb-9fdf-63565a8c7f9d.png)
Pre-request Script:
`var keys = []
var values = {}

for (const [key, obj] of Object.entries(pm.environment.values.members)) {
    keys.push(obj.key)
    values[obj.key] = obj.value
}

pm

[2020-11-18 17:22] akash07k commented on #3121
@prashantagarwal
@numaanashraf
It's strange guys that it is around 4 years since this issue is opened. This shows that how seriously you take the accessibility of your products.
very disappointed.
If you don't want to make postman accessible, then you can let us know straight forward. no need to ignore the conversation and put the excuses.

[2020-11-18 17:24] nico81 commented on #8560
+1, please please please

[2020-11-18 17:39] vmatyusGitHub commented on #4079
+1

[2020-11-18 17:49] mssio commented on #9287
Hi @DannyDainton ,

Thanks for the reply, okat I will send screen recording later tomorrow. About why it happens is maybe the popup menu that appear when I press right click is wider than 1440px (including child menu) when there is really long text selected.

[2020-11-18 18:57] brucebrophy commented on #5816
Can we expect Postman to support Apple Silicon?

[2020-11-18 21:52] johnelbasha commented on #9097
I am on Mac OS Catalina.

All I have is this tiny icon in the tray:
![Screenshot 2020-11-18 at 21 51 11](https://user-images.githubusercontent.com/59657806/99592573-4b745a00-29e8-11eb-9a6d-8930f80a1cfb.png)
I can't actually "open" anything:

![Screenshot 2020-11-18 at 21 52 28](https://user-images.githubusercontent.com/59657806/99592621-5b8c3980-29e8-11eb-8fc0-56cac13fc4d1.png)

[2020-11-19 02:30] unleashit commented on #7553
Thanks, that actually does help if I'm able to recover my data!

That said, yes I too think it's a pretty glaring bug and don't see why the issue is closed. In my case, I didn't try to install an older version, I simply updated... although it was through Chocolatey, the Windows package manager so I suppose there's a small chance they could have accidentally uploaded an older/bad version. I haven't

[2020-11-19 02:32] mssio commented on #9287
Here is the video capture

Smaller Screen:
https://youtu.be/7lHTxZBSU18

Bigger Screen
https://youtu.be/hvciqc8C9Do

Maybe it will need sometime for Youtube to finish the rendering.

[2020-11-19 03:55] danstis commented on #7553
Same issue for me on 7.34.0 updated using Chocolatey.
Noticed this in the `appdata/roaming/storage/settings.json`:
[code]

[2020-11-19 04:20] Raja-Simha commented on #9188
Duplicate of #3747

[2020-11-19 04:20] #9188 closed, assigned to Raja-Simha

[2020-11-19 05:55] #8736 closed, assigned to abhijitkane, umeshp7

[2020-11-19 06:50] technikhil314 commented on #4253
+1 for this. Especially for shared collections. It becomes difficult to find what we want.

[2020-11-19 07:19] DannyDainton commented on #9287
I will take a look at those - in the meantime, did the script help to automatically capture the token?

[2020-11-19 07:36] okayabc opened #9291 "Problem about sending https request in windows 64 bit, postman version is 7.34.0"
After sending, it reports: Error: write EPROTO 97921480:error:06000066:public key routines:OPENSSL_internal:DECODE_ERROR, how to solve this?

[2020-11-19 08:23] rbi opened #9292 "Postman request crashes on charset ibm850 in Content-Type header"
**Describe the bug**
When the server returns "Content-Type: text/plain; charset=ibm850" the request tab just crashes. This seams to happen for any charset unknown to Postman e.g. "Content-Type: text/plain; charset=mycustomcharset"

**To Reproduce**
Steps to reproduce the behavior:
1. Send a HTTP GET Request with Postman to https://public.voidnode.de/ibm850test/ibm850test.txt

**Expected behavior**

[2020-11-19 09:23] mssio commented on #9287
Yes it works, thank you very much for the tips! 😀

[2020-11-19 09:35] kntmr commented on #5203
@wenmin92 I think it's more convenient to have separate scrollbars in each pane.

[2020-11-19 09:59] Raja-Simha commented on #8846
Duplicate of #7890

[2020-11-19 09:59] #8846 closed, assigned to Raja-Simha

[2020-11-19 10:00] Raja-Simha commented on #8430
Duplicate of #7890

[2020-11-19 10:00] #8430 closed, assigned to Raja-Simha

[2020-11-19 10:12] Raja-Simha commented on #7554
Duplicate of #7301

[2020-11-19 10:12] Raja-Simha commented on #8707
Duplicate of #7301

[2020-11-19 10:12] #8707 closed, assigned to Raja-Simha

[2020-11-19 10:12] #7554 closed, assigned to vkaegis, Raja-Simha

[2020-11-19 10:15] Raja-Simha commented on #8475
Duplicate of #7301

[2020-11-19 10:15] #8475 closed, assigned to Raja-Simha

[2020-11-19 10:25] AndersMalmgren commented on #9056
several weeks now, can we have this fixed please

[2020-11-19 10:31] chughmayank commented on #8266
Hi @prondzyn  - Apologies for reverting late on this issue. Currently we only support a single authentication scheme at the collection & folder level. And for adding support for multiple Auth is already open and is being worked on. You can track it here: #6833

Closing this ticket for now. Feel free to reach out to us in case of any queries.

[2020-11-19 10:31] #8266 closed, assigned to nobody

[2020-11-19 10:33] prondzyn commented on #8266
@chughmayank thanks for the reply. I will be watching #6833

[2020-11-19 10:47] quixote911 commented on #6759
Hi @zcwang3

You should be able to access the Auth header in pre-request scripts using this: `console.log(pm.request.headers.get("Authorization")`

With full access to headers, you should be able to retrieve the access token.

[2020-11-19 10:56] Raja-Simha commented on #4365
Duplicate of #6681

[2020-11-19 10:56] #4365 closed, assigned to sankalp0o, Raja-Simha

[2020-11-19 10:57] Raja-Simha commented on #8485
Duplicate of #6681

[2020-11-19 10:57] #8485 closed, assigned to Raja-Simha

[2020-11-19 10:59] Alexmtsl opened #9293 "Archived collection of free team workspace is removed from my workspace when remove team workspace"
**Describe the bug**
1. I use a free team workspace as an admin
2. My collection was archived due to the free use limit
3. I removed the team workspace and my collection also disappeared from my workspace

**To Reproduce**
Steps to reproduce the behavior:
1. Launch client app
2. Sign in in client as a user with a free account and with the archived collection
3. Remove team workspace
4. Click on th

[2020-11-19 12:16] samhk222 commented on #8269
![image](https://user-images.githubusercontent.com/58010/99665083-e8b2ab00-2a47-11eb-8feb-4e831c41ddda.png)

[2020-11-19 12:20] arlemi commented on #5203
@wenmin92 Good catch! I've raised that issue with the product team.

[2020-11-19 12:30] wenmin92 commented on #5203
@arlemi Sorry, I’m too sloppy. The scroll bar of the response panel is a multi-functional scroll bar. It also displays search results, cursor position and other functions. This may be the reason why it is thicker.

[2020-11-19 12:52] arlemi commented on #5203
@wenmin92 Indeed, the bottom scrollbar is form the Monaco editor and it doesn't look like it'd be easy for us to change it, but the team will look into it anyway!

[2020-11-19 12:56] DannyDainton commented on #9293
Hey @Alexmtsl

Are your archive Collections listed here? https://go.postman.co/usage/archive

[2020-11-19 13:05] cretara commented on #4687
Like i said [here](https://github.com/postmanlabs/postman-app-support/issues/7294),
solved this issue by download, installing and using Postman Canary.

[2020-11-19 13:17] tyukesz commented on #5040
+1

[2020-11-19 13:22] Alexmtsl commented on #9293
No, I can't access to archived collections, because I have a free account

[2020-11-19 13:28] dtsio commented on #6681
+1, indeed weird this is not a default feature.

[2020-11-19 13:33] Raja-Simha commented on #6681
We are moving towards enabling not just sharing but real time collaboration with your partners.

We just released public workspaces(in public beta) which will allow teams to collaborate with anyone outside your team. More details in this blogpost - https://blog.postman.com/introducing-postman-public-workspaces. Also, checkout some public workspaces here - https://www.postman.com/explore.

We will

[2020-11-19 13:39] pasdam commented on #7553
I'm on MacOs and installed Postman using brew, so I don't think the issue is Chocolatey. I also noticed the `lastKnownVersion` value as @danstis, but even after removing only that files the issue still stand

[2020-11-19 14:16] gauthierpetetin opened #9294 "Disalignment between local Postman collection and online documentation ()"
**Describe the bug**
See screenshot.

**To Reproduce**
I created a folder in local Postman collection, then deleted it. But it's still there in online documentation, even after a week.
Other changes performed in local Postman collection reflect successfully on the UI, but this oen doesn't.

**Expected behavior**
Changes performed in local Postman collection shall always reflect successfully on the

[2020-11-19 14:20] agustinz97 commented on #8709
I am triying to do some basic data driven testing and in some iterations I have a string value for a variable and in another iteration I have a null value for the same variable because we do negative testing in the same test case.

If I write my json body like this
`{
  "variableName": "{{some_variable}}"
}`
It works for string values but when it is null the request sends "null" (a string with the

[2020-11-19 15:14] Raja-Simha commented on #8206
@Raj-postman can you help me understand why you want to hide certain headers? Do you have 'internal' headers that you do not want to expose publicly?

[2020-11-19 16:18] vvs11 commented on #9282
@haarts We are not able to reproduce it. Could you attach a video with the steps you performed that got you here?

[2020-11-19 16:33] cyrielle-hada opened #9295 "Updating email in account setting on Mozilla Firefox doesn't redirect to Identity page"
**Describe the bug**
When trying to change your email address in https://go.postman.co/settings/me/account in Mozilla Firefox the account verification doesn't happen. User gets stuck on the this below screen.

![Pasted-image-Thu_Nov_19_2020_103611_GMT-0500__Eastern_Standard_Time_](https://user-images.githubusercontent.com/47351631/99695147-23870400-2a85-11eb-946a-b3a55a1e35c1.png)

**To Reproduce*

[2020-11-19 16:37] Raja-Simha commented on #7691
@sanjkagm You can now view the documentation for every request in the context bar on the web. Checkout the new UX on the web here - https://www.postman.com/postman/workspace/postman-public-workspace/overview. The same UX will be brought into the app soon.

Closing this for now. Please reopen if you think this is not solved yet.

[2020-11-19 16:37] #7691 closed, assigned to vkaegis, Raja-Simha

[2020-11-19 16:41] haarts commented on #9282
How odd. I'll see what I can do tomorrow.

[2020-11-19 16:43] vvs11 commented on #9282
Also, can you see if you're able to add mock server from here:
![image](https://user-images.githubusercontent.com/4140290/99696152-62807e00-2ab4-11eb-9b5b-e463ae0f4c7d.png)

[2020-11-19 16:51] #7885 closed, assigned to vkaegis, Raja-Simha

[2020-11-19 17:03] fernion opened #9296 "Validation against incorrect path"
**Describe the bug**
The validation of an get request is validating against incorrect path

**To Reproduce**
Steps to reproduce the behavior:
1. Create an openAPI with two endpoints:
 /something
 /anotherthing/{id}/something
2. When the first endpoint is called, and the validation runs we can see it validating against the wrong path

Removing the {id} from the second endpoint fixes the issue.
An e

[2020-11-19 17:38] Nielwulf commented on #7179
I'm still running into this problem. Currently when sharing a Collection, even if the 'initial value' is set, it does NOT read that value when shared. The 'current value' tooltip verbage would indicate that the 'initial value' would be used IF there is no 'current value.'

The tooltip reads: This value is used while sending a request. Current values are never synced to Postman's servers. If left u

[2020-11-19 18:10] HeatherLemieux opened #9297 "Make managed tokens available as script variables"
**Is your feature request related to a problem? Please describe.**

I have a collection of APIs that use Bearer tokens and I have configured the parent collection's Authorization to use an environment variable for the bearer token e.g.
<img width="797" alt="image" src="https://user-images.githubusercontent.com/4631126/99704731-c8461900-2a66-11eb-98f0-7918350288e9.png">

This enables me to use a re

[2020-11-19 18:11] Raja-Simha commented on #8019
Duplicate of #7833

[2020-11-19 18:11] #8019 closed, assigned to vkaegis, Raja-Simha

[2020-11-19 21:22] ibakshay commented on #9205
I am also facing the same issue on my macOS `Big Sur 11.0.1`

[2020-11-20 00:59] contentfree commented on #1996
Postman.app is having a large enough impact on my 16" Macbook Pro that it wasn't even able to keep the battery charged (battery drain while plugged in). It was just sitting in the background having a massive energy impact. Fans running on high all day.

I just quit it, relaunched it, put it in the background and waited a minute to settle down. Here's the processes as reported by Activity Monitor:

[2020-11-20 01:14] jsooter commented on #2934
I am using a fairly common workflow for token based authorization and it works well for me. Here are the steps to set it up:

Create an environment and add the domain, client_id, client_secret, audience, and token variables. Leave the initial values blank so that you don't leak secrets when sharing the collection.
<img width="534" alt="Screen Shot 2020-11-19 at 5 07 12 PM" src="https://user-images

[2020-11-20 01:28] jsooter commented on #2934
I'm using a common flow for token based auth and it is working well for me. Here are the steps to set it up:

Create and environment and the domain, clientId, clientSecret, audience, and token variables. Leave the initial values blank so that you don't leak secrets when sharing the collection!
<img width="534" alt="Screen Shot 2020-11-19 at 5 07 12 PM" src="https://user-images.githubusercontent.co

[2020-11-20 01:38] Jesse121 commented on #3845
I set the Iterations 100 times. I'd expect the runner to stop once a request success, but instead it continues. Is there a way to stop execution once a request success?

[2020-11-20 02:29] averyby commented on #3244
Glad to find that the example response is editable.

[2020-11-20 07:17] Raja-Simha commented on #7673
This is fixed now. Documentation now indicates the auth type required for an endpoint.

[2020-11-20 07:17] #7673 closed, assigned to vkaegis, Raja-Simha

[2020-11-20 07:53] chaupearl commented on #1066
really really needed !!!

[2020-11-20 08:01] quixote911 commented on #5645
Hi folks, we're actively working on this feature request at the moment :)

@cuzic4n , or anyone else interested -
Would you like to try an early preview of this feature? It will help us validate our implementation

[2020-11-20 08:27] underko opened #9298 "[Feature request] Add variable to multiple environments at once"
**Is your feature request related to a problem? Please describe.**
Currently when adding a variable to environments you need to go and add it to all environments separately. That means opening every single environment and adding variable name and value. This is tedious, especially if there are more (4+) environments and can create undefined variables in case you miss an environment or decide to ad

[2020-11-20 08:52] cbetta commented on #8019
@Raja-Simha how exactly is this a duplicate of #7833?

[2020-11-20 09:50] KingCuster opened #9299 "Microsoft Azure - <Azure API>"
**Describe your current workflow**
How do you use Postman with the rest of the tools in your stack to achieve your use-case?

**Describe your ideal workflow**
How would you want Postman to integrate with specific products/tools to simplify or enhance your experience?

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've conside

[2020-11-20 10:28] DannyDainton commented on #9299
Hey @KingCuster,

Thanks for writing in, could you complete the rest of the template, please?

[2020-11-20 10:34] DannyDainton commented on #9294
Hey @gauthierpetetin,

Could you confirm the version of the app and the OS you're using, please?

Was the Documentation published or just local in the Team Workspace? Are the changes only being made in the forked Collection or also pushed to the main collection?

[2020-11-20 10:37] DannyDainton commented on #9291
Hey @okayabc

Could you please complete the issue template?

---

**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See an error

**Expected behaviour**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshot

[2020-11-20 14:49] arlemi commented on #7654
@celestebancos Thanks for the feedback. We offer the ability to go over that limit for a short amount of time so people are able to try the collaboration features without having to pay money up-front. Kind of a free trial but you don't even have to give your card number to enable it. We can do better on the UX side of thing though, I've passed it along to the product team. 🙂

[2020-11-20 14:52] pedrojuk commented on #8827
Considering whether to use Postman for a large industry-wide set of APIs. Management of shared referred items via external references (as per Swaggerhub Domains) will be critical.

[2020-11-20 15:24] theletterf commented on #8827
Then I'd say don't, @pedrojuk , though @loopDelicious told me it's in the roadmap.

[2020-11-20 15:27] camellia opened #9300 "Comments to Activity Feed (so they post to Slack integration)"
**Describe the solution you'd like**
I'd like to (optionally) include comments in the Activity Feed so that these will post to our Slack integration.

[2020-11-20 15:37] bzmw commented on #7833
My documentation workflow right now:

1. Edit OpenAPI Schema
2. CI builds into Postman.json
3. CI updates our website with new version
4. CI update our open source github repo with a new version
5. CI updates our Postman collection
5. *Manually* Open up Postman app, navigate to collection, click "share", click "update link".

The final manual step is very frustrating, there are only 2 people in th

[2020-11-20 16:08] cuzic4n commented on #5645
I am not working with OCI anymore just Google.. Let me tag someone that is working with OCI currently. @Halimer

[2020-11-20 16:30] daniel-luiz-staycharlie commented on #1066
+1

[2020-11-20 17:15] Halimer commented on #5645
@quixote911 myself (@Halimer) and @andrecorreaneto from OCI can test.

[2020-11-20 17:50] Raja-Simha commented on #7371
Duplicate of #7979

[2020-11-20 17:50] #7371 closed, assigned to vkaegis, Raja-Simha

[2020-11-20 17:59] #8863 closed, assigned to umeshp7

[2020-11-20 17:59] #8918 closed, assigned to nobody

[2020-11-20 17:59] #9135 closed, assigned to chughmayank

[2020-11-20 17:59] #9144 closed, assigned to umeshp7

[2020-11-20 17:59] #9209 closed, assigned to nobody

[2020-11-20 18:39] JP-from-Postman opened #9301 "Windows: un-comment shortcut converts text to all caps"
**Describe the bug**
In the Windows desktop app, pressing the un-comment shortcut (`ctrl + k + u`) in the script editor un-comments the selected text, but also converts it to all caps. This behavior does not occur on Mac.

**To Reproduce**
Steps to reproduce the behavior:
1. On a Windows computer, open script editor in Postman desktop app
2. Enter some text, and select it
3. Press `ctrl + k + c` t

[2020-11-20 18:44] DannyDainton commented on #9301
Duplicate of https://github.com/postmanlabs/postman-app-support/issues/9114

[2020-11-20 18:45] DannyDainton commented on #9301
I'm going to close this one @JP-from-Postman, as we have a big raised for this one already.

[2020-11-20 18:46] #9301 closed, assigned to nobody

[2020-11-20 20:04] jordydehaes commented on #9097
Same issue on Windows 10, appears to be running but nothing opens up.

[2020-11-20 20:28] kevinswiber commented on #9097
Hmm.  This might be a shot in the dark, but it's possible some folks have cached HSTS rules associated with localhost, which would force redirects to HTTPS.

The Network log in DevTools would show failed requests to https://localhost:10533/knockknock.  In Chrome, at least, that can be checked here: chrome://net-internals/#hsts.  If you query localhost and find entries, I'd try deleting the localho

[2020-11-20 20:42] rmnrdi commented on #903
This feature would be great for variables too. If you do a {{ you can see that collection and environment variables have a color associated with them. Collection is orange and env is green.

Collections would benefit from this as well. Especially when you have 5 of them with similar names.

[2020-11-20 20:57] kharmabum commented on #8154
Got here via https://github.com/postmanlabs/postman-app-support/issues/4171

In the latest build of Postman as of this writing I'm experience a behavior where auto-url-encoding cannot be enabled (v7.36.0):

- If I have the next gen url parsing ON, and auto url encoding ON, I do not get auto url encoding
- If I have next gen url parsing OFF, I do not get auto url encoding.

Let me know if I can pro

[2020-11-20 22:21] R-Lamberson opened #9302 "Azure DevOps Git integration"
**Describe your current workflow**
Currently we used Postman collections stored in our git repositories in Azure DevOps.  Requires manual syncing of files to local file system and then importing and exporting the postman collections into the tool.   Very inefficient and leads to errors across the team (dev, qa, ops)

**Describe your ideal workflow**
Direct integration with Azure DevOps git reposit

[2020-11-20 23:18] lilliank commented on #9056
https://dl.pstmn.io/download/latest/windows  was linked above saying that it was Postman v7.34.0, but it's still pointing to the bad version.  Can we get a link to 7.34.0 please?  And, any update on a fix?

Thank you!

[2020-11-21 03:33] zgirod opened #9303 "Bulk Edit doesn't include description"
**Is your feature request related to a problem? Please describe.**
When bulk editing the params for a request the bulk edit includes the key/value however the description is not available in the bulk edit.

**Describe the solution you'd like**
I would like description to be included in bulk editing params for a request.

[2020-11-21 04:56] connorlaw2151 commented on #4009
+1

[2020-11-21 05:33] mohitranka commented on #9056
@lilliank and others we have recently released 7.36.0 with bunch of fixes related to OAuth2. Please let us know if you continue to face any issues.

[2020-11-21 10:04] codenirvana commented on #8154
@kharmabum Can you share an example URL with the encoding you are expecting?

[2020-11-21 11:01] gauthierpetetin commented on #9294
Hello @DannyDainton ,
I use the following version of Postman: 7.35.0
I'm on Mac OS: 10.14.6
The documentation was published.
Actually it was even published multiple times since I update it almost every day. Always on the main collection (not on a fork).
All other changes I make are properly published on the online documentation, except this one: I'm not able to delete the folder called "7.Multiple

[2020-11-21 14:50] meghamahant opened #9304 "Postman web version - Variables"
**Describe the bug**
The variables that are saved during work session on web postman go away as soon as browser tab is closed (or browser is closed)

**To Reproduce**
Steps to reproduce the behavior:
1. Open the web postman
2. Save one or more variables (key and value)
3. Close the browser tab where you are running postman
4. Open the postman again - go.postman.co
5. Open the Variables section and

[2020-11-21 14:56] DannyDainton commented on #9304
Hey @meghamahant

Thanks for creating this - would you be about to attach a few images or a quick recording of the issue, please?

Just to clarify, we're the the variable added and saved (there a save button on the environment tab) or just added - Before closing the browser tab?

[2020-11-21 15:14] meghamahant commented on #9304
Hi @DannyDainton,

I have created a recording but this comment area does not support video files (I have .mp4).
Please let me know if I can send in the file through any other channel.

[2020-11-21 16:12] okayabc commented on #9291
Ok.

I only use the following screenshot to illustrate this problem clearly:

![postman error](https://user-images.githubusercontent.com/4360696/99881836-0144e000-2c57-11eb-9fe6-594adea4a9a0.png)

Postman Version: 7.34.0, but it seems that other versions will reproduce this problem also.
OS: Window 7

[2020-11-21 16:17] sergeevichvn opened #9305 "Does not show hints by code in edit collection"
**Describe the bug**
Hi, when I write script in request tab I have hints
![image](https://user-images.githubusercontent.com/10349805/99881762-b8783180-2c2c-11eb-9577-1fd07e5d0470.png)
but when I write script in edit collection hints on the background, not active + i cant change position window
![image](https://user-images.githubusercontent.com/10349805/99881825-09882580-2c2d-11eb-9b92-b9e1dd7722bc

[2020-11-21 16:57] DannyDainton commented on #9291
Are you using any certificates or have you added any certificates to use with that request?

Any more context about the endpoint that you're calling?

Just trying to build up a clear picture about your setup and the details of the request. The error message is only a single part of the information. 😁

[2020-11-22 01:28] agb80 commented on #7286
+1

[2020-11-22 10:37] drorwb opened #9306 "Changes in collection not sync to Monitor"
I created a monitor from collection in the app.
After edit the requests in the collection locally and even click the sync button the requests the monitor is running stay same as they were before my changes.
Only after change the collection name and than create again monitor it's sync.
Any solutions?

[2020-11-22 11:49] okayabc commented on #9291
I haven't turned on certicifate switch.
![postman证书](https://user-images.githubusercontent.com/4360696/99902834-a5806280-2cfb-11eb-9b39-34a332a0b8f8.png)

The endpoint is my own service.

It's ok before but i dont know why it isn't now?

[2020-11-22 20:33] cjstage commented on #2934
Wow, such a disappointment to find this thread and how this issue hasn't been resolved for so long. Is implementing this feature really so hard that two years later it's still not?  I doubt it.

[2020-11-23 02:47] mohitranka commented on #9232
We have released a [new version](https://www.postman.com/downloads/) of the app - while we don't anticipate any impact, please let us know if you continue to observe the requests getting reordered.

[2020-11-23 05:52] ShubhamShah commented on #9097
The same happening with me, the postman chrome extension and app runs smoothly,
When downloaded the PostMan Agent, it gets installed, shows in the tray but does not open.
I've removed all the postman extensions and agents, reinstalled the postman agent file but not opening.

Configuration:
1)Windows 7 64 Bit
2)Postman Agent win64-0.2.4

[2020-11-23 06:25] shashankawasthi88 commented on #9205
@kplatis @ibakshay can you confirm that `NativeMessagingHosts` directory exists at the right location corresponding to your OS (this exact location can be found in https://learning.postman.com/docs/sending-requests/capturing-request-data/interceptor/#troubleshooting-tips - trouble shooting steps).

[2020-11-23 08:31] CasperWSchmidt commented on #9056
It works for me! Hooray! 👍

[2020-11-23 09:37] DannyDainton commented on #9305
Hey @sergeevichvn

Thanks for reporting this inconsistency - We'll take a look at this.

In the meantime, you could jump over to our web version https://go.postman.co when you'll be able to use the auto-complete feature at the Collection, Folder and Request level. 🏆

[2020-11-23 09:40] DannyDainton commented on #9306
Hey @drorwb

Could you include the version and OS that you're using, please?

Also, any screenshots or a recording which shows the issue will help us to investigate the problem.

[2020-11-23 10:43] AndersMalmgren commented on #9056
Works here too!

[2020-11-23 11:10] VicKetchup commented on #9306
Facing the same issue, started happening on Thursday. The changes done then are now in monitors however new changes are still taking their time. I am  on macOS Catalina (10.15.7) using Postman 7.34.0 (can't use 7.35 due to https://github.com/postmanlabs/postman-app-support/issues/9230)

[2020-11-23 11:43] scholzi100 commented on #2701
Still waiting for HTTP/2 support... HTTP/3 Specification will be available soon :laughing:

[2020-11-23 11:47] scholzi100 opened #9307 "HTTP/3 Support"
Support for HTTP/3,
HTTP/3 uses a new transport called QUIC.

Specification will be finished soon: https://quicwg.org/

Also see HTTP/2 support: #2701

[2020-11-23 12:53] drorwb commented on #9306
Version 7.36.0
win32 10.0.19041 / x64

[2020-11-23 13:00] VicKetchup commented on #9230
Still an issue in 7.36

[2020-11-23 13:37] juliocabify100 commented on #2086
5 years later...

[2020-11-23 14:32] mat-ale commented on #3358
+1

[2020-11-23 14:35] ArjunSingh-PM commented on #9295
@cyrielle-hada Could you please confirm if pop-ups were blocked on the browser?

[2020-11-23 14:54] stonygrunow commented on #3632
+1 for this. It's nuts our favicon and logo can't match our URL. We absolutely need this. Thanks!

[2020-11-23 15:59] dphov commented on #9021
+1

[2020-11-23 16:22] Elixor commented on #3358
I wonder using shortcut : ctrl + k, c - is possible to comment multiple lines (same as in VS). But how can I uncomment them again? :-P Shortcut: ctrl + k, u - will uncomment but it also set all to uppercase :) any ideas? Thanks!

[2020-11-23 16:59] cyrielle-hada commented on #9295
@ArjunSingh-PM This issue was reported via a support ticket and I am unable to confirm with the user as the ticket is now closed. However, I was actually able to reproduce when blocking the pop-ups. So perhaps this was the reason here for it to happen!

[2020-11-23 16:59] SukruGundogdu opened #9308 "New Integration Request - <product name>"
**Describe your current workflow**
How do you use Postman with the rest of the tools in your stack to achieve your use-case?

**Describe your ideal workflow**
How would you want Postman to integrate with specific products/tools to simplify or enhance your experience?

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've conside

[2020-11-23 17:08] kharmabum commented on #8154
@codenirvana

### Actual
`http://localhost:8080/api/foo?asOf=2020-09-06T03:59:59+10`

### Expected
``http://localhost:8080/api/foo?asOf=2020-09-06T03%3A59%3A59%2B10`

[2020-11-23 17:16] kharmabum commented on #8154
@codenirvana here's [a video](https://www.dropbox.com/s/de5x50li3lk6fs0/postman-example.mov?dl=0) of the behavior

[2020-11-23 17:36] shashankawasthi88 commented on #9308
@SukruGundogdu can you add the required details to the request. We are interested in knowing which Product you would want us to Integrate and the other details as suggested by the request template

[2020-11-23 19:56] poisa opened #9309 "[Agent] getSystemProxy - System proxy defined has invalid syntax"
**Describe the bug**
In certain cases, the Postman Agent does not properly detect a proxy and will stall while issuing a request.

**To Reproduce**
It's hard to reproduce this issue because a specific proxy config is required but I've tracked down the exact line in code it happens so that should make it easy.

1. Install Postman Agent v0.2.4
2. Open up the Postman Web App at https://web.postman.co

[2020-11-23 20:08] poisa opened #9310 "Postman web proxy: add support for private key"
Currently open proxies and basic auth proxies are allowed. It would be great if authentication via a private key could be used.

[2020-11-23 20:15] Essler commented on #2086
I've since moved on to [Insomnia](https://insomnia.rest/) (no affiliation).

Something small like this not being addressed after all this time, especially with the reasonings the developers have given, doesn't bode well for the project.

[2020-11-23 21:44] brendandebeasi opened #9311 "Feature Request: Assign colors / icons to tabs"
As a user I would find it useful to be able to:

1. Assign a background color to tabs
2. Assign an icon to tabs (colorblind-friendly)
3. Assign a letter enclosed in a colored circle to tabs

In general I would find these features useful while juggling multiple projects. I could assign a color or an icon to each project and know at a glance which tab is related to what.

[2020-11-23 23:37] joachimbuechse commented on #4033
I vote for this as well. For us already a call to just disable the client certificate for a particular call would be a step forward.

[2020-11-24 02:45] ahsankarimbhai commented on #8950
We have similar workflow. Our API specs are independently generated outside of Postman by our CI pipelines. Our use case is following:

1. Import the OpenAPI spec initially to create a Postman collection. Write tests in the collection for the requests by adding missing parameters, header and body data. Run the collection via Newman CLI as part of CI pipeline
2. Our OpenAPI could change from build

[2020-11-24 02:56] godfrzero commented on #9306
Hey @drorwb @VicKetchup,

When you're seeing this delay, could you open up https://go.postman.co and see if the changes are reflected in the same collection there?

[2020-11-24 03:02] gerrytan commented on #989
I am also interested in having ability to develop / install authentication plugin / extension for Postman. In my use case we have a custom protocol called ASAP: https://s2sauth.bitbucket.io/. Currently I have to manually generate a token via CLI and paste it to Postman as header every time. I wish having a plugin / extension can remove this pain.

[2020-11-24 04:31] contentfree commented on #7317
Using the postman.co website and changes to my API are not synced to the published documentation. How do I force a documentation collection to be updated / synced with my API?

[2020-11-24 04:42] danstis commented on #7553
After some further reading it turns out there was a version 7.35.0 that was published. This version had an issue and was revoked due to a bug.
It seems that we have installed this version before it was revoked (using Chocolatey or Brew) and therefore our config is uplevel. So when it rolled back to version 7.54.0, it's acting as designed and protecting our config.
The Postman team have stated (can

[2020-11-24 06:27] hamzamtn opened #9312 "Post method not working in latest version 7.36.0"
Only GET method is working in the latest version of postman v7.36.0 except other methods, but works in the previous version.

Kindly fix this bug. Thanks in advance

[2020-11-24 07:04] abhinaba-ghosh commented on #9146
Hi all, this is fixed in `v7.36`  🎉
We have changed the display message to:
<img width="705" alt="Screenshot 2020-11-24 at 12 33 15 PM" src="https://user-images.githubusercontent.com/23141842/100059594-56e4dc80-2e51-11eb-9010-c0f2f73e9350.png">

[2020-11-24 07:04] #9146 closed, assigned to abhinaba-ghosh

[2020-11-24 07:13] preethammavin commented on #9312
@hamzamtn can you try sending different request methods in the collection on your app and check if the methods are working as expected?
https://docs.postman-echo.com/#9a4c3bce-30f7-a496-c9ec-78afecbf1545

You should be able to import the collection by clicking on the Run in Postman at the top right.

[2020-11-24 07:26] godfrzero commented on #7317
@contentfree You shouldn't have to delete & recreate. Would it be possible to post a link to the public doc here so I can take a look?

[2020-11-24 07:42] mohitranka commented on #8213
@Bysmyyr - We have made few performance improvements to these endpoints in the last month. I'd like to know if you are still facing issues around big collection updates.

[2020-11-24 07:51] galbarm commented on #8213
@mohitranka
I'm still facing the issue.
You can see more details in support ticket #60411

Specifically, for update collection request with body around 1MB, the "Something went wrong with the server." error is returned after 1 minute.

Also note that collections API only operates on full collections.
You cannot update a single request/folder within a collection.
As a result, there is no workaround

[2020-11-24 07:52] vvs11 commented on #9251
This is fixed in v7.36.
Closing this for now. Please feel free to reopen if you're still seeing this issue

[2020-11-24 07:52] #9251 closed, assigned to nobody

[2020-11-24 08:04] vvs11 commented on #9103
@nutmix I am not able to reproduce this. Could you attach a video highlighting the steps to reproduce it?
You can upgrade to 7.36 and check if you're still facing this issue

[2020-11-24 08:11] vvs11 commented on #9061
@leonvzGit you can also try using collection variables.

[2020-11-24 08:13] Raja-Simha commented on #3632
@stonygrunow just to be clear, you can set up your own logo and favicon for public docs at $team.postman.com/settings/team/general. This logo and favicon will be used across all public docs.

What you cannot do right now is set up a different logo and favicon for different public docs and that is what this feature request is about.

[2020-11-24 08:18] vvs11 commented on #9200
@ZiegerJheng @dogkeeper886 could you guys try this now? We have made some fixes to the web version, it should be working now.

[2020-11-24 08:20] yehgold opened #9313 "[Feature Request] Allow disable TLS v1.3 - in Protocols disabled during handshake under settings"
In the latest version of Postman - v7.36.0 for windows Postman supports TLS v1.3
But not all API's support that.

The way to disable TLS is via Settings tab ->  Protocols disabled during handshake

While there is no option to disable TLS v1.3

Due to this issue we are using version 7.25.0 and not upgrade it.

[2020-11-24 08:27] dogkeeper886 commented on #9200
Thank you sir, this problem does not happen now

[2020-11-24 08:29] vvs11 commented on #8739
@Phara0h @mchenx @havaball @Aidenir Could you guys upgrade to 7.36 and check if you're still seeing this issue?

[2020-11-24 08:32] dogkeeper886 commented on #9201
This problem does not happen now

[2020-11-24 08:32] #9201 closed, assigned to nobody

[2020-11-24 08:35] ZiegerJheng commented on #9200
@vvs11 Yes, It fixed now. Thanks for your good jobs!

[2020-11-24 08:45] vvs11 commented on #9200
Thanks a lot for your response. Closing this for now :)

[2020-11-24 08:45] #9200 closed, assigned to nobody

[2020-11-24 08:57] vvs11 commented on #9160
@eugene-rockspoon Could you attach a video highlighting the steps when you see this issue? Will help us in finding the root cause more efficiently

[2020-11-24 08:59] godfrzero commented on #9306
Nvm, we were able to recreate the issue. We're looking into the cause.

[2020-11-24 09:22] markrmoran1 commented on #1070
+1 please - lack of this feature is a real drag guys!!!

[2020-11-24 09:24] xk0der commented on #8880
Hey @uaksine , @RJFoster is this issue still occurring for you with the [latest Postman app](https://postman.com/downloads)?

[2020-11-24 09:34] DannyDainton commented on #9232
@Seregy / @bdelsaz / @ivnakov / Anyone else

Could you please let us know if this is still an issue and in the latest version?

[2020-11-24 10:26] arlemi commented on #8950
@ahsankarimbhai This is not possible for now, though we're hoping to release an API endpoint to update collections linked to an API spec in the short term which should solve your issue as you'd be able to trigger the update from your CI/CD pipeline. We'll post updates on this issue once it is released: https://github.com/postmanlabs/postman-app-support/issues/8697

[2020-11-24 10:33] godfrzero commented on #9306
@drorwb @VicKetchup Could you let me know if you're still seeing this problem?

[2020-11-24 10:34] vvs11 commented on #8264
@pankajk07 Since this is not reproducible anymore, closing this issue

[2020-11-24 10:34] #8264 closed, assigned to nobody

[2020-11-24 11:39] VicKetchup commented on #9306
@godfrzero we jsut merged some changes to a branch with the monitor and unfortunately monitor run didn't get the up-to-date code. I went to https://go.postman.co/ and saw the changes refrected there though.

[2020-11-24 11:51] meghamahant opened #9314 "Postman Web - Settings"
**Describe the bug**
My settings are lost in web version that I saved initially when I started using Postman Web.

**To Reproduce**
Steps to reproduce the behavior:
1. I logged in to Postman Web two days ago.
2. I changed the theme to dark one and enabled "Always open requests in new tab"
3. Now when I logged in today - Theme was default again and  "Always open requests in new tab" was OFF

**Expe

[2020-11-24 12:30] bdelsaz commented on #9232
@DannyDainton I did a quick test and it seems like the issue is fixed now.
Thanks so much for the quick update! :)

[2020-11-24 12:31] VW1GDFC commented on #4033
What about moving the certificate settings to the collection? So client certificates could be organised in a similar way like variables.

[2020-11-24 12:31] kplatis commented on #9205
@shashankawasthi88 Thank you for your answer. You are right, the `NativeMessagingHosts` directory did not exist in the location you mention. The issue was fixed when I created the `NativeMessagingHosts` directory.

[2020-11-24 12:59] Seregy commented on #9232
@DannyDainton I'm no longer experiencing this issue as well

[2020-11-24 14:07] ThomaSchneid commented on #6236
This issue is open now for over a year, hope you guys start working on it soon 👍

[2020-11-24 14:20] DannyDainton commented on #9232
Closing this issue now but we can reopen/raised a new issue if we see any additional reports of the problem.

[2020-11-24 14:20] #9232 closed, assigned to vvs11

[2020-11-24 14:51] Raja-Simha commented on #7600
Duplicate of #5056

[2020-11-24 14:51] #7600 closed, assigned to vkaegis, Raja-Simha

[2020-11-24 16:09] shashankawasthi88 commented on #4780
Hi @musanas and others, the Integration to backup your Postman collection to Atlassian Bitbucket is now available in Postman. To configure the Bitbucket Integration go to Home > Integrations > Browse All Integrations > Bitbucket tile. Fill out the configuration form to setup the Integration. Follow the link https://learning.postman.com/docs/integrations/available-integrations/bitbucket/ to find mo

[2020-11-24 16:09] #4780 closed, assigned to ankitjaggi

[2020-11-24 16:14] dbcto commented on #4171
The problem still exists in v7.36.0!
"Use next generation URL processing" makes no difference in behaviour.
Using a Pre-request Script makes no difference in behaviour.

Any ideas?

[2020-11-24 16:38] ouribeb930 commented on #2086
Is this going to be done in some point before I die?
I really good solution would be just to be able to move the body tab first.
Another solution would be to add a setting to define the selected tab ( I mean any tab we want ).
One more would be just to be able to make tabs float and dockable in some place we want.

This really makes me angry, not like upset, but really angry... hate.

Is there any

[2020-11-24 18:57] JosephCanete commented on #3518
Problem still persist :/

[2020-11-24 19:07] ashwinputhige commented on #4897
Had this issue today.  rm -rf ~/Library/Application\ Support/Postman fixed it.

[2020-11-24 19:41] jdmallen opened #9315 "No feedback provided when attempting to import malformed swagger.json"
**Describe the bug**
When importing the contents of a swagger.json file as raw text, if the `version` field is missing from the `info` object, the Continue button does not function at all. There's no feedback provided at all that the json is malformed-- it simply does nothing.

**To Reproduce**
Steps to reproduce the behavior:
1. Click Import.
2. Click raw text tab.
3. Paste [this sample swagger f

[2020-11-25 03:11] contentfree commented on #7317
https://documenter.getpostman.com/view/2541692/TVes8SV2 (it's out of sync
with the API spec in my Postman account – I don't know of any way to force
it to update besides deleting and recreating)

On Mon, Nov 23, 2020 at 11:27 PM Vivek Thuravupala <notifications@github.com>
wrote:

[2020-11-25 04:23] beamsies commented on #5990
postman extremely slow

[2020-11-25 05:21] godfrzero commented on #9306
@VicKetchup Could you send us the monitor ID or collection ID at help@postman.com? The issue appears to be resolved based on what I can see internally, so I want to make sure it's not an intermittent issue with specific resources.

[2020-11-25 05:58] Sasi-21 commented on #8747
Hi All, I am also getting parse error. Is there any updates on this issue. As lots of people facing same issue.

![image](https://user-images.githubusercontent.com/63800698/100188888-32e8d000-2f11-11eb-9077-cf45814d6b5a.png)

[2020-11-25 06:14] godfrzero commented on #7317
@contentfree Thanks for the link. We had made some changes yesterday which should've addressed this. If you're still seeing this issue, could you try the following:

1. Make modifications to the collection description, check if the updates are reflected within a couple minutes
2. Make modifications to a request within the collection, check if the updates are reflected within a couple minutes

If y

[2020-11-25 09:25] MyEidos commented on #6639
Any updates? A really important feature, I am surprised it is still not implemented...

[2020-11-25 09:45] lakkiniCom commented on #4082
There is a very simple way to do that and send an array throw postman:

![image](https://user-images.githubusercontent.com/49284931/100210414-3f6a2a00-2f0b-11eb-8d66-519e21f3bc6b.png)

[2020-11-25 09:50] VicKetchup commented on #9306
@godfrzero After trying this morning with a new change, everything seems to be good now :) Thanks for your help!

[2020-11-25 10:04] drorwb opened #9316 "Not tests present on Monitor"
**Describe the bug**

I create a collection with a few requests and test. When I run the collection locally its working and all the tests passed.

When I upload the collection as a monitor I get for each one of the requests this message:

[code]

**Steps To Reproduce**

1. Create monitor from web/app
2. Run

**Screenshots**
Monitor:
![image](https://user-images.githubusercontent.com/45896398/10021

[2020-11-25 10:19] DannyDainton commented on #9316
@drorwb

I've updated your questions so that it follows the template - Could you please add steps to reproduce, any additional information and screenshots to the issue, please?

By providing this information, we will be better placed to help resolve the issue that you're facing.

[2020-11-25 10:46] drorwb commented on #9316
Fixed.
Second bug i have with postman in two days.
The app crash a lot and works really slowly

[2020-11-25 11:03] DannyDainton commented on #9316
- What are the 8 errors on the Monitor Run?
- Is the Collection using global variables when run successfully in the runner?
- Is an `Environment` file used in the Monitor Run?
- Does the Monitor show the tests if you delete and recreate it?

[2020-11-25 11:23] Julien-Marpault opened #9317 "Version management of collections"
I Have an API with versions 1.0 and 2.0.

In web view, no worry
![image](https://user-images.githubusercontent.com/23618436/100220824-287e0480-2f18-11eb-9dbe-25d16db50c10.png)
<hr/>

![image](https://user-images.githubusercontent.com/23618436/100220978-57947600-2f18-11eb-8e09-f07f8dd1327d.png)

But in Postman App, thre's no way to see the correct version, I only see the last one

![image](https://

[2020-11-25 12:38] JoeAlamo commented on #3117
This would be really useful to have as part of the Postman **collection**.

I personally don't use Postman's API feature, because converting my OpenAPI schema into Postman API via Postman really garbled and messed up my OpenAPI Schema.

I had a far better experience using apimatic.io to convert my OpenAPI schema into a Postman collection, and then use the docs for the Postman collection.

If we we

[2020-11-25 12:38] countzero opened #9319 "The `globalThis` object is not defined in a collection context"
**Describe the bug**
The `globalThis` object is not defined in a collection context.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a new collection
2. Create a GET request to "https://petstore.swagger.io/v2/pet/1"
3. Add the following line into the "Tests" field within the GET request: `console.log(globalThis);`
4. See error in console:

**Expected behavior**
The [globalThis](https:

[2020-11-25 13:05] DannyDainton commented on #9319
I believe this is a duplicate of https://github.com/postmanlabs/postman-app-support/issues/9230 - Can you confirm @countzero

[2020-11-25 13:43] countzero commented on #9319
@DannyDainton: Yes that describes my problem, but I did not find that issue because I searched for the concrete word "globalThis".

[2020-11-25 13:59] DannyDainton commented on #9319
I'm going to close this one out and centralise all the information on there - We'll provide updates one we have them.

[2020-11-25 13:59] #9319 closed, assigned to codenirvana

[2020-11-25 14:11] reedbapex commented on #8747
There are relatively stable work-arounds listed above in the Jul-29 - Sept-16 comments.  The Postman team has not addressed it as of 7.36.

[2020-11-25 14:22] countzero commented on #9230
@VicKetchup: Can confirm, that this is still an issue in v7.36.0: #9319

[2020-11-25 14:57] gm007676 commented on #3518
I used the intercepter to capture cookies and add domain `localhost` without the port

[2020-11-25 15:34] rcollette opened #9320 "Continuous unsuccessful attempts to start com.postmanlabs.mac.ShipIt service"
**Describe the Issue**

A service is continually attempting to start on the machine without the necessary permissions.  I am using a corporate Mac that has JAMF installed.

[code]

This repeats over and over.

**Environment Information**

 - Platform Type: Native Desktop
 - Postman Version: 7.36.0
 - Operating System: Mac OS 10.15.7

[2020-11-25 15:46] odmjuk opened #9321 "Generated code snippet does not url-encode correctly"
Generated code snippets for x-www-form-urlencoded does not url-encode the body parameters correctly in the generated code snippets.

The forward slash "/" character does not get url-encoded. Maybe other characters also?

In the body section of a new POST request select "x-www-form-urlencoded". Add a new key with a value containing "/". Click "Code --> Python"

**Environment Information**

 - Platf

[2020-11-25 17:37] nasr18 commented on #5514
I installed latest version of Postman Agent v0.2.4 in linux mint 20 and I'm facing the same issue. Postman icon showing in panel, but can't able to open the app.

![image](https://user-images.githubusercontent.com/7514936/100263013-f77eed80-2f72-11eb-9ade-d631c9565954.png)

[2020-11-25 17:48] nasr18 opened #9322 "Postman Agent icon showing in panel, but can't able to open the app"
I installed latest version of Postman Agent v0.2.4 in linux mint 20 and I'm facing the same issue. Postman icon showing in panel, but can't able to open the app.

![image](https://user-images.githubusercontent.com/7514936/100263013-f77eed80-2f72-11eb-9ade-d631c9565954.png)

_Originally posted by @nasr18 in https://github.com/postmanlabs/postman-app-support/issues/5514#issuecomment-733851378_

[2020-11-25 17:57] vvs11 commented on #9322
@nasr18 It could be the desktop agent. You'll have to open postman on web and try sending the request. Alternatively, you can download Postman app.

[2020-11-25 18:03] DannyDainton commented on #9322
Hey @nasr18

The Postman Agent (the one you see in the toolbar) enables request sending in our web platform. This is needed due to CORS limitations.

Head over to https://go.postman.co/build to use this Agent and see our brand new UI ❤️

What is it that you're trying to do - Just use the native app or the Web version?

[2020-11-25 18:19] nasr18 commented on #9322
@vvs11 @DannyDainton thank you so much for the fast reply. I'm really sorry for raising an issue. Its my bad. I wrongly installed Postman Agent. Now I installed Postman app and its working fine.

[2020-11-25 18:19] #9322 closed, assigned to nobody

[2020-11-25 20:17] kuka-radovan commented on #8040
+1

[2020-11-25 20:33] jhandsaker commented on #2369
Hopefully this helps someone else. I'm using the Windows Native App and it wasn't honoring my host file. I had postman setup to use a proxy. It was hitting the proxy first before checking my host file. I added a Proxy Bypass in Postman for the same entries I had in my host file and then it worked.

[2020-11-25 21:02] inland-rob opened #9323 "Ability to link to request in collection"
**Is your feature request related to a problem? Please describe.**
I want to be able to deep link to an API a collection so I can include the link in specification documents. The link should open the Postman client and display the API documentation in question. Getting the href should be as easy as selecting "Link to this API" with option-click on mouse.

**Describe the solution you'd like**
The l

[2020-11-26 04:39] Raj-postman commented on #8206
Sorry for the late reply @Raja-Simha. I believe so, previously received this request from a user.
Suggested use of environment variables to hide these headers.

[2020-11-26 04:51] Zinnurka opened #9324 "Invalid file save format"
1) Execute a request
2) Click "Save to file"

Expected Result: The file is saved in * .p10 format. (example of saving from the browser)
![image](https://user-images.githubusercontent.com/32505382/100309470-c92dfc00-2fcc-11eb-92a0-698f71523aae.png)

Actual result: the file is saved in * .bin format
![image](https://user-images.githubusercontent.com/32505382/100309342-79e7cb80-2fcc-11eb-82d4-ed53c85

[2020-11-26 05:37] shuyih commented on #5514
Try right click on the icon on task bar and choose something like "Bring
display back to current screen" if you have multi-monitor set up

On Wed, Nov 25, 2020 at 9:37 AM Mohamed Nasrullah <notifications@github.com>
wrote:

[2020-11-26 06:32] Bysmyyr commented on #8213
@mohitranka Thanks for your reply. Our issues have went worse in last months.

[2020-11-26 07:16] numaanashraf opened #9325 "Postman restarts after a long delay when applying update in macOS Big Sur"
Install update & Restart option restarts the application after a very long delay on macOS Big Sur.

Application Version: Postman for macOS v7.35.0
OS Version: macOS Big Sur v11.0.1

[2020-11-26 09:58] countzero commented on #9230
**Is there a viable workaround to this bug?**

I need some support for a workaround to run my tests in postman v7.34.0.

I am assuming this takes a long while and customers out there are NOT willing to rewrite all their requests until this bug is fixed. So there should be a documented workaround in place.

Reverse engineering your download links gave me: https://dl.pstmn.io/download/version/7.34.0

[2020-11-26 10:26] VicKetchup commented on #9230
@countzero On macOS I go to 'MacHD > Users > <user> > Library > Application Support' and delete/rename Postman folder there, which unblocks the install. So just need to figure out where the Postman folder is in Windows, probably in %appdata%.

[2020-11-26 11:09] StyxOfDynamite opened #9326 "Postman Timeout, localhost / 127.0.0.1 OK, but custom hostname timesout."
**Describe the Issue**

**Steps to Reproduce**

**Made a  GET request to**
 - localhost/api/index.php/auth. -> Got 200 OK (282ms)
 - 127.0.0.1/api/index.php/auth -> Got 200 OK (229 ms)
 - avado.local/api/index.php/auth -> TIMEOUT

**Made a Curl Request to**
[code]

**Screenshots or Videos**
![image](https://user-images.githubusercontent.com/946550/100343460-4c544f80-2fd7-11eb-8fa6-7c21cbb0e817.png

[2020-11-26 12:49] CriggerMarg commented on #4193
Please do it, we need it badly

[2020-11-26 13:26] dennisameling commented on #6583
+1 for this! Would love to have improved performance by having a native arm64 version of Postman on the Surface Pro X 😊

[2020-11-26 14:08] benbyford commented on #4671
This has tripped me up today. Mainly as something are autosave (titles, labels), and some things are not (data in requests), confusing to have both

[2020-11-26 14:09] celestebancos commented on #7654
Thank you, @arlemi. In my case the benefit of getting to try out the feature for free did not outweigh the hassle of spending over an hour figuring out how to get my main project back into working order.

A transparent warning would be "Since you're over the limit, we might delete your project and make you restore from backup."  The "archive" term did not communicate that for me — I assumed I coul

[2020-11-26 15:28] tomjackman commented on #1066
+1

[2020-11-26 15:44] aowss commented on #2906
+1

[2020-11-26 16:01] moomoolive commented on #9097
Same issue as undeadzant.

I tried it with the Postman Agent-win64 0.2.4 setup wizard on Windows 10. It didn't respond after uninstalling and installing again.

[2020-11-26 17:41] fclante commented on #8769
This Is critical functionality Please prioritize it SOON. My Company wants to use the product, but it's not possible if we have to wait forever for this much needed feature.

[2020-11-26 23:47] Nosipho93 opened #9327 "New Integration Request - uipath"
**Describe your current workflow**
How do you use Postman with the rest of the tools in your stack to achieve your use-case?

**Describe your ideal workflow**
How would you want Postman to integrate with specific products/tools to simplify or enhance your experience?

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've conside

[2020-11-27 04:24] vikiCoder commented on #9230
@VicKetchup @countzero You can follow the steps mentioned here to clear the local app data and install old version: https://support.postman.com/hc/en-us/articles/360025359014. Please check out 'Clean up local files and restart the app' and ‘Resolution steps to rename your Postman folder’ sections.

[2020-11-27 05:38] Raj-postman opened #9328 "Request Body Panel UI Bug - Remove File Button Overlap"
**Describe the Issue**

- In the key/value rows (Eg: key type "file") - If the filename in the value field is sufficiently long and the UI is in Two Pane view then the button to remove the file "X" overlaps with the "X" button to remove the entire key/value pair overlap, making it impossible to change the file without removing the entire row.

**Additional Notes**

- The issue causes users to ofte

[2020-11-27 05:58] shashankawasthi88 commented on #9327
@Nosipho93 Can you please elaborate on the other parts of the Integration Request Template as well. It will help us design/ plan the Integration accordingly.

[2020-11-27 06:19] abhijitkane commented on #8769
@KristianAtVsp @ogtool @fclante Can you describe the workflow that you'd like to achieve with this integration? Are your Bitbucket instances accessible from the internet? We recently added support for Static IPs for Integrations (https://blog.postman.com/how-to-integrate-postman-with-your-private-network/), which means there's a single IP that you can allow to call your network.

[2020-11-27 07:02] DannyDainton commented on #9299
Closing this for now, can be reopened once the individual heading details have added.

[2020-11-27 07:02] #9299 closed, assigned to abhijitkane

[2020-11-27 07:34] siralam commented on #9097
Hey guys, I just realized Postman Agent and Postman app are different things. If you want to run Postman as a desktop app, do not download `Postman Agent` but the app here:

https://www.postman.com/downloads/

[2020-11-27 11:58] JulianDanho opened #9329 "Code Generator for language ABAP"
Possibilty to include language "ABAP" from SAP to the code generator as additional language?

[2020-11-27 13:05] rodrigopavan commented on #6682
+1

[2020-11-27 13:22] lineshr opened #9330 "Environment variables are not syncing in the current version Postman v7.36.0"
Environment variables are not syncing in the current version.
more specifically I can say that it will not sync INITIAL VALUE and  CURRENT VALUE in cloud.

variables name is updating but not values.

[2020-11-27 13:57] DannyDainton commented on #9330
Hey @lineshr

Can you please fully complete the issue template and provide more context, please.

---

**Describe the Issue**

**Steps to Reproduce**

**Screenshots or Videos**

**Environment Information**

 - Platform Type: [e.g. Native Desktop App, Postman On The Web, Web Dashboard]
 - Postman Version:
 - Operating System:

**Additional Context**

[2020-11-27 14:00] DannyDainton commented on #9324
Hey @Zinnurka

Can you fill out the issue template and provide more context, please.

---

**Describe the Issue**

**Steps to Reproduce**

**Screenshots or Videos**

**Environment Information**

 - Platform Type: [e.g. Native Desktop App, Postman On The Web, Web Dashboard]
 - Postman Version:
 - Operating System:

**Additional Context**

[2020-11-27 14:44] savibiju opened #9331 "Unable to connect to POST URL"
Filter
CONF
BUILD
POST
{{URL}}alfresco/versions/1/groups/GROUP_{{GroupId}}/members
0
POST
Error: tunneling socket could not be established, statusCode=407
Proxy
authenticate: false
host: "EBCSWG.bmogc.net"
id: "0da6cd19-ac3c-45c4-b8ee-92e4a024a1b9"
match: {…}
port: 8080
tunnel: false
Request Headers
Authorization: Basic YXBpa2V5OmFwaWtleUAxMjM=
Content-Type: application/json
User-Agent: PostmanRun

[2020-11-27 14:48] savibiju commented on #9331
not reqd

[2020-11-27 14:50] savibiju commented on #9331
Getting the above error while connecting to URL... cannot share the URL though

[2020-11-27 14:50] AradAral commented on #6719
This is strange. I can't believe Postman STILL doesn't have this feature. This has put me off for months and made me use Insomnia instead.

When will this be done approximately?

[2020-11-27 14:54] hobailey commented on #6719
I know it's not the same feature, but as a workaround I've used the other option available and connected to our Github repo and that allows the schema to stay in sync and it works 👌

[2020-11-27 15:13] meenakshi-dhanani commented on #9331
Hey @savibiju,
There have been cases of 407 in the past when there is a failure while authenticating to a proxy server running. In case you need to authenticate to it, you can configure it in your settings under Proxy.
Refer: [3566](https://github.com/postmanlabs/postman-app-support/issues/3566#issuecomment-477780835)

[2020-11-27 17:00] judos commented on #8040
For all "+1" comments: Please just use the reaction smileys on the first comment of the issue. Nobody is ever going to count you +1 comments. Thanks

[2020-11-27 23:17] pedrohma commented on #7984
Any updates on this?

[2020-11-28 05:01] ewhipp commented on #6682
+1

[2020-11-28 11:55] DannyDainton commented on #8258
As there has been no response in 8 months - I'm going to close this issue.

[2020-11-28 11:55] #8258 closed, assigned to abhijitkane

[2020-11-28 17:30] kyawburma opened #9332 "New Integration Request - <product name>"
**Describe your current workflow**
How do you use Postman with the rest of the tools in your stack to achieve your use-case?

**Describe your ideal workflow**
How would you want Postman to integrate with specific products/tools to simplify or enhance your experience?

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've conside

[2020-11-29 12:49] tolgaulas commented on #2369
Native app (7.36.0) on windows 10 and still custom entry on hosts file is not resolved.

[2020-11-29 16:56] vchernogorov commented on #3994
So this scenario still doesn't work: `https://photoslibrary.googleapis.com/v1/albums/:album-id:batchAddMediaItems`. It converts `:album-id:batchAddMediaItems` to the path parameter instead of `:album-id` only. Although `https://photoslibrary.googleapis.com/v1/albums/{{album-id}}:batchAddMediaItems` is working as expected.

[2020-11-29 22:28] Friedrich42 commented on #4009
+1

[2020-11-29 22:29] Friedrich42 commented on #4009
I support this feature

[2020-11-30 07:57] fclante commented on #8769
Hi @abhijitkane We have fairly ordinary setup. We design api's in Postman, and we want to commit the along with our source code in our Bitbucket repositories (Bitbucket Server) . We don't expose our Bitbucket instance on the public internet and would prefer not to allow static ip-access through our firewall (although it's possible). We are about 300+ developers spread over several departments and

[2020-11-30 08:06] godfrzero commented on #9306
Closing this ticket since the issue has been resolved.

[2020-11-30 08:06] #9306 closed, assigned to godfrzero, charlie-postman

[2020-11-30 08:21] itczl22 commented on #4968
Two years passed

[2020-11-30 08:22] he-dev commented on #4167
I've just insatlled the _Postman Agent-win64-0.2.4_ and none of the above suggestions help. I use two monitors. Do you have know other workarounds?

[2020-11-30 09:18] jotsarup commented on #9332
@kyawburma Can you please add more details of the integration that you are looking for.

[2020-11-30 09:36] niklaslundberg commented on #4079
+1

[2020-11-30 12:20] halfluke commented on #8612
I had :BAD_ALERT:../../third_party/boringssl/src/ssl/tls_record.cc:573 in an assessment when proxying postman through burp, and I solved thanks to an expert colleague, by disabling TLSv1.3 on the burp listener itself

[2020-11-30 17:30] Pankov404 commented on #6236
How it will be fixed soon

[2020-11-30 18:08] sfskysf commented on #4167
I have the same exact problem, I just installed Postman Agent-win64-0.2.4-Setup first time ever and it just shows up in the icon tray and in task manager but no gui appear, that's so freaking lame.
I have my laptop connected to a monitor but I tried unplugging the monitor and the same problem occurs.

[2020-11-30 18:48] saswatds commented on #4167
Hi, @he-dev @sfskysf Sorry for all the confusion.
Clarifying for people who might end up on this thread because of this. The  **Postman Agent** and **Postman App** are two different products.
The Postman Agent is a simple companion application to the [Postman Web](https://blog.postman.com/announcing-postman-for-the-web-now-in-open-beta/) experience and does not contain any user experience. It's a

[2020-11-30 19:02] NikhilKGupta commented on #8288
@codenirvana Is this issue fixed yet?

[2020-11-30 20:54] bhspencer commented on #4461
This problem seems to be back in Version 7.34.0 on macOS. I send two parts named "json" and "xyz" and no matter what order I have them in the postman UI the part named "xyz" is sent first.

[2020-12-01 06:28] rajmandaviya commented on #4986
I have same problem, host are same but still in not add client cetificate in code.

[2020-12-01 09:57] spyro2000 commented on #6682
+1

[2020-12-01 10:16] konstantin-stepanov commented on #7286
+1

see also: https://open-rpc.org/

[2020-12-01 12:56] S2606 opened #9333 "Variable Incorrent name-value assignment during setup"
**Describe the Issue**

**Steps to Reproduce**

**Screenshots or Videos**

![image](https://user-images.githubusercontent.com/18497513/100743258-16adcd00-3402-11eb-8f7d-a475c153dad8.png)

![image](https://user-images.githubusercontent.com/18497513/100743292-23322580-3402-11eb-9449-e57dcb4b5bfe.png)

**Environment Information**

 - Platform Type: Native Desktop App
 - Postman Version: 7.33.1 (7.33.

[2020-12-01 16:00] jrubinator commented on #8047
+1

[2020-12-01 17:23] mtt88 commented on #9193
I faced an identical issue whilst using PostmanCanary. I was able to solve the issue by following the advice in [`this comment`](https://github.com/postmanlabs/postman-app-support/issues/4634#issuecomment-574073350).

[2020-12-01 17:51] jyeros commented on #5953
Using OpenAPI if is added to the schema definition text in `info.description`, it is used as a meta description for the documentation link generated. It works for me.

For example, if add
[code]
When generate documentation collection and publish it, the link contain
[code]

[2020-12-01 18:01] aetonsi commented on #8514
Hello sir,
i did some quick testing and the issue doesn't seem to be present anymore.
I'm not doing such heavy testing anymore...
I'd warn you again if it comes back, on my next big refactoring.
---
Have a nice day.

[2020-12-01 20:57] DannyDainton commented on #9213
A new version of the app was recently released that should solve this error for you. I'm going to close this out for now but we can look to open it again if folks are still facing this problem.

[2020-12-01 20:57] #9213 closed, assigned to nobody

[2020-12-01 21:04] DannyDainton commented on #9333
Hey @S2606

That feature enables users to take different pieces of data, in different parts of the app and assign that value to a new variable, rather doing the opposite of that as you mentioned.

It's populating the value field as that's the data point that you would want to be the value of the variable, giving it a name and scope closes out the action.

[2020-12-02 07:51] paulisfluent commented on #990
Is this still an issue?  I have similarly been baffled why setting `Referer` hasn't made it through to my app.

I am using Postman for Windows 7.36.0 -- I think this is the "native app" @madebysid ?  I can see no warning (which would have been enough to highlight the issue):
![image](https://user-images.githubusercontent.com/18393158/100843993-1d285d00-3473-11eb-9b46-2cc8066b0edb.png)

[2020-12-02 10:01] thinkersOne opened #9334 "Something went wrong!"
登录客户端报了这样一个错

Something went wrong!
We're having some difficulties connecting to our authentication service. Try again after some time.

[2020-12-02 10:04] DannyDainton commented on #9334
Hey @thinkersOne

Please could you complete the full issue template and provide more context about the issue you're facing.

---

**Describe the Issue**

**Steps to Reproduce**

**Screenshots or Videos**

**Environment Information**

 - Platform Type: [e.g. Native Desktop App, Postman On The Web, Web Dashboard]
 - Postman Version:
 - Operating System:

**Additional Context**

[2020-12-02 10:12] thinkersOne commented on #9334
<img width="797" alt="1" src="https://user-images.githubusercontent.com/19427384/100859137-d9ad0d80-34c9-11eb-85d5-b1904efedd5c.png">
<img width="471" alt="2" src="https://user-images.githubusercontent.com/19427384/100859150-ddd92b00-34c9-11eb-85e5-a90123e03fb6.png">

[2020-12-02 10:15] thinkersOne commented on #9334
1，Sign in
2,  error：
Something went wrong!
We're having some difficulties connecting to our authentication service. Try again after some time.

postman version 7.3.5
postman client login

[2020-12-02 10:19] thinkersOne commented on #9334
i use windows system，mac ios system is ok

[2020-12-02 10:53] arlemi opened #9335 "Backup on GitLab custom domain only shows last 100 projects"
Reported by a user on Twitter: https://twitter.com/alex_makdessi/status/1334076901346959365

**Describe the Issue**

I'm trying to backup my collections into a gitlab custom domain.
I can't select my project because the dropdown is actually showing only the last 100 projects

**Steps to Reproduce**

1. Create GitLab integration
2. Try to back-up collection
3. Can't access more than the last 100 pr

[2020-12-02 10:59] #9332 closed, assigned to abhijitkane

[2020-12-02 11:36] p6345uk opened #9336 "Add support to add file paths as environment Variables"
Is it possible that you can add the option to specify the file path in Environment Variables as well as directly.

![image](https://user-images.githubusercontent.com/4558013/100866633-dfd2c800-3490-11eb-8609-8102edbee68b.png)

I have a number of test files these are environment specific and it would be hugely beneficial;

Alternatively is it possible for add an option to generate a dummy file e.g.

[2020-12-02 12:42] #9308 closed, assigned to abhijitkane

[2020-12-02 13:28] Veridis commented on #9335
If this can help, postman is calling gitlab's API on this endpoint:

[code]

I'm not sure increasing the `per_page` parameter is a good solution, but we could have the possibility to at least use the `project id` if the project is not in the list ?

[2020-12-02 13:47] brandon1024 commented on #8612
This has impacted me as well. I couldn't for the life of me get postman to establish a connection with our service, but I am able to get it working with other tools (curl, Soap UI).

I have also found the documentation around configuring certificates really vague.

[2020-12-02 13:59] ARM-Source commented on #493
+1

[2020-12-02 14:09] ewan-chalmers opened #9337 "Encrypted (file) storage of environments"
**Is your feature request related to a problem? Please describe.**
I would like to be able to store and version my postman collections and environments in git etc (not using Postman Cloud). I do not want to publish plaintext environment files anywhere.

**Describe the solution you'd like**
I would like if Postman could offer option to encrypt the storage of an environment file, requiring a key to

[2020-12-02 14:26] Paridhi-Mohindra commented on #5222
+1

[2020-12-02 15:31] ahmad-elkomey commented on #4814
I'm using v7.36.0 on Ubuntu 18.04.2 LTS. Same issue. Postman is working with no icon at all.
![Screenshot from 2020-12-02 17-30-28](https://user-images.githubusercontent.com/7439727/100893577-2ee62080-34c4-11eb-8db1-509ba385c63e.png)

[2020-12-02 16:49] pawanakhil commented on #5040
+1

[2020-12-02 21:37] Haythamamin commented on #4009
Need this feature! Thanks for the great work.

[2020-12-02 21:44] nikhjoy opened #9338 "Cannot open Postman"
![error postman](https://user-images.githubusercontent.com/38971649/100934715-98881e00-3508-11eb-8c00-032e209108e5.JPG)

I cannot open Postman in my system. Above attached is the screenshot when I try to  open Postman App in the system. Cleared files in local and roaming, installed a new version and still no change. For the past 2 days I am having this issue. Its still not getting opened.

Kindly

[2020-12-03 07:40] evercyan commented on #5194
It's so sad....

[2020-12-03 10:03] yyukhnovetsky opened #9339 "Feature request - Save/Load Session"
Hi,
I wonder is it possible to implement some features, relates to Session management.
I mean:
1. Let's define a "Session" as a set of opened tabs, including all the entered info: headers and body
2. I'd like to have the following

- Save a Session as a file
- Load a Session from a file
- Export/Import (or Share) a Session
- Synchronize the Session between my Postman instances running on different

[2020-12-03 10:23] eyalgrossdev commented on #7301
Really need this as well.

[2020-12-03 10:24] eyalgrossdev commented on #3117
Any update on this?

[2020-12-03 10:38] eyalgrossdev commented on #7301
For those struggling with this, I found a workaround. If you create an example for your request you can deselect the query params in the example and select them in the request. This will display the params in the description of the request in the documentation but not in the example request.

This however should still be fixed in the cases where and example is not used.

[2020-12-03 10:44] elias-putz-kiwigrid commented on #3493
How is this still a thing?

[2020-12-03 10:52] arlemi commented on #3493
@elias-putz-kiwigrid and everyone in this thread, it won't be a thing pretty soon! We're moving environments to their own tab. This experience is already available on [Postman for the Web](https://go.postman.co/build) (and you can see a live demo of it here: https://youtu.be/1n6g4fbaIxA?t=892) and will make into the app in the coming months. 🙂

[2020-12-03 11:20] webholik commented on #8899
Hey @mkeller-ergon Could you retry this in version 7.36 of Postman App? It is the latest version as of now and I am not able to reproduce this issue there.

[2020-12-03 15:42] tparikka commented on #6269
I was also surprised to learn that Environments weren't a part of the effort to make data recoverable.

[2020-12-03 23:38] loganknecht commented on #1744
+1

@arlemi That's fantastic to hear! I would love to keep track of this as it's a feature that my organization greatly needs for easier team collaboration!

🙏

[2020-12-03 23:46] alex-bolenok-centralreach commented on #7606
@mccannt any news on this? Thanks!

[2020-12-03 23:50] zaboslav commented on #8231
It is not nice but I did some workaround:
In file: resources/app/js/RequesterModalContainer.js, class OAuth2TokenDetails, in render I added this :
[code]
It works.

[2020-12-04 06:41] sakuyaiwahashiamicablink commented on #8455
Wow. Postman couldn't POST? wow

[2020-12-04 08:11] antonio-petricca commented on #5273
I have the same issue for this scenario:

- Linux Mint 19.3 (Ubuntu 18.04)
- Latest postman installed by SNAP

I tried all the above workarounds but Postman does not fire up after authorizing it by the browser.

[2020-12-04 08:59] jency26 commented on #8929
Is this in-progress of development?

[2020-12-04 12:19] nhhockeyplayer commented on #4331
awesome thanks friend

[2020-12-04 15:18] nerdfiles commented on #9338
same, i run the desktop app on macOS big sur and it simply does not open. i've added it for full disk access, etc.

[2020-12-04 19:03] NewUserHa opened #9340 "Postman Interceptor can't capture *.js and etc."
**Describe the Issue**

Postman Interceptor can capture things in chrome `doc` and `xhr` tab. And can't capture things in `pic` and `js` tab.
the proxy has no issue. but the interceptor can work well with https than proxy.

**Steps to Reproduce**

1. make postman native and interceptor connected
2. access http://httbin.org
3. can see only the `get http://httpbin.org/` is captured.

**Screenshots o

[2020-12-04 20:29] carrrson opened #9341 "Adding dimensions for header images in profile pages"
**Is your feature request related to a problem? Please describe.**
Not so much a problem, but it would be super helpful to have the dimensions/aspect ratio available on the team and personal settings page in the web interface.

![header](https://user-images.githubusercontent.com/20145532/101210876-3af8ec00-3644-11eb-9c96-073c97ad075f.png)

**Describe the solution you'd like**
The picture upload po

[2020-12-04 21:13] rmnrdi opened #9342 "Support for subversion source control"
As a user, I'd like the ability to integrate Postman with Subversion (SVN) source control.

SVN is probably one of the top 5 source control programs and we use it company wide, so it'd be great if you supported it.

[2020-12-04 22:33] annaVR commented on #1066
+1
Please add this feature.

[2020-12-05 01:02] ahdung opened #9343 "Save Responses not work"
I need capture response, HOW?
![微信截图_20201205085816](https://user-images.githubusercontent.com/12094247/101228867-76dd9100-36d8-11eb-8437-104ae250cdcc.png)

[2020-12-05 06:57] ianido commented on #2934
This feature should not be hard to add to the token request, it has been 3 years been requested. Why?

[2020-12-05 15:20] feline87 commented on #4671
![image](https://user-images.githubusercontent.com/3338538/101246788-156af180-36db-11eb-8d40-191a0bb679ec.png)
Am I supposed to manually save each one of these tabs?

[2020-12-05 16:44] AcademWebSolutionsDeveloper commented on #8455
Had the same issue, because I had errors in my json body. It was extra coma in body
![2020-12-05_18-41](https://user-images.githubusercontent.com/75538225/101258248-edef4580-3729-11eb-82a1-2ec9fd89dcff.png)

[2020-12-05 17:28] msanguineti commented on #8411
This issue has been fixed now, I believe. v7.36.0 works flawlessly. Thanks for all your efforts.

[2020-12-05 17:28] #8411 closed, assigned to vikiCoder

[2020-12-05 18:25] fuzemobi commented on #6681
Hi, I don't see any direct answers to this issue.  Is there currently a solution for protecting documentation behind a user/password or private workspaces?  I believe this is as simple as providing the equivalent of an .htaccess file that we can edit for access controls.

What is recommended by postman for secure access to non-public apis?  The partners we are working with simply need a shared API

[2020-12-05 21:23] tsarkoff commented on #6354
If you have access to certificates management on your Web hosting, then instead of just root.crt - you shall assign the root-CA.crt (file) certificate, that consists of two certificates in single file = 1st intermediate cert string + 2nd root string. The 2nd cert must go after 1st one in the file starting new line w/o spaces.
I had the same POSTMAN problem and after re-assigning a correct intermed

[2020-12-06 13:03] Max-Hollywood commented on #8455
Postman doesn't send anything via POST to a Node.JS Express localhost:

Node.JS:
[code]

POST `localhost:3000/getmessage`
Body: raw:
[code]

It does receive the request itself, but it has no body/data/message.

[2020-12-06 16:18] amroczeK opened #9344 "OpenAPI/Swagger schemas with >2 example objects fail to import into Postman properly"
I have been banging my head against the table trying to figure out why schemas with an array of objects that have multiple object examples in swagger aren't importing properly into POSTMAN when you have more than 2 examples.

Everything looks fine in https://editor.swagger.io/ and in the served swagger file on website application, but the same result isn't shown in POSTMAN.

Also raised with swagg

[2020-12-06 18:47] VaseemDeveloper commented on #8747
Is there any update? If this issue is resolved for someone?
I have set the environment variable and restarted the Postman - Version 7.36.0 (7.36.0)
But this approach is not working.
printenv
NODE_OPTIONS=--http-parser=legacy

[2020-12-07 04:51] pranithk commented on #9281
Works with 7.36.0

[2020-12-07 04:51] #9281 closed, assigned to nobody

[2020-12-07 05:02] shashankawasthi88 commented on #9342
@rmnrdi can you give more details about the workflows that you are trying to achieve while connecting with SVN. Also, is the SVN accessible through the internet?

[2020-12-07 06:16] Diboiza opened #9345 "Constant Blank Screen Issue"
Keep getting the below blank screen everytime when you the App:
Version: v7.36.0
![image](https://user-images.githubusercontent.com/28605220/101316035-64905e00-3864-11eb-81f6-26acefb3cda7.png)

[2020-12-07 06:33] numaanashraf opened #9346 "Apple Silicon build of Postman for macOS"
Add support for `darwin-arm64` architecture that support Apple Silicon and M1 powered Macs.

[2020-12-07 08:17] numaanashraf commented on #9346
Postman for macOS (v7.36.0, as of this post) supports M1 powered macOS via Rosetta2 translation. True Apple Silicon build of Postman for macOS is expected in early 2021.

[2020-12-07 09:11] uniquemag commented on #8747
is there solution for this issue?  Also encounter this on postman version 7.36.0
function was working 2 days ago, but no clue to see what's the problem now.

[2020-12-07 09:40] rmnrdi commented on #9342
@shashankawasthi88
Basically, we'd like Postman to integrate with SVN to version our API definition.
![image](https://user-images.githubusercontent.com/23411447/101334748-474c9700-3846-11eb-9824-0dc8d728cc95.png)

[2020-12-07 10:16] umeshp7 commented on #8725
@mjhcorporate Hey! Looks like this has been fixed in the recent version of app 7.36. Closing this for now feel free to reopen this if the issue persists.

[2020-12-07 10:16] #8725 closed, assigned to umeshp7

[2020-12-07 10:19] #8899 closed, assigned to mccannt, umeshp7

[2020-12-07 11:59] mj-h commented on #8725
@umeshp7 : I can confirm that the issue is fixed in 7.36. Thank you!

[2020-12-07 12:05] jotsarup commented on #8844
We are working on it and will push it out as soon as possible.

[2020-12-07 12:05] umeshp7 commented on #8725
@mj-h Great! Thank you for the confirmation!

[2020-12-07 12:07] one-github commented on #285
Are the guys at Postman serious? I need input for Two Factor Auth tokens. This becomes stale after 30 seconds.

Come on!

[2020-12-07 12:31] vikiCoder commented on #9333
Maybe we can detect whether the selected text starts with `{{` and ends with `}}` and set it as the variable name if it is wrapped inside `{{}}`, otherwise set it as value.

Marking it as a feature request for now.

[2020-12-07 12:36] vikiCoder commented on #9336
Closing this as a duplicate of https://github.com/postmanlabs/postman-app-support/issues/5147

[2020-12-07 12:36] #9336 closed, assigned to nobody

[2020-12-07 12:59] Sasi-21 commented on #8747
Hi All, setting environment variable approach working fine for me.
Just add following in the environment variables,

NODE_OPTIONS = --http-parser=legacy

[2020-12-07 13:14] meenakshi-dhanani commented on #9331
Hey @savibiju,
Are you still facing the error?

[2020-12-07 17:30] minsk-kot commented on #6682
+1 please

[2020-12-07 17:31] pavel-luhin commented on #6682
+1 please

[2020-12-07 17:39] Granfalloner commented on #4808
Any updates on this feature?

[2020-12-07 18:43] VShingala commented on #9344
@amroczeK Thanks for reporting the issue, We have identified the issue and will be working on fixing it. We will keep this thread updated with all developments.

[2020-12-07 18:54] codenirvana commented on #9319
@countzero We never intended to expose the `globalThis` global in the postman script execution sandbox.
It was available for some time because of a bug which we fixed because of security reasons.

[2020-12-07 19:18] codenirvana commented on #9230
@VicKetchup Sorry for the delayed response.

So the issue is, globals set in asynchronous scripts are not presented across pre-request/test scripts.
e.g, the following script in the collection's pre-request will not expose the global variable `x` in the request's test script.
[code]

A workaround for this is to initialize the globals synchronously and update asynchronously, like:
[code]

As I ment

[2020-12-07 19:41] vaxxis commented on #2773
We are considering a postman subscription for the entire company and after initial evaluations between postman and insomnia the most "hated" behaviour in postman was "the tabs Problem".

Is there any plan to fix these UX issues or maybe a config to disable tabs entirely?

The main problem is that each time you press a request in the sidebar postman will open a new tab. Maybe a "preview" feature li

[2020-12-07 22:49] ronenmagid commented on #4581
This error still occurs, making Postman unusable for software development.

- I'm on Mac
- Postman desktop version: `7.35.0 (7.35.0)`
- my server is running under `https`, and I make sure I call it under `https`.
- I'm using environment parmaters for server url. (e.g. `{{base_url}}/v1/login` All secure cookies communicated with the /login response, however, the cookie manager doesn't get them and

[2020-12-08 00:13] amroczeK commented on #9344
No worries, keep up the great work!

[2020-12-08 01:38] hanayashiki commented on #4009
its almost 2021

[2020-12-08 01:40] mchenx commented on #8739
doesn't look like ...

I have upgraded postman to 7.36 on my mbp and have one folder that contains 47 requests
![image](https://user-images.githubusercontent.com/1550186/101426457-fae18400-3937-11eb-8d2d-6d169974a8f0.png)

I clicked sync, after that, I checked online workspace, there were only 39 (on website, there is no total count displayed so I counted by myself)
![image](https://user-images.gi

[2020-12-08 03:42] jleahy2 opened #9347 "Broken Undo Functionality (7.36.0)"
------
Description
------
I often use Collections to save/work on APIs.  I use the Body tab under POST with JSON key/value pairs.  I will often remove parts of a key to check the API works, then send the request, check the output, and then push command+z (or undo) to bring the collection back to where it was before I modified it so I can try other combinations.

This used to work perfectly prior t

[2020-12-08 07:46] nick-luan commented on #9274
遇到一样的问题，请问如何解决的

[2020-12-08 09:49] PureKrome opened #9348 "Global Variable 'Current Value' should be using the 'Initial Value' when it's 'Current Value' is empty"
### Issue

When creating a new global variable:
- `Initial Value` is set
- `Current Value` is left empty/not set

then when I try and use this variable, the *empty* value of `Current Value` is used, instead of the `Initial Value` (which I assume would be copied to the `Current Value` as described in the tooltip/docs.

![image](https://user-images.githubusercontent.com/899878/101467109-0499d480-399

[2020-12-08 11:31] arlemi commented on #2773
Hi @vaxxis, the behaviour you're describing should be the current behaviour of the app. See the GIF below, I can single-click requests as much as I want and they'll open in a single tab, if I double-click or edit a request it will open a new tab.

![newtabs](https://user-images.githubusercontent.com/5029719/101478437-9b3fa480-3948-11eb-8604-63c7dff3e8f8.gif)

Please let me know if you're seeing so

[2020-12-08 11:32] arlemi commented on #4808
@Granfalloner Not at the moment, we'll update this issue when there is something new.

[2020-12-08 11:38] hloveranes opened #9349 "Postman Pin Tab"
**Long tab bar length**
I'm having difficulty, rather i want to see all my works within, and i notice this problem when i have too many api tabs and i don't want to close them.

**Make a pin tab feature**
So my idea was to make a similar feature to the browser that acts as pin tab
-> you can make it small and put the method name(label) to represents each tab since it has a tool tip, we can just ho

[2020-12-08 12:14] tuslok opened #9350 "New Integration Request - <api-tests>"
**Describe your current workflow**
How do you use Postman with the rest of the tools in your stack to achieve your use-case?

**Describe your ideal workflow**
How would you want Postman to integrate with specific products/tools to simplify or enhance your experience?

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've conside

[2020-12-08 12:14] #9350 closed, assigned to abhijitkane

[2020-12-08 12:14] tuslok commented on #9350
Mistake

[2020-12-08 13:02] vaxxis commented on #2773
Hi @arlemi,
i'm really happy that the described behaviour was already implemented and i just missed the "Always open requests in new tab" setting :)

Thank you very much!

[2020-12-08 14:18] mccannt commented on #8455
Based on the comments I am seeing here, the issues are local to the users that are experiencing these issues and not an issue with the Postman application.

Closing this for the time being. If there is a verified issue with the app regarding this, please reopen with an example of the app malfuctioning.

[2020-12-08 14:18] #8455 closed, assigned to mccannt, SabriH10

[2020-12-08 14:24] zaryab444 commented on #4168
xggxfgxfgxfgxf

[2020-12-08 14:49] alexxozo commented on #5222
+1

[2020-12-08 15:19] rmnrdi opened #9351 "Default tab setting"
As a user, it would be nice to have a "default" tab setting so that when you switch between endpoints, you don't have to navigate to the tab you need.

For example,
**Use case:** I'm going through endpoints and making changes to the tests. I currently have to select the endpoint, then navigate to the test tab for every endpoint because the default tab that loads is "Params".

**Describe the soluti

[2020-12-08 17:13] clarkritchie opened #9352 "Github backups at the workspace level, not just collection level"
The existing GitHub integration, which allows one to backup a single collection to GitHub, is very useful.  However, it is limited to one collection at a time, and enabling backups for many collections is labor intensive.

It would be a lot more useful to either:
- Allow one to backup an entire Workspaces -- i.e. have this integration automatically backup all collections within a Workspace (in our

[2020-12-08 17:48] abbas-mohamad commented on #2906
+1

[2020-12-08 17:48] lusoalex commented on #2906
+1

[2020-12-08 18:23] scriptwriter76 commented on #7318
Has this issue been resolved? I have the latest version of Postman, but I can still not update my content-type from application/xml to text/xml

[2020-12-08 18:24] thn929 commented on #452
Is this `</>` icon still working in Postman 7.35.0? I see the icon there, but it doesn't seem to do anything for me.
![image](https://user-images.githubusercontent.com/2157687/101525026-5b7cbb00-3950-11eb-96bd-cb2c7205877c.png)

[2020-12-08 20:02] chrisdeso opened #9353 "[Feature Request] Add a "Share Link" action for Public Workspaces"
**Is your feature request related to a problem? Please describe.**
It's not always clear that the best (only?) way to share a public workspace URL is to grab the address that's in the browser's URL bar.

**Describe the solution you'd like**
It would be great to see a "Share Public Workspace" action in the Sharing section of a public workspace

**Additional context**
![image](https://user-images.gi

[2020-12-08 22:53] hungtdao commented on #8122
Anyone know has this issue been resolved?

[2020-12-08 23:22] SabriH10 opened #9354 "Ability to disable cookies in requests by default"
At the moment, we enable [programmatic access to cookies](https://learning.postman.com/docs/sending-requests/cookies/#delete-all-the-cookies). We can also [disable runs with stored cookies in the collection runner](https://learning.postman.com/docs/running-collections/intro-to-collection-runs/#starting-a-collection-run). However, it would be nice if we could choose to disable the use of cookies in

[2020-12-08 23:25] cen1 opened #9355 "Possible race? condition when setting global variables in pre-request script"
**Describe the Issue**

When setting globals in pre-request script, when executing requests **fast** one after another, globals are not updated.

**Steps to Reproduce**

Pre-request script example:
[code]

Case 1 - execute request repeatedly, slowly (like at least a second between requests). Result: console prints counter increasing by 1. e.g. undefined, 20001, 20002...

Case 2: execute request ra

[2020-12-09 01:12] tomhundt commented on #4898
### Workaround -- Export/Edit/Import
As a (mediocre) workaround, I've been doing this:
1. Create (**add**) a new environment, and set a bogus variable, for use as a template.
2. On the "MANAGE ENVIRONMENTS" screen (sliders icon, next to env name), download (**export**) the new environment.
3. **Edit** it in your favorite text editor.  It's JSON, so you can move the fields onto one line, to make it

[2020-12-09 03:21] codenirvana commented on #9354
There's a request level setting for that.
<img width="935" alt="Screenshot 2020-12-09 at 8 50 51 AM" src="https://user-images.githubusercontent.com/4865836/101570081-aef81300-39fb-11eb-88eb-dac986e5d59b.png">

[2020-12-09 03:26] Pricilla09 opened #9356 "Dynamic Variables suggestion list not displayed for RAW (XML, HTML, Text) format."
**Description**

Dynamic variables suggestion list is not provided when trying to pass the body as RAW (XML, HTML, Text), where as its listed for JSON and JS formats.

**Steps to Reproduce**

1. Launch latest postman version.
2. Create a POST request with endpoint (https://www.dataaccess.com/webservicesserver/NumberConversion.wso)
3. Select the Body as RAW XML and paste the below content:
[code]
4

[2020-12-09 04:05] benknight commented on #8560
This is a classic design mistake when implementing dark mode. Major OS's provide three basic options: light, dark, and auto. Apps should respect this user setting which is a basic accessibility feature. It's a high-priority low-effort fix.

[2020-12-09 04:13] yellowstone-bbc commented on #1066
+1

_Waiting for the feature to be in POSTMAN soon._

[2020-12-09 04:51] kyunussov commented on #6333
You can view the response body in full screen by
- first, open the Console in a new window (
![image](https://user-images.githubusercontent.com/4325422/101586534-23a56000-39b0-11eb-9426-7001c39ba366.png)
- then, expand the request/response info, and click the same icon for the "response body"
![image](https://user-images.githubusercontent.com/4325422/101586612-4899d300-39b0-11eb-92ee-eb3a3a72427e.

[2020-12-09 04:53] netokey commented on #4009
+1

[2020-12-09 05:21] shashankawasthi88 commented on #9352
@clarkritchie we will work on this request, however, we want to understand your end to end workflow. What workflows do you actually achieve after backing up the collections?

[2020-12-09 09:11] lvl99 commented on #4808
@arlemi is there anywhere where we can vote up this feature so it can have higher priority?

[2020-12-09 10:01] chughmayank commented on #9037
hi @byrdman , @grimsa

The issue has been fixed in Postman Native app version 7.36.0. Thanks for waiting for the fix 👍🏼

Cheers!

[2020-12-09 10:01] #9037 closed, assigned to chughmayank

[2020-12-09 11:24] arlemi commented on #4808
@lvl99  You can upvote by adding a 👍 on the first comment in this issue.

[2020-12-09 12:21] iamkarlson commented on #1228
Whoever switch it on by default for all the users made a huge mistake. This is super annoying and cause a lot of troubles already.

[2020-12-09 12:32] iamkarlson opened #9357 "Disable cookies set by default"
I don't know who was that genius who made this annoying function available to all users at once but it terribly bad. I mean that and only thing was giving me so many hard times. It would be super nice if you can make a feature toggle "add cookie jar" in the options which will set or remove this setting for ALL the requests at once. I'm using Postman for 5  years in a row and that particular thing

[2020-12-09 13:03] countzero commented on #9319
@codenirvana Thanks for getting back at me. What are you suggesting as a workaround for the following common use case:

To give you an example on what we currently have to copy and paste across multiple requests:

[code]
I would love to keep that stuff centralized in the collection context and only use it in the test itself:

[code]

I would like to see a replacement for `globalThis` in the form o

[2020-12-09 13:12] iamkarlson commented on #9357
Okay, I shared my pain to a few friends and they recommended me to use Insomnia. So probably it's a way to go. especially when Postman doesn't have unique features.

[2020-12-09 13:25] SabriH10 commented on #9354
@codenirvana Yup! The user was already aware of that, but they want to be able to disable it by default as opposed to the request level setting.

[2020-12-09 13:33] kolonuk opened #9358 "Beautify in XML add blank line at start"
**Describe the Issue**

When using the "Beautify" option for an XML body where line 1 is blank creates an additional blank line.

Rinse and repeat to have more blank lines.

**Steps to Reproduce**

New request, enter sample XML, click "Beautify".

[code]

**Screenshots or Videos**

n/a

**Environment Information**

 - Platform Type: Native Desktop App
 - Postman Version: v7.36.0
 - Operating Syste

[2020-12-09 13:35] kolonuk commented on #9358
I'd see this as a very low priority issue - XML interpreters should not care about white space outside of elements.

[2020-12-09 13:36] mccannt commented on #9357
@iamkarlson While we understand your frustration with this current implemented functionality, please be respectful to our teams and users.

This is currently a Feature Request https://github.com/postmanlabs/postman-app-support/issues/9354
Please go add a like or supportive comment to that as it will help us gauge the impact on our overall userbase and set priority appropriately.

[2020-12-09 13:36] #9357 closed, assigned to nobody

[2020-12-09 13:36] DannyDainton commented on #9134
Closing this due to inactivity - Can reopen if you're still facing issues here.

[2020-12-09 13:36] #9134 closed, assigned to nobody

[2020-12-09 13:49] DannyDainton commented on #9356
Hey @Pricilla09

Would you be able to check if the Dynamic Variables show when you don't use the `$` symbol first? So just start typing `{{ran` etc.

![image](https://user-images.githubusercontent.com/17089546/101637596-dfa07280-3a24-11eb-8d91-609e517eb5e5.png)

[2020-12-09 14:11] vladcll commented on #5502
Another use case is: a team with multiple members has access to a request, one day someone misuses the request. How do you get to know who did it? If it could get it in a variable then we can send it along with the request as a header or as a parameter. Idealy though it would be to be forcefully send by the app itself based on some configuration accessible to collection / request owner.

[2020-12-09 15:11] bjkerim opened #9359 "Edge-Grid PHP cURL Request doesn't work in my code"
I am trying to make an GET-Request to my akamai server. With Postman, evertyhing works. But when I copy the code from the code generator and paste it into my php code, I can't Authenticate anymore.

**Postman gives me following code:**
`<?php

$curl = curl_init();

curl_setopt_array($curl, array(
CURLOPT_URL => 'https://akab************************',
CURLOPT_RETURNTRANSFER => true,
CURLOPT_ENCODIN

[2020-12-09 15:29] clarkritchie commented on #9352
We have had a few instances of where collections/monitors break, and requires us to roll back to a previous version.  For example, recently the environment used by one of our production monitors fully disappeared.  Nobody claims to know how or why, perhaps it was deleted by mistake, I have no idea.  So we had to roll back to a previous version.

I had previously setup Github backups but a) the num

[2020-12-09 17:05] jhendry-whispir opened #9360 "Dot Dereferencing Environment Variables"
**Is your feature request related to a problem? Please describe.**
Like many developers, I've built a suite of requests in postman to exercise my API. Our API returns both XML and JSON to suit the client content type needs.

Digesting the returned data in test scripts can be useful in building test sequences that rely on returned values, but difficult because the values are embedded in returned st

[2020-12-09 17:06] sudhiryadav commented on #1066
This feature request is more than 5 years. Add me in the queue.

[2020-12-09 18:09] frcake commented on #4823
This would be a great addition! we have the same needs as well as a single large documentation clutters the environmental variables by a lot ending up in a very difficult to use API...

[2020-12-09 19:07] pbarnum commented on #1535
@kinlane Is there a branch that exists with the latest work? I'm wondering if I can help write code or test current solutions.

[2020-12-09 22:42] TheBoneJarmer opened #9361 "Couldn't upload file in Postman Web"
**Describe the Issue**

When I try to select a file for a POST multipart/form-data request I get an error notification in the bottom-right corner of my screen: _Couldn't upload file. Make sure that Postman can read files inside the working directory._ I run the postman agent on my Linux Mint 20.04 using the terminal. I extracted the tar somewhere on my filesystem and soft-linked the binary _Postma

[2020-12-09 23:41] Pricilla09 commented on #9356
@DannyDainton Thanks a lot Danny, its working now. Silly me!! But is this the expected? Also here the closing braces to be provided manually.

![image](https://user-images.githubusercontent.com/71498483/101701896-cc3fe680-3aba-11eb-8510-92dd08260ff8.png)

![image](https://user-images.githubusercontent.com/71498483/101702028-07dab080-3abb-11eb-9b4e-71ef0d5d0816.png)

[2020-12-10 00:17] chrisdeso opened #9362 "Desktop Agent | Prompts with download URL when not installed"
**Is your feature request related to a problem? Please describe.**
When using Postman on the web without the [Desktop Agent](https://blog.postman.com/introducing-the-postman-agent-send-api-requests-from-your-browser-without-limits/) installed, it isn't always clear where to go to get it installed.

**Describe the solution you'd like**
It would be great to have the `Agent Unavailable` tool tip incl

[2020-12-10 03:19] imgin opened #9363 "404 return should have some color alert"
This is not a problem and just a suggestion.
While having response with status code 404 from a request, the color is same as the response with status 200.
I think it's better to have a warning signal for 404 thus people can see the difference more obviously.

![image](https://user-images.githubusercontent.com/30381573/101717016-7890c580-3ad9-11eb-96b4-36f0bd4d163f.png)

![image](https://user-image

[2020-12-10 05:37] Raj-postman commented on #9338
Hi @nikhjoy @nerdfiles - Sorry to hear that. Would you please try renaming (or clearing) the local files for your Postman installation and see if that helps? You can find full instructions for doing so in the below article.

[2020-12-10 05:41] Raj-postman commented on #9293
@Alexmtsl - I believe this was due to the collection being shared in both Personal & Team workspace. Would you navigate to this link below and see if you are able to locate the collection you are looking for?

[2020-12-10 05:43] Raj-postman commented on #9196
@ketanvekaria Just checking to see if you are now able to download the application from the page.

[2020-12-10 05:50] Raj-postman commented on #9345
Hi @Diboiza

Looks like [this suggestion](https://github.com/postmanlabs/postman-app-support/issues/9072#issuecomment-694790050) worked for users facing similar issue: #9072 (comment)

Could you follow the same and let us know if that helps?

[2020-12-10 07:52] DannyDainton commented on #9356
I don't believe this is the expected behaviour and should be handled the same way we do for the JSON payloads.

I've raised this with the team and we'll update this thread once we have more information.

Thanks for flagging this up 🏆

[2020-12-10 07:55] Pricilla09 commented on #9356
Great to know Danny! Thank you :-)

[2020-12-10 08:24] praveendvd commented on #9361
could you goto settings>General scroll down and  enable : allow reading file outside working directoy

[2020-12-10 09:19] TheBoneJarmer commented on #9361
Hi @praveendvd

Thanks for the suggestion. Sadly I already tried that with no success. Figured it'd probably be something as small like that but alas..

[2020-12-10 09:32] labifrancis opened #9364 "Function for team admins to generate list of team members in a CSV file."
Team admins will want to generate the list of their team members in a CSV file for audit purposes.

**Is your feature request related to a problem? Please describe.**
Currently, it's a bit difficult to scroll through and audit all the team members, especially for large teams.

**Describe the solution you'd like**
A button that admins can click in their team to generate the list of their team membe

[2020-12-10 09:44] priwiljay opened #9365 "Ability to quickly copy or edit the initial and current value of the collection variable directly from the hover popup"
Whenever I want to copy or edit the collection variable. I need to open the more action window in the collection list panel as shown in the image below
![Screenshot 2020-12-10 at 2 58 28 PM](https://user-images.githubusercontent.com/59444584/101753213-5fe3d800-3af8-11eb-9119-ab65b603caed.png)

Then I can edit or copy the value from the variables tab.
![Screenshot 2020-12-10 at 3 01 13 PM](https://

[2020-12-10 12:26] tyomo4ka commented on #3563
There is 1.8k issues in this repo.
I guess someone from the team needs to do a bit of grooming :)

I will just make a desperate attempt to bump up this one again.

[2020-12-10 12:30] tyomo4ka commented on #3475
@madebysid I'm not sure if we need to reopen this or create a new issue. Actually, we are having an issue with the way how the share collection functionality works.

When I generate a URL using share collection feature  this URL works only for me. If another person is changing the collection his/her changes are not picked up under this URL.

This is super annoying as it doesn't really allow us to

[2020-12-10 12:33] codenirvana commented on #9319
@countzero You can still set custom globals for this use case.

Assign global variable in collection pre-request script.
[code]

And access `util.isString` or  `expectMetadataType` in other scripts.

[2020-12-10 12:58] tusharsadhwani commented on #4009
bump

[2020-12-10 13:44] mccannt commented on #7606
Apologies for the late response @alex-bolenok-centralreach
This is actively being worked on, so I anticipate we should be able to release this fix shortly.
Appreciate your patience while we fix this up.

[2020-12-10 13:57] brunomoreira86 commented on #7790
I am using Postman Version 7.36.0 (7.36.0) and I similar issue but in my case, they disappear randomly after running calling requests several times.

[2020-12-10 16:20] countzero commented on #9319
@codenirvana  Thank you! That is exactly what I was looking for. I tried that, but prefixed my function with a `const`, which did not work! I took a second to reflect on why I failed:

1. That functionality is nowhere documented. Or at least I did not find it. I read completely through https://learning.postman.com/docs/writing-scripts and read every document that was listed for the search word "gl

[2020-12-10 21:03] tboily commented on #6682
+1

[2020-12-10 21:55] cptbirdman commented on #8612
I had this same problem and then I realized I had to the wrong port. Had one port for HTTP and one for HTTPS and no proxy and I was hitting the HTTP port with an HTTPS request. Obvious mistake, not the first time I've made it.

[2020-12-11 05:16] kamalhm commented on #8195
make this feature in a pro version and I'll pay for it

[2020-12-11 06:09] actongorton commented on #8747
This issue came up. Turned out that the incoming response header from the api endpoint contained conflicting HTTP version declarations: `HTTP/1.1 200 OK` and `HTTP/1.0 200`. In my case, a custom response was being written into the initial response payload, and then a second version declaration was being written into the payload by the proxy. Removing the initial declaration and allowing the proxy

[2020-12-11 06:17] abhijitkane commented on #9341
Also, the aspect ratio shown while cropping (333x166) isn't the same as in the final render (810x80).

[2020-12-11 06:33] chenxu2011 opened #9366 "Software installation error"
![image](https://user-images.githubusercontent.com/23093140/101871012-bc5cfb00-3bbd-11eb-9210-6cffd5f649ae.png)

2020-12-11 14:32:26> Unhandled exception: System.IO.FileNotFoundException: 未能加载文件或程序集“PresentationCore, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35”或它的某一个依赖项。系统找不到指定的文件。
文件名:“PresentationCore, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35”
   在

[2020-12-11 08:24] BrianLDev commented on #9361
I'm running into the same issue.  Can't upload any files even though I checked the "allow reading files outside working directory" option.

[2020-12-11 10:48] mairo744 commented on #2906
+1

[2020-12-11 11:46] appurva21 commented on #9351
Duplicate of [#2086](https://github.com/postmanlabs/postman-app-support/issues/2086)

[2020-12-11 11:46] #9351 closed, assigned to nobody

[2020-12-11 12:12] DannyDainton commented on #9347
Hey @jleahy2

Thanks for reporting this - I was able to reproduce the issue in the latest version and see the expected behaviour in an earlier version. I don't believe that it's limited to just the POST request body as it seems to be the behaviour for all of the key/value fields in the app.

I'm going to raise this issue with the team and we'll update here when we have more information.

[2020-12-11 12:49] DannyDainton commented on #9365
Hey @priwiljay

Have you tried the new web version of the app - Collection elements are shown in a tab and which the breadcrumbs on the request itself, you can easily open the Collection Variables without going via the action menu.

![Collection_Variables](https://user-images.githubusercontent.com/17089546/101905350-3c2f9900-3baf-11eb-99bf-d29ef2f20ce8.gif)

You can take a look at the new web vers

[2020-12-11 14:26] priwiljay commented on #9365
No @DannyDainton I haven't tried that. I will try it

[2020-12-11 15:48] claudiavasquezipsum commented on #171
Hola Alguno me puede decir como funciona lo de las rutas relativas no he podido hacer funcionar en mi postman... gracias

[2020-12-11 18:15] rajshakerp commented on #4222
My Environment was corrupted and Fixed this issue by duplicating an existing environment other than the corrupted environment ! Corrupted environment is not recoverable ! and change the variables !

[2020-12-11 20:25] Raja-Simha commented on #5133
This is fixed now.

[2020-12-11 20:25] #5133 closed, assigned to Raja-Simha

[2020-12-12 03:42] cheneyweb commented on #3117
+1

[2020-12-12 03:43] cheneyweb commented on #3358
+1

[2020-12-12 05:47] apoorvpandey02 commented on #9097
I was stuck with the same thing... thanks for pointing out!

[2020-12-12 13:10] introkun commented on #9338
Cannot open at all.
`[11456][1607778020940][main][info]["Booting PostmanAgent 0.2.4, darwin-20.1.0 on x64"]
[11456][1607778021038][main][warn]["Postman Agent~Main~populateInstallationId: Failed to get installationId from agentSettings but with no error"]
[11456][1607778021054][main][info]["UpdateHandler~init - Success"]
[11456][1607778021760][main][info]["WebsocketAgent~start - Listening on port",

[2020-12-12 23:50] robmux commented on #8040
+1

[2020-12-13 06:58] JanC commented on #8231
Hi,
I'm in the same situation. I use Auth0 and need to send the `id_token` and not the `access_token` from OAuth flow. Without this, using Postman becomes impossible :/

[2020-12-13 08:56] Boltmerz commented on #8912
I'm also seeing the issue of `+` being converted to space. This issue appeared in previous builds and fixed in previous builds.

[2020-12-13 19:18] zaboslav commented on #8231
JanC, I've just add description relevant for OS window, modification is pretty easy and works without any problem.

[2020-12-13 19:47] JanC commented on #8231
yes I've seen it, thanks. However, I'm evaluating Postman to be used in a company environment where several people would use it.

Another workaround is to use the pre-request script that takes care of the OAuth exchange

https://gist.github.com/bcnzer/073f0fc0b959928b0ca2b173230c0669

[2020-12-14 04:56] filmico commented on #3358
As @Elixor has pointed out, Ctrl + k + U is uncommenting but also uppercasing the selections. Fixing this will help many people!! Cheers

[2020-12-14 06:43] Raja-Simha commented on #3992
Duplicate of #7833

[2020-12-14 06:43] #3992 closed, assigned to sankalp0o, Raja-Simha

[2020-12-14 09:22] online commented on #7868
Tell me, please, why variable `{{$randomImage}}` not resolve? The [documentation](https://learning.postman.com/docs/writing-scripts/script-references/variables-list/) states that this should work.

[2020-12-14 09:55] msageryd commented on #3438
+1

[2020-12-14 12:05] LxShine opened #9367 "7.36.0报错"
![_20201214200426](https://user-images.githubusercontent.com/11518817/102079401-9ba7d600-3e47-11eb-953f-19cd0a4444f8.jpg)

[2020-12-14 12:37] Raja-Simha commented on #8484
Duplicate of #3632

[2020-12-14 12:37] #8484 closed, assigned to Raja-Simha

[2020-12-14 13:02] Raja-Simha commented on #7097
Duplicate of #3747

[2020-12-14 13:02] #7097 closed, assigned to vkaegis, Raja-Simha

[2020-12-14 18:19] askilondz commented on #9338
Same issue here. Got a new mac...upgraded to Big Sur...download postman...app simply doesn't open.

[2020-12-14 18:25] nikhjoy commented on #9338
Disappointed that it is not yet fixed. app simply doesn't open. I switched to online version :(

[2020-12-14 20:40] inland-rob opened #9368 "Collection ReadMe - to help team know how to implement complex Collections"
**Is your feature request related to a problem? Please describe.**
I'm always frustrated when my team keeps asking me to provide support on how to run a collection (when we're in dev mode, before publishing)

**Describe the solution you'd like**
I want to be able to publish a readme plain text file in a collection where I can describe how to run the collection when there are multiple, non-obvious

[2020-12-15 00:47] v-kydela commented on #1066
@abhijitkane
@a85
@aditikul
@numaanashraf
@vkaegis
@saswatds

Any updates?

[2020-12-15 01:09] a85 commented on #1066
Everyone: I agree this is an important feature. We have had some technical issues between different subsystems that we have solved now. I am making this a priority for us to solve.

[2020-12-15 02:33] Cyperwu commented on #9182
Hi @maikusch , how did you fixed this?

[2020-12-15 05:23] chenfeiyu132 commented on #9361
I ran into the issue as well and I fixed it by changing the name of the directory "Postman Agent" to "Postman" so the path satisfies the one that the working directory setting defaults to. But you still have to copy the files into the specified folder for the web upload to accept it.

[2020-12-15 05:34] Raj-postman commented on #8619
Hi @paolobiavati - Our team has released a few environment improvements in the latest version of the application (v7.36.0). Could you please update the app and let us know if that helps?

[2020-12-15 06:31] DarthSett commented on #5980
@mccannt updated to macOS Big Sur. Still facing the same issue here.

[2020-12-15 08:22] NicolasChaillou commented on #2115
Hi, today Sobtianky made my day, since I found that all 'length' troubles, as a noob dev on this I do add a few :

var body = JSON.parse(responseBody)."WHAT YOU SEEK FOR";
// initialize
tests["Posts length is " + body.length && body.length] = true;

[2020-12-15 11:11] Raj-postman commented on #9366
Hi @chenxu2011 - Could you check [this comment here](https://github.com/postmanlabs/postman-app-support/issues/5681#issuecomment-601673575) and see if the steps help you get around this issue?

[2020-12-15 11:16] Raj-postman commented on #9338
@nikhjoy Sorry to hear that, could you [submit a ticket from here](https://www.postman.com/support) and share logs with us to check on this further?
[This article here](https://support.postman.com/hc/en-us/articles/360047765713-Where-can-I-find-logs-for-the-Postman-Application-) should help you with the same.

[2020-12-15 11:20] DannyDainton commented on #9367
Hey @LxShine

Could you please complete the rest of the information in the template and provide more details about the problem you're facing.

---

**Describe the Issue**

**Steps to Reproduce**

**Screenshots or Videos**

**Environment Information**

 - Platform Type: [e.g. Native Desktop App, Postman On The Web, Web Dashboard]
 - Postman Version:
 - Operating System:

**Additional Context**

[2020-12-15 13:58] jperucello commented on #6957
Still happening in v7.36.0
Not reproducible all the time but seems to be after doing some searches and replaces on one collection, if I select another collection to search the response is still the previous collection.
Some other times, the response is the previous search, and then after there is no response at all.
Recording: https://drive.google.com/file/d/1TCvx5s2yKFvrtdqEq3p4IxqPRVnphBip/view

[2020-12-15 14:44] axd3 commented on #350
+1

[2020-12-15 14:51] Jmuddiman666 commented on #9302
Is there an ETA for when this might get integrated?

[2020-12-15 16:00] mohitranka commented on #9097
We have improved the user experience a bit with the ability to open postman (web app) from the Postman Agent tray with the latest release (`v0.2.5`). More improvements to come! :)

[2020-12-15 16:18] rodrigolj commented on #8404
@VShingala That is not the issue he reported. What he reported is the same issue that I have.

We have a spreadsheet with data that we use to create environments. With some concatenation on GSheets, we build a JSON from the information on the spreadsheet. We want to Ctrl+C Ctrl+V the hundreds of JSONs we built from the spreadsheet straight into the Import > Raw Text at the same time.

What we have

[2020-12-15 16:42] tparikka commented on #8619
@Raj-postman I can confirm on Windows 10 1909, Postman 7.36.0 has the same poor behavior in the Manage Environments pane and does not appear to have improved at all.

[2020-12-15 19:02] eriegz commented on #2096
Hey Postman, if you could squeeze this feature into an upcoming sprint that would be 💯. 😉

[2020-12-15 19:28] mrsGehred opened #9369 "Postman Mock Server configure response delay time per request"
When I attempt to test error handling in my application, I would like a way to easily setup a request that takes a set amount of time to return. That way I can validate my retry logic in my application.

I would like to have an option in the example to take a query parameter from the request and use that variable to be the number of seconds before the postman mock server waits to respond. Example

[2020-12-15 23:02] mnannola commented on #4253
+1, having to drag and drop each call in a collection is not very efficient when you have 100+ calls in a collection.

[2020-12-16 05:59] danurahadi opened #9370 "API Docs cannot be loaded"
My public API Docs cannot be loaded properly. Always loading with `Just a moment...` text.

**Steps to reproduce**

 - Create a team workspace (I use team plan for now)
 - Create a collection & some requests inside
 - Publish Docs

**Error on browser console**

`content.js:48 Uncaught (in promise) TypeError: this.engines is not iterable
    at E.updateSocialMedia (content.js:48)
    at new E (cont

[2020-12-16 07:48] #9097 closed, assigned to vvs11

[2020-12-16 07:52] GlimpRemco commented on #4253
Updating to Postman Desktop version 7.36.0 solved the sorting issue for me

[2020-12-16 08:06] benknight commented on #6056
I have to pile on here and agree that this is very anti-user. It's an inconvenience that "conveniently" nudges free plan users to upgrade. Instead of being able to clean up their workspace and delete the archived collections, they have to deal with these warnings until the end of time. There is a backfire effect here because this sort of friction makes me more unlikely to ever pay for the product.

[2020-12-16 08:16] qa-nowsecure opened #9371 "Postman Desktop App Crashes Unexpectedly"
**Environment Information**

 - Platform Type: Native Desktop App
 - Postman Version: 7.36.0
 - Operating System: macOS 11.0.1

**Screenshot**

![image](https://user-images.githubusercontent.com/70380218/102322082-789d3380-3fb9-11eb-85c6-edb449344286.png)

**Problem Details**

[code]

[2020-12-16 08:38] networkinss commented on #2547
Indeed, that would be great, for example to read OAS3 yaml files from the filesystem.
Is it possible to import them with Javascript (into environment variable) somehow ?

[2020-12-16 08:43] bhavnaberi commented on #9056
Can we automate the access token generation using implicit flow in postman/newman. We tried doign that but all our existing scripts fail as the popup to enter user credentials (username and password) cannot seem to be automated in newman without manual intervention. Can you help as all our existing automation is breaking

[2020-12-16 08:52] keltik85 commented on #2096
Corona crisis 2020 and still no movement on this issue.

[2020-12-16 09:07] jotsarup commented on #9302
@Jmuddiman666 We are planning to support Azure Repos soon. Will let you know as soon as we have concrete deadlines.

[2020-12-16 10:01] RanceJen commented on #2906
+one

[2020-12-16 10:08] amlwwalker opened #9372 "Unable to export a collection [header.key undefined]"
**Describe the Issue**

When exporting a collection instead of it being exported I receive an error toast:
![image](https://user-images.githubusercontent.com/2920180/102333980-0f4ffd00-3f86-11eb-95d6-e4846b73116f.png)
![image](https://user-images.githubusercontent.com/2920180/102334628-cf3d4a00-3f86-11eb-8ef8-b660af03f062.png)

When I check the console I can see

[code]

When I check lin 401825 of

[2020-12-16 10:31] jotsarup commented on #9265
@stfgl Multi file schema file imports are still not supported in Postman but we are planning on supporting them.

Meanwhile what you can do.

`npm install swagger2openapi -g`, they’ll get access to the `boast` CLI that will flatten the schema for you including all the refs from files in different directories.

`boast purchase.fishmarket-purchases.swagger.v1.1.0.json -o purchase.fishmarket-purchase

[2020-12-16 11:50] solid-ahlholm commented on #8269
Thanks @arlemi, clearing the history solved my problem, going from constant +30% CPU usage to <1%

[2020-12-16 12:35] arlemi commented on #7868
@online The documentation needs to be updated, both `{{randomImage}}` and `{{randomTechnicsImage}}` have been removed but this was not reflected in the docs. I have a [PR waiting](https://github.com/postmanlabs/postman-docs/pull/2754) to be merged to fix that, sorry!

[2020-12-16 13:18] mccannt commented on #2906
Thanks, everyone for the input and upvoting, it really helps us understand the needs of our userbase.
With that being said, we should have something out very shortly to address this. :)

[2020-12-16 14:28] eduardoturconi commented on #350
+1

[2020-12-16 15:55] sikemullivan commented on #4391
That worked for me. Thanks!

[2020-12-16 15:59] Freeed21 commented on #6682
+1

[2020-12-16 21:24] georgetfeghali commented on #4690
Hi, this would be really useful if implemented.
Any updates on its status?

[2020-12-17 00:18] arlemi commented on #7654
@celestebancos Sorry for the (very) late reply! Did you manage to get rid of your archived collection? If not, this needs to be achieved through the Postman API, here's a collection that shows you how to achieve that: https://documenter.getpostman.com/view/6034746/SzYgPu4t

We have some improvements in the work for archival flow but I cannot give an ETA yet unfortunately.

[2020-12-17 01:55] shankyty commented on #6682
+1

[2020-12-17 02:06] 4nif commented on #4009
any plan for this?

[2020-12-17 03:26] ruan11223344 commented on #2369
Everyone listen well, don't customize the host header！！！！！
![image](https://user-images.githubusercontent.com/5679023/102440176-b605cd80-405a-11eb-86dd-846b46389949.png)

[2020-12-17 05:03] clarkwang commented on #4253
@GlimpRemco I'm on `v7.36.0` but still see no option for sorting. Where's the option?

[2020-12-17 07:03] GlimpRemco commented on #4253
@clarkwang I had an issue, when I imported a Collection the Requests did not import in the correct order, they were all mixed up in the folder. This issue is fixed now, So when I import a Collection the requests are in the same order as when I exported the Collection

[2020-12-17 07:33] ThaDaVos commented on #6682
Please stop with the +1 comments... - if you're also interested please add a thumbs up to the main issue comment above...

[2020-12-17 11:16] james-postman commented on #8514
Thanks very much for getting back to me @aetonsi!

I'll close this out for now then, but don't hesitate to reach out if you experience the issue again.

James

[2020-12-17 11:39] joanashehaj01 opened #9373 "Student Programm Link"
Hello,

Hope everything is ok.

I saw that in the footer menu  on Student Programm, the protocol is not in the right way.
The url is (hhttps://www.postman.com/company/student-program/).
Attached are some illustration photo.

Thank you,
Joana

![Student Menu](https://user-images.githubusercontent.com/61551357/102483294-cd49b880-4064-11eb-9c2c-a35f964519c2.png)
![Student Program Url Bug](https://use

[2020-12-17 11:55] DannyDainton commented on #9373
Hey @joanashehaj01

You have an extra `h` at the start of the URL. I've checked the link on the site and it looks fine from here.

![image](https://user-images.githubusercontent.com/17089546/102484634-750fb800-405e-11eb-8845-d559cc7d3e78.png)

Could check this again or make a quick recording of what you're seeing so we can check where that's going, please?

[2020-12-17 12:28] umeshp7 commented on #6215
@Anakin-Hao

We have been working on a feature to generate SDK from the entire collection that gives you the ability to use the requests in your code in a more consumable way. Currently this is only in NodeJS (request) but we are looking to add support for more languages soon. Would love to hear feedback on this.

Find the blog here - https://blog.postman.com/how-and-why-we-created-an-sdk-generato

[2020-12-17 12:30] umeshp7 commented on #7245
@me-sosa

We have been working on a feature to generate SDK from the entire collection that gives you the ability to use the requests in your code in a more consumable way. Currently this is only in NodeJS (request) but we are looking to add support for more languages soon. Would love to hear feedback on this.

Find the blog here - https://blog.postman.com/how-and-why-we-created-an-sdk-generator-f

[2020-12-17 12:58] mccannt commented on #5980
@DarthSett We are aware of some issues with Big Sur. Should have a fix coming out soon for that.
You can give the Canary version a try to see if that helps any. https://www.postman.com/downloads/canary/

[2020-12-17 13:05] arlemi commented on #2906
Hey everyone! We've just released Postman 7.36.1 that now strips all IDs from the collection exports. You can update your app or get the latest version from [the downloads page](https://www.postman.com/downloads/).

Thanks for your patience with this issue and let us know if you have any feedback. 🙏

[2020-12-17 13:15] umnex commented on #6548
Ability to clone examples is a must. Right now i am creating API specs for my team and have to do a lot of manual work to create same types of examples. Please implement this ASAP. Thanks!

[2020-12-17 13:18] lbenedetto commented on #2906
Looks like the API is still serving up `_postman_id`

`curl -s -H "X-Api-Key: ${POSTMAN_API_KEY}" https://api.getpostman.com/collections/${COLLECTION_ID}`

Will the API be changed as well? Or is there a v2 I need to switch to?

[2020-12-17 14:53] bkaidbb commented on #2906
@arlemi when I try it on 7.36.1, I can't export at all anymore.

![image](https://user-images.githubusercontent.com/44074943/102503302-d0c94980-403c-11eb-8d3b-54220417d783.png)
![image](https://user-images.githubusercontent.com/44074943/102503375-e474b000-403c-11eb-9b96-bd5891dc730c.png)

[code]

[2020-12-17 15:02] zoranbgd commented on #2906
Thank you @arlemi, this really means a lot.

[2020-12-17 15:15] arlemi commented on #2906
@lbenedetto Calling that endpoint on the same collection will always give you the same IDs, though seeing your workflow
 I understand this doesn't solve it for you. Let me ask and see if there are plans and/or if we should create a separate issue for it.

@bkaidbb This looks like a conversion problem, are you getting this issue on any collection or only a specific one? Asking on our end at the sam

[2020-12-17 16:57] Paras-code-007 commented on #2096
that does not work
cause every time you will run postman it generate these file
I thought of this because the changed file I put there and backedup file I put there were deleted and original file was regenerated

[2020-12-17 17:01] zybkin1 commented on #4009
hello

[2020-12-17 17:07] ilyaskarim commented on #4009
Hi

On Thu, Dec 17, 2020, 10:02 PM zybkin1 <notifications@github.com> wrote:

[2020-12-17 17:34] ch264 commented on #9373
@DannyDainton I found the link on learning.postman.com. Will move this ticket to the correct Github

[2020-12-17 17:39] ch264 commented on #9373
https://github.com/postmanlabs/postman-docs/issues/2756

[2020-12-17 17:58] #9373 closed, assigned to nobody

[2020-12-17 18:12] DannyDainton commented on #9373
@ch264

Ah I see it now...I was thrown by the URL not having learning.postman.com in it 😬

[2020-12-17 19:02] SaschaS93 commented on #4009
The announcement of websocket support in Postman would be the only thing that could save 2020.

[2020-12-17 21:51] kazi-rashedul-haque commented on #2115
Thank you man, this is exactly what I was looking for.

[2020-12-18 03:49] micaelboucard commented on #2906
Yes, thank you!
Works like a beauty!

[2020-12-18 07:48] JtheSaw commented on #5960
Seems to be fixed now. I am using version 7.36.0 on macOS and it's possible to generate Dart code there 🚀

[2020-12-18 08:05] fmvilas commented on #4009
Well, not exactly an announcement of WebSockets support in Postman but last week we [announced a partnership with AsyncAPI](https://blog.postman.com/asyncapi-joins-forces-with-postman-future-of-apis/). So WebSockets will only be the beginning of a richer multi-protocol support 😊

In the initial comment, @matanpramp outlined a few features they'd love to have:

* the ability to establish connection

[2020-12-18 14:22] Yvand commented on #2523
I face the same issue with grant type "Authorization code", in scenario described in [this article](https://docs.microsoft.com/en-us/sharepoint/dev/sp-add-ins/authorization-code-oauth-flow-for-sharepoint-add-ins).
I found no workaround because parameter "resource" must be sent in the body, I tested that it is ignored if sent in the query string.

Error message returned by ACS from the POST to http

[2020-12-18 15:44] arlemi opened #9375 "Remove IDs from the GET collection endpoint"
Reporting on behalf of @lbenedetto, following #2906.

**Is your feature request related to a problem? Please describe.**

Workflow:
A bunch of tests are stored in Postman. When adding a test, create a fork, and export the fork to the json in your Git branch. Push the changes for review (along side your actual code changes). When accepted, merge the postman fork, and then merge your git branch. Dur

[2020-12-18 15:46] arlemi commented on #2906
@lbenedetto The API will be changed as well, I've created this issue so it can be tracked separately to this one which is now resolved: https://github.com/postmanlabs/postman-app-support/issues/9375 🙂

[2020-12-18 15:47] arlemi commented on #9315
This has been fixed in Postman 7.36.1, please update your app or download the latest version from postman.com/downloads 🙂

[2020-12-18 15:47] #2906 closed, assigned to a85, vkaegis

[2020-12-18 15:47] #9315 closed, assigned to chughmayank

[2020-12-18 17:58] palxx opened #9376 "New Integration Request - <product name>"
**Describe your current workflow**
How do you use Postman with the rest of the tools in your stack to achieve your use-case?

**Describe your ideal workflow**
How would you want Postman to integrate with specific products/tools to simplify or enhance your experience?

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've conside

[2020-12-18 19:51] SaschaS93 commented on #4009
Sound‘s great! I didn‘t know AsyncAPI before. It just look‘s awesome! Have been searching years for something like this. AsyncAPI in Postman is the greatest thing in the future of API development I could imagine. This will be a great asset in terms of productivity and standardization in the field of API development.

In my opinion one of the most important features in Postman is the testing capabi

[2020-12-18 20:11] lisaannedwards opened #9377 "Request not emailing document"
We are trying to pull a report from SQL using postman.

It used to work, but now does not.

We get a positive response from PostMan:
This HTTP triggered function executed successfully. Pass a name in the query string or in the request body for a personalized response (see attached)
![2020-12-18_12-09-31](https://user-images.githubusercontent.com/76227641/102657187-19aafc00-412a-11eb-9008-0ddd9c51d

[2020-12-19 06:06] jdmallen commented on #9315
Cornfirmed. Thanks.

[2020-12-19 12:17] Pavesi99 commented on #6354
I set the startup as it is and works fine,

[code]

[2020-12-19 12:35] umeshp7 commented on #8375
@TalpalaruBogdan

We have been working on a feature to generate SDK from the entire collection that gives you the ability to use the requests in your code in a more consumable way. Currently this is only in NodeJS (request) but we are looking to add support for more languages soon. Would love to hear feedback on this.

Let us know if something like this could be helpful.

Find the blog here - http

[2020-12-19 12:43] umeshp7 commented on #7675
@tomjoht
In the latest versions of postman we have removed this Modal to add a new modal with our in house code generators. These have great customization and there is support for a few more languages. We also have an open source project for the same you can find it [here](https://github.com/postmanlabs/postman-code-generators).

Closing this issue for now since the UI in question doesn't exist in

[2020-12-19 12:43] #7675 closed, assigned to abhijitkane

[2020-12-19 12:57] umeshp7 commented on #5960
Yes! We have support for `Dart` language now.

<img width="868" alt="Screenshot 2020-12-19 at 6 25 46 PM" src="https://user-images.githubusercontent.com/31915995/102689882-9ff93800-4227-11eb-8973-f101ac7161ef.png">

Open source project for updates/feedback - [here](https://github.com/postmanlabs/postman-code-generators)

cc. @robisaks @ISimplifyComplexity @goharsahi @rafahead @WaleedAlrashed @loud

[2020-12-19 12:58] #5960 closed, assigned to nobody

[2020-12-19 13:07] umeshp7 commented on #5693
@rezaghanbari  We have done a bunch of improvements and updates to the code generation feature. And we have also fixed various issues for golang including this one. Please update your Postman app and generate snippets.

Closing this for now, please let us know if you still face any issues with the generated snippets.
Open source repository for feedback and updates: https://github.com/postmanlabs/p

[2020-12-19 13:07] #5693 closed, assigned to nobody

[2020-12-19 18:07] hamidafghan commented on #448
It worked for me.

[2020-12-19 18:28] john-aws opened #9378 "Inherit auth from parent should clarify when it has no parent"
**Is your feature request related to a problem? Please describe.**
Using the + button to create a new request can lead novice users to a confusing situation in which  their new API request fails and they waste time debugging it.

Let's say that a user is working with an API Collection and has a couple of request tabs visible. Those API requests are configured with 'Inherit auth from parent' and th

[2020-12-20 01:54] Endy-c commented on #875
Has this feature implemented?

[2020-12-20 10:14] erfan-mehraban commented on #285
Does Postman have pm or something? :))

[2020-12-20 12:51] Hao-Wu commented on #2086
It is 12/20/2020
Waiting...

[2020-12-20 19:21] ChocolateLoverRaj opened #9379 "Feature Request: Export and save collection to file when making changes."
**Is your feature request related to a problem? Please describe.**
It's frustrating when I have to click on the export button every time I want to save changes I make to the collection to a `.postman_collection.json` file.

**Describe the solution you'd like**
There should be a button to save the collection to the file, so that I can just click the button to update the file.

**Describe alternativ

[2020-12-21 04:02] johnnyoshika commented on #6294
Any update on this? Keyboard shortcuts to focus on sidebar and builder would be really convenient.

[2020-12-21 08:06] vvs11 commented on #9369
@mrsGehred We support a delay in mock servers but it is at the mock level. You can edit the mock server and set a delay that you want and it will be applied to all the requests in the mock server.
Please try that out and let us know your feedback. We will keep this feature request open to track this request

[2020-12-21 10:14] ranchanarajasekaran commented on #9370
@danurahadi Thank you for reporting this issue .
Can you please share the url of the public docs ?

[2020-12-21 11:07] webholik commented on #9321
@odmjuk  The forward slash `/` character seems to be encoded in Postman 7.36.0.
<img width="655" alt="Screenshot 2020-12-21 at 4 34 12 PM" src="https://user-images.githubusercontent.com/360759/102770560-5e44ca80-43aa-11eb-95da-e1faa9105a81.png">
<img width="655" alt="Screenshot 2020-12-21 at 4 34 37 PM" src="https://user-images.githubusercontent.com/360759/102770602-6c92e680-43aa-11eb-8b57-02b60cc

[2020-12-21 11:09] webholik commented on #5832
I have created two PRs to fix this issue in Javascript/Nodejs and Python codegens.
[Use proper indentation for JSON bodies in Javascript and Nodejs codegens](https://github.com/postmanlabs/postman-code-generators/pull/431)
[Use json.dumps in Python codegens if Content-Type is JSON](https://github.com/postmanlabs/postman-code-generators/pull/430)

[2020-12-21 12:02] Raj-postman opened #9380 "Whitespace identifiers missing in Environment Quick Preview"
**Is your feature request related to a problem? Please describe.**
Sometimes, when quickly editing an environment we might press enter to validate and receive a carriage return inserted which is hard to pin down.

Even though this is nice, it's only displayed while editing the env, and not in quick preview.​ The carriage return symbol below:

![image](https://user-images.githubusercontent.com/4777

[2020-12-21 13:41] jotsarup commented on #9376
@palxx Can you please tell us what integration you would like to have

[2020-12-21 13:42] mrsGehred commented on #9369
I see that you support it at the mock level, however that is not sufficient
for our needs, you see for example using Auth0, we want to get the auth
token "quickly" and delay the next request to our server. Or vice versa to
insure we are handling client side time outs in an appropriate manner.

So in my opinion, and for our use case it would be excellent if we could
get a request, run some sort of

[2020-12-21 18:55] conradpronto commented on #1070
@Raja-Simha can you please provide an update?  The last guidance was late September that this would be supported by end of November.   And before that it was scheduled to be delivered by mid-June. This is getting silly.

[2020-12-21 19:44] stock-dd commented on #6682
Well... are there any plans to add this in Postman? 179 upvotes would trigger some reaction yesno?

[2020-12-21 20:46] easaborit opened #9381 "how to get email notifications even after the successful monitor in postman"
**Is your feature request related to a problem? Please describe.**
I want to configure my monitor to get email notifications even after the successful monitor in postman, at this moment only appear an option for failures, can you help me with that?

**Describe the solution you'd like**
I want to configure my monitor to get email notifications even after the successful monitor in postman, at this m

[2020-12-22 07:40] xccjk commented on #9146
I also have the same problem here, because I did not log in.

[2020-12-22 07:41] xccjk commented on #9146
I also have the same problem here, because I did not log in.

[2020-12-22 10:25] soilSpoon commented on #9346
It doesn't seem to work on the mac mini DTK.

[2020-12-22 12:27] Raj-postman opened #9382 "Request to add Oceania/Australia as a monitor region"
**Is your feature request related to a problem? Please describe.**
Unable to run requests via monitoring as the AWS geo routing only resolves in the Syndey region.

**Describe the solution you'd like**
To have a Monitoring region enabled for the "Oceania/Australia" region.

**Describe alternatives you've considered**
Choosing region "Asia Pacific", but that fails to resolve.

**Additional context*

[2020-12-22 12:42] numaanashraf commented on #9346
@soilSpoon There are no plans to bring support for pre-release DTK hardware at this point.

[2020-12-22 13:04] ahmedmagdy11 commented on #5990
postman is super slow, my idea is to stop pushing new features that consume so much CPU and memory,

[2020-12-22 13:44] m4cm3nz commented on #7744
I would really appreciate pdf render for applications/pdf content-type. The same way browsers and other API tools do.

[2020-12-22 17:45] jcam commented on #8179
+1!

[2020-12-22 17:53] drjerrard commented on #9378
I just had the same issue yesterday.  I'm looking for the message in the right pane that john-aws mentions, but I don't see it.

To support john-aws' suggestion, not only should the message be more prominent, but can it also offer a course of action to remedy the problem (e.g., "Put this request into a collection.").

[2020-12-22 19:05] KaiRogers commented on #4168
@tahmid-hasan I have the same exact issue, were you able to resolve it? @thecuriousdev if using body-parser is the issue, which I am using as well. What would you recommend instead to handle multipart bodies?

[2020-12-22 20:05] Sabulski commented on #1066
Add me in the queue as well. This needs to be implemented asap. Thanks.

[2020-12-22 20:17] #9229 closed, assigned to nobody

[2020-12-23 08:50] theletterf commented on #8827
Any status update on this? OpenAPI 3.0 is several years old now.

[2020-12-23 14:41] tareqmamun commented on #6761
Hi, I'm facing the same issue where it's NOT showing the response for a POST request. Response body showing empty.
Restarting did not fix the issue. I'm using Postman Version 7.36.1. This is really annoying

[2020-12-23 16:12] DannyDainton commented on #6761
Hey @tareqmamun

You have a mix-match of `Content-Type` headers in your request. You may have had a `text/plain` one in there and then by adding the JSON body it would have applied a `application/json` header.

Could you check that's set to the correct type and let me know if that shows a different response, please?

[2020-12-23 16:50] tareqmamun commented on #6761
hey @DannyDainton ,
is the what you're looking for? do you have any solution for this brother?

<img width="900" alt="Screen Shot 2020-12-23 at 10 49 23 PM" src="https://user-images.githubusercontent.com/8402648/103019498-1d4ae280-4571-11eb-9dac-da624839891f.png">

[2020-12-23 17:07] DannyDainton commented on #6761
Without knowing more context about the request - It's not really as straightforward as asking you to do that or that :(

- Has this ever worked or returned a response?
- Is the request returning a response when make using something like curl?
- Does the Postman Console show the response?
- Have you tried to completely recreate the request in a new tab to see if that does anything?
- Can you try ca

[2020-12-23 20:33] colbyjayallen commented on #3171
+1

[2020-12-23 22:06] vincenzo-scia commented on #8619
Hi @Raj-postman, I'm still experiencing performance issues with this configuration:

App Type: Native App
Postman Version 7.36.1
OS: MacOS X 11.1 (Big Sur) / x64

Screen recording:
https://user-images.githubusercontent.com/43407009/103040286-410f2800-4573-11eb-8380-041aa5de8bec.mov

Hope it helps
Best

[2020-12-24 02:04] WoodenCode00 commented on #4222
I had this issue when there was no environment choosen in Postman (pm.environment.set("my-var", pm.response.json().myProp;). I just choosen any env from the list of configured environments, and it worked. Now my variable is getting populated.

[2020-12-24 02:12] tester-xm opened #9383 "Hello,how to send the pm.info.requestId by pm.sendRequest?"
**Describe your current workflow**
How do you use Postman with the rest of the tools in your stack to achieve your use-case?

**Describe your ideal workflow**
How would you want Postman to integrate with specific products/tools to simplify or enhance your experience?

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've conside

[2020-12-24 07:34] srbangre commented on #4193
Following. Have been wanting this feature since 2 years now :(

[2020-12-24 07:38] srbangre commented on #1535
+1

[2020-12-24 07:53] 4nif commented on #4009
any timeline for websocket support @fmvilas ?

[2020-12-24 09:49] yezihack commented on #5301
![image](https://user-images.githubusercontent.com/11530866/103080201-51291500-4610-11eb-976b-35b9eccf6e29.png)

2020-08-21 11:05:45> Unhandled exception: System.IO.FileNotFoundException: 未能加载文件或程序集“PresentationCore, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35”或它的某一个依赖项。系统找不到指定的文件。
文件名:“PresentationCore, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35”
   在

[2020-12-24 15:32] Raj-postman commented on #8619
Hi @vincenzo-scia

Sorry to hear that, could you try using Postman Web and see if it helps you here?
- http://go.postman.co
- https://blog.postman.com/announcing-postman-for-the-web-now-in-open-beta

[2020-12-24 15:44] danielrobleM commented on #5222
+1

[2020-12-24 18:37] satishsoni777 commented on #6357
Hi, for me its not working. my postman keep on crashing, can please some help me.

[2020-12-24 19:04] dsaddan commented on #2450
Please please fix this issue. It has been going on for over 4 years. The tool is great, the features are great, the font color is not.

[2020-12-24 21:12] s3audi opened #9384 "Airtable Integration"
**Describe your current workflow**
How do you use Postman with the rest of the tools in your stack to achieve your use-case?
Connect STATIC HTML Pages with Airtable data!
And also you can use static html pages like dynamic pages. Also speed is advantage!

**Describe your ideal workflow**
How would you want Postman to integrate with specific products/tools to simplify or enhance your experience?

*

[2020-12-25 05:02] MiminaH commented on #3687
In your C: drive search for the word 'Postman' and delete any folders found. Then try installing it again & it should work.

[2020-12-25 14:01] arvind2022 opened #9385 "BROKEN MISCONFIGURATION"
Respected Sir

I am Arbind Garai working as a Security Researcher and I found a bug in your website.

REPORTER'S NAME: ARBIND GARAI
MOBILE NUMBER: 8210008327
EMAIL ADDRESS: arvindgarai4716@gmail.com
VULNERABILITY NAME: BROKEN AUTHENTICATION

Summary
Broken Authentication says that if we update/reset our password from the browser when logged in and if a password reset link is sent to change the pas

[2020-12-25 14:02] arvind2022 commented on #9385
I received a mail from [support+id64083@postman.zendesk.com](url).
Please go through the above POC.

[2020-12-25 15:35] vincenzo-scia commented on #8619
Hi @Raj-postman,
Postman Web works fine, no performance issues when sorting env variables.

Best

[2020-12-27 03:24] lequocdien commented on #4009
+1

[2020-12-28 05:29] #9376 closed, assigned to abhijitkane

[2020-12-28 06:37] ankit-m commented on #8883
This feature is now available on our web ([go.postman.co](go.postman.co)) version. You can find it in the collection tab - Open go.postman.co > Switch to your workspace > Click on collection in sidebar > Open `...` menu > Pull changes.

It will soon be available on our native apps as well.

[2020-12-28 06:38] ankit-m commented on #8109
You can now see the folder structure in PR diff view.

[2020-12-28 06:38] #8109 closed, assigned to ankit-m, anudeepmedicharla, preethammavin

[2020-12-28 06:38] ankit-m commented on #8210
You can now see folder structure in the PR diff view.

[2020-12-28 06:38] #8210 closed, assigned to preethammavin

[2020-12-28 06:43] ankit-m commented on #9183
We have now added an explicit step to share the collection from personal > team workspace before creating a PR in a team workspace.

Elements in personal workspaces are only visible to the user, not the team. To view the diff between collections, team members need access to the forked collection. Hence the need for sharing. We do realize that this may end up in team workspaces having multiple coll

[2020-12-28 06:43] #9183 closed, assigned to ankit-m

[2020-12-28 06:47] ankit-m commented on #8970
We've added options to add merge checks. This allows you to enforce mandatory approvals. We will soon add options to add custom mergers.

This feature is only available on our Business and Enterprise tiers.

[2020-12-28 06:47] #8970 closed, assigned to nobody

[2020-12-28 07:53] kartikjain26 commented on #8944
@Liz1979  This issue is fixed.

[2020-12-28 08:18] #8944 closed, assigned to kartikjain26

[2020-12-28 10:02] jotsarup commented on #9384
@s3audi Can you please elaborate on the integration you are looking for?

[2020-12-28 13:55] coditva commented on #9380
I've updated the title to "Whitespace identifiers missing in Environment Quick Preview" to clarify the issue. 😄

[2020-12-28 13:57] coditva commented on #9378
@john-aws @drjerrard Thanks for reaching out. I understand how this might be frustrating. I've raised this as a feature request for us to track. I'll post any updates on this thread.

[2020-12-28 13:59] MaRmARk0 opened #9386 "Badge for Body tab"
**Is your feature request related to a problem? Please describe.**
Yes. During development of my own API service on localhost I use Postman to test every endpoint. Sometimes I need to switch between GET/POST/DELETE/PUT rapidly and I always forget to unselect `x-www-form-urlencoded` within **Body** tab and select `none`.

If I write my own Headers, theres is also a green number informing me about t

[2020-12-28 14:22] meenakshi-dhanani opened #9387 "[Feature Request] Replace matching text while setting a new variable"
**Is your feature request related to a problem? Please describe.**
A lot of times when I'm creating a new variable, I need to set a variable, then do a find/replace for all the requests to use the variable. It seems to me like a repetitive task and one that an IDE solves easily.

**Describe the solution you'd like**
It would be cool for Postman to give an IDE like experience. eg. While setting a v

[2020-12-28 14:34] vvs11 commented on #9387
@meenakshi-dhanani Thanks for writing in!. This is something we have on our roadmap. We will keep you posted on this thread

[2020-12-28 18:55] kuriel-trivu opened #9388 "Request that before worked now stuck on sending request"
this error occurs on a fresh install with Mac 11 and Postman, both are fresh, Postman throws this errors:

![image](https://user-images.githubusercontent.com/46456105/103236962-e4fa2a00-490b-11eb-8146-dae10af2f6ee.png)

Postman V7.36.1

[2020-12-28 19:10] babenkovitaliy commented on #8709
I think that this is more of a feature request. Postman environment variables are not strongly typed, because the value of the environment variables can be formatted different depending on the content-type. (e.g. XML innertext doesn't require quotation marks for string values, but XML attributes do require values to be encapsulated between quotation marks.) With JSON, it also works differently - i

[2020-12-28 20:29] yava-ua commented on #2801
+1

[2020-12-28 20:50] kuriel-trivu commented on #9388
This error is thrown with Postman Web:

![image](https://user-images.githubusercontent.com/46456105/103242472-e59abc80-491b-11eb-8f26-03f310ff261d.png)

[2020-12-28 23:26] higorrezend commented on #4009
Looking forward to this feature. Any date when it will be available?

[2020-12-29 00:09] ilyaskarim commented on #4009
No, postman put this issue as spam.

On Tue, Dec 29, 2020, 4:26 AM Higor Rezende <notifications@github.com>
wrote:

[2020-12-29 02:44] desrod commented on #2801
Do you have any working reference code that we can test?

[2020-12-29 06:45] yanyugit opened #9389 "[Feature Request] Locate the opened request in collections menu"
**Is your feature request related to a problem? Please describe.**
Yes. I always need to find associated requests (mostly in the same collection) from the opened one.

**Describe the solution you'd like**
A clear and concise description of what you want to happen.
Maybe a button at a striking position.

**Describe alternatives you've considered**
Or a right click menu items at request banner will

[2020-12-29 07:03] chenxu2011 commented on #5681
2020-12-29 15:02:25> Unhandled exception: System.IO.FileNotFoundException: 未能加载文件或程序集“PresentationCore, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35”或它的某一个依赖项。系统找不到指定的文件。
文件名:“PresentationCore, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35”
   在 Squirrel.Update.Program.executeCommandLine(String[] args)
   在 Squirrel.Update.Program.main(String[] args)

警告: 程

[2020-12-29 08:32] ActuallySPH opened #9390 "Oauth2 Postman browser Callback URL is not working as expected"
**Describe the Issue**

This call back URL was working fine until Dec 22nd.

**Screenshots or Videos**

[2020-12-29 09:18] solirpa commented on #4808
priority 👍👍👍
our program always needs to change a obj to form-data.
Such as:
[code]

[2020-12-29 10:03] Steve-Junior commented on #3216
I had this same issue. I was using the setup below in my hosts file among other domain names.
This added extra 5sec for DNS lookup in postman for the API

127.0.0.1       domain.local
127.0.0.1       api.domain.local

I fixed it by moving api.domain.local to the top of the list & it work(DNS lookup time down to 1.3ms)

[2020-12-29 10:39] willcream commented on #1066
Add me in the queue as well. This needs to be implemented asap. Thanks.

[2020-12-29 13:36] VicKetchup commented on #9230
@codenirvana Thanks for the suggestion for the workaround, looks like it is working with the newest version.

[2020-12-29 21:10] dhitchcock commented on #8481
Need to connect the gtk-3-themes plug.  [How to use the system GTK theme via the gtk-common-themes snap](https://forum.snapcraft.io/t/how-to-use-the-system-gtk-theme-via-the-gtk-common-themes-snap/6235)

[2020-12-29 22:12] hejunchen commented on #8040
Definitely need this feature. Making API call and expecting a Text/CSV/XML/JSON/PDF is very common these days.
Although PDF might require separate rendering engine, it is certainly desired by users.
If Postman can allow an pdf-plugin or something similar, that would be great.

[2020-12-29 23:51] gjd6640 commented on #6707
This just affected me. I have a group policy in place that disallows execution of files that are located under c:\ProgramData\. The installer was able to extract its files but when it tried to run update.exe it was blocked. The windows event logs showed this when I ran the installer:

`Access to C:\ProgramData\<myuserid>\SquirrelTemp\Update.exe has been restricted by your Administrator by location

[2020-12-30 00:25] gjd6640 commented on #6354
Clarifying question:

There may be multiple use-cases in play among the folks having these problems. Potential options:

- 1) My use-case: I've already configured Windows to trust my org's self-signed certificates and just want Postman to mirror Windows' CA certificate trust behaviors.
- 2) Questionable use-case / seems to be what today's functionality solves:  Need is to independently specify wha

[2020-12-30 00:40] LinWanCen commented on #3126
Three years have passed and IntelliJ IDEA has Chinese. I hope that postman can support Chinese. The working community that supports translation after the language pack will provide help.
thank.

[2020-12-30 02:05] chenxu2011 commented on #9366
@Raj-postman

[2020-12-30 07:29] sluxzer commented on #1066
+1

Waiting for the feature to be in POSTMAN soon.

[2020-12-30 07:55] mohsen-sabbaghi commented on #3953
**simply press F11 to get rid of full-screen mode!**

[2020-12-30 14:50] a2br opened #9391 "cURL import: '\n' not behaving as intended"
## **Describe the Issue**

When importing a request as cURL, if the body is `x-www-formencoded` and contains one or more `\n`, it will be transformed into `n`, making the data invalid. In `\n`, only `\` is deleted, but `n` stays.

## **Steps to Reproduce**

- Copy a request with a form-encoded body as cURL (bash)
- Import it in Postman (Import -> Raw text -> Paste)
- Read the imported body
- Some

[2020-12-30 16:53] PhilLikesGit commented on #9390
I can also reproduce this behaviour. It was working until recently

[2020-12-30 18:45] Moongazer commented on #5740
Thanks a lot for pointing it out, we just run into the same issue! Snap is really the worst invention the Ubuntu creators ever had -,- Always problems, doesn't matter with which application. On top of that the huge package sizes and than new updates every 2-3 days (like Signal app)... its so shit :being-angry:

[2020-12-31 03:47] dmbe11 opened #9392 "digital ocean api"
**Describe your current workflow**
How do you use Postman with the rest of the tools in your stack to achieve your use-case?

**Describe your ideal workflow**
How would you want Postman to integrate with specific products/tools to simplify or enhance your experience?

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've conside

[2020-12-31 09:03] danurahadi commented on #9370
@ranchanarajasekaran this is my API Docs :
https://documenter.getpostman.com/view/982160/SW7W6Vmy?version=latest

Maybe there is some unstable code on postman app, because sometimes the docs can be loaded properly, but sometimes not and return that errors above.

Thanks for your reply.

[2020-12-31 09:49] shahnawaziqbal opened #9393 "New Integration Request - <product name>"
**Describe your current workflow**
How do you use Postman with the rest of the tools in your stack to achieve your use-case?

**Describe your ideal workflow**
How would you want Postman to integrate with specific products/tools to simplify or enhance your experience?

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've conside

[2020-12-31 09:49] #9393 closed, assigned to abhijitkane

[2020-12-31 17:16] TJSteel commented on #1066
+1

would make organising tests way easier

[2020-12-31 17:25] ramen-mukherjee commented on #8747
I upgraded to Node v15.5.0 x64 today. With Postman v7.36.1 it started giving same issue.
I am on Windows 10 x64 and tried to set NODE_OPTIONS = --http-parser=legacy.
After setting this Postman doesn't start up.
Is there any other way to bypass this?

[2020-12-31 22:22] reedbapex commented on #8747
My understanding is that above workaround doesn't work after Node 12.   It's a node parser caused issue with some of the anti-DOS software solutions.

[2021-01-01 05:57] ramen-mukherjee commented on #8747
@reedbapex : Is Postman Dependent on NodeJS ?

[2021-01-02 01:57] tominaus commented on #9390
Same issue here

[2021-01-02 05:10] barefeettom commented on #9346
Please support the Apple DTK. Your core customers are developers who, like me, are likely to have an Apple DTK running the latest macOS.

[2021-01-03 09:35] codenirvana commented on #9270
@HthSolid That's how cookies work 😅

In the response, you can set multiple `Set-Cookie` headers with all the details like Expiry, Secure, etc. to instruct the client how to store those cookies.
But while making a request, the client can only set a single `Cookie` header with all the cookies (`key=value`) separated with `;`.

Refer https://en.wikipedia.org/wiki/HTTP_cookie#Setting_a_cookie for more

[2021-01-03 09:35] #9270 closed, assigned to nobody

[2021-01-03 10:12] HthSolid commented on #9270
I have this problem only with Postman.
In all browsers like Chrome, Firefox, Opera, I can access these values from server-side (using Django), only in Postman I cannot access the values at server side. So this is still an issue and I had to go further with real browsers in order to be able to develop.

[2021-01-03 11:03] codenirvana commented on #9270
Can you share a scaled-down collection that we can use to reproduce this issue?

[2021-01-03 11:48] syats commented on #3994
For anyone coming here for an actual solution or workaround to this bug, you have to replace the colons in the URL's for   %3A    (percent, three, capitaA) characters.

[2021-01-03 12:31] tehila-ashlag commented on #2922
Hi,
 is it possible to have just the opposite feature of the above?
means while : variableList.replace("{{variableName}}/blabla/bla") => variableValue/blabla/bla
I need function which will do the opposite:
will get variableValue/blabla/bla and will retrive "{{variableName}}/blabla/bla"

[2021-01-03 22:03] jdukleth commented on #4009
+1

[2021-01-03 23:09] filt3rek commented on #8288
Hej !

I have, I think the same issue, I'm on v7.36.1.
It worked once for a huge mp4 movie 483Mb, I was able to save the response. Then I tried another movie, bigger and the app opens dialog to save the response and the next second the app just close without any report nothing so I can't save the response.
Maybe a workaround could be to save anyway the response to a temp file and then ask user to

[2021-01-04 03:02] sreelekha3399 opened #9394 "New Integration Request - <Rest Client>"
**Describe your current workflow**
How do you use Postman with the rest of the tools in your stack to achieve your use-case?

**Describe your ideal workflow**
How would you want Postman to integrate with specific products/tools to simplify or enhance your experience?

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've conside