[2015-06-09 05:48] liaosankai opened #1125 "Need markdown table syntax support."
![2015-06-09_134428](https://cloud.githubusercontent.com/assets/82476/8051344/efd915d8-0ead-11e5-8345-abcb6778c943.jpg)

Result:

![2015-06-09_134555](https://cloud.githubusercontent.com/assets/82476/8051346/f43bee3e-0ead-11e5-8ec4-6ad4ffa4c580.jpg)

[2015-06-09 07:36] pidries commented on #975
The issue relies in the port you are connecting with.

The port configured in PostmanProxy is the one that is used to host the proxy. You cannot use this port for communicating with the backend of the proxy.

Use port 5005 instead, it should work.

[2015-06-09 08:54] KotieSmit opened #1126 "Feature Request: Double click on saved Request to execute"
It would be nice to have the ability to double click on a request and have it to execute immediately.

[2015-06-09 09:38] catalinux commented on #348
Yes, but still does not beautifies  the request

[2015-06-09 10:02] dkirrane commented on #843
Any ETA on when Swagger 2.0 headers & schemas will be supported.
At the moment the `Content-Type` & `Accept` headers and schema aren't imported.

[code]

[2015-06-09 10:24] treo commented on #854
We are experiencing the same problem. It worked at first, but then started to run in the wrong order.
 Is there a workaround?

[2015-06-09 11:09] numaanashraf commented on #1093
Which version of Postman are you using?

[2015-06-09 11:11] Abhinay12 commented on #582
I want to check whether the  data return after calling api is true or not and i want to compare it with my db

[2015-06-09 11:12] Abhinay12 commented on #582
how to compare this in db means i want to see whether the data return  in response body is matching with the data available in db or not

can u give me your mail Id sir.........................

[2015-06-09 11:25] Abhinay12 opened #1127 "comparing response body with my Database data in postman"
i got my response body after sending request from api and now i want to compare my response body with my database ..........
 can u plz give me proper solution for this.....................

[2015-06-09 11:35] artem-karpenko commented on #1093
Version 2.1.6 (packaged).

[2015-06-09 15:12] zaalbarxx opened #1128 "Pretty response malformed JSON for Angular escape tags"
Hello!
In the previous release of your plugin there was no problem with parsing JSON as pretty when it was preceded by
    )]}',
characters which are used by AngularJS for safe JSON. In v3 version the JSON is considered as malformed and thus it is far harder to work with it. Is there a chance to fix it ?

[2015-06-09 15:21] a85 commented on #449
@jlem This was fixed a long time ago. Can you link to an HTML page that is causing the issue? Also, which version are you on?

[2015-06-09 21:12] epinapala opened #1129 "Postman as a packaged web application?"
This is more of a question than issue. Pardon me if this is a worng place.

I like Postman Rest client chrome addon very much. I am looking to build a REST API test console, for a handful of Web services we developed. This would be a web application and would like to know if its possible to use Postman source code to make it to work as a web application on all modern browsers.

[2015-06-09 21:31] shamasis commented on #1129
@epinapala have you had a look at our command line cousin called [Newman](https://github.com/a85/Newman)? It can be used as a JS module and you could whip up a small UI around it.

[2015-06-09 21:42] epinapala commented on #1129
Hi @shamasis  thanks for your reply. I am actually looking to implement the entire rest client as a web application. Not sure how newman can be of a use for this. Can you eloborate?

[2015-06-10 07:10] abhijitkane commented on #1122
We made a few updates in the filter:
1. If a collection name matches your search term, all its children (folders+requests) remain visible.
2. If a folder name matches your search term, the requests in the folder will be shown, but not requests that are outside the folder.
3. If a request matches your search term, its parent folder and collection will be shown.

We'll be pushing this fix out soon.

[2015-06-10 07:12] abhijitkane commented on #1119
This is due to an issue in the way AceEditor handles the JSON response. We're working on a way to make links click-able again.

[2015-06-10 07:16] abhijitkane commented on #1105
@tylergreff What is the data you are expecting? Are you seeing the correct response if you use cURL?

[2015-06-10 07:29] abhijitkane commented on #1106
@vasujain Is sort-by-name working for you?

[2015-06-10 10:32] dabbank opened #1130 "Export Test Results Feature"
A reason to license postman would be to have the results be exported.
It is missing in the documentation but named in the jetpack extension features.

The use case: we need to attach the results in another Defect-Management Tool to be Revision-Safe.

a complete html representation would be ok, but as a zip for example.

Is there anything already? Does the console offers such export?

[2015-06-10 15:10] johnnavarra opened #1131 "Sync is delayed or not working"
It seems that at all times, the sync will take the server settings rather than the local settings. I've lost so much in the past hour from the sync overwriting my local settings.

[2015-06-10 15:11] cognisent opened #1132 "need option for always show params in new UI"
I apologize if this has already been reported. I went through a few pages and performed a search, but there are a lot of open issues.

In the old interface, the query and URL parameters were always shown:

![image](https://www.getpostman.com/img/docs/source/3.png)

In the new interface, every time I want to see them or change them, I have to click the **Params** button:

![image](https://cloud.git

[2015-06-10 15:17] brentonhouse opened #1133 "Can't scroll list of environments"
If you have a lot of environments, you cannot scroll the list.  This also means that you cannot get to the button at the bottom which allows you to manage environments.

Trying to find work around to at least be able to get to manage so that I can delete some until this issue is fixed.

[2015-06-10 15:24] abhijitkane commented on #1131
Did you sign out and sign in and see the local changes overwritten? Or was the app open and did the local changes get replaced with the server values?

[2015-06-10 15:27] abhijitkane commented on #1133
We'll be pushing a fix for this soon.

[2015-06-10 15:45] johnnavarra commented on #1131
The app was open and the local changes were replaced with the server
values. On app reload, I was prompted to re-sync and verify the values. I
selected the ones that were proper on local but the server asserted it's
values anyways.

On Wed, Jun 10, 2015 at 11:24 AM, Abhijit Kane notifications@github.com
wrote:

##

AIM: obliviouslyaware
ICQ: 5147787
googletalk

[2015-06-10 15:49] brentonhouse commented on #1133
awesome!  thanks!!

[2015-06-10 16:18] vasujain commented on #1106
@abhijitkane Realized, it is broken as well for me.

[2015-06-10 17:00] abhijitkane commented on #1106
Can you check the console for any errors? You can enable the console by following the steps at http://blog.getpostman.com/index.php/2014/01/27/enabling-chrome-developer-tools-inside-postman/

[2015-06-10 17:15] bandtank commented on #739
I can't believe this program doesn't support more grant types. I bought it for automated API testing and I can't do that because it doesn't support grant_type=password. This issue is over 9 months old and still hasn't been addressed...

[2015-06-10 17:47] vasujain commented on #1106
@abhijitkane looks like it is part of synch issue, there seems to be duplicate ids created which might be because of synch issues i had with postman v3 like othere. Here is a screenie :
![screen shot 2015-06-10 at 10 44 31 am](https://cloud.githubusercontent.com/assets/1364787/8089636/e85cb020-0f5d-11e5-84e5-d1dd47d94324.png)

[2015-06-10 17:48] abhijitkane commented on #1106
Hm..these errors are unrelated. We'll investigate and update this thread when we have more.

[2015-06-10 17:49] darrynten commented on #739
My pre-request script 2 comments back easily takes care of your issue. I'm easily able to run automated tests with it.

[2015-06-10 18:30] SirBraneDamuj commented on #975
@pidries Gave this a try, Chrome crashes immediately.

[2015-06-10 18:59] pidries commented on #975
Did you use the default port 5005?

Postman only crashes Chrome when you use the proxy-port (eg. 8080) instead of port 5005.

[2015-06-10 19:12] raygig opened #1134 "WADL: Resource postname:name"
It would be nice to control this so that folders can be customized to help with readability. Currently path attribute is used as the folder name.

I would  suggest to allow for the attribute **postname:name** and use it for the folder name in a collection and leave the path attribute for path related functionality.

![image](https://cloud.githubusercontent.com/assets/1569098/8092153/eabeb872-0f85-

[2015-06-10 19:25] raygig opened #1135 "WADL: <resources base="{{url}}">"
Currently if you use curly braces in the resources base attribute the import process will mess up the formatting. It would be nice if the import process would not do any formatting on this attribute so that we can take advantage of the environment variables (which are so so sweet by the way!!!)

![image](https://cloud.githubusercontent.com/assets/1569098/8091872/70802948-0f84-11e5-9d27-d04c88e01d6

[2015-06-10 19:55] bandtank commented on #739
You said directly in your comment that you haven't been able to get that to work in a collection. If that's still the case, then it doesn't solve my problem.

[2015-06-10 19:56] darrynten commented on #739
I just did it per request in a collection, not a bad work around

[2015-06-10 19:57] raygig opened #1136 "WADL: Application postname:name and postname:guid"
1. When importing a WADL use the application element **postname:name** attribute to name the collection. If no name exists then use the default "Converted from WADL"
2. When importing store the **postman:guid** in local collection's database. So when re-importing Postman can look for this guid and if it exists then override the collection with new import.

The attribute postman:guid is just a sugg

[2015-06-10 19:59] bandtank commented on #739
Unfortunately, I need all subsequent requests to use the same token, so it won't work for me. I appreciate your effort and that you shared your workaround, though.

[2015-06-10 20:27] neoscrib commented on #1104
I second this. Just tried to do something similar and noticed that postman leaves the Content-Type header of the individual part blank.

[2015-06-10 21:08] letshan opened #1137 "NTLM Authentication"
Hi guys,

We are developing APIs for internal usage, which based on Microsoft Authentication/Authorization methodology, which is NTLM. Just wondering could you add a new tab on the authentication options as NTLM?

I found this article about NTLM is quite useful if you would like to have a look.
http://www.innovation.ch/personal/ronald/ntlm.html

Regards,

Dan

[2015-06-10 21:26] johnnavarra commented on #1130
You can but you have to rely on the javascript and tests.
As an example. I'm testing a service response for only the presence of a field.
I have  do/while/if statements generating console.log statements so it looks like this in the console.log
SuperPartNumber not found in section 0
SuperPartNumber not found in section 1
SuperPartNumber not found in section 2
SuperPartNumber not found in section 3

[2015-06-11 04:56] intellix commented on #739
I created a POST OAuth request like so:

URL: {{apiEndpoint}}/oauth

[code]

Test (put the accessToken and refreshToken into your variables):

[code]

And then later requests you can send your accessToken with each requests: `Authorization: Bearer {{accessToken}}`

This all works well with the test runner as well because I test the whole system in order:
 1) POST /user (with pre-request creating r

[2015-06-11 07:11] achoice commented on #1089
Same here with a 13 mb JSON response. :( Same URL in Chrome displays it fine.
Version 3.0.0.5 (packaged)
OS: win
Architecture: x86-32
Native client architecture: x86-64

[2015-06-11 10:53] dabbank commented on #1130
Thanks,
it's a temporary solution. One is also to record network traffic , console.log and save it as HAR . console log is not a proven way to see what you actually did for testing.

There is a save as for a single test, why not a save as for collection?
A nice representation would be nice :D

[2015-06-11 11:13] johnnavarra opened #1138 "Collection Runner - on selection of Data, the selected collection changes"
Collection Runner - on selection of Data, the selected collection changes.
1. example I have 8 collections to select from within collection runner
2. select the collection ( position 2)
3. select environment (note selected collection is still position 2)
4. enter iterations (note selected collection is still position 2)
5. select data
6. note that selected collection moves to position 4 (selects t

[2015-06-11 11:18] johnnavarra commented on #1130
True, but you can parse the response body and output that to the console.log

[2015-06-11 13:13] andrewduckett commented on #1013
I'll second this... +1

[2015-06-11 14:09] bandtank commented on #739
When I try the above solutions in the pre-request script, I get this error:

`No 'Access-Control-Allow-Origin' header is present on the requested resource. Origin 'null' is therefore not allowed access. The response had HTTP status code 500.`

I can't get it to work regardless of what I add to the header block.

[2015-06-11 14:22] sunib commented on #1013
Would be very nice to add explaining links to my own GitHub projects. Would be even nicer to have someway to open up a collection automatically into Postman when users click some link with a Postman collection.

[2015-06-11 14:27] thirtified opened #1139 "Improvement Request: update bundled lodash library to current version (e.g. 3.9.3)"
Could you please update the bundled lodash version to the current version 3.9.3, and maybe keep it current?

Every lodash version seems to bring a whole batch of great new features. Especially helpful are the deep getters and setters (https://lodash.com/docs#get and https://lodash.com/docs#set) introduced in v3.7, which allow for testing of nested JSON structures without the burden of testing all

[2015-06-11 14:41] bandtank commented on #739
For anyone else struggling with CORS problems, this worked for me:

[code]

[2015-06-11 15:52] Graham42 commented on #1090
This appears to be fixed in v3.0.0.6. Thanks

[2015-06-11 15:52] #1090 closed, assigned to nobody

[2015-06-11 16:02] Chris-thomson opened #1140 "Collection runner Error within console upon load"
![image](https://cloud.githubusercontent.com/assets/12848078/8111739/60ab72b6-105b-11e5-9620-f68c0442a2e0.png)
When you open collection runner on any machine the first error you receive is this above.

[2015-06-11 16:09] Chris-thomson opened #1141 "Collection runner Error upon loading a Json file and starting test"
I loaded the following data to my tests:
![image](https://cloud.githubusercontent.com/assets/12848078/8111878/2dccbe3a-105c-11e5-84df-c822b5b070ab.png)
and imported the following from a Json file
[
    {
        "CTURL": "crunch.co.uk:8181/api/support/articles/invoice"
    },
]

The variables are set and the Json is correct and all environmental variables work in a single tests but when the URL is

[2015-06-11 21:44] redwebs commented on #1080
I'm using Windows 8.1 and had the same problem.  The $(".request-method-dropdown").css('z-index','990'); command worked for me.

[2015-06-11 22:57] LexFrench commented on #1013
+1 This would be an incredibly useful feature.

[2015-06-11 22:59] LexFrench commented on #1131
Yeah, I've been seeing this issue as well. Does Postman sync when changes are made to a collection or does it poll every few minutes to see if a change was made and then sync?

[2015-06-12 06:43] phillip-haydon opened #1142 "Option to prevent jumping to response"
My only complaint about Postman is that when you send a request, it auto jumps the screen down to the response. Most of the time I wish the request/response were side by side as there is HEAPS of space.

But the fact it jumps down is so annoying. I leave it as split between the two and it still jumps so I can't see the request.

[2015-06-12 07:20] abhijitkane commented on #1142
We'll be pushing a fix that disables the auto-scroll behaviour soon.

[2015-06-12 07:24] phillip-haydon commented on #1142
:heart:

Awesome sauce. Keep up the good work, absolutely love Postman.

[2015-06-12 07:28] abhijitkane commented on #1131
If the app is connected to the server, every change that you make is synced in real-time. Are there any specific properties (request url / collection name) etc for which you saw the conflict screen not work properly?

[2015-06-12 13:56] KotieSmit opened #1143 "Loosing Collections"
Version 3.0.0.5 (packaged)
OS: mac
Architecture: x86-64
Native client architecture: x86-64

Earlier I have noticed that some of my collections disappeared. (Sync was turned on)
In this case entire collections and some requests inside some folders disappeared.

Today (with sync disabled), all but one collection (the only one that was expanded) out of about 20 disappeared.
Luckily I had an export to

[2015-06-12 14:01] ghost opened #1144 "[Feature] AMF Support and variable-functions"
First, sorry for this silly word "variable-functions" but i dont know how i should name it.
With variable-functions mean, that i can put something like this in the body:
{random:[length:5,OnlyNumbers:true]} which everytime i send it will be replaced with a random numb er with a length of 5.

And amf support is a bit out of the goal, but i will hope that something like this will be available in the

[2015-06-12 14:22] johnnavarra commented on #1143
This happens to me as well.
https://github.com/a85/POSTMan-Chrome-Extension/issues/1131

[2015-06-12 14:24] johnnavarra opened #1145 "JSON.parse generates an error from JSON generated from the XML conversion."
in my test:
var jsonObject = xmlToJson(responseBody);
var response = JSON.parse(jsonObject);

Object {message: "There was an error during JSON.parse(): Unexpected token o"}

[2015-06-12 14:25] johnnavarra commented on #1127
parse the response and output to the console.

[2015-06-12 14:25] gerob commented on #1131
I find the same issue when my system goes to sleep (OSX), when it wakes up it's no longer syncing and clicking sync will not reenable it. I have to close the program and reopen it to get it to sync again. I also have to be sure to export my collection before closing it so that I can reimport when Sync overwrites what I have done locally.

[2015-06-12 14:56] abhijitkane commented on #1143
@KotieSmit After you disabled sync, did the collections disappear after you restarted the app?

[2015-06-12 15:02] abhijitkane commented on #1131
@gerob - Do you see a screen asking you to choose between local values and server values? Or are your local changes simply overwritten without any notification?

[2015-06-12 15:13] Abhinay12 commented on #1127
Sir can u send me one screenshot
On 12 Jun 2015 19:55, "johnnavarra" notifications@github.com wrote:

[2015-06-12 15:19] johnnavarra commented on #1143
Nope. I've had sync disabled so I haven't lost data

On Fri, Jun 12, 2015, 10:56 Abhijit Kane notifications@github.com wrote:

[2015-06-12 17:41] gerob commented on #1131
@abhijitkane I am on the Team sync beta to clarify. I get no screen asking me about choosing between values. Just an overwrite. My version shows 3.0.0.30.

[2015-06-12 17:55] johnnavarra commented on #1127
Well i'm not sure how what you're expecting for an output

but you can use this as a basic guideline for a test:
assuming your output is in json:

//parse the response body and set to a variable
var response = JSON.parse(responseBody);

//set a variable from the outpyt
var Job_ID = response.Body.JobItem.JobID;

//output to console
console.log(Job_ID);

then compare that output to your database val

[2015-06-13 11:13] scottball1968 opened #1146 "Unexpected size limit on post in form value"
Using 3.0.0.6 on OS x Yosemite.

I encountered a limit on the form value of a x-www-form-urlencoded POST operation where the complete string being posted was truncated.

The value that I was attempting to add was 922604 characters in length while I was only able to post 524288 characters with POSTMan.

I was able to add the full value to a cocoa form value and post successfully.

[2015-06-13 20:00] a85 commented on #1142
@phillip-haydon You can go to chrome://extensions, enable developer mode and force update an extension. This should update the app to 3.0.0.6 that does not have the auto-scroll behavior.

[2015-06-13 22:19] a85 commented on #204
Just as a heads-up. Postman's latest version has an in-built documentation browser. Screenshot here: https://www.dropbox.com/s/pqc69lq0t3y0f5s/collection-browser.png?dl=0. External documentation will be available soon. We are also exploring the ability to export API Blueprint, RAML and Swagger definitions.

[2015-06-14 20:37] #1142 closed, assigned to nobody

[2015-06-15 07:59] phillip-haydon commented on #1142
@a85 - works great now. Thanks a lot! :heart:

[2015-06-15 09:34] Ulrhol commented on #952
I have the same issue. I've tried both import from url and pasted the raw json

[2015-06-15 11:13] standuprey opened #1147 "Should reset content/type to text when switching back to form-data"
If I enter json in the raw tab and switch content/type to JSON (application/json) and then decide to switch back to form-data, the content-type is not set to "text" automatically. After sending the data, the server will most likely error out trying to parse the form data as a json string

[2015-06-15 11:57] guy-brion opened #1148 "Postman 3.0 unusable..."
Since I got the 3.0 update, I can't send any request anymore.

I kept my configuration (collections, history, environment) but when I hit the Send button on a request tab nothing happens. I tried with the url https://www.google.fr but nothing happens either.

I have this problem on my company's computer, I'm not the only one having this issue here. Maybe a problem with all the firewalls we have ?

[2015-06-15 11:58] abhijitkane commented on #1148
Can you enable the DevTools (http://blog.getpostman.com/index.php/2014/01/27/enabling-chrome-developer-tools-inside-postman/), and check if you see any error in the console or a request in the network tab?

[2015-06-15 12:52] cvmocanu opened #1149 "[feature] compact theme"
I just updated from Postman 2.x to 3.x and the new theme looks good.

But there is one big usability/productivity problem: it takes way too much space.

Please create a compact theme that is optimized for productivity rather than for looks. I am using the light theme (easier on the eyes since all my other programs also have light themes), but you may want to create a compact dark theme also.

Curr

[2015-06-15 12:53] abhijitkane commented on #1149
We'll be releasing a new version in a few days that's a lot more compact, and has the auto-scroll functionality disabled.

[2015-06-15 13:36] johnnavarra commented on #1143
well... it seems sync was re-enabled... but not by my choice. I had 66 requests in my collections. after sync it removed 16 of them.

sigh. This is very frustrating. I've disabled sync again and created a data dump.

[2015-06-15 13:40] guy-brion commented on #1148
Thank you for your help.

Here is a screenshot of the console output after I launched Postman. No errors are added when I hit the Send button :

![pb_postman](https://cloud.githubusercontent.com/assets/1124737/8161090/c9725140-1374-11e5-94b7-49b70bb5e6a8.PNG)

About the Network tab, I have the following error :

![pb_postman_net](https://cloud.githubusercontent.com/assets/1124737/8177428/e92107c6-

[2015-06-15 13:44] johnnavarra commented on #1143
sigh. it overwrote all my environment settings. this is extremely frustrating.

[2015-06-15 14:29] cvmocanu commented on #1149
Cool!
I can't wait to check it out :)

[2015-06-15 16:14] vsabella opened #1150 "Postman interceptor / client does not process base64 encoded cookies properly"
Simple repro: send a Cookie header in a request with a cookie value containing an equals sign, such as

Blah=123;MyCookie=1233==

Which is a valid set of cookies for RFC6525

Notice that the cookies list on the response set a cookie missing the

[2015-06-15 16:16] vsabella commented on #1150
Missing the equals signs. This is not coming from the server as viewed through an intercepting proxy (fiddler) but instead from postman. Latest Chrome on MacOS Yosemite

[2015-06-15 16:18] vsabella commented on #1150
This is from adding the cookie header to a get/post request in Postman packaged, after snooping a valid cookie header from postman interceptor

[2015-06-15 16:29] KmeCnin opened #1151 "Killing Postman and Chrome when trying to connect to proxy"
A soon as we configure a proxy and click the "Connect" button, both Postman and Chrome windows are closed (instant kill).
The problem persist each time I try this.

[2015-06-15 16:33] Loopingo commented on #131
+1 for JIRA ZEPHYR API
=> http://docs.getzephyr.apiary.io/#get-%2Fjira_server%2Frest%2Fzapi%2Flatest%2Futil%2FversionBoard-list

[2015-06-15 18:27] Graham42 opened #1152 "Left bracket in string value breaks pretty view"
Chrome Version: Version 43.0.2357.125 (64-bit)
Postman Version: 3.0.0.6 (packaged)
OS: linux (Fedora)

The pretty view breaks if any string value has brackets in it. The following api return gives an error: `Malformed JSON: Unexpected 'I'`

[code]

[2015-06-15 21:01] ToshioMagic opened #1153 "GET request hanging on error even though response comes back immediately (Pretty View Parser error)"
I'm sending a GET request styled like so:

[code]

which renders as:

[code]

When I click send Postman locks up for about 30 seconds. However, my API server responds immediately with a JSON object that I want (I can see it respond with Fiddler4). But, Postman (after unfreezing) tells me that there's an error and doesn't even run my test scripts. I've tried this for a simliar URL such as:

[code]

[2015-06-16 07:28] kcd83 opened #1154 "URL Params truncating "=" when empty so valid query string ?key= becomes ?key"
For url
- http://www.example.com?key=

Postman parses the url parameters then sends
- http://www.example.com?key

Some frameworks treat the first as empty and the second as missing/null. Which is odd but regardless postman should allow for retaining the = sign in the query string.

Even if only by hacking the Key under URL Params to be "key=". In fact Postman almost supports this workaround as the

[2015-06-16 13:16] cvmocanu commented on #585
Hello,

Is this still available? With the new theme, I don't see the logo anymore to open a new window.

If you removed this, please add it back.

The tabs are not a replacement:
- I can't move different tabs to different monitors
- I can't have different environments for different tabs

Thanks.

[2015-06-16 13:25] cvmocanu opened #1155 "[feature] ability to mark a request parameter as required"
Add ability to mark individual request parameters (query or path parameters) as required.

If we attempt to run the query without it, Postman will refuse to run the request, maybe show a (non-modal) warning, open the request parameters popup, and focus the first required parameter that is missing (maybe with an animation, like animating the background color from red to white).

This is needed for

[2015-06-16 13:36] DOMcCrea opened #1156 "Postman app not launching (NOOB alert)"
Greetings,

I am completely new to POSTMAN and am struggling even to get it properly installed and running.  I installed version 3.0.0.6 into the Chrome App launcher according to proper procedure (I believe) on a Windows Professional 7 (SP1) laptop (Dell Latitude E5400) using IE 11 as my default browser (Chrome v43 is also loaded).  It took awhile to load but did not complain.  When I launch the a

[2015-06-16 13:39] DOMcCrea commented on #1156
One additional update, a prior version of Postman (0.8.4.14) loads and runs fine however I need to work with a REST API that requires OAuth2 which this version does not support.  Thanks again in advance for any clues.

David

[2015-06-16 13:42] stkrzysiak opened #1157 "Inability to import curl command"
Hi,
I am trying to import a curl command that looks like this:

[code]

Yet I get "Errow while importing Curl: undefined".  As far as I can tell, there is nothing in the dev console during this import process.

I'd appreciate any insight, thank you!

[2015-06-16 19:12] johnnavarra commented on #1155
what you could do is cut it up using a pre-request script to detect it.
given: {{baseUrl}}/api/v1/offers/:offerId

//get the request url and set it to a variable
var splitURI = request.url.split("/");

//this will result in an array of 5 elements. set the last element as the required parameter
var paramReq = splitURI[4];

//Now this part I'm just doing out of speculation because you need a conditi

[2015-06-16 19:50] jungle-boogie commented on #519
After this was created nearly a year ago, hopefully we'll see an update to postman with this feature!

[2015-06-16 19:55] kriserickson commented on #1157
I'm seeing the same thing.  Would love to be able to import curl exported from the network panel, but I can't even get simple Curls to work.

[2015-06-17 01:03] sophistifunk opened #1158 "Installation instructions for PostmanProxy don't work in OS X 10.10.3"
Fresh install (new machine). I had to do the following:

[code]

[2015-06-17 06:35] cvmocanu commented on #1155
Thanks for trying to help, but it's not generic.
It would be an enormous amount of work to write such a script for each request - I have over one hundred of them.
Also, I'm not sure if your script prevents the request from being executed. That's an important requirement.

[2015-06-17 11:54] johnnavarra commented on #1155
true, but then this brings up another good feature request.. hmm

On Wed, Jun 17, 2015 at 2:36 AM, Cristian Vasile Mocanu <
notifications@github.com> wrote:

##

AIM: obliviouslyaware
ICQ: 5147787
googletalk

[2015-06-17 12:02] johnnavarra commented on #1148
that's strange. why is ".map" appended to every url?

[2015-06-17 12:11] johnnavarra commented on #1144
You can use this as a pre-request script to generate a variable number:

function getRandomInt(min, max) {
    return Math.floor(Math.random() \* (max - min + 1)) + min;
}

var randomnum = getRandomInt(1000,9999);
console.log(randomnum);

[2015-06-17 12:13] johnnavarra opened #1159 "[feature] request - pre-request script applied to entire collection"
requesting an option to apply a pre-request script to apply to an entire collection. This is helpful in instances where a custom authentication needs to be calculated for a request.

[2015-06-17 12:40] dpweberza commented on #1080
When will this be fixed???

[2015-06-17 13:23] stkrzysiak commented on #1157
@kriserickson I am not sure what you consider simple, but I can verify that importing other curls works just fine for me.  This example search on youtube for 'postman chrome' imports without an issue:

[code]

EDIT: Accidently pasted content twice.

[2015-06-17 14:04] velikanov commented on #833
:+1: it horribly ruins all my life
my wife quit when she saw this behaviour
my cat doesn't eat the food that I give it
even my keyboard sometimes writes "i" instead of "I" you know
need help with this issue - it's really annoying

[2015-06-17 14:05] velikanov commented on #833
any way to set up postman as chrome tab instead of chrome app?

[2015-06-17 15:00] guy-brion commented on #1148
Any ideas about my issue ? :-(

[2015-06-17 15:13] sobtiankit commented on #1148
Hi,

This is quite odd, I don't see any exception in the console. Can you try uninstalling and reinstalling the app once? I'd HIGHLY recommend creating a backup of your data before doing so, or chrome will delete all your collections on uninstall. You can reimport from the same place.

Also, what version of Windows and Chrome are you using? I'll try replicating the configuration to see if it is re

[2015-06-17 16:57] redwebs commented on #1080
The fix works, but you have to do it every time your system is rebooted.  Quite a hassle.  Is there a way in Postman to check for the update?

[2015-06-17 17:41] kriserickson commented on #1157
Sorry I was being very rude and not very helpful, simple is not the correct way to put it (it appears all the things I was debugging had encoded values in either the cookie or the data).  It appears that  as soon as it includes encoded data it fails, so:

[code]

fails but

[code]

works.   And:

[code]

Fails but

[code]

works.  Now that I figured this out, I can use the curl import and just rem

[2015-06-17 18:27] yurik commented on #1086
When do you intend to push a fix? One of my teammates hit the same issue with newer version on Postman also.

[2015-06-18 06:43] KE-Cbu commented on #1080
I uninstalled and reinstalled and it works

[2015-06-18 07:12] guy-brion commented on #1148
Hi sobtiankit,

Thank you for your help. I've uninstalled the app and downloaded it again but it didn't fix my problem :-(

Here is the versions displayed in the About tab of postman's setting :
Version 3.0.0.6 (packaged)
OS: win
Architecture: x86-32
Native client architecture: x86-64

My configuration is Windows 8.1 Enterprise, 64 bit version, and Chrome 31.0.1650.63.

Hope this helps

[2015-06-18 07:20] abhijitkane commented on #1148
Some users had reported this problem earlier. We never did manage to get to the bottom of it. There's a workaround, though -

You can enable the DevTools for Postman (http://blog.getpostman.com/index.php/2014/01/27/enabling-chrome-developer-tools-inside-postman/), and enter the following in the console:

`$('#submit-request').click(function () { pm.request.send("text"); }`

[2015-06-18 08:07] guy-brion commented on #1148
Thanks !

It's not really convenient but I just have to do it once after launching postman, so it's ok.

I juste had to change it for this :

[code]

Should I leave this issue open as there is no fix for it yet ?

[2015-06-18 08:09] abhijitkane commented on #1148
Yes, you can leave it open. We're trying to replicate your exact environment to reproduce the problem.

[2015-06-18 09:00] abhijitkane commented on #1148
Can you try the solution one user posted here:

https://github.com/a85/POSTMan-Chrome-Extension/issues/712#issuecomment-75361332

[2015-06-18 09:45] bjwyse commented on #1143
I am randomly losing requests from my collections also.
Seems to be most recently added requests may disappear after closing and re-opening Postman.

[2015-06-18 09:52] abhijitkane commented on #1143
@bjwyse
Can you send us an email at help@getpostman.com

[2015-06-18 15:20] johnwpratt commented on #333
I've tried the old version of postman and now the new one, tried importing, tried pasting and tried changing the file extension and so far nothing has allowed me to import a postman collection file which I have been assured works, Any suggestions?

In the old version I would get no response when I tried uploading.
In the new version I get "Failed to Import: Format not recognized"

The name of the

[2015-06-18 17:14] vishbin commented on #977
+1 This will be helpful

[2015-06-18 19:04] #905 closed

[2015-06-18 19:06] #831 closed

[2015-06-18 22:01] a85 commented on #333
@johnwpratt Is the collection file exported from Postman or generated somewhere else? We run into issues when JSON data is different from the one that Postman recognizes.

[2015-06-19 15:48] johnwpratt commented on #333
Thanks for getting back to me. I figured out what it was. The collection was hosted on a chat and when I downloaded it, it added a thnk wrapper. When I pasted it without that wrapper it imported fine.

[2015-06-19 17:16] ecozoic commented on #1092
Same problem here. W/ Interceptor turned on all my requests hang forever. Every once in a while a request will go through (usually first couple requests after I restart my machine) and then they all hang. Using 3.0 postman w/ latest version of Interceptor

[2015-06-19 19:06] CWftw commented on #1092
@johnnn-mitchell I was recommended to uninstall Postman and install the latest version from the Chrome Web Store (3.0.0.6) which fixes the issue for me.

[2015-06-21 17:33] subramaniank opened #1160 "When redirecting due to a 302. Headers must be flushed."
When redirecting to AWS due to a 302, Authorization header is forwarded from the original request.
This causes AWS to throw an error as such.

[code]

For reference, https://github.com/request/request merged a similar PR
https://github.com/request/request/pull/1184

Let me know if I can submit a PR and how to go about it.

[2015-06-22 08:59] noamtamim opened #1161 "curl export: wrap the URL in single-quotes"
Some characters in URLs have to be escaped for shells. In most cases, wrapping the entire URL with single quotes is good enough.
Example:

[code]

should be:

[code]

Instead of

[code]

[2015-06-22 09:11] DomDomDomDomDom opened #1162 "'Lack of Javascript Support' Modal won't dismiss"
![image](https://cloud.githubusercontent.com/assets/9380277/8278862/c7f23b3a-18c6-11e5-88a1-4d55dfd0001a.png)

Used Postman before running my Virtual Machine and got this message. Then started my virtual machine, could send the request by pressing Enter but the modal still does not dismiss

[2015-06-22 09:28] eduedix commented on #576
+1

[2015-06-22 09:31] abhijitkane commented on #1162
That's odd. Is Javascript enabled for all sites, or is there an exception for Postman?

Either way, to hide the modal, you can enable DevTools for Postman (http://blog.getpostman.com/index.php/2014/01/27/enabling-chrome-developer-tools-inside-postman/), and type this in the console to get rid of the modal:
`$("#modal-no-javascript").modal('hide');`

[2015-06-22 11:50] guy-brion commented on #1148
I just checked and I already have the right configuration

[2015-06-22 13:37] kresli commented on #1151
Same here ( OSX ).

[2015-06-22 16:59] ToshioMagic commented on #599
is this also available for JSON? I don't see it in collection runner.

[2015-06-22 19:12] skradel commented on #746
This is still a problem on Postman 2.1.6 (packaged) -- a POST request with Accept: application/pdf fires twice, but changing to something like application/json fires only once as expected.  Seriously confused me to see my API executing again after finishing a somewhat involved process.

[2015-06-22 20:39] duepayer commented on #1013
+1

[2015-06-23 08:45] awinwood opened #1163 "No Font Icons"
I am using Version 3.0.0.7 (packaged) on windows with version 43 of chrome and the font icons are not appearing on buttons etc. See attached screenshot
![nofonticons](https://cloud.githubusercontent.com/assets/12557064/8302165/5ab366fe-198c-11e5-812f-c6643d9040ed.PNG)

I have tried reinstalling but the issue remains

[2015-06-23 14:17] amerikaaskop opened #1164 "After Sync Issues, all of my work (collections) is gone"
Chrome app, Windows 7

Is there a way to restore local data?  I lost all of it after Sync failed.

[2015-06-23 14:27] sobtiankit commented on #1164
Hi

I have responded to your request on the support ticket. Can you confirm once if that worked?

[2015-06-23 14:30] #1164 closed, assigned to nobody

[2015-06-23 20:55] grevolution opened #1165 "How to delete a collection from getpostman.com ?"
I posted a collection on getpostman.com to share it with somebody else. I want to delete that collection now. I deleted locally but the link still works. How to delete the collection from getpostman.com? so that the link doesn't work anymore.

[2015-06-23 21:33] ToshioMagic commented on #850
+1 having issues with postman's pretty viewer. It is crashing on requests only a couple KB even though they are properly formatted.

[2015-06-23 22:12] grevolution commented on #1165
figured out. closing ticket

[2015-06-23 22:12] #1165 closed, assigned to nobody

[2015-06-23 23:06] holandaleo opened #1166 "xml pretty print issue since 3.0"
Since 3.0 update, pretty print for XML responses is adding wrong extra indentation for elements below an element with inline `xmlns:` prefix in attribute.

Use this block as response body:

[code]

For this one, postman will mistakenly indent `<test2/>` as a child of `<test1/>`

Environment:
Version 3.0.0.7 (packaged)
OS: win
Architecture: x86-32
Native client architecture: x86-64

[2015-06-24 07:25] abhijitkane commented on #850
@ToshioMagic What version of Postman are you using? And do you see some sort of error message, or does Postman stop responding altogether?

[2015-06-24 08:17] astinnos opened #1167 "Collection runner Error when json variable is null"
When i set a property of the body json being used with a POST request using a JSON data file to null, the test runner hangs.

**Body**

[code]

The first case works but the runner then freezes when the case with the null field is meet.

**Json Data File**

[code]

Setting the field to null using the editor works fine

[code]

[2015-06-24 08:48] abhijitkane commented on #1167
Thanks for reporting this. We'll fix this in the next release.

[2015-06-24 09:04] abhijitkane commented on #1166
Thanks for reporting this. We'll fix this in the next release.

[2015-06-24 09:30] sarah-micallef opened #1168 "OPTIONs Request Body"
Postman does not support request bodies for OPTIONs request. Indeed the Body tab is disabled when the OPTIONS HTTP method is selected (refer to image below).

I haven't yet came across a spec that prohibits an OPTIONs request to have a request body.

![options request](https://cloud.githubusercontent.com/assets/13031039/8326856/5ca8f3e2-1a64-11e5-9a1c-c3486636711e.PNG)

[2015-06-24 13:28] cpanato opened #1169 "Collection is not sync in the new version of postman"
I have some collections and I can see my collections in the web interface, but when I loggin in the new postman (3.0.0.31) is not getting in sync and shows nothing.

[2015-06-24 13:33] sobtiankit commented on #1169
The collections in the web interface are the ones you have explicitly shared by uploading to getpostman.com in the past. In the near future, we will add the ability to show your synced collections also on the web interface.

Can you describe what you mean by not getting in sync? You can email us at help@getpostman.com with your userid/email and we'll help you out.

[2015-06-24 13:40] sobtiankit commented on #1169
I just realized, you're also on the team sync beta. Since it's a beta, it has its own separate database and app (for now). You'll have to manually export your data from your 2.1.6 app and import it into the 3.0.0.31 app.

You can do that by Settings > Data > Export Data > Download in 2.1.6 and Settings > Data > Import Data in 3.0.0.31 and then your data will be available on the beta app and for sh

[2015-06-24 13:40] #1169 closed, assigned to nobody

[2015-06-24 13:49] Redsandro opened #1170 "New layout is way too padded / spacious"
I just got the update for POSTman with the new layout. On my non-uhd laptop, this is way too spacious.

The tabs are bigger. Then there is a huge area that shows just the name of the opened request. Next is the request url with enough padding to fit 3 lines of text. Below that, the tabs (headers, body, e.g.) with a lot of top/bottom padding.

We're not even at the actual body (most used tab) yet,

[2015-06-24 13:50] Drachenkaetzchen opened #1171 "Postman opens in new Window instead of a new tab"
The old Postman did open nicely in a tab, which I much preferred over Postman 2.0 which opens in a new window.

Oddly enough, I can choose where to open the old PostMan:
![postman](https://cloud.githubusercontent.com/assets/162974/8331455/c21086d6-1a88-11e5-9c94-73360605f585.png)

With Postman 2.0, I no longer have that choice:

![postman2](https://cloud.githubusercontent.com/assets/162974/8331467

[2015-06-24 13:54] sobtiankit commented on #1170
Hi,

Can you confirm the version of this app? (Settings > About > Version)
It'll also help us if you'd attach a screenshot of your setup?

If you're on 3.0.0.6+, we have introduced a compact mode, you can find it in Settings > UI Size and change the dropdown to "Smaller".

[2015-06-24 13:57] sobtiankit commented on #1171
Hi

This is unfortunately a limitation of the Chrome app platform. All packaged apps open in their own window. Chrome has also deprecated the legacy app platform (the old Postman), which allowed extensions to open in tabs, so we have decided not to invest too many resources into it.

[2015-06-24 13:57] #1171 closed, assigned to nobody

[2015-06-24 14:04] cpanato commented on #1169
ok thanks!

[2015-06-24 14:15] Redsandro commented on #1170
I force updated and now I'm uptodate.

[code]

I enabled the setting and restarted, but I hardly notice a difference.

[2015-06-24 14:17] sobtiankit commented on #1170
Can you give me a screenshot? We'll add a more compact setting in an update very soon.

[2015-06-24 14:22] gadelkareem commented on #697
+1

[2015-06-24 14:34] gadelkareem opened #1172 "Ability to skip endpoint on the pre-request script"
Sometimes we need to skip a request on the collection runner. For ex, user has already done this step and we have the result in our environment vars, so the request is not needed or it could end up as a failed test. Any workaround is welcome..

[2015-06-24 14:52] cvmocanu commented on #585
This is fixed in the latest version (3.0.0.9). There is a button "New Window" at the top of the page.

I think we can close this.

[2015-06-24 14:56] cvmocanu commented on #1149
I'm looking at the new theme in 3.0.0.9.
It's definitely improved. I no longer click by mistake on the edit (and other buttons) when trying to expand/collapse a collection.

But the current ticket is not yet fixed.
For example, I don't care about the number of requests or the modification date of the collection. Those just make a collection take double space on the vertical. Just one line, as for

[2015-06-24 16:00] Redsandro commented on #1170
I randomly blurred some things because I'm too lazy to check if there are any company secrets in there. :yum: forgive me.

This is 1600x900, and it already starts to become a bit annoying for big req/res.

![image](https://cloud.githubusercontent.com/assets/1702193/8334859/727f76d8-1a9a-11e5-91e2-f0758ca95e2f.png)

My laptop screen is 1366x768 and it's really annoying.

[2015-06-24 16:10] Redsandro commented on #1170
In theory you could have a "compact" UI settings with CSS that removes all the excess padding like so:

[2015-06-24 16:11] Redsandro commented on #1170
In theory you could have a "compact" UI settings with CSS that removes all the excess padding like so:

(This is a mockup, I just cut away some of the padding.)
![image](https://cloud.githubusercontent.com/assets/1702193/8335163/3eb98ff8-1a9c-11e5-868d-39e8c2e73775.png)

I feel like the "smaller" setting only makes the body text a bit smaller and is not very effective.

[2015-06-24 17:31] rex opened #1173 "[Team Sync Beta] Globals > Import > Select File: Broken / Silently Failing"
Hello there Postman team!
#### Preface

Before I get into this let me say first that the new interface is absolutely stunning and getting my team set up on this was painless and adopting this as a permanent solution for us is a no-brainer.
## The Actual Issue

We can't import `*.postman-globals` files in the environment manager.
## Steps to Reproduce
#### 1) Open the environment manager, select `I

[2015-06-24 19:10] dearlordylord opened #1174 "Postman proxy doesn't work"
I want to test my application API request with deflate content-encoding.

I use this https://github.com/postmanlabs/postman-app-support/wiki/Postman-Proxy with postman.

I have postman proxy script running and proxy setting inside postmap set up to enabled and localhost:8000

I make http (not https, and no redirection after that) request.

I set Accept-Encoding in postman to 'deflate' and I see it

[2015-06-24 19:28] ToshioMagic commented on #850
@abhijitkane https://github.com/postmanlabs/postman-app-support/issues/1153

[2015-06-24 19:45] abhijitkane commented on #1153
Can you send the raw response to help@getpostman.com?

[2015-06-24 21:14] veggiesaurus commented on #857
I find this very frustrating in 3.0. Hoping for a fix soon

[2015-06-25 09:19] Redsandro commented on #1170
This comparison works really nicely on an 'older' (non-hd) laptop.

![image](https://cloud.githubusercontent.com/assets/1702193/8351226/06f41abc-1b2c-11e5-842a-598bb6b26c57.png)

[2015-06-25 09:30] 486 commented on #1013
+1, and I would add: There should be a separation of syncing the collections and your environments. (current sync to postman syncs everything, right?) Because your environment will likely contain passwords, and you don't want to sync this to your github repo.

[2015-06-25 09:37] sobtiankit commented on #1013
@486: We actually encrypt the environments before storing them in our database. You can find more information about the same here: https://www.getpostman.com/docs/security. In the near future, we will also include support for Client-side encryption.

As for Github integration, we are working on this and will introduce it soon!

[2015-06-25 09:49] 486 commented on #1013
@sobtiankit Thanks for the info - So for your sync service with client-side encryption, this is all perfectly fine, but I think that when you allow people to sync somewhere else, most will realize that they want their credentials / environments not synced or synced somewhere else than the collections (my company and I certainly do).

[2015-06-25 09:56] sobtiankit commented on #1013
@486 That's a valid concern, and let me get back to you on that. But a quick question, with sufficiently secure client side encryption, there's nothing anyone (with access to the database, as well) can do to decrypt that information given you hold the cipher. Evernote, e.g. works on the same principle.

We can include the option of disabling environment syncing along with the client-side encryptio

[2015-06-25 10:09] cvmocanu opened #1175 "[usability improvement] after clicking the "Save response" button, focus the name input box"
After clicking the "Save response" button, the focus should be on the name input box to be able to start typing immediately.

[2015-06-25 10:35] postman2014 opened #1176 "Outline view missing in 3.0.0.9 (packaged)"
Hi, I work a lot with API's that export filters. I have always heavily used the outline view on the right hand side to navigate large responses and find specific filters. I have tried looking around the packaged app and also searching the documentation, is there a way to restore the outline view? I don't have an old version of the app available to test if it was called something else.

Version 3.0

[2015-06-25 10:44] abhijitkane commented on #1176
The outline view for the XML responses was removed in the new version. The functionality to expand/collapse XML views is still there (the arrow to the right of the line number).

[2015-06-25 13:29] JoMisk opened #1177 "HTTP_Date not taken into account"
Hi,

As per my understanding it seems that when entering in http header "Date" as key and a date "2015-06-25 13:09:07" in UTC as value, the http header when sending the request  "Date → Thu, 25 Jun 2015 13:09:23 GMT" is not taken into account.

Do you have a work arround  solution ?

Thanks for your help,

[2015-06-25 13:37] fightersmurf commented on #1087
Error still present in
Version 3.0.0.9 (packaged)
OS: win
Architecture: x86-64
Native client architecture: x86-64

[2015-06-25 14:20] abhijitkane commented on #1087
I'm not able to reproduce this now -
Pretty view: ![screen shot 2015-06-25 at 19 49 30](https://cloud.githubusercontent.com/assets/681190/8356496/555ad794-1b73-11e5-8f7e-7b847d61f570.png)

Raw view: ![screen shot 2015-06-25 at 19 49 36](https://cloud.githubusercontent.com/assets/681190/8356497/5584bc76-1b73-11e5-9faa-dd5b4e5435b4.png)

This is on 3.0.0.9

[2015-06-25 14:34] jungle-boogie opened #1178 "updated change log"
Hello,

I am running:
Version 3.0.0.9 (packaged)
OS: win
Architecture: x86-32
Native client architecture: x86-64

But the recent change log at https://www.getpostman.com/changelog

Only has Version v2.0.5. Should I be using 2.0.5?

Thanks!

[2015-06-25 14:38] fightersmurf commented on #1087
In my case it happens in an URL
raw view:
![postman_2015-06-25_16-32-37](https://cloud.githubusercontent.com/assets/13050126/8356931/7218778a-1b58-11e5-8c31-db15cf9e5479.png)

Pretty-print:
![postman_2015-06-25_16-28-50](https://cloud.githubusercontent.com/assets/13050126/8356954/91a732d0-1b58-11e5-8fe6-0d764b3f76ca.png)

[2015-06-25 14:56] fightersmurf opened #1179 "Tests for response time in Collection runner is broken"
Running a Collection with multiple requests and each request has a test for response time, the response time is calculated from start of the collection run, not start of the request.
After a collection has run, if you wait and choose "New run", response Times are way off and don't even start at zero or a reasonable time

[2015-06-25 15:32] jaybillhighway commented on #1159
Love to see this added, right now I am cutting and pasting JS code

[2015-06-25 15:36] jaybillhighway opened #1180 "Loading External JS Files"
We have a lot of code that I like to load into Pre-Request script Sandbox instead of cutting and pasting . Can that be done, may be support requirejs ? or simple reference to a CDN js ?

Thanks

Jay

[2015-06-25 15:42] abhijitkane commented on #1179
I'm not able to reproduce this. I created a collection with 3 requests, all GET http://dump.getpostman.com/get
Each request had `console.log(responseTime);` in the test script.

I ran the collection in the collection runner multiple times, by clicking 'New run' after one had finished. Response times for all requests (both in the collection runner window, and the ones printed in the console) were b

[2015-06-25 15:45] fightersmurf commented on #1179
i use the tests as in the test snippets
tests["Response time is less than 1000ms"] = responseTime < 1000;

[2015-06-25 15:46] abhijitkane commented on #1179
Can you print them out to the console and check?

To enable the console - http://blog.getpostman.com/2015/06/13/debugging-postman-requests/

[2015-06-25 15:54] lewisdavidcole opened #1181 "Curl: Add the -L (Follow Redirects) if the 'Automatically follow redirects' setting is enabled"
I have the 'Automatically follow redirects' setting set to 'Yes'.
However the curl generated command is lacking the -L option and has to be manually added.

[2015-06-25 16:27] fightersmurf commented on #1179
i have an old run from before the update and exported the results, then extracted the "time" in the results and checked with a new run and a second run after about 20 secs.

here are the results.
old run:
            "time": 496
            "time": 1212
            "time": 156
            "time": 160
            "time": 158
            "time": 101
            "time": 50
            "time": 136

[2015-06-25 16:41] abhijitkane commented on #1179
Can you import this collection - https://www.getpostman.com/collections/29dde8d0bbd8cfe7a11d, and see if you're able to reproduce the problem?

I've tried a number of times, but the response times never go above 450.

[2015-06-25 16:44] ross-p commented on #1087
@fightersmurf that is valid JSON.  Not sure why JSON likes to escape slashes by default, but it does.  Probably to guarantee that `</script>` doesn't appear anywhere, which would break a lot of JavaScript parsers.  (JSON was first for JavaScript after all).

EDIT: Wait, I'm not sure the slash should be escaped twice though.  It should probably be `\/` instead of `\\/`, but you probably need to ope

[2015-06-25 16:50] fightersmurf commented on #1179
imported the collection, same problem. do you have an email where i can send you the test run results exported from collectionrunner?

[2015-06-25 16:50] abhijitkane commented on #1179
You can send the file to help@getpostman.com

[2015-06-25 16:51] ross-p commented on #1087
@abhijitkane Confirmed fixed in 3.0.0.9, thank you!  :)

[2015-06-25 16:51] #1087 closed, assigned to nobody

[2015-06-25 17:19] fightersmurf commented on #1179
i deleted postman app, postman extension and postman interceptor, resynced everything and now it works...i am a bit embarrased :(.
Sorry for all the hassle.

[2015-06-25 17:24] #1179 closed, assigned to nobody

[2015-06-25 17:36] ngbrown opened #1182 "Urls in Link header still underlined and clickable, but don't generate new request to url in 3.0."
When the headers of a response contained the Link header, pre 3.0 had the ability to click on the linked urls.  In 3.0, the links are still colored and underlined when hovered on, but clicking does not have the expected effect of generating a new request like clicking a url in the body does.

[2015-06-25 18:13] abhijitkane commented on #1180
We're working on a way to allow import of custom JS files into the scripting sandbox, but can't offer an approximate date right now.

[2015-06-25 18:14] abhijitkane commented on #1178
The 3.x versions have not been pushed out to all users. We're ramping up the new version's user-base gradually. Once we start releasing the 3.x series to all users, we'll update the changelog.

As of now, 3.0.0.9 is the latest version.

[2015-06-25 18:26] abhijitkane commented on #1182
Ah..that was your pull-request that we merged. We'll re-add this in the next release.

Thanks for pointing this out, and the original pull-request, of course :)

[2015-06-25 18:44] jungle-boogie commented on #1178
Hi abhijitkane,

Thanks, I had not realized it was possible to be on different versions.

Thanks!

[2015-06-25 18:44] #1178 closed, assigned to nobody

[2015-06-25 19:51] johnnavarra commented on #1180
You can modify the tester_sandbox.html in the AppData\Local\Google\Chrome\User Data\Default\Extensions\fhbjgbiflinjbdggehcddcbncdddomop directory to include the js files. The caveat is that an update to the packaged extension will overwrite your changes, so backup your changes regularly.

The other option is to import via jQuery:

// Import the CryptoJS library with jQuery
$.getScript("http://cryp

[2015-06-25 22:59] who opened #1183 "Where is preview mode in Postman 3.0?"
One of the most useful features was was the ability to view the request as curl, in preview mode.  With Postman 3.0, this appears to be gone. Am I correct, or is it hiding somewhere?

[2015-06-26 03:55] petemod commented on #1009
+1
This issue is not Yosemite specific, I can confirm it occurs on OSX Lion 10.7 as well.

[2015-06-26 04:21] sobtiankit commented on #1009
I agree with the annoyance, however, this is a limitation of the Chrome App platform and something we have no control over. All chrome packaged apps behave this way.

[2015-06-26 06:47] abhijitkane commented on #1183
There's a '< >' button below the Send button. This lets you generate code in a number of languages, and includes raw HTTP and CURL as options.

[2015-06-26 06:47] #1183 closed, assigned to nobody

[2015-06-26 09:55] midik commented on #1170
Here is how it looks at 1920*1080 with "Smaller" UI setting. That's still so spacious...
![postman_242](https://cloud.githubusercontent.com/assets/6795530/8374988/47af5dc4-1c02-11e5-9752-e46943e9fe93.png)

[2015-06-26 09:58] #858 closed

[2015-06-26 12:46] Rassi opened #1184 "Preview headers missing in v3"
I used to be able to see all request headers with the Preview button. Is there a way to see this in the new version?

[2015-06-26 13:04] abhijitkane commented on #1184
We have replaced the preview button with a code generation button labelled '<>' (under the Send button).

This lets you generate code in a number of languages, including HTTP and cURL.

[2015-06-26 13:45] Rassi commented on #1184
Great stuff. Thank you.

[2015-06-26 13:45] #1184 closed, assigned to nobody

[2015-06-26 14:43] MerlinGuy opened #1185 "New Postman moves 'Send' to far side of window."
The previous version of Postman had the 'Send' button on the left side of the detail pane. This allowed the user to select a curl command, move the mouse a short distance, and then send with another mouse click.  The new location of the 'Send' button means the user has to move their mouse from one side of the application to the other each time they wish to execute a different command.  I can execu

[2015-06-27 12:27] #1035 closed, assigned to nobody

[2015-06-28 21:25] ekor15 opened #1186 "Saved Response not showing in UI"
cannot see saved responses.
when exporting the collection I can see that it exists.

[2015-06-29 09:50] selfish opened #1187 "UI size in settings always makes everything bigger."
When changing the value, even after an app restart, UI Size box will always make everything appear MUCH larger.
This happens regardless of the size selected. Default works.

Version 3.0.0.10 (packaged)
OS: win
Architecture: x86-32
Native client architecture: x86-64
[Chrome 42, windows 7 x64]

[2015-06-29 11:10] seldauyanik commented on #1186
Same problem

[2015-06-29 12:07] gustavohenke commented on #1186
:+1:, also facing this problem after updating to v3.

[2015-06-29 12:08] abhijitkane commented on #1186
We'll be pushing a fix for this today.

For now, you can see the responses by adding a description to the parent request (Edit request > Description)

[2015-06-29 17:39] patrickpilch commented on #1161
+1
All the ampersands in the request URL ending up creating shell background jobs.

[2015-06-29 17:55] bandtank opened #1188 "postman/chrome crash when trying to choose a file to upload"
When I try to choose a file, Postman crashes (and also crashes the whole Chrome process) when I click the "Choose Files" button. I saw another bug that had to do with a crash after selecting a file, but I can't even get to that point. Simply clicking the button causes the crash without ever seeing a dialog box. The crash takes 3-4 seconds and the button stays depressed during that time.

I'm using

[2015-06-29 18:18] xhh2a opened #1189 "GET request sent instead of POST"
Upgraded to the new postman automatically a few days back and POST requests that used to work (and still do in RESTClient for Firefox) return an error saying that a GET request was made ("Cannot GET [endpoint]" default message from Express). It explicitly says POST in the UI.

[2015-06-29 22:35] xhh2a commented on #1189
Seems to be working now on 3.0.0.10

[2015-06-29 22:35] #1189 closed, assigned to nobody

[2015-06-30 00:31] a85 commented on #315
Available in public beta now! Sign up here: http://www.getpostman.com/beta.

[2015-06-30 00:31] #315 closed

[2015-06-30 00:32] #615 closed

[2015-06-30 00:33] #665 closed

[2015-06-30 00:33] a85 commented on #669
Closing this until another report.

[2015-06-30 00:33] #669 closed

[2015-06-30 00:34] a85 commented on #699
Available in version 3.0!

[2015-06-30 00:34] #699 closed

[2015-06-30 00:34] a85 commented on #746
@abhijitkane Can you look into this again?

[2015-06-30 00:35] a85 commented on #816
Available in Postman 3.0!

[2015-06-30 00:35] #816 closed

[2015-06-30 00:36] a85 commented on #853
Available in Postman 3.0

[2015-06-30 00:36] #853 closed

[2015-06-30 00:36] a85 commented on #852
This should not happen in the latest versions of Postman (3.0+). We have made a ton of performance improvements and the interface consistently renders at 60fps+.

[2015-06-30 00:36] #852 closed

[2015-06-30 00:38] a85 commented on #963
Can you try the behavior of the latest version of Postman and tell me how you feel?

[2015-06-30 00:38] a85 commented on #962
This should be available in the latest version of Postman.

[2015-06-30 00:38] a85 commented on #902
Should be fixed in the latest version of Postman.

[2015-06-30 00:38] #902 closed

[2015-06-30 00:38] a85 commented on #965
Available in the latest version of Postman!

[2015-06-30 00:38] #965 closed

[2015-06-30 00:39] a85 commented on #979
Custom font sizes are available in the latest version of Postman (3.0+).

[2015-06-30 00:40] a85 commented on #1014
I doubt we'll have such a kill switch. This is a high risk button. We are improving collection management features consistently and we'll have a look at this again soon.

[2015-06-30 00:40] #1014 closed, assigned to nobody

[2015-06-30 00:40] a85 commented on #1015
Available in Postman 3.0 now!

[2015-06-30 00:40] #1015 closed, assigned to nobody

[2015-06-30 00:41] a85 commented on #1004
Should not be happening again. Reach out to us at help@getpostman.com if you face any issues.

[2015-06-30 00:41] #1004 closed, assigned to nobody

[2015-06-30 00:41] a85 commented on #1080
This should be fixed in the latest Postman version. 3.0.0.10+

[2015-06-30 00:41] #1080 closed, assigned to nobody

[2015-06-30 05:39] dlandis opened #1190 ""Send anonymous usage data" reverts back to YES"
Change to "No" several times and then re-opened Preferences dialog and it was switched back to Yes. This doesn't happen every time...a couple times it stayed as "No" for a while but always switched back to "Yes" eventually. What's the deal?

[2015-06-30 05:41] dlandis commented on #1190
I would add none of the other settings seem to have this little issue of not staying saved.

[2015-06-30 05:44] sobtiankit commented on #1190
I just verified, this seems to be a bug that has crept in 3.0.0.10. We're pushing out an update today and it'll be fixed in the update. Sorry about this, and thanks for pointing it out.

[2015-06-30 05:47] dlandis commented on #1190
Sounds good, thanks for the quick response.

[2015-06-30 06:30] riyunoa opened #1191 "Newman + Postman 3"
Hey everyone,

We've got an issue with a Postman 3 exported file causing the following error:

[code]

Found out that when we saved the file with postman 3, the property "rawModeData": "", which worked in Newman, became "rawModeData": [""] and that caused issues. Changing it back fixed it. Maybe Newman needs to be updated to accept an array?

Thanks!

Newman version: 1.2.16
Postman version: 3.0.0.

[2015-06-30 07:53] abhijitkane commented on #1191
Cannot reproduce. Will push a check in v3.0.1

[2015-06-30 08:42] abhijitkane commented on #746
If a request returns a pdf file, Postman needs to make the request again, with xhr.responseType="arraybuffer". This gets the response as an ArrayBuffer, which can be saved to disk as a PDF file.

Possible workarounds -
1. give a setting to set the expected value as pdf before sending
2. set responseType to arraybuffer if the Content-Type header is set to application/pdf
3. retain the current flow

[2015-06-30 08:51] alexandar opened #1192 "If '&curren' present in link on json response is replaced as ¤ on pretty mode"
when you receive json response

`{
    "link" : "https://test.com?total_amount=123.00&currency=GBP"
}`

and click on the link on the new tab will have `https://test.com?total_amount=123.00¤cy=GBP` link

[2015-06-30 09:42] HonzaMac commented on #718
How it's going? I really appreciate this feature!

[2015-06-30 09:43] abhijitkane commented on #1192
Decode link added due to #301
@alexandar - Thanks for reporting - will fix this in a future release

[2015-06-30 11:07] wabiloo opened #1193 "Feature request: delete environment variable"
I'm writing tests for Postman, and would like the ability to delete global environment variables. Is that possible?
They are just temporary ones that need to be saved in order to be used in a chain of requests, but at the end of it, I don't need them anymore, and they clog my environment variable view...

So, a postman.unsetEnvironmentVariable(variableName) would be a great addition...

[2015-06-30 11:51] andy-g opened #1194 "[Team Sync Beta] Saved Responses save post data locally but post data is not shared with the Team"
When saving responses, the post data is saved locally along with the response data, so clicking on the saved response displays the response as well as updating the post data, so the post can be resent.

Unfortunately, it seems like although the saved response is synced, if another Team member clicks on it they can see the response data but the post data is not updated to show the data sent for tha

[2015-06-30 12:03] abhijitkane commented on #1194
I'm not able to reproduce this.

I shared a collection with one POST request, body-type=form-data, but the form-data empty. I sent the request after adding a row to the form-data, and saved the response. (At this point, the request contained an empty form-data array, but the response's saved request had the form-data).

On another team-member's machine, I subscribed to the collection, and clicking

[2015-06-30 12:19] andy-g commented on #1194
I'll give that a go, thanks for the quick response.

[2015-06-30 13:17] aliyav commented on #1193
+1 for this feature.

[2015-06-30 14:42] gitlucky opened #1195 "Canonical links in Responses no longer clickable in 3.0"
Hi team,
I really enjoy the Postman client. It's a great tool that has increased my productivity in developing and testing REST services. Thumbs up!

I just noticed your new 3.0 version this morning. Although I like your new UI (looks great), I can't say I like losing the ability to click on canonical links from my responses. In 'Pretty' view, these (relative) links were enabled prior to 3.0. I co

[2015-06-30 15:08] lgmworks commented on #697
+1

[2015-06-30 16:57] Redsandro commented on #1170
Is this a joke?

![image](https://cloud.githubusercontent.com/assets/1702193/8436603/bb21367e-1f59-11e5-9a1b-9adb29b28dca.png)

[2015-06-30 16:58] abhijitkane commented on #1195
Can you update to the latest version (3.0.1)? You can force an update by going to chrome:/extensions, enabling 'Developer Mode', and clicking 'Update extensions now'

[2015-06-30 17:02] sobtiankit commented on #1170
Hi @Redsandro

Can you update to the latest version (3.0.1)? You can force an update by going to chrome://extensions, enabling 'Developer Mode', and clicking 'Update extensions now'. That should fix this.

[2015-06-30 17:09] Redsandro commented on #1170
Ah that worked :smile: thanks @sobtiankit :+1:

[2015-06-30 17:11] abhijitkane commented on #1161
We'll push a fix for this in the next release. Thanks for reporting this.

[2015-06-30 17:16] sobtiankit commented on #1170
Happy to help!

[2015-06-30 17:23] gitlucky commented on #1195
I updated to 3.0.1 but it did not resolve the problem. Still can't click links.
I'm running Version 3.0.1 (packaged) on windows. Here's a sample of such canonical link in my JSON response:
"canonicalLink": "/foo/.common/api/v1/endPointTemplates/1000"

The link used to be highlighted and when clicked it would set the address bar accordingly.
Note that I use a variable for my Server URL: **{{ServerU

[2015-06-30 17:34] midik commented on #1170
I've updated to version 3.0.1.... Here is what it looks 3 weeks ago:

![1_202](https://cloud.githubusercontent.com/assets/6795530/8437259/9faf224a-1f66-11e5-8945-77e24d50a3f1.png)

Here is what it looks for now (with "**Smaller**" setting):

![1_251](https://cloud.githubusercontent.com/assets/6795530/8437337/0257ac28-1f67-11e5-9529-3daf733792f1.png)

Could we get "small" and "smaller" looks really

[2015-06-30 17:41] sobtiankit commented on #1170
Noted. We are working on a compact mode as well and will update you soon!

[2015-06-30 18:07] be1219 opened #1196 "Show expected value and actual value in test failure"
I am trying to use the Test Runner but it's time consuming when it reports a test fails but doesn't show me why.  If it could should what was expected and what was actual this would be very beneficial.

[2015-06-30 18:30] johnnavarra commented on #1196
it requires you to write out your test scripts more specifically
assuming your json response is parsed out:
tests["Expected value " + ExpectedValue + " matches " + Response Value] = true; etc.

[2015-06-30 18:57] JohnnyTripod opened #1197 "Save button in the new version?"
Where can I save changes to my Postman requests? In the new version I don't see the Save button anywhere. Thanks.

Johnny

[2015-06-30 18:58] sobtiankit commented on #1197
Hi @JohnnyTripod

The green icon next to Send is the Save button.

[2015-06-30 18:58] #1197 closed, assigned to nobody

[2015-06-30 19:31] Redsandro commented on #1170
Compact would be awesome. Like truely oldskool functional compact.

[2015-06-30 19:35] #1190 closed, assigned to nobody

[2015-06-30 19:35] sobtiankit commented on #1190
fixed in 3.0.1

[2015-06-30 20:22] JohnnyTripod commented on #1197
Thanks so much. Duh.

[2015-06-30 21:00] ToddPettit opened #1198 "Request Dependencies"
It would be fantastic is saved requests could trigger additional requests to populate required query string param or body data.

Example: If a session token is used for user authentication, it would be awesome if we could map the input value to a value in the response of another endpoint. In this case, lets say I had the following authenticated endpoints:
Postman label: "Login"
POST ../login
retur

[2015-06-30 22:04] JohnnyTripod opened #1199 "Body parameters have disappeared in new version/Sync"
In all my Collections, the parameters in the Body have all disappeared. All the other data - headers, scripts, tests -  all seem to be there but Postman 3.0 seems to have wiped out my body parameters. Is this a Sync thing? If I restore from a backup, what file(s) do I need to retrieve?

This is frustrating. Have others experienced the same?

Johnny

[2015-06-30 23:21] pmckeown opened #1200 "Can't send requests in version 3.0.2"
The latest version of postman (which was auto-upgraded this morning) doesn't send HTTP requests which I click send.

I get the following JS errors when I start up postman and then a dialog saying "Lack of Javascript Support" pops up.  The 2 are clearly related and probably the root cause of the basic function of this tool not working anymore.

![image](https://cloud.githubusercontent.com/assets/57

[2015-06-30 23:23] a85 commented on #1200
Can you go to chrome://flags and reset them? Probably some setting that was changed. The latest version has been pushed to users and things have been working fine so far.

[2015-06-30 23:29] pmckeown commented on #1200
That's not it - the only one I had changed was "Enable debugging for packed apps" to allow me to get the above screenshot.

[2015-06-30 23:31] mehtasunny commented on #1145
I am trying to do the same thing. I receive this error: JSON.parse(): Unexpected '<'

[2015-06-30 23:31] a85 commented on #1200
Can you send one to http://dump.getpostman.com and check if it's not the server? Also try toggling off the interceptor if it's enabled. I am not seeing this error in my Postman copy so not sure. None of the errors in the console are related to Javascript being disabled.

[2015-07-01 00:27] pmckeown commented on #1200
Attempting a GET to http://dump.getpostman.com/status is showing the same behaviour - nothing whatsoever is happening other than .

The JS errors in the console must be related to this. I'm assuming that some resource is not loading correctly.

[2015-07-01 00:48] a85 commented on #1200
Looking into this. Another user reported this: https://github.com/postmanlabs/postman-app-support/issues/1162. There is a workaround listed.

[2015-07-01 03:59] pmckeown commented on #1200
That's a different issue, I am able to dismiss the dialog.

[2015-07-01 07:14] abhijitkane commented on #1200
@pmckeown What version of Chrome are you using? We tested this version of the app on Windows with the latest version of Chrome.

[2015-07-01 07:17] abhijitkane commented on #1145
@naughtylion
My guess is that your server is returning HTML code, for which JSON.parse() throws an error.
Can you add a "console.log(responseBody);" line above the JSON.parse() and check the console (http://blog.getpostman.com/2014/01/27/enabling-chrome-developer-tools-inside-postman/)?

[2015-07-01 07:22] abhijitkane commented on #1199
@JohnnyTripod Can you send an email to help@getpostman.com with your Postman username, and the request names for which the body parameters are missing?

[2015-07-01 07:42] giulioprovasi opened #1201 "JWT Authentication not working anymore"
With the last update of postman I cannot add custom Authorization Headers anymore.

If I pick 'no authentication' and adda custom Authorization Header like this:

[code]

The header isn't sent.

Am I doing things the wrong way or is this a bug ?

[2015-07-01 07:44] abhijitkane commented on #1201
I'm not able to reproduce this.

Can you check the console for errors when you send the request? (http://blog.getpostman.com/2014/01/27/enabling-chrome-developer-tools-inside-postman/)

[2015-07-01 07:55] giulioprovasi commented on #1201
Ok, with the debugger, I see that Authorization headers are sent, but when I log the $_SERVER, the Authorization Header isn't there. If I rename the header Authorization_whatever_ it just works, if I add any header, it works, it just doesn't for the _Authorization_ one, it's really weird.

EDIT: here's a screenshot:

![Postman headers](http://img11.hostingpics.net/pics/158366Sanstitre.png)

[2015-07-01 07:58] abhijitkane commented on #1201
You can send a GET request to http://dump.getpostman.com/get with your Authorization header.
Whatever headers are received by the server will be echoed in the response body.

[2015-07-01 08:05] giulioprovasi commented on #1201
Ok you are right, the problem seems to come from the PHP framework I'm using (Laravel).

The headers are retrieved from the $_SERVER var and the Authorization one isn't present, but using the getallheaders() method it show up correctly, I'll take a look on the Laravel github for more clues.

Thank you for your help :)

EDIT: My bad, the problem is that I forgot to update my .htaccess with the foll

[2015-07-01 08:05] #1201 closed, assigned to nobody

[2015-07-01 08:15] codeb2cc commented on #1187
+1 in OS X Yosemite 10.10.3 with Chrome 43.0.2357.130 (64-bit)

[2015-07-01 08:40] abhijitkane commented on #1187
Can you update to v3.0.1 of Postman and see if you still face the issue?

chrome:/extensions > Developer Mode > Update extensions now.

[2015-07-01 08:44] selfish commented on #1187
Looking sharp.
Thanks for the prompt action!

[2015-07-01 08:44] #1187 closed, assigned to nobody

[2015-07-01 12:38] cvmocanu opened #1202 "curl code generation should quote URL"
The generation of the curl request does not quote the URL.
This causes problems if the URL contains query parameters because bash interprets the ampersand as the end of one command and the beginning of another.

The URL should be quoted, preferably using single quotes (to makes sure bash doesn't interpret anything).

[2015-07-01 12:38] Watje commented on #1094
Same happened to me. Couldn't Sync for several days, then this morning it sync'ed and corrupted my collections.

Just like @ross-p I turned off sync, but for whatever insane logic decided to give it one more try and enable sync again. Everything came back as I left it yesterday.

Magical.

[2015-07-01 12:39] abhijitkane commented on #1202
We'll be pushing a fix for this in the next release. Also referenced here - https://github.com/postmanlabs/postman-app-support/issues/1161
Closing this

[2015-07-01 12:39] #1202 closed, assigned to nobody

[2015-07-01 12:39] cvmocanu commented on #1202
cool, thanks

[2015-07-01 13:02] abhijitkane commented on #1094
A lot of stability and performance improvements have been made to Sync. The latest version is v3.0.1.

You can force an update by going to chrome://extensions, enabling 'Developer Mode', and clicking 'Update extensions now'.

[2015-07-01 14:27] andrewduckett commented on #1013
Could we let people choose the sync location(s) independently?  Though github.com makes sense I could see people wanting collections and/or environments synced to a private github (or even git) instance as well.

[2015-07-01 14:48] blowsie opened #1203 "Feature Request: Add Support for JSON Vulnerability Protection"
It would be great if you could add support in for the JSON Vulnerability Protection, as detailed here;
https://docs.angularjs.org/api/ng/service/$http#json-vulnerability-protection.

This support would only be required for the "Pretty View"

I have and use several APIs which implement this, and whilst the request works in post man, It renders like this in JSON view;
![image](https://cloud.githubus

[2015-07-01 16:07] abhijitkane commented on #1203
What version of Postman are you using?

If you're on 3.0.1, can you send include a sample response which produces this output?
If not, you can try upgrading by going to chrome:/extensions, enabling 'Developer Mode', and clicking 'update extensions now'.

The latest pretty view supports common Anti-XSS prefixes including `while(1);` and `}];`

[2015-07-01 20:42] pmckeown commented on #1200
The latest version:

31.0.1650.57 m

On Windows XP

[2015-07-01 21:52] abhijitkane commented on #1200
We'll continue to investigate and update this thread. The earlier issue relating to the Send button not working was due to Javascript being disabled in Chrome.

That setting doesn't affect the main Postman context, but affects the sandbox where the pre-request scripts are run. Javascript should enabled for all sites in chrome://settings.

[2015-07-01 22:09] pmckeown commented on #1200
Is there anywhere to download POSTMAN V2?  I'd rather roll back while issues like this are resolved.

[2015-07-01 22:18] pmckeown commented on #1200
Sorry, I just realised I had version 3.0.2 install, not 3.0.1

[2015-07-01 23:38] mehtasunny commented on #1145
@abhijitkane
Here is my console log. It doesn't look like it is returning any HTML-

Render XML response

[code]

Evaluator.js:163 Object {message: "There was an error during JSON.parse(): Unexpected token <"}

[2015-07-02 05:37] abhijitkane commented on #1200
You can download v2 from here - https://chrome.google.com/webstore/detail/postman-v2-deprecated/nppbmnmcgngfmnlmaejnanlldjdffchl

Note that Sync will not work in this version.

[2015-07-02 05:43] abhijitkane commented on #1145
If you're using xmlToJson or xml2Json, you don't need to use JSON.parse().

JSON.parse converts a JSON string to an object. xmlToJson/xml2Json will return objects from XML strings.

[code]

You'll be able to see the contents of jsonObject in the console - http://blog.getpostman.com/2014/01/27/enabling-chrome-developer-tools-inside-postman/

[2015-07-02 05:54] pmckeown commented on #1200
Thanks for that, at least I can continue to use this great tool while the kinks are worked out of v3

[2015-07-02 07:20] blowsie commented on #1203
Thanks for the quick response, I am using 3.0.1.

Here is the example response

[code]

As said in the question, the angular core uses the prefix `)]}',\n`

Thanks

[2015-07-02 08:40] cangd commented on #1198
I support this feature request!

[2015-07-02 09:11] anroots commented on #1143
This concerns me, too.

Chrome 43 / Postman 3.0.1 / Ubuntu Linux 14.10

I use Postman in two computers, with Sync on. This morning, I lost my carefully configured API folder for no apparent reason.

I do not know exactly what steps cause this, I'll just turn sync off and make some hard-copy export backups of my collection.

[2015-07-02 10:45] abhijitkane commented on #1143
@anroots Can you send us an email at help@getpostman.com with your Postman username?

[2015-07-02 11:03] anroots commented on #1143
Logging out and back in again (as suggested by @abhijitkane) helped - my collections were correctly synced.

[2015-07-02 11:07] sobtiankit commented on #1143
Just an addition, we also have a "force sync" option, that should resolve any issues without the need to log out and back in. You can find it in Settings > Sync > Force Sync

[2015-07-02 13:02] cpanato commented on #746
i saw a post request using multipart and if you hit enter instead of click on the send button, the postman send two requests.

[2015-07-02 13:07] vinise commented on #1159
I wish this as well :+1:
Shouldn't be a good idea to have global script as well? callable insode each request :)
(include external script/library as well)

[2015-07-02 15:22] james12150 opened #1204 "Oauth2 exception "debug" URL is invalid"
I get a "To debug" URL from Postman which points back to a Postman server.  I am told to view the error response via the URL but the response I get in browser is - This webpage has a redirect loop.

Any ideas what is happening here?

[2015-07-02 16:37] abhijitkane commented on #1204
Can you send the URL in question to help@getpostman.com?

[2015-07-02 16:48] james12150 commented on #1204
Abhijit,

I’m using Postman 2.

I get the red box saying it “Could not initiate OAuth 2 flow”.  Here is the debug URL –

 https://www.getpostman.com/oauth2/start?authorization_url=%20&access_token_url=%20&client_id=724abce1-491c-4e69-b295-b04f8ca81045&client_secret=12c6a344-db7b-40a9-b82d-c90f951370cd&scope=&app_id=fhbjgbiflinjbdggehcddcbncdddomop https://www.getpostman.com/oauth2/start?authorizat

[2015-07-02 18:10] abhijitkane commented on #1204
What are the authorization and access-token URLs that you're using? If possible, we'll try to use the same OAuth provider and try to reproduce the problem.

[2015-07-02 18:23] Rychard opened #1205 "Edit request name"
Is there some way to _directly_ edit the field shown in the screenshot below?  The request shown was created by duplicating an existing request within a collection.

![image](https://cloud.githubusercontent.com/assets/2145848/8484171/2c1a2da2-20c4-11e5-8a85-bf22612a4594.png)

As far as I can tell, here's the only way to do it:
![image](https://cloud.githubusercontent.com/assets/2145848/8484256/9b2

[2015-07-02 18:36] Rychard opened #1206 "Editing request name does not update tab"
During the process of creating issue #1205, I noticed this.
### Steps to reproduce:
1. Create a collection
2. Add request to the collection.
3. Ensure that the request is open in the right pane, and that its tab is active.
4. Hover over the request in the left pane, and select `Edit` from the context-menu.
   ![image](https://cloud.githubusercontent.com/assets/2145848/8484624/9fc40906-20c6-11e5-9e

[2015-07-02 18:41] Rychard opened #1207 "Sorting requests within a collection"
~~Is there some way to sort (be it automatic or manual) requests within a collection?~~

~~The ![image](https://cloud.githubusercontent.com/assets/2145848/8484905/2d42a818-20c8-11e5-857a-6fce7ff93ab3.png) icon appears to only sort the collections themselves.~~

~~A comment on #853 seems to indicate that this was an added feature in the 3.0 release, but I can't seem to find it.~~

**Edit:** Clickin

[2015-07-02 18:48] mvincenzes commented on #1170
another vote for compact

[2015-07-02 20:14] bandtank opened #1208 "attaching files every time a collection runs"
How do you avoid manually attaching a file to a request? I want to save a picture in a request and I know, for whatever reason, Postman won't save it. How do you work around this? Can I convert the image to text somehow and paste it into a field? If so, how? Part of my automated test flow requires images to be uploaded to an endpoint.

[2015-07-02 21:28] mehtasunny commented on #1145
@abhijitkane

Got it. Thanks for resolving my problem.

[2015-07-02 22:57] mikefadhl opened #1209 "Assigning variables from cookies now have <br/> in strings"
Yesterday when my UI upgraded, I started having <br/> tags in my strings.

Steps to reproduce:
Make a http request
My response goes through the test script which pulls out cookie values which I use in subsequent calls.  When I assign the global variables they have <br/> tags in the string.

My Test Script:
var myslCheck = postman.getResponseCookie("slCheck");
postman.setGlobalVariable("slCheck",my

[2015-07-03 05:09] abhijitkane commented on #1209
Thanks for reporting this. We'll push a fix for this soon.

[2015-07-03 06:05] halhenke commented on #1143
I've had saved queries revert my changes minutes after i've saved them - i dont really trust Sync at the moment & so its disabled.

[2015-07-03 07:13] abhijitkane commented on #1205
We'll be introducing in-place editing soon. This will enable editing inside the yellow area marked in the first screenshot.

[2015-07-03 07:37] abhijitkane commented on #1208
You can check out newman (http://npmjs.org/package/newman). You can export your collection from Postman, edit the exported file to reflect the path of your image, and run it via Newman.

Blog post - http://blog.getpostman.com/2014/11/15/using-newman-to-run-collections-with-file-post-requests/

[2015-07-03 11:45] tompson opened #1210 "generated swift code is missing postData"
missing line:

[code]

[2015-07-03 12:39] kevinvanmierlo commented on #924
+1

This is a thing that really bugs me

[2015-07-03 12:58] kevinvanmierlo opened #1211 "URL in JSON escape slashes"
I'm using postman for a while now and I'm loving it. One thing that bothers me though is that in every URL in JSON the slashes get escaped. In the old version (non-packaged app) this wasn't the case.

[2015-07-03 14:18] jetpacksfan opened #1212 "Is it possible in Jetpacks to save response to a local file"
Just bought the Jetpacks and are happy with the Collection Features
However when all request finished, all response disappeared as well.
Tried to save the collection result but that's not the response.
is it possible to save the responseBody to a local file automatically?
I don't know how to write the script in 'Tests'. Or is it... impossible?

[2015-07-03 14:35] abhijitkane commented on #1212
The feature to save responses is not available in the Collection Runner right now. We're working on a feature that will allow you to save complete responses to a file when the collection run is over, but I can't provide a timeframe yet.

[2015-07-03 15:20] Rychard commented on #1205
What about the possibility of editing names directly in the left-pane as well?

![image](https://cloud.githubusercontent.com/assets/2145848/8501448/72d72088-2173-11e5-8b95-77606f4edc73.png)

There are instances where I would have found this very useful; although, I don't think it's asking too much from the user to require that they edit it from the right pane.

I can't imagine that the process of

[2015-07-04 02:31] cuencacigars opened #1213 "Put Request return 405"
Not allowed. How can I resolve this?

[2015-07-04 08:08] abhijitkane commented on #1213
The 405 status code indicates that the server does not support PUT requests to the URL that you're using. You'll need to contact the API developer to resolve this.

[2015-07-04 08:08] #1213 closed, assigned to nobody

[2015-07-04 09:31] wiltodelta commented on #843
@abhijitkane Are you fixed bug, which @SidneyAndrewsOpsgility describes?

[2015-07-04 12:53] jetpacksfan commented on #1212
Thanks. Getting an offical reponse makes me feel at ease because I don't need to spend countless hours on searching for a rescue any more.
Really wish you can implement it soon because I think it'll be a big big step to real automatic test.
Also I think it's not too hard because you've already implemeted the feature of 'save to clipboard' with one click, why don't you just chain them up and dump i

[2015-07-04 16:48] squallssck commented on #576
+1 ... it cost me a whole night to debug my java code until I found the post works in a purl post html...then, I remove the custom header " content-type multipart/form-data" in postman, it works...

[2015-07-04 18:44] sriegel2 opened #1214 "Feature request: iterations=0 imply run all records in data file"
Postman 3.0.2. It is awkward to run multi-record data files in Collection Runner. I find I must specify the exact number of records in order to ensure all are processed. iterations=0 currently only processes first record and iterations>#records causes last record to be repeated in remaining requests (creating duplicates entries in some web apps). It seems iterations=0 would be straightforward way

[2015-07-04 19:14] atom992 opened #1215 "How to use GlobalVariable in request body?"
I can use Environment variable in body,but I can not use GlobalVariable in body with "globals["variable_key"]", how can I access globals variable in request body?

[2015-07-04 19:16] atom992 commented on #1215
I found the answer: it is the same way as Environment variable usage.

[2015-07-04 19:16] #1215 closed, assigned to nobody

[2015-07-05 03:49] cuencacigars commented on #1213
Thanks!

Ana from Cuenca Cigars
www.CuencaCigars.com
1928 Harrison Street
Hollywood, FL 33020
Phone: 866-417-9454
Fax:    954-364-7661

Follow us:

   <https://www.facebook.com/Cuenca.Cigars.Hollywood>
<http://www.facebook.com/l.php?u=https%3A%2F%2Ftwitter.com%2FCuencaCigars&h=JAQF3R8Pj&s=1>

<http://www.facebook.com/l.php?u=http%3A%2F%2Fwww.linkedin.com%2Fin%2Fcuencacigars%2F&h=CAQEGJxUZ&s=1>

<h

[2015-07-05 20:18] iansul opened #1216 "Can't click requests"
Recently I've started having a lot of trouble selecting the requests I've saved. It makes the postman app almost impossible to use. I can still enter the request manually but I have a bunch of script to evaluate responses, and populate environment variables with those results.

Is anyone else seeing this?

[2015-07-05 20:21] iansul commented on #1216
Is there any way to debug this? Can I get a console window and see if there are any JS errors?

[2015-07-05 20:21] a85 commented on #1216
Yes. You can get a console window. Instructions here: http://blog.getpostman.com/2014/01/27/enabling-chrome-developer-tools-inside-postman/

[2015-07-05 20:21] a85 commented on #1216
Not sure why you are facing this issue. Things seem to be working fine for me.

[2015-07-06 07:28] iansul commented on #1216
Not sure if there are "real" errors in here...

unload is not available in packaged apps.(anonymous function) @ extensions::platformApp:17
requester.js:1203 Loaded settings
requester.js:1215 Loaded theme
requester.js:23635 Open latest DB
requester.js:1218 Loaded Database
requester.js:33504 Initialized ThemeManager
extensions::platformApp:17 beforeunload is not available in packaged apps.(anonymous

[2015-07-06 07:38] abhijitkane commented on #1216
@iansul These errors don't affect the Postman app. Is there nothing else logged when you click on a request but it fails to select?

[2015-07-06 08:08] blowsie commented on #1203
Just out of curiosity, how long does something like this normally take to be implemented and released?
This is the only thing currently stopping me buying a licence so I can use postman as a testing tool.

[2015-07-06 08:10] a85 commented on #1203
@blowsie We are aiming to be super quick with both our release cycles as well as our ability to reply to comments/issues/requests/questions. :)

[2015-07-06 09:09] blowsie commented on #1203
Interestingly, I just noticed this is working for some of my requests, but not all.

It seems this works

[code]

Whilst this does not.

[code]

[2015-07-06 13:48] jonners99 commented on #682
+1

[2015-07-06 16:28] clocklear opened #1217 "`data` is blank in Pre-request script, but is populated in Test"
Title says it all.  In version 3.0.2 (packaged) of Postman, I cannot access my `data` variables in prerequest scripts, but I can see them fine in test scripts.  `data` exists, but it is an empty object.

![image](https://cloud.githubusercontent.com/assets/622205/8527385/64205b90-23da-11e5-8e59-00f6bed71c51.png)

[2015-07-06 16:29] clocklear opened #1218 "Network pane in 3.0.2 only shows posts to Google Analytics"
I can't seem to find a way around this -- every request I run with jetpacks only shows triggers to GA:

![image](https://cloud.githubusercontent.com/assets/622205/8527452/b061c598-23da-11e5-84c4-fd89e4fa1138.png)

[2015-07-06 16:36] iansul commented on #1216
Nope nothing else logged.

I set a breakpoint in
 $collection_items.on("click", ".request-actions-load", function () {
And when the click does actually work I hit the breakpoint.

[2015-07-06 16:38] abhijitkane commented on #1218
Is the Interceptor on? Requests made through the Interceptor won't show up here - http://blog.getpostman.com/2015/06/13/debugging-postman-requests/

[2015-07-06 16:41] clocklear commented on #1218
Yep, that seems to be it.  I still see the GA posts, but at least I can see my own requests as well.  Thanks!

[2015-07-06 16:41] #1218 closed, assigned to nobody

[2015-07-06 16:44] abhijitkane commented on #1217
Is this `data`, or `request.data`? Also, is this in the collection runner, or are you running a single request?

[2015-07-06 17:57] clocklear commented on #1217
This is `data`, the object that should exist from the imported JSON file.  Also this is in the collection runner.

[2015-07-06 19:00] holandaleo opened #1219 "XML escaping removed when using "Copy response to clipboard""
Postman is interpreting the XML escaping when using the "Copy response to clipboard" button.

Use this block as response body:

[code]

After hitting the "Copy response to clipboard" and pasting the clipboard contents to a text editor, the contents I got:

[code]

The workaround is to select "raw" and then manually click the response panel and select all (CTRL+A) then copy (CTRL+C). This way, the

[2015-07-06 19:16] abhijitkane commented on #1217
Got it. We'll push a fix for this in the next release.

[2015-07-06 19:17] clocklear commented on #1217
Thanks for the promptness!

[2015-07-06 19:21] abhijitkane commented on #1219
Thanks for reporting this - we'll push a fix for this in v3.0.3 of the app.

[2015-07-06 19:30] andersks commented on #1149
I would add one more comment to the UI, that is kind of an irritation. Double scrollbars (yuck).

The response window has scrollbars and so does the main window (Packaged app 3.0.2). It appears that the response panel is not being sized appropriately.

[2015-07-06 19:59] rharmaning opened #1220 "Sync Beta - Imported\Shared Collections not appearing in API Library"
App version (3.0.0.34)
1. Upload a Collection to be Shared\Synced with your Team via the 'Import' button
2. After Success message, view Team Collections screen to see new Collection

expected: newly upload Collection visible and available for subscription by team members

actual: no new Collection appears uploaded.

Note: When Navigating back to the 'Builder' screen and Team Section, the collectio

[2015-07-06 20:03] sobtiankit commented on #1220
HI @rharmaning

You need to explicitly share the collection. Hover over the imported collection, click on the 3 dots and click share. There you'll find the option to share either readonly or editable by anyone within the team.

[2015-07-06 20:23] holandaleo commented on #1166
I got 3.0.2 now and looks like the issue has been fixed. Thx.

[2015-07-06 20:23] #1166 closed, assigned to nobody

[2015-07-06 20:24] sobtiankit commented on #1220
Closing issue. Please reopen if any doubts, or mail us at help@getpostman.com.

[2015-07-06 20:24] #1220 closed, assigned to nobody

[2015-07-06 20:55] mikefadhl commented on #1209
Will this fix be in next release?  When is the next release date?

[2015-07-07 07:17] bartoszj opened #1221 "Override `Content-Type` header field."
When I set body type to `x-www-form-urlencoded` Postman automatically adds `Content-Type` with value `application/x-www-form-urlencoded`. It is not possible to override value of this header from **Heades** section. In my case I've to use `application/x-www-form-urlencoded; charset=utf-8` and I'm unable to set it without setting body type to `raw.`

In my opinion **Headers** values should override

[2015-07-07 08:26] kajo123 commented on #1159
Yep, I'd love this too!

[2015-07-07 12:18] patricksavalle commented on #1013
+1

[2015-07-07 16:21] CNBoland commented on #832
Problem still exists in version 3.0.2 (packaged)

[2015-07-07 16:29] bergeroy opened #1222 "Uncompress response in test script"
Hi,

I would like to use the [zlib.js](https://github.com/imaya/zlib.js) library to uncompress an element from a soap response in a test script.  Is it possible in the javascript sandbox ?

Thanks

[2015-07-07 16:31] abhijitkane commented on #1222
This isn't possible through the UI, but you can use a workaround - https://github.com/postmanlabs/postman-app-support/issues/734#issuecomment-70481732

[2015-07-07 19:37] waderyan commented on #615
I'm still seeing this.

Version 3.0.2 (packaged)
OS: mac
Architecture: x86-64
Native client architecture: x86-64

How to reproduce?
1 - Click Send in Postman

[code]

2 - Observe Http traffic

![image](https://cloud.githubusercontent.com/assets/2449568/8555705/f1e43fd0-24ae-11e5-99e4-04e6307f524c.png)

[2015-07-07 19:46] sameerpanicker opened #1223 "Error - Could not get any response"
I have 2 DIRECT URLs and a VIP for connecting to these URLs. I am using the latest POSTMAN Client. I am successfully able to hit the DIRECT URLs but when I hit the VIP, I get an  error saying
Could not get any response

I am able to connect to many other services using POSTMAN, only this one is failing. I am able to connect this VIP URL successfully using SOAP UI. Please let me know how can I get

[2015-07-07 20:43] cnanney commented on #924
Yeah, "raw" is not really raw when displaying `"Token":"oe0/18uk"` as `"Token":"oe0\/18uk"`

[2015-07-07 20:48] abhijitkane commented on #924
@cameron-fgx @cnanney What version of Postman are you on?

In 3.0.2, a server response of `{"Token":"oe0/18uk"}` is rendered as-is in the raw view and preview.

[2015-07-07 21:11] cnanney commented on #924
My mistake, this is not a Postman problem. Apparently the API is escaping forward slashes in the JSON response, so the actual value of `oe0/18uk` is being returned and displayed as `oe0\/18uk` in Postman raw and preview tab, and `oe0\\/18uk` in pretty.

When I use the "copy response" button from from any view, the escaping is removed and `oe0/18uk` is in my clipboard.

Is there a way for Postman t

[2015-07-07 22:34] richarddavenport opened #1224 "Google OAuth 2.0 clear credentials"
I was able to successfully authenticate against google's api. Postman opened a window and prompted me to pick one of my google accounts, I picked one and it all worked. Now I would like to try with a different google account, but I am not prompted to pick one. Is there somewhere I can clear out my first google account I connected with?

[2015-07-07 23:02] ghost opened #1225 "Feature Request: Documentation Exporter"
If the documentation would be unified/harmonised in some way, an html-export would be awsome.
A perfect example would be something like the swagger-ui: http://petstore.swagger.io/

And btw: A very good buy-argument.

[2015-07-07 23:41] thornycrackers commented on #450
@Cryszon You just saved my day with that comment. Symfony's htaccess file was responsible for changing my posts to gets.

[2015-07-08 14:13] cnanney opened #1226 "Validation errors in Generate Code Snippet function"
I was getting an error when trying to generate certain code snippets, but not with others. In the console I saw a `ValidationError` with the following data:

[code]

I then realized I had a space at the beginning of the URL in the builder, which didn't cause any other problems until I tried to generate code. Maybe trim whitespace from beginning and end of the URL before running the generate code f

[2015-07-08 17:39] vasujain opened #1227 "Subfolder Sync Issue"
Postman sync server does not recognizes sub-folders i have created and started putting all requests under the parent folder. Happened couple of times and even after i have updated / synched the issue persists.

[2015-07-08 20:10] travismcchesney commented on #555
Any update on this? I'm seeing the same thing in, what I guess, is version 3.0.2.

[2015-07-08 20:47] nlwillia opened #1228 "Cookie control with collection runs"
I'm testing with a service that sets an unwanted session cookie in the response.  If I visit that service in Postman, the cookie is being saved and replayed for later requests.

I've identified several ways to submit a new request without the cookie...
1. Implement a reset feature in the service that clears the cookie and request it from Postman before making a new service request from the domain/

[2015-07-08 21:16] richarddavenport commented on #1228
I agree. I would love to be able to see the cookies and clear or edit them.

[2015-07-08 22:05] iansul commented on #1216
I figured out the issue, I was clicking in the "wrong" place.
Looks like you have to click the title of the request, and not the "request-head-icon"

I suggest you move "request-actions-load" class up to the list item &lt;li&gt; so you can click anywhere in the list item.

[code]

[2015-07-08 22:32] b0elter commented on #1228
+1

[2015-07-09 02:26] yeshodhan opened #1229 "History is totally useless if using variables in URL"
History should capture the actual URL rather than displaying the unparsed URL.

<img width="310" alt="screenshot 2015-07-08 19 09 03" src="https://cloud.githubusercontent.com/assets/2785164/8586584/10bc9316-25a5-11e5-9251-eb43823ca269.png">

[2015-07-09 05:20] zhongjixiuxing opened #1230 "Can't export all collection data"
I goto settings page to export my all data, but in true, export first collection data, other collection is can't to export....

[2015-07-09 07:47] abhijitkane commented on #1230
What version of the app are you using?
Also, can you check the console for any errors? http://blog.getpostman.com/2014/01/27/enabling-chrome-developer-tools-inside-postman/

[2015-07-09 08:33] kajo123 commented on #804
+1

[2015-07-09 08:33] kajo123 commented on #803
+1 here too. Would really help with organising large numbers of tests/requests

[2015-07-09 08:34] kajo123 commented on #682
+1 Any update on if/when this might appear? Would love this - would be so helpful! :)

[2015-07-09 08:44] zhongjixiuxing commented on #1230
![image](https://cloud.githubusercontent.com/assets/8935235/8591123/bf2b0cbc-2658-11e5-9e8f-8e855d41a539.png)

[2015-07-09 09:46] abhijitkane commented on #1230
Can you try to update to the latest version and check? (chrome:/extensions -> Enable Developer Mode > Update extensions now)

[2015-07-09 09:53] zhongjixiuxing commented on #1230
i alread is latest version and enable developer mode , the bug issue is not solve....
![image](https://cloud.githubusercontent.com/assets/8935235/8592608/5bb4dcb6-2663-11e5-906d-8c6812fc9262.png)

[2015-07-09 09:54] abhijitkane commented on #1230
The latest version is v3.0.2, not 3.0.0.5. If you click the "Update button" (Under the developer mode checkbox), Postman should update to v3.0.2.

[2015-07-09 10:07] zhongjixiuxing commented on #1230
is ok, thans to your answer...

[2015-07-09 10:17] jussiarpalahti opened #1231 "Keyboard shortcuts for changing tabs in Postman packaged app"
Postman does not seem to honor any of the standard nor non standard keyboard command for changing tabs I could think of. I tested on OS X and Linux, and only way I can change tabs seems to be point and click. Just supporting Ctrl + Tab would go a long way. Is there any option for this?

Also, it would be nice Postman could restore a session including already opened tabs and what not. Chrome does t

[2015-07-09 12:03] cpanato opened #1232 "Update/sync a shared collection"
Hello

there are a way to sync or update a imported shared collection? Today to update I need delete my collection and re-import the shared one.

[2015-07-09 18:17] johnnavarra commented on #1212
add this to the test:
console.log(responseBody);
after all your tests are run you can right click and save to a csv.

[2015-07-09 18:22] johnnavarra opened #1233 "Global Variables are not being read on submission."
Example
url: {{URL}}/Integration/Shops/{{ShopID}}
URL exists as an environment variable
ShopID exists as a global variable

If I generate a code snippet, it populates ShopID within the URL, however actually submitting the url will not work resulting in a 400 Bad Request.

[2015-07-09 19:42] abhijitkane commented on #1233
I have two global variables (no environment selected):
p1 = dump.getpostman.com
p2 = get
Setting the URL to {{p1}}/{{p2}} gives the correct response.
What's the request URL in the network tab of DevTools (http://blog.getpostman.com/2014/01/27/enabling-chrome-developer-tools-inside-postman/)?

[2015-07-09 19:47] johnnavarra commented on #1233
Hmm
It shows as this:
https://qat2-api.motor.com/v1/Selectline/Workflow/Integration/Shops/%011532/Active/Jobs?include=D,E,V

not sure where the %01 is coming from in the url. I'll get back to you. I
think there's somethign wrong with this variable.

On Thu, Jul 9, 2015 at 3:43 PM, Abhijit Kane notifications@github.com
wrote:

##

AIM: obliviouslyaware
ICQ: 5147787
googletalk

[2015-07-09 19:48] #1233 closed, assigned to nobody

[2015-07-09 19:48] johnnavarra commented on #1233
It was a bad variable. Thanks for your help!

On Thu, Jul 9, 2015 at 3:47 PM, John Navarra jnavarra@gmail.com wrote:

##

AIM: obliviouslyaware
ICQ: 5147787
googletalk

[2015-07-09 22:56] #1153 closed, assigned to nobody

[2015-07-09 22:56] ToshioMagic commented on #1153
Works beautifully after update. Thanks!

[2015-07-09 23:03] #923 closed

[2015-07-09 23:04] #921 closed

[2015-07-09 23:05] a85 commented on #919
Duplicat of #424

[2015-07-09 23:05] #919 closed

[2015-07-09 23:09] #955 closed

[2015-07-09 23:10] #937 closed

[2015-07-09 23:10] #940 closed

[2015-07-09 23:11] #949 closed

[2015-07-09 23:13] #1230 closed, assigned to nobody

[2015-07-09 23:16] #1068 closed, assigned to nobody

[2015-07-10 00:02] jezeniel commented on #1200
:+1: for this. I am encountering the same bug with postman 3.0.2

[2015-07-10 00:43] mikefadhl commented on #1200
How can I roll back to 3.0.1?

[2015-07-10 00:58] jetpacksfan commented on #1212
Thank you johnnavarra. Have tried that previously, it works for single request but not for collection.
And actually it's useless in this scenario because for single requests I can directly save contents by 'copy to clipboard' or 'save response' function, while exporting to console I have to find out the contents by filtering the 'log' which is awkward.

[2015-07-10 04:44] abhijitkane commented on #1200
@jezenielzapanta @mikefadhl Have you tried resetting the settings at chrome://flags, and ensuring that Javascript is enabled for all sites?

[2015-07-10 08:55] syney opened #1234 "Srolling Bug"
We are using description in collections. But when its littlebit longer, its not possible sroll that. (Mac - Yosemmite) :/ (Sorry for czech in screenshots)

![snimek obrazovky 2015-07-10 v 10 47 46 2](https://cloud.githubusercontent.com/assets/6173402/8615332/1809c10e-26f2-11e5-9e0a-84d3ba020812.png)
![snimek obrazovky 2015-07-10 v 10 42 42](https://cloud.githubusercontent.com/assets/6173402/861533

[2015-07-10 08:57] syney commented on #1225
Strongly agree, its really good Idea

[2015-07-10 10:26] ghost opened #1235 "Feature request: body request generation according to Swagger service contract"
Hi!

Is there any possibilities (even in non-free version) to generate e.g. body for POST request according to my API contract? I.e. i upload my Swagger contract to Postman and it generates stubs for all requests (like it implemented for GET methods now, URL with stub parameters generated and then values of this parameters may be edited), probably in JSON format (and even converts it to other form

[2015-07-10 11:18] DomDomDomDomDom commented on #1162
JS was enabled, think it might be the lack of the VM running that got it confused. Just thought it worth noting since I couldn't dismiss it after I started up my VM

[2015-07-10 12:47] logbon72 opened #1236 "Request will not terminate"
I tried connecting to a REST API which I'm working on currently working on and the the request continued indefinitely and will not terminate.

On further investigation, I discovered that it was because I had disabled the Interceptor plugin in chrome, but still left the Interceptor on in Postman.

[2015-07-10 12:48] gszeszko opened #1237 "UI doesn't scale on ubuntu"
It appears that UI doesn't scale properly on ubuntu.  Changing Preferences -> Settings -> UI Size has no effect.  The GUI graphics are stack in a huge mode.
![screenshot from 2015-07-10 07 47 59](https://cloud.githubusercontent.com/assets/1662654/8618906/0bff9236-26d8-11e5-88f7-5e0904ed15ad.png)

[2015-07-10 14:06] jezeniel commented on #1200
@abhijitkane yes, i tried resetting the flags and enabled everything. it is just working yesterday.

[2015-07-10 15:43] sameerpanicker commented on #1223
Following up on this..

[2015-07-10 17:24] ppc52776 commented on #1237
I have the same problem, too.

[2015-07-10 20:07] eallenvii opened #1238 "Headers with Pre-request values are not updating"
Hello, i'm working with a api and trying to test out some of its edges and i noticed a couple of things:

1) I cannot see in postman itself what the actual request was (including header values generated, etc), nor can i developer tools
2) When i wireshark the request the header values are very old!  They do not update at all.  The header values i have are dynamic and should regenerated on every re

[2015-07-10 20:31] tmonck commented on #1066
+1 This would be a great feature.

[2015-07-10 20:36] sbutalia commented on #956
I am also experiencing this...

[2015-07-10 21:40] alexmherrmann commented on #1237
Works for me... but
I have to fiddle with the "scale for menu and title bars" a little bit when I switch between 1080P and 4K mode (and vice versa) on my laptop, and usually shut down chrome _completely_ before It returns to normal.
![selection_060](https://cloud.githubusercontent.com/assets/9485711/8629601/d0aea7b6-2719-11e5-86a9-640eca5789be.png)

[2015-07-11 00:01] abhijitkane commented on #1238
You have an async function in the pre-request script section. The pre-request script is executed synchronously, and any the behavior of async callbacks is not defined. When the getScript callback is executed, the request has already been sent.

To add a custom JS file to the sandbox, you can try this - https://github.com/postmanlabs/postman-app-support/issues/734#issuecomment-70481732

[2015-07-11 00:06] abhijitkane commented on #1223
What do you see in the Network tab of the DevTools window? (http://blog.getpostman.com/2015/06/13/debugging-postman-requests/)

Can you try to open the same VIP URL in Chrome? If it shows an SSL error, you might have to import the certificate - http://blog.getpostman.com/2014/01/28/using-self-signed-certificates-with-postman/

[2015-07-11 09:02] #1238 closed, assigned to nobody

[2015-07-11 09:04] abhijitkane commented on #1237
@czardoz Can you try to reproduce this?

[2015-07-11 09:09] abhijitkane commented on #1236
Hm..You can't enable the Interceptor in Postman if it's disabled in Chrome, but once it's enabled in Postman, disabling it in Chrome will lead to this behavior. We'll add a check for this soon.

[2015-07-11 09:13] abhijitkane commented on #1234
Thanks for reporting this - we'll fix the scrolling issue in a future release.

We're working on a more comprehensive collection information section - follow https://twitter.com/postmanclient for updates.

[2015-07-11 09:17] abhijitkane commented on #1232
@ctadeu What version of Postman are you using? I imported a collection which I had exported previously, made a change, and re-uploaded it. The URL reflected the updated content.

[2015-07-11 09:19] abhijitkane commented on #1231
We'll add shortcuts for tab navigation in a future release.

[2015-07-11 09:23] czardoz commented on #1237
I was not able to reproduce this. Here's what I get with all the screen sizes (for all the sizes, the app window was maximized).

Smallest:
![smallest](https://cloud.githubusercontent.com/assets/3726484/8633239/3de18214-27dc-11e5-9661-ba60e7109615.png)

Smaller:
![smaller](https://cloud.githubusercontent.com/assets/3726484/8633242/48f4da02-27dc-11e5-802b-e09adda52433.png)

Default:
![default](http

[2015-07-11 09:24] logbon72 commented on #1236
Yes, that was exactly how it happened, I spent so much time debugging my server application, because I thought that was where the problem was from.

[2015-07-11 09:53] abhijitkane commented on #1228
This is currently a limitation of the Chrome platform - packaged apps do not have access to Cookies that have been set, nor is there a way to edit/delete them. There are 2 bugs filed on crbug - https://code.google.com/p/chromium/issues/detail?id=236585, https://code.google.com/p/chromium/issues/detail?id=152758

Still waiting for a response on these.

[2015-07-11 10:08] abhijitkane commented on #1226
Will fix this in the next release.

[2015-07-11 10:38] abhijitkane commented on #1224
You can enable DevTools (http://blog.getpostman.com/2014/01/27/enabling-chrome-developer-tools-inside-postman/), and enter the following in the console:

`chrome.identity.launchWebAuthFlow({'url': 'https://accounts.google.com/Logout?continue=http://google.com', 'interactive': false}, function(){if (chrome.runtime.lastError) {}});`

[2015-07-11 10:38] #1224 closed, assigned to nobody

[2015-07-11 11:26] abhijitkane commented on #1128
We'll be adding support for this in v3.0.3.

[2015-07-11 11:26] #1128 closed, assigned to nobody

[2015-07-11 11:31] abhijitkane commented on #1209
We'll be pushing v3.0.3 by July 13.

[2015-07-11 15:05] eallenvii commented on #1238
Awesome!  Thank you very much, my hours of googling was failing me hard.

Postman is a great, great product, keep up the good work.

[2015-07-11 15:18] richarddavenport commented on #1224
Sweet. I was wondering how to get the developer tools open for the app. Now I can do it for all packed apps. Thanks!

[2015-07-11 15:38] yaraju commented on #131
@vsimonian ElasticSearch "Scroll & scan" search queries still require GET.If you do a POST they give 0 hits.

I had to switch to CURL to test my "scroll & scan" searches, while I was using Postman for just about everything else that I test out on my ES backend through a proxy.

[2015-07-11 15:46] abhijitkane commented on #1224
Note - In Postman v3.0.2, the Google logout process happens automatically when you click the 'Sign in with Google' button, so you always have the choice of selecting a different account.

[2015-07-12 02:16] cnanney opened #1239 "Feature request: disable clickable URLs in pretty view"
These are pretty useless as they currently are:
1. They open a new Postman tab, not a browser tab.
2. They don't have the same "link" context menu as Chrome, that has some useful options:
   ![image](https://cloud.githubusercontent.com/assets/195134/8636057/736ea076-2811-11e5-96aa-72600275dc2b.png)
3. Makes it hard to select the actual text of the url without clicking the link and opening a new ta

[2015-07-12 11:16] noamtamim commented on #1161
Seems fixed now (with Version: 3.0.2, Updated: July 1, 2015). I'm getting this for the same example:
    curl --request GET \
      --url 'https://nghttp2.org/httpbin/get?p1=v1&p2=v2'

[2015-07-12 15:03] alexzm1 opened #1240 "oauth 1.0a callback field"
The callback field is an optional field for oauth 1.0a authentication, it would be great to support this parameter.

[2015-07-12 15:12] alexzm1 commented on #1240
I've found that this field is even required for 1.0a it is explained in the oauth documentation, point 6.1.1
http://oauth.net/core/1.0a/#auth_step1

[2015-07-12 17:24] reekoheek commented on #327
I have the same problem here, I use Postman downloaded from Chrome WebStore.

The server didn't recognize that postman send the Content-Type header.

[2015-07-13 02:41] ghost opened #1241 "Extension won't install in Windows due to 'to resolve:' filename being invalid"
OS: Windows 8.1
Chrome version: 43.0.2357.132 m

When installing Postman through the Chrome Web Store, I was greeted with the error: "Package is invalid. Details: 'Could not unzip extension'."

Some googling revealed that this can be caused by an invalid filename inside the .crx, so I used http://chrome-extension-downloader.com/ to grab the .crx, then opened it up to find a "to resolve:" file insi

[2015-07-13 02:43] a85 commented on #1241
Thanks! We are looking in into this.

[2015-07-13 02:55] gaslitbytech commented on #752
@eli-b I have the same issue, have you found a solution?

[2015-07-13 03:33] pwae commented on #1241
I have the same issue on Windows 7 as well, same version of Chrome.

[2015-07-13 05:14] abhijitkane commented on #1241
@pwae @raayle We've updated Postman to v3.0.4. Can you try updating/installing now?

[2015-07-13 05:29] ghost commented on #1241
It's working fine now, thanks!

[2015-07-13 05:29] #1241 closed, assigned to nobody

[2015-07-13 09:23] #1074 closed, assigned to nobody

[2015-07-13 09:24] #1127 closed, assigned to nobody

[2015-07-13 14:13] devdrops commented on #1061
Fixed at Version 3.0.4 (packaged).

[2015-07-13 14:13] #1061 closed, assigned to nobody

[2015-07-13 20:45] abhijitkane commented on #1203
@blowsie The latest version supports Angular's anti-XSS prefixes. Can you confirm?

[2015-07-13 20:45] abhijitkane commented on #1209
@mikefadhl v3.0.4 has a fix for this. Can you confirm?

[2015-07-13 21:14] brothhaar commented on #1131
I'm seeing the same thing. I make changes to my local collections and then they disappear shortly after. Pleeeeeease fix.

[2015-07-13 21:15] abhijitkane commented on #1131
@brothhaar Can you send an email to help@getpostman.com with your Postman username?

[2015-07-13 23:38] ex-nerd commented on #822
Since he didn't post it (and I found it helpful), here's a link to @naterkane 's project: https://github.com/naterkane/raml-flattener

[2015-07-13 23:39] mikefadhl commented on #1209
Yes it works now

[2015-07-14 03:20] lantyu opened #1242 "UI issue"
setting tab UI issue :
 Text "Send   anonymous usage data to ..." seems too long. And cover the selective item left.

[2015-07-14 06:59] blowsie commented on #1203
I can confirm this is working on version 3.0.4, windows.

Thank you very much!

[2015-07-14 06:59] #1203 closed, assigned to nobody

[2015-07-14 09:53] spiroskgr opened #1243 "Runner fails to upload a file for a key parameter, although Builder works."
Hello! I am using Postman to perform smoke testing of my API. I have set up the environment and all the keys with their values in the Body and I am checking if the body in a response to a POST contains a specific string. One of the key parameters is a file that I always select before I run the test. BUt, when I run the test through a collection in the Runner, the (.jpg file) file is not uploaded a

[2015-07-14 10:40] abhijitkane commented on #1243
Due to limitations of the Chrome platform, we are unable to save files as part of a collection. This makes it impossible to upload files when using the collection runner.

However, this is possible using Newman (http://npmjs.org/package/newman). You'll have to edit the exported collection a bit, but you'll be able to upload files as part of the collection run - http://blog.getpostman.com/2014/11/1

[2015-07-14 10:40] #1243 closed, assigned to nobody

[2015-07-14 11:29] patricksavalle opened #1244 "Collections are multiplying themselves"
Don't know how or when. Did not try to reproduce, but I notice that while working with Postman my collections are multiplying :)

Very quickly after restarting, they appear again.

<img width="1220" alt="screen shot 2015-07-14 at 13 27 40" src="https://cloud.githubusercontent.com/assets/701331/8672173/29754cb4-2a2c-11e5-9356-12462ba8dbc6.png">

[2015-07-14 11:32] patricksavalle opened #1245 "Feature request: run tests from local folders / store collections locally"
Our workflow uses Git for the scripts. This feature would automatically add Git-support.

[2015-07-14 12:12] abhijitkane commented on #1244
Do you see any errors in the console - http://blog.getpostman.com/2014/01/27/enabling-chrome-developer-tools-inside-postman/?

Signing out and signing back in should restore your app to the correct state.

[2015-07-14 14:38] giannisok commented on #19
export of globals is supported....but not import of globals...
Thanks for the great work anyway!

[2015-07-14 14:41] rbwendt commented on #452
You can just open the network tab in your chrome console and use copy as curl there. The network tab logs postman requests.

[2015-07-14 14:51] rbwendt commented on #615
I'm seeing this too. Interestingly, the second request isn't sending the same headers as the first. In my case, the second request is missing an `Authorization` header.

[2015-07-14 15:25] stantonk commented on #843
+1

[2015-07-14 18:40] mringer opened #1246 "Interceptor installed but Cookies tab still shows "Install free Interceptor...""
New to this app, installed it and the interceptor, which worked briefly then reverted back to the preinstall state. I've un/reinstalled both several times, restarted chrome, the laptop, etc. Not sure what else to try.

Google Chrome   43.0.2357.134 (Official Build) (64-bit)
Revision    8f3081cb09276898e725262e5ca6ec7746757188-refs/branch-heads/2357@{#499}
OS  Mac OS X
Blink   537.36 (@198523)
Java

[2015-07-14 18:49] abhijitkane commented on #1246
Can you go to chrome:/extensions and check what versions of Postman and Interceptor you have?

[2015-07-14 18:50] mringer commented on #1246
Thanks for the quick reply!

Postman 3.0.4
Postman Interceptor 0.2.10

[2015-07-14 18:55] abhijitkane commented on #1246
Hm..the Interceptor is clearly working, as you're able to receive the response with the Interceptor turned on. Not sure why the cookies section isn't detecting the change. Can you try this -

Open the DevTools window for Postman(http://blog.getpostman.com/2014/01/27/enabling-chrome-developer-tools-inside-postman/), go the the Console, and enter this:
`$("#response-cookies-not-found-message").hide(

[2015-07-14 19:05] mringer commented on #1246
OK, so after I entered that, the tab contents switched to the Cookie table header but, with no rows in the table. Sending the same request again reverts the style back to #response-cookies-not-found-message. Strange.

[2015-07-14 19:07] mringer commented on #1246
![screen shot 2015-07-14 at 3 07 04 pm](https://cloud.githubusercontent.com/assets/2614536/8682271/0483a442-2a3a-11e5-8e4b-15d6b944e2b3.png)

[2015-07-14 19:07] abhijitkane commented on #1246
Ah..the Interceptor message displays if there are no cookies in the response. We'll fix this in the next release.
For now, can you make a few GET request to, say, http://google.com and check if the response cookies populate?

[2015-07-14 19:10] mringer commented on #1246
OK, that works I see cookies. Looks like it's working correctly, I was just confused by the empty tab style.

[2015-07-14 19:11] mringer commented on #1246
Thanks for clearing that up for me!

[2015-07-14 19:14] abhijitkane commented on #1246
No problem. Thanks for pointing out the incorrect message.

[2015-07-14 19:14] #1246 closed, assigned to nobody

[2015-07-14 19:56] mkpenrod05 opened #1247 "Clicking through saved responses breaks the UI."
After saving a few responses for any given request, the UI breaks after trying to click through them.

![savedresponseview](https://cloud.githubusercontent.com/assets/4269702/8683424/f8a24930-2a2f-11e5-9975-0b932e6e69ab.png)

Here is capture of the console errors being thrown:

![consoleerrors](https://cloud.githubusercontent.com/assets/4269702/8683437/0fbb72ae-2a30-11e5-8471-662c042ebb87.png)

[2015-07-14 21:27] patricksavalle commented on #1244
I see already duplicate collections right after I import a set of 10 collections. Into an empty Postman. Every time different duplicates.

[2015-07-14 21:28] cnanney opened #1248 "Copy response to clipboard: Uncaught SyntaxError: Unexpected token ."
Response is JSON, renders fine in all views, but get errors when trying to copy to clipboard:

[code]

Reproducable with the following response:

[code]

[2015-07-14 21:29] cnanney commented on #1248
Version 3.0.4 (packaged)

[2015-07-14 21:38] abhijitkane commented on #1244
@patricksavalle Do you see any errors in the console - http://blog.getpostman.com/2014/01/27/enabling-chrome-developer-tools-inside-postman/?
Can you mail the file you're importing to help@getpostman.com?

[2015-07-14 21:43] abhijitkane commented on #1248
Unable to reproduce with the same response.
In the console error, is there a black triangle next to the error which you can use to expand the stack trace?

[2015-07-14 21:49] cnanney commented on #1248
I see that it's hard to reproduce. One request will copy fine, then the next request will throw that error, always the same error.

That's the entirety of the trace:
![image](https://cloud.githubusercontent.com/assets/195134/8686015/385afafa-2a48-11e5-8303-a96784e48583.png)

[2015-07-14 21:54] patricksavalle commented on #1244
No. No errors. The files I am importing are here: https://github.com/mobbr/mobbr-api-tests

What I do is import them all at once.

[2015-07-15 00:05] vsabella opened #1249 "Choose File in Body section does not reload data if file is changed"
Repro steps:
Create a request
Select "Binary" as the body
Choose the file
Submit the file
Edit the file
Submit the file again

Notice how the file data doesn't change.

If you try to choose the same file again, it will also not update. If you choose a different file, then choose the file once more, it updates.

Mac OS X Yosemite 10.10.4

[2015-07-15 00:12] dylantack opened #1250 "OAuth 2 compatibility with Azure Active Directory"
When using Azure AD as an identity provider, I get a puzzling error: "Duplicate headers received from server ERR_RESPONSE_HEADERS_MULTIPLE_LOCATION".

Note, this error message flashes quickly, so I had to make a video recording to capture the screenshot.

![postman_duplicate_headers](https://cloud.githubusercontent.com/assets/106996/8688018/3e2f2962-2a4b-11e5-8fa4-3b9e0c970b55.png)

Here's a HAR a

[2015-07-15 01:41] 42thcoder opened #1251 "How to use an exist request in the pre-request script?"
Let's see,  I got a request called `Create New User`, which is 'POST http://api-server.dev/users'.

I want to call `Create New User` in the pre-request script of another request called `Get User List`.

How can I do this? Can I write code like this ?

[code]

[2015-07-15 01:45] 42thcoder commented on #697
+1

It will change the way we test our API

[2015-07-15 06:54] abhijitkane commented on #1244
https://github.com/mobbr/mobbr-api-tests/blob/master/balances.json,
https://github.com/mobbr/mobbr-api-tests/blob/master/invoices.json,
https://github.com/mobbr/mobbr-api-tests/blob/master/keywords.json,
and https://github.com/mobbr/mobbr-api-tests/blob/master/domains.json all appear to have the same data - namely a collection called 'Mobbr Keywords API Test'

[2015-07-15 07:30] abhijitkane commented on #1251
No, you cannot modify the order of requests using Pre-request scripts. You'll need to order the requests manually in the collection, and then use the collection runner to run all requests in the collection.

We're working on a way to allow changing the request flow at runtime, but we don't have an ETA on this.

[2015-07-15 07:30] #1251 closed, assigned to nobody

[2015-07-15 07:40] ratpik commented on #1011
![postmansyncerror](https://cloud.githubusercontent.com/assets/210420/8693154/8be752c2-2af2-11e5-9f0c-fc8795dde308.png)

I have similar issues. Happens almost every time I need to share a collection. So the only other option is to download, email and ask others to import the collection. It has worked earlier at times, so it is not a firewall issue but mostly the connections just timing out.

[2015-07-15 07:52] ratpik opened #1252 "Scrolling down a response and clicking save on request shows presets menu"
![screenshot from 2015-07-15 13 13 07](https://cloud.githubusercontent.com/assets/210420/8693385/6072e9ce-2af4-11e5-899d-9cd95141c4ed.png)

If I have scrolled down a bit and I try to click on the save/add to collection button next to a request, it actually invokes the `Presets` control which is in the background

[2015-07-15 08:00] abhijitkane commented on #1252
I'm not able to reproduce this. What OS / version of Postman are you using?

[2015-07-15 08:01] ratpik commented on #1252
Version 3.0.4 (packaged)
OS: linux (Ubuntu)
Architecture: x86-64
Native client architecture: x86-64

[2015-07-15 08:07] ratpik opened #1253 "Forever Syncing"
![foreversyncing](https://cloud.githubusercontent.com/assets/210420/8693512/4cab7c3e-2af5-11e5-842e-96c2195ddb1a.png)

Related to the issue of not being able to share a collection. I did see an error message related to the saved response size being too large which might be causing the error and endless loop.

[2015-07-15 08:09] abhijitkane commented on #1253
What version of Postman are you using?

[2015-07-15 09:30] patricksavalle commented on #1244
Really? But still as you see on my screenshot, the other collections /payments multiple too. I will look into the scripts you mentioned. I was still organizing them, but this could explain a lot of my confusion :)

[2015-07-15 09:33] abhijitkane commented on #1244
Do you also see the problem if you import them one at a time?

[2015-07-15 09:33] patricksavalle commented on #1244
I will try to figure this out completely in a few hours!

[2015-07-15 09:36] czardoz commented on #1253
From the previous issue:

[code]

[2015-07-15 10:15] moleksyuk opened #1254 "Sync issue"
Hi,

After a couple of times when my collection was broken again during sync:
1. Disable sync in Chrome App.
2. Go to profile in https://www.getpostman.com/ and removed all collections there.
3. Enable sync in App again.

And it downloaded and duplicated collections!
![screenshot - 15-jul-2015 13_07_45](https://cloud.githubusercontent.com/assets/793472/8696205/18b91b72-2af3-11e5-88e4-20da4366dca5.

[2015-07-15 10:22] abhijitkane commented on #1254
When you disable Sync, your data is not deleted from our servers. A number of users have accidentally disabled Sync only to want their old data back again.

If you re-enable Sync, all your collections will be re-downloaded from the server.

The collections at https://www.getpostman.com/profile/collections are the ones that you uploaded with the 'Upload and get link' functionality. Once you upload

[2015-07-15 10:26] ratpik opened #1255 "Feature Request - Clone an existing request"
Just the request identifiers like headers, url, params, body content. A new tab can open up with the cloned version of the code.

Lots of times I just end up modifying an existing request saved to a collection and then hitting save which basically ends up erasing my original request.

[2015-07-15 10:28] abhijitkane commented on #1255
There's a 'Duplicate' option. You can hover over the request in the sidebar, open the actions menu, and click 'Duplicate'.

[2015-07-15 10:31] moleksyuk commented on #1254
Hi @abhijitkane

How it possible to reset all my collections and sync it from the scratch?

I understand that I can backup my collections manually but it would be great to have automatic backup for it as well. As sync is not stable it will help to restore collections from local backups.

[2015-07-15 10:32] abhijitkane commented on #1254
To check the data that's there in your Sync account, you can logout and log back in. If you feel that your data has not been synced properly, you can take a backup of your data - Settings > Data > Download before you sign out.

This will clear all your collections, and get your data from the server afresh.

[2015-07-15 12:41] invalidred opened #1256 "Feature Request - Tabs should remember the environment they were executed such that going between tabs should remember the correct environment."
Steps
1) On tab 1 run api on "development" environment
2) Open a new tab (tab 2) and run another api on "staging" environment
3) Go back to tab 1, the environment is "staging", it should be "development".

Tabs should remember the environments they were executed under.

[2015-07-15 13:31] marcosgugs commented on #1011
+1

[2015-07-15 14:22] christatedavies opened #1257 "JSON Results Collapse ALL"
I'd love it if there was a shortcut to collapse all the nodes in the body response (for JSON results)

Cheers!

[2015-07-15 14:40] johnnavarra commented on #1257
you should be able to click these:
![image](https://cloud.githubusercontent.com/assets/11891698/8701124/f90490be-2add-11e5-9303-0da3d4f5878e.png)

[2015-07-15 14:53] eli-b commented on #752
@darwindave, there's a new Postman version which fixes this issue, but has another problem so OAuth 2.0 still isn't usable for me.
EDIT: I have no idea what I was talking about. The callback URL is still bad.

[2015-07-15 15:00] spiroskgr commented on #1243
I downloaded Newman in order to be able to download files using the collection runner. However, after trying to run a collection I always receive the following error:

Iteration 1 of 1
stream.js:94
      throw er; // Unhandled stream error in pipe.
            ^
Error: EISDIR, read
    at Error (native)
spyros@spyros-SZ77:~/npm-global/lib/node_modules/newman/bin$

Can you help me on how to proceed

[2015-07-15 15:16] spiroskgr opened #1258 "Newman error "stream.js:94, Error: EISDIR, read at Error (native)""
I downloaded Newman in order to be able to download files using the collection runner. However, after trying to run a collection I always receive the following error:

Iteration 1 of 1
stream.js:94
throw er; // Unhandled stream error in pipe.
^
Error: EISDIR, read
at Error (native)
spyros@spyros-SZ77:~/npm-global/lib/node_modules/newman/bin$

Can you help me on how to proceed? I have not managed t

[2015-07-15 15:18] christatedavies commented on #1257
Thanks, but I am looking for a shortcut to collapse ALL in one click.

[2015-07-15 15:44] sameerpanicker commented on #1223
The problem was due to the Server Certificate installed on the server. The VIP was configured with a particular named certificated. Once I updated the certificate on the server with the correct one, it worked. Thanks for the help above.

[2015-07-15 15:46] #1223 closed, assigned to nobody

[2015-07-15 16:11] invalidred opened #1259 "Hovering over a tab with mouse to close it shows edit "pencil" icon, but it should show close "x" icon"
version: Version 3.0.4 (packaged)

To avoid UI confusion:
Hovering over a tab with mouse to close it shows edit "pencil" icon, but it should show close "x" icon.

![image](https://cloud.githubusercontent.com/assets/5270458/8703330/72b8d990-2aea-11e5-9834-faed09527636.png)

[2015-07-15 16:16] christatedavies commented on #1259
I believe thats to show that you have unsaved changes...

[2015-07-15 16:19] christatedavies opened #1260 "Request: Save on Send"
It'd be nice if there was an option to save the request upon sending it. Possibly a collection/environment setting rather than another button.

Not a biggy, but just would be useful IMO

[2015-07-15 16:23] invalidred commented on #1259
That makes sense, thank you sir.

[2015-07-15 16:23] #1259 closed, assigned to nobody

[2015-07-16 02:02] ratpik commented on #1255
Got it. Thanks!

[2015-07-16 02:02] #1255 closed, assigned to nobody

[2015-07-16 06:34] abhijitkane commented on #1258
Can you refile this in the Newman issue tracker - https://github.com/postmanlabs/newman/issues?

[2015-07-16 06:34] #1258 closed, assigned to nobody

[2015-07-16 06:41] abhijitkane commented on #1252
We haven't been able to reproduce this on Ubuntu. Are you seeing this for every request or only specific ones?

[2015-07-16 06:42] abhijitkane commented on #1253
@ratpik The Syncing... status should disappear after 100 seconds. Are you still seeing this?

[2015-07-16 06:53] abhijitkane commented on #1248
Haven't been able to see this, but the JSON beautifier that we are using might throw errors on valid JSON. We'll push a failsafe in the next release.

[2015-07-16 07:44] abhijitkane commented on #1227
Are you still seeing this? If so, can you send an email to help@getpostman.com with your userID, the request, and the folder which it should be in?

[2015-07-16 07:46] abhijitkane commented on #1226
Fixed in v3.0.4 - @cnanney can you confirm?

[2015-07-16 07:55] abhijitkane commented on #1219
@holandaleo - Can you confirm this fix in v3.0.4?

[2015-07-16 07:57] abhijitkane commented on #1217
@clocklear Can you confirm this fixed in v3.0.4?

[2015-07-16 08:05] #1209 closed, assigned to nobody

[2015-07-16 08:06] abhijitkane commented on #1207
@Rychard - we've fixed the issue in the latest version - v3.0.4. Can you confirm?

[2015-07-16 08:07] abhijitkane commented on #1206
Thanks for reporting this - we'll fix this in the next release.

[2015-07-16 08:12] abhijitkane commented on #1192
@alexandar - Can you confirm this fix in v3.0.4?

[2015-07-16 08:13] abhijitkane commented on #1191
@riyunoa - Can you check if this issue still occurs with v3.0.4 of Postman?

[2015-07-16 08:13] abhijitkane commented on #1186
@gustavohenke @ekor15 @seldauyanik Can you confirm the fix in v3.0.4?

[2015-07-16 08:14] abhijitkane commented on #1182
@ngbrown Can you confirm the fix in v3.0.4?

[2015-07-16 08:17] abhijitkane commented on #1177
Do you have the Interceptor on? 'Date' is a restricted header, and cannot be sent without the Interceptor.

[2015-07-16 08:20] abhijitkane commented on #1175
Thanks for reporting this - we'll push this change in v3.0.5.

[2015-07-16 08:21] abhijitkane commented on #1173
There's no way to import global files right now - we'll integrate this with the environment importer soon.

[2015-07-16 08:23] alexandar commented on #1192
Fixed. Thanks!

[2015-07-16 08:23] #1192 closed, assigned to nobody

[2015-07-16 08:37] abhijitkane commented on #1167
@ksmithmonex Can you confirm this fixed in v3.0.4?

[2015-07-16 08:38] abhijitkane commented on #1162
@DomDomDomDomDom Can you confirm this fixed in the latest version - v3.0.4?

[2015-07-16 08:38] #1161 closed, assigned to nobody

[2015-07-16 08:40] abhijitkane commented on #1160
Redirects are handled by Chrome automatically. If you want to stop automatic redirects, you'll need to enable the interceptor and set the 'Automatically follow redirects' setting to No.

[2015-07-16 08:40] seldauyanik commented on #1186
Fixed.
Prior saved responses can be seen, new save operations can be performed
Thanks

[2015-07-16 08:41] seldauyanik commented on #1186
Thanks

[2015-07-16 08:41] abhijitkane commented on #1156
@DOMcCrea Can you try to upgrade to the latest app (3.0.4)? chrome:/extensions -> Enable developer mode -> Upgrade.

[2015-07-16 08:42] #1186 closed, assigned to nobody

[2015-07-16 08:43] abhijitkane commented on #1154
We'll add a setting for this in a future release.

[2015-07-16 08:45] abhijitkane commented on #1152
@Graham42 can you confirm this fixed in v3.0.4?

[2015-07-16 09:03] #1145 closed, assigned to nobody

[2015-07-16 09:04] abhijitkane commented on #1141
@Chris-thomson can you confirm this fixed in v3.0.4?

[2015-07-16 09:05] abhijitkane commented on #1140
That's thrown by a library being incorrectly loaded, and should not hinder usability.

[2015-07-16 09:06] abhijitkane commented on #1138
Is this still happening with v3.0.4?

[2015-07-16 09:06] abhijitkane commented on #1133
@brentonhouse Can you confirm this fixed in v3.0.4?

[2015-07-16 09:07] abhijitkane commented on #1121
Is this still happening with v3.0.4?

[2015-07-16 09:07] abhijitkane commented on #1122
@mercibe Can you confirm this fixed in v3.0.4?

[2015-07-16 09:08] abhijitkane commented on #1119
@jcvillam Can you confirm this fixed in v3.0.4?

[2015-07-16 09:10] abhijitkane commented on #1118
@Pankaj-Sakariya Can you check with version 3.0.4? There's also a 'UI Scale' setting which scales the whole UI up or down.

[2015-07-16 09:11] abhijitkane commented on #1117
@magneto Can you check if this is still happening with v3.0.4? We haven't been able to reproduce this on Ubuntu/Chromium.

[2015-07-16 09:11] abhijitkane commented on #1116
@Graham42 Is this still happening with v3.0.4?

[2015-07-16 09:15] abhijitkane commented on #1115
We've cleaned up a lot of console log messages in the latest version - 3.0.4.

[2015-07-16 09:15] abhijitkane commented on #1114
Fixed in 3.0.2.

[2015-07-16 09:15] #1114 closed, assigned to nobody

[2015-07-16 09:18] abhijitkane commented on #1111
This is an API limitation - if it does not support file uploads, then there's nothing that Postman can do about it. We'll be able to help if you're able to upload the file using cURL, but not using Postman.

[2015-07-16 09:18] #1111 closed, assigned to nobody

[2015-07-16 09:22] abhijitkane commented on #1108
@MahaSamir Can you confirm this fixed in v3.0.4?

[2015-07-16 09:22] abhijitkane commented on #1106
@vasujain Can you confirm this fixed in v3.0.4?

[2015-07-16 09:23] abhijitkane commented on #1101
@selvakumar0309 Can you confirm this fixed in v3.0.4?

[2015-07-16 09:23] abhijitkane commented on #1099
@fenta23 Can you confirm this fixed in v3.0.4?

[2015-07-16 09:24] abhijitkane commented on #1097
@ocot2 Can you confirm this fixed in v3.0.4?

[2015-07-16 09:25] abhijitkane commented on #1093
@artem-karpenko Are you still seeing this in v3.0.4?

[2015-07-16 09:25] abhijitkane commented on #1092
@johnnn-mitchell @rayjezek Can you confirm this fixed in v3.0.4?

[2015-07-16 09:26] abhijitkane commented on #1086
@yurik Are you able to upload with v3.0.4?

[2015-07-16 09:26] #1083 closed, assigned to nobody

[2015-07-16 09:34] toby-griffiths opened #1261 "Interceptor not found, despite being installed"
When I view the 'Cookies' tab in the response section it tells me I need to install Interceptor, however when I click the link to the Chrome store, it is telling me it already has it installed.

To confirm… both Postman and the Chrome store browser are operating within the same Chrome user session (can tell from Xdebug cookie settings used).

Any help getting this to work would be appreciated :o)

[2015-07-16 09:37] selvakumar0309 commented on #1101
Hi there, yes it is fixed in v3.0.4

Thankyou

Sent from my iPhone

[2015-07-16 09:37] tomibennett commented on #1117
can't test right now on Mac but it's working perfectly on Arch/Chromium. I keep you up to date on Mac ASAP

[2015-07-16 09:37] #1101 closed, assigned to nobody

[2015-07-16 09:38] abhijitkane commented on #1261
You also need to enable the Interceptor in Postman - icon on the top right (to the left of your username)
Note - If you are not receiving any cookies in the response, the 'Install Interceptor' message is shown. We will fix this part of the UI soon.

[2015-07-16 09:57] Chris-thomson commented on #1141
Hey Abhijit,

How do i get my hands on v3.0.4 as my current version is v3.0.0.36
(packaged)

On 16 July 2015 at 10:04, Abhijit Kane notifications@github.com wrote:

##

_Many Thanks_
_Chris Thomson_
Test Analyst

---

_Crunch_

web: _www.crunch.co.uk http://www.crunch.co.uk/_

twi: @teamcrunch

tel: +44 (0) 33 3311 8001

fax: +44 (0) 33 3311 8002

---

Let Crunch say thank you - _get £50_ for ever

[2015-07-16 09:58] ruslanix commented on #1200
Same problem with version 3.0.4
I can dismiss "Lack of javascript support", but "Send" button doesn't work.
I've reset all chrome://flags and Javascript enabled for all Sites in chrome://settings->Advanced Settings->Content->Java script

Ubuntu: 12.04
Postman: 3.0.4

Chromium    33.0.1750.152 (Developer Build 256984) Ubuntu 12.04
OS  Linux
Blink   537.36 (@169182)
JavaScript  V8 3.23.17.23
Flash

[2015-07-16 09:58] astinnos commented on #1167
The runner no longer hangs, however it is still not behaving as expected when using null values. The  property being set to null is set with a string value of "null"

[code]

becomes

[code]

[2015-07-16 10:05] ratpik commented on #1252
Every request.

[2015-07-16 10:30] abhijitkane commented on #1141
3.0.0.36 is the latest team sync version. On prod, it's 3.0.4.

Are you seeing the issue on 3.0.0.36?

[2015-07-16 10:38] johnnavarra commented on #1138
Confirmed fixed

On Thu, Jul 16, 2015, 05:06 Abhijit Kane notifications@github.com wrote:

[2015-07-16 10:38] #1138 closed, assigned to nobody

[2015-07-16 10:54] subramaniank commented on #1160
Haven't tried enabling the interceptor, will try it during the weekend. But the problem is not that the redirect is happening. The problem is that the  redirect carries headers from the original request. Is that expected ?

[2015-07-16 11:00] abhijitkane commented on #1160
Without the Interceptor, the Postman app doesn't know that the redirect is happening. Chrome handles the redirect and sends the final response to Postman.

[2015-07-16 11:27] abhijitkane commented on #1200
This might be due to a race condition in the way jQuery is loaded. We'll push a fix for this soon.

[2015-07-16 11:28] abhijitkane commented on #1071
Sorry for the delay on this. The source code from the repo needs to be built to create a Chrome app. For now. You can take the built app from C:\Documents and Settings*UserName*\Local Settings\Application Data\Google\Chrome\User Data\Default\Extensions\fhb...

If you don't find the app folder there, you can check the path here - http://stackoverflow.com/a/14544700/384155

[2015-07-16 11:33] abhijitkane commented on #1067
This shows a 'No response received' message now - v3.0.4.

[2015-07-16 11:33] #1067 closed, assigned to nobody

[2015-07-16 11:35] abhijitkane commented on #1062
User-Agent is a restricted header. You need to use the Interceptor to send it - http://blog.getpostman.com/2014/02/11/postman-v0-9-6-access-cookies-and-restricted-headers-plus-better-testing/

[2015-07-16 11:35] #1062 closed, assigned to nobody

[2015-07-16 11:36] abhijitkane commented on #1060
There's a Language detection setting in the Settings modal which you can set to JSON. Other than that, Postman sets the default type depending on the Content-Type header that's sent by the server.

[2015-07-16 11:36] #1060 closed, assigned to nobody

[2015-07-16 11:37] abhijitkane commented on #1058
@akloeber Are you still seeing this issue in v3.0.4?

[2015-07-16 11:38] abhijitkane commented on #1053
@jacob-israel-turner Can you confirm this fixed in v3.0.4?

[2015-07-16 11:39] abhijitkane commented on #1052
@adam-vioozer Can you confirm this fixed in v3.0.4?

[2015-07-16 11:41] mercibe commented on #1122
Yes, it is fixed!  I forgot to mention it after I happily discovered it
few days ago, sorry. The only difference with previous versions is that
collections and folders containing filter matches stay closed if they
are closed when applying filter. I think that the initial default
behavior of always opening collections and folders when a least one of
their children matches the filter is better from

[2015-07-16 11:41] #1122 closed, assigned to nobody

[2015-07-16 11:43] abhijitkane commented on #1050
@dmillman The `request.data` property is available in the pre-request script sandbox. Can you confirm?

[2015-07-16 11:53] abhijitkane commented on #1049
Thanks for pointing this out - we'll fix this in the next release.

[2015-07-16 11:54] abhijitkane commented on #1048
Are you still seeing this in v3.0.4 of Postman?

[2015-07-16 12:05] #1045 closed, assigned to nobody

[2015-07-16 12:06] abhijitkane commented on #1033
@NoScopie @finalight Are you still seeing this issue?

[2015-07-16 12:07] abhijitkane commented on #1032
@pluttrell Can you confirm this fixed in v3.0.4?

[2015-07-16 12:07] abhijitkane commented on #1029
@iki Are you still facing this issue? Users have been able to install the app w/o a problem.

[2015-07-16 12:09] finalight commented on #1033
i still do see it sometimes and I don' tknow why it keep asking me to force resync

because of that reason, i lost quite a few end points that I've made so far

I'm the only one using the POSTMAN client (one man team) and yet I have this problem

[2015-07-16 12:10] abhijitkane commented on #1033
@finalight Can you try signing out and signing back in? You should take a backup (Settings > Data > Download) before you sign out if you feel some data might not have been synced properly.

[2015-07-16 12:12] abhijitkane commented on #1026
$.getScript's callback is asynchronous, and is not guaranteed to execute before the request runs. To include custom files in the sandbox, use https://github.com/postmanlabs/postman-app-support/issues/734#issuecomment-70481732

[2015-07-16 12:12] #1024 closed, assigned to nobody

[2015-07-16 12:15] abhijitkane commented on #1021
Not able to reproduce. @toadicusrex  Are you still seeing this with v3.0.4?

[2015-07-16 12:16] abhijitkane commented on #1016
@edwardsamuel Are you still seeing this in v3.0.4?

[2015-07-16 12:17] #1003 closed, assigned to nobody

[2015-07-16 12:17] abhijitkane commented on #1002
@jonathanfenwick Sorry for the delay. Are you still seeing this in v3.0.4?

[2015-07-16 12:20] abhijitkane commented on #996
Chrome app platform restriction - cannot include a body with GET requests

[2015-07-16 12:20] abhijitkane commented on #994
@rspilker Are you still seeing this in v3.0.4?

[2015-07-16 12:21] #990 closed, assigned to nobody

[2015-07-16 12:21] #987 closed, assigned to nobody

[2015-07-16 12:22] abhijitkane commented on #985
@hitsuji This is a limitation of the Chrome packaged app platform. v3.0.4 of the app has a 'UI Scale' setting in the Settings modal. Does that help?

[2015-07-16 12:23] abhijitkane commented on #977
v1.2.17 of Newman has the -r option
Thanks @digital-abyss!

[2015-07-16 12:23] #977 closed

[2015-07-16 12:24] #970 closed

[2015-07-16 12:25] abhijitkane commented on #956
@sbutalia @Cakez0r Are you still seeing this with v3.0.4?

[2015-07-16 12:26] TheBabaYaga commented on #1033
@abhijitkane I am using the beta version now and there the syncing is even worse, requests get deleted, requests are moved, etc etc... but I just export to json atm

[2015-07-16 12:28] abhijitkane commented on #947
@hanyghazal Are you still seeing this in v3.0.4?

[2015-07-16 12:29] abhijitkane commented on #939
@kylestittleburg Can you confirm this fixed in v3.0.4?

[2015-07-16 12:31] abhijitkane commented on #933
@amoerie Can you confirm this fixed in v3.0.4?

[2015-07-16 12:37] artem-karpenko commented on #1093
Huh, now it's adding two more slashes to it:

[2015-07-16 12:39] abhijitkane commented on #918
@joeashcraft Can you confirm this fixed in v3.0.4?

[2015-07-16 12:40] abhijitkane commented on #913
@cnanney Can you confirm this fixed in v3.0.4?

[2015-07-16 12:40] abhijitkane commented on #912
--xml2Json function added in both Postman and Newman--

[2015-07-16 12:40] #912 closed

[2015-07-16 12:40] abhijitkane commented on #901
@abadyan Can you confirm this fixed in Interceptor v0.2.10 and Postman v3.0.4?

[2015-07-16 12:43] abhijitkane commented on #899
@stevemcmillen Can you confirm this fixed in v3.0.4?

[2015-07-16 12:43] abhijitkane commented on #898
@stevemcmillen Can you confirm this fixed in v3.0.4?

[2015-07-16 12:45] #876 closed

[2015-07-16 12:46] abhijitkane commented on #873
@ewaltman Are you still seeing this in v3.0.4?

[2015-07-16 12:47] abhijitkane commented on #846
@rmdaustin Can you confirm this fixed in v3.0.4?

[2015-07-16 12:50] abhijitkane commented on #811
@T-Boss Can you confirm this fixed in v3.0.4 of the app?

[2015-07-16 12:51] abhijitkane commented on #806
@cnanney Can you confirm this fixed in v3.0.4?

[2015-07-16 12:53] abhijitkane commented on #787
Variables are created from test scripts, and based on dynamic data. This could be a breaking change for many test cases.

[2015-07-16 12:54] abhijitkane commented on #778
@itsrob Unknown codes show 'Unknown' in the latest version.

[2015-07-16 12:54] #778 closed

[2015-07-16 12:56] dhiva commented on #739
Could we also please get client crediential grant type implemented?

[2015-07-16 12:59] bitdozer commented on #846
It now works for one header per request.  But after toggling one, I can't toggle it back or toggle any other header until I submit the request.

In this demonstration I click on Authorization, and then try clicking on it again, or any other header.  None of the clicks take effect.

https://www.dropbox.com/s/xeq0dw8dqdkkl4k/2015-07-16_7-53-59.mp4?dl=0

[2015-07-16 12:59] jmisur commented on #383
May I ask for status of this Git-based sync? Is it completely disregarded in favour of money-making Team Sync feature?

[2015-07-16 13:00] abhijitkane commented on #846
That's odd - can you check the console for any errors (http://blog.getpostman.com/2014/01/27/enabling-chrome-developer-tools-inside-postman/)?

[2015-07-16 13:00] dhiva opened #1262 "Feature request: Support to use saved response in testing script"
At present, Postman allows us to store the response of an API as a reference. It would be great if we could use this saved response in the test scripts to compare/check the entire response.

[2015-07-16 13:01] amoerie commented on #933
Looking good from my end! Thanks!

[2015-07-16 13:01] #753 closed

[2015-07-16 13:01] #933 closed

[2015-07-16 13:02] abhijitkane commented on #747
@yehosef Can you confirm the fix in v3.0.4?

[2015-07-16 13:04] abhijitkane commented on #748
@nathan-osman Can you confirm the fix in v3.0.4?

[2015-07-16 13:37] ecaldwell commented on #1060
That did the trick, thanks!

[2015-07-16 13:44] ecozoic commented on #1092
Yes I updated/re-installed, restarted my PC and everything is working fine
for me. Thanks!

On Thu, Jul 16, 2015 at 5:25 AM, Abhijit Kane notifications@github.com
wrote:

[2015-07-16 14:17] bitdozer commented on #846
After doing that and restarting Postman I find that I cannot uncheck any header until after I run the request once.  Then I can uncheck one header, but must run the request to make any further header activations/deactivations.  Here's the log:

![postman-console-2015-07-16_9-14-23](https://cloud.githubusercontent.com/assets/7613458/8725713/6133971c-2b9b-11e5-9b1e-bee514b48029.jpg)

[2015-07-16 14:59] Cakez0r commented on #956
Hi @abhijitkane,

We spoke via email about this issue. It turned out that our collection exporter tool was not generating the "order" field at the collection level. After fixing this problem with our exporter, this issue was resolved for us.

Our (broken) collection file was:

[code]

which you advised me to change to

[code]

[2015-07-16 15:11] finalight commented on #1033
Already did many times but it still doesn't work
And yes I force resync several times since the first time resync fails
appears

On Thursday, 16 July 2015, Abhijit Kane notifications@github.com wrote:

[2015-07-16 15:22] rex commented on #1173
@abhijitkane Awesome, sounds great! Thanks for letting me know :smiley:

[2015-07-16 15:34] akloeber commented on #1058
Meanwhile it works.

[2015-07-16 15:38] Graham42 commented on #1152
Confirming fixed

[2015-07-16 15:38] #1152 closed, assigned to nobody

[2015-07-16 15:40] Graham42 commented on #1116
Appears to be fixed

[2015-07-16 16:01] rayjezek commented on #1092
yep works like a charm now!
thanks!

[2015-07-16 16:32] #1092 closed, assigned to nobody

[2015-07-16 16:32] #1116 closed, assigned to nobody

[2015-07-16 16:32] #1058 closed, assigned to nobody

[2015-07-16 16:34] abhijitkane commented on #956
Got it, didn't connect the email chain with this issue. Thanks.

[2015-07-16 16:34] #956 closed

[2015-07-16 16:56] holandaleo commented on #1219
Yeah. Just got v3.0.4 now. Thx.

[2015-07-16 16:57] cnanney commented on #806
I have not seen this issue in v3.0.4.

[2015-07-16 16:57] #806 closed

[2015-07-16 16:58] sbutalia commented on #956
@abhijitkane

This happened after upgrading so the collection already existed and I haven't changed anything.

[2015-07-16 16:58] cnanney commented on #913
This is fixed in v3.0.4.

[2015-07-16 16:58] #913 closed

[2015-07-16 17:00] PrinceNebulon commented on #811
Kind of. The second request doesn't fail or get stuck anymore, but it appears that Postman is queuing them to execute sequentially when interceptor is on. If I turn interceptor off, they both execute in parallel in the expected amount of time.

Screenshot below. The upper/back window is the request sent first. The lower/front window is the second request that was sent immediately following the fir

[2015-07-16 17:02] rspilker commented on #994
I don't know how to see the version number. I am using a v3. Just tested it. My reproduction recipe:
- "Send" a GET without any headers etc. to `https://github.com/postmanlabs/postman-app-support/issues/994#issuecomment-121942004`
- Look at the resulting Body in Pretty view.

Most of the `<meta>` tags on that page are not closed, resulting in increased indentation levels. Actually, the same goes f

[2015-07-16 17:02] cnanney commented on #1226
Yup, fixed in v3.0.4.

[2015-07-16 17:02] #1226 closed, assigned to nobody

[2015-07-16 17:06] #1219 closed, assigned to nobody

[2015-07-16 17:07] abhijitkane commented on #811
That's a current limitation of the Interceptor - we'll fix that in a later release.

[2015-07-16 17:30] nturnley opened #1263 "Request: Close all tabs"
I find the tabs feature completely useless after I have made 20 or so requests and to get it back to a useful state I have to individually close each tab. it would be great to have a close all option.

[2015-07-16 17:31] vasujain commented on #1106
Hi @abhijitkane This issue has been resolved. Folder sort is working as expected. Thank you for fixing it. :+1:

[2015-07-16 17:31] #1106 closed, assigned to nobody

[2015-07-16 17:34] vasujain commented on #1227
Hi @abhijitkane i had to do a force sync and have lost a couple of folders. possibly sync was in a bad state or was stuck. Since then i have not experienced this issue.

[2015-07-16 17:34] #1227 closed, assigned to nobody

[2015-07-16 17:53] benjaminjones commented on #757
+1

[2015-07-16 19:25] ghost opened #1264 "View and save responses generated by Runner"
It would be great if Postman could save (for visual inspection) the responses generated by Runner when executing tests for collections.

[2015-07-16 19:32] bandtank commented on #1262
+1 I really want to be able to do this as well. VRest has this option and it is absolutely essential. VRest also allows very easy regex manipulation to ignore parts of the response that may change, e.g. timestamps.

[2015-07-16 19:41] ghost opened #1265 "Edit requests listed after Runner execution"
Runner lists all requests it executed and shows if they passed or failed.

It would be great if I could click on any of the failed requests to edit/fix them and still be able to go back to the list to find and fix the failed requests.

[2015-07-16 19:50] bandtank opened #1266 "use a saved response in a test"
I saved a response in an attempt to use it as part of a test. Is this possible? If so, how do you do it? I searched google and this repo for a while, but I haven't been able to find an answer.

[2015-07-16 20:41] kcd83 commented on #1154
Excellent, many thanks
On 16/07/2015 8:43 PM, "Abhijit Kane" notifications@github.com wrote:

[2015-07-16 22:14] bandtank commented on #1260
+1 This can be very annoying.

[2015-07-16 22:45] #1194 closed, assigned to nobody

[2015-07-16 22:45] #554 closed

[2015-07-16 22:46] #769 closed

[2015-07-16 22:46] a85 commented on #769
JS limitation right now.

[2015-07-16 23:07] a85 commented on #1009
Would request users to post here so that the Chrome team can escalate the severity of the issue: https://code.google.com/p/chromium/issues/detail?can=2&start=0&num=100&q=window%20switching%20cr%3DPlatform-Apps&colspec=ID%20Pri%20M%20Stars%20ReleaseBlock%20Cr%20Status%20Owner%20Summary%20OS%20Modified&groupby=&sort=&id=504650

[2015-07-16 23:12] d-floyd commented on #1163
I have the same issue. It makes it very hard to use the application. I know the buttons are there.. but I have to click around randomly until it finally lands.

[2015-07-16 23:13] a85 commented on #1163
Seems to be a problem with SVG rendering for Windows. @d-floyd Can you tell me the version you are on?

[2015-07-16 23:24] d-floyd commented on #1163
3.0.4 version of postman
Version 43.0.2357.134  of Chrome.

From: Abhinav Asthana [mailto:notifications@github.com]
Sent: Thursday, July 16, 2015 6:14 PM
To: postmanlabs/postman-app-support
Cc: Floyd, Dawna
Subject: Re: [postman-app-support] No Font Icons (#1163)

Seems to be a problem with SVG rendering for Windows. @d-floydhttps://github.com/d-floyd Can you tell me the version you are on?

—
Rep

[2015-07-17 03:01] edwardsamuel commented on #1016
@abhijitkane Nope. Looks good now.

[2015-07-17 03:01] #1016 closed, assigned to nobody

[2015-07-17 03:31] #721 closed

[2015-07-17 03:31] #702 closed

[2015-07-17 03:32] #673 closed

[2015-07-17 03:32] #667 closed

[2015-07-17 03:33] a85 commented on #766
Available in the latest version I believe.

[2015-07-17 03:37] #809 closed

[2015-07-17 03:37] #787 closed

[2015-07-17 03:38] #848 closed

[2015-07-17 03:40] a85 commented on #936
This is available with Postman Sync in version 3.0. :)

[2015-07-17 03:40] #936 closed

[2015-07-17 03:41] a85 commented on #930
We will be announcing browser agnostic versions soon. That's a much better way forward than dealing with browser specific issues.

[2015-07-17 03:41] #930 closed

[2015-07-17 03:42] #972 closed

[2015-07-17 03:46] abhijitkane commented on #766
@rbnzdave Can you confirm? (The latest version is 3.0.4)

[2015-07-17 03:47] abhijitkane commented on #846
Right. We were able to reproduce this. Will push a fix in the next release.

[2015-07-17 05:13] #1078 closed, assigned to nobody

[2015-07-17 05:14] #1094 closed, assigned to nobody

[2015-07-17 09:05] abadyan commented on #901
Looks like it works now, thanks (Y)

[2015-07-17 09:06] #901 closed

[2015-07-17 09:38] iki commented on #1029
@abhijitkane Yes, I do. Can't you reproduce it in latest dev-channel chrome 45.0.2454.6?

Your users mostly don't use the dev-channel, which only means the issue will hit them in few months.

[2015-07-17 10:25] amosshapira commented on #131
RFC or no RFC - what's the argument against allowing GET with a body? I'm here for ElasticSearch too (paying postman customer BTW), and fail to see what's wrong with letting people use it.
ElasticSearch feels that it's nicer to enable GET with a body because it's supposed to be a query operation which doesn't change anything on the server, think SQL "SELECT" vs. "INSERT"/"UPDATE".

[2015-07-17 10:30] abhijitkane commented on #131
There's no restriction from Postman, but Chrome's XHR object does not include bodies for GET requests, even if you include it in xhr.send().

[2015-07-17 10:35] amosshapira commented on #131
Thanks for the clarification @abhijitkane, that would be a blocker...

[2015-07-17 11:50] ppc52776 commented on #1170
I also need compact mode. Voted.

[2015-07-17 15:36] merlin910 opened #1267 "URI links in the response body are not working in 3.0+"
Prior to the 3.0 release I have been consuming a REST api that could contain the following in the response body.

"Model": {
          "Uri": "/Model/bf77f032-39d0-4fcf-b2e1-98c909cfc5db",
          "Rel": "rel",
          "Method": "GET",
          "Type": "ModelDetailModel"
        }
One very useful feature was the ability to click the /Model/bf77f032-39d0-4fcf-b2e1-98c909cfc5db and postman woul

[2015-07-17 15:36] merlin910 opened #1268 "URI links in the response body are not working in 3.0+"
Prior to the 3.0 release I have been consuming a REST api that could contain the following in the response body.

"Model": {
          "Uri": "/Model/bf77f032-39d0-4fcf-b2e1-98c909cfc5db",
          "Rel": "rel",
          "Method": "GET",
          "Type": "ModelDetailModel"
        }
One very useful feature was the ability to click the /Model/bf77f032-39d0-4fcf-b2e1-98c909cfc5db and postman woul

[2015-07-17 15:51] #1268 closed, assigned to nobody

[2015-07-17 16:24] dmillman commented on #1050
Still doesn't work when dataMode === "binary"

[2015-07-17 16:29] abhijitkane commented on #1050
Ah..forgot this was only for binary data. That's too large to be read into Postman directly. Allowing access to the entire uploaded file makes it impossible to upload large files. Will need to wait till we figure out a better way of doing this.

[2015-07-17 16:29] dmillman opened #1269 "Write access to the request object in the pre-request script"
The request object is available in the pre-request script, but it's read-only.

I want to calculate the hash of my request.data to populate the Content-MD5 header, but I can't change the header in the pre-request script.

Is it possible to change this?

[2015-07-17 16:30] abhijitkane commented on #1269
You can use variables for this. Set the header to {{hash}}, compute the hash in your pre request script, and set postman.setGlobalVariable("hash", CALCULATED_HASH);

[2015-07-17 22:05] #736 closed

[2015-07-17 22:05] a85 commented on #733
@abhijitkane Is this handled through AceEditor now?

[2015-07-17 22:07] a85 commented on #770
Closing as duplicate of #1009. @msubel That's a great hack!

[2015-07-17 22:07] #770 closed

[2015-07-17 22:08] a85 commented on #833
Closing this as duplicate of #1009

[2015-07-17 22:08] #833 closed

[2015-07-17 22:10] a85 commented on #899
Seems to be working now.

[2015-07-17 22:10] #899 closed

[2015-07-17 22:11] a85 commented on #893
This is available in Postman 3.0.

[2015-07-17 22:11] #893 closed

[2015-07-17 22:13] a85 commented on #981
This can be quite tricky so we'll take a pass on this. Whenever we change user input, this causes tests to break.

[2015-07-17 22:13] #981 closed

[2015-07-17 22:13] a85 commented on #967
Any specific reason you would need this?

[2015-07-17 22:15] a85 commented on #1185
Unfortunately no. The problem with the existing Send button was that it would jump up/down with the rest of the interface. With large request bodies, this would be a huge pain. You can use the 'Enter' or 'Cmd+Enter' shortcuts if moving the mouse to the edge is a pain.

[2015-07-17 22:15] #1185 closed, assigned to nobody

[2015-07-17 22:17] a85 commented on #1174
You would need to set the proxy in your operating system if you haven't done that so.

[2015-07-17 22:32] a85 commented on #1267
We are looking into this.

[2015-07-17 22:33] #1182 closed, assigned to nobody

[2015-07-17 22:34] #1133 closed, assigned to nobody

[2015-07-17 22:36] #764 closed

[2015-07-17 22:36] #319 closed

[2015-07-17 22:38] #747 closed

[2015-07-17 22:38] a85 commented on #1188
That's weird. What's the size of the file that you are uploading?

[2015-07-17 22:41] joeashcraft commented on #918
Hooray! The file imported successfully!

[2015-07-17 22:41] a85 commented on #918
Awesome. :)

[2015-07-17 22:41] #918 closed

[2015-07-17 23:43] a85 commented on #1225
Closing as duplicate of #204. This is on it's way!

[2015-07-17 23:43] #1225 closed, assigned to nobody

[2015-07-17 23:44] a85 commented on #718
Postman now uses AceEditor's "Find" features. We might augment this with search counts but should work pretty well for now.

[2015-07-17 23:46] a85 commented on #686
History is already excluded from data dumps right now.

[2015-07-17 23:46] #790 closed

[2015-07-17 23:47] a85 commented on #854
Should be fixed in version 3.0+.

[2015-07-17 23:47] #962 closed

[2015-07-17 23:48] #963 closed

[2015-07-17 23:48] a85 commented on #942
If you have changed a request but haven't saved it, Postman would open a new tab for you. This would prevent you from losing changes.

[2015-07-17 23:48] #942 closed

[2015-07-17 23:49] a85 commented on #941
You can force Postman to use JSON through Settings > Language Detection.

[2015-07-17 23:49] #941 closed

[2015-07-17 23:50] a85 commented on #900
We recommend joining the Postman Sync beta that would provide seamless sharing. Details here: www.getpostman.com/beta. Sync to Github is also on it's way.

[2015-07-17 23:50] #900 closed

[2015-07-17 23:51] a85 commented on #1130
You can export test results inside the Collection Runner. The data is available as a JSON file. Let me know if you are not able to find this out. Being used by a lot of users to integrate with their existing reporting systems.

[2015-07-17 23:51] #1130 closed, assigned to nobody

[2015-07-17 23:52] a85 commented on #1018
Closing as a duplicate of #363

[2015-07-17 23:52] #1018 closed, assigned to nobody

[2015-07-18 20:22] a85 commented on #1261
@abhijitkane Interceptor can communicate to Postman using chrome messaging. After the Interceptor is installed, it did send a message back to Postman.

[2015-07-19 04:27] abhijitkane commented on #1261
If the Interceptor is enabled, but the response doesn't return any cookies, the response cookies tab shows the "Install Interceptor" message. This has to be fixed.

[2015-07-19 22:29] a85 commented on #1261
Ok. Adding this as a bug.

[2015-07-20 07:31] cvmocanu opened #1270 "curl: single quotes not properly escaped"
This is a follow up of #1161.

Simply putting single quotes around everything is not enough.

The following bash command, generated by Postman, is invalid:

[code]

Note that the single quote in `Cristian's piano lessons` is ending the bash string. Single quotes like this needs to be escaped.

Bash has really strage escape rules.
To escape a single quote, you need to close the previous string (wit

[2015-07-20 11:06] abhijitkane commented on #1267
We'll be pushing a fix for this in the next release

[2015-07-20 11:13] abhijitkane commented on #1261
Will push a fix in the next release

[2015-07-20 11:24] abhijitkane commented on #1167
All values in the data files are stringified when they're replaced in the request.
If you don't want a value to be replaced, you'll have to remove it from the data file.

Note that `data.key` will be `null`, not `"null"` in the pre-request and test script sandbox.

[2015-07-20 11:26] #1140 closed, assigned to nobody

[2015-07-20 11:29] #1052 closed, assigned to nobody

[2015-07-20 11:29] #1053 closed, assigned to nobody

[2015-07-20 11:31] abhijitkane commented on #1040
The current Chrome app platform prevents us from saving a handle to the file with the request.

[2015-07-20 11:32] #1032 closed, assigned to nobody

[2015-07-20 14:48] astinnos commented on #1167
Removing the value from the test file does not work either. The property is set to the string value of the placeholder.

In the previous example the "testfield" property value becomes "{{testfield}}"  if i leave the property out of the json object in my test file

[2015-07-20 15:04] jacob-israel-turner commented on #1053
@abhijitkane Sorry for the late response, crazy week.  I can't remember the exact original context, but I just tested receiving false in every imaginable way and they were all handled correctly.  Looks good! :+1:

[2015-07-20 16:41] toadicusrex commented on #1021
No, it seems to be fixed.  Awesome!  Thank you!

On Thu, Jul 16, 2015 at 6:15 AM, Abhijit Kane notifications@github.com
wrote:

[2015-07-20 17:36] #1021 closed, assigned to nobody

[2015-07-20 21:23] a85 commented on #1009
This seems to be a deep problem with the Chrome app platform. Details here: https://code.google.com/p/chromium/issues/detail?id=308382

[2015-07-20 21:28] Perfectfire opened #1271 "Requests Clicked on Left Sidebar Open in Separate Tabs when associated setting is set to "No""
Hello everyone,

I recently updated to Postman Packaged App v.3.0.4.

After viewing the new setting descriptions here https://www.getpostman.com/docs/settings,
I believe when "Open history/collection requests in a new tab" option is set to "No",
it means that requests should not continue to open in separate tabs.

I see this behavior work as expected upon clicking on the first 2-3 requests, but up

[2015-07-20 23:34] jetpacksfan opened #1272 "New tabs randomly created"
HI there,
I've written tens of requests in several collections of my POSTMAN.

I found that when tapping on the requests one after another on the left pane (without actually sending requests), a new request tab might appear. When closing the tab, a window pops up asking me to save or cancel the change to the request (but actually I make no change to the request)

This becomes annoying because new

[2015-07-20 23:35] a85 commented on #1272
Thanks for the bug report. We are looking into this. Other users have reported the issue too and we'll push a fix asap.

[2015-07-21 04:54] birbird opened #1273 "Can't post form-data, but ruby and nodejs works"
I dig this for a long time and found that it may not be my server problem.
I have used the postman inteceptor. And remove the restricted http headers and without postman interceptor, the result is the same.

The http code generated by postman:

[code]

When post the data to my server, the server does not get the data and throws

[code]

But if I run the ruby and nodejs code generated by postman, t

[2015-07-21 05:14] abhijitkane commented on #1273
@birbird Can you try choosing 'x-www-form-urlencoded' instead of form-data?

[2015-07-21 06:00] birbird commented on #1273
@abhijitkane Thanks for your quick reply.
I can use x-www-form-urlencoded if I remove the picture field, it works well.
But if I want to do a full test including all fields, I still have to use form-data.

[2015-07-21 10:44] jussiarpalahti commented on #1231
OK, thank you. Good to know!

[2015-07-21 11:40] paolobiavati opened #1274 "Many Synch problems ?..."
I have many many many synch error...

[2015-07-21 11:44] abhijitkane commented on #1274
@paolobiavati Can you send an email to help@getpostman.com with your Postman username and the exact issue you are facing?

[2015-07-21 13:32] kstittleburg commented on #939
Confirmed fixed, it's working fine for me in 3.0.4

[2015-07-21 14:10] blowsie commented on #1264
+1 :+1:

[2015-07-21 14:11] blowsie commented on #1264
Referencing https://github.com/postmanlabs/postman-app-support/issues/855

[2015-07-21 14:12] blowsie commented on #855
I was thinking It would be great if I could filter the results in the GUI to show only failed tests.

I have over 1000 tests, and when only a few fail, it's hard to pick them out.

[2015-07-21 14:14] blowsie commented on #1196
Referncing https://github.com/postmanlabs/postman-app-support/issues/855

[2015-07-21 14:18] blowsie opened #1275 "Feature request: Add a status count to the runner"
Instead of just a spinney wheel, it would be great if it had a status percentage bar, or even just a status count, for example;
`Running request 4 of 1000`

![image](https://cloud.githubusercontent.com/assets/308572/8802828/ada29e94-2fbb-11e5-842c-f1f011531b33.png)

[2015-07-21 14:46] philreindl opened #1276 "Debug test scripts"
I have been using the test scripts to set variables based on the just completed request.  It would be really handy to be able to debug those scripts using the chrome developer tools (or something similar.)  I haven't been able to figure out how to do do this, or determine whether it's even possible at this time.

Thanks
Phil

[2015-07-21 15:08] philreindl commented on #1276
OK, I figured it out.
First, turn on debugging for packed apps.  Directions are here: http://blog.getpostman.com/2014/01/27/enabling-chrome-developer-tools-inside-postman/
Then, you need to open the developer tools by right-clicking in the script window and selecting inspect-element.
To get the debugger to stop in your script, you need to add "debugger;" to your script.  This is the piece I was mi

[2015-07-21 15:08] #1276 closed, assigned to nobody

[2015-07-21 15:28] paolobiavati commented on #1274
Hi,

my user name is "paolobiavati"
email "biavatipaolo@gmail.com"

I have a stable connection but i often got many synch error

[image: Immagine incorporata 1]

2015-07-21 13:44 GMT+02:00 Abhijit Kane notifications@github.com:

[2015-07-21 16:05] abhijitkane commented on #1274
Can you be more specific? Is there any error message displayed on the screen? Or are you not able to connect to Sync at all? Or have some requests not been synced properly?

A screenshot of your application running would be helpful.

[2015-07-21 16:06] #939 closed

[2015-07-21 16:23] aromanet42 commented on #603
I still have this problem with Version 3.0.4 (packaged) (chrome extension)

![screenshot-20150721-181927](https://cloud.githubusercontent.com/assets/7204715/8806070/2bb95db8-2fd5-11e5-8819-0b83e1b72d09.png)

when I edit the URL, the path variable appears, but not when I reopen the request

![screenshot-20150721-182059](https://cloud.githubusercontent.com/assets/7204715/8806139/7eaf51f8-2fd5-11e5-8

[2015-07-21 16:48] michaelakin opened #1277 "Crashing"
Postman keeps crashing multiple times per day.  Notification to restart fails to restart applicaiton

[2015-07-21 17:02] abhijitkane commented on #1277
What's the exact error message that you're seeing?

[2015-07-21 17:43] michaelakin commented on #1277
Postman has crashed.  Click this balloon to restart the app

[2015-07-21 17:48] abhijitkane commented on #1277
That's odd. Do you remember taking any specific action that causes this?

[2015-07-21 18:43] eappell opened #1278 "Folders missing after sync"
This morning I was doing a lot of work on a specific API.  While I was adding and editing requests, it was continually syncing, occasionally failing to sync, but generally able to connect.  At one point, Postman said there was a conflict between the server and the local request and asked me to select the correct one.  One had the description of the request set to a GUID, which is not correct, the

[2015-07-21 18:48] brentonhouse commented on #1133
Everything is working great!!

[2015-07-21 18:49] abhijitkane commented on #1278
@eappell Can you send an email to help@getpostman.com with your Postman username / email?

[2015-07-21 18:59] michaelakin commented on #1277
I just had a surgery, so I am using my other hand to use the mouse. Sometimes clicking to try and add a new param does it.  Sometimes a lot of data from my Odata query crashes it.

[2015-07-21 19:15] eappell commented on #1278
Email sent

[2015-07-21 19:24] aminemat commented on #720
Any updates on this ?

[2015-07-21 19:47] abhijitkane commented on #1277
We haven't had this issue reported before - we'll investigate this and keep you updated.

[2015-07-21 20:20] michaelakin commented on #1277
Ok.  Thanks!

[2015-07-21 22:02] vasujain commented on #720
@a85 @abhijitkane

[2015-07-21 23:23] jetpacksfan opened #1279 "newman always failed"
Hi there,
newman always failed in my computer. I did some tests and no matter how I modify it it always returns the error:
RequestError: f1e3037e-36b0-a096-137f-46c0ebddda6c terminated. Error: ENOTFOUND
I finally did a test, exporting a simplest collection with only 1 request in it, which goes to a link like: www.google.com. environments/globals not used. It runs well on my other computer (windows

[2015-07-22 00:36] paolobiavati commented on #1274
i put a screenshot in my previous email....

2015-07-21 18:05 GMT+02:00 Abhijit Kane notifications@github.com:

[2015-07-22 04:32] jetpacksfan commented on #1279
No one has ever have the same issue?
![image](https://cloud.githubusercontent.com/assets/13167092/8818001/63dfecf8-307e-11e5-9e2c-18b2b67c47db.png)

Following is the contents of the collection, by opening with notepad:
{
    "id": "6366cd2d-92ae-d336-ad8e-a11fe5113fa1",
    "name": "test_0722",
    "requests": [
        {
            "id": "9c33216b-c8f3-d39b-85e2-8d53907ff773",
            "heade

[2015-07-22 06:33] abhijitkane commented on #1279
Can you try changing the URL to http://www.google.com?

[2015-07-22 06:36] abhijitkane commented on #1274
Hm..the github issue tracker might not display attachments from emails. Can you attach it here - https://github.com/postmanlabs/postman-app-support/issues/1274#issuecomment-123517208, or send it to help@getpostman.com?

[2015-07-22 07:05] jetpacksfan commented on #1279
@abhijitkane Thanks I managed to solve it, by reinstalling the node.js and rebuild the newman.
Previous version: node-v0.12.5
Current version: node-v0.12.7
( node-v0.12.5 works fine on my win7 computer. Somehow donesn't on my win8 one.)

[2015-07-22 07:05] #1279 closed, assigned to nobody

[2015-07-22 15:45] abernix commented on #1180
I'm using getScript myself, as well.  The caveat mentioned above is true, but as mentioned, it doesn't work properly until the second request, and all your results are from the previous call.  I guess this is my :+1:

[2015-07-22 15:47] abernix commented on #1180
I guess some sort of callback would make it work okay too.

i.e. `postman.wait()` makes it not execute the actual request until you call `postman.ready()` yourself? Or something.

[2015-07-22 18:40] Perfectfire commented on #1271
Tested "Open history/collection requests in a new tab" changed to "Yes" and back to "No".

This bug has been fixed!
Also, tabs with no changes do not incorrect ask to save before closing!

EDIT: tested on -
    ---Version 3.0.5 (packaged)
    ---OS: win
    ---Architecture: x86-32
    ---Native client architecture: x86-64

Thank you!

[2015-07-22 18:40] #1271 closed, assigned to nobody

[2015-07-23 05:45] iamsandesh opened #1280 "Postman Only Showing cookies with 'path' value set to exactly the URL requested."
I observed that Postman is not showing cookies which has its path set to a value other than the exact 'URL' requested.

The changeset which added this feature (https://github.com/postmanlabs/postman-app-support/commit/9f1e65559b7697f5ecfdcf9c82901d0bc6509d22), specifically looks for cookies, which has the 'path' value set to exactly same as the URL requested. This seems to be different from the ot

[2015-07-23 07:37] chimit opened #1281 "Upload file using PUT method"
I need to upload a file using PUT method, but PUT method in Postman doesn't support **form-data**.

How to solve it?

[2015-07-23 07:47] abhijitkane commented on #1281
Postman supports form-data for PUT

![screen shot 2015-07-23 at 13 17 25](https://cloud.githubusercontent.com/assets/681190/8845480/36c2abe2-313d-11e5-8f65-c307e453e3ee.png)

[2015-07-23 10:00] abhijitkane commented on #1200
@ruslanix Can you confirm if you're still seeing this in 3.0.5?

[2015-07-23 10:03] chimit commented on #1281
Oh, sorry. It seems like it's not a problem of Postman, but server side (Laravel), which handles PUT in some strange way.

[2015-07-23 10:03] #1281 closed, assigned to nobody

[2015-07-23 12:40] wahidnory opened #1282 "Opens new tab after hover URL and click in body"
Hi,

I've got an issue with the latest version of the postman app (3.0.5 (packaged)). When I've hovered over an url in the pretty view of the body, and then click somewhere inside the body. It opens a new tab for that url. Here is the example:
![e8d6bc5cf62c2ffabbe4167373e8211a](https://cloud.githubusercontent.com/assets/3277057/8850479/af804d4a-3148-11e5-867d-3c6b98a3a472.gif)

[2015-07-23 13:58] leonardothibes commented on #757
+1

[2015-07-23 16:02] josephnoall commented on #804
+1

[2015-07-23 16:04] josephnoall commented on #803
+1

[2015-07-23 16:13] RangerDan commented on #1282
Clicking on or near an XML tag in Pretty view opens a tab as well.  The tab has the same domain as the parent, but has a subfolder of the XML tag you clicked.

Could this be a feature to assist testing RESTful APIs?

[2015-07-23 16:29] corsairmarks opened #1283 "Interceptor does not send cookies when Chrome is closed and only the packaged Postman app is open"
I maintain an API application that uses cookies to store a session ID as part of a legacy authentication system.  I use the packaged Postman app with Interceptor for testing the API directly because it is an excellent tool, but I prefer to use Firefox as my browser.  Because of this, I often only have the packaged app open and not Chrome.  Please add support for Interceptor to work while Chrome is

[2015-07-23 16:30] corsairmarks commented on #1283
Relevant software infos:
- Postman 3.0.5
- Interceptor 0.2.11
- Chrome 44.0.2403.89m

[2015-07-23 16:45] abhijitkane commented on #1283
This isn't possible right now - the Interceptor extension is not loaded till a Chrome window is open.

[2015-07-23 16:48] corsairmarks commented on #1283
@abhijitkane Is that a limitation of Chrome, or something that could be implemented by Postman?  I don't have any experience with Chrome extensions, but it might be fun for me to learn and make a contribution to the Interceptor repo.

[2015-07-23 16:52] abhijitkane commented on #1283
Packaged apps do not have access to Chrome's cookies. Only extensions (like the Interceptor) do. To send Postman's requests through the Interceptor, we use Chrome's message passing API (https://developer.chrome.com/extensions/runtime#method-sendMessage) to communicate b/w Postman and the Interceptor.

One of the following needs to happen to enable sending Cookies using Postman when Chrome is close

[2015-07-23 16:55] abhijitkane commented on #1282
Hm..only the link is supposed to be clickable. @numaanashraf Some ace-editor issue?

[2015-07-23 17:02] cnanney commented on #924
This is now worse in 3.0.5.

A response of `{"Token":"oe0\/18uk"}` is still displayed in all views as `{"Token":"oe0\\/18uk"}`, but is also now copying response to clipboard as `{"Token":"oe0\\/18uk"}`, where before it smartly removed all escaping nonsense and copied `{"Token":"oe0/18uk"}` to clipboard.

I think in Pretty and Preview view, it should properly unescape all these entities, so `a\/e`

[2015-07-23 17:49] mverma-va commented on #664
Can someone please update the best solution here??

[2015-07-23 18:13] whyyk7 commented on #757
+1

[2015-07-23 18:38] danielamorais commented on #1263
I agree
It's really boring having to close each tab at a time and still have to confirm

[2015-07-23 21:23] ghost opened #1284 "OAuth1.0a generating invalid signature when sending files"
My understanding of OAuth10.a is that files should not be included in the header, but Postman is using some form of data from the files in the signature generation causing it to not validate on the server.

I can successfully make a post with files by making a post without files, disbaling authentication, and posting using the previously-created header.

[2015-07-23 22:20] stefan1968 opened #1285 "Feature Request - Collection variables"
So, I have a bunch of requests I use to test my server locally, they're under a Collection called 'Local Server'

Now, I can obviously duplicate the group to create the same requests for says a 'Dev/Staging/Production' server, but I have to go through each request from my base local url to whatever the dev/staging url is.

Even with environment variables set this is tedious. Currently I end up doi

[2015-07-23 23:57] Kaveendra commented on #1011
Same problem. Sync does not work. I have also tried re-installing the app but no luck.

[2015-07-24 00:04] Kaveendra commented on #1011
No joy, Sync does not work and I am stuck with no collections to work on :(

![untitled](https://cloud.githubusercontent.com/assets/13475842/8864928/1215db94-31eb-11e5-8e3e-6263c0079f0a.png)
![untitled2](https://cloud.githubusercontent.com/assets/13475842/8864929/1218ce08-31eb-11e5-8ad2-2fda84528afa.png)

[2015-07-24 00:05] a85 commented on #1011
@Kaveendra Sorry about the issue. Seems to be working for me. Might be an account specific issue. The team is looking into it.

[2015-07-24 00:07] marcosgugs commented on #1011
still I continue with this problem

Em quinta-feira, 23 de julho de 2015, Abhinav Asthana <
notifications@github.com> escreveu:

[2015-07-24 00:11] Kaveendra commented on #1011
Thanks Abhinav. By the way wonderful product, if you iron out the minor issues..

[2015-07-24 00:44] Kaveendra commented on #1011
@a85 Can your team fix this for me within the hour, or is it complicated?

[2015-07-24 01:30] sobtiankit commented on #1011
@Kaveendra can you try once now?

[2015-07-24 01:32] Kaveendra commented on #1011
It was on Syncing and Connecting status in terns, but nothing happening. Restarted the app now but still the same

[2015-07-24 01:34] Kaveendra commented on #1011
by the way, I can see heaps of packet loss on wireshark!!

[2015-07-24 01:38] sobtiankit commented on #1011
Hmmm, I am unable to reproduce this on any of my accounts. I have, however, just alleviated some server load.

Sorry to ask again but in the last 5 minutes did you log out and back in? or just reopened the app? Sometimes that helps.

[2015-07-24 01:39] Kaveendra commented on #1011
not in last five minutes, but in last 30 minutes I have logged several times. Let me do that now again.

[2015-07-24 01:48] Kaveendra commented on #1011
@sobtiankit  Connecting and Syncing in tern, for so many times. Then the red warning and goes back to offline.

[2015-07-24 01:50] sobtiankit commented on #1011
Can you send me your email id? I'll get back to you in 5.

[2015-07-24 01:51] Kaveendra commented on #1011
kaveendrav@gmail.com

[2015-07-24 01:56] Kaveendra commented on #1011
One more thing I have noticed. When it goes back to offline, clicking the icon wont turn syncing back on! Seems like it prefers to stay offline until restart.

[2015-07-24 02:15] sobtiankit commented on #1011
Please check your email, while I investigate this further.

[2015-07-24 02:30] Kaveendra commented on #1011
Thanks, I can get back to work now :+1:
This is another error message..

![untitled3](https://cloud.githubusercontent.com/assets/13475842/8866425/a97ba3ba-31ff-11e5-8423-1c0612664c5d.png)

[2015-07-24 02:51] senao-mis opened #1286 "Feature request - small bar setting"
![2015-07-24 10 47 40](https://cloud.githubusercontent.com/assets/4914276/8866672/a1c663e8-31f1-11e5-8c47-ed8b12618cab.png)
The above image is my 15" screen for postman 3.0
the response region is just too small, owing to the setting bars region takes too much space :p

Any possible to narrow it?

[2015-07-24 02:57] senao-mis commented on #1286
My bad, I just noticed that I can scroll the header area while mouse on it..
This is much better, but still any possible to change the line-height?

![2015-07-24 10 56 00](https://cloud.githubusercontent.com/assets/4914276/8866752/9acd4cb8-31f2-11e5-846f-21437c2f03de.png)

[2015-07-24 08:26] bmmkoc commented on #1282
The problem is evident in XML responses as well - every part of an XML response that contains the forward slash character is turned into a clickable link, eg. any closing tag in the XML, such as `</accidentallink>`. It's highly annoying.

Using Postman 3.0.5 (packaged) on x86-64 (Fedora 22).

[2015-07-24 09:33] abhijitkane commented on #1286
You can change the response font size by going to Settings > Response Font Size. The Settings icon is located in the top-right corner.

[2015-07-24 09:37] abhijitkane commented on #1285
We'll be introducing collection-level variables soon, but they'll function similar to environment variables. What's the difficulty you're facing using environment variables?
You can set the url of each request to {{baseURL}}/relativePart, and have 3 environments - Dev/Staging/Prod, each with a different value of baseURL.

[2015-07-24 09:44] abhijitkane commented on #664
@ejohnson-spritz @mverma-va With the Interceptor on, you should have access to the cookies in the test script - postman.getResponseCookie(cookieName). Check https://www.getpostman.com/docs/jetpacks_sandbox and http://blog.getpostman.com/2014/11/28/using-the-interceptor-to-read-and-write-cookies/.

[2015-07-24 09:49] ruslanix commented on #1200
@abhijitkane For some reason my current 3.0.4 postman didn't want to update, so I just removed this extension from Chrome and now trying to install again (install new version). But when I press "Add to Chrome" button on extension page, chrome extension file download interrupted with error: "Fail: no file". So, currently can't say anything, trying to figure this out.

[2015-07-24 10:09] senao-mis commented on #1286
I just tried , it is not exactly what I mean, request header owns too much area.
![Postman 2 response area V.S. Postman 3 response area](https://cloud.githubusercontent.com/assets/4914276/8872453/b42d655c-322f-11e5-8404-8aeda7d73cff.png)
But I admit this feature depended on personal preference, and the current layout is not too bad to use.

And I found the "UI size" seems not working well, the def

[2015-07-24 10:19] senao-mis commented on #1286
This is a duplicated issue with #1170, both issue within, too spacy and wrong ui size.

[2015-07-24 10:19] #1286 closed, assigned to nobody

[2015-07-24 10:21] senao-mis commented on #1170
Voted compact mode.
And UI size in wrong result issue remains.

[2015-07-24 10:40] stefan1968 commented on #1285
Yes, I understand that. But say I've created 100 requests under the group LocalServer.
I duplicate that group to Staging Server. I still have to hand edit the 100 requests to change the baseUrl, environment variable or not.

[2015-07-24 15:38] ramGitHub822 opened #1287 "Saving Universal Basic Auth. Creds"
there needs to be a way to use one universal basic auth. creds. for all requests in one environment. right now we have to go in and set basic auth. creds for every single request so if you can get a universal basic auth. creds per env.  that would help testing a lot of requests in one env. go a lot quicker.

Thank you.
![screen shot 2015-07-24 at 11 38 03 am](https://cloud.githubusercontent.com/as

[2015-07-24 15:45] nlysaght opened #1288 "Collection options not visible in the UI"
When Postman is visible the collection tool-bar options are not visible. There is no visible indication that you can add/remove collections,
![postman-01](https://cloud.githubusercontent.com/assets/9366307/8878412/b5f8c988-3222-11e5-8835-892b9a660466.PNG).

When you hover over the blank space you do get a tool tip saying "sort collections", "new collection" and if you click where those tool-tips t

[2015-07-24 21:34] gautiermichelin commented on #576
+1 very interested in a postman solution

[2015-07-25 08:21] abhijitkane opened #1289 "Show Image dimensions if a request returns an image"

[2015-07-25 09:47] vasylnakvasiuk opened #1290 "Response cookies"
Now I see "Install the free Interceptor extension to send and receive cookies", and I must install one more app/plugin + toggle Interceptor to see cookies from response. It's not good, cause Interceptor help to catch requests with cookies and so on.

Please, show cookies without toggling, and without installation other plugins.

[2015-07-25 09:47] abhijitkane commented on #1290
This is a limitation of the Chrome platform - packaged apps cannot access cookies stored in Chrome.

[2015-07-25 09:50] vasylnakvasiuk opened #1291 "Requests cookies manager"
Really hard to write/manage requests cookies using "Headers" tab, cause cookies - it's complex header.
Please, add new tab "Cookies" near "Body", "Tests", ... for managing requests cookies and when I add new cookie on this tab, it's sync and automatically appears on "Headers".

Would be nice to see this feature. :)

[2015-07-25 09:52] vasylnakvasiuk opened #1292 "Showing all response cookies"
I do not see "set-cookie" header on the list of response cookies. I know, that response cookies has it's own tab, but it's also must be on the list of all response headers. Thnx.

[2015-07-25 09:55] vasylnakvasiuk commented on #1290
But it's not cookies in Chrome, it's cookies which I take from HTTP response ("set-cookie" header). Or not?

[2015-07-25 09:59] abhijitkane commented on #1290
Ah..sorry, I misunderstood your post. Yes, we need to improve messaging around cookies. Most users only need Cookies set in the Chrome context.

[2015-07-26 07:18] nathan-osman commented on #748
Sorry for the delay. Yes, I can confirm that cancel now works with the interceptor enabled on v3.0.5. (The socket still isn't closed but the "Send" button can be used again.)

[2015-07-27 02:20] DamirWallener commented on #450
I use 'http://requestb.in/' to validate requests sent by dashboard.py. It is definitely sending POST.
<img width="1061" alt="screen shot 2015-07-26 at 7 19 03 pm" src="https://cloud.githubusercontent.com/assets/12688219/8897494/64e678e2-33cb-11e5-9dd5-e39b02b8904d.png">

[2015-07-27 03:27] mzychaco opened #1293 "about the environments"
I have set up a special environments for my request,but it seems to do nothing .
why?
am I making wrong setting?if so,please tell me how to set up the environment correctly?
my email is : chacomo@163.com