[2016-10-31 08:46] #2441 closed, assigned to nobody

[2016-10-31 08:56] sdnts commented on #2217
@skumarcse Ah, I assumed you were using PFX because you said PFX works for you in Chrome. Can you try opening up the Postman Console (Cmd/Ctrl + Alt + C), resend the request and check if the certificate was actually sent with the request?

[2016-10-31 09:09] sdnts commented on #2443
@jmfayard Thanks for reporting this, we'll push out a fix soon :)
What version of the app are you on?

[2016-10-31 09:27] sdnts commented on #2440
@stwist-timeless Thanks for the detailed report. It does seem like a memory leak somewhere.
Your use case is definitely one of the more stressful ones we've seen.

Repeating a request should not have any performance side effects. In fact, your use case was what it was made for.
Storing a stringified JSON object (as long as it is not extremely huge) should also not affect performance. In your case,

[2016-10-31 09:48] skyboyer opened #2444 "setNextRequest works globally while running collection based on CSV file"
Env: Postman 4.8.1 Chrome Extension

I have configured workflow based on [Postman docs](https://www.getpostman.com/docs/workflows):
1. log in
2. skip the rest requests in collection if there is 500 status code returned(setNextRequest(null)) - sometimes there is data issues in DB
Everything works fine.
But when I run collection for several times on CSV file with several credentials

Expected:
setNe

[2016-10-31 10:09] Centvrio commented on #166
+1 for custom methods

[2016-10-31 10:35] sdnts commented on #2444
@skyboyer The request that has `setNextRequest(null)`, is it inside a folder, or is it a direct child of the collection?
In the second case, it would end the execution, this is the intended behaviour.

Also, does this happen only when a CSV is used as a data source?

Let me know if I misunderstood.

[2016-10-31 10:52] skyboyer commented on #2444
@madebysid  yes, it's direct child.

Up to my mind running collection for 8 times based on CSV with 8 different rows should be the same like running collection for 8 times over 8 single-lined CSV files. Currently it does not seem working this way. Am I wrong with that understanding?  Could you please add some details?

And is there workaround with placing some request inside the folder in collecti

[2016-10-31 11:21] sdnts commented on #2444
@skyboyer I think I misunderstood. `postman.setNextRequest` will end the current _iteration_. Your understanding is correct. If you have a CSV with 8 rows, and you run the collection for 8 iterations, each iteration would get one row from the CSV. `setNextRequest`'s scope would then be the current iteration.

Can you check [this](https://documenter.getpostman.com/view/214062/gh2444/2Mtt6J) collect

[2016-10-31 12:04] sdnts commented on #2431
@c3cris I tried to isolate the bug, sending only the Referer, Origin & Cookie headers. These three headers behave independently, your issue lies with the User-Agent & Accept headers.
Allow me to explain why this won't work on the Chrome App:

The Postman Chrome App with the Interceptor sends your request through the Chrome browser, which means it uses XHR. Your use case seems to be a limitation wi

[2016-10-31 12:04] #2431 closed, assigned to vegetableman

[2016-10-31 12:21] sdnts commented on #2422
@Aidenir Closing as environment variables should solve your problem :)
Let me know if they don't.

[2016-10-31 12:21] #2422 closed, assigned to nobody

[2016-10-31 12:22] sdnts commented on #2418
@DCRichards Did you manage to reproduce this?

[2016-10-31 12:25] sdnts commented on #2420
@mmichalowicz Does this happen only on the Postman Chrome app or for any Chrome app?
Also, are there any logs in the Postman app's console? (Instructions to enable it are [here](http://blog.getpostman.com/2014/01/27/enabling-chrome-developer-tools-inside-postman/))

A screenshot of the crash with the console open would also be helpful :)

[2016-10-31 12:26] DCRichards commented on #2418
@madebysid I've not yet found an isolated test case. What I have seen is when proxying the same API call through a different server (so the 204 response is the same, but sent from my proxying server rather than the other), postman responds correctly, so it's something specific to that server. It's wordpress using the Oauth2 plugin but not sure why that's making a difference....

[2016-10-31 12:29] sdnts commented on #2414
@jtenar I assume you are using the Chrome app, right?
Is there a URL I can make a request to to reproduce this?

Could you try sending a GET request to `echo.getpostman.com/get` on the latest version (4.8.1) and check if the issue persists there as well? (There would be a `url` field in the response whose value should be clickable)

I think it might be related to the way we distinguish between URL

[2016-10-31 12:35] skyboyer commented on #2444
On your collections it's executed as expected.
Maybe my collection(tests-part of it) contains syntax error that leads to execution is stopped.
So sorry for disturbing, I'm closing this issue.
Thank you for answering.

[2016-10-31 12:35] #2444 closed, assigned to nobody

[2016-10-31 12:37] sdnts commented on #2412
@abhdr Won't this violate the pattern that all native Windows app follow?

[2016-10-31 12:38] sdnts commented on #2444
@skyboyer No problems, feel free to reopen if you manage to reproduce this :)

[2016-10-31 12:41] stwist-timeless commented on #2440
@madebysid Thanks for getting back to me, and for pointing me towards the new runner in Canary. Firstly - I love the new runner! Definitely a huge improvement on the previous version. I have a few areas of feedback regarding it (just some suggestions, mostly), which I will list shortly.

Unfortunately, the new runner didn't fix my issue. It certainly appears to work better than the previous runner

[2016-10-31 13:01] sdnts commented on #2440
@stwist-timeless Thanks for the feedback, I really appreciate you taking time to do this!

The new runner does store the responses in memory if they are less than 300kB in size for the latest 5 runs. Looking at your use case though, we might have to tweak this behaviour so that the responses are stored with a lot more caution.
Your variables are also garbage collected over time, so that should not

[2016-10-31 13:18] sdnts commented on #2418
@DCRichards This is just a thought, but do you perform a redirect in any way with your old setup? The app will, by default, try to follow these redirects. Can you try switching off automatic redirects in Settings > General and see if the problem persists?

[2016-10-31 13:19] DCRichards commented on #2418
Ah, that's a thought @madebysid, I'll give it a try and let you know! Thank you

[2016-10-31 13:19] sdnts commented on #2411
@shaworth Could you drop a mail to help@getpostman.com?

[2016-10-31 13:26] sdnts commented on #2386
@edminer We pushed a fix for this with v4.8, can you update and confirm if this is fixed for you?

[2016-10-31 13:27] neverendingqs commented on #1360
Bump. Is anyone looking at this?

[2016-10-31 13:45] ghost commented on #2430
@vivganes Just to view how the response should looks like if i send the request.

for example: on Response tab i choose to define responses for 200, 404, 400
- for 200 i paste example response in json format (just example data)
- for 404 i paste different response and for 400 as well

then someone else can simply view example responses on response tab without sending any requests or if resources a

[2016-10-31 13:49] sdnts commented on #2430
@Mkax You can do this partially as of now. You can save responses for requests that are part of a collection, using the `Save Response` button on the top right of the response section.

Example responses are not in our immediate roadmap as of now, though.

[2016-10-31 13:50] sdnts commented on #1360
@neverendingqs We're looking into this, but this isn't in our immediate roadmap as of now.

[2016-10-31 13:52] sdnts commented on #2364
@chandramohanpl We've done a redesign of the runner that takes advantage of the all new Postman Runtime and allows you to send concurrent requests. You can download the canary release for OSX [here](https://dl.pstmn.io/download/channel/canary/osx_64).
I'd recommend you to join our Slack community [here](https://www.getpostman.com/slack-invite) so you can provide feedback before the runner moves to

[2016-10-31 13:55] neverendingqs commented on #1360
That's a bit disappointing. The current implementation of postman punishes those who follow the spec correctly:

https://tools.ietf.org/html/rfc6749#section-2.3.1

[2016-10-31 14:53] joshperry commented on #1360
Yes, this is absolutely a blocking bug for us. I paid for jetpack license to try and support development of what looked like a great product. But we still, over a year later, can not use this product because it does not properly implement the standard.

I will not implement or enable authentication methods that the standard specifically recommends against. I'm surprised so many others are willing

[2016-10-31 21:27] tagyoureit commented on #2423
Still happening on 4.8.1.  Would love to get this fixed.  It is a key part of my workflow.

[2016-10-31 23:40] abhdr commented on #2412
I assume not; because most of the native win app has this feature  - like [visual studio code](https://github.com/Microsoft/vscode/issues/945) -

[2016-11-01 05:39] choonkeat commented on #2232
I have a `POST /login` request that logs in successfully against a server endpoint that returns a JWT token. In that request, under `Tests` tab, I have a simple test

[code]

In all other requests that require JWT, I setup the `Headers` tab to be

[code]

I just have to click `Send` on the `Login` request once (which sets the environment variable), and the rest of the authenticated API calls will

[2016-11-01 07:09] sdnts commented on #2423
@tagyoureit We'll push out a fix for this with the next release :)

[2016-11-01 08:53] jtenar commented on #2414
Morning Siddhant,
This is what I get when I try to do the get request to the URL you send me:
{"args":{},"headers":{"host":"echo.getpostman.com","user-agent":"Mozilla/5.0 (Windows NT 6.1; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/54.0.2840.71 Safari/537.36","postman-token":"f748111c-43cb-fae9-fa6f-5c155434751a","accept":"_/_","accept-encoding":"gzip, deflate, sdch","accept-language

[2016-11-01 09:06] jtenar commented on #2414
Hi Siddhant,
I've updated to 4.8.1 and still get the same issue.
No link is shown with your url, and with the links on my test page, if I click them, nothing happens...
Best regards,
JT

[code]

 To: postmanlabs/postman-app-support postman-app-support@noreply.github.com
Cc: jtenar j_tenar@yahoo.com; Mention mention@noreply.github.com
 Sent: Monday, October 31, 2016 1:29 PM
 Subject: Re: [postmanla

[2016-11-01 09:16] sdnts commented on #2414
@jtenar I think I misunderstood you. Are you talking about links in the `Preview` section of the response? If so, these links are not supposed to work because of security concerns.

URLs in the actual response body (JSON or otherwise), are supposed to open up as a Postman request in a new tab.

[2016-11-01 11:52] sdnts commented on #2429
@sjdirect You can also do a `console.log` within the test / pre-request scripts and that output will be piped to the Chrome console as well as the Postman Console (Cmd/Ctrl + Alt + C)

[2016-11-01 13:08] skumarcse commented on #2217
@madebysid , thanks !! I see following in Postman Console, looks like the certificate(CRT) is file passed thru pempath. but i see tunneling socket could not be established. not sure what else need to configure in Postman NativeApp for Windows.

**_Error:_**
**tunneling socket could not be established, statusCode=407**
Client Certificate:
pemPath:_"C:\cert.crt"_
keyPath:""
Proxy:
proxy:"http://xx.x

[2016-11-01 13:57] sdnts commented on #2217
@skumarcse That looks like something went wrong server-side, could you check your server?

[2016-11-01 14:45] Heneman opened #2445 "Postman intercepting focus from Chrome"
1. Postman Version: 4.8.1
 2. App (Chrome app or Mac app): Chrome App
 3. OS details: OSX 10.11.6 (15G1004)
 4. Is the Interceptor on and enabled in the app: Yes
 5. Did you encounter this recently, or has this bug always been there: Always been there
 6. Expected behaviour: Postman intercepts focus from Chrome when Cmd-Tabbing
 7. Console logs (http://blog.getpostman.com/2014/01/27/enabling-chrom

[2016-11-01 15:19] stianlagstad opened #2446 "Environment suddenly overwrites another"
This issue has been driving me crazy today. Let's say I have two environments: envA and envB. I switch between these two often (every minute at times). I also have several collections that I keep switching between. Then, suddenly, all variables set in envA will be present in envB, and everything that was previously in envB is gone. Completely gone. And I don't mean the values of the variables, whi

[2016-11-01 15:39] sjdirect commented on #2429
I understand that but then I have to do this for every test. Doesn't it seem a little verbose?

[code]

[2016-11-01 16:24] NickAnderegg commented on #2442
I was just about to post this exact same thing, and I strongly, strongly agree that this should be a feature. If I'm using Postman to interact with an Elasticsearch database and I want to keep checking a specific record to see when a certain field changes, I don't need 20 copies of the `POST` request because I sent it 20 times.

And even better option would be to separate out URLs and body content

[2016-11-01 17:00] jtenar commented on #2414
Ok. If it is so, you can close the support question then.
Thanks for your time and follow up...

[code]

 To: postmanlabs/postman-app-support postman-app-support@noreply.github.com
Cc: jtenar j_tenar@yahoo.com; Mention mention@noreply.github.com
 Sent: Tuesday, November 1, 2016 10:16 AM
 Subject: Re: [postmanlabs/postman-app-support] Not able to click links in the response (#2414)

@jtenar I think

[2016-11-01 17:02] redmamoth commented on #283
Is this being added soon? I'm trying to test an OAuth service and can't even get past the first step as the oauth_callback is required.  It needs to be included and signed in the Authorization part of the header and I can't figure out any way to get it in there.

[2016-11-01 17:40] sjmcdowall opened #2447 "Postman Mac App corrupts and shows incorrect JSON if floating point #'s are used"
1. Postman Version: 4.8.1
 2. App (Chrome app or Mac app): Mac App
 3. OS details: os Sierra
 4. Is the Interceptor on and enabled in the app: No idea
 5. Did you encounter this recently, or has this bug always been there: not sure ..
 6. Expected behaviour: Show proper floating point #'s not truncated to 0.000
 7. Console logs (http://blog.getpostman.com/2014/01/27/enabling-chrome-developer-tools

[2016-11-01 17:40] kmix commented on #2082
I'm seeing the same thing in the Windows app. Current version is 4.8.1.

[2016-11-01 19:22] skumarcse commented on #2217
@madebysid well, that same collection works in Postman Chrome Extension where Chrome browser configured with PFX. why not on Postman NativeApp ?

[2016-11-01 20:29] Izidi opened #2448 "Request Font Size"
1. Postman Version: 4.8.1
 2. App (Chrome app or Mac app): Windows Desktop App
 3. OS details: Windows 7 64 Bit
 4. Is the Interceptor on and enabled in the app: Yes
 5. Did you encounter this recently, or has this bug always been there: Always been there
 6. Expected behaviour: To be able to increase or decrease the font size for the request the same as the response.
 7. Console logs (http://blog

[2016-11-01 21:16] macpie commented on #2044
That be great thanks!

[2016-11-01 22:24] ProLoser opened #2449 "Filter endpoints by URI"
1. Postman Version:
 2. App (Chrome app or Mac app): Chrome
 3. OS details: OSX 10.11.6
 4. Is the Interceptor on and enabled in the app: No
 5. Did you encounter this recently, or has this bug always been there: NA

Would be nice if I could filter search by endpoint URL. This way if I am looking to see if there's an endpoint for a specific URL (or if I need to add a new postman endpoint) it's ver

[2016-11-01 22:28] cjbiggs commented on #2217
I have a similar issue as @skumarcse I am using Postman NativeApp 4.8.1.  It works through Postman Chrome Extension.

[2016-11-02 00:31] idontusenumbers opened #2450 "Font color should be black, not grey"
Font color should be black, not grey. Grey-on-white is hard to read.

[2016-11-02 05:11] sworisbreathing commented on #1619
Ditto for the native Linux app - there is no documented way to configure the app to work behind an external proxy.

[2016-11-02 09:14] camminati commented on #2438
@madebysid thanks for the answer. With the console I could check the response and the time stamps and indeed, the answer was empty every time under 100 ms. I could follow it back to a problem in my server-app, the message is sent asynchronously and is not there yet.

Sorry for wasting your time. I'll close the issue. I owe you one.

[2016-11-02 09:14] #2438 closed, assigned to nobody

[2016-11-02 09:31] czardoz opened #2451 "problem with oauth credentials"
Originally reported by @MonneOnrust at: https://github.com/postmanlabs/postman-runtime/issues/137

---------------------

 1. Postman Version: N/A
 2. App (Chrome app or Mac app): N/A
 3. OS details:
 4. Is the Interceptor on and enabled in the app:
 5. Did you encounter this recently, or has this bug always been there:
 6. Expected behaviour:
 7. Console logs (http://blog.getpostman.com/2014/01/2

[2016-11-02 09:41] bkubiak commented on #2358
Hi @vkaegis, I'm looking forward to the updated interface, because scrolling content on Postman for Mac is really painful. Any update on the issue?

In addition to @rich-blockley-bg solution, I would suggest that the upper pane (auth/headers/body etc.) could hide after clicking on a new button (show/hide) or even when clicking on the same tab button (when clicking on "Body", the body content is re

[2016-11-02 10:11] sdnts commented on #2451
@MonneOnrust I looked at the Office 365 API (which I assume you are using), and it looks like they want you to use the Authorization Flow, not the Client Credentials flow.
Can you try with the Authorization flow and check if this works?

[2016-11-02 10:12] #2414 closed, assigned to numaanashraf

[2016-11-02 10:19] sdnts commented on #2447
@sjmcdowall Thanks for reporting this. I'm looking into this. Will let you know here.

[2016-11-02 10:25] sdnts commented on #2450
Hey @idontusenumbers, which part of the app do you feel is hard to read? We'll try to add more contrast to places where it is hard to read.

[2016-11-02 11:21] SamvelRaja commented on #2411
@shaworth can you provide me the details of the version you were updated from? so that we make sure it is not a recent release regression.

[2016-11-02 11:57] MonneOnrust commented on #2451
1.Postman Version: 4.8.1
2.App: Chrome App (Chrome 54.0.2840.71)
3.OS details: Windows 7 x86 (also reproduced on Windows 10 x64)
4.Is the Interceptor on and enabled in the app: Tried with interceptor on and off: same result
5.Did you encounter this recently, or has this bug always been there: I just tried this for the first time, though other have reported this to have happened earlier (~2 months)

[2016-11-02 12:23] sdnts commented on #2082
@anavioc @kmix We're working on this, will let you know here when a fix is out :)

[2016-11-02 12:26] anavioc commented on #2082
@madebysid 👍 thanks!

[2016-11-02 12:30] MonneOnrust commented on #2451
@madebysid I tried that. After typing in my password it gave me a white screen (see below). No console logging is done in Chrome Developer Tools, nor are there any network calls.

By the way, I used this video https://blogs.msdn.microsoft.com/devkeydet/2016/03/22/using-postman-with-azure-ad/ to setup the integration with Azure AD.

![badrequest](https://cloud.githubusercontent.com/assets/5955708/1

[2016-11-02 12:51] sdnts commented on #2451
@MonneOnrust Ah so you see this white screen in the pop up window that opens up on clicking `Generate Token`? In that case, you'll have to open up the DevTools of the popup window.
It looks like the access token redirection isn't happening properly.
Can you do that and check if there are any errors in there?

[2016-11-02 13:14] sjmcdowall commented on #2447
Great -- let me know how I can help.  Obviously it's easy for me to reproduce :)

[2016-11-02 13:14] sdnts commented on #2429
@sjdirect It does indeed. I'm trying to understand why you'd need to do a `console.log` in the first place.
Is this something you do on a regular basis, or just temporarily (for debugging perhaps)?

[2016-11-02 13:23] alastairtree commented on #1475
+1

[2016-11-02 13:28] MonneOnrust commented on #2451
Ah, thank you. That was a good tip. I resolved the issue. In the Developer Tools it said the resource was not found in Azure AD. I then realized I had the resource= part in the Auth URL wrong. Apparently you need to fill in the Sign-on URL from the application in Azure AD behind resource=. In my case, this was not the full URL of the app, but it was https://facturatiefad-sys. Once I filled this in

[2016-11-02 13:35] sdnts commented on #2451
That's good to hear. The client credentials flow probably does not work because the Azure API was not built to support it.
Closing this.

[2016-11-02 13:35] #2451 closed, assigned to nobody

[2016-11-02 13:48] sdnts commented on #1619
@guozheng @sworisbreathing The native apps honour the system proxy for now. We are working on adding support to configure proxies inside the app itself. Will let you know when it is out.

[2016-11-02 14:07] shaworth commented on #2411
@SamvelRaja , I'm afraid that prior to this issue I've never needed to know the version.  Generally I accept the upgrades when prompted.  Is there a client-side log that provides upgrade information?

[2016-11-02 14:09] SamvelRaja commented on #2411
@shaworth hope you received the 4.7.2 download link from us. Can you check and let me know whether it is reproducible there?

[2016-11-02 14:19] shaworth commented on #2411
@SamvelRaja , I did not receive the download link.  I just edited my profile to make my e-mail address public, please resend link directly to my e-mail.  I will be able to test later today.  Regards.

[2016-11-02 19:24] sjdirect commented on #2429
When you create reusable calls/logic and use postman.setNextRequest("whatever") the ordering of collection runner output is confusing. The console.log statements are in the order they are executed. So yes it's more for debugging purposes. And it seems like such an easy thing to add.

[2016-11-02 19:47] smitt04 commented on #882
+1

[2016-11-02 23:00] ericcarino commented on #1228
+1

[2016-11-03 02:06] idontusenumbers commented on #2450
![postman](https://cloud.githubusercontent.com/assets/1175031/19953804/3f10f38e-a140-11e6-9e36-2cd3610fdaa1.png)

[2016-11-03 06:48] sdnts commented on #2448
@Izidi You can use Cmd/+ to increase the font size. Cmd/- will decrease it, and Cmd/0 will reset it to the default value :)

[2016-11-03 06:48] #2448 closed, assigned to nobody

[2016-11-03 06:49] sdnts commented on #2445
@Heneman We're looking into this, will let you know here when a fix is out

[2016-11-03 06:49] sdnts commented on #2446
@stianlagstad That's weird indeed. We haven't made changes to our environments recently either. If you do manage to reproduce this, can you update this issue? I haven't been able to.

[2016-11-03 06:52] sdnts commented on #2217
@skumarcse @cjbiggs That's weird. We're looking into what could be causing this. Will let you know here when we find something. Thanks for reporting this.

[2016-11-03 06:54] SamvelRaja commented on #2411
@shaworth Sent you the link of the older version 😄

[2016-11-03 06:56] sdnts commented on #1228
Hey guys, cookie management is a limitation of the Chrome platform, but it is possible in the native apps. Could you give them a shot and check if that is easier? You can download our native apps for OSX/Windows/Linux [here](https://www.getpostman.com/apps).

[2016-11-03 07:06] sdnts commented on #2429
@sjdirect That's a valid use case.
We are working on a redesign of the runner that should address your problem. It is currently on our Canary channel. You can download the Canary release [here](https://dl.pstmn.io/download/channel/canary/osx_64).
I'd recommend you to join our Slack community [here](https://www.getpostman.com/slack-invite) so you can provide feedback before the runner moves to our

[2016-11-03 07:40] Brisboy commented on #60
Any idea how do i view the pdfs if i executed the testcases using the runner.

[2016-11-03 07:49] stianlagstad commented on #2446
I'll keep trying, @madebysid. Where exactly does postman store my environments locally? If I knew that then I could monitor changes in those files, so that I know exactly when it happens.

[2016-11-03 10:22] sdnts commented on #2446
@stianlagstad We don't store the environments in files anywhere, it is all stored in the app's IndexedDB, so unfortunately, there's no way for you to track this :/

[2016-11-03 10:23] sdnts commented on #60
@Brisboy Currently, there isn't a way to view your PDFs from within the runner. I'll go ahead and add this as a feature request though.

[2016-11-03 10:29] eylonmalin commented on #2423
@madebysid When would be that next release with fix to this bug ?
This feature is one of the most important features of postman.

[2016-11-03 10:32] sdnts commented on #2423
We're planning on releasing a fix for this first thing next week.

[2016-11-03 11:37] dteirney commented on #1228
I've been using the native application for some time now. While you can delete cookies manually I can't find any setting or preference to prevent cookies being stored in the first place. This makes it seemingly impossible to use the collection runner and not have the results affected by the cookies that are stored.

[2016-11-03 12:08] PFarrell89 commented on #2446
@stianlagstad @madebysid
I don't suppose you have tests for Environment A running in the Collection Runner whilst switching to Environment B in the normal Postman Builder screen?

This happens to me if I have tests that deliberately overwrite/delete environment variables in the Collection Runner, but when I switch Environments in the Builder screen (whilst the Collection Runner is running) it's ov

[2016-11-03 12:14] stianlagstad commented on #2446
This might be what is happening to me, @PFarrell89. I do find myself starting one request in environment A, then switching and starting another request in environment B before the first request with environment A has finished (with tests). I will do some testing later.

[2016-11-03 13:16] seppestas opened #2452 "Add option to refresh OAuth 2.0 tokens [Available from v10.6]"
It would be very handy to have the Postman OAuth 2.0 authentication helper parse the `expires_in` field of [OAuth 2.0 access tokens](https://tools.ietf.org/html/rfc6749#section-5.1) if it is available and provide some sort of flag to see whether a token has expired.

It would be even more useful to have the option to refresh a token when the `refresh_token` of the access token is available. This w

[2016-11-03 13:48] stianlagstad commented on #2446
Alright, I've managed to reproduce it. If I change environment during the execution of a request (from envA to envB), upon completion of the request envB will be gone (it will only contain what was in envA).

I keep running into this bug because I have breakpoints in my app running locally. When I launch a request with an environment to my app locally, it will stop at my breakpoints. Then, during

[2016-11-03 13:55] seppestas opened #2453 "Save settings for OAuth 2.0 access tokens in the collection"
Typically all the endpoints for a collection use the same type of authentication, and are capable of using the same authentication tokens.

It would be handy to save the settings for requesting OAuth 2.0 access tokens inside of the collection instead of only remembering the last used settings globally. This would make it a lot easier to get new tokens for requests in a collection, especially when

[2016-11-03 15:54] sjdirect commented on #2429
Thanks for listening. Looking forward to future releases.

[2016-11-03 16:17] xeviscc commented on #1441
Still having the same problem!

Check the screenshoots, in the Headers in the bottom says it sent Content-Type "text/xml"
Headers:
![image](https://cloud.githubusercontent.com/assets/10829055/19974550/1f4e989a-a1e9-11e6-96b5-2b9d71d31424.png)
Body:
![image](https://cloud.githubusercontent.com/assets/10829055/19974560/2972d606-a1e9-11e6-9832-20102c6f60fc.png)

[2016-11-03 20:27] pnowy commented on #811
Hi, do you have a timeline for that fix?

[2016-11-03 21:30] aolson58 opened #2454 "? filter query syntax for JSON value check tests"
1. Postman Version: 4.8.1
 2. App (Chrome app or Mac app): Chrome app
 3. OS details: Windows 10 64-bit
 4. Is the Interceptor on and enabled in the app: no
 5. Did you encounter this recently, or has this bug always been there: n/a
 6. Expected behaviour: when attempting a json data check on a response body, i would expect to be able to use the filter syntax from jsonPath to be able to filter on

[2016-11-03 21:30] aolson58 commented on #2454
I didn't see anything in the documentation supporting this syntax and attempted to exhaust the stack overflow threads as well

[2016-11-03 22:51] Andrewdtc commented on #1906
+1

[2016-11-03 22:52] Andrewdtc commented on #1906
+1

[2016-11-04 03:21] rocksolid1974 commented on #1475
+1

[2016-11-04 05:20] a85 commented on #2445
This is a Chrome platform issue. As the platform itself has been deprecated we can't do anything about it. I recommend shifting to our native apps: www.getpostman.com/apps

[2016-11-04 05:20] #2445 closed, assigned to nobody

[2016-11-04 08:11] mynameisaaa opened #2455 "It is the first time I use postman, but I cna't recieve any response whatever url i send.who can tell me what can i do?"

[2016-11-04 08:12] mynameisaaa commented on #2455
It is the first time I use postman, but I  cna't recieve any response whatever url i send.who can tell me what can i do?
![image](https://cloud.githubusercontent.com/assets/23112538/19998723/5b727092-a2a9-11e6-8d69-19e7625c8c30.png)

[2016-11-04 08:13] mynameisaaa commented on #2455
It's postman for windows,not for mac

[2016-11-04 08:16] sdnts commented on #2454
@aolson58 Test scripts in Postman are written in ES5 Javascript. I had a look at JSONPath, and it looks like it is made for Java, so we do not (cannot) support this as of now.
You do have access lodash in the test scripts, so you could use that to do your filtering :)

[2016-11-04 08:16] #2454 closed, assigned to nobody

[2016-11-04 08:24] mynameisaaa commented on #2455
Just now i reliase it the mater of https,When iI change https to http , postman response the things I needed,But Why?

[2016-11-04 08:28] sdnts commented on #2455
@mynameisaaa The protocol shouldn't matter. Could you open up the DevTools (View > Show DevTools) and check if there are any errors there for failed requests?

[2016-11-04 08:33] mynameisaaa commented on #2455
setting>general> then off the ssl ,

[2016-11-04 08:34] #2455 closed, assigned to nobody

[2016-11-04 08:50] sdnts commented on #811
@pnowy Unfortunately, Chrome has decided to phase out packaged apps, so there is no ETA on this as of now.
I'd suggest shifting to our native apps (https://getpostman.com/apps), which do support concurrent requests.

[2016-11-04 08:54] ghost opened #2456 "Markdown bug"
1. Postman Version:  4.8.1
 2. App (Chrome app or Mac app):  Chrome 54.0.2840.71
 3. OS details:  macOS 10.12.1
 4. Is the Interceptor on and enabled in the app:
 5. Did you encounter this recently, or has this bug always been there:
 6. Expected behaviour:
 7. Console logs (http://blog.getpostman.com/2014/01/27/enabling-chrome-developer-tools-inside-postman/ for the Chrome App, View->Toggle Dev T

[2016-11-04 09:34] pnowy commented on #811
Thanks for info!

[2016-11-04 13:30] skumarcse commented on #2217
@madebysid thanks !! I think this should be fixed before fully rolling into nativeApp from Chrome Extension..

[2016-11-04 18:18] kimbilida commented on #1104
+1

[2016-11-06 16:15] shamasis commented on #2456
This shouldn't be a Sierra related issue. Initial testing revealed that it could be the order of the sanitisation process we apply on the markdown and subsequent HTML. @madebysid is looking into it.

[2016-11-07 01:59] ghost commented on #2456
thank you.

[2016-11-07 07:20] Hetkoekje commented on #682
+1

[2016-11-07 07:39] vegetableman commented on #2452
@seppestas Thanks for reporting this issue 👍 . Will keep you updated on this thread,

[2016-11-07 07:40] vkaegis commented on #2450
Hey @idontusenumbers, thanks for reporting this! We're definitely looking into accessibility problems with our UI and will be looking to improve on the contrast of content throughout the app in the coming updates.

Some of the greys are there by choice, to reduce the visual stress of an interface with a lot of visible elements. That being said, at some time in the future we definitely hope to have

[2016-11-07 08:09] stianlagstad opened #2457 "Weird design issue happening infrequently"
1. Postman Version: 4.8.1
 2. App (Chrome app or Mac app): linux 4.4.0-45-generic / x64
 3. OS details: Ubuntu 16.10
 4. Is the Interceptor on and enabled in the app: No
 5. Did you encounter this recently, or has this bug always been there: I've seen this a few times before
 6. Expected behaviour:
 7. Console logs: NA
 8. Screenshots (if applicable):
![postman-design-issue](https://cloud.githubus

[2016-11-07 08:13] numaanashraf commented on #2457
Thanks for reporting this issue @stianlagstad. We are trying to replicate this at our end. Would it be possible to open Postman's DevTools and give us a screenshot of the console error the next time this happens? Steps to open the DevTools are detailed [here](https://www.getpostman.com/docs/errors).

[2016-11-07 09:32] sdnts commented on #2456
@HyoKim We've fixed this internally, and will be rolling out a fix in the coming releases. Will keep you updated here.

[2016-11-07 09:44] sdnts commented on #2446
@stianlagstad I'm assuming you are running these requests in the main Postman window, not the collection runner. I made a request to `echo.getpostman.com/delay/5`, which will essentially delay the response, giving me time to switch environments. I even have a pre-request script that sets an environment variable, like you do.
However, when the response arrives, the variable is set in the correct en

[2016-11-07 11:10] sdnts commented on #1441
@xeviscc The headers your screenshots show are actually the response headers. Is your file not being sent at all?

[2016-11-07 11:22] sdnts commented on #454
Because of the restriction @a85 pointed out, the Chrome app would be unable to generate a correct cURL command, but the native apps can. We've made it so the native apps get the full path, but the Chrome app gets only the file name (which could work if you run the command from the same directory I suppose).

We'll push out a fix for this in the next release.

[2016-11-07 11:23] sdnts commented on #1749
We've identified what was causing this, and will be pushing out a fix in the next release.

[2016-11-07 11:27] xeviscc commented on #1441
You are right, I did not notice it at the moment I posted the screenshoots.
And you are right also about the file. It is notsent at all, I check the code  (ie: cur) and it is not referenced.

[2016-11-07 11:45] sdnts commented on #2447
Hey @sjmcdowall I did some poking around, and it looks like this is happening when you do a `JSON.parse` on the response (I'm assuming you do). JSON.parse has a precision limit, and your numbers surpass it, so it is forced to round it down.
If you look at the raw response, do you see your numbers correctly?

When we render the pretty output, we do a JSON.parse too, so that's where you are losing p

[2016-11-07 12:15] vegetableman commented on #2348
@sethlopezme Closing this issue. Feel free to reopen this if the issue still exists ^_^

[2016-11-07 12:15] #2348 closed, assigned to vegetableman

[2016-11-07 13:26] sjmcdowall commented on #2447
@madebysid -- No, I don't think that is correct .. the numbers in the raw JSON (as posted above) are certainly not beyond the precision:

"rgStpsz":[2.75e-8],
"rgTo":[5.5e-7]

That is only 3 or 4 decimals of precision ...

And in my program when we do a json.parse() of the thing, it represents just fine -- the ONLY time it doesn't look right is when POSTMAN is showing the output ..

[2016-11-07 13:39] sdnts commented on #2447
Hmm. You're right in saying JSON.parse will handle your numbers, I just verified. Your issue stems from something else in that case.

I made a little Node server that returns me the JSON you posted above, and for me the numbers are correct, at least in the raw section (the tab next to Pretty in Postman). What about your raw view? Do you see your numbers represented correctly there?

[2016-11-07 13:40] Arrow7000 commented on #350
Any update on this? Why was this closed?

[2016-11-07 13:44] sjmcdowall commented on #2447
Yes -- the RAW view shows the numbers perfectly fine.  It's just the Pretty view that -- isn't so pretty. :)

[2016-11-07 13:47] sdnts commented on #350
HAR import support is not available at the moment, but you can import a cURL as discussed in #86

[2016-11-07 14:47] idontusenumbers commented on #2450
Visual stress is CREATED by the grey text. It is very hard to read. Contrast should be increased.

[2016-11-07 14:58] Arrow7000 commented on #350
Ah I see, thank you!

[2016-11-07 17:38] gaoagong commented on #770
I have a similar problem with a variation. I will open both chrome browser and PostMan, place them on different desktops of different monitors, and then when I try to use the key combo to switch between different windows of the same application (Cmd+Tab) it doesn't work. I have to go to the monitor and desktop with the chrome browser and then switch through the desktops to find it.

This is obviou

[2016-11-07 17:50] abtiddle commented on #2457
+1

Version 4.8.1 (4.8.1)
Mac App
1. Click a request with Saved Responses
2. Click the downward triangle to display list of Saved Responses
3. Click one of the saved responses
   Error: xml.js:22 Uncaught Error Uncaught TypeError: Cannot read property 'split' of undefined file:///Applications/Postman.app/Contents/Resources/app/js/requester.js 79322 25 TypeError: Cannot read property 'split' of und

[2016-11-07 21:12] sebastien-cote opened #2458 "[Hawk Authorization] Support Payload hash"
1. Postman Version: 4.8.1
 2. App (Chrome app or Mac app): Chrome app
 3. OS details: OSX 10.12.1
 4. Is the Interceptor on and enabled in the app: yes
 5. Did you encounter this recently, or has this bug always been there: ~recently~ always
 6. Expected behaviour: Authorization: Hawk id="x1yz3", [...] hash="Yi9LfIIFRtBEPt74PVmbTF/xVAwPn7ub15ePICfgnuY=" [...]

Any request (ex.: POST request) that

[2016-11-07 22:00] srufle commented on #1475
+1

[2016-11-08 05:08] knvpk commented on #2225
Same problem for me too,
version 4.8.1
linux / x86-64
Chrome 54.0.2840.90

We have an office internal network with all requests proxied through single server. when we are trying to sync its not working. in out ubuntu system we have set all the environment variables required for proxy still not connecting.

[2016-11-08 09:35] vegetableman commented on #1327
@hlubovac closing the last tab is fixed. Check out.
@xcen27 Closing this, as it's a duplicate. Please follow https://github.com/postmanlabs/postman-app-support/issues/1263

[2016-11-08 09:35] #1327 closed, assigned to nobody

[2016-11-08 10:40] sdnts commented on #2457
@abtiddle We've reproduced the issue you pointed out, and will include a fix in the coming releases.
@stianlagstad Was your issue also caused by these series of steps?

[2016-11-08 13:11] aromanet42 commented on #2250
Hello Vignesh,

This is what I see in the "about" view of my Postman app:

4.8.1
linux / x86-64
Chrome 51.0.2704.103

But it still doesn't work :/

2016-10-15 6:44 GMT+02:00 Vignesh Anand notifications@github.com:

[2016-11-08 22:38] charltog commented on #2364
Do you have anything available for Windows?  I would be willing to test a dev build if you have one.

[2016-11-09 05:54] vegetableman commented on #2458
@sebastien-cote Not a recent bug, as payload hash calculation is not supported on the app as of yet. Tagging it as feature, will keep you posted in this thread.

[2016-11-09 06:34] a85 commented on #1945
@BlueInt32 Options and better behavior coming up in 4.9.

[2016-11-09 06:34] a85 commented on #1524
@shamasis Can this be closed now?

[2016-11-09 06:36] a85 commented on #1229
We don't store actual values due to security issues. We are thinking about storing the environment value that the request was sent with along with tab specific environments that should have the same effect as storing variable values while also ensuring that sensitive values don't show up.

[2016-11-09 07:05] sdnts commented on #2225
@pavankumarkatakam Sync uses Websockets. Does your internal proxy allow Websockets?

[2016-11-09 07:09] shamasis commented on #1524
Yes. Closing it. Now in v2 format, only the changes get updated and uses positional notation similar to any code editor or other file system representations.

[2016-11-09 07:09] #1524 closed, assigned to shamasis

[2016-11-09 08:55] pencildrummer commented on #739
+1

[2016-11-09 09:34] mr-mmmmore commented on #2358
+1
This is so annoying! Will it be fixed soon?

[2016-11-09 09:35] a85 commented on #739
Everyone, this is in the works. We'll have an update soon.

[2016-11-09 09:36] ghost commented on #739
@a85 Thanks for the update!

[2016-11-09 09:44] a85 commented on #2358
Yes. A 3-pane vertical layout is coming in 4.9.

[2016-11-09 09:45] a85 commented on #2358
Yes. A 3-pane vertical layout is coming in 4.9.

[2016-11-09 11:21] knvpk commented on #2225
Well I want to check with my administrator, Thanks for reply @madebysid

[2016-11-09 15:38] arunrdd commented on #1009
I was surprised to see the issue even after installing the postman mac app. I use Cmd-Space to lookup and launch applications and it suggests the installed chrome postman app first. I had to delete the chrome app to make it disappear from mac quick lookup suggestions.

[2016-11-09 15:48] sdnts commented on #1009
@arunkreddy OSX's Spotlight works based on how much you use an app (among other factors). We do not have control over where (the order) the app appears. I'm thinking you have been using the Chrome App a lot more, so it ranks higher.

[2016-11-09 16:35] Scottwg11 commented on #1011
I'm seeing something similar. it will sync some of my APIs but not all. Logging off and then back on does nothing.

[2016-11-09 16:55] git-sirius opened #2459 "Cannot load saved responses in Postman"
1. Postman Version: 4.8.1
 2. App (Chrome app or Mac app): Windows App
 3. OS details: Windows 7 Enterprise 64bit
 4. Is the Interceptor on and enabled in the app: No
 5. Did you encounter this recently, or has this bug always been there: It was working before I upgraded to this version.
 6. Expected behaviour: If I click on a saved response, it should be loaded below the request section.
 7. Cons

[2016-11-09 17:29] bhbabu commented on #555
I have postman 3.8.1 and still seeing this issue with 204MB file.

[2016-11-09 18:15] SamvelRaja commented on #2459
@git-sirius The issue has beed fixed in our internal build. This will be out tomorrow as 4.8.2 version.

[2016-11-09 19:38] glidenz opened #2460 "AWS Sig4 Issue"
Hi All

Trying to access an API I created on AWS which requires AWS_IAM authorisation. I've followed what I can find on the AWS and Postman docs and I am receiving an error that by all accounts appears to be fixed already according to other issues that I have read thru.

"message": "The request signature we calculated does not match the signature you provided. Check your AWS Secret Access Key and

[2016-11-10 03:26] JimG777 commented on #278
This is an issue for me, but I did not test twitter. Nest also has an HTTP Streaming API (https://developers.nest.com/documentation/cloud/rest-streaming-guide/). On testing with my own test server (via node.js), Postman 4.8.1 (Chrome/Windows) just says "Loading..." forever. Curl is okay, as long as each 'response' has a carriage return to terminate it. Only then does curl update. From a browser, o

[2016-11-10 06:54] sdnts commented on #555
@bhbabu Postman 3.8.1 is a very old version, which is no longer maintained. Could you try the same with the latest version? (4.8.1)

[2016-11-10 07:10] sdnts commented on #2460
@glidenz The `Session Token` field is supported in our [native apps](http://getpostman.com/apps). Could you download the native OSX / Windows / Linux app and see if adding your session token there works for you?

[2016-11-10 07:18] sdnts commented on #1011
@Scottwg11 Can you see all your collections at https://app.getpostman.com/dashboard/collections/private?expand=1 ? If yes, and Sync does not bring back all your collections, can you email us at help@getpostman.com?

[2016-11-10 08:18] stianlagstad commented on #2457
I've not been able to reproduce the issue, @madebysid, but I'm sure it was _not_ caused by the same series of steps as with @abtiddle. I'll comment here if I discover how it happens.

[2016-11-10 08:25] ghost commented on #2456
Awesome! 👍
Thank you.

[2016-11-10 08:51] stianlagstad commented on #2446
I've been able to reliably reproduce the issue that @PFarrell89 is describing. This is the setup:
- Request1: Calls `http://reqres.in/api/users?delay=10` which returns some test data after 10 seconds. This is using `envA`, which has a variable called `testThis`. There's a test script that updates the value of `testThis` after the request is done:

[code]
- Request2: This is a request to `http://re

[2016-11-10 10:30] bkubiak commented on #1228
Hey, could you add possibility to disable cookies in Mac OS native app? I can delete them manually, but this is very inconvenient.

[2016-11-10 11:52] arunrdd commented on #1009
@madebysid just thought sharing this might save some time for anyone facing the same issue, not expecting any solution from you guys :)

[2016-11-10 11:57] SamvelRaja commented on #2459
@git-sirius The fix has been released in our 4.8.2 version. Kindly check the same from your end.

[2016-11-10 11:57] #2459 closed, assigned to nobody

[2016-11-10 14:07] vegetableman commented on #2423
The issue has been fixed in the recent release `4.8.3`. Closing this issue. Feel free to reopen if the bug still exists ^_^.

[2016-11-10 14:07] #2423 closed, assigned to vegetableman

[2016-11-10 14:08] vegetableman commented on #2404
The issue has been fixed in the recent release `4.8.3`.  (Reopening it, so that you guys could verify and let me know)

[2016-11-10 14:11] vegetableman commented on #2250
@aromanet42 Could you verify if the issue still exists in the recent release `4.8.3` ^_^.

[2016-11-10 14:12] vegetableman commented on #2196
@kubah The issue has been fixed in the recent release `4.8.3` .  Closing this. Feel free to reopen if the issue still exists ^_^.

[2016-11-10 14:12] #2196 closed, assigned to vegetableman

[2016-11-10 14:13] vegetableman commented on #1850
@kubah The issue has been fixed in the recent release `4.8.3` .  Closing this. Feel free to reopen if the issue still exists ^_^.

[2016-11-10 14:14] vegetableman commented on #2409
@shmup The issue has been fixed in the recent release `4.8.3` . Closing this. Feel free to reopen if the issue still exists ^_^.

[2016-11-10 14:14] #2409 closed, assigned to vegetableman

[2016-11-10 14:15] vegetableman commented on #2144
@kdprince The issue has been fixed in the recent release 4.8.3 . Closing this. Feel free to reopen if the issue still exists ^_^.

[2016-11-10 14:15] #2144 closed, assigned to vegetableman

[2016-11-10 14:17] sdnts commented on #1749
Can you guys try updating to the latest version (4.8.3) and see if this issue still persists?

[2016-11-10 14:17] sdnts commented on #2443
@jmfayard The `disabled` key should now be correctly exported in the latest version (4.8.3). Feel free to reopen this if you face issues.

[2016-11-10 14:17] #2443 closed, assigned to sdnts

[2016-11-10 14:18] sdnts commented on #2417
Hey guys, can you guys try updating to the latest version (4.8.3) and check if the exports work the way you expect?

[2016-11-10 14:18] #2417 closed, assigned to sdnts

[2016-11-10 14:19] soufian044 commented on #1850
Sorry guys but the problem still exists

[2016-11-10 14:20] sdnts commented on #2421
@ericvan76 Can you try doing this in the latest version (4.8.3) and see if the token is selectable?

[2016-11-10 14:22] sdnts commented on #2407
@kiedysktos Can you try running your collection in the latest version (4.8.3) and check if the GET body is still being sent?

[2016-11-10 14:23] Scottwg11 commented on #1011
I figured it out. I jumped the gun a little by posting here instead of looking into it a little more. When doing a "get" for the apps I needed to increase the limit so that I could see them all. By adding "?limit=200" to the end of the command I was able to list them all.

Thanks for the reply.

[2016-11-10 14:40] #2421 closed, assigned to sdnts

[2016-11-10 14:41] #2407 closed, assigned to sdnts

[2016-11-10 14:41] sdnts commented on #2396
Several improvements have been made to the Runner, can you try doing this now in the latest version (4.8.3)?

[2016-11-10 14:42] sdnts commented on #2275
@LilyEssence Can you generating cURL in the latest version (4.8.3) and see if it is correct?

[2016-11-10 14:43] sdnts commented on #454
@stevemcmillen Can you try updating to the latest version (4.8.3) and see if the file is added to the generated code correctly?

[2016-11-10 14:43] #454 closed

[2016-11-10 14:44] sdnts commented on #1932
Can you guys try updating to the latest version (4.8.3) and see if characters are correctly encoded?

[2016-11-10 14:45] sdnts commented on #2405
@PhilipSharman Can you try updating to the latest version (4.8.3) and check if this is fixed?

[2016-11-10 14:45] #2405 closed, assigned to sdnts

[2016-11-10 14:46] #2295 closed, assigned to sdnts

[2016-11-10 15:04] git-sirius commented on #2459
Confirming that all the reported issues in this bug have been fixed in version 4.8.3 (I haven't seen a version 4.8.2 and this bug number, 2459, showed up in the change log for 4.8.3):
- The saved responses are loading properly
- I am able to send requests and the PostMan console no longer shows "Response Headers: Loading..."
- The saved responses box from one response no longer gets copied to all

[2016-11-10 15:53] stevenmcdermott8 commented on #2423
Confirmed working for me, thanks for the fix guys!

[2016-11-10 16:08] mistersender commented on #1963
+1 - if a collection stops running because the script failed, at the very least the runner should not indicate that all tests were successful. This is misleading and has caused quite a bit of confusion for us

[2016-11-10 17:12] seangarner commented on #348
Doesn't seem to work on the new linux beta desktop app (4.8.3).

[2016-11-10 17:52] igorsantos07 commented on #2418
I'm facing the same issue, also on a private API :(

If I copy the `curl` code Postman generates, add `-i` to get headers, I get this on command-line:

[code]

I was also outputting `content-type: application/json`, but removing it made no difference.

Linux Mint 18, Postman desktop 4.8.1. Nothing useful shows on the console, as with the OP.

[2016-11-10 18:07] igorsantos07 commented on #2418
Actually, while testing out I removed the content-type while changed the timeout setting to a bad value.
Setting timeout to 0 (as default) and **not** sending the JSON content-type with the 204 response solved the matter for me.

I found no clear, canonical answer on [204](https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.2.5) vs. [Content-Type](https://www.w3.org/Protocols/rfc2616/rfc

[2016-11-10 19:13] bhbabu commented on #555
sorry for my typo earlier. I do have 4.8.1 and this problem is noticed with a 204MB file.

[2016-11-10 20:08] victorhaggqvist opened #2461 "Static url for linux app download?"
I'm trying to find a static url for the linux version, but fail to find any thing but the one for latest version (https://dl.pstmn.io/download/latest/linux?arch=64).

It would be great if there was something available similar to the osx one ie. https://s3.amazonaws.com/postman-electron-builds/mac/Postman-osx-4.8.3.zip.

[2016-11-10 22:28] phoffer7874 opened #2462 "Postman issue copying REST data"
In the new version of Postman the format when we copy the JSON data from the body is not in the same format as is was (Readable), now it is in pure JSON.

Is there a way to get the readable JSON format?

[2016-11-11 05:26] rollinginsanity opened #2463 "Duplicate Postman Test to Another Collection"
It was suggested on Twitter that I come over here to make this suggestion.

When working with items on collections I tend to create one massive collection with all the endpoints, and then a second collection that I then tease out the actual logical functional tests for APIs.

It would be great if I if one could Duplicate a particular test to another collection, rather than a copy being made in the

[2016-11-11 08:27] baskaranc commented on #675
Add custom snippets would be really great!

[2016-11-11 08:43] vegetableman commented on #2463
@rollinginsanity Let's say, you have two collections `C1` and `C2`. `C2` is the duplicate collection with tests. I am guessing you want to replace a request `R1` in collection `C1` with `R1` (with tests) from `C2`. Is that right?

[2016-11-11 08:50] vegetableman commented on #2462
@phoffer7874 Could you elaborate your issue with screenshots?. I am able to copy and retain the format of JSON from postman, when pasting it to an editor.

[2016-11-11 09:48] anikasolanka opened #2464 "Exporting Collections leads to empty file"
Hi,

Since yesterday the export of collections doesn't work anymore. I am able to choose export and save it, but when I check on my hard drive, the collection is of size 0 KB.

It happens with all collections I try to export.

I am not able to use our collections in our CD pipeline anymore which blocks our test and delivery.

Best regards,

Anika Solanka

Infos:
- Chrome App Version 4.8.1
- win /

[2016-11-11 11:22] vegetableman commented on #2464
@anikasolanka Since you are able to export, could you follow this steps:-
- Open up the devtools console window (https://www.getpostman.com/docs/errors).
- Export the collection.
- Share a screenshot of the console window in this github issue, so that we can debug and get back to you.

[2016-11-11 11:54] phoffer7874 commented on #2462
Anand,

Thank you for the quick response.

Normally when I copy data from Postman in the pretty mode:

[image: Imagem inline 1]

And pasted it into Notepad it was formatted as pretty now it is formatted
as Raw:

[image: Imagem inline 2]

This functionality got lost in the last update. (Yesterday)

Please inform why this was taken away, because now it is very difficult to
analyse data in Excel.

Re

[2016-11-11 12:54] vegetableman commented on #2462
@phoffer7874 Are you using the chrome or the native app?.

[2016-11-11 13:43] vegetableman commented on #2462
@phoffer7874 Also, To confirm, were you coping directly from the app or by clicking on `Copy to Clipboard`button.

[2016-11-11 14:19] phoffer7874 commented on #2462
Anand,

I tested using both the Chrome verion and the native App. I am clicking on
the copy button, because I work with big files.

Thanks in advance, and have a good weekend.

Peter

2016-11-11 11:43 GMT-02:00 Vignesh Anand notifications@github.com:

[2016-11-11 20:21] anikasolanka commented on #2464
While trying to get the console output it started working again. When I restarted for the devtools enablement, postman was updated to 4.8.3.
Maybe this fixed the issue?
Thank you for your support and quick response!

[2016-11-11 20:21] #2464 closed, assigned to nobody

[2016-11-11 21:55] rollinginsanity commented on #2463
I was thinking more that I have C1 and C2, with request R1 only in C1.
Rather than copying it and ending up with "R1 copy" in C1, being able to
"copy to" C2, co that R1 is in both.

However the case you mentioned is also good, I ran in to that where I have
2 sets of requests (subfolders in a collection that I use the runner with).
I realised I'd made a mistake that affects them both and had to fix

[2016-11-12 01:51] vegetableman commented on #2462
@phoffer7874 Thanks for confirming ^_^. The issue has been identified and will be fixed in the next release.

Good weekend to you as well  ^_^.

[2016-11-12 08:25] a85 commented on #1595
@mstaalesen Is this still happening?

[2016-11-12 08:26] a85 commented on #1892
@aquitania99 We are unable to replicate this. I'd suggest moving to the Postman Mac app which doesn't use the Interceptor if you are working with cookies. Closing this until we have further steps to replicate.

[2016-11-12 08:26] #1892 closed, assigned to nobody

[2016-11-12 08:27] a85 commented on #2162
@sobtiankit @abhijitkane Still valid? Can we review all sync related bugs here once and clear them off if they are invalid?

[2016-11-12 08:32] a85 commented on #1383
@shamasis @numaanashraf Solved in the Mac app with the new format?

[2016-11-12 08:44] mstaalesen commented on #1595
Yes, I was able to reproduce it last week. (in the chrome app).

[2016-11-12 11:19] abhijitkane commented on #2162
Was converted to a Zendesk issue - hasn't recurred since.

[2016-11-12 11:19] #2162 closed, assigned to abhijitkane

[2016-11-12 12:45] #723 closed

[2016-11-12 12:46] a85 commented on #2389
Closing as duplicate of #2277

[2016-11-12 12:46] #2389 closed, assigned to nobody

[2016-11-12 12:46] soufian044 commented on #1850
@vegetableman Sorry guys but the problem still exists , this time I can't even go around it by clicking _bulk edit_

could you please take a look at this ?

[2016-11-12 12:48] a85 commented on #2373
POST/PUT routes in the new Postman Cloud API (https://api.getpostman.com) will support workflows like these. It will allow POSTing to an existing collection and syncing it with everyone's Postman copy. Closing this for now.

[2016-11-12 12:48] #2373 closed, assigned to nobody

[2016-11-12 12:50] a85 commented on #2051
POST/PUT routes are coming soon. Should make the entire workflow seamless.

[2016-11-12 12:51] a85 commented on #2017
Detailed changes for a collection are available in the "Activity Feed".

<img width="618" alt="screenshot 2016-11-12 18 21 11" src="https://cloud.githubusercontent.com/assets/653409/20237890/db1cae32-a904-11e6-8738-6d4cb69ba200.png">

[2016-11-12 12:51] #2017 closed, assigned to nobody

[2016-11-12 12:52] #1832 closed, assigned to nobody

[2016-11-12 12:52] a85 commented on #1796
Coming up in 4.9!

[2016-11-12 12:53] a85 commented on #1606
@kbhutchinson We are working on app wide autocomplete features that should solve your use case. I am closing this issue as it is a subset of the bigger feature.

[2016-11-12 12:53] #1606 closed, assigned to nobody

[2016-11-12 12:54] a85 commented on #1351
This should be fixed already.

[2016-11-12 12:54] #1351 closed, assigned to nobody

[2016-11-12 12:55] a85 commented on #1343
All native apps are available on www.getpostman.com/apps

[2016-11-12 12:55] #1343 closed, assigned to nobody

[2016-11-12 12:55] a85 commented on #1332
Too dangerous as an option. We are working on #2277 to help mitigate this problem.

[2016-11-12 12:55] #1332 closed, assigned to nobody

[2016-11-12 12:56] a85 commented on #1303
You should be able to move tabs now. New tabs can be opened through the sidebar as well. There are some workflow enhancements coming to the tab behavior in 4.9. Keep an eye on https://blog.getpostman.com for details!

[2016-11-12 12:56] #1303 closed, assigned to nobody

[2016-11-12 12:57] a85 commented on #1292
Can you check if the native apps solve this issue? www.getpostman.com/apps

[2016-11-12 12:58] a85 commented on #1263
Everyone. Coming up in 4.9. Closing this for now.

[2016-11-12 12:58] #1263 closed, assigned to nobody

[2016-11-12 12:59] a85 commented on #1193
@shamasis Available in collection-v2?

[2016-11-12 12:59] a85 commented on #1132
This has been changed since Postman 4.0+

[2016-11-12 12:59] #1132 closed, assigned to nobody

[2016-11-12 13:00] a85 commented on #1013
Coming soon through our Github integration for Postman Cloud users.

[2016-11-12 13:02] dheerajbhaskar opened #2465 "Add multiple files to request body in Postman interface"
1. Postman Version:
4.8.3
win32 10.0.14393 / x64
 2. App (Chrome app or Mac app):
Windows native app
 3. OS details:
win 10 64 bit
 4. Is the Interceptor on and enabled in the app:
yes
 5. Did you encounter this recently, or has this bug always been there:
encountered recently (needed to do this only now)
 6. Expected behaviour:
Show "Choose Files" instead of "Choose File"
 7. Console logs (http:/

[2016-11-12 13:02] a85 commented on #668
Closing as duplicate of #622

[2016-11-12 13:02] #668 closed

[2016-11-12 13:04] a85 commented on #2442
We should be able to do this using a hash. Will check with the team.

[2016-11-12 13:05] a85 commented on #2410
This is coming up in 4.9

[2016-11-12 13:31] dheerajbhaskar commented on #2465
I see that this is only a limitation in the windows native app. There is a "choose files" (plural) in the chrome app

Can you please confirm that it's setting the `multipart/form-data` as contet type? because I'm not able to debug the actual request that is made since there is no debugger in the chrome app

[2016-11-12 15:43] phoffer7874 commented on #2462
Anand,

When will the next release enter in production?

2016-11-11 23:51 GMT-02:00 Vignesh Anand notifications@github.com:

[2016-11-12 15:48] wcandillon commented on #2051
@a85 Looking forward to it.

[2016-11-12 17:42] vegetableman commented on #2462
@phoffer7874 In the coming week. Stay tuned for updates and thank you for posting this issue 👍 .

[2016-11-12 22:17] phoffer7874 commented on #2462
Anand,

Thank you very much, resolving this issue is very important for me.

Have a good week,

Peter

2016-11-12 15:42 GMT-02:00 Vignesh Anand notifications@github.com:

[2016-11-13 06:46] adequatica opened #2466 "Two equal signs at the end of request loose in cURL generated code"
1. Postman Version: 4.8.3
 2. App (Chrome app or Mac app): Mac
 3. OS details: 10.12
 4. Is the Interceptor on and enabled in the app: No
 5. Did you encounter this recently, or has this bug always been there: Don't know
 6. Steps to reproduce:

* Have GET request with two equal signs at the end: ``https://example.url/foo?bar=parameter==``
* Click [Code];
* In the «Generate code snippets» pop-up s

[2016-11-13 12:27] eylonmalin commented on #2423
Thanks a lot for the fix.

[2016-11-13 15:54] Workom2016 commented on #2423
My Postman version is 4.8.3 but still cannot set environment variable from response header.
Please advise.

[2016-11-13 18:11] slimfadi commented on #166
+1 for custom methods

[2016-11-13 23:26] sandy-adi commented on #495
Just happened to me today :(

[2016-11-14 03:10] nickfan commented on #697
+1

[2016-11-14 06:01] shamasis commented on #1193
@a85 - it's a function of runtime. Should be a matter of exposing via postman API. Then the apps would need to honour the deletions.

[2016-11-14 06:03] shamasis commented on #1383
@a85 - it's a matter of behaviour change in runtime and it was done. Runtime currently does not purposely type cast in order to maintain compatibility with users who are actually depending on this behaviour reported as bug.

The new PM API should utilise type casting and address this issue.

[2016-11-14 06:10] #2275 closed, assigned to sdnts

[2016-11-14 06:10] #1932 closed, assigned to sdnts

[2016-11-14 06:10] #1749 closed, assigned to sdnts

[2016-11-14 06:10] #2396 closed, assigned to sdnts

[2016-11-14 06:54] vegetableman commented on #2404
Closing this issue. Let me know if the issue still exists ^_^.

[2016-11-14 06:54] #2404 closed, assigned to vegetableman

[2016-11-14 06:54] vegetableman commented on #2250
@aromanet42 Closing this issue. Feel free to reopen if the issue still exists ^_^.

[2016-11-14 06:54] #2250 closed, assigned to nobody

[2016-11-14 07:17] alexrootways opened #2467 "POST data not showing on import .json file"
Hi,
I seen POST data issue when we import postman's json file.    For example i had downloaded .json file from https://github.com/CurrencyCloud/postman.  After import if i  try PHP CURL code using code generate tool of postman, then it was not showing any  POST data.   That means after import if we try to call api then it does not work because nothing as send as post data, evenif it shows post dat

[2016-11-14 07:21] alexrootways commented on #2467
Just remind that i use windows based POSTMAN tool, instead of use as chrome plugin.

[2016-11-14 08:43] sdnts commented on #2364
@charltog Yes of course, you can download a Windows Canary build from: [x86](https://dl.pstmn.io/download/channel/canary/windows_32) or [x64](https://dl.pstmn.io/download/channel/canary/windows_64)

[2016-11-14 11:34] #2308 closed, assigned to sdnts

[2016-11-14 14:31] Steven-Mark-Ford commented on #1490
I also experienced this. I used chrome dev tools to verify that on initial request the post parameters were sent out but then on the subsequent post following the redirect there were no post parameters

[2016-11-14 14:39] sdnts commented on #1490
@Steven-Mark-Ford According to the HTTP RFC spec, redirection with 301/302 status codes is supposed to be carried out using a GET request, which will cause loss of data.
You can read docs [here](https://www.getpostman.com/docs/handling_redirects). These should be helpful when handling redirects in Postman.

[2016-11-14 19:47] shamasis commented on #1963
I hear you all. I'm assuming I'm misinterpreting things a bit. Apologies. looping in @a85.

@a85 - can runner highlight syntax errors like in Newman?

[2016-11-14 20:36] eugene-sotirescu commented on #1104
+1

[2016-11-14 20:46] grayrod opened #2468 "Plus signs in request URLs are automatically encoded"
## Version/App Information:
 1. Postman Version: **4.8.3**
 2. App (Chrome app or Mac app): **Mac app**
 3. OS details: **macOS Sierra 10.12.1**
 4. Is the Interceptor on and enabled in the app: **no**
 5. Did you encounter this recently, or has this bug always been there: **Recently**
 6. Expected behaviour: **Plus signs (+) in request URLs would not be automatically encoded**

## Description
My

[2016-11-14 21:31] sjmcdowall commented on #2447
Any updates on this?  It’s a bit annoying ..

[2016-11-14 22:42] tagyoureit commented on #2423
It is working in the 'Body' section of the results again in 4.8.3.  I never tried it in previous versions from the 'Headers' tab.

[2016-11-15 05:33] Vishal-Joshi commented on #884
I am having the same issue. After I cancel request, the other requests are hanging indefinitely.

I am working on Mac FYI.

[2016-11-15 05:56] AymanEG opened #2469 "Uploaded files (form-data/binary) don't reflect in code snippets"
Hello there , Thanks for great work at your APP
And as a pay back for the great APP , I like to report a bug :

Edit [More details]
I try to upload a file (test.png) from my desktop to my Wordpress Media library through the client (Body -> binary -> choose file) , the call was success returning 201 created , when i try to generate the code , no indication for the image path !

The code generator f

[2016-11-15 05:56] irislian199092 commented on #1944
I  came the same problem.Is there any solutions on this?

[2016-11-15 06:33] SamvelRaja commented on #2469
@AymanEG Thanks for bringing this to out notice, we shall keep you updated on the progress of this here.

[2016-11-15 06:59] sdnts commented on #2447
@sjmcdowall This is fixed internally, and we'll be rolling out a fix with the next release.

[2016-11-15 07:03] vegetableman commented on #2423
@Workom2016 Due to a breaking change in the recent versions of chrome, selection on non-editable areas could no longer be supported on the chrome app. This fix allows setting environment variables only from an editable section like response body, test scripts, etc., which solves most of the use-cases reported in this issue.

I would recommend switching to the native app which supports your use-cas

[2016-11-15 07:27] AymanEG commented on #2469
Thanks for your fast response, I confirm also same issue on chrome app

for who seeks the answer , a complete example is like the following in php curl:

[code]

[2016-11-15 09:39] NargisP commented on #266
Very simple answer enter " chrome://apps " in your chrome browser

[2016-11-15 11:26] ghost commented on #1038
This hack is nice but uses a lot of CPU. Is there any other alternative available?

[2016-11-15 16:07] ghost commented on #208
@abhijitkane : SoapUi export to Swagger will only export the REST calls, not the SOAP calls. This is not a solution for Postman to use WSDL.

[2016-11-15 16:29] mistersender opened #2470 "Add "data" to postman collections/calls"
I would like to have a feature added to postman where custom data could be saved on each call/collection/folder, much like the "edit" allows a description to be saved. I'm working on some stuff with postman/newman/cloudAPI where it would be really handy to be able to save some user-defined data with each of these for automated testing purposes & have that data also returned from the cloudAPI. For

[2016-11-15 17:10] PetrusKiendys commented on #1522
While "Environments" solve the case for various deployment envs it doesn't help when you want to organize your requests in a fine-grained manner.
I have requests that currently squeeze in under `Operations > Various > [request]` when I really want something more like `Operations > Various > [network] > [node] > ([stack]) > [application] > [API section]`

This is supposed to be implemented accordin

[2016-11-15 18:02] PhilipSharman commented on #2405
Yes, I can confirm that this is fixed in v4.8.3. Thanks!

[2016-11-15 21:31] glidenz commented on #2460
I thought I was using native OSX app ver 4.8.1 but I will re-check

[2016-11-15 23:08] glidenz commented on #2460
OSX 4.8.3 seems to work fine

Issue solved

[2016-11-15 23:08] #2460 closed, assigned to nobody

[2016-11-16 04:25] brodyd commented on #1038
Not that we've tried yet - but we have been thinking about calling an external API that delays its response but I'm not convinced that will even be possible inside postman.

[2016-11-16 06:33] shamasis commented on #1038
Yes @brodyd that would work. Checkout echo.getpostman.com delay endpoint.

[2016-11-16 06:36] shamasis commented on #2329
Hi,

Any update on this? I was not able to reproduce this without more information. Closing it. Please feel free to reopen if you're still facing the issue.

[2016-11-16 06:36] #2329 closed, assigned to shamasis

[2016-11-16 06:40] shamasis commented on #2060
It's been some time to reply to this thread! Apologies for that. The postman app and the runner is designed to send a single request at a time. As such, true load testing is not currently possible. We are work on ways to remotely load test your apis using collections.

Closing this thread. We will post an update when something relevant comes up.

[2016-11-16 06:40] #2060 closed, assigned to shamasis

[2016-11-16 07:25] SamvelRaja commented on #2457
@abtiddle @stianlagstad We pushed a fix for this in our 4.8.3 version of the app, can you guys check the same from your end?

[2016-11-16 07:28] vegetableman commented on #2470
@mistersender For now, the app supports environments which allow you to maintain custom data in variables that you could use through out collections.(https://www.getpostman.com/docs/environments). As for supporting data pertaining to each request, it is part of the roadmap. Will keep you posted in this thread.

[2016-11-16 10:08] cen1 commented on #1947
I need this to add an Authorization header with OAuth tokens to every single request. It is so damn annoying to need to copy and paste it every single time. This would be a major feature!

[2016-11-16 11:12] sw-tt-harishyadav commented on #697
like
      postman.setNextRequest("r2");
there should also be
      postman.setPreviousRequest("r2");

[2016-11-16 15:11] zhiyingjin commented on #482
I have a similar issue, but I am using Windows. Do you know how I can make it work? Thanks!

[2016-11-16 15:27] sdnts commented on #482
@zhiyingjin I'm assuming you're using the Chrome app. I'd recommend switching to our native Windows app, it has support for client certificates, and this issue should not appear.

In case you're using the Chrome App, a quick Google search returns [this](https://blogs.technet.microsoft.com/sbs/2008/05/08/installing-a-self-signed-certificate-as-a-trusted-root-ca-in-windows-vista/), and should help.

[2016-11-16 15:50] cdtinney commented on #85
+1.

Would be very useful.

[2016-11-16 16:20] zhiyingjin commented on #482
@madebysid yeah, I tried snap-in it works for all other browsers including firefox and chrome, but not for Postman. Not sure what I am missing.

[2016-11-16 16:25] zhiyingjin commented on #482
@madebysid yes, I am using Chrome App.

[2016-11-16 19:43] rafaelriedel commented on #166
Really? Postman still don't have custom methods? Come on! I work with caldav, I need perform operations such as REPORT and MKCOL and I can't do this on Postman!

+1 for custom methods

[2016-11-16 19:52] hlubovac commented on #166
Is this restriction imposed by Chrome in any way (which would be shame-on-google), or is it not by HTTP specs? Otherwise, I don't see why it's difficult to add an option to type whatever in place of that method-dropdown.

[2016-11-16 20:50] 1digicoder commented on #1749
This was resolved. I tested with 4.8.3 and its fixed. Thank you.

[2016-11-17 04:47] adorsett commented on #818
I have the same issue, it's breaking my ability to test a third-party API using Postman.  If I write a quick python app that uses OAuth1 and I don't percent-encode the realm, it works just fine.  If I try it via Postman which percent-encodes that realm, the server returns a 401.  Can we make this encoding a configurable option to account for servers that may not be spec compliant?

[2016-11-17 05:17] pylover commented on #166
We can use custom methods with javascript in any browser. So I couldn't understood what is the problem?

[2016-11-17 06:36] srbh21 commented on #855
Hi team, I am not able to open the console window on postman in windows........Can some on help me for the same.....i am using ctrl+alt+c

[2016-11-17 07:39] sdnts commented on #855
@srbh21 Are you on the Chrome App? The Chrome App does not have the Console yet. Can you try it on the native Windows App? You can download it [here](http://getpostman.com/apps).

[2016-11-17 07:54] vegetableman commented on #166
@pylover It's being discussed ^_^. Will keep you guys posted in this thread.

[2016-11-17 08:08] sdnts commented on #495
If you have Sync enabled, can you head over to https://app.getpostman.com/dashboard/collections/private?expand=1 and check if your collections are intact? If so, logging out and logging back in should restore all your collections.

[2016-11-17 09:20] AlexandraColdea opened #2471 "Pretty print is producing invalid data"
Postman Version: 4.8.3
OS X 10.10.3

Steps to reproduce the problem:
Have a request that returns the following raw result:
`{  "script" : "var quote = \"<quote>\\\"<quote>\";"}`
In the pretty print view this is turned into:
`{ "script": "var quote = \"<quote>\"<quote>\";"}`
which is invalid

[2016-11-17 10:05] sdnts commented on #2009
@dinesh-domain We've redesigned the runner and the new Runner has filters that will allow you to do just that. The new Runner is on our Canary channel, and you can download it for [OSX](https://dl.pstmn.io/download/channel/canary/osx_64) / Windows ([x86](https://dl.pstmn.io/download/channel/canary/windows_32) or [x64](https://dl.pstmn.io/download/channel/canary/windows_64)) / Linux ([x86](https://

[2016-11-17 10:17] sdnts commented on #1884
Guys, Postman has had support for Client certificate authentication for a while. Could you check out the latest version (4.8.3) and see if this is still an issue? Docs are [here](https://www.getpostman.com/docs/working_with_client_certificates)

[2016-11-17 11:36] sdnts commented on #1275
We've been working on a redesign of the runner which addresses this issue.

The new Runner is on our Canary channel, and you can download it for [OSX](https://dl.pstmn.io/download/channel/canary/osx_64) / Windows ([x86](https://dl.pstmn.io/download/channel/canary/windows_32) or [x64](https://dl.pstmn.io/download/channel/canary/windows_64)) / Linux ([x86](https://dl.pstmn.io/download/channel/canary

[2016-11-17 11:40] sdnts commented on #1600
@cdanielsen We've been working on a redesign of the Runner that addresses your issue.

The new Runner is on our Canary channel, and you can download it for [OSX](https://dl.pstmn.io/download/channel/canary/osx_64) / Windows ([x86](https://dl.pstmn.io/download/channel/canary/windows_32) or [x64](https://dl.pstmn.io/download/channel/canary/windows_64)) / Linux ([x86](https://dl.pstmn.io/download/cha

[2016-11-17 11:46] sdnts commented on #1611
If I understood correctly, what you want to do can be accomplished with `postman.setNextRequest`. ([Docs](https://www.getpostman.com/docs/workflows))

You could have one request (initialization), where you could set environment variables etc and all that stuff. Then move over to the second request and loop over it 100 times (using an environment variable counter maybe), running tests on it to make

[2016-11-17 11:48] sdnts commented on #1688
@felipecocco @felipeplets We've been working on a redesign of the Runner that addresses this issue.

The new Runner is on our Canary channel, and you can download it for [OSX](https://dl.pstmn.io/download/channel/canary/osx_64) / Windows ([x86](https://dl.pstmn.io/download/channel/canary/windows_32) or [x64](https://dl.pstmn.io/download/channel/canary/windows_64)) / Linux ([x86](https://dl.pstmn.i

[2016-11-17 11:51] sdnts commented on #1745
Hey guys, we've been working on a redesign of the Runner that should address your issue.

The new Runner is on our Canary channel, and you can download it for [OSX](https://dl.pstmn.io/download/channel/canary/osx_64) / Windows ([x86](https://dl.pstmn.io/download/channel/canary/windows_32) or [x64](https://dl.pstmn.io/download/channel/canary/windows_64)) / Linux ([x86](https://dl.pstmn.io/download/

[2016-11-17 11:52] sdnts commented on #1756
@KotieSmit Is this still happening in the latest app (v4.8.3)? Feel free to reopen if it does.

[2016-11-17 11:52] #1756 closed, assigned to nobody

[2016-11-17 11:54] sdnts commented on #1728
Guys, is this still an issue with the latest Postman App (v4.8.3) and Newman (v3.2.0)?

[2016-11-17 12:01] sdnts commented on #2471
@AlexandraColdea That looks like valid JSON. The quotes (") in the value are escaped properly using backslashes ( \ ), so it looks proper.

[2016-11-17 12:42] daecabhir commented on #1884
Although this fits the general requirement, it would be _really helpful_ to have Postman accept PKCS#12 files (e.g., .p12) or PEM files that contain both the certificate and private key. Particularly in a more "corporate" environment with enterprise-managed PKI, this is how we tend to receive certificates - not as separate certificate and key files. This actually makes it easier to manage the cert

[2016-11-17 12:43] ronteddu commented on #1728
Haven't tried the new version but my solution above always worked with no issues so far.

[2016-11-17 14:52] AlexandraColdea commented on #2471
@madebysid
You are right, the JSON is valid, however Postman unescapes part of the data, making it illegal.

I have the following string which contains an escaped quote:
`var quote = "<quote>\"</quote>";`
When I serialise it and send it as a value in a JSON this turns to:
`{ "script" : "var quote = \"<quote>\\\"<quote>\";"}`
This is the value I can see in the raw view, which is correct:
<img width

[2016-11-17 16:56] dregge8 commented on #1850
I also have the issue when I try to generate the code for Body>Raw.  The entire body field no longer exists, about 7-10 days ago it was working fine.

[2016-11-17 22:12] cdanielsen commented on #1600
@madebysid Thanks! I use the slack channel regularly. Look forward to seeing the updated runner.

[2016-11-17 22:15] 4everqa opened #2472 "Postman IDE, while importing v1 collection, fails to read persisted Request->Body->file value in json project file."
Background info:
 1. Postman Version: 4.8.3  win / x86-32
 2. App (Chrome app or Mac app): Chrome Version 54.0.2840.99 m
 3. OS details: Windows 7 64bit
 4. Is the Interceptor on and enabled in the app: If it is on or off do not affect issue.
 5. Did you encounter this recently, or has this bug always been there: Always
 6. Expected behaviour: Expected behaviour would be that project settings woul

[2016-11-18 02:28] huixiaoao opened #2473 "get access token but CONNECTION_FAILED"
Hi,guys
 I`m using postman chrome app version 4.8.3
 There is some problems when I try to get access token OAthu2.0 like this.

![880b7350-ad81-11e6-9ea8-bb5855358479](https://cloud.githubusercontent.com/assets/7689783/20422130/6e43541c-ad8e-11e6-98ad-9f78f264f4eb.png)

I`m very sure about Internet Connection is ok.
and I can see proxy setting is the key point
![image](https://cloud.githubusercont

[2016-11-18 03:43] poisa opened #2474 "Feature request: More visibility for collection request descriptions"
When saving a request, there is an option to enter a description. It would be great if this description could be seen (at least the first line) right below each request in the Collections.

The reason this is useful is because -in my case- all the URLs for my collections look exactly the same but headers are different. I have 20 items in a collection and have no way of differentiating them other t

[2016-11-18 07:28] sdnts commented on #2473
@huixiaoao I see you're using the Chrome App. In that case, the App will use Chrome's proxy settings to make requests. Since Chrome uses the system settings, setting your system proxy to the one you want to use should get rid of your error.

From your other errors, it looks like Postman is not able to connect to the network at all. Could you set system proxy settings and check if you can make a si

[2016-11-18 11:51] dulichan opened #2475 "Swagger.yaml not importing"
1. Postman Version: 4.8.3
 2. App (Chrome app or Mac app): Mac app
 3. OS details: 10.11.5
 4. Is the Interceptor on and enabled in the app: nope
 5. Did you encounter this recently, or has this bug always been there: always
 6. Expected behaviour: Swagger YAML file to load
 7. Console logs

Not parseable YAML: <ParseException> Malformed inline YAML string ("Get the details of the operations/activ

[2016-11-18 12:49] vegetableman commented on #2475
@dulichan Thanks for reporting this issue 👍 . We were able to replicate it, will get back to you.

[2016-11-18 12:51] vegetableman commented on #2474
@poisa When saving a request, you could also edit the name of the request. Let me know if that helps.

[2016-11-18 13:11] vegetableman commented on #2423
@Workom2016 The issue will be fixed in the upcoming version. Thanks for pointing it out 👍 .

[2016-11-18 14:31] fuadhamidan commented on #682
+1

[2016-11-18 15:48] pokraev commented on #1104
+1

[2016-11-18 16:07] poisa commented on #2474
@vegetableman Ah! I thought the name was the actual URL and that if I changed that the request would change.
Now that I know they aren't related I'm going to go ahead and change them!
Thanks!

[2016-11-18 17:02] janslow commented on #2452
This would also be useful for us, as our access tokens have to be refreshed every 5 minutes.

[2016-11-19 01:12] vegetableman opened #2476 "Response lag in native app compared to chrome app"
1. Postman Version: 4.8.3
 2. App (Chrome app or Native app): Native
 3. OS details: Any
 4. Is the Interceptor on and enabled in the app: No
 5. Did you encounter this recently, or has this bug always been there: always
 6. Expected behaviour: Similar or nearly identical response time.
 7. Console logs (http://blog.getpostman.com/2014/01/27/enabling-chrome-developer-tools-inside-postman/ for the

[2016-11-19 12:00] Varunperla commented on #1831
+1

[2016-11-19 14:00] fereshteee opened #2477 "hey"
1. Postman Version:
 2. App (Chrome app or Mac app):
 3. OS details:
 4. Is the Interceptor on and enabled in the app:
 5. Did you encounter this recently, or has this bug always been there:
 6. Expected behaviour:
 7. Console logs (http://blog.getpostman.com/2014/01/27/enabling-chrome-developer-tools-inside-postman/ for the Chrome App, View->Toggle Dev Tools for the Mac app):
 8. Screenshots (if

[2016-11-19 14:10] fereshteee commented on #2477
hey
i have a problem about postman
postman cant response my resquest GET or POST
when i want to get request,it replies me: could not get any response
i dont know what to do
my code in chrome replies correct but in postman i want to get request or curl,i cant.
version:4.8.3
win / x86-32
Chrome  54.0.2840.99
my os is windows 7 64 bit
![untitled](https://cloud.githubusercontent.com/assets/23580394/20

[2016-11-19 16:10] JohnDotOwl commented on #1850
Same issue, the code generated for python and other doesnt include the body at all, x-www.form-urlencoded is empty but all the data required are in raw

[2016-11-19 16:12] JohnDotOwl commented on #1850
For python, it basically doesn't generate the Payload anymore , was working a few weeks ago. Anyway i can downgrade the version?

[2016-11-19 16:15] soufian044 commented on #1850
let me tell you how to go around this bug until it's fixed , try **bulk edit** and then add space and remove it , and try again to generate the code , only then it will generate the full code

[2016-11-19 23:31] vinnyamp opened #2478 "Not exporting Body into "CURLOPT_POSTFIELDS" when generating a PHP cURL Script"
1. Postman Version: **4.8.3**
 2. App (Chrome app or Mac app): **Mac App**
 3. OS details: **OS X SIERRA**
 4. Is the Interceptor on and enabled in the app: **No**
 5. Did you encounter this recently, or has this bug always been there: **Recently**
 6. Expected behavior: **Get "CURLOPT_POSTFIELDS" when generating a PHP cURL script.**

I'm facing a problem on Postman when I generate a PHP cURL scri

[2016-11-20 00:03] seppestas commented on #2477
I suppose you don't have any web server running on port 5000... Whatever you are trying to do, I'm pretty sure the issue is not caused by Postman.

Did you do the request using your browser on the same computer as the one that is running Postman?

Try to make the titles and the content of your issues a bit more clear by the way. "hey" is not very descriptive, neither is "i have a problem about pos

[2016-11-20 09:03] ethai opened #2479 "Postman crashes on large data POST to REST Service."
1. Postman Version: 4.8.3
 2. App (Chrome app or Mac app): Chrome
 3. OS details: Win7
 4. Is the Interceptor on and enabled in the app: No
 5. Did you encounter this recently, or has this bug always been there: Encountered this recently due to first time usage of such huge POST of data.
 6. Expected behaviour:  POST to REST service was successful, however, I would get an alert of the app crashing

[2016-11-20 14:26] Bluscream commented on #350
HAR file support please!

[2016-11-20 17:15] StevenMapes commented on #2217
May I ask how you even get the Client Certificate option? I'm running 4.8.3 and there is no tab under settings even with client certificate only General | Themes | Shortcuts | Data | Add-ons | Sync | About

[2016-11-20 22:22] gvarnell commented on #697
+1

[2016-11-21 07:56] stianlagstad commented on #2446
Have you had a chance to test this, @madebysid?

[2016-11-21 08:14] splagemann opened #2480 "Socks5 System Proxy not working with Postman Mac App"
1. Postman Version: 4.8.3
 2. App (Chrome app or Mac app): Mac app
 3. OS details: Mac OS Sierra 10.12.1
 4. Is the Interceptor on and enabled in the app: No
 5. Did you encounter this recently, or has this bug always been there: Can't say
 6. Expected behaviour: System Proxy should work
 7. Console logs:

[code]

8. Steps to reproduce:
- Configure Socks5 Proxy on `localhost:1080`
- Configure Prox

[2016-11-21 10:06] kingstevo opened #2481 "Links in XML response incorrectly detected"
1. Postman Version: 4.8.3
 2. App (Chrome app or Mac app): Chrome app - Chrome 54.0.2840.99
 3. OS details: win / x86-64

- Make an API call as usual
- API responds with XML
- Links are in CDATA enclosed fields
- Postman correctly identifies the links and highlights them in the 'Pretty' view
- Clicking on the link opens a new Postman tab
- The two ]] that mark the closing of the CDATA field are in

[2016-11-21 10:20] vegetableman commented on #2480
@splagemann Thanks for reporting this issue 👍 . Closing it, as it's a duplicate of #1321. It's part of the roadmap and you could subscribe to that issue to stay tuned.

[2016-11-21 10:20] #2480 closed, assigned to nobody

[2016-11-21 10:32] splagemann commented on #1321
Are there actual plans that this will be implemented?

[2016-11-21 13:12] ondrejKR commented on #697
+1

[2016-11-21 13:36] nau7ic opened #2482 "Data File Import - Collection Runner - not working properly"
Postman Version: **4.8.3**
App (Chrome app or Mac app): **Chrome**
OS details: **Win 7 64-bit**
Is the Interceptor on and enabled in the app: **NO**

**Current behaviour**:
When I import the example CSV or JSON File the last colum (password) is missing in the preview and is not imported.

**Expected behaviour**:
When I import the example CSV or JSON File all colums are imported and in the preview

[2016-11-21 13:58] nau7ic commented on #2482
I was trying to import my own files and it didnt work as expected. First i thought i had a format error in my CSV file. So i imported both example files with the same outcome. Only the first 4 colums are shown

[2016-11-22 06:21] ejfn commented on #2421
Yes it's selectable now, thanks.
But right-clicking on selected text, the context menu is different from what it was before. previously there are two options in the menu:
* Set: {current environment}
* Set: Globals

With them I can sent selected text to an environment variable via one of above options. But they're not shown any more.

[2016-11-22 07:03] sdnts commented on #2477
@fereshteee I think @seppestas is correct. Could you check your server to see if your endpoints work as expected?
To check if the problem does not indeed lie in Postman, you can use `echo.getpostman.com`, which is a test service.

[2016-11-22 07:21] sdnts commented on #2217
@StevenMapes I think you're on the Chrome App. The Chrome app relies on Chrome to supply us a certificate. I'd suggest switching to our native apps, which have certificate support in the Settings screen.

[2016-11-22 07:47] SamvelRaja commented on #2482
@nau7ic The preview modal shows all the columns, you need to scroll horizontally to view that.
And does your data gets properly replaced in your request while running the collection?

[2016-11-22 07:54] SamvelRaja commented on #2457
@stianlagstad  @abtiddle  Closing this right now. Feel free to reopen if you guys get this again.

[2016-11-22 07:54] #2457 closed, assigned to nobody

[2016-11-22 08:55] StevenMapes commented on #2217
@madebysid, I'm using the latest Windows 10 Deskstop App and not the chrome app. If I install the chrome extension it just recognises the Win10 app is installed as well as launches that anyway.

[2016-11-22 09:06] sdnts commented on #2217
Hm, that's weird. Could you attach a screenshot of your Settings screen here?

[2016-11-22 09:08] sdnts commented on #2479
@ethai Could you try out your endpoint with our native apps? The native apps run on top of Postman Runtime, which can handle large file uploads a lot easier.
You can download our native apps, based on your platform, [here](https://getpostman.com/apps)

[2016-11-22 09:09] sdnts commented on #2478
@vinnyamp This is fixed internally and we'll be rolling out a fix for this in the coming releases. Will keep you updated.

[2016-11-22 10:28] aromanet42 commented on #2250
@vegetableman Looks like it's working now, thanks!

[2016-11-22 11:39] stormposse opened #2483 "Show Postman Console before Show DevTools - DevTools console remains blank"
1. Postman Version: 4.8.3
 2. App (Chrome app or Mac app): Mac app
 3. OS details: OS X 14.5.0 / x64
 4. Is the Interceptor on and enabled in the app: no
 5. Did you encounter this recently, or has this bug always been there: since 4.8.0
 6. Expected behaviour: DevTools console shows messages from Postman regardless of Postman Console / DevTools launch order
 7. Console logs (http://blog.getpostma

[2016-11-22 13:00] StevenMapes commented on #2217
Sure.
Here's the desktop app
and here is the application running, open on settings showing the About
tab. You'll notice the missing menus

​

On 22 November 2016 at 09:06, Siddhant Sinha notifications@github.com
wrote:

[2016-11-22 14:49] nau7ic commented on #2482
Sry for late answer. I guess i had a chaching issue. Now everthing is working as intended. Thx you for your help.

[2016-11-22 14:49] #2482 closed, assigned to vkaegis, bhawna2109

[2016-11-22 15:06] juanvillegas commented on #1320
thanks, I always hated that soooo much

[2016-11-22 15:21] jakobmillah commented on #60
Any plans for adding download option for images as well?

[2016-11-22 16:18] imbibinebe commented on #697
:+1:  This will be very nice feature.
At least I would use it to remotely load testing JSON schemas for tv4.

[2016-11-23 05:05] moose1882 commented on #1475
+1

[2016-11-23 07:25] sdnts commented on #2217
@StevenMapes I can't see the screenshot, I think it wasn't attached properly.

[2016-11-23 07:53] vegetableman commented on #2483
@stormposse I am not able to reproduce the issue. Also, regardless of the sequence, the log will be displayed on both Devtools and Postman Console. Let me know if you need any clarifications.

[2016-11-23 07:57] vegetableman commented on #2475
The issue has been fixed on our internal build. Stay tuned for the next release ^_^.

[2016-11-23 08:09] vegetableman commented on #2483
@stormposse Also, if you could share a screencast for the issue, the better I would be able to help you.

[2016-11-23 08:15] fotoflo opened #2484 "Make saved responses more obvious"
1. Postman Version:
 2. App (Chrome app or Mac app):
 3. OS details:
 4. Is the Interceptor on and enabled in the app:
 5. Did you encounter this recently, or has this bug always been there:
 6. Expected behaviour:
 7. Console logs (http://blog.getpostman.com/2014/01/27/enabling-chrome-developer-tools-inside-postman/ for the Chrome App, View->Toggle Dev Tools for the Mac app):
 8. Screenshots (if

[2016-11-23 08:15] fotoflo opened #2485 "allow editing of saved responses"
so i can show what the response SHOULD look like

[2016-11-23 08:16] fotoflo opened #2486 "allow writing of saved responses (without actual response) — similar to tests"
So I can use Postman to model a response

[2016-11-23 08:16] fotoflo opened #2487 "create API server which sends the saved response"
So i can use a client to hit the modeled API

[2016-11-23 08:18] vegetableman commented on #2481
@kingstevo Thanks for posting this issue 👍 . Will get back to you.

[2016-11-23 08:23] sdnts commented on #1850
Guys, we've fixed this, and will be rolling out a fix in the coming releases.

[2016-11-23 09:03] stormposse commented on #2483
Thanks for looking at this @vegetableman. I re-installed 4.8.3 this morning and tried again - the problem is still there. I made a QuickTime movie and here it is on screencast:
http://www.screencast.com/t/rVHlWAoiknp

Any ideas what may be going on?

[2016-11-23 09:04] #973 closed

[2016-11-23 09:05] sdnts commented on #915
Could this be posted on the [Newman issue tracker](https://github.com/postmanlabs/newman/issues)? Makes it easier for us to manage issues :)

[2016-11-23 09:05] #915 closed

[2016-11-23 09:10] sdnts commented on #867
This has been a feature in the app for quite some time. Check out the latest Postman App (4.8.3) :D

[2016-11-23 09:10] #867 closed

[2016-11-23 09:11] #860 closed

[2016-11-23 09:14] aminsepahan opened #2488 "Escape string does not work in an html in json"
when we want to have a html content in our Json, we should skip its string!
but the problem is that postman supports clicking on link in html or Jsons, but when you click on it, it uses the last "/" so it wouldn't work

[2016-11-23 09:22] aminsepahan commented on #2488
for example in this Json string:

http://degaresh.com/5190/%d8%af%d8%b3%d8%aa%d9%87%e2%80%8c%d8%a8%d9%86%d8%af%db%8c-%d9%86%d8%b4%d8%af%d9%87/30-%d8%af%d8%a7%d8%b3%d8%aa%d8%a7%d9%86-%da%a9%d9%88%d8%aa%d8%a7%d9%87-%d8%a2%d9%85%d9%88%d8%b2%d9%86%d8%af%d9%87-%d8%a7%d9%81%da%a9%d8%a7%d8%b1-%d8%a7%d8%ad%d8%b3%d8%a7%d8%b3%d8%a7%d8%aa-%d8%aa%d8%a7/?json=1&include=content,date,tags,categories,thumbnail&da

[2016-11-23 09:25] sdnts commented on #840
A JSON browser has been in the maintained Chrome & native apps for quite some time now. Closing this :)

[2016-11-23 09:25] #840 closed

[2016-11-23 09:29] #794 closed

[2016-11-23 09:29] sdnts commented on #793
Is this still an issue on the latest native apps? (4.8.3)

[2016-11-23 09:33] calebrepkes opened #2489 "Mac client doesnt update properly"
1. Postman Version: 4.8.0
 2. App (Chrome app or Mac app): Mac App
 3. OS details: OS X 16.0.0 / x64   &&  macOS Sierra 10.12
 4. Is the Interceptor on and enabled in the app: Automatically yes.
 5. Did you encounter this recently, or has this bug always been there: Had it too when trying to upgrade from 4.7.x to 4.8.0
 6. Expected behaviour: Update properly
 7. Console logs (http://blog.getpostma

[2016-11-23 09:33] sdnts commented on #733
Are you guys still seeing this?

[2016-11-23 09:36] sdnts commented on #714
This has been a feature of the native apps for quite some time. Closing this :)

[2016-11-23 09:36] #714 closed

[2016-11-23 09:54] sdnts commented on #2489
@calebrepkes Thanks for reporting this.
To help us debug this, could you send us the zipped contents of the folder `~/Library/Application Support/com.postmanlabs.mac.ShipIt` to help@getpostman.com?

There should be three files there (`ShipIt_stderr.log`, `ShipIt_stdout.log` and `ShipItState.plist`)

[2016-11-23 10:12] ShilAggarwal opened #2490 "Multipart request with file and json data"
1. Postman Version: 4.8.3
 2. App (Chrome app or Mac app): Chrome App
 3. OS details: Windows 7/64-bit
 4. Interceptor is off
 5. For multipart request, there is no provision to post send json data with the file upload. (Raw data in application/json format + file in form-data)
 6. Expected behaviour: There should be provision to send json data type along with file upload

1. Choose a post request.

[2016-11-23 10:59] sdnts commented on #2490
@ShilAggarwal Could you try doing this on our [native apps](https://getpostman.com/apps)? The native apps are built on top of Postman Runtime, which has improved support for multipart/form-data requests.

[2016-11-23 11:05] #2474 closed, assigned to nobody

[2016-11-23 11:06] sdnts commented on #2472
@4everqa Thanks for reporting this, I'm looking into this.

[2016-11-23 12:01] vegetableman commented on #2489
@calebrepkes Could you also verify the permissions of the log files in the directory `~/Library/Application Support/com.postmanlabs.mac.ShipIt` as to whether you are the owner?

[2016-11-23 12:21] ShilAggarwal commented on #2490
Thanks for prompt response ! But my issue is still not resolved. I need to imitate my curl request in postman (its working using curl).
The curl script is-
curl.exe -F "files[]=@!<filepath>!" -F "jobdata=@!<json_filepath>!;type=application/json" %<post_url>%

I don't have any way to send json form data in postman

[2016-11-23 12:37] ShilAggarwal commented on #2490
Hi,
Works perfect now.. sending both the files as file type only in form data :)
Thanks for the support!

[2016-11-23 12:37] #2490 closed, assigned to ash007-postman

[2016-11-23 13:08] sdnts commented on #2472
@4everqa I noticed you are using the Chrome App. In that case, re-loading the file on import won't be possible, because Chrome (and most browsers) do not supply us the full file path when uploading. Also, they do not allow apps to read from a user's file system.

As for the native apps, this looks like a bug, and I'll get on a fix.

[2016-11-23 13:26] rmabraham commented on #1853
Any update on when this will be added? This makes using the runner so much more efficient.

[2016-11-23 13:31] sdnts commented on #1853
We've been working on a redesign of the Runner that addresses your issue.

The new Runner is on our Canary channel, and you can download it for [OSX](https://dl.pstmn.io/download/channel/canary/osx_64) / Windows ([x86](https://dl.pstmn.io/download/channel/canary/windows_32) or [x64](https://dl.pstmn.io/download/channel/canary/windows_64)) / Linux ([x86](https://dl.pstmn.io/download/channel/canary/

[2016-11-23 14:19] sdnts commented on #851
Closing as this should be fixed in the latest native & Chrome apps (4.8.3)

[2016-11-23 14:19] #851 closed

[2016-11-23 14:20] sdnts commented on #850
Guys, is this still an issue?

[2016-11-23 14:30] sdnts commented on #1069
Closing as this is fixed in new versions of the app (4.8.3)

[2016-11-23 14:30] #1069 closed, assigned to nobody

[2016-11-23 14:38] sdnts commented on #1073
This should be possible now. You can prettify JSONs in the raw body by selecting the correct format using the dropdown next to the body type selector. Linting should be automatic, but you can prettify using the shortcut (Cmd + B)

[2016-11-23 14:38] #1073 closed, assigned to nobody

[2016-11-23 14:54] #1105 closed, assigned to nobody

[2016-11-23 14:58] sdnts commented on #1113
This isn't possible in the Chrome App because this would be a security breach for any modern browsers, who do not provide the client with the entire path to an uploaded file.

On the native apps though, it is. Support for it is on the roadmap.

[2016-11-23 16:53] aengelberg opened #2491 "Pretty-print EDN responses"
I'd like to use Postman to test my API that uses the `application/edn` Content Type. In order to do that, I need to see a pretty-printed (ideally syntax colored) version of the payload.

[EDN](https://github.com/edn-format/edn) is a data notation format that is similar to JSON but supports a wider set of data types.

[2016-11-23 19:54] a85 commented on #1951
Should be fixed now. Couldn't replicate in 4.8.3

[2016-11-23 19:55] #1951 closed, assigned to nobody

[2016-11-23 19:58] a85 commented on #2319
@rvnath Please email us at help@getpostman.com for account specific issues. The support team will help you sort it out.

[2016-11-23 19:58] #2319 closed, assigned to nobody

[2016-11-23 20:56] davecanderson commented on #1342
Perhaps if the iteration count is 0 then iterate over all items in data file. This would be useful in Runner and Newman.

The iteration count couples together the configured steps in our CI build process that use Newman with the test data files which are in source control.

Adding new lines to the test data in SCM can trigger the CI build but that has no affect until the build scripts are updated.

[2016-11-23 21:12] GeeWizWow commented on #712
Had this same issue. Turns out interceptor was enabled but the chrome extension was not installed. Hope this helps others

[2016-11-24 03:35] caitsithx commented on #1038
@shamasis could you elaborate more on echo.getpostman.com delay endpoint?

[2016-11-24 03:47] caitsithx commented on #1038
sleep(1000) works for me.

[2016-11-24 05:59] sdnts commented on #1038
@caitsithx Postman Echo is a test service. [Here](http://echo.getpostman.com/#f-509e-efe0-686d-eed4b3d2f1f0) are docs for the delay endpoint.

[2016-11-24 06:05] caitsithx commented on #1038
I was mis-understanding it's for delay. thanks @shamasis

[2016-11-24 06:46] ethai commented on #2479
@madebysid , i tried teh native app now although it's not crashing on me the POST never seems to complete so all i'm left with is Loading....Cancel Request option.

[2016-11-24 07:01] ethai commented on #2479
i can see from the postman console log that the requests is actually successful and that it shows completion time of 28secs with 200 OK yet the Builder screen is still stuck on Loading...Cancel Request.  here's a screenshot
![native-postman-output-large-requests](https://cloud.githubusercontent.com/assets/6053873/20589353/c73cb414-b1d0-11e6-9179-fa6842cf6302.JPG)

[2016-11-24 07:12] vegetableman commented on #2479
@ethai Thanks for sharing the screenshot 👍 . Could you also share a screenshot of the devtools on the native app (`View -> Show Devtools` or `Cmd  + Alt + I`), for us to check if there are any errors?

[2016-11-24 07:24] ethai commented on #2479
yup as you expected some error shown

![storage-error](https://cloud.githubusercontent.com/assets/6053873/20589834/e7194e2a-b1d3-11e6-9a79-2fc3f712c26d.JPG)

[2016-11-24 07:24] ethai commented on #2479
![fullerror](https://cloud.githubusercontent.com/assets/6053873/20589862/09611fe4-b1d4-11e6-811a-09f7ef406b5f.JPG)

[2016-11-24 08:17] vegetableman commented on #2479
@ethai Thanks for sharing the screenshot. The fix will be out in the upcoming release (which will be out in a few days).

The issue is due to storing the request data from the api call on the app `localstorage`. As a workaround, until the next release, could you run this code on the devtools console `pm.settings.setSetting('lastRequest', null)`  which would clear out the request made.

Thanks ^_^.

[2016-11-24 08:27] rmabraham commented on #1853
Thanks for the quick response. I tested the Canary channel and its look great!

However whenever I include a datafile the tests don't run it just hangs.

[2016-11-24 08:54] sdnts commented on #1853
@rmabraham Are you on the Chrome Canary? If so, I'm aware of the issue, and we'll be releasing a fix for it today.

[2016-11-24 09:23] rmabraham commented on #1853
Yes on the chrome canary.

On Thu, Nov 24, 2016 at 10:54 AM Siddhant Sinha <notifications@github.com>
wrote:

[2016-11-24 10:22] nmquyet commented on #675
This will be helpful

[2016-11-24 14:47] itsjamie opened #2492 "Integration test - OAuth2 Code Flow"
It would be great to be able to automatically handle OAuth2 authorization code flow in Collections for integration tests. To handle it, the interface I could see requires us to write some kind of basic follow-up request to the initial code request to "approve" access. Such as supplying user details.

Right now we're working around this by utilizing the implicit flow, and not automatically followin

[2016-11-24 14:49] itsjamie opened #2493 "Feature Request, request specific ability to disable following redirects."
It would be great to be able to disable following request redirect at the request level, perhaps via the Tests interface.

This is related to #2492, where we currently disable following all redirects to be able to grab the implicit grant token to support integration tests.

[2016-11-24 19:50] phoffer7874 commented on #2462
Anand,

The change is still not in production, what will be the date for this
update?

Thanks in advance,

Peter

2016-11-12 20:17 GMT-02:00 Petrus Hoffer <petrus.hoffer@gmail.com>:

[2016-11-25 04:31] chandanpasunoori commented on #2469
request and response are correct when I click send, but when I generate whole json body is not available in  code, like java, nodejs, httpie, etc but it was in only cURL but not in shell curl.

I restarted postman several time but still same behaviour

[2016-11-25 05:42] mukkesmarty commented on #1850
body is not included in code snippet. postman version = 4.8.3. please fix

[2016-11-25 06:19] sdnts commented on #1342
@davecanderson That's an interesting solution. We're looking into auto-populating the iteration count when you specify a data file.

We're actually working on a redesign of the runner that does exactly this.
The new Runner is on our Canary channel, and you can download it for [OSX](https://dl.pstmn.io/download/channel/canary/osx_64) / Windows ([x86](https://dl.pstmn.io/download/channel/canary/wind

[2016-11-25 07:07] harshil93 commented on #1473
Ctrl + B seems to work

[2016-11-25 08:01] ahsteele commented on #850
At about 11 megs things slow down significantly, but the application no longer crashes. Far from ideal, but not broken as it was previously.

[2016-11-25 09:17] StevenMapes commented on #2217
@madebysid, strange Okay here they are again, the first shows the application that I use, the second shows the launched application on the about settings menu
![postman1](https://cloud.githubusercontent.com/assets/2013210/20620072/c278625a-b2ef-11e6-9e97-f35a6eba0c3e.PNG)
![postman2](https://cloud.githubusercontent.com/assets/2013210/20620073/c27a2b58-b2ef-11e6-93ab-78525b04423e.PNG)

[2016-11-25 09:57] sdnts commented on #2217
@StevenMapes From the screenshot, it looks like you are using the Chrome App, not the native app. (I can see the Chrome version + the Interceptor icon), so in that case, certificates are not under our control.

I think Windows suggests the Chrome App in your case because you use it more often?

[2016-11-25 10:05] sdnts commented on #348
@seangarner I'm unable to reproduce this on 4.8.3.
To be sure, you're using Cmd+B in the raw body view right? And is the raw body type set to JSON? Do note that beautification will only work if the JSON is valid.

[2016-11-25 10:21] sdnts commented on #1473
@stanzheng In the response, the Pretty view is exactly what you are looking for. This will beautify the response (indentation etc.)

Cmd/Ctrl + B works to beautify the raw request body section when it is valid, depending on the type of body (JSON / XML etc.)

Closing this :)

[2016-11-25 10:44] #2217 closed, assigned to czardoz

[2016-11-25 10:47] sdnts opened #2494 "Feature Request: Support for PFX / P12 certificate format"
As suggested by @daecabhir on a [comment](https://github.com/postmanlabs/postman-app-support/issues/1884#issuecomment-261237293) on #1884

[2016-11-25 10:48] sdnts commented on #2494
We're working on support for the PFX certificate format. Will keep this thread up-to-date with the progress.

[2016-11-25 10:50] sdnts commented on #1884
@daecabhir I've gone ahead and created a new feature request #2494 for PFX / P12 for your use case, and will update it accordingly.

Closing this issue as this is resolved. Feel free to reopen if any problems persist.

[2016-11-25 10:50] #1884 closed, assigned to nobody

[2016-11-25 11:26] vamsisk opened #2495 "URL Encoding issue with Windows App"
1. Postman Version: v4.8.3
 2. App (Chrome app or Mac app): Windows App
 3. OS details: Windows 7
 4. Is the Interceptor on and enabled in the app: No
 5. Did you encounter this recently, or has this bug always been there: Just installed on windows
 6. Expected behaviour: URL should work without encoding issues .
 7. Console logs (http://blog.getpostman.com/2014/01/27/enabling-chrome-developer-too

[2016-11-25 11:32] sdnts commented on #2495
@vamsisk What is the value of the variable `url` in your environment / globals? Does it have any unicode characters?

[2016-11-25 15:08] mstaalesen commented on #2476
+1

[2016-11-26 00:51] ethai commented on #2479
I tried that temporary workaround, but doesn't appear to do anything.  I'll await for the next build to try.

[2016-11-26 01:45] jamesdixon commented on #1441
@jemshit's fix worked for me. cheers!

[2016-11-26 15:24] a85 commented on #229
@shamasis Does the runtime handle this?

[2016-11-26 15:25] a85 commented on #1466
@madebysid Still valid?

[2016-11-26 15:26] a85 commented on #2033
Still valid?

[2016-11-26 15:26] a85 commented on #2157
@abhijitkane Still valid?

[2016-11-26 15:26] #2208 closed, assigned to nobody

[2016-11-26 17:02] shamasis commented on #229
No. the JSONP callback evaluator is customisable. User will in anyway have to set some config to tell what's the callback is. Let me do some digging.

[2016-11-26 17:15] shamasis commented on #229
One thing I can think of is like the way we preview responses as JSON, XML, etc - there can be a JSONP preview where we try to detect the callback function name or ask users to keep one provided. Thoughts?

[2016-11-26 20:34] 4everqa commented on #2472
Many thanks for looking into this issue madebysid. /4everqa

[2016-11-26 21:58] ilanbiala commented on #793
@madebysid I don't have access to the data anymore, but you can try it out by just doing a request for all the records in a table and just keep adding to the table until you notice the slowdown.

[2016-11-26 22:47] ayancey commented on #1228
+1

[2016-11-27 03:44] daecabhir commented on #2494
Most excellent, thank you!

[2016-11-27 06:26] #2477 closed, assigned to nobody

[2016-11-27 18:52] maurymarkowitz opened #2496 "Command-W should close the window when there's no (or one) tab"
1. Postman Version:Version 4.8.3 (4.8.3)
 2. App (Chrome app or Mac app): Mac
 3. OS details: osX 10.12.1
 4. Is the Interceptor on and enabled in the app: ??
 5. Did you encounter this recently, or has this bug always been there: always

Command-W is normally connected to Close Window. In Postman it's connected to Close Tab, and you have to use Command-Shift-W to close a window.

If there is only

[2016-11-27 20:51] melwas opened #2497 "Issue with the new line encoding (%5Cn instead of %0A)"
Currently when using `application/x-www-form-urlencoded` Content-Type parameters with new line symbol (`\n`) are encoded as `%5Cn` (separately encoded `\` character [`%5C`] and `n` character). This can cause some hard to identify bugs on server side, where parsing the exact payload of parameters is essential (e.g. I had this issue when debugging payments gateway webhooks integration). An invalid e

[2016-11-28 02:51] ayancey opened #2498 "Local disk form-data binary files are cached undesirably"
1. Postman Version: 4.8.3
 2. App (Chrome app or Mac app): Chrome app
 3. OS details: OS X 10.12.1 (Sierra)
 4. Is the Interceptor on and enabled in the app: Yes.
 5. Did you encounter this recently, or has this bug always been there: Encountered it recently, but not sure how long it has existed.
 6. Expected behaviour: When specifying binary files in POST requests, I expect the request to reflect

[2016-11-28 07:10] sdnts commented on #2498
@ayancey This is a limitation of the Chrome platform, or in fact, of any modern browser. The browser does not supply us the complete path of a file when it is uploaded. In fact, the client gets only a reference to the file (with a fake path) which is supposed to be read. This is for security purposes.

This means that when you send a request, there is no way for the app to re-read the file since i

[2016-11-28 07:10] #2498 closed, assigned to nobody

[2016-11-28 07:11] ayancey commented on #2498
Sorry about that, I should have done more research before I submitted an
issue.

On Sun, Nov 27, 2016 at 11:10 PM Siddhant Sinha <notifications@github.com>
wrote:

[2016-11-28 07:29] heruan commented on #166
Is there a pre-release version of Postman App to test this on?

[2016-11-28 07:59] xiaobeiying opened #2499 "Feature request: How to read test data from local(PC) text file in Postman sandbox?"
If there are some test data(.txt/.json) in the local files that I want to use within the Postman  sandbox. How can I to do?
Like FileSystemObject in Javascript.

Tks All Frist.

[2016-11-28 08:07] sdnts commented on #2499
@xiaobeiying Directy reading files in the sandbox is not possible (recommended)

You should take a look at the Collection Runner with data files. This should help: http://blog.getpostman.com/2014/10/28/using-csv-and-json-files-in-the-postman-collection-runner/

[2016-11-28 08:07] #2499 closed, assigned to nobody

[2016-11-28 08:48] vishnuawasthi commented on #495
I lost my all collections today.

[2016-11-28 09:02] xiaobeiying commented on #2499
@madebysid  If there is only one data, that will be OK.
But if there are many datas, and each iteration will use different data.
How can i do that?

[2016-11-28 09:34] #1378 closed, assigned to nobody

[2016-11-28 09:37] geocine commented on #1223
This will also happen if an API is returning no status code

[2016-11-28 09:42] vegetableman commented on #2496
@maurymarkowitz Thanks for posting this issue 👍 .  I think we should make this a toggle-able setting on the app, as there have been requests for the otherwise: https://github.com/postmanlabs/postman-app-support/issues/1405
https://github.com/postmanlabs/postman-app-support/issues/1857 . Let me know your thoughts on it ^_^

[2016-11-28 09:44] NathanDotTo commented on #1850
Hi

I am also not seeing the body generated for Python Requests code in 4.8.3.

I tried the Bulk Edit of the environment as I think is being suggested above, but that did not work.

Regards

Nathan

[2016-11-28 09:48] xiaobeiying commented on #798
@abhijitkane Looking forward to the NEW version.

[2016-11-28 10:50] lucasvanhalst opened #2500 "Oauth 2.0: state not specified during access token request"
1. Postman Version:
 2. App (Chrome app or Mac app): 4.8.3
 3. OS details: linux / x86-64
 4. Is the Interceptor on and enabled in the app: no
 5. Did you encounter this recently, or has this bug always been there: 28/11/2016
 6. Expected behaviour: Postman should also send the 'state' parameter that it sent during the authorize request in the access token request.
 7. Console logs (http://blog.ge

[2016-11-28 11:15] fprochazka commented on #166
Do you think we could get a SEARCH method in the meantime please? :)

[2016-11-28 11:55] seangarner commented on #348
@madebysid I can't reproduce now either.  I'm pretty sure the json was valid because I would have been sending it to an api that'd parse it.

[2016-11-28 12:02] vegetableman commented on #2499
@xiaobeiying each iteration would be mapped to each row in the data file in case of `csv`, where as, it would be mapped to each element in an array in case of `json`.

[2016-11-28 12:07] sdnts commented on #348
@seangarner Ah, possible. In any case, it wasn't documented earlier, I've done it now. It should appear in the shortcuts list inside the app in the next release :)

[2016-11-28 12:32] gianisegatto commented on #882
+1

[2016-11-28 13:00] gianisegatto commented on #1535
+1

[2016-11-28 13:00] maurymarkowitz commented on #1857
As vegetableman notes above, I suggest the opposite - as a long-time Mac user I found the behaviour of Command-W in Postman very strange. Perhaps what we need is a third command, "close tab or window" that you could bind for those people that want that behaviour.

[2016-11-28 14:08] xiaobeiying commented on #2499
@vegetableman @madebysid  Thanks all, I got it.

[2016-11-28 14:19] sdnts commented on #2500
@lucasvanhalst Thanks for reporting this. Could I have some more information?
When you say `state`, what do you mean? Do you mean the OAuth URL parameters? Or are the headers / body not the way you expect them?

This will help me debug this easier.

[2016-11-28 14:29] lucasvanhalst commented on #2500
I was expecting the 'state' parameter to be present in the POST parameters, just like client_id, client_secret etc. It's an optional parameter, but when it is supplied in the authorize request it should also be included in the access token request.

It's explained very well here (step 2 is where the issue is in this case) https://developer.github.com/v3/oauth/#web-application-flow

[2016-11-28 14:33] sdnts commented on #2500
Ah I get it. The OAuth2.0 helper does not have support for the `state` parameter as of now. I'll add this as a feature request though.

Did you manually add the state parameter in the authorization request in your case or was that an example? If you remove the `state` parameter, does your OAuth flow succeed?

[2016-11-28 14:34] lucasvanhalst commented on #2500
The state parameter was added by postman.

[2016-11-28 17:46] mjgp2 opened #2501 "Editors cannot publish documentation"
As an editor, I cannot publish documentation created by another user within my company, but I can publish documentation that I create.

This is reproducible across many different collections.

Any workaround? :)

[2016-11-28 17:47] mjgp2 commented on #2501
As an editor, I can also not find the public URL for the documentation as far as I can see?

[2016-11-28 17:59] a85 commented on #2501
@mjgp2 We are changing the behavior here so that it follows access control rules. If you have edit permission, then you can publish this. For now you will need that person to publish. To find the public URL you can go to the "View Docs" link from the Team Library. On the top bar you will see a button that says "Published". Clicking on it will show you two links "View public URL", "Copy public URL"

[2016-11-28 18:00] mjgp2 commented on #2501
Thanks for your prompt response :)

[2016-11-28 18:18] mjgp2 commented on #2501
Unfortunately, there is no button there after following the instructions @a85  :(

[2016-11-28 18:56] SidhantDuggal commented on #1228
I've been using the native application. I can't find any setting or preference to prevent cookies being stored in the first place. This makes it apparently impossible to use the collection runner without affecting the results ( by the erstwhile cookies ).

[2016-11-28 21:04] lakkarajumurali commented on #1104
I'm also having the same issue.  The Content-Type: application/json;  should be added to the second part of the form data but it is not getting added.  Is there any other way to add that content-type for the second block?

------WebKitFormBoundaryWkPZB6PYQfS04Pa6
Content-Disposition: form-data; name="file[]"; filename="matter.txt"
Content-Type: text/plain

------WebKitFormBoundaryWkPZB6PYQfS04Pa6

[2016-11-29 00:24] Huachao opened #2502 "Malformed encoding when requesting https://www.google.co.jp"
1. Postman Version: 4.8.3
 2. App (Chrome app or Mac app): Windows App
 3. OS details: Windows 10 Build 10.0.14393
 4. Is the Interceptor on and enabled in the app: No
 5. Did you encounter this recently, or has this bug always been there: Just installed windows app
 6. Expected behaviour:
 7. Console logs (http://blog.getpostman.com/2014/01/27/enabling-chrome-developer-tools-inside-postman/ for t

[2016-11-29 01:37] craigday opened #2503 "OAuth 2.0 Callback URL should be editable"
The Callback URL for OAuth 2.0 Authentication is not editable and hard-coded to https://www.getpostman.com/oauth2/callback. Some APIs we use require this value to be set to specific URL, not just any URL for security reasons. Can you please make this value editable.

[2016-11-29 03:46] DaFrik commented on #2469
got the same issue,

my env:
- in a POST request, with Headers and Body,
- Body type is "raw" and  "JSON (application/json)" is selected
- typed my correctly formatted JSON
- click on the "Code" to generate code
- Selected "HTTP" I can see my post body JSON value
- then selected "Java > Unirest" , I CANNOT see my post body JSON value
- tried selected "NodeJS > Unirest", ALSO CANNOT  see my post bo

[2016-11-29 09:33] sffetlio commented on #682
This feature is required for automated testing. The numeric-naming workaround is not a solution.

[2016-11-29 09:34] sdnts commented on #682
This is in the works, I'll update you guys here when we have an ETA.

[2016-11-29 11:49] SamvelRaja commented on #2502
Thanks for bringing this to our notice. We shall keep you posted regarding this process 😄

[2016-11-29 13:09] sdnts commented on #2500
@lucasvanhalst My bad, I understood your issue now. We're working on a fix for this. Will keep you updated on this thread.

[2016-11-29 13:33] sdnts commented on #2503
@craigday This is specifically weird to do, allow me to explain why.

If you have your own callback URL, your server would have to be responsible to get the authorization token from the OAuth 2.0 provider, and exchanging it for the access token (while logging in to the OAuth 2.0 provider, which can be a hard-coded user I suppose).
While these two requests are going on, the app's connection will ne

[2016-11-29 13:33] #2503 closed, assigned to nobody

[2016-11-29 14:35] mjgp2 commented on #1013
Do you have an expected timeframe @a85 ?

[2016-11-29 14:51] ronaldsalas opened #2504 "[Feature Request] Add 'updated_at' attribute to collection"
Suggest adding a 'updated_at' (or 'exported_at') attribute to the postman collection schema so that people can know which "version" is the latest or not. I also suggest that the date value for this is updated whenever the collection is exported.

[2016-11-29 15:45] LeonardoGentile opened #2505 "POST payload not sent using x-www-form-urlencoded"
1. Postman Version: 4.8.3 (4.8.3)
 2. App (Chrome app or Mac app): Mac App
 3. OS details: 10.11.6
 4. Is the Interceptor on and enabled in the app: NO
 5. Did you encounter this recently, or has this bug always been there: Since previous version (not sure if maybe before)
 6. Expected behaviour: POST should send payload data to server
 7. Console logs (http://blog.getpostman.com/2014/01/27/enabli

[2016-11-29 18:23] AramilRey opened #2506 "Pre-request Script using disabled parameters"
**Postman Version**: 4.8.3
**App**: Chrome app | Chrome 54.0.2840.100
**OS details**: linux / x86-64
**Is the Interceptor on and enabled in the app**: Yes
**Did you encounter this recently, or has this bug always been there**: Always been there

**Expected behaviour**: (List of options)
1. Disabled parameters shouldn't be on the Pre-request Script.
2. Disabled parameters shouldn't be on the reques

[2016-11-29 19:44] sweetw0r commented on #895
+1

[2016-11-29 21:52] lucasvanhalst commented on #2500
Thanks for that!

[2016-11-30 02:33] zhangman1212 commented on #2441
Thank you very much, it works! But I have to set response variable as another name, shouldn't dup to 'data'

[2016-11-30 11:10] ruifortes opened #2507 "opening saved request replaces current unsaved tab"
Hello
This is a bit annoying because its common to start working on a new request and opening a saved one to copy some data.
In this case opening the saved one would replace the current unsaved one that you're working on.
If tab is dirty it shouldn't be maintained and not replaced
Thanks

[2016-11-30 11:33] sdnts commented on #2507
@ruifortes You can use the shortcut Cmd/Ctrl + Shift + Click on a saved request to open it in a new tab. That way, your current request (which isn't saved to a collection, so there's no saying if it is dirty or not) will be preserved.

Feel free to reopen if I misunderstood.

[2016-11-30 11:33] #2507 closed, assigned to nobody

[2016-11-30 11:46] aku246 commented on #2082
Jaldi karo be... Yahan client se halat kharab h. Alok b gussa re h.

[2016-11-30 12:34] ruifortes commented on #2507
Sure...but there will be some not so clever guys like myself loosing some seconds worth of work ;-)
Nevertheless I thing the "expected" way to a bunch of us is not replacing a dirty tab.

[2016-11-30 13:54] gianarb commented on #290
It works on MAC version

[2016-11-30 14:48] sdnts commented on #2506
@AramilRey Can you try this out on our [native apps](https://getpostman.com/apps)? The native apps are built on top of Postman Runtime, which hasn't made its way to the Chrome App yet.

You can get the current request parameters using `this.request.data`. Disabled parameters should not show up in the returned Array.
I'm unable to reproduce this there.

Feel free to reopen if I misunderstood.

You

[2016-11-30 14:48] #2506 closed, assigned to nobody

[2016-11-30 16:25] nvnikolov commented on #1104
+1

[2016-11-30 21:37] smmathews-cision-us opened #2508 "'#' is not encoded properly in param values"
1. Postman Version:4.8.3
 2. App (Chrome app or Mac app):Chrome
 3. OS details:MacOS 10.12.1
 4. Is the Interceptor on and enabled in the app:Unkown
 5. Did you encounter this recently, or has this bug always been there:Unkown
 6. Expected behaviour: supplying '#' in a param key should encode to '%23' similar to how '&' correctly encodes to '%26'
 7. Console logs (http://blog.getpostman.com/2014/0

[2016-12-01 11:56] gmta commented on #319
For everyone who gets here from Google; instructions from @jhorbulyk are no longer complete as of 2016-12-01. You also need to explicitly enable Postman Interceptor in the top of the Postman app. This is a toggle to the left of the "Sync" button.

[2016-12-01 13:34] vegetableman commented on #2489
@calebrepkes Since you are facing a permission issue, for now, you could change the ownership of the above logs files to your user account, which would fix the update process, until we release a patch for it. Steps for the same:- http://osxdaily.com/2013/04/23/change-file-ownership-mac-os-x/

[2016-12-01 15:23] ivanwitzke commented on #884
I'm having the same problem...
OS: Xubuntu 14.04.5 LTS (trusty)
Chrome 54.0.2840.100 (64-bit)
Postman version: 4.8.3

[2016-12-01 15:39] vamsisk commented on #2495
@madebysid No unicode characters. It is a just a HTTP URL is like below. Just manipulated few characters in the host and path as this is confidential.

**In URL Field:**
{{protocol}}://{{url}}​​​/v3/api/iden

**environment variables:**

url: ppe-api-iden.com.xxxxx.org
protocol: https

[2016-12-01 15:48] PFarrell89 opened #2509 "Inconsistent ordering of test folders between Runner and Main Postman Window"
1. Postman Version: 4.8.3 win32 10.0.10586 / x64
 2. App (Chrome app or Mac app): Windows
 3. OS details: Windows 10 64 Bit

I have a folder called '_DONE' which contains an API call to our messaging software informing the test team that a particular test collection has finished. I have one of these in every test collection folder.

This is at the bottom of the Test Collection folder as you can se

[2016-12-01 16:05] kkoszarski opened #2510 "Incorrect encoding of '-' sign in Postman Runner"
1. Postman Version: 4.8.3
 2. App (Chrome app or Mac app): Chrome 54.0.2840.99
 3. OS details: win/ x86-32

 4. Description of the problem
4.1 Create a call in the postman with PUT/POST method and place there a parameter of an email
{
	"email": "{{email}}",
	"street": "test",
	"houseNumber": "test"
}
4.2 Save call in a collection of calls
4.3 Go to a runner and try to run this collection while pro

[2016-12-01 16:22] ajsjunior commented on #615
The same problem is happening with media type **application/pdf**.
How to fix this?

[2016-12-01 17:12] RonakThakkar commented on #1546
Have you implemented these new feature in your Postman?

[2016-12-01 18:34] robolivable opened #2511 "Ace editor: unable to right click > copy/paste text"
1. Postman Version: 4.9.0
 2. App (Chrome app or Mac app): Chrome app
 3. OS details: OS X El Capitan 10.11.16
 4. Is the Interceptor on and enabled in the app: Yes
 5. Did you encounter this recently, or has this bug always been there: Noticed recently
 6. Expected behaviour: Highlight/point to text in Ace editor > right click > copy/paste
 7. Console logs (http://blog.getpostman.com/2014/01/27/e

[2016-12-01 18:37] robolivable commented on #2511
Just now noticed that this may be an issue higher up in Chrome itself. I get the same problem on Ace's home page... This can be closed since it may be unrelated to Postman.

Edit: This is due to a bug regarding a Chrome update and Ace: https://github.com/ajaxorg/ace/issues/3127

[2016-12-01 18:38] #2511 closed, assigned to nobody

[2016-12-02 04:43] silverqx opened #2512 "Add application/vnd.api+json to Content-Type autocomplete"
__application/vnd.api+json__ header value is missing in Content-Type's autocomplete dropdown list.

I think, that whole postman behavior ( syntax highlight, preview, ... ) is the same as for __application/json__ header.

[2016-12-02 07:51] vegetableman commented on #2511
@robolivable yep. Thanks for commenting on the ace issue thread ^_^.

[2016-12-02 09:51] sdnts commented on #2495
@vamsisk While your issue baffled me for some time, it looks like your URL has some unprintable characters, which is why you are seeing the weird percent encoding.

I'm supposing you copied the URL from somewhere, (and then I coped from GitHub) so these characters made their way into Postman. Can you try deleting the environment, creating a new one and retyping the URL variable? That should get ri

[2016-12-02 10:02] sdnts commented on #2509
@PFarrell89 Thanks for reporting this, we'll fix this in an upcoming version

[2016-12-02 10:05] sdnts commented on #2508
@smmathews-ch Thanks for reporting this, we'll get on a fix for this.

[2016-12-02 10:36] danielcooperxyz opened #2513 "Request Collection Location Subtitle"
It would be quite useful when working with large postman collections, for the request header to contain or be subtitled with the location in the collection?

I maintain requests for the same API in different environments, with many requests having the same name, it's quite confusing knowing which folder the request is in when it is open.

At the moment I differentiate by changing the title, but by

[2016-12-02 13:30] sdnts commented on #2500
@lucasvanhalst We added support for the `state` parameter in the latest version of the app (4.9). Can you try updating and see if your issue is resolved?

[2016-12-02 13:32] sdnts commented on #2478
@vinnyamp The latest version (4.9) has fixes that should solve your issue. Can you update and confirm?

[2016-12-02 13:33] sdnts commented on #2325
@charj-it The latest version (4.9) has fixes that should solve your issue. Can you update and confirm?

[2016-12-02 13:34] sdnts commented on #1342
Hey @davecanderson The new Runner is out with our latest version (4.9) on our native apps. This is possible now :D

[2016-12-02 13:34] #1342 closed, assigned to nobody

[2016-12-02 13:36] sdnts commented on #1853
@rmabraham @adampopkiewicz The new Runner is out with our latest release (4.9) on our native apps. Filtering only failed requests is possible now :)

[2016-12-02 13:36] #1853 closed, assigned to nobody

[2016-12-02 13:37] sdnts commented on #1745
@ronteddu @gogonutsss The new Runner is out with our latest version (4.9) on our native apps. Requests sent from the Runner have much more visibility now.

[2016-12-02 13:37] #1745 closed, assigned to nobody

[2016-12-02 13:38] sdnts commented on #2429
@sjdirect The new Runner is out with our latest release (4.9) on our native apps and you should now be able to see the complete response along with failed tests. Can you update and see if that solves your use case? :)

Feel free to reopen if not.

[2016-12-02 13:38] #2429 closed, assigned to nobody

[2016-12-02 13:41] sdnts commented on #2393
@andreassiegel The new Runner is out with our latest release (4.9) on the native apps. You should be able to see the actual request / response data now.
Thanks for all the feedback :D

[2016-12-02 13:41] #2393 closed, assigned to sdnts

[2016-12-02 13:42] sdnts commented on #917
@Amwam @cbelsole The new Runner is out with our latest release (4.9) on the native apps, and you should be able to see all tests with the request they were run with. Can you update and check if this fixes your usability concern and if URL substitution works properly?

Feel free to reopen if it doesn't.

[2016-12-02 13:43] sdnts commented on #2364
@chandramohanpl @charltog The new Runner is out with our latest release (4.9) on our native apps. Concurrent runs are now possible :)

[2016-12-02 13:43] #2364 closed, assigned to nobody

[2016-12-02 13:44] sdnts commented on #571
Guys, the new Runner is out with our latest release (4.9) on our native apps. Concurrent runs are now possible :)

[2016-12-02 13:44] #571 closed

[2016-12-02 13:45] sdnts commented on #530
@ariscris The redesigned Runner is out now with the latest release (4.9) on our native apps. You should be able to view which test is causing errors more clearly now.

[2016-12-02 13:45] #530 closed

[2016-12-02 13:46] sdnts commented on #1688
@felipeplets @felipecocco The new Runner is out now with the latest release (4.9) on our native apps and you should now be able to look at requests grouped by iterations. :)

[2016-12-02 13:46] #1688 closed, assigned to nobody

[2016-12-02 13:47] sdnts commented on #1600
@cdanielsen The new Runner is out with our latest release (4.9) on our native apps. Can you update and check if dynamically generated tests behave properly now?

[2016-12-02 13:47] #1600 closed, assigned to shamasis

[2016-12-02 13:47] sdnts commented on #1275
@blowsie The updated Runner is out now with our latest release (4.9) on our native apps and it features a progress bar that should help you gauge how much of your run is completed :)

[2016-12-02 13:47] #1275 closed, assigned to nobody

[2016-12-02 13:48] sdnts commented on #2009
@dinesh-domain The redesigned Runner is out now with our latest release (4.9) on our native apps. Failed tests can now be filtered so you can look at them separately. Can you update and see if this suits your use case?

[2016-12-02 13:48] #2009 closed, assigned to vkaegis

[2016-12-02 13:50] sdnts commented on #2301
@Catweasle Our latest release (4.9) on the native apps features a brand new Runner that syncs collection modifications between the App and the Runner. Can you update and check if this works for you now?

[2016-12-02 13:50] #2301 closed, assigned to sdnts

[2016-12-02 13:51] #917 closed

[2016-12-02 13:52] sdnts commented on #2456
@HyoKim  Our latest release (4.9) should solve this problem. Can you try updating and confirm?

[2016-12-02 13:52] #2456 closed, assigned to sdnts

[2016-12-02 13:53] sdnts commented on #1850
@soufian044 @dregge8 @rainbowhat @mukkesmarty @NathanDotTo The latest version (4.9) has fixes that should solve your issue. Can you guys update and confirm?

[2016-12-02 13:54] SamvelRaja commented on #2411
@Chris-Deluca  @shaworth We had made the changes in our authorization flow kindly check and confirm the same.

[2016-12-02 13:56] SamvelRaja commented on #2367
@gladstongarcia This has been fixed in our 4.9.0 version. Kindly check the same from your end 😄

[2016-12-02 13:56] #2367 closed, assigned to SamvelRaja

[2016-12-02 13:59] SamvelRaja commented on #1945
Here All, Opening request in new tab has been landed in 4.9.0, we provided the explicit settings to enable this feature in the app, as _Settings -> General -> Always opens requests in new tab_ 😄

[2016-12-02 14:01] SamvelRaja commented on #2043
@ianomad  We had included the whole new Context menu which pops up with the options to resolve your problem 😄
![Uploading Screen Shot 2016-12-02 at 7.30.09 PM.png…]()

[2016-12-02 14:01] #2043 closed, assigned to vegetableman

[2016-12-02 14:01] sdnts commented on #2415
@grantkemp Can you try updating to our latest version (4.9) and check if the generated code is correct?

[2016-12-02 14:03] SamvelRaja commented on #2475
@dulichan  This has beed fixed in our latest 4.9.0 version. Kindly check the same from your end.

[2016-12-02 14:03] #2475 closed, assigned to vegetableman

[2016-12-02 14:03] sdnts commented on #2479
@ethai We just released a new version (4.9). Can you update and see if large files are still causing issues for you?

[2016-12-02 14:11] grantkemp commented on #2415
@madebysid  cheers! will download and test it.  If its good will close this off.

Great work you guys are doing - I have got loads of my colleagues using it.

[2016-12-02 14:23] grantkemp commented on #2415
Just tried 4.9.0 and it looks like its still using the old code under Swift (NSURL) - am I looking in the wrong place?
![image](https://cloud.githubusercontent.com/assets/751115/20837193/e3162c4e-b89a-11e6-9c8f-a5a2034dbe1f.png)

(below looks like Swift 1 code!)
[code]

[2016-12-02 14:27] ethai commented on #2479
let me give it a try and get back to you.

[2016-12-02 14:44] karinamkl opened #2514 ""Error reading data file. Error: Could not determine format of file." when uploadin JSON or CSV file in Runner after update to 4.9.0"
1. Postman Version: 4.9.0
 2. App (Chrome app or Mac app): Windows desktop app
 3. OS details: Windows 7 Professional
 4. Is the Interceptor on and enabled in the app: (only in Chrome app - off)
 5. Did you encounter this recently, or has this bug always been there: in v.4.7.2 when uploading JSON file was getting error that app is unable to determine format but could manually select format from dr

[2016-12-02 14:53] numaanashraf commented on #2514
Hi @karinamkl, thanks for reporting this. Could you mail a sample of the JSON you are facing issues with to help@getpostman.com? We'll help you get this sorted.

[2016-12-02 15:06] lucasvanhalst commented on #2500
Seems to be fixed, thanks!

[2016-12-02 15:06] #2500 closed, assigned to sdnts

[2016-12-02 15:29] karinamkl commented on #2514
Hi @numaanashraf sent files to help@getpostman.com

[2016-12-02 15:38] ethai commented on #2479
@madebysid , are you alluding to the native app or the chrome ext to retest with?

[2016-12-02 15:41] ethai commented on #2479
@madebysid , disregarding updating native app and testing now.

[2016-12-02 15:55] gladstongarcia commented on #2367
Worked flawlessly.

Guys, thanks for the support and dedication. Your tool is really great.

[2016-12-02 16:37] cbelsole commented on #917
@madebysid I can confirm that this is working in the native app now. Thanks for all the hard work.

👍

[2016-12-02 17:27] cdanielsen commented on #1600
Will do!

[2016-12-02 18:08] GBrookman commented on #1850
just downloaded 4.9 and the payload is populated now for Python requests. Thank you!

[2016-12-02 18:10] soufian044 commented on #1850
Not for me , a made a gif animation to show what i have here , i will upload it later.
I even tried removing and installing the extension

[2016-12-02 18:13] n1njab0b opened #2515 "Code Snippets for C# HttpClient"
The code snippets are really handy!  How about one for the latest .NET hotness, HttpClient?

[2016-12-02 18:27] vamsisk commented on #2495
@madebysid

Your observation is exactly right. Yes the URL field have some non printable characters and due to that those characters are encoded during the Resolved URL value. No issue with the data in environment variables.

But I think we should still handle this inconsistency. Just because the same configuration is working perfectly in Postman for Chrome but not in Windows app. The configuratio

[2016-12-02 21:19] chris-deluca commented on #2411
I tested with v4.9.0 and the issue is exactly the same - no change.

[2016-12-02 21:59] ocmyhome opened #2516 "Populate environment variables before pre-request script"
I need to create a hash based off of my url, and I have an environment variable set for the base url portion, {{BaseUrl}}.  In a pre-request script I call request.url, but {{BaseUrl}} isn't passing along the value I've set for it, and responds with something like:  "{{BaseUrl}}/web.api/blah/blah" and not  "https://prodendpoint/web.api/blah/blah"

Is it possible to have these environment variables

[2016-12-02 22:02] ethai commented on #2479
@madebysid , certainly 4.9 has addressed the initial problem but now the issue is once such large request has been completed the entire UI is unresponsive and basically crashes.  The only thing i can do is kill the process from task manager.

[2016-12-03 00:32] ywforever commented on #2185
second @huyq119

[2016-12-03 01:32] tobeliketree opened #2517 "+ (Plus) signs in Get Requests no longer working."
1. Postman Version: **4.9.0**
 2. App (Chrome app or Mac app):  **Mac App**
 3. OS details:  **MacOs Sierra (10.12.1)**
 4. Is the Interceptor on and enabled in the app: **no**
 5. Did you encounter this recently, or has this bug always been there: **Recently**
 6. Expected behavior:    Email addresses that have + sign are no longer being sent / encoded correctly reporting errors.

I have an authe

[2016-12-03 04:55] vegetableman commented on #2415
@grantkemp yep. Apparently, we missed adding the patch to the final build. Will get back to you on this.

[2016-12-03 04:57] vegetableman commented on #2205
@kubah Could you update to the latest version `4.9`. And check if you are still facing the issue?

[2016-12-03 05:14] vegetableman commented on #2479
@ethai Thanks for updating to 4.9 👍 . The initial issue has been fixed for both the apps. Could you clarify whether the crash happens before the response is displayed or after?

[2016-12-03 05:16] ethai commented on #2479
@vegetableman , the crash / unresponsiveness happens after the response is displayed.  It's readily reproducible as i've tried it repeatedly with having to kill via task manager every time.

[2016-12-03 05:20] vegetableman commented on #1263
`Close all tabs` has been added to the latest update of `4.9` ^_^. Check out.

![tabs](https://cloud.githubusercontent.com/assets/1330851/20857292/cca64e96-b94c-11e6-9502-e27bf9d27a4e.gif)

[2016-12-03 06:10] vegetableman commented on #2204
@kubah The feature has been added to the latest version 4.9 ^_^. Closing this.

[2016-12-03 06:10] #2204 closed, assigned to nobody

[2016-12-03 06:56] vegetableman commented on #2483
@stormposse Thanks for sharing the screencast 👍 . On the second case (in the vid), You need to focus the main window (request builder), instead of the console and then, open devtools to see the logs. Devtools is different for both the windows and will open based on the focused window.

But, I think we could make changes, so that, the logs appear for the devtools on the Postman Console window as we

[2016-12-03 09:49] Razzwan commented on #884
The same problem...
OS: Ubuntu 14.04 (linux / x86-64)
Postman version: 4.9.0
Chrome 49.0.2623.75

All work right after off "Interceptor"

[2016-12-03 16:49] grantkemp commented on #2415
No worries-looks like a pretty full release anyway - no rush.

[2016-12-03 21:07] ocmyhome commented on #2516
I can work around this by simply calling:  postman.getEnvironmentVariable("variable")

Preferably, Postman be enhanced to populate these values prior to running a pre-request script

[2016-12-04 01:25] DuskoV commented on #2369
+1 I have a custom entry in hosts file, and native Postman is not figuring it out (it's saying domain not found, instead of figuring setting from /etc/hosts)

[2016-12-04 01:59] yentsun opened #2518 "GET request displayed with POST data in documenter"
self-explanatory screenshot

![selection_164](https://cloud.githubusercontent.com/assets/630971/20863518/d1ec384e-b9ff-11e6-8b44-f40c6d55b52e.png)

the post data probably duplicated from the previous endpoint description. this happens when response is *saved* for an endpoint

[2016-12-04 06:40] rahulsivalenka commented on #2214
This issue exists in the latest Chrome app Postman 4.9.0.

http://localhost:3100/test fails
http://127.0.0.1:3100/test works

[2016-12-04 23:40] davecanderson commented on #2514
I have the same issue loading a CSV. If you ignore the error the collection will run and complete the selected number of iterations however it uses the first line in the CSV for all the iterations. As a result I've not been able to test the new feature for 0 iterations using all the lines in the file; https://github.com/postmanlabs/postman-app-support/issues/1342. Selecting 0 just runs a single it

[2016-12-05 06:23] vegetableman commented on #2402
@PhilipSharman Could you update to the latest version `4.9`? and check if the issue still exists?

[2016-12-05 06:25] vegetableman commented on #2278
@cristiammercado @jamest-iqmetrix The latest version `4.9` supports restoring tab states. Let me know what you guys think.

[2016-12-05 09:02] junquera commented on #697
Would be great having this feature! I need getting a token before sending my requests too. By now I'm running the login request, saving the token in the environment variables and then, running the desired request, but if it could be made automaticaly, I could save a lot of time.

[2016-12-05 09:32] maedox opened #2519 "Add checkboxes to enable/disable parameters"
For headers and form data there is a checkbox per line to enable/disable it. I would like to request the same feature for URL parameters.

 1. Postman Version:

 2. Chrome App
 3. OS details: Ubuntu 16.10

[2016-12-05 09:40] stormposse commented on #2483
Ah! Thanks @vegetableman, I get it now - yes if I focus on the main window again after opening Postman Console and then open devTools it's fine. I just expected both to refer to the same (main Postman) window. Same thing happens if you use the keyboard shortcuts - alt-cmd-c followed by alt-cmd-i.

[2016-12-05 10:50] #2478 closed, assigned to sdnts

[2016-12-05 10:50] #2325 closed, assigned to SamvelRaja, sdnts

[2016-12-05 10:52] sdnts commented on #2440
The new Runner is out now with our latest release (4.9) and has a dropdown to let you select how many (and types of) responses to log. This should help reduce the memory usage.

Thanks for all the feedback. Closing this.

[2016-12-05 10:52] #2440 closed, assigned to sdnts

[2016-12-05 10:53] sdnts commented on #1850
@soufian044 Is this still reproducible?

[2016-12-05 12:11] rmabraham commented on #1853
@madebysid I tried with the latest release and the runner still looks the same.
![image](https://cloud.githubusercontent.com/assets/10289291/20884570/b0cf5286-baf4-11e6-887a-d7ac894d2029.png)

[2016-12-05 12:20] sdnts commented on #1853
@rmabraham Looks like you are on the Chrome App. The new Runner makes use of Postman Runtime, so it is out only on the [native apps](http://getpostman.com/apps) as of now.

[2016-12-05 12:42] #2205 closed, assigned to vegetableman

[2016-12-05 14:25] sdnts commented on #2514
@karinamkl @davecanderson We've released a fix for this, and you should be able to use your CSV files properly now. Can you update your app to the latest version (4.9.1) and verify if the fix works for you?

[2016-12-05 14:33] sdnts commented on #2518
@yentsun Thanks for reporting this. We've been planning support for custom methods in a future release, so that's why you see a body with your GET request.
For now, could you recreate the request? That'll get rid of the extra body in there.

[2016-12-05 15:03] jeffska commented on #2461
To elaborate, package managers that download the app and then perform integrity checks (like MD5 and checksum) are expecting to be able to download, verify, and install a specific version.  Without a version-specific URL, that becomes a problem.

[2016-12-05 15:14] karinamkl commented on #2514
@numaanashraf Updated for version 4.9.1 and I'm able to attach/preview JSON and CSV files and run collection with them successfully. Also able to see array of objects from JSON in preview.

[2016-12-05 16:42] garmoshka-mo commented on #1228
Actually this extension is useless for rails REST testing, though it could be convenient tool, because many cool useful UI-features implemented.
Hm, why authors of this app are so.. "specific"? Put so much efforts to create application, which can't be used because of small stick in the wheels

[2016-12-05 16:52] jorbascrumps commented on #2489
I'm also experiencing this issue and have sent my logs your way. Please let me know if I can help in any other ways.

[2016-12-05 18:15] #2514 closed, assigned to nobody

[2016-12-05 19:33] TatyanaMartynyuk commented on #2468
I have the same issue on Postman Version 4.9.1 (4.9.1)

[2016-12-06 00:25] mhertogs commented on #2517
Second this - I also started being unable to send URL encoded '+' signs in GET requests.

Postman Version: 4.9.1
App (Chrome app or Mac app): Mac App
OS details: MacOs Sierra (10.11.6)
Is the Interceptor on and enabled in the app: no
Did you encounter this recently, or has this bug always been there: Recently, after upgrade
Expected behavior: Query params in GET request encoded as %2B are not modi

[2016-12-06 01:24] yentsun commented on #2518
@madebysid thanks for the quick reply! This extra body actually exist in multiple requests, so recreating is not an option. I guess we can live with it for now, as body in GET is not sane anyway.

[2016-12-06 01:33] fReinko opened #2520 "I'd like to request the feature for selecting multiple API requests via command click or shift click"
1. Postman Version:
 2. App (Chrome app or Mac app):
 3. OS details:
 4. Is the Interceptor on and enabled in the app:
 5. Did you encounter this recently, or has this bug always been there:
 6. Expected behaviour:
 7. Console logs (http://blog.getpostman.com/2014/01/27/enabling-chrome-developer-tools-inside-postman/ for the Chrome App, View->Toggle Dev Tools for the Mac app):
 8. Screenshots (if

[2016-12-06 03:31] yentsun commented on #2518
BTW recreating does work, thanks @madebysid. An easy way to fix a request is to copy it and delete the original.

[2016-12-06 06:50] sdnts commented on #2520
@fReinko You can select multiple History requests using Cmd/Ctrl + Alt + Click.
In case of requests in a collection, we're working on something along these lines. I'll keep you posted here :)

[2016-12-06 07:38] ktersius commented on #884
The same problem...
Version 4.9.0
Postman Interceptor 0.2.20
win / x86-64
Chrome 55.0.2883.75

All work right after off "Interceptor"

Tried 57.0.2942.0 canary (64-bit) and also doesn't work.

Just tried ARC and it works...

[2016-12-06 08:54] nhg2007 commented on #1373
Hello,

I have just started using Postman. How could I write the simple script for login function?
Thank you!

Gam

[2016-12-06 09:02] sdnts commented on #1373
@nhg2007 If you are talking about logging in to your service, that'll depend on the API itself.
Docs for Postman can be found [here](https://www.getpostman.com/docs/)

[2016-12-06 10:12] jordyvandomselaar commented on #739
BUMP!

[2016-12-06 14:12] mumrah opened #2521 "Sending unwanted Content-Type text/plain with binary uploads"
1. Postman Version: 4.9.1
 2. App (Chrome app or Mac app): Mac app
 3. OS details: 10.11.6
 4. Is the Interceptor on and enabled in the app: No
 5. Did you encounter this recently, or has this bug always been there: Unsure
 6. Expected behaviour: Should send no Content-Type if none is specified (or application/octet-stream in the case of binary POST body)
 7. Console logs (http://blog.getpostman.c

[2016-12-06 14:13] mumrah commented on #2521
Actually, I just confirmed my suspicion. If I switch to a "raw" body and select "JSON (application/json)", then switch back to "binary", the server receives "application/json" now

[2016-12-06 15:58] aldav82 commented on #2296
Agreed. Using:

- Postman 4.8.3
- win32 10.0.14393 / x64
- Azure AD OAuth2 Client credentials flow.

Azure AD expects those parameters as part of the body https://docs.microsoft.com/en-us/azure/active-directory/active-directory-v2-protocols-oauth-client-creds

Postman is sending them encrypted as Basic Authorization Header, so Azure AD is returning Unauthorized response.
I think Azure platform is

[2016-12-06 16:27] christopherwxyz opened #2522 ""Add params to headers" does not append OAuth 1.0 values correctly -- missing a comma after "Realm" k,v"
1. Postman Version: Version 4.9.0 (4.9.0)
 2. App (Chrome app or Mac app): Mac app
 3. OS details: 10.12.2
 4. Is the Interceptor on and enabled in the app: No.
 5. Did you encounter this recently, or has this bug always been there: within last 4 months.
 6. Expected behavior: Postman correctly appends Realm with a `,` correctly after the first value. See screenshot below.
 8. Screenshots (if appl

[2016-12-06 18:14] percyhanna commented on #1463
This is a serious security bug. I just discovered that exporting the collection will export the `Authorization` headers that were loaded from the environment file. I am using "Basic Auth" in the "Authorization" tab, and the "generated" Base64 username/password header is saved to the request itself. Upon export, my actual user credentials are exposed in plain Base64 text in JSON. This is an insane

[2016-12-06 18:50] jhaygood86 commented on #1906
+1

[2016-12-07 02:17] ghost commented on #2456
Sorry for late reply.
It works great. Thank you so much!

[2016-12-07 03:25] mdomashchenko opened #2523 "Allow adding extra parameters to body/header in Oauth2 flow"
1. Postman Version: v4.9.1
 2. App (Chrome app or Mac app): Standalone (Electron)
 3. OS details: Windows 10
 4. Is the Interceptor on and enabled in the app:
 5. Did you encounter this recently, or has this bug always been there: I've tried this today for the first time, encountered the bug right away.
 6. Expected behaviour: Should give me an option to send resource parameter with authorization_

[2016-12-07 04:58] Wua4 opened #2524 "console.log() returns double."
1. Postman Version: 4.91 (Latest)
 2. App (Chrome app or Mac app): Windows
 3. OS details: Windows 7x64
 4. Is the Interceptor on and enabled in the app:
 5. Did you encounter this recently, or has this bug always been there: Since update
 6. Expected behaviour: Console.log returns what was designated.
 7. Console logs (http://blog.getpostman.com/2014/01/27/enabling-chrome-developer-tools-inside-p

[2016-12-07 07:55] sgueniot opened #2525 "Select a Collection after a sub-collection selection in Collection runner"
Hello, this is a bug i seen in Collection runner
Version/App Information:
 1. Postman Version: 4.9.1
 2. App (Chrome app or Mac app): Mac app
 3. OS details: Max os X sierra
 4. Is the Interceptor on and enabled in the app: no
 5. Did you encounter this recently, or has this bug always been there: recently
 6. Expected behaviour: Collection should be selectable after selection of a sub Collection.

[2016-12-07 07:57] sdnts commented on #2525
@sgueniot Thanks for reporting this, we're looking into this. I'll let you know here when a fix is out.

[2016-12-07 08:11] sgueniot opened #2526 "Select several sub collection in Collection runner"
Hello,
It would be useful to be able to select several sub collection in collection runner.
Thanks.

[2016-12-07 09:44] sdnts commented on #2524
@alexzxz Thanks for letting us know. We're working on a fix :)

[2016-12-07 10:52] dyymmi opened #2527 "Body in requests is deleted after app restart"
1. Postman Version: 4.9.1
 2. App (Chrome app or Mac app): Windows App
 3. OS details: Windows 10
 4. Is the Interceptor on and enabled in the app: No
 5. Did you encounter this recently, or has this bug always been there: Recently
 6. Expected behaviour: Saving body in requests

Steps to reproduce the problem:
1. Open Postman
2. Save request with empty body
2. Add raw JSON body request to body
3.

[2016-12-07 11:12] vegetableman commented on #2527
@dyymmi Thanks for reporting this issue 👍 . Will get back to you.

[2016-12-07 11:49] S33G commented on #2325
Apologies for the delayed response.
From what I can see the issue I reported has been resolved.

Keep up the good work guys! 👍

[2016-12-07 11:52] ferronrsmith opened #2528 "Postman reporting there is a new version even though the latest version is 4.9.0"
Postman for linux is reporting there is a new version (4.9.1), even though the latest available version is 4.9.0

[2016-12-07 11:53] sdnts commented on #2528
@ferronrsmith There indeed is a new version (4.9.1), that has some fixes for the Runner :)

[2016-12-07 11:53] #2528 closed, assigned to nobody

[2016-12-07 11:59] madebysid commented on #2528
Are you not able to update to 4.9.1? If so, there an issue open (#2489). It might be a permission issue, in which case, can you try doing what this comment suggests: https://github.com/postmanlabs/postman-app-support/issues/2489#issuecomment-264174117

[2016-12-07 12:32] kunagpal commented on #2528
@ferronrsmith The issue has been fixed, do go ahead and try the update :smile:

[2016-12-07 13:32] nikhilvibhav commented on #1794
Has this been implemented yet. the request font sizes are really very small on hd displays.. atleast in windows..
[screenshot](http://imgur.com/noKqvKB)

[2016-12-07 13:34] sburtonctr opened #2529 "url encoding"
1. Postman Version:  4.9.1
 2. App (Chrome app or Mac app): Windows app
 3. OS details:  Windows 10 Enterprise
 4. Is the Interceptor on and enabled in the app:  No
 5. Did you encounter this recently, or has this bug always been there: Recently - Last update.
 6. Expected behaviour:  Validate request

    1.  Open Postman
    2.  Execute URL with OData query + encoded text
         GET: [url]?$fi

[2016-12-07 13:34] sdnts commented on #1794
@nikhilvibhav You can use Cmd+/- to zoom in / zoom out of the UI. Can you try that and let me know if the sizes feel better?

[2016-12-07 13:40] nikhilvibhav commented on #1794
@madebysid it does, but there are a lot of ctrl+ to do, and then again ctrl- to read the response because now it's too big.
it would be better if we could set a global font size maybe? (small, medium, large, xl). Just a thought.

[2016-12-07 14:09] sdnts commented on #1794
Changing the font size in itself is something we've been working on, and it'll be out with our next release. I'll keep you updated here :)

[2016-12-07 15:09] solody opened #2530 "Big Bug！！！markdown editor cant type in chinese!!!!!!!"
1. Postman Version: 4.9.0
 2. App (Chrome app or Mac app): chrome app
 3. OS details: windows10 / x86-64 Chrome 54.0.2840.99
 4. Is the Interceptor on and enabled in the app: No
 5. Did you encounter this recently, or has this bug always been there: always, and all my friends that use windows 8/10 also always get this bug.
 6. Expected behaviour: to type chinese words in postman's markdown editor.

[2016-12-07 16:56] mthoreso commented on #882
It looks like they're working on it, but no information since [Oct 24th](https://github.com/postmanlabs/postman-app-support/issues/2247#issuecomment-255842119)

From @shamasis :
There are two things we think we should do:

  1. Common scripts in folders
  2. A global scripts section that can be referred from any folder or request.

These two combined should address script re use issue.

[2016-12-07 17:55] amriteya commented on #1850
@madebysid I am having the same issue of body not being reproduced in Python's request code generation. I am using PostMan version : 4.8.3 and Mac OS X El Capitan (10.11.6).

Has the fix for this been already delivered? I am not facing this issue in Chrome application only in Mac app.

Here are the screenshots for the same.

<img width="1131" alt="request" src="https://cloud.githubusercontent.com/

[2016-12-07 19:21] sdnts commented on #1850
@amriteyapandey A fix for this was released with 4.9.0. Could you try updating and checking if it works for you?

[2016-12-07 20:18] soufian044 commented on #1850
@madebysid could you guys make sure the problem is fixed before you close the issue ?

this is the gif animation I told you last time , and the problem is still exist http://g.recordit.co/1zcOqojrTy.gif

[2016-12-07 21:59] alanwcorley commented on #739
We could greatly benefit from the oAuth v2 grant_type password feature too!

[2016-12-07 22:07] davecanderson opened #2531 "Collection Runner Select File cannot select same file after removing data file"
1. Postman Version: 4.9.1
 2. App (Chrome app or Mac app): Windows x64
 3. OS details: Windows 10
 4. Is the Interceptor on and enabled in the app: No
 5. Did you encounter this recently, or has this bug always been there: Unsure
 6. Expected behaviour: Can select same file as previously selected

After removing a selected data file you cannot choose the same file again. You have to select another

[2016-12-07 22:17] davecanderson opened #2532 "Collection Runner Run Results - show iteration data for Request URL and Request Body"
I would like the feature that the Run Results will show the actual URL and data sent with the request for each iteration rather than the variable placeholders.

![run-results-request-data](https://cloud.githubusercontent.com/assets/2754325/20988941/f91285f2-bd26-11e6-9890-1e5f6863746a.png)

In the Console it can be hard to find the correct data for the requests as they have no labels.

![run-resul

[2016-12-08 04:34] vegetableman commented on #2527
@dyymmi The issue has been fixed internally and will be part of the next release ^_^.

[2016-12-08 05:59] amriteya commented on #1850
@madebysid I updated to 4.9.1 and it is working for me.

@soufian044 In 4.9.1 Java's OkHTTP client is also working and Python's http.client is also working.

[2016-12-08 06:22] amriteya opened #2533 "Missing change log for new Mac app version"
Postman Version:4.9.1

I just updated to 4.9.1 Mac app version but I am unable to see the changelogs at https://www.getpostman.com/apps#changelog

The latest version displayed is: 4.8.0

Here is the screenshot:

<img width="739" alt="screen shot 2016-12-08 at 11 45 01 am" src="https://cloud.githubusercontent.com/assets/4987564/20999732/bc205a1e-bd3c-11e6-9e34-36676b4cba05.png">

[2016-12-08 09:09] alan opened #2534 "Accessing variables in pre-request script"
I'm trying to access the variables from the environment in the pre-request script to generate a JWT, is this possible?

I've searched the docs, issues and web for potential solutions with no luck. I've seen some information pointing that `data.variable_name` should be available. However although `data` is there, `variable_name` is undefined  on `data` (used the console to find out).

Version/App I

[2016-12-08 09:55] sdnts commented on #2534
@alan In the pre-request / test scripts, you can access an environment variable using the function `postman.getEnvironmentVariable('variableName')`. [Docs](https://www.getpostman.com/docs/testing_examples)
The `data` variable is populated when you use a data file in the Collection Runner. [Docs](https://www.getpostman.com/docs/multiple_instances)

[2016-12-08 10:01] alan commented on #2534
Great!  I don't use the test so hasn't read those docs.

[2016-12-08 10:01] #2534 closed, assigned to nobody

[2016-12-08 11:09] brkr commented on #1264
+1

[2016-12-08 11:11] sdnts commented on #1264
Guys, v4.9 has a new Runner that addressed your feature request :)

[2016-12-08 11:34] sdnts commented on #2522
@chrstphrwllc Thanks for reporting this, we're working on a fix for this, and it'll be out with the next release. I'll keep you updated here.

[2016-12-08 15:19] a85 commented on #2403
Closing as duplicate of #166

[2016-12-08 15:19] #2403 closed, assigned to nobody

[2016-12-08 15:20] #2278 closed, assigned to vegetableman

[2016-12-08 15:33] kbatyai commented on #2315
Would be great to work on collections saved to normal files... (stored in on-prem GIT)

[2016-12-08 15:33] kbatyai commented on #2248
Would be great to work on collections saved to normal files... (stored in on-prem GIT)

[2016-12-08 15:40] carl-ashby opened #2535 "Test evaluation error not visible in Collection Runner"
1. Postman Version: v4.9.1
 2. App (Chrome app or Mac app): Postman for Windows
 3. OS details: Win 10
 4. Is the Interceptor on and enabled in the app: No
 5. Did you encounter this recently, or has this bug always been there: Recent
 6. Expected behaviour:
 7. Console logs (http://blog.getpostman.com/2014/01/27/enabling-chrome-developer-tools-inside-postman/ for the Chrome App, View->Toggle Dev

[2016-12-08 16:05] 2dvisio commented on #448
I have successfully sent my new line just by using the x-www-form-urlencoded option and via bulk edit.

Just add a newline (not the character, just a real new line)

[2016-12-08 16:33] shivamjain03 commented on #1441
It does not work for me with any of the above mentioned solutions.
I do not have any interceptor in my code. Find attached screenshots.
The request do not work with postman client but works fine with Advance Rest Client(chrome extension)

Seems like Advance rest client tool automatically adds the necessary details with the request while postman doesn't.
The details in ARC are :
accept: application

[2016-12-08 20:47] jamest-iqmetrix commented on #2278
I've been meaning to get back to this, but Chrome is being finicky with updates and I don't want to lose all of my settings by uninstalling/reinstalling.
Planning on checking later this week on my personal machine.

[2016-12-08 21:58] tariqghalib opened #2536 "How can I pass specific version of TLS in my API calls through postman"
1. Postman Version: v4.9.1
 2. App (Chrome app or Mac app): Windows App
 3. OS details: Windows
 4. Is the Interceptor on and enabled in the app: No
 5. Did you encounter this recently, or has this bug always been there: always
 6. Expected behaviour: Be able to pass tls version with my api calls

[2016-12-09 01:49] koos42 commented on #2082
Just discovered this, it would be nice if Postman respected filename content-disposition header. I'm glad you all are working on this and look forward to the fruits of your labor. Thanks!

[2016-12-09 06:31] anish83 opened #2537 "Discrepancy between Postman-Chrome and Postman-Mac"
1. Postman Version: **4.9.0 for Chrome** and **4.9.1 for Mac**
 2. App (Chrome app or Mac app): **Both**
 3. OS details: **OS X EL CAPTAIN. Version 10.11.6** and **Chrome Version 43.0.2357.65 (64-bit)**
 4. Is the Interceptor on and enabled in the app: **On and enabled in Chrome** and **not enabled in Mac**
 5. Did you encounter this recently, or has this bug always been there: **We just started t

[2016-12-09 07:08] sdnts commented on #2248
@DaleJefferson @kbatyai We're working on integrations between Postman Collections and GitHub, which will be out very soon. I'll keep you guys updated here.
That should help you out :)

[2016-12-09 07:52] kbatyai commented on #2248
@madebysid direct(-only)-GitHub or pure Git? The two is not the same.

I understand your business needs with forcing monthly-cloud-things, but in lot of cases it's not an option, contrariwise on-prem-isolated-source-control integration needed for daily work and workflows...

[2016-12-09 08:34] ghost commented on #266
Hi all,

So am I right in thinking there basically is no way to launch Postman at all in Chrome other than enter the raw chrome://apps Url.

Why?

Didn't people feel it was worth a button on the toolbar like all other extensions?

[2016-12-09 13:53] hamid-elaosta opened #2538 "Postman is unescaping my query params"
1. Postman Version: 4.9.1
 2. App (Chrome app or Mac app): Linux app
 3. OS details: Ubuntu Gnome 16.04 x64
 4. Is the Interceptor on and enabled in the app: No
 5. Did you encounter this recently, or has this bug always been there: Recent/Never tested before
 6. Expected behaviour: Don't unescape manually encoded query params
 7. Console logs (http://blog.getpostman.com/2014/01/27/enabling-chrome

[2016-12-09 14:28] matthieugeerebaert commented on #1884
Hello, sorry for the delay, I have just tested it for a real case, it works
great.

Thank you very much

2016-11-25 11:50 GMT+01:00 Siddhant Sinha <notifications@github.com>:

[2016-12-09 15:57] crowcoder commented on #2527
I assume this is fully fixed, but just in case I want to point out that Save As only works to a new collection. Save As to same collection still drops the request body on restart.

[2016-12-09 16:32] cristiammercado commented on #2278
@vegetableman It's great! The new feature is working very well. Excellent work!

[2016-12-09 16:48] sdnts commented on #2516
@ocmyhome Pre-request scripts, as the name suggests, are run before the request is made, so variables in the URL are not resolved at that time. This is by design.
The correct way of accessing variables is indeed `postman.getEnvironmentVariable`.

[2016-12-09 16:48] #2516 closed, assigned to nobody

[2016-12-09 17:01] sdnts commented on #2530
@solody Unfortunately, I cannot type in Chinese characters in the description, however, copying and pasting Chinese characters from elsewhere works for me. Is this only happening for you when you directly type these characters in?
If you know of a program I can use to type characters, I'd appreciate it, so I can try to reproduce this :)

[2016-12-09 17:06] sdnts commented on #2533
@amriteypandey Thanks for pointing this out. We'll update the website to reflect changelogs for all recent versions of the app.

[2016-12-09 17:10] sdnts commented on #2531
@davecanderson Thanks for pointing this out. We've fixed this internally and will be rolling out a fix in the coming week. Will keep you updated here.

[2016-12-09 17:12] sdnts commented on #2535
@st-dev Thanks for reporting this. I'm looking into this. I'll let you know when a fix is out (hopefully some time within the next week).

[2016-12-09 18:57] benfowler opened #2539 "TextEncoder isn't usable in pre-request scripts in standalone Postman"
Hi,

I have run into an issue when attempting to make use of a certain standard Javascript class from the pre-request scripts in Postman.  The following snippet works in the legacy Postman plugin that shipped with Chrome (the latest available from the App Store), but does _not_ work at all in the standalone Mac version of Postman (the Electron-hosted one).

[code]

We get the following error:

[2016-12-09 20:13] benjamw commented on #2538
I'm having a similar issue. Mine is regarding following redirects. My redirects have URL encoded chars like %2b and %40 which are incorrectly getting converted. So it seems that Postman is converting those at a low level.

[2016-12-09 20:15] benjamw commented on #2538
Possible duplicate of #2529

[2016-12-09 20:27] sdnts commented on #2539
Hey @benfowler, the standalone Postman apps are built on top of [Postman Runtime](http://blog.getpostman.com/2016/06/14/introducing-postman-runtime-more-power-better-control/), which, unlike the Chrome App, sends requests using a Node.js sandbox. As such, it does not include every Javascript class, because they simply aren't always needed.
I'll add this as a feature request. It will help if you co

[2016-12-09 21:38] PhilipSharman commented on #2402
Unfortunately, the issue is still there.

However, I do have some more information that may help identify the issue.

Here is a URL that shows differences between the Chrome app and the standalone app, and which does not require any permissions to use: https://example.com/api/accounts/v1/user/2RNNRAHHN333.

I find that SopaUI and the Chrome Postman application generate the same signature, but that

[2016-12-09 22:11] PhilipSharman opened #2540 "Standalone Mac App Is Not Handing Environment Variables Correctly"
Version/App Information:
 1. Postman Version: 4.9.1.
 2. App (Chrome app or Mac app): Mac app
 3. OS details: OS X 10.12.1
 4. Is the Interceptor on and enabled in the app: No.
 5. Did you encounter this recently, or has this bug always been there:  I'm pretty sure this is new behaviour.  I don't think it existed in approx. version 4.7.
 6. Expected behaviour: An environment variable, such as {{co

[2016-12-09 22:25] benfowler commented on #2539
Hi @madebysid !

Our particular use case, is that we need the length of the UTF-8 encoded string, in bytes, in order to compute a message authentication code (HMAC) to do a call:

```var contentLength = (new TextEncoder('utf-8').encode(content)).length;```

Without this, we come unstuck very fast when processing payloads with multibyte characters...

Unfortunately for us, the code above worked fin

[2016-12-09 23:05] stianlagstad commented on #2446
Helllo?

[2016-12-09 23:27] dforney14 opened #2541 "Issue with auto-generating GUIDS for _postman_id"
1. Postman Version: 4.9.1
 2. App (Chrome app or Mac app):  Native Windows App
 3. OS details:  Windows 7 Enterprise
 4. Is the Interceptor on and enabled in the app: No
 5. Did you encounter this recently, or has this bug always been there:  We believe this has always been there.
 6. Expected behavior:  We are hoping to be able to merge into our Enterprise-Hosted Source-Control System without con

[2016-12-10 13:15] albertogiunta commented on #2538
Having identical issue here!!

[2016-12-11 01:45] fawix commented on #932
Hi, I just tried to use this, facing the same problem as described by this thread. my version is Postman v4.9.1 (Windows App). I really want to use postman but all my APIs use digest and the nonce refreshes very often and I don't look forward to manually updating nonce (we have a few different realms too).

I also noticed that even if I replace the value value of `{{echo_digest_nonce}}` with `blah

[2016-12-11 01:52] fawix commented on #808
same issue here.

I also noticed something really odd with postman echo digest .... even if I replace the value value of `{{echo_digest_nonce}}` with blah it gets authenticated against the postman echo (not a good test). The same is not true for `http://httpbin.org/digest-auth/auth/u1/p1` which returns an `401` instead (better test)

![digest_echo_postman](https://cloud.githubusercontent.com/asset

[2016-12-11 08:42] shamasis commented on #1463
@percyhanna that is the reason why we recommend using environment variables to store sensitive info and refer to it from your requests.

1. You could save username password and use it in auth helper (take care to not accidentally save the header back in the request!)

2. Alternatively, store the value of authorisation header in environment variable and refer to it directly from saved header.

[2016-12-11 09:04] solody commented on #2530
@madebysid not only me, I had tested, all windows 8/10 computer in my office, got this problem.  It's no problem when we copying n pasting Chinese characters, the problem just present when we type Chinese characters directly. All Chinese typing program I can use,  could produce this problem, for example, Windows self-contained Chinese typing programs: Pingyin拼音, Wubi五笔, Cangjie倉頡 etc. You can try

[2016-12-11 22:12] skymeyer commented on #1360
Same here, this is really blocking. The idea of having such helpers is to comply with standards so developers can just leverage them without the need to know all nitty gritty details. Currently the usage of the OAuth2 helper leads a trial-and-error approach trying to figure out why it doesn't work. The proposed change should be fairly straightforward and be very beneficial for Postman's customer b

[2016-12-11 22:12] skymeyer commented on #1749
This looks ok with here too on 4.9.0, thanks.

[2016-12-11 23:40] Farzadd opened #2542 ""Persist variables" in Runner of Windows standalone fails"
1. Postman Version: v4.9.1
 2. App (Chrome app or Mac app): Windows Standalone
 3. OS details: Windows 10 Pro (x64)
 4. Is the Interceptor on and enabled in the app: Not installed
 5. Did you encounter this recently, or has this bug always been there: always been present
 6. Expected behaviour: As the Chrome version does, environment variables should be persisted when the option is enabled. Howeve

[2016-12-12 03:56] samcreate commented on #1104
+1

[2016-12-12 04:04] SamvelRaja commented on #2542
Thanks for bringing this to our notice. We shall keep you updated in this thread on the update.

[2016-12-12 04:52] sdnts commented on #1360
@skymeyer We will be looking at improving Auth behaviour very soon. I'll keep you guys updated :)

[2016-12-12 06:24] sillym opened #2543 "chinese"
1. Postman Version:
 2. App (Chrome app or Mac app):
 3. OS details:
 4. Is the Interceptor on and enabled in the app:
 5. Did you encounter this recently, or has this bug always been there:
 6. Expected behaviour:
 7. Console logs (http://blog.getpostman.com/2014/01/27/enabling-chrome-developer-tools-inside-postman/ for the Chrome App, View->Toggle Dev Tools for the Mac app):
 8. Screenshots (if

[2016-12-12 06:25] #2543 closed, assigned to nobody

[2016-12-12 07:30] nerdoza commented on #733
@madebysid, Yes! I am seeing this error right now in my testing.  I am attempting to send a JSON string with 10,372,451 characters but only receiving 524,288 characters.  When I inspect the code snippet generated by Postman, it is only 888,014 characters long URL encoded, so it's certainly something happening in Postman.

[2016-12-12 09:48] nikolayandr opened #2544 "Content-Type in Body section is reset after each crash"
1. Postman Version:4.9.0
 2. App (Chrome app or Mac app):Chrome 53.0.2785.101
 3. OS details:linux / x86-64
 4. Is the Interceptor on and enabled in the app:yes
 5. Did you encounter this recently, or has this bug always been there: recently

[2016-12-12 13:59] fonbrauzen commented on #1137
as a workaround:
With Interceptor plugin installed on Chrome and enabled in Postman chrome app NTLM cookies used from Chrome

[2016-12-12 14:12] bbsimonbb commented on #1830
Yup, so I'm being asked to enter my google password into a window that's not a google window, and this window will forward my password to google. How is that not a security breach? Very curious.

[2016-12-12 14:44] anton-arsentyev opened #2545 "[MacApp] Cant paste text in raw part of BODY( POST method ) via context menu or hot key"
1. Postman Version:  4.9.1
 2. App (Chrome app or Mac app): Mac App
 3. OS details:   MacOs Sierra . 10.12.1 (16B2555)
 4. Is the Interceptor on and enabled in the app: NO
 5. Did you encounter this recently, or has this bug always been there: after last update

Steps to reproduce the problem:

Try to paste text in RAW part
via context menu or hot key
non saved request

[2016-12-12 20:03] nitram509 commented on #1689
I've had the same issue
and thanks to @madebysid's answer, restarting Chrome solved the issue.

Just to be clear, I'm used to keep Chrome open, fore loooong time. It might happen, that there where updates in between and this might lead to the described behaviour. And again, just quitting Chrome app fully, solved the issue. I'm using postman as standalone Chrome App.

[2016-12-13 07:41] sdnts commented on #2544
@nikolayandr Could you provide a little more background?
What do you mean by `crash`? Do you mean the request is reset or only the Content-Type header is lost?

More info would help me debug this  easier :)

[2016-12-13 08:00] vegetableman commented on #2489
@iamchristopher @calebrepkes  The fix will be part of the upcoming release `4.9.2`. Stay tuned ^_^.

[2016-12-13 08:36] #2533 closed, assigned to nobody

[2016-12-13 08:55] sdnts commented on #266
@thefraj Actually, Postman is a Chrome App, not a Chrome Extension. As such, Chrome does not allow us to pin the app to your toolbar like other extensions (since it isn't one). It is supposed to show up in Chrome's App Launcher (`chrome://apps`)

With regard to Google's recent [announcement](http://blog.getpostman.com/2016/08/23/using-the-postman-chrome-app-implications-from-the-recent-google-anno

[2016-12-13 09:01] sdnts commented on #2446
@stianlagstad Terribly sorry about this, I'll try to replicate this tonight and will get back to you with what I find.

[2016-12-13 09:41] nikolayandr commented on #2544
Hello. By crash I meant that postman process finishes his work suddenly. When I relaunch postman app, header isn't lost but when I go to section "Body" after crash, the section looks like this:
![after](https://cloud.githubusercontent.com/assets/4941456/21134889/78292242-c128-11e6-8e24-5602c91f8649.png)

Before a crash this section looked like this:
![before](https://cloud.githubusercontent.com/as

[2016-12-13 09:49] Nirvaner commented on #2538
Windows 10, postman not chrome plugin - as windows application, I'm having a similar issue

[2016-12-13 10:21] sdnts commented on #2538
Guys, we are looking into this, I'll let you all know when a fix is out. Thanks for letting us know.

[2016-12-13 10:26] waynet3 opened #2546 "Postman Runner : when using parameter substitution in the url, results are not shown"
1. Postman Version: 4.9.1
 2. App (Chrome app or Mac app): Windows Standalone
 3. OS details: Windows 10 Pro (x64)
 4. Is the Interceptor on and enabled in the app: Not installed
 5. Did you encounter this recently, or has this bug always been there: Recently
 6. Expected behaviour: The results should appear in the Runner
 7. Console logs (http://blog.getpostman.com/2014/01/27/enabling-chrome-deve

[2016-12-13 11:00] vishgupta92 commented on #791
I faced a problem while copying/writing a '#' char ( hash character ) in input params.

[2016-12-13 13:17] anupshah opened #2547 "Allow large values in inputs (more than 0.5MB)"
Hello,

I am using Postman to test sending large PDFs to my API (sent as Base64 encoded text). I am using variables to store different base64 encoded PDFs to vary my testing. However, I am finding some larger PDFs (more than ~0.5 MB) are not saving as variables successfully - they get truncated at 0.5MB.

Workaround: I can create duplicates and put those large PDFs in the request body manually rat

[2016-12-13 13:37] polomsky opened #2548 "Origin header is present in the POST request even no Origin header was specified"
1. Postman Version: 4.9.0
 2. App (Chrome app or Mac app): Chromium 53.0.2785.143
 3. OS details: Ubuntu 16.04 (64bit)
 4. Is the Interceptor on and enabled in the app: tried both
 5. Did you encounter this recently, or has this bug always been there: unknown
 6. Expected behaviour: Origin header is not present in request when is not set

Send POST request to any domain. Origin header with `chrome

[2016-12-13 14:57] ohitsdaniel commented on #1535
+1

[2016-12-13 16:20] curreli commented on #166
+1 for custom methods

[2016-12-13 16:31] tariqghalib opened #2549 "[Feature] - Ability to run xmlhttprequests in the pre-request script"
**Feature Request**
The ability to run the xmlhttprequest in the pre-request script is a gem. This actually enables us to make each test independent of each other and an easy way to grab pre-request setup (values, variables, even DB queries)

Currently if we run this we get an **error**:
There was an error in evaluating the Pre-request Script:  TypeError xmlHttp.open is not a function

**Version/A

[2016-12-13 18:37] jasonlav commented on #391
I'm getting this issue as well. I have a POST request, but the server is receiving a GET request.

[2016-12-13 20:17] JohnArrowwood commented on #2549
+1

[2016-12-13 20:29] RangerDan commented on #1818
Still reporting crashes when I have numerous tabs open with large requests and responses.  The app will crash, and sending the same transaction again will cause it to crash again.

Reducing the number of tabs prevents the crashes from happening for the rest of the day, but something is funny with how it handles many tabs.

Ver 4.9.0; linux / x86-64; Chrome 55.0.2883.75

[2016-12-13 20:42] sschlesier opened #2550 "Postman for Windows fails to follow 307 redirect correctly"
Postman for windows 4.9.0/4.9.1 on windows 10, no interceptor

In postman for windows
Ensure automatically follow redirects is on
Attempt to GET the following URL: https://paymentdatastoretest.iqmetrix.net/ping
Result: Could not get any response....
Expected: follow the 307 and get a valid response

Accessing the same URL in the postman chrome plugin follows the redirect and returns a response as

[2016-12-13 21:05] JohnArrowwood opened #2551 "Long collection being executed only partially"
I created a "smoke test" collection folder for our application API.  It exercises the "happy path" for every method of every endpoint in the API.  When executed one after another, everything seems fine.  When I try to use the collection runner on it, it gets to 35% and then just quits.

Using Postman 4.9.1 on Mac Standalone
Using OS X El Capitan 10.11.6

The Interceptor is not on or enabled, as fa

[2016-12-13 21:43] dubiousdavid commented on #2529
I noticed the same thing. I'm using 4.9.1 Mac App.

[2016-12-14 04:24] doncadavona commented on #907
+1

[2016-12-14 06:48] shamasis commented on #2539
Can you not use Buffer APIs instead? Storing strings as buffers should also give you some useful set of APIs.

We will soon make changes that would shim node apis in chrome and then Buffer should work indistinguishably across all platforms.

[2016-12-14 07:46] bhaupt commented on #1104
+1

[2016-12-14 09:10] sdnts commented on #2550
@sschlesier I'm pretty sure you checked this, but is the Follow Redirects switch in your Settings (wrench icon on the top right) turned on in the native app?

[2016-12-14 10:08] sdnts commented on #2446
@stianlagstad I tested this with your collection, and it seems to work as expected. When the second (shorter) request completes, the active environment is `envB`, so variable `testThis` is set there.
When the first (longer) request completes, the active environment is still `envB`, so variable `test` is set there too. While this was happening, `envA` was intact.

We've made several improvements in

[2016-12-14 10:11] sdnts commented on #2517
I think this might be related to: https://github.com/postmanlabs/postman-app-support/issues/2538
We are looking into this.

[2016-12-14 10:33] sdnts commented on #2541
@dforney14 The ID field is an internal field, and as such this is the expected behaviour. I'll add this as a feature request, though :)

[2016-12-14 11:57] benfowler commented on #2539
Doesn't appear to work for me at all within standalone Postman (or the Chrome one, for that matter), despite working fine off the Node REPL, sadly.

I tried both `Buffer.byteLength(str, enc)` as well as constructing the Buffer and then calling methods, no joy.

[2016-12-14 12:43] Ernesto-Maserati-CH opened #2552 "Where is JavaScript API documented?"
Where can I find a full JavaScript API documentation of Postman?

I want to see which built in variables I can use, what are their functions and arguments and so on.

What I mean is a good old API documentation, not information spread across dozens of tutorials, blogs etc.
I am using Postman 4.9.1 Windows App.

[2016-12-14 12:44] czardoz commented on #2552
@Ernesto-Maserati-CH https://www.getpostman.com/docs/sandbox

[2016-12-14 12:52] Ernesto-Maserati-CH opened #2553 "Verifying if request body is equal to response body, how?"
I want to verify in the tests section that the response body is equal like the request body.

After a while I found the variables which I potentially could use for it:

responseBody === request.data

But that does not work if I use variables in the request body. The response body contains the values, so the comparison results in "not equal".

What I need is the effective request send by Postman. I

[2016-12-14 12:53] #2552 closed, assigned to czardoz

[2016-12-14 13:04] Ernesto-Maserati-CH opened #2554 "Assertions don't print actual value if failed"
The test section snippets look like this:

`tests["Status` code is 200"] = responseCode.code === `200;`

If the assertion fails then I only see that it failed, but I don't see in the test result what the actual value has been. Of course I can find this out by looking at the information elsewhere.

To me these test snippets are very rudementary test assertions. That has been done better long time a

[2016-12-14 14:42] benfowler commented on #2539
Workaround:

[code]

[2016-12-14 14:52] sdnts commented on #2545
@anton-arsentyev Thanks for letting us know.
From my testing, I could not indeed right click inside the raw body editor (we're working on fixing this), but I could paste in text using Cmd/Ctrl + v. Are you not able to use this shortcut either?

[2016-12-14 15:08] anton-arsentyev commented on #2545
@madebysid No this shortcut doesn't work for me.
Works in URL field for example

[2016-12-14 15:20] dforney14 commented on #2541
@madebysid  Thanks for the quick response!  I appreciate the feature request.

[2016-12-14 15:21] JohnArrowwood commented on #2551
Turns out, the problem was a request with a JavaScript error in the test.  The failure mode was not exactly graceful.  The only way I found the problem was executing all 200+ requests one by one until I got there.  Might enhance the runner to be a little more informative in the event of a problem.

[2016-12-14 15:25] jorbascrumps commented on #2489
Hi @vegetableman, I just received an update notification for `v4.9.2-canary.1` but the problem persists. Are you referring to another upcoming release?

[2016-12-14 16:04] vegetableman commented on #2489
@iamchristopher The problem is fixed on `v4.9.2-canary.1`. Any updates, henceforth, on the canary app should install and restart without any issues. You could then let me know if the problem still persists. Also, this issue will remain open, until the next two releases on the prod app.

[2016-12-14 16:05] vegetableman commented on #2489
@iamchristopher Also, thanks for testing the canary app 👍  ^_^.

[2016-12-14 17:10] SamvelRaja commented on #2522
@chrstphrwllc  The fix has been added to the 4.9.2 version of the app. Kindly update and test the same 😄

[2016-12-14 17:10] #2522 closed, assigned to SamvelRaja

[2016-12-14 18:31] rcrooks commented on #2540
I'm seeing a similar issue with OAuth 2 -- almost certain it started with 4.9.1
Oddly enough, it still works for one of our APIs, but for others, all requests made through Postman or Postman generated curl return unauthorized.

Thanks,
Robert

[2016-12-14 18:45] JohnArrowwood commented on #2551
I split the one folder (which had over 500 requests in it) into 4 folders.  I then ran the whole collection, including all 4 folders.  It worked fine.  Which means there seems to be a problem with having so many requests in a single folder.

[2016-12-14 19:04] sschlesier commented on #2550
Yes, follow redirects is enabled.

Here are a couple sample fiddler captures with and without follow redirects (rename them to .saz).
[with follow redirect.zip](https://github.com/postmanlabs/postman-app-support/files/652600/with.follow.redirect.zip)
[no follow redirect.zip](https://github.com/postmanlabs/postman-app-support/files/652599/no.follow.redirect.zip)

Have you tried to repro the issue?

[2016-12-14 19:51] BrandonCopley commented on #1667
How can we intercept cookies in postman? I can't test my scripts without a 2 factor login process I normally do in Chrome. What's the best approach to this?

[2016-12-14 20:39] mitursakoda opened #2555 ""SSL certificate verification" setting is missing in 4.9.2"
1. Postman Version: 4.9.2
 2. App (Chrome app or Mac app): Mac App
 3. OS details: Darwin Kernel Version 16.3.0: Thu Nov 17 20:23:58 PST 2016; root:xnu-3789.31.2~1/RELEASE_X86_64 x86_64 (macOS 10.12.2)
 4. Is the Interceptor on and enabled in the app: no
 5. Did you encounter this recently, or has this bug always been there: found it today
 6. Expected behaviour: setting mentioned in docs (https:/

[2016-12-14 20:56] percyhanna commented on #1463
I _am_ using environment variables to store sensitive information, however my `Authorization` header is being saved to the request.

**Authorization configuration:**
<img width="1348" alt="screen shot 2016-12-14 at 1 51 51 pm" src="https://cloud.githubusercontent.com/assets/125077/21200500/b2f17ab4-c204-11e6-9b2d-d735e140452c.png">

**Request headers:**
<img width="1344" alt="screen shot 2016-12-1

[2016-12-14 20:57] percyhanna commented on #1463
If the "Authorization" tab can't "extend" the request without saving credentials to the actual request, then I would strongly suggest removing the tab altogether given the massive security risk it exposes.

Another option would be to force an **_opt-in_** to include `Authorization` headers when exporting a collection to JSON.

[2016-12-14 23:26] excalq opened #2556 "Segment Param suffixed with extension not being replaced with value"
Thank you for developing the excellent application that Postman is. We have some API routes that require a '.json' extension, proceeded by a resource id. This becomes a URL in the form `{{api_host}}/api/v2/clients/:custom_path/members/:resource.json`.

`:resource` will be shown as a Param in the GUI as expected. The "Generate Code Snippets" preview parses the request URL correctly, but the actual

[2016-12-14 23:43] stramel commented on #907
+1 to @monkpit's comment

[2016-12-15 02:10] GabbyChang commented on #1535
+1

[2016-12-15 07:48] sdnts commented on #2555
@mitursakoda I think you are on the Chrome App. If you go to Settings > About do you see a Chrome version listed there? If so, you're on the Chrome app, where the setting isn't present because we cannot control it. I'm on the native app, and I can see the setting on 4.9.2.
We're looking into making the native app and the Chrome app more differentiable.

Feel free to reopen if not.

[2016-12-15 07:51] #2555 closed, assigned to nobody

[2016-12-15 09:50] drorlupu commented on #1441
This seems to be broken in Postman 4.9.0 and fixed in 4.9.2

[2016-12-15 10:45] mohamedmubarish-s-19801 opened #2557 "how to get the saved response in Testscript"
Hi,
I am using Postman for RestApi Testing. I am trying to compare JSON response structure with the old JSON response to identify any breakage. For that I need the saved response (previously saved response) to compare with the current response. how to get the saved response into testscript, so that I can use that old saved response to check the structure change? or any other way is appreciable?

T

[2016-12-15 10:46] mohamedmubarish-s-19801 opened #2558 "How can I get the input parameters inside testscripts?"
I am trying to do input validation ( whether the input and output parameter values are equal) in postman. For example, if I am sending payload as {"name":"test"} and if I am getting response as {"name" : "test"}, I need to check the key "name" in response is same as payload (i.e) test, dynamically. for that I need to get input parameters (query and payload) inside testscripts. How can i get the in

[2016-12-15 11:05] zoeker opened #2559 "Request sending hangs forever"
1. Postman Version: 4.9.2
 2. App (Chrome app or Mac app): Chrome app
 3. OS details: Windows 7 64-bit Service Pack 1
 4. Is the Interceptor on and enabled in the app: No
 5. Did you encounter this recently, or has this bug always been there: Today for the first time, probably occurred after yesterday's update.
 6. Expected behaviour: Send request, receive response. Instead request sending hangs f

[2016-12-15 11:13] zoeker commented on #2559
Okay, deleted the extension, installed it again, imported the project and the problem's gone.

[2016-12-15 12:18] stamtesteng opened #2560 "Attaching files in Collection Runner is not possible"
**Environment**
Postman 4.9.0
win / x86-32
Chrome 54.0.2840.99
Windows 7

**Issue**
1. If I understand correctly, there is a limitation in Postman where you cannot define a specific path and file name for a file that you want to upload, in both options of request body 'form data' or 'binary', as it is documented here:
https://www.getpostman.com/docs/requests
"you would have to reattach a file if y

[2016-12-15 12:24] stamtesteng opened #2561 "Postman and Newman integration issue: rawModeData in GET requests should always be emtpy"
**Versions used**
Postman 4.9.0
win / x86-32
Chrome 54.0.2840.99
Newman 1.1.2
Windows 7

**Issue**
Consider the case that a user in Postman duplicates (or make a Save As to) a POST (or a PUT or any other method that includes a body-raw data) request.
Then user goes to the new request created (the duplicate) and make changes. If user change the method used in the request to be a method that does no

[2016-12-15 13:00] sdnts commented on #2561
@stamtesteng That's a great observation. The reason the request body is saved with the collection is to enable us to restore bodies when the method is changed back. However, this body is not actually sent from the Postman App.
It's weird that Newman throws a `SyntaxError in test script` though. Could you open an issue over at the [Newman Issue Tracker](https://github.com/postmanlabs/newman)? This

[2016-12-15 13:00] #2561 closed, assigned to nobody

[2016-12-15 13:10] sdnts commented on #2560
@stamtesteng
1. This is something we don't do currently. On the Chrome App, this simply isn't possible, as Chrome does not give us the actual path of the file, just a fake one. On the native apps, we do not store file references because these are usually system specific, which causes more problems than it solves.

2. I'll add this as a feature request :)