[2020-07-17 11:32] Genri1441 commented on #8790
Hi @mohitranka .
1. I saw the same situation with 7.28.0
![image](https://user-images.githubusercontent.com/45367554/87781783-0671c880-c83a-11ea-9c43-8428c0ad3c20.png)
2. The console output is here
![image](https://user-images.githubusercontent.com/45367554/87781850-1ee1e300-c83a-11ea-8cf6-d0775a4138d3.png)
3. Curl output
![image](https://user-images.githubusercontent.com/45367554/87781986-5b15438

[2020-07-17 12:09] dadasopawale commented on #8791
Hi Appurva,

Pass value in query parameter,

Test data : password=abcd@12%&

On Fri, 17 Jul 2020 at 11:32 AM Appurva Murawat <notifications@github.com>
wrote:

[2020-07-17 12:31] varrinagasai commented on #8789
@coditva Thanks for the response. Improvisation is better when using Request and Response independently. But it is difficult every time resizing the scroll, checking and validating details between Request and Response sections. It's better to provide whole workspace scroll along with this.
As a end-user using Postman app daily won't face any problem till now. Latest scroll improvisation isn't user

[2020-07-17 13:28] mariDubois commented on #8761
Same for me. It takes ages to update a collection variable. It freezes and I'm not able to work.
How can I get an older version of Postman?

[2020-07-17 13:35] Jelly13 commented on #2906
Hi, this removal would be beneficial for our project as well. Too many unnecessary diff is not great for code review process. :(

[2020-07-17 13:45] numaanashraf commented on #8761
@zubairk-net Could you send the profile to help@postman.com?

[2020-07-17 13:45] numaanashraf commented on #8761
@mariDubois Would it be possible to record and share a performance profile? It'll help us triage the issue and resolve as soon as possible.

Here's the how-to on recording a profile: https://www.loom.com/share/01e103f8511549ec93e22ff2afb2769e

[2020-07-17 14:12] mariDubois commented on #8761
@numaanashraf I'll try to do it when I have more time (urgency at work :/).
![image](https://user-images.githubusercontent.com/53441110/87795140-eb0dba00-c847-11ea-8b00-0fdc732385dc.png)

Is it possible to have an v7 version of postman for Windows 64 older than v26 please? (as issue seems to begin with v27(?))
I was using a v6 of postman. I updated to latest  I read that adding headers to request

[2020-07-17 14:17] numaanashraf commented on #8761
@mariDubois Sure! Could you write to us at help@postman.com? We can help you out with an earlier build.

[2020-07-17 14:21] mariDubois commented on #8761
@numaanashraf Thanks :) Mail sent!

[2020-07-17 14:29] SeanAWilliams commented on #8792
Same issue here. I cant make the postman screen any bigger, and the two panes are killing my productivity. I have to keep resizing each pane whenever I need to look at one or edit it. This sucks.

[2020-07-17 15:18] ivan-nenov commented on #8457
@richbraman I am having the same issue. A workaround is to replace "swagger" with "openapi" on line 2 of your json.

[2020-07-17 15:32] irondsd commented on #8656
Is there any permanent fix for this issue? Running the command fixes the issue temporarily. If I run postman normally, the issue persists.

[2020-07-17 17:17] geoffturk commented on #8712
@mohitranka I have sent the two files (the original and the one with the changes I am trying to introduce) to Asha through the support.postman.com messaging system.  I also sent her two video links explaining what my issue still is so you can see what happens to the JSON file after I submit my PUT with the changes. It's made some unusual modifications to the URL structure in the JSON file.

[2020-07-17 18:44] kaustavdm opened #8796 "Template partials (aka, import templates into existing collections)"
**Is your feature request related to a problem? Please describe.**

As a publisher, I want to publish templates that users can combine together with other collections. This will let me publish _building blocks_ of my API's workflow as separate collections. Consumers of my API can use these collections to quickly combine and build their own workflows in using the APIs.

As a user, when building a w

[2020-07-17 18:47] martintefger commented on #8701
still existing on Version 7.28.0

[2020-07-17 19:34] Gonzo102 opened #8797 "Saving Example - Response is not saving."
**Describe the bug**
After making a successful call, I click on Save Response/Save as Example.  The example comes up to be saved, but the response is blank.  I have been using this a lot and it just started happening after the last update.

**To Reproduce**
Steps to reproduce the behaviour:
1. Set the app to _two pane view_ and reduce the screen size to `1400px x 730px`
2. With a saved Request, Se

[2020-07-17 19:42] DannyDainton commented on #8797
Hey @Gonzo102

Would you be able to also provide a screenshot or a recording of what you're seeing please.

Also, any context related information about what the response payload, JSON, XML, something else? An example of that would be great.

Finally, the specific version and what platform/OS you're using would be helpful to help debug this on our side.

[2020-07-17 19:48] Gonzo102 commented on #8797
Windows 10 and Postman version 7.28.0

![image](https://user-images.githubusercontent.com/11306038/87825252-c82dd680-c844-11ea-880e-8af358270a49.png)

![image](https://user-images.githubusercontent.com/11306038/87825279-d5e35c00-c844-11ea-9356-090b96e33272.png)

[2020-07-17 19:52] DannyDainton commented on #8797
Thanks for getting those over to us, I'll take a look at this on my end.

Will update here if I require any additional information.

[2020-07-17 20:19] DannyDainton commented on #8797
I can see that some of the different options in the builder have gone in the collapsed state when the screen size is reduced or the different panes are given more space.

Are you seeing the same when those panes are resized or the window is expanded?

Could you try the same scenario in the _single pane view_ and not in the _two pane view_?

[2020-07-17 20:22] Gonzo102 commented on #8797
Do you mean like this?

![image](https://user-images.githubusercontent.com/11306038/87827819-a551f100-c849-11ea-92cd-c70d7171b9cf.png)

[2020-07-17 20:29] Gonzo102 commented on #8797
So that is a work around.  if I toggle the 2 pane view so that the response is underneath, then it works correctly.  I don't work that way though, because I don't have enough screen real estate.  I work side by side.

[2020-07-17 20:33] DannyDainton commented on #8797
I think I just replicated the issue on my Mac, as well as the Win10 machine I have. I'm not sure of the screen size you're working in by I think this is showing the issue for you.

When I resize the window, the example response is shown and hide at different points - I will raise this further and ask the team to take a look at this.

Thanks for raising this! 🏆

[2020-07-17 20:37] Gonzo102 commented on #8797
Thanks.  Yes I am working on a laptop so I can't stretch my screen enough for it to show.  My window is maximized and it shows hidden.

[2020-07-18 01:02] zubairk-net commented on #8761
Numaan,

I sent my profile last week. My issue has been resolved. Please follow ticket #54127 and let me know if you still need profile recording.

Regards
Zubair

________________________________
From: Numaan Ashraf <notifications@github.com>
Sent: Friday, July 17, 2020 8:45 AM
To: postmanlabs/postman-app-support <postman-app-support@noreply.github.com>
Cc: Zubair <zub4u@hotmail.com>; Mention <me

[2020-07-18 04:02] JohnattanIsrael commented on #6761
Hi, I have the same issue and just downloaded postman yesterday 16 07 2020
![postman_error](https://user-images.githubusercontent.com/24196760/87844293-735c8100-c881-11ea-8b05-0bd235bb9c65.PNG)
WIndows 10 64bits

[2020-07-18 07:08] Caaalabash commented on #8793
please check this url:  http://111.229.115.45:6006/

NodeJS source code:

[code]

in postman, I got 400 error

![postman-test](https://static.calabash.top/blog-media/file/file-QQ20200718-150226@2x.png)

use axios

![axios-test](https://static.calabash.top/blog-media/file/file-QQ20200718-150500@2x.png)

use curl

![curl-test](https://static.calabash.top/blog-media/file/file-QQ20200718-150728@2x.png

[2020-07-18 07:16] Caaalabash commented on #8793
“unexpected end of JSON input” error in Golang case and "400 bad request"  error in Nodejs test case might be the same problem.

I have tried re-install the app, didn't work :(

[2020-07-18 07:29] Caaalabash commented on #8793
Sorry, this is my bad, I unchecked the 'Content-Length' attr in auto-generated headers

https://github.com/postmanlabs/postman-app-support/issues/8768#issuecomment-659128191

[2020-07-18 07:29] #8793 closed, assigned to nobody

[2020-07-18 08:53] DragonGirl09 commented on #8792
I was so surprised by your decision to not have the vertical scroll anymore. My PM asked me why I have a delay with the tasks and when I told him the problem, he said he didn't care. I'm in loved with postman, but I saw that someone recommended a different app. In this situation, I will try every app, that will do the job, because for any PM doesn't matter what tool we use, they care only about mo

[2020-07-18 10:29] sorin21 commented on #8792
I found a solution, for who wants to still use postman: downgrade to a prev version.

[https://learning.postman.com/docs/administration/migrating-to-v7/#team-user-on-postman-v7](https://learning.postman.com/docs/administration/migrating-to-v7/#team-user-on-postman-v7)

and disable automatically download updates:
[https://community.postman.com/t/disable-postman-from-updating/4239/2](https://communi

[2020-07-18 10:48] shamasis commented on #8792
Just a quick thought, have you tried the side-by-side two pane layout that gives extended vertical space to both request and response?

[2020-07-18 10:59] sorin21 commented on #8792
Thank you shamasis for info, but I don't use postman from yesterday :). I tried everything. With what you r saying the top menu is hidden like will be on mobile. So to see better that menu, where you have header, body, etc, I have to switch a lot between one in top of each other, then side by side to see the response. The conclusion: waste of time. I will stay with the prev version.

[2020-07-18 11:03] shamasis commented on #5903
@jameslaneconkling I love the constructive feedback. This is what helps us improve. We are going through everyone's feedback and looking into possible tweaks to the Pane positioning.

Hope you and others will be able to spare some moments to download and provide feedback on our Canary release when it is out. ❤️❤️

Will keep this thread updated with more info as it arrives.

[2020-07-18 11:08] sorin21 commented on #8789
I have the same problem varrinagasai. I downgrade to a prev version and disabled from settings download autmatically updates.
[https://learning.postman.com/docs/administration/migrating-to-v7/#team-user-on-postman-v7](https://learning.postman.com/docs/administration/migrating-to-v7/#team-user-on-postman-v7)

[2020-07-18 11:26] salihkaragoz commented on #7370
It's okay if you're doing any mining in the background, just let us know.  : D

[2020-07-18 11:28] vvs11 commented on #8219
@maplion We have released this in Postman v7.28. Please check it out and let us know your feedback

[2020-07-18 11:28] #8219 closed, assigned to vvs11

[2020-07-18 13:12] frahugo commented on #8737
I had the same problem since 2-3 days. Disabling that option fixed the issue on my side.

[2020-07-18 14:58] bnnsz commented on #8648
I added the version and it was fine
Thanks for your support

On Tue, Jul 14, 2020 at 1:44 PM Umesh Pathak <notifications@github.com>
wrote:

--
ASUZU

[2020-07-18 16:18] vvs11 commented on #3700
@deepal Please check out Postman v7.28 and let us know your feedback

[2020-07-18 16:18] #3700 closed, assigned to sankalp0o

[2020-07-18 16:52] milichev commented on #2810
@hlubovac , @a85 ,
Why was it closed?
Any workaround how to post a file as an application/x-www-form-urlencoded entry in Postman?

[2020-07-18 19:01] AliArdaOrhan commented on #2452
Is there any update on this? Imho, It will really improve the experience API testing with OAuth 2.0.

[2020-07-18 19:35] hlubovac commented on #2810
I have no clue. I didn't have high hopes to begin with. I'm surprised it took them 2 years to dismiss this.

[2020-07-18 22:38] vkaegis commented on #8792
Hey Sorin, thanks again for the feedback. Out of curiosity, what resolution do you use Postman at? Would you be able to tell us the size of the window?

[2020-07-19 00:51] ndrd commented on #7294
@arlemi #8751 and #7294 are closed and they are circular referenced, there is a real solution to this issue?

[2020-07-19 09:42] ranjith19 commented on #7294
I face this every day. My current job involves dealing with APIs and postman is a really bad experience to work with. It is too slow.

In my team we have about 50 collections. We are even paying for this service but not getting out money's worth.

[2020-07-19 14:40] arafay993 commented on #7603
facing the same issue when added domain name `localhost:8000` and I am using Linux mint. Anyone know how to solve it ?

[2020-07-19 14:47] vdespa opened #8798 "Postman for the web - Collection runner won't open the selected collection"
**Describe the bug**
It seems that the collection runner has some issues in the current "Postman for the web" version.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to a workspace that is not the default workspace
2. Click on a collection and from the context menu select "Run"
3. A new tab will open with the collection runner.
4. The collection I selected to run will not be displayed. I

[2020-07-19 14:51] vdespa opened #8799 "Postman for the web - Collection runner does not detect data file (csv/json)"
**Describe the bug**
It seems that the collection runner has some issues importing an external JSON or CSV file.

To Reproduce

**Steps to reproduce the behavior:**

Open the collection runner and try importing an external file.

![image](https://user-images.githubusercontent.com/1197635/87877672-e2e88280-c9df-11ea-9c1c-cabb9cd45c77.png)

The data preview won't work and the collection will only ru

[2020-07-19 16:08] klassic93 commented on #7603
try to write just localhost when add your domain

[2020-07-20 03:31] codenirvana commented on #2810
@milichev @hlubovac If you want to set file params like form-data but with `application/x-www-form-urlencoded` content-type, there's definitely a workaround:
![Screenshot 2020-07-20 at 8 52 32 AM](https://user-images.githubusercontent.com/4865836/87896868-289c5e00-ca67-11ea-98a4-e7633f428922.png)

[2020-07-20 04:45] coditva commented on #8798
@vdespa Thanks for writing in and testing out the Beta! This is something that we're working on currently. I'll post any updates on this thread. 😄

[2020-07-20 05:07] Raj-postman commented on #7294
Hi @ranjith19 - Sorry to hear about the experience. Could you please write to us at help@postman.com with the application version and the details around the same? We will check on this further.

[2020-07-20 05:09] ndrd commented on #7294
@ranjith19 try updating to canary, it has better performance
![image](https://user-images.githubusercontent.com/8826286/87901691-4d6be380-ca1d-11ea-8e45-945f6addac94.png)

[2020-07-20 05:55] saradavani-koppisetty opened #8800 "Auto Generated Headers"
**Describe the bug**
Not able to remove the temporary headers, while importing curl 5 headers will get added automatically because these headers my request is getting failed

**Screenshots**
https://snipboard.io/MnvwfZ.jpg

**App information (please complete the following information):**
 - App Type: web application
 - Postman Version: Postman v7.28.0
 - OS: Ubuntu

[2020-07-20 06:11] saswatds commented on #8800
Hi @saradavani-koppisetty, The number shown alongside is not indicative of what headers are sent but how many headers are defined (enabled + disabled).
I can see you have disabled `Host` and `User-Agent` headers. I have checked and can confirm that they are not actually getting sent. You can uncheck all the checkboxes and no header will be sent with your request.

If your server is NodeJS based, t

[2020-07-20 06:26] shadow1163 commented on #8783
Mac 10.15.6 and PostMan v7.26 (upgradde to v7.28)
Ubuntu 20.04 and Postman v7.28

I have same problem.

[2020-07-20 06:48] mohitranka commented on #6581
This issue has been resolved and works in the latest version of the app.

[2020-07-20 06:48] #6581 closed, assigned to nobody

[2020-07-20 06:57] mariDubois commented on #8761
@zubairk-net  Hello

Is it possible please to put a link for ticket 54127? I didn't manage to find it and I'm curious to know if it can solve my issue :)

Thank you in advance.
Regards

[2020-07-20 07:24] aaparth commented on #5903
@shamasis

Can you please provide the link to download the version 7.27 as it was more convenient to use and this new scrolling consumes the more time for us to resize it every single time.

My suggestion would be to give the option for the users to select the scroll according to their preferences. But as of now please provide the link to download the previous version untill you guys give the opti

[2020-07-20 07:51] danhowelldev opened #8801 ""Description" column on environment variables"
I couldn't see this raised anywhere - sorry if I missed it!

### Problem
I use postman environments to store various ID's needed for testing my endpoints. Sometimes I have multiple ID's that I switch between, with the same variable name. The IDs are mongo DB ids, so not easily memorable, and in order to remember which is which, I have taken to putting a description in the "Initial Value" field.

F

[2020-07-20 08:24] DannyDainton commented on #8801
@Raja-Simha duplicate of https://github.com/postmanlabs/postman-app-support/issues/6714 ?

[2020-07-20 08:39] Raja-Simha commented on #8801
Yes
Duplicate of #6714

[2020-07-20 08:39] #8801 closed, assigned to Raja-Simha

[2020-07-20 08:57] mydogger commented on #4249
yeah, Log out and log in again works fine, but the data is gone.

[2020-07-20 09:22] CainDS commented on #5394
Any time frame on when this will be done? We've ran into a bunch of problems with test worldpay APIs needing a certain proxy to authenticate and another calls need a separate one. Currently no way around this when running through newman so was hoping to be able to do it at a script level.

[2020-07-20 09:36] Genri1441 commented on #8790
Hi @mohitranka . Any updates?

[2020-07-20 10:28] ashuwaliav commented on #5903
https://dl.pstmn.io/download/version/7.27.1/win64 link to download old postman version.

[2020-07-20 10:52] mohitranka commented on #8712
@saswatds could you please triage this issue? I'll share the files with you.

[2020-07-20 11:21] m-urban commented on #8783
Confirming this problem. Also experiencing the issue since updating to v7.28.
@orlowski-ra's workaround of sticking to numbers/digits in the password is unfortunately not an option for me, as I am depending on my corporate environment's password policy.

[2020-07-20 13:18] vikiCoder commented on #4931
Hi @ashaalex28,

From the logs you shared, I can see that the login page is never successfully redirected to the callback URL. Which means, the login itself is not successful from the server-side.

Can you please let us know whether the issue is still there in the latest version of the Postman app (v7.28.0)? If it is still there, you can try using newly added `Authorize using browser` option while

[2020-07-20 13:53] Ben1nBlack opened #8802 "Collection Pre-Script running prior to Each Request"
**Describe the bug**
I created a code in the Collection Pre-Sctipt section, thinking that this would run once to init values, it is running after each request in the collection.

**To Reproduce**
Steps to reproduce the behavior:
1. create collection
2. add some request
3. edit the collection pre-script and add console.log("collection pre-script called")
4.run collection in collection runnner

**Ex

[2020-07-20 14:07] DannyDainton commented on #8802
Hey @Ben1nBlack

This is the intended behaviour of the Pre-request Script, it would run before _each_ request in the Collection.

![Screenshot 2020-07-20 at 15 05 22](https://user-images.githubusercontent.com/17089546/87946900-88602c80-ca9a-11ea-9a23-dfafa82e03ca.png)

More information about these can be found on our learning center:

https://learning.postman.com/docs/writing-scripts/pre-request-s

[2020-07-20 14:09] vkaegis commented on #5903
Hey guys, thanks for all the great feedback. Would it be possible for you all to add what resolution you typically use Postman at?

[2020-07-20 14:10] vkaegis commented on #8781
Hey @sajad2176 , out of curiosity, what resolution are you using Postman at?

[2020-07-20 14:10] Ben1nBlack commented on #8802
Then there is no way to init variable thru scripting,

collection script should be run once, then all other tests.

[2020-07-20 14:11] gsacavdm commented on #4636
+1 on needing this functionality.

[2020-07-20 14:17] DannyDainton commented on #8802
If you wanted to start a new thread on the [community forum](https://community.postman.com/) with an example of your use case, I'm sure we will be able to walk through what you're doing and a potential solution for to achieve this.

[2020-07-20 14:17] #8802 closed, assigned to nobody

[2020-07-20 14:32] Ben1nBlack opened #8803 "Collection Pre-Script running prior to Each Request"
**Describe the bug**
Collection Pre-Script running prior to each

**To Reproduce**
Steps to reproduce the behavior:
1. Create new Collection
2. Edit the Collection Pre-Script

`//bring in tests array of objects from collection
var jsonObject = JSON.parse(pm.globals.get("tests"));

pm.globals.set("tests",`[
  {
    "Request": "login",
    "callData": [
      {
        "value": "password",
        "

[2020-07-20 15:15] #8803 closed, assigned to nobody

[2020-07-20 15:17] stojan-jovic commented on #5903
@vkaegis Using it at 1920x1080 almost all the time. Maybe to create some poll (or something like that) for larger response and easier information collecting.

[2020-07-20 15:33] Ben1nBlack commented on #8803
There is no other way around this.
Why do you keep closing this?

Ben Johansen
http://www.webspinr.com
benj@webspinr.com
Phone: 360-600-7775

[2020-07-20 15:46] SabriH10 commented on #8762
Hi @randeepbydesign,

I am just following up here. Did you get a chance to write to help@postman.com so we can assist further? I'll wait for your response to confirm so we can close out the issue here and help troubleshoot when you've written in.

[2020-07-20 15:48] mccannt commented on #8803
@Ben1nBlack As @DannyDainton has pointed out, this is functioning as intended, so there is no need to keep this open.

If you feel there is an improvement that can be made to this, please feel free to log a Feature Request on this. Outlining what you feel could be an improvement, we will then pass this along to our Product teams.

Otherwise, as Danny mentioned, our community would be the best plac

[2020-07-20 16:13] Ben1nBlack opened #8804 "Add a Collection level Pre-Script that only runs once"
[Test Runner.postman_collection.json.zip](https://github.com/postmanlabs/postman-app-support/files/4948818/Test.Runner.postman_collection.json.zip)

**Describe the solution you'd like**

The flow should be

    Collection Pre-Script (for initialization of value prior to collection run)
    Request Pre-Script
    Request Test (post script)
    … Loops
    finally Collection Test (post script)

The

[2020-07-20 19:05] stojan-jovic commented on #5903
Btw, is there any way to prevent updating Postman once when we switch back to `7.27.1` (only major updates can be disabled, if I see correctly)?

[2020-07-20 19:22] JoeyEamigh opened #8805 "A cookie with the secure attribute as true being reported as false"
**Describe the bug**
When I post or get to my server which is setting a secure cookie (as verified by FireFox, Edge, and my code), the secure flag will say false in Postman.

**To Reproduce**
Steps to reproduce the behavior:
1. Make a request to a server with a secure cookie
2. Tab over to the cookies page. It says false.

**Expected behavior**
Secure should be true

**Screenshots**
###### Postman

[2020-07-20 20:20] cinnarr commented on #6455
I am getting this error whenI am making GET request... can anyone please check and let me know what is going wrong here:
GET https://postman-echo.com/get
Error: ETIMEDOUT
Request Headers
User-Agent: PostmanRuntime/7.26.1
Accept: */*
Cache-Control: no-cache
Postman-Token: 957c34e6-d296-40b9-bf1a-08e250396c39
Host: postman-echo.com
Accept-Encoding: gzip, deflate, br

[2020-07-20 22:17] laymanmu commented on #2773
https://github.com/Kong/insomnia

[2020-07-20 22:44] srigutala commented on #7325
This feature will be very helpful !!

[2020-07-21 02:00] randeepbydesign commented on #8762
I did but, in the interim I logged out and logged back in and the cloud synch took over and fixed this. It's still a scary user experience but glad I still have all my work,

[2020-07-21 02:00] #8762 closed, assigned to SabriH10

[2020-07-21 04:52] hoasaritasa commented on #4494
Got the same issue today. My colleague (next to me) use exactly the same config, no proxy setting, in the same LAN network, and only I got the "Error: connect ECONNREFUSED"

[2020-07-21 05:04] codenirvana commented on #8805
@JoeyEamigh I am not able to reproduce this issue locally and haven't seen other users facing the same.
![Screenshot 2020-07-21 at 10 33 23 AM](https://user-images.githubusercontent.com/4865836/88014918-a894f780-cb3d-11ea-8a5c-fc49e4728155.png)

Can you share a scaled-down collection or an endpoint that we can use to reproduce this issue?
If it's an internal endpoint, can you just share the `Set-C

[2020-07-21 05:28] Raj-postman commented on #7157
@JP-from-Postman The team has identified the cause of the issue and is currently fixed. Feel free to reopen if the issue persists.

[2020-07-21 05:28] #7157 closed, assigned to ankitjaggi

[2020-07-21 05:55] MuraliKrishna4550 opened #8806 "Need All menus of request and response in single Line"
**Describe the bug**
Need All menus of request and response in single Line
The previous version will be like that, all menus of req and response are in a single line if I scroll request panel too small all menus in response visible in a single line, same for request also.

**Expected behavior**
All menus should be in single line.

**Screenshots**
If applicable, add screenshots to help explain your

[2020-07-21 06:08] saswatds commented on #5628
Closing this issue.

[2020-07-21 06:08] #5628 closed, assigned to codenirvana

[2020-07-21 06:09] coditva commented on #8806
Hey @MuraliKrishna4550,

The tabs change to dropdown when there isn't enough space in the response panel to show the tabs. You can change the dropdown to tabs by simply resizing the response pane to a bigger size.

![collapse-tabs](https://user-images.githubusercontent.com/8445768/88018929-4b517400-cb46-11ea-8962-607f3fd77689.gif)

If you don't have enough space inside the Postman window, you can

[2020-07-21 06:16] coditva commented on #3674
The layout has been improved in the latest Postman app 7.28.0 🎉

![image](https://user-images.githubusercontent.com/8445768/88019533-a6d03180-cb47-11ea-930c-5a4ffabab3cb.png)

[2020-07-21 06:16] #3674 closed, assigned to vkaegis

[2020-07-21 06:25] MuraliKrishna4550 commented on #8806
I need a two-pane view and I don't want to scroll like that, the previous version it used to work fine. Please send me a link to download the previous version I will use that one, and will not upgrade

[2020-07-21 06:29] vikiCoder commented on #8770
Hi @bramski,

If you are using the pre-signed POST request, you don't need to set the Authorization in Postman for that request. Because the AWS signature authorization helper in Postman is supposed to sign the request with given credentials. But since you are using **pre-signed** request, there is no need to sign it again. Just send the normal POST request with the keys (you've got while pre-sign

[2020-07-21 07:54] emremrah commented on #3774
Why there is an option as selecting data file if it's gonna use the saved request anyway?

[2020-07-21 08:00] NoitaminAoki commented on #5903
yeah, he is right. But when i came back to version v7.27.0, the postman automatically download the latest minor updates. And Automatically install the updates when postman restarted. Therefore, when i open postman the next day, i must reinstall version 7.20.0. Please considere not all user like the same appearance. Thank you, love from Indonesia

[2020-07-21 08:19] NoitaminAoki commented on #8792
Yeah, i follow your solution. But when i came back to version v7.27.0, the postman automatically download the latest minor updates, and Automatically install the updates when postman restarted. The disable button for automatically updates only for major not minor updates, there is issue but was closed. Therefore, when i open postman the next day, i must reinstall version 7.20.0. Please considere n

[2020-07-21 08:47] MuraliKrishna4550 commented on #8806
I want like this, how it works as previous versions. please send me
previous version link.

On Tue, Jul 21, 2020 at 11:39 AM Utkarsh Maheshwari <
notifications@github.com> wrote:

[2020-07-21 10:31] atmullan commented on #8791
Also getting 400 Errors with encoded Query Strings, using fiddler Postman is sending a Param like this `filter={%22resource_id%22:%22vol-0419229b038dc6442%22,%22resource_name%22:%22vol-0419229b038dc6442%22}` instead of `filter=%7B%22resource_id%22%3A%22vol-0419229b038dc6442%22%2C%22resource_name%22%3A%22vol-0419229b038dc6442%22%7D`

[2020-07-21 11:44] vikiCoder commented on #8795
Hi @noizecamp,

I tried reproducing the problem, but it is working fine for me. See in the below GIF, I first send the request with query params (`?foo=bar`) in URL. And then remove the params (`?foo=bar`) and send the request again. In both the cases, calculated signature in `Authorization` header is different as it should be.

![ezgif com-video-to-gif](https://user-images.githubusercontent.com/1

[2020-07-21 12:00] codenirvana commented on #8791
Hey everyone 👋
Looks like you're all facing issue because of encoding in query param, the issue title is misleading.

In the latest release, the default URL processor is updated due to which you are facing this issue. You can read more about this change [here](https://github.com/postmanlabs/postman-app-support/issues/8154).

The new URL processor follows the [WHATWG (URL) standards](https://url.sp

[2020-07-21 12:00] #8791 closed, assigned to nobody

[2020-07-21 12:06] codenirvana commented on #8768
Closing as per https://github.com/postmanlabs/postman-app-support/issues/8791#issuecomment-661813107

[2020-07-21 12:06] #8768 closed, assigned to nobody

[2020-07-21 12:16] codenirvana commented on #8775
This is not an issue, the requests are failing because of the restrictions on the requesting server. You can check the workarounds mentioned [here](https://github.com/postmanlabs/postman-app-support/issues/8791#issuecomment-661813107) for explicitly encoding additional characters.

Looks like a separate issue then.

Make sure you are logged in and all your unsaved requests are synced.

@minakshi-g

[2020-07-21 12:34] vanderthiel opened #8807 "Environment variables reset to old values when working with a team"
**Describe the bug**
We're using postman to write our integration tests. As a team we manage settings in Environments.  These environments are synced across the members in the Postman client. So far so good.
Now when one team member makes an update on an existing setting, we noticed other members still have the old setting. Even after clicking the sync button the old settings remain. When that tea

[2020-07-21 12:43] Genri1441 commented on #8790
Hi @mohitranka , @xk0der @jeremys @abourget . Can you help me?

[2020-07-21 13:43] JoeyEamigh commented on #8805
A reinstall and a reboot fixed it for me. This bug only happened when I placed a insecure cookie with the same name as the secure one then cleared the cookie jar and set the secure one. If no one else is reporting it then don't waste your time on it. Might have been a fluke.

[2020-07-21 14:35] DannyDainton commented on #8807
Hey @vanderthiel,

Thanks for writing in - Can you confirm which Environment values are getting updated, please? Is it the Initial or current or both of them?

Are the changing environment values reflected in the Activity Feed of the Workspace in the App's Browse mode and on the Web Dashboard?

[2020-07-21 15:14] jbarbera commented on #1931
You can do a normal request with postman and then export the request to any language and add the timeout parameter on the call

[2020-07-21 15:21] SabriH10 commented on #8607
@bharatramawat28 Try the following suggestion from the Community Forum, it should help: https://community.postman.com/t/how-to-download-file-while-running-collection-runner/13080/2

I'll close this issue for now considering your issue is resolved, but for the send and download with the Collection Runner, you may leverage the Forum if you still have questions.

[2020-07-21 15:21] #8607 closed, assigned to SabriH10

[2020-07-21 15:38] vanderthiel commented on #8807
Hi Danny, thanks for the quick response.

I think we've seen either. Once only the initial and once only the current. And once both were reset. So not exactly sure what is the predominant one.

Yeah, where it says "verified" it means I checked the web dashboard to see the changes were applied upstream.

[2020-07-21 15:57] codenirvana commented on #8805
@JoeyEamigh Thanks for the confirmation, glad it worked out for you.

[2020-07-21 15:57] #8805 closed, assigned to codenirvana

[2020-07-21 16:17] havaball commented on #8765
I am getting the same issue when I start up postman.  It starts with postman trying to load or acting like it is going to load, then it goes to a gray screen and nothing shows.

[2020-07-21 16:20] DannyDainton commented on #8807
Apologies, I meant checking the Team Shared Workspace to see the environment activity feed items, maybe that might also give some additional information about which user changed with environment.

In the Web Dashboard, go to Browse and navigate to the Team Workspace. The last tab in the view is the `Activity` tab and this can be filtered to show the _Environment_ entity actions. This is informatio

[2020-07-21 16:24] DannyDainton commented on #8739
Hey @Aidenir

Did the steps listed above fix the issue for you?

[2020-07-21 16:28] DannyDainton commented on #8633
Hey @garycsebastian

Are you still seeing the issue in the latest version of the app?

[2020-07-21 16:38] havaball commented on #8739
I cannot follow the steps that you have listed, because when I open the app all I get is the out line of the info on the screen I cannot do anything on the screen.

Chris Havard
QA Analyst II

National Client Conference, May 19-22 in San Antonio - Register Today!<http://www.cpsi.com/2019conference>

[cid:Evident(2)_c424fa98-fee0-4bf5-a86b-76ad66aca665.png]
Electronic Mail Confidentiality Notice:
T

[2020-07-21 16:39] havaball commented on #8633
I have removed and reinstalled the app and I am still getting the same issue.

Chris Havard
QA Analyst II

National Client Conference, May 19-22 in San Antonio - Register Today!<http://www.cpsi.com/2019conference>

[cid:Evident(2)_c424fa98-fee0-4bf5-a86b-76ad66aca665.png]
Electronic Mail Confidentiality Notice:
This electronic mail message and all attachments may contain confidential information b

[2020-07-21 19:20] 1raghavmahajan opened #8808 "'{', '}' and ':' not being URL encoded in query params"
**Describe the bug**
For some reason some characters like `{ } :` not being URL encoded in query params.

**To Reproduce**
Steps to reproduce the behaviour:
1. Create a new request.
2. Add a query parameter with value = ` {"hello":{"$word":"world"}}`
3. See console output with your request. The param will be partially encoded as `{%22hello%22:{%22$word%22:%22world%22}}`
4. Now select the query par

[2020-07-21 20:25] ghobadkhan commented on #2819
This is definitely a big requirement. Please hasten its deployment.

[2020-07-21 23:49] wizofaus commented on #1559
Even for media files (images etc) this would be handy - I had a case where it was supposed to return the binary data for an invisible gif, and I couldn't see anywhere (even in the console) whether it had returned the right response.

[2020-07-22 02:55] codenirvana commented on #8808
@Raghav-intrigue The [new URL processor](https://github.com/postmanlabs/postman-app-support/issues/8154) follows the [WHATWG (URL) standards](https://url.spec.whatwg.org/) for encoding the different parts in the URL and `{`, `}`, and `:` are not reserved characters which require automatic encoding. You can try sending the same request via a Browser and notice a similar behavior.

If your requestin

[2020-07-22 02:55] #8808 closed, assigned to codenirvana

[2020-07-22 03:30] carboncope commented on #982
I also needed the ability to sort my environment variables. I ended up writing a Pre-request script that sorts the environment I have selected and uses the postman API to update the environment variables. Maybe it will help someone.

**Requirements:**

1. Set a environment variable e_pm_env_uid to the UID of your environment that you can get from your postman dashboard.
2. Set a global variable g_

[2020-07-22 05:53] abhijitkane commented on #6105
Closing this issue for now. Feel free to reopen if further issues are seen during syncing.

[2020-07-22 05:53] #6105 closed, assigned to ankitjaggi, kartikjain26

[2020-07-22 06:54] vanderthiel commented on #8807
Ok, so sometimes we click the sync button, don't know about a reset or reset all feature so guess we're not using it.

The way we use it is we work together as a team. In the environment we configure settings, which need to be shared. So if we need to change a value, we change both initial and current just to make sure the value is used. And we expect it to be updated to other users as well if the

[2020-07-22 09:04] karolh95 opened #8809 "When minimized, the application window changes its position when maximized"
**Describe the bug**

When minimized, the application window changes its position after maximized

**To Reproduce**

Steps to reproduce the behavior:
1. Open Postman
2. Open some other window
3. Snap Postman window to the left edge of your screen
4. Minimize Postman's window
5. Maximize Postman's window
6. The Postman's window is slightly shifted to the right

**Expected behavior**

The postman wi

[2020-07-22 09:33] nagpureroshan commented on #7221
I am now facing same issue with  Postman Version 7.28. I have tried couple of version with installations and i am stuck at same point. The API is accessible when tried through any browser but from Postman its still not accessible. Please resolve or share work around for this problem.

[2020-07-22 10:25] aleqcz opened #8810 "Select request in the Sidebar in the COLLAPSED tree from (by switching) a tab"
Hi,
would you please consider adding a function to locate/select the request (opened in a tab) in the collapsed Collection in the sidebar?  It works nicely if the tree is expanded, but not, if it is collapsed. Can I trigger some action and let it find it in the tree and expand the path to it, keep it expanded even after clearing the search?
Just like in IntelliJ IDEA when you click the “target” ic

[2020-07-22 11:00] ajbrun opened #8811 "Header prefix default placeholder is confusing"
We've just run into an issue where we found the default placeholder of "bearer" in the header prefix field to be a little confusing. Since it displays "bearer" rather than "Enter hearer prefix", it's assumed that this is the default value rather than just a placeholder.

This issue is that the screenshot below will not result in a header prefix being sent, but can be overlooked to assume it should

[2020-07-22 11:06] codenirvana commented on #8811
@ajbrun Thanks for the feedback and this is something which we are already tracking internally and we'll try to improve this as soon as possible.

[2020-07-22 11:20] Asafkbalink opened #8812 "OpenAPI Responses with nested $ref properties are not interpreted correctly"
**Describe the bug**
When importing a valid OpenAPI specification file that has nested schema references, postman interprets the nested object as "<object>" instead of displaying the object itself.

**To Reproduce**
Steps to reproduce the behavior:
1. Take the following yaml:
[code]
2. Paste it to Postman's API "define" section under a new API
3. Generate a collection by this specification
4. Go t

[2020-07-22 11:51] av9saxena opened #8813 "POST request with request param value as json string is not working from v7.28.0"
I had exposed a POST request which accepts HttpSerlvetRequest as request body. I used to hit it using following URL :

**{{url}}/api/ext/payment/stargate/notify/response?data={"sessionId":"3a16b901-01ac-4881-8d22-aafdsfldfdkjfldlf6e449c1bae","rrn":"PGSM2UF2sjfkjdshfkj4XB","amount":"100.00","ordernumber":"40fdljfd70sfddf7","transactionId":"0000","payResult":"Ofkdjlkfjl","responseCode":"100","avsRaw

[2020-07-22 12:06] codenirvana commented on #8813
@av9saxena You might be facing the encoding issue similar to https://github.com/postmanlabs/postman-app-support/issues/8808.
Please refer https://github.com/postmanlabs/postman-app-support/issues/8808#issuecomment-662212275 for more details.

Also, we are actively looking into the scroll UX improvements and you can follow https://github.com/postmanlabs/postman-app-support/issues/8792 for updates.

[2020-07-22 12:06] #8813 closed, assigned to codenirvana

[2020-07-22 12:47] VShingala commented on #8812
@Asafkbalink Thanks for reporting issue.

Currently we resolve all elements in `allOf` by their order of occurrence and each property is treated independently, this means for following schema:

[code]

`data` property in `JSendSuccess` component is resolved first and as it doesn't contain any properties it's treated as empty object. Now when resolving further when `data` is found inside properties

[2020-07-22 12:51] Autobots2392 opened #8814 "Postman web could not load https://web.postman.co/build"
**Describe the bug**
 Postman web could not load.
 https://web.postman.co/build

**To Reproduce**
Steps to reproduce the behavior:
1. login postman community.
2. Go to 'https://web.postman.co/build'

**Expected behavior**
should be able to download postman Browser agent

**Screenshots**

![image](https://user-images.githubusercontent.com/28890066/88179132-0e21da80-cc49-11ea-941e-3f1bea597ca9.png)

[2020-07-22 12:52] mccannt commented on #4509
Resolved in v7.29.0

[2020-07-22 12:52] #4509 closed, assigned to a85, sankalp0o, preethammavin

[2020-07-22 12:54] mccannt commented on #6992
Resolved in v7.29.0

[2020-07-22 12:54] #6992 closed, assigned to saswatds

[2020-07-22 12:55] mccannt commented on #8012
Resolved in v7.29.0

[2020-07-22 12:55] #8012 closed, assigned to vvs11, codenirvana, saswatds

[2020-07-22 12:56] mccannt commented on #8797
Resolved in v7.29.0

[2020-07-22 12:56] #8797 closed, assigned to mohitranka, coditva

[2020-07-22 12:56] Asafkbalink commented on #8812
@VShingala thank you. This temporary solution works. Please just notice the key "result" and it's nested properties needs to be indented once more in your examples :)

[2020-07-22 12:59] mojo2012 commented on #2906
Not even a repsonse from the devs? Damn I guess I will be moving on ...

[2020-07-22 12:59] VShingala commented on #8812
@Asafkbalink Thanks for pointing it out. Have updated it. 👍

[2020-07-22 13:00] mccannt commented on #8711
Resolved in v7.29.0

[2020-07-22 13:00] #8711 closed, assigned to nobody

[2020-07-22 13:05] mccannt commented on #8676
Resolved in v7.29.0

[2020-07-22 13:05] #8676 closed, assigned to sankalp0o

[2020-07-22 13:34] RocketFever22 commented on #8671
Hello,

I've got this issue. It's still there, but I could skip it by:

1. Clicking "Skip signing in and take me straight to the app"
2. Click the "sign in" button on the top right of the main window. It will redirect you to the log in screen
3. This second time the app actually logged me in.

I hope it helps for other people.

I'm using the latest AUR snap version in Manjaro

[2020-07-22 13:52] cyrielle-hada commented on #8559
A fix has been deployed to production today. After testing, I confirm that the issue is resolved.

[2020-07-22 13:52] #8559 closed, assigned to charlie-postman

[2020-07-22 14:24] mccannt commented on #2906
@mojo2012 We are investigating this issue and it is very much on our radar. We can no commit on a timeline at this time but we will follow up when we have more to share.

Please appreciate some feature changes are not straight forward and require time and effort to address, so we don't negatively impact other users.

[2020-07-22 15:19] Mon-Blaza commented on #5650
The current versioning Postman support only works if you're maintaining documentation for multiple versions that are not simultaneously active. For example, I have Documentation for API 1.0 and 2.0. Both these versions are currently active, meaning there are updates made for 1.0 (like 1.0.1, 1.0.2 and so on) and also for 2.0 (2.0.1, 2.0.2, and so on). How do you go about effectively reflecting the

[2020-07-22 15:56] Lietsaki commented on #8789
Same problem here. I understand that this was done intentionally, but it actually doesn't improve the UX. For example, I can't take screenshots of postman where more than one panel is shown, or at least most of it. @varrinagasai is right.

[2020-07-22 16:07] kinlane commented on #8814
The URL is https://go.postman.co/build, can you provide details on where you got the https://web.postman.co/build url?

[2020-07-22 16:21] KevAy22 commented on #6746
Hello, is this still slated as a defect with intentions to fix it?

[2020-07-22 17:01] chris-maheu opened #8815 "Image in form-data not sent when run in Collection Runner"
**Describe the bug**
When a POST request is made with a form-data body, and one of the fields is an image, the image is sent to the recipient when the request is run manually. However, when the request is run from the collection runner, the image is not sent.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a new post request to `https://postman-echo.com/post`
2. In the "Body" tab, sel

[2020-07-22 17:11] kamalaknn commented on #8814
Hey @Autobots2392

Could you get share the logs from the devtools to `help@postman.com`? You can save the logs by right-clicking on devtools and selecting `Export messages to > File`

[2020-07-22 17:14] chris-maheu commented on #8815
I moved the image to my Postman working directory, and it worked fine. I thought I had the working directory set to where the image was originally, since the main app request was working. But it must have cached it or something.

[2020-07-22 17:14] #8815 closed, assigned to nobody

[2020-07-22 17:38] zubairk-net commented on #8761
Hi,

My issue was resolved by turning off interceptor in chrome. Someone named "JP" was comminucating with me from postman team. Please see email msgs below:-
BEGIN================================================
Zubair Khan

Jul 18, 2020, 12:58 AM UTC

yep, it is back to normal since I turned interceptor off.

Thank you guys for the support.

JP (Postman)

Jul 17, 2020, 11:02 PM UTC

Hi Zubair,

[2020-07-22 18:21] anladwig commented on #2452
I am confused why this has been open for 4 years with no response of any type.

[2020-07-22 19:40] ArjunSingh-PM commented on #6769
We have made changes to the messaging around the authentication flows to address this issue

[2020-07-22 19:40] #6769 closed, assigned to anudeepmedicharla, preethammavin, ArjunSingh-PM

[2020-07-22 19:57] ArjunSingh-PM commented on #5845
We have improved the messaging for authentications flows to address this issue.

[2020-07-22 19:57] #5845 closed, assigned to anudeepmedicharla, preethammavin, ArjunSingh-PM

[2020-07-22 19:59] ArjunSingh-PM commented on #6755
We have improved the messaging for authentication flows to resolve this issue.

[2020-07-22 19:59] #6755 closed, assigned to anudeepmedicharla, ArjunSingh-PM

[2020-07-22 20:11] jwbanning opened #8816 "Create reusable testing scenarios from a collections."
**Is your feature request related to a problem? Please describe.**
Having an authoritative collection of requests limits my use case testing scenarios.  To accomplish all my testing I have to write complex scripts to check flags and change the .setNextRequest. This leads to a many messy scripts or many duplicate collections.

**Describe the solution you'd like**
The possibility to toggling on/off

[2020-07-22 20:26] SabriH10 commented on #8734
Hi @sriharshakatakam ,

Considering the information provided by my colleague Danny and the Chrome extension is deprecated, I'll go ahead and close this for now. If you still have questions or concerns or need help with the Native App, don't hesitate to reach out to help@postman.com.

Have a great day!

[2020-07-22 20:26] #8734 closed, assigned to SabriH10

[2020-07-22 20:46] shelbaz commented on #3142
Any updates? We have a need for it

[2020-07-22 23:59] MatteoInfi commented on #8765
Unfortunately I cannot access that section, postman completely stop working

[2020-07-23 02:50] mchenx commented on #8739
I am facing the same issue these days, upgraded to 7.29 didn't work
when clicking sync button it turned into blue and spinning for a few seconds and then back to orange, and nothing happened,  go to the web, check the collections, still shows old data, which means not synced

I opened the devtools nothing in network, console, etc...

[2020-07-23 04:31] codenirvana opened #8817 "Add support for multipart/related request body"
Postman supports `form-data` request  body type but not the [multipart/related](https://tools.ietf.org/html/rfc2387).
Currently, the only workaround is to post the [raw request](https://stackoverflow.com/a/41549002) body.

**Additional context**
Refer: https://twitter.com/stevenborg/status/1286039959476961280

[2020-07-23 04:56] pankajk07 commented on #3919
Hello everyone. Autocompletion in script editors is now available in the stable channel on the latest release (`7.29`).

@vdespa, thanks for taking the time to try out the `Canary` build and providing us with detailed feedback. We have made the following improvements which should be available on both `Canary` and `Stable` channel.

1. You can trigger autocomplete at any location by pressing `Ctrl

[2020-07-23 04:56] #3919 closed, assigned to a85, vkaegis

[2020-07-23 05:16] aman-postman commented on #8197
@VicKetchup Can you please check and let us know if you are still facing this problem?

[2020-07-23 06:07] vanderthiel commented on #8807
Extra information: Today one other team member got back, started his postman and his tests, and he also still has the old values.
Initial was updated.
Current was still old values.

We need Current to represent the updated values, since we only update when those are the new ones.

[2020-07-23 06:14] DannyDainton commented on #8807
Thanks for the updated information. 🏆

The current values alone will not get updated/shared if only the initial value is changed - you would need to persist those or ensure that the new initial value has also been changed in the current value.

https://learning.postman.com/docs/sending-requests/variables/#sharing-and-persisting-data

[2020-07-23 06:37] vanderthiel commented on #8807
We always update both, the initial and the current. I personally updated and verified them both several times to make sure.
It's just that the one receiving the updates didn't have them updated in current value, only initial. We always want updates to appear in current value as well as initial, since otherwise we're working with different values.

Can we completely disable the current value so we

[2020-07-23 07:57] abhijitkane commented on #8284
This should be fixed now. @dreamiurg @cyrielle-hada Feel free to reopen if you continue to see this.

[2020-07-23 07:57] #8284 closed, assigned to nobody

[2020-07-23 07:57] Asafkbalink commented on #8812
@VShingala @DannyDainton
Please notice that since `IPluginResponse` schema `result` property is defined to be an object,
OpenAPI itself won't allow to switch the order of the keys.

This "properties first" approach won't be interpreted by OpenAPI -
[code]
![image](https://user-images.githubusercontent.com/59600866/88263515-d2cbee00-ccd2-11ea-942d-c541c2fe9c30.png)

While "reference first" does get

[2020-07-23 07:59] abhijitkane commented on #8165
Closing as a few issues around this were fixed. Feel free to reopen if you continue to see this.

[2020-07-23 07:59] #8165 closed, assigned to abhijitkane

[2020-07-23 08:10] VShingala commented on #8812
@Asafkbalink Yes, the order shouldn't affect the converted value. Thus should be treated as bug.

[2020-07-23 08:10] VicKetchup commented on #8197
@aman-postman Yes, this is still the case unfortunately :(

[2020-07-23 12:11] MattSenter opened #8818 "Please increase height of variables popover and remove the "global" section"
**Is your feature request related to a problem? Please describe.**
I'm always frustrated when I open the variables popover to make a quick change and can't see enough of them even though I am on an iMac Retina 5k display. It's this tiny little window obscured by the the unused "Globals" section taking up half of it.

**Describe the solution you'd like**
Remove the "Globals" half of the popover, or

[2020-07-23 12:23] InnaMakhova opened #8819 "Variable pop up window is shown behind the Collection Edit modal"
||Project:|Postman for Windows|
||Build:|Version 7.29.0|
||Type:|win32 10.0.18362 / x64|

**Describe the bug**
Pop_up windows which should shown to a user information about his LogIn and Pass is overlaps by Collection Windows

**To Reproduce**
1. Open the Postman
2. Click on "Create Collection"
3. Create one
4. In the left panel (with tabs History/Collection/etc.) click on symbols "..." for openin

[2020-07-23 12:28] andrewVolodko opened #8820 "Global variables are not saved after Collection runner (Keep variable values is checked)"
Global variables are not saved after Collection runner (Keep variable values is checked)

**Steps to reproduce the behavior**
1. Create any script in the Tests section of any request that sets global variable.
2. Run the request in the Collection runner.
3. Look at the Global variables list.

**Expected behavior**
Global variable from step 1 should be set in Globals.

**Actual behavior**
Global va

[2020-07-23 12:55] vdespa commented on #3919
Great job, hope to see other improvements. :)

[2020-07-23 12:56] Genri1441 commented on #8790
Hi @mohitranka . Any updates?

[2020-07-23 13:18] saswatds commented on #8820
Hi @andrewVolodko, I was able to reproduce this issue. Thanks a lot for reporting. We will get this fixed ASAP

[2020-07-23 13:36] DannyDainton commented on #8819
Hey @InnaMakhova

Thank you for flagging this issue ❤️  - We're already tracking this internally and working towards a fix.

[2020-07-23 13:51] JDHannan commented on #8789
Instead of simply scrolling up and down, now you have to find the drag handle and drag the panel size up and down. This is not as good :(

[2020-07-23 15:26] ffisc commented on #461
Showing values on hover doesn't work for variables used in the body of a request

[2020-07-23 17:54] hengjt1 opened #8821 "Cann't open POSTMAN"
**Describe the bug**
Hi, I'm trying open Postman but after putting the loggin informations the screen is close.
- I've tried delete the folders on APPSettings, running adm, reinstall:

ERROR I've got in log:

[code]

[2020-07-23 18:25] thesteve0 commented on #4009
+1 this way I can do all my REST work in Postman rather than having to do some in postman and then websockets in FF developer console

[2020-07-23 20:20] kwbhatti commented on #7294
I had the same issue guys. Here is how I resolved it.
1. make sure that if you are saving your web traffic using proxy or interceptor, do turn that off or look at where the calls a being saved. This would take too much memory saved to History or any other collection that you are saving the requests to.
2. clear history is you do not plan on using anything there. I had so much in history that the a

[2020-07-23 20:40] zubairk-net commented on #8761
https://support.getpostman.com/requests/54127/satisfaction/new/g7cOuoIjg8kz6XPJ6lHW23rPh?locale=1&intention=16

________________________________
From: Numaan Ashraf <notifications@github.com>
Sent: Friday, July 17, 2020 8:45 AM
To: postmanlabs/postman-app-support <postman-app-support@noreply.github.com>
Cc: Zubair <zub4u@hotmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [postmanlabs/

[2020-07-23 23:44] kidstell commented on #4105
v7.29.0 collection variables not working. It picks environment variables correctly but it wont even detect the collection variables.

[2020-07-24 00:38] xk0der commented on #8821
Hey @hengjt1 try to clear the Postman folders first and then re-install postman as described here: https://support.getpostman.com/hc/en-us/articles/360025359014

If things still don't work write to Postman support by submitting a ticket here: https://www.postman.com/support

[2020-07-24 00:56] soumyakantiroychowdhury commented on #1744
+1

[2020-07-24 04:21] Yash-Singh1 opened #8822 "Support the chrome protocol in Postman"
**Is your feature request related to a problem? Please describe.**
It would be a good idea and a fix at the same time to support the chrome protocol.
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.
I would like the chrome protocol to be supported. When the

[2020-07-24 04:43] coditva commented on #4105
@kidstell I haven't been able to reproduce this. Can you elaborate on the exact steps you took (e.g. create collection, go to edit collection, add variable, etc.)? It would also help if you can tell us the expected outcome and actual outcome that you saw.

[2020-07-24 07:33] jack-iml opened #8823 "postman launch problem"
i have problem with launching postman when i open postman then display like that nothing to show any option

![image](https://user-images.githubusercontent.com/59472792/88369561-eac47000-cdad-11ea-930c-1749e1d3211f.png)

[2020-07-24 07:52] gignonje commented on #8823
Got same issue on Ubuntu (Snap install)

[2020-07-24 08:01] mariDubois commented on #8761
@zubairk-net Thank you :) For me I used an older version an my issue was solved. Will try some day update and see if it solves the problem :)

[2020-07-24 08:41] twitharshil commented on #8823
Hey, @jack-iml Please share the Postman version and platform details on which your are seeing this issue.
Also, can you send logs to us at `help@postman.com` so that we can take a deeper look into this?  
You can find logs for Windows at: `C:\Users\<username>\AppData\Roaming\Postman\logs

[2020-07-24 08:59] twitharshil commented on #8823
Hey @gignonje can you write to us at **help@postman.com** with logs attached so that we can understand the issue much better? You can find logs for the Postman app installed via Snap here `/home/<username>/snap/postman/current/.config/Postman/logs`

[2020-07-24 09:00] ThaDaVos commented on #6682
Any progress on this?

[2020-07-24 10:03] Antheabenting opened #8824 "Crash Error when Posting"
Hi
I am getting this error when doing a POST request.  Although the status is 200 OK.
{
    "result": "ERROR",
    "message": "There was an error, please contact support, please quote this crash ID: 5f1aaff09dea33d9f636fd61"
}

Please assist.

[2020-07-24 10:49] mccannt commented on #8824
@Antheabenting This looks like it is an issue with your API itself and not a Postman issue.
Can you please confirm that this is the case and let us know?

[2020-07-24 12:12] ranjith19 commented on #7294
@ndrd I just installed. Hope this canary version is faster

[2020-07-24 12:39] lirc572 commented on #285
This feature is desperately needed :cry::cry::cry:

[2020-07-24 13:09] shahidcodes commented on #3117
+1

[2020-07-24 13:11] davinderxav opened #8825 "OAuth 2.0 certificate issue"
**Describe the bug**
While performing OAuth 2.0 postman is not using/attaching client certificates with the request. There all the attempts to perform OAuth 2.0 to the server which require client certificate and key are failing.

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to the setting >certificate> add host, certificate and key
2. Go to OAuth 2.0 request token
3. SignIn
4. The requ

[2020-07-24 13:52] pipeaesac opened #8826 "Remove internet explorer (IE) as the user agent for calls from Postman"
**Is your feature request related to a problem? Please describe.**
On the desktop version of Postman for Windows, calls to the Postman backend (e.g. the update site) uses internet explorer as user agent. In many organizations, internet explorer is blocked or will become blocked sooner or later by application firewalls, because it's no longer the Windows standard browser. Updating Postman and signi

[2020-07-24 14:24] seranotannason opened #8827 "Remote reference in OpenAPI 3"
Currently, Postman doesn't seem to allow an API spec that is composed of multiple files. This would've been perfect for modularization and avoiding one single large file, i.e. the main file is smaller and can simply indicate $ref to other smaller files.

[2020-07-24 14:34] mohitranka commented on #8820
@andrewVolodko It has been fixed in the Postman app v 7.29.1 . Please update the app, and let us know if the issue persists.

[2020-07-24 14:34] #8820 closed, assigned to coditva

[2020-07-24 14:39] Antheabenting commented on #8824
Hi, this was the case I have discovered.  Thanks for pointing it out though.

[2020-07-24 14:39] #8824 closed, assigned to nobody

[2020-07-24 15:05] chluther opened #8828 "Additional Dynamic Variables"
Love mock server and the way it allows us to decouple front-end and back-end development schedules.  The integrations I work with require data which meets specific formats.  Within Postman Mocks I would like more control of the format of dynamic variables, to allow me to mock up just about any specific data string.  The Dynamic Variables might look like:

$randomNumber-1 = string of 1 number
$rand

[2020-07-24 16:21] erfan-mehraban commented on #285
this issue is most commented and 3rd in oldest issue of this repository :)))

[2020-07-24 17:02] andrewVolodko opened #8829 "Code can be overlapped by a hint on hover"
**Steps to reproduce the behavior:**
1. Go to **Tests** section.
2. Enter e.g. `pm.response.json()` **on the 2nd line**.
3. Hover over any of the words entered (e.g. **response**).
4. Note the hint appeared.

**Actual behavior**:
The **response** is overlapped by the hint.

**Expected behavior**:
The hint should NOT overlap the code.

**Screenshots**:
![image](https://user-images.githubusercontent

[2020-07-24 17:53] lkhore commented on #8612
I am also getting the same issue.

GET https://******
Error: write EPROTO 1786418760:error:1000011e:SSL routines:OPENSSL_internal:SERVER_ECHOED_INVALID_SESSION_ID:../../third_party/boringssl/src/ssl/handshake_client.cc:646:
Request Headers
Authorization: Basic =
User-Agent: PostmanRuntime/7.26.2
Accept: */*
Host: 14.98.122.230:9991
Accept-Encoding: gzip, deflate, br
Connection: keep-alive

[2020-07-24 17:59] kevinohara80 commented on #3358
+1

[2020-07-24 18:39] WillFelisberto commented on #2761
+1

[2020-07-24 19:06] hengjt1 commented on #8821
hello @xk0der tks for you help.

I've re-installed and cleaned the folder, opening with adm permition and tryed use 32x and 64x (I'm using W10 64x).

[2020-07-24 19:33] nelson1995 commented on #5273
I ran these commands after creating postman.desktop file and it worked

`xdg-mime default Postman.desktop x-scheme-handler/postman`
`xdg-settings check default-url-scheme-handler postman Postman.desktop`

[2020-07-24 19:36] francoisneron commented on #6232
What's the status of this request? We also need this feature.

[2020-07-24 19:50] ZooDoo4U commented on #6757
What version has the auto updated disabled?  Seems wrong to go into the setting  and check "Disable automatic updates" only to have updates still apply.   Did "Disabled" change it's meaning recently?

[2020-07-24 21:40] richjoyner opened #8830 "Snippet validation type - expected count of number of xml elements"
**Is your feature request related to a problem? Please describe.**
Only a problem for validation. Our product returns xml elements. In some cases, it is important to expect a certain number of elements. Right now, the only way to check is to have multiple "Response body; contains string" snippets.

**Describe the solution you'd like**
Provide a snippet that accepts a numerical value for '# of xml

[2020-07-24 22:12] kevinswiber commented on #8830
Hi @richjoyner,

You actually have a couple of options here.  You can use the xml2js or cheerio libraries, which are built-in.

Here's an example of doing this with cheerio:

[code]

[2020-07-24 23:08] dramkler commented on #8825
I confirm, same issue with Mac OS Mojave:
* App Type [Native App]
* Postman Version [7.29.0/1]
* OS: [macOs Mojave]

![Schermata 2020-07-25 alle 01 08 21](https://user-images.githubusercontent.com/9319944/88442054-5856b780-ce13-11ea-817a-06720893e97f.jpg)

Trick:
When I try to simulate the OAuth2 with a new Request for obtaining the bearer token, everything function ok.

Thank’s

[2020-07-24 23:31] dramkler commented on #7526
Hi,
I have same issue with when I Click "Get New Access Token”.
This is the message on the console:

![Schermata 2020-07-25 alle 01 25 08](https://user-images.githubusercontent.com/9319944/88442832-3f033a80-ce16-11ea-803b-d7628524e2a8.jpg)

I think is correlated with this issues  #8825 when I post another img.

Thx.

[2020-07-25 02:37] MaQuanXin opened #8832 "Eager to release other language versions"
Now postman has a large number of users in China, is it possible to consider adding a Chinese interface, thank you

[2020-07-25 03:06] robinhuang76 commented on #8820
I updated to postman app v 7.29.1. The issue is still there. The global variables are not saved after collection runner.

[2020-07-25 06:55] arpitbhatt027 commented on #3975
side bar should be expandable.

[2020-07-25 08:47] srinivasskc opened #8833 "While Saving the Request with Description as URL, It does not display the Request Description on UI"
**Describe the bug**
While saving the API Requests Description with URL, does not display the URL in description after saving.

**To Reproduce**
Steps to reproduce the behavior:
1. Open 'Postman'
2. Click on New Request
3. Enter the Request as https://jsonplaceholder.typicode.com/users
4. Click on Send Button
5. Click on Save Button
6. Enter the Request Name as GET USER BY ID
7. Enter the Request

[2020-07-25 09:05] AhmedAlAhmed commented on #6346
I have Ubuntu 20.04 and downloaded the latest version of Postman, the same issue, but I have figured out a simple trick to solve this problem.

The solution, simply login to the postman website and find your collection, you will see every request with every saved response had been saved and synced, just publish it from the website.
![image](https://user-images.githubusercontent.com/12294231/884533

[2020-07-25 16:09] srinivasskc opened #8834 "Iteration number when selected in collection runner highlights different iteration number"
**Describe the bug**
After running the collection to run for 10 iterations, when i click on Iteration number 4. It is highlighting Iteration number 3 from the list.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Postman'
2. Click on 'Collection -> Runner'
3. If the collection is to run 10 iterations, Click
3. Scroll down to right and click on Iteration number: 4
4. I see it highlight

[2020-07-25 17:20] imjohnking commented on #5040
+1

[2020-07-25 17:33] rockywarren-vertex commented on #3992
This is preventing us from switching to Postman for documentation. We update all of our documentation in our OpenAPI spec. We want a completely automated flow from those spec updates to the docs being updated so we can add it to our CI process. We can use https://github.com/postmanlabs/openapi-to-postman and the Update Collections API to get the collection updated, but still need to manually sign

[2020-07-25 18:25] mevinod opened #8835 "App crashes when choosing files for form-data - segment fault"
**Describe the bug**
I have a PATCH API which is of formdata. When I choose file and on selecting the file, postman crashes with segment fault error. I am using debian and the latest postman client 7.29.1

**To Reproduce**
Steps to reproduce the behavior:
1. Open postman
2. New request
3. Select body and formdata
4. Choose File as key and click to choose file
5. On selecting the file, app crashes.

[2020-07-25 20:22] AjayChoudary commented on #7569
![image](https://user-images.githubusercontent.com/12094764/88465698-6c1d1f00-cee2-11ea-9c6d-8d4142d635eb.png)
Unable to login with Google SSO in Postman v7.29.1 in Ubuntu 20.04

[2020-07-25 21:32] gaurav5430 commented on #4603
To add to the conversation.

I have mocked a POST request and a OPTIONS request, for both of which I have examples pointing ACCESS-CONTROL-ALLOW-ORIGIN header to the correct domain, but from the browser I still get the header value as *

So, assuming this is expected behaviour and the original issue hasn't been fixed?

[2020-07-26 05:48] saiudayakella commented on #5827
@mohitranka  - I'm still observing this problem on v 7.28.0. Can we expect a fix for this problem anytime soon?

[2020-07-26 07:11] saswatds commented on #8833
Thanks @srinivasskc for reporting. I was able to reproduce this issue. Escalating this as bug for the team to take it up.

[2020-07-26 07:13] DannyDainton commented on #8835
Hey @mevinod

Thanks for writing in 🏆

Would it be possible to send us a screenshot or a short recording of the app crashing, please?

[2020-07-26 07:18] saswatds commented on #8834
Hi @srinivasskc, I was not able to reproduce this bug. Can you help us with a gif or recording that show this behaviour happening?

[2020-07-26 07:41] saswatds commented on #8800
Hi @saradavani-koppisetty, We haven't heard from you for a while, and we are not able to reproduce this issue.  Closing this issue for now. Feel free to reopen if the issue persists for you.

[2020-07-26 07:41] #8800 closed, assigned to nobody

[2020-07-26 08:22] srinivasskc commented on #8834
Hi @saswatds ,
Below is the gif recording on this behavior.

![PostmanRunnerIteration (1)](https://user-images.githubusercontent.com/26836928/88474737-20e92780-cf47-11ea-9769-c07f6037ee9e.gif)

[2020-07-26 08:41] saiudayakella opened #8836 "Postman sandbox api reference document mentions test specifications can be written inside Pre-request Script"
**Describe the bug**
Postman sandbox api reference document mentions test specifications can be written inside Pre-request Script

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://learning.postman.com/docs/writing-scripts/script-references/postman-sandbox-api-reference/#pmtest'
2. Look at the introduction part for `pm.test` function
[code]
**Expected behavior**
I presume, tests

[2020-07-26 09:21] DannyDainton commented on #8836
Hey @saiudayakella

Would you be able to clarify your issues here, please? Not sure that I follow what your concern is here, is it the documentation or the functionality?

Test can be created in either the `Pre-request` or `Test` sandbox. These would be specific to that part of the sending flow - You couldn't for example, assert (`pm.expect`) that something is present in the response body, within

[2020-07-26 09:33] mevinod commented on #8835
See video here: https://a.uguu.se/vjbqad.mp4 the video will be removed in 24 hrs from now.

[2020-07-26 09:49] DannyDainton commented on #8835
Are you able to upload the mp4 to github using then option provided?

I tried accessing the video and it wasn't showing anything but also, it's the weekend and I wouldn't want any link provided to expire before someone else has looked into the issue.

[2020-07-26 10:49] saiudayakella commented on #8836
Hey Danny,

I mentioned the issue w.r.t api reference document and attached respective screemshot of that section as well.

Are you referring to assertions as tests (or)are you saying, similar to ‘Tests’ tab, tests/test scripts can be written (inside pm.test function) under ‘pe-request script’ tab as well?

[2020-07-26 11:19] DannyDainton commented on #8836
The `pm.test` function can be used inside the `Pre-request`, as stated in the documentation. Just like you would use it in the `Tests` tab.

The only change in the different contexts would be _what_ you're asserting.

[2020-07-26 11:27] DannyDainton commented on #8836
I'm going to close this issue out as it's not related to the functionality within the sandbox.

If this doesn't answer your original question, could you raise an issue on the documentation repo please.

https://github.com/postmanlabs/postman-docs

[2020-07-26 11:27] #8836 closed, assigned to nobody

[2020-07-26 18:06] arushiprasad commented on #6761
Hi, I'm facing the same issue where its not showing the response for a post request. Rstarting did not fix the issue.

[2020-07-27 06:14] mevinod commented on #8835
Cant upload mp4 to github. Here is few screenshot from video.
![Screenshot_2020-07-27_11-43-27](https://user-images.githubusercontent.com/34798214/88509367-8a783d00-cffe-11ea-9e94-335e3aef9ebb.png)
![Screenshot_2020-07-27_11-43-01](https://user-images.githubusercontent.com/34798214/88509372-8ba96a00-cffe-11ea-8f07-a739f582b0fd.png)
![Screenshot_2020-07-27_11-42-25](https://user-images.githubuserco

[2020-07-27 06:22] vikiCoder commented on #8825
Hi, we were able to reproduce it and we are working on the fix. I'll update here once it is fixed.

[2020-07-27 09:45] SamratDe commented on #6761
Hello, I am using Postman on windows and facing this issue while sending post request. The JSON response body is not displayed.
![image](https://user-images.githubusercontent.com/32265336/88528210-eef5c500-d01b-11ea-968b-be3efdcd676a.png)

[2020-07-27 12:52] mohitranka commented on #553
Released in `v 7.29.0`.

[2020-07-27 12:54] jvitrifork opened #8837 "Empty scope when using OAuth 2.0"
Using Postman v7.29.1:

When using the Authorization tab using OAuth 2 and requesting a new access token, the 'scope' is sent with an empty string instead of being omitted when not used.
![image](https://user-images.githubusercontent.com/46567685/88544056-21ea8980-d019-11ea-94f1-0415d6473a9a.png)

[2020-07-27 13:16] juergenschubert opened #8838 "postman app login is failing with problems connecting to our authentication service"
**Describe the bug**
With the desktop postman  Postman v7.29.1 on WIndows and when I try to login it is telling me:  Something went wrong! we are having problems connecting to  our authentication service

**To Reproduce**
Steps to reproduce the behavior:
Stat the postman app
1. Go to "Sign IN"
2.use working credential

 Something went wrong! we are having problems connecting to  our authentication

[2020-07-27 14:00] cyrielle-hada commented on #8627
There was an issue when collections were duplicated - its syncing call was queued which caused the indefinite syncing.
The queueing improvements were released in v7.27.1.
Closing this GitHub issue ✅

[2020-07-27 14:00] #8627 closed, assigned to chrisdeso, cyrielle-hada, Raj-postman

[2020-07-27 15:11] eqnet opened #8839 "Documentation not showing the Authorization Key name"
**Describe the bug**
Authorization API Key
Key <key>

This should reflect the Key name in the Authorization tab.

**To Reproduce**
1, Setup Request level Authorization.
2. Create Documentation

**Expected behavior**
Display the Key name in the Authorization tab.  i.e. X-API-Key

**Screenshots**
![image](https://user-images.githubusercontent.com/3315009/88558519-8c082c00-d023-11ea-8ad3-c9608c5eed0c

[2020-07-27 15:31] hagenek opened #8840 "Increase visibility of the newline character symbol"
**Is your feature request related to a problem? Please describe.**
I ended up doing a lot of additional troubleshooting because I could not see that a newline character had been added at the end of my URL.

**Describe the solution you'd like**

Make the newline character symbol easier to see.

Here is how it is now:

![newlinesymbol](https://user-images.githubusercontent.com/31440138/88560867-f70b

[2020-07-27 16:44] EugeneKonneh opened #8841 "Postman.setNextRequest("Request Name") does not execute next request within a loop"
**Describe the bug*

I have an api that returns a list of 90 vehicle manufacturers.
I want to loop though response of from calling this API and set a collection variable = manufacturerId for each manufacturer.
Within this looping, I want to call a second API to consume the manufacturerId variable display all the vehicle models for that manufacturer.

![image](https://user-images.githubusercontent.

[2020-07-27 17:55] patrickjmeurer opened #8842 "List of variables appears behind of the window"
**Describe the bug**
I'm trying to add a environment variable to my collection and the list of variables appears behind the window

**To Reproduce**
Steps to reproduce the behavior:
1. Click in the tree dots in a collection
2. Click in Edit
3. Select "Authorization"
4. Select any type and try to write a variable, on my case, i type `{{access_token`
5. See de error.

**Expected behavior**
The list

[2020-07-27 18:15] vlungu1 commented on #3707
Opening via command-space didn't work, but opening via Finder did. Issue occurs with official & canary release.

[2020-07-27 18:20] ChristopherSnay commented on #7254
I require the same feature. I was surprised there is no way to do this.

[2020-07-27 19:40] DannyDainton commented on #8842
Duplicate of

https://github.com/postmanlabs/postman-app-support/issues/8819

[2020-07-27 21:50] xk0der commented on #8841
Hey @EugeneKonneh , I think there is confusion on how `postman.setNextRequest()` works which is resulting in the behaviour you are noticing. What you should be using instead is `pm.sendRequest()` to invoke an API call from within the loop.

Do check out the following articles for more details:
* https://learning.postman.com/docs/writing-scripts/script-references/postman-sandbox-api-reference/#pmse

[2020-07-28 06:13] EugeneKonneh commented on #8841
Thank you very much @xk0der.
I will proceed per recommendations.
Much appreciated.

[2020-07-28 06:13] #8841 closed, assigned to xk0der

[2020-07-28 08:23] Dentrax opened #8843 "It should recognize non-apostrophed ('...') url with queries in order to import from cURLs"
**Describe the bug**
Postman does not recognize non-apostrophed URLs like: `https://test.com/test/foo?bar=1&baz=2`

**To Reproduce**
Steps to reproduce the behavior:
1. Go to _Import_
2. Click on _Raw Text_
3. Paste this _cURL_:
[code]
**P.S:** This _cURL_ was generated from [chuck](https://github.com/jgilfelt/chuck).
4. See error: `arg.startsWith is not a function`

**Expected behavior**
It shoul

[2020-07-28 08:33] Rikysonic commented on #8783
Same thing here, we're stuck with calling APIs through VPN (proxy is needed and every call results in 407), and we cannot set the password as we want, due to password policy.

[2020-07-28 08:50] canisay opened #8844 "Sync API schema for GitLab"
The Sync API schema integration is not available for GitLab like it is for GitHub, would like to have that option if possible:
![sync](https://user-images.githubusercontent.com/775535/88641880-b0154d00-d0b7-11ea-9193-930c556fce32.PNG)

[2020-07-28 09:05] VicKetchup commented on #8197
@aman-postman @godfrzero Today got all of the failures listed in Slack and all results shown on the dashboard :)

[2020-07-28 12:27] tghorui commented on #8612
I am also facing the same issue.
Is there any update for this open issue?
Error: Error: write EPROTO 1172063992:error:100000f7:SSL routines:OPENSSL_internal:WRONG_VERSION_NUMBER:../../third_party/boringssl/src/ssl/tls_record.cc:242:

[2020-07-28 12:42] Genri1441 commented on #8790
Hi @mohitranka . Any updates?

[2020-07-28 13:11] rafahead commented on #5960
Please!!!!

[2020-07-28 13:59] ChrisKofler opened #8845 "Monitor Performance: Request Split shows "fails" of all Requests"
**Describe the bug**
We have a monitoring collection with 5 requests. When looking at the results (Monitor Performane) and filtering to one of the requests, I still see red bars although this specific request was fine.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://weckdengeparden.postman.co/monitors/1eacaa17-db57-41d0-953f-6039c5867fca?result=failure&trigger=api&trigger=sche

[2020-07-28 14:19] ArjunSingh-PM commented on #8197
@VicKetchup Glad to know that this issue is resolved for you!

[2020-07-28 14:19] #8197 closed, assigned to godfrzero, charlie-postman

[2020-07-28 14:38] ArjunSingh-PM commented on #8845
@ChrisKofler, thank you for pointing out this issue.

Presently, whenever there is a failed request in a monitor run the entire run is marked in red irrespective of whether the monitor run is filtered by a single successful request or not.

For now, you can look at the 'Test Results' tab to see the status of individual requests.

[2020-07-28 15:22] ypolishetty commented on #5460
Team, Its been almost 2 years this is open now and wondering if you have any ETA. Our collection is now 12.7 MB with around 730 APIs and now the mobile browser hangs. Could you please let us know what is the largest collection size you recommend and what max collection size you test in-house for mobile browsers?

[2020-07-28 15:24] ypolishetty commented on #7979
Any update on an ETA please?

[2020-07-28 15:25] ypolishetty commented on #3747
Any update on the ETA please?

[2020-07-28 15:33] elyotechgit commented on #285
Still nothing?

[2020-07-28 15:42] jsooter commented on #2160
I'd like to add that showing the UID in the app UI would help when working with the Postman API.  When you have two similarly named collections in an API result set it can be difficult to tell which is which.

There is no requirement that collection names be unique. If the UID is visible in the UI, it becomes very easy to compare by UID, which is always unique.

![Screen Shot 2020-07-28 at 8 36 03

[2020-07-28 16:30] sambhusai commented on #2761
+1, ran into this scenario where I would like to export one of my folder from a collection

[2020-07-28 17:27] mzroth commented on #2160
A visible location for the UIDs in the UI would help when trying to use the collections in CICD pipelines as well. That way we could directly access the collection from the API without having to search and sort each time the CICD is run. It would also help prevent breaking the pipelines if someone creates a non-unique collection name.

[2020-07-28 17:39] Yash-Singh1 opened #8846 "Give an option to the user to mark a query parameter as optional"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
It is not a problem but next to the option where you can put in a description for any query parameter there could be an option to mark it as optional and maybe even display that in the API Documentations that are generated.

**Describe the

[2020-07-28 18:51] radkrish91 commented on #7833
We have the exact same workflow. And would like to automate the publishing part. Can this be expedited?

[2020-07-28 19:01] chodges15 opened #8847 "Need support for IPv6 Address in Request URI"
**Describe the bug**
Cannot use raw IPV6 address in request.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a request with a URL that includes a raw IPV6 address
2. Click on Send
3. See error: `Error: getaddrinfo ENOTFOUND [2607:f8b0:4002:813::200e]`

**Expected behavior**
Postman should allow both raw IPV4 and IPV6 addresses.

**Screenshots**
<img width="1009" alt="image" src="https

[2020-07-28 19:50] ShamanFromSiberia opened #8848 "Blue Screen of Death (Windows 10)"
**Describe the bug**
Running Postman on my Windows 10 laptop always leads to system crash with the blue screen of death. Also there're some annoying graphic artifacts between crashes.The artifacts and blue screens could be seen in the screenshots section below. There are three BSD error codes so far: MEMORY_MANAGEMENT, BAD_POOL_CALLER, KMODE_EXCEPTION_NOT_HANDLED

**To Reproduce**
It happens unexp

[2020-07-28 20:26] danbars opened #8849 "Plus sign not encoded in x-www-form-urlencoded body"
**Describe the bug**
When adding body key/values, and setting the body to `x-www-form-urlencoded`, plus sign in the values is not encoded. Therefore it is being decoded as a space by the server

**To Reproduce**
Steps to reproduce the behavior:
1. Create a new `POST` request
2. Set body to `x-www-form-urlencoded`
3. add param key `P1` and value `A&B`
4. add param key `P2` and value `A+B`
5. Click

[2020-07-28 23:14] viananicolas commented on #8747
Adding a `NODE_OPTIONS `environment variables with the value  ` --http-parser=legacy` seems to have temporarily resolved this issue to me.

[2020-07-29 02:58] dongweiq commented on #8656
me too

[2020-07-29 03:50] Delindel commented on #8789
This is beyond inconvenient, having a generalized scroll for both the request body and the response was seamless, it really felt bad when i noticed it was missing.

Time to roll back while this is reverted.

[2020-07-29 04:05] mohitranka commented on #8849
@danbars I just tried reproducing it ( [with this](https://gist.github.com/codenirvana/afb41744865e13d77da7be7ed2f2539c) ) , and it seems to be working fine. This is still a valid issue for code generation.

Can you please post the result of the output, when you try to reproduce the result using the above http server?

[2020-07-29 04:22] svarshney2311 opened #8850 "Is there any way to continue with tests in postman even if any one assert fails in it?"
In a Postman GET request, I have used multiple assertions. However, if any assertion fails, Postman will stops its execution then and there and will throw an error.

Is there any way to prevent this and continue with other assertions even if any one among them fails?

pm.test("Verify the Usage amount for Text", function () {
 pm.response.to.have.status(200);
 var jsonData = pm.response.json() ;
 p

[2020-07-29 06:20] anudeepmedicharla commented on #7761
@ArjunSingh-PM We can think of combining this with the groups/tags feature request.

[2020-07-29 06:36] DannyDainton commented on #8850
Hey @svarshney2311

This seems like a great question for the community forum, rather than an issue for this repository.

Could you close this out and open a new thread here please?

https://community.postman.com

[2020-07-29 09:09] ndtreviv opened #8851 "File POST-ed in form-data larger than certain size gets dropped on 307"
**Describe the bug**
I have a POST request that submits a large-ish file (30MB) using multipart/form-data Content-Type to an endpoint. The endpoint responds with a 307, which Postman duly follows, but even though the console says it's sending the file, it isn't picked up by the 307 Location.
If I aim the POST request at the 307 Location directly, the file submits and is picked up correctly.
If I s

[2020-07-29 09:23] RaptorCZ opened #8852 "Adding PFX certificate in settings results in wrong path to file"
**Describe the bug**
Adding a new certificate to handle domain results in invalid path. Instead of "C:\Temp\cert\aaa.pfx" is path stored as "
/C:/Temp/cert/aaa.pfx". Then it is unable to create request.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Settings'
2. Click on 'Certificates'
3. Click on 'Add Certificate'
4. Fill data and select pfx certificate from disk
5. See 'PFX file' p

[2020-07-29 09:27] henry-ceo opened #8853 "export test result needs add html format"
**Describe the bug**
after collection run，the test result export only has json format，but user cann't see json content，

 add html format  is very useful.

[2020-07-29 09:43] codenirvana commented on #8847
@chodges15 Thanks for reporting this issue, we've identified the issue and will be fixed as soon as possible.

[2020-07-29 09:49] tstcunha commented on #7301
+1

[2020-07-29 10:46] arlemi commented on #8246
@blockchainforger We're working on improvements to history (organisation, performance etc.), this should allow you to keep it enable and not face any of these issues. You can follow #8677 for updates.

[2020-07-29 10:53] willbt commented on #4105
I am seeing the same thing. Collection Variables set in the Tests as pm.collectionVariables.set("key", "value") are null when you reference them as {{key}} in the headers or other tests.

[2020-07-29 10:58] arlemi commented on #7221
@nagpureroshan Are you using a Proxy on your computer? If so please check this support page: https://support.getpostman.com/hc/en-us/articles/360008893713-How-do-I-configure-Postman-to-work-through-a-proxy-

[2020-07-29 11:00] arlemi commented on #8405
The Private API network should be solving this issue, will close it for now. Let us know if you have any feedback!

[2020-07-29 11:00] #8405 closed, assigned to preethammavin

[2020-07-29 11:04] arlemi commented on #3142
We have a new feature request around this here: #6681.

In the meantime another option is to export your documentation using a third-party tool like [Postmanerator ](https://github.com/aubm/postmanerator) and host it on your own password-protected website.

[2020-07-29 11:05] arlemi commented on #7569
@AjayChoudary Can you check if your browser is blocking a pop-up at that moment in time?

[2020-07-29 11:11] arlemi commented on #461
@ffisc In the body you can use CTRL + SPACE or CMD + SPACE to display the value of the variable.
![0-hover show](https://user-images.githubusercontent.com/5029719/88793386-9b5ab700-d194-11ea-9cca-6bb49c6f3b58.gif)

[2020-07-29 11:15] saswatds commented on #8852
Hi @RaptorCZ the file path that you see `/C:/Temp/cert/aaa.pfx` is postman normalised file path that we store in order to maintain compatibility between different operating systems for collaboration.
We updated all of the files handing used in postman to use this generic implementation and use a custom file resolver for all files reference which enables us to understand this path and resolve the p

[2020-07-29 11:18] arlemi commented on #6757
@ZooDoo4U The text does mention you can only disable major updates (i.e. v6, v7) and that minor updates will still be downloaded.
![image](https://user-images.githubusercontent.com/5029719/88793748-3eabcc00-d195-11ea-9d9f-6211d967bd0a.png)

We have an open issue around the same here #6999, and if you'd like to avoid downloading the new versions you can start having a look at [Postman for the Web (

[2020-07-29 12:20] costa-levine opened #8854 "High CPU usage in Version 7.29.1 (for windows)"
**Describe the bug**
High CPU usage in Version 7.29.1

**To Reproduce**
Open Postman
Go to windows task manager and find postman
The CPU LOAD is about 30% without running any requests

**Expected behavior**
Low CPU load

**Screenshots**
![image](https://user-images.githubusercontent.com/1649451/88799306-a570bb80-d17c-11ea-80c8-f73a67a64bc8.png)

[2020-07-29 12:41] fernsheldon commented on #5905
Hmm... I guess it's still not solved

App Type: Native App
Postman Version: Version 7.29.1 (7.29.1)
OS: macOS Catalina

[2020-07-29 12:42] jiqimaogou opened #8855 "extract variable in string"
I request a url like: `{{host}}/test`:

and in script I want to extract {{host}} to it's real value like `testHost/test`, How can I do, which Api should I use.

[2020-07-29 13:52] arlemi commented on #5650
@Mon-Blaza You should be able to update previous versions of your documentation without issue. Could you walk us through the issues you're facing when trying to update a previous version of a documentation?

[2020-07-29 13:54] ZooDoo4U commented on #6757
Thanks, but it doesn't fix the problem just makes it worse.   The reason the updates are a pain and don't want them,  getting older sucks  and so i've been using a tool to decompress the resources file in order to fix up the fonts so i'm able to simply us postman.  Now with it on the web this option is gone.  So this solution is not useful at all...

[2020-07-29 14:06] ZooDoo4U commented on #6999
Would like to point out updates are a pain,  as one is not able to save custom setting for fonts and colors. Asking on the forums a person showed how to de-compile the resource file, after which I then fix up the css files to get the fonts and colors desired.   I'm not doing this to make it look nice, i'm doing it so I can simply use Postman.  Thought after setting "Disable automatic updates" woul

[2020-07-29 14:19] reedbapex commented on #8747
The NODE_OPTIONS environment variable from viananicola temporary resolution works for me too.

[2020-07-29 14:19] tiago-oliveira-trustly opened #8856 "Saving responses with Interceptor"
**Is your feature request related to a problem? Please describe.**
I use interceptor to test API implementations. I can intercept the requests but not the responses. If I want to save the responses I need to run all the requests again that Interceptor just saved.

**Describe the solution you'd like**
I would like to be able to save both requests and responses at the same time while intercepting.

[2020-07-29 14:47] TJReinert opened #8857 "Allow user to specify what header to use when sending OAuth 2.0 token"
**Situation**
I currently have a proxy that requires the 'Proxy-Authentication' header to be populated with an OAuth 2.0 token.  Right now the OAuth 2.0 screen forces the token into the 'Authorization' Header.

**Current Workflow**
I use Postman to get a new token and have to manually copy the token to the Proxy-Authorization header.

**Solution**
Allow the user to specify a header where the OAuth

[2020-07-29 15:28] DannyDainton commented on #8850
Question raised in the community.

Closing this out now.

[2020-07-29 15:28] #8850 closed, assigned to nobody

[2020-07-29 16:20] DannyDainton commented on #8855
Hey @jiqimaogou

This seems like a perfect question to raise as a new topic on our community site - https://community.postman.com

I'm going to close this issue for now and see you over there. 🚀

[2020-07-29 16:21] #8855 closed, assigned to nobody

[2020-07-29 16:26] DannyDainton commented on #8853
Hey @henry-ceo

Not sure if this is a feature request or not - Would you be able to expand on the details of your use case please?

Alternatively, you could use our CLI Collection Runner, Newman.

https://github.com/postmanlabs/newman

This will provide you with a way to run the Collection and output to results to a HTML report.

This one is quite good... 😁

https://github.com/DannyDainton/newman-

[2020-07-29 17:04] skg14-dev opened #8858 "Code generation for c# asp.net core"
Would be great to have code generation for asp.net core c#.

[2020-07-29 17:38] RaptorCZ commented on #8852
Well, tried it again and now I can't get any error. So it seems it has been related to something else, not path itself. Tried to remove/add new certificates etc. no problem now. So false alarm. Thnx for your time.

[2020-07-29 17:38] #8852 closed, assigned to nobody

[2020-07-29 18:00] mccannt commented on #8854
@costabi Do you happen to have many collections or requests in your workspace?

[2020-07-29 18:19] shanmukha8290 opened #8859 "addition of timeout in postman"
Hi All,

Can you please help me to write a test in postman such that whenever I fire an API and if it is not giving response within 30 minutes, I need to exit/skip the service.

Thanks in advance

Regards,
Shanmukha

[2020-07-29 18:26] mccannt commented on #8859
@shanmukha8290 You will likely be able to get better support on this from our community over at https://community.postman.com/

Everyone there is super helpful and I believe an answer to this may already be posted there.

[2020-07-29 18:26] #8859 closed, assigned to nobody

[2020-07-29 18:34] costabi commented on #8854
@mccannt , Yes, I do have about 100 requests in the collections and about 3-5 tabs opened at the time of the screenshot.

Checked the CPU again a moment ago and the CPU load had stabilized and went back to 0.1-2% range.

I'd guess it's not an issue anymore, tho it was very unusual CPU load for a long time.

[2020-07-29 18:34] #8854 closed, assigned to nobody

[2020-07-29 18:50] mccannt commented on #8854
@costabi Thanks for the follow-up. We are constantly working to improve the performance of our application, so we appreciate your feedback on this.

[2020-07-29 19:05] mevinod commented on #8835
@DannyDainton do you have any update on this?

[2020-07-29 19:32] kidstell commented on #4105
It now works fine after restarting the Application.

On Fri, Jul 24, 2020 at 5:44 AM Utkarsh Maheshwari <notifications@github.com>
wrote:

[2020-07-29 21:09] mccannt commented on #8835
@mevinod What flavour of Linux are you using?
I just tried to replicate this on Ubuntu 18.04 and I am not seeing any unusual behaviour 🤔

[2020-07-29 21:30] rahul2891987 opened #8860 "Getting 404 Not Found error"
**Describe the bug**
I am trying to access an end point URL with a POST request and getting 404 Not Found error. My other team mate is able to access the same end point and able to get the response back successfully. The only difference I could see is I am on version 7.29.1 and he is using 7.29.0.

**To Reproduce**
Steps to reproduce the behavior:
1. Download 7.29.1 version & run the request .
2.

[2020-07-29 21:53] sparta-developers commented on #8626
our users use + sign in their emails, like myemail+something@gmail.com

we use Postman to reproduce login issues and see plus not URL encoded, which our server expects and treats + as a space.

[2020-07-29 23:23] rainabba commented on #8475
I'm seeing the same right now. My pre-publish view shows optional params in a lighter color font. When I view from the published link, they aren't showing at all (not even in HTML, hidden by CSS or such).

[2020-07-29 23:25] rainabba commented on #7301
@Raja-Simha Mind clarifying "soon"? This is a real issue given our long-planned transition to PostMan (including it's testing and documentation).

[2020-07-30 00:06] srajamohan commented on #8783
I am also facing same problem. I tried by setting proxy configuration manually but still it didn't work. In the logs I can see Error: tunneling socket could not be established, statusCode=407
Proxy
authenticate: false
host: "proxy-host"
port: 8080
tunnel: false

[2020-07-30 00:26] rainabba opened #8861 "Generated Docs Authorization key "Value" not resolving"
**Describe the bug**
The Authorization sections on generated documentation appears off to me as it's not provided the information I'd expect.

**To Reproduce**
Steps to reproduce the behavior:
1. For a collection, set Authorization to "API Key" and Key field to "x-api-key" and Value to "the-key-resolving-in-context" and "Update".
2. Go to an API, then Documentation (reached from Collection running

[2020-07-30 03:06] srajamohan opened #8862 "tunneling socket could not be established, statusCode=407"
**Describe the bug**
I am facing proxy tunnel problem. I tried by setting proxy configuration manually but still it didn't work. In the logs I can see
Error: tunneling socket could not be established, statusCode=407
Proxy
authenticate: true
disabled: false
host: "proxy-host"
match: {…}
password: "password"
port: 8080
tunnel: false
username: "username"

**To Reproduce**
Steps to reproduce the behav

[2020-07-30 05:45] ankit-m commented on #7474
This has been fixed in our web version - go.postman.co/build

[2020-07-30 06:18] twitharshil commented on #8273
Marking the issue closed as it is already fixed 👍

[2020-07-30 06:18] #8273 closed, assigned to harryi3t

[2020-07-30 08:15] AndresDV opened #8863 "Can't create collection from API graphql schema"
Hi, we have a couple of years now using postman for all our APIs but currently we are facing an issue when we try tro create a collection based in our graphql schema. The error messages don't give us any significant information to know what is wrong, can you please help us knowing why this is failing.

Attached our current schema so you can take a look.

Thanks for your time and any help you can p

[2020-07-30 08:31] DannyDainton commented on #8863
Hey @AndresDV

Could you also provide your OS and app version, please?

Also, the error message you're seeing, a screenshot and steps to reproduce would help us understand your issue in more detail.

[2020-07-30 08:36] AndresDV commented on #8863
Sure:

1. Windows 10

[2020-07-30 09:40] arlemi commented on #6757
@ZooDoo4U That's an interesting use case, I've actually been playing around with editing the theme on-the-go through the browser, it's actually much easier since some browser add-ons allow you to override the page's CSS.

For example, using [Amino: Live CSS editor](https://chrome.google.com/webstore/detail/amino-live-css-editor/pbcpfbcibpcbfbmddogfhcijfpboeaaf?hl=en-GB), you can override the font

[2020-07-30 09:53] ChrisKofler commented on #8845
Yes, that's exactly what I was referring to.

[2020-07-30 10:34] arlemi commented on #8810
Duplicate of #8486, we'll give any update there. 🙂

[2020-07-30 10:34] #8810 closed, assigned to vvs11

[2020-07-30 10:35] arlemi commented on #7099
We've started gathering similar feedback in #8486, will close this one and keep posting updates if we have any there.

[2020-07-30 10:35] #7099 closed, assigned to nobody

[2020-07-30 10:46] arlemi commented on #8862
Duplicate of #8783

[2020-07-30 10:46] #8862 closed, assigned to nobody

[2020-07-30 10:59] #8842 closed, assigned to nobody

[2020-07-30 11:09] arlemi commented on #8186
We're tracking language support in #3126, closing this one as we'll post updates there.

[2020-07-30 11:09] #8186 closed, assigned to nobody

[2020-07-30 11:10] arlemi commented on #8832
Thanks for the feature request @UpdateGit! We're tracking requests for adding other languages in #3126. Closing this one as we'll post updates there when we have some.

[2020-07-30 11:10] #8832 closed, assigned to nobody

[2020-07-30 13:32] ffisc commented on #461
@arlemi thanks for your message. Trying CTRL + SPACE shows a "No suggestions." message.
In any case, wouldn't it be more consistent to have the same behaviour for variables in the request URL as for in the request body?

Cheers

[2020-07-30 14:47] evancjohnson opened #8864 "Saving No Longer Defaults to Previous Location"
**Describe the bug**
The safe file dialog no longer saves previous location.

In the latest version of postman, saving results to a file no longer start at the previous location of the last saved file. For example if I saved a response to my documents folder when the dialog opens again it should save to my documents folder. Instead it now defaults to quick access. This behavior was not present a f

[2020-07-30 15:56] kinlane commented on #8827
Hey there @seranotannason! As of Postman v7.20.0, you can "Now you can import OpenAPI schemas that are split across multiple files." I was able to import the new GitHub OpenAPI 3 into Postman successfully. Let us know if you still having issues so we can help troubleshoot.

[2020-07-30 16:15] kinlane commented on #8827
Apologies I spoke incorrectly -- we can't do remote.

[2020-07-30 18:11] mevinod commented on #8835
I'm using debian 10

[2020-07-30 18:32] M-AamirBakhtiar commented on #8789
This is just beyond frustrating  to have to constantly resize the two panes. Instead of Removing it Completely why cant we have the option to either select this new  method of resizing or choosing to stay with the old version of scrolling. Please i encourage you to consider this.

[2020-07-30 18:34] rlfriedrichs commented on #6761
I am facing the same issue for a couple of APIs.  I'm also using  v7.29.1.  I went so far as to uninstall and do a fresh installation, but I still cannot see the response body.

[2020-07-30 20:55] JP-from-Postman opened #8865 "Make comments accessible via Postman API"
**Is your feature request related to a problem? Please describe.**
There is no way to access comments via the Postman API.

**Describe the solution you'd like**
Make comments accessible via the Postman API.

**Describe alternatives you've considered**
None

**Additional context**
https://github.com/postmanlabs/postman-app-support/issues/7261

[2020-07-30 21:20] schusteraj commented on #3684
Would really appreciate this feature as well.

[2020-07-31 01:01] wallevy commented on #4009
+1

[2020-07-31 05:04] utsav-gupta commented on #4409
Same issue

[2020-07-31 05:32] BernhardMaier commented on #8612
Same here, using Postman v7.29.1
Error: write EPROTO 1802223064:error:100000f7:SSL routines:OPENSSL_internal:WRONG_VERSION_NUMBER:../../third_party/boringssl/src/ssl/tls_record.cc:242:

[2020-07-31 07:27] techthereforyou commented on #8612
Hi Bernhard, Could you please share the correct Port? thanks for your help.

[2020-07-31 12:14] srinivasskc opened #8867 "Clicking on Mock Call Logs is redirecting to 401 request expired page."
**Describe the bug**
When I click on Mock Call Logs after creating a mock server for collection, it is redirecting to 401 request expired page.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Collection'
2. Click on '> arrow and then Mocks'
3. Click on  'Add Mock'
4. Enter Mock Server Name as JSONMock with Version Tag=Current , Environment selected
5. Click on Create Mock
4. Then clic

[2020-07-31 14:00] Aileron79 opened #8868 "TCP Keep Alive packets are being sent in Chrome app but not in native app"
**Describe the bug**
The Postman standalone app does not send TCP Keep-Alive packages while the Postman Chrome app does.

**To Reproduce**
Steps to reproduce the behavior:
Do this for both, native and Chrome versions of Postman:
1.) Find some API which takes a long time (>6 minutes or even much more) to respond
2.) Create GET request in Postman native/Chrome
3.) Launch Wireshark and configure to m

[2020-07-31 14:52] mccannt commented on #8864
@evancjohnson Please have a look at this documentation and let us know if it resolves your issue - https://learning.postman.com/docs/getting-started/settings/

[2020-07-31 15:35] byrdman commented on #2906
I'll throw my name in the hat as being interested in a solution, reviewing a PR for changing a typo in a test resulting in hundreds of "changes" is painful.

[2020-07-31 16:39] rohanaceres commented on #4823
Any news on this?

[2020-07-31 18:32] AndresDV commented on #7072
Any update about this issue ? It will be awesome if you add a file uploader so to GraphQL Variables or also to the Environment Variables so we can have files as variables that can be used in mutations or any other type of endpoints

[2020-07-31 19:48] mmathewsoneinc opened #8869 "Add collapsible/expandable section to documentation"
**Is your feature request related to a problem? Please describe.**
I want to be able to collapse a section of my documentation to improve the documentation's readability. This is a supported feature in markdown, but is not supported with the Postman Documenter.

**Describe the solution you'd like**
Support for collapsible markdown syntax described [here](https://gist.github.com/pierrejoubert73/902

[2020-07-31 20:55] JP-from-Postman commented on #6806
@Raja-Simha can we re-open this? Have a new user report.

[2020-08-01 05:49] mevinod commented on #8835
This is still an issue to me, I am closing this as I have discovered other tools to do this. Thanks.

[2020-08-01 05:49] #8835 closed, assigned to nobody

[2020-08-01 11:41] danbars commented on #8849
Hi @mohitranka , I'm not sure what's the connection between the raw echo server that you've sent and the bug that I've opened.
The bug is in postman app. I've provided exact step-by-step how to reproduce it using the app itself.
Have you tried reproducing using the app itself using the steps that I've described?
You can see the problem even without making any actual request, just by looking at the

[2020-08-01 11:51] danbars commented on #8849
Hi @mohitranka ,

Actually there's a mistake in my bug description.
I wrote that the expected result is `P1=A%26B&P2=A%20B` while the expected result is really `P1=A%26B&P2=A%2BB'
`%20` is space character, while plus character should be encoded as `%2B`
When I use the key/value UI to add parameters, I expect them to be encoded so the server will get them literally, and not as if I entered them esc

[2020-08-01 14:35] Numenorean opened #8870 "How to minify formatted json"
I can beautify json text. but i can't minify it then. Is there any hotkey or button to do this?

[2020-08-01 17:14] duckimann commented on #4006
The program still doesn't have a portable version at this time and as you guess, we still have to use that "installer"

[2020-08-01 17:49] DannyDainton commented on #8870
Hey @Numenorean

By minify, do you mean fold?

Is this what you're after - https://stackoverflow.com/a/30077543/6028443

[2020-08-01 19:30] vaibhavpacharya opened #8871 "Postman does not show compressed size after gzip compression"
**Describe the bug**
After enabling compression, postman does not display compressed json size. Looks like it unzips the response automatically.
Able to see compressed json size in insomnia
**To Reproduce**
Steps to reproduce the behavior:
1. Add compression module in express app.
const compression = require("compression");
app.use(compression({ threshold: 0 }));
**Expected behavior**
I should be

[2020-08-02 07:42] srinivasskc commented on #8834
Any additional info required from my end?

[2020-08-02 12:23] mohitranka commented on #8849
@danbars the expect result on App v7.29.1 is `P1=A%26B&P2=A%2BB`, for the request.
![image](https://user-images.githubusercontent.com/80672/89122896-d2103480-d4e8-11ea-90ef-bcb82c6009e5.png)

[2020-08-02 13:41] TheAlakazam commented on #8865
Hey, can I work on this if it's possible?

[2020-08-02 14:26] karthiks3000 commented on #3663
I created a tool that generates an html documentation from a postman collection. I then host the html on a private network just for our internal users. Hope this helps

https://github.com/karthiks3000/postman-doc-gen

[2020-08-02 15:25] ahsandev2019 commented on #7286
+1

[2020-08-02 18:21] danbars commented on #8849
Excellent! Thanks

[2020-08-02 20:45] mohitranka commented on #8868
@Aileron79  The chrome app has been deprecated and is not supported anymore. Can you explain a bit about the problem you are facing ?

[2020-08-02 21:11] mohitranka commented on #8851
@ndtreviv Thanks for your comment. Can you try sending the same request that's failing with Postman app via curl? You'll get the equivalent curl command under `code > cURL` from the request body pane.

[2020-08-03 04:30] kamalaknn commented on #8848
Hey @ShamanFromSiberia

Could you forward the logs from `View -> Developer -> View logs in Explorer` to `help@postman.com`, to help us debug the issue better?

[2020-08-03 06:59] Aileron79 commented on #8868
I am attempting to download data from a web service. The server needs several minutes of internal work before it would even return data. We are talking of 8 to 20 minutes. The server will return data when the client is sending TCP Keep-Alive packets but won't return anything if these packets are not being send by the client. Hence the request works in the deprecated Chrome extension while it does

[2020-08-03 07:41] Padmahas commented on #8789
@sorin21 ,

Even I downgraded and disabled auto update. But it's not considering to stop auto updating. Every time I restart my laptop, I'm uninstalling the Postman and downgrading. Every single time. It's so frustrating. Is there is any way to forcefully stop updating?

[2020-08-03 07:46] Padmahas commented on #8789
@coditva,

We can't search the bar to resize every single time to see Request body and Response body. Both windows are daily used by users. Resizing every single time is very much frustrating and it slows down the speed of working with Postman. Please add the vertical scroll bar back.
I simply mean, it's OK to have resize option, but not without vertical bar.

Thank you.

[2020-08-03 08:37] kkoomen opened #8872 "Use a fixed-font for markdown descriptions in edit mode"
When doing tables the alignment of the pipe characters do not match up when using a non-fixed-font. I suggest to use a monospace font (the default one that's being used everywhere else).

Example: this is what I get with a fixed-font (good):

<img width="616" alt="Screen Shot 2020-08-03 at 16 35 40" src="https://user-images.githubusercontent.com/10693490/89162995-807aaf00-d5a7-11ea-9816-7a9f221a4d

[2020-08-03 08:54] Ga13Ou opened #8873 "Add support for SSLKEYLOGFILE"
Is there a way to make postman support the "sslkeylogfile" env variable in order for it to log the SSL master keys in a file so we can be able to use wireshark for decoding HTTPS for debugging purposes?

[2020-08-03 09:03] imtrobin commented on #6239
7.29.1, I'm also seeing syncing issues. My routes are synced, but they are not in correct folders after syncing

[2020-08-03 09:06] svangils opened #8874 "JSON stringify does not create compatible query parameter with new URL processor"
**Describe the bug**
We have a legacy postman collection that communicates with AWS SQS service. We send a JSON message body as query parameter that is composed in a pre-request Script. This message body should be JSON and offcourse be url encoded. This worked with the 'old' url processor.

The output of the JSON.stringify() method is like this `{"Message":"{\"event\":{}"}}`. But the '\' doesn't g

[2020-08-03 09:10] arlemi commented on #4006
We've announced Postman for the Web a couple of weeks ago, it is for now in Beta and some API calls may still require to install a local agent, but we're working towards a cloud agent which should remove the need to install anything locally.
More info here: https://blog.postman.com/announcing-postman-for-the-web-now-in-open-beta/

[2020-08-03 09:12] codenirvana commented on #8874
@svangils Please refer https://github.com/postmanlabs/postman-app-support/issues/8808#issuecomment-662212275 for more details.

[2020-08-03 09:23] kkoomen opened #8875 "Being able to reorder examples"
In our company we use examples heavily and we'd like to reorder these according to our standards. As for now, I haven't seen a solution to do this yet, hence I request this new feature.

[2020-08-03 10:02] ndtreviv commented on #8851
I did this, as requested, and added `-vvvv`, this is what I got:

**Note**: I've tried 307 and 308. Both respond in the same way on Postman and cURL.

[code]

I can confirm that via cURL it works just fine. Interestingly, when the client is an xhr library (eg: axios), and running this in Chrome the request gets cut off entirely after the 307 (or 308 - I've tried both) with an `ERR_CONNECTION_RESET

[2020-08-03 10:03] saswatds opened #8876 "Encoding `charset` from older response are getting persisted when new response have no `charset` defined in Content-Type"
**Describe the bug**
In case of responses which use content-type encoding other than `utf-8`,
* When the `charset` is missing in the Content-Type header is assumed to be `utf-8`.
* If the `charset` is defined in the Content-Type header it takes precedence.

This issue arises when a response containing an explicit charset defined is followed by a response containing no charset defined. The app uses

[2020-08-03 10:06] 1bitphoenix opened #8877 "Add option for `Empty the Trash` and/or `Restore all` in the Trash section"
**Is your feature request related to a problem? Please describe.**
I feel there should be option for `Empty the Trash` and/or `Restore all` in the Trash section in Postman. Recently, I wanted to empty my trash and I had to delete every item one by one. So I think it might be a good small feature to have.

**Describe the solution you'd like**
Two buttons at the top of the page:
1. Empty the Trash/D

[2020-08-03 10:24] Raja-Simha commented on #8875
Duplicate of #1070

[2020-08-03 10:24] #8875 closed, assigned to Raja-Simha

[2020-08-03 11:07] evancjohnson commented on #8864
@mccannt That does not fix my issue. My issue occurs when saving a response. I changed the directory but Save File dialog still defaults to Quick Access on windows

[2020-08-03 11:45] DannyDainton commented on #8877
Hey @1bitphoenix

This has recently been added as a feature request - https://github.com/postmanlabs/postman-app-support/issues/8679

It might be worth adding a `thumbs up` on that one and also adding the additional requirement of a _Restore All_

I'm going to close this as a duplicate and track the progress over on that issue.

[2020-08-03 11:45] #8877 closed, assigned to nobody

[2020-08-03 12:41] Archimedyz opened #8878 "Working Directory change not reflected in Settings"
**Describe the bug**
Unable to change the working directory for Postman. After selecting a directory, the display directory remains `~/Postman/files`.

**To Reproduce**
Steps to reproduce the behavior:
1. Open Postman
2. Open the Settings dialogue by clicking the wrench icon in the top right.
3. Under the "General" tab, scroll down to "Working Directory"
4. Take note of the working directory path,

[2020-08-03 12:44] DannyDainton commented on #8863
Hey @AndresDV

Apologies, I've been away and I'm taking another look at this one now. If you use your schema file on the main `Import` flow, the API would be created and not the Collection, like you mentioned, this time you will see more context in the error message.

![Screenshot 2020-08-03 at 13 42 39](https://user-images.githubusercontent.com/17089546/89183544-4bfaf900-d58f-11ea-84a2-add1b2fcb9

[2020-08-03 14:55] minman0615 commented on #8038
Is there any update on this feature request?  I have a client we finally figured out their IIS servers only allow NTLMv2 authentication, so hence the 401 Unauthorized errors in Postman.

[2020-08-03 15:24] osowskit opened #8879 "OAuth 1.0a incorrect signature with URL-encoded parameters"
**Describe the bug**
OAuth 1.0 Signature generation produces an incorrect hash when the URL params contain URL-encoded parameters.
`https://localhost:4567/fun?foo=first%2Csecond`. This is preventing Twitter developers from using Postman with the Twitter Ads API and was reported via the [forums](https://twittercommunity.com/t/multiple-metric-groups-fail-with-ads-api/138882/9)

**To Reproduce**

1.

[2020-08-03 17:55] mohitranka commented on #8871
Duplicate of Show #7596

[2020-08-03 17:55] mohitranka commented on #8871
Duplicate of Show #7596

[2020-08-03 17:56] mohitranka commented on #8871
Duplicate of #7596

[2020-08-03 17:56] #8871 closed, assigned to appurva21

[2020-08-03 18:22] codenirvana commented on #8873
@Ga13Ou This looks like an interesting use case. Marking this as a feature request.

[2020-08-03 18:32] codenirvana commented on #8874
Duplicate of #8808

[2020-08-03 18:32] #8874 closed, assigned to codenirvana

[2020-08-03 19:12] Raja-Simha commented on #8861
@rainabba You can use environment variables to show desired auth values in the documentation.

For example, you can set {{key}} as x-api-key and {{value}} as the-key-resolve-in-context to display variable initial values in documentation. For example,

![image](https://user-images.githubusercontent.com/45988836/89217381-b50f5a80-d5e9-11ea-8b7e-c6cd74bca7a5.png)

 would result in

![image](https://u

[2020-08-03 19:14] Raja-Simha commented on #8839
Duplicate of #8861

[2020-08-03 19:14] #8839 closed, assigned to godfrzero, Raja-Simha

[2020-08-03 19:50] rainabba commented on #8861
Thank you.

Now that I see that in this context, it looks like the take-away I needed was to "see" that <key> was a variable placeholder as would be {{key}}.

I'm new to this side of PostMan and that wasn't obvious to me so I didn't infer that "I need to provide a value for "key" in context.

Cheers!

[2020-08-03 20:00] SabriH10 commented on #8860
Hi @rahul2891987 , It would help if you can provide more information about the request itself ( omitting any sensitive information of course ) I'm not quite sure the difference in version would be the culprit here.
A few things worth checking, did you look at the [Postman Console](https://learning.postman.com/docs/sending-requests/troubleshooting-api-requests/#debugging-and-logs) to see how the re

[2020-08-03 21:39] danbars commented on #8849
Actually I just now see that the `%2B` is the response from the echo server, not the request that was sent. The request as seen in line 1 contains the character `+` which is interpreted as space by the server when url-decoding the body.
So let me ask this:
When I use the UI to enter key/value, am I expected to enter escaped values, or unescaped ?
My point is that currently there's inconsistent beh

[2020-08-03 21:49] uaksine opened #8880 "select file in Client Certificates adding \ before cert address"
**Describe the bug**
When trying to add a certificate in settings -> certificates, when I click on the select file, the path is shown with a forward slash instead or the directory back slash format and shows a slash before the root directory.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to settings
2. Click on certificates
3. enter a valid URL
4. in the PFX  file, select a certificate

[2020-08-03 22:45] xk0der commented on #8880
Hey @uaksine does the use of forward slashes cause any issues with the certificate's usage? Or it's just the use of forward slashes instead of back-slash on Windows platform that you want to report?

[2020-08-03 23:37] xk0der commented on #8849
@danbars The spec states that `+` is a reserved character, thus it will not be automatically encoded to %2B.
_Reference_: https://www.w3.org/TR/html401/interact/forms.html#h-17.13.4.1

https://www.ietf.org/rfc/rfc2396.txt states

You must manually use `%2B` instead of `+` in the data being passed to your server if you need that.

**IMPORTANT**
* Do note, how `+` and `%2B` interpretation by the rec

[2020-08-04 00:01] xk0der commented on #8849
@mohitranka I believe this should be a `feature-request` rather than a bug.

Developers are used to their libraries and framework auto encoding form data in most instances, and most modern libraries and framework encode "`+`" to "`%2B`" in form data.

While Postman's default behaviour is correct as per spec, a setting to encode "`+`" to "`%2B`", especially in form data may be useful. This would ma

[2020-08-04 01:22] CyberMew opened #8881 "Right click tab, show in collection panel"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
No

**Describe the solution you'd like**
Find out where does my tab come from. I have unchanged tab and I have no idea is it a brand new tab, or is does it come from collection. not being able to see the original vs the change is already a

[2020-08-04 02:44] Captain-JackSparrow65 commented on #3331
No it's not working for me I'm using Linus os problem is when I send hain data along with image file using req.body it send back the server error which I hade set in the code

[2020-08-04 04:18] saswatds commented on #8880
Hi @uaksine, I have tried to explain the reason you see a differently formatted file path in this comment https://github.com/postmanlabs/postman-app-support/issues/8852#issuecomment-665603793

Would like to know if your requests are actually failing.

[2020-08-04 04:35] codenirvana commented on #8881
@CyberMew If the collection sidebar is open, it does highlight the selected request in the tab.

![Screen Recording 2020-08-04 at 9 59 10 AM](https://user-images.githubusercontent.com/4865836/89253223-a8b2ee00-d639-11ea-84f3-2dcc167333e6.gif)

Can you share more details about the problem you are facing?

[2020-08-04 04:45] vikiCoder commented on #4931
Closing this issue due to inactivity. Feel free to re-open if the issue still persists.

[2020-08-04 04:45] #4931 closed, assigned to vikiCoder

[2020-08-04 04:48] codenirvana commented on #8849
@danbars As per specification, there's a difference in how characters in `x-www-form-urlencoded` body and query params in URL are percent-encoded.

My point is that currently there's inconsistent behavior that & is being escaped to %26, and + is sent literally as +.

`&` is percent-encoded automatically when entered in the key or value field of query params because `&` and `=` are reserved charact

[2020-08-04 06:41] a2mz commented on #4009
+1

[2020-08-04 07:57] kapil-kapri opened #8882 "Something went wrong"
<img width="733" alt="Screenshot 2020-08-04 at 1 28 35 PM" src="https://user-images.githubusercontent.com/14553746/89268773-9bf0c300-d656-11ea-9c01-31545a0bde56.png">

<img width="1255" alt="Screenshot 2020-08-04 at 1 20 56 PM" src="https://user-images.githubusercontent.com/14553746/89268383-19680380-d656-11ea-8184-02f265ff163b.png">

[2020-08-04 08:14] DannyDainton commented on #8882
Hey @kapilkapri007

Thanks for writing in, we're going to need some more context around the issue you're facing to be able to debug what's happening here.

A short summary of what you were doing/steps to reproduce the problem. Anything that helps us to understand what's going on there.

[2020-08-04 11:34] richardgroves commented on #8864
Also seeing this problem on MacOS Catalina 10.15.6
Postman version Version 7.29.1 (7.29.1), was fine before the last update I did but unfortunately I don't know which version that was.

[2020-08-04 12:16] simplenotezy commented on #1345
This has been working just fine for me for past few months, but now today when I open postman it is greyed out, and I have lost whatever data I previously had in the "body" section. That's annoying, because it worked fine earlier. Would be very nice to get back.

[2020-08-04 13:06] arlemi commented on #3331
@Captain-JackSparrow65 Please open a topic on the [community forum](https://community.getpostman.com/) and walk us through what you're experiencing so we can help (providing screenshots, videos, logs will help).

[2020-08-04 13:08] arlemi commented on #1345
@simplenotezy Are you using the Postman Chrome extension? If so we've stopped supporting it for a while now, I'd recommend [downloading the app](https://www.postman.com/downloads/) from our website or trying out[ Postman in your browser](https://blog.postman.com/announcing-postman-for-the-web-now-in-open-beta/).

[2020-08-04 13:30] #8861 closed, assigned to Raja-Simha

[2020-08-04 13:32] codenirvana commented on #8881
Duplicate of #8486

[2020-08-04 13:32] #8881 closed, assigned to nobody

[2020-08-04 13:37] harrymaurya05 commented on #8860
I am facing a same issue and I have tried cURL its working fine outside the postman.

[2020-08-04 13:45] mjerem34 opened #8883 "Add Pull Changes button in Postman"
**Is your feature request related to a problem? Please describe.**
Not easy to understand how to pull changes

**Describe the solution you'd like**
A button below "Create Pull Request" named : "Pull Changes"

[2020-08-04 13:47] simplenotezy commented on #1345
I am using Postman for Macos version 4.8.3

[2020-08-04 14:30] arlemi commented on #1345
@simplenotezy The last version of the app is 7.29, looks like yours could use an update. 😄 You can either try to upgrade through the app (though I'm not sure how it worked back then to be honest) or grab the latest version from our website. I'd recommend exporting all your collections prior to switching just in case too.

[2020-08-04 14:42] twitharshil commented on #8425
@DavidRedstone can you update the app to the latest version [As of now the latest version is 7.29.1] and let us know if you are still facing the issue?
After installing the postman app using snap, you can start the application using the following command on CLI **snap run postman**

[2020-08-04 16:04] lornajane opened #8884 "Accessibility: non-standard web components make this interface difficult to use"
**Describe the bug**
Many parts of the web UI web.postman.co have been built in a way that looks lovely but is difficult to interact with.

**To Reproduce**
Steps to reproduce the behavior:
1. Install any accessibility tooling - I'm actually using productivity tool [Vimium](https://github.com/philc/vimium)
1. Go to web.postman.co
2. See what you can click on. I've pasted what I see, the yellow lab

[2020-08-04 16:28] bcole commented on #8771
+1 on this - we ran into the same issue last night (nasty one to debug, too, with large data collections).

I just wanted to add, it doesn't always have to be a value with decimal places.  We had a number `13563577887054669` which for whatever reason was adjusted to `13563577887054668`.  Must just be a precision bug in how Postman is storing number values.

[2020-08-04 17:02] mu4ddi3 commented on #1665
I know, 3 years but i was looking for this nowadays and it is currently possible in request settings: Disable cookie jar need to be turned on. Then no cookies are stored. (Manualy clear existing first as they will not be deleted automatically)

[2020-08-04 17:18] JessePreiner commented on #8455
Still broken in 7.29.1 on windows. When viewing 'code' for the request, it appears to not add the content type at all.

[2020-08-04 20:54] mhowlesb commented on #1603
@saswatds I have the same use case as @dellagustin .
I have Postman environments set up for interacting with my team's applications in AWS. We all use the saml2aws script for AWS authentication, which stores auth keys/tokens locally for each profile. Copying each of those keys and tokens for each profile into each environment after each auth refresh would be very tedious. When sharing Postman coll

[2020-08-04 21:00] AndresDV commented on #8863
Thanks for taking a look into this, yeah that was also another error message I saw but I couldn't see anything related to that 'getFields' in our schema.

Please let me know if you have any update :)

[2020-08-04 22:18] mccannt commented on #8455
@JessePreiner I am not able to replicate this on Windows with v7.29.1

POST as JSON
![image](https://user-images.githubusercontent.com/14275144/89350699-e4c07000-d686-11ea-965c-f39181f1bad6.png)
![image](https://user-images.githubusercontent.com/14275144/89350819-1cc7b300-d687-11ea-9fe7-0aa74d38cffb.png)

POST as Text
![image](https://user-images.githubusercontent.com/14275144/89350861-2f41ec80-d6

[2020-08-04 22:22] mindlessroman commented on #7990
Worth mentioning - maybe distinguish random numeric postal codes from random alphanumeric postcodes? Both would be reasonable considerations for the feature. (Size range exists though - https://en.wikipedia.org/wiki/Postal_code#/media/File:Postal_codes_by_country.svg)

[2020-08-04 22:25] JessePreiner commented on #8455
Another potential variable is this is after exporting and importing a collection. Next time I'm at a computer I'll try and get more details for you.

[2020-08-04 22:44] mccannt commented on #8455
Interesting. Please let us know how you make out and give us any additional steps.

[2020-08-04 23:03] ShamanFromSiberia commented on #8848
1. Is it possible to access the logs out of Postman?

2. I'll try it and will let you know of the results.

[2020-08-05 04:41] Nogias9x commented on #4602
To me, @wlarch 's answer is the most helpful solution on the internet.

I had the problem when I updated Postman:
- Downloading the newer version required `root` privilege, so did the update progress
- After installed, executing Postman without `sudo` (like launching from app dock)

@wlarch saved my day :+1:

[2020-08-05 06:04] DavidRedstone commented on #8425
Thanks for the reply :+1:

I've since switched to Ubuntu 20.04 (multiboot with Fedora 32 and Windows 10), but next time I boot into Fedora 32 I will try the Postman Snap again, and see how it goes.

The latest Postman Snap works well on Ubuntu 20.04:
`dave@Silverbeast:~$ snap list | grep post
postman              7.29.1                      119   latest/stable    postman-inc*  -
`

[2020-08-05 07:44] simplenotezy commented on #1345
@arlemi ahh haha. Well. It worked fine for my needs. Just really weird it is all of a sudden greyed out, especially since it ain't updated

[2020-08-05 07:54] AliBaghernejad commented on #8838
For me, this occurred on a Ubuntu machine (20.04 LTS). After a few days, can't log in to my account yet.

- My Amchine Props: Linux ali-GE620DX 5.4.0-42-generic #46-Ubuntu SMP Fri Jul 10 00:24:02 UTC 2020 x86_64 x86_64 x86_64 GNU/Linux
- Postman Version: v7.29.1

Here is **rendere-auth.log** file contents:
[17938][1596613394362][auth][info]["EventBus~initialize - Success"]
[17938][1596613413915][a

[2020-08-05 08:30] arlemi commented on #8865
@TheAlakazam This is not something you'd be able to work on from the outside unfortunately. If you're interested in helping us you can have a look at some of our open source repositories:
- Documentation https://github.com/postmanlabs/postman-docs
- OpenAPI to Postman converter https://github.com/postmanlabs/openapi-to-postman
- Code generators https://github.com/postmanlabs/postman-code-generator

[2020-08-05 08:34] arlemi commented on #3126
Hey folks,

For those of you who have been asking about having Postman translated to a different language, I wanted to introduce you to [Postman for the Web](https://blog.postman.com/announcing-postman-for-the-web-now-in-open-beta/) (currently in beta), which is the Postman experience directly in your browser. This allows you to use browser integrations or add-ons like Google Translate to change t

[2020-08-05 08:42] kamalaknn commented on #8848
@ShamanFromSiberia You can find the logs in `C:\Users\<user>\AppData\Roaming\Postman` directory.

[2020-08-05 08:46] impdatacompstuff commented on #1180
+1

[2020-08-05 11:19] Raj-postman commented on #8581
There was an issue with syncing, for which improvement fixes were released in the latest version. Hence, closing this GitHub issue 🎉

[2020-08-05 11:19] #8581 closed, assigned to Raj-postman

[2020-08-05 11:23] Raj-postman commented on #8821
Hi @hengjt1 - may I know if the issue persists? If yes, did you also rename the folders to "Postman.old" from below two locations?

- C:\Users\<user>\AppData\Local
- C:\Users\<user>\AppData\Roaming

[2020-08-05 11:31] Raj-postman commented on #8823
@jack-iml @gignonje - Just checking to see if the issue persists? If yes, could you please [submit a ticket to Support](http://support.postman.com/) and we will further take a look at it?

[2020-08-05 11:46] Raj-postman commented on #8867
Hi @srinivasskc, I tried to replicate the entire flow and was unable to reproduce this.

![image](https://user-images.githubusercontent.com/47771757/89409073-16950d80-d73f-11ea-84bf-0669cc2a48ae.png)

Could you please try & see if you are still facing this issue and write to us at help@postman.com if the issue persists? Once received we will check on this further.

[2020-08-05 11:47] Bartimeus commented on #8195
Hi!
Please, do this!
It's very usefull feature, when you work with many tabs.

[2020-08-05 12:04] kepikoi commented on #5784
Hey, what is the ETA on this? It should be possible to display the query params despite their check status. The current requirement to check all query parameters & fill every possible param the least nonsensical way just to be able to display them in the docs page AND not to ruin the request is really bad...

[2020-08-05 13:57] yavieira commented on #2030
+100000000 Ubuntu

[2020-08-05 15:16] travisnguyen20 commented on #6475
Is there any update? Still experience the isssue

[2020-08-05 15:49] cyrielle-hada commented on #6475
@travisnguyen20 initial reports indicate that the issue has been fixed.

Would it be possible [to file a support ticket](https://go.pstmn.io/help-center-signin-newrequest) and send your logs as well as a screen record that shows how to replicate the behavior?

[2020-08-05 20:09] ShahinKohan opened #8889 "Convert Collection to Schema"
**Is your feature request related to a problem? Please describe.**
It is not a problem but a shortcoming

**Describe the solution you'd like**
In Postman if you have a Schema you can easily create a collection from the schema. But sometimes we end up with the collection first and we need to get to Schema. The reverse is especially important and useful to have.

**Describe alternatives you've consi

[2020-08-05 21:36] charlitos85 opened #8890 "default selected tab in a request"
**Is your feature request related to a problem? Please describe.**
Every time I open a request from a collection is selected the params tab, so need to select the body tab.

**Describe the solution you'd like**
Give the possibility to define in the settings of postman what tab I will want to be selected every time a request is open.

**Describe alternatives you've considered**
none

**Additional c

[2020-08-06 00:19] DavidRedstone commented on #8425
@twitharshil I just booted into Fedora 32 to test the Postman snap for you. Turns out I had fully uninstalled snap, so this was stating fresh...

[code]
Good news:
✓    Postman opened, and fairly quickly at that,
✓    'Sign in with Google' opened my browser and I successfully signed in
✓    My collections synced across

Whatever you changed, worked, so thank you. :+1: :1st_place_medal:

Cheers
Dav

[2020-08-06 04:17] xk0der commented on #8612
Thank you @thetreythomas for reaching out to our direct support channel to provide further information.

I'm sharing my findings here, hoping it helps others who may be facing similar issues.

I found a difference in Ciphers presented by Postman 7.29.0 compared to an older version.

**7.29.0 Ciphers**
These would be presented during the handshake for the server to negotiate.
[code]
If you are runn

[2020-08-06 04:27] lkhore commented on #8612
So is it not possible to support old  *Cipher Suites *in new postman.

On Thu, Aug 6, 2020 at 9:47 AM Amit Singh <notifications@github.com> wrote:

[2020-08-06 04:48] twitharshil commented on #8425
Thanks for the confirmation @DavidRedstone, Glad that the issue is fixed :). Making this issue close 👍

[2020-08-06 04:48] #8425 closed, assigned to nobody

[2020-08-06 05:38] thetreythomas commented on #8612
@lkhore - This issue has been raised to the Postman engineering team. Hopefully soon it will be added back.

[2020-08-06 05:53] codenirvana commented on #8890
Duplicate of #2086

[2020-08-06 05:53] #8890 closed, assigned to nobody

[2020-08-06 07:06] PriyadarshanKhadtale opened #8891 "Redirect to actual Documentation site for Public APIs"
**Is your feature request related to a problem? Please describe.**
It is not a problem but a shortcoming.

**Describe the solution you'd like**
When collection is published they are added to "Public Apis Network" and from there user can looks into documentation generated by postman. we will like have a redirect to our actual "Documentation site".

**Describe alternatives you've considered**
When u

[2020-08-06 07:07] mohansaid opened #8892 "Tunneling socket could not be established"
Hi team ,
We are getting the following exception while accessing the postman application and unable to perform any methods (get/post/delete/put).

Error :Tunneling socket could not be established,Status code=407

**To Reproduce**
Steps to reproduce the behavior:
1. Launch postman application
2. Enter the endpoint URL and case header and click on Send
3. Scroll down to to Response body
4. See error

[2020-08-06 07:10] DannyDainton commented on #8892
Duplicate of #8783

[2020-08-06 07:11] #8892 closed, assigned to nobody

[2020-08-06 07:29] DannyDainton commented on #8882
Hey @kapilkapri007

It's been a couple of days now without a response for you.

I'm going to close out this issue for now but we can revisit this once the additional information is supplied.

[2020-08-06 07:29] #8882 closed, assigned to nobody

[2020-08-06 07:34] DannyDainton commented on #8870
Hey @Numenorean

Not heard back from you for about 5 days.

I'm going to close this issue for now but we can reopen once more information is supplied.

[2020-08-06 07:34] #8870 closed, assigned to nobody

[2020-08-06 08:05] parulsharmaRFI commented on #2861
@russellg This worked for me via postman runner. Thanks for the help.

[2020-08-06 08:07] travisnguyen20 commented on #6475
Created support ticket with ID #55146

[2020-08-06 08:25] cuhavp commented on #5194
+1

[2020-08-06 08:54] niharikasadula commented on #1966
+1

[2020-08-06 09:02] Dentrax opened #8893 "False-positives for link highlighting if `/` included in the response"
**Describe the bug**
False-positive link highlighting.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a bare-minimum mock response: `"test": "foo/bar/ baz"`
2. Send
3. Scroll down to `test` field
4. See the false-positive _Follow-Link_ popup on the `/bar/`.

**Expected behavior**
It shouldn't recognize this syntax as link.

**Screenshots**
<img width="374" alt="Screen Shot 2020-08-06

[2020-08-06 10:04] fanadol commented on #7301
I am also waiting for this to be implemented. The URL is not clean if we need to write all the params there. Using `example` also not that intuitive.

[2020-08-06 10:27] utsav-gupta commented on #5459
It only seems natural to have this feature , why it's not there such an obvious thing

[2020-08-06 10:46] codenirvana commented on #8893
Duplicate of #7004

[2020-08-06 10:46] #8893 closed, assigned to nobody

[2020-08-06 12:49] SpenceUK commented on #5394
Hi, this feature would be very useful. Example I have is working remotely I have a collection with multiple requests but I have to go into the settings and manually turn the proxy on or off as required for the individual requests. I should be able to automate this task in a pre-request script.

Is this feature in active development?

[2020-08-06 12:57] cdasilvasonnysdirect opened #8894 "Collection Runner does not respect environment variables at URL level"
### Description

Whenever you add an environment variable into the URL and execute the endpoint with the collection runner it does not use that variable at all and replaces it with nothing (null, empty, empty string, equivalent).

#### Example:

[code]

Create the environments and declare a variable called `env` in each:

#### Stage

[code]

#### QA

[code]

#### Production

[code]

The URL with t

[2020-08-06 13:06] DannyDainton commented on #8894
Hey @cdasilvasonnysdirect

Could you confirm that all the requests in the collection are saved and that you're selecting the environment in the Collection Runner before the run?

You mentioned _ replaces it with nothing (null, empty, empty string, equivalent)_ could you take a screenshot of the Collection Runner console for the run to see where the request is being sent, please?

[2020-08-06 13:13] cdasilvasonnysdirect commented on #8894
@DannyDainton I will replicate an environment similar to mine to screenshot this. Give me a few.

[2020-08-06 13:15] mccannt commented on #8894
@cdasilvasonnysdirect Can you also provide us with the version of the app and your OS?

[2020-08-06 13:17] cdasilvasonnysdirect commented on #8894
Postman Version: 7.28.0
O.S.: macOS Catalina 10.15.5

[2020-08-06 13:37] cdasilvasonnysdirect commented on #8894
@DannyDainton, @mccannt I apologize. I started having a different error with the new mocking collection where the URLs were completely empty. Checking this specific error I have found out that, unless I explicitly hit the save button, the newly applied changes are not saved. Returning to my original collection I was able to find out that none-of-the changes performed were saved leading me to these

[2020-08-06 13:37] #8894 closed, assigned to nobody

[2020-08-06 13:45] DannyDainton commented on #8863
Hey @AndresDV

I've raised this internally and created a bug for it. Don't have an ETA for any sort of fix yet but the issue will be updated once there's more information.

[2020-08-06 15:07] seanaguinaga opened #8895 "Cannot convert schema generated by Hasura to any kind of collection or test, etc."
The schema.graphql file generated by Hasura is not correctly converted.

This is unfortunate because it blocks an incredibly powerful service from being easily integrated with Postman.

See screenshot for message and attached schema file.

<img width="790" alt="Screen Shot 2020-08-06 at 8 04 02 AM" src="https://user-images.githubusercontent.com/15254340/89548331-bdb78a80-d7bb-11ea-9d97-6f120e68037

[2020-08-06 15:19] DannyDainton commented on #8895
Duplicate of #8863

[2020-08-06 15:19] #8895 closed, assigned to nobody

[2020-08-06 15:20] tcarlson25 commented on #4396
Didn't want to open a new issue, but this is still a bug on version v7.29.1. I am on a mac. Are there any plans to get this fixed? I need to access the auth information in my pre request script based on the inherited authentication method, but it is still returning *undefined* when using `pm.request.auth`

[2020-08-06 15:37] brock commented on #4687
The only thing that consistently reduces resources is to simply export all of my collections and environments to a folder, then delete them in the app and import them as I need them.

[2020-08-06 16:14] thetreythomas commented on #8598
@birnbuazn - See the latest batch of comments on this one:
https://github.com/postmanlabs/postman-app-support/issues/8612

[2020-08-06 16:40] galileo-pkm commented on #7399
This is still present in v7.29.1
Fedora 32, Postman from flatpak.

[2020-08-06 18:12] hengjt1 commented on #8821
Hello,

Yes, I did. Unfortale the problem persist.

I've sent an e-mail to Postman as @xk0der said and Anthony is trying to help me.

[2020-08-06 21:13] Yash-Singh1 commented on #8822
@saswatds What is the progress on this issue?

[2020-08-06 21:29] yosepkim commented on #6681
Is this something that is on your roadmap to be implemented any time soon? If we can't password-protect the API doc on Postman, I need to find some other alternative.

Thanks.

[2020-08-06 21:41] ahsandev2019 commented on #6681
This feature must be implementation immediately, we need publishing our api privately to only our client

[2020-08-06 21:42] ahsandev2019 commented on #6681
We just need pin/password to prptect our api, its better than custom domain

[2020-08-06 22:12] BabaliKumari opened #8896 "Add the ability to ignore/disable a block of tests at the collection level"
In my collection, for all the requests I have 3 scenarios:
1.  when the response code is 200 and the response body is not empty.
2.  when the response code is 200 and the response body is empty.
3. When response code is other than 200

For 2nd and 3rd, I have added functions at the collection level and that's working fine.

for the 1st, I want to add a function at the collection level, basically,

[2020-08-06 22:25] DannyDainton commented on #8896
Hey @BabaliKumari

Thanks for writing in! 🏆

This feels like it's a javascript based question that can be asking in the Postman community rather than a specific issue with the functionality of the app.

Could you raise this as a new topic over on our Postman community fourm, please?

https://community.postman.com

I'm going to close this issue out for now.

[2020-08-06 22:25] #8896 closed, assigned to nobody

[2020-08-07 05:55] AvinashBalekundri opened #8897 "Is there a way to convert "Timestamp" say "2020-08-06T08:18:12.500Z" to "UTCTimestamp": "1596701892" or Vice versa??"
My postman response body looks something like this:
{
    "GetServerTimeResponse": {
        "Timestamp": "2020-08-06T08:18:12.500Z",
        "UTCTimestamp": "1596701892",
}
}

How to make sure Timestamp and UTCTimestamp are equal? Either I can convert Timestamp to UTCTimestamp and say both strings match or convert UTCTimestamp to Timestamp and say both strings are matching?

In Java langauge, I k

[2020-08-07 06:00] DannyDainton commented on #8897
Hey @AvinashBalekundri

This is a great question to post on our community site.

https://community.postman.com

Could you open up a new thread on there, please?

Going to close this issue as its not specifically a functional issue with the app.

[2020-08-07 06:00] #8897 closed, assigned to nobody

[2020-08-07 06:08] AvinashBalekundri commented on #8897
Thanks for a quick reply: Created the same in postman community

https://community.postman.com/t/is-there-a-way-to-convert-timestamp-say-2020-08-06t0812-500z-to-utctimestamp-1596701892-or-vice-versa/14809

[2020-08-07 06:21] memark commented on #6953
That worked for me, thanks!

I'm kinda curious though, what this "language detection" actually is supposed to do? It seems even the simplest JSON is never detected, it always ends up as HTML.

[2020-08-07 07:25] aprknight commented on #8288
Replication of Postman 7.29.1 crash on Mac OS 10.15.6 using free public API
Execute: curl --location --request GET 'https://api.covid19api.com/all' >response.json
Note that the output file size is ~195MB
In Postman Preferences, set max response size to 0 (unlimited) [ Also tried with setting to 200 - same problem ]
In Postman attempt to GET https://api.covid19api.com/all
Postman will crash with SI

[2020-08-07 07:38] srinivasskc commented on #8867
Hi @Raj-postman
I am trying to access the mock call logs from Postman App (not from website)

I selected the Run -> Mocks ->
![image](https://user-images.githubusercontent.com/26836928/89621086-5f1f0900-d8ae-11ea-9081-dfc2bc6447c5.png)

Then selected Add Mock
![image](https://user-images.githubusercontent.com/26836928/89621138-75c56000-d8ae-11ea-93bd-fa8117d5b8a3.png)

Then clicked on Mock Call Lo

[2020-08-07 07:59] Raj-postman commented on #8867
@srinivasskc Thank you! I did try the same steps via the app and that link redirected me to the web - Could you please [submit a ticket via this page here](https://support.getpostman.com/hc/en-us/requests/new) with the title`GH #8867` and we'll help you with the steps to grab some logs for us to check this further?

[2020-08-07 08:14] srinivasskc commented on #8867
Thank you @Raj-postman. I have submitted the request https://support.postman.com/hc/en-us/requests/55209

[2020-08-07 09:49] shahariaazam opened #8898 "RAML Import: Fetch external/remote libraries with 'uses' keyword"
Fetch remote libraries with `uses`. Currently it's working well with local file system. But it's not working if I want to include any remote libraries to use.

[code]

**Is your feature request related to a problem? Please describe.**
Yes. In my team we have already some defined `RAML` specs ready that we use in our various project to reduce copy/paste and redundant works. So we frequently use `us

[2020-08-07 10:02] shahariaazam commented on #8898
I found it very frustrating that when I use `uses` keyword. It doesn't show any error in the console or on screen. Difficult to debug.

So in that case, IMO if we failed to resolve `uses` path or external URL, we can display that notice in console or on-screen as popup. So developer will understand what's went wrong. Specially it will kills hours of times to figure out the reason in current situat

[2020-08-07 10:05] preexo commented on #8507
This problem still holds for version 7.29.1 using macos Catalina 10.15.6
I can't work around it due to restrictions, it leaves postman not-usable

[2020-08-07 11:49] mihai-tucaliuc commented on #4450
Hello,
Any news when an export functionality would be available?
Thanks!

[2020-08-07 12:14] mkeller-ergon opened #8899 "Authorization and Content-Type headers merged to one line for form-data"
**Describe the bug**
I've got a request configured with authentication (Basic auth) and no explicit headers. Body is set to 'form-data'.
The generated request does not put the Content-Type header on its own line but appends it to the Authorize header, this it is useless.

**To Reproduce**
Steps to reproduce the behavior for my exact setup:
1. New POST request to any URL
2. Authorization: Basic Aut

[2020-08-07 13:21] shreys7 commented on #8899
hey @mkeller-ergon, thanks for reporting this issue. Will keep this thread updated with further information.

[2020-08-07 13:38] kapalkat commented on #1180
+1 It would be extremely useful!

[2020-08-07 13:52] duddukurimd opened #8900 "SSL Certificate Problem: Unable to get Local Issuer Certificate"
We have a shared resource collection that is being used by our team. Till now we are able to hit our applications from Postman, but suddenly one after one resource started getting the below error message while hitting our applications.

**Error: Unable to get local issuer certificate.**

We need to activate SSL validation for hitting our applications.

**Image 1: even when we have added the valid

[2020-08-07 17:58] Raja-Simha commented on #8891
@PriyadarshanKhadtale what do you mean by actual "Documentation site"? do you mean your own developer portal?

[2020-08-07 19:11] goharsahi commented on #5960
desperately need it.

[2020-08-07 23:54] ghost opened #8901 "Postman v7.29.1 desktop app has poor performance"
The Postman desktop application on windows 10 is performing poorly. The UI is constantly freezing and does not react to mouse clicks. For example, switching from one request to another can take 10 seconds.

I have:
- 2 Collections (about 3000 json lines)
- 2 Environments
Postman is consuming ~ 500 Mb of memory.

[2020-08-08 00:19] mattalexander-pantheon opened #8902 "Generated cURL commands will produce the error "curl: (3) bad range in URL" if the request contains a bracketed query param key"
**Describe the bug**

Generated cURL commands will produce the error "curl: (3) bad range in URL" if the request contains a bracketed query param key

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Postman
2. Create a new Request
3. Set the URL to "http://example.com/endpoint"
4. Add a query param with the key `a[b]`, with no value.
5. Click the "Code" link.
6. Select "cURL" in the lef

[2020-08-08 06:37] DannyDainton commented on #8902
Hey @mattalexander-pantheon

When using `Import` > `Raw Text`, this command will create the request `curl -X GET 'http://example.com/?a[b]'`.

This is the Postman code snippet output created when I manually crafted the request in the UI.

Would you be able to provide a screenshot of the code snippet produced in the app and which settings for that language have been applied?

[2020-08-08 07:45] martintefger commented on #8701
still existing on Version 7.29.1

OSX 10.15.5 and Windows 8.1

[2020-08-08 19:32] arramanenka commented on #5040
+1

[2020-08-09 03:16] huan415201 opened #8903 "postman.getResponseCookie(“csrftoken”).value undefined"
**Describe the bug**
postman.getResponseCookie(“csrftoken”).value returned "undefined"

**To Reproduce**
Steps to reproduce the behavior:
1. I was able to use it at first
2. Log out
3. Log in again
4. Bug happen

**Expected behavior**
postman.getResponseCookie(“csrftoken”).value return a new cookie as before

**Screenshots**
![image](https://user-images.githubusercontent.com/43948939/89724112-3ec7

[2020-08-09 04:32] codenirvana commented on #8903
@huan415201 When you log out, all your locally stored cookies get cleared as well.

[2020-08-09 06:02] huan415201 commented on #8903
So how can I acquire a new one?  I thought that the script will auto generate a new cookie if the stored one get cleared

[2020-08-09 06:06] DannyDainton commented on #8903
Hey @huan415201

As this has also been raised as a question over on our community site, I'm going to close this issue and a track the conversation there.

[2020-08-09 06:07] #8903 closed, assigned to nobody

[2020-08-09 09:07] ntloi95 commented on #6761
The latest update fixed the issue.

[2020-08-09 15:47] ghost opened #8904 "Can not save all Collections values"
When I try to export collections there won't any saving mechanisms for values I put in to collections. It works in individual requests but cant save all of them.

![postman_collection](https://user-images.githubusercontent.com/12722674/89736216-b84f8e00-daa2-11ea-880f-d6e4175c2b87.png)

1. when I press ctrl+s. It saves one request but not another requests values

![postman_values](https://user-ima

[2020-08-09 16:00] codenirvana commented on #8904
Duplicate of #3466

[2020-08-09 16:00] #8904 closed, assigned to nobody

[2020-08-10 00:31] RJFoster commented on #8880
I noticed this issue today, it seems that the server is no longer receiving the client certificates I've configured. I tried with an existing certificate setup with a traditional Windows path and it worked fine. Then I removed the certs and re-added them such that I now have the new forward slash style path and my server no longer receives certs.

[2020-08-10 01:34] mattalexander-pantheon commented on #8902
<img width="727" alt="Screen Shot 2020-08-09 at 8 31 06 PM" src="https://user-images.githubusercontent.com/52413912/89746477-719c6c80-da7f-11ea-8a6b-290fdbbead64.png">

[Screen Recording 2020-08-09 at 8.27.27 PM.mov.zip](https://github.com/postmanlabs/postman-app-support/files/5048742/Screen.Recording.2020-08-09.at.8.27.27.PM.mov.zip)

[2020-08-10 02:34] cHaLkdusT opened #8905 "Filtering items in "Collections" only searches the Request name"
**Is your feature request related to a problem? Please describe.**
I have a big collection of requests, I wanted to search the endpoint's URL, however, it seems like it only searches the Request name but not URL. In "History" tab, it searches for URL matches since these are not saved request. I hope we could also search "urls" inside Collections and possibly "APIs" tab

**Describe the solution you

[2020-08-10 03:03] codenirvana commented on #8905
@cHaLkdusT I hope [find and replace](https://blog.postman.com/find-and-replace-text-code-and-variables-in-postman) (`CMD+SHIFT+f` on Mac and `CTRL+SHIFT+f` on Windows and Linux) will help here. 🔍

[2020-08-10 04:12] cHaLkdusT commented on #8905
Coolio! Thanks @codenirvana! Though, I was still hoping that "filter" text input also be able to handle searching of URLs  :D

[2020-08-10 06:17] duddukurimd commented on #8900
@DannyDainton any update on the requested details?

[2020-08-10 06:26] DannyDainton commented on #6562
Duplicate of #8530

[2020-08-10 06:26] #6562 closed, assigned to nobody

[2020-08-10 06:28] DannyDainton commented on #8659
Duplicate of #6282

[2020-08-10 06:29] #8659 closed, assigned to vvs11

[2020-08-10 06:30] douyoung commented on #4009
+1

[2020-08-10 07:05] irazirfan commented on #4409
should I downgrade the postman then???

[2020-08-10 07:24] PriyadarshanKhadtale commented on #8891
Yes @Raja-Simha , the actual "Documentation site".

[2020-08-10 08:01] pranayat commented on #8774
@BennyAlex This has now been fixed.

[2020-08-10 08:09] rlundy commented on #3466
Hey, look, in just three short weeks this issue is going to have its 3rd birthday.  What a great birthday present it would be to implement this feature!  🎂 🎉

[2020-08-10 08:56] DannyDainton commented on #8902
Hey @mattalexander-pantheon,

I'm still not sure that I understand _what_ the issue is that you're seeing.

I'm using a different endpoint here but sill using the same `?a[b]=foo` query param that you used in the video. I've created the request in the app and use the code generator with the same setting.

![Screenshot 2020-08-10 at 09 38 02](https://user-images.githubusercontent.com/17089546/89764

[2020-08-10 08:59] arlemi commented on #4409
@irazirfan Can you give us more details on what's happening? Also if you could provide us with a sample request or curl (minus the sensitive details) to reproduce the behaviour that would help.

[2020-08-10 09:07] danieleteti commented on #7041
Any news?

[2020-08-10 09:07] irazirfan commented on #4409
Sorry to bother but I've already switched to postman version 6.7.4 & I'm still getting 404. So, maybe I have some problems in my tomcat server not in Postman, thanks for the quick response!

[2020-08-10 09:08] irazirfan commented on #4409
@arlemi  Sorry to bother but I've already switched to postman version 6.7.4 & I'm still getting 404. So, maybe I have some problems in my tomcat server not in Postman, thanks for the quick response!

[2020-08-10 10:01] ddeleur opened #8906 "List of examples is not scrollable on Mac. (missing the scrollbar)"
**Description**
The user is blocked from accessing all examples when the example list for a request is pretty big. The scrollbar does not appear.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to any request from the collection. The request should contain a bunch of examples (30+)
2. Click on Examples button
3. Scroll down to the last item in the examples list

**Expected behavior**
The

[2020-08-10 10:05] arlemi commented on #4409
@irazirfan FYI The latest version of Postman is 7.29.1 (you can get it from here https://www.postman.com/downloads/). 🙂

[2020-08-10 12:10] surfgirl commented on #4636
Hi, any idea, how could I implement that in case of implicit flow? TIA

[2020-08-10 13:24] #3995 closed, assigned to appurva21

[2020-08-10 13:24] #6816 closed, assigned to vkaegis

[2020-08-10 13:24] #8825 closed, assigned to vikiCoder

[2020-08-10 13:24] #8847 closed, assigned to codenirvana

[2020-08-10 13:24] #8864 closed, assigned to saswatds

[2020-08-10 14:08] waza-ari commented on #3845
I actually have the opposite problem. I'd expect the runner to stop once a request fails (or the tests fail), but instead it continues. Is there a way to stop execution once a test failed?

[2020-08-10 14:15] mohitranka commented on #8906
Hey @ddeleur , Thanks for reporting - We’ll update the issue when we have more information

[2020-08-10 14:23] mccannt commented on #8774
Resolved in Mock Service v1.17.1
Please feel free to reopen if this is still an issue.

[2020-08-10 14:23] #8774 closed, assigned to nobody

[2020-08-10 14:25] ThreeSevenths commented on #6733
@chrisdeso I would like you and the team to reconsider this crazy position. There should be a way to do this even if it breaks things since I have done this by mistake in the past. Having to export everything and then import it again in a personal workspace is a very poor experience.

[2020-08-10 14:49] cyrielle-hada opened #8908 "Monitoring history lost when joining a team or switching team --> Create messaging or warning"
**Is your feature request related to a problem? Please describe.**
When an individual user joins a team
- Monitors created in his personal workspace (before joining the team) appears to be disabled
- Monitoring history cannot be recovered

Although this is currently intentional, it might look like something is wrong.

![nomonitors](https://user-images.githubusercontent.com/47351631/89796132-289cf4

[2020-08-10 15:00] Satheskumar89 opened #8909 "Keyboard shortcut broken v7.30.0"
Version - v7.30.0
OS - Windows 10

Issue - Shortcut to send request not working as expected in combination with Next item (down arrow) and Previous item (up arrow) shortcut.

Steps to recreate:
1. in an collection with multiple request press down arrow to navigate to next request
2. Press Ctrl+Enter to send request
3. Press down arrow
4. Press Ctrl+Enter (not working) or press down arrow again (no

[2020-08-10 15:01] osowskit commented on #8879
@vikiCoder let me know if you need any help reproducing this. As we've had a few Twitter developers run into this, we'd like to understand what's going on to help our community adopt our Postman collection.

[2020-08-10 15:17] conradpronto commented on #1070
@Raja-Simha @Cazaimi can you please provide an update on timeline?

[2020-08-10 15:43] mccannt commented on #6625
Issue resolved.

[2020-08-10 15:43] #6625 closed, assigned to ankitjaggi

[2020-08-10 16:03] mattalexander-pantheon commented on #8902
@DannyDainton Not sure how else I can help, but let me know if you want me to take a look at anything for you.

[2020-08-10 16:18] DannyDainton commented on #8902
I followed your steps and I'm not seeing the same thing, are you seeing this error when creating a code snippet from `https://postman-echo.com/get?a[b]=foo`

The site you're using is to show the issue is an example domain. Are you also seeing the issue when using this against a public API or one there you're currently developing?

[2020-08-10 16:26] sujayvenaik commented on #8909
@Satheskumar89 Hey, we can reproduce the issue at our end and seems like a regression that happened in v7.30.0 (stable build). We would be rolling out a fix soon.

I'll keep this thread updated once the fix is rolled out. Thanks for reporting.

[2020-08-10 16:29] sankalp0o commented on #8778
@JP-from-Postman this is possible - check out https://learning.postman.com/docs/designing-and-developing-your-api/validating-elements-against-schema/#validating-requests
Would love to understand if this doesn't work as expected or if we can improve this in any way!

[2020-08-10 16:33] sankalp0o commented on #8103
With the release of Postman v7.30, API usage limits have been removed!

[2020-08-10 16:33] #8103 closed, assigned to nobody

[2020-08-10 17:10] arlemi commented on #5914
Hey there!

With Postman 7.30 we've added a new feature that allows to comment on request elements such as query parameters, tests, body etc.
You can use this feature to comment on the different values and say which ones are mandatory or optional.

Here's a quick GIF showing it in action:
![comment](https://user-images.githubusercontent.com/5029719/89810124-78d18200-db34-11ea-904e-f0413c08e6e3.gif

[2020-08-10 17:10] peter-umb commented on #4636
Thanks! Maybe I overlooked your post. I will check it out.

On Mon, Jul 6, 2020, 11:49 AM MarcBKirsch <notifications@github.com> wrote:

[2020-08-10 18:32] mattalexander-pantheon commented on #8902
Used your URL, same result:

[Screen Recording2 2020-08-10 at 1.28.56 PM.mov.zip](https://github.com/postmanlabs/postman-app-support/files/5052655/Screen.Recording2.2020-08-10.at.1.28.56.PM.mov.zip)

[2020-08-10 18:45] DannyDainton commented on #8902
Not really sure where to go from here, you can see in the command line image above, with the same request, that it's working. 🤔

The only other differences are between our two terminals or versions of OS.

Is the same curl request failing when entered manually (not copy and pasted) straight into your terminal?

Postman isn't doing any magic, it's just crafting the command. 😁

[2020-08-10 20:15] mattalexander-pantheon commented on #8902
I typed these commands in manually:
[code]
Only the prompts have been altered in this output. I tested in iTerm2 and Terminal on macOS.

[2020-08-10 20:52] vvs11 commented on #6799
This is released in app 7.29

[2020-08-10 20:52] #6799 closed, assigned to vkaegis, preethammavin

[2020-08-10 22:12] AjayKMehta opened #8910 "Add mechanism to collapse all in Collections tab."
It would be extremely helpful if there was a way to collapse all folders in Collections tab rather than manually collapsing each folder.

[2020-08-10 22:15] DannyDainton commented on #8910
Duplicate of #6355

[2020-08-10 22:15] #8910 closed, assigned to nobody

[2020-08-11 04:26] duddukurimd commented on #8900
@codenirvana  Any help here? Now additional 2 resources are facing the same issue.  Now we are worried if it might impact the complete team, your inputs might help us.

[2020-08-11 04:49] calebreid opened #8911 "Postman export is not including header information"
**Describe the bug**
When I export my tests to run with Newman they are giving "Unsupported media type" errors when the request has a JSON body but the tests run fine in postman.
![image](https://user-images.githubusercontent.com/32081572/89857559-8c422300-dbf0-11ea-9281-995b2725dbed.png)

This seems to be because the request does not include the Content-Type header
![image](https://user-images.gi

[2020-08-11 05:33] DannyDainton commented on #8911
Hey @calebreid

Are you able to update the version of your app and give it a go please?

There was a n issue in a previous version around Headers not being included in the code generated snippets an this might be impacting things here.

You could also untick and then tick that header to see if that works, if it does then updating the app won't be something to try.

[2020-08-11 07:13] sujayvenaik commented on #8909
@Satheskumar89 We pushed out a fix for this in v7.30.1. You could update your app and should work as expected.

Feel free to reply to this thread if you still face issues regarding this issue.

[2020-08-11 07:17] mbacon-edocs commented on #4818
Slightly different use case, but hopefully same implementation - rather than just two (testing/live) we have the same API on multiple URLs based on the country you're calling from. As such we want a single documentation page, and the ability for them to choose the country and then see what the full URL is for them (some of our partners/clients are based in multiple countries as well, so can't just

[2020-08-11 09:09] bbabic opened #8912 "Reasonable URL encoding expectations"
Please, **always** fully URL encode query parameter values, no matter what is contained inside.

Why am I writing this? Because I think that it is quite reasonable to expect different behavior than current one (v7.30.1 at the moment of writing this).

Problems:
- character + (plus sign) does not get URL encoded to its respective %2b value
- %12 sequence of characters does not get encoded into %251

[2020-08-11 10:41] #8909 closed, assigned to nobody

[2020-08-11 12:37] Wirone commented on #7569
I also can't sign with Google on Postman 7.30.1 using Chrome 84.0.4147.105 as default web browser. I could log in with Firefox.

[2020-08-11 13:16] jassubhai opened #8914 "while sending request through postman i am getting invalid request though my request is valid. Anyone faced this type of issue, please give your advice."
<HTML><HEAD>
<TITLE>Invalid URL</TITLE>
</HEAD><BODY>
<H1>Invalid URL</H1>
The requested URL "&#91;no&#32;URL&#93;", is invalid.<p>
Reference&#32;&#35;9&#46;78762c31&#46;1597151599&#46;16e860e1
</BODY></HTML>

[2020-08-11 13:27] DannyDainton commented on #8914
Hey @jassubhai

This seems like a question that is better placed on our community forum, could you please open up a new topic?

https://community.postman.com/

When raising the question, can you ensure that you're giving people the best opportunity to help by providing more context and detailed information about what you're facing?

Images and some environmental information will help too.

[2020-08-11 13:27] #8914 closed, assigned to nobody

[2020-08-11 13:38] ckjet opened #8915 "Can't change http method for requests"
Version: 7.30.1

If I change http method to any another then get server show error 405: method not allowed, only post allowed. How can I change method to post?

[2020-08-11 13:41] DannyDainton commented on #8915
Hey @ckjet

Would you be able to provide a recording or some screenshots of what you're seeing, please?

Without more details about what's going on, it's going to be difficult to suggest a possible solution.

[2020-08-11 13:42] vAdyar commented on #4079
+1

[2020-08-11 13:43] ckjet commented on #8915
[img]https://ibb.co/J2dxTZM[/img]

[2020-08-11 13:55] ckjet commented on #8915
Problem was detected in redirects. Request was redirected to https and in this process I think something lost (headers or data)

[2020-08-11 13:57] DannyDainton commented on #8915
It sounds like you've found the issue? Are we good to close this now?

[2020-08-11 13:59] ckjet commented on #8915
Yes, thank you.

[2020-08-11 13:59] #8915 closed, assigned to nobody

[2020-08-11 14:51] ShahinKohan commented on #8848
For some reason the recent postman release actually tries to use the High Speed GPU (for example on surface book) instead of the default GPU. In Surface Book you have the option to right click on the icon and choose to run it with high speed graphics. But the recent version of Postman forces that by default.

![image](https://user-images.githubusercontent.com/12249626/89912418-62b0d980-dba7-11ea-8

[2020-08-11 15:26] ShahinKohan opened #8916 "Include all comments in pull requests not just comments for endpoints that have changed"
**Is your feature request related to a problem? Please describe.**
When creating a pull request all comments should be part of the pull request. Currently Postman only adds the comments to pull request for endpoints with any changes. But comments made on an endpoint with no changes to the endpoint don't show up in the pull request.

**Describe the solution you'd like**
When a pull request is creat

[2020-08-11 19:10] Scrandre commented on #2086
+1
Or just an option of not switching the tab when switching between collections would be useful too, so you would always stay in the tab you're analyzing right now

[2020-08-11 19:44] sauloroberto commented on #1066
+1

[2020-08-11 21:45] calebreid commented on #8911
Thanks for your reply. I have followed your suggestions but it has not resolved the issue, details are below.

I updated Postman it is now on version 7.30.1. I then re-ran the tests in postman and they still passed, so I ran them through newman accessing the tests through the postman api and they still failed.

So I unticked the Content-Type header, saved the test, then ticked it again and resaved

[2020-08-11 21:50] Connor-Graves opened #8917 "Collection runner crashes postman when stop run is pressed during a run"
**Describe the bug**
App crashes upon stopping a run in the collection runner.  I am not quite sure if it has to do with the size of the request but I have been running pretty large requests.  The only way I can exit a run is if I first pause the run, then stop the run.  Then it stops as expected.   If I click stop run without pausing while it is running requests all of postman quits.

**To Reprod

[2020-08-11 21:53] DannyDainton commented on #8911
Thanks for the response - I appreciate you getting back to me. 🏆

Do the tests fail if you manually add in the Content-Type header before exporting the file, rather than it coming from the auto generated set?

What's the command that you're running this with on Newman?

[2020-08-11 22:09] calebreid commented on #8911
Thank you, that has solved the problem. I had to manually add the header and then untick the automatically created header for each request. But it works.

Is this a bug?

[2020-08-11 22:28] DannyDainton commented on #8911
Awesome 😁, so at least you have a workaround. Not ideal but it should unblock you.

I will do some more investigation around the export flow with auto generated headers and update the thread when/if I find more information.

[2020-08-11 22:31] calebreid commented on #8911
Thanks so much for your help and prompt responses Danny. It's great to get this working so quickly.

[2020-08-11 23:36] JasonTheAdams commented on #7654
I just ran into this when trying to import a collection from PayPal — which is a huge collection. It was so big it didn't even work, but it also managed to completely remove all of my other collections. No warning or anything, just poof, all of the collections I've built over time are gone. It doesn't even give you a clear idea of how to recover from this, or warn you that "hey, if you do this you

[2020-08-12 01:40] retzloff opened #8918 "Resizing header columns does not resized the rows under it"
**Describe the bug**
With a request selected, adjusting the width of the "description" header column does not resize the rows beneath it. This only occurs when "Headers" is selected. "Params" works as expected.

**To Reproduce**
Steps to reproduce the behavior:

1. Open a request.
1. Select "Headers".
1. Click and drag on the column separator between "Value" and "Description".
1. See the head colu

[2020-08-12 01:52] haizhuling commented on #8789
it updated,but the problem is still not solved,terrible UE :(

[2020-08-12 04:21] rsi610 opened #8919 "few urls POST is throwing 1e000065:Cipher functions:OPENSSL_internal:BAD_DECRYPT error"
SOAP calls on URL is throwing
error:1e000065:Cipher functions:OPENSSL_internal:BAD_DECRYPT

I have certificates (pem and Key ) files , Authorization set for these URL's.
Postman Version 7.30.1
Same configuration was working for earlier version.

In console i get the below user agent
User-Agent: PostmanRuntime/7.26.3

[2020-08-12 07:02] woutervanbakel commented on #4450
+1 Would solve use case our SLA reporting.

[2020-08-12 08:25] DannyDainton commented on #8918
Hey @retzloff

This is due to no being able to add a `description` against the system auto-generated headers. The cells that you can add a description can be resized to allow for the length of the text added. Granted is _looks_ a bit strange. 🤔

![Screenshot 2020-08-12 at 09 21 45](https://user-images.githubusercontent.com/17089546/89992522-47b09900-dc7d-11ea-8461-9fbbcca98f68.png)

If you were to

[2020-08-12 08:32] anqilu commented on #5920
It still happens in Postmannn v7.30.1. When performing duplicate on a request, the parameters are not correctly duplicated.

[2020-08-12 08:39] willdean commented on #5920
@anqilu I don't think the developers consider it a bug, so it's not going to be fixed.   The "duplicate" button duplicates the SAVED query, not the one you're currently working on.    So just get used to clicking "SAVE" (up at the top-right) before you click "Duplicate".

It's a bit weird, but then it is free...

[2020-08-12 09:14] arlemi commented on #7654
@JasonTheAdams You should have been getting two different warnings before any of your collections get archived, 1 yellow bar warning you about approaching the 25 request limit, then a red bar warning letting you know you've passed the limit and that your collections may get archived if you keep importing things. Did you not get any of these?

Also, were you able to recover your data correctly?

[2020-08-12 09:21] arlemi commented on #6722
Closing this feature request as this has been out for some time now, we'll keep tracking improvements in other tickets to avoid confusion!

[2020-08-12 09:28] danbars commented on #8626
When using the key/value UI, some characters are encoded (`&` and `=`), while others are not (`+` and `%`).
From a user experience perspective, I'd expect the UI to have consistent behavior - either I have to enter escaped strings, or the app encodes them for me.
I think it should escape all characters that has to be escaped. If I want to manage my own escaping logic, I can use raw body and do wha

[2020-08-12 09:29] arlemi opened #8920 "Being able to run response validation as tests"
From #6614 by @VicKetchup

**Is your feature request related to a problem? Please describe.**
We have response validation built-in in Postman, but we can't use the same mechanism in tests,

**Describe the solution you'd like**
It would be great to be able to run this validation as part of the tests, for example `pm.response.isValidAgainstSpec()` `pm.response.getValidationErrors()`, this would allo

[2020-08-12 09:30] danbars commented on #8849
ok, commented on #8626
Closing this issue.

[2020-08-12 09:30] #8849 closed, assigned to abhijitkane

[2020-08-12 09:30] arlemi commented on #6614
I'm closing this issue as the original request was implemented. I've created a different one specific to being able to run the validation as a test, we'll be tracking it in #8920.

[2020-08-12 09:30] #6614 closed, assigned to vkaegis, sankalp0o, preethammavin

[2020-08-12 09:44] erlendl opened #8921 "Postman couldn't connect to the internet"
**Describe the bug**
Postman desktop client (Mac) reports "Postman couldn't connect to the internet".
![Screenshot 2020-08-12 at 11 23 06](https://user-images.githubusercontent.com/2368574/89998930-708d5a00-dc8e-11ea-8a1d-d3f1ea37e655.png)

I am successfylly authenticating with "Sign in with Google". All request succeeds. All other internet activity works as expected from the computer. Hence, the

[2020-08-12 10:16] DannyDainton commented on #8921
Hey @erlendl

That's interesting? I'm not seeing this on my side for either the Production or Canary app. 🤔

Hate to be that guy...have you tried quitting the app and restarting it again to try and establish the connection?

Are you currently on a VPN, behind a firewall or using some sort of proxy on your machine?

You could head over to web.postman.co and use Postman's web version to see if that'

[2020-08-12 10:23] wil-power commented on #4009
+1

[2020-08-12 10:32] mohammedgqudah commented on #4009
can yall stop commenting "+1" "this is useful".
just like it and don't do anything else. thanks.

[2020-08-12 12:15] SquirrelCoder commented on #7294
Sadly I had to uninstall Postman!
Postman simply takes all my RAM, all my resource and you guys won't even consider so many comments on this issue, simply every single person has a problem with it!
The canary was also no help, it stucks simply on formatting the response and I have to force close the app.

[2020-08-12 12:23] arlemi commented on #7294
@SquirrelCoder You may be interested in giving Postman for the Web a try: go.postman.co/build

Learn more about it in our blog post (TL;DR, it's the Postman experience in your browser): https://blog.postman.com/announcing-postman-for-the-web-now-in-open-beta/

[2020-08-12 12:50] erlendl commented on #8921
Hi @DannyDainton

Thanks for your reply.

I have done the basics - and then some :-). Quitted app, updated to latest version, unistalled and installed multiple times, restarted pc and so on.
I am not on a VPN, do not use any sort of proxy but is behind a standard router firewall which is not configured besides ordinary configurations.
I haven't noticed that there are any requirements to open any s

[2020-08-12 13:02] erlendl commented on #8921
I updated firmware on the router, and the certificate error accessing https://bifrost-v4.getpostman.com/ws/connect is no gone. This case may be closed.

[2020-08-12 13:04] DannyDainton commented on #8921
So you're all good and running on the native app now?

[2020-08-12 13:11] ritika50 opened #8923 "RawRequestWithText is not supported properly"
When you will import Collection file with Raw request(Text);data options are null.
When you select some other option(say JavaScript/HTML) and then reselect 'text' option at that time  data options have proper data.

[2020-08-12 13:30] fullstackdev-online commented on #4079
+1

[2020-08-12 13:44] Tem12 opened #8924 "Query param 'hasOwnProperty' crashes the app"
**Describe the bug**
App crashes when calling `GET/POST` request with disabled `hasOwnProperty` parameter and at least one other enabled parameter

**To Reproduce**
Steps to reproduce the behavior:
1. Create new `GET/POST` request
2. Type valid URL for the request
3. Select `Params` and add query param with key `hasOwnProperty` and value `0`. (Value can be an empty or non-empty string)
4. Uncheck

[2020-08-12 13:51] DannyDainton commented on #8921
I'm going to close this for now.

If you run into any other Network issues, you can open a support ticket and send logs/a network profile to help@postman.com, so we can look further into the issue. 😄

[2020-08-12 13:51] #8921 closed, assigned to nobody

[2020-08-12 13:58] DannyDainton commented on #8923
Hey @ritika50

Thanks for writing in! 🏆

In order for us to begin to debug any potential issues, we will need to be able to reproduce it locally. Could you provide us with the following information, please?

- Full steps to reproduce the issue
- Screenshots or a recording of the issue
- Environmental information:
  - Postman Version
  - OS
- Any additional context that might be important/relevant

[2020-08-12 14:05] stefdelec opened #8925 "multiform-data not working"
Given I choose form-data as type of body
When I send
The content type header is not set to multiform data but text.

![image](https://user-images.githubusercontent.com/12082478/90024710-78acc000-dcb5-11ea-8860-cafb76f968c5.png)

[2020-08-12 14:06] #8925 closed, assigned to nobody

[2020-08-12 14:06] DannyDainton commented on #8924
Hey @Tem12

Thanks for writing in 🏆  - I was able to reproduce the issue following your steps, really appreciate the detail you added!!

For the `Something went wrong` error (which shouldn't be happening) I just opened an empty request and added the `hasOwnProperty` param key and as soon as I start writing the second param I saw the issue.

From View > Developer > Show DevTools (Current View) - I

[2020-08-12 14:48] NadaBahaa opened #8926 "app freezing"
the app freezes after running any api

[2020-08-12 14:56] zhengyuhe01 commented on #6966
the api so bad,
Authorization header missing
Authorization header missing

[2020-08-12 14:57] zhengyuhe01 commented on #6966
Authorization header missing
Authorization header missing

[2020-08-12 15:00] zhengyuhe01 commented on #6966
the api so bad,
Authorization header missing
Authorization header missing

can you tell me why??????????

curl -H "access_token:akab-"
-H "client_secret:LQmdxgG3"
-H "client_token:akab-"
-H "Content-Type:application/json"
-H "host:akab-"
-d '{"objects": [******]}'
-X POST
https://akab-******/ccu/v3/invalidate/cpcode/staging

[2020-08-12 15:05] kolengri commented on #2086
+1

[2020-08-12 15:11] SabriH10 commented on #8902
Hi @mattalexander-pantheon, I too, was unable to reproduce this issue. Judging by https://stackoverflow.com/questions/8333920/passing-a-url-with-brackets-to-curl, this seems to be an issue with cURL and globbing but outside of Postman. Not quite sure what the exact root cause is here but could be the cURL version you are using? I also tested in iTerm2 and was unable to reproduce this on my end.

[2020-08-12 15:14] DannyDainton commented on #8926
Hey @NadaBahaa

Could you provide us with the following information, please?

- Full steps to reproduce the issue
- Screenshots or a recording of the issue
- Environmental information:
  - Postman Version
  - OS
- Any additional context that might be important/relevant

The more details that you can provide, the easy it will be for us to help with a solution.

[2020-08-12 16:42] MikeGJennings commented on #4009
Maybe we wouldn't feel the need to add the noise if the Postman team would just drop in and let us know what they're thinking.

[2020-08-12 17:01] Tem12 commented on #8924
I'm glad it helped

[2020-08-12 17:03] DannyDainton commented on #8924
It really did, we will update the thread when we have more information.

Thanks again 🚀

[2020-08-12 17:17] bjsullivan-speedway commented on #5713
I cannot wait for this feature

[2020-08-12 18:25] BidyutJBorah commented on #7210
Any updates on this feature?

[2020-08-12 18:37] codenirvana commented on #8900
@duddukurimd this error occurs if the issuer certificate is untrusted. Can you share the following details:
* What's the app's version where request fails
* What's the app's version where request pass
* What's the type of client certificate (CRT + KEY or PFX)
* Does it require a CA certificate

[2020-08-13 02:08] pbrink231 commented on #3466
Would love to have this feature.  I always end up with ton of unsaved tabs.  Auto save or atleast a close and save all button

[2020-08-13 02:44] akangcupez commented on #8656
I was succeed by deleting corresponding cookies from Cookies Manager below the Save button

[2020-08-13 02:59] anqilu commented on #5920
@willdean It works as a miracle. Thanks for the advice.
I didn't notice the save button as it is a little "grey" in both dark/light theme. Now I find that all my queries are unsaved ones.

[2020-08-13 03:17] vsachini commented on #4117
+1

[2020-08-13 03:52] Zinnurka opened #8927 "Snippets panel on "Pre-requsest Script" extends off screen"
**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Pre-request Script'
2. Emphasize on Snippet

**Screenshots**
![bug](https://user-images.githubusercontent.com/21366/90092931-7498a500-dd7e-11ea-9351-a433ab61fc79.gif)

**App information (please complete the following information):**
 - App Type [Windows]
 - Postman Version [e.g. 7.30.1]
 - OS: [Windows 10]

[2020-08-13 04:23] sasinda commented on #5194
+1

[2020-08-13 05:51] husnifaz opened #8928 "Please bring up scrolling in a window again"
**I was very frustrated because I had to scroll between the parameters window and the response window**

[2020-08-13 06:16] DannyDainton commented on #8928
Duplicate of #8789

[2020-08-13 06:16] #8928 closed, assigned to nobody

[2020-08-13 06:52] duddukurimd commented on #8900
@codenirvana

What's the app's version where request fails  -- v7.29.0 and tried till the current latest version v7.30.1
What's the app's version where request pass  --  v7.29.0 and tried till the current latest version v7.30.1
What's the type of client certificate (CRT + KEY or PFX)   -- Combination of CRT+KEY+PFX
Does it require a CA certificate  -- No

Just to confirm, It was happening for only

[2020-08-13 07:27] DannyDainton commented on #8927
Hey @Zinnurka

Thanks for writing in! 🏆

I was able to recreate the issue with the following steps
- Open a new request
- Close the `pre-request` snippet and move to the `tests` tab
- Open the snippet on the `tests` tab and then switch to the `pre-request` tab

![snippet_issue](https://user-images.githubusercontent.com/17089546/90106090-d3d6c500-dd3e-11ea-8225-8c76a036a537.gif)

[2020-08-13 08:47] codenirvana commented on #8900
@duddukurimd This is weird that on the same version (say `v7.30.1`) a few of your resources are working fine and the rest are facing this issue. This seems like some kind of misconfiguration in either **certificate** or **proxy** configuration (does the request require a proxy setup?).

I recommend you compare the request sent (passed and failed) using the Postman Console to see what's the differe

[2020-08-13 09:00] nolimitdev opened #8929 "Ability to stop a request from executing using a command in the Pre-request script"
In many other softwares pre-request script usually can stop continuing main operation. Such as in git pre-commit script we can stop commit operation if we want, what is expected. But in postman pre-request script we can not stop request which is illogical. So postman pre-request script does not use its potential. I have found several years old fallback by throwing error but it is not good solution

[2020-08-13 09:09] jeromeklam opened #8930 "Hawk Auth header doesn't include user field (7.30.1)"
Hawk Header User no more send to server :

Code view :

[code]

Authorization config in the attached file.

Or I'm doing something wrong

[2020-08-13 09:23] willdean commented on #5920
@anqilu As far as I am aware, the only use for the Save button is "the button I press before using Duplicate".

[2020-08-13 09:36] xk0der commented on #8927
@DannyDainton great find! :100:

I was able to apply your steps and reproduce the issue in reverse as well, reproducing the issue when switching to "`Test`" tab.

* Open a request (New or existing)
* Switch to "`Test`" tab close the snippet pane
* Switch to "`Pre-request Script`" tab and  open snippet pane
* Switch to "`Test`" tab, and see the snippets pane pushed out the right edge

![gh8927](htt

[2020-08-13 10:04] DannyDainton commented on #7990
@odecroupette The variable ($randomZipCode) have been removed from the docs

[2020-08-13 10:43] mccannt commented on #8593
This should now be resolved. Closing the issue, please feel free to reopen if this is still an issue.

[2020-08-13 10:43] #8593 closed, assigned to kartikjain26

[2020-08-13 14:25] santoshclicks opened #8931 "Getting Error: tunneling socket could not be established, statusCode=407 error"
I have started getting below error
Error: tunneling socket could not be established, statusCode=407
Earlier it used to work, I work before company proxy I have made proxy settings and which was working earlier for. The same setting is working for my collegue now as well.

[2020-08-13 14:52] DJ-Icebear opened #8932 "Postman Interceptor never connects (MacOS Mojave)"
**Describe the bug**
Postman Interceptor is never connecting to my Chrome extension (on MacOS Mojave).

**To Reproduce**
I do a fresh app install
I install the chrome extension
I install the bridge using the app, but it never connects.

**Screenshots**
![postman_interceptor](https://user-images.githubusercontent.com/7745142/90149309-a3b21500-dd84-11ea-8cac-68addff9562d.gif)

**App information (ple

[2020-08-13 14:57] ankit-m commented on #8883
Duplicates #8303

[2020-08-13 14:57] #8883 closed, assigned to ankit-m

[2020-08-13 15:01] DannyDainton commented on #8931
Duplicate of #8783

[2020-08-13 15:01] #8931 closed, assigned to nobody

[2020-08-13 15:20] KouloukLeGrand opened #8933 "Add possibility to store settings in the environment variables"
Hello!

I'm designing an API with Symfony and I use Postman to test it.
To do so, I have to send requests to a local server and a remote server. They both require HTTPS, however the certificate of my local server is stored locally, which is legitimately considered dangerous by Postman. Thus if I switch between the two servers using different environments (only the TLD and credentials differ), **I

[2020-08-13 15:31] DannyDainton commented on #8932
Hey @DJ-Icebear

Thanks for writing in, are you able to also try restarting the Browser?

https://support.postman.com/hc/en-us/articles/360025849993-Why-is-the-Postman-Interceptor-Disconnected-

[2020-08-13 16:13] lallenmaestro opened #8934 "Postman 7.30.1 performance issues bringing my system to a halt and impossible to work with."
I have only a few collections 1 to be exact with 11 requests.  Version of postman I'm running is 7.30.1
my OS is Windows 10

Postman is consuing 15-20% CPU Membor is 1523 - 1700mb  GPU is 79-85%
See attached video.

[Postman.zip](https://github.com/postmanlabs/postman-app-support/files/5070139/Postman.zip)

I don't understand why you cannot fix this issue.  I see it's been reported many times for

[2020-08-13 16:50] bdharrington7 opened #8935 "Postman takes focus twice during startup"
**Is your feature request related to a problem? Please describe.**
I'm always frustrated when the app starts up (either for the first time, but usually after an update) and the screen will grab focus *twice*, once for the loading / splash screen, and again when the app becomes visible. The startup time isn't slow, but it's not instant either, so I usually switch away to do something else while it'

[2020-08-13 18:11] joaquinrios opened #8936 "No status code in Collection Runner"
**Describe the bug**
On Collection Runner, when checking the Run Results, there is no information about status code, time, or memory. When exporting the run to .json, the response code is also empty and time shows "0".

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Runner
2. Start any run
3. Look at Run Results

**Expected behavior**
Up to version 7.27.1, there would be information to

[2020-08-13 20:08] DannyDainton commented on #8936
Hey @joaquinrios

I'm unable to reproduce this issue on the latest version.

![Screenshot 2020-08-13 at 21 07 09](https://user-images.githubusercontent.com/17089546/90181875-0917fd00-dda9-11ea-8b5e-a54df1c54737.png)

Are there are more details that you can provide about the request itself that might give us some clues? Are there any errors in the console?

[2020-08-13 20:56] rlcurrall commented on #6548
This would definitely be beneficial to my workflow! :crossed_fingers:

[2020-08-13 21:46] HenrrySalinasJala commented on #2761
+1

[2020-08-13 21:52] ericchansen opened #8937 "View panel that displays all variables"
It would be fantastic if I could view a vertical panel that displays all of the variables. It's inconvenient to have to open up the little eye in the upper right hand corner whenever I want to view them. I want to run my requests, use the tests to automatically update the variables and then be able to see the new variables without clicking on the little eyeball.

[2020-08-13 22:12] DannyDainton commented on #8937
Hey @ericchansen

As a workaround, you could use this in the `Tests` tab of the request, to see those variables printed in the console?

[code]

Now that the console open within the app, you could see those new values after the request is made with needing to use the quick view.

[code]

[2020-08-13 22:41] ericchansen commented on #8937
That's a nice temporary workaround. Thanks! Anyway, it'd still be a really cool feature if someone on your front end team is feeling bored. 😁

[2020-08-14 03:48] amanrique1 commented on #8184
I had the same error, are you sure that this service use https? check that on the request

[2020-08-14 04:28] quyennt21 opened #8938 "Not responding when open select file browser window"
**Describe the bug**
Not Responding when open file select file browser.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'body - form-data - File param'
2. Click on 'Select files'
4. See error

**App information (please complete the following information):**
 - Postman Version v7.30.1
 - OS: Window10 10.0.18363 N/A Build 18363

[2020-08-14 06:17] DannyDainton commented on #8938
Hey @quyennt21

I've been unable to reproduce this error on Mac or Windows OS.

Your repo steps mention the `body` - Is this the `form-data > File` option?

Is the error something that's presented in the app? Could you post a screenshot of this, please?

[2020-08-14 07:45] quyennt21 commented on #8938
yeah, in form-data.

![image](https://user-images.githubusercontent.com/46489447/90226188-d7507600-de3c-11ea-8726-5c36a1fb0a57.png)

[2020-08-14 07:49] firemaples commented on #6239
Same issue on 7.30.1 (mac osx)

[2020-08-14 07:56] DannyDainton commented on #8938
The 'error' being the the file explorer window is lot responding and is not showing you the files in the directories on your computer?

I'm still unable to reproduce the same issue on Win 10, are you able to quit and restart the app? Or sign out and sign back in?

Just trying to run through some lower level troubleshooting to try and get you unblocked.

Alternatively, you could try using our Canar

[2020-08-14 08:11] quyennt21 commented on #8938
@DannyDainton  no, I try to restart pc, but it still error. :(

[2020-08-14 08:13] DannyDainton commented on #8938
Did you have any luck with signing out or the app and back in again?

Or the other 2 options (Canary / Postman on the web) ?

[2020-08-14 08:30] DJ-Icebear commented on #8932
Hello! Thanks for a quick response!

The troubleshooting tips led me in the right direction and I managed to solve my issue!

When I navigated to `/Users/myuser/.postman/InterceptorBridge` and ran the executable there, I could see an error:
[code]
Which let me on the trail of something being wrong with my node installation.
After doing: `brew upgrade node` and `brew link --overwrite node`
I can ru

[2020-08-14 08:37] DannyDainton commented on #8932
That's awesome!

Glad you have it all working now!! 🏆

[2020-08-14 08:37] #8932 closed, assigned to nobody

[2020-08-14 08:37] quyennt21 commented on #8938
yeah, I'm using postman on the web. thanks for your help.

[2020-08-14 08:49] DannyDainton commented on #8938
Cool, I'd be interested to know if signing out of the native app worked if you have time to check. 🤔

I'm going to close out this issue but we can open it up again if you/other users are facing the same issue.

[2020-08-14 08:49] #8938 closed, assigned to nobody

[2020-08-14 09:13] sadakchap commented on #8924
Hi @DannyDainton , can I work on it as my first issue ?

[2020-08-14 09:20] codenirvana commented on #8924
@sadakchap Feel free to raise a PR with the fix [here](https://github.com/postmanlabs/postman-collection). From the above logs, I see it's happening in [PostmanPropertyList](https://github.com/postmanlabs/postman-collection/blob/develop/lib/collection/property-list.js).