[2020-03-20 03:27] kamesh95 commented on #4391
+1 Following

[2020-03-20 04:29] numaanashraf commented on #7244
@camohub This is supported in the response pretty view now. You can click on a line number to highlight a line, or click and drag in the line numbers to select multiple.

[2020-03-20 04:30] #7244 closed, assigned to nobody

[2020-03-20 05:04] appurva21 commented on #8200
Hey, @jcald1 thank you for reporting this.
I was able to reproduce the issue for the description column only.
Can u please verify once if this issue is also there with the value column as you have mentioned. If so, it would be very helpful if you could provide us with more information that might help us in reproducing it.

Thanks

[2020-03-20 05:56] sankalp0o commented on #5766
@Ramya-From-Postman @jakubfijalkowski Sorry for replying so late. This is not expected and we will look into this.

[2020-03-20 06:03] vikiCoder commented on #7436
Hi @ameduza, I was able to reproduce the issue. We will update here when it is fixed. Stay tuned.

[2020-03-20 06:21] vikiCoder commented on #7921
Hi @Zsolti1989,

I see that the request you are duplicating has unsaved changes in the open tab. Please note that duplicating a request only duplicates the saved state of the particular request. Unsaved changes in the request tab are not duplicated. So the saved request (`Get Auth Token` in your case) must be having the URL as `{{MAPI_URL}}/token/new` and then you might have updated the URL to `{{

[2020-03-20 06:21] #7921 closed, assigned to ash007-postman

[2020-03-20 06:48] abhijitkane commented on #6939
@harshachelle We could also look at automatic reminders for unaccepted invitations. From the admin POV, do you have a team size range? For teams of <10 users, this feature might be overkill.

[2020-03-20 08:18] mzarify commented on #8184
@codenirvana Thanks for the reply. It didn't solve the issue.

[2020-03-20 08:24] maxgrohs commented on #6723
@bluetoothfx thanks for your solution.

But I did not delete it. I moved all data from %appdata% postman directory to another directory (on desktop). Than postman started again. Than I moved the old data back into the %appdata% postman directory and than postman works again with the old data.

[2020-03-20 09:16] KrolikROJER opened #8201 "Move existing Collection to another Collection as a sub Folder"
Can you implement moving collection (folder) to sub-folder in another folder.
or import (exits import placed api to root) to selected folder

[2020-03-20 09:29] bayramucuncu opened #8202 "Switching environments by collection item."
**My feature request is about switching between environments?**
I have created multiple Envionments and Collection folders on my postman. But these are does not related. So when I wanted to test a request from another collection, I can forget change the Environment. So i think, something is going wrong. But environment change forgotten.

**My advice**
When a user clicked a link in a collection for

[2020-03-20 09:29] JadinAndrews commented on #5990
Postman extremely slow for me as well, please let us know if there is a beta build available or something, it is extremely annoying at work. It's a great tool otherwise

[2020-03-20 10:37] charleshuangcai opened #8203 "post form-data not support customized headers"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2020-03-20 10:39] charleshuangcai commented on #8203
![image](https://user-images.githubusercontent.com/57748975/77156231-ede6e100-6ad9-11ea-86f8-13cf0e97fd1f.png)
when post form-data,  i want to add some headers for each part, but it only has "key", "value", and "content-type"

[2020-03-20 10:48] filfreire opened #8204 "Missing body when importing CURL with data-raw body defined in Canary 7.21.0-canary03"
**Describe the bug**
In Postman Canary 7.21.0-canary03 (for MacOS), when importing `curl` requests with body as `data-raw` flag, the body ends up missing in Postman.

Same as issue https://github.com/postmanlabs/postman-app-support/issues/7895 (but for latest canary version)

**To Reproduce**
Steps to reproduce the behavior:
1. Import with "Paste Raw Text" the following `curl`:
[code]
2. Check bod

[2020-03-20 11:03] DannyDainton commented on #8204
Hey @filfreire,

Just for additional Info - Amending the `--data-raw` flag to `--data` will import the correct request.

<img width="686" alt="Screenshot 2020-03-20 at 11 01 50" src="https://user-images.githubusercontent.com/17089546/77157926-3a123100-6a9a-11ea-9dc1-71cb13857249.png">

[2020-03-20 12:06] filfreire commented on #8204
@DannyDainton thanks mate!

[2020-03-20 12:24] harryi3t commented on #5681
Hey @NeilyoQin (and others affected by this issue)

Are you still facing this issue? We have found that this happens when the installer ([squirrel](https://github.com/Squirrel/Squirrel.Windows)) is not able to access the installation directory or the directory where user data is stored.

This can happen due to multiple reasons, including but not limited to:
 - multiple installers running (double-c

[2020-03-20 12:26] Cazaimi commented on #2588
@loicginoux , we've exposed this feature on the Web dashboard. Simply head to the private documentation of a Collection by clicking the 'View more' button in the app. Please check the GIF below:

![Mar-20-2020 17-54-20](https://user-images.githubusercontent.com/13660453/77163376-f2a89680-6ad3-11ea-9927-d8116e2af3fc.gif)

I hope this solves your problem 🙂

[2020-03-20 12:27] Cazaimi commented on #7859
@dcalliste, the fix is out for this. Please reach out to us via this thread if you still face problems. 🙂

@Raja-Simha , this can be marked as closed.

[2020-03-20 12:45] loicginoux commented on #2588
Perfect thanks 👏👏

[2020-03-20 12:47] fzs1994 commented on #1060
Thanks Man!!

[2020-03-20 12:57] harryi3t opened #8205 "[Linux] Postman does not quit properly leading to not being able to open a new instance"
**Describe the bug**
Users have [reported](https://github.com/postmanlabs/postman-app-support/issues/4359) that sometimes they are not able to launch Postman. Trying to open the App from the command line shows the message `Could not get the lock, quitting` and then nothing happens.

**To Reproduce**
There can be multiple scenarios that can lead to this state, but we don't have steps that can repro

[2020-03-20 13:07] harryi3t commented on #4359
There seem to be two issues:
- Postman not starting and is stuck on the splash screen. Deleting the user data directory (~/.config/Postman) lets you open the App
 - Postman not starting with no UI since there is already a process running in the background. Killing that process lets you open the App

The second issue does not seem related to this and we have created a separate ticket which is being

[2020-03-20 13:12] codenirvana commented on #8203
@charleshuangcai currently you can only configure a custom `content-type` for each part. The rest of the headers are added automatically based on the type when the request is sent.

Can you tell more about your use-case and what are these additional headers which you want to include?

[2020-03-20 13:24] Sygyzmundovych commented on #5970
Same here. It suggests initial value is used when the current is empty. I do not see this happening either.

[2020-03-20 13:29] ChrisCooney commented on #3157
I'm presently experiencing the exact same thing!

[2020-03-20 13:38] Cazaimi commented on #7711
@krishnakumar-tce , @conradpronto , the 'click-to-expand' functionality has been added where in, a 'View more' button shows up for large tables and code blocks. Please check the image below:

<img width="699" alt="Screenshot 2020-03-20 at 7 08 31 PM" src="https://user-images.githubusercontent.com/13660453/77168669-343e3f00-6ade-11ea-8063-4f7a9e236445.png">

[2020-03-20 13:39] jfcere commented on #7592
Using AspNet Core 3.1, I've implemented my workaround following Microsoft documentation: [Work with SameSite cookies in ASP.NET Core - Support older browser](https://docs.microsoft.com/en-us/aspnet/core/security/samesite?view=aspnetcore-3.1#supporting-older-browsers).

Basically, I just configured Cookie Policy to detect Postman in `User-Agent` request header and set `SameSite=Lax` to be able to r

[2020-03-20 13:51] Cazaimi commented on #5180
@elrod-johnson , we've fixed this in production. Please find the GIF below:

![Mar-20-2020 19-17-53](https://user-images.githubusercontent.com/13660453/77169689-f215fd00-6adf-11ea-9452-451a9b7a6deb.gif)

Hope this solves it 🙂.

[2020-03-20 13:58] charleshuangcai commented on #8203
In mine case, i want to add more fields in content-disposition except 'name' and 'filename' to identify the file metadata. In addition, content-md5 is available.  Looking forward the new feature!

[2020-03-20 15:07] th-m commented on #5990
Same. I am on a mac.

[2020-03-20 15:42] Raj-postman opened #8206 "Hide unused headers in the documentation"
**Is your feature request related to a problem? Please describe.**
Currently, all the headers are displayed in the documentation including those that aren’t checked.

**Describe the solution you'd like**
Provide a way to hide the unchecked headers in the documentation.

**Describe alternatives you've considered**
Currently, we use variables to mask the header values.

[2020-03-20 15:57] josias-r commented on #8040
**Another possible alternative:**
A link to open the PDF w/ an existing PDF Viewer application, but only as a temporary file without a download needed.

[2020-03-20 16:11] EvanTsiatsios commented on #5194
+1

[2020-03-20 16:52] SDESkowronski opened #8207 "Text of Dark Theme is Too Dim"
**Describe the bug**
The text of the Dark Theme is too dim to read for older eyes like mine. Especially during the day when there is lots of sunlight coming in. I use Dark Themes in other apps that uses brighter fonts and they are quite pleasant to use during the day.

**To Reproduce**
Steps to reproduce the behavior:
1. Open the Postman app
2. Switch to Dark Theme
3. View all of the text, especia

[2020-03-20 17:49] jasonmcboyd commented on #7179
To be honest, I thought this _is_ how it was supposed to behave. Unless I am misinterpreting the tooltip that comes up when you hover over the 'current value' column header (emphasis mine):

[2020-03-20 18:45] conradpronto commented on #7711
@Cazaimi @Raja-Simha thank you.  works well on our end.  appreciate the follow-through on this.

[2020-03-20 19:46] krishnakumar-tce commented on #7711
Works well for me. Thanks
On Fri, Mar 20, 2020 at 2:45 PM Conrad Caplin <notifications@github.com>
wrote:

--
Krishna Sent from my iPhone

[2020-03-20 20:12] likemike91 commented on #7592
Isn't the Postman User-Agent header = "PostmanRuntime/7..."?
![image](https://user-images.githubusercontent.com/11736645/77202918-8b98db00-6aef-11ea-99ae-49d8bdf3f503.png)

[2020-03-20 21:35] casti004 opened #8208 "All of my request are empty"
**Describe the bug**
I created a new request folder and tested 14 api request that I placed in that folder.
I reopened Postman the next day and all of the requests are empty.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'My account'
2. Click on 'ResidentialListingsAPI folder'
3. Scroll down to 'GetListings' request
4. See error: the entire request including the url is blank

**Expec

[2020-03-20 22:01] jfcere commented on #7592
This is what I have on Windows 10, using Postman v7.20.1

[code]

[2020-03-20 22:04] thesurenk opened #8209 ""API Key" option under Authorization does not show up - v5.5.4 on Mac"
**Describe the bug**
Following the docs at https://learning.postman.com/docs/postman/sending-api-requests/authorization/#api-key , on Postman 5.5 on Mac , the "API Key" does not show up under Authentication > Type options.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Postman
2. Create a new request
3. Go to Authorization tab, under Type dropdown, "API Key" option does not show up.

[2020-03-20 23:22] ColdCerealAtWork opened #8210 "Pull request view: Nest them in their folders"
**Is your feature request related to a problem? Please describe.**
When reviewing a large pull request I get no information about where the request exists in the collection. It makes it very difficult to understand what request was changed.

**Describe the solution you'd like**
I'd love to have a nested list to the left of the changes where I can expand folders to find the changes and select them

[2020-03-20 23:46] bhawna0612 opened #8211 "Pre-request headers Keys issue- If there is only one header of type application/json and key used is 'headers' then it takes the default header text/plain"
**Description**
Postman version 7.20.1. Pre-request headers Keys issue- If there is only one header of type application/json and key used is 'headers' then it takes the default header text/plain. If key is changed to singular 'header' then it works fine

**To Reproduce**
Steps to reproduce the behavior:
1. Go to postman app
2. Add pre-request script with only one header of type application/json bu

[2020-03-21 00:00] charlesritchea commented on #4463
tone deaf

[2020-03-21 00:36] simundev opened #8212 "Generating a collection from OpenAPI file that uses $ref doesn't work"
**Describe the bug**

The OpenAPI specification supports using the `$ref` keyword in several places, including in paths, but this is not supported by Postman. Loading such a file will succeed (Create New Api), but the next step, Generate Collection, will not produce any results for those endpoints which are described in referenced files.

**To Reproduce**

Use this approach to define your endpoint

[2020-03-21 00:59] simundev commented on #7473
Hi @sankalp0o !

I have a very similar use case in mind, so I hope I am not threadjacking.

I've tried to use the integration with Github, but I gave up. I was asked to create an Access Token, but was not told which privileges this token needs. I tried giving very few privileges, and it didn't work with a private repo. It was also not clear to me how the integration works, that is, which direction

[2020-03-21 04:15] hardy-liu commented on #2369
same issue. It seems Postman cached the dns record for a while. After I modified the hosts file. The Postman stille use the previous dns record for that domain. But after a few moment, it will use the record in hosts file. I wonder if there is a feature i can manually flush the dns cache in Postman.

[2020-03-21 05:44] monty88 commented on #1630
Hello I have the same issue , any help please ?

[2020-03-21 05:57] Bysmyyr opened #8213 "Postman api returns 500 and 504"
Postman API PUT to collections endpoint gives 500 and 504 and sometimes returns an empty body. We update the collections to 25 users from the ci run in wercker which runs 10 updates concurrently. Sometimes all they go through fine, sometimes there is one or two fail which is covered by retry logic but increasingly lately it fails so badly than 10 retries are not enough. Collections are quite big,

[2020-03-21 10:59] zdhalhc commented on #2578
My use case is, I’d like to prevent (accidental) invoking of requests directly from postman. These are requests that are put in a folder made for Collection Runs only.

I realize I could introduce additional environments for this but it would require additional environments and/or user effortand I'd like a solution that works in all environments.

[2020-03-21 11:14] vvs11 commented on #8202
Hi @bayramucuncu, this looks a very valid feature request. Could you let us know how you organize your environments and collections so that we can design a better solution for you?

[2020-03-21 11:17] vvs11 commented on #8204
@filfreire, hope your problem is solved. If not, feel free to reopen this issue.

[2020-03-21 11:17] #8204 closed, assigned to nobody

[2020-03-21 11:21] vvs11 commented on #8209
@ksurendra it is available in the latest version of Postman. Please update your app and let us know if you're still facing issues
![image](https://user-images.githubusercontent.com/4140290/77225334-1b906080-6b94-11ea-82fb-d6058a1909e2.png)

[2020-03-21 11:21] #8209 closed, assigned to nobody

[2020-03-21 11:22] DannyDainton commented on #8204
@vvs11It's a duplicate of the issue mentioned by @filrfreire in the original message.

[2020-03-21 11:37] vvs11 commented on #8211
@bhawna0612 I am not able to reproduce the issue. This is how it looks like:
1. I am using key as 'headers':
![image](https://user-images.githubusercontent.com/4140290/77225556-1d5b2380-6b96-11ea-882e-c74281c2923b.png)

No header is added

2. I am using key as 'header'
![image](https://user-images.githubusercontent.com/4140290/77225578-53000c80-6b96-11ea-86dc-87da0830e374.png)

The correct header

[2020-03-21 11:42] vvs11 commented on #8208
@casti004 This should not be happening. Could you write to us at help@getpostman.com and we will definitely assist you.

[2020-03-21 13:53] gaoliang commented on #1858
Someone made a pull request：https://github.com/postmanlabs/postman-code-generators/pull/221
@a85 @numaanashraf

[2020-03-21 21:01] rahmatputrawiranata commented on #3358
+1 yeah it will be much better

[2020-03-21 21:45] efeurich commented on #3820
I second that firmly

[2020-03-21 21:59] JagsPvr commented on #2302
GSoC 2020,
Hi, I am interested to work on this feature. It will be great if I can get some guidance and how to join IRC channel of PostmanLabs and get started.

[2020-03-21 22:01] forgotPassword opened #8214 "Cookies from cookie manager, get injected into cookie header"
I don't know if this is some magic feature or a bug.

If I set the header cookie:

`cookie:a=1;`

All works as expected.

But if I remove the semicolon,

`cookie:a=1`

~~Postman injects the cookies from the cookie manager~~. This was not expected, and had no visual indication. Luckily in postman console, I could see the raw request and figure something was wrong.

Win10, Postman v7.20.1.

[2020-03-21 22:48] bhawna0612 commented on #8211
@vvs11 I can reproduce the issue constantly. I tried multiple times. In my first screenshot, the reason for the error is incorrect Content-type request header. Because it picked correct request header when key is used as 'header' that's why there is no error in 2nd pre-request.

But in your case, when you used the key as 'headers' why it didn't add the header in request? It should add the Content-

[2020-03-21 23:30] KKaranja commented on #6886
have the same problem
<img width="538" alt="Capt" src="https://user-images.githubusercontent.com/37881972/77238843-0c85ce80-6be5-11ea-8a05-4b5e49a296a7.PNG">
<img width="660" alt="Capture" src="https://user-images.githubusercontent.com/37881972/77238846-190a2700-6be5-11ea-9e32-67f45c497820.PNG">

[2020-03-22 03:53] electricsrini opened #8215 "Feature ask : Store monitor response in the Postman portal for future analysis"
Postman website - Monitor from Collections etc. Ability to store response body with the metrics  info / report.

In case of multi-step monitor - for failure analysis storing the response will be a good value add. Currently, we can create tests and store them as variables, but it not the easiest to store / retrieve and analyze the response for each historical call.

1. Explore option to store the r

[2020-03-22 04:02] electricsrini opened #8216 "Feature request : Get environment variables from Hashicorp vault on runtime"
Currently, for Postman collection managed via environment variables, the credentials are stored unsecured in the application. The users may also inadvertently export and share the environment variables - which may not be desired.

Is there any pattern / test / support for the below workflow –

1. For environment variables, have Hashicorp Vault as the backend credentials store.
2. Get the values (p

[2020-03-22 04:08] electricsrini opened #8217 "Feature request : Get API support on par with UI"
Reference Postman API here :https://documenter.getpostman.com/view/631643/JsLs/?version=latest#intro. The inputs below are to help carry out some of these functions via API, that are currently possible only with UI.

1. Monitors : There is an option to pause from UI. Often, when there are planned downtimes for upgrade, the team prefer to pause the monitor to avoid false positive on alerts. This is

[2020-03-22 04:10] electricsrini opened #8218 "Feature Request : Support and gruop tags"
Both UI and API : Support for tags. This comes in handy to filter by tags – both in UI and any associated API call for monitors.

Example - group monitors by environment like - Dev, Stage, Prod etc. Have these tags as an option to filter the response for reports, monitors etc,

[2020-03-22 10:52] bayramucuncu commented on #8202
@vvs11 How can I let you know my env. and collections?

[2020-03-22 11:24] AlyAzeemi commented on #7569
Same.

[2020-03-22 12:23] freerider7777 commented on #6351
+1

[2020-03-22 18:46] silvertear commented on #5990
Me and the other people I work with are also experiencing exceptionally slow performance with the current version of postman (v7.20.1).  Is there a way to use older versions that aren't as slow as the current one?

[2020-03-22 19:27] shamasis commented on #7561
Additionally, you can email help@postman.com with your user details and check in to see if we can trace the cause of this from any form of server errors.

[2020-03-22 19:29] shamasis commented on #7957
This could be because changes are not reflected while one runner window is still open. Thanks for reporting.

[2020-03-22 20:13] TCROC commented on #7125
@tsasioglu Not saying you are "the man"... but if there were to theoretically be "a man", he might look something like you 😉

[2020-03-22 21:07] maplion opened #8219 "Feature Request: Dock Postman Console"
**Is your feature request related to a problem? Please describe.**
No.

**Describe the solution you'd like**
I would like to be able to dock the Postman Console as part of the main window and open it and use it by default.  Would be nice to have both bottom and side-dock options.

**Describe alternatives you've considered**
None.

**Additional context**
None.

[2020-03-23 00:15] xmha97 opened #8220 "System Installer for Postman native app"
The Postman installer, install Postman only for current user.
Please make system installer (install for all users)

like VisualStudio Code
[![VisualStudio Code Site](https://user-images.githubusercontent.com/23485114/77267363-fa2c9300-6cbf-11ea-9e78-5db8680e6ca2.png)](https://code.visualstudio.com/#alt-downloads)

Similar of #3897

[2020-03-23 01:28] gpeal commented on #5990
Same here. It is so slow that I really can't even use it on Catalina.

[2020-03-23 01:41] xieyy09 commented on #8128
HI, I reproduced the error.
Chrome and curl return normally, postman error is the same!

**chrome:**
![image](https://user-images.githubusercontent.com/21615006/77271687-4260ab00-6cea-11ea-8b5c-0b93a25777c1.png)
![image](https://user-images.githubusercontent.com/21615006/77271693-47255f00-6cea-11ea-9bc1-4dfafd8c918d.png)
**curl:**
![image](https://user-images.githubusercontent.com/21615006/7727173

[2020-03-23 01:45] shydefoo commented on #6969
Also facing this issue for Postman version 7.20.1 on Catalina 10.15.3

[2020-03-23 03:05] preethammavin commented on #8213
@Bysmyyr can you write to us at help@getpostman.com. Would want to take a deeper look at this, I would suggest breaking the collection down into smaller collections of size (preferably lesser than 25 MB) as I see it is timeout error there.

[2020-03-23 05:11] ankit-m commented on #8190
@jpzabriskie

The collection was forked in your personal workspace and the destination collection was in a team workspace. When you create a PR, the reviewers need view access on the forked collection to see the diff. Hence, you are seeing the error.

We are improving error messages, adding inline messages while creating forks and adding the ability to share the forked collection before creating a

[2020-03-23 05:11] #8190 closed, assigned to ankit-m

[2020-03-23 06:02] coditva commented on #8214
Hey @forgotPassword I was not able to reproduce this issue with the information you provided. Can you check that there are cookies present (or not present) in the Cookies manager when you send request in both cases (with and without semicolon)?

If cookies are present in the Cookies Manager, they will be sent with the request in both cases.

You can also try out the new live preview of headers whi

[2020-03-23 07:01] coditva commented on #8128
It seems to be that the status code is if 5 characters instead of 3 characters long. This is what's causing Postman to fail to parse the response!

According to the [RFC 7231](https://tools.ietf.org/html/rfc7231#section-6), the status codes are supposed to be 3 digits only.

It is NodeJS that fails and returns this error. This is a limitation of the response parser itself.

[2020-03-23 09:36] cbetta commented on #8016
@shamasis sure but that doesn't expose it as a path param but as a collection variable.

[2020-03-23 09:46] arlemi commented on #8220
We're tracking this in #4576, please add any feedback you feel is relevant there!

Closing this one.

[2020-03-23 09:46] #8220 closed, assigned to nobody

[2020-03-23 09:53] umeshp7 commented on #7898
@wooger Could you please try this again in the latest version of the App and let us know if you are still facing this issue?

I tried with the schema you have given and I am able to import it on the latest version of the App.

[2020-03-23 10:46] vvs11 commented on #8211
@bhawna0612  You can add multiple headers by using multiple key-value pairs in 'header' section.
'headers' is not valid

[2020-03-23 11:36] cyrielle-hada opened #8221 "Bootcamp lesson Resume button doesn't work"
**Describe the bug**
Postman Bootcamp Resume button doesn't take the user back to the lesson.
Nothing happens when clicking on it.

**To Reproduce**

1. Open the Postman prod app - version 7.20.1
2. Click on Bootcamp Select any skill (for example, API documentation)
3. Click learn and start the lesson
4. Before the lesson is 100% completed, select another collection and another request - the toolt

[2020-03-23 11:59] Chibby opened #8222 "hosts file with multiple domains on a single line is not properly used"
**Describe the bug**
I am using [ddev](https://ddev.readthedocs.io) for local development. ddev will add local domains on a single line in the hosts file. This can add up quickly, so right now I have 56 domains on a single line, all pointing to 127.0.0.1.
All goes well for the first 27, but from domain #28 and beyond, Postman does not recognise the domains anymore.

**To Reproduce**
Steps to repro

[2020-03-23 12:04] psgomes opened #8223 "Postman not doing "TCP Keep Alive" for long duration requests"
Bug description
When using Postman to call API's that take longer than 1 minute to respond, the connection is closed by the network firewall since it has a "idle timeout" of 30 seconds. Using other Rest clients (such as RESTClient plugin for Firefox) we see that a "TCP Keep Alive" is sent by the tool every 10 seconds keeping the connection alive, and enabling the successful call of the API.

To Re

[2020-03-23 12:24] coditva commented on #8222
Hey @Chibby, I tried setting multiple hosts on a single line as:
[code]

This seems to be working fine for me in Postman. I was able to send request to `http://d28:3000` (all domains from `d1` to `d56` infact) and it sent the request correctly and display the response.

Can you provide with more info about the hosts file like:
- what is the length of the whole line
- what is the length of the doma

[2020-03-23 12:37] Chibby commented on #8222
Currently 1903 characters

Longest functional domain name: 43 characters
Longest failing domain name: 41 characters

Yes.

So I guess it has nothing to do with the amount of domains, but with the length of the line.

[2020-03-23 12:50] vikiCoder commented on #7522
@osowskit, we have identified the problem and we will be fixing this soon. Will update the thread when it is fixed.

[2020-03-23 12:51] vikiCoder commented on #7871
@hfsrazzimonti, I was able to reproduce the issue. We have identified the problem and we will be fixing this soon. Will update the thread when it is fixed.

[2020-03-23 12:55] coditva commented on #8222
I updated my hosts file to include this line:
[code]

Every domain name is 40 `a` followed by a number. The total length of line is 3894! And every domain is working fine for me...

Does you domain names contain any special characters? Could you share the domain list or maybe just the domain name that is failing?

[2020-03-23 12:55] Bysmyyr opened #8224 "Allow update many account collections with one api call"
Now we have to update 30 account collections with individual API calls. This is not necessary and it would be nice to do it with only one call which updates them all.

[2020-03-23 13:19] coditva commented on #8118
@tyd We've added an additional attribute `Expires` with default value of an year from the current date. You can always choose to remove this to create a session cookie if you want!

Please update to Postman `v7.21.0` :tada:

![image](https://user-images.githubusercontent.com/8445768/77320695-0acc2000-6d37-11ea-9ea7-716c49961b42.png)

[2020-03-23 13:19] #8118 closed, assigned to codenirvana

[2020-03-23 13:23] coditva commented on #6776
Fixed in Postman `v7.21.0` 🎉

[2020-03-23 13:23] #6776 closed, assigned to vkaegis, saswatds, ritwijsinha

[2020-03-23 13:27] coditva commented on #7324
Fixed in Postman `v7.21.0` 🎉

[2020-03-23 13:27] #7324 closed, assigned to vkaegis

[2020-03-23 13:29] chris-jansson commented on #7368
@vikiCoder thanks for looking into it. I think the issue is network connectivity, not Postman. I'm happy to close, unless you are still resolving @xxxxpenny 's issue

[2020-03-23 13:35] vikiCoder commented on #3999
The changes mentioned in my [previous comment](https://github.com/postmanlabs/postman-app-support/issues/3999#issuecomment-597455150) are out in the latest version of the Postman app (v7.21.0).

[2020-03-23 13:35] #3999 closed, assigned to vikiCoder

[2020-03-23 13:36] vikiCoder commented on #4300
The changes mentioned in my [previous comment](https://github.com/postmanlabs/postman-app-support/issues/4300#issuecomment-597457804) are out in the latest version of the Postman app (v7.21.0).

[2020-03-23 13:36] #4300 closed, assigned to vikiCoder

[2020-03-23 13:44] vikiCoder commented on #7138
The changes mentioned in my [previous comment](https://github.com/postmanlabs/postman-app-support/issues/7138#issuecomment-597642899) are out in the latest version of the Postman app (v7.21.0).

[2020-03-23 13:44] #7138 closed, assigned to vikiCoder

[2020-03-23 13:46] vikiCoder commented on #7828
The fix is out in the latest version of the Postman app (v7.21.0).

[2020-03-23 13:46] #7828 closed, assigned to vikiCoder

[2020-03-23 13:48] vikiCoder commented on #7946
The fix is out in the latest version of the Postman app (v7.21.0).

[2020-03-23 13:48] #7946 closed, assigned to vikiCoder

[2020-03-23 13:49] vikiCoder commented on #8054
The fix is out in the latest version of the Postman app (v7.21.0).

[2020-03-23 13:49] #8054 closed, assigned to vikiCoder

[2020-03-23 14:08] numaanashraf opened #8225 "API tab crashes when another tab is closed"
**Describe the bug**
API tab crashes unexpectedly

**To Reproduce**
Steps to reproduce the behavior:
1. Open an API in a tab
2. Open requests in few tabs and continue working
3. Switch back to the API tab after some time
4. See error

**Expected behavior**
Not crash

**Screenshots**
![Screenshot 2020-03-23 at 7 15 19 PM](https://user-images.githubusercontent.com/3295568/77324954-829d4900-6d3d-11ea

[2020-03-23 14:13] ankurdengla commented on #6053
Hey @girtsn @cokeby190 @apolloniusoftyana @ioneyed !

Proxy authentication support has been released as part of Postman v7.21.0.

[2020-03-23 14:13] ankurdengla commented on #3450
Hey @StormRider01 !

Proxy authentication support has been released as part of Postman v7.21.0.

[2020-03-23 14:13] #3450 closed, assigned to numaanashraf

[2020-03-23 14:38] muri61 commented on #1066
+1 from 2020.

[2020-03-23 14:40] GlennIM commented on #7032
When clicking the "Request Token" button, the "Connect To Pinterest" dialog appears to grant access, then when I click the OK button in that dialog I get the following error message...

`{"status": "failure", "code": 12, "data": "path: /oauth/\nparams:<dict_itemiterator object at 0x7fad8ef24050>\nAuthError(code=500, message='dial tcp 127.0.0.1:22000: connect: connection refused')", "message": "Som

[2020-03-23 14:41] webwarrior06 commented on #1066
+1 and more on behalf of rest of the users

[2020-03-23 14:46] zangyunfei01 opened #8226 "Programming language type of Pre-request script and Tests"
Hello, in the process of using Postman, I found that Pre-request script and Tests were written in js. Can you support other languages, such as java, python?

[2020-03-23 14:51] GlennIM opened #8227 "OAuth Request Authorization Code Not Working"
When clicking the "Request Token" button, the "Connect To Pinterest" dialog appears to grant access, then when I click the OK button in that dialog I get the following error message...

{"status": "failure", "code": 12, "data": "path: /oauth/\nparams:<dict_itemiterator object at 0x7fad8ef24050>\nAuthError(code=500, message='dial tcp 127.0.0.1:22000: connect: connection refused')", "message": "Some

[2020-03-23 15:02] vikiCoder commented on #8227
Hi @GlennIM, from the error message it seems to be a problem at the server side. Where are you seeing this message, on the browser popup while granting the access?

[2020-03-23 15:08] GlennIM commented on #8227
Yes. See attached image.
![AccessTokenError](https://user-images.githubusercontent.com/40885095/77331109-48588b00-6cee-11ea-92b4-68c9d8a539d2.jpg)

[2020-03-23 15:14] GlennIM commented on #8227
Here is the input for the request...
![AccessTokenErrorInput](https://user-images.githubusercontent.com/40885095/77331678-10057c80-6cef-11ea-970c-ec73a33d8948.jpg)

[2020-03-23 15:32] breathermachine opened #8228 "The "Automatically follow redirects" setting's description conflicts with the title."
**Describe the bug**
The "Automatically follow redirects" setting's description conflicts with the title.
<img width="766" alt="Screen Shot 2020-03-19 at 10 31 34" src="https://user-images.githubusercontent.com/16012337/77332557-89d84d00-6d65-11ea-8179-0d6d9320f6cc.png">
What does ON mean here?

Does it mean "Automatically follow redirects" as implied by the title? Or "Prevent requests that return

[2020-03-23 15:50] wmedali commented on #2694
🆙 🆙 🆙

[2020-03-23 16:17] lekhanairk2006 commented on #7399
Seeing same issue in  Postman for Windows
Version 7.20.1
win32 6.1.7601 / x64

[2020-03-23 16:39] numaanashraf commented on #8225
More details on this issue:

This seems to be triggered when a different tab is closed.

[2020-03-23 16:43] insomniac12 commented on #8225
@numaanashraf Thank you for reporting this issue.
We are able to reproduce this issue. This happens when any adjacent active tab to the API tab is closed. We are working on the fix.

[2020-03-23 16:53] nsenthilnath opened #8229 "Postman Runner not showing values for URL that are populated from CSV file"
**Describe the bug**
I use postman runner to fill in values for the URL host since I need to send the same request to multiple hosts. I use a csv data file to populate the endpoint host via the Runner. With an earlier version of postman, In the runner it used to show the URL values populated. Now with the latest revisions of Postman it just shows the variable in the URL portion of the iteration.

[2020-03-23 17:47] Chibby commented on #8222
The only difference between your test case, and my real case is the relative complexity of domains used. Most local domains follow this pattern: <project-name>.loc.loyals.online. Some have even more segments. The problem in my line seems to occur after a domain name that has 5 segments (www.<project-name>.loc.loyals.online).

There are no special characters involved.

I am reluctant to share the f

[2020-03-23 17:53] lesscodetxm commented on #3084
I'm seeing the same issue with 7.20.1. If Postman is configured to use the system proxy I can't connect to one of our services (I can connect outside of Postman - eg Chrome). The system proxy is configured via a Symantec PAC file. I have to plug the IP address given by the PAC script into the Postman Global proxy settings in or for it to work.

[2020-03-23 18:00] rohitbindra opened #8230 "Unable to add new card on the billing section"
**Describe the bug**
Unable to add new card on the billing section, the error is "'StripeCheckout' is not defined". I have checked on chrome and edge browsers.

**To Reproduce
![error]
**
Steps to reproduce the behavior:
1. Go to 'Billing'
2. Click on 'Payment Methods'
3. Click on 'Add a new Card'
4. See error 'StripeCheckout' is not defined"

**Expected behavior**
It should allow to add a new car

[2020-03-23 18:35] ArjunSingh-PM commented on #5610
@Phyziik, Postman monitoring provides an option to monitor APIs from a static IP address for the Business and Enterprise plans. Please refer to https://learning.postman.com/docs/postman/monitors/using-static-IPs-to-monitor/ for more details

[2020-03-23 19:39] jstutson commented on #4079
+1

[2020-03-23 20:50] forgotPassword commented on #8214
You are right, it appears Postman always sends cookies. Sorry for the wrong information. It just didn't cause issues before. How can I disable this behavior? If I want an explicit control over 'Cookie' header? Do I have to clear the cookie manager after each request?

[2020-03-23 21:30] lesscodetxm commented on #3084
I stand corrected - I thought I was running 7.20.1 after I updated from within Postman, but after I restarted the Proxy tab looks different and I can no longer connect to the problem service no matter what Proxy settings I have, it seems. The service continues to work fine in the browser and from other scripts and apps.

[2020-03-23 21:46] GlennIM commented on #8227
Is there a fix for this?

[2020-03-23 22:22] bhawna0612 commented on #8211
I am closing this issue for now

[2020-03-23 22:22] #8211 closed, assigned to vvs11

[2020-03-23 22:28] shamasis commented on #7887
The latest Postman app highlights these erroneous characters.

[2020-03-23 22:28] #7887 closed, assigned to vvs11, ritwijsinha

[2020-03-23 22:34] jpzabriskie commented on #8190
@ankit-m Thanks, I think that would explain a few different things I was seeing.

[2020-03-24 00:42] chriskinsman opened #8231 "Option to use id_token instead of access_token from OAuth 2.0 Flow"
Currently when using an OAuth 2.0 flow with a number of idp (Azure AAD, Auth0) they return both an access_token and an id_token.  Postman will only use the id_token by default when you click use token.  Many apis require you to use the id_token instead.

**Describe the solution you'd like**
Give me an option of which token to use!

**Describe alternatives you've considered**
Work around is to go i

[2020-03-24 04:04] kamalaknn commented on #3084
@lesscodetxm Can you share more information to help us debug this?

1. The version of Postman you are using right now
2. Screenshot of the Proxy tab in settings
3. Information on the proxy you are using. Do you have a different configuration for proxy for the services you are using?
4. Can you share the errors you are getting for the requests by opening `View -> Show Postman Console`?

[2020-03-24 04:36] vikiCoder commented on #8227
This is a problem from the Pinterest server side. Please contact Pinterest regarding the error. I am closing the issue since It is not a problem with the Postman app.

[2020-03-24 04:36] #8227 closed, assigned to nobody

[2020-03-24 04:55] smitit173 commented on #8230
Hi Rohit, thanks for your feedback. Could you please send the devtools screenshot as well so that we can confirm it's not a timing issue.

[2020-03-24 05:06] saswatds commented on #8229
Closing this as a duplicate of https://github.com/postmanlabs/postman-app-support/issues/8166

[2020-03-24 05:06] #8229 closed, assigned to nobody

[2020-03-24 05:24] saswatds commented on #8166
Hi @Super-Net-Ops the request row is now shown before the `pre-request scipts` executes which is the most accurate representation. (The request name and request url are supposed to show the authored version and not resolved)
In that moment of time the URL has still not been resolved as it is possible that the pre-request could modify the variables.
We have tried fixing all inconsistency in represe

[2020-03-24 05:24] #8166 closed, assigned to saswatds

[2020-03-24 05:54] coditva commented on #8214
@forgotPassword You're in luck! We just added an option to disable using cookies from the Cookie manager: "Disable cookie jar"

![image](https://user-images.githubusercontent.com/8445768/77392675-7eb30a80-6dc1-11ea-9d27-0981ded340ab.png)

You can find it in the "Settings" tab for your request in Postman `v7.21.0` 🎉

For the issue where two `;` are added, it is because when there are multiple heade

[2020-03-24 05:59] coditva commented on #8222
@Chibby Even this does not seem to be the issue! I added this line in my hostfile:
[code]
and everything is still working as expected.

Can you check what happens if you remove the host that is not working? Do other hosts work after this? What happens when you put this host on a different line than other hosts?

I feel this might not be a hosts file issue but maybe a certificate or proxy issue(?)

[2020-03-24 06:33] rohitbindra commented on #8230
Hi, I'm not using any tool just doing the administration, only have MS office on my laptop.

Regards,
Rohit

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Smit Shah <notifications@github.com>
Sent: Tuesday, March 24, 2020 10:25:46 AM
To: postmanlabs/postman-app-support <postman-app-support@noreply.github.com>
Cc: Rohit Bindra <rohitbindra@hotmail.com>; Auth

[2020-03-24 08:17] Chibby commented on #8222
I have tinkered with the hosts file, and I now have a file where all domains function as intended. I do believe you are right that this may not be a hosts file issue.
As far as I am concerned: case closed.
I would thank you for your patience and assistance.

[2020-03-24 08:17] #8222 closed, assigned to coditva

[2020-03-24 09:02] shreys7 commented on #7827
Hey @firewuff, with Postman 7.21.0, We have improved experience around the headers which lets you see all the headers that will be sent with the request, beforehand. Thus, we have removed the `Include Temporary headers` option from code generator configurations, and this header will be automatically added to the code generated.

[2020-03-24 09:04] ankit-m commented on #3261
Released to production.

[2020-03-24 09:04] #3261 closed, assigned to anudeepmedicharla, preethammavin

[2020-03-24 09:24] appurva21 commented on #8181
Hey @leofrances-extflowbird, we have fixed this issue in the latest App release `v7.21.0` 🎉 .

We have also added more control around the automatically added headers with this release which will allow you to choose the exact headers that you want to send with the request. Refer the documentation [here](https://learning.postman.com/docs/postman/sending-api-requests/requests/#auto-generated-headers)

[2020-03-24 09:24] #8181 closed, assigned to appurva21

[2020-03-24 09:40] #7827 closed, assigned to vvs11, shreys7

[2020-03-24 10:03] rami-dabain opened #8232 "[UBUNTU] Postman requires system restart to start"
**Describe the bug**
When closing and opening postman multiple times on ubuntu (5.3.0-40-generic), at some point, postman will not start

**To Reproduce**
Steps to reproduce the behavior:
1. Open postman.
2. Update a call, without saving it, nor syncing it
3. Close postman
4. repeat with some interval (5-10 minutes) until postman will not start

**Expected behavior**
A clear and concise descriptio

[2020-03-24 10:12] ritwijsinha commented on #4339
Hey @vzhufk

We've introduced the feature for visualizing whitespaces and highlighting invalid characters.

For more info, go through this: https://learning.postman.com/docs/postman/sending-api-requests/requests/#troubleshooting-your-requests

Cheers! 🎉

[2020-03-24 10:12] #4339 closed, assigned to ritwijsinha

[2020-03-24 10:12] ritwijsinha commented on #7162
Hey @elicoten

We've introduced the feature for visualizing whitespaces and highlighting invalid characters.

For more info, go through this: https://learning.postman.com/docs/postman/sending-api-requests/requests/#troubleshooting-your-requests

Cheers! 🎉

[2020-03-24 10:12] #7162 closed, assigned to vkaegis

[2020-03-24 10:14] ritwijsinha commented on #7585
Hey @chenxi65535 @gpmind @sanudatta11

We've introduced the feature for visualizing whitespaces and highlighting invalid characters, which would help you in debugging this super easily!

For more info, go through this: https://learning.postman.com/docs/postman/sending-api-requests/requests/#troubleshooting-your-requests

Cheers! 🎉

[2020-03-24 10:14] #7585 closed, assigned to vikiCoder

[2020-03-24 10:14] smitit173 commented on #8230
Hey, there is no need for any tool as such. Since the error has been experienced in the chrome browser you can follow these steps :
1.  press `ctrl + shift + J ` this will open chrome devtools for you
2. You will see a **Network** header there
3. Under the Network header there will be a **JS** section
4. Reload the page using `ctrl + shift + R` you will see a list of files under the JS section
5.

[2020-03-24 10:15] ritwijsinha commented on #7882
Hey @gpmind @TheClassic

We've introduced the feature for visualizing whitespaces and highlighting invalid characters, which would help you in debugging this super easily!

For more info, go through this: https://learning.postman.com/docs/postman/sending-api-requests/requests/#troubleshooting-your-requests

Cheers! 🎉

[2020-03-24 10:15] #7882 closed, assigned to ritwijsinha

[2020-03-24 10:52] im-bhaskar opened #8233 "BUG:Mock is not happening if only request body has change"
**Describe the bug**
If a URI path is same for a POST request
when i change the request body as per our application response is keep on changes
on this situation we can't able to reproduce that as a mock example.

Because it only saved the first API example and concentrated on URI path and did't checking body.
As result of this when i hit other API then first it is giving the first API response fo

[2020-03-24 10:59] arlemi commented on #2689
Hi everyone!

We've released Live Preview in the latest version of the app (7.21.0), this gives you the ability to see all the auto-generated headers as you build the request. You can also disable/override them before sending your request (including the `Accept-Encoding` one). Read more about this on [our Learning Center](https://learning.postman.com/docs/postman/sending-api-requests/requests/#aut

[2020-03-24 10:59] #2689 closed, assigned to codenirvana, vkaegis

[2020-03-24 11:03] RJLuckey commented on #777
It is a very common problem with everyone using Elasticsearch!

[2020-03-24 11:06] arlemi commented on #6396
Hey @E1337Kat!

We've just released a new feature called [Live Preview](https://community.postman.com/t/live-preview-is-out/11497) in the latest version of the app (7.21.0) which adds authorization headers at the collection level to the auto-generated headers of the requests.

![collectionheader](https://user-images.githubusercontent.com/5029719/77418785-4dd1d600-6dbf-11ea-9b8c-a959936dbba6.gif)

[2020-03-24 11:06] #6396 closed, assigned to nobody

[2020-03-24 12:50] m3dbedb opened #8234 "Postman 7.21 hangs on Preparing workspaces"
**Describe the bug**
After auto installation Postman failed to start

**To Reproduce**
1. install Postman 7.20
2. Run Postman-win32-7.21.0-Setup.exe
3. See flying balls "Preparing your workspaces"

**Expected behavior**
After update Postman expected to run

**App information (please complete the following information):**
 - Native App
 - Postman Version 7.21
 - Windows 7 32 bit
![pr](https://user-

[2020-03-24 12:56] m3dbedb commented on #8234
Temporary solution to update 7.20 to 7.20.1

[2020-03-24 12:58] codezninja opened #8235 "Copy Bearer Token to Subsequent Calls using Authorization type Bearer"
**Is your feature request related to a problem? Please describe.**
I'm using an api that uses bearer token for authentication. When "Include Temporary Headers" I would assume the subsequent calls I click in the response from the first call it would still use the same bearer token. But this does not work if I use Postman built in authorization. If I set the Authorization header in headers tab manua

[2020-03-24 13:07] ma-schmidt-de opened #8236 "Postman Teams blocks sharing of collections"
**Describe the bug**
I was trying to import 21 collections to my team workspace but only 6 actually reached Postman cloud. My personal desktop app keeps trying to upload but fails.

**To Reproduce**
Steps to reproduce the behavior:
1. Login to user that is part of a Team on Postman Team plan
2. Switch to a team workspace
3. Attempt to upload 10+ collections
4. No error is shown.
5. Login with a di

[2020-03-24 13:49] leofrances-extflowbird commented on #8181
@appurva21 Thank you so much!

[2020-03-24 14:01] lesscodetxm commented on #3084
@kamalaknn
I had uninstalled Postman and tried to reinstall, and ended up in the situation described here: https://github.com/postmanlabs/postman-app-support/issues/6723

After uninstalling, wiping the Postman folder from my AppData and reinstalling, I'm able to run again (7.20.1) and the Proxy tab looks like it did before I updated (two sections, one for Global Proxy and one for System Proxy).

I

[2020-03-24 14:50] peeeto commented on #2701
+1

[2020-03-24 14:56] insomniac12 commented on #8225
This issue has been fixed in Postman 7.21.1.

[2020-03-24 14:57] #8225 closed, assigned to insomniac12

[2020-03-24 15:03] rohitbindra commented on #8230
![image](https://user-images.githubusercontent.com/39771471/77440247-60143a00-6de8-11ea-9013-f21fe9be5762.png)

[2020-03-24 15:08] mansidoshi commented on #5873
Im facing the same issue too. Any solutions?

[2020-03-24 15:11] mansidoshi commented on #8180
I too am facing the same issue. Any leads would be appreciated.
Thanks

[2020-03-24 15:17] Webonaute commented on #5194
+1

[2020-03-24 15:31] careless6666 commented on #5194
+1

[2020-03-24 15:45] arlemi commented on #8096
The `totalTime` variable has been added from 7.21.0!

[2020-03-24 15:45] #8096 closed, assigned to appurva21

[2020-03-24 15:50] arlemi commented on #8027
Hey @Wotuu!

We've added both of these in 7.21.0, hope this helps with your request!

![Screenshot 2020-03-24 at 15 48 59](https://user-images.githubusercontent.com/5029719/77447141-39a1cf00-6de7-11ea-8b1d-bc6848e58087.png)
![Screenshot 2020-03-24 at 15 49 59](https://user-images.githubusercontent.com/5029719/77447147-3c042900-6de7-11ea-913a-8febfd3ba548.png)

[2020-03-24 15:50] #8027 closed, assigned to saswatds

[2020-03-24 15:52] arlemi commented on #8081
Just to confirm, this was push with the 7.21.0 release!

[2020-03-24 16:51] JP-from-Postman opened #8237 "Option to resolve variables when publishing collection"
**Is your feature request related to a problem? Please describe.**
Some teams may use a Collection internally, and so need variables for the request URL to switch between production and dev environments, but may also want to publish the same Collection. The published version would only need the production URL, but publishing the collection will still show the variable:

https://domain.com/{{dev_or

[2020-03-24 16:54] #8237 closed, assigned to nobody

[2020-03-24 17:08] josephpconley commented on #7561
I will close, latest version of Postman doesn't seem to be having this issue.  Thanks!

[2020-03-24 17:08] #7561 closed, assigned to codenirvana

[2020-03-24 17:21] kamalaknn commented on #8232
@rami-dabain Can you forward the logs from `View -> Developer -> View logs in Explorer` to `help@postman.com` so we can take a closer look at this issue?

[2020-03-24 17:25] smitit173 commented on #8230
Hi Rohit ,
 We can see that the stripe checkout library isn't getting loaded. That is the reason you are getting the error. There are several approaches / steps that you can take :
1. Clear the cache/ browsing data for this site. To learn how to clear cache for the browser you can see the image for reference.
<img width="742" alt="Screen Shot 2020-03-24 at 10 48 31 PM" src="https://user-images.git

[2020-03-24 17:54] kamalaknn commented on #8207
Hey @SDESkowronski

We are looking at improving the general accessibility of Postman with better contrast for colors. Is there any part of the App where you are noticing this? Can you attach screenshots of particular sections where you are having issues if any?

[2020-03-24 17:56] JP-from-Postman opened #8238 "Copying values from form-data removes newline characters"
**Describe the bug**
Copying values from form-data or x-www-form-urlencoded removes newline characters from the contents.

**To Reproduce**
Steps to reproduce the behavior:
1. Enter the following text into a form-data value field in Postman

2. Copy the value from Postman and paste into a text editor
3. See that the text becomes

**Expected behavior**
Newline characters are preserved when copying

[2020-03-24 18:28] oliviervanbulck commented on #6643
I believe I have the same problem now in Postman v7.20.0. The pretty result isn't updating after a new call when the result is json code.

[2020-03-24 18:41] oliviervanbulck commented on #6643
NVM, used the version from ubuntu software. Now the latest version and it works!

[2020-03-24 19:00] tonypaolucci commented on #2761
@prezire  Agreed. In my case we work with a few 3rd party vendors to aid in development and any updates or improvements I make to the collection in their dedicated folder could be immediately exported for their use.

[2020-03-24 19:09] numaanashraf commented on #5990
Hey everyone! We've been working on a lot of performance optimisations lately, including responsiveness while typing URLs. We have a patch ready that we believe makes URL typing better for folks with a lot of history and saved collection requests in their workspace and this is available on our early access Canary build now - https://www.postman.com/downloads/canary. It'll help us a lot, if you fol

[2020-03-24 19:40] vvs11 commented on #8233
Hey @Bhaskarbe, Thanks for writing in. If I understand the problem correctly, you're trying to match requests with different bodies and the same URL.
You need to enable body matching by using 'x-mock-match-request-body' header in the mock request. You can go through the documentation here.

https://learning.postman.com/docs/postman/mock-servers/mock-with-api/#run-the-mock-service

Let us know if t

[2020-03-24 19:46] ildemartinez commented on #8081
Yes...works fine!

[2020-03-24 19:50] vvs11 commented on #8224
@Bysmyyr could you elaborate your use case in a little more detail?
You have one Postman account and 30 collections in it or there are different accounts?

[2020-03-24 19:54] vvs11 commented on #8183
@jcald1  Closing the issue for now. If you have more questions, please post them on our community:
https://community.getpostman.com/
We will definitely assist you.

[2020-03-24 19:54] #8183 closed, assigned to sankalp0o

[2020-03-24 19:55] Bysmyyr commented on #8224
We generate Postman collections from apib-files in CI which update them for 30 developers.

[2020-03-24 19:57] vvs11 commented on #8224
and these 30 developers have 30 different accounts on Postman?

[2020-03-24 19:58] Bysmyyr commented on #8224
Of course every developer has their own account

[2020-03-24 20:27] alphadever commented on #6712
is there any update on this. I am still not able to get it to work, tried all the suggestions above.

[2020-03-24 22:11] pennstatephil commented on #1678
+1

[2020-03-24 23:53] Prajwal-Koirala commented on #4576
+1

[2020-03-25 00:28] someshkoli opened #8239 "Postman codegen list not expanding sideways"
**Describe the bug**
The codegenerator language list is not expanding sideways as for the languages having more than one codegen support, the type of codegen option opens sideways it is not visible until scrolled using the scrollbar

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'open any request'
2. Click on 'code' to follow to the codegenerator and click on the language
3. Scroll do

[2020-03-25 03:39] Aisahamzah commented on #3358
+1 would be very helpful

[2020-03-25 04:05] kamalaknn commented on #8239
@someshkoli Thanks for reporting this. We are tracking this in #6559.  I'm closing this as a duplicate. Please subscribe to the original issue for updates.

[2020-03-25 04:05] #8239 closed, assigned to nobody

[2020-03-25 04:17] abhijitkane commented on #8239
@someshkoli While this is fixed, I'd recommend switching to the new code-generation feature (Postman settings -> New Code Generation Mode). We've introduced the ability to configure the generated code snippet and included a number of bugfixes. Would love your feedback on that :)

[2020-03-25 04:45] vikiCoder commented on #8177
Possible duplicate of https://github.com/postmanlabs/postman-app-support/issues/7105

[2020-03-25 05:22] harryi3t commented on #8234
Hey @m3dbedb
We are tracking this issue here https://github.com/postmanlabs/postman-app-support/issues/6723

Can you share with us the logs from `%USERPROFILE%\AppData\Roaming\Postman\logs` or at help@getpostman.com? It would really help us triage and fix the issue.

Please mention the GitHub issue ID (8234) in the subject line.

[2020-03-25 05:22] #8234 closed, assigned to harryi3t, kamalaknn

[2020-03-25 05:29] harryi3t commented on #8232
@rami-dabain It looks like all the processes are not quitting properly.
We are tracking this issue here https://github.com/postmanlabs/postman-app-support/issues/8205

We are trying to find the root cause of this. Until this issue is fixed you can use the workaround (mentioned in the original ticket too) to kill all the processes by running `killall Postman`

[2020-03-25 05:29] #8232 closed, assigned to nobody

[2020-03-25 05:41] appurva21 commented on #5484
Hey @cloverzrg, in the latest version - `v7.21.0` of the App we have improved the experience around the headers that are automatically added by Postman. So to meet your use case here,
 you can go to the Headers tab and disable the `User-Agent` header by unchecking its checkbox.

![disable-user-agent](https://user-images.githubusercontent.com/24985700/77505319-d23c5b80-6e88-11ea-9a7f-c083943fba8a.g

[2020-03-25 05:41] #5484 closed, assigned to nobody

[2020-03-25 06:12] m3dbedb commented on #8234
done

[2020-03-25 07:11] saswatds commented on #1498
Hi everyone, a quick update here. In the latest version of the app the language selection and header have been decoupled. The app no longer add any headers on language selection. Any custom content-type header you add will be respected and if no header is provided then while sending the request a suitable header is selected for you based on the language. This feature should work as it's supposed t

[2020-03-25 07:11] #1498 closed, assigned to a85, saswatds

[2020-03-25 07:16] ProBeta1 commented on #6442
This issue should be closed now .

[2020-03-25 07:29] fvilches17 commented on #6442
Feature implemented? or feature no-go?

[2020-03-25 07:40] odecroupette commented on #7990
{{$randomZipCode}} is indeed listed on the available variables in documentation.

[2020-03-25 07:49] ProBeta1 commented on #6442
![Screenshot from 2020-03-25 13-17-37](https://user-images.githubusercontent.com/33081197/77513485-22241e00-6e9b-11ea-95e1-9dfce8033e09.png)

[2020-03-25 08:03] DuchenePierre opened #8240 "Postman install and update fail since 7.21.0"
**Describe the bug**
Installation and update is broken since at least 7.21.0

**To Reproduce**
Steps to reproduce the behavior:
1. Download installer
2. Execute installer
3. Watch it fail

**Expected behavior**

App should be installed or updated properly

**Screenshots**

![image](https://user-images.githubusercontent.com/62640999/77514256-c6e03480-6e76-11ea-8d2f-89aff8010317.png)

**App informat

[2020-03-25 08:06] fvilches17 commented on #6442
Right, this is the desktop app. This feature request is meant for the web portal.

[2020-03-25 08:08] DuchenePierre commented on #8240
I found an old 7.16 installer in my download folder and it installed postman 7.16.0 properly

[2020-03-25 08:28] firewuff commented on #7827
Thanks, I can confirm that this is fix and working as expected.  Keep up the great work!

[2020-03-25 08:37] gstokkink commented on #4117
+1

[2020-03-25 09:49] siddharth5797 commented on #7895
@shreys7 On which version is this issue fixed? I am still facing this issue in version v7.21.0.

**Postman for Linux
Version 7.21.0
linux 4.15.0-88-generic / x64**

[2020-03-25 10:04] someshkoli commented on #8239
Checked out the new Codegen UI. This is much better, easy to use than previous one and looks great. Good job team.

[2020-03-25 10:44] umeshp7 commented on #7898
@wooger Closing this for now.

Feel free to reopen if you are still facing the problem.

[2020-03-25 10:44] #7898 closed, assigned to abhijitkane

[2020-03-25 10:57] appurva21 commented on #7878
Hi @bezugla!

We have added more control around the automatically added headers with the latest release of the App (`v7.21.0`) which will allow you to choose the exact headers that you want to send with the request.  You can override the automatically added `Content-Type` header with a valid value or even disable the auto-generated one and add your own `Content-Type` header with any value.

![imag

[2020-03-25 10:57] #7878 closed, assigned to codenirvana

[2020-03-25 11:17] appurva21 commented on #8200
Hi @jcald1, we have fixed this issue and is available in the latest Postman Canary app `v7.22.0-canary02`.

[2020-03-25 11:17] #8200 closed, assigned to appurva21, Raja-Simha

[2020-03-25 12:21] 4en6 opened #8241 "Reserved words for tests are not highlighted when using the Light Theme"
**Describe the bug**
Reserved words  like functions have the same font and style as the other code when writing tests in the Tests tab and Pre-Request Script tab. This is only valid for the Light theme.

**Steps to reproduce the behavior:**
1. Make sure you are using the Light theme.
2. Create a request.
3. Go to Tests tab.
4. Click on Status code: Code is 200 snippet and observe the style.
5. Cha

[2020-03-25 12:24] sudhirkhanger commented on #5990
@numaanashraf the canary build is much much faster than the stable build. Thanks for looking into it.

[2020-03-25 13:20] cod3r-dev commented on #5990
Perfect on Macos with last update!!!!  Much faster than ever!!!!!!!!!!!!

[2020-03-25 13:42] AadiMehta commented on #8240
+1 It upgraded itself and now couldn't start the postman. This is really bad!

[2020-03-25 14:23] rilex037 commented on #6465
i guess nobody cares

[2020-03-25 14:57] leehambley commented on #8177
I may be able to "confirm" that this problem is indeed a dupe of #7105 because now that my SSO is hosted on another domain, and not localhost, I cannot reproduce the issue.

I suggest to close this, and I'll make a similar comment on the SO post.

[2020-03-25 14:57] #8177 closed, assigned to vikiCoder

[2020-03-25 15:21] m3dbedb commented on #7078
The issue is reproduced in postman 7.20.1 for windows 32

[2020-03-25 15:39] kamalaknn commented on #5554
This issue is no longer reproducible in the latest version of Postman. We made a few improvements in the loading lifecycle of the request which seems to have fixed this.

[2020-03-25 15:39] #5554 closed, assigned to nobody

[2020-03-25 16:15] ronhks commented on #8184
We experienced the same, with 7.21.1. It doesn't matter if we disable the SLL verification to off or not. We got SSL handshake error.
I works well with 6.7.4. So we downgraded to it:
https://dl.pstmn.io/download/version/6.7.4/osx64
https://dl.pstmn.io/download/version/6.7.4/win64

[2020-03-25 16:34] acmarsnik commented on #6465
This has to be changed, I just got automatically updated to 7.21.1 which then was completely broken.  Even after uninstalling and reinstalling/restarting computer I just got a message "Can't open Postman app"

[2020-03-25 16:40] kamalaknn commented on #4687
Hey everyone,

We have been working on some improvements to improve memory usage for tabs and requests in Postman. We expect to see improvements when using multiple tabs and workspaces in Postman over a period of time.

**We have pushed these improvements in the latest version v7.21.0**. Could you update to the latest version and let us know if you are seeing improvements?

[2020-03-25 17:09] sweetnoods commented on #723
[code]

[2020-03-25 17:50] codenirvana commented on #7663
As mentioned in https://github.com/postmanlabs/postman-app-support/issues/7663#issuecomment-597872925 and our followup conversation over the email, the latest version of the Postman app gives more control over the addition of the automatic addition of request headers.
In this particular case, disabling the `Connection` and `Accept-Encoding` headers fixes the issue.

[2020-03-25 17:50] #7663 closed, assigned to codenirvana

[2020-03-25 18:07] rohitbindra commented on #8230
Thanks for looking into it. It failed from the android mobile browser as well but worked on a different laptop, maybe something was getting blocked on my company laptop due to some company policy.

You should definitely get the scenario tested on mobile browser, everything shows green but no output..

[2020-03-25 18:07] #8230 closed, assigned to nobody

[2020-03-25 19:09] rilex037 commented on #6465
@acmarsnik  or just block their ip inside host file

[2020-03-25 20:31] IsraelBoiko-Objective opened #8242 "Font size too big of list when inside blockquote"
**Describe the bug**
When adding a list to a block quote, the font size differs from the option "View in web" vs published at "documentador"

**To Reproduce**
Steps to reproduce the behavior:

Add this description:
[code]

**Expected behavior**
The documentation has same style in boot locations (published in "documentator" same the "View in web")

**Screenshots**
Expected (like View in web):
![ima

[2020-03-25 22:19] jcald1 opened #8243 "Canary: Cannot Open Second Account"
In Postman (non-Canary), I have two different Cloud accounts with two emails. I'm able to switch between the two.  However, when I exit out and I open Canary, I'm only able to see the collections in one account.   The other one does open up for me but there are no collections listed.

[2020-03-25 23:43] yv1989 opened #8244 "Preview Request button missing in latest version of postman."
When i select Basic Auth in Authorization tab , i am not seeing Preview Request.

In screenshot you can see it present in previous versions.

Postman :
Version 7.21.1 (7.21.1)
Mac os: 10.14.6 (18G3020)

![Screenshot 2020-03-25 at 4 36 45 PM](https://user-images.githubusercontent.com/7301656/77595918-be5c1e00-6eb7-11ea-84cc-004b94aa2990.png)

[2020-03-26 03:14] benpingilley commented on #6757
This is my issue too. I have a limited amount of data while I'm on my hotspot. Auto-updates run through my data.

[2020-03-26 05:17] appurva21 commented on #8244
Hi @yv1989,
With the release of the Postman App `v7.21.0`, we have made previewing of a request super easy. So instead of every time clicking the `Preview Request` button to check your headers, now all the headers that are going to be sent with your request will be added to the Headers tab dynamically.
So, in this case, you can directly go to the Headers tab after adding the Basic Auth to the see

[2020-03-26 05:55] ankitjaggi commented on #8099
The underlying problem has been identified and fixed for all affected users. If you're still facing issues with bodies disappearing, try restoring the collection to an older change or contact us at help@getpostman.com. Existing forks should not be causing any issues anymore.

[2020-03-26 05:55] #8099 closed, assigned to preethammavin

[2020-03-26 06:53] stefanJ-hub commented on #5803
Hi,
we use Postman a lot, especially the integrated feature to get an Oauth Token via the Auth Code Flow.
Now our IDS changed and the login form is submitted via javascript.
This - similar to the topics mentioned above - does not work anymore now. Not able to complete the auth code flow with postman.

The deprecated Postman Chromeapp seems to do still do the job, but comes with its own drawbacks..

[2020-03-26 07:10] Bhaskarbe commented on #8233
Thank you @vvs11 it's working....

[2020-03-26 07:10] #8233 closed, assigned to vvs11

[2020-03-26 07:25] Raj-postman commented on #8243
Hi @jcald1 sorry to hear that - Could you please write to us at help@postman.com or submit a new request by navigating to [this link](https://support.getpostman.com/hc/en-us/requests/new?_ga=2.41576166.51033459.1566575975-1984505412.1566575975) with this GitHub title and we will definitely assist you further on this.

[2020-03-26 07:48] pagufler commented on #5803
Yes, same opinion as @stefanJ-hub. Please provide such a setting.
Thanks,
Patrizia

[2020-03-26 08:22] stefanJ-hub commented on #2646
Hi,

sorry for cross-posting. Initial comment went into: https://github.com/postmanlabs/postman-app-support/issues/5803

I am on Windows / v7.21.1

"We use Postman a lot, especially the integrated feature to get an Oauth Token via the Auth Code Flow.
Now our IDS changed and the login form is submitted via javascript.
This - similar to the topics mentioned above - does not work anymore now. Not abl

[2020-03-26 08:45] pagufler commented on #2646
I also need this possibilty that @stefanJ-hub mentioned. would be great if this problem gets resolved. Thank you!

[2020-03-26 09:19] VicKetchup commented on #7663
As per email conversation, our issue was due to http1.1 being used by Postman, while all other clients used http2, hope that helps anyone running into the same.

[2020-03-26 10:52] saswatds commented on #7368
I will be closing this now.
@xxxxpenny if you are still facing the issue, it would be more helpful if you could create a new issue with steps to reproduce and a detailed explanation of the issue for us to understand the problem better.

[2020-03-26 10:52] #7368 closed, assigned to coditva

[2020-03-26 12:28] PhungXuanAnh commented on #4687
@kamalaknn it is improved, now, postman consume about 1Gb ram

[2020-03-26 12:37] smitit173 commented on #8169
hey @amigobg ,
Could you please share a developer tools screenshot of the network tab

Cheers,
Smit Shah

[2020-03-26 13:28] majidakbari commented on #7897
The new postman is a complete mess

[2020-03-26 14:29] DuchenePierre commented on #8240
Hello @kamalaknn ,

Can you link the duplicated issue ?

Than you

[2020-03-26 17:02] tfleisher-aaxis opened #8245 "Feature Request:Add ability to sync API to other git repositories"
**Is your feature request related to a problem? Please describe.**
Currently it appears that the "connect Repository" button from APIs only supports sync to github. We are not using github so are unable to use this feature.

**Describe the solution you'd like**
It would be nice to be able to sync changes to other git repositories such as GitLab

**Describe alternatives you've considered**
There do

[2020-03-26 17:25] AGlezB opened #8246 "Allow disabling Shared History"
**Is your feature request related to a problem? Please describe.**
Postman deskto app nagging about monthly usage limits because of Shared History

**Describe the solution you'd like**
A way to completely disable shared history.

**Describe alternatives you've considered**
Clear all every time the nagging starts.

**Additional context**
Having hidtory is great as long as it behaves the same as in

[2020-03-26 17:49] mverma-va commented on #1963
+1 when my test script fails for some reason, I still want to continue my next api call. We should add these as some option or setting for the whole collection or per request.

[2020-03-26 18:09] harryi3t commented on #8240
@DuchenePierre We are tracking this here https://github.com/postmanlabs/postman-app-support/issues/6723

Could you share your logs from `%AppData%\Postman\logs` at help@postman.com?
It would really help us triage and fix the issue faster. Please do mention the GitHub issue ID (8240) and your GitHub username (DuchenePierre) in the mail. Thanks!

[2020-03-26 18:09] #8240 closed, assigned to harryi3t

[2020-03-26 18:31] vvs11 commented on #7304
Hi @steffenwieprecht, Please let us know if you're still facing this issue by trying it out on the latest version

[2020-03-26 20:28] vk-s78 commented on #8122
I am having the same issue with my console
![image](https://user-images.githubusercontent.com/56678288/77693484-559ca080-6fa0-11ea-9883-7798183e7187.png)

[2020-03-26 20:32] mroknich commented on #7844
Bump. Still running into this error on version 7.21.1 (7.21.1).

[2020-03-26 20:56] DenisuDevForFood commented on #5681
thanks man! Now it works

[2020-03-26 21:38] trodix commented on #5740
![Screenshot_20200326_223246](https://user-images.githubusercontent.com/34584317/77698997-dadc8100-6fb1-11ea-80ae-a012c0daa163.png)

Same issue here, on Kubuntu 19.10 (linux 5.3.0-42-generic / x64 ) and Postman **Version 7.20.0**.
**I can't access to my symlinks** while browsing for a file. See the _workspace_ symlink on the screenshot above.

[2020-03-27 00:31] VivekDabhi commented on #5286
Same issue

Error while importing Curl: arg.startsWith is not a function

[2020-03-27 02:14] karanraj97 opened #8247 "Could not get any response"
Postman shows **Could not get any response** for every request made on external API's
If I use Localhost then postman works fine. I don't know why it is happening.
![image](https://user-images.githubusercontent.com/20990432/77713931-c45c1700-6ffd-11ea-965e-b12db58ec482.png)

Same API which is working on browsers and chrome postman
![image](https://user-images.githubusercontent.com/20990432/7771400

[2020-03-27 04:17] meetSuraj commented on #7897
@majidakbari  I'm sorry to hear you had such a frustrating experience, can you elaborate what exact issue are you facing?

[2020-03-27 06:49] vvs11 commented on #8247
@karanraj97 Looks like there is some problem with your internet connectivity with Postman. I can see the sync icon as disabled in the screenshot you posted. Could you please check that and try again?

[2020-03-27 07:41] aleksspeaker commented on #5294
Yea, I'm switching dark/light back and forth twice a day.
All other app do that on their own.

[2020-03-27 07:43] ProBeta1 commented on #8073
@vikiCoder Could you please provide the link of the files involved except [this] (https://github.com/postmanlabs/postman-runtime/blob/develop/lib/visualizer/index.js) ?

[2020-03-27 08:02] DuchenePierre commented on #8240
I already applied this fix https://github.com/postmanlabs/postman-app-support/issues/6723#issuecomment-595365241
and it worked for me.

Please fix this or at least allow us to disable auto-update, this has been really annoying to reinstall postman 7.16 each time I closed the app !

This is some bad quality control here. And that's right there in the middle of postman's "our values" section on the

[2020-03-27 09:34] pranavwani commented on #2801
Firecamp support basic `protobuf` schema
![Protobuf](https://user-images.githubusercontent.com/26399261/77742128-fab88700-703b-11ea-9e41-2062104d5422.gif)

[2020-03-27 09:38] majidakbari commented on #7897
@meetSuraj
I've created a collection locally and for couple of times I tried to publish the docs; It doesn't work and shows an error as follows:
The request has the following fields missing or wrongly provided: collectionId.
Also this is not the only issue...

[2020-03-27 10:07] #7806 closed, assigned to nobody

[2020-03-27 10:17] trusight commented on #5039
+1 Got the same problem on Windows 10
![image](https://user-images.githubusercontent.com/61217782/77745884-0796a400-7057-11ea-8651-cc286a3cb895.png)

[2020-03-27 10:28] vikiCoder commented on #7992
Closing due to inactivity.

[2020-03-27 10:28] #7992 closed, assigned to vikiCoder

[2020-03-27 10:53] Atishay4294 commented on #7634
Our team has implemented a fix to bump the repository fetching limit from 300 to 1000. This is expected to go live early next week.
We'll keep you posted on the release.

@gimlidc @Shimmi - We'd like to use this opportunity to understand how many repositories do you have? Such inputs will eventually allow us to plan a solution that can take care of a larger number of repositories in the future(no

[2020-03-27 11:04] karanraj97 commented on #8247
I didn't sign in. I think, sync is available only when we signed in. Am I correct or Wrong?

[2020-03-27 11:25] meetSuraj commented on #7897
@majidakbari Sorry for the inconvenience you faced, but I really appreciate you bringing this issue to my attention. Can you file separate issue for this with all the relevant details, we will look into it as soon as possible.

[2020-03-27 11:50] #8244 closed, assigned to nobody

[2020-03-27 11:54] codenirvana commented on #8247
@karanraj97 can you verify that you don't have any proxy configured?

[2020-03-27 13:44] ratpik commented on #5209
Hi @v-krishnakishore,

We have released a fix for this issue. You will need to download or update to the **latest version of the Postman App (Above v7.21.0)** for this to work. The Postman Environment will get imported irrespective of the length across all OS (Windows/Mac/Linux) and Browser (Chrome/IE/Firefox/Safari) platforms.

[2020-03-27 14:22] karanraj97 commented on #8247
I didn't configure any proxy.
![image](https://user-images.githubusercontent.com/20990432/77765552-69113f80-7064-11ea-98f8-839ffcd66ff0.png)

[2020-03-27 14:31] codenirvana commented on #8247
@karanraj97 that's odd 😕
Can you check what's the error message in the Postman Console (CMD/CTRL + ALT + C)?

The API you are trying out(`https://jsonplaceholder.typicode.com/users`) is working fine for me.

[2020-03-27 14:34] nutmix opened #8248 "Hide number of requests from collection sidebar for better readability"
The list of collections down the left side of postman download UI is indistinguishable.  It is very hard to pick the particular collection you need when they are all the same, and the "46 requests" line separates them.  I have around 20 collections, each with between 1 and 200 calls each.  I am poor so dont have the paid for version.

I would love to see one or all of the following implemented:

1

[2020-03-27 14:40] nutmix opened #8249 "ability to "see" the URL used by an api call"
I have hundreds of API calls in dozens of collections and dozens of environments.
The URL and query string of every call is variable driven, so I need to know what URL is actually being used.

When you execute a call using the "SEND" button, it will show you the response, but there is no way to see what URL is used (nor the completely raw request and response).    To see the URL, you have to setup

[2020-03-27 15:17] karanraj97 commented on #8247
Yes It's working on browser and chrome postman extension but for my windows it was not working for past 3 days.

Now, It works fine. Thanks :) I don't know What happened. I did something but i don't know.

[2020-03-27 15:24] ProBeta1 commented on #5215
How would pre-request scripts be able to delete httpOnly cookies ? Arent they not accessible from client-side ?

[2020-03-27 15:44] rinat-enikeev commented on #5286
same issue

[2020-03-27 16:14] rob4629 opened #8250 "Header values (enum) resolve to the type, rather than enum value for OpenApi 3.0"
**Describe the bug**
Background: We're using Swagger 2.0, but I've converted this to OpenApi 3.0, in order to import to Postman.

Not sure if this is a bug, or a feature request... but I noticed that uploading our swagger definition file caused header values to be resolved with "string", rather than the value of the associated enum.

An example of our swagger file:
[code]

**To Reproduce**
Steps t

[2020-03-27 16:29] mtaylorfsmb opened #8251 "Query parameters are inconsistently passsed to server when using enable/disable checkbox"
**Describe the bug**
When enabling/disabling query parameters in the UI it is inconsistent whether Postman actually sends the parameter irrelevant of what is shown in the path URL.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a new GET request that goes to a URL of the form: `https://www.tempuri.org/documents?field1=&field2=&field3=`
2. The query parameters should show up in the Qu

[2020-03-27 16:33] karanraj97 commented on #8247
Thanks @vvs1 problem solved. But I don't know What I did. I did random actions. I rename the host,network,hostname files and again renamed to its original name. Now It is working.

[2020-03-27 16:44] karanraj97 commented on #8247
Again Not working :(

[2020-03-27 17:42] ProBeta1 commented on #6628
Some reference file/repo links where this issue can be dealt with ,  can please be provided @shamasis ?

[2020-03-27 19:55] SabriH10 commented on #8249
Hi @nutmix ,

Thank you for getting in touch. I believe, based on my understanding of your issue, that the Postman console should be able to address your concern.

You can access the postman console by going to `View --> Show Postman Console` on your app, clicking on the Postman console icon at the bottom left of the app or using the keyboard shortcut ( `CMD/CTRL + ALT + C` ). More information can

[2020-03-27 20:18] titzu commented on #7700
same for me. trying to make auth2.0 request from postman Authorization/Oauth2.0 -> get a new access token

[2020-03-27 21:05] rmaenk opened #8252 "Possible memory leak on start"
**Describe the bug**
A day ago I have installed latest version of Postman (7.21.1) on virtual machine (Windows 10).
It was worked fine before I restarted VM. Postman hangs on start.

**To Reproduce**
Steps to reproduce the behavior:

During starting the app, I have looked to postman processes in Task Manager and one of them starts to eat memory until 2139 MB and then disappeared. There are 4 other

[2020-03-27 23:05] rmaenk commented on #8252
After some investigation it looks like 000003.log in Local Storage/leveldb folder is corrupted by synchronization or other thing ...

[2020-03-28 00:51] jcald1 opened #8253 "Canary: Unable to Beautify"
Version: Version 7.22.0-canary03 (7.22.0-canary03)

I created an HTTP request with the body (end of the ticket).

I clicked on "Beautify" and nothing happened.

Body:
{
        "id": 2,
        "cloudUserId": {{CLOUD_USER_ID}},
        "legacyUserId": {{LEGACY_USER_ID}},
        "accountId": {{ACCOUNT_ID}},
        "subAccountId": null,
        "releaseId": 88881,
        "title": "foo1",

[2020-03-28 01:03] jcald1 commented on #8243
@Raj-postman , sent to `help@postman.com`

[2020-03-28 01:05] jcald1 commented on #8091
@kamalaknn , related to this, the Manage Environment window is too small and I can't make it bigger or expand the columns.  If we could add sorting and search that would be great as well.

[2020-03-28 01:19] jcald1 commented on #7981
@shamasis , attached.  I don't see an extra space or character in Postman Canary.
[BW Media Platform API.postman_collection.json.zip](https://github.com/postmanlabs/postman-app-support/files/4396474/BW.Media.Platform.API.postman_collection.json.zip)

[2020-03-28 03:19] buttflattery commented on #4361
@vinitshahdeo  i am using up to date! Postman v7.21.1 and the CPU usage remains constant on 80% and shows approx 6 different process for postman even if i have all the request tabs closed and using the compatibility mode windows 8 dropped it back under 10%

[2020-03-28 04:12] joweber123 commented on #2694
I am also wishing to use this type of functionality.  Would love to see some action on this issue.

[2020-03-28 04:22] karanraj97 commented on #8247
![image](https://user-images.githubusercontent.com/20990432/77814725-bf6c9580-70d9-11ea-8507-3f05fa96649d.png)
this is the error

[2020-03-28 04:53] xk0der commented on #8169
@amigobg do check the image dimensions that you are trying to upload.

My testing shows that anything below 100x100 pixels in dimensions works!

Try scaling the image to less than 100x100 pixels in dimensions and see if that helps (I've tested 94x94 and 99x99 - both had worked!)

[2020-03-28 05:52] jcald1 commented on #8253
I left off the quotes around the variable name.

[2020-03-28 05:53] jcald1 commented on #8253
This issue happens in the current version of Postman.  It happens when using numeric variables in the HTTP body.

[2020-03-28 07:47] bistong commented on #3298
Any progress on this?

[2020-03-28 08:24] dkijkuit commented on #5194
It's a shame this still isn't implemented yet. Anyone else looking for a gRPC GUI client: I've switched to [BloomRPC ](https://github.com/uw-labs/bloomrpc)which gets the job done.

[2020-03-28 10:13] Itsusinn commented on #7047
use this用这个
 [https://support.microsoft.com/en-us/help/2533623/microsoft-security-advisory-insecure-library-loading-could-allow-remot](url)
it maybe work这可能起作用

[2020-03-28 10:15] Itsusinn commented on #7047
it can solve the problem "SetDefaultDllDirectories "
这个补丁可以解决"SetDefaultDllDirectories "的问题

[2020-03-28 10:18] liuwenwubin commented on #7047
hello，thank you very much！I have solved this problem，It was a system problem！！！
------------------&nbsp;原始邮件&nbsp;------------------
发件人:&nbsp;"逸新"<notifications@github.com&gt;;
发送时间:&nbsp;2020年3月28日(星期六) 晚上6:15
收件人:&nbsp;"postmanlabs/postman-app-support"<postman-app-support@noreply.github.com&gt;;
抄送:&nbsp;"ㄣж鈊痛"<1172752173@qq.com&gt;;"Author"<author@noreply.github.com&gt;;
主题:&nbsp;Re: [postmanl

[2020-03-28 13:35] ProBeta1 opened #8254 "Wikipedia like popups in Postman Learning Centre"
**Is your feature request related to a problem? Please describe.**
The Documentations often have links which redirect to related content about the current explanations. It sometimes become overwhelming to open so many tabs for just knowing a two-line definition. The contents are arranged in a sorted order for sure , but if someone just needs to learn about something specific urgently , then it bec

[2020-03-28 13:49] Webonaute commented on #5194
BloomRPC is missing lots of stuff like error details, headers, chained test scenarios etc

[2020-03-28 20:17] sujaykundu777 commented on #8247
@karanraj97 Seems working fine in mine !
Using Postman v7.21.1

[2020-03-28 20:57] gerald-dotcom commented on #1983
I can confirm this issue happening with long running request. It just send triple times, not just twice.

[2020-03-28 21:12] kartiknagappa commented on #7685
Dear Postman peeps,

// Value prop
What you've created is a great tool - it makes it super easy build and share API collections with others. I share my collections with TAMs and Customer Support because it's far easier for them to run a Postman collection than a python script. I've written small tools (employing the Tests portion) that help them be proactive in their role and diagnose/solve custom

[2020-03-28 21:15] kartiknagappa commented on #7685
@Super-Net-Ops - you don't need to muck with CSS. If the focus is on the Postman console, then you can zoom out (e.g. `cmd` + `-`) as needed.

[2020-03-29 00:32] joweber123 commented on #2694
For future readers,[ this response ](https://community.postman.com/t/how-can-i-target-nested-objects-from-a-json-data-file/456/6) helped me hack a workaround to this.

[2020-03-29 04:27] MilosRandelovic commented on #7596
+1

I've spent some time trying to make my server do gzip compression automatically, and it would be nice if Postman could help me verify the actual transfer size.

[2020-03-29 05:36] kasunsiyambalapitiya commented on #5034
This worked for me as well, 48GB was freed upon updating postman

[2020-03-29 05:54] karanraj97 commented on #8247
Thanks for reply. I don't know why It is not working. I reset my laptop and also It is not working. From Eclipse also I can't make rest call. Some time It works. But It happen rarely. Yesterday Postman works. I put my lap in sleep mode and came back and try to work on postman, This time It failed
😞 .

[2020-03-29 05:56] karanraj97 commented on #8247
Is There any option to block eclipse / postman to make rest call alone ?

[2020-03-29 06:03] Jaggle commented on #5332
what's going on with it?

[2020-03-29 06:11] jjsty1e opened #8255 "Stuck when launch postman with notice "Preparing your workspaces...This might take a few minutes ""
**Describe the bug**
on mac osx 10.12, Postman navtive app,  Stuck when launch postman with notice "Preparing your workspaces...This might take a few minutes "

**To Reproduce**
Steps to reproduce the behavior:
1. Launch Postman

**Expected behavior**
get to work

**Screenshots**
![image](https://user-images.githubusercontent.com/5469845/77842603-e228a800-71c6-11ea-9baa-7548cdf2bc6b.png)

**App in

[2020-03-29 06:12] salmanwahed commented on #7569
Occurred to me for windows 10 and postman version 7.21.1. I reset my password and after trying multiple times could sign in.

[2020-03-29 06:15] xk0der commented on #8255
Hey @Jaggle try out the steps listed at this article to rename(or clear) Postman folders and then re-install Postman, that should help: https://support.getpostman.com/hc/en-us/articles/360025359014

[2020-03-29 06:22] Jaggle commented on #8255
@xk0der thank you for you quick reply, it saved my life!😀

[2020-03-29 06:22] #8255 closed, assigned to xk0der

[2020-03-29 06:27] Jaggle commented on #5332
#8255

[2020-03-29 09:20] #8214 closed, assigned to vvs11, coditva

[2020-03-29 10:42] andrewzavadsky commented on #2701
Nowadays it's becoming even more critical to have this feature, no?

:+1:

[2020-03-29 12:58] guy-compie commented on #4009
+1 !

[2020-03-29 15:34] rastann commented on #7881
./Postman: error while loading shared libraries: libgtk-x11-2.0.so.0: cannot open shared object file: No such file or directory

[2020-03-29 16:53] vvs11 commented on #5164
@mfulton26 You can do this in Postman too. You can go to the history tab, enable save responses, send your requests that you want to capture, then click on ... button next to the date. You can mock all the responses for that day. Let us know if that solves your use-case

[2020-03-29 17:00] vvs11 commented on #4854
Hi everyone, We have released Mock Call Logs which is now up on Dashboard and can be navigated through Postman v7.20+. You can now view all the requests that are made to your Mock Server.
You have t
o go to navigate to Mock server listing in the app or dashboard and click on the mock server name. You'll see the logs.  Below is a screenshot for Mock Call Logs:

![image](https://user-images.githubus

[2020-03-29 17:01] #4854 closed, assigned to vvs11

[2020-03-29 17:05] vvs11 commented on #6329
@jpschutte Please go through the matching algorithm uses by Postman Mock Servers
https://learning.postman.com/docs/postman/mock-servers/matching-algorithm/
There is a section around wildcard matching. Hope this satisfies your use-case.
For more information regarding topics around Postman, Please visit our community:

https://community.getpostman.com/

[2020-03-29 17:05] #6329 closed, assigned to preethammavin

[2020-03-29 17:15] galen211 commented on #5040
This feature would be useful for interacting with ksqlDB, which has a REST API endpoint for queries[REST API endpoint for streaming queries](https://docs.ksqldb.io/en/latest/developer-guide/api/)

[2020-03-29 18:51] neriya197 opened #8256 "On export collection, content-type added automatically with wrong value"
**Description**
On export collection, content-type added automatically with wrong value

**Steps to reproduce**

[SanityTests.zip](https://github.com/postmanlabs/postman-app-support/files/4399569/SanityTests.zip)

Steps to reproduce the behavior:
1. import the attach collection.
2. focus on startup request
3. see in headers only 2 headers.
4. export it.
5. see that:
					{
						"key": "Content-Ty

[2020-03-29 18:52] neriya197 commented on #2761
+1

[2020-03-29 19:29] iasenov commented on #1104
Why closed?
I need to send multipart mixed content with some custom headers in each part.
With cUrl it is possible,but not with postman :( :( :(

[2020-03-29 20:32] DannyDainton commented on #8253
This happens when the body contains dynamic variables (`{{....}}`).

By removing these key/values from the body and then selecting `Beautify`, you will see that the feature works correctly.

[code]

[2020-03-29 20:59] WZewdie commented on #5611
Is this resolve? I have 7.21.1 with the same issue.

[2020-03-29 21:05] karthiks3000 commented on #7555
+1 for this. The only thing stopping us from using postman across the board is that the documentation can't be self hosted and auto-updated by a jenkins job

[2020-03-29 21:45] IonelLupu commented on #7350
and still an issue on V7.21 ...

[2020-03-30 03:40] kamalaknn commented on #8253
Hey @jcald1

Thanks for reporting this issue. As @DannyDainton pointed out this is because Postman is not able to beautify JSON that contain variables. We are tracking this in #4313

I'm closing this as a duplicate. Please follow the original issue for updates.

[2020-03-30 03:40] #8253 closed, assigned to nobody

[2020-03-30 04:45] AmanDhembla commented on #7704
Hey @PedroBernils, Thanks for taking your time and reporting this issue.
This issue has already been fixed in Postman app version 7.18 and change is available in all the newer versions of the app after that. So can you please update your app and report back if it gets fixed for you or if you still face a problem?
Same issue was closed here https://github.com/postmanlabs/postman-app-support/issues/

[2020-03-30 04:54] mlchange commented on #2701
++++1.  nowadays many many website use http/2

[2020-03-30 04:54] sajalshres commented on #3919
Any update? Its been open for a while.

[2020-03-30 04:59] sankalp0o commented on #8246
Hey @AGlezB

Postman only notifies you about history in team workspaces. One way to "disable" this is to switch to a personal workspace (from the header bar in the app) where the history you create isn't shared with your team and hence you won't be running into the limit of shared history.

I'm closing this issue but please feel free to open it again if this doesn't solve your problem or if you ha

[2020-03-30 05:17] AGlezB commented on #8246
Great! Except Shared History increases automatically and unlike other "usage" counters it doesn't hurt your service to disable it because it doesn't add anything to it.

@sankalp0o Maybe you can explan to me why Shared History is so useful and important that you closed the issue without a second thought.

[2020-03-30 05:18] sankalp0o commented on #8224
@Bysmyyr if you create a team with all your developers, the collections they work on will remain in sync. Hence, you'd be able to update a single collection and all your developers would be able to use the latest collection. You would also be able to use advanced workflows like forking and merging this way.

Teams in Postman can be created for free (although with some limitations). I hope this hel

[2020-03-30 05:18] #8224 closed, assigned to vvs11

[2020-03-30 05:22] mvv-acc opened #8257 "Params list doesn't scroll when moving row up or down on Params tab."
**Describe the bug**
When list of params is making scroll bar enabled, it's impossible to move one row from bottom to top with one mouse drag (list of Params doesn't scroll automatically).

**To Reproduce**
Steps to reproduce the behavior:
1. Create new POST request.
2. In Params tab create as many Key - Value combinations as needed for scroll bar to appear.
3. Scroll down and try to move bottom r

[2020-03-30 05:25] sankalp0o commented on #8248
@nutmix I can suggest a couple of ways to help you achieve this
- Group your collections by workspace. You can create different workspaces for different projects/APIs/teams etc and switch between them instead of having everything in the same workspace. Even on the free plan, you can create unlimited personal workspaces. This is the recommended way of organizing things within Postman.
- You can als

[2020-03-30 06:07] nutmix commented on #8248
Thanks for the reply.  Worskspaces don't really help as I have about 10 collections related to each project (we do a lot of inter-related integrations), and finding the one I want 100x a day is tedious and slow, hence the request to hide the "xxx requests" and ideally add colour (or at least make the collection name text black or bold instead of thin/gray).  I could not figure out how to add emoji

[2020-03-30 06:12] nutmix commented on #8248
Its a shame we vote on feature requests - there may be more people who would benefit from this.  Personally, I find the restlet/talend UI (which I used for the last 5 years) much more usable - the "collection" browser looks and works more like the windows file tree view.  Being able to switch off "xxx requests" would go a long way to improving the visual usability.  The number of requests is irrel

[2020-03-30 06:26] #5209 closed, assigned to ratpik, Raja-Simha

[2020-03-30 06:50] vvs11 commented on #3919
This is definitely in our roadmap and currently, we are figuring out the technical constraints around building it in the App. Will keep you notified on further developments on this

[2020-03-30 07:48] akamarvin commented on #2086
+1k , when re-opening Postman from a previous session, each time I return to one of my current key tabs, I have to re-set it to body instead of params.
Who uses the params tab with POST anyway ? ... Nobody.
Even when you need file upload capabilities , you use body > form-data.
So I really don't get why the params would be the default for every request.
Please give us the choice in settings or rem

[2020-03-30 08:11] r3dsm0k3 commented on #3822
@shreys7 PR sent.

[2020-03-30 08:11] pksilen opened #8258 "Exporting collection should export tests"
When exporting a collection and I have defined tests in requests, it should export the javascript code of the tests also. And when importing a collection, it should import the javascript code of tests also.

[2020-03-30 08:11] timmki commented on #7844
Same here. Due to massive adaptation of Openapi in all our services it would be amazing to make this work reliably. (Version 7.21.1 on Win 10 Pro)

[2020-03-30 08:23] sankalp0o commented on #8098
@Raj-postman can you also let us know the response body? Without that, we won't be able to figure out what's the problem.

[2020-03-30 08:34] umeshp7 commented on #7844
We are currently in the process of releasing a fix for this.
@timmki @mroknich Is there a specific OpenAPI schema that is causing the app to freeze for you? It would be great if you can share it with us here or you could also send it over to help@postman.com and we'll take a look.

[2020-03-30 08:52] umeshp7 commented on #8256
Duplicate of #5702

[2020-03-30 08:52] #8256 closed, assigned to nobody

[2020-03-30 11:19] ks1977 opened #8259 "completely disable automatic updating, please"
Hi,

We are working in a locked down environment, meaning our company policy prohibits users from installing software updates.  Could we please obtain a version where **all kind of updates** can be disabled **completely**?

Thanks a million!

[2020-03-30 11:21] arlemi commented on #8259
Hi @ks1977 ,

We already have a feature request in for that, please add to it there. :)
https://github.com/postmanlabs/postman-app-support/issues/7944

[2020-03-30 11:21] #8259 closed, assigned to nobody

[2020-03-30 11:23] ks1977 commented on #8259
OK... and when do you guys plan to implement this (for companies much needed) feature ?

[2020-03-30 11:27] llaurenz commented on #7844
For me import worked when I exported using openAPI 3.0. For 2.0 I also got a black screen. Unfortunately, I now get the error message:
The schema size is more than the allowed limit of 5 MB.

Any fix for this?

[2020-03-30 11:27] arlemi commented on #8259
This isn't planned for now but we will update the linked topic if anything changes!

[2020-03-30 11:37] neriya197 commented on #5702
+1

[2020-03-30 11:40] neriya197 commented on #8256
why it's duplicate? I review the second bug. it's similar to me but not the same.
in the second one he create this header, I didnt create it at all, and when I export it, it's added...

[2020-03-30 11:42] neriya197 commented on #8256
see my comment in my issue, it's not a duplicate issue. the second one is
different

נריה הלל Neriya Hillel
מהנדס תוכנה Software application engineer
052-4206989
רבבה ת.ד. 227 Revava mailbox

‫בתאריך יום ב׳, 30 במרץ 2020 ב-11:53 מאת ‪Umesh Pathak‬‏ <‪
notifications@github.com‬‏>:‬

[2020-03-30 11:55] Atishay4294 commented on #7634
@gimlidc @Shimmi @tobyhede - We've bumped the fetching limit to 1000 and it is live.
Can you review and see if this solves the problem for you?

Leave a +1 here to acknowledge :)

[2020-03-30 13:27] Bysmyyr commented on #8224
https://github.com/SharperShape/vanadia

[2020-03-30 13:46] Alextremeee commented on #4361
I had this issue on Windows 10 Postman desktop v7.21.1, was running at 40-60% CPU >1GB RAM.

Fixed by navigating to %AppData%\Postman\Cache (C:\Users\your_user\AppData\Roaming\Postman\Cache) and deleting all files that fit f_* (e.g. f_000001).

[2020-03-30 13:58] bruha commented on #6263
Same issue in Postman v7.21.1

[2020-03-30 14:16] g-spot opened #8260 "Highlight currently selected environment optically"
**Is your feature request related to a problem? Please describe.**
I use two different environments to separate PROD from DEV API requests. Sometimes i accidentally send requests to the wrong environment, because I forget to check the desired environment in the dropdown at the top right corner.

**Describe the solution you'd like**
I'd like to attach some kind of optical indicator, probably colori

[2020-03-30 14:19] vvs11 commented on #8260
@g-spot, Thanks for writing in!
This is a problem that is on our radar. We are looking into ways of solving it. Will keep you updated

[2020-03-30 14:22] g-spot commented on #8260
@vvs11
Wow, what a quick response! Thank you, I'm looking forward to a cool solution.

[2020-03-30 14:23] vvs11 commented on #8260
Duplicate of #6622

[2020-03-30 14:32] sankalp0o commented on #8248
Thanks for responding @nutmix

Sorry to hear none of the suggestions work. I'm reopening your issue and keeping it to track the changes that you suggested - for visual improvements to the sidebar with the aim of making it easier to go through and find the right collections.

[2020-03-30 14:50] sankalp0o commented on #8246
@AGlezB I apologize if my responses sounded unthoughtful. I meant to suggest that shared history is an optional feature and you can continue using personal workspaces if the feature is not useful. Can I understand your use case more? Perhaps that will help me figure out ways to help you.

I'm also not sure what you meant when you said that the shared history "increases automatically". Can you help

[2020-03-30 14:51] vvs11 commented on #8202
@bayramucuncu I am interested in knowing how you organize requests in collections and how do you use environments in your workflow

[2020-03-30 14:52] vvs11 commented on #8202
Duplicate of #6622

[2020-03-30 14:54] vvs11 commented on #8260
@g-spot could you give us more insight into how you organize your requests in Postman and how do you use environments so that we can design a better solution for you

[2020-03-30 15:14] kamalaknn commented on #7733
@Raj-postman This is fixed on the latest version of Postman,

[2020-03-30 15:14] #7733 closed, assigned to nobody

[2020-03-30 15:47] Hrafnkellos opened #8261 "Time Dynamic variable"
**Is your feature request related to a problem? Please describe.**
No

**Describe the solution you'd like**
I would like to have a dynamic variable which describes time to tag my auth tokens.
format HH:mm Example => 12:00.

I know the token expires in 2 hours so i can see clearer when i need to fetch a new token.

**Describe alternatives you've considered**
I manually tag the tokens i create.

My

[2020-03-30 15:48] shamasis commented on #3835
Just to sum up here. Postman now highlights leading and trailing whitespace characters + marks the invalid ones. Read more: https://blog.postman.com/2020/03/26/how-postman-increases-the-visibility-of-invalid-whitespaces-and-newlines-in-your-api-requests/

[2020-03-30 16:47] kamalaknn commented on #6984
This is fixed on the latest version of Postman.

[2020-03-30 16:47] #6984 closed, assigned to nobody

[2020-03-30 17:11] danbilokha commented on #1060
lol, killer feature :D thanks!

[2020-03-30 17:12] cyrielle-hada commented on #8258
@pksilen Postman allows the export of test-scripts at collection, folder, and at request level. I wasn't able to reproduce the behavior locally – request level scripts were successfully exported.

Would you please make sure the test script is saved before exporting the collection?

If the issue persists, please submit a support ticket from this page: https://support.getpostman.com/hc/en-us/request

[2020-03-30 17:30] cyrielle-hada commented on #8236
Hi @ma-schmidt-de - It may sound very rudimentary but would you sign out and sign back in, and see if the issue persists?

If it doesn't help, please submit a support ticket from this page: https://support.getpostman.com/hc/en-us/requests/new so we can take a look at your team account and see what is going on.

[2020-03-30 18:53] AGlezB commented on #8246
I'll try to answer your questions one by one.

As of today if I choose to use a Team Workspace I am _forced_ to have Shared History (SH). I cannot disable SH for team workspaces (TW) in the same way I cannot enable SH for personal workspaces (PW). That means the only way not to use SH is --as you pointed out-- to use PW thus loosing the advantages of TWs.

This is what Postman tracks as _usage_:
-

[2020-03-30 19:28] a85 commented on #8246
@AGlezB Thank you for the explanation. However, the shared history feature works as designed. Shared history limits and shared request limits exist for people to try out the feature and see if there is value in collaborating and eventually buying the paid product which support the ability to develop the free product. If you are not ready to pay or don't want to pay then we recommending using the f

[2020-03-30 19:28] #8246 closed, assigned to nobody

[2020-03-30 20:07] jcald1 opened #8262 "Canary: Removing Path Parameters Does Not Clear the Green Circle"
Version: Version 7.22.0-canary03 (7.22.0-canary03)

Create a PUT or POST request.
Add a path parameter key.
Unclick the query parameter.  The green circle is not cleared.
If you click it again and delete the individual values then unclick it again, it still doesn't clear the green circle

[2020-03-30 20:39] GianlucaE commented on #5713
+1, need this! Is this still a planned feature and is there a time frame when it will be implemented?

[2020-03-30 21:08] cpwood commented on #7592
Lost several hours of my life to this as our support team had been unable to connect to our APIs via Postman.

Given we had to make changes for `SameSite` cookies by the beginning of February 2020 and Chrome 80, it means Postman is now two-months (at least) behind the curve in terms of browser security and expected interoperability standards. I find that _deeply_ troubling as a paying user.

I've

[2020-03-30 21:43] AGlezB commented on #8246
@a85 If you look at your [pricing](https://www.postman.com/pricing) there is no mention whatsoever to Shared History so there is no guarantee that I will get rid of the nagging regardless of how much I pay for your services, because we will _always_ end up hitting the quota, because you add to SH every single time I execute a request while completely ignoring if I want the _feature_ or not.

If ha

[2020-03-30 23:44] a85 commented on #8246
There is no limit on shared requests - either history or collections - on all plans. It is mentioned under the 2nd row in the pricing page. "Unlimited workspaces and shared requests".  :)

[2020-03-31 01:58] AGlezB commented on #8246
@a85 My bad. Thanks.

[2020-03-31 02:26] maximillianus commented on #1066
+1
I am surprised this multiple requests selection feature is not available.

[2020-03-31 02:41] a85 commented on #8246
@AGlezB No problem. Appreciate the feedback and the team is listening constantly. Also, we'll see if we can make the pricing page copy clearer.

[2020-03-31 06:03] g-spot commented on #8260
@vvs11
I am developing Web API solutions using .NET. I deploy them both to a DEV and a PROD instance. Calls to the same web service in PROD and DEV instance only differ in their base url, which i store in an environment variable. So I have 2 environments. PROD with variable {{BaseUrl}}="**prod**.mycompany.com" and DEV with variable {{BaseUrl}}="**dev**.mycompany.com". I would be grateful if Postma

[2020-03-31 06:16] cdavid15 commented on #2240
Slightly disappointing this still hasn't materialised especially when you launch the chrome app you get presented with the following:

![image](https://user-images.githubusercontent.com/3115533/77992893-e8ca3300-731e-11ea-8ade-298df5413be6.png)

Is there any plans for introducing support for kerberos as this single feature is preventing me from migrating away from the chrome app to the Native app?

[2020-03-31 06:44] vvs11 commented on #8260
This is really helpful. Thanks @g-spot for this info. We will keep you posted in further updates on this

[2020-03-31 06:49] vvs11 commented on #8247
@karanraj97 this looks like a local problem. I am also able to get response from this URL. I can see the request being timed out from the host in the screenshot you posted. Could you please check that once?
We have a community of Postman users to help with these kinds of issues. Please feel free to reach out
https://community.getpostman.com/

[2020-03-31 06:49] #8247 closed, assigned to vvs11

[2020-03-31 06:57] vvs11 commented on #8262
@jcald1, it clears the green circle if you remove the entry by clicking the 'x' button on the right end of the row.
Green circle only indicates presence of a query parameter, if you uncheck it and send the request, these params don't get sent

[2020-03-31 06:57] #8262 closed, assigned to nobody

[2020-03-31 08:16] harryi3t commented on #7881
@rastann Could you try installing the missing library
You can try running this command:
[code]

Or alternatively, try out the snap version of Postman
[code]

[2020-03-31 10:09] MeghnaChhabria commented on #350
Using HAR you can import multiple curl requests at once. Which is not otherwise possible.

[2020-03-31 10:36] gouravkr commented on #6455
I faced a similar issue. After hunting for hours, the only way and not finding a solution, I unistalled Postman from Windows, removed its old settings and configurations, then reinstalled and imported my collection. It started working.
It was weird, never gave an error which could help me solve whatever issue was there, but reinstalling worked.

[2020-03-31 10:57] ddekanski opened #8263 "Exclude selected requests within a collection from Monitor"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

A typical collection includes all requests for a given API. When implementing an API health monitor for a production endpoint, in many cases you want to test only requests that don't change the server state, e.g. only getting items, not ad

[2020-03-31 11:42] clivecorbishley commented on #5491
Even if it just did a batch of all the individual collections and excludes those non-exportable data objects, I would find this useful.

[2020-03-31 13:23] deepapple commented on #3358
+1 This would be great feature. We are sharing Postman request and json payloads are huge. Now comments are saved in Excel, but because of number of fields this is difficult to manage.

[2020-03-31 13:50] cyptus commented on #7844
same issue here while using an OpenAPI 3.0 yaml definition with circular dependency.

[2020-03-31 15:19] drswin01 commented on #2240
@micheljung
https://github.com/postmanlabs/postman-runtime/tree/develop/lib/authorizer
I believe this is where authorization types are implemented for postman but I'm not 100% sure. Hopefully someone who knows a lot more about Node.js than I do can go from here.
Hope this helps!

[2020-03-31 15:56] fleboulch commented on #7105
This is a quite annoying bug. It costs me a day of debugging to understand what goes wrong.
Is it planned to be fixed in a future release or not?

[2020-03-31 16:11] pankajk07 opened #8264 "Table cell in Query Params is editable when not in focus"
**Describe the bug**
The table cell in Query params is editable even when the cell is not focused. This is reproducible only when some of the rows are selected in the in query params section.

**To Reproduce**
Steps to reproduce the behavior:

1.  Select a few rows in Query Params section by click and drag functionality
2. Click on any of the cell from the rows selected in Step 1
3. Notice the cel

[2020-03-31 17:59] jaruizsys commented on #6719
It is important to improve Postman around GraphQL functionality. Postman is a great tool but the lack on some functionality to support 100% GraphQL is avoiding to use as unique tool in my company.

Important features that need to be added:
- Introspection
- Ability to import GraphQL schema using a URL
-  Inline documentation for GraphQL methods
- Autocomplete on Editor using the GraphQL schema loa

[2020-03-31 18:59] jcald1 opened #8265 "Allow Multiple Snapshots Per Collection"
It would be nice to be able to have multiple snapshots per collection.

Alternatively, is there a way to have at least one snapshot per version of an API or collection?

[2020-03-31 20:12] vvs11 commented on #8265
@jcald1  we support versioning of collections. Please go through the documentation and see if it satisfies your use case.
https://learning.postman.com/docs/postman/collections/version-control-for-collections/

https://learning.postman.com/docs/postman/design-and-develop-apis/versioning-an-api/

You can also post queries on our community
https://community.getpostman.com/

[2020-03-31 20:12] #8265 closed, assigned to nobody

[2020-03-31 21:21] cmplank commented on #5459
@tjharrop It saves the variables, but it doesn't save that the variables are used in the collection's GET NEW ACCESS TOKEN dialog. So when someone imports the collection, they have to know to use all of those variables and write them into the dialog.

Ideally, they could import the collection, request a token, and start making calls.

[2020-03-31 21:25] trodix commented on #5740
A think a found where the problem is.

If we install Postman with snap or in my case with flatpak, the sandbox permissions don't allow us to use our default system's document manager. In this case, the application sand-boxed don't have access to anything else than the default flatpak or snap permissions.

If we install Postman by using the .tar.gz archive from [Postman web site](https://www.postma

[2020-03-31 23:22] apap04 commented on #350
stop with the +1s jesus

[2020-03-31 23:26] sunriseiscool commented on #350
+1

[2020-04-01 00:34] Camios commented on #7035
+1

[2020-04-01 04:18] numaanashraf commented on #5740
Thanks for letting us know @trodix. We'll look into whether there is a way to grant these permissions in Postman's snap manifest.

[2020-04-01 08:20] Neeraj-Natu commented on #7553
I faced this issue with postman version 7.18.1 I donot have admin rights to my work system so I cannot install the latest version (7.21.1). The app had automatic updates on and it got updated to the latest version although currently the latest version is not available at my workplace. What can i do?

[2020-04-01 08:25] DedMorozzz commented on #2086
+1. Variable only "Body". How to choose "body" as default tab?

[2020-04-01 08:52] prondzyn opened #8266 "Problem with importing multiple security headers while importing OpenAPI docs"
**Describe the bug**
The import Open API json file is not working properly for multiple secrets headers.

**To Reproduce**
Steps to reproduce the behavior:
1. Save [attached docs](https://github.com/postmanlabs/postman-app-support/files/4413888/example.txt) as a JSON file.
2. Go to 'Import'
3. Go to 'Import File' tab
4. Choose the JSON file
5. As a result you will get an imported collection, but w

[2020-04-01 09:18] sankalp0o commented on #6914
@chrisdeso so sorry for replying so late. I would love to go deeper into the use case here. Did you mean versioning for API schema or the whole API together with the other relations?

[2020-04-01 09:54] ghost opened #8267 "Postman don't starts on macOS Catalina 10.15.4"
After upgrading to the lates macOS update the application does not start.

<img width="384" alt="Screenshot 2020-04-01 at 11 52 06" src="https://user-images.githubusercontent.com/61451041/78123939-3e7e0880-740f-11ea-99f4-8ea7648136c1.png">

**Crashlog:**
[code]

[2020-04-01 10:12] zsoltii commented on #8196
Same problem under Ubuntu 18.04

**App information**

    Postman Version 7.21.1 (latest from https://snapcraft.io/postman)
    Ubuntu 18.04 Wayland (I have Amd Radeon rx480 and I use hwe x.org drivers)

[2020-04-01 10:18] egor-xyz opened #8268 "Import -> paste raw text -> X-XSRF-TOKEN with extra empty space"
**Describe the bug**
When you are importing from Chrome and Import with **paste raw text** `X-XSRF-TOKEN` looks like this: `X-X SRF-TOKEN` and it does not work (space between X and S)

**To Reproduce**
Steps to reproduce the behaviour:
1. Open `Import` and choose tab: `paste raw text`
2. Paste
[code]
3. Header parsed with extra space `X-X SRF-TOKEN`

**Expected behaviour**
The header must parse co

[2020-04-01 11:06] adrianDY commented on #8268
The same thing is happening to me since the upgrade to Version 7.21.1

[2020-04-01 11:41] sankalp0o commented on #6722
@hilary @bikash8gupta @saivan thanks for reaching out!

Collections and specifications (any of them) are very different from each other and at this point, we're unable to update a collection from the spec which can reliably work 100% of the time. That being said, it's not completely impossible depending on what has changed in the spec and how much has the collection evolved. There are solutions th

[2020-04-01 12:21] santiagosemhan commented on #1744
+1

[2020-04-01 12:48] GranitBerisha opened #8269 "Postman extremely slow"
Version : 7.21.1 (7.21.1)
Macos : 10.15.4 (19E266)

I cant even make a request is extremly slow, I have to restart 2-3 times jus to get a response back.
The idea is that it works great after I change the window/app and come back tto make another request it freezes and have to wait 1-2minutes to get it back working

cpu usage :

 Postman Helper	90.3	41:42.70	39	8	0.0	0.00	22779	granitberisha	(null)

[2020-04-01 13:24] marnixhoh opened #8270 "Adding a cookie adds a '.' (period) before the domain property"
Adding a cookie manually causes a '.' (period) to be added before the domain property of the cookie.

E.g:
    Cookie=value; Path=/; Domain=api.localhost; Expires=Thu, 01 Apr 2021 13:18:08 GMT;
becomes:
    Cookie=value; Path=/; Domain=.api.localhost; Expires=Thu, 01 Apr 2021 13:18:08 GMT;

When a cookie is set through a received 'set-cookie' header, the domain property is set correctly without th

[2020-04-01 14:09] jsebrech commented on #6252
I made that change but it reverted automatically. Perhaps as a temporary fix the DISABLE_WAYLAND=1 could be added in the default desktop file provided by the snap?

[2020-04-01 14:23] rmbryan71 commented on #7700
Is there a work-around that lets postman send traffic to sites that check browser version and don't allow old versions?

[2020-04-01 14:32] Shimmi commented on #7634
Hi @Atishay4294 ,
That is great news! Thank you!

We are reviewing it. Will let you know once we successfully test it.

Jiri

[2020-04-01 14:46] shreys7 commented on #7806
Hey @vanthuanqs , we have added the fix for this issue and it will be released with the next Postman App version - **7.22**, planned on 8th April.

[2020-04-01 14:48] shreys7 commented on #8268
@egor-xyz @adrianDY thanks for reporting this issue. It is a known issue and we have added the fix for the same. It will be released with the next Postman App version - **7.22**, planned on 8th April.

[2020-04-01 14:50] shreys7 commented on #7895
Hello everyone, we have added the fix for this issue and it will be released with the next Postman App version - **7.22**, planned on 8th April.
Thank you for your patience.

[2020-04-01 15:37] anilaselwyn-nbcuni opened #8271 "Authorization header gets generated twice for Basic Auth type request"
Authorization header gets generated twice for Basic Auth type request

**Steps to reproduce the behavior:**
1. Trying to get an amazoncongnito token
2. Post request
3. Use Authorization type Basic Auth with Valid username & password
4. See curl

{code}
curl --location --request POST 'https://host-xyz' \
--header 'Authorization: Basic xyz' \
--header 'Cache-Control: no-cache' \
--header 'Connection

[2020-04-01 15:47] shreys7 commented on #8271
Hey @anilaselwyn-nbcuni , can you mention the App version in which you are facing this issue?
Go to Settings icon(top right) -> Settings -> About

[2020-04-01 15:49] jpmzx1 commented on #350
+1

[2020-04-01 16:23] anilaselwyn-nbcuni commented on #8271
Hi ,

Here’s the version -

Postman for Mac
Version 7.21.1
OS X 18.7.0 / x64

Thanks,
Anila

From: Shrey Shah <notifications@github.com>
Reply-To: postmanlabs/postman-app-support <reply@reply.github.com>
Date: Wednesday, April 1, 2020 at 11:48 AM
To: postmanlabs/postman-app-support <postman-app-support@noreply.github.com>
Cc: "Selwyn, Anila (Contractor-NBCUniversal)" <Anila.Selwyn@nbcuni.com>, Men

[2020-04-01 17:04] numaanashraf commented on #8269
Thanks for reporting this. We have a ton of performance improvements that is planning to hit stable soon and this issue might be resolved in the coming release. These fixes are currently available on our early access builds - https://www.postman.com/downloads/canary. It'll help us a lot if you could try this build out and let us know if performance is better.

[2020-04-01 17:14] shreys7 commented on #8271
I tried reproducing this on **Postman 7.21.1** but could not reproduce by the steps you mentioned above. Can you provide detailed steps to reproduce and/or screenshots, video recordings to help us solve the issue? @anilaselwyn-nbcuni
![image](https://user-images.githubusercontent.com/20665864/78166068-ddcfe980-7469-11ea-9418-ab40f27580c0.png)
![image](https://user-images.githubusercontent.com/2066

[2020-04-01 17:36] afelthe opened #8272 "Postman will not work on my laptop no matter what I do"
**Describe the bug**
Postman will not work on my computer no matter where I am, no matter what browser I use and no matter which aspect of the error I try to troubleshoot with other github documentation.  All requests result in the following error:

Could not get any response

Why this might have happened:
The server couldn't send a response:
Ensure that the backend is working properly
Self-signed

[2020-04-01 18:00] vdespa commented on #3563
It seems that Postman is taking the approach of integrating Git over the cloud services they offer and not directly from the app.

This involves practically reimplementing version control. This means that only a limited of Git providers will be included, as each needs to be supported individually. We are talking were mostly Github, GitLab and maybe just maybe Bitbucket). So I don't think it will b

[2020-04-01 18:32] Jillxm commented on #3563
Valentin,

My postman collections only (not variables)  are currently If currently integrated with our private github server using access tokens to.

Does this email mean that the integrations using access tokens will no longer be supported?

Thanks,
Jill

From: Valentin Despa [mailto:notifications@github.com]
Sent: Wednesday, April 1, 2020 2:01 PM
To: postmanlabs/postman-app-support <postman-app-

[2020-04-01 18:36] ProBeta1 commented on #5215
@kkapell There is actually somewhat related feature - using a cookie jar to keep your cookies safe . Then you could [programmatically](https://learning.postman.com/docs/postman/sending-api-requests/cookies/#programmatic-access-of-cookies) insert and delete your favourite cookies , and if you are on diet , you can eradicate the entire jar !
@codenirvana If we can just make the entire cookie collect

[2020-04-01 18:51] matt-ball commented on #3563
Whilst not native, I would recommend looking at [Postman CLI](https://github.com/matt-ball/postman-cli) if you'd like to facilitate local development of requests, responses and scripts for Postman.

[2020-04-01 18:52] ProBeta1 commented on #8272
@afelthe Seems you are trying to configure Postman for the first time . The chrome app is deprecated for start , so you must use only the native apps . Then try following in the same order :

1. Check and recheck the proxy settings.
2. Open Postman Console (View -> Show Postman Console).
3. Send a request , you may like to follow [this](https://learning.postman.com/docs/postman/sending-api-request

[2020-04-01 18:59] GOVYANSONG commented on #5286
FYI I had the same issue initially. this is what worked for me: in chrome, right click the ajax call and select copy as curl (bash), then paste as raw text in postman.

[2020-04-01 19:33] owenashurst commented on #4009
Also interested in this functionality. Would be super useful!

[2020-04-01 20:53] vdespa commented on #3563
@Jillxm - Your current GitLab setup will work just fine. This issue is about a native Git integration which is not the current approach.

[2020-04-01 20:56] jeff812 commented on #4061
Seeing similar behavior within the latest version, Postman v7.21.1

Unable to use my integer variables that are being set via pre-request within the request body.

[2020-04-01 20:57] jeff812 commented on #8090
https://github.com/postmanlabs/postman-app-support/issues/4061

Seeing similar behavior within the latest version, Postman v7.21.1

Unable to use my integer variables that are being set via pre-request within the request body.

[2020-04-01 21:23] GranitBerisha commented on #8269
huhh I should had open this issue days ago, thanks the canary build is working great for now.

[2020-04-01 23:36] beruic opened #8273 "Ubuntu Software does not install newest snap"
**Describe the bug**
Installing the snap version of Postman from Ubuntu Software will use the channel `V6/stable` instead of `latest/stable`.

**To Reproduce**
Steps to reproduce the behavior:
1. Open Ubuntu Software.
2. Search for Postman.
3. Open the single found item.
4. Check which channel it will install from and try to change it.

**Expected behavior**
I expected to be able to install the sa

[2020-04-02 00:27] jamespavett commented on #7865
Myself and a colleague are currently using the native postman app to do basic POST requests with 10000s iterations. I think we are getting the same issue as above, as at around 15000 iterations the frontend becomes unresponsive and crashes.

[2020-04-02 01:11] yhal003 commented on #7100
Still broken v 7.21.1 Ubuntu

[2020-04-02 03:11] vanthuanqs commented on #7806
Awesome work, thank you!

[2020-04-02 06:13] murbanowicz commented on #3825
Finally we got dev assigned. @vvs11 - can you give us any update on this please?

[2020-04-02 07:43] maconrad opened #8274 "Private Mock Server apikey as query param not working, x-api-key in header is fine"
Hi All

When marking a mock server as private, setting the API Key via Query Param (named apikey as per documentation) results in mockNotFoundError. When using the same mock server/endpoint with x-api-key and using the Header, results are returned without a problem.
Tested with 2 different Mock Servers, same behaviour.

{
    "error": {
        "name": "mockNotFoundError",
        "message": "Plea

[2020-04-02 08:22] #8249 closed, assigned to nobody

[2020-04-02 08:33] numaanashraf commented on #8269
That's great to hear @GranitBerisha. These improvements will be available on the stable build next week.

[2020-04-02 09:25] mnunezdm commented on #5394
hope this gets implemented soon

[2020-04-02 10:54] sankalp0o commented on #8182
@BrandonGordon126 perhaps we can tweak the labels here?

[2020-04-02 12:46] tobyhede commented on #7634
Awesome, thanks!

[2020-04-02 12:49] spenceclark opened #8275 "Unable to create collection from API"
When trying to create a collection from an API definition, I get an error message

In the log files I get:

`[4689][1585831162781][requester][warn]["APIDevService~generateCollection: Failed to generate collection from schema",{"error":{"message":"SyncRequestService\\x7erequest: Undefined response returned"},"headers":{"Access-Control-Allow-Credentials":"","Access-Control-Allow-Headers":"","Access-

[2020-04-02 13:16] AlexPestre commented on #5960
I need this too. Please it will be great full.

[2020-04-02 13:36] laverix commented on #7844
same here

[2020-04-02 14:31] soniCaH commented on #8098
I'm having similar issues I think:

My first very simple schema:

[code]

will validate on this example data:

[code]

[2020-04-02 15:33] SentiaDev commented on #1744
+1

This will be useful to create pipeline to export OpenAPI schema to AWS API Gateway

[2020-04-02 17:03] harryi3t commented on #8273
@beruic Thanks for bringing this to our attention.
Looks like Ubuntu software is not picking the `default` track but the custom track `v6` that we had created to support teams who have not migrated to [Postman v7](https://learning.postman.com/docs/administration/migrating-to-v7/)

I checked that other snap apps are facing the same issue (like skype).
We are checking with the snap team on how to fi

[2020-04-02 18:57] RezDev94 opened #8276 "Problem with adding description for more than one folder in a collection"
**Describe the bug**
I have a collection with multiple folders inside, when I add description for more than one folder, It's getting messy.

**App information:**
 - App Type [Native App]
 - Postman Version [7.21.1]
 - OS: Ubuntu

[2020-04-02 20:10] shivros opened #8277 "Do not cut users off from using the Postman app when a sync conflict occurs."
**Is your feature request related to a problem? Please describe.**
Postman froze after I finished adding ~30 requests to a collection. I had to kill the process and when I restarted, I was given an error screen with the only option being "Use server changes".

The rest of the app is inaccessible, making it very difficult for me to back up any of my work.

**Describe the solution you'd like**
Eithe

[2020-04-02 20:27] eliassal opened #8278 "Semicolon not working in URL"
**Describe the bug**
I have a node.js app and trying to do some sql test. When I run the query and append ";", it fails and get an error in the node web application whereas without it works fine and I get a response

**To Reproduce**
Steps to reproduce the behavior:
1. Enter salam7:8081/adventureproc/12
2. Click on send
3. I get a response as follows
{
        "RecursionLevel": 0,
        "Busines

[2020-04-02 21:47] wasyster commented on #7868
I can't resolve any of Location variables. The link mentioned up, are still not resolving any data.

thnx

[2020-04-02 22:51] karlOS123testing commented on #4780
+1

[2020-04-03 01:02] ajmas commented on #8267
Running Postman 7.21.1 on macOS 10.15.4 and experiencing the same.

[2020-04-03 01:20] xk0der commented on #8267
Hey @ajmas, sorry to see you run into this issue:
Try the steps listed at the following article to clear Postman folders and then re-install Postman, and see if that helps:  [How to resolve Could not Open Postman error](https://support.getpostman.com/hc/en-us/articles/360025359014-How-to-resolve-the-Could-not-open-Postman-error-)

[2020-04-03 01:44] carlos-garcia commented on #7607
+1.. getting back to downloaded version

[2020-04-03 02:23] bensullivan opened #8279 "Shared Collection Experiencing Intermittent Request Reordering Inside folders"
**Describe the bug**
We use Postman to automate workflows with our API and then assert responses from specific requests to ascertain if the workflow has behaved correctly.  We have a collection that is shared between two users.  We duplicate folders to create new tests quickly (and then modify the duplicated folder and requests contained therein).  One user is using Postman on Windows (v7.21.1) an

[2020-04-03 06:45] Raja-Simha commented on #8276
@RezaT1994 could you elaborate more on the issue. Not really sure what you mean by 'messy'. Any screenshots or steps to reproduce will be helpful.

[2020-04-03 07:07] tkirankumar786 commented on #2845
it working for postman native apps but how

[2020-04-03 07:45] dsmatana commented on #7666
Have same problem for a looong time and way to debug why it's happening. We are paying for this.

[2020-04-03 07:48] sankalp0o commented on #8275
Thanks for letting us know @spenceclark , this shouldn't be happening and we'll immediately take a look!

[2020-04-03 07:59] coditva commented on #8270
Duplicate of #7901.

The leading dot signifies that the cookie will be used for subdomains as well.

Having `Domain=api.localhost` means that the cookie name will be used for every subdomain of `api.localhost`.
Whereas, with `Cookie=value; Path=/;` makes the cookie HostOnly and will only be used for the requesting hostname.

Remove the domain part from the string and the cookie becomes `hostOnly`

[2020-04-03 07:59] #8270 closed, assigned to coditva

[2020-04-03 09:11] CTrolin opened #8280 "Diffrent proxys per request and environment"
**Is your feature request related to a problem? Please describe.**
Im working in an environment there we have several servers per environment, at the moment i have to setup an ssl tunnel to be able to connect to the server, at the moment i have to reconfigure the tunnel all the time to be able to change the server, due to only one proxy setting in Postman

**Describe the solution you'd like**
set

[2020-04-03 09:30] arlemi commented on #7868
@wasyster Where in the app are you having issues with these variables not resolving? The updated list has now been published here https://learning.postman.com/docs/postman/variables-and-environments/variables-list/

[2020-04-03 09:32] harpreetbhatoa commented on #1744
+1

[2020-04-03 09:37] alogim opened #8281 "Postman freezes"
**Describe the bug**
Simply open Postman, perform a request and the application freezes.

**To Reproduce**
1. Open Postman either from the command line or from the desktop shortcut
2. Perform a simple request
4. The application hangs and does not respond to the user any more.

**Expected behavior**
The application should work smoothly and should not freeze.

**App information (please complete the

[2020-04-03 09:44] wasyster commented on #7868
values given at [here](https://learning.postman.com/docs/postman/variables-and-environments/variables-list/) are not resolved. I'm tried using it in a collection pre-request script. Always got empty for any location variable.

[2020-04-03 09:52] numaanashraf commented on #8281
@alogim Thanks for reporting this. We do not officially support Arch Linux at the moment and the version available on AUR is community maintained. The current version of Postman uses a custom build of Electron, which is not public, and Postman with `Electron 4.2.12` is not officially tested or compatible. We recommend reaching out to the AUR community or Postman community (http://community.postman

[2020-04-03 09:52] #8281 closed, assigned to nobody

[2020-04-03 09:58] jazzyarchitects commented on #8275
@spenceclark This seems like an intermittent issue. Can you check if this is still happening with your schema?

[2020-04-03 10:14] abhijitkane opened #8282 "Unable to view collection-level data (scripts / auth / vars) on which I have view-only permissions"
The only place that I know of where collection-level scripts can be seen is the 'Edit collection' modal window. The option of opening this is unavailable unless you have edit permissions on the collection.

Open the collection context menu for a collection on which you have read-only permissions - the edit option is greyed out.

**Expected behavior**
I should be able to open the modal but not save

[2020-04-03 10:20] spenceclark commented on #8275
Its still happening for me both from the Postman Native App and the Postman Website

[2020-04-03 11:06] jazzyarchitects commented on #8275
@spenceclark Would you be able to share your Specification here or can you send it to help@getpostman.com ?

[2020-04-03 11:12] cinphon commented on #3466
autosave and saveall +1

[2020-04-03 11:57] RezaT1994 commented on #8276
Here is the messy screenshot
![Screenshot from 2020-04-03 16-20-10](https://user-images.githubusercontent.com/31609638/78358110-e1798280-75c7-11ea-9eb6-dc2effb6c19a.png)

But when I click on view more It got fixed
![Screenshot from 2020-04-03 16-20-28](https://user-images.githubusercontent.com/31609638/78358168-f9e99d00-75c7-11ea-8e27-4ea81eb54a4c.png)

[2020-04-03 12:03] alogim commented on #8281
I see you have closed the issue, however, as I have explained, I also tried the version on the website and I have the same exact problem. Nonetheless, I will follow the link you published and ask for help there.

[2020-04-03 13:24] c-minus opened #8283 "Duplicating duplicated requests fails"
**Describe the bug**
When duplicating a request which was already been duplicated instead of getting the expected request you get initial duplicated request.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a Collection
2. Create a Folder
3. Add request => further referenced as R1
4. Add some keys in the Body->x-www-form-urlencoded
5. Duplicate request  => further referenced as R2
6. O

[2020-04-03 14:56] iAgentur commented on #2701
+1

[2020-04-03 16:25] spenceclark commented on #8275
Sure - its sync'd to github already - https://github.com/portemis/api-documentation/blob/master/Portemis.json

[2020-04-03 16:31] ma198307 commented on #3434
Hi,
1) Testing client auth only pfx file with passphrase works
I have tested this scenarion with a selfsigned certificate in .pfx format(public, private key with passphrase) and that authenticate fine on  api1 through postman. api1 has this self signed cert on the hosted server.

2) Testing client auth using just  crt file option( .crt/.pem extension ASCII file format) fails
When I test api2 with

[2020-04-03 16:55] ctunikuma commented on #5288
Yes I am running Version 7.21.2 (7.21.2) and came cross this issue today (trying to save a json file with size of 101MB).

[2020-04-03 17:22] dreamiurg opened #8284 "Postman GitHub Integration does not show all repository branches"
**Describe the bug**
After adding new GitHub Sync API schema integration and setting up personal access token and a webhook on our GitHub repo I don't see the branch we need to sync API schema with in the integration settings dropdown box.

The repository has ~100 active branches. The branch in question is present on GitHub. In fact we don't even see the `master` branch in the dropdown.

**To Repr

[2020-04-03 17:23] SabriH10 opened #8285 "`Learn more` link 404's for IdP configuration in Native app"
**Describe the bug**
When clicking on `Learn More` for the option to `Automatically add new users to this authentication method to my team` page 404's.

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to Team settings
2. Click on Authentication
3. Scroll down to IdP (e.g. Okta ) and click on Edit
4. Click on Learn more for `Automatically add new users to this authentication method to my t

[2020-04-03 17:35] jazzyarchitects commented on #8275
Hi @spenceclark, we have identified an issue with our systems when trying to convert this schema. We are working on a fix and should be available soon. We will inform you when the fix is ready. Thanks for bringing this to our attention.

In the meanwhile, there is an alternative approach you can use. Kindly follow the steps 1-7  as shown in the screenshots.

Once you have completed these steps, a

[2020-04-03 19:00] MuckT commented on #7868
Checkout this workaround in issue [886 - not able to use dynamic variables like {{$guid}} inside the pre-request script](https://github.com/postmanlabs/postman-app-support/issues/886#issuecomment-366734356)

[2020-04-03 22:11] luiz-leite-dev commented on #4780
+1

[2020-04-04 01:00] ethen8181 opened #8286 "Can't Find Preview Request Button When Doing Basic Authorization"
**Describe the bug**
Can't find the preview request button when doing Basic Auth.

**To Reproduce**
N/A

**Expected behavior**
There was a Preview Request button before.

**Screenshots**
<img width="362" alt="Screen Shot 2020-04-03 at 5 45 04 PM" src="https://user-images.githubusercontent.com/12273134/78415170-e3960e00-75d4-11ea-9c49-86618b689905.png">

**App information (please complete the follo

[2020-04-04 06:28] dylanh724 commented on #4751
Yep, still happening. Getting black screens (that don't recover) or crashing without error. Workarounds?

[2020-04-04 08:16] vikiCoder commented on #5288
Hi @ctunikuma, @matthewcoxx,

We are tracking this issue with large downloads here: https://github.com/postmanlabs/postman-app-support/issues/7871. Please follow https://github.com/postmanlabs/postman-app-support/issues/7871 for updates. The fix is on the way. I'll update the thread as soon as the fix is out.

[2020-04-04 09:45] rishabh7g commented on #6614
Wonderful feature to validate schema. Is it possible to use this in jar or java code?

My scenario is,
1. Given Swagger YAML file with 3.0
2. TestNg class, which will validate response body schema
       a. Send request using io.RestAssured api and get response
       b. validate response body schema for given path and status

[2020-04-04 12:50] jazzyarchitects commented on #8275
@spenceclark We have deployed a fix for this and you should now be able to directly generate a collection from your schema. Can you check and let us know if it works for you now?

[2020-04-04 15:17] literakl opened #8287 "Parse error on multiple "Content-Length" response headers"
**Describe the bug**

When server sends only headers for OPTIONS query Postman will tell that the server did not respond. Originally spotted here: https://github.com/nanoexpress/nanoexpress/issues/87

**To Reproduce**
Steps to reproduce the behavior:
1. Checkout this repository https://github.com/literakl/nano-options
2. Start the server with npm run nano
3. Create new Postman OPTIONS query to htt

[2020-04-04 17:05] alfapagal commented on #422
Same issue here.

[2020-04-04 20:17] anilaselwyn-nbcuni commented on #8271
Hey Shrey,
If you click on the headers tab you can see Authorization header being sent twice and that was causing an issue with the response.
But I just downloaded Version 7.21.2 and I don’t see that issue anymore. For e.g: in the below screenshot I would see Authorization header being sent twice in the request.
But I don’t see an issue anymore. I get the expected response

[cid:image001.png@01D60

[2020-04-04 21:19] atulsinha7 commented on #6354
Thanks. worked like a charm 👌

[2020-04-05 06:12] devesh-dbdigital commented on #7666
I also resolve this problem by deleting the postman folder in Appdata/local and appdata/roaming folder. I am using window 10  and Postman v7.21.2

[2020-04-05 07:35] kierans commented on #2721
`~/Library/Application\ Support/Postman`

[2020-04-05 10:21] flandershk commented on #1066
+1

[2020-04-05 14:34] akhsiM opened #8288 "Postman crashes when handling large responses"
This issue is related to #4751 & #7232,

 # Steps to reproduce

1. Open Postman
2. Select POST and type URL
3. Insert appropriate Body
4. Hit Send
5. Wait..
6. Initial response is displayed:

![image](https://user-images.githubusercontent.com/50348688/78500782-d70fe200-779b-11ea-8aa3-f481d6765bdf.png)

then Postman blacks out and becomes non-responsive:

![image](https://user-images.githubusercont

[2020-04-05 14:35] akhsiM commented on #4751
This issue is still happening so I have raised #8288.

[2020-04-05 15:42] akhsiM commented on #8288
Same issue in Windows 10 running as guest system in VirtualBox:

![image](https://user-images.githubusercontent.com/50348688/78503112-e6952800-77a7-11ea-8a42-13931731e927.png)

[2020-04-05 16:04] deepchenna commented on #1066
+1

[2020-04-05 16:11] vvs11 commented on #8286
@ethen8181 We have removed Preview Request button in the latest release. Now, you'll see a real time preview of your Auth headers in the headers section.
https://learning.postman.com/docs/postman/sending-api-requests/authorization/#specifying-authorization-details

[2020-04-05 16:11] #8286 closed, assigned to nobody

[2020-04-05 17:29] jcorvera commented on #4009
This feature, is importante :( !!

[2020-04-06 01:15] xk0der commented on #8208
@casti004 we did not hear back from you at the support ticket hence closing this GitHub issue as well.

Do reply back to the message you received via our Support portal to re-open the ticket if you change mind and we would love to help you out!

[2020-04-06 01:15] #8208 closed, assigned to xk0der

[2020-04-06 05:23] b-hayes commented on #7350
super annoying. How do I save to copies of the request with different settings?

[2020-04-06 05:50] rajnisingla commented on #7261
This would be a really useful feature to have. We can use Postman Collection as a way to document and release our APIs if we have this. For example: We can put in comments the information about what exactly was changed in the Request as per API specification and if expected response was received or not.

[2020-04-06 10:09] MarcBKirsch commented on #4636
It's a very annoying feature. Even the workaround kind of works for me, inporting collections overrides the parameters potentially. This really needs some love.

[2020-04-06 12:04] bojasna commented on #803
Hey guys,
Any news if this is still on the roadmap, finished or otherwise?
Thanks

[2020-04-06 14:31] VicKetchup opened #8289 "Ability to force sync changes"
**Is your feature request related to a problem? Please describe.**
Sometimes the app struggles to get the latest changes to local machine, however there is no way of knowing that sync wasn't fully complete or that there was an issue, which is causing some staff members to report issues that were already fixed. To fix this currently, the user with out-of-date collection(s) will have to log out and

[2020-04-06 14:51] arlemi commented on #7868
@wasyster Dynamic variables can't be used in pre-request or tests scripts. We'll update the documentation to reflect that. :)

[2020-04-06 16:01] fdoyen commented on #5093
Damn, extracting in CLI and not with GUI solved the problem, like the others. Last time I do something with GUI. CLI ftw ! Thanks mate.

Worked on Lubuntu 18.04 LXDE

[2020-04-06 16:35] slehman1803 commented on #6987
Please fix this problem in the OAuth 2 functionality.  Cognito returns 2 tokens.  One is called "Access Token" and the other is called "id_token".  The "id_token" can be used as a normal Bearer Authorization token.  Postman grabs the "Access Token" which I guess wants to be in a header called "authorization" with no "Bearer" prefix.  Postman needs to offer a better OAuth2 experience anyway like st

[2020-04-06 17:26] trystero11 commented on #4117
+1 from me, too.

[2020-04-06 17:31] elznr commented on #7700
I have same problem. Can I get token elsewhere?

[2020-04-06 19:09] anibal-acosta commented on #8283
Same problem with version 7.21.2. Cannot copy a request tab using the "Duplicate Tab" menu, because any change in the duplicated tab also change the original tab

[2020-04-06 21:23] TurboFry3 commented on #6105
Am I missing something..  I do not see an option to backup Collections.  only the sync API.
![image](https://user-images.githubusercontent.com/55706035/78606463-5d273980-782b-11ea-9add-42bb022fef74.png)

[2020-04-06 22:46] rajan61005co commented on #2701
+1

[2020-04-07 03:46] meotch opened #8290 "Generated cURL injects Content-Type from Body tab instead of honoring custom Content-Type from Headers tab"
**Describe the bug**
Using 'Code' tab to generate cURL injects an extra Content-Type from 'Body' dropdown-menu instead of honoring the already set Content-Type from 'Headers' tab. Because of this, we have to manually remove the additional `--header 'Content-Type: text/plain' \` everytime we want to run a request that has our custom json format

**To Reproduce**
Steps to reproduce the behavior:
1.

[2020-04-07 06:06] godfrzero commented on #8199
@JP-from-Postman If the collection is fetched via the Postman API, are the parameters in the correct order?

[2020-04-07 06:10] ambasta commented on #6252
This does nothing for native wayland support and is rather offtopic

[2020-04-07 06:43] ankitjaggi commented on #8277
Hey @typenil! This is certainly not the experience we expect to provide you. Can you send an email over to help@getpostman.com with the app logs and any more screenshots that you can help us with?

[2020-04-07 07:16] dvdvdmt commented on #6722
I'm adding new endpoints or changing description of existing ones and I expect that different variables values such as `baseUrl`, `authToken` etc. will preserve in collection settings.

[2020-04-07 08:19] eyalgrossdev commented on #3117
I too would like to know of any updates on this? Thinking of switching from SwaggerHub but this is a bit of a deal breaker. 😞

[2020-04-07 10:21] santosh-kh commented on #4079
+1

[2020-04-07 10:40] kepikoi commented on #8169
It doesn't work for me. Uploading a 90x90 favicon.ico (jpg compression, 7KB) via an up-to-date chrome in incognito tab.

Im getting this error `{"error":{"message":"Upload preset must be specified when using unsigned upload"}}` from https://api.cloudinary.com/v1_1/postman/image/upload.

[2020-04-07 11:46] emanuele-dedonatis commented on #4173
I have the same issue.
The problem is that variables set manually from the UI are stored as strings.

My solution is:
1. Export variables as JSON file
2. Edit values in the JSON file
3. Delete variables from Postman UI
4. Import the edited JSON file

### Example
1. Set variable integerVariable = 123 from Postman UI

2. The test `pm.expect(pm.variables.get("integerVariable")).to.be.equal(123);` fai

[2020-04-07 11:46] JoseAburt commented on #7110
ls /snap/bin
execute postman

[2020-04-07 12:33] malcolmm83 commented on #7294
I'm in v7.21.2 and I still have issues.  It's not all the time, but if it runs long enough, it eventually starts using up most of the CPU.  Restarting fixes it for a while.  I do use the history quite a bit.

[2020-04-07 13:09] eliassal commented on #8278
Hi, any news?

[2020-04-07 13:19] akshaybhalotia commented on #1066
+1
5 years and counting

[2020-04-07 13:21] dareales commented on #7700
Until they fix this bug, you can use the chrome extension to get the token exclusively. Then paste the token into the desktop application to continue working.

[2020-04-07 15:54] SueSmith commented on #8285
Opened a docs pr for this https://github.com/postmanlabs/postman-docs/pull/2308

[2020-04-07 16:22] Jlopezjlx commented on #4780
This feature will be very helpful. +1

[2020-04-07 17:07] Mr3dfx commented on #7294
While continuing to have this issue, I discovered a super double top secret build that has helped me across the board, display rendering and performance issues. It's called 'Canary' build,

https://www.postman.com/downloads/canary

**WARNING** This is kind of a 'feature' branch, so using it may have unintended issues, HOWEVER, it can be run side-by-side the released build (which I can confirm).

O

[2020-04-07 17:32] numaanashraf commented on #7294
@Mr3dfx Great to hear that performance has improved for you with our Canary build. Canary is our early access release channel, and the same improvements will roll out to stable this week. :)

[2020-04-07 18:53] MarcBKirsch commented on #4636
I figured another workaround which am using moving forward: I use a pre-script to generate a token automatically. Took me a few hours to figure out how it works, but I can recommend going down this path. Saves clicks and even better, the requests can be easily be used in collection runs. But I agree, this should be an out of the box feature.

[2020-04-07 18:59] clculver commented on #8267
Hello. After following the above steps, I am still not able to get this to work. The setup stalls when my Mac asks me to "move to applications" - it does not go any further for me.

[2020-04-07 19:17] kinlane opened #8291 "Web Launchpad"
**Is your feature request related to a problem? Please describe.**
I am looking for a single URL, not associated with APIs, collections, environments, etc to share with team members.

**Describe the solution you'd like**
Add a default launchpad tab for each of my workspaces in my team web dashboard.

**Describe alternatives you've considered**
Telling my team members to use their client launchpad

[2020-04-07 20:00] pvm30 commented on #1014
Idiocy and nothing more than idiocy. Why do we have to suffer the statefulness of this application? Every time I start Postman I want to start from scratch and clean I don't give a shit about what I didi in the previous session

[2020-04-07 21:17] softbucket opened #8292 "Can't import curls generated from Code->cUrl (New Code Generation Mode)"
The Code->cURL generator and Postman import is useful for us to share post-body requests around without having to save it to a collection. The cURL generation is either not imported correctly (with new Code Generation) or is imported but not separated into key/value pairs under x-www-form-urlencoded.

For our workflow, saving a collection is an issue because it inundates our space with just "examp

[2020-04-07 22:07] JP-from-Postman commented on #8199
@godfrzero I don't have access to the collection connected to this bug. I'll inquire with the user who reported it.

[2020-04-07 23:05] jtonneyck opened #8293 "Disabling the cookie jar for 1 requests, disables it for subsequent requests"
**Describe the bug**
Switching"Disable cookie jar" to ON for a request should disable the cookie jar for that request only. However, in the runner all subsequent requests also seem to have the cookies disabled. The bug isn't triggered when the requests are executed manually. It seems to be a problem of the runner.

**To Reproduce**
Steps to reproduce the behavior:
1. Create new collection.
2. Crea

[2020-04-08 04:13] evitern commented on #4079
+1

[2020-04-08 04:23] prashantagarwal commented on #8171
@deepakpathania Is it still showing error for you?. We haven't been able to reproduce this at our end.

[2020-04-08 05:28] vikiCoder commented on #8293
Duplicate of: https://github.com/postmanlabs/newman/issues/2292

[2020-04-08 05:50] tristandenyer commented on #8285
We should make sure a GitHub Issues gets made for the Product team to update this link on their end as well—we shouldn't rely on a redirect.

[2020-04-08 06:59] mgilangjanuar commented on #1744
+1

Currently, I use this: https://github.com/peopledoc/swagman

[2020-04-08 07:44] RamNow commented on #3358
+1 this feature would be very helpful

[2020-04-08 07:57] leofrances-extflowbird opened #8294 "Possibility to share global variables between many workspaces"
**Description of my problem**
I use global variables to store custom and generic functions. I need to have these functions for all environments. But the global variables are defined for one workspace and cannot be shared to another workspace.

**The solution I would like**
I think it would be nice to be able to share global between workspaces to resolve it. Or, I think it is better to have the pos

[2020-04-08 09:24] AAATechGuy commented on #5194
this feature would have been good.

[2020-04-08 10:22] dancerjohn commented on #4058
Count me in as wanting this as well

[2020-04-08 11:46] tumiiik opened #8295 "Unable to sync collentions to application on windows"
Hello,

**Describe the bug**
I downloaded the latest version of Postman. After then I logged in to the application but the account is not synchronized (like collections). When I checked collection through a web browser I can see them. The sync button in Postman is red and when I click on it, nothing happens.

**To Reproduce**
Steps to reproduce the behavior:
1. Download latest version postman ( v7

[2020-04-08 12:17] talentedexpert0057 commented on #5803
Same here

[2020-04-08 12:59] Regenhardt commented on #350
Still nothing? This has been open for 7 years now, and still not in development?

[2020-04-08 13:16] prashantagarwal commented on #8221
@cyrielle-hada The fix for this is now available in production.

[2020-04-08 13:16] #8221 closed, assigned to prashantagarwal

[2020-04-08 14:33] arlemi commented on #6719
We've just released v7.22 of the app which gives the ability to import GraphQL schemas as an API and to write GraphQL schemas in JSON!

Update your app or get the latest version from our website: https://www.postman.com/downloads/

[2020-04-08 14:50] sebastienbarre commented on #6719
If you are referring to the "Import" button on top, and "Import from Link", then no, it's not working when passing it the GraphQL endpoint. It says: "format not recognized". That same endpoint is recognized and introspected without issues by any GraphiQL app.

[2020-04-08 14:51] arlemi commented on #8067
We've moved the button at the top of the page to make sure no one's missing it in the latest version of the app (7.22). :)

[2020-04-08 14:52] arlemi commented on #5990
This patch is now in the production app as well (from version 7.22)! 🚀

[2020-04-08 14:53] arlemi commented on #7871
We've made performance improvements for downloading and saving large responses, update your app and let us know if it's smoother! (available from v7.22)

[2020-04-08 14:54] justtonytone commented on #6719
I've also tried to import our graphql schema from a link and pressing the Import button doesn't do anything on my end. If I update the url to an endpoint that returns the introspect object (or an invalid url just to test), I get an error of `Error while importing: format not recognized`, which makes sense.

[2020-04-08 15:00] justtonytone commented on #6719
@sebastienbarre my guess is that you are importing a url with the introspection json in a format that Postman does not yet recognize. According to this comment, we have to unwrap the data value ourselves: https://github.com/postmanlabs/postman-app-support/issues/6719#issuecomment-583872289

[2020-04-08 15:01] #5990 closed, assigned to shamasis

[2020-04-08 15:11] raskiman commented on #3365
Any news on this, i agree with karsten-wagner > it's super annoying. Thx for any update!

[2020-04-08 15:24] arlemi commented on #6719
Reopening since it looks like I had the wrong issue number, my bad! 😬 We'll keep you updating as we pick up this one.

[2020-04-08 15:26] pankajk07 commented on #5078
Fixed in Version app 7.22.

[2020-04-08 15:26] #5078 closed, assigned to numaanashraf

[2020-04-08 15:26] shoteff opened #8297 "Postman app is not supporting RFC-6266 when executing Save and Download"
**Environment**
Postman for Linux
Version 7.22.0
ArchLinux, kernel 5.4.28-2-lts / x64
Chromium Version 80.0.3987.149 (Official Build) Arch Linux (64-bit)

Seems like the Postman app is not currently supporting [RFC-6266](https://tools.ietf.org/html/rfc6266#section-4.3) when executing Save and Download

In details:
I got a REST service, which is returning a file by some criteria. The filename could

[2020-04-08 15:27] nik72619c commented on #7212
This bug is resolved in the new release `7.22` of the postman app.

[2020-04-08 15:27] #7212 closed, assigned to nobody

[2020-04-08 16:28] kamalaknn opened #8298 "App resets zoom levels after updating"
**Describe the bug**
Zoom levels are reset to much lower level on updating to 7.22

**To Reproduce**
Steps to reproduce the behavior:
1. Zoom in a little on 7.21 or lower
2. Update to 7,22
3. See that zoom level is reset to a much lower level

**Expected behavior**
Zoom level should be preserved

**Screenshots**
Before
<img width="1281" alt="Screenshot 2020-04-08 at 9 56 36 PM" src="https://user-i

[2020-04-08 16:32] deathgaze commented on #5990
Huge improvement! :3 well done!

[2020-04-08 16:47] ptncafe commented on #7592
`
app.UseCookiePolicy(new CookiePolicyOptions
            {
                MinimumSameSitePolicy = SameSiteMode.Lax,
            });
`
 Did you try it? It work with me

[2020-04-08 17:45] bhambrij opened #8299 "Mock Server is sending the unexpected response"
Mock Server returning the same result with all the params.

Mock Documentation: https://documenter.getpostman.com/view/10911451/SzYZ1z5g
Request : {{url}}/api/project

**** REQUEST 1 ****

Request Body 1 :
[code]

Expected Response for request body 1:

[code]

**** REQUEST 2 ****
Request Body 2 :

[code]

Expected response for request 2

[code]

**** ERROR ****

Received response for all the cases

[2020-04-08 17:48] thoys commented on #3646
+1

[2020-04-08 18:58] RajatBanerjee commented on #7895
Is this fixed ? i did a code generate and it still does --data-raw

[2020-04-08 19:08] mccannt commented on #7895
@RajatBanerjee Did you get the 7.22 version of the app yet? It is currently being rolled out to users.

If you haven't, please wait until you get the update and then try again. If you have received it and it's still not working, please let us know.

[2020-04-08 19:13] eaboyle57 commented on #4780
+1

[2020-04-08 19:21] MuckT commented on #886
Instead of trying to assign the dynamic variables to environmental variables in the pre-request script, which fails, try saving the request.data to an environmental variable and comparing the response based off that.

Request body to 'https://postman-echo.com/post'
[code]
Postman tests
[code]

[2020-04-08 20:38] numaanashraf commented on #8130
Hey everyone, we discovered an [issue](https://github.com/postmanlabs/postman-app-support/issues/8298) in v7.22.0 and had to revert this particular improvement as part of v7.22.1 patch. We'll definitely bring back the expanded zoom ranges once we iron out few issues there.

[2020-04-08 20:42] harryi3t commented on #8298
This is fixed in Postman v7.22.1

[2020-04-08 20:42] #8298 closed, assigned to nobody

[2020-04-08 20:52] gingters commented on #8130
Oh, how unfortunate. I really was happy that this was adressed so quickly and I could use better zooming in in my upcoming webinar talks.
But anyways, keep up the great work 👍 and be sure that I wait desperately for this ;)

[2020-04-08 20:59] numaanashraf commented on #8130
We hope to have this out as part of `v7.23`, which should hit stable in two weeks. It'll be available even sooner on our early access 'canary' channel - we'll let you know the moment it does. Thanks for your patience @gingters!

[2020-04-08 22:18] ColdCerealAtWork opened #8300 "Search in environment quick view"
**Is your feature request related to a problem? Please describe.**
Using the faker api is great for random data creation in many fields and using that data across requests, but doing so leaves my environments full of a long list of variables, to the point where it becomes frustrating looking for a specific variable to copy or modify.

**Describe the solution you'd like**
If there was a search opti

[2020-04-08 23:08] s101d1 opened #8301 "Chromium browser support issue for Postman Interceptor Bridge"
**Describe the bug**
Can't install Interceptor bridge for Chromium browser on linux.

**To Reproduce**
* Install chromium browser. Make sure you don't have google chrome installed.

* Install postman interceptor extension on the chromium.

* Install postman.

* Try to install the interceptor bridge (https://learning.postman.com/docs/postman/sending-api-requests/interceptor/#installing-interceptor)

[2020-04-08 23:09] #7871 closed, assigned to saswatds

[2020-04-08 23:09] #7976 closed, assigned to nobody

[2020-04-08 23:09] #8067 closed, assigned to vvs11

[2020-04-08 23:09] #4598 closed, assigned to nobody

[2020-04-08 23:09] #7522 closed, assigned to vikiCoder

[2020-04-08 23:09] #7844 closed, assigned to nobody

[2020-04-08 23:09] #7929 closed, assigned to ankurdengla

[2020-04-08 23:09] #8029 closed, assigned to nobody

[2020-04-09 00:43] forresthopkinsa commented on #5903
This is incredibly frustrating and makes the app a pain to use

[2020-04-09 02:49] pacific202 commented on #4033
It's been a long time, but I'm needing this now.  I am working with two separate clients that want ADP API integration, and I have to swap the certificates globally every time I switch working with one client or another.

It would be great if the Client Certificate setup became part of the Environment setup.

[2020-04-09 03:02] ankit-m commented on #8295
@tumiiik can you open the devtools console (View -> Developer -> Show Devtools (Shared)) and add screenshots of the console log?

The red sync icon indicates that we were unable to connect to our servers via websocket. This may happen due to firewall or proxy issues.

[2020-04-09 04:04] fireattack opened #8302 "URL path variables are not replaced if followed by a dot"
**Describe the bug**

When path parameter is immediately followed by a dot, the character afterwords are considered as part of the path parameter. And there is no way to split the two.

Example: `https://example.com/api/:id.json`

**To Reproduce**
Steps to reproduce the behavior:
1. Create a new request tab.
2. Paste in the above link
3. Check path parameter part.

**Expected behavior**
The key sh

[2020-04-09 04:26] ankit-m commented on #7951
We have released first round of improvements in **v7.22**. You should see performance improvements while working in large and high activity workspaces. We will continue to release improvements and keep you notified.

[2020-04-09 04:29] #6952 closed, assigned to nobody

[2020-04-09 05:01] pigubaoza commented on #2437
I am having this problem on Ubuntu 16.04, and I'm not running it as a VM. It would start up fine, then black out after a few seconds without any user input. v7.22.1

[2020-04-09 05:17] pigubaoza commented on #6521
same issue under Ubuntu 16.04, Postman v7.22.1

[2020-04-09 05:28] kotsh commented on #350
This is disappointing and says something about Postman's development as a whole.

[2020-04-09 05:38] coditva commented on #8297
@shoteff Thanks for writing in! I'll mark this as a feature request and will update when there's progress! :)

[2020-04-09 06:24] shreys7 commented on #7895
Hey @RajatBanerjee , the issue wasn't the code generator generating a `--data-raw` in the snippet. It was about not able to import the cURL request body when using `--data-raw` argument. This has been fixed with the latest release. Do let us know if you have any other queries :)

[2020-04-09 06:27] shreys7 commented on #8268
Duplicate of #7806

[2020-04-09 06:27] #8268 closed, assigned to nobody

[2020-04-09 08:31] adussaut opened #8303 "[Feature request] Add a "Pull changes from forked collection" in the app to sync a fork with the original collection"
Hi, here's a small request to enhance the app user experience.

**Is your feature request related to a problem? Please describe.**
There is no intuitive way to pull changes from the forked collection to your fork as of today.
You have to go through the "Merge changes" button on the app to see if the button "Pull changes" is available on the website, which is a waste of time.

**Describe the soluti

[2020-04-09 09:06] marekmajerski commented on #4117
:+1:

[2020-04-09 09:09] aleksandraban commented on #4117
👍

[2020-04-09 09:30] LearningRaph commented on #3117
any updates ?

[2020-04-09 10:10] arlemi commented on #6722
@sankalp0o Similar ask on our community forum: https://community.postman.com/t/automatically-sync-openapi-swagger-spec-to-collection/8551

Mostly, users are concerned about losing their tests and variables every time they regenerate the collection from the schema.

I believe even a 1 way sync that would update your Postman collection each time a change has been made to the swagger spec would be ve

[2020-04-09 11:43] rafael-asaph commented on #4401
I'm having this issue right now. Is there anything i can do?

[2020-04-09 12:29] jperucello opened #8304 "Schema tv4 validation stopped working since the last Postman application update"
**Describe the bug**
Since last Postman application update tv4 schema validation is throwing an error.

**To Reproduce**
Create test for Json schema
`pm.test('Schema is valid', () => {
    pm.expect(tv4.validate(4, {"type": "number"})).to.be.true;
});`

Response:
TypeError: r.definedKeywords[a].slice is not a function

**Expected behavior**
Validator to return true/false and show on test results

[2020-04-09 13:25] hedrickbt commented on #4193
I have the same issue.  I have a login-request that sets a token environment variable.  Then each of my scripts uses that environment variable.  It would make sense for the other requests to call my login-request first and then token would be set.  This supports the DRY principle too.

The workaround of copying the console version of my login-request into each request would work.  But, with more t

[2020-04-09 14:07] DannyDainton commented on #8304
@jperucello If you use something like this in your test, it will use AJV for the schema validations.

[code]

[2020-04-09 14:37] TheDirigible commented on #3518
This issue still exists.  To be clear, this is a UI issue.  When you click "Add Cookie", nothing happens.  This only happens if the user has entered a protocol before the domain name, ie "http://".  Postman should reject that if it's invalid.  It shouldn't present a non-working button.

[2020-04-09 14:51] lbertoncin commented on #5286
same issue for me

[2020-04-09 15:15] seantcanavan commented on #3518
I think there might be an issue with adding a port as well after localhost although I'm not sure why.

[2020-04-09 15:15] discplayer opened #8305 "HLS playlists response unreadeable"
When requesting an HLS playlist (*.m3u8), the content-type response header may be audio/mpegurl.  this is a valid and supported content-type by Apple.  The issue is with the way Postman handles the formatting.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://devstreaming-cdn.apple.com/videos/streaming/examples/bipbop_adv_example_hevc/a1/prog_index.m3u8
2. Click on Headers
3. Ver

[2020-04-09 15:30] SherloxTV commented on #3117
https://github.com/postmanlabs/postman-app-support/projects/40#card-33062537

[2020-04-09 16:01] ohjimijimijimi commented on #8179
👍 for this feature as suggested [here](https://community.postman.com/t/setting-headers-for-entire-collection-folder/708/37?u=ohjimijimijimi)

[2020-04-09 17:06] joelrevans commented on #6354
I am having this issue with requests to all hosts, even to google. The following is a console error in response to a basic request to https://google.com. Ironically the request to http://google.com does not have this error.

![image](https://user-images.githubusercontent.com/10842234/78921199-90074280-7a62-11ea-8acb-d0b701315f3b.png)

Disabling the SSL certificate validation prevents this error.

[2020-04-09 17:25] RajatBanerjee commented on #7895
Got it @shreys7 . So the issue i am talking about is that considered a bug?

[2020-04-09 18:42] Laban1 commented on #6351
++1

[2020-04-09 19:07] davadora commented on #3489
FWIW, my organization would be interested in this feature being added as well.

[2020-04-09 19:10] clarkritchie commented on #5963
Are there any workarounds to this?  Without the ability to specify an API key in a Postman webhook, seems like you'd have to make your own Lambda or something to sit in-between.

[2020-04-09 20:01] alanwill commented on #8067
It looks like this might have broken the ability to right click on the token and add it to your environment variable 😢

[2020-04-10 01:50] lucasdclopes commented on #3684
Yes, please! We are currently using another tool for this, but we would prefer to have all of our testing cases in postman.

[2020-04-10 02:32] GolderGao opened #8306 "Postman runner to import CSV file..."
I am using post runner to import CSV file. If the number is too long, if it exceeds the length of 9223372036854775806L(Long), it will be replaced with 0.
can you help me?

![image](https://user-images.githubusercontent.com/50124583/78956930-745d7400-7b16-11ea-8c38-d1c79a8a21d7.png)
![image](https://user-images.githubusercontent.com/50124583/78956961-8a6b3480-7b16-11ea-86ec-a900d5ea35fb.png)

[2020-04-10 02:45] zkcloud opened #8307 "Request Descriptions not added"
**Describe the bug**
When add request in left menu，write 'Request description(Optional)', then save , but 'Request description' didn't  display in right, lost.

**App information (please complete the following information):**
 - App Type : Native App
 - Postman Version : 7.22.1
 - OS: win10

**Additional context**

[2020-04-10 04:16] LieAlbertTriAdrian commented on #697
+1

[2020-04-10 06:49] weeix opened #8308 "Add an option to turn off filename* in form-data requests"
**Is your feature request related to a problem? Please describe.**

When sending form-data request with files to a node.js server (using [Express](https://expressjs.com/) and [multer](https://www.npmjs.com/package/multer) ), non-English characters in the filename became gibberish, e.g. `#2"7H-8%2#.pdf`.

This might be a result of implementing `filename*` in form data as per [RFC 6266](https://t

[2020-04-10 07:11] xtbe commented on #675
+1 For me as well - Would be useful for collaboration in teams and help writing consistent test for developed APIs

[2020-04-10 09:35] badmansan opened #8309 "Can't change interface font size"
**Describe the bug**
After the last update to version 7.22.1 app font become very big and i can't change it via settings or `Ctrl+`/`Ctrl-`

**To Reproduce**
Steps to reproduce the behavior:
?

**Expected behavior**
Font must resize

**Screenshots**
I make it by request

**App information (please complete the following information):**
 - App Type - Native App
 - Postman Version 7.22.1
 - OS: win32

[2020-04-10 10:43] badmansan commented on #8309
Sorry, the problem was in keys: need to press `-` and `=` instead of `+-` keys in numeric part of keyboard

[2020-04-10 10:43] #8309 closed, assigned to nobody

[2020-04-10 13:22] bhambrij commented on #8299
Kindly keep us posted on the updates.

[2020-04-10 14:38] SiDDevNet opened #8310 "Installation Issue"
**Describe the bug**
Can not proceed with setup wizard

**To Reproduce**
Steps to reproduce the behavior:
1. Go to ''Download Directory"
2. Click on 'Postman-win32-7.22.1-Setup.exe'
3. Scroll down to 'Wait for the Login Authentication Page'
4. See error

**Expected behavior**
Screen should appear

**Screenshots**
![image](https://user-images.githubusercontent.com/63461095/78998171-a8ac5100-7b65-11

[2020-04-10 14:40] kosalamoon commented on #4142
thanks... this worked for me

[2020-04-10 14:45] SiDDevNet commented on #8310
![image](https://user-images.githubusercontent.com/63461095/78999338-080b6080-7b68-11ea-8b74-f01784e3713e.png)
Same Issue Occurs with Canary Setup of Postman

[2020-04-10 15:03] JakeTrock commented on #350
I want to move my workspace over from insomnia, because insomnia has no unit testing tools to speak of(something I wish I knew when I started using it), and I have around 50 complex requests that I have to move over, I could either do it manually, or attempt to export as a HAR, and import it into postman. Sadly this isn't possible, which means I'll have to use the more tedious model.

[2020-04-10 15:25] dawidd6 commented on #5403
v7.22.1

Issue still occurs.

[2020-04-10 15:27] arpieb opened #8311 "Bootcamp > "Carry data between requests" crashes halfway through"
**Describe the bug**
While following the "Bootcamp > Carry data between requests" guided tutorial, the tutorial gets to the view variables step and clicking next bails on the guide, and clicking continue at the bottom of the screen starts over several steps back.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Bootcamp
2. Click on 'Carry data between requests'
3. Follow the guide up to

[2020-04-10 15:35] prashantagarwal commented on #8311
@arpieb Thanks for reporting this, I was able to reproduce this issue. I'll update you once we have a fix ready for this.

[2020-04-10 16:51] lostindark commented on #3466
I don't know how many times I modified a lot of requests but forget to save them before I close those tabs. Only find out when tests failed.

Need the following features:
1. Warning there are not saved modifications when: close tabs, run test collections.
2. Offer an option to save all.
3. Auto save!
4. The modified status dot should show up in collections too (not only on tab).

[2020-04-10 16:54] lostindark commented on #7867
I don't think there is a reason to duplicate the tab and link to the same request. Duplicate tab should just create a new tab, with same data but not linked to the request in collection anymore.

[2020-04-10 17:59] shirshak55 opened #8312 "Post man server sync and resolve conflict too annoying"
Work on some thing and it forever annoys like server is not is sync and always wants me to resolve conflict. And this time i am even unable to resolve. And I am only working alone so there shouldn't be any chance of conflict.

<img width="1317" alt="image" src="https://user-images.githubusercontent.com/8097377/79012021-0dc36f00-7b85-11ea-937f-9f2ee92c8db7.png">

[2020-04-10 19:40] ash-at-github opened #8313 "Schema validation not providing details of reported issue"
Came across exact same issue as defined here: https://community.postman.com/t/schema-validation-not-providing-details-of-reported-issue/11063
Could not find resolution anywhere. Updated the postman version to latest 7.22 but issue still persists

[2020-04-11 04:46] testdataservices opened #8314 "Many console.log messages make UI hang and become unresponsive"
**Describe the bug**
When experimenting with visualizations, I added console.log entries in a part of the test script that generated several hundred entries in the Postman Console. After a few 'Visualizations' the Postman UI became unresponsive, making it very difficult to switch between Requests and even SEND requests.

**To Reproduce**
1. Import this collection: https://testdataservices.com.au/t

[2020-04-11 05:58] edargelies commented on #7184
I've found a way to do this, although it doesn't feel good from a OpenAPI/Swagger perspective.  What I found is you can add a "default" property with your variable name e.g.

        {
          "in": "header",
          "name": "Authorization",
          "description": "The bearer token in the format: Bearer {token}",
          "required": true,
          "type": "string",
          "default": "B

[2020-04-11 08:54] APradyut commented on #5194
Yes we need this feature for testing the GRPC services,

[2020-04-11 11:28] pdeak commented on #4033
@pacific202 I would recommend switching to an alternative tool like we had to (SoapUI, Insomnia etc). Its been over 2 years ago that I raised this, Postman's usability and feature set has evolved and progressed significantly in that time, just not when it comes to the usage of client certificates.

Other tools (including the ones I mentioned above) provide easier ways to switch certificates.

[2020-04-11 13:30] shikha1982 opened #8315 "Postman showing could not get any response"
**Describe the bug**
I am hitting my development server for which VIP is created and proxy is enabled for our local testing.

Proxy Settings:
![image](https://user-images.githubusercontent.com/18456057/79044969-14c29f80-7bce-11ea-87b0-a0cad2d62e2e.png)

General Settings:
![image](https://user-images.githubusercontent.com/18456057/79044978-24da7f00-7bce-11ea-8432-376e9a3df4a0.png)

Postman console:

[2020-04-11 14:41] vvs11 commented on #8314
@testdataservices Thanks a lot for writing to us. We will check out what's going wrong here and keep you posted.

[2020-04-11 14:43] vvs11 commented on #8313
Thanks @ash-at-github for reporting. We will take a look and get this resolved

[2020-04-11 14:50] vvs11 commented on #8307
@zkcloud Could you give us steps to reproduce this issue. Screenshots or videos for this would be really helpful too

[2020-04-11 14:55] vvs11 commented on #8304
@jperucello closing this issue for now, if you have any other queries, please reach out to our community: https://community.getpostman.com/

[2020-04-11 14:55] #8304 closed, assigned to nobody

[2020-04-11 14:59] vvs11 commented on #8278
@eliassal, hope this resolves your issue. If it doesn't, please feel free to post a query/problem on our community.
https://community.getpostman.com/

[2020-04-11 14:59] #8278 closed, assigned to vvs11

[2020-04-11 15:06] vvs11 commented on #8300
duplicate of #6562

[2020-04-11 15:06] #8300 closed, assigned to vvs11

[2020-04-11 15:36] eliassal commented on #8278
Hi, ther is no this option in settings as you can notice in the snapshot
![PostmanSetting](https://user-images.githubusercontent.com/8447864/79048102-f767f280-7c1a-11ea-8eb3-75f98a60a87b.jpg)

[2020-04-11 15:50] eliassal commented on #8278
I upgraded to Postman-win64-7.22.1, now I have the option but it did not help. Withou the ";" it works fine as you can notice in the 2 snapshots

![PostmanSetting_002](https://user-images.githubusercontent.com/8447864/79048334-b2dd5680-7c1c-11ea-89ca-86931aedd404.jpg)

When ";" is added it keeps looping for almost 5 to 10 minutes
![PostmanSetting_003](https://user-images.githubusercontent.com/8447

[2020-04-11 15:50] JosebaMerino commented on #4401
I was having the same problem. I uninstalled it and downloaded it from the official page: https://www.postman.com/downloads/ . It syncs fine

[2020-04-11 16:04] marza91 commented on #6979
Hello, I'm having this issue on Ubuntu 20.04 beta, with Postman 7.22.1 from the Snap store. Given the app all permissions/connections. Using a .local domain doesn't work, but using the ip address directly does.
I've also tested that the domain name works in curl and my web browser without issue. Could you reopen this issue, or should I create a new one?

[2020-04-11 16:09] ankit-m commented on #8312
@shirshak55 we have resolved this in our latest update `v7.22.1`. Could you confirm that you are on this version?

[2020-04-11 16:45] shirshak55 commented on #8312
i am on latest version.

[2020-04-11 18:06] preethammavin commented on #4401
@rafael-asaph can you mention the app version you are using. Also would be great if you could write to help@postman.com so that we can take a deeper look.

@gadelkareem its available to all users. If you are still facing the issue can you drop a note at the above mentioned email?

[2020-04-11 18:22] preethammavin commented on #8312
@shirshak55 do you still see the issue?

[2020-04-11 18:26] vvs11 commented on #8299
@bhambrij Thanks for writing in! You have to enable body matching in mocks by setting 'x-mock-match-request-body' header to true in the mock request.
You can find the documentation here:

https://learning.postman.com/docs/postman/mock-servers/mock-with-api/#run-the-mock-service

We have a very active community, you can also post your queries there to get a quick response
https://community.getpostm

[2020-04-11 18:26] #8299 closed, assigned to vvs11

[2020-04-11 18:31] vvs11 commented on #7195
@stcalica closing this issue as there has been no response. Please feel free to reopen it in case you're facing it again

[2020-04-11 18:31] #7195 closed, assigned to saswatds

[2020-04-11 18:31] vvs11 commented on #7304
@steffenwieprecht closing this for now. Feel free to re-open if you're still facing this

[2020-04-11 18:31] #7304 closed, assigned to shamasis, vikiCoder

[2020-04-11 18:37] vvs11 commented on #8272
@afelthe Please let know if you're able to get this working

[2020-04-11 19:04] vvs11 commented on #7473
Thanks for the feedback @simundev. We will keep working on improving the UI and making it more intuitive. We have documented the steps in detail here:
https://learning.postman.com/docs/integrations/github/#syncing-your-api-schemas-on-github
Please try it out and give us more feedback

[2020-04-11 20:15] vbakshi123-star opened #8316 "Can't see to send POST request in version 7.22.1"
Can't see to send POST request in version 7.22.1

Postman app got automatically updated to version  7.22.1 where all collections open up in browser, but no option to send post requests. I can see all my collections in the browser, but don't see where to send post requests. It was pretty darn easy on the app.

[2020-04-11 23:01] stevenh opened #8317 "AWS4 missing autogen Content-Type in signature"
**Describe the bug**
AWS4 signature doesn't include the required header for automatically added header `Content-Type` for the `DELETE` method.

**To Reproduce**
Steps to reproduce the behavior:
1. Send a `DELETE` request for a raw -> `JSON` body request which requires `AWS4` auth

**Expected behaviour**
The automatically added `Content-Type` header should be included in the signature.

**Screensho

[2020-04-12 03:12] weeix commented on #8316
If POST doesn't reside within the method list, you might try typing it directly then choose `Save method 'POST'`.

![image](https://user-images.githubusercontent.com/6592791/79059532-52dec280-7ca5-11ea-8517-31ce90590119.png)

[2020-04-12 05:02] shreys7 commented on #7895
@RajatBanerjee The unsuccessful import of body in cURL request with --data-raw flag was the only bug, which has been fixed with the latest release of App, 7.22

[2020-04-12 05:16] shirshak55 commented on #8312
@preethammavin i reinstalled so now there is no way to reproduce right? As i cannot reproduce i think i should close this issue.

[2020-04-12 05:16] #8312 closed, assigned to nobody

[2020-04-12 06:01] DannyDainton commented on #8316
@vbakshi123-star

In the bottom right corner of the app, can you check if it's in `Build` mode?

It sounds like you have it in `Browse` mode.

[2020-04-12 08:03] vbakshi123-star commented on #8316
I figured it out yesterday and was trying to close off the issue, but lost my internet connection. Sorry guys, too silly of me. Thank you for your help though.

[2020-04-12 08:03] #8316 closed, assigned to nobody

[2020-04-12 10:13] MK5555 opened #8318 "Bag with golang code generation"
When I'm use "Generated code for Go - Native" for post request, Postman generates some code
`
...
url := "localhost:6000/
...
res, err := client.Do(req)
defer res.Body.Close()
`
There are two erros on this code because url should generate like "http://localhost:6000/".
And the second error you should to check the error first, and after  close the body if error is nil:
`
res, err := client.Do(req)

[2020-04-12 10:39] gadelkareem commented on #4401
@preethammavin thanks, I sent an email.

[2020-04-12 10:58] mrichman commented on #7551
Same issue using Postman 7.22.1 on macOS. I'm using Amazon Cognito OAuth2 with Implicit grant type. Nothing in the Postman Console at all. Setting Callback URL to https://app.getpostman.com/oauth2/callback has no effect.

[2020-04-12 11:19] mrichman opened #8319 "Getting OAuth 2.0 Access Token from Amazon Cognito shows blank signin screen"
Describe the bug
I am trying to fetch an OAuth2 token from Amazon Cognito using the OAuth2 helper for "Implicit" grant type.

To Reproduce
Steps to reproduce the behavior:

    Go to Authorization
    Select OAuth 2.0
    Click "Get new access token"
    Select Grant Type "Implicit"
    Fill in some data
    Click "Request Token"
    The "Signin" window appears but remains blank.

Postman console

[2020-04-12 11:41] team-altworks opened #8320 "Spelling mistake in response header"
I posted a form using Postman. Noticed a spelling mistake in the response headers. See screen shots below

![image](https://user-images.githubusercontent.com/63542806/79067904-96a2ed80-7ce0-11ea-866c-23e2d863be20.png)

![image](https://user-images.githubusercontent.com/63542806/79067852-18dee200-7ce0-11ea-8301-6161b0245e61.png)

[2020-04-12 11:57] preethammavin commented on #8320
@team-altworks can you let me know the version of the App you are on?

[2020-04-12 12:03] team-altworks commented on #8320
Postman for Windows
Version 7.22.1
win32 10.0.18363 / x64

[2020-04-12 12:09] preethammavin commented on #8320
@team-altworks I believe these are response headers and would be sent by the responding server. Can you test the same using Curl? Or can you see if the same issue occurs for any other API requests sent in Postman?

[2020-04-12 12:19] Saqib92 commented on #4009
https://github.com/liyasthomas/postwoman
it supports Socket.io

[2020-04-12 16:30] Ani121293 commented on #6498
Please let us know the deadline for this. when the feature will be added? Thanks in advcane

[2020-04-12 16:36] dhcrees commented on #8288
Also experiencing this since installing the lates MacOs (10.15.4) Supplemental Update.  I'm able to make one request with postman then it freezes, the Postman Helper task hits 600% cpu and then the Postman window goes Black...   Quitting and reopening allows me to do the same one request then it happens again.

My organisation is paying for the teams subscription and over the last few releases the

[2020-04-12 16:37] preethammavin commented on #8288
@dhcrees can you let me know the version of the app that you are using?

[2020-04-12 17:01] dhcrees commented on #8288
Postman version 7.22.1

[2020-04-12 19:58] bazanov-a-ju commented on #7477
Hi! Is it possible to consider to fix example import in postman so it can work with $ref?

[2020-04-12 20:09] bazanov-a-ju commented on #7477
Hi! Is it possible to consider to implement the following logic - If an example is provided (via $ref or it is explicitly specified in `example`) - postman will take it as an example. If an example is not provided - postman will show template according to $ref to model

[2020-04-12 21:20] ajmas commented on #8267
@xk0der After removing the contents of `~/Library/Application Support/Postman` the application launches and I am able to send a test request. Works for me - thanks.

[2020-04-13 02:08] vdespa commented on #7551
@mrichman Can you send us a screenshot with your OAuth2 configuration from Postman (blur or remove any sensitive data)?

[2020-04-13 03:35] preethammavin commented on #8288
@dhcrees we have pushed multiple fixes on performance, can you share the size of the response for the request? If the request size is either in the range or greater than 20 MB, we recommend downloading the response with send and download to inspect the response. Postman does process the rest of the data but cannot render a response size greater than 20 MB reliably depending on the device configura

[2020-04-13 03:41] kamalaknn commented on #8320
@team-altworks Like @preethammavin mentioned the response headers are returned by the server handling the API request.

I'm attaching the screenshot with an API request to `postman-echo.com/get` for reference.

<img width="958" alt="Screenshot 2020-04-13 at 9 09 16 AM" src="https://user-images.githubusercontent.com/8401064/79090265-baa91200-7d66-11ea-9836-2bfc4feb84db.png">

Closing this since thi

[2020-04-13 03:41] #8320 closed, assigned to nobody

[2020-04-13 03:44] #8306 closed, assigned to vvs11

[2020-04-13 03:46] GolderGao commented on #8306
[postman.zip](https://github.com/postmanlabs/postman-app-support/files/4467901/postman.zip)
@vvs11 this is my CSV file, thanks for you

[2020-04-13 04:39] vikiCoder commented on #7522
The issue is fixed in the latest version of the Postman app (v7.22.1).

[2020-04-13 04:44] osowskit commented on #7522
Thank you

[2020-04-13 05:05] harryi3t commented on #8310
@SiDDevNet We had seen the users facing a similar issue where a combination of OS version + GPU hardware + driver versions did not work well with Electron/Chrome (which is internally used by Postman).

To confirm whether you are affected by the same issue, could you try opening the app with an extra argument `--disable-gpu`?
[code]

If Postman launches properly after this workaround, you can make

[2020-04-13 06:28] vikiCoder commented on #7592
Hi, we are currently working on providing an option to authenticate via the system's default web browser. It will be out soon. It will solve this problem. We will update here once the feature is released.

[2020-04-13 07:25] bazanov-a-ju commented on #7477
Hi! Is it possible to consider implementing the following logic - if openapi provides an example explicitly - postman will use it as an request example. Otherwise postman will use example from $ref or a template from schema

[2020-04-13 09:44] armoour commented on #5658
can this issue be solved this year?

[2020-04-13 11:22] #8292 closed, assigned to nobody

[2020-04-13 11:42] rafael-asaph commented on #4401
Ok, that solved my problem.

[2020-04-13 11:45] rafael-asaph commented on #4401
I was using 6.7.6, but as JosebaMerino said, i'd got the application from the official site and it worked.

[2020-04-13 12:38] mrichman commented on #7551
Opened separate issue with screenshots here
https://github.com/postmanlabs/postman-app-support/issues/8319

On Sun, Apr 12, 2020 at 10:08 PM Valentin Despa <notifications@github.com>
wrote:

[2020-04-13 13:31] dhcrees commented on #8288
@preethammavin size of the request is 11k.  I'm more concerned at the moment with the Black screen that happens approximately 20 seconds after loading the app.  All I do is load the app, this happens to the CPU usage:
![Screenshot 2020-04-13 at 14 28 02](https://user-images.githubusercontent.com/4402911/79123922-20ab8e80-7d93-11ea-875c-127ed1a1f91a.png)
and then the postman window become unrespons

[2020-04-13 14:39] preethammavin commented on #8288
@dhcrees can you write to us at help@postman.com from your registered email id.
please mention the GitHub issue id, along with app logs which you should be able to find in top menu-> View-> Developer -> view logs in finder. Also, mention the workspace that you are on in the email. This will help us get to the bottom of this get the fix out.

[2020-04-13 15:05] Cazaimi commented on #6425
@JP-from-Postman , we're working on solving this right now. @Raja-Simha , please add this to "Now" in the Project board?

[2020-04-13 15:35] anmoreno commented on #6722
We use the Collection that gets generated by the API only for Documentation purposes so for my use case a full overwrite is completely acceptable.
We keep our Test collections separately so that we can run tests for failures as well which would not be covered by an Open API definition file.

[2020-04-13 17:08] Mexicoder commented on #6242
Any updates on this?

[2020-04-13 19:27] preethammavin commented on #8288
@dhcrees we should be able to deep dive into the issue, also the ticket would let us coordinate to schedule a call with the team to take a closer look if necessary.

[2020-04-13 22:21] thetreythomas commented on #5713
@a85 - This is still an issue. Our QA team has grown, so we now have new people using Postman (some also new to Postman altogether), so I'm running into this again.

Regardless of the Role, when a new collection is created, the person who created the collection is an Editor, and everyone else is a Viewer. The collection creator/editor still must take that extra step and right click the collection,

[2020-04-14 01:41] pigubaoza commented on #5194
+1

[2020-04-14 03:59] Yusadolat commented on #5792
@iskandarovBakshi Mind if you share how you solved this problem?

[2020-04-14 04:28] preethammavin commented on #6343
This issue has been fixed

[2020-04-14 04:28] #6343 closed, assigned to dhineshwiz, Raja-Simha

[2020-04-14 04:28] testingapipaul commented on #2030
works for me in postman 7.22 in MAC
cmd+click opens a browser
ctrl+click opens a new postman tab

[2020-04-14 04:29] preethammavin commented on #6606
The issue has been solved, as users and teams publish their public profiles. Which has the description.

[2020-04-14 04:29] #6606 closed, assigned to ratpik, Raja-Simha

[2020-04-14 04:30] preethammavin commented on #7034
The issue has been fixed

[2020-04-14 04:30] #7034 closed, assigned to Raja-Simha

[2020-04-14 04:36] preethammavin commented on #7192
@zatziky the length of the environment which is created in the HTML page is trickier to handle. We have made changes into our documentation Run in Postman if the environment is published, in which case this limitation is lifted off.

As I see from the variable names, some of them seem to fit better for collection variables than environment variables. Would suggest that as a workaround or publish t

[2020-04-14 04:36] #7192 closed, assigned to ratpik, Raja-Simha

[2020-04-14 04:45] prashantagarwal commented on #8171
@deepakpathania If you are still facing this issue please let us know. As this issue appears to be happening only with you, I would recommend if you could check your network/firewall settings once.

[2020-04-14 04:45] #8171 closed, assigned to prashantagarwal

[2020-04-14 05:32] ALTELMA commented on #4090
2020, still facing with this problem . . .

[2020-04-14 06:05] preethammavin commented on #6278
this issue has been resolved

[2020-04-14 06:05] #6278 closed, assigned to sankalp0o, Raja-Simha

[2020-04-14 06:07] #6279 closed, assigned to sankalp0o, Raja-Simha

[2020-04-14 06:10] preethammavin commented on #6314
This issue has been fixed.

[2020-04-14 06:10] #6314 closed, assigned to Raja-Simha

[2020-04-14 06:14] preethammavin commented on #6398
@loopDelicious thanks for reporting this. Right now we remove templates once they are deleted once they are interacted once by any user. But keeping this open till we get a better solution in place

[2020-04-14 06:16] ankit-m opened #8321 "API tab goes into `Loading..` state when deleted"
**Describe the bug**
API tab goes into `Loading..` state when API is deleted.

**To Reproduce**
Steps to reproduce the behavior:
1. Create an API
2. Open the API in a new tab by double clicking the API in the sidebar
3. Delete the API while the tab is open
4. See tab title change to `Loading ...`

**Expected behavior**
It should go into a deleted state.

**App information (please complete the foll

[2020-04-14 06:18] hungdao-testing opened #8322 "Request "Beautify and collapse/expand" feature for graphql body"
**Describe the solution you'd like**
1) When I'm working on GraphQL body, I could not find a way to collapse/expand a node in body. I have to roll-down and up to find the wanted node to do. My expectation the Postman could support collapse/expand a node as in the response.
![image](https://user-images.githubusercontent.com/51052135/79192013-1d2b0c80-7e52-11ea-8a50-409e12bbb2b5.png)

2) It's better

[2020-04-14 06:20] preethammavin commented on #6885
Closing the issue as this seems to be network issue on the users end

[2020-04-14 06:20] #6885 closed, assigned to nobody

[2020-04-14 06:27] preethammavin commented on #6385
@loopDelicious thanks for reporting this. We have included a link to documentation from the app where users can know more about how they can publish and contribute to Postman Templates.

[2020-04-14 06:27] #6385 closed, assigned to preethammavin

[2020-04-14 08:29] stuarth-cognitoiq opened #8323 "Postman shows a blank screen after about 30 seconds"
The main Postman screen turns black after a few seconds and I cannot access any of the functions.  I have tried running postman with the option to disable gpu and also adding the environment variable to disable this without success.

I'm running version 'You are up to date! Postman v7.22.1 is the latest version'.

**To Reproduce**
1. Launch postman
2. Wait 30 seconds.

**Expected behavior**
N/A

*