[2019-07-11 13:00] ghost opened #6903 "Add C# to the Published Documentation Code Generation"
**Is your feature request related to a problem? Please describe.**
Not a problem, but it does feel like a gap

**Describe the solution you'd like**
Include the C# code gen in the published documentation page. It already exists in the app.

**Describe alternatives you've considered**
I've tried to see if I can contribute to that page, but I am not able to. The community page suggested that I open u

[2019-07-11 13:04] aes1228 commented on #6893
I’ve made several changes to the collection since this parameter was removed from our code back in January of this year. Updates are almost instantaneous.

Anna

From: Shamasis Bhattacharya <notifications@github.com>
Sent: Wednesday, July 10, 2019 4:44 PM
To: postmanlabs/postman-app-support <postman-app-support@noreply.github.com>
Cc: Anna Lambert <AnnaL@iqmetrix.com>; Author <author@noreply.githu

[2019-07-11 13:23] medjai opened #6904 "Postman Console - OAuth2 Token Request not captured"
**Describe the bug**
When using OAuth2 for authentication with grant type client_credentials to make a token request this is not properly captured in the console

Console displays request header and body as undefined and the response header as well

**To Reproduce**
Steps to reproduce the behavior:
1. Make a OAuth2 Token Request

**Expected behavior**
Headers and body for requests and responses sh

[2019-07-11 13:36] ACadieux commented on #6892
I got the same problem. I just upgraded to 7.3.3 and bug still present.

[2019-07-11 15:20] cyrielle-hada opened #6905 "Dashboard - Something went wrong error when Billing user tries to access Billing overview"
**Describe the bug**
User with billing role heads to https://app.postman.co/team/overview and see the below SWW error.

<img width="772" alt="Screen Shot 2019-07-10 at 6 32 33 PM" src="https://user-images.githubusercontent.com/47351631/61063336-b62a8400-a3f7-11e9-8084-9a493eafa5b9.png">

[2019-07-11 16:09] kanuos opened #6906 "postman 7.2.2 not working on windows 8.1"
**Describe the bug**
Postman doesn't even start on clicking. I installed the app for windows 64bit. upon installing a blank pop up box popped out. There was no text or buttons or anything,
I had to force close it. Every time i tried to open the app, a blank screen used to appear. I tried to open several times ( more than 10) and everytime it failed to open.

**Expected behavior**
Expected to open.

[2019-07-11 16:12] VicKetchup commented on #6890
@coditva This is not an API we have any contact with, so wouldn't be able to tell what is going on, but the data isn't supposed to be large, so maybe there are some checks that could be put in place to see if the data that is being received is actually changing anything, cause the data size for the response was not changing.
And failing that at least display an error rather than crash :)

[2019-07-11 16:22] davidhjones commented on #3825
We'll need this as well. @shamasis  / @numaanashraf  any update on plans for PKCE support?

[2019-07-11 16:25] abhijitkane commented on #6905
This error was coinciding with Stripe's downtime.

[2019-07-11 16:25] #6905 closed, assigned to nobody

[2019-07-11 16:28] saswatds commented on #6890
Hi @VicKetchup, you are absolutely right, we had identified that such a situation may arise because of which in the latest canary we added a setting to define a maximum response size.
<img width="718" alt="Screenshot 2019-07-11 at 9 50 51 PM" src="https://user-images.githubusercontent.com/8796447/61067779-06b8d600-a426-11e9-92c3-e3eda2f3322a.png">
We set the value to be 50mb by default. There is a

[2019-07-11 18:24] HarkinsDave opened #6907 "Tests do not run if responseBody is large (ish)"
**Describe the bug**
Tests do not run if Response Body is large(ish) even if the only thing in the Tests tab is:   console.log('This is a test');
Even though the Tests do not run the Response Body is returned inside Postman (not in the console).
Through more testing of the exact same call and changing the limit of how many records are returned (using $top=<number> in the call) in the JSON object i

[2019-07-11 18:29] preethammavin commented on #6901
@Swapnil-getpostman can you update the app and try again?

[2019-07-11 18:31] preethammavin commented on #6902
@asthun I am unable to reproduce this, what is the error that you see? when you perform the action?

[2019-07-11 18:54] marshallr12 commented on #6895
@ankurdengla1996 The new callback URL worked for me.

[2019-07-11 20:00] mattmenna commented on #6762
Seeing this issue as well, not sure where to get additional information on the error either, I don't see anything in the DevConsole created by the import process.

[2019-07-11 22:05] shamasis commented on #6892
Yep. Looks like we have a release note delivery misbehaviour in cases where we are doing gradual rollout. Will get this addressed in coming releases.

[2019-07-11 23:06] sankalp0o commented on #4818
Thanks @carmenhchung and @science695 for providing detailed use cases. This really helps us understand the problem much better.

We will start discussing this and I will let you guys know when we have any updates.

[2019-07-11 23:17] sankalp0o commented on #6843
Right now, I think the following 2 features should help you achieve the control you want
1. Roles on environments so that some people are not allowed to change values for the whole team, but only for themselves. We are tracking this in #6596
2. A changelog for environments, which will help you revert if someone accidentally made changes.

I'm renaming the issue accordingly. I will update you when

[2019-07-11 23:34] pratnala commented on #6895
I can't confirm this as the external app is not under my control, so the call gets denied and fails. At least, it wasn't stuck under redirecting.

[2019-07-12 00:00] nirajgup commented on #4171
+1 for this feature

[2019-07-12 02:11] zgirod opened #6908 "Template for new examples"
**Is your feature request related to a problem? Please describe.**
Every time we create an example we need to remember to go into the response headers and set the Content-Type to application/json.  There are times when we forgot to do so and then front end developers using the mock server start getting errors.  We then waste time trying to figure out what is going on when a simple field needs to b

[2019-07-12 03:29] mlick commented on #3736
@alanwei43   Did you find a way?

[2019-07-12 03:52] kamalaknn commented on #6900
Hi @chenjianeng0201

Thanks for reporting this. This looks like a duplicate of #6899.

I'm closing this. Please follow the original issue for updates.

[2019-07-12 03:52] #6900 closed, assigned to kamalaknn

[2019-07-12 06:10] markodelgadillo opened #6909 "Dark mode link color makes the link difficult to read."
While using dark mode, links use the same blue color which on the dark gray background is hard to read.

Add a lighter background to the links or use a lighter shade of blue for the text color.

**Example of the issue**
<img width="312" alt="Screen Shot 2019-07-11 at 11 03 56 PM" src="https://user-images.githubusercontent.com/13569476/61106047-b4c97d80-a430-11e9-9b02-cdd258662a56.png">

[2019-07-12 06:29] mika-kami commented on #6902
@preethammavin me too. Reloading of postman resolved that issue. Maybe it is was an issue with my PC

[2019-07-12 06:29] #6902 closed, assigned to nobody

[2019-07-12 06:33] chrisadipascual commented on #3107
Still happens in 2019, v7.3.2

[2019-07-12 08:55] JannikZed commented on #2934
Yep, It's such a fail for postman and just a tiny little field that needs to be added ...

[2019-07-12 09:30] hellopablo commented on #4912
I too am experiencing this.

Postman is fantastic for working with and maintaining an API, but this feels like a _crucial_ bit of information is missing from the generated docs. The lock is useful, but almost invisible - at the very least there're could be a section in a collection's meta (perhaps alongside the description) which is where authentication explanation could be added and the locks cou

[2019-07-12 09:36] nikhil-thomas90 opened #6910 "Public documentation links expiring without user unpublishing"
I am using Postman's public documentation feature to send client-facing documentation to third parties. However, despite never unpublishing the collections, the documenter links expire. This is against the expected behaviour of persistent links, and is causing issues to my client-facing processes.

[2019-07-12 10:01] Cazaimi commented on #6779
Thanks for reporting this @derrikfleming .

We don't support markdown based alignment within a table cell, at the moment. @Raja-Simha could you mark this as a feature request?

[2019-07-12 11:58] karlitos commented on #4690
Please add this feature!

[2019-07-12 13:43] numaanashraf commented on #6886
@thetreythomas @antoinemaschiR @SXS73 Thanks for reporting this issue and helping us triage and debug this.

From our initial investigation, it seems this issue is caused by Postman not handling TLS renegotiations initiated by the server, which leads to an error in the request flow and the ‘Could not get any response’ screen. This is a regression in Postman v7.3 and earlier versions of Postman han

[2019-07-12 14:06] vader opened #6911 "Published content in constant reload on error "Refused to load the font '<URL>' because it violates the following Content Security Policy directive"
**Describe the bug**
When viewing the published document it constantly reloads each time you try to do anything.
For example, selecting menu navigation on the API or expanding the Body of a call.

When checking the console for logs I see:

Refused to load the font 'data:application/font-woff2;charset=utf-8;base64,d09G.....' because it violates the following Content Security Policy directive: "font

[2019-07-12 14:16] vader commented on #6911
I have discovered the issue. It's not a Postman issue but is due to the Grammarly plugin on my Chrome browser.
Disabling Grammarly for postman solved the issue.

[2019-07-12 14:16] #6911 closed, assigned to nobody

[2019-07-12 14:23] #5380 closed, assigned to nobody

[2019-07-12 14:23] #5308 closed, assigned to nobody

[2019-07-12 14:52] jpSimkins opened #6912 "Workspace activity feed needs recovery options for environments, collections etc"
**Is your feature request related to a problem? Please describe.**

Wanted to leave this on the forums but too restricted for a new paying user... cannot even leave a feature request or report anything other than coming here. So hopefully this is the place to be...

First, environments are pretty cool and once you learn how they work with workspaces they are very powerful. My issue is that they ar

[2019-07-12 18:04] thetreythomas commented on #6886
@numaanashraf - Thanks for the very quick and detailed bug analysis!

[2019-07-12 18:25] DallasO commented on #5039
Same issue on first install, Debian Buster, not signed in to postman.
Collection variables work fine. Global and Environment say they are valid when you hover over them in the URL bar, but sending the request sends `%7B%7Bvariablename%7D%7D`.

Will try downgrading and then updating like others suggest.
postman v7.2.2

**Edit**: I closed and reopened the app and it started to work.
It also gives me

[2019-07-12 18:46] chrisdeso opened #6913 "Version Control – Programmatic Merging"
**Describe the solution you'd like**
The ability to programmatically merge forks would allow the feature to be leveraged within numerous workflows – e.g. integration pipelines!

**Describe alternatives you've considered**
Exposing API endpoints that would allow programmatic usage.

**Additional context**
[Filed by Postman]

[2019-07-12 18:51] chrisdeso opened #6914 "Version Control for APIs"
**Is your feature request related to a problem? Please describe.**
With the ability to control API schema versioning directly in Postman, the ability to fork & merge those same APIs would bring collaboration on APIs up to par with the collections.

With Postman being API-first, enabling users to interact with their forks via the Postman API would be really useful when integrating with different to

[2019-07-12 19:05] saswatds commented on #6907
Hi @HarkinsDave you are right. There is a limitation on the amount of data that can be passed on the sandbox scripts and pre-request script. The current limit is around ~15mb.  The data that is passed is the sum of the response data, environments and globals.

If and when the total data payload exceeds this limit then the sandbox cashes and therefore the tests do not get executed.

Marking this a

[2019-07-12 19:09] HarkinsDave commented on #6907
@saswatds Thank you for the confirmation.  I will try to work around this for now.

[2019-07-12 20:43] JP-from-Postman opened #6915 "Can't merge for or pull changes: "The imported resource's graph is cyclic""
**Describe the bug**
[Report by Postman support, on behalf of original user]
User report:
[code]

**To Reproduce**
Steps to reproduce the behavior:
(Not reproduceable by support)
1. Attempt to pull changes from master to fork, or merge fork
2. See error

**Expected behavior**
- Collection is merged successfully
- Error message more clearly defines issue (if correctable by user)

**App information

[2019-07-12 20:46] ghostravenstorm commented on #5704
Having this same problem with a custom C++ server.
This is the response I'm sending using std::ostringstream:
`
   std::ostringstream oss;
   std::string body;
   body += "Test successful!\n";
   oss << "HTTP/1.1 200 OK\r\n";
   oss << "Content-Type: text/plain\r\n";
   oss << "Content-Length: ";
   oss << body.length();
   oss << "\r\n\r\n";
   oss << body;

   std::string output = oss.str();

[2019-07-12 21:13] preethammavin commented on #6909
@markodelgadillo can you let us know which version of the App are you on, we fixed it in our latest release. Can you update your app to the latest version ?

[2019-07-12 21:38] sankalp0o commented on #6912
@jpSimkins I appreciate the detailed explanation, it helps us come up with better solutions than one line feature requests!

This shouldn't have happened, your understanding of `Delete` is correct and the collection should've been deleted from all workspaces. If you're able to reproduce it, I'd look into this as a possible bug. There is a possible explanation though, which will become clear in the

[2019-07-12 21:40] JP-from-Postman commented on #6105
@ankitjaggi @kartikjain26

One of the users who reported this via support followed up with some findings:

In the workspace failing to sync via the integration, one of their Collections contained saved examples. When exported, the Collection's file size was 82MB. Removing the saved examples allowed the integration to resume syncing it.

[2019-07-12 21:52] arnaudlacour commented on #3312
Awesome that you're addressing this!
Don't take this as an indication of impatience but can you give us a feel for when you expect it to drop?

[2019-07-13 04:12] marcopoloIR opened #6916 "when i publish collection, page reload every 1 second"
i can't understand what problem is,
when i create simple collection with a simple request,
then i publish it, it creates, but destination URL  load repeatly!
this is my published URL:

https://documenter.getpostman.com/view/6887187/SVSHr9i8?messageSource=AUGURY_INSPECTED_APPLICATION&messageId=cd507b46cf581&serialize=0&messageType=9&content=[object%20Object]&version=latest

[2019-07-13 09:28] lefuturiste commented on #4009
+1

[2019-07-13 11:29] shamasis commented on #6868
Hello there. It looks like something with auth signing is erroring out. Cannot be certain. It will be great if you could send us errors that you see, *right at the moment around sending this request*, in Postman Console (and if nothing shows up there, then the developer console.

[2019-07-13 11:59] vikiCoder commented on #6868
Hi

You don't need to send the logs anymore. We have found the bug, it is because of the newly added body type - `GraphQL` which is not accounted while calculating AWS signature right now. So GraphQL requests with AWS auth are freezing because of that.

We will fix the issue ASAP (possibly in next release) and update this thread.

[2019-07-13 14:58] Mystigan commented on #6906
I am facing the same issue: Postman v7.2.2 on Windows 8.1. Tried both 32 and 64 bit versions. Results are the same. Please fix it soon.

[2019-07-13 17:11] jpanatti opened #6917 "Can't install on Windows Server 2012"
Hello, I'm trying to install Postman 64 bits on Windows Server 2012, but is not working.
Is it possible to install on that O.S. ?
Thank you.

[2019-07-13 18:37] deep1803 commented on #6455
I am getting error in postman :could not get any response
Help me!
![7D3094F8-35D9-4175-82FA-87C837E64472](https://user-images.githubusercontent.com/52865528/61175345-4a991000-a5cb-11e9-86f2-d450056eebfc.jpeg)

[2019-07-13 18:40] deep1803 commented on #6205
![0CAC2F21-8023-4048-A08C-79E129468284](https://user-images.githubusercontent.com/52865528/61175364-b54a4b80-a5cb-11e9-9ab7-2ca2f48fc7bd.jpeg)
Proble :could not get any response in postman
Help me!

[2019-07-14 00:29] ghost commented on #3007
I solved this issue using a **dummy** request to the api after getting a new access token the token.

On the test for the dummy request you can access:
`pm.request.getHeaders()`
to get the headers used for the request and store them in any environment Variable.

My final solution looks like (We are using OAuth2):
`auth_token=pm.request.getHeaders()['Authorization'];`
`auth_token=auth_token.replace

[2019-07-14 05:03] shrey-d opened #6918 "Cannot use certificates stored in OneDrive (recurrence of Bug #3834)"
**Description**
This is a recurrence of Bug #3834. When Client Certificates are located within folders backed up by OneDrive, Postman is unable to load them. The error received on the console is:

`certificate "cert" load error:  EINVAL: invalid argument, fstat`

The workaround is simple - place the certificates in a folder that is not backed by OneDrive. However, until one actually looks into the

[2019-07-14 07:48] shamasis commented on #6918
At first glance, it looks like an issue bubbled up from our underlying layer of NodeJS and electron runtime https://github.com/electron/electron/issues/11570

Can you try using the Postman Canary variant and let us know if that solves your issue? https://www.getpostman.com/downloads/canary

We will move the changes to stable channel asap.

[2019-07-14 10:09] shrey-d commented on #6918
Thanks for the quick response. I checked up Postman Canary (Version 7.3.2-canary01, win32 10.0.16299 / x64) and am glad to report that the Client Certificate on OneDrive does work seamlessly there.

[2019-07-14 10:33] jmzagorski commented on #6811
Seems to be fixed with 7.3.2 (Also make sure you are not on full screen by toggling F11. Not sure if that was my original problem :grimacing: )

[2019-07-14 11:26] sinahosseini76 commented on #3149
hi

[2019-07-15 02:30] markodelgadillo commented on #6909
@preethammavin Hi. Thank you for the response. You are correct! Sorry for the inconvenience! I have since updated Postman and the orange links work MUCH better :)

[2019-07-15 02:30] #6909 closed, assigned to nobody

[2019-07-15 03:06] movsb opened #6919 "Why it opens the dictionary app for nothing on macOS"
**Describe the bug**

An unexpected dictionary/look-up window pops up.

**To Reproduce**

Make sure `System Preference > Trackpad > Point & Click > Look up & data detectors` is checked.

Now, anytime I put my finger on either the post body area or the response body area and trigger the look-up(one finger/three fingers), It opens an empty dictionary window for me. Even in empty area.

**Expected be

[2019-07-15 04:50] marcopoloIR commented on #6916
postman published collection, at least for me, has conflict with AUGURY (angular extension), when i disable it, everything is OK.

[2019-07-15 05:24] shivangibajpai12 commented on #6800
Hey @anupulu , thank you for reporting this issue. We are unable to reproduce it . Could you confirm if you are still able to reproduce this behaviour consistently?

[2019-07-15 06:28] DonKonfetti commented on #6811
Yes, fixed for me too in canary 7.3.2.

[2019-07-15 07:00] zypA13510 opened #6920 "Snap installation shows two icon in Gnome dock"
**Describe the bug**
Basically the same as https://bugs.launchpad.net/snappy/+bug/1718942
When I add the snap version of postman to favorite, and then open it, two icons show up in the dock, instead of one combined icon (see screenshot below).

According to the bug report, I have made the following modification to `/var/lib/snapd/desktop/applications/postman_postman.desktop`:
[code]
and the issue

[2019-07-15 07:07] abhijitkane commented on #5077
@ohadmuch Curious about your exact use-case. Cookies that store auth info like tokens will generally expire after some time, and regularly copying and pasting code from Postman isn't viable. What sort of cookies are you looking to include in your code?

[2019-07-15 07:11] abhijitkane commented on #4855
@Msaini323 Can you elaborate on this? The Python code I see for both `http.client` and `Requests` is
`payload = "{\n\t\"k1\": \"v1\",\n\t\"k2\": \"v2\"\n}"`

Are you talking about the `json` parameter (as illustrated in https://stackoverflow.com/questions/9733638/post-json-using-python-requests)?

[2019-07-15 07:19] abhijitkane commented on #6775
@chucklu We are unable to comment on behavior of individual endpoints. Can you send a POST request to `https://postman-echo.com/post` and check the response?

[2019-07-15 07:20] #5533 closed, assigned to nobody

[2019-07-15 07:22] #5089 closed, assigned to numaanashraf

[2019-07-15 07:23] #4945 closed, assigned to numaanashraf

[2019-07-15 07:24] #4901 closed, assigned to numaanashraf

[2019-07-15 07:25] #4851 closed, assigned to numaanashraf

[2019-07-15 07:32] chucklu commented on #6775
What did you mean by "behavior of individual endpoints"?

I tried send a post request as following
[code]

and the response is

What's the relationship with the problem I encountered and the new test for https://postman-echo.com/post?

[2019-07-15 07:38] abhijitkane commented on #6775
@chucklu We can only investigate discrepancy in sending the request. https://postman-echo.com/post will return whatever you send in the request. It should return all URL parameters, request headers/body parameters that you send.

We'll be unable to investigate why the behavior of `hdgateway.zto.com` is different when making the request from the Powershell snippet.

[2019-07-15 07:48] abhijitkane commented on #5622
@kkoenen The original issue seems to be around encoding URL parameters in the generated snippet, not scroll issues with the dropdown.

I'm unable to reproduce the first issue anymore. Feel free to comment if you're still seeing issues with encoding.

If you're still seeing the second issue (scrolling), opening a separate issue will help us track it better.

[2019-07-15 07:56] chucklu commented on #6775
@abhijitkane  I remove the `| ConvertTo-Json` code from last line of the Powershell code
[code]
And the response is as following:

The logisticsRecord property was an object array.

Then I tried to inspect the request by fiddler, it seems the response was correct. **But the response did not get parsed correctly by Powershell**.
![image](https://user-images.githubusercontent.com/3004057/61201978-d3

[2019-07-15 07:59] kaustavdm commented on #6916
Seems to be a serialization issue. This is affecting all published documentation.

[2019-07-15 08:18] elssar commented on #5509
This looks like a case of a firewall or a proxy blocking the app from connecting to the IdP.

[2019-07-15 08:20] elssar commented on #6780
@girishgadad are you still having trouble signing in to the Postman app?

[2019-07-15 08:20] elssar commented on #6884
This looks like a case of a firewall or a proxy blocking the app from connecting to the IdP.

[2019-07-15 08:22] abhijitkane commented on #4150
@psech Can you try this is Postman 7.2+, with the 'Experimental Codegen Mode' flag enabled in Postman's global settings? We've introduced bug-fixes, support for two new languages (JS-Fetch and Powershell), and the ability to configure certain aspects of the generated snippet.

This particular issue is fixed -
[code]

[2019-07-15 08:22] #4150 closed, assigned to numaanashraf

[2019-07-15 08:41] abhijitkane commented on #3273
Can you try this is Postman 7.2.1, with the 'Experimental Codegen Mode' flag enabled in Postman's global settings? We've introduced bug-fixes, support for two new languages (JS-Fetch and Powershell), and the ability to configure certain aspects of the generated snippet.

I'm unable to reproduce this particular issue in the latest version (experimental mode).

[2019-07-15 08:41] #3273 closed, assigned to numaanashraf

[2019-07-15 08:42] #5549 closed, assigned to abhijitkane

[2019-07-15 08:51] abhijitkane commented on #5155
Can you try this is Postman 7.2.1, with the 'Experimental Codegen Mode' flag enabled in Postman's global settings? We've introduced bug-fixes, support for two new languages (JS-Fetch and Powershell), and the ability to configure certain aspects of the generated snippet.

For this issue in particular, we've removed the error handling altogether. We'll introduce this as a language-level option in a

[2019-07-15 08:52] #2631 closed, assigned to nobody

[2019-07-15 08:54] harryi3t commented on #4594
@juan-ramirez @bmercernccer @TurtleBeach @eugenerr
Thank you for verifying the fix on the custom build. We had released Postman 7.3.x with this fix to some of our users. During this partial rollout, we found a bug around TLS renegotiation.
We have posted the detailed analysis here: https://github.com/postmanlabs/postman-app-support/issues/6886#issuecomment-510891488

We are looking into downgradin

[2019-07-15 08:54] abhijitkane commented on #2469
@SaiRamPothuganti What issue are you referring to? As mentioned in the previous comment, file handling is something we'll take up as a feature request in a future release.

The JSON body issue is not reproducible with Postman v7+.

[2019-07-15 08:59] #4166 closed, assigned to numaanashraf

[2019-07-15 08:59] #4101 closed, assigned to numaanashraf

[2019-07-15 09:00] kaustavdm commented on #6916
So far, we reproduced this with certain browser extensions enabled. Grammarly on Chrome and ExpressVPN on Firefox, both on macOS, trigger the reload. Grammarly does when clicking the language dropdown. ExpressVPN triggers reload automatically.

@marcopoloIR can you confirm if you have either of these extensions enabled in your browser? If not, can you try disabling extensions one by one and tell u

[2019-07-15 09:05] abhijitkane commented on #2933
@tomaculum Can you try this is Postman 7.2+, with the 'Experimental Codegen Mode' flag enabled in Postman's global settings? We've introduced bug-fixes, support for two new languages (JS-Fetch and Powershell), and the ability to configure certain aspects of the generated snippet.

In the new code, I see the following Swift code for a sample request with POST data:

[code]

[2019-07-15 09:20] tomaculum commented on #2933
With this experimental codegen mode enabled the xml content escaping works correctly, thanks!

[2019-07-15 09:26] MRSAIHAIK opened #6921 "Error: tunneling socket could not be established, statusCode=302"
Hi i am facing an issue on postman request.

In my window app i can't request any url..
it is showing error of "Error: tunneling socket could not be established, statusCode=302"

i also try with turn off Automatically follow redirects.
Use System Proxy

any solution for its thanks

[2019-07-15 09:33] girtsn opened #6922 "postman native not working via proxy"
**Describe the bug**
Any user for whom the only way to use the internet is via a proxy, postman is not working - as the sign in and update checks ignore the proxy settings. What makes it much worse, sign in / update checks are tried on program startup and it often makes postman get stuck on startup (blinking cursor, empty and busy program window).

**To Reproduce**
Steps to reproduce the behavior:

[2019-07-15 09:56] godfrzero commented on #6916
We've isolated the problem and are testing out a fix now. I'll post an update here once we've verified the fix & pushed it to production.

[2019-07-15 10:45] vkaegis commented on #6776
@saswatds In the two pane view, the Body options collapse into a dropdown to accomodate the minimum width of the pane. If we can set a breakpoint beyond which the options collapse into a dropdown, it would work here as well.

[2019-07-15 11:05] charliemoriarty opened #6923 "Unable to visualise image with no Content-Type header (Version 7.3.2)"
**Describe the bug**
When making a GET request for an image which is being returned with no Content-Type header, the response is auto-detected as text in 7.3.2. The same URL is correctly detected as an image in 7.2.2, and in a Chrome browser.

**To Reproduce**
1. Make a request for an image URL which does not end in an extension, and does not contain a Content-Type header.
2. Click on Send
3. In t

[2019-07-15 11:55] godfrzero commented on #6916
@marcopoloIR This issue should be fixed now, could you let us know if it's still a problem?

[2019-07-15 12:14] TinaBasinger opened #6924 "Monitor not sending to distribution group"
**Describe the bug**
I am very new to monitors in PostMan, but found it quickly served a unique need we had last week to monitor that our site is up and running at the most basic level. The email alerts work fine for me when I put in specific email addresses. However, when I try to send the notification to a distribution group, the distribution group never gets the notification. As far as we can s

[2019-07-15 13:36] bskiefer commented on #6688
Any update on this?

[2019-07-15 13:39] aes1228 commented on #6893
Hello,
Just checking in.

I made an update to the collection last Friday, changes were reflected in the published documentation, the Record parameter is still there.

[2019-07-15 14:17] SaiRamPothuganti commented on #2469
Hi abhijit,

the issue, we are sending files in binary, and in code auto-generation, we are not able to see it

[2019-07-15 14:40] mjdean1994 commented on #2934
For enterprise level OAuth 2.0 authentication, specifying an audience is a must-have. This should definitely be supported in Postman.

[2019-07-15 17:04] federico-piazza opened #6925 "Add special icon to folders with customized configuration to identify them faster"
Any time we create a new request we can set the Authorization header. However, we can allow this request to inherit from Parent. This is perfectly fine, however in a first sight we cannot see in the left panel which folder has customized settings.

**Describe the solution you'd like**
It would be great that Postman shows a different folder icon (maybe colorized) when there is a customized configur

[2019-07-15 18:47] GF-Huang commented on #493
+10086

[2019-07-15 20:01] shamasis commented on #6921
Can you post screenshots of where you’re seeing the error? Also what version of app are you using?

[2019-07-15 20:04] shamasis commented on #6923
Have you checked what clucking the “preview” button shows? The “pretty” and “raw” view should show text always.

[2019-07-15 20:42] donhmorris commented on #4142
This would be really helpful. The fonts are pretty small on a Mac laptop. Makes it hard to see the interface for those of us who started our careers programming Apple pascal on the Apple II. 😀

[2019-07-15 22:13] sergeyklay commented on #4142
The fonts are pretty small not only on a Mac laptop. The same on my Ubuntu laptop and Debian PC. Looks like maintainers are Windows users :man_shrugging:

[2019-07-15 22:16] supunt opened #6926 "[Feature Request] Ability to read the collection and folder names in sandbox"
**Preventing copy paste errors when it comes to folders**

Some organizations choose to use a folder per endpoint for endpoint specific testing.
More specific tests sits in an outer folder.

the folder name describes the path (route) the content of the folder (test requests) will be calling.
Currently there is no way to access the folder/collection name in the sandbox.

**i.e. we have 2 endpoints

[2019-07-16 00:49] LouVaiano opened #6927 "Post-request Script"
**Feature request**
Ability to define a post-request script

**Expected behavior**
You currently have the ability to define a Pre-request script, which we currently use.

I would like the ability to trigger a post-request script which could interrogate the (JSON) response, extract an item from the JSON and populate into an environment variable.

The environment variable is to be used in a subseque

[2019-07-16 01:07] LouVaiano commented on #6927
I just realised Postman can already do what I just asked for using a Test.

My code in the Test is:
`pm.environment.set("matter_id", pm.response.json().matterId);`
which populates env var matter_id with the JSON field matterId from the response body.

[2019-07-16 01:07] #6927 closed, assigned to nobody

[2019-07-16 01:29] MRSAIHAIK commented on #6921
i got this error from console

![20190716092751](https://user-images.githubusercontent.com/29477008/61259277-103a9900-a7ac-11e9-91ac-5a97223f2aeb.png)

and i have use version 7.2.2

![20190716092801](https://user-images.githubusercontent.com/29477008/61259299-29dbe080-a7ac-11e9-91c3-953549c0a49b.png)

[2019-07-16 02:21] chucklu commented on #6775
@abhijitkane  Finally I found the problem could be resolved by the depth parameter of ConvertTo-Json.
[Powershell ConvertTo-JSON missing nested level](https://stackoverflow.com/questions/22260343/powershell-convertto-json-missing-nested-level)
https://docs.microsoft.com/en-us/powershell/module/microsoft.powershell.utility/convertto-json?view=powershell-6#parameters
-Depth
Specifies how many levels

[2019-07-16 02:26] fe19880924 commented on #4009
+1

[2019-07-16 02:31] chucklu commented on #6775
Also  find another stackoverflow summary
[Unexpected ConvertTo-Json results? Answer: it has a default -Depth of 2](https://stackoverflow.com/questions/53583677/unexpected-convertto-json-results-answer-it-has-a-default-depth-of-2)
And topic on https://github.com/PowerShell/PowerShell/issues/8381

[2019-07-16 04:11] girishgadad commented on #6780
Yes....It is working on different machine..

Thanks a lot.

On Mon, Jul 15, 2019, 1:50 PM Akshay Bist <notifications@github.com> wrote:

[2019-07-16 04:29] Anyoks commented on #6008
I still have the same issue. and @JQL 's solution didn't work for me.

[2019-07-16 04:38] #6916 closed, assigned to godfrzero, Raja-Simha

[2019-07-16 04:50] Anyoks commented on #6008
I had to migrate from the web dashboard for this to for away. But I lost some unsaved changes.

[2019-07-16 05:23] Swapnil-getpostman commented on #6901
@preethammavin the user cannot login from the app to update the latest version due to the chrome version.

[2019-07-16 07:19] vovasosnove commented on #3631
I run into the same issue when doing get to https://192.168.99.102:8443/api
Problem was that request was going via corporate proxy even when proxy was off in postman settings.

Adding 192.168.99.102 to no_proxy environment variable, turning off "SSL certificate validation" and restarting postman helped for me.

[2019-07-16 07:25] jakobe commented on #6035
Yep, I can confirm that's what causing the issue. Removing the env variable makes Postman install and start.
I would guess a lot of the users of Postman are developers, so it's not uncommon to have this variable set if doing any kind of nodejs development. Can it be fixed without removing the env variable?

[2019-07-16 07:40] Cheas commented on #6035
I started working with nativescript 5 (required NODE_OPTIONS
--max-old-space-size=4096).
https://docs.nativescript.org/performance-optimizations/bundling-with-webpack

[image: image.png]
I set the variable and postman fell.
I had to spend a lot of time to find the problem.
It may be necessary to announce this for the time being in an accessible
form.
Now turn the variable on and off as needed.

вт

[2019-07-16 08:14] AstroARTY opened #6928 "[Feature Request]: "Select all" checkbox on "Params" and "Headers" tabs"
**Description:**
URL may have a lot of query parameters and headers, but I do not need to use them all for the one particular request. It would be great to have "Select all" checkbox on "Params" and "Headers" tabs, so that I can easily enable/disable them all by 1 click.

<img width="102" alt="parameters" src="https://user-images.githubusercontent.com/26251216/61277323-a2e23480-a7ba-11e9-90c3-e6ce

[2019-07-16 10:06] aminrastgoo commented on #3822
+1 or even +100

[2019-07-16 10:09] charliemoriarty commented on #6923
@shamasis Yep, the 'preview' button is showing a similar thing:

![Screenshot 2019-07-16 at 11 08 30](https://user-images.githubusercontent.com/33491122/61286126-22bbcf00-a7ba-11e9-9816-1525d73cc04d.png)

[2019-07-16 10:42] lucaslenz commented on #1070
+1

[2019-07-16 10:57] ajdriver commented on #4105
@rcdailey I had the same issue `7.3.1.`, was a simple case of not saving the request.  Once I saved it, the collection variables were recognised

[2019-07-16 12:19] jafar-mirzaei commented on #5819
still having this issue in 7.2.2 ( OAuth2.0 withe page)!!!
![image](https://user-images.githubusercontent.com/32808675/61293774-ae008900-a7e9-11e9-991b-857b0463ac9b.png)

[2019-07-16 12:24] Cazaimi commented on #6806
@JP-from-Postman unable to reproduce this. It can be marked as closed as it seems like a rare case. Also, this issue can be reopened if the frequency increases in the future. cc @Raja-Simha

[2019-07-16 12:35] ghost commented on #285
This feature would make running my current test suite a breeze. Hope you guys add it.

[2019-07-16 13:03] eric-reinstein-fmr commented on #6035
Yes, at the least there should be a visible error message indicating the problem, instead of requiring digging around in the logs to find it.

[2019-07-16 13:29] cyrielle-hada opened #6929 "Monitoring usage notification"
**Is your feature request related to a problem? Please describe.**
Our current monitoring pricing doesn't tell users when the free calls (10,000 for Pro teams and 100,000 for Enterprise teams) limit is reached.

When creating a monitor on a collection,
- the user may not know how many requests are being charged per monitoring run.
- there might be some confusion around the monitoring product. The

[2019-07-16 13:52] ghost commented on #1070
+1

On Tue, Jul 16, 2019 at 6:42 AM lLenz <notifications@github.com> wrote:

--

*Andrés Ignacio Torres*Developer

Ciudad del Saber, Panamá
Centro de Innovación,
Edificio 234, Oficina 400.
www.darient.com

[2019-07-16 14:28] Gabrz commented on #6219
I'm also experimenting with variables inside variables.

The API call indeed works fine.

But when I hover over the variable would it be possible to resolve the complete/total value of the variable?

**So It would show this:**
![image](https://user-images.githubusercontent.com/37636455/61302748-98d62b00-a7e6-11e9-9a91-6f179c973296.png)

**instead of**
![image](https://user-images.githubusercontent

[2019-07-16 15:47] harryi3t commented on #6886
@thetreythomas The fix for this issue is available on our canary channel (7.3.4-canary01) https://www.getpostman.com/downloads/canary

The same will be available on the production channel in the next release (7.3.4). Will update the thread.

[2019-07-16 16:34] cyrielle-hada commented on #6917
@jpanatti system requirements can be found here: https://support.getpostman.com/hc/en-us/articles/360026135674-What-are-the-system-requirements-for-using-Postman-. I hope that helps!

[2019-07-16 18:01] shamasis commented on #6923
Ok. I think I am close to figuring out the cause here... can you send me the response headers that you get when you receive the response? @charliemoriarty ... and if this URL is public, having that instead will also get me what info I need to confirm the cause.

[2019-07-16 18:14] shamasis commented on #6921
Can you make a GET request to `https://postman-echo.com/get` and see if that succeeds?

If yes, then it seems like you are connecting to a local server using https. Most probably your SSL will be self-signed. Can you go to Postman settings and turn off SSL validation and try? Remember to turn it back on after you are done sending local requests.

[2019-07-16 18:17] shamasis commented on #4726
@TehWardy this could be a separate issue we are tracking in app version 7.3.x (can you check which app version you are on?)

[2019-07-16 18:18] shamasis commented on #6921
We will, some time in future, auto disable SSL verification for localhost. Tracking that at https://github.com/postmanlabs/postman-app-support/issues/4726

[2019-07-16 18:56] saswatds commented on #6923
Hi @charliemoriarty I have been able to reproduce this issue. In the `7.3.2` version of the app, we have made some changes to the response viewer to improve performance. During this refactoring, the auto-detection of content-type from the response-body got removed. Will fix this soon in a patch release.

Thanks for reporting this.

[2019-07-16 19:32] mcandre opened #6930 "Renaming tokens"
**Is your feature request related to a problem? Please describe.**

When managing several dozen tokens, a typo in a recently created authentication token name is difficult to recover from.

**Describe the solution you'd like**

Allow users to rename our tokens.

**Describe alternatives you've considered**

Using cURL.

[2019-07-16 22:36] thetreythomas commented on #6886
@harryi3t @numaanashraf - Just updated my Canary build to 7.3.4 and everything works as it should. Looks good!

[2019-07-17 01:29] MRSAIHAIK commented on #6921
Hi i had trun off SSL and make a GET request to https://postman-echo.com/get but still not work.
Below r screenshot.

![20190717092706](https://user-images.githubusercontent.com/29477008/61340500-26605c00-a875-11e9-84ee-94e80ecfbe67.png)
![20190717092816](https://user-images.githubusercontent.com/29477008/61340517-3c6e1c80-a875-11e9-833f-f205759e8999.png)

FYI
in my collage PC it is working. but i

[2019-07-17 02:19] godfrzero commented on #6910
@nikhil-thomas90 Public documentation will be unavailable if the underlying collection is deleted. The docs themselves have no "expiry". Are you seeing this issue with any docs where the collection hasn't been deleted?

[2019-07-17 03:22] errorCreate opened #6931 "problem of cookie"
I can‘t add cookie if i add a domain like '127.0.0.1:8080'

[2019-07-17 05:10] ankurdengla commented on #6895
@marshallr12 @danielforster1 @pratnala The fix for this issue is now out on our Canary build (Postman Canary 7.3.4-canary01 - https://www.getpostman.com/downloads/canary)

[2019-07-17 05:43] marshallr12 commented on #6895
Great! Thank you.

[2019-07-17 06:37] codenirvana commented on #6931
@errorCreate Please share the Postman app version?

[2019-07-17 06:42] codenirvana commented on #6921
@MRSAIHAIK This looks like an issue with proxy.

Can you check if both global and system proxy configurations are turned off?

[2019-07-17 07:22] MRSAIHAIK commented on #6921
i had trun off for both proxy

[2019-07-17 07:34] erfan-mehraban commented on #285
shame for postman team...

[2019-07-17 08:01] dhineshwiz commented on #6693
The issue has been fixed

[2019-07-17 08:01] #6693 closed, assigned to dhineshwiz

[2019-07-17 08:06] dhineshwiz commented on #6675
The issue has been fixed

[2019-07-17 08:06] #6675 closed, assigned to dhineshwiz, Raja-Simha

[2019-07-17 08:29] charliemoriarty commented on #6923
Thanks @saswatds and @shamasis ! The URL I was using was an internal one so I wasn't able to send it with the initial bug report, but I'm glad you were able to reproduce the issue. Thanks for looking into it 👍

[2019-07-17 08:41] andreassiegel commented on #6574
This would be awesome!

I'm currently looking for a convenient/easy to use way to update Postman collections whenever we update our API specification in OpenAPI YAML files that are located in (private) GitHub repositories.

Right now, they're not edited using Postman. Some use the Swagger Editor, others use any arbitrary text editors. I'm pretty sure that would change once there is at least a nice

[2019-07-17 08:44] andreassiegel commented on #6678
Having something like Swagger Editor would also be a great benefit already:
https://editor.swagger.io/

Of course, a standard like Swagger/Open API requires a learning curve, but once you get used to it, it's fine, I guess. I wonder if a fully visual editor might be more cumbersome to use in the end.

However, a side-by-side view of spec and preview would be awesome!

[2019-07-17 09:04] YounixM commented on #6893
Hi @aes1228, We are unable to replicate the issue. Can you please share the link for the published documentation for the collection?

[2019-07-17 09:11] kf-ryszardseniuta commented on #3472
It still fails in version v7.2.2
I am requesting https://elastic.mydomain.com:9200 which has valid certificate as browsers accept it but Postman says 'Could not get any response'. Disabling SSL certificate validation in settings helps but I don't want to do that.

[2019-07-17 09:13] cyrielle-hada commented on #6475
@ankitjaggi - it looks like the issue persists.

Here are the steps to reproduce
1 - Create a fork on an original collection A,
2 - Click `merge changes` (without making any changes).
3 - This takes the user to the web interface
4 - It shows that there are changes to merge, and changes to pull.
![Screen_Shot_2019-07-16_at_3_58_51_PM](https://user-images.githubusercontent.com/47351631/61362948-0338

[2019-07-17 09:31] harryi3t opened #6932 "Postman not launching when tried to open again by clicking on "Run in Postman" button"
**Describe the bug**
Postman app opens only once from the "Run in Postman" button. After that, it stops working.
This happens only on windows.
Also, after opening the app normally (from menu, taskbar or shortcut) it would again work the next time (again only once) from the "Run in Postman" button.

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to 'https://docs.postman-echo.com' (On a wi

[2019-07-17 09:36] gabrielef commented on #2691
Bash version:

[code]

[2019-07-17 11:01] robross0606 commented on #6832
This is driving me NUTS.  Not only is this problem not fixed, but Postman continues to auto-update itself to the broken version even if I disable Updates in the settings.  And reinstalling the older version wipes out all my settings and I have to start over.

How can I a) fix this problem, or b) continue using the older version that works without you pushing a broken version automatically?

[2019-07-17 12:20] suraj-purohit commented on #6397
Another user is facing same issue:
Some additional context:

Request in original collection: 95
Requests I am trying to add = 7
Platform: macOS
Version of app: 7.2.2

[2019-07-17 12:22] jpanatti commented on #6917
Thank's for your answer Cyrielle-hada.
Regards.

[2019-07-17 12:37] Huge commented on #6647
I have experienced the same with the https://dl.pstmn.io/download/latest/linux64 v7.2.2, and re-download & extraction solved that. Thanks!

[2019-07-17 13:50] SXS73 commented on #6886
Thanks for the quick fix here guys !

I had a quick question,  is it possible to clone your environments from
Postman Stable to Canary ? Or would it make sense to switch to a 7.2.2 or
something like that?

Thanks,
Shreyash

On Tue, Jul 16, 2019, 6:36 PM Trey <notifications@github.com> wrote:

[2019-07-17 13:59] saugion opened #6933 "Add support for Multipart/Mixed Content Type"
**To Reproduce**
_Build a request to obtain a curl like this_
`curl -X POST \
  http://localhost:8080/apiMobile/private/v1/asd/upload \
  -H 'Accept-Language: en-EN' \
  -H 'Content-Type: multipart/mixed' \
  -H 'Postman-Token: ebeba4b6-f06a-408b-a416-b04e885d0c63' \
  -H 'X-CSRF-TOKEN: 400203a1-bee4-46d4-8d1d-d6d44aa47484' \
  -H 'cache-control: no-cache' \
  -H 'content-type: multipart/form-data

[2019-07-17 14:02] zgirod opened #6934 "Update mock server matching to support query string params (and maybe even post body)"
**Is your feature request related to a problem? Please describe.**
Upon reading the matching algorithm documentation is appears that the matching does not take the query string params into affect.  This is a big limitation on the mock server.  In many cases you are building a front end application and using the mock server to, well; mock out the backend.  It is very common to have api requests for

[2019-07-17 14:22] cyrielle-hada opened #6935 "Request throws ECONNRESET error"
**Describe the bug**
The GET request doesn't go through, the result is `Could not get any response`.

![postman_app](https://user-images.githubusercontent.com/47351631/61383557-d5695b80-a8a6-11e9-8a52-40b483732797.png)

The Postman console throws `Error: read ECONNRESET`

![Blocked](https://user-images.githubusercontent.com/47351631/61383521-cc788a00-a8a6-11e9-9a9c-2a3853c3bcd8.png)

Turning off S

[2019-07-17 14:24] aes1228 commented on #6893
Each endpoint was stale. I had to go through and touch each one to get the parameter to delete from the docs. Took about an hour. Not fun.

[2019-07-17 14:24] #6893 closed, assigned to godfrzero, Raja-Simha

[2019-07-17 15:13] krishnakumarsamy commented on #2853
+1

[2019-07-17 16:31] sixcorners opened #6936 "Please support TSV files in the runner"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
I have test cases that I'm copying to the runner from google sheets. It copies as tab separated values. It would be nice if the collection runner supported this format so I don't have to replace tabs with commas.
**Describe the solution you

[2019-07-17 18:22] pearlberry commented on #6832
@robross0606 same here, my auto-updates are disabled as well but I still get them pushed. didn't really care about that until this issue started.

@kamalaknn can we get an ETA on when this will be fixed?

[2019-07-17 18:23] pearlberry commented on #6832
@chrisdeso you responded to my tweet about this issue. any idea when this might be fixed?

[2019-07-17 18:32] pearlberry commented on #6465
@numaanashraf I have auto-updates disabled and keep getting updated from 7.2.x to 7.3.0. You're saying that 7.3.0 isn't a major breaking version?

[2019-07-17 18:36] preethammavin commented on #6901
@Swapnil-getpostman we have updated electron, which should update V8 engine to 6.9 and chrome 69. Can you check with the user if using our latest canary he can work with that, while we rollout the app for all users?

[2019-07-17 18:39] #6884 closed, assigned to elssar

[2019-07-17 19:42] sixcorners opened #6937 "runner should follow iterations as it goes"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
When running a bunch of iterations it would be nice to see them as they are going.
**Describe the solution you'd like**
A clear and concise description of what you want to happen.
I want the window to scroll with and follow the iterations w

[2019-07-17 19:46] shamasis commented on #6935
What version of app and is ssl verification disabled for self signed certificate?

[2019-07-17 19:47] sixcorners opened #6938 "collection runner should show and filter pass/fail stats during run"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
When I'm running a collection it would be nice to be able to filter out failed or passed runs while it is running. It would also be helpful to have those statistics shown during the run too.
**Describe the solution you'd like**
A clear and

[2019-07-17 20:54] farsh77 commented on #3977
I am now seeing this exact issue with version 7.3.3. Did not have this issue with previous version.

[2019-07-17 21:53] harsh-reality opened #6939 "Enhance the "Resend invite" option"
**Is your feature request related to a problem? Please describe.**
In a large team, it's hard to resend invites to users who haven't accepted the invite. The product currently gives an option to resend an invite per user but not in bulk. Screenshot for reference.
![Screenshot 2019-07-02 at 2 14 22 PM (2)](https://user-images.githubusercontent.com/12132423/61413624-d39c9980-a8a0-11e9-90a7-5a02da673

[2019-07-17 21:56] chrisdeso opened #6940 "Add the ability to have more than five (5) Custom Domains"
**Is your feature request related to a problem? Please describe.**
Custom domains make it easy to publish API documentation but some organizations need the ability to publish more than five (5) pieces of documentation.

**Describe the solution you'd like**
A self-serve option for purchasing/adding more custom domains.

**Additional context**
[Filed by Postman]

[2019-07-17 23:54] JP-from-Postman opened #6941 "UI lagged resolved by deleting request history in workspaces"
**Describe the bug**
[Reported by Postman Support, on behalf of original user]

Multiple users on team report lag in app UI, especially when switching workspaces, and during app startup. Workspaces have only ~10 Collections each, and requests in these Collections do not have notably large payloads or response sizes.

Deleting saved history for all workspaces resolved the UI lag.

**To Reproduce**

[2019-07-18 00:12] JP-from-Postman opened #6942 "Request history doesn't indicate what variable values were used"
**Is your feature request related to a problem? Please describe.**
Request history doesn't store or indicate what values were used for any variables included.

This makes it difficult to select the right request from history if (for example) the URL of the request is dependent upon which environment is selected, and requires the user to know which environment / globals / etc to use when working wi

[2019-07-18 03:01] thetreythomas commented on #6886
@SXS73 - I log into both the normal build and Canary build using my registered Postman account, and all my collections, environments, etc.. are there for both. I've never had them not be synced up.

[2019-07-18 04:50] Raja-Simha commented on #6940
thanks @chrisdeso. I will look into this.

[2019-07-18 05:53] harryi3t commented on #6647
@rmoskal It looks like your installation is corrupt. Might be related to https://github.com/postmanlabs/postman-app-support/issues/5385 and https://github.com/postmanlabs/postman-app-support/issues/5039#issuecomment-420258338

This might happen sometimes when you try to update the app by extracting the newer version in the location as the older version without removing the older version. This will

[2019-07-18 06:00] harryi3t commented on #6886
@SXS73 They both use the same data. The only difference would be in the `current values` of the variables since these are not synced. So you can log in using the same credentials on our canary App.

[2019-07-18 06:57] kjnz commented on #4105
I'm on `Postman v7.3.2 ` which I gather is the latest version.  This issue still persists..
Cannot use collection variables in the requests.
I define  a variable `HomeUrl` in my collection.  When using the variable is shows as Unresolved.

Interestingly, on the postman console, it shows an invalid URI...
`Error: Invalid URI "http:///%7B%7BHomeUrl%7D%7D/api/users/2"`

How a https is resolving into

[2019-07-18 07:02] errorCreate commented on #6931
Version 7.3.3

[2019-07-18 07:02] errorCreate commented on #6931
win32 10.0.18362 / x64

[2019-07-18 07:20] kjnz opened #6943 "Collection variable does not work"
**Describe the bug**
 Cannot use collection variables in requests.

**To Reproduce**
Steps to reproduce the behavior:

Here is a publicly available GET request URI to replicate this..
https://reqres.in/api/users/2
Collection variable HomeUrl = https://reqres.in

**Expected behavior**
The GET request should be successful.

**App information (please complete the following information):**
 - Postman

[2019-07-18 07:33] Cazaimi commented on #6736
@siemvaessen , have begun to looking into this recently. Will intimate about ETA shortly.

[2019-07-18 08:25] harryi3t commented on #6932
The fix is available on the canary channel on version 7.3.4-canary02
https://www.getpostman.com/downloads/canary

The same will be available in the next production release (7.3.4)

[2019-07-18 09:14] Cazaimi commented on #6736
Unable to reproduce this issue on either of the mentioned documentations. @siemvaessen , do you currently have a published documentation that is affected by this?

[2019-07-18 10:44] Cazaimi commented on #5919
Beginning investigation.

[2019-07-18 11:33] kamalaknn commented on #6887
We have pushed a fix for this on our canary channel - [download link](https://www.getpostman.com/downloads/canary)

We'll push this to the stable channel as part of the next release.

[2019-07-18 12:40] sneela787 commented on #6324
@shamasis Any update on this bug? We are still experiencing the issue.

[2019-07-18 12:46] mika-kami opened #6944 ""Close" button for [deleted] tabs is missed"
**Describe the bug**
"Close" button for [deleted] tabs is missed (actual for compressed tabs )

**To Reproduce**
_Preconditions:_
1. Open some tabs

Steps to reproduce the behavior:
1. Go to 'Collections'
2. Click on any request
3. Remove the request to other collections
4. Tab name changes to [DELETED]
5. Hover the tab

**Expected behavior**
"Close" button appears

**Screenshots**
![image](https:

[2019-07-18 12:51] Diuda opened #6945 "Cannot create new Team Workspaces"
**Describe the bug**
If a user leaves a team through Postman dashboard he cannot create Team Workspace unless he logs out and login again. Error is thrown for every team workspace related task such as creating team workspace and inviting users to workspace.

**To Reproduce**
Steps to reproduce the behaviors:
1. Open Postman App. Create a team workspace.
2. Click on profile option in **Manage Accou

[2019-07-18 13:19] Raj-postman commented on #6872
The collection here was previously deleted by another user that caused this issue

[2019-07-18 13:19] #6872 closed, assigned to sankalp0o

[2019-07-18 14:32] brandonw commented on #5039
I have experienced this issue as well. Removing everything from the install dir and installing a new version had no effect-- only setting current value mitigated the issue.

[2019-07-18 15:01] m3dbedb opened #6946 "After user resatarts Postman, selecting requests in sidebar does nothing"
**The bug description**
Clicking and selecting requests in sidebar makes no result.

**To Reproduce**
Steps to reproduce the behavior:
1. Click on several requests in side bar one after another to make postman window became black.
2. As postman menu is available when postman windows goes black, press file > new postman window
3. Click on some request in side bar
4. Pressed request got selected, bu

[2019-07-18 15:31] m3dbedb commented on #6944
As far as the issue is present, use ctrl+w. Current Postman version is 7.2.2

[2019-07-18 16:45] mamuesp commented on #4690
Oh yes ... stumbled upon "console.clear() is not a function ..." ;-)

[2019-07-18 17:02] Diomos commented on #4726
Postman for Windows
Version 7.2.2
win32 10.0.16299 / x64

I have similar issues: using NTLM Authorization and localhost where Visual Studio IIS Express is running my API in debug mode.
When having **"SSL certificate verification" turned on** it seems Postman is not even trying to use correct certificate from Trusted Root CA. When I export localhost certificate and add it to Postman manually it giv

[2019-07-18 18:21] giankotarola commented on #2905
+1

[2019-07-18 18:57] mailer-insights commented on #2446
I'm also having this exact problem, using the current update: Version 7.2.2 (7.2.2)

[2019-07-18 19:52] crowcoder opened #6947 "Response "Pretty" view encodes strings containing \201"
A JSON response with a character sequence of "\201" is encoded in "Pretty" view but the "Raw" view is not.

Example Raw response snippet:

...,SourceFolder: \"\\\\someshare\\shares\\somefolder\\anotherfolder\\anotherfolder\\etc\\etc\\2018\\2018-08\\ForTest\",...

Example Pretty response snippet:

...,SourceFolder: \"\\\\someshare\\shares\\somefolder\\anotherfolder\\anotherfolder\\etc\\etc\�8\�8-08

[2019-07-18 19:58] JP-from-Postman opened #6948 "GitHub / APIMatic integrations: branch must already exist"
**Is your feature request related to a problem? Please describe.**
Integrations that work with GitHub (GitHub, GitLab, APIMatic) allow a branch to be specified, but if the branch entered doesn't already exist on the repo the syncing will fail without error / notice.

**Describe the solution you'd like**
Add messaging to the setup dialogue, noting that the specified branch must already exist (and t

[2019-07-18 20:06] Brunofreedom opened #6949 "Certificate implementation is not working"
Certificate implementation is not working on Postman Canary, the same certificate I use in the standard version of Postman (works) does not work when you add it to Postman Canary.

[2019-07-18 20:22] shamasis commented on #6943
Umm... I tried reproducing it. Was not able to. Here's the collection I created: https://www.getpostman.com/collections/43d3f29710364cbf6349

Also, attaching screenshot:
<img width="675" alt="Screenshot 2019-07-19 at 01 51 14" src="https://user-images.githubusercontent.com/232373/61489247-e1990a00-a9c7-11e9-97fe-1a0fc0892181.png">

Can you try sending me a collection where this is erroring out?

[2019-07-18 20:24] shamasis commented on #6942
Including initial values may not be same as session values. As such, it would be incomplete and inconsistent. This needs ... more thinking. :-p

[2019-07-18 20:28] shamasis commented on #6947
Are these texts you posted in issue exact representation as you see? It is best to share encoding inconsistency as screenshots to avoid any confusion ... it renders with a lot of (?) marks at my end.

@kamalaknn the escape sequence `\2018` should not be encoded IMHO.

Also @crowcoder ... again to be sure, can you post your app version. We did some decoding changes in 7.3.x versions.

[2019-07-18 20:30] shamasis commented on #6949
Which version of Canary? Also, we would push a new version in a day or two, can you recheck using that?

[2019-07-18 20:41] crowcoder commented on #6947
@shamasis

Version is Postman for Windows 7.3.3.

Screenshot is for "Pretty" view:
![image](https://user-images.githubusercontent.com/4210624/61490279-93a9e500-a97a-11e9-8825-8d5849ef29ae.png)

for "Raw":
![image](https://user-images.githubusercontent.com/4210624/61490416-e1265200-a97a-11e9-920c-e3390d8c5997.png)

[2019-07-18 21:24] choicevine commented on #2904
Excuse me please:
I also have a 404 error
when I started the app abou a week ago, the api's were responding
But since 3 days It has not been responding
There is 400 and 404 error
cannot GET,
cannot POST
how can I resolve this

[2019-07-18 21:28] choicevine commented on #2904
![cap8](https://user-images.githubusercontent.com/34416135/61493399-53da0200-a968-11e9-9b7f-7992d933bc9b.PNG)

[2019-07-18 21:29] choicevine commented on #2904
![cap7](https://user-images.githubusercontent.com/34416135/61493424-6b18ef80-a968-11e9-92be-b76477a6358f.PNG)

[2019-07-18 21:41] choicevine commented on #2904
![cap9](https://user-images.githubusercontent.com/34416135/61494052-065e9480-a96a-11e9-88f3-99f52c96b2ad.PNG)

[2019-07-18 21:57] chrisgel15 commented on #3774
It got me too as well :(

[2019-07-18 22:24] JP-from-Postman opened #6950 "Importing Collection contents from Postman API loses Basic Auth values"
**Describe the bug**
Collection .json acquired via the Postman API does not include Basic Auth details when imported into the Postman app.

Collection .json exported directly from the Postman App works as expected when imported again.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a Collection, with one request that uses Basic Auth. Fill out values for username + password.
2. Use Pos

[2019-07-18 22:31] tillkolter commented on #285
Please

[2019-07-18 23:03] dnsbty commented on #4901
Thanks and sorry for being slow to respond. That seems to work perfectly!

[2019-07-18 23:04] jaumzera opened #6951 "Extra value concatenated in Authorization Preview Request"
I was trying to make a request to validate my OAuth2 Server and I realized that there is a `guid}}r` being concatenated some time before the Base64 encoding.

Then I started debugging the request on my Authorization Server and I saw that my request was arriving with that value concatenated. For instance: `CLIENT:password` was being encoded as `CLIENT;passwordguid}}r` and it was breaking my authent

[2019-07-19 00:35] JP-from-Postman opened #6952 "Dashboard: changelog containing emoji crashes UI"
**Describe the bug**
[Reported by Postman Support, on behalf of original user]

From the web dashboard, clicking "load more" in the changelog for a specific Collection crashes the page, and the console logs the following error:

![postman-error](https://user-images.githubusercontent.com/43283131/61500323-8e02ce00-a97f-11e9-8c33-5e65e14d49b9.jpg)

User noted that this "page" of the changelog contai

[2019-07-19 01:51] wxb2dyj opened #6953 "How to set default format in "Body"->"Pretty", for example "JSON""
I want to set default format to "JSON" in "Body"->"Pretty" when I view request result. Does anyone know how to make it? Thanks.

[2019-07-19 02:34] JP-from-Postman opened #6954 "Allow users to request roles for Collections, workspaces, and team"
**Is your feature request related to a problem? Please describe.**
If a user needs the Editor role for a Collection, and don't inherit it from the team default, an existing Editor on the Collection needs to grant it. However, the Manage Roles dialogue is not viewable without the Editor role, meaning a user may not know which team member to ask.

Existing roles on workspaces and teams are viewable

[2019-07-19 03:29] arrk-shch commented on #4105
I am using v7.3.3. I am facing same issue. Not able to set "token" variable in collection. It works in environment and global variable.

[2019-07-19 04:02] movsb commented on #6919
Close because no one cares.

[2019-07-19 04:02] #6919 closed, assigned to nobody

[2019-07-19 05:16] godfrzero commented on #6910
Closing this for now since this doesn't look like an actual bug. If you run into a doc where the collection exists but the public documentation was unpublished, feel free to reopen this.

[2019-07-19 05:16] #6910 closed, assigned to godfrzero, Raja-Simha

[2019-07-19 05:34] SupriyaYenaganti opened #6955 "OTRS Create Ticket Issue"
I am trying to create Ticket using Rest Generic Interface Webservices in OTRS. I downloaded the packge from OTRS github in which I am having yml files which consist of operations like create ticket,search ticket and update ticket
The image of the TicketConnectorRest.yml is below
![image](https://user-images.githubusercontent.com/52815330/61511144-63faeb80-aa13-11e9-825d-530539d9d7c7.png)

I import

[2019-07-19 05:37] codenirvana commented on #6610
Closing as duplicate of #5053

[2019-07-19 05:37] #6610 closed, assigned to codenirvana

[2019-07-19 06:37] coditva commented on #4105
Hey @rcdailey @arrk-shch

Unfortunately, I have been unable to reproduce this issue. Can you provide me with some more info:
1. Is the request in which you're accessing the collection variable saved in the same collection? (It should be listed in the sidebar under the name of the collection).
2. Does the issue still persist after closing the request tab and re-opening it from the Collections sideb

[2019-07-19 06:57] suraj-purohit opened #6956 "Ability to see the exact number of test cases passing - Collection runner & Monitoring dashboard"
**Is your feature request related to a problem? Please describe.**
Ability to see the exact number of passed test cases from collection runner & monitoring dashboard.

**Describe the solution you'd like**
View the exact number of test cases passing/failing. (For 1000+ cases - the number should be exact like- 1563 instead of 1.5k)

**Describe alternatives you've considered**
Currently using Newman

[2019-07-19 07:41] cyrielle-hada commented on #6935
@shamasis version is 7.1.1 and the self-signed certificate is disabled.
![image002](https://user-images.githubusercontent.com/47351631/61518203-eded8900-aa00-11e9-9caa-022cbce45fe6.png)

[2019-07-19 08:48] arrk-shch commented on #4105
Thanks @coditva for quick response.
I am trying simple scenario in postman. I have created a "token" variable in collection. First, I am executing Login API where I get the token in the header. This received token, I am trying to set it in collection variable. And then using the collection variable "token" in my next script under authentication tab as BearerToken selected in Type dropdown box and

[2019-07-19 09:03] coditva commented on #4105
@arrk-shch I see. The problem lies in the fact that Postman does not allow collection variables to be set with scripts.
Ref: https://learning.getpostman.com/docs/postman/environments_and_globals/variables/#accessing-variables-through-scripts

A feature request to allow this can be found here: https://github.com/postmanlabs/postman-app-support/issues/5053.

A quick solution would be to remove the t

[2019-07-19 09:38] berend commented on #6680
I used the above described settings, those headers are gone now. But now curl code is generated with `"` as string delimiter for the `-d`/`--data` option. Since I guess most of the people here send json, which also requires `"` as string delimiter, all `"` from the json are now escaped via `\"`. The code still works, but it looks ugly.

Without that experimental flag, curl code is generated with `

[2019-07-19 09:38] azgo opened #6957 "Search not working :: version 7.2.2"
Using Search (ctrl-shift-f) brings up the search tool but searching for anything does not bring up any results.
Pressing the Find or enter seemingly does nothing, no animation of searching, refreshing window or any visual changes.

**To Reproduce**
1. Press Ctrl-Shift-F
2. Type any word and then Search
3. Play with the checkboxes and then Search

**Expected behavior**
Visual changes, search result

[2019-07-19 11:40] Cazaimi commented on #5857
The copy-all functionality can be achieved by clicking the "Copy to Clipboard" button. @Raja-Simha please mark this as a feature request.

[2019-07-19 11:52] SaerAlyasso opened #6958 "Importing JSON file with nested objects"
Is it possible to import a JSON file into Postman? I cannot find a way to do it so probably it is not supported. I have a JSON file that consists of an object that contains other objects and its not possible to import it.

Can you please give me a clue about that topic?

[2019-07-19 12:17] kuehlmeyer opened #6959 "Path parameters are percent-encoded when clicking a link"
**Describe the bug**
Let's say a call returns a JSON with links that use path parameters like this:
https://somehost/abc;version=42/something
(here: version=42). When you click that link, a new tab opens, but the semicolon and the equal sign are percent-encoded (and of course don't work anymore):
https://somehost/abc%3Bversion%3D42/something

**Expected behavior**
The URL should be opened as it is

[2019-07-19 12:56] m3dbedb commented on #6938
@sixcorners  note that the runner is already slow. If Postmanlabs would add the feature, it wold be better to be disabled by default as it may couse stability issues.

[2019-07-19 13:04] m3dbedb opened #6960 "Runner runs black screen just after user opens it"
**The bug description**
Usually when postman windows goes black due to electron bug, runner windows either goes black untill you don't restart it (console stay working). Sinse postman 7.2.2 runner may start with already black and empty window.

**To Reproduce**
Steps to reproduce the behavior:
1. Run runner from collection side bar context menu
2. See error

**Expected behavior**
Runner is expecte

[2019-07-19 13:16] m3dbedb opened #6961 "Runner shows error when you try to reload collections"
**The bug description**
Usually when postman windows goes black due to electron bug, runner windows either does black untill you don't restart it (cobsole stay working). Sinse postman 7.2.2 runner may start witth already black and empty window.

**To Reproduce**
Steps to reproduce the behavior:
1. Open Postman
2. Open Runner
3. Delete some collection
4. Import another collection
5. Runner says you

[2019-07-19 13:57] kuehlmeyer commented on #6959
I just stumbled over version 7.3.4-canary02. That doesn't have that issue. So, it's probably fixed already in newer versions.

[2019-07-19 14:52] m3dbedb commented on #6961
The issue happens if you delete in postman collection, opened in Runner

[2019-07-19 14:56] shamasis commented on #6959
Yeah. @kamalaknn can you confirm and close?

[2019-07-19 15:01] #6542 closed, assigned to shamasis

[2019-07-19 15:32] BrambleRamble opened #6962 "Comparing non-trivial JSON data from one request to another, to test persistence"
### The problem
I'm currently trying to implement this sort of test to check persistence of JSON data, but can't find an effective method for step 3:
1. Make a request with JSON as the body
1. Make a second request to retrieve this same data, expecting it to have undergone light or moderate processing
1. Confirm that the response body from (2) extends or adapts the request body from (1) in the exp

[2019-07-19 17:05] jtbennett opened #6963 "When editing graphql variables, cursor jumps to query pane on every keystroke"
**Describe the bug**
When editing a graphql request, the cursor jumps to the end of the Query pane after every keystroke.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a POST request.
2. Under the Body tab, select GraphQL.
3. Enter a query in the Query pane.
4. Place the cursor in the Variables pane.
5. Type any character - the cursor is now at the end of the Query pane.

Each keyst

[2019-07-19 17:14] TimEganGitHub opened #6964 "400 error in Newman for 4 tests out of 46, all pass in Postman"
**Describe the bug**
A clear and concise description of what the bug is.
Test works in Postman but not in Newman.  Getting a 400 error.  Only 4 tests fail out of 46.  All 46 passed before June 26th.

**To Reproduce**
Steps to reproduce the behavior:
1. Tests runs in Postman but fails when running CICD in Newman
The bug is reproducible every time in Newman, passes in Postman every time.
 First noti

[2019-07-19 18:32] beflymontreal opened #6965 "Postman reading response body as request body when importing file"
Dear friends of Postman,

We noticed that when importing a file, for one of the POST calls, postman is adding the response to the body of the request, instead of reading the correct request body and adding the response to the example of successful response. In this case, there are no examples also.

In the other POST call, it shows both request and response as "null" when they're provided.

Testin

[2019-07-19 21:52] javiergarza opened #6966 "Support for Akamai's API Authorization (Edgegrid)"
Akamai is the largest Content Delivery Network in the world, and is used for delivering API traffic at scale by a lot of companies (for example as of June 2019, some of Akamai customers leverage their Edge Platform to deliver 5+ **trillion** of API calls/month).

Akamai has around 100 APIs that allow their customers to manage all the different cloud services, however the API authentication model -

[2019-07-19 23:15] JP-from-Postman commented on #6954
Alternative (short term): allow users with Viewer role to see the Manage Roles dialogue, but not make changes. This was they can at least see who has the Editor role, and can grant it to them.

[2019-07-20 09:30] Empkh commented on #4891
+1

[2019-07-20 09:33] 95rajasekar commented on #3107
It worked for me following this

[2019-07-20 12:02] honkkki opened #6967 "how can i auto save my request in postman after i test the request?"
always forget to ctrl+s and next time the request url will missing.

[2019-07-20 16:39] idevtech commented on #6967
Agreed, Add "auto save" option like Google Docs w/ option to disable it.

[2019-07-20 16:42] idevtech opened #6968 "Replace "pencil" icon for editing title etc w/ click on text to enable edit mode"
For the request title, description, etc replace the pencil icon used to enable edit mode w/ click on text to enable edit mode. This would be a more efficient UI as you would not have to take the time to hover over the pencil icon.

[2019-07-20 18:34] sonuame commented on #4463
Yea, pointing to the same request instead of creating a clean slate makes things little weird for me. So many times I ended up modifying my old working request. Sidebar saved me...

[2019-07-20 20:39] jakesylvestre commented on #4578
I'm still having this issue in 7.2.2 on Mac

[2019-07-21 02:07] sankalp0o commented on #6954
Thanks for reporting JP, this is something that we are working upon. I'll update here when it goes out.

[2019-07-21 07:18] JoshanTandukar commented on #448
just put %0D%0A where you need the new line

[2019-07-21 07:28] shamasis commented on #6953
I’m afraid that’s not possible. Maybe you could elaborate on this?

@vkaegis we could provide a simple way to change syntax highlighting language in the response view.

[2019-07-21 07:36] shamasis commented on #6962
Indeed. @BrambleRamble I see your point. But I have a few questions... when you say compare, do you mean programmatic comparison or visual comparison? If visual, maybe we could have a way to show the “diff” between a response and saved examples?

[2019-07-21 07:43] Amyth07 commented on #6967
+1

[2019-07-21 07:48] shamasis commented on #6964
Hey. We would need more details to debug this. I suspect this could be an issue with cookies or auth.

Can you reproduce this issue using a small subset of requests? Say 2 requests, with both passing in Postman and one failing in Newman. With this setup, if you can send me the exact request and response details from Postman Console and then verbose logs from Newman.

[2019-07-21 07:55] abhijitkane commented on #6965
@beflymontreal Can you attach a sample file that you're able to reproduce the issue with? The following details will help us isolate the issue faster -

**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise descript

[2019-07-21 07:56] shamasis commented on #6966
I’m tracking this as a feature request. We are working to make auth system have plugin ability. But that’s a while away. Meanwhile, if anyone is interested, can send a PR to postman-runtime and test using Newman.

Currently all auths are coded here https://github.com/postmanlabs/postman-runtime/tree/develop/lib/authorizer

[2019-07-21 08:23] harryi3t commented on #4578
@jakesyl Can you try the canary build (7.3.4-canary03) which you can download from https://www.getpostman.com/downloads/canary?

[2019-07-21 09:06] psech commented on #4150
@abhijitkane I confirm, the issue has been resolved. Thank you for getting back to me.

I wonder why do I need `var fs = require("fs");` and why there are no query string parameters?
Whatsoever, it works and anyone can add qs by themselves.

[2019-07-22 02:18] kamalaknn commented on #6959
@kuehlmeyer Yes, this has been fixed on the Canary channel and on the latest version of Postman 7.3.3 and above.

We are currently rolling this version out in a staged manner. This version will soon be available to everyone.

Also, this has been reported in #6860. So I'm closing this as a duplicate. You can follow the original for updates.

[2019-07-22 02:18] #6959 closed, assigned to kamalaknn

[2019-07-22 04:00] remyaradha opened #6969 "Postman 7.2.2 black screen on MacOS 10.14.5"
**Describe the bug**
After updating to 7.2.2 version, Post man screen turns black in few minutes once the app is started

**To Reproduce**
Steps to reproduce the behavior:
1. Open the post man app
2. Keep for a minute
3. Full screen of the app turns black and nothing can be done

**Expected behavior**
Post man screen should show the menu items and work as normal

**Screenshots**
If applicable, add

[2019-07-22 05:19] saswatds commented on #6961
Hi @m3dbedb it will be really helpful if you can share your logs with us by sending it to help@getpostman.com

You can find the logs in `View -> Developer -> View Logs`
Thanks.

[2019-07-22 06:23] appurva21 commented on #6963
@jtbennett I followed the exact steps as mentioned by you but was not able to reproduce the issue. It would be very helpful if you could share some more insights about how you reached that state by sharing some GIFs or screenshots.

[2019-07-22 06:31] artu-ole commented on #5301
I've been facing similar issue, with installer just bailing out(but without logs or I didn't locate any in `AppData/Roaming/Postman`) up until now - postman canary installs correctly.
Edit: found the logs, they're in `\Users\username\AppData\Local\SquirrelTemp\SquirrelSetup.log`, mostly failing due to UnauthorizedAccessException, but I suppose squirrel contributors got it fixed so doesn't matter a

[2019-07-22 06:38] numaanashraf commented on #6957
@azgo Would it be possible to provide a screen recording of this issue? We are having trouble replicating this issue at our end.

[2019-07-22 06:42] numaanashraf commented on #6946
@m3dbedb Could you send us a screenshot of any errors in the DevTools console? You can open the devtools like View > Developer > Show DevTools (Current View) > Console.

[2019-07-22 06:49] #6917 closed, assigned to nobody

[2019-07-22 06:53] mrdulin opened #6970 "Better support for graphql"
**Is your feature request related to a problem? Please describe.**

1. Add query and fragment by one click

I don't want to add field one by one manually, even copy and paste.

2. Auto-detect schema with graphql endpoint url

I don't want to import schema from a local file. Because my schema defined by `.ts` file, not `.gql` file.

3. For now, is it support graphql subscription?

graphql subscript

[2019-07-22 06:54] harryi3t commented on #6906
@Mystigan @kanuos
This looks similar to the https://github.com/postmanlabs/postman-app-support/issues/4594 issue.
Could you try out our latest canary build and let us know if that works? You can download it from https://www.getpostman.com/downloads/canary

[2019-07-22 06:57] harryi3t commented on #5301
@artu-ole Thank you for taking the time to try our canary build 👍
The same fix will be available in the next production release 7.3.4

[2019-07-22 07:00] harryi3t commented on #3799
@suvaraj Are you still facing the issue on the latest version of Postman (v7.3.4)?

[2019-07-22 07:11] #6895 closed, assigned to codenirvana

[2019-07-22 07:12] ggpai opened #6971 "Import --> Paste Raw Test is always displays as GET Request instead of POST"
**Describe the bug**
I have copied the Post Request as "Copy as cURL(bash)" from Chrome Browser. In postmans click on import and pasted in " Paste Raw Text". Request is displaying as GET.

**Expected behavior**
In Postman it should display as Post request instead of that its considering as GET Request. Please find attached screen shot.

**Screenshots**
If applicable, add screenshots to help explai

[2019-07-22 08:13] harishbarma commented on #6612
@kartikjain26 :Thanks for the fix,  Now I'm able to populate all the projects in the dropdown.
@cyrielle-hada you can close the issue.

[2019-07-22 08:35] #6612 closed, assigned to ankitjaggi, kartikjain26

[2019-07-22 08:42] suraj-purohit opened #6972 "Web dashboard not loading for Workspaces."
**Describe the bug**
The web dashboard does not load while opening workspaces url. (Infinite loop)

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://go.postman.co/workspaces'
4. See error - The web dashboard does not load - Infinite loading icon loop.

**Expected behavior**
When you go to "https://go.postman.co/workspaces"  - Web dashboard should open and "All Workspaces" should

[2019-07-22 09:16] BrambleRamble commented on #6962
@shamasis Interesting question.
The ability to automate this as a test is much more valuable to me, because it's a kind of check that I potentially want to run dozens or hundreds of times a day.
Relatively speaking, I would only need to do visual comparisons very rarely, so I'm quite happy to copy and paste the relevant data into another diffing tool in that scenario.

[2019-07-22 09:50] kartikjain26 opened #6973 "Environment id does not have userId in browse view in app"
**Describe the bug**
Incorrect environment id sent from app browse view

**To Reproduce**
Steps to reproduce the behavior:
1. Go to  browse view in app
2. Click on environments tab
3. Select an environment to go to dashboard view
4. See error

**Expected behavior**
Environment view should open

**App information (please complete the following information):**
 - Postman Version [7.3.3]
 - OS X 18.0

[2019-07-22 09:57] saswatds commented on #6970
Hi @mrdulin, thanks for writing in. The above-requested features are on our radar and we are working towards them. No ETA as of now but will update soon as and when we are ready.

[2019-07-22 11:37] martinburyak commented on #5294
+1

[2019-07-22 12:01] TehWardy commented on #4726
@Diomos  to be clear ... I'm expecting the xml error there ... my API doesn't respond to unauthorised calls ... but postman should also return the same thing was my point.

@shamasis it'll be whatever the version was back in may.

I just ran the update (which initially complained that it was broken), so I gave up and manually installed the latest version and now it appears to be working with that

[2019-07-22 12:20] wahedzaman opened #6974 "Add Annotation support in Body"
Hi, Using Postman for a long time for my development. And thanks for this awesome product and continuous development.

It would be highly appreciated if we can have an annotation tool support for the response body.

For example, when a request is made and response is shown in the body area (considering json response, but can be done for the html response as well), we can select a particular word o

[2019-07-22 12:31] azgo commented on #6957
Sure, there you go: https://youtu.be/2eEbnfAbuxw

Brgds,

[2019-07-22 12:40] mrdulin commented on #6970
@saswatds Awesome! Is there a release date?

[2019-07-22 13:31] Raja-Simha commented on #3622
Duplicate of #3931. Closing this one.

[2019-07-22 13:31] #3622 closed, assigned to sankalp0o, Raja-Simha

[2019-07-22 13:57] Raja-Simha commented on #5590
Duplicate of #5706

[2019-07-22 13:57] #5590 closed, assigned to sankalp0o, Raja-Simha

[2019-07-22 14:08] Raja-Simha commented on #6112
Duplicate of #5789. Closing this one.

[2019-07-22 14:08] #6112 closed, assigned to sankalp0o, Raja-Simha

[2019-07-22 15:31] Spurlos commented on #6888
Jumping on to bump up this issue. Please try to update your snap repos adequately. This is an official distribution channel from you, not a Beta of internal, so please treat it nice, or close it and delete, as it's not fulfilling its job on distributing latest versions to those who prefer Snap packages.

[2019-07-22 15:34] twaalewijn opened #6975 "Importing OData requests with key segments through OpenAPI document results in unusable Path Variables"
**Describe the bug**
I have an ASP.NET Core service that uses OData and exposes an OpenAPI endpoint with the help of [this library](https://github.com/Microsoft/OpenApi.Net.OData).

The output of this endpoint is an OpenAPI document serialized to JSON.

Using a theoretical model of two entities:

- project (with key project_id)
- subproject (with composite key project_id, subproject_id)

The docum

[2019-07-22 15:47] jakesylvestre commented on #4578
trying it out now @harryi3t

[2019-07-22 17:18] TimEganGitHub commented on #6964
Hi Shamasis,  I’m working on getting a smaller test together.  Hopefully I will have that done today.

I’m not sure how to get the Verbose logs from Newman.  Can you help?

Thanks

Tim

From: Shamasis Bhattacharya <notifications@github.com>
Sent: Sunday, July 21, 2019 12:48 AM
To: postmanlabs/postman-app-support <postman-app-support@noreply.github.com>
Cc: Tim Egan <Tim.Egan@PulteGroup.com>; Autho

[2019-07-22 17:20] Messhias commented on #3358
+1

[2019-07-22 18:17] TimEganGitHub commented on #6964
Hi Shamasis,  Please see the attached file.  It’s the smaller version that you requested.
 The test that fails in Newman but Passes in Postman is Post “Financial Area”
I also asked our Release manger to clear the Cookies but that might not happen until later today.

Thanks

Tim

From: Tim Egan
Sent: Monday, July 22, 2019 10:19 AM
To: postmanlabs/postman-app-support <reply@reply.github.com>; postma

[2019-07-22 18:38] m-samantha opened #6976 "post collection runner ,how to save the responses of multiple iteration to a file."
I am testing an API using the collection runner and  I am getting the test data from the file that has 1000 records . the collection test ran successfully for all the 1000 iterations . when importing the test results it is saving the data for only a selected iterations and not all the 1000 iterations. Is there a way to save the results of all the 1000 iterations to a file.

**App information (plea

[2019-07-22 19:22] mmerbes commented on #3691
Rick-click copy does not work with Windows Postman v7.3.1. It does not work in Pretty or Raw for JSON responses. Very annoying.

[2019-07-22 21:06] shamasis commented on #6974
Indeed this is a fine idea. I’m sure our design team would love to include your thoughts when we work at further improving our collaboration features.

[2019-07-22 21:15] th-m opened #6977 "Allow for users to download v 7.0.9"
Lots of my stuff doesn't work in latest versions of postman... but did in 7.0.9 is there a way to revert. Thanks

[2019-07-22 21:55] aapablaza opened #6978 "Postman won't connect to cloud behind proxy on Linux"
**Description**
Postman connect to cloud behind proxy in Ubuntu.

**Affected**
-Postman Cloud connection
-APIs Beta ("No internet connection")

**To Reproduce**
Steps to reproduce the behavior:
1. Must be behind a proxy network
2. On Ubuntu or similar (should happen on Linux Mint too)
2. Install Postman by either snap, apt-get or by tar.
3. Configure global environment proxy variables by edit the

[2019-07-23 01:28] xiaomingliu2 commented on #4503
I left a team workspace, resulting in the loss of a collection I Shared earlier. I could not see it anywhere. Is there any chance to restore it?

[2019-07-23 04:01] saswatds commented on #6976
Hi @m-samantha, Thanks for reporting in. There is a bug in our import/export flow in collection-runner that is preventing you from exporting the entire collection run summary.

We have already taken up this issue in high priority and will be fixing this issue very soon.
Until then you can try out our cli runner Newman https://github.com/postmanlabs/newman
which has an inbuilt json reporter which g

[2019-07-23 04:05] ClaysonIO commented on #3977
I'm also seeing this issue with Version 7.3.2.

Hitting 'Request Token' does open a popup and walk through the authorization flow, but displays a blank page when it arrives at `https://www.getpostman.com/oauth2/callback`, without any flow to get the code back into Postman.

[2019-07-23 04:34] preethammavin commented on #6977
@th-m can you let us know what is not working on the latest version, we work actively and treat regression bugs on the product as top priority. Would want to address them asap.

[2019-07-23 06:28] coditva commented on #6951
Hi @jaumzera, could you provide me with some more info?
1. What version of Postman are you using?
2. Is "`guid??r`" appended before encoding or after?
3. How are you encoding the header (if you can send me a code snippet it would help a lot)?

Also, it would really accelerate the reproduction process if you can list out the exact steps that led to this problem!

[2019-07-23 07:45] ran-berenfeld opened #6979 "postman fails to resolve .local addresses resolved with mdns"
We have installed a network endpoint that resolves via mdns addreeses such as api.t.local
however postman fails to resolve such requests.
for example curl works :
curl http://api.t.local/provider/v1/providers
{"items":[]}
while postman fails to resolve the host (see screenshot attached):

![postman-fails](https://user-images.githubusercontent.com/47638959/61692556-928c0580-ad36-11e9-9e66-ecf0abc51

[2019-07-23 08:08] Cazaimi commented on #3282
@staticvoidmaine , I reproduced the situation that you mentioned, with the request having query params like `foo[bar]`. As can be seen in the screenshot below, the query params are correctly encoded in the `cURL` request:

![Screenshot 2019-07-23 at 1 35 25 PM](https://user-images.githubusercontent.com/13660453/61694268-c2df9e00-ad4e-11e9-9061-3078ad09cc58.png)

On directly pasting this request in

[2019-07-23 08:36] baileylo commented on #6543
I'm interesting if this falls as a security bug and how you're protecting/securing access tokens for storage?

[2019-07-23 09:24] #6780 closed, assigned to pankajkumar005, ArjunSingh-PM

[2019-07-23 09:57] DannyDainton opened #6980 "Collection Runner - Multi Iteration Scroll Issue"
**Describe the bug**
Running more than a single iteration via the Collection Runner causes the scrolling action, in the Results section, to _jump up_ to the first iteration.

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to the Collection Runner
2. You can use the `Postman Echo` Collection for the run
3. Select more than a single iteration (3 will be fine)
4. Start the Collection run
5.

[2019-07-23 10:00] harryi3t commented on #3977
@ClaysonIO This issue should be fixed in the latest version of Postman 7.3.4. Can you try this after updating your app?

[2019-07-23 10:03] codenirvana commented on #6140
Fixed in Postman v7.3.4.

[2019-07-23 10:03] #6140 closed, assigned to codenirvana

[2019-07-23 10:04] harryi3t commented on #4578
@jakesyl Also, the same is available now on our stable channel (Postman 7.3.4) as well.

[2019-07-23 10:07] codenirvana commented on #6651
This is fixed in the latest version of Postman app (v7.3.4).

[2019-07-23 10:07] #6651 closed, assigned to codenirvana

[2019-07-23 10:11] codenirvana commented on #6414
This is fixed in the latest version of Postman app (v7.3.4).

[2019-07-23 10:11] #6414 closed, assigned to vikiCoder

[2019-07-23 10:12] codenirvana commented on #6595
We've added support for this in the latest version of the Postman app (v7.3.4).

[2019-07-23 10:12] #6595 closed, assigned to vikiCoder

[2019-07-23 10:35] harryi3t commented on #6488
Closing this in favor of https://github.com/postmanlabs/postman-app-support/issues/6306
Please subscribe to the original issue for further updates

[2019-07-23 10:35] #6488 closed, assigned to nobody

[2019-07-23 10:38] BrambleRamble opened #6981 "Navigation from a search result to the corresponding location in the collection"
### Summary of issue
I use ctrl+shift+F to search my collections.
This shows me the search results in the list in the 'Find' panel. Within the Collections tab here, I can click the 'Open in builder' text to open the request in the builder.

The difficulty is that I often want to look at or edit the _surrounding_ requests/folders, and I have not found a way to find the request _within the collectio

[2019-07-23 10:39] harryi3t commented on #6306
@appurva21 Was able to reproduce this by:
 1. Send a request. Postman Console should already be open.
 2. Expand the request in the console and select `raw` mode
![image](https://user-images.githubusercontent.com/5207331/61705663-e234f600-ad63-11e9-8eb1-555777acc692.png)
3. Send another request with a script `console.log(1,2,3)`
3. Expand the log, the console would crash

Also, that would mean thi

[2019-07-23 12:08] sankalp0o commented on #4503
@xiaomingliu2 if you left the team workspace, you can rejoin it and share the collection to a personal workspace.
If you left the team, your collection would still be with the team and the only way to access it is to ask them to add you back or export and send it to you.

[2019-07-23 12:17] jaumzera commented on #6951
1. What version of Postman are you using?
[code]
2. Is `guid}}r` appended before encoding or after?
Before. Base64 hash is generate with the extra value.

    For instance:
    * Online Base64 encoder: `user:password` ==> `dXNlcjpwYXNzd29yZA==`
    * On Postman: `user:password` ==> `dXNlcjpwYXNzd29yZGd1aWR9fXI=`

3. How are you encoding the header (if you can send me a code snippet it would help a

[2019-07-23 13:10] vikiCoder commented on #6550
We've added this option in the latest version of the Postman app (v7.3.4).

[2019-07-23 13:23] vikiCoder commented on #6699
We have updated response headers UI and made it identical to request headers editor UI (but with read-only mode) in the latest version of the Postman app (v7.3.4). The new UI will show multiple spaces in headers as it is without stripping it. Below is a screenshot of the same.

<img width="1179" alt="Screenshot 2019-07-23 at 6 50 47 PM" src="https://user-images.githubusercontent.com/16588032/61715

[2019-07-23 13:29] vikiCoder commented on #6764
This is fixed in the latest version of Postman app (v7.3.4).

[2019-07-23 13:30] vikiCoder commented on #6784
This is fixed in the latest version of Postman app (v7.3.4).

[2019-07-23 13:38] #6699 closed, assigned to vikiCoder

[2019-07-23 13:39] #6550 closed, assigned to vikiCoder

[2019-07-23 13:40] #6764 closed, assigned to vikiCoder

[2019-07-23 13:40] #6784 closed, assigned to vikiCoder

[2019-07-23 13:47] codenirvana commented on #6918
@shrey-d We've pushed a fix for this on `v7.3.4`. Can you update your app and confirm if this fixes your issue?

[2019-07-23 13:53] codenirvana commented on #6886
@thetreythomas @antoinemaschiR @SXS73 We've pushed a fix for this in the latest version of the Postman app `v7.3.4`. Can you update your app and confirm if this fixes your issue?

[2019-07-23 13:56] Raja-Simha commented on #3766
Duplicate of #4244

[2019-07-23 13:56] #3766 closed, assigned to sankalp0o, Raja-Simha

[2019-07-23 14:14] diego-f-alcantara-z commented on #4117
+1

[2019-07-23 14:18] bastiewendt commented on #6876
Hi there,
the issue still persists in Postman v7.3.4
Thanks for the hint to use the keyboard instead of mouse, works fine ;-)

[2019-07-23 14:27] codenirvana commented on #6878
@TheNestea @FunksMaName Can you update your app and confirm if this issue is fixed in the latest version of the Postman app `v7.3.4`?

[2019-07-23 14:28] a85 commented on #6767
Fixed in the latest version.

[2019-07-23 14:28] #6767 closed, assigned to numaanashraf

[2019-07-23 14:30] mrdulin commented on #4117
+1

P.S. Add simple code IntelliSense and autocompletion, it will be great!

[2019-07-23 14:35] Raja-Simha commented on #6392
Duplicate of #3719

[2019-07-23 14:35] #6392 closed, assigned to sankalp0o, Raja-Simha

[2019-07-23 14:36] harishbarma commented on #5335
@kartikjain26 I have gitlab on  a custom domain. I followed all the steps mentioned in above post but it is not backing up the collections.  I created new access tokens with api and read user access
I tried several types with
1. exsinting repository with with amster
2. existing repository with separate branch (mentioned branch name while configuring)
3. Create separate public project
4. created se

[2019-07-23 14:41] Raja-Simha commented on #6171
Duplicate of #5263

[2019-07-23 14:41] #6171 closed, assigned to sankalp0o, Raja-Simha

[2019-07-23 14:46] Raja-Simha commented on #3325
Duplicate of #3719

[2019-07-23 14:46] #3325 closed, assigned to sankalp0o, Raja-Simha

[2019-07-23 14:48] Raja-Simha commented on #3324
Duplicate of #3632

[2019-07-23 14:48] #3324 closed, assigned to sankalp0o, Raja-Simha

[2019-07-23 15:02] Raja-Simha commented on #6859
Duplicate of #5706

[2019-07-23 15:02] #6859 closed, assigned to Raja-Simha

[2019-07-23 15:47] ClaysonIO commented on #3977
@harryi3t That did it, thanks!

[2019-07-23 15:59] Raja-Simha commented on #5650
@norchow, you can now add/enable versions to your private and public documentation. Do refer to our docs here https://learning.getpostman.com/docs/postman/design_and_develop_apis/versioning_an_api/ and leave your feedback/comments.

[2019-07-23 15:59] #5650 closed, assigned to vkaegis, sankalp0o, Raja-Simha

[2019-07-23 16:30] StephenOsborne0 opened #6982 "Unclosed xml CDATA tag crashes UI (black screen)"
**Describe the bug**
UI crashes to black screen when unclosed CDATA tag loaded in request body (text/xml)

**To Reproduce**
1. Create a new request.
2. Go to the "Body" tab
3. Select "raw" and "XML (text/xml)"
4. Paste (or type) the following into the body editor window:

![image](https://user-images.githubusercontent.com/45471959/61729687-ab64dd00-ad6f-11e9-96fe-1cd606014092.png)

5. Wait approx

[2019-07-23 16:35] farsh77 commented on #3977
Just updated to 3.4 and it is fixed now. Thanks.

[2019-07-23 17:53] summyfeb12 commented on #3822
+1

[2019-07-23 17:55] eplewis89 opened #6983 "Exception Thrown in Squirrel Updater: FileNotFoundException"
**Bug Description**
Whenever Postman updates, I can no longer run Postman. This seems to be due to a bug in the updater. The log specifies the the "RELEASES" file is missing when opening Postman. Here's the log:

[code]

**Expected behavior**
I expect the app to update properly and start.

**App information (please complete the following information):**
 - Native
 - Postman Version 7.2.1
 - OS: Wi

[2019-07-23 19:49] markh1 opened #6984 "Cannot highlight links in response section. Clicking on them opens the link in a Tab"
I have postman Version 7.3.2
win32 10.0.17763 / x64.

Ever since the last update, I cannot highlight (and copy to windows clipboard) a url (contained in an xml comment tag) within the xml response returned from my api request.

For example:
[code]

All of my requests include the url that was received in the returned response (inside a comment).  This allows me to verify the url that was sent (afte

[2019-07-23 19:59] chrisdeso opened #6985 "Web Dashboard – Accessing Environments Throws Invariant Violation Error"
**Describe the bug**
When accessing an environment via the web dashboard – e.g. https://go.postman.co/dashboard – the page doesn't render and an `Invariant Violation` error is thrown in the browser console.

**To Reproduce**
Steps to reproduce the behavior:
1. Navigate to web dashboard – https://go.postman.com
2. Select a workspace
3. Open environments associated with the workspace and select one

[2019-07-23 20:49] saswatds commented on #6752
The latest version of app v7.3.4 has the fix for this. Closing issue

[2019-07-23 20:49] #6752 closed, assigned to saswatds

[2019-07-23 20:51] saswatds commented on #6761
The fix is now available in the stable app version 7.3.4. Closing the issue

[2019-07-23 23:30] megajulez commented on #5456
I too would find this feature useful. It would be great to be able to share a collection, and it could also contain environment related variables. I would like to be able to give the consumers of my APIs a collection and the environments they need would also be imported.

[2019-07-24 03:05] godfrzero commented on #6432
We've pushed out a fix for users seeing errors while listing/accessing monitors.

[2019-07-24 03:05] #6432 closed, assigned to godfrzero

[2019-07-24 03:22] preethammavin commented on #6119
@harshachelle , we were not able to reproduce the issue.

[2019-07-24 03:22] #6119 closed, assigned to elssar

[2019-07-24 03:29] varaveet opened #6986 "Feature to automatic results/response body export option to desired local folder, as we have requirement to validate other stuff based on response msg. Please suggest code/features exist otherwise please add"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2019-07-24 03:51] shrey-d commented on #6918
I've updated my version to v7.3.4 and confirm that the issue is resolved. Thanks a ton!

[2019-07-24 04:09] #6918 closed, assigned to codenirvana, saswatds

[2019-07-24 05:11] shamasis commented on #6964
@TimEganGitHub ... it seems like that the attachment did not get through. Can you share the link to the collection by hitting “share” from the menu in Postman sidebar? And to run newman in verbose mode, I think there’s a `--verbose` option.

[2019-07-24 06:12] bobmacks commented on #3845
+1

[2019-07-24 06:19] kamalaknn commented on #6887
This should be fixed in Postman 7.3.4. Please update to the latest version and let us know if the issue still exists.

[2019-07-24 06:19] #6887 closed, assigned to kamalaknn

[2019-07-24 06:20] youqingz commented on #6980
Same issue here.
Windows 10 64 bit
Postman Version 7.3.4

[2019-07-24 07:01] fifteenzhang commented on #6897
Same Problem With 7.3.4

[2019-07-24 07:08] nekator commented on #5459
I would like to see this feature in Postman. Would make sharing Collections/Requests with Teams easier.

[2019-07-24 07:24] kamalaknn commented on #6860
This fix should be available on the stable channel now. Please update your app to the latest version and let us know if the issue still exists.

[2019-07-24 07:24] #6860 closed, assigned to kamalaknn

[2019-07-24 07:26] kamalaknn commented on #6730
We have pushed the fix for this issue to the stable channel now. Please update to the latest version and give it a try.

[2019-07-24 07:26] #6730 closed, assigned to nobody

[2019-07-24 07:28] kamalaknn commented on #6754
This fix is now available on the stable channel.

[2019-07-24 07:28] #6754 closed, assigned to kamalaknn

[2019-07-24 07:33] kamalaknn commented on #1465
This should be fixed in the latest version of Postman App. Please update your app and give it a try.

[2019-07-24 07:33] #1465 closed, assigned to numaanashraf

[2019-07-24 07:37] kamalaknn commented on #6150
This should be fixed in the latest version of Postman above 7.3. Please update and give it a try.

[2019-07-24 07:37] #6150 closed, assigned to nobody

[2019-07-24 07:45] harryi3t commented on #4721
This is fixed in the latest version of Postman (v7.3.4).

[2019-07-24 07:45] #4721 closed, assigned to numaanashraf

[2019-07-24 07:45] harryi3t commented on #5381
This is fixed in the latest version of Postman (v7.3.4).

[2019-07-24 07:45] #5381 closed, assigned to nobody

[2019-07-24 07:46] harryi3t commented on #4412
This is fixed in the latest version of Postman (v7.3.4).

[2019-07-24 07:46] #4412 closed, assigned to numaanashraf

[2019-07-24 07:49] harryi3t commented on #6807
The fix is now available on our stable channel (Postman v7.3.4) also.

[2019-07-24 07:50] harryi3t commented on #6932
This is fixed in the latest version of Postman (v7.3.4).

[2019-07-24 07:50] #6932 closed, assigned to harryi3t

[2019-07-24 07:53] harryi3t commented on #6906
@Mystigan @kanuos
The same fix is also available now on the stable channel (Postman v7.3.4). Could you update your app and give it a try?

[2019-07-24 07:54] #6726 closed, assigned to harryi3t

[2019-07-24 07:56] harryi3t commented on #6647
Closing the ticket due to inactivity. If the issue still exists please let us know.

[2019-07-24 07:56] #6647 closed, assigned to numaanashraf, harryi3t

[2019-07-24 07:56] harryi3t commented on #5968
Closing the ticket due to inactivity. If the issue still exists on the latest version of Postman (v7.3.4) please let us know.

[2019-07-24 07:56] #5968 closed, assigned to harryi3t

[2019-07-24 07:58] harryi3t commented on #5301
The fix is now available in the latest version of Postman v7.3.4

[2019-07-24 07:58] #5301 closed, assigned to harryi3t

[2019-07-24 08:00] harryi3t commented on #3977
@ClaysonIO @farsh77 Thanks for the confirmation.
Closing this ticket.

[2019-07-24 08:00] #3977 closed, assigned to nobody

[2019-07-24 08:05] elssar commented on #5509
Closing as this is a network problem.

[2019-07-24 08:05] #5509 closed, assigned to elssar

[2019-07-24 08:05] babus opened #6987 "AWS Cognito OAuth2 401 Unauthorized"
**Describe the bug**
AWS Cognito's OAuth2 is adding temporary header Authorization with "Bearer" prefix in the header value. This results in 401 Unauthorized as AWS doesn't expect the "Bearer" infront of the token.

**To Reproduce**
Adding screenshot.

**Expected behavior**
The Authorization token should be customizable using the pre-request script or so.

**Screenshots**
![Annotation 2019-07-24 0

[2019-07-24 08:06] Saif03 commented on #5301
Tried the canary build and the issue is fixed for me. Thanks for your work guys, finally I am switching back from Insomnia after 19 months, :)

[2019-07-24 08:15] zedbahn commented on #6730
Upgrading fixed the issue - thanks.

[2019-07-24 08:25] #6835 closed, assigned to godfrzero, preethammavin

[2019-07-24 08:27] preethammavin commented on #6803
This issue has been fixed

[2019-07-24 08:27] #6803 closed, assigned to Ghusar

[2019-07-24 08:36] #6619 closed, assigned to ankit-m

[2019-07-24 08:37] #6515 closed, assigned to nobody

[2019-07-24 08:38] kartikjain26 commented on #6985
@chrisdeso  The fix is under review. Should be out in next release.

[2019-07-24 09:58] codenirvana commented on #6949
@Brunofreedom Can you update the Canary app to the latest version and check if that fixes your issue?

[2019-07-24 10:29] Cazaimi commented on #6554
@Raja-Simha , I do not think this is an issue related to [product/documentation](https://github.com/postmanlabs/postman-app-support/labels/product%2Fdocumentation), but rather [product/dashboard](https://github.com/postmanlabs/postman-app-support/issues?q=is%3Aopen+label%3Aproduct%2Fdocumentation+label%3Aproduct%2Fdashboard).

[2019-07-24 10:38] dJani97 commented on #4687
I'm running the latest Postman v7.3.4 on openSUSE, with one single tab open, and it is eating up at least **600 megabytes** of my system memory.
I think this is unacceptable for a program that I only use to execute a single HTTP request every now and then. What are you guys keeping in the memory all this time?

![image](https://user-images.githubusercontent.com/22769564/61786963-0f8aae00-ae0f-11e9

[2019-07-24 11:03] SupaMario123 commented on #3691
Having the same issue.

Postman for Mac
Version 7.3.4

I dont have the Problem always. Sometimes copy paste works. Very strange.

[2019-07-24 12:07] coditva commented on #6951
@jaumzera Hi, your information was very helpful but unfortunately, I was unable to reproduce this. Some steps that might help:

- Try to send the request from a new tab/collection.
- Update app to 7.x.x and see if this issue still persists? [Download link](https://www.getpostman.com/downloads/)

[2019-07-24 13:47] DannyDainton opened #6988 "API Platform - Importing a schema from a file is not auto selecting the File Type"
**Describe the bug**

When importing a new API from a file, the correct `file type` is not being auto-selected and it defaults to JSON. This causes the user to manually go and select the file type from the dropdown list in the UI, in order to fix the JSON validation issues and see the correct syntax highlighting.

**To Reproduce**

1. Go to the `APIs` Tab in the main app
2. Click on the `Create an

[2019-07-24 13:55] aedelbro commented on #6150
Resolved with 7.3.4 (I also like the theming update too)
![Screen Shot 2019-07-24 at 9 52 36 AM](https://user-images.githubusercontent.com/36162221/61799396-0ee71d00-adf9-11e9-81d7-72ac0b1e0eff.png)

[2019-07-24 14:29] vkaegis opened #6989 "Tab Options dropdown layout breaking with Windows shortcut labels"
**Describe the bug**
The Tab Options dropdown menu layout is breaking in Windows, with the `Force Close Current Tab` option splitting into two lines without appropriate top/bottom padding.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the tab header
2. Click on Options icon '....'
4. See broken layout

**Expected behavior**
The menu should accomodate for the longer shortcut labels in

[2019-07-24 14:45] cyrielle-hada commented on #6969
Hi @remyaradha, would you please send over a .zip file of your your app logs to help@getpostman.com? To find them, navigate to `View > Developer > View Logs in Finder`.  Please mention this GitHub issue in your message.

<img width="500" alt="Screen Shot 2019-07-24 at 15 33 12" src="https://user-images.githubusercontent.com/47351631/61803488-238fd900-ae2a-11e9-80d0-b26f48aee321.png">

To get you u

[2019-07-24 14:53] cyrielle-hada commented on #6968
Illustration of the current behavior
![Jul-24-2019 15-51-25](https://user-images.githubusercontent.com/47351631/61804050-217a4a00-ae2b-11e9-9150-ddfe242b7eee.gif)

[2019-07-24 15:18] TimEganGitHub commented on #6964
I’m sending the json file again here.

I tried clicking Share in Postman but it only allowed me to share with my other teams.  I might be missing something as I haven’t shared with Postman before.  Please send me instructions of what you want me to do.

Thanks

Tim

From: Shamasis Bhattacharya <notifications@github.com>
Sent: Tuesday, July 23, 2019 10:11 PM
To: postmanlabs/postman-app-support <pos

[2019-07-24 15:23] thetreythomas commented on #6886
@codenirvana - Everything looks good on my end. Been running fine on 7.3.4 since yesterday around lunch time.

[2019-07-24 16:18] FunksMaName commented on #6878
Thanks @codenirvana, I can confirm that this now assigns the configured client certificate as expected in version 7.3.4

![postman](https://user-images.githubusercontent.com/2690060/61810335-f72e8980-ae36-11e9-92c1-1f3a84369043.PNG)

[2019-07-24 17:13] Mystigan commented on #6906
@harryi3t ,
I installed Postman v7.3.4 on my windows 8.1 machine. It is working fine now. Thank you for the fix.

[2019-07-24 17:26] felipeseger commented on #1525
I need to use the Moment Timezone in Jave Script test code, at moment we only can use the library from moment and i need the moment-timezone library.

[2019-07-24 18:23] chrisdeso commented on #6985
Thanks for the update @kartikjain26

[2019-07-24 18:45] joled opened #6990 "Intermittently get error "Could not get any response""
Our team intermittently gets the error "Could not get any response" when sending requests with the Postman app. When we do get the error message I can look on the target system and see that the request did actually work. For instance, I have a request that hits an integration endpoint URL to update a netSuite RMA> When I get the error I can see the NetSuite RMA has been updated.

The timeout for o

[2019-07-24 19:36] COB-SM opened #6991 "Newline ( \u000a ) breaks Pretty view in 7.3.4"
In 7.3.4, if a response contains an newline, Pretty view seems to stop parsing/indenting:

Raw:
![RawJSON](https://user-images.githubusercontent.com/39503632/61822889-ec183100-ae17-11e9-8907-648ce5fe0ac5.png)

Pretty:
![PrettyJSON](https://user-images.githubusercontent.com/39503632/61822906-f6d2c600-ae17-11e9-8706-d11f0d925b6b.png)

This does not happen in 7.2.2

[2019-07-24 19:45] ShepSims commented on #1678
@a85 Do you know if this feature is still being developed or has it been abandoned?

[2019-07-24 19:54] chrisdeso commented on #6990
Hey @joled – Interesting, would you be able to update your original post with the info listed below?

**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots*

[2019-07-24 20:44] aedelbro commented on #6709
Just updated from 6.x.x upto 7.3.4, and am having a similar issue. However I use postman on a vertical monitor (as long responses are much nicer this way), so the number of tabs required to not see anything is much smaller.

Perhaps adding a configurable min-width? I'm fine with horizontal scrolling. I'd much rather have to horizontal scroll and see names vs. having to horizontal scroll and not se

[2019-07-24 20:45] joled commented on #6990
Hi Chris,
I updated the original post. Thanks.

Regards,

Joe Ledva
Famous Smoke Shop
jledva@famous-smoke.com<mailto:jledva@famous-smoke.com>
610-559-7000 x118

From: Chris de Sousa <notifications@github.com>
Reply-To: postmanlabs/postman-app-support <reply@reply.github.com>
Date: Wednesday, July 24, 2019 at 3:54 PM
To: postmanlabs/postman-app-support <postman-app-support@noreply.github.com>
Cc: J

[2019-07-24 22:35] chrisdeso commented on #6990
Thanks for updating the post @joled!

Have you worked through the list of items/settings surfaced in the `Could not get any response` modal?

1. The server couldn't send a response
2. Self-assigned SSL certs are being blocked
3. Proxy Config

---

**For # 1:**
Does sending the same request using cURL (or any other tool/script) return the desired response?
There's an in-app [code generator](https:/

[2019-07-24 23:01] dhiralpandya commented on #6682
+1

[2019-07-24 23:02] dhiralpandya commented on #6682
Hi Team

Any plan to add this feature  ?

[2019-07-25 00:25] fReinko commented on #6956
Recommendation for Runner: So the UI doesn't have to be modified for large numbers, might be helpful to have the total appear when hovering over the amount passed.

[2019-07-25 02:36] saswatds commented on #6788
Closing this issue due to inactivity. Feel free to reopen the issue if you are still facing the problem with latest version of the app.

[2019-07-25 02:36] #6788 closed, assigned to saswatds

[2019-07-25 02:39] sankalp0o commented on #6955
Hi @SupriyaYenaganti , the problem might be with the OTRS API and not with Postman. To confirm, can you try the same request using cURL? If the behaviour is wrong in Postman, please let us know and we will work on fixing it. If not, you should try reporting it to OTRS instead.

I'm closing the issue for now, but feel free to reopen this if you find that the problem lies with Postman.

[2019-07-25 02:39] #6955 closed, assigned to nobody

[2019-07-25 02:40] #6906 closed, assigned to harryi3t

[2019-07-25 03:26] tristandenyer commented on #6898
Thanks for sending notifying us of this. Prioritized to be fixed very soon.

[2019-07-25 04:22] ankurdengla commented on #6876
Hey! @DOLPHYNNNN @bastiewendt The fix for this issue is out on our Canary channel - [PostmanCanary 7.3.5-canary01](https://www.getpostman.com/downloads/canary).

[2019-07-25 05:30] #6878 closed, assigned to codenirvana

[2019-07-25 05:31] #6886 closed, assigned to codenirvana

[2019-07-25 05:32] #6793 closed, assigned to vikiCoder

[2019-07-25 06:25] kratigya opened #6992 "Fired request getting replaced by another request while waiting for a response"
**Describe the bug**
When I open a tab and send a request but the response is loading then if I open another request then the tab for the previous request is replaced by the new request tab and the response displayed is of the previous request.

**To Reproduce**
Steps to reproduce the behavior:
1. Open a request which takes a longer time to respond. Request Tab is in preview state.
2. Send the req

[2019-07-25 06:52] Swapnil-getpostman commented on #6901
@preethammavin User didn't used canary application. But responded that the standard postman application has started working fine now.

[2019-07-25 07:16] #6901 closed, assigned to elssar

[2019-07-25 07:20] Cazaimi commented on #6736
@labifrancis , the screenshot included in the description depicts some Content Security Errors and are unrelated to the present issue. Could you review it for the sake of avoiding confusion afterwards? Thanks.

[2019-07-25 07:27] Cazaimi commented on #6736
@Raja-Simha , please mark this as closed for now, because of lack of context. @siemvaessen please comment on this thread if you still face this error.

[2019-07-25 08:09] apokall opened #6993 "Postman stops sending requests when sending a token."
**Describe the bug**
One day, with time, the postman stopped sending requests normally, but only those that require verification for authorization. When I send Bearer Token with the request, the request does not get to the server at all. It only costs me to disable the transfer of the token, then immediately begins to get a request to the server.
I use the common repository of rekvestov. My team h

[2019-07-25 08:39] Raj-postman opened #6994 "Automatically assign "Editor" role to members, once the owners exit the workspace"
**Describe the bug**
When the owner of the collection exits the workspace, other members of the workspace cannot manage the collection if the owner hasn't assigned the editor roles to them. This blocks the team from working on the collection.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a Collection on a Team workspace
2. Provide only "Viewer" roles to other members
3. Leave the Te

[2019-07-25 10:01] Raja-Simha commented on #5133
@dusty @gekonwi This issue has been fixed. Please, verify and let us know. Closing this for now.

[2019-07-25 10:34] mbhurke commented on #5847
While validating xml response, i am converting it in json and then adding validations in postman. But it is giving not converting Nil="true" to null . We are not able to understand how to add validations for this field.

[2019-07-25 10:38] ankurdengla commented on #6991
Hey @COB-SM ! Thanks for bringing this issue to our notice. We were able to reproduce the issue and are working on a fix for this. Please monitor this thread for updates.

[2019-07-25 10:53] ghost opened #6995 "Can't open postman"
**Describe the bug**
I cleared the cache from the dev tools, and now postman does not open. I tried to uninstall and install it again but it won't start. I downloaded the newest version, but an  error shows saying that the app can't not start.

**App information (please complete the following information):**
 - App Type: Windows App
 - Postman Version 7.3.4
 - OS: Windows 10

[2019-07-25 11:00] codenirvana commented on #5445
@t-pankajkumar Can you update your app and confirm if that fixes your issue?

[2019-07-25 11:07] codenirvana commented on #6869
@michal19256 Thanks for reporting this issue.
We are tracking similar issues in Newman:
https://github.com/postmanlabs/newman/issues/935
https://github.com/postmanlabs/newman/issues/941

Closing as duplicate.

[2019-07-25 11:07] #6869 closed, assigned to codenirvana

[2019-07-25 11:08] wiggisser commented on #6897
The icon is not even showing up if I start postman.exe directly from "%userprofile%\AppData\Local\Postman" or "%userprofile%\AppData\Local\Postman\app-7.3.4" directories.

This is quite annoying because I currently have another (also updated via squirrel) app behaving the same way. Might therefore be a squirrel issue ...

[2019-07-25 11:10] paunovic commented on #1070
+1 this should be trivial to implement

[2019-07-25 11:15] codenirvana commented on #5744
@zjh-coder Sorry for the delayed response. We are not able to reproduce this issue internally, can you share a scaled-down collection which we can use to reproduce this issue?

[2019-07-25 11:22] codenirvana commented on #5103
@tjraskin @dietbos Sorry for the delayed response. Can you share more details about the Proxy (does it require Proxy Authentication) and how its configured in the Postman app?

Also, is it working by setting the global proxy configuration?

[2019-07-25 11:24] codenirvana commented on #4706
Closing this issue as we are not able to reproduce this internally and we haven't seen other users facing the same.

Please feel free to reopen if the issue persists or you can help us with the steps to reproduce this issue.

[2019-07-25 11:24] #4706 closed, assigned to codenirvana

[2019-07-25 11:32] codenirvana commented on #6194
@LazukinPavel @kasim As mentioned in https://github.com/postmanlabs/postman-app-support/issues/6194#issuecomment-485444191, can you confirm if your issue is resolved?

[2019-07-25 12:18] joled commented on #6990
Hi Chris,

Thanks for the response. I have not actually checked the NetSuite server to see if it actually responded to the request after it was finished with it. I will do that the next time it happens. SSL cert is not the issue, Postman displays the response most of the time. Same for proxy settings. If I get it figured out I will let you know, fyi.

Regards,

Joe Ledva
Famous Smoke Shop
jledva@f

[2019-07-25 12:40] LazukinPavel commented on #6194
I'm sorry, I've lost a track of issue. Using Insomnia now.

[2019-07-25 12:40] #6194 closed, assigned to codenirvana

[2019-07-25 12:47] hheedat opened #6996 "Can postman unescape slashes in JSON response ?"
https://bugs.php.net/bug.php?id=49366

In many PHP service,  response will be escaped slashes by default.(always not your service)

When URL in JSON be escaped slashes default. It is difficult to read, and can not be use direct by copy-paste . Some tools can unescape slashes in JSON, it is very convenience.

I suggest postman can also provide some option to unescape slashes in JSON.

Thanks!

[2019-07-25 12:54] coditva commented on #6904
@medjai Thanks for reporting this! This indeed is a bug. We'll ping here when we have a fix. Stay tuned!

[2019-07-25 13:11] numaanashraf commented on #4594
Thanks for your patience everyone. Postman v7.3.x includes an internal change that we believe should prevent this issue from happening to a large extent. I’ve included a detailed description below explaining why this happened and the further steps we are taking to minimize these issues going forward.

**Why was this happening?**
Postman’s Desktop Apps are built on top of Electron, an open-source d

[2019-07-25 13:11] #4594 closed, assigned to numaanashraf

[2019-07-25 13:49] abitgone opened #6997 "Inconsistent spacing around descriptions in web documentation viewer"
When viewing  the collection documentation in the browser, there's some curious spacing around the comments in the form data and querystring parameters collections, which doesn't appear in the path variables collection:

![Screenshot 2019-07-25 at 14 22 36](https://user-images.githubusercontent.com/62781/61879614-47ffba00-aeeb-11e9-93c0-98b254cef324.png)

**To Reproduce**
Steps to reproduce the be

[2019-07-25 13:53] cshaw33 commented on #2992
This issue is happening again with Postman v7.3.4.

The old manual fixes mentioned above did not work for me, but I was able to resolve by editing C:\Users\user\AppData\Roaming\Postman\window and setting all values for "isFullScreen" to false

[2019-07-25 13:54] umbrella-yaroslav-graboveckiy commented on #4171
Why not add something like this?
https://d.pr/free/i/T3o5y4
With false (unchecked) state by default

[2019-07-25 14:28] dave-johnson-netcel commented on #6991
Heya. I am seeing similar behaviour with an encoded double quote character (\u0022) breaking the pretty print view:

![image](https://user-images.githubusercontent.com/19838981/61882662-d75b9c00-aef0-11e9-886b-58f26bb47804.png)

[2019-07-25 15:03] weitzhandler commented on #1044
Would be nice if this functionality is built into Postman.
Thank you!

[2019-07-25 15:18] numaanashraf commented on #6874
@akaczinski This issue is addressed in the latest version of Postman Canary (v7.3.5-canary01)

[2019-07-25 15:18] #6874 closed, assigned to numaanashraf

[2019-07-25 15:23] arcdev commented on #6296
I don't have the `NODE_OPTIONS` environment variable and I have the issue anyway.

[2019-07-25 16:44] slishnevsky commented on #3007
From what I understand Authorization OAuth 2.0 feature belongs to the request. However "Get New Access Token" is not really a part of this request, this is something Postman can do to get an access token behind the scenes as absolutely independent action. Therefore using Tests script to grab a token from "Get New Access Token" is not possible. Technically you must call "Get New Access Token" each

[2019-07-25 17:44] aLooseGoose commented on #4751
IMO Postman shouldn't bother handling anything with a `application/octet-stream` response content-type. If I request binary data, don't parse it, just show me headers and allow me to download it.

Edit: I am currently using 7.3.4 and when requesting a ~15MB binary file, it takes a good minute with the cpu spinning and the GUI hung before it will finish and show the garbage ascii from the binary in

[2019-07-25 17:47] 8Peter8 commented on #6980
Exactly the same issue here on Postman V7.3.4 under Win10. It would be good if it was possible to go down to a previous release until the problem is fixed as this problem causes significant impact to Collection Runner.

[2019-07-25 18:14] jzabroski commented on #4751
@domosapien Zach, that's valid default behavior, but the way Fiddler handles this is it lets you create an Inspector that deserializes the octet stream as a structured view of some kind.

Classical example is [WCF Binary Message Inspector](https://github.com/waf/WCF-Binary-Message-Inspector) plug-in:

So, while I agree with your "just let me download it" suggestion, the general Postman architectur

[2019-07-25 18:14] facundoperezh commented on #3358
+1

[2019-07-25 21:41] juanmbellini opened #6998 "After throwing an Error in a callback of a sendRequest in a pre-request script, the main request is still being performed"
#### Bug description
If the code throws an `Error` in the callback of the `pm.sendRequest` function in the pre-request script, the main request is still being performed. However, if the `Error` is thrown outside the callback, the main request is not performed.
The code can be seen below:

[code]

#### To Reproduce
This code tries to refresh the access token by accessing a URL. The refresh token op

[2019-07-26 01:22] Golgo1 commented on #6465
Agreed,  Last month I was updated to 7.3.3, when the latest release was only 7.2.2
It broke MANY features.
It has just auto updated again, breaking key features I need for work.  (Submitting bugs separately for those)
I am going to waste at least a hour getting re-set to a previous version, hopefully for long enough to perform my work tasks

[2019-07-26 01:26] Golgo1 opened #6999 "Option to disable auto updates"
**Describe the bug**
Postman updates even when Auto updates are turned off

**To Reproduce**
Run a slightly older version of Postman
Postman will update, breaking critical functionality

**Expected behavior**
Don't update until directed to

**Screenshots**
If applicable, add screenshots to help explain your problem. Please make sure the screenshot does not contain any sensitive information such as

[2019-07-26 02:25] preethammavin commented on #6943
@kjnz closing the issue as with the current information provided we are unable to reproduce the issue, feel free to reopen the issue with the above mentioned information so that we can sort it out for you.

[2019-07-26 02:25] #6943 closed, assigned to shamasis

[2019-07-26 02:26] preethammavin commented on #6958
@SaerAlyasso can you give us a bit more detail around this, what are you trying to import and what would be the expected behaviour in such a case.

[2019-07-26 02:28] preethammavin commented on #6969
@remyaradha we have released 7.3.4 to the stable channel as well, can you try updating the app and checking if that solves the issue? Closing the issue for now, feel free to reopen the issue if it is not solved.

[2019-07-26 02:29] preethammavin commented on #6969
A

[2019-07-26 02:29] #6969 closed, assigned to nobody

[2019-07-26 02:32] preethammavin commented on #6977
@th-m closing this thread for now, feel free to open issues which you feel are hindering your workflow so that we can get it sorted for you

[2019-07-26 02:32] #6977 closed, assigned to nobody

[2019-07-26 02:36] Golgo1 opened #7000 "Mutual SSL fails"
**Describe the bug**
Previously working MutualSSL requests fail after the 7.3.x update

**To Reproduce**
Add a certificate in the typical way
Ensure Certificate Verification is OFF
Attempt a request to an online resource that uses MutualSSL
Any request will fail

**Expected behavior**
When all certificates are properly configured, an SSL connection should be made successfully

**Screenshots**

**A

[2019-07-26 02:39] preethammavin commented on #6999
@Golgo1 let us know what is the critical functionality so that we can get it sorted for you. Postman enables updates being turned off for major versions as we expect that it might break user workflows.
Where as minor versions only include updates to current system to ensure we continuously improve the product without breaking user workflows by pushing incremental feature updates, bug fixes and sec

[2019-07-26 04:37] codenirvana commented on #7000
@Golgo1 Thanks for reporting this issue.
In Postman v7.3.x, we had upgraded the version of OpenSSL (from `1.0.2l ` to `1.1.0h`) which might have caused this issue.

To help us debug and triage this, is it possible to share more details or a scaled-down collection (if it's a public endpoint) which we can use to reproduce this issue?

[2019-07-26 05:43] CLannadZSY commented on #6465
yes, Why are they not turning off automatic updates?
I do not understand
But why provide the ability to turn off automatic updates? This is contradictory.
Can't fix this bug?
I believe they can fix this bug easily

[2019-07-26 05:59] sankalp0o commented on #6994
@Raj-postman that is the intended behaviour. People in other workspaces can access this collection, including the person who created it. This is why we can't infer that "...This blocks the team from working on the collection".

Related to this, we are working on the ability for users to request for access to a collection if they don't have it, that should take care of users who feel that they shou

[2019-07-26 05:59] #6994 closed, assigned to nobody

[2019-07-26 06:49] preethammavin commented on #6768
@JP-from-Postman the fix has been deployed to production.

[2019-07-26 06:49] #6768 closed, assigned to ankitjaggi, Ghusar

[2019-07-26 07:11] aamir-ahmed opened #7001 "Unable to SSO into Postman native application with iDP credentials"
**Describe the bug**
User see's a generic "Something went wrong" error when they try to log into the Postman native application with the iDP credentials for SSO

**To Reproduce**
Steps to reproduce the behavior:
1. Click on "Sign in here" next to "Enterprise user?" on the main login page
2. Enter the Team Domain and submit
3. Select the iDP Provider, enter your credentials and submit
4. See "Somet

[2019-07-26 07:33] abhijitkane commented on #6971
Confirmed - the current curl importer defaults to `GET` if no `-X` option is provided. Need to adhere to https://curl.haxx.se/docs/httpscripting.html#Modify_method_and_headers, where `POST` is the default if any data is being sent, `HEAD` is the default if (-I / --head) is used.

Need to check curl source for an authoritative reference.

[2019-07-26 07:36] khwilo commented on #4108
I also have the issue. The workaround for me is to copy all the response to the clipboard by clicking the icon on the top right corner next to search icon of the response output:
![postman-copy-issue](https://user-images.githubusercontent.com/5740429/61934347-c2cee080-af90-11e9-9282-01d37ce8b647.PNG)

I then paste the copied items to another editor. Then from there, I copy the values I want from t

[2019-07-26 07:51] fifteenzhang commented on #6897
It happens with automatic upgrade.And I download the app install package and reinstall it.The icon appears.

[2019-07-26 07:57] kamalaknn commented on #6996
Hi @hheedat

Thanks for reporting this. We are tracking this in #6899.

I'm closing this issue as a duplicate, please follow the original issue for updates.

[2019-07-26 07:57] #6996 closed, assigned to nobody

[2019-07-26 08:21] zabrowarnyrafal opened #7002 "Veriables scoped to folder"
It would be very useful to have possibility override global or environment variable on folder level when documenting API. This would allow to set value (like version of API send within url) shared between request in folder

[2019-07-26 08:27] saurabhpatel2108 commented on #7001
Adding to above, the issue only happens with the Postman Desktop App.
The SSO works fine over web(or when we access it from IDP over web)
[postman_logs.zip](https://github.com/postmanlabs/postman-app-support/files/3434871/postman_logs.zip)

[2019-07-26 09:02] ralphbragg-ob commented on #3825
Hi - PKCE support is highly recommded by the Financial Grade Working group of the Open ID Foundation. More and more industries will require PKCE from clients so again +1

[2019-07-26 09:28] siemvaessen commented on #6736
@cazaimi @Raja-Simha Still a **major** issue, seeing it has not been solved. This page first has 152MB (!!!) of resources and +20MB transferred, so the setup of this is pretty bugged and not usable. So the issue here is to obviously (...) to fix that.  This is reason why this loading takes so long.

<img width="965" alt="Screenshot 2019-07-26 at 11 24 46" src="https://user-images.githubusercontent

[2019-07-26 09:59] elibenjii commented on #3822
+1

[2019-07-26 10:22] vkaegis commented on #6953
Hey @wxb2dyj, thanks for writing in. Though we don't support setting which body format you want to set as a default yet, we do support setting it to just JSON, so this might solve your immediate use case. Just go into Settings (wrench icon in the header) and you should see an option for setting language detection.

<img width="751" alt="Screenshot 2019-07-26 at 1 24 26 PM" src="https://user-images

[2019-07-26 11:18] millejano commented on #6465
Same here, can't understand why disabling updates is so difficult.

[2019-07-26 11:25] imranhassangithub commented on #3845
+1

[2019-07-26 11:40] nereliz opened #7003 "Sync of environments with current values"
Hi,

**Is your feature request related to a problem? Please describe.**
We do have a lot off different environments. End they are shared in a group. We have domain and auth key in each environment. So domain is in initial variable and auth_key is in current variable fields. Then I have 3 different working spots and I don't see a way to share current variable only by copying to the USB key or somet

[2019-07-26 12:49] AnjanaSridhar commented on #2973
I'm not able import Swagger 2.0 json into Postman 7.3.4 and 7.2.2.

[2019-07-26 12:53] numaanashraf commented on #7001
Thanks for reporting this. This is a confirmed regression in Postman v7.3 apps and we are working towards getting this fixed on our stable channel as soon as possible. We have released a fix on our canary channel (https://www.getpostman.com/downloads/canary) and we advise teams which are impacted by this issue to use the Postman Canary apps till this issue is available on our stable channel.

Root

[2019-07-26 13:32] vikiCoder commented on #6717
Hi @rcollette

I am not sure what problem you are facing with multiple redirects while using `Get New Access Token` feature of the Postman in OAauth2. Yet I tried to reproduce a similar situation using below steps:

1 - Created a new project in the Google developer console to tryout `Get New Access Token` feature of Postman.

2 - Used auth URL, client ID and scope according to [google's documentat

[2019-07-26 14:23] Golgo1 commented on #7000
I will try to get you some more information.  I will need a bit of time as my current examples have sensitive endpoints.
In the meantime, some notes are
-one-way SSL seems to work well
-The type of Client cert likely doesnt to matter.  cer/key, pfx both fail (havnt tried other formats)
-all my available test endpoints are on non-standard https port (non 443)  I can confirm these are NOT blocked by

[2019-07-26 14:24] d42ohpaz opened #7004 "False-positive clickable links in Pretty tab for JSON responses"
**Describe the bug**
Any value in a JSON response that contains a slash in the middle of the text is treated as a relative link and when clicked will open a new tab to whatever follows after the slash.

For example, a date formatted with slashes (e.g., 12/20/2019) would allowing clicking on the text after the slash (e.g., [/20/2019]()).

**To Reproduce**
Steps to reproduce the behavior:
1. Request

[2019-07-26 14:31] Golgo1 commented on #6999
Thank you for the reply.  The primary bug relates to SSL connections.  I've created bug 7000 to address that.
I've noticed a few other GUI-related bugs as well.  In fact that's how I knew I was updated. (I'll make separate reports for those)
I was force updated a month ago to 7.3.3.. BEFORE it was released on the website.  The Latest was still 7.2.2.
7.3.3 broke many of the same features, but I wa

[2019-07-26 15:06] saurabhpatel2108 commented on #7001
Adding Paul.

Paul,
Below is for your information.

Regards,
Saurabh

Sent from phone, please ignore typo errors.

From: Numaan Ashraf
Sent: Friday, July 26, 18:24
Subject: [EXT] Re: [postmanlabs/postman-app-support] Unable to SSO into Postman native application with iDP credentials (#7001)
To: postmanlabs/postman-app-support
Cc: Saurabh Patel, Comment

Thanks for reporting this. This is a confirm

[2019-07-26 15:19] guitar-freq commented on #3903
Hello, has there been any movement on this? It's quite annoying and inefficient to have to repopulate the "Get New Access Token" configuration every time. This is especially true for short lived tokens and instances where we have multiple collections requiring Oauth2.
Thanks.

[2019-07-26 15:29] Blkandwhtlion commented on #2452
Looks like this is tstill not implemented, is it on the roadmap? Refresh button and potentially an alternative config option to make refreshing automatic based on refresh time field. The best case it can read response for the expires_in field on most OAuth responses

[2019-07-26 15:44] unisev commented on #6980
Same issue, I really like a rollback or something to unblock me.

PostMan v7.3.5
Windows 7 - 32 bits

[2019-07-26 17:35] eplewis89 commented on #6983
Please let me know how I can help when you get around to this. Thanks!!

[2019-07-26 19:07] stcalica opened #7005 "Monitor Dashboard Response Time"
Filed by Support on behalf of the original user.

**Describe the bug**
Monitor dashboard Test may be running be checking against the total time of request with Pre-request and Test script rather than Response Time.

**To Reproduce**
Unable to reproduce by Support.

User's test script:
[code]
Runs in Monitor Dashboard and test will pass even when response time is above 3000ms.

**Expected behavior*

[2019-07-26 20:08] saurabhpatel2108 commented on #7001
it seems using the canary also gives issues. The app hangs at the attached screenshot. Attaching logs as well
[logs.zip](https://github.com/postmanlabs/postman-app-support/files/3437263/logs.zip)
<img width="1281" alt="postman_canary" src="https://user-images.githubusercontent.com/53333947/61978554-28fa4880-b00f-11e9-8770-16e88c1cec01.png">

[2019-07-26 20:32] fsilva3 commented on #7003
+1

[2019-07-26 20:46] philmagr opened #7006 "Allow customizing text colors"
**Is your feature request related to a problem? Please describe.**
I'm always frustrated when app developers move my cheese.

**Describe the solution you'd like**
I'd like to be able to keep my cheese where it was when I left it.

**Describe alternatives you've considered**
I've considered using something other than postman.

[2019-07-26 21:36] kh00 opened #7007 "__cfduid=d28608addce8d70cebedbb66f7fc888241564176830; expires=Sat, 25-Jul-20 21:33:50 GMT; path=/; domain=.tutuapp.vip; HttpOnly"
**Notice**

If you've found a vulnerability in our service or website, or want additional information regarding how we manage security, please send an email to security@getpostman.com. We will review it and respond to you within 24 hours. Please use our [PGP public key](https://assets.getpostman.com/getpostman/documents/publickey.txt) to encrypt your communications with us.

If you are a security

[2019-07-26 22:17] j-fbriere opened #7008 "Collection runner does not identify the CSV format when selecting Data file"
**Describe the bug**
When selecting a CSV file as "Data" for the collection runner, it does not recognize the format, neither autodetects the number of records.

**To Reproduce**
Steps to reproduce the behavior:
1. Click Run to any collection to go to the Collection Runner.
2. Click on the "Select File" button of the "Data" element and select a CSV file with multiple records like this toto.csv sam

[2019-07-26 23:36] JP-from-Postman opened #7009 "GitHub integration: no Collections selectable"
**Describe the bug**
[Reported by Postman Support, on behalf of original user]

User has a team workspace containing a number of Collections, and is attempting to add our GitHub integration.

However, when selecting a Collection as a target for the integration, the dropdown menu is blank. The number of blank items in the dropdown menu, however, does appear to reflect the number of Collections in t

[2019-07-26 23:57] JP-from-Postman commented on #6885
**Update:** User's client is not able to connect to our services at all.

[2019-07-27 00:04] dnordahl1 commented on #971
Any way to get {{$randomJavaWebToken}} ?

[2019-07-27 00:44] neoadventist commented on #3661
Anyone have a solution to this? @harryi3t can you reopen this?

[2019-07-27 03:07] saswatds commented on #5568
Hi @mmornati, the test scripts run in a javascript sandbox and maximum values an integer can hold in javascript is +/- 9007199254740991
Currently, BigInt support in javascript is in stage-3 https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/BigInt  so as and when javascript starts supporting such large integers the test scripts in Postman will also be able to.

As an

[2019-07-27 03:07] #5568 closed, assigned to saswatds

[2019-07-27 03:09] saswatds commented on #5659
Hi @jonathancbarros this issue is now fixed in our latest app version v7.3.4

Closing this issue now. Feel free to re-open if the issue still persists.

[2019-07-27 03:09] #5659 closed, assigned to saswatds

[2019-07-27 06:48] DannyDainton commented on #7008
Hey @j-fbriere,

If you change the file extension to `.csv` rather than `.csv.txt` it will work.

I used your file to take a look at this locally:

<img width="508" alt="Screenshot 2019-07-27 at 07 42 34" src="https://user-images.githubusercontent.com/17089546/61991010-3846b980-b042-11e9-95c6-5e65409f7af5.png">

This is running against the macOS version of the app so their _might_ still be some we

[2019-07-27 07:32] j-fbriere commented on #7008
Hey @DannyDainton,

I added the .txt extension only to be able to attach the toto.csv file to the ticket, as it would not accept the .csv extension for attachment.

As you can see in the screenshot I provided, I selected a file named toto.csv when using Postman.

I think it might be related to Postman on Windows because my colleague used the same toto.csv file with Postman (same version) on macOS

[2019-07-27 12:07] bikash8gupta commented on #6722
The tests are deleted when a generate collection is applied. We definitely need a update collection because all collections have test suites in it and they are not kept when a new collection is generated.
Till then API beta is not of any use. Why I will keep maintaining API specification as well as collection from two places.

[2019-07-28 02:23] codingbyai opened #7010 "postman cann't sign in with google"
Postman native app cann't sign in with Google

App Type: Native App
Postman Version: 7.3.4
OS: macOS Mojave 10.14.5

<img width="1238" alt="屏幕快照 2019-07-28 10 16 38" src="https://user-images.githubusercontent.com/1461476/62001372-91394f00-b121-11e9-86f5-e19a8ce0da5a.png">
<img width="1238" alt="屏幕快照 2019-07-28 10 14 15" src="https://user-images.githubusercontent.com/1461476/62001371-90a0b880-b121-

[2019-07-28 04:46] saswatds commented on #5792
Closing this issue. Feel free to re-open if the issue persists.

[2019-07-28 04:46] #5792 closed, assigned to nobody

[2019-07-29 00:08] xzhiwei commented on #4001
version 7.3.4 also have this problem ,  can return 301 body to user.
Please do something to user , let them know reason.

[2019-07-29 00:11] sqiubgl commented on #3358
+1!!!

[2019-07-29 00:23] codenirvana commented on #4001
Hello everyone 👋
It took us a while but, we are currently adding support for request configurations which will allow you to configure request sending flows like this (following the original HTTP method on redirect).

Will post about its availability in our canary and stable channel soon!

[2019-07-29 01:29] sk33wiff opened #7011 "Feature request - expose settings so that can be changed programmatically"
It would be great to be able to change settings values programmatically, specially environment variables.

I have an environment variable, used as an auth token header value for all my project  requests. Currently, whenever it gets expired, I have to reset it using the GUI interface, which gets quite cumbersome overtime. It would be much faster if I could set it programmatically, specially using a

[2019-07-29 05:49] remyaradha commented on #6969
Version 7.3.4 was auto updated and issue still persists. It works fine with Postman canary 7.3.5

[2019-07-29 06:10] Ghusar commented on #6853
@JP-from-Postman We have pushed a change where this issue is fixed. can we confirm with user?

[2019-07-29 07:13] vikiCoder commented on #5730
Yes, you are correct @Bibz87-CG. I checked in the latest version of Postman app (v7.3.4) and it is working fine.

[2019-07-29 07:22] Cazaimi commented on #6997
@abitgone , thanks for reporting this issue, the comprehensive context and probable root cause. We'll look into this. @Raja-Simha , could you mark this as a bug in `product/documentation`?

[2019-07-29 07:34] Cazaimi commented on #6736
@siemvaessen , thanks for the logs. As I can see, the documentation that you're trying to fetch is ~150 MB in size. Depending upon your internet connection, the time required to load this can vary. It is expected therefore, that documentations with bigger collections take longer to load on the same network connection than a smaller one, and is not a bug.

You mentioned that the setup is bugged and

[2019-07-29 07:40] kartikjain26 commented on #7009
@JP-from-Postman  this behaviour is not reproducible consistently. Can you ask the user to try and refresh the page to see if it occurs repeatedly ?

[2019-07-29 07:48] Cazaimi commented on #6736
@siemvaessen , thanks for the logs. As I can see, the documentation that you're trying to fetch is ~150 MB in size. Depending upon your internet connection, the time required to load this can vary. It is expected therefore, that documentations with bigger collections take longer to load on the same network connection than a smaller one.

That being said I understand how big collections such as thi

[2019-07-29 07:52] kartikjain26 commented on #6450
@godfrzero  This was fixed, right ?

[2019-07-29 07:53] kartikjain26 commented on #6417
@ankitjaggi  can we close this ?

[2019-07-29 08:05] kartikjain26 commented on #5195
@preethammavin  not able to reproduce it since we have rbac now.

[2019-07-29 08:16] vikiCoder commented on #4911
Closing this issue as a duplicate of the following issue:
https://github.com/postmanlabs/postman-app-support/issues/5823

[2019-07-29 08:16] #4911 closed, assigned to preethammavin

[2019-07-29 08:22] sankalp0o commented on #6800
Hi @anupulu , did you face this again or was it only the one time? I'm thinking maybe your internet was slow at that time and that's why loading the workspace took too long (as is evident from your second screenshot).

I'm closing this for now, but if you're seeing this repeatedly, please let us know and we will fix this.

[2019-07-29 08:22] #6800 closed, assigned to insomniac12

[2019-07-29 08:27] #6417 closed, assigned to kartikjain26

[2019-07-29 08:42] Svetlin-Slavchev opened #7012 "Html in string properties broke the JSON view of the item"
**Describe the bug**
Postman v7.3.4 - Html in string properties broke the JSON view of the item

**To Reproduce**
Request some item with Html values in some string property.

**Screenshots**
If applicable, add screenshots to help explain your problem.
![image](https://user-images.githubusercontent.com/5067924/62033970-cca54d80-b1f5-11e9-9d6a-ecd17d8b0aca.png)

**App information (please complete th

[2019-07-29 08:47] vikiCoder commented on #6114
Closing this as a duplicate of following issue:
https://github.com/postmanlabs/postman-app-support/issues/3525

[2019-07-29 08:47] #6114 closed, assigned to codenirvana

[2019-07-29 08:59] shivam-postman commented on #6450
@JP-from-Postman the issue has been resolved.

[2019-07-29 09:38] #6695 closed, assigned to vvs11

[2019-07-29 09:53] vikiCoder commented on #3214
I am not sure when it was added, but the current version of Postman native app (v7.3.4) has an option to specify whether to include client_id and client_secret in either Basic Auth header or in request body. Below is a screenshot of the same:

<img width="619" alt="Screenshot 2019-07-29 at 3 16 19 PM" src="https://user-images.githubusercontent.com/16588032/62039120-af33ac00-b214-11e9-8b38-408e1209

[2019-07-29 10:00] vvs11 commented on #6702
@Graveheart we don't have a plan to support form-data right now. You can use the other body paramaters

[2019-07-29 10:07] vikiCoder commented on #2063
Closing this as a duplicate of the following issue:
https://github.com/postmanlabs/postman-app-support/issues/3525

[2019-07-29 10:07] #2063 closed, assigned to a85, vikiCoder

[2019-07-29 10:58] vvs11 opened #7013 "Error message for Throttling limit reached and mock usage limit reached is the same"
**Describe the bug**
Error message for Throttling limit reached and mock usage limit reached is the same.
The error message should be different.
Please look at the bug tagged below for more information:

**Additional context**

https://github.com/postmanlabs/postman-app-support/issues/6511

[2019-07-29 11:06] vvs11 commented on #6934
Hi @zgirod, Thanks for writing in
We do support query string params matching in the request. It'll work if you have added an example with the params that you want to be matched. Also, currently we support request body matching via headers only.

[2019-07-29 11:06] #6934 closed, assigned to vvs11

[2019-07-29 11:56] steveland83 opened #7014 "Close pop-up modals (e.g. Manage Environments) by clicking outside modal"
**Is your feature request related to a problem? Please describe.**
A very common task for our team is updating environment variables - especially API client Ids (regenerated every day) and secret keys (only stored as session variables). We work with a /lot/ of APIs so on any given day we probably update variables for around 5 different clients. Its a lot of clicking, copying & pasting, and it can

[2019-07-29 12:00] zgirod commented on #6934
Hello @vvs11

It isn't working for me; at least not now I would expect it to work.   I have attached an example below and will detail my example here:

- I have a GET with 5 examples
- {{domain}}/v2/testing?accountId=1&date=2019-07-29
- {{domain}}/v2/testing?accountId=1&date=2019-07-30
- {{domain}}/v2/testing?accountId=2&date=2019-07-29
- {{domain}}/v2/testing?accountId=2
- {{domain}}/v2/testing?a

[2019-07-29 13:10] pachulo opened #7015 "Snap out of date"
Describe the bug
The latest version of Postman is not available as snap.

To Reproduce
Steps to reproduce the behavior:

execute snap info postman
See output

[code]

Expected behavior
The latest version (7.3.4 right now) should be available in some channel, ideally the stable one.

App information (please complete the following information):

OS: Ubuntu 16.04

[2019-07-29 13:14] numaanashraf commented on #7015
@pachulo Thanks for reporting this. We are at the last stage of rolling out Postman 7.3.x to our user base and we'ld be updating the snap packages this week. We are tracking this at #6888. Closing as duplicate.

[2019-07-29 13:14] #7015 closed, assigned to nobody

[2019-07-29 13:24] mindej opened #7016 "file upload code is invalid in python and java"
Here is my request:
![image](https://user-images.githubusercontent.com/1636250/62051772-b494f480-b21c-11e9-8f23-dca70d11a691.png)
When I try to upload a file it works just file.
Code generation part is compleate nonsence:
![image](https://user-images.githubusercontent.com/1636250/62051894-03db2500-b21d-11e9-9692-bfe6c25a98cc.png)

The file should be read into memory and should not be part of the p

[2019-07-29 13:51] katia-tsurul commented on #4552
Any changes here?

[2019-07-29 14:19] mds1256 opened #7017 "JSON response body - Pretty View showing escape characters"
**Describe the bug**
It seems Postman now shows escaping slashes when returning a json response containing forward slashes, e.g. `01/01/2019` now shows up as `01\/01\/2019`

**To Reproduce**
Steps to reproduce the behavior:
1. Call an endpoint that returns forward slashes in a JSON response and you will see this.

**Expected behavior**
The pretty display setting should show without any escaping sl

[2019-07-29 15:18] cyrielle-hada commented on #6784
@vikiCoder Windows Users exporting a .CSV file from a Microsoft Excel spreadsheet are still experiencing the issue.

Steps to reproduce the behavior on **Windows** and **Microsoft Excel**.
1 - Have a .xlsx file containing leading zero values.
<img width="438" alt="Screen Shot 2019-07-29 at 16 19 21" src="https://user-images.githubusercontent.com/47351631/62060242-aa72f600-b21c-11e9-87dc-ad556f8c5f

[2019-07-29 16:31] mikenap commented on #2253
Working with a colleague of mine, nothing above worked, however, using the IP address of the machine worked (instead of using `localhost` or `127.0.0.1`) when making the request.

[2019-07-29 16:44] EhsanHadid commented on #4167
i have the same problem
i handle that so simple in win 10
press Shift + Right click on icon
select Maximize

[2019-07-29 17:25] andutta opened #7018 "Auto-update disable feature not working in Version 7.2.2"
On postman version 7.2.2, even after turning off auto-update feature, Postman application is updating the App. This is needed because we are noticing a bug in the App that presents a blank white page when OAuth2 authentication is configured for calling APIs. OAuth2 login page works perfectly with the older version of Postman. It will be great if this issue is addressed as soon as possible.

[2019-07-29 18:20] davidh-zoosk commented on #7009
I've tried refreshing countless times. I've tried in Chrome, Safari, FF, and IE. Incognito modes for each as well.
Are there any restrictions on who can implement the integration? I have the developer role on our team.

[2019-07-29 18:27] KatyaRomanova14 opened #7019 "Not Able to Merge Changes - 500 Internal Server Error"
Not Able to Merge Changes - 500 Internal Server Error

**To Reproduce**
Steps to reproduce the behavior:
1. Create Fork
2. Merge Changes
![Error](https://user-images.githubusercontent.com/53446939/62072549-bf875f00-b1f3-11e9-9135-e989207fe762.PNG)

**Expected behavior**
Changes will be merged.
There is Error 500.

Postman for Windows
Version 7.3.4
win32 10.0.17763 / x64

[2019-07-29 18:33] rmm5t commented on #4140
I'm seeing the same problem. Actually, I'm seeing intermittent problems with this. Earlier today, manually pasting the access-token into the field worked. Now, it no longer does. Manually pasting the access-token does not send the `Authorization` header anymore.

Some Background: We're hitting an Apigee-fronted server that incorrectly returns a `BearerToken` token type instead of a `Bearer` token

[2019-07-29 18:44] rmwtltd opened #7020 "Testing Assertions from API Schema"
I like the new APIs section where you can write an OAS schema definition. It would be great to be able to use the response schemas/models from the API definition when writing tests. I've mostly worked with OAS 2.0, and I'm unsure whether the other schema definition languages provide the same modeling capabilities, but it seems like a very natural feature - define the data model in the spec, and th

[2019-07-29 20:01] chrisdeso opened #7021 "Something went wrong while fetching API *"
**Describe the bug**
Attempting to access content associated with API schemas is throwing 500 errors – both in-app and in the web dashboard.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to App or Web UI
2. Select a Workspace
3. Open APIs section within workspace
4. See error

**Expected behavior**
The UI should return the relevant APIs

**Screenshots**
[code]
[code]

**App information

[2019-07-29 20:51] davidh-zoosk commented on #7009
Here is a video so you can see how the drop-down doesn't get set to any value:
https://www.youtube.com/watch?v=KmuWnsMURuQ

[2019-07-29 21:11] 21anujashah commented on #3360
Is there any option to resolve this issue? Can we add relevant scripts in "Tests" section to handle these type of errors? In my single collection, I have 400+ requests. It stops after 35 requests, sometimes after 40 requests.

[2019-07-29 22:13] davidh-zoosk commented on #7009
Just had our admin attempt the integration as well. Same result.
So that means it has been attempted on 3 accounts, 4 machines, and 7 browsers. Safe to say it is an issue with our account.

[2019-07-29 22:29] dihmeetree commented on #2086
+1

[2019-07-29 23:11] JP-from-Postman commented on #7009
@kartikjain26 I agree that this looks team specific. Please see internal notes.

[2019-07-30 00:13] anandpaul commented on #3407
Hi, I am also facing the same issue. After getting the result, when I scroll up and down, it does not work. But, when click and hold the vertical scroll bar, then it moves.

[2019-07-30 02:05] jdinardo30 commented on #4140
@rmm5t Yup we are using Apigee as well, so we have no control on what is being returned (“BearerToken” vs “Bearer”). The only work around I came up with was to have a middle man service to intercept the response from Apigee back to postman, transforming the response to replace “BearerToken” with “Bearer”. Works well but obviously isn’t ideal.

[2019-07-30 02:32] rmm5t commented on #4140
It'd be nice if the copy-n-paste workaround was at least a consistent solution. Better yet would be to allow usage of a token even if the incorrect token-type is returned.

The limiting factor could instead be that the `Authorization` header will always pass a `Bearer` prefix regardless of the token-type returned during the token handshake.

[2019-07-30 02:39] chaoyangya commented on #1667
请尽快实现

[2019-07-30 04:52] Ghusar commented on #7019
@KatyaRomanova14 Is this issue consistently reproducible?

[2019-07-30 05:07] Ghusar commented on #6397
@ikazoy @cyrielle-hada @suraj-purohit Is this issue still persists?

[2019-07-30 05:43] coditva commented on #3225
As can be verified by looking at the exported `.json` files, there are no inconsistencies between **environment** and **data** variables. This is the intended behaviour because data is to be imported as it is and not `JSON.stringify`-ed.

For the use case that is mentioned above, as @ryannnnnn said, the "correct" way to send the request would be to `JSON.stringify` the variable in the `pre-request

[2019-07-30 05:43] #3225 closed, assigned to shamasis, codenirvana

[2019-07-30 06:59] vikiCoder commented on #632
The latest version of Postman native app (v7.3.4) has support for `password` grant type in OAuth2. Below is a screenshot showing the same:

<img width="619" alt="Screenshot 2019-07-30 at 12 25 05 PM" src="https://user-images.githubusercontent.com/16588032/62107604-9505d680-b2c5-11e9-9161-a2142eb16ab1.png">

[2019-07-30 07:22] AHARSHRAJ opened #7022 "API's Bug with Chrome Extension"
Exploiting Api’s with Postman and Google Chrome

The first step in exploiting any REST Web API is to make sure the website you are using is calling API endpoints. The way I check is to open up the developer tools in Google Chrome, and make a few innocent requests on a website.
image.png

image.png

On this particular website, I don’t have to login with my name to submit a ticket. I can submit them

[2019-07-30 07:23] AHARSHRAJ commented on #7022
Api commit

[2019-07-30 07:44] numaanashraf commented on #7022
Please follow the guidelines and templates while filing issues - https://github.com/postmanlabs/postman-app-support/issues/new?template=Feature_request.md

[2019-07-30 07:44] #7022 closed, assigned to nobody

[2019-07-30 07:47] vikiCoder commented on #2433
Closing this issue as a duplicate of the following issue:
https://github.com/postmanlabs/postman-app-support/issues/5459

[2019-07-30 07:47] #2433 closed, assigned to a85, vkaegis

[2019-07-30 08:06] sankalp0o commented on #6145
@godfrzero Closing this as the team is not able to reproduce this. Please reopen if you are able to still see this.

[2019-07-30 08:06] #6145 closed, assigned to nobody

[2019-07-30 08:14] sankalp0o commented on #6368
@kamalaknn Were we able to diagnose this issue?

[2019-07-30 08:18] motenzhang commented on #6984
![image](https://user-images.githubusercontent.com/2246795/62112581-8d562a00-b2e5-11e9-96d4-a5fc3921cb4c.png)
yes, revert to the previous one or waiting to could switch response editor

[2019-07-30 08:39] vikiCoder commented on #3332
We no longer auto-generate the `state` variable in OAuth2 according to the latest version of Postman native app (v7.3.4). You can specify whatever value you want as the state in the provided field shown in below screenshot:

<img width="621" alt="Screenshot 2019-07-30 at 2 05 04 PM" src="https://user-images.githubusercontent.com/16588032/62113916-27f93d80-b2d3-11e9-8326-3779d94bcab3.png">

You can

[2019-07-30 08:48] jonnyijapan commented on #7017
I think you meant to add backslashes? I think the github UI however mangles it unless we put it in a code block or something.

    e.g. 01/01/2019 now shows up as 01\/01\/2019

Btw I also realized this issue. Not sure when it started happening, but I think it's semi-recently.

[2019-07-30 08:50] kaustavdm commented on #6980
Also, reported on the [community forum](https://community.getpostman.com/t/collection-runner-multi-iteration-scrolling-issue/6861).

[2019-07-30 08:55] GiorgioAresu commented on #2833
Happened to me on OS X 10.14.6 with Postman v7.3.4. Had to use it fullscreen to be able to see the window. Now that I found this thread I solved this way:
- close postman
- delete the requester.json
- open postman (issue remains)
- from the menu, File->New Postman Window (this one shows)
- from the menu, Window->Postman (you should see two, click the one without a checkmark)
- from the menu, File-

[2019-07-30 09:12] Ballzer0 commented on #4391
+1 this would still be an awesome feature!

[2019-07-30 09:20] mds1256 commented on #7017
@jonnyijapan Yeah sorry, forgot to add the code block but your example is what is happening.

At least it isn't just me, I would say in the past 2 months, as the last time I updated postman was around 2 months ago and then again yesterday and now I have this issue.

[2019-07-30 09:31] kamalaknn commented on #4908
This issue should be fixed in the latest version of Postman.

Starting from Postman 7.3 we have changed the response pretty view rendering logic.

In previous versions, we would convert the response into a Javascript object and format the Javascript object. This has led to multiple issues caused by the constraints of the Javascript language.

In the newer version of Postman, we have switched to a

[2019-07-30 09:31] #4908 closed, assigned to numaanashraf

[2019-07-30 09:32] numaanashraf commented on #4520
We are unable to reproduce this issue and we have made major changes & improvements since this issue was created. Please update to the latest version of the app and create a new issue if you are still facing this issue.

[2019-07-30 09:32] #4520 closed, assigned to numaanashraf

[2019-07-30 09:35] suraj-purohit commented on #6397
@Ghusar @cyrielle-hada I will ask the user if the issue still persists.

[2019-07-30 09:42] numaanashraf commented on #4655
@shubsaini09 This issue has been fixed in the latest version of Postman Desktop app (v7.3). Please update and let us know if you are still facing this issue.

[2019-07-30 09:42] #4655 closed, assigned to nobody

[2019-07-30 09:47] harryi3t commented on #5431
@davidbeers Are you still facing the issue with the latest version of Postman?

[2019-07-30 09:48] jagadeeshnv opened #7023 "Http DELETE method not working with Postman version 7.3.4 windows 10.0.17134 / x64"
**Describe the bug**
Http DELETE not working in postman app in windows

**Expected behavior**
Should work and return 204, but returning 200 OK behaving like GET

**App information (please complete the following information):**
 - Native App
 - 7.3.4
 - win32 10.0.17134 / x64

[2019-07-30 10:09] ttibensky commented on #5170
still having this issue in Version 7.3.4

[2019-07-30 10:12] sankalp0o opened #7024 "Allow collection generation from GraphQL schema"
Splitting from #6712 , some users have requested a feature to be able to generate collections from GraphQL. If you also have this need, please add some details below so we're better able to understand your use case.

Filed by Postman

[2019-07-30 10:14] sankalp0o commented on #6712
Created a separate issue for tracking the feature request for collection generation from graphQL schema at https://github.com/postmanlabs/postman-app-support/issues/7024

@shasti421 and anyone else who wants to pitch in:
Can you tell us the structure of collection you'd find useful which can be generated from a graphQL schema? Please add your thoughts on the aforementioned issue.

[2019-07-30 10:15] ErSoul commented on #7017
In my case, it started happening two days ago. It sucks, because now I can't navegate easily through the links the responses returns. Instead I have to backslashes one by one, before going to another request.

[2019-07-30 10:23] ghisvail opened #7025 "Cannot download version 7.3.4 for 32-bit Linux"
See: https://dl.pstmn.io/download/version/7.3.4/linux32

[2019-07-30 10:42] numaanashraf commented on #5777
We are closing this due to inactivity. Please update to the latest version of the app and let us know if you are still facing this issue.

[2019-07-30 10:42] #5777 closed, assigned to nobody

[2019-07-30 10:48] kamalaknn commented on #6744
The fix has been released to the stable channel now. Please update to the latest version and give it a try.

[2019-07-30 10:48] #6744 closed, assigned to numaanashraf

[2019-07-30 10:51] xeruf commented on #3843
Wow, this is such a simple thing to fix but it still gets ignored for almost 2 years. I am sitting outside and can see _NOTHING_ in the dark theme! And even in the light theme I have to strain my eyes more than necessary.

[2019-07-30 10:55] xeruf commented on #2450
Same, see https://github.com/postmanlabs/postman-app-support/issues/3843

[2019-07-30 10:56] xeruf commented on #4318
See https://github.com/postmanlabs/postman-app-support/issues/3843 and https://github.com/postmanlabs/postman-app-support/issues/2450. Both could easily be solved by adding custom theme support.

[2019-07-30 11:00] Adamrenak commented on #6864
.+1
The current behaviour is very confusing and not really too useful. As a user I'm not really interested in other people's activity on their _private_ collections as I don't have any visibility to them anyway.

However, it _is_ useful to get updates on shared team collections. Thanks 🙏

[2019-07-30 11:31] AmanDhembla commented on #6748
Hey, @vdespa tried reproducing it but was not able to do it. Are you still facing this issue?

![mock test](https://user-images.githubusercontent.com/16691579/62125729-95b16380-b2eb-11e9-8bd5-be4aec94c89c.gif)

[2019-07-30 12:09] numaanashraf commented on #4993
Tracking this at a related issue - #5827

[2019-07-30 12:09] #4993 closed, assigned to numaanashraf

[2019-07-30 13:35] cyrielle-hada commented on #6653
@ankitjaggi @kartikjain26 initial reports indicate that it's been fixed! 🎉Thank you!
Closing this issue.

[2019-07-30 13:35] #6653 closed, assigned to godfrzero, kartikjain26

[2019-07-30 13:36] evser opened #7026 "Postman 7.3.4 color of JSON response is wrong"
After updating to 7.3.4 I see that colors in response have changed.
Re-installing of the application does not help. I have cleaned ../AppData/Postman as well.

Please refer to the screenshot below for the details:
![image](https://user-images.githubusercontent.com/11527468/62133805-1ec69b80-b2e8-11e9-973e-7a7bbbb94b2f.png)

[2019-07-30 14:32] lawrencehook commented on #2853
bump & +1

[2019-07-30 14:41] preethammavin commented on #7021
This issue has been resolved , this was caused by partial degradation of the service for few hours.

[2019-07-30 14:41] #7021 closed, assigned to nobody

[2019-07-30 15:16] lawrencehook commented on #5287
In a similar vein, it'd be great if there were a timestamp in the Postman Runner results.

-----

Possibly next to the iteration counter?

![image](https://user-images.githubusercontent.com/6572030/62141961-77cc0a80-b2bb-11e9-8d0d-181a99a0b25a.png)

[2019-07-30 15:44] bothyculture commented on #4361
I get this problem with version 7.3.4

[2019-07-30 16:52] lukas-dzikaras-tg commented on #903
Thats a great feature!
SequelPro has it and I'm using it _every_ _single_ day!

[2019-07-30 17:06] aapablaza commented on #6978
Also, if proxy settings are set on env variables (/etc/environment), both the "no_proxy" env variable and the Postman built in proxy settings, won't work.
I mean, **if http_proxy is set on env variables, Postman will ALWAYS use it**, despite the fact there is a no_proxy env variable, plus Postman's "Use System Proxy" disabled (as shown in the image).

![image](https://user-images.githubusercontent

[2019-07-30 17:34] KatyaRomanova14 commented on #7019
Yes, it is 100 % reproducible.
I am not able to merge my changes.

Katya

From: Ghusar <notifications@github.com>
Sent: Monday, July 29, 2019 9:52 PM
To: postmanlabs/postman-app-support <postman-app-support@noreply.github.com>
Cc: Ekaterina Romanova <Ekaterina.Romanova@TeletracNavman.com>; Mention <mention@noreply.github.com>
Subject: Re: [postmanlabs/postman-app-support] Not Able to Merge Changes

[2019-07-30 18:21] kartikjain26 opened #7027 "Add input field for request URL in save request modal"
![Screenshot 2019-07-30 at 2 59 35 PM](https://user-images.githubusercontent.com/26088676/62154574-9b776b00-b324-11e9-8693-957999ac638b.png)

Current save request modal does not support adding request URL.
This looks odd in cases where, a user has an empty collection, clicks on Add Requests and has to save a request with no URL at the beginning.

[2019-07-30 20:38] saswatds commented on #7026
Hi @evser We have updated only the response viewer to Monaco editor internally for gaining performance advantage. The change in color of the editor is because of the new-editor and is intended. Will be propagating it to all other editors in the app in the upcoming releases.

Closing this issue now as this is not a bug.

[2019-07-30 20:38] #7026 closed, assigned to nobody

[2019-07-30 21:56] chrisdeso commented on #7025
@ghisvail Would you be able to confirm whee you pulled the link from?

The following link (from our downloads page) appears to be working for me – would you give it a try?

- https://dl.pstmn.io/download/latest/linux32

[2019-07-30 22:07] chrisdeso commented on #7023
Hey @jagadeeshnv – Generally speaking, Postman will serve up whatever response is being returned by the server.

Is there a difference in behavior when you send similar requests using cURL (or any other HTTP tool/library)? You can use in-app code generation to generate a request in cURL to give it a go.

![image](https://user-images.githubusercontent.com/4734306/62168970-8252c800-b2ec-11e9-8e94-df

[2019-07-30 22:42] mccannt commented on #6995
@Sam-Black-0013
Is this still happening?

If so, are you able to elaborate a bit more on the error message you are seeing? Maybe add a screen shot if you are able to.

[2019-07-30 23:01] timatanu commented on #6899
This bug is extremely annoying and is exacerbated by the fact that Postman keeps on automatically updating my installation of V7.2.2 where the bug does not exist with version 7.3.x where it does. I used to be able to just click the link and follow it.

Also to add insult to injury I can't even just select and copy the escaped URL text to the clipboard so I can edit it myself. Whilst it selects it

[2019-07-30 23:01] mccannt commented on #7004
@9ae8sdf76 Are you still seeing this issue?

I tried replicating this and I wasn't successful.
Making this call:
`curl --location --request GET "https://postman-echo.com/get?foo1=01/012019&foo2=02/02/2019"`

Returns:

    "args": {
        "foo1": "01/012019",
        "foo2": "02/02/2019"
    },
    "headers": {
        "x-forwarded-proto": "https",
        "host": "postman-echo.com",
        "acc

[2019-07-31 00:42] jonnyijapan commented on #7017
Also I suspect that the escaping of forward slashes within string values in JSON by itself is a mistake, and according to the [RFC](https://www.ietf.org/rfc/rfc4627.txt) is not needed;

[code]

[2019-07-31 01:05] blackasninja opened #7028 "Environment shared to another workspace can be edited/deleted"
**Steps/ Description**
I have Workspace-A and Workspace-B.
I share an environment from Workspace-B to Workspace-A.
Switch to Workspace-A and make changes to the newly shared environment.
Switch to Workspace-B and the changes from Workspace-A changes  are applied to my Workspace-B environment.

**Expected behavior**
Environments should operate individually in each workspace

**App information (plea

[2019-07-31 01:36] tom-outfit commented on #5905
This is still an issue.
OSX 10.14.5
Postman V 7.3.4 (7.3.4)

[2019-07-31 02:28] sankalp0o commented on #7028
Thanks for reporting @blackasninja !
In Postman, things shared across workspaces maintain the same reference so that different groups of people can work on them together. If you do not want this, you can follow the following steps
1. Have workspace-A and workspace-B
2. Duplicate environment E in workspace-A, new environment E` is created
3. Share new environment E` to workspace-B
4. Remove Environ

[2019-07-31 02:28] #7028 closed, assigned to nobody

[2019-07-31 04:43] godfrzero commented on #6703
We've pushed out a fix for this and verified that it works.

[2019-07-31 04:43] #6703 closed, assigned to godfrzero, Raja-Simha

[2019-07-31 06:00] #5730 closed, assigned to vikiCoder

[2019-07-31 06:01] #3332 closed, assigned to vkaegis

[2019-07-31 06:02] #3214 closed, assigned to shamasis, vkaegis

[2019-07-31 06:03] jagadeeshnv commented on #7023
Hi @chrisdeso
DELETE is working as expected in previous versions of Postman(tried 5.5.4 and 7.0.4)
DELETE happening with curl cmd (from my machine)
![curl_cmd_postman_cropped](https://user-images.githubusercontent.com/39791839/62187139-0e64fe00-b386-11e9-8d06-1a2e4b061eec.jpg)

GET working as expected
![get_tmplt_postman_cropped](https://user-images.githubusercontent.com/39791839/62187137-0e64fe00

[2019-07-31 06:56] vikiCoder commented on #5823
The token is updating in the current tab as expected in the latest version of the Postman app (v7.3.4). I have attached a GIF showing the same:

![recording2](https://user-images.githubusercontent.com/16588032/62189812-98649500-b38d-11e9-903d-45e2a7331d60.gif)

[2019-07-31 06:56] #5823 closed, assigned to nobody

[2019-07-31 07:17] vikiCoder commented on #3903
Closing this as a duplicate of the following issue:
https://github.com/postmanlabs/postman-app-support/issues/4636

[2019-07-31 07:17] #3903 closed, assigned to vkaegis

[2019-07-31 07:39] sankalp0o commented on #6631
@trevor-black do you (or your teammates) remember doing anything that caused this? We're trying to reproduce this but are unable to do so.

[2019-07-31 08:03] evser commented on #7026
@saswatds but these colors are horrible! :( I can not believe that **colors** impact performance...

[2019-07-31 08:04] vikiCoder commented on #3337
Closing this as a duplicate of the following issue:
https://github.com/postmanlabs/postman-app-support/issues/4636

[2019-07-31 08:04] #3337 closed, assigned to a85, vkaegis

[2019-07-31 08:07] vikiCoder commented on #3338
Closing this as a duplicate of the following issue:
https://github.com/postmanlabs/postman-app-support/issues/1507

[2019-07-31 08:07] #3338 closed, assigned to a85, vkaegis

[2019-07-31 08:39] goffreder commented on #6790
I'm having the same issue though, I'm copying as cURL from Chromium, and pasting into Postman as raw text. It looks like Postman ignores the fact that having the `-d` or `--data` flag set implies a POST request, as per cURL documentation.

I'm using Postman v7.3.4, issue was present also on v7.3.2. v6.7.3 works fine though.

I'll paste here a reproducible example as soon as I can.

[2019-07-31 10:29] ghisvail commented on #7025
https://dl.pstmn.io/download/version/7.3.4/linux64 works, so I'd expect https://dl.pstmn.io/download/version/7.3.4/linux32 to work as well.

https://dl.pstmn.io/download/latest/linux32 does work, but I need a versioned URI for the flatpak builds.

Cheers,

[2019-07-31 10:42] umeshp7 opened #7029 "Long environment name overlaps with languages list dropdown in private documentation"
Single Column view:
<img width="468" alt="Screenshot 2019-07-31 at 4 08 44 PM" src="https://user-images.githubusercontent.com/31915995/62205659-8a267100-b3ad-11e9-9d75-3679d94a296e.png">

Double Column view:
<img width="474" alt="Screenshot 2019-07-31 at 4 09 55 PM" src="https://user-images.githubusercontent.com/31915995/62205716-b17d3e00-b3ad-11e9-94de-b8afd64a357f.png">

[2019-07-31 10:44] toreskobba commented on #6895
Error is still in Version 7.3.5-canary03, let me know if you want the logs

[2019-07-31 10:52] brihaspati commented on #4552
One solution is to use the [msgpack-lite](https://github.com/kawanet/msgpack-lite) to decode the response

**Steps**

1. Copy the minified msgpack-lite js into a postman global variable
2. inside the test function, use eval to get the msgpack
3. `responseBody` is in encoded format, so normally it doesn't help much. So use `pm.response.stream` to get the response in a Buffer type which is then used

[2019-07-31 10:53] ankurdengla commented on #6895
Hey @toreskobba ! Could you elaborate a bit more about the kind of behaviour you're seeing when you click on "Request Token" ?
Also, could you tell us about the provider you're requesting the token from and the callback? This would help us in triaging the issue better as we are not able to reproduce the error with the current information available.

[2019-07-31 11:01] toreskobba commented on #6895
Hi @ankurdengla1996 our bug is very much as described, when we do request token the browser window hangs with white screen (if we are not logged in we are sent to the login and then the browser hangs). We have our own oAuth server:

Token Name: Token Name
Grant Type: Authorization Code
Callback URL: hostdesc://login
Auth URL: https://hostname/api/oauth/authorizations/new
Access token URL: https://

[2019-07-31 11:20] jon-robinson commented on #3171
+1

[2019-07-31 13:18] ankurdengla commented on #6947
@crowcoder The fix for this issue is out on our Canary build (PostmanCanary 7.3.5-canary04) which can be downloaded here - https://www.getpostman.com/downloads/canary .
Do let us know if the issue persists.

[2019-07-31 13:19] ankurdengla commented on #6991
@COB-SM @dave-johnson-netcel The fix for this issue is out on our Canary build (PostmanCanary 7.3.5-canary04) which can be downloaded here - https://www.getpostman.com/downloads/canary .
Do let us know if the issue persists.

[2019-07-31 13:28] dave-johnson-netcel commented on #6991
Thanks, that's resolved the issue.

[2019-07-31 13:39] ankurdengla commented on #6899
@DOLPHYNNNN @jpSimkins @T0mmyLee @timatanu The fix for this issue is out on our Canary build (PostmanCanary 7.3.5-canary04) which can be downloaded here - https://www.getpostman.com/downloads/canary . Do let us know if the issue still persists.

@timatanu The select and copy bug is being tracked here - https://github.com/postmanlabs/postman-app-support/issues/6876 . The fix for this is also availa

[2019-07-31 15:20] frank-adler opened #7030 "Add support for defining proxy information per collection"
Some of our test stages are available through a proxy only. This proxy requires authentication.

It would be nice if the proxy can be configured per collection, as there are many services we do not need a proxy.

[2019-07-31 15:24] frank-adler commented on #4739
We need this, too. 👍

[2019-07-31 16:29] TechWithHazem opened #7031 "Adding Chrome extension support for the desktop app"
I'm always frustrated when I need to copy requests from chrome devtools to postman desktop app - too much work that can be automated.

While using the chrome app and then exporting the requests works, it is a pain still. So please add support for the desktop app in the chrome extension

Thank you Postman team :)

[2019-07-31 17:22] dandelaney8 commented on #1947
Are there any plans to add this on a global level? For example, I'm trying to set some headers for every single request across multiple collections, and it's annoying to have to maintain the same code in every single one.

[2019-07-31 18:25] codenirvana commented on #3312
We've added this on our Canary (`v7.3.5-canary04`) channel https://www.getpostman.com/canary

We are currently working on documenting this feature and the sandbox APIs.
Meanwhile, here's the brief to get started with this on Canary:

### Whitelisting Domains
First, you need to whitelist the domains for which you want programmatic access to be enabled. Add domains under the new "Whitelist Domains"

[2019-07-31 19:29] COB-SM commented on #6991
Resolved for me as well. It also resolved a secondary issue with escaped slashes suddenly appearing. Thanks!

[2019-07-31 19:35] COB-SM commented on #7017
@mds1256 It looks like this has been fixed in the Canary build...

[2019-07-31 20:26] codextremist commented on #2905
+1

[2019-07-31 21:11] spazm commented on #6762
I see this behavior in the currently available linux64 `postman` as well as the current `postmanCanary`.

[2019-07-31 21:23] spazm commented on #6762
I can see the JSON_OBJECT_VALIDATION_FAILED errors using the javascript validator at https://apidevtools.org/swagger-parser/online/ .   This exception could be captured and displayed more clearly.

1. For my swagger.json, I had a responses section that was missing (mandatory?) description fields for my stubbed exceptions

[code]
->
[code]

2. For @dmitriy-panasiuk 's swagger.json I see missing req

[2019-07-31 23:08] BrianP6 opened #7032 "OAuth 2 Request Authorization Code not working"
Postman for Windows version 7.3.4
OS: Windows 10

Target system: WordPress 5.2.2 website running WP_Oauth_Server PRO with a LetsEncrypt certificate.

## Issue
Clicking on "Get New Access Token" launches the pop up window to login to the server application. After entering credentials the user is logged in on the target system but the Postman pop up window returns to the login screen. The process do

[2019-08-01 03:22] timatanu commented on #6876
So I'm using canary04 and yes the click to select issue is fixed but it seems to have broken the double-click select. So I used to be able to put the cursor to the right of the second [ and double click and it selected all the JSON up to the ] for example \<![CDATA[**{"Event":{"EventHeader":{"TimestampExtracted":"2019-08-01 03:12:46.377"}}**]]\>

[2019-08-01 04:44] saswatds commented on #7026
Hi @evser the colors do not impact performance, the underlying editor stack was the problem. When we changed the editor, as a side-effect the color also changed.

Perception of color being horrible is very subjective when some people love it and some people hate it. We can never make a color scheme that everyone loves.
In the future, we may have the ability to let the users select their own scheme

[2019-08-01 05:48] harryi3t commented on #7001
@aamir-ahmed @saurabhpatel2108
We have pushed a fix for this on the stable channel in the version v7.3.5
Please let us know if you are still facing the issue.

[2019-08-01 05:48] #7001 closed, assigned to nobody

[2019-08-01 06:07] numaanashraf commented on #7025
@ghisvail We are discontinuing 32-bit linux from Postman 7.3.x onwards.

[2019-08-01 06:08] #7025 closed, assigned to nobody

[2019-08-01 06:20] ghisvail commented on #7025
That's an information worth adding to the change log then.

Le jeu. 1 août 2019 à 08:09, Numaan Ashraf <notifications@github.com> a
écrit :

[2019-08-01 06:23] numaanashraf commented on #7025
Completely agree with you @ghisvail. We are adding that now.

[2019-08-01 06:39] ankurdengla commented on #6895
Hey @toreskobba ! Could you send us the logs available in View -> Developer -> View Logs in Finder/Explorer to help@getpostman.com with the subject as "Logs for [Github issue]" from your current app version?

Also, could you try out our latest Canary build [PostmanCanary 7.3.5-canary04](https://www.getpostman.com/downloads/canary) ?  Do let us know if it fixes your issue.

[2019-08-01 06:57] saswatds commented on #6961
Hi @m3dbedb we were able to reproduce this on our end. A fix will be on the way soon.

[2019-08-01 07:19] istef94 opened #7033 "Postman with a file and json object in same request as multipart"
Dear team,

How can i send a multipart postman request containing a file and a json object like this?

Content-Type: multipart/form-data; boundary="----=_Part_2dfwfwerwe"
Content-Transfer-Encoding: binary
Content-Disposition: form-data; name="metadata"
Authorization: Bearer XXXXXXXXXXXXXXXXXXXXX
Transfer-Encoding: chunked

------=_Part_2dfwfwerwe
Content-Type: multipart/form-data
Content-Transfer-

[2019-08-01 07:27] bhargavkaranam opened #7034 "Unable to import API Network Collection"
**Describe the bug**
Trying to import Imgur collection from the API Network throws a 403

**To Reproduce**
Steps to reproduce the behavior:
1. Click on New -> API Network
2. Click on Imgur
3. Click on Run in Postman
4. See error

**Expected behavior**
If the collection is visible publicly, this should never happen. If there's a permission issue, the collection should never show up.

**Screenshots*

[2019-08-01 07:32] saswatds commented on #7033
Hi @istef94 I would suggest you ask this question on our vibrant community forum https://community.getpostman.com

This issues board is primarily of tracking bugs and features requests. Will be closing this issue now. Feel free to reopen this issue if you find a bug with form-data in the app.

Thanks

[2019-08-01 07:32] #7033 closed, assigned to nobody

[2019-08-01 08:01] abhanshgiri21 commented on #7019
@KatyaRomanova14  Can you try viewing the collection on web and see if that works, or does that also error out? Go to your Postman App, hover on any collection, click on the small arrow and then click on `View in web` button. See image for reference.

![image](https://user-images.githubusercontent.com/20536298/62275963-a2a39380-b460-11e9-8cb1-71884bce37b8.png)

[2019-08-01 08:16] evser commented on #7026
So, as you said it is a side effect... I mean that I am with Postman _**since it was created**_, but this color-change makes me disappointed... The worst update since the beginning, sorry.

[2019-08-01 08:33] Montago opened #7035 "Scrolling in Single-Pane view is Horrible"
All you need to do to fix this issue (which has been reported SEVERAL TIMES) is to expand the reponse-view to the same height as the content. That way you would only have ONE scrollbar !!

Alternatively set the height of the "response editor/viewer" to the available height minus all the header stuff ... if <0 then hide ... DONE...

the current Scrollview in Scrollview is HORRIBLE !

Especially bec

[2019-08-01 08:36] vikiCoder commented on #6987
Hi @babu-upcomer we are exploring some ways to improve OAuth2 flow in Postman app, we will consider this for the same. No ETA as of now but will update soon as and when we are ready.

[2019-08-01 08:40] vikiCoder commented on #6965
Hi @beflymontreal

I am not able to understand your issue. Please explain the issue in detail and provide detailed steps as suggested in previous comment by @abhijitkane to reproduce the issue at our end.

[2019-08-01 08:49] vikiCoder commented on #6964
Hi @TimEganGitHub

Please share the collection link as previously suggested by @shamasis so that we can reproduce your issue at our end. If you don't know how to get a shareable link of the collection, please refer to [this link](https://learning.getpostman.com/docs/postman/collections/sharing_collections/#sharing-collections-with-a-link) from Postman Learning Center.

[2019-08-01 08:49] babus commented on #6987
@vikiCoder OK. Isn't this so primary? Simply letting the users to customize the temporary headers(at-least the Authorization) inside the pre-script would solve the problem for now.

[2019-08-01 08:51] PlanetPayDave opened #7036 "Numbers in folder/file names not showing correctly in API results"
**Describe the bug**
I have an API that returns a list of fully qualified file names such as:
\\\\servername\\foldername\\20190715\file.pdf

Prior to version 7.3.5 the folder name with the date in displayed correctly, with version 7.3.5 the folder name is display as below:
\90726\

Clearly this is displaying the escaped extended ASCII character \201 and not the text \2019

Trivial but annoying :-

[2019-08-01 08:53] babus commented on #6987
Because right now, our team is using graphQL against AppSync endpoint. This particular issue is blocking us and leaving the Postman **useless** to our team. I hope that I stressed this enough to convey that this could be the app killer and let the developers to look for alternates. I'll leave the rest to your internal priorities.

[2019-08-01 09:45] #6801 closed, assigned to sujayvenaik

[2019-08-01 09:47] godfrzero opened #7037 "Window goes black while importing large collection"
**Describe the bug**
While importing a large collection (70+ MB) into the app, the window turns black and the app remains unresponsive.

**To Reproduce**
Steps to reproduce the behavior:
1. Navigate to public documentation for a large collection (https://docs.oipa.nl/, for example)
2. Click on the Run in Postman button to import the collection into the installed app
3. The app will open, or gain f

[2019-08-01 09:53] vikiCoder commented on #6936
Hi @sixcorners

I would suggest you to export the file in `CSV` format directly from Google Sheets instead of copy-pasting data from Google Sheets to text file and then replacing spaces with commas. You can download CSV file from Google Sheets by clicking on File->Download as->Comma-separated values(.csv).

However, we are considering the possibility of supporting TSV files by allowing the user to

[2019-08-01 09:53] #6936 closed, assigned to vikiCoder

[2019-08-01 09:58] RaedShari commented on #2096
Kindly, Is there any update on this feature?

[2019-08-01 10:16] Suhas-Gaikwad commented on #7007
I think this issue is created by mistake because I don't see any description of what the issue is.

Closing this issue. If you've found a vulnerability in our service or website please send an email to security@getpostman.com.

Read our [security reporting guidelines and policy](https://www.getpostman.com/vulnerability-reporting) for more details.

[2019-08-01 10:16] #7007 closed

[2019-08-01 10:21] vikiCoder commented on #6870
Hi @andrei-chirinciuc

You are right, we remove the `access_token` parameter from URL while sending the request with OAuth2 (even though `Add authorization data to request headers` is selected). Because many of the OAuth2 protected resource servers use Bearer token (obtained by OAuth2 flow) while accessing resources. And according to [RFC-6750 section-2.3](https://tools.ietf.org/html/rfc6750#secti

[2019-08-01 10:32] numaanashraf commented on #6689
This seems related to #6296 as @arcdev suggested and we'll be using #6296 to track this going forward.

[2019-08-01 10:33] numaanashraf commented on #6689
Duplicate of #6296

[2019-08-01 10:33] #6689 closed, assigned to nobody

[2019-08-01 10:40] kamalaknn commented on #6811
I tried reproducing this setup, and it looks like the app has entered full screen. In the fullscreen mode, the maximize controls are hidden.

I was able to replicate this by entering the fullscreen mode by pressing F11 key on my device. The only option to exit was to press F11 again.

Postman App should probably communicate that it is in the fullscreen mode and display the key combination to exit

[2019-08-01 10:50] DonKonfetti commented on #6811
Thanks, pressing F11 solved the issue for me. Didn't know I was in fullscreen mode - must have happend by accident.

Also, I'd expect any application to exit fullscreen mode upon closing.

[2019-08-01 10:52] toreskobba commented on #6895
Still hangs on Postman v7.3.5-canary04, have sent logs

[2019-08-01 10:55] kamalaknn commented on #6811
@DonKonfetti Thanks for confirming that this works.

However, the Postman App needs to have the necessary state and communication when in the fullscreen mode.

I'm reopening this issue to track this.

[2019-08-01 11:02] kamalaknn commented on #6601
This is a duplicate of #6449

I'm closing this as a duplicate, please follow the parent thread for updates.

[2019-08-01 11:02] #6601 closed, assigned to nobody

[2019-08-01 11:04] harryi3t commented on #7018
@andutta
Thanks for reaching out.
The feature to disable the automatic updates only applies to the `major updates`

We are tracking the issue with OAuth2 flow here https://github.com/postmanlabs/postman-app-support/issues/7032

[2019-08-01 11:04] #7018 closed, assigned to nobody

[2019-08-01 11:16] ankurdengla commented on #7032
Hey @BrianP6 @andutta ! Thanks for bringing this issue to our notice. Could you please try your use-case with this custom canary build which has extra logging so as to enable us to understand the issue better?

Link to custom build - https://drive.google.com/open?id=1-Clx1jDPY_M1oJxsJV3TJ6fhT_4hP-Vn

Please share all the logs available in View->Developer->View Logs in Explorer/Finder/File Manager

[2019-08-01 11:41] MarcelSchober opened #7038 "sorry, please delete this issue"
sorry, please delete this issue

[2019-08-01 11:41] MarcelSchober opened #7039 "v7.3.5 error while launching - Library not loaded: @rpath/Electron Framework.framework/Electron Framework"
Termination Reason:    DYLD, [0x1] Library missing

Application Specific Information:
dyld: launch, loading dependent libraries

Dyld Error Message:
  Library not loaded: @rpath/Electron Framework.framework/Electron Framework
  Referenced from: /Applications/Postman.app/Contents/MacOS/Postman
  Reason: no suitable image found.  Did find:
	/Applications/Postman.app/Contents/MacOS/../Frameworks/Elec

[2019-08-01 11:44] numaanashraf commented on #4476
This seems to be an isolated case and we have shipped multiple fixes to prevent such issues in Postman v7.1.0 and above. Closing this issue for now. Please reopen if you are still facing this in the latest version of Postman.

[2019-08-01 11:44] #4476 closed, assigned to nobody

[2019-08-01 11:45] #7038 closed, assigned to nobody

[2019-08-01 11:47] numaanashraf commented on #4381
We are still having trouble reproducing this at our end. I'm closing this due to inactivity. Please update to the latest version of the app and let us know if you are still facing this issue.

[2019-08-01 11:47] #4381 closed, assigned to numaanashraf

[2019-08-01 12:05] numaanashraf commented on #5189
@gfrancisc0 Could you verify if you are facing the same problem with our Canary apps? - https://www.getpostman.com/downloads/canary

[2019-08-01 12:06] numaanashraf commented on #7039
@MarcelSchober Are you facing similar issue with our canary apps? - https://www.getpostman.com/downloads/canary