[2021-04-02 20:26] COB-SM opened #9792 "Allow for 'dot masking' of sensitive data stored in variables, adding to protections provided by Sessions/Private Workspaces"
This shares some scope with closed request #7108 but introduces additional use cases.

An added layer of security could be provided by allowing for 'dot masking' of variable fields in web/local clients. This would protect against 'screen scraping' of credentials in a limited local compromise scenario (e.g. an attacker can view a user's screen via a compromised remote viewing session or simple 'sho

[2021-04-03 03:33] emilh91 commented on #6643
Issue still exists on version 8.0.8. I tried restarting and the issue still exists.

[2021-04-03 05:30] mikelpr commented on #7350
wow this is really next level terrible UX

[2021-04-03 09:29] samiullah119 commented on #8878
but in my pc the choose button is not active how can  I change it to the active button

[2021-04-03 10:52] AlexanderKaran commented on #6681
Hi Everyone.

I have found a temp workaround using Cloudflare that super easy to set up. Point your domain at Postman using Cloudflare, then use Cloudflare lock down access to IP address for your company office has or staff homes.

Not the best but works for now.

[2021-04-03 10:54] rsoudani commented on #3845
+1

[2021-04-03 13:36] lukasz7251 commented on #5194
+1

[2021-04-03 19:07] edumueller commented on #2361
I've added a call to the discovery endpoint and a Test Script that sets some variables.
You can probably play around and improve it, but here it is:

`
pm.test("Discovery is working and variables were set", function () {
    if (pm.response.code != 200) {
        pm.sendRequest(pm.request, function (err, r) {
            if (r.code == 200) {
                return setCollectionVariables(r)

[2021-04-04 01:35] joeyeng commented on #9706
This is much needed. Thanks

[2021-04-04 03:44] cajuncoding commented on #4079
+1

[2021-04-04 03:46] cajuncoding commented on #7494
+1

[2021-04-04 12:56] vvs11 commented on #9788
@nikki30 We do highlight whitespaces in the query and URL. Let us know if this solves your use-case?
<img width="1056" alt="Screenshot 2021-04-04 at 6 25 49 PM" src="https://user-images.githubusercontent.com/4140290/113509437-30f3e500-9573-11eb-9539-f5630714ec80.png">

[2021-04-04 20:55] kevenwebb opened #9793 "Add Workspace name and/or Collection name to Titlebar text in desktop GUI"
I use Chrometa for automatic time-tracking (on Windows), and it records the name of the executable program and the dialog Titlebar text to summarize time spent using a particular application.

- For Postman, the Titlebar only shows "Postman" where other tools might show "Visual Studio 2019 - c:\projects\projectname\Widget.cs".

I would like to see Postman desktop app update the Titlebar text with

[2021-04-04 23:51] Pricilla09 commented on #9696
Thank you @xk0der :-) I faced the issue today as well!!

![image](https://user-images.githubusercontent.com/71498483/113524811-c333d180-95e3-11eb-8226-149c9ab66108.png)

![image](https://user-images.githubusercontent.com/71498483/113524813-c8911c00-95e3-11eb-9665-714bebf2ea90.png)

![image](https://user-images.githubusercontent.com/71498483/113524815-cb8c0c80-95e3-11eb-85a2-861f31fc3b23.png)

[2021-04-05 00:54] divitngoc commented on #9614
Agreed, this feature added quite a lot of clutter =/

[2021-04-05 02:29] mhmacleod commented on #9786
Hi - Postman desktop was latest at time of issue (~8.1.0), but we also used the website for good measure with the same results.
Issue happened by forking branch B from A, then trying to merge A down to B before trying to merge back the final result to A.
The first step (get latest) hit the above issue so we couldn't proceed any further.

However when I checked both today, the function now appears

[2021-04-05 02:29] #9786 closed, assigned to nobody

[2021-04-05 02:30] Dhua-v commented on #5194
sad but true, it has been 2 years that Grpc has become the game changer. But this product just doesn't cares.
This is why I favor US products, they have a sense of responsibility, when they are owning a  domain. If something not perfect, that stays the part of beta version, sometimes for years, if they think that feature doesn't goes with the product line, but a heavy requirement.

[2021-04-05 08:16] igorkurochka commented on #8195
+1

[2021-04-05 10:15] thomasddn commented on #8985
@DannyDainton I believe #3078 is not the same as this issue. #3078 is about sorting the environments in a specific way, while this issue is about sorting the variables inside an environment.

So I agree with @abhidp that there should be an option to sort the variables alphabetically.

[2021-04-05 11:30] preethammavin opened #9794 "Splashscreen is still light after selecting dark theme"
**Describe the Issue**
Postman screen loads with the default light theme, even when I have selected the dark theme as the default

**Steps to Reproduce**
Select the theme as dark
Close the application
Relaunch
See the light theme when loading and then switch to dark theme

**Environment Information**
Native app - 8.0.7

[2021-04-05 11:36] srishtiagg opened #9795 "New Integration Request - jenkins"
**Describe your current workflow**
How do you use Postman with the rest of the tools in your stack to achieve your use-case?

**Describe your ideal workflow**
How would you want Postman to integrate with specific products/tools to simplify or enhance your experience?

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've conside

[2021-04-05 13:20] jeremysmitherman commented on #9488
I simply don't want to create an account.  This warning should be permanently dismissable

[2021-04-05 13:37] x361545 commented on #9765
I will explain:
You create collection1 and collection2 ( https://apitransform.com/wp-content/uploads/2020/09/postman-collection-168x300.png ) and you create environment1 and environment2 ( https://www.knowband.com/blog/wp-content/uploads/2017/11/screenshot-bpconcjcammlapcogcnnelfmaeghhagj-2017-09-07-10-55-00.png ).

If you select collection1 you need select the environment1 manually and if you sel

[2021-04-05 13:51] shivBoy77 commented on #6055
UPDATE the application it worked for me.

[2021-04-05 14:23] ScottCarr73 opened #9796 "Global Variables are Not Found When Switching Workspaces"
**Describe the Issue**
I have several Global variables that I have created for each Workspace.  If I open a workspace, and try to run one of the Requests, it gives me an error:  getaddrinfo ENOTFOUND {{defaulturl}}.  One thing I will note, is that in error, the defaulturl is called DefaultUrl in Globals.

The request has this:  **{{DefaultUrl}}/topics** in the url, but the error comes up with all

[2021-04-05 18:00] snotmare commented on #9659
+1 from me on #3. I would like to see an option that completely turns off the auto focus in the tree when you switch between tabs.

Thanks!

[2021-04-05 18:52] correaswebert opened #9797 "Issues in rendering font colours in the Visualise tab for dark mode"
**Describe the Issue**

When using dark mode, and checking out the visualise tab, the font colours are not contrasting.

**Steps to Reproduce**

Use dark mode, and check out a collection that supports visualisation. I am referring to the *Student expert* program.

**Screenshots or Videos**

![postman-dark-mode](https://user-images.githubusercontent.com/40336924/113612505-90362000-966d-11eb-915b-5e

[2021-04-05 19:09] DannyDainton commented on #9797
Duplicate of https://github.com/postmanlabs/postman-app-support/issues/9505

[2021-04-05 19:09] #9797 closed, assigned to nobody

[2021-04-05 19:09] roger-king commented on #6556
I am running into this issue still running on `Version 8.1.0-210401-0400` Desktop agent with web UI. I noticed the Workspace directory is different than the default one created when I installed the desktop agent. The desktop agent created `~/Postman Agent/files`. While the web ui settings has it set to `~/Postman/files`. Once I changed the path to `~/Postman` it worked fine.

Although I think ther

[2021-04-05 19:15] DannyDainton commented on #9796
Hey @ScottCarr73

Just to clarify, the title says Environment variables but the issue is describing Global variables - is that correct?

As you have described the different parts of the UI and the variables you can see when switching Workspaces, could you provide some example screenshots of these, please?

It's much easier for us to _see_ what happening with those attached to the issues.

Could yo

[2021-04-05 21:06] ashokbhusal commented on #4731
Request Headers
Content-Type: application/json
Authorization: Basic YWRtaW4yMTpsb3lhbHR5MjE=
User-Agent: PostmanRuntime/7.26.10
Accept: */*
Postman-Token: 26c56d65-c68a-4dee-b0c9-49beb5c64b93
Host: localhost:8080
Accept-Encoding: gzip, deflate, br
Connection: keep-alive
Content-Length: 176
Cookie: JSESSIONID=9EB630BF00169EEF0896D1C589A1EFE6
Request Body
Response Headers
X-Content-Type-Options: nos

[2021-04-05 22:46] nrmartell opened #9798 "Pull Request status not showing 'merged' when the Postman API is used to do the merge"
**Is your feature request related to a problem? Please describe.**
Pull Request status is not showing 'merged' when the Postman API is used to do the merge, status shows as 'Approved'. Users have to manually merge the Pull Request using the UI to change to see 'Merged' Status. This is a bit confusing as our [documentation](https://documenter.getpostman.com/view/631643/JsLs/?version=latest#1001ecc7

[2021-04-05 23:48] CallingTech opened #9799 "New Integration Request - <product name>"
**Describe your current workflow**
How do you use Postman with the rest of the tools in your stack to achieve your use-case?

**Describe your ideal workflow**
How would you want Postman to integrate with specific products/tools to simplify or enhance your experience?

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've conside

[2021-04-06 04:38] abhijitkane commented on #9799
@CallingTech Closing this as non-informative. Feel free to file another issue with details around what integration you'd like to see.

[2021-04-06 04:38] #9799 closed, assigned to abhijitkane

[2021-04-06 06:09] abhijitkane commented on #9795
@srishtiagg Thanks - can you elaborate on the use-cases you'd like the proposed Jenkins integration to solve?

[2021-04-06 09:02] vincelarkin commented on #6001
Not sure if this works for everybody, but in my case I had to go to enviroments and click on the v icon beside my custom set of variables.

![image](https://user-images.githubusercontent.com/16820349/113686382-7cb7a300-96c7-11eb-9d49-321905a29ceb.png)

It was somehow turned off, and clicking it fixed the issue for me.

[2021-04-06 09:18] arun-a-nayagam opened #9800 "Collections search shows too many results"
**Collections search expands API to include all possible response codes**
![image](https://user-images.githubusercontent.com/25394330/113688127-ebddc900-96c0-11eb-8b0e-96cc066e8a95.png)

**It will be nice if the search results are not expanded at the API level**
![image](https://user-images.githubusercontent.com/25394330/113688311-1760b380-96c1-11eb-83a9-a2ba909c9e17.png)

This would make the sear

[2021-04-06 09:23] jinghe0929 commented on #9274
没有解决 可能他们没有看懂我写的问题

[2021-04-06 09:39] arlemi commented on #8878
@samiullah119 You can't change the directory when using Postman in the browser, only when using the native app.

[2021-04-06 10:24] YasuroNN commented on #8195
+1

[2021-04-06 10:26] gianpaj opened #9801 "[mac] Flickering and jumping in the table of Params and Headers when hovering with cursor"
**Describe the Issue**
Various tables flicker when the text goes over multiple lines.

It might be related to the scroll bars. This happens with any "Show scroll bars" setting:

<img width="640" src="https://user-images.githubusercontent.com/899175/113694251-6ad60000-96c7-11eb-9d33-e5860cd3ffb0.png" />

**Steps to Reproduce**
1. Go to Params tab
2. Enter a param VALUE so it's larger than the lengt

[2021-04-06 13:09] myckhel opened #9802 "[Feature Request]: Ability to call js functions in parameter input"
I would like to request the ability to call js functions in parameter input just similar to same way of calling variables.
## Calling variable
[code]

## Calling function
[code]

[2021-04-06 15:01] Spareo commented on #9233
Bump, would love to see this. Its a huge pain navigating a ton of different collections setup by various teams in a single workspace to try and find one specific request that you use on a regular basis.

[2021-04-06 15:29] juliusdanek commented on #9608
+1, I also can't export my environments. Neither in the "data" under settings nor in the environments themselves.

[2021-04-06 15:29] matteliot opened #9803 "Ability to TURN OFF automatic updates- some environments are too controlled for this"
**Is your feature request related to a problem? Please describe.**
No

**Describe the solution you'd like**
Under Settings, "Automatically download major updates" cannot be turned off "Postman automatically downloads..."

For most situations, this is fine, but my client's equipment is quite controlled and instead of this well-intentioned concept leading to me updating, it just turns into a nag scr

[2021-04-06 16:30] Iceyyu123 commented on #6078
if write path variable ':<path variable>' in the reques, the ':<path variable>' is not resolved.

[2021-04-06 17:13] robertdecaire commented on #2934
@giridharvc7 Are you going to explain why it's taken you 3 years to respond to this simple request?

[2021-04-06 17:37] kotpal commented on #9070
Simple GET with a header fails in Postman with HTTP 400 - but the same request succeeds in Curl or PowerShell. I don't find any setting related to 'next gen url processing' and I get the same error whether I turned off 'encode url automatically' or not.

[code]

[2021-04-06 20:28] Ochaun commented on #8612
Google led me here with a slightly different error ```Error: 744677592:error:10000066:SSL routines:OPENSSL_internal:BAD_ALERT:../../third_party/boringssl/src/ssl/tls_record.cc:573:```

I'm on a windows box with a self-signed cert that is in my **Trusted Root Certification Authority** store on my local machine. SSL-verification is off. Version 7.36.5

[2021-04-06 21:07] jviotti commented on #9456
@ahdung Keep in mind that the JSON specification doesn't define trailing commas as valid (see https://www.json.org/json-en.html)

[2021-04-06 21:11] jviotti commented on #9388
Based on the logs, the error seems to be throws when connecting to a server running on localhost. That local service was then killed and therefore was refusing further requests.

I'll close this as it doesn't seem to be a problem with Postman, but rather with the localhost HTTP server you are sending the requests to. Please re-open if not!

[2021-04-06 21:11] #9388 closed, assigned to nobody

[2021-04-07 02:07] ScottCarr73 commented on #9796
Yes, it is Global variables that is having the issue.

Opening Postman, and running a request results in the error.  The Global variables are not resolved as part of the request.

All the Variables are saved, and the values are in the initial value section.

[2021-04-07 05:23] sumit1720 opened #9804 "Not able to open single request in test window by clicking on it"
**Describe the Issue**

Basically just not able to open & run single requests, always need to right click on required request & select 'Open in New tab'.
It was able to before but from last couple of days facing this issue.
**Steps to Reproduce**

Open collection
Click on any single request to run
Will get issue
**Screenshots or Videos**

**Environment Information**

 - Platform Type:
 - Postman V

[2021-04-07 05:49] postman-support commented on #9804
Hi @sumit1720 👋​

Could you try enabling the option "_Always open requests in new tab_" from the **Settings > General** and see if that helps? This helps to open multiple requests in different tabs.

 ![](https://postman.zendesk.com/attachments/token/Oiq4NhVsySl7Li1vdQpYcbtXw/?name=inline-623835874.png)

via @Raj-postman | Postman Support

[2021-04-07 06:02] sumit1720 commented on #9804
Yes, Perfect !! thank you so much for quick help

[2021-04-07 06:03] postman-support commented on #9804
Thank you! :)

Have a nice day.

via @Raj-postman | Postman Support

[2021-04-07 06:10] #9804 closed, assigned to nobody

[2021-04-07 06:10] DannyDainton commented on #9796
Thanks for that, could you also share some images, full app ones are better than zoomed in specific ones. Please mask any sensitive information being posting.

Without seeing the issue in action, it's going to be tricky to see what's happening and replicate it fully.

[2021-04-07 07:35] Ryujn91 commented on #9481
I had the same issue with not being able to connect to the app whilst connected to my company VPN and behind a web proxy (Cisco AnyConnect & Forcepoint). Bypassing SSL decryption resolved my connection issues immediately.

[2021-04-07 08:02] dlavor commented on #8366
True, then it works as expected.

[2021-04-07 08:02] HarryGitHubHarman opened #9805 "XML view is not working"
Calling a webApi in C# which is returning collection. Json output is showing properly.
XML output is showing same as json and it's missing Body section.

[2021-04-07 08:16] ChrisRo89 commented on #8769
Would be pretty cool to have this integration, I'm wondering how big the effort for it is - as the Rest API looks similar on-premise then for the cloud.

[2021-04-07 09:16] andmill commented on #4935
Hi @jotsarup. This is a very long time ago indeed! I actually can't remember my use case from that time, but for any reporting plugin, I want a graph that shows number of pass, fail, skip, etc. Retries, if this logic exists. Then to be able to step into failures and see the failure reason, in this case the actual/expected in the assertion that caused the test to fail, as well as the full detail of

[2021-04-07 10:28] kedigby opened #9806 "Downgrade from team to personal workspace"
**Incorrectly upgraded to team workspace.**
I upgraded to a team workspace to share some requests with a work colleague, however when i noticed the request limits on the "free" team I new it wasn't for me. I removed my colleage from the team and assumed that the team would revert to a personal one.

**Archived Collections**
After ignoring warning about request limits for a while postman archived a

[2021-04-07 10:35] DannyDainton commented on #9805
Hey @HarryGitHubHarman

Please use the template provided in the Issue creation process to explain the problem your facing in more detail. Without that information, there wouldn't be anything we can do for you here.

[code]

[2021-04-07 10:38] DannyDainton commented on #9802
Hey @myckhel

Could you expand on the use case here and explain a little about how this will be used. The more information you can provide, the better we will understand the reasons for the feature request.

[2021-04-07 10:43] nhammond101 commented on #9263
This is similar to my use case, where I have an AWS API Gateway-exported collection and upon importing into Postman creates a new collection.

Some way to update an existing collection would be beneficial, as I'd like to add pre-request scripts to the collection that can't be exported from the API Gateway

[2021-04-07 10:43] DannyDainton commented on #9778
Hey @bean5

Would you be able to provide some visual examples of where you're seeing this, please?

Just want to get a better understanding of the problem.

[2021-04-07 10:52] myckhel commented on #9802
Given the screenshot below
i would like to call a `{{Date()}}` javascript function

that is what i meant by the feature.
we can only call variables
so i suggest calling javascript's functions as well.

![Screenshot 2021-04-07 at 11 43 55](https://user-images.githubusercontent.com/34090541/113854281-9ecc2680-9796-11eb-9711-2d44d9e75992.png)

[2021-04-07 11:10] DOliana commented on #9481
For anybody stumbling on this issue and looking for a workaround until its fixed: the latest pre-8 version can be found here (adapt link to use required plattform as required): https://dl.pstmn.io/download/version/7.36.5/win64

[2021-04-07 11:14] pm-komal-jain commented on #9769
Is there any progress on this issue ?  Recently I have updated my postman app to Version 8.1.0. And my mac OS version is 10.15.7 . On exporting collections (tried both v2.1 and v2 collection version)  absolutely nothing happens. There no collection json file generated. This is a major blocker for us as we cant run newman now.

[2021-04-07 12:28] DannyDainton commented on #9802
Using your example:

Is that `created_at` param a particular format, that you _need_ to use a function here or would using `{{$isoTimestamp}}` work here?

You _could_ also make use of the `moment` module in the `Pre-request Script` and create a date to use in the request.

[code]

[2021-04-07 12:35] myckhel commented on #9802
Yeap. im aware of the `Pre-request Script`
i could use the `Pre-request Script` to assign a function value to a variable and then use it in the parameters fields.

i was actually trying to know if the function call is a feature that can be implemented.

[2021-04-07 12:40] astanciu commented on #6719
@arlemi or anyone else on the team, can you provide any clarity on why this has taken so long and is still open? It's very clear that Postman is behind on this, you have customers switching to competitor products, and the ask is for something that is considered table stakes in every other graphql tool. What's going on here?

Some of us really hate the Insomnia UI and are stubbornly sticking with P

[2021-04-07 12:43] DannyDainton commented on #9802
I can leave it as an open feature request, for the team responsible for that area to take a look at but I'm not sure if it would ever be implemented like the way you're describing in your example.

[2021-04-07 12:46] myckhel commented on #9802
If possible? then something similar.

[2021-04-07 13:00] esbenbach commented on #2934
More importantly: ETA :)

[2021-04-07 13:13] mohitranka commented on #2934
@esbenbach It will be available with the next Postman App release ( 8.3, currently scheduled for 19th April), and before that on Postman web ( web.postman.co).

[2021-04-07 13:17] cjstage commented on #2934
Best news I've heard all week.

[2021-04-07 13:32] ShahAnuj2610 opened #9807 "Is it possible to know the IP address of monitors in Postman?"

[2021-04-07 13:51] postman-support commented on #9807
Hi @ShahAnuj2610,

Static IP address monitoring is available on Postman Business and Enterprise plans for the moment.

You may refer to this resource document to learn more about the same. Hope that helps!

via @Raj-postman | Postman Support

[2021-04-07 13:52] postman-support commented on #9807
Sorry looks like the link didn't come through, reattaching this here: https://learning.postman.com/docs/designing-and-developing-your-api/monitoring-your-api/using-static-IPs-to-monitor/#whitelisting-static-ip-addresses

via @Raj-postman | Postman Support

[2021-04-07 14:21] ShahAnuj2610 commented on #9807
That is fine. I want to know the IP address of monitors which does not have static IP.

[2021-04-07 15:02] vvs11 commented on #9801
@gianpaj Thanks for reporting this. I am able to reproduce this. Will get it fixed soon

[2021-04-07 15:07] numaanashraf commented on #9769
@pm-komal-jain Could you verify whether the file selection dialog is opening in the background? This issue sounds similar to https://github.com/postmanlabs/postman-app-support/issues/8726#issuecomment-651872174

[2021-04-07 15:29] ckang777 opened #9808 "Path Variables are not rendered in Documentation"
**Describe the Issue**
After saving a request with a path variable, documentation section does not render the path variables

**Steps to Reproduce**
1. Create a request
2. Add a path variable
3. Save request
4. Notice that in the documentation section does not have Path Variable listed.

**Screenshots or Videos**
![Screen Shot 2021-04-07 at 8 18 11 AM](https://user-images.githubusercontent.com/782

[2021-04-07 16:04] postman-support commented on #9807
Unfortunately, we don't yet have IP addresses for you to whitelist. Postman Monitors currently runs on Amazon's AWS infrastructure. Therefore the monitoring regions use the same regions as AWS.

A potential solution would be to whitelist the IP ranges provided by AWS here: https://docs.aws.amazon.com/general/latest/gr/aws-ip-ranges.html. However, the IP ranges may change without notice so you will

[2021-04-07 16:33] ckang777 opened #9809 "Request example not displayed in Documentation"
**Describe the Issue**
Request example is not displayed in Documentation in the Postman for Web.

**Steps to Reproduce**
1. Add an example to a request.
2. Add response body.
3. Save the example.
4. View complete collection documentation.
5. Notice the empty body in example section of the document.

**Screenshots or Videos**
![Screen Shot 2021-04-07 at 9 28 42 AM](https://user-images.githubusercon

[2021-04-07 17:15] chrisdbutler opened #9810 "Merge greyed out for forked collection - "Share the source collection to merge changes""
As of Version 8.1.0 the merge button is now greyed out for forked collections with the error "Share the source collection to merge changes".
I had a colleague who was still on 8.0.9 try and they were able to merge in, and I was able to then pull these changes.
The "parent" collection is on a team workspace and is forked into local workspaces.

We've checked out the "Using source control" documenta

[2021-04-07 18:50] mamacdon opened #9811 "Postman uses the wrong OAuth code under certain conditions"
**Describe the Issue**
I'm using Postman to get OAuth tokens from Auth0.com. When I use one of Auth0's social-login options (for example Facebook), Postman gets an error.

**Note:** this bug might sound specific to Auth0, but I think it applies more broadly, whenever:

- You have "nested" OAuth transactions in play: i.e. your authorization server is brokering access to other IDPs, using OAuth.
- S

[2021-04-07 20:49] pjhoberman commented on #1070
+1 and following.

[2021-04-07 21:43] bean5 commented on #9573
@numaanashraf any reason why version 7 is still the default on snap? I don't think it is the default if I download manally.

[2021-04-08 07:06] atwayne opened #9812 "better instruction when user is offline"
**Is your feature request related to a problem? Please describe.**

User is frustrated when

1. User tries to use postman v8 without internet for the first time
2. and for some reason user has no awareness of the Scratch Mode at all

The error messages are not helpful at all. Here are all the messages I can find and none of them is about the scratch mode.

- Unable to load workspaces as you're off

[2021-04-08 07:15] etgauthier commented on #4098
This is so bad that Postman doesn't provide an HTTP base alternative and forces the websocket thing. I have been stuck using the deprecated Chrome app for ages because of this.

[2021-04-08 07:48] DannyDainton commented on #9812
Hey @atwayne

Can you confirm which app version you're using, please?

If you could also provide some screenshots of what you see what the app goes offline that would be really helpful.

There _should_ be a banner with the 'switch to scratchpad' link in it, across the top of the app - we'll need to check up on that if it's not coming through.

[2021-04-08 07:53] bMoser-all commented on #8163
This feature would also be great for us. In addition to the already mentioned we have to need to bulk change the orchestration (test script needs to be changed, etc.). A json-Export of the whole workspace would give us the possibility to do changes within an editor and therefore save a lot of time.

[2021-04-08 08:09] atwayne commented on #9812
I am working with v8.1.0 which I guess it's up to date. And this is a screenshot I took.

![image](https://user-images.githubusercontent.com/5857710/113991020-a10cae80-9884-11eb-905b-b27b6029b64e.png)

[2021-04-08 08:12] atwayne commented on #9812
The screenshot above was taken on the workspace tab and here is one for the Home tab
![image](https://user-images.githubusercontent.com/5857710/113991658-40ca3c80-9885-11eb-9615-a4b864fade7b.png)

[2021-04-08 08:24] DannyDainton commented on #9812
Looks like you have a pending update or it might be shown as failed, given that you're offline. 🤔

Is the banner shown when you fully quit and open the app again?

Just trying to fully establish what's happening here rather than only telling you to "switch it off and on again" 😄

[2021-04-08 08:29] atwayne commented on #9812
The update check failed due to offline. That's fine I guess.

The screenshots were actually taken after I came back online, restarted postman and confirmed that there is no pending update, switch to offline again, restarted postman and then take the screenshots.

[2021-04-08 08:33] DannyDainton commented on #9812
Interesting - I'm on a Mac but that shouldn't impact the banner showing.

You should be seeing this appearing at the top, with a link to where you can switch to the scratchpad.

![image](https://user-images.githubusercontent.com/17089546/113994376-3e4bf080-984d-11eb-8fba-2378b710eada.png)

[2021-04-08 08:43] atwayne commented on #9812
Yeah I am running a Windows version. Let's wait and see if it can be reproduced on someone else's setup.

[2021-04-08 09:50] postman-support commented on #9740
Hello @GAnatoliy,

I hope my previous comment provided more context as to why you were experiencing this behavior.
I also noticed that you managed to find the solution on your end as well.

If any further questions/concerns arise please do not hesitate to reach us back.
via @nasco-a | Postman Support

[2021-04-08 10:00] sansfromage46 commented on #9669
Same problem with https://mwa-formation.kipaware.fr/api/documentation/wadl

[2021-04-08 10:08] Swapnil-getpostman opened #9813 "Setting to have a backup stored locally at periodic intervals."
**Is your feature request related to a problem? Please describe.**
It would be good to have an option in the "Settings->Data" tab to configure taking local backup periodically.

**Describe the solution you'd like**
Good to have an option under Settings->Data "take backup locally" - Every day at 12:00 AM/PM, Every Sunday, etc.

**Additional context**
This feature will be really helpful for users to

[2021-04-08 10:41] zhaocq commented on #9785
I have this question too

[2021-04-08 10:45] miguelblcfigueira commented on #9241
I support the considered alternative: "Add a global check box to uncheck/check all of them."

[2021-04-08 10:59] damiendiels commented on #9616
@VShingala any update for this ?

[2021-04-08 11:03] pixgarden commented on #3893
Same here, it would be great

[2021-04-08 12:42] jibiabraham commented on #1070
We're happy to announce that this feature is now available on the latest build of Postman (v8.2.0). You can try it out by either upgrading to this version, or by logging in to [postman.com/home](https://www.postman.com/home) on your browser.

[2021-04-08 12:43] brianhartung commented on #9713
I'm not sure if this should be a separate suggestion but a related idea: when you click the Use Token button, have it check to see if there is an environment variable reference in the current token field and if so store the token value in that environment variable rather than overwriting the content of the field itself.

[2021-04-08 12:46] #1070 closed, assigned to vkaegis, Raja-Simha

[2021-04-08 16:34] darrylhopkins commented on #1070
Thank you so much! I just re-ordered all the examples in my project and it was so satisfying  :)

[2021-04-08 17:14] bjrnblm commented on #9608
I had lots of trouble finding the "almost hidden" export option so here are the steps for other confused people:

**Go to environments tab and double click the environment you want to export**

![Screenshot 2021-04-08 at 19 09 08](https://user-images.githubusercontent.com/2300511/114068286-0b7e1880-989e-11eb-8612-fbc4be01c49c.png)

**The environment opens in a new tab which has more options than i

[2021-04-08 17:39] RainerGoermann opened #9814 "Provide option to jump to the corresponding title in the chapter navigation of the documentation"
**Is your feature request related to a problem? Please describe.**
Each chapter of an Postman API documentation has an own direct link with a own UUID, like customer-api.postman.com/#1234568-some-id-here-9999
Our API users and our support use these direct links to communicate with each other, like "...you can find this functionality described here #link..." or "...as written #here..."
Our API user

[2021-04-08 17:53] jviotti commented on #8654
@marson77 Do you happen to remember what GPU brand and model were you running on that machine?

[2021-04-08 18:05] homestar9 commented on #9812
@atwayne Windows 10 user here and I have the exact same experience as you.  I like your perfect solution idea and hope Postman implements something like what you suggest.  It doesn't help us if we are trying to test something locally (and don't have internet) and we don't have access to a cached version of our workspace.

_"In a perfect solution, user should be able to access my workspace, may be

[2021-04-08 18:39] DannyDainton commented on #9812
Just to clarify @homestar9 - You have the exact same experience of not seeing the banner, pointing to where you can find the Scratch Pad option when offline?

Are you able to see and use the Scratch Pad for making those local calls while offline?

[2021-04-08 18:57] homestar9 commented on #9812
Correct. Here's a screenshot of what I see:

![image](https://user-images.githubusercontent.com/5341142/114081597-9ab90b00-9861-11eb-9abf-2bb71d12d4ed.png)

[2021-04-08 21:22] TimeTerminal commented on #5052
Any progress on this?

[2021-04-08 21:26] jeffbendel commented on #9566
This is a giant time suck. If I try searching for certain posts, it won't even pull the history. I have to wait for every request to load across months, and then search for the one post I need

[2021-04-08 22:28] mccannt commented on #9554
This should be working as expected as per the note above.
Closing this issue. Please reopen if this is an issue for some still, with as much detail as possible.

[2021-04-08 22:28] #9554 closed, assigned to vvs11

[2021-04-08 22:36] mccannt commented on #9675
Issue has been resolved in v8.0.7 as well as web.
Closing issue.

[2021-04-08 22:36] #9675 closed, assigned to nobody

[2021-04-08 22:38] mccannt commented on #9645
Closing this issue for now. If you are still experiencing this @DivyaMoryani please let us know.

[2021-04-08 22:38] #9645 closed, assigned to ankit-m

[2021-04-09 03:00] KiraElric007 commented on #2086
Hola!! 👋
We have added this feature in the latest release of Postman 😃 ! Now you can pick up from where you left. The tab you were working on before closing the request will be focused the next time you reopen the request.
Upgrade to the [Postman v8.2](https://www.postman.com/downloads/).

[2021-04-09 05:11] twitharshil commented on #8728
After reading about the Zscaler captive-portal web gateways and learning about how the authentication happens using the Zscaler cookies, we have made few changes to our internal application builds, that should support the captive web gateways environments.

**For whom this application build supports**?
This application build should support the users who are behind the web gateways that involve use

[2021-04-09 07:28] chrisdbutler commented on #9810
Ok, I'm not sure if I got my version numbers mixed up or what, but having found an installer for 8.0.7 and reverting to that yesterday, 8.2.1 has installed overnight and the issue does not exist there, so closing this.

[2021-04-09 07:28] #9810 closed, assigned to nobody

[2021-04-09 07:45] nasco-a opened #9815 "Automatically populate authorization headers in the examples"
**Is your feature request related to a problem? Please describe.**
For each example we create, we will have to manually add the authorization headers as they will not be inherited from the request automatically, which could be quite tedious for large collections.

**e.g**: If we have a request set-up to use **inherit auth from parent ** as the authorization method, any examples we add to the reque

[2021-04-09 09:17] QingMings commented on #9274
@jinghe0929   重新打开吧

[2021-04-09 09:25] QingMings commented on #9274
using interceptor capture requests,  the request body contain Chinese characters, display incorrectly

[2021-04-09 10:26] rlgns98kr commented on #9715
Hello! I am steven.
This issue has already been closed, but I'm curious.

Why the postman-sandbox library quit when it meets the first await?
Is there such code?
Is it intended?

[2021-04-09 11:28] artkhm123 opened #9816 "Request is not opening in Tab by double click on it in collection folder"
Request is not opening in Tab by double click on it in collection folder

![image](https://user-images.githubusercontent.com/82214728/114173347-18574680-9948-11eb-893d-89ca0ec5bee1.png)
![image](https://user-images.githubusercontent.com/82214728/114173418-32912480-9948-11eb-8427-c0ce7a0fca6d.png)

[2021-04-09 11:34] DannyDainton commented on #9816
Hey @artkhm123

Could you please include the rest of the details mentioned on the bug report template, please.

[code]

[2021-04-09 11:36] artkhm123 commented on #9816
Solved. Not a bug. Wrong settings.

[2021-04-09 11:36] #9816 closed, assigned to nobody

[2021-04-09 11:38] DannyDainton commented on #9809
Hey @ckang777

A fix for this issue was pushed to the latest version - Are you able to check this has fixed the problem for you?

[2021-04-09 11:47] mojo2012 commented on #9375
The ids are not exported anymore (except for the top level postman id field. But unfortunately the `status` and `code` fields are still there. This seems to me like internal postman "runtime data" and should not be included in the export (as it adds no value and makes it harder to diff the file).

[2021-04-09 12:02] lionuncle commented on #4009
Any ETA? April 2021?

[2021-04-09 12:07] reseto commented on #9787
Updating Postman solved the problem. After update my version is 8.2.1.

[2021-04-09 12:15] psi-gh commented on #2834
Error in 4.6.1
(already tried to re-enable gist with different auth key)
![Screenshot 2021-04-09 at 17 14 35](https://user-images.githubusercontent.com/1121645/114178356-1052d300-9957-11eb-9035-24944ccf35ea.png)

[2021-04-09 13:09] pinalbhatt commented on #8179
+1

[2021-04-09 13:10] jviotti commented on #8721
@chhayakanta Thanks for reporting this! Can you give us some more information about your certificate setup? Are you importing self-signed certificates? How did you generate those?

[2021-04-09 13:14] jviotti commented on #9371
@qa-nowsecure Can you confirm that you experienced this problem when running the app on a M1 Mac using Rosetta? The logs seem to be pointing at that, so I'll link it to [this](https://github.com/postmanlabs/postman-app-support/issues/9346) issue tracking proper M1 support.

[2021-04-09 13:18] james-postman commented on #9280
Hi @wildintu and @anthonyChaussin-d4e,

This appears to be working in the latest version (v8.2.1). Could you update and test it again please?

Thanks!
James

[2021-04-09 13:38] VicKetchup commented on #5606
Is there any progress on this issue? I am currently on Postman 8.2.1 and need to set data from multiple requests before running the tests, however the order of execution is random, meaning sometimes no data is set for the function at the end of then chain.

[2021-04-09 13:39] anthonyChaussin-d4e commented on #9280
Hi @james-postman, it's works perfectly, thanks for the fix !

[2021-04-09 14:12] timbochamp commented on #9750
Hi @F-shaikh and @Wotuu , is this issue still persisting for you on the latest 8.2.1 version out of curiosity?

I can somewhat reproduce this when trying a lot of intensive operations like copying large 5k collections, but I'm able to open the environment edit page once those operations finish.

[2021-04-09 15:45] Wotuu commented on #9750
Hi @timbochamp , I just updated to 8.1 and I still had the issue. Wanted to post here to say it wasn't fixed yet - then saw your message. Upgraded to 8.2.1 and it seems to be working again. Maybe it had something to do with the setting `Always open requests in new tab` which I had enabled before, but I just had to re-enable. I don't know when it got turned off, but either way re-enabling it may ha

[2021-04-09 16:06] damiankostrzewski commented on #4671
It is probably most needed feature... I still hope that they will add it someday..

[2021-04-09 16:53] meliyewa commented on #1066
Please good GOD do this!

[2021-04-09 17:04] itsouvalas commented on #1486
@a85 Using the form to convert to json would make it an amazing feature indeed. Great work whatsoever guys!

[2021-04-09 17:29] daarevalor commented on #3706
+1

[2021-04-09 19:58] chhayakanta commented on #8721
This is a x509 service certificate generated via internal CA.
By the way the same set-up works in 7.25.0, not beyond that.

[2021-04-10 04:03] shalltears opened #9817 "8.2.1 can not sign in (Linux desktop)"
I am a package under Linux. In the latest version 8.2.1, I can't log in. Sign in via web browser is always displayed. Click open your browser. There is no response

[2021-04-10 07:08] pantonis commented on #4253
my collections are messed. I have hundreds of endpoints and they cannot be sorted. I cannot imagine that they designed postman without this important feature. I mean what were they thinking?

[2021-04-10 13:11] LukeXF commented on #3773
Any update on this?

[2021-04-10 13:26] akamarvin commented on #2086
Months and years of this being open and what's proposed is actually not really the appropriate answer.
your thing kind of work, but not on already opened collections after an upgrade.
So, in order to for it to work, I need to save , remove  and re-import my collections ...

and then, on each and every request that I will open for the first time in a collection, i still have to "imprint" my prefere

[2021-04-10 13:35] AndrewTseZhou opened #9818 "I really hate the function of workspace!!!"
I just want to check the local data. Why is all my data uploaded? When I can't connect to your server, I can't use this tool any more!! have you got my consent? This is illegal!

![image](https://user-images.githubusercontent.com/22510709/114271446-f8a54880-9a43-11eb-9b05-3537dde9c3a1.png)

[2021-04-10 20:17] kimbersHolland commented on #8455
I just started using Postman and I ran into this issue testing a custom REST API in Salesforce.  I haven't been able to resolve it.
I was so excited learning to use Postman.  Now I am frustrated that such a vagrant issue has been swept under the carpet.
Time to look for another toolset...  :(

![JSON BUG](https://user-images.githubusercontent.com/73364233/114283545-41dfa300-9a18-11eb-8cad-9be62272

[2021-04-10 23:05] heyaco opened #9819 "App icon consistency on macOS Big Sur - square (iOS-like) icons"
Please update your app icon for macOS. As of Big Sur the system standard has shifted to a more iOS-like UI with square icons.

[2021-04-11 00:16] aminK1 opened #9820 "Option to generate random value with specific length"
I am not able to generate random values with specific lengths.

[2021-04-11 00:18] aminK1 opened #9821 "Add support for ULID id"
There is an option to generates random guid and UUID but there is no option for ulid.
Please add this support

[2021-04-11 07:22] 1azunna commented on #363
This is really needed please. I want to have my collection in a logical order

[2021-04-11 07:27] brechtbc opened #9822 "Feature request: postman.SetNextRequest() feedback"
**Is your feature request related to a problem? Please describe.**
My postman test scripts relay on postman.setNextRequest() in order to create a dynamic flow trough the available collection. Sometimes the request parameter value contains a typo, resulting in the test script not continuing execution. Whenever this happens, I find it hard to debug whats going on. E.g. the postman request is called

[2021-04-11 07:58] galbarm commented on #8213
Seems like you have some regression that causes this error to now occur for every (large enough) request.
Even the delete-create workaround doesn't help now.
You may also want to know that the request takes place even though an error is returned.
As a result and to deal with that, this is how our code currently looks like:

[code]

Please try not to change anything, unless you actually fix it.

[2021-04-11 15:55] ValdoGhafoor commented on #8269
Postman takes more than 30s to open on Macbook pro M1 (empty postman, no requests, not the first open)
When it finally opens, UI takes around 9 secondes to load (white screen)
v8.2

We are seeking for alternatives as this is no longer acceptable for a business

[2021-04-11 18:35] Raja-Simha commented on #9808
@ckang777 This issue has been fixed in the latest version of the App and on the web.

[2021-04-11 18:35] #9808 closed, assigned to Raja-Simha

[2021-04-11 19:01] ckang777 commented on #9809
@DannyDainton Yes, it is fixed now. Thank you!

[2021-04-11 19:06] ckang777 commented on #9808
@Raja-Simha It's working now. Thank you!

[2021-04-11 19:12] DannyDainton commented on #9809
Awesome, great to hear!

Going to close this issue out now. 🏆

[2021-04-11 19:12] #9809 closed, assigned to nobody

[2021-04-11 19:13] Raja-Simha commented on #9764
@ethangrinnell78 This issue has been fixed in a recent version of the App. Let us know if you are still facing this problem.

[2021-04-11 19:13] #9764 closed, assigned to nobody

[2021-04-11 23:51] taehoshino opened #9823 "[FR] - API schema validation: ways to specify the order and the folder structure within a collection"
**Is your feature request related to a problem? Please describe.**
Currently, API schema validation only looks at collection requests and not collection as whole and no knowledge on folder structure of collection. This means the following scenario can happen:
1. Generate collection from schema-1.
2. Generate collection from schema-2, and then copy & paste schema-1 to update the spec to generate th

[2021-04-12 01:16] xk0der commented on #9819
Duplicate of #9560

[2021-04-12 01:16] #9819 closed, assigned to nobody

[2021-04-12 01:32] postman-support commented on #9817
Hey @shalltears,

Thanks for writing in and sorry to hear that you are experiencing some issue on the app.

So that we can precisely understand the issue, would you please share some screenshots of what you are seeing while you reproduce the issue?
**Please make sure to redact any sensitive information from screenshots before posting.**

Thanks for your cooperation on this.
I am looking forward to

[2021-04-12 02:26] hupo376787 commented on #6333
Hi, team. Any updates?

[2021-04-12 03:34] codenirvana commented on #9628
@andreaneri Can you share a scaled-down collection (or public API/local server) that we can use to reproduce this issue?

[2021-04-12 03:51] jonagh opened #9824 "Unexpected behaviour due to automatic path variable, resulting in removal of path segment."
Although not strictly a 'bug' it is an unexpected behaviour (at least for me) which cost me some time before I realized what was going on. The issue being:

If a URL is entered containing a path segment beginning with a colon, then Postman recognizes it as a "path variable" and creates a corresponding entry in the "path variables" with a blank value. This was an issue for me because the path segme

[2021-04-12 04:25] Raj-postman commented on #9505
Another report of this issue:

![image](https://user-images.githubusercontent.com/47771757/114340414-23db8500-9b75-11eb-8289-02baa12015b5.png)

[2021-04-12 04:33] postman-support commented on #9807
Hi @ShahAnuj2610,

I'll be closing this on our end as we haven't heard back. Hopefully, the information shared was helpful. If you still require assistance, please reach out to us by submitting a ticket here: https://www.postman.com/support

Have a great day!

via @Raj-postman | Postman Support

[2021-04-12 07:23] dan-lind commented on #9763
I believe this issue is closely related to https://github.com/postmanlabs/postman-app-support/issues/9470

[2021-04-12 08:14] BalanceHan opened #9825 "can not open postman"
**Describe the Issue**

**Steps to Reproduce**

**Screenshots or Videos**

**Environment Information**

 - Platform Type: Window
 - Postman Version:8.2.1
 - Operating System:19042.867

**Additional Context**

![image](https://user-images.githubusercontent.com/20102785/114362440-e9d8a600-9ba9-11eb-9d42-8564ec5ac194.png)

[2021-04-12 08:18] philip-firstorder commented on #9605
Same here, I am using a Team Workspace
<img width="347" alt="Screenshot 2021-04-12 at 10 17 23" src="https://user-images.githubusercontent.com/30979663/114363079-58047500-9b78-11eb-9ad1-d53139f1b003.png">

[2021-04-12 08:18] philip-firstorder commented on #9605
Same here, I am using a Team Workspace
<img width="347" alt="Screenshot 2021-04-12 at 10 17 23" src="https://user-images.githubusercontent.com/30979663/114363079-58047500-9b78-11eb-9ad1-d53139f1b003.png">

[2021-04-12 08:25] dan-lind commented on #9470
Looks like works if you press "Save" after doing "Get new access token" -> "Use token" (found this workaround in above mentioned issue)

[2021-04-12 08:25] BalanceHan commented on #9825
#9690

[2021-04-12 09:04] arlemi commented on #2086
@akamarvin There are a few things in your post:

You don't need to save, remove, or re-import. Clicking any tab will save it as the "last opened" one and the next time you open the request it will default to it.

![lastopenrequest](https://user-images.githubusercontent.com/5029719/114368225-1aeab380-9b75-11eb-90cb-080c6450225f.gif)

Having a default behaviour is the reason why this issue existed i

[2021-04-12 09:04] #2086 closed, assigned to mohitranka, vkaegis

[2021-04-12 10:28] james-postman commented on #9280
No problem @anthonyChaussin-d4e 😄

[2021-04-12 11:03] luchmewep commented on #9813
This can fix the issue of unusable cached workspaces.

[2021-04-12 11:48] #9280 closed, assigned to james-postman

[2021-04-12 13:26] m3dbedb opened #9826 "Option to stop runner when an error appears"
Sometimes it is comfortable to make exucution continue when error happens, but for some reason it would be useful to be able to stop runer just in time of error.

**Describe the solution you'd like**
An option in runner dialog to stop if error happens.

[2021-04-12 15:43] mccannt commented on #8633
No updates from users on this currently. Closing for the time being, please feel free to reopen if this is still happening in the most recent version of the application.

[2021-04-12 15:43] #8633 closed, assigned to nobody

[2021-04-12 15:45] mccannt commented on #9778
@bean5 Any updates here as per @DannyDainton's ask?

[2021-04-12 16:09] AradAral commented on #6719
It's tiresome to ask for this feature at this point.
This is a fairly easy-to-implement feature, this issue has numerous votes, 50 comments, and many people are opting out of Postman due to the lack of this very feature.
Still nothing...

[2021-04-12 16:41] codenirvana commented on #8868
@Aileron79 Keep-Alive is supported in the native app as well.

Tried reproducing this issue locally:
![Screenshot 2021-04-12 at 9 49 48 PM](https://user-images.githubusercontent.com/4865836/114428261-954d1f00-9bd9-11eb-9bb4-48a827d85f19.png)

Please feel free to reopen if the issue persists or you can help us with the steps to reproduce this issue.

[2021-04-12 16:41] #8868 closed, assigned to codenirvana

[2021-04-12 17:17] DannyDainton commented on #9181
Hey @alexibz

Sorry I totally missing this message 😢

Were you able to try this out to see if this was working, after you updated the Collection via the API?

[2021-04-12 17:38] sedacire opened #9827 "Saving all request body formats entered"
**Is your feature request related to a problem? Please describe.**
For all of our numerous queries/mutations, we have "raw" and "GraphQL" formats. This is to test raw on Lambdas and GraphQL to test directly to the GraphQL end point. We cannot save multiple request body formats on the same request. When saving a request, the only format that is saved is the one you are focused on.

**Describe the s

[2021-04-12 19:30] ablomberg commented on #968
In trying to just find a way, any way to KEEP my variable, but clear the value in a reproducible way (setting to "" only works some of the time), I've tried .unset. As of this morning, .unset deletes the whole key:value pair from the environment variables list. So try that. Any variables you point at of that name will error unless you first set it again, though, since it won't exist anymore.

If y

[2021-04-12 20:30] stewartie4 commented on #2701
I invested a lot of time and effort into building out documentation and example collections in postman only to realise it doesn't support something as standard as HTTP 2.
Fuming!

[2021-04-12 21:08] mantey-github opened #9828 "Error "Something Went Wrong" - When trying to switch to Scratch Pad"
**Describe the Issue**
While using postman and trying to switch to Scratch Pad, it seems that the error Something Went Wrong prevents me from using the **Scratch Pad** feature

**Steps to Reproduce**
1. Open postman desktop application (Version 8.2.1 (8.2.1))
2. Try switching to **Scratch Pad**
3. Notice the error **Something Went Wrong**

**Screenshots or Videos**

- Video
https://www.loom.com/sh

[2021-04-12 21:17] omgkotofey commented on #6926
+!

[2021-04-12 22:35] mccannt commented on #8455
@kimbersHolland Can you open up the Postman console and ensure the data is being sent in and received.
In many cases, we have seen the issue is at the end of the service being called.

[2021-04-12 23:45] mccannt commented on #9513
Closing out this issue as its a duplicate of [9566](https://github.com/postmanlabs/postman-app-support/issues/9566)

[2021-04-12 23:45] #9513 closed, assigned to vvs11

[2021-04-12 23:58] mccannt commented on #9305
@sergeevichvn This should now be resolved.

Can you please try the latest version of the application and let us know?

[2021-04-13 00:08] mccannt commented on #9464
This should now be fixed in recent versions of the application.
Closing out this issue, if you are still experiencing issues please reach out.

[2021-04-13 00:08] #9464 closed, assigned to nobody

[2021-04-13 02:40] ghost opened #9829 "Upgrade from 7.x to 8.x causes random corruption in enviroment."
**Describe the Issue**
I upgraded from 7.x to 8.1. After upgrade, my Postman environment stopped working. I attempted to upgrade a couple of times, and it broke both times, but differently. It seems that it actually broke my workspace, as when I re-installed 7.x it no longer worked.
The first time it broke, I was unable to figure out exactly what had broken, however, I am using a bearer token, and

[2021-04-13 04:06] remcolam commented on #9513
Tss, this is not a duplicate, the other one is a duplicate, this one was earlier ;)

[2021-04-13 04:18] supunt commented on #6926
Well, we waited, got bored and wrote an entire testing framework using python unit-test with endpoint discovery and simple test auto generation as well.

[2021-04-13 04:50] #9807 closed, assigned to nobody

[2021-04-13 05:45] haayman-imagem commented on #6323
This just happened to me too. Great

[2021-04-13 07:21] Dentrax commented on #8843
Hey @DannyDainton, sorry for pinging. It seems this bug still happens in the latest version of Postman. Any updates?

[2021-04-13 07:50] Guha5277 commented on #2973
This library was dead? Solution never comes?

[2021-04-13 08:03] Swapnil-getpostman opened #9830 "Feature to generate collection from API schema which has size greater than 10MB"
**Is your feature request related to a problem? Please describe.**
As of now, API schema's "define" tab allows to "generate collection" from API schema which has a size below 10 MB only.
We cannot "generate collection" from API schema which has a size of more than 10 MB.

<img width="357" alt="Screenshot 2021-04-13 at 12 50 46 PM" src="https://user-images.githubusercontent.com/52168965/114517429-f

[2021-04-13 08:12] HenningBertsch commented on #4753
Hey guys,

I too find this **VERY** important, since our tests require unique client certificates for each client we test. The client certificate is then used against a variety of different host names per stage (total number = stages x hostnames). So we have to type our handy bloody by manually adding client certificates that could be extracted from the payload for like 20 Host names... This is ki

[2021-04-13 08:19] DannyDainton commented on #9181
I've just tried this out on my side and the Public Link remains the same.

I'm going to close this for now but we can look to open it again if you're seeing something different happening.

[2021-04-13 08:19] #9181 closed, assigned to nobody

[2021-04-13 09:00] nasco-a opened #9831 "Specify 'query depth level' when using Postman API to generate a collection with GraphQL queries"
**Is your feature request related to a problem? Please describe.**
We can use Postman's API to generate a collection from API schema, however when generating a collection that has GraphQL queries we are unable to specify the **query depth level** of the generated collection, and we are able to do it using the UI
![image](https://user-images.githubusercontent.com/77739708/114526267-8012d780-9c4f-11

[2021-04-13 09:10] sergeevichvn commented on #9305
@mccannt  works, thx
without pop-up, good solution )

[2021-04-13 09:24] Atr07 commented on #9828
Im also facing the same issue in windows version.

Screenshot:

![postman_crash_something_wrong](https://user-images.githubusercontent.com/48724706/114529876-0affcc00-9c68-11eb-9d00-3bdb37f3877e.jpg)

[2021-04-13 10:30] #9305 closed, assigned to nobody

[2021-04-13 10:32] Raj-postman commented on #9828
Hi @mantey-github @Atr07

Our team has just released a fix for this issue, could you please update the application to v.8.2.2 and let us know if that helps?

![image](https://user-images.githubusercontent.com/47771757/114538931-8e71eb00-9c71-11eb-938a-3329f9102685.png)

[2021-04-13 11:05] DannyDainton commented on #8843
Hey @Dentrax

There haven't been any recent product updates that would have fixed this issue - I don't currently have any updates for this issue.

[2021-04-13 11:11] Atr07 commented on #9828
@Raj-postman

Installed new version but still the same.

[2021-04-13 11:25] Raj-postman commented on #9828
@Atr07 Sorry to hear that, could you please share the app logs by submitting a ticket here: https://www.postman.com/support   with the title as "GH #9828"

The following help guide provides information on retrieving app logs based on your OS:

https://support.postman.com/hc/en-us/articles/360033270134-Where-can-I-find-logs-for-the-Postman-app-

[2021-04-13 12:43] numaanashraf commented on #9793
Duplicate of #6291

[2021-04-13 12:43] #9793 closed, assigned to nobody

[2021-04-13 13:13] timbochamp commented on #9750
Great, I'll close this out but please feel free to reopen if the issue is persisting in the future!

[2021-04-13 13:22] VaranauskasD commented on #6029
Same issue macOS Catalina 10.15.7 Postman 8.2.2. Should this be shrugged off as 'macOS' issue? Can't find a simple fix, thus can't use the product.

[2021-04-13 13:42] nbon12 opened #9832 "Postman unexpectedly un-maximizes when getting a new Auth token."
**Describe the Issue**

The postman screen goes from Maximized to not-maximized after getting a new access token.

**Steps to Reproduce**

Maximize the screen for Postman
![image](https://user-images.githubusercontent.com/17408265/114559696-002e4280-9c3a-11eb-9428-978feb2d11df.png)

Click "Edit" on a collection:
![edit collection](https://user-images.githubusercontent.com/17408265/114559841-2358f2

[2021-04-13 13:44] quintela commented on #1066
+1

[2021-04-13 14:10] kimbersHolland commented on #8455
Hi Trent M,
Thank you for the interest.
You are right, I see in the Console that the Request Body is filled. So
something is amiss in the hand-off...

What's odd is that all tests using the "Salesforce workbench REST Explorer"
are successful.
The JSON body is exactly the same in both tools.

[image: image.png]

[image: image.png]

On Mon, Apr 12, 2021 at 6:35 PM Trent M ***@***.***> wrote:

--
 <h

[2021-04-13 14:14] jperucello opened #9833 "Integrate a lighter datetime formatter with i18n support"
**Is your feature request related to a problem? Please describe.**
Moment.js is now deprecated, cannot handle timezone when running on Monitors / Newman and it's heavy.

**Describe the solution you'd like**
I'd like to have a non-deprecated and lighter library to manipulate date+timestamp AND timezone on Postman

**Describe alternatives you've considered**
- Intl support
- + Any of the following:

[2021-04-13 15:05] jgalvacky-bt commented on #2906
On the latest Postman version (**v8.2.2**) the **Collection Variables** are generating new ID's every time with each export of the collection. Similar problem to what was resolved with this current issue. This type of bug keeps sneaking back in.
- import collection (that contains collection level variables)
- export collection
- the exported collection variables all have **new ID's assigned to the

[2021-04-13 15:07] StaciMize opened #9834 "Unable to Import Swagger API Documentation in version 8.2.2"
**Describe the Issue**

**Steps to Reproduce**

**Screenshots or Videos**

https://vimeo.com/536382224/79f74674d4

**Environment Information**

 - Platform Type: win32 10.0.17763 / x64
 - Postman Version: Version 8.2.2
 - Operating System: Windows 10

[2021-04-13 15:07] DaniSchenk commented on #9796
We're experiencing the exact same bug.

Sometimes, when switching Workspaces (both define globals), globals are not applied in requests and stay unresolved. In the UI they are shown correctly, but in the "Console" log of the executed request we find unresolved global variable names (e.g. in Request Headers: `custom-header-name: "{{global-header-value}}"` )

We found a workaround: clicking "Reset A

[2021-04-13 15:09] kepikoi commented on #9796
Experiencing the same issue. Global variables vanish when working with multiple PM environments. Working around this issue via the "Reset all" button in the Globals tab. This revives the variables in the current env.
@DannyDainton here's a quick screencap demonstrating the issue with two environments I just created on a whim
![pm](https://user-images.githubusercontent.com/12378498/114575852-e19c6b

[2021-04-13 15:28] samvpillay-landmark opened #9835 "Prevent syncing of confidential information"
**Is your feature request related to a problem? Please describe.**
Hopefully I have the below details correct, as this is my first time requesting a feature:

I have found the features available in the Postman desktop app for Windows have been usefully enhanced from creating an account and signing in.
However, some of the data I am using contains confidential security information that would be aga

[2021-04-13 15:38] Tuvalnik12 commented on #5253
Please fix this issue.
A very bad user experience for developers that go into our docs and need to left click on each link.

[2021-04-13 16:30] vishalsingh-sains commented on #5014
Facing this issue on V6.7, I've updated example response for a mock api but keep getting the first response. Tried everything there is not even any admin option on workspace to work this put manually..poor

[2021-04-13 17:39] vvs11 commented on #5014
@vishalsingh-sains If the request in your examples is the same, then mock server picks up one of the examples and returns it. If you want a specific response code, you can use 'x-mock-response-code' header in the mock request. More documentation here:
https://learning.postman.com/docs/designing-and-developing-your-api/mocking-data/mocking-with-examples/#step-5-sending-a-request-using-the-mock-serv

[2021-04-13 19:49] giridharvc7 commented on #5495
Please let us know if you face the problems with the latest update of postman, v8.1

[2021-04-13 19:52] giridharvc7 commented on #3493
This is now fixed in app v8.0, let know what you think @elias-putz-kiwigrid @deanblackborough @abhidp @a1dutch @tparikka

[2021-04-13 19:52] #3493 closed, assigned to a85

[2021-04-13 19:59] giridharvc7 commented on #7537
Can you check if the recent changes to Auth fixes your problem? Please check out app version 8.1.
Closing this issue, will open it back again if your problem persists.

[2021-04-13 19:59] #7537 closed, assigned to codenirvana, vikiCoder

[2021-04-13 20:00] #5520 closed, assigned to nobody

[2021-04-13 20:03] giridharvc7 commented on #8629
This is now fixed in v8 , we'd love to know what you think about this update
<img width="857" alt="Screenshot 2021-04-14 at 1 32 39 AM" src="https://user-images.githubusercontent.com/1040583/114613725-55f9fd80-9cc1-11eb-9fca-bbbd64f51290.png">

[2021-04-13 20:03] #8629 closed, assigned to vkaegis

[2021-04-13 20:04] giridharvc7 commented on #8486
This is fixed in app v8, please check and let us know this works for you @jeffrimko
<img width="857" alt="Screenshot 2021-04-14 at 1 32 39 AM" src="https://user-images.githubusercontent.com/1040583/114613889-82ae1500-9cc1-11eb-81ac-24c57d1b09a0.png">

[2021-04-13 20:04] #8486 closed, assigned to vvs11, vkaegis

[2021-04-13 20:04] #5495 closed, assigned to vkaegis

[2021-04-13 20:11] giridharvc7 commented on #4568
You can now drag drop a subfolder into the collection runner, let us know if this solves your problem

[2021-04-13 20:11] #4568 closed, assigned to vkaegis, saswatds

[2021-04-13 20:15] ScottCarr73 commented on #9796
@kepikoi @DaniSchenk Thanks.  Your workaround is a lot easier than mine.  ;-)  Thanks @kepikoi for the videos, I didn't have time to create them.  My team is still experiencing this error.

I have noticed that it shows up more, when you switch between multiple workspaces.

[2021-04-13 20:17] #5908 closed, assigned to nobody

[2021-04-13 20:25] #6052 closed, assigned to nobody

[2021-04-13 21:25] labossieresr commented on #8486
Yes  @jeffrimko <https://github.com/jeffrimko>. I confirmed you not only
now display the path to the request (collection, folders and request), when
the tab is clicked on, you actually open the collection and folder(s) and
place me right on the request. Nicely done and thank you!

On Tue, Apr 13, 2021 at 4:04 PM Giridhar ***@***.***> wrote:

[2021-04-13 21:29] labossieresr commented on #8629
Yes the functionality has been added. I confirmed you not only now display the path to the request (collection, folder(s) and request), when the tab is clicked on, you actually open the collection and folder(s) and place me right on the request. Nicely done and thank you!

[2021-04-13 22:12] SairaBeg commented on #2559
I had this same issue, and shutting down, and starting up my computer fixed this

[2021-04-13 22:32] brotsky opened #9836 "Global Variables Stopped Working within Bearer Token"
**Describe the Issue**
Globals vars stopped working in the Bearer Token input. This works in the Newman CLI and it worked until I updated Postman today.

**Steps to Reproduce**
Set a global variable
Use the Variable in the token input

**Screenshots or Videos**

This is where I set the variable:
![Screen Shot 2021-04-13 at 3 27 05 PM](https://user-images.githubusercontent.com/2758150/114629022-b57

[2021-04-13 22:35] DannyDainton commented on #9836
Hey @brotsky

Out of interest, when you hit `Reset all` in the global variable management section, does it work?

[2021-04-13 22:39] brotsky commented on #9836
That worked! Thanks @DannyDainton

[2021-04-13 22:39] #9836 closed, assigned to nobody

[2021-04-13 23:33] postman-support commented on #9834
Currently working on your ticket and escalating to engineering.
Will merge the ticket into the current ticket you have.
via @stcalica | Postman Support

[2021-04-13 23:35] postman-support commented on #9825
Hi Support,

Thanks for writing in. Sorry to hear you’re seeing issues with your Postman install - happy to help!

If possible, would you please share your app's logs to help us debug the issue? They can be found at this location on Windows - `%appdata%\Postman\logs`

_If you need additional help finding Postman's logs, please see this article._

**Then, renaming (or** _clearing_**) the local file

[2021-04-13 23:36] harshvchawla opened #9837 "Bug: I just updated to latest v8.2.2 version and all my examples from all the collections disappeared"
**Describe the Issue**
I just updated to latest v8.2.2 version and all my examples from all the collections disappeared

**Steps to Reproduce**
1. Save some examples in different collections
2. upgrade postman to v8.2.2

**Screenshots or Videos**
NA

**Environment Information**
 - Platform Type: Windows app
 - Postman Version: new version v8.2.2
 - Operating System: Windows

**Additional Context**

[2021-04-13 23:41] harshvchawla commented on #9837
Exporting and re-importing the collection restores the examples
but restarting postman do not fix the issue

[2021-04-14 00:46] stewartie4 commented on #4818
I managed to do this on the docs - I had multiple sets of environments in the dropdown but i can't figure out *how* i did it!

[2021-04-14 02:05] postman-support commented on #9837
Hey @harshvchawla,

Thanks for reaching out and we are really sorry for the troubles.

As I understand it, you have lost all the examples **in Scratch Pad** after updating to v8.2.2, however, you could restore them by exporting and importing the collections, is that correct?

This is definitely an unexpected behaviour, but I am glad to hear that you could at least restore your data.
I am going to

[2021-04-14 03:00] codenirvana commented on #9785
@VEArea @zhaocq Can you share steps that we can use to reproduce this issue?

[2021-04-14 03:16] shalltears commented on #9817
![image](https://user-images.githubusercontent.com/37053882/114649017-5373c400-9d12-11eb-9651-9a0905a20997.png)
![image](https://user-images.githubusercontent.com/37053882/114649195-9f266d80-9d12-11eb-983f-34cdf8ba0b63.png)

It's this interface. You can't start the browser by waiting or clicking, nor can you switch to the default browser, but you can jump to version 7 and upgrade to 8.2.1

[2021-04-14 04:58] postman-support commented on #9817
Hey @shalltears,

Thanks for the screenshots. Again sorry for the troubles.

Can you try the following and see if that works?
1. Open go.postman.co on web browser
2. Sign into your account
3. Launch the desktop app

If the issue is still persisting, would you please create a support request from the below link and send over the application logs so that we can look into this further?
https://suppor

[2021-04-14 05:09] pranav-davar opened #9838 "Unable to validate Mock Server after changing the spec"
After adding one schema element to the spec definition, I am unable to validate Mock Server. PFB.

![postman](https://user-images.githubusercontent.com/30888879/114657371-8e272d80-9d0d-11eb-9cdd-e74c0dddf496.gif)

After I click on Click to validate it changes to → validating → Issues found → Click to validate

Due to this, I am unable to update the Mock server with new API spec changes.

Postman V

[2021-04-14 05:57] giridharvc7 commented on #8613
Have you tried using collection variables?

[2021-04-14 06:23] giridharvc7 commented on #6787
Runner now has a new UI in v8.0 and it should solve this issue, please let us know what you think about it.

[2021-04-14 06:23] #6787 closed, assigned to vkaegis

[2021-04-14 06:30] giridharvc7 commented on #7550
This is now fixed in v8.1

[2021-04-14 06:30] #7550 closed, assigned to vkaegis

[2021-04-14 06:32] giridharvc7 commented on #7899
This is now fixed in v8.0 . Please check and let us know what you think!

[2021-04-14 06:32] #7899 closed, assigned to vvs11

[2021-04-14 06:47] giridharvc7 commented on #8804
We have a collection level Pre-request script, please let us know if this works for you.
Here is more documentation on this - https://learning.postman.com/docs/writing-scripts/intro-to-scripts/
![Screenshot 2021-04-14 at 12 16 42 PM](https://user-images.githubusercontent.com/1040583/114665958-4909f800-9d1b-11eb-9313-57a0663d648a.png)

[2021-04-14 06:47] #8804 closed, assigned to malvikach

[2021-04-14 06:51] giridharvc7 commented on #8857
You can set your own header prefix in v8 and the web, please let us know if this fixes your issue
![Uploading Screenshot 2021-04-14 at 12.21.10 PM.png…]()

[2021-04-14 06:51] #8857 closed, assigned to nobody

[2021-04-14 07:14] giridharvc7 commented on #9047
Environments open as a seperate window and a Tab in Postman v8 both on the app and web. Please let us know what you think!

[2021-04-14 07:14] #9047 closed, assigned to nobody

[2021-04-14 07:24] giridharvc7 commented on #9386
This is now available in app v8 and web version of Postman
![Screenshot 2021-04-14 at 12 53 50 PM](https://user-images.githubusercontent.com/1040583/114670307-7b6a2400-9d20-11eb-99d0-f8968c813df6.png)

[2021-04-14 07:24] #9386 closed, assigned to nobody

[2021-04-14 07:59] giridharvc7 commented on #3725
Environments are now available as a new tab/window in Postman version 8, both on the app and the web. Please let us know if you still face these problems. Closing this issue for now

[2021-04-14 07:59] #3725 closed, assigned to vkaegis

[2021-04-14 08:00] giridharvc7 commented on #7821
Environments are now a full size window and can be opened as a tab in postman version 8. Would love to know if these changes solve your problem @delroyh @AlthalusDGr8

[2021-04-14 08:00] #7821 closed, assigned to vvs11, vkaegis

[2021-04-14 08:06] giridharvc7 commented on #7909
Environment is now available as a separate tab, this should be fixing your problem
Apart from this, you can now select a part of your request and `Set as Variable` , this helps you create new Environment and global variables without switching context.
Let us know what you think of these changes!
<img width="1061" alt="Screenshot 2021-04-14 at 1 33 15 PM" src="https://user-images.githubusercontent.

[2021-04-14 08:06] #7909 closed, assigned to vvs11, vkaegis

[2021-04-14 08:11] giridharvc7 commented on #8202
Also a duplicate of #1256. Closing this to track it in a single place

[2021-04-14 08:11] #8202 closed, assigned to vvs11

[2021-04-14 08:11] giridharvc7 commented on #6622
Duplicate of #1256.
Closing this to track it in a single place

[2021-04-14 08:11] #6622 closed, assigned to vkaegis

[2021-04-14 08:12] giridharvc7 commented on #1256
Duplicate issues #8202 and #6622

[2021-04-14 08:15] giridharvc7 commented on #5966
Environments are now available in a separate window, and you can reset the values in a click. Let us know if this solves your problem @djlazz3
<img width="1057" alt="Screenshot 2021-04-14 at 1 44 34 PM" src="https://user-images.githubusercontent.com/1040583/114677059-8d9b9080-9d27-11eb-9324-5388b7eed3d9.png">

[2021-04-14 08:15] #5966 closed, assigned to nobody

[2021-04-14 08:19] giridharvc7 commented on #8443
Tracking this a duplicate to #5342

[2021-04-14 08:19] #8443 closed, assigned to vvs11

[2021-04-14 08:19] giridharvc7 commented on #8530
Tracking this a duplicate to #5342

[2021-04-14 08:19] #8530 closed, assigned to vvs11, vedkribhu

[2021-04-14 08:21] giridharvc7 commented on #9062
Environments is now available as a separate window and a tab.
Tracking this as a duplicate to #5342.

[2021-04-14 08:21] #9062 closed, assigned to nobody

[2021-04-14 08:21] giridharvc7 commented on #5342
Other duplicate issues - #8443, #8530, #9062

[2021-04-14 08:27] giridharvc7 commented on #4690
We are not implementing this for now, we will be taking this later in the future.
Please use the Keyboard shortcut - Cmd + Shift + K or the clear button in the console for now.

[2021-04-14 08:31] giridharvc7 commented on #5148
@kyler-hyuna Thanks for writing in. I don't think this feature will fit well with the roadmap that we are going with so i'm closing this issue for now. If you find this blocking your workflows, i'd love to know more, and we can open this issue for deeper introspection.

[2021-04-14 08:31] #5148 closed, assigned to vkaegis

[2021-04-14 08:37] giridharvc7 commented on #8131
Can you explain this a bit more @thorsten-stripe ?
If my understanding is correct:
- You can create a request and connect to Stripe using OAuth Authorization
-  Create another request that fetches the stripe keys and use `Tests` Scripts and add these keys to your environments.

[2021-04-14 08:45] isen-ng commented on #2691
My gut tells me you are right. However, it's exactly this kind of "make things difficult for you if you don't pay" strategy that makes me adamant about not paying for a service.

[2021-04-14 08:46] a1dutch commented on #3493
@giridharvc7, The modal quickview is still not resizable, only when you click `edit` and it opens in a tab is the whole window resizable.

[2021-04-14 08:55] arlemi commented on #2906
@jgalvacky-bt Thank you for reporting, we're looking into it!

[2021-04-14 08:59] vishalsingh-sains commented on #5014
@vvs11  My problem is not the response code actually but a different response/payload in body with 200 OK. The guide suggests we can update the response in an example after running mock server and then the same request should return the updated response but it doesn't happen. I keep receiving the same old, like it has been cached. But there is no way to fix it. Thanks

[2021-04-14 09:07] a1dutch opened #9839 "View Collection Variables from Environment Quick Look"
**Is your feature request related to a problem? Please describe.**
Postman variables are scattered over different places, there is no unified place to view all variables.

**Describe the solution you'd like**
The environment quick look should add a new section that displays the collection variables for the currently selected requests collection.

[2021-04-14 09:44] jagruuti commented on #4105
I have defined a variable as a global variable and trying to use it in another request. I'm getting the same error as below:
![image](https://user-images.githubusercontent.com/45683782/114690028-f2f57e80-9d33-11eb-8cf6-d8a3f2e74c15.png)
Version used v8.1.0

[2021-04-14 09:48] #9792 closed, assigned to nobody

[2021-04-14 09:53] giridharvc7 commented on #1464
This duplicates #492. We will track this in a single place and close this request.

[2021-04-14 09:53] #1464 closed, assigned to vikiCoder

[2021-04-14 09:59] giridharvc7 commented on #1507
We will not be adding a feature that automatically copies access token, refresh token etc to environment as this is a bad security practise. Instead, please look into #9056, we believe this can solve your problem.

[2021-04-14 09:59] #1507 closed, assigned to a85

[2021-04-14 10:01] giridharvc7 commented on #6833
This feature is now built into our OAuth2 Authorization, please let us know if this solves your problem.
<img width="547" alt="Screenshot 2021-04-14 at 3 31 14 PM" src="https://user-images.githubusercontent.com/1040583/114692686-7617d400-9d36-11eb-8e02-2b58d475bff0.png">

[2021-04-14 10:01] #6833 closed, assigned to vkaegis

[2021-04-14 10:04] giridharvc7 commented on #2057
We don't want to remove expired access tokens automatically as people also use postman as a debugging tool. This means that some would expect to test APIs with expired token. With that said, we also have a view which shows expired access token and you can manually delete them.

<img width="722" alt="Screenshot 2021-04-14 at 3 33 47 PM" src="https://user-images.githubusercontent.com/1040583/1146930

[2021-04-14 10:04] #2057 closed, assigned to a85, vikiCoder

[2021-04-14 10:07] jagruuti commented on #4105
It is working now. Strange!

[2021-04-14 10:08] giridharvc7 commented on #5057
Duplicate of #2934
Closing this feature request to track in a single place

[2021-04-14 10:08] #5057 closed, assigned to nobody

[2021-04-14 10:37] jamesholland-uk commented on #3466
Another war-wounded engineer, who lost a few hours of API work. Pleeeeeeeeeeeeease can there be something (auto-save is my number one preference, but save-all would be second choice if quicker/easier to implement) to save the pain of re-doing API work? Many thanks :-)

[2021-04-14 11:02] Artur2 commented on #5302
@prasob-cs I think they wrote postman on some sh*tty javascript framework which not supports fast migration to support that little thing

[2021-04-14 12:30] stewartie4 commented on #4818
never mind - because i was logged in, the postman docs ui is rendering my collections alongside the one published with the doc when in actual fact the collection is only published with a single collection - very very deceptive
can't believe this is not a feature

[2021-04-14 13:20] dev-saima commented on #2847
+1

[2021-04-14 14:11] BrettThib commented on #4009
Yes, please!

[2021-04-14 14:32] hellowoodoo commented on #3825
Dear clemetcur,

I tried to run your script, but the CODE_CHALLENGE is not defined during the run.
Can you help me, please ho to resolve the problem?

[2021-04-14 15:14] entimaniac commented on #9469
I'd also like to see this feature. I'll often have multiple requests in a row like create object1, create object2, create object3 ... to setup a certain state in my application and so that I can properly test. This sort of setup might happen multiple times for different scenarios so I need to duplicate the requests. Selecting and copying whole blocks of requests would make things so much easier.

[2021-04-14 15:18] entimaniac commented on #8322
Having the ability to format graphql requests would be great. I'll generally build my graphql queries in another tool/UI like graphiql for my server, then copy it into postman. If I have to modify it a lot, I'll have to copy it from postman, paste it into another tool, format it, then copy it back into postman.

[2021-04-14 15:35] nsmcan commented on #6723
Tried to follow all solutions. Nothing helped, but the Canary version works fine.
Postman 6.7.4 works fine too.

I have noticed, that if Postman 6.7.4 is upgraded to v7.36.5 from inside of it, **after restart, new version works**. Until I closed it. Next time - it doesn't start hanging on "Preparing your workspaces..."

Also this chain _Postman 6.7.4 -> upgrade to 7.36.5 -> restart -> upgrade to 8

[2021-04-14 16:23] hkarjala commented on #9754
This number of requests in collections has been very useful feature in Postman for us, expecting to see this included in version 8's as well soon.

[2021-04-14 16:29] hkarjala commented on #9585
This has been an issue for us as well. Merging/pulling our bigger collections end up to this error (a timeout I assume) pretty much every time.
And this seems to have gotten worse with version 8s now that the merge summary is opened within the desktop app and not to browser as with version 7's. With early version 8's error was thrown already after 10 seconds.

[2021-04-14 17:19] brchimp commented on #9626
Having same issue with 8.2.2 running on macOS 11.2.3 M1 chip

[2021-04-14 18:22] jeffrimko commented on #8486
Yeah, I'm on v8.1.0 and it looks great, very clear where the request is located. Thank you for the update!

[2021-04-14 18:55] mantey-github commented on #9828
@Raj-postman it works on my macOS Catalina

[2021-04-14 18:59] johndanek commented on #9782
Agreed. I am fully aware that my Postman data only exists on my local machine- that is the way I choose to use it. There's a little burst of annoyance every time I open the app.

[2021-04-14 19:57] giridharvc7 commented on #8551
Seems like a bug and not feature that is available currently that clearly marks whitespaces. Marking this as a bug, check the video - posted by @Raj-postman - there seems to be a difference in the buffer values

[2021-04-14 19:58] mverma-va commented on #8896
@BabaliKumari did you find any solution for this, if so, please share link for that.

[2021-04-14 20:27] giridharvc7 commented on #3493
Yes. We don't intend to make the modal resizable for now. All editing of environment will happen in the environment's window. But, does this solve your problem though?

[2021-04-14 22:31] maroonedsia commented on #4525
I'm voting up this feature request too.
Looking at the original request date, I'm surprised it has not added already.
I just want to pick the value for a my custom header key from a dropdown of possible values, instead of copy/paste every time.

[2021-04-14 22:50] mccannt commented on #9519
@eyalgrossdev Can you try this again in the most recent version of the app?
I was able to do this successfully.

[2021-04-14 22:55] mccannt commented on #9564
@fredrickace Can you try this on the most recent version of the app and confirm if this is resolved?

[2021-04-14 23:12] mccannt commented on #7829
@caroen Is this still an issue for you on the most recent version of the application?

[2021-04-15 01:39] michelolvera commented on #4079
i need this feature :(

[2021-04-15 01:42] farney9 commented on #5949
HI guys have you any solution?

Hi have the same problem

request

[code]

Response

`<?xml version="1.0" encoding="utf-8"?>
<soap:Envelope xmlns:soap="http://schemas.xmlsoap.org/soap/envelope/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <soap:Body>
        <ConsultarFacturaPorNumeroResponse xmlns="http://tempuri.org/">
            <Cons

[2021-04-15 01:59] sandipchitale commented on #5548
To decode the JWT token you can write this 👍

[code]

and with sample JWT from JWT.io

[code]

you will see this output in the console:

[code]

I guess apoor man's JWT decoder.

[2021-04-15 04:25] darcythomas commented on #4079
Good luck 🤞

I only suggested this feature 3 years ago. They should be getting to it,
*checks notes*, 'soon'...

On Thu, Apr 15, 2021, 13:39 Michel Olvera ***@***.***> wrote:

[2021-04-15 05:25] postman-support commented on #9832
Hello 👋​  @nbon12,

Thank you for flagging this and providing all the details.

Our engineers are actively looking into the issue.

We'll keep you posted on any updates - sorry for the inconvenience.

via @VaishnaviChallaPostman | Postman Support

[2021-04-15 05:51] martinszeltins commented on #5302
Still not possible to hide the menu bar

[2021-04-15 06:22] tkoenig89 commented on #9481
Starting this morning Postman stopped working for me as well. Two days ago everything was working fine.

What I noticed this morning when Postman started up, a small popup showed something like 'update installed...'. It was gone too fast to read as I did not mind an update at that time.
Checking for updates tells me I'm on the latest '**v8.2.2**'.

I jsut thought this might help, as the previews v

[2021-04-15 06:22] jimhill commented on #9481
Good morning - I am going through the exact same thing. Not working for me on web or in the app.

[2021-04-15 06:24] dreamwalker90 commented on #9481
Good morning same - here.

[2021-04-15 06:27] SvenSommer commented on #9481
+ 1

[2021-04-15 06:28] christian-gama commented on #9481
I just got an update, restarted the app and now I keep getting this message "Unable to load workspaces as you’re offline".

[2021-04-15 06:28] musfiqus commented on #9481
Same here on v8.2.2

[2021-04-15 06:28] isaobushi commented on #9481
Same

[2021-04-15 06:29] sikri-eic commented on #9481
This is ridiculous. Why cannot Postman store my collections locally? Why do I need to be connected to a server for Postman to work?

![image](https://user-images.githubusercontent.com/69895085/114824053-9bebba00-9dc4-11eb-8e74-a655f032019b.png)

v8.1.0

[2021-04-15 06:29] plankrun commented on #9481
same here

[2021-04-15 06:30] jimhill commented on #9481
Looking at the developer tools I can see that:
- app.postman.com/https://app.getpostman.com/api/users/XXXXXX/app_bootstrap?freecollab=true&app_version=8.1.0&app_target=electron&populate_groups=true returns a `504`
- https://bifrost-https-v4.gw.postman.com/ws/proxy returns a `500`
if that helps.

[2021-04-15 06:31] dheeraj-rn commented on #9481
Same here after v8.2.2 update.

[2021-04-15 06:32] sstelmach commented on #9481
Same here

[2021-04-15 06:32] AndrewTseZhou commented on #9818
Network connection is normal! I can visit other websites, such as Google. But postman just can't load data! All my local data are lost!
![image](https://user-images.githubusercontent.com/22510709/114824186-1df4d680-9df7-11eb-9d8d-6912ba9b6045.png)

[2021-04-15 06:32] echoAlexey commented on #9481
Same shit.

[2021-04-15 06:32] iternio commented on #9481
Same issue here. I was just going to debug an urgent issue in our API and now I get stuck on this. Paying customer.

[2021-04-15 06:33] scryed0204 commented on #9481
Same here. It seems not only me though.

[2021-04-15 06:33] tkoenig89 commented on #9481
@iternio try an older version, as some of the earlier post suggest. This at least got running for me, but missing all my collections :(

[2021-04-15 06:35] brampurnot commented on #9481
Same here...

[2021-04-15 06:36] granola858 commented on #9481
same same uncle same

[2021-04-15 06:37] teodorghinea commented on #9481
SOLVED (for me) : Disconnect and reconnect from internet. That worked for me.
Steps:
- computer restart (result: still not working)
- disconnect and reconnect from wifi (result: started working again)

[2021-04-15 06:37] AndrewTseZhou commented on #9837
I also have same problem. Because, postman replaced local data with workspace since 8.x. I think the function of workspace is very poor! I uninstall postman, it's really a bad software now!

[2021-04-15 06:38] tkoenig89 commented on #9481
I'dont think your reboot did the trick ;) they just fixed the server, as something just happened on my side as well.

[2021-04-15 06:40] michaelrazmgah commented on #9481
Thanks! This worked for me!

[2021-04-15 06:40] KelvinGits opened #9840 "Postman says I'm offline though my Internet connection is working."
I can't access my workspaces because Postman thinks I'm offline though I'm clearly online. This is quite frustrating. I have tried restarting postman but to no avail.

![image](https://user-images.githubusercontent.com/42736291/114825223-9bf0b780-9dce-11eb-9a5f-2020eb8b66d9.png)

[2021-04-15 06:44] christian-gama commented on #9481
I don't think they solved it. I still cannot access it and I restarted my internet/computer.

[2021-04-15 06:44] ankitjaggi commented on #9481
We were observing elevated error rates on Postman across both the desktop and the browser. You can track it on our status page. https://status.postman.com

[2021-04-15 06:46] DudeGrim commented on #9840
I think theres a problem with the Postman API Network (API Explore). I'm having similar problems.
![image](https://user-images.githubusercontent.com/9623863/114825896-5c8b9080-9df9-11eb-9ddc-41e1c86061f9.png)

[2021-04-15 06:47] tkoenig89 commented on #9481
Thanks @ankitjaggi
I'm back at version 8 (8.10 seems to be the latest Postman will update to for now) and all my collections and workspaces are back.
I did no reboot or reconnect.

[2021-04-15 06:51] DannyDainton commented on #9840
We were observing elevated error rates on Postman across both the desktop and the browser. The systems are back on track now and we are actively monitoring it.

Are you still experiencing issues connecting @KelvinGits / @DudeGrim

[2021-04-15 06:54] plankrun commented on #9481
It works now (ver 8.10)

[2021-04-15 06:57] DudeGrim commented on #9840
Things on my end is working now. Thanks for the speedy fixes! ☜(ﾟヮﾟ☜)

[2021-04-15 07:07] postman-support commented on #9837
Hey @AndrewTseZhou,

Thanks for reaching out and really sorry for the troubles.

Our engineering team is currently working on this issue. As soon as I receive any updates, I will be in touch with you.

Thanks again for your patience.

via @taehoshino | Postman Support

[2021-04-15 07:14] phil2nice opened #9841 "Accessibility"
**Font size and colors**
My suggestion would be in order to handle accessibility  ( I have very poor eyes ), to be able to change font size of every thing, titles, etc ... Also would it be possible to change colors light Orange or light grey are very tiring .... I mean for me for the reason I explained.
That would be great,

[2021-04-15 07:33] DannyDainton commented on #9840
That's great to hear!

@KelvinGits are things also looking better for you now, if so, can we close this issue out? 🙏🏻

[2021-04-15 07:55] bestcomp-dev commented on #3331
This works fine
https://stackoverflow.com/a/52748531/2989257

[2021-04-15 08:23] a1dutch commented on #3493
for me its not possible to view large variables without clicking the `edit` button. e.g. like bearer tokens.

it might be easier to do away with the quick look and just open the tab instead

[2021-04-15 09:01] Surt commented on #9810
Version 8.2.2 paid suscription for 4 users.

We can't merge forked collections on the source collection. We did on previous versions but now nobody can merge or pull request.  We already check all permissions etc.

[2021-04-15 09:03] Surt opened #9842 "Merge greyed out for forked collection - "Share the source collection to merge changes""
**Describe the Issue**

As of Version 8.2.2 the merge button is now greyed out for forked collections with the error "Share the source collection to merge changes".
On previous attempts with older versions we were using it with no problems. (can't say in which versions it broke)

We've checked out the "Using source control" documentation and as far as we can tell, this is the process we have been

[2021-04-15 09:05] DannyDainton commented on #9842
Hey @Surt

Could you complete the rest of the issue template and provide more information, please?

[code]

[2021-04-15 09:08] DannyDainton commented on #9840
All the services are currently operational, if you're still experiencing issues we can open this issue again. Closing it for now.

[2021-04-15 09:15] DannyDainton commented on #9835
Hey @samvpillay

This is where the use of variables comes into play, extracting all the sensitive request information out to the Collection and adding them to only the `Current Value` we ensure that it will not be synced and only held in your local instance.

[2021-04-15 09:17] DannyDainton commented on #9821
Hey @aminK1

Could you expand on the use case here, please?

[2021-04-15 09:29] echoAlexey commented on #9481
@ankitjaggi  - problem is back

[2021-04-15 09:29] jeremieLyvoc commented on #9481
Same for me loading my Wrokspaces from web or app

[2021-04-15 09:31] sstelmach commented on #9481
And here we go again....

[35960][1618478999244][requester][error]["RequestWorkbenchController~_loadRequest: Error in loading request",{"name":"EntityNotFoundError","message":"RequestFetcher~fetchOne: Entity not found on sync","stack":"EntityNotFoundError: RequestFetcher~fetchOne: Entity not found on sync\n    at file:///C:/ProgramData/sylwester.stelmach/Postman/app-8.1.0/resources/app.asar/js/ven

[2021-04-15 09:34] Surt commented on #9842
[code]

[2021-04-15 09:34] badmansan commented on #9837
Confirm that, I have the same bug.
It looks like this:
![screnshot](https://user-images.githubusercontent.com/13345595/114847421-5e982400-9de6-11eb-8329-044946d786d8.png)

All workspaces are present, but they are empty

[2021-04-15 09:34] ECN28 commented on #9481
same problem is back - Unable to load data as you're offline
You can view your work and data once you’re back online.

[2021-04-15 09:35] tscheckenbach commented on #9840
Please reopen, I still have the mentioned problem.

[2021-04-15 09:36] arlemi commented on #9481
Yes, we're seeing elevated error rates again and looking into it. You can follow the resolution on https://status.postman.com/.

[2021-04-15 09:40] shulst commented on #6105
Still having this issue. When you add a new request to the api it syncs, but if you just add tests it does not sync.

[2021-04-15 09:44] wangdeer commented on #9481
I meet this issue too. Whenever use proxy or not.

[2021-04-15 09:46] thobson commented on #9481
Same for me "Unable to load data as you're offline" - internet is fine and no VPN / proxy in place

[2021-04-15 09:50] pashura commented on #9481
https://status.postman.com says that incident has been resolved, but I still unable to load data

[2021-04-15 09:51] MegaOmegaAlpha commented on #9481
same problem

[2021-04-15 09:52] Gajotres100 commented on #9481
Same here

[2021-04-15 09:54] gs-aagarwal commented on #8126
Is this pushed to production. I am still facing this issue

[2021-04-15 09:56] dariusdamalakas commented on #9837
Not sure if that is the same issue, but i see this:
![image](https://user-images.githubusercontent.com/131102/114850958-fd724f80-9de9-11eb-8303-66d2803f8582.png)

[2021-04-15 09:57] muhammedgunes commented on #9481
Same problem

[2021-04-15 09:58] msdsalehi commented on #9481
Was practicing Same problem
on postman Version 8.1.0
on macOS Catalina v 10.15.7

But now just got green "Syncing"!

[2021-04-15 09:58] n-verbitsky commented on #9840
Me and my team are having the same issue across multiple devices.

@DannyDainton, could you please take a look?

[2021-04-15 10:01] AndrewTseZhou commented on #9837
I have same problem. https://github.com/postmanlabs/postman-app-support/issues/9818

[2021-04-15 10:01] Sall99 commented on #9481
i got the same here

[2021-04-15 10:02] Sall99 commented on #9481
everything is back

[2021-04-15 10:03] pperczak commented on #9481
Same here. Postman for Windows Version 8.2.2 win32 10.0.18363 / x64

[2021-04-15 10:04] hongwei1 commented on #9481
![image](https://user-images.githubusercontent.com/23308710/114851962-a0bf6680-9de2-11eb-8501-d29b095fed66.png)
SameSame here Mac Os. no VPN,

[2021-04-15 10:05] arlemi commented on #9481
We're aware of the issue and investigating it. Please check https://status.postman.com/ for updates.

[2021-04-15 10:06] arlemi commented on #9840
We're aware of the issue and investigating it. Please check https://status.postman.com/ for updates.

[2021-04-15 10:07] arlemi commented on #9837
We're aware of the issue and investigating it. Please check https://status.postman.com/ and #9840 for updates as this issue is for a different problem.

[2021-04-15 10:23] gcelia-intelliqa commented on #8501
This would be a great feature. Github uses a set of recovery codes in the event of SSO failure, which is supplied when enabling SSO as the sole authentication method.

[2021-04-15 10:32] mccannt commented on #9463
@denisvmedia There have been some recent improvements in this area.

Can you have a look and let us know if it is working better for you?

[2021-04-15 10:36] ivobarbosa commented on #5611
Yes is off now!

[2021-04-15 10:41] mccannt commented on #9524
This should now be resolved.

[2021-04-15 10:41] #9524 closed, assigned to godfrzero, Raja-Simha

[2021-04-15 10:45] mccannt commented on #9344
This should now be resolved. Can you verify that this is working for you in the most recent version of the app?

[2021-04-15 10:46] arlemi commented on #9840
The issue has been mitigated and we are actively monitoring it. Thank you for your patience!

[2021-04-15 10:46] #9840 closed, assigned to nobody

[2021-04-15 10:47] denisvmedia commented on #9463
If I have a title that is an empty string, it now says "Error while importing: format is not recognized". Which is way better, however I'm still not sure if it can help the person to understand the real problem.

Also, as a side note: if I set the title to a single space, it starts working. So, I'm not sure what's the difference, and why a space can be accepted as a name, while an empty string can

[2021-04-15 10:47] #9463 closed, assigned to nobody

[2021-04-15 11:33] Raja-Simha commented on #9370
@danurahadi is this issue resolved through our support channel? If not you can re-open this issue. I am closing this for now.

[2021-04-15 11:33] #9370 closed, assigned to Raja-Simha, ranchanarajasekaran

[2021-04-15 11:36] Raja-Simha commented on #9434
@vdespa We have fixed the issue. If switch tabs while editing, your unsaved changes are preserved in the context bar.

[2021-04-15 11:36] #9434 closed, assigned to Raja-Simha

[2021-04-15 12:03] sanjay-murmu-au9 commented on #9361
HI I just sort out these problem...Make sure that you have downloaded the Postman. Than it will work....In my case this worked
"Couldn't upload file. Make sure that Postman can read files inside the working directory. "

[2021-04-15 12:17] rajvis commented on #9840
Hi @arlemi - I am still facing this issue. Please advise.

[2021-04-15 12:51] arlemi commented on #9840
@rajvis Are you seeing it on the web or the app? Have you tried closing/re-opening, or refreshing the page?

[2021-04-15 13:00] rajvis commented on #9840
@arlemi - I've had the problem in both the Web and the App at the time, but looks like it is working for me now. Thanks for checking in

[2021-04-15 13:04] meden commented on #8837
Still valid with Postman 8.2.2

[2021-04-15 13:15] thobson commented on #9840
Now seems to be working for me 👍

[2021-04-15 13:51] timbochamp commented on #9796
I believe this is similar to #9729 with environment variables not resolving after workspace switching or on the initial load of an environment. I'm able to reproduce this global variable issue with {{DefaultUrl}} changing to {{defaulturl}} and not resolving on workspace switch periodically. I'm logging this as a separate bug for the team to investigate. Thanks for the report!

[2021-04-15 13:58] langdangyunliu opened #9843 "send a xml message"
when I send a xml message with chinese，the receiver get a messy code

[2021-04-15 15:23] aminK1 commented on #9821
One of the API my team is working on only accepts only ULID as a key. As part of my test from postman, I would like to be able to generate random ULID id and pass it to the API call.

[2021-04-15 17:04] Negatseg commented on #2514
hello, I face the same challenge when I try to import my folder to post man. would you help me out on that It says 'could not determine format'.

[2021-04-15 18:03] WillyRamirez commented on #8455
I'm having the same issue. All my GET calls work, but my POST calls have an empty request body when I console.log them in express hosted by Docker. The reason why I suspect my postman settings are wrong, is because the exact same call works when I cURL it...

**works**
`curl -H "Content-Type: application/json"  -X POST -d '{"email":"test@test.com", "password":"admin"}' localhost:49160/login`

**Do

[2021-04-15 19:08] Lampei commented on #2906
@arlemi so how do we go about *keeping* the ids in collections?  I need to run specific folders (via newman) and if they have duplicated names, then the only way to do this is using the "id" of the folder.  If these are being removed each time I export from Postman UI, then I would have to keep adding those ids back in again.

[2021-04-15 20:48] jordanbisato commented on #4808
2 years after the creation of issue and i'm here searching for the same thing.
Any updates on this?

[2021-04-15 20:55] donrolling opened #9844 "Alphabetize Variables?"
**Is your feature request related to a problem? Please describe.**
Yes. The problem is that I often find it difficult to locate a specific variable in an environment.

**Describe the solution you'd like**
I would like either for the variables to be alphabetized, or to have an option to alphabetize them. It is hard to locate specific variables otherwise.

**Describe alternatives you've considered**

[2021-04-15 21:47] danmichaelo commented on #9510
I'm also seeing this issue with

- Platform Type: Desktop App
- Postman Version: 8.1.0
- Operating System: Mac OS 10.15.7 (19H524)

[2021-04-15 21:56] StrohmyerTR commented on #4808
IMO, this bug should be closed, and #8466 reopened. This thread does not give a concise description of what many of us are looking for. @codenirvana

[2021-04-16 00:45] postman-support commented on #9837
Thanks for reporting this and we are really sorry for the troubles.

Regarding to the **"Unable to load data"** error, we had some downtime on our service, but the issue is now resolved.

via @taehoshino | Postman Support

[2021-04-16 05:42] rgoers commented on #6351
@giridharvc7 Because I want to send the full input and output results to someone else so they can see how to use the API.

[2021-04-16 06:07] Raj-postman commented on #9828
@Atr07 Just checking back to see if you are still seeing issues?

Also to let you know, our team has just released a new fix for this in the latest version v.8.2.3. Do update and let us know if that helps.

[2021-04-16 06:55] nasco-a opened #9845 "Slow loading of workspaces in v8"
**Describe the Issue**

When working with large collections loading workspaces seems to be taking quite a lot of time, making the initial loading of the workspace and the switch between workspaces time consuming(a couple of minutes to an hour)

**Steps to Reproduce**
1. Create a very large collection (50MB+)
2.Make sure the collection gets synced to the server
3. Try restarting Postman/switching w

[2021-04-16 07:26] linxuelei commented on #9274
遇到同样的问题，楼主解决了吗

[2021-04-16 08:35] ankit-m commented on #9798
Hey @nrmartell,

Sorry for the late response. The Postman API supports direct merging of a fork which does NOT automatically mark the PR as merged. However, we do realize that it is a feature which simplifies user's workflow and it is on our roadmap. I will update this thread when we pick it for development and launch it.

[2021-04-16 08:41] DannyDainton commented on #9843
Hey @langdangyunliu

Could you update your issue with additional details and screenshots, please?

The issue template is a good guide to show you what to add:

[code]

[2021-04-16 08:54] ankit-m commented on #9842
Hey @Surt,

Thank you for reporting this issue. I was able to reproduce it as well. I have also filed a bug on our internal tracker. Will keep this thread updated.

[2021-04-16 08:54] hlmd opened #9846 "Scratch Pad failed to show the request tab page"
**Describe the Issue**

This is a **Scratch Pad**'s request tab error.
I opened a request saved in the collection in the Scratch Pad, and then I opened the following (Body, Pre-request Script or Test) tab and switched to the workspace. When I switched to the Scratch Pad again, the request tab appeared "Something Went Wrong"

**Steps to Reproduce**

![a](https://user-images.githubusercontent.com/45

[2021-04-16 09:16] pankajk07 commented on #9846
@hlmd Sorry to hear that, could you please share the app logs by submitting a ticket here: [https://www.postman.com/support](https://www.postman.com/support)

The following help guide provides information on retrieving app logs based on your OS:

https://support.postman.com/hc/en-us/articles/360033270134-Where-can-I-find-logs-for-the-Postman-app-

[2021-04-16 09:27] hlmd commented on #9846
@pankajk07
Is it this one.
![image](https://user-images.githubusercontent.com/45023268/115003865-caf35000-9ed8-11eb-9061-ea238df440a5.png)

[2021-04-16 09:29] pankajk07 commented on #9846
@hlmd I would suggest you zip the complete folder and send it to us.

[2021-04-16 09:36] hlmd commented on #9846
@pankajk07
I have sent logs.zip to help@getpostman.com. please check.

[2021-04-16 10:12] alokaroramca commented on #6643
Issue still exists on Version 8.0.10 (8.0.10).

Steps:
Got Update alert,
I did update and it restarted app. And I found Pretty thing stopped working
I restarted again and then saw version update banner and pretty thing started working fine

Seems earlier restart did not do the job right..

[2021-04-16 10:32] mohitranka commented on #2934
The additional options for OAuth2 , "audience" and "resource" are now available on web.postman.co . Please give it a whirl, and let us know if you have any feedback or face any issues. As mentioned before, it will be available on Desktop with 8.3 release.

![image](https://user-images.githubusercontent.com/80672/115012038-f53f1080-9ecc-11eb-98a4-253236e84781.png)

[2021-04-16 10:46] umamaheswar0105 commented on #1066
OMG!! close to 6 years now.

this is required, from history, I can create a collection but want only 10/20 to be added and today I hit 100+ requests. I need to remove 80 or I need to have a select option for multiple requests in history.

[2021-04-16 10:57] pankajk07 commented on #9846
@hlmd We haven't received the logs yet. Can you please raise a ticket here [https://postman.com/support](https://postman.com/support)?

[2021-04-16 11:03] esbenbach commented on #2934
This is good enough for me.
I am not an expert in what options may be required here: but as a developer I think it would make sense to have the option of appending an arbitrary key=value pair to the Authorize or Token request.

I acknowledge that this may be hard in terms of the UI but such a "feature" would have avoided this entire 3years wait time headache.

Anyway just a suggestion - otherwise

[2021-04-16 12:03] spycerstar commented on #9830
Yes, Please increase the size to 1GB atleast

[2021-04-16 12:03] nagkumar commented on #1744
this is not doing good job, as many api names are resulting as generated.. wish postman supports this out of the box, surprised they are importing other formats, but now exporting to these format so far..

[2021-04-16 12:04] davidkhardwick commented on #9344
Confirmed! It is working now!

On Thu, Apr 15, 2021, 6:45 AM Trent M ***@***.***> wrote:

[2021-04-16 12:21] amroczeK commented on #9344
Thanks guys, great work!

[2021-04-16 12:21] #9344 closed, assigned to chughmayank, jotsarup

[2021-04-16 13:50] stokito commented on #3059
Here is docs http://www.postmanlabs.com/postman-collection/Url.html and example:
[code]
So it's API is similar but not compliant with `URL`.

But I wondered why not just simply add the `url` module that is already enabled in Node.JS 7?
https://nodejs.org/api/url.html#url_the_whatwg_url_api

Thus you can save a lot of time for users who now need to search.

[2021-04-16 14:32] vschoener commented on #4842
I needed this! Thank you! I was trying to parse Set-Cookie with the PostmanCookie object... Is this documented somewhere? Didn't find any information

[2021-04-16 16:18] jordanbisato commented on #8466
It's possible to reopen this issue? I think it's a important funcionality to Postman.

[2021-04-16 17:28] ngsankar-lab commented on #6134
that helps!

[2021-04-16 18:43] pjhoberman commented on #6681
+1 to adding this functionality

[2021-04-16 18:59] christophla commented on #2934
I’m just glad this is over.

On Fri, Apr 16, 2021 at 6:03 AM Esben Bach ***@***.***> wrote:

--
Christopher

[2021-04-16 19:26] giridharvc7 commented on #2934
@esbenbach we did think of that and gravitated towards this design as this was more user-friendly :)

[2021-04-16 19:29] giridharvc7 commented on #2523
The additional options for OAuth2 , "audience" and "resource" are now available on [Postman Web](https://www.postman.com/home) . Please give it a try, and let us know if you have any feedback or face any issues. This feature will be available in the desktop apps with the 8.3 release
![image](https://user-images.githubusercontent.com/1040583/115075056-2264e080-9f18-11eb-91a4-31a37dab2a10.png)

[2021-04-16 19:30] giridharvc7 commented on #1250
The additional options for OAuth2 , "audience" and "resource" are now available on [Postman Web](https://www.postman.com/home) . Please give it a try, and let us know if you have any feedback or face any issues. This feature will be available in the desktop apps with the 8.3 release
![image](https://user-images.githubusercontent.com/1040583/115075125-3e688200-9f18-11eb-81be-6e9575029cfa.png)

[2021-04-16 22:22] harshvchawla commented on #9837
i just updated to v8.3.3 and now the already opened requests wont load :(
got scary for a bit but then i closed all open tabs and now it works (these glitches can be annoying in production when i did not sign up for beta/canary releases)
phiew, i wont be updating postman for another century now lol, confidence shaken

[2021-04-17 05:09] rishitc commented on #9371
Hi,
At the bottom of the logs, it says that the device is a MacBookPro16 running a Quad-Core Intel Core i5, 1.4 GHz and not an Apple M1 chip.

@jviotti I don't think this issue is related to the compatibility issues with the Apple M1 chip.

[2021-04-17 05:18] Atr07 commented on #9828
@Raj-postman  installed v8.2.3 and it's working now. Thanks.

[2021-04-17 06:02] hlmd commented on #9846
@pankajk07 I have submitted a request for 73214.

[2021-04-17 13:12] PikaFederation commented on #2701
+1

[2021-04-17 14:01] arun07as commented on #9764
Just adding some extra info.

I had a collection which I had published in a version of the windows app where this bug was occurring. Back then, I had published without environment as I was unable to publish with environment at that time due to the error

Now I updated to latest version of the app, but when I tried to edit the published documentation settings to include environment, it still showed

[2021-04-17 16:40] stewartie4 commented on #9479
+1

[2021-04-18 01:53] anewtonlevey commented on #6102
Having to go to postman support to gain access to a collection because a developer has now left the company is ridiculous.  I can't imagine the amount of time that must be wasted by having such a system

[2021-04-18 06:32] JoseFMP commented on #6187
2021 still happening.

Cheers.

[2021-04-18 12:21] jinghe0929 commented on #9274
@

[2021-04-18 12:25] jinghe0929 commented on #9274
@DannyDainton

[2021-04-18 12:30] jinghe0929 commented on #9274
没有解决,一不小心点错了

[2021-04-18 15:21] praveendvd opened #9847 "Persist variable value option no more available in settings page"
**Describe the Issue**

**Steps to Reproduce**

**Screenshots or Videos**

![image](https://user-images.githubusercontent.com/45095911/115150723-8ba43b00-a061-11eb-8f1b-01594982c6a4.png)

**Environment Information**

 - Platform Type:  web and destop
 - Postman Version: Version 8.2.3
 - Operating System: Win32

[2021-04-18 16:40] der-kommissar opened #9848 "Looping over request doesn't accumulate test results"
**Describe the Issue**

When looping over a request (using the collection runner) the test results include only those from the last iteration.
![image](https://user-images.githubusercontent.com/74671809/115152925-f2612e80-a038-11eb-9970-1332874fe59c.png)
Notice that there are 6 passing tests but only 2 are shown.

**Steps to Reproduce**

Create a collection that sets up an array of `args` that we

[2021-04-18 18:15] DannyDainton commented on #9847
This option was removed as part of the V8.0.8 release:

[2021-04-18 18:16] praveendvd commented on #9847
is there a way to dynamically change the variable value for mock server other than this option ?

[2021-04-18 18:19] drulia commented on #9787
Well restarting Postman to allow update removes the issue until next update comes around and Postman again starts using 20% of cpu. I would not call this a fix in any way. Especially since Postman started to update every few days, this became quite annoying bug.
Just updated to 8.2.3, will update if issue persist.

[2021-04-18 18:53] AkariMarisa commented on #3358
I'm using this script as my pre-request script to remove comments in raw json data, and it's kinda works.
[code]

[2021-04-18 20:24] saarthakbhagra commented on #9840
Experiencing the same problem right now - Is there an issue going on?

@postman-support

[2021-04-18 20:28] urmichm commented on #7666
Same issue with the latest version: 8.2

[2021-04-18 20:42] urmichm commented on #5611
version 8.2.3 is offline :(

[2021-04-18 20:42] mosti94 commented on #9840
getting the same issue
@postman-support

[2021-04-18 20:49] GiJ03 commented on #9840
Getting the same issue now:
![image](https://user-images.githubusercontent.com/57536491/115160364-6ccf9400-a0b5-11eb-8a14-3ac721298e41.png)

However, "https://status.postman.com/" says everything is up.
![image](https://user-images.githubusercontent.com/57536491/115160388-81ac2780-a0b5-11eb-8420-8e02cdd1bd7b.png)

Please suggest. Is something wrong with the latest version of Postman?
![image](http

[2021-04-18 20:49] bhavanichandra commented on #9481
I just got an update to v8.2.3, postman opens but it says Unable to load data as you're offline You can view your work and data once you’re back online. and this is the image
![image](https://user-images.githubusercontent.com/16636407/115160397-8f61ad00-a0b5-11eb-9c8f-8a4cf4bfa02f.png)
And I tried to login via web, cannot access login page, its redirecting me to 500 page

![image](https://user-ima

[2021-04-18 20:50] konstantin-tcherkashin commented on #9840
same issue @postman-support

[2021-04-18 21:03] veeCan54 commented on #9481
As previously mentioned here I disconnected from the internet and connected back again.
It works now. Thanks!

[2021-04-18 22:19] LucasAmoedo commented on #3117
As many others have said, the absence of this functionality will be the reason our company will be switching over to another tool. It is a shame, because we all like Postman better, but we are using markdown tables at this moment, which is becoming increasingly cumbersome.

[2021-04-18 22:57] praveendvd commented on #9848
https://www.getpostman.com/collections/9390904e1312cbebe30f

it works fine , your setnext request name would be wrong . Try :

postman.setNextRequest(pm.info.requestName);

[2021-04-18 23:51] postman-support commented on #9837
Hey @harshvchawla,

Thanks for confirming the fix! I am glad to hear that it is working fine.

But again, sorry for the troubles, and thanks so much for your cooperation on this.

With regard to this original issue with missing examples in Scratch Pad, our team has released the fix on v.8.2.3, could you update the application and let us know if that helps?

via @taehoshino | Postman Support

[2021-04-19 00:09] jviotti commented on #9371
@rishitc True, however the stack trace seems to originate at a Rosetta shared library and the exception is `EXC_BAD_INSTRUCTION`, which might be more probable on a M1 machine due to the instruction translation layer. I also checked on my Intel Mac, and I don't seem to have a `libRosetta` shared library anywhere.

Could it be that the Rosetta layer results in the stack trace reporting a fictitious

[2021-04-19 02:48] alan-czajkowski opened #9849 "When an HTTP DELETE request is made, the history shows POST instead of DELETE"
**Describe the Issue**

- The request history in the "My Workspace" section shows incorrect history for HTTP DELETE requests.

**Steps to Reproduce**

- Send an HTTP DELETE request, and then look at the "My Workspace" section, and look at the history of requests made. The request is logged in the history as POST instead of DELETE.

**Screenshots or Videos**

- n/a

**Environment Information**

- P

[2021-04-19 03:17] danielcaldas commented on #9481
Same here Version 8.2.3 (8.2.3)

![image](https://user-images.githubusercontent.com/11733994/115176974-c14c3100-a100-11eb-8824-2ddb5456aa36.png)

[2021-04-19 03:18] FloatingSunfish commented on #5611
Still happening on 8.2.3, isn't resolving by itself, restarting my machine did not resolve the issue, and neither did uninstalling it and deleting all Postman folders.
I cannot get any work done and it is extremely frustrating!

[2021-04-19 03:18] twocs commented on #9481
Infuriatingly there's no "retry" button on the "Unable to load data as you're offline" screen.

I disconnected from the Wifi and reconnected but it still doesn't work.
I closed Postman, disconnected from Wifi and then reconnected, then restarted Postman. Still doesn't work.
I closed Postman, closed the VPN without disconnecting Wifi, then restarted Postman. Still doesn't work.
The "Retry Update" b

[2021-04-19 03:21] JoseFMP commented on #5611
8.2.3 and still happening. Linux. This totally bricks Postman. Cannot use it at all although internet connection is detected as off, it should be possible to just use your workspaces that were already synced.

But the real bug is that internet connection works but Postman says you're offline.

[2021-04-19 03:24] diepmv commented on #9481
facing same issue

[2021-04-19 03:28] FloatingSunfish commented on #5611
Petition to reopen this issue because it's still happening on the latest version, and unlike the original issue, it is not resolving by itself.
Luckily, I found a workaround: Click the Gear icon and select "Scratch Pad."
You should now be able to use Postman even though it thinks you're offline.

[2021-04-19 03:51] j611062000 commented on #9481
facing the same issue

[2021-04-19 06:25] taehoshino opened #9850 "[FR] Documentation on how API validation works"
**Is your feature request related to a problem? Please describe.**
Currently, the only public facing information on API validation is the following LC article:
https://learning.postman.com/docs/designing-and-developing-your-api/validating-elements-against-schema/#validating-elements

However, it is not very clear/obvious to users what properties are validated and what is not, so it would be helpfu

[2021-04-19 07:52] ahdung opened #9851 "How to prevent link click behavior?"
I don't want open it when click url! and if whole response is a url, click everywhere in this area cause open it.
if i want open, i will press `ctrl`, thank you.

![image](https://user-images.githubusercontent.com/12094247/115199396-bfe12f80-a125-11eb-8eb8-e072f42ade7d.png)

And where is the `Help > About`???
Your UI guys violated many desktop program rules man.

[2021-04-19 08:40] paulmwatson commented on #3358
That's an interest idea @AkariMarisa, using tooling rather than changing the JSON "standard". Thanks for it.

[2021-04-19 09:30] Raj-postman commented on #9828
Thank you for the update :)

[2021-04-19 09:30] #9828 closed, assigned to giridharvc7

[2021-04-19 09:30] pankajk07 commented on #9846
@hlmd Thanks for raising the support ticket. We have received the logs and are looking into the issue.

[2021-04-19 09:31] silverjohnes commented on #3358
Could you be so king to show me how you mark comments?

[2021-04-19 13:00] hlmd commented on #9846
@pankajk07 Yes, it can run and save normally

[2021-04-19 14:00] OMA2k commented on #3117
Can an actual Postman developer respond to this almost 2 year old issue?

[2021-04-19 14:10] timbochamp commented on #8696
We've added in input validation that non-numeric values aren't able to be entered in the iteration field to address part of this issue. The work to implement Runner statistics will be addressed through #4324 where the run percentage was removed in our v8 release, so I'll mark this as closed. Feel free to reopen if you find related issues to this iteration input at the same time!

[2021-04-19 14:10] #8696 closed, assigned to nobody

[2021-04-19 14:11] MatthiasPdx commented on #9497
I have the same problem right now and it's not showing formatted for me. Should this be reopened?

![image](https://user-images.githubusercontent.com/56409651/115250370-5853c180-a0de-11eb-86c6-fe7b0a493ee7.png)

[2021-04-19 14:23] klinh1006 opened #9852 "New Integration Request - <product name>"
**Describe your current workflow**
How do you use Postman with the rest of the tools in your stack to achieve your use-case?

**Describe your ideal workflow**
How would you want Postman to integrate with specific products/tools to simplify or enhance your experience?

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've conside

[2021-04-19 14:23] klinh1006 commented on #9852
abc

[2021-04-19 14:23] klinh1006 opened #9853 "abc"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2021-04-19 14:33] mccannt commented on #9853
I assume this is in error. Closing

[2021-04-19 14:33] #9853 closed, assigned to nobody

[2021-04-19 14:58] mb-ing commented on #9718
Update: When configuring an intermediate local proxy (like Burp Suite) in the Postman settings, the requests work fine.

[2021-04-19 16:08] lucacalcaterra commented on #9481
same here, behind proxy

[2021-04-19 16:19] igorovic commented on #9063
I faced the same Issue but it only happens  on **windows**.

On Mac OS my pre-request script is able to set the collectionVariables.
I also clear the cookieJar at the beginning of my script and set the variables afterwards.

Tomorrow I will test on window in this order.
1. set collectionVariables
2. clear cookieJar

[2021-04-19 16:26] stokito commented on #3059
I just found that Postman do have the [url](https://nodejs.org/api/url.html) package but we need to import it explicitly. Also for some reason the URL constructor not parses and arg so I had to use `URL.parse()` instead:

[code]

[2021-04-19 16:36] timbochamp commented on #8941
Comparing the behaviour from version 7, this looks to be addressed in our version 8 release. I can't reproducible this anymore in the current v8.2.3 build or on Postman for Web with the new request opening in the active tab on save. This is trying both creating a request from the sidebar, or from the New (+) button. Please feel free to reopen if there's still issues!

[2021-04-19 16:36] #8941 closed, assigned to vvs11

[2021-04-19 17:30] scholzi100 commented on #2701
I switched to insomnia too, it's not that different to postman but got h2 support 🥺

[2021-04-19 18:12] kasharaylo opened #9854 "Syncing of variables not working"
Latest app version.
Variables of Collections do not sync between different laptops and using the same Postman account.

[2021-04-19 18:26] m00ncr4wler commented on #2701
looks like they have bigger problems with the infrastructure 🚎

[2021-04-19 18:26] DannyDainton commented on #9852
Hey @klinh1006 - Please update the request with the details mentioned in the different headings.

[2021-04-19 18:29] DannyDainton commented on #9854
Hey @kasharaylo

Can you please update your issue and complete the information under each of the template headings.

[code]

[2021-04-19 20:21] DannyDainton commented on #9850
Hey @taehoshino

This might be better over on the Documentation repo:

https://github.com/postmanlabs/postman-docs

[2021-04-19 20:32] jimshowalter opened #9855 "Calls to postman-echo.com that worked for over a year started failing with 403s"
We use curl https://postman-echo.com/get?key=val to unit test our HTTP client.

We chose that URL because it is fast, lightweight, returns a simple response that's easy to parse (to validate that it worked), doesn't require complicated auth configuration, and seems to always be up.

To avoid bugging the site owner, we insert a delay before each call, and our total traffic per day is probably no mo

[2021-04-19 21:00] Andreagar28 commented on #6556
I have this issue..

[2021-04-19 21:22] postman-support commented on #9855
Can you paste the cURL request you use to make the call?

via @stcalica | Postman Support

[2021-04-19 21:24] jimshowalter commented on #9855
It's above:

`curl https://postman-echo.com/get?key=val`

It returns:

`{"args":{"key":"val"},"headers":{"x-forwarded-proto":"https","x-forwarded-port":"443","host":"postman-echo.com","x-amzn-trace-id":"Root=1-607df4de-4f9ee28947b84db975e33c9f","user-agent":"curl/7.64.1","accept":"*/*"},"url":"https://postman-echo.com/get?key=val"}`

[2021-04-19 21:39] Warlock-9000 commented on #4842
Please tell me how you set cookies in pre-request.

[2021-04-19 21:46] postman-support commented on #9855
Importing into Postman it returns a 200 and this is the proper response.
Here are our limits on the Postman API, however, we would return a response detailing you have reached the limits.
https://support.postman.com/hc/en-us/articles/360026236734-Postman-API-Usage-and-Rate-Limit#:~:text=Rate%20Limits,key%20basis%20in%20unit%20time.

Do you have an example response from when you get a 403?

​ ![](h

[2021-04-19 22:20] jimshowalter commented on #9855
This is all we get back:

`curl https://postman-echo.com/get?key=val
<html>
<head><title>403 Forbidden</title></head>
<body>
<center><h1>403 Forbidden</h1></center>
</body>
</html>`

[2021-04-19 23:43] #6880 closed, assigned to shamasis

[2021-04-20 00:38] tsturtz commented on #2493
Need this available in pre-request scripts :/

[2021-04-20 00:56] AkariMarisa commented on #3358
@silverjohnes
![2021-04-20_08-48](https://user-images.githubusercontent.com/13818070/115320867-3d07b580-a1b5-11eb-863d-539cf976f534.png)
![2021-04-20_08-51](https://user-images.githubusercontent.com/13818070/115321072-abe50e80-a1b5-11eb-9c8a-e6e19be636d4.png)
![2021-04-20_08-50](https://user-images.githubusercontent.com/13818070/115320949-67f20980-a1b5-11eb-83fd-028658929fd3.png)
I use folder as a

[2021-04-20 03:24] shin-san commented on #8920
Definite +1 for me. This would be excellent to have when running multiple collections of tests that can refer back to an OAS spec for validation. It would definitely save time instead of creating a test project for validating API responses.

[2021-04-20 03:24] hlmd opened #9856 "Automatically select space"
**Is your feature request related to a problem? Please describe.**
Sometimes I just want to work with Scratch Pad on Postman，but when I open the Postman application it automatically opens the workspace. I want to open the space I entered last time by default (Workspace or Scratch Pad) when I open the application.

**Describe the solution you'd like**
Automatically select the last opened space when

[2021-04-20 03:52] #8176 closed, assigned to godfrzero, charlie-postman

[2021-04-20 03:52] charlie-postman commented on #8176
We closed the issue as the issue can't be reproduced.

[2021-04-20 04:28] postman-support commented on #9855
Can you log a support ticket at https://www.postman.com/support, please?
I can look up your account details from there and see if you have reached any limits.

via @stcalica | Postman Support

[2021-04-20 04:31] julienloizelet commented on #3358
I tried this but it failed (unfortunately): the logged data is ok but it seems that the body sent remains unchanged.
Maybe I'm doing something wrong but I found an issue related to this : https://github.com/postmanlabs/postman-app-support/issues/4808
When I read this issue, I understand that changing the body request in a pre-request script is not possible. @AkariMarisa : what is your secret ?

[2021-04-20 04:52] eaglebush commented on #5922
For my case, I have been wishing I could mark a certain collection as done after a series of tests. A mark down to the request level would also be great.

[2021-04-20 07:14] giridharvc7 commented on #9844
Duplicate of #982
Tracking it there!

[2021-04-20 07:14] #9844 closed, assigned to nobody

[2021-04-20 07:20] giridharvc7 commented on #9839
Duplicate of #5846
This is very similar to #5846, closing this to track it in a single place.

[2021-04-20 07:20] #9839 closed, assigned to nobody

[2021-04-20 07:38] ankit-m commented on #9842
We have released a fix for this on our web version. Check it out on https://go.postman.co. It will soon be released on the native apps.

[2021-04-20 07:38] #9842 closed, assigned to ankit-m

[2021-04-20 08:04] vdespa commented on #4842
@Warlock-9000 Cookies are just a header, so you can set a header with the cookies you wish to send.

[2021-04-20 08:10] giridharvc7 commented on #9448
Thanks for reporting this, i understand how this feature can be useful for you.
Till we come up with a solution, you can reorder your collection in a way that the important requests are on top of your collection.
Also, you can favourite collections now.

[2021-04-20 08:17] giridharvc7 commented on #9150
Duplicate of #2452
Closing this issue to track it in a single place

[2021-04-20 08:17] #9150 closed, assigned to giridharvc7, vvs11

[2021-04-20 10:15] mcianc commented on #285
+1

[2021-04-20 11:42] marufmax commented on #9176
+1 having the same issue. is there any plan for fix this? seems like sometimes can't even use the Postman because of this

[2021-04-20 13:06] ManSkal commented on #8731
@danieldonev I think I do have same #9771 issue and it is selected for development. All we need is wait. I hope it will be soon. This is really annoying in my workflow.

[2021-04-20 13:20] sansfromage46 commented on #9669
Always same problem in Postman v8.2.3

[2021-04-20 13:59] riship2 commented on #8195
Please add this feature. Pretty please.

[2021-04-20 14:18] tafmo commented on #3078
With the v8 release it seems like environments aren't even sorted alphabetically anymore, so now it's even harder to manage large numbers of environments.

[2021-04-20 15:11] #9725 closed, assigned to nobody

[2021-04-20 15:53] gatrongnuoiheo opened #9857 "Not found postman-proxy certification"
Hi team,
According to https://learning.postman.com/docs/sending-requests/capturing-request-data/capturing-http-requests/#capture-https-traffic-with-postmans-built-in-proxy

I could not find proxy folder in C:\Users<user>\AppData\Roaming\Postman\proxy

So could not Capture HTTPS traffic with Postman's built-in proxy

**Environment Information**
 - Platform Type:
 - Postman Version: 8.2.3
 - Operati

[2021-04-20 16:47] jimshowalter commented on #9855
We don't have an account.

[2021-04-20 17:28] hayyaun commented on #8195
+1

[2021-04-20 18:07] KatyaBukh commented on #9481
same here.

[2021-04-20 20:29] wardboumans commented on #8284
I'm facing the same issue when adding the github integration via 'Connect to repo' on an API. We have ~400 repos. Im using the website not the desktop client.

[2021-04-20 21:00] margiehu opened #9858 "Clicking requests in Postman runner should open the request for the user"
The new Postman runner UI cuts off the name of the request in order to show more of the request URL. I rely on the request names to know which request is failing since I don't memorize the URLs.

I think a great enhancement to the runner would be allowing the user to click on the request name and have a new tab automatically open with the request.

Currently I have to search for the name in the se

[2021-04-20 21:05] DannyDainton commented on #9858
Hey @margiehu

Could you provide an image of this in the runner UI, where the name is cut off, please?

Just so that we can visual see what issue you're referring too.

[2021-04-20 21:15] DannyDainton commented on #9849
Hey @alan-czajkowski

I'm unable to see this happening on my side, is there anything contextual about the request that might be important here.

Is possible, could you provide a quick recording of what you're seeing in the app?

[2021-04-20 21:19] mccannt commented on #9404
This should now be resolved.

[2021-04-20 21:19] #9404 closed, assigned to VShingala, umeshp7

[2021-04-20 21:33] asdf23 commented on #5915
wont-fix rest-assured

[2021-04-20 22:10] Sushi21 commented on #9720
+1
We are looking exactly for the same feature.

I sent a request to Postman team and they mentioned someone already opened a Ticket for it.

As I was mentioning to them. Right now we are requiring our devs to put the link of their Postman PR within their Code change PR.

We are 99% using the desktop application and it would be nice if somewhere we can easily grab the URL of the PR created in Post

[2021-04-20 23:06] AkariMarisa commented on #3358
@julienloizelet You're right, my method doesn't change the JSON. I thought it worked because my testing server can reformat JSON data, and forgot this. I'm trying to figure out why postman's pre-request script cannot update body.

[2021-04-20 23:21] taehoshino commented on #9850
Thanks for your comments @DannyDainton!

I have moved it over to `postman-docs` https://github.com/postmanlabs/postman-docs/issues/3010 👍

[2021-04-20 23:21] #9850 closed, assigned to nobody

[2021-04-21 00:47] saiudayakella opened #9859 "Not able to send images as part of form-data"
**Description**
Not able to send images as part of form-data

**Scenario**
Send images as part of the API request

**Steps to Reproduce**
Send a request with following attributes:
- HTTP method: `POST`
- Enter the request URL
- Body: Select  form-data option
- Specify key name and select `File` option from the drop-down
- Browse a image

![image](https://user-images.githubusercontent.com/19469293/

[2021-04-21 01:04] postman-support commented on #9857
Hey @gatrongnuoiheo,

Thanks for reaching out and reporting this.

I am currently checking with our internal team on this - as soon as I receive any updates, I will be in touch with you!

Let me know if you have any other questions in the meantime.

via @taehoshino | Postman Support

[2021-04-21 02:18] alan-czajkowski commented on #9849
it's really difficult to reproduce this error, but here is a screenshot proof that it exists (it's still in my history):
<img width="692" alt="Screen Shot 2021-04-20 at 9 55 38 PM" src="https://user-images.githubusercontent.com/3029228/115487159-1afa4b80-a226-11eb-80ee-d848a6f05c58.png">

I'm now encountering a new bug: every time I close Postman and re-open it, I get innundated by these errors:
<

[2021-04-21 04:32] Lincimary opened #9860 "Send button is missing on iPad if the URL is too big"
**Describe the Issue**
If the URL is too big, the SEND button gets pushed out of the screen.
The “Send” button completely disappears that is it is been moved off to the right, and also there is no way to scroll to the right to find it and hit send.

**Screenshots or Videos**
![image](https://user-images.githubusercontent.com/76947097/115496872-326a2080-a288-11eb-8d60-9c77bf99815c.png)

**Environme

[2021-04-21 07:30] vinischeidegger commented on #7370
Signing out/signing in did not work for me... Postman still has 60% of my CPU

[2021-04-21 07:41] avinash8083 commented on #3942
i am getting error "Request on loopback from external IP" ,nothing is working for me .

[2021-04-21 08:14] projectAlonso commented on #285
This issue has been ongoing for 8 years.
I mean at some point you gotta say that you don't care and you will not address this issue or actually do it, but telling someone that you are working on it for 8 years is a bit of a joke.

[2021-04-21 08:33] lukeocodes commented on #285
The difficulty of balancing a business and an open source project... What is "a bit of a joke" are the toxic comments.

[2021-04-21 08:46] plolrt commented on #9815
It would be very useful to implement this feature so I won't have to go through the manual process for creating the headers for each example.

[2021-04-21 09:46] angshumanshome commented on #3942
You may have to set proxy
Will see when I feel good

What are you testing?

On Wed, 21 Apr 2021, 13:12 Avinash Kumar, ***@***.***> wrote:

[2021-04-21 10:18] aslupin commented on #8195
+1, This feature is useful and increases developer experience.

[2021-04-21 12:52] mccannt commented on #9859
Hi @saiudayakella

Thanks for pointing this out, I do see the `undefined` in the console. However, it is still working for me when I send an image.

Could you maybe try the postman-echo.com service to verify?
![image](https://user-images.githubusercontent.com/14275144/115556606-3c3f5400-a287-11eb-9992-bce8a662d1bd.png)

I have gone ahead and logged the defect for `undefined` in the console logs.

[2021-04-21 13:27] DannyDainton commented on #9860
Hey @Lincimary

This is a known issue on the Safari browser - Do you have access to a different browser to check the behaviour?

[2021-04-21 18:00] tofunk opened #9861 "New Integration Request - <box"
**Describe your current workflow**
How do you use Postman with the rest of the tools in your stack to achieve your use-case?

**Describe your ideal workflow**
How would you want Postman to integrate with specific products/tools to simplify or enhance your experience?

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've conside

[2021-04-21 18:25] postman-support commented on #9855
For a free team max # of calls to Postman API (monthly) can be made is 1000 calls.
But we cannot verify if you have hit this limit without an account.
If you had an account we could check:
https://go.postman.co/billing/add-ons/overview

A screen recording might be helpful to see if there's any other issues you are facing when making this call.

via @stcalica | Postman Support

[2021-04-21 18:37] jimshowalter commented on #9855
I'm going to try to find a different URL first. Thanks for your help!

[2021-04-21 18:38] andersonjackc opened #9862 "Test Appearing as if it runs twice"
**Issue**

When working in a Collection Suite of tests, and running them, the number of tests run varies in number.  That is, the passed + failed value goes up and down, without tests being added.  It is not a variable amount, it increases/decreases by 1 more than the actual amount of tests.  This can be seen in the screenshots, as it appears as if the first test is running multiple times.  I say

[2021-04-21 19:52] NaturalBornCamper commented on #8195
+1 please!

[2021-04-21 22:33] stewartie4 commented on #8950
The more I use postman docs, the more i realise how half-baked it is and how most basic features are stuck in 'roadmap hell':
- Ability to publish multiple environments with a collection
- Ability to show full request bodies at a given time
- Ability to keep a swagger yaml and updated collection in sync
- Ability to import a new swagger yaml updating a collection
- Ability to export a collection b

[2021-04-22 01:51] timothybowers commented on #492
Can we access the id-token via {{managedTokens.id_token}} ?

[2021-04-22 01:53] timothybowers commented on #1464
Is possible to access this id-token like the other variabled? eg. {{managedTokens.id_token}}
I need a way to add these tokens as additional headers.

[2021-04-22 02:16] scott2si commented on #9860
The same behavior occurs on both Chrome for iPadOS and Safari for iPadOS.

[2021-04-22 03:26] cateyes99 opened #9863 "Responses with errors in Console displayed in Green rather than Red"
**Describe the Issue**
For those requests which have received error responses, their response status code are displayed in **_green_**, rather than in **_red_** as previously.

**Steps to Reproduce**
Send some **HTTP** requests and let them have `500` errors.

**Screenshots or Videos**
![image](https://user-images.githubusercontent.com/19678455/115651247-e8179b00-a37e-11eb-8d22-917ea7388273.png)

[2021-04-22 03:49] niranjankhare commented on #8163
This is a much needed feature!!

[2021-04-22 06:58] praveendvd commented on #9847
https://community.postman.com/t/passing-request-parameters-as-variables-to-use-in-response-body/22787/10?u=praveendvd

There was one work around mentioned in the community forum thanks Danny , it's about modifying the example using postman api . Just commenting if someone is looking for a workaround

[2021-04-22 07:50] stephyswe commented on #2392
is it possible to skip a folder inside a folder during postman runner?

[2021-04-22 09:29] SMUsamaShah commented on #3234
- Click 'Documentation' icon in the top right panel.
- Right side panel will expand and show the interpolated URL

[2021-04-22 11:09] eyalgrossdev commented on #9519
Works! Thanks @mccannt

[2021-04-22 11:10] #9519 closed, assigned to gitThingsDone

[2021-04-22 12:49] Panetes commented on #4671
I'm baffled that this is still not implemented. Makes editing the collections incredibly tedious

[2021-04-22 12:51] silverbullettruck2001 opened #9864 "Add ability to interact with Postman Pull Requests via API"
Can you please add the ability to return any pull requests that exist and their status that are associated with any collection within the `get collections` endpoint in the Postman API.  This should be added to both the single collection and all collections responses.

According to the documentation, it currently returns this:

[code]

My request would be to add to the `info` object so that there i

[2021-04-22 13:52] evalero commented on #3692
Hi

I'm facing this issue too.

[2021-04-22 17:03] mccannt commented on #8656
Thanks for the feedback everyone. We are actively looking at this now, so stay tuned :)

[2021-04-22 17:39] postman-support commented on #9855
Alright, if you need any more help please reach out again.

via @stcalica| Postman Support

[2021-04-22 18:10] postman-support commented on #9825
Hi Support,

I hope all is well! I just wanted to follow up on my previous message - is there anything else I can do to help you?

I am closing this ticket now, simply reply to this thread to reopen the ticket.
Please let me know if you have any further questions - I'd be happy to address them!

via @stcalica | Postman Support

[2021-04-22 20:22] falnyr commented on #9573
bump @numaanashraf

[2021-04-22 20:48] Roberto-Calderon commented on #4009
+1

[2021-04-22 22:23] AkyunaAkish commented on #8195
yep +1

[2021-04-23 01:27] BalanceHan commented on #9825
[main.log](https://github.com/postmanlabs/postman-app-support/files/6362070/main.log)
this is my log,the error is recorded at the end

[2021-04-23 01:42] BalanceHan commented on #9825
delete AppData\Roaming\Postman,can solved this problem

[2021-04-23 01:42] #9825 closed, assigned to nobody

[2021-04-23 03:16] KaushikJain commented on #9756
I downgraded to 7.x version as directed by support and now my local history is deleted as well. Web portal shows the history but there is no direct way to export the same or get it in my local app.

[2021-04-23 03:22] KaushikJain commented on #9566
Any ETA on this? It is frustrating to wait for the history to load and sometimes, waiting doesn't help , have to restart postman and then wait again.

[2021-04-23 03:42] AMBULATUR commented on #9857
Same trouble.

[2021-04-23 06:15] vivekpatel111 commented on #9566
@KaushikJain @jeffbendel

I can understand your concerns, but if you think from their side then this new release is major version release for them and it's expected to have some issues/unknowns coming up in such things. I'm sure they are trying hard to resolve most of the issues asap. In the meantime, you should downgrade if you're depending upon it (like me) and not wait for them to fix it in nea

[2021-04-23 06:16] esbenbach commented on #2452
In this other case of postman thinking "we are not going to respond to you for this reasonable feature request", someone started posting on twitter. Have a look at #2934

Don't know if that was a coincidence, but quickly thereafter a solution was provided. Maybe they only respond to public pressure :p

On the more serious side: Postman, please start at least responding and CLOSING stuff if you don

[2021-04-23 08:07] rajesh38 commented on #9049
Same issue happened just now. Just restarted postman. It got sorted on its own.

[2021-04-23 11:38] NikitaKharkov commented on #982
Guys, I understand that you are working on the big important features, which do something very important (no sarcasm). But it's the very simplest one. Moreover: it's a key feature, because, e.g., I about 60 variables, I need from time to time to have quick access to it. So need either sorting or filtering (better both). It's very useful, really.
It was open in 2015, guys. 2015!.. :(
We are waiting

[2021-04-23 11:59] andrewzuk commented on #982
Or better, open-source your project and let one of us implement it for you.  Lol

[2021-04-23 13:09] salutcava commented on #4341
Hi,
Any update on the feature ?

[2021-04-23 15:39] jeremymurray commented on #8929
An example of where this would be super useful: we have tests in subfolders that require logins to have occurred.  If we could put a login request in each folder but use a pre-request script to check if the local token variable had already been set (from a previous login in a different folder when running the full collection), we could skip unnecessary logins.  Would give the flexibility of runnin

[2021-04-23 16:26] prajaktakini opened #9865 "Postman to auto generate JSON Request Body Schema from the Representation Class Path"
**Is your feature request related to a problem? Please describe.**
Not a problem as such but constructing a JSON schema in the request body is tedious work when the request body has lot more fields.

**Describe the solution you'd like**
I would like if Postman App can auto-generate JSON Request body schema. With help of the browse option,  users can provide the path to representation classes eg. J

[2021-04-23 18:38] rhumborl commented on #5611
wow yes same issue. I was surprised nothing at work had been synced up to my account since I installed it there at the start of this year. Also I get an annoying update available every time I launch postman, even with latest installed. Thought maybe installing the latest 8.2.3 would help but now its bricked without the Scratchpad workaround from @FloatingSunfish
Awful

[2021-04-24 00:13] jmayjr commented on #9176
I am having the same issue but if you press `code`  to the right of the send button it can give you the curl command or a snippet of your chosen language and you can test via console.

[2021-04-24 02:51] jmayjr commented on #9176
I tried again in a new tab and it worked without errors :) I didn't do anything else different. I'm not sure If I was messing up originally or if it was just a fluke but its working for me now

[2021-04-24 08:21] Stevemoretz commented on #6999
Switch back to v7, block connection to postman servers.
https://stackoverflow.com/a/65966655/10268067

[2021-04-24 13:11] stokito opened #9866 "Import Swagger: required path params imported with "Lorem ipsum" instead of empty value"
When a Swagger file imported the path variables has a random lorem ipsum values:
![postman-path-param-lorem](https://user-images.githubusercontent.com/415502/115959868-031d1300-a517-11eb-8c83-12b9fa0857c3.png)

This confuses and also I have a pre-request script that populates request path variables from environment variables and it first checks that the path var doesn't have a value.
Could you ple

[2021-04-24 15:50] aravindk777 opened #9867 "null value in JSON body to render in different color display"
**Is your feature request related to a problem? Please describe.**
While working on POST or PATCH, PUT, when passing the body with some values as null,  it is also looking same as other values. Sometimes, the input could be wrong, passing string to a number type or null accepting fields.

**Describe the solution you'd like**
when passing the body with some values as null, it would be good to color

[2021-04-24 21:08] jdecode opened #9868 "2 feature requests : Support of load-testing + Code editors/IDEs integration via plugins/extensions"
**About me:**
I am a web developer with over 20 years of experience in making web-apps (since 2000).
And I love Postman.

I am using Postman (of/for/with/options) :
 - API testing locally (while development)
 - In my company's almost all projects
 - Non-free version
 - Integrated in our CI pipeline (via newman, dockerised, on CircleCi, GitHub and GCP)
 - With monitoring, and notifications are sent

[2021-04-25 12:11] vvs11 commented on #9868
@jdecode Thanks for writing in! Your feedback is really helpful for us. We are aware of the issues that you mentioned and are working towards figuring out a solution that fits all use cases. We will keep you posted on the developments on this thread.

[2021-04-25 23:58] postman-support commented on #9857
@gatrongnuoiheo and @AMBULATUR,

Our engineering team has confirmed that the https proxy feature will be included in the version 8.3.0 release.

We do not have an exact ETA yet but I will update here if we hear back any further information!

Thanks for your patience and also thanks for your interests in our new feature!

via @taehoshino | Postman Support

[2021-04-26 00:14] postman-support commented on #9837
Hey @harshvchawla,

I hope all is well! I just wanted to follow up on my previous message.
If there's anything we can help, please do feel free to reach out!

Have a great day and thanks for using Postman 🚀​

via @taehoshino | Postman Support

[2021-04-26 00:16] postman-support commented on #9817
Hey @shalltears,

I hope all is well! I just wanted to follow up on my previous message - are you still experiencing the issue here?
Please do feel free to reach out if there is anything we can help!

Have a great day and thanks for using Postman!

via @taehoshino | Postman Support

[2021-04-26 02:36] codenirvana commented on #9862
@andersonjackc Can you share a scaled-down collection that we can use to reproduce this issue?

[2021-04-26 04:05] 4thousand commented on #9346
good bye postman i go use thunder clinet i cant wait postman support m1

[2021-04-26 05:15] ankit-m commented on #9864
@silverbullettruck2001 Thank you so much for filing this feature request. We are working towards improving our API support for pull requests as well as the entire version control offerings in Postman. Will update this thread once we release the improvements.

[2021-04-26 05:32] VShingala commented on #9866
@stokito While importing or generating collection from Swagger file, you can provide options under `Show advanced settings` dropdown menu. Here you can use `Schema` instead of `Example` for parameter value generation. This will make sure a placeholder like `<string>` (i.e. `<{type_of_param}>`) is used instead of a randomly generated string.

As an empty value does not indicate the type of paramete

[2021-04-26 05:47] VShingala commented on #9669
@sansfromage46 We have identified the issue and are working on it. Fix for it will soon be available.

[2021-04-26 06:04] sarathkumarps commented on #1066
+1 :(

[2021-04-26 06:33] jyeros opened #9869 "OpenAPI Response headers are not shown in generated documentation if body is empty"
**Describe the Issue**

When a header is included as part of the response in OpenAPI 2.0 it is correctly added to a collection generated from that schema. However, documentation generated from that collection does not include the header in code examples as it should if response doesn't contain body

**Steps to Reproduce**

1. Go to "Browse"
1. Click on "Create new API" with "Open API 2.0"
1. Enter

[2021-04-26 08:02] c0dezer019 opened #9870 "isoTimestamp needs to return a more universal format."
**Is your feature request related to a problem? Please describe.**
Yes, {{$isoTimestamp}} returns 2020-06-09T21:10:36.177Z, making it impossible to work with the Python datetime library. In order to utilize {{$isoTimestamp}} I have to install the moment package. This means that if I want to use $isoTimestamp when testing, I'll have to convert all datetime usage to moment.

**Describe the solution

[2021-04-26 08:09] temamagic commented on #7895
Same problem

![image](https://user-images.githubusercontent.com/15264697/116050001-a852fb00-a67f-11eb-9024-98031a04d3af.png)

[2021-04-26 08:57] nazmulmamunh commented on #4009
1

[2021-04-26 09:17] algorun77 commented on #6926
I would also appreciate this feature. We are using a variable to define our endpoints name (folder Clients ? The endpoint is '/clients', etc) and each time we duplicate a folder to create a new endpoint, we must remember to change that currently hard-coded variable in the duplicated folder. It would really help automation to be able to handle the folder name directly !

[2021-04-26 09:45] stokito commented on #9866
Great! thank you @VShingala

[2021-04-26 09:59] #9866 closed, assigned to nobody

[2021-04-26 10:13] aditya305 opened #9871 "Added request description | AssertionError: expected [] to have a length above 0 but got 0?"
How can I solve this in postman??
Tried finding documentation but can't find anything??
![image](https://user-images.githubusercontent.com/41361167/116066569-d2b7af00-a6a5-11eb-93ad-cbea5666f050.png)

**Environment Information**

 - Platform Type:  Windows
 - Postman Version: v8.2.3
 - Operating System: Windows 10

[2021-04-26 10:34] DannyDainton commented on #9871
Hey @aditya305

This assertion error looks like it's very specific to the Postman Student Expert Course - Can you open up a new thread on the Postman Community forum, please. They're a great group of folks on there who have already taken that course and will advise you on how to resolve this scenario.

https://community.postman.com/

Closing this issue and it's not a functional problem with the Po

[2021-04-26 10:34] #9871 closed, assigned to nobody

[2021-04-26 12:22] abhijitkane commented on #3013
Support for HSTS in Postman's proxy has been released with version 8.3.0. This is only available on Postman's native app, and not the version on the web.

Once you upgrade, check https://learning.postman.com/docs/sending-requests/capturing-request-data/capturing-http-requests/#capture-https-traffic-with-postmans-built-in-proxy for installing the certificate Postman needs to read HTTPS requests.

[2021-04-26 12:23] #3013 closed, assigned to abhijitkane

[2021-04-26 12:23] abhijitkane commented on #9857
@gatrongnuoiheo @AMBULATUR Support for HSTS in Postman's proxy has been released with version 8.3.0. This is only available on Postman's native app, and not the version on the web.

Once you upgrade your app, check https://learning.postman.com/docs/sending-requests/capturing-request-data/capturing-http-requests/#capture-https-traffic-with-postmans-built-in-proxy for installing the certificate Post

[2021-04-26 12:25] abhijitkane commented on #8541
@Ferdzzzzzzzz  Support for HSTS in Postman's proxy has been released with version 8.3.0. This is only available on Postman's native app, and not the version on the web.

Once you upgrade, check https://learning.postman.com/docs/sending-requests/capturing-request-data/capturing-http-requests/#capture-https-traffic-with-postmans-built-in-proxy for installing the certificate Postman needs to read HTT

[2021-04-26 13:16] avchernys commented on #9857
I have updated my postman. I'm on Windows and the folder C:\Users<user>\AppData\Roaming\Postman\proxy exists however no certificate inside. What should I do?

[2021-04-26 13:28] abhishekc23 commented on #9857
@avchernys Please ensure openssl is installed on the windows machine. The steps can be found here
https://learning.postman.com/docs/sending-requests/capturing-request-data/capturing-http-requests/#requirements-to-use-the-openssl-module

After installing openssl, please restart the app.

[2021-04-26 13:31] codenirvana commented on #4808
Hello everyone 👋
**Postman v8.3.0** added support for mutating the request body in the `pre-request` scripts.

Example to set different body modes:
[code]

Example to mutate existing request body:
[code]

[code]

Please try it out and let us know if you face any issues.

[2021-04-26 13:31] #4808 closed, assigned to codenirvana, vkaegis

[2021-04-26 13:42] avchernys commented on #9857
Works now, thanks!

[2021-04-26 14:19] mohitranka commented on #2934
Hi All,

This feature is available in [desktop app v8.3.0](https://www.postman.com/downloads/). Please try it out and let us know if you face any issues.

[2021-04-26 14:22] codenirvana commented on #3358
Hello everyone 👋

To temporarily unblock this, **Postman v8.3.0** added support for programmatically mutating the request body.
So, the workaround suggested by @AkariMarisa will work now. 🎉

The following `pre-request` script will remove comments from the raw mode body.
[code]

Also, we'll soon add native support for this in the app.

[2021-04-26 14:22] gatrongnuoiheo commented on #9857
perfect

[2021-04-26 14:23] gatrongnuoiheo commented on #9857
many thanks

[2021-04-26 14:26] codenirvana commented on #4693
**Postman v8.3.0** added support for programmatically mutating the request body.

The following `pre-request` script will  remove/disable a form-param programmatically:
[code]

[2021-04-26 14:31] lvl99 commented on #4808
Damn, need a micdrop emoji with that closed issue message 🎤 💥

[2021-04-26 14:42] StrohmyerTR commented on #4808
Hell yes. Thank you!!!

[2021-04-26 14:44] #9857 closed, assigned to nobody

[2021-04-26 15:33] Kupie commented on #9488
Leaving this in as-is would be a ridiculous thing. Surely it wouldn't come back on startup every time, would it?

Oh wait

[2021-04-26 15:35] michealzh commented on #4264
Is there a plan to support RSA encrypt decrypt sign or verify feature?

[2021-04-26 16:10] mmci2468 opened #9872 "New Integration Request - <product name>QuickBooks"
**Describe your current workflow**
How do you use Postman with the rest of the tools in your stack to achieve your use-case?
Get payment

**Describe your ideal workflow**
How would you want Postman to integrate with specific products/tools to simplify or enhance your experience?
Cash flow
**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or fe

[2021-04-26 17:40] codenirvana commented on #8377
This issue is fixed in the latest version of the Postman app `v8.3.0`.

[2021-04-26 17:40] #8377 closed, assigned to codenirvana, saswatds

[2021-04-26 17:42] codenirvana commented on #8876
This issue is fixed in the latest version of the Postman app `v8.3.0`.

[2021-04-26 17:42] #8876 closed, assigned to codenirvana

[2021-04-26 17:46] jordanbisato commented on #4808
A example to add json parameter on raw body:

`var data = JSON.parse(pm.request.body.raw);
    data.key = key;

    let body = {
        mode: 'raw',
        raw: JSON.stringify(data),
        options: {
            raw: {
                language: 'json'
            }
        }
    }
    pm.request.body.update(body);`

[2021-04-26 17:48] codenirvana commented on #8492
**Postman v8.3.0** added support for showing request and response headers for redirects.

<img width="1012" alt="Screenshot 2021-04-26 at 11 13 31 PM" src="https://user-images.githubusercontent.com/4865836/116127159-21d10480-a6e5-11eb-93a7-16a4ace18b51.png">

[2021-04-26 17:48] #8492 closed, assigned to codenirvana, ritwijsinha

[2021-04-26 17:49] timvdh commented on #2934
The issue I am facing is that I think I am going insane. I ran into the "audience" problem an hour ago just to find out that a fix (awaited for years) was released three hours ago. That can't just be luck. However, thank you a lot - no more audience problems here.

[2021-04-26 18:47] peti123x commented on #8288
Hey,

Postman is still crashing on 8.3.0 with a response of 21MB :/ Its odd, I get a response, for about 5-6 seconds I can even view it and then the screen turns grey.

[2021-04-26 20:49] praveendvd opened #9873 "Collection created from API definition has different structure than in swagger"
**Describe the Issue**

1. Generate collection from open api schema doesn't show folder structure as in swagger.
2. If only one request under a section then no folder is created in for that section in the generated collection

**Steps to Reproduce**

use the twitter api definition:

[Twitter API definition](https://api.twitter.com/labs/2/openapi.json)

The swagger structure is as follows:

![image

[2021-04-26 21:08] praveendvd commented on #9865
https://www.jsonschema.net/login you can use this website to generate schema

[2021-04-26 22:23] Romiko opened #9874 "New Integration Request - Azure Devops & Azure API Management"
**Describe your current workflow**
It would be great to have postman integrate with Azure Devops and sync with Azure API Management.

**Describe your ideal workflow**
Any updates to postman can auto sync with Azure API Management, similar to swaggerhub
see - [swaggerhub integrations](https://support.smartbear.com/swaggerhub/docs/integrations/azure-api-management.html)

**Describe alternatives you'

[2021-04-26 23:34] saiudayakella commented on #9859
Thanks @mccannt for logging a bug related to the console log.

I could send form-data. Earlier I was missing a character in the request URL on my side :)

You can close this issue if you have already logged a new bug.

[2021-04-26 23:39] rudisills commented on #9024
Please make 2 spaces the default instead of 4 spaces.

[2021-04-27 01:14] DumiM commented on #7414
This fixed it for me

[2021-04-27 01:27] shalltears commented on #9817
Sorry, because I'm busy with the project, I'll use the lower version first, and I'll give feedback immediately when I have time to test later.

[2021-04-27 04:31] esbenbach commented on #2934
Just count your self lucky. The rest of us had to wait years not hours :)
(i.e invent lots of horrid workarounds)

On Mon, 26 Apr 2021, 19:49 Tim van der Horst, ***@***.***>
wrote:

[2021-04-27 05:08] 01binary commented on #2934
I spent the last year working around the lack of this feature by sending a request to get a token first (i.e. Azure's /token endpoint), and then including it in Authorization header when sending requests to my API by concatenating to "bearer ". I guess it's good to know details in case you ever need to debug authentication or explain it to somewhat who likes concrete details.

[2021-04-27 05:11] VShingala commented on #9873
@praveendvd While importing or generating collection from API, you can select options under `Show advanced settings` dropdown menu. Make sure you have selected `Tags` for option `Folder organization`, this results in the use of specification-defined tags for generating folders.

![image](https://user-images.githubusercontent.com/16756296/116185840-0c3cf880-a740-11eb-97c4-e4a6be570c36.png)

[2021-04-27 05:11] #9873 closed, assigned to nobody

[2021-04-27 05:59] giridharvc7 commented on #9763
This is now fixed in app version 8.3.0 and on the web. Please give it a try and let us know! @Sadagopan88 @jthake-msft @hpinsley

[2021-04-27 05:59] #9763 closed, assigned to nobody

[2021-04-27 08:52] ankit-m commented on #8682
This feature released and available on Postman web as well as native apps.

[2021-04-27 08:52] #8682 closed, assigned to ankit-m, preethammavin

[2021-04-27 08:55] ankit-m commented on #9563
We have launched the ability to watch a PR. The PR author will now be notified about any comments left on the PR. Do let us know if this resolves your issue :)

[2021-04-27 08:55] #9563 closed, assigned to nobody

[2021-04-27 09:44] ankit-m commented on #6843
Marking this as duplicate and tracking #5552

[2021-04-27 09:44] #6843 closed, assigned to ankit-m

[2021-04-27 10:18] samvpillay commented on #9835
Hey @DannyDainton , thanks for the feedback.
Just to check, does this relate to environment files, for Initial Value vs Current value?
We have all of our sensitive and environment specific details outside collections \ inside environment files.
This means our sensitive information is stored in the environment file Initial Values, which I presume are synced the cloud?
Thanks, Sam

[2021-04-27 10:36] arlemi commented on #9024
@rudisills You can change that in your settings:
![image](https://user-images.githubusercontent.com/5029719/116228118-c8042500-a74c-11eb-8072-7b0bf4b1a5e6.png)

[2021-04-27 11:01] ajhbh commented on #3692
The company I work for has changed it's proxy to NTLM authentication so we also need this feature if we're to keep using Postman.

[2021-04-27 12:56] rudisills commented on #9024
I appreciate your response to make sure I understand the feature.
The feature works as intended.

I'm suggesting that most customers would prefer the default indentation count to be 2 instead of 4. Four-line indentation wastes space visually -- especially in the Response panel which is only ~1/3 of the screen width and from my experience often wraps lines in output text.

I'm suggesting changing t

[2021-04-27 13:11] arlemi commented on #9024
@rudisills In that case I'd recommend creating a new feature request and see if other people feel the same, though to be completely transparent that feature has been out for 8 months and this is the first time we're hearing this. 😄

[2021-04-27 13:14] kimalive commented on #2934
I also hit the jackpot. I just ran into this issue and was about to start on a workaround. Then I saw it had been fixed and updated to v8.3.0.

[2021-04-27 13:21] SwaroopKumarDasari commented on #7569
Use this link guys, it worked for me. Just follow the steps properly.
https://learning.postman.com/docs/getting-started/installation-and-updates/#installing-postman-on-linux

[2021-04-27 13:23] pankajk07 commented on #9024
@rudisills To add to @arlemi's comment, before this setting was introduced the value of the indentation count was 4 and not configurable. Hence we kept the default value equal to 4 when we introduced this setting.

[2021-04-27 14:11] giridharvc7 commented on #5236
This is now fixed, please check out our new version 8.3.0 or [Postman web](https://go.postman.co/build). We'd love to know what you think!
<img width="776" alt="Screenshot 2021-04-27 at 7 38 50 PM" src="https://user-images.githubusercontent.com/1040583/116255789-34ecde80-a790-11eb-8329-fc590bede565.png">

[2021-04-27 14:11] #5236 closed, assigned to vkaegis

[2021-04-27 14:22] giridharvc7 commented on #5624
Unsaved entities in Postman are marked with a visual indicator now, let us know what you think @m3dbedb
<img width="463" alt="Screenshot 2021-04-27 at 7 52 11 PM" src="https://user-images.githubusercontent.com/1040583/116257893-112a9800-a792-11eb-93d6-e41c565aec92.png">

[2021-04-27 14:22] #5624 closed, assigned to nobody

[2021-04-27 14:30] mccannt commented on #9859
@saiudayakella Thanks for following up on this.
I will close this issue out for now but please let us know if you run into any further issues like this.

I had kept the defect open for `undefined` in the console on our end to address shortly :)

[2021-04-27 14:30] #9859 closed, assigned to nobody

[2021-04-27 14:42] mediafinger commented on #9841
I've just upgrade from Postman 7.x to 8.30 - and all the contrasts are gone. Most colors are too light for fonts this small.

Please use an A18y tool that supports designers in picking font sizes, weights, colors and background colors with enough contrast.

For now I've downgrade to 7.x, but looks like I've lost all my collections (or they are not loaded, as they probably are stored somewhere else

[2021-04-27 14:49] Ephesoft-Stitus commented on #9563
@ankit-m - Thank you for the update.  I see that feature and will update our team on this, and it should resolve the issue.   FYI: I think the update broke in-line comments on PR's.  Existing comments disappeared after the Watch feature showed up...  I'll submit a separate issue for that.

[2021-04-27 15:09] passcodex opened #9875 "Failed to enable HTTPs capture after upgrading Postman v8.3.0"
**Describe the Issue**

Failed to enable HTTPs capture after upgrading Postman v8.3.0

**Steps to Reproduce**

https://user-images.githubusercontent.com/11014056/116264671-121cf300-a7ad-11eb-8622-7ee4bbbac219.mp4

**Screenshots or Videos**

![image](https://user-images.githubusercontent.com/11014056/116264777-2b25a400-a7ad-11eb-9c89-c577d5990ec0.png)

**Environment Information**

 - Platform Type:

[2021-04-27 15:52] ysaead opened #9876 "Monitor not combining two arrays correctly"
**Describe the Issue**

 I am trying to create an object that consists of two arrays; one that is a member and the other for its values. Lets just assume they are stocks and their prices for simplicity.

**Steps to Reproduce**

Create two arrays:
1) Stock Tickers (TSLA, AAPL, etc)  = rollover_Watchlist
2) Stock prices (150, 200, etc) = rollover_Prices

I used the following code to create the objec

[2021-04-27 17:03] jthake-msft commented on #9763
Its odd.  If I fork the Microsoft Graph collection. then If i go to my collection with no tabs open in Postman. And click on the "Delegated" folder which is where the authorization is setup and when its open a colored dot shows up next to it which would typically indicate something has changed. If i close that tab, it doesn't prompt me to save.

![image](https://user-images.githubusercontent.com/6

[2021-04-27 17:07] bmoeskau commented on #3994
Just another comment that one of our customers hit this again today, and it's super annoying since the outcome is a random 404. So I guess we're left with:
- Documenting clearly that if you use Postman, you have to know to replace `:` with `%3A` (and handling the inevitable issues)
- Telling our customers NOT to use Postman to avoid confusion (which of course is not reasonable)
- Changing the (val

[2021-04-27 17:10] gwerbin opened #9877 "Support OpenAPI 3.1"
**Is your feature request related to a problem? Please describe.**

[OpenAPI 3.1](https://github.com/OAI/OpenAPI-Specification/blob/main/versions/3.1.0.md) was released in February and has was previously in draft phase since mid 2020.

It offers several improvements over 3.0 and there are good reasons to adopt 3.1 in new projects, especially its new unification with JSONSchema.

OAS 3.1 is not cur

[2021-04-27 17:26] giridharvc7 commented on #7644
We've made exciting changes in Postman, both on the app and the [web](https://go.postman.co/build). Would love to hear your feedback on this.

[2021-04-27 19:44] harshvchawla commented on #9837
Hi @taehoshino

On updating to v8.2.3, my examples did not disappear so this issue seems to have fixed. Thanks for the follow-up

I was not confirming any fix but was raising a different issue actually where I had to close all opened tabs as they had stopped working
Though this is a different bug than the one raised here I understand so hopefully you create a ticket for your development team separ

[2021-04-27 19:44] #9837 closed, assigned to nobody

[2021-04-27 19:49] #9795 closed, assigned to abhijitkane

[2021-04-27 21:09] urmichm commented on #5611
I have found a great workaround here lol
https://www.thunderclient.io/

[2021-04-28 01:01] tuncenator commented on #8040
One could even use the other example on PDF.js site in combination with @Tezirg's solution to display all pages of a given PDF with Next/Prev buttons like so, effectively enabling PDF preview support;

[code]

[2021-04-28 06:21] #6696 closed, assigned to vkaegis

[2021-04-28 06:36] harshvchawla opened #9878 "Updated to latest v8.3.0 but now reopening postman results in error screen when in scratchpad"
**Describe the Issue**
When I reopen postman desktop app, I get this error if there were any opened (unsaved and saved - errors out for either/both) tabs while closing

**Steps to Reproduce**
1) Open any tab in scratchpad (not logged in) in postman desktop app
2) Close postman
3) Open postman
4) Error screen as shown in screenshot

**Screenshots or Videos**
![postman error - v8 3 0](https://user-i

[2021-04-28 06:41] Norgul opened #9879 "Retractable side bar"
Version: Postman 8.3.0

**Is your feature request related to a problem? Please describe.**
No

**Describe the solution you'd like**
I have a small screen and I like having a collapsed sidebar. What happens though is that once I click on any element on the sidebar it gets expanded (which is okay) but in order to collapse it again, I need to target with my mouse where the sidebar ends, and drag it o

[2021-04-28 06:49] Norgul opened #9880 "Drag'n'drop inner folder as a separate collection"
Version: Postman 8.3.0

**Is your feature request related to a problem? Please describe.**
No

**Describe the solution you'd like**
I have folders within a single collection. It would be great if they could be proclaimed as collections of their own. You can drag'n'drop inner folders to another top-level collection, but you can't proclaim it as being a main top-level collection.

**Describe alterna

[2021-04-28 07:50] OculiViridi opened #9881 "Interceptor for Requests and Cookies is always disabled everytime Postman starts"
### Description

First of all, I'm not sure this is an issue, because maybe it's a deliberate behaviour for reasons I don't know.

The problem is really simple to describe: **everytime I open Postman after a reboot of the PC**, a popup message appears on the bottom right corner of the app, saying:

![image](https://user-images.githubusercontent.com/42179710/116366158-496bbe00-a806-11eb-8062-42d319

[2021-04-28 09:54] tbrodbeck opened #9882 "More concise JSON formatting"
**Is your feature request related to a problem? Please describe.**
Current JSON Formatting looks like:
[code]
**Describe the solution you'd like**
A preferred more concise formatting (of pprint):
[code]
-> 35% less lines. Clearer readability.
**Additional context**
Thats about it. Thank you.

[2021-04-28 09:59] pb-qs commented on #8761
I had high CPU from Postman whilst doing frankly nothing.  Installing the pending update has worked for me so far (now a couple of hours).

I am now on:
  Postman for Windows
  Version 8.3.0
  win32 10.0.18363 / x64

[2021-04-28 11:01] DannyDainton commented on #9882
Hey @tbrodbeck

Thanks for the suggestion, I know this is a very subjective point and people will view this differently, I feel like your proposed solution is _less_ readable than the current JSON formatting. As a human, it would take me a lot longer to scan through those nested objects.

I'm not sure that I believe that having a reduced amount of lines (35% in your suggestion) makes something ins

[2021-04-28 11:16] sean-wils opened #9883 "New Integration Request - GitLab (Backup Environment)"
Currently any changes to an Environment needs to be manually pushed to a project in GitLab.

I would like to see the existing GitLab Integration functionality (Collection Backup) enchanced so that Environments are included also.

![image](https://user-images.githubusercontent.com/18518299/116394777-3dd6c200-a81b-11eb-9004-15db164f922d.png)

[2021-04-28 11:19] tbrodbeck commented on #9882
Hi Dainton. Thanks for your input.

I generated this formatting with Python:
[code]

[2021-04-28 11:40] Mahmud989 commented on #3099
Hi. this app drive me crazy. up to date postman and new created collection all parameters right but export collection gives me
[code]

[2021-04-28 12:22] mbauerdev commented on #8388
Same here!

[2021-04-28 13:11] shashankawasthi88 commented on #9875
@passcodex can you ensure that OpenSSL is installed on your windows machine. https://learning.postman.com/docs/sending-requests/capturing-request-data/capturing-http-requests/#requirements-to-use-the-openssl-module
Please restart the Postman App after the installation of OpenSSL and check if the proxy directory is created or not.

[2021-04-28 13:58] PZ01 commented on #9614
In my opinion a good idea would be to have the arrow '>' be the button that acts as a toggle to display or hide the examples under a given request.

Our team has about 20 collections for different micro-services with 5-15 endpoints each, which in turn have examples. It becomes really messy to scroll up and down whenever I click on a request. Especially for QA who aren't necessarily using Postman R

[2021-04-28 13:59] Wotuu commented on #9750
Hi, I'm running the latest v8.3.0 and the issue just came back. There's nothing in particular that I did, it's exactly like was described above. Only my own workspace is affected and not any other workspace.

[2021-04-28 16:18] neglectedvalue opened #9884 "Postman fails to generate Postman Collection for GraphQL"
Postman fails to generate collection for Postman Collection (from GraphQL) API.

**Steps to Reproduce**
1) Open Postman, go to your Workspace
2) Press import button
3) Select graphql schema file (see it in attachment)
[GraphQLSchema.schema.zip](https://github.com/postmanlabs/postman-app-support/files/6393321/GraphQLSchema.schema.zip)

4) Make sure 'Generate collection from imported APIs' checkbox

[2021-04-28 16:22] loopDelicious commented on #6639
Lots of people use Postman to demo their own tech in conference talks and customer conversations. I have leaked so many secrets unintentionally on livestreams. It would be helpful to have a Hide / Show toggle where the default is hidden.

[2021-04-28 16:41] johnwyles opened #9885 "UUID for Variables change every API request to a Collection"
**Describe the Issue**
UUID for Variables change every API request to a Collection
Further discussion found here: https://community.postman.com/t/why-does-the-uuid-for-variables-change-every-api-request-to-a-collection/22954/5

**Steps to Reproduce**
# FIRST RUN (1)
[code]

## RESULTS (1)
[code]

# SECOND RUN (2)
[code]

## RESULTS (2)
[code]

**Screenshots or Videos**

**Environment Information**

[2021-04-28 17:36] carlskii commented on #6719
+1

[2021-04-28 18:13] nrmartell opened #9886 "Support Subfolders in Custom domain for Documentation"
**Is your feature request related to a problem? Please describe.**
Postman Documentation can only be published on a subdomain such as subdomain.maindomain.TLD. Something like domain.com/folder isn't currently supported

**Describe the solution you'd like**
It would be great if we could support something like  www.domain.com/documentation/apidocs/<Postman docs GUID> where subfolders are /documentat

[2021-04-28 18:52] aakashsingh90 opened #9887 "I can not see 'Automatically persist variable values'"
**Describe the Issue**
I can not see 'Automatically persist variable values'

**Steps to Reproduce**
I can not see 'Automatically persist variable values'
I have Postman version Version 8.3.0 using it on mac

**Screenshots or Videos**

![image](https://user-images.githubusercontent.com/51633863/116457305-dd7a6b80-a880-11eb-82d7-d1d5590a2dd6.png)

**Environment Information**

 - Platform Type: Mac

[2021-04-28 19:11] DannyDainton commented on #9887
This option was removed in version v8.0.8

https://www.postman.com/downloads/release-notes/

[2021-04-28 19:45] thedocbwarren commented on #9346
What is thunder?

[2021-04-28 19:46] mikeelston commented on #9346
https://marketplace.visualstudio.com/items?itemName=rangav.vscode-thunder-client

[2021-04-28 19:49] thedocbwarren commented on #9346
Cool thanks!

I'll check it out.  I don't use 99% if postman's features as I normally write mocha tests.  That said, sometimes it's nice to quickly work with something in a client.  Who knows if postman is working on Apple Silicon native version.  Even though I think the tool-chain is native now.  But I don't work there.

[2021-04-28 20:31] Eyad-Mohammed-Osama commented on #9176
In case this might be helpful for someone:
I've been having this problem also on my local endpoint, i was sending HTTP status code 204 (No Content), i replaced it with 200 (OK) and everything worked fine
I actually find this to be a strange issue, any explanations would be appreciated

[2021-04-29 00:41] taehoshino opened #9888 "[SSO] Enable SSO feature for smaller teams"
**Is your feature request related to a problem? Please describe.**
In our current [plan&pricing](https://www.postman.com/pricing/), SSO feature is only available for Business and Enterprise teams. However, it does not make sense for smaller teams to migrate to Business plan only to be able to use SSO, which can raise concerns about corporate security.

**Describe the solution you'd like**
Enable S

[2021-04-29 01:03] #9888 closed

[2021-04-29 01:36] VincentChen1212 opened #9889 "Postman 8.3.0 can't use "Edit""
Postman 8.3.0 can't use "Edit" Button to edit variable etc..
Click  collection is not work too.

[2021-04-29 02:35] postman-support commented on #9887
### @aakashsingh90
Our team has filed another GitHub Issue (3029) with our documentation to fix the discrepancy. This should align what Danny has mentioned and what is currently posted on our docs.

via @asi-postman | Postman Support

[2021-04-29 03:47] cyberhck commented on #6719
@carlskii does that app support variables like postman? how about pre-request scripts? Tests?

[2021-04-29 07:28] akashsharma99 opened #9890 "Postman VS code extension"
**Problem**
The postman application for windows is great with lots of features but while developing an API on VS code we have to switch to the postman app to create requests and test the API.

**Solution**
A simple vs code extension that we can use to create and make requests to any API we are working on. This will help simplify the workflow and speed up API testing for simple requests.

**Current

[2021-04-29 08:14] carlskii commented on #6719
Yes - it does variables and from what I can see pre-request scripts. Can't see tests though.

[2021-04-29 08:16] carlskii commented on #6719
Actually Insomnia does work really well too. I quite like the cleaner less cluttered  UI.

[2021-04-29 08:25] Artur2 commented on #5302
@martinszeltins Just use Nightingale, if you use Windows, it's faster than Postman and doesn't eat so much memory
Good alternative for Electron's sh*t

[2021-04-29 08:56] cosimochellini commented on #5302
@Artur2 completely agree, I have been using it for months now and I am very happy with it!

[2021-04-29 09:23] buehler commented on #5194
As the creator of the issue listed several alternatives, here is another:
https://kreya.app/

[2021-04-29 09:29] SnehaPuthoor commented on #3537
Hey @harryi3t , I am not familiar with postman param n authorisation settings.. could you please help me to explain what all the fields to be filled while I am trying to authenticate eBay api..
I am trying to check GET https://auth.eBay.com/oauth2/authorise

Really appreciate your help on this, please..

Thanks.

[2021-04-29 09:36] 06MasonG commented on #5302
@Artur2 just downloaded 😁 pretty UI's make the world a better place 🕊

[2021-04-29 10:55] DannyDainton commented on #9889
Hey @VincentChen1212

Without more contextual information and a visual example of what you mean, it's going to be tough for us to take this any further.

[2021-04-29 10:59] DannyDainton commented on #9854
Closing this issue are it's lacking the contextual details for us to progress it further. If the details are provided, we will look to open it up again.

Please use the template as a guide to show what information we require.

[2021-04-29 10:59] #9854 closed, assigned to nobody

[2021-04-29 10:59] DannyDainton commented on #9805
Closing this issue are it's lacking the contextual details for us to progress it further. If the details are provided, we will look to open it up again.

Please use the template as a guide to show what information we require.

[2021-04-29 10:59] #9805 closed, assigned to nobody

[2021-04-29 11:00] DannyDainton commented on #9769
Hey Folks,

Are you still seeing this issue in the latest version of the app? If not, we can look to close this one out.

[2021-04-29 11:01] DannyDainton commented on #9843
Closing this issue are it's lacking the contextual details for us to progress it further. If the details are provided, we will look to open it up again.

Please use the template as a guide to show what information we require.

[2021-04-29 11:01] #9843 closed, assigned to nobody

[2021-04-29 11:04] DannyDainton commented on #9334
Hey @thinkersOne

Is this still an issue for you? If not, we can close this one out.

[2021-04-29 11:06] DannyDainton commented on #9151
Closing this issue are it's lacking the contextual details for us to progress it further. If the details are provided, we will look to open it up again.

Please use the template as a guide to show what information we require.

[2021-04-29 11:06] #9151 closed, assigned to nobody

[2021-04-29 11:09] DannyDainton commented on #9153
Hey @ChesterZheng / @clementizard

Is this still an issue that you're facing or can we close this one out?

[2021-04-29 11:10] DannyDainton commented on #9069
Hey @hcpx

Is this still an issue that you're facing with the latest app version?

[2021-04-29 11:44] pm-komal-jain commented on #9769
@DannyDainton  -  its working for me now. Thanks.

[2021-04-29 12:06] #9769 closed, assigned to nobody

[2021-04-29 12:44] NileshHindoliya opened #9891 "Unable to set environment variable dynamically"
Unable to  set/add environment variable from `Tests` after getting the API response.
That's what I'm doing:

[code]

Postman Version: `8.3.0`
Operating system: `macOS Big Sur`

[2021-04-29 13:16] postman-support commented on #9891
Hey @NileshHindoliya

Thanks for reaching out. Happy to help.

I have tested your code assuming the jsonData is valid. It is working completely fine for me. Screenshots below :
 ![](https://postman.zendesk.com/attachments/token/IdrCJdKofL0J7SJHGL21fk0uN/?name=inline-850576479.png)​​
 ![](https://postman.zendesk.com/attachments/token/qn8iNxWtX4nh55xrdq9Whw3xj/?name=inline1090556988.png)​ Could you

[2021-04-29 13:43] ysaead commented on #9876
@DannyDainton Thanks for making the changes! Any idea when this can be assigned to someone?

[2021-04-29 13:51] NileshHindoliya commented on #9891
When I was trying to add new variable (not from the json), in `hasTokenSet()`, it wasn't added either so I thought there maybe a problem in the latest release but apparently the problem was with json, after correcting it everything working fine.

Thanks for pointing out

[2021-04-29 13:51] #9891 closed, assigned to nobody

[2021-04-29 14:00] postman-support commented on #9891
Awesome 😍​ Glad that it is working fine now! Thanks for letting me know.

I am closing this thread here, just for the time being. Please do feel free to reach out if there is anything else we can help!

Have a great day and thanks for using Postman! 👋​

via @VaishnaviChallaPostman | Postman Support

[2021-04-29 15:11] houdini68 commented on #4033
Hi,

I got the keys (certificate and private) from Ibanity and I have tried several methods to change the password of the private key and it was unsuccessful. The method of @rvq works if all the private keys share the same password.

**I have applied the following method:**

**Where is the config of Postman?**
[code]
**Configure Postman to use for example the PROD environment of Ibanity**
exit Pos

[2021-04-29 15:13] pacific202 commented on #4033
Key words here:

 _if all the private keys share the same password_

Not going to happen in any real world scenario.

[2021-04-29 15:42] borsini commented on #8626
I second this bug report. To let the user decide, having a checkbox to automatically encode all query params would be great.

[2021-04-29 15:50] sandrapavankumar opened #9892 "Asking to update although I have a latest version 8.3.0"
**Describe the Issue**

**Steps to Reproduce**

**Screenshots or Videos**

**Environment Information**

 - Platform Type:
 - Postman Version:
 - Operating System:

**Additional Context**

[2021-04-29 15:51] sandrapavankumar opened #9893 "Workspaces are not being displayed after I restart postman 8.3.0"
**Describe the Issue**

**Steps to Reproduce**

**Screenshots or Videos**

**Environment Information**

 - Platform Type:
 - Postman Version:
 - Operating System:

**Additional Context**

[2021-04-29 16:06] abhijitkane commented on #208
The latest version of Postman on the web (https://go.postman.co/) supports importing WSDLs. This feature is still in beta, and any feature requests / bugs can be reported here, or on https://github.com/postmanlabs/wsdl-to-postman/. @smshuja @wiffelwicht @JacobcarrellWork @Misiu @ab-cc

[2021-04-29 16:19] JacobcarrellWork commented on #208
Is this feature planned to make it into the desktop version of Postman?

[2021-04-29 16:46] VictorAlagwu opened #9894 "JSON response no longer beautify in new update"
**Describe the Issue**
The JSON response is no longer beautify

**Steps to Reproduce**
Make a request using any API, that is expected to return a JSON formatted response, The pretty tab no longer displays beautify JSON formatted data

**Screenshots or Videos**

Before Update:-
<img width="782" alt="Before Update" src="https://user-images.githubusercontent.com/15857679/116587636-8e7d1680-a912-11eb-

[2021-04-29 16:52] DannyDainton commented on #9894
Hey @VictorAlagwu

That looks like you're using a mock server, the example request would need the `Content-Type: application/json` header too.

[2021-04-29 16:58] VictorAlagwu commented on #9894
Actually @DannyDainton it's not a mock server (The first screenshot is an example of a request made in the previous version)

I did as you said, but same issue
<img width="685" alt="Screenshot 2021-04-29 at 5 55 54 PM" src="https://user-images.githubusercontent.com/15857679/116589372-7a3a1900-a914-11eb-8db1-52982ec140f3.png">

[2021-04-29 17:02] fernadodemitropulos opened #9895 "New Integration Request - Mercado Libre"
It would be great to have a complete integration with MercadoLibre

[2021-04-29 17:05] DannyDainton commented on #9894
The `before Update` Image, is from an _example request_ and not an actual main request. You can see that by how the _Status Code_ is displayed in the image.

Can you check the **response** headers to see if the correct header is coming through for the request, that will determine how the data is displayed.

Do you have an example request that we can run locally? It's difficult to see exactly what

[2021-04-29 17:13] VictorAlagwu commented on #9894
Thanks @DannyDainton
It's resolved, I just restarted my laptop..and everything is back to normal
<img width="501" alt="Screenshot 2021-04-29 at 6 12 37 PM" src="https://user-images.githubusercontent.com/15857679/116591346-9ccd3180-a916-11eb-8206-b366af830f98.png">

[2021-04-29 17:13] #9894 closed, assigned to nobody

[2021-04-29 17:58] ivanjeremic commented on #9890
I switched exactly because of this to thunder client, not sure what you mean by it is not readable thunder client is perfectly readable and the UI is perfect. But I would love that Postman sees the need for this and gives us an extension for vscode

[2021-04-29 18:12] abhijitkane commented on #208
@JacobcarrellWork Yep - it'll be included in the next desktop release.

[2021-04-29 19:09] syedsanahassan commented on #9397
I have lost my entire history too, please let us know what's the way to recover old history

[2021-04-29 19:10] syedsanahassan commented on #8908
@charlie-postman is there an update to know how to recover lost history? I lost all my history when I upgraded and now I downgraded to Version 7.36.5 (7.36.5) and still can't see my history

[2021-04-29 20:04] rvq commented on #4033
Password can be changed with openssl for example

[2021-04-29 20:11] kevingilbert100 commented on #8195
+1

[2021-04-29 23:32] spacecowgoesmoo commented on #9878
Having the same problem here. Postman v8.3.0, Mac OS 11.3. I've got two tabs open all the time and whenever I launch Postman one of them displays the 'something went wrong' notice. The tab works fine when I close the error and reload it.

[2021-04-29 23:46] praveendvd opened #9896 "Name is not valid error on trying to make a workspace public"
**Describe the Issue**

Public workspace converts special and space character to - in the constructed public url , this causes test-test and test@test to be resolved to the same url . So if a public workspace with name test-test exists then user cannot create workspace with name test@test.

The error message just says workspace name is not valid, no other helpful message

**Steps to Reproduce**

1

[2021-04-30 00:13] awisalkarni commented on #8195
+1

[2021-04-30 02:33] clairefro opened #9897 "Unable to duplicate/delete requests in Postman web (Chrome 90, Mac OS 10.15.7)"
**Describe the Issue**
In Postman web, when attempting to duplicate a request using tri-dot > "Duplicate" or cmd + d, a new request is created but is populated with an error message "Requestion not found".

I am unable to delete this semi duplicated request from the web (see screenshots).

I am able to delete/duplicate as expected in the desktop app

**Steps to Reproduce**
1. create a request in P

[2021-04-30 04:34] Camios commented on #8912
Agreed anything typed into the VALUE column of the Query params table should be URL encoded. I am seeing that '+' isn't being encoded too.

[2021-04-30 06:41] ElliotNB commented on #7596
@shamasis  +1

[2021-04-30 09:41] giridharvc7 commented on #7782
This is available in Postman 8.x, please check out our app or the Postman web.
![Screenshot 2021-04-30 at 3 10 37 PM](https://user-images.githubusercontent.com/1040583/116677778-3b649b80-a9c6-11eb-8e4a-91756585773f.png)

[2021-04-30 09:41] #7782 closed, assigned to vvs11

[2021-04-30 09:43] #6938 closed, assigned to vkaegis

[2021-04-30 09:54] AlexVigogne commented on #8837
Hello,

Sadly still valid in 8.3.0 version.
I have to hack it with pre-req part for Keycloak..

So i have the only choice between :
- Use it on folder, and every request, even not necessary ones call Keycloak
- Use copy/paste on every request, and it pollutes every request pre-req parts.

[2021-04-30 12:07] Naishy commented on #3777
I had a requirement to limit bandwidth whilst using Postman in order to simulate a slow connection. As a workaround I used [Fiddler Classic](https://www.telerik.com/fiddler/fiddler-classic), which intercepts and logs all traffic in/out when enabled,  to simulate modem speeds (Rules -> Performance -> Simulate Modem Speeds) and it did exactly what I needed.

If you want more control over the bandwid

[2021-04-30 13:42] jdecode commented on #9868
https://github.com/postmanlabs/postman-app-support/issues/9890

Tagging related issue.

Also, guys, let me know if I can be of any help (I know you guys can take care of the development, but I am more than happy to offer any assistance)

[2021-04-30 14:59] jonathanfspencer opened #9898 "Please create a VPAT for US federal agencies"
US federal agencies are subject to Section 508 restrictions, which require certain standards of accessibility be met for software used by their employees.

Please publish Postman's accessibility features compliance using the voluntary product accessibility template available at https://www.itic.org/policy/accessibility/vpat.  Also see https://www.section508.gov/sell/vpat for more information.

Wit

[2021-04-30 16:15] nshiell commented on #6888
Snap was out of date, I just installed the tar.gz as a workaround

[2021-04-30 17:08] timbochamp commented on #9897
Hi @clairefro , thanks for reporting this! I'm unable to reproduce in following the same steps by making a fork from the same 30 Days of Postman workspace. I'll log this as a bug for our team to investigate where we also had someone internal find the same problem.

[2021-04-30 17:10] timbochamp commented on #9750
Thanks for flagging this, @Wotuu . I've reopened the bug for the team to continue investigating.

[2021-04-30 17:24] m365ken commented on #6832
@kamalaknn @mccannt Just wondering if this problem has resurfaced. I'm having problems clicking on relative links on v8.3.0. First time launching postman and clicking on links in response work but subsequent clicks on links do not work. Resorting to copy/paste in new tab which is time consuming.  Thx

[2021-04-30 19:22] AerionDyseti commented on #9510
Also seeing this issue:

Platform Type: Desktop App
Postman version: 8.3.0
Operating System: Windows 10

[2021-04-30 20:30] jdraths commented on #1066
+100000

[2021-05-01 05:28] aescolastico opened #9899 "Mac App Store version?"
Is there any interest from the developers to release a macOS App Store version? Personally I'd love to see this. Nothing out there can compare to postman.

[2021-05-01 08:40] Wotuu commented on #9750
Thank you. If there's anything I can do please let me know and Ill be happy to help.

[2021-05-01 19:59] odonnell-anthony opened #9900 "Code snippet does not resolve collection variable for examples"
**Describe the Issue**

Generated code snippets do not resolve variables from Collection for examples

**Steps to Reproduce**

1. Set request base URL in collection variables
2. Use variable in request URL
3. Send request and save example
4. Click on example saved
5. Click on </> button to open Code Snippet
6. Base URL variable is not resolved

**Screenshots or Videos**
![image](https://user-image

[2021-05-01 20:52] jakubreron commented on #7607
+1

[2021-05-01 23:37] tibi-extera commented on #4808
Just yesterday I was looking into how to update the body in pre-request scripts. My example is getting data no older than 30 days. This would have to update every day, hence the need to update the request body.

Thank you for adding this feature. Works great. 😁👍🍾🥂